openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems, Inc.
  description: |
    The FactSet Concordance API provides the ability to programmatically look up several types of entities by their name and other attributes. It attempts to match attributes that you supply for the entity and returns as many match candidates as it can find. The result is a "concorded" FactSet Entity Permanent identifier.  The Entity Identifier can then be used as input throughout FactSet's Content soultions, such as Content APIs and Standard DataFeeds.<p> There are types of workflows supported in the API. The first workflow type follows traditional API conventions in that a request is accepted and a response is returned synchronously. The second workflow type involves a background task. With this workflow, a task is created for uploading a set of queries, and then the client polls for the task to complete. Once the task has completed, the client retrieves the concordance results throught the decisions endpoint.</p>
  title: FactSet Concordance API
  version: 1.1.0
servers:
- description: Production Server
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Retrieve a list of Entity Matches and Candidates for up to 25 names.
  name: Entity Match
- description: Submit a file with up to 10,000 entity names and attributes and retrieve
    decisions once mapped.
  name: Entity Match - Bulk
- description: View and Save mappings made of ClientIds and Names to FactSet Entity
    Ids
  name: Manage Mappings
- description: The response is formatted specifically for Snowflake environment and
    not used by consumers outside of Snowflake.
  name: Snowflake
paths:
  /factset-concordance/v1/entity-match:
    get:
      description: |
        Finds the best candidate entities matching the given entity name. Additional attributes can be supplied to narrow the search, such as State, URL, and Entity Types. <p>**Max of 1 Name permitted in a single GET request.** Use the POST method for /entity-match to fetch up to 25 names. Otherwise, use the "Entity Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p> Supported types of Entities in which the names can match to include -
          * Corporations, Joint Ventures, and Holding Companies
          * Fund Managers and various Fund Types (Open-end, Closed End, Hedge, Soverign Wealth, Pension, Exchange Traded, and more).</p>
      operationId: getEntityMatch
      parameters:
      - description: Name of Entity to match.
        example: FactSet
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: |
          A unique identifer supplied by the user. The clientId is recorded to the user's mapped universe.
        example: abc-123
        explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      - description: ISO2 country code corresponding to the entity name that is used
          when evaluating candidates for a match. For a list of ISO2 Country codes,
          visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Two-character state code corresponding to the entity name that
          is used when evaluating candidates for a match. Currently, only US state
          codes are supported.
        example: CT
        explode: true
        in: query
        name: state
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: URL corresponding to the entity name that is used when evaluating
          candidates for a match.
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - description: |
          Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
            |---|---|---|---|
            |ABS|Asset-Backed||MED|Broadcast Call Sign|
            |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
            |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
            |CMD|Commodity||MUT|Mutual Fd-Open End|
            |COL|College/University||NPO|Non-Profit Organization|
            |CUR|Currency||OPD|Operating Division|
            |ESP|Emp Stk Ownership Plan||OTH|Other|
            |EXT|Extinct||PEF|Pension Fund|
            |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
            |FND|Foundation/Endowment||PUB|Public Company|
            |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
            |FRX|ForEx||PVT|Private Company|
            |GOV|Government||SOV|Sovereign Wealth Fund|
            |HED|Hedge Fund||SUB|Subsidiary|
            |HOL|Holding Company||TRU|Trust/Trustee|
            |IDX|Index||UMB|Umbrella Fund|
            |VEN|Venture Capital Fund||JVT|Joint Venture|
        explode: true
        in: query
        name: includeEntityType
        required: false
        schema:
          items:
            example: PUB
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      - description: |
          Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Candidates with an entity type specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
            |---|---|---|---|
          |ABS|Asset-Backed||MED|Broadcast Call Sign|
          |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
          |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
          |CMD|Commodity||MUT|Mutual Fd-Open End|
          |COL|College/University||NPO|Non-Profit Organization|
          |CUR|Currency||OPD|Operating Division|
          |ESP|Emp Stk Ownership Plan||OTH|Other|
          |EXT|Extinct||PEF|Pension Fund|
          |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
          |FND|Foundation/Endowment||PUB|Public Company|
          |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
          |FRX|ForEx||PVT|Private Company|
          |GOV|Government||SOV|Sovereign Wealth Fund|
          |HED|Hedge Fund||SUB|Subsidiary|
          |HOL|Holding Company||TRU|Trust/Trustee|
          |IDX|Index||UMB|Umbrella Fund|
          |VEN|Venture Capital Fund||JVT|Joint Venture|
        explode: true
        in: query
        name: excludeEntityType
        required: false
        schema:
          items:
            example: EXT
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      - description: |
          Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
            |---|---|---|---|
            |AR|Arbitrage|IC|Investment Company|
            |BM|Bank Investment Division|IN|Insurance Company|
            |BR|Broker|MF|Mutual Fund Manager|
            |CP|Corporate|ML|Master Ltd Part|
            |CU|Custodial|MM|Market Maker|
            |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
            |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
            |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
            |FS|Fund Distributor|RE|Research Firm|
            |FU|Fund|SB|Subsidiary Branch|
            |FY|Family Office|ST|Stock Borrowing/Lending|
            |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
            |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
            |IA|Investment Adviser|
            |IB|Investment Banking|
        explode: true
        in: query
        name: includeEntitySubType
        required: false
        schema:
          items:
            example: PR
            maxLength: 2
            minLength: 2
            type: string
          type: array
        style: form
      - description: |
          Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will not be considered for the final match result. Multiple types can be entered separated by commas.
          |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
          |---|---|---|---|
          |AR|Arbitrage|IC|Investment Company|
          |BM|Bank Investment Division|IN|Insurance Company|
          |BR|Broker|MF|Mutual Fund Manager|
          |CP|Corporate|ML|Master Ltd Part|
          |CU|Custodial|MM|Market Maker|
          |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
          |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
          |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
          |FS|Fund Distributor|RE|Research Firm|
          |FU|Fund|SB|Subsidiary Branch|
          |FY|Family Office|ST|Stock Borrowing/Lending|
          |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
          |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
          |IA|Investment Adviser|
          |IB|Investment Banking|
        explode: true
        in: query
        name: excludeEntitySubType
        required: false
        schema:
          items:
            example: HF
            maxLength: 2
            minLength: 2
            type: string
          type: array
        style: form
      - description: Flag to include parent entities in the list of candidates. This
          parameter does not influence the match result.
        explode: true
        in: query
        name: includeParent
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/EntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get Entity Candidates and Matches for a single name and attributes.
      tags:
      - Entity Match
      x-accepts: application/json
    post:
      description: |
        Finds the best candidate entities matching the given entity name. Additional attributes can be supplied to narrow the search, such as State, URL, and Entity Types. <p>**Max of 25 Names inputted.** Use the "Entity Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p> Supported types of Entities in which the names can match to include -
          * Corporations, Joint Ventures, and Holding Companies
          * Fund Managers and various Fund Types (Open-end, Closed End, Hedge, Soverign Wealth, Pension, Exchange Traded, and more).</p>
      operationId: getEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMatchRequest'
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/EntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get a list of Entity Candidates and Matches for a requested list of
        up to 25 names and attributes.
      tags:
      - Entity Match
      x-contentType: application/json;charset=utf-8
      x-accepts: application/json
  /factset-concordance/v1/entity-task:
    post:
      description: |
        Upload a Comma-Separated List file (.csv / UTF-8 encoding) with a list of names and attributes and receive a `taskId`. The taskId is then used for reference in the */entity-task-status* and */entity-decisions* endpoints to receive results once the task is successful. <p> **Number of ids is limited to 10,000 ids per upload file.** </p><p>This is the first step in the overall "Bulk" workflow. Use the /entity-task-status endpoint to check the status.</p>
      operationId: createEntityTask
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                taskName:
                  description: User defined name for the task that will be used to
                    name the output files.
                  example: test31
                  type: string
                inputFile:
                  description: |
                    The UTF-8 encoded CSV File containing the entity names to be concorded to a FactSet Entity Identifier. The files first row **MUST** include headers as defined in the *Column parameters. Be mindful of casing and spacing in column headers. Only 10,001 rows are accepted, including the Header row. The input file is posted as a file object in the form. For this reason, the mime type of this post request must be multipart/form-data.
                  format: binary
                  type: string
                clientIdColumn:
                  description: |
                    Header Name of the column in the input file that contains a unique identifier supplied by the user referred to as a "clientId". This clientId can be used to create custom mappings or references.
                  example: ClientId
                  type: string
                nameColumn:
                  description: |
                    Header name of the column in the input file that contains the Entity Name to be matched.
                  example: NAME
                  type: string
                countryColumn:
                  description: |
                    Header Name of the column in the input file that contains the country's ISO Code. This is used to filter the candidates before taking a match decision.
                  example: COUNTRY
                  type: string
                urlColumn:
                  description: |
                    Header Name of the column in the input file that contains the Entity's URL. URL corresponding to the entity name that is used when evaluating candidates for a match.
                  example: URL
                  type: string
                stateColumn:
                  description: |
                    Header Name of the column in the input file that contains the two letter State Code of the state or province where the Entity is located. Currently, only US state codes are supported.
                  example: STATE
                  type: string
                includeEntityType:
                  description: |
                    Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas. **Do not include within `inputFile`.**
                  items:
                    example: PUB
                    maxLength: 3
                    minLength: 3
                    type: string
                  type: array
                excludeEntityType:
                  description: |
                    Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Entities with these types will be excluded from the decisions.
                    It is a global option used to filter the candidates before taking a match decision.
                    Candidates with an entity type specified will *not* be considered for the final match result.
                    **Do not include within `inputFile`.**
                  items:
                    example: EXT
                    maxLength: 3
                    minLength: 3
                    type: string
                  type: array
                includeEntitySubType:
                  description: |
                    Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas. **Do not include within `inputFile`.**
                  items:
                    example: PR
                    maxLength: 2
                    minLength: 2
                    type: string
                  type: array
                excludeEntitySubType:
                  description: |
                    Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
                    **Do not include within `inputFile`.**
                  items:
                    example: IB
                    maxLength: 2
                    minLength: 2
                    type: string
                  type: array
              required:
              - clientIdColumn
              - inputFile
              - nameColumn
              - taskName
              type: object
        description: Entity Request object. Used to create an Entity Task.
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Pending Task:
                  $ref: '#/components/examples/PendingTask'
              schema:
                $ref: '#/components/schemas/EntityTaskResponse'
          description: OK. The Entity Task creation is submitted.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Input a file with names and attributes, creating a taskId.
      tags:
      - Entity Match - Bulk
      x-contentType: multipart/form-data
      x-accepts: application/json
  /factset-concordance/v1/entity-task-status:
    get:
      description: |
        Pulls the **status** for ALL the Entity Tasks submitted by a client within the last 30 days, and related details such as task duration and decision rates. Specific Tasks can also be retrieved by using the _taskId_ parameter.<p>Status types include -
          * PENDING - The task has not yet started.
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      operationId: getEntityTaskStatus
      parameters:
      - description: Concordance Task Identifier. The taskId is created in response
          from the /entity-task endpoint.
        example: 31589
        explode: true
        in: query
        name: taskId
        required: false
        schema:
          type: integer
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Filter on the status of the Concordance Tasks. Default is no filter.
            * PENDING - The task has not yet started
            * IN_PROGRESS - The task is submitted and decisions are in progress.
            * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
            * FAILURE - The task failed. Reach out to FactSet Support for assistance.
            * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
            * ABORTED - The task was aborted.
        explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - PENDING
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
            - BAD_REQUEST
            - ABORTED
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Successful Entity Task:
                  $ref: '#/components/examples/SuccessfulEntityTasks'
                Pending Task:
                  $ref: '#/components/examples/PendingTasks'
                Bad Task:
                  $ref: '#/components/examples/BadTasks'
                Failed Task:
                  $ref: '#/components/examples/FailedTasks'
              schema:
                $ref: '#/components/schemas/EntityTaskStatusResponse'
          description: Response object for Task Status endpoint.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the status of the requested taskId or all tasks for a User
      tags:
      - Entity Match - Bulk
      x-accepts: application/json
  /factset-concordance/v1/entity-decisions:
    get:
      description: |
        Retrieves the `Decision` objects for an Entity Task (taskId). The decisions do not include all candidates, but rather the status of concording the requested list of names included in the input file. Mapped entities will include a FactSet Entity Identifier (-E).
      operationId: getEntityDecisions
      parameters:
      - description: Concordance Task Identifier. The taskId is created in response
          from the /entity-task endpoint.
        example: 31589
        explode: true
        in: query
        name: taskId
        required: true
        schema:
          type: integer
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Decisions:
                  $ref: '#/components/examples/EntityDecisions'
              schema:
                $ref: '#/components/schemas/EntityDecisionsResponse'
          description: Response object for Entity Decisions endpoint.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get the decisions of matches for the requested taskId.
      tags:
      - Entity Match - Bulk
      x-accepts: application/json
  /factset-concordance/v1/entity-universe:
    get:
      description: |
        Retrieves all entity mappings' history made by the current user, or for a list of clientIds.
      operationId: getEntityUniverse
      parameters:
      - description: |
          Filter by the clientId(s) created by the user in a previous mapping.
        example:
        - abc-123
        - def-456
        explode: false
        in: query
        name: clientId
        required: false
        schema:
          items:
            example: EXT
            type: string
          type: array
        style: form
      - description: |
          Filter by the Entity Decisions that have the specified mapStatus, where -
            * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
            * UNMAPPED - The requested Entity Name is unmapped by FactSet.
            * INDETERMINATE - The requested Entity Name was unable to make a mapping.
        explode: true
        in: query
        name: mapStatus
        required: false
        schema:
          example: MAPPED
          items:
            enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
            type: string
          type: array
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CompanyUniverse:
                  $ref: '#/components/examples/EntityUniverse'
              schema:
                $ref: '#/components/schemas/EntityUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: View Universe for the requesting user.
      tags:
      - Manage Mappings
      x-accepts: application/json
  /factset-concordance/v1/entity-mapping:
    post:
      description: |
        Saves a Concordance Mapping to the client universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and clientName are required.
      operationId: saveEntityMapping
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                EntityResponse:
                  $ref: '#/components/examples/EntityResponse'
              schema:
                $ref: '#/components/schemas/EntityResponse'
          description: Response object for FactSet Concordance Entity.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Saves a single-mapping specified by the client.
      tags:
      - Manage Mappings
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v1/snowflake-entity-match:
    get:
      description: |
        Finds the best candidate entities matching the given entity name. Additional attributes can be supplied to narrow the search. *This endpoint is used natively within Snowflake and is not to be consumed directly by users. Reach out to your FactSet Account team to learn more about Concordance in Snowflake.*
      operationId: getSnowflakeEntityMatch
      parameters:
      - description: Name of Entity to match.
        example: FactSet
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: ISO2 country code corresponding to the entity name that is used
          when evaluating candidates for a match. For a list of ISO2 Country codes,
          visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Two-character state code corresponding to the entity name that
          is used when evaluating candidates for a match. Currently, only US state
          codes are supported.
        example: CT
        explode: true
        in: query
        name: state
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: URL corresponding to the entity name that is used when evaluating
          candidates for a match.
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnowflakeEntityMatchResponse'
          description: Response object for the entity-match object in a snowflake
            friendly response model.
      summary: Perform an entity match and return a snowflake-friendly response. 1
        Name per request.
      tags:
      - Snowflake
      x-accepts: application/json
    post:
      description: |
        Finds the best candidate entities matching the given company name. Additional attributes can be supplied to narrow the search. *This endpoint is used natively within Snowflake and is not to be consumed directly by users. Reach out to your FactSet Account team to learn more about Concordance in Snowflake.*
      operationId: getSnowflakeEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/SnowflakeEntityMatchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnowflakeEntityMatchResponse'
          description: Response object for the entity-match object in a snowflake
            friendly response model.
      summary: Perform an entity search and return a snowflake-friendly response.
        Up to 25 Names per request.
      tags:
      - Snowflake
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    EntityRequests:
      description: Example of a request to find a match for a list of Companies.
      summary: Entity Match Request
      value:
        input:
        - clientId: abc-123
          name: FactSet
          country: US
          state: CT
          url: www.factset.com
        - clientId: def-453
          name: FactSet
          country: DE
        includeEntityType:
        - SUB
        excludeEntityType:
        - PVT
        includeParent: true
    EntityMatches:
      description: Entity Matches
      value:
        data:
        - taskId: null
          rowIndex: 0
          matchFlag: true
          entityId: 0016YD-E
          entityName: FactSet Research Systems, Inc.
          url: www.factset.com
          mapStatus: MAPPED
          similarityScore: 1
          confidenceScore: 1
          countryCode: US
          countryName: United States
          stateProvinceCode: CT
          stateName: Connecticut
          sicCode: 7374
          entityTypeCode: PUB
          entityTypeDescription: Public Company
          entitySubTypeCode: CP
          locationCity: Norwalk
          regionName: North America
          factsetIndustryCode: 3305
          factsetIndustryName: Data Processing Services
          factsetSectorCode: 3300
          factsetSectorName: Technology Services
          parentName: null,
          parentMatchFlag: null
          clientId: abc-123
          clientName: factset
          clientCountry: US
          clientState: CT
          clientUrl: www.factset.com
          nameMatchString: factset
          nameMatchSource: Domain Name
    SuccessfulEntityTasks:
      description: Example of the status of a successful Entity Concordance Task.
      summary: Successful Entity Task
      value:
        data:
        - taskId: 31
          taskName: test
          taskAction: processfile
          status: SUCCESS
          inputFile: test_427608.csv
          clientIdColumn: id
          nameColumn: name
          countryColumn: country
          stateColumn: state
          urlColumn: url
          includeEntityType:
          - PUB
          excludeEntityType: null
          includeEntitySubType:
          - CP
          excludeEntitySubType: null
          hasResult: true
          taskSubmitTime: 2020-12-16T16:22:06Z
          message: null
          inputCount: 4
          mappedCount: 3
          unmappedCount: 1
          indeterminateCount: 0
          processStartTime: 2020-12-16T16:22:09Z
          processDuration: 38.68899
          tryCount: null
          decisionRate: 0.75
          error: null
          errorTitle: null
    PendingTask:
      description: Example of the status of a Task pending input file.
      summary: Status pending input file
      value:
        data:
          taskId: 31
          taskName: test
          taskAction: processfile
          status: PENDING
          inputFile: test_427608.csv
          clientIdColumn: id
          nameColumn: name
          countryColumn: country
          stateColumn: state
          urlColumn: url
          includeEntityType:
          - PUB
          excludeEntityType: null
          includeEntitySubType:
          - CP
          excludeEntitySubType: null
          hasResult: false
          taskSubmitTime: 2020-12-16T16:22:06Z
          message: null
          inputCount: null
          mappedCount: null
          unmappedCount: null
          indeterminateCount: null
          processStartTime: null
          processDuration: null
          tryCount: null
          decisionRate: null
          error: null
          errorTitle: null
    PendingTasks:
      description: Example of the status of a Task pending input file.
      summary: Status pending input file
      value:
        data:
        - taskId: 31
          taskName: test
          taskAction: processfile
          status: PENDING
          inputFile: test_427608.csv
          clientIdColumn: id
          nameColumn: name
          countryColumn: country
          stateColumn: state
          urlColumn: url
          includeEntityType:
          - PUB
          excludeEntityType: null
          includeEntitySubType:
          - CP
          excludeEntitySubType: null
          hasResult: false
          taskSubmitTime: 2020-12-16T16:22:06Z
          message: null
          inputCount: null
          mappedCount: null
          unmappedCount: null
          indeterminateCount: null
          processStartTime: null
          processDuration: null
          tryCount: null
          decisionRate: null
          error: null
          errorTitle: null
    BadTasks:
      description: Example of the status of a Task with a bad request.
      summary: Status for bad request
      value:
        data:
        - taskId: 31
          taskName: test
          taskAction: processfile
          status: BAD_REQUEST
          inputFile: test_427608.csv
          clientIdColumn: id
          nameColumn: name
          countryColumn: country
          stateColumn: state
          urlColumn: url
          includeEntityType:
          - PUB
          excludeEntityType: null
          includeEntitySubType:
          - CP
          excludeEntitySubType: null
          hasResult: false
          taskSubmitTime: 2020-12-17T20:43:42Z
          message: null
          inputCount: null
          mappedCount: null
          unmappedCount: null
          indeterminateCount: null
          processStartTime: 2020-12-17T20:44:00Z
          processDuration: 0
          tryCount: null
          decisionRate: null
          error: The Name column "name", passed as parameter, does not exist in the
            input file.
          errorTitle: Wrong parameter
    FailedTasks:
      description: Example of the status of a Task with a failed request.
      summary: Status for failed request
      value:
        data:
        - taskId: 31
          taskName: test
          taskAction: processfile
          status: FAILURE
          inputFile: test_427608.csv
          clientIdColumn: id
          nameColumn: name
          countryColumn: country
          stateColumn: state
          urlColumn: url
          includeEntityType:
          - PUB
          excludeEntityType: null
          includeEntitySubType:
          - CP
          excludeEntitySubType: null
          hasResult: false
          taskSubmitTime: 2020-12-17T20:43:42Z
          message: null
          inputCount: null
          mappedCount: null
          unmappedCount: null
          indeterminateCount: null
          processStartTime: 2020-12-17T20:44:00Z
          processDuration: 0
          tryCount: null
          decisionRate: null
          error: different refererence used by concordance service
          errorTitle: compute_candidates
    EntityDecisionsFile:
      description: An Entity Concordance Task Decision File.
      value: |
        rowIndex,clientId,requestName,requestCountry,name,requestUrl,entityType,mapStatus,similarityScore,confidenceScore
        0,FDS-US,FactSet,"FactSet Research Systems, Inc.",US,www.factset.com,PUB,MATCHED,1.0,1.0
        1,FDS-DE,FactSet,FactSet GmbH,DE,,SUB,MATCHED,1.0,1.0
    EntityDecisions:
      description: Entity Decisions
      value:
        data:
        - taskId: 427749
          rowIndex: 0
          matchFlag: null
          entityId: 0016YD-E
          entityName: FactSet Research Systems, Inc.
          url: www.factset.com
          mapStatus: MAPPED
          similarityScore: 1
          confidenceScore: 1
          countryCode: US
          countryName: United States
          stateProvinceCode: CT
          stateName: Connecticut
          sicCode: 7374
          entityTypeCode: PUB
          entityTypeDescription: Public Company
          entitySubTypeCode: CP
          locationCity: Norwalk
          regionName: North America
          factsetIndustryCode: 3305
          factsetIndustryName: Data Processing Services
          factsetSectorCode: 3300
          factsetSectorName: Technology Services
          parentName: null,
          parentMatchFlag: null
          clientId: abc-123
          clientName: factset
          clientCountry: US
          clientState: CT
          clientUrl: www.factset.com
          nameMatchString: factset
          nameMatchSource: Domain Name
    NotFound:
      description: 404 - Not Found
      value:
        status: Not Found
        timestamp: 2019-11-01T11:09:41.918Z
        path: /factset-concordance/v1/fakeendpoint
        message: '''/factset-concordance/v1/fake-endpoint'' is not a valid endpoint'
        subErrors: null
    EntityUniverse:
      description: Entity Universe
      value:
        data:
          totalCount: 2
          mappedCount: 2
          indeterminateCount: 0
          unmappedCount: 0
          entities:
          - entityId: 0016YD-E
            entityName: FactSet Research Systems, Inc.
            clientId: abc-123
            clientName: factset
            clientCountry: us
            clientState: ct
            clientUrl: www.factset.com
            createdTime: 2020:09:04T20:14:13.123
            updatedTime: 2020:10:04T20:14:13.123
            mapStatus: MAPPED
          - entityId: 000C7F-E
            entityName: Apple Inc.
            clientId: def-456
            clientName: apple
            clientCountry: us
            clientState: ca
            clientUrl: www.apple.com
            createdTime: 2020:07:04T20:14:13.123
            updatedTime: 2020:08:04T20:14:13.123
            mapStatus: MAPPED
    EntityResponse:
      description: Entity Response
      value:
        data:
          entityId: 00345-E
          entityName: FactSet Inc.
          clientId: abc-123
          clientName: factset
          clientCountry: US
          clientState: CT
          clientUrl: www.factset.com
          createdTime: 2020:09:04T20:14:13.123
          updatedTime: 2020:10:04T20:14:13.123
          mapStatus: MAPPED
    EntityMappingRequest:
      description: Entity Mapping Request
      value:
        clientId: abc-123
        entityId: 0016YD-E
        clientName: FactSet
        clientCountry: US
        clientState: CT
        clientUrl: www.factset.com
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        status: Bad Request
        timestamp: 2020-06-30 13:22:09.053
        path: /factset-concordance/v1/{endpoint}
        message: The parameter 'name' is required and may not be empty.
        subErrors: null
    badRequestInvalidParameters:
      description: This error message occurs when a request parameter is not recognized
        by the service. Please revise your request to include only the parameters
        listed in the specification. Typical errors are spelling mistakes and use
        of improper casing.
      summary: Bad Request - Passing Invalid Parameter
      value:
        status: Bad Request
        timestamp: 2020-07-23 11:03:40.765
        path: /factset-concordance/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
          modify your request to use parameters outlined in the specification for
          this endpoint.'
        subErrors: null
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON. But is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        status: Bad Request
        timestamp: 2020-07-02 11:59:09.649
        path: /factset-concordance/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        complete.
      summary: Bad Request - Read Timeout
      value:
        status: Bad Request
        timestamp: 2020-07-02 16:18:38.949
        path: /factset-concordance/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        status: User Authentication Failed
        timestamp: 2020-07-02 16:08:07.945
        path: /factset-concordance/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint which is
        not authorized to access. The request was a legal request, but the server
        is refusing to respond. Please reach out to FactSet Account Team for assistance
        with authorization.
      summary: Forbidden
      value:
        status: Forbidden
        timestamp: 2020-07-02 17:21:52.197
        path: /factset-concordance/v1/{endpoint}
        message: User is not authorized for the id requested, please reach out to
          FactSet for support
        subErrors: null
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        status: Unsupported Media Type
        timestamp: 2020-07-02 09:42:27.237
        path: /factset-concordance/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are
          application/json.
        subErrors: null
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        status: Internal Server Error
        timestamp: 2020-07-02 09:48:29.18
        path: /factset-concordance/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        status: Internal Server Error
        timestamp: 2020-07-02 10:36:01.944
        path: /factset-concordance/v1/{endpoint}
        message: Unexpected error
        subErrors: null
  parameters:
    name:
      description: Name of Entity to match.
      example: FactSet
      explode: true
      in: query
      name: name
      required: true
      schema:
        type: string
      style: form
    country:
      description: ISO2 country code corresponding to the entity name that is used
        when evaluating candidates for a match. For a list of ISO2 Country codes,
        visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
      example: US
      explode: true
      in: query
      name: country
      required: false
      schema:
        maxLength: 2
        minLength: 2
        type: string
      style: form
    state:
      description: Two-character state code corresponding to the entity name that
        is used when evaluating candidates for a match. Currently, only US state codes
        are supported.
      example: CT
      explode: true
      in: query
      name: state
      required: false
      schema:
        maxLength: 2
        minLength: 2
        type: string
      style: form
    url:
      description: URL corresponding to the entity name that is used when evaluating
        candidates for a match.
      explode: true
      in: query
      name: url
      required: false
      schema:
        type: string
      style: form
    includeEntityType:
      description: |
        Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas.
          |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
          |---|---|---|---|
          |ABS|Asset-Backed||MED|Broadcast Call Sign|
          |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
          |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
          |CMD|Commodity||MUT|Mutual Fd-Open End|
          |COL|College/University||NPO|Non-Profit Organization|
          |CUR|Currency||OPD|Operating Division|
          |ESP|Emp Stk Ownership Plan||OTH|Other|
          |EXT|Extinct||PEF|Pension Fund|
          |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
          |FND|Foundation/Endowment||PUB|Public Company|
          |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
          |FRX|ForEx||PVT|Private Company|
          |GOV|Government||SOV|Sovereign Wealth Fund|
          |HED|Hedge Fund||SUB|Subsidiary|
          |HOL|Holding Company||TRU|Trust/Trustee|
          |IDX|Index||UMB|Umbrella Fund|
          |VEN|Venture Capital Fund||JVT|Joint Venture|
      explode: true
      in: query
      name: includeEntityType
      required: false
      schema:
        items:
          example: PUB
          maxLength: 3
          minLength: 3
          type: string
        type: array
      style: form
    excludeEntityType:
      description: |
        Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Candidates with an entity type specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
          |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
          |---|---|---|---|
        |ABS|Asset-Backed||MED|Broadcast Call Sign|
        |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
        |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
        |CMD|Commodity||MUT|Mutual Fd-Open End|
        |COL|College/University||NPO|Non-Profit Organization|
        |CUR|Currency||OPD|Operating Division|
        |ESP|Emp Stk Ownership Plan||OTH|Other|
        |EXT|Extinct||PEF|Pension Fund|
        |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
        |FND|Foundation/Endowment||PUB|Public Company|
        |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
        |FRX|ForEx||PVT|Private Company|
        |GOV|Government||SOV|Sovereign Wealth Fund|
        |HED|Hedge Fund||SUB|Subsidiary|
        |HOL|Holding Company||TRU|Trust/Trustee|
        |IDX|Index||UMB|Umbrella Fund|
        |VEN|Venture Capital Fund||JVT|Joint Venture|
      explode: true
      in: query
      name: excludeEntityType
      required: false
      schema:
        items:
          example: EXT
          maxLength: 3
          minLength: 3
          type: string
        type: array
      style: form
    includeEntitySubType:
      description: |
        Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas.
          |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
          |---|---|---|---|
          |AR|Arbitrage|IC|Investment Company|
          |BM|Bank Investment Division|IN|Insurance Company|
          |BR|Broker|MF|Mutual Fund Manager|
          |CP|Corporate|ML|Master Ltd Part|
          |CU|Custodial|MM|Market Maker|
          |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
          |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
          |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
          |FS|Fund Distributor|RE|Research Firm|
          |FU|Fund|SB|Subsidiary Branch|
          |FY|Family Office|ST|Stock Borrowing/Lending|
          |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
          |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
          |IA|Investment Adviser|
          |IB|Investment Banking|
      explode: true
      in: query
      name: includeEntitySubType
      required: false
      schema:
        items:
          example: PR
          maxLength: 2
          minLength: 2
          type: string
        type: array
      style: form
    excludeEntitySubType:
      description: |
        Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will not be considered for the final match result. Multiple types can be entered separated by commas.
        |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
        |---|---|---|---|
        |AR|Arbitrage|IC|Investment Company|
        |BM|Bank Investment Division|IN|Insurance Company|
        |BR|Broker|MF|Mutual Fund Manager|
        |CP|Corporate|ML|Master Ltd Part|
        |CU|Custodial|MM|Market Maker|
        |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
        |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
        |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
        |FS|Fund Distributor|RE|Research Firm|
        |FU|Fund|SB|Subsidiary Branch|
        |FY|Family Office|ST|Stock Borrowing/Lending|
        |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
        |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
        |IA|Investment Adviser|
        |IB|Investment Banking|
      explode: true
      in: query
      name: excludeEntitySubType
      required: false
      schema:
        items:
          example: HF
          maxLength: 2
          minLength: 2
          type: string
        type: array
      style: form
    addParent:
      description: Flag to include parent entities in the list of candidates. This
        parameter does not influence the match result.
      explode: true
      in: query
      name: includeParent
      required: false
      schema:
        default: false
        example: false
        type: boolean
      style: form
    taskDecisionId:
      description: Concordance Task Identifier. The taskId is created in response
        from the /entity-task endpoint.
      example: 31589
      explode: true
      in: query
      name: taskId
      required: true
      schema:
        type: integer
      style: form
    taskStatusId:
      description: Concordance Task Identifier. The taskId is created in response
        from the /entity-task endpoint.
      example: 31589
      explode: true
      in: query
      name: taskId
      required: false
      schema:
        type: integer
      style: form
    offset:
      description: Starting row for records to return or rows to skip.
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 0
        type: integer
      style: form
    limit:
      description: Limits the number of records in the response.
      example: 10
      explode: true
      in: query
      name: limit
      required: false
      schema:
        type: integer
      style: form
    status:
      description: |
        Filter on the status of the Concordance Tasks. Default is no filter.
          * PENDING - The task has not yet started
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      explode: false
      in: query
      name: status
      required: false
      schema:
        items:
          enum:
          - PENDING
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          - BAD_REQUEST
          - ABORTED
          type: string
        type: array
      style: form
    mapStatus:
      description: |
        Filter by the Entity Decisions that have the specified mapStatus, where -
          * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
          * UNMAPPED - The requested Entity Name is unmapped by FactSet.
          * INDETERMINATE - The requested Entity Name was unable to make a mapping.
      explode: true
      in: query
      name: mapStatus
      required: false
      schema:
        example: MAPPED
        items:
          enum:
          - MAPPED
          - UNMAPPED
          - INDETERMINATE
          type: string
        type: array
      style: form
    clientIdFilter:
      description: |
        Filter by the clientId(s) created by the user in a previous mapping.
      example:
      - abc-123
      - def-456
      explode: false
      in: query
      name: clientId
      required: false
      schema:
        items:
          example: EXT
          type: string
        type: array
      style: form
    clientId:
      description: |
        A unique identifer supplied by the user. The clientId is recorded to the user's mapped universe.
      example: abc-123
      explode: true
      in: query
      name: clientId
      required: false
      schema:
        type: string
      style: form
  requestBodies:
    EntityMatchRequest:
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/EntityMatchRequest'
      description: A request to match a Entity.
      required: true
    EntityMappingRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityMappingRequest'
      description: A request to create a single mapping.
      required: true
    SnowflakeEntityMatchRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnowflakeEntityMatchRequest'
      description: A request to match an entity name and its attributes within Snowflake.
      required: true
    inline_object:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/inline_object'
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "message" for more details.
    "401":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
    "415":
      content:
        application/json:
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Internal Server Error.
    EntityMatchResponse:
      content:
        application/json;charset=utf-8:
          examples:
            Entity Matches:
              $ref: '#/components/examples/EntityMatches'
          schema:
            $ref: '#/components/schemas/EntityMatchesResponse'
      description: Response containing Entity Match results.
    EntityTaskResponse:
      content:
        application/json;charset=utf-8:
          examples:
            Pending Task:
              $ref: '#/components/examples/PendingTask'
          schema:
            $ref: '#/components/schemas/EntityTaskResponse'
      description: OK. The Entity Task creation is submitted.
    EntityTaskStatusResponse:
      content:
        application/json;charset=utf-8:
          examples:
            Successful Entity Task:
              $ref: '#/components/examples/SuccessfulEntityTasks'
            Pending Task:
              $ref: '#/components/examples/PendingTasks'
            Bad Task:
              $ref: '#/components/examples/BadTasks'
            Failed Task:
              $ref: '#/components/examples/FailedTasks'
          schema:
            $ref: '#/components/schemas/EntityTaskStatusResponse'
      description: Response object for Task Status endpoint.
    EntityDecisionsResponse:
      content:
        application/json;charset=utf-8:
          examples:
            Entity Decisions:
              $ref: '#/components/examples/EntityDecisions'
          schema:
            $ref: '#/components/schemas/EntityDecisionsResponse'
      description: Response object for Entity Decisions endpoint.
    EntityUniverseResponse:
      content:
        application/json:
          examples:
            CompanyUniverse:
              $ref: '#/components/examples/EntityUniverse'
          schema:
            $ref: '#/components/schemas/EntityUniverseResponse'
      description: Response object for FactSet Concordance Universe detail.
    EntityResponse:
      content:
        application/json:
          examples:
            EntityResponse:
              $ref: '#/components/examples/EntityResponse'
          schema:
            $ref: '#/components/schemas/EntityResponse'
      description: Response object for FactSet Concordance Entity.
    ErrorResponse:
      content:
        application/json:
          examples:
            Not Found:
              $ref: '#/components/examples/NotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Error Response
    SnowflakeEntityMatchResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnowflakeEntityMatchResponse'
      description: Response object for the entity-match object in a snowflake friendly
        response model.
  schemas:
    EntityMatchRequest:
      description: Request object for a requesting multiple Entity Matches.
      example:
        input:
        - country: US
          clientId: abc-123
          name: Amazon
          state: CT
          url: www.amazon.com
        - country: US
          clientId: abc-123
          name: Amazon
          state: CT
          url: www.amazon.com
        - country: US
          clientId: abc-123
          name: Amazon
          state: CT
          url: www.amazon.com
        - country: US
          clientId: abc-123
          name: Amazon
          state: CT
          url: www.amazon.com
        - country: US
          clientId: abc-123
          name: Amazon
          state: CT
          url: www.amazon.com
        includeParent: false
        includeEntitySubType:
        - PR
        - PR
        excludeEntitySubType:
        - HF
        - HF
        includeEntityType:
        - PUB
        - PUB
        excludeEntityType:
        - EXT
        - EXT
      properties:
        input:
          items:
            $ref: '#/components/schemas/EntityMatchRequest_input'
          maxItems: 25
          minItems: 1
          type: array
        includeEntityType:
          description: |
            Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas
              |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
              |---|---|---|---|
              |ABS|Asset-Backed||MED|Broadcast Call Sign|
              |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
              |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
              |CMD|Commodity||MUT|Mutual Fd-Open End|
              |COL|College/University||NPO|Non-Profit Organization|
              |CUR|Currency||OPD|Operating Division|
              |ESP|Emp Stk Ownership Plan||OTH|Other|
              |EXT|Extinct||PEF|Pension Fund|
              |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
              |FND|Foundation/Endowment||PUB|Public Company|
              |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
              |FRX|ForEx||PVT|Private Company|
              |GOV|Government||SOV|Sovereign Wealth Fund|
              |HED|Hedge Fund||SUB|Subsidiary|
              |HOL|Holding Company||TRU|Trust/Trustee|
              |IDX|Index||UMB|Umbrella Fund|
              |VEN|Venture Capital Fund||JVT|Joint Venture|
          items:
            example: PUB
            maxLength: 3
            minLength: 3
            type: string
          type: array
        excludeEntityType:
          description: |
            Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Candidates with an entity type specified will not be considered for the final match result. Multiple types can be entered separated by commas.
              |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
              |---|---|---|---|
              |ABS|Asset-Backed||MED|Broadcast Call Sign|
              |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
              |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
              |CMD|Commodity||MUT|Mutual Fd-Open End|
              |COL|College/University||NPO|Non-Profit Organization|
              |CUR|Currency||OPD|Operating Division|
              |ESP|Emp Stk Ownership Plan||OTH|Other|
              |EXT|Extinct||PEF|Pension Fund|
              |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
              |FND|Foundation/Endowment||PUB|Public Company|
              |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
              |FRX|ForEx||PVT|Private Company|
              |GOV|Government||SOV|Sovereign Wealth Fund|
              |HED|Hedge Fund||SUB|Subsidiary|
              |HOL|Holding Company||TRU|Trust/Trustee|
              |IDX|Index||UMB|Umbrella Fund|
              |VEN|Venture Capital Fund||JVT|Joint Venture|
          items:
            example: EXT
            maxLength: 3
            minLength: 3
            type: string
          type: array
        includeEntitySubType:
          description: |
            Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas.
              |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
              |---|---|---|---|
              |AR|Arbitrage|IC|Investment Company|
              |BM|Bank Investment Division|IN|Insurance Company|
              |BR|Broker|MF|Mutual Fund Manager|
              |CP|Corporate|ML|Master Ltd Part|
              |CU|Custodial|MM|Market Maker|
              |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
              |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
              |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
              |FS|Fund Distributor|RE|Research Firm|
              |FU|Fund|SB|Subsidiary Branch|
              |FY|Family Office|ST|Stock Borrowing/Lending|
              |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
              |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
              |IA|Investment Adviser|
              |IB|Investment Banking|
          items:
            example: PR
            maxLength: 2
            minLength: 2
            type: string
          type: array
        excludeEntitySubType:
          description: |
            Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will not be considered for the final match result. Multiple types can be entered separated by commas.
              |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
              |---|---|---|---|
              |AR|Arbitrage|IC|Investment Company|
              |BM|Bank Investment Division|IN|Insurance Company|
              |BR|Broker|MF|Mutual Fund Manager|
              |CP|Corporate|ML|Master Ltd Part|
              |CU|Custodial|MM|Market Maker|
              |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
              |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
              |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
              |FS|Fund Distributor|RE|Research Firm|
              |FU|Fund|SB|Subsidiary Branch|
              |FY|Family Office|ST|Stock Borrowing/Lending|
              |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
              |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
              |IA|Investment Adviser|
              |IB|Investment Banking|
          items:
            example: HF
            maxLength: 2
            minLength: 2
            type: string
          type: array
        includeParent:
          default: false
          description: |
            Flag to include parent entities in the list of candidates. This parameter does not influence the match result.
          type: boolean
      required:
      - input
      title: Entity Match Request
      type: object
    EntityMappingRequest:
      example:
        clientId: FDS-USA
        clientName: FactSet
        clientUrl: www.factset.com
        entityId: 0016YD-E
        clientState: CT
        clientCountry: US
      properties:
        clientId:
          description: A unique identifier supplied by the user. ClientId is saved
            to the user's Concordance universe and will be used as the identifier
            for that entity within the universe.
          example: FDS-USA
          type: string
        entityId:
          description: FactSet Entity Identifier mapped to the submitted entity.
          example: 0016YD-E
          type: string
        clientName:
          description: Name of entity to match.
          example: FactSet
          type: string
        clientCountry:
          description: ISO2 country code corresponding to the Entity name.
          example: US
          maxLength: 2
          minLength: 2
          type: string
        clientState:
          description: ISO Code of State or Province location to map Entity.
          example: CT
          maxLength: 2
          minLength: 2
          type: string
        clientUrl:
          description: URL corresponding to the entity name.
          example: www.factset.com
          type: string
      required:
      - clientId
      - clientName
      type: object
    SnowflakeEntityMatchRequest:
      example:
        data:
        - - 0
          - FactSet
          - US
          - CT
          - www.factset.com
        - - 0
          - FactSet
          - US
          - CT
          - www.factset.com
        - - 0
          - FactSet
          - US
          - CT
          - www.factset.com
        - - 0
          - FactSet
          - US
          - CT
          - www.factset.com
        - - 0
          - FactSet
          - US
          - CT
          - www.factset.com
      properties:
        data:
          description: Array of input rows
          items:
            description: One search row from Snowflake
            example:
            - 0
            - FactSet
            - US
            - CT
            - www.factset.com
            items:
              example: 0
              type: object
            maxItems: 5
            minItems: 5
            type: array
          maxItems: 25
          minItems: 1
          type: array
      required:
      - data
      title: Snowflake Company Match Request
      type: object
    EntityMatchesResponse:
      description: Response object for Entity Matches.
      example:
        data:
        - matchFlag: true
          clientName: factset
          regionName: North America
          factsetIndustryName: Data Processing Services
          factsetSectorName: Technology Services
          nameMatchString: factset
          entityTypeDescription: Public Company
          mapStatus: MAPPED
          similarityScore: 1
          parentMatchFlag: false
          confidenceScore: 1
          entitySubTypeCode: PR
          factsetIndustryCode: "3305"
          stateName: Connecticut
          entityName: FactSet Research Systems, Inc.
          countryCode: US
          nameMatchSource: Domain Name
          clientId: abc-123
          clientUrl: www.factset.com
          entityId: entityId
          url: www.factset.com
          factsetSectorCode: "3300"
          clientCountry: US
          parentName: parentName
          sicCode: "7374"
          entityTypeCode: PUB
          rowIndex: 0
          stateCode: CT
          clientState: CT
          countryName: United States
          taskId: 31
          locationCity: Norwalk
        - matchFlag: true
          clientName: factset
          regionName: North America
          factsetIndustryName: Data Processing Services
          factsetSectorName: Technology Services
          nameMatchString: factset
          entityTypeDescription: Public Company
          mapStatus: MAPPED
          similarityScore: 1
          parentMatchFlag: false
          confidenceScore: 1
          entitySubTypeCode: PR
          factsetIndustryCode: "3305"
          stateName: Connecticut
          entityName: FactSet Research Systems, Inc.
          countryCode: US
          nameMatchSource: Domain Name
          clientId: abc-123
          clientUrl: www.factset.com
          entityId: entityId
          url: www.factset.com
          factsetSectorCode: "3300"
          clientCountry: US
          parentName: parentName
          sicCode: "7374"
          entityTypeCode: PUB
          rowIndex: 0
          stateCode: CT
          clientState: CT
          countryName: United States
          taskId: 31
          locationCity: Norwalk
      properties:
        data:
          description: Candidate list of `Entity Match` objects.
          items:
            $ref: '#/components/schemas/EntityMatch'
          type: array
      title: Entity Matches Response
      type: object
    EntityTaskResponse:
      example:
        data:
          clientIdColumn: ClientId
          countryColumn: Country
          excludeEntityType:
          - EXT
          - EXT
          error: error
          inputFile: test31.csv
          nameColumn: Name
          processStartTime: 2020-07-03T15:12:06.722Z
          includeEntitySubType:
          - PR
          - PR
          errorTitle: errorTitle
          decisionRate: 0.7272727272727273
          mappedCount: 8
          unmappedCount: 2
          indeterminateCount: 1
          excludeEntitySubType:
          - IB
          - IB
          hasResult: true
          message: Waiting for the input file
          taskAction: processfile
          stateColumn: State
          urlColumn: URL
          includeEntityType:
          - PUB
          - PUB
          tryCount: 3
          taskName: test31
          taskSubmitTime: 2020-06-24T22:02:21Z
          processDuration: 1.51603
          taskId: 31
          status: PENDING
          inputCount: 11
      properties:
        data:
          $ref: '#/components/schemas/EntityTaskStatus'
      title: Entity Task Response
      type: object
    EntityTaskStatusResponse:
      example:
        data:
        - clientIdColumn: ClientId
          countryColumn: Country
          excludeEntityType:
          - EXT
          - EXT
          error: error
          inputFile: test31.csv
          nameColumn: Name
          processStartTime: 2020-07-03T15:12:06.722Z
          includeEntitySubType:
          - PR
          - PR
          errorTitle: errorTitle
          decisionRate: 0.7272727272727273
          mappedCount: 8
          unmappedCount: 2
          indeterminateCount: 1
          excludeEntitySubType:
          - IB
          - IB
          hasResult: true
          message: Waiting for the input file
          taskAction: processfile
          stateColumn: State
          urlColumn: URL
          includeEntityType:
          - PUB
          - PUB
          tryCount: 3
          taskName: test31
          taskSubmitTime: 2020-06-24T22:02:21Z
          processDuration: 1.51603
          taskId: 31
          status: PENDING
          inputCount: 11
        - clientIdColumn: ClientId
          countryColumn: Country
          excludeEntityType:
          - EXT
          - EXT
          error: error
          inputFile: test31.csv
          nameColumn: Name
          processStartTime: 2020-07-03T15:12:06.722Z
          includeEntitySubType:
          - PR
          - PR
          errorTitle: errorTitle
          decisionRate: 0.7272727272727273
          mappedCount: 8
          unmappedCount: 2
          indeterminateCount: 1
          excludeEntitySubType:
          - IB
          - IB
          hasResult: true
          message: Waiting for the input file
          taskAction: processfile
          stateColumn: State
          urlColumn: URL
          includeEntityType:
          - PUB
          - PUB
          tryCount: 3
          taskName: test31
          taskSubmitTime: 2020-06-24T22:02:21Z
          processDuration: 1.51603
          taskId: 31
          status: PENDING
          inputCount: 11
      properties:
        data:
[...]
