openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Tick History provides dynamic access to historical tick data for a
    specific security for specific dates or date range.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Tick History
  version: 2.4.1
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-tick-history-api
servers:
- url: https://api.factset.com/tick-history/v2
- url: https://api-sandbox.factset.com/tick-history/v2
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: API provides access to check coverage and retrieve Level 1 historical
    tick data
  name: Level 1
paths:
  /level1/coverage:
    get:
      description: Returns coverage for specified tickers for Level1 Data
      operationId: requestTickHistoryCoverage
      parameters:
      - description: "<P> The requested list of one or more tickers.</p>\n\n The `tickers`\
          \ and `isins`  parameters provide two different ways to specify the identifiers\
          \ for data retrieved. Please enter either the tickers or isins parameter.\n\
          \ \n<P> Maximum 10 tickers per request</p>  \n \n"
        examples:
          oneId:
            summary: One identifier
            value:
            - CBA
          multipleIds:
            summary: Multiple Identifiers
            value:
            - CBA
            - BHP
        explode: false
        in: query
        name: tickers
        required: false
        schema:
          items:
            maxItems: 10
            minItems: 1
            type: string
          type: array
        style: form
      - description: |-
          <p>This parameter is used to filter the results based on the FactSet specific regional or composite exchange code.</p>
          **NOTE**:Does not support multiple factsetExchangeCodes
        example: AUS
        explode: true
        in: query
        name: factsetExchangeCode
        required: false
        schema:
          maxItems: 1
          minItems: 1
          type: string
        style: form
      - description: "<P> Specifies the ISIN of the record. </p>\n\n  Please enter\
          \ either the `tickers` or `isins` parameter. \n  \n<P> Maximum 10 ISINs\
          \ per request.</p>   \n \n"
        examples:
          noId:
            summary: '---'
            value: []
          oneId:
            summary: One identifier
            value:
            - US3030751057
          multipleIds:
            summary: Multiple Identifiers
            value:
            - US3030751057
            - ARDEUT110202
        explode: false
        in: query
        name: isins
        required: false
        schema:
          items:
            maxItems: 10
            minItems: 1
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCoverageResponse'
              schema:
                $ref: '#/components/schemas/CoverageResponse'
          description: Success</p>
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "429":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Too many requests.
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Returns the coverage for the requested ticker/isin along with other
        response fields for Level1 data.
      tags:
      - Level 1
      x-accepts: application/json
  /level1/files/create:
    post:
      description: Data available from 20120101 to previous day.
      operationId: requestTickHistoryLevel1Files
      requestBody:
        content:
          application/json:
            examples:
              US Equity tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfUSTickers'
              ASX  tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfASXTickers'
              LSE tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfLSETickers'
              Tokyo tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfTokyoTickers'
              Swiss tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfSwissTickers'
              Singapore tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfSingaporeTickers'
              HongKong tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfHongKongTickers'
              US Equity tickers for a Regional ISO Code with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfUSTickersReg'
              ASX  tickers for a Regional ISO Code with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfASXTickersReg'
            schema:
              $ref: '#/components/schemas/LeveloneRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                default202ResponseExample:
                  $ref: '#/components/examples/sampleFilesResponse'
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
          description: The Request has been Accepted
          headers:
            Location:
              description: Relative location to poll for status
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "429":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Too many requests.
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Requests the creation of tick-by-tick file
      tags:
      - Level 1
      x-contentType: application/json
      x-accepts: application/json
  /level1/files/status:
    get:
      description: Need to plug-in the id get from /create endpoint into /status endpoint
      operationId: getLevel1FileStatus
      parameters:
      - description: id returned by files create endpoint to poll and collect status
          of the query
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCompletedResponse'
              schema:
                $ref: '#/components/schemas/CompletedResponse'
          description: |2

            The Request has been created and the response has been created.
          headers:
            Location:
              description: Relative location to pick up results.
              example: get?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
                FailedExample:
                  $ref: '#/components/examples/sampleFilesResponseFailed'
                CancelledExample:
                  $ref: '#/components/examples/sampleFilesResponseCancelled'
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
          description: |
            The Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: Relative location to poll for status.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: id not found
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Returns the status of the ID
      tags:
      - Level 1
      x-factset-different-success-responses: true
      x-accepts: application/json
  /level1/files/get:
    get:
      description: Returns the files from tickhistory endpoint
      operationId: getTickHistoryLevel1Files
      parameters:
      - description: id returned by files create endpoint to poll and collect results
          of the query
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per response
          page
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleGetFilesResponse'
              schema:
                $ref: '#/components/schemas/GetFilesResponse'
          description: Success</p> **To download the output file copy the response
            url in a browser**
        "202":
          content:
            application/json:
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
          description: |
            The Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: Relative location to poll for status.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: id not found
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Returns the tick-by-tick data in files requested in the /create endpoint
      tags:
      - Level 1
      x-factset-different-success-responses: true
      x-accepts: application/json
  /level1/files/minute-bars/create:
    post:
      description: 1-minute bars available from 20120101 to previous day. Per request
        able to fetch upto 6 months of data.
      operationId: requestMinutebarsFiles
      requestBody:
        content:
          application/json:
            examples:
              Single ticker for the given period:
                $ref: '#/components/examples/minSingleTicker'
              Multiple tickers  for the given period:
                $ref: '#/components/examples/minMultipleTicker'
            schema:
              $ref: '#/components/schemas/MinRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                default202ResponseExample:
                  $ref: '#/components/examples/sampleFilesResponse'
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
          description: The Request has been Accepted
          headers:
            Location:
              description: Relative location to poll for status
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "429":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Too many requests.
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Requests the creation of Minute bars file
      tags:
      - Level 1
      x-contentType: application/json
      x-accepts: application/json
  /level1/files/minute-bars/status:
    get:
      description: Need to plug-in the id get from /create endpoint into /status endpoint
      operationId: getMinutebarsFileStatus
      parameters:
      - description: id returned by files create endpoint to poll and collect status
          of the query
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCompletedResponse'
              schema:
                $ref: '#/components/schemas/CompletedResponse'
          description: |2

            The Request has been created and the response has been created.
          headers:
            Location:
              description: Relative location to pick up results.
              example: get?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
                FailedExample:
                  $ref: '#/components/examples/sampleFilesResponseFailed'
                CancelledExample:
                  $ref: '#/components/examples/sampleFilesResponseCancelled'
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
          description: |
            The Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: Relative location to poll for status.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: id not found
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Returns the status of the ID
      tags:
      - Level 1
      x-factset-different-success-responses: true
      x-accepts: application/json
  /level1/files/minute-bars/get:
    get:
      description: Returns the files from tickhistory endpoint
      operationId: getMinutebarsFiles
      parameters:
      - description: id returned by files create endpoint to poll and collect results
          of the query
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per response
          page
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleMinGetFilesResponse'
                quotes200ResponseExample:
                  $ref: '#/components/examples/sampleMinGetQuoteFilesResponse'
              schema:
                $ref: '#/components/schemas/GetFilesMinuteResponse'
          description: Success</p> **To download the output file copy the response
            url in a browser**
        "202":
          content:
            application/json:
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
          description: |
            The Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: Relative location to poll for status.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: id not found
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/Status'
          description: Internal Error
      summary: Returns the Minute bars data in files requested in the /create endpoint
      tags:
      - Level 1
      x-factset-different-success-responses: true
      x-accepts: application/json
components:
  examples:
    postBodyOfUSTickers:
      description: Post body request example to fetch details of the US Equity tick
        data for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: US Equity tickers with default all fields for the given period
      value:
        data:
          tickers:
          - IBM
          - F
          - AAPL
          - GOOG
          - TSLA
          factsetExchangeCode: USA
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfUSTickersReg:
      description: Post body request example to fetch details of the US Equity tick
        data for a Regional ISO Code for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: US Equity tickers for a Regional ISO Code with default all fields for
        the given period
      value:
        data:
          tickers:
          - IBM
          - F
          - AAPL
          - GOOG
          - TSLA
          factsetExchangeCode: NYS
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfASXTickers:
      description: Post body request example to fetch details of the AUS tick data
        for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: AUS tickers with default all fields for the given period
      value:
        data:
          tickers:
          - CBA
          - BHP
          factsetExchangeCode: AUS
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfASXTickersReg:
      description: Post body request example to fetch details of the ASX tick data
        for a Regional ISO Code for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: ASX tickers for a Regional ISO Code with default all fields for the
        given period
      value:
        data:
          tickers:
          - CBA
          - BHP
          factsetExchangeCode: ASX
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfLSETickers:
      description: Post body request example to fetch details of the LSE tick data
        for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: LSE tickers with default all fields for the given period
      value:
        data:
          tickers:
          - HSBA
          - VOD
          factsetExchangeCode: LON
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfTokyoTickers:
      description: Post body request example to fetch details of the Tokyo tick data
        for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: Tokyo tickers with default all fields for the given period
      value:
        data:
          tickers:
          - "7203"
          - "4307"
          factsetExchangeCode: TKS
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfSwissTickers:
      description: Post body request example to fetch details of the Swiss tick data
        for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: Swiss tickers with default all fields for the given period
      value:
        data:
          tickers:
          - NESN
          - COTN
          factsetExchangeCode: SWX
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfSingaporeTickers:
      description: Post body request example to fetch details of the Singapore tick
        data for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: Singapore tickers with default all fields for the given period
      value:
        data:
          tickers:
          - J36
          factsetExchangeCode: SES
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    postBodyOfHongKongTickers:
      description: Post body request example to fetch details of the Hong Kong tick
        data for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: Hong Kong tickers with default all fields for the given period
      value:
        data:
          tickers:
          - "700"
          factsetExchangeCode: HKG
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          single: false
    minSingleTicker:
      description: Post body request example to fetch details of the IBM tick data
        for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: Single ticker for the given period
      value:
        data:
          tickers:
          - IBM
          factsetExchangeCode: USA
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          granularity: 1m
          type: trades
    minMultipleTicker:
      description: Post body request example to fetch details of the IBM, F, AAPL,
        GOOG and TSLA tick data for the period 2024-11-01T00:00:00Z to 2024-11-10T23:59:59Z.
      summary: Multiple tickers for the given period
      value:
        data:
          tickers:
          - IBM
          - F
          - AAPL
          - GOOG
          - TSLA
          factsetExchangeCode: USA
          dateTimeRange:
            start: 2024-11-01T00:00:00Z
            end: 2024-11-10T23:59:59Z
          granularity: 1m
          type: trades
    sampleFilesResponse:
      summary: Status Accepted
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: queued
          error: null
    sampleFilesResponseQueued:
      summary: Status Queued
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: queued
          error: null
    sampleFilesResponseExecuting:
      summary: Status Executing
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: executing
          error: null
    sampleFilesResponseFailed:
      summary: Status Failed
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: failed
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: Geeneric Error
            title: 'Not a valid request '
    sampleFilesResponseCancelled:
      summary: Status Cancelled
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: cancelled
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: Error
            title: Request taking long time
    sampleCompletedResponse:
      summary: Status Done
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: created
          error: null
    sampleGetFilesResponse:
      summary: sample Response data for Level1
      value:
        data:
          requestTimestamp: 2020-10-23T03:38:02Z
          updateTimestamp: 2020-10-23T03:41:39Z
          notAuthorizedTickers: []
          invalidTickers: []
          listOfFiles:
          - fileName: data_0_0_0.csv.gz
            url: https://fdss3-structured-data-delivery-tickhistory-prod.s3.amazonaws.com/1908ba22c3d50cf0eb29d4941a15d754/1064084624/data_0_0_0.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VERPYTDXEC%2F20210407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210407T173818Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDvzcjGyFCVYyQANp8yuwa3Wn3pD0qWWxLx4ay4oHW61QIgXf3ULeWuRB2jidoA%2BiY83uRbUT8PvB8enoeKgisQUIYq2AEISxAAGgw5NjYyODIxMTY0MjUiDLuCDb9G45Fsn6HtLCq1AYQPGk8GpzGiRXMiASd%2FayNLEOTkXRvTkjg00DAMPt4GM9%2BmVJyXStFairI5Ru1ZO6%2B4DAHT8H1u2Z2g%2FZfIR8Wozv8NYq992v8PapfgUXfuVeJI%2BLnGFyUstgbIB1BgO18I0JscQWbGIy6FTiGfBgPuxvpN57TAcmHgc1XNbKDGFqgeVwcLIkY62a8zYjbOPP09gzFW2%2FNPCIyKl074r0dAHwmGw21XEoxKyJgNaybEXli4lGAwh9y3gwY64AFxwpKMsSGOx4teikNbdzo8dCDU0rjtxUgCupkqrqOtetRTLrjaxp4%2BfDa5IweJcdTREupEfkEZR8aaHgcWSzd5%2BKk1nUEUe1RoG%2FqzrQ0%2BANY3nX2a%2BKhgI6PLX%2FVEGJtaxtx0fMHO9PU1Szg9Rr%2FRY%2BphK19fHFGGAJc1r%2Fby00MrJFahqIRkwVud8h63dSoOJ%2Fbc0vd3oPzl%2F6GGyRTaAyCsjPTr6lPBXLdrmBkP8TuDyW%2BnTGhX8wJtSp2BxCOxLy7%2BVwGGAPl%2FtBtQdNK7q4tkb2COlYL%2BD9m6w2uNFg%3D%3D&X-Amz-Signature=3d54bc7804a710dbea470007eb9a7b231a9f60544fe44582bab3ae60ab67ca65
        meta:
          pagination:
            total: 256
            isEstimatedTotal: false
    sampleMinGetFilesResponse:
      summary: sample Response data for Minute bars Trades
      value:
        data:
          requestTimestamp: 2020-10-23T03:38:02Z
          updateTimestamp: 2020-10-23T03:41:39Z
          listOfFiles:
          - fileName: data_0_0_0.csv.gz
            url: https://fdss3-structured-data-delivery-tickhistory-prod.s3.amazonaws.com/1908ba22c3d50cf0eb29d4941a15d754/1064084624/data_0_0_0.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VERPYTDXEC%2F20210407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210407T173818Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDvzcjGyFCVYyQANp8yuwa3Wn3pD0qWWxLx4ay4oHW61QIgXf3ULeWuRB2jidoA%2BiY83uRbUT8PvB8enoeKgisQUIYq2AEISxAAGgw5NjYyODIxMTY0MjUiDLuCDb9G45Fsn6HtLCq1AYQPGk8GpzGiRXMiASd%2FayNLEOTkXRvTkjg00DAMPt4GM9%2BmVJyXStFairI5Ru1ZO6%2B4DAHT8H1u2Z2g%2FZfIR8Wozv8NYq992v8PapfgUXfuVeJI%2BLnGFyUstgbIB1BgO18I0JscQWbGIy6FTiGfBgPuxvpN57TAcmHgc1XNbKDGFqgeVwcLIkY62a8zYjbOPP09gzFW2%2FNPCIyKl074r0dAHwmGw21XEoxKyJgNaybEXli4lGAwh9y3gwY64AFxwpKMsSGOx4teikNbdzo8dCDU0rjtxUgCupkqrqOtetRTLrjaxp4%2BfDa5IweJcdTREupEfkEZR8aaHgcWSzd5%2BKk1nUEUe1RoG%2FqzrQ0%2BANY3nX2a%2BKhgI6PLX%2FVEGJtaxtx0fMHO9PU1Szg9Rr%2FRY%2BphK19fHFGGAJc1r%2Fby00MrJFahqIRkwVud8h63dSoOJ%2Fbc0vd3oPzl%2F6GGyRTaAyCsjPTr6lPBXLdrmBkP8TuDyW%2BnTGhX8wJtSp2BxCOxLy7%2BVwGGAPl%2FtBtQdNK7q4tkb2COlYL%2BD9m6w2uNFg%3D%3D&X-Amz-Signature=3d54bc7804a710dbea470007eb9a7b231a9f60544fe44582bab3ae60ab67ca65
        meta:
          pagination:
            total: 256
            isEstimatedTotal: false
    sampleMinGetQuoteFilesResponse:
      summary: sample Response data for Minute bars Quotes
      value:
        data:
          requestTimestamp: 2022-11-23T03:38:02Z
          updateTimestamp: 2022-11-23T03:41:39Z
          listOfFiles:
          - fileName: data_1_0_0.csv.gz
            url: https://fdss3-structured-data-delivery-tickhistory-prod.s3.amazonaws.com/1908ba22c3d50cf0eb29d4941a15d754/1064084624/data_0_0_0.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VERPYTDXEC%2F20210407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210407T173818Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDvzcjGyFCVYyQANp8yuwa3Wn3pD0qWWxLx4ay4oHW61QIgXf3ULeWuRB2jidoA%2BiY83uRbUT8PvB8enoeKgisQUIYq2AEISxAAGgw5NjYyODIxMTY0MjUiDLuCDb9G45Fsn6HtLCq1AYQPGk8GpzGiRXMiASd%2FayNLEOTkXRvTkjg00DAMPt4GM9%2BmVJyXStFairI5Ru1ZO6%2B4DAHT8H1u2Z2g%2FZfIR8Wozv8NYq992v8PapfgUXfuVeJI%2BLnGFyUstgbIB1BgO18I0JscQWbGIy6FTiGfBgPuxvpN57TAcmHgc1XNbKDGFqgeVwcLIkY62a8zYjbOPP09gzFW2%2FNPCIyKl074r0dAHwmGw21XEoxKyJgNaybEXli4lGAwh9y3gwY64AFxwpKMsSGOx4teikNbdzo8dCDU0rjtxUgCupkqrqOtetRTLrjaxp4%2BfDa5IweJcdTREupEfkEZR8aaHgcWSzd5%2BKk1nUEUe1RoG%2FqzrQ0%2BANY3nX2a%2BKhgI6PLX%2FVEGJtaxtx0fMHO9PU1Szg9Rr%2FRY%2BphK19fHFGGAJc1r%2Fby00MrJFahqIRkwVud8h63dSoOJ%2Fbc0vd3oPzl%2F6GGyRTaAyCsjPTr6lPBXLdrmBkP8TuDyW%2BnTGhX8wJtSp2BxCOxLy7%2BVwGGAPl%2FtBtQdNK7q4tkb2COlYL%2BD9m6w2uNFg%3D%3D&X-Amz-Signature=3d54bc7804a710dbea470007eb9a7b231a9f60544fe44582bab3ae60ab67ca65
        meta:
          pagination:
            total: 65
            isEstimatedTotal: false
    sampleCoverageResponse:
      summary: sample Response
      value:
        data:
        - ticker: IBM
          factsetExchangeCode: MUN
          startDate: 2012-01-02
          latestTradeDate: 2023-01-01
          companyName: International Business Machines
          isin: US3030751057
          currency: USD
          lastExchangeCode: "14002"
          lastExchangeName: NYSE - Nasdaq Regional
          primaryTickerExchange: IBM-NYS
        - ticker: IBM
          factsetExchangeCode: CAN
          startDate: 2012-01-02
          latestTradeDate: 2023-01-01
          companyName: International Business Machines
          isin: US3030751057
          currency: EUR
          lastExchangeCode: "257"
          lastExchangeName: Turquoise
          primaryTickerExchange: NOKIA-EUR
    "400Example":
      summary: Sample error Response
      value:
        errors:
        - code: Bad Request
          title: parameterError:['_id'] is not a valid parameter(s)
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "401Example":
      summary: sample error response
      value:
        errors:
        - code: Not Authenticated
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "403Example":
      summary: sample error response
      value:
        errors:
        - code: Forbidden
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "500Example":
      summary: sample error response
      value:
        errors:
        - code: Internal server error
          title: An unexpected error happened
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "429Example":
      summary: sample error response
      value:
        errors:
        - code: Too Many Requests
          title: quantityLimitsExceeded
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "404Example":
      summary: sample error response
      value:
        errors:
        - code: Not Found
          title: id not found
          id: 7af3d86ca5954503b9244f2620fcf5eb
  parameters:
    tickerCoverage:
      description: "<P> The requested list of one or more tickers.</p>\n\n The `tickers`\
        \ and `isins`  parameters provide two different ways to specify the identifiers\
        \ for data retrieved. Please enter either the tickers or isins parameter.\n\
        \ \n<P> Maximum 10 tickers per request</p>  \n \n"
      examples:
        oneId:
          summary: One identifier
          value:
          - CBA
        multipleIds:
          summary: Multiple Identifiers
          value:
          - CBA
          - BHP
      explode: false
      in: query
      name: tickers
      required: false
      schema:
        items:
          maxItems: 10
          minItems: 1
          type: string
        type: array
      style: form
    isoCodeCoverage:
      description: |-
        <p>This parameter is used to filter the results based on the FactSet specific regional or composite exchange code.</p>
        **NOTE**:Does not support multiple factsetExchangeCodes
      example: AUS
      explode: true
      in: query
      name: factsetExchangeCode
      required: false
      schema:
        maxItems: 1
        minItems: 1
        type: string
      style: form
    isin:
      description: "<P> Specifies the ISIN of the record. </p>\n\n  Please enter either\
        \ the `tickers` or `isins` parameter. \n  \n<P> Maximum 10 ISINs per request.</p>\
        \   \n \n"
      examples:
        noId:
          summary: '---'
          value: []
        oneId:
          summary: One identifier
          value:
          - US3030751057
        multipleIds:
          summary: Multiple Identifiers
          value:
          - US3030751057
          - ARDEUT110202
      explode: false
      in: query
      name: isins
      required: false
      schema:
        items:
          maxItems: 10
          minItems: 1
          type: string
        type: array
      style: form
    requestId:
      description: id returned by files create endpoint to poll and collect results
        of the query
      explode: true
      in: query
      name: id
      required: true
      schema:
        type: string
      style: form
    requestIdStatus:
      description: id returned by files create endpoint to poll and collect status
        of the query
      explode: true
      in: query
      name: id
      required: true
      schema:
        type: string
      style: form
    _paginationLimit:
      description: Specifies the maximum number of results to return per response
        page
      explode: true
      in: query
      name: _paginationLimit
      required: false
      schema:
        default: 20
        type: integer
      style: form
    _paginationOffset:
      description: Specifies the starting point for pagination. This parameter is
        used to identify the beginning of next set of results
      explode: true
      in: query
      name: _paginationOffset
      required: false
      schema:
        default: 0
        type: integer
      style: form
  schemas:
    LeveloneRequest:
      description: Level1 request body elements
      example:
        data:
          single: false
          factsetExchangeCode: USA
          dateTimeRange:
            start: 2012-01-01T11:00:00Z
            end: 2012-01-30T11:20:30Z
          fields:
          - ASK
          tickers:
          - FDS
      properties:
        data:
          $ref: '#/components/schemas/Level1RequestBody'
      required:
      - data
      title: Level1 Request Body
      type: object
    Level1RequestBody:
      description: Level1 request body elements
      example:
        single: false
        factsetExchangeCode: USA
        dateTimeRange:
          start: 2012-01-01T11:00:00Z
          end: 2012-01-30T11:20:30Z
        fields:
        - ASK
        tickers:
        - FDS
      properties:
        tickers:
          description: "The requested list of one or more tickers. <p> NOTE: Maximum\
            \ 500 tickers per request.</p>.\n \n"
          example:
          - FDS
          items:
            maxItems: 500
            minItems: 1
            type: string
          type: array
        factsetExchangeCode:
          description: |
            FactSet specific regional or composite exchange code and last exchange code.
            <p> NOTE:Does not support multiple factsetExchangeCodes</p>.
          example: USA
          maxItems: 1
          minItems: 1
          title: factsetExchangeCode
          type: string
        dateTimeRange:
          $ref: '#/components/schemas/DateTimePeriod'
        fields:
          description: |
            Fields for which data is requested
          example:
          - ASK
          items:
            enum:
            - TICKER
            - ISO_CODE
            - DATE
            - TIME
            - MSG_TYPE
            - SEQUENCE
            - PRODUCT
            - BID
            - BID_TIME
            - BID_VOL
            - BID_EXCH
            - ASK
            - ASK_TIME
            - ASK_VOL
            - ASK_EXCH
            - LAST_PRICE
            - LAST_DATE
            - LAST_TIME
            - LAST_VOL
            - LAST_EXCH
            - MID
            - MID_TIME
            - CVOL
            - CCVOL
            - VWAP
            - YIELD_PRICE
            - CURRENT_YIELD
            - TRADE_CONDITION
            - REPORTING_SIDE
            - ASK_YIELD
            - BID_YIELD
            - VENUE
            - BUY_ID
            - MID_YIELD
            - ORDER_CODE
            - SELL_ID
            - ORIG_SEQUENCE
            - SECURITY_TYPE
            - SECURITY_STATUS
            - MSG_BITMASK
            - ORDER_NUM
            - ISO
            - DATE_UTC
            - TIME_UTC
            type: string
          type: array
        single:
          default: false
          description: |
            <p> This parameter only works for smaller date/time requests where the file size is upto 128MB.</P>
            single=true  Returns data in a single file. single=false Returns data in multiple files.
            <p> Note: If parameter is not used it take default value as false and returns data in multiple files.</p>
          type: boolean
      required:
      - dateTimeRange
      - factsetExchangeCode
      - tickers
      title: Level1 Request Body
      type: object
    Tickers:
      description: "The requested list of one or more tickers. <p> NOTE: Maximum 500\
        \ tickers per request.</p>.\n \n"
      example:
      - FDS
      items:
        maxItems: 500
        minItems: 1
        type: string
      type: array
    FactsetExchangeCode:
      description: |
        FactSet specific regional or composite exchange code and last exchange code.
        <p> NOTE:Does not support multiple factsetExchangeCodes</p>.
      example: USA
      maxItems: 1
      minItems: 1
      title: factsetExchangeCode
      type: string
    DateTimeRange:
      $ref: '#/components/schemas/DateTimePeriod'
    DateTimePeriod:
      description: "\nNOTE: \n  \n  - The start and end times are processed as UTC\
        \ time of the factsetExchangeCode provided. Please refer to the **Data Model\
        \ User Guide** for time zone to exchange mappings.\n  \n  - Supports milliseconds,\
        \ YYYY-MM-DDTHH:MM:SS.SSSZ where .SSS represents the milliseconds which is\
        \ optional.\n"
      example:
        start: 2012-01-01T11:00:00Z
        end: 2012-01-30T11:20:30Z
      properties:
        start:
          description: "The date for (or from which) the data is required. Supports\
            \ in YYYY-MM-DDTHH:MM:SSZ format. \n"
          example: 2012-01-01T11:00:00Z
          format: date-time
          type: string
        end:
          description: "The date to which data is required. Supports in YYYY-MM-DDTHH:MM:SSZ\
            \ format. \n"
          example: 2012-01-30T11:20:30Z
          format: date-time
          type: string
      type: object
    Single:
      default: false
      description: |
        <p> This parameter only works for smaller date/time requests where the file size is upto 128MB.</P>
        single=true  Returns data in a single file. single=false Returns data in multiple files.
        <p> Note: If parameter is not used it take default value as false and returns data in multiple files.</p>
      type: boolean
    Fields:
      description: |
        Fields for which data is requested
      example:
      - ASK
      items:
        enum:
        - TICKER
        - ISO_CODE
        - DATE
        - TIME
        - MSG_TYPE
        - SEQUENCE
        - PRODUCT
        - BID
        - BID_TIME
        - BID_VOL
        - BID_EXCH
        - ASK
        - ASK_TIME
        - ASK_VOL
        - ASK_EXCH
        - LAST_PRICE
        - LAST_DATE
        - LAST_TIME
        - LAST_VOL
        - LAST_EXCH
        - MID
        - MID_TIME
        - CVOL
        - CCVOL
        - VWAP
        - YIELD_PRICE
        - CURRENT_YIELD
        - TRADE_CONDITION
        - REPORTING_SIDE
        - ASK_YIELD
        - BID_YIELD
        - VENUE
        - BUY_ID
        - MID_YIELD
        - ORDER_CODE
        - SELL_ID
        - ORIG_SEQUENCE
        - SECURITY_TYPE
        - SECURITY_STATUS
        - MSG_BITMASK
        - ORDER_NUM
        - ISO
        - DATE_UTC
        - TIME_UTC
        type: string
      type: array
    MinRequest:
      description: Level1 Minute bars request body elements
      example:
        data:
          factsetExchangeCode: USA
          dateTimeRange:
            start: 2012-01-01T11:00:00Z
            end: 2012-01-30T11:20:30Z
          tickers:
          - FDS
      properties:
        data:
          $ref: '#/components/schemas/MinutesbarRequestBody'
      required:
      - data
      title: Level1 Minute bars Request Body
      type: object
    MinutesbarRequestBody:
      description: Level1 Minute bars request body elements
      example:
        factsetExchangeCode: USA
        dateTimeRange:
          start: 2012-01-01T11:00:00Z
          end: 2012-01-30T11:20:30Z
        tickers:
        - FDS
      properties:
        tickers:
          description: "The requested list of one or more tickers. <p> NOTE: Maximum\
            \ 500 tickers per request.</p>.\n \n"
          example:
          - FDS
          items:
            maxItems: 500
            minItems: 1
            type: string
          type: array
        factsetExchangeCode:
          description: |
            FactSet specific regional or composite exchange code and last exchange code.
            <p> NOTE:Does not support multiple factsetExchangeCodes</p>.
          example: USA
          maxItems: 1
          minItems: 1
          title: factsetExchangeCode
          type: string
        dateTimeRange:
          $ref: '#/components/schemas/DateTimePeriodMin'
        granularity:
          $ref: '#/components/schemas/Granularity'
        type:
          $ref: '#/components/schemas/Type'
      required:
      - dateTimeRange
      - factsetExchangeCode
      - granularity
      - tickers
      - type
      title: Level1 Minute bars Request Body
      type: object
    Granularity:
      description: |
        This is the grantualrity in which minute bars data is shown. Possible values are 1 Minute (1m)
      enum:
      - 1m
      title: granularity
      type: string
    Type:
      description: |2

        <p>'type=trades' gives  minute bars data calculated from trade data (price and volume)</p> <p>'type=quotes' gives minute bars data calculated from quote data (bid and ask)</p>
      enum:
      - trades
      - quotes
      title: type
      type: string
    DateTimePeriodMin:
      description: "\nNOTE: \n  \n  - The start and end times are processed as UTC\
        \ time of the factsetExchangeCode provided. Please refer to the **Data Model\
        \ User Guide** for time zone to exchange mappings.\n  \n"
      example:
        start: 2012-01-01T11:00:00Z
        end: 2012-01-30T11:20:30Z
      properties:
        start:
          description: "The date for (or from which) the data is required. Supports\
            \ in YYYY-MM-DDTHH:MM:SSZ format. \n"
          example: 2012-01-01T11:00:00Z
          format: date-time
          type: string
        end:
          description: "The date to which data is required. Supports in YYYY-MM-DDTHH:MM:SSZ\
            \ format. \n"
          example: 2012-01-30T11:20:30Z
          format: date-time
          type: string
      required:
      - end
      - start
      type: object
    SubmittedResponse:
      description: Returns Status of the id.
      example:
        data:
          id: id
          error:
            code: GenericError
            id: adb01824-252f-4420-b0c6-35a1e3507ef5
            title: Validation Error
          status: queued
      properties:
        data:
          $ref: '#/components/schemas/StatusOne'
      title: Status Response
      type: object
    StatusOne:
      description: request-files
      example:
        id: id
        error:
          code: GenericError
          id: adb01824-252f-4420-b0c6-35a1e3507ef5
          title: Validation Error
        status: queued
      properties:
        id:
          description: a unique identification for the query requested
          type: string
        status:
          description: The status of the query
          enum:
          - queued
          - executing
          - created
          - failed
          - cancelled
          type: string
        error:
          $ref: '#/components/schemas/ErrorObject'
      type: object
    ErrorObject:
      description: error
      example:
        code: GenericError
        id: adb01824-252f-4420-b0c6-35a1e3507ef5
        title: Validation Error
      nullable: true
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
          type: string
        code:
          description: status
          example: GenericError
          type: string
        title:
          description: The plain text error message
          example: Validation Error
          type: string
      type: object
    CompletedResponse:
      description: Returns status.
      example:
        data:
          id: id
          error:
            code: GenericError
            id: adb01824-252f-4420-b0c6-35a1e3507ef5
            title: Validation Error
          status: queued
      properties:
        data:
          $ref: '#/components/schemas/CheckFiles'
      title: status
      type: object
    CheckFiles:
      description: check-files
      example:
        id: id
        error:
          code: GenericError
          id: adb01824-252f-4420-b0c6-35a1e3507ef5
          title: Validation Error
        status: queued
      properties:
        id:
          description: a unique identification for the query requested
          type: string
        status:
          description: The status of the query
          enum:
          - queued
          - executing
          - created
          - failed
          - cancelled
          type: string
        error:
          $ref: '#/components/schemas/ErrorObject'
      type: object
    CoverageResponse:
      description: Returns coverage for Level1 Data
      example:
        data:
        - ticker: ticker
          latestTradeDate: 2000-01-23
          companyName: companyName
          factsetExchangeCode: factsetExchangeCode
          primaryTickerExchange: primaryTickerExchange
          lastExchangeName: lastExchangeName
          currency: currency
          startDate: 2000-01-23
          isin: isin
          lastExchangeCode: lastExchangeCode
        - ticker: ticker
          latestTradeDate: 2000-01-23
          companyName: companyName
          factsetExchangeCode: factsetExchangeCode
          primaryTickerExchange: primaryTickerExchange
          lastExchangeName: lastExchangeName
          currency: currency
          startDate: 2000-01-23
          isin: isin
          lastExchangeCode: lastExchangeCode
      properties:
        data:
          description: Returns Coverage Response
          items:
            $ref: '#/components/schemas/CoverageTickHistory'
          type: array
      type: object
    CoverageTickHistory:
      description: Returns Coverage Response of the requested ticker with unique isocode
        within a date range
      example:
        ticker: ticker
        latestTradeDate: 2000-01-23
        companyName: companyName
        factsetExchangeCode: factsetExchangeCode
        primaryTickerExchange: primaryTickerExchange
        lastExchangeName: lastExchangeName
        currency: currency
        startDate: 2000-01-23
        isin: isin
        lastExchangeCode: lastExchangeCode
      properties:
        ticker:
          description: a unique ticker given to a company
          type: string
        factsetExchangeCode:
          description: FactSet specific exchange code.
          type: string
        startDate:
          description: 'The date for (or from which) the coverage is required. '
          format: date
          type: string
        latestTradeDate:
          description: This specifies the latest traded date from tick history.
          format: date
          type: string
        companyName:
          description: Name of the firm
          type: string
        isin:
          description: 'returns the ISIN of the requested company '
          type: string
        currency:
          description: Represents 3 digit ISO code for the currency
          type: string
        lastExchangeCode:
          description: the last traded exhange code from tick history
          type: string
        lastExchangeName:
          description: the last traded exchange name from tick history
          type: string
        primaryTickerExchange:
          description: the primary ticker iso
          type: string
      title: Coverage Object
      type: object
    Status:
      description: specifies the error message fields in the response
      properties:
        errors:
          description: An array containing errors
          items:
            $ref: '#/components/schemas/ErrorExample'
          type: array
      type: object
    ErrorExample:
      description: Specifies the fields in the error message
      properties:
        code:
          description: It specifies the unique code
          type: string
        title:
          description: ' Specifies the error message'
          type: string
        id:
          description: Specifies the id
          type: string
      type: object
    GetFilesResponse:
      description: Returns Tick History Files
      example:
        data:
          requestTimestamp: 2000-01-23T04:56:07.000+00:00
          listOfFiles:
          - fileName: fileName
            url: url
          - fileName: fileName
            url: url
          notAuthorizedTickers:
          - notAuthorizedTickers
          - notAuthorizedTickers
          invalidTickers:
          - invalidTickers
          - invalidTickers
          updateTimestamp: 2000-01-23T04:56:07.000+00:00
        meta:
          pagination:
            total: 0
            isEstimatedTotal: true
      properties:
        data:
          $ref: '#/components/schemas/TickData'
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    TickData:
      description: ' Returns Tick History Response.'
      example:
        requestTimestamp: 2000-01-23T04:56:07.000+00:00
        listOfFiles:
        - fileName: fileName
          url: url
        - fileName: fileName
          url: url
        notAuthorizedTickers:
        - notAuthorizedTickers
        - notAuthorizedTickers
        invalidTickers:
        - invalidTickers
        - invalidTickers
        updateTimestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        requestTimestamp:
          description: Timestamp of when request was made
          format: date-time
          type: string
        updateTimestamp:
          description: Timestamp when the file was last updated
          format: date-time
          type: string
        notAuthorizedTickers:
          description: Returns not Authorized Tickers
          items:
            type: string
          type: array
        invalidTickers:
          description: Returns invalid Tickers
          items:
            type: string
          type: array
        listOfFiles:
          description: Contains list of Files
          items:
            $ref: '#/components/schemas/Files'
          type: array
      title: Tick History Object
      type: object
    GetFilesMinuteResponse:
      description: Returns Tick History Files
      example:
        data:
          requestTimestamp: 2000-01-23T04:56:07.000+00:00
          listOfFiles:
          - fileName: fileName
            url: url
          - fileName: fileName
            url: url
          updateTimestamp: 2000-01-23T04:56:07.000+00:00
        meta:
          pagination:
            total: 0
            isEstimatedTotal: true
      properties:
        data:
          $ref: '#/components/schemas/MinTickData'
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    MinTickData:
      description: ' Returns Tick History Response.'
      example:
        requestTimestamp: 2000-01-23T04:56:07.000+00:00
        listOfFiles:
        - fileName: fileName
          url: url
        - fileName: fileName
          url: url
        updateTimestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        requestTimestamp:
          description: Timestamp of when request was made
          format: date-time
          type: string
        updateTimestamp:
          description: Timestamp when the file was last updated
          format: date-time
          type: string
        listOfFiles:
          description: Contains list of Files
          items:
            $ref: '#/components/schemas/FilesOne'
          type: array
      title: Tick History Object
      type: object
    Files:
      description: Array of data objects
      example:
        fileName: fileName
        url: url
      properties:
        fileName:
          description: Name of the file(s) generated for the query requested
          type: string
        url:
          description: |2

            Download link for the TickHistory file with requested parameters
            <p>This download link will expire after 24 hours</p>
          type: string
      title: Files
      type: object
    FilesOne:
      description: Array of data objects
      example:
        fileName: fileName
        url: url
      properties:
        fileName:
          description: Name of the file(s) generated for the query requested
          type: string
        url:
          description: |
            Download link for the TickHistory minute bars file with requested parameters.

            For <b>trades</b>, the downloaded file contains the following fields:
            - isoCode
            - ticker
            - date
            - time
            - tradeOpen
            - tradeHigh
            - tradeLow
            - tradeClose
            - tradeVolume
            - securityType
            - tradeNumber
            - tradeVWAP
            - dateUtc
            - timeUtc

            For <b>quotes</b>, the downloaded file contains the following fields:
            - ticker
            - isoCode
            - date
            - time
            - bidOpenPrc
            - bidClosePrc
            - bidSumVol
            - askOpenPrc
            - askClosePrc
            - askSumVol
            - count
            - medianSpread
            - dateUtc
            - timeUtc

            This download link will expire after 12 hours.
          type: string
      title: Files
      type: object
    Meta:
      description: Array of metadata objects
      example:
        pagination:
          total: 0
          isEstimatedTotal: true
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
      title: Meta
      type: object
    Pagination:
      description: List of pagination objects
      example:
        total: 0
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
        isEstimatedTotal:
          description: Boolean value that represents whether the total count of files
            returned is exact or an estimate. This is defaulted to False as the API
            should always return the exact count
          type: boolean
      title: Pagination
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

