openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |-
    The StreetAccount News API provides access to FactSet's proprietary news provider, StreetAccount. StreetAccount, is a premium real-time market intelligence news service that delivers comprehensive U.S., Canadian, and European coverage (and expanding Asia coverage). All possible sources for corporate news are scanned and key story facts are highlighted and presented in an easy-to-read format.

    **StreetAccount Filters, Headlines, and Views:**

    These endpoints allow for the retrieval of news headlines using filters such as Watchlists/Indices/Tickers, Categories (the equivalent of 'Subjects' within the Workstation), Market Topics, Regions, and Sectors.  Headlines can also be retrieved based on saved views within the Workstation.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: StreetAccount News API
  version: 1.2.1
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
servers:
- description: Production Server
  url: https://api.factset.com/streetaccount/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get flattened or structured filters
  name: Filters
- description: Get headlines for a specified view or specified filters
  name: Headlines
- description: Create, edit and delete views
  name: Views
paths:
  /headlines:
    post:
      description: This endpoint will pull all headlines produced by StreetAccount
        and the full story body will be returned by the data set. Filters can be specified
        via the endpoint below. The attributes field in the request body can be used
        to specify which fields are returned in the response. If attributes are empty
        or not specified, the response does not omit attributes.
      operationId: getStreetAccountHeadlines
      requestBody:
        $ref: '#/components/requestBodies/headlinesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - storyTime: 2022-09-15T06:48:19Z
                      headlines: Sample Headline
                      id: sa_story_3393235
                      primarySymbols:
                      - MAR-US
                      symbols:
                      - MAR-US
                      subjects:
                      - SA_EARNINGS
                      storyBody: Sample Body
                      referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/00.pdf
                      url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_00&_doc_date=20240315&_doc_product=SA
                    meta:
                      requestGuid: 79D8C5700000R
                      pagination:
                        total: 50
                        isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/HeadlinesResponse'
          description: Returns the headlines and associated story information for
            given filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadHeadlinesPostRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve StreetAccount headlines for given filters
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /headlines/view:
    post:
      description: This endpoint allows you to pull all headlines produced by StreetAccount
        for a saved view. The full story body will be returned by the data set. Views
        can be created via the 'Create Views' endpoint.
      operationId: getStreetAccountHeadlinesByView
      requestBody:
        $ref: '#/components/requestBodies/headlinesRequestByView'
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - storyTime: 2022-09-15T06:48:19Z
                      headlines: Sample Headline
                      id: sa_story_3393235
                      primarySymbols:
                      - AAPL-US
                      symbols:
                      - AAPL-US
                      subjects:
                      - SA_EARNINGS
                      storyBody: Sample Body
                      referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/00.pdf
                      url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_00&_doc_date=20240315&_doc_product=SA
                    meta:
                      requestGuid: 79D8C5700085B
                      pagination:
                        total: 50
                        isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/HeadlinesResponse'
          description: Returns the headlines and associated story information for
            given view.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve StreetAccount headlines for given view
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /views:
    get:
      description: This endpoint allows you to pull the full list of StreetAccount
        views that have been previously saved.
      operationId: getStreetAccountViews
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - name: Sample View
                      tickers:
                      - name: Marriott International, Inc. Class A.
                        value: MAR-US
                        type: Equity
                      - name: Audioboom Group plc.
                        value: JE00BJYJFG60
                        type: Equity
                      - name: Innergex Renewable Energy Inc.
                        value: 45790B104
                        type: Equity
                      - name: Fidelity National Information Services, Inc.
                        value: "2769796"
                        type: Equity
                      isPrimary: true
                      categories:
                      - News Media
                      topics:
                      - Market Summaries
                      regions:
                      - North America
                      sectors:
                      - Chemicals - Plastics & Rubber
              schema:
                $ref: '#/components/schemas/Views'
          description: Returns views.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Retrieves StreetAccount search views
      tags:
      - Views
      x-accepts: application/json
  /views/create:
    post:
      description: This endpoint allows you to create a new StreetAccount view. Select
        watchlists/tickers and filters of your choice to create and save a view.
      operationId: createStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      name: SA News View
              schema:
                $ref: '#/components/schemas/CreateViewResponse'
          description: Creates StreetAccount view for the provided filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Creates and saves a StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /views/update:
    post:
      description: This endpoint allows you to edit the criteria used for a previously
        saved StreetAccount view.
      operationId: editStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Edits and saves an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /views/delete:
    post:
      description: This endpoint allows you to delete a previously saved StreetAccount
        view.
      operationId: deleteStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/deleteViewBody'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Deletes an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /quick-alert/create:
    post:
      description: "This endpoint takes in a view name and provides realtime email\
        \ updates on new stories coming in for the view. Only one quick alert can\
        \ be enabled for a view at a time. \n"
      operationId: createQuickAlertForView
      requestBody:
        $ref: '#/components/requestBodies/quickAlertsBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      name: StreetAccount News
              schema:
                $ref: '#/components/schemas/QuickAlertsResponse'
          description: Creates quick-alert for view.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Error
      summary: Creates a quick-alert for given saved view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /quick-alert/delete:
    post:
      description: This endpoint allows you to delete a quick alert from a previously
        saved view.
      operationId: deleteQuickalertView
      requestBody:
        $ref: '#/components/requestBodies/quickAlertsBody'
      responses:
        "204":
          description: Quick alert deleted.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Deletes an existing quick alert for a view.
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /filters:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFilters
      parameters:
      - description: |
          Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        categories:
                        - name: Litigation
                          value:
                          - SA_LITIGATION
                          children:
                          - name: Mergers & Acquisitions
                            value:
                            - SA_FILTERED_MNA
                        topics:
                        - name: ESG Content Summary
                          value:
                          - SA_ESG_US
                          children:
                          - name: Business Model & Innovation
                            value:
                            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
                        regions:
                        - name: Asia Pacific
                          value:
                          - "6"
                          children:
                          - name: South Africa
                            value:
                            - "28"
                        sectors:
                        - name: Conglomerates
                          expanded: true
                          children:
                          - name: Alternative Energy"
                            value:
                            - 108
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
                      flattened:
                        categories:
                        - name: Dividends
                          value:
                          - SA_DIVIDENDS
                        topics:
                        - name: 13F Summary
                          value:
                          - SA_13F_SUMMARY
                        regions:
                        - name: Canada
                          value:
                          - "5"
                        sectors:
                        - name: Chemical Manufacturing
                          value:
                          - 106
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
              schema:
                $ref: '#/components/schemas/FilterResponse'
          description: Returns all filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filters
      tags:
      - Filters
      x-accepts: application/json
  /filters/categories:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersCategories
      parameters:
      - description: |
          Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        categories:
                        - name: Litigation
                          value:
                          - SA_LITIGATION
                          children:
                          - name: Mergers & Acquisitions
                            value:
                            - SA_FILTERED_MNA
                      flattened:
                        categories:
                        - name: Dividends
                          value:
                          - SA_DIVIDENDS
              schema:
                $ref: '#/components/schemas/FilterCategoriesResponse'
          description: Returns StreetAccount categories
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter categories
      tags:
      - Filters
      x-accepts: application/json
  /filters/topics:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersTopics
      parameters:
      - description: |
          Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        topics:
                        - name: ESG Content Summary
                          value:
                          - SA_ESG_US
                          children:
                          - name: Business Model & Innovation
                            value:
                            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
                      flattened:
                        topics:
                        - name: 13F Summary
                          value:
                          - SA_13F_SUMMARY
              schema:
                $ref: '#/components/schemas/FilterTopicResponse'
          description: Returns StreetAccount topics.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter topics
      tags:
      - Filters
      x-accepts: application/json
  /filters/regions:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersRegions
      parameters:
      - description: |
          Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        regions:
                        - name: Asia Pacific
                          value:
                          - "6"
                          children:
                          - name: South Africa
                            value:
                            - "28"
                      flattened:
                        regions:
                        - name: Canada
                          value:
                          - "5"
              schema:
                $ref: '#/components/schemas/FilterRegionsResponse'
          description: Returns StreetAccount regions.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter regions
      tags:
      - Filters
      x-accepts: application/json
  /filters/sectors:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersSectors
      parameters:
      - description: |
          Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        sectors:
                        - name: Conglomerates
                          expanded: true
                          children:
                          - name: Alternative Energy"
                            value:
                            - 108
                      flattened:
                        sectors:
                        - name: Chemical Manufacturing
                          value:
                          - 106
              schema:
                $ref: '#/components/schemas/FilterSectorsResponse'
          description: Returns StreetAccount sectors.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter sectors
      tags:
      - Filters
      x-accepts: application/json
  /filters/watchlists:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersWatchlists
      parameters:
      - description: |
          Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
                      flattened:
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
              schema:
                $ref: '#/components/schemas/FilterWatchlistsResponse'
          description: Returns StreetAccount watchlists.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter watchlists
      tags:
      - Filters
      x-accepts: application/json
components:
  examples:
    predefinedRange:
      summary: Using predefinedRange
      value:
        data:
          tickers:
          - value: MAR-US
            type: Equity
          - value: JE00BJYJFG60
            type: Equity
          - value: 45790B104
            type: Equity
          - value: "2769796"
            type: Equity
          isPrimary: true
          categories:
          - Earnings
          topics:
          - Market Summaries
          regions:
          - North America
          sectors:
          - Financial
          predefinedRange: twoDays
        meta:
          pagination:
            limit: 50
            offset: 0
    searchTime:
      summary: Using searchTime
      value:
        data:
          tickers:
          - value: MAR-US
            type: Equity
          - value: JE00BJYJFG60
            type: Equity
          - value: 45790B104
            type: Equity
          - value: "2769796"
            type: Equity
          isPrimary: true
          categories:
          - Earnings
          topics:
          - Market Summaries
          regions:
          - North America
          sectors:
          - Financial
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 0
    predefinedRangeid:
      summary: Using predefinedRange with view name
      value:
        data:
          name: SA News View
          predefinedRange: twoDays
        meta:
          pagination:
            limit: 50
            offset: 0
    searchTimeid:
      summary: Using searchTime with view name
      value:
        data:
          name: SA News View
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 0
    BadRequest:
      summary: Sample Error Response
      value:
        errors:
        - code: Bad Request
          title: Invalid View Name.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    BadHeadlinesPostRequest:
      summary: Sample Error Response
      value:
        errors:
        - code: Bad Request
          title: Invalid request.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    AuthDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    NotFound:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Found
          title: View Name not found.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    "500Details":
      summary: Sample Error Response
      value:
        errors:
        - code: Internal Server error
          title: An unexpected error happened.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
  parameters:
    attributes:
      description: |
        Specify the type(s) of filters to be returned. Accepted values are `structured` and/or `flattened`. If not specified, all filters are returned.
      explode: false
      in: query
      name: _attributes
      required: false
      schema:
        items:
          enum:
          - structured
          - flattened
          maxLength: 11
          type: string
        maxItems: 2
        type: array
        uniqueItems: true
      style: form
  requestBodies:
    headlinesRequest:
      content:
        application/json:
          examples:
            Using predefinedRange:
              $ref: '#/components/examples/predefinedRange'
            Using searchTime:
              $ref: '#/components/examples/searchTime'
          schema:
            $ref: '#/components/schemas/HeadlinesRequest'
      description: /filters endpoint contains the filters associated with the optional
        parameters in the request body.
    headlinesRequestByView:
      content:
        application/json:
          examples:
            Using predefinedRange with view name:
              $ref: '#/components/examples/predefinedRangeid'
            Using searchTime with view name:
              $ref: '#/components/examples/searchTimeid'
          schema:
            $ref: '#/components/schemas/HeadlinesRequestByView'
      description: View body which needs to be sent with request
    quickAlertsBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuickAlertsBody'
      description: View name to get an alert
    createOrEditViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateOrEditViewBody'
      description: Create or Edit View Body which needs to be sent with request
    deleteViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteViewBody'
      description: Delete View Body which needs to be sent with request
  responses:
    "429":
      description: Limit Exceeded
      headers:
        X-FactSet-Api-RateLimit-Limit:
          description: Number of allowed requests for the time window.
          explode: false
          schema:
            type: string
          style: simple
        X-FactSet-Api-RateLimit-Limit-Remaining:
          description: Number of requests left for the time window.
          explode: false
          schema:
            type: string
          style: simple
        X-FactSet-Api-RateLimit-Limit-Reset:
          description: Number of seconds remaining till rate limit resets.
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    Error:
      description: Object representing an error response.
      properties:
        errors:
          description: An array of error objects.
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
      type: object
    ErrorObject:
      description: An object representing an error.
      properties:
        id:
          description: The unique identifier for the error.
          type: string
        title:
          description: A title or summary of the error.
          type: string
        code:
          description: The error code associated with the error.
          type: string
      type: object
    HeadlinesRequest:
      description: This request object allows you to filter the headlines related
        to specific tickers, categories, regions, topics, sectors, and time range.
      example:
        data:
          sectors:
          - Financial
          - Financial
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
          regions:
          - North America
          - North America
          predefinedRange: today
          isPrimary: true
          topics:
          - Market Summaries
          - Market Summaries
          categories:
          - Earnings
          - Earnings
          tickers:
          - type: Index
            value: SP50
          - type: Index
            value: SP50
        meta:
          pagination:
            offset: 0
            limit: 50
          attributes:
          - headlines
      properties:
        data:
          $ref: '#/components/schemas/HeadlinesRequest_data'
        meta:
          $ref: '#/components/schemas/HeadlinesRequest_meta'
      type: object
    HeadlinesRequestTickersObject:
      description: Elements of headlines request tickers.
      example:
        type: Index
        value: SP50
      properties:
        value:
          description: Supports Ticker-Exchange, ISIN, CUSIP and SEDOL.
          example: SP50
          type: string
        type:
          description: |
            The type of asset associated with the ticker.
          enum:
          - Index
          - ETF
          - Mutual_Fund
          - Portfolios
          - Equity
          - privateCompanies
          - Fixed_Income
          - Holder
          example: Index
          type: string
      type: object
    HeadlinesRequestByView:
      description: Elements of headlines request by view.
      example:
        data:
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
          predefinedRange: today
          name: SA News View
        meta:
          pagination:
            offset: 0
            limit: 50
      properties:
        data:
          $ref: '#/components/schemas/HeadlinesRequestByView_data'
        meta:
          $ref: '#/components/schemas/HeadlinesRequestByView_meta'
      required:
      - data
      type: object
    QuickAlertsBody:
      description: Elements of quick alerts body object.
      example:
        data:
          name: StreetAccount News
      properties:
        data:
          $ref: '#/components/schemas/QuickAlertsBody_data'
      required:
      - data
      type: object
    QuickAlertsResponse:
      description: Elements of quick alerts response object.
      example:
        data:
          name: StreetAccount News
      properties:
        data:
          $ref: '#/components/schemas/QuickAlertsResponse_data'
      type: object
    HeadlinesResponse:
      description: Properties in results objects are based on return values.
      example:
        data:
        - storyTime: 2022-09-15T06:48:19Z
          headlines: Sample Headline
          subjects:
          - SA_EARNINGS
          - SA_EARNINGS
          id: sa_story_3393235
          storyBody: Sample Body
          primarySymbols:
          - AAPL-US
          - AAPL-US
          symbols:
          - AAPL-US
          - AAPL-US
          referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
        - storyTime: 2022-09-15T06:48:19Z
          headlines: Sample Headline
          subjects:
          - SA_EARNINGS
          - SA_EARNINGS
          id: sa_story_3393235
          storyBody: Sample Body
          primarySymbols:
          - AAPL-US
          - AAPL-US
          symbols:
          - AAPL-US
          - AAPL-US
          referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
        meta:
          pagination:
            total: 50
            isEstimatedTotal: false
          requestGuid: requestGuid
      properties:
        data:
          items:
            $ref: '#/components/schemas/SearchResponseArrayObject'
          type: array
        meta:
          $ref: '#/components/schemas/HeadlinesResponse_meta'
      type: object
    SearchResponseArrayObject:
      description: Elements of search response array object.
      example:
        storyTime: 2022-09-15T06:48:19Z
        headlines: Sample Headline
        subjects:
        - SA_EARNINGS
        - SA_EARNINGS
        id: sa_story_3393235
        storyBody: Sample Body
        primarySymbols:
        - AAPL-US
        - AAPL-US
        symbols:
        - AAPL-US
        - AAPL-US
        referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
        url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
      properties:
        storyTime:
          description: The timestamp when the story was published.
          example: 2022-09-15T06:48:19Z
          format: date-time
          type: string
        headlines:
          description: The headline of the story.
          example: Sample Headline
          type: string
        id:
          description: The unique identifier for the story.
          example: sa_story_3393235
          type: string
        primarySymbols:
          items:
            description: The primary symbols associated with the story.
            example: AAPL-US
            type: string
          type: array
        symbols:
          items:
            description: All symbols associated with the story.
            example: AAPL-US
            type: string
          type: array
        subjects:
          items:
            description: The subjects associated with the story.
            example: SA_EARNINGS
            type: string
          type: array
        storyBody:
          description: The sample body of the story.
          example: Sample Body
          type: string
        referenceUris:
          description: The reference URIs associated with the story.
          example: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          type: string
        url:
          description: The URL of the story.
          example: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
          type: string
      type: object
    CreateOrEditViewBody:
      description: Elements of create or edit view body object.
      example:
        data:
          sectors:
          - Financial
          - Financial
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - Market Summaries
          - Market Summaries
          name: SA News View
          categories:
          - Earnings
          - Earnings
          quickAlert: false
          tickers:
          - name: Marriott International, Inc. Class A.
            value: MAR-US
            type: Equity
          - name: Audioboom Group plc.
            value: JE00BJYJFG60
            type: Equity
          - name: Innergex Renewable Energy Inc.
            value: 45790B104
            type: Equity
          - name: Fidelity National Information Services, Inc.
            value: "2769796"
            type: Equity
      properties:
        data:
          $ref: '#/components/schemas/CreateOrEditViewBody_data'
      required:
      - data
      type: object
    DeleteViewBody:
      description: Elements of delete view body object.
      example:
        data:
          name: SA News View
      properties:
        data:
          $ref: '#/components/schemas/DeleteViewBody_data'
      required:
      - data
      type: object
    CreateOrEditViewTickers:
      description: Elements of create or edit view tickers object.
      example:
        name: name
        type: Index
        value: value
      properties:
        name:
          description: name of the ticker
          type: string
        value:
          description: Supports Ticker-Exchange, ISIN, CUSIP and SEDOL.
          type: string
        type:
          description: The type of the asset associated with the ticker.
          enum:
          - Index
          - ETF
          - Mutual_Fund
          - Portfolios
          - Equity
          - privateCompanies
          - Fixed_Income
          - Holder
          type: string
      type: object
    CreateViewResponse:
      description: Properties in object are results of the create or save operation
      example:
        data:
          name: SA News View
      properties:
        data:
          $ref: '#/components/schemas/CreateViewResponse_data'
      type: object
    Views:
      description: StreetAccount views
      example:
        data:
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          name: Sample View
          categories:
          - News Media
          - News Media
          tickers:
          - name: name
            type: Index
            value: value
          - name: name
            type: Index
            value: value
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          name: Sample View
          categories:
          - News Media
          - News Media
          tickers:
          - name: name
            type: Index
            value: value
          - name: name
            type: Index
            value: value
      properties:
        data:
          items:
            $ref: '#/components/schemas/ViewsObject'
          type: array
      type: object
    ViewsObject:
      description: Elements of views object.
      example:
        sectors:
        - Chemicals - Plastics & Rubber
        - Chemicals - Plastics & Rubber
        regions:
        - North America
        - North America
        isPrimary: true
        topics:
        - 'Market Summaries '
        - 'Market Summaries '
        name: Sample View
        categories:
        - News Media
        - News Media
        tickers:
        - name: name
          type: Index
          value: value
        - name: name
          type: Index
          value: value
      properties:
        name:
          description: The name of the view.
          example: Sample View
          type: string
        tickers:
          description: An array of ticker symbols associated with the view.
          items:
            $ref: '#/components/schemas/CreateOrEditViewTickers'
          type: array
        isPrimary:
          description: "If true, stories that match the provided ticker on which the\
            \ ticker is a primary symbol will be returned. Additionally, stories that\
            \ match the other filters specified such as topics or regions will also\
            \ be returned. \n          \n"
          type: boolean
        categories:
          items:
            description: An array of categories associated with the view.
            example: News Media
            type: string
          type: array
        topics:
          items:
            description: An array of topics associated with the view.
            example: 'Market Summaries '
            type: string
          type: array
        regions:
          items:
            description: An array of regions associated with the view.
            example: North America
            type: string
          type: array
        sectors:
          items:
            description: An array of sectors associated with the view.
            example: Chemicals - Plastics & Rubber
            type: string
          type: array
      type: object
    FilterResponse:
      description: Filters Object
      example:
        data:
          flattened:
            sectors:
            - name: name
              value:
              - 6.027456183070403
              - 6.027456183070403
            - name: name
              value:
              - 6.027456183070403
              - 6.027456183070403
            regions:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            topics:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
            categories:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
          structured:
            sectors:
            - expanded: true
              children:
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              name: Conglomerates
              value:
              - 6
              - 6
            - expanded: true
              children:
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              name: Conglomerates
              value:
              - 6
              - 6
            regions:
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: Asia Pacific
              value:
              - value
              - value
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: Asia Pacific
              value:
              - value
              - value
            topics:
            - children:
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            - children:
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
            categories:
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: Litigation
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: Litigation
              value:
              - SA_LITIGATION
              - SA_LITIGATION
      properties:
        data:
          $ref: '#/components/schemas/FilterResponse_data'
      type: object
    FlattenedFilters:
      description: Flattened Filters Object.
      example:
        sectors:
        - name: name
          value:
          - 6.027456183070403
          - 6.027456183070403
        - name: name
          value:
          - 6.027456183070403
          - 6.027456183070403
        regions:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        topics:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
        categories:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
      properties:
        categories:
          items:
            $ref: '#/components/schemas/FlattenedFiltersCategoriesObject'
          type: array
        topics:
          items:
            $ref: '#/components/schemas/FlattenedFiltersTopicsObject'
          type: array
        regions:
          items:
            $ref: '#/components/schemas/FlattenedFiltersRegionsObject'
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/FlattenedFiltersSectorsObject'
          type: array
        watchlists:
          items:
            $ref: '#/components/schemas/FlattenedFiltersWatchlistsObject'
          type: array
      type: object
    FlattenedFiltersCategoriesObject:
      description: |
        Elements of flattened filters categories object.

        '(Note: the value array will always have just one value.)'
      example:
        name: name
        value:
        - value
        - value
      properties:
        name:
          description: The name of the category.
          type: string
        value:
          description: |
            An array containing a single value associated with the category.
          items:
            type: string
          type: array
      type: object
    FlattenedFiltersTopicsObject:
      description: |
        Elements of flattened filters topics object.

        '(Note: the value array will always have just one value.)'
      example:
        name: name
        value:
        - value
        - value
      properties:
        name:
          description: The name of the topic.
          type: string
        value:
          description: An array containing a single value associated with the topic.
          items:
            type: string
          type: array
      type: object
    FlattenedFiltersRegionsObject:
      description: |
        Elements of flattened filters regions object.

        '(Note: the value array will always have just one value.)'
      example:
        name: name
        value:
        - value
        - value
      properties:
        name:
          description: The name of the region.
          type: string
        value:
          description: An array containing a single numeric value associated with
            the region.
          items:
            type: string
          type: array
      type: object
    FlattenedFiltersSectorsObject:
      description: |
        Elements of flattened filters sectors object.

        '(Note: the value array will always have just one value.)'
      example:
        name: name
        value:
        - 6.027456183070403
        - 6.027456183070403
      properties:
        name:
          description: The name of the sector.
          type: string
        value:
          description: |
            An array containing a single numeric value associated with the sector.
          items:
            type: number
          type: array
      type: object
    FlattenedFiltersWatchlistsObject:
      description: Elements of flattened filters watchlists object.
      example:
        name: S&P 500
        type: Index
        value: SP50
      properties:
        name:
          description: The name of the watchlist.
          type: string
        type:
          description: The type of watchlist.
          type: string
        value:
          description: The value associated with the watchlist.
          type: string
      type: object
    StructuredFilters:
      description: Structured Filters Object
      example:
        sectors:
        - expanded: true
          children:
          - name: name
            value:
            - 0.8008281904610115
            - 0.8008281904610115
          - name: name
            value:
            - 0.8008281904610115
            - 0.8008281904610115
          name: Conglomerates
          value:
          - 6
          - 6
        - expanded: true
          children:
          - name: name
            value:
            - 0.8008281904610115
            - 0.8008281904610115
          - name: name
            value:
            - 0.8008281904610115
            - 0.8008281904610115
          name: Conglomerates
          value:
          - 6
          - 6
        regions:
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: Asia Pacific
          value:
          - value
          - value
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: Asia Pacific
          value:
          - value
          - value
        topics:
        - children:
          - children:
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            name: name
          - children:
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            name: name
          name: ESG Content Summary
          value:
          - SA_ESG_US
          - SA_ESG_US
        - children:
          - children:
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            name: name
          - children:
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            name: name
          name: ESG Content Summary
          value:
          - SA_ESG_US
          - SA_ESG_US
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
        categories:
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: Litigation
          value:
          - SA_LITIGATION
          - SA_LITIGATION
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: Litigation
          value:
          - SA_LITIGATION
          - SA_LITIGATION
      properties:
        categories:
          items:
            $ref: '#/components/schemas/StructuredFiltersCategoriesObject'
          type: array
        topics:
          items:
            $ref: '#/components/schemas/StructuredFiltersTopicsObject'
          type: array
        regions:
          items:
            $ref: '#/components/schemas/StructuredFiltersRegionsObject'
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/StructuredFiltersSectorsObject'
          type: array
        watchlists:
          items:
            $ref: '#/components/schemas/StructuredFiltersWatchlistsObject'
          type: array
      type: object
    StructuredFiltersCategoriesObject:
      description: Elements of structured filters categories.
      example:
        children:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        name: Litigation
        value:
        - SA_LITIGATION
        - SA_LITIGATION
      properties:
        name:
          description: The name of the category.
          example: Litigation
          type: string
        value:
          items:
            description: The values associated with the category.
            example: SA_LITIGATION
            type: string
          type: array
        children:
          description: An array of children objects.
          items:
            $ref: '#/components/schemas/StructuredFiltersChildrenObjectCategories'
          type: array
      type: object
    StructuredFiltersChildrenObjectTopics:
      description: Elements of structured filters children topics object.
      example:
        children:
        - children:
          - name: name
            value:
            - SA_LITIGATION
            - SA_LITIGATION
          - name: name
            value:
            - SA_LITIGATION
            - SA_LITIGATION
          name: name
        - children:
          - name: name
            value:
            - SA_LITIGATION
            - SA_LITIGATION
          - name: name
            value:
            - SA_LITIGATION
            - SA_LITIGATION
          name: name
        name: name
      properties:
        name:
          description: The name of the children.
          type: string
        children:
          description: An array of children objects.
          items:
            $ref: '#/components/schemas/StructuredFiltersChildrenObjectTopicsNested'
          type: array
      type: object
    StructuredFiltersChildrenObjectTopicsNested:
      description: Elements of structured filters children topics object.
      example:
        children:
        - name: name
          value:
          - SA_LITIGATION
          - SA_LITIGATION
        - name: name
          value:
          - SA_LITIGATION
          - SA_LITIGATION
        name: name
      properties:
        name:
          description: The name of the children.
          type: string
        children:
          description: An array of children objects.
          items:
            $ref: '#/components/schemas/StructuredFiltersChildrenObjectTopicsNested2'
          type: array
      type: object
    StructuredFiltersChildrenObjectTopicsNested2:
      description: Elements of structured filters children topics object.
      example:
        name: name
        value:
        - SA_LITIGATION
        - SA_LITIGATION
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the category.
            example: SA_LITIGATION
            type: string
          type: array
      type: object
    StructuredFiltersChildrenObjectCategories:
      description: Elements of structured filters children categories object.
      example:
        name: name
        value:
        - value
        - value
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: string
          type: array
      type: object
    StructuredFiltersChildrenObjectRegions:
      description: Elements of structured filters regions children object.
      example:
        name: name
        value:
        - value
        - value
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: string
          type: array
      type: object
    StructuredFiltersChildrenObjectSectors:
      description: Elements of structured filters sectors children object.
      example:
        name: name
        value:
        - 0.8008281904610115
        - 0.8008281904610115
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: number
          type: array
      type: object
    StructuredFiltersTopicsObject:
      description: Elements of structured filters topics object.
      example:
        children:
        - children:
          - children:
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            name: name
          - children:
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            name: name
          name: name
        - children:
          - children:
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            name: name
          - children:
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - name: name
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            name: name
          name: name
        name: ESG Content Summary
        value:
        - SA_ESG_US
        - SA_ESG_US
      properties:
        name:
          description: The name of the topic.
          example: ESG Content Summary
          type: string
        value:
          items:
            description: The values associated with the topic.
            example: SA_ESG_US
            type: string
          type: array
        children:
          description: An array of child objects.
          items:
            $ref: '#/components/schemas/StructuredFiltersChildrenObjectTopics'
          type: array
      required:
      - name
      type: object
    StructuredFiltersRegionsObject:
      description: Elements of structured filters regions object.
      example:
        children:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        name: Asia Pacific
        value:
        - value
        - value
      properties:
        name:
          description: The name of the region.
          example: Asia Pacific
          type: string
        value:
          items:
            description: The values associated with the region
            type: string
          type: array
        children:
          description: An array of children objects.
          items:
            $ref: '#/components/schemas/StructuredFiltersChildrenObjectRegions'
          type: array
      type: object
    StructuredFiltersSectorsObject:
      description: Elements of structured filters sectors object.
      example:
        expanded: true
        children:
        - name: name
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        - name: name
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        name: Conglomerates
        value:
        - 6
        - 6
      properties:
        name:
          description: The name of the sector
          example: Conglomerates
          type: string
        expanded:
          description: It returns the boolean value.
          type: boolean
        children:
          description: An array of child objects representing sectors.
          items:
            $ref: '#/components/schemas/StructuredFiltersChildrenObjectSectors'
          type: array
        value:
          items:
            description: The values associated with the region
            example: 6
            type: number
          type: array
      type: object
    StructuredFiltersWatchlistsObject:
      description: Elements of structured filters watchlists object.
      example:
        name: S&P 500
        type: Index
        value: SP50
      properties:
        name:
          description: The name of the watchlist.
          example: S&P 500
          type: string
        type:
          description: The type of watchlist.
          example: Index
          type: string
        value:
          description: The value associated with the watchlist.
          example: SP50
          type: string
      type: object
    FilterTopicResponse:
      description: Filters Topic Object
      example:
        data:
          flattened:
            topics:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
          structured:
            topics:
            - children:
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            - children:
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              - children:
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                - children:
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  - name: name
                    value:
                    - SA_LITIGATION
                    - SA_LITIGATION
                  name: name
                name: name
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
      properties:
        data:
          $ref: '#/components/schemas/FilterTopicResponse_data'
      type: object
    FlattenedFiltersTopics:
      description: Flattened Filters Topic Object
      example:
        topics:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
      properties:
        topics:
          items:
            $ref: '#/components/schemas/FlattenedFiltersTopicsObject'
          type: array
      type: object
    StructuredFiltersTopics:
      description: Structured Filters Topic Object
      example:
        topics:
        - children:
          - children:
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            name: name
          - children:
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              name: name
            - children:
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
              - name: name
                value:
                - SA_LITIGATION
                - SA_LITIGATION
[...]
