openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |-
    The StreetAccount News API provides access to FactSet's proprietary news provider, StreetAccount. StreetAccount, is a premium real-time market intelligence news service that delivers comprehensive U.S., Canadian, and European coverage (and expanding Asia coverage). All possible sources for corporate news are scanned and key story facts are highlighted and presented in an easy-to-read format.

    **StreetAccount Filters, Headlines, and Views:**

    These endpoints allow for the retrieval of news headlines using filters such as Watchlists/Indices/Tickers, Categories (the equivalent of 'Subjects' within the Workstation), Market Topics, Regions, and Sectors.  Headlines can also be retrieved based on saved views within the Workstation.

     **StreetAccount Historical Stories:**

    These endpoints provide access to historical StreetAccount (SA) news. The API delivers SA stories in XML format based on user-specified date input parameters. Output files are securely available to users through a URL. This API has three endpoints: Create, Status, and Get.

    Please note that this API only supports adhoc requests for historical files and does not support real-time files. If real-time push is required, consider using other methods such as SFTP, QNT account, or Azure Storage. Both historical and real-time Street Account news can be delivered via SFTP, QNT account, or Azure Storage.

    The files delivered contain both metadata and content body, eliminating the need for multiple requests through multiple services to retrieve all the information.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: StreetAccount News API
  version: 1.1.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
servers:
- description: Production Server
  url: https://api.factset.com/streetaccount/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get flattened or structured filters
  name: Filters
- description: Get headlines for a specified view or specified filters
  name: Headlines
- description: Create, edit and delete views
  name: Views
- description: Create, Status and Get files
  name: StreetAccount Historical Stories
paths:
  /headlines:
    post:
      description: This endpoint will pull all headlines produced by StreetAccount
        and the full story body will be returned by the data set. Filters can be specified
        via the endpoint below. The attributes field in the request body can be used
        to specify which fields are returned in the response. If attributes are empty
        or not specified, the response does not omit attributes.
      operationId: getStreetAccountHeadlines
      requestBody:
        $ref: '#/components/requestBodies/headlinesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - storyTime: 2022-09-15T06:48:19Z
                      headlines: Sample Headline
                      id: sa_story_3393235
                      primarySymbols:
                      - AAPL-US
                      symbols:
                      - AAPL-US
                      subjects:
                      - SA_EARNINGS
                      storyBody: Sample Body
                      referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/00.pdf
                      url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_00&_doc_date=20240315&_doc_product=SA
                    meta:
                      requestGuid: 79D8C5700000R
                      pagination:
                        total: 50
                        isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/HeadlinesResponse'
          description: Returns the headlines and associated story information for
            given filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve StreetAccount headlines for given filters
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /headlines/view:
    post:
      description: This endpoint allows you to pull all headlines produced by StreetAccount
        for a saved view. The full story body will be returned by the data set. Views
        can be created via the ‘Create Views’ endpoint.
      operationId: getStreetAccountHeadlinesByView
      requestBody:
        $ref: '#/components/requestBodies/headlinesRequestByView'
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - storyTime: 2022-09-15T06:48:19Z
                      headlines: Sample Headline
                      id: sa_story_3393235
                      primarySymbols:
                      - AAPL-US
                      symbols:
                      - AAPL-US
                      subjects:
                      - SA_EARNINGS
                      storyBody: Sample Body
                      referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/00.pdf
                      url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_00&_doc_date=20240315&_doc_product=SA
                    meta:
                      requestGuid: 79D8C5700085B
                      pagination:
                        total: 50
                        isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/HeadlinesResponse'
          description: Returns the headlines and associated story information for
            given view.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve StreetAccount headlines for given view
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /views:
    get:
      description: This endpoint allows you to pull the full list of StreetAccount
        views that have been previously saved.
      operationId: getStreetAccountViews
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - name: Sample View
                      tickers:
                      - name: Russell 1000
                        value: R.1000
                        type: Index
                      isPrimary: true
                      categories:
                      - News Media
                      topics:
                      - Market Summaries
                      regions:
                      - North America
                      sectors:
                      - Chemicals - Plastics & Rubber
              schema:
                $ref: '#/components/schemas/Views'
          description: Returns views.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Retrieves StreetAccount search views
      tags:
      - Views
      x-accepts: application/json
  /views/create:
    post:
      description: This endpoint allows you to create a new StreetAccount view. Select
        watchlists/tickers and filters of your choice to create and save a view.
      operationId: createStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      name: SA News View
              schema:
                $ref: '#/components/schemas/CreateViewResponse'
          description: Creates StreetAccount view for the provided filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Creates and saves a StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /views/update:
    post:
      description: This endpoint allows you to edit the criteria used for a previously
        saved StreetAccount view.
      operationId: editStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Edits and saves an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /views/delete:
    post:
      description: This endpoint allows you to delete a previously saved StreetAccount
        view.
      operationId: deleteStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/deleteViewBody'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Deletes an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /quick-alert/create:
    post:
      description: "This endpoint takes in a view name and provides realtime email\
        \ updates on new stories coming in for the view. Only one quick alert can\
        \ be enabled for a view at a time. \n"
      operationId: createQuickAlertForView
      requestBody:
        $ref: '#/components/requestBodies/quickAlertsBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      name: StreetAccount News
              schema:
                $ref: '#/components/schemas/QuickAlertsResponse'
          description: Creates quick-alert for view.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Error
      summary: Creates a quick-alert for given saved view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /quick-alert/delete:
    post:
      description: This endpoint allows you to delete a quick alert from a previously
        saved view.
      operationId: deleteQuickalertView
      requestBody:
        $ref: '#/components/requestBodies/quickAlertsBody'
      responses:
        "204":
          description: Quick alert deleted.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Deletes an existing quick alert for a view.
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /filters:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFilters
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        categories:
                        - name: Litigation
                          value:
                          - SA_LITIGATION
                          children:
                          - name: Mergers & Acquisitions
                            value:
                            - SA_FILTERED_MNA
                        topics:
                        - name: ESG Content Summary
                          value:
                          - SA_ESG_US
                          children:
                          - name: Business Model & Innovation
                            value:
                            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
                        regions:
                        - name: Asia Pacific
                          value:
                          - "6"
                          children:
                          - name: South Africa
                            value:
                            - "28"
                        sectors:
                        - name: Conglomerates
                          expanded: true
                          children:
                          - name: Alternative Energy"
                            value:
                            - 108
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
                      flattered:
                        categories:
                        - name: Dividends
                          value:
                          - SA_DIVIDENDS
                        topics:
                        - name: 13F Summary
                          value:
                          - SA_13F_SUMMARY
                        regions:
                        - name: Canada
                          value:
                          - "5"
                        sectors:
                        - name: Chemical Manufacturing
                          value:
                          - 106
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
              schema:
                $ref: '#/components/schemas/FilterResponse'
          description: Returns all filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filters
      tags:
      - Filters
      x-accepts: application/json
  /filters/categories:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersCategories
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter categories. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        categories:
                        - name: Litigation
                          value:
                          - SA_LITIGATION
                          children:
                          - name: Mergers & Acquisitions
                            value:
                            - SA_FILTERED_MNA
                      flattered:
                        categories:
                        - name: Dividends
                          value:
                          - SA_DIVIDENDS
              schema:
                $ref: '#/components/schemas/FilterCategoriesResponse'
          description: Returns StreetAccount categories
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter categories
      tags:
      - Filters
      x-accepts: application/json
  /filters/topics:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersTopics
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter topics. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        topics:
                        - name: ESG Content Summary
                          value:
                          - SA_ESG_US
                          children:
                          - name: Business Model & Innovation
                            value:
                            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
                      flattered:
                        topics:
                        - name: 13F Summary
                          value:
                          - SA_13F_SUMMARY
              schema:
                $ref: '#/components/schemas/FilterTopicResponse'
          description: Returns StreetAccount topics.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter topics
      tags:
      - Filters
      x-accepts: application/json
  /filters/regions:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersRegions
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter Regions. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        regions:
                        - name: Asia Pacific
                          value:
                          - "6"
                          children:
                          - name: South Africa
                            value:
                            - "28"
                      flattered:
                        regions:
                        - name: Canada
                          value:
                          - "5"
              schema:
                $ref: '#/components/schemas/FilterRegionsResponse'
          description: Returns StreetAccount regions.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter regions
      tags:
      - Filters
      x-accepts: application/json
  /filters/sectors:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersSectors
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter Sectors. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        sectors:
                        - name: Conglomerates
                          expanded: true
                          children:
                          - name: Alternative Energy"
                            value:
                            - 108
                      flattered:
                        sectors:
                        - name: Chemical Manufacturing
                          value:
                          - 106
              schema:
                $ref: '#/components/schemas/FilterSectorsResponse'
          description: Returns StreetAccount sectors.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter sectors
      tags:
      - Filters
      x-accepts: application/json
  /filters/watchlists:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersWatchlists
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter Watchlists. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
                      flattered:
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
              schema:
                $ref: '#/components/schemas/FilterWatchlistsResponse'
          description: Returns StreetAccount watchlists.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter watchlists
      tags:
      - Filters
      x-accepts: application/json
  /historical/files/create:
    post:
      description: Data available from past 10 years, 2 years of data can be retrieved
        per API request and an ID is returned.
      operationId: requestFiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFilesRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                default202ResponseExample:
                  $ref: '#/components/examples/acceptedResponseExample'
              schema:
                $ref: '#/components/schemas/acceptedResponse'
          description: |
            The Request has been Accepted.
          headers:
            Location:
              description: Relative location to poll for status
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                default429ResponseExample:
                  $ref: '#/components/examples/429Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Too many requests.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Requests the creation of StreetAccount News Files with historical data.
      tags:
      - StreetAccount Historical Stories
      x-contentType: application/json
      x-accepts: application/json
  /historical/files/status:
    get:
      description: Need to plug-in the ID get from /historical/files/create endpoint
        into /historical/files/status endpoint
      operationId: getStatusData
      parameters:
      - description: ID returned by the /historical/files/create endpoint to know
          the status
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "201":
          content:
            application/json:
              examples:
                default201ResponseExample:
                  $ref: '#/components/examples/submittedResponseExample'
              schema:
                $ref: '#/components/schemas/submittedResponse'
          description: |
            The Request has been Created.
          headers:
            Location:
              description: Relative location to pick up results.
              example: get?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
                FailedExample:
                  $ref: '#/components/examples/sampleFilesResponseFailed'
                CancelledExample:
                  $ref: '#/components/examples/sampleFilesResponseCancelled'
              schema:
                $ref: '#/components/schemas/acceptedResponse'
          description: |
            The Request has been Accepted.
          headers:
            Location:
              description: Relative location to poll for status.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                default404ResponseExample:
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Returns the status of the request
      tags:
      - StreetAccount Historical Stories
      x-factset-different-success-responses: true
      x-accepts: application/json
  /historical/files/get:
    get:
      description: Need to plug-in the ID got from /historical/files/create into /historical/files/status
        endpoint
      operationId: getFilesData
      parameters:
      - description: ID returned by the /historical/files/create endpoint to collect
          the results of the query
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the   beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/200GetFilesExample'
              schema:
                $ref: '#/components/schemas/getfilesResponse'
          description: success
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400ExampleOne'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
          headers:
            Location:
              description: Relative location to poll for status.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                default404ResponseExample:
                  $ref: '#/components/examples/404Example'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Returns the StreetAccount Historical data in files requested in the
        /historical/files/create endpoint.
      tags:
      - StreetAccount Historical Stories
      x-accepts: application/json
components:
  examples:
    predefinedRange:
      summary: Using predefinedRange
      value:
        data:
          tickers:
          - value: SP50
            type: Index
          isPrimary: true
          categories:
          - Earnings
          topics:
          - Market Summaries
          regions:
          - North America
          sectors:
          - Financial
          predefinedRange: twoDays
        meta:
          pagination:
            limit: 50
            offset: 100
    searchTime:
      summary: Using searchTime
      value:
        data:
          tickers:
          - value: SP50
            type: Index
          isPrimary: true
          categories:
          - Earnings
          topics:
          - Market Summaries
          regions:
          - North America
          sectors:
          - Financial
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 100
    predefinedRangeid:
      summary: Using predefinedRange with view name
      value:
        data:
          name: SA News View
          predefinedRange: twoDays
        meta:
          pagination:
            limit: 50
            offset: 100
    searchTimeid:
      summary: Using searchTime with view name
      value:
        data:
          name: SA News View
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 100
    BadRequest:
      summary: Sample Error Response
      value:
        errors:
        - code: Bad Request
          title: Invalid View Name.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    AuthDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    NotFound:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Found
          title: View Name not found.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    "500Details":
      summary: Sample Error Response
      value:
        errors:
        - code: Internal Server error
          title: An unexpected error happened.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    "400Example":
      summary: Sample error Response
      value:
        errors:
        - code: Bad Request
          title: parameterError:['_id'] is not a valid parameter(s)
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "400ExampleOne":
      summary: Sample Error Response
      value:
        errors:
        - code: Bad Request
          title: Please use /historical/files/status endpoint to get the status until
            the resource created.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "403Example":
      summary: sample error response
      value:
        errors:
        - code: Forbidden
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "429Example":
      summary: sample error response
      value:
        errors:
        - code: Too Many Requests
          title: quantityLimitsExceeded
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "404Example":
      summary: sample error response
      value:
        errors:
        - code: Not Found
          title: id not found
          id: 7af3d86ca5954503b9244f2620fcf5eb
    acceptedResponseExample:
      summary: Status Accepted
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: queued
          error: null
    submittedResponseExample:
      summary: Status Done
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: created
          resources:
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 1
            status: created
            error: null
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 2
            status: created
            error: null
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
    sampleFilesResponseQueued:
      summary: Status Queued
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: queued
          resources:
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 1
            status: queued
            error: null
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 2
            status: queued
            error: null
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
    sampleFilesResponseExecuting:
      summary: Status Executing
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: executing
          resources:
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 1
            status: executing
            error: null
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 2
            status: executing
            error: null
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
    sampleFilesResponseFailed:
      summary: Status Failed
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: failed
          resources:
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 1
            status: failed
            error:
              id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
              code: Geeneric Error
              title: 'Not a valid request '
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 2
            status: failed
            error:
              id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
              code: Geeneric Error
              title: 'Not a valid request '
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
    sampleFilesResponseCancelled:
      summary: Status Cancelled
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: cancelled
          resources:
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 1
            status: cancelled
            error:
              id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
              code: Error
              title: Request taking long time
          - id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 2
            status: cancelled
            error:
              id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
              code: Error
              title: Request taking long time
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
    "200GetFilesExample":
      summary: Sample Response
      value:
        data:
        - startDate: 2021-11-21T00:00:00Z
          endDate: 2021-11-28T00:00:00Z
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 1
          url: https://structured-data-delivery-streetaccount/download/get/link
        - startDate: 2021-11-21T00:00:00Z
          endDate: 2021-11-28T00:00:00Z
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786 - 2
          url: https://structured-data-delivery-streetaccount/download/get/link
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
  requestBodies:
    headlinesRequest:
      content:
        application/json:
          examples:
            Using predefinedRange:
              $ref: '#/components/examples/predefinedRange'
            Using searchTime:
              $ref: '#/components/examples/searchTime'
          schema:
            $ref: '#/components/schemas/HeadlinesRequest'
      description: /filters endpoint contains the filters associated with the optional
        parameters in the request body.
    headlinesRequestByView:
      content:
        application/json:
          examples:
            Using predefinedRange with view name:
              $ref: '#/components/examples/predefinedRangeid'
            Using searchTime with view name:
              $ref: '#/components/examples/searchTimeid'
          schema:
            $ref: '#/components/schemas/HeadlinesRequestByView'
      description: View body which needs to be sent with request
    quickAlertsBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuickAlertsBody'
      description: View name to get an alert
    createOrEditViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateOrEditViewBody'
      description: Create or Edit View Body which needs to be sent with request
    deleteViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteViewBody'
      description: Delete View Body which needs to be sent with request
  responses:
    "429":
      description: Limit Exceeded
      headers:
        X-FactSet-Api-RateLimit-Limit:
          description: Number of allowed requests for the time window.
          explode: false
          schema:
            type: string
          style: simple
        X-FactSet-Api-RateLimit-Limit-Remaining:
          description: Number of requests left for the time window.
          explode: false
          schema:
            type: string
          style: simple
        X-FactSet-Api-RateLimit-Limit-Reset:
          description: Number of seconds remaining till rate limit resets.
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    Error:
      description: Object representing an error response.
      properties:
        errors:
          description: An array of error objects.
          items:
            $ref: '#/components/schemas/errorObject'
          type: array
      type: object
    errorObject:
      description: An object representing an error.
      properties:
        id:
          description: The unique identifier for the error.
          type: string
        title:
          description: A title or summary of the error.
          type: string
        code:
          description: The error code associated with the error.
          type: string
      type: object
    createFilesRequest:
      description: create-files request body elements
      properties:
        data:
          $ref: '#/components/schemas/createFilesRequestObject'
      required:
      - data
      title: create-files Request Body
      type: object
    createFilesRequestObject:
      description: create-files request body elements
      properties:
        dateTimeRange:
          $ref: '#/components/schemas/dateTimeRangeObject'
        identifiers:
          description: Returns files for specified CUSIP, SEDOL, ISIN, Entity Identifier,
            Ticker and Regional Ticker. If this parameter is not specified, it will
            return all the files that covered under specified category.
          example:
          - AAPL-US
          - IBM-US
          items:
            maxItems: 500
            minItems: 1
            type: string
          type: array
        category:
          description: "Each category corresponds to AT LEAST 1 output file. Depending\
            \ on the date range provided, each category can produce any number of\
            \ output files. If multiple files are created for one category, the files\
            \ themselves have no specific order. \n\n* companyNewsAll = Company News\
            \ - All Regions\n* companyNewsNA = Company News - North America Region\n\
            * companyNewsEU = Company News -EU Region\n* companyNewsAPAC = Company\
            \ News - APAC Region\n* companyNewsESG = Company News - ESG\n* macroTtnAll\
            \ = Macro and Today's Top News - All Regions\n* macroTtnNA = Macro and\
            \ Today's Top News - North America Region\n* macroTtnEU = Macro and Today's\
            \ Top News - EU Region\n* macroTtnAPAC = Macro and Today's Top News -\
            \ APAC  Region\n* macroTtnESG = Macro and Today's Top News - ESG\n* all\
            \ = Content bundle includes \"Company News - All Regions\", \"Company\
            \ News - ESG\", \"Macro and Today's Top News - All Regions\", and \"Macro\
            \ and Today's Top News - ESG\"\n* macroTtnBanking = Macro and Today's\
            \ Top News -Banking\n* macroTtnConsumer = Macro and Today's Top News -\
            \ Consumer\n* macroTtnEnergy = Macro and Today's Top News - Energy\n*\
            \ macroTtnHealthcare = Macro and Today's Top News - Healthcare\n* macroTtnIndustrials\
            \ = Macro and Today's Top News - Industrials\n* macroTtnInsurance = Macro\
            \ and Today's Top News - Insurance\n* macroTtnMedia =  Macro and Today's\
            \ Top News - Media & Telecom\n* macroTtnMetals = Macro and Today's Top\
            \ News - Metals & Mining\n* macroTtnPower = Macro and Today's Top News\
            \ - Power & Utilities\n* macroTtnRealEstate = Macro and Today's Top News\
            \ - Real Estate\n* macroTtnTech = Macro and Today's Top News -Technology\n\
            * macroTtnAllSectors = Macro and Today's Top News - All Sectors"
          items:
            enum:
            - companyNewsAll
            - companyNewsNA
            - companyNewsEU
            - companyNewsAPAC
            - companyNewsESG
            - macroTtnAll
            - macroTtnNA
            - macroTtnEU
            - macroTtnAPAC
            - macroTtnESG
            - all
            - macroTtnBanking
            - macroTtnConsumer
            - macroTtnEnergy
            - macroTtnHealthcare
            - macroTtnIndustrials
            - macroTtnInsurance
            - macroTtnMedia
            - macroTtnMetals
            - macroTtnPower
            - macroTtnRealEstate
            - macroTtnTech
            - macroTtnAllSectors
            type: string
          type: array
      required:
      - category
      - dateTimeRange
      title: create-files Request Body
      type: object
    dateTimeRange:
      $ref: '#/components/schemas/dateTimeRangeObject'
    dateTimeRangeObject:
      description: Date Range
      properties:
        start:
          description: |
            The date for (or from which) the data is required.
          example: 2012-01-01T12:35:45Z
          format: date-time
          type: string
        end:
          description: |
            The date to which data is required.
          example: 2012-01-30T08:10:30Z
          format: date-time
          type: string
      type: object
    identifiers:
      description: Returns files for specified CUSIP, SEDOL, ISIN, Entity Identifier,
        Ticker and Regional Ticker. If this parameter is not specified, it will return
        all the files that covered under specified category.
      example:
      - AAPL-US
      - IBM-US
      items:
        maxItems: 500
        minItems: 1
        type: string
      type: array
    category:
      description: "Each category corresponds to AT LEAST 1 output file. Depending\
        \ on the date range provided, each category can produce any number of output\
        \ files. If multiple files are created for one category, the files themselves\
        \ have no specific order. \n\n* companyNewsAll = Company News - All Regions\n\
        * companyNewsNA = Company News - North America Region\n* companyNewsEU = Company\
        \ News -EU Region\n* companyNewsAPAC = Company News - APAC Region\n* companyNewsESG\
        \ = Company News - ESG\n* macroTtnAll = Macro and Today's Top News - All Regions\n\
        * macroTtnNA = Macro and Today's Top News - North America Region\n* macroTtnEU\
        \ = Macro and Today's Top News - EU Region\n* macroTtnAPAC = Macro and Today's\
        \ Top News - APAC  Region\n* macroTtnESG = Macro and Today's Top News - ESG\n\
        * all = Content bundle includes \"Company News - All Regions\", \"Company\
        \ News - ESG\", \"Macro and Today's Top News - All Regions\", and \"Macro\
        \ and Today's Top News - ESG\"\n* macroTtnBanking = Macro and Today's Top\
        \ News -Banking\n* macroTtnConsumer = Macro and Today's Top News - Consumer\n\
        * macroTtnEnergy = Macro and Today's Top News - Energy\n* macroTtnHealthcare\
        \ = Macro and Today's Top News - Healthcare\n* macroTtnIndustrials = Macro\
        \ and Today's Top News - Industrials\n* macroTtnInsurance = Macro and Today's\
        \ Top News - Insurance\n* macroTtnMedia =  Macro and Today's Top News - Media\
        \ & Telecom\n* macroTtnMetals = Macro and Today's Top News - Metals & Mining\n\
        * macroTtnPower = Macro and Today's Top News - Power & Utilities\n* macroTtnRealEstate\
        \ = Macro and Today's Top News - Real Estate\n* macroTtnTech = Macro and Today's\
        \ Top News -Technology\n* macroTtnAllSectors = Macro and Today's Top News\
        \ - All Sectors"
      items:
        enum:
        - companyNewsAll
        - companyNewsNA
        - companyNewsEU
        - companyNewsAPAC
        - companyNewsESG
        - macroTtnAll
        - macroTtnNA
        - macroTtnEU
        - macroTtnAPAC
        - macroTtnESG
        - all
        - macroTtnBanking
        - macroTtnConsumer
        - macroTtnEnergy
        - macroTtnHealthcare
        - macroTtnIndustrials
        - macroTtnInsurance
        - macroTtnMedia
        - macroTtnMetals
        - macroTtnPower
        - macroTtnRealEstate
        - macroTtnTech
        - macroTtnAllSectors
        type: string
      type: array
    acceptedResponse:
      description: Returns Status of the id.
      example:
        data:
          resources:
          - '{}'
          - '{}'
          id: id
          status: queued
        meta:
          pagination:
            total: 0
            isEstimatedTotal: true
      properties:
        data:
          $ref: '#/components/schemas/StatusOne'
        meta:
          $ref: '#/components/schemas/metaOne'
      title: Status Response
      type: object
    StatusOne:
      description: request-files
      example:
        resources:
        - '{}'
        - '{}'
        id: id
        status: queued
      properties:
        id:
          description: a unique identification for the query requested
          type: string
        status:
          description: The status of the query
          enum:
          - queued
          - executing
          - created
          - failed
          - cancelled
          type: string
        resources:
          items:
            properties:
              id:
                description: a unique identification for the batch
                type: string
              status:
                description: The status of the batch
                type: string
              error:
                $ref: '#/components/schemas/202ErrorObject'
          type: array
      type: object
    "202ErrorObject":
      description: error
      nullable: true
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
        code:
          description: status
          type: string
        title:
          description: The plain text error message
          type: string
      type: object
    submittedResponse:
      description: Returns Status of the id.
      example:
        data:
          resources:
          - '{}'
          - '{}'
          id: id
          status: queued
        meta:
          pagination:
            total: 0
            isEstimatedTotal: true
      properties:
        data:
          $ref: '#/components/schemas/StatusOne'
        meta:
          $ref: '#/components/schemas/metaOne'
      title: Status Response
      type: object
    metaOne:
      description: Array of metadata objects
      example:
        pagination:
          total: 0
          isEstimatedTotal: true
      properties:
        pagination:
          $ref: '#/components/schemas/paginationOne'
      title: Meta
      type: object
    paginationOne:
      description: List of pagination objects
      example:
        total: 0
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
        isEstimatedTotal:
          description: Boolean value that represents whether the total count of files
            returned is exact or an estimate. This is defaulted to False. as the API
            should always return the exact count
          type: boolean
      title: PaginationItems
      type: object
    getfilesResponse:
      example:
        data:
        - endDate: 2000-01-23T04:56:07.000+00:00
          id: id
          startDate: 2000-01-23T04:56:07.000+00:00
          url: url
        - endDate: 2000-01-23T04:56:07.000+00:00
          id: id
          startDate: 2000-01-23T04:56:07.000+00:00
          url: url
        meta:
          pagination:
            total: 0
            isEstimatedTotal: true
      properties:
        data:
          items:
            $ref: '#/components/schemas/getfiles'
          type: array
        meta:
          $ref: '#/components/schemas/metaOne'
      type: object
    getfiles:
      example:
        endDate: 2000-01-23T04:56:07.000+00:00
        id: id
        startDate: 2000-01-23T04:56:07.000+00:00
        url: url
      properties:
        startDate:
          description: The startDate from which the data is required in YYYY-MM-DDTHH:MM:SSZ
            format
          format: date-time
          type: string
        endDate:
          description: The endDate until which the data is fetched in YYYY-MM-DDTHH:MM:SSZ
            format
          format: date-time
          type: string
        id:
          description: Unique id to get the xml files for the requested date
          type: string
        url:
          description: Link to download the zip file which contains xml files
          type: string
      type: object
    HeadlinesRequest:
      description: This request object allows you to filter the headlines related
        to specific tickers, categories, regions, topics, sectors, and time range.
      example:
        data:
          sectors:
          - Financial
          - Financial
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
          regions:
          - North America
          - North America
          predefinedRange: today
          isPrimary: true
          topics:
          - Market Summaries
          - Market Summaries
          categories:
          - Earnings
          - Earnings
          tickers:
          - type: Index
            value: SP50
          - type: Index
            value: SP50
        meta:
          pagination:
            offset: 100
            limit: 50
          attributes:
          - headlines
      properties:
        data:
          $ref: '#/components/schemas/HeadlinesRequest_data'
        meta:
          $ref: '#/components/schemas/HeadlinesRequest_meta'
      type: object
    HeadlinesRequestTickersObject:
      description: Elements of headlines request tickers.
      example:
        type: Index
        value: SP50
      properties:
        value:
          description: The ticker symbol. It also supports an listing and regional
            suffix (ex:AAPL-US)
          example: SP50
          type: string
        type:
          description: |
            The type of asset associated with the ticker.
          enum:
          - Index
          - ETF
          - Mutual_Fund
          - Portfolios
          - Equity
          - privateCompanies
          - Fixed_Income
          example: Index
          type: string
      type: object
    HeadlinesRequestByView:
      description: Elements of headlines request by view.
      example:
        data:
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
          predefinedRange: today
          name: SA News View
        meta:
          pagination:
            offset: 100
            limit: 50
      properties:
        data:
          $ref: '#/components/schemas/HeadlinesRequestByView_data'
        meta:
          $ref: '#/components/schemas/HeadlinesRequestByView_meta'
      type: object
    QuickAlertsBody:
      description: Elements of quick alerts body object.
      example:
        data:
          name: StreetAccount News
      properties:
        data:
          $ref: '#/components/schemas/QuickAlertsBody_data'
      type: object
    QuickAlertsResponse:
      description: Elements of quick alerts response object.
      example:
        data:
          name: StreetAccount News
      properties:
        data:
          $ref: '#/components/schemas/QuickAlertsBody_data'
      type: object
    HeadlinesResponse:
      description: Properties in results objects are based on return values.
      example:
        data:
        - storyTime: 2022-09-15T06:48:19Z
          headlines: Sample Headline
          subjects:
          - SA_EARNINGS
          - SA_EARNINGS
          id: sa_story_3393235
          storyBody: Sample Body
          primarySymbols:
          - AAPL-US
          - AAPL-US
          symbols:
          - AAPL-US
          - AAPL-US
          referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
        - storyTime: 2022-09-15T06:48:19Z
          headlines: Sample Headline
          subjects:
          - SA_EARNINGS
          - SA_EARNINGS
          id: sa_story_3393235
          storyBody: Sample Body
          primarySymbols:
          - AAPL-US
          - AAPL-US
          symbols:
          - AAPL-US
          - AAPL-US
          referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
        meta:
          pagination:
            total: 50
            isEstimatedTotal: false
          requestGuid: requestGuid
      properties:
        data:
          items:
            $ref: '#/components/schemas/searchResponseArrayObject'
          type: array
        meta:
          $ref: '#/components/schemas/HeadlinesResponse_meta'
      type: object
    searchResponseArrayObject:
      description: Elements of search response array object.
      example:
        storyTime: 2022-09-15T06:48:19Z
        headlines: Sample Headline
        subjects:
        - SA_EARNINGS
        - SA_EARNINGS
        id: sa_story_3393235
        storyBody: Sample Body
        primarySymbols:
        - AAPL-US
        - AAPL-US
        symbols:
        - AAPL-US
        - AAPL-US
        referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
        url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
      properties:
        storyTime:
          description: The timestamp when the story was published.
          example: 2022-09-15T06:48:19Z
          format: date-time
          type: string
        headlines:
          description: The headline of the story.
          example: Sample Headline
          type: string
        id:
          description: The unique identifier for the story.
          example: sa_story_3393235
          type: string
        primarySymbols:
          items:
            description: The primary symbols associated with the story.
            example: AAPL-US
            type: string
          type: array
        symbols:
          items:
            description: All symbols associated with the story.
            example: AAPL-US
            type: string
          type: array
        subjects:
          items:
            description: The subjects associated with the story.
            example: SA_EARNINGS
            type: string
          type: array
        storyBody:
          description: The sample body of the story.
          example: Sample Body
          type: string
        referenceUris:
          description: The reference URIs associated with the story.
          example: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          type: string
        url:
          description: The URL of the story.
          example: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
          type: string
      type: object
    CreateOrEditViewBody:
      description: Elements of create or edit view body object.
      example:
        data:
          sectors:
          - Financial
          - Financial
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - Market Summaries
          - Market Summaries
          name: SA News View
          categories:
          - Earnings
          - Earnings
          quickAlert: false
          tickers:
          - name: Russell 1000
            type: Index
            value: R.1000
          - name: Russell 1000
            type: Index
            value: R.1000
      properties:
        data:
          $ref: '#/components/schemas/CreateOrEditViewBody_data'
      type: object
    DeleteViewBody:
      description: Elements of delete view body object.
      example:
        data:
          name: SA News View
      properties:
        data:
          $ref: '#/components/schemas/DeleteViewBody_data'
      type: object
    createOrEditViewTickers:
      description: Elements of create or edit view tickers object.
      example:
        name: Russell 1000
        type: Index
        value: R.1000
      properties:
        name:
          description: name of the ticker
          example: Russell 1000
          type: string
        value:
          description: The ticker symbol
          example: R.1000
          type: string
        type:
          description: The type of the asset associated with the ticker.
          enum:
          - Index
          - ETF
          - Holder
          - Mutual_Fund
          - Portfolios
          example: Index
          type: string
      type: object
    CreateViewResponse:
      description: Properties in object are results of the create or save operation
      example:
        data:
          name: SA News View
      properties:
        data:
          $ref: '#/components/schemas/CreateViewResponse_data'
      type: object
    Views:
      description: StreetAccount views
      example:
        data:
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          name: Sample View
          categories:
          - News Media
          - News Media
          tickers:
          - name: Russell 1000
            type: Index
            value: R.1000
          - name: Russell 1000
            type: Index
            value: R.1000
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          name: Sample View
          categories:
          - News Media
          - News Media
          tickers:
          - name: Russell 1000
            type: Index
            value: R.1000
          - name: Russell 1000
            type: Index
            value: R.1000
      properties:
        data:
          items:
            $ref: '#/components/schemas/viewsObject'
          type: array
      type: object
    viewsObject:
      description: Elements of views object.
      example:
        sectors:
        - Chemicals - Plastics & Rubber
        - Chemicals - Plastics & Rubber
        regions:
        - North America
        - North America
        isPrimary: true
        topics:
        - 'Market Summaries '
        - 'Market Summaries '
        name: Sample View
        categories:
        - News Media
        - News Media
        tickers:
        - name: Russell 1000
          type: Index
          value: R.1000
        - name: Russell 1000
          type: Index
          value: R.1000
      properties:
        name:
          description: The name of the view.
          example: Sample View
          type: string
        tickers:
          description: An array of ticker symbols associated with the view.
          items:
            $ref: '#/components/schemas/createOrEditViewTickers'
          type: array
        isPrimary:
          description: "If true, then only stories with the provided ticker as a primary\
            \ symbol will be returned. Otherwise, all stories with the ticker as a\
            \ primary symbol or related symbol will be returned.\n          \n"
          type: boolean
        categories:
          items:
            description: An array of categories associated with the view.
            example: News Media
            type: string
          type: array
        topics:
          items:
            description: An array of topics associated with the view.
            example: 'Market Summaries '
            type: string
          type: array
        regions:
          items:
            description: An array of regions associated with the view.
            example: North America
            type: string
          type: array
        sectors:
          items:
            description: An array of sectors associated with the view.
            example: Chemicals - Plastics & Rubber
            type: string
          type: array
      type: object
    FilterResponse:
      description: Filters Object
      example:
        data:
          flattened:
            sectors:
            - name: name
              value:
              - 6.027456183070403
              - 6.027456183070403
            - name: name
              value:
              - 6.027456183070403
              - 6.027456183070403
            regions:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            topics:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
            categories:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
          structured:
            sectors:
            - expanded: true
              children:
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              name: Conglomerates
              value:
              - 6
              - 6
            - expanded: true
              children:
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              - name: name
                value:
                - 0.8008281904610115
                - 0.8008281904610115
              name: Conglomerates
              value:
              - 6
              - 6
            regions:
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: Asia Pacific
              value:
              - value
              - value
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: Asia Pacific
              value:
              - value
              - value
            topics:
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: ESG Content Summary
              value:
[...]
