openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |-
    The StreetAccount News API provides access to FactSet's proprietary news provider, StreetAccount. StreetAccount, is a premium real-time market intelligence news service that delivers comprehensive U.S., Canadian, and European coverage (and expanding Asia coverage). All possible sources for corporate news are scanned and key story facts are highlighted and presented in an easy-to-read format.

    **StreetAccount Filters, Headlines, and Views:**

    These endpoints allow for the retrieval of news headlines using filters such as Watchlists/Indices/Tickers, Categories (the equivalent of 'Subjects' within the Workstation), Market Topics, Regions, and Sectors.  Headlines can also be retrieved based on saved views within the Workstation.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: StreetAccount News API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
servers:
- description: Production Server
  url: https://api.factset.com/streetaccount/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get flattened or structured filters
  name: Filters
- description: Get headlines for a specified view or specified filters
  name: Headlines
- description: Create, edit and delete views
  name: Views
paths:
  /headlines:
    post:
      description: This endpoint will pull all headlines produced by StreetAccount
        and the full story body will be returned by the data set. Filters can be specified
        via the endpoint below. The attributes field in the request body can be used
        to specify which fields are returned in the response. If attributes are empty
        or not specified, the response does not omit attributes.
      operationId: getStreetAccountHeadlines
      requestBody:
        $ref: '#/components/requestBodies/headlinesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - storyTime: 2022-09-15T06:48:19Z
                      headlines: Sample Headline
                      id: sa_story_3393235
                      primarySymbols:
                      - AAPL-US
                      symbols:
                      - AAPL-US
                      subjects:
                      - SA_EARNINGS
                      storyBody: Sample Body
                      referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/00.pdf
                      url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_00&_doc_date=20240315&_doc_product=SA
                    meta:
                      requestGuid: 79D8C5700000R
                      pagination:
                        total: 50
                        isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/HeadlinesResponse'
          description: Returns the headlines and associated story information for
            given filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve StreetAccount headlines for given filters
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /headlines/view:
    post:
      description: This endpoint allows you to pull all headlines produced by StreetAccount
        for a saved view. The full story body will be returned by the data set. Views
        can be created via the ‘Create Views’ endpoint.
      operationId: getStreetAccountHeadlinesByView
      requestBody:
        $ref: '#/components/requestBodies/headlinesRequestByView'
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - storyTime: 2022-09-15T06:48:19Z
                      headlines: Sample Headline
                      id: sa_story_3393235
                      primarySymbols:
                      - AAPL-US
                      symbols:
                      - AAPL-US
                      subjects:
                      - SA_EARNINGS
                      storyBody: Sample Body
                      referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/00.pdf
                      url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_00&_doc_date=20240315&_doc_product=SA
                    meta:
                      requestGuid: 79D8C5700085B
                      pagination:
                        total: 50
                        isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/HeadlinesResponse'
          description: Returns the headlines and associated story information for
            given view.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve StreetAccount headlines for given view
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /views:
    get:
      description: This endpoint allows you to pull the full list of StreetAccount
        views that have been previously saved.
      operationId: getStreetAccountViews
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                    - name: Sample View
                      tickers:
                      - name: Russell 1000
                        value: R.1000
                        type: Index
                      isPrimary: true
                      categories:
                      - News Media
                      topics:
                      - Market Summaries
                      regions:
                      - North America
                      sectors:
                      - Chemicals - Plastics & Rubber
              schema:
                $ref: '#/components/schemas/Views'
          description: Returns views.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Retrieves StreetAccount search views
      tags:
      - Views
      x-accepts: application/json
  /views/create:
    post:
      description: This endpoint allows you to create a new StreetAccount view. Select
        watchlists/tickers and filters of your choice to create and save a view.
      operationId: createStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      name: SA News View
              schema:
                $ref: '#/components/schemas/CreateViewResponse'
          description: Creates StreetAccount view for the provided filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Creates and saves a StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /views/update:
    post:
      description: This endpoint allows you to edit the criteria used for a previously
        saved StreetAccount view.
      operationId: editStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Edits and saves an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /views/delete:
    post:
      description: This endpoint allows you to delete a previously saved StreetAccount
        view.
      operationId: deleteStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/deleteViewBody'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Deletes an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /quick-alert/create:
    post:
      description: "This endpoint takes in a view name and provides realtime email\
        \ updates on new stories coming in for the view. Only one quick alert can\
        \ be enabled for a view at a time. \n"
      operationId: createQuickAlertForView
      requestBody:
        $ref: '#/components/requestBodies/quickAlertsBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      name: StreetAccount News
              schema:
                $ref: '#/components/schemas/QuickAlertsResponse'
          description: Creates quick-alert for view.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Error
      summary: Creates a quick-alert for given saved view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /quick-alert/delete:
    post:
      description: This endpoint allows you to delete a quick alert from a previously
        saved view.
      operationId: deleteQuickalertView
      requestBody:
        $ref: '#/components/requestBodies/quickAlertsBody'
      responses:
        "204":
          description: Quick alert deleted.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/500Details'
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Deletes an existing quick alert for a view.
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /filters:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFilters
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        categories:
                        - name: Litigation
                          value:
                          - SA_LITIGATION
                          children:
                          - name: Mergers & Acquisitions
                            value:
                            - SA_FILTERED_MNA
                        topics:
                        - name: ESG Content Summary
                          value:
                          - SA_ESG_US
                          children:
                          - name: Business Model & Innovation
                            value:
                            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
                        regions:
                        - name: Asia Pacific
                          value:
                          - "6"
                          children:
                          - name: South Africa
                            value:
                            - "28"
                        sectors:
                        - name: Conglomerates
                          expanded: true
                          children:
                          - name: Alternative Energy"
                            value:
                            - 108
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
                      flattered:
                        categories:
                        - name: Dividends
                          value:
                          - SA_DIVIDENDS
                        topics:
                        - name: 13F Summary
                          value:
                          - SA_13F_SUMMARY
                        regions:
                        - name: Canada
                          value:
                          - "5"
                        sectors:
                        - name: Chemical Manufacturing
                          value:
                          - 106
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
              schema:
                $ref: '#/components/schemas/FilterResponse'
          description: Returns all filters.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filters
      tags:
      - Filters
      x-accepts: application/json
  /filters/categories:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersCategories
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter categories. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        categories:
                        - name: Litigation
                          value:
                          - SA_LITIGATION
                          children:
                          - name: Mergers & Acquisitions
                            value:
                            - SA_FILTERED_MNA
                      flattered:
                        categories:
                        - name: Dividends
                          value:
                          - SA_DIVIDENDS
              schema:
                $ref: '#/components/schemas/FilterCategoriesResponse'
          description: Returns StreetAccount categories
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter categories
      tags:
      - Filters
      x-accepts: application/json
  /filters/topics:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersTopics
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter topics. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        topics:
                        - name: ESG Content Summary
                          value:
                          - SA_ESG_US
                          children:
                          - name: Business Model & Innovation
                            value:
                            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
                      flattered:
                        topics:
                        - name: 13F Summary
                          value:
                          - SA_13F_SUMMARY
              schema:
                $ref: '#/components/schemas/FilterTopicResponse'
          description: Returns StreetAccount topics.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter topics
      tags:
      - Filters
      x-accepts: application/json
  /filters/regions:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersRegions
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter Regions. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        regions:
                        - name: Asia Pacific
                          value:
                          - "6"
                          children:
                          - name: South Africa
                            value:
                            - "28"
                      flattered:
                        regions:
                        - name: Canada
                          value:
                          - "5"
              schema:
                $ref: '#/components/schemas/FilterRegionsResponse'
          description: Returns StreetAccount regions.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter regions
      tags:
      - Filters
      x-accepts: application/json
  /filters/sectors:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersSectors
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter Sectors. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        sectors:
                        - name: Conglomerates
                          expanded: true
                          children:
                          - name: Alternative Energy"
                            value:
                            - 108
                      flattered:
                        sectors:
                        - name: Chemical Manufacturing
                          value:
                          - 106
              schema:
                $ref: '#/components/schemas/FilterSectorsResponse'
          description: Returns StreetAccount sectors.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter sectors
      tags:
      - Filters
      x-accepts: application/json
  /filters/watchlists:
    get:
      description: If structured flag is set, parent and child filter information
        will be returned. If flattened flag is set, flattened filters will be returned
        which can be used with the headlines and createView endpoints. Both flags
        can be set to return both sets of filters.  If no params are provided it will
        return both.
      operationId: getStreetAccountFiltersWatchlists
      parameters:
      - description: |
          Pass a list of filters to return the respective type of filter Watchlists. Accepted list values are "structured" and/or "flattened". If no _atrributes are specified, all filters will be returned in the response (this is the default response).
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            enum:
            - structured
            - flattened
            maxLength: 11
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    data:
                      structured:
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
                      flattered:
                        watchlists:
                        - name: S&P 500
                          type: Index
                          value: SP50
              schema:
                $ref: '#/components/schemas/FilterWatchlistsResponse'
          description: Returns StreetAccount watchlists.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. This can occur for invalid parameter.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthDetails'
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
        "404":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "429":
          description: Limit Exceeded
          headers:
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve all StreetAccount filter watchlists
      tags:
      - Filters
      x-accepts: application/json
components:
  examples:
    predefinedRange:
      summary: Using predefinedRange
      value:
        data:
          tickers:
          - value: SP50
            type: Index
          isPrimary: true
          categories:
          - Earnings
          topics:
          - Market Summaries
          regions:
          - North America
          sectors:
          - Financial
          predefinedRange: twoDays
        meta:
          pagination:
            limit: 50
            offset: 100
    searchTime:
      summary: Using searchTime
      value:
        data:
          tickers:
          - value: SP50
            type: Index
          isPrimary: true
          categories:
          - Earnings
          topics:
          - Market Summaries
          regions:
          - North America
          sectors:
          - Financial
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 100
    predefinedRangeid:
      summary: Using predefinedRange with view name
      value:
        data:
          name: SA News View
          predefinedRange: twoDays
        meta:
          pagination:
            limit: 50
            offset: 100
    searchTimeid:
      summary: Using searchTime with view name
      value:
        data:
          name: SA News View
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 100
    BadRequest:
      summary: Sample Error Response
      value:
        errors:
        - code: Bad Request
          title: Invalid View Name.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    AuthDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    NotFound:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Found
          title: View Name not found.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    "500Details":
      summary: Sample Error Response
      value:
        errors:
        - code: Internal Server error
          title: An unexpected error happened.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
  requestBodies:
    headlinesRequest:
      content:
        application/json:
          examples:
            Using predefinedRange:
              $ref: '#/components/examples/predefinedRange'
            Using searchTime:
              $ref: '#/components/examples/searchTime'
          schema:
            $ref: '#/components/schemas/HeadlinesRequest'
      description: /filters endpoint contains the filters associated with the optional
        parameters in the request body.
    headlinesRequestByView:
      content:
        application/json:
          examples:
            Using predefinedRange with view name:
              $ref: '#/components/examples/predefinedRangeid'
            Using searchTime with view name:
              $ref: '#/components/examples/searchTimeid'
          schema:
            $ref: '#/components/schemas/HeadlinesRequestByView'
      description: View body which needs to be sent with request
    quickAlertsBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QuickAlertsBody'
      description: View name to get an alert
    createOrEditViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateOrEditViewBody'
      description: Create or Edit View Body which needs to be sent with request
    deleteViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteViewBody'
      description: Delete View Body which needs to be sent with request
  responses:
    "429":
      description: Limit Exceeded
      headers:
        X-FactSet-Api-RateLimit-Limit:
          description: Number of allowed requests for the time window.
          explode: false
          schema:
            type: string
          style: simple
        X-FactSet-Api-RateLimit-Limit-Remaining:
          description: Number of requests left for the time window.
          explode: false
          schema:
            type: string
          style: simple
        X-FactSet-Api-RateLimit-Limit-Reset:
          description: Number of seconds remaining till rate limit resets.
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    Error:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/errorObject'
          type: array
      type: object
    errorObject:
      properties:
        id:
          type: string
        title:
          type: string
        code:
          type: string
      type: object
    HeadlinesRequest:
      description: This request object allows you to filter the headlines related
        to specific tickers, categories, regions, topics, sectors, and time range.
      example:
        data:
          sectors:
          - Financial
          - Financial
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
          regions:
          - North America
          - North America
          predefinedRange: today
          isPrimary: true
          topics:
          - Market Summaries
          - Market Summaries
          categories:
          - Earnings
          - Earnings
          tickers:
          - type: Index
            value: SP50
          - type: Index
            value: SP50
        meta:
          pagination:
            offset: 100
            limit: 50
          attributes:
          - headlines
      properties:
        data:
          $ref: '#/components/schemas/HeadlinesRequest_data'
        meta:
          $ref: '#/components/schemas/HeadlinesRequest_meta'
      type: object
    HeadlinesRequestTickersObject:
      example:
        type: Index
        value: SP50
      properties:
        value:
          description: The ticker symbol. It also supports an listing and regional
            suffix (ex:AAPL-US)
          example: SP50
          type: string
        type:
          description: |
            The type of asset associated with the ticker.
          enum:
          - Index
          - ETF
          - Mutual_Fund
          - Portfolios
          - Equity
          - privateCompanies
          - Fixed_Income
          example: Index
          type: string
      type: object
    HeadlinesRequestByView:
      example:
        data:
          searchTime:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
          predefinedRange: today
          name: SA News View
        meta:
          pagination:
            offset: 100
            limit: 50
      properties:
        data:
          $ref: '#/components/schemas/HeadlinesRequestByView_data'
        meta:
          $ref: '#/components/schemas/HeadlinesRequestByView_meta'
      type: object
    QuickAlertsBody:
      example:
        data:
          name: StreetAccount News
      properties:
        data:
          $ref: '#/components/schemas/QuickAlertsBody_data'
      type: object
    QuickAlertsResponse:
      example:
        data:
          name: StreetAccount News
      properties:
        data:
          $ref: '#/components/schemas/QuickAlertsBody_data'
      type: object
    HeadlinesResponse:
      description: Properties in results objects are based on return values
      example:
        data:
        - storyTime: 2022-09-15T06:48:19Z
          headlines: Sample Headline
          subjects:
          - SA_EARNINGS
          - SA_EARNINGS
          id: sa_story_3393235
          storyBody: Sample Body
          primarySymbols:
          - AAPL-US
          - AAPL-US
          symbols:
          - AAPL-US
          - AAPL-US
          referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
        - storyTime: 2022-09-15T06:48:19Z
          headlines: Sample Headline
          subjects:
          - SA_EARNINGS
          - SA_EARNINGS
          id: sa_story_3393235
          storyBody: Sample Body
          primarySymbols:
          - AAPL-US
          - AAPL-US
          symbols:
          - AAPL-US
          - AAPL-US
          referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
        meta:
          pagination:
            total: 50
            isEstimatedTotal: false
          requestGuid: requestGuid
      properties:
        data:
          items:
            $ref: '#/components/schemas/searchResponseArrayObject'
          type: array
        meta:
          $ref: '#/components/schemas/HeadlinesResponse_meta'
      type: object
    searchResponseArrayObject:
      example:
        storyTime: 2022-09-15T06:48:19Z
        headlines: Sample Headline
        subjects:
        - SA_EARNINGS
        - SA_EARNINGS
        id: sa_story_3393235
        storyBody: Sample Body
        primarySymbols:
        - AAPL-US
        - AAPL-US
        symbols:
        - AAPL-US
        - AAPL-US
        referenceUris: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
        url: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
      properties:
        storyTime:
          description: The timestamp when the story was published.
          example: 2022-09-15T06:48:19Z
          format: date-time
          type: string
        headlines:
          description: The headline of the story.
          example: Sample Headline
          type: string
        id:
          description: The unique identifier for the story.
          example: sa_story_3393235
          type: string
        primarySymbols:
          items:
            description: The primary symbols associated with the story.
            example: AAPL-US
            type: string
          type: array
        symbols:
          items:
            description: All symbols associated with the story.
            example: AAPL-US
            type: string
          type: array
        subjects:
          items:
            description: The subjects associated with the story.
            example: SA_EARNINGS
            type: string
          type: array
        storyBody:
          description: The sample body of the story.
          example: Sample Body
          type: string
        referenceUris:
          description: The reference URIs associated with the story.
          example: https://www1.hkexnews.hk/listedco/listconews/sehk/2024/0315/000.pdf
          type: string
        url:
          description: The URL of the story.
          example: https://my.apps.factset.com/viewer-fusion/?_doc_id=sa_story_3819300&_doc_date=2000&_doc_product=SA
          type: string
      type: object
    CreateOrEditViewBody:
      example:
        data:
          sectors:
          - Financial
          - Financial
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - Market Summaries
          - Market Summaries
          name: SA News View
          categories:
          - Earnings
          - Earnings
          quickAlert: false
          tickers:
          - name: Russell 1000
            type: Index
            value: R.1000
          - name: Russell 1000
            type: Index
            value: R.1000
      properties:
        data:
          $ref: '#/components/schemas/CreateOrEditViewBody_data'
      type: object
    DeleteViewBody:
      example:
        data:
          name: SA News View
      properties:
        data:
          $ref: '#/components/schemas/DeleteViewBody_data'
      type: object
    createOrEditViewTickers:
      example:
        name: Russell 1000
        type: Index
        value: R.1000
      properties:
        name:
          example: Russell 1000
          type: string
        value:
          example: R.1000
          type: string
        type:
          enum:
          - Index
          - ETF
          - Holder
          - Mutual_Fund
          - Portfolios
          example: Index
          type: string
      type: object
    CreateViewResponse:
      description: Properties in object are results of the create or save operation
      example:
        data:
          name: SA News View
      properties:
        data:
          $ref: '#/components/schemas/CreateViewResponse_data'
      type: object
    Views:
      description: StreetAccount views
      example:
        data:
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          name: Sample View
          categories:
          - News Media
          - News Media
          tickers:
          - name: Russell 1000
            type: Index
            value: R.1000
          - name: Russell 1000
            type: Index
            value: R.1000
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          isPrimary: true
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          name: Sample View
          categories:
          - News Media
          - News Media
          tickers:
          - name: Russell 1000
            type: Index
            value: R.1000
          - name: Russell 1000
            type: Index
            value: R.1000
      properties:
        data:
          items:
            $ref: '#/components/schemas/viewsObject'
          type: array
      type: object
    viewsObject:
      example:
        sectors:
        - Chemicals - Plastics & Rubber
        - Chemicals - Plastics & Rubber
        regions:
        - North America
        - North America
        isPrimary: true
        topics:
        - 'Market Summaries '
        - 'Market Summaries '
        name: Sample View
        categories:
        - News Media
        - News Media
        tickers:
        - name: Russell 1000
          type: Index
          value: R.1000
        - name: Russell 1000
          type: Index
          value: R.1000
      properties:
        name:
          description: The name of the view.
          example: Sample View
          type: string
        tickers:
          description: An array of ticker symbols associated with the view.
          items:
            $ref: '#/components/schemas/createOrEditViewTickers'
          type: array
        isPrimary:
          description: "If true, then only stories with the provided ticker as a primary\
            \ symbol will be returned. Otherwise, all stories with the ticker as a\
            \ primary symbol or related symbol will be returned.\n          \n"
          type: boolean
        categories:
          items:
            description: An array of categories associated with the view.
            example: News Media
            type: string
          type: array
        topics:
          items:
            description: An array of topics associated with the view.
            example: 'Market Summaries '
            type: string
          type: array
        regions:
          items:
            description: An array of regions associated with the view.
            example: North America
            type: string
          type: array
        sectors:
          items:
            description: An array of sectors associated with the view.
            example: Chemicals - Plastics & Rubber
            type: string
          type: array
      type: object
    FilterResponse:
      description: Filters Object
      example:
        data:
          flattened:
            sectors:
            - name: Chemical Manufacturing
              value:
              - 106
            - name: Chemical Manufacturing
              value:
              - 106
            regions:
            - name: Canada
              value:
              - "5"
            - name: Canada
              value:
              - "5"
            topics:
            - name: '13F Summary '
              value:
              - SA_13F_SUMMARY
            - name: '13F Summary '
              value:
              - SA_13F_SUMMARY
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
            categories:
            - name: Dividends
              value:
              - SA_DIVIDENDS
            - name: Dividends
              value:
              - SA_DIVIDENDS
          structured:
            sectors:
            - expanded: true
              children:
              - name: Alternative Energy
                value:
                - 108
              - name: Alternative Energy
                value:
                - 108
              name: Conglomerates
              value:
              - 6
              - 6
            - expanded: true
              children:
              - name: Alternative Energy
                value:
                - 108
              - name: Alternative Energy
                value:
                - 108
              name: Conglomerates
              value:
              - 6
              - 6
            regions:
            - children:
              - name: South Africa
                value:
                - "6"
              - name: South Africa
                value:
                - "6"
              name: Asia Pacific
              value:
              - value
              - value
            - children:
              - name: South Africa
                value:
                - "6"
              - name: South Africa
                value:
                - "6"
              name: Asia Pacific
              value:
              - value
              - value
            topics:
            - children:
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            - children:
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
            categories:
            - children:
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              name: Litigation
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - children:
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              name: Litigation
              value:
              - SA_LITIGATION
              - SA_LITIGATION
      properties:
        data:
          $ref: '#/components/schemas/FilterResponse_data'
      type: object
    FlattenedFilters:
      description: Flattened Filters Object
      example:
        sectors:
        - name: Chemical Manufacturing
          value:
          - 106
        - name: Chemical Manufacturing
          value:
          - 106
        regions:
        - name: Canada
          value:
          - "5"
        - name: Canada
          value:
          - "5"
        topics:
        - name: '13F Summary '
          value:
          - SA_13F_SUMMARY
        - name: '13F Summary '
          value:
          - SA_13F_SUMMARY
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
        categories:
        - name: Dividends
          value:
          - SA_DIVIDENDS
        - name: Dividends
          value:
          - SA_DIVIDENDS
      properties:
        categories:
          items:
            $ref: '#/components/schemas/flattenedFiltersCategoriesObject'
          type: array
        topics:
          items:
            $ref: '#/components/schemas/flattenedFiltersTopicsObject'
          type: array
        regions:
          items:
            $ref: '#/components/schemas/flattenedFiltersRegionsObject'
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/flattenedFiltersSectorsObject'
          type: array
        watchlists:
          items:
            $ref: '#/components/schemas/flattenedFiltersWatchlistsObject'
          type: array
      type: object
    flattenedFiltersCategoriesObject:
      description: |2

        '(Note: the value array will always have just one value.)'
      example:
        name: Dividends
        value:
        - SA_DIVIDENDS
      properties:
        name:
          description: The name of the category.
          type: string
        value:
          description: |
            An array containing a single value associated with the category.
          items:
            type: string
          type: array
      type: object
    flattenedFiltersTopicsObject:
      description: |2


        '(Note: the value array will always have just one value.)'
      example:
        name: '13F Summary '
        value:
        - SA_13F_SUMMARY
      properties:
        name:
          description: The name of the topic.
          type: string
        value:
          description: An array containing a single value associated with the topic.
          items:
            type: string
          type: array
      type: object
    flattenedFiltersRegionsObject:
      description: '(Note: the value array will always have just one value.)'
      example:
        name: Canada
        value:
        - "5"
      properties:
        name:
          description: The name of the region.
          type: string
        value:
          description: An array containing a single numeric value associated with
            the region.
          items:
            type: string
          type: array
      type: object
    flattenedFiltersSectorsObject:
      description: '(Note: the value array will always have just one value.)'
      example:
        name: Chemical Manufacturing
        value:
        - 106
      properties:
        name:
          description: The name of the sector.
          type: string
        value:
          description: |
            An array containing a single numeric value associated with the sector.
          items:
            type: number
          type: array
      type: object
    flattenedFiltersWatchlistsObject:
      example:
        name: S&P 500
        type: Index
        value: SP50
      properties:
        name:
          description: The name of the watchlist.
          type: string
        type:
          description: The type of watchlist.
          type: string
        value:
          description: The value associated with the watchlist.
          type: string
      type: object
    StructuredFilters:
      description: Structured Filters Object
      example:
        sectors:
        - expanded: true
          children:
          - name: Alternative Energy
            value:
            - 108
          - name: Alternative Energy
            value:
            - 108
          name: Conglomerates
          value:
          - 6
          - 6
        - expanded: true
          children:
          - name: Alternative Energy
            value:
            - 108
          - name: Alternative Energy
            value:
            - 108
          name: Conglomerates
          value:
          - 6
          - 6
        regions:
        - children:
          - name: South Africa
            value:
            - "6"
          - name: South Africa
            value:
            - "6"
          name: Asia Pacific
          value:
          - value
          - value
        - children:
          - name: South Africa
            value:
            - "6"
          - name: South Africa
            value:
            - "6"
          name: Asia Pacific
          value:
          - value
          - value
        topics:
        - children:
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          name: ESG Content Summary
          value:
          - SA_ESG_US
          - SA_ESG_US
        - children:
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          name: ESG Content Summary
          value:
          - SA_ESG_US
          - SA_ESG_US
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
        categories:
        - children:
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          name: Litigation
          value:
          - SA_LITIGATION
          - SA_LITIGATION
        - children:
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          name: Litigation
          value:
          - SA_LITIGATION
          - SA_LITIGATION
      properties:
        categories:
          items:
            $ref: '#/components/schemas/structuredFiltersCategoriesObject'
          type: array
        topics:
          items:
            $ref: '#/components/schemas/structuredFiltersTopicsObject'
          type: array
        regions:
          items:
            $ref: '#/components/schemas/structuredFiltersRegionsObject'
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/structuredFiltersSectorsObject'
          type: array
        watchlists:
          items:
            $ref: '#/components/schemas/structuredFiltersWatchlistsObject'
          type: array
      type: object
    structuredFiltersCategoriesObject:
      example:
        children:
        - name: Mergers & Acquisitions
          value:
          - SA_FILTERED_MNA
        - name: Mergers & Acquisitions
          value:
          - SA_FILTERED_MNA
        name: Litigation
        value:
        - SA_LITIGATION
        - SA_LITIGATION
      properties:
        name:
          description: The name of the category.
          example: Litigation
          type: string
        value:
          items:
            description: The values associated with the category.
            example: SA_LITIGATION
            type: string
          type: array
        children:
          description: An array of children objects.
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObjectCategories'
          type: array
      type: object
    structuredFiltersChildrenObjectTopics:
      example:
        name: Business Model & Innovation
        value:
        - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: string
          type: array
      type: object
    structuredFiltersChildrenObjectCategories:
      example:
        name: Mergers & Acquisitions
        value:
        - SA_FILTERED_MNA
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: string
          type: array
      type: object
    structuredFiltersChildrenObjectRegions:
      example:
        name: South Africa
        value:
        - "6"
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: string
          type: array
      type: object
    structuredFiltersChildrenObjectSectors:
      example:
        name: Alternative Energy
        value:
        - 108
      properties:
        name:
          description: The name of the children.
          type: string
        value:
          items:
            description: The values associated with the children.
            type: number
          type: array
      type: object
    structuredFiltersTopicsObject:
      example:
        children:
        - name: Business Model & Innovation
          value:
          - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
        - name: Business Model & Innovation
          value:
          - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
        name: ESG Content Summary
        value:
        - SA_ESG_US
        - SA_ESG_US
      properties:
        name:
          description: The name of the topic.
          example: ESG Content Summary
          type: string
        value:
          items:
            description: The values associated with the topic.
            example: SA_ESG_US
            type: string
          type: array
        children:
          description: An array of child objects.
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObjectTopics'
          type: array
      type: object
    structuredFiltersRegionsObject:
      example:
        children:
        - name: South Africa
          value:
          - "6"
        - name: South Africa
          value:
          - "6"
        name: Asia Pacific
        value:
        - value
        - value
      properties:
        name:
          description: The name of the region.
          example: Asia Pacific
          type: string
        value:
          items:
            description: The values associated with the region
            type: string
          type: array
        children:
          description: An array of children objects.
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObjectRegions'
          type: array
      type: object
    structuredFiltersSectorsObject:
      example:
        expanded: true
        children:
        - name: Alternative Energy
          value:
          - 108
        - name: Alternative Energy
          value:
          - 108
        name: Conglomerates
        value:
        - 6
        - 6
      properties:
        name:
          description: The name of the sector
          example: Conglomerates
          type: string
        expanded:
          description: It returns the boolean value.
          type: boolean
        children:
          description: An array of child objects representing sectors.
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObjectSectors'
          type: array
        value:
          items:
            description: The values associated with the region
            example: 6
            type: number
          type: array
      type: object
    structuredFiltersWatchlistsObject:
      example:
        name: S&P 500
        type: Index
        value: SP50
      properties:
        name:
          description: The name of the watchlist.
          example: S&P 500
          type: string
        type:
          description: The type of watchlist.
          example: Index
          type: string
        value:
          description: The value associated with the watchlist.
          example: SP50
          type: string
      type: object
    FilterTopicResponse:
      description: FiltersTopic Object
      example:
        data:
          flattened:
            topics:
            - name: '13F Summary '
              value:
              - SA_13F_SUMMARY
            - name: '13F Summary '
              value:
              - SA_13F_SUMMARY
          structured:
            topics:
            - children:
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
            - children:
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              - name: Business Model & Innovation
                value:
                - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
              name: ESG Content Summary
              value:
              - SA_ESG_US
              - SA_ESG_US
      properties:
        data:
          $ref: '#/components/schemas/FilterTopicResponse_data'
      type: object
    FlattenedFiltersTopics:
      description: Flattened FiltersTopic Object
      example:
        topics:
        - name: '13F Summary '
          value:
          - SA_13F_SUMMARY
        - name: '13F Summary '
          value:
          - SA_13F_SUMMARY
      properties:
        topics:
          items:
            $ref: '#/components/schemas/flattenedFiltersTopicsObject'
          type: array
      type: object
    StructuredFiltersTopics:
      description: Structured FiltersTopic Object
      example:
        topics:
        - children:
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          name: ESG Content Summary
          value:
          - SA_ESG_US
          - SA_ESG_US
        - children:
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          - name: Business Model & Innovation
            value:
            - SA_ESG_MATERIAL_BUSINESS_MODEL_INNOVATION
          name: ESG Content Summary
          value:
          - SA_ESG_US
          - SA_ESG_US
      properties:
        topics:
          items:
            $ref: '#/components/schemas/structuredFiltersTopicsObject'
          type: array
      type: object
    FilterCategoriesResponse:
      description: FiltersCategories Object
      example:
        data:
          flattened:
            categories:
            - name: Dividends
              value:
              - SA_DIVIDENDS
            - name: Dividends
              value:
              - SA_DIVIDENDS
          structured:
            categories:
            - children:
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              name: Litigation
              value:
              - SA_LITIGATION
              - SA_LITIGATION
            - children:
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              - name: Mergers & Acquisitions
                value:
                - SA_FILTERED_MNA
              name: Litigation
              value:
              - SA_LITIGATION
              - SA_LITIGATION
      properties:
        data:
          $ref: '#/components/schemas/FilterCategoriesResponse_data'
      type: object
    FlattenedFiltersCategories:
      description: Flattened FiltersCategories Object
      example:
        categories:
        - name: Dividends
          value:
          - SA_DIVIDENDS
        - name: Dividends
          value:
          - SA_DIVIDENDS
      properties:
        categories:
          items:
            $ref: '#/components/schemas/flattenedFiltersCategoriesObject'
          type: array
      type: object
    StructuredFiltersCategories:
      description: Structured FiltersCategories Object
      example:
        categories:
        - children:
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          name: Litigation
          value:
          - SA_LITIGATION
          - SA_LITIGATION
        - children:
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          - name: Mergers & Acquisitions
            value:
            - SA_FILTERED_MNA
          name: Litigation
          value:
          - SA_LITIGATION
          - SA_LITIGATION
      properties:
        categories:
          items:
            $ref: '#/components/schemas/structuredFiltersCategoriesObject'
          type: array
      type: object
    FilterRegionsResponse:
      description: FiltersRegions Object
      example:
        data:
          flattened:
            regions:
            - name: Canada
              value:
              - "5"
            - name: Canada
              value:
              - "5"
          structured:
            regions:
            - children:
              - name: South Africa
                value:
                - "6"
              - name: South Africa
                value:
                - "6"
              name: Asia Pacific
              value:
              - value
              - value
            - children:
              - name: South Africa
                value:
                - "6"
              - name: South Africa
                value:
                - "6"
              name: Asia Pacific
              value:
              - value
              - value
      properties:
        data:
          $ref: '#/components/schemas/FilterRegionsResponse_data'
      type: object
    FlattenedFiltersRegions:
      description: Flattened FiltersRegions Object
      example:
        regions:
        - name: Canada
          value:
          - "5"
        - name: Canada
          value:
          - "5"
      properties:
        regions:
          items:
            $ref: '#/components/schemas/flattenedFiltersRegionsObject'
          type: array
      type: object
    StructuredFiltersRegions:
      description: Structured FiltersRegions Object
      example:
        regions:
        - children:
          - name: South Africa
            value:
            - "6"
          - name: South Africa
            value:
            - "6"
          name: Asia Pacific
          value:
          - value
          - value
        - children:
          - name: South Africa
            value:
            - "6"
          - name: South Africa
            value:
            - "6"
          name: Asia Pacific
          value:
          - value
          - value
      properties:
        regions:
          items:
            $ref: '#/components/schemas/structuredFiltersRegionsObject'
          type: array
      type: object
    FilterSectorsResponse:
      description: FiltersSectors Object
      example:
        data:
          flattened:
            sectors:
            - name: Chemical Manufacturing
              value:
              - 106
            - name: Chemical Manufacturing
              value:
              - 106
          structured:
            sectors:
            - expanded: true
              children:
              - name: Alternative Energy
                value:
                - 108
              - name: Alternative Energy
                value:
                - 108
              name: Conglomerates
              value:
              - 6
              - 6
            - expanded: true
              children:
              - name: Alternative Energy
                value:
                - 108
              - name: Alternative Energy
                value:
                - 108
              name: Conglomerates
              value:
              - 6
              - 6
      properties:
        data:
          $ref: '#/components/schemas/FilterSectorsResponse_data'
      type: object
    FlattenedFiltersSectors:
      description: Flattened FiltersSectors Object
      example:
        sectors:
        - name: Chemical Manufacturing
          value:
          - 106
        - name: Chemical Manufacturing
          value:
          - 106
      properties:
        sectors:
          items:
            $ref: '#/components/schemas/flattenedFiltersSectorsObject'
          type: array
      type: object
    StructuredFiltersSectors:
      description: Structured FiltersSectors Object
      example:
        sectors:
        - expanded: true
          children:
          - name: Alternative Energy
            value:
            - 108
          - name: Alternative Energy
            value:
            - 108
          name: Conglomerates
          value:
          - 6
          - 6
        - expanded: true
          children:
          - name: Alternative Energy
            value:
            - 108
          - name: Alternative Energy
            value:
            - 108
          name: Conglomerates
          value:
          - 6
          - 6
      properties:
        sectors:
          items:
            $ref: '#/components/schemas/structuredFiltersSectorsObject'
          type: array
      type: object
    FilterWatchlistsResponse:
      description: FiltersWatchlists Object
      example:
        data:
          flattened:
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
          structured:
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
      properties:
        data:
          $ref: '#/components/schemas/FilterWatchlistsResponse_data'
      type: object
    FlattenedFiltersWatchlists:
      description: Flattened FilterWatchlists Object
      example:
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
      properties:
        watchlists:
          items:
            $ref: '#/components/schemas/flattenedFiltersWatchlistsObject'
          type: array
      type: object
    StructuredFiltersWatchlists:
      description: Structured FiltersWatchlists Object
      example:
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
      properties:
        watchlists:
          items:
            $ref: '#/components/schemas/structuredFiltersWatchlistsObject'
          type: array
      type: object
    HeadlinesRequest_data_searchTime:
      example:
        start: 2022-08-21T12:35:45Z
        end: 2022-08-29T08:10:30Z
      properties:
        start:
          description: Start time for custom search. startTime must follow the ISO
            8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets
            ±[hh]:[mm]
          example: 2022-08-21T12:35:45Z
          format: date-time
          type: string
        end:
          description: End time for custom search. If end time is not present end
            time is automatically set to the time of the search. endTime must follow
            the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports
            offsets ±[hh]:[mm]
          example: 2022-08-29T08:10:30Z
          format: date-time
          type: string
      type: object
    HeadlinesRequest_data:
      example:
        sectors:
        - Financial
        - Financial
        searchTime:
          start: 2022-08-21T12:35:45Z
          end: 2022-08-29T08:10:30Z
        regions:
        - North America
        - North America
        predefinedRange: today
        isPrimary: true
        topics:
        - Market Summaries
        - Market Summaries
        categories:
        - Earnings
        - Earnings
        tickers:
        - type: Index
          value: SP50
        - type: Index
          value: SP50
      properties:
        tickers:
          description: List of tickers to filter the headlines. Each ticker is an
            object.
          items:
            $ref: '#/components/schemas/HeadlinesRequestTickersObject'
          type: array
        isPrimary:
          description: |
            If true, then only stories with the provided ticker as a primary symbol will be returned. Otherwise, all stories with the ticker as a primary symbol or related symbol will be returned
          example: true
          type: boolean
        categories:
          description: A list of categories used to filter the headlines. Categories
            are define the nature or topic of the headlines, such as "Earnings". Use
            the `/filters/categories` endpoint to get the list of available categories.
          items:
            example: Earnings
            type: string
          type: array
        topics:
          description: A list of topics used to filter the headlines. Topics represent
            specific subjects or themes associated with the headlines, such as "Market
            Summaries". Use the `/filters/topics` endpoint to get the list of available
            topics.
          items:
            example: Market Summaries
            type: string
          type: array
        regions:
          description: A list of regions used to filter the headlines. Regions specify
            the geographical location or market to which the headlines are relevant,
            for example, "North America". Use the `/filters/regions` endpoint to get
            the list of available regions.
          items:
            example: North America
            type: string
          type: array
        sectors:
          description: A list of sectors used to filter the headlines. Sectors are
            segments or divisions of the economy or market provided by StreetAccount,
            such as "Financial". Use the `/filters/sectors`endpoint to get the list
            of available sectors.
          items:
            example: Financial
            type: string
          type: array
        predefinedRange:
          description: see list of valid date ranges. Date range is mutually exclusive
            to start/end time
          enum:
          - today
          - twoDays
          - oneWeek
          - oneMonth
          - threeMonths
          - sixMonths
          - oneYear
          - threeYears
          - fiveYears
          - tenYears
          - allAvailable
          type: string
        searchTime:
          $ref: '#/components/schemas/HeadlinesRequest_data_searchTime'
      type: object
    HeadlinesRequest_meta_pagination:
      description: Object defining pagination for the results pageable attribute.
        Offset-based strategy is used for Pagination.
      example:
        offset: 100
        limit: 50
      properties:
        limit:
          default: 500
          description: Non-negative maximum number of entries to return.
          example: 50
          type: integer
        offset:
          default: 0
          description: Non-negative number of entries to skip.
          example: 100
          type: integer
      type: object
    HeadlinesRequest_meta:
      example:
        pagination:
          offset: 100
          limit: 50
        attributes:
[...]
