openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: License info
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Capital Structure Report Builder
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/capital-structure-report-builder-api
servers:
- url: https://api.factset.com/report/capital/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Capital Structure data
  name: Capital Structure
paths:
  /dcs-detail:
    get:
      description: Get the DCS Detail component's data
      operationId: getDcsDetail
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                schemaInvalidParameterError:
                  $ref: '#/components/examples/schemaInvalidParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Debt Capital Structure (DCS)
      tags:
      - Capital Structure
      x-accepts: application/json
  /dcs-summary:
    get:
      description: Get the DCS Summary component's data
      operationId: getDcsSummary
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponseDcsSummary'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponseDcsSummary'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                schemaInvalidParameterError:
                  $ref: '#/components/examples/schemaInvalidParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Debt Capital Structure (DCS) Summary
      tags:
      - Capital Structure
      x-accepts: application/json
  /source-of-capital:
    get:
      description: Get the Source of Capital component's data
      operationId: getSourceOfCapital
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                sourceOfCapitalResponse:
                  $ref: '#/components/examples/sourceOfCapitalResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                schemaInvalidParameterError:
                  $ref: '#/components/examples/schemaInvalidParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Source of Capital
      tags:
      - Capital Structure
      x-accepts: application/json
components:
  examples:
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - code: endpointNotFound
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: The requested endpoint does not exist.
    genericServerError:
      summary: generic server error
      value:
        errors:
        - code: genericServerError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: Unexpected error processing request
    groupLevelResponse:
      description: Subset of rows and columns for an example response
      summary: (sample table group level columns response)
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  balanceSheetAmountOutstanding:
                    items:
                      currencyCode:
                        value: USD
                      scale:
                        value: 6
                  couponRate:
                    items:
                      valueType:
                        value: PERCENTAGE
                  currentAmountOutstanding:
                    items:
                      currencyCode:
                        value: USD
                      scale:
                        value: 6
                  oas:
                    items:
                      valueType:
                        value: PERCENTAGE
                  price:
                    items:
                      currencyCode:
                        value: USD
                  ytw:
                    items:
                      valueType:
                        value: PERCENTAGE
                rows:
                - cells:
                  - Description
                  - Instrument ID
                  - Balance Sheet Amount Outstanding
                  - Current Amount Outstanding
                  - Coupon Rate
                  - Coupon Type
                  - Issue Date
                  - Maturity Date
                  - Issue Currency
                  - Seniority
                  - Price
                  - YTW (Yield to Worst)
                  - OAS (LIBOR)
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: HEADERS
                    "1":
                      columnIndex: 0
                      source: HEADERS
                    "2":
                      columnIndex: 0
                      source: HEADERS
                    "3":
                      columnIndex: 0
                      source: HEADERS
                    "4":
                      columnIndex: 0
                      source: HEADERS
                    "5":
                      columnIndex: 0
                      source: HEADERS
                    "6":
                      columnIndex: 0
                      source: HEADERS
                    "7":
                      columnIndex: 0
                      source: HEADERS
                    "8":
                      columnIndex: 0
                      source: HEADERS
                    "9":
                      columnIndex: 0
                      source: HEADERS
                    "10":
                      columnIndex: 0
                      source: HEADERS
                    "11":
                      columnIndex: 0
                      source: HEADERS
                    "12":
                      columnIndex: 0
                      source: HEADERS
                  rowType: Header
                - cellDetails:
                    "0":
                      groupLevel: 0
                  cells:
                  - Notes/Bonds
                  - null
                  - 47848
                  - 47848
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 1
                  cells:
                  - Industrial Development Revenue Bonds
                  - DCS8073841
                  - 2461
                  - 2461
                  - 1.388
                  - null
                  - null
                  - 12/2051
                  - USD
                  - SNR Sec
                  - null
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 1
                  cells:
                  - Mobil Corp
                  - 607059AT9
                  - 250
                  - 250
                  - 8.625
                  - Fixed
                  - 08/1991
                  - 08/2021
                  - USD
                  - SNR Unsec
                  - 104.388
                  - 0.462109129944423
                  - 28.7109583146608
                tableMetadata:
                  source:
                    value:
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: description
                  isDimension: true
                  type: string
                - id: instrumentID
                  type: string
                - id: balanceSheetAmountOutstanding
                  type: real
                - id: currentAmountOutstanding
                  type: real
                - id: couponRate
                  type: real
                - id: couponType
                  type: string
                - id: issueDate
                  type: string
                - id: maturityDate
                  type: string
                - id: issueCurrency
                  type: string
                - id: seniority
                  type: string
                - id: price
                  type: real
                - id: ytw
                  type: real
                - id: oas
                  type: real
              headersDefinition:
                columns:
                - id: detailTableHeader
                  isDimension: true
                  type: string
          version: "2.0"
        meta:
          fsymId: QG1HR7-R
          requestId: 002Q0G-E
          schema: table_group_level
    groupLevelResponseDcsSummary:
      description: Subset of rows and columns for an example response
      summary: (sample table group level columns response)
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  last:
                    items:
                      scale:
                        value: 6
                  lastToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  lastToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  latest:
                    items:
                      scale:
                        value: 6
                  latestToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  latestToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                rows:
                - cells:
                  - null
                  - May '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  - Feb '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: HEADERS
                    "1":
                      columnIndex: 0
                      source: HEADERS
                    "2":
                      columnIndex: 0
                      source: HEADERS
                    "3":
                      columnIndex: 0
                      source: HEADERS
                    "4":
                      columnIndex: 0
                      source: HEADERS
                    "5":
                      columnIndex: 0
                      source: HEADERS
                    "6":
                      columnIndex: 0
                      source: HEADERS
                - cellDetails:
                    "0":
                      groupLevel: 0
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Short Term Debt
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 0
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Long Term Debt
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cellDetails:
                    "0":
                      groupLevel: 1
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Revolving Credit
                  - 575
                  - 1.02220768415738
                  - 0.9997930863004
                  - 575
                  - 1.03748103214026
                  - 1.01875988750765
                - cellDetails:
                    "0":
                      groupLevel: 2
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Unsec. Rev. Facility
                  - 575
                  - null
                  - null
                  - 575
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 1
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Term Loans
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 1
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Notes/Bonds
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 1
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Other
                  - -0.51
                  - -9.06653772035242E-4
                  - -8.86772998283833E-4
                  - -0.601
                  - -0.00108439321794139
                  - -0.00106482555198625
                - cellDetails:
                    "0":
                      groupLevel: 2
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Adjustments
                  - -0.51
                  - null
                  - null
                  - -0.601
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 0
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Long Term Debt, Less Current Portion
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cellDetails:
                    "0":
                      groupLevel: 1
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Long Term Debt
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cellDetails:
                    "0":
                      groupLevel: 1
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Current Portion of LTD
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cellDetails:
                    "0":
                      groupLevel: 0
                    "1":
                      groupLevel: 0
                    "2":
                      groupLevel: 0
                    "3":
                      groupLevel: 0
                    "4":
                      groupLevel: 0
                    "5":
                      groupLevel: 0
                    "6":
                      groupLevel: 0
                  cells:
                  - Total Debt
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                tableMetadata:
                  source:
                    value:
                    - FactSet DCS
                    - FactSet Fundamentals
                    - FactSet Estimates
              definition:
                columns:
                - id: debtClass
                  type: string
                - id: latest
                  type: real
                - id: latestToLtmEbitda
                  type: real
                - id: latestToNtmEbitda
                  type: real
                - id: last
                  type: real
                - id: lastToLtmEbitda
                  type: real
                - id: lastToNtmEbitda
                  type: real
              headersDefinition:
                columns:
                - id: detailTableHeader
                  isDimension: true
                  type: string
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS
          schema: table_group_level
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter(s): ''id'''
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Missing required parameter(s): ''id'''
    notAuthorized:
      summary: not authorized
      value:
        errors:
        - code: notAuthorized
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: User is forbidden access with current credentials. For access, contact
            your FactSet sales representative
    parentChildColumnsResponse:
      description: Subset of rows and columns for an example STACH 2.0 row organized
        table with parent-child columns
      summary: (sample table parent child columns response)
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  balanceSheetAmountOutstanding:
                    items:
                      currencyCode:
                        value: USD
                      scale:
                        value: 6
                  couponRate:
                    items:
                      valueType:
                        value: PERCENTAGE
                  currentAmountOutstanding:
                    items:
                      currencyCode:
                        value: USD
                      scale:
                        value: 6
                  oas:
                    items:
                      valueType:
                        value: PERCENTAGE
                  price:
                    items:
                      currencyCode:
                        value: USD
                  ytw:
                    items:
                      valueType:
                        value: PERCENTAGE
                rows:
                - cells:
                  - Description
                  - null
                  - null
                  - Instrument ID
                  - Balance Sheet Amount Outstanding
                  - Current Amount Outstanding
                  - Coupon Rate
                  - Coupon Type
                  - Issue Date
                  - Maturity Date
                  - Issue Currency
                  - Seniority
                  - Price
                  - YTW (Yield to Worst)
                  - OAS (LIBOR)
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: HEADERS
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 0
                      source: HEADERS
                    "4":
                      columnIndex: 0
                      source: HEADERS
                    "5":
                      columnIndex: 0
                      source: HEADERS
                    "6":
                      columnIndex: 0
                      source: HEADERS
                    "7":
                      columnIndex: 0
                      source: HEADERS
                    "8":
                      columnIndex: 0
                      source: HEADERS
                    "9":
                      columnIndex: 0
                      source: HEADERS
                    "10":
                      columnIndex: 0
                      source: HEADERS
                    "11":
                      columnIndex: 0
                      source: HEADERS
                    "12":
                      columnIndex: 0
                      source: HEADERS
                    "13":
                      columnIndex: 0
                      source: HEADERS
                    "14":
                      columnIndex: 0
                      source: HEADERS
                  rowType: Header
                - cells:
                  - Notes/Bonds
                  - null
                  - null
                  - null
                  - 47848
                  - 47848
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Notes/Bonds
                  - Industrial Development Revenue Bonds
                  - null
                  - DCS8073841
                  - 2461
                  - 2461
                  - 1.388
                  - null
                  - null
                  - 12/2051
                  - USD
                  - SNR Sec
                  - null
                  - null
                  - null
                  rowMetadata:
                    interimAmtOutChg:
                      value: true
                - cells:
                  - Notes/Bonds
                  - Mobil Corp
                  - null
                  - 607059AT9
                  - 250
                  - 250
                  - 8.625
                  - Fixed
                  - 08/1991
                  - 08/2021
                  - USD
                  - SNR Unsec
                  - 105.37265
                  - 0.34193928774702
                  - 13.6422446732113
                tableMetadata:
                  currencyCode:
                    value: USD
                  source:
                    value:
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: description1
                  isDimension: true
                  type: string
                - id: description2
                  isDimension: true
                  parentId: description1
                  type: string
                - id: description3
                  isDimension: true
                  parentId: description2
                  type: string
                - id: instrumentID
                  type: string
                - id: balanceSheetAmountOutstanding
                  type: real
                - id: currentAmountOutstanding
                  type: real
                - id: couponRate
                  type: real
                - id: couponType
                  type: string
                - id: issueDate
                  type: string
                - id: maturityDate
                  type: string
                - id: issueCurrency
                  type: string
                - id: seniority
                  type: string
                - id: price
                  type: real
                - id: ytw
                  type: real
                - id: oas
                  type: real
              headersDefinition:
                columns:
                - id: detailTableHeader
                  isDimension: true
                  type: string
          version: "2.0"
        meta:
          fsymId: QG1HR7-R
          requestId: 002Q0G-E
          schema: table_parent_child_columns
    parentChildColumnsResponseDcsSummary:
      description: Subset of rows and columns for an example STACH 2.0 row organized
        table with parent-child columns
      summary: (sample table parent child columns response)
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  last:
                    items:
                      scale:
                        value: 6
                  lastToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  lastToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  latest:
                    items:
                      scale:
                        value: 6
                  latestToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  latestToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                rows:
                - cells:
                  - null
                  - null
                  - null
                  - May '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  - Feb '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: HEADERS
                    "1":
                      columnIndex: 0
                      source: HEADERS
                    "2":
                      columnIndex: 0
                      source: HEADERS
                    "3":
                      columnIndex: 0
                      source: HEADERS
                    "4":
                      columnIndex: 0
                      source: HEADERS
                    "5":
                      columnIndex: 0
                      source: HEADERS
                    "6":
                      columnIndex: 0
                      source: HEADERS
                - cells:
                  - Short Term Debt
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - null
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cells:
                  - Long Term Debt
                  - Revolving Credit
                  - null
                  - 575
                  - 1.02220768415738
                  - 0.9997930863004
                  - 575
                  - 1.03748103214026
                  - 1.01875988750765
                - cells:
                  - Long Term Debt
                  - Revolving Credit
                  - Unsec. Rev. Facility
                  - 575
                  - null
                  - null
                  - 575
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - Term Loans
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - Notes/Bonds
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - Other
                  - null
                  - -0.51
                  - -9.06653772035242E-4
                  - -8.86772998283833E-4
                  - -0.601
                  - -0.00108439321794139
                  - -0.00106482555198625
                - cells:
                  - Long Term Debt
                  - Other
                  - Adjustments
                  - -0.51
                  - null
                  - null
                  - -0.601
                  - null
                  - null
                - cells:
                  - Long Term Debt, Less Current Portion
                  - null
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cells:
                  - Long Term Debt, Less Current Portion
                  - Long Term Debt
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cells:
                  - Long Term Debt, Less Current Portion
                  - Current Portion of LTD
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Total Debt
                  - null
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                tableMetadata:
                  source:
                    value:
                    - FactSet DCS
                    - FactSet Fundamentals
                    - FactSet Estimates
              definition:
                columns:
                - id: description1
                  isDimension: true
                  type: string
                - id: description2
                  isDimension: true
                  parentId: description1
                  type: string
                - id: description3
                  isDimension: true
                  parentId: description2
                  type: string
                - id: latest
                  type: real
                - id: latestToLtmEbitda
                  type: real
                - id: latestToNtmEbitda
                  type: real
                - id: last
                  type: real
                - id: lastToLtmEbitda
                  type: real
                - id: lastToNtmEbitda
                  type: real
              headersDefinition:
                columns:
                - id: detailTableHeader
                  isDimension: true
                  type: string
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS
          schema: table_parent_child_columns
    schemaInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter(s): ''schema'''
    sourceOfCapitalResponse:
      description: sample source of capital response
      summary: (sample source of capital response)
      value:
        data:
          version: "2.0"
        meta:
          fsymId: null
          requestId: 002Q0G-E
        tables:
          main:
            data:
              rows:
              - cells:
                - Close Date
                - Amount Raised (USD)
                - Description
                - Issue Currency
                - Deal Type
                - Security Type
                - Offer Price
                - Use Of Proceeds
                headerCellDetails:
                  "0":
                    columnIndex: 0
                    source: HEADERS
                  "1":
                    columnIndex: 0
                    source: HEADERS
                  "2":
                    columnIndex: 0
                    source: HEADERS
                  "3":
                    columnIndex: 0
                    source: HEADERS
                  "4":
                    columnIndex: 0
                    source: HEADERS
                  "5":
                    columnIndex: 0
                    source: HEADERS
                  "6":
                    columnIndex: 0
                    source: HEADERS
                  "7":
                    columnIndex: 0
                    source: HEADERS
                rowType: Header
              - cells:
                - 30 Apr '21
                - 1545.305
                - Surgery Center Holdings, Inc. 31 Aug 2026
                - USD
                - Debt
                - Term Loan
                - null
                - Mergers & Acquisitions, Bank Debt Retirement, Fee & Expense Payment
              - cells:
                - 19 Mar '21
                - 305
                - Spa Holdings 3 Oy 4.88% 04 Feb 2028
                - USD
                - Debt
                - 144A  Bond/Note
                - 100
                - Bank Debt Retirement/Refinance
              - cellDetails:
                  "6":
                    cellMetadata:
                      valueType:
                        value: PERCENTAGE
              - cells:
                - 19 Mar '21
                - 416.832
                - Spa Holdings 3 Oy 3.62% 04 Feb 2028
                - EUR
                - Debt
                - 144A  Bond/Note
                - 100
                - Bank Debt Retirement/Refinance
              tableMetadata:
                currencyCode:
                  value: USD
                source:
                  value:
                  - FactSet
            definition:
              columns:
              - id: closeDate
                type: string
              - id: amountRaised
                type: real
              - id: description
                type: string
              - id: issueCurrency
                type: string
              - id: dealType
                type: string
              - id: securityType
                type: string
              - id: offerPrice
                type: real
              - id: useOfProceeds
                type: string
            headersDefinition:
              columns:
              - id: sourceOfCapitalTableHeader
                isDimension: true
                type: string
  responses:
    "200OKStach":
      content:
        application/json:
          examples:
            groupLevelResponse:
              $ref: '#/components/examples/groupLevelResponse'
            parentChildColumnsResponse:
              $ref: '#/components/examples/parentChildColumnsResponse'
          schema:
            $ref: '#/components/schemas/Response'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          description: Supported API major versions
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "200OKStachDcsSummary":
      content:
        application/json:
          examples:
            groupLevelResponse:
              $ref: '#/components/examples/groupLevelResponseDcsSummary'
            parentChildColumnsResponse:
              $ref: '#/components/examples/parentChildColumnsResponseDcsSummary'
          schema:
            $ref: '#/components/schemas/Response'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          description: Supported API major versions
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "200OKStachSourceOfCapital":
      content:
        application/json:
          examples:
            sourceOfCapitalResponse:
              $ref: '#/components/examples/sourceOfCapitalResponse'
          schema:
            $ref: '#/components/schemas/Response'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          description: Supported API major versions
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "400BadRequest":
      content:
        application/json:
          examples:
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            schemaInvalidParameterError:
              $ref: '#/components/examples/schemaInvalidParameterError'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        Api-Supported-Versions:
          description: Supported API major versions
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "401Unauthorized":
      description: Missing or invalid authentication. Ensure you are logged in and
        have successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or 403
        Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key
        from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "403Forbidden":
      content:
        application/json:
          examples:
            notAuthorized:
              $ref: '#/components/examples/notAuthorized'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: User is forbidden access with current credentials. Reach out to
        your local FactSet Account Manager for assistance, or file an issue under
        "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "404NotFound":
      content:
        application/json:
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "429TooManyRequests":
      description: Too many requests - this API is rate-limited to 20 requests per
        second. For further assistance, file an issue under "Workflow & Throttling
        - 400 or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "500InternalServerError":
      content:
        application/json:
          examples:
            genericServerError:
              $ref: '#/components/examples/genericServerError'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Server error. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "503ServiceUnavailable":
      description: Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an issue
        under "Performance - 404 and 500 Responses" using `Report Issue` at the top
        of this page, including the X-DataDirect-Request-Key from the header to assist
        in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    ErrorObject:
      description: Schema describing an API error
      properties:
        code:
          description: A common or API-specific error code.
          type: string
        detail:
          description: A human-readable explanation specific to the occurrence of
            the problem.
          type: string
        id:
          description: A UUID for this particular ocurrence of the problem.  This
            will be logged for debugging.
          type: string
        links:
          $ref: '#/components/schemas/ErrorObject_links'
        source:
          $ref: '#/components/schemas/ErrorObject_source'
        title:
          description: A short, human-readable summary of the problem.  This should
            not change from occurrence to occurrence of the problem
          type: string
      type: object
    ErrorResponse:
      description: A response indicating that there were one or more errors with the
        requests.
      properties:
        errors:
          description: Errors which may have occurred during the request
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
        meta:
          additionalProperties:
            nullable: true
            type: string
          description: Metadata object
          type: object
      type: object
    Meta:
      additionalProperties:
        nullable: true
        type: string
      description: Metadata object
      type: object
    Response:
      description: Capital Structure Response object
      example:
        data: '{}'
        meta:
          key: meta
      properties:
        data:
          description: Returns a STACH 2.0 row organized package
          title: STACH
          type: object
        meta:
          additionalProperties:
            nullable: true
            type: string
          description: Metadata object
          type: object
      type: object
    ErrorObject_links:
      description: An object with a member "about" containing a link that leads to
        further details about the problem.
      properties:
        about:
          description: Link to further details about the problem
          type: string
      type: object
    ErrorObject_source:
      description: An object containing references to the source of the error, optionally
        including additional members
      properties:
        parameter:
          description: A string indicating which path or URI query parameter caused
            the error
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

