openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: The Open:Optimizer API provides the ability to trigger portfolio optimizations
    using any of the optimizers available on FactSet, including the FactSet Portfolio
    Optimizer, Axioma Portfolio Optimizer (equity or fixed income), Barra Portfolio
    Manager, and Northfield Portfolio Optimizer. Endpoints are available to initiate
    optimizations and view results, as well as retrieve document names and related
    metadata. API access is available with a subscription to an optimizer application.
    This API is intended to complement, not replace, the optimizer applications on
    FactSet. All strategies must still be created using the corresponding GUI applications
    on FactSet Workstation.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Open:Optimizer API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- description: Production
  url: https://api.factset.com/open-optimizer/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Informational resources for using the FPO API
  name: FactSet Portfolio Optimizer
- description: Informational resources for using the AXP API
  name: Axioma Equity Portfolio Optimizer
- description: Informational resources for using the AFI API
  name: Axioma Fixed Income Portfolio Optimizer
- description: Informational resources for using the BPM API
  name: Barra Portfolio Optimizer
- description: Informational resources for using the NPO API
  name: Northfield Portfolio Optimizer
paths:
  /fpo/optimize:
    post:
      description: "This endpoint runs FPO optimization specified in the POST body\
        \ parameters.\r\n            \r\nRemarks:\r\n            \r\n*\tAny settings\
        \ in POST body will act as a one-time override over the settings saved in\
        \ the strategy document."
      operationId: postAndOptimize
      parameters:
      - description: Standard HTTP header.  Accepts max-stale.
        explode: false
        in: header
        name: Cache-Control
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              data:
                account:
                  paDocument:
                    id: Client:/fpo/RS_10_TL
                  overrides:
                    benchmark: US:DJII
                strategy:
                  id: Client:/fpo/RS_10_TL
                  overrides:
                    constraints:
                      "19690db82bf-f98ba43c9868e": enable
                      "19690d48b63-5163533d7a2df": disable
                optimization:
                  riskModelDate: 2025-02-04
                  backtestDate: 2025-02-04
                  cashFlow: "0"
                outputTypes:
                  optimal:
                    identifierType: cusip
                    includeCash: true
                    excludeZero: false
                  trades:
                    identifierType: tickerRegion
                    includeCash: true
                  reports:
                    excludedSecurities:
                      identifierType: sedolChk
            schema:
              $ref: '#/components/schemas/FPOOptimizationParametersRequest'
        description: Optimization Parameters
      responses:
        "202":
          content:
            application/json:
              example:
                data:
                  id: sPNUxbYfnz%2BEv2nyItLDmt2DYD1ETfS
                  status: executing
                  detailedStatus: Processing optimization request...
              schema:
                $ref: '#/components/schemas/OptimizationStatus'
          description: The request to run an optimization has been accepted. The response
            includes a 202 Accepted status code, the ID of the new resource, and a
            Location header with the URL to check the status of the optimization.
          headers:
            Location:
              description: URL to poll for the resulting optimization
              explode: false
              schema:
                description: URL to poll for the resulting optimization
                type: string
              style: simple
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "417":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Optimization result was already returned, provided id was not
            a requested optimization, or the optimization was cancelled
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "429":
          description: Rate limit exceeded. Check the X-RateLimit-* headers and resend
            the request.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
      summary: Create and Run FPO optimization
      tags:
      - FactSet Portfolio Optimizer
      x-contentType: application/json
      x-accepts: application/json
  /fpo/{id}/status:
    get:
      description: "This is the endpoint to check on the progress of a previously\
        \ requested optimization.\r\nIf the optimization has finished computing, a\
        \ 201 is returned and the result can be fetched using /fpo/{id} endpoint.\
        \ \r\nOtherwise, the optimization is still running and the body of the response\
        \ will contain a detailed status in JSON besides its pickup id."
      operationId: getOptimizationStatusByIdFPO
      parameters:
      - description: from url, provided from the location header in the Create and
          Run FPO optimization endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Create and
            Run FPO optimization endpoint
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  id: sPNUxbYfnz%2BEv2nyItLDmt2DYD1ETfS
                  status: created
                  detailedStatus: Optimization completed.
              schema:
                $ref: '#/components/schemas/OptimizationStatus'
          description: This indicates that the optimization is complete and the result
            is now available.
          headers:
            Location:
              description: URL to fetch the optimization result
              explode: false
              schema:
                description: URL to fetch the optimization result
                type: string
              style: simple
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "202":
          content:
            application/json:
              example:
                data:
                  id: sPNUxbYfnz%2BEv2nyItLDmt2DYD1ETfS
                  status: executing
                  detailedStatus: Constructing Universe...
              schema:
                $ref: '#/components/schemas/OptimizationStatus'
          description: Indicates optimization is in progress. The response body contains
            the detailed status.
          headers:
            Location:
              description: URL to poll for the resulting optimization
              explode: false
              schema:
                description: URL to poll for the resulting optimization
                type: string
              style: simple
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "417":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Optimization result was already returned, provided id was not
            a requested optimization, or the optimization was cancelled
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "429":
          description: Rate limit exceeded. Check the X-RateLimit-* headers and resend
            the request.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
      summary: Get FPO optimization status by id
      tags:
      - FactSet Portfolio Optimizer
      x-accepts: application/json
  /fpo/{id}:
    delete:
      description: This is the endpoint to cancel a previously submitted optimization.
        Instead of doing a GET on the polling URL, cancel the request by doing a DELETE.
      operationId: cancelOptimizationByIdFPO
      parameters:
      - description: from url, provided from the location header in the Run Optimization
          endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Run Optimization
            endpoint
          type: string
        style: simple
      responses:
        "204":
          description: Expected response, optimization was canceled successfully.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "404":
          description: There was no request for the optimization identifier provided,
            or the request was already canceled for the provided identifier.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "429":
          description: Rate limit exceeded. Check the X-RateLimit-* headers and resend
            the request.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
      summary: Cancel FPO optimization by id
      tags:
      - FactSet Portfolio Optimizer
      x-accepts: application/json
    get:
      description: "This is the endpoint to get optimization result.\r\nIf the optimization\
        \ result is available, a 200 is returned. \r\nOtherwise, the optimization\
        \ is still running and the body of the response will contain a detailed status\
        \ in JSON besides its pickup id."
      operationId: getOptimizationResultByIdFPO
      parameters:
      - description: from url, provided from the location header in the Create and
          Run FPO optimization endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Create and
            Run FPO optimization endpoint
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                FPO Result:
                  summary: FPO result
                  value:
                    data:
                      reports:
                        excludedSecurities:
                          columns:
                          - contextualType: undefined
                            name: Symbol
                          - contextualType: undefined
                            name: Name
                          - contextualType: undefined
                            name: Reason
                          - contextualType: undefined
                            name: Portfolio
                          - contextualType: undefined
                            name: Benchmark
                          - contextualType: undefined
                            name: Buy List
                          - contextualType: undefined
                            name: Composite Asset
                          - contextualType: undefined
                            name: Portfolio Weight
                          - contextualType: undefined
                            name: Benchmark Weight
                          name: Excluded Securities
                          rows: []
                          table:
                            customMetadata:
                              Benchmark:
                                contextualType: string
                                value: US:DJII
                              Buy List:
                                contextualType: string
                                value: BENCH:DJII
                              Calendar:
                                contextualType: string
                                value: FIVEDAY
                              Currency:
                                contextualType: string
                                value: USD
                              Initial Portfolio:
                                contextualType: string
                                value: CLIENT:CASH_ONLY.ACCT
                              Optimal Portfolio:
                                contextualType: string
                                value: CLIENT:CASH_ONLY.ACCT
                              Risk Model:
                                contextualType: string
                                value: Axioma US Fundamental Equity Risk Model MH
                                  4
                              Risk Model Date:
                                contextualType: string
                                value: 04-FEB-2025
                              Strategy:
                                contextualType: string
                                value: CLIENT:/FPO/RS_10_TL
                            primaryKeys: Symbol
                          version: "1.0"
                          views:
                            name: Excluded Securities
                            tableView:
                              columns:
                              - Symbol
                              - Name
                              - Reason
                              - Portfolio
                              - Benchmark
                              - Buy List
                              - Composite Asset
                              - Portfolio Weight
                              - Benchmark Weight
                              headers:
                                Benchmark: Benchmark
                                Benchmark Weight: Benchmark Weight
                                Buy List: Buy List
                                Composite Asset: Composite Asset
                                Name: Name
                                Portfolio: Portfolio
                                Portfolio Weight: Portfolio Weight
                                Reason: Reason
                                Symbol: Symbol
                      trades:
                      - symbol: CASH_USD
                        tradeAction: SELLL
                        tradeType: Sell All
                        traded: -100000000
                        transactionCost: 0
                      - symbol: CAT-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 26963.26630081717
                        transactionCost: 0
                      - symbol: GS-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 25245.43021348271
                        transactionCost: 0
                      - symbol: HD-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 26150.44811844273
                        transactionCost: 0
                      - symbol: MCD-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 32770.28725078155
                        transactionCost: 0
                      - symbol: MSFT-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 25471.06505356247
                        transactionCost: 0
                      - symbol: CRM-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 23142.5786024388
                        transactionCost: 0
                      - symbol: SHW-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 28058.53861532407
                        transactionCost: 0
                      - symbol: UNH-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 20143.70942083709
                        transactionCost: 0
                      - symbol: V-US
                        tradeAction: BUYL
                        tradeType: Buy New
                        traded: 41968.34858722711
                        transactionCost: 0
                AXP Result:
                  summary: AXP result
                  value:
                    data:
                      holdings:
                      - initial: 1000000
                        optimal: 0
                        price: 1
                        priceISO: USD
                        symbol: CASH_USD
                        traded: -1000000
                      - initial: 0
                        optimal: 146.929203017915
                        price: 87.7
                        priceISO: USD
                        symbol: 00287Y10
                        traded: 146.929203017915
                      - initial: 0
                        optimal: 6.03287401353108
                        price: 40.69
                        priceISO: USD
                        symbol: 02209S10
                        traded: 6.03287401353108
                      - initial: 0
                        optimal: 60.9287025330573
                        price: 236.7
                        priceISO: USD
                        symbol: "03116210"
                        traded: 60.9287025330573
                      - initial: 0
                        optimal: 782.205036830645
                        price: 116.97
                        priceISO: USD
                        symbol: "03783310"
                        traded: 782.205036830645
                      - initial: 0
                        optimal: 353.630232567001
                        price: 215.68
                        priceISO: USD
                        symbol: "08467070"
                        traded: 353.630232567001
                      - initial: 0
                        optimal: 59.1533929759704
                        price: 286.54
                        priceISO: USD
                        symbol: 09062X10
                        traded: 59.1533929759704
                      - initial: 0
                        optimal: 24.2500476448453
                        price: 611.57
                        priceISO: USD
                        symbol: 09290D10
                        traded: 24.2500476448453
                      - initial: 0
                        optimal: 69.5668811741596
                        price: 167.33
                        priceISO: USD
                        symbol: "09702310"
                        traded: 69.5668811741596
                      - initial: 0
                        optimal: 237.657215875938
                        price: 61.82
                        priceISO: USD
                        symbol: "11012210"
                        traded: 237.657215875938
                      - initial: 0
                        optimal: 94.1930888731728
                        price: 158.94
                        priceISO: USD
                        symbol: "14912310"
                        traded: 94.1930888731728
                      - initial: 0
                        optimal: 82.4540862732837
                        price: 74
                        priceISO: USD
                        symbol: "16676410"
                        traded: 82.4540862732837
                      - initial: 0
                        optimal: 365.905421706413
                        price: 39.85
                        priceISO: USD
                        symbol: 17275R10
                        traded: 365.905421706413
                      - initial: 0
                        optimal: 231.199623949045
                        price: 50.81
                        priceISO: USD
                        symbol: "19121610"
                        traded: 231.199623949045
                      - initial: 0
                        optimal: 237.26361968623
                        price: 79.77
                        priceISO: USD
                        symbol: "19416210"
                        traded: 237.26361968623
                      - initial: 0
                        optimal: 178.377936951731
                        price: 44.85
                        priceISO: USD
                        symbol: 20030N10
                        traded: 178.377936951731
                      - initial: 0
                        optimal: 74.4489722179616
                        price: 35.13
                        priceISO: USD
                        symbol: 20825C10
                        traded: 74.4489722179616
                      - initial: 0
                        optimal: 404.768296374769
                        price: 124.98
                        priceISO: USD
                        symbol: "25468710"
                        traded: 404.768296374769
                      - initial: 0
                        optimal: 7.70650720659921
                        price: 271.55
                        priceISO: USD
                        symbol: 31428X10
                        traded: 7.70650720659921
                      - initial: 0
                        optimal: 17.2164944261159
                        price: 143.66
                        priceISO: USD
                        symbol: "36955010"
                        traded: 17.2164944261159
                      - initial: 0
                        optimal: 60.8856653625898
                        price: 63.84
                        priceISO: USD
                        symbol: "37555810"
                        traded: 60.8856653625898
                      - initial: 0
                        optimal: 110.329700030537
                        price: 207.54
                        priceISO: USD
                        symbol: 38141G10
                        traded: 110.329700030537
                      - initial: 0
                        optimal: 1074.24269786733
                        price: 75.5225
                        priceISO: USD
                        symbol: 02079K30
                        traded: 1074.24269786733
                      - initial: 0
                        optimal: 42.4529910944188
                        price: 285.92
                        priceISO: USD
                        symbol: "43707610"
                        traded: 42.4529910944188
                      - initial: 0
                        optimal: 226.436802140004
                        price: 52.82
                        priceISO: USD
                        symbol: "45814010"
                        traded: 226.436802140004
                      - initial: 0
                        optimal: 231.715476190286
                        price: 127.79
                        priceISO: USD
                        symbol: "45920010"
                        traded: 231.715476190286
                      - initial: 0
                        optimal: 194.214190950901
                        price: 101.2
                        priceISO: USD
                        symbol: 46625H10
                        traded: 194.214190950901
                      - initial: 0
                        optimal: 7.34282683296022
                        price: 150.97
                        priceISO: USD
                        symbol: "47816010"
                        traded: 7.34282683296022
                      - initial: 0
                        optimal: 21.617589363912
                        price: 156.88
                        priceISO: USD
                        symbol: "53245710"
                        traded: 21.617589363912
                      - initial: 0
                        optimal: 17.3953531771513
                        price: 385.93
                        priceISO: USD
                        symbol: "53983010"
                        traded: 17.3953531771513
                      - initial: 0
                        optimal: 68.6914272162441
                        price: 173.23
                        priceISO: USD
                        symbol: "54866110"
                        traded: 68.6914272162441
                      - initial: 0
                        optimal: 199.66781862369
                        price: 80.36
                        priceISO: USD
                        symbol: 58933Y10
                        traded: 199.66781862369
                      - initial: 0
                        optimal: 411.754612094909
                        price: 215.81
                        priceISO: USD
                        symbol: "59491810"
                        traded: 411.754612094909
                      - initial: 0
                        optimal: 190.585044177952
                        price: 57.3
                        priceISO: USD
                        symbol: "60920710"
                        traded: 190.585044177952
                      - initial: 0
                        optimal: 2.03877080463564
                        price: 48.83
                        priceISO: USD
                        symbol: "61744644"
                        traded: 2.03877080463564
                      - initial: 0
                        optimal: 325.113521138635
                        price: 75.7275
                        priceISO: USD
                        symbol: 65339F10
                        traded: 325.113521138635
                      - initial: 0
                        optimal: 3571.90039063949
                        price: 13.762751
                        priceISO: USD
                        symbol: 67066G10
                        traded: 3571.90039063949
                      - initial: 0
                        optimal: 31.7902961681389
                        price: 10.82
                        priceISO: USD
                        symbol: "67459910"
                        traded: 31.7902961681389
                      - initial: 0
                        optimal: 476.205475156668
                        price: 61.15
                        priceISO: USD
                        symbol: 68389X10
                        traded: 476.205475156668
                      - initial: 0
                        optimal: 256.867372115051
                        price: 36.79
                        priceISO: USD
                        symbol: "71708110"
                        traded: 256.867372115051
                      - initial: 0
                        optimal: 115.96550087883
                        price: 78.88
                        priceISO: USD
                        symbol: "71817210"
                        traded: 115.96550087883
                      - initial: 0
                        optimal: 12.0223036573334
                        price: 1817.89
                        priceISO: USD
                        symbol: 09857L10
                        traded: 12.0223036573334
                      - initial: 0
                        optimal: 90.6698587832307
                        price: 142.92
                        priceISO: USD
                        symbol: "74271810"
                        traded: 90.6698587832307
                      - initial: 0
                        optimal: 55.0925669119847
                        price: 124.87
                        priceISO: USD
                        symbol: "74752510"
                        traded: 55.0925669119847
                      - initial: 0
                        optimal: 213.836976076268
                        price: 16.23
                        priceISO: USD
                        symbol: "80685710"
                        traded: 213.836976076268
                      - initial: 0
                        optimal: 61.868525213484
                        price: 90.01
                        priceISO: USD
                        symbol: "85524410"
                        traded: 61.868525213484
                      - initial: 0
                        optimal: 111.910118173217
                        price: 163.71
                        priceISO: USD
                        symbol: 87612E10
                        traded: 111.910118173217
                      - initial: 0
                        optimal: 22.3392956674123
                        price: 205.78
                        priceISO: USD
                        symbol: "90781810"
                        traded: 22.3392956674123
                      - initial: 0
                        optimal: 42.8257613084101
                        price: 174.69
                        priceISO: USD
                        symbol: "91131210"
                        traded: 42.8257613084101
                      - initial: 0
                        optimal: 70.0060275052581
                        price: 327.84
                        priceISO: USD
                        symbol: 91324P10
                        traded: 70.0060275052581
                      - initial: 0
                        optimal: 278.367271535762
                        price: 59.33
                        priceISO: USD
                        symbol: 92343V10
                        traded: 278.367271535762
                      - initial: 0
                        optimal: 440.935707398621
                        price: 47.593285
                        priceISO: USD
                        symbol: "93114210"
                        traded: 440.935707398621
                      - initial: 0
                        optimal: 116.20313376868
                        price: 264.45
                        priceISO: USD
                        symbol: 30303M10
                        traded: 116.20313376868
                      - initial: 0
                        optimal: 8.17773466047286E-4
                        price: 75.761
                        priceISO: USD
                        symbol: 02079K10
                        traded: 8.17773466047286E-4
                      stats:
                        activeCoefficientOfDetermination:
                          delta: -0.985340665191326
                          final: 0.0146593348086745
                          initial: 1
                        activeFactorRisk:
                          delta: -20.8580947621488
                          final: 1.38648586790494
                          initial: 22.2445806300537
                        activePredictedBeta:
                          delta: 0.982898464370208
                          final: -0.0171015356297921
                          initial: -1
                        activeRisk:
                          delta: -19.3764829574225
                          final: 3.18701754716182
                          initial: 22.5635005045844
                        activeRiskWithAlphaFactor:
                          delta: -23.5975055688766
                          final: 3.51030579837066
                          initial: 27.1078113672472
                        activeSpecificRisk:
                          delta: -0.910613166810062
                          final: 2.86962328259603
                          initial: 3.78023644940609
                        benchmarkRisk:
                          delta: 0
                          final: 22.5635005045844
                          initial: 22.5635005045844
                        buyTurnover:
                          delta: 999999.999346452
                          final: 999999.999346452
                          initial: 0
                        buyTurnoverPercent:
                          delta: 99.9999999346452
                          final: 99.9999999346452
                          initial: 0
                        cashValue:
                          delta: -1000000
                          final: 0
                          initial: 1000000
                        cashValuePercent:
                          delta: -100
                          final: 0
                          initial: 100
                        coefficientOfDetermination:
                          delta: 0.980057634810763
                          final: 0.980057634810763
                          initial: 0
                        expectedReturnPercent:
                          delta: 1.79430864829524
                          final: 1.80430864829524
                          initial: 0.01
                        historicalBeta:
                          delta: 0.909695316037635
                          final: 0.909695316037635
                          initial: 0
                        longCount:
                          delta: 53
                          final: 53
                          initial: 0
                        longShortRatio:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        longValue:
                          delta: 999999.999346452
                          final: 999999.999346452
                          initial: 0
                        longValuePercent:
                          delta: 99.9999999346452
                          final: 99.9999999346452
                          initial: 0
                        netValue:
                          delta: -6.53548282571137E-4
                          final: 999999.999346452
                          initial: 1000000
                        predictedBeta:
                          delta: 0.982898464370208
                          final: 0.982898464370208
                          initial: 0
                        predictedInformationRatio:
                          delta: 0.108571667695217
                          final: 0.0338269969823541
                          initial: -0.0747446707128634
                        referenceValue:
                          delta: 0
                          final: 1000000
                          initial: 1000000
                        sellTurnover:
                          delta: 1000000
                          final: 1000000
                          initial: 0
                        sellTurnoverPercent:
                          delta: 100
                          final: 100
                          initial: 0
                        shortCount:
                          delta: 0
                          final: 0
                          initial: 0
                        shortValue:
                          delta: 0
                          final: 0
                          initial: 0
                        shortValuePercent:
                          delta: 0
                          final: 0
                          initial: 0
                        totalFactorRisk:
                          delta: 22.0075933925057
                          final: 22.0075933925057
                          initial: 0
                        totalRisk:
                          delta: 22.4021306368581
                          final: 22.4021306368581
                          initial: 0
                        totalRiskWithAlphaFactor:
                          delta: 7.45907197205342
                          final: 22.4590719720534
                          initial: 15
                        totalSpecificRisk:
                          delta: 4.18584401775749
                          final: 4.18584401775749
                          initial: 0
                        tradeCount:
                          delta: 54
                          final: 54
                          initial: 0
                        transactionCost:
                          delta: 0
                          final: 0
                          initial: 0
                        transactionCostPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        transactionCostPercentOfTradedValue:
                          delta: 0
                          final: 0
                          initial: 0
                        transferCoefficient:
                          delta: 0.144057937657261
                          final: 0.0447007624701088
                          initial: -0.0993571751871526
                        turnover:
                          delta: 1999999.99934645
                          final: 1999999.99934645
                          initial: 0
                        turnoverPercent:
                          delta: 199.999999934645
                          final: 199.999999934645
                          initial: 0
                      trades:
                      - symbol: CASH_USD
                        tradeAction: SELLL
                        tradeType: None
                        traded: -1000000
                      - symbol: 00287Y10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 146.929203017915
                      - symbol: 02209S10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 6.03287401353108
                      - symbol: "03116210"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 60.9287025330573
                      - symbol: "03783310"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 782.205036830645
                      - symbol: "08467070"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 353.630232567001
                      - symbol: 09062X10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 59.1533929759704
                      - symbol: 09290D10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 24.2500476448453
                      - symbol: "09702310"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 69.5668811741596
                      - symbol: "11012210"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 237.657215875938
                      - symbol: "14912310"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 94.1930888731728
                      - symbol: "16676410"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 82.4540862732837
                      - symbol: 17275R10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 365.905421706413
                      - symbol: "19121610"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 231.199623949045
                      - symbol: "19416210"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 237.26361968623
                      - symbol: 20030N10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 178.377936951731
                      - symbol: 20825C10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 74.4489722179616
                      - symbol: "25468710"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 404.768296374769
                      - symbol: 31428X10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 7.70650720659921
                      - symbol: "36955010"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 17.2164944261159
                      - symbol: "37555810"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 60.8856653625898
                      - symbol: 38141G10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 110.329700030537
                      - symbol: 02079K30
                        tradeAction: BUYL
                        tradeType: None
                        traded: 1074.24269786733
                      - symbol: "43707610"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 42.4529910944188
                      - symbol: "45814010"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 226.436802140004
                      - symbol: "45920010"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 231.715476190286
                      - symbol: 46625H10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 194.214190950901
                      - symbol: "47816010"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 7.34282683296022
                      - symbol: "53245710"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 21.617589363912
                      - symbol: "53983010"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 17.3953531771513
                      - symbol: "54866110"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 68.6914272162441
                      - symbol: 58933Y10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 199.66781862369
                      - symbol: "59491810"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 411.754612094909
                      - symbol: "60920710"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 190.585044177952
                      - symbol: "61744644"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 2.03877080463564
                      - symbol: 65339F10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 325.113521138635
                      - symbol: 67066G10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 3571.90039063949
                      - symbol: "67459910"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 31.7902961681389
                      - symbol: 68389X10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 476.205475156668
                      - symbol: "71708110"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 256.867372115051
                      - symbol: "71817210"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 115.96550087883
                      - symbol: 09857L10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 12.0223036573334
                      - symbol: "74271810"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 90.6698587832307
                      - symbol: "74752510"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 55.0925669119847
                      - symbol: "80685710"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 213.836976076268
                      - symbol: "85524410"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 61.868525213484
                      - symbol: 87612E10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 111.910118173217
                      - symbol: "90781810"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 22.3392956674123
                      - symbol: "91131210"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 42.8257613084101
                      - symbol: 91324P10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 70.0060275052581
                      - symbol: 92343V10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 278.367271535762
                      - symbol: "93114210"
                        tradeAction: BUYL
                        tradeType: None
                        traded: 440.935707398621
                      - symbol: 30303M10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 116.20313376868
                      - symbol: 02079K10
                        tradeAction: BUYL
                        tradeType: None
                        traded: 8.17773466047286E-4
                AFI Result:
                  summary: AFI result
                  value:
                    data:
                      holdings:
                      - initial: 1000000
                        optimal: 0
                        price: 1
                        priceISO: USD
                        symbol: CASH_USD
                        traded: -1000000
                      - initial: 0
                        optimal: 1100636.71834138
                        price: 0.908565
                        priceISO: USD
                        symbol: 71654QCC
                        traded: 1100636.71834138
                      stats:
                        accruedInterestPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        activeCoefficientOfDetermination:
                          delta: -0.290025855144662
                          final: 0.709974144855338
                          initial: 1
                        activeFactorRisk:
                          delta: 7.11200211040288
                          final: 31.3376061570826
                          initial: 24.2256040466797
                        activePredictedBeta:
                          delta: 2.22181950406761
                          final: 1.22181950406761
                          initial: -1
                        activeRisk:
                          delta: 10.9523945386093
                          final: 35.2878378852841
                          initial: 24.3354433466749
                        activeRiskWithAlphaFactor:
                          delta: 11.0121188998666
                          final: 35.3479860353971
                          initial: 24.3358671355305
                        activeSpecificRisk:
                          delta: 13.9134803545061
                          final: 16.2230065943917
                          initial: 2.30952623988564
                        benchmarkRisk:
                          delta: 0
                          final: 24.3354433466749
                          initial: 24.3354433466749
                        buyTurnover:
                          delta: 999999.999999839
                          final: 999999.999999839
                          initial: 0
                        buyTurnoverPercent:
                          delta: 99.9999999999839
                          final: 99.9999999999839
                          initial: 0
                        cashValue:
                          delta: -1000000
                          final: 0
                          initial: 1000000
                        cashValuePercent:
                          delta: -100
                          final: 0
                          initial: 100
                        coefficientOfDetermination:
                          delta: 0.890047766727314
                          final: 0.890047766727314
                          initial: 0
                        couponRatePercent:
                          delta: 6.74999999999891
                          final: 6.74999999999891
                          initial: 0
                        effectiveConvexity:
                          delta: 1.81145879999971
                          final: 1.81145879999971
                          initial: 0
                        effectiveDuration:
                          delta: 10.4293359999983
                          final: 10.4293359999983
                          initial: 0
                        effectiveYieldPercent:
                          delta: 8.64105701446394
                          final: 8.64105701446394
                          initial: 0
                        expectedReturnPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        historicalBeta:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        longCount:
                          delta: 1
                          final: 1
                          initial: 0
                        longShortRatio:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        longValue:
                          delta: 999999.999999839
                          final: 999999.999999839
                          initial: 0
                        longValuePercent:
                          delta: 99.9999999999839
                          final: 99.9999999999839
                          initial: 0
                        modifiedDuration:
                          delta: 10.7767349999983
                          final: 10.7767349999983
                          initial: 0
                        netValue:
                          delta: -1.61002390086651E-7
                          final: 999999.999999839
                          initial: 1000000
                        oas:
                          delta: 748.951899999879
                          final: 748.951899999879
                          initial: 0
                        predictedBeta:
                          delta: 2.22181950406761
                          final: 2.22181950406761
                          initial: 0
                        predictedInformationRatio:
                          delta: 0
                          final: 0
                          initial: 0
                        referenceValue:
                          delta: 0
                          final: 1000000
                          initial: 1000000
                        sellTurnover:
                          delta: 1000000
                          final: 1000000
                          initial: 0
                        sellTurnoverPercent:
                          delta: 100
                          final: 100
                          initial: 0
                        shortCount:
                          delta: 0
                          final: 0
                          initial: 0
                        shortValue:
                          delta: 0
                          final: 0
                          initial: 0
                        shortValuePercent:
                          delta: 0
                          final: 0
                          initial: 0
                        totalFactorRisk:
                          delta: 54.7395150508408
                          final: 54.7395150508408
                          initial: 0
                        totalRisk:
                          delta: 57.3114478561577
                          final: 57.3114478561577
                          initial: 0
                        totalRiskWithAlphaFactor:
                          delta: 57.2120084934853
                          final: 57.3484467884818
                          initial: 0.136438294996514
                        totalSpecificRisk:
                          delta: 16.9760875164998
                          final: 16.9760875164998
                          initial: 0
                        tradeCount:
                          delta: 2
                          final: 2
                          initial: 0
                        transactionCost:
                          delta: 0
                          final: 0
                          initial: 0
                        transactionCostPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        transferCoefficient:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        turnover:
                          delta: 1999999.99999984
                          final: 1999999.99999984
                          initial: 0
                        turnoverPercent:
                          delta: 199.999999999984
                          final: 199.999999999984
                          initial: 0
                        yearsToMaturity:
                          delta: 26.9671232876669
                          final: 26.9671232876669
                          initial: 0
                        yieldToMaturityPercent:
                          delta: 8.64105699999861
                          final: 8.64105699999861
                          initial: 0
                      trades:
                      - symbol: CASH_USD
                        tradeAction: SELLL
                        tradeType: None
                        traded: -1000000
                      - symbol: 71654QCC
                        tradeAction: BUYL
                        tradeType: None
                        traded: 1100636.71834138
                BPM Result:
                  summary: BPM result
                  value:
                    data:
                      holdings:
                      - initial: 1
                        optimal: 0
                        price: 84.7
                        priceISO: USD
                        symbol: "25468710"
                        traded: -1
                      - initial: 1
                        optimal: 0.869173737970843
                        price: 295.36
                        priceISO: USD
                        symbol: "43707610"
                        traded: -0.130826262029157
                      - initial: 1
                        optimal: 0.896656300801454
                        price: 188.49
                        priceISO: USD
                        symbol: "09702310"
                        traded: -0.103343699198546
                      - initial: 1
                        optimal: 0.0705446506061545
                        price: 158.54
                        priceISO: USD
                        symbol: "47816010"
                        traded: -0.929455349393846
                      - initial: 1
                        optimal: 0.672904950786877
                        price: 142.2
                        priceISO: USD
                        symbol: "45920010"
                        traded: -0.327095049213123
                      - initial: 3.000003000003
                        optimal: 4.07710493959664
                        price: 51.94661
                        priceISO: USD
                        symbol: "93114210"
                        traded: 1.07710193959364
                      - initial: 1
                        optimal: 0.966671964718474
                        price: 271.3
                        priceISO: USD
                        symbol: "14912310"
                        traded: -0.0333280352815261
                      - initial: 1
                        optimal: 0
                        price: 52.88
                        priceISO: USD
                        symbol: "19121610"
                        traded: -1
                      - initial: 1
                        optimal: 0.323573630353587
                        price: 186.52
                        priceISO: USD
                        symbol: "43851610"
                        traded: -0.676426369646413
                      - initial: 1
                        optimal: 0.90434514159891
                        price: 249.92
                        priceISO: USD
                        symbol: "58013510"
                        traded: -0.09565485840109
                      - initial: 1
                        optimal: 0.600781913811021
                        price: 148.82
                        priceISO: USD
                        symbol: "02581610"
                        traded: -0.399218086188979
                      - initial: 1
                        optimal: 0
                        price: 36.06
                        priceISO: USD
                        symbol: "45814010"
                        traded: -1
                      - initial: 1
                        optimal: 1.04572180199543
                        price: 143.36
                        priceISO: USD
                        symbol: "74271810"
                        traded: 0.0457218019954324
                      - initial: 1
                        optimal: 13.1691465104486
                        price: 89.05
                        priceISO: USD
                        symbol: 88579Y10
                        traded: 12.1691465104486
                      - initial: 1
                        optimal: 1.21222549982625
                        price: 329.82
                        priceISO: USD
                        symbol: "59491810"
                        traded: 0.212225499826248
                      - initial: 1
                        optimal: 0.670484014734019
                        price: 144.77
                        priceISO: USD
                        symbol: 46625H10
                        traded: -0.329515985265981
                      - initial: 1
                        optimal: 0
                        price: 31.45
                        priceISO: USD
                        symbol: 92343V10
                        traded: -1
                      - initial: 1
                        optimal: 0.787613828976591
                        price: 166.72
                        priceISO: USD
                        symbol: "16676410"
                        traded: -0.212386171023409
                      - initial: 1
                        optimal: 0
                        price: 53.92
                        priceISO: USD
                        symbol: 17275R10
                        traded: -1
                      - initial: 1
                        optimal: 0.752918907687363
                        price: 163.26
                        priceISO: USD
                        symbol: 89417E10
                        traded: -0.247081092312637
                      - initial: 1
                        optimal: 1.08502557236036
                        price: 104.5
                        priceISO: USD
                        symbol: 58933Y10
                        traded: 0.0850255723603557
                      - initial: 1
                        optimal: 0.886343047810662
                        price: 526.51
                        priceISO: USD
                        symbol: 91324P10
                        traded: -0.113656952189338
                      - initial: 1
                        optimal: 1.02286696643714
                        price: 234.44
                        priceISO: USD
                        symbol: 92826C83
                        traded: 0.0228669664371448
                      - initial: 1
                        optimal: 0
                        price: 96.88
                        priceISO: USD
                        symbol: "65410610"
                        traded: -1
                      - initial: 1
                        optimal: 0.700517917948146
                        price: 312.61
                        priceISO: USD
                        symbol: 38141G10
                        traded: -0.299482082051854
                      - initial: 1
                        optimal: 1.01129794218767
                        price: 178.99
                        priceISO: USD
                        symbol: "03783310"
                        traded: 0.011297942187674
                      - initial: 1
                        optimal: 0
                        price: 22.27
                        priceISO: USD
                        symbol: "93142710"
                        traded: -1
                      - initial: 1
                        optimal: 0
                        price: 50.81
                        priceISO: USD
                        symbol: "26055710"
                        traded: -1
                      - initial: 1
                        optimal: 0.822100237461048
                        price: 271.54
                        priceISO: USD
                        symbol: "03116210"
                        traded: -0.177899762538952
                      - initial: 1
                        optimal: 0.946000274908151
                        price: 207.22
                        priceISO: USD
                        symbol: 79466L30
                        traded: -0.0539997250918488
                      - initial: 0
                        optimal: 0.0312193580158563
                        price: 110.92
                        priceISO: USD
                        symbol: 30231G10
                        traded: 0.0312193580158563
                      stats:
                        activeCoefficientOfDetermination:
                          delta: 0
                          final: 0
                          initial: 0
                        activePredictedBeta:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        activeRisk:
                          delta: 5.2330168997704
                          final: 5.2330168997704
                          initial: 0
                        amortizedTransactionCostPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        averageSharePrice:
                          delta: -7.24901324034877
                          final: 152.086908879393
                          initial: 159.335922119742
                        coefficientOfDetermination:
                          delta: 0
                          final: 0
                          initial: 0
                        expectedReturnPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        forecastedInformationRatio:
                          delta: 0
                          final: 0
                          initial: -1.0E22
                        impliedInformationRatio:
                          delta: 0.0955369125360901
                          final: 0.0955369125360901
                          initial: -1.0E22
                        leverage:
                          delta: 1.58317803311547E-13
                          final: 1.00000000000016
                          initial: 1
                        numberOfAssets:
                          delta: -7
                          final: 23
                          initial: 30
                        numberOfAssetsRejected:
                          delta: 0
                          final: 0
                          initial: 0
                        penaltiesPercent:
                          delta: 0
                          final: 0
                          initial: 0
                        percentOfValueInCash:
                          delta: 0
                          final: 0
                          initial: 0
                        predictedBetaToBenchmark:
                          delta: 0.0236580050909443
                          final: 1.02365800509094
                          initial: 1
                        predictedBetaToMarket:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        residualAlphaPercent:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        riskAdjustedExpectedReturnPercent:
                          delta: -0.20538349404962
                          final: -0.20538349404962
                          initial: 0
                        riskCostPercent:
                          delta: 0.20538349404962
                          final: 0.20538349404962
                          initial: 0
                        sharpeRatio:
                          delta: 0
                          final: 0
                          initial: 0
                        spannedAlphaPercent:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        totalRisk:
                          delta: 1.19381435439685
                          final: 17.0462980292319
                          initial: 15.8524836748351
                        totalShares:
                          delta: 1.52523611103822
                          final: 33.5252391110412
                          initial: 32.000003000003
                        totalValue:
                          delta: 0
                          final: 5098.74998583999
                          initial: 5098.74998583999
                        transferCoefficient:
                          delta: -1.0E22
                          final: -1.0E22
                          initial: -1.0E22
                        turnoverPercent:
                          delta: 24.2392029467391
                          final: 24.2392029467391
                          initial: -1.0E22
                        utilityPercent:
                          delta: -0.20538349404962
                          final: -0.20538349404962
                          initial: 0
                      trades:
                      - symbol: "25468710"
                        tradeAction: SELLL
                        traded: -1
                      - symbol: "43707610"
                        tradeAction: SELLL
                        traded: -0.130826262029157
                      - symbol: "09702310"
                        tradeAction: SELLL
                        traded: -0.103343699198546
                      - symbol: "47816010"
                        tradeAction: SELLL
                        traded: -0.929455349393846
                      - symbol: "45920010"
                        tradeAction: SELLL
                        traded: -0.327095049213123
                      - symbol: "93114210"
                        tradeAction: BUYL
                        traded: 1.07710193959364
                      - symbol: "14912310"
                        tradeAction: SELLL
                        traded: -0.0333280352815261
                      - symbol: "19121610"
                        tradeAction: SELLL
                        traded: -1
                      - symbol: "43851610"
                        tradeAction: SELLL
                        traded: -0.676426369646413
                      - symbol: "58013510"
                        tradeAction: SELLL
                        traded: -0.09565485840109
                      - symbol: "02581610"
                        tradeAction: SELLL
                        traded: -0.399218086188979
                      - symbol: "45814010"
                        tradeAction: SELLL
                        traded: -1
                      - symbol: "74271810"
                        tradeAction: BUYL
                        traded: 0.0457218019954324
                      - symbol: 88579Y10
                        tradeAction: BUYL
                        traded: 12.1691465104486
                      - symbol: "59491810"
                        tradeAction: BUYL
                        traded: 0.212225499826248
                      - symbol: 46625H10
                        tradeAction: SELLL
                        traded: -0.329515985265981
                      - symbol: 92343V10
                        tradeAction: SELLL
                        traded: -1
                      - symbol: "16676410"
                        tradeAction: SELLL
                        traded: -0.212386171023409
                      - symbol: 17275R10
                        tradeAction: SELLL
                        traded: -1
                      - symbol: 89417E10
                        tradeAction: SELLL
                        traded: -0.247081092312637
                      - symbol: 58933Y10
                        tradeAction: BUYL
                        traded: 0.0850255723603557
                      - symbol: 91324P10
                        tradeAction: SELLL
                        traded: -0.113656952189338
                      - symbol: 92826C83
                        tradeAction: BUYL
                        traded: 0.0228669664371448
                      - symbol: "65410610"
                        tradeAction: SELLL
                        traded: -1
                      - symbol: 38141G10
                        tradeAction: SELLL
                        traded: -0.299482082051854
                      - symbol: "03783310"
                        tradeAction: BUYL
                        traded: 0.011297942187674
                      - symbol: "93142710"
                        tradeAction: SELLL
                        traded: -1
                      - symbol: "26055710"
                        tradeAction: SELLL
                        traded: -1
                      - symbol: "03116210"
                        tradeAction: SELLL
                        traded: -0.177899762538952
                      - symbol: 79466L30
                        tradeAction: SELLL
                        traded: -0.0539997250918488
                      - symbol: 30231G10
                        tradeAction: BUYL
                        traded: 0.0312193580158563
                NPO Result:
                  summary: NPO result
                  value:
                    data:
                      holdings:
                      - initial: 1000
                        optimal: 0
                        price: 108.22
                        priceISO: USD
                        symbol: 02079K10
                        traded: -1000
                      - initial: 1000
                        optimal: 0
                        price: 107.34
                        priceISO: USD
                        symbol: 02079K30
                        traded: -1000
                      - initial: 0
                        optimal: 100
                        price: 239.74
                        priceISO: USD
                        symbol: "03116210"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 218.8
                        priceISO: USD
                        symbol: "14912310"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 168.58
                        priceISO: USD
                        symbol: "16676410"
                        traded: 100
                      - initial: 0
                        optimal: 200
                        price: 64.15
                        priceISO: USD
                        symbol: "19121610"
                        traded: 200
                      - initial: 0
                        optimal: 100
                        price: 54.4
                        priceISO: USD
                        symbol: "26055710"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 199.84
                        priceISO: USD
                        symbol: "43851610"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 126.41
                        priceISO: USD
                        symbol: "45920010"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 163.7
                        priceISO: USD
                        symbol: "47816010"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 295.75
                        priceISO: USD
                        symbol: "58013510"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 115.47
                        priceISO: USD
                        symbol: 58933Y10
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 156.38
                        priceISO: USD
                        symbol: "74271810"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 181.14
                        priceISO: USD
                        symbol: 89417E10
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 50.32328
                        priceISO: USD
                        symbol: "93114210"
                        traded: 100
                      - initial: 0
                        optimal: 100
                        price: 35.25
                        priceISO: USD
                        symbol: "93142710"
                        traded: 100
                      stats:
                        benchmarkAbsoluteRisk:
                          delta: 0
                          final: 18.1797966279052
                          initial: 18.1797966279052
                        beta:
                          delta: -0.272566149691241
                          final: 0.906873348451746
                          initial: 1.17943949814299
                        factorReturn:
                          delta: 0
                          final: 0
                          initial: 0
                        factorRisk:
                          delta: -221.769497634064
                          final: 38.7012820153449
                          initial: 260.470779649409
                        freeCash:
                          delta: 2151.67199999999
                          final: 2151.67199999999
                          initial: -1.0E22
                        portfolioAbsoluteRisk:
                          delta: -11.0317761275087
                          final: 18.179766153255
                          initial: 29.2115422807637
                        portfolioUtility:
                          delta: 3.42641351465246
                          final: -0.615565409066824
                          initial: -4.04197892371929
                        portfolioValue:
                          delta: 0
                          final: 215560
                          initial: 215560
                        rSquared:
                          delta: 0.283630940531442
                          final: 0.822422027368928
                          initial: 0.538791086837486
                        roundLotErrorPercent:
                          delta: 117.038166908537
                          final: 117.038166908537
                          initial: -1.0E22
                        stockSpecificReturn:
                          delta: 0
                          final: 0
                          initial: 0
                        stockSpecificRisk:
                          delta: -120.871853831182
                          final: 22.8552588913375
                          initial: 143.727112722519
                        stockValue:
                          delta: 213408.328
                          final: 213408.328
                          initial: -1.0E22
                        totalReturn:
                          delta: 0
                          final: 0
                          initial: 0
                        totalRisk:
                          delta: -342.641351465246
                          final: 61.5565409066825
                          initial: 404.197892371929
                        totalTrackingError:
                          delta: -12.2588757372555
                          final: 7.84579765904541
                          initial: 20.1046733963009
                        transactionCosts:
                          delta: 0
                          final: 0
                          initial: 0
                      trades:
                      - symbol: 02079K10
                        tradeAction: SELLL
                        traded: -1000
                      - symbol: 02079K30
                        tradeAction: SELLL
                        traded: -1000
                      - symbol: "03116210"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "14912310"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "16676410"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "19121610"
                        tradeAction: BUYL
                        traded: 200
                      - symbol: "26055710"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "43851610"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "45920010"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "47816010"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "58013510"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: 58933Y10
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "74271810"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: 89417E10
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "93114210"
                        tradeAction: BUYL
                        traded: 100
                      - symbol: "93142710"
                        tradeAction: BUYL
                        traded: 100
              schema:
                $ref: '#/components/schemas/ResultResponse'
          description: Gets the optimization result.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "202":
          content:
            application/json:
              example:
                data:
                  id: sPNUxbYfnz%2BEv2nyItLDmt2DYD1ETfS
                  status: executing
                  detailedStatus: Processing optimization request...
              schema:
                $ref: '#/components/schemas/OptimizationStatus'
          description: The request to run an optimization has been accepted. The response
            includes a 202 Accepted status code, the ID of the new resource, and a
            Location header with the URL to check the status of the optimization.
          headers:
            Location:
              description: URL to poll for the resulting optimization
              explode: false
              schema:
                description: URL to poll for the resulting optimization
                type: string
              style: simple
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
            X-RateLimit-Remaining-minute:
              $ref: '#/components/headers/RemainingMinute'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/LimitSecond'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/RemainingSecond'
            RateLimit-Limit:
              $ref: '#/components/headers/Limit'
            RateLimit-Reset:
              $ref: '#/components/headers/Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/DataDirectRequest'
            X-RateLimit-Limit-minute:
              $ref: '#/components/headers/LimitMinute'
[...]
