openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    FactSet ESG (powered by FactSet Truvalue) applies Natural Language Processing and Machine Learning to uncover risks and opportunities from companies' Environmental, Social and Governance (ESG) behavior, which are aggregated and categorized into continuously updated, material ESG scores. The service focuses on company ESG behavior from external sources and includes both positive and negative events that go beyond traditional sources of ESG risk data.<p> FactSet ESG extracts, analyzes, and generates scores from millions of documents each month collected from more than 200,000 data sources in over 38 languages. Sources include news, trade journals, NGOs, watchdog groups, trade blogs and industry reports. Products deliver investable insights by revealing value and risk factors from unstructured data at the speed of current events.</p>
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet ESG API
  version: 3.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-esg-api
servers:
- description: Production
  url: https://api.factset.com/content/factset-esg/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get comprehensive Truvalue data including Scores and Ranks based on
    26 SASB categories, Pillars, and Dimensions for specified symbols and date ranges.
    Additionally, obtain Spotlight and Articles data highlighting the most significant
    positive and negative events.
  name: Truvalue
- description: Get the Principle Adverse Impact PAI data supporting the SFDR reporting.
  name: SFDR
paths:
  /truvalue/scores:
    get:
      description: |
        FactSet Truvalue Scores provides short-term, long-term, and momentum scores that are generated for 26 SASB categories defined by the Sustainability Accounting Standards Board. FactSet Truvalue also calculates a custom overall score called `ALLCATEGORIES`, can indicate data volume flow, and the Dynamic Materiality of that data flow.
      operationId: getTVLScores
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may exceed this request line limit of 8KB, it is advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 30
            pattern: ^[A-Za-z0-9 -]+$
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: "The FactSet Truvalue Score types being requested. Score Types\
          \ include the Pulse, Insight, Momentum, Article Volume, Category Volume,\
          \ Dynamic Materiality Score, Adjusted Insight, and Industry Percentile.\
          \ When left blank `Ranks` score type will be returned for the requested\
          \ Id. <p>These scores use the same underlying data and 100-point scale,\
          \ except for ranks. The cognitive computing system behind FactSet's Truvalue\
          \ Platform uses natural language processing to interpret semantic content\
          \ and generate analytics. It does so by applying criteria that are consistent\
          \ with established sustainability and SASB frameworks, scoring data points\
          \ on performance using a 0 to 100 scale. A score of 50 represents a neutral\
          \ impact. Scores above 50 indicate positive performance, and scores below\
          \ reflect negative performance. <br>**Note** : Only one score type can be\
          \ queried per request.</p>\n### Truvalue Score Types\n\n|**Truvalue Score\
          \ Type Input**|**Description**|\n|---|---|\n|**PULSE**|*Pulse Score* is\
          \ a measure of near-term performance changes that highlights opportunities\
          \ and controversies, enabling real-time monitoring of companies.|\n|**PULSE_PCTL**|*Pulse\
          \ Percentile* offers context on company Pulse Scores relative to peers in\
          \ the same SICS Industry.|\n|**INSIGHT**|*Insight Score* a measure of a\
          \ company’s longer-term ESG track record.|\n|**INSIGHT_PCTL**|*Insight Percentile*\
          \ offers context on company Insight Scores relative to peers in the same\
          \ SICS Industry **(NOT VALID for TOPLEVEL(i.e., `ALLCATEGORIES` and `MATERIALITY`\
          \ fields)).**|\n|**MOMENTUM**|*Momentum Score* measures the trend of a company's\
          \ Insight score, over a trailing twelve month period.|\n|**DYN_MATERIALITY**|*Dynamic\
          \ Materiality Score*, shows the percentage value of data flow by category\
          \ compared with the total data flow for the organization **(NOT VALID for\
          \ TOPLEVEL(i.e., `ALLCATEGORIES` and `MATERIALITY` fields)).**|\n|**ARTVOL_DAY**|*Article\
          \ Volume Score* measures the information flow or number of articles about\
          \ a company on daily basis.|\n|**CATVOL_DAY**|*Category Volume Score* returns\
          \ the total number of times any of the 26 categories received on a daily\
          \ basis.|\n|**ARTVOL_TTM**|*Article Volume Score* measures the information\
          \ flow or number of articles about a company over the past 12 months.|\n\
          |**CATVOL_TTM**|*Category Volume Score* returns the total number of times\
          \ any of the 26 categories received a score over a trailing twelve-month\
          \ (TTM) period of time.|\n|**ARTVOL_TOT**|*The Article Volume Score* for\
          \ all 26 SASB Categories, measures the information flow or number of articles\
          \ for a company throughout the entire history.|\n|**CATVOL_TOT**|*The Category\
          \ Volume Score* for all 26 SASB Categories, measures the information flow\
          \ or number of category tags for a company throughout the entire history.|\n\
          |**RANKS**|Indicates if a company is a Leader, Above Average, Average, Below\
          \ Average, or a Laggard; directly mapping from Industry Percentiles (request\
          \ IND_PCTL in scores endpoints). <p><br> **ADJ_INSIGHT** *Adjusted Insight*\
          \ scores which measure a company's SASB performance, generating scores for\
          \ lower volume and zero-volume firms by blending company scores with industry\
          \ medians.  **(ONLY VALID for TOPLEVEL(i.e.,`ALLCATEGORIES` and `MATERIALITY`\
          \ categories)).** <p> **Adjusted Insight Score = (# of articles / 5) x Company\
          \ Insight Score + ((5 - # of articles) / 5) x Industry (or Sector) Median\
          \ Insight Score  .<p> <br> **IND_PCTL** *Industry Percentiles* to gauge\
          \  Adjusted Insight scores relative to peers and easy to  decipher fields\
          \ ranking companies from Laggards to Leaders.  **(ONLY VALID for TOPLEVEL(i.e.,`ALLCATEGORIES`\
          \ and `MATERIALITY` categories)).** <p> Mapping of Ranks to Industry Percentile\
          \ Ranges is as follows -\n\n                    Rank           | Industry\
          \ Percentile Range \n                    -------------- | -------------------------\
          \ \n                    Leader         | 90 - 100                  \n  \
          \                  Above Average  | 70 - 89.9                 \n       \
          \             Average        | 30 - 69.9                 \n            \
          \        Below Average  | 10 - 29.9                 \n                 \
          \   Laggard        | 0 - 9.9  \n"
        example: MOMENTUM
        explode: false
        in: query
        name: scoreType
        required: false
        schema:
          default: RANKS
          maxLength: 17
          pattern: ^[A-Za-z _]+$
          type: string
        style: form
      - description: "Request available Scores data fields to be included in the response.\n\
          \ Default is all fields and the available options are:<br> TOPLEVEL, PILLARS,\
          \ DIMENSIONS, SASBCATEGORIES, TOPLEVEL AND PILLARS, TOPLEVEL AND SASBCATEGORIES.\
          \ \n\n### Truvalue Fields\n|**Truvalue Fields Inputs**|**Description**|\n\
          |---|---|\n|**TOPLEVEL**| This category represents a comprehensive overview\
          \ of a company's Truvalue Score by integrating two key perspectives: ALLCATEGORIES\
          \ and MATERIALITY.|\n||**ALLCATEGORIES**  represents a company's overall\
          \ Truvalue Score for the specific 'scoreType'. This value is equal to the\
          \ cumulative average of all 26 SASB categories for the specific 'scoreType'.\
          \ **Note** that category is not available for the Dynamic Materiality 'scoreType'.\n\
          ||**MATERIALITY**  represents a composite score of all 'material' SASB categories\
          \ for the given entity.|\n|**PILLARS**| Pillars are high-level categorizations\
          \ of **Environmental, Social, and Governance** factors used to organize\
          \ and group the 26 SASB categories. The three main pillars are Environmental,\
          \ Social, and Governance. Each pillar encompasses several SASB categories\
          \ that are thematically related. Pillars provide a broad framework for understanding\
          \ and assessing a company's SASB performance and risks across these three\
          \ fundamental areas.|\n|**DIMENSIONS**|Dimensions offer a more nuanced classification\
          \ system for the 26 SASB categories, breaking them down into five distinct\
          \ areas: **Environment, Business Model and Innovation, Human Capital, Leadership\
          \ and Governance, and Social Capital**. This framework provides a more detailed\
          \ and comprehensive view of a company's sustainability related activities,\
          \ allowing for a more granular analysis of performance and risk across these\
          \ five key dimensions of business operations and impact.|\n|**SASBCATEGORIES**|\
          \ The Sustainability Accounting Standards Board (SASB) has developed a comprehensive\
          \ set of 26 sustainability-related business topics, often referred to as\
          \ general sustainability issues. These categories are integral to SASB's\
          \ Materiality Map, which identifies the Environmental, Social, and Governance\
          \ (ESG) issues most likely to be material for companies across different\
          \ industries. The categories span crucial areas such as Greenhouse Gas Emissions,\
          \ Air Quality, Energy Management, Water and Waste Management, Ecological\
          \ Impacts, Human Rights, Labor Practices, Product Safety, Data Security,\
          \ Business Ethics, and Systemic Risk Management, among others. Each category\
          \ is crafted to capture specific sustainability risks and opportunities\
          \ that may impact a company's financial condition, operating performance,\
          \ or risk profile. By providing a standardized framework and leveraging\
          \ the Materiality Map, SASB facilitates more effective communication between\
          \ companies and investors regarding the sustainability matters most pertinent\
          \ to financial performance. |\n"
        example:
        - DIMENSIONS
        explode: false
        in: query
        name: fields
        required: false
        schema:
          default:
          - TOPLEVEL
          - PILLARS
          - DIMENSIONS
          - SASBCATEGORIES
          items:
            maxLength: 30
            pattern: ^[A-Za-z ]+$
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2018-12-31
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **W** = Weekly, based on the last day of the week of the\
          \ start date.\n  * **M** = Monthly, based on the last trading day of the\
          \ month.\n  * **CY** = Calendar Annual, based on the last trading day of\
          \ the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - CY
          - ""
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: SEVENDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Dimensions:
                  $ref: '#/components/examples/tvlCatDimensions'
                Pillars:
                  $ref: '#/components/examples/tvlCatPillars'
                TopLevel:
                  $ref: '#/components/examples/tvlCatTopLevel'
                TopLevel and Pillars:
                  $ref: '#/components/examples/tvlTopLevelPillars'
                TopLevel and SASBCategories:
                  $ref: '#/components/examples/tvlTopLevelCategories'
                SASBCategories:
                  $ref: '#/components/examples/tvlScoreIndividualCategoryInvalidID'
                Default:
                  $ref: '#/components/examples/singleTvlScoreInvalidID'
              schema:
                $ref: '#/components/schemas/TvlScoresResponse'
          description: The Truvalue Scores response object, including the Pulse, Pulse
            Percentile, Insight, Insight Percentile, Momentum, Category Volume Day,
            Article Volume Day, Category Volume TTM, Article Volume TTM, Category
            Volume Total, Article Volume Total, Dynamic Materiality, Ranks and other
            meta data.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "429":
          content:
            application/json:
              examples:
                Too Many Requests:
                  $ref: '#/components/examples/tooManyRequests'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Requests. This error occurs when the rate limits for
            requests have been exceeded. Please wait before making more requests.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
            Retry-After:
              description: The time, in seconds, the user agent should wait before
                making a follow-up request.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Requests short-term, long-term, and momentum scores based on the 26
        SASB categories, Pillars, Dimensions.
      tags:
      - Truvalue
      x-accepts: application/json
    post:
      description: |
        FactSet Truvalue Scores provides short-term, long-term, and momentum scores that are generated for 26 SASB categories defined by the Sustainability Accounting Standards Board. FactSet Truvalue also calculates a custom overall score called ALLCATEGORIES, can indicate data volume flow, and the Dynamic Materiality of that data flow.
      operationId: getSasbScoresPost
      requestBody:
        content:
          application/json:
            examples:
              TVL Score Type 'PULSE':
                $ref: '#/components/examples/singleTvlScoresPost'
              TVL Score Type with TVL Fields for (FDS-US), (TSLA-US), and (AAPL-US):
                $ref: '#/components/examples/multipleTvlScoresPost'
            schema:
              $ref: '#/components/schemas/TvlScoresRequest'
        description: The Truvalue Scores request body, allowing the user to specify
          a list of ids, Truvalue Score Items, Truvalue fields, date range, and frequency.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Dimensions:
                  $ref: '#/components/examples/tvlCatDimensions'
                Pillars:
                  $ref: '#/components/examples/tvlCatPillars'
                TopLevel:
                  $ref: '#/components/examples/tvlCatTopLevel'
                TopLevel and Pillars:
                  $ref: '#/components/examples/tvlTopLevelPillars'
                TopLevel and Categories:
                  $ref: '#/components/examples/tvlTopLevelCategories'
                SASBCategory:
                  $ref: '#/components/examples/tvlScoreIndividualCategoryInvalidID'
                Default:
                  $ref: '#/components/examples/singleTvlScoreInvalidID'
              schema:
                $ref: '#/components/schemas/TvlScoresResponse'
          description: The Truvalue Scores response object, including the Pulse, Pulse
            Percentile, Insight, Insight Percentile, Momentum, Category Volume Day,
            Article Volume Day, Category Volume TTM, Article Volume TTM, Category
            Volume Total, Article Volume Total, Dynamic Materiality, Ranks and other
            meta data.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "429":
          content:
            application/json:
              examples:
                Too Many Requests:
                  $ref: '#/components/examples/tooManyRequests'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Requests. This error occurs when the rate limits for
            requests have been exceeded. Please wait before making more requests.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
            Retry-After:
              description: The time, in seconds, the user agent should wait before
                making a follow-up request.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Requests a large list of ids, gets short-term, long-term, and momentum
        scores based on the 26 SASB categories, Pillars, Dimensions.
      tags:
      - Truvalue
      x-contentType: application/json
      x-accepts: application/json
  /truvalue/spotlights:
    get:
      description: |
        FactSet Truvalue Spotlight Data solutions are a daily collection of the most important positive and negative events detected by our algorithms, with a variety of quantitative metadata to enable timely and systematic trading strategies and portfolio management. Qualitative informational data points such as the headline and key bullet points for articles is also included. Reporting is sparse.
      operationId: getTvlSpotlights
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  1500 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total  length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - AAPL-US
            - GOOGL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 30
            pattern: ^[A-Za-z0-9 -]+$
            type: string
          maxItems: 1500
          type: array
        style: form
      - description: |
          The start date requested for a given date range in YYYY-MM-DD format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The end date requested for a given date range in YYYY-MM-DD format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-10-30
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Request available SASB Spotlights data fields to be included\
          \ in the response.\n Default is all fields. `factsetEntityId`, `tvSpotlightId`,\
          \ `tvGroupId` and `requestId` are always included.\n \n <h3>Common Fields</h3>\
          \ \n  |field|description|\n  |---|---|\n  |factsetEntityId |Factset Regional\
          \ Security Identifier|\n  |tvSpotlightId|Unique identifier identifying a\
          \ Spotlight ESG event that is detected at the company level, within a single\
          \ category.|\n  |tvGroupId|Unique identifier  identifying a Spotlight group\
          \ using the Spotlight ID of the Primary Spotlight.|\n  |requestId|Identifier\
          \ that was used for the request.|\n  \n <h3>SASB Spotlights Fields</h3>\n\
          \ \n  |field|description|\n  |---|---|\n  |tvOrgName|The current name of\
          \ the organization (not point-in-time)|\n  |primarySpotlight|Y/N value indicating\
          \ the primary Spotlight in a Spotlight Group.|\n  |spotlightCategory|SASB\
          \ category tagged to each Spotlight.|\n  |spotlightPillar|Indicates the\
          \ Pillars - Environmental, Social, Governance of the Spotlight topic based\
          \ on the SASB category framework.|\n  |spotlightDimension|Indicates the\
          \ Dimensions - Environment, Business Model and Innovation, Human Capital,\
          \ Leadership and Governance, and Social Capital of the Spotlight topic based\
          \ on the SASB category framework.|\n  |status|Indicates status of a Spotlight,\
          \ which can be one of Completed or Ongoing.|\n  |removed|Displays the date\
          \ a Spotlight was removed from the dataset, if it has been removed.|\n \
          \ |startDate|Date when a Spotlight has met the volume threshold for Spotlight\
          \ consideration. Score and Volume change metadata are associated with this\
          \ date.|\n  |liveDate|Date when a Spotlight meets confidence threshold and\
          \ is considered a Spotlight. This date should never precede start date.|\n\
          \  |firstArticleDate|Date of earliest article in the Spotlight as of the\
          \ Start Date.|\n  |finalArticleDate|Date of final article in the Spotlight.\
          \ This value can change over the course of the Spotlight until the Spotlight\
          \ is marked as Completed.|\n  |organizationVolumeThreshold|The article volume\
          \ needed to create a Spotlight, as set by the company's overall volume level\
          \ classification on the Start Date.|\n  |totalSpotlightVolume|Total number\
          \ of articles in the Spotlight. This number will change until the Spotlight\
          \ is marked as Completed.|\n  |startDateVolume|Number of articles in the\
          \ Spotlight on the Start Date when it met the volume threshold. Does not\
          \ include the number of articles that were added to the Spotlight after\
          \ the Spotlight Start Date.|\n  |primaryArticleSource|Source of the primary\
          \ article.|\n  |primaryArticleUrl|URL of the primary article.|\n  |primaryArticleHeadline|Headline\
          \ of primary Spotlight article.|\n  |primaryArticleBulletpoints|Bullet points\
          \ summarizing the primary article.|\n  |meanArtScoreFinalDate|Average score\
          \ of articles in Spotlight on Final Article Date. This score will continue\
          \ to change until the Spotlight is marked as Completed.|\n  |meanArtScoreStartDate|Average\
          \ score of articles in Spotlight on Start Date. This score will not change\
          \ throughout the history of the Spotlight.|\n  |meanPulseScore|Average of\
          \ Pulse scores for each day from First Article Date to Final Article Date,\
          \ including scores for both Start Date and Final Article Date.|\n  |pulseBeforeFirstArticle|Pulse\
          \ score for category at end-of-day on day before the First Article Date.|\n\
          \  |pulseOnFinalArticleDate|Pulse score for category at the end-of-day on\
          \ the Final Article Date.|\n  |pulseOnStartDate|Pulse score for the category\
          \ at the end-of-day on the Start Date.|\n  |zScoreOnFinalDate|Z-score for\
          \ Spotlight as of Final Article Date. This score will continue to change\
          \ until the Spotlight is marked as Completed.|\n  |zScoreOnStartDate|Z-score\
          \ for Spotlight as of Start Date. This score will not change throughout\
          \ the history of the Spotlight.|\n  |standoutLvlOnFinalDate|Describes if\
          \ the Spotlight is a High, Medium, or Low standout Spotlight.  This score\
          \ will continue to change until the Spotlight is marked as Completed.|\n\
          \  |standoutLvlOnStartDate|Describes if the Spotlight is a High, Medium,\
          \ or Low standout Spotlight.|\n  |primaryArticleSourceLang|Original language\
          \ of the primary article as ISO 639 two letter code.|\n"
        example:
        - tvSpotlightId
        - tvGroupId
        explode: false
        in: query
        name: fields
        required: false
        schema:
          default:
          - ALL
          items:
            maxLength: 45
            pattern: ^[A-Za-z ]+$
            type: string
          maxItems: 35
          type: array
        style: form
      - description: "The SASB Categories requested for the respective scoreType(s).\
          \ The default value is **`ALLCATEGORIES`**, which represents all 26 categories\
          \ in a single overall score. To request a specifc category or list of categories,\
          \ simply input the category names below. \n\n### SASB Categories\n|**SASB\
          \ Category Inputs**|**Description**|\n|---|---|\n|**AllCategories**|**AllCategories**\
          \ - This category represents a company's overall SASB Score for the specific\
          \ 'scoreType'. This value is equal to the cumulative average of all 26 SASB\
          \ categories for the specific 'scoreType'. **Note** - AllCategories is not\
          \ available for the Dynamic Materiality 'scoreType'.|\n|**AccessAndAffordability**|**Access\
          \ and Affordability** - The category addresses a company's ability to ensure\
          \ broad access to its products and services, specifically in the context\
          \ of underserved markets and/or population groups. It includes the management\
          \ of issues related to universal needs, such as the accessibility and affordability\
          \ of health care, financial services, utilities , education, and telecommunications.<p>The\
          \ category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \ - Social </p><p>**Dimension** - Social Capital </p>|\n|**AirQuality**|**Air\
          \ Quality** - The category addresses management of air quality impacts resulting\
          \ from stationary (e.g., factories, power plants) and mobile sources (e.g.,\
          \ trucks, delivery vehicles, planes) as well as industrial emissions. Relevant\
          \ airborne pollutants include, but are not limited to, oxides of nitrogen\
          \ (NOx), oxides of sulfur (SOx), volatile organic compounds (VOCs), heavy\
          \ metals, particulate matter, and chlorofluorocarbons. The category does\
          \ not include GHG emissions, which are addressed in a separate category.<p>The\
          \ category falls under the following Pillar and Dimension </p><p>**Pillar**\
          \ - Environmental</p><p>**Dimension** - Environment </p>|\n|**BusinessEthics**|**Business\
          \ Ethics** - The category addresses the company's approach to managing risks\
          \ and opportunities surrounding ethical conduct of business, including fraud,\
          \ corruption, bribery and facilitation payments, fiduciary responsibilities,\
          \ and other behavior that may have an ethical component. This includes sensitivity\
          \ to business norms and standards as they shift over time, jurisdiction,\
          \ and culture. It addresses the company's ability to provide services that\
          \ satisfy the highest professional and ethical standards of the industry,\
          \ which means to avoid conflicts of interest, misrepresentation, bias, and\
          \ negligence through training employees adequately and implementing policies\
          \ and procedures to ensure employees provide services free from bias and\
          \ error.<p>The category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \     - Governance </p><p>**Dimension**   - Leadership and Governance </p>|\n\
          |**BusinessModelResilience**|**Business Model Resilience** - The category\
          \ addresses an industry's capacity to manage risks and opportunities associated\
          \ with incorporating social, environmental, and political transitions into\
          \ long-term business model planning. This includes responsiveness to the\
          \ transition to a low-carbon and climate-constrained economy, as well as\
          \ growth and creation of new markets among unserved and underserved socioeconomic\
          \ populations. The category highlights industries in which evolving environmental\
          \ and social realities may challenge companies to fundamentally adapt or\
          \ may put their business models at risk.<p>The category falls under the\
          \ following Pillar and Dimension </p><p>**Pillar**     - Governance </p><p>**Dimension**\
          \   - Leadership and Governance </p>|\n|**CompetitiveBehavior**|**Competitive\
          \ Behavior** - The category covers social issues associated with existence\
          \ of monopolies, which may include, but are not limited to, excessive prices,\
          \ poor quality of service, and inefficiencies. It addresses a company's\
          \ management of legal and social expectation around monopolistic and anti-competitive\
          \ practices, including issues related to bargaining power, collusion, price\
          \ fixing or manipulation, and protection of patents and intellectual property\
          \ (IP).<p>The category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \         - Governance </p><p>**Dimension**     - Leadership and Governance\
          \ </p>|\n|**CriticalIncidentRiskManagement**|**Critical Incident Risk Management**\
          \ - The category addresses the company's use of management systems and scenario\
          \ planning to identify, understand, and prevent or minimize the occurrence\
          \ of low-probability, high-impact accidents and emergencies with significant\
          \ potential environmental and social externalities. It relates to the culture\
          \ of safety at a company, its relevant safety management systems and technological\
          \ controls, the potential human, environmental, and social implications\
          \ of such events occurring, and the long-term effects to an organization,\
          \ its workers, and society should these events occur.<p>The category falls\
          \ under the following Pillar and Dimension</p><p>**Pillar**         - Governance\
          \ </p><p>**Dimension**     - Leadership and Governance </p>|\n|**CustomerPrivacy**|**Customer\
          \ Privacy** - The category addresses management of risks related to the\
          \ use of personally identifiable information (PII) and other customer or\
          \ user data for secondary purposes including but not limited to marketing\
          \ through affiliates and non-affiliates. The scope of the category includes\
          \ social issues that may arise from a company's approach to collecting data,\
          \ obtaining consent (e.g., opt-in policies), managing user and customer\
          \ expectations regarding how their data is used, and managing evolving regulation.\
          \ It excludes social issues arising from cybersecurity risks, which are\
          \ covered in a separate category.<p>The category falls under the following\
          \ Pillar and Dimension</p><p>**Pillar**         - Social </p><p>**Dimension**\
          \     - Social Capital</p>|\n|**CustomerWelfare**|**Customer Welfare** -\
          \ The category addresses customer welfare concerns over issues including,\
          \ but not limited to, health and nutrition of foods and beverages, antibiotic\
          \ use in animal production, and management of controlled substances. The\
          \ category addresses the company's ability to provide consumers with manufactured\
          \ products and services that are aligned with societal expectations. It\
          \ does not include issues directly related to quality and safety malfunctions\
          \ of manufactured products and services, but instead addresses qualities\
          \ inherent to the design and delivery of products and services where customer\
          \ welfare may be in question. The scope of the category also captures companies'\
          \ ability to prevent counterfeit products.<p>The category falls under the\
          \ following Pillar and Dimension</p><p>**Pillar**         - Social </p><p>**Dimension**\
          \     - Social Capital </p>|\n|**DataSecurity**|**Data Security** - The\
          \ category addresses management of risks related to collection, retention,\
          \ and use of sensitive, confidential, and/or proprietary customer or user\
          \ data. It includes social issues that may arise from incidents such as\
          \ data breaches in which personally identifiable information (PII) and other\
          \ user or customer data may be exposed. It addresses a company's strategy,\
          \ policies, and practices related to IT infrastructure, staff training,\
          \ record keeping, cooperation with law enforcement, and other mechanisms\
          \ used to ensure security of customer or user data.<p>The category falls\
          \ under the following Pillar and Dimension</p><p>**Pillar**         - Social</p><p>**Dimension**\
          \     - Social Capital </p>|\n|**EcologicalImpacts**|**Ecological Impacts**\
          \ - The category addresses management of the company's impacts on ecosystems\
          \ and biodiversity through activities including, but not limited to, land\
          \ use for exploration, natural resource extraction, and cultivation, as\
          \ well as project development, construction, and siting. The impacts include,\
          \ but are not limited to, biodiversity loss, habitat destruction, and deforestation\
          \ at all stages – planning, land acquisition, permitting, development, operations,\
          \ and site remediation. The category does not cover impacts of climate change\
          \ on ecosystems and biodiversity.<p>The category falls under the following\
          \ Pillar and Dimension</p><p>**Pillar**         - Environmental </p><p>**Dimension**\
          \     - Environment </p>|\n|**EmployeeEngagementDiversityAndInclusion**|**Employee\
          \ Engagement Diversity and Inclusion** - The category addresses a company's\
          \ ability to ensure that its culture and hiring and promotion practices\
          \ embrace the building of a diverse and inclusive workforce that reflects\
          \ the makeup of local talent pools and its customer base. It addresses the\
          \ issues of discriminatory practices on the bases of race, gender, ethnicity,\
          \ religion, sexual orientation, and other factors.<p>The category falls\
          \ under the following Pillar and Dimension</p><p>**Pillar** - Social</p><p>**Dimension**-\
          \ Human Capital</p>|\n|**EmployeeHealthAndSafety**|**Employee Health and\
          \ Safety** - The category addresses a company's ability to create and maintain\
          \ a safe and healthy workplace environment that is free of injuries, fatalities,\
          \ and illness (both chronic and acute). It is traditionally accomplished\
          \ through implementing safety management plans, developing training requirements\
          \ for employees and contractors, and conducting regular audits of their\
          \ own practices as well as those of their subcontractors. The category further\
          \ captures how companies ensure physical and mental health of workforce\
          \ through technology, training, corporate culture, regulatory compliance,\
          \ monitoring and testing, and personal protective equipment.<p>The category\
          \ falls under the following Pillar and Dimension</p><p>**Pillar**      \
          \   - Social</p><p>**Dimension**     - Human Capital </p>|\n|**EnergyManagement**|**Energy\
          \ Management** - The category addresses environmental impacts associated\
          \ with energy consumption. It addresses the company's management of energy\
          \ in manufacturing and/or for provision of products and services derived\
          \ from utility providers (grid energy) not owned or controlled by the company.\
          \ More specifically, it includes management of energy efficiency and intensity,\
          \ energy mix, as well as grid reliance. Upstream (e.g., suppliers) and downstream\
          \ (e.g., product use) energy use is not included in the scope.<p>The category\
          \ falls under the following Pillar and Dimension</p><p>**Pillar**      \
          \   - Environmental </p><p>**Dimension**     - Environment </p>|\n|**GHGEmissions**|**Greenhouse\
          \ Gas Emissions** - The category addresses direct (Scope 1) greenhouse gas\
          \ (GHG) emissions that a company generates through its operations. This\
          \ includes GHG emissions from stationary (e.g., factories, power plants)\
          \ and mobile sources (e.g., trucks, delivery vehicles, planes), whether\
          \ a result of combustion of fuel or non-combusted direct releases during\
          \ activities such as natural resource extraction, power generation, land\
          \ use, or biogenic processes. The category further includes management of\
          \ regulatory risks, environmental compliance, and reputational risks and\
          \ opportunities, as they related to direct GHG emissions. The seven GHGs\
          \ covered under the Kyoto Protocol are included within the category— carbon\
          \ dioxide (CO2 ), methane (CH4), nitrous oxide (N2O), hydrofluorocarbons\
          \ (HFCs), perfluorocarbons (PFCs), sulfur hexafluoride (SF6), and nitrogen\
          \ trifluoride (NF3).<p>The category falls under the following Pillar and\
          \ Dimension</p><p>**Pillar**         - Environmental </p><p>**Dimension**\
          \     - Environment </p>|\n|**HumanRightsAndCommunityRelations**|**Human\
          \ Rights and Community Relations** - The category addresses management of\
          \ the relationship between businesses and the communities in which they\
          \ operate, including, but not limited to, management of direct and indirect\
          \ impacts on core human rights and the treatment of indigenous peoples.\
          \ More specifically, such management may cover socio-economic community\
          \ impacts, community engagement, environmental justice, cultivation of local\
          \ workforces, impact on local businesses, license to operate, and environmental/social\
          \ impact assessments. The category does not include environmental impacts\
          \ such as air pollution or waste which, although they may impact the health\
          \ and safety of members of local communities, are addressed in separate\
          \ categories.<p>The category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \         - Social</p><p>**Dimension**     - Human Capital </p>|\n|**LaborPractices**|**Labor\
          \ Practices** - The category addresses the company's ability to uphold commonly\
          \ accepted labor standards in the workplace, including compliance with labor\
          \ laws and internationally accepted norms and standards. This includes,\
          \ but is not limited to, ensuring basic human rights related to child labor,\
          \ forced or bonded labor, exploitative labor, fair wages and overtime pay,\
          \ and other basic workers' rights. It also includes minimum wage policies\
          \ and provision of benefits, which may influence how a workforce is attracted,\
          \ retained, and motivated. The category further addresses a company's relationship\
          \ with organized labor and freedom of association.<p>The category falls\
          \ under the following Pillar and Dimension</p><p>**Pillar**         - Social</p><p>**Dimension**\
          \     - Human Capital</p>|\n|**ManagementOfTheLegalAndRegulatoryEnvironment**|**Management\
          \ of the Legal and Regulatory Environment** - The category addresses a company's\
          \ approach to engaging with regulators in cases where conflicting corporate\
          \ and public interests may have the potential for long-term adverse direct\
          \ or indirect environmental and social impacts. The category addresses a\
          \ company's level of reliance upon regulatory policy or monetary incentives\
          \ (such as subsidies and taxes), actions to influence industry policy (such\
          \ as through lobbying), overall reliance on a favorable regulatory environment\
          \ for business competitiveness, and ability to comply with relevant regulations.\
          \ It may relate to the alignment of management and investor views of regulatory\
          \ engagement and compliance at large.<p>The category falls under the following\
          \ Pillar and Dimension</p><p>**Pillar**         - Governance </p><p>**Dimension**\
          \     - Leadership and Governance</p>|\n|**MaterialSourcingAndEfficiency**|**Materials\
          \ Sourcing and Efficiency** - The category addresses issues related to the\
          \ resilience of materials supply chains to impacts of climate change and\
          \ other external environmental and social factors. It captures the impacts\
          \ of such external factors on operational activity of suppliers, which can\
          \ further affect availability and pricing of key resources. It addresses\
          \ a company's ability to manage these risks through product design, manufacturing,\
          \ and end-of-life management, such as by using of recycled and renewable\
          \ materials, reducing the use of key materials (dematerialization), maximizing\
          \ resource efficiency in manufacturing, and making R&D investments in substitute\
          \ materials. Additionally, companies can manage these issues by screening,\
          \ selection, monitoring, and engagement with suppliers to ensure their resilience\
          \ to external risks. It does not address issues associated with environmental\
          \ and social externalities created by operational activity of individual\
          \ suppliers, which is covered in a separate category.<p>The category falls\
          \ under the following Pillar and Dimension</p><p>**Pillar**         - Environmental\
          \ </p><p>**Dimension**     - Business Model and Innovation </p>|\n|**PhysicalImpactsOfClimateChange**|**Physical\
          \ Impacts of Climate Change** - The category addresses the company's ability\
          \ to manage risks and opportunities associated with direct exposure of its\
          \ owned or controlled assets and operations to actual or potential physical\
          \ impacts of climate change. It captures environmental and social issues\
          \ that may arise from operational disruptions due to physical impacts of\
          \ climate change. It further captures socioeconomic issues resulting from\
          \ companies failing to incorporate climate change consideration in products\
          \ and services sold, such as insurance policies and mortgages. The category\
          \ relates to the company's ability to adapt to increased frequency and severity\
          \ of extreme weather, shifting climate, sea level risk, and other expected\
          \ physical impacts of climate change. Management may involve enhancing resiliency\
          \ of physical assets and/or surrounding infrastructure as well as incorporation\
          \ of climate change-related considerations into key business activities\
          \ (e.g., mortgage and insurance underwriting, planning and development of\
          \ real estate projects).<p>The category falls under the following Pillar\
          \ and Dimension</p><p>**Pillar**         - Environmental </p><p>**Dimension**\
          \     - Business Model and Innovation </p>|\n|**ProductDesignAndLifecycleManagement**|**Product\
          \ Design and Lifecycle Management** - The category addresses incorporation\
          \ of environmental, social, and governance (ESG) considerations in characteristics\
          \ of products and services provided or sold by the company. It includes,\
          \ but is not limited to, managing the lifecycle impacts of products and\
          \ services, such as those related to packaging, distribution, use-phase\
          \ resource intensity, and other environmental and social externalities that\
          \ may occur during their use-phase or at the end of life. The category captures\
          \ a company's ability to address customer and societal demand for more sustainable\
          \ products and services as well as to meet evolving environmental and social\
          \ regulation. It does not address direct environmental or social impacts\
          \ of the company's operations nor does it address health and safety risks\
          \ to consumers from product use, which are covered in other categories.<p>The\
          \ category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \         - Environmental </p><p>**Dimension**     - Business Model and\
          \ Innovation </p>|\n|**ProductQualityAndSafety**|**Product Quality and Safety**\
          \ - The category addresses issues involving unintended characteristics of\
          \ products sold or services provided that may create health or safety risks\
          \ to end-users. It addresses a company's ability to offer manufactured products\
          \ and/or services that meet customer expectations with respect to their\
          \ health and safety characteristics. It includes, but is not limited to,\
          \ issues involving liability, management of recalls and market withdrawals,\
          \ product testing, and chemicals/content/ ingredient management in products.<p>The\
          \ category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \         - Social</p><p>**Dimension**     - Social Capital </p>|\n|**SellingPracticesAndProductLabeling**|**Selling\
          \ Practices and Product Labeling** - The category addresses social issues\
          \ that may arise from a failure to manage the transparency, accuracy, and\
          \ comprehensibility of marketing statements, advertising, and labeling of\
          \ products and services. It includes, but is not limited to, advertising\
          \ standards and regulations, ethical and responsible marketing practices,\
          \ misleading or deceptive labeling, as well as discriminatory or predatory\
          \ selling and lending practices. This may include deceptive or aggressive\
          \ selling practices in which incentive structures for employees could encourage\
          \ the sale of products or services that are not in the best interest of\
          \ customers or clients.<p>The category falls under the following Pillar\
          \ and Dimension</p><p>**Pillar**         - Social</p><p>**Dimension**  \
          \   - Social Capital</p>|\n|**SupplyChainManagement**|**Supply Chain Management**\
          \ - The category addresses management of environmental, social, and governance\
          \ (ESG) risks within a company's supply chain. It addresses issues associated\
          \ with environmental and social externalities created by suppliers through\
          \ their operational activities. Such issues include, but are not limited\
          \ to, environmental responsibility, human rights, labor practices, and ethics\
          \ and corruption. Management may involve screening, selection, monitoring,\
          \ and engagement with suppliers on their environmental and social impacts.\
          \ The category does not address the impacts of external factors – such as\
          \ climate change and other environmental and social factors – on suppliers'\
          \ operations and/or on the availability and pricing of key resources, which\
          \ is covered in a separate category.<p>The category falls under the following\
          \ Pillar and Dimension</p><p>**Pillar**         - Governance</p><p>**Dimension**\
          \     - Business Model and Innovation </p>|\n|**SystemicRiskManagement**|**Systemic\
          \ Risk Management** - The category addresses the company's contributions\
          \ to, or management of systemic risks resulting from large-scale weakening\
          \ or collapse of systems upon which the economy and society depend. This\
          \ includes financial systems, natural resource systems, and technological\
          \ systems. It addresses the mechanisms a company has in place to reduce\
          \ its contributions to systemic risks and to improve safeguards that may\
          \ mitigate the impacts of systemic failure. For financial institutions,\
          \ the category also captures the company's ability to absorb shocks arising\
          \ from financial and economic stress and meet stricter regulatory requirements\
          \ related to the complexity and interconnectedness of companies in the industry.<p>The\
          \ category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \         - Governance</p><p>**Dimension**     - Leadership and Governance\
          \ </p>|\n|**WasteAndHazardousMaterialsManagement**|**Waste and Hazardous\
          \ Materials Management** - The category addresses environmental issues associated\
          \ with hazardous and non-hazardous waste generated by companies. It addresses\
          \ a company's management of solid wastes in manufacturing, agriculture,\
          \ and other industrial processes. It covers treatment, handling, storage,\
          \ disposal, and regulatory compliance. The category does not cover emissions\
          \ to air or wastewater, nor does it cover waste from end-of-life of products,\
          \ which are addressed in separate categories.<p>The category falls under\
          \ the following Pillar and Dimension</p><p>**Pillar**         - Environmental</p><p>**Dimension**\
          \     - Environment</p>|\n|**WaterAndWastewaterManagement**|**Water and\
          \ Wastewater Management** - The category addresses a company's water use,\
          \ water consumption, wastewater generation, and other impacts of operations\
          \ on water resources, which may be influenced by regional differences in\
          \ the availability and quality of and competition for water resources. More\
          \ specifically, it addresses management strategies including, but not limited\
          \ to, water efficiency, intensity, and recycling. Lastly, the category also\
          \ addresses management of wastewater treatment and discharge, including\
          \ groundwater and aquifer pollution.<p>The category falls under the following\
          \ Pillar and Dimension</p><p>**Pillar**         - Environmental </p><p>**Dimension**\
          \     - Environment </p>|\n"
        example:
        - AirQuality
        - BusinessEthics
        - CompetitiveBehavior
        explode: false
        in: query
        name: categories
        required: false
        schema:
          default:
          - AllCategories
          items:
            maxLength: 40
            pattern: ^[A-Za-z ]+$
            type: string
          maxItems: 27
          type: array
        style: form
      - description: "This parameter would return only primary Spotlights when set\
          \ to `true`\n  \n"
        explode: true
        in: query
        name: primaryOnly
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          This parameter would return the Spotlights removed in the response(i.e. Spotlight is marked as Rejected but has a firstApprovedOnDate))when set to `true`
          Only Spotlights that are marked as approved will be returned when set to `false`
        explode: true
        in: query
        name: isRemoved
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Truvalue Spotlights categories for a Single Entity 'MSFT-US':
                  $ref: '#/components/examples/singleTvlSpotlights'
                Multiple Truvalue Spotlights Categories for (FDS-US), (TSLA-US), and (AAPL-US):
                  $ref: '#/components/examples/multipleTvlSpotlightsAllInvalidID'
              schema:
                $ref: '#/components/schemas/SpotlightsResponse'
          description: FactSet Truvalue Spotlight Data solutions are a daily collection
            of the most important positive and negative SASB events detected by our
            algorithms
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "408":
          content:
            application/json:
              examples:
                Request Time-Out:
                  $ref: '#/components/examples/requestTimeOut'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request Time-Out. This error would be returned if the request
            takes more than 29 seconds.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "429":
          content:
            application/json:
              examples:
                Too Many Requests:
                  $ref: '#/components/examples/tooManyRequests'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Requests. This error occurs when the rate limits for
            requests have been exceeded. Please wait before making more requests.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
            Retry-After:
              description: The time, in seconds, the user agent should wait before
                making a follow-up request.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: 'Requests spotlights tagged with 26 SASB categories, Pillars, Dimensions
        from 2016-01-01 to previous day '
      tags:
      - Truvalue
      x-accepts: application/json
    post:
      description: |
        FactSet Truvalue Spotlight Data solutions are a daily collection of the most important positive and negative SASB events detected by our algorithms, with a variety of quantitative metadata to enable timely and systematic trading strategies and portfolio management. Qualitative informational data points such as the headline and key bullet points for articles is also included. Reporting is sparse.
      operationId: getSasbSpotlightsForList
      requestBody:
        content:
          application/json:
            examples:
              TVL Spotlights categories for a Single Entity 'MSFT-US':
                $ref: '#/components/examples/singleTvlSpotlightsPost'
            schema:
              $ref: '#/components/schemas/TvlSpotlightsRequest'
        description: FactSet Truvalue Spotlight Data solutions are a daily collection
          of the most important positive and negative SASB events detected by our
          algorithms
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Truvalue Spotlights categories for a Single Entity 'MSFT-US':
                  $ref: '#/components/examples/singleTvlSpotlights'
                Multiple Truvalue Spotlights Categories for (FDS-US), (TSLA-US), and (AAPL-US):
                  $ref: '#/components/examples/multipleTvlSpotlightsAllInvalidID'
              schema:
                $ref: '#/components/schemas/SpotlightsResponse'
          description: FactSet Truvalue Spotlight Data solutions are a daily collection
            of the most important positive and negative SASB events detected by our
            algorithms
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "408":
          content:
            application/json:
              examples:
                Request Time-Out:
                  $ref: '#/components/examples/requestTimeOut'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request Time-Out. This error would be returned if the request
            takes more than 29 seconds.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "429":
          content:
            application/json:
              examples:
                Too Many Requests:
                  $ref: '#/components/examples/tooManyRequests'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Requests. This error occurs when the rate limits for
            requests have been exceeded. Please wait before making more requests.
          headers:
            RateLimit-Limit:
              description: The number of allowed requests in the current period.
              example: 10
              explode: false
              schema:
                format: int32
                maximum: 10
                minimum: 1
                type: integer
              style: simple
            RateLimit-Reset:
              description: The time when the current rate limit period resets, in
                seconds.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
            Retry-After:
              description: The time, in seconds, the user agent should wait before
                making a follow-up request.
              example: 1
              explode: false
              schema:
                format: int32
                maximum: 1
                minimum: 1
                type: integer
              style: simple
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Requests Spotlight data for the most important positive and negative
        events to enable timely and systematic trading strategies and portfolio management
      tags:
      - Truvalue
      x-contentType: application/json
      x-accepts: application/json
  /truvalue/articles:
    get:
      description: |
        Articles endpoint allows to retrieve underlying news articles used by the AI engine to calculate the SASB Scores of companies and therefore provides SASB relevant news and also transparency into the SASB Scores.
      operationId: getSasbArticles
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  1500 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total  length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - AAPL-US
            - GOOGL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 30
            pattern: ^[A-Za-z0-9 -]+$
            type: string
          maxItems: 1500
          type: array
        style: form
      - description: |
          The start date requested for a given date range in YYYY-MM-DD format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The end date requested for a given date range in YYYY-MM-DD format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-10-30
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Date of Publication or Ingestion \n * **Publication:**  use\
          \ for startDate and endDate the articles publication date \n * **Ingestion:**\
          \  use for startDate and endDate the articles TVL first processing date\
          \ \n \n"
        example: PUBLICATION
        explode: true
        in: query
        name: dateOf
        required: false
        schema:
          default: PUBLICATION
          enum:
          - PUBLICATION
          - INGESTION
          type: string
        style: form
      - description: "Request available Articles data fields to be included in the\
          \ response.\n Default is all fields. `factsetEntityId` and `articleId` are\
          \ always included.\n \n <h3>Common Fields</h3> \n  |field|description|\n\
          \  |---|---|\n  |factsetEntityId|Factset Regional Security Identifier|\n\
          \  |articleId|Unique ID of the article assigned by Truvalue|          \n\
          \  \n <h3>Articles Fields</h3>\n \n  |field|description|\n  |---|---|\n\
          \  |datePublication|Publication date of the article in YYYY-MM-DD format|\n\
          \  |dateIngestion|Date of the TVL article ingestion and processing|\n  |headlineEn|Title\
          \ of the article|\n  |sourceName|Source of the article|\n  |articleCategory|Categories\
          \ assigned by Truvalue|\n  |bulletsEn|AI-generated bullet point summary\
          \ for each article. Note, including bullets increases response size drastically|\n\
          \  |author|Author of the article|\n  |url|URL of the article|\n  |sourceLang|Language\
          \ code of the article|\n  |orgName|Organization name assigned by Truvalue|\n\
          \  |pillarsDimensions|Categorizes and tags the articles under 3-Pillars\
          \ and 5-Dimensions|\n"
        example:
        - datePublication
        explode: false
        in: query
        name: fields
        required: false
        schema:
          default:
          - ALL
          items:
            maxLength: 20
            pattern: ^[A-Za-z ]+$
            type: string
          maxItems: 14
          type: array
        style: form
      - description: "Comma separated list of one or more SASB category names as described\
          \ below. The default value is **`AllCategories`**. \n\n### SASB Categories\n\
          |**SASB Category Inputs**|**Description**|\n|---|---|\n|**AllCategories**|**AllCategories**\
          \ - this category represents a company's overall SASB Score for the specific\
          \ 'scoreType'. This value is equal to the cumulative average of all 26 SASB\
          \ categories for the specific 'scoreType'.*Note that category is not available\
          \ for the Dynamic Materiality 'scoreType'.|\n|**AccessAndAffordability**|**Access\
          \ and Affordability** - The category addresses a company's ability to ensure\
          \ broad access to its products and services, specifically in the context\
          \ of underserved markets and/or population groups. It includes the management\
          \ of issues related to universal needs, such as the accessibility and affordability\
          \ of health care, financial services, utilities , education, and telecommunications.<p>The\
          \ category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \ - Social </p><p>**Dimension** - Social Capital </p>|\n|**AirQuality**|**Air\
          \ Quality** - The category addresses management of air quality impacts resulting\
          \ from stationary (e.g., factories, power plants) and mobile sources (e.g.,\
          \ trucks, delivery vehicles, planes) as well as industrial emissions. Relevant\
          \ airborne pollutants include, but are not limited to, oxides of nitrogen\
          \ (NOx), oxides of sulfur (SOx), volatile organic compounds (VOCs), heavy\
          \ metals, particulate matter, and chlorofluorocarbons. The category does\
          \ not include GHG emissions, which are addressed in a separate category.<p>The\
          \ category falls under the following Pillar and Dimension </p><p>**Pillar**\
          \ - Environmental</p><p>**Dimension** - Environment </p>|\n|**BusinessEthics**|**Business\
          \ Ethics** - The category addresses the company's approach to managing risks\
          \ and opportunities surrounding ethical conduct of business, including fraud,\
          \ corruption, bribery and facilitation payments, fiduciary responsibilities,\
          \ and other behavior that may have an ethical component. This includes sensitivity\
          \ to business norms and standards as they shift over time, jurisdiction,\
          \ and culture. It addresses the company's ability to provide services that\
          \ satisfy the highest professional and ethical standards of the industry,\
          \ which means to avoid conflicts of interest, misrepresentation, bias, and\
          \ negligence through training employees adequately and implementing policies\
          \ and procedures to ensure employees provide services free from bias and\
          \ error.<p>The category falls under the following Pillar and Dimension</p><p>**Pillar**\
          \     - Governance </p><p>**Dimension**   - Leadership and Governance </p>|\n\
          |**BusinessModelResilience**|**Business Model Resilience** - The category\
          \ addresses an industry's capacity to manage risks and opportunities associated\
          \ with incorporating social, environmental, and political transitions into\
          \ long-term business model planning. This includes responsiveness to the\
          \ transition to a low-carbon and climate-constrained economy, as well as\
          \ growth and creation of new markets among unserved and underserved socioeconomic\
          \ populations. The category highlights industries in which evolving environmental\
          \ and social realities may challenge companies to fundamentally adapt or\
          \ may put their business models at risk.<p>The category falls under the\
          \ following Pillar and Dimension </p><p>**Pillar**     - Governance </p><p>**Dimension**\
          \   - Leadership and Governance </p>|\n|**CompetitiveBehavior**|**Competitive\
          \ Behavior** - The category covers social issues associated with existence\
[...]
