openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    Gain access to current, comprehensive, and comparative information on securities in worldwide developed and emerging markets. In addition to the latest reported data, this API provides Point-in-Time (PIT) views to access fundamentals data as it was known on any given date. Composed of annual and interim/quarterly data, detailed historical financial statement content, per-share data, and calculated ratios, FactSet Fundamentals provides you with the information you need for a global investment perspective.<p>This API is rate-limited to 10 requests per second and 10 concurrent requests per user.</p>
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Fundamentals API
  version: 2.5.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-fundamentals-api
servers:
- description: Production
  url: https://api.factset.com/content/factset-fundamentals/v2
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Retrieving standardized fundamentals data for companies.
  name: FactSet Fundamentals
- description: Retrieving business and geographic segment data for companies.
  name: Segments
- description: Retrieve Point-in-Time fundamentals data and related fiscal period
    information for securities.
  name: Fundamentals Point In Time
- description: Discovering available fundamental metrics, their definitions, and related
    metadata to use in other API requests.
  name: Metrics
- description: Retrieving pre-formatted, report-style information, such as company
    profiles, financial statements, and key fundamental summaries.
  name: Company Reports
- description: Manage asynchronous requests by checking their status and retrieving
    results for long-running batch jobs.
  name: Batch Processing
paths:
  /fundamentals:
    get:
      description: |
        Retrieves FactSet Fundamentals standardized data for specified securities. Use the ```/metrics``` endpoint to retrieve a full list of valid metrics or data items.


        The ```/fundamentals``` endpoint currently supports Long Running asynchronous requests up to **20 minutes** via batch parameter. Id limit is set to 2000 ids per request when using batch capability and 250 ids without batching. (1 metric per ID, for 1 day in both the cases). This feature is available for all users.
      operationId: getFdsFundamentals
      parameters:
      - description: Returns a list of security identifiers. Accepted ID types include
          Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.<p>ids limit
          = 250 IDs per non-batch request (1 metric per ID, for 1 day) and 2000 IDs
          per batch request (1 metric per ID, for 1 day)</p> *<p>Make note, GET Method
          URL request lines are also limited to a total length of 8192 bytes (8 KB).
          In cases where your request—non-batch or batch—approaches this size, it’s
          advised to use the respective “POST” method to avoid URL-length constraints.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxItems: 2000
            minItems: 1
            type: string
          type: array
        style: form
      - description: |
          Periodicity or frequency of the fiscal periods, where
            * **ANN**  = Annual - Original,
            * **ANN_R** = Annual - Latest - *Includes Restatements*,
            * **QTR**  = Quarterly - Original,
            * **QTR_R** = Quarterly - Latest - *Includes Restatements*,
            * **SEMI** = Semi-Annual,
            * **SEMI_R** = Semi-Annual - Latest - *Includes Restatements*,
            * **LTM**  = Last Twelve Months,
            * **LTM_R**  = Last Twelve Months - Latest - *Includes Restatements*,
            * **LTMSG** = Last Twelve Months Global [OA17959](https://my.apps.factset.com/oa/pages/17959),
            * **LTM_SEMI**  = Last Twelve Months, Semi-Annually Reported Data,
            * **LTM_SEMI_R**  = Last Twelve Months, Semi-Annual - Latest - *Includes Restatements*,
            * **YTD** = Year-to-date.
            <br>

          Please note that the coverage for SEMI_R and LTM_R may be limited as fewer companies report with these periodicities.<br>
        examples:
          ANN:
            summary: ANN - Annual Original.
            value: ANN
          ANN_R:
            summary: ANN_R - Annual Latest.
            value: ANN_R
          QTR:
            summary: QTR - Quarterly Original.
            value: QTR
          QTR_R:
            summary: QTR_R - Quarterly Latest.
            value: QTR_R
          SEMI:
            summary: SEMI - Semi-Annual Original.
            value: SEMI
          SEMI_R:
            summary: SEMI_R - Semi-Annual Latest.
            value: SEMI_R
          LTM:
            summary: LTM - Last Twelve Months Original.
            value: LTM
          LTM_R:
            summary: LTM_R - Last Twelve Months Latest.
            value: LTM_R
          LTMSG:
            summary: LTMSG - Last Twelve Months Global.
            value: LTMSG
          LTM_SEMI:
            summary: LTM_SEMI - Last Twelve Months - Semi Annual
            value: LTM_SEMI
          LTM_SEMI_R:
            summary: LTM_SEMI_R - Last Twelve Months - Semi Annual Latest
            value: LTM_SEMI_R
          YTD:
            summary: YTD - Year-to-date.
            value: YTD
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - ANN_R
          - QTR
          - QTR_R
          - SEMI
          - SEMI_R
          - LTM
          - LTM_R
          - LTM_SEMI
          - LTM_SEMI_R
          - LTMSG
          - YTD
          type: string
        style: form
      - description: |
          The fiscal period start expressed as YYYY-MM-DD.  Calendar date that will fall back to the most recent completed period during resolution.
        explode: true
        in: query
        name: fiscalPeriodStart
        required: false
        schema:
          example: 2017-09-01
          nullable: true
          type: string
        style: form
      - description: |
          The fiscal period end expressed YYYY-MM-DD.  Calendar date that will fall back to the most recently completed period during resolution.
        explode: true
        in: query
        name: fiscalPeriodEnd
        required: false
        schema:
          example: 2018-03-01
          nullable: true
          type: string
        style: form
      - description: |
          Requested List of Financial Statement Items or Ratios. Use `/metrics` endpoint for a complete list of available FF_* metric items. <p>*When requesting multiple metrics, you cannot mix metric data types (e.g. strings and floats). Please use /metrics endpoints for context on metric dataType to avoid null data.*</p> <p>***metrics limit** =  1600 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of metrics, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          Single Metric:
            summary: FF_SALES
            value:
            - FF_SALES
          Multiple Metrics:
            summary: FF_SALES, FF_EPS, FF_PE
            value:
            - FF_SALES
            - FF_EPS
            - FF_PE
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          example:
          - FF_SALES
          - FF_EPS
          - FF_PE
          items:
            type: string
          maxItems: 1600
          minItems: 1
          type: array
        style: form
      - description: |
          Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).

          Giving input as `DOC` would give the values in reporting currency for the requested ids.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          example: USD
          type: string
        style: form
      - description: |-
          Update Status Flag:
            * **RP** = Include preliminary data,
            * **RF** = Only final data
        examples:
          ANN:
            summary: RP - Include preliminary data.
            value: RP
          QTR:
            summary: RF - Only final data.
            value: RF
        explode: true
        in: query
        name: updateType
        required: false
        schema:
          default: RP
          enum:
          - RP
          - RF
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use the corresponding `/status` endpoint to see if the job has been completed. Once completed, retrieve the results of the request via the `/result` endpoint.
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItem'
                Result of Multiple companies single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItem'
                Result of Single Company (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                  $ref: '#/components/examples/resultOfSingleIdwithMultipleMetricItem'
              schema:
                $ref: '#/components/schemas/FundamentalsResponse'
          description: Fundamentals data items
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Company Fundamentals Data.
      tags:
      - FactSet Fundamentals
      x-factset-sdk-ignore: true
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: |
        Retrieves FactSet Fundamentals standardized data for specified securities. Use the ```/metrics``` endpoint to retrieve a full list of valid metrics or data items.


        The ```/fundamentals``` endpoint currently supports Long Running asynchronous requests up to **20 minutes** via batch parameter. Id limit is set to 5000 ids per request when using batch capability and 250 ids per request without batching (1 metric per ID, for 1 day in both the cases). This feature is available for all users.
      operationId: getFdsFundamentalsForList
      requestBody:
        content:
          application/json:
            examples:
              Single Company (FDS-US), sales(FF_SALES) details for the given period:
                $ref: '#/components/examples/postBodyOfSingleIdwithSingleMetricItem'
              Multiple Companies single metric item details:
                $ref: '#/components/examples/postBodyOfMultipleIdwithSingleMetricItem'
              Single Company (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                $ref: '#/components/examples/postBodyOfSingleIdwithMultipleMetricItem'
              Batch Request for (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                $ref: '#/components/examples/BatchFundamentalsRequestPost'
            schema:
              $ref: '#/components/schemas/FundamentalsRequest'
        description: Request object for requesting fundamentals data
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItem'
                Result of Multiple companies single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItem'
                Result of Single Company (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                  $ref: '#/components/examples/resultOfSingleIdwithMultipleMetricItem'
              schema:
                $ref: '#/components/schemas/FundamentalsResponse'
          description: Fundamentals data items
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Company Fundamentals Data.
      tags:
      - FactSet Fundamentals
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /segments:
    get:
      description: |
        Retrieves Fundamentals Metrics data for individual companies.

        The ```/segments``` endpoint currently supports Long Running asynchronous requests up to **20 minutes** via batch parameter. Id limit is set to 2000 ids per request when using batch capability and 250 ids without batching. (1 metric per ID, for 1 day in both the cases). This feature is available for all users.
      operationId: getFdsSegments
      parameters:
      - description: Returns a list of security identifiers. Accepted ID types include
          Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.<p>ids limit
          = 250 IDs per non-batch request (1 metric per ID, for 1 day) and 2000 IDs
          per batch request (1 metric per ID, for 1 day)</p> *<p>Make note, GET Method
          URL request lines are also limited to a total length of 8192 bytes (8 KB).
          In cases where your request—non-batch or batch—approaches this size, it’s
          advised to use the respective “POST” method to avoid URL-length constraints.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxItems: 2000
            minItems: 1
            type: string
          type: array
        style: form
      - description: |
          Periodicity or frequency of the fiscal periods, where
            * **ANN**  = Annual - Original,
            * **ANN_R** = Annual - Latest - *Includes Restatements*
        examples:
          ANN:
            summary: ANN - Annual Original.
            value: ANN
          ANN_R:
            summary: ANN_R - Annual Latest.
            value: ANN_R
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - ANN_R
          type: string
        style: form
      - description: |
          The fiscal period start expressed as YYYY-MM-DD.  Calendar date that will fall back to the most recent completed period during resolution.
        explode: true
        in: query
        name: fiscalPeriodStart
        required: false
        schema:
          example: 2017-09-01
          nullable: true
          type: string
        style: form
      - description: |
          The fiscal period end expressed YYYY-MM-DD.  Calendar date that will fall back to the most recently completed period during resolution.
        explode: true
        in: query
        name: fiscalPeriodEnd
        required: false
        schema:
          example: 2018-03-01
          nullable: true
          type: string
        style: form
      - description: |
          Metrics are the data items available for business and geographic segments, where
            * **SALES**  = Sales/Revenue - Total revenues from the business line/geographic region,
            * **OPINC** = Operating Income/Loss - Operating income generated from the business line/geographic region,
            * **ASSETS** = Total assets from the business line/geographic region,
            * **DEP** = Depreciation Exp - Depreciation expense resulting from the business line/geographic segment,
            * **CAPEX** = Capital Expenditures - Capital expenditures resulting from the business line/geographic region
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          enum:
          - SALES
          - OPINC
          - ASSETS
          - DEP
          - CAPEX
          example: SALES
          type: string
        style: form
      - description: |
          Segment type for the metrics, where
            * **BUS**  = Business,
            * **GEO** = Geographic
        examples:
          BUS:
            summary: BUS - Business.
            value: BUS
          GEO:
            summary: GEO - Geographic.
            value: GEO
        explode: true
        in: query
        name: segmentType
        required: false
        schema:
          default: BUS
          enum:
          - BUS
          - GEO
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use the corresponding `/status` endpoint to see if the job has been completed. Once completed, retrieve the results of the request via the `/result` endpoint.
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Single Company (AAPL-US), sales(SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItemSegment'
                Result of Multiple Companies' single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItemSegment'
              schema:
                $ref: '#/components/schemas/SegmentsResponse'
          description: Segment data items
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Company Segments data.
      tags:
      - Segments
      x-factset-sdk-ignore: true
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: |
        Retrieves Sales Metrics data for specified companies.

        The ```/segments``` endpoint currently supports Long Running asynchronous requests up to **20 minutes** via batch parameter. Id limit is set to 5000 ids per request when using batch capability and 250 ids per request without batching (1 metric per ID, for 1 day in both the cases). This feature is available for all users.
      operationId: getFdsSegmentsForList
      requestBody:
        content:
          application/json:
            examples:
              Single Company (AAPL-US), sales(SALES) details for the given period:
                $ref: '#/components/examples/postBodyOfSingleIdwithSingleMetricItemSegment'
              Multiple Companies single metric item details:
                $ref: '#/components/examples/postBodyOfMultipleIdwithSingleMetricItemSegment'
              Batch Request for (FDS-US), and Multiple Metrics (SALES):
                $ref: '#/components/examples/batchSegmentsRequestPost'
            schema:
              $ref: '#/components/schemas/SegmentsRequest'
        description: Request object for requesting segments data
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItemSegment'
                Result of Multiple companies single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItemSegment'
              schema:
                $ref: '#/components/schemas/SegmentsResponse'
          description: Segment data items
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Company Segment Data.
      tags:
      - Segments
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /point-in-time:
    post:
      description: |
        This endpoint initiates an asynchronous batch job to fetch Point-in-Time (PIT) data. PIT data allows you to view fundamentals data as it was known on a specific date. This is crucial for backtesting trading strategies, performing academic research, and avoiding lookahead bias. All requests will return a `202 Accepted` response with a `Location` header pointing to the `/batch-status` endpoint. Use the `id` from the status response to check for completion and retrieve the result from the `/batch-result` endpoint. **All timestamps are in UTC.**
      operationId: postFundamentalsPITData
      requestBody:
        content:
          application/json:
            examples:
              singleIdSingleMetric:
                $ref: '#/components/examples/postBodySingleIdSingleMetricExample'
              multiIdMultiMetric:
                summary: Multiple IDs, Metrics, and an ASYNC Request
                value:
                  data:
                    ids:
                    - FDS-US
                    - AAPL-US
                    - MSFT-US
                    periodicity: ANN
                    fiscalPeriodStart: 2019-01-01
                    fiscalPeriodEnd: 2021-12-31
                    metrics:
                    - FF_SALES
                    - FF_EPS
                    - FF_NET_INC
                    updateType: RP
                    pitStart: 2020-01-01T00:00:00Z
                    pitEnd: 2020-12-31T23:59:59Z
                    active: true
            schema:
              $ref: '#/components/schemas/FundamentalsPITRequest'
        description: Request object containing parameters for the PIT fundamentals
          request.
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                batchAccepted:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted. Poll the status URL provided
            in the `Location` header to check for completion.
          headers:
            Location:
              description: The URL to poll for status of the batch request.
              explode: false
              schema:
                example: /batch-status?id=d6dd1d02-0f17-45a1-88c8-49f3c97f2922
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "429":
          content:
            application/json:
              examples:
                rateLimitExceeded:
                  $ref: '#/components/examples/errorRateLimitExceeded'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Requests - The rate limit for the API has been exceeded.
            Wait before sending more requests. See `Retry-After` header.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              examples:
                serviceUnavailable:
                  $ref: '#/components/examples/errorServiceUnavailable'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable - The server is currently unable to handle
            the request due to temporary overloading or maintenance of the server.
            This implies a temporary condition which will be alleviated after some
            delay. Please try again later. Check `Retry-After` header if present.
          headers:
            Retry-After:
              description: Indicates how long to wait (in seconds or as an HTTP date)
                before retrying the request when receiving a 429 or 503 response.
              example: 60
              explode: false
              schema:
                oneOf:
                - description: Wait time in seconds.
                  format: int32
                  type: integer
                - description: Specific date and time to retry after.
                  format: date-time
                  type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet-specific request tracing identifier used for troubleshooting
                purposes. Please include this key when reporting issues.
              explode: false
              schema:
                type: string
              style: simple
      summary: Retrieve Point-in-Time data for multiple securities.
      tags:
      - Fundamentals Point In Time
      x-contentType: application/json
      x-accepts: application/json
  /periods:
    post:
      description: |
        This endpoint initiates an asynchronous batch job to fetch detailed information about fiscal periods. The request allows filtering for fiscal periods ending within a specified calendar date range. The response provides Point-in-Time (PIT) details, showing when each period's information was first published and when it was superseded. This is crucial for historical backtesting. All requests will return a `202 Accepted` response with a `Location` header pointing to the `/batch-status` endpoint. Use the `id` from the status response to check for completion and retrieve the result from the `/batch-result` endpoint. **All timestamps are in UTC.**
      operationId: postFundamentalsFiscalPeriods
      requestBody:
        content:
          application/json:
            examples:
              periodsRequestExample:
                summary: Example Periods Request Body
                value:
                  data:
                    ids:
                    - FDS-US
                    - AAPL-US
                    periodicity: QTR
                    fiscalPeriodStart: 2021-01-01
                    fiscalPeriodEnd: 2021-12-31
            schema:
              $ref: '#/components/schemas/PeriodsRequest'
        description: Request object containing parameters for the fiscal periods request.
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                batchAccepted:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted. Poll the status URL provided
            in the `Location` header to check for completion.
          headers:
            Location:
              description: The URL to poll for status of the batch request.
              explode: false
              schema:
                example: /batch-status?id=b6dd1d02-0f17-45a1-88c8-49f3c97f2933
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "429":
          content:
            application/json:
              examples:
                rateLimitExceeded:
                  $ref: '#/components/examples/errorRateLimitExceeded'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Requests - The rate limit for the API has been exceeded.
            Wait before sending more requests. See `Retry-After` header.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              examples:
                serviceUnavailable:
                  $ref: '#/components/examples/errorServiceUnavailable'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable - The server is currently unable to handle
            the request due to temporary overloading or maintenance of the server.
            This implies a temporary condition which will be alleviated after some
            delay. Please try again later. Check `Retry-After` header if present.
          headers:
            Retry-After:
              description: Indicates how long to wait (in seconds or as an HTTP date)
                before retrying the request when receiving a 429 or 503 response.
              example: 60
              explode: false
              schema:
                oneOf:
                - description: Wait time in seconds.
                  format: int32
                  type: integer
                - description: Specific date and time to retry after.
                  format: date-time
                  type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet-specific request tracing identifier used for troubleshooting
                purposes. Please include this key when reporting issues.
              explode: false
              schema:
                type: string
              style: simple
      summary: 'Fiscal Periods: Retrieve fiscal period details for multiple securities
        using POST.'
      tags:
      - Fundamentals Point In Time
      x-contentType: application/json
      x-accepts: application/json
  /company-reports/financial-statement:
    get:
      description: |
        Returns company financial data (preliminary or final) for specified security and statement type (income statement, balance sheet, cash flow), for various fiscal reporting periods. All values provided in the response are absolute.<br>
        **Note:** Due to variations in calculation time of average exchange rates, there may be some minor differences in the values of company report financial statement attributes if you are requesting for a currency other than local, when compared to the workstation.
      operationId: getFinancials
      parameters:
      - description: The type of financial statement being requested.
        examples:
          BS:
            summary: BS - Balance Sheet
            value: BS
          CF:
            summary: CF - Cash Flow
            value: CF
          IS:
            summary: IS - Income Statement
            value: IS
        explode: true
        in: query
        name: statementType
        required: true
        schema:
          enum:
          - BS
          - CF
          - IS
          type: string
        style: form
      - description: The requested security identifier. Accepted ID types include
          Market Ticker, SEDOL, ISIN, CUSIP, or FactSet Permanent Id.
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: IBM-US
          type: string
        style: form
      - description: |
          Periodicity or frequency of the fiscal periods, where
            * **ANN**  = Annual - Original,
            * **ANN_R** = Annual - Latest - *Includes Restatements*,
            * **QTR**  = Quarterly - Original,
            * **QTR_R** = Quarterly - Latest - *Includes Restatements*,
            * **SEMI** = Semi-Annual,
            * **SEMI_R** = Semi-Annual - Latest - *Includes Restatements*,
            * **LTM**  = Last Twelve Months,
            * **YTD** = Year-to-date.
            <br>

          Please note that the coverage for SEMI_R may be limited as fewer companies report with this periodicity.<br>
        examples:
          ANN:
            summary: ANN - Annual Original.
            value: ANN
          ANN_R:
            summary: ANN_R - Annual Latest.
            value: ANN_R
          QTR:
            summary: QTR - Quarterly Original.
            value: QTR
          QTR_R:
            summary: QTR_R - Quarterly Latest.
            value: QTR_R
          SEMI:
            summary: SEMI - Semi-Annual Original.
            value: SEMI
          SEMI_R:
            summary: SEMI_R - Semi-Annual Latest.
            value: SEMI_R
          LTM:
            summary: LTM - Last Twelve Months Original.
            value: LTM
          YTD:
            summary: YTD - Year-to-date.
            value: YTD
        explode: true
        in: query
        name: periodicity
        required: true
        schema:
          enum:
          - ANN
          - ANN_R
          - QTR
          - QTR_R
          - SEMI
          - SEMI_R
          - LTM
          - YTD
          type: string
        style: form
      - description: |
          Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).

          Giving input as `DOC` would give the values in reporting currency for the requested ids.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          example: USD
          type: string
        style: form
      - description: |-
          Update Status Flag:
            * **RP** = Include preliminary data,
            * **RF** = Only final data
        examples:
          ANN:
            summary: RP - Include preliminary data.
            value: RP
          QTR:
            summary: RF - Only final data.
            value: RF
        explode: true
        in: query
        name: updateType
        required: false
        schema:
          default: RP
          enum:
          - RP
          - RF
          type: string
        style: form
      - description: The time period for the returned data. Within range of 1 to 100.
          If not specified default will be 4.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 4
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Company details for the given time period:
                  $ref: '#/components/examples/resultOfCompanyDetails'
              schema:
                $ref: '#/components/schemas/FinancialResponse'
          description: Financial data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns company financial data.
      tags:
      - Company Reports
      x-accepts: application/json
  /company-reports/profile:
    get:
      description: |
        Retrieves a comprehensive overview of key profile details and information of specified list of identifiers. The response includes the company name, address, industry, sector, number of employees, CEO, business summary, exchange, market capitalization, shares outstanding, P/E ratio, year founded, and other details. All values provided in the response are absolute.
      operationId: getFdsProfiles
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  50 per request*</p>
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - AAPL-US
            - IBM-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Company profile for the given identifiers:
                  $ref: '#/components/examples/resultOfCompanyProfileDetails'
                Result of Multiple Company profiles for the given identifiers:
                  $ref: '#/components/examples/resultOfMultipleCompanyProfilesDetails'
                Result of Company profile for the given identifiers with errors:
                  $ref: '#/components/examples/resultOfCompanyProfileDetailsWithError'
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Profile data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns company profile information for a specified list of identifiers.
      tags:
      - Company Reports
      x-accepts: application/json
  /company-reports/fundamentals:
    get:
      description: |
        Returns detailed insights on specified publicly traded company's various key financial measures or fundamentals like cash per share, dividend, EPS, EBIT etc. All values provided in the response are absolute.<br>
        **Note:** Due to variations in calculation time of average exchange rates, there may be some minor differences in the values of company report financial statement attributes if you are requesting for a currency other than local, when compared to the workstation.
      operationId: getFundamentals
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  50 per request*</p>
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - AAPL-US
            - IBM-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      - description: |
          Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).

          Giving input as `DOC` would give the values in reporting currency for the requested ids.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          example: USD
          type: string
        style: form
      - description: |
          Periodicity or frequency of the fiscal periods. If omitted, will return the latest available data irrespective of the periodicity.
            * **ANN**  = Annual - Original,
            * **QTR**  = Quarterly - Original
            * **SEMI** = Semi-Annual
        examples:
          ANN:
            summary: ANN - Annual Original.
            value: ANN
          QTR:
            summary: QTR - Quarterly Original.
            value: QTR
          SEMI:
            summary: SEMI - Semi-Annual Original.
            value: SEMI
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          enum:
          - ANN
          - QTR
          - SEMI
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Fundamentals details for the given identifiers:
                  $ref: '#/components/examples/resultOfFundamentalDetails'
                Result of Company Fundamentals for the given identifiers with errors:
                  $ref: '#/components/examples/resultOfCompanyFundamentalsDetailsWithError'
              schema:
                $ref: '#/components/schemas/CompanyFundamentalsResponse'
          description: Fundamentals data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns company fundamentals for a given list of identifiers.
      tags:
      - Company Reports
      x-accepts: application/json
  /metrics:
    get:
      description: |
        Returns list of available FF_* metrics that can be used in the `metrics` parameter of related endpoints. These are related to FactSet Fundamentals standardized data. As Reported will be available in future endpoints. Leave Category and Subcategory blank to request all available items. The Endpoint Data model is optimized for time-series data with periodicity. Some items in this list are non-time series.
        **For methodology definitions, reference the `OApageID` or `OAurl` response items to launch the available methodology page.**
      operationId: getFdsFundamentalsMetrics
      parameters:
      - description: |-
          Filters the list of FF_* metrics by major category -
            * **INCOME_STATEMENT** = Income Statement line items, such as Sales, Gross Profit, Net Income.
            * **BALANCE_SHEET** = Balance Sheet line items, such as Assets, Liabilities, and Shareholders Equity.
            * **CASH_FLOW** = Cash Flow Statement line items, such as Financing activities, Operation, and Per Share.
            * **RATIOS** = Pre-calculated Ratios, including Financial, Growth Rates, Profitability, Liquidity, Size, and Valuation.
            * **FINANCIAL_SERVICES** = Financial Statement Items modified for Financial Services companies.
            * **INDUSTRY_METRICS** = Industry Specific Line Items or Modifications. View subcategory for list of Industries.
            * **PENSION_AND_POSTRETIREMENT** = Accumulated Pension Benefit Obligations and related data.
            * **MARKET_DATA** = General Market Data, such as Shares Outstanding. *Note - /factset-prices/prices/ endpoints may be better suited for pricing-related market data.*
            * **MISCELLANEOUS** = Corporation Data, Financial Records details, Indicators.
            * **DATES** = Relevant Dates
        examples:
          INCOME_STATEMENT:
            summary: INCOME_STATEMENT - Income Statement.
            value: INCOME_STATEMENT
          BALANCE_SHEET:
            summary: BALANCE_SHEET - Balance Sheet.
            value: BALANCE_SHEET
          CASH_FLOW:
            summary: CASH_FLOW - Cash Flow Statement.
            value: CASH_FLOW
          RATIOS:
            summary: RATIOS - Pre-calculated Ratios.
            value: RATIOS
          FINANCIAL_SERVICES:
            summary: FINANCIAL_SERVICES - Financial Statement.
            value: FINANCIAL_SERVICES
          INDUSTRY_METRICS:
            summary: INDUSTRY_METRICS - Industry Specific.
            value: INDUSTRY_METRICS
          PENSION_AND_POSTRETIREMENT:
            summary: PENSION_AND_POSTRETIREMENT - Accumulated Pension Benefit Obligations.
            value: PENSION_AND_POSTRETIREMENT
          MARKET_DATA:
            summary: MARKET_DATA - General Market Data.
            value: MARKET_DATA
          MISCELLANEOUS:
            summary: MISCELLANEOUS - Corporation Data, Financial Records details,
              Indicators.
            value: MISCELLANEOUS
          DATES:
            summary: DATES - Relevant Dates.
            value: DATES
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - INCOME_STATEMENT
          - BALANCE_SHEET
          - CASH_FLOW
          - RATIOS
          - FINANCIAL_SERVICES
          - INDUSTRY_METRICS
          - PENSION_AND_POSTRETIREMENT
          - MARKET_DATA
          - MISCELLANEOUS
          - DATES
          type: string
        style: form
      - description: |-
          Sub-Category Filter for the Primary Category Requested. Choose a related sub-category for the Category requested-
            * **INCOME_STATEMENT** - INCOME_STATEMENT, NON-OPERATING, PER_SHARE, SUPPLEMENTAL, EXPENSES, OPERATING_COST, NON-RECURRING_ITEMS, REVENUES, OTHER
            * **BALANCE_SHEET** - ASSETS, BALANCE_SHEET, HEALTHCARE, LIABILITIES, PER_SHARE, SHAREHOLDERS_EQUITY, SUPPLEMENTAL
            * **CASH_FLOW** - CASH_FLOW, CHANGE_IN_CASH, FINANCING, INVESTING, OPERATING, PER_SHARE, SUPPLEMENTAL, FINANCING_ACTIVITIES, OPERATING_ACTIVITIES, INVESTING_ACTIVITIES
            * **RATIOS** - FINANCIAL, GROWTH_RATE, LIQUIDITY, PROFITABILITY, SIZE, VALUATION
            * **FINANCIAL_SERVICES** - BALANCE_SHEET, INCOME_STATEMENT, SUPPLEMENTAL
            * **INDUSTRY_METRICS** - AIRLINES, BANKING, HOTELS_AND_GAMING, METALS_AND_MINING, OIL_AND_GAS, PHARMACEUTICAL, REIT, RETAIL, BANK, INSURANCE, UTILITY
            * **PENSION_AND_POSTRETIREMENT** - PENSION_AND_POSTRETIREMENT
            * **MARKET_DATA** - MARKET_DATA
            * **MISCELLANEOUS** - CLASSIFICATION, CORPORATE_DATA, FINANCIAL_RECORDS, INDICATOR, EMPLOYEES_AND_MANAGEMENT
            * **DATES** - DATES
        examples:
          INCOME_STATEMENT_INCOME_STATEMENT:
            summary: INCOME_STATEMENT - INCOME_STATEMENT
            value: INCOME_STATEMENT
          INCOME_STATEMENT_OPERATING:
            summary: INCOME_STATEMENT - NON-OPERATING
            value: OPERATING
          INCOME_STATEMENT_PER_SHARE:
            summary: INCOME_STATEMENT - PER_SHARE
            value: PER_SHARE
          INCOME_STATEMENT_SUPPLEMENTAL:
            summary: INCOME_STATEMENT - SUPPLEMENTAL
            value: SUPPLEMENTAL
          INCOME_STATEMENT_NET_INCOME:
            summary: INCOME_STATEMENT - NET_INCOME
            value: NET_INCOME
          INCOME_STATEMENT_EXPENSES:
            summary: INCOME_STATEMENT - EXPENSES
            value: EXPENSES
          INCOME_STATEMENT_OPERATING_COST:
            summary: INCOME_STATEMENT - OPERATING_COST
            value: OPERATING_COST
          INCOME_STATEMENT_NON-RECURRING_ITEMS:
            summary: INCOME_STATEMENT - NON-RECURRING_ITEMS
            value: NON-RECURRING_ITEMS
          INCOME_STATEMENT_REVENUES:
            summary: INCOME_STATEMENT - REVENUES
            value: REVENUES
          INCOME_STATEMENT_OTHER:
            summary: INCOME_STATEMENT - OTHER
            value: OTHER
          BALANCE_SHEET_ASSETS:
            summary: BALANCE_SHEET - ASSETS
            value: ASSETS
          BALANCE_SHEET_BALANCE_SHEET:
            summary: BALANCE_SHEET - BALANCE_SHEET
            value: BALANCE_SHEET
          BALANCE_SHEET_HEALTHCARE:
            summary: BALANCE_SHEET - HEALTHCARE
            value: HEALTHCARE
          BALANCE_SHEET_LIABILITIES:
            summary: BALANCE_SHEET - LIABILITIES
            value: LIABILITIES
          BALANCE_SHEET_PER_SHARE:
            summary: BALANCE_SHEET - PER_SHARE
            value: PER_SHARE
          BALANCE_SHEET_SHAREHOLDERS_EQUITY:
            summary: BALANCE_SHEET - SHAREHOLDERS_EQUITY
            value: SHAREHOLDERS_EQUITY
          BALANCE_SHEET_SUPPLEMENTAL:
            summary: BALANCE_SHEET - SUPPLEMENTAL
            value: SUPPLEMENTAL
          CASH_FLOW_CASH_FLOW:
            summary: CASH_FLOW - CASH_FLOW
            value: CASH_FLOW
          CASH_FLOW_CHANGE_IN_CASH:
            summary: CASH_FLOW - CHANGE_IN_CASH
            value: CHANGE_IN_CASH
          CASH_FLOW_FINANCING:
            summary: CASH_FLOW - FINANCING
            value: FINANCING
          CASH_FLOW_FINANCING_ACTIVITIES:
            summary: CASH_FLOW - FINANCING_ACTIVITIES
            value: FINANCING_ACTIVITIES
          CASH_FLOW_INVESTING:
            summary: CASH_FLOW - INVESTING
            value: INVESTING
          CASH_FLOW_INVESTING_ACTIVITIES:
            summary: CASH_FLOW - INVESTING_ACTIVITIES
            value: INVESTING_ACTIVITIES
          CASH_FLOW_OPERATING:
            summary: CASH_FLOW - OPERATING
            value: OPERATING
          CASH_FLOW_OPERATING_ACTIVITIES:
            summary: CASH_FLOW - OPERATING_ACTIVITIES
            value: OPERATING_ACTIVITIES
          CASH_FLOW_PER_SHARE:
            summary: CASH_FLOW - PER_SHARE
            value: PER_SHARE
          CASH_FLOW_SUPPLEMENTAL:
            summary: CASH_FLOW - SUPPLEMENTAL
            value: SUPPLEMENTAL
          RATIOS_FINANCIAL:
            summary: RATIOS - FINANCIAL
            value: FINANCIAL
          RATIOS_GROWTH_RATE:
            summary: RATIOS - GROWTH_RATE
            value: GROWTH_RATE
          RATIOS_LIQUIDITY:
            summary: RATIOS - LIQUIDITY
            value: LIQUIDITY
          RATIOS_PROFITABILITY:
            summary: RATIOS - PROFITABILITY
            value: PROFITABILITY
          RATIOS_SIZE:
            summary: RATIOS - SIZE
            value: SIZE
          RATIOS_VALUATION:
            summary: RATIOS - VALUATION
            value: VALUATION
          FINANCIAL_SERVICES_BALANCE_SHEET:
            summary: FINANCIAL_SERVICES - BALANCE_SHEET
            value: BALANCE_SHEET
          FINANCIAL_SERVICES_INCOME_STATEMENT:
            summary: FINANCIAL_SERVICES - INCOME_STATEMENT
            value: INCOME_STATEMENT
          FINANCIAL_SERVICES_SUPPLEMENTAL:
            summary: FINANCIAL_SERVICES - SUPPLEMENTAL
            value: SUPPLEMENTAL
          INDUSTRY_METRICS_AIRLINES:
            summary: INDUSTRY_METRICS - AIRLINES
            value: AIRLINES
          INDUSTRY_METRICS_BANKING:
            summary: INDUSTRY_METRICS - BANKING
            value: BANKING
          INDUSTRY_METRICS_HOMEBUILDING:
            summary: INDUSTRY_METRICS - HOMEBUILDING
            value: HOMEBUILDING
          INDUSTRY_METRICS_HOTELS_AND_GAMING:
            summary: INDUSTRY_METRICS - HOTELS_AND_GAMING
            value: HOTELS_AND_GAMING
          INDUSTRY_METRICS_METALS_AND_MINING:
            summary: INDUSTRY_METRICS - METALS_AND_MINING
            value: METALS_AND_MINING
          INDUSTRY_METRICS_OIL_AND_GAS:
            summary: INDUSTRY_METRICS - OIL_AND_GAS
            value: OIL_AND_GAS
          INDUSTRY_METRICS_PHARMACEUTICAL:
            summary: INDUSTRY_METRICS - PHARMACEUTICAL
            value: PHARMACEUTICAL
          INDUSTRY_METRICS_REIT:
            summary: INDUSTRY_METRICS - REIT
            value: REIT
          INDUSTRY_METRICS_RETAIL:
            summary: INDUSTRY_METRICS - RETAIL
            value: RETAIL
          INDUSTRY_METRICS_BANK:
            summary: INDUSTRY_METRICS - BANK
            value: BANK
          INDUSTRY_METRICS_INSURANCE:
            summary: INDUSTRY_METRICS - INSURANCE
            value: INSURANCE
          INDUSTRY_METRICS_UTILITY:
            summary: INDUSTRY_METRICS - UTILITY
            value: UTILITY
          INDUSTRY_METRICS_TELECOM:
            summary: INDUSTRY_METRICS - TELECOM
            value: TELECOM
          PENSION_AND_POSTRETIREMENT_PENSION_AND_POSTRETIREMENT:
            summary: PENSION_AND_POSTRETIREMENT - PENSION_AND_POSTRETIREMENT
            value: PENSION_AND_POSTRETIREMENT
          MARKET_DATA_MARKET_DATA:
            summary: MARKET_DATA - MARKET_DATA
            value: MARKET_DATA
          MISCELLANEOUS_CLASSIFICATION:
            summary: MISCELLANEOUS - CLASSIFICATION
            value: CLASSIFICATION
          MISCELLANEOUS_CORPORATE_DATA:
            summary: MISCELLANEOUS - CORPORATE_DATA
            value: CORPORATE_DATA
          MISCELLANEOUS_FINANCIAL_RECORDS:
            summary: MISCELLANEOUS - FINANCIAL_RECORDS
            value: FINANCIAL_RECORDS
          MISCELLANEOUS_INDICATOR:
            summary: MISCELLANEOUS - INDICATOR
            value: INDICATOR
          MISCELLANEOUS_EMPLOYEES_AND_MANAGEMENT:
            summary: MISCELLANEOUS - EMPLOYEES_AND_MANAGEMENT
            value: EMPLOYEES_AND_MANAGEMENT
          DATES_DATES:
            summary: DATES - DATES
            value: DATES
        explode: true
        in: query
        name: subcategory
        required: false
        schema:
          enum:
          - ASSETS
          - BALANCE_SHEET
          - HEALTHCARE
          - LIABILITIES
          - PER_SHARE
          - SHAREHOLDERS_EQUITY
          - SUPPLEMENTAL
          - CASH_FLOW
          - CHANGE_IN_CASH
          - FINANCING
          - INVESTING
          - OPERATING
          - DATES
          - INCOME_STATEMENT
          - NON-OPERATING
          - RETAIL
          - AIRLINES
          - BANK
          - BANKING
          - HOTELS_AND_GAMING
          - METALS_AND_MINING
          - OIL_AND_GAS
          - PHARMACEUTICAL
          - REIT
          - MARKET_DATA
          - CLASSIFICATION
          - CORPORATE_DATA
          - FINANCIAL_RECORDS
          - INDICATOR
          - EMPLOYEES_AND_MANAGEMENT
          - PENSION_AND_POSTRETIREMENT
          - FINANCIAL
          - GROWTH_RATE
          - LIQUIDITY
          - PROFITABILITY
          - SIZE
          - VALUATION
          - OTHER
          - HOMEBUILDING
          - NET_INCOME
          - TELECOM
          - UTILITY
          - INSURANCE
          - EXPENSES
          - OPERATING_COST
          - OPERATING_ACTIVITIES
          - NON-RECURRING_ITEMS
          - FINANCING_ACTIVITIES
          - INVESTING_ACTIVITIES
          - REVENUES
          type: string
        style: form
      - description: Returns general data type of the metrics like integer, float
          or strings. When left blank, metrics with all data types would be returned.
        examples:
          integer:
            summary: Integer Metrics
            value: integer
          float:
            summary: Float and Double Metrics
            value: float
          string:
            summary: String Metrics
            value: string
          empty:
            summary: return all datatypes
            value: ""
        explode: true
        in: query
        name: metricDataType
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: |-
          Filters the list of metrics based on whether they are available for Point-in-Time (PIT) historical data.
          * `true` - Returns metrics that are available in PIT datasets. These metrics can be used in the `/point-in-time` endpoint.
          * `false` (default) - Returns metrics that are available in non-PIT datasets.
        examples:
          pitDataItems:
            summary: Get metrics available for PIT datasets
            value: true
          nonPitDataItems:
            summary: Get metrics available for non-PIT datasets
            value: false
        explode: true
        in: query
        name: pitDataItems
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response of metrics:
                  $ref: '#/components/examples/metricsresponse'
              schema:
                $ref: '#/components/schemas/MetricsResponse'
          description: Fundamentals data metric items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Fundamentals Metric Id:
                  $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns available FactSet Fundamental metrics and ratios.
      tags:
      - Metrics
      x-accepts: application/json
  /batch-status:
    get:
      deprecated: false
      description: Return the status for the underlying batch request that is specified
        by the id.
      operationId: getBatchStatus
      parameters:
      - allowEmptyValue: false
        description: Batch Request identifier.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: The batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              example: batch-result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: The batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              examples:
                Batch Request Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      summary: Returns the status for a Batch Request
      tags:
      - Batch Processing
      x-accepts: application/json
  /batch-result:
    get:
      deprecated: false
      description: |
        Returns the response data for the underlying batch request that is specified by the id. The response structure will be based on the endpoint that initiated the batch request (/fundamentals, /segments, /point-in-time, or /periods).

        By default, this endpoint will return data as JSON. If you wish to receive your data in CSV format, you can edit the header to have the "accept" parameter as "text/csv" instead of "application/json".
      operationId: getBatchData
      parameters:
      - allowEmptyValue: false
        description: Batch Request identifier.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                fundamentalsResult:
                  $ref: '#/components/examples/resultOfSingleIdwithMultipleMetricItem'
                segmentsResult:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItemSegment'
                pitResult:
                  $ref: '#/components/examples/resultWithPITDatesExample'
                pitResultWeekly:
                  $ref: '#/components/examples/resultWeeklyFrequency'
                pitResultMonthly:
                  $ref: '#/components/examples/resultMonthlyFrequency'
                periodsResult:
                  $ref: '#/components/examples/periodsResponseExample'
              schema:
                $ref: '#/components/schemas/BatchResultResponse'
          description: The long-running request has been completed and the result
            is created. The response structure will be based on the endpoint that
            initiated the batch request.
        "202":
          content:
            application/json:
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: The batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              examples:
                Batch Request Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      summary: Returns the response for a Batch Request
      tags:
      - Batch Processing
      x-factset-different-success-responses: true
      x-accepts: application/json
components:
  examples:
    resultOfSingleIdwithSingleMetricItem:
      description: |
        Results of the FDS-US sales data for the period 2017-09-01 to 2018-03-01 on a quarterly basis with the preliminary data Values.
      summary: Result of Single Company single metric item [FF_SALES] details.
      value:
        data:
        - requestId: FDS-US
          fsymId: SQFMK3-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 1
          fiscalYear: 2018
          fiscalPeriodLength: 91
          fiscalEndDate: 2017-11-30
          reportDate: 2017-11-30
          epsReportDate: 2017-12-19
          updateType: Final
          currency: USD
          value: 20.345
        - requestId: FDS-US
          fsymId: SQFMK3-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 2
          fiscalYear: 2018
          fiscalPeriodLength: 90
          fiscalEndDate: 2018-02-28
          reportDate: 2018-02-28
          epsReportDate: 2018-03-27
          updateType: Final
          currency: USD
          value: 30.345
    resultOfMultipleIdwithSingleMetricItem:
      description: |
        Results the FDS-US, IBM-US, AAPL-US sales data for the period 2017-09-01 to 2018-03-01 on a quarterly basis with the final data Values.
      summary: Result of Multiple Companies single metric item [FF_SALES] details.
      value:
        data:
        - requestId: FDS-US
          fsymId: SQFMK3-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 1
          fiscalYear: 2018
          fiscalPeriodLength: 91
          fiscalEndDate: 2017-11-30
          reportDate: 2017-11-30
          epsReportDate: 2017-12-19
          updateType: Final
          currency: USD
          value: 329.141
        - requestId: FDS-US
          fsymId: SQFMK3-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 2
          fiscalYear: 2018
          fiscalPeriodLength: 90
          fiscalEndDate: 2018-02-28
          reportDate: 2018-02-28
          epsReportDate: 2018-03-27
          updateType: Final
          currency: USD
          value: 335.231
        - requestId: IBM-US
          fsymId: SJY281-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 3
          fiscalYear: 2017
          fiscalPeriodLength: null
          fiscalEndDate: 2017-09-30
          reportDate: 2017-09-30
          epsReportDate: 2017-10-17
          updateType: Final
          currency: USD
          value: 19153.001
        - requestId: IBM-US
          fsymId: SJY281-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 4
          fiscalYear: 2017
          fiscalPeriodLength: null
          fiscalEndDate: 2017-12-31
          reportDate: 2017-12-31
          epsReportDate: 2018-01-18
          updateType: Final
          currency: USD
          value: 22543.001
        - requestId: AAPL-US
          fsymId: MH33D6-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 4
          fiscalYear: 2017
          fiscalPeriodLength: 91
          fiscalEndDate: 2017-09-30
          reportDate: 2017-09-30
          epsReportDate: 2017-11-02
          updateType: Final
          currency: USD
          value: 52574.001
        - requestId: AAPL-US
          fsymId: MH33D6-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 1
          fiscalYear: 2018
          fiscalPeriodLength: 91
          fiscalEndDate: 2017-12-31
          reportDate: 2017-12-30
          epsReportDate: 2018-02-01
          updateType: Final
          currency: USD
          value: 88477.001
    resultOfSingleIdwithMultipleMetricItem:
      description: |
        Results of the FDS-US Quarterly Sales and Price to Earnings data as of 2020-05-31
      summary: Result of Single Company and Multiple Metrics [FF_SALES, FF_PE]
      value:
        data:
        - requestId: FDS
          fsymId: SQFMK3-R
          metric: FF_SALES
          periodicity: QTR
          fiscalPeriod: 3
          fiscalYear: 2020
          fiscalPeriodLength: 92
          fiscalEndDate: 2020-05-31
          reportDate: 2020-05-31
          epsReportDate: 2020-06-25
          updateType: Final
          currency: USD
          value: 374.083
        - requestId: FDS
          fsymId: SQFMK3-R
          metric: FF_PE
          periodicity: QTR
          fiscalPeriod: 3
          fiscalYear: 2020
          fiscalPeriodLength: 92
          fiscalEndDate: 2020-05-31
          reportDate: 2020-05-31
          epsReportDate: 2020-06-25
          updateType: Final
          currency: USD
          value: 31.6769162623484
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: 2021-06-29T18:34:52.168Z
          endTime: null
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: GenericError
            title: the date parameter must be in YYYY-MM-DD format
    metricsresponse:
      description: Response of metric for category as "BALANCE_SHEET" and subcategory
        as "ASSETS"
      summary: Response of metrics
      value:
        data:
        - metric: FF_ASSETS
          name: Total Assets
          category: BALANCE_SHEET
          subcategory: ASSETS
          isPIT: false
          isNonPIT: true
          oaPageId: D10585
          description: |-
            Total Assets

            Total Assets

            Page: D10585Library: FactSet Fundamentals

            Category: Balance Sheet/Assets

            Units:Millions

            Annual and Interim items - All Industries

            Represents as reported total value of resources the company is using for its operations. Company assets are expected to provide future economic benefits in the entire course of business. Most of these are convertible into cash which can be used to cover any obligations. Thus, this is equal to the company&rsquo;s liabilities and total equity.

            It includes:
            -  Negative Goodwill

            -  Goodwill (reported as part of Liabilities)

            -  Due to associated companies

            -  Subscription receivable

            -  Deferred tax assets

            -  Advances on export contracts (reported as deduction within Receivables by Brazilian companies)

            It excludes:
            -  Own shares

            -  Unrealized foreign exchange loss

            -  Retained losses (reported as part of Assets)

            -  Uncalled capital

            This will be equal to the as reported total assets value if the items stated above are not reported.
          oaUrl: https://my.apps.factset.com/oa/pages/D10585
          factor: 1000000
          sdfPackage: BASIC
          dataType: doubleArray
    postBodyOfSingleIdwithSingleMetricItem:
      description: Requests the FDS-US sales data for the period 2017-09-01 to 2018-03-01
        on a quarterly basis with the preliminary data Values.
      summary: FDS-US company sales[FF_SALES] data for the given time period
      value:
        data:
          ids:
          - FDS-US
          periodicity: QTR
          fiscalPeriod:
            start: 2017-09-01
            end: 2018-03-01
          metrics:
          - FF_SALES
          currency: USD
          updateType: RP
    postBodyOfMultipleIdwithSingleMetricItem:
      description: Post body request example to fetch details of the FDS-US, IBM-US,
        AAPL-US sales data for the period 2017-09-01 to 2018-03-01 on a quarterly
        basis with the final data Values.
      summary: Multiple companies single metric item [FF_SALES] details.
      value:
        data:
          ids:
          - FDS-US
          - IBM-US
          - AAPL-US
          periodicity: QTR
          fiscalPeriod:
            start: 2017-09-01
            end: 2018-03-01
          metrics:
          - FF_SALES
          currency: USD
[...]
