openapi: 3.0.0
info:
  description: FactSet's SCIM API implementation.
  title: FactSet SCIM API
  version: 1.0.0
servers:
- description: Production environment
  url: https://api.factset.com/scim/v2/
- description: UAT environment
  url: https://api.uat.factset.com/scim/v2/
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /ServiceProviderConfig:
    get:
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ServiceProviderConfig'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get server configuration.
      tags:
      - Server configuration
      x-accepts: application/scim+json
  /Schemas:
    get:
      parameters:
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SchemaList'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of schemas.
      tags:
      - Schemas
      x-accepts: application/scim+json
  /Schemas/{id}:
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Schema'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Schema urn:scim:schemas:extension:FactSet:Core:1.0:User not
                  found
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Schema not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a schema.
      tags:
      - Schemas
      x-accepts: application/scim+json
  /Users:
    get:
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against strings.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* parameter.
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* parameter.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of users.
      tags:
      - Users
      x-accepts: application/scim+json
    post:
      requestBody:
        $ref: '#/components/requestBodies/userResource'
      responses:
        "201":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Create a user.
      tags:
      - Users
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /Users/{id}:
    delete:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: User successfully deleted.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Delete a user
      tags:
      - Users
      x-accepts: application/scim+json
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a user.
      tags:
      - Users
      x-accepts: application/scim+json
    patch:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/patchUserResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Patch a user (add, replace, or remove attributes of a user.)
      tags:
      - Users
      x-contentType: application/scim+json
      x-accepts: application/scim+json
    put:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/userResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Replace a user.
      tags:
      - Users
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /Groups:
    get:
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against strings.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* parameter.
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* parameter.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of groups.
      tags:
      - Groups
      x-accepts: application/scim+json
  /Group/{id}:
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Group Domain btud - Pod 04 - CitrixApps - Cymba OMS was not
                  found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Group not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a group.
      tags:
      - Groups
      x-accepts: application/scim+json
    patch:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/patchGroupResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Patch a group (add, replace, or remove attributes of a group.)
      tags:
      - Groups
      x-contentType: application/scim+json
      x-accepts: application/scim+json
    put:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/groupResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Group Domain btud - Pod 04 - CitrixApps - Cymba OMS was not
                  found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Group not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Replace a group.
      tags:
      - Groups
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /Locations:
    get:
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against strings.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* parameter.
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* parameter.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of locations.
      tags:
      - Locations
      x-accepts: application/scim+json
  /Locations/{id}:
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Location 1598276 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Location not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a location.
      tags:
      - Locations
      x-accepts: application/scim+json
    patch:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/patchLocationResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Patch a location (add, replace, or remove attributes of a location.)
      tags:
      - Locations
      x-contentType: application/scim+json
      x-accepts: application/scim+json
    put:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/locationResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Location 1598276 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Location not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Replace a location.
      tags:
      - Locations
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /Products:
    get:
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against strings.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* parameter.
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* parameter.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ProductResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of products.
      tags:
      - Products
      x-accepts: application/scim+json
  /Products/{id}:
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ProductResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Product 6781 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Product not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a product.
      tags:
      - Products
      x-accepts: application/scim+json
  /VermilionUsers:
    get:
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against strings.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* parameter.
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* parameter.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionUserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of Vermilion users.
      tags:
      - VermilionUsers
      x-accepts: application/scim+json
    post:
      requestBody:
        $ref: '#/components/requestBodies/vermilionUserResource'
      responses:
        "201":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionUserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Create a Vermilion user.
      tags:
      - VermilionUsers
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /VermilionUsers/{id}:
    delete:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: User successfully deleted.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: VermilionUser vrsqa-jrs-01:21 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Vermilion user not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Delete a Vermilion user.
      tags:
      - VermilionUsers
      x-accepts: application/scim+json
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionUserResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a Vermilion user.
      tags:
      - VermilionUsers
      x-accepts: application/scim+json
    patch:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/patchVermilionUserResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionUserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Patch a Vermilion user (add, replace, or remove attributes of a Vermilion
        user.)
      tags:
      - VermilionUsers
      x-contentType: application/scim+json
      x-accepts: application/scim+json
    put:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/vermilionUserResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionUserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Replace a Vermilion user.
      tags:
      - VermilionUsers
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /VermilionGroups:
    get:
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against strings.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* parameter.
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* parameter.
        explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionGroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a list of Vermilion groups.
      tags:
      - VermilionGroups
      x-accepts: application/scim+json
  /VermilionGroups/{id}:
    get:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionGroupResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get a Vermilion group.
      tags:
      - VermilionGroups
      x-accepts: application/scim+json
    patch:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/patchVermilionGroupResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionGroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Patch a Vermilion group (add, replace, or remove attributes of a Vermilion
        group.)
      tags:
      - VermilionGroups
      x-contentType: application/scim+json
      x-accepts: application/scim+json
    put:
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/vermilionGroupResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/VermilionGroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet.net credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Replace a Vermilion group.
      tags:
      - VermilionGroups
      x-contentType: application/scim+json
      x-accepts: application/scim+json
  /FileManagerAudit:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileManagerAudit'
          description: Success.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      security:
      - basicAuth: []
      summary: Get File Manager audit data.
      tags:
      - FileManagerAudit
      x-accepts: application/json
components:
  parameters:
    resourceId:
      description: ID of resource.
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    filter:
      description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
        for syntax. Note this API implementation also supports a non-standard "re"
        operator for regular expression matching against strings.
      explode: true
      in: query
      name: filter
      required: false
      schema:
        type: string
      style: form
    startIndex:
      description: Result start index. The one-based index of the first result to
        be returned in the list of resources. For example, to exclude the first two
        resources, use a *startIndex* value of 3. This parameter has a default value
        of 1. This index applies *after* any resource filtration has been applied
        as specified by the *filter* argument.
      explode: true
      in: query
      name: startIndex
      required: false
      schema:
        type: integer
      style: form
    count:
      description: Maximum resource count. The server will not return more resources
        than this value, although it may return fewer.
      explode: true
      in: query
      name: count
      required: false
      schema:
        type: integer
      style: form
    attributes:
      description: Attribute whitelist filter string. A comma-separated list of resource
        attribute names to be returned in the response, overriding the set of attributes
        that would be returned by default. Attribute names must be specified in standard
        attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
        This parameter cannot be used with the *excludedAttributes* parameter.
      explode: true
      in: query
      name: attributes
      required: false
      schema:
        type: string
      style: form
    excludedAttributes:
      description: Attribute blacklist filter string. A comma-separated list of resource
        attribute names to be excluded in the response, overriding the set of attributes
        that would be returned by default. Attribute names must be specified in standard
        attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
        This parameter cannot be used with the *attributes* parameter.
      explode: true
      in: query
      name: excludedAttributes
      required: false
      schema:
        type: string
      style: form
  requestBodies:
    userResource:
      content:
        application/scim+json:
          examples:
            Minimum:
              value:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:scim:schemas:extension:FactSet:Core:1.0:User
                name:
                  familyName: Doe
                  givenName: John
                email: jdoe@factset.com
                urn:scim:schemas:extension:FactSet:Core:1.0:User:
                  username: FIN_WEALTH
                  location:
                    value: "1598276"
            Expanded:
              value:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:scim:schemas:extension:FactSet:Core:1.0:User
                externalId: C3574707-FFF9-433C-A17F-DFF806C72A7F
                name:
                  familyName: Doe
                  givenName: John
                email: jdoe@factset.com
                urn:scim:schemas:extension:FactSet:Core:1.0:User:
                  username: FIN_WEALTH
                  location:
                    value: "1598276"
                  roleName: Wealth Manager
                  products:
                  - value: "1396"
                  assertionValue: exampleAssertionValue
          schema:
            $ref: '#/components/schemas/UserResource'
      description: User resource.
      required: true
    patchUserResource:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:PatchOp
            Operations:
            - op: replace
              path: urn:scim:schemas:extension:FactSet:Core:1.0:User:roleName
              value: Wealth Manager
          schema:
            $ref: '#/components/schemas/Patch'
    groupResource:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/GroupResource'
      description: Group resource.
      required: true
    patchGroupResource:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:PatchOp
            Operations:
            - op: add
              path: members
              value:
              - value: FIN_WEALTH-123456
          schema:
            $ref: '#/components/schemas/Patch'
    locationResource:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/LocationResource'
      description: Location resource.
      required: true
    patchLocationResource:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:PatchOp
            Operations:
            - op: replace
              path: externalId
              value:
              - value: exampleExternalId
          schema:
            $ref: '#/components/schemas/Patch'
    vermilionUserResource:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/VermilionUserResource'
      description: Vermilion user resource.
      required: true
    patchVermilionUserResource:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:PatchOp
            Operations:
            - op: replace
              path: name.formatted
              value: John Doe
          schema:
            $ref: '#/components/schemas/Patch'
    vermilionGroupResource:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/VermilionGroupResource'
      description: Vermilion group resource.
      required: true
    patchVermilionGroupResource:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:PatchOp
            Operations:
            - op: add
              path: members
              value:
              - value: vrsqa-jrs-01:21
          schema:
            $ref: '#/components/schemas/Patch'
  responses:
    invalidFilterError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidFilter
            detail: Invalid filter value.
            status: "400"
          schema:
            $ref: '#/components/schemas/Error'
      description: Invalid filter value provided.
    invalidResourceProvidedError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidValue
            detail: Provided resource contains invalid data.
            status: "400"
          schema:
            $ref: '#/components/schemas/Error'
      description: Provided resource contains invalid data.
    invalidPatchRequestError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidValue
            detail: Provided resource contains invalid data.
            status: "400"
          schema:
            $ref: '#/components/schemas/Error'
      description: Patch request invalid.
    unauthorizedError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: FactSet.net credentials are missing or invalid.
            status: "401"
          schema:
            $ref: '#/components/schemas/Error'
      description: User has not been authenticated.
    forbiddenError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM API.
            status: "403"
          schema:
            $ref: '#/components/schemas/Error'
      description: User is not authorized to use this API.
    internalServerError:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error.
    serviceProviderConfigSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/ServiceProviderConfig'
      description: Success.
    schemaSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Schema'
      description: Success.
    schemasSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/SchemaList'
      description: Success.
    userSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/UserResource'
      description: Success.
    usersSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/UserResourceList'
      description: Success.
    userNotFoundError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: User FIN_WEALTH-123456 was not found.
            status: "404"
          schema:
            $ref: '#/components/schemas/Error'
      description: User not found.
    groupSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/GroupResource'
      description: Success.
    groupsSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/GroupResourceList'
      description: Success.
    groupNotFoundError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: Group Domain btud - Pod 04 - CitrixApps - Cymba OMS was not found.
            status: "404"
          schema:
            $ref: '#/components/schemas/Error'
      description: Group not found.
    locationSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/LocationResource'
      description: Success.
    locationsSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/LocationResourceList'
      description: Success.
    locationNotFoundError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: Location 1598276 was not found.
            status: "404"
          schema:
            $ref: '#/components/schemas/Error'
      description: Location not found.
    productSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/ProductResource'
      description: Success.
    productsSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/ProductResourceList'
      description: Success.
    productNotFoundError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: Product 6781 was not found.
            status: "404"
          schema:
            $ref: '#/components/schemas/Error'
      description: Product not found.
    vermilionUserSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/VermilionUserResource'
      description: Success.
    vermilionUsersSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/VermilionUserResourceList'
      description: Success.
    vermilionUserNotFoundError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: VermilionUser vrsqa-jrs-01:21 was not found.
            status: "404"
          schema:
            $ref: '#/components/schemas/Error'
      description: Vermilion user not found.
    vermilionGroupSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/VermilionGroupResource'
      description: Success.
    vermilionGroupsSuccess:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/VermilionGroupResourceList'
      description: Success.
    vermilionGroupNotFoundError:
      content:
        application/scim+json:
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: VermilionGroup vrsqa-jrs-01:431 was not found.
            status: "404"
          schema:
            $ref: '#/components/schemas/Error'
      description: Vermilion group not found.
    fileManagerAuditSuccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileManagerAudit'
      description: Success.
  schemas:
    ServiceProviderConfig:
      properties:
        schemas:
          example:
          - urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig
          items:
            type: string
          type: array
        documentationUri:
          description: An HTTP-addressable URL pointing to the service provider's
            human-consumable help documentation.
          example: https://developer-staging.factset.com/api-catalog/scim-api
          readOnly: true
          type: string
        patch:
          $ref: '#/components/schemas/ServiceProviderConfig_patch'
        bulk:
          $ref: '#/components/schemas/ServiceProviderConfig_bulk'
        filter:
          $ref: '#/components/schemas/ServiceProviderConfig_filter'
        changePassword:
          $ref: '#/components/schemas/ServiceProviderConfig_changePassword'
        sort:
          $ref: '#/components/schemas/ServiceProviderConfig_sort'
        etag:
          $ref: '#/components/schemas/ServiceProviderConfig_etag'
        authenticationSchemes:
          $ref: '#/components/schemas/ServiceProviderConfig_authenticationSchemes'
      required:
      - authenticationSchemes
      - bulk
      - changePassword
      - etag
      - filter
      - patch
      - sort
      type: object
    Schema:
      properties:
        id:
          description: The unique URI of the schema. When applicable, service providers
            MUST specify the URI.
          example: urn:scim:schemas:extension:FactSet:Core:1.0:User
          readOnly: true
          type: string
        name:
          description: The schema's human-readable name.  When applicable, service
            providers MUST specify the name, e.g., 'User'.
          example: FactSet Core User
          readOnly: true
          type: string
        description:
          description: The schema's human-readable name.  When applicable, service
            providers MUST specify the name, e.g., 'User'.
          example: FactSet core user details
          readOnly: true
          type: string
        attributes:
          description: A complex attribute that includes the attributes of a schema.
          example:
          - name: username
            type: string
            multiValued: false
            description: A FactSet "username" is FactSet's logical structure for grouping
              serial numbers into like-groups based on roleName, geographical location
              or line of business.
            required: true
            caseExact: false
            mutability: immutable
            returned: default
            uniqueness: none
          - name: serialNumber
            type: string
            multiValued: false
            description: A serial number represents an individual's unique FactSet
              account identifier and base-workstation access. Serial numbers are allocated
              to an individual when a valid RoleName is present.
            required: false
            caseExact: false
            mutability: readOnly
            returned: default
            uniqueness: global
          - name: factSetNetId
            type: string
            multiValued: false
            description: FactSet.net ID.
            required: false
            caseExact: false
            mutability: readOnly
            returned: default
            uniqueness: global
          - name: locationId
            type: string
            multiValued: false
            description: Your reference to a distinct physical location in your organization
              (such as an office)
            required: true
            caseExact: false
            mutability: readWrite
            returned: default
            uniqueness: none
          - name: roleName
            type: string
            multiValued: false
            description: Predetermined role of specific individual. Issues individual
              a base FactSet workstation and serial number. If passed as NULL a base-FactSet
              workstation will be allocated to the individual granting the individual
              a FactSet SerialNumber
            required: false
            caseExact: false
            mutability: readWrite
            returned: default
            uniqueness: none
          - name: productIds
            type: integer
            multiValued: true
            description: An array of FactSet products to allocate/remove from an individual.
              Individual must have a FactSet serial number associated with them.
            required: false
            mutability: readWrite
            returned: default
            uniqueness: none
          - name: assertionValue
            type: string
            multiValued: false
            description: Field containing the value, passed as nameID, used to assert
              the identity of an individual via SAML2.0 which maps service-provider-side
              to a FactSet serial number. Only applicable to individuals with a FactSet
              serial number with a Federation setup between your domain and FactSet's
            required: false
            caseExact: false
            mutability: readWrite
            returned: default
            uniqueness: server
          items:
            $ref: '#/components/schemas/Schema_attributes'
          readOnly: true
          type: array
      required:
      - attributes
      - id
      - name
      type: object
    SchemaList:
      properties:
        schemas:
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
          items:
            type: string
          type: array
        totalResults:
          example: 1
          type: integer
        Resources:
          items:
            $ref: '#/components/schemas/Schema'
          type: array
      type: object
    UserResource:
      properties:
        schemas:
          example:
          - urn:ietf:params:scim:schemas:core:2.0:User
          - urn:scim:schemas:extension:FactSet:Core:1.0:User
          items:
            type: string
          type: array
        id:
          example: FIN_WEALTH-123456
          readOnly: true
          type: string
        externalId:
          example: C3574707-FFF9-433C-A17F-DFF806C72A7F
          type: string
        userName:
          description: Unique identifier for the User, typically used by the user
            to directly authenticate to the service provider. Each User MUST include
            a non-empty userName value.  This identifier MUST be unique across the
            service provider's entire set of Users.
          example: FIN_WEALTH-123456
          readOnly: true
          type: string
        name:
          $ref: '#/components/schemas/UserResource_name'
        email:
          description: Email addresses for the user.  The value SHOULD be canonicalized
            by the service provider, e.g., 'bjensen@example.com' instead of 'bjensen@EXAMPLE.COM'.
          example: jdoe@factset.com
          type: string
        phoneNumbers:
          description: Phone numbers for the User.  The value SHOULD be canonicalized
            by the service provider according to the format specified in RFC 3966,
            e.g., 'tel:+1-201-555-0123'. Canonical type values of 'main', 'work',
            'mobile', and 'home'.
          items:
            $ref: '#/components/schemas/UserResource_phoneNumbers'
          readOnly: true
          type: array
        groups:
          description: A list of groups to which the user belongs, either through
            direct membership, through nested groups, or dynamically calculated.
          items:
            $ref: '#/components/schemas/UserResource_groups'
          readOnly: true
          type: array
        urn:scim:schemas:extension:CoreFactset:1.0:
          $ref: '#/components/schemas/UserResource_urn_scim_schemas_extension_CoreFactset_1_0'
        meta:
          $ref: '#/components/schemas/UserResource_meta'
      required:
      - email
      - name
      - userName
      type: object
    UserResourceList:
      properties:
        schemas:
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
          items:
            type: string
          type: array
        totalResults:
          example: 1
          type: integer
        Resources:
          items:
            $ref: '#/components/schemas/UserResource'
          type: array
      type: object
    GroupResource:
      properties:
        schemas:
          example:
          - urn:ietf:params:scim:schemas:core:2.0:Group
          - urn:scim:schemas:extension:FactSet:EnterpriseHosting:1.0:Group
          items:
            type: string
          type: array
        id:
          example: Domain btud - Pod 04 - CitrixApps - Cymba OMS
          readOnly: true
          type: string
        externalId:
          example: B8FE8BBD-0E04-40B2-9BB3-E5EE17C4C9C9
          type: string
        displayName:
          description: A human-readable name for the Group.
          example: Domain btud - Pod 04 - CitrixApps - Cymba OMS
          type: string
        description:
          description: A description for the Group.
          type: string
        members:
          description: A list of members of the Group.
          items:
            $ref: '#/components/schemas/GroupResource_members'
          type: array
        urn:scim:schemas:extension:FactSet:EnterpriseHosting:1.0:Group:
          $ref: '#/components/schemas/GroupResource_urn_scim_schemas_extension_FactSet_EnterpriseHosting_1_0_Group'
        meta:
          $ref: '#/components/schemas/GroupResource_meta'
      type: object
    GroupResourceList:
      properties:
        schemas:
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
          items:
            type: string
          type: array
        totalResults:
          example: 1
          type: integer
        Resources:
          items:
            $ref: '#/components/schemas/GroupResource'
          type: array
      type: object
    LocationResource:
      properties:
        schemas:
          example:
          - urn:scim:schemas:extension:FactSet:Core:1.0:Location
          items:
            type: string
          type: array
        id:
          example: "1598276"
          readOnly: true
          type: string
        externalId:
          example: "1598276"
[...]
