openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    Partner Funds API provides profile, allocations, performance and ranking information for mutual funds. The data is sourced from different vendors.  Currently the available partner is Fundata, a leading provider of Canadian mutual fund data.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Partner Funds API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/partner-funds-api
servers:
- description: Production
  url: https://api.factset.com/content/partner-funds/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Endpoints related to data from Fundata
  name: Canadian Mutual Fund Data from Fundata
paths:
  /fundata/asset-allocations:
    get:
      description: This endpoint provides asset allocations for Canadian mutual fund
        aggregated by asset. The result is default sorted in descending order of asset
        weight of the fund.
      operationId: getAssetAllocations
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Specifies the language of the response. Supported languages are
          English (`EN`) and French (`FR`). Default is English.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: EN
          enum:
          - EN
          - FR
          type: string
        style: form
      - description: |-
          Enables sorting data in ascending or descending order based on weight of the fund.
          * `weight` - sorts results in ascending order.
          *  `-weight` - sorts results in descending order.
        examples:
          weight:
            summary: weight
            value:
            - weight
          "-weight":
            summary: -weight
            value:
            - -weight
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - -weight
          items:
            type: string
          maxItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of asset allocations for the given parameters:
                  $ref: '#/components/examples/resultOfAssetAllocations'
                Result of asset allocations for the given parameters including an invalid id:
                  $ref: '#/components/examples/resultOfAssetAllocationsWithInvalidId'
              schema:
                $ref: '#/components/schemas/AssetAllocationsResponse'
          description: The asset allocation response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund asset allocations
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/distribution:
    get:
      description: This endpoint provides distribution data for Canadian mutual funds.
      operationId: getDistribution
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of distributions endpoint:
                  $ref: '#/components/examples/distributionResponse'
                Result of distributions endpoint for funds including invalid id:
                  $ref: '#/components/examples/distributionResponseWithInvalidId'
              schema:
                $ref: '#/components/schemas/DistributionsResponse'
          description: The distribution response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund distributions
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/fees:
    get:
      description: This endpoint provides fees data for Canadian mutual funds.
      operationId: getFees
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Specifies the language of the response. Supported languages are
          English (`EN`) and French (`FR`). Default is English.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: EN
          enum:
          - EN
          - FR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of fees endpoint:
                  $ref: '#/components/examples/feesResponse'
                Result of fees endpoint for funds including invalid id:
                  $ref: '#/components/examples/feesResponseWithInvalidId'
              schema:
                $ref: '#/components/schemas/FeesResponse'
          description: The fees response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund fees
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/geographic-allocations:
    get:
      description: This endpoint provides geographic allocations (which can be countries
        or regions) of the holdings within Canadian mutual funds. The result is default
        sorted in descending order of geographic weight of the fund.
      operationId: getGeographicAllocations
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Specifies the language of the response. Supported languages are
          English (`EN`) and French (`FR`). Default is English.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: EN
          enum:
          - EN
          - FR
          type: string
        style: form
      - description: |-
          Enables sorting data in ascending or descending order based on weight of the fund.
          * `weight` - sorts results in ascending order.
          *  `-weight` - sorts results in descending order.
        examples:
          weight:
            summary: weight
            value:
            - weight
          "-weight":
            summary: -weight
            value:
            - -weight
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - -weight
          items:
            type: string
          maxItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of geographic allocation for the given parameters:
                  $ref: '#/components/examples/resultOfGeoAllocations'
                Result of geographic allocations for the given parameters including an invalid id:
                  $ref: '#/components/examples/resultOfGeoAllocationsWithInvalidId'
              schema:
                $ref: '#/components/schemas/GeoAllocationsResponse'
          description: The geographic allocation response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund geographic allocations
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/growth-of-10k:
    get:
      description: This endpoint provides growth of 10K data for Canadian mutual funds.
        The result is default sorted in descending order of asOfDate.
      operationId: getGrowthOfTenK
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Periodicity or frequency of the fiscal period.
        explode: true
        in: query
        name: timePeriod
        required: false
        schema:
          default: 1Y
          enum:
          - 3M
          - 6M
          - 1Y
          - 3Y
          - 5Y
          - 10Y
          - 20Y
          type: string
        style: form
      - description: |-
          Enables sorting data in ascending or descending order based on weight of the fund.
          * `weight` - sorts results in ascending order.
          *  `-weight` - sorts results in descending order.
        examples:
          weight:
            summary: weight
            value:
            - weight
          "-weight":
            summary: -weight
            value:
            - -weight
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - -weight
          items:
            type: string
          maxItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of growth of 10K for the given parameters:
                  $ref: '#/components/examples/resultOfGrowthDetails'
                Result of growth of 10K for the given paramters including an invalid id:
                  $ref: '#/components/examples/resultOfGrowthWithInvalidIdDetails'
              schema:
                $ref: '#/components/schemas/GrowthOfTenKResponse'
          description: The growth of 10K response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund growth of 10K
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/holdings:
    get:
      description: This endpoint provides top 10 holdings for Canadian mutual funds.
        The result is default sorted in descending order of weight of the holdings.
      operationId: getHoldings
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of holdings for the given parameters:
                  $ref: '#/components/examples/resultOfHoldings'
                Result of holdings for the given parameters including an invalid id:
                  $ref: '#/components/examples/resultOfHoldingsWithInvalidId'
              schema:
                $ref: '#/components/schemas/HoldingsResponse'
          description: The holdings response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund holdings
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/profile:
    get:
      description: This endpoint provides profile information for Canadian mutual
        funds such as objective, manager, and basic returns.
      operationId: getProfile
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Specifies the language of the response. Supported languages are
          English (`EN`) and French (`FR`). Default is English.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: EN
          enum:
          - EN
          - FR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Profile response for given funds:
                  $ref: '#/components/examples/profileResponse'
                Profile response for funds with an invalid id:
                  $ref: '#/components/examples/profileResponseWithInvalidId'
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: The fund profile response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund profile
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/rankings:
    get:
      description: This endpoint provides rankings for Canadian mutual funds as compared
        to benchmarks and peers.
      operationId: getRankings
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of ranking details for given funds:
                  $ref: '#/components/examples/resultOfRankingDetails'
                Result of ranking details for given funds including invalid id:
                  $ref: '#/components/examples/resultOfRankingWithInvalidIdDetails'
              schema:
                $ref: '#/components/schemas/PerformanceRankingsResponse'
          description: The fund rankings response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund rankings
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/returns:
    get:
      description: |
        This endpoint provides all the comparative performance values for Canadian mutual funds and their respective benchmark indices. Please note: all periods greater than one year are annualized.
      operationId: getReturns
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of comparative performance returns for fund:
                  $ref: '#/components/examples/resultOfReturnsDetails'
                Result of comparative performance returns for funds including an invalid id:
                  $ref: '#/components/examples/resultOfReturnsWithInvalidIdDetails'
              schema:
                $ref: '#/components/schemas/PerformanceReturnsResponse'
          description: The fund returns response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund returns
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/sector-allocations:
    get:
      description: This endpoint provides Canadian mutual fund data aggregated by
        sector. The result is default sorted in descending order of sector weight
        of the fund.
      operationId: getSectorAllocations
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Specifies the language of the response. Supported languages are
          English (`EN`) and French (`FR`). Default is English.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: EN
          enum:
          - EN
          - FR
          type: string
        style: form
      - description: |-
          Enables sorting data in ascending or descending order based on weight of the fund.
          * `weight` - sorts results in ascending order.
          *  `-weight` - sorts results in descending order.
        examples:
          weight:
            summary: weight
            value:
            - weight
          "-weight":
            summary: -weight
            value:
            - -weight
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - -weight
          items:
            type: string
          maxItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of sector allocations for given parameters:
                  $ref: '#/components/examples/resultOfSectorAllocations'
                Result of sector allocations including an invalid identifier:
                  $ref: '#/components/examples/resultOfSectorAllocationsWithInvalidId'
              schema:
                $ref: '#/components/schemas/SectorAllocationsResponse'
          description: The fund sector allocation response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund sector allocations
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
  /fundata/risk:
    get:
      description: This endpoint provides risk data for Canadian mutual funds.
      operationId: getRisk
      parameters:
      - description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
        examples:
          oneId:
            summary: One Identifier
            value:
            - AGF10450
          multipleIds:
            summary: Multiple Identifiers
            value:
            - AGF10450
            - AIM25591
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 20
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Specifies the language of the response. Supported languages are
          English (`EN`) and French (`FR`). Default is English.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: EN
          enum:
          - EN
          - FR
          type: string
        style: form
      - description: |
          Number of years of risk data to return.
        example: 5
        explode: true
        in: query
        name: numYears
        required: false
        schema:
          default: 5
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of risk endpoint:
                  $ref: '#/components/examples/resultOfRisk'
                Result of risk endpoint for funds including invalid id:
                  $ref: '#/components/examples/resultOfRiskWithInvalidId'
              schema:
                $ref: '#/components/schemas/RiskResponse'
          description: The risk response object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Fund risk
      tags:
      - Canadian Mutual Fund Data from Fundata
      x-accepts: application/json
components:
  examples:
    resultOfGrowthDetails:
      description: |
        Results include fund growth data on a quarterly basis with the preliminary data values for funds AGF10450, AIM25591
      summary: Growth details for requested identifiers
      value:
        data:
        - requestId: AGF10450
          startAvailableHistoryDate: 2022-08-31
          asOfDate: 2024-11-26
          growthOf10K:
          - endDate: 2024-10-31
            value: 11888.0951
            percent: -0.11
          - endDate: 2024-09-30
            value: 11901.6273
            percent: 7.96
          - endDate: 2024-08-31
            value: 11024.5372
            percent: -1.71
          - endDate: 2024-07-31
            value: 11216.0398
            percent: 0.52
        - requestId: AIM25591
          startAvailableHistoryDate: 2007-09-30
          asOfDate: 2024-12-02
          growthOf10K:
          - endDate: 2024-10-31
            value: 25784.9304
            percent: -0.36
          - endDate: 2024-09-30
            value: 25878.585
            percent: 1.63
          - endDate: 2024-08-31
            value: 25462.828
            percent: -0.4
    resultOfGrowthWithInvalidIdDetails:
      description: |
        Results include fund growth data on a quarterly basis with the preliminary data values for funds AGF10450, AIM25591 and an example error for an invalid fund.
      summary: Growth details for requested identifiers that include an invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF10450
          startAvailableHistoryDate: 2022-08-31
          asOfDate: 2024-11-26
          growthOf10K:
          - endDate: 2024-10-31
            value: 11888.0951
            percent: -0.11
          - endDate: 2024-09-30
            value: 11901.6273
            percent: 7.96
          - endDate: 2024-08-31
            value: 11024.5372
            percent: -1.71
          - endDate: 2024-07-31
            value: 11216.0398
            percent: 0.52
        - requestId: AIM25591
          startAvailableHistoryDate: 2007-09-30
          asOfDate: 2024-12-02
          growthOf10K:
          - endDate: 2024-10-31
            value: 25784.9304
            percent: -0.36
          - endDate: 2024-09-30
            value: 25878.585
            percent: 1.63
          - endDate: 2024-08-31
            value: 25462.828
            percent: -0.4
    resultOfRankingDetails:
      description: |
        Results include fund ranking data for funds AGF10450, AIM25591.
      summary: Ranking details for requested identifiers
      value:
        data:
        - requestId: AGF10450
          asOfDate: 2024-10-31
          quartileRankings:
            rankOneMonth: 0
            rankThreeMonths: 0
            rankSixMonths: 0
            rankYearToDate: 0
          totalFunds:
            countOneMonth: 0
            countThreeMonths: 0
            countSixMonths: 0
            countYearToDate: 0
        - requestId: AIM25591
          asOfDate: 2024-10-31
          quartileRankings:
            rankOneMonth: 0
            rankThreeMonths: 0
            rankSixMonths: 0
            rankYearToDate: 0
          totalFunds:
            countOneMonth: 0
            countThreeMonths: 0
            countSixMonths: 0
            countYearToDate: 0
    resultOfRankingWithInvalidIdDetails:
      description: |
        Results include fund ranking data for funds AGF10450, AIM25591 and an example error for an invalid fund.
      summary: Ranking details for requested identifiers that include an invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF10450
          asOfDate: 2024-10-31
          quartileRankings:
            rankOneMonth: 0
            rankThreeMonths: 0
            rankSixMonths: 0
            rankYearToDate: 0
          totalFunds:
            countOneMonth: 0
            countThreeMonths: 0
            countSixMonths: 0
            countYearToDate: 0
        - requestId: AIM25591
          asOfDate: 2024-10-31
          quartileRankings:
            rankOneMonth: 0
            rankThreeMonths: 0
            rankSixMonths: 0
            rankYearToDate: 0
          totalFunds:
            countOneMonth: 0
            countThreeMonths: 0
            countSixMonths: 0
            countYearToDate: 0
    resultOfReturnsDetails:
      description: |
        Results include fund performance data for funds AGF10450, AIM25591
      summary: Performance returns details for requested identifiers
      value:
        data:
        - requestId: AGF10450
          asOfDate: 2024-11-26
          benchmarkIndexReturns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 27.533244
            annualizedSinceInception: 6.931104
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.8809
            sixMonths: 11.901679
            threeMonths: 6.593117
            yearToDate: 20.804539
            asOfDate: 2024-10-31
          returns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 16.970606
            annualizedSinceInception: 7.104128
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.1137
            sixMonths: 8.336801
            threeMonths: 5.991913
            yearToDate: 13.522147
            asOfDate: 2024-10-31
          calendarYearReturns:
          - fundSimpleReturn: 16.970607
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 16.970606
            indexSimpleReturn: 27.533244
            indexCompoundReturn: 27.533244
            categorySimpleReturn: 27.533244
            categoryCompoundReturn: 27.533244
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 279
            fundCompoundReturnCategoryRankCount: 321
            year: 2024
          - fundSimpleReturn: 11.874
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 14.393923
            indexSimpleReturn: 12.968844
            indexCompoundReturn: 20.030343
            categorySimpleReturn: 12.968844
            categoryCompoundReturn: 20.030343
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 237
            fundCompoundReturnCategoryRankCount: 304
            year: 2023
        - requestId: AIM25591
          asOfDate: 2024-11-26
          benchmarkIndexReturns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 27.533244
            annualizedSinceInception: 6.931104
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.8809
            sixMonths: 11.901679
            threeMonths: 6.593117
            yearToDate: 20.804539
            asOfDate: 2024-10-31
          returns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 16.970606
            annualizedSinceInception: 7.104128
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.1137
            sixMonths: 8.336801
            threeMonths: 5.991913
            yearToDate: 13.522147
            asOfDate: 2024-10-31
          calendarYearReturns:
          - fundSimpleReturn: 16.970607
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 16.970606
            indexSimpleReturn: 27.533244
            indexCompoundReturn: 27.533244
            categorySimpleReturn: 27.533244
            categoryCompoundReturn: 27.533244
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 279
            fundCompoundReturnCategoryRankCount: 321
            year: 2024
          - fundSimpleReturn: 11.874
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 14.393923
            indexSimpleReturn: 12.968844
            indexCompoundReturn: 20.030343
            categorySimpleReturn: 12.968844
            categoryCompoundReturn: 20.030343
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 237
            fundCompoundReturnCategoryRankCount: 304
            year: 2023
    resultOfReturnsWithInvalidIdDetails:
      description: |
        Results include fund performance data for funds AGF10450, AIM25591 and an example error for an invalid fund.
      summary: Performance returns details for requested identifiers including an
        invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF10450
          asOfDate: 2024-11-26
          benchmarkIndexReturns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 27.533244
            annualizedSinceInception: 6.931104
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.8809
            sixMonths: 11.901679
            threeMonths: 6.593117
            yearToDate: 20.804539
            asOfDate: 2024-10-31
          returns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 16.970606
            annualizedSinceInception: 7.104128
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.1137
            sixMonths: 8.336801
            threeMonths: 5.991913
            yearToDate: 13.522147
            asOfDate: 2024-10-31
          calendarYearReturns:
          - fundSimpleReturn: 16.970607
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 16.970606
            indexSimpleReturn: 27.533244
            indexCompoundReturn: 27.533244
            categorySimpleReturn: 27.533244
            categoryCompoundReturn: 27.533244
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 279
            fundCompoundReturnCategoryRankCount: 321
            year: 2024
          - fundSimpleReturn: 11.874
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 14.393923
            indexSimpleReturn: 12.968844
            indexCompoundReturn: 20.030343
            categorySimpleReturn: 12.968844
            categoryCompoundReturn: 20.030343
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 237
            fundCompoundReturnCategoryRankCount: 304
            year: 2023
        - requestId: AIM25591
          asOfDate: 2024-11-26
          benchmarkIndexReturns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 27.533244
            annualizedSinceInception: 6.931104
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.8809
            sixMonths: 11.901679
            threeMonths: 6.593117
            yearToDate: 20.804539
            asOfDate: 2024-10-31
          returns:
            annualizedFiveYears: 6.221999
            annualizedOneYear: 16.970606
            annualizedSinceInception: 7.104128
            annualizedTenYears: 6.479242
            annualizedThreeYears: 4.317091
            annualizedTwentyYears: null
            oneMonth: -0.1137
            sixMonths: 8.336801
            threeMonths: 5.991913
            yearToDate: 13.522147
            asOfDate: 2024-10-31
          calendarYearReturns:
          - fundSimpleReturn: 16.970607
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 16.970606
            indexSimpleReturn: 27.533244
            indexCompoundReturn: 27.533244
            categorySimpleReturn: 27.533244
            categoryCompoundReturn: 27.533244
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 279
            fundCompoundReturnCategoryRankCount: 321
            year: 2024
          - fundSimpleReturn: 11.874
            fundSimpleReturnQuartile: 4
            fundSimpleReturnCategoryRank: 296
            fundSimpleReturnCategoryRankCount: 306
            fundCompoundReturn: 14.393923
            indexSimpleReturn: 12.968844
            indexCompoundReturn: 20.030343
            categorySimpleReturn: 12.968844
            categoryCompoundReturn: 20.030343
            fundCompoundReturnQuartile: 4
            fundCompoundReturnCategoryRank: 237
            fundCompoundReturnCategoryRankCount: 304
            year: 2023
    profileResponse:
      description: Results include profile data for fund BMO95322.
      summary: Profile response for a requested identifier
      value:
        data:
        - requestId: BMO95322
          name: BMO Aggregate Bond ETF Fund Series F
          category: Canadian Fixed Income
          company: BMO Investment Inc. Series F
          group: BMO Investments Inc.
          objective: This fund’s objective is to provide a return that is similar
            to the return of one or more exchange traded funds that invest primarily
            in Canadian bonds. The fund may invest all or a portion of its assets
            in an exchange traded fund that invests in such securities, invest directly
            in the underlying securities held by the exchange traded fund and/or use
            derivatives to provide the fund with a return determined by reference
            to the exchange traded fund or its reference index.
          strategy: 'These are the strategies the portfolio manager uses to try to
            achieve the fund’s objectives: • invests up to 100% of the fund’s assets
            in securities of BMO Aggregate Bond Index ETF • BMO Aggregate Bond Index
            ETF seeks to replicate, to the extent possible, the performance of an
            aggregate bond index, net of expenses, which is currently the FTSE Canada
            Universe Bond Index..'
          benchmarkIndexName: ICE BofA Canada Broad Market Index TR CAD
          managers:
          - company: BMO Investment Inc.
            name: Matt Montemurro
            biography: Matt is responsible for managing and trading on behalf of the
              fixed income portfolios, as well as, assisting with currency hedging
              and managing the equity portfolios for the BMO Global Structured Investments
              team. Matt joined BMO Financial Group in 2009, as a part of the Wealth
              Management Associate program. Upon completion of the two year rotational
              program, Matt worked as a fixed income trader for the fundamental fixed
              income team at BMO Asset Management Inc.
            startDate: 2023-03-27
            education: ""
          inceptionDate: 2023-03-27
          loadType: No Load
          netExpenseRatio: 0.09
          managementFee: 0.08
          netAssets: 254.4
          currency: CAD
          address:
            address: 77 King Street West, Suite 4200, , Toronto, ON
            phone: ""
            fax: ""
            tollFreeNumber: ""
            website: ""
          rrspInitialInvestment: 500.01
          rrspAdditionalInvestment: 50.01
          respEligible: true
          rrspEligible: true
          availableInProvinces:
          - AB
          - BC
          - MB
          - NB
          minimumInvestment: 500.01
          additionalInvestment: 50.01
          nav:
            nav: 9.9391
            asOfDate: 2024-11-27
            highFiftyTwoWeeks: 10.0878
            lowFiftyTwoWeeks: 9.452
            changeDollar: 0.0274
            changePercent: 0.276441
            previous: null
          dividend:
            annualYield: 0.028
            distributionFrequency: Annual
          returns:
            asOfDate: 2024-10-31
            oneMonth: 2.6401
            threeMonths: 10.09269
            sixMonths: 14.104036
            yearToDate: 30.745686
            annualizedOneYear: 43.30107
            annualizedThreeYears: 0.875398
            annualizedFiveYears: 9.689019
            annualizedTenYears: 11.927918
            annualizedSinceInception: 9.879215
          asOfDate: 2024-11-27
          fundGrade: ""
          fundSeries: F
          fundServ:
          - fundServCode: BMO18322
            fundServName: BMO Aggregate Bond ETF Fund Series F
            fundServLoadCode: NL
            fundServLoadName: No Load
          - fundServCode: BMO68322
            fundServName: BMO Aggregate Bond ETF Fund Series F
            fundServLoadCode: NL
            fundServLoadName: No Load
    profileResponseWithInvalidId:
      description: Results include profile data for fund BMO95322 and an example error
        for an invalid fund.
      summary: Profile response for requested identifiers including an invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: BMO95322
          name: BMO Aggregate Bond ETF Fund Series F
          category: Canadian Fixed Income
          company: BMO Investment Inc. Series F
          group: BMO Investments Inc.
          objective: This fund’s objective is to provide a return that is similar
            to the return of one or more exchange traded funds that invest primarily
            in Canadian bonds. The fund may invest all or a portion of its assets
            in an exchange traded fund that invests in such securities, invest directly
            in the underlying securities held by the exchange traded fund and/or use
            derivatives to provide the fund with a return determined by reference
            to the exchange traded fund or its reference index.
          strategy: 'These are the strategies the portfolio manager uses to try to
            achieve the fund’s objectives: • invests up to 100% of the fund’s assets
            in securities of BMO Aggregate Bond Index ETF • BMO Aggregate Bond Index
            ETF seeks to replicate, to the extent possible, the performance of an
            aggregate bond index, net of expenses, which is currently the FTSE Canada
            Universe Bond Index..'
          benchmarkIndexName: ICE BofA Canada Broad Market Index TR CAD
          managers:
          - company: BMO Investment Inc.
            name: Matt Montemurro
            biography: Matt is responsible for managing and trading on behalf of the
              fixed income portfolios, as well as, assisting with currency hedging
              and managing the equity portfolios for the BMO Global Structured Investments
              team. Matt joined BMO Financial Group in 2009, as a part of the Wealth
              Management Associate program. Upon completion of the two year rotational
              program, Matt worked as a fixed income trader for the fundamental fixed
              income team at BMO Asset Management Inc.
            startDate: 2023-03-27
            education: ""
          inceptionDate: 2023-03-27
          loadType: No Load
          netExpenseRatio: 0.09
          managementFee: 0.08
          netAssets: 254.4
          currency: CAD
          address:
            address: 77 King Street West, Suite 4200, , Toronto, ON
            phone: ""
            fax: ""
            tollFreeNumber: ""
            website: ""
          rrspInitialInvestment: 500.01
          rrspAdditionalInvestment: 50.01
          respEligible: true
          rrspEligible: true
          availableInProvinces:
          - AB
          - BC
          - MB
          - NB
          minimumInvestment: 500.01
          additionalInvestment: 50.01
          nav:
            nav: 9.9391
            asOfDate: 2024-11-27
            highFiftyTwoWeeks: 10.0878
            lowFiftyTwoWeeks: 9.452
            changeDollar: 0.0274
            changePercent: 0.276441
            previous: null
          dividend:
            annualYield: 0.028
            distributionFrequency: Annual
          returns:
            asOfDate: 2024-10-31
            oneMonth: 2.6401
            threeMonths: 10.09269
            sixMonths: 14.104036
            yearToDate: 30.745686
            annualizedOneYear: 43.30107
            annualizedThreeYears: 0.875398
            annualizedFiveYears: 9.689019
            annualizedTenYears: 11.927918
            annualizedSinceInception: 9.879215
          asOfDate: 2024-11-27
          fundGrade: ""
          fundSeries: F
          fundServ:
          - fundServCode: BMO18322
            fundServName: BMO Aggregate Bond ETF Fund Series F
            fundServLoadCode: NL
            fundServLoadName: No Load
          - fundServCode: BMO68322
            fundServName: BMO Aggregate Bond ETF Fund Series F
            fundServLoadCode: NL
            fundServLoadName: No Load
    feesResponse:
      description: Results include fee data for fund AGF247
      summary: Fees response for a requested identifier
      value:
        data:
        - requestId: AGF247
          isPreAuthorizedInvestmentPlan: true
          isSystematicWithdrawlPlan: true
          backendFees: Deferred - initial sum
          rrspAnnualAdminFee: 0.1
          rrifAnnualAdminFee: 0.1
          switchFees: Your dealer may charge you up to 2% of the value you switch
            to another AGF fund.
          rrspWithdrawalFee: 0.1
          rrifWithdrawalFee: 0.1
          trailerFees: 'DSC: Y1-7: up to 0.5%, After: up to 1%; LL: Y1-3: up to 0.5%,
            After: up to 1%.'
          swpMinBalance: 0.1
          load: Choice of Front or No Load
          isNoLoad: false
          maxFrontEndPercent: 6.01
          maxBackEndPercent: 5.5
          otherFees: None
    feesResponseWithInvalidId:
      description: Results include fee data for fund AGF247 and an example error for
        an invalid fund.
      summary: Fees response for requested identifiers including an invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF247
          isPreAuthorizedInvestmentPlan: true
          isSystematicWithdrawlPlan: true
          backendFees: Deferred - initial sum
          rrspAnnualAdminFee: 0.1
          rrifAnnualAdminFee: 0.1
          switchFees: Your dealer may charge you up to 2% of the value you switch
            to another AGF fund.
          rrspWithdrawalFee: 0.1
          rrifWithdrawalFee: 0.1
          trailerFees: 'DSC: Y1-7: up to 0.5%, After: up to 1%; LL: Y1-3: up to 0.5%,
            After: up to 1%.'
          swpMinBalance: 0.1
          load: Choice of Front or No Load
          isNoLoad: false
          maxFrontEndPercent: 6.01
          maxBackEndPercent: 5.5
          otherFees: None
    distributionResponse:
      description: Results include distribution data for fund BMO95322.
      summary: Distributions response for a requested identifier
      value:
        data:
        - requestId: BMO95322
          distributionOneMonth:
            capitalGains: 0.2
            dividend: 0.028
            foreignDividend: 0.2
            interestIncome: 0.2
            returnOnPrincipal: 0.2
            totalDistribution: 0.828
          distributionOneYear:
            capitalGains: 0.1
            dividend: 0.336
            foreignDividend: 0.1
            interestIncome: 0.1
            returnOnPrincipal: 0.1
            totalDistribution: 0.736
          distributionYearToDate:
            capitalGains: 0.1
            dividend: 0.28
            foreignDividend: 0.1
            interestIncome: 0.1
            returnOnPrincipal: 0.1
            totalDistribution: 0.68
    distributionResponseWithInvalidId:
      description: Results include distribution data for fund BMO95322 and an example
        error for an invalid fund.
      summary: Distributions response for requested identifiers including an invalid
        identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: BMO95322
          distributionOneMonth:
            capitalGains: 0.2
            dividend: 0.028
            foreignDividend: 0.2
            interestIncome: 0.2
            returnOnPrincipal: 0.2
            totalDistribution: 0.828
          distributionOneYear:
            capitalGains: 0.1
            dividend: 0.336
            foreignDividend: 0.1
            interestIncome: 0.1
            returnOnPrincipal: 0.1
            totalDistribution: 0.736
          distributionYearToDate:
            capitalGains: 0.1
            dividend: 0.28
            foreignDividend: 0.1
            interestIncome: 0.1
            returnOnPrincipal: 0.1
            totalDistribution: 0.68
    resultOfAssetAllocations:
      description: |
        Results include fund data for fund AGF258
      summary: Asset Allocations details for a requested identifier
      value:
        data:
        - requestId: AGF258
          asOfDate: 2024-11-27
          assetAllocations:
          - asset: Cash
            weight: 2.34
          - asset: Equity
            weight: 97.66
    resultOfAssetAllocationsWithInvalidId:
      description: |
        Results include fund data for fund AGF258 and an example error for an invalid fund
      summary: Asset Allocations details for requested identifiers including an invalid
        identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF258
          asOfDate: 2024-11-27
          assetAllocations:
          - asset: Cash
            weight: 2.34
          - asset: Equity
            weight: 97.66
    resultOfGeoAllocations:
      description: |
        Results include fund data for fund AGF258
      summary: Geographic Allocations details for a requested identifier
      value:
        data:
        - requestId: AGF258
          asOfDate: 2024-11-27
          geoAllocations:
          - region: Canada
            weight: 9.21
          - region: United States
            weight: 87.46
          - region: Philippines
            weight: 3.33
    resultOfGeoAllocationsWithInvalidId:
      description: |
        Results include fund data for fund AGF258 and an example error for an invalid fund
      summary: Geographic Allocations details for requested identifiers including
        invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF258
          asOfDate: 2024-11-27
          geoAllocations:
          - region: Canada
            weight: 9.21
          - region: United States
            weight: 87.46
          - region: Philippines
            weight: 3.33
    resultOfHoldings:
      description: "Results include fund data for fund MMF4756 \n"
      summary: Holding details for a requested identifier
      value:
        data:
        - requestId: MMF4756
          asOfDate: 2014-11-27
          top10Weight: 30.93
          holdings:
          - name: Microsoft Corp - Common
            holdingId: MSFT
            weight: 4.81
          - name: Philip Morris International Inc - Common
            holdingId: PM-US
            weight: 3.95
          - name: Apple Inc - Common
            holdingId: AAPL
            weight: 3.82
          - name: Crh PLC - Common
            holdingId: CRH
            weight: 3.15
          - name: ConocoPhillips - Common
            holdingId: COP
            weight: 2.77
          - name: ING Groep NV - Common
            holdingId: ING-US
            weight: 2.64
          - name: Alphabet Inc - Common Cl A
            holdingId: GOOGL
            weight: 2.62
          - name: Samsung Electronics Co Ltd - Pfd
            holdingId: 005935-KR
            weight: 2.61
          - name: TotalEnergies SE - Common
            holdingId: TTE-FR
            weight: 2.42
          - name: Sumitomo Mitsui Trust Holdings Inc - Common
            holdingId: 8309-JP
            weight: 2.14
    resultOfHoldingsWithInvalidId:
      description: "Results include fund data for fund MMF4756 and an example error\
        \ for an invalid fund \n"
      summary: Holding details for requested identifiers including an invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: MMF4756
          asOfDate: 2014-11-27
          top10Weight: 30.93
          holdings:
          - name: Microsoft Corp - Common
            holdingId: MSFT
            weight: 4.81
          - name: Philip Morris International Inc - Common
            holdingId: PM-US
            weight: 3.95
          - name: Apple Inc - Common
            holdingId: AAPL
            weight: 3.82
          - name: Crh PLC - Common
            holdingId: CRH
            weight: 3.15
          - name: ConocoPhillips - Common
            holdingId: COP
            weight: 2.77
          - name: ING Groep NV - Common
            holdingId: ING-US
            weight: 2.64
          - name: Alphabet Inc - Common Cl A
            holdingId: GOOGL
            weight: 2.62
          - name: Samsung Electronics Co Ltd - Pfd
            holdingId: 005935-KR
            weight: 2.61
          - name: TotalEnergies SE - Common
            holdingId: TTE-FR
            weight: 2.42
          - name: Sumitomo Mitsui Trust Holdings Inc - Common
            holdingId: 8309-JP
            weight: 2.14
    resultOfSectorAllocations:
      description: |
        Results include fund data for fund AGF258
      summary: Sector Allocations details for a requested identifier
      value:
        data:
        - requestId: AGF258
          asOfDate: 2024-11-27
          sectorAllocations:
          - sector: Technology
            weight: 53.8
          - sector: Consumer Services
            weight: 13.13
          - sector: Financial Services
            weight: 12.35
          - sector: Industrial Goods
            weight: 11.53
          - sector: Healthcare
            weight: 9.19
    resultOfSectorAllocationsWithInvalidId:
      description: |
        Results include fund data for fund AGF258 and an example error for an invalid fund
      summary: Sector Allocations details for requested identifiers including an invalid
        identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AGF258
          asOfDate: 2024-11-27
          sectorAllocations:
          - sector: Technology
            weight: 53.8
          - sector: Consumer Services
            weight: 13.13
          - sector: Financial Services
            weight: 12.35
          - sector: Industrial Goods
            weight: 11.53
          - sector: Healthcare
            weight: 9.19
    resultOfRisk:
      description: |
        Results include fund data for fund AIM729
      summary: Risk details for a requested identifier
      value:
        data:
        - requestId: AIM729
          asOfDate: 2025-08-25
          riskRating: Medium Risk
          riskProspectus: 'The Fund is suitable for investors who: Are seeking capital
            growth over the long term; Are seeking exposure to U.S. equities; Are
            willing to accept a medium level of investment risk; Are investing for
            the long term'
          riskResponseInfo:
          - year: 1
            benchmark: S&P 500 Total Return Index C$
            alpha: -0.001378
            beta: 1.01345
            sharpeRatio: 0.23413
            treynorRatio: 0.00961
            rSquared: 0.91144
            sortino: 0.391302
            standardDeviation: 0.144154
            volatility: null
        - requestId: AIM729
          asOfDate: 2025-08-25
          riskRating: Medium Risk
          riskProspectus: 'The Fund is suitable for investors who: Are seeking capital
            growth over the long term; Are seeking exposure to U.S. equities; Are
            willing to accept a medium level of investment risk; Are investing for
            the long term'
          riskResponseInfo:
          - year: 2
            benchmark: S&P 500 Total Return Index C$
            alpha: -2.08E-4
            beta: 0.93518
            sharpeRatio: 0.3562
            treynorRatio: 0.01366
            rSquared: 0.88972
            sortino: 0.655888
            standardDeviation: 0.124229
            volatility: null
        - requestId: AIM729
          asOfDate: 2025-08-25
          riskRating: Medium Risk
          riskProspectus: 'The Fund is suitable for investors who: Are seeking capital
            growth over the long term; Are seeking exposure to U.S. equities; Are
            willing to accept a medium level of investment risk; Are investing for
            the long term'
          riskResponseInfo:
          - year: 3
            benchmark: S&P 500 Total Return Index C$
            alpha: 1.33E-4
            beta: 0.93203
            sharpeRatio: 0.32631
            treynorRatio: 0.01263
            rSquared: 0.91178
            sortino: 0.59582
            standardDeviation: 0.12493
            volatility: 7
    resultOfRiskWithInvalidId:
      description: |
        Results include fund data for fund AIM729 and an example error for an invalid fund
      summary: Risk details for requested identifiers including an invalid identifier
      value:
        data:
        - requestId: BADSYMBOL123
          error:
            code: Bad Request
            title: Invalid Parameter
            detail: The parameter 'ids' should be valid and may not be empty.
        - requestId: AIM729
          asOfDate: 2025-08-25
          riskRating: Medium Risk
          riskProspectus: 'The Fund is suitable for investors who: Are seeking capital
            growth over the long term; Are seeking exposure to U.S. equities; Are
            willing to accept a medium level of investment risk; Are investing for
            the long term'
          riskResponseInfo:
          - year: 1
            benchmark: S&P 500 Total Return Index C$
            alpha: -0.001378
            beta: 1.01345
            sharpeRatio: 0.23413
            treynorRatio: 0.00961
            rSquared: 0.91144
            sortino: 0.391302
            standardDeviation: 0.144154
            volatility: null
        - requestId: AIM729
          asOfDate: 2025-08-25
          riskRating: Medium Risk
          riskProspectus: 'The Fund is suitable for investors who: Are seeking capital
            growth over the long term; Are seeking exposure to U.S. equities; Are
            willing to accept a medium level of investment risk; Are investing for
            the long term'
          riskResponseInfo:
          - year: 2
            benchmark: S&P 500 Total Return Index C$
            alpha: -2.08E-4
            beta: 0.93518
            sharpeRatio: 0.3562
            treynorRatio: 0.01366
            rSquared: 0.88972
            sortino: 0.655888
            standardDeviation: 0.124229
            volatility: null
        - requestId: AIM729
          asOfDate: 2025-08-25
          riskRating: Medium Risk
          riskProspectus: 'The Fund is suitable for investors who: Are seeking capital
            growth over the long term; Are seeking exposure to U.S. equities; Are
            willing to accept a medium level of investment risk; Are investing for
            the long term'
          riskResponseInfo:
          - year: 3
            benchmark: S&P 500 Total Return Index C$
            alpha: 1.33E-4
            beta: 0.93203
            sharpeRatio: 0.32631
            treynorRatio: 0.01263
            rSquared: 0.91178
            sortino: 0.59582
            standardDeviation: 0.12493
            volatility: 7
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisk
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          title: Missing/Invalid Parameters.
          detail: The parameter 'ids' is required and may not be empty.
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          title: Read Timeout
          detail: The request took too long. Try again with a smaller request.
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double-check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        the Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Unauthorized
          title: User Authentication Failed.
          detail: User Authentication Failed.
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint/ID which
        is not authorized to access. The request was legal, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Forbidden
          title: User Authorization Failed.
          detail: User is not authorized for the id requested, please reach out to
            FactSet for support
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Unsupported Media Type
          title: Unsupported Media Type
          detail: text/html media type is not supported. Supported media types are
            application/json.
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Internal Server Error
          title: Error writing JSON output
          detail: The server encountered an error writing the JSON response. Please
            `Report Issue` to FactSet.
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Internal Server Error
          title: Unexpected error
          detail: An unexpected error occurred. Please `Report Issue` to FactSet.
  parameters:
    identifiers:
      description: The fund identifiers. <p>***ids limit** = 10 per request*</p>
      examples:
        oneId:
          summary: One Identifier
          value:
          - AGF10450
        multipleIds:
          summary: Multiple Identifiers
          value:
          - AGF10450
          - AIM25591
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          maxLength: 20
          type: string
        maxItems: 10
        minItems: 1
        type: array
      style: form
    timePeriod:
      description: Periodicity or frequency of the fiscal period.
      explode: true
      in: query
      name: timePeriod
      required: false
      schema:
        default: 1Y
        enum:
        - 3M
        - 6M
        - 1Y
        - 3Y
        - 5Y
        - 10Y
        - 20Y
        type: string
      style: form
    sort:
      description: |-
        Enables sorting data in ascending or descending order based on weight of the fund.
        * `weight` - sorts results in ascending order.
        *  `-weight` - sorts results in descending order.
      examples:
        weight:
          summary: weight
          value:
          - weight
        "-weight":
          summary: -weight
          value:
          - -weight
      explode: false
      in: query
      name: _sort
      required: false
      schema:
        default:
        - -weight
        items:
          type: string
        maxItems: 1
        type: array
      style: form
    language:
      description: Specifies the language of the response. Supported languages are
        English (`EN`) and French (`FR`). Default is English.
      explode: true
      in: query
      name: language
      required: false
      schema:
        default: EN
        enum:
        - EN
        - FR
        type: string
      style: form
    numYears:
      description: |
        Number of years of risk data to return.
      example: 5
      explode: true
      in: query
      name: numYears
      required: false
      schema:
        default: 5
        maximum: 100
        minimum: 1
        type: integer
      style: form
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "message" for more details.
    "401":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was legal, but the server is refusing to respond. Please
        reach out to FactSet Account Team for assistance with authorization.
    "415":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal Server Error.
  schemas:
    ProfileResponse:
      description: Profile response object
      example:
        data:
[...]
