openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allow clients to fetch ModelAccounts Analytics through APIs.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: ModelAccounts API
  version: "3"
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /analytics/accounts/v3/models/{name}:
    delete:
      operationId: deleteAModelAccount
      parameters:
      - description: The path and filename of model account to delete
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of model account to delete
          type: string
        style: simple
      responses:
        "204":
          description: Expected response, no content
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid model account name or type parameter provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Delete model account, takes an account path and name and deletes it.
      tags:
      - ModelAccounts
      x-accepts: application/json
    get:
      operationId: getAccount
      parameters:
      - description: The path and filename of the account to get
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of the account to get
          type: string
        style: simple
      - description: Optional format for the response, supported formats are JsonStach
          and AccountModel
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: JsonStach
          description: Optional format for the response, supported formats are JsonStach
            and AccountModel
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
          description: Expected response, returns JSON representation of the account's
            dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "406":
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get account endpoint, takes an account name and returns underlying
        data
      tags:
      - ModelAccounts
      x-accepts: application/json
    put:
      operationId: createOrUpdateModelAccount
      parameters:
      - description: The path and filename of the model account to create or update
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of the model account to create or update
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              data:
                iterative:
                  "20191010":
                    FDS:
                      weight: "20"
                      price: "50"
                      priceiso: USD
                    GOOGL:
                      weight: "20"
                      price: "50"
                      priceiso: USD
                nonIterative:
                  GOOGL:
                    taxable: "false"
                  FDS:
                    taxable: "false"
                additionalFields:
                - iteration: false
                  name: TAXABLE
                  type: STRING
                  description: Taxable
                  splitDirection: NONE
                  size: 0
              meta:
                description: Test desc
            schema:
              $ref: '#/components/schemas/ModelAccountFieldsRoot'
        description: The object containing the input values
      responses:
        "200":
          description: Expected response, updated model account
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "201":
          description: Expected response, created model account
          headers:
            Location:
              description: Location of the resource created
              explode: false
              schema:
                description: Location of the resource created
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: Model account doesn't exist
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid POST body.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Not Found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "413":
          description: Request body too large
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Create or update an existing model account
      tags:
      - ModelAccounts
      x-contentType: application/json
      x-accepts: application/json
  /analytics/accounts/v3/models/{name}/symbols/{symbol}:
    delete:
      operationId: deleteModelAccountBySymbol
      parameters:
      - description: The filename of model account to delete
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The filename of model account to delete
          type: string
        style: simple
      - description: The symbol from the given file name to delete
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          description: The symbol from the given file name to delete
          type: string
        style: simple
      - description: The dates from the given file name and symbol to delete (Maximum
          10 dates are allowed)
        explode: true
        in: query
        name: dates
        required: false
        schema:
          description: The dates from the given file name and symbol to delete (Maximum
            10 dates are allowed)
          items:
            type: string
          type: array
        style: form
      responses:
        "204":
          description: Expected response, no content
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid model account name or symbol parameter provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Delete all entries for a symbol or specific date entries for a symbol
        from a previously created account.
      tags:
      - ModelAccounts
      x-accepts: application/json
    get:
      operationId: getAccountForSymbol
      parameters:
      - description: The path and filename of the account to get
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of the account to get
          type: string
        style: simple
      - description: The symbol for which data needs to be updated
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          description: The symbol for which data needs to be updated
          type: string
        style: simple
      - description: Optional format for the response, supported formats are JsonStach
          and AccountModel
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: JsonStach
          description: Optional format for the response, supported formats are JsonStach
            and AccountModel
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
          description: Expected response, returns JSON representation of the account's
            dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "406":
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get account endpoint, takes an account name, symbol and returns underlying
        data for that symbol
      tags:
      - ModelAccounts
      x-accepts: application/json
  /analytics/accounts/v3/models/{name}/dates/{date}:
    delete:
      operationId: deleteModelAccountByDate
      parameters:
      - description: The filename of model account to delete
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The filename of model account to delete
          type: string
        style: simple
      - description: The date from the given file name to delete
        explode: false
        in: path
        name: date
        required: true
        schema:
          description: The date from the given file name to delete
          type: string
        style: simple
      - description: The symbols from the given file name and date to delete (Maximum
          10 symbols are allowed)
        explode: true
        in: query
        name: symbols
        required: false
        schema:
          description: The symbols from the given file name and date to delete (Maximum
            10 symbols are allowed)
          items:
            type: string
          type: array
        style: form
      responses:
        "204":
          description: Expected response, no content
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid model account name or date parameter provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Delete all entries for a date or specific symbol entries for a date
        from a previously created account.
      tags:
      - ModelAccounts
      x-accepts: application/json
    get:
      operationId: getAccountForDate
      parameters:
      - description: The path and filename of the account to get
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of the account to get
          type: string
        style: simple
      - description: The date for which data needs to be updated
        explode: false
        in: path
        name: date
        required: true
        schema:
          description: The date for which data needs to be updated
          type: string
        style: simple
      - description: Optional format for the response, supported formats are JsonStach
          and AccountModel
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: JsonStach
          description: Optional format for the response, supported formats are JsonStach
            and AccountModel
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
          description: Expected response, returns JSON representation of the account's
            dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "406":
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get account endpoint, takes an account name, date and returns underlying
        data for that date
      tags:
      - ModelAccounts
      x-accepts: application/json
  /analytics/accounts/v3/models/{name}/dates/{date}/symbols/{symbol}:
    get:
      operationId: getAccountForDateAndSymbol
      parameters:
      - description: The path and filename of the account to get
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of the account to get
          type: string
        style: simple
      - description: The symbol for which data needs to be updated
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          description: The symbol for which data needs to be updated
          type: string
        style: simple
      - description: The date for which data needs to be updated
        explode: false
        in: path
        name: date
        required: true
        schema:
          description: The date for which data needs to be updated
          type: string
        style: simple
      - description: Optional format for the response, supported formats are JsonStach
          and AccountModel
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: JsonStach
          description: Optional format for the response, supported formats are JsonStach
            and AccountModel
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
          description: Expected response, returns JSON representation of the account's
            dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "406":
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get account endpoint, takes an account name and returns underlying
        data
      tags:
      - ModelAccounts
      x-accepts: application/json
  /analytics/accounts/v3/models/{name}/schema:
    get:
      operationId: getAccountSchema
      parameters:
      - description: The path and filename of the account to get its schema
        explode: false
        in: path
        name: name
        required: true
        schema:
          description: The path and filename of the account to get its schema
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
          description: Expected response, returns JSON representation of the account's
            schema.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
[...]
