openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: "Consume FactSet’s StreetAccount news and 3rd party content through\
    \ an API that seamlessly integrates with\n[quotes](https://developer.factset.com/api-catalog/real-time-quotes-api),\n\
    [time series](https://developer.factset.com/api-catalog/real-time-time-series-api),\n\
    [watchlists](https://developer.factset.com/api-catalog/watchlist-api-digital-portals),\
    \ and other Functional APIs.\n\nSearch for news articles from various news distributors\
    \ and publishers. Incorporate a multitude of search parameters such as region,\
    \ category, source, article type and provider-specific meta data, to easily filter\
    \ out the noise.\n\nAll search and list endpoints can be subscribed to receive\
    \ streamed updates.\n\nNews providers include:\n\n* APA\n* AWP \n* Businesswire\n\
    * Cercle Finance\n* Direkt News SE\n* Dow Jones News\n* dpa\n* dpa-AFX \n* EUWAX\n\
    * GlobenewsWire\n* Kauppalehti\n* MT Newswires\n* MoneyAM\n* newsaktuell\n* OMX\n\
    * PR Newswire \n* Ritzau Finans\n* StreetAccount News\n* TDN News\n      \nSee\
    \ the [Real-Time Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api)\
    \ for access to detailed\nprice and performance information, plus basic support\
    \ for security identifier cross-reference.\n"
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: News API For Digital Portals
  version: 3.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: news endpoints
  name: news
paths:
  /news/article/get:
    get:
      description: Details for a news article.
      operationId: get/news/article/get
      parameters:
      - explode: true
        in: query
        name: code
        required: true
        schema:
          description: Identifier of a news article.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 128
          minLength: 1
          pattern: ^[0-9A-Za-z+/=:]+$
          type: string
        style: form
      - explode: true
        in: query
        name: includeMedia
        required: false
        schema:
          default: false
          description: If true, media references are included if available.
          type: boolean
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Details for a news article.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/article/list:
    post:
      description: List of news articles.
      operationId: post/news/article/list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of news articles.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByChain:
    post:
      description: List news articles of an article chain.
      operationId: post/news/article/listByChain
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByChainRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: List news articles of an article chain.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByIndex:
    post:
      description: News articles for instruments that are constituents of the given
        indices.
      operationId: post/news/article/listByIndex
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByIndexRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: News articles for instruments that are constituents of the given indices.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByInstrument:
    post:
      description: News articles for instruments.
      operationId: post/news/article/listByInstrument
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByInstrumentRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: News articles for instruments.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByMediaKind:
    post:
      description: List news articles which contain media of specific media kinds.
      operationId: post/news/article/listByMediaKind
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByMediaKindRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List news articles which contain media of specific media kinds.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /news/article/searchByText:
    post:
      description: Search for news articles using a fulltext search. All specified
        criteria need to be fulfilled for an article to match. Each criterion is handled
        according to its selectionType; "include" requires the criterion to evaluate
        to true, "exclude" requires the criterion to evaluate to false. A criterion
        is fulfilled when at least one of its values is found.
      operationId: post/news/article/searchByText
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleSearchByTextRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Search for news articles using a fulltext search.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /news/article/type/get:
    get:
      description: Details for a news article type.
      operationId: get/news/article/type/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a news article type.
          format: id32
          type: number
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: Details for a news article type.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/article/type/list:
    get:
      description: List of news article types.
      operationId: get/news/article/type/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: List of news article types.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/distributor/get:
    get:
      description: Details of a distributor.
      operationId: get/news/distributor/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a distributor.
          format: id32
          type: number
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: Details of a distributor.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/distributor/list:
    get:
      description: List of distributors.
      operationId: get/news/distributor/list
      parameters:
      - explode: false
        in: query
        name: ids
        required: false
        schema:
          description: Identifiers of distributors.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 1 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: List of distributors.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/get:
    get:
      description: Details of a publisher.
      operationId: get/news/publisher/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a publisher.
          format: id32
          type: number
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: Details of a publisher.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/list:
    get:
      description: List of publishers.
      operationId: get/news/publisher/list
      parameters:
      - explode: false
        in: query
        name: ids
        required: false
        schema:
          description: Identifiers of publishers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 1 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful Response
      summary: List of publishers.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/listByDistributor:
    get:
      description: List of publishers provided by the given distributor.
      operationId: get/news/publisher/listByDistributor
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a distributor.
          format: id32
          type: number
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 1 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successful Response
      summary: List of publishers provided by the given distributor.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/searchByName:
    post:
      description: Search for publishers by the name of the publisher.
      operationId: post/news/publisher/searchByName
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsPublisherSearchByNameRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successful Response
      summary: Search for publishers.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
            x-property-sort:
            - meta
            - errors
      description: Generic error response for all errors (400 ... 599 error codes)
    GetNewsArticleGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200'
      description: Successful Response
    PostNewsArticleList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    PostNewsArticleListByChain200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_2'
      description: Successful Response
    PostNewsArticleListByIndex200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_3'
      description: Successful Response
    PostNewsArticleListByInstrument200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_4'
      description: Successful Response
    PostNewsArticleListByMediaKind200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    PostNewsArticleSearchByText200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    GetNewsArticleTypeGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_5'
      description: Successful Response
    GetNewsArticleTypeList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_6'
      description: Successful Response
    GetNewsDistributorGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_7'
      description: Successful Response
    GetNewsDistributorList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_8'
      description: Successful Response
    GetNewsPublisherGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_9'
      description: Successful Response
    GetNewsPublisherList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_10'
      description: Successful Response
    GetNewsPublisherListByDistributor200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_11'
      description: Successful Response
    PostNewsPublisherSearchByName200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_11'
      description: Successful Response
  schemas:
    ErrorMetaObject:
      description: The meta member contains the meta information of the response.
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - details
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        exclusiveMaximum: false
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 9.301444243932576
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      example:
        next: next
        previous: previous
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      example:
        hasNext: true
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    PostNewsArticleListRequest:
      description: Request Body
      example:
        data:
          filter:
            types:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            regions:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            range:
              start: start
              end: end
            publisher:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            language:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
            categories:
              ids:
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
            distributor:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
        meta:
          pagination:
            cursor: cursor
            limit: 465.1420677722356
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          subscription:
            minimumInterval: 3530.7006207515547
      properties:
        data:
          $ref: '#/components/schemas/PostNewsArticleListRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsArticleListRequest_meta'
      type: object
      x-property-sort:
      - data
      - meta
    PostNewsArticleListByChainRequest:
      description: Request Body
      example:
        data:
          filter:
            range:
              start: start
              end: end
          id: id
        meta:
          pagination:
            cursor: cursor
            limit: 465.1420677722356
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          subscription:
            minimumInterval: 3530.7006207515547
      properties:
        data:
          $ref: '#/components/schemas/PostNewsArticleListByChainRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsArticleListRequest_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    PostNewsArticleListByIndexRequest:
      description: Request Body
      example:
        data:
          filter:
            types:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            regions:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            range:
              start: start
              end: end
            publisher:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            language:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
            categories:
              ids:
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
            distributor:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
          identifier:
            values:
            - values
            - values
            - values
            - values
            - values
            type: idNotation
        meta:
          pagination:
            cursor: cursor
            limit: 465.1420677722356
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          subscription:
            minimumInterval: 3530.7006207515547
      properties:
        data:
          $ref: '#/components/schemas/PostNewsArticleListByIndexRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsArticleListRequest_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    PostNewsArticleListByInstrumentRequest:
      description: Request Body
      example:
        data:
          filter:
            types:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            regions:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            range:
              start: start
              end: end
            publisher:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            language:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
            categories:
              ids:
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
            distributor:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
          identifier:
            values:
            - values
            - values
            - values
            - values
            - values
            type: idInstrument
        meta:
          pagination:
            cursor: cursor
            limit: 465.1420677722356
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          subscription:
            minimumInterval: 3530.7006207515547
      properties:
        data:
          $ref: '#/components/schemas/PostNewsArticleListByInstrumentRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsArticleListRequest_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    PostNewsArticleListByMediaKindRequest:
      description: Request Body
      example:
        data:
          filter:
            types:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            regions:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            range:
              start: start
              end: end
            publisher:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            language:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
            categories:
              ids:
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
              - 0.8008281904610115
            distributor:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
          ids:
          - 0.8008281904610115
          - 0.8008281904610115
          - 0.8008281904610115
          - 0.8008281904610115
          - 0.8008281904610115
        meta:
          pagination:
            cursor: cursor
            limit: 465.1420677722356
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          subscription:
            minimumInterval: 3530.7006207515547
      properties:
        data:
          $ref: '#/components/schemas/PostNewsArticleListByMediaKindRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsArticleListRequest_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    PostNewsArticleSearchByTextRequest:
      description: Request Body
      example:
        data:
          criteria:
          - selectionType: include
            indices:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            types:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            instruments:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            regions:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            range:
              start: start
              end: end
            publisher:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            language:
              ids:
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
            categories:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
            distributor:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
          - selectionType: include
            indices:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            types:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            instruments:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            regions:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            range:
              start: start
              end: end
            publisher:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            language:
              ids:
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
            categories:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
            distributor:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
          - selectionType: include
            indices:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            types:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            instruments:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            regions:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            range:
              start: start
              end: end
            publisher:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            language:
              ids:
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
            categories:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
            distributor:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
          - selectionType: include
            indices:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            types:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            instruments:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            regions:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            range:
              start: start
              end: end
            publisher:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            language:
              ids:
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
            categories:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
            distributor:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
          - selectionType: include
            indices:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            types:
              ids:
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
              - 6.027456183070403
            instruments:
              ids:
              - ids
              - ids
              - ids
              - ids
              - ids
            regions:
              ids:
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
              - 5.962133916683182
            range:
              start: start
              end: end
            publisher:
              ids:
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
              - 2.3021358869347655
            language:
              ids:
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
            categories:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
            distributor:
              ids:
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
              - 5.637376656633329
          text:
            criteria:
              selectionType: include
              minimumMatchScore: 0.8008281904610115
              scope: all
              phrases:
              - phrases
              - phrases
              - phrases
              - phrases
              - phrases
        meta:
          pagination:
            cursor: cursor
            limit: 465.1420677722356
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          subscription:
            minimumInterval: 3530.7006207515547
      properties:
        data:
          $ref: '#/components/schemas/PostNewsArticleSearchByTextRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsArticleListRequest_meta'
      type: object
      x-property-sort:
      - data
      - meta
    PostNewsPublisherSearchByNameRequest:
      description: Request Body
      example:
        data:
          filter:
            delivery:
              id: 6.027456183070403
            distributor:
              id: 0.8008281904610115
          matchType: begins
          searchValue: searchValue
        meta:
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          sort:
          - id
      properties:
        data:
          $ref: '#/components/schemas/PostNewsPublisherSearchByNameRequest_data'
        meta:
          $ref: '#/components/schemas/PostNewsPublisherSearchByNameRequest_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_data_types:
      example:
        name: name
        id: 0.8008281904610115
      nullable: false
      properties:
        id:
          description: Identifier of the type of news article.
          format: id32
          nullable: true
          type: number
          x-positive: true
        name:
          description: Name of the news article type.
          format: localizedString
          nullable: true
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_language:
      description: Language of the news article. See endpoint `/basic/language/list`
        for possible values.
      example:
        code: code
        id: 6.027456183070403
      nullable: false
      properties:
        id:
          description: Identifier of the language.
          format: id32
          nullable: true
          type: number
          x-positive: true
        code:
          description: ISO 639-1 code of the language.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_data_distributor:
      description: Distributor of the news article. See endpoint `/news/distributor/list`
        for possible values.
      example:
        name: name
        id: 1.4658129805029452
      nullable: false
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          nullable: true
          type: number
          x-positive: true
        name:
          description: Name of the distributor.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_publisher:
      description: Publisher of the news article. See endpoint `/news/publisher/list`
        for possible values.
      example:
        name: name
        id: 5.962133916683182
      nullable: false
      properties:
        id:
          description: Identifier of the publisher.
          format: id32
          nullable: true
          type: number
          x-positive: true
        name:
          description: Name of the publisher.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_categories:
      example:
        name: name
        id: 5.637376656633329
      nullable: false
      properties:
        id:
          description: Identifier of the category.
          format: id32
          nullable: true
          type: number
          x-positive: true
        name:
          description: Name of the category.
          format: localizedString
          nullable: true
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_fsym_security:
      description: Security-level identifier.
      example:
        permanentIdentifier: permanentIdentifier
      nullable: false
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for an instrument. The format
            is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
          nullable: true
          type: string
      type: object
      x-property-sort:
      - permanentIdentifier
    inline_response_200_data_fsym:
      description: Instrument-level FactSet identifier of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        security:
          permanentIdentifier: permanentIdentifier
      nullable: false
      properties:
        security:
          $ref: '#/components/schemas/inline_response_200_data_fsym_security'
      type: object
      x-property-sort:
      - security
    inline_response_200_data_instruments:
      example:
        fsym:
          security:
            permanentIdentifier: permanentIdentifier
        id: id
      nullable: false
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          nullable: true
          type: string
          x-positive: true
        fsym:
          $ref: '#/components/schemas/inline_response_200_data_fsym'
      type: object
      x-property-sort:
      - id
      - fsym
    inline_response_200_data_media:
      example:
        width: 2.3021358869347655
        caption: caption
        mimeType: mimeType
        alternativeText: alternativeText
        url: http://example.com/aeiou
        height: 7.061401241503109
      nullable: false
      properties:
        url:
          description: URL of the media element. The URL is publicly available and
            hosted by either the publisher, the distributor, or FactSet.
          format: url
          nullable: true
          type: string
        mimeType:
          description: MIME type of the data of the media element.
          nullable: true
          type: string
        caption:
          description: Caption text that can be displayed with the media element.
            Empty if no caption is available for this media element.
          nullable: true
          type: string
        alternativeText:
          description: A short description of the media element that can be shown
            instead of the media element itself.
          nullable: true
          type: string
        width:
          description: Width of the media element in pixels if applicable.
          format: int32
          nullable: true
          type: number
        height:
          description: Height of the media element in pixels if applicable.
          format: int32
          nullable: true
          type: number
      type: object
      x-property-sort:
      - url
      - mimeType
      - caption
      - alternativeText
      - width
      - height
    inline_response_200_data:
      description: Content of the news article.
      example:
        summary: summary
        types:
        - name: name
          id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
        instruments:
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        publisher:
          name: name
          id: 5.962133916683182
        language:
          code: code
          id: 6.027456183070403
        time: time
        categories:
        - name: name
          id: 5.637376656633329
        - name: name
          id: 5.637376656633329
        media:
        - width: 2.3021358869347655
          caption: caption
          mimeType: mimeType
          alternativeText: alternativeText
          url: http://example.com/aeiou
          height: 7.061401241503109
        - width: 2.3021358869347655
          caption: caption
          mimeType: mimeType
          alternativeText: alternativeText
          url: http://example.com/aeiou
          height: 7.061401241503109
        body: body
        headline: headline
        distributor:
          name: name
          id: 1.4658129805029452
      nullable: false
      properties:
        time:
          description: Date and time of the news article.
          format: datetime
          nullable: true
          type: string
        headline:
          description: Headline of the news article represented as text with HTML
            entity encoding but without HTML tags.
          nullable: true
          type: string
        summary:
          description: Textual summary of the body of the news article or `null` if
            no summary was provided by the news article distributor.
          nullable: true
          type: string
        body:
          description: Text body of the news article.
          nullable: true
          type: string
        types:
          description: Types of news article. See endpoint `/news/article/type/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_data_types'
          nullable: false
          type: array
        language:
          $ref: '#/components/schemas/inline_response_200_data_language'
        distributor:
          $ref: '#/components/schemas/inline_response_200_data_distributor'
        publisher:
          $ref: '#/components/schemas/inline_response_200_data_publisher'
        categories:
          description: Categories related to the news article. See endpoint `/category/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_data_categories'
          nullable: false
          type: array
        instruments:
          description: Set of stock instruments related to the article. The set is
            not updated in the course of corporate actions, e.g. when the related
            company obtains a new instrument after a spin-off.
          items:
            $ref: '#/components/schemas/inline_response_200_data_instruments'
          nullable: false
          type: array
        media:
          description: List of media elements of the news article.
          items:
            $ref: '#/components/schemas/inline_response_200_data_media'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - time
      - headline
      - summary
      - body
      - types
      - language
      - distributor
      - publisher
      - categories
      - instruments
      - media
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_200:
      example:
        data:
          summary: summary
          types:
          - name: name
            id: 0.8008281904610115
          - name: name
            id: 0.8008281904610115
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            name: name
            id: 5.962133916683182
          language:
            code: code
            id: 6.027456183070403
          time: time
          categories:
          - name: name
            id: 5.637376656633329
          - name: name
            id: 5.637376656633329
          media:
          - width: 2.3021358869347655
            caption: caption
            mimeType: mimeType
            alternativeText: alternativeText
            url: http://example.com/aeiou
            height: 7.061401241503109
          - width: 2.3021358869347655
            caption: caption
            mimeType: mimeType
            alternativeText: alternativeText
            url: http://example.com/aeiou
            height: 7.061401241503109
          body: body
          headline: headline
          distributor:
            name: name
            id: 1.4658129805029452
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_1_types:
      example:
        id: 0.8008281904610115
      nullable: false
      properties:
        id:
          description: Identifier of the type of news article.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_language:
      description: Language of the news article. See endpoint `/basic/language/list`
        for possible values.
      example:
        id: 6.027456183070403
      nullable: false
      properties:
        id:
          description: Identifier of the language.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_distributor:
      description: Distributor of the news article. See endpoint `/news/distributor/list`
        for possible values.
      example:
        id: 1.4658129805029452
      nullable: false
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_publisher:
      description: Publisher of the news article. See endpoint `/news/publisher/list`
        for possible values.
      example:
        id: 5.962133916683182
      nullable: false
      properties:
        id:
          description: Identifier of the publisher.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_categories:
      example:
        id: 5.637376656633329
      nullable: false
      properties:
        id:
          description: Identifier of the category.
          format: id32
          nullable: true
          type: number
          x-pushable: true
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_chain:
      description: Article chain.
      example:
        id: id
      nullable: false
      properties:
        id:
          description: Identifier of the news article chain.
          format: id64
          nullable: true
          type: string
          x-pushable: true
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_fsym_security:
      description: Security-level identifier.
      example:
        permanentIdentifier: permanentIdentifier
      nullable: false
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for an instrument. The format
            is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
          nullable: true
          type: string
          x-pushable: true
      type: object
      x-property-sort:
      - permanentIdentifier
    inline_response_200_1_fsym:
      description: Instrument-level FactSet identifier of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        security:
          permanentIdentifier: permanentIdentifier
      nullable: false
      properties:
        security:
          $ref: '#/components/schemas/inline_response_200_1_fsym_security'
      type: object
      x-property-sort:
      - security
    inline_response_200_1_instruments:
      example:
        fsym:
          security:
            permanentIdentifier: permanentIdentifier
        id: id
      nullable: false
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          nullable: true
          type: string
          x-pushable: true
          x-positive: true
        fsym:
          $ref: '#/components/schemas/inline_response_200_1_fsym'
      type: object
      x-property-sort:
      - id
      - fsym
    inline_response_200_1_data:
      example:
        summary: summary
        types:
        - id: 0.8008281904610115
        - id: 0.8008281904610115
        chain:
          id: id
        code: code
        instruments:
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        publisher:
          id: 5.962133916683182
        language:
          id: 6.027456183070403
        time: time
        categories:
        - id: 5.637376656633329
        - id: 5.637376656633329
        headline: headline
        distributor:
          id: 1.4658129805029452
      nullable: false
      properties:
        code:
          description: Identifier of the news article.
          nullable: true
          type: string
        time:
          description: Date and time of the news article.
          format: datetime
          nullable: true
          type: string
          x-pushable: true
        headline:
          description: Headline of the news article represented as text with HTML
            entity encoding but without HTML tags.
          nullable: true
          type: string
          x-pushable: true
        summary:
          description: Textual summary of the body of the news article or `null` if
            no summary was provided by the news article distributor.
          nullable: true
          type: string
          x-pushable: true
        types:
          description: Types of news article. See endpoint `/news/article/type/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_types'
          nullable: false
          type: array
        language:
          $ref: '#/components/schemas/inline_response_200_1_language'
        distributor:
          $ref: '#/components/schemas/inline_response_200_1_distributor'
        publisher:
          $ref: '#/components/schemas/inline_response_200_1_publisher'
        categories:
          description: Categories related to the news article. See endpoint `/category/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_categories'
          nullable: false
          type: array
        chain:
          $ref: '#/components/schemas/inline_response_200_1_chain'
        instruments:
          description: Set of stock instruments related to the article. The set is
            not updated in the course of corporate actions, e.g. when the related
            company obtains a new instrument after a spin-off.
          items:
            $ref: '#/components/schemas/inline_response_200_1_instruments'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - code
      - time
      - headline
      - summary
      - types
      - language
      - distributor
      - publisher
      - categories
      - chain
      - instruments
    inline_response_200_1_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          next: next
          previous: previous
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
      type: object
      x-property-sort:
      - status
      - pagination
    inline_response_200_1:
      example:
        data:
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
        meta:
          pagination:
            next: next
            previous: previous
          status:
            code: 9.301444243932576
      properties:
        data:
          description: News articles that match the filter criteria ordered by descending
            article time.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          nullable: false
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_2_data_distributor:
      description: Distributor of the news articles. See endpoint `/news/distributor/list`
        for possible values.
      example:
        id: 0.8008281904610115
      nullable: false
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_2_data_articles:
      example:
        summary: summary
        types:
        - id: 0.8008281904610115
        - id: 0.8008281904610115
        code: code
        instruments:
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        language:
          id: 6.027456183070403
        time: time
        categories:
        - id: 5.637376656633329
        - id: 5.637376656633329
        headline: headline
      nullable: false
      properties:
        code:
          description: Identifier of the news article.
          nullable: true
          type: string
        time:
          description: Date and time of the news article.
          format: datetime
          nullable: true
          type: string
          x-pushable: true
        headline:
          description: Headline of the news article represented as text with HTML
            entity encoding but without HTML tags.
          nullable: true
          type: string
          x-pushable: true
        summary:
          description: Textual summary of the body of the news article or `null` if
            no summary was provided by the news article distributor.
          nullable: true
          type: string
          x-pushable: true
        types:
          description: Types of news article. See endpoint `/news/article/type/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_types'
          nullable: false
          type: array
        language:
          $ref: '#/components/schemas/inline_response_200_1_language'
        categories:
          description: Categories related to the news article. See endpoint `/category/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_categories'
          nullable: false
          type: array
        instruments:
          description: Set of stock instruments related to the article. The set is
            not updated in the course of corporate actions, e.g. when the related
            company obtains a new instrument after a spin-off.
          items:
            $ref: '#/components/schemas/inline_response_200_1_instruments'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - code
      - time
      - headline
      - summary
      - types
      - language
      - categories
      - instruments
    inline_response_200_2_data:
      description: News articles, their publisher, and distributor as refrenced by
        the article chain.
      example:
        publisher:
          id: 5.962133916683182
        distributor:
          id: 0.8008281904610115
        articles:
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
      nullable: false
      properties:
        distributor:
          $ref: '#/components/schemas/inline_response_200_2_data_distributor'
        publisher:
          $ref: '#/components/schemas/inline_response_200_1_publisher'
        articles:
          description: News articles that match the filter criteria ordered by descending
            article time.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data_articles'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - distributor
      - publisher
      - articles
    inline_response_200_2:
      example:
        data:
          publisher:
            id: 5.962133916683182
          distributor:
            id: 0.8008281904610115
          articles:
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
        meta:
          pagination:
            next: next
            previous: previous
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_2_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_3_data_status:
      description: Error status for the requested identifier.
      example:
        identifier: identifier
        code: none
        details: details
        encryptedDetails: encryptedDetails
      nullable: false
      properties:
        code:
          description: Code of the error condition.
          enum:
          - none
          - parameter
          - entitlement
          - identifierMapping
          nullable: true
          type: string
          x-enum-description:
          - No error.
          - The provided identifier does not refer to a valid listing level identifier.
          - Not entitled to see data for the identifier.
          - Unable to resolve the provided identifier.
        identifier:
          description: Provided identifier.
          nullable: true
          type: string
        details:
          description: A human-readable, unstructured explanation specific to this
            occurrence of the problem.
          nullable: true
          type: string
        encryptedDetails:
          description: Base64-encoded internal details about the error.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - code
      - identifier
      - details
      - encryptedDetails
    inline_response_200_3_data_identifiers:
      example:
        sourceIdentifier: sourceIdentifier
        idNotation: idNotation
        status:
          identifier: identifier
          code: none
          details: details
          encryptedDetails: encryptedDetails
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          format: id64
          nullable: true
          type: string
          x-positive: true
        sourceIdentifier:
          description: Identifier used in the request.
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/inline_response_200_3_data_status'
      type: object
      x-property-sort:
      - idNotation
      - sourceIdentifier
      - status
    inline_response_200_3_data:
      description: News articles for instruments that are constituents of the given
        indices.
      example:
        identifiers:
        - sourceIdentifier: sourceIdentifier
          idNotation: idNotation
          status:
            identifier: identifier
            code: none
            details: details
            encryptedDetails: encryptedDetails
        - sourceIdentifier: sourceIdentifier
          idNotation: idNotation
          status:
            identifier: identifier
            code: none
            details: details
            encryptedDetails: encryptedDetails
        articles:
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
      nullable: false
      properties:
        identifiers:
          description: List of identifiers that resolve to index notations, and their
            type.
          items:
            $ref: '#/components/schemas/inline_response_200_3_data_identifiers'
          nullable: false
          type: array
        articles:
          description: News articles that match the filter criteria ordered by descending
            article time.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - identifiers
      - articles
    inline_response_200_3:
      example:
        data:
          identifiers:
          - sourceIdentifier: sourceIdentifier
            idNotation: idNotation
            status:
              identifier: identifier
              code: none
              details: details
              encryptedDetails: encryptedDetails
          - sourceIdentifier: sourceIdentifier
            idNotation: idNotation
            status:
              identifier: identifier
              code: none
              details: details
              encryptedDetails: encryptedDetails
          articles:
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            chain:
              id: id
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            publisher:
              id: 5.962133916683182
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
            distributor:
              id: 1.4658129805029452
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            chain:
              id: id
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            publisher:
              id: 5.962133916683182
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
            distributor:
              id: 1.4658129805029452
        meta:
          pagination:
            next: next
            previous: previous
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_3_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_4_data_status:
      description: Error status for the requested identifier.
      example:
        identifier: identifier
        code: none
        details: details
        encryptedDetails: encryptedDetails
      nullable: false
      properties:
        code:
          description: Code of the error condition.
          enum:
          - none
          - parameter
          - entitlement
          - identifierMapping
          nullable: true
          type: string
          x-enum-description:
          - No error.
          - The provided identifier does not refer to a valid instrument level identifier.
          - Not entitled to see data for the identifier.
          - Unable to resolve the provided identifier.
        identifier:
          description: Provided identifier.
          nullable: true
          type: string
        details:
          description: A human-readable, unstructured explanation specific to this
            occurrence of the problem.
          nullable: true
          type: string
        encryptedDetails:
          description: Base64-encoded internal details about the error.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - code
      - identifier
      - details
      - encryptedDetails
    inline_response_200_4_data_identifiers:
      example:
        idInstrument: idInstrument
        sourceIdentifier: sourceIdentifier
        status:
          identifier: identifier
          code: none
          details: details
          encryptedDetails: encryptedDetails
      nullable: false
      properties:
        idInstrument:
          description: MDG identifier of the instrument.
          format: id64
          nullable: true
          type: string
          x-positive: true
        sourceIdentifier:
          description: Identifier used in the request.
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/inline_response_200_4_data_status'
      type: object
      x-property-sort:
      - idInstrument
      - sourceIdentifier
      - status
    inline_response_200_4_data:
      description: News articles for instruments.
      example:
        identifiers:
        - idInstrument: idInstrument
          sourceIdentifier: sourceIdentifier
          status:
            identifier: identifier
            code: none
            details: details
            encryptedDetails: encryptedDetails
        - idInstrument: idInstrument
          sourceIdentifier: sourceIdentifier
          status:
            identifier: identifier
            code: none
            details: details
            encryptedDetails: encryptedDetails
        articles:
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
      nullable: false
      properties:
        identifiers:
          description: List of identifiers.
          items:
            $ref: '#/components/schemas/inline_response_200_4_data_identifiers'
          nullable: false
          type: array
        articles:
          description: News articles that match the filter criteria ordered by descending
            article time.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - identifiers
      - articles
    inline_response_200_4:
      example:
        data:
          identifiers:
          - idInstrument: idInstrument
            sourceIdentifier: sourceIdentifier
            status:
              identifier: identifier
              code: none
              details: details
              encryptedDetails: encryptedDetails
          - idInstrument: idInstrument
            sourceIdentifier: sourceIdentifier
            status:
              identifier: identifier
              code: none
              details: details
              encryptedDetails: encryptedDetails
          articles:
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            chain:
              id: id
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            publisher:
              id: 5.962133916683182
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
            distributor:
              id: 1.4658129805029452
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            chain:
              id: id
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            publisher:
              id: 5.962133916683182
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
            distributor:
              id: 1.4658129805029452
        meta:
          pagination:
            next: next
            previous: previous
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_4_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_5_data:
      description: Details of a news article type.
      example:
        name: name
      nullable: false
      properties:
        name:
          description: Name of the news article type.
          format: localizedString
          nullable: true
          type: string
      type: object
      x-property-sort:
      - name
    inline_response_200_5:
      example:
        data:
          name: name
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
[...]
