openapi: 3.0.2
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |-
    Through the Universal Screening API, you can access the power of FactSet's Universal Screening Application.
    Calculate and return the results of your saved Universal Screens.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Universal Screening API
  version: 2.0.2
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/universal-screening-api
servers:
- url: https://api.factset.com/universal-screening/v2
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Routes related to submitting, polling, or picking up results for Screening
    operations.
  name: Screening Operations
- description: Routes related to managing long-running jobs.
  name: Job Management
paths:
  /job/archive:
    post:
      description: Begins archive of screen to OFDB. Subject to rate limiting by serial.
      operationId: submitArchiveOFDB
      requestBody:
        $ref: '#/components/requestBodies/submitArchiveOFDBRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
          description: Successful archive OFDB submission response, returns the job
            ID unique to this archive and the URL in the Location header to check
            the status of the archive.
          headers:
            Location:
              $ref: '#/components/headers/StatusLocation'
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            X-RateLimit-Limit-604800:
              $ref: '#/components/headers/X-RateLimit-Limit-604800'
            X-RateLimit-Remaining-604800:
              $ref: '#/components/headers/X-RateLimit-Remaining-604800'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid request body.
          headers:
            X-RateLimit-Limit-604800:
              $ref: '#/components/headers/X-RateLimit-Limit-604800'
            X-RateLimit-Remaining-604800:
              $ref: '#/components/headers/X-RateLimit-Remaining-604800'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Screening Operations
      x-contentType: application/json
      x-accepts: application/json
  /job/calculate:
    post:
      description: Begins calculation of screen. Subject to rate limiting by serial.
      operationId: submitCalculate
      requestBody:
        $ref: '#/components/requestBodies/submitCalcRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
          description: Successful calculation submission response, returns the job
            ID unique to this calculation and the URL in the Location header to check
            the status of the calculation.
          headers:
            Location:
              $ref: '#/components/headers/StatusLocation'
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            X-RateLimit-Limit-604800:
              $ref: '#/components/headers/X-RateLimit-Limit-604800'
            X-RateLimit-Remaining-604800:
              $ref: '#/components/headers/X-RateLimit-Remaining-604800'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid request body.
          headers:
            X-RateLimit-Limit-604800:
              $ref: '#/components/headers/X-RateLimit-Limit-604800'
            X-RateLimit-Remaining-604800:
              $ref: '#/components/headers/X-RateLimit-Remaining-604800'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Screening Operations
      x-contentType: application/json
      x-accepts: application/json
  /job/{id}/status:
    get:
      description: Polls the job with a given screen ID and returns job status
      operationId: pollCalculate
      parameters:
      - description: Unique identifier for a job. "Job" refers to a screen calculation
          or archival.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
          description: Job completed
          headers:
            Location:
              $ref: '#/components/headers/ResultsLocation'
            X-FactSet-Api-PickUp-Progress:
              $ref: '#/components/headers/X-FactSet-Api-PickUp-Progress-Complete'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
          description: Long-running job still in progress
          headers:
            Location:
              $ref: '#/components/headers/StatusLocation'
            X-FactSet-Api-PickUp-Progress:
              $ref: '#/components/headers/X-FactSet-Api-PickUp-Progress'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: User is not authorized for this operation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Job ID not found.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: The results have been fetched for this ID.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Screening Operations
      x-accepts: application/json
  /jobs:
    delete:
      description: Delete all active jobs started by the requester's username-serial
      operationId: deleteAllActiveJobs
      responses:
        "204":
          description: No content
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Job ID not found.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Job Management
      x-accepts: application/json
    get:
      description: Retrieve list of all active job ids started by requester's username-serial
      operationId: getAllActiveJobs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveJobsData'
          description: ActiveJobsResponse contains id of all of a user's active jobs
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Job ID not found.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Job Management
      x-accepts: application/json
  /job/{id}:
    delete:
      description: Delete a specified job started by the requester's username-serial
      operationId: deleteActiveJob
      parameters:
      - description: Unique identifier for a job. "Job" refers to a screen calculation
          or archival.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Job ID not found.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Job Management
      x-accepts: application/json
    get:
      description: Retrieve results of complete screen calculation. Screens with more
        than 10,000 rows will be returned in a paginated format. Results may be fetched
        in pages of 1,000 - 100,000 results with 10,000 being the default page size.
      operationId: getCalculateResults
      parameters:
      - description: Unique identifier for a job. "Job" refers to a screen calculation
          or archival.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 123e4567-e89b-12d3-a456-426655440000
          format: uuid
          type: string
        style: simple
      - description: Page size limit (minumum 1000, default 10,000, maximum 100,000)
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 10000
          example: 12345
          format: int32
          maximum: 100000
          minimum: 1000
          type: integer
        style: form
      - description: Paging index (Initial request may omit)
        explode: true
        in: query
        name: _paginationCursor
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCalculationResponse'
          description: Paginated Screen Results and Metadata
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
          description: Long-running job still in progress
          headers:
            Location:
              $ref: '#/components/headers/StatusLocation'
            X-FactSet-Api-PickUp-Progress:
              $ref: '#/components/headers/X-FactSet-Api-PickUp-Progress'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: The requested screen could not be opened.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Invalid or missing authentication.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: User is not authorized for this operation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Job ID not found.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: The results have been fetched for this ID.
          headers:
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorArray'
          description: Too many requests.
          headers:
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          description: Internal Server Error
          headers:
            Request-Key:
              description: Provide this key when reporting this issue
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - Screening Operations
      x-accepts: application/json
components:
  examples:
    errorObjectSourceExample:
      value:
        parameter: param1
    errorObjectExample:
      value:
        code: parameterError
        id: 123e4567-e89b-12d3-a456-426655440001
        source:
          $ref: '#/components/examples/errorObjectSourceExample'
        title: param1 notFound
    paginationResponseExample:
      value:
        isEstimatedTotal: true
        next: nextCursorSent
        prev: null
        total: 98
  headers:
    StatusLocation:
      description: Relative location to poll for job status
      explode: false
      schema:
        example: /v2/job/123e4567-e89b-12d3-a456-426655440000/status
        type: string
      style: simple
    ResultsLocation:
      description: Relative location to pick up screen results, calculate route only
      explode: false
      schema:
        example: /v2/job/123e4567-e89b-12d3-a456-426655440000
        type: string
      style: simple
    X-FactSet-Api-PickUp-Progress:
      description: Long-running operation progress
      explode: false
      schema:
        example: 5/9
        type: string
      style: simple
    X-FactSet-Api-PickUp-Progress-Complete:
      description: Long-running operation progress
      explode: false
      schema:
        example: 9/9
        type: string
      style: simple
    X-FactSet-Api-Units-Limit:
      description: Maximum number of concurrent jobs.
      explode: false
      schema:
        example: "3"
        type: string
      style: simple
    X-FactSet-Api-Units-Remaining:
      description: Number of available concurrent jobs.
      explode: false
      schema:
        example: "1"
        type: string
      style: simple
    X-RateLimit-Limit-second:
      description: Number of allowed requests per second.
      explode: false
      schema:
        example: "20"
        type: string
      style: simple
    X-RateLimit-Remaining-second:
      description: Number of remaining requests per second.
      explode: false
      schema:
        example: "15"
        type: string
      style: simple
    X-RateLimit-Limit-604800:
      description: Number of weekly jobs allowed.
      explode: false
      schema:
        example: "10"
        type: string
      style: simple
    X-RateLimit-Remaining-604800:
      description: Number of remaining weekly jobs.
      explode: false
      schema:
        example: "5"
        type: string
      style: simple
    RateLimit-Limit:
      description: Number of allowed requests for the time window.
      explode: false
      schema:
        example: "20"
        type: string
      style: simple
    RateLimit-Remaining:
      description: Number of remaining requests for the time window.
      explode: false
      schema:
        example: "15"
        type: string
      style: simple
    RateLimit-Reset:
      description: Time, in seconds, until the rate limit resets.
      explode: false
      schema:
        example: "1"
        type: string
      style: simple
  parameters:
    PaginationCursor:
      description: Paging index (Initial request may omit)
      explode: true
      in: query
      name: _paginationCursor
      required: false
      schema:
        default: 0
        example: 0
        format: int32
        minimum: 0
        type: integer
      style: form
    PaginationLimit:
      description: Page size limit (minumum 1000, default 10,000, maximum 100,000)
      explode: true
      in: query
      name: _paginationLimit
      required: false
      schema:
        default: 10000
        example: 12345
        format: int32
        maximum: 100000
        minimum: 1000
        type: integer
      style: form
    ScreenCalcID:
      description: Unique identifier for a job. "Job" refers to a screen calculation
        or archival.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 123e4567-e89b-12d3-a456-426655440000
        format: uuid
        type: string
      style: simple
  requestBodies:
    submitArchiveOFDBRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScreenArchiveOFDBParameters'
      description: Data required for an archive to OFDB request
    submitCalcRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScreenCalcParameters'
      description: Data required for a calculation request
  responses:
    ActiveJobsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ActiveJobsData'
      description: ActiveJobsResponse contains id of all of a user's active jobs
      headers:
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    CalculateInProgressResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceStatusResponse'
      description: Long-running job still in progress
      headers:
        Location:
          $ref: '#/components/headers/StatusLocation'
        X-FactSet-Api-PickUp-Progress:
          $ref: '#/components/headers/X-FactSet-Api-PickUp-Progress'
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    CalculateSuccessResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceStatusResponse'
      description: Job completed
      headers:
        Location:
          $ref: '#/components/headers/ResultsLocation'
        X-FactSet-Api-PickUp-Progress:
          $ref: '#/components/headers/X-FactSet-Api-PickUp-Progress-Complete'
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    PaginatedCalculateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaginatedCalculationResponse'
      description: Paginated Screen Results and Metadata
      headers:
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    Error400InvalidRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Invalid request body.
      headers:
        X-RateLimit-Limit-604800:
          $ref: '#/components/headers/X-RateLimit-Limit-604800'
        X-RateLimit-Remaining-604800:
          $ref: '#/components/headers/X-RateLimit-Remaining-604800'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    Error400ScreenOpen:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: The requested screen could not be opened.
      headers:
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    Error401Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Invalid or missing authentication.
    Error403Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: User is not authorized for this operation.
    Error404Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Job ID not found.
      headers:
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    Error410Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: The results have been fetched for this ID.
      headers:
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    Error429Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Too many requests.
      headers:
        X-FactSet-Api-Units-Limit:
          $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
        X-FactSet-Api-Units-Remaining:
          $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/RateLimit-Reset'
    Generic500ErrorResponse:
      description: Internal Server Error
      headers:
        Request-Key:
          description: Provide this key when reporting this issue
          explode: false
          schema:
            type: string
          style: simple
    SubmitArchiveOFDBResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceStatusResponse'
      description: Successful archive OFDB submission response, returns the job ID
        unique to this archive and the URL in the Location header to check the status
        of the archive.
      headers:
        Location:
          $ref: '#/components/headers/StatusLocation'
        X-FactSet-Api-Units-Limit:
          $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
        X-FactSet-Api-Units-Remaining:
          $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
        X-RateLimit-Limit-604800:
          $ref: '#/components/headers/X-RateLimit-Limit-604800'
        X-RateLimit-Remaining-604800:
          $ref: '#/components/headers/X-RateLimit-Remaining-604800'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
    SubmitCalculateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceStatusResponse'
      description: Successful calculation submission response, returns the job ID
        unique to this calculation and the URL in the Location header to check the
        status of the calculation.
      headers:
        Location:
          $ref: '#/components/headers/StatusLocation'
        X-FactSet-Api-Units-Limit:
          $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
        X-FactSet-Api-Units-Remaining:
          $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
        X-RateLimit-Limit-604800:
          $ref: '#/components/headers/X-RateLimit-Limit-604800'
        X-RateLimit-Remaining-604800:
          $ref: '#/components/headers/X-RateLimit-Remaining-604800'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
  schemas:
    ActiveJobsData:
      description: Object containing active job IDs
      example:
        data:
          id:
          - 123e4567-e89b-12d3-a456-426655440000
          - 927876ca-2b99-477f-b50c-724e9b808945
          - 43c51881-2d88-41ad-8aab-da014ec16857
      properties:
        data:
          $ref: '#/components/schemas/ActiveJobIDs'
      type: object
    ActiveJobIDs:
      description: Array of active job IDs associated with the account
      example:
        id:
        - 123e4567-e89b-12d3-a456-426655440000
        - 927876ca-2b99-477f-b50c-724e9b808945
        - 43c51881-2d88-41ad-8aab-da014ec16857
      properties:
        id:
          description: Array of active job IDs associated with the account
          example:
          - 123e4567-e89b-12d3-a456-426655440000
          - 927876ca-2b99-477f-b50c-724e9b808945
          - 43c51881-2d88-41ad-8aab-da014ec16857
          items:
            example: 123e4567-e89b-12d3-a456-426655440000
            format: uuid
            type: string
          type: array
      type: object
    ErrorArray:
      description: An array of errors
      properties:
        errors:
          description: Array of Error Objects
          example:
          - code: parameterError
            id: 123e4567-e89b-12d3-a456-426655440001
            source:
              parameter: param1
            title: param1 notFound
          - code: universal_screening_parameterWarning
            id: 123e4567-e89b-12d3-a456-426655440002
            source:
              parameter: param2
            title: The screen you are attempting to open is corrupt.
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
      type: object
    ErrorCode:
      description: Factset API specific error codes
      enum:
      - notAuthenticated
      - notAuthorized
      - notFound
      - endpointNotFound
      - parameterError
      - genericServerError
      - resourceGone
      - quantityLimitsExceeded
      - universal_screening_parameterError
      - universal_screening_parameterWarning
      example: notAuthenticated
      type: string
    ErrorObject:
      description: Associated Error Objects
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        id:
          description: A unique ID for the occurrence of the error. It is advised
            to log this code and include it if you contact FactSet support desk.
          example: 123e4567-e89b-12d3-a456-426655440002
          format: uuid
          type: string
        source:
          $ref: '#/components/schemas/ErrorObjectSource'
        title:
          description: A description of the error
          example: Parameter Error
          type: string
      type: object
    ErrorObjectSource:
      description: For errors and warnings found in screens, contains the paramID
        the error/warning belongs to
      properties:
        parameter:
          description: Param ID
          example: PARAM1
          type: string
      type: object
    PaginationResponse:
      description: Information about the paginated data in this response.
      properties:
        isEstimatedTotal:
          description: Denotes if the 'total' property is an estimation
          example: true
          type: boolean
        next:
          description: Next cursor to be sent, will be null when there are no more
            results
          nullable: true
          type: string
        previous:
          description: Previous cursor, currently not supported
          nullable: true
          type: string
        total:
          description: Total number of rows in the screen
          example: 2002
          type: integer
      type: object
    ResourceStatusResponse:
      description: ResourceStatusResponse contains information regarding the status
        of a long-running job. "Job" refers to a screen calculation or archival.
      example:
        data:
          error:
            $ref: '#/components/examples/errorObjectExample'
          id: 123e4567-e89b-12d3-a456-426655440000
          status: queued
      properties:
        data:
          $ref: '#/components/schemas/ResourceStatusResponse_data'
      type: object
    ResultsMetadata:
      description: Metadata containing results pagination information
      example:
        pagination:
          $ref: '#/components/examples/paginationResponseExample'
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    StachPackage:
      description: Stach v2 column oriented paginated screen results. Documentation
        https://factset.github.io/stachschema/#/v2/README
      type: object
    PaginatedCalculationResponse:
      description: Paged results from screen calculation
      example:
        data: '{}'
        meta:
          pagination:
            $ref: '#/components/examples/paginationResponseExample'
      properties:
        meta:
          $ref: '#/components/schemas/ResultsMetadata'
        data:
          description: Stach v2 column oriented paginated screen results. Documentation
            https://factset.github.io/stachschema/#/v2/README
          type: object
      type: object
    ScreenArchiveOFDBParameters:
      description: Request body for screen archive request
      example:
        data:
          globalVariablesMap:
            key: globalVariablesMap
          archiveOptions:
            unsplitHistory: false
            timeSeries: true
            archiveType: ofdbSymbols
            filename: personal:/screening_api_example_file.ofdb
            overwriteData: true
            archiveDate: "20201231"
            quickColumns: PARAM1 PARAM2
            useReportOrder: true
            autoSymbolUpdates: true
            existed: false
            symbolType: cusip
          legacyUniverseType: equity
          screenName: SAMPLE_SCREENS:KPI_AIR.USWEB
          backtestDate: "19951203"
      properties:
        data:
          $ref: '#/components/schemas/ScreenArchiveOFDBParameters_data'
      required:
      - data
      type: object
    ScreenCalcParameters:
      description: Request body to calculate a screen.
      example:
        data:
          globalVariablesMap:
            key: globalVariablesMap
          legacyUniverseType: equity
          screenName: SAMPLE_SCREENS:KPI_AIR.USWEB
          backtestDate: "20040412"
      properties:
        data:
          $ref: '#/components/schemas/ScreenCalcParameters_data'
      required:
      - data
      type: object
    ResourceStatusResponse_data:
      description: Information about the status of the long-running job.
      example:
        error:
          $ref: '#/components/examples/errorObjectExample'
        id: 123e4567-e89b-12d3-a456-426655440000
        status: queued
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
        id:
          description: ID of the submitted job
          example: 123e4567-e89b-12d3-a456-426655440002
          format: uuid
          type: string
        status:
          description: |-
            Current status of the job.\
            `queued`: The job has not started.\
            `executing`: The job is in progress.\
            `created`: The job completed successfully.\
            `failed`: The job failed. See the `error` property for more information.\
            `cancelled`: The job was cancelled before it could finish.
          enum:
          - queued
          - executing
          - created
          - failed
          - cancelled
          example: queued
          type: string
      type: object
    ScreenArchiveOFDBParameters_data_archiveOptions:
      description: Archive-specific parameters
      example:
        unsplitHistory: false
        timeSeries: true
        archiveType: ofdbSymbols
        filename: personal:/screening_api_example_file.ofdb
        overwriteData: true
        archiveDate: "20201231"
        quickColumns: PARAM1 PARAM2
        useReportOrder: true
        autoSymbolUpdates: true
        existed: false
        symbolType: cusip
      properties:
        archiveDate:
          description: YYYYMMDD date to archive to
          example: "20201231"
          maxLength: 8
          minLength: 8
          nullable: true
          pattern: ^\d{8}$
          type: string
        archiveType:
          description: |-
            Type of archive.\
            `ofdbSymbols`: Archives the list of identifiers that passed the screen to an OFDB file.\
            `ofdb`: Archives the results of the screen to a time series OFDB. A mapping between Universal Screening and the OFDB must be created and saved in the screen.\
            `ofdbNts`: Archives the results of the screen to a non-time series OFDB. A mapping between Universal Screening and the OFDB database must be created and saved in the screen.\
            `ofdbQuickNts`: Archives the results of the screen to a non-time series OFDB without requiring a Universal Screening-to-OFDB map. By default, all columns in the screen will be archived to the OFDB. Each column's parameter reference name will be used as the OFDB field name. Use the `quickColumns` property to specify which parameters to archive.
          enum:
          - ofdbSymbols
          - ofdb
          - ofdbNts
          - ofdbQuickNts
          example: ofdbSymbols
          type: string
        autoSymbolUpdates:
          description: Flag to enable automatic symbol updates
          example: true
          type: boolean
        existed:
          description: Indicates that the output file exists
          example: false
          type: boolean
        filename:
          description: OFDB Filename to archive to
          example: personal:/screening_api_example_file.ofdb
          type: string
        overwriteData:
          description: If true and target file (or date for a time series file) exists,
            it will be cleared before archiving
          example: true
          type: boolean
        quickColumns:
          description: 'Space delimited list of parameter references to be archived,
            which are UPPERCASED with the #P. omitted'
          example: PARAM1 PARAM2
          nullable: true
          type: string
        symbolType:
          description: |-
            The type of symbol to be saved to the SYMBOL field of the OFDB\
            `cusip`: Recommended. Primarily CUSIP for North American listed securities and SEDOL for the rest of the world.\
            `ticker`: Should only be used when writing to an existing OFDB that uses Tickers in the symbol column. Primarily Tickers for North American listed securities, QUICK Codes for Japanese listed securities, and SEDOL for the rest of the world. Applicable for equity screen archives.\
            `isin`: International Securities Identification Number (ISIN). Applicable for debt screen archives.
          enum:
          - cusip
          - ticker
          - isin
          example: cusip
          nullable: true
          type: string
        timeSeries:
          deprecated: true
          description: Has no effect. Use the `archiveType` property.
          type: boolean
        unsplitHistory:
          description: Flag indicating split adjust
          example: false
          type: boolean
        useReportOrder:
          description: If true, archive in report order
          example: true
          type: boolean
      required:
      - archiveType
      - filename
      type: object
    ScreenArchiveOFDBParameters_data:
      description: Object containing archive request payload
      example:
        globalVariablesMap:
          key: globalVariablesMap
        archiveOptions:
          unsplitHistory: false
          timeSeries: true
          archiveType: ofdbSymbols
          filename: personal:/screening_api_example_file.ofdb
          overwriteData: true
          archiveDate: "20201231"
          quickColumns: PARAM1 PARAM2
          useReportOrder: true
          autoSymbolUpdates: true
          existed: false
          symbolType: cusip
        legacyUniverseType: equity
        screenName: SAMPLE_SCREENS:KPI_AIR.USWEB
        backtestDate: "19951203"
      properties:
        archiveOptions:
          $ref: '#/components/schemas/ScreenArchiveOFDBParameters_data_archiveOptions'
        backtestDate:
          description: |-
            Specifies the backtest date used when running the screen, replacing
              the backtest date saved in the screen, can be written in YYYYMMDD,
              MM/DD/YYYY or relative (0, -1, 0/-1/0) format.
            Requires addtional access to use.
          example: "19951203"
          nullable: true
          type: string
        globalVariablesMap:
          additionalProperties:
            type: string
          description: |-
            Modifies existing global variables for this calculation request, temporarily adds them if they do not already exist
            Variable names can only contain the characters A-Z (case insensitive). Variable values must be non-empty.
          type: object
        legacyUniverseType:
          default: equity
          description: |-
            Universe type to open a Screen 1.0 document with\
            `equity`: Uses the equity universe from the Screen 1.0 document.\
            `debt`: Uses the debt universe from the Screen 1.0 document.\
            `fund`: Uses the fund universe from the Screen 1.0 document.
          enum:
          - equity
          - debt
          - fund
          example: equity
          nullable: true
          type: string
        screenName:
          description: Full file path to a valid screen
          example: SAMPLE_SCREENS:KPI_AIR.USWEB
          type: string
      required:
      - screenName
      type: object
    ScreenCalcParameters_data:
      description: Object containing screen data
      example:
        globalVariablesMap:
          key: globalVariablesMap
        legacyUniverseType: equity
        screenName: SAMPLE_SCREENS:KPI_AIR.USWEB
        backtestDate: "20040412"
      properties:
        backtestDate:
          description: Specifies the backtest date used when running the screen, replacing
            the backtest date saved in the screen, can be written in YYYYMMDD, MM/DD/YYYY
            or relative (0, -1, 0/-1/0) format. Requires addtional access to use.
          example: "20040412"
          nullable: true
          type: string
        globalVariablesMap:
          additionalProperties:
            type: string
          description: |-
            Modifies existing global variables for this calculation request, temporarily adds them if they do not already exist
            Variable names can only contain the characters A-Z (case insensitive). Variable values must be non-empty.
          type: object
        legacyUniverseType:
          default: equity
          description: |-
            Universe type to open a Screen 1.0 document with\
            `equity`: Uses the equity universe from the Screen 1.0 document.\
            `debt`: Uses the debt universe from the Screen 1.0 document.\
            `fund`: Uses the fund universe from the Screen 1.0 document.
          enum:
          - equity
          - debt
          - fund
          example: equity
          nullable: true
          type: string
        screenName:
          description: File path to a valid screen
          example: SAMPLE_SCREENS:KPI_AIR.USWEB
          type: string
      required:
      - screenName
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

