openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Get relevant industry-specific data for high level analysis of public
    and private companies
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Overview Report Builder API
  version: 1.1.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/overview-report-builder-api
servers:
- url: https://api.factset.com/report/overview/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Supports Company entity types
  name: Company
paths:
  /current-cap:
    get:
      description: Get current capitalization data
      operationId: getCurrentCap
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200CurrentCapitalizationResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Current Capitalization
      tags:
      - Company
      x-accepts: application/json
  /financial-highlights:
    get:
      description: Get financial highlights data
      operationId: getFinancialHighlights
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: The number of actual data periods to be returned. Must be 0 or
          greater
        explode: true
        in: query
        name: actual
        required: false
        schema:
          default: 4
          example: 4
          type: integer
        style: form
      - description: The number of estimate data periods to be returned. Must be 0
          or greater
        explode: true
        in: query
        name: estimate
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200FinancialHighlightsResponse'
                noDataresponse:
                  $ref: '#/components/examples/noData200FinancialHighlightsResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; Returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Financial / Estimate Highlights
      tags:
      - Company
      x-accepts: application/json
  /key-stats:
    description: Returns key financial metrics for private and public companies, as
      well as ETFs and mutual funds.  This endpoint provides a quick and easy way
      to obtain fundamental financial data. These key statistics can be used to evaluate
      a company's financial health, compare it to other companies in the same industry,
      and make informed investment decisions.
    get:
      description: Get key stats data
      operationId: getKeyStats
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200KeyStatsResponse'
                noDataResponse:
                  $ref: '#/components/examples/noData200KeyStatsResponse'
              schema:
                $ref: '#/components/schemas/KeyStatsResponse'
          description: Expected response; returns the JSON in a simple key-value format
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Key Stats
      tags:
      - Company
      x-accepts: application/json
  /peer-list:
    get:
      description: Retrieve peers for the provided company
      operationId: getPeerlist
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Limits the number of peers returned.
        explode: true
        in: query
        name: topn
        required: false
        schema:
          example: 5
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200PeerListResponse'
              schema:
                $ref: '#/components/schemas/PeerListResponse'
          description: Expected response; returns JSON data containing key-value format
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Peer List
      tags:
      - Company
      x-accepts: application/json
  /profile:
    get:
      description: Retrieve all profile properties for the provided security
      operationId: getProfileProfile
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200ProfileResponse'
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Expected response; returns the JSON in a simple key-value format
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Overview Profile
      tags:
      - Company
      x-accepts: application/json
  /transactions:
    get:
      description: get transactions data
      operationId: getTrasactions
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Filters response to return only this type of transaction. If
          not specified, returns all transactions. Values are not case sensitive.
        explode: true
        in: query
        name: transactionType
        required: false
        schema:
          enum:
          - ACQUISITION_MERGER
          - MAJORITY_STAKE
          - MINORITY_STAKE
          - SPINOFF
          - IPO
          - FOLLOW_ON
          - ST_DEBT
          - NOTES_BONDS
          - REVOLVING_CREDIT
          - TERM_LOANS
          - PEVC_INVESTMENTS
          - FUNDING
          example: ACQUISITION_MERGER
          type: string
        style: form
      - description: Filters response to return transactions of this financing type.
          If not specified, returns all transactions. Values are not case sensitive
        explode: true
        in: query
        name: financingType
        required: false
        schema:
          enum:
          - DEBT
          - EQUITY
          example: EQUITY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200TransactionsResponse'
                financingType200ResponseExample:
                  $ref: '#/components/examples/financingType200Response'
                noDataresponse:
                  $ref: '#/components/examples/noData200TransactionsResponse'
                transactionType200ResponseExample:
                  $ref: '#/components/examples/transactionType200Response'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; Returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Transactions
      tags:
      - Company
      x-accepts: application/json
components:
  examples:
    default200CurrentCapitalizationResponse:
      summary: (sample response)
      value:
        data:
          tables:
            main:
              data:
                rows:
                - cells:
                  - Price (As of 27 Jan '21)
                  - null
                  - 312.690002
                  rowMetadata:
                    category:
                      value: DETAIL
                    currencyCode:
                      value: USD
                    currencySymbol:
                      value: $
                    scale:
                      value: null
                - cells:
                  - Basic Shares
                  - null
                  - 37.978624
                  rowMetadata:
                    category:
                      value: DETAIL
                    scale:
                      value: 6
                - cells:
                  - Basic Shares
                  - Common Stock
                  - 37.978624
                  rowMetadata:
                    category:
                      value: DETAIL
                    scale:
                      value: null
                - cells:
                  - Market Cap
                  - null
                  - 11875.535939
                  rowMetadata:
                    category:
                      value: MAIN
                    currencyCode:
                      value: USD
                    currencySymbol:
                      value: $
                    scale:
                      value: 6
                - cells:
                  - Enterprise Value
                  - null
                  - 12241.212855
                  rowMetadata:
                    category:
                      value: MAIN
                    currencyCode:
                      value: USD
                    currencySymbol:
                      value: $
                    scale:
                      value: null
                tableMetadata:
                  sources:
                    value:
                    - FactSet ECS
                    - FactSet DCS
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: lineItemChild1
                  isDimension: true
                  parentId: lineItem
                  type: string
                - id: lineItemValue
                  type: real
              headersDefinition:
                columns: []
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS-US
          schema: table_parent_child_columns
    default200FinancialHighlightsResponse:
      summary: sample response
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  "1":
                    items:
                      category:
                        value: ACTUAL
                  "2":
                    items:
                      category:
                        value: ACTUAL
                  "3":
                    items:
                      category:
                        value: ACTUAL
                  "4":
                    items:
                      category:
                        value: ACTUAL
                  "5":
                    items:
                      category:
                        value: ACTUAL
                  "6":
                    items:
                      category:
                        value: ACTUAL
                rows:
                - cells:
                  - null
                  - Aug '16
                  - Aug '17
                  - Aug '18
                  - Aug '19
                  - Aug '20
                  - Aug '21
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 4
                      source: PRIMARY
                    "5":
                      columnIndex: 5
                      source: PRIMARY
                    "6":
                      columnIndex: 6
                      source: PRIMARY
                  rowType: Header
                - cells:
                  - Sales
                  - "1127.092000"
                  - "1221.179000"
                  - "1350.145000"
                  - "1435.351000"
                  - "1494.111000"
                  - "1591.445000"
                  rowMetadata:
                    metric:
                      value: FIN
                    scale:
                      value: 6
                - cells:
                  - EBITDA
                  - "398.079000"
                  - "421.412000"
                  - "437.783000"
                  - "500.292000"
                  - "558.515000"
                  - "581.364000"
                  rowMetadata:
                    metric:
                      value: FIN
                    scale:
                      value: 6
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  notes:
                    value:
                    - All figures based on Standardized GAAP/IFRS.
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Estimates
              definition:
                columns:
                - id: lineItem1
                  type: string
                - id: lineItem2
                  type: string
                - id: lineItem3
                  type: string
                - id: lineItem4
                  type: string
                - id: lineItem5
                  type: string
                - id: lineItem6
                  type: string
                - id: lineItem7
                  type: string
              headersDefinition:
                columns: []
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS-US
    default200KeyStatsResponse:
      summary: sample response
      value:
        data:
          annualDividend:
            label:
              value: Annual Dividend
            meta:
              currencyCode:
                value: USD
            value:
              value: 3.92
          averageDailyVol:
            label:
              value: Avg Daily Vol (3 Mo)
            value:
              value: 300330.25
          averageDailyVol30D:
            label:
              value: 30D Avg Daily Vol
            value:
              value: 237795.1
          averageRating:
            label:
              value: Avg Rating
            value:
              value: Hold (2.11)
          basicShares:
            label:
              value: Basic Shares
            meta:
              units:
                value: M
            value:
              value: 37.896579
          beta:
            label:
              value: Beta
            value:
              value: 0.600683
          brokerContributors:
            label:
              value: Broker Contributors
            value:
              value: 18
          dilutedMarketCap:
            label:
              value: Fully Diluted Mkt Cap
            meta:
              currencyCode:
                value: USD
              units:
                value: M
            value:
              value: 14691.814201
          dilutedShares:
            label:
              value: Fully Diluted Shares Out
            meta:
              units:
                value: M
            value:
              value: 39.266127
          dividendYield:
            label:
              value: Dividend Yield
            value:
              value: 0.983615616279391
          enterpriseValue:
            label:
              value: Enterprise Value
            meta:
              currencyCode:
                value: USD
              units:
                value: M
            value:
              value: 14458.443201
          exDividendDate:
            label:
              value: Ex-Dividend Date
            value:
              value: "20231129"
          firstDate:
            label:
              value: IPO Date
            value:
              value: 1996-06-28
          float:
            label:
              value: Float
            value:
              value: 99.9248
          institutional:
            label:
              value: Institutional
            value:
              value: 91.3343
          ltGrowthRate:
            label:
              value: LT Growth Rate
            value:
              value: 10
          marketCap:
            label:
              value: Market Cap
            meta:
              currencyCode:
                value: USD
              units:
                value: M
            value:
              value: 14179.383999
          meta:
            sources:
              value: []
          nextEarnings:
            label:
              value: Next Earnings
            value:
              value: "20240326"
          open:
            label:
              value: Open
            meta:
              currencyCode:
                value: USD
            value:
              value: 480
          previousClose:
            label:
              value: Previous Close
            meta:
              currencyCode:
                value: USD
            value:
              value: 479.24
          primaryId:
            label:
              value: Primary ID
            value:
              value: "30307510"
          primaryTicker:
            label:
              value: Primary Ticker
            value:
              value: FDS-Us
          range52Week:
            label:
              value: 52 Week Range
            meta:
              currencyCode:
                value: USD
            value:
              value: $317.55 - 495.39
          securityId:
            label:
              value: CUSIP
            value:
              value: "303075105"
          shortInterest:
            label:
              value: Short Interest
            value:
              value: 5.2 Days
          shortInterestRatio:
            label:
              value: Short Interest Ratio
            value:
              value: 5.49472594720589
          targetPrice:
            label:
              value: Target Price
            meta:
              currencyCode:
                value: USD
            value:
              value: 462.41
          top10InstitutionalHolders:
            label:
              value: Top 10 Inst Hldrs
            value:
              value: 48.76016379
          volume:
            label:
              value: Volume
            value:
              value: 136040
          wacc:
            label:
              value: WACC
            value:
              value: 6.76303
        meta:
          fsymId: SQFMK3-R
          requestId: FDS-US
    default200PeerListResponse:
      summary: (sample response)
      value:
        data:
          meta:
            sources:
              value:
              - FactSet Fundamentals
          peers:
          - id: 000PLZ-E
            name: S&P Global, Inc.
            ticker: SPGI-US
          - id: 05TYNB-E
            name: Morningstar, Inc.
            ticker: MORN-US
          - id: 06JP5R-E
            name: MSCI Inc. Class A
            ticker: MSCI-US
          - id: 002HJD-E
            name: BlackRock, Inc.
            ticker: BLK-US
          - id: 0GCKWP-E
            name: IHS Markit Ltd.
            ticker: INFO-US
          - id: 000HSZ-E
            name: Moody's Corporation
            ticker: MCO-US
          - id: 06S1MZ-E
            name: Nasdaq, Inc.
            ticker: NDAQ-US
          - id: 0G4Z2V-E
            name: Donnelley Financial Solutions, Inc.
            ticker: DFIN-US
        meta:
          fsymId: SQFMK3-R
          requestId: FDS-US
    default200ProfileResponse:
      summary: (sample response)
      value:
        data:
          business:
            crunchbaseCategories:
              note: Displaying the Crunchbase logo is required for displaying any
                Crunchbase-sourced data
              value:
              - Analytics
              - Finance
              - Financial Services
              - Software
            description:
              value: FactSet Research Systems Inc. (the "Company" or "FactSet") is
                a global provider of integrated financial information, analytical
                applications and services for the investment and corporate communities.
                Since inception, global financial professionals have utilized the
                Company's content and multi-asset class solutions across each stage
                of the investment process. FactSet's goal is to provide a seamless
                user experience spanning idea generation, research, portfolio construction,
                trade execution, performance measurement, risk management, reporting,
                and portfolio analysis, in which the Company serves the front, middle,
                and back offices to drive productivity and improved performance. FactSet's
                flexible, open data and technology solutions can be implemented both
                across the investment portfolio lifecycle or as standalone components
                serving different workflows in the organization. FactSet is focused
                on growing the business throughout each of its three segments, the
                Americas, EMEA (formerly known as Europe), and Asia Pacific. The Company
                primarily delivers insight and information through the workflow solutions
                of Research, Analytics and Trading, Content and Technology Solutions
                ("CTS") and Wealth. FactSet currently serves financial professionals,
                which include portfolio managers, investment research professionals,
                investment bankers, risk and performance analysts, wealth advisors
                and corporate clients. FactSet provides both insights on global market
                trends and intelligence on companies and industries, as well as capabilities
                to monitor portfolio risk and performance and to execute trades. The
                Company combines dedicated client service with open and flexible technology
                offerings, such as a configurable desktop and mobile platform, comprehensive
                data feeds, an open marketplace and digital portals and application
                programming interfaces ("APIs"). The Company’s revenue is primarily
                derived from subscriptions to products and services such as workstations,
                analytics, enterprise data, and research management. FactSet Research
                Systems was founded by Howard E. Wille and Charles J. Snyder in September
                1978 and is headquartered in Norwalk, CT.
            industry:
              value: Professional Content Providers
            name:
              value: FactSet Research Systems Inc.
            sector:
              value: Software and Consulting
          contact:
            address:
              value: 7th Floor 45 Glover Avenue
            city:
              value: Norwalk
            country:
              value: UNITED STATES
            email:
              value: rima.hyder@factset.com
            phone:
              value: +1.203.810.1000
            stateProvince:
              value: Connecticut
            website:
              value: http://www.factset.com
            websiteHome:
              value: http://www.factset.com
            zip:
              value: "06850"
          meta:
            sources:
              value:
              - FactSet Fundamentals
              - FactSet RBICS
              - Crunchbase
          size:
            employeeNumber:
              value: null
            ev:
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
              value: 12783.238274
            mcap:
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
              value: 12814.061274
            revenue:
              label: Sales
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
              value: 1494.111
          stage:
            exchangePrimary:
              value: NYSE
            foundedYear:
              value: "1978"
            fundingDateRange:
              first:
                value: null
              last:
                value: null
            pevcBacking:
              value: null
            tradeDateRange:
              end:
                value: "20201001"
              start:
                value: "19960628"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS
    default200TransactionsResponse:
      summary: sample response
      value:
        data:
          tables:
            details:
              data:
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                  rowType: Header
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: c_id
                  isDimension: true
                  type: string
                - id: c_gross_proceeds
                  isDimension: true
                  type: real
                - id: c_overallotment
                  isDimension: true
                  type: real
                - id: c_total
                  isDimension: true
                  type: real
              headersDefinition:
                columns: []
            main:
              data:
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 4
                      source: PRIMARY
                  rowType: Header
                - cells:
                  - "20211013"
                  - Acquisition / Merger
                  - 'FactSet Research Systems, Inc. acquires Cobalt Software, Inc. '
                  - 51
                  - Complete
                  rowMetadata:
                    transactionId:
                      value: 4071979MM
                    transactionType:
                      value: DETAIL
                - cells:
                  - "20210714"
                  - Acquisition / Merger
                  - 'FactSet Research Systems, Inc. acquires BTU Analytics LLC '
                  - null
                  - Complete
                  rowMetadata:
                    transactionId:
                      value: 4054178MM
                    transactionType:
                      value: DETAIL
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: c_transaction_date
                  isDimension: true
                  type: string
                - id: c_transaction_type
                  isDimension: true
                  type: string
                - id: c_transaction_description
                  isDimension: true
                  type: real
                - id: c_transaction_amount
                  isDimension: true
                  type: string
                - id: c_transaction_status
                  isDimension: true
                  type: string
              headersDefinition:
                columns: []
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS-US
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - code: endpointNotFound
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: The requested endpoint does not exist.
    financingType200Response:
      summary: financingType=DEBT response
      value:
        data:
          tables:
            details:
              data:
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                  c_overallotment:
                    items:
                      scale:
                        value: 6
                  c_total:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                  rowType: Header
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: c_id
                  type: string
                - id: c_gross_proceeds
                  type: real
                - id: c_overallotment
                  type: real
                - id: c_total
                  type: real
              headersDefinition:
                columns: []
            main:
              data:
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 4
                      source: PRIMARY
                  rowType: Header
                - cells:
                  - "20220523"
                  - ST Debt
                  - FactSet Research Systems Inc. 1.908% 22-NOV-2022
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: 06945PLN
                    transactionType:
                      value: ST Debt
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 3.450% 01-MAR-2032
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: 303075AB
                    transactionType:
                      value: Notes/Bonds
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 2.900% 01-MAR-2027
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: 303075AA
                    transactionType:
                      value: Notes/Bonds
                - cells:
                  - "20220301"
                  - Term Loans
                  - Senior Unsecured Term Loan
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: FDS1R53Q
                    transactionType:
                      value: Term Loans
                - cells:
                  - "20220301"
                  - Revolving Credit
                  - FactSet Research Systems Inc. Revolver/Standard 01-MAR-2027
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: FDS1R56X
                    transactionType:
                      value: Revolving Credit
                - cells:
                  - "20190329"
                  - Revolving Credit
                  - Senior Unsec. Revolving Credit Facility - PNC Bank National Association
                  - 575
                  - Terminated
                  rowMetadata:
                    transactionId:
                      value: FDS0YFY41
                    transactionType:
                      value: Revolving Credit
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: c_transaction_date
                  type: string
                - id: c_transaction_type
                  type: string
                - id: c_transaction_description
                  type: string
                - id: c_transaction_amount
                  type: string
                - id: c_transaction_status
                  type: string
              headersDefinition:
                columns: []
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS-US
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter(s): ''id'''
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Missing required parameter(s): ''id'''
    noData200FinancialHighlightsResponse:
      summary: no coverage response
      value:
        data:
          tables:
            main:
              data:
                rows: []
                tableMetadata:
                  currencyCode:
                    value: GBP
                  currencySymbol:
                    value: £
              definition:
                columns:
                - id: lineItem1
                  type: string
              headersDefinition:
                columns: []
          version: "2.0"
        meta:
          fsymId: null
          message: This identifier is not covered by this API.
          noCoverage: true
          requestId: 0KJ0NJ-E
    noData200KeyStatsResponse:
      summary: no data response
      value:
        meta:
          fsymId: null
          message: There is no data for this request.
          noData: true
          requestId: 0N57YY-E
    noData200TransactionsResponse:
      summary: no data response
      value:
        data:
          tables:
            details:
              data:
                columnMetaData:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                  rowType: Header
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
              definition:
                columns:
                - id: c_id
                  isDimension: true
                  type: string
                - id: c_gross_proceeds
                  isDimension: true
                  type: real
                - id: c_overallotment
                  isDimension: true
                  type: real
                - id: c_total
                  isDimension: true
                  type: real
              headersDefinition:
                columns: []
            main:
              data:
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 4
                      source: PRIMARY
                  rowType: Header
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
              definition:
                columns:
                - id: c_transaction_date
                  isDimension: true
                  type: string
                - id: c_transaction_type
                  isDimension: true
                  type: string
                - id: c_transaction_description
                  isDimension: true
                  type: real
                - id: c_transaction_amount
                  isDimension: true
                  type: string
                - id: c_transaction_status
                  isDimension: true
                  type: string
              headersDefinition:
                columns: []
          version: "2.0"
        meta:
          fsymId: null
          message: There is no data for this request.
          noData: true
          requestId: 07ZXHF-E
    parameterErrorActual:
      summary: actual periods parameter error
      value:
        errors:
        - code: parameterError
          id: 35a62bd5-c4aa-4e6b-9357-0f1b5688e2db
          title: 'Invalid parameter: ''actual''. Accepted values include nonzero integers'
    parameterErrorEstimate:
      summary: estimate periods parameter error
      value:
        errors:
        - code: parameterError
          id: 372a28d1-53ac-49cd-9be5-beb714cd62a8
          title: 'Invalid parameter: ''estimate''. Accepted values include nonzero
            integers'
    parameterErrorTopn:
      summary: topn parameter error
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter: ''topn'''
    parameterErrorView:
      summary: view parameter error
      value:
        errors:
        - code: parameterError
          id: 3838f112-ed5a-4d9d-b0c7-3594d8eab0ed
          title: 'Invalid parameter: ''view''. Accepted values include: ''FINANCIAL'',
            ''VALUATION'', ''CAPITALIZATION'', ''MARGINS'' or ''PERFORMANCE'''
    transactionType200Response:
      summary: transactionType=NOTES_BONDS response
      value:
        data:
          tables:
            details:
              data:
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                  c_overallotment:
                    items:
                      scale:
                        value: 6
                  c_total:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                  rowType: Header
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: c_id
                  type: string
                - id: c_gross_proceeds
                  type: real
                - id: c_overallotment
                  type: real
                - id: c_total
                  type: real
              headersDefinition:
                columns: []
            main:
              data:
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 4
                      source: PRIMARY
                  rowType: Header
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 3.450% 01-MAR-2032
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: 303075AB
                    transactionType:
                      value: Notes/Bonds
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 2.900% 01-MAR-2027
                  - null
                  - New Issue
                  rowMetadata:
                    transactionId:
                      value: 303075AA
                    transactionType:
                      value: Notes/Bonds
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
              definition:
                columns:
                - id: c_transaction_date
                  type: string
                - id: c_transaction_type
                  type: string
                - id: c_transaction_description
                  type: string
                - id: c_transaction_amount
                  type: string
                - id: c_transaction_status
                  type: string
              headersDefinition:
                columns: []
          version: "2.0"
    unsupportedEntityParameterError:
      summary: unsupported entity type
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: Unsupported entity type
  headers:
    apiSupportedVersions:
      description: Supported API versions (semantic versioning)
      explode: false
      schema:
        type: string
      style: simple
    apiVersion:
      description: API version (semantic versioning)
      explode: false
      schema:
        type: string
      style: simple
    xDataDirectRequestKey:
      description: FactSet request ID
      explode: false
      schema:
        type: string
      style: simple
  responses:
    "200OKCurrentCapitalization":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200CurrentCapitalizationResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "200OKFinancialHighlights":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200FinancialHighlightsResponse'
            noDataresponse:
              $ref: '#/components/examples/noData200FinancialHighlightsResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "200OKKeyStats":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200KeyStatsResponse'
            noDataResponse:
              $ref: '#/components/examples/noData200KeyStatsResponse'
          schema:
            $ref: '#/components/schemas/KeyStatsResponse'
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "200OKPeerList":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200PeerListResponse'
          schema:
            $ref: '#/components/schemas/PeerListResponse'
      description: Expected response; returns JSON data containing key-value format
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "200OKProfile":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200ProfileResponse'
          schema:
            $ref: '#/components/schemas/ProfileResponse'
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "200OKTransactions":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200TransactionsResponse'
            financingType200ResponseExample:
              $ref: '#/components/examples/financingType200Response'
            noDataresponse:
              $ref: '#/components/examples/noData200TransactionsResponse'
            transactionType200ResponseExample:
              $ref: '#/components/examples/transactionType200Response'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "400BadRequest":
      content:
        application/json:
          examples:
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            parameterErrorActual:
              $ref: '#/components/examples/parameterErrorActual'
            parameterErrorEstimate:
              $ref: '#/components/examples/parameterErrorEstimate'
            parameterErrorTopn:
              $ref: '#/components/examples/parameterErrorTopn'
            parameterErrorView:
              $ref: '#/components/examples/parameterErrorView'
            unsupportedEntityParameterError:
              $ref: '#/components/examples/unsupportedEntityParameterError'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
    "401Unauthorized":
      description: Missing or invalid authentication. Ensure you are logged in and
        have successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or 403
        Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key
        from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "404NotFound":
      content:
        application/json:
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "429TooManyRequests":
      description: Too many requests - this API is rate-limited to 20 requests per
        second. For further assistance, file an issue under "Workflow & Throttling
        - 400 or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "500InternalServerError":
      description: Server error. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "503ServiceUnavailable":
      description: Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an issue
        under "Performance - 404 and 500 Responses" using `Report Issue` at the top
        of this page, including the X-DataDirect-Request-Key from the header to assist
        in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    ErrorObject:
      description: Error object providing detail into errors that may have occurred
        in the request
      properties:
        code:
          description: error code
          type: string
        detail:
          description: detail about the error
          type: string
        id:
          description: unique id indicating the error within logs
          type: string
        links:
          $ref: '#/components/schemas/ErrorObject_links'
        source:
          $ref: '#/components/schemas/ErrorObject_source'
        title:
          description: title of the error
          type: string
      type: object
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    KeyStatsAttributeLabel:
      description: Label for the key statistics attribute
      properties:
        value:
          type: string
      required:
      - value
      type: object
    KeyStatsAttributeMeta:
      properties:
        currencyCode:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_currencyCode'
        currencySymbol:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_currencyCode'
        metricType:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_currencyCode'
        periodicity:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_periodicity'
        ticker:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_currencyCode'
        units:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_currencyCode'
      type: object
    KeyStatsAttributeValueNumber:
      description: Value object of type string for Key Stats
      properties:
        value:
          type: string
      required:
      - value
      type: object
    KeyStatsAttributeValueString:
      description: Value object of type string for Key Stats
      properties:
        value:
          type: string
      required:
      - value
      type: object
    KeyStatsDataObject:
      oneOf:
      - $ref: '#/components/schemas/KeyStatsDataObjectEntity'
      - $ref: '#/components/schemas/KeyStatsDataObjectFund'
      type: object
    KeyStatsDataObjectEntity:
      description: Key Statistics for the provided entity
      properties:
        activeInvestors:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_activeInvestors'
        annualDividend:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_annualDividend'
        averageDailyVol:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_averageDailyVol'
        averageDailyVol30D:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_averageDailyVol30D'
        averageRating:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_averageRating'
        basicShares:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_basicShares'
        beta:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_beta'
        branches:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_branches'
        brokerContributors:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_brokerContributors'
        circulatingSupply:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_circulatingSupply'
        dilutedMarketCap:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_dilutedMarketCap'
        dilutedShares:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_dilutedShares'
        dividendYield:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_dividendYield'
        employees:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_employees'
        enterpriseValue:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_enterpriseValue'
        estimatedVcRaised:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_estimatedVcRaised'
        exDividendDate:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_exDividendDate'
        firstDate:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_firstDate'
        firstFunding:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_firstFunding'
        float:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_float'
        fundingRounds:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_fundingRounds'
        grossAssets:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_grossAssets'
        grossPremiums:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_grossPremiums'
        institutional:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_institutional'
        lastFunding:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_lastFunding'
        lastFundingRound:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_lastFundingRound'
        latestPostMoneyValuation:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_latestPostMoneyValuation'
        ltGrowthRate:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_ltGrowthRate'
        marketCap:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_marketCap'
        marketCapFreeFloat:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_circulatingSupply'
        meta:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_meta'
        netInterestIncome:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_netInterestIncome'
        nextEarnings:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_nextEarnings'
        open:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_open'
        premiums:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_premiums'
        previousClose:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_previousClose'
        primaryId:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_primaryId'
        primaryTicker:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_primaryTicker'
        range52Week:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_range52Week'
        revenue:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_revenue'
        securityId:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_securityId'
        shortInterest:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_shortInterest'
        targetPrice:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_targetPrice'
        top10InstitutionalHolders:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_top10InstitutionalHolders'
        totalDeposits:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_totalDeposits'
        totalInvestors:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_totalInvestors'
        volume:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_volume'
        volumePerMarketCap:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_circulatingSupply'
        wacc:
          $ref: '#/components/schemas/KeyStatsDataObjectEntity_wacc'
      type: object
    KeyStatsDataObjectFund:
      description: Key Statistics for the provided fund
      properties:
        aumFundMonth:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_aumFundMonth'
        aumShareDaily:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_aumShareDaily'
        availableForSale:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_availableForSale'
        averageSpread:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_averageSpread'
        currencyIso:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_currencyIso'
        dailyTradingVol:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_dailyTradingVol'
        distributionYield:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_distributionYield'
        esgCompliance:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_esgCompliance'
        esgObjective:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_esgObjective'
        expenseRatio:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_expenseRatio'
        firstNavRecord:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_firstNavRecord'
        fundFlowYTD:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_fundFlowYTD'
        inceptionDateFund:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_inceptionDateFund'
        inceptionDateShare:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_inceptionDateShare'
        meta:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_meta'
        outstandingShare:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_outstandingShare'
        sfdrClassification:
          $ref: '#/components/schemas/KeyStatsDataObjectFund_sfdrClassification'
      type: object
    KeyStatsResponse:
      description: Key statistics data for the requested id
      example:
        meta:
          noCoverage: true
          requestId: requestId
          fsymId: fsymId
          noData: true
          message: message
      properties:
        data:
          $ref: '#/components/schemas/KeyStatsDataObject'
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    Meta:
      additionalProperties:
        type: string
      example:
        noCoverage: true
        requestId: requestId
        fsymId: fsymId
        noData: true
        message: message
      properties:
        fsymId:
          nullable: true
          type: string
        message:
          nullable: true
          type: string
        noCoverage:
          nullable: true
          type: boolean
        noData:
          nullable: true
          type: boolean
        requestId:
          nullable: true
          type: string
      type: object
    PeerListDataObject:
      description: A list of all of the company's peers
      example:
        meta:
          sources:
            value:
            - value
            - value
        peers:
        - ticker: ticker
          name: name
          id: id
        - ticker: ticker
          name: name
          id: id
      properties:
        meta:
          $ref: '#/components/schemas/PeerListDataObject_meta'
        peers:
          items:
            $ref: '#/components/schemas/PeerListItem'
          type: array
      required:
      - peers
      type: object
    PeerListItem:
      description: An object containing basic information about the peer of the queried
        company
      example:
        ticker: ticker
        name: name
        id: id
      properties:
        id:
          description: The FactSet Entity ID of the peer
          type: string
        name:
          description: The name of the peer
          type: string
        ticker:
          description: The ticker of the peer
          type: string
      required:
      - id
      - name
      - ticker
      type: object
    PeerListResponse:
      example:
        data:
          meta:
            sources:
              value:
              - value
              - value
          peers:
          - ticker: ticker
            name: name
            id: id
          - ticker: ticker
            name: name
            id: id
        meta:
          noCoverage: true
          requestId: requestId
          fsymId: fsymId
          noData: true
          message: message
      properties:
        data:
          $ref: '#/components/schemas/PeerListDataObject'
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    ProfileDataItemActiveFirm:
      example:
        name:
          value: value
      properties:
        name:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_periodicity'
      required:
      - name
      type: object
    ProfileDataItemMeta:
      anyOf:
      - $ref: '#/components/schemas/ProfileDataItemMeta_anyOf'
      description: Metadata for individual datapoints on Profile response
      type: object
    ProfileDataItemPerson:
      description: represents a person on the Profile response
      example:
        name:
          value: value
        id:
          value: value
        title:
          value: value
      properties:
        id:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_periodicity'
        name:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_periodicity'
        title:
          $ref: '#/components/schemas/KeyStatsAttributeMeta_periodicity'
      required:
      - id
      - name
      - title
      type: object
    ProfileDataObject:
      example:
[...]
