openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Get relevant industry-specific data for high level analysis of public
    and private companies
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Overview Report Builder API
  version: 1.2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/overview-report-builder-api
servers:
- url: https://api.factset.com/report/overview/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Company
paths:
  /profile:
    get:
      operationId: getProfileProfile
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200ProfileResponse'
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Expected response; returns the JSON in a simple key-value format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Overview Profile
      tags:
      - Company
      x-accepts: application/json
  /peer-list:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Limits the number of peers returned.
        explode: true
        in: query
        name: topn
        required: false
        schema:
          example: 5
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200PeerListResponse'
              schema:
                $ref: '#/components/schemas/PeerListResponse'
          description: Expected response; returns JSON data containing key-value format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Peer List
      tags:
      - Company
      x-accepts: application/json
  /current-cap:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200CurrentCapitalizationResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Current Capitalization
      tags:
      - Company
      x-accepts: application/json
  /financial-highlights:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: The number of actual data periods to be returned. Must be greater
          than 0
        explode: true
        in: query
        name: actual
        required: false
        schema:
          default: 4
          example: 4
          type: integer
        style: form
      - description: The number of estimate data periods to be returned. Must be greater
          than 0
        explode: true
        in: query
        name: estimate
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200FinancialHighlightsResponse'
                noDataresponse:
                  $ref: '#/components/examples/noData200FinancialHighlightsResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; Returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Financial / Estimate Highlights
      tags:
      - Company
      x-accepts: application/json
  /transactions:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Filters response to return only this type of transaction. If
          not specified, returns all transactions. Values are not case sensitive.
        explode: true
        in: query
        name: transactionType
        required: false
        schema:
          enum:
          - ACQUISITION_MERGER
          - MAJORITY_STAKE
          - MINORITY_STAKE
          - SPINOFF
          - IPO
          - FOLLOW_ON
          - ST_DEBT
          - NOTES_BONDS
          - REVOLVING_CREDIT
          - TERM_LOANS
          - PEVC_INVESTMENTS
          - FUNDING
          example: ACQUISITION_MERGER
          type: string
        style: form
      - description: Filters response to return transactions of this financing type.
          If not specified, returns all transactions. Values are not case sensitive
        explode: true
        in: query
        name: financingType
        required: false
        schema:
          enum:
          - DEBT
          - EQUITY
          example: EQUITY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200TransactionsResponse'
                transactionType200ResponseExample:
                  $ref: '#/components/examples/transactionType200Response'
                financingType200ResponseExample:
                  $ref: '#/components/examples/financingType200Response'
                noDataresponse:
                  $ref: '#/components/examples/noData200TransactionsResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; Returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Transactions
      tags:
      - Company
      x-accepts: application/json
  /key-stats:
    description: Returns key financial metrics for private and public companies, as
      well as ETFs and mutual funds.  This endpoint provides a quick and easy way
      to obtain fundamental financial data. These key statistics can be used to evaluate
      a company's financial health, compare it to other companies in the same industry,
      and make informed investment decisions.
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200KeyStatsResponse'
                noDataResponse:
                  $ref: '#/components/examples/noData200KeyStatsResponse'
              schema:
                $ref: '#/components/schemas/KeyStatsResponse'
          description: Expected response; returns the JSON in a simple key-value format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorActual:
                  $ref: '#/components/examples/parameterErrorActual'
                parameterErrorEstimate:
                  $ref: '#/components/examples/parameterErrorEstimate'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
                parameterErrorView:
                  $ref: '#/components/examples/parameterErrorView'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Key Stats
      tags:
      - Company
      x-accepts: application/json
components:
  examples:
    default200CurrentCapitalizationResponse:
      summary: (sample response)
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem
                  type: string
                  isDimension: true
                - id: lineItemChild1
                  type: string
                  parentId: lineItem
                  isDimension: true
                - id: lineItemValue
                  type: real
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Price (As of 27 Jan '21)
                  - null
                  - 312.690002
                  rowMetadata:
                    category:
                      value: DETAIL
                    scale:
                      value: null
                    currencyCode:
                      value: USD
                    currencySymbol:
                      value: $
                - cells:
                  - Basic Shares
                  - null
                  - 37.978624
                  rowMetadata:
                    category:
                      value: DETAIL
                    scale:
                      value: 6
                - cells:
                  - Basic Shares
                  - Common Stock
                  - 37.978624
                  rowMetadata:
                    category:
                      value: DETAIL
                    scale:
                      value: null
                - cells:
                  - Market Cap
                  - null
                  - 11875.535939
                  rowMetadata:
                    category:
                      value: MAIN
                    scale:
                      value: 6
                    currencyCode:
                      value: USD
                    currencySymbol:
                      value: $
                - cells:
                  - Enterprise Value
                  - null
                  - 12241.212855
                  rowMetadata:
                    category:
                      value: MAIN
                    scale:
                      value: null
                    currencyCode:
                      value: USD
                    currencySymbol:
                      value: $
                tableMetadata:
                  sources:
                    value:
                    - FactSet ECS
                    - FactSet DCS
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
          schema: table_parent_child_columns
    default200FinancialHighlightsResponse:
      summary: sample response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
                - id: lineItem2
                  type: string
                - id: lineItem3
                  type: string
                - id: lineItem4
                  type: string
                - id: lineItem5
                  type: string
                - id: lineItem6
                  type: string
                - id: lineItem7
                  type: string
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - null
                  - Aug '16
                  - Aug '17
                  - Aug '18
                  - Aug '19
                  - Aug '20
                  - Aug '21
                  rowType: Header
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                    "4":
                      source: PRIMARY
                      columnIndex: 4
                    "5":
                      source: PRIMARY
                      columnIndex: 5
                    "6":
                      source: PRIMARY
                      columnIndex: 6
                - cells:
                  - Sales
                  - "1127.092000"
                  - "1221.179000"
                  - "1350.145000"
                  - "1435.351000"
                  - "1494.111000"
                  - "1591.445000"
                  rowMetadata:
                    metric:
                      value: FIN
                    scale:
                      value: 6
                - cells:
                  - EBITDA
                  - "398.079000"
                  - "421.412000"
                  - "437.783000"
                  - "500.292000"
                  - "558.515000"
                  - "581.364000"
                  rowMetadata:
                    metric:
                      value: FIN
                    scale:
                      value: 6
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Estimates
                columnMetadata:
                  "1":
                    items:
                      category:
                        value: ACTUAL
                  "2":
                    items:
                      category:
                        value: ACTUAL
                  "3":
                    items:
                      category:
                        value: ACTUAL
                  "4":
                    items:
                      category:
                        value: ACTUAL
                  "5":
                    items:
                      category:
                        value: ACTUAL
                  "6":
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200FinancialHighlightsResponse:
      summary: no coverage response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
              headersDefinition:
                columns: []
              data:
                rows: []
                tableMetadata:
                  currencyCode:
                    value: GBP
                  currencySymbol:
                    value: £
        meta:
          requestId: 0KJ0NJ-E
          fsymId: null
          noCoverage: true
          message: This identifier is not covered by this API.
    default200PeerListResponse:
      summary: (sample response)
      value:
        data:
          peers:
          - id: 000PLZ-E
            name: S&P Global, Inc.
            ticker: SPGI-US
          - id: 05TYNB-E
            name: Morningstar, Inc.
            ticker: MORN-US
          - id: 06JP5R-E
            name: MSCI Inc. Class A
            ticker: MSCI-US
          - id: 002HJD-E
            name: BlackRock, Inc.
            ticker: BLK-US
          - id: 0GCKWP-E
            name: IHS Markit Ltd.
            ticker: INFO-US
          - id: 000HSZ-E
            name: Moody's Corporation
            ticker: MCO-US
          - id: 06S1MZ-E
            name: Nasdaq, Inc.
            ticker: NDAQ-US
          - id: 0G4Z2V-E
            name: Donnelley Financial Solutions, Inc.
            ticker: DFIN-US
          meta:
            sources:
              value:
              - FactSet Fundamentals
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    default200ProfileResponse:
      summary: (sample response)
      value:
        data:
          business:
            description:
              value: FactSet Research Systems Inc. (the "Company" or "FactSet") is
                a global provider of integrated financial information, analytical
                applications and services for the investment and corporate communities.
                Since inception, global financial professionals have utilized the
                Company's content and multi-asset class solutions across each stage
                of the investment process. FactSet's goal is to provide a seamless
                user experience spanning idea generation, research, portfolio construction,
                trade execution, performance measurement, risk management, reporting,
                and portfolio analysis, in which the Company serves the front, middle,
                and back offices to drive productivity and improved performance. FactSet's
                flexible, open data and technology solutions can be implemented both
                across the investment portfolio lifecycle or as standalone components
                serving different workflows in the organization. FactSet is focused
                on growing the business throughout each of its three segments, the
                Americas, EMEA (formerly known as Europe), and Asia Pacific. The Company
                primarily delivers insight and information through the workflow solutions
                of Research, Analytics and Trading, Content and Technology Solutions
                ("CTS") and Wealth. FactSet currently serves financial professionals,
                which include portfolio managers, investment research professionals,
                investment bankers, risk and performance analysts, wealth advisors
                and corporate clients. FactSet provides both insights on global market
                trends and intelligence on companies and industries, as well as capabilities
                to monitor portfolio risk and performance and to execute trades. The
                Company combines dedicated client service with open and flexible technology
                offerings, such as a configurable desktop and mobile platform, comprehensive
                data feeds, an open marketplace and digital portals and application
                programming interfaces ("APIs"). The Company’s revenue is primarily
                derived from subscriptions to products and services such as workstations,
                analytics, enterprise data, and research management. FactSet Research
                Systems was founded by Howard E. Wille and Charles J. Snyder in September
                1978 and is headquartered in Norwalk, CT.
            industry:
              value: Professional Content Providers
            name:
              value: FactSet Research Systems Inc.
            sector:
              value: Software and Consulting
            crunchbaseCategories:
              value:
              - Analytics
              - Finance
              - Financial Services
              - Software
              note: Displaying the Crunchbase logo is required for displaying any
                Crunchbase-sourced data
          size:
            revenue:
              label: Sales
              value: 1494.111
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            employeeNumber:
              value: null
            ev:
              value: 12783.238274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            mcap:
              value: 12814.061274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
          contact:
            address:
              value: 7th Floor 45 Glover Avenue
            city:
              value: Norwalk
            phone:
              value: +1.203.810.1000
            zip:
              value: "06850"
            country:
              value: UNITED STATES
            email:
              value: rima.hyder@factset.com
            website:
              value: http://www.factset.com
            stateProvince:
              value: Connecticut
          stage:
            tradeDateRange:
              start:
                value: "19960628"
              end:
                value: "20201001"
            foundedYear:
              value: "1978"
            exchangePrimary:
              value: NYSE
            fundingDateRange:
              first:
                value: null
              last:
                value: null
            pevcBacking:
              value: null
          meta:
            sources:
              value:
              - FactSet Fundamentals
              - FactSet RBICS
              - Crunchbase
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
    default200TransactionsResponse:
      summary: sample response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: c_transaction_date
                  type: string
                  isDimension: true
                - id: c_transaction_type
                  type: string
                  isDimension: true
                - id: c_transaction_description
                  type: real
                  isDimension: true
                - id: c_transaction_amount
                  type: string
                  isDimension: true
                - id: c_transaction_status
                  type: string
                  isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  rowType: Header
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                    "4":
                      source: PRIMARY
                      columnIndex: 4
                - cells:
                  - "20211013"
                  - Acquisition / Merger
                  - 'FactSet Research Systems, Inc. acquires Cobalt Software, Inc. '
                  - 51
                  - Complete
                  rowMetadata:
                    transactionType:
                      value: DETAIL
                    transactionId:
                      value: 4071979MM
                - cells:
                  - "20210714"
                  - Acquisition / Merger
                  - 'FactSet Research Systems, Inc. acquires BTU Analytics LLC '
                  - null
                  - Complete
                  rowMetadata:
                    transactionType:
                      value: DETAIL
                    transactionId:
                      value: 4054178MM
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
            details:
              definition:
                columns:
                - id: c_id
                  type: string
                  isDimension: true
                - id: c_gross_proceeds
                  type: real
                  isDimension: true
                - id: c_overallotment
                  type: real
                  isDimension: true
                - id: c_total
                  type: real
                  isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  rowType: Header
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    default200KeyStatsResponse:
      summary: sample response
      value:
        data:
          range52Week:
            value:
              value: $317.55 - 495.39
            label:
              value: 52 Week Range
          averageDailyVol:
            value:
              value: 300330.25
            label:
              value: Avg Daily Vol (3 Mo)
          basicShares:
            value:
              value: 37896.579
            label:
              value: Basic Shares (000)
          marketCap:
            value:
              value: 14179.383999
            label:
              value: Market Cap (M)
          dividendYield:
            value:
              value: 0.983615616279391
            label:
              value: Dividend Yield
          firstDate:
            value:
              value: 1996-06-28
            label:
              value: IPO Date
          dilutedShares:
            value:
              value: 39266.127
            label:
              value: FD Shares Out (000)
          dilutedMarketCap:
            value:
              value: 14691.814201
            label:
              value: FD Mkt Cap (M)
          enterpriseValue:
            value:
              value: 14458.443201
            label:
              value: EV (M)
          wacc:
            value:
              value: 6.76303
            label:
              value: WACC
          float:
            value:
              value: 99.9248
            label:
              value: Float
          institutional:
            value:
              value: 91.3343
            label:
              value: Institutional
          top10InstitutionalHolders:
            value:
              value: 48.76016379
            label:
              value: Top 10 Inst Hldrs
          brokerContributors:
            value:
              value: 18
            label:
              value: Broker Contributors
          averageRating:
            value:
              value: Hold (2.11)
            label:
              value: Avg Rating
          targetPrice:
            value:
              value: $462.41
            label:
              value: Target Price
          ltGrowthRate:
            value:
              value: 10
            label:
              value: LT Growth Rate
          meta:
            sources:
              value:
              - FactSet Fundamentals
              - FactSet Estimates
              - FactSet Capital Structure
              - FactSet Ownership
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200KeyStatsResponse:
      summary: no data response
      value:
        data: null
        meta:
          requestId: 0N57YY-E
          fsymId: null
          noData: true
          message: There is no data for this request.
    transactionType200Response:
      summary: transactionType=NOTES_BONDS response
      value:
        data:
          version: "2.0"
          tables:
            main:
              headersDefinition:
                columns: []
              definition:
                columns:
                - id: c_transaction_date
                  type: string
                - id: c_transaction_type
                  type: string
                - id: c_transaction_description
                  type: string
                - id: c_transaction_amount
                  type: string
                - id: c_transaction_status
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                    "4":
                      source: PRIMARY
                      columnIndex: 4
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 3.450% 01-MAR-2032
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: Notes/Bonds
                    transactionId:
                      value: 303075AB
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 2.900% 01-MAR-2027
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: Notes/Bonds
                    transactionId:
                      value: 303075AA
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
            details:
              headersDefinition:
                columns: []
              definition:
                columns:
                - id: c_id
                  type: string
                - id: c_gross_proceeds
                  type: real
                - id: c_overallotment
                  type: real
                - id: c_total
                  type: real
              data:
                rows:
                - rowType: Header
                  cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                  c_overallotment:
                    items:
                      scale:
                        value: 6
                  c_total:
                    items:
                      scale:
                        value: 6
    financingType200Response:
      summary: financingType=DEBT response
      value:
        data:
          version: "2.0"
          tables:
            main:
              headersDefinition:
                columns: []
              definition:
                columns:
                - id: c_transaction_date
                  type: string
                - id: c_transaction_type
                  type: string
                - id: c_transaction_description
                  type: string
                - id: c_transaction_amount
                  type: string
                - id: c_transaction_status
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                    "4":
                      source: PRIMARY
                      columnIndex: 4
                - cells:
                  - "20220523"
                  - ST Debt
                  - FactSet Research Systems Inc. 1.908% 22-NOV-2022
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: ST Debt
                    transactionId:
                      value: 06945PLN
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 3.450% 01-MAR-2032
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: Notes/Bonds
                    transactionId:
                      value: 303075AB
                - cells:
                  - "20220301"
                  - Notes/Bonds
                  - FactSet Research Systems Inc. 2.900% 01-MAR-2027
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: Notes/Bonds
                    transactionId:
                      value: 303075AA
                - cells:
                  - "20220301"
                  - Term Loans
                  - Senior Unsecured Term Loan
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: Term Loans
                    transactionId:
                      value: FDS1R53Q
                - cells:
                  - "20220301"
                  - Revolving Credit
                  - FactSet Research Systems Inc. Revolver/Standard 01-MAR-2027
                  - null
                  - New Issue
                  rowMetadata:
                    transactionType:
                      value: Revolving Credit
                    transactionId:
                      value: FDS1R56X
                - cells:
                  - "20190329"
                  - Revolving Credit
                  - Senior Unsec. Revolving Credit Facility - PNC Bank National Association
                  - 575
                  - Terminated
                  rowMetadata:
                    transactionType:
                      value: Revolving Credit
                    transactionId:
                      value: FDS0YFY41
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
            details:
              headersDefinition:
                columns: []
              definition:
                columns:
                - id: c_id
                  type: string
                - id: c_gross_proceeds
                  type: real
                - id: c_overallotment
                  type: real
                - id: c_total
                  type: real
              data:
                rows:
                - rowType: Header
                  cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Mergers
                    - FactSet DCS
                    - FactSet Fixed Income
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                  c_overallotment:
                    items:
                      scale:
                        value: 6
                  c_total:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200TransactionsResponse:
      summary: no data response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: c_transaction_date
                  type: string
                  isDimension: true
                - id: c_transaction_type
                  type: string
                  isDimension: true
                - id: c_transaction_description
                  type: real
                  isDimension: true
                - id: c_transaction_amount
                  type: string
                  isDimension: true
                - id: c_transaction_status
                  type: string
                  isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  rowType: Header
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                    "4":
                      source: PRIMARY
                      columnIndex: 4
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
            details:
              definition:
                columns:
                - id: c_id
                  type: string
                  isDimension: true
                - id: c_gross_proceeds
                  type: real
                  isDimension: true
                - id: c_overallotment
                  type: real
                  isDimension: true
                - id: c_total
                  type: real
                  isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Transaction ID
                  - Gross Proceeds Excl. Overallotment
                  - Overallotment Amount Exercised
                  - Gross Proceeds Inc. Overallotment
                  rowType: Header
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: PRIMARY
                      columnIndex: 2
                    "3":
                      source: PRIMARY
                      columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
                columnMetaData:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: 07ZXHF-E
          fsymId: null
          noData: true
          message: There is no data for this request.
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    unsupportedEntityParameterError:
      summary: unsupported entity type
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: Unsupported entity type
    parameterErrorTopn:
      summary: topn parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter: ''topn'''
    parameterErrorView:
      summary: view parameter error
      value:
        errors:
        - id: 3838f112-ed5a-4d9d-b0c7-3594d8eab0ed
          code: parameterError
          title: 'Invalid parameter: ''view''. Accepted values include: ''FINANCIAL'',
            ''VALUATION'', ''CAPITALIZATION'', ''MARGINS'' or ''PERFORMANCE'''
    parameterErrorActual:
      summary: actual periods parameter error
      value:
        errors:
        - id: 35a62bd5-c4aa-4e6b-9357-0f1b5688e2db
          code: parameterError
          title: 'Invalid parameter: ''actual''. Accepted values include nonzero integers'
    parameterErrorEstimate:
      summary: estimate periods parameter error
      value:
        errors:
        - id: 372a28d1-53ac-49cd-9be5-beb714cd62a8
          code: parameterError
          title: 'Invalid parameter: ''estimate''. Accepted values include nonzero
            integers'
  headers:
    xDataDirectRequestKey:
      description: FactSet request ID
      explode: false
      schema:
        type: string
      style: simple
    apiSupportedVersions:
      description: Supported API versions (semantic versioning)
      explode: false
      schema:
        type: string
      style: simple
    apiVersion:
      description: API version (semantic versioning)
      explode: false
      schema:
        type: string
      style: simple
  responses:
    "200OKProfile":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200ProfileResponse'
          schema:
            $ref: '#/components/schemas/ProfileResponse'
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKPeerList":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200PeerListResponse'
          schema:
            $ref: '#/components/schemas/PeerListResponse'
      description: Expected response; returns JSON data containing key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKCurrentCapitalization":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200CurrentCapitalizationResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKFinancialHighlights":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200FinancialHighlightsResponse'
            noDataresponse:
              $ref: '#/components/examples/noData200FinancialHighlightsResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKTransactions":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200TransactionsResponse'
            transactionType200ResponseExample:
              $ref: '#/components/examples/transactionType200Response'
            financingType200ResponseExample:
              $ref: '#/components/examples/financingType200Response'
            noDataresponse:
              $ref: '#/components/examples/noData200TransactionsResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKKeyStats":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200KeyStatsResponse'
            noDataResponse:
              $ref: '#/components/examples/noData200KeyStatsResponse'
          schema:
            $ref: '#/components/schemas/KeyStatsResponse'
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "400BadRequest":
      content:
        application/json:
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            unsupportedEntityParameterError:
              $ref: '#/components/examples/unsupportedEntityParameterError'
            parameterErrorActual:
              $ref: '#/components/examples/parameterErrorActual'
            parameterErrorEstimate:
              $ref: '#/components/examples/parameterErrorEstimate'
            parameterErrorTopn:
              $ref: '#/components/examples/parameterErrorTopn'
            parameterErrorView:
              $ref: '#/components/examples/parameterErrorView'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "401Unauthorized":
      description: Missing or invalid authentication. Ensure you are logged in and
        have successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or 403
        Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key
        from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "404NotFound":
      content:
        application/json:
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "429TooManyRequests":
      description: Too many requests - this API is rate-limited to 20 requests per
        second. For further assistance, file an issue under "Workflow & Throttling
        - 400 or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "500InternalServerError":
      description: Server error. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "503ServiceUnavailable":
      description: Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an issue
        under "Performance - 404 and 500 Responses" using `Report Issue` at the top
        of this page, including the X-DataDirect-Request-Key from the header to assist
        in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    KeyStatsResponse:
      description: Key statistics data for the requested id
      example:
        meta:
          key: meta
      properties:
        data:
          $ref: '#/components/schemas/KeyStatsObject'
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    KeyStatsEntityObject:
      description: Key Statistics for the provided entity
      properties:
        range52Week:
          $ref: '#/components/schemas/KeyStatsEntityObject_range52Week'
        averageDailyVol:
          $ref: '#/components/schemas/KeyStatsEntityObject_averageDailyVol'
        basicShares:
          $ref: '#/components/schemas/KeyStatsEntityObject_basicShares'
        marketCap:
          $ref: '#/components/schemas/KeyStatsEntityObject_marketCap'
        dividendYield:
          $ref: '#/components/schemas/KeyStatsEntityObject_dividendYield'
        firstDate:
          $ref: '#/components/schemas/KeyStatsEntityObject_firstDate'
        dilutedShares:
          $ref: '#/components/schemas/KeyStatsEntityObject_dilutedShares'
        dilutedMarketCap:
          $ref: '#/components/schemas/KeyStatsEntityObject_dilutedMarketCap'
        enterpriseValue:
          $ref: '#/components/schemas/KeyStatsEntityObject_enterpriseValue'
        wacc:
          $ref: '#/components/schemas/KeyStatsEntityObject_wacc'
        float:
          $ref: '#/components/schemas/KeyStatsEntityObject_float'
        institutional:
          $ref: '#/components/schemas/KeyStatsEntityObject_institutional'
        top10InstitutionalHolders:
          $ref: '#/components/schemas/KeyStatsEntityObject_top10InstitutionalHolders'
        brokerContributors:
          $ref: '#/components/schemas/KeyStatsEntityObject_brokerContributors'
        averageRating:
          $ref: '#/components/schemas/KeyStatsEntityObject_averageRating'
        targetPrice:
          $ref: '#/components/schemas/KeyStatsEntityObject_targetPrice'
        ltGrowthRate:
          $ref: '#/components/schemas/KeyStatsEntityObject_ltGrowthRate'
        revenue:
          $ref: '#/components/schemas/KeyStatsEntityObject_revenue'
        employees:
          $ref: '#/components/schemas/KeyStatsEntityObject_employees'
        fundingRounds:
          $ref: '#/components/schemas/KeyStatsEntityObject_fundingRounds'
        estimatedVcRaised:
          $ref: '#/components/schemas/KeyStatsEntityObject_estimatedVcRaised'
        lastFunding:
          $ref: '#/components/schemas/KeyStatsEntityObject_lastFunding'
        firstFunding:
          $ref: '#/components/schemas/KeyStatsEntityObject_firstFunding'
        latestPostMoneyValuation:
          $ref: '#/components/schemas/KeyStatsEntityObject_latestPostMoneyValuation'
        activeInvestors:
          $ref: '#/components/schemas/KeyStatsEntityObject_activeInvestors'
        totalInvestors:
          $ref: '#/components/schemas/KeyStatsEntityObject_totalInvestors'
        premiums:
          $ref: '#/components/schemas/KeyStatsEntityObject_premiums'
        grossPremiums:
          $ref: '#/components/schemas/KeyStatsEntityObject_grossPremiums'
        grossAssets:
          $ref: '#/components/schemas/KeyStatsEntityObject_grossAssets'
        totalDeposits:
          $ref: '#/components/schemas/KeyStatsEntityObject_totalDeposits'
        branches:
          $ref: '#/components/schemas/KeyStatsEntityObject_branches'
        netInterestIncome:
          $ref: '#/components/schemas/KeyStatsEntityObject_netInterestIncome'
        meta:
          $ref: '#/components/schemas/KeyStatsEntityObject_meta'
      type: object
    KeyStatsFundObject:
      description: Key Statistics for the provided fund
      properties:
        expenseRatio:
          $ref: '#/components/schemas/KeyStatsFundObject_expenseRatio'
        distributionYield:
          $ref: '#/components/schemas/KeyStatsFundObject_distributionYield'
        aumShareDaily:
          $ref: '#/components/schemas/KeyStatsFundObject_aumShareDaily'
        aumFundMonth:
          $ref: '#/components/schemas/KeyStatsFundObject_aumFundMonth'
        outstandingShare:
          $ref: '#/components/schemas/KeyStatsFundObject_outstandingShare'
        fundFlowYTD:
          $ref: '#/components/schemas/KeyStatsFundObject_fundFlowYTD'
        firstNavRecord:
          $ref: '#/components/schemas/KeyStatsFundObject_firstNavRecord'
        dailyTradingVol:
          $ref: '#/components/schemas/KeyStatsFundObject_dailyTradingVol'
        averageSpread:
          $ref: '#/components/schemas/KeyStatsFundObject_averageSpread'
        inceptionDateShare:
          $ref: '#/components/schemas/KeyStatsFundObject_inceptionDateShare'
        inceptionDateFund:
          $ref: '#/components/schemas/KeyStatsFundObject_inceptionDateFund'
        availableForSale:
          $ref: '#/components/schemas/KeyStatsFundObject_availableForSale'
        currencyIso:
          $ref: '#/components/schemas/KeyStatsFundObject_currencyIso'
        esgCompliance:
          $ref: '#/components/schemas/KeyStatsFundObject_esgCompliance'
        sfdrClassification:
          $ref: '#/components/schemas/KeyStatsFundObject_sfdrClassification'
        meta:
          $ref: '#/components/schemas/KeyStatsFundObject_meta'
      type: object
    KeyStatsObject:
      oneOf:
      - $ref: '#/components/schemas/KeyStatsEntityObject'
      - $ref: '#/components/schemas/KeyStatsFundObject'
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    ErrorObject:
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          $ref: '#/components/schemas/ErrorObject_links'
        detail:
          type: string
        source:
          $ref: '#/components/schemas/ErrorObject_source'
      type: object
    Meta:
      additionalProperties:
        type: string
      type: object
    ProfileResponse:
      example:
        data:
          business:
            crunchbaseCategories:
              note: note
              value:
              - value
              - value
            name:
              value: value
            crunchbaseUrl:
              note: note
              value: value
            description:
              note: note
              value: value
            industry:
              value: value
            dbaName:
              value: value
            sector:
              value: value
          size:
            ev:
              value: 6.027456183070403
            revenue:
              label: label
              value: 1.4658129805029452
            mcap:
              value: 6.027456183070403
            employeeNumber:
              value: 0.8008281904610115
          stage:
            crunchbaseRank:
              note: note
              value: 7.061401241503109
            vcLastRound:
              value: value
            peActiveFirmNumber:
              value: 2.3021358869347655
            peActiveAcqAmt:
              value: 6.027456183070403
            vcLastRoundDate:
              value: value
            foundedYear:
              value: value
            pevcLatestPostMoneyValuation:
              asOfDate: 5.637376656633329
              value: 5.962133916683182
            peActiveInvestmentNumber:
              value: 2.3021358869347655
            peActiveAcqDate:
              value: value
            exchangePrimary:
              value: value
            pevcBacking:
              value: value
            peLastInvestmentDate:
              value: value
            vcTotalEstRaised:
              value: 6.027456183070403
            peActiveFirms:
            - name:
                value: value
            - name:
                value: value
            vcLastRoundInvestorNumber:
              value: 2.3021358869347655
            vcLastRoundAmt:
              value: 6.027456183070403
            tradeDateRange:
              start:
                value: value
              end:
                value: value
          meta:
            sources:
              value:
              - value
              - value
          contact:
            zip:
              value: value
            country:
              value: value
            website:
              value: value
            address:
              value: value
            city:
              value: value
            phone:
              value: value
            stateProvince:
              value: value
            people:
            - name:
                value: value
              id:
                value: value
              title:
                value: value
            - name:
                value: value
              id:
                value: value
              title:
                value: value
            email:
              value: value
        meta:
          key: meta
      properties:
        data:
          $ref: '#/components/schemas/ProfileData'
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    ProfileData:
      example:
        business:
          crunchbaseCategories:
            note: note
            value:
            - value
            - value
          name:
            value: value
          crunchbaseUrl:
            note: note
            value: value
          description:
            note: note
            value: value
          industry:
            value: value
          dbaName:
            value: value
          sector:
            value: value
        size:
          ev:
            value: 6.027456183070403
          revenue:
            label: label
            value: 1.4658129805029452
          mcap:
            value: 6.027456183070403
          employeeNumber:
            value: 0.8008281904610115
        stage:
          crunchbaseRank:
            note: note
            value: 7.061401241503109
          vcLastRound:
            value: value
          peActiveFirmNumber:
            value: 2.3021358869347655
          peActiveAcqAmt:
            value: 6.027456183070403
          vcLastRoundDate:
            value: value
          foundedYear:
            value: value
          pevcLatestPostMoneyValuation:
            asOfDate: 5.637376656633329
            value: 5.962133916683182
          peActiveInvestmentNumber:
            value: 2.3021358869347655
          peActiveAcqDate:
            value: value
          exchangePrimary:
            value: value
          pevcBacking:
            value: value
          peLastInvestmentDate:
            value: value
          vcTotalEstRaised:
            value: 6.027456183070403
          peActiveFirms:
          - name:
              value: value
          - name:
              value: value
          vcLastRoundInvestorNumber:
            value: 2.3021358869347655
          vcLastRoundAmt:
            value: 6.027456183070403
          tradeDateRange:
            start:
              value: value
            end:
              value: value
        meta:
          sources:
            value:
            - value
            - value
        contact:
          zip:
            value: value
          country:
            value: value
          website:
            value: value
          address:
            value: value
          city:
            value: value
          phone:
            value: value
          stateProvince:
            value: value
          people:
          - name:
              value: value
            id:
              value: value
            title:
              value: value
          - name:
              value: value
            id:
              value: value
            title:
              value: value
          email:
            value: value
      properties:
        business:
          $ref: '#/components/schemas/ProfileData_business'
        contact:
          $ref: '#/components/schemas/ProfileData_contact'
        size:
          $ref: '#/components/schemas/ProfileData_size'
        stage:
          $ref: '#/components/schemas/ProfileData_stage'
        meta:
          $ref: '#/components/schemas/KeyStatsEntityObject_meta'
      required:
      - business
      - contact
      - size
      - stage
      type: object
    DataPointMeta:
      anyOf:
      - $ref: '#/components/schemas/DataPointMeta_anyOf'
      type: object
    StachTableResponse:
      example:
        data: ""
        meta:
          key: meta
      properties:
        data:
          description: Returns a STACH 2.0 row organized package
          title: STACH
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    PeerListResponse:
      example:
        data:
          meta:
            sources:
              value:
              - value
              - value
          peers:
          - ticker: ticker
            name: name
            id: id
          - ticker: ticker
            name: name
            id: id
        meta:
          key: meta
      properties:
        data:
          $ref: '#/components/schemas/PeerListObject'
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    PeerListObject:
      description: A list of key-value pairs representing the company's peers
      example:
        meta:
          sources:
            value:
            - value
            - value
        peers:
        - ticker: ticker
          name: name
          id: id
        - ticker: ticker
          name: name
          id: id
      properties:
        peers:
          items:
            $ref: '#/components/schemas/PeerListData'
          type: array
        meta:
          $ref: '#/components/schemas/KeyStatsEntityObject_meta'
      required:
      - peers
      type: object
    PeerListData:
      example:
        ticker: ticker
        name: name
        id: id
      properties:
        id:
          description: The FactSet Entity ID of the peer
          type: string
        name:
          description: The name of the peer
          type: string
        ticker:
          description: The ticker of the peer
          type: string
      required:
      - id
      - name
      - ticker
      type: object
    MetadataEntry:
      description: |
        Restricted metadata entries. Restricts the possible key in the following STACH schema:
        - RowOrganizedPackage.CellDetail.CellMetadataEntry
        - RowOrganizedPackage.HeaderCellDetail.CellMetadataEntry
        - RowOrganizedPackage.MapOfMetadata.ItemsEntry
        - RowOrganizedPackage.Row.RowMetadataEntry
        - RowOrganizedPackage.TableData.TableMetadataEntry
        And sets restrictions on the possible values for a MetadataItem.
      oneOf:
      - $ref: '#/components/schemas/category'
      - $ref: '#/components/schemas/currencyCode'
      - $ref: '#/components/schemas/currencySymbol'
      - $ref: '#/components/schemas/description'
      - $ref: '#/components/schemas/frequency'
      - $ref: '#/components/schemas/metric'
      - $ref: '#/components/schemas/scale'
      - $ref: '#/components/schemas/sources'
      - $ref: '#/components/schemas/transactionId'
      - $ref: '#/components/schemas/transactionType'
      - $ref: '#/components/schemas/valueType'
      type: object
    category:
      properties:
        category:
          $ref: '#/components/schemas/category_category'
      type: object
    currencyCode:
      properties:
        currencyCode:
          $ref: '#/components/schemas/currencyCode_currencyCode'
      type: object
    currencySymbol:
      properties:
        currencySymbol:
[...]
