openapi: 3.0.3
info:
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Overview Report Builder API
  version: 1.0.0
servers:
- url: https://api.factset.com/report/overview/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Company
paths:
  /profile:
    get:
      operationId: getProfileProfile
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200ProfileResponse'
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Expected response; returns the JSON in a simple key-value format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Overview Profile
      tags:
      - Company
      x-accepts: application/json
  /peer-list:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Limits the number of peers returned.
        explode: true
        in: query
        name: topn
        required: false
        schema:
          example: 5
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200PeerListResponse'
              schema:
                $ref: '#/components/schemas/PeerListResponse'
          description: Expected response; returns JSON data containing key-value format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Peer List
      tags:
      - Company
      x-accepts: application/json
  /current-cap:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200CurrentCapitalizationResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Current Capitalization
      tags:
      - Company
      x-accepts: application/json
  /financial-highlights:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200FinancialHighlightsResponse'
                noDataresponse:
                  $ref: '#/components/examples/noData200FinancialHighlightsResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; Returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Financial / Estimate Highlights
      tags:
      - Company
      x-accepts: application/json
  /transactions:
    get:
      parameters:
      - description: Company ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/default200TransactionsResponse'
                noDataresponse:
                  $ref: '#/components/examples/noData200TransactionsResponse'
              schema:
                $ref: '#/components/schemas/StachTableResponse'
          description: Expected response; Returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                unsupportedEntityParameterError:
                  $ref: '#/components/examples/unsupportedEntityParameterError'
                parameterErrorTopn:
                  $ref: '#/components/examples/parameterErrorTopn'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/xDataDirectRequestKey'
            Api-Supported-Versions:
              $ref: '#/components/headers/apiSupportedVersions'
            Api-Version:
              $ref: '#/components/headers/apiVersion'
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Transactions
      tags:
      - Company
      x-accepts: application/json
components:
  examples:
    default200CurrentCapitalizationResponse:
      summary: (sample response)
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem
                  type: string
                  isDimension: true
                - id: lineItemChild1
                  type: string
                  parentId: lineItem
                  isDimension: true
                - id: lineItemValue
                  type: real
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Price (As of 27 Jan '21)
                  - null
                  - 312.690002
                  rowMetadata:
                    category:
                      value: DETAIL
                - cells:
                  - Basic Shares
                  - null
                  - 37.978624
                  rowMetadata:
                    category:
                      value: DETAIL
                - cells:
                  - Basic Shares
                  - Common Stock
                  - 37.978624
                  rowMetadata:
                    category:
                      value: DETAIL
                - cells:
                  - Market Cap
                  - null
                  - 11875.535939
                  rowMetadata:
                    category:
                      value: MAIN
                - cells:
                  - Enterprise Value
                  - null
                  - 12241.212855
                  rowMetadata:
                    category:
                      value: MAIN
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                columnMetadata:
                  lineItemValue:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
          schema: table_parent_child_columns
    default200FinancialHighlightsResponse:
      summary: sample response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
                - id: lineItem2
                  type: string
                - id: lineItem3
                  type: string
                - id: lineItem4
                  type: string
                - id: lineItem5
                  type: string
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - null
                  - Aug '19
                  - Aug '20
                  - Aug '21
                  - Aug '22
                - cells:
                  - Sales
                  - "1435.351000"
                  - "1494.111000"
                  - "1591.445000"
                  - "1725.152344"
                  rowMetadata:
                    metric:
                      value: FIN
                    units:
                      value: M
                - cells:
                  - EBITDA
                  - "500.292000"
                  - "558.515000"
                  - "581.364000"
                  - "622.972717"
                  rowMetadata:
                    metric:
                      value: FIN
                    category:
                      value: M
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                columnMetadata:
                  "1":
                    items:
                      category:
                        value: ACTUAL
                  "2":
                    items:
                      category:
                        value: ACTUAL
                  "3":
                    items:
                      category:
                        value: ACTUAL
                  "4":
                    items:
                      category:
                        value: ESTIMATE
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200FinancialHighlightsResponse:
      summary: no coverage response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
              headersDefinition:
                columns: []
              data:
                rows: []
                tableMetadata:
                  currencyCode:
                    value: GBP
                  currencySymbol:
                    value: £
        meta:
          requestId: 0KJ0NJ-E
          fsymId: null
          noCoverage: true
          message: This identifier is not covered by this API.
    default200PeerListResponse:
      summary: (sample response)
      value:
        data:
          peers:
          - id: 000PLZ-E
            name: S&P Global, Inc.
          - id: 05TYNB-E
            name: Morningstar, Inc.
          - id: 06JP5R-E
            name: MSCI Inc. Class A
          - id: 002HJD-E
            name: BlackRock, Inc.
          - id: 0GCKWP-E
            name: IHS Markit Ltd.
          - id: 000HSZ-E
            name: Moody's Corporation
          - id: 06S1MZ-E
            name: Nasdaq, Inc.
          - id: 0G4Z2V-E
            name: Donnelley Financial Solutions, Inc.
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    default200ProfileResponse:
      summary: (sample response)
      value:
        data:
          business:
            description:
              value: FactSet Research Systems Inc. (the "Company" or "FactSet") is
                a global provider of integrated financial information, analytical
                applications and services for the investment and corporate communities.
                Since inception, global financial professionals have utilized the
                Company's content and multi-asset class solutions across each stage
                of the investment process. FactSet's goal is to provide a seamless
                user experience spanning idea generation, research, portfolio construction,
                trade execution, performance measurement, risk management, reporting,
                and portfolio analysis, in which the Company serves the front, middle,
                and back offices to drive productivity and improved performance. FactSet's
                flexible, open data and technology solutions can be implemented both
                across the investment portfolio lifecycle or as standalone components
                serving different workflows in the organization. FactSet is focused
                on growing the business throughout each of its three segments, the
                Americas, EMEA (formerly known as Europe), and Asia Pacific. The Company
                primarily delivers insight and information through the workflow solutions
                of Research, Analytics and Trading, Content and Technology Solutions
                ("CTS") and Wealth. FactSet currently serves financial professionals,
                which include portfolio managers, investment research professionals,
                investment bankers, risk and performance analysts, wealth advisors
                and corporate clients. FactSet provides both insights on global market
                trends and intelligence on companies and industries, as well as capabilities
                to monitor portfolio risk and performance and to execute trades. The
                Company combines dedicated client service with open and flexible technology
                offerings, such as a configurable desktop and mobile platform, comprehensive
                data feeds, an open marketplace and digital portals and application
                programming interfaces ("APIs"). The Company’s revenue is primarily
                derived from subscriptions to products and services such as workstations,
                analytics, enterprise data, and research management. FactSet Research
                Systems was founded by Howard E. Wille and Charles J. Snyder in September
                1978 and is headquartered in Norwalk, CT.
            industry:
              value: Professional Content Providers
            name:
              value: FactSet Research Systems Inc.
            sector:
              value: Software and Consulting
            crunchbaseCategories:
              value:
              - Analytics
              - Finance
              - Financial Services
              - Software
              note: Displaying the Crunchbase logo is required for displaying any
                Crunchbase-sourced data
          size:
            revenue:
              label: Sales
              value: 1494.111
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            employeeNumber:
              value: null
            ev:
              value: 12783.238274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            mcap:
              value: 12814.061274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
          contact:
            address:
              value: 7th Floor 45 Glover Avenue
            city:
              value: Norwalk
            phone:
              value: +1.203.810.1000
            zip:
              value: "06850"
            country:
              value: UNITED STATES
            email:
              value: rima.hyder@factset.com
            website:
              value: http://www.factset.com
            stateProvince:
              value: Connecticut
          stage:
            tradeDateRange:
              start:
                value: "19960628"
              end:
                value: "20201001"
            foundedYear:
              value: "1978"
            exchangePrimary:
              value: NYSE
            fundingDateRange:
              first:
                value: null
              last:
                value: null
            pevcBacking:
              value: null
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
    default200TransactionsResponse:
      summary: sample response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
                  isDimension: true
                - id: lineItem2
                  type: string
                  isDimension: true
                - id: lineItem3
                  type: real
                  isDimension: true
                - id: lineItem4
                  type: string
                  isDimension: true
                - id: lineItem5
                  type: real
                  isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  rowMetadata:
                    category:
                      value: DETAIL
                - cells:
                  - "20211013"
                  - Acquisition / Merger
                  - 'FactSet Research Systems, Inc. acquires Cobalt Software, Inc. '
                  - 51
                  - Complete
                  rowMetadata:
                    category:
                      value: DETAIL
                    dealId:
                      value: 4071979MM
                - cells:
                  - "20210714"
                  - Acquisition / Merger
                  - 'FactSet Research Systems, Inc. acquires BTU Analytics LLC '
                  - null
                  - Complete
                  rowMetadata:
                    category:
                      value: DETAIL
                    dealId:
                      value: 4054178MM
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200TransactionsResponse:
      summary: no data response
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
                  isDimension: true
                - id: lineItem2
                  type: string
                  isDimension: true
                - id: lineItem3
                  type: real
                  isDimension: true
                - id: lineItem4
                  type: string
                  isDimension: true
                - id: lineItem5
                  type: real
                  isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - Date
                  - Type
                  - Description
                  - Amount
                  - Status
                  rowMetadata:
                    category:
                      value: DETAIL
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
        meta:
          requestId: 07ZXHF-E
          fsymId: null
          noData: true
          message: There is no data for this request.
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    unsupportedEntityParameterError:
      summary: unsupported entity type
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: Unsupported entity type
    parameterErrorTopn:
      summary: topn parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter: ''topn'''
  headers:
    xDataDirectRequestKey:
      description: FactSet request ID
      explode: false
      schema:
        type: string
      style: simple
    apiSupportedVersions:
      description: Supported API versions (semantic versioning)
      explode: false
      schema:
        type: string
      style: simple
    apiVersion:
      description: API version (semantic versioning)
      explode: false
      schema:
        type: string
      style: simple
  responses:
    "200OKProfile":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200ProfileResponse'
          schema:
            $ref: '#/components/schemas/ProfileResponse'
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKPeerList":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200PeerListResponse'
          schema:
            $ref: '#/components/schemas/PeerListResponse'
      description: Expected response; returns JSON data containing key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKCurrentCapitalization":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200CurrentCapitalizationResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKFinancialHighlights":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200FinancialHighlightsResponse'
            noDataresponse:
              $ref: '#/components/examples/noData200FinancialHighlightsResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "200OKTransactions":
      content:
        application/json:
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200TransactionsResponse'
            noDataresponse:
              $ref: '#/components/examples/noData200TransactionsResponse'
          schema:
            $ref: '#/components/schemas/StachTableResponse'
      description: Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "400BadRequest":
      content:
        application/json:
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            unsupportedEntityParameterError:
              $ref: '#/components/examples/unsupportedEntityParameterError'
            parameterErrorTopn:
              $ref: '#/components/examples/parameterErrorTopn'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
    "401Unauthorized":
      description: Missing or invalid authentication. Ensure you are logged in and
        have successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or 403
        Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key
        from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "404NotFound":
      content:
        application/json:
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "429TooManyRequests":
      description: Too many requests - this API is rate-limited to 20 requests per
        second. For further assistance, file an issue under "Workflow & Throttling
        - 400 or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "500InternalServerError":
      description: Server error. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "503ServiceUnavailable":
      description: Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an issue
        under "Performance - 404 and 500 Responses" using `Report Issue` at the top
        of this page, including the X-DataDirect-Request-Key from the header to assist
        in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    ErrorObject:
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          $ref: '#/components/schemas/ErrorObject_links'
        detail:
          type: string
        source:
          $ref: '#/components/schemas/ErrorObject_source'
      type: object
    Meta:
      additionalProperties:
        type: string
      type: object
    ProfileResponse:
      example:
        data:
          business:
            crunchbaseCategories:
              note: note
              value:
              - value
              - value
            name:
              value: value
            crunchbaseUrl:
              note: note
              value: value
            description:
              note: note
              value: value
            industry:
              value: value
            dbaName:
              value: value
            sector:
              value: value
          size:
            ev:
              value: 6.027456183070403
            revenue:
              label: label
              value: 1.4658129805029452
            mcap:
              value: 6.027456183070403
            employeeNumber:
              value: 0.8008281904610115
          stage:
            crunchbaseRank:
              note: note
              value: 5.637376656633329
            vcLastRound:
              value: value
            peActiveFirmNumber:
              value: 5.962133916683182
            peActiveAcqAmt:
              value: 6.027456183070403
            vcLastRoundDate:
              value: value
            foundedYear:
              value: value
            pevcLatestPostMoneyValuation:
              value: 6.027456183070403
            peActiveInvestmentNumber:
              value: 5.962133916683182
            peActiveAcqDate:
              value: value
            exchangePrimary:
              value: value
            pevcBacking:
              value: value
            peLastInvestmentDate:
              value: value
            vcTotalEstRaised:
              value: 6.027456183070403
            peActiveFirms:
            - name:
                value: value
            - name:
                value: value
            vcLastRoundInvestorNumber:
              value: 5.962133916683182
            vcLastRoundAmt:
              value: 6.027456183070403
            tradeDateRange:
              start:
                value: value
              end:
                value: value
          contact:
            zip:
              value: value
            country:
              value: value
            website:
              value: value
            address:
              value: value
            city:
              value: value
            phone:
              value: value
            stateProvince:
              value: value
            people:
            - name:
                value: value
              id:
                value: value
              title:
                value: value
            - name:
                value: value
              id:
                value: value
              title:
                value: value
            email:
              value: value
        meta:
          key: meta
      properties:
        data:
          $ref: '#/components/schemas/ProfileData'
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    ProfileData:
      example:
        business:
          crunchbaseCategories:
            note: note
            value:
            - value
            - value
          name:
            value: value
          crunchbaseUrl:
            note: note
            value: value
          description:
            note: note
            value: value
          industry:
            value: value
          dbaName:
            value: value
          sector:
            value: value
        size:
          ev:
            value: 6.027456183070403
          revenue:
            label: label
            value: 1.4658129805029452
          mcap:
            value: 6.027456183070403
          employeeNumber:
            value: 0.8008281904610115
        stage:
          crunchbaseRank:
            note: note
            value: 5.637376656633329
          vcLastRound:
            value: value
          peActiveFirmNumber:
            value: 5.962133916683182
          peActiveAcqAmt:
            value: 6.027456183070403
          vcLastRoundDate:
            value: value
          foundedYear:
            value: value
          pevcLatestPostMoneyValuation:
            value: 6.027456183070403
          peActiveInvestmentNumber:
            value: 5.962133916683182
          peActiveAcqDate:
            value: value
          exchangePrimary:
            value: value
          pevcBacking:
            value: value
          peLastInvestmentDate:
            value: value
          vcTotalEstRaised:
            value: 6.027456183070403
          peActiveFirms:
          - name:
              value: value
          - name:
              value: value
          vcLastRoundInvestorNumber:
            value: 5.962133916683182
          vcLastRoundAmt:
            value: 6.027456183070403
          tradeDateRange:
            start:
              value: value
            end:
              value: value
        contact:
          zip:
            value: value
          country:
            value: value
          website:
            value: value
          address:
            value: value
          city:
            value: value
          phone:
            value: value
          stateProvince:
            value: value
          people:
          - name:
              value: value
            id:
              value: value
            title:
              value: value
          - name:
              value: value
            id:
              value: value
            title:
              value: value
          email:
            value: value
      properties:
        business:
          $ref: '#/components/schemas/ProfileData_business'
        contact:
          $ref: '#/components/schemas/ProfileData_contact'
        size:
          $ref: '#/components/schemas/ProfileData_size'
        stage:
          $ref: '#/components/schemas/ProfileData_stage'
      required:
      - business
      - contact
      - size
      - stage
      type: object
    DataPointMeta:
      anyOf:
      - $ref: '#/components/schemas/DataPointMeta_anyOf'
      type: object
    StachTableResponse:
      example:
        data: ""
        meta:
          key: meta
      properties:
        data:
          description: Returns a STACH 2.0 row organized package
          title: STACH
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    PeerListResponse:
      example:
        data:
          peers:
          - name: name
            id: id
          - name: name
            id: id
        meta:
          key: meta
      properties:
        data:
          $ref: '#/components/schemas/PeerListObject'
        meta:
          additionalProperties:
            type: string
          type: object
      type: object
    PeerListObject:
      example:
        peers:
        - name: name
          id: id
        - name: name
          id: id
      properties:
        peers:
          items:
            $ref: '#/components/schemas/PeerListData'
          type: array
      required:
      - peers
      type: object
    PeerListData:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
    MetadataEntry:
      description: |
        Restricted metadata entries. Restricts the possible key in the following STACH schema:
        - RowOrganizedPackage.CellDetail.CellMetadataEntry
        - RowOrganizedPackage.HeaderCellDetail.CellMetadataEntry
        - RowOrganizedPackage.MapOfMetadata.ItemsEntry
        - RowOrganizedPackage.Row.RowMetadataEntry
        - RowOrganizedPackage.TableData.TableMetadataEntry

        And sets restrictions on the possible values for a MetadataItem.
      oneOf:
      - $ref: '#/components/schemas/category'
      - $ref: '#/components/schemas/currencyCode'
      - $ref: '#/components/schemas/currencySymbol'
      - $ref: '#/components/schemas/description'
      - $ref: '#/components/schemas/frequency'
      - $ref: '#/components/schemas/metric'
      - $ref: '#/components/schemas/scale'
      - $ref: '#/components/schemas/transactionId'
      - $ref: '#/components/schemas/transactionType'
      - $ref: '#/components/schemas/units'
      - $ref: '#/components/schemas/valueType'
      type: object
    category:
      properties:
        category:
          $ref: '#/components/schemas/category_category'
      type: object
    currencyCode:
      properties:
        currencyCode:
          $ref: '#/components/schemas/currencyCode_currencyCode'
      type: object
    currencySymbol:
      properties:
        currencySymbol:
          $ref: '#/components/schemas/currencySymbol_currencySymbol'
      type: object
    description:
      properties:
        description:
          $ref: '#/components/schemas/description_description'
      type: object
    frequency:
      properties:
        frequency:
          $ref: '#/components/schemas/frequency_frequency'
      type: object
    metric:
      properties:
        metric:
          $ref: '#/components/schemas/metric_metric'
      type: object
    scale:
      properties:
        scale:
          $ref: '#/components/schemas/scale_scale'
      type: object
    transactionId:
      properties:
        transactionId:
          $ref: '#/components/schemas/transactionId_transactionId'
      type: object
    transactionType:
      properties:
        transactionType:
          $ref: '#/components/schemas/transactionType_transactionType'
      type: object
    units:
      properties:
        units:
          $ref: '#/components/schemas/units_units'
      type: object
    valueType:
      properties:
        valueType:
          $ref: '#/components/schemas/valueType_valueType'
      type: object
    ErrorObject_links:
      properties:
        about:
          type: string
      type: object
    ErrorObject_source:
      properties:
        parameter:
          type: string
      type: object
    ProfileData_business_description:
      example:
        note: note
        value: value
      properties:
        value:
          nullable: true
          type: string
        note:
          type: string
      required:
      - value
      type: object
    ProfileData_business_industry:
      example:
        value: value
      properties:
        value:
          nullable: true
          type: string
      required:
      - value
      type: object
    ProfileData_business_crunchbaseCategories:
      example:
        note: note
        value:
        - value
        - value
      properties:
        value:
          items:
            type: string
          type: array
        note:
          type: string
      required:
      - note
      - value
      type: object
    ProfileData_business_crunchbaseUrl:
      example:
        note: note
        value: value
      properties:
        value:
          type: string
        note:
          type: string
      required:
      - note
      - value
      type: object
    ProfileData_business:
      example:
        crunchbaseCategories:
          note: note
          value:
          - value
          - value
        name:
          value: value
        crunchbaseUrl:
          note: note
          value: value
        description:
          note: note
          value: value
        industry:
          value: value
        dbaName:
          value: value
        sector:
          value: value
      properties:
        description:
          $ref: '#/components/schemas/ProfileData_business_description'
        industry:
          $ref: '#/components/schemas/ProfileData_business_industry'
        sector:
          $ref: '#/components/schemas/ProfileData_business_industry'
        name:
          $ref: '#/components/schemas/ProfileData_business_industry'
        dbaName:
          $ref: '#/components/schemas/ProfileData_business_industry'
        crunchbaseCategories:
          $ref: '#/components/schemas/ProfileData_business_crunchbaseCategories'
        crunchbaseUrl:
          $ref: '#/components/schemas/ProfileData_business_crunchbaseUrl'
      required:
      - description
      - industry
      - name
      - sector
      type: object
    ProfileData_contact_people:
      example:
        name:
          value: value
        id:
          value: value
        title:
          value: value
      properties:
        title:
          $ref: '#/components/schemas/ProfileData_business_industry'
        name:
          $ref: '#/components/schemas/ProfileData_business_industry'
        id:
          $ref: '#/components/schemas/ProfileData_business_industry'
      required:
      - id
      - name
      - title
      type: object
    ProfileData_contact:
      example:
        zip:
          value: value
        country:
          value: value
        website:
          value: value
        address:
          value: value
        city:
          value: value
        phone:
          value: value
        stateProvince:
          value: value
        people:
        - name:
            value: value
          id:
            value: value
          title:
            value: value
        - name:
            value: value
          id:
            value: value
          title:
            value: value
        email:
          value: value
      properties:
        address:
          $ref: '#/components/schemas/ProfileData_business_industry'
        city:
          $ref: '#/components/schemas/ProfileData_business_industry'
        phone:
          $ref: '#/components/schemas/ProfileData_business_industry'
        stateProvince:
          $ref: '#/components/schemas/ProfileData_business_industry'
        zip:
          $ref: '#/components/schemas/ProfileData_business_industry'
        country:
          $ref: '#/components/schemas/ProfileData_business_industry'
        website:
          $ref: '#/components/schemas/ProfileData_business_industry'
        email:
          $ref: '#/components/schemas/ProfileData_business_industry'
        people:
          items:
            $ref: '#/components/schemas/ProfileData_contact_people'
          type: array
      required:
      - address
      - city
      - country
      - email
      - phone
      - stateProvince
      - website
      - zip
      type: object
    ProfileData_size_employeeNumber:
      example:
        value: 0.8008281904610115
      properties:
        value:
          nullable: true
          type: number
      required:
      - value
      type: object
    ProfileData_size_ev:
      example:
        value: 6.027456183070403
      properties:
        value:
          nullable: true
          type: number
        meta:
          $ref: '#/components/schemas/DataPointMeta'
      required:
      - value
      type: object
    ProfileData_size_revenue:
      example:
        label: label
        value: 1.4658129805029452
      properties:
        label:
          nullable: true
          type: string
        value:
          nullable: true
          type: number
        meta:
          $ref: '#/components/schemas/DataPointMeta'
      required:
      - label
      - value
      type: object
    ProfileData_size:
      example:
        ev:
          value: 6.027456183070403
        revenue:
          label: label
          value: 1.4658129805029452
        mcap:
          value: 6.027456183070403
        employeeNumber:
          value: 0.8008281904610115
      properties:
        employeeNumber:
          $ref: '#/components/schemas/ProfileData_size_employeeNumber'
        ev:
          $ref: '#/components/schemas/ProfileData_size_ev'
        mcap:
          $ref: '#/components/schemas/ProfileData_size_ev'
        revenue:
          $ref: '#/components/schemas/ProfileData_size_revenue'
      required:
      - employeeNumber
      - ev
      - mcap
      - revenue
      type: object
    ProfileData_stage_tradeDateRange:
      example:
        start:
          value: value
        end:
          value: value
      properties:
        start:
          $ref: '#/components/schemas/ProfileData_business_industry'
        end:
          $ref: '#/components/schemas/ProfileData_business_industry'
      type: object
    ProfileData_stage_peActiveFirmNumber:
      example:
        value: 5.962133916683182
      properties:
        value:
          type: number
      required:
      - value
      type: object
    ProfileData_stage_peActiveFirms:
      example:
        name:
          value: value
      properties:
        name:
          $ref: '#/components/schemas/ProfileData_business_industry'
      required:
      - name
      type: object
    ProfileData_stage_crunchbaseRank:
      example:
        note: note
        value: 5.637376656633329
      properties:
        value:
          type: number
        note:
          type: string
      required:
      - note
      - value
      type: object
    ProfileData_stage:
      example:
        crunchbaseRank:
          note: note
          value: 5.637376656633329
        vcLastRound:
          value: value
        peActiveFirmNumber:
          value: 5.962133916683182
        peActiveAcqAmt:
          value: 6.027456183070403
        vcLastRoundDate:
          value: value
        foundedYear:
          value: value
        pevcLatestPostMoneyValuation:
          value: 6.027456183070403
        peActiveInvestmentNumber:
          value: 5.962133916683182
        peActiveAcqDate:
          value: value
        exchangePrimary:
          value: value
        pevcBacking:
          value: value
        peLastInvestmentDate:
          value: value
        vcTotalEstRaised:
          value: 6.027456183070403
        peActiveFirms:
        - name:
            value: value
        - name:
            value: value
        vcLastRoundInvestorNumber:
          value: 5.962133916683182
        vcLastRoundAmt:
          value: 6.027456183070403
        tradeDateRange:
          start:
            value: value
          end:
            value: value
      properties:
        exchangePrimary:
          $ref: '#/components/schemas/ProfileData_business_industry'
        tradeDateRange:
          $ref: '#/components/schemas/ProfileData_stage_tradeDateRange'
        foundedYear:
          $ref: '#/components/schemas/ProfileData_business_industry'
        pevcBacking:
          $ref: '#/components/schemas/ProfileData_business_industry'
        pevcLatestPostMoneyValuation:
          $ref: '#/components/schemas/ProfileData_size_ev'
        peActiveFirmNumber:
          $ref: '#/components/schemas/ProfileData_stage_peActiveFirmNumber'
        peActiveInvestmentNumber:
          $ref: '#/components/schemas/ProfileData_stage_peActiveFirmNumber'
        peLastInvestmentDate:
          $ref: '#/components/schemas/ProfileData_business_industry'
        peActiveFirms:
          items:
            $ref: '#/components/schemas/ProfileData_stage_peActiveFirms'
          type: array
        peActiveAcqDate:
          $ref: '#/components/schemas/ProfileData_business_industry'
        peActiveAcqAmt:
          $ref: '#/components/schemas/ProfileData_size_ev'
        vcLastRound:
          $ref: '#/components/schemas/ProfileData_business_industry'
        vcLastRoundAmt:
          $ref: '#/components/schemas/ProfileData_size_ev'
        vcLastRoundInvestorNumber:
          $ref: '#/components/schemas/ProfileData_stage_peActiveFirmNumber'
        vcLastRoundDate:
          $ref: '#/components/schemas/ProfileData_business_industry'
        vcTotalEstRaised:
          $ref: '#/components/schemas/ProfileData_size_ev'
        crunchbaseRank:
          $ref: '#/components/schemas/ProfileData_stage_crunchbaseRank'
      required:
      - exchangePrimary
      - foundedYear
      - pevcBacking
      - tradeDateRange
      type: object
    DataPointMeta_anyOf:
      properties:
        currencyCode:
          description: Code for data currency
          type: string
        currencySymbol:
          description: Symbol for data currency
          type: string
        scale:
          description: |
            Integer power of 10 to which numbers have been scaled. For example: 6 implies millions.
            Default is 0.
          type: integer
    category_category:
      description: |
        Describes data based on source or kind of value
        - ACTUAL - Historical data collected directly from a press release or a median consensus from brokers after a report date.
        - ESTIMATE - Forward looking average of broker estimates within a specific time horizon.
        - GUIDANCE - Forward looking indication or estimate of future performance issued by the company itself.
        - DETAIL - Indicates data that is more granular and may be secondary in focus.
        - MAIN - Indicates data is of more impactful or higher importance and may want to be emphasized.
        - SECTION - Indicates data that is used in sectioning rows in group level STACH format.
      properties:
        value:
          enum:
          - ACTUAL
          - ESTIMATE
          - GUIDANCE
          - EXCLUDED
          - CHANGE
          - DETAIL
          - MAIN
          - SECTION
          type: string
      type: object
    currencyCode_currencyCode:
      description: Code for data currency
      properties:
        value:
          type: string
      type: object
    currencySymbol_currencySymbol:
      description: Symbol for data currency
      properties:
        value:
          type: string
      type: object
    description_description:
      description: Text describing the data
      properties:
        value:
          type: string
      type: object
    frequency_frequency:
      description: |
        String with frequency of a data series. Allowed values:
        - "D" (daily)
        - "W" (weekly)
        - "AW" (actual weekly)
        - "M" (monthly)
        - "AM" (actual monthly)
        - "Q" (quarterly)
        - "FQ" (fiscal quarterly)
        - "CQ" (calendar quarterly)
        - "AQ" (actual quarterly)
        - "Y" (yearly)
        - "FY" (fiscal yearly)
        - "CY" (calendar yearly)
        - "AY" (actual yearly)
        - "MTD" (month-to-date)
        - "QTD" (quarter-to-date)
        - "YTD" (year-to-date)
        - "FYTD" (fiscal-year-to-date)
        - "CYTD" (calendar-year-to-date)
      properties:
        value:
          enum:
          - D
          - W
          - AW
          - M
          - AM
          - Q
          - FQ
          - CQ
          - AQ
          - "Y"
          - FY
          - CY
          - AY
          - MTD
          - QTD
          - YTD
          - FYTD
          - CYTD
          type: string
      type: object
    metric_metric:
      description: |
        Describes the entity's financial metrics category
        - FIN - Financial; Numerical value taken from an entity's financial statements.
        - RAT - Ratio; A relative magnitude of two or more selected numerical values taken from an entity's financial statements.

        Exception: units = A (Actual) in combination with metric = RAT (Ratio) should be treated similarly as units = RATIO; the value is returned in the same format.
      properties:
        value:
          enum:
          - FIN
          - RAT
          type: string
      type: object
    scale_scale:
      description: |
        Integer power of 10 to which numbers have been scaled. For example: 6 implies millions.
        Default is 0.
      properties:
        value:
          type: integer
      type: object
    transactionId_transactionId:
      description: Id for the transaction. Only used in /transactions
      properties:
        value:
          type: string
      type: object
    transactionType_transactionType:
      description: |
        Type of transaction. Only used in /transactions. Allowed values:
        - "MA" (Mergers and Acquisitions)
      properties:
        value:
          enum:
          - MA
          type: string
      type: object
    units_units:
      description: |
        Represents the scale for the data, expresses the quantity.

        Exception: units = A (Actual) in combination with metric = RAT (Ratio) should be treated similarly as units = RATIO; the value is returned in the same format.
      properties:
        value:
          enum:
          - A (Actual)
          - B (Billions)
          - M (Millions)
          - PCT (Percent)
          - RATIO (Ratio)
          - T (Thousands)
          type: string
      type: object
    valueType_valueType:
      description: Describes how to interpret numbers
      properties:
        value:
          enum:
          - PERCENTAGE
          - RATIO
          - TREND
          - RANGE
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

