openapi: 3.0.1
info:
  description: Extract named entities and their FactSet entity IDs from given document
    text.
  title: FactSet NER
  version: 2.0.0
servers:
- url: https://api-sandbox.factset.com/
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Named Entity Recognition
  name: entities
paths:
  /cognitive/ner/v2/entities:
    post:
      description: Extract named entities from document text.
      operationId: post_entities_/entities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Success
        "400":
          content: {}
          description: Bad Request
        "401":
          content: {}
          description: 'Error: Unauthorized'
        "500":
          content: {}
          description: Server-side Error
      tags:
      - entities
      x-codegen-request-body-name: payload
      x-contentType: application/json
      x-accepts: application/json
components:
  responses:
    MaskError:
      content: {}
      description: When any error occurs on mask
    ParseError:
      content: {}
      description: When a mask can't be parsed
  schemas:
    Input:
      example:
        enableIdLookup: true
        filterEntities: true
        text: As demand for the coronavirus vaccine plateaus, Ohio Governor Mike DeWine
          is giving state residents a shot to win $1 million. Starting May 26, the
          state will award $1 million each week to an adult who has received at least
          the first dose of the COVID-19 vaccine, DeWine said. There will be five
          total drawings. This will give anyone who has not been vaccinated time to
          get the first dose of Pfizer or Moderna and be well on the way to full immunity,
          DeWine said Wednesday. West Virginia Governor Jim Justice wanted to give
          every vaccinated resident between the ages of 16 and 35 a $100 savings bond.
          States and localities have been given wide discretion by the Treasury Department
          in spending federal aid.
      properties:
        text:
          description: English plain text to extract named entities from.  Maxiumum
            of 10,000 characters.
          example: As demand for the coronavirus vaccine plateaus, Ohio Governor Mike
            DeWine is giving state residents a shot to win $1 million. Starting May
            26, the state will award $1 million each week to an adult who has received
            at least the first dose of the COVID-19 vaccine, DeWine said. There will
            be five total drawings. This will give anyone who has not been vaccinated
            time to get the first dose of Pfizer or Moderna and be well on the way
            to full immunity, DeWine said Wednesday. West Virginia Governor Jim Justice
            wanted to give every vaccinated resident between the ages of 16 and 35
            a $100 savings bond. States and localities have been given wide discretion
            by the Treasury Department in spending federal aid.
          type: string
        filterEntities:
          default: true
          description: Drop lower probability entities using machine learning filtering
            rules
          type: boolean
        enableIdLookup:
          default: true
          description: Retrieve FactSet IDs for entities
          type: boolean
      required:
      - text
      type: object
    Response:
      example:
        entities:
        - startChar: 0
          lookupUrl: lookupUrl
          lookupText: lookupText
          endChar: 0
          entityId: entityId
          text: text
          type: NE_GPE
          associatedOrgs:
          - lookupUrl: lookupUrl
            name: name
            entityId: entityId
          - lookupUrl: lookupUrl
            name: name
            entityId: entityId
        - startChar: 0
          lookupUrl: lookupUrl
          lookupText: lookupText
          endChar: 0
          entityId: entityId
          text: text
          type: NE_GPE
          associatedOrgs:
          - lookupUrl: lookupUrl
            name: name
            entityId: entityId
          - lookupUrl: lookupUrl
            name: name
            entityId: entityId
      properties:
        entities:
          items:
            $ref: '#/components/schemas/Entity'
          type: array
      type: object
    Entity:
      example:
        startChar: 0
        lookupUrl: lookupUrl
        lookupText: lookupText
        endChar: 0
        entityId: entityId
        text: text
        type: NE_GPE
        associatedOrgs:
        - lookupUrl: lookupUrl
          name: name
          entityId: entityId
        - lookupUrl: lookupUrl
          name: name
          entityId: entityId
      properties:
        type:
          description: Type of the extracted named entity (NE).
          enum:
          - NE_GPE
          - NE_ORG
          - NE_PERSON
          - NE_NUMBER
          - NE_MONEY
          - NE_DATETIME
          - NE_DRUG
          - NE_HEALTH_INDICATION
          example: NE_GPE
          type: string
        text:
          description: Text for the named entity, as found in the source text.
          type: string
        startChar:
          description: Starting character position of the entity text.
          minimum: 0
          type: integer
        endChar:
          description: Ending character position of the entity text.
          minimum: 0
          type: integer
        lookupText:
          description: Name of the FactSet entity linked to the text.
          type: string
        entityId:
          description: FactSet Entity ID for the extracted entity.
          type: string
        lookupUrl:
          description: URL to the extracted entity in FactSet.
          type: string
        associatedOrgs:
          description: Organizations associated with this entity.
          items:
            $ref: '#/components/schemas/Associated_Organization'
          type: array
      type: object
    Associated_Organization:
      example:
        lookupUrl: lookupUrl
        name: name
        entityId: entityId
      properties:
        name:
          description: Name of the entity
          type: string
        entityId:
          description: FactSet Entity ID for the entity
          type: string
        lookupUrl:
          description: FactSet description of the entity
          type: string
      type: object
  securitySchemes:
    FactSetApiKey:
      scheme: basic
      type: http
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
x-original-swagger-version: "2.0"

