openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    The FactSet Symbology API provides symbol resolution services, allowing clients to translate market identifiers into various symbology types such as, FactSet Permanent Identifiers, CUSIP, ISIN, SEDOL, Tickers, and Bloomberg FIGIs. <p>Factset's Symbology API sits at the center of its hub-and-spoke data model, enabling you to quickly harmonize the expanding catalog of Content APIs. Translate market IDs into CUSIP, SEDOL, ISIN, Tickers as of a point in time or for the entire history of the requested id allowing Data Management workflows to normalize ids over time.</p>
  title: FactSet Symbology API
  version: 2.1.2
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /symbology/v2/factset:
    get:
      description: |
        Translate market security symbols into FactSet Permanent Security Identifiers. The permanent identifier provides a unique record key and a convenient way to link across content sets. Additionally, if your firm does not have licenses for the symbol systems (e.g., CUSIP, SEDOL, ISIN), the permanent identifier provides a way to deliver security and listing-level data.
      operationId: translateFactset
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleFactsetTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleFactsetTranslation'
              schema:
                $ref: '#/components/schemas/factsetTranslationResponse'
          description: Successful response of Market IDs translated into FactSet Permanent
            Identifiers.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into FactSet Permanent Identifiers.
      tags:
      - FactSet
      x-accepts: application/json
    post:
      description: Translate market security symbols into FactSet Permanent Security
        Identifiers. The permanent identifier provides a unique record key and a convenient
        way to link across content sets. Additionally, if your firm does not have
        licenses for the symbol systems (e.g., CUSIP, SEDOL, ISIN), the permanent
        identifier provides a way to deliver security and listing-level data.
      operationId: batchTranslateFactSet
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market ID to FactSet ID:
                $ref: '#/components/examples/singleFactsetTranslationPost'
              Translate Multiple Market IDs to FactSet IDs:
                $ref: '#/components/examples/multipleFactsetTranslationPost'
            schema:
              $ref: '#/components/schemas/factsetTranslationRequest'
        description: Request Body for FactSet Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleFactsetTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleFactsetTranslation'
              schema:
                $ref: '#/components/schemas/factsetTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into FactSet Permanent Identifiers
      tags:
      - FactSet
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/factset-advanced:
    get:
      description: "FactSet Advanced Symbology gives you enhanced resolution capabilities\
        \ to translate a wider variety of input ids. Using the symbolType parameter,\
        \ you are able to resolve from the below list of third-party identifier types\
        \ into FactSet Permanent Identifiers. Any symbol types within this category\
        \ MUST be declared by themselves to appropriately resolve. \n* BIC - Bank\
        \ Identification Code (e.g. ABXXHKH1)\n* CIK - Edgar Central Index Keys (e.g.\
        \ 0000100331)\n* CRD - Central Registration Depository (e.g. 149722)\n* DUNS\
        \ - Dun & Bradstreet Data Universal Numbering System (e.g. 687741991)\n* EIN\
        \ - Employer Identification Number (e.g. 953540776)\n* FITCH - Fitch Ratings\
        \ Identifier (e.g. 47504)\n* LEI - Legal Entity Identifier (e.g. 549300A6K7JX8EX2QZ33)\n\
        * MD - Moody's Ratings Identifier (e.g. 0823736553)\n* SPR - S&P Ratings Identifier\
        \ (e.g. 301939)\n* VALOREN - Valoren (\"Valor\") Identification (e.g. 685558)\n\
        * WKN - German Securities Identification (\"Wert\") (e.g. A0MU9T)\n* UKCH\
        \ - UK Company House Identifier(e.g.CE012494)\n* RSSD -   Federal Reserve\
        \ RSSD Identifier(1139297)\n\nNot providing a symbolType will use FactSet\
        \ Advanced Unknown logic, allowing you to resolve a mix of ids across various\
        \ input id types and asset classes (Equities, Debt Instruments, Companies,\
        \ Portfolios, Market Listings, and more). Input Id Types include - \n* FactSet\
        \ Ticker, Ticker-Region, Ticker-Exchange\n* FactSet Permanent Identifiers\
        \ (-R, -S, -L, -E)\n* CUSIP\n* SEDOL\n* ISIN\n* Bloomberg FIGI - Regional/Security/Listing\
        \ Level\n* Bloomberg Ticker - Regional/Listing Level\n"
      operationId: translateFactsetAdvanced
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all identifiers in the list above. This request value is sent back
          in the response as ‘requestId’. <p>***ids limit** =  3000 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Specifies the type of symbol being requested in the ids parameter. **This is only required when requesting to translate from the symbolTypes in the list below to a FactSet Permanent Identifier.  Only one symbolType is permitted per request, and all ids passed in request must be of the same type.** It is expected that not all fsym* types respond with values. Every response for valid translations will include at a minimum the fsymId and requestId.
            |symbolType|Description|fsymId Default Perm Type|
            |---|---|---|
            |BIC|Bank Identification Codes|Entity (-E)|
            |CIK|Edgar Central Index Key|Entity (-E)|
            |CRD|Central Registration Depository|Entity (-E)|
            |DUNS|Dun & Bradstreet Data Universal Numbering System|Entity (-E)|
            |EIN|Employer Identification Number|Entity (-E)|
            |FITCH|Fitch Ratings Identifier|Entity (-E)|
            |LEI|Legal Entity Identifier|Entity (-E)|
            |MD|Moody's Ratings Identifier|Entity (-E)|
            |SPR|S&P Ratings Identifier|Entity (-E)|
            |VALOREN|Valoren ("Valor") Identification|Security (-S)|
            |WKN|German Securities Identification ("Wert")|Security (-S)|
            |UKCH|UK Company House Identifier|Entity(-E)|
            |RSSD|Federal Reserve RSSD Identifier|Entity(-E)|
        explode: true
        in: query
        name: symbolType
        required: false
        schema:
          default: ""
          enum:
          - BIC
          - CIK
          - CRD
          - DUNS
          - EIN
          - FITCH
          - LEI
          - MD
          - SPR
          - VALOREN
          - WKN
          - JCN
          - UKCH
          - RSSD
          - ""
          example: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                From Unknown Logic:
                  $ref: '#/components/examples/fromUnknownResponse'
                Bloomberg Translation:
                  $ref: '#/components/examples/fromUnknownResponseBloomberg'
                DUNS Translation Response:
                  $ref: '#/components/examples/dunsResponse'
              schema:
                $ref: '#/components/schemas/factsetTranslationAdvancedResponse'
          description: Successful response of ids translated into FactSet Permanent
            Identifiers.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate advanced symbol types into FactSet Permanent Identifiers
      tags:
      - FactSet
      x-accepts: application/json
    post:
      description: "FactSet Advanced Symbology gives you enhanced resolution capabilities\
        \ to translate a wider variety of input ids. Using the symbolType parameter,\
        \ you are able to resolve from the below list of third-party identifier types\
        \ into FactSet Permanent Identifiers. Any symbol types within this category\
        \ MUST be declared by themselves to appropriately resolve. \n* BIC - Bank\
        \ Identification Code (e.g. ABXXHKH1)\n* CIK - Edgar Central Index Keys (e.g.\
        \ 0000100331)\n* CRD - Central Registration Depository (e.g. 149722)\n* DUNS\
        \ - Dun & Bradstreet Data Universal Numbering System (e.g. 687741991)\n* EIN\
        \ - Employer Identification Number (e.g. 953540776)\n* FITCH - Fitch Ratings\
        \ Identifier (e.g. 47504)\n* LEI - Legal Entity Identifier (e.g. 549300A6K7JX8EX2QZ33)\n\
        * MD - Moody's Ratings Identifier (e.g. 0823736553)\n* SPR - S&P Ratings Identifier\
        \ (e.g. 301939)\n* VALOREN - Valoren (\"Valor\") Identification (e.g. 685558)\n\
        * WKN - German Securities Identification (\"Wert\") (e.g. A0MU9T)\n* UKCH\
        \ - UK Company House Identifier(e.g.CE012494)\n* RSSD -   Federal Reserve\
        \ RSSD Identifier(1139297)  \n\nNot providing a symbolType will use FactSet\
        \ Advanced Unknown logic, allowing you to resolve a mix of ids across various\
        \ input id types and asset classes (Equities, Debt Instruments, Companies,\
        \ Portfolios, Market Listings, and more). Input Id Types include - \n* FactSet\
        \ Ticker, Ticker-Region, Ticker-Exchange\n* FactSet Permanent Identifiers\
        \ (-R, -S, -L, -E)\n* CUSIP\n* SEDOL\n* ISIN\n* Bloomberg FIGI - Regional/Security/Listing\
        \ Level\n* Bloomberg Ticker - Regional/Listing Level\n"
      operationId: batchTranslateFactSetAdvanced
      requestBody:
        content:
          application/json:
            examples:
              From Unknown Request:
                $ref: '#/components/examples/fromUnknownRequest'
              DUNS Id Resolution:
                $ref: '#/components/examples/dunsRequest'
            schema:
              $ref: '#/components/schemas/factsetTranslationAdvancedRequest'
        description: Request Body for FactSet Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                From Unknown Logic:
                  $ref: '#/components/examples/fromUnknownResponse'
                Bloomberg Translation:
                  $ref: '#/components/examples/fromUnknownResponseBloomberg'
                DUNS Translation Response:
                  $ref: '#/components/examples/dunsResponse'
              schema:
                $ref: '#/components/schemas/factsetTranslationAdvancedResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate advanced symbol types into FactSet Permanent Identifiers
      tags:
      - FactSet
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/cusip:
    get:
      description: Translate market security symbols into CUSIP and FactSet Permanent
        Identifiers. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094) for
        more details regarding the CUSIP numbering system.
      operationId: translateCusip
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleCusipTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleCusipTranslation'
              schema:
                $ref: '#/components/schemas/cusipTranslationResponse'
          description: Successful response of Market IDs translated into CUSIPs.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into CUSIPs - Current Only
      tags:
      - CUSIP
      x-accepts: application/json
    post:
      description: Translate market security symbols into CUSIP and FactSet Permanent
        Identifiers. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094) for
        more details regarding the CUSIP numbering system. <p>This method is best
        for requesting **large universes** of `ids`.</p>
      operationId: batchTranslateCusips
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to CUSIP:
                $ref: '#/components/examples/singleCusipTranslationPost'
              Translate Multiple Market Identifiers CUSIP:
                $ref: '#/components/examples/multipleCusipTranslationPost'
            schema:
              $ref: '#/components/schemas/cusipTranslationRequest'
        description: Request Body for current only CUSIP Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleCusipTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleCusipTranslation'
              schema:
                $ref: '#/components/schemas/cusipTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into CUSIP - Current Only
      tags:
      - CUSIP
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/cusip-history:
    get:
      description: |
        Return the full history of CUSIP changes or as of a requested date for a given market security or FactSet Permanent Id. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094) for more details regarding the CUSIP numbering system. If no asOfDate is requested, the service will default to returning the entire history.
      operationId: cusipHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
          This is the date requested in the service. If no asOfDate was requested,
          the response will be null.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CUSIP History for GOOGL:
                  $ref: '#/components/examples/singleCusipHistory'
                CUSIP History for GOOGL, AAPL, and MSFT:
                  $ref: '#/components/examples/multipleCusipHistory'
                CUSIP Translation as of Jan. 1st 2014 for GOOGL:
                  $ref: '#/components/examples/singleCusipHistoryAsOf'
              schema:
                $ref: '#/components/schemas/cusipHistoryResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history or as of a requested date of CUSIP changes
        for the requested ID(s).
      tags:
      - CUSIP
      x-accepts: application/json
    post:
      description: Return the full history of CUSIP changes for a given market security
        or FactSet Permanent Id.
      operationId: batchCusipHistory
      requestBody:
        content:
          application/json:
            examples:
              CUSIP History since Jan. 1st 2010 for Single Market ID:
                $ref: '#/components/examples/singleCusipHistoryPost'
              CUSIP History since Jan. 1st 2010 for Multiple Market IDs:
                $ref: '#/components/examples/multipleCusipHistoryPost'
              CUSIP Translation for GOOGL as of 2014-01-01:
                $ref: '#/components/examples/singleCusipHistoryPostAsOf'
            schema:
              $ref: '#/components/schemas/cusipHistoryTranslationRequest'
        description: Request Body for CUSIP History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                CUSIP History for GOOGL:
                  $ref: '#/components/examples/singleCusipHistory'
                CUSIP History for GOOGL, AAPL, and MSFT:
                  $ref: '#/components/examples/multipleCusipHistory'
                CUSIP Translation as of Jan. 1st 2014 for GOOGL:
                  $ref: '#/components/examples/singleCusipHistoryAsOf'
              schema:
                $ref: '#/components/schemas/cusipHistoryResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history or as of a specific date of CUSIP changes
        for the requested ID(s).
      tags:
      - CUSIP
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/sedol:
    get:
      description: |
        Translate market security symbols into SEDOL and FactSet Permanent Identifiers. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details regarding the SEDOL numbering system.
      operationId: translateSedol
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleSedolTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleSedolTranslation'
              schema:
                $ref: '#/components/schemas/sedolTranslationResponse'
          description: Successful response of Market IDs translated into SEDOL.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into SEDOL. - Current Only
      tags:
      - SEDOL
      x-accepts: application/json
    post:
      description: |
        Translate market security symbols into SEDOL and FactSet Permanent Identifiers. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details regarding the SEDOL numbering system.
      operationId: batchTranslateSedol
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to SEDOL:
                $ref: '#/components/examples/singleSedolTranslationPost'
              Translate Multiple Market Identifiers SEDOL:
                $ref: '#/components/examples/multipleSedolTranslationPost'
            schema:
              $ref: '#/components/schemas/sedolTranslationRequest'
        description: Request Body for SEDOL Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleSedolTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleSedolTranslation'
              schema:
                $ref: '#/components/schemas/sedolTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into SEDOL. - Current Only
      tags:
      - SEDOL
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/sedol-history:
    get:
      description: |
        Returns the full history of SEDOL changes for a given security or as of a requested date. The service will default to returning the full history if no asOfDate is requested. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details.
      operationId: sedolHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
          This is the date requested in the service. If no asOfDate was requested,
          the response will be null.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SEDOL History since Jan. 1st 2010 for GOOGL:
                  $ref: '#/components/examples/singleSedolHistory'
                SEDOL history for GOOGL as of 2014-01-01:
                  $ref: '#/components/examples/singleSedolHistoryAsOf'
                SEDOL History since Jan. 1st 2010 for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleSedolHistory'
              schema:
                $ref: '#/components/schemas/sedolHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history or as of a specific date of SEDOL changes
        for the requested ID(s).
      tags:
      - SEDOL
      x-accepts: application/json
    post:
      description: |
        Return the full history of SEDOL changes for a given market security or FactSet Permanent Id. The service will default to returning the full history if no asOfDate is requested. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details regarding the SEDOL numbering system.
      operationId: batchSedolHistory
      requestBody:
        content:
          application/json:
            examples:
              Full SEDOL History for Single Market ID:
                $ref: '#/components/examples/singleSedolHistoryPost'
              SEDOL translation for GOOGL-US as of 2014-01-01:
                $ref: '#/components/examples/singleSedolHistoryPostAsOf'
              Full SEDOL History for Multiple Market IDs:
                $ref: '#/components/examples/multipleSedolHistoryPost'
            schema:
              $ref: '#/components/schemas/sedolHistoryTranslationRequest'
        description: Response Body for SEDOL History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                SEDOL History for GOOGL:
                  $ref: '#/components/examples/singleSedolHistory'
                SEDOL history for GOOGL as of 2014-01-01:
                  $ref: '#/components/examples/singleSedolHistoryAsOf'
                SEDOL History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleSedolHistory'
              schema:
                $ref: '#/components/schemas/sedolHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history or as of a specific date of SEDOL changes
        for a requested ID.
      tags:
      - SEDOL
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/isin:
    get:
      description: |
        Translate market security symbols into ISIN and FactSet Permanent Identifiers.
      operationId: translateIsin
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleIsinTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleIsinTranslation'
              schema:
                $ref: '#/components/schemas/isinTranslationResponse'
          description: Successful response of Market IDs translated into ISIN.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into ISIN. - Current Only
      tags:
      - ISIN
      x-accepts: application/json
    post:
      description: |
        Translate market security symbols into ISIN and FactSet Permanent Identifiers.
      operationId: batchTranslateIsin
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to ISIN:
                $ref: '#/components/examples/singleIsinTranslationPost'
              Translate Multiple Market Identifiers ISIN:
                $ref: '#/components/examples/multipleIsinTranslationPost'
            schema:
              $ref: '#/components/schemas/isinTranslationRequest'
        description: Request Body for ISIN Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleIsinTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleIsinTranslation'
              schema:
                $ref: '#/components/schemas/isinTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into ISIN. - Current Only
      tags:
      - ISIN
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/isin-history:
    get:
      description: |
        Returns the full history of ISIN changes for a given security or as of a requested date.
      operationId: isinHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
          This is the date requested in the service. If no asOfDate was requested,
          the response will be null.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Full ISIN History for GOOGL:
                  $ref: '#/components/examples/singleIsinHistory'
                ISIN History for GOOGL-US as of 2014-01-01:
                  $ref: '#/components/examples/singleIsinHistoryAsOf'
                Full ISIN History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleIsinHistory'
              schema:
                $ref: '#/components/schemas/isinHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate Market IDs into ISINS as of a specific date or receive the
        full history of changes.
      tags:
      - ISIN
      x-accepts: application/json
    post:
      description: |
        Returns the full history of ISIN changes for a given security or as of a requested date.
      operationId: batchIsinHistory
      requestBody:
        content:
          application/json:
            examples:
              Requesting full ISIN History for Single Market ID:
                $ref: '#/components/examples/singleIsinHistoryPost'
              Requesting full ISIN History for Multiple Market IDs:
                $ref: '#/components/examples/multipleIsinHistoryPost'
              Requesting ISIN Translation for a single security as of 2014-01-01:
                $ref: '#/components/examples/singleIsinHistoryPostAsOf'
            schema:
              $ref: '#/components/schemas/isinHistoryTranslationRequest'
        description: Response Body for ISIN History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Full ISIN history for GOOGL-US:
                  $ref: '#/components/examples/singleIsinHistory'
                ISIN History for GOOGL-US as of 2014-01-01:
                  $ref: '#/components/examples/singleIsinHistoryAsOf'
                Full ISIN history for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleIsinHistory'
              schema:
                $ref: '#/components/schemas/isinHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate Market IDs into ISINS as of a specific date or receive the
        full history of changes.
      tags:
      - ISIN
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v2/ticker:
    get:
      description: |
        Returns the Ticker-Exchange or Ticker-Region for a given security.\
      operationId: translateTicker
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId'.
          <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Controls the Ticker Type returned. The only accepted parameter values are REGION or EXCHANGE.
            * **REGION** = Ticker-Regional (e.g. GOOGL-US)
            * **EXCHANGE** = TIcker-Exchange (e.g. GOOGL-NAS)
        examples:
          Regional:
            summary: REGION - Ticker-Regional ID
            value: REGION
          Exchange:
            summary: EXCHANGE - Ticker-Exchange ID
            value: EXCHANGE
        explode: true
        in: query
        name: tickerType
        required: false
        schema:
          default: REGION
          enum:
          - REGION
          - EXCHANGE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleTickerTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleTickerTranslation'
              schema:
                $ref: '#/components/schemas/tickerTranslationResponse'
          description: Successful response of Ticker-Exchange or Ticker-Region for
            a given security.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the Ticker-Exchange or Ticker-Region for a given security.
        - Current Only
      tags:
      - Ticker
      x-accepts: application/json
    post:
      description: Returns the full history of Ticker-Exchange or Ticker-Region changes
        for a requested security. <p> This method is best for requesting **large universes**
        of `ids`.</p><p>**This endpoint is included with all other Content API packages.**</p>
      operationId: batchTranslateTicker
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to Ticker:
                $ref: '#/components/examples/singleTickerTranslationPost'
              Translate Multiple Market Identifiers Ticker:
                $ref: '#/components/examples/multipleTickerTranslationPost'
            schema:
              $ref: '#/components/schemas/tickerTranslationRequest'
        description: Request Body for Ticker History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleTickerTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleTickerTranslation'
              schema:
                $ref: '#/components/schemas/tickerTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
[...]
