openapi: 3.0.1
info:
  title: Prime Developer Trial
  version: v1
servers:
- url: //api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: securitizedDerivative endpoints
  name: securitizedDerivative
paths:
  /securitizedDerivative/get:
    get:
      description: Fundamental data for a single securitized derivative. Dates are
        interpreted in the timezone of the issuer.
      operationId: get/securitizedDerivative/get
      parameters:
      - description: Identifier of the instrument.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Fundamental data for a single securitized derivative.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /securitizedDerivative/barrier/type/list:
    get:
      description: List of barrier types.
      operationId: get/securitizedDerivative/barrier/type/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of barrier types.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /securitizedDerivative/issuer/search:
    post:
      description: Search for issuers of securitized derivatives, including issuer
        groups, which do not represent actual juristic persons, but are defined by
        FactSet to facilitate searching. FactSet does not consolidate the data provided
        by different suppliers, therefore the result may contain more than one identifier
        for a given issuer. The response is limited to 100 results.
      operationId: post/securitizedDerivative/issuer/search
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data'
                meta:
                  $ref: '#/components/schemas/_securitizedDerivative_issuer_search_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: Search for issuers of securitized derivatives.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /securitizedDerivative/keyFigures/notation/get:
    get:
      description: "Notation-based key figures of a securitized derivative. Not all\
        \ key figures are applicable and/or calculated for all types of securitized\
        \ derivatives. Following, some frequently used references: \n\nCover ratio\
        \ - see attribute `underlyings.coverRatio` in endpoint `/securitizedDerivative/underlying/list`.\n\
        \nVarious barrier types (e.g. strike, knock in) - see endpoint `/securitizedDerivative/barrier/type/list`.\n\
        \nExercise right - see attribute `exercise.right` in endpoint `/securitizedDerivative/get`.\n\
        \nIssue price - see attribute `issue.price` in endpoint `/securitizedDerivative/get`.\n\
        \nAsk price - see attribute `prices.ask`.\n\nBid price - see attribute `prices.bid`."
      operationId: get/securitizedDerivative/keyFigures/notation/get
      parameters:
      - description: Identifier of a notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Notation-based key figures of a securitized derivative.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /securitizedDerivative/notation/ranking/intraday/list:
    post:
      description: |-
        Ranking of securitized derivatives' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, the selection of the notation depends on the sort attribute:
        - absolute and relative performance (see the response attributes `trade.performance.absolute` and `trade.performance.relative`) - the notation with the most recent trade price is used
        - number trades, trading value and trading volume (see the response attributes `accumulated.numberTrades`, `accumulated.tradingVolume` and `accumulated.tradingValue`) - the notation with highest (lowest) value is used

        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameters `valueUnit` and/or `currency` have not been specified.

        The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.

        All identifiers used as parameters must be valid and entitled.
      operationId: post/securitizedDerivative/notation/ranking/intraday/list
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_securitizedDerivative_notation_ranking_intraday_list_data'
                meta:
                  $ref: '#/components/schemas/_securitizedDerivative_notation_ranking_intraday_list_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Ranking of securitized derivatives' notations using intraday figures.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /securitizedDerivative/notation/screener/valueRanges/get:
    post:
      description: |-
        The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/securitizedDerivatives/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. If more than one notation of an instrument matches, only the notation with the best market priority (according to the parameter `market.priority`) or, in the absence of market priorities, with the highest monetary trading volume, averaged over 30 trading days, is considered. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/securitizedDerivatives/notation/screener/search` endpoint so that performing a search always leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers, are sorted descending by the number of notations for each value.

         Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term "level" is used instead of "price", e.g. underlying level instead of underlying price.

         The endpoint does not support possible values and value ranges for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are considered.

         The possible values and value ranges can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.
      operationId: post/securitizedDerivative/notation/screener/valueRanges/get
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_securitizedDerivative_notation_screener_valueRanges_get_data'
                meta:
                  $ref: '#/components/schemas/_securitizedDerivative_notation_screener_valueRanges_get_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: Possible values and value ranges for the parameters used in the endpoint
        `/securitizedDerivative/notation/screener/search`.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /securitizedDerivative/notation/screener/search:
    post:
      description: |-
        Screener for securitized derivatives's notations based on securitized derivatives-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. All identifiers used as parameters must be valid and entitled.

         Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term "level" is used instead of "price", e.g. underlying level instead of underlying price.

         The endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are returned in the result.

         The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.
      operationId: post/securitizedDerivative/notation/screener/search
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_securitizedDerivative_notation_screener_search_data'
                meta:
                  $ref: '#/components/schemas/_securitizedDerivative_notation_screener_search_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Screener for securitized derivatives's notations based on securitized
        derivatives-specific parameters.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /securitizedDerivative/underlying/list:
    get:
      description: Provides details regarding the underlyings, their respective barriers
        and related cash flows (if any) of a securitized derivative. A unique combination
        of a cash flow and related barrier modalities, such as observation and level,
        is called a condition. In case of a securitized derivative with multiple underlyings,
        a condition comprises the respective barriers of all underlyings participating
        in that condition. Since some underlyings, e.g. an index or a performance
        difference of a stock and an index (alpha structure), do not represent a directly
        tradable asset, they do not have a price in the classical sense. Therefore,
        the term "level" is used instead of "price", e.g. underlying level instead
        of underlying price.
      operationId: get/securitizedDerivative/underlying/list
      parameters:
      - description: Identifier of an instrument.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: List of underlyings with barrier and cash flow information.
      tags:
      - securitizedDerivative
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
components:
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: false
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: false
    inline_object_3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: false
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: false
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 6.84685269835264
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
        next:
          description: Cursor position to use in the attribute `pagination.cursor`
            to retrieve the next page of results, if any, otherwise null.
          type: string
        previous:
          description: Cursor position to use in the attribute `pagination.cursor`
            to retrieve the previous page of results, if any, otherwise null.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: Cursor position to use in the attribute `pagination.cursor`
            to retrieve the next page of results, if any, otherwise null.
          type: string
        previous:
          description: Cursor position to use in the attribute `pagination.cursor`
            to retrieve the previous page of results, if any, otherwise null.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 7.386281948385884
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      example:
        isPartial: true
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    inline_response_200_data_nsin:
      description: NSIN data of the instrument.
      example:
        valor: valor
        wkn: wkn
      properties:
        wkn:
          description: The WKN (Wertpapierkennnummer, German for Securities Identification
            Number) of the instrument. The WKN is a 6-character code of digits and
            upper-case letters that uniquely identifies an instrument.
          type: string
        valor:
          description: 'The Valor number (German: Valorennummer) of the instrument.
            The Valor number is an integer number that uniquely identifies an instrument.'
          type: string
      type: object
      x-property-sort:
      - wkn
      - valor
    inline_response_200_data_type:
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the instrument type.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the instrument type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_lifeCycle_subscriptionPeriod:
      description: Subscription period.
      example:
        start: 2000-01-23
        end: 2000-01-23
      properties:
        start:
          description: Date of the start of the subscription period.
          format: date
          type: string
        end:
          description: Date of the end of the subscription period.
          format: date
          type: string
      required:
      - end
      - start
      type: object
      x-property-sort:
      - start
      - end
    inline_response_200_data_lifeCycle_intradayActivation:
      description: Intraday activation data
      example:
        time: time
        isActivated: true
      properties:
        time:
          description: Date and time of the intraday activation.
          format: datetime
          type: string
        isActivated:
          description: If true, this instrument is activated intraday.
          type: boolean
      type: object
      x-property-sort:
      - time
      - isActivated
    inline_response_200_data_lifeCycle_tradingPeriod:
      description: Trading period defined by the issuer.
      example:
        start: 2000-01-23
        end: 2000-01-23
      properties:
        start:
          description: Date of the instrument's first trading day defined by the issuer.
          format: date
          type: string
        end:
          description: Date of the instrument's last trading day defined by the issuer.
          format: date
          type: string
      required:
      - end
      - start
      type: object
      x-property-sort:
      - start
      - end
    inline_response_200_data_lifeCycle_maturity:
      description: Maturity data.
      example:
        date: 2000-01-23
        isCallable: true
        isPerpetual: true
      properties:
        date:
          description: Date of the instrument's maturity. The value is empty if the
            instrument is perpetual.
          format: date
          type: string
        isPerpetual:
          description: If true, the instrument is perpetual, i.e. it does not mature,
            therefore the attribute `date` is null.
          type: boolean
        isCallable:
          description: If true, the issuer may redeem the instrument prior to maturity.
          type: boolean
      type: object
      x-property-sort:
      - date
      - isPerpetual
      - isCallable
    inline_response_200_data_lifeCycle:
      description: Important dates of the instrument.
      example:
        subscriptionPeriod:
          start: 2000-01-23
          end: 2000-01-23
        valutaIssue: 2000-01-23
        valuation: 2000-01-23
        cancellation: 2000-01-23
        issue: 2000-01-23
        startExercisePeriod: 2000-01-23
        maturity:
          date: 2000-01-23
          isCallable: true
          isPerpetual: true
        intradayActivation:
          time: time
          isActivated: true
        tradingPeriod:
          start: 2000-01-23
          end: 2000-01-23
        initialFixing: 2000-01-23
        repayment: 2000-01-23
      properties:
        subscriptionPeriod:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_subscriptionPeriod'
        valutaIssue:
          description: Date by which the issuer requires receiving the purchase price
            for a newly issued product purchased during the subscription period.
          format: date
          type: string
        initialFixing:
          description: Date of the initial fixing.
          format: date
          type: string
        issue:
          description: Date of the issue.
          format: date
          type: string
        intradayActivation:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_intradayActivation'
        tradingPeriod:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_tradingPeriod'
        startExercisePeriod:
          description: Date of the start of the exercise period, which ends with the
            valuation.
          format: date
          type: string
        valuation:
          description: Date of the valuation.
          format: date
          type: string
        maturity:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_maturity'
        repayment:
          description: Date of the repayment.
          format: date
          type: string
        cancellation:
          description: Date of the cancellation day defined by the issuer.
          format: date
          type: string
      type: object
      x-property-sort:
      - subscriptionPeriod
      - valutaIssue
      - initialFixing
      - issue
      - intradayActivation
      - tradingPeriod
      - startExercisePeriod
      - valuation
      - maturity
      - repayment
      - cancellation
    inline_response_200_data_countrySecurityRegistration:
      example:
        name: name
        id: 6.027456183070403
      properties:
        id:
          description: Identifier of the country.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the country.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_referenceDebtor_instrument:
      description: Instrument of the reference debt issue. The reference debt issue
        is used to determine if a credit event for the reference debtor has occurred.
        If the securitized derivative is not related to a particular reference debt
        issue, but to the reference debtor as a whole, the attribute `instrument`
        is null.
      example:
        id: id
      properties:
        id:
          description: Identifier of the reference debt issue instrument.
          format: id64
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_data_referenceDebtor_legalEntity:
      description: Legal entity data of the reference debtor that is monitored for
        credit events. See endpoint `/legalEntity/list` for possible values.
      example:
        lei: lei
        name: name
        id: 1.4658129805029452
      properties:
        id:
          description: Identifier of the reference debtor.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the reference debtor.
          type: string
        lei:
          description: Legal Entity Identifier of the reference debtor.
          type: string
      type: object
      x-property-sort:
      - id
      - name
      - lei
    inline_response_200_data_referenceDebtor:
      description: Legal entity to be monitored for credit risk and its respective
        debt instrument, if available.
      example:
        instrument:
          id: id
        legalEntity:
          lei: lei
          name: name
          id: 1.4658129805029452
      properties:
        instrument:
          $ref: '#/components/schemas/inline_response_200_data_referenceDebtor_instrument'
        legalEntity:
          $ref: '#/components/schemas/inline_response_200_data_referenceDebtor_legalEntity'
      type: object
      x-property-sort:
      - instrument
      - legalEntity
    inline_response_200_data_orderVolume:
      description: Conditions on the order volume for placing an order with the issuer.
      example:
        increment: 2.3021358869347655
        minimum: 5.637376656633329
      properties:
        minimum:
          description: Minimum order volume required for placing an order at the trading
            venue of the notation for the given market phase.
          format: int32
          type: number
        increment:
          description: Increment of the order volume over the minimum (see attribute
            inimumOrderVolumeSecDer) required for placing an order at the respective
            trading venue. The order volume over the minimum must be an integral multiple
            of the increment. The value unit for this attribute is the same as for
            the attribute tradingVolumeLatestTradePrice.
          format: real
          type: number
      type: object
      x-property-sort:
      - minimum
      - increment
    inline_response_200_data_nominal_currency:
      description: Main currency data of nominal. See endpoint `/basic/valueUnit/currency/main/list`
        for possible values.
      example:
        code: code
        id: 3.616076749251911
      properties:
        id:
          description: Idenitifier of the main currency.
          format: id32
          type: number
          x-positive: true
        code:
          description: Code of the main currency.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_data_nominal:
      description: Nominal data of the instrument.
      example:
        currency:
          code: code
          id: 3.616076749251911
        value: 9.301444243932576
      properties:
        value:
          description: Nominal value.
          format: real
          type: number
        currency:
          $ref: '#/components/schemas/inline_response_200_data_nominal_currency'
      type: object
      x-property-sort:
      - value
      - currency
    inline_response_200_data_issuer_group:
      description: Issuer group. The issuer group is defined by FactSet and does not
        represent an actual juristic person.
      example:
        name: name
        id: 4.145608029883936
      properties:
        id:
          description: Identifier of the issuer group.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the issuer group.
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_issuer:
      description: Issuer and issuer group of the securitized derivative. See endpoint
        `/securitizedDerivative/issuer/search` for possible values.
      example:
        lei: lei
        name: name
        id: 2.027123023002322
        group:
          name: name
          id: 4.145608029883936
      properties:
        id:
          description: Identifier of the issuer.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the issuer.
          type: string
        lei:
          description: Legal Entity Identifier of the issuer.
          type: string
        group:
          $ref: '#/components/schemas/inline_response_200_data_issuer_group'
      type: object
      x-property-sort:
      - id
      - name
      - lei
      - group
    inline_response_200_data_issue_valueUnit:
      description: Value unit of the issuing price such as a main or a fractional
        currency for a per-unit-quoted securitized derivative, or percentages for
        a securitized derivative quoted in percent of the nominal (see attribute `nominal`).
        See endpoint `/basic/valueUnit/list` for possible values.
      example:
        code: code
        id: 1.0246457001441578
      properties:
        id:
          description: Idenitifier of the value unit.
          format: id32
          type: number
          x-positive: true
        code:
          description: Code of the value unit.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_data_issue:
      description: Issue data of the instrument.
      example:
        surcharge: 1.4894159098541704
        price: 7.386281948385884
        valueUnit:
          code: code
          id: 1.0246457001441578
        admittedVolume: 1.2315135367772556
      properties:
        price:
          description: The price at which the instrument was issued.
          format: real
          type: number
        admittedVolume:
          description: Number of pieces of the instrument admitted to trading by the
            regulating authority.
          format: int32
          type: number
        valueUnit:
          $ref: '#/components/schemas/inline_response_200_data_issue_valueUnit'
        surcharge:
          description: Issue surcharge. An additional charge paid to the issuer when
            purchasing the product during the subscription period (see attribute `lifeCycle.subscriptionPeriod`).
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - price
      - admittedVolume
      - valueUnit
      - surcharge
    inline_response_200_data_exercise:
      description: Exercise data of the instrument.
      example:
        style: american
        right: put
      properties:
        right:
          description: Code of the exercise right.
          enum:
          - put
          - call
          type: string
          x-enum-description:
          - A put option gives buyer the right, but not the obligation, to sell an
            asset at a specified price within a specific time period.
          - A call option gives buyer the right, but not the obligation, to buy an
            asset at a specified price within a specific time period.
        style:
          description: Code of the exercise style.
          enum:
          - american
          - european
          - bermudan
          type: string
          x-enum-description:
          - An American style option can be exercised anytime during its life.
          - A European style option can be exercised at the end of its life.
          - A Bermudan style option can only be exercised on predetermined dates.
      type: object
      x-property-sort:
      - right
      - style
    inline_response_200_data:
      description: Instrument data of the securitized derivative.
      example:
        issue:
          surcharge: 1.4894159098541704
          price: 7.386281948385884
          valueUnit:
            code: code
            id: 1.0246457001441578
          admittedVolume: 1.2315135367772556
        isQuanto: true
        exercise:
          style: american
          right: put
        isPrivatePlacement: true
        referenceDebtor:
          instrument:
            id: id
          legalEntity:
            lei: lei
            name: name
            id: 1.4658129805029452
        type:
        - name: name
          id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
        orderVolume:
          increment: 2.3021358869347655
          minimum: 5.637376656633329
        issuer:
          lei: lei
          name: name
          id: 2.027123023002322
          group:
            name: name
            id: 4.145608029883936
        settlement: cash
        redemptionAmount: 7.061401241503109
        nominal:
          currency:
            code: code
            id: 3.616076749251911
          value: 9.301444243932576
        name: name
        nsin:
          valor: valor
          wkn: wkn
        capitalProtection: 5.962133916683182
        isCollateralized: true
        shortName: shortName
        countrySecurityRegistration:
        - name: name
          id: 6.027456183070403
        - name: name
          id: 6.027456183070403
        hasAutomaticExercise: true
        lifeCycle:
          subscriptionPeriod:
            start: 2000-01-23
            end: 2000-01-23
          valutaIssue: 2000-01-23
          valuation: 2000-01-23
          cancellation: 2000-01-23
          issue: 2000-01-23
          startExercisePeriod: 2000-01-23
          maturity:
            date: 2000-01-23
            isCallable: true
            isPerpetual: true
          intradayActivation:
            time: time
            isActivated: true
          tradingPeriod:
            start: 2000-01-23
            end: 2000-01-23
          initialFixing: 2000-01-23
          repayment: 2000-01-23
        isin: isin
        isIncomplete: true
        hasCatchUp: true
      properties:
        isin:
          description: The International Securities Identification Number (ISIN) of
            the instrument. The ISIN is a 12-character code of digits and upper-case
            letters that uniquely identifies an instrument.
          format: isin
          type: string
        nsin:
          $ref: '#/components/schemas/inline_response_200_data_nsin'
        isPrivatePlacement:
          description: If true, the instrument is part of a private placement and
            therefore not publicly traded.
          type: boolean
        name:
          description: Name of the instrument.
          format: localizedString
          type: string
        shortName:
          description: Short name of the instrument.
          format: localizedString
          type: string
        type:
          description: Instrument type as defined by FactSet Digital Solutions. Instrument
            types are arranged in a hierarchy, with the first level representing the
            most coarse granularity and further levels successively refining the granularity
            (see MDG category system 18). Please refer to endpoint `/category/get`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_data_type'
          type: array
        isIncomplete:
          description: If true, the data supplier has marked the data for this instrument
            as incomplete.
          type: boolean
        lifeCycle:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle'
        countrySecurityRegistration:
          description: List of countries where the instrument is registered. See endpoint
            `/basic/region/country/list` for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_data_countrySecurityRegistration'
          type: array
        referenceDebtor:
          $ref: '#/components/schemas/inline_response_200_data_referenceDebtor'
        isCollateralized:
          description: If true, this instrument is protected against an issuer default
            by collateral (e.g. COSI collateralization by SIX Swiss Exchange).
          type: boolean
        isQuanto:
          description: If true, the risk of exchange rate fluctuations between the
            value unit of the underlying (all of them, in case of multiple underlyings)
            and the value unit of the redemption is hedged.
          type: boolean
        capitalProtection:
          description: Proportion of the nominal amount protected against loss, usually
            100%.
          format: relativeValue
          type: number
        hasCatchUp:
          description: If true, the instrument has a so-called "memory feature" (also
            called "catch up"). This means that a conditional payment that has not
            been paid out could be paid on a subsequent payment date if the condition
            is then satisfied.
          type: boolean
        hasAutomaticExercise:
          description: If true, the instrument will be automatically exercised at
            termination (such as maturity, premature call, or premature payout). It
            prevents such products from becoming worthless, meaning the investor does
            not have to undertake any steps in order to receive the payable amount.
          type: boolean
        orderVolume:
          $ref: '#/components/schemas/inline_response_200_data_orderVolume'
        redemptionAmount:
          description: 'Actual redemption amount after expiry (e.g. knock out, maturity
            etc) for securitized derivatives with a so-called knock-out feature. The
            currency of the redemption amount is given by `issue.valueUnit` and is
            always a main currency for securitized derivatives with that feature. '
          format: real
          type: number
        nominal:
          $ref: '#/components/schemas/inline_response_200_data_nominal'
        issuer:
          $ref: '#/components/schemas/inline_response_200_data_issuer'
        issue:
          $ref: '#/components/schemas/inline_response_200_data_issue'
        exercise:
          $ref: '#/components/schemas/inline_response_200_data_exercise'
        settlement:
          description: Settlement is the fulfillment of the issuer's contractual obligations
            arising from the securitized derivative. Depending on the terms, the underlying
            asset may be delivered physically or its equivalent monetary value may
            be payed out.
          enum:
          - cash
          - physical
          - either
          type: string
          x-enum-description:
          - Transfer of a cash amount.
          - Physical delivery of the underlying asset.
          - Cash or physical, at the discretion of the issuer.
      type: object
      x-property-sort:
      - isin
      - nsin
      - isPrivatePlacement
      - name
      - shortName
      - type
      - isIncomplete
      - lifeCycle
      - countrySecurityRegistration
      - referenceDebtor
      - isCollateralized
      - isQuanto
      - capitalProtection
      - hasCatchUp
      - hasAutomaticExercise
      - orderVolume
      - redemptionAmount
      - nominal
      - issuer
      - issue
      - exercise
      - settlement
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 6.84685269835264
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_200:
      example:
        data:
          issue:
            surcharge: 1.4894159098541704
            price: 7.386281948385884
            valueUnit:
              code: code
              id: 1.0246457001441578
            admittedVolume: 1.2315135367772556
          isQuanto: true
          exercise:
            style: american
            right: put
          isPrivatePlacement: true
          referenceDebtor:
            instrument:
              id: id
            legalEntity:
              lei: lei
              name: name
              id: 1.4658129805029452
          type:
          - name: name
            id: 0.8008281904610115
          - name: name
            id: 0.8008281904610115
          orderVolume:
            increment: 2.3021358869347655
            minimum: 5.637376656633329
          issuer:
            lei: lei
            name: name
            id: 2.027123023002322
            group:
              name: name
              id: 4.145608029883936
          settlement: cash
          redemptionAmount: 7.061401241503109
          nominal:
            currency:
              code: code
              id: 3.616076749251911
            value: 9.301444243932576
          name: name
          nsin:
            valor: valor
            wkn: wkn
          capitalProtection: 5.962133916683182
          isCollateralized: true
          shortName: shortName
          countrySecurityRegistration:
          - name: name
            id: 6.027456183070403
          - name: name
            id: 6.027456183070403
          hasAutomaticExercise: true
          lifeCycle:
            subscriptionPeriod:
              start: 2000-01-23
              end: 2000-01-23
            valutaIssue: 2000-01-23
            valuation: 2000-01-23
            cancellation: 2000-01-23
            issue: 2000-01-23
            startExercisePeriod: 2000-01-23
            maturity:
              date: 2000-01-23
              isCallable: true
              isPerpetual: true
            intradayActivation:
              time: time
              isActivated: true
            tradingPeriod:
              start: 2000-01-23
              end: 2000-01-23
            initialFixing: 2000-01-23
            repayment: 2000-01-23
          isin: isin
          isIncomplete: true
          hasCatchUp: true
        meta:
          status:
            code: 6.84685269835264
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_1_data:
      example:
        kind: single
        name: name
        description: description
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the barrier type.
          format: id32
          type: number
          x-positive: true
        name:
          description: English name of the barrier type.
          type: string
        description:
          description: English description of the barrier type.
          type: string
        kind:
          description: Kind of the barrier type.
          enum:
          - single
          - range
          type: string
          x-enum-description:
          - Barrier types of this kind represent either a lower or an upper bound
            derived from the exercise right of the securitized derivative, see attribute
            `exercise.right` in endpoint `/securitizedDerivative/get`.
          - Barrier types of this kind represent a range with a lower and an upper
            bound.
      type: object
      x-property-sort:
      - id
      - name
      - description
      - kind
    inline_response_200_1:
      example:
        data:
        - kind: single
          name: name
          description: description
          id: 0.8008281904610115
        - kind: single
          name: name
          description: description
          id: 0.8008281904610115
        meta:
          status:
            code: 6.84685269835264
      properties:
        data:
          description: List of barrier types.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _securitizedDerivative_issuer_search_data_name:
      description: Issuer name.
      properties:
        searchValue:
          description: Text string to be searched for.
          maxLength: 100
          minLength: 3
          pattern: ^[ -!#-&(-+--/0-:=?-Za-zw"]*$
          type: string
      type: object
      x-property-sort:
      - searchValue
    _securitizedDerivative_issuer_search_data_category:
      description: List of categories of securitized derivatives. Only issuers that
        have issued securitized derivatives belonging to at least one category in
        the provided list are returned.
      properties:
        ids:
          description: List of category identifiers. See endpoint `/category/listBySystem`
            for category systems 18 and 23 for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_issuer_search_data_underlying_instrument:
      description: Underlying instrument.
      properties:
        ids:
          description: List of instrument identifiers.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_issuer_search_data_underlying:
      description: List of underlyings of securitized derivatives. Only issuers that
        have issued at least one securitized derivative on an underlying in the provided
        list are returned.
      properties:
        instrument:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_underlying_instrument'
      type: object
      x-property-sort:
      - instrument
    _securitizedDerivative_issuer_search_data_factorCertificates_effectiveUnderlying_instrument:
      description: Selection of the effective underlying using instrument identifiers.
      properties:
        ids:
          description: List of instrument identifiers.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_issuer_search_data_factorCertificates_effectiveUnderlying:
      description: Selection of the effective underlying. The underlying of a factor
        certificate is usually a factor index which is an artificial index used to
        calculate the leveraged daily performance of another financial instrument
        called its effective underlying. Only issuers that have issued at least one
        factor certificate on an effective underlying in the provided list are returned.
      properties:
        instrument:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_factorCertificates_effectiveUnderlying_instrument'
      type: object
      x-property-sort:
      - instrument
    _securitizedDerivative_issuer_search_data_factorCertificates:
      description: Parameters for factor certificates.
      properties:
        effectiveUnderlying:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_factorCertificates_effectiveUnderlying'
      type: object
      x-property-sort:
      - effectiveUnderlying
    _securitizedDerivative_issuer_search_data_registrationCountry:
      description: List of countries of registration for trading of securitized derivatives.
        Only issuers that have registered at least one securitized derivative in a
        country in the provided list are returned.
      properties:
        ids:
          description: List of country identifiers. See endpoint `/basic/region/country/list`
            for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_issuer_search_data_market:
      description: List of markets where securitized derivatives are traded. Only
        issuers that have issued at least one securitized derivative traded on a market
        in the provided list are returned.
      properties:
        ids:
          description: List of market identifiers. See endpoint `/basic/market/list`
            for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_issuer_search_data:
      description: The data member contains the request's primary data.
      properties:
        role:
          default: issuerGroup
          description: Specify whether legal entities in the role of an issuer or
            in the role of an issuer group are returned.
          enum:
          - issuerGroup
          - issuer
          type: string
          x-enum-description:
          - Legal entities defined by FactSet and thus not representing an actual
            juristic person.
          - Legal entities in the role of an issuer representing an actual juristic
            person.
        name:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_name'
        category:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_category'
        underlying:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_underlying'
        factorCertificates:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_factorCertificates'
        registrationCountry:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_registrationCountry'
        market:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data_market'
      type: object
      x-property-sort:
      - role
      - name
      - category
      - underlying
      - factorCertificates
      - registrationCountry
      - market
    _securitizedDerivative_issuer_search_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - attributes
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_data'
        meta:
          $ref: '#/components/schemas/_securitizedDerivative_issuer_search_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_2_data:
      example:
        name: name
        count: 6.027456183070403
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the issuer.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the issuer.
          type: string
        count:
          description: Number of securitized derivatives issued.
          format: int32
          type: number
      type: object
      x-property-sort:
      - id
      - name
      - count
    inline_response_200_2:
      example:
        data:
        - name: name
          count: 6.027456183070403
          id: 0.8008281904610115
        - name: name
          count: 6.027456183070403
          id: 0.8008281904610115
        meta:
          status:
            code: 6.84685269835264
      properties:
        data:
          description: List of issuers, including issuer groups, sorted descending
            by the number of securitized derivatives issued.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_3_data_prices_ask:
      description: Ask price.
      example:
        price: 0.8008281904610115
        time: time
      properties:
        time:
          description: Date and time.
          format: datetime
          type: string
        price:
          description: Price value.
          format: real
          type: number
      type: object
      x-property-sort:
      - time
      - price
    inline_response_200_3_data_prices_bid:
      description: Bid price.
      example:
        price: 6.027456183070403
        time: time
      properties:
        time:
          description: Date and time.
          format: datetime
          type: string
        price:
          description: Price value.
          format: real
          type: number
      type: object
      x-property-sort:
      - time
      - price
    inline_response_200_3_data_prices_valueUnit:
      description: Value unit of the notation of the securitized derivative, such
        as a main or a fractional currency for a per-unit-quoted securitized derivative,
        or percentages for a securitized derivative quoted in percent of the nominal
        (see attribute `nominal` in endpoint `/securitizedDerivative/get`). See endpoint
        `/basic/valueUnit/list` for possible values.
      example:
        code: code
        id: 1.4658129805029452
      properties:
        id:
          description: Identifier of the value unit.
          format: id32
          type: number
          x-positive: true
        code:
          description: Code of the value unit.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_3_data_prices:
      description: Prices of the securitized derivative, used for the calculation.
        See attribute `prices.valueUnit` for the unit.
      example:
        ask:
          price: 0.8008281904610115
          time: time
        valueUnit:
          code: code
          id: 1.4658129805029452
        bid:
          price: 6.027456183070403
          time: time
      properties:
        ask:
          $ref: '#/components/schemas/inline_response_200_3_data_prices_ask'
        bid:
          $ref: '#/components/schemas/inline_response_200_3_data_prices_bid'
        valueUnit:
          $ref: '#/components/schemas/inline_response_200_3_data_prices_valueUnit'
      type: object
      x-property-sort:
      - ask
      - bid
      - valueUnit
    inline_response_200_3_data_notation_instrument:
      description: Instrument of the underlying.
      example:
        id: id
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_3_data_notation:
      description: Notation of the underlying. If there is no notation for the underlying,
        the object is null.
      example:
        instrument:
          id: id
        id: id
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        instrument:
          $ref: '#/components/schemas/inline_response_200_3_data_notation_instrument'
      type: object
      x-property-sort:
      - id
      - instrument
    inline_response_200_3_data_level:
      description: Level (e.g. price or index value) of the underlying used for calculation.
      example:
        time: time
        value: 5.962133916683182
      properties:
        time:
          description: Date and time.
          format: datetime
          type: string
        value:
          description: Level value. See attribute `underlyings.valueUnit` for the
            unit.
          format: real
          type: number
      type: object
      x-property-sort:
      - time
      - value
    inline_response_200_3_data_valueUnit:
      description: Value unit of the underlying, provided also if there is no notation
        for the underlying. See endpoint `/basic/valueUnit/list` for possible values.
      example:
        code: code
        id: 5.637376656633329
      properties:
        id:
          description: Identifier of the value unit.
          format: id32
          type: number
          x-positive: true
        code:
          description: Code of the value unit.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_3_data_underlyings:
      example:
        level:
          time: time
          value: 5.962133916683182
        notation:
          instrument:
            id: id
          id: id
        name: name
        valueUnit:
          code: code
          id: 5.637376656633329
      properties:
        name:
          description: Name of the underlying, provided also if there is no notation
            for the underlying.
          format: localizedString
          type: string
        notation:
          $ref: '#/components/schemas/inline_response_200_3_data_notation'
        level:
          $ref: '#/components/schemas/inline_response_200_3_data_level'
        valueUnit:
          $ref: '#/components/schemas/inline_response_200_3_data_valueUnit'
      type: object
      x-property-sort:
      - name
      - notation
      - level
      - valueUnit
    inline_response_200_3_data_currency:
      description: Main or fractional currency of the attributes expressed in absolute
        terms, unless specified otherwise. See endpoint `/basic/valueUnit/currency/list`
        for possible values.
      example:
        code: code
        id: 2.3021358869347655
      properties:
        id:
          description: Identifier of the currency.
          format: id32
          type: number
          x-positive: true
        code:
          description: Code of the currency.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_3_data_performanceIssue_ask:
      description: Ask-based performance.
      example:
        annualized: 3.616076749251911
        absolute: 7.061401241503109
        relative: 9.301444243932576
      properties:
        absolute:
          description: Performance in absolute terms.
          format: real
          type: number
        relative:
          description: Performance relative to the issue price.
          format: relativeValue
          type: number
        annualized:
          description: Annualized performance relative to the issue price.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
      - annualized
    inline_response_200_3_data_performanceIssue_bid:
      description: Bid-based performance.
      example:
        annualized: 7.386281948385884
        absolute: 2.027123023002322
        relative: 4.145608029883936
      properties:
        absolute:
          description: Performance in absolute terms.
          format: real
          type: number
        relative:
          description: Performance relative to the issue price.
          format: relativeValue
          type: number
        annualized:
          description: Annualized performance relative to the issue price.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
      - annualized
    inline_response_200_3_data_performanceIssue:
      description: Ask and bid-based performance since issue, see attribute `issue`
        in endpoint `/securitizedDerivative/get` for the issue date. It represents
        the difference between the ask (bid respectively) price of the derivative's
        notation and the issue price. For securitized derivatives quoted in percent,
        the result is multiplied with the nominal (see attribute `nominal.value` in
        endpoint `/securitizedDerivative/get`) in order to calculate the value in
        absolute terms.
      example:
        ask:
          annualized: 3.616076749251911
          absolute: 7.061401241503109
          relative: 9.301444243932576
        bid:
          annualized: 7.386281948385884
          absolute: 2.027123023002322
          relative: 4.145608029883936
      properties:
        ask:
          $ref: '#/components/schemas/inline_response_200_3_data_performanceIssue_ask'
        bid:
          $ref: '#/components/schemas/inline_response_200_3_data_performanceIssue_bid'
      type: object
      x-property-sort:
      - ask
      - bid
    inline_response_200_3_data_bonusYield:
      description: Bonus yield based on the ask price. It represents the bonus level
        adjusted for the cover ratio and currency cross rate minus the ask price of
        the securitized derivative. The value can become negative (e.g. for uncapped
        products), which does not mean that the investor will necessarily suffer a
        loss buying it. This key figure is calculated for bonus certificates with
        intact knock-in barrier only. For the barrier breach of barriers with a single
        limit, see attribute `barrierTypeConditions.barriers.single.breach.isBreached`
        in endpoint `/securitizedDerivative/underlying/list`, for the breach of the
        up and down limit of range barriers see attribute `barrierTypeConditions.barriers.range.up/down.breach.isBreached`
        respectively.
      example:
        annualized: 1.4894159098541704
        absolute: 1.2315135367772556
        relative: 1.0246457001441578
      properties:
        absolute:
          description: Bonus yield in absolute terms.
          format: real
          type: number
        relative:
          description: Bonus yield relative to the ask price.
          format: relativeValue
          type: number
        annualized:
          description: Annualized bonus yield relative to the ask price.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
      - annualized
    inline_response_200_3_data_sidewaysYield:
      description: Sideways yield based on the ask price. It represents a hypothetical
        payout at maturity minus the ask price of the securitized derivative, under
        the assumption that all payout-influencing factors remain unchanged until
        maturity.
      example:
        annualized: 1.1730742509559433
        absolute: 6.84685269835264
        relative: 7.457744773683766
      properties:
        absolute:
          description: Sideways yield in absolute terms.
          format: real
          type: number
        relative:
          description: Sideways yield relative to the ask price.
          format: relativeValue
          type: number
        annualized:
          description: Annualized sideways yield relative to the ask price.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
      - annualized
    inline_response_200_3_data_maximumYield:
      description: Maximum yield based on the ask price.  It represents a hypothetical
        maximum payout at maturity minus the ask price of the derivative. This key
        figure represents a theoretically possible best-case scenario, disregarding
        the probability of occurrence. It is calculated only for securitized derivatives
        with a limited payout (e.g. capped products).
      example:
        annualized: 9.965781217890562
        absolute: 4.965218492984954
        relative: 5.025004791520295
      properties:
        absolute:
          description: Maximum yield in absolute terms.
          format: real
          type: number
        relative:
          description: Maximum yield relative to the ask price.
          format: relativeValue
          type: number
        annualized:
          description: Annualized maximum yield relative to the ask price.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
      - annualized
    inline_response_200_3_data_agio:
      description: Agio based on the ask price.  For plain vanilla warrants, it represents
        the difference between the ask price of the derivative and its parity (see
        attribute `parity`). Thus, for those with exercise right call, the agio indicates
        how much more expensive would it be to obtain the underlying through purchasing
        and exercising the warrant compared to directly purchasing the underlying.
        For those with exercise right put, the above consideration is applied inversely.
        For other types of securitized derivatives, the calculation and interpretation
        of the agio depends on their category. Negative values are possible. This
        key figure is not calculated for securitized derivatives with multiple underlyings.
      example:
        annualized: 8.762042012749001
        absolute: 9.369310271410669
        relative: 6.683562403749608
      properties:
        absolute:
          description: Agio in absolute terms.
          format: real
          type: number
        relative:
          description: Agio relative to the underlying level.
          format: relativeValue
          type: number
        annualized:
          description: Annualized agio relative to the underlying level.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
      - annualized
    inline_response_200_3_data_discount:
      description: Discount based on the ask price. It represents the difference between
        the ask price of the securitized derivative and the underlying level, adjusted
        for the cover ratio and the currency cross rate. This key figure is calculated
        only for discount certificates. This key figure is not calculated for securitized
        derivatives with multiple underlyings. For the value unit, see attribute `underlyings.valueUnit`.
      example:
        absolute: 9.018348186070783
        relative: 6.438423552598547
      properties:
        absolute:
          description: Discount in absolute terms.
          format: real
          type: number
        relative:
          description: Discount relative to the underlying level.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_3_data_breakEven_distance:
      description: Distance from the underlying level to the  break even point.
      example:
        absolute: 6.965117697638846
        relative: 1.284659006116532
      properties:
        absolute:
          description: Distance in absolute terms. For the value unit, see attribute
            `underlyings.valueUnit`.
          format: real
          type: number
        relative:
          description: 'Distance relative to the underlying level. '
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_3_data_breakEven:
      description: Break even point based on the ask price. It represents the underlying
        level that has to be reached at maturity, such that no loss or profit occurs
        for the holder of the securitized derivative. This key figure is not calculated
        for securitized derivatives with multiple underlyings. For the value unit,
        see attribute `underlyings.valueUnit`.
      example:
        distance:
          absolute: 6.965117697638846
          relative: 1.284659006116532
        breakEvenPoint: 3.5571952270680973
      properties:
        breakEvenPoint:
          description: Break even point.
          format: real
          type: number
        distance:
          $ref: '#/components/schemas/inline_response_200_3_data_breakEven_distance'
      type: object
      x-property-sort:
      - breakEvenPoint
      - distance
    inline_response_200_3_data_spread:
      description: Spread of the securitized derivative. It represents the difference
        between the ask and bid price.
      example:
        harmonized: 2.8841621266687802
        relative: 6.778324963048013
      properties:
        harmonized:
          description: Spread in absolute terms, adjusted for the cover ratio.
          format: real
          type: number
        relative:
          description: Spread relative to the ask price.
          format: relativeValue
          type: number
      type: object
      x-property-sort:
      - harmonized
      - relative
    inline_response_200_3_data_delta:
      description: Ask-based delta. It represents the first partial derivative of
        the function determining the derivative notation's theoretical price with
        respect to the underlying level, evaluated at the underlying level. Delta
        indicates the ratio of the absolute change of the price of a derivative for
        an indefinitely small absolute change in the underlying level, thus it represents
        the price sensitivity of the derivative relative to changes in the underlying
        level. This key figure is calculated for plain vanilla warrants only.
      example:
        effective: 6.878052220127876
        unadjusted: 5.944895607614016
      properties:
        effective:
          description: Delta calculated using the actual cover ration of the securitized
            derivative.
          format: real
          type: number
        unadjusted:
          description: Delta calculated using a (hypothetical) cover ratio of 1:1.
          format: real
          type: number
      type: object
      x-property-sort:
      - effective
      - unadjusted
    inline_response_200_3_data_thetaOneWeek:
      description: Ask-based weekly theta. It represents the first partial derivative
        of the function determining the derivative notation's theoretical price with
        respect to the residual term, evaluated at the current residual term and multiplied
        by 7/365. Weekly theta indicates the absolute change (decrease) of the price
        of a derivative for a reduction of the residual term by one week (seven calendar
        days), thus it represents the price sensitivity of the derivative relative
        to changes in the residual term. This key figure is calculated for plain vanilla
        warrants only.
      example:
        effective: 6.704019297950036
        unadjusted: 3.353193347011243
      properties:
        effective:
          description: Weekly theta calculated using the actual cover ratio of the
            securitized derivative.
          format: real
          type: number
        unadjusted:
          description: Weekly theta calculated using a (hypothetical) cover ratio
            of 1:1.
          format: real
          type: number
      type: object
      x-property-sort:
      - effective
      - unadjusted
    inline_response_200_3_data_vega:
      description: Ask-based vega. It represents the first partial derivative of the
        function determining the derivative notation's theoretical price with respect
        to the implied volatility, evaluated at the current implied volatility. Vega
        indicates the ratio of the absolute change of the price of a derivative for
        an absolute change of the implied volatility, thus it represents the price
        sensitivity of the derivative relative to changes in the implied volatility.
        This key figure is calculated for plain vanilla warrants only.
      example:
        effective: 3.0937452626664474
        unadjusted: 7.143538047012306
      properties:
        effective:
          description: Vega calculated using the actual cover ratio of the securitized
            derivative.
          format: real
          type: number
        unadjusted:
          description: Vega calculated using a (hypothetical) cover ratio of 1:1.
          format: real
          type: number
      type: object
      x-property-sort:
      - effective
      - unadjusted
    inline_response_200_3_data:
      description: Notation-based key figures of the securitized derivative.
      example:
        agio:
          annualized: 8.762042012749001
          absolute: 9.369310271410669
          relative: 6.683562403749608
        breakEven:
          distance:
            absolute: 6.965117697638846
            relative: 1.284659006116532
          breakEvenPoint: 3.5571952270680973
        leverage: 0.8851374739011653
        sidewaysYield:
          annualized: 1.1730742509559433
          absolute: 6.84685269835264
          relative: 7.457744773683766
        performanceIssue:
          ask:
            annualized: 3.616076749251911
            absolute: 7.061401241503109
            relative: 9.301444243932576
          bid:
            annualized: 7.386281948385884
            absolute: 2.027123023002322
            relative: 4.145608029883936
        underlyings:
        - level:
            time: time
            value: 5.962133916683182
          notation:
            instrument:
              id: id
            id: id
          name: name
          valueUnit:
            code: code
            id: 5.637376656633329
        - level:
            time: time
            value: 5.962133916683182
          notation:
            instrument:
              id: id
            id: id
          name: name
          valueUnit:
            code: code
            id: 5.637376656633329
        parity: 7.740351818741173
        delta:
          effective: 6.878052220127876
          unadjusted: 5.944895607614016
        discount:
          absolute: 9.018348186070783
          relative: 6.438423552598547
        timeValue: 4.652396432933246
        impliedVolatility: 6.519180951018382
        omega: 7.058770351582356
        spread:
          harmonized: 2.8841621266687802
          relative: 6.778324963048013
        thetaOneWeek:
          effective: 6.704019297950036
          unadjusted: 3.353193347011243
        bonusYield:
          annualized: 1.4894159098541704
          absolute: 1.2315135367772556
          relative: 1.0246457001441578
        maximumYield:
          annualized: 9.965781217890562
          absolute: 4.965218492984954
          relative: 5.025004791520295
        currency:
          code: code
          id: 2.3021358869347655
        prices:
          ask:
            price: 0.8008281904610115
            time: time
          valueUnit:
            code: code
            id: 1.4658129805029452
          bid:
            price: 6.027456183070403
            time: time
        intrinsicValue: 0.10263654006109402
        vega:
          effective: 3.0937452626664474
          unadjusted: 7.143538047012306
        outperformancePoint: 8.969578798196912
      properties:
        prices:
          $ref: '#/components/schemas/inline_response_200_3_data_prices'
        underlyings:
          description: Details of the underlyings.
          items:
            $ref: '#/components/schemas/inline_response_200_3_data_underlyings'
          type: array
        currency:
          $ref: '#/components/schemas/inline_response_200_3_data_currency'
        performanceIssue:
          $ref: '#/components/schemas/inline_response_200_3_data_performanceIssue'
        bonusYield:
          $ref: '#/components/schemas/inline_response_200_3_data_bonusYield'
        sidewaysYield:
          $ref: '#/components/schemas/inline_response_200_3_data_sidewaysYield'
        maximumYield:
          $ref: '#/components/schemas/inline_response_200_3_data_maximumYield'
        agio:
          $ref: '#/components/schemas/inline_response_200_3_data_agio'
        discount:
          $ref: '#/components/schemas/inline_response_200_3_data_discount'
        breakEven:
          $ref: '#/components/schemas/inline_response_200_3_data_breakEven'
        spread:
          $ref: '#/components/schemas/inline_response_200_3_data_spread'
        delta:
          $ref: '#/components/schemas/inline_response_200_3_data_delta'
        thetaOneWeek:
          $ref: '#/components/schemas/inline_response_200_3_data_thetaOneWeek'
        vega:
          $ref: '#/components/schemas/inline_response_200_3_data_vega'
        leverage:
          description: Ask-based leverage. It represents the ratio of the underlying
            level to the ask price of the securitized derivative, adjusted for the
            cover ratio and the currency cross rate. This key figure is calculated
            only for leveraged derivatives (e.g. warrants, knock-out certificates).
          format: real
          type: number
        omega:
          description: Ask-based omega. It represents unadjusted delta (see attribute
            `delta.unadjusted`) multiplied with the leverage (see attribute `leverage`),
            both calculated based on the ask price of the derivative. Omega indicates
            the elasticity of the securitized derivative's price regarding the underlying
            level. This key figure is calculated for plain vanilla warrants only.
          format: real
          type: number
        impliedVolatility:
          description: Ask-based implied volatility. It represents the volatility
            of the underlying that justifies the ask price of the derivative, when
            used as a parameter in the derivative's pricing model (such as Black-Scholes).
            Its value is a result of the pricing process, thus it represents the annual
            volatility of the underlying expected by the market participants until
            maturity of the derivative. This key figure is calculated for plain vanilla
            warrants only.
          format: relativeValue
          type: number
        intrinsicValue:
          description: Intrinsic value. It represents the difference between the underlying
            level and the strike of the securitized derivative, adjusted for the cover
            ratio and the currency cross rate. If the difference is negative, the
            intrinsic value is given as 0. The intrinsic value represents the theoretical
            profit from an immediate exercise of the derivative. This key figure is
            calculated for plain vanilla warrants only.
          format: real
          type: number
        timeValue:
          description: Ask-based time value. It represents the difference between
            the ask price of the securitized derivative and its intrinsic value (see
            attribute `intrinsicValue`). This key figure is calculated for plain vanilla
            warrants only.
          format: real
          type: number
        outperformancePoint:
          description: Ask-based outperformance point. It represents the underlying
            level from which the underlying starts to outperform the securitized derivative,
            thus the investor would be better off investing directly in the underlying.
            It is calculated only for securitized derivatives with a limited payout
            (e.g. capped products). This key figure is not calculated for securitized
            derivatives with multiple underlyings. For the value unit, see attribute
            `underlyings.valueUnit`.
          format: real
          type: number
        parity:
          description: Parity. It represents the difference between the underlying
            level and the strike of the derivative, adjusted for the cover ratio and
            the currency cross rate. Negative values are possible. It is the gain
            or loss that would result from the immediate exercise of an already present
            warrant and a simultaneously executed compensation transaction on the
            spot markets. This key figure is calculated for plain vanilla warrants
            only.
          format: real
          type: number
      type: object
      x-property-sort:
      - prices
      - underlyings
      - currency
      - performanceIssue
      - bonusYield
      - sidewaysYield
      - maximumYield
      - agio
      - discount
      - breakEven
      - spread
      - delta
      - thetaOneWeek
      - vega
      - leverage
      - omega
      - impliedVolatility
      - intrinsicValue
      - timeValue
      - outperformancePoint
      - parity
    inline_response_200_3:
      example:
        data:
          agio:
            annualized: 8.762042012749001
            absolute: 9.369310271410669
            relative: 6.683562403749608
          breakEven:
            distance:
              absolute: 6.965117697638846
              relative: 1.284659006116532
            breakEvenPoint: 3.5571952270680973
          leverage: 0.8851374739011653
          sidewaysYield:
            annualized: 1.1730742509559433
            absolute: 6.84685269835264
            relative: 7.457744773683766
          performanceIssue:
            ask:
              annualized: 3.616076749251911
              absolute: 7.061401241503109
              relative: 9.301444243932576
            bid:
              annualized: 7.386281948385884
              absolute: 2.027123023002322
              relative: 4.145608029883936
          underlyings:
          - level:
              time: time
              value: 5.962133916683182
            notation:
              instrument:
                id: id
              id: id
            name: name
            valueUnit:
              code: code
              id: 5.637376656633329
          - level:
              time: time
              value: 5.962133916683182
            notation:
              instrument:
                id: id
              id: id
            name: name
            valueUnit:
              code: code
              id: 5.637376656633329
          parity: 7.740351818741173
          delta:
            effective: 6.878052220127876
            unadjusted: 5.944895607614016
          discount:
            absolute: 9.018348186070783
            relative: 6.438423552598547
          timeValue: 4.652396432933246
          impliedVolatility: 6.519180951018382
          omega: 7.058770351582356
          spread:
            harmonized: 2.8841621266687802
            relative: 6.778324963048013
          thetaOneWeek:
            effective: 6.704019297950036
            unadjusted: 3.353193347011243
          bonusYield:
            annualized: 1.4894159098541704
            absolute: 1.2315135367772556
            relative: 1.0246457001441578
          maximumYield:
            annualized: 9.965781217890562
            absolute: 4.965218492984954
            relative: 5.025004791520295
          currency:
            code: code
            id: 2.3021358869347655
          prices:
            ask:
              price: 0.8008281904610115
              time: time
            valueUnit:
              code: code
              id: 1.4658129805029452
            bid:
              price: 6.027456183070403
              time: time
          intrinsicValue: 0.10263654006109402
          vega:
            effective: 3.0937452626664474
            unadjusted: 7.143538047012306
          outperformancePoint: 8.969578798196912
        meta:
          status:
            code: 6.84685269835264
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_3_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _securitizedDerivative_notation_ranking_intraday_list_data_prices:
      description: Price-related parameters.
      properties:
        quality:
          default: DLY
          description: Quality of the trade-related attributes, see attributes `trade`
            and `accumulated` in the response.
          enum:
          - RLT
          - DLY
          type: string
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15
            to 30 minutes.'
      type: object
      x-property-sort:
      - quality
    _securitizedDerivative_notation_ranking_intraday_list_data_valueUnit:
      description: Value unit of the notations in the result. The parameter ensures
        the consistency and comparability of the absolute and relative performance
        for all securitized derivatives, and of the trading value for securitized
        derivatives quoted in percent. See response attributes `trade.performance.absolute`
        and `trade.performance.relative`, and `accumulated.tradingValue` respectively.
      properties:
        id:
          description: Identifier of the value unit. See endpoint `/basic/valueUnit/list`
            for valid values.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _securitizedDerivative_notation_ranking_intraday_list_data_currency:
      description: Main currency of the trading value and volume for securitized derivatives
        quoted in percent. The parameter ensures the consistency and comparability
        of the trading value and trading volume for such securitized derivatives.
        For securitized derivatives not quoted in percent, the currency and the value
        unit, see parameter `valueUnit`, are identical, thus it is not neccessary
        to specify the currency if the value unit has been specified.
      properties:
        id:
          description: Identifier of the main currency. See endpoint `/basic/valueUnit/currency/main/list`
            for valid values.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _securitizedDerivative_notation_ranking_intraday_list_data_market:
      description: Market-related parameters. See endpoint `/basic/market/list` for
        valid values.
      properties:
        ids:
          description: List of market identifiers. Only securitized derivatives that
            are traded on a market in the provided list are returned. The list restricts
            the request to only those markets.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 1
          minItems: 1
          type: array
          uniqueItems: true
      required:
      - ids
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_notation_ranking_intraday_list_data_instrumentRestrictionList:
      description: Instrument-level restriction. If present, the result contains only
        securitized derivatives that are a member of at least one of the provided
        lists.
      properties:
        ids:
          description: List of identifiers of restriction lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_notation_ranking_intraday_list_data_notationRestrictionList:
      description: Notation-level restriction. If present, the result contains only
        securitized derivatives that are a member of at least one of the provided
        lists.
      properties:
        ids:
          description: List of identifiers of restriction lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_notation_ranking_intraday_list_data_category:
      description: Only securitized derivatives that belong to at least one category
        in the provided list will be returned.
      properties:
        ids:
          description: List of category identifiers. See endpoint `/category/listBySystem`
            for category systems 18 and 23 for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          minItems: 1
          type: array
          uniqueItems: true
      required:
      - ids
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_notation_ranking_intraday_list_data_registrationCountry:
      description: Only securitized derivatives registered for trading in a country
        in the provided list are returned.
      properties:
        ids:
          description: List of country identifiers. See endpoint `/basic/region/country/list`
            for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _securitizedDerivative_notation_ranking_intraday_list_data_lifeCycle_maturity:
      description: Parameters related to the maturity.
      properties:
        perpetual:
          default: include
          description: Specifies whether or not perpetual securitized derivatives,
            i.e. such that do not mature, are included in the result.
          enum:
          - only
          - include
          - exclude
          type: string
          x-enum-description:
          - Only perpetual securitized derivatives are included in the result.
          - Perpetual securitized derivatives are included in the result.
          - Perpetual securitized derivatives are excluded from the result.
      type: object
      x-property-sort:
      - perpetual
    _securitizedDerivative_notation_ranking_intraday_list_data_lifeCycle:
[...]
