openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems, Inc.
  description: "\n\nThe FactSet Concordance API enables Application Developers and\
    \ Data Scientists to programmatically discover the FactSet Identifier for a specific\
    \ Entity or Person based on attributes, such as name, URL, and location.FactSet\
    \ Identifiers are mapped to industry-standard identifiers, as well as to a comprehensive\
    \ set of reference data and unique content, to enhance the ability to quickly\
    \ connect content sets.<p>  \n\n Using the submitted attributes, the FactSet Concordance\
    \ API leverages FactSet’s extensive Entity Master, People, and Symbology databases\
    \ to return potential candidate matches and a proposed match. The result is a\
    \ concorded FactSet Identifier that can then be used as input throughout FactSet's\
    \ expanding catalog of Content using our Content APIs or Standard DataFeeds.</p>\n\
    \ \n <b>There are two types of workflows supported in the API:</b>\n \n <b>Entity\
    \ & People Match:</b> The first workflow follows traditional API conventions in\
    \ that a request is accepted and a response is returned synchronously enabling\
    \ the concordance of up to 25 names in a single request. The response returns\
    \ a list of 20 candidates as well as a proposed match.\n \n <b>Entity & People\
    \ Match - Bulk:</b> The second workflow allows you to input a large list of names\
    \ within a .CSV file in a single request With this workflow, a task is created\
    \ for uploading a set of queries. Once the task has completed, the client retrieves\
    \ the concordance results through the /entity-decisions or /people-decisions endpoint.\
    \ Note that in the Bulk workflow, only the matches for the records are returned.\
    \ Candidates are not included.\n \n Once the service has provided a list of concorded\
    \ FactSet Identifiers, you can then use our Entity Mappings and People Mappings\
    \ endpoints to further review the universe of mapped identifiers or modify existing\
    \ records. </p><p><b>Rate limit is set to 10 requests per second</b>.</p>\n \n\
    \ Methodology Guide link: \n [https://open.factset.com/api/public/media/download/products/documents/8ca33e81-a7da-4d77-a8cf-2b3a2e868b3d](https://open.factset.com/api/public/media/download/products/documents/8ca33e81-a7da-4d77-a8cf-2b3a2e868b3d)\n\
    \n \n"
  title: FactSet Concordance API
  version: 2.8.0
servers:
- description: Production Server
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Retrieve a list of Entity Matches and Candidates for up to 25 names.
  name: Entity Match
- description: Submit a file with a large list of entity names and attributes and
    retrieve decisions once mapped.
  name: Entity Match - Bulk
- description: Create, View, and Manage Universes where mappings are saved.
  name: Universes
- description: View all Saved Mappings in a Universe or update and save mappings made
    of ClientIds and Names to FactSet Entity Ids
  name: Mappings
- description: The response is formatted specifically for Snowflake environment and
    not used by consumers outside of Snowflake.
  name: Snowflake
- description: Retrieve a list of People Matches.
  name: People Match
- description: Used to save a single People Mapping to a given universe
  name: People Mapping
paths:
  /factset-concordance/v2/entity-match:
    get:
      description: |
        Finds the best candidate entities matching the given entity name. Additional attributes can be supplied to narrow the search, such as State, URL, and Entity Types. <p>**Max of 1 Name permitted in a single GET request.** Use the POST method for /entity-match to fetch up to 25 names. Otherwise, use the "Entity Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p>
      operationId: getEntityMatch
      parameters:
      - description: Name of Entity to match.
        example: Tesla
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: ISO2 country code corresponding to the entity name that is used
          when evaluating candidates for a match. For a list of ISO2 Country codes,
          visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Two-character state code corresponding to the entity name that
          is used when evaluating candidates for a match. Currently, only US state
          codes are supported.
        example: TX
        explode: true
        in: query
        name: state
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: URL corresponding to the entity name that is used when evaluating
          candidates for a match.
        example: www.tesla.com
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - description: |
          Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
            |---|---|---|---|
            |ABS|Asset-Backed||MED|Broadcast Call Sign|
            |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
            |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
            |CMD|Commodity||MUT|Mutual Fd-Open End|
            |COL|College/University||NPO|Non-Profit Organization|
            |CUR|Currency||OPD|Operating Division|
            |ESP|Emp Stk Ownership Plan||OTH|Other|
            |EXT|Extinct||PEF|Pension Fund|
            |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
            |FND|Foundation/Endowment||PUB|Public Company|
            |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
            |FRX|ForEx||PVT|Private Company|
            |GOV|Government||SOV|Sovereign Wealth Fund|
            |HED|Hedge Fund||SUB|Subsidiary|
            |HOL|Holding Company||TRU|Trust/Trustee|
            |IDX|Index||UMB|Umbrella Fund|
            |VEN|Venture Capital Fund||JVT|Joint Venture|
        explode: true
        in: query
        name: includeEntityType
        required: false
        schema:
          items:
            example: PUB
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      - description: |
          Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Candidates with an entity type specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
            |---|---|---|---|
          |ABS|Asset-Backed||MED|Broadcast Call Sign|
          |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
          |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
          |CMD|Commodity||MUT|Mutual Fd-Open End|
          |COL|College/University||NPO|Non-Profit Organization|
          |CUR|Currency||OPD|Operating Division|
          |ESP|Emp Stk Ownership Plan||OTH|Other|
          |EXT|Extinct||PEF|Pension Fund|
          |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
          |FND|Foundation/Endowment||PUB|Public Company|
          |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
          |FRX|ForEx||PVT|Private Company|
          |GOV|Government||SOV|Sovereign Wealth Fund|
          |HED|Hedge Fund||SUB|Subsidiary|
          |HOL|Holding Company||TRU|Trust/Trustee|
          |IDX|Index||UMB|Umbrella Fund|
          |VEN|Venture Capital Fund||JVT|Joint Venture|
        explode: true
        in: query
        name: excludeEntityType
        required: false
        schema:
          items:
            example: EXT
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      - description: |
          Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
            |---|---|---|---|
            |AR|Arbitrage|IC|Investment Company|
            |BM|Bank Investment Division|IN|Insurance Company|
            |BR|Broker|MF|Mutual Fund Manager|
            |CP|Corporate|ML|Master Ltd Part|
            |CU|Custodial|MM|Market Maker|
            |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
            |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
            |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
            |FS|Fund Distributor|RE|Research Firm|
            |FU|Fund|SB|Subsidiary Branch|
            |FY|Family Office|ST|Stock Borrowing/Lending|
            |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
            |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
            |IA|Investment Adviser|
            |IB|Investment Banking|
        explode: true
        in: query
        name: includeEntitySubType
        required: false
        schema:
          items:
            example: PR
            maxLength: 2
            minLength: 2
            type: string
          type: array
        style: form
      - description: |
          Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will not be considered for the final match result. Multiple types can be entered separated by commas.
          |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
          |---|---|---|---|
          |AR|Arbitrage|IC|Investment Company|
          |BM|Bank Investment Division|IN|Insurance Company|
          |BR|Broker|MF|Mutual Fund Manager|
          |CP|Corporate|ML|Master Ltd Part|
          |CU|Custodial|MM|Market Maker|
          |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
          |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
          |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
          |FS|Fund Distributor|RE|Research Firm|
          |FU|Fund|SB|Subsidiary Branch|
          |FY|Family Office|ST|Stock Borrowing/Lending|
          |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
          |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
          |IA|Investment Adviser|
          |IB|Investment Banking|
        explode: true
        in: query
        name: excludeEntitySubType
        required: false
        schema:
          items:
            example: HF
            maxLength: 2
            minLength: 2
            type: string
          type: array
        style: form
      - description: Flag to include parent entities in the list of candidates. This
          parameter does not influence the match result.
        explode: true
        in: query
        name: includeParent
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Input identifiers for the Bloomberg Listing/Regional/Security
          ID symbol type.
        explode: true
        in: query
        name: bbgFigi
        required: false
        schema:
          example: BBG000N9P426
          type: string
        style: form
      - description: Input identifiers for the Bloomberg Listing and Regional Ticker
          symbol Type.
        explode: true
        in: query
        name: bbgTicker
        required: false
        schema:
          example: TSLA UW
          type: string
        style: form
      - description: Input identifiers for the BICCode - Bank Indentification Code
          symbol Type.
        explode: true
        in: query
        name: bic
        required: false
        schema:
          example: TSLAUS66
          type: string
        style: form
      - description: Input identifiers for the CIK - Edgar Central Index Keys symbol
          type.
        explode: true
        in: query
        name: cik
        required: false
        schema:
          example: "1318605"
          type: string
        style: form
      - description: Input identifiers for the CRD - Central Registration Depository
          symbol type.
        explode: true
        in: query
        name: crd
        required: false
        schema:
          example: CRD
          type: string
        style: form
      - description: Input identifiers for the CUSIP symbol type.
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          example: 88160R101
          type: string
        style: form
      - description: Input identifiers for the DUNS - Dun & Bradstreet Data Universal
          Numbering System symbol type.
        explode: true
        in: query
        name: duns
        required: false
        schema:
          example: Dun&Bradstreet
          type: string
        style: form
      - description: Input identifiers for the EIN - Employer Identification Number
          symbol type.
        explode: true
        in: query
        name: ein
        required: false
        schema:
          example: "912197729"
          type: string
        style: form
      - description: Input identifiers for the type FactSet Identifier - FactSet -E,-S,-R,
          -L Permanent Identifier symbol type.
        explode: true
        in: query
        name: factsetId
        required: false
        schema:
          example: 006XY7-E
          type: string
        style: form
      - description: Input identifiers for the Fitch - Fitch Ratings symbol type.
        explode: true
        in: query
        name: fitch
        required: false
        schema:
          example: FitchCreditRating
          type: string
        style: form
      - description: Input identifiers for the type GVKEY - Compustat Global Company
          Key symbol type.
        explode: true
        in: query
        name: gvkey
        required: false
        schema:
          example: GVKey
          type: string
        style: form
      - description: Input identifiers for the type GVKEY+IID - Compustat Global Company
          Key and Issue Identifier symbol type.
        explode: true
        in: query
        name: gvkeyIid
        required: false
        schema:
          example: GVKeyIssueIdentifier
          type: string
        style: form
      - description: Input identifiers for the ISIN - International Securities Identification
          Number symbol type.
        explode: true
        in: query
        name: isin
        required: false
        schema:
          example: US88160R1014
          type: string
        style: form
      - description: Input identifiers for the type JCN - Japanese Corporate Number
          symbol type.
        explode: true
        in: query
        name: jcn
        required: false
        schema:
          example: JCN
          type: string
        style: form
      - description: Input identifiers for the LEI - Legal Entity Identifier symbol
          type
        explode: true
        in: query
        name: lei
        required: false
        schema:
          example: 54930043XZGB27CTOV49
          type: string
        style: form
      - description: Input identifiers for the type LXID - Markit Syndicated Loan
          Identifier symbol type.
        explode: true
        in: query
        name: lxid
        required: false
        schema:
          example: LXID
          type: string
        style: form
      - description: Input identifiers for the Moody's Ratings Identifier type.
        explode: true
        in: query
        name: md
        required: false
        schema:
          example: "823642219"
          type: string
        style: form
      - description: Input identifiers for the type Red Code - Markit Reference Entity
          Identifier symbol type.
        explode: true
        in: query
        name: redCode
        required: false
        schema:
          example: RedCode
          type: string
        style: form
      - description: Input identifiers for the RSSD - Federal Reserve RSSD symbol
          typ.
        explode: true
        in: query
        name: rssd
        required: false
        schema:
          example: FederalReserveRSSDIdentifier
          type: string
        style: form
      - description: Input identifiers for the SEDOL symbol type.
        explode: true
        in: query
        name: sedol
        required: false
        schema:
          example: B616C79
          type: string
        style: form
      - description: Input identifiers for the Price Ticker symbol type.
        explode: true
        in: query
        name: spr
        required: false
        schema:
          example: "562703"
          type: string
        style: form
      - description: Input identifiers for the Price Ticker symbol type.
        explode: true
        in: query
        name: ticker
        required: false
        schema:
          example: PriceTicker
          type: string
        style: form
      - description: Input identifiers for the TickerExchange.
        explode: true
        in: query
        name: tickerExchange
        required: false
        schema:
          example: TSLA-NAS
          type: string
        style: form
      - description: Input identifiers for the TickerRegion.
        explode: true
        in: query
        name: tickerRegion
        required: false
        schema:
          example: TSLA-US
          type: string
        style: form
      - description: Input identifiers for the UKCH - UK Company House symbol type.
        explode: true
        in: query
        name: ukch
        required: false
        schema:
          example: UKCompanyHouse
          type: string
        style: form
      - description: Input identifiers for the Valoren ("Valor") symbol type.
        explode: true
        in: query
        name: valoren
        required: false
        schema:
          example: VALOR
          type: string
        style: form
      - description: Input identifiers for the WKN - German Securities symbol type.
        explode: true
        in: query
        name: wkn
        required: false
        schema:
          example: A1CX3T
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/EntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get Entity Candidates and Matches for a single name and attributes.
      tags:
      - Entity Match
      x-accepts: application/json
    post:
      description: |
        Finds the best candidate entities matching the given entity name. If a `universeId` is provided, any match for an input including a `clientId` will be saved to that universe. Additional attributes can be supplied to narrow the search, such as State, URL, and Entity Types. Finds the best candidate entities matching the given company name. Additional attributes can be supplied to narrow the search.  <p>**Max of 25 Names inputted.** Use the "Entity Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p> Supported types of Entities in which the names can match to include -
          * Corporations, Joint Ventures, and Holding Companies
          * Fund Managers and various Fund Types (Open-end, Closed End, Hedge, Soverign Wealth, Pension, Exchange Traded, and more).</p>
      operationId: getEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMatchRequestV2'
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/EntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get a list of Entity Candidates and Matches for a requested list of
        up to 25 names and attributes.
      tags:
      - Entity Match
      x-contentType: application/json;charset=utf-8
      x-accepts: application/json
  /factset-concordance/v2/entity-task:
    post:
      description: |
        Upload a Comma-Separated List file (.csv / UTF-8 encoding) with a list of names and attributes and receive a `taskId`. [Concordance Sample Template File](https://my.apps.factset.com/oa/cms/oaAttachment/57096850-3834-49fd-9d35-d02d72bdb142/27317). The taskId is then used for reference in the */entity-task-status* and */entity-decisions* endpoints to receive results once the task is successful.<p>This is the first step in the overall "Bulk" workflow. Use the /entity-task-status endpoint to check the status.</p> <p> A universeId must be included in request. If you do not have a universe created, reference the `/universe` endpoint.
      operationId: getEntityTaskForList
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                universeId:
                  description: The id of the universe that entities should be mapped
                    to. Reference the `/universe` endpoint to create a universe, or
                    view available universes via `/universes`.
                  example: 1
                  type: integer
                taskName:
                  description: User defined name for the task that will be used to
                    name the output files.
                  example: test31
                  type: string
                inputFile:
                  description: |
                    The UTF-8 encoded CSV File containing the entity names to be concorded to a FactSet Entity Identifier. The files first row **MUST** include headers as defined in the *Column parameters. Be mindful of casing and spacing in column headers. The input file is posted as a file object in the form. For this reason, the mime type of this post request must be multipart/form-data.
                  format: binary
                  type: string
                clientIdColumn:
                  description: |
                    Header Name of the column in the input file that contains a unique identifier supplied by the user referred to as a "clientId". This clientId can be used to create custom mappings or references.
                  example: ClientId
                  type: string
                nameColumn:
                  description: |
                    Header name of the column in the input file that contains the Entity Name to be matched.
                  example: NAME
                  type: string
                countryColumn:
                  description: |
                    Header Name of the column in the input file that contains the country's ISO Code. This is used to filter the candidates before taking a match decision.
                  example: COUNTRY
                  type: string
                urlColumn:
                  description: |
                    Header Name of the column in the input file that contains the Entity's URL. URL corresponding to the entity name that is used when evaluating candidates for a match.
                  example: URL
                  type: string
                stateColumn:
                  description: |
                    Header Name of the column in the input file that contains the two letter State Code of the state or province where the Entity is located. Currently, only US state codes are supported.
                  example: STATE
                  type: string
                priorityColumn:
                  description: |
                    Header Name of the column in the inputfile that contains the priority for the client id.
                  example: Priority
                  type: string
                bbgFigiColumn:
                  description: Header Name of the column in the input file for the
                    type `Bloomberg Listing/Regional/Security ID`.
                  example: BloombergId
                  type: string
                bbgTickerColumn:
                  description: Header Name of the column in the input file for the
                    type Bloomberg `Listing and Regional Ticker`.
                  example: BloombergTicker
                  type: string
                bicColumn:
                  description: |
                    Header Name of the column in the input file for the type BICCode, `bank indentification code`.
                  example: BICCode
                  type: string
                cikColumn:
                  description: Header Name of the column in the input file for the
                    type CIK, `Edgar Central Index Keys`
                  example: CIK
                  type: string
                crdColumn:
                  description: Header Name of the column in the input file for the
                    type CRD, `Central Registration Depository`.
                  example: CRD
                  type: string
                cusipColumn:
                  description: Header Name of the column in the input file for the
                    type `CUSIP`
                  example: CUSIP
                  type: string
                dunsColumn:
                  description: Header Name of the column in the input file for the
                    type DUNS, `Dun&Bradstreet`.
                  example: Dun&Bradstreet
                  type: string
                einColumn:
                  description: Header Name of the column in the input file for the
                    type EIN, `EmployerIdentificationNumber`.
                  example: EmployerIdentificationNumber
                  type: string
                factsetIdColumn:
                  description: Header Name of the column in the input file for the
                    type FactSet Identifier - `FactSet -E,-S,-R, -L Permanent Identifier`.
                  example: FactSetIdentifier
                  type: string
                fitchColumn:
                  description: Header Name of the column in the input file for the
                    type FitchCreditRating, `Fitch Ratings Identifier`.
                  example: FitchCreditRating
                  type: string
                gvkeyColumn:
                  description: Header Name of the column in the input file for the
                    type GVKEY - `Compustat Global Company Key`.
                  example: GVKey
                  type: string
                gvkeyIidColumn:
                  description: Header Name of the column in the input file for the
                    type GVKEY+IID - `Compustat Global Company Key and Issue Identifier`.
                  example: GVKeyIssueIdentifier
                  type: string
                isinColumn:
                  description: Header Name of the column in the input file for the
                    type `ISIN`.
                  example: ISIN
                  type: string
                jcnColumn:
                  description: Header Name of the column in the input file for the
                    type JCN - `Japanese Corporate Number`.
                  example: JCN
                  type: string
                leiColumn:
                  description: Header Name of the column in the input file for the
                    type LEI, `LegalEntityIdentifier`.
                  example: LegalEntityIdentifier
                  type: string
                lxidColumn:
                  description: Header Name of the column in the input file for the
                    type LXID - `Markit Syndicated Loan Identifier`.
                  example: LXID
                  type: string
                mdColumn:
                  description: Header Name of the column in the input file for the
                    type MoodysIssuer, `Moody's Ratings Identifier`.
                  example: MoodysIssuer
                  type: string
                redCodeColumn:
                  description: Header Name of the column in the input file for the
                    type Red Code - `Markit Reference Entity Identifier`.
                  example: RedCode
                  type: string
                rssdColumn:
                  description: Header Name of the column in the input file for the
                    type RSSD, `FederalReserveRSSDIdentifier`.
                  example: FederalReserveRSSDIdentifier
                  type: string
                sedolColumn:
                  description: Header Name of the column in the input file for the
                    type `SEDOL`.
                  example: SEDOL
                  type: string
                sprColumn:
                  description: Header Name of the column in the input file for the
                    type S&PRating, `S&P Ratings Identifier`.
                  example: SPRating
                  type: string
                tickerColumn:
                  description: Header Name of the column in the input file for the
                    type `PriceTicker`.
                  example: PriceTicker
                  type: string
                tickerExchangeColumn:
                  description: Header Name of the column in the input file for the
                    type `TickerExchange`.
                  example: TickerExch
                  type: string
                tickerRegionColumn:
                  description: Header Name of the column in the input file for the
                    type `TickerRegion`.
                  example: TickerRegion
                  type: string
                ukchColumn:
                  description: Header Name of the column in the input file for the
                    type `UKCompanyHouse`.
                  example: UKCompanyHouse
                  type: string
                valorenColumn:
                  description: Header Name of the column in the input file for the
                    type VALOR, `Valoren ("Valor") Identification`.
                  example: VALOR
                  type: string
                wknColumn:
                  description: Header Name of the column in the input file for the
                    type WKN, `German Securities Identification`.
                  example: WKN
                  type: string
                includeEntityType:
                  description: |
                    Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas. **Do not include within `inputFile`.**
                  items:
                    example: PUB
                    maxLength: 3
                    minLength: 3
                    type: string
                  type: array
                excludeEntityType:
                  description: |
                    Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Entities with these types will be excluded from the decisions.
                    It is a global option used to filter the candidates before taking a match decision.
                    Candidates with an entity type specified will *not* be considered for the final match result.
                    **Do not include within `inputFile`.**
                  items:
                    example: EXT
                    maxLength: 3
                    minLength: 3
                    type: string
                  type: array
                includeEntitySubType:
                  description: |
                    Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas. **Do not include within `inputFile`.**
                  items:
                    example: PR
                    maxLength: 2
                    minLength: 2
                    type: string
                  type: array
                excludeEntitySubType:
                  description: |
                    Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
                    **Do not include within `inputFile`.**
                  items:
                    example: IB
                    maxLength: 2
                    minLength: 2
                    type: string
                  type: array
                additionalContextColumns:
                  description: |
                    Comma separated list of any additional column names in the input file.  To be used by Managed Service for any unmapped records.
                  items:
                    example: Address
                    type: string
                  maxItems: 5
                  type: array
              required:
              - clientIdColumn
              - inputFile
              - nameColumn
              - taskName
              - universeId
              type: object
        description: Entity Request object. Used to create an Entity Task.
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Pending Task:
                  $ref: '#/components/examples/PendingTask'
              schema:
                $ref: '#/components/schemas/EntityTaskResponse'
          description: OK. The Entity Task creation is submitted.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Input a file with names and attributes, creating a taskId.
      tags:
      - Entity Match - Bulk
      x-contentType: multipart/form-data
      x-accepts: application/json
  /factset-concordance/v2/entity-task-status:
    get:
      description: |
        Pulls the **status** for ALL the Entity Tasks submitted by a client within the last 30 days, and related details such as task duration and decision rates. Specific Tasks can also be retrieved by using the _taskId_ parameter.<p>Status types include -
          * PENDING - The task has not yet started.
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      operationId: getEntityTaskStatus
      parameters:
      - description: Name of the column for the type Concordance Task Identifier.
          The taskId is created in response from the /entity-task endpoint.
        example: 31589
        explode: true
        in: query
        name: taskId
        required: false
        schema:
          type: integer
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 10000
          type: integer
        style: form
      - description: |
          Filter on the status of the Concordance Tasks. Default is no filter.
            * PENDING - The task has not yet started
            * IN_PROGRESS - The task is submitted and decisions are in progress.
            * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
            * FAILURE - The task failed. Reach out to FactSet Support for assistance.
            * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
            * ABORTED - The task was aborted.
        explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - PENDING
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
            - BAD_REQUEST
            - ABORTED
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Successful Entity Task:
                  $ref: '#/components/examples/SuccessfulEntityTasks'
                Pending Task:
                  $ref: '#/components/examples/PendingTasks'
                Bad Task:
                  $ref: '#/components/examples/BadTasks'
                Failed Task:
                  $ref: '#/components/examples/FailedTasks'
              schema:
                $ref: '#/components/schemas/EntityTaskStatusResponse'
          description: Response object for Task Status endpoint.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the status of the requested taskId or all tasks for a User
      tags:
      - Entity Match - Bulk
      x-accepts: application/json
  /factset-concordance/v2/entity-decisions:
    get:
      description: |
        Retrieves the `Decision` objects for an Entity Task (taskId). The decisions do not include all candidates, but rather the results of concording the requested list of names included in the input file. Mapped entities will include a FactSet Entity Identifier (-E). Results will be saved to the `universeId` specified in the input file.
      operationId: getEntityDecisions
      parameters:
      - description: Name of the column for the type Concordance Task Identifier.
          The taskId is created in response from the /entity-task endpoint.
        example: 31589
        explode: true
        in: query
        name: taskId
        required: true
        schema:
          type: integer
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 10000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Decisions:
                  $ref: '#/components/examples/EntityDecisions'
              schema:
                $ref: '#/components/schemas/EntityDecisionsResponse'
          description: Response object for Entity Decisions endpoint.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get the decisions of matches for the requested taskId.
      tags:
      - Entity Match - Bulk
      x-accepts: application/json
  /factset-concordance/v2/universe:
    post:
      description: |
        Create a new universe that is distinct from any existing universe
      operationId: getUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/CreateUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Update Universe Response:
                  $ref: '#/components/examples/UpdateUniversePostResponse'
              schema:
                $ref: '#/components/schemas/UniverseMetaResponse'
          description: Metadata on a single universe
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error Response
      summary: Create a new universe
      tags:
      - Universes
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/entity-universe:
    get:
      description: |
        Retrieves all entity mappings within a requested universe.
      operationId: getEntityUniverse
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      - description: |
          Filter by the clientId(s) created by the user in a previous mapping.
        example:
        - abc-123
        - def-456
        explode: false
        in: query
        name: clientId
        required: false
        schema:
          items:
            example: EXT
            type: string
          type: array
        style: form
      - description: |
          Filter by the Entity Decisions that have the specified mapStatus, where -
            * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
            * UNMAPPED - The requested Entity Name is unmapped by FactSet.
            * INDETERMINATE - The requested Entity Name was unable to make a mapping.
        explode: true
        in: query
        name: mapStatus
        required: false
        schema:
          example: MAPPED
          items:
            enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
            type: string
          type: array
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 10000
          type: integer
        style: form
      - description: Sort clientId, createdTime, updatedTime, clientName, entityId
          fields in ascending or descending order with asc and desc to indicate the
          order. Example (clientId:asc)
        example:
        - clientId:asc
        - clientName:desc
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: clientId:asc
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Universe:
                  $ref: '#/components/examples/EntityUniverse'
              schema:
                $ref: '#/components/schemas/EntityUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe
      tags:
      - Mappings
      x-accepts: application/json
    post:
      description: |
        Retrieves all entity mappings that were saved in a given universe. Supports filtering by a large number of `clientId`s
      operationId: getEntityUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/EntityUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Universe:
                  $ref: '#/components/examples/EntityUniverse'
              schema:
                $ref: '#/components/schemas/EntityUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe or large list
        of client ids
      tags:
      - Mappings
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/people-universe:
    get:
      description: |
        Retrieves all people mappings within a requested universe.
      operationId: getPeopleUniverse
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      - description: |
          Filter by the clientId(s) created by the user in a previous mapping.
        example:
        - abc-123
        - def-456
        explode: false
        in: query
        name: clientId
        required: false
        schema:
          items:
            example: EXT
            type: string
          type: array
        style: form
      - description: |
          Filter by the Entity Decisions that have the specified mapStatus, where -
            * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
            * UNMAPPED - The requested Entity Name is unmapped by FactSet.
            * INDETERMINATE - The requested Entity Name was unable to make a mapping.
        explode: true
        in: query
        name: mapStatus
        required: false
        schema:
          example: MAPPED
          items:
            enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
            type: string
          type: array
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 10000
          type: integer
        style: form
      - description: Sort clientId, createdTime, updatedTime, clientPersonName, personId
          fields in ascending or descending order with asc and desc to indicate the
          order. Example (clientId:asc)
        example:
        - clientId:asc
        - clientPersonName:desc
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: clientPersonName:desc
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Universe:
                  $ref: '#/components/examples/PeopleUniverse'
              schema:
                $ref: '#/components/schemas/PeopleUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe
      tags:
      - People Mapping
      x-accepts: application/json
    post:
      description: |
        Retrieves all people mappings that were saved in a given universe. Supports filtering by a large number of `clientId`s
      operationId: getPeopleUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Universe:
                  $ref: '#/components/examples/PeopleUniverse'
              schema:
                $ref: '#/components/schemas/PeopleUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe or large list
        of client ids
      tags:
      - People Mapping
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/update-universe:
    post:
      description: |
        Update metadata for an existing universe
      operationId: getUpdateUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/UpdateUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Update Universe Response:
                  $ref: '#/components/examples/UpdateUniversePostResponse'
              schema:
                $ref: '#/components/schemas/UniverseMetaResponse'
          description: Metadata on a single universe
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error Response
      summary: Update metadata for an existing universe
      tags:
      - Universes
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/universes:
    get:
      description: |
        Fetch information on active universes for the current user. Optionally filter for a specific universe given a `universeId`
      operationId: getUniverses
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: false
        schema:
          type: integer
        style: form
      - description: Universe Type.
        example: ENTITY
        explode: false
        in: query
        name: universeType
        required: false
        schema:
          enum:
          - ENTITY
          - PEOPLE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Universes Response:
                  $ref: '#/components/examples/UniversesExample'
              schema:
                $ref: '#/components/schemas/UniversesResponse'
          description: Metadata on multiple universes
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error Response
      summary: Fetch metadata for universes
      tags:
      - Universes
      x-accepts: application/json
  /factset-concordance/v2/entity-universe-statistics:
    get:
      description: |
        Get the total number of mappings in a universe, as well as the number of mapped, unmapped and indeterminate mappings
      operationId: getEntityUniverseStatistics
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Entity Universe Statistics Response:
                  $ref: '#/components/examples/EntityUniverseStatisticsExample'
              schema:
                $ref: '#/components/schemas/EntityUniverseStatisticsResponse'
          description: Response object for mapping statistics for a universe
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error Response
      summary: Get statistics on a given universe
      tags:
      - Universes
      x-accepts: application/json
  /factset-concordance/v2/universe-statistics:
    get:
      description: |
        Get the total number of mappings in a universe, as well as the number of mapped, unmapped and indeterminate mappings
      operationId: getUniverseStatistics
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Universe Statistics Response:
                  $ref: '#/components/examples/UniverseStatisticsGetExample'
              schema:
                $ref: '#/components/schemas/universeStatisticsResponse'
          description: Response object for mapping statistics for a universe
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error Response
      summary: Get statistics on a given universe
      tags:
      - Universes
      x-accepts: application/json
  /factset-concordance/v2/entity-mapping:
    post:
      description: |
        Saves a Concordance Mapping to the client universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and clientName are required.
      operationId: getEntityMappingForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingRequestV2'
      responses:
        "200":
          content:
            application/json:
              examples:
                Entity Response:
                  $ref: '#/components/examples/EntityResponse'
              schema:
                $ref: '#/components/schemas/EntityResponse'
          description: Response object for FactSet Concordance Entity.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Saves a single-mapping specified by the client.
      tags:
      - Mappings
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/people-mapping:
    post:
      description: |
        Saves a single Concordance People Mapping to a given universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and clientName are required.
      operationId: getPeopleMappingForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMappingRequestV2'
      responses:
        "200":
          content:
            application/json:
              examples:
                People Response:
                  $ref: '#/components/examples/PeopleResponse'
              schema:
                $ref: '#/components/schemas/PeopleMappingResponse'
          description: Single people mapping
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Saves a single-mapping specified by the client.
      tags:
      - People Mapping
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/entity-mapping-delete:
    post:
      description: |
        Delete a Concordance Mapping to the client universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and universeId are required.
      operationId: getEntityMappingDeleteForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingDeleteRequestV2'
      responses:
        "200":
          content:
            application/json:
              examples:
                Entity Mapping Delete Response:
                  $ref: '#/components/examples/EntityMappingDeletePostResponse'
              schema:
                $ref: '#/components/schemas/EntityMappingDeleteResponse'
          description: Response object for the entity-match object in a snowflake
            friendly response model.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
[...]
