openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems, Inc.
  description: |
    The FactSet Concordance API provides the ability to programmatically look up several types of entities by their name and other attributes. It attempts to match attributes that you supply for the entity and returns as many match candidates as it can find. The result is a "concorded" FactSet Entity Permanent identifier.  The Entity Identifier can then be used as input throughout FactSet's Content soultions, such as Content APIs and Standard DataFeeds.<p> There are two types of workflows supported in the API. The first workflow type follows traditional API conventions in that a request is accepted and a response is returned synchronously. The second workflow type involves a background task. With this workflow, a task is created for uploading a set of queries, and then the client polls for the task to complete. Once the task has completed, the client retrieves the concordance results throught the decisions endpoint.</p>
  title: FactSet Concordance API
  version: 2.0.0
servers:
- description: Production Server
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Retrieve a list of Entity Matches and Candidates for up to 25 names.
  name: Entity Match
- description: Submit a file with a large list of entity names and attributes and
    retrieve decisions once mapped.
  name: Entity Match - Bulk
- description: Create, View, and Manage Universes where mappings are saved.
  name: Universes
- description: View all Saved Mappings in a Universe or update and save mappings made
    of ClientIds and Names to FactSet Entity Ids
  name: Mappings
- description: The response is formatted specifically for Snowflake environment and
    not used by consumers outside of Snowflake.
  name: Snowflake
- description: Retrieve a list of People Matches.
  name: People Match
- description: Used to save a single People Mapping to a given universe
  name: People Mapping
paths:
  /factset-concordance/v2/entity-match:
    get:
      description: |
        Finds the best candidate entities matching the given entity name. Additional attributes can be supplied to narrow the search, such as State, URL, and Entity Types. <p>**Max of 1 Name permitted in a single GET request.** Use the POST method for /entity-match to fetch up to 25 names. Otherwise, use the "Entity Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p>
      operationId: getEntityMatch
      parameters:
      - description: Name of Entity to match.
        example: FactSet
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: ISO2 country code corresponding to the entity name that is used
          when evaluating candidates for a match. For a list of ISO2 Country codes,
          visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Two-character state code corresponding to the entity name that
          is used when evaluating candidates for a match. Currently, only US state
          codes are supported.
        example: CT
        explode: true
        in: query
        name: state
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: URL corresponding to the entity name that is used when evaluating
          candidates for a match.
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - description: |
          Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
            |---|---|---|---|
            |ABS|Asset-Backed||MED|Broadcast Call Sign|
            |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
            |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
            |CMD|Commodity||MUT|Mutual Fd-Open End|
            |COL|College/University||NPO|Non-Profit Organization|
            |CUR|Currency||OPD|Operating Division|
            |ESP|Emp Stk Ownership Plan||OTH|Other|
            |EXT|Extinct||PEF|Pension Fund|
            |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
            |FND|Foundation/Endowment||PUB|Public Company|
            |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
            |FRX|ForEx||PVT|Private Company|
            |GOV|Government||SOV|Sovereign Wealth Fund|
            |HED|Hedge Fund||SUB|Subsidiary|
            |HOL|Holding Company||TRU|Trust/Trustee|
            |IDX|Index||UMB|Umbrella Fund|
            |VEN|Venture Capital Fund||JVT|Joint Venture|
        explode: true
        in: query
        name: includeEntityType
        required: false
        schema:
          items:
            example: PUB
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      - description: |
          Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Candidates with an entity type specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
            |---|---|---|---|
          |ABS|Asset-Backed||MED|Broadcast Call Sign|
          |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
          |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
          |CMD|Commodity||MUT|Mutual Fd-Open End|
          |COL|College/University||NPO|Non-Profit Organization|
          |CUR|Currency||OPD|Operating Division|
          |ESP|Emp Stk Ownership Plan||OTH|Other|
          |EXT|Extinct||PEF|Pension Fund|
          |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
          |FND|Foundation/Endowment||PUB|Public Company|
          |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
          |FRX|ForEx||PVT|Private Company|
          |GOV|Government||SOV|Sovereign Wealth Fund|
          |HED|Hedge Fund||SUB|Subsidiary|
          |HOL|Holding Company||TRU|Trust/Trustee|
          |IDX|Index||UMB|Umbrella Fund|
          |VEN|Venture Capital Fund||JVT|Joint Venture|
        explode: true
        in: query
        name: excludeEntityType
        required: false
        schema:
          items:
            example: EXT
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      - description: |
          Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas.
            |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
            |---|---|---|---|
            |AR|Arbitrage|IC|Investment Company|
            |BM|Bank Investment Division|IN|Insurance Company|
            |BR|Broker|MF|Mutual Fund Manager|
            |CP|Corporate|ML|Master Ltd Part|
            |CU|Custodial|MM|Market Maker|
            |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
            |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
            |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
            |FS|Fund Distributor|RE|Research Firm|
            |FU|Fund|SB|Subsidiary Branch|
            |FY|Family Office|ST|Stock Borrowing/Lending|
            |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
            |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
            |IA|Investment Adviser|
            |IB|Investment Banking|
        explode: true
        in: query
        name: includeEntitySubType
        required: false
        schema:
          items:
            example: PR
            maxLength: 2
            minLength: 2
            type: string
          type: array
        style: form
      - description: |
          Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will not be considered for the final match result. Multiple types can be entered separated by commas.
          |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
          |---|---|---|---|
          |AR|Arbitrage|IC|Investment Company|
          |BM|Bank Investment Division|IN|Insurance Company|
          |BR|Broker|MF|Mutual Fund Manager|
          |CP|Corporate|ML|Master Ltd Part|
          |CU|Custodial|MM|Market Maker|
          |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
          |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
          |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
          |FS|Fund Distributor|RE|Research Firm|
          |FU|Fund|SB|Subsidiary Branch|
          |FY|Family Office|ST|Stock Borrowing/Lending|
          |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
          |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
          |IA|Investment Adviser|
          |IB|Investment Banking|
        explode: true
        in: query
        name: excludeEntitySubType
        required: false
        schema:
          items:
            example: HF
            maxLength: 2
            minLength: 2
            type: string
          type: array
        style: form
      - description: Flag to include parent entities in the list of candidates. This
          parameter does not influence the match result.
        explode: true
        in: query
        name: includeParent
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/EntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get Entity Candidates and Matches for a single name and attributes.
      tags:
      - Entity Match
      x-accepts: application/json
    post:
      description: |
        Finds the best candidate entities matching the given entity name. If a `universeId` is provided, any match for an input including a `clientId` will be saved to that universe. Additional attributes can be supplied to narrow the search, such as State, URL, and Entity Types. Finds the best candidate entities matching the given company name. Additional attributes can be supplied to narrow the search.  <p>**Max of 25 Names inputted.** Use the "Entity Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p> Supported types of Entities in which the names can match to include -
          * Corporations, Joint Ventures, and Holding Companies
          * Fund Managers and various Fund Types (Open-end, Closed End, Hedge, Soverign Wealth, Pension, Exchange Traded, and more).</p>
      operationId: getEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMatchRequestV2'
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/EntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get a list of Entity Candidates and Matches for a requested list of
        up to 25 names and attributes.
      tags:
      - Entity Match
      x-contentType: application/json;charset=utf-8
      x-accepts: application/json
  /factset-concordance/v2/entity-task:
    post:
      description: |
        Upload a Comma-Separated List file (.csv / UTF-8 encoding) with a list of names and attributes and receive a `taskId`. The taskId is then used for reference in the */entity-task-status* and */entity-decisions* endpoints to receive results once the task is successful.<p>This is the first step in the overall "Bulk" workflow. Use the /entity-task-status endpoint to check the status.</p> <p> A universeId must be included in request. If you do not have a universe created, reference the `/universe` endpoint.
      operationId: getEntityTaskForList
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                universeId:
                  description: The id of the universe that entities should be mapped
                    to. Reference the `/universe` endpoint to create a universe, or
                    view available universes via `/universes`.
                  example: 1
                  type: integer
                taskName:
                  description: User defined name for the task that will be used to
                    name the output files.
                  example: test31
                  type: string
                inputFile:
                  description: |
                    The UTF-8 encoded CSV File containing the entity names to be concorded to a FactSet Entity Identifier. The files first row **MUST** include headers as defined in the *Column parameters. Be mindful of casing and spacing in column headers. The input file is posted as a file object in the form. For this reason, the mime type of this post request must be multipart/form-data.
                  format: binary
                  type: string
                clientIdColumn:
                  description: |
                    Header Name of the column in the input file that contains a unique identifier supplied by the user referred to as a "clientId". This clientId can be used to create custom mappings or references.
                  example: ClientId
                  type: string
                nameColumn:
                  description: |
                    Header name of the column in the input file that contains the Entity Name to be matched.
                  example: NAME
                  type: string
                countryColumn:
                  description: |
                    Header Name of the column in the input file that contains the country's ISO Code. This is used to filter the candidates before taking a match decision.
                  example: COUNTRY
                  type: string
                urlColumn:
                  description: |
                    Header Name of the column in the input file that contains the Entity's URL. URL corresponding to the entity name that is used when evaluating candidates for a match.
                  example: URL
                  type: string
                stateColumn:
                  description: |
                    Header Name of the column in the input file that contains the two letter State Code of the state or province where the Entity is located. Currently, only US state codes are supported.
                  example: STATE
                  type: string
                includeEntityType:
                  description: |
                    Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Only candidates with an entity type specified will be considered for the final match result. Multiple types can be entered separated by commas. **Do not include within `inputFile`.**
                  items:
                    example: PUB
                    maxLength: 3
                    minLength: 3
                    type: string
                  type: array
                excludeEntityType:
                  description: |
                    Three-character FactSet entity type code used to filter candidates in order to determine the final match result. Entities with these types will be excluded from the decisions.
                    It is a global option used to filter the candidates before taking a match decision.
                    Candidates with an entity type specified will *not* be considered for the final match result.
                    **Do not include within `inputFile`.**
                  items:
                    example: EXT
                    maxLength: 3
                    minLength: 3
                    type: string
                  type: array
                includeEntitySubType:
                  description: |
                    Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Only candidates with an entity subtype specified will be considered for the final match result. Multiple types can be entered separated by commas. **Do not include within `inputFile`.**
                  items:
                    example: PR
                    maxLength: 2
                    minLength: 2
                    type: string
                  type: array
                excludeEntitySubType:
                  description: |
                    Two-character FactSet entity subtype code used to filter candidates in order to determine the final match result. Candidates with an entity subtype specified will *not* be considered for the final match result. Multiple types can be entered separated by commas.
                    **Do not include within `inputFile`.**
                  items:
                    example: IB
                    maxLength: 2
                    minLength: 2
                    type: string
                  type: array
              required:
              - clientIdColumn
              - inputFile
              - nameColumn
              - taskName
              - universeId
              type: object
        description: Entity Request object. Used to create an Entity Task.
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Pending Task:
                  $ref: '#/components/examples/PendingTask'
              schema:
                $ref: '#/components/schemas/EntityTaskResponse'
          description: OK. The Entity Task creation is submitted.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Input a file with names and attributes, creating a taskId.
      tags:
      - Entity Match - Bulk
      x-contentType: multipart/form-data
      x-accepts: application/json
  /factset-concordance/v2/entity-task-status:
    get:
      description: |
        Pulls the **status** for ALL the Entity Tasks submitted by a client within the last 30 days, and related details such as task duration and decision rates. Specific Tasks can also be retrieved by using the _taskId_ parameter.<p>Status types include -
          * PENDING - The task has not yet started.
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      operationId: getEntityTaskStatus
      parameters:
      - description: Concordance Task Identifier. The taskId is created in response
          from the /entity-task endpoint.
        example: 31589
        explode: true
        in: query
        name: taskId
        required: false
        schema:
          type: integer
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Filter on the status of the Concordance Tasks. Default is no filter.
            * PENDING - The task has not yet started
            * IN_PROGRESS - The task is submitted and decisions are in progress.
            * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
            * FAILURE - The task failed. Reach out to FactSet Support for assistance.
            * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
            * ABORTED - The task was aborted.
        explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - PENDING
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
            - BAD_REQUEST
            - ABORTED
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Successful Entity Task:
                  $ref: '#/components/examples/SuccessfulEntityTasks'
                Pending Task:
                  $ref: '#/components/examples/PendingTasks'
                Bad Task:
                  $ref: '#/components/examples/BadTasks'
                Failed Task:
                  $ref: '#/components/examples/FailedTasks'
              schema:
                $ref: '#/components/schemas/EntityTaskStatusResponse'
          description: Response object for Task Status endpoint.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the status of the requested taskId or all tasks for a User
      tags:
      - Entity Match - Bulk
      x-accepts: application/json
  /factset-concordance/v2/entity-decisions:
    get:
      description: |
        Retrieves the `Decision` objects for an Entity Task (taskId). The decisions do not include all candidates, but rather the results of concording the requested list of names included in the input file. Mapped entities will include a FactSet Entity Identifier (-E). Results will be saved to the `universeId` specified in the input file.
      operationId: getEntityDecisions
      parameters:
      - description: Concordance Task Identifier. The taskId is created in response
          from the /entity-task endpoint.
        example: 31589
        explode: true
        in: query
        name: taskId
        required: true
        schema:
          type: integer
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                Entity Decisions:
                  $ref: '#/components/examples/EntityDecisions'
              schema:
                $ref: '#/components/schemas/EntityDecisionsResponse'
          description: Response object for Entity Decisions endpoint.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get the decisions of matches for the requested taskId.
      tags:
      - Entity Match - Bulk
      x-accepts: application/json
  /factset-concordance/v2/universe:
    post:
      description: |
        Create a new universe that is distinct from any existing universe
      operationId: getUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/CreateUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseMetaResponse'
          description: Metadata on a single universe
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error Response
      summary: Create a new universe
      tags:
      - Universes
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/entity-universe:
    get:
      description: |
        Retrieves all entity mappings within a requested universe.
      operationId: getEntityUniverse
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      - description: |
          Filter by the clientId(s) created by the user in a previous mapping.
        example:
        - abc-123
        - def-456
        explode: false
        in: query
        name: clientId
        required: false
        schema:
          items:
            example: EXT
            type: string
          type: array
        style: form
      - description: |
          Filter by the Entity Decisions that have the specified mapStatus, where -
            * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
            * UNMAPPED - The requested Entity Name is unmapped by FactSet.
            * INDETERMINATE - The requested Entity Name was unable to make a mapping.
        explode: true
        in: query
        name: mapStatus
        required: false
        schema:
          example: MAPPED
          items:
            enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
            type: string
          type: array
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CompanyUniverse:
                  $ref: '#/components/examples/EntityUniverse'
              schema:
                $ref: '#/components/schemas/EntityUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe
      tags:
      - Mappings
      x-accepts: application/json
    post:
      description: |
        Retrieves all entity mappings that were saved in a given universe. Supports filtering by a large number of `clientId`s
      operationId: getEntityUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/EntityUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                CompanyUniverse:
                  $ref: '#/components/examples/EntityUniverse'
              schema:
                $ref: '#/components/schemas/EntityUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe or large list
        of client ids
      tags:
      - Mappings
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/people-universe:
    get:
      description: |
        Retrieves all people mappings within a requested universe.
      operationId: getPeopleUniverse
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      - description: |
          Filter by the clientId(s) created by the user in a previous mapping.
        example:
        - abc-123
        - def-456
        explode: false
        in: query
        name: clientId
        required: false
        schema:
          items:
            example: EXT
            type: string
          type: array
        style: form
      - description: |
          Filter by the Entity Decisions that have the specified mapStatus, where -
            * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
            * UNMAPPED - The requested Entity Name is unmapped by FactSet.
            * INDETERMINATE - The requested Entity Name was unable to make a mapping.
        explode: true
        in: query
        name: mapStatus
        required: false
        schema:
          example: MAPPED
          items:
            enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
            type: string
          type: array
        style: form
      - description: Starting row for records to return or rows to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Limits the number of records in the response.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CompanyUniverse:
                  $ref: '#/components/examples/PeopleUniverse'
              schema:
                $ref: '#/components/schemas/PeopleUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe
      tags:
      - People Mapping
      x-accepts: application/json
    post:
      description: |
        Retrieves all people mappings that were saved in a given universe. Supports filtering by a large number of `clientId`s
      operationId: getPeopleUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                CompanyUniverse:
                  $ref: '#/components/examples/PeopleUniverse'
              schema:
                $ref: '#/components/schemas/PeopleUniverseResponse'
          description: Response object for FactSet Concordance Universe detail.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve all saved mappings within a requested universe or large list
        of client ids
      tags:
      - People Mapping
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/update-universe:
    post:
      description: |
        Update metadata for an existing universe
      operationId: getUpdateUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/UpdateUniverseRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseMetaResponse'
          description: Metadata on a single universe
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error Response
      summary: Update metadata for an existing universe
      tags:
      - Universes
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/universes:
    get:
      description: |
        Fetch information on active universes for the current user. Optionally filter for a specific universe given a `universeId`
      operationId: getUniverses
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: false
        schema:
          type: integer
        style: form
      - description: Universe Type.
        example: ENTITY
        explode: false
        in: query
        name: universeType
        required: false
        schema:
          enum:
          - ENTITY
          - PEOPLE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniversesResponse'
          description: Metadata on multiple universes
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error Response
      summary: Fetch metadata for universes
      tags:
      - Universes
      x-accepts: application/json
  /factset-concordance/v2/entity-universe-statistics:
    get:
      description: |
        Get the total number of mappings in a universe, as well as the number of mapped, unmapped and indeterminate mappings
      operationId: getEntityUniverseStatistics
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityUniverseStatisticsResponse'
          description: Response object for mapping statistics for a universe
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error Response
      summary: Get statistics on a given universe
      tags:
      - Universes
      x-accepts: application/json
  /factset-concordance/v2/universe-statistics:
    get:
      description: |
        Get the total number of mappings in a universe, as well as the number of mapped, unmapped and indeterminate mappings
      operationId: getUniverseStatistics
      parameters:
      - description: Universe identifier. *To create a universe, use the `/universe'
          endpoint.*
        example: 1
        explode: true
        in: query
        name: universeId
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/universeStatisticsResponse'
          description: Response object for mapping statistics for a universe
        default:
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error Response
      summary: Get statistics on a given universe
      tags:
      - Universes
      x-accepts: application/json
  /factset-concordance/v2/entity-mapping:
    post:
      description: |
        Saves a Concordance Mapping to the client universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and clientName are required.
      operationId: getEntityMappingForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingRequestV2'
      responses:
        "200":
          content:
            application/json:
              examples:
                EntityResponse:
                  $ref: '#/components/examples/EntityResponse'
              schema:
                $ref: '#/components/schemas/EntityResponse'
          description: Response object for FactSet Concordance Entity.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Saves a single-mapping specified by the client.
      tags:
      - Mappings
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/people-mapping:
    post:
      description: |
        Saves a single Concordance People Mapping to a given universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and clientName are required.
      operationId: getPeopleMappingForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMappingRequestV2'
      responses:
        "200":
          content:
            application/json:
              examples:
                PeopleResponse:
                  $ref: '#/components/examples/PeopleResponse'
              schema:
                $ref: '#/components/schemas/PeopleMappingResponse'
          description: Single people mapping
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Saves a single-mapping specified by the client.
      tags:
      - People Mapping
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/entity-mapping-delete:
    post:
      description: |
        Delete a Concordance Mapping to the client universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and universeId are required.
      operationId: getEntityMappingDeleteForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingDeleteRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityMappingDeleteResponse'
          description: Response object for the entity-match object in a snowflake
            friendly response model.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Deletes mapping specified by the client.
      tags:
      - Mappings
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/people-mapping-delete:
    post:
      description: |
        Delete a Concordance Mapping to the client universe. When making a post, all exiting values are overwritten in the database with the values passed in the request. clientId and universeId are required.
      operationId: getPeopleMappingDeleteForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMappingDeleteRequestV2'
      responses:
        "200":
          content:
            application/json:
              examples:
                PeopleResponse:
                  $ref: '#/components/examples/PeopleResponse'
              schema:
                $ref: '#/components/schemas/PeopleMappingDeleteResponse'
          description: Response object for the entity-match object in a snowflake
            friendly response model.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Deletes mapping specified by the client.
      tags:
      - People Mapping
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/snowflake-entity-match:
    post:
      description: |
        Finds the best candidate entities matching the given company name. Additional attributes can be supplied to narrow the search. *This endpoint is used natively within Snowflake and is not to be consumed directly by users. Reach out to your FactSet Account team to learn more about Concordance in Snowflake.*
      operationId: getSnowflakeEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/SnowflakeEntityMatchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnowflakeEntityMatchResponse'
          description: Response object for the entity-match object in a snowflake
            friendly response model.
      summary: Perform an entity search and return a snowflake-friendly response.
        Up to 25 Names per request.
      tags:
      - Snowflake
      x-contentType: application/json
      x-accepts: application/json
  /factset-concordance/v2/people-match:
    get:
      description: |
        Finds the best people candidates matching the given name. <p>**Max of 1 Name permitted in a single GET request.** Use the POST method for /people-match to fetch up to  names. Otherwise, use the "People Match - Bulk" workflow to submit larger universes of names to be concorded via a file.</p><p>
      operationId: getPeopleMatch
      parameters:
      - description: Name of Person to match.
        example: Bill Gates
        explode: true
        in: query
        name: personName
        required: false
        schema:
          type: string
        style: form
      - description: Title in person's name. This parameter should not be provided
          when the person name is provided as the input.
        example: Mr
        explode: true
        in: query
        name: salutation
        required: false
        schema:
          type: string
        style: form
      - description: First name of person. This parameter should not be provided when
          the person name is provided as the input.
        example: Bill
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          type: string
        style: form
      - description: Middle name of person.This parameter should not be provided when
          the person name is provided as the input.
        example: Henry
        explode: true
        in: query
        name: middleName
        required: false
        schema:
          type: string
        style: form
      - description: Last name of person. This parameter should not be provided when
          the person name is provided as the input.
        example: Gates
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          type: string
        style: form
      - description: Suffix in person's name. This parameter should not be provided
          when the person name is provided as the input.
        example: III
        explode: true
        in: query
        name: suffix
        required: false
        schema:
          type: string
        style: form
      - description: Entity the person is associated with. It is used to filter the
          candidates before taking a match decision. Can be entity ID or name. The
          supported entity types match the what is supported via the /company match.
        example: Microsoft
        explode: true
        in: query
        name: entity
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                People Matches:
                  $ref: '#/components/examples/PeopleMatches'
              schema:
                $ref: '#/components/schemas/PeopleMatchesResponse'
          description: Response containing People Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Find potential people matches given a person's name.People matches
        can be retrieved using person's name and other attributes like firstname,
        middlename and lastname.
      tags:
      - People Match
      x-accepts: application/json
    post:
      description: |
        Finds the best candidate people matching the given people names. Additional attributes can be supplied to narrow the search. If a `universeId` is provided, any match for an input including a `clientId` will be saved to that universe.
      operationId: getPeopleMatchForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMatchRequestV2'
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              examples:
                People Matches:
                  $ref: '#/components/examples/PeopleMatches'
              schema:
                $ref: '#/components/schemas/PeopleMatchesResponse'
          description: Response containing People Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Find potential people matches given a person's name.
      tags:
      - People Match
      x-contentType: application/json;charset=utf-8
      x-accepts: application/json
  /factset-concordance/v2/people-task:
    post:
      description: |
        The "Bulk" workflow allows the user to create a People Concordance Task. Uploading of a Comma-Separated List file (.csv / UTF-8 encoding) with a list of names and attributes and creation of a task id is mandatory to start the process.
           The taskId is then used for reference in the /people-task-status and /people-decisions endpoints to receive results once the task is successful.The /people-task-status endpoint is to check the status of the Tasks as per the ids.
            A universeId must be included in request. If you do not have a universe created, reference the /universe endpoint.The bulk workflow supports a two way approach for the user.
          **The user can use these parameters in the following ways.**
            1.Filling all the required fields including the `personNameColumn`.(do not include `firstNameColumn`,`lastNameColumn` & `middleNameColumn`)
            2.Filling all the required fields excluding the `personNameColumn`.(Ensure atleast the `lastNameColumn` is filled)
      operationId: getPeopleTaskForList
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          multipart/form-data:
            schema:
              properties:
                universeId:
                  description: The id of the universe that entities should be mapped
                    to. Reference the `/universe` endpoint to create a universe, or
                    view available universes via `/universes`.
                  example: 1
                  type: integer
                taskName:
                  description: User defined name for the task that will be used to
                    name the output files.
[...]
