openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    Gain access to evaluated pricing and analytics data for Corporate Bonds, Municipal Bonds and Asset Backed Securities provided by S&P Global (formerly IHS Markit) .

    Data returned through multiple endpoints like prices, spread, yield, yield curve, sensitivity, coupon information, securities metadata and details specific to the Asset Backed Securities.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: S&P Global Fixed Income Evaluated Prices & Analytics API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/sp-global-fixed-income-evaluated-prices-and-analytics-api
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /markit-bond-prices-and-analytics/v1/prices:
    get:
      description: |
        Get bond clean and dirty bid, mid and ask pricing data provided by Markit for a specified date range and frequency.
      operationId: getBondPrices
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondPricesResponse'
          description: Bond Pricing items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get Bid, Mid and Ask prices for a list of securities
      tags:
      - Prices
      x-accepts: application/json
    post:
      description: |
        Get bond clean and dirty bid, mid and ask pricing data provided by Markit for a specified date range and frequency.
      operationId: getBondPricesForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bondPricesRequest'
        description: Request object for requesting pricing data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondPricesResponse'
          description: Bond Prices data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Request Bid, Mid and Ask prices for a list of securities
      tags:
      - Prices
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/spread:
    get:
      description: |
        Get spread details like discount margin, OAS, Asset Swap Spread, Z Spread, spread benchmark provided by Markit for a specified date range and frequency.
      operationId: getBondSpread
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondSpreadResponse'
          description: Bond Spread items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get the Spread and OAS data for a list of securities
      tags:
      - Spread
      x-accepts: application/json
    post:
      description: |
        Get spread details like discount margin, OAS, Asset Swap Spread, Z Spread, spread benchmark provided by Markit for a specified date range and frequency.
      operationId: getBondSpreadForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bondSpreadRequest'
        description: Request object for requesting pricing data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondSpreadResponse'
          description: Bond Prices data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Request the Spread and OAS data for a list of securities
      tags:
      - Spread
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/yield:
    get:
      description: "Get the yield information like yield to maturity, yield to worst,\
        \ benchmark yield to maturity and yield to call provided by Markit for a specified\
        \ date range and frequency. \n"
      operationId: getBondYield
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondYieldResponse'
          description: Bond Yield items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get yield information for given date range and list of securities
      tags:
      - Yield
      x-accepts: application/json
    post:
      description: |
        Get the yield information like yield to maturity, yield to worst, benchmark yield to maturity and yield to call provided by Markit for a specified date range and frequency.
      operationId: getBondYieldForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bondYieldRequest'
        description: Request object for requesting yield data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondYieldResponse'
          description: Bond Yield data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Request yield information for given date range and list of securities
      tags:
      - Yield
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/issuer-yield-curve:
    get:
      description: |
        Get yield curve data points and dates for 3M, 6M, 1Y, 2Y, 3Y, 4Y, 5Y, 6Y, 7Y, 8Y, 9Y, 10Y, 15Y, 20Y, 25Y, 30Y and 40Y provided by Markit for the specified date range and frequency.
      operationId: getBondIssuerYieldCurve
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondIssuerYieldCurveResponse'
          description: Bond Issuer Yield Curve items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get yield curve data for given date range and list of securities
      tags:
      - Issuer Yield Curve
      x-accepts: application/json
    post:
      description: |
        Get yield curve data points and dates for 3M, 6M, 1Y, 2Y, 3Y, 4Y, 5Y, 6Y, 7Y, 8Y, 9Y, 10Y, 15Y, 20Y, 25Y, 30Y and 40Y provided by Markit for the specified date range and frequency.
      operationId: getBondIssuerYieldCurveForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bondIssuerYieldCurveRequest'
        description: Request object for requesting issuer yield curve data.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondIssuerYieldCurveResponse'
          description: Bond Issuer Yield Curve data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Request yield curve data for given date range and list of securities
      tags:
      - Issuer Yield Curve
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/sensitivity:
    get:
      description: |
        Get the sensitivity information like convexity, effective convexity, effective duration, Macaulay duration and modified duration provided by Markit for the specified date range and frequency.
      operationId: getBondSensitivity
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondSensitivityResponse'
          description: Bond Sensitivity items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get the bond sensitivity data for a list of securities
      tags:
      - Sensitivity
      x-accepts: application/json
    post:
      description: |
        Get the sensitivity information like convexity, effective convexity, effective duration, Macaulay duration and modified duration provided by Markit for the specified date range and frequency.
      operationId: getBondSensitivityForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bondSensitivityRequest'
        description: Request object for requesting sensitivity data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondSensitivityResponse'
          description: Bond Prices data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Request the bond sensitivity data for a list of securities
      tags:
      - Sensitivity
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/meta:
    get:
      description: |
        Get bond metadata like classification, maturity date, symbology information like isin, cusip, vendorid, ticker, issue and issuer name provided by Markit for a list of securities.
      operationId: getBondMeta
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondMetaResponse'
          description: Bond Meta items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get bond meta data for a list of securities.
      tags:
      - Meta
      x-accepts: application/json
    post:
      description: |
        Get bond metadata like classification, maturity date, symbology information like isin, cusip, vendorid, ticker, issue and issuer name provided by Markit for a list of securities.
      operationId: getBondMetaForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bondMetaRequest'
        description: Request object for requesting meta data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondMetaResponse'
          description: Bond Meta data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get bond meta data for a list of securities.
      tags:
      - Meta
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/abs-details:
    get:
      description: |
        Get details for Asset Backed Securities like factors, pay up, wal, cdr, cpr and prepay details provided by Markit for the specified date range and frequency.
      operationId: getABSDetails
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US05522RDC97
          multipleIds:
            summary: Multiple ids
            value:
            - US05522RDC97
            - US065606AD71
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/absDetailsResponse'
          description: Asset Bond Security Detail items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get Asset Backed Security Details for a list of securities
      tags:
      - ABS Details
      x-accepts: application/json
    post:
      description: |
        Get details for Asset Backed Securities like factors, pay up, wal, cdr, cpr and prepay details provided by Markit for the specified date range and frequency.
      operationId: getABSDetailsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/absDetailsRequest'
        description: Request object for requesting ABS details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/absDetailsResponse'
          description: Asset Bond Security Detail items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Request Asset Backed Security Details for a list of securities
      tags:
      - ABS Details
      x-contentType: application/json
      x-accepts: application/json
  /markit-bond-prices-and-analytics/v1/coupon:
    get:
      description: |
        Get coupon information like accrued interest, coupon, coupon type and coupon frequency provided by Markit for specified date range and frequency.
      operationId: getBondCoupon
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, ISIN and
          SEDOL are accepted as input. <p>***ids limit** = 2000  per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          oneId:
            summary: Single id
            value:
            - US45905URL07
          multipleIds:
            summary: Multiple ids
            value:
            - US45905URL07
            - US01030LCU70
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bondCouponResponse'
          description: Bond Coupon items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
                Bad Request - Missing History Access:
                  $ref: '#/components/examples/missingHistoryAccess'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
[...]
