openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allow clients to fetch Analytics through APIs.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Quant API
  version: 3.11.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/quant-engine-api
servers:
- url: https://api.factset.com/analytics/engines/quant/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /calculations:
    get:
      description: This endpoints returns all calculation requests.
      operationId: getAllCalculations
      parameters:
      - explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationsSummaryRoot'
          description: List of calculation requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid page number.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: No calculation found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "406":
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has reached.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get all calculations
      tags:
      - QuantCalculations
      x-accepts: application/json
    post:
      description: "This endpoint runs the Quant Engine calculation specified in the\
        \ POST body parameters.\r\nIt can take one or more calculation units as input."
      operationId: postAndCalculate
      parameters:
      - description: Standard HTTP header.  Accepts no-store, max-age, max-stale.
        explode: false
        in: header
        name: Cache-Control
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuantCalculationParametersRoot'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
          description: Expected response if the calculation has one unit and is completed
            with an error.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectRoot'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ObjectRoot'
          description: Expected response if the calculation has one unit and is completed
            in a short span, returns JSON in the format specified in the Calculation
            parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
          description: Expected response, contains the poll URL in the Location header.
          headers:
            Location:
              description: URL to poll for the resulting calculation
              explode: false
              schema:
                description: URL to poll for the resulting calculation
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid calculation parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: One or more calculation settings were unavailable.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Request body too large
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate limit reached. Cancel older requests using Cancel Calculation
            endpoint or wait for older requests to finish/expire.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has reached.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Create and Run Quant Engine calculation
      tags:
      - QuantCalculations
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /calculations/{id}:
    delete:
      description: This is the endpoint to cancel a previously submitted calculation.
      operationId: cancelCalculationById
      parameters:
      - description: from url, provided from the location header in the Create and
          Run Quant calculation endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Create and
            Run Quant calculation endpoint
          type: string
        style: simple
      responses:
        "204":
          description: Expected response, calculation was canceled successfully.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: There was no request for the calculation identifier provided,
            or the request was already canceled for the provided identifier.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Cancel Quant calculation by id
      tags:
      - QuantCalculations
      x-accepts: application/json
    get:
      description: This is the endpoint that returns the calculation parameters passed
        for a calculation.
      operationId: getCalculationParameters
      parameters:
      - description: from url, provided from the location header in the Create and
          Run Quant Engine calculation endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Create and
            Run Quant Engine calculation endpoint
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuantCalculationParametersRoot'
          description: Expected response, returns the Quant Engine calculation parameters.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Calculation id not found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get Quant Engine calculation parameters by id
      tags:
      - QuantCalculations
      x-accepts: application/json
    put:
      description: "This endpoint updates and runs the Quant Engine calculation specified\
        \ in the PUT body parameters. This also allows creating new Quant Engine calculations\
        \ with custom ids.\r\nIt can take one or more calculation units as input."
      operationId: putAndCalculate
      parameters:
      - description: from url, provided from the location header in the Create and
          Run Quant Engine calculation endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Create and
            Run Quant Engine calculation endpoint
          type: string
        style: simple
      - description: Standard HTTP header.  Accepts no-store, max-age, max-stale.
        explode: false
        in: header
        name: Cache-Control
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuantCalculationParametersRoot'
        description: Calculation Parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
          description: Expected response if the calculation has one unit and is completed
            with an error.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectRoot'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ObjectRoot'
          description: Expected response if the calculation has one unit and is completed
            in a short span, returns JSON in the format specified in the Calculation
            parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
          description: Expected response, contains the poll URL in the Location header.
          headers:
            Location:
              description: URL to poll for the resulting calculation
              explode: false
              schema:
                description: URL to poll for the resulting calculation
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid Calculation Parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: One or more calculation settings were unavailable.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Duplicate calculation exists with same parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Request body too large
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Rate limit reached. Cancel older requests using Cancel Calculation
            endpoint or wait for older requests to finish/expire.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has reached.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Create or update Quant Engine calculation and run it.
      tags:
      - QuantCalculations
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /calculations/{id}/status:
    get:
      description: "This is the endpoint to check on the progress of a previously\
        \ requested calculation.\r\nIf the calculation has finished computing, the\
        \ location header will point to the result url.\r\nOtherwise, the calculation\
        \ is still running and the X-FactSet-Api-PickUp-Progress header will contain\
        \ a progress percentage."
      operationId: getCalculationStatusById
      parameters:
      - description: from url, provided from the location header in the Create and
          Run Quant Engine calculation endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Create and
            Run Quant Engine calculation endpoint
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
          description: Expected response once calculation is completed.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatusRoot'
          description: Expected response returned if the calculation is not yet completed,
            should contain X-FactSet-Api-PickUp-Progress header.
          headers:
            X-FactSet-Api-PickUp-Progress:
              description: FactSet's progress header.
              explode: false
              schema:
                description: FactSet's progress header.
                type: string
              style: simple
            Cache-Control:
              description: Standard HTTP header. Header will specify max-age in seconds.
                Polling can be adjusted based on the max-age value.
              explode: false
              schema:
                description: Standard HTTP header. Header will specify max-age in
                  seconds. Polling can be adjusted based on the max-age value.
                type: integer
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Calculation was already returned, provided id was not a requested
            calculation, or the calculation was cancelled
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get Quant Engine calculation status by id
      tags:
      - QuantCalculations
      x-accepts: application/json
  /calculations/{id}/units/{unitId}/result:
    get:
      description: "This is the endpoint to get the result of a previously requested\
        \ calculation.\r\nIf the calculation has finished computing, the body of the\
        \ response will contain the requested document in JSON."
      operationId: getCalculationUnitResultById
      parameters:
      - description: from url, provided from the location header in the Get Quant
          Engine calculation status by id endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Get Quant
            Engine calculation status by id endpoint
          type: string
        style: simple
      - description: from url, provided from the location header in the Get Quant
          Engine calculation status by id endpoint
        explode: false
        in: path
        name: unitId
        required: true
        schema:
          description: from url, provided from the location header in the Get Quant
            Engine calculation status by id endpoint
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/x-protobuf:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Expected response once calculation is completed, returns JSON
            in the format specified in the Calculation parameters.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              explode: false
              schema:
                description: Standard HTTP header. Header value based on Accept-Encoding
                  Request header.
                type: string
              style: simple
            Content-Type:
              description: Standard HTTP header.
              explode: false
              schema:
                description: Standard HTTP header.
                type: string
              style: simple
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked
                if Accept-Encoding header is specified.
              explode: false
              schema:
                description: Standard HTTP header. Header value will be set to Chunked
                  if Accept-Encoding header is specified.
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid identifier provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/x-protobuf:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Calculation was already returned, provided id was not a requested
            calculation, or the calculation was cancelled
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              explode: false
              schema:
                description: FactSet's request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Get Quant Engine calculation result by id
      tags:
      - QuantCalculations
      x-accepts: application/json
  /calculations/{id}/units/{unitId}/info:
    get:
      description: This is the endpoint to get the metadata information of a previously
        requested calculation.
      operationId: getCalculationUnitInfoById
      parameters:
      - description: from url, provided from the location header in the Get Quant
          calculation status by id endpoint
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: from url, provided from the location header in the Get Quant
            calculation status by id endpoint
          type: string
        style: simple
      - description: from url, provided from the location header in the Get Quant
          calculation status by id endpoint
        explode: false
        in: path
        name: unitId
        required: true
        schema:
          description: from url, provided from the location header in the Get Quant
            calculation status by id endpoint
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/x-protobuf:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
[...]
