openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: "Search for securitized derivative instruments, using a criteria-based\
    \ screener. The API provides also fundamental data, notation-based\nkey figures,\
    \ list of barrier types, and details regarding the underlyings, their respective\
    \ barriers and related cash flows, coupon lists\nand derived basic interest rate\
    \ information.\n\nThe screener is based on securitized derivatives-specific parameters.\
    \ The result is limited to the notations that satisfy all the selected\nfilters.\
    \ If more than one notation of an instrument matches the parameters, and no market\
    \ priority has been specified, only the notation\nwith the highest trading volume,\
    \ averaged over one month, is considered. All identifier types used as parameters\
    \ must be valid and application\nmust have permissions for them.\n\nAvailable\
    \ search criteria include:\n\n* validation: filter for only active listings, by\
    \ price quality and latest/previous available price dates\n* traded markets: filter\
    \ and indicate a market priority for the validation\n* life cycle: important dates\
    \ in and features of the life cycle of the securitized derivatives instruments\n\
    * filter by issuer, country of registration of the securitized derivatives\n*\
    \ underlying and related barriers, including level and distance, and resulting\
    \ cash flows\n* coupon data: where applicable, occurrence and frequency of coupon\
    \ payments, current interest rate range\n* performance and volatility\n* product-specific\
    \ ask-based key figures (not all key figures are available for all product types):\n\
    \    * bonus yield, sideways yield, maximum yield based on the ask price\n   \
    \ * agio, discount\n    * spread\n    * break even, outperformance point, parity\n\
    \    * delta, weekly theta, vega, implied volatility\n    * leverage, omega\n\
    \    * intrinsic value, time value       \n\nSince some underlyings, e.g. an index\
    \ or a performance difference of a stock and an index (alpha structure), do not\
    \ represent a directly\ntradable asset, they do not have a price in the classical\
    \ sense. Therefore, the term *level* is used instead of *price*, e.g. underlying\n\
    level instead of underlying price.\nThe endpoint does not support the search for\
    \ securitized derivatives with multiple underlyings, thus only securitized derivatives\
    \ with\na single underlying are returned in the result.\n\nThe search can be restricted\
    \ to a specific set of products by using customer-specific instrument or notation\
    \ lists. Such restriction\nlists are set up by FactSet upon request.\n\nThis API\
    \ is fully integrated with the corresponding [Quotes API](https://developer.factset.com/api-catalog/quotes-api-digital-portals),\n\
    allowing access to detailed price and performance information of instruments,\
    \ as well as basic security identifier cross-reference.\nFor direct access to\
    \ price histories, please refer to the\n[Time Series API for Digital Portals](https://developer.factset.com/api-catalog/time-series-api-digital-portals).\n\
    \nSimilar criteria based screener APIs exist for equity and fixed income instruments:\
    \ See the\n[Stocks API](https://developer.factset.com/api-catalog/stocks-api-digital-portals)\
    \ and the\n[Bonds API](https://developer.factset.com/api-catalog/bonds-api-digital-portals)\
    \ for details.\n\n"
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Securitized Derivatives API For Digital Portals
  version: 4.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/wealth/v4
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: securitizedDerivative endpoints
  name: securitizedDerivative
paths:
  /securitized-derivative/get:
    get:
      description: Fundamental data for a single securitized derivative. Dates are
        interpreted in the timezone of the issuer.
      operationId: getSecuritizedDerivativeGet
      parameters:
      - description: Identifier to resolve.
        example: FDS-US
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          example: FDS-US
          maxLength: 50
          minLength: 3
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          type: string
        style: form
      - description: |+
          Type of the identifier.
          | Value | Description |
          | --- | --- |
          | idInstrument | MDG identifier of an instrument. |
          | idNotation | MDG identifier of a listing. |
          | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
          | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
          | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |
          | tickerExchange | FactSet market symbol of a listing. |
          | tickerRegion | Regional FactSet ticker symbol. |
          | sedol | SEDOL or IDII of a listing. |
          | isin | ISIN of an instrument. |
          | wkn | WKN of an instrument. |
          | valor | Valor number of an instrument. |
          | cusip | CUSIP or CINS identifier of an instrument |

        example: tickerRegion
        explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: |+
            Type of the identifier.
            | Value | Description |
            | --- | --- |
            | idInstrument | MDG identifier of an instrument. |
            | idNotation | MDG identifier of a listing. |
            | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
            | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
            | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |
            | tickerExchange | FactSet market symbol of a listing. |
            | tickerRegion | Regional FactSet ticker symbol. |
            | sedol | SEDOL or IDII of a listing. |
            | isin | ISIN of an instrument. |
            | wkn | WKN of an instrument. |
            | valor | Valor number of an instrument. |
            | cusip | CUSIP or CINS identifier of an instrument |

          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          example: tickerRegion
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  isin: US3030751057
                  idInstrument: "209485"
                  sourceIdentifier: FDS-US
                  nsin:
                    wkn: "901629"
                    valor: "1234567"
                  isPrivatePlacement: false
                  name: Lorem ipsum
                  shortName: Lorem ipsum
                  type:
                  - id: 5
                    name: Lorem ipsum
                  isIncomplete: true
                  lifeCycle:
                    subscriptionPeriod:
                      start: 2024-12-24
                      end: 2024-12-24
                    valutaIssue: 2024-12-24
                    initialFixing: 2024-12-24
                    issue: 2024-12-24
                    intradayActivation:
                      time: 2024-12-24T18:00:00.000000Z
                      isActivated: false
                    tradingPeriod:
                      start: 2024-12-24
                      end: 2024-12-24
                    startExercisePeriod: 2024-12-24
                    valuation: 2024-12-24
                    maturity:
                      date: 2024-01-01
                      isPerpetual: false
                      isCallable: false
                    repayment: 2024-01-01
                    cancellation: 2024-01-01
                  countrySecurityRegistration:
                  - id: 2
                    name: Lorem ipsum
                  referenceDebtor:
                    instrument:
                      id: "4004"
                    legalEntity:
                      id: 5
                      name: Lorem ipsum
                      lei: Lorem ipsum
                  isCollateralized: true
                  isQuanto: false
                  capitalProtection: 0.3
                  hasCatchUp: true
                  hasAutomaticExercise: true
                  orderVolume:
                    minimum: 2
                    increment: 3.03
                  redemptionAmount: 4.04
                  managementFee: 0.4
                  nominal:
                    value: 1.01
                    currency:
                      id: 3
                      code: Lorem ipsum
                  issuer:
                    id: 3
                    name: Lorem ipsum
                    lei: Lorem ipsum
                    group:
                      id: 1
                      name: Lorem ipsum
                  issue:
                    price: 5.05
                    admittedVolume: 2
                    valueUnit:
                      id: 3
                      code: Lorem ipsum
                    surcharge: 0.1
                  exercise:
                    right: call
                    style: bermudan
                  settlement: cash
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Fundamental data for a single securitized derivative.
      tags:
      - securitizedDerivative
      x-accepts: application/json
  /securitized-derivative/barrier/type/list:
    get:
      description: List of barrier types.
      operationId: getSecuritizedDerivativeBarrierTypeList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  name: Lorem ipsum
                  description: Lorem ipsum
                  kind: range
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of barrier types.
      tags:
      - securitizedDerivative
      x-accepts: application/json
  /securitized-derivative/issuer/search:
    post:
      description: Search for issuers of securitized derivatives, including issuer
        groups, which do not represent actual juristic persons, but are defined by
        FactSet to facilitate searching. FactSet does not consolidate the data provided
        by different suppliers, therefore the result may contain more than one identifier
        for a given issuer. The response is limited to 100 results.
      operationId: postSecuritizedDerivativeIssuerSearch
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                role: issuerGroup
                name:
                  searchValue: Lorem ipsum
                withPriceEntitlement: true
                category:
                  ids:
                  - 5
                underlying:
                  instrument:
                    ids:
                    - "2002"
                factorCertificates:
                  effectiveUnderlying:
                    instrument:
                      ids:
                      - "5005"
                registrationCountry:
                  restrict:
                    ids:
                    - 3
                  exclude:
                    ids:
                    - 3
                market:
                  restrict:
                    ids:
                    - 1
                  exclude:
                    ids:
                    - 4
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeIssuerSearchRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  name: Lorem ipsum
                  count: 132
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: Search for issuers of securitized derivatives.
      tags:
      - securitizedDerivative
      x-contentType: application/json
      x-accepts: application/json
  /securitized-derivative/key-figures/notation/get:
    get:
      description: "Notation-based key figures of a securitized derivative. Not all\
        \ key figures are applicable and/or calculated for all types of securitized\
        \ derivatives. Following, some frequently used references: \n\nCover ratio\
        \ - see attribute `underlyings.coverRatio` in endpoint `/securitized-derivative/underlying/list`.\n\
        \nVarious barrier types (e.g. strike, knock in) - see endpoint `/securitized-derivative/barrier/type/list`.\n\
        \nExercise right - see attribute `exercise.right` in endpoint `/securitized-derivative/get`.\n\
        \nIssue price - see attribute `issue.price` in endpoint `/securitized-derivative/get`.\n\
        \nAsk price - see attribute `prices.ask`.\n\nBid price - see attribute `prices.bid`."
      operationId: getSecuritizedDerivativeKeyFiguresNotationGet
      parameters:
      - description: Identifier to resolve.
        example: FDS-US
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          example: FDS-US
          maxLength: 50
          minLength: 3
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          type: string
        style: form
      - description: |+
          Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.
          | Value | Description |
          | --- | --- |
          | idInstrument | MDG identifier of an instrument. |
          | idNotation | MDG identifier of a listing. |
          | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
          | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
          | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |
          | tickerExchange | FactSet market symbol of a listing. |
          | tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |
          | sedol | SEDOL or IDII of a listing. |
          | isin | ISIN of an instrument. |
          | wkn | WKN of an instrument. |
          | valor | Valor number of an instrument. |
          | cusip | CUSIP or CINS identifier of an instrument |

        example: tickerRegion
        explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: |+
            Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.
            | Value | Description |
            | --- | --- |
            | idInstrument | MDG identifier of an instrument. |
            | idNotation | MDG identifier of a listing. |
            | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
            | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
            | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |
            | tickerExchange | FactSet market symbol of a listing. |
            | tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |
            | sedol | SEDOL or IDII of a listing. |
            | isin | ISIN of an instrument. |
            | wkn | WKN of an instrument. |
            | valor | Valor number of an instrument. |
            | cusip | CUSIP or CINS identifier of an instrument |

          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          example: tickerRegion
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  prices:
                    ask:
                      time: 2024-01-01T00:00:00.000Z
                      price: 5.05
                    bid:
                      time: 2024-01-01T00:00:00.000Z
                      price: 3.03
                    valueUnit:
                      id: 4
                      code: Lorem ipsum
                  underlyings:
                  - name: Lorem ipsum
                    notation:
                      id: "1532562"
                      instrument:
                        id: "209485"
                    level:
                      time: 2024-01-01T00:00:00.000Z
                      value: 3.03
                    valueUnit:
                      id: 2
                      code: Lorem ipsum
                  currency:
                    id: 1
                    code: Lorem ipsum
                  performanceIssue:
                    ask:
                      absolute: 3.1415
                      relative: 0
                      annualized: 1
                    bid:
                      absolute: 2.02
                      relative: 0.5
                      annualized: 0
                  bonusYield:
                    absolute: 3.1415
                    relative: 0.5
                    annualized: 0.2
                  sidewaysYield:
                    absolute: 2.02
                    relative: 0
                    annualized: 0.4
                  maximumYield:
                    absolute: 2.02
                    relative: 0
                    annualized: 0.5
                  agio:
                    absolute: 5.05
                    relative: 1
                    annualized: 0.1
                  discount:
                    absolute: 3.03
                    relative: 0.4
                  breakEven:
                    breakEvenPoint: 1.01
                    distance:
                      absolute: 3.03
                      relative: 1
                  spread:
                    harmonized: 3.03
                    relative: 0.5
                  delta:
                    effective: 1.01
                    unadjusted: 1.01
                  thetaOneWeek:
                    effective: 5.05
                    unadjusted: 3.1415
                  vega:
                    effective: 2.02
                    unadjusted: 4.04
                  leverage: 5.05
                  omega: 4.04
                  impliedVolatility: 1
                  intrinsicValue: 3.1415
                  timeValue: 3.1415
                  outperformancePoint: 1.01
                  parity: 4.04
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Notation-based key figures of a securitized derivative.
      tags:
      - securitizedDerivative
      x-accepts: application/json
  /securitized-derivative/notation/ranking/intraday/list:
    post:
      description: |-
        Ranking of securitized derivatives' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, the selection of the notation depends on the sort attribute:
        - absolute and relative performance (see the response attributes `trade.performance.absolute` and `trade.performance.relative`) - the notation with the most recent trade price is used
        - number trades, trading value and trading volume (see the response attributes `accumulated.numberTrades`, `accumulated.tradingVolume` and `accumulated.tradingValue`) - the notation with highest (lowest) value is used

        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameters `valueUnit` and/or `currency` have not been specified.

        The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.

        All identifiers used as parameters must be valid and entitled.
      operationId: postSecuritizedDerivativeNotationRankingIntradayList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                prices:
                  quality: DLY
                valueUnit:
                  id: 5
                currency:
                  id: 4
                market:
                  ids:
                  - 2
                instrumentRestrictionList:
                  ids:
                  - 4
                notationRestrictionList:
                  ids:
                  - 2
                category:
                  ids:
                  - 3
                registrationCountry:
                  ids:
                  - 5
                lifeCycle:
                  maturity:
                    perpetual: include
                issuer:
                  ids:
                  - 3
                exercise:
                  right: put
                underlying:
                  instrument:
                    ids:
                    - "4004"
                  notation:
                    ids:
                    - "2002"
                factorCertificates:
                  effectiveUnderlying:
                    instrument:
                      ids:
                      - "2002"
                  participation: long
                knockedOut: exclude
                knockedIn: exclude
                performance:
                  relative:
                    minimum:
                      value: 0.4
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
              meta:
                attributes: []
                language: en
                sort:
                - accumulated.tradingVolume
                pagination:
                  offset: 0
                  limit: 10
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationRankingIntradayListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: "1532562"
                  symbol: FDS
                  fsym:
                    listing:
                      permanentIdentifier: DJC0PL-S
                      tickerExchange: FDS-USA
                      isPrimary: true
                    regional:
                      permanentIdentifier: DJC0PL-S
                      tickerRegion: FDS-US
                      isPrimary: false
                  market:
                    id: 2
                    name: Lorem ipsum
                  valueUnit:
                    id: 2
                    code: EUR
                  trade:
                    time: 2024-12-24T18:00:00.000000Z
                    price: 2.02
                    performance:
                      absolute: 4.04
                      relative: 0.4
                  quality: DLY
                  accumulated:
                    numberTrades: 4.04
                    tradingVolume: 4.04
                    tradingValue: 1.01
                    currency:
                      id: 5
                      code: EUR
                  instrument:
                    id: "209485"
                    name: Lorem ipsum
                    shortName: Lorem ipsum
                    isin: US3030751057
                    nsin:
                      wkn: "901629"
                      valor: "1234567"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
                  categorization:
                    ddv:
                    - id: 3
                      name: Lorem ipsum
                    eusipa:
                    - id: 4
                      name: Lorem ipsum
                  lifeCycle:
                    maturity:
                      perpetual: false
                  issuer:
                    id: 4
                    name: Lorem ipsum
                    group:
                      id: 4
                      name: Lorem ipsum
                  exercise:
                    right: call
                  participation: long
                  underlying:
                    name: Lorem ipsum
                    notation:
                      id: "1532562"
                      instrument:
                        id: "209485"
                        typeComposite: alphaStructure
                    effectiveUnderlying:
                      instrument:
                        id: "209485"
                        name: Lorem ipsum
                  knockedOut: true
                  knockedIn: false
                meta:
                  status:
                    code: 200
                  pagination:
                    total: 3
                    isEstimatedTotal: false
                  partial:
                    isPartial: true
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Ranking of securitized derivatives' notations using intraday figures.
      tags:
      - securitizedDerivative
      x-contentType: application/json
      x-accepts: application/json
  /securitized-derivative/notation/screener/value-ranges/get:
    post:
      description: |-
        The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/securitized-derivatives/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/securitized-derivatives/notation/screener/search` endpoint so that performing a search always leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers, are sorted descending by the number of notations for each value.

         Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term "level" is used instead of "price", e.g. underlying level instead of underlying price.

         The endpoint does not support possible values and value ranges for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are considered.

         The possible values and value ranges can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.
      operationId: postSecuritizedDerivativeNotationScreenerValueRangesGet
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                validation:
                  onlyActive: true
                  prices:
                    quality: DLY
                    latest:
                      availableOnly: false
                      minimumDate: 2024-01-01
                    previous:
                      availableOnly: false
                      minimumDate: 2024-01-01
                  valueUnit:
                    selection:
                      restrict:
                        ids:
                        - 1
                      exclude:
                        ids:
                        - 3
                  market:
                    selection:
                      restrict:
                        ids:
                        - 2
                      exclude:
                        ids:
                        - 3
                    priority:
                      ids:
                      - 3
                  instrumentRestrictionList:
                    ids:
                    - 3
                  notationRestrictionList:
                    ids:
                    - 3
                category:
                  ids:
                  - 5
                registrationCountry:
                  ids:
                  - 1
                lifeCycle:
                  issue:
                    start: 2024-01-01
                    end: 2024-12-24
                  maturity:
                    restriction:
                      date:
                        start: 2024-01-01
                        end: 2024-12-24
                      remainingTermDays:
                        minimum:
                          value: 3.1415
                          inclusive: true
                        maximum:
                          value: 2.02
                          inclusive: true
                    perpetual: exclude
                  callable: true
                  valuation:
                    start: 2024-01-01
                    end: 2024-12-24
                  repayment:
                    start: 2024-01-01
                    end: 2024-12-24
                issuer:
                  ids:
                  - 3
                exercise:
                  right: call
                  style: european
                settlement: either
                collateralized: true
                quanto: false
                capitalProtection:
                  minimum:
                    value: 1
                    inclusive: true
                  maximum:
                    value: 0.3
                    inclusive: true
                underlying:
                  instrument:
                    ids:
                    - "1001"
                  notation:
                    ids:
                    - "1001"
                cashFlowCurrency:
                  id: 3
                singleBarriers:
                - type: strike
                  observation:
                    type: continuous
                  level:
                    absolute:
                      minimum:
                        value: 3.1415
                        inclusive: true
                      maximum:
                        value: 1.01
                        inclusive: true
                  distance:
                    absolute:
                      minimum:
                        value: 1.01
                        inclusive: true
                      maximum:
                        value: 1.01
                        inclusive: true
                    relative:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.2
                        inclusive: true
                  breach:
                    breached: exclude
                  cashFlow:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                rangeBarriers:
                - type: rangeKnockOut
                  observation:
                    type: continuous
                  upper:
                    level:
                      absolute:
                        minimum:
                          value: 3.1415
                          inclusive: true
                        maximum:
                          value: 2.02
                          inclusive: true
                  lower:
                    level:
                      absolute:
                        minimum:
                          value: 3.03
                          inclusive: true
                        maximum:
                          value: 5.05
                          inclusive: true
                  breach:
                    breached: exclude
                  cashFlow:
                    minimum:
                      value: 3.03
                      inclusive: true
                    maximum:
                      value: 2.02
                      inclusive: true
                factorCertificates:
                  effectiveUnderlying:
                    instrument:
                      ids:
                      - "4004"
                  participation: short
                  constantLeverage:
                    minimum:
                      value: 3.1415
                      inclusive: true
                    maximum:
                      value: 1.01
                      inclusive: true
                nominalCurrency:
                  id: 2
                currentInterestRate:
                  type: fixed
                  value:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.1
                      inclusive: true
                keyFigures:
                  bonusYield:
                    absolute:
                      minimum:
                        value: 1.01
                        inclusive: true
                      maximum:
                        value: 5.05
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 1
                        inclusive: true
                    annualized:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                  sidewaysYield:
                    absolute:
                      minimum:
                        value: 3.1415
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                  maximumYield:
                    absolute:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 5.05
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 0.2
                        inclusive: true
                  agio:
                    absolute:
                      minimum:
                        value: 1.01
                        inclusive: true
                      maximum:
                        value: 1.01
                        inclusive: true
                    relative:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 0.1
                        inclusive: true
                  discount:
                    absolute:
                      minimum:
                        value: 3.1415
                        inclusive: true
                      maximum:
                        value: 1.01
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 0.3
                        inclusive: true
                  breakEven:
                    breakEvenPoint:
                      minimum:
                        value: 3.1415
                        inclusive: true
                      maximum:
                        value: 4.04
                        inclusive: true
                    distance:
                      absolute:
                        minimum:
                          value: 1.01
                          inclusive: true
                        maximum:
                          value: 2.02
                          inclusive: true
                      relative:
                        minimum:
                          value: 0
                          inclusive: true
                        maximum:
                          value: 0.4
                          inclusive: true
                  spread:
                    harmonized:
                      minimum:
                        value: 2.02
                        inclusive: true
                      maximum:
                        value: 4.04
                        inclusive: true
                    relative:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                  delta:
                    effective:
                      minimum:
                        value: 5.05
                        inclusive: true
                      maximum:
                        value: 2.02
                        inclusive: true
                    unadjusted:
                      minimum:
                        value: 4.04
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                  thetaOneWeek:
                    effective:
                      minimum:
                        value: 3.1415
                        inclusive: true
                      maximum:
                        value: 2.02
                        inclusive: true
                    unadjusted:
                      minimum:
                        value: 1.01
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                  vega:
                    effective:
                      minimum:
                        value: 2.02
                        inclusive: true
                      maximum:
                        value: 5.05
                        inclusive: true
                    unadjusted:
                      minimum:
                        value: 2.02
                        inclusive: true
                      maximum:
                        value: 4.04
                        inclusive: true
                  leverage:
                    minimum:
                      value: 0.4
                      inclusive: true
                    maximum:
                      value: 0.3
                      inclusive: true
                  omega:
                    minimum:
                      value: 2.02
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  impliedVolatility:
                    minimum:
                      value: 1
                      inclusive: true
                    maximum:
                      value: 0.4
                      inclusive: true
                  intrinsicValue:
                    minimum:
                      value: 1.01
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  timeValue:
                    minimum:
                      value: 1.01
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                  outperformancePoint:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                  parity:
                    minimum:
                      value: 3.1415
                      inclusive: true
                    maximum:
                      value: 4.04
                      inclusive: true
                performance:
                  intraday:
                    minimum:
                      value: 0.5
                      inclusive: true
                    maximum:
                      value: 1
                      inclusive: true
                  sinceIssue:
                    ask:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    bid:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                  endOfDay:
                    day1:
                      minimum:
                        value: 0.3
                        inclusive: true
                      maximum:
                        value: 0.2
                        inclusive: true
                    week1:
                      minimum:
                        value: 0.3
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    month1:
                      minimum:
                        value: 0.1
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                    months3:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0.2
                        inclusive: true
                    months6:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0.1
                        inclusive: true
                    year1:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    years3:
                      minimum:
                        value: 0.1
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                    years5:
                      minimum:
                        value: 0
                        inclusive: true
                      maximum:
                        value: 0.1
                        inclusive: true
                    yearToDate:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.3
                        inclusive: true
                volatility:
                  week1:
                    minimum:
                      value: 0.3
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  month1:
                    minimum:
                      value: 0.4
                      inclusive: true
                    maximum:
                      value: 0.2
                      inclusive: true
                  months3:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  months6:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.4
                      inclusive: true
                  year1:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  years3:
                    minimum:
                      value: 0.5
                      inclusive: true
                    maximum:
                      value: 0.3
                      inclusive: true
                  years5:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.4
                      inclusive: true
                  yearToDate:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.3
                      inclusive: true
              meta:
                attributes: []
                language: en
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  totalCount: -2
                  categorization:
                    ddv:
                    - level:
                        number: -2
                      categories:
                      - id: 2
                        name: Lorem ipsum
                        parent:
                          id: 3
                        count: 2
                    eusipa:
                    - level:
                        number: -132
                      categories:
                      - id: 3
                        name: Lorem ipsum
                        parent:
                          id: 3
                        count: -132
                  market:
                  - id: 2
                    name: Lorem ipsum
                    count: 2
                  lifeCycle:
                    issue:
                      minimum: 2024-01-01
                      maximum: 2024-12-24
                    maturity:
                      date:
                        minimum: 2024-01-01
                        maximum: 2024-12-24
                      remainingTermDays:
                        minimum: 4.04
                        maximum: 1.01
                      perpetual:
                      - value: false
                        count: 232
                    callable:
                    - value: true
                      count: -132
                    valuation:
                      minimum: 2024-12-24
                      maximum: 2024-12-24
                    repayment:
                      minimum: 2024-12-24
                      maximum: 2024-12-24
                  issuer:
                    juristicPerson:
                    - id: 4
                      name: Lorem ipsum
                      count: 232
                    group:
                    - id: 3
                      name: Lorem ipsum
                      count: 232
                  exercise:
                    right:
                    - value: call
                      count: 2
                    style:
                    - value: american
                      count: -132
                  settlement:
                  - value: either
                    count: 232
                  collateralized:
                  - value: false
                    count: 132
                  quanto:
                  - value: false
                    count: -2
                  capitalProtection:
                    minimum: 0.5
                    maximum: 0.1
                  underlying:
                    instrument:
                    - id: "209485"
                      count: 2
                    notation:
                    - id: "1532562"
                      count: 2
                    effectiveUnderlying:
                      instrument:
                      - id: "209485"
                        count: -2
                  strike:
                    value:
                      minimum: 5.05
                      maximum: 3.03
                    distance:
                      absolute:
                        minimum: 3.03
                        maximum: 5.05
                      relative:
                        minimum: 0.4
                        maximum: 0.4
                  bonusLevel:
                    value:
                      minimum: 5.05
                      maximum: 4.04
                    distance:
                      absolute:
                        minimum: 4.04
                        maximum: 2.02
                      relative:
                        minimum: 0.3
                        maximum: 0
                  cap:
                    value:
                      minimum: 5.05
                      maximum: 4.04
                    distance:
                      absolute:
                        minimum: 4.04
                        maximum: 1.01
                      relative:
                        minimum: 0.1
                        maximum: 0.2
                    cashFlow:
                      minimum: 2.02
                      maximum: 4.04
                  knockOut:
                    observation:
                    - type: continuous
                      count: -232
                    value:
                      minimum: 1.01
                      maximum: 3.03
                    distance:
                      absolute:
                        minimum: 2.02
                        maximum: 3.1415
                      relative:
                        minimum: 0.3
                        maximum: 0.2
                    breached:
                    - value: true
                      count: 2
                  knockIn:
                    observation:
                    - type: continuous
                      count: 232
                    value:
                      minimum: 2.02
                      maximum: 4.04
                    distance:
                      absolute:
                        minimum: 3.03
                        maximum: 3.03
                      relative:
                        minimum: 0.4
                        maximum: 0.1
                    breached:
                    - value: false
                      count: -132
                    cashFlow:
                      minimum: 5.05
                      maximum: 4.04
                  lockOut:
                    observation:
                    - type: continuous
                      count: 232
                    value:
                      minimum: 3.03
                      maximum: 3.03
                    distance:
                      absolute:
                        minimum: 1.01
                        maximum: 3.03
                      relative:
                        minimum: 0
                        maximum: 0.1
                    cashFlow:
                      minimum: 3.1415
                      maximum: 3.03
                  lockIn:
                    observation:
                    - type: eod
                      count: 2
                    value:
                      minimum: 4.04
                      maximum: 2.02
                    distance:
                      absolute:
                        minimum: 5.05
                        maximum: 3.1415
                      relative:
                        minimum: 0.4
                        maximum: 0.2
                    cashFlow:
                      minimum: 1.01
                      maximum: 4.04
                  capitalGuarantee:
                    value:
                      minimum: 2.02
                      maximum: 1.01
                    distance:
                      absolute:
                        minimum: 2.02
                        maximum: 5.05
                      relative:
                        minimum: 1
                        maximum: 1
                    cashFlow:
                      minimum: 5.05
                      maximum: 4.04
                  couponTriggerLevel:
                    value:
                      minimum: 4.04
                      maximum: 3.03
                    distance:
                      absolute:
                        minimum: 5.05
                        maximum: 4.04
                      relative:
                        minimum: 0.1
                        maximum: 1
                    cashFlow:
                      minimum: 1.01
                      maximum: 2.02
                  rangeKnockOut:
                    observation:
                    - type: continuous
                      count: -2
                    upper:
                      value:
                        minimum: 1.01
                        maximum: 3.03
                    lower:
                      value:
                        minimum: 3.03
                        maximum: 4.04
                    breached:
                    - value: true
                      count: -232
                    cashFlow:
                      minimum: 5.05
                      maximum: 4.04
                  participation:
                  - value: short
                    count: 2
                  constantLeverage:
                  - value: 3.1415
                    count: -132
                  nominalCurrency:
                  - id: 1
                    isoCode: USD
                    count: 232
                  currentInterestRate:
                    types:
                    - value: fixed
                      count: 232
                    value:
                      minimum: 0.4
                      maximum: 1
                  keyFigures:
                    bonusYield:
                      absolute:
                        minimum: 1.01
                        maximum: 4.04
                      relative:
                        minimum: 0
                        maximum: 0.5
                      annualized:
                        minimum: 0.4
                        maximum: 0.5
                    sidewaysYield:
                      absolute:
                        minimum: 3.03
                        maximum: 5.05
                      relative:
                        minimum: 0.3
                        maximum: 0.3
                      annualized:
                        minimum: 0.5
                        maximum: 1
                    maximumYield:
                      absolute:
                        minimum: 5.05
                        maximum: 1.01
                      relative:
                        minimum: 0.2
                        maximum: 0.1
                      annualized:
                        minimum: 0.5
                        maximum: 0.1
                    agio:
                      absolute:
                        minimum: 3.03
                        maximum: 5.05
                      relative:
                        minimum: 0.4
                        maximum: 0.3
                      annualized:
                        minimum: 0
                        maximum: 0
                    discount:
                      absolute:
                        minimum: 4.04
                        maximum: 2.02
                      relative:
                        minimum: 0
                        maximum: 0
                    breakEven:
                      breakEvenPoint:
                        minimum: 1.01
                        maximum: 4.04
                      distance:
                        absolute:
                          minimum: 3.1415
                          maximum: 1.01
                        relative:
                          minimum: 0.1
                          maximum: 0.5
                    spread:
                      harmonized:
                        minimum: 3.1415
                        maximum: 5.05
                      relative:
                        minimum: 0.1
                        maximum: 0.2
                    delta:
                      effective:
                        minimum: 2.02
                        maximum: 5.05
                      unadjusted:
                        minimum: 1.01
                        maximum: 2.02
                    thetaOneWeek:
                      effective:
                        minimum: 3.03
                        maximum: 3.1415
                      unadjusted:
                        minimum: 5.05
                        maximum: 5.05
                    vega:
                      effective:
                        minimum: 3.1415
                        maximum: 2.02
                      unadjusted:
                        minimum: 3.1415
                        maximum: 5.05
                    leverage:
                      minimum: 1.01
                      maximum: 5.05
                    omega:
                      minimum: 3.1415
                      maximum: 4.04
                    impliedVolatility:
                      minimum: 0.5
                      maximum: 0
                    intrinsicValue:
                      minimum: 1.01
                      maximum: 4.04
                    timeValue:
                      minimum: 1.01
                      maximum: 3.1415
                    outperformancePoint:
                      minimum: 4.04
                      maximum: 3.1415
                    parity:
                      minimum: 1.01
                      maximum: 5.05
                  performance:
                    intraday:
                      minimum: 0.4
                      maximum: 0.4
                    sinceIssue:
                      ask:
                        minimum: 0
                        maximum: 0.3
                      bid:
                        minimum: 0.4
                        maximum: 0
                    endOfDay:
                      day1:
                        minimum: 0.4
                        maximum: 1
                      week1:
                        minimum: 0.1
                        maximum: 0.5
                      month1:
                        minimum: 0.1
                        maximum: 0.2
                      months3:
                        minimum: 0.1
                        maximum: 0.4
                      months6:
                        minimum: 0.4
                        maximum: 1
                      year1:
                        minimum: 0.4
                        maximum: 1
                      years3:
                        minimum: 0.3
                        maximum: 0.1
                      years5:
                        minimum: 0.1
                        maximum: 1
                      yearToDate:
                        minimum: 0
                        maximum: 0
                  volatility:
                    week1:
                      minimum: 0.4
                      maximum: 0.1
                    month1:
                      minimum: 1
                      maximum: 1
                    months3:
                      minimum: 0.5
                      maximum: 0.4
                    months6:
                      minimum: 0.3
                      maximum: 0.3
                    year1:
                      minimum: 0.1
                      maximum: 0.2
                    years3:
                      minimum: 0.2
                      maximum: 0.2
                    years5:
                      minimum: 0.5
                      maximum: 0.1
                    yearToDate:
                      minimum: 0
                      maximum: 0.1
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: Possible values and value ranges for the parameters used in the endpoint
        `/securitized-derivative/notation/screener/search`.
      tags:
      - securitizedDerivative
      x-contentType: application/json
      x-accepts: application/json
  /securitized-derivative/notation/screener/search:
    post:
      description: |-
        Screener for securitized derivatives's notations based on securitized derivatives-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. All identifiers used as parameters must be valid and entitled.

         Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term "level" is used instead of "price", e.g. underlying level instead of underlying price.

         The endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are returned in the result.

         The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.
      operationId: postSecuritizedDerivativeNotationScreenerSearch
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                validation:
                  onlyActive: true
                  prices:
                    quality: DLY
                    latest:
                      availableOnly: false
                      minimumDate: 2024-12-24
                    previous:
                      availableOnly: false
                      minimumDate: 2024-01-01
                  valueUnit:
                    selection:
                      restrict:
                        ids:
                        - 1
                      exclude:
                        ids:
                        - 2
                  market:
                    selection:
                      restrict:
                        ids:
                        - 4
                      exclude:
                        ids:
                        - 1
                    priority:
                      ids:
                      - 4
                  instrumentRestrictionList:
                    ids:
                    - 5
                  notationRestrictionList:
                    ids:
                    - 4
                category:
                  ids:
                  - 4
                registrationCountry:
                  ids:
                  - 3
                lifeCycle:
                  issue:
                    start: 2024-12-24
                    end: 2024-01-01
                  maturity:
                    restriction:
                      date:
                        start: 2024-01-01
                        end: 2024-01-01
                      remainingTermDays:
                        minimum:
                          value: 2.02
                          inclusive: true
                        maximum:
                          value: 2.02
                          inclusive: true
                    perpetual: only
                  callable: false
                  valuation:
                    start: 2024-01-01
                    end: 2024-12-24
                  repayment:
                    start: 2024-12-24
                    end: 2024-12-24
                issuer:
                  ids:
                  - 3
                exercise:
                  right: call
                  style: american
                settlement: physical
                collateralized: true
                quanto: true
                capitalProtection:
                  minimum:
                    value: 0.4
                    inclusive: true
                  maximum:
                    value: 0
                    inclusive: true
                underlying:
                  instrument:
                    ids:
                    - "4004"
                  notation:
                    ids:
                    - "5005"
                cashFlowCurrency:
                  id: 4
                singleBarriers:
                - type: cap
                  observation:
                    type: eod
                  level:
                    absolute:
                      minimum:
                        value: 4.04
                        inclusive: true
                      maximum:
                        value: 5.05
                        inclusive: true
                  distance:
                    absolute:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 0.1
                        inclusive: true
                  breach:
                    breached: exclude
                  cashFlow:
                    minimum:
                      value: 1.01
                      inclusive: true
                    maximum:
                      value: 4.04
                      inclusive: true
                rangeBarriers:
                - type: rangeKnockOut
                  observation:
                    type: eod
                  upper:
                    level:
                      absolute:
                        minimum:
                          value: 1.01
                          inclusive: true
                        maximum:
                          value: 2.02
                          inclusive: true
                  lower:
                    level:
                      absolute:
                        minimum:
                          value: 4.04
                          inclusive: true
                        maximum:
                          value: 1.01
                          inclusive: true
                  breach:
                    breached: exclude
                  cashFlow:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 2.02
                      inclusive: true
                factorCertificates:
                  effectiveUnderlying:
                    instrument:
                      ids:
                      - "1001"
                  participation: short
                  constantLeverage:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                nominalCurrency:
                  id: 3
                currentInterestRate:
                  type: variable
                  value:
                    minimum:
                      value: 0.4
                      inclusive: true
                    maximum:
                      value: 0.4
                      inclusive: true
                keyFigures:
                  bonusYield:
                    absolute:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 2.02
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 1
                        inclusive: true
                  sidewaysYield:
                    absolute:
                      minimum:
                        value: 4.04
                        inclusive: true
                      maximum:
                        value: 4.04
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 1
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                  maximumYield:
                    absolute:
                      minimum:
                        value: 4.04
                        inclusive: true
                      maximum:
                        value: 4.04
                        inclusive: true
                    relative:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 1
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                  agio:
                    absolute:
                      minimum:
                        value: 4.04
                        inclusive: true
                      maximum:
                        value: 2.02
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.3
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    annualized:
                      minimum:
                        value: 0.1
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                  discount:
                    absolute:
                      minimum:
                        value: 2.02
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.1
                        inclusive: true
                      maximum:
                        value: 0.4
                        inclusive: true
                  breakEven:
                    breakEvenPoint:
                      minimum:
                        value: 4.04
                        inclusive: true
                      maximum:
                        value: 2.02
                        inclusive: true
                    distance:
                      absolute:
                        minimum:
                          value: 1.01
                          inclusive: true
                        maximum:
                          value: 4.04
                          inclusive: true
                      relative:
                        minimum:
                          value: 0.2
                          inclusive: true
                        maximum:
                          value: 0
                          inclusive: true
                  spread:
                    harmonized:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                    relative:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0.3
                        inclusive: true
                  delta:
                    effective:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 3.1415
                        inclusive: true
                    unadjusted:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 5.05
                        inclusive: true
                  thetaOneWeek:
                    effective:
                      minimum:
                        value: 5.05
                        inclusive: true
                      maximum:
                        value: 1.01
                        inclusive: true
                    unadjusted:
                      minimum:
                        value: 5.05
                        inclusive: true
                      maximum:
                        value: 2.02
                        inclusive: true
                  vega:
                    effective:
                      minimum:
                        value: 3.03
                        inclusive: true
                      maximum:
                        value: 3.03
                        inclusive: true
                    unadjusted:
                      minimum:
                        value: 1.01
                        inclusive: true
                      maximum:
                        value: 1.01
                        inclusive: true
                  leverage:
                    minimum:
                      value: 0.2
                      inclusive: true
                    maximum:
                      value: 0.4
                      inclusive: true
                  omega:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                  impliedVolatility:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  intrinsicValue:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                  timeValue:
                    minimum:
                      value: 2.02
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  outperformancePoint:
                    minimum:
                      value: 3.1415
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  parity:
                    minimum:
                      value: 3.1415
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                performance:
                  intraday:
                    minimum:
                      value: 0.2
                      inclusive: true
                    maximum:
                      value: 0.3
                      inclusive: true
                  sinceIssue:
                    ask:
                      minimum:
                        value: 0
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    bid:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 0.3
                        inclusive: true
                  endOfDay:
                    day1:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.2
                        inclusive: true
                    week1:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 0.5
                        inclusive: true
                    month1:
                      minimum:
                        value: 0.4
                        inclusive: true
                      maximum:
                        value: 0
                        inclusive: true
                    months3:
                      minimum:
                        value: 1
                        inclusive: true
                      maximum:
                        value: 0.2
                        inclusive: true
                    months6:
                      minimum:
                        value: 0.1
                        inclusive: true
                      maximum:
                        value: 0.4
                        inclusive: true
                    year1:
                      minimum:
                        value: 0.3
                        inclusive: true
                      maximum:
                        value: 0.4
                        inclusive: true
                    years3:
                      minimum:
                        value: 0.2
                        inclusive: true
                      maximum:
                        value: 0.3
                        inclusive: true
                    years5:
                      minimum:
                        value: 0
                        inclusive: true
                      maximum:
                        value: 0.1
                        inclusive: true
                    yearToDate:
                      minimum:
                        value: 0.5
                        inclusive: true
                      maximum:
                        value: 0.3
                        inclusive: true
                volatility:
                  week1:
                    minimum:
                      value: 0.2
                      inclusive: true
                    maximum:
                      value: 0
                      inclusive: true
                  month1:
                    minimum:
                      value: 1
                      inclusive: true
                    maximum:
                      value: 0.4
                      inclusive: true
                  months3:
                    minimum:
                      value: 0.3
                      inclusive: true
                    maximum:
                      value: 0.2
                      inclusive: true
                  months6:
                    minimum:
                      value: 0.4
                      inclusive: true
                    maximum:
                      value: 0.2
                      inclusive: true
                  year1:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  years3:
                    minimum:
                      value: 0.1
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  years5:
                    minimum:
                      value: 0.3
                      inclusive: true
                    maximum:
                      value: 0.5
                      inclusive: true
                  yearToDate:
                    minimum:
                      value: 0
                      inclusive: true
                    maximum:
                      value: 0
                      inclusive: true
              meta:
                attributes: []
                language: en
                sort:
                - -keyFigures.omega
                pagination:
                  offset: 0
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationScreenerSearchRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: "1532562"
                  symbol: FDS
                  fsym:
                    listing:
                      permanentIdentifier: DJC0PL-S
                      tickerExchange: FDS-USA
                      isPrimary: true
                    regional:
                      permanentIdentifier: DJC0PL-S
                      tickerRegion: FDS-US
                      isPrimary: true
                  valueUnit:
                    id: 2
                    code: EUR
                  market:
                    id: 1
                    name: Lorem ipsum
                  instrument:
                    id: "209485"
                    name: Lorem ipsum
                    shortName: Lorem ipsum
                    isin: US3030751057
                    nsin:
                      wkn: "901629"
                      valor: "1234567"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
                    categorization:
                      ddv:
                        level1:
                          id: 4
                          name: Lorem ipsum
                        level2:
                          id: 4
                          name: Lorem ipsum
                        level3:
                          id: 3
                          name: Lorem ipsum
                      eusipa:
                        level1:
                          id: 4
                          name: Lorem ipsum
                        level2:
                          id: 3
                          name: Lorem ipsum
                        level3:
                          id: 2
                          name: Lorem ipsum
                    lifeCycle:
                      issue: 2024-01-01
                      maturity:
                        date: 2024-12-24
                        remainingTermDays: 2.02
                        perpetual: false
                      callable: false
                      valuation: 2024-12-24
                      repayment: 2024-12-24
                    issuer:
                      id: 3
                      name: Lorem ipsum
                      group:
                        id: 1
                        name: Lorem ipsum
                    exercise:
                      right: call
                      style: bermudan
                    settlement: either
                    collateralized: false
                    quanto: true
                    capitalProtection: 0.5
                    underlying:
                      name: Lorem ipsum
                      valueUnit:
                        id: 4
                        code: Lorem ipsum
                      coverRatio: 3.03
                      notation:
                        id: "1532562"
                        instrument:
                          id: "209485"
                          typeComposite: factorIndex
                      effectiveUnderlying:
                        instrument:
                          id: "209485"
                          name: Lorem ipsum
                    strike:
                      value: 5.05
                      distance:
                        absolute: 2.02
                        relative: 0.4
                    bonusLevel:
                      value: 2.02
                      distance:
                        absolute: 3.1415
                        relative: 0
                    cap:
                      value: 4.04
                      distance:
                        absolute: 5.05
                        relative: 0.3
                      cashFlow: 5.05
                    knockOut:
                      observation:
                        type: continuous
                      value: 3.03
                      distance:
                        absolute: 3.03
                        relative: 0
                      breach:
                        breached: false
                        datetime: 2024-01-01T00:00:00.000Z
                    knockIn:
                      observation:
                        type: continuous
                      value: 3.1415
                      distance:
                        absolute: 5.05
                        relative: 0.1
                      breach:
                        breached: true
                        datetime: 2024-12-24T18:00:00.000000Z
                      cashFlow: 4.04
                    lockOut:
                      observation:
                        type: continuous
                      value: 3.1415
                      distance:
                        absolute: 1.01
                        relative: 0.4
                      cashFlow: 5.05
                    lockIn:
                      observation:
                        type: eod
                      value: 5.05
                      distance:
                        absolute: 3.03
                        relative: 0.4
                      cashFlow: 4.04
                    capitalGuarantee:
                      value: 3.03
                      distance:
                        absolute: 1.01
                        relative: 0.4
                      cashFlow: 2.02
                    couponTriggerLevel:
                      value: 4.04
                      distance:
                        absolute: 5.05
                        relative: 0.4
                      cashFlow: 2.02
                    rangeKnockOut:
                      observation:
                        type: eod
                      upper:
                        value: 1.01
                      lower:
                        value: 3.03
                      breach:
                        breached: true
                        datetime: 2024-01-01T00:00:00.000Z
                      cashFlow: 2.02
                    participation: short
                    constantLeverage: 1.01
                    nominalCurrency:
                      id: 4
                      isoCode: EUR
                    currentInterestRate:
                      type: variable
                      value: 1
                  keyFigures:
                    currency:
                      id: 2
                      isoCode: USD
                    bonusYield:
                      absolute: 1.01
                      relative: 0.2
                      annualized: 0.2
                    sidewaysYield:
                      absolute: 2.02
                      relative: 0.1
                      annualized: 1
                    maximumYield:
                      absolute: 3.03
                      relative: 0.4
                      annualized: 0.1
                    agio:
                      absolute: 3.1415
                      relative: 0.1
                      annualized: 0.4
                    discount:
                      absolute: 3.03
                      relative: 0.5
                    breakEven:
                      breakEvenPoint: 3.1415
                      distance:
                        absolute: 3.1415
                        relative: 0.4
                    spread:
                      harmonized: 3.1415
                      relative: 0.1
                    delta:
                      effective: 2.02
                      unadjusted: 3.1415
                    thetaOneWeek:
                      effective: 3.1415
                      unadjusted: 4.04
                    vega:
                      effective: 1.01
                      unadjusted: 1.01
                    leverage: 1.01
                    omega: 2.02
                    impliedVolatility: 0.1
                    intrinsicValue: 2.02
                    timeValue: 4.04
                    outperformancePoint: 5.05
                    parity: 1.01
                  performance:
                    intraday: 0.5
                    sinceIssue:
                      ask: 1
                      bid: 0.2
                    endOfDay:
                      day1: 0.4
                      week1: 1
                      month1: 0.3
                      months3: 0.4
                      months6: 0.5
                      year1: 0.5
                      years3: 0
                      years5: 1
                      yearToDate: 0.2
                  volatility:
                    week1: 0.1
                    month1: 0.1
                    months3: 0.2
                    months6: 0.5
                    year1: 0.5
                    years3: 1
                    years5: 0.3
                    yearToDate: 0.2
                meta:
                  status:
                    code: 200
                  pagination:
                    total: 3
                    isEstimatedTotal: false
                  partial:
                    isPartial: true
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Screener for securitized derivatives's notations based on securitized
        derivatives-specific parameters.
      tags:
      - securitizedDerivative
      x-contentType: application/json
      x-accepts: application/json
  /securitized-derivative/underlying/list:
    get:
      description: Provides details regarding the underlyings, their respective barriers
        and related cash flows (if any) of a securitized derivative. A unique combination
        of a cash flow and related barrier modalities, such as observation and level,
        is called a condition. In case of a securitized derivative with multiple underlyings,
        a condition comprises the respective barriers of all underlyings participating
        in that condition. Since some underlyings, e.g. an index or a performance
        difference of a stock and an index (alpha structure), do not represent a directly
        tradable asset, they do not have a price in the classical sense. Therefore,
        the term "level" is used instead of "price", e.g. underlying level instead
        of underlying price.
      operationId: getSecuritizedDerivativeUnderlyingList
      parameters:
      - description: Identifier to resolve.
        example: FDS-US
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          example: FDS-US
          maxLength: 50
          minLength: 3
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          type: string
        style: form
      - description: |+
          Type of the identifier.
          | Value | Description |
          | --- | --- |
          | idInstrument | MDG identifier of an instrument. |
          | idNotation | MDG identifier of a listing. |
          | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
          | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
          | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |
          | tickerExchange | FactSet market symbol of a listing. |
          | tickerRegion | Regional FactSet ticker symbol. |
          | sedol | SEDOL or IDII of a listing. |
          | isin | ISIN of an instrument. |
          | wkn | WKN of an instrument. |
          | valor | Valor number of an instrument. |
          | cusip | CUSIP or CINS identifier of an instrument |

        example: tickerRegion
        explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: |+
            Type of the identifier.
            | Value | Description |
            | --- | --- |
            | idInstrument | MDG identifier of an instrument. |
            | idNotation | MDG identifier of a listing. |
            | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
            | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
            | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |
            | tickerExchange | FactSet market symbol of a listing. |
            | tickerRegion | Regional FactSet ticker symbol. |
            | sedol | SEDOL or IDII of a listing. |
            | isin | ISIN of an instrument. |
            | wkn | WKN of an instrument. |
            | valor | Valor number of an instrument. |
            | cusip | CUSIP or CINS identifier of an instrument |

          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          example: tickerRegion
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
[...]
