openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: "The FactSet Debt Capital Structure API offers insights into public\
    \ and private company debt financing for 69,000+ entities globally. Analyze at\
    \ the individual-instrument level through summary and detailed information of\
    \ the debt structure with history available back through 2006. Instrument types\
    \ covered include Revolving Credit, Term Loans, Notes, and Bonds. \n\n**How to\
    \ Programmatically Download API Specification file:**\n\nPlease use the below\
    \ link to download the FactSet Debt Capital Structure API Specification file in\
    \ .yaml. You must be authorized for this API to extract. This specification can\
    \ then be used for Codegen to create your own SDKs. You can also access by selecting\
    \ the \"Download Spec\" button to the right of the version below.\n\n[https://api.factset.com/content/factset-dcs/v1/spec/swagger.yaml](https://api.factset.com/content/factset-dcs/v1/spec/swagger.yaml)\n\
    \nThis API is rate-limited to 10 requests per second and 10 concurrent requests\
    \ per user.\n"
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Debt Capital Structure API
  version: 1.2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-dcs-api
servers:
- description: Production
  url: https://api.factset.com/content/factset-dcs/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Details
- name: Totals
- name: Liquidity
- name: Metrics
paths:
  /details-summary:
    get:
      description: "Gets totals for instruments of varying types such as Revolving\
        \ Credit, Term Loans,  ST Debt Total, Notes/Bonds, and Other. \n"
      operationId: getDetailsSummary
      parameters:
      - description: "The requested list of security identifiers. Accepted ID types\
          \ include Market Tickers,  SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.\
          \ \n"
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - IBM-US
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - IBM-US
            - FDS-US
            - AAPL-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: |
          Periodicity or frequency of the fiscal periods, where
            * **ANN**  = Annual Original,
            * **QTR**  = Quarterly
        examples:
          ANN:
            summary: ANN - Annual
            value: ANN
          QTR:
            summary: QTR - Quarterly
            value: QTR
        explode: false
        in: query
        name: periodicity
        required: true
        schema:
          enum:
          - ANN
          - QTR
          type: string
        style: form
      - description: |
          The date of the period requested in YYYY-MM-DD format.  Future dates (T+1) are not accepted in this endpoint.
        example: 2024-01-01
        explode: false
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          example: USD
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Details Summary Response:
                  $ref: '#/components/examples/resultOfDetailsSummary'
              schema:
                $ref: '#/components/schemas/DetailsSummaryResponse'
          description: Details summary object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns debt instrument totals details for specified list of companies.
      tags:
      - Details
      x-accepts: application/json
  /metrics:
    get:
      description: |
        Gets available metrics to use in other endpoints
      operationId: getMetrics
      parameters:
      - description: |
          Filters the list of available DCS metrics by endpoint.  -
            * **DCS Totals** = DCS Totals
            * **Liquidity** = Liquidity
        examples:
          DCS_Totals:
            summary: DCS Totals
            value: DCS_Totals
          Liquidity:
            summary: Liquidity
            value: Liquidity
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - DCS Totals
          - Liquidity
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Metrics Response:
                  $ref: '#/components/examples/resultOfMetrics'
              schema:
                $ref: '#/components/schemas/MetricsResponse'
          description: Metrics object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns available DCS metrics to use in other endpoints.
      tags:
      - Metrics
      x-accepts: application/json
  /dcs-totals:
    post:
      description: |
        Returns debt instruments totals.
      operationId: getDcsTotalsPost
      requestBody:
        content:
          application/json:
            examples:
              Request for Debt Instrument Totals in Date Range:
                $ref: '#/components/examples/dcsRequestAll'
            schema:
              $ref: '#/components/schemas/DCSRequest'
        description: Request object for `DCS Totals`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Debt Instrument Totals in Date Range:
                  $ref: '#/components/examples/dcsResponseAll'
              schema:
                $ref: '#/components/schemas/DcsResponse'
          description: Array of details
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieves debt instrument totals for specified metrics and date ranges.
      tags:
      - Totals
      x-contentType: application/json
      x-accepts: application/json
  /liquidity:
    post:
      description: |
        Gets liquidity detail and summary information (includes all instrument details).
      operationId: getLiquidityPost
      requestBody:
        content:
          application/json:
            examples:
              Request for Liquidity in Date Range:
                $ref: '#/components/examples/liquidityRequestAll'
            schema:
              $ref: '#/components/schemas/LiquidityRequest'
        description: Request object for `Liquidity`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Liquidity:
                  $ref: '#/components/examples/liquidityResponseAll'
              schema:
                $ref: '#/components/schemas/LiquidityResponse'
          description: Array of details
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns liquidity information for specified metrics and date ranges.
      tags:
      - Liquidity
      x-contentType: application/json
      x-accepts: application/json
  /details:
    post:
      description: |
        Gets instruments of varying types such as Revolving Credit, Term Loans, ST Debt Total, Notes/Bonds, and Other.
      operationId: getDetailsList
      requestBody:
        content:
          application/json:
            examples:
              Request for All Details in Date Range:
                $ref: '#/components/examples/detailsRequestAll'
            schema:
              $ref: '#/components/schemas/DetailsRequest'
        description: Request object for `Details`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Details in Date Range:
                  $ref: '#/components/examples/detailsResponseAll'
              schema:
                $ref: '#/components/schemas/DetailsResponse'
          description: Array of details
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns debt instruments for a list of companies.
      tags:
      - Details
      x-contentType: application/json
      x-accepts: application/json
  /details-interim:
    post:
      description: |
        Gets instruments of varying types such as Revolving Credit, Term Loans, ST Debt Total, Notes/Bonds, and Other. The data returned by this endpoint is for the interim period and only returns the most recently available value.
      operationId: getInterimDetailsList
      requestBody:
        content:
          application/json:
            examples:
              Request for All Details in Date Range:
                $ref: '#/components/examples/interimDetailsRequestAll'
            schema:
              $ref: '#/components/schemas/InterimDetailsRequest'
        description: Request object for `Details`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Details in Date Range:
                  $ref: '#/components/examples/detailsResponseAll'
              schema:
                $ref: '#/components/schemas/DetailsResponse'
          description: Array of interim details
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns most recently available debt instrument data for a list of
        companies.
      tags:
      - Details
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    detailsRequestAll:
      summary: Detail request for company id.
      value:
        data:
          ids:
          - IBM-US
          periodicity: ANN
          date: 2023-12-31
          currency: USD
    interimDetailsRequestAll:
      summary: Detail request for company id.
      value:
        data:
          ids:
          - IBM-US
          currency: USD
    dcsRequestAll:
      summary: Debt Capital Structure Totals request for company id.
      value:
        data:
          ids:
          - IBM-US
          startDate: 2023-12-31
          endDate: 2024-12-31
          frequency: AM
          metrics:
          - total_st_debt
          currency: USD
    liquidityRequestAll:
      summary: Liquidity request for company id.
      value:
        data:
          ids:
          - IBM-US
          startDate: 2019-12-31
          term: SHORT_TERM
          metrics:
          - total_revolver_amount_avail_debt
    detailsResponseAll:
      summary: Details response for company id.
      value:
        data:
        - requestId: IBM-USA
          instrumentId: FDS1R56X6
          instrumentType: Revolving Credit
          description: Unsec. Rev. Facility
          seniority: Senior Secured
          amountOutstanding: 250
          currency: USD
          couponRate: 2.9
          couponType: Variable
          yieldToWorst: 3.77
          issueDate: 2020-11-19
          reportDate: 2020-11-19
          maturityDate: 2020-11-19
    dcsResponseAll:
      summary: Debt Capital Structure Totals response for company id.
      value:
        data:
        - requestId: IBM-USA
          fysmId: SJY281-R
          metric: total_st_debt
          fiscalYear: 2024
          fiscalEndDate: 2024-12-31
          reportDate: 2024-12-31
          date: 2025-12-31
          currency: USD
          value: 5089
    liquidityResponseAll:
      summary: Liquidity response for company id.
      value:
        data:
        - requestId: IBM-USA
          fysmId: SJY281-R
          metric: total_revolver_amount_avail_debt
          fiscalYear: 2024
          fiscalEndDate: 2024-12-31
          reportDate: 2024-12-31
          currency: USD
          value: 5089
          instrumentId: FDS1R56X6
          instrumentType: Revolving Credit
          description: Unsec. Rev. Facility
          facilityAmount: 2500
          amountOutstanding: 0
          borrowingBase: 2500
          maturityDate: 2020-11-19
    resultOfDetailsSummary:
      summary: Details Summary for Single Company ID
      value:
        data:
        - requestId: IBM-US
          fysmId: SJY281-R
          reportDate: 2024-12-31
          fiscalYear: 2024
          totalShortTermDebt: 5089
          totalLongTermDebt: 54943
          totalRevolvingCredit: 0
          totalTermDebt: 212
          totalBondDebt: 54901.8
          otherDebt: -170.8
          netLongTermDebt: 49884
          totalDebt: 54973
          currency: USD
    resultOfMetrics:
      summary: Metrics response example
      value:
        data:
        - metric: total_st_debt
          description: Total short-term debt
          category: DCS detail summary
        - metric: total_revolver_debt
          description: Total long-term revolver debt
          category: DCS detail summary
        - metric: total_term_loan_debt
          description: Total long-term loan debt
          category: DCS detail summary
    resultOfDcsTotals:
      summary: DCS Totals response example
      value:
        data:
        - requestId: IBM-US
          fsymId: SJY281-R
          metric: total_st_debt
          fiscalYear: 2024
          fiscalEndDate: 2024-12-31
          reportDate: 2024-12-31
          currency: USD
          value: 5089
    resultOfLiquidity:
      summary: Liquidity response example
      value:
        data:
        - requestId: IBM-USA
          fysmId: SJY281-R
          metric: total_revolver_amount_avail_debt
          fiscalYear: 2024
          fiscalEndDate: 2024-12-31
          reportDate: 2024-12-31
          currency: USD
          value: 5089
          instrumentId: FDS1R56X6
          instrumentType: Revolving Credit
          description: Unsec. Rev. Facility
          facilityAmount: 2500
          amountOutstanding: 0
          borrowingBase: 2500
          maturityDate: 2020-11-19
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: 'The date parameter must be in the following date format: YYYY-MM-DD'
          detail: 'The date parameter must be in the following date format: YYYY-MM-DD'
    badRequestNotFound:
      description: This bad request occurs when a request doesn't have data for requested
        identifier. To resolve, give valid parameters.
      summary: Bad Request - Data Not Found
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: The requested data could not be found
          detail: No data exists for the provided criteria or identifier.
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: Missing/Invalid Parameters.
          detail: The parameter 'ids' is required and may not be empty.
    badRequestFutureDate:
      description: This error message occurs when a future date is requested in the
        startDate and endDate parameters. Please revise your request to include dates
        as of today's current date or any prior historical date.
      summary: Bad Request - Future Date
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: Missing/Invalid Parameters
          detail: The use of future dates is not applicable in this endpoint. Please
            revise your request to include dates up to today's current date.
    badRequestInvalidParameters:
      description: This error message occurs when a request parameter is used in which
        is not recognized by the service. Please revise your request to include only
        the parameters listed in the specification. Typical causes are spelling mistakes
        and use of improper casing.
      summary: Bad Request - Invalid Parameters
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: Missing/Invalid Parameters
          detail: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
            modify your request to use parameters outlined in the specification for
            this endpoint.'
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON, but is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: Malformed JSON Request
          detail: The request body is malformed. Please review the request body and
            try again.
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the fql service.
      summary: Bad Request - Read Timeout
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          title: Read Timeout
          detail: The request took too long. Try again with a smaller request.
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Unauthorized
          title: User Authentication Failed.
          detail: User Authentication Failed.
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Forbidden
          title: User Authorization Failed.
          detail: User is not authorized for the id requested, please reach out to
            FactSet for support
    notFound:
      description: The requested endpoint could not be found.
      summary: Not Found
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Not Found
          title: No data found
          detail: The requested endpoint could not be found.
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Unsupported Media Type
          title: Unsupported Media Type
          detail: text/html media type is not supported. Supported media types are
            application/json.
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          title: Error writing JSON output
          detail: The server encountered an error writing the JSON response. Please
            `Report Issue` to FactSet.
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          title: Unexpected error
          detail: An unexpected error occurred. Please `Report Issue` to FactSet.
  parameters:
    ids:
      description: "The requested list of security identifiers. Accepted ID types\
        \ include Market Tickers,  SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.\
        \ \n"
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - IBM-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - IBM-US
          - FDS-US
          - AAPL-US
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 200
        minItems: 1
        type: array
      style: form
    periodicity:
      description: |
        Periodicity or frequency of the fiscal periods, where
          * **ANN**  = Annual Original,
          * **QTR**  = Quarterly
      examples:
        ANN:
          summary: ANN - Annual
          value: ANN
        QTR:
          summary: QTR - Quarterly
          value: QTR
      explode: false
      in: query
      name: periodicity
      required: true
      schema:
        enum:
        - ANN
        - QTR
        type: string
      style: form
    startDate:
      description: |
        The date of the period requested in YYYY-MM-DD format.  Future dates (T+1) are not accepted in this endpoint.
      example: 2024-01-01
      explode: false
      in: query
      name: startDate
      required: true
      schema:
        format: date
        type: string
      style: form
    endDate:
      description: The date of the period requested in YYYY-MM-DD format. Future dates
        (T+1) are not accepted in this endpoint.
      example: 2024-03-01
      explode: false
      in: query
      name: endDate
      required: false
      schema:
        format: date
        type: string
      style: form
    frequency:
      description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
        \  * **W** = Weekly, based on the last day of the week of the start date.\n\
        \  * **AM** = Monthly, based on the start date (e.g., if the start date is\
        \ June 16, data is displayed for June 16, May 16, April 16 etc.).      \n\
        \  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual Annual,\
        \ based on the start date.\n"
      example: AM
      explode: false
      in: query
      name: frequency
      required: true
      schema:
        enum:
        - D
        - W
        - AM
        - AQ
        - AY
        type: string
      style: form
    category:
      description: |
        Filters the list of available DCS metrics by endpoint.  -
          * **DCS Totals** = DCS Totals
          * **Liquidity** = Liquidity
      examples:
        DCS_Totals:
          summary: DCS Totals
          value: DCS_Totals
        Liquidity:
          summary: Liquidity
          value: Liquidity
      explode: true
      in: query
      name: category
      required: false
      schema:
        enum:
        - DCS Totals
        - Liquidity
        type: string
      style: form
    metrics:
      description: |
        The requested `metric` input, representing the debt instruments data item. For a definition of the item please use the `/metrics` endpoint.
      examples:
        oneItem:
          summary: One debt item
          value:
          - TOTAL_DEBT
        multipleItems:
          summary: Multiple debt items
          value:
          - TOTAL_DEBT
          - TOTAL_LT_NET_DEBT
      explode: false
      in: query
      name: metrics
      required: true
      schema:
        items:
          example: total_debt
          type: string
        maxItems: 100
        minItems: 1
        type: array
      style: form
    currency:
      description: |
        Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
      explode: true
      in: query
      name: currency
      required: false
      schema:
        default: LOCAL
        example: USD
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Not Found:
              $ref: '#/components/examples/badRequestNotFound'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "message" for more details.
    "401":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
    "404":
      content:
        application/json:
          examples:
            Bad Request - Endpoint Not Found:
              $ref: '#/components/examples/notFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The requested endpoint could not be found.
    "415":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal Server Error.
  schemas:
    DetailsSummaryResponse:
      description: Details Summary Response
      example:
        data:
        - totalShortTermDebt: 5089
          fsymId: SJY281-R
          totalDebt: 54973
          totalBondDebt: 54901.8
          totalLongTermDebt: 54943
          reportDate: 2017-12-30T00:00:00.000+0000
          requestId: IBM-US
          totalTermDebt: 212
          currency: USD
          fiscalYear: 2017
          totalRevolvingCredit: 2790
          netLongTermDebt: 49884
          otherDebt: -170.8
        - totalShortTermDebt: 5089
          fsymId: SJY281-R
          totalDebt: 54973
          totalBondDebt: 54901.8
          totalLongTermDebt: 54943
          reportDate: 2017-12-30T00:00:00.000+0000
          requestId: IBM-US
          totalTermDebt: 212
          currency: USD
          fiscalYear: 2017
          totalRevolvingCredit: 2790
          netLongTermDebt: 49884
          otherDebt: -170.8
      properties:
        data:
          items:
            $ref: '#/components/schemas/DetailsSummary'
          type: array
      title: Details Summary Response
      type: object
    DetailsSummary:
      description: Summary Object
      example:
        totalShortTermDebt: 5089
        fsymId: SJY281-R
        totalDebt: 54973
        totalBondDebt: 54901.8
        totalLongTermDebt: 54943
        reportDate: 2017-12-30T00:00:00.000+0000
        requestId: IBM-US
        totalTermDebt: 212
        currency: USD
        fiscalYear: 2017
        totalRevolvingCredit: 2790
        netLongTermDebt: 49884
        otherDebt: -170.8
      properties:
        requestId:
          description: Identifier that was used for the request.
          example: IBM-US
          type: string
        fsymId:
          description: FactSet Regional Security Identifier representing the specific
            data series for the requested `requestId`.
          example: SJY281-R
          nullable: true
          type: string
        reportDate:
          description: Returns the issuer's fiscal report date per the filing for
            the period and date(s) requested.
          example: 2017-12-30
          format: date
          nullable: true
          type: string
        fiscalYear:
          description: Fiscal year of the reported period in YYYY format.
          example: 2017
          nullable: true
          type: integer
        totalShortTermDebt:
          description: Returns the total short term debt for the date(s) requested.
          example: 5089
          format: float
          nullable: true
          type: number
        totalLongTermDebt:
          description: Returns the total long term debt for the date(s) requested.
          example: 54943
          format: float
          nullable: true
          type: number
        totalRevolvingCredit:
          description: Returns the total revolving credit for the date(s) requested.
          example: 2790
          format: float
          nullable: true
          type: number
        totalTermDebt:
          description: Returns the total term debt for the date(s) requested.
          example: 212
          format: float
          nullable: true
          type: number
        totalBondDebt:
          description: Returns the total bond debt for the date(s) requested.
          example: 54901.8
          format: float
          nullable: true
          type: number
        otherDebt:
          description: Returns all other debt associated with an identifier for the
            date(s) requested.
          example: -170.8
          format: float
          nullable: true
          type: number
        netLongTermDebt:
          description: Returns the net long term debt for the date(s) requested.
          example: 49884
          format: float
          nullable: true
          type: number
        totalDebt:
          description: Returns the total debt for the date(s) requested.
          example: 54973
          format: float
          nullable: true
          type: number
        currency:
          description: 'Currency code for the data. For a list of currency ISO codes,
            visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
          type: string
      title: Details Summary
      type: object
    DcsResponse:
      description: Debt Capital Structure Totals Response
      example:
        data:
        - date: 2020-11-19T00:00:00.000+0000
          reportDate: 2020-11-19T00:00:00.000+0000
          fysmId: SJY281-R
          metric: total_st_debt
          requestId: IBM-US
          currency: USD
          fiscalYear: 2017
        - date: 2020-11-19T00:00:00.000+0000
          reportDate: 2020-11-19T00:00:00.000+0000
          fysmId: SJY281-R
          metric: total_st_debt
          requestId: IBM-US
          currency: USD
          fiscalYear: 2017
      properties:
        data:
          items:
            $ref: '#/components/schemas/DcsResponseFields'
          type: array
      title: Debt Capital Structure Totals Response
      type: object
    DcsResponseFields:
      description: Debt Capital Structure Totals Response
      example:
        date: 2020-11-19T00:00:00.000+0000
        reportDate: 2020-11-19T00:00:00.000+0000
        fysmId: SJY281-R
        metric: total_st_debt
        requestId: IBM-US
        currency: USD
        fiscalYear: 2017
      properties:
        requestId:
          description: Identifier that was used for the request.
          example: IBM-US
          type: string
        fysmId:
          description: Identifier that was used for the request.
          example: SJY281-R
          type: string
        metric:
          description: The requested `metric` input, representing the Liquidity data
            item. For a definition of the item please use the `/metrics` endpoint.
          example: total_st_debt
          nullable: true
          type: string
        fiscalYear:
          description: Fiscal year of the reported period in YYYY format.
          example: 2017
          nullable: true
          type: integer
        reportDate:
          description: Reporting date for the debt instrument.
          example: 2020-11-19
          format: date
          nullable: true
          type: string
        date:
          description: Date for the period requested expressed in YYYY-MM-DD format
          example: 2020-11-19
          format: date
          nullable: true
          type: string
        currency:
          description: 'Currency code for the data. For a list of currency ISO codes,
            visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
          type: string
        value:
          $ref: '#/components/schemas/DCSValue'
      title: Debt Capital Structure Totals Response
      type: object
    DCSValue:
      description: |
        Value of the data metric requested. Depending on the metric, can be either a string or a numeric (double) value.
      nullable: true
      oneOf:
      - type: string
      - format: double
        nullable: true
        type: number
    LiquidityResponse:
      description: Liquidity Response
      example:
        data:
        - instrumentType: Revolving Credit
          fysmId: IBM-US
          amountOutstanding: 250
          instrumentId: FDS1R56X6
          description: Unsec. Rev. Facility
          facilityAmount: 2500
          reportDate: 2020-11-19T00:00:00.000+0000
          metric: total_revolver_amount_avail_debt
          requestId: IBM-US
          maturityDate: 2020-11-19T00:00:00.000+0000
          currency: USD
          fiscalYear: 2017
          borrowingBase: 2500
        - instrumentType: Revolving Credit
          fysmId: IBM-US
          amountOutstanding: 250
          instrumentId: FDS1R56X6
          description: Unsec. Rev. Facility
          facilityAmount: 2500
          reportDate: 2020-11-19T00:00:00.000+0000
          metric: total_revolver_amount_avail_debt
          requestId: IBM-US
          maturityDate: 2020-11-19T00:00:00.000+0000
          currency: USD
          fiscalYear: 2017
          borrowingBase: 2500
      properties:
        data:
          items:
            $ref: '#/components/schemas/LiquidityResponseFields'
          type: array
      title: Liquidity Response
      type: object
    LiquidityResponseFields:
      description: Liquidity Response
      example:
        instrumentType: Revolving Credit
        fysmId: IBM-US
        amountOutstanding: 250
        instrumentId: FDS1R56X6
        description: Unsec. Rev. Facility
        facilityAmount: 2500
        reportDate: 2020-11-19T00:00:00.000+0000
        metric: total_revolver_amount_avail_debt
        requestId: IBM-US
        maturityDate: 2020-11-19T00:00:00.000+0000
        currency: USD
        fiscalYear: 2017
        borrowingBase: 2500
      properties:
        requestId:
          description: Identifier that was used for the request.
          example: IBM-US
          type: string
        fysmId:
          description: Identifier that was used for the request.
          example: IBM-US
          type: string
        metric:
          description: The requested `metric` input, representing the Liquidity data
            item. For a definition of the item please use the `/metrics` endpoint.
          example: total_revolver_amount_avail_debt
          nullable: true
          type: string
        fiscalYear:
          description: Fiscal year of the reported period in YYYY format.
          example: 2017
          nullable: true
          type: integer
        reportDate:
          description: Reporting date for the debt instrument.
          example: 2020-11-19
          format: date
          nullable: true
          type: string
        currency:
          description: 'Currency code for the data. For a list of currency ISO codes,
            visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
          type: string
        value:
          $ref: '#/components/schemas/LiquidityValue'
        instrumentId:
          description: Identifier for the debt instrument.
          example: FDS1R56X6
          nullable: true
          type: string
        instrumentType:
          description: Type of debt instrument.
          enum:
          - Revolving Credit
          - Term Loans
          - ST Debt Total
          - Notes/Bonds
          - Other
          example: Revolving Credit
          nullable: true
          type: string
        description:
          description: Description of the debt instrument.
          example: Unsec. Rev. Facility
          nullable: true
          type: string
        amountOutstanding:
          description: Balance sheet amount outstanding.
          example: 250
          nullable: true
          type: number
        facilityAmount:
          description: Facility Amount for liquidity.
          example: 2500
          nullable: true
          type: number
        borrowingBase:
          description: Borrowing Base for liquidity.
          example: 2500
          nullable: true
          type: number
        maturityDate:
          description: Maturity date for the debt instrument.
          example: 2020-11-19
          format: date
          nullable: true
          type: string
      title: Liquidity Response
      type: object
    LiquidityValue:
      description: |
        Value of the data metric requested. Depending on the metric, can be either a string or a numeric (double) value.
      nullable: true
      oneOf:
      - type: string
      - format: double
        nullable: true
        type: number
    MetricsResponse:
      description: Metrics Response
      example:
        data:
        - metric: total_lt_secured_debt
          description: Total long-term secured debt
          category: secured/unsecured
        - metric: total_lt_secured_debt
          description: Total long-term secured debt
          category: secured/unsecured
      properties:
        data:
          description: |
            Array of metric objects representing the data items that can be requested from the Debt Capital Structure API.
          items:
            $ref: '#/components/schemas/Metric'
          type: array
      title: Metrics Response
      type: object
    Metric:
      description: Metric Object
      example:
        metric: total_lt_secured_debt
        description: Total long-term secured debt
        category: secured/unsecured
      properties:
        metric:
          description: Data item to be used as `metrics` input in `/dcs-totals/v#/`
            endpoint.
          example: total_lt_secured_debt
          nullable: true
          type: string
        description:
          description: Description of the metric.
          example: Total long-term secured debt
          nullable: true
          type: string
        category:
          description: Corresponding endpoint to input metric item.
          example: secured/unsecured
          nullable: true
          type: string
      type: object
    DCSTotalsResponse:
      description: DCS Totals Response
      properties:
        data:
          items:
            $ref: '#/components/schemas/DcsResponseFields'
          type: array
      title: DCS Totals Response
      type: object
    DCSRequest:
      description: DCS Totals Request
      example:
        data:
          endDate: 2018-12-01T00:00:00.000+0000
          ids:
          - FDS-US
          currency: USD
          metrics:
          - '["total_st_debt"]'
          - '["total_st_debt"]'
          startDate: 2017-12-01T00:00:00.000+0000
          frequency: AM
      properties:
        data:
          $ref: '#/components/schemas/DCSRequestBody'
      required:
      - data
      title: DCS Totals Request
      type: object
    DCSRequestBody:
      description: DCS Totals Request Body
      example:
        endDate: 2018-12-01T00:00:00.000+0000
        ids:
        - FDS-US
        currency: USD
        metrics:
        - '["total_st_debt"]'
        - '["total_st_debt"]'
        startDate: 2017-12-01T00:00:00.000+0000
        frequency: AM
      properties:
        ids:
          description: |
            The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Maximum of 25 IDs are supported.
          example:
          - FDS-US
          items:
            type: string
          type: array
        startDate:
          description: |
            The date of the period requested in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
          example: 2017-12-01
          format: date
          title: StartDate
          type: string
        endDate:
          description: |
            The date of the period requested in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
          example: 2018-12-01
          format: date
          title: EndDate
          type: string
        frequency:
          $ref: '#/components/schemas/Frequency'
        metrics:
          description: |
            Requested List of Financial Statement Items or Ratios.
          items:
            example: '["total_st_debt"]'
            maxItems: 100
            minItems: 1
            type: string
          title: Metrics
          type: array
        currency:
          default: LOCAL
          description: |
            Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
          example: USD
          title: Currency
          type: string
      required:
      - ids
      - metrics
      - startDate
      title: DCS Totals Request Body
      type: object
    LiquidityRequest:
      description: Liquidity Request
      example:
        data:
          ids:
          - FDS-US
          term: SHORT_TERM
          metrics:
          - '["total_st_debt"]'
          - '["total_st_debt"]'
          startDate: 2017-12-01T00:00:00.000+0000
      properties:
        data:
          $ref: '#/components/schemas/LiquidityRequestBody'
      required:
      - data
      title: Liquidity
      type: object
    LiquidityRequestBody:
      description: Liquidity Request Body
      example:
        ids:
        - FDS-US
        term: SHORT_TERM
        metrics:
        - '["total_st_debt"]'
        - '["total_st_debt"]'
        startDate: 2017-12-01T00:00:00.000+0000
      properties:
        ids:
          description: |
            The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Maximum of 25 IDs are supported.
          example:
          - FDS-US
          items:
            type: string
          type: array
        startDate:
          description: |
            The date of the period requested in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
          example: 2017-12-01
          format: date
          title: StartDate
          type: string
        term:
          $ref: '#/components/schemas/Term'
        metrics:
          description: |
            Requested List of Financial Statement Items or Ratios.
          items:
            example: '["total_st_debt"]'
            maxItems: 100
            minItems: 1
            type: string
          title: Metrics
          type: array
      required:
      - ids
      - metrics
      - startDate
      title: Liquidity Request Body
      type: object
    DetailsRequest:
      description: Details Request
      example:
        data:
          date: 2023-12-31T00:00:00.000+0000
          periodicity: QTR
          ids:
          - FDS-US
          currency: USD
      properties:
        data:
          $ref: '#/components/schemas/DetailsRequestBody'
      required:
      - data
      title: Details Request
      type: object
    DetailsRequestBody:
      description: Details Request Body
      example:
        date: 2023-12-31T00:00:00.000+0000
        periodicity: QTR
        ids:
        - FDS-US
        currency: USD
      properties:
        ids:
          description: |
            The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Maximum of 25 IDs are supported.
          example:
          - FDS-US
          items:
            type: string
          type: array
        periodicity:
          $ref: '#/components/schemas/Periodicity'
        date:
          description: Date in YYYY-MM-DD format.
          example: 2023-12-31
          format: date
          type: string
        currency:
          default: LOCAL
          description: |
            Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
          example: USD
          title: Currency
          type: string
      required:
      - ids
      title: Details Request Body
      type: object
    InterimDetailsRequest:
      description: Interim Details Request
      example:
        data:
          ids:
          - FDS-US
          currency: USD
      properties:
        data:
          $ref: '#/components/schemas/InterimDetailsRequestBody'
      required:
      - data
      title: Interim Details Request
      type: object
    InterimDetailsRequestBody:
      description: Interim Details Request Body
      example:
        ids:
        - FDS-US
        currency: USD
      properties:
        ids:
          description: |
            The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Maximum of 25 IDs are supported.
          example:
          - FDS-US
          items:
            type: string
          type: array
        currency:
          default: LOCAL
          description: |
            Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
          example: USD
          title: Currency
          type: string
      required:
      - ids
      title: Interim Details Request Body
      type: object
    DetailsResponse:
      example:
        data:
        - instrumentType: Revolving Credit
          amountOutstanding: 250
          instrumentId: FDS1R56X6
          description: Unsec. Rev. Facility
          couponRate: 2.9
          reportDate: 2020-11-19T00:00:00.000+0000
          yieldToWorst: 2.9
          couponType: Variable
          maturityDate: 2020-11-19T00:00:00.000+0000
          requestId: IBM-USA
          currency: USD
          issueDate: 2020-11-19T00:00:00.000+0000
          seniority: Senior Secured
        - instrumentType: Revolving Credit
          amountOutstanding: 250
          instrumentId: FDS1R56X6
          description: Unsec. Rev. Facility
          couponRate: 2.9
          reportDate: 2020-11-19T00:00:00.000+0000
          yieldToWorst: 2.9
          couponType: Variable
          maturityDate: 2020-11-19T00:00:00.000+0000
          requestId: IBM-USA
          currency: USD
          issueDate: 2020-11-19T00:00:00.000+0000
          seniority: Senior Secured
      properties:
        data:
          description: Array of Details Objects
          items:
            $ref: '#/components/schemas/Detail'
          type: array
      title: Details Response
      type: object
    Detail:
      example:
        instrumentType: Revolving Credit
        amountOutstanding: 250
        instrumentId: FDS1R56X6
        description: Unsec. Rev. Facility
        couponRate: 2.9
        reportDate: 2020-11-19T00:00:00.000+0000
        yieldToWorst: 2.9
        couponType: Variable
        maturityDate: 2020-11-19T00:00:00.000+0000
        requestId: IBM-USA
        currency: USD
        issueDate: 2020-11-19T00:00:00.000+0000
        seniority: Senior Secured
      properties:
        instrumentId:
          description: Identifier for the debt instrument.
          example: FDS1R56X6
          nullable: true
          type: string
        instrumentType:
          description: Type of debt instrument.
          enum:
          - Revolving Credit
          - Term Loans
          - ST Debt Total
          - Notes/Bonds
          - Other
          example: Revolving Credit
          nullable: true
          type: string
        description:
          description: Description of the debt instrument.
          example: Unsec. Rev. Facility
          nullable: true
          type: string
        seniority:
          description: |
            Textual description of the instrument seniority type:
            * **Senior Unsecured**
            * **Senior Secured**
            * **Senior Subordinated**
            * **Collateralized**
            * **Subordinated**
            * **Junior**
            * **Junior Subordinated**
            * **Senior Conv.** = Senior Convertible
            * **Senior Sub. Conv.** = Senior Subordinated Convertible
            * **Sub. Conv.** = Subordinated Convertible
            * **Junior Conv.** = Junior Convertible
            * **Junior Sub. Conv.** = Junior Subordinated Convertible
            * **Preferred**
            * **Other**
          enum:
          - Senior Unsecured
          - Senior Secured
          - Senior Subordinated
          - Collateralized
          - Subordinated
          - Junior
          - Junion Subordinated
          - Senior Conv.
          - Senior Sub. Conv.
          - Sub. Conv.
          - Junior Conv.
          - Junion Sub. Conv.
          - Preferred
          - Other
          example: Senior Secured
          nullable: true
          type: string
        amountOutstanding:
          description: Balance sheet amount outstanding.
          example: 250
          nullable: true
          type: number
        currency:
          description: 'Currency code for the data. For a list of currency ISO codes,
            visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
          type: string
        couponRate:
          description: Coupon rate for the debt instrument.
          example: 2.9
          nullable: true
          type: number
        couponType:
          description: Type of debt instrument.
          enum:
          - Variable
          - Fixed
          - Cond
          - Zero
          example: Variable
          nullable: true
          type: string
        yieldToWorst:
          description: Most recent annual yield to worst value for the debt instrument.
          example: 2.9
          nullable: true
          type: number
        issueDate:
          description: Issue date for the debt instrument.
          example: 2020-11-19
          format: date
          nullable: true
          type: string
        reportDate:
          description: Reporting date for the debt instrument.
          example: 2020-11-19
          format: date
          nullable: true
          type: string
        maturityDate:
          description: Maturity date for the debt instrument.
          example: 2020-11-19
          format: date
          nullable: true
          type: string
        requestId:
          description: Identifier that was used for the request.
          example: IBM-USA
          type: string
      title: Detail Object
      type: object
    Date:
      description: Date in YYYY-MM-DD format.
      example: 2023-12-31
      format: date
      type: string
    Ids:
      description: |
        The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Maximum of 25 IDs are supported.
      example:
      - FDS-US
      items:
        type: string
      type: array
    Periodicity:
      default: ANN
      description: |
        Periodicity of the fiscal periods, where
          * **ANN** = Annual Original,
          * **QTR** = Quarterly
      enum:
      - ANN
      - QTR
      example: QTR
      title: Periodicity
      type: string
    StartDate:
      description: |
        The date of the period requested in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
      example: 2017-12-01
      format: date
      title: StartDate
      type: string
    EndDate:
      description: |
        The date of the period requested in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
      example: 2018-12-01
      format: date
      title: EndDate
      type: string
    Frequency:
      default: AM
      description: |
        Controls the frequency of the data returned.
          * **D** = Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **AQ** = Quarterly, based on the start date
          * **AY** = Actual Annual, based on the start date.
      enum:
      - D
      - W
      - AM
      - AQ
      - AY
      example: AM
      title: Frequency
      type: string
    Term:
      default: SHORT_TERM
      description: |
        Specifies whether to select short-term or long-term liquidity options.
          * **SHORT_TERM** = Short Term.
          * **LONG_TERM** = Long Term.
      enum:
      - SHORT_TERM
      - LONG_TERM
      example: SHORT_TERM
      title: Term
      type: string
    Metrics:
      description: |
        Requested List of Financial Statement Items or Ratios.
      items:
        example: '["total_st_debt"]'
        maxItems: 100
        minItems: 1
        type: string
      title: Metrics
      type: array
    Currency:
      default: LOCAL
      description: |
        Currency code for currency values. For a list of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
      example: USD
      title: Currency
      type: string
    ErrorResponse:
      description: Error Default Response
      properties:
        errors:
          description: An array containing errors
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
      title: Error Response
      type: object
    ErrorObject:
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
          type: string
        code:
          description: status
          example: Bad Request
          type: string
        title:
          description: The plain text error message
          example: Validation Error
          type: string
        detail:
          description: The detailed error message
          example: The request body is malformed. Please review the request body and
            try again.
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

