openapi: 3.0.2
info:
  contact:
    email: FactSearch.Team@factset.com
    name: FactSet Search Team
  description: The FactSet Search Answers API provides answers to search queries,
    reflecting the data shown within FactSet Search Answers, and allowing you to easily
    add financial data to your widgets, lookups, bots, and assistants. The API understands
    a fixed amount of search terms and returns structured data from FactSet’s many
    data sources. Possible answers include Price of a Company, Top 10 Year-to-Date
    Gainers, Revenue per Passenger Mile, and many more.
  title: FactSet Search Answers API
  version: 1.1.0
servers:
- url: https://api.factset.com
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /search/answers/v1/data:
    get:
      description: Returns an answer to the specified query (if a valid answer exists).
        Returns the answer data only (as JSON), without any markup information.
      operationId: searchForDataAnswer
      parameters:
      - description: Query for desired answer (e.g., "fds price")
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Name of application consuming the API (used for analytics purposes)
        explode: true
        in: query
        name: consumingApplication
        required: false
        schema:
          default: Developer Portal
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAnswerSuccessResponse'
          description: Request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
          description: Missing or empty query.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
          description: Missing or invalid authentication.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
          description: Unhandled error occurred while processing the request.
      summary: Fetch FactSet answer in data format
      tags:
      - answers
      x-accepts: application/json
  /search/answers/v1/adaptive-card:
    get:
      description: Returns an answer to the specified query (if valid answer exists)
        in the Adaptive Card format (https://adaptivecards.io/).
      operationId: searchForAdaptiveCardAnswer
      parameters:
      - description: Query for desired answer (e.g., "fds price")
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: Includes thumbnail of Adaptive Card in response
        explode: true
        in: query
        name: includeThumbnail
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Disables no-result answer responses (no-results and answer without
          data)
        explode: true
        in: query
        name: disableNoAnswerResponses
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Theme for desired answer (e.g., "Light", "Dark")
        explode: true
        in: query
        name: theme
        required: false
        schema:
          default: Light
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdaptiveCardAnswerSuccessResponse'
          description: Request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
          description: Missing or empty query.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
          description: Missing or invalid authentication.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
          description: Unhandled error occurred while processing the request.
      summary: Fetch FactSet answer in Adaptive Card format
      tags:
      - answers
      x-accepts: application/json
components:
  parameters:
    Query:
      description: Query for desired answer (e.g., "fds price")
      explode: true
      in: query
      name: query
      required: true
      schema:
        type: string
      style: form
    IncludeThumbnail:
      description: Includes thumbnail of Adaptive Card in response
      explode: true
      in: query
      name: includeThumbnail
      required: false
      schema:
        default: false
        type: boolean
      style: form
    DisableNoAnswerResponses:
      description: Disables no-result answer responses (no-results and answer without
        data)
      explode: true
      in: query
      name: disableNoAnswerResponses
      required: false
      schema:
        default: true
        type: boolean
      style: form
    Theme:
      description: Theme for desired answer (e.g., "Light", "Dark")
      explode: true
      in: query
      name: theme
      required: false
      schema:
        default: Light
        type: string
      style: form
    ConsumingApplication:
      description: Name of application consuming the API (used for analytics purposes)
      explode: true
      in: query
      name: consumingApplication
      required: false
      schema:
        default: Developer Portal
        type: string
      style: form
  schemas:
    DataAnswerSuccessResponse:
      example: {}
      properties:
        data:
          $ref: '#/components/schemas/DataAnswerData'
      required:
      - data
      type: object
    DataAnswerData:
      discriminator:
        mapping:
          LinkTextBlockTemplate: '#/components/schemas/LinkTextBlockAnswer'
          TextBlockFootingTemplate: '#/components/schemas/TextBlockFootingAnswer'
          PercentChangeLabelTemplate: '#/components/schemas/PercentChangeLabelAnswer'
          ValueChangeDateLabelTemplate: '#/components/schemas/ValueChangeDateLabelAnswer'
          RankedTableTemplate: '#/components/schemas/RankedTableAnswer'
          TableTemplate: '#/components/schemas/TableAnswer'
          TableTableTemplate: '#/components/schemas/TableTableAnswer'
          ValueLabelTemplate: '#/components/schemas/ValueLabelAnswer'
          ValueLabelDateTemplate: '#/components/schemas/ValueLabelDateAnswer'
          ColoredValueLabelDateTemplate: '#/components/schemas/ColoredValueLabelDateAnswer'
          ValueLabelDateTextBlockTemplate: '#/components/schemas/ValueLabelDateTextBlockAnswer'
          ValueLabelDateDataPairListTemplate: '#/components/schemas/ValueLabelDateDataPairListAnswer'
          LabelValueChangeLabelValueChangeTemplate: '#/components/schemas/LabelValueChangeLabelValueChangeAnswer'
          AnswerWithoutDataTemplate: '#/components/schemas/AnswerWithoutData'
          NoAnswerTemplate: '#/components/schemas/NoAnswersFound'
        propertyName: template
      oneOf:
      - $ref: '#/components/schemas/LinkTextBlockAnswer'
      - $ref: '#/components/schemas/TextBlockFootingAnswer'
      - $ref: '#/components/schemas/PercentChangeLabelAnswer'
      - $ref: '#/components/schemas/ValueChangeDateLabelAnswer'
      - $ref: '#/components/schemas/RankedTableAnswer'
      - $ref: '#/components/schemas/TableAnswer'
      - $ref: '#/components/schemas/TableTableAnswer'
      - $ref: '#/components/schemas/ValueLabelAnswer'
      - $ref: '#/components/schemas/ValueLabelDateAnswer'
      - $ref: '#/components/schemas/ColoredValueLabelDateAnswer'
      - $ref: '#/components/schemas/ValueLabelDateTextBlockAnswer'
      - $ref: '#/components/schemas/ValueLabelDateDataPairListAnswer'
      - $ref: '#/components/schemas/LabelValueChangeLabelValueChangeAnswer'
      - $ref: '#/components/schemas/AnswerWithoutData'
      - $ref: '#/components/schemas/NoAnswersFound'
    AnswerFailureResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      required:
      - errors
      type: object
    Error:
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          $ref: '#/components/schemas/ErrorLink'
        detail:
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
      required:
      - code
      - id
      - title
      type: object
    ErrorLink:
      properties:
        about:
          type: string
      required:
      - about
      type: object
    ErrorSource:
      properties:
        pointer:
          type: string
        parameter:
          type: string
      type: object
    DataAnswer:
      properties:
        template:
          type: string
      required:
      - template
      type: object
    AnswerWithTitle:
      allOf:
      - $ref: '#/components/schemas/DataAnswer'
      - $ref: '#/components/schemas/AnswerWithTitle_allOf'
    NoAnswersBase:
      allOf:
      - $ref: '#/components/schemas/DataAnswer'
      - $ref: '#/components/schemas/NoAnswersBase_allOf'
    AnswerWithoutData:
      allOf:
      - $ref: '#/components/schemas/NoAnswersBase'
      - $ref: '#/components/schemas/AnswerWithoutData_allOf'
    NoAnswersFound:
      allOf:
      - $ref: '#/components/schemas/NoAnswersBase'
      - $ref: '#/components/schemas/NoAnswersFound_allOf'
    Fdc3Country:
      properties:
        type:
          type: string
        name:
          type: string
        id:
          $ref: '#/components/schemas/CountryID'
      required:
      - name
      - type
      type: object
    Fdc3Instrument:
      properties:
        type:
          type: string
        name:
          type: string
        exchangeMic:
          type: string
        exchangeMicFds:
          type: string
        id:
          $ref: '#/components/schemas/InstrumentID'
      required:
      - name
      - type
      type: object
    Fdc3Context:
      discriminator:
        mapping:
          fdc3.instrument: '#/components/schemas/Fdc3Instrument'
          fdc3.country: '#/components/schemas/Fdc3Country'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/Fdc3Instrument'
      - $ref: '#/components/schemas/Fdc3Country'
    CountryID:
      properties:
        ISOALPHA2:
          type: string
      type: object
    InstrumentID:
      properties:
        BBG:
          type: string
        CUSIP:
          type: string
        FDS_ID:
          type: string
        FDS_TICKER_REGION:
          type: string
        FDS_TICKER_EXCHANGE:
          type: string
        FIGI:
          type: string
        ISIN:
          type: string
        PERMID:
          type: string
        RIC:
          type: string
        SEDOL:
          type: string
        ticker:
          type: string
      type: object
    Template:
      properties:
        headline:
          type: string
        footer:
          type: string
        fdc3Context:
          $ref: '#/components/schemas/Fdc3Context'
      required:
      - headline
      type: object
    TemplateWithLinks:
      allOf:
      - $ref: '#/components/schemas/Template'
      - $ref: '#/components/schemas/TemplateWithLinks_allOf'
    LinkTextBlockAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/LinkTextBlockAnswer_allOf'
    TextBlockFootingAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/TextBlockFootingAnswer_allOf'
    PercentChangeLabelAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/PercentChangeLabelAnswer_allOf'
    ValueChangeDateLabelAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/ValueChangeDateLabelAnswer_allOf'
    RankedTableAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/RankedTableAnswer_allOf'
    TableAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/TableAnswer_allOf'
    TableTableAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/TableTableAnswer_allOf'
    ValueLabelAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/ValueLabelAnswer_allOf'
    ValueLabelDateAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/ValueLabelDateAnswer_allOf'
    ColoredValueLabelDateAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/ColoredValueLabelDateAnswer_allOf'
    ValueLabelDateTextBlockAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/ValueLabelDateTextBlockAnswer_allOf'
    ValueLabelDateDataPairListAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/ValueLabelDateDataPairListAnswer_allOf'
    LabelValueChangeLabelValueChangeAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - $ref: '#/components/schemas/LabelValueChangeLabelValueChangeAnswer_allOf'
    LinkTextBlockTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/LinkTextBlockTemplateData_allOf'
    TextBlockFootingTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/TextBlockFootingTemplateData_allOf'
    PercentChangeLabelTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/PercentChangeLabelTemplateData_allOf'
    ValueChangeDateLabelTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/ValueChangeDateLabelTemplateData_allOf'
    RankedTableTemplateData:
      allOf:
      - $ref: '#/components/schemas/Template'
      - $ref: '#/components/schemas/RankedTableTemplateData_allOf'
    TableTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/TableTemplateData_allOf'
    TableTableTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/TableTableTemplateData_allOf'
    ValueLabelTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/ValueLabelTemplateData_allOf'
    ValueLabelDateTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/ValueLabelDateTemplateData_allOf'
    ColoredValueLabelDateTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/ColoredValueLabelDateTemplateData_allOf'
    ValueLabelDateTextBlockTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/ValueLabelDateTextBlockTemplateData_allOf'
    ValueLabelDateDataPairListTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/ValueLabelDateDataPairListTemplateData_allOf'
    LabelValueChangeLabelValueChangeTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - $ref: '#/components/schemas/LabelValueChangeLabelValueChangeTemplateData_allOf'
    TitledTextBlock:
      properties:
        title:
          type: string
        content:
          type: string
      type: object
    ValueChange:
      properties:
        absoluteChange:
          type: string
        percentageChange:
          type: string
        color:
          $ref: '#/components/schemas/ChangeColor'
      type: object
    PercentChange:
      properties:
        change:
          type: string
        color:
          $ref: '#/components/schemas/ChangeColor'
      type: object
    ChangeColor:
      enum:
      - colorNeutral
      - colorPositive
      - colorNegative
      type: string
    ColoredValue:
      properties:
        text:
          type: string
        color:
          $ref: '#/components/schemas/ValueColor'
      type: object
    ValueColor:
      enum:
      - colorNone
      - colorBuy
      - colorHold
      - colorSell
      - colorOverweight
      - colorUnderweight
      type: string
    Table:
      properties:
        tableHeaders:
          items:
            type: string
          type: array
        tableRows:
          items:
            items:
              type: string
            type: array
          type: array
        tableFooters:
          items:
            type: string
          type: array
      required:
      - tableRows
      type: object
    RankedTable:
      properties:
        headers:
          items:
            type: string
          type: array
        rows:
          items:
            $ref: '#/components/schemas/RankedTableRow'
          type: array
      required:
      - rows
      type: object
    RankedTableRow:
      properties:
        rank:
          type: number
        entity:
          $ref: '#/components/schemas/RankedTableEntity'
        applicationLink:
          $ref: '#/components/schemas/ApplicationLink'
        additionalData:
          items:
            type: string
          type: array
      required:
      - rank
      type: object
    RankedTableEntity:
      properties:
        name:
          type: string
        identifier:
          type: string
      type: object
    DataPair:
      properties:
        value:
          type: string
        label:
          type: string
      required:
      - label
      - value
      type: object
    ApplicationLink:
      properties:
        name:
          type: string
        workstationLink:
          type: string
        webLink:
          type: string
      required:
      - name
      - webLink
      type: object
    AdaptiveCardAnswerSuccessResponse:
      example:
        data:
        - null
        - null
      properties:
        data:
          items:
            $ref: '#/components/schemas/AdaptiveCardDataItem'
          type: array
      required:
      - data
      type: object
    AdaptiveCardDataItem:
      oneOf:
      - $ref: '#/components/schemas/AdaptiveCard'
      - $ref: '#/components/schemas/AdaptiveCardWithThumbnail'
    AdaptiveCardWithThumbnail:
      properties:
        adaptiveCard:
          description: JSON that matches [Adaptive Card](https://adaptivecards.io/explorer/)
            format.
          type: object
        thumbnail:
          description: JSON that matches [Thumbnail Card](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#thumbnail-card)
            format.
          nullable: true
          type: object
      type: object
    AdaptiveCard:
      description: JSON that matches [Adaptive Card](https://adaptivecards.io/explorer/)
        format.
      type: object
    ThumbnailCard:
      description: JSON that matches [Thumbnail Card](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#thumbnail-card)
        format.
      nullable: true
      type: object
    AnswerWithTitle_allOf:
      properties:
        title:
          type: string
      required:
      - title
      type: object
    NoAnswersBase_allOf:
      properties:
        message:
          type: string
      required:
      - message
      type: object
    AnswerWithoutData_allOf_templateData:
      properties:
        fdc3Context:
          $ref: '#/components/schemas/Fdc3Context'
      type: object
    AnswerWithoutData_allOf:
      properties:
        title:
          type: string
        templateData:
          $ref: '#/components/schemas/AnswerWithoutData_allOf_templateData'
      required:
      - templateData
      - title
      type: object
    NoAnswersFound_allOf:
      properties:
        querySuggestions:
          items:
            type: string
          type: array
      required:
      - querySuggestions
      type: object
    TemplateWithLinks_allOf:
      properties:
        applicationLinks:
          items:
            $ref: '#/components/schemas/ApplicationLink'
          type: array
      required:
      - headline
      type: object
    LinkTextBlockAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/LinkTextBlockTemplateData'
      required:
      - templateData
      type: object
    TextBlockFootingAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/TextBlockFootingTemplateData'
      required:
      - templateData
      type: object
    PercentChangeLabelAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/PercentChangeLabelTemplateData'
      required:
      - templateData
      type: object
    ValueChangeDateLabelAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/ValueChangeDateLabelTemplateData'
      required:
      - templateData
      type: object
    RankedTableAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/RankedTableTemplateData'
      required:
      - templateData
      type: object
    TableAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/TableTemplateData'
      required:
      - templateData
      type: object
    TableTableAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/TableTableTemplateData'
      required:
      - templateData
      type: object
    ValueLabelAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/ValueLabelTemplateData'
      required:
      - templateData
      type: object
    ValueLabelDateAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/ValueLabelDateTemplateData'
      required:
      - templateData
      type: object
    ColoredValueLabelDateAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/ColoredValueLabelDateTemplateData'
      required:
      - templateData
      type: object
    ValueLabelDateTextBlockAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/ValueLabelDateTextBlockTemplateData'
      required:
      - templateData
      type: object
    ValueLabelDateDataPairListAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/ValueLabelDateDataPairListTemplateData'
      required:
      - templateData
      type: object
    LabelValueChangeLabelValueChangeAnswer_allOf:
      properties:
        templateData:
          $ref: '#/components/schemas/LabelValueChangeLabelValueChangeTemplateData'
      required:
      - templateData
      type: object
    LinkTextBlockTemplateData_allOf:
      properties:
        link:
          type: string
        text:
          type: string
      type: object
    TextBlockFootingTemplateData_allOf:
      properties:
        body:
          type: string
        footing:
          $ref: '#/components/schemas/TitledTextBlock'
      type: object
    PercentChangeLabelTemplateData_allOf:
      properties:
        percentChange:
          $ref: '#/components/schemas/PercentChange'
        label:
          type: string
      type: object
    ValueChangeDateLabelTemplateData_allOf:
      properties:
        value:
          type: string
        valueChange:
          $ref: '#/components/schemas/ValueChange'
        date:
          type: string
        label:
          type: string
      type: object
    RankedTableTemplateData_allOf:
      properties:
        table:
          $ref: '#/components/schemas/RankedTable'
      type: object
    TableTemplateData_allOf:
      properties:
        table:
          $ref: '#/components/schemas/Table'
      type: object
    TableTableTemplateData_allOf:
      properties:
        table1:
          $ref: '#/components/schemas/Table'
        table2:
          $ref: '#/components/schemas/Table'
      type: object
    ValueLabelTemplateData_allOf:
      properties:
        value:
          type: string
        label:
          type: string
      type: object
    ValueLabelDateTemplateData_allOf:
      properties:
        value:
          type: string
        label:
          type: string
        date:
          type: string
      type: object
    ColoredValueLabelDateTemplateData_allOf:
      properties:
        value:
          $ref: '#/components/schemas/ColoredValue'
        label:
          type: string
        date:
          type: string
      type: object
    ValueLabelDateTextBlockTemplateData_allOf:
      properties:
        value:
          type: string
        label:
          type: string
        date:
          type: string
        text:
          type: string
      type: object
    ValueLabelDateDataPairListTemplateData_allOf:
      properties:
        value:
          type: string
        label:
          type: string
        date:
          type: string
        list:
          items:
            $ref: '#/components/schemas/DataPair'
          type: array
      type: object
    LabelValueChangeLabelValueChangeTemplateData_allOf:
      properties:
        value:
          type: string
        label:
          type: string
        valueChange:
          $ref: '#/components/schemas/ValueChange'
        value2:
          type: string
        label2:
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

