openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    The FactSet Banks API provides comprehensive banking industry data including regulatory financials, performance metrics, branch networks, and specialized reporting across US, Canadian, and Australian institutions.

    **Key Features:**
    - Multi-jurisdiction regulatory financials (US, Canada, Australia)
    - Unified endpoint structure for banks, credit unions, and specialty finance
    - UBPR performance metrics and peer group analysis
    - Branch and ATM location data with market share
    - Country exposure and risk metrics
    - Regulatory filings (10-D, UCC-1)
    - Deposit rates and specialty finance reporting
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Banks API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-banks-api
servers:
- description: Production
  url: https://api.factset.com/content/factset-banks/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Regulatory financial statements across jurisdictions (US, Canada, Australia)
  name: Financials
- description: Branch and ATM locations with geographic data and market share
  name: Branches
- description: UBPR ratios, performance metrics, and peer group analysis
  name: UBPR Performance
- description: Country exposure and risk concentration data (Form 009a)
  name: Exposure
- description: Regulatory filings including 10-D and UCC-1
  name: Filings
- description: Deposit rates and product-level pricing data
  name: Deposit Rates
- description: Form ADV (AUM) and FOCUS reports for specialty finance institutions
  name: Specialty Finance
- description: Metric definitions
  name: Metrics
paths:
  /financials:
    post:
      description: |
        Returns regulatory financial statements for banks and financial institutions. Use the `coverage` field to specify the data source:

        * **US** — US banks, thrifts, and depository institutions (FFIEC/FDIC/Federal Reserve sources). Covers 11,000+ bank holding companies (forms FR Y-9C/SP/LP/15) and 10,000+ banking institutions (FFIEC 031/041/051/101/102), with history back to 1991 for BHCs and 2002 for institutions. Includes demographics (charter class, specialization, established and deposit-insurance dates) and 3,000+ metrics covering profitability, capital adequacy (Basel III), loan/deposit composition, asset quality, yields, and funding costs. Also includes industry aggregates for 800+ US banking institutions with annual, quarterly, LTM, and YTD data since 2010.
        * **CANADA** — Canadian banks regulated by OSFI. 148+ institutions; 800+ data items; history since 2017. Balance sheet data is updated monthly; supplementary reports (Capital Components, Credit Losses, Derivative Contracts, Foreign Bank Branch, Income Statement) are updated quarterly.
        * **AUSTRALIA** — Australian banks regulated by APRA. 100+ institutions, interim-period balance sheet data; LTM history since 2002; 30+ data items.
        * **CREDIT_UNION** — US credit unions regulated by NCUA. 5,800+ credit unions, quarterly data since 2017; 2,400+ data items.

        Find available metrics via [`/metrics`](#operation/getMetrics) with:

        * **category**: `FINANCIALS`
        * **subcategory**: `US`, `CANADA`, `AUSTRALIA`, `CREDIT_UNION`, `INDUSTRY`
      operationId: getFinancials
      requestBody:
        content:
          application/json:
            examples:
              US Bank Request:
                $ref: '#/components/examples/FinancialsRequestUSBank'
              Canadian Bank Request:
                $ref: '#/components/examples/FinancialsRequestCanadianBank'
              Australian Bank Request:
                $ref: '#/components/examples/FinancialsRequestAustralianBank'
              Credit Union Request:
                $ref: '#/components/examples/FinancialsRequestCreditUnion'
            schema:
              $ref: '#/components/schemas/FinancialsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                US Bank Response:
                  $ref: '#/components/examples/FinancialsResponseUSBank'
                Canadian Bank Response:
                  $ref: '#/components/examples/FinancialsResponseCanadianBank'
                Australian Bank Response:
                  $ref: '#/components/examples/FinancialsResponseAustralianBank'
                Credit Union Response:
                  $ref: '#/components/examples/FinancialsResponseCreditUnion'
              schema:
                $ref: '#/components/schemas/FinancialsResponse'
          description: Successful response with financial statement data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns bank financial statement data
      tags:
      - Financials
      x-factset-sdk-main-example: true
      x-contentType: application/json
      x-accepts: application/json
  /branches:
    post:
      description: |
        Returns branch and location data for banks and financial institutions. Use the `coverage` field to specify the data source:

        * **US** — FDIC-insured bank branches with branch counts and deposit market share by county, ZIP, and MSA. 85,000+ current branches across 9,000+ banks and BHCs. Sourced from the FDIC Summary of Deposits (annual) and Institutions and Locations (weekly). Current-only feed; deposit balances as of the most recent June 30.
        * **CREDIT_UNION** — US credit union branches and ATMs with service flags. 5,800+ credit unions, 21,000+ branches, and 17,000+ ATM addresses; reported quarterly since September 2022.
        * **AUSTRALIA** — Service channel locations with remoteness classifications. 149+ banks; 30,000+ branches, 47,000+ ATMs, 6,600+ other face-to-face, and 4.9M+ EFTPOS channels. Annual data as of June 30.
        * **GLOBAL** — Global bank branches and ATMs ex-US with country, region, city, lat/long, postal, and street details where available. 300,000+ banks, 800,000+ locations, 180+ countries. Current-only feed.
      operationId: getBranches
      requestBody:
        content:
          application/json:
            examples:
              US Bank Branches:
                $ref: '#/components/examples/BranchesRequestUSBank'
              Credit Union Branches:
                $ref: '#/components/examples/BranchesRequestCreditUnion'
              Australia Branches:
                $ref: '#/components/examples/BranchesRequestAustralia'
              Global Branches:
                $ref: '#/components/examples/BranchesRequestGlobal'
            schema:
              $ref: '#/components/schemas/BranchesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                US Bank Branches:
                  $ref: '#/components/examples/USBranchesResponseExample'
                Credit Union Branches:
                  $ref: '#/components/examples/CUBranchesResponseExample'
                Australia Bank Branches:
                  $ref: '#/components/examples/AustraliaBranchesResponseExample'
                Global Bank Branches:
                  $ref: '#/components/examples/GlobalBranchesResponseExample'
              schema:
                $ref: '#/components/schemas/BranchesResponse'
          description: Branch and location data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns bank branch and location data
      tags:
      - Branches
      x-contentType: application/json
      x-accepts: application/json
  /ubpr:
    post:
      description: |
        Returns Uniform Bank Performance Report (UBPR) metrics — financial ratios, peer group rankings, and performance analytics — sourced from FFIEC reports of condition and income (call reports). Supports analysis of earnings, liquidity, capital, asset/liability management, and growth across three data views: the bank's own data, peer group data (banks similar in size and economic environment), and percentile rankings.

        Covers 10,000+ insured commercial banks and FDIC-supervised savings banks across 249 peer groups. Quarterly history since 2002; 1,600+ data items.

        Find available metrics via [`/metrics`](#operation/getMetrics) with:

        * **category**: `PERFORMANCE`
        * **subcategory**: `UBPR`
      operationId: getPerformance
      requestBody:
        content:
          application/json:
            examples:
              UBPR Performance Request:
                $ref: '#/components/examples/PerformanceRequestExample'
            schema:
              $ref: '#/components/schemas/PerformanceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                UBPR Performance - Peer Group Rankings:
                  $ref: '#/components/examples/PerformanceResponseExample'
                UBPR Performance - Institution Ratios:
                  $ref: '#/components/examples/PerformanceInstitutionResponseExample'
              schema:
                $ref: '#/components/schemas/PerformanceResponse'
          description: Performance metrics data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns UBPR performance metrics
      tags:
      - UBPR Performance
      x-contentType: application/json
      x-accepts: application/json
  /country-exposure:
    post:
      description: |
        Returns Form 009a country exposure data — the distribution by country of claims on foreigners held by US banks — for screening countries and assessing risks in US bank lending activities. Viewable by metric and by country.

        Covers ~100 US commercial banks; history since 2013. Updated quarterly.

        Find available metrics via [`/metrics`](#operation/getMetrics) with:

        * **category**: `EXPOSURE`
        * **subcategory**: `COUNTRY`
      operationId: getCountryExposure
      requestBody:
        content:
          application/json:
            examples:
              Country Exposure Request:
                $ref: '#/components/examples/ExposureRequestExample'
            schema:
              $ref: '#/components/schemas/ExposureRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Country Exposure:
                  $ref: '#/components/examples/ExposureResponseExample'
              schema:
                $ref: '#/components/schemas/ExposureResponse'
          description: Country exposure data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns country exposure data (Form 009a)
      tags:
      - Exposure
      x-contentType: application/json
      x-accepts: application/json
  /ten-d:
    post:
      description: |
        Returns SEC Form 10-D distribution reports for bank-issued asset-backed securities — pool performance and credit enhancement data including payments received, delinquencies, defaults, and cash flow distributions. Offers more frequent (monthly) insight into credit card receivables than 8-K/10-K filings.

        Covers credit cards (110 data items) and auto loans (254 data items). History since 2017. Updated monthly.

        Find available metrics via [`/metrics`](#operation/getMetrics) with:

        * **category**: `FILINGS`
        * **subcategory**: `TEN_D`
      operationId: getTenDFilings
      requestBody:
        content:
          application/json:
            examples:
              "10-D Filing Request":
                $ref: '#/components/examples/Filings10DRequestExample'
            schema:
              $ref: '#/components/schemas/TenDFilingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                "10-D Filing":
                  $ref: '#/components/examples/Filings10DResponseExample'
              schema:
                $ref: '#/components/schemas/Filings10DResponse'
          description: 10-D filing data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Form 10-D distribution reports
      tags:
      - Filings
      x-contentType: application/json
      x-accepts: application/json
  /ucc1:
    post:
      description: |
        Returns UCC-1 financing statement filings — notices filed by creditors of an interest in a debtor's personal property. Includes secured party (banking institution), debtor name, and filing details such as expiration date.

        Covers 4,500+ banking institutions; history since 2002. Updated monthly.
      operationId: getUcc1Filings
      requestBody:
        content:
          application/json:
            examples:
              UCC-1 Filing Request:
                $ref: '#/components/examples/FilingsUCC1RequestExample'
            schema:
              $ref: '#/components/schemas/Ucc1FilingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                UCC-1 Filing:
                  $ref: '#/components/examples/FilingsUCC1ResponseExample'
              schema:
                $ref: '#/components/schemas/FilingsUCC1Response'
          description: UCC-1 filing data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns UCC-1 filings data
      tags:
      - Filings
      x-contentType: application/json
      x-accepts: application/json
  /deposit-rates:
    post:
      description: |
        Returns current and historical deposit rates from US banks and credit unions — APY, previous APY, national APY averages, terms, and minimum balances — across CD, Savings, Interest Checking, Money Market, Fixed IRA, and Variable IRA products. Identifies where banks offer better rates than geographic competitors.

        Covers 500+ financial institutions (US banks, credit unions, internet banks); 40+ data items.
      operationId: getRates
      requestBody:
        content:
          application/json:
            examples:
              Deposit Rates Request:
                $ref: '#/components/examples/RatesRequestExample'
            schema:
              $ref: '#/components/schemas/RatesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Deposit Rates:
                  $ref: '#/components/examples/RatesResponseExample'
              schema:
                $ref: '#/components/schemas/RatesResponse'
          description: Deposit rates data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns deposit rates
      tags:
      - Deposit Rates
      x-contentType: application/json
      x-accepts: application/json
  /aum:
    post:
      description: |
        Returns SEC Form ADV assets under management data for investment advisers — 19,000+ public and private US companies, wealth managers, traditional asset managers, private equity hedge funds, and Business Development Companies (BDCs). BDC coverage includes 120+ companies with annual history since 2014.

        Form ADV history since 2017. Updated annually.

        Find available metrics via [`/metrics`](#operation/getMetrics) with:

        * **category**: `FINANCIALS`
        * **subcategory**: `SPECIALTY_FINANCE`
      operationId: getAUM
      requestBody:
        content:
          application/json:
            examples:
              AUM Request:
                $ref: '#/components/examples/AUMRequestExample'
            schema:
              $ref: '#/components/schemas/AUMRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Form ADV AUM:
                  $ref: '#/components/examples/AUMResponseExample'
              schema:
                $ref: '#/components/schemas/AUMResponse'
          description: Form ADV AUM data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Form ADV AUM data
      tags:
      - Specialty Finance
      x-contentType: application/json
      x-accepts: application/json
  /focus:
    post:
      description: |
        Returns FOCUS report financial data for SEC-registered broker-dealers, derived from Form X-17A-5 — income statement, balance sheet, and net capital data covering financial and operating status.

        Covers 3,000+ broker-dealers; 300+ data items; history since 2015. Updated annually.

        Income statement data is rarely reported by filers, so it is expected that users will see income statement values populated infrequently.

        Find available metrics via [`/metrics`](#operation/getMetrics) with:

        * **category**: `FINANCIALS`
        * **subcategory**: `SPECIALTY_FINANCE`
      operationId: getFOCUS
      requestBody:
        content:
          application/json:
            examples:
              FOCUS Request:
                $ref: '#/components/examples/FOCUSRequestExample'
            schema:
              $ref: '#/components/schemas/FOCUSRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                FOCUS Report:
                  $ref: '#/components/examples/FOCUSResponseExample'
              schema:
                $ref: '#/components/schemas/FOCUSResponse'
          description: FOCUS report data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error - Invalid Date Range:
                  $ref: '#/components/examples/unprocessableEntityDateRange'
                Validation Error - Invalid Metric Code:
                  $ref: '#/components/examples/unprocessableEntityMetricCode'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns FOCUS report data
      tags:
      - Specialty Finance
      x-contentType: application/json
      x-accepts: application/json
  /metrics:
    get:
      description: |
        Returns list of available metrics that can be used in the metrics parameter of related endpoints.

        Use this endpoint to discover available financial metrics, their definitions, and metadata. Filter by category and subcategory to narrow results.

        **For methodology definitions**, reference the `oaPageId` or `oaUrl` response items to launch the available methodology page.
      operationId: getMetrics
      parameters:
      - description: |
          Free-text search to filter metrics whose metric code or description contains the supplied text. Case-insensitive partial matching.
        example: return on assets
        explode: true
        in: query
        name: searchText
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filter metrics by major category:
          - **FINANCIALS** - Financial statement data, demographics, and core institution identifiers (US, Canada, Australia, Credit Union, Industry, Specialty Finance). Endpoint: `/financials`, `/aum`, `/focus`
          - **FILINGS** - Regulatory filing data (10-D). Endpoint: `/ten-d`
          - **PERFORMANCE** - Uniform Bank Performance Report (UBPR) metrics. Endpoint: `/ubpr`
          - **EXPOSURE** - Country exposure data (Form 009a). Endpoint: `/country-exposure`
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - FINANCIALS
          - FILINGS
          - PERFORMANCE
          - EXPOSURE
          type: string
        style: form
      - description: |
          Sub-category filter for the primary category:
          - **US** - United States regulatory financials. Endpoint: `/financials`
          - **CANADA** - Canadian OSFI regulatory financials. Endpoint: `/financials`
          - **AUSTRALIA** - Australian regulatory financials. Endpoint: `/financials`
          - **CREDIT_UNION** - Credit union financial data. Endpoint: `/financials`
          - **INDUSTRY** - Industry-level financial aggregates. Endpoint: `/financials`
          - **SPECIALTY_FINANCE** - Specialty finance industry data including FOCUS reports, Form ADV, and Business Development Corporations. Endpoint: `/aum`, `/focus`
          - **TEN_D** - Form 10-D securitization filings. Endpoint: `/ten-d`
          - **UBPR** - Uniform Bank Performance Report metrics. Endpoint: `/ubpr`
          - **COUNTRY** - Country exposure metrics. Endpoint: `/country-exposure`
        explode: true
        in: query
        name: subcategory
        required: false
        schema:
          enum:
          - US
          - CANADA
          - AUSTRALIA
          - CREDIT_UNION
          - INDUSTRY
          - SPECIALTY_FINANCE
          - TEN_D
          - UBPR
          - COUNTRY
          type: string
        style: form
      - description: Filter by metric data type
        explode: true
        in: query
        name: dataType
        required: false
        schema:
          enum:
          - string
          - number
          - date
          - boolean
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Metrics Response:
                  $ref: '#/components/examples/MetricsResponseExample'
              schema:
                $ref: '#/components/schemas/MetricsResponse'
          description: Available metrics data
        "400":
          content:
            application/json:
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "detail" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested endpoint could not be found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns available metrics and their definitions
      tags:
      - Metrics
      x-accepts: application/json
components:
  examples:
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisk
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          title: Missing Required Parameter
          detail: The parameter 'ids' is required and may not be empty.
    badRequestInvalidParameter:
      description: This error message occurs when a request parameter is not recognized
        or contains an invalid value. Please revise your request to use parameters
        and values outlined in the specification.
      summary: Bad Request - Invalid Parameter
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          title: Invalid Parameter
          detail: 'The ''coverage'' field must be one of: US, CANADA, AUSTRALIA, CREDIT_UNION'
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON but is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          title: Malformed JSON Request
          detail: Malformed JSON Request
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key.
      summary: User Authentication Failed
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          title: Authentication Failed
          detail: User Authentication Failed.
    forbidden:
      description: The USERNAME-SERIAL attempted to request an endpoint it is not
        authorized to access. Please reach out to your FactSet Account Team for assistance
        with authorization.
      summary: Forbidden
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Forbidden
          title: Authentication Failed
          detail: USERNAME-SERIAL does not have permission to use /factset-banks/v1/{endpoint}
    notFound:
      description: The requested endpoint could not be found.
      summary: Not Found
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Not Found
          title: No endpoint found
          detail: The requested endpoint could not be found.
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Unsupported Media Type
          title: Unsupported Media Type
          detail: text/html media type is not supported. Supported media types are
            application/json
    unprocessableEntityDateRange:
      description: This error occurs when startDate is after endDate.
      summary: Validation Error - Invalid Date Range
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: ValidationError
          title: Invalid Date Range
          detail: startDate '2024-12-31' cannot be after endDate '2024-01-01'
    unprocessableEntityMetricCode:
      description: This error occurs when one or more metric codes supplied in the
        request are not valid for the requested coverage or endpoint.
      summary: Validation Error - Invalid Metric Code
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: ValidationError
          title: Invalid Metric Code
          detail: The metric 'INVALID_METRIC' is not valid. Use the /metrics endpoint
            to retrieve available metric codes.
    generalException:
      description: This is the most general error that can be returned by the service.
        Please Report Issue to FactSet.
      summary: Internal Server Error - General Exception
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Internal Server Error
          title: Internal Server Error
          detail: An unexpected error occurred. Please try again later or contact
            FactSet support.
    BranchesRequestUSBank:
      summary: US Bank branches request
      value:
        data:
          ids:
          - 0016MM-E
          coverage: US
          marketShareType: COUNTY
          stateCode: FL
    BranchesRequestCreditUnion:
      summary: Credit Union branches request
      value:
        data:
          ids:
          - 06R9SD-E
          coverage: CREDIT_UNION
          stateCode: MI
          city: Mishawaka
          locationType: BRANCH
    BranchesRequestAustralia:
      summary: Australia branches request
      value:
        data:
          ids:
          - NAB-AU
          coverage: AUSTRALIA
          stateName: Queensland
          serviceChannelType: BRANCH
    BranchesRequestGlobal:
      summary: Global branches request
      value:
        data:
          ids:
          - 000CKK-E
          coverage: GLOBAL
          locationType: BRANCH
    FinancialsRequestUSBank:
      summary: US Bank financials request
      value:
        data:
          ids:
          - 000SV1-E
          coverage: US
          periodicity: ANN
          startDate: 2017-09-01
          endDate: 2018-03-01
          metrics:
          - FB_ASSETS
          currency: USD
    FinancialsRequestCreditUnion:
      summary: Credit Union financials request
      value:
        data:
          ids:
          - 05G9TD-E
          coverage: CREDIT_UNION
          periodicity: ANN
          startDate: 2022-01-01
          endDate: 2022-12-31
          metrics:
          - BS_LIAB_SHR_EQ_TOT
          currency: USD
    FinancialsRequestCanadianBank:
      summary: Canadian Bank financials request
      value:
        data:
          ids:
          - BMO-CA
          coverage: CANADA
          periodicity: ANN
          startDate: 2018-01-01
          endDate: 2018-12-31
          metrics:
          - bs_fc_mtge_nres
          - bs_fc_mtge_res
          currency: CAD
    FinancialsRequestAustralianBank:
      summary: Australian Bank financials request
      value:
        data:
          ids:
          - NAB-AU
          coverage: AUSTRALIA
          periodicity: ANN
          startDate: 2019-01-01
          endDate: 2019-12-31
          metrics:
          - BS_CASH_DEP_FINS_INST
          currency: AUD
    FinancialsResponseUSBank:
      summary: US Bank financials response
      value:
        data:
        - requestId: 000SV1-E
          entityProperName: The Old Point National Bank of Phoebus
          factsetEntityId: 000SV1-E
          coverage: US
          fiscalEndDate: 2023-12-31
          metric: FB_ASSETS
          value: 1105.266
          currency: USD
          description: Total Assets
          bankTypeDescription: Bank Institution
        meta:
          pagination:
            total: 1
            isEstimatedTotal: false
          requestedIds: 1
          failedIds: []
    MetricsResponseExample:
      summary: Available metrics response
      value:
        data:
        - metric: FB_ASSETS
          category: FINANCIALS
          subcategory: US
          dataType: number
          description: Total assets on the balance sheet from US regulatory reports
          oaPageId: "17959"
          oaUrl: https://my.apps.factset.com/oa/pages/17959
        - metric: FF_ROA
          category: PERFORMANCE
          subcategory: UBPR
          dataType: number
          description: Net income divided by average total assets. UBPR performance
            metric measuring overall profitability.
          oaPageId: "12345"
          oaUrl: https://my.apps.factset.com/oa/pages/12345
        - metric: CB_CLAIMS_EXCL_DERIV_GT
          category: EXPOSURE
          subcategory: COUNTRY
          dataType: number
          description: Cross-border claims outstanding after mandated adjustments
            for transfer of exposure (excluding derivative products)
          oaPageId: null
          oaUrl: null
        - metric: PRIN_RECEIV_END
          category: FILINGS
          subcategory: TEN_D
          dataType: number
          description: Principal receivables balance at the end of the reporting period
            from Form 10-D filings
          oaPageId: null
          oaUrl: null
        - metric: FSF_FR_ASSETS
          category: FINANCIALS
          subcategory: SPECIALTY_FINANCE
          dataType: number
          description: Total assets from FOCUS Report for specialty finance institutions
            including broker-dealers and business development corporations
          oaPageId: null
          oaUrl: null
        meta:
          pagination:
            total: 1250
            isEstimatedTotal: false
    FinancialsResponseCanadianBank:
      summary: Canadian Bank financials response
      value:
        data:
        - requestId: BMO-CA
          entityProperName: Bank of Montreal
          factsetEntityId: 000CKX-E
          coverage: CANADA
          reportEndDate: 2018-02-28
          reportPeriod: M2
          metric: bs_fc_mtge_nres
          value: 5985135
          currency: CAD
          description: Foreign Non-residential
        - requestId: BMO-CA
          entityProperName: Bank of Montreal
          factsetEntityId: 000CKX-E
          coverage: CANADA
          reportEndDate: 2018-02-28
          reportPeriod: M2
          metric: bs_fc_mtge_res
          value: 11124884
          currency: CAD
          description: Foreign Residential
    FinancialsResponseAustralianBank:
      summary: Australian Bank financials response
      value:
        data:
        - requestId: NAB-AU
          entityProperName: National Australia Bank Ltd.
          factsetEntityId: 000QVD-E
          coverage: AUSTRALIA
          fiscalEndDate: 2019-01-31
          reportDescription: Bonds, Notes and Long-Term Borrowings
          metric: bs-bond-note-lt-bor
          value: 35304.1
          currency: AUD
          description: Bonds, notes and long-term borrowings have a residual term
            to maturity of more than one year. These include loans and debt securities.
        - requestId: NAB-AU
          entityProperName: National Australia Bank Ltd.
          factsetEntityId: 000QVD-E
          coverage: AUSTRALIA
          fiscalEndDate: 2019-01-31
          reportDescription: Cash and Deposits with Financial Institutions
          metric: bs-cash-dep-fins-inst
          value: 16476.1
          currency: AUD
          description: Cash and deposits with financial institutions comprise Australian
            and foreign currency notes and coins, unallocated gold and total funds
            on deposit at other financial institutions.
    FinancialsResponseCreditUnion:
      summary: Credit Union financials response
      value:
        data:
        - requestId: 05G9TD-E
          entityProperName: America's First Federal Credit Union
          factsetEntityId: 05G9TD-E
          coverage: CREDIT_UNION
          fiscalEndDate: 2022-12-31
          reportDescription: Loans & Leases
          report: Loans and Leases
          currency: USD
          metric: lns-com-nsd-re
          value: 2259035
          description: Commercial Loans/Lines Of Credit Not Real Estate Secured
        - requestId: 05G9TD-E
          entityProperName: America's First Federal Credit Union
          factsetEntityId: 05G9TD-E
          coverage: CREDIT_UNION
          fiscalEndDate: 2022-12-31
          reportDescription: Loans & Leases
          report: Loans and Leases
          currency: USD
          metric: lns-com-sd-re
          value: 14869556
          description: Commercial Loans/Lines Of Credit Real Estate Secured
        - requestId: 05G9TD-E
          entityProperName: America's First Federal Credit Union
          factsetEntityId: 05G9TD-E
          coverage: CREDIT_UNION
          fiscalEndDate: 2022-12-31
          reportDescription: Loan Information YTD
          report: Loans and Leases
          currency: USD
          metric: lns-grant-ytd
          value: 957781298
          description: Loans Granted YTD
    PerformanceRequestExample:
      summary: UBPR performance metrics request
      value:
        data:
          ids:
          - 001QS1-E
          periodicity: QTR
          startDate: 2000-01-01
          endDate: 2026-12-31
          currency: USD
          metrics:
          - av_ea_aa
          - av_liab_aa
          - bs_accept_oth_ass
        meta:
          pagination:
            limit: 10
            offset: 0
    PerformanceResponseExample:
      summary: UBPR performance metrics response
      value:
        data:
        - requestId: 001QS1-E
          factsetEntityId: 001QS1-E
          fiscalEndDate: 2023-12-31
          metric: av-ea-aa
          peerGroupName: Asset Peer Group Undefined
          peerGroupRank: 43
          value: 95.06
        - requestId: 001QS1-E
          factsetEntityId: 001QS1-E
          fiscalEndDate: 2023-12-31
          metric: av-liab-aa
          peerGroupName: Asset Peer Group Undefined
          peerGroupRank: 38
          value: 62.5
        - requestId: 001QS1-E
          factsetEntityId: 001QS1-E
          fiscalEndDate: 2023-12-31
          metric: bs-accept-oth-ass
          peerGroupName: Asset Peer Group Undefined
          peerGroupRank: 12
          value: 185.05
    USBranchesResponseExample:
      summary: US bank branches response
      value:
        data:
        - requestId: 0016MM-E
          factsetEntityId: 0016MM-E
          coverage: US
          branchCount: 1
          branchType: Full service brick and mortar branch
          totalDeposits: 103574.25
          depositMarketSharePct: 0.531064
          marketShareType: COUNTY
          marketShareCode: "12021"
          locationDescription: Florida, Collier
        - requestId: 0016MM-E
          factsetEntityId: 0016MM-E
          coverage: US
          branchCount: 3
          branchType: Full service brick and mortar branch
          totalDeposits: 87234.5
          depositMarketSharePct: 0.4121
          marketShareType: ZIP
          marketShareCode: "34102"
          locationDescription: Florida, Naples
    GlobalBranchesResponseExample:
      summary: Global bank branches response
      value:
        data:
        - requestId: 000CKK-E
          factsetEntityId: 000CKK-E
          entityProperName: Bank of Hawaii Corp.
          coverage: GLOBAL
          latitude: 7.341382
          longitude: 134.472081
          isoCountry: PW
          region: null
          locationCity: Palau
          locationPostalCode: "96940"
          locationStreet: 340 Main Rd.
        - requestId: 000CKK-E
          factsetEntityId: 000CKK-E
          entityProperName: Bank of Hawaii Corp.
          coverage: GLOBAL
          latitude: 13.464691
          longitude: 144.749609
          isoCountry: GU
          region: null
          locationCity: Guam
          locationPostalCode: "96910"
          locationStreet: 400 Route 8
    AustraliaBranchesResponseExample:
      summary: Australian bank branches response
      value:
        data:
        - requestId: 00DY6N-E
          factsetEntityId: 00DY6N-E
          entityProperName: Suncorp-Metway Ltd.
          coverage: AUSTRALIA
          locationId: 33754
          serviceChannelType: ATMS
          numServiceChannel: 2
          latitude: -19.27141
          longitude: 146.79021
          state: Queensland
          remotenessArea: Outer Regional Australia
          sa2Code: 601041022
          address: Channel Court Shopping Centre, John Street, Townsville, Queensland,
            4810, Australia
        - requestId: 00DY6N-E
          factsetEntityId: 00DY6N-E
          entityProperName: Suncorp-Metway Ltd.
          coverage: AUSTRALIA
          locationId: 33812
          serviceChannelType: BRANCH
          numServiceChannel: 1
          latitude: -27.470125
          longitude: 153.021072
          state: Queensland
          remotenessArea: Major Cities of Australia
          sa2Code: 305031114
          address: Level 18, 36 Wickham Terrace, Brisbane City, Queensland, 4000,
            Australia
    CUBranchesResponseExample:
      summary: Credit union branches response
      value:
        data:
        - requestId: 06R9SD-E
          entityProperName: United Federal Credit Union (Michigan)
          factsetEntityId: 06R9SD-E
          coverage: CREDIT_UNION
          branchSite: Edison Lakes - Branch 34
          atmSite: null
          isMainOffice: false
          hasMemberServices: true
          hasAtm: true
          hasDriveThru: true
          addressId: 2606
          siteType: BRANCH_OFFICE
          locationCity: Mishawaka
          stateProvince: IN
          locationPostalCode: "46545"
          locationStreet: 4840 N Main St
          isoCountry: US
          latitude: 41.703783
          longitude: -86.182498
    ExposureRequestExample:
      summary: Country exposure request
      value:
        data:
          ids:
          - 000BY7-E
          startDate: 2023-01-01
          endDate: 2023-12-31
          country: AU
          currency: USD
          metrics:
          - CB_CLAIMS_EXCL_DERIV_GT
          - CLAIMS_DERIV_GT
          - CLAIMS_GT
    ExposureResponseExample:
      summary: Country exposure response
      value:
        data:
        - requestId: 000BY7-E
          entityProperName: American Express Co.
          factsetEntityId: 000BY7-E
          fiscalEndDate: 2016-06-30
          currency: USD
          country: AU
          metric: CB_CLAIMS_EXCL_DERIV_GT
          value: 1535
          description: Amount of Cross-border Claims Outstanding After Mandated Adjustments
            for Transfer of Exposure (excluding derivative products)
        - requestId: 000BY7-E
          entityProperName: American Express Co.
          factsetEntityId: 000BY7-E
          fiscalEndDate: 2016-06-30
          currency: USD
          country: AU
          metric: CLAIMS_DERIV_GT
          value: 145
          description: Amount of Gross Claims Outstanding from Derivative Products
            after Mandated Adjustments for Transfer of Exposure
        - requestId: 000BY7-E
          entityProperName: American Express Co.
          factsetEntityId: 000BY7-E
          fiscalEndDate: 2016-06-30
          currency: USD
          country: AU
          metric: CLAIMS_GT
          value: 1680
          description: Gross Claims Outstanding after Mandated Adjustments for Transfer
            of Exposure
    Filings10DRequestExample:
      summary: 10-D filing request
      value:
        data:
          ids:
          - 00DZFB-E
          startDate: 2024-01-01
          endDate: 2024-12-31
          currency: USD
          metrics:
          - RECEIV_DELQ_1_29_PCT
          - RECEIV_DELQ_1_29
          - RECEIV_CURR_PCT
    Filings10DResponseExample:
      summary: 10-D filing response
      value:
        data:
        - requestId: 00DZFB-E
          entityProperName: Barclays Dryrock Issuance Trust
          factsetEntityId: 00DZFB-E
          ultimateParentProperName: Barclays PLC
          factsetUltimateParentEntityId: 05H4C8-E
          filingDate: 2024-10-18
          reportingMonth: Sep
          reportingYear: 2024
          metric: RECEIV_DELQ_1_29_PCT
          value: 1.702086
          description: Receivables As % Of Pool Balance - Delinquent - 1-29 Days
        - requestId: 00DZFB-E
          entityProperName: Barclays Dryrock Issuance Trust
          factsetEntityId: 00DZFB-E
          ultimateParentProperName: Barclays PLC
          factsetUltimateParentEntityId: 05H4C8-E
          filingDate: 2024-10-18
          reportingMonth: Sep
          reportingYear: 2024
          currency: USD
          metric: RECEIV_DELQ_1_29
          value: 129.624467
          description: Receivables - Delinquent - 1-29 Days
        - requestId: 00DZFB-E
          entityProperName: Barclays Dryrock Issuance Trust
          factsetEntityId: 00DZFB-E
          ultimateParentProperName: Barclays PLC
          factsetUltimateParentEntityId: 05H4C8-E
          filingDate: 2024-10-18
          reportingMonth: Sep
          reportingYear: 2024
          metric: RECEIV_CURR_PCT
          value: 97.567651
          description: Receivables As % Of Pool Balance - Current
    FilingsUCC1RequestExample:
      summary: UCC-1 filing request
      value:
        data:
          ids:
          - 000SV1-E
          startDate: 2020-01-01
          endDate: 2025-12-31
    FilingsUCC1ResponseExample:
      summary: UCC-1 filing response
      value:
        data:
        - requestId: 000SV1-E
          entityProperName: The Old Point National Bank of Phoebus
          factsetEntityId: 000SV1-E
          vendorFilingId: VA-20250411260959
          debtorName: Jas Realty LLC
          filingState: VA
          effectiveDate: 2025-04-11
          expirationDate: 2030-04-11
        - requestId: 000SV1-E
          entityProperName: The Old Point National Bank of Phoebus
          factsetEntityId: 000SV1-E
          vendorFilingId: VA-20250411260960
          debtorName: Meadows Cmpg Inc
          filingState: VA
          effectiveDate: 2025-04-11
          expirationDate: 2030-04-11
    RatesRequestExample:
      summary: Deposit rates request
      value:
        data:
          ids:
          - 002J58-E
          startDate: 2020-01-01
          endDate: 2024-12-31
          currency: USD
          depositProduct: Savings
          term: 0 Month
        meta:
          pagination:
            limit: 5
    RatesResponseExample:
      summary: Deposit rates response
      value:
        data:
        - requestId: 000ZKS-E
          factsetEntityId: 000ZKS-E
          entityProperName: Lakeland Bancorp, Inc.
          asOfDate: 2024-06-07
          currency: USD
          depositProduct: Savings
          term: 0 Month
          depositCategory: 10000 to 100000
          apyRate: 0.05
          prevApyRate: 0.05
          nationalApyAvgRate: 1.880224
          apyAvgRate: null
          prevApyAvgRate: null
          state: null
          minDeposit: null
          maxDeposit: null
          onlineDesc: null
          isSpecialOffer: null
        - requestId: 002J58-E
          factsetEntityId: 002J58-E
          entityProperName: MUFG Union Bank, NA
          asOfDate: 2023-04-14
          currency: USD
          depositProduct: Certificate of Deposit
          term: 1 Year
          depositCategory: null
          apyRate: null
          prevApyRate: null
          nationalApyAvgRate: 3.40131
          apyAvgRate: 0.1625
          prevApyAvgRate: 0.05
          state: null
          minDeposit: null
          maxDeposit: null
          onlineDesc: null
          isSpecialOffer: null
    AUMRequestExample:
      summary: Form ADV AUM request
      value:
        data:
          ids:
          - 000BJX-E
          startDate: 2023-01-01
          endDate: 2023-12-31
          currency: USD
          metrics:
          - aum_tot
          - aum_discre
          - aum_hnwi
    FOCUSRequestExample:
      summary: FOCUS report request
      value:
        data:
          ids:
          - 000P2Z-E
          startDate: 2010-01-01
          endDate: 2020-12-31
          currency: USD
          metrics:
          - FSF_FR_NET_CAP
          - FSF_FR_COMMISS_FEE_INC
          - FSF_FR_COMMISS_FEE_EXP
    AUMResponseExample:
      summary: Form ADV AUM response
      value:
        data:
        - requestId: 000BJX-E
          factsetEntityId: 000BJX-E
          entityProperName: Vanguard Group Inc.
          fiscalEndDate: 2018-12-31
          filingDate: 2019-03-28
          currency: USD
          metric: aum_tot
          value: 2512170.637
          description: Total Assets Under Management
          reportType: AUM
        - requestId: 000BJX-E
          factsetEntityId: 000BJX-E
          entityProperName: Vanguard Group Inc.
          fiscalEndDate: 2018-12-31
          filingDate: 2019-03-28
          currency: USD
          metric: aum_discre
          value: 2483042.049
          description: Discretionary AUM
          reportType: AUM
        - requestId: 000BJX-E
          factsetEntityId: 000BJX-E
          entityProperName: Vanguard Group Inc.
          fiscalEndDate: 2018-12-31
          filingDate: 2019-03-28
          currency: USD
          metric: aum_hnwi
          value: 1301011.857
          description: AUM for High-Net-Worth Individuals
          reportType: AUM
    FOCUSResponseExample:
      summary: FOCUS report response
      value:
        data:
        - requestId: 000P2Z-E
          factsetEntityId: 000P2Z-E
          entityProperName: Jefferies Financial Group, Inc.
          fiscalEndDate: 2019-11-30
          currency: USD
          metric: FSF_FR_COMMISS_FEE_EXP
          value: 223140
          description: Commission and Fee Expense
          reportType: FOCUS
        - requestId: 000P2Z-E
          factsetEntityId: 000P2Z-E
          entityProperName: Jefferies Financial Group, Inc.
          fiscalEndDate: 2019-11-30
          currency: USD
          metric: FSF_FR_COMMISS_FEE_INC
          value: 2202764
          description: Commission and Fee Income
          reportType: FOCUS
        - requestId: 000P2Z-E
          factsetEntityId: 000P2Z-E
          entityProperName: Jefferies Financial Group, Inc.
          fiscalEndDate: 2021-11-30
          currency: USD
          metric: FSF_FR_NET_CAP
          value: 2230000
          reportType: FOCUS
          description: Net Capital
    PerformanceInstitutionResponseExample:
      summary: UBPR performance metrics response - institution-level ratios
      value:
        data:
        - requestId: 001QS1-E
          entityProperName: Citizens Community Bancorp Ltd.
          factsetEntityId: 001QS1-E
          fiscalEndDate: 2023-12-31
          metric: av-ea-aa
          currency: USD
          peerGroupName: null
          peerGroupRank: null
          value: 95.06
        - requestId: 001QS1-E
          entityProperName: Citizens Community Bancorp Ltd.
          factsetEntityId: 001QS1-E
          fiscalEndDate: 2023-12-31
          metric: av-liab-aa
          currency: USD
          peerGroupName: null
          peerGroupRank: null
          value: 62.5
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameter'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "detail" for more details.
    "401":
      content:
        application/json:
          examples:
            User Authentication - Failed:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Forbidden:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
    "404":
      content:
        application/json:
          examples:
            Not Found:
              $ref: '#/components/examples/notFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The requested endpoint could not be found.
    "415":
      content:
        application/json:
          examples:
            Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "422":
      content:
        application/json:
          examples:
            Validation Error - Invalid Date Range:
              $ref: '#/components/examples/unprocessableEntityDateRange'
            Validation Error - Invalid Metric Code:
              $ref: '#/components/examples/unprocessableEntityMetricCode'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: |
        Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
        Check the required parameters and their value constraints.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal Server Error.
  schemas:
    Ids:
      description: Array of security identifiers. Accepted ID types include Market
        Tickers, SEDOL, ISINs, CUSIPs, or FactSet Entity IDs.
      example:
      - 000BDX-E
      items:
        type: string
      minItems: 1
      type: array
    USStateCode:
      description: Two-letter US state or territory code (ISO 3166-2:US).
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      - DC
      - PR
      - VI
      - GU
      - AS
      - MP
      type: string
    FinancialsRequest:
      description: Request body for financial data endpoints.
      example:
        data:
          coverage: US
          endDate: 2023-12-31T00:00:00.000+0000
          periodicity: ANN
          ids:
          - 000BDX-E
          currency: USD
          metrics:
          - FB_SM_BHC_ASSETS
          startDate: 2023-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/FinancialsRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    PerformanceRequest:
      description: Request body for UBPR performance metrics.
      example:
        data:
          endDate: 2023-12-31T00:00:00.000+0000
          periodicity: ANN
          ids:
          - 000BDX-E
          currency: USD
          metrics:
          - FF_ROA
          - FF_ROE
          startDate: 2023-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/PerformanceRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    BranchesRequest:
      description: Request body for bank branch and location data.
      example:
        data:
          coverage: US
          country: CA
          locationNames:
          - Nassau
          - Suffolk
          hasDriveThru: true
          hasMemberServices: true
          hasAtm: true
          zipCodes:
          - "11501"
          - "11701"
          city: San Francisco
          postalCode: "94102"
          locationType: ALL
          marketShareType: ALL
          maxBranchCount: 6
          minTotalDeposits: 1000
          stateName: New South Wales
          countyFipsCodes:
          - "36059"
          - "36103"
          maxTotalDeposits: 0.8008281904610115
          serviceChannelType: ALL
          ids:
          - 000BDX-E
          minBranchCount: 1
          region: "ON"
          isMainOffice: true
          msaCodes:
          - "35620"
          branchTypes:
          - Full service brick and mortar branch
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/BranchesRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    ExposureRequest:
      description: Request body for country exposure data.
      example:
        data:
          country: AU
          endDate: 2023-12-31T00:00:00.000+0000
          ids:
          - 000BDX-E
          currency: USD
          metrics:
          - CB_CLAIMS_EXCL_DERIV_GT
          - CLAIMS_DERIV_GT
          - CLAIMS_GT
          startDate: 2023-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/ExposureRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    TenDFilingsRequest:
      description: Request body for Form 10-D securitization filing data.
      example:
        data:
          endDate: 2024-12-31T00:00:00.000+0000
          ids:
          - 000BDX-E
          currency: USD
          metrics:
          - PRIN_RECEIV_END
          - RECEIV_CURR
          - RECEIV_DELQ_30_OVER
          startDate: 2024-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/TenDFilingsRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    Ucc1FilingsRequest:
      description: Request body for UCC-1 financing statement data.
      example:
        data:
          endDate: 2024-12-31T00:00:00.000+0000
          ids:
          - 000BDX-E
          filingState: VA
          debtorName: Jas Realty LLC
          startDate: 2024-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/Ucc1FilingsRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    RatesRequest:
      description: Request body for deposit rate data.
      example:
        data:
          endDate: 2024-12-31T00:00:00.000+0000
          depositProduct: Savings
          ids:
          - 000BDX-E
          currency: USD
          term: 1 Year
          startDate: 2024-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/RatesRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    AUMRequest:
      description: Request body for Form ADV AUM data.
      example:
        data:
          endDate: 2023-12-31T00:00:00.000+0000
          ids:
          - 000BDX-E
          currency: USD
          metrics:
          - aum_tot
          - aum_discre
          - aum_hnwi
          startDate: 2023-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/AUMRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    FOCUSRequest:
      description: Request body for FOCUS report data.
      example:
        data:
          endDate: 2023-12-31T00:00:00.000+0000
          ids:
          - 000BDX-E
          currency: USD
          metrics:
          - FSF_FR_NET_CAP
          - FSF_FR_COMMISS_FEE_INC
          startDate: 2023-01-01T00:00:00.000+0000
        meta:
          pagination:
            offset: 0
            limit: 801
      properties:
        data:
          $ref: '#/components/schemas/FOCUSRequest_data'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
      - data
      type: object
    PaginationRequest:
      description: Pagination parameters to control the size and offset of results
        returned.
      example:
        offset: 0
        limit: 801
      properties:
        limit:
          default: 100
          description: Maximum number of results to return per request.
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of results to skip. Use with limit for paging through
            results.
          format: int32
          minimum: 0
          type: integer
      type: object
    RequestMeta:
      description: Optional request metadata for pagination control.
      example:
        pagination:
          offset: 0
          limit: 801
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
      type: object
    CurrencyCode:
      description: Currency code (ISO 4217). For a list of currency codes, see [OA
        Page 1470](https://my.apps.factset.com/oa/pages/1470).
      example: USD
      maxLength: 3
      minLength: 3
      nullable: true
      type: string
    EntityIdentification:
      additionalProperties: true
      description: Common entity identification fields.
      properties:
        entityProperName:
          description: Institution legal name
          example: JPMorgan Chase Bank, National Association
          nullable: true
          type: string
        factsetEntityId:
          description: FactSet entity identifier
          example: 000BDX-E
          nullable: true
          type: string
      type: object
    MetricValueBase:
      additionalProperties: true
      description: Common fields for metric-based data.
      properties:
        metric:
          description: Metric code
          example: FB_ASSETS
          nullable: true
          type: string
        value:
          description: Metric value
          example: 1234567.89
          nullable: true
          type: number
        description:
          description: Detailed description of the metric
          nullable: true
          type: string
      type: object
    StartDateFiscal:
      description: |
        Filters for fiscal periods ending on or after this date in YYYY-MM-DD format.
        Use with `endDate` for a date range, or alone to return all periods from this date forward.
        If both `startDate` and `endDate` are omitted, the most recent available period is returned.
      example: 2023-01-01
      format: date
      type: string
    EndDateFiscal:
      description: |
        Filters for fiscal periods ending on or before this date in YYYY-MM-DD format.
        Use with `startDate` for a date range, or alone to return the most recent period on or before this date.
        If both `startDate` and `endDate` are omitted, the most recent available period is returned.
      example: 2023-12-31
      format: date
      type: string
    StartDateFiling:
      description: |
        Filters for filings with a `filingDate` on or after this date in YYYY-MM-DD format.
        Use with `endDate` for a date range, or alone to return all filings from this date forward.
        If both `startDate` and `endDate` are omitted, the most recent 30 days of filings are returned.
      example: 2024-01-01
      format: date
      type: string
    EndDateFiling:
      description: |
        Filters for filings with a `filingDate` on or before this date in YYYY-MM-DD format.
        Use with `startDate` for a date range, or alone to return the most recent filings on or before this date.
        If both `startDate` and `endDate` are omitted, the most recent 30 days of filings are returned.
      example: 2024-12-31
      format: date
      type: string
    StartDateUCC1:
      description: |
        Filters for UCC-1 filings with an `effectiveDate` on or after this date in YYYY-MM-DD format.
        Use with `endDate` for a date range, or alone to return all filings from this date forward.
[...]
