openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: "Consume FactSet’s StreetAccount news and 3rd party content through\
    \ an API that seamlessly integrates with\n[quotes](https://developer.factset.com/api-catalog/real-time-quotes-api),\n\
    [time series](https://developer.factset.com/api-catalog/real-time-time-series-api),\n\
    [watchlists](https://developer.factset.com/api-catalog/watchlist-api-digital-portals),\
    \ and other Functional APIs.\n\nSearch for news articles from various news distributors\
    \ and publishers. Incorporate a multitude of search parameters such as region,\
    \ category, source, article type and provider-specific meta data, to easily filter\
    \ out the noise.\n\nAll search and list endpoints can be subscribed to receive\
    \ streamed updates.\n\nNews providers include:\n\n* APA\n* AWP \n* Businesswire\n\
    * Cercle Finance\n* Direkt News SE\n* Dow Jones News\n* dpa\n* dpa-AFX \n* EUWAX\n\
    * GlobenewsWire\n* Kauppalehti\n* MT Newswires\n* MoneyAM\n* newsaktuell\n* OMX\n\
    * PR Newswire \n* Ritzau Finans\n* StreetAccount News\n* TDN News\n      \nSee\
    \ the [Real-Time Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api)\
    \ for access to detailed\nprice and performance information, plus basic support\
    \ for security identifier cross-reference.\n"
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Real-Time News API
  version: 4.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/wealth/v4
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: basic endpoints
  name: basic
- description: category endpoints
  name: category
- description: news endpoints
  name: news
paths:
  /basic/asset-class/list:
    get:
      description: List of asset classes as defined by FactSet Digital Solutions.
      operationId: getBasicAssetClassList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  code: Lorem ipsum
                  description: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: List of asset classes.
      tags:
      - basic
      x-accepts: application/json
  /basic/background-text/type/list:
    post:
      description: List of background text types.
      operationId: postBasicBackgroundTextTypeList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  ids:
                  - 5
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostBasicBackgroundTextTypeListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 2
                  name: Lorem ipsum
                  description: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of background text types.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/benchmark/type/list:
    get:
      description: List of benchmark types.
      operationId: getBasicBenchmarkTypeList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 3
                  name: Lorem ipsum
                  description: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: List of benchmark types.
      tags:
      - basic
      x-accepts: application/json
  /basic/delivery/list:
    post:
      description: List of deliveries.
      operationId: postBasicDeliveryList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  ids:
                  - 1
              meta:
                attributes: []
                sort:
                - name
            schema:
              $ref: '#/components/schemas/PostBasicDeliveryListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  name: Lorem ipsum
                  description: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: List of deliveries.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/frequency/type/list:
    get:
      description: List of frequency types.
      operationId: getBasicFrequencyTypeList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: List of frequency types.
      tags:
      - basic
      x-accepts: application/json
  /basic/language/get:
    get:
      description: Details for a language.
      operationId: getBasicLanguageGet
      parameters:
      - description: Identifier of a language.
        example: 2
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a language.
          example: 2
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  code: en
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: Details for a language.
      tags:
      - basic
      x-accepts: application/json
  /basic/language/get-by-code:
    get:
      description: Details for a language identified by code.
      operationId: getBasicLanguageGetByCode
      parameters:
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: code
        required: true
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 4
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Details for a language identified by code.
      tags:
      - basic
      x-accepts: application/json
  /basic/language/list:
    get:
      description: List of languages.
      operationId: getBasicLanguageList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | code |
          | -code |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - code
            - -code
            - name
            - -name
            example: -code
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  code: en
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: List of languages.
      tags:
      - basic
      x-accepts: application/json
  /basic/market/get:
    get:
      description: Details of a market.
      operationId: getBasicMarketGet
      parameters:
      - description: Identifier of a market.
        example: 2
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a market.
          example: 2
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  name: Lorem ipsum
                  shortName: Lorem ipsum
                  active: false
                  country:
                    id: 2
                    name: Lorem ipsum
                  type:
                    id: 3
                    name: Lorem ipsum
                  group:
                    id: 2
                    name: Lorem ipsum
                  timezone:
                    id: 3
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: Details of a market.
      tags:
      - basic
      x-accepts: application/json
  /basic/market/list:
    post:
      description: List of markets.
      operationId: postBasicMarketList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  markets:
                    ids:
                    - 5
                  onlyActive: true
              meta:
                attributes: []
                language: en
                sort:
                - -shortName
                pagination:
                  offset: 0
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostBasicMarketListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 2
                  name: Lorem ipsum
                  shortName: Lorem ipsum
                  active: true
                  country:
                    id: 5
                    name: Lorem ipsum
                  type:
                    id: 5
                    name: Lorem ipsum
                  group:
                    id: 1
                    name: Lorem ipsum
                  timezone:
                    id: 1
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
                  pagination:
                    hasNext: false
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: List of markets.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/market/group/list:
    get:
      description: List of market groups.
      operationId: getBasicMarketGroupList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | name |
          | -name |
          | shortName |
          | -shortName |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - name
            - -name
            - shortName
            - -shortName
            example: shortName
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  name: Lorem ipsum
                  shortName: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful Response
      summary: List of market groups.
      tags:
      - basic
      x-accepts: application/json
  /basic/market/type/list:
    get:
      description: List of market types.
      operationId: getBasicMarketTypeList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - name
            - -name
            example: name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successful Response
      summary: List of market types.
      tags:
      - basic
      x-accepts: application/json
  /basic/media/kind/list:
    get:
      description: List of media kinds.
      operationId: getBasicMediaKindList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 2
                  name: Lorem ipsum
                  description: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: List of media kinds.
      tags:
      - basic
      x-accepts: application/json
  /basic/media/type/list:
    post:
      description: List of Internet media types. See http://www.iana.org/assignments/media-types/
        for further details. Not all such Internet media types are available on the
        MDG.
      operationId: postBasicMediaTypeList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  ids:
                  - 1
              meta:
                attributes: []
                sort:
                - name
            schema:
              $ref: '#/components/schemas/PostBasicMediaTypeListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 3
                  name: Lorem ipsum
                  description: Lorem ipsum
                  kind:
                    id: 4
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Successful Response
      summary: List of Internet media types.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/mic/operating/list:
    post:
      description: List of operating market identifier codes (MIC).
      operationId: postBasicMicOperatingList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  status: active
              meta:
                attributes: []
                sort:
                - -name
                pagination:
                  offset: 0
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostBasicMicOperatingListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 3
                  isoCode: Lorem ipsum
                  name: Lorem ipsum
                  active: false
                meta:
                  status:
                    code: 200
                  pagination:
                    hasNext: false
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: Successful Response
      summary: List of operating market identifier codes (MIC).
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/region/get:
    get:
      description: Details for a geographic, political, or economic region.
      operationId: getBasicRegionGet
      parameters:
      - description: Identifier of a region.
        example: 5
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a region.
          example: 5
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  code: US
                  name: Lorem ipsum
                  type: country
                  nestedRegions:
                  - id: 4
                    code: DE
                    name: Lorem ipsum
                    type: subdivision
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: Successful Response
      summary: Details for a region.
      tags:
      - basic
      x-accepts: application/json
  /basic/region/list:
    get:
      description: List of geographic, political, and economic regions.
      operationId: getBasicRegionList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | code |
          | -code |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - code
            - -code
            - name
            - -name
            example: name
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  code: US
                  name: Lorem ipsum
                  type: continent
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: Successful Response
      summary: List of regions.
      tags:
      - basic
      x-accepts: application/json
  /basic/region/continent/get:
    get:
      description: Details for a continent.
      operationId: getBasicRegionContinentGet
      parameters:
      - description: Identifier of a continent.
        example: 1
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a continent.
          example: 1
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  name: Lorem ipsum
                  countries:
                  - id: 3
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
          description: Successful Response
      summary: Details for a continent.
      tags:
      - basic
      x-accepts: application/json
  /basic/region/continent/list:
    get:
      description: List of continents.
      operationId: getBasicRegionContinentList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - name
            - -name
            example: -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 2
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: Successful Response
      summary: List of continents.
      tags:
      - basic
      x-accepts: application/json
  /basic/region/country/get:
    get:
      description: Details for a country.
      operationId: getBasicRegionCountryGet
      parameters:
      - description: Identifier of a country.
        example: 4
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a country.
          example: 4
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  code: US
                  name: Lorem ipsum
                  subdivisions:
                  - id: 5
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: Successful Response
      summary: Details for a country.
      tags:
      - basic
      x-accepts: application/json
  /basic/region/country/get-by-code:
    get:
      description: Details for a country identified by code.
      operationId: getBasicRegionCountryGetByCode
      parameters:
      - description: ISO 3166-1 alpha-2 code of a country.
        example: DE
        explode: true
        in: query
        name: code
        required: true
        schema:
          description: ISO 3166-1 alpha-2 code of a country.
          example: DE
          maxLength: 2
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 2
                  name: Lorem ipsum
                  subdivisions:
                  - id: 2
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
          description: Successful Response
      summary: Details for a country identified by code.
      tags:
      - basic
      x-accepts: application/json
  /basic/region/country/list:
    get:
      description: List of countries.
      operationId: getBasicRegionCountryList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | code |
          | -code |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - code
            - -code
            - name
            - -name
            example: name
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  code: DE
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
          description: Successful Response
      summary: List of countries.
      tags:
      - basic
      x-accepts: application/json
  /basic/timezone/get:
    get:
      description: Details of a timezone identified by id, as specified by the Internet
        Assigned Numbers Authority. See http://www.iana.org/time-zones for further
        details. Not all such timezones are available on the MDG.
      operationId: getBasicTimezoneGet
      parameters:
      - description: Identifier of a timezone. An invalid or unsupported identifier
          will result in an error.
        example: 1
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a timezone. An invalid or unsupported identifier
            will result in an error.
          example: 1
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 5
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
          description: Successful Response
      summary: Details of a timezone.
      tags:
      - basic
      x-accepts: application/json
  /basic/timezone/get-by-name:
    get:
      description: Details of a timezone identified by name, as specified by the Internet
        Assigned Numbers Authority. See http://www.iana.org/time-zones for further
        details. Not all such timezones are available on the MDG.
      operationId: getBasicTimezoneGetByName
      parameters:
      - description: Name of a timezone. The result is determined by a case-sensitive
          equality comparison with the stored timezone names. An invalid or unsupported
          name will result in an error.
        example: America/New_York
        explode: true
        in: query
        name: name
        required: true
        schema:
          description: Name of a timezone. The result is determined by a case-sensitive
            equality comparison with the stored timezone names. An invalid or unsupported
            name will result in an error.
          example: America/New_York
          maxLength: 100
          minLength: 1
          pattern: ^[A-Za-z_/-]+$
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 2
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
          description: Successful Response
      summary: Details of a timezone identified by name.
      tags:
      - basic
      x-accepts: application/json
  /basic/timezone/list:
    post:
      description: List of timezones identified by id, as specified by the Internet
        Assigned Numbers Authority. See http://www.iana.org/time-zones for further
        details. Not all such timezones are available on the MDG.
      operationId: postBasicTimezoneList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  ids:
                  - 3
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostBasicTimezoneListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 2
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
          description: Successful Response
      summary: List of timezones.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/value-unit/get:
    get:
      description: Details of a value unit.
      operationId: getBasicValueUnitGet
      parameters:
      - description: Identifier of a value unit.
        example: 5
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a value unit.
          example: 5
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  code: EUR
                  isoCode: USD
                  name: Lorem ipsum
                  type: main
                  active: true
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
          description: Successful Response
      summary: Details of a value unit.
      tags:
      - basic
      x-accepts: application/json
  /basic/value-unit/list:
    post:
      description: List of value units.
      operationId: postBasicValueUnitList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  status: active
              meta:
                attributes: []
                language: en
                sort:
                - name
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 4
                  code: USD
                  isoCode: EUR
                  name: Lorem ipsum
                  type: alternative
                  active: false
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
          description: Successful Response
      summary: List of value units.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/value-unit/alternative/list:
    get:
      description: List of alternative units.
      operationId: getBasicValueUnitAlternativeList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - name
            - -name
            example: -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 3
                  code: Lorem ipsum
                  name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
          description: Successful Response
      summary: List of alternative units.
      tags:
      - basic
      x-accepts: application/json
  /basic/value-unit/currency/list:
    post:
      description: List of currencies.
      operationId: postBasicValueUnitCurrencyList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  status: active
              meta:
                attributes: []
                language: en
                sort:
                - -name
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitCurrencyListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  code: EUR
                  isoCode: EUR
                  name: Lorem ipsum
                  type: fractional
                  active: false
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
          description: Successful Response
      summary: List of currencies.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /basic/value-unit/currency/fractional/get:
    get:
      description: Details of a fractional currency.
      operationId: getBasicValueUnitCurrencyFractionalGet
      parameters:
      - description: Identifier of a fractional currency.
        example: 1
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a fractional currency.
          example: 1
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  code: Lorem ipsum
                  name: Lorem ipsum
                  factor: 2.02
                  mainCurrency:
                    id: 2
                    code: USD
                    isoCode: USD
                    name: Lorem ipsum
                    active: false
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
          description: Successful Response
      summary: Details of a fractional currency.
      tags:
      - basic
      x-accepts: application/json
  /basic/value-unit/currency/fractional/list:
    get:
      description: List of fractional currencies.
      operationId: getBasicValueUnitCurrencyFractionalList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: |+
          Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
          | Value |
          | --- |
          | name |
          | -name |

        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - name
            - -name
            example: name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 5
                  code: Lorem ipsum
                  name: Lorem ipsum
                  factor: 4.04
                  mainCurrency:
                    id: 4
                    code: USD
                    isoCode: EUR
                    name: Lorem ipsum
                    active: false
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
          description: Successful Response
      summary: List of fractional currencies.
      tags:
      - basic
      x-accepts: application/json
  /basic/value-unit/currency/main/list:
    post:
      description: List of main currencies.
      operationId: postBasicValueUnitCurrencyMainList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  status: active
              meta:
                attributes: []
                language: en
                sort:
                - -name
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitCurrencyMainListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  code: USD
                  isoCode: EUR
                  name: Lorem ipsum
                  active: false
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
          description: Successful Response
      summary: List of main currencies.
      tags:
      - basic
      x-contentType: application/json
      x-accepts: application/json
  /category/get:
    get:
      description: Details of a category.
      operationId: getCategoryGet
      parameters:
      - description: Identifier of a category.
        example: 4
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a category.
          example: 4
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  code: Lorem ipsum
                  name: Lorem ipsum
                  description: Lorem ipsum
                  active: true
                  level:
                    id: 3
                    name: Lorem ipsum
                    number: 2
                  parent:
                    id: 3
                    name: Lorem ipsum
                    level:
                      id: 2
                      name: Lorem ipsum
                  system:
                    id: 5
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
          description: Successful Response
      summary: Details of a category.
      tags:
      - category
      x-accepts: application/json
  /category/list:
    get:
      description: List of categories.
      operationId: getCategoryList
      parameters:
      - description: List of categories belonging to the same category system.
        example:
        - 1
        explode: false
        in: query
        name: ids
        required: true
        schema:
          description: List of categories belonging to the same category system.
          items:
            example: 1
            format: id32
            type: number
          maxItems: 100
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  system:
                    id: 2
                    name: Lorem ipsum
                  categories:
                  - id: 5
                    code: Lorem ipsum
                    name: Lorem ipsum
                    description: Lorem ipsum
                    active: false
                    level:
                      id: 3
                      name: Lorem ipsum
                      number: -2
                    parent:
                      id: 1
                      name: Lorem ipsum
                      level:
                        id: 2
                        name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
          description: Successful Response
      summary: List of categories.
      tags:
      - category
      x-accepts: application/json
  /category/list-by-level:
    get:
      description: List of categories assigned to a category level.
      operationId: getCategoryListByLevel
      parameters:
      - description: Identifier of a category level. See attribute `levels` in endpoint
          `/category/system/get` for valid values.
        example: 2
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a category level. See attribute `levels` in endpoint
            `/category/system/get` for valid values.
          example: 2
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          example: 0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          example: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  system:
                    id: 4
                    name: Lorem ipsum
                  parent:
                    id: 1
                    name: Lorem ipsum
                  categories:
                  - id: 5
                    code: Lorem ipsum
                    name: Lorem ipsum
                    description: Lorem ipsum
                    active: false
                    parent:
                      id: 5
                      name: Lorem ipsum
                meta:
                  status:
                    code: 200
                  pagination:
                    total: 3
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
          description: Successful Response
      summary: List of categories assigned to a category level.
      tags:
      - category
      x-accepts: application/json
  /category/list-by-system:
    get:
      description: List of categories assigned to a category system.
      operationId: getCategoryListBySystem
      parameters:
      - description: Identifier of a category system. See endpoint `/category/system/list`
          for valid values.
        example: 5
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a category system. See endpoint `/category/system/list`
            for valid values.
          example: 5
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          example: 0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          example: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  categories:
                  - id: 5
                    code: Lorem ipsum
                    name: Lorem ipsum
                    description: Lorem ipsum
                    active: true
                    level:
                      id: 4
                      number: -2
                    parent:
                      id: 5
                meta:
                  status:
                    code: 200
                  pagination:
                    total: 3
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
          description: Successful Response
      summary: List of categories assigned to a category system.
      tags:
      - category
      x-accepts: application/json
  /category/dataset/list:
    get:
      description: List of entitled category datasets.
      operationId: getCategoryDatasetList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 4
                  name: Lorem ipsum
                  depth: -232
                  system:
                    id: 3
                    name: Lorem ipsum
                    numberOfLevels: 232
                    firstLevelWithLeafCategories: 2
                  delivery:
                    id: 2
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
          description: Successful Response
      summary: List of entitled category datasets.
      tags:
      - category
      x-accepts: application/json
  /category/instrument/list:
    get:
      description: List of instruments where a specific dataset has assigned a given
        category.
      operationId: getCategoryInstrumentList
      parameters:
      - description: Identifier of a category.
        example: 1
        explode: true
        in: query
        name: idCategory
        required: true
        schema:
          description: Identifier of a category.
          example: 1
          format: id32
          type: number
        style: form
      - description: Identifier of a category dataset.
        example: 3
        explode: true
        in: query
        name: idCategoryDataset
        required: true
        schema:
          description: Identifier of a category dataset.
          example: 3
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          example: 0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          example: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: "209485"
                  fsym:
                    security:
                      permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    total: 3
                    isEstimatedTotal: false
                  partial:
                    isPartial: true
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
          description: Successful Response
      summary: List of instruments where a specific dataset has assigned a given category.
      tags:
      - category
      x-accepts: application/json
  /category/level/get:
    get:
      description: Details of a category level.
      operationId: getCategoryLevelGet
      parameters:
      - description: Identifier of a category level. See attribute `levels` in endpoint
          `/category/system/get` for valid values.
        example: 4
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a category level. See attribute `levels` in endpoint
            `/category/system/get` for valid values.
          example: 4
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  name: Lorem ipsum
                  number: 232
                  hasLeafCategories: false
                  system:
                    id: 5
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
          description: Successful Response
      summary: Details of a category level.
      tags:
      - category
      x-accepts: application/json
  /category/path/get:
    get:
      description: Path from the first level to the level of a specific category.
      operationId: getCategoryPathGet
      parameters:
      - description: Identifier of a category.
        example: 2
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a category.
          example: 2
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  categories:
                  - id: 2
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
          description: Successful Response
      summary: Path from the first level to the level of a specific category.
      tags:
      - category
      x-accepts: application/json
  /category/system/get:
    get:
      description: Details of an entitled category system.
      operationId: getCategorySystemGet
      parameters:
      - description: Identifier of a category system. See endpoint `/category/system/list`
          for valid values.
        example: 4
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a category system. See endpoint `/category/system/list`
            for valid values.
          example: 4
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 2
                  name: Lorem ipsum
                  type:
                    id: 1
                    name: Lorem ipsum
                  numberOfLevels: -132
                  firstLevelWithLeafCategories: -132
                  levels:
                  - id: 2
                    name: Lorem ipsum
                    number: 132
                    hasLeafCategories: true
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_40'
          description: Successful Response
      summary: Details of an entitled category system.
      tags:
      - category
      x-accepts: application/json
  /category/system/list:
    get:
      description: List of entitled category systems.
      operationId: getCategorySystemList
      parameters:
      - description: Filter for a specific category system type. See endpoint `/category/system/type/list`
          for valid values.
        example: 1
        explode: true
        in: query
        name: idType
        required: false
        schema:
          description: Filter for a specific category system type. See endpoint `/category/system/type/list`
            for valid values.
          example: 1
          format: id32
          type: number
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  name: Lorem ipsum
                  type:
                    id: 2
                    name: Lorem ipsum
                  numberOfLevels: -232
                  firstLevelWithLeafCategories: 2
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_41'
          description: Successful Response
      summary: List of entitled category systems.
      tags:
      - category
      x-accepts: application/json
  /category/system/type/list:
    get:
      description: List of category system types.
      operationId: getCategorySystemTypeList
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 4
                  name: Lorem ipsum
                  description: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_42'
          description: Successful Response
      summary: List of category system types.
      tags:
      - category
      x-accepts: application/json
  /news/article/get:
    get:
      description: Details for a news article.
      operationId: getNewsArticleGet
      parameters:
      - description: Identifier of a news article.
        example: 1234567890FactSet
        explode: true
        in: query
        name: code
        required: true
        schema:
          description: Identifier of a news article.
          example: 1234567890FactSet
          maxLength: 128
          minLength: 1
          pattern: ^[0-9A-Za-z+/=:]+$
          type: string
        style: form
      - description: If true, media references are included if available.
        example: true
        explode: true
        in: query
        name: includeMedia
        required: false
        schema:
          default: false
          description: If true, media references are included if available.
          example: true
          type: boolean
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: en
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: en
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  time: 2024-12-24T18:00:00.000000Z
                  headline: Lorem ipsum
                  summary: Lorem ipsum
                  body: Lorem ipsum
                  types:
                  - id: 5
                    name: Lorem ipsum
                  language:
                    id: 2
                    code: en
                  distributor:
                    id: 3
                    name: Lorem ipsum
                  publisher:
                    id: 1
                    name: Lorem ipsum
                  categories:
                  - id: 4
                    name: Lorem ipsum
                  instruments:
                  - id: "209485"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
                  media:
                  - url: https://developer.factset.com
                    mimeType: Lorem ipsum
                    caption: Lorem ipsum
                    alternativeText: Lorem ipsum
                    width: 132
                    height: 232
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_43'
          description: Successful Response
      summary: Details for a news article.
      tags:
      - news
      x-accepts: application/json
  /news/article/list:
    post:
      description: List of news articles.
      operationId: postNewsArticleList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                filter:
                  range:
                    start: 2024-01-01T00:00:00.000Z
                    end: 2024-12-24T18:00:00.000000Z
                  categories:
                    ids:
                    - 5
                  regions:
                    ids:
                    - 4
                  distributor:
                    ids:
                    - 3
                  publisher:
                    ids:
                    - 2
                  language:
                    ids:
                    - 5
                  types:
                    ids:
                    - 2
              meta:
                attributes: []
                subscription:
                  minimumInterval: 4156
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostNewsArticleListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - code: Lorem ipsum
                  time: 2024-01-01T00:00:00.000Z
                  headline: Lorem ipsum
                  summary: Lorem ipsum
                  types:
                  - id: 3
                  language:
                    id: 2
                  distributor:
                    id: 1
                  publisher:
                    id: 4
                  categories:
                  - id: 2
                  chain:
                    id: "4004"
                  instruments:
                  - id: "209485"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
          description: Successful Response
      summary: List of news articles.
      tags:
      - news
      x-contentType: application/json
      x-accepts: application/json
  /news/article/list-by-chain:
    post:
      description: List news articles of an article chain.
      operationId: postNewsArticleListByChain
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                id: "4004"
                filter:
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-01-01T00:00:00.000Z
              meta:
                attributes: []
                subscription:
                  minimumInterval: 3401
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByChainRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  distributor:
                    id: 3
                  publisher:
                    id: 4
                  articles:
                  - code: Lorem ipsum
                    time: 2024-12-24T18:00:00.000000Z
                    headline: Lorem ipsum
                    summary: Lorem ipsum
                    types:
                    - id: 4
                    language:
                      id: 3
                    categories:
                    - id: 5
                    instruments:
                    - id: "209485"
                      fsym:
                        security:
                          permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
          description: Successful Response
      summary: List news articles of an article chain.
      tags:
      - news
      x-contentType: application/json
      x-accepts: application/json
  /news/article/list-by-index:
    post:
      description: News articles for instruments that are constituents of the given
        indices.
      operationId: postNewsArticleListByIndex
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  values:
                  - FDS-US
                  type: tickerRegion
                filter:
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-01-01T00:00:00.000Z
                  categories:
                    ids:
                    - 3
                  regions:
                    ids:
                    - 3
                  distributor:
                    ids:
                    - 4
                  publisher:
                    ids:
                    - 3
                  language:
                    ids:
                    - 2
                  types:
                    ids:
                    - 3
              meta:
                attributes: []
                subscription:
                  minimumInterval: 3450
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByIndexRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  identifiers:
                  - idNotation: "1532562"
                    sourceIdentifier: FDS-US
                    status:
                      code: none
                      identifier: FDS-US
                      details: Lorem ipsum
                      encryptedDetails: Lorem ipsum
                  articles:
                  - code: Lorem ipsum
                    time: 2024-01-01T00:00:00.000Z
                    headline: Lorem ipsum
                    summary: Lorem ipsum
                    types:
                    - id: 5
                    language:
                      id: 2
                    distributor:
                      id: 2
                    publisher:
                      id: 1
                    categories:
                    - id: 5
                    chain:
                      id: "5005"
                    instruments:
                    - id: "209485"
                      fsym:
                        security:
                          permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
          description: Successful Response
      summary: News articles for instruments that are constituents of the given indices.
      tags:
      - news
      x-contentType: application/json
      x-accepts: application/json
  /news/article/list-by-instrument:
    post:
      description: News articles for instruments.
      operationId: postNewsArticleListByInstrument
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  values:
                  - FDS-US
                  type: tickerRegion
                filter:
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-12-24T18:00:00.000000Z
                  categories:
                    ids:
                    - 2
                  regions:
                    ids:
                    - 3
                  distributor:
                    ids:
                    - 2
                  publisher:
                    ids:
                    - 5
                  language:
                    ids:
                    - 5
                  types:
                    ids:
                    - 3
              meta:
                attributes: []
                subscription:
                  minimumInterval: 1290
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByInstrumentRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  identifiers:
                  - idInstrument: "209485"
                    sourceIdentifier: FDS-US
                    status:
                      code: none
                      identifier: FDS-US
                      details: Lorem ipsum
                      encryptedDetails: Lorem ipsum
                  articles:
                  - code: Lorem ipsum
                    time: 2024-12-24T18:00:00.000000Z
                    headline: Lorem ipsum
                    summary: Lorem ipsum
                    types:
                    - id: 2
                    language:
                      id: 1
                    distributor:
                      id: 1
                    publisher:
                      id: 2
                    categories:
                    - id: 2
                    chain:
                      id: "3003"
                    instruments:
                    - id: "209485"
                      fsym:
                        security:
                          permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
          description: Successful Response
      summary: News articles for instruments.
      tags:
      - news
      x-contentType: application/json
      x-accepts: application/json
  /news/article/list-by-media-kind:
    post:
      description: List news articles which contain media of specific media kinds.
      operationId: postNewsArticleListByMediaKind
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                ids:
                - 5
                filter:
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-01-01T00:00:00.000Z
                  categories:
                    ids:
                    - 5
                  regions:
                    ids:
                    - 4
                  distributor:
                    ids:
                    - 1
                  publisher:
                    ids:
                    - 4
                  language:
                    ids:
                    - 4
                  types:
                    ids:
                    - 4
              meta:
                attributes: []
                subscription:
                  minimumInterval: 1484
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByMediaKindRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - code: Lorem ipsum
                  time: 2024-01-01T00:00:00.000Z
                  headline: Lorem ipsum
                  summary: Lorem ipsum
                  types:
                  - id: 2
                  language:
                    id: 4
                  distributor:
                    id: 4
                  publisher:
                    id: 3
                  categories:
                  - id: 2
                  chain:
                    id: "1001"
                  instruments:
                  - id: "209485"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_48'
          description: Successful Response
      summary: List news articles which contain media of specific media kinds.
      tags:
      - news
      x-contentType: application/json
      x-accepts: application/json
  /news/article/search-by-text:
    post:
      description: Search for news articles using a fulltext search. All specified
        criteria need to be fulfilled for an article to match. Each criterion is handled
        according to its selectionType; "include" requires the criterion to evaluate
        to true, "exclude" requires the criterion to evaluate to false. A criterion
        is fulfilled when at least one of its values is found.
      operationId: postNewsArticleSearchByText
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                text:
                  criteria:
                    selectionType: include
                    phrases:
                    - Lorem Ipsum
                    minimumMatchScore: 0.7
                    scope: all
                criteria:
                - selectionType: include
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-12-24T18:00:00.000000Z
                  indices:
                    ids:
                    - "5005"
                  instruments:
                    ids:
                    - "5005"
                  types:
                    ids:
                    - 2
                  categories:
                    ids:
                    - 5
                  regions:
                    ids:
                    - 4
                  distributor:
                    ids:
                    - 5
                  publisher:
                    ids:
                    - 2
                  language:
                    ids:
                    - 3
              meta:
                attributes: []
                subscription:
                  minimumInterval: 2670
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostNewsArticleSearchByTextRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - code: Lorem ipsum
                  time: 2024-12-24T18:00:00.000000Z
                  headline: Lorem ipsum
                  summary: Lorem ipsum
                  types:
                  - id: 5
                  language:
                    id: 2
                  distributor:
                    id: 4
                  publisher:
                    id: 5
                  categories:
                  - id: 4
                  chain:
                    id: "3003"
                  instruments:
                  - id: "209485"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_49'
          description: Successful Response
      summary: Search for news articles using a fulltext search.
      tags:
      - news
      x-contentType: application/json
      x-accepts: application/json
  /news/article/type/get:
    get:
      description: Details for a news article type.
      operationId: getNewsArticleTypeGet
      parameters:
      - description: Identifier of a news article type.
        example: 3
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of a news article type.
          example: 3
[...]
