openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: The Events Contribution API provides the ability to add specific types
    of corporate events to FactSet’s own events calendar, for display within FactSet’s
    applications, as well as for off-platform re-distribution via FactSet’s Events
    Calendar API.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Events Contribution API
  version: 0.2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/events-contribution-api
servers:
- url: https://api.factset.com/events-contribution/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Insert, update, or delete events
  name: Events Contribution
paths:
  /events:
    post:
      description: This endpoint inserts an event. Once the event is inserted, it
        will show up immediately among FactSet’s own event calendar apps, for display
        within FactSet’s applications.
      operationId: insertEvent
      requestBody:
        $ref: '#/components/requestBodies/InsertRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsertResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/invalidParameter'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authenticated:
                  $ref: '#/components/examples/notAuthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Bad Request - Internal Server Error:
                  $ref: '#/components/examples/internalServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Insert Event data
      tags:
      - Events Contribution
      x-contentType: application/json
      x-accepts: application/json
  /events/{eventId}:
    delete:
      description: This endpoint allows you to delete a previously inserted event
        with the corresponding event id.
      operationId: deleteEvent
      parameters:
      - description: ID of event to be deleted. This ID is vendor generated and should
          be unique in each vendor's content set.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          example: "1234"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: OK
        "204":
          description: No Content
        "400":
          content:
            application/json:
              examples:
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/invalidParameter'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authenticated:
                  $ref: '#/components/examples/notAuthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Bad Request - Internal Server Error:
                  $ref: '#/components/examples/internalServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Delete Event data
      tags:
      - Events Contribution
      x-accepts: application/json
    get:
      description: This endpoint retrieves previously submitted events by event ID.
      operationId: getEvent
      parameters:
      - description: ID for event retrieval. This ID is vendor generated and should
          be unique in each vendor's content set.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/invalidParameter'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. Invalid Parameter.
        "401":
          content:
            application/json:
              examples:
                Not Authenticated:
                  $ref: '#/components/examples/notAuthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Bad Request - Not Found:
                  $ref: '#/components/examples/notFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                Bad Request - Internal Server Error:
                  $ref: '#/components/examples/internalServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Event Data
      tags:
      - Events Contribution
      x-accepts: application/json
    put:
      description: This endpoint allows you to update a previously inserted event.
        Existing event will be replaced with the event data provided in the request
        body.
      operationId: updateEvent
      parameters:
      - description: ID of event to be updated. This ID is vendor generated and should
          be unique in each vendor's content set.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          example: "1234"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/invalidParameter'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Not Authenticated:
                  $ref: '#/components/examples/notAuthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                Bad Request - Internal Server Error:
                  $ref: '#/components/examples/internalServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Update Event data
      tags:
      - Events Contribution
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    invalidParameter:
      value:
        errors:
        - id: 7af3d86ca5954503b9244f2620fcf5eb
          code: parameterError
          title: Invalid parameter(s)
    notFound:
      value:
        errors:
        - id: 7af3d86ca5954503b9244f2620fcf5eb
          code: notFound
          title: event not found
    notAuthenticated:
      value:
        errors:
        - id: 7af3d86ca5954503b9244f2620fcf5eb
          code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL.
    forbidden:
      value:
        errors:
        - id: 7af3d86ca5954503b9244f2620fcf5eb
          code: notAuthorized
          title: Not authorized to access.
    internalServerError:
      value:
        errors:
        - id: 7af3d86ca5954503b9244f2620fcf5eb
          code: internalServerError
          title: An unexpected error happened.
  requestBodies:
    InsertRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InsertRequest'
      description: INSERT request body which needs to be sent with request
      required: true
    UpdateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateRequest'
      description: UPDATE request body which needs to be sent with request
      required: true
  schemas:
    InsertRequest:
      description: Request body containing event data which needs to be sent with
        request
      example:
        data:
          eventData:
            startDatetime: 2024-01-16T08:00:00Z
            eventId: "1234"
            agendaUrl: http://www.factset.com
            registrationInfo:
              contactEmailAddress: factset@factset.com
              contactName: FactSet
              extraInfo: this field can be used to display extra information regarding
                registration
            location:
              country: US
              city: New York
              state: New York
            title: the event title
            symbols:
            - name: FactSet System Research Inc.
              type: ticker
              value: FDS
            - name: FactSet System Research Inc.
              type: ticker
              value: FDS
            participants:
            - firstName: Jane
              lastName: Doe
              title: CEO
            - firstName: Jane
              lastName: Doe
              title: CEO
      properties:
        data:
          $ref: '#/components/schemas/InsertRequest_data'
      type: object
    UpdateRequest:
      description: Request body containing event data which needs to be sent with
        request
      example:
        data:
          eventData:
            startDatetime: 2024-01-16T08:00:00Z
            agendaUrl: http://www.factset.com
            registrationInfo:
              contactEmailAddress: factset@factset.com
              contactName: FactSet
              extraInfo: this field can be used to display extra information regarding
                registration
            location:
              country: US
              city: New York
              state: New York
            title: the event title
            symbols:
            - name: FactSet System Research Inc.
              type: ticker
              value: FDS
            - name: FactSet System Research Inc.
              type: ticker
              value: FDS
            participants:
            - firstName: Jane
              lastName: Doe
              title: CEO
            - firstName: Jane
              lastName: Doe
              title: CEO
      properties:
        data:
          $ref: '#/components/schemas/UpdateRequest_data'
      type: object
    EventData:
      description: Event Data
      example:
        startDatetime: 2024-01-16T08:00:00Z
        eventId: "1234"
        agendaUrl: http://www.factset.com
        registrationInfo:
          contactEmailAddress: factset@factset.com
          contactName: FactSet
          extraInfo: this field can be used to display extra information regarding
            registration
        location:
          country: US
          city: New York
          state: New York
        title: the event title
        symbols:
        - name: FactSet System Research Inc.
          type: ticker
          value: FDS
        - name: FactSet System Research Inc.
          type: ticker
          value: FDS
        participants:
        - firstName: Jane
          lastName: Doe
          title: CEO
        - firstName: Jane
          lastName: Doe
          title: CEO
      properties:
        eventId:
          description: ID that corresponds to the event. This ID is vendor generated
            and should be unique in each vendor's content set.
          example: "1234"
          type: string
        title:
          description: Title of the event to be displayed
          example: the event title
          maxLength: 500
          type: string
        startDatetime:
          description: Start date and time of the event
          example: 2024-01-16T08:00:00Z
          format: date-time
          type: string
        agendaUrl:
          description: The meeting agenda which can be a document file or a webpage.
          example: http://www.factset.com
          type: string
        participants:
          items:
            $ref: '#/components/schemas/ParticipantsData'
          type: array
        location:
          $ref: '#/components/schemas/LocationData'
        symbols:
          items:
            $ref: '#/components/schemas/SymbolData'
          type: array
        registrationInfo:
          $ref: '#/components/schemas/RegistrationInfoData'
      required:
      - eventId
      - startDatetime
      - symbols
      - title
      type: object
    EventUpdateData:
      description: Event Data Update
      example:
        startDatetime: 2024-01-16T08:00:00Z
        agendaUrl: http://www.factset.com
        registrationInfo:
          contactEmailAddress: factset@factset.com
          contactName: FactSet
          extraInfo: this field can be used to display extra information regarding
            registration
        location:
          country: US
          city: New York
          state: New York
        title: the event title
        symbols:
        - name: FactSet System Research Inc.
          type: ticker
          value: FDS
        - name: FactSet System Research Inc.
          type: ticker
          value: FDS
        participants:
        - firstName: Jane
          lastName: Doe
          title: CEO
        - firstName: Jane
          lastName: Doe
          title: CEO
      properties:
        title:
          description: Title of the event to be displayed
          example: the event title
          maxLength: 500
          type: string
        startDatetime:
          description: Start date and time of the event
          example: 2024-01-16T08:00:00Z
          format: date-time
          type: string
        agendaUrl:
          description: The meeting agenda which can be a document file or a webpage.
          example: http://www.factset.com
          type: string
        participants:
          description: Participants of the event.
          items:
            $ref: '#/components/schemas/ParticipantsData'
          type: array
        location:
          $ref: '#/components/schemas/LocationData'
        symbols:
          description: Symbol associated with the event
          items:
            $ref: '#/components/schemas/SymbolData'
          type: array
        registrationInfo:
          $ref: '#/components/schemas/RegistrationInfoData'
      required:
      - startDatetime
      - symbols
      - title
      type: object
    ParticipantsData:
      description: Participants of the event
      example:
        firstName: Jane
        lastName: Doe
        title: CEO
      properties:
        firstName:
          description: The first name of the participant
          example: Jane
          type: string
        lastName:
          description: The last name of the participant
          example: Doe
          type: string
        title:
          description: The title of the participant
          example: CEO
          type: string
      required:
      - firstName
      - lastName
      type: object
    LocationData:
      description: Location of the event
      example:
        country: US
        city: New York
        state: New York
      properties:
        country:
          description: Country must be provided in ISO 3166 (alpha 2) format, i.e.,
            two-letter country code
          example: US
          maxLength: 2
          minLength: 2
          type: string
        state:
          description: State/province of the city where the event is taking place.
          example: New York
          type: string
        city:
          description: City where the event is taking place.
          example: New York
          type: string
      type: object
    SymbolData:
      description: An identifier indicating which company the event belongs to
      example:
        name: FactSet System Research Inc.
        type: ticker
        value: FDS
      properties:
        type:
          description: Type of symbol
          enum:
          - isin
          - ticker
          - entity
          - sedol
          example: ticker
          type: string
        value:
          description: Value of symbol
          example: FDS
          type: string
        name:
          description: Name of symbol
          example: FactSet System Research Inc.
          type: string
      required:
      - name
      - value
      type: object
    RegistrationInfoData:
      description: Information regarding event registrant
      example:
        contactEmailAddress: factset@factset.com
        contactName: FactSet
        extraInfo: this field can be used to display extra information regarding registration
      properties:
        contactEmailAddress:
          description: Contact email of event registrant
          example: factset@factset.com
          format: email
          type: string
        contactName:
          description: Contact name of event registrant
          example: FactSet
          type: string
        extraInfo:
          description: Extra information can be provided regarding event registration.
            Input must be in English and will be validated upon indication.
          example: this field can be used to display extra information regarding registration
          maxLength: 500
          type: string
      type: object
    GetResponse:
      description: Get Event Response
      example:
        data:
          date: Jul 18 2024
          agendaUrl: test.com/investors
          contactEmail: test@example.com
          city: Toronto
          contactName: Jane Doe
          additionalInfo: Test Notes
          description: Test Event
          id: 48392328ur39
          state: AB
          isoCountry: CA
      properties:
        data:
          $ref: '#/components/schemas/GetResponse_data'
      type: object
    InsertResponse:
      description: Insert Event Response
      example:
        data:
          eventData:
            eventId: "1234"
          message:
            event: Event inserted successfully
      properties:
        data:
          $ref: '#/components/schemas/InsertResponse_data'
      type: object
    UpdateResponse:
      description: Update Event Response
      example:
        data:
          eventData:
            eventId: "1234"
          message:
            event: Event updated successfully
      properties:
        data:
          $ref: '#/components/schemas/UpdateResponse_data'
      type: object
    DeleteResponse:
      description: Delete Event Response
      example:
        data:
          eventData:
            eventId: "1234"
          message:
            event: Event deleted successfully
      properties:
        data:
          $ref: '#/components/schemas/DeleteResponse_data'
      type: object
    ErrorResponse:
      description: Object representing an error response.
      properties:
        errors:
          description: An array of error objects.
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
      type: object
    ErrorObject:
      description: Object representing an error.
      properties:
        id:
          description: A UUID for this particular occurrence of the error.
          type: string
        code:
          description: A common or API-specific error code.
          type: string
        title:
          description: Summary of the error.
          type: string
      type: object
    InsertRequest_data:
      example:
        eventData:
          startDatetime: 2024-01-16T08:00:00Z
          eventId: "1234"
          agendaUrl: http://www.factset.com
          registrationInfo:
            contactEmailAddress: factset@factset.com
            contactName: FactSet
            extraInfo: this field can be used to display extra information regarding
              registration
          location:
            country: US
            city: New York
            state: New York
          title: the event title
          symbols:
          - name: FactSet System Research Inc.
            type: ticker
            value: FDS
          - name: FactSet System Research Inc.
            type: ticker
            value: FDS
          participants:
          - firstName: Jane
            lastName: Doe
            title: CEO
          - firstName: Jane
            lastName: Doe
            title: CEO
      properties:
        eventData:
          $ref: '#/components/schemas/EventData'
      required:
      - eventData
      type: object
    UpdateRequest_data:
      example:
        eventData:
          startDatetime: 2024-01-16T08:00:00Z
          agendaUrl: http://www.factset.com
          registrationInfo:
            contactEmailAddress: factset@factset.com
            contactName: FactSet
            extraInfo: this field can be used to display extra information regarding
              registration
          location:
            country: US
            city: New York
            state: New York
          title: the event title
          symbols:
          - name: FactSet System Research Inc.
            type: ticker
            value: FDS
          - name: FactSet System Research Inc.
            type: ticker
            value: FDS
          participants:
          - firstName: Jane
            lastName: Doe
            title: CEO
          - firstName: Jane
            lastName: Doe
            title: CEO
      properties:
        eventData:
          $ref: '#/components/schemas/EventUpdateData'
      required:
      - eventData
      type: object
    GetResponse_data:
      example:
        date: Jul 18 2024
        agendaUrl: test.com/investors
        contactEmail: test@example.com
        city: Toronto
        contactName: Jane Doe
        additionalInfo: Test Notes
        description: Test Event
        id: 48392328ur39
        state: AB
        isoCountry: CA
      properties:
        id:
          description: ID of event
          example: 48392328ur39
          type: string
        date:
          description: Date of event
          example: Jul 18 2024
          pattern: ^(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) [01][0-9] \d{4}$
          type: string
        description:
          description: Description of event
          example: Test Event
          type: string
        contactName:
          description: Contact for event
          example: Jane Doe
          type: string
        contactEmail:
          description: Contact's email for event
          example: test@example.com
          format: email
          type: string
        agendaUrl:
          description: URL for event
          example: test.com/investors
          type: string
        additionalInfo:
          description: Additional info for the event
          example: Test Notes
          type: string
        city:
          description: City of the event
          example: Toronto
          type: string
        state:
          description: State of the event
          example: AB
          type: string
        isoCountry:
          description: Country of the event
          example: CA
          type: string
      type: object
    InsertResponse_data_eventData:
      description: Event Data
      example:
        eventId: "1234"
      properties:
        eventId:
          description: Id of the event that was successfully inserted. This ID is
            vendor generated and should be unique in each vendor's content set.
          example: "1234"
          type: string
      type: object
    InsertResponse_data_message:
      description: Message of insert operation
      example:
        event: Event inserted successfully
      properties:
        event:
          description: Event status
          example: Event inserted successfully
          type: string
      type: object
    InsertResponse_data:
      example:
        eventData:
          eventId: "1234"
        message:
          event: Event inserted successfully
      properties:
        eventData:
          $ref: '#/components/schemas/InsertResponse_data_eventData'
        message:
          $ref: '#/components/schemas/InsertResponse_data_message'
      type: object
    UpdateResponse_data_eventData:
      description: Event Data
      example:
        eventId: "1234"
      properties:
        eventId:
          description: ID of the event that was successfully updated. This ID is vendor
            generated and should be unique in each vendor's content set.
          example: "1234"
          type: string
      type: object
    UpdateResponse_data_message:
      description: Message of update operation
      example:
        event: Event updated successfully
      properties:
        event:
          description: Event status
          example: Event updated successfully
          type: string
      type: object
    UpdateResponse_data:
      example:
        eventData:
          eventId: "1234"
        message:
          event: Event updated successfully
      properties:
        eventData:
          $ref: '#/components/schemas/UpdateResponse_data_eventData'
        message:
          $ref: '#/components/schemas/UpdateResponse_data_message'
      type: object
    DeleteResponse_data_eventData:
      description: Event Data
      example:
        eventId: "1234"
      properties:
        eventId:
          description: ID of the event that was successfully deleted. This ID is vendor
            generated and should be unique in each vendor's content set.
          example: "1234"
          type: string
      type: object
    DeleteResponse_data_message:
      description: Message of delete operation
      example:
        event: Event deleted successfully
      properties:
        event:
          description: Event status
          example: Event deleted successfully
          type: string
      type: object
    DeleteResponse_data:
      example:
        eventData:
          eventId: "1234"
        message:
          event: Event deleted successfully
      properties:
        eventData:
          $ref: '#/components/schemas/DeleteResponse_data_eventData'
        message:
          $ref: '#/components/schemas/DeleteResponse_data_message'
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

