openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    The Options API provides detailed information for option contracts (“options”) and option classes. This API presents a consolidated data model
    that gives access to options data of global options markets such as OPRA, Australia Exchange, Bovespa, CME Group, EUREX, Euronext, Hong Kong,
    ICE Futures Europe / US, Montreal Exchange, and others.

    An option class is a product group of options from the same exchange and with the same underlying. The API includes endpoints to retrieve fundamental
    data for an option contract such as exercise right, exercise style, strike, maturity, open interest, underlying, etc. as well as risk measures of an
    option contract such as delta, omega, implied volatility, etc.

    Option chains are provided by the /by-class/list endpoint. The list of option contracts for an option class can be filtered by exercise right, exercise
    style, strike, maturity, open interest, delta, omega, implied volatility, etc.

    The option screener allows you to search for option classes by using text search, root symbol, or ISIN plus additional criteria such as market,
    underlying, currency, and category. Similar to other screener endpoints in e.g. the
    [Stocks API](https://developer.factset.com/api-catalog/stocks-api-digital-portals), the /value-ranges/get endpoint provides the possible values and
    value ranges plus the number of option contracts for an option class related to the option contracts per criteria such as exercise right, exercise style,
    strike, maturity, open interest, delta, omega, implied volatility, etc.

    The Options API for Digital Portals seamlessly integrates with the [Real-Time Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api)
    that provides real-time, delayed, and end-of-day pricing data and basic security identifier cross-reference. For direct access to price histories for
    charting, please refer to the [Real-Time Time Series API](https://developer.factset.com/api-catalog/real-time-time-series-api).
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Real-Time Options API
  version: 4.1.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/wealth/v4
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: option endpoints
  name: option
paths:
  /option/get:
    get:
      description: |-
        Fundamental data for an option contract; any other instrument yields empty
                    values for option contract-specific attributes. Dates are interpreted in the time
                    zone of the exchange. Option contracts are exchange-specific; each option contract
                    instrument has exactly one notation.
      operationId: getOptionGet
      parameters:
      - description: Identifier to resolve.
        example: FDS-US
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          example: FDS-US
          maxLength: 50
          minLength: 3
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          type: string
        style: form
      - description: |+
          Type of the identifier.
          | Value | Description |
          | --- | --- |
          | idInstrument | MDG identifier of an instrument. |
          | idNotation | MDG identifier of a listing. |
          | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
          | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
          | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |
          | tickerExchange | FactSet market symbol of a listing. |
          | tickerRegion | Regional FactSet ticker symbol. |
          | sedol | SEDOL or IDII of a listing. |
          | isin | ISIN of an instrument. |
          | wkn | WKN of an instrument. |
          | valor | Valor number of an instrument. |
          | cusip | CUSIP or CINS identifier of an instrument |

        example: tickerRegion
        explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: |+
            Type of the identifier.
            | Value | Description |
            | --- | --- |
            | idInstrument | MDG identifier of an instrument. |
            | idNotation | MDG identifier of a listing. |
            | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
            | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
            | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |
            | tickerExchange | FactSet market symbol of a listing. |
            | tickerRegion | Regional FactSet ticker symbol. |
            | sedol | SEDOL or IDII of a listing. |
            | isin | ISIN of an instrument. |
            | wkn | WKN of an instrument. |
            | valor | Valor number of an instrument. |
            | cusip | CUSIP or CINS identifier of an instrument |

          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          example: tickerRegion
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        example: de
        explode: true
        in: query
        name: metaLanguage
        required: false
        schema:
          description: ISO 639-1 code of the language.
          example: de
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idInstrument: "209485"
                  sourceIdentifier: FDS-US
                  isin: US3030751057
                  normalizedSymbol: Lorem ipsum
                  name: Lorem ipsum
                  type:
                  - id: 2
                    name: Lorem ipsum
                  market:
                    id: 3
                    name: Lorem ipsum
                  class:
                    id: "5005"
                    isin: US3030751057
                    name: Lorem ipsum
                    symbol: FDS
                  exercise:
                    right: put
                    style: european
                  strikePrice:
                    level: 3.1415
                    valueUnit:
                      id: 2
                      code: Lorem ipsum
                  lifeCycle:
                    maturity:
                      date: 2024-01-01
                      interval: mixed
                    expiration:
                      month: -2
                      year: -2
                    endTradingPeriod: 2024-12-24
                    delivery:
                      date: 2024-01-01
                  contractSize: 1.01
                  openInterest:
                    volume: -232
                    time: 2024-01-01T00:00:00.000Z
                  tickSize: 3.1415
                  settlement:
                    type: cash
                    price: 3.03
                    currency:
                      id: 2
                      code: Lorem ipsum
                    time: 2024-12-24T18:00:00.000000Z
                  underlying:
                    name: Lorem ipsum
                    notation:
                      id: "1532562"
                      fsym:
                        listing:
                          permanentIdentifier: DJC0PL-S
                          tickerExchange: FDS-USA
                          isPrimary: true
                        regional:
                          permanentIdentifier: DJC0PL-S
                          tickerRegion: FDS-US
                          isPrimary: true
                      instrument:
                        id: "209485"
                        isin: US3030751057
                        nsin:
                          wkn: "901629"
                          valor: "1234567"
                          cusip: "303075105"
                        fsym:
                          security:
                            permanentIdentifier: DJC0PL-S
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Fundamental data for an option contract.
      tags:
      - option
      x-accepts: application/json
  /option/by-class/list:
    post:
      description: List of option contracts for an option class. The list can be filtered
        based on option contract-specific parameters. All identifiers used as parameters
        must be valid and entitled.
      operationId: postOptionByClassList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                class:
                  id: "2002"
                filter:
                  validation:
                    onlyActive: false
                    price:
                      quality: DLY
                      latest:
                        availableOnly: false
                        minimumDate: 2024-01-01
                      previous:
                        availableOnly: false
                        minimumDate: 2024-12-24
                contract:
                  excercise:
                    right: call
                    style: american
                  strikePrice:
                    minimum:
                      value: 3.03
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                lifeCycle:
                  maturity:
                    date:
                      start: 2024-01-01
                      end: 2024-12-24
                    interval:
                    - monthly
                  expiration:
                    month: 2
                    year: -2
                contractSize:
                  restrict:
                    values:
                    - 4.04
                  exclude:
                    values:
                    - 4.04
                openInterest:
                  minimum:
                    value: 5.05
                    inclusive: true
                  maximum:
                    value: 3.03
                    inclusive: true
                keyFigures:
                  moneyness:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                  impliedVolatility:
                    minimum:
                      value: 0.4
                      inclusive: true
                    maximum:
                      value: 0.1
                      inclusive: true
                  omega:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 4.04
                      inclusive: true
                  leverage:
                    minimum:
                      value: 3.03
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
                  delta:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  thetaOneWeek:
                    minimum:
                      value: 3.03
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  vega:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 4.04
                      inclusive: true
                  gamma:
                    minimum:
                      value: 3.1415
                      inclusive: true
                    maximum:
                      value: 5.05
                      inclusive: true
                  rho:
                    minimum:
                      value: 1.01
                      inclusive: true
                    maximum:
                      value: 4.04
                      inclusive: true
              meta:
                attributes: []
                language: en
                sort:
                - -keyFigures.impliedVolatility
                pagination:
                  offset: 0
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostOptionByClassListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: "1532562"
                  instrument:
                    id: "209485"
                    normalizedSymbol: Lorem ipsum
                    name: Lorem ipsum
                    exercise:
                      right: put
                      style: american
                    strikePrice:
                      level: 5.05
                      valueUnit:
                        id: 5
                        code: Lorem ipsum
                    lifeCycle:
                      maturity:
                        date: 2024-01-01
                        interval: monthly
                      expiration:
                        month: 5
                        year: 3
                    contractSize: 1.01
                  openInterest: 3
                  keyFigures:
                    moneyness: 2.02
                    impliedVolatility: 0.4
                    omega: 3.1415
                    leverage: 5.05
                    delta: 3.1415
                    thetaOneWeek: 4.04
                    vega: 3.1415
                    gamma: 5.05
                    rho: 4.04
                meta:
                  status:
                    code: 200
                  pagination:
                    total: 3
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of option contracts for an option class.
      tags:
      - option
      x-contentType: application/json
      x-accepts: application/json
  /option/by-class/value-ranges/get:
    post:
      description: The endpoint returns the possible values and value ranges for the
        parameters used in the endpoint `/option/by-class/list`. It allows to request
        the values and value ranges only for a restricted set of notations that match
        predefined parameters. If more than one notation of an instrument matches
        the parameters, and no market priority has been specified, only the notation
        with the highest trading volume, averaged over one month, is considered. The
        functionality may be used to pre-fill the values and value ranges of the parameters
        of the `/option/by-class/list` endpoint so that performing a search always
        leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers,
        are sorted descending by the number of notations for each value.
      operationId: postOptionByClassValueRangesGet
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                class:
                  id: "3003"
                filter:
                  validation:
                    onlyActive: false
                    price:
                      quality: DLY
                      latest:
                        availableOnly: false
                        minimumDate: 2024-12-24
                      previous:
                        availableOnly: false
                        minimumDate: 2024-01-01
                contract:
                  excercise:
                    right: call
                    style: american
                  strikePrice:
                    minimum:
                      value: 1.01
                      inclusive: true
                    maximum:
                      value: 1.01
                      inclusive: true
                lifeCycle:
                  maturity:
                    date:
                      start: 2024-12-24
                      end: 2024-01-01
                    interval:
                    - daily
                  expiration:
                    month: 132
                    year: -132
                contractSize:
                  restrict:
                    values:
                    - 3.1415
                  exclude:
                    values:
                    - 2.02
                openInterest:
                  minimum:
                    value: 2.02
                    inclusive: true
                  maximum:
                    value: 3.03
                    inclusive: true
                keyFigures:
                  moneyness:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 3.03
                      inclusive: true
                  impliedVolatility:
                    minimum:
                      value: 0.2
                      inclusive: true
                    maximum:
                      value: 0.2
                      inclusive: true
                  omega:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.03
                      inclusive: true
                  leverage:
                    minimum:
                      value: 4.04
                      inclusive: true
                    maximum:
                      value: 2.02
                      inclusive: true
                  delta:
                    minimum:
                      value: 3.1415
                      inclusive: true
                    maximum:
                      value: 4.04
                      inclusive: true
                  thetaOneWeek:
                    minimum:
                      value: 2.02
                      inclusive: true
                    maximum:
                      value: 2.02
                      inclusive: true
                  vega:
                    minimum:
                      value: 3.03
                      inclusive: true
                    maximum:
                      value: 1.01
                      inclusive: true
                  gamma:
                    minimum:
                      value: 3.03
                      inclusive: true
                    maximum:
                      value: 2.02
                      inclusive: true
                  rho:
                    minimum:
                      value: 5.05
                      inclusive: true
                    maximum:
                      value: 3.1415
                      inclusive: true
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostOptionByClassValueRangesGetRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - totalCount: 4
                  exercise:
                    right:
                    - value: put
                      count: 1
                    style:
                    - value: european
                      count: 1
                  strikePrice:
                    minimum: 1.01
                    maximum: 5.05
                  lifeCycle:
                    maturity:
                      date:
                        minimum: 2024-12-24
                        maximum: 2024-01-01
                      interval:
                      - value: daily
                        count: 2
                    expiration:
                      month:
                      - value: 1
                        count: 3
                      year:
                      - value: 3
                        count: 3
                  contractSize:
                  - value: 5
                    count: 5
                  openInterest:
                    minimum: 2.02
                    maximum: 3.1415
                  keyFigures:
                    moneyness:
                      minimum: 1.01
                      maximum: 3.1415
                  impliedVolatility:
                    minimum: 0.5
                    maximum: 0.4
                  omega:
                    minimum: 1.01
                    maximum: 4.04
                  leverage:
                    minimum: 3.03
                    maximum: 3.1415
                  delta:
                    minimum: 3.1415
                    maximum: 3.1415
                  thetaOneWeek:
                    minimum: 5.05
                    maximum: 3.1415
                  vega:
                    minimum: 4.04
                    maximum: 4.04
                  gamma:
                    minimum: 4.04
                    maximum: 4.04
                  rho:
                    minimum: 1.01
                    maximum: 5.05
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: Possible values and value ranges for the parameters used in the endpoint
        `/option/by-class/list`.
      tags:
      - option
      x-contentType: application/json
      x-accepts: application/json
  /option/class/screener/search:
    post:
      description: Screener for option classes based on option class-specific parameters.
        An option class is defined by an exchange and includes all option contracts
        with the same reference data (e.g. underlying instrument). The result is limited
        to the 500 option classes with the most option contracts per class, that satisfy
        all the selected filters. All identifiers used as parameters must be valid
        and entitled.
      operationId: postOptionClassScreenerSearch
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                text:
                  attributes:
                  - allEntitled
                  value: FactSet
                market:
                  restrict:
                    ids:
                    - 5
                  exclude:
                    ids:
                    - 1
                underlying:
                  instrument:
                    id: "209485"
                  notation:
                    id: "1532562"
                currency:
                  restrict:
                    ids:
                    - 3
                  exclude:
                    ids:
                    - 2
                category:
                  restrict:
                    ids:
                    - 1
                  exclude:
                    ids:
                    - 4
              meta:
                attributes: []
                language: en
                sort:
                - -category.name
            schema:
              $ref: '#/components/schemas/PostOptionClassScreenerSearchRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: "2002"
                  symbol: FDS
                  isin: US3030751057
                  name: Lorem ipsum
                  market:
                    id: 4
                    name: Lorem ipsum
                  underlying:
                    name: Lorem ipsum
                    notation:
                      id: "1532562"
                      fsym:
                        listing:
                          permanentIdentifier: DJC0PL-S
                          tickerExchange: FDS-USA
                          isPrimary: false
                        regional:
                          permanentIdentifier: DJC0PL-S
                          tickerRegion: FDS-US
                          isPrimary: false
                      instrument:
                        id: "209485"
                        isin: US3030751057
                        nsin:
                          wkn: "901629"
                          valor: "1234567"
                          cusip: "303075105"
                        fsym:
                          security:
                            permanentIdentifier: DJC0PL-S
                  currency:
                    id: 1
                    code: Lorem ipsum
                  category:
                    id: 3
                    name: Lorem ipsum
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Screener for option classes based on option class-specific parameters.
      tags:
      - option
      x-contentType: application/json
      x-accepts: application/json
  /option/key-figures/get:
    get:
      description: Key figures of an option contract.
      operationId: getOptionKeyFiguresGet
      parameters:
      - description: Identifier to resolve.
        example: FDS-US
        explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          example: FDS-US
          maxLength: 50
          minLength: 3
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          type: string
        style: form
      - description: |+
          Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.
          | Value | Description |
          | --- | --- |
          | idInstrument | MDG identifier of an instrument. |
          | idNotation | MDG identifier of a listing. |
          | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
          | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
          | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |
          | tickerExchange | FactSet market symbol of a listing. |
          | tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |
          | sedol | SEDOL or IDII of a listing. |
          | isin | ISIN of an instrument. |
          | wkn | WKN of an instrument. |
          | valor | Valor number of an instrument. |
          | cusip | CUSIP or CINS identifier of an instrument |

        example: tickerRegion
        explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: |+
            Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.
            | Value | Description |
            | --- | --- |
            | idInstrument | MDG identifier of an instrument. |
            | idNotation | MDG identifier of a listing. |
            | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
            | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
            | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |
            | tickerExchange | FactSet market symbol of a listing. |
            | tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |
            | sedol | SEDOL or IDII of a listing. |
            | isin | ISIN of an instrument. |
            | wkn | WKN of an instrument. |
            | valor | Valor number of an instrument. |
            | cusip | CUSIP or CINS identifier of an instrument |

          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          example: tickerRegion
          type: string
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  prices:
                    ask:
                      time: 2024-01-01T00:00:00.000Z
                      price: 3.1415
                  currency:
                    id: 3
                    code: Lorem ipsum
                  delta: 3.03
                  omega: 3.1415
                  thetaOneWeek: 3.03
                  vega: 1.01
                  gamma: 1.01
                  rho: 5.05
                  breakEven: 3.1415
                  theoreticalValue: 3.1415
                  impliedVolatility: 0.3
                  intrinsicValue: 3.03
                  leverage: 3.03
                  moneyness: 2.02
                  parity: 2.02
                  timeValue: 1.01
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Key figures of an option contract.
      tags:
      - option
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses:
    GetOptionGet200Response:
      content:
        application/json:
          example:
            data:
              idInstrument: "209485"
              sourceIdentifier: FDS-US
              isin: US3030751057
              normalizedSymbol: Lorem ipsum
              name: Lorem ipsum
              type:
              - id: 2
                name: Lorem ipsum
              market:
                id: 3
                name: Lorem ipsum
              class:
                id: "5005"
                isin: US3030751057
                name: Lorem ipsum
                symbol: FDS
              exercise:
                right: put
                style: european
              strikePrice:
                level: 3.1415
                valueUnit:
                  id: 2
                  code: Lorem ipsum
              lifeCycle:
                maturity:
                  date: 2024-01-01
                  interval: mixed
                expiration:
                  month: -2
                  year: -2
                endTradingPeriod: 2024-12-24
                delivery:
                  date: 2024-01-01
              contractSize: 1.01
              openInterest:
                volume: -232
                time: 2024-01-01T00:00:00.000Z
              tickSize: 3.1415
              settlement:
                type: cash
                price: 3.03
                currency:
                  id: 2
                  code: Lorem ipsum
                time: 2024-12-24T18:00:00.000000Z
              underlying:
                name: Lorem ipsum
                notation:
                  id: "1532562"
                  fsym:
                    listing:
                      permanentIdentifier: DJC0PL-S
                      tickerExchange: FDS-USA
                      isPrimary: true
                    regional:
                      permanentIdentifier: DJC0PL-S
                      tickerRegion: FDS-US
                      isPrimary: true
                  instrument:
                    id: "209485"
                    isin: US3030751057
                    nsin:
                      wkn: "901629"
                      valor: "1234567"
                      cusip: "303075105"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200'
      description: Successful Response
    PostOptionByClassList200Response:
      content:
        application/json:
          example:
            data:
            - id: "1532562"
              instrument:
                id: "209485"
                normalizedSymbol: Lorem ipsum
                name: Lorem ipsum
                exercise:
                  right: put
                  style: american
                strikePrice:
                  level: 5.05
                  valueUnit:
                    id: 5
                    code: Lorem ipsum
                lifeCycle:
                  maturity:
                    date: 2024-01-01
                    interval: monthly
                  expiration:
                    month: 5
                    year: 3
                contractSize: 1.01
              openInterest: 3
              keyFigures:
                moneyness: 2.02
                impliedVolatility: 0.4
                omega: 3.1415
                leverage: 5.05
                delta: 3.1415
                thetaOneWeek: 4.04
                vega: 3.1415
                gamma: 5.05
                rho: 4.04
            meta:
              status:
                code: 200
              pagination:
                total: 3
                isEstimatedTotal: false
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    PostOptionByClassValueRangesGet200Response:
      content:
        application/json:
          example:
            data:
            - totalCount: 4
              exercise:
                right:
                - value: put
                  count: 1
                style:
                - value: european
                  count: 1
              strikePrice:
                minimum: 1.01
                maximum: 5.05
              lifeCycle:
                maturity:
                  date:
                    minimum: 2024-12-24
                    maximum: 2024-01-01
                  interval:
                  - value: daily
                    count: 2
                expiration:
                  month:
                  - value: 1
                    count: 3
                  year:
                  - value: 3
                    count: 3
              contractSize:
              - value: 5
                count: 5
              openInterest:
                minimum: 2.02
                maximum: 3.1415
              keyFigures:
                moneyness:
                  minimum: 1.01
                  maximum: 3.1415
              impliedVolatility:
                minimum: 0.5
                maximum: 0.4
              omega:
                minimum: 1.01
                maximum: 4.04
              leverage:
                minimum: 3.03
                maximum: 3.1415
              delta:
                minimum: 3.1415
                maximum: 3.1415
              thetaOneWeek:
                minimum: 5.05
                maximum: 3.1415
              vega:
                minimum: 4.04
                maximum: 4.04
              gamma:
                minimum: 4.04
                maximum: 4.04
              rho:
                minimum: 1.01
                maximum: 5.05
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_2'
      description: Successful Response
    PostOptionClassScreenerSearch200Response:
      content:
        application/json:
          example:
            data:
            - id: "2002"
              symbol: FDS
              isin: US3030751057
              name: Lorem ipsum
              market:
                id: 4
                name: Lorem ipsum
              underlying:
                name: Lorem ipsum
                notation:
                  id: "1532562"
                  fsym:
                    listing:
                      permanentIdentifier: DJC0PL-S
                      tickerExchange: FDS-USA
                      isPrimary: false
                    regional:
                      permanentIdentifier: DJC0PL-S
                      tickerRegion: FDS-US
                      isPrimary: false
                  instrument:
                    id: "209485"
                    isin: US3030751057
                    nsin:
                      wkn: "901629"
                      valor: "1234567"
                      cusip: "303075105"
                    fsym:
                      security:
                        permanentIdentifier: DJC0PL-S
              currency:
                id: 1
                code: Lorem ipsum
              category:
                id: 3
                name: Lorem ipsum
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_3'
      description: Successful Response
    GetOptionKeyFiguresGet200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              prices:
                ask:
                  time: 2024-01-01T00:00:00.000Z
                  price: 3.1415
              currency:
                id: 3
                code: Lorem ipsum
              delta: 3.03
              omega: 3.1415
              thetaOneWeek: 3.03
              vega: 1.01
              gamma: 1.01
              rho: 5.05
              breakEven: 3.1415
              theoreticalValue: 3.1415
              impliedVolatility: 0.3
              intrinsicValue: 3.03
              leverage: 3.03
              moneyness: 2.02
              parity: 2.02
              timeValue: 1.01
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_4'
      description: Successful Response
  schemas:
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      example: []
      items:
        maxLength: 100
        type: string
      maxItems: 100
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      example: en
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 200
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 200
          format: int32
          type: number
      type: object
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 3
        isEstimatedTotal: false
      properties:
        total:
          description: Total number of entries in the result set.
          example: 3
          format: int32
          nullable: true
          type: integer
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          example: false
          nullable: true
          type: boolean
      type: object
    PostOptionByClassListRequest:
      description: Request Body
      example:
        data:
          filter:
            validation:
              price:
                previous:
                  availableOnly: false
                  minimumDate: 2024-12-24T00:00:00.000+0000
                quality: DLY
                latest:
                  availableOnly: false
                  minimumDate: 2024-01-01T00:00:00.000+0000
              onlyActive: false
          keyFigures:
            leverage:
              maximum:
                inclusive: true
                value: 3.1415
              minimum:
                inclusive: true
                value: 3.03
            thetaOneWeek:
              maximum:
                inclusive: true
                value: 5.05
              minimum:
                inclusive: true
                value: 3.03
            delta:
              maximum:
                inclusive: true
                value: 5.05
              minimum:
                inclusive: true
                value: 4.04
            rho:
              maximum:
                inclusive: true
                value: 4.04
              minimum:
                inclusive: true
                value: 1.01
            impliedVolatility:
              maximum:
                inclusive: true
                value: 0.1
              minimum:
                inclusive: true
                value: 0.4
            moneyness:
              maximum:
                inclusive: true
                value: 3.1415
              minimum:
                inclusive: true
                value: 5.05
            omega:
              maximum:
                inclusive: true
                value: 4.04
              minimum:
                inclusive: true
                value: 4.04
            vega:
              maximum:
                inclusive: true
                value: 4.04
              minimum:
                inclusive: true
                value: 4.04
            gamma:
              maximum:
                inclusive: true
                value: 5.05
              minimum:
                inclusive: true
                value: 3.1415
          openInterest:
            maximum:
              inclusive: true
              value: 3.03
            minimum:
              inclusive: true
              value: 5.05
          contract:
            excercise:
              style: american
              right: call
            strikePrice:
              maximum:
                inclusive: true
                value: 5.05
              minimum:
                inclusive: true
                value: 3.03
          contractSize:
            exclude:
              values:
              - 4.04
              - 4.04
              - 4.04
              - 4.04
              - 4.04
            restrict:
              values:
              - 4.04
              - 4.04
              - 4.04
              - 4.04
              - 4.04
          class:
            id: "2002"
          lifeCycle:
            maturity:
              date:
                start: 2024-01-01T00:00:00.000+0000
                end: 2024-12-24T00:00:00.000+0000
              interval:
              - monthly
              - monthly
              - monthly
              - monthly
            expiration:
              month: 2
              year: -2
        meta:
          pagination:
            offset: 0
            limit: 20
          attributes: []
          language: en
          sort:
          - -keyFigures.impliedVolatility
          - -keyFigures.impliedVolatility
          - -keyFigures.impliedVolatility
          - -keyFigures.impliedVolatility
          - -keyFigures.impliedVolatility
      properties:
        data:
          $ref: '#/components/schemas/PostOptionByClassListRequest_data'
        meta:
          $ref: '#/components/schemas/PostOptionByClassListRequest_meta'
      required:
      - data
      type: object
    PostOptionByClassValueRangesGetRequest:
      description: Request Body
      example:
        data:
          filter:
            validation:
              price:
                previous:
                  availableOnly: false
                  minimumDate: 2024-01-01T00:00:00.000+0000
                quality: DLY
                latest:
                  availableOnly: false
                  minimumDate: 2024-12-24T00:00:00.000+0000
              onlyActive: false
          keyFigures:
            leverage:
              maximum:
                inclusive: true
                value: 2.02
              minimum:
                inclusive: true
                value: 4.04
            thetaOneWeek:
              maximum:
                inclusive: true
                value: 2.02
              minimum:
                inclusive: true
                value: 2.02
            delta:
              maximum:
                inclusive: true
                value: 4.04
              minimum:
                inclusive: true
                value: 3.1415
            rho:
              maximum:
                inclusive: true
                value: 3.1415
              minimum:
                inclusive: true
                value: 5.05
            impliedVolatility:
              maximum:
                inclusive: true
                value: 0.2
              minimum:
                inclusive: true
                value: 0.2
            moneyness:
              maximum:
                inclusive: true
                value: 3.03
              minimum:
                inclusive: true
                value: 4.04
            omega:
              maximum:
                inclusive: true
                value: 3.03
              minimum:
                inclusive: true
                value: 5.05
            vega:
              maximum:
                inclusive: true
                value: 1.01
              minimum:
                inclusive: true
                value: 3.03
            gamma:
              maximum:
                inclusive: true
                value: 2.02
              minimum:
                inclusive: true
                value: 3.03
          openInterest:
            maximum:
              inclusive: true
              value: 3.03
            minimum:
              inclusive: true
              value: 2.02
          contract:
            excercise:
              style: american
              right: call
            strikePrice:
              maximum:
                inclusive: true
                value: 1.01
              minimum:
                inclusive: true
                value: 1.01
          contractSize:
            exclude:
              values:
              - 2.02
              - 2.02
              - 2.02
              - 2.02
              - 2.02
            restrict:
              values:
              - 3.1415
              - 3.1415
              - 3.1415
              - 3.1415
              - 3.1415
          class:
            id: "3003"
          lifeCycle:
            maturity:
              date:
                start: 2024-12-24T00:00:00.000+0000
                end: 2024-01-01T00:00:00.000+0000
              interval:
              - daily
              - daily
              - daily
              - daily
            expiration:
              month: 132
              year: -132
        meta:
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetRequest_data'
        meta:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetRequest_meta'
      required:
      - data
      type: object
    PostOptionClassScreenerSearchRequest:
      description: Request Body
      example:
        data:
          market:
            exclude:
              ids:
              - 1
              - 1
              - 1
              - 1
              - 1
            restrict:
              ids:
              - 5
              - 5
              - 5
              - 5
              - 5
          currency:
            exclude:
              ids:
              - 2
              - 2
              - 2
              - 2
              - 2
            restrict:
              ids:
              - 3
              - 3
              - 3
              - 3
              - 3
          text:
            attributes:
            - allEntitled
            - allEntitled
            value: FactSet
          underlying:
            notation:
              id: "1532562"
            instrument:
              id: "209485"
          category:
            exclude:
              ids:
              - 4
              - 4
              - 4
              - 4
              - 4
            restrict:
              ids:
              - 1
              - 1
              - 1
              - 1
              - 1
        meta:
          attributes: []
          language: en
          sort:
          - -category.name
          - -category.name
          - -category.name
          - -category.name
          - -category.name
      properties:
        data:
          $ref: '#/components/schemas/PostOptionClassScreenerSearchRequest_data'
        meta:
          $ref: '#/components/schemas/PostOptionClassScreenerSearchRequest_meta'
      required:
      - data
      type: object
    PostOptionByClassValueRangesGetDataLifeCycleMaturityIntervalItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        count: 2
        value: daily
      nullable: false
      properties:
        value:
          description: |+
            Attribute value.
            | Value | Description |
            | --- | --- |
            | monthly | Monthly |
            | weekly | Weekly |
            | daily | Daily |
            | mixed | Mixed |

          enum:
          - monthly
          - weekly
          - daily
          - mixed
          example: daily
          nullable: true
          type: string
        count:
          description: Number of notations.
          example: 2
          format: id32
          nullable: true
          type: number
      type: object
    PostOptionByClassValueRangesGetDataLifeCycleExpirationMonthItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        count: 3
        value: 1
      nullable: false
      properties:
        value:
          description: Attribute value.
          example: 1
          format: id32
          nullable: true
          type: number
        count:
          description: Number of notations.
          example: 3
          format: id32
          nullable: true
          type: number
      type: object
    PostOptionByClassValueRangesGetDataLifeCycleExpirationYearItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        count: 3
        value: 3
      nullable: false
      properties:
        value:
          description: Attribute value.
          example: 3
          format: id32
          nullable: true
          type: number
        count:
          description: Number of notations.
          example: 3
          format: id32
          nullable: true
          type: number
      type: object
    PostOptionByClassValueRangesGetDataExerciseRightItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        count: 1
        value: put
      nullable: false
      properties:
        value:
          description: |+
            undefined
            | Value | Description |
            | --- | --- |
            | put | A put option gives the owner the right, but not the obligation, to sell an asset at a specified price within a specific time period. |
            | call | A call option gives the owner the right, but not the obligation, to buy an asset at a specified price within a specific time period. |

          enum:
          - put
          - call
          example: put
          nullable: true
          type: string
        count:
          description: Number of notations.
          example: 1
          format: id32
          nullable: true
          type: number
      type: object
    PostOptionByClassValueRangesGetDataExerciseStyleItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        count: 1
        value: european
      nullable: false
      properties:
        value:
          description: |+
            undefined
            | Value | Description |
            | --- | --- |
            | american | An American-style option can be exercised anytime during its life. |
            | european | A European-style option can be exercised at the end of its life. |

          enum:
          - american
          - european
          example: european
          nullable: true
          type: string
        count:
          description: Number of notations.
          example: 1
          format: id32
          nullable: true
          type: number
      type: object
    PostOptionByClassValueRangesGetDataContractSizeItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        count: 5
        value: 5
      nullable: false
      properties:
        value:
          description: Attribute value.
          example: 5
          format: id32
          nullable: true
          type: number
        count:
          description: Number of notations.
          example: 5
          format: id32
          nullable: true
          type: number
      type: object
    GetOptionGetDataTypeItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        name: Lorem ipsum
        id: 2
      nullable: false
      properties:
        id:
          description: Identifier of the instrument type.
          example: 2
          format: id32
          nullable: true
          type: number
        name:
          description: Name of the instrument type.
          example: Lorem ipsum
          format: localizedString
          nullable: true
          type: string
      type: object
    PostOptionByClassValueRangesGetDataItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        leverage:
          maximum: 3.1415
          minimum: 3.03
        openInterest:
          maximum: 3.1415
          minimum: 2.02
        delta:
          maximum: 3.1415
          minimum: 3.1415
        exercise:
          style:
          - count: 1
            value: european
          - count: 1
            value: european
          right:
          - count: 1
            value: put
          - count: 1
            value: put
        totalCount: 4
        impliedVolatility:
          maximum: 0.4
          minimum: 0.5
        omega:
          maximum: 4.04
          minimum: 1.01
        keyFigures:
          moneyness:
            maximum: 3.1415
            minimum: 1.01
        thetaOneWeek:
          maximum: 3.1415
          minimum: 5.05
        rho:
          maximum: 5.05
          minimum: 1.01
        contractSize:
        - count: 5
          value: 5
        - count: 5
          value: 5
        lifeCycle:
          maturity:
            date:
              maximum: 2024-01-01T00:00:00.000+0000
              minimum: 2024-12-24T00:00:00.000+0000
            interval:
            - count: 2
              value: daily
            - count: 2
              value: daily
          expiration:
            month:
            - count: 3
              value: 1
            - count: 3
              value: 1
            year:
            - count: 3
              value: 3
            - count: 3
              value: 3
        strikePrice:
          maximum: 5.05
          minimum: 1.01
        vega:
          maximum: 4.04
          minimum: 4.04
        gamma:
          maximum: 4.04
          minimum: 4.04
      nullable: false
      properties:
        totalCount:
          description: Number of notations that satisfy the request parameters, hence
            have been used to retrieve the possible values and value ranges.
          example: 4
          format: id32
          nullable: true
          type: number
        exercise:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_exercise'
        strikePrice:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_strikePrice'
        lifeCycle:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_lifeCycle'
        contractSize:
          description: Values related to the contract size.
          items:
            $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataContractSizeItems'
          nullable: false
          type: array
        openInterest:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_openInterest'
        keyFigures:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_keyFigures'
        impliedVolatility:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_impliedVolatility'
        omega:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_omega'
        leverage:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_leverage'
        delta:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_delta'
        thetaOneWeek:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_thetaOneWeek'
        vega:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_vega'
        gamma:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_gamma'
        rho:
          $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems_rho'
      type: object
    PostOptionClassScreenerSearchDataItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        market:
          name: Lorem ipsum
          id: 4
        symbol: FDS
        name: Lorem ipsum
        currency:
          code: Lorem ipsum
          id: 1
        id: "2002"
        underlying:
          notation:
            fsym:
              regional:
                isPrimary: false
                tickerRegion: FDS-US
                permanentIdentifier: DJC0PL-S
              listing:
                tickerExchange: FDS-USA
                isPrimary: false
                permanentIdentifier: DJC0PL-S
            instrument:
              fsym:
                security:
                  permanentIdentifier: DJC0PL-S
              nsin:
                cusip: "303075105"
                valor: "1234567"
                wkn: "901629"
              id: "209485"
              isin: US3030751057
            id: "1532562"
          name: Lorem ipsum
        category:
          name: Lorem ipsum
          id: 3
        isin: US3030751057
      nullable: false
      properties:
        id:
          description: Identifier of the option class.
          example: "2002"
          format: id64
          nullable: true
          type: string
        symbol:
          description: Symbol of the option class, as defined by its market.
          example: FDS
          nullable: true
          type: string
        isin:
          description: ISIN of the option class.
          example: US3030751057
          nullable: true
          type: string
        name:
          description: Name of the option class.
          example: Lorem ipsum
          nullable: true
          type: string
        market:
          $ref: '#/components/schemas/PostOptionClassScreenerSearchDataItems_market'
        underlying:
          $ref: '#/components/schemas/PostOptionClassScreenerSearchDataItems_underlying'
        currency:
          $ref: '#/components/schemas/PostOptionClassScreenerSearchDataItems_currency'
        category:
          $ref: '#/components/schemas/PostOptionClassScreenerSearchDataItems_category'
      type: object
    PostOptionByClassListDataItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        keyFigures:
          leverage: 5.05
          thetaOneWeek: 4.04
          delta: 3.1415
          rho: 4.04
          impliedVolatility: 0.4
          moneyness: 2.02
          omega: 3.1415
          vega: 3.1415
          gamma: 5.05
        openInterest: 3
        instrument:
          normalizedSymbol: Lorem ipsum
          name: Lorem ipsum
          exercise:
            style: american
            right: put
          contractSize: 1.01
          id: "209485"
          lifeCycle:
            maturity:
              date: 2024-01-01T00:00:00.000+0000
              interval: monthly
            expiration:
              month: 5
              year: 3
          strikePrice:
            level: 5.05
            valueUnit:
              code: Lorem ipsum
              id: 5
        id: "1532562"
      nullable: false
      properties:
        id:
          description: Identifier of the notation.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        instrument:
          $ref: '#/components/schemas/PostOptionByClassListDataItems_instrument'
        openInterest:
          description: Open positions of the option.
          example: 3
          format: id32
          nullable: true
          type: number
        keyFigures:
          $ref: '#/components/schemas/PostOptionByClassListDataItems_keyFigures'
      type: object
    inline_response_200_data_market:
      description: Market of the option.
      example:
        name: Lorem ipsum
        id: 3
      nullable: false
      properties:
        id:
          description: Identifier of the market.
          example: 3
          format: id32
          nullable: true
          type: number
        name:
          description: Name of the market.
          example: Lorem ipsum
          format: localizedString
          nullable: true
          type: string
      type: object
    inline_response_200_data_class:
      description: A product group of options from the same exchange and with the
        same underlying.
      example:
        symbol: FDS
        name: Lorem ipsum
        id: "5005"
        isin: US3030751057
      nullable: false
      properties:
        id:
          description: Identifier of the option class.
          example: "5005"
          format: id64
          nullable: true
          type: string
        isin:
          description: ISIN of the option class.
          example: US3030751057
          nullable: true
          type: string
        name:
          description: Name of the option class.
          example: Lorem ipsum
          nullable: true
          type: string
        symbol:
          description: Symbol of the option class, as defined by its market.
          example: FDS
          nullable: true
          type: string
      type: object
    inline_response_200_data_exercise:
      description: Exercise data of the instrument.
      example:
        style: european
        right: put
      nullable: false
      properties:
        right:
          description: |+
            Exercise right of the option.
            | Value | Description |
            | --- | --- |
            | put | A put option gives the owner the right, but not the obligation, to sell an asset at a specified price within a specific time period. |
            | call | A call option gives the owner the right, but not the obligation, to buy an asset at a specified price within a specific time period. |

          enum:
          - put
          - call
          example: put
          nullable: true
          type: string
        style:
          description: |+
            Exercise style of the option.
            | Value | Description |
            | --- | --- |
            | american | An American-style option can be exercised anytime during its life. |
            | european | A European-style option can be exercised at the end of its life. |

          enum:
          - american
          - european
          example: european
          nullable: true
          type: string
      type: object
    inline_response_200_data_strikePrice_valueUnit:
      description: Value unit of the strike price. See endpoint `/basic/value-unit/list`
        for possible values.
      example:
        code: Lorem ipsum
        id: 2
      nullable: false
      properties:
        id:
          description: Idenitifier of the value unit.
          example: 2
          format: id32
          nullable: true
          type: number
        code:
          description: Code of the value unit.
          example: Lorem ipsum
          nullable: true
          type: string
      type: object
    inline_response_200_data_strikePrice:
      description: |-
        Price at which the holder of an option can buy (in the case of a call option)
                         or sell (in the case of a put option) the underlying asset when the option is exercised.
                         It is also known as the exercise price.
      example:
        level: 3.1415
        valueUnit:
          code: Lorem ipsum
          id: 2
      nullable: false
      properties:
        level:
          description: Level of the strike price.
          example: 3.1415
          format: real
          nullable: true
          type: number
        valueUnit:
          $ref: '#/components/schemas/inline_response_200_data_strikePrice_valueUnit'
      type: object
    inline_response_200_data_lifeCycle_maturity:
      description: Maturity data.
      example:
        date: 2024-01-01T00:00:00.000+0000
        interval: mixed
      nullable: false
      properties:
        date:
          description: Date of the option's maturity.
          example: 2024-01-01
          format: date
          nullable: true
          type: string
        interval:
          description: |+
            Maturity interval of the option.
            | Value | Description |
            | --- | --- |
            | monthly | Monthly |
            | weekly | Weekly |
            | daily | Daily |
            | mixed | Mixed |

          enum:
          - monthly
          - weekly
          - daily
          - mixed
          example: mixed
          nullable: true
          type: string
      type: object
    inline_response_200_data_lifeCycle_expiration:
      description: Expiration month and year, as defined by the market of the option,
        possibly different from the year and month of the maturity.
      example:
        month: -2
        year: -2
      nullable: false
      properties:
        month:
          description: Month of the option's expiration.
          example: -2
          format: int32
          nullable: true
          type: number
        year:
          description: Year of the option's expiration.
          example: -2
          format: int32
          nullable: true
          type: number
      type: object
    inline_response_200_data_lifeCycle_delivery:
      description: Date on which the underlying asset or respectively the cash value
        of the underlying is finally settled.
      example:
        date: 2024-01-01T00:00:00.000+0000
      nullable: false
      properties:
        date:
          description: Date of the delivery day.
          example: 2024-01-01
          format: date
          nullable: true
          type: string
      type: object
    inline_response_200_data_lifeCycle:
      description: Important dates of the instrument.
      example:
        delivery:
          date: 2024-01-01T00:00:00.000+0000
        endTradingPeriod: 2024-12-24T00:00:00.000+0000
        maturity:
          date: 2024-01-01T00:00:00.000+0000
          interval: mixed
        expiration:
          month: -2
          year: -2
      nullable: false
      properties:
        maturity:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_maturity'
        expiration:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_expiration'
        endTradingPeriod:
          description: Date of the last trading day (inclusive).
          example: 2024-12-24
          format: date
          nullable: true
          type: string
        delivery:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle_delivery'
      type: object
    inline_response_200_data_openInterest:
      description: Open positions of the option.
      example:
        volume: -232
        time: 2024-01-01T00:00:00Z
      nullable: false
      properties:
        volume:
          description: Total number of open positions of the option, which are not
            yet closed or delivered.
          example: -232
          format: int32
          nullable: true
          type: number
        time:
          description: Date and time on which the open positions of the option are
            determined.
          example: 2024-01-01T00:00:00Z
          format: date-time
          nullable: true
          type: string
      type: object
    inline_response_200_data_settlement_currency:
      description: Main or fractional currency of the settlement price. See endpoint
        `/basic/value-unit/currency/list` for possible values.
      example:
        code: Lorem ipsum
        id: 2
      nullable: false
      properties:
        id:
          description: Identifier of the currency.
          example: 2
          format: id32
          nullable: true
          type: number
        code:
          description: Code of the currency.
          example: Lorem ipsum
          nullable: true
          type: string
      type: object
    inline_response_200_data_settlement:
      description: Settlement details (type and EOD price).
      example:
        price: 3.03
        currency:
          code: Lorem ipsum
          id: 2
        time: 2024-12-24T18:00:00Z
        type: cash
      nullable: false
      properties:
        type:
          description: |+
            Settlement type of the option.
            | Value | Description |
            | --- | --- |
            | cash | Transfer of a cash amount. |
            | physical | Physical delivery of the underlying asset. |

          enum:
          - cash
          - physical
          example: cash
          nullable: true
          type: string
        price:
          description: Settlement price.
          example: 3.03
          format: real
          nullable: true
          type: number
        currency:
          $ref: '#/components/schemas/inline_response_200_data_settlement_currency'
        time:
          description: Date and time.
          example: 2024-12-24T18:00:00Z
          format: date-time
          nullable: true
          type: string
      type: object
    inline_response_200_data_underlying_notation_fsym_listing:
      description: Listing-level identifiers.
      example:
        tickerExchange: FDS-USA
        isPrimary: true
        permanentIdentifier: DJC0PL-S
      nullable: false
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for a notation. The format is
            six alpha-numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
          example: DJC0PL-S
          nullable: true
          type: string
        tickerExchange:
          description: 'FactSet market symbol of the notation, usually consisting
            of the ticker (e.g. "DAI" for Daimler AG) and the three-character code
            of the exchange on which the listing is traded (example: DAI-ETR).'
          example: FDS-USA
          nullable: true
          type: string
        isPrimary:
          description: Indicates whether the notation is the primary notation among
            all notations within the same region (`true`) or not (`false`).
          example: true
          nullable: true
          type: boolean
      type: object
    inline_response_200_data_underlying_notation_fsym_regional:
      description: Regional-level identifiers.
      example:
        isPrimary: true
        tickerRegion: FDS-US
        permanentIdentifier: DJC0PL-S
      nullable: false
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for a set of one or more notations
            of the same region with the same value unit. The format is six alpha-numeric
            characters, excluding vowels, with an R suffix (XXXXXX-R).
          example: DJC0PL-S
          nullable: true
          type: string
        tickerRegion:
          description: 'FactSet regional symbol of the notation, consisting of the
            ticker and the two-character code of the country or region where the listing
            is traded (example: DAI-DE).'
          example: FDS-US
          nullable: true
          type: string
        isPrimary:
          description: Indicates whether the notation is in the primary region of
            the security (`true`) or not (`false`).
          example: true
          nullable: true
          type: boolean
      type: object
    inline_response_200_data_underlying_notation_fsym:
      description: Notation-level FactSet identifiers of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        regional:
          isPrimary: true
          tickerRegion: FDS-US
          permanentIdentifier: DJC0PL-S
        listing:
          tickerExchange: FDS-USA
          isPrimary: true
          permanentIdentifier: DJC0PL-S
      nullable: false
      properties:
        listing:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_fsym_listing'
        regional:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_fsym_regional'
      type: object
    inline_response_200_data_underlying_notation_instrument_nsin:
      description: NSIN data of the instrument.
      example:
        cusip: "303075105"
        valor: "1234567"
        wkn: "901629"
      nullable: false
      properties:
        wkn:
          description: The WKN (Wertpapierkennnummer, German for Securities Identification
            Number) of the instrument. The WKN is a 6-character code of digits and
            upper-case letters that uniquely identifies an instrument.
          example: "901629"
          nullable: true
          type: string
        valor:
          description: 'The Valor number (German: Valorennummer) of the instrument.
            The Valor number is an integer number that uniquely identifies an instrument.'
          example: "1234567"
          nullable: true
          type: string
        cusip:
          description: The CUSIP (Committee on Uniform Security Identification Procedures)
            or CINS (CUSIP International Numbering System) identifier of the instrument.
            These numbers are 9-character codes of digits and upper-case letters that
            uniquely identify an instrument.
          example: "303075105"
          nullable: true
          type: string
      type: object
    inline_response_200_data_underlying_notation_instrument_fsym_security:
      description: Security-level identifier.
      example:
        permanentIdentifier: DJC0PL-S
      nullable: false
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for an instrument. The format
            is six alpha-numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
          example: DJC0PL-S
          nullable: true
          type: string
      type: object
    inline_response_200_data_underlying_notation_instrument_fsym:
      description: Instrument-level FactSet identifier of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        security:
          permanentIdentifier: DJC0PL-S
      nullable: false
      properties:
        security:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_instrument_fsym_security'
      type: object
    inline_response_200_data_underlying_notation_instrument:
      description: Instrument of the underlying.
      example:
        fsym:
          security:
            permanentIdentifier: DJC0PL-S
        nsin:
          cusip: "303075105"
          valor: "1234567"
          wkn: "901629"
        id: "209485"
        isin: US3030751057
      nullable: false
      properties:
        id:
          description: Identifier of the instrument.
          example: "209485"
          format: id64
          nullable: true
          type: string
        isin:
          description: The International Securities Identification Number (ISIN) of
            the instrument. The ISIN is a 12-character code of digits and upper-case
            letters that uniquely identifies an instrument.
          example: US3030751057
          nullable: true
          type: string
        nsin:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_instrument_nsin'
        fsym:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_instrument_fsym'
      type: object
    inline_response_200_data_underlying_notation:
      description: Notation of the underlying. If there is no notation for the underlying,
        the object is `null`.
      example:
        fsym:
          regional:
            isPrimary: true
            tickerRegion: FDS-US
            permanentIdentifier: DJC0PL-S
          listing:
            tickerExchange: FDS-USA
            isPrimary: true
            permanentIdentifier: DJC0PL-S
        instrument:
          fsym:
            security:
              permanentIdentifier: DJC0PL-S
          nsin:
            cusip: "303075105"
            valor: "1234567"
            wkn: "901629"
          id: "209485"
          isin: US3030751057
        id: "1532562"
      nullable: false
      properties:
        id:
          description: Identifier of the notation.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        fsym:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_fsym'
        instrument:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation_instrument'
      type: object
    inline_response_200_data_underlying:
      description: Information regarding the underlying of the option.
      example:
        notation:
          fsym:
            regional:
              isPrimary: true
              tickerRegion: FDS-US
              permanentIdentifier: DJC0PL-S
            listing:
              tickerExchange: FDS-USA
              isPrimary: true
              permanentIdentifier: DJC0PL-S
          instrument:
            fsym:
              security:
                permanentIdentifier: DJC0PL-S
            nsin:
              cusip: "303075105"
              valor: "1234567"
              wkn: "901629"
            id: "209485"
            isin: US3030751057
          id: "1532562"
        name: Lorem ipsum
      nullable: false
      properties:
        name:
          description: Name of the underlying, provided also if there is no notation
            for the underlying.
          example: Lorem ipsum
          nullable: true
          type: string
        notation:
          $ref: '#/components/schemas/inline_response_200_data_underlying_notation'
      type: object
    inline_response_200_data:
      description: Set of basic data for the option contract.
      example:
        sourceIdentifier: FDS-US
        openInterest:
          volume: -232
          time: 2024-01-01T00:00:00Z
        normalizedSymbol: Lorem ipsum
        exercise:
          style: european
          right: put
        underlying:
          notation:
            fsym:
              regional:
                isPrimary: true
                tickerRegion: FDS-US
                permanentIdentifier: DJC0PL-S
              listing:
                tickerExchange: FDS-USA
                isPrimary: true
                permanentIdentifier: DJC0PL-S
            instrument:
              fsym:
                security:
                  permanentIdentifier: DJC0PL-S
              nsin:
                cusip: "303075105"
                valor: "1234567"
                wkn: "901629"
              id: "209485"
              isin: US3030751057
            id: "1532562"
          name: Lorem ipsum
        type:
        - name: Lorem ipsum
          id: 2
        - name: Lorem ipsum
          id: 2
        tickSize: 3.1415
        settlement:
          price: 3.03
          currency:
            code: Lorem ipsum
            id: 2
          time: 2024-12-24T18:00:00Z
          type: cash
        market:
          name: Lorem ipsum
          id: 3
        idInstrument: "209485"
        name: Lorem ipsum
        contractSize: 1.01
        class:
          symbol: FDS
          name: Lorem ipsum
          id: "5005"
          isin: US3030751057
        lifeCycle:
          delivery:
            date: 2024-01-01T00:00:00.000+0000
          endTradingPeriod: 2024-12-24T00:00:00.000+0000
          maturity:
            date: 2024-01-01T00:00:00.000+0000
            interval: mixed
          expiration:
            month: -2
            year: -2
        isin: US3030751057
        strikePrice:
          level: 3.1415
          valueUnit:
            code: Lorem ipsum
            id: 2
      nullable: false
      properties:
        idInstrument:
          description: Identifier of the instrument.
          example: "209485"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        isin:
          description: International Securities Identification Number of the option.
          example: US3030751057
          nullable: true
          type: string
        normalizedSymbol:
          description: Symbol of the option, as normalized by FactSet.
          example: Lorem ipsum
          nullable: true
          type: string
        name:
          description: Name of the option.
          example: Lorem ipsum
          format: localizedString
          nullable: true
          type: string
        type:
          description: Instrument type as defined by FactSet. Instrument types are
            arranged in a hierarchy, with level 1 representing the most coarse granularity
            and further levels successively refining the granularity (see MDG category
            system 18).
          items:
            $ref: '#/components/schemas/GetOptionGetDataTypeItems'
          nullable: false
          type: array
          uniqueItems: true
        market:
          $ref: '#/components/schemas/inline_response_200_data_market'
        class:
          $ref: '#/components/schemas/inline_response_200_data_class'
        exercise:
          $ref: '#/components/schemas/inline_response_200_data_exercise'
        strikePrice:
          $ref: '#/components/schemas/inline_response_200_data_strikePrice'
        lifeCycle:
          $ref: '#/components/schemas/inline_response_200_data_lifeCycle'
        contractSize:
          description: Quantity of the underlying asset represented by an option.
            For fixed income and index options it represents the value of one unit
            of the underlying instrument. For an underlying whose price unit is index
            points, this is the currency value of the contract per index point. For
            underlyings whose price unit is percent, this is the nominal value of
            the underlying.
          example: 1.01
          format: real
          nullable: true
          type: number
        openInterest:
          $ref: '#/components/schemas/inline_response_200_data_openInterest'
        tickSize:
          description: The minimum price movement of the option.
          example: 3.1415
          format: real
          nullable: true
          type: number
        settlement:
          $ref: '#/components/schemas/inline_response_200_data_settlement'
        underlying:
          $ref: '#/components/schemas/inline_response_200_data_underlying'
      type: object
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 200
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    inline_response_200:
      example:
        data:
          sourceIdentifier: FDS-US
          openInterest:
            volume: -232
            time: 2024-01-01T00:00:00Z
          normalizedSymbol: Lorem ipsum
          exercise:
            style: european
            right: put
          underlying:
            notation:
              fsym:
                regional:
                  isPrimary: true
                  tickerRegion: FDS-US
                  permanentIdentifier: DJC0PL-S
                listing:
                  tickerExchange: FDS-USA
                  isPrimary: true
                  permanentIdentifier: DJC0PL-S
              instrument:
                fsym:
                  security:
                    permanentIdentifier: DJC0PL-S
                nsin:
                  cusip: "303075105"
                  valor: "1234567"
                  wkn: "901629"
                id: "209485"
                isin: US3030751057
              id: "1532562"
            name: Lorem ipsum
          type:
          - name: Lorem ipsum
            id: 2
          - name: Lorem ipsum
            id: 2
          tickSize: 3.1415
          settlement:
            price: 3.03
            currency:
              code: Lorem ipsum
              id: 2
            time: 2024-12-24T18:00:00Z
            type: cash
          market:
            name: Lorem ipsum
            id: 3
          idInstrument: "209485"
          name: Lorem ipsum
          contractSize: 1.01
          class:
            symbol: FDS
            name: Lorem ipsum
            id: "5005"
            isin: US3030751057
          lifeCycle:
            delivery:
              date: 2024-01-01T00:00:00.000+0000
            endTradingPeriod: 2024-12-24T00:00:00.000+0000
            maturity:
              date: 2024-01-01T00:00:00.000+0000
              interval: mixed
            expiration:
              month: -2
              year: -2
          isin: US3030751057
          strikePrice:
            level: 3.1415
            valueUnit:
              code: Lorem ipsum
              id: 2
        meta:
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_1_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          total: 3
          isEstimatedTotal: false
        status:
          code: 200
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
      type: object
    inline_response_200_1:
      example:
        data:
        - keyFigures:
            leverage: 5.05
            thetaOneWeek: 4.04
            delta: 3.1415
            rho: 4.04
            impliedVolatility: 0.4
            moneyness: 2.02
            omega: 3.1415
            vega: 3.1415
            gamma: 5.05
          openInterest: 3
          instrument:
            normalizedSymbol: Lorem ipsum
            name: Lorem ipsum
            exercise:
              style: american
              right: put
            contractSize: 1.01
            id: "209485"
            lifeCycle:
              maturity:
                date: 2024-01-01T00:00:00.000+0000
                interval: monthly
              expiration:
                month: 5
                year: 3
            strikePrice:
              level: 5.05
              valueUnit:
                code: Lorem ipsum
                id: 5
          id: "1532562"
        - keyFigures:
            leverage: 5.05
            thetaOneWeek: 4.04
            delta: 3.1415
            rho: 4.04
            impliedVolatility: 0.4
            moneyness: 2.02
            omega: 3.1415
            vega: 3.1415
            gamma: 5.05
          openInterest: 3
          instrument:
            normalizedSymbol: Lorem ipsum
            name: Lorem ipsum
            exercise:
              style: american
              right: put
            contractSize: 1.01
            id: "209485"
            lifeCycle:
              maturity:
                date: 2024-01-01T00:00:00.000+0000
                interval: monthly
              expiration:
                month: 5
                year: 3
            strikePrice:
              level: 5.05
              valueUnit:
                code: Lorem ipsum
                id: 5
          id: "1532562"
        meta:
          pagination:
            total: 3
            isEstimatedTotal: false
          status:
            code: 200
      properties:
        data:
          description: List of options.
          items:
            $ref: '#/components/schemas/PostOptionByClassListDataItems'
          nullable: false
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_2:
      example:
        data:
        - leverage:
            maximum: 3.1415
            minimum: 3.03
          openInterest:
            maximum: 3.1415
            minimum: 2.02
          delta:
            maximum: 3.1415
            minimum: 3.1415
          exercise:
            style:
            - count: 1
              value: european
            - count: 1
              value: european
            right:
            - count: 1
              value: put
            - count: 1
              value: put
          totalCount: 4
          impliedVolatility:
            maximum: 0.4
            minimum: 0.5
          omega:
            maximum: 4.04
            minimum: 1.01
          keyFigures:
            moneyness:
              maximum: 3.1415
              minimum: 1.01
          thetaOneWeek:
            maximum: 3.1415
            minimum: 5.05
          rho:
            maximum: 5.05
            minimum: 1.01
          contractSize:
          - count: 5
            value: 5
          - count: 5
            value: 5
          lifeCycle:
            maturity:
              date:
                maximum: 2024-01-01T00:00:00.000+0000
                minimum: 2024-12-24T00:00:00.000+0000
              interval:
              - count: 2
                value: daily
              - count: 2
                value: daily
            expiration:
              month:
              - count: 3
                value: 1
              - count: 3
                value: 1
              year:
              - count: 3
                value: 3
              - count: 3
                value: 3
          strikePrice:
            maximum: 5.05
            minimum: 1.01
          vega:
            maximum: 4.04
            minimum: 4.04
          gamma:
            maximum: 4.04
            minimum: 4.04
        - leverage:
            maximum: 3.1415
            minimum: 3.03
          openInterest:
            maximum: 3.1415
            minimum: 2.02
          delta:
            maximum: 3.1415
            minimum: 3.1415
          exercise:
            style:
            - count: 1
              value: european
            - count: 1
              value: european
            right:
            - count: 1
              value: put
            - count: 1
              value: put
          totalCount: 4
          impliedVolatility:
            maximum: 0.4
            minimum: 0.5
          omega:
            maximum: 4.04
            minimum: 1.01
          keyFigures:
            moneyness:
              maximum: 3.1415
              minimum: 1.01
          thetaOneWeek:
            maximum: 3.1415
            minimum: 5.05
          rho:
            maximum: 5.05
            minimum: 1.01
          contractSize:
          - count: 5
            value: 5
          - count: 5
            value: 5
          lifeCycle:
            maturity:
              date:
                maximum: 2024-01-01T00:00:00.000+0000
                minimum: 2024-12-24T00:00:00.000+0000
              interval:
              - count: 2
                value: daily
              - count: 2
                value: daily
            expiration:
              month:
              - count: 3
                value: 1
              - count: 3
                value: 1
              year:
              - count: 3
                value: 3
              - count: 3
                value: 3
          strikePrice:
            maximum: 5.05
            minimum: 1.01
          vega:
            maximum: 4.04
            minimum: 4.04
          gamma:
            maximum: 4.04
            minimum: 4.04
        meta:
          status:
            code: 200
      properties:
        data:
          description: Possible values and value ranges of the parameters.
          items:
            $ref: '#/components/schemas/PostOptionByClassValueRangesGetDataItems'
          nullable: false
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_3:
      example:
        data:
        - market:
            name: Lorem ipsum
            id: 4
          symbol: FDS
          name: Lorem ipsum
          currency:
            code: Lorem ipsum
            id: 1
          id: "2002"
          underlying:
            notation:
              fsym:
                regional:
                  isPrimary: false
                  tickerRegion: FDS-US
                  permanentIdentifier: DJC0PL-S
                listing:
                  tickerExchange: FDS-USA
                  isPrimary: false
                  permanentIdentifier: DJC0PL-S
              instrument:
                fsym:
                  security:
                    permanentIdentifier: DJC0PL-S
                nsin:
                  cusip: "303075105"
                  valor: "1234567"
                  wkn: "901629"
                id: "209485"
                isin: US3030751057
              id: "1532562"
            name: Lorem ipsum
          category:
            name: Lorem ipsum
            id: 3
          isin: US3030751057
        - market:
            name: Lorem ipsum
            id: 4
          symbol: FDS
          name: Lorem ipsum
          currency:
            code: Lorem ipsum
            id: 1
          id: "2002"
          underlying:
            notation:
              fsym:
                regional:
                  isPrimary: false
                  tickerRegion: FDS-US
                  permanentIdentifier: DJC0PL-S
                listing:
                  tickerExchange: FDS-USA
                  isPrimary: false
                  permanentIdentifier: DJC0PL-S
              instrument:
                fsym:
                  security:
                    permanentIdentifier: DJC0PL-S
                nsin:
                  cusip: "303075105"
                  valor: "1234567"
                  wkn: "901629"
                id: "209485"
                isin: US3030751057
              id: "1532562"
            name: Lorem ipsum
          category:
            name: Lorem ipsum
            id: 3
          isin: US3030751057
        meta:
          status:
            code: 200
      properties:
        data:
          description: List of option classes. Default sorting is done by symbol ascending.
          items:
            $ref: '#/components/schemas/PostOptionClassScreenerSearchDataItems'
          nullable: false
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_4_data_prices_ask:
      description: Ask price.
      example:
        price: 3.1415
        time: 2024-01-01T00:00:00Z
      nullable: false
      properties:
        time:
          description: Date and time.
          example: 2024-01-01T00:00:00Z
          format: date-time
          nullable: true
          type: string
        price:
          description: Price value.
          example: 3.1415
          format: real
          nullable: true
          type: number
      type: object
    inline_response_200_4_data_prices:
      description: Prices of the option as used for the calculation.
      example:
        ask:
          price: 3.1415
          time: 2024-01-01T00:00:00Z
      nullable: false
      properties:
        ask:
          $ref: '#/components/schemas/inline_response_200_4_data_prices_ask'
      type: object
    inline_response_200_4_data_currency:
      description: Main or fractional currency of the attributes expressed in absolute
        terms, unless specified otherwise. See endpoint `/basic/value-unit/currency/list`
        for possible values.
      example:
        code: Lorem ipsum
        id: 3
      nullable: false
      properties:
        id:
          description: Identifier of the currency.
          example: 3
          format: id32
          nullable: true
          type: number
        code:
[...]
