openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allows users to extract, create, update and configure IRN data.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: IRN API v1
  version: "1"
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/irn-contacts-api#apiDocumentation
servers:
- description: Production Server
  url: https://api.factset.com/research/irn/v1
- description: Sandbox Server
  url: https://api-sandbox.factset.com/research/irn/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Contacts
- name: Contacts - Relationships
paths:
  /contact-relationships:
    get:
      operationId: GetAllRelationshipsTaggingAContact
      parameters:
      - explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: contactId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: relationshipId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactRelationshipTwoSidedDto'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Get all the relationships where the given symbol or contact identifier
        has been tagged in a relationship
      tags:
      - Contacts - Relationships
      x-accepts: application/json
    post:
      operationId: CreateContactRelationship
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
        description: contactRelationship object to save
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Create a contact relationship
      tags:
      - Contacts - Relationships
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /contact-relationships/{contactRelationshipId}:
    delete:
      operationId: DeleteContactRelationship
      parameters:
      - description: contactRelationshipId to delete associated record
        explode: false
        in: path
        name: contactRelationshipId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Delete a contact relationship
      tags:
      - Contacts - Relationships
      x-accepts: application/json
    get:
      operationId: GetContactRelationship
      parameters:
      - description: contactRelationshipId to get associated record
        explode: false
        in: path
        name: contactRelationshipId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRelationshipTwoSidedDto'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get details on a specific contact relationship
      tags:
      - Contacts - Relationships
      x-accepts: application/json
    patch:
      operationId: PatchContactRelationship
      parameters:
      - description: contactRelationshipId to update associated record
        explode: false
        in: path
        name: contactRelationshipId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
        description: contactRelationshipPatch object to update
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Update a contact relationship
      tags:
      - Contacts - Relationships
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /contacts:
    get:
      operationId: GetContacts
      parameters:
      - description: Filter results on fullName
        explode: true
        in: query
        name: fullName
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on emailAddress
        explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on identifier
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on employerName
        explode: true
        in: query
        name: employerName
        required: false
        schema:
          type: string
        style: form
      - description: Includes custom field values in response if true
        explode: true
        in: query
        name: customFieldValues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter results on the combination of fullName, emailAddress,
          identifier and employerName
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: If true, returns when they were last tagged as an attendee in
          an IRN meeting
        explode: true
        in: query
        name: includeLastMeetingDate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Restrict number of records returned
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactSummaryDto'
                type: array
          description: Success
      summary: Get list of all contacts in your group along with some of their standard
        field data
      tags:
      - Contacts
      x-accepts: application/json
    post:
      operationId: CreateContact
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
        description: contactSaveDto object to save
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Create a contact
      tags:
      - Contacts
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /contacts/{contactId}:
    delete:
      operationId: DeleteContact
      parameters:
      - description: contactId to delete associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Delete a contact
      tags:
      - Contacts
      x-accepts: application/json
    get:
      operationId: GetContact
      parameters:
      - description: contactId to get associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDto'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get all custom field and standard field details on a specific contact
      tags:
      - Contacts
      x-accepts: application/json
    patch:
      operationId: PatchContact
      parameters:
      - description: contactId to update associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
        description: contactSaveDtoPatch object to update
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Edit a contact’s standard field and custom field data
      tags:
      - Contacts
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /contacts/{contactId}/about:
    get:
      operationId: GetContactNotes
      parameters:
      - description: contactId of associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get the About field content for a specific contact
      tags:
      - Contacts
      x-accepts: application/json
  /contacts/{contactId}/events:
    get:
      operationId: GetContactEvents
      parameters:
      - description: contactId to get associated records
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactEventDto'
                type: array
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get a contact’s audit history
      tags:
      - Contacts
      x-accepts: application/json
  /contacts/{contactId}/records:
    get:
      operationId: GetContactRecords
      parameters:
      - description: contactId to get associated records
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
                type: array
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get all notes and meetings where a specific contact was tagged
      tags:
      - Contacts
      x-accepts: application/json
  /contacts/{contactId}/relationships:
    get:
      operationId: GetContactRelationships
      parameters:
      - description: contactId to get associated records
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactRelationshipDto'
                type: array
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Returns a list of a contact’s relationships
      tags:
      - Contacts
      x-accepts: application/json
components:
  schemas:
    AlternativeEmailAddressDto:
      example:
        emailAddress: emailAddress
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        emailAddress:
          nullable: true
          type: string
      type: object
    ContactAddressDto:
      example:
        country: country
        formattedAddress: formattedAddress
        city: city
        postalCode: postalCode
        stateProvince: stateProvince
        googleMapsPlaceId: googleMapsPlaceId
      nullable: true
      properties:
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        formattedAddress:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        city:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        stateProvince:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        postalCode:
          maxLength: 10
          minLength: 0
          nullable: true
          type: string
        country:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
      type: object
    ContactCustomFieldOptionValueDto:
      example:
        optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        optionName: optionName
      nullable: true
      properties:
        optionId:
          format: uuid
          type: string
        optionName:
          nullable: true
          type: string
      type: object
    ContactCustomFieldValueDto:
      example:
        fieldCode: fieldCode
        value: value
        optionValues:
        - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          optionName: optionName
        - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          optionName: optionName
      nullable: true
      properties:
        fieldCode:
          nullable: true
          type: string
        value:
          nullable: true
          type: string
        optionValues:
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionValueDto'
          nullable: true
          type: array
      type: object
    ContactCustomFieldValueSaveDto:
      example:
        evaluateFormula: false
        code: code
        value: value
        optionValues:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        code:
          minLength: 1
          type: string
        value:
          nullable: true
          type: string
        optionValues:
          items:
            format: uuid
            type: string
          nullable: true
          type: array
        evaluateFormula:
          default: false
          type: boolean
      required:
      - code
      type: object
    ContactDto:
      example:
        identifier: identifier
        address:
          country: country
          formattedAddress: formattedAddress
          city: city
          postalCode: postalCode
          stateProvince: stateProvince
          googleMapsPlaceId: googleMapsPlaceId
        role:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        customFields:
        - fieldCode: fieldCode
          value: value
          optionValues:
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
        - fieldCode: fieldCode
          value: value
          optionValues:
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
        linkedInProfile: linkedInProfile
        fullName: fullName
        alternativeEmailAddresses:
        - emailAddress: emailAddress
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - emailAddress: emailAddress
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryEmailAddress: primaryEmailAddress
        phoneNumbers:
        - number: number
          isPrimary: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type:
            isStandard: true
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - number: number
          isPrimary: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type:
            isStandard: true
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        isDeleted: true
        employer:
          factsetIdentifier: factsetIdentifier
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        primaryEmailAddress:
          nullable: true
          type: string
        identifier:
          nullable: true
          type: string
        fullName:
          nullable: true
          type: string
        address:
          $ref: '#/components/schemas/ContactAddressDto'
        linkedInProfile:
          nullable: true
          type: string
        isDeleted:
          type: boolean
        employer:
          $ref: '#/components/schemas/EmployerDto'
        role:
          $ref: '#/components/schemas/ContactRoleDto'
        type:
          $ref: '#/components/schemas/ContactTypeDto'
        phoneNumbers:
          items:
            $ref: '#/components/schemas/ContactPhoneDto'
          nullable: true
          type: array
        alternativeEmailAddresses:
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          nullable: true
          type: array
        customFields:
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto'
          nullable: true
          type: array
      type: object
    ContactEventDto:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        fullName: fullName
        details:
        - newValue: newValue
          fieldName: fieldName
          oldValue: oldValue
        - newValue: newValue
          fieldName: fieldName
          oldValue: oldValue
        eventType: eventType
      nullable: true
      properties:
        eventType:
          nullable: true
          type: string
        date:
          format: date-time
          type: string
        fullName:
          nullable: true
          type: string
        details:
          items:
            $ref: '#/components/schemas/ContactEventUpdateDto'
          nullable: true
          type: array
      type: object
    ContactEventUpdateDto:
      example:
        newValue: newValue
        fieldName: fieldName
        oldValue: oldValue
      nullable: true
      properties:
        fieldName:
          nullable: true
          type: string
        oldValue:
          nullable: true
          type: string
        newValue:
          nullable: true
          type: string
      type: object
    ContactIdNameDto:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          nullable: true
          type: string
        name:
          nullable: true
          type: string
      type: object
    ContactPhoneDto:
      example:
        number: number
        isPrimary: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type:
          isStandard: true
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        number:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        type:
          $ref: '#/components/schemas/PhoneNumberTypeDto'
        isPrimary:
          type: boolean
      type: object
    ContactPhoneSaveDto:
      example:
        number: number
        isPrimary: true
        typeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        number:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        typeId:
          format: uuid
          type: string
        isPrimary:
          type: boolean
      type: object
    ContactRelationshipDto:
      example:
        symbol:
          identifier: identifier
          name: name
        isCurrent: true
        relationshipCategory:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        contact:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
        comment: comment
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        relationship:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        relationshipCategory:
          $ref: '#/components/schemas/RelationshipCategoryIdNameDto'
        relationship:
          $ref: '#/components/schemas/RelationshipIdNameDto'
        contact:
          $ref: '#/components/schemas/ContactIdNameDto'
        symbol:
          $ref: '#/components/schemas/RelationshipSymbolSummaryDto'
        isCurrent:
          type: boolean
        start:
          format: date-time
          nullable: true
          type: string
        end:
          format: date-time
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        comment:
          nullable: true
          type: string
      type: object
    ContactRelationshipSaveDto:
      example:
        symbol: symbol
        isCurrent: true
        contactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
        comment: comment
        relationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
      nullable: true
      properties:
        relationshipId:
          format: uuid
          type: string
        contactId:
          format: uuid
          nullable: true
          type: string
        start:
          format: date-time
          nullable: true
          type: string
        end:
          format: date-time
          nullable: true
          type: string
        comment:
          nullable: true
          type: string
        isCurrent:
          type: boolean
        symbol:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
      type: object
    ContactRelationshipTwoSidedDto:
      example:
        symbol:
          identifier: identifier
          name: name
        isCurrent: true
        relationshipCategory:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        leftContact:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
        comment: comment
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        relationship:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
        rightContact:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        relationshipCategory:
          $ref: '#/components/schemas/RelationshipCategoryIdNameDto'
        relationship:
          $ref: '#/components/schemas/RelationshipIdNameDto'
        leftContact:
          $ref: '#/components/schemas/ContactIdNameDto'
        rightContact:
          $ref: '#/components/schemas/ContactIdNameDto'
        symbol:
          $ref: '#/components/schemas/RelationshipSymbolSummaryDto'
        isCurrent:
          type: boolean
        start:
          format: date-time
          nullable: true
          type: string
        end:
          format: date-time
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        comment:
          nullable: true
          type: string
      type: object
    ContactRelationshipTwoSidedSaveDto:
      example:
        leftContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        symbolId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        symbol: symbol
        isCurrent: true
        rightContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
        comment: comment
        relationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
      nullable: true
      properties:
        relationshipId:
          format: uuid
          type: string
        leftContactId:
          format: uuid
          type: string
        rightContactId:
          format: uuid
          nullable: true
          type: string
        start:
          format: date-time
          nullable: true
          type: string
        end:
          format: date-time
          nullable: true
          type: string
        comment:
          nullable: true
          type: string
        isCurrent:
          type: boolean
        symbolId:
          format: uuid
          nullable: true
          type: string
        symbol:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
      type: object
    ContactRoleDto:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        name:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - id
      - name
      type: object
    ContactSaveDto:
      example:
        rightRelationships:
        - symbol: symbol
          isCurrent: true
          contactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          comment: comment
          relationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
        - symbol: symbol
          isCurrent: true
          contactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          comment: comment
          relationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
        notes: notes
        address:
          country: country
          formattedAddress: formattedAddress
          city: city
          postalCode: postalCode
          stateProvince: stateProvince
          googleMapsPlaceId: googleMapsPlaceId
        roleId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        customFields:
        - evaluateFormula: false
          code: code
          value: value
          optionValues:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - evaluateFormula: false
          code: code
          value: value
          optionValues:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        linkedInProfile: https://openapi-generator.tech
        fullName: fullName
        alternativeEmailAddresses:
        - emailAddress: emailAddress
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - emailAddress: emailAddress
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryEmailAddress: primaryEmailAddress
        phoneNumbers:
        - number: number
          isPrimary: true
          typeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - number: number
          isPrimary: true
          typeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        typeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        personSymbol: personSymbol
        leftRelationships:
        - symbol: symbol
          isCurrent: true
          contactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          comment: comment
          relationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
        - symbol: symbol
          isCurrent: true
          contactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          start: 2000-01-23T04:56:07.000+00:00
          end: 2000-01-23T04:56:07.000+00:00
          comment: comment
          relationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          title: title
      nullable: true
      properties:
        primaryEmailAddress:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        fullName:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
        linkedInProfile:
          format: uri
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        personSymbol:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        roleId:
          format: uuid
          type: string
        typeId:
          format: uuid
          type: string
        address:
          $ref: '#/components/schemas/ContactAddressDto'
        phoneNumbers:
          items:
            $ref: '#/components/schemas/ContactPhoneSaveDto'
          nullable: true
          type: array
        leftRelationships:
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto'
          nullable: true
          type: array
        rightRelationships:
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto'
          nullable: true
          type: array
        alternativeEmailAddresses:
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          nullable: true
          type: array
        customFields:
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueSaveDto'
          nullable: true
          type: array
      type: object
    ContactSummaryDto:
      example:
        employerIdentifier: employerIdentifier
        identifier: identifier
        country: country
        role:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        city: city
        postalCode: postalCode
        fullName: fullName
        employerName: employerName
        stateProvince: stateProvince
        alternativeEmailAddresses:
        - emailAddress: emailAddress
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - emailAddress: emailAddress
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        primaryEmailAddress: primaryEmailAddress
        lastMeeting: lastMeeting
        isDeleted: true
        customFieldValues:
        - fieldCode: fieldCode
          value: value
          optionValues:
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
        - fieldCode: fieldCode
          value: value
          optionValues:
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
          - optionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            optionName: optionName
        irnPersonId: irnPersonId
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          description: A guid that identifies the contact for further interactions
          format: uuid
          type: string
        irnPersonId:
          description: A Unique ticker with suffix -x that identifies the contact,
            which can be used in identifier lookup to tag the contact
          nullable: true
          type: string
        primaryEmailAddress:
          nullable: true
          type: string
        identifier:
          nullable: true
          type: string
        fullName:
          nullable: true
          type: string
        employerName:
          nullable: true
          type: string
        employerIdentifier:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        stateProvince:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        role:
          $ref: '#/components/schemas/ContactRoleDto'
        type:
          $ref: '#/components/schemas/ContactTypeDto'
        isDeleted:
          type: boolean
        lastMeeting:
          nullable: true
          type: string
        alternativeEmailAddresses:
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          nullable: true
          type: array
        customFieldValues:
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto'
          nullable: true
          type: array
      type: object
    ContactTypeDto:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        name:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - id
      - name
      type: object
    EmployerDto:
      example:
        factsetIdentifier: factsetIdentifier
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        name:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        factsetIdentifier:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
      required:
      - id
      type: object
    NewItemDto:
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
      type: object
    Operation:
      example:
        path: path
        op: op
        from: from
        value: ""
      nullable: true
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          nullable: true
          type: string
        op:
          nullable: true
          type: string
        from:
          nullable: true
          type: string
        value:
          nullable: true
      type: object
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      format: int32
      type: integer
    PhoneNumberTypeDto:
      example:
        isStandard: true
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        name:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        isStandard:
          type: boolean
      type: object
    ProblemDetails:
      additionalProperties: {}
      nullable: true
      properties:
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      type: object
    RecordPreviewDto:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        noteGuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        meetingGuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        title: title
        subjectName: subjectName
      nullable: true
      properties:
        noteGuid:
          format: uuid
          nullable: true
          type: string
        meetingGuid:
          format: uuid
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        date:
          format: date-time
          type: string
        subjectName:
          nullable: true
          type: string
      type: object
    RelationshipCategoryIdNameDto:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        name:
          nullable: true
          type: string
      type: object
    RelationshipIdNameDto:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      nullable: true
      properties:
        id:
          format: uuid
          type: string
        name:
          nullable: true
          type: string
      type: object
    RelationshipSymbolSummaryDto:
      example:
        identifier: identifier
        name: name
      nullable: true
      properties:
        identifier:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        type:
          $ref: '#/components/schemas/SymbolType'
      type: object
    SymbolType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      format: int32
      type: integer
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

