openapi: 3.0.1
info:
  description: Allows users to extract, create, update and configure IRN data.
  title: IRN API v1
  version: "1"
servers:
- url: https://api-sandbox.factset.com/research/irn
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Contacts
- name: Contacts - Relationships
paths:
  /v1/contact-relationships:
    get:
      operationId: GetAllRelationshipsTaggingAContact
      parameters:
      - explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: contactId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: relationshipId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactRelationshipTwoSidedDto'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
      summary: Get all the relationships where the given symbol or contact identifier
        has been tagged in a relationship
      tags:
      - Contacts - Relationships
      x-accepts: application/json
    post:
      operationId: CreateContactRelationship
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactRelationshipTwoSidedSaveDto'
        description: contactRelationship object to save
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Create a contact relationship
      tags:
      - Contacts - Relationships
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v1/contact-relationships/{contactRelationshipId}:
    delete:
      operationId: DeleteContactRelationship
      parameters:
      - description: contactRelationshipId to delete associated record
        explode: false
        in: path
        name: contactRelationshipId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Delete a contact relationship
      tags:
      - Contacts - Relationships
      x-accepts: application/json
    get:
      operationId: GetContactRelationship
      parameters:
      - description: contactRelationshipId to get associated record
        explode: false
        in: path
        name: contactRelationshipId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRelationshipTwoSidedDto'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get details on a specific contact relationship
      tags:
      - Contacts - Relationships
      x-accepts: application/json
    patch:
      operationId: PatchContactRelationship
      parameters:
      - description: contactRelationshipId to update associated record
        explode: false
        in: path
        name: contactRelationshipId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
        description: contactRelationshipPatch object to update
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Update a contact relationship
      tags:
      - Contacts - Relationships
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v1/contacts:
    get:
      operationId: GetContacts
      parameters:
      - description: Filter results on fullName
        explode: true
        in: query
        name: fullName
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on emailAddress
        explode: true
        in: query
        name: emailAddress
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on identifier
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      - description: Filter results on employerName
        explode: true
        in: query
        name: employerName
        required: false
        schema:
          type: string
        style: form
      - description: Includes custom field values in response if true
        explode: true
        in: query
        name: customFieldValues
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter results on the combination of fullName, emailAddress,
          identifier and employerName
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: If true, returns when they were last tagged as an attendee in
          an IRN meeting
        explode: true
        in: query
        name: includeLastMeetingDate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Restrict number of records returned
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactSummaryDto'
                type: array
          description: Success
      summary: Get list of all contacts in your group along with some of their standard
        field data
      tags:
      - Contacts
      x-accepts: application/json
    post:
      operationId: CreateContact
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
        description: contactSaveDto object to save
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Create a contact
      tags:
      - Contacts
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v1/contacts/{contactId}:
    delete:
      operationId: DeleteContact
      parameters:
      - description: contactId to delete associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Delete a contact
      tags:
      - Contacts
      x-accepts: application/json
    get:
      operationId: GetContact
      parameters:
      - description: contactId to get associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDto'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get all custom field and standard field details on a specific contact
      tags:
      - Contacts
      x-accepts: application/json
    patch:
      operationId: PatchContact
      parameters:
      - description: contactId to update associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Operation'
              type: array
        description: contactSaveDtoPatch object to update
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Edit a contact’s standard field and custom field data
      tags:
      - Contacts
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /v1/contacts/{contactId}/about:
    get:
      operationId: GetContactNotes
      parameters:
      - description: contactId of associated record
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get the About field content for a specific contact
      tags:
      - Contacts
      x-accepts: application/json
  /v1/contacts/{contactId}/events:
    get:
      operationId: GetContactEvents
      parameters:
      - description: contactId to get associated records
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactEventDto'
                type: array
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get a contact’s audit history
      tags:
      - Contacts
      x-accepts: application/json
  /v1/contacts/{contactId}/records:
    get:
      operationId: GetContactRecords
      parameters:
      - description: contactId to get associated records
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
                type: array
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Get all notes and meetings where a specific contact was tagged
      tags:
      - Contacts
      x-accepts: application/json
  /v1/contacts/{contactId}/relationships:
    get:
      operationId: GetContactRelationships
      parameters:
      - description: contactId to get associated records
        explode: false
        in: path
        name: contactId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactRelationshipDto'
                type: array
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Error
      summary: Returns a list of a contact’s relationships
      tags:
      - Contacts
      x-accepts: application/json
components:
  schemas:
    AlternativeEmailAddressDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        EmailAddress: EmailAddress
      properties:
        Id:
          format: uuid
          type: string
        EmailAddress:
          nullable: true
          type: string
      type: object
    ContactAddressDto:
      additionalProperties: false
      example:
        GoogleMapsPlaceId: GoogleMapsPlaceId
        StateProvince: StateProvince
        FormattedAddress: FormattedAddress
        PostalCode: PostalCode
        Country: Country
        City: City
      properties:
        GoogleMapsPlaceId:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        FormattedAddress:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        City:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        StateProvince:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        PostalCode:
          maxLength: 10
          minLength: 0
          nullable: true
          type: string
        Country:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
      type: object
    ContactCustomFieldOptionValueDto:
      additionalProperties: false
      example:
        OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        OptionName: OptionName
      properties:
        OptionId:
          format: uuid
          type: string
        OptionName:
          nullable: true
          type: string
      type: object
    ContactCustomFieldValueDto:
      additionalProperties: false
      example:
        FieldCode: FieldCode
        OptionValues:
        - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          OptionName: OptionName
        - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          OptionName: OptionName
        Value: Value
      properties:
        FieldCode:
          nullable: true
          type: string
        Value:
          nullable: true
          type: string
        OptionValues:
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionValueDto'
          nullable: true
          type: array
      type: object
    ContactCustomFieldValueSaveDto:
      additionalProperties: false
      example:
        OptionValues:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Value: Value
        Code: Code
        EvaluateFormula: false
      properties:
        Code:
          type: string
        Value:
          nullable: true
          type: string
        OptionValues:
          items:
            format: uuid
            type: string
          nullable: true
          type: array
        EvaluateFormula:
          default: false
          type: boolean
      required:
      - Code
      type: object
    ContactDto:
      additionalProperties: false
      example:
        PhoneNumbers:
        - Type:
            IsStandard: true
            Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            Name: Name
          Number: Number
          IsPrimary: true
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - Type:
            IsStandard: true
            Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            Name: Name
          Number: Number
          IsPrimary: true
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        IsDeleted: true
        Address:
          GoogleMapsPlaceId: GoogleMapsPlaceId
          StateProvince: StateProvince
          FormattedAddress: FormattedAddress
          PostalCode: PostalCode
          Country: Country
          City: City
        Employer:
          FactsetIdentifier: FactsetIdentifier
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Role:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        PrimaryEmailAddress: PrimaryEmailAddress
        Type:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        CustomFields:
        - FieldCode: FieldCode
          OptionValues:
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          Value: Value
        - FieldCode: FieldCode
          OptionValues:
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          Value: Value
        Identifier: Identifier
        LinkedInProfile: LinkedInProfile
        FullName: FullName
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        AlternativeEmailAddresses:
        - Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          EmailAddress: EmailAddress
        - Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          EmailAddress: EmailAddress
      properties:
        Id:
          format: uuid
          type: string
        PrimaryEmailAddress:
          nullable: true
          type: string
        Identifier:
          nullable: true
          type: string
        FullName:
          nullable: true
          type: string
        Address:
          $ref: '#/components/schemas/ContactAddressDto'
        LinkedInProfile:
          nullable: true
          type: string
        IsDeleted:
          type: boolean
        Employer:
          $ref: '#/components/schemas/EmployerDto'
        Role:
          $ref: '#/components/schemas/ContactRoleDto'
        Type:
          $ref: '#/components/schemas/ContactTypeDto'
        PhoneNumbers:
          items:
            $ref: '#/components/schemas/ContactPhoneDto'
          nullable: true
          type: array
        AlternativeEmailAddresses:
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          nullable: true
          type: array
        CustomFields:
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto'
          nullable: true
          type: array
      type: object
    ContactEventDto:
      additionalProperties: false
      example:
        Details:
        - OldValue: OldValue
          NewValue: NewValue
          FieldName: FieldName
        - OldValue: OldValue
          NewValue: NewValue
          FieldName: FieldName
        EventType: EventType
        FullName: FullName
        Date: 2000-01-23T04:56:07.000+00:00
      properties:
        EventType:
          nullable: true
          type: string
        Date:
          format: date-time
          type: string
        FullName:
          nullable: true
          type: string
        Details:
          items:
            $ref: '#/components/schemas/ContactEventUpdateDto'
          nullable: true
          type: array
      type: object
    ContactEventUpdateDto:
      additionalProperties: false
      example:
        OldValue: OldValue
        NewValue: NewValue
        FieldName: FieldName
      properties:
        FieldName:
          nullable: true
          type: string
        OldValue:
          nullable: true
          type: string
        NewValue:
          nullable: true
          type: string
      type: object
    ContactIdNameDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
      type: object
    ContactPhoneDto:
      additionalProperties: false
      example:
        Type:
          IsStandard: true
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Number: Number
        IsPrimary: true
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        Id:
          format: uuid
          type: string
        Number:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        Type:
          $ref: '#/components/schemas/PhoneNumberTypeDto'
        IsPrimary:
          type: boolean
      type: object
    ContactPhoneSaveDto:
      additionalProperties: false
      example:
        TypeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Number: Number
        IsPrimary: true
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        Id:
          format: uuid
          type: string
        Number:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        TypeId:
          format: uuid
          type: string
        IsPrimary:
          type: boolean
      type: object
    ContactRelationshipDto:
      additionalProperties: false
      example:
        IsCurrent: true
        Comment: Comment
        Start: 2000-01-23T04:56:07.000+00:00
        Symbol:
          Identifier: Identifier
          Name: Name
        Relationship:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Title: Title
        End: 2000-01-23T04:56:07.000+00:00
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        RelationshipCategory:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Contact:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
      properties:
        Id:
          format: uuid
          type: string
        RelationshipCategory:
          $ref: '#/components/schemas/RelationshipCategoryIdNameDto'
        Relationship:
          $ref: '#/components/schemas/RelationshipIdNameDto'
        Contact:
          $ref: '#/components/schemas/ContactIdNameDto'
        Symbol:
          $ref: '#/components/schemas/RelationshipSymbolSummaryDto'
        IsCurrent:
          type: boolean
        Start:
          format: date-time
          nullable: true
          type: string
        End:
          format: date-time
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Comment:
          nullable: true
          type: string
      type: object
    ContactRelationshipSaveDto:
      additionalProperties: false
      example:
        IsCurrent: true
        Comment: Comment
        RelationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Start: 2000-01-23T04:56:07.000+00:00
        Symbol: Symbol
        Title: Title
        End: 2000-01-23T04:56:07.000+00:00
        ContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        RelationshipId:
          format: uuid
          type: string
        ContactId:
          format: uuid
          nullable: true
          type: string
        Start:
          format: date-time
          nullable: true
          type: string
        End:
          format: date-time
          nullable: true
          type: string
        Comment:
          nullable: true
          type: string
        IsCurrent:
          type: boolean
        Symbol:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
      type: object
    ContactRelationshipTwoSidedDto:
      additionalProperties: false
      example:
        IsCurrent: true
        RightContact:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Comment: Comment
        LeftContact:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Start: 2000-01-23T04:56:07.000+00:00
        Symbol:
          Identifier: Identifier
          Name: Name
        Relationship:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Title: Title
        End: 2000-01-23T04:56:07.000+00:00
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        RelationshipCategory:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
      properties:
        Id:
          format: uuid
          type: string
        RelationshipCategory:
          $ref: '#/components/schemas/RelationshipCategoryIdNameDto'
        Relationship:
          $ref: '#/components/schemas/RelationshipIdNameDto'
        LeftContact:
          $ref: '#/components/schemas/ContactIdNameDto'
        RightContact:
          $ref: '#/components/schemas/ContactIdNameDto'
        Symbol:
          $ref: '#/components/schemas/RelationshipSymbolSummaryDto'
        IsCurrent:
          type: boolean
        Start:
          format: date-time
          nullable: true
          type: string
        End:
          format: date-time
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Comment:
          nullable: true
          type: string
      type: object
    ContactRelationshipTwoSidedSaveDto:
      additionalProperties: false
      example:
        IsCurrent: true
        Comment: Comment
        RelationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Start: 2000-01-23T04:56:07.000+00:00
        Symbol: Symbol
        LeftContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Title: Title
        End: 2000-01-23T04:56:07.000+00:00
        RightContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        SymbolId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        RelationshipId:
          format: uuid
          type: string
        LeftContactId:
          format: uuid
          type: string
        RightContactId:
          format: uuid
          nullable: true
          type: string
        Start:
          format: date-time
          nullable: true
          type: string
        End:
          format: date-time
          nullable: true
          type: string
        Comment:
          nullable: true
          type: string
        IsCurrent:
          type: boolean
        SymbolId:
          format: uuid
          nullable: true
          type: string
        Symbol:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
      type: object
    ContactRoleDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          type: string
        Name:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - Id
      - Name
      type: object
    ContactSaveDto:
      additionalProperties: false
      example:
        TypeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        PhoneNumbers:
        - TypeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Number: Number
          IsPrimary: true
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - TypeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Number: Number
          IsPrimary: true
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Address:
          GoogleMapsPlaceId: GoogleMapsPlaceId
          StateProvince: StateProvince
          FormattedAddress: FormattedAddress
          PostalCode: PostalCode
          Country: Country
          City: City
        RoleId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        PrimaryEmailAddress: PrimaryEmailAddress
        CustomFields:
        - OptionValues:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Value: Value
          Code: Code
          EvaluateFormula: false
        - OptionValues:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Value: Value
          Code: Code
          EvaluateFormula: false
        PersonSymbol: PersonSymbol
        LinkedInProfile: https://openapi-generator.tech
        FullName: FullName
        LeftRelationships:
        - IsCurrent: true
          Comment: Comment
          RelationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Start: 2000-01-23T04:56:07.000+00:00
          Symbol: Symbol
          Title: Title
          End: 2000-01-23T04:56:07.000+00:00
          ContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - IsCurrent: true
          Comment: Comment
          RelationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Start: 2000-01-23T04:56:07.000+00:00
          Symbol: Symbol
          Title: Title
          End: 2000-01-23T04:56:07.000+00:00
          ContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        RightRelationships:
        - IsCurrent: true
          Comment: Comment
          RelationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Start: 2000-01-23T04:56:07.000+00:00
          Symbol: Symbol
          Title: Title
          End: 2000-01-23T04:56:07.000+00:00
          ContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - IsCurrent: true
          Comment: Comment
          RelationshipId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Start: 2000-01-23T04:56:07.000+00:00
          Symbol: Symbol
          Title: Title
          End: 2000-01-23T04:56:07.000+00:00
          ContactId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        AlternativeEmailAddresses:
        - Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          EmailAddress: EmailAddress
        - Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          EmailAddress: EmailAddress
        Notes: Notes
      properties:
        PrimaryEmailAddress:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        FullName:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        Notes:
          nullable: true
          type: string
        LinkedInProfile:
          format: uri
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        PersonSymbol:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        RoleId:
          format: uuid
          type: string
        TypeId:
          format: uuid
          type: string
        Address:
          $ref: '#/components/schemas/ContactAddressDto'
        PhoneNumbers:
          items:
            $ref: '#/components/schemas/ContactPhoneSaveDto'
          nullable: true
          type: array
        LeftRelationships:
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto'
          nullable: true
          type: array
        RightRelationships:
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto'
          nullable: true
          type: array
        AlternativeEmailAddresses:
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          nullable: true
          type: array
        CustomFields:
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueSaveDto'
          nullable: true
          type: array
      type: object
    ContactSummaryDto:
      additionalProperties: false
      example:
        IsDeleted: true
        StateProvince: StateProvince
        CustomFieldValues:
        - FieldCode: FieldCode
          OptionValues:
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          Value: Value
        - FieldCode: FieldCode
          OptionValues:
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          - OptionId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            OptionName: OptionName
          Value: Value
        PostalCode: PostalCode
        City: City
        EmployerIdentifier: EmployerIdentifier
        Role:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        PrimaryEmailAddress: PrimaryEmailAddress
        Type:
          Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          Name: Name
        Identifier: Identifier
        FullName: FullName
        Country: Country
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        LastMeeting: LastMeeting
        EmployerName: EmployerName
        AlternativeEmailAddresses:
        - Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          EmailAddress: EmailAddress
        - Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          EmailAddress: EmailAddress
      properties:
        Id:
          format: uuid
          type: string
        PrimaryEmailAddress:
          nullable: true
          type: string
        Identifier:
          nullable: true
          type: string
        FullName:
          nullable: true
          type: string
        EmployerName:
          nullable: true
          type: string
        EmployerIdentifier:
          nullable: true
          type: string
        City:
          nullable: true
          type: string
        StateProvince:
          nullable: true
          type: string
        PostalCode:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        Role:
          $ref: '#/components/schemas/ContactRoleDto'
        Type:
          $ref: '#/components/schemas/ContactTypeDto'
        IsDeleted:
          type: boolean
        LastMeeting:
          nullable: true
          type: string
        AlternativeEmailAddresses:
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          nullable: true
          type: array
        CustomFieldValues:
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto'
          nullable: true
          type: array
      type: object
    ContactTypeDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          type: string
        Name:
          maxLength: 50
          minLength: 0
          type: string
      required:
      - Id
      - Name
      type: object
    EmployerDto:
      additionalProperties: false
      example:
        FactsetIdentifier: FactsetIdentifier
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          type: string
        Name:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
        FactsetIdentifier:
          maxLength: 255
          minLength: 0
          nullable: true
          type: string
      required:
      - Id
      type: object
    NewItemDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        Id:
          format: uuid
          type: string
      type: object
    Operation:
      additionalProperties: false
      example:
        path: path
        op: op
        from: from
        value: ""
      properties:
        OperationType:
          $ref: '#/components/schemas/OperationType'
        path:
          nullable: true
          type: string
        op:
          nullable: true
          type: string
        from:
          nullable: true
          type: string
        value:
          nullable: true
      type: object
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      format: int32
      type: integer
    PhoneNumberTypeDto:
      additionalProperties: false
      example:
        IsStandard: true
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          type: string
        Name:
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        IsStandard:
          type: boolean
      type: object
    ProblemDetails:
      additionalProperties: {}
      properties:
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      type: object
    RecordPreviewDto:
      additionalProperties: false
      example:
        MeetingGuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        NoteGuid: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Title: Title
        Date: 2000-01-23T04:56:07.000+00:00
      properties:
        NoteGuid:
          format: uuid
          nullable: true
          type: string
        MeetingGuid:
          format: uuid
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Date:
          format: date-time
          type: string
      type: object
    RelationshipCategoryIdNameDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          type: string
        Name:
          nullable: true
          type: string
      type: object
    RelationshipIdNameDto:
      additionalProperties: false
      example:
        Id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        Name: Name
      properties:
        Id:
          format: uuid
          type: string
        Name:
          nullable: true
          type: string
      type: object
    RelationshipSymbolSummaryDto:
      additionalProperties: false
      example:
        Identifier: Identifier
        Name: Name
      properties:
        Identifier:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Type:
          $ref: '#/components/schemas/SymbolType'
      type: object
    SymbolType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      format: int32
      type: integer
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

