openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: The Off-Platform Integrations API delivers shared utilities for managing
    integrations and workflows that operate outside FactSet's environment. Designed
    to support both ad hoc and scheduled workflows, it powers integrations with CRM
    platforms such as Salesforce and Microsoft Dynamics, while remaining flexible
    enough for teams to adopt across other external platforms.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Off-Platform Integrations API - V1
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/off-platform-integrations-api
servers:
- description: Production Server
  url: https://api.factset.com/services/off-platform-integrations-api/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Endpoint for checking CACCESS codes associated to a user
  name: Check CACCESS
paths:
  /check-caccess:
    post:
      description: |-
        Accepts an array of up to 25 encrypted CACCESS codes in 'data' and returns an array of result objects. On successful decryption of all codes, returns 200 with each result containing the encrypted code and a boolean 'hasAccess'. If decryption fails for any code, returns 400 with an 'errors' array containing the decryption errors and, if any codes decrypted successfully, a 'data' array with those results. Returns 400 with an 'errors' envelope for malformed input or if more than 25 codes are submitted, and 401 if the user is not authenticated.

        Each CACCESS code must be encrypted using **AES-256-CBC** before being sent. To obtain the encryption key and integration guidance, contact [research-integrations-dev@factset.com](mailto:research-integrations-dev@factset.com).
      operationId: checkCACCESS
      requestBody:
        content:
          application/json:
            examples:
              single:
                value:
                  data:
                  - /XxVRQQ+WzvlXOoNtF+0j9qmoMRFR0ox/a9qhoPX0YwP
              multiple:
                value:
                  data:
                  - /XxVRQQ+WzvlXOoNtF+0j9qmoMRFR0ox/a9qhoPX0YwP
                  - DX6S9AYy20sHYgZJZdHVbeWdcgAa4Zl1FD+cAb4aYbWy
            schema:
              $ref: '#/components/schemas/AccessCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                single:
                  value:
                    data:
                    - encryptedCode: /XxVRQQ+WzvlXOoNtF+0j9qmoMRFR0ox/a9qhoPX0YwP
                      hasAccess: true
                multiple:
                  value:
                    data:
                    - encryptedCode: /XxVRQQ+WzvlXOoNtF+0j9qmoMRFR0ox/a9qhoPX0YwP
                      hasAccess: true
                    - encryptedCode: DX6S9AYy20sHYgZJZdHVbeWdcgAa4Zl1FD+cAb4aYbWy
                      hasAccess: false
              schema:
                $ref: '#/components/schemas/AccessCheckResponse'
          description: All codes decrypted successfully. Returns a list of encrypted
            CACCESS codes and their access status.
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
        "400":
          content:
            application/json:
              examples:
                missingData:
                  summary: Missing or malformed request body
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567890
                      code: requestBodyInvalid
                      title: Request body is invalid.
                invalidData:
                  summary: Invalid data array
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567893
                      code: requestBodyInvalid
                      title: '''data'' is invalid! must be an array of strings.'
                dataTooLarge:
                  summary: More than 25 codes submitted
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567895
                      code: requestBodyInvalid
                      title: '''data'' exceeds the maximum limit of 25 codes per request.'
                decryptionFailure:
                  summary: One or more codes could not be decrypted
                  value:
                    errors:
                    - id: f91440a4-3441-4ef9-a6f1-947663475868
                      code: decryptionFailed
                      title: Failed to decrypt the provided code.
                      source:
                        value: invalidBase64==
                    data:
                    - encryptedCode: /XxVRQQ+WzvlXOoNtF+0j9qmoMRFR0ox/a9qhoPX0YwP
                      hasAccess: true
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request - either the request body is malformed/missing,
            more than 25 codes were submitted, or one or more codes could not be decrypted.
            Validation errors return an 'errors' envelope; decryption failures return
            an 'errors' array containing decryption errors and, if any codes decrypted
            successfully, a 'data' array with those results.
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
        "401":
          content:
            application/json:
              examples:
                default:
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567891
                      code: notAuthenticated
                      title: Authentication credentials are missing or invalid.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated - authentication credentials are missing or
            invalid
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
        "403":
          content:
            application/json:
              examples:
                default:
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567894
                      code: notAuthorized
                      title: 'Client does not the have required CACCESS: 07CRM'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden - authenticated user does not have the required access
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
        "408":
          content:
            application/json:
              examples:
                default:
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567896
                      code: bodyTimeout
                      title: Request body took too long to arrive
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: 'Request Timeout - the request body took too long to arrive
            (limit: 10s)'
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
        "500":
          content:
            application/json:
              examples:
                default:
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567892
                      code: internalServerError
                      title: An unexpected error occurred.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
        "503":
          content:
            application/json:
              examples:
                default:
                  value:
                    errors:
                    - id: b1e2c3d4-e5f6-7890-abcd-ef1234567897
                      code: requestTimeout
                      title: Request processing timed out
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: 'Service Unavailable - request processing timed out (limit:
            25s)'
          headers:
            api-version:
              $ref: '#/components/headers/ApiVersion'
      summary: Check access for a list of encrypted CACCESS codes
      tags:
      - Check CACCESS
      x-contentType: application/json
      x-accepts: application/json
components:
  headers:
    ApiVersion:
      description: The version of the API that processed the request.
      explode: false
      required: true
      schema:
        type: string
      style: simple
  schemas:
    ErrorItem:
      description: Represents a single error returned in a response.
      properties:
        id:
          description: A unique identifier for this error instance.
          format: uuid
          type: string
        code:
          description: A machine-readable error code.
          type: string
        title:
          description: A human-readable summary of the error.
          type: string
        source:
          $ref: '#/components/schemas/ErrorItem_source'
      required:
      - code
      - id
      - title
      type: object
    ErrorResponse:
      description: Standard error response envelope returned on all non-successful
        responses.
      properties:
        errors:
          description: A list of one or more errors that describe why the request
            failed.
          items:
            $ref: '#/components/schemas/ErrorItem'
          type: array
        data:
          description: Present only when some codes were successfully decrypted alongside
            failures. Contains the results for the successfully decrypted codes.
          items:
            $ref: '#/components/schemas/AccessCheckResult'
          type: array
      required:
      - errors
      type: object
    EncryptedCACCESSCode:
      description: An encrypted CACCESS code string.
      minLength: 1
      type: string
    AccessCheckRequest:
      additionalProperties: false
      description: Request payload wrapping the list of encrypted CACCESS codes.
      example:
        data:
        - null
        - null
        - null
        - null
        - null
      properties:
        data:
          description: List of encrypted CACCESS codes to check. Maximum 25 codes
            per request.
          items:
            $ref: '#/components/schemas/EncryptedCACCESSCode'
          maxItems: 25
          minItems: 1
          type: array
      required:
      - data
      type: object
    AccessCheckResult:
      description: Result object for a single encrypted CACCESS code.
      example:
        encryptedCode: encryptedCode
        hasAccess: true
      properties:
        encryptedCode:
          description: An encrypted CACCESS code string.
          minLength: 1
          type: string
        hasAccess:
          description: Whether the authenticated user has caccess for this code.
          type: boolean
      required:
      - encryptedCode
      - hasAccess
      type: object
    AccessCheckResponse:
      description: Response payload wrapping the caccess results.
      example:
        data:
        - encryptedCode: encryptedCode
          hasAccess: true
        - encryptedCode: encryptedCode
          hasAccess: true
      properties:
        data:
          description: List of encrypted CACCESS codes and their access results.
          items:
            $ref: '#/components/schemas/AccessCheckResult'
          type: array
      required:
      - data
      type: object
    ErrorItem_source:
      description: An optional object identifying the source of the error.
      properties:
        value:
          description: An encrypted CACCESS code string.
          minLength: 1
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

