openapi: 3.0.0
info:
  description: "The virtual portfolio enables the analysis of the current allocation,\
    \ broken down by asset classes, currencies, \nregions, sectors, style, capitalization,\
    \ style, maturity, risk, and more.\n\nRelative performance and monthly returns\
    \ can be measured against benchmarks, using portfolio position transaction (buy/sell)\
    \ data.\nBoth the realized profit/loss (resulting from closed transactions) and\
    \ the potential profit/loss (resulting from positions that have not been sold\
    \ yet) can be queried.\n\nPortfolio endpoints allow creation and managing a transaction-based\
    \ portfolio. A transaction-based portfolio contains a gapless history of all transactions\
    \ to be able to accurately reproduce the investment record of the portfolio.\n\
    \nAn instrument added to a portfolio is called a position. Each position consists\
    \ of multiple buy and sell events called transactions.\nPortfolios are limited\
    \ to 100 positions and 1000 transactions; adding more will result in an error.\n\
    \nA transaction-based portfolio can consist of the following transactions:\n\n\
    * A buy transaction opens or adds to a position in the portfolio, decreasing the\
    \ cash value by the purchase price at the same time. If there is not enough cash\
    \ in the portfolio to cover the transaction, the cash value becomes negative.\n\
    * A sell transaction decreases or closes a position in the portfolio, increasing\
    \ the cash value by the sale price at the same time. A sell transaction can only\
    \ be created if the number of shares of a given position exceeds the number being\
    \ sold.\n* A cash transaction increases or decreases the cash position of the\
    \ portfolio. A portfolio can have only one cash position. The cash position is\
    \ tracked automatically as each buy or sell transaction implicitly affects it.\
    \ The cash position can be negative as a buy transaction does not check whether\
    \ enough cash is available. The cash position does not generate interest; its\
    \ performance is always 0%.\n\nThe chosen prices and key figures in the endpoints\
    \ are using the same quality, which is configurable per application. Possible\
    \ values are delayed (DLY), best (BST), end-of-day (EOD) or realtime (RLT). The\
    \ default value for the price quality is BST.\n\nThe portfolio endpoints use different\
    \ methods to calculate key figures. All key figures except the risk in /portfolio/detail/list,\
    \ /portfolio/get, and /portfolio/position/list are calculated on-the-fly with\
    \ current prices. The risk key figures are calculated on-the-fly with current\
    \ prices, but the result is cached for 24 hours. The key figures in /portfolio/evaluation/list\
    \ are calculated on end-of-day basis.\n\nThe Virtual Portfolio API for Digital\
    \ Portals is fully integrated with the corresponding Quotes API, allowing access\
    \ to detailed price and performance information of instruments in a watchlist.\
    \ This also supports basic security identifier cross-reference. To complement\
    \ the Watchlist API and Virtual Portfolio API with direct access to price histories,\
    \ please refer to the Time Series API for Digital Portals."
  title: Virtual Portfolio API For Digital Portals
  version: "2"
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
servers:
- url: https://api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: portfolio endpoints
  name: portfolio
- description: watchlist endpoints
  name: watchlist
paths:
  /portfolio/create:
    post:
      description: "Create a portfolio.\n\nCertain error conditions yield errors as\
        \ follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number\
        \ of portfolios would exceed 100.|400 Bad Request|"
      operationId: post/portfolio/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_create_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Successful Response
      summary: Create a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/delete:
    post:
      description: Delete a portfolio.
      operationId: post/portfolio/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_delete_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Delete a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/get:
    get:
      description: Details of a portfolio.
      operationId: get/portfolio/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Details of a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /portfolio/list:
    get:
      description: List of portfolios with keyfigures.
      operationId: get/portfolio/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 2 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: List of portfolios with keyfigures.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /portfolio/modify:
    post:
      description: Modify a portfolio.
      operationId: post/portfolio/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_modify_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Modify a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/evaluation/list:
    post:
      description: Performs an evaluation over a period of time and returns portfolio
        key figures for each day, week, or month.
      operationId: post/portfolio/evaluation/list
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_evaluation_list_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Evaluate a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/name/list:
    get:
      description: List of portfolios.
      operationId: get/portfolio/name/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 2 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: List of portfolios.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /portfolio/payout/create:
    post:
      description: Add a payout to a portfolio.
      operationId: post/portfolio/payout/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_payout_create_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_1'
          description: Successful Response
      summary: Add a payout to a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/payout/delete:
    post:
      description: "Delete a payout of a portfolio.\n\nCertain error conditions yield\
        \ errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |Invalid payout identifier.|400 Bad Request|"
      operationId: post/portfolio/payout/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_payout_delete_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Delete a payout of a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/payout/list:
    post:
      description: List of payouts in a portfolio.
      operationId: post/portfolio/payout/list
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_payout_list_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_payout_list_meta'
              type: object
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: List of payouts in a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 3
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/payout/modify:
    post:
      description: "Modify a payout in a portfolio.\n\nCertain error conditions yield\
        \ errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |At least one of the parameters `notation`, `type`, `amount`, `transaction`\
        \ or `time` must be set.|400 Bad Request|\n|Invalid payout identifier.|400\
        \ Bad Request|"
      operationId: post/portfolio/payout/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_payout_modify_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: Modify a payout in a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/position/list:
    get:
      description: List all open positions of a portfolio.
      operationId: get/portfolio/position/list
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 10 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - positions.instrument.name
          items:
            enum:
            - positions.instrument.name
            - -positions.instrument.name
            - positions.instrument.shortName
            - -positions.instrument.shortName
            - positions.instrument.assetClass.code
            - -positions.instrument.assetClass.code
            - positions.instrument.type.name
            - -positions.instrument.type.name
            - positions.shares.open
            - -positions.shares.open
            - positions.purchase.value
            - -positions.purchase.value
            - positions.value
            - -positions.value
            - positions.weight
            - -positions.weight
            - positions.profitLoss.intraday.absolute
            - -positions.profitLoss.intraday.absolute
            - positions.profitLoss.intraday.relative
            - -positions.profitLoss.intraday.relative
            - positions.profitLoss.potential.absolute
            - -positions.profitLoss.potential.absolute
            - positions.profitLoss.potential.relative
            - -positions.profitLoss.potential.relative
            type: string
          maxItems: 10
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 100
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: List all open positions of a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /portfolio/position/closed/list:
    post:
      description: List all closed positions of a portfolio.
      operationId: post/portfolio/position/closed/list
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_position_closed_list_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_position_closed_list_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful Response
      summary: List all closed positions of a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 8
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/transaction/create:
    post:
      description: "Add a transaction to a portfolio.\n\nCertain error conditions\
        \ yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |The number of transactions would exceed 1000.|400 Bad Request|"
      operationId: post/portfolio/transaction/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_transaction_create_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_2'
          description: Successful Response
      summary: Add a transaction to a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/transaction/delete:
    post:
      description: Delete a transaction of a portfolio.
      operationId: post/portfolio/transaction/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_transaction_delete_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Delete a transaction of a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/transaction/list:
    get:
      description: List of transactions in a portfolio.
      operationId: get/portfolio/transaction/list
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 7 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - instrument.name
          items:
            enum:
            - instrument.name
            - -instrument.name
            - instrument.shortName
            - -instrument.shortName
            - instrument.assetClass.code
            - -instrument.assetClass.code
            - instrument.type.name
            - -instrument.type.name
            - type
            - -type
            - time
            - -time
            - numberShares
            - -numberShares
            type: string
          maxItems: 7
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successful Response
      summary: List of transactions in a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 7
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /portfolio/transaction/modify:
    post:
      description: "Modify a transaction in a portfolio.\n\nCertain error conditions\
        \ yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |At least one of the parameters `numberShares`, `price`, `charges`, `exchangeRate`\
        \ or `time` must be set.|400 Bad Request|"
      operationId: post/portfolio/transaction/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_transaction_modify_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: Modify a transaction in a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/transaction/cash/create:
    post:
      description: "Add a cash transaction to a portfolio.\n\nCertain error conditions\
        \ yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |The number of transactions would exceed 1000.|400 Bad Request|"
      operationId: post/portfolio/transaction/cash/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_transaction_cash_create_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_2'
          description: Successful Response
      summary: Add a cash transaction to a portfolio.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /portfolio/transaction/cash/delete:
    post:
      description: Delete a cash transaction.
      operationId: post/portfolio/transaction/cash/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_portfolio_transaction_cash_delete_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Delete a cash transaction.
      tags:
      - portfolio
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/create:
    post:
      description: "Create a watchlist.\n\nCertain error conditions yield errors as\
        \ follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number\
        \ of watchlists would exceed 100.|400 Bad Request|"
      operationId: post/watchlist/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_create_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_3'
          description: Successful Response
      summary: Create a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/delete:
    post:
      description: Delete a watchlist.
      operationId: post/watchlist/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_delete_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Delete a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/get:
    get:
      description: Details of a watchlist.
      operationId: get/watchlist/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: Details of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /watchlist/list:
    get:
      description: List of watchlists.
      operationId: get/watchlist/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 4 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            - numberPositions
            - -numberPositions
            - creation
            - -creation
            type: string
          maxItems: 4
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Successful Response
      summary: List of watchlists.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /watchlist/modify:
    post:
      description: Modify a watchlist.
      operationId: post/watchlist/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_modify_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Modify a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/create:
    post:
      description: "Add a position to a watchlist.\n\nCertain error conditions yield\
        \ errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |Maximum number of watchlist positions would exceed 100.|400 Bad Request|\n\
        |The watchlist does not exist.|400 Bad Request|\n|The notation already exists\
        \ in the watchlist.|400 Bad Request|"
      operationId: post/watchlist/position/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_create_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_4'
          description: Successful Response
      summary: Add a position to a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/delete:
    post:
      description: Delete a position of a watchlist.
      operationId: post/watchlist/position/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_delete_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Delete a position of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/get:
    post:
      description: Details of the position of a watchlist.
      operationId: post/watchlist/position/get
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_get_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: Successful Response
      summary: Details of the position of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/list:
    get:
      description: List of positions of a watchlist.
      operationId: get/watchlist/position/list
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 2 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - id
          items:
            enum:
            - id
            - -id
            - notation.id
            - -notation.id
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: Successful Response
      summary: List of positions of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /watchlist/position/modify:
    post:
      description: "Modify a position in a watchlist.\n\nCertain error conditions\
        \ yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |At least one of the parameters `notation` or `comment` must be set.|400 Bad\
        \ Request|\n|The notation already exists in the watchlist.|400 Bad Request|"
      operationId: post/watchlist/position/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_modify_data'
                meta:
                  $ref: '#/components/schemas/_portfolio_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Modify a position in a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies:
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: false
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: false
    inline_object_3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: false
    inline_object_4:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_4'
      required: false
    inline_object_5:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_5'
      required: false
    inline_object_6:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_6'
      required: true
    inline_object_7:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_7'
      required: false
    inline_object_8:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_8'
      required: false
    inline_object_9:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_9'
      required: false
    inline_object_10:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_10'
      required: false
    inline_object_11:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_11'
      required: false
    inline_object_12:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_12'
      required: false
    inline_object_13:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_13'
      required: false
    inline_object_14:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_14'
      required: false
    inline_object_15:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_15'
      required: false
    inline_object_16:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_16'
      required: false
    inline_object_17:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_17'
      required: false
    inline_object_18:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_18'
      required: false
    inline_object_19:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_19'
      required: false
    inline_object_20:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_20'
      required: false
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        exclusiveMaximum: false
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 0.8008281904610115
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 6.027456183070403
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    _portfolio_create_data_currency:
      description: Main currency used as the portfolio's currency. See endpoint /basic/valueUnit/currency/main/list
        for valid values.
      properties:
        isoCode:
          default: EUR
          description: ISO 4217 code of the currency.
          exclusiveMaximum: false
          maxLength: 3
          type: string
      type: object
      x-property-sort:
      - isoCode
    _portfolio_create_data:
      description: The data member contains the request's primary data.
      properties:
        name:
          description: Name of the portfolio.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 100
          minLength: 1
          pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]{1,}$
          type: string
          x-trim: false
        currency:
          $ref: '#/components/schemas/_portfolio_create_data_currency'
      required:
      - name
      type: object
      x-property-sort:
      - name
      - currency
    _portfolio_create_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - attributes
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_portfolio_create_data'
        meta:
          $ref: '#/components/schemas/_portfolio_create_meta'
      type: object
    inline_response_201_data:
      description: Details of the portfolio.
      example:
        id: id
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_201_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 0.8008281904610115
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_201:
      example:
        data:
          id: id
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_201_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _portfolio_delete_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    inline_object_1:
      properties:
        data:
          $ref: '#/components/schemas/_portfolio_delete_data'
        meta:
          $ref: '#/components/schemas/_portfolio_create_meta'
      type: object
    inline_response_200:
      example:
        data: ""
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: This member is always empty.
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    inline_response_200_1_data_currency:
      description: Currency of the portfolio. See endpoint `/basic/valueUnit/currency/main/list`
        for possible values.
      example:
        isoCode: isoCode
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the currency.
          format: id32
          type: number
          x-positive: true
        isoCode:
          description: ISO 4217 code of the currency.
          type: string
      type: object
      x-property-sort:
      - id
      - isoCode
    inline_response_200_1_data_lifecycle_transaction:
      description: Date and time of the portfolio.
      example:
        first: first
        latest: latest
      properties:
        first:
          description: Date and time of the first transaction.
          format: datetime
          type: string
        latest:
          description: Date and time of the most recent transaction.
          format: datetime
          type: string
      type: object
      x-property-sort:
      - first
      - latest
    inline_response_200_1_data_lifecycle:
      description: Events in the lifecycle of a portfolio.
      example:
        creation: creation
        transaction:
          first: first
          latest: latest
      properties:
        creation:
          description: Date and time of the portfolio creation.
          format: datetime
          type: string
        transaction:
          $ref: '#/components/schemas/inline_response_200_1_data_lifecycle_transaction'
      type: object
      x-property-sort:
      - creation
      - transaction
    inline_response_200_1_data_summary_transactions_total:
      description: Summary of all non-cash transactions.
      example:
        number: 2.3021358869347655
        turnover: 7.061401241503109
      properties:
        number:
          description: Total number of transactions in the portfolio.
          format: int32
          type: number
        turnover:
          description: Total turnover generated by all transactions.
          format: real
          type: number
      type: object
      x-property-sort:
      - number
      - turnover
    inline_response_200_1_data_summary_transactions_buy:
      description: Summary of buy transactions.
      example:
        number: 9.301444243932576
        turnover: 3.616076749251911
      properties:
        number:
          description: Number of buy transactions in the portfolio.
          format: int32
          type: number
        turnover:
          description: Total turnover generated by all buy transactions.
          format: real
          type: number
      type: object
      x-property-sort:
      - number
      - turnover
    inline_response_200_1_data_summary_transactions_sell:
      description: Summary of sell transactions.
      example:
        number: 2.027123023002322
        turnover: 4.145608029883936
      properties:
        number:
          description: Number of sell transactions in the portfolio.
          format: int32
          type: number
        turnover:
          description: Total turnover generated by all sell transactions.
          format: real
          type: number
      type: object
      x-property-sort:
      - number
      - turnover
    inline_response_200_1_data_summary_transactions:
      description: Summary of all non-cash transactions.
      example:
        total:
          number: 2.3021358869347655
          turnover: 7.061401241503109
        buy:
          number: 9.301444243932576
          turnover: 3.616076749251911
        sell:
          number: 2.027123023002322
          turnover: 4.145608029883936
      properties:
        total:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_transactions_total'
        buy:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_transactions_buy'
        sell:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_transactions_sell'
      type: object
      x-property-sort:
      - total
      - buy
      - sell
    inline_response_200_1_data_summary_cash:
      description: Summary of cash transactions.
      example:
        amount: 7.386281948385884
      properties:
        amount:
          description: Current cash amount.
          format: real
          type: number
      type: object
      x-property-sort:
      - amount
    inline_response_200_1_data_summary:
      description: Summary of portfolio values in the portfolio's currency (see attribute
        `currency`).
      example:
        totalValue: 6.027456183070403
        purchaseValue: 5.962133916683182
        numberPositions: 5.637376656633329
        marketValue: 1.4658129805029452
        transactions:
          total:
            number: 2.3021358869347655
            turnover: 7.061401241503109
          buy:
            number: 9.301444243932576
            turnover: 3.616076749251911
          sell:
            number: 2.027123023002322
            turnover: 4.145608029883936
        cash:
          amount: 7.386281948385884
      properties:
        totalValue:
          description: The total portfolio value, i.e. the current market value of
            the portfolio plus cash.
          format: real
          type: number
        marketValue:
          description: The current market value of the securities in the portfolio.
          format: real
          type: number
        purchaseValue:
          description: The total purchase value of all securities.
          format: real
          type: number
        numberPositions:
          description: Number of positions in the portfolio.
          format: int32
          type: number
        transactions:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_transactions'
        cash:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_cash'
      type: object
      x-property-sort:
      - totalValue
      - marketValue
      - purchaseValue
      - numberPositions
      - transactions
      - cash
    inline_response_200_1_data_profitLoss_realized:
      description: Summary of realized profit or loss resulting from closed positions,
        i.e. instrument positions that have been sold entirely
      example:
        absolute: 1.2315135367772556
        relative: 1.0246457001441578
      properties:
        absolute:
          description: Absolute value of profit or loss.
          format: real
          type: number
        relative:
          description: Relative value of profit or loss.
          format: percentage
          type: number
          x-convertToRelative: false
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_1_data_profitLoss_potential:
      description: Summary of potential profit or loss resulting from open positions,
        i.e. instrument positions that have not been sold.
      example:
        absolute: 1.4894159098541704
        relative: 6.84685269835264
      properties:
        absolute:
          description: Absolute value of profit or loss.
          format: real
          type: number
        relative:
          description: Relative value of profit or loss.
          format: percentage
          type: number
          x-convertToRelative: false
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_1_data_profitLoss_total:
      description: Summary of potential profit or loss resulting from open and closed
        positions.
      example:
        absolute: 7.457744773683766
        relative: 1.1730742509559433
      properties:
        absolute:
          description: Absolute value of realized and potential profit or loss.
          format: real
          type: number
        relative:
          description: Relative value of realized and potential profit or loss.
          format: percentage
          type: number
          x-convertToRelative: false
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_1_data_profitLoss_today:
      description: Summary of today's profit or loss, calculated using the most recent
        price and the last price of the prior trading day.
      example:
        absolute: 4.965218492984954
        relative: 5.025004791520295
      properties:
        absolute:
          description: Absolute value of profit or loss.
          format: real
          type: number
        relative:
          description: Relative value of profit or loss.
          format: percentage
          type: number
          x-convertToRelative: false
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_1_data_profitLoss:
      description: Profit and loss analysis. Positive values indicate profit; negative
        values indicate loss. All calculations are performed in the currency of the
        portfolio.
      example:
        total:
          absolute: 7.457744773683766
          relative: 1.1730742509559433
        today:
          absolute: 4.965218492984954
          relative: 5.025004791520295
        realized:
          absolute: 1.2315135367772556
          relative: 1.0246457001441578
        potential:
          absolute: 1.4894159098541704
          relative: 6.84685269835264
      properties:
        realized:
          $ref: '#/components/schemas/inline_response_200_1_data_profitLoss_realized'
        potential:
          $ref: '#/components/schemas/inline_response_200_1_data_profitLoss_potential'
        total:
          $ref: '#/components/schemas/inline_response_200_1_data_profitLoss_total'
        today:
          $ref: '#/components/schemas/inline_response_200_1_data_profitLoss_today'
      type: object
      x-property-sort:
      - realized
      - potential
      - total
      - today
    inline_response_200_1_data_riskKeyFigures:
      description: Current risk key figures.
      example:
        valueAtRisk: 9.369310271410669
        volatility: 9.965781217890562
      properties:
        volatility:
          description: Portfolio's volatility over the last 250 calendar days.
          format: real
          type: number
        valueAtRisk:
          description: Current portfolio value-at-risk, calculated using the variance/covariance
            method.
          format: real
          type: number
      type: object
      x-property-sort:
      - volatility
      - valueAtRisk
    inline_response_200_1_data:
      description: Details of the portfolio.
      example:
        lifecycle:
          creation: creation
          transaction:
            first: first
            latest: latest
        summary:
          totalValue: 6.027456183070403
          purchaseValue: 5.962133916683182
          numberPositions: 5.637376656633329
          marketValue: 1.4658129805029452
          transactions:
            total:
              number: 2.3021358869347655
              turnover: 7.061401241503109
            buy:
              number: 9.301444243932576
              turnover: 3.616076749251911
            sell:
              number: 2.027123023002322
              turnover: 4.145608029883936
          cash:
            amount: 7.386281948385884
        riskKeyFigures:
          valueAtRisk: 9.369310271410669
          volatility: 9.965781217890562
        name: name
        currency:
          isoCode: isoCode
          id: 0.8008281904610115
        id: id
        profitLoss:
          total:
            absolute: 7.457744773683766
            relative: 1.1730742509559433
          today:
            absolute: 4.965218492984954
            relative: 5.025004791520295
          realized:
            absolute: 1.2315135367772556
            relative: 1.0246457001441578
          potential:
            absolute: 1.4894159098541704
            relative: 6.84685269835264
        asOfDate: asOfDate
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the portfolio.
          type: string
        currency:
          $ref: '#/components/schemas/inline_response_200_1_data_currency'
        lifecycle:
          $ref: '#/components/schemas/inline_response_200_1_data_lifecycle'
        asOfDate:
          description: Date and time of the portfolio valuation.
          format: datetime
          type: string
        summary:
          $ref: '#/components/schemas/inline_response_200_1_data_summary'
        profitLoss:
          $ref: '#/components/schemas/inline_response_200_1_data_profitLoss'
        riskKeyFigures:
          $ref: '#/components/schemas/inline_response_200_1_data_riskKeyFigures'
      type: object
      x-property-sort:
      - id
      - name
      - currency
      - lifecycle
      - asOfDate
      - summary
      - profitLoss
      - riskKeyFigures
    inline_response_200_1:
      example:
        data:
          lifecycle:
            creation: creation
            transaction:
              first: first
              latest: latest
          summary:
            totalValue: 6.027456183070403
            purchaseValue: 5.962133916683182
            numberPositions: 5.637376656633329
            marketValue: 1.4658129805029452
            transactions:
              total:
                number: 2.3021358869347655
                turnover: 7.061401241503109
              buy:
                number: 9.301444243932576
                turnover: 3.616076749251911
              sell:
                number: 2.027123023002322
                turnover: 4.145608029883936
            cash:
              amount: 7.386281948385884
          riskKeyFigures:
            valueAtRisk: 9.369310271410669
            volatility: 9.965781217890562
          name: name
          currency:
            isoCode: isoCode
            id: 0.8008281904610115
          id: id
          profitLoss:
            total:
              absolute: 7.457744773683766
              relative: 1.1730742509559433
            today:
              absolute: 4.965218492984954
              relative: 5.025004791520295
            realized:
              absolute: 1.2315135367772556
              relative: 1.0246457001441578
            potential:
              absolute: 1.4894159098541704
              relative: 6.84685269835264
          asOfDate: asOfDate
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_1_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    inline_response_200_2_currency:
      description: Main currency of the portfolio. See endpoint `/basic/valueUnit/currency/main/list`
        for possible values.
      example:
        isoCode: isoCode
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the currency.
          format: id32
          type: number
          x-positive: true
        isoCode:
          description: ISO 4217 code of the currency.
          type: string
      type: object
      x-property-sort:
      - id
      - isoCode
    inline_response_200_2_summary_transactions:
      description: Summary of all non-cash transactions.
      example:
        total:
          number: 2.3021358869347655
          turnover: 7.061401241503109
      properties:
        total:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_transactions_total'
      type: object
      x-property-sort:
      - total
    inline_response_200_2_summary:
      description: Summary of portfolio values in the portfolio's currency (see attribute
        `currency`).
      example:
        totalValue: 6.027456183070403
        numberPositions: 5.962133916683182
        marketValue: 1.4658129805029452
        transactions:
          total:
            number: 2.3021358869347655
            turnover: 7.061401241503109
        cash:
          amount: 7.386281948385884
      properties:
        totalValue:
          description: The total portfolio value, i.e. the current market value of
            the portfolio plus cash.
          format: real
          type: number
        marketValue:
          description: The current market value of the securities in the portfolio.
          format: real
          type: number
        numberPositions:
          description: Number of positions in the portfolio.
          format: int32
          type: number
        transactions:
          $ref: '#/components/schemas/inline_response_200_2_summary_transactions'
        cash:
          $ref: '#/components/schemas/inline_response_200_1_data_summary_cash'
      type: object
      x-property-sort:
      - totalValue
      - marketValue
      - numberPositions
      - transactions
      - cash
    inline_response_200_2_profitLoss:
      description: Profit and loss analysis. Positive values indicate profit; negative
        values indicate loss. All calculations are performed in the currency of the
        portfolio.
      example:
        total:
          absolute: 7.457744773683766
          relative: 1.1730742509559433
      properties:
        total:
          $ref: '#/components/schemas/inline_response_200_1_data_profitLoss_total'
      type: object
      x-property-sort:
      - total
    inline_response_200_2_data:
      example:
        summary:
          totalValue: 6.027456183070403
          numberPositions: 5.962133916683182
          marketValue: 1.4658129805029452
          transactions:
            total:
              number: 2.3021358869347655
              turnover: 7.061401241503109
          cash:
            amount: 7.386281948385884
        name: name
        currency:
          isoCode: isoCode
          id: 0.8008281904610115
        id: id
        profitLoss:
          total:
            absolute: 7.457744773683766
            relative: 1.1730742509559433
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-sortable: true
          x-positive: true
        name:
          description: Name of the portfolio.
          type: string
          x-sortable: true
          x-default-sort-attribute: true
          x-default-sort-direction: 1
        currency:
          $ref: '#/components/schemas/inline_response_200_2_currency'
        summary:
          $ref: '#/components/schemas/inline_response_200_2_summary'
        profitLoss:
          $ref: '#/components/schemas/inline_response_200_2_profitLoss'
      type: object
      x-property-sort:
      - id
      - name
      - currency
      - summary
      - profitLoss
    inline_response_200_2:
      example:
        data:
        - summary:
            totalValue: 6.027456183070403
            numberPositions: 5.962133916683182
            marketValue: 1.4658129805029452
            transactions:
              total:
                number: 2.3021358869347655
                turnover: 7.061401241503109
            cash:
              amount: 7.386281948385884
          name: name
          currency:
            isoCode: isoCode
            id: 0.8008281904610115
          id: id
          profitLoss:
            total:
              absolute: 7.457744773683766
              relative: 1.1730742509559433
        - summary:
            totalValue: 6.027456183070403
            numberPositions: 5.962133916683182
            marketValue: 1.4658129805029452
            transactions:
              total:
                number: 2.3021358869347655
                turnover: 7.061401241503109
            cash:
              amount: 7.386281948385884
          name: name
          currency:
            isoCode: isoCode
            id: 0.8008281904610115
          id: id
          profitLoss:
            total:
              absolute: 7.457744773683766
              relative: 1.1730742509559433
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: List of portfolios.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _portfolio_modify_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the portfolio.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 100
          minLength: 1
          pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
          type: string
          x-trim: false
      required:
      - id
      - name
      type: object
      x-property-sort:
      - id
      - name
    inline_object_2:
      properties:
        data:
          $ref: '#/components/schemas/_portfolio_modify_data'
        meta:
          $ref: '#/components/schemas/_portfolio_create_meta'
      type: object
    inline_response_200_3:
      example:
        data: ""
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: This member is always emtpy.
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _portfolio_evaluation_list_data_range:
      description: Date range for the time series. A valid date range is between 1900-01-01
        and the day after the current day. A date before the date of the first transaction
        is implicitly adjusted to the date of the portfolio's first transaction.
      format: dateRange
      properties:
        start:
          description: The starting point of the date range (inclusive).
          format: date
          type: string
        end:
          description: The ending point of the date range (inclusive).
          format: date
          type: string
      required:
      - end
      - start
      type: object
      x-isClosedInterval: true
      x-property-sort:
      - start
      - end
    _portfolio_evaluation_list_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        range:
          $ref: '#/components/schemas/_portfolio_evaluation_list_data_range'
        resolution:
          default: daily
          enum:
          - daily
          - weekly
          - monthly
          type: string
          x-enum-description:
          - ""
          - ""
          - ""
      required:
      - id
      - range
      type: object
      x-property-sort:
      - id
      - range
      - resolution
    inline_object_3:
      properties:
        data:
          $ref: '#/components/schemas/_portfolio_evaluation_list_data'
        meta:
          $ref: '#/components/schemas/_portfolio_create_meta'
      type: object
    inline_response_200_4_data_profitLoss:
      description: Summary of profit/loss.
      example:
        performance: 5.637376656633329
        absolute: 5.962133916683182
        modifiedDietzPerformance: 2.3021358869347655
      properties:
        absolute:
          description: Profit/loss since range start.
          format: real
          type: number
        performance:
          description: The performance of the portfolio since range start.
          format: percentage
          type: number
          x-convertToRelative: false
        modifiedDietzPerformance:
          description: The performance of the portfolio calculated using the "modified
            Dietz" method since range start.
          format: percentage
          type: number
          x-convertToRelative: false
      type: object
      x-property-sort:
      - absolute
      - performance
      - modifiedDietzPerformance
    inline_response_200_4_data_period_profitLoss:
      description: Summary of profit/loss in the corresponding period.
      example:
        absolute: 7.061401241503109
      properties:
        absolute:
          description: Profit/loss in the corresponding period.
          format: real
          type: number
      type: object
      x-property-sort:
      - absolute
    inline_response_200_4_data_period:
      description: Summary of the corresponding period.
      example:
        payouts: 3.616076749251911
        purchaseValue: 2.027123023002322
        profitLoss:
          absolute: 7.061401241503109
        transactions: 9.301444243932576
      properties:
        profitLoss:
          $ref: '#/components/schemas/inline_response_200_4_data_period_profitLoss'
        transactions:
          description: The number of transactions in the corresponding period.
          format: int32
          type: number
        payouts:
          description: The number of payouts in the corresponding period.
          format: int32
          type: number
        purchaseValue:
          description: Value of money that has been invested in the corresponding
            period.
          format: real
          type: number
      type: object
      x-property-sort:
      - profitLoss
      - transactions
      - payouts
      - purchaseValue
    inline_response_200_4_data_keyfigures:
      example:
        date: 2000-01-23
        totalValue: 6.027456183070403
        period:
          payouts: 3.616076749251911
          purchaseValue: 2.027123023002322
          profitLoss:
            absolute: 7.061401241503109
          transactions: 9.301444243932576
        marketValue: 1.4658129805029452
        profitLoss:
          performance: 5.637376656633329
          absolute: 5.962133916683182
          modifiedDietzPerformance: 2.3021358869347655
        cash: 0.8008281904610115
      properties:
        date:
          description: Date the evaluation is performed for (end of week or end of
            month for weekly and monthly resolution respectively).
          format: date
          type: string
        cash:
          description: The amount of cash since range start.
          format: real
          type: number
        totalValue:
          description: The total portfolio value, i.e. the current market value of
            the portfolio plus cash.
          format: real
          type: number
        marketValue:
          description: The current market value of the securities in the portfolio.
          format: real
          type: number
        profitLoss:
          $ref: '#/components/schemas/inline_response_200_4_data_profitLoss'
        period:
          $ref: '#/components/schemas/inline_response_200_4_data_period'
      type: object
      x-property-sort:
      - date
      - cash
      - totalValue
      - marketValue
      - profitLoss
      - period
    inline_response_200_4_data:
      description: List of dates with corresponding key figures.
      example:
        currency:
          isoCode: isoCode
          id: 0.8008281904610115
        keyfigures:
        - date: 2000-01-23
          totalValue: 6.027456183070403
          period:
            payouts: 3.616076749251911
            purchaseValue: 2.027123023002322
            profitLoss:
              absolute: 7.061401241503109
            transactions: 9.301444243932576
          marketValue: 1.4658129805029452
          profitLoss:
            performance: 5.637376656633329
            absolute: 5.962133916683182
            modifiedDietzPerformance: 2.3021358869347655
          cash: 0.8008281904610115
        - date: 2000-01-23
          totalValue: 6.027456183070403
          period:
            payouts: 3.616076749251911
            purchaseValue: 2.027123023002322
            profitLoss:
              absolute: 7.061401241503109
            transactions: 9.301444243932576
          marketValue: 1.4658129805029452
          profitLoss:
            performance: 5.637376656633329
            absolute: 5.962133916683182
            modifiedDietzPerformance: 2.3021358869347655
          cash: 0.8008281904610115
      properties:
        currency:
          $ref: '#/components/schemas/inline_response_200_2_currency'
        keyfigures:
          description: Summary of portfolio key figures in the corresponding resolution.
          items:
            $ref: '#/components/schemas/inline_response_200_4_data_keyfigures'
          type: array
      type: object
      x-property-sort:
      - currency
      - keyfigures
    inline_response_200_4:
      example:
        data:
          currency:
            isoCode: isoCode
            id: 0.8008281904610115
          keyfigures:
          - date: 2000-01-23
            totalValue: 6.027456183070403
            period:
              payouts: 3.616076749251911
              purchaseValue: 2.027123023002322
              profitLoss:
                absolute: 7.061401241503109
              transactions: 9.301444243932576
            marketValue: 1.4658129805029452
            profitLoss:
              performance: 5.637376656633329
              absolute: 5.962133916683182
              modifiedDietzPerformance: 2.3021358869347655
            cash: 0.8008281904610115
          - date: 2000-01-23
            totalValue: 6.027456183070403
            period:
              payouts: 3.616076749251911
              purchaseValue: 2.027123023002322
              profitLoss:
                absolute: 7.061401241503109
              transactions: 9.301444243932576
            marketValue: 1.4658129805029452
            profitLoss:
              performance: 5.637376656633329
              absolute: 5.962133916683182
              modifiedDietzPerformance: 2.3021358869347655
            cash: 0.8008281904610115
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_4_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    inline_response_200_5_data:
      example:
        name: name
        id: id
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-sortable: true
          x-positive: true
        name:
          description: Name of the portfolio.
          type: string
          x-sortable: true
          x-default-sort-attribute: true
          x-default-sort-direction: 1
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_5:
      example:
        data:
        - name: name
          id: id
        - name: name
          id: id
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: List of portfolios.
          items:
            $ref: '#/components/schemas/inline_response_200_5_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _portfolio_payout_create_data_notation:
      description: Notation of the position.
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    _portfolio_payout_create_data_transaction:
      description: Associates the payout with a sub-position opened by a specific
        buy transaction. If omitted, the payout will be associated with all sub-positions
        of the notation in the portfolio.
      properties:
        id:
          description: Identifier of the buy transaction.
          format: id64
          type: string
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    _portfolio_payout_create_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the portfolio.
          format: id64
          type: string
          x-positive: true
        type:
          description: 'Payout type. '
          enum:
          - dividend
          - payout
          - coupon
          - subscriptionRight
          - other
          type: string
          x-enum-description:
          - Dividend
          - Payout
[...]
