openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: FactSet's SCIM API implementation.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet SCIM API
  version: 2.6.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/procure-to-pay-api-scim
servers:
- description: Production environment
  url: https://api.factset.com/scim/v2
- description: UAT environment
  url: https://api.uat.factset.com/scim/v2
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: View the capabilities of the FactSet SCIM API.
  name: Service provider configuration
- description: View the schemas supported by the FactSet SCIM API.
  name: Schemas
- description: View, create, replace, modify, or delete FactSet user accounts.
  name: Users
- description: View, replace, or modify FactSet user groups.
  name: Groups
- description: View, create, replace, or modify FactSet location data.
  name: Locations
- description: View FactSet firm descriptions.
  name: FirmDescriptions
- description: View FactSet user classes.
  name: UserClasses
- description: View FactSet user positions.
  name: UserPositions
- description: View FactSet products.
  name: Products
- description: View, replace, or modify FactSet federations.
  name: Federations
- description: View FactSet file manager data.
  name: FileManagerAudit
paths:
  /ServiceProviderConfig:
    get:
      description: Get service provider configuration, which describes the SCIM specification
        features available. See RFC 7644 section 4.
      operationId: getServiceProviderConfig
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ServiceProviderConfig'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get service provider configuration.
      tags:
      - Service provider configuration
      x-accepts: application/json
  /Schemas:
    get:
      description: Get a list of supported resource schemas. See RFC 7644 section
        4.
      operationId: getSchemas
      parameters:
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SchemaList'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a list of schemas.
      tags:
      - Schemas
      x-accepts: application/json
  /Schemas/{id}:
    get:
      description: Get a specific schema. See RFC 7643 section 7.
      operationId: getSchema
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Schema'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Schema urn:scim:schemas:extension:FactSet:Core:1.0:User not
                  found
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Schema not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a schema.
      tags:
      - Schemas
      x-accepts: application/json
  /Users:
    get:
      description: Get a list of user resources.
      operationId: getUsers
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against string attributes. When
          using the "re" operator, do not include slash characters as delimiters (e.g.
          use "foo" instead of "/foo/".) Also note the case-sensitivity of the regular
          expression corresponds to the "caseExact" characteristic of the target attribute.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Attribute to be used for sorting resources. See [RFC 7644 section
          3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). The attribute
          name must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) Use
          the *sortOrder* parameter to specify whether resources should be sorted
          in ascending or descending order.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: The order by which resources are to be sorted. See [RFC 7644
          section 3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). Valid
          values are ''ascending'' (the default value) or ''descending''. This parameter
          may not be used unless the *sortBy* parameter is also specified.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a list of users.
      tags:
      - Users
      x-accepts: application/json
    post:
      description: Create a user resource.
      operationId: createUser
      parameters:
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/userResource'
      responses:
        "201":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Create a user.
      tags:
      - Users
      x-contentType: application/scim+json
      x-accepts: application/json
  /Users/{id}:
    delete:
      description: Delete a specific user resource.
      operationId: deleteUser
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: User successfully deleted.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Delete a user.
      tags:
      - Users
      x-accepts: application/json
    get:
      description: Get a specific user resource.
      operationId: getUser
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a user.
      tags:
      - Users
      x-accepts: application/json
    patch:
      description: Modify a specific user resource (i.e. add, replace, or remove attributes
        of a user resource.)
      operationId: modifyUser
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/patchUserResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
        "501":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: The requested operation is not currently supported.
                status: "501"
              schema:
                $ref: '#/components/schemas/Error'
          description: Operation is not supported.
      summary: Patch a user.
      tags:
      - Users
      x-contentType: application/scim+json
      x-accepts: application/json
    put:
      description: Replace a specific user resource with another provided user resource.
      operationId: replaceUser
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/userResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User FIN_WEALTH-123456 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: User not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Replace a user.
      tags:
      - Users
      x-contentType: application/scim+json
      x-accepts: application/json
  /Groups:
    get:
      description: Get a list of group resources.
      operationId: getGroups
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against string attributes. When
          using the "re" operator, do not include slash characters as delimiters (e.g.
          use "foo" instead of "/foo/".) Also note the case-sensitivity of the regular
          expression corresponds to the "caseExact" characteristic of the target attribute.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Attribute to be used for sorting resources. See [RFC 7644 section
          3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). The attribute
          name must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) Use
          the *sortOrder* parameter to specify whether resources should be sorted
          in ascending or descending order.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: The order by which resources are to be sorted. See [RFC 7644
          section 3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). Valid
          values are ''ascending'' (the default value) or ''descending''. This parameter
          may not be used unless the *sortBy* parameter is also specified.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a list of groups.
      tags:
      - Groups
      x-accepts: application/json
  /Group/{id}:
    get:
      description: Get a specific group resource.
      operationId: getGroup
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Group Domain btud - Pod 04 - CitrixApps - Cymba OMS was not
                  found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Group not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a group.
      tags:
      - Groups
      x-accepts: application/json
    patch:
      description: Modify a specific group resource (i.e. add, replace, or remove
        attributes of a group resource.)
      operationId: modifyGroup
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/patchGroupResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
        "501":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: The requested operation is not currently supported.
                status: "501"
              schema:
                $ref: '#/components/schemas/Error'
          description: Operation is not supported.
      summary: Patch a group.
      tags:
      - Groups
      x-contentType: application/scim+json
      x-accepts: application/json
    put:
      description: Replace a specific group resource with another provided group resource.
      operationId: replaceGroup
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/groupResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Group Domain btud - Pod 04 - CitrixApps - Cymba OMS was not
                  found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Group not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Replace a group.
      tags:
      - Groups
      x-contentType: application/scim+json
      x-accepts: application/json
  /Locations:
    get:
      description: Get a list of location resources.
      operationId: getLocations
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against string attributes. When
          using the "re" operator, do not include slash characters as delimiters (e.g.
          use "foo" instead of "/foo/".) Also note the case-sensitivity of the regular
          expression corresponds to the "caseExact" characteristic of the target attribute.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Attribute to be used for sorting resources. See [RFC 7644 section
          3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). The attribute
          name must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) Use
          the *sortOrder* parameter to specify whether resources should be sorted
          in ascending or descending order.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: The order by which resources are to be sorted. See [RFC 7644
          section 3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). Valid
          values are ''ascending'' (the default value) or ''descending''. This parameter
          may not be used unless the *sortBy* parameter is also specified.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a list of locations.
      tags:
      - Locations
      x-accepts: application/json
    post:
      description: Create a location resource.
      operationId: createLocation
      parameters:
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/locationResource'
      responses:
        "201":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Create a location.
      tags:
      - Locations
      x-contentType: application/scim+json
      x-accepts: application/json
  /Locations/{id}:
    get:
      description: Get a specific location resource.
      operationId: getLocation
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Location 1598276 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Location not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a location.
      tags:
      - Locations
      x-accepts: application/json
    patch:
      description: Modify a specific location resource (i.e. add, replace, or remove
        attributes of a location resource.)
      operationId: modifyLocation
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/patchLocationResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Patch request invalid.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
        "501":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: The requested operation is not currently supported.
                status: "501"
              schema:
                $ref: '#/components/schemas/Error'
          description: Operation is not supported.
      summary: Patch a location.
      tags:
      - Locations
      x-contentType: application/scim+json
      x-accepts: application/json
    put:
      description: Replace a specific location resource with another provided location
        resource.
      operationId: replaceLocation
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/locationResource'
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/LocationResource'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidValue
                detail: Provided resource contains invalid data.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Provided resource contains invalid data.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Location 1598276 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Location not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Replace a location.
      tags:
      - Locations
      x-contentType: application/scim+json
      x-accepts: application/json
  /FirmDescriptions:
    get:
      description: Get a list of firm description resources.
      operationId: getFirmDescriptions
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against string attributes. When
          using the "re" operator, do not include slash characters as delimiters (e.g.
          use "foo" instead of "/foo/".) Also note the case-sensitivity of the regular
          expression corresponds to the "caseExact" characteristic of the target attribute.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Attribute to be used for sorting resources. See [RFC 7644 section
          3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). The attribute
          name must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) Use
          the *sortOrder* parameter to specify whether resources should be sorted
          in ascending or descending order.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: The order by which resources are to be sorted. See [RFC 7644
          section 3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). Valid
          values are ''ascending'' (the default value) or ''descending''. This parameter
          may not be used unless the *sortBy* parameter is also specified.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/FirmDescriptionResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a list of firm descriptions.
      tags:
      - FirmDescriptions
      x-accepts: application/json
  /FirmDescriptions/{id}:
    get:
      description: Get a specific firm description resource.
      operationId: getFirmDescription
      parameters:
      - description: ID of resource.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/FirmDescriptionResource'
          description: Success.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FactSet credentials are missing or invalid.
                status: "401"
              schema:
                $ref: '#/components/schemas/Error'
          description: User has not been authenticated.
        "403":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM
                  API.
                status: "403"
              schema:
                $ref: '#/components/schemas/Error'
          description: User is not authorized to use this API.
        "404":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: FirmDescription 1 was not found.
                status: "404"
              schema:
                $ref: '#/components/schemas/Error'
          description: Firm description not found.
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/inline_response_429'
          description: User is accessing this API too frequently.
        "500":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error.
      summary: Get a firm description.
      tags:
      - FirmDescriptions
      x-accepts: application/json
  /UserClasses:
    get:
      description: Get a list of user class resources.
      operationId: getUserClasses
      parameters:
      - description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2)
          for syntax. Note this API implementation also supports a non-standard "re"
          operator for regular expression matching against string attributes. When
          using the "re" operator, do not include slash characters as delimiters (e.g.
          use "foo" instead of "/foo/".) Also note the case-sensitivity of the regular
          expression corresponds to the "caseExact" characteristic of the target attribute.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Attribute to be used for sorting resources. See [RFC 7644 section
          3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). The attribute
          name must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) Use
          the *sortOrder* parameter to specify whether resources should be sorted
          in ascending or descending order.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: The order by which resources are to be sorted. See [RFC 7644
          section 3.4.2.3](https://tools.ietf.org/html/rfc7644#section-3.4.2.3). Valid
          values are ''ascending'' (the default value) or ''descending''. This parameter
          may not be used unless the *sortBy* parameter is also specified.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Result start index. The one-based index of the first result to
          be returned in the list of resources. For example, to exclude the first
          two resources, use a *startIndex* value of 3. This parameter has a default
          value of 1. This index applies *after* any resource filtration has been
          applied as specified by the *filter* argument.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum resource count. The server will not return more resources
          than this value, although it may return fewer.
        explode: true
        in: query
        name: count
        required: false
        schema:
          type: integer
        style: form
      - description: Attribute whitelist filter string. A comma-separated list of
          resource attribute names to be returned in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *excludedAttributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: attributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Attribute blacklist filter string. A comma-separated list of
          resource attribute names to be excluded in the response, overriding the
          set of attributes that would be returned by default. Attribute names must
          be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).)
          This parameter cannot be used with the *attributes* or *additionalAttributes*
          parameters.
        explode: false
        in: query
        name: excludedAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Non-standard attribute filter string. A comma-separated list
          of resource attribute names to be included in the response, complementing
          the set of attributes that would be returned by default. Attribute names
          must be specified in standard attribute notation (see [RFC 7644 section
          3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This
          parameter cannot be used with the *attributes* or *excludedAttributes* parameters.
        explode: false
        in: query
        name: additionalAttributes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserClassResourceList'
          description: Success.
        "400":
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                scimType: invalidFilter
                detail: Invalid filter value.
                status: "400"
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid filter value provided.
        "401":
          content:
            application/scim+json:
              example:
                schemas:
[...]
