openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: "The FactSet Symbology API provides symbol resolution services, allowing\
    \ clients to translate market identifiers into various symbology\ntypes. various\
    \ market symbology types such as, FactSet Permanent Identifiers, CUSIP, ISIN,\
    \ \nSEDOL, Tickers, and Bloomberg FIGIs. \n\nFactset's Symbology API sits at the\
    \ center of its hub-and-spoke data model, enabling you to quickly \nharmonize\
    \ the expanding catalog of Content APIs. Translate market IDs into CUSIP, SEDOL,\
    \ ISIN, Tickers as a point in time or for the entire\nhistory of the requested\
    \ id allowing Data Management workflows to normalize ids over time. Additionally,\
    \ the Symbology API provides \ntranslation of market ids into Bloomberg FIGI.\n"
  title: FactSet Symbology API
  version: 2.0.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /symbology/v1/factset:
    get:
      description: Translate market security symbols into FactSet Permanent Security
        Identifiers. The permanent identifier provides a unique record key and a convenient
        way to link across content sets. Additionally, if your firm does not have
        licenses for the symbol systems (e.g., CUSIP, SEDOL, ISIN), the permanent
        identifier provides a way to deliver security and listing-level data. <p>*GET
        Method is limited by URL Length of 2,048 characters. If a large universe of
        symbols is requested, it's advised to use POST method to retrieve the same
        response model.*</P><p>**This endpoint is included with all other Content
        API packages.**</p>
      operationId: translateFactset
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleFactsetTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleFactsetTranslation'
              schema:
                $ref: '#/components/schemas/factsetTranslationResponse'
          description: Successful response of Market IDs translated into FactSet Permanent
            Identifiers.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into FactSet Permanent Identifiers.
      tags:
      - FactSet
      x-accepts: application/json
    post:
      description: Translate market security symbols into FactSet Permanent Security
        Identifiers. The permanent identifier provides a unique record key and a convenient
        way to link across content sets. Additionally, if your firm does not have
        licenses for the symbol systems (e.g., CUSIP, SEDOL, ISIN), the permanent
        identifier provides a way to deliver security and listing-level data.
      operationId: batchTranslateFactset
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market ID to FactSet ID:
                $ref: '#/components/examples/singleFactsetTranslationPost'
              Translate Multiple Market IDs to FactSet IDs:
                $ref: '#/components/examples/multipleFactsetTranslationPost'
            schema:
              $ref: '#/components/schemas/factsetTranslationRequest'
        description: Request Body for FactSet Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleFactsetTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleFactsetTranslation'
              schema:
                $ref: '#/components/schemas/factsetTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into FactSet Permanent Identifiers.
      tags:
      - FactSet
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/cusip:
    get:
      description: Translate market security symbols into CUSIP and FactSet Permanent
        Identifiers. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094) for
        more details regarding the CUSIP numbering system. <p>*GET Method is limited
        by URL Length of 2,048 characters. If a large universe of symbols is requested,
        it's advised to use POST method to retrieve the same response model.*</P>
      operationId: translateCusip
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleCusipTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleCusipTranslation'
              schema:
                $ref: '#/components/schemas/cusipTranslationResponse'
          description: Successful response of Market IDs translated into CUSIPs.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into CUSIP.
      tags:
      - CUSIP
      x-accepts: application/json
    post:
      description: Translate market security symbols into CUSIP and FactSet Permanent
        Identifiers. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094) for
        more details regarding the CUSIP numbering system. <p>This method is best
        for requesting **large universes** of `ids`.</p>
      operationId: batchTranslateCusips
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to CUSIP:
                $ref: '#/components/examples/singleCusipTranslationPost'
              Translate Multiple Market Identifiers CUSIP:
                $ref: '#/components/examples/multipleCusipTranslationPost'
            schema:
              $ref: '#/components/schemas/cusipTranslationRequest'
        description: Request Body for CUSIP Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleCusipTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleCusipTranslation'
              schema:
                $ref: '#/components/schemas/cusipTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into CUSIP.
      tags:
      - CUSIP
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/cusip-history:
    get:
      description: Return the full history of CUSIP changes for a given market security
        or FactSet Permanent Id. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094)
        for more details regarding the CUSIP numbering system.  <p>*GET Method is
        limited by URL Length of 2,048 characters. If a large universe of symbols
        is requested, it's advised to use POST method to retrieve the same response
        model.*</P>
      operationId: cusipHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CUSIP History for GOOGL:
                  $ref: '#/components/examples/singleCusipHistory'
                CUSIP History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleCusipHistory'
              schema:
                $ref: '#/components/schemas/cusipHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history of CUSIP changes for the requested ID(s).
      tags:
      - CUSIP
      x-accepts: application/json
    post:
      description: |
        Return the full history of CUSIP changes for a given market security or FactSet Permanent Id. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094) for more details regarding the CUSIP numbering system.
      operationId: batchCusipHistory
      requestBody:
        content:
          application/json:
            examples:
              CUSIP History for Single Market ID:
                $ref: '#/components/examples/singleCusipHistoryPost'
              CUSIP History for Multiple Market IDs:
                $ref: '#/components/examples/multipleCusipHistoryPost'
            schema:
              $ref: '#/components/schemas/cusipHistoryTranslationRequest'
        description: Request Body for CUSIP History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                CUSIP History for GOOGL:
                  $ref: '#/components/examples/singleCusipHistory'
                CUSIP History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleCusipHistory'
              schema:
                $ref: '#/components/schemas/cusipHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history of CUSIP changes for the requested ID(s).
      tags:
      - CUSIP
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/sedol:
    get:
      description: |
        Translate market security symbols into SEDOL and FactSet Permanent Identifiers. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details regarding the SEDOL numbering system.
      operationId: translateSedol
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleSedolTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleSedolTranslation'
              schema:
                $ref: '#/components/schemas/sedolTranslationResponse'
          description: Successful response of Market IDs translated into SEDOL.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into SEDOL.
      tags:
      - SEDOL
      x-accepts: application/json
    post:
      description: |
        Translate market security symbols into SEDOL and FactSet Permanent Identifiers. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details regarding the SEDOL numbering system.
      operationId: batchTranslateSedol
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to SEDOL:
                $ref: '#/components/examples/singleSedolTranslationPost'
              Translate Multiple Market Identifiers SEDOL:
                $ref: '#/components/examples/multipleSedolTranslationPost'
            schema:
              $ref: '#/components/schemas/sedolTranslationRequest'
        description: Request Body for SEDOL Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleSedolTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleSedolTranslation'
              schema:
                $ref: '#/components/schemas/sedolTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into SEDOL.
      tags:
      - SEDOL
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/sedol-history:
    get:
      description: |
        Returns the full history of SEDOL changes for a given security or list of securities. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details.
      operationId: sedolHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SEDOL History for GOOGL:
                  $ref: '#/components/examples/singleSedolHistory'
                SEDOL History for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleSedolHistory'
              schema:
                $ref: '#/components/schemas/sedolHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history of SEDOL changes for the requested ID(s).
      tags:
      - SEDOL
      x-accepts: application/json
    post:
      description: |
        Return the full history of SEDOL changes for a given market security or FactSet Permanent Id. Visit [OA 3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more details regarding the SEDOL numbering system.
      operationId: batchSedolHistory
      requestBody:
        content:
          application/json:
            examples:
              SEDOL History Single Market ID:
                $ref: '#/components/examples/singleSedolHistoryPost'
              SEDOL History for Multiple Market IDs:
                $ref: '#/components/examples/multipleSedolHistoryPost'
            schema:
              $ref: '#/components/schemas/sedolHistoryTranslationRequest'
        description: Request Body for SEDOL History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                SEDOL History for GOOGL:
                  $ref: '#/components/examples/singleSedolHistory'
                SEDOL History for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleSedolHistory'
              schema:
                $ref: '#/components/schemas/sedolHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history SEDOL changes for a requested ID.
      tags:
      - SEDOL
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/isin:
    get:
      description: "Translate market security symbols into ISIN and FactSet Permanent\
        \ Identifiers. \n"
      operationId: translateIsin
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleIsinTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleIsinTranslation'
              schema:
                $ref: '#/components/schemas/isinTranslationResponse'
          description: Successful response of Market IDs translated into ISIN.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into ISIN.
      tags:
      - ISIN
      x-accepts: application/json
    post:
      description: |
        Translate market security symbols into ISIN and FactSet Permanent Identifiers.
      operationId: batchTranslateIsin
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to ISIN:
                $ref: '#/components/examples/singleIsinTranslationPost'
              Translate Multiple Market Identifiers ISIN:
                $ref: '#/components/examples/multipleIsinTranslationPost'
            schema:
              $ref: '#/components/schemas/isinTranslationRequest'
        description: Request Body for ISIN Symbology Translation
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleIsinTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleIsinTranslation'
              schema:
                $ref: '#/components/schemas/isinTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate market security symbols into ISIN.
      tags:
      - ISIN
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/isin-history:
    get:
      description: |
        Returns the full history of ISIN changes for a given security.
      operationId: isinHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                ISIN History for GOOGL:
                  $ref: '#/components/examples/singleIsinHistory'
                ISIN History for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleIsinHistory'
              schema:
                $ref: '#/components/schemas/isinHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history or as of a specific date of ISIN changes
        for the requested ID(s).
      tags:
      - ISIN
      x-accepts: application/json
    post:
      description: |
        Return the full history of ISIN changes for a given market security or FactSet Permanent Id.
      operationId: batchIsinHistory
      requestBody:
        content:
          application/json:
            examples:
              ISIN History Single Market ID:
                $ref: '#/components/examples/singleIsinHistoryPost'
              ISIN History for Multiple Market IDs:
                $ref: '#/components/examples/multipleIsinHistoryPost'
            schema:
              $ref: '#/components/schemas/isinHistoryTranslationRequest'
        description: Request Body for ISIN History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                ISIN History for GOOGL:
                  $ref: '#/components/examples/singleIsinHistory'
                ISIN History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleIsinHistory'
              schema:
                $ref: '#/components/schemas/isinHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieve the full history or as of a specific date of ISIN changes
        for a requested ID.
      tags:
      - ISIN
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/ticker:
    get:
      description: |
        Returns the Ticker-Exchange or Ticker-Region for a given security.
      operationId: translateTicker
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Controls the Ticker Type returned. The only accepted parameter values are REGION or EXCHANGE.
            * **REGION** = Ticker-Regional (e.g. GOOGL-US)
            * **EXCHANGE** = TIcker-Exchange (e.g. GOOGL-NAS)
        examples:
          Regional:
            summary: REGION - Ticker-Regional ID
            value: REGION
          Exchange:
            summary: EXCHANGE - Ticker-Exchange ID
            value: EXCHANGE
        explode: true
        in: query
        name: tickerType
        required: false
        schema:
          default: REGION
          enum:
          - REGION
          - EXCHANGE
          type: string
        style: form
      - description: As-Of date for historical symbol request in YYYY-MM-DD format.
        example: 2010-01-01
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleTickerTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleTickerTranslation'
              schema:
                $ref: '#/components/schemas/tickerTranslationResponse'
          description: Successful response of Ticker-Exchange or Ticker-Region for
            a given security.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the Ticker-Exchange or Ticker-Region for a given security.
      tags:
      - Ticker
      x-accepts: application/json
    post:
      description: |
        Returns the full history of Ticker-Exchange or Ticker-Region changes for a requested security.
      operationId: batchTranslateTicker
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to Ticker:
                $ref: '#/components/examples/singleTickerTranslationPost'
              Translate Multiple Market Identifiers Ticker:
                $ref: '#/components/examples/multipleTickerTranslationPost'
            schema:
              $ref: '#/components/schemas/tickerTranslationRequest'
        description: Request Body for Ticker History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleTickerTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleTickerTranslation'
              schema:
                $ref: '#/components/schemas/tickerTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the Ticker-Exchange or Ticker-Region for a given security.
      tags:
      - Ticker
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/ticker-history:
    get:
      description: |
        Return the full history of Ticker changes for a given market security or FactSet Permanent Id.
      operationId: tickerHistory
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Controls the Ticker Type returned. The only accepted parameter values are REGION or EXCHANGE.
            * **REGION** = Ticker-Regional (e.g. GOOGL-US)
            * **EXCHANGE** = TIcker-Exchange (e.g. GOOGL-NAS)
        examples:
          Regional:
            summary: REGION - Ticker-Regional ID
            value: REGION
          Exchange:
            summary: EXCHANGE - Ticker-Exchange ID
            value: EXCHANGE
        explode: true
        in: query
        name: tickerType
        required: false
        schema:
          default: REGION
          enum:
          - REGION
          - EXCHANGE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Ticker History since Jan. 1st 2010 for GOOGL:
                  $ref: '#/components/examples/singleTickerHistory'
                Ticker History since Jan. 1st 2010 for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleTickerHistory'
              schema:
                $ref: '#/components/schemas/tickerHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the full history of Ticker-Exchange or Ticker-Region changes
        for a requested security.
      tags:
      - Ticker
      x-accepts: application/json
    post:
      description: |
        Returns the full history of Ticker-Exchange or Ticker-Region changes for a requested security.
      operationId: batchTickerHistory
      requestBody:
        content:
          application/json:
            examples:
              Ticker History since Jan. 1st 2010 for Single Market ID:
                $ref: '#/components/examples/singleTickerHistoryPost'
              Ticker History since Jan. 1st 2010 for Multiple Market IDs:
                $ref: '#/components/examples/multipleTickerHistoryPost'
            schema:
              $ref: '#/components/schemas/tickerHistoryTranslationRequest'
        description: Request Body for Ticker History
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Ticker History since Jan. 1st 2010 for GOOGL:
                  $ref: '#/components/examples/singleTickerHistory'
                Ticker History since Jan. 1st 2010 for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleTickerHistory'
              schema:
                $ref: '#/components/schemas/tickerHistoryTranslationResponse'
          description: Symbol translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the full history of Ticker-Exchange or Ticker-Region changes
        for a requested security.
      tags:
      - Ticker
      x-contentType: application/json
      x-accepts: application/json
  /symbology/v1/bloomberg:
    get:
      description: Returns the current security, composite, regional Bloomberg (FIGI)
        unique identifiers.
      operationId: translateBloomberg
      parameters:
      - description: Requested market securities or entities. Accepted identifiers
          include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
          Tickers. This request value is sent back in the response as, `requestId`.
        examples:
          singleMarketId:
            summary: One Market Identifier
            value:
            - GOOGL-US
          multipleMarketIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleBloombergTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleBloombergTranslation'
              schema:
                $ref: '#/components/schemas/bloombergTranslationResponse'
          description: Successful response of Ticker-Exchange or Ticker-Region for
            a given security.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Translate FactSet symbols into Bloomberg Identifiers.
      tags:
      - Bloomberg FIGI
      x-accepts: application/json
    post:
      description: Returns the current security, composite, and regional identifiers
        from Bloomberg. <p>This method is best for requesting **large universes**
        of `ids`.</p><p>**This endpoint is included with all other Content API packages.**</p>
      operationId: batchTranslateBloomberg
      requestBody:
        content:
          application/json:
            examples:
              Translate Single Market Identifier to Bloomberg:
                $ref: '#/components/examples/singleBloombergTranslationPost'
              Translate Multiple Market Identifiers Bloomberg:
                $ref: '#/components/examples/multipleBloombergTranslationPost'
            schema:
              $ref: '#/components/schemas/bloombergTranslationRequest'
        description: Request Body for Bloomberg FIGIs.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleBloombergTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleBloombergTranslation'
              schema:
                $ref: '#/components/schemas/bloombergTranslationResponse'
          description: Symbol Translation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivty 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
[...]
