openapi: 3.0.0
info:
  contact:
    email: cpd-hyd-engineering@factset.com
  description: OFDB api
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: TOS
  title: OFDB API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.factset.com/analytics/ofdb
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /v1/database/{path}/fields:
    get:
      description: Returns all the fields in the database(OFDB, OMS_OFDB, ECONOFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fields'
          description: List of fields
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - View
      x-accepts: application/json
  /v1/database/{path}/symbols:
    get:
      description: Returns all the symbols in the database(OFDB, OMS_OFDB, ECONOFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Returns list of symbols which starts with mentioned string
        explode: true
        in: query
        name: startsWith
        required: false
        schema:
          type: string
        style: form
      - description: Returns list of symbols which ends with mentioned string
        explode: true
        in: query
        name: endsWith
        required: false
        schema:
          type: string
        style: form
      - description: Returns list of symbols which contains mentioned string
        explode: true
        in: query
        name: contains
        required: false
        schema:
          type: string
        style: form
      - description: Returns symbol which matches mentioned string
        explode: true
        in: query
        name: equals
        required: false
        schema:
          type: string
        style: form
      - description: Returns symbols in the mentioned sorted order, should provide
          asc or desc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbols'
          description: successful symbols array
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - View
      x-accepts: application/json
    post:
      description: Creates a new symbol with single/multiple dates for 3d database(OFDB).
        Creates a symbol for 2d database(OFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "3dOFDB":
                description: Object in data is mandatory and must contain date with
                  atleast one iterative field
                value:
                  symbol: FACTSET
                  data:
                  - date: 20200202
                    field: value
              "2dOFDB":
                description: Object in data is optional and should contain fields
                  of the OFDB
                value:
                  symbol: FACTSET
                  data:
                  - field: value
            schema:
              $ref: '#/components/schemas/createSymbols'
        description: Data for creating symbol in the database
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessPostResponse'
          description: Status message of creation
          headers:
            Location:
              $ref: '#/components/schemas/ResponseLocationHeader'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "413":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: payloadTooLarge
                          example: payloadTooLarge
                          type: string
                    type: array
          description: Post body too large
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Create
      x-contentType: application/json
      x-accepts: application/json
  /v1/database/{path}/symbols/{symbol}:
    delete:
      description: Deletes all data specific to the symbol in both 2d and 3d database(OFDB).
        This includes all the dates related to that symbols in 3d database(OFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Symbol with in the ofdb
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "204":
          description: Resource is deleted successfully
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Modify
      x-accepts: application/json
    put:
      description: Updates an existing symbol field value for single/multiple dates
        or adds a new symbol/date within a symbol if not present in 3d database(OFDB).
        Updates an existing symbol field value or adds a new symbol if not present
        in the 2d database(OFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Symbol with in the ofdb
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "3dOFDB":
                description: Object in data is mandatory and must contain date with
                  atleast one iterative field
                value:
                  data:
                  - date: 20200202
                    field: value
              "2dOFDB":
                description: Object in data is optional and should contain fields
                  of the OFDB
                value:
                  data:
                  - field: value
            schema:
              $ref: '#/components/schemas/modifySymbols'
        description: Data for updating symbol in the database
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessPostResponse'
          description: Status message of creation
          headers:
            Location:
              $ref: '#/components/schemas/ResponseLocationHeader'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "413":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: payloadTooLarge
                          example: payloadTooLarge
                          type: string
                    type: array
          description: Post body too large
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Modify
      x-contentType: application/json
      x-accepts: application/json
  /v1/database/{path}/dates:
    get:
      description: Returns all the dates in the database(OFDB, OMS_OFDB, ECONOFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Returns list of dates which are between [start,end], dates should
          be in the respective order of start and end
        explode: false
        in: query
        name: between
        required: false
        schema:
          type: string
        style: form
      - description: Returns the date which matches given date
        explode: true
        in: query
        name: equals
        required: false
        schema:
          type: string
        style: form
      - description: Returns list of dates which are before mentioned date
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Returns list of dates which are after mentioned date
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: Returns dates in the mentioned sorted order, should provide asc
          or desc
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dates'
          description: Successful output
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - View
      x-accepts: application/json
    post:
      description: Creates a new date with single/multiple symbols for a 3d database(OFDB).
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postDatesymbol'
        description: Required data for creating date in the database. At least one
          iterative field is required otherwise it will throw 400.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessPostResponse'
          description: Status message of creation
          headers:
            Location:
              $ref: '#/components/schemas/ResponseLocationHeader'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "413":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: payloadTooLarge
                          example: payloadTooLarge
                          type: string
                    type: array
          description: Post body too large
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Create
      x-contentType: application/json
      x-accepts: application/json
  /v1/database/{path}/dates/{date}:
    delete:
      description: Deletes all data specific to the date in 3d database(OFDB). This
        includes all the symbols related to that date
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Date in YYYYMMDD format
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "204":
          description: Resource is deleted successfully
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Modify
      x-accepts: application/json
    put:
      description: Updates an existing date field value for single/multiple symbols
        or adds a new date/symbol within a date if not present in 3d database(OFDB).
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Date in YYYYMMDD format
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modifydatespecific'
        description: Required data for updating date in the database
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessPostResponse'
          description: Status message of creation
          headers:
            Location:
              $ref: '#/components/schemas/ResponseLocationHeader'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "413":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: payloadTooLarge
                          example: payloadTooLarge
                          type: string
                    type: array
          description: Post body too large
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Modify
      x-contentType: application/json
      x-accepts: application/json
  /v1/database/{path}/dates/{date}/symbols:
    post:
      description: Creates a new symbol for a given date in 3d database(OFDB)
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Date in YYYYMMDD format
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postnewsymboldate'
        description: Data for creating symbol specific to a date in the database.
          At least one 3d field is required along with symbol.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessPostResponse'
          description: Status message of creation
          headers:
            Location:
              $ref: '#/components/schemas/ResponseLocationHeader'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "403":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: notAuthorized
                          example: notAuthorized
                          type: string
                    type: array
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "404":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: endPointNotFound
                          example: endPointNotFound
                          type: string
                    type: array
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "429":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: rateLimitExceeded
                          example: rateLimitExceeded
                          type: string
                    type: array
          description: Rate limit reached. Wait till the time specified in Retry-After
            header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      tags:
      - Create
      x-contentType: application/json
      x-accepts: application/json
  /v1/database/{path}/dates/{date}/symbols/{symbol}:
    delete:
      description: Deletes data specific to the symbol and date from a 3d database(OFDB).
      parameters:
      - description: Encode database path
        explode: false
        in: path
        name: path
        required: true
        schema:
          type: string
        style: simple
      - description: Date in YYYYMMDD format
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: integer
        style: simple
      - description: Symbol with in the ofdb
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  status:
                    description: Current Status of the job
                    type: string
          description: Returns when the request is moved to long running mode.
          headers:
            Location:
              $ref: '#/components/headers/Long-Running-Location'
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "204":
          description: Resource is deleted successfully
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: An array containing errors
                    items:
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        code:
                          default: parameterError
                          example: parameterError
                          type: string
                        source:
                          properties:
                            location:
                              type: string
                            param:
                              type: string
                          type: object
                    type: array
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
[...]
