openapi: 3.0.2
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Collection of endpoints for providing Signal Events, Definitions and
    Metadata
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Signals API
  version: 2.6.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/signals-api
servers:
- description: Production
  url: https://api.factset.com/signals/v2
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Fetch signal events. Please note that FactSet Cognitive signals and
    signals contributed by third parties are excluded from the response for limited
    API access.
  name: Events
- description: Fetch signal metadata
  name: Metadata
paths:
  /events/headlines:
    get:
      description: 'Fetch Signals event headlines based on at least one of the following
        filtering parameters: `ids`, `portfolios`'
      operationId: getEventHeadlines
      parameters:
      - description: A date/time (UTC) interval for filtering signal events based
          on their creation date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: created
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: A date/time (UTC) interval for filtering signal events based
          on their last updated date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: updated
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: Comma delimited string of signalIds
        example: dilutionTrigger,freeCashFlow
        explode: true
        in: query
        name: signalIds
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of identifiers. An identifier can be a
          ticker, FactSet entity id, CUSIP or ISIN. You must provide a list of identifiers
          either via a ids or a portfolios parameter. If both are provided, only ids
          filter is used. Users with limited access can use only the ids filter and
          provide at most 10 ids.
        example: FDS-US,AMZN-US
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Name of a portfolio file stored by FactSet. If the portfolio
          contains more than 1,000 ids, only the first 1,000 ids are processed (e.g.
          client:techstocks.ofdb). Please note that using this parameter requires
          full subscription to Signals API.
        explode: true
        in: query
        name: portfolios
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of theme ids. Full list of signal themes
          can be viewed at /themes.
        explode: true
        in: query
        name: themes
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of category ids. Full list of signal categories
          can be viewed at /categories.
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: A range for filtering signal events based on their relevancy
          score.
        examples:
          lowerBound:
            value:
              gte: 0
          upperBound:
            value:
              lt: 1
          bothBounds:
            value:
              gt: 0
              lt: 1
        explode: true
        in: query
        name: userRelevanceScore
        required: false
        schema:
          $ref: '#/components/schemas/RelevanceScoreRange'
        style: deepObject
      - description: Comma delimited string of sortable attributes. The sort order
          for each sort attribute is ascending unless it is prefixed with a minus
          sign, in which case it is descending. If sort is not provided, the default
          sort applied is -userRelevanceScore (userRelevanceScore in descending order).
        example: -userRelevanceScore,-eventDate
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The api will return resolved identifiers in the meta section
          of the response by default (true). If the parameter is false, the api will
          not attempt to resolve the identifiers.
        example: true
        explode: true
        in: query
        name: resolveIdentifiers
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requestId: AAPL-US
                  companyName: Apple Inc.
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: f793221a-71d0-4979-a1a8-86e44770cd16
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Apple (AAPL-US) was up 17.4% YTD.
                  created: 2024-08-21T16:16:44.719Z
                - requestId: MSFT-US
                  companyName: Microsoft Corporation
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 4a21ee8f-9eea-466b-91ff-49946b18a500
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.
                  created: 2024-08-21T16:16:51.595Z
                - requestId: AMZN-US
                  companyName: Amazon.com, Inc.
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: fbdcf03e-3225-44b2-9350-049b2730f118
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.
                  created: 2024-08-21T16:16:48.196Z
                - requestId: GOOG-US
                  companyName: Alphabet Inc. Class A
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 89a7c4b6-9eca-4a3c-97fa-40c9776fbd3d
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Alphabet (GOOGL-US) was up 16.7% YTD.
                  created: 2024-08-21T16:17:38.454Z
                - requestId: GOOG-US
                  companyName: Alphabet Inc. Class A
                  signalId: debtMaturingBond
                  signalName: Bonds Maturing in 24 Months
                  theme: Debt Capital Structure
                  source: FactSet
                  userRelevanceScore: 0.633
                  eventId: d5151b23-c496-4010-afa7-856aa073afa9
                  eventDate: 2026-08-15
                  summary: Alphabet (GOOGL-US) has one bond totaling USD 2,000.00
                    million that will be maturing in 24 months
                  created: 2024-08-15T07:09:22.778Z
                meta:
                  signalRequestId: 811920df-3029-4758-b54e-5096d29da831
                  sort:
                  - -userRelevanceScore
                  - -eventDate
                  idResolutions:
                    tickerRegion:
                      FDS-US: FDS-US
                      AMZN-US: AMZN-US
                      MSFT-US: MSFT-US
                      AAPL-US: AAPL-US
                      GOOG-US: GOOG-US
                    regionalPermId:
                      FDS-US: SQFMK3-R
                      AMZN-US: MCNYYL-R
                      MSFT-US: P8R3C2-R
                      AAPL-US: MH33D6-R
                      GOOG-US: WFJYTJ-R
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:21:22.804Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:21:22.804Z
                  pagination:
                    total: 5
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventHeadlines'
          description: OK
        "400":
          content:
            application/json:
              example:
                message: A parameter in the request has an invalid value or a required
                  parameter is missing.
                errors:
                - id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  code: parameterError
                  title: Required param 'exampleParam' was not provided
                  detail: A parameter in the request has an invalid value or a required
                    parameter is missing.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-factset-sdk-ignore: true
      x-accepts: application/json
    post:
      description: 'Fetch Signals event headlines based on the filtering criteria
        for up to 1000 identifiers and at least one of the following filtering parameters:
        `ids`, `portfolios`'
      operationId: postEventHeadlines
      requestBody:
        content:
          application/json:
            example:
              created:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              updated:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              signalIds: dilutionTrigger,freeCashFlow
              ids: FDS-US,AMZN-US
              portfolios: testPortfolio.ofdb
              themes: testTheme
              categories: testCategory
              userRelevanceScore:
                gt: 0
                gte: 0
                lt: 0
                lte: 0
              sort: -userRelevanceScore
              resolveIdentifiers: true
              propertyFilter:
                portfolioUniqueId: abc-xyz-def
            schema:
              $ref: '#/components/schemas/eventRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requestId: AAPL-US
                  companyName: Apple Inc.
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: f793221a-71d0-4979-a1a8-86e44770cd16
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Apple (AAPL-US) was up 17.4% YTD.
                  created: 2024-08-21T16:16:44.719Z
                - requestId: MSFT-US
                  companyName: Microsoft Corporation
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 4a21ee8f-9eea-466b-91ff-49946b18a500
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.
                  created: 2024-08-21T16:16:51.595Z
                - requestId: AMZN-US
                  companyName: Amazon.com, Inc.
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: fbdcf03e-3225-44b2-9350-049b2730f118
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.
                  created: 2024-08-21T16:16:48.196Z
                - requestId: GOOG-US
                  companyName: Alphabet Inc. Class A
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 89a7c4b6-9eca-4a3c-97fa-40c9776fbd3d
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Alphabet (GOOGL-US) was up 16.7% YTD.
                  created: 2024-08-21T16:17:38.454Z
                - requestId: GOOG-US
                  companyName: Alphabet Inc. Class A
                  signalId: debtMaturingBond
                  signalName: Bonds Maturing in 24 Months
                  theme: Debt Capital Structure
                  source: FactSet
                  userRelevanceScore: 0.633
                  eventId: d5151b23-c496-4010-afa7-856aa073afa9
                  eventDate: 2026-08-15
                  summary: Alphabet (GOOGL-US) has one bond totaling USD 2,000.00
                    million that will be maturing in 24 months
                  created: 2024-08-15T07:09:22.778Z
                meta:
                  signalRequestId: 811920df-3029-4758-b54e-5096d29da831
                  sort:
                  - -userRelevanceScore
                  - -eventDate
                  idResolutions:
                    tickerRegion:
                      FDS-US: FDS-US
                      AMZN-US: AMZN-US
                      MSFT-US: MSFT-US
                      AAPL-US: AAPL-US
                      GOOG-US: GOOG-US
                    regionalPermId:
                      FDS-US: SQFMK3-R
                      AMZN-US: MCNYYL-R
                      MSFT-US: P8R3C2-R
                      AAPL-US: MH33D6-R
                      GOOG-US: WFJYTJ-R
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:21:22.804Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:21:22.804Z
                  pagination:
                    total: 5
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventHeadlines'
          description: OK
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
      tags:
      - Events
      x-contentType: application/json
      x-accepts: application/json
  /events/details:
    get:
      description: 'Fetch Signals event headlines plus all additional event details
        based on at least one of the following filtering parameters: `ids`, `portfolios`'
      operationId: getEventDetails
      parameters:
      - description: A date/time (UTC) interval for filtering signal events based
          on their creation date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: created
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: A date/time (UTC) interval for filtering signal events based
          on their last updated date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: updated
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: Comma delimited string of signalIds
        example: dilutionTrigger,freeCashFlow
        explode: true
        in: query
        name: signalIds
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of identifiers. An identifier can be a
          ticker, FactSet entity id, CUSIP or ISIN. You must provide a list of identifiers
          either via a ids or a portfolios parameter. If both are provided, only ids
          filter is used. Users with limited access can use only the ids filter and
          provide at most 10 ids.
        example: FDS-US,AMZN-US
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Name of a portfolio file stored by FactSet. If the portfolio
          contains more than 1,000 ids, only the first 1,000 ids are processed (e.g.
          client:techstocks.ofdb). Please note that using this parameter requires
          full subscription to Signals API.
        explode: true
        in: query
        name: portfolios
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of theme ids. Full list of signal themes
          can be viewed at /themes.
        explode: true
        in: query
        name: themes
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of category ids. Full list of signal categories
          can be viewed at /categories.
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: A range for filtering signal events based on their relevancy
          score.
        examples:
          lowerBound:
            value:
              gte: 0
          upperBound:
            value:
              lt: 1
          bothBounds:
            value:
              gt: 0
              lt: 1
        explode: true
        in: query
        name: userRelevanceScore
        required: false
        schema:
          $ref: '#/components/schemas/RelevanceScoreRange'
        style: deepObject
      - description: Comma delimited string of sortable attributes. The sort order
          for each sort attribute is ascending unless it is prefixed with a minus
          sign, in which case it is descending. If sort is not provided, the default
          sort applied is -userRelevanceScore (userRelevanceScore in descending order).
        example: -userRelevanceScore,-eventDate
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The api will return resolved identifiers in the meta section
          of the response by default (true). If the parameter is false, the api will
          not attempt to resolve the identifiers.
        example: true
        explode: true
        in: query
        name: resolveIdentifiers
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requestId: MSFT-US
                  companyName: Microsoft Corporation
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 4a21ee8f-9eea-466b-91ff-49946b18a500
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.
                  created: 2024-08-21T16:16:51.595Z
                  updated: 2024-08-21T16:16:51.595Z
                  details:
                    price: 418.47
                    priceDate: 2024-08-16
                    priceCurrency: USD
                    "1MoPriceChange": -6.90737
                    "3MoPriceChange": -0.598586
                    eventIndicator: Positive
                    ytdPriceChange: 11.2834
                    "1WeekPriceChange": 2.86621
                    "52WeekPriceChange": 30.6086
                    significantPriceScope: YTD
                - requestId: AMZN-US
                  companyName: Amazon.com, Inc.
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: fbdcf03e-3225-44b2-9350-049b2730f118
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.
                  created: 2024-08-21T16:16:48.196Z
                  updated: 2024-08-21T16:16:48.196Z
                  details:
                    price: 177.06
                    priceDate: 2024-08-16
                    priceCurrency: USD
                    "1MoPriceChange": -8.26858
                    "3MoPriceChange": -3.57785
                    eventIndicator: Positive
                    ytdPriceChange: 16.5328
                    "1WeekPriceChange": 6.15108
                    "52WeekPriceChange": 31.0876
                    significantPriceScope: YTD
                meta:
                  signalRequestId: 2b8a6969-af32-4878-8124-758715b19baa
                  sort:
                  - -userRelevanceScore
                  idResolutions:
                    tickerRegion:
                      MSFT-US: MSFT-US
                      AMZN-US: AMZN-US
                    regionalPermId:
                      MSFT-US: P8R3C2-R
                      AMZN-US: MCNYYL-R
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:40:50.444Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:40:50.444Z
                  pagination:
                    total: 2
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventDetails'
          description: OK
        "400":
          content:
            application/json:
              example:
                message: A parameter in the request has an invalid value or a required
                  parameter is missing.
                errors:
                - id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  code: parameterError
                  title: Required param 'exampleParam' was not provided
                  detail: A parameter in the request has an invalid value or a required
                    parameter is missing.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-factset-sdk-ignore: true
      x-accepts: application/json
    post:
      description: 'Fetch Signals event headlines plus all additional event details
        for up to 1000 identifiers and at least one of the following filtering parameters:
        `ids`, `portfolios`'
      operationId: postEventDetails
      requestBody:
        content:
          application/json:
            example:
              created:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              updated:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              signalIds: dilutionTrigger,freeCashFlow
              ids: FDS-US,AMZN-US
              portfolios: testPortfolio.ofdb
              themes: testTheme
              categories: testCategory
              userRelevanceScore:
                gt: 0
                gte: 0
                lt: 0
                lte: 0
              sort: -userRelevanceScore
              resolveIdentifiers: true
              propertyFilter:
                portfolioUniqueId: abc-xyz-def
            schema:
              $ref: '#/components/schemas/eventRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requestId: MSFT-US
                  companyName: Microsoft Corporation
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 4a21ee8f-9eea-466b-91ff-49946b18a500
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.
                  created: 2024-08-21T16:16:51.595Z
                  updated: 2024-08-21T16:16:51.595Z
                  details:
                    price: 418.47
                    priceDate: 2024-08-16
                    priceCurrency: USD
                    "1MoPriceChange": -6.90737
                    "3MoPriceChange": -0.598586
                    eventIndicator: Positive
                    ytdPriceChange: 11.2834
                    "1WeekPriceChange": 2.86621
                    "52WeekPriceChange": 30.6086
                    significantPriceScope: YTD
                - requestId: AMZN-US
                  companyName: Amazon.com, Inc.
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: fbdcf03e-3225-44b2-9350-049b2730f118
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.
                  created: 2024-08-21T16:16:48.196Z
                  updated: 2024-08-21T16:16:48.196Z
                  details:
                    price: 177.06
                    priceDate: 2024-08-16
                    priceCurrency: USD
                    "1MoPriceChange": -8.26858
                    "3MoPriceChange": -3.57785
                    eventIndicator: Positive
                    ytdPriceChange: 16.5328
                    "1WeekPriceChange": 6.15108
                    "52WeekPriceChange": 31.0876
                    significantPriceScope: YTD
                meta:
                  signalRequestId: 2b8a6969-af32-4878-8124-758715b19baa
                  sort:
                  - -userRelevanceScore
                  idResolutions:
                    tickerRegion:
                      MSFT-US: MSFT-US
                      AMZN-US: AMZN-US
                    regionalPermId:
                      MSFT-US: P8R3C2-R
                      AMZN-US: MCNYYL-R
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:40:50.444Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T21:40:50.444Z
                  pagination:
                    total: 2
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventDetails'
          description: OK
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
      tags:
      - Events
      x-contentType: application/json
      x-accepts: application/json
  /events/details/{eventId}:
    get:
      description: Fetch Signals event headlines plus all additional event details
        for a single requested Signal event
      operationId: getEventDetailById
      parameters:
      - description: The UUID of the event to return.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          format: uuid
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  requestId: 000Q07-E
                  companyName: Microsoft Corporation
                  signalId: significantPriceChange
                  signalName: 10% Price Change
                  theme: Prices
                  source: FactSet
                  userRelevanceScore: 0.733
                  eventId: 4a21ee8f-9eea-466b-91ff-49946b18a500
                  eventDate: 2024-08-16
                  summary: On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.
                  created: 2024-08-21T16:16:51.595Z
                  updated: 2024-08-21T16:16:51.595Z
                  details:
                    price: 418.47
                    priceDate: 2024-08-16
                    priceCurrency: USD
                    "1MoPriceChange": -6.90737
                    "3MoPriceChange": -0.598586
                    eventIndicator: Positive
                    ytdPriceChange: 11.2834
                    "1WeekPriceChange": 2.86621
                    "52WeekPriceChange": 30.6086
                    significantPriceScope: YTD
                meta:
                  signalRequestId: 5a8384b2-3851-4490-bd41-ef8a196dba6e
                  idResolutions:
                    tickerRegion:
                      "000Q07-E": MSFT-US
                    regionalPermId:
                      "000Q07-E": P8R3C2-R
                  pagination:
                    total: 0
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventDetail'
          description: OK
        "404":
          content:
            application/json:
              example:
                message: Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626
                errors:
                - id: aa03dc88-4806-4ea7-b075-58c2e28657cf
                  code: notFound
                  title: The requested resource is not available.
                  detail: Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-accepts: application/json
  /events/adaptive-cards:
    get:
      description: 'Fetch Microsoft''s Adaptive Cards, which includes headlines and
        event details data plus hyperlinks to FactSet reports, based on at least one
        of the following filtering parameters: `ids`, `portfolios`'
      operationId: getEventAdaptiveCards
      parameters:
      - description: A date/time (UTC) interval for filtering signal events based
          on their creation date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: created
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: A date/time (UTC) interval for filtering signal events based
          on their last updated date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: updated
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: Comma delimited string of signalIds
        example: dilutionTrigger,freeCashFlow
        explode: true
        in: query
        name: signalIds
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of identifiers. An identifier can be a
          ticker, FactSet entity id, CUSIP or ISIN. You must provide a list of identifiers
          either via a ids or a portfolios parameter. If both are provided, only ids
          filter is used. Users with limited access can use only the ids filter and
          provide at most 10 ids.
        example: FDS-US,AMZN-US
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: Name of a portfolio file stored by FactSet. If the portfolio
          contains more than 1,000 ids, only the first 1,000 ids are processed (e.g.
          client:techstocks.ofdb). Please note that using this parameter requires
          full subscription to Signals API.
        explode: true
        in: query
        name: portfolios
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of theme ids. Full list of signal themes
          can be viewed at /themes.
        explode: true
        in: query
        name: themes
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of category ids. Full list of signal categories
          can be viewed at /categories.
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: A range for filtering signal events based on their relevancy
          score.
        examples:
          lowerBound:
            value:
              gte: 0
          upperBound:
            value:
              lt: 1
          bothBounds:
            value:
              gt: 0
              lt: 1
        explode: true
        in: query
        name: userRelevanceScore
        required: false
        schema:
          $ref: '#/components/schemas/RelevanceScoreRange'
        style: deepObject
      - description: Comma delimited string of sortable attributes. The sort order
          for each sort attribute is ascending unless it is prefixed with a minus
          sign, in which case it is descending. If sort is not provided, the default
          sort applied is -userRelevanceScore (userRelevanceScore in descending order).
        example: -userRelevanceScore,-eventDate
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The api will return resolved identifiers in the meta section
          of the response by default (true). If the parameter is false, the api will
          not attempt to resolve the identifiers.
        example: true
        explode: true
        in: query
        name: resolveIdentifiers
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requestId: GOOG-US
                  signalId: debtMaturingBond
                  adaptiveCard:
                    type: AdaptiveCard
                    $schema: http://adaptivecards.io/schemas/adaptive-card.json
                    version: "1.0"
                    body:
                    - text: Alphabet (GOOGL-US) has one bond totaling USD 2,000.00
                        million that will be maturing in 24 months
                      type: TextBlock
                      wrap: true
                      size: Default
                      weight: Bolder
                      fds:
                        fdsStyle: text-4
                    - type: Container
                      items:
                      - type: Container
                        separator: true
                        items:
                        - type: ColumnSet
                          columns:
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Bond ID
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: US02079KAC18
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Maturity Date
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: 15 Aug '26
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Amount
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: USD 2,000 Million
                                type: TextBlock
                                wrap: true
                                spacing: None
                        - text: '[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)'
                          type: TextBlock
                          wrap: true
                          size: Default
                          weight: Default
                          fds:
                            fdsStyle: text-1
                    - text: 'Source: FactSet'
                      type: TextBlock
                      wrap: true
                      size: Small
                      weight: Default
                      fds:
                        fdsStyle: text-20
                        color: Light
                - requestId: GOOG-US
                  signalId: debtMaturingBond
                  adaptiveCard:
                    type: AdaptiveCard
                    $schema: http://adaptivecards.io/schemas/adaptive-card.json
                    version: "1.0"
                    body:
                    - text: Alphabet (GOOGL-US) has two bond totaling USD 2,000.00
                        million that will be maturing in 24 months
                      type: TextBlock
                      wrap: true
                      size: Default
                      weight: Bolder
                      fds:
                        fdsStyle: text-4
                    - type: Container
                      items:
                      - type: Container
                        separator: true
                        items:
                        - type: ColumnSet
                          columns:
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Bond ID
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: US02079KAC18
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Maturity Date
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: 15 Aug '26
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Amount
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: USD 2,000 Million
                                type: TextBlock
                                wrap: true
                                spacing: None
                        - text: '[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)'
                          type: TextBlock
                          wrap: true
                          size: Default
                          weight: Default
                          fds:
                            fdsStyle: text-1
                    - text: 'Source: FactSet'
                      type: TextBlock
                      wrap: true
                      size: Small
                      weight: Default
                      fds:
                        fdsStyle: text-20
                        color: Light
                meta:
                  signalRequestId: 81024cf7-8b40-4845-ab98-ece81b091f1e
                  sort:
                  - -userRelevanceScore
                  idResolutions:
                    tickerRegion:
                      GOOG-US: GOOG-US
                    regionalPermId:
                      GOOG-US: WFJYTJ-R
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:10:58.294Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:10:58.294Z
                  pagination:
                    total: 4
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventAdaptiveCards'
          description: OK
        "400":
          content:
            application/json:
              example:
                message: A parameter in the request has an invalid value or a required
                  parameter is missing.
                errors:
                - id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  code: parameterError
                  title: Required param 'exampleParam' was not provided
                  detail: A parameter in the request has an invalid value or a required
                    parameter is missing.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-factset-sdk-ignore: true
      x-accepts: application/json
    post:
      description: 'Fetch Microsoft''s Adaptive Cards, which includes headlines and
        event details data plus hyperlinks to FactSet reports, based on at least one
        of the following filtering parameters: `ids`, `portfolios`'
      operationId: postEventAdaptiveCards
      requestBody:
        content:
          application/json:
            example:
              created:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              updated:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              signalIds: dilutionTrigger,freeCashFlow
              ids: FDS-US,AMZN-US
              portfolios: testPortfolio.ofdb
              themes: testTheme
              categories: testCategory
              userRelevanceScore:
                gt: 0
                gte: 0
                lt: 0
                lte: 0
              sort: -userRelevanceScore
              resolveIdentifiers: true
              propertyFilter:
                portfolioUniqueId: abc-xyz-def
            schema:
              $ref: '#/components/schemas/eventRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - requestId: GOOG-US
                  signalId: debtMaturingBond
                  adaptiveCard:
                    type: AdaptiveCard
                    $schema: http://adaptivecards.io/schemas/adaptive-card.json
                    version: "1.0"
                    body:
                    - text: Alphabet (GOOGL-US) has one bond totaling USD 2,000.00
                        million that will be maturing in 24 months
                      type: TextBlock
                      wrap: true
                      size: Default
                      weight: Bolder
                      fds:
                        fdsStyle: text-4
                    - type: Container
                      items:
                      - type: Container
                        separator: true
                        items:
                        - type: ColumnSet
                          columns:
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Bond ID
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: US02079KAC18
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Maturity Date
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: 15 Aug '26
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Amount
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: USD 2,000 Million
                                type: TextBlock
                                wrap: true
                                spacing: None
                        - text: '[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)'
                          type: TextBlock
                          wrap: true
                          size: Default
                          weight: Default
                          fds:
                            fdsStyle: text-1
                    - text: 'Source: FactSet'
                      type: TextBlock
                      wrap: true
                      size: Small
                      weight: Default
                      fds:
                        fdsStyle: text-20
                        color: Light
                - requestId: GOOG-US
                  signalId: debtMaturingBond
                  adaptiveCard:
                    type: AdaptiveCard
                    $schema: http://adaptivecards.io/schemas/adaptive-card.json
                    version: "1.0"
                    body:
                    - text: Alphabet (GOOGL-US) has two bond totaling USD 2,000.00
                        million that will be maturing in 24 months
                      type: TextBlock
                      wrap: true
                      size: Default
                      weight: Bolder
                      fds:
                        fdsStyle: text-4
                    - type: Container
                      items:
                      - type: Container
                        separator: true
                        items:
                        - type: ColumnSet
                          columns:
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Bond ID
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: US02079KAC18
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Maturity Date
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: 15 Aug '26
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Amount
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: USD 2,000 Million
                                type: TextBlock
                                wrap: true
                                spacing: None
                        - text: '[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)'
                          type: TextBlock
                          wrap: true
                          size: Default
                          weight: Default
                          fds:
                            fdsStyle: text-1
                    - text: 'Source: FactSet'
                      type: TextBlock
                      wrap: true
                      size: Small
                      weight: Default
                      fds:
                        fdsStyle: text-20
                        color: Light
                meta:
                  signalRequestId: 81024cf7-8b40-4845-ab98-ece81b091f1e
                  sort:
                  - -userRelevanceScore
                  idResolutions:
                    tickerRegion:
                      GOOG-US: GOOG-US
                    regionalPermId:
                      GOOG-US: WFJYTJ-R
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:10:58.294Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:10:58.294Z
                  pagination:
                    total: 4
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventAdaptiveCards'
          description: OK
        "400":
          content:
            application/json:
              example:
                message: A parameter in the request has an invalid value or a required
                  parameter is missing.
                errors:
                - id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  code: parameterError
                  title: Required param 'exampleParam' was not provided
                  detail: A parameter in the request has an invalid value or a required
                    parameter is missing.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-contentType: application/json
      x-accepts: application/json
  /events/adaptive-cards/{eventId}:
    get:
      description: Fetch Microsoft's Adaptive Cards, which includes headlines and
        event details data plus hyperlinks to FactSet reports, for a single requested
        Signal event
      operationId: getEventAdaptiveCardById
      parameters:
      - description: The UUID of the event to return.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          format: uuid
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  requestId: 0FPWZZ-E
                  signalId: debtMaturingBond
                  adaptiveCard:
                    type: AdaptiveCard
                    $schema: http://adaptivecards.io/schemas/adaptive-card.json
                    version: "1.0"
                    body:
                    - text: Alphabet (GOOGL-US) has one bond totaling USD 2,000.00
                        million that will be maturing in 24 months
                      type: TextBlock
                      wrap: true
                      size: Default
                      weight: Bolder
                      fds:
                        fdsStyle: text-4
                    - type: Container
                      items:
                      - type: Container
                        separator: true
                        items:
                        - type: ColumnSet
                          columns:
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Bond ID
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: US02079KAC18
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Maturity Date
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: 15 Aug '26
                                type: TextBlock
                                wrap: true
                                spacing: None
                          - type: Column
                            width: stretch
                            items:
                            - type: Container
                              items:
                              - text: Amount
                                type: TextBlock
                                wrap: true
                                weight: Bolder
                                fds:
                                  weight: Default
                                  color: Light
                              - text: USD 2,000 Million
                                type: TextBlock
                                wrap: true
                                spacing: None
                        - text: '[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)'
                          type: TextBlock
                          wrap: true
                          size: Default
                          weight: Default
                          fds:
                            fdsStyle: text-1
                    - text: 'Source: FactSet'
                      type: TextBlock
                      wrap: true
                      size: Small
                      weight: Default
                      fds:
                        fdsStyle: text-20
                        color: Light
                meta:
                  signalRequestId: bdf8dcee-fe26-40bf-bb24-f878d0393174
                  idResolutions:
                    tickerRegion:
                      "0FPWZZ-E": GOOGL-US
                    regionalPermId:
                      "0FPWZZ-E": HTM0LK-R
                  pagination:
                    total: 0
                    isEstimatedTotal: false
              schema:
                $ref: '#/components/schemas/eventAdaptiveCard'
          description: OK
        "404":
          content:
            application/json:
              example:
                message: Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626
                errors:
                - id: aa03dc88-4806-4ea7-b075-58c2e28657cf
                  code: notFound
                  title: The requested resource is not available.
                  detail: Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-accepts: application/json
  /events/entities:
    get:
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      operationId: getEventEntities
      parameters:
      - description: A date/time (UTC) interval for filtering signal events based
          on their creation date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: created
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: A date/time (UTC) interval for filtering signal events based
          on their last updated date. Defaults to NOW - 7 days if omitted. Users with
          limited access can only provide the default or a smaller date window.
        examples:
          default:
            value: {}
          lowerBound:
            $ref: '#/components/examples/lowerBound'
          upperBound:
            $ref: '#/components/examples/upperBound'
          bothBounds:
            $ref: '#/components/examples/bothBounds'
        explode: true
        in: query
        name: updated
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeInterval'
        style: deepObject
      - description: Comma delimited string of signalIds
        example: dilutionTrigger,freeCashFlow
        explode: true
        in: query
        name: signalIds
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of theme ids. Full list of signal themes
          can be viewed at /themes.
        explode: true
        in: query
        name: themes
        required: false
        schema:
          type: string
        style: form
      - description: Comma delimited string of category ids. Full list of signal categories
          can be viewed at /categories.
        explode: true
        in: query
        name: categories
        required: false
        schema:
          type: string
        style: form
      - description: A range for filtering signal events based on their relevancy
          score.
        examples:
          lowerBound:
            value:
              gte: 0
          upperBound:
            value:
              lt: 1
          bothBounds:
            value:
              gt: 0
              lt: 1
        explode: true
        in: query
        name: userRelevanceScore
        required: false
        schema:
          $ref: '#/components/schemas/RelevanceScoreRange'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - 002FF1-E
                - 000CNJ-E
                - 001HHK-E
                - 002W5H-E
                - 003DJY-E
                - 003B1C-E
                - 0FPWZZ-E
                - 06S9GH-E
                - 0801VG-E
                - 009RJM-E
                - 06KNS6-E
                meta:
                  signalRequestId: 4e36db2d-54cb-4604-b425-170f8f2bc7e3
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:14:58.764Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:14:58.764Z
              schema:
                $ref: '#/components/schemas/eventsEntities'
          description: OK
        "400":
          content:
            application/json:
              example:
                message: A parameter in the request has an invalid value or a required
                  parameter is missing.
                errors:
                - id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  code: parameterError
                  title: Required param 'exampleParam' was not provided
                  detail: A parameter in the request has an invalid value or a required
                    parameter is missing.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-factset-sdk-ignore: true
      x-accepts: application/json
    post:
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      operationId: postEventEntities
      requestBody:
        content:
          application/json:
            example:
              created:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              updated:
                gt: 2021-01-01T00:00:00Z
                gte: 2021-01-01T00:00:00Z
                lt: 2021-01-01T00:00:00Z
                lte: 2021-01-01T00:00:00Z
              signalIds: dilutionTrigger,freeCashFlow
              themes: testTheme
              categories: testCategory
              userRelevanceScore:
                gt: 0
                gte: 0
                lt: 0
                lte: 0
            schema:
              $ref: '#/components/schemas/eventsEntitiesPost'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - 002FF1-E
                - 000CNJ-E
                - 001HHK-E
                - 002W5H-E
                - 003DJY-E
                - 003B1C-E
                - 0FPWZZ-E
                - 06S9GH-E
                - 0801VG-E
                - 009RJM-E
                - 06KNS6-E
                meta:
                  signalRequestId: 4e36db2d-54cb-4604-b425-170f8f2bc7e3
                  dateRange:
                    created:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:14:58.764Z
                    updated:
                      gte: 2024-08-15T00:00:00.000Z
                      lte: 2024-08-22T22:14:58.764Z
              schema:
                $ref: '#/components/schemas/eventsEntities'
          description: OK
        "400":
          content:
            application/json:
              example:
                message: A parameter in the request has an invalid value or a required
                  parameter is missing.
                errors:
                - id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  code: parameterError
                  title: Required param 'exampleParam' was not provided
                  detail: A parameter in the request has an invalid value or a required
                    parameter is missing.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Events
      x-contentType: application/json
      x-accepts: application/json
  /data-dictionary:
    get:
      description: Fetch a list of all active signals
      operationId: getDataDictionary
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: debtMaturingBond
                  name: Bonds Maturing in 24 Months
                  description: The company has bonds maturing in 24 months, the Signal
                    does not include Finance companies (RBICS 30).
                - id: testSignal
                  name: Test Signal
                  description: Signal description
              schema:
                $ref: '#/components/schemas/signalMetaData'
          description: OK
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Metadata
      x-accepts: application/json
  /data-dictionary/{signalId}:
    get:
      description: Fetch the metadata and contract for the requested signal
      operationId: getDataDictionaryById
      parameters:
      - description: A single signalId.
        example: dilutionTrigger
        explode: false
        in: path
        name: signalId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  signalId: debtMaturingBond
                  description: The company has bonds maturing in 24 months, the Signal
                    does not include Finance companies (RBICS 30).
                  theme: debtCapitalStructure
                  categories:
                  - credit
                  - capitalStructure
                  - debt
                  contract:
                    fields:
                      summary:
                        description: Detail message regarding bond maturity
                        type: string
                      eventDate:
                        description: Event date for bond maturity - YYYY-MM-DD
                        type: date
                      shortDetailMessage:
                        description: Short detail message regarding bond maturity
                        type: string
                        optional: true
                      bondId:
                        description: Bond ID - ISIN else 9-digit CUSIP
                        type: array
                        items:
                          type: string
                    version: "1.0"
              schema:
                $ref: '#/components/schemas/signalDefinition'
          description: OK
        "404":
          content:
            application/json:
              example:
                message: Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626
                errors:
                - id: aa03dc88-4806-4ea7-b075-58c2e28657cf
                  code: notFound
                  title: The requested resource is not available.
                  detail: Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Not found
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Metadata
      x-accepts: application/json
  /themes:
    get:
      description: Fetch a list of available signal themes
      operationId: getThemes
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: estimates
                  name: Estimates
                  description: Derived from comprehensive consensus- and detail-level
                    estimates and statistics from investment banks and research firms,
                    including segment estimates and company-issued guidance and actuals,
                    as well as commodities and sector-specific data
                - id: prices
                  name: Prices
                  description: Derived mainly from pricing and related data (trading
                    volume, price impact and history, etc.)
                - id: fundamentals
                  name: Fundamentals
                  description: Derived mainly from historical financial statement
                    content, annual and interim/quarterly data, calculated ratios,
                    and per share data
              schema:
                $ref: '#/components/schemas/signalMetaData'
          description: OK
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Metadata
      x-accepts: application/json
  /categories:
    get:
      description: Fetch a list of available signal categories
      operationId: getCategories
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: fundamentals
                  name: fundamentals
                  description: Relevant change in data reported by the company
                - id: price
                  name: price
                  description: Events related to the stock price
                - id: estimates
                  name: estimates
                  description: Meaningful changes to the estimate profile of a company
                - id: debt
                  name: debt
                  description: Awareness of a company's bond exposure and obligations
              schema:
                $ref: '#/components/schemas/signalMetaData'
          description: OK
        "429":
          content:
            application/json:
              example:
                message: API rate limit exceeded
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        "500":
          content:
            application/json:
              example:
                message: An error occurred while processing the request.
                errors:
                - code: genericServerError
                  detail: An error occurred while processing the request.
                  id: b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33
                  title: An unexpected error happened.
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error
      tags:
      - Metadata
      x-accepts: application/json
components:
  examples:
    lowerBound:
      value:
        gt: 2022-01-01T00:00:00.000Z
    upperBound:
      value:
        lt: 2022-01-02T00:00:00.000Z
    bothBounds:
      value:
        gt: 2022-01-01T00:00:00.000Z
        lt: 2022-01-02T00:00:00.000Z
  headers:
    Api-Version:
      description: Full semantic version of the API.
      explode: false
      schema:
        example: 1.0.0
        type: string
      style: simple
    Api-Supported-Versions:
      description: Comma-separated list of supported major versions.
      explode: false
      schema:
        example: "1"
        type: string
      style: simple
    RateLimit-Limit:
      description: Total number of requests allowed in a specific time window. The
        time window is two seconds for regular API users and one week for limited
        access users.
      explode: false
      schema:
        example: 5
        type: integer
      style: simple
    RateLimit-Remaining:
      description: Remaining number of requests in the current time window.
      explode: false
      schema:
        example: 4
        type: integer
      style: simple
    RateLimit-Reset:
      description: Time remaining (in seconds) until the quota is reset.
      explode: false
      schema:
        example: 1000
        type: integer
      style: simple
  parameters:
    createdParam:
      description: A date/time (UTC) interval for filtering signal events based on
        their creation date. Defaults to NOW - 7 days if omitted. Users with limited
        access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
      explode: true
      in: query
      name: created
      required: false
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
    updatedParam:
      description: A date/time (UTC) interval for filtering signal events based on
        their last updated date. Defaults to NOW - 7 days if omitted. Users with limited
        access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
      explode: true
      in: query
      name: updated
      required: false
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
    signalIdsParam:
      description: Comma delimited string of signalIds
      example: dilutionTrigger,freeCashFlow
      explode: true
      in: query
      name: signalIds
      required: false
      schema:
        type: string
      style: form
    idsParam:
      description: Comma delimited string of identifiers. An identifier can be a ticker,
        FactSet entity id, CUSIP or ISIN. You must provide a list of identifiers either
        via a ids or a portfolios parameter. If both are provided, only ids filter
        is used. Users with limited access can use only the ids filter and provide
        at most 10 ids.
      example: FDS-US,AMZN-US
      explode: true
      in: query
      name: ids
      required: false
      schema:
        type: string
      style: form
    portfoliosParam:
      description: Name of a portfolio file stored by FactSet. If the portfolio contains
        more than 1,000 ids, only the first 1,000 ids are processed (e.g. client:techstocks.ofdb).
        Please note that using this parameter requires full subscription to Signals
        API.
      explode: true
      in: query
      name: portfolios
      required: false
      schema:
        type: string
      style: form
    themesParam:
      description: Comma delimited string of theme ids. Full list of signal themes
        can be viewed at /themes.
      explode: true
      in: query
      name: themes
      required: false
      schema:
        type: string
      style: form
    categoriesParam:
      description: Comma delimited string of category ids. Full list of signal categories
        can be viewed at /categories.
      explode: true
      in: query
      name: categories
      required: false
      schema:
        type: string
      style: form
    relevanceScoreParam:
      description: A range for filtering signal events based on their relevancy score.
      examples:
        lowerBound:
          value:
            gte: 0
        upperBound:
          value:
            lt: 1
        bothBounds:
          value:
            gt: 0
            lt: 1
      explode: true
      in: query
      name: userRelevanceScore
      required: false
      schema:
        $ref: '#/components/schemas/RelevanceScoreRange'
      style: deepObject
    eventIdParam:
      description: The UUID of the event to return.
      explode: false
      in: path
      name: eventId
      required: true
      schema:
        format: uuid
        minimum: 1
        type: string
      style: simple
    signalIdParam:
      description: A single signalId.
      example: dilutionTrigger
      explode: false
      in: path
      name: signalId
      required: true
      schema:
        type: string
      style: simple
    sortParam:
      description: Comma delimited string of sortable attributes. The sort order for
        each sort attribute is ascending unless it is prefixed with a minus sign,
        in which case it is descending. If sort is not provided, the default sort
        applied is -userRelevanceScore (userRelevanceScore in descending order).
      example: -userRelevanceScore,-eventDate
      explode: true
      in: query
      name: sort
      required: false
      schema:
        type: string
      style: form
    resolveIdentifiersParam:
      description: The api will return resolved identifiers in the meta section of
        the response by default (true). If the parameter is false, the api will not
        attempt to resolve the identifiers.
      example: true
      explode: true
      in: query
      name: resolveIdentifiers
      required: false
      schema:
        type: boolean
      style: form
  schemas:
    errorResponse:
      description: The response returned for an unsuccessful request
      properties:
        message:
          description: A short description of the error.
          example: There was an error processing your request. Please try again later.
          type: string
        errors:
          description: Optional list of errors. e.g. Validation errors for multiple
            parameters
          items:
            $ref: '#/components/schemas/errorItem'
          type: array
      required:
      - message
      type: object
    rateLimitResponse:
      description: Error returned if any of the user's rate limit have been reached.
      properties:
        message:
          description: Detail about the rate limit error.
          example: API rate limit exceeded
          type: string
      title: Rate Limit Error Object
      type: object
    errorItem:
      description: Details about an unsuccessful request
      example:
        code: parameterError
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        detail: Value must be a valid UTC date/time that conforms to ISO 8601 format
        source:
          parameter: parameter
        title: Invalid type/value
      properties:
        id:
          description: A unique identifier for the error object
          format: uuid
          type: string
        code:
          description: Error type
          example: parameterError
          type: string
        title:
          description: Condition that caused the error
          example: Invalid type/value
          type: string
        detail:
          description: A short description of the error.
          example: Value must be a valid UTC date/time that conforms to ISO 8601 format
[...]
