openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    FactSet ESG (powered by FactSet Truvalue Labs) applies machine learning to uncover risks and opportunities from companies' Environmental, Social and Governance (ESG) behavior, which are aggregated and categorized into continuously updated, material ESG scores. The service focuses on company ESG behavior from external sources and includes both positive and negative events that go beyond traditional sources of ESG risk data.<p> FactSet ESG extracts, analyzes, and generates scores from millions of documents each month collected from more than 100,000 data sources in over 30 languages. Sources include news, trade journals, NGOs, watchdog groups, trade blogs, industry reports and social media. Products deliver investable insights by revealing value and risk factors from unstructured data at the speed of current events.</p>
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet ESG API
  version: 1.7.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-esg-api
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get scores and ranks based on the 26 SASB categories for a requested
    list of symbols and date range.
  name: SASB
- description: Get Spotlight data for the most important positive and negative ESG
    events
  name: Spotlights
- description: Get Articles data for the most important positive and negative ESG
    events
  name: Articles
paths:
  /factset-esg/v1/sasb-scores:
    get:
      description: |
        FactSet Truvalue Labs SASB Scores provides short-term, long-term, and momentum scores that are generated for 26 ESG categories defined by the Sustainability Accounting Standards Board. FactSet Truvalue also calculates a custom overall score called ALLCATEGORIES, can indicate data volume flow, and the Dynamic Materiality of that data flow.
      operationId: getSasbScores
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may exceed this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: |
          The FactSet Truvalue Score types being requested. Score Types include the Pulse, Insight, Momentum, Article Volume, Category Volume, Dynamic Materiality Score, Adjusted Insight, and Industry Percentile. When left blank all score types will be returned for the requested Id. To specify select scores returned in the response, provide a comma-separated list of the scores using the description below.
          <p>These scores use the same underlying data and 100-point scale, except for ranks and percentiles. The cognitive computing system behind FactSet's Truvalue Platform uses natural language processing to interpret semantic content and generate analytics. It does so by applying criteria that are consistent with established sustainability and ESG frameworks, scoring data points on performance using a 0 to 100 scale. A score of 50 represents a neutral impact. Scores above 50 indicate positive performance, and scores below reflect negative performance.</p>

          ### ESG Score Types

          |**SASB Category Input**|**Description**|
          |---|---|
          |**PULSE**|*Pulse Score*, is a measure of near-term performance changes that highlights opportunities and controversies, enabling real-time monitoring of companies. It focuses on events of the day and provides a responsive signal to alert investors to dynamic moves.|
          |**INSIGHT**|*Insight Score*, a measure of a company’s longer-term ESG track record, similar to a ratings system. Scores are less sensitive to daily events and reflect the enduring performance record of a company over time. Scores are derived using an exponentially-weighted moving average of the Pulse, defined below, and the half-life of an event’s influence on the overall score is 6 months.|
          |**MOMENTUM**|*Momentum Score*, measures the trend of a company's Insight score. It is a unique ESG metric in the industry that gives investors a high-precision view of the trajectory of a company’s ESG performance, relative to peers. It does so by precisely articulating upward or downward movement, relative to that of all others in the universe, making it a measure that enhances quantitative workflows.|
          |**ART_VOL_TTM**|*Article Volume Score*, measures the information flow or number of articles about a company over the past 12 months.|
          |**CAT_VOL_TTM**|*Category Volume Score*, returns the total number of times any of the 26 categories received a score over a trailing twelve-month (TTM) period of time.|
          |**DYNAMIC_MAT**|*Dynamic Materiality Score*, shows the percentage value of data flow by category compared with the total data flow for the organization **(NOT VALID for `ALLCATEGORIES` and `MATERIALITY` category types).**|
          |**ADJ_INSIGHT**|*Adjusted Insight*, Measures company ESG performance, generating scores for lower-volume and zero-volume firms by blending company scores with industry medians. **(ONLY Vaild for `ALLCATEGORIES` and `MATERIALITY` categories). <p>**Adjusted Insight Score = (# of articles / 5) x Company Insight Score + ((5 - # of articles) / 5) x Industry (or Sector) Median Insight Score.</p>|
          |**IND_PCTL**|*Industry Percentile*, offers context on company Adjusted Insight scores relative to peers in the same SICS Industry. This value is used to establish the textual ESG Rank. **(ONLY Vaild for `ALLCATEGORIES` and `MATERIALITY` categories).**|

          ### Helper Input
          **ALL**= *Ability to fetch all of the "scoreTypes" listed above in a simplified query.* This is used by default and removes the need to explitly request each scoreType in the list.
        example:
        - PULSE
        - INSIGHT
        - MOMENTUM
        explode: false
        in: query
        name: scoreTypes
        required: false
        schema:
          default:
          - ALL
          items:
            type: string
          maxItems: 8
          minItems: 1
          type: array
        style: form
      - description: "The SASB Categories requested for the respective scoreType(s).\
          \ The default value is **ALLCATEGORIES**, which represents all 26 categories\
          \ in a single overall score. To request a specifc category or list of categories,\
          \ simply input the category names below. \n\n### SASB Categories\n|**SASB\
          \ Category Inputs**|**Description**|\n|---|---|\n|**ALLCATEGORIES**|**All\
          \ Categories** - this category represents a company's overall SASB Score\
          \ for the specific 'scoreType'. This value is equal to the cumulative average\
          \ of all 26 SASB categories for the specific 'scoreType'.*Note that category\
          \ is not available for the Dynamic Materiality 'scoreType'.\n|**ACCESSANDAFFORDABILITY**|**Access\
          \ and Affordability** - The category addresses a company's ability to ensure\
          \ broad access to its products and services, specifically in the context\
          \ of underserved markets and/or population groups. It includes the management\
          \ of issues related to universal needs, such as the accessibility and affordability\
          \ of health care, financial services, utilities , education, and telecommunications.|\n\
          |**AIRQUALITY**|**Air Quality** - the category addresses management of air\
          \ quality impacts resulting from stationary (e.g., factories, power plants)\
          \ and mobile sources (e.g., trucks, delivery vehicles, planes) as well as\
          \ industrial emissions. Relevant airborne pollutants include, but are not\
          \ limited to, oxides of nitrogen (NOx), oxides of sulfur (SOx), volatile\
          \ organic compounds (VOCs), heavy metals, particulate matter, and chlorofluorocarbons.\
          \ The category does not include GHG emissions, which are addressed in a\
          \ separate category.|\n|**BUSINESSETHICS**|**Business Ethics** - the category\
          \ addresses the company's approach to managing risks and opportunities surrounding\
          \ ethical conduct of business, including fraud, corruption, bribery and\
          \ facilitation payments, fiduciary responsibilities, and other behavior\
          \ that may have an ethical component. This includes sensitivity to business\
          \ norms and standards as they shift over time, jurisdiction, and culture.\
          \ It addresses the company's ability to provide services that satisfy the\
          \ highest professional and ethical standards of the industry, which means\
          \ to avoid conflicts of interest, misrepresentation, bias, and negligence\
          \ through training employees adequately and implementing policies and procedures\
          \ to ensure employees provide services free from bias and error.|\n|**BUSMODELRESILIENCE**|**Business\
          \ Model Resilience** - the category addresses an industry's capacity to\
          \ manage risks and opportunities associated with incorporating social, environmental,\
          \ and political transitions into long-term business model planning. This\
          \ includes responsiveness to the transition to a low-carbon and climate-constrained\
          \ economy, as well as growth and creation of new markets among unserved\
          \ and underserved socioeconomic populations. The category highlights industries\
          \ in which evolving environmental and social realities may challenge companies\
          \ to fundamentally adapt or may put their business models at risk.|\n|**COMPETITIVEBEHAVIOR**|**Competitive\
          \ Behavior** - the category covers social issues associated with existence\
          \ of monopolies, which may include, but are not limited to, excessive prices,\
          \ poor quality of service, and inefficiencies. It addresses a company's\
          \ management of legal and social expectation around monopolistic and anti-competitive\
          \ practices, including issues related to bargaining power, collusion, price\
          \ fixing or manipulation, and protection of patents and intellectual property\
          \ (IP).|\n|**CRITINCIDENTRISKMGT**|**Critical Incident Risk Management**\
          \ - the category addresses the company's use of management systems and scenario\
          \ planning to identify, understand, and prevent or minimize the occurrence\
          \ of low-probability, high-impact accidents and emergencies with significant\
          \ potential environmental and social externalities. It relates to the culture\
          \ of safety at a company, its relevant safety management systems and technological\
          \ controls, the potential human, environmental, and social implications\
          \ of such events occurring, and the long-term effects to an organization,\
          \ its workers, and society should these events occur.|\n|**CUSTOMERPRIVACY**|**Customer\
          \ Privacy** - the category addresses management of risks related to the\
          \ use of personally identifiable information (PII) and other customer or\
          \ user data for secondary purposes including but not limited to marketing\
          \ through affiliates and non-affiliates. The scope of the category includes\
          \ social issues that may arise from a company's approach to collecting data,\
          \ obtaining consent (e.g., opt-in policies), managing user and customer\
          \ expectations regarding how their data is used, and managing evolving regulation.\
          \ It excludes social issues arising from cybersecurity risks, which are\
          \ covered in a separate category.|\n|**CUSTWELFARE**|**Customer Welfare**\
          \ - the category addresses customer welfare concerns over issues including,\
          \ but not limited to, health and nutrition of foods and beverages, antibiotic\
          \ use in animal production, and management of controlled substances. The\
          \ category addresses the company's ability to provide consumers with manufactured\
          \ products and services that are aligned with societal expectations. It\
          \ does not include issues directly related to quality and safety malfunctions\
          \ of manufactured products and services, but instead addresses qualities\
          \ inherent to the design and delivery of products and services where customer\
          \ welfare may be in question. The scope of the category also captures companies'\
          \ ability to prevent counterfeit products.|\n|**DATASECURITY**|**Data Security**\
          \ - the category addresses management of risks related to collection, retention,\
          \ and use of sensitive, confidential, and/or proprietary customer or user\
          \ data. It includes social issues that may arise from incidents such as\
          \ data breaches in which personally identifiable information (PII) and other\
          \ user or customer data may be exposed. It addresses a company's strategy,\
          \ policies, and practices related to IT infrastructure, staff training,\
          \ record keeping, cooperation with law enforcement, and other mechanisms\
          \ used to ensure security of customer or user data.|\n|**ECOLOGICALIMPACTS**|**Ecological\
          \ Impacts** - the category addresses management of the company's impacts\
          \ on ecosystems and biodiversity through activities including, but not limited\
          \ to, land use for exploration, natural resource extraction, and cultivation,\
          \ as well as project development, construction, and siting. The impacts\
          \ include, but are not limited to, biodiversity loss, habitat destruction,\
          \ and deforestation at all stages – planning, land acquisition, permitting,\
          \ development, operations, and site remediation. The category does not cover\
          \ impacts of climate change on ecosystems and biodiversity.|\n|**EMPENGDIVANDINC**|**Employee\
          \ Engagement Diversity and Inclusion** - the category addresses a company's\
          \ ability to ensure that its culture and hiring and promotion practices\
          \ embrace the building of a diverse and inclusive workforce that reflects\
          \ the makeup of local talent pools and its customer base. It addresses the\
          \ issues of discriminatory practices on the bases of race, gender, ethnicity,\
          \ religion, sexual orientation, and other factors.|\n|**EMPHEALTHANDSAFETY**|**Employee\
          \ Health and Safety** - the category addresses a company's ability to create\
          \ and maintain a safe and healthy workplace environment that is free of\
          \ injuries, fatalities, and illness (both chronic and acute). It is traditionally\
          \ accomplished through implementing safety management plans, developing\
          \ training requirements for employees and contractors, and conducting regular\
          \ audits of their own practices as well as those of their subcontractors.\
          \ The category further captures how companies ensure physical and mental\
          \ health of workforce through technology, training, corporate culture, regulatory\
          \ compliance, monitoring and testing, and personal protective equipment.|\n\
          |**ENERGYMGT**|**Energy Management** - the category addresses environmental\
          \ impacts associated with energy consumption. It addresses the company's\
          \ management of energy in manufacturing and/or for provision of products\
          \ and services derived from utility providers (grid energy) not owned or\
          \ controlled by the company. More specifically, it includes management of\
          \ energy efficiency and intensity, energy mix, as well as grid reliance.\
          \ Upstream (e.g., suppliers) and downstream (e.g., product use) energy use\
          \ is not included in the scope.|\n|**GHGEMISSIONS**|**Greenhouse Gas Emissions**\
          \ - the category addresses direct (Scope 1) greenhouse gas (GHG) emissions\
          \ that a company generates through its operations. This includes GHG emissions\
          \ from stationary (e.g., factories, power plants) and mobile sources (e.g.,\
          \ trucks, delivery vehicles, planes), whether a result of combustion of\
          \ fuel or non-combusted direct releases during activities such as natural\
          \ resource extraction, power generation, land use, or biogenic processes.\
          \ The category further includes management of regulatory risks, environmental\
          \ compliance, and reputational risks and opportunities, as they related\
          \ to direct GHG emissions. The seven GHGs covered under the Kyoto Protocol\
          \ are included within the category— carbon dioxide (CO2 ), methane (CH4),\
          \ nitrous oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs),\
          \ sulfur hexafluoride (SF6), and nitrogen trifluoride (NF3).|\n|**HUMANRIGHTSANDCOMRELS**|**Human\
          \ Rights and Community Relations** - the category addresses management of\
          \ the relationship between businesses and the communities in which they\
          \ operate, including, but not limited to, management of direct and indirect\
          \ impacts on core human rights and the treatment of indigenous peoples.\
          \ More specifically, such management may cover socio-economic community\
          \ impacts, community engagement, environmental justice, cultivation of local\
          \ workforces, impact on local businesses, license to operate, and environmental/social\
          \ impact assessments. The category does not include environmental impacts\
          \ such as air pollution or waste which, although they may impact the health\
          \ and safety of members of local communities, are addressed in separate\
          \ categories.|\n|**LABORPRACTICES**|**Labor Practices** - the category addresses\
          \ the company's ability to uphold commonly accepted labor standards in the\
          \ workplace, including compliance with labor laws and internationally accepted\
          \ norms and standards. This includes, but is not limited to, ensuring basic\
          \ human rights related to child labor, forced or bonded labor, exploitative\
          \ labor, fair wages and overtime pay, and other basic workers' rights. It\
          \ also includes minimum wage policies and provision of benefits, which may\
          \ influence how a workforce is attracted, retained, and motivated. The category\
          \ further addresses a company's relationship with organized labor and freedom\
          \ of association.|\n|**MGTOFLEGALANDREGENV**|**Management of the Legal and\
          \ Regulatory Environment** - the category addresses a company's approach\
          \ to engaging with regulators in cases where conflicting corporate and public\
          \ interests may have the potential for long-term adverse direct or indirect\
          \ environmental and social impacts. The category addresses a company's level\
          \ of reliance upon regulatory policy or monetary incentives (such as subsidies\
          \ and taxes), actions to influence industry policy (such as through lobbying),\
          \ overall reliance on a favorable regulatory environment for business competitiveness,\
          \ and ability to comply with relevant regulations. It may relate to the\
          \ alignment of management and investor views of regulatory engagement and\
          \ compliance at large.|\n|**MATSOURCINGANDEFF**|**Materials Sourcing and\
          \ Efficiency** - the category addresses issues related to the resilience\
          \ of materials supply chains to impacts of climate change and other external\
          \ environmental and social factors. It captures the impacts of such external\
          \ factors on operational activity of suppliers, which can further affect\
          \ availability and pricing of key resources. It addresses a company's ability\
          \ to manage these risks through product design, manufacturing, and end-of-life\
          \ management, such as by using of recycled and renewable materials, reducing\
          \ the use of key materials (dematerialization), maximizing resource efficiency\
          \ in manufacturing, and making R&D investments in substitute materials.\
          \ Additionally, companies can manage these issues by screening, selection,\
          \ monitoring, and engagement with suppliers to ensure their resilience to\
          \ external risks. It does not address issues associated with environmental\
          \ and social externalities created by operational activity of individual\
          \ suppliers, which is covered in a separate category.|\n|**MATERIALITY**|**Materiality**\
          \ - this category represents a composite score of all 'material' SASB categories\
          \ for the given entity. For more information on SASB's Materiality Map,\
          \ visit [materiality.sasb.org](https://materiality.sasb.org/)|\n|**PHYIMPACTSOFCLIMATECHG**|**Physical\
          \ Impacts of Climate Change** - the category addresses the company's ability\
          \ to manage risks and opportunities associated with direct exposure of its\
          \ owned or controlled assets and operations to actual or potential physical\
          \ impacts of climate change. It captures environmental and social issues\
          \ that may arise from operational disruptions due to physical impacts of\
          \ climate change. It further captures socioeconomic issues resulting from\
          \ companies failing to incorporate climate change consideration in products\
          \ and services sold, such as insurance policies and mortgages. The category\
          \ relates to the company's ability to adapt to increased frequency and severity\
          \ of extreme weather, shifting climate, sea level risk, and other expected\
          \ physical impacts of climate change. Management may involve enhancing resiliency\
          \ of physical assets and/or surrounding infrastructure as well as incorporation\
          \ of climate change-related considerations into key business activities\
          \ (e.g., mortgage and insurance underwriting, planning and development of\
          \ real estate projects).|\n|**PDANDLIFECYCLEMGT**|**Product Design and Lifecycle\
          \ Management** - the category addresses incorporation of environmental,\
          \ social, and governance (ESG) considerations in characteristics of products\
          \ and services provided or sold by the company. It includes, but is not\
          \ limited to, managing the lifecycle impacts of products and services, such\
          \ as those related to packaging, distribution, use-phase resource intensity,\
          \ and other environmental and social externalities that may occur during\
          \ their use-phase or at the end of life. The category captures a company's\
          \ ability to address customer and societal demand for more sustainable products\
          \ and services as well as to meet evolving environmental and social regulation.\
          \ It does not address direct environmental or social impacts of the company's\
          \ operations nor does it address health and safety risks to consumers from\
          \ product use, which are covered in other categories.|\n|**PRODQUALITYANDSFTY**|**Product\
          \ Quality and Safety** - the category addresses issues involving unintended\
          \ characteristics of products sold or services provided that may create\
          \ health or safety risks to end-users. It addresses a company's ability\
          \ to offer manufactured products and/or services that meet customer expectations\
          \ with respect to their health and safety characteristics. It includes,\
          \ but is not limited to, issues involving liability, management of recalls\
          \ and market withdrawals, product testing, and chemicals/content/ ingredient\
          \ management in products.|\n|**SELLPRACANDPRODLABEL**|**Selling Practices\
          \ and Product Labeling** - the category addresses social issues that may\
          \ arise from a failure to manage the transparency, accuracy, and comprehensibility\
          \ of marketing statements, advertising, and labeling of products and services.\
          \ It includes, but is not limited to, advertising standards and regulations,\
          \ ethical and responsible marketing practices, misleading or deceptive labeling,\
          \ as well as discriminatory or predatory selling and lending practices.\
          \ This may include deceptive or aggressive selling practices in which incentive\
          \ structures for employees could encourage the sale of products or services\
          \ that are not in the best interest of customers or clients.|\n|**SUPPLYCHAINMGT**|**Supply\
          \ Chain Management** - the category addresses management of environmental,\
          \ social, and governance (ESG) risks within a company's supply chain. It\
          \ addresses issues associated with environmental and social externalities\
          \ created by suppliers through their operational activities. Such issues\
          \ include, but are not limited to, environmental responsibility, human rights,\
          \ labor practices, and ethics and corruption. Management may involve screening,\
          \ selection, monitoring, and engagement with suppliers on their environmental\
          \ and social impacts. The category does not address the impacts of external\
          \ factors – such as climate change and other environmental and social factors\
          \ – on suppliers' operations and/or on the availability and pricing of key\
          \ resources, which is covered in a separate category.|\n|**SYSTEMICRISKMGT**|**Systemic\
          \ Risk Management** - the category addresses the company's contributions\
          \ to, or management of systemic risks resulting from large-scale weakening\
          \ or collapse of systems upon which the economy and society depend. This\
          \ includes financial systems, natural resource systems, and technological\
          \ systems. It addresses the mechanisms a company has in place to reduce\
          \ its contributions to systemic risks and to improve safeguards that may\
          \ mitigate the impacts of systemic failure. For financial institutions,\
          \ the category also captures the company's ability to absorb shocks arising\
          \ from financial and economic stress and meet stricter regulatory requirements\
          \ related to the complexity and interconnectedness of companies in the industry.|\n\
          |**WASTEANDHZRDMATSMGT**|**Waste and Hazardous Materials Management** -\
          \ the category addresses environmental issues associated with hazardous\
          \ and non-hazardous waste generated by companies. It addresses a company's\
          \ management of solid wastes in manufacturing, agriculture, and other industrial\
          \ processes. It covers treatment, handling, storage, disposal, and regulatory\
          \ compliance. The category does not cover emissions to air or wastewater,\
          \ nor does it cover waste from end-of-life of products, which are addressed\
          \ in separate categories.|\n|**WATERANDWASTEWATERMGT**|**Water and Wastewater\
          \ Management** - the category addresses a company's water use, water consumption,\
          \ wastewater generation, and other impacts of operations on water resources,\
          \ which may be influenced by regional differences in the availability and\
          \ quality of and competition for water resources. More specifically, it\
          \ addresses management strategies including, but not limited to, water efficiency,\
          \ intensity, and recycling. Lastly, the category also addresses management\
          \ of wastewater treatment and discharge, including groundwater and aquifer\
          \ pollution.|\n\n### Helper Input\n**ALL** = Simply gives the ability to\
          \ request all categories in a single request without having to explicitly\
          \ list out all 26 in the request. *This is not the same as \"ALLCATEGORIES\"\
          \ which is a single overall score for the company and returned as default.*\n"
        example:
        - AIRQUALITY
        - BUSINESSETHICS
        - HUMANRIGHTSANDCOMRELS
        explode: false
        in: query
        name: categories
        required: false
        schema:
          default:
          - ALLCATEGORIES
          items:
            type: string
          maxItems: 28
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2018-12-31
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **W** = Weekly, based on the last day of the week of the\
          \ start date.\n  * **M** = Monthly, based on the last trading day of the\
          \ month.\n  * **CY** = Calendar Annual, based on the last trading day of\
          \ the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - CY
          - ""
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: SEVENDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single SASB Score Type for all categories for a single entity (AMZN-US):
                  $ref: '#/components/examples/singleSasbScores'
                Multiple SASB Score Types for multiple categories for multiple entities (AMZN-US, TSLA-US):
                  $ref: '#/components/examples/multipleSasbScores'
              schema:
                $ref: '#/components/schemas/sasbScoresResponse'
          description: The SASB Scores response object, including the Pulse Score,
            Insight Score, Momentum Score, Category Volume, Dynamic Materiality Score
            and other meta data.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets short-term, long-term, and momentum scores based on the 26 ESG
        categories defined by the Sustainability Accounting Standards Board (SASB).
      tags:
      - SASB
      x-accepts: application/json
    post:
      description: |
        FactSet Truvalue Labs SASB Scores provides short-term, long-term, and momentum scores that are generated for 26 ESG categories defined by the Sustainability Accounting Standards Board. FactSet Truvalue also calculates a custom overall score called ALLCATEGORIES, can indicate data volume flow, and the Dynamic Materiality of that data flow.
      operationId: getSasbScoresPost
      requestBody:
        content:
          application/json:
            examples:
              Single SASB Score Type for all categories for a single entity (AMZN-US):
                $ref: '#/components/examples/singleSasbScoresPost'
              Multiple SASB Scores Types for multiple categories for multiple mntities (AMZN-US, TSLA-US):
                $ref: '#/components/examples/multipleSasbScoresPost'
            schema:
              $ref: '#/components/schemas/sasbScoresRequest'
        description: The SASB Scores request body, allowing the user to specify a
          list of ids, SASB Score Items, SASB categories, date range, and frequency.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Single SASB Score Type for all categories for a single entity (AMZN-US):
                  $ref: '#/components/examples/singleSasbScores'
                Multiple SASB Score Types for multiple categories for multiple entities (AMZN-US, TSLA-US):
                  $ref: '#/components/examples/multipleSasbScores'
              schema:
                $ref: '#/components/schemas/sasbScoresResponse'
          description: The SASB Scores response object, including the Pulse Score,
            Insight Score, Momentum Score, Category Volume, Dynamic Materiality Score
            and other meta data.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: For a large list of ids, gets short-term, long-term, and momentum scores
        based on the 26 ESG categories defined by the Sustainability Accounting Standards
        Board (SASB).
      tags:
      - SASB
      x-contentType: application/json
      x-accepts: application/json
  /factset-esg/v1/sasb-ranks:
    get:
      description: "Indicates if a company is a Leader, Above Average, Average, Below\
        \ Average, or a Laggard; directly mapping from Industry Percentiles (*request\
        \ IND_PCTL in scores endpoints*). Mapping of ESG Ranks to Industry Percentile\
        \ Ranges is as follows - \n\n|Rank|Industry Percentile Range (%)|\n|---|---|\n\
        |Leader|90 - 100|\n|Above Average|70 - 89.9|\n|Average|30 - 69.9|\n|Below\
        \ Average|10 - 29.9|\n|Laggard|0 - 9.9|\n\nIndustry classifications follow\
        \ SICS, SASB's Industry Classification System. Using the Adjusted Insight\
        \ scores, Industry Percentiles are generated for all companies. Companies\
        \ with five or more articles in a year get ranked in a first pass, then companies\
        \ with filled-in values are interpolated without forcing the ranking of higher-volume\
        \ companies up or down.  In the case where a company falls into an industry\
        \ with fewer than 7 high or medium volume companies the Sector Percentile\
        \ is inserted in the place of the Industry Percentile score.\n<p>Only Vaild\
        \ for ALLCATEGORIES and MATERIALITY categories.</p>\n"
      operationId: getSasbRanks
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may exceed this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: "The Categories representing overall or composite rankings from\
          \ all underlying 26 SASB Categories.\n\n### SASB Categories\n|**SASB Category\
          \ Inputs**|**Description**|\n|---|---|\n|**ALLCATEGORIES**|**All Categories**\
          \ - The company's overall SASB Rank. This value is equal to the cumulative\
          \ average of all 26 SASB categories.\n|**MATERIALITY**|**Materiality** -\
          \ The composite rank of all 'material' SASB categories for the given entity.\
          \ For more information on SASB's Materiality Map, visit [materiality.sasb.org](https://materiality.sasb.org/)|\n\
          \n### Helper Input\n**ALL** = Simply gives the ability to request all categories\
          \ in a single request without having to explicitly list each available category.\
          \ \n"
        example:
        - ALLCATEGORIES
        - MATERIALITY
        explode: false
        in: query
        name: categories
        required: false
        schema:
          default:
          - ALL
          items:
            type: string
          maxItems: 28
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2018-12-31
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **W** = Weekly, based on the last day of the week of the\
          \ start date.\n  * **M** = Monthly, based on the last trading day of the\
          \ month.\n  * **CY** = Calendar Annual, based on the last trading day of\
          \ the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - CY
          - ""
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: SEVENDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                ESG Ranks for multiple entities:
                  $ref: '#/components/examples/multipleSasbRanks'
              schema:
                $ref: '#/components/schemas/sasbRanksResponse'
          description: The SASB Ranks response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets ESG Rankings for a requested list of ids and dates.
      tags:
      - SASB
      x-accepts: application/json
    post:
      description: "Indicates if a company is a Leader, Above Average, Average, Below\
        \ Average, or a Laggard; directly mapping from Industry Percentiles (*request\
        \ IND_PCTL in scores endpoints*). Mapping of ESG Ranks to Industry Percentile\
        \ Ranges is as follows - \n\n|Rank|Industry Percentile Range (%)|\n|---|---|\n\
        |Leader|90 - 100|\n|Above Average|70 - 89.9|\n|Average|30 - 69.9|\n|Below\
        \ Average|10 - 29.9|\n|Laggard|0 - 9.9|\n\nIndustry classifications follow\
        \ SICS, SASB's Industry Classification System. Using the Adjusted Insight\
        \ scores, Industry Percentiles are generated for all companies. Companies\
        \ with five or more articles in a year get ranked in a first pass, then companies\
        \ with filled-in values are interpolated without forcing the ranking of higher-volume\
        \ companies up or down.  In the case where a company falls into an industry\
        \ with fewer than 7 high or medium volume companies the Sector Percentile\
        \ is inserted in the place of the Industry Percentile score.\n<p>Only Vaild\
        \ for ALLCATEGORIES and MATERIALITY categories.</p>\n"
      operationId: getSasbRanksPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sasbRanksRequest'
        description: The SASB Ranks Request Object
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                ESG Ranks for multiple entities:
                  $ref: '#/components/examples/multipleSasbRanks'
              schema:
                $ref: '#/components/schemas/sasbRanksResponse'
          description: The SASB Ranks response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get ESG Ranks for a large list of ids and specified date range.
      tags:
      - SASB
      x-contentType: application/json
      x-accepts: application/json
  /factset-esg/v1/sasb-scores-all:
    get:
      description: |
        **Retrieves a flat array of all categories for the requested scoreType and ids. Unlike the /sasb-scores endpoint the format of the response returns category names as part of the key value.**<p> Gets values for all categories for the selected score type(s) for the requested identifier(s). FactSet Truvalue Labs SASB Scores provides short-term, long-term, and momentum scores that are generated for 26 ESG categories defined by the Sustainability Accounting Standards Board. ESG Ranks are not supported in this Endpoint.
      operationId: getSasbScoresAll
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may exceed this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: |
          The FactSet Truvalue Score types being requested. Score Types include the Pulse, Insight, Momentum, Article Volume, Category Volume, Dynamic Materiality Score, Adjusted Insight, and Industry Percentile. When left blank all score types will be returned for the requested Id. To specify select scores returned in the response, provide a comma-separated list of the scores using the description below.
          <p>These scores use the same underlying data and 100-point scale, except for ranks and percentiles. The cognitive computing system behind FactSet's Truvalue Platform uses natural language processing to interpret semantic content and generate analytics. It does so by applying criteria that are consistent with established sustainability and ESG frameworks, scoring data points on performance using a 0 to 100 scale. A score of 50 represents a neutral impact. Scores above 50 indicate positive performance, and scores below reflect negative performance.</p>

          ### ESG Score Types

          |**SASB Category Input**|**Description**|
          |---|---|
          |**PULSE**|*Pulse Score*, is a measure of near-term performance changes that highlights opportunities and controversies, enabling real-time monitoring of companies. It focuses on events of the day and provides a responsive signal to alert investors to dynamic moves.|
          |**INSIGHT**|*Insight Score*, a measure of a company’s longer-term ESG track record, similar to a ratings system. Scores are less sensitive to daily events and reflect the enduring performance record of a company over time. Scores are derived using an exponentially-weighted moving average of the Pulse, defined below, and the half-life of an event’s influence on the overall score is 6 months.|
          |**MOMENTUM**|*Momentum Score*, measures the trend of a company's Insight score. It is a unique ESG metric in the industry that gives investors a high-precision view of the trajectory of a company’s ESG performance, relative to peers. It does so by precisely articulating upward or downward movement, relative to that of all others in the universe, making it a measure that enhances quantitative workflows.|
          |**ART_VOL_TTM**|*Article Volume Score*, measures the information flow or number of articles about a company over the past 12 months.|
          |**CAT_VOL_TTM**|*Category Volume Score*, returns the total number of times any of the 26 categories received a score over a trailing twelve-month (TTM) period of time.|
          |**DYNAMIC_MAT**|*Dynamic Materiality Score*, shows the percentage value of data flow by category compared with the total data flow for the organization **(NOT VALID for `ALLCATEGORIES` and `MATERIALITY` category types).**|
          |**ADJ_INSIGHT**|*Adjusted Insight*, Measures company ESG performance, generating scores for lower-volume and zero-volume firms by blending company scores with industry medians. **(ONLY Vaild for `ALLCATEGORIES` and `MATERIALITY` categories). <p>**Adjusted Insight Score = (# of articles / 5) x Company Insight Score + ((5 - # of articles) / 5) x Industry (or Sector) Median Insight Score.</p>|
          |**IND_PCTL**|*Industry Percentile*, offers context on company Adjusted Insight scores relative to peers in the same SICS Industry. This value is used to establish the textual ESG Rank. **(ONLY Vaild for `ALLCATEGORIES` and `MATERIALITY` categories).**|

          ### Helper Input
          **ALL**= *Ability to fetch all of the "scoreTypes" listed above in a simplified query.* This is used by default and removes the need to explitly request each scoreType in the list.
        example:
        - PULSE
        - INSIGHT
        - MOMENTUM
        explode: false
        in: query
        name: scoreTypes
        required: false
        schema:
          default:
          - ALL
          items:
            type: string
          maxItems: 8
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2018-12-31
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **W** = Weekly, based on the last day of the week of the\
          \ start date.\n  * **M** = Monthly, based on the last trading day of the\
          \ month.\n  * **CY** = Calendar Annual, based on the last trading day of\
          \ the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - CY
          - ""
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: SEVENDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                All SASB Score Types for a Single Entity (AMZN-US):
                  $ref: '#/components/examples/singleSasbScoresAll'
                Multiple SASB Scores Types for Multiple Entities (AMZN-US, TSLA-US):
                  $ref: '#/components/examples/multipleSasbScoresAll'
              schema:
                $ref: '#/components/schemas/sasbScoresAllResponse'
          description: The SASB Scores All Response Object, including the Pulse, Insight,
            Momentum, Article Volume, Category Volume, Dynamic Materiality, Adjusted
            Insight, and Industry Percentile scores for all categories.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets a flat key value array of scores for named categories of the input
        scoreType(s).
      tags:
      - SASB
      x-accepts: application/json
    post:
      description: |
        **Retrieves a flat array of all categories for the requested scoreType and ids. Unlike the /sasb-scores endpoint the format of the response returns category names as part of the key value.**<p> Gets values for all categories for the selected score type(s) for the requested identifier(s). FactSet Truvalue Labs SASB Scores provides short-term, long-term, and momentum scores that are generated for 26 ESG categories defined by the Sustainability Accounting Standards Board. ESG Ranks are not supported in this Endpoint.
      operationId: getSasbScoresAllPost
      requestBody:
        content:
          application/json:
            examples:
              All SASB Score Types for a Single Entity (AMZN-US):
                $ref: '#/components/examples/singleSasbScoresAllPost'
              Multiple SASB Score Types for Multiple Entities (AMZN-US, TSLA-US):
                $ref: '#/components/examples/multipleSasbScoresAllPost'
            schema:
              $ref: '#/components/schemas/sasbScoresAllRequest'
        description: The SASB Scores request body, allowing the user to specify a
          list of ids, SASB Score Items, SASB categories, date range, and frequency.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                All SASB Score Types for a Single Entity (AMZN-US):
                  $ref: '#/components/examples/singleSasbScoresAll'
                Multiple SASB Scores Types for Multiple Entities (AMZN-US, TSLA-US):
                  $ref: '#/components/examples/multipleSasbScoresAll'
              schema:
                $ref: '#/components/schemas/sasbScoresAllResponse'
          description: The SASB Scores All Response Object, including the Pulse, Insight,
            Momentum, Article Volume, Category Volume, Dynamic Materiality, Adjusted
            Insight, and Industry Percentile scores for all categories.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL used to request the endpoint is not authorized
            to access it. The request was a legal request, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets a flat key value array of scores for named categories of the input
        score type(s).
      tags:
      - SASB
      x-contentType: application/json
      x-accepts: application/json
  /factset-esg/v1/sasb-spotlights:
    get:
      description: "FactSet ESG by Truvalue Labs’ Spotlight Data solutions are a daily\
        \ collection of the most important positive and negative ESG events detected\
        \ by our algorithms, with a variety of quantitative metadata to enable timely\
        \ and systematic trading strategies and portfolio management. Qualitive informational\
        \ data points such as the headline and key bullet points for articles is also\
        \ included. \n"
      operationId: getSasbSpotlights
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  1500 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total  length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - AAPL-US
            - GOOGL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The start date requested for a given date range in YYYY-MM-DD format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-01-01
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in YYYY-MM-DD format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-10-30
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: "Request available SASB Spotlights data fields to be included\
          \ in the response.\n Default is all fields. _fsymId_,_orgId_, _date_, _spotlightId_,\
          \ _groupId_ and _requestId_ are always included.\n \n <h3>Common Fields</h3>\
          \ \n  |field|description|\n  |---|---|\n  |fsymId|Factset Regional Security\
          \ Identifier|\n  |orgId|Unique identifier assigned by Truvalue that is applied\
          \ on an organization level |          \n  |date|Date for the period requested\
          \ in YYYY-MM-DD format.|\n  |spotlightId|Unique identifier identifying a\
          \ Spotlight ESG event that is detected at the company level, within a single\
          \ category.|\n  |groupId|Unique identifier  identifying a Spotlight group\
          \ using the Spotlight ID of the Primary Spotlight.|\n  |requestId|Identifier\
          \ that was used for the request.|\n  \n <h3>SASB Spotlights Fields</h3>\n\
          \ \n  |field|description|\n  |---|---|\n  |orgName|The current name of the\
          \ organization (not point-in-time)|\n  |primarySpotlight|Y/N value indicating\
          \ the primary Spotlight in a Spotlight Group.|\n  |spotlightCategory|SASB\
          \ category tagged to each Spotlight.|\n  |materialCategory|Indicates if\
          \ the category is material for the organization based on SASBs Materiality\
          \ Map|\n  |status|Indicates status of a spotlight, which can be one of Completed\
          \ or Ongoing.|\n  |removed|Displays the date a Spotlight was removed from\
          \ the dataset, if it has been removed.|\n  |startDate|Date when a Spotlight\
          \ has met the volume threshold for Spotlight consideration. Score and volume\
          \ change metadata are associated with this date.|\n  |liveDate|Date when\
          \ a Spotlight meets confidence threshold and is considered a Spotlight.\
          \ This date should never precede start date|\n  |firstArticleDate|Date of\
          \ earliest article in the Spotlight as of the Start Date.|\n  |finalArticleDate|Date\
          \ of final article in the Spotlight. This value can change over the course\
          \ of the Spotlight until the Spotlight is marked as completed.|\n  |organizationVolumeThreshold|The\
          \ article volume needed to create a Spotlight, as set by the company's overall\
          \ volume level classification on the Start Date.|\n  |totalSpotlightVolume|Total\
          \ number of articles in the Spotlight. This number will change until the\
          \ Spotlight is marked as completed.|\n  |startDateVolume|Number of articles\
          \ in the Spotlight on the Start Date when it met the volume threshold. Does\
          \ not include the number of articles that were added to the Spotlight after\
          \ the Spotlight Start Date.|\n  |primaryArticleSource|Source of the primary\
          \ article.|\n  |primaryArticleUrl|URL of the primary article.|\n  |primaryArticleHeadline|Headline\
          \ of primary Spotlight article.|\n  |primaryArticleBulletpoints|Bullet points\
          \ summarizing the primary article.|\n  |meanArtScoreFinalDate|Average score\
          \ of articles in Spotlight on Final Article Date. This score will continue\
          \ to change until the Spotlight is marked as completed.|\n  |meanArtScoreStartDate|Average\
          \ score of articles in Spotlight on Start Date. This score will not change\
          \ throughout the history of the spotlight.|\n  |meanPulseScore|Average of\
          \ pulse scores for each day from First Article Date to Final Article Date,\
          \ including scores for both Start Date and Final Article Date.|\n  |pulseBeforeFirstArticle|Pulse\
          \ score for category at end-of-day on day before the First Article Date|\n\
          \  |pulseOnFinalArticleDate|Pulse score for category at the end-of-day on\
          \ the Final Article Date.|\n  |pulseOnStartDate|Pulse score for the category\
          \ at the end-of-day on the Start Date.|\n  |zScoreOnFinalDate|Z-score for\
          \ Spotlight as of Final Article Date. This score will continue to change\
          \ until the Spotlight is marked as completed.|\n  |zScoreOnStartDate|Z-score\
          \ for Spotlight as of Start Date. This score will not change throughout\
          \ the history of the spotlight.|\n  |standoutLvlOnFinalDate|Describes if\
          \ the spotlight is a High, Medium, or Low standout spotlight.  This score\
          \ will continue to change until the Spotlight is marked as completed.|\n\
          \  |standoutLvlOnStartDate|Describes if the spotlight is a High, Medium,\
          \ or Low standout spotlight.|\n"
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The SASB Categories requested for the respective scoreType(s).\
          \ The default value is **ALLCATEGORIES**, which represents all 26 categories\
          \ in a single overall score. To request a specifc category or list of categories,\
          \ simply input the category names below. \n\n### SASB Categories\n|**SASB\
          \ Category Inputs**|**Description**|\n|---|---|\n|**ALLCATEGORIES**|**All\
          \ Categories** - this category represents a company's overall SASB Score\
          \ for the specific 'scoreType'. This value is equal to the cumulative average\
          \ of all 26 SASB categories for the specific 'scoreType'.*Note that category\
          \ is not available for the Dynamic Materiality 'scoreType'.|\n|**ACCESSANDAFFORDABILITY**|**Access\
          \ and Affordability** - The category addresses a company's ability to ensure\
          \ broad access to its products and services, specifically in the context\
          \ of underserved markets and/or population groups. It includes the management\
          \ of issues related to universal needs, such as the accessibility and affordability\
          \ of health care, financial services, utilities , education, and telecommunications.|\n\
          |**AIRQUALITY**|**Air Quality** - the category addresses management of air\
          \ quality impacts resulting from stationary (e.g., factories, power plants)\
          \ and mobile sources (e.g., trucks, delivery vehicles, planes) as well as\
          \ industrial emissions. Relevant airborne pollutants include, but are not\
          \ limited to, oxides of nitrogen (NOx), oxides of sulfur (SOx), volatile\
          \ organic compounds (VOCs), heavy metals, particulate matter, and chlorofluorocarbons.\
          \ The category does not include GHG emissions, which are addressed in a\
          \ separate category.|\n|**BUSINESSETHICS**|**Business Ethics** - the category\
          \ addresses the company's approach to managing risks and opportunities surrounding\
          \ ethical conduct of business, including fraud, corruption, bribery and\
          \ facilitation payments, fiduciary responsibilities, and other behavior\
          \ that may have an ethical component. This includes sensitivity to business\
          \ norms and standards as they shift over time, jurisdiction, and culture.\
          \ It addresses the company's ability to provide services that satisfy the\
          \ highest professional and ethical standards of the industry, which means\
          \ to avoid conflicts of interest, misrepresentation, bias, and negligence\
          \ through training employees adequately and implementing policies and procedures\
          \ to ensure employees provide services free from bias and error.|\n|**BUSMODELRESILIENCE**|**Business\
          \ Model Resilience** - the category addresses an industry's capacity to\
          \ manage risks and opportunities associated with incorporating social, environmental,\
          \ and political transitions into long-term business model planning. This\
          \ includes responsiveness to the transition to a low-carbon and climate-constrained\
          \ economy, as well as growth and creation of new markets among unserved\
          \ and underserved socioeconomic populations. The category highlights industries\
          \ in which evolving environmental and social realities may challenge companies\
          \ to fundamentally adapt or may put their business models at risk.|\n|**COMPETITIVEBEHAVIOR**|**Competitive\
          \ Behavior** - the category covers social issues associated with existence\
          \ of monopolies, which may include, but are not limited to, excessive prices,\
          \ poor quality of service, and inefficiencies. It addresses a company's\
          \ management of legal and social expectation around monopolistic and anti-competitive\
          \ practices, including issues related to bargaining power, collusion, price\
          \ fixing or manipulation, and protection of patents and intellectual property\
          \ (IP).|\n|**CRITINCIDENTRISKMGT**|**Critical Incident Risk Management**\
          \ - the category addresses the company's use of management systems and scenario\
          \ planning to identify, understand, and prevent or minimize the occurrence\
          \ of low-probability, high-impact accidents and emergencies with significant\
          \ potential environmental and social externalities. It relates to the culture\
          \ of safety at a company, its relevant safety management systems and technological\
          \ controls, the potential human, environmental, and social implications\
          \ of such events occurring, and the long-term effects to an organization,\
          \ its workers, and society should these events occur.|\n|**CUSTOMERPRIVACY**|**Customer\
          \ Privacy** - the category addresses management of risks related to the\
          \ use of personally identifiable information (PII) and other customer or\
          \ user data for secondary purposes including but not limited to marketing\
          \ through affiliates and non-affiliates. The scope of the category includes\
          \ social issues that may arise from a company's approach to collecting data,\
          \ obtaining consent (e.g., opt-in policies), managing user and customer\
          \ expectations regarding how their data is used, and managing evolving regulation.\
          \ It excludes social issues arising from cybersecurity risks, which are\
          \ covered in a separate category.|\n|**CUSTWELFARE**|**Customer Welfare**\
          \ - the category addresses customer welfare concerns over issues including,\
          \ but not limited to, health and nutrition of foods and beverages, antibiotic\
          \ use in animal production, and management of controlled substances. The\
          \ category addresses the company's ability to provide consumers with manufactured\
          \ products and services that are aligned with societal expectations. It\
          \ does not include issues directly related to quality and safety malfunctions\
          \ of manufactured products and services, but instead addresses qualities\
          \ inherent to the design and delivery of products and services where customer\
          \ welfare may be in question. The scope of the category also captures companies'\
          \ ability to prevent counterfeit products.|\n|**DATASECURITY**|**Data Security**\
          \ - the category addresses management of risks related to collection, retention,\
          \ and use of sensitive, confidential, and/or proprietary customer or user\
          \ data. It includes social issues that may arise from incidents such as\
          \ data breaches in which personally identifiable information (PII) and other\
          \ user or customer data may be exposed. It addresses a company's strategy,\
          \ policies, and practices related to IT infrastructure, staff training,\
          \ record keeping, cooperation with law enforcement, and other mechanisms\
          \ used to ensure security of customer or user data.|\n|**ECOLOGICALIMPACTS**|**Ecological\
          \ Impacts** - the category addresses management of the company's impacts\
          \ on ecosystems and biodiversity through activities including, but not limited\
          \ to, land use for exploration, natural resource extraction, and cultivation,\
          \ as well as project development, construction, and siting. The impacts\
          \ include, but are not limited to, biodiversity loss, habitat destruction,\
          \ and deforestation at all stages – planning, land acquisition, permitting,\
          \ development, operations, and site remediation. The category does not cover\
          \ impacts of climate change on ecosystems and biodiversity.|\n|**EMPENGDIVANDINC**|**Employee\
          \ Engagement Diversity and Inclusion** - the category addresses a company's\
          \ ability to ensure that its culture and hiring and promotion practices\
          \ embrace the building of a diverse and inclusive workforce that reflects\
          \ the makeup of local talent pools and its customer base. It addresses the\
          \ issues of discriminatory practices on the bases of race, gender, ethnicity,\
          \ religion, sexual orientation, and other factors.|\n|**EMPHEALTHANDSAFETY**|**Employee\
          \ Health and Safety** - the category addresses a company's ability to create\
          \ and maintain a safe and healthy workplace environment that is free of\
          \ injuries, fatalities, and illness (both chronic and acute). It is traditionally\
          \ accomplished through implementing safety management plans, developing\
          \ training requirements for employees and contractors, and conducting regular\
          \ audits of their own practices as well as those of their subcontractors.\
          \ The category further captures how companies ensure physical and mental\
          \ health of workforce through technology, training, corporate culture, regulatory\
          \ compliance, monitoring and testing, and personal protective equipment.|\n\
          |**ENERGYMGT**|**Energy Management** - the category addresses environmental\
          \ impacts associated with energy consumption. It addresses the company's\
          \ management of energy in manufacturing and/or for provision of products\
          \ and services derived from utility providers (grid energy) not owned or\
          \ controlled by the company. More specifically, it includes management of\
          \ energy efficiency and intensity, energy mix, as well as grid reliance.\
          \ Upstream (e.g., suppliers) and downstream (e.g., product use) energy use\
          \ is not included in the scope.|\n|**GHGEMISSIONS**|**Greenhouse Gas Emissions**\
          \ - the category addresses direct (Scope 1) greenhouse gas (GHG) emissions\
          \ that a company generates through its operations. This includes GHG emissions\
          \ from stationary (e.g., factories, power plants) and mobile sources (e.g.,\
          \ trucks, delivery vehicles, planes), whether a result of combustion of\
          \ fuel or non-combusted direct releases during activities such as natural\
          \ resource extraction, power generation, land use, or biogenic processes.\
          \ The category further includes management of regulatory risks, environmental\
          \ compliance, and reputational risks and opportunities, as they related\
          \ to direct GHG emissions. The seven GHGs covered under the Kyoto Protocol\
          \ are included within the category— carbon dioxide (CO2 ), methane (CH4),\
          \ nitrous oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs),\
          \ sulfur hexafluoride (SF6), and nitrogen trifluoride (NF3).|\n|**HUMANRIGHTSANDCOMRELS**|**Human\
          \ Rights and Community Relations** - the category addresses management of\
          \ the relationship between businesses and the communities in which they\
          \ operate, including, but not limited to, management of direct and indirect\
          \ impacts on core human rights and the treatment of indigenous peoples.\
          \ More specifically, such management may cover socio-economic community\
          \ impacts, community engagement, environmental justice, cultivation of local\
          \ workforces, impact on local businesses, license to operate, and environmental/social\
          \ impact assessments. The category does not include environmental impacts\
          \ such as air pollution or waste which, although they may impact the health\
          \ and safety of members of local communities, are addressed in separate\
          \ categories.|\n|**LABORPRACTICES**|**Labor Practices** - the category addresses\
          \ the company's ability to uphold commonly accepted labor standards in the\
          \ workplace, including compliance with labor laws and internationally accepted\
          \ norms and standards. This includes, but is not limited to, ensuring basic\
          \ human rights related to child labor, forced or bonded labor, exploitative\
          \ labor, fair wages and overtime pay, and other basic workers' rights. It\
          \ also includes minimum wage policies and provision of benefits, which may\
          \ influence how a workforce is attracted, retained, and motivated. The category\
          \ further addresses a company's relationship with organized labor and freedom\
          \ of association.|\n|**MGTOFLEGALANDREGENV**|**Management of the Legal and\
          \ Regulatory Environment** - the category addresses a company's approach\
          \ to engaging with regulators in cases where conflicting corporate and public\
          \ interests may have the potential for long-term adverse direct or indirect\
          \ environmental and social impacts. The category addresses a company's level\
          \ of reliance upon regulatory policy or monetary incentives (such as subsidies\
          \ and taxes), actions to influence industry policy (such as through lobbying),\
          \ overall reliance on a favorable regulatory environment for business competitiveness,\
          \ and ability to comply with relevant regulations. It may relate to the\
          \ alignment of management and investor views of regulatory engagement and\
          \ compliance at large.|\n|**MATSOURCINGANDEFF**|**Materials Sourcing and\
          \ Efficiency** - the category addresses issues related to the resilience\
          \ of materials supply chains to impacts of climate change and other external\
          \ environmental and social factors. It captures the impacts of such external\
          \ factors on operational activity of suppliers, which can further affect\
          \ availability and pricing of key resources. It addresses a company's ability\
          \ to manage these risks through product design, manufacturing, and end-of-life\
          \ management, such as by using of recycled and renewable materials, reducing\
          \ the use of key materials (dematerialization), maximizing resource efficiency\
          \ in manufacturing, and making R&D investments in substitute materials.\
          \ Additionally, companies can manage these issues by screening, selection,\
          \ monitoring, and engagement with suppliers to ensure their resilience to\
          \ external risks. It does not address issues associated with environmental\
          \ and social externalities created by operational activity of individual\
          \ suppliers, which is covered in a separate category.|\n|**MATERIALITY**|**Materiality**\
          \ - this category represents a composite score of all 'material' SASB categories\
          \ for the given entity. For more information on SASB's Materiality Map,\
          \ visit [materiality.sasb.org](https://materiality.sasb.org/)|\n|**PHYIMPACTSOFCLIMATECHG**|**Physical\
          \ Impacts of Climate Change** - the category addresses the company's ability\
          \ to manage risks and opportunities associated with direct exposure of its\
          \ owned or controlled assets and operations to actual or potential physical\
          \ impacts of climate change. It captures environmental and social issues\
          \ that may arise from operational disruptions due to physical impacts of\
          \ climate change. It further captures socioeconomic issues resulting from\
          \ companies failing to incorporate climate change consideration in products\
          \ and services sold, such as insurance policies and mortgages. The category\
          \ relates to the company's ability to adapt to increased frequency and severity\
          \ of extreme weather, shifting climate, sea level risk, and other expected\
          \ physical impacts of climate change. Management may involve enhancing resiliency\
          \ of physical assets and/or surrounding infrastructure as well as incorporation\
          \ of climate change-related considerations into key business activities\
          \ (e.g., mortgage and insurance underwriting, planning and development of\
          \ real estate projects).|\n|**PDANDLIFECYCLEMGT**|**Product Design and Lifecycle\
          \ Management** - the category addresses incorporation of environmental,\
          \ social, and governance (ESG) considerations in characteristics of products\
          \ and services provided or sold by the company. It includes, but is not\
          \ limited to, managing the lifecycle impacts of products and services, such\
          \ as those related to packaging, distribution, use-phase resource intensity,\
          \ and other environmental and social externalities that may occur during\
          \ their use-phase or at the end of life. The category captures a company's\
          \ ability to address customer and societal demand for more sustainable products\
          \ and services as well as to meet evolving environmental and social regulation.\
          \ It does not address direct environmental or social impacts of the company's\
          \ operations nor does it address health and safety risks to consumers from\
          \ product use, which are covered in other categories.|\n|**PRODQUALITYANDSFTY**|**Product\
          \ Quality and Safety** - the category addresses issues involving unintended\
          \ characteristics of products sold or services provided that may create\
          \ health or safety risks to end-users. It addresses a company's ability\
          \ to offer manufactured products and/or services that meet customer expectations\
          \ with respect to their health and safety characteristics. It includes,\
          \ but is not limited to, issues involving liability, management of recalls\
          \ and market withdrawals, product testing, and chemicals/content/ ingredient\
          \ management in products.|\n|**SELLPRACANDPRODLABEL**|**Selling Practices\
          \ and Product Labeling** - the category addresses social issues that may\
          \ arise from a failure to manage the transparency, accuracy, and comprehensibility\
          \ of marketing statements, advertising, and labeling of products and services.\
          \ It includes, but is not limited to, advertising standards and regulations,\
          \ ethical and responsible marketing practices, misleading or deceptive labeling,\
          \ as well as discriminatory or predatory selling and lending practices.\
          \ This may include deceptive or aggressive selling practices in which incentive\
          \ structures for employees could encourage the sale of products or services\
          \ that are not in the best interest of customers or clients.|\n|**SUPPLYCHAINMGT**|**Supply\
          \ Chain Management** - the category addresses management of environmental,\
          \ social, and governance (ESG) risks within a company's supply chain. It\
          \ addresses issues associated with environmental and social externalities\
          \ created by suppliers through their operational activities. Such issues\
          \ include, but are not limited to, environmental responsibility, human rights,\
          \ labor practices, and ethics and corruption. Management may involve screening,\
          \ selection, monitoring, and engagement with suppliers on their environmental\
[...]
