openapi: 3.0.0
info:
  description: |-
    Watchlists keeps track of users' individual investment objectives. They are meant to support the self-directed business of wealth management firms.

    The Watchlist API for Digital Portals is fully integrated with the corresponding Quotes API, allowing access to detailed price and
    performance information of instruments in a watchlist. This also supports basic security identifier cross-reference. To complement
    the Watchlist API with direct access to price histories, please refer to the Time Series API for Digital Portals.
  title: Watchlist API For Digital Portals
  version: "2"
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
servers:
- url: https://api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: watchlist endpoints
  name: watchlist
paths:
  /watchlist/create:
    post:
      description: "Create a watchlist.\n\nCertain error conditions yield errors as\
        \ follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number\
        \ of watchlists would exceed 100.|400 Bad Request|"
      operationId: post/watchlist/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_create_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Successful Response
      summary: Create a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/delete:
    post:
      description: Delete a watchlist.
      operationId: post/watchlist/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_delete_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Delete a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/get:
    get:
      description: Details of a watchlist.
      operationId: get/watchlist/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Details of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /watchlist/list:
    get:
      description: List of watchlists.
      operationId: get/watchlist/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 4 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - name
          items:
            enum:
            - id
            - -id
            - name
            - -name
            - numberPositions
            - -numberPositions
            - creation
            - -creation
            type: string
          maxItems: 4
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: List of watchlists.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /watchlist/modify:
    post:
      description: Modify a watchlist.
      operationId: post/watchlist/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_modify_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Modify a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/create:
    post:
      description: "Add a position to a watchlist.\n\nCertain error conditions yield\
        \ errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |Maximum number of watchlist positions would exceed 100.|400 Bad Request|\n\
        |The watchlist does not exist.|400 Bad Request|\n|The notation already exists\
        \ in the watchlist.|400 Bad Request|"
      operationId: post/watchlist/position/create
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_create_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_1'
          description: Successful Response
      summary: Add a position to a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/delete:
    post:
      description: Delete a position of a watchlist.
      operationId: post/watchlist/position/delete
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_delete_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Delete a position of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/get:
    post:
      description: Details of the position of a watchlist.
      operationId: post/watchlist/position/get
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_get_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Details of the position of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /watchlist/position/list:
    get:
      description: List of positions of a watchlist.
      operationId: get/watchlist/position/list
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 2 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        required: false
        schema:
          default:
          - id
          items:
            enum:
            - id
            - -id
            - notation.id
            - -notation.id
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: List of positions of a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /watchlist/position/modify:
    post:
      description: "Modify a position in a watchlist.\n\nCertain error conditions\
        \ yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n\
        |At least one of the parameters `notation` or `comment` must be set.|400 Bad\
        \ Request|\n|The notation already exists in the watchlist.|400 Bad Request|"
      operationId: post/watchlist/position/modify
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_watchlist_position_modify_data'
                meta:
                  $ref: '#/components/schemas/_watchlist_create_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Modify a position in a watchlist.
      tags:
      - watchlist
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies:
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: false
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: false
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: false
    inline_object_3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: false
    inline_object_4:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_4'
      required: false
    inline_object_5:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_5'
      required: false
    inline_object_6:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_6'
      required: false
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        exclusiveMaximum: false
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 0.8008281904610115
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    _watchlist_create_data:
      description: The data member contains the request's primary data.
      properties:
        name:
          description: Name of the watchlist.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 100
          minLength: 1
          pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
          type: string
          x-trim: false
      required:
      - name
      type: object
      x-property-sort:
      - name
    _watchlist_create_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - attributes
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_create_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
    inline_response_201_data:
      example:
        id: id
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_201_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 0.8008281904610115
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_201:
      example:
        data:
          id: id
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_201_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _watchlist_delete_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    inline_object_1:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_delete_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
    inline_response_200:
      example:
        data: ""
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: This member is always empty.
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    inline_response_200_1_data:
      description: Details of the watchlist.
      example:
        numberPositions: 0.8008281904610115
        name: name
        id: id
        creation: creation
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the watchlist.
          type: string
        numberPositions:
          description: Number of positions.
          format: int32
          type: number
        creation:
          description: Date and time of the watchlist creation.
          format: datetime
          type: string
      type: object
      x-property-sort:
      - id
      - name
      - numberPositions
      - creation
    inline_response_200_1:
      example:
        data:
          numberPositions: 0.8008281904610115
          name: name
          id: id
          creation: creation
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_1_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    inline_response_200_2_data:
      example:
        numberPositions: 0.8008281904610115
        name: name
        id: id
        creation: creation
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-sortable: true
          x-positive: true
        name:
          description: Name of the watchlist.
          type: string
          x-sortable: true
          x-default-sort-attribute: true
          x-default-sort-direction: 1
        numberPositions:
          description: Number of positions.
          format: int32
          type: number
          x-sortable: true
        creation:
          description: Date and time of the watchlist creation.
          format: datetime
          type: string
          x-sortable: true
      type: object
      x-property-sort:
      - id
      - name
      - numberPositions
      - creation
    inline_response_200_2:
      example:
        data:
        - numberPositions: 0.8008281904610115
          name: name
          id: id
          creation: creation
        - numberPositions: 0.8008281904610115
          name: name
          id: id
          creation: creation
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: List of watchlist.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _watchlist_modify_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the watchlist.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 100
          minLength: 1
          pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
          type: string
          x-trim: false
      required:
      - id
      - name
      type: object
      x-property-sort:
      - id
      - name
    inline_object_2:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_modify_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
    inline_response_200_3:
      example:
        data: ""
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: This member is always emtpy.
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _watchlist_position_create_data_notation:
      description: Notation of the position.
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    _watchlist_position_create_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        notation:
          $ref: '#/components/schemas/_watchlist_position_create_data_notation'
        comment:
          description: Personal note for the watchlist position.
          exclusiveMaximum: false
          maxLength: 200
          pattern: ^[\u0020-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
          type: string
          x-allowNullValue: true
          x-trim: false
      required:
      - id
      type: object
      x-property-sort:
      - id
      - notation
      - comment
    inline_object_3:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_position_create_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
    inline_response_201_1_data:
      example:
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the position.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_201_1:
      example:
        data:
          id: 0.8008281904610115
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_201_1_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _watchlist_position_delete_data_position:
      description: Position of the watchlist.
      properties:
        id:
          description: Identifier of a position.
          format: id32
          type: number
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    _watchlist_position_delete_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        position:
          $ref: '#/components/schemas/_watchlist_position_delete_data_position'
      required:
      - id
      type: object
      x-property-sort:
      - id
      - position
    inline_object_4:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_position_delete_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
    _watchlist_position_get_data_position:
      description: Position of the watchlist.
      properties:
        id:
          description: Identifier of the position
          format: id32
          type: number
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    _watchlist_position_get_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        position:
          $ref: '#/components/schemas/_watchlist_position_get_data_position'
      required:
      - id
      - position
      type: object
      x-property-sort:
      - id
      - position
    inline_object_5:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_position_get_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
    inline_response_200_4_data_notation:
      description: Notation of the position.
      example:
        id: id
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_4_data:
      description: Position of the watchlist.
      example:
        notation:
          id: id
        comment: comment
      properties:
        notation:
          $ref: '#/components/schemas/inline_response_200_4_data_notation'
        comment:
          description: Personal note for the watchlist position.
          type: string
      type: object
      x-property-sort:
      - notation
      - comment
    inline_response_200_4:
      example:
        data:
          notation:
            id: id
          comment: comment
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_4_data'
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    inline_response_200_5_notation:
      description: Notation of the position.
      example:
        id: id
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-sortable: true
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_5_data:
      example:
        notation:
          id: id
        comment: comment
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the position.
          format: id32
          type: number
          x-sortable: true
          x-default-sort-attribute: true
          x-default-sort-direction: 1
          x-positive: true
        notation:
          $ref: '#/components/schemas/inline_response_200_5_notation'
        comment:
          description: Personal note for the watchlist position.
          type: string
      type: object
      x-property-sort:
      - id
      - notation
      - comment
    inline_response_200_5:
      example:
        data:
        - notation:
            id: id
          comment: comment
          id: 0.8008281904610115
        - notation:
            id: id
          comment: comment
          id: 0.8008281904610115
        - notation:
            id: id
          comment: comment
          id: 0.8008281904610115
        - notation:
            id: id
          comment: comment
          id: 0.8008281904610115
        - notation:
            id: id
          comment: comment
          id: 0.8008281904610115
        meta:
          status:
            code: 0.8008281904610115
      properties:
        data:
          description: Positions of the watchlist.
          items:
            $ref: '#/components/schemas/inline_response_200_5_data'
          maxItems: 100
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_201_meta'
      type: object
    _watchlist_position_modify_data_position:
      description: Position of the watchlist.
      properties:
        id:
          description: Identifier of the position.
          format: id32
          type: number
          x-positive: true
      required:
      - id
      type: object
      x-property-sort:
      - id
    _watchlist_position_modify_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the watchlist.
          format: id64
          type: string
          x-positive: true
        position:
          $ref: '#/components/schemas/_watchlist_position_modify_data_position'
        notation:
          $ref: '#/components/schemas/_watchlist_position_create_data_notation'
        comment:
          description: Personal note for the watchlist position.
          exclusiveMaximum: false
          maxLength: 200
          pattern: ^[\u0020-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
          type: string
          x-allowNullValue: true
          x-trim: false
      required:
      - id
      - position
      type: object
      x-property-sort:
      - id
      - position
      - notation
      - comment
    inline_object_6:
      properties:
        data:
          $ref: '#/components/schemas/_watchlist_position_modify_data'
        meta:
          $ref: '#/components/schemas/_watchlist_create_meta'
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http
x-interface-version: 2
x-documenter-version: 6.0.1
x-api-version: 3.3.0

