openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allow clients to send transactions data to FactSet.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: dsotm API
  version: 1.9.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/direct-streaming-transaction-messages-api
servers:
- description: Production Server
  url: https://api.factset.com/analytics/dsotm/v1
- description: Sandbox Server
  url: https://api-sandbox.factset.com/analytics/dsotm/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: This endpoint is used to push transaction data into FactSet.
  name: DSOTM
paths:
  /transactions:
    post:
      description: This endpoint takes the transactions data and pushes them into
        FactSet.
      operationId: sendTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DsotmParametersRoot'
      responses:
        "200":
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                "404 - Path Not Found":
                  value:
                    errors:
                    - id: 668BDDBB7D633388
                      code: NotFound
                      title: Failed to process request
                      detail: Path not found
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid POST body.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the retry-after header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirectRequest-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Push transactions data into FactSet.
      tags:
      - DSOTM
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    AdditionalField:
      description: Defines an ofdb field and value to be persisted
      example:
        name: description
        type: string
        value: Transaction Data For FDS-USA
      properties:
        name:
          description: Name of the ofdb field
          example: description
          type: string
        type:
          description: Data type of the ofdb field
          enum:
          - string
          - double
          - int
          example: string
          type: string
        value:
          description: Value of the ofdb field
          example: Transaction Data For FDS-USA
          nullable: true
          type: string
      required:
      - name
      - type
      type: object
    Order:
      description: Order transaction attributes
      example:
        orderType: market
        symbol: FDS-USA
        additionalFields:
        - name: description
          type: string
          value: Transaction Data For FDS-USA
        - name: description
          type: string
          value: Transaction Data For FDS-USA
        orderId: O123
        complianceStatus: unchecked
        transactionLeaves: 0.01
        fundTeam: T1
        tif: goodTilCancel
        unitType: quantity
        price: 420.25
        currency: USD
        settlementType: regular
        tifDate: 2024-02-21
        side: buy
        quantity: 1000.01
        limitPrice: 420.25
        gross: 0.01
        transactionStatus: pendingApproval
        trader: msmith
        settlementDate: 2024-03-11
        transactionId: O_FDS_012424_113
        updatedDateTime: 2024-01-25T09:30:23.235
        tradingTeam: T2
        addedDateTime: 2024-01-25T09:30:23.235
        stopPrice: 421.25
        instrumentName: FactSet Research Systems
        orderDate: 2024-01-25
        account: Client:/folder1/testing.acct
      properties:
        orderDate:
          description: Order date which is in the format YYYY-MM-DD
          example: 2024-01-25
          type: string
        transactionId:
          description: Unique Id of the order
          example: O_FDS_012424_113
          maxLength: 252
          minLength: 0
          type: string
        orderId:
          description: Id of the order as assigned by the OMS. If not specified then
            transactionId is used.
          example: O123
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        transactionStatus:
          description: Status of the Order
          enum:
          - pendingApproval
          - open
          - placed
          - partialFilled
          - filled
          - expired
          - cancelled
          - rejected
          - booked
          example: pendingApproval
          type: string
        orderType:
          description: Order type indicating the price type of the Order
          enum:
          - market
          - limit
          - stopLimit
          - stop
          example: market
          type: string
        limitPrice:
          description: Price related to limit and stopLimit order types
          example: 420.25
          format: double
          nullable: true
          type: number
        stopPrice:
          description: Price related to stop and stopLimit order types
          example: 421.25
          format: double
          nullable: true
          type: number
        tif:
          description: Time In Force of the Order
          enum:
          - goodTilCancel
          - goodTilDate
          - day
          - week
          - atMarketOpen
          - atMarketClose
          - immediateOrCancel
          - fillOrKill
          - goodTilCrossing
          example: goodTilCancel
          type: string
        tifDate:
          description: Time In Force date for goodTilDate orders in YYYY-MM-DD format
          example: 2024-02-21
          nullable: true
          type: string
        settlementType:
          description: Indicates order settlement period
          enum:
          - regular
          - cash
          - nextDay
          - tPlus2
          - tPlus3
          - tPlus4
          - future
          - whenIssued
          - sellersOption
          - tPlus5
          example: regular
          type: string
        settlementDate:
          description: Settlement date in YYYY-MM-DD format
          example: 2024-03-11
          nullable: true
          type: string
        fundTeam:
          description: Fund Team Id of the Order
          example: T1
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        tradingTeam:
          description: Trading Team Id of the Order
          example: T2
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        trader:
          description: User Id of assigned trader.
          example: msmith
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        account:
          description: Path of the account
          example: Client:/folder1/testing.acct
          type: string
        symbol:
          description: Symbol corresponding to the traded instrument
          example: FDS-USA
          maxLength: 32
          minLength: 0
          type: string
        instrumentName:
          description: Name or description of the traded instrument
          example: FactSet Research Systems
          maxLength: 252
          minLength: 0
          type: string
        side:
          description: Side of the order
          enum:
          - buy
          - buyCover
          - sell
          - sellShort
          example: buy
          type: string
        unitType:
          description: Unit type of the order. Indicates if the trade is driven by
            quantity or value
          enum:
          - quantity
          - value
          example: quantity
          type: string
        transactionLeaves:
          description: Shares that have been ordered and not executed
          example: 0.01
          format: double
          nullable: true
          type: number
        quantity:
          description: Quantity of the instrument traded
          example: 1000.01
          format: double
          type: number
        gross:
          description: Cash value of the transaction
          example: 0.01
          format: double
          type: number
        price:
          description: The transaction price
          example: 420.25
          format: double
          nullable: true
          type: number
        currency:
          description: The iso currency code of cash valued fields, Net Amount and
            Gross Amount
          example: USD
          maxLength: 3
          minLength: 0
          type: string
        complianceStatus:
          description: Compliance check status
          enum:
          - unchecked
          - pass
          - fail
          - warn
          example: unchecked
          type: string
        addedDateTime:
          description: Date and time expressed in UTC when the transaction was first
            added in the format YYYY-MM-DDTHH:MM:SS.FFF
          example: 2024-01-25T09:30:23.235
          nullable: true
          type: string
        updatedDateTime:
          description: Date and time expressed in UTC when the transaction was last
            updated in the format YYYY-MM-DDTHH:MM:SS.FFF
          example: 2024-01-25T09:30:23.235
          nullable: true
          type: string
        additionalFields:
          description: List of additional fields which can be used for dynamically
            populating other ofdb fields
          items:
            $ref: '#/components/schemas/AdditionalField'
          nullable: true
          type: array
      required:
      - account
      - currency
      - gross
      - instrumentName
      - orderDate
      - quantity
      - side
      - symbol
      - transactionId
      - transactionStatus
      - unitType
      type: object
    Placement:
      description: Placement transaction attributes
      example:
        orderType: market
        symbol: FDS-USA
        additionalFields:
        - name: description
          type: string
          value: Transaction Data For FDS-USA
        - name: description
          type: string
          value: Transaction Data For FDS-USA
        orderId: O123
        complianceStatus: unchecked
        transactionLeaves: 0.01
        tif: goodTilCancel
        unitType: quantity
        price: 420.25
        currency: USD
        settlementType: regular
        tifDate: 2024-02-21
        side: buy
        quantity: 1000.01
        limitPrice: 420.25
        gross: 0.01
        transactionStatus: placed
        settlementDate: 2024-03-11
        transactionId: P123
        parentId: O_FDS_012424_113
        updatedDateTime: 2024-01-25T09:30:23.235
        addedDateTime: 2024-01-25T09:30:23.235
        stopPrice: 421.25
        instrumentName: FactSet Research Systems
        placementDate: 2024-01-25
        account: Client:/folder1/testing.acct
      properties:
        placementDate:
          description: Placement date which is in the format YYYY-MM-DD
          example: 2024-01-25
          type: string
        transactionId:
          description: Unique Id of the placement
          example: P123
          maxLength: 252
          minLength: 0
          type: string
        parentId:
          description: transactionId of the order which spawned this placement
          example: O_FDS_012424_113
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        orderId:
          description: orderId of the order related to this placement
          example: O123
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        transactionStatus:
          description: Status of the Placement
          enum:
          - placed
          - partialFilled
          - filled
          - expired
          - cancelled
          - rejected
          example: placed
          type: string
        orderType:
          description: Order type indicating the price type of the Placement
          enum:
          - market
          - limit
          - stopLimit
          - stop
          example: market
          type: string
        limitPrice:
          description: Price related to limit and stopLimit order types
          example: 420.25
          format: double
          nullable: true
          type: number
        stopPrice:
          description: Price related to stop and stopLimit order types
          example: 421.25
          format: double
          nullable: true
          type: number
        tif:
          description: Time In Force of the Placement
          enum:
          - goodTilCancel
          - goodTilDate
          - day
          - week
          - atMarketOpen
          - atMarketClose
          - immediateOrCancel
          - fillOrKill
          - goodTilCrossing
          example: goodTilCancel
          type: string
        tifDate:
          description: Time In Force date for goodTilDate placements in YYYY-MM-DD
            format
          example: 2024-02-21
          nullable: true
          type: string
        settlementType:
          description: Indicates placement settlement period
          enum:
          - regular
          - cash
          - nextDay
          - tPlus2
          - tPlus3
          - tPlus4
          - future
          - whenIssued
          - sellersOption
          - tPlus5
          example: regular
          type: string
        settlementDate:
          description: Settlement date in YYYY-MM-DD format
          example: 2024-03-11
          nullable: true
          type: string
        account:
          description: Path of the account
          example: Client:/folder1/testing.acct
          type: string
        symbol:
          description: Symbol corresponding to the traded instrument
          example: FDS-USA
          maxLength: 32
          minLength: 0
          type: string
        instrumentName:
          description: Name or description of the traded instrument
          example: FactSet Research Systems
          maxLength: 252
          minLength: 0
          type: string
        side:
          description: Side of the order
          enum:
          - buy
          - buyCover
          - sell
          - sellShort
          example: buy
          type: string
        unitType:
          description: Unit type of the order. Indicates if the trade is driven by
            quantity or value
          enum:
          - quantity
          - value
          example: quantity
          type: string
        transactionLeaves:
          description: Shares that have been ordered and not executed
          example: 0.01
          format: double
          nullable: true
          type: number
        quantity:
          description: Quantity of the instrument traded
          example: 1000.01
          format: double
          type: number
        gross:
          description: Cash value of the transaction
          example: 0.01
          format: double
          type: number
        price:
          description: The transaction price
          example: 420.25
          format: double
          nullable: true
          type: number
        currency:
          description: The iso currency code of cash valued fields, Net Amount and
            Gross Amount
          example: USD
          maxLength: 3
          minLength: 0
          type: string
        complianceStatus:
          description: Compliance check status
          enum:
          - unchecked
          - pass
          - fail
          - warn
          example: unchecked
          type: string
        addedDateTime:
          description: Date and time expressed in UTC when the transaction was first
            added in the format YYYY-MM-DDTHH:MM:SS.FFF
          example: 2024-01-25T09:30:23.235
          nullable: true
          type: string
        updatedDateTime:
          description: Date and time expressed in UTC when the transaction was last
            updated in the format YYYY-MM-DDTHH:MM:SS.FFF
          example: 2024-01-25T09:30:23.235
          nullable: true
          type: string
        additionalFields:
          description: List of additional fields which can be used for dynamically
            populating other ofdb fields
          items:
            $ref: '#/components/schemas/AdditionalField'
          nullable: true
          type: array
      required:
      - account
      - currency
      - gross
      - instrumentName
      - placementDate
      - quantity
      - side
      - symbol
      - transactionId
      - transactionStatus
      - unitType
      type: object
    Execution:
      description: Execution transaction attributes
      example:
        symbol: FDS-USA
        additionalFields:
        - name: description
          type: string
          value: Transaction Data For FDS-USA
        - name: description
          type: string
          value: Transaction Data For FDS-USA
        orderId: O123
        exchangeFee: 0.01
        foreignExchangeRate: 1
        complianceStatus: unchecked
        transactionLeaves: 0.01
        localTax: 0.01
        brokerFee: 0.01
        localFee: 0.01
        unitType: quantity
        price: 420.25
        commission: 0.01
        currency: USD
        net: 0.01
        clearingCommission: 0.01
        side: buy
        quantity: 1000.01
        custodian: C1
        gross: 0.01
        transactionStatus: executed
        accruedInterest: 0.01
        tradeDate: 2024-01-25
        settlementDate: 2024-03-11
        broker: B1
        transactionId: E456
        parentId: P123
        settlementValue: 0.01
        updatedDateTime: 2024-01-25T09:30:23.235
        miscellaneousFee: 0.01
        addedDateTime: 2024-01-25T09:30:23.235
        instrumentName: FactSet Research Systems
        settlementCurrency: EUR
        account: Client:/folder1/testing.acct
      properties:
        tradeDate:
          description: Trade date which is in the format YYYY-MM-DD
          example: 2024-01-25
          type: string
        transactionId:
          description: Unique Id of the execution
          example: E456
          maxLength: 252
          minLength: 0
          type: string
        parentId:
          description: transactionId of the placement which spawned this execution
          example: P123
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        orderId:
          description: orderId of the order related to this execution
          example: O123
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        transactionStatus:
          description: Status of the Execution
          enum:
          - executed
          - booked
          - cancelled
          example: executed
          type: string
        net:
          description: Cash value of the transaction, net of brokerage costs
          example: 0.01
          format: double
          type: number
        settlementDate:
          description: Settlement date in YYYY-MM-DD format
          example: 2024-03-11
          type: string
        settlementCurrency:
          description: The iso currency code of the Settlement Value
          example: EUR
          maxLength: 3
          minLength: 0
          type: string
        settlementValue:
          description: Cash value of the transaction in settlement currency
          example: 0.01
          format: double
          type: number
        foreignExchangeRate:
          description: FX rate to convert the net, gross fields to reporting currency
          example: 1
          format: float
          nullable: true
          type: number
        broker:
          description: Execution broker id
          example: B1
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        custodian:
          description: Execution custodian Id
          example: C1
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        accruedInterest:
          description: Execution accrued interest
          example: 0.01
          format: double
          nullable: true
          type: number
        commission:
          description: Execution commission value
          example: 0.01
          format: double
          nullable: true
          type: number
        clearingCommission:
          description: Execution clearing commission value
          example: 0.01
          format: double
          nullable: true
          type: number
        localTax:
          description: Execution local tax value
          example: 0.01
          format: double
          nullable: true
          type: number
        localFee:
          description: Execution local fee value
          example: 0.01
          format: double
          nullable: true
          type: number
        brokerFee:
          description: Execution broker fee value
          example: 0.01
          format: double
          nullable: true
          type: number
        exchangeFee:
          description: Execution exchange fee value
          example: 0.01
          format: double
          nullable: true
          type: number
        miscellaneousFee:
          description: Execution miscellaneous fee value
          example: 0.01
          format: double
          nullable: true
          type: number
        account:
          description: Path of the account
          example: Client:/folder1/testing.acct
          type: string
        symbol:
          description: Symbol corresponding to the traded instrument
          example: FDS-USA
          maxLength: 32
          minLength: 0
          type: string
        instrumentName:
          description: Name or description of the traded instrument
          example: FactSet Research Systems
          maxLength: 252
          minLength: 0
          type: string
        side:
          description: Side of the order
          enum:
          - buy
          - buyCover
          - sell
          - sellShort
          example: buy
          type: string
        unitType:
          description: Unit type of the order. Indicates if the trade is driven by
            quantity or value
          enum:
          - quantity
          - value
          example: quantity
          type: string
        transactionLeaves:
          description: Shares that have been ordered and not executed
          example: 0.01
          format: double
          nullable: true
          type: number
        quantity:
          description: Quantity of the instrument traded
          example: 1000.01
          format: double
          type: number
        gross:
          description: Cash value of the transaction
          example: 0.01
          format: double
          type: number
        price:
          description: The transaction price
          example: 420.25
          format: double
          nullable: true
          type: number
        currency:
          description: The iso currency code of cash valued fields, Net Amount and
            Gross Amount
          example: USD
          maxLength: 3
          minLength: 0
          type: string
        complianceStatus:
          description: Compliance check status
          enum:
          - unchecked
          - pass
          - fail
          - warn
          example: unchecked
          type: string
        addedDateTime:
          description: Date and time expressed in UTC when the transaction was first
            added in the format YYYY-MM-DDTHH:MM:SS.FFF
          example: 2024-01-25T09:30:23.235
          nullable: true
          type: string
        updatedDateTime:
          description: Date and time expressed in UTC when the transaction was last
            updated in the format YYYY-MM-DDTHH:MM:SS.FFF
          example: 2024-01-25T09:30:23.235
          nullable: true
          type: string
        additionalFields:
          description: List of additional fields which can be used for dynamically
            populating other ofdb fields
          items:
            $ref: '#/components/schemas/AdditionalField'
          nullable: true
          type: array
      required:
      - account
      - currency
      - gross
      - instrumentName
      - net
      - quantity
      - settlementCurrency
      - settlementDate
      - settlementValue
      - side
      - symbol
      - tradeDate
      - transactionId
      - transactionStatus
      - unitType
      type: object
    DsotmParameters:
      description: Container object for transaction records
      example:
        executions:
        - symbol: FDS-USA
          additionalFields:
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          orderId: O123
          exchangeFee: 0.01
          foreignExchangeRate: 1
          complianceStatus: unchecked
          transactionLeaves: 0.01
          localTax: 0.01
          brokerFee: 0.01
          localFee: 0.01
          unitType: quantity
          price: 420.25
          commission: 0.01
          currency: USD
          net: 0.01
          clearingCommission: 0.01
          side: buy
          quantity: 1000.01
          custodian: C1
          gross: 0.01
          transactionStatus: executed
          accruedInterest: 0.01
          tradeDate: 2024-01-25
          settlementDate: 2024-03-11
          broker: B1
          transactionId: E456
          parentId: P123
          settlementValue: 0.01
          updatedDateTime: 2024-01-25T09:30:23.235
          miscellaneousFee: 0.01
          addedDateTime: 2024-01-25T09:30:23.235
          instrumentName: FactSet Research Systems
          settlementCurrency: EUR
          account: Client:/folder1/testing.acct
        - symbol: FDS-USA
          additionalFields:
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          orderId: O123
          exchangeFee: 0.01
          foreignExchangeRate: 1
          complianceStatus: unchecked
          transactionLeaves: 0.01
          localTax: 0.01
          brokerFee: 0.01
          localFee: 0.01
          unitType: quantity
          price: 420.25
          commission: 0.01
          currency: USD
          net: 0.01
          clearingCommission: 0.01
          side: buy
          quantity: 1000.01
          custodian: C1
          gross: 0.01
          transactionStatus: executed
          accruedInterest: 0.01
          tradeDate: 2024-01-25
          settlementDate: 2024-03-11
          broker: B1
          transactionId: E456
          parentId: P123
          settlementValue: 0.01
          updatedDateTime: 2024-01-25T09:30:23.235
          miscellaneousFee: 0.01
          addedDateTime: 2024-01-25T09:30:23.235
          instrumentName: FactSet Research Systems
          settlementCurrency: EUR
          account: Client:/folder1/testing.acct
        orders:
        - orderType: market
          symbol: FDS-USA
          additionalFields:
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          orderId: O123
          complianceStatus: unchecked
          transactionLeaves: 0.01
          fundTeam: T1
          tif: goodTilCancel
          unitType: quantity
          price: 420.25
          currency: USD
          settlementType: regular
          tifDate: 2024-02-21
          side: buy
          quantity: 1000.01
          limitPrice: 420.25
          gross: 0.01
          transactionStatus: pendingApproval
          trader: msmith
          settlementDate: 2024-03-11
          transactionId: O_FDS_012424_113
          updatedDateTime: 2024-01-25T09:30:23.235
          tradingTeam: T2
          addedDateTime: 2024-01-25T09:30:23.235
          stopPrice: 421.25
          instrumentName: FactSet Research Systems
          orderDate: 2024-01-25
          account: Client:/folder1/testing.acct
        - orderType: market
          symbol: FDS-USA
          additionalFields:
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          orderId: O123
          complianceStatus: unchecked
          transactionLeaves: 0.01
          fundTeam: T1
          tif: goodTilCancel
          unitType: quantity
          price: 420.25
          currency: USD
          settlementType: regular
          tifDate: 2024-02-21
          side: buy
          quantity: 1000.01
          limitPrice: 420.25
          gross: 0.01
          transactionStatus: pendingApproval
          trader: msmith
          settlementDate: 2024-03-11
          transactionId: O_FDS_012424_113
          updatedDateTime: 2024-01-25T09:30:23.235
          tradingTeam: T2
          addedDateTime: 2024-01-25T09:30:23.235
          stopPrice: 421.25
          instrumentName: FactSet Research Systems
          orderDate: 2024-01-25
          account: Client:/folder1/testing.acct
        placements:
        - orderType: market
          symbol: FDS-USA
          additionalFields:
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          orderId: O123
          complianceStatus: unchecked
          transactionLeaves: 0.01
          tif: goodTilCancel
          unitType: quantity
          price: 420.25
          currency: USD
          settlementType: regular
          tifDate: 2024-02-21
          side: buy
          quantity: 1000.01
          limitPrice: 420.25
          gross: 0.01
          transactionStatus: placed
          settlementDate: 2024-03-11
          transactionId: P123
          parentId: O_FDS_012424_113
          updatedDateTime: 2024-01-25T09:30:23.235
          addedDateTime: 2024-01-25T09:30:23.235
          stopPrice: 421.25
          instrumentName: FactSet Research Systems
          placementDate: 2024-01-25
          account: Client:/folder1/testing.acct
        - orderType: market
          symbol: FDS-USA
          additionalFields:
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          - name: description
            type: string
            value: Transaction Data For FDS-USA
          orderId: O123
          complianceStatus: unchecked
          transactionLeaves: 0.01
          tif: goodTilCancel
          unitType: quantity
          price: 420.25
          currency: USD
          settlementType: regular
          tifDate: 2024-02-21
          side: buy
          quantity: 1000.01
          limitPrice: 420.25
          gross: 0.01
          transactionStatus: placed
          settlementDate: 2024-03-11
          transactionId: P123
          parentId: O_FDS_012424_113
          updatedDateTime: 2024-01-25T09:30:23.235
          addedDateTime: 2024-01-25T09:30:23.235
          stopPrice: 421.25
          instrumentName: FactSet Research Systems
          placementDate: 2024-01-25
          account: Client:/folder1/testing.acct
      properties:
        orders:
          description: List of orders
          items:
            $ref: '#/components/schemas/Order'
          nullable: true
          type: array
        placements:
          description: List of placements
          items:
            $ref: '#/components/schemas/Placement'
          nullable: true
          type: array
        executions:
          description: List of executions
          items:
            $ref: '#/components/schemas/Execution'
          nullable: true
          type: array
      type: object
    DsotmParametersRoot:
      description: Top-level data container object
      example:
        data:
          executions:
          - symbol: FDS-USA
            additionalFields:
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            orderId: O123
            exchangeFee: 0.01
            foreignExchangeRate: 1
            complianceStatus: unchecked
            transactionLeaves: 0.01
            localTax: 0.01
            brokerFee: 0.01
            localFee: 0.01
            unitType: quantity
            price: 420.25
            commission: 0.01
            currency: USD
            net: 0.01
            clearingCommission: 0.01
            side: buy
            quantity: 1000.01
            custodian: C1
            gross: 0.01
            transactionStatus: executed
            accruedInterest: 0.01
            tradeDate: 2024-01-25
            settlementDate: 2024-03-11
            broker: B1
            transactionId: E456
            parentId: P123
            settlementValue: 0.01
            updatedDateTime: 2024-01-25T09:30:23.235
            miscellaneousFee: 0.01
            addedDateTime: 2024-01-25T09:30:23.235
            instrumentName: FactSet Research Systems
            settlementCurrency: EUR
            account: Client:/folder1/testing.acct
          - symbol: FDS-USA
            additionalFields:
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            orderId: O123
            exchangeFee: 0.01
            foreignExchangeRate: 1
            complianceStatus: unchecked
            transactionLeaves: 0.01
            localTax: 0.01
            brokerFee: 0.01
            localFee: 0.01
            unitType: quantity
            price: 420.25
            commission: 0.01
            currency: USD
            net: 0.01
            clearingCommission: 0.01
            side: buy
            quantity: 1000.01
            custodian: C1
            gross: 0.01
            transactionStatus: executed
            accruedInterest: 0.01
            tradeDate: 2024-01-25
            settlementDate: 2024-03-11
            broker: B1
            transactionId: E456
            parentId: P123
            settlementValue: 0.01
            updatedDateTime: 2024-01-25T09:30:23.235
            miscellaneousFee: 0.01
            addedDateTime: 2024-01-25T09:30:23.235
            instrumentName: FactSet Research Systems
            settlementCurrency: EUR
            account: Client:/folder1/testing.acct
          orders:
          - orderType: market
            symbol: FDS-USA
            additionalFields:
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            orderId: O123
            complianceStatus: unchecked
            transactionLeaves: 0.01
            fundTeam: T1
            tif: goodTilCancel
            unitType: quantity
            price: 420.25
            currency: USD
            settlementType: regular
            tifDate: 2024-02-21
            side: buy
            quantity: 1000.01
            limitPrice: 420.25
            gross: 0.01
            transactionStatus: pendingApproval
            trader: msmith
            settlementDate: 2024-03-11
            transactionId: O_FDS_012424_113
            updatedDateTime: 2024-01-25T09:30:23.235
            tradingTeam: T2
            addedDateTime: 2024-01-25T09:30:23.235
            stopPrice: 421.25
            instrumentName: FactSet Research Systems
            orderDate: 2024-01-25
            account: Client:/folder1/testing.acct
          - orderType: market
            symbol: FDS-USA
            additionalFields:
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            orderId: O123
            complianceStatus: unchecked
            transactionLeaves: 0.01
            fundTeam: T1
            tif: goodTilCancel
            unitType: quantity
            price: 420.25
            currency: USD
            settlementType: regular
            tifDate: 2024-02-21
            side: buy
            quantity: 1000.01
            limitPrice: 420.25
            gross: 0.01
            transactionStatus: pendingApproval
            trader: msmith
            settlementDate: 2024-03-11
            transactionId: O_FDS_012424_113
            updatedDateTime: 2024-01-25T09:30:23.235
            tradingTeam: T2
            addedDateTime: 2024-01-25T09:30:23.235
            stopPrice: 421.25
            instrumentName: FactSet Research Systems
            orderDate: 2024-01-25
            account: Client:/folder1/testing.acct
          placements:
          - orderType: market
            symbol: FDS-USA
            additionalFields:
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            orderId: O123
            complianceStatus: unchecked
            transactionLeaves: 0.01
            tif: goodTilCancel
            unitType: quantity
            price: 420.25
            currency: USD
            settlementType: regular
            tifDate: 2024-02-21
            side: buy
            quantity: 1000.01
            limitPrice: 420.25
            gross: 0.01
            transactionStatus: placed
            settlementDate: 2024-03-11
            transactionId: P123
            parentId: O_FDS_012424_113
            updatedDateTime: 2024-01-25T09:30:23.235
            addedDateTime: 2024-01-25T09:30:23.235
            stopPrice: 421.25
            instrumentName: FactSet Research Systems
            placementDate: 2024-01-25
            account: Client:/folder1/testing.acct
          - orderType: market
            symbol: FDS-USA
            additionalFields:
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            - name: description
              type: string
              value: Transaction Data For FDS-USA
            orderId: O123
            complianceStatus: unchecked
            transactionLeaves: 0.01
            tif: goodTilCancel
            unitType: quantity
            price: 420.25
            currency: USD
            settlementType: regular
            tifDate: 2024-02-21
            side: buy
            quantity: 1000.01
            limitPrice: 420.25
            gross: 0.01
            transactionStatus: placed
            settlementDate: 2024-03-11
            transactionId: P123
            parentId: O_FDS_012424_113
            updatedDateTime: 2024-01-25T09:30:23.235
            addedDateTime: 2024-01-25T09:30:23.235
            stopPrice: 421.25
            instrumentName: FactSet Research Systems
            placementDate: 2024-01-25
            account: Client:/folder1/testing.acct
      properties:
        data:
          $ref: '#/components/schemas/DsotmParameters'
      required:
      - data
      type: object
    ErrorSource:
      description: Error Source
      properties:
        pointer:
          description: Pointer
          nullable: true
          type: string
        parameter:
          description: parameter
          nullable: true
          type: string
      type: object
    Error:
      description: Error
      properties:
        id:
          description: '`id` of the error.'
          nullable: true
          type: string
        code:
          description: '`code` of the error.'
          nullable: true
          type: string
        title:
          description: '`title` of the error.'
          nullable: true
          type: string
        detail:
          description: Error detail.
          nullable: true
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
      type: object
    ClientErrorResponse:
      description: Client Error Response
      properties:
        errors:
          description: '`type` of the error'
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          type: array
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

