openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allow clients to send transactions data to FactSet.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: DSOTM API
  version: 1.5.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/direct-streaming-transaction-messages-api
servers:
- url: https://api.factset.com/analytics/dsotm/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /transactions:
    post:
      description: This endpoint takes the transactions data and pushes them into
        FactSet.
      operationId: sendTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transactions'
      responses:
        "202":
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid POST body.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the retry-after header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirectRequest-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
        "503":
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet’s request key header.
              explode: false
              schema:
                description: FactSet’s request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only
                available after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify an Analytics API request. Only
                  available after successful authentication.
                type: string
              style: simple
      summary: Push transactions data into FactSet.
      tags:
      - DSOTM
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    ExecutionParameters:
      example:
        symbol: symbol
        currencyISO: currencyISO
        orderId: orderId
        exchangeFee: 2.027123023002322
        foreignExchangeRate: 1.4658129
        description: description
        transactionLeaves: 7.386281948385884
        localTax: 7.061401241503109
        brokerFee: 3.616076749251911
        localFee: 9.301444243932576
        unitType: unitType
        portfolio: portfolio
        price: 1.4894159098541704
        commission: 5.637376656633329
        net: 0.8008281904610115
        tradeType: tradeType
        clearingCommission: 2.3021358869347655
        quantity: 1.2315135367772556
        custodian: custodian
        gross: 1.0246457001441578
        transactionStatus: transactionStatus
        settlementCurrencyISO: settlementCurrencyISO
        accruedInterest: 5.962133916683182
        settlementDate: settlementDate
        tradeDate: tradeDate
        broker: broker
        parentId: parentId
        transactionId: transactionId
        settlementValue: 6.027456183070403
        updatedDateTime: updatedDateTime
        miscellaneousFee: 4.145608029883936
        addedDateTime: addedDateTime
        entity: entity
        status: status
      properties:
        transactionStatus:
          description: 'Transaction Status of an Execution could be any of the following
            values: Executed, Booked, Cancelled.'
          type: string
        parentId:
          description: Unique Id of the placement which spawned this execution
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        net:
          description: Cash value of the transaction, net of brokerage costs.
          format: double
          type: number
        settlementDate:
          description: Settlement date in YYYY-MM-DD format
          type: string
        settlementCurrencyISO:
          description: Currency code for Settlement Value
          maxLength: 3
          minLength: 0
          type: string
        settlementValue:
          description: Cash value of the transaction in settlement currency
          format: double
          type: number
        foreignExchangeRate:
          description: FX rate to convert the net, gross fields to reporting currency.
          format: float
          type: number
        broker:
          description: Execution broker id.
          maxLength: 32
          minLength: 0
          type: string
        custodian:
          description: Execution custodian Id.
          maxLength: 32
          minLength: 0
          type: string
        accruedInterest:
          description: Execution accrued interest.
          format: double
          type: number
        commission:
          description: Execution commission value.
          format: double
          type: number
        clearingCommission:
          description: Execution clearing commission value.
          format: double
          type: number
        localTax:
          description: Execution local tax value.
          format: double
          type: number
        localFee:
          description: Execution local fee value.
          format: double
          type: number
        brokerFee:
          description: Execution broker fee value.
          format: double
          type: number
        exchangeFee:
          description: Execution exchange fee value.
          format: double
          type: number
        miscellaneousFee:
          description: Execution miscellaneous fee value.
          format: double
          type: number
        transactionId:
          description: Unique Id for the transaction
          maxLength: 252
          minLength: 0
          type: string
        orderId:
          description: Unique Id of the order which originated the record
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        portfolio:
          description: 'Path of the portfolio (Ex: Client:/folder1/testing.ofdb)'
          type: string
        symbol:
          description: Symbol corresponding to the traded instrument.
          maxLength: 32
          minLength: 0
          type: string
        description:
          description: Description
          maxLength: 32
          minLength: 0
          type: string
        tradeType:
          description: "Trade type could be any of the following values BL, BC, SL,\
            \ SS.\r\nwhich stands for Buy Long, Buy to cover, Sell Long and Sell Short\
            \ respectively."
          type: string
        unitType:
          description: Unit type could be one of Quantity or Value.
          type: string
        transactionLeaves:
          description: Shares that have been ordered and not executed
          format: double
          type: number
        quantity:
          description: Quantity of the instrument traded.
          format: double
          type: number
        gross:
          description: Cash value of the transaction
          format: double
          type: number
        price:
          description: The transaction price
          format: double
          type: number
        currencyISO:
          description: The currency code of cash valued fields, Net Amount and Gross
            Amount.
          maxLength: 3
          minLength: 0
          type: string
        tradeDate:
          description: Trade date which is in the format YYYY-MM-DD
          type: string
        addedDateTime:
          description: Date and time expressed in UTC when the transaction was first
            added in the format YYYY-MM-DDTHH:MM:SS.FFF
          type: string
        updatedDateTime:
          description: Date and time expressed in UTC when the transaction was last
            updated in the format YYYY-MM-DDTHH:MM:SS.FFF
          type: string
        entity:
          readOnly: true
          type: string
        status:
          readOnly: true
          type: string
      required:
      - currencyISO
      - description
      - gross
      - net
      - portfolio
      - quantity
      - settlementCurrencyISO
      - settlementDate
      - settlementValue
      - symbol
      - tradeDate
      - tradeType
      - transactionId
      - transactionStatus
      - unitType
      type: object
    PlacementParameters:
      example:
        symbol: symbol
        tifDate: tifDate
        currencyISO: currencyISO
        quantity: 1.1730742509559433
        gross: 4.965218492984954
        transactionStatus: transactionStatus
        orderId: orderId
        description: description
        transactionLeaves: 7.457744773683766
        tradeDate: tradeDate
        parentId: parentId
        transactionId: transactionId
        updatedDateTime: updatedDateTime
        tif: tif
        unitType: unitType
        addedDateTime: addedDateTime
        instructionType: instructionType
        portfolio: portfolio
        price: 5.025004791520295
        instructionValue: 6.84685269835264
        tradeType: tradeType
        entity: entity
        status: status
      properties:
        transactionStatus:
          description: 'Transaction Status of a Placement could be any of the following
            values: Placed, PartialFilled, Filled, Expired, Cancelled, Rejected.'
          type: string
        parentId:
          description: Unique Id of the order which spawned this placement
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        instructionType:
          description: 'Instruction Type of a Placement could be any of the following
            values: Market, Limit, Stop'
          type: string
        instructionValue:
          description: InstructionValue for a Placement
          format: double
          type: number
        tif:
          description: 'TIF of an Order could be any of the following values: GTC,
            GTD, D, W'
          type: string
        tifDate:
          description: TIF date which is in the format YYYY-MM-DD
          type: string
        transactionId:
          description: Unique Id for the transaction
          maxLength: 252
          minLength: 0
          type: string
        orderId:
          description: Unique Id of the order which originated the record
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        portfolio:
          description: 'Path of the portfolio (Ex: Client:/folder1/testing.ofdb)'
          type: string
        symbol:
          description: Symbol corresponding to the traded instrument.
          maxLength: 32
          minLength: 0
          type: string
        description:
          description: Description
          maxLength: 32
          minLength: 0
          type: string
        tradeType:
          description: "Trade type could be any of the following values BL, BC, SL,\
            \ SS.\r\nwhich stands for Buy Long, Buy to cover, Sell Long and Sell Short\
            \ respectively."
          type: string
        unitType:
          description: Unit type could be one of Quantity or Value.
          type: string
        transactionLeaves:
          description: Shares that have been ordered and not executed
          format: double
          type: number
        quantity:
          description: Quantity of the instrument traded.
          format: double
          type: number
        gross:
          description: Cash value of the transaction
          format: double
          type: number
        price:
          description: The transaction price
          format: double
          type: number
        currencyISO:
          description: The currency code of cash valued fields, Net Amount and Gross
            Amount.
          maxLength: 3
          minLength: 0
          type: string
        tradeDate:
          description: Trade date which is in the format YYYY-MM-DD
          type: string
        addedDateTime:
          description: Date and time expressed in UTC when the transaction was first
            added in the format YYYY-MM-DDTHH:MM:SS.FFF
          type: string
        updatedDateTime:
          description: Date and time expressed in UTC when the transaction was last
            updated in the format YYYY-MM-DDTHH:MM:SS.FFF
          type: string
        entity:
          readOnly: true
          type: string
        status:
          readOnly: true
          type: string
      required:
      - currencyISO
      - description
      - gross
      - portfolio
      - quantity
      - symbol
      - tradeDate
      - tradeType
      - transactionId
      - transactionStatus
      - unitType
      type: object
    OrderParameters:
      example:
        symbol: symbol
        currencyISO: currencyISO
        orderId: orderId
        description: description
        transactionLeaves: 9.369310271410669
        fundTeam: fundTeam
        tif: tif
        unitType: unitType
        portfolio: portfolio
        price: 9.018348186070783
        tradeType: tradeType
        tifDate: tifDate
        quantity: 6.683562403749608
        gross: 8.762042012749001
        transactionStatus: transactionStatus
        trader: trader
        tradeDate: tradeDate
        transactionId: transactionId
        updatedDateTime: updatedDateTime
        tradingTeam: tradingTeam
        addedDateTime: addedDateTime
        instructionType: instructionType
        instructionValue: 9.965781217890562
        entity: entity
        status: status
      properties:
        transactionStatus:
          description: 'Transaction Status of an Order could be any of the following
            values: PendingApproval, Open, Placed, PartialFilled, Filled, Expired,
            Cancelled, Rejected, Booked.'
          type: string
        instructionType:
          description: 'Instruction Type of an Order could be any of the following
            values: Market, Limit, Stop'
          type: string
        instructionValue:
          description: Instruction Value of an Order
          format: double
          type: number
        tif:
          description: 'TIF of an Order could be any of the following values: GTC,
            GTD, D, W'
          type: string
        tifDate:
          description: TIF date which is in the format YYYY-MM-DD
          type: string
        fundTeam:
          description: Fund Team of an Order
          maxLength: 32
          minLength: 0
          type: string
        tradingTeam:
          description: Trading Team of an Order
          maxLength: 32
          minLength: 0
          type: string
        trader:
          description: User Id of assigned trader.
          maxLength: 32
          minLength: 0
          type: string
        transactionId:
          description: Unique Id for the transaction
          maxLength: 252
          minLength: 0
          type: string
        orderId:
          description: Unique Id of the order which originated the record
          maxLength: 32
          minLength: 0
          nullable: true
          type: string
        portfolio:
          description: 'Path of the portfolio (Ex: Client:/folder1/testing.ofdb)'
          type: string
        symbol:
          description: Symbol corresponding to the traded instrument.
          maxLength: 32
          minLength: 0
          type: string
        description:
          description: Description
          maxLength: 32
          minLength: 0
          type: string
        tradeType:
          description: "Trade type could be any of the following values BL, BC, SL,\
            \ SS.\r\nwhich stands for Buy Long, Buy to cover, Sell Long and Sell Short\
            \ respectively."
          type: string
        unitType:
          description: Unit type could be one of Quantity or Value.
          type: string
        transactionLeaves:
          description: Shares that have been ordered and not executed
          format: double
          type: number
        quantity:
          description: Quantity of the instrument traded.
          format: double
          type: number
        gross:
          description: Cash value of the transaction
          format: double
          type: number
        price:
          description: The transaction price
          format: double
          type: number
        currencyISO:
          description: The currency code of cash valued fields, Net Amount and Gross
            Amount.
          maxLength: 3
          minLength: 0
          type: string
        tradeDate:
          description: Trade date which is in the format YYYY-MM-DD
          type: string
        addedDateTime:
          description: Date and time expressed in UTC when the transaction was first
            added in the format YYYY-MM-DDTHH:MM:SS.FFF
          type: string
        updatedDateTime:
          description: Date and time expressed in UTC when the transaction was last
            updated in the format YYYY-MM-DDTHH:MM:SS.FFF
          type: string
        entity:
          readOnly: true
          type: string
        status:
          readOnly: true
          type: string
      required:
      - currencyISO
      - description
      - gross
      - portfolio
      - quantity
      - symbol
      - tradeDate
      - tradeType
      - transactionId
      - transactionStatus
      - unitType
      type: object
    Transactions:
      example:
        executions:
        - symbol: symbol
          currencyISO: currencyISO
          orderId: orderId
          exchangeFee: 2.027123023002322
          foreignExchangeRate: 1.4658129
          description: description
          transactionLeaves: 7.386281948385884
          localTax: 7.061401241503109
          brokerFee: 3.616076749251911
          localFee: 9.301444243932576
          unitType: unitType
          portfolio: portfolio
          price: 1.4894159098541704
          commission: 5.637376656633329
          net: 0.8008281904610115
          tradeType: tradeType
          clearingCommission: 2.3021358869347655
          quantity: 1.2315135367772556
          custodian: custodian
          gross: 1.0246457001441578
          transactionStatus: transactionStatus
          settlementCurrencyISO: settlementCurrencyISO
          accruedInterest: 5.962133916683182
          settlementDate: settlementDate
          tradeDate: tradeDate
          broker: broker
          parentId: parentId
          transactionId: transactionId
          settlementValue: 6.027456183070403
          updatedDateTime: updatedDateTime
          miscellaneousFee: 4.145608029883936
          addedDateTime: addedDateTime
          entity: entity
          status: status
        - symbol: symbol
          currencyISO: currencyISO
          orderId: orderId
          exchangeFee: 2.027123023002322
          foreignExchangeRate: 1.4658129
          description: description
          transactionLeaves: 7.386281948385884
          localTax: 7.061401241503109
          brokerFee: 3.616076749251911
          localFee: 9.301444243932576
          unitType: unitType
          portfolio: portfolio
          price: 1.4894159098541704
          commission: 5.637376656633329
          net: 0.8008281904610115
          tradeType: tradeType
          clearingCommission: 2.3021358869347655
          quantity: 1.2315135367772556
          custodian: custodian
          gross: 1.0246457001441578
          transactionStatus: transactionStatus
          settlementCurrencyISO: settlementCurrencyISO
          accruedInterest: 5.962133916683182
          settlementDate: settlementDate
          tradeDate: tradeDate
          broker: broker
          parentId: parentId
          transactionId: transactionId
          settlementValue: 6.027456183070403
          updatedDateTime: updatedDateTime
          miscellaneousFee: 4.145608029883936
          addedDateTime: addedDateTime
          entity: entity
          status: status
        placements:
        - symbol: symbol
          tifDate: tifDate
          currencyISO: currencyISO
          quantity: 1.1730742509559433
          gross: 4.965218492984954
          transactionStatus: transactionStatus
          orderId: orderId
          description: description
          transactionLeaves: 7.457744773683766
          tradeDate: tradeDate
          parentId: parentId
          transactionId: transactionId
          updatedDateTime: updatedDateTime
          tif: tif
          unitType: unitType
          addedDateTime: addedDateTime
          instructionType: instructionType
          portfolio: portfolio
          price: 5.025004791520295
          instructionValue: 6.84685269835264
          tradeType: tradeType
          entity: entity
          status: status
        - symbol: symbol
          tifDate: tifDate
          currencyISO: currencyISO
          quantity: 1.1730742509559433
          gross: 4.965218492984954
          transactionStatus: transactionStatus
          orderId: orderId
          description: description
          transactionLeaves: 7.457744773683766
          tradeDate: tradeDate
          parentId: parentId
          transactionId: transactionId
          updatedDateTime: updatedDateTime
          tif: tif
          unitType: unitType
          addedDateTime: addedDateTime
          instructionType: instructionType
          portfolio: portfolio
          price: 5.025004791520295
          instructionValue: 6.84685269835264
          tradeType: tradeType
          entity: entity
          status: status
        orders:
        - symbol: symbol
          currencyISO: currencyISO
          orderId: orderId
          description: description
          transactionLeaves: 9.369310271410669
          fundTeam: fundTeam
          tif: tif
          unitType: unitType
          portfolio: portfolio
          price: 9.018348186070783
          tradeType: tradeType
          tifDate: tifDate
          quantity: 6.683562403749608
          gross: 8.762042012749001
          transactionStatus: transactionStatus
          trader: trader
          tradeDate: tradeDate
          transactionId: transactionId
          updatedDateTime: updatedDateTime
          tradingTeam: tradingTeam
          addedDateTime: addedDateTime
          instructionType: instructionType
          instructionValue: 9.965781217890562
          entity: entity
          status: status
        - symbol: symbol
          currencyISO: currencyISO
          orderId: orderId
          description: description
          transactionLeaves: 9.369310271410669
          fundTeam: fundTeam
          tif: tif
          unitType: unitType
          portfolio: portfolio
          price: 9.018348186070783
          tradeType: tradeType
          tifDate: tifDate
          quantity: 6.683562403749608
          gross: 8.762042012749001
          transactionStatus: transactionStatus
          trader: trader
          tradeDate: tradeDate
          transactionId: transactionId
          updatedDateTime: updatedDateTime
          tradingTeam: tradingTeam
          addedDateTime: addedDateTime
          instructionType: instructionType
          instructionValue: 9.965781217890562
          entity: entity
          status: status
      properties:
        executions:
          description: List of executions
          items:
            $ref: '#/components/schemas/ExecutionParameters'
          nullable: true
          type: array
        placements:
          description: List of placements
          items:
            $ref: '#/components/schemas/PlacementParameters'
          nullable: true
          type: array
        orders:
          description: List of orders
          items:
            $ref: '#/components/schemas/OrderParameters'
          nullable: true
          type: array
      type: object
    ErrorSource:
      properties:
        pointer:
          nullable: true
          type: string
        parameter:
          nullable: true
          type: string
      type: object
    Error:
      properties:
        id:
          nullable: true
          type: string
        code:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        detail:
          nullable: true
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
      type: object
    ClientErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          type: array
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

