openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |-
    The StreetAccount News API provides access to FactSet's proprietary news provider, StreetAccount. StreetAccount, is a premium real-time market intelligence news service that delivers comprehensive U.S., Canadian, and European coverage (and expanding Asia coverage). All possible sources for corporate news are scanned and key story facts are highlighted and presented in an easy-to-read format.

    **StreetAccount Filters, Headlines, and Views:**

    These endpoints allow for the retrieval of news headlines using filters such as Watchlists/Indices/Tickers, Company Filters, Market Topics, Regions, and Sectors.  Headlines can also be retrieved based on saved views within the Workstation.

    **StreetAccount Historical Stories:**

    These endpoints provide access to historical StreetAccount (SA) news. The API delivers SA stories in XML format based on user-specified date input parameters. Output files are securely available to users through a URL. This API has three endpoints: Request Files, Check Status, and Get Files.

    Please note that this API only supports adhoc requests for historical files and does not support real-time files. If real-time push is required, consider using other methods such as SFTP, QNT account, or Azure Storage. Both historical and real-time Street Account news can be delivered via SFTP, QNT account, or Azure Storage.

    The files delivered contain both metadata and content body, eliminating the need for multiple requests through multiple services to retrieve all the information.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: StreetAccount News API
  version: 0.1.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
servers:
- url: https://api.factset.com/research/news/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get flattened or structured filters
  name: Filters
- description: Get headlines for a specified view or specified filters
  name: Headlines
- description: Create, edit and delete views
  name: Views
- description: Request, check the status and download the XML files.
  name: StreetAccount Historical Stories
paths:
  /streetaccount/headlines:
    post:
      description: This endpoint will pull all headlines produced by StreetAccount
        and the full story body will be returned by the data set. Filters can be specified
        via the endpoint below.
      operationId: getStreetAccountHeadlines
      requestBody:
        $ref: '#/components/requestBodies/saHeadlinesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
      summary: Retrieve StreetAccount headlines for given filters
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /streetaccount/views/{id}/headlines:
    post:
      description: This endpoint allows you to pull all headlines produced by StreetAccount
        for a saved view. The full story body will be returned by the data set. Views
        can be created via the ‘Create Views’ endpoint.
      operationId: getStreetAccountHeadlinesByView
      parameters:
      - description: view id of the view to return headlines for
        example: SA News View
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/saHeadlinesRequestByView'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
      summary: Retrieve StreetAccount headlines for given view
      tags:
      - Headlines
      x-contentType: application/json
      x-accepts: application/json
  /streetaccount/views:
    get:
      description: This endpoint allows you to pull the full list of StreetAccount
        views that have been previously saved.
      operationId: getStreetAccountViews
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/views'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: Retrieves StreetAccount search views
      tags:
      - Views
      x-accepts: application/json
  /streetaccount/views/{id}:
    delete:
      description: This endpoint allows you to delete a previously saved StreetAccount
        view.
      operationId: deleteStreetAccountView
      parameters:
      - description: view id of the view to be deleted
        example: SA News View
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
          description: OK
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: Deletes an existing StreetAccount view
      tags:
      - Views
      x-accepts: application/json
    post:
      description: This endpoint allows you to create a new StreetAccount view. Select
        watchlists/tickers and filters of your choice to create and save a view.
      operationId: createStreetAccountView
      parameters:
      - description: view id of the view which is the be created
        example: SA News View
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: Creates and saves a StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
    put:
      description: This endpoint allows you to edit the criteria used for a previously
        saved StreetAccount view.
      operationId: editStreetAccountView
      parameters:
      - description: view id of the view to be edited
        example: SA News View
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: Edits and saves an existing StreetAccount view
      tags:
      - Views
      x-contentType: application/json
      x-accepts: application/json
  /streetaccount/filters:
    get:
      description: Add StreetAccount filters (watchlists, company filters, market
        topics, regions and sectors) to filter down StreetAccount headlines by the
        relevant categories. Set the structured and/or flattened flag. If structured
        flag is set, parent and child filter information will be returned. If flattened
        flag is set, flattened filters will be returned which can be used with the
        headlines and createView endpoints. Both flags can be set to return both sets
        of filters.  If no params are provided it will return both
      operationId: getStreetAccountFilters
      parameters:
      - allowEmptyValue: true
        description: Pass structured to generate a structured view of the available
          filters.
        explode: true
        in: query
        name: structured
        required: false
        schema:
          type: boolean
        style: form
      - allowEmptyValue: true
        description: Pass flattened to generate a structured view of the available
          filters.
        explode: true
        in: query
        name: flattened
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
      summary: Retrieve all StreetAccount filters
      tags:
      - Filters
      x-accepts: application/json
  /streetaccount/historical/request-files:
    get:
      description: Give the startDate and endDate parameters as request parameters
        in the /request-files endpoint, it returns the jobID. startDate and endDate
        should be in YYYY-MM-DDTHH:MM:SSZ format. This API only supports adhoc requests
        to retrieve historical files and does not support real-time files and if you
        interested in require real-time push should consider the other three methods
        (pushed via SFTP, to QNT account, or your Azure Storage). Per API request
        able to query till 2 years of data
      parameters:
      - description: Date from which data is required. Should be YYYY-MM-DDTHH:MM:SSZ
          format
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The date until which the data is to be fetched. Should be YYYY-MM-DDTHH:MM:SSZ
          format
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/200RequestFilesExample'
              schema:
                $ref: '#/components/schemas/requestfilesResponse'
          description: success
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccountExample'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount401Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount403Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount500Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
      summary: Returns the jobID
      tags:
      - StreetAccount Historical Stories
      x-accepts: application/json
  /streetaccount/historical/check-status:
    get:
      description: Need to plug-in the jobID from /request-files into /check-status
        endpoint
      parameters:
      - description: jobID returned by the request-files endpoint to know the status
          and percentDone
        explode: true
        in: query
        name: jobID
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the   beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/200CheckStatusExample'
              schema:
                $ref: '#/components/schemas/checkstatusResponse'
          description: Success
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccountExample'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount401Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount403Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount500Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
      summary: Returns the status and percentage of completion for the requested jobID
      tags:
      - StreetAccount Historical Stories
      x-accepts: application/json
  /streetaccount/historical/get-files:
    get:
      description: Need to plug-in the jobID from /check-status into /get-files endpoint
      parameters:
      - description: jobID returned by the request-files endpoint to collect the results
          of the query
        explode: true
        in: query
        name: jobID
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the   beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/200GetFilesExample'
              schema:
                $ref: '#/components/schemas/getfilesResponse'
          description: success
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccountExample'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount401Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount403Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount500Example'
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
          description: Bad request
      summary: Returns the StreetAccount XML files for the specified date range
      tags:
      - StreetAccount Historical Stories
      x-accepts: application/json
components:
  examples:
    searchDate:
      summary: Using searchDate
      value:
        data:
          tickers:
          - name: S&P 500
            value: SP50
            type: Index
          categories:
          - Earnings
          regions:
          - North America
          topics:
          - Market Summaries
          sectors:
          - Gold & Silver
          isPrimary: true
          searchDate:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 100
    searchDateid:
      summary: Using searchDate with id
      value:
        data:
          searchDate:
            start: 2022-08-21T12:35:45Z
            end: 2022-08-29T08:10:30Z
        meta:
          pagination:
            limit: 50
            offset: 100
    "200RequestFilesExample":
      summary: Sample Response
      value:
        jobID: 9ffa3ffb-0ed3-40a0-a98f-8ed7da0a8ad5
        status: submitted
    "200CheckStatusExample":
      summary: Sample Response
      value:
        data:
        - product: SA
          jobID: 9ffa3ffb-0ed3-40a0-a98f-8ed7da0a8ad5
          status: completed
          percentDone: 100
          startDate: 2021-11-21T00:00:00Z
          endDate: 2021-11-28T00:00:00Z
          part: 1
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
            limit: 200
            offset: 105
          partial:
            isPartial: false
    "200GetFilesExample":
      summary: Sample Response
      value:
        data:
        - product: SA
          startDate: 2021-11-21T00:00:00Z
          endDate: 2021-11-28T00:00:00Z
          jobID: 9ffa3ffb-0ed3-40a0-a98f-8ed7da0a8ad5
          status: completed
          part: 1
          url: https://structured-data-delivery-streetaccount/download/get/link
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
            limit: 200
            offset: 105
          partial:
            isPartial: false
    StreetAccountExample:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: parameterError:Missing required parameter jobID
    StreetAccount403Example:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: USERNAME-SERIAL does not have permission
    StreetAccount401Example:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: USERNAME-SERIAL does not have permission
    StreetAccount500Example:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: An unexpected error happened
  requestBodies:
    saHeadlinesRequest:
      content:
        application/json:
          examples:
            Using searchDate:
              $ref: '#/components/examples/searchDate'
          schema:
            $ref: '#/components/schemas/saHeadlinesRequest'
      description: Filter Body which needs to be sent with request
    saHeadlinesRequestByView:
      content:
        application/json:
          examples:
            Using searchDate with id:
              $ref: '#/components/examples/searchDateid'
          schema:
            $ref: '#/components/schemas/saHeadlinesRequestByView'
      description: View body which needs to be sent with request
    createOrEditViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createOrEditViewBody'
      description: Create or Edit View Body which needs to be sent with request
  schemas:
    requestfilesResponse:
      example:
        jobID: jobID
        status: status
      properties:
        jobID:
          description: Unique id to get the xml files for the requested date
          type: string
        status:
          description: Returns the value as submitted. Tells the request has been
            submitted
          type: string
      type: object
    checkstatusResponse:
      example:
        data:
        - jobID: jobID
          product: product
          percentDone: 0
          endDate: 2000-01-23
          part: 6
          startDate: 2000-01-23
          status: status
        - jobID: jobID
          product: product
          percentDone: 0
          endDate: 2000-01-23
          part: 6
          startDate: 2000-01-23
          status: status
        meta:
          pagination:
            total: 1
            offset: 5
            limit: 5
            isEstimatedTotal: true
          partial:
            isPartial: true
      properties:
        data:
          items:
            $ref: '#/components/schemas/checkstatus'
          type: array
        meta:
          $ref: '#/components/schemas/metaOne'
      type: object
    checkstatus:
      example:
        jobID: jobID
        product: product
        percentDone: 0
        endDate: 2000-01-23
        part: 6
        startDate: 2000-01-23
        status: status
      properties:
        product:
          description: Defines the name of the product
          type: string
        jobID:
          description: Unique id to get the xml files for the requested date
          type: string
        status:
          description: Returns any of the 2 results Submitted ->Running->Completed
            and Failed
          type: string
        percentDone:
          description: Returns how much percentage of  task is completed for the requested
            jobID
          type: integer
        startDate:
          description: The date from which the data is required in YYYY-MM-DDTHH:MM:SSZ
            format
          format: date
          type: string
        endDate:
          description: The date until which the data is fetched in YYYY-MM-DDTHH:MM:SSZ
            format
          format: date
          type: string
        part:
          description: Returns the part number of the jobID
          type: integer
      type: object
    getfilesResponse:
      example:
        data:
        - jobID: jobID
          product: product
          endDate: 2000-01-23
          part: 0
          startDate: 2000-01-23
          url: url
          status: status
        - jobID: jobID
          product: product
          endDate: 2000-01-23
          part: 0
          startDate: 2000-01-23
          url: url
          status: status
        meta:
          pagination:
            total: 1
            offset: 5
            limit: 5
            isEstimatedTotal: true
          partial:
            isPartial: true
      properties:
        data:
          items:
            $ref: '#/components/schemas/getfiles'
          type: array
        meta:
          $ref: '#/components/schemas/metaOne'
      type: object
    getfiles:
      example:
        jobID: jobID
        product: product
        endDate: 2000-01-23
        part: 0
        startDate: 2000-01-23
        url: url
        status: status
      properties:
        product:
          description: Defines the name of the product
          type: string
        startDate:
          description: The startDate from which the data is required in YYYY-MM-DDTHH:MM:SSZ
            format
          format: date
          type: string
        endDate:
          description: The endDate until which the data is fetched in YYYY-MM-DDTHH:MM:SSZ
            format
          format: date
          type: string
        jobID:
          description: Unique id to get the xml files for the requested date
          type: string
        status:
          description: Defines the status of the request
          type: string
        url:
          description: Link to download the zip file which contains xml files
          type: string
        part:
          description: Returns the part number of the jobID
          type: integer
      type: object
    StreetAccountStatus:
      properties:
        id:
          type: string
        error_message:
          description: Textual error message
          type: string
      title: Response Status of SA
      type: object
    error:
      properties:
        meta:
          type: object
        errors:
          items:
            $ref: '#/components/schemas/errorObject'
          type: array
      type: object
    errorObject:
      properties:
        id:
          type: string
        title:
          type: string
        code:
          type: string
      type: object
    saHeadlinesRequest:
      properties:
        data:
          $ref: '#/components/schemas/saHeadlinesRequest_data'
        meta:
          $ref: '#/components/schemas/saHeadlinesRequest_meta'
      type: object
    metaOne:
      description: Array of metadata objects
      example:
        pagination:
          total: 1
          offset: 5
          limit: 5
          isEstimatedTotal: true
        partial:
          isPartial: true
      properties:
        pagination:
          $ref: '#/components/schemas/paginationOne'
        partial:
          $ref: '#/components/schemas/isPartialOne'
      title: Meta
      type: object
    paginationOne:
      description: List of pagination objects
      example:
        total: 1
        offset: 5
        limit: 5
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
        isEstimatedTotal:
          description: Boolean value that represents whether the total count of files
            returned is exact or an estimate. This is defaulted to “False” as the
            API should always return the exact count
          type: boolean
        limit:
          description: Number of results returned per page
          type: integer
        offset:
          description: The flag indicating the position in the results array if additional
            results are available beyond the default value or the value in paginationLimit
            parameter (if used). This value is passed in the _paginationOffset parameter
            to retreieve subsequent results
          type: integer
      title: PaginationItems
      type: object
    isPartialOne:
      description: If the value is true, it indicates additional results are available.
        False represents that this is the last set of results for this request.
      example:
        isPartial: true
      properties:
        isPartial:
          type: boolean
      title: IsPartialItems
      type: object
    saHeadlinesRequestTickersObject:
      properties:
        name:
          example: S&P 500
          type: string
        value:
          example: SP50
          type: string
        type:
          enum:
          - Index
          - ETF
          - Mutual_Fund
          - Portfolios
          example: Index
          type: string
      type: object
    saHeadlinesRequestByView:
      properties:
        data:
          $ref: '#/components/schemas/saHeadlinesRequestByView_data'
        meta:
          $ref: '#/components/schemas/saHeadlinesRequest_meta'
      type: object
    searchResponse:
      description: Properties in results objects are based on return values
      example:
        data:
          results:
          - docsReferenceUris: Sample URI
            docsId: sa_story_3393235
            docsSymbols:
            - AAPL-US
            - AAPL-US
            docsHeadlines: Sample Headline
            docsStoryBody: Sample Body
            docsStoryDateAndTime: 2022-09-15T06:48:19Z
            docsPrimarySymbols:
            - AAPL-US
            - AAPL-US
            docsSubjects:
            - SA_EARNINGS
            - SA_EARNINGS
          - docsReferenceUris: Sample URI
            docsId: sa_story_3393235
            docsSymbols:
            - AAPL-US
            - AAPL-US
            docsHeadlines: Sample Headline
            docsStoryBody: Sample Body
            docsStoryDateAndTime: 2022-09-15T06:48:19Z
            docsPrimarySymbols:
            - AAPL-US
            - AAPL-US
            docsSubjects:
            - SA_EARNINGS
            - SA_EARNINGS
        meta:
          pagination:
            total: 100
            isEstimatedTotal: false
          requestGuid: requestGuid
      properties:
        data:
          $ref: '#/components/schemas/searchResponse_data'
        meta:
          $ref: '#/components/schemas/searchResponse_meta'
      type: object
    searchResponseArrayObject:
      example:
        docsReferenceUris: Sample URI
        docsId: sa_story_3393235
        docsSymbols:
        - AAPL-US
        - AAPL-US
        docsHeadlines: Sample Headline
        docsStoryBody: Sample Body
        docsStoryDateAndTime: 2022-09-15T06:48:19Z
        docsPrimarySymbols:
        - AAPL-US
        - AAPL-US
        docsSubjects:
        - SA_EARNINGS
        - SA_EARNINGS
      properties:
        docsStoryDateAndTime:
          example: 2022-09-15T06:48:19Z
          type: string
        docsHeadlines:
          example: Sample Headline
          type: string
        docsId:
          example: sa_story_3393235
          type: string
        docsPrimarySymbols:
          items:
            example: AAPL-US
            type: string
          type: array
        docsSymbols:
          items:
            example: AAPL-US
            type: string
          type: array
        docsSubjects:
          items:
            example: SA_EARNINGS
            type: string
          type: array
        docsStoryBody:
          example: Sample Body
          type: string
        docsReferenceUris:
          example: Sample URI
          type: string
      type: object
    createOrEditViewBody:
      properties:
        data:
          $ref: '#/components/schemas/createOrEditViewBody_data'
      type: object
    createOrEditViewTickers:
      properties:
        name:
          example: Russell 1000
          type: string
        value:
          example: R.1000
          type: string
        type:
          enum:
          - Index
          - ETF
          - Holder
          - Mutual_Fund
          - Portfolios
          example: Index
          type: string
      type: object
    createEditDeleteViewResponse:
      description: Properties in object are results of the create or save operation
      example:
        data:
          id: StreetAccount News Summaries Europe
          message:
            view: View created/edited/deleted sucessfully
      properties:
        data:
          $ref: '#/components/schemas/createEditDeleteViewResponse_data'
      type: object
    views:
      description: StreetAccount views
      example:
        data:
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          viewName: Sample View
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          isPrimary: true
          categories:
          - News Media
          - News Media
          tickers:
          - FDS-US
          - FDS-US
        - sectors:
          - Chemicals - Plastics & Rubber
          - Chemicals - Plastics & Rubber
          regions:
          - North America
          - North America
          viewName: Sample View
          topics:
          - 'Market Summaries '
          - 'Market Summaries '
          isPrimary: true
          categories:
          - News Media
          - News Media
          tickers:
          - FDS-US
          - FDS-US
      properties:
        data:
          items:
            $ref: '#/components/schemas/viewsObject'
          type: array
      type: object
    viewsObject:
      example:
        sectors:
        - Chemicals - Plastics & Rubber
        - Chemicals - Plastics & Rubber
        regions:
        - North America
        - North America
        viewName: Sample View
        topics:
        - 'Market Summaries '
        - 'Market Summaries '
        isPrimary: true
        categories:
        - News Media
        - News Media
        tickers:
        - FDS-US
        - FDS-US
      properties:
        viewName:
          example: Sample View
          type: string
        tickers:
          items:
            example: FDS-US
            type: string
          type: array
        categories:
          items:
            example: News Media
            type: string
          type: array
        topics:
          items:
            example: 'Market Summaries '
            type: string
          type: array
        regions:
          items:
            example: North America
            type: string
          type: array
        sectors:
          items:
            example: Chemicals - Plastics & Rubber
            type: string
          type: array
        isPrimary:
          type: boolean
      type: object
    FilterResponse:
      description: Filters Object
      example:
        data:
          structuredFilters:
            sectors:
            - expanded: true
              children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: name
            - expanded: true
              children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: name
            regions:
            - name: name
              value:
              - 0.8008281904610115
              - 0.8008281904610115
            - name: name
              value:
              - 0.8008281904610115
              - 0.8008281904610115
            topics:
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: name
              value:
              - value
              - value
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: name
              value:
              - value
              - value
            watchlists:
            - name: name
              type: type
              value: value
            - name: name
              type: type
              value: value
            categories:
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: name
              value:
              - value
              - value
            - children:
              - name: name
                value:
                - value
                - value
              - name: name
                value:
                - value
                - value
              name: name
              value:
              - value
              - value
          flattenedFilters:
            sectors:
            - name: Chemical Manufacturing
              value:
              - 106
            - name: Chemical Manufacturing
              value:
              - 106
            regions:
            - name: Canada
              value:
              - 5
            - name: Canada
              value:
              - 5
            topics:
            - name: '13F Summary '
              value:
              - SA_13F_SUMMARY
            - name: '13F Summary '
              value:
              - SA_13F_SUMMARY
            watchlists:
            - name: S&P 500
              type: Index
              value: SP50
            - name: S&P 500
              type: Index
              value: SP50
            categories:
            - name: Dividends
              value:
              - SA_DIVIDENDS
            - name: Dividends
              value:
              - SA_DIVIDENDS
      properties:
        data:
          $ref: '#/components/schemas/FilterResponse_data'
      type: object
    flattenedFilters:
      description: Flattened Filters Object
      example:
        sectors:
        - name: Chemical Manufacturing
          value:
          - 106
        - name: Chemical Manufacturing
          value:
          - 106
        regions:
        - name: Canada
          value:
          - 5
        - name: Canada
          value:
          - 5
        topics:
        - name: '13F Summary '
          value:
          - SA_13F_SUMMARY
        - name: '13F Summary '
          value:
          - SA_13F_SUMMARY
        watchlists:
        - name: S&P 500
          type: Index
          value: SP50
        - name: S&P 500
          type: Index
          value: SP50
        categories:
        - name: Dividends
          value:
          - SA_DIVIDENDS
        - name: Dividends
          value:
          - SA_DIVIDENDS
      properties:
        categories:
          items:
            $ref: '#/components/schemas/flattenedFiltersCategoriesObject'
          type: array
        topics:
          items:
            $ref: '#/components/schemas/flattenedFiltersTopicsObject'
          type: array
        regions:
          items:
            $ref: '#/components/schemas/flattenedFiltersRegionsObject'
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/flattenedFiltersSectorsObject'
          type: array
        watchlists:
          items:
            $ref: '#/components/schemas/flattenedFiltersWatchlistsObject'
          type: array
      type: object
    flattenedFiltersCategoriesObject:
      example:
        name: Dividends
        value:
        - SA_DIVIDENDS
      properties:
        name:
          type: string
        value:
          items:
            type: string
          type: array
      type: object
    flattenedFiltersTopicsObject:
      example:
        name: '13F Summary '
        value:
        - SA_13F_SUMMARY
      properties:
        name:
          type: string
        value:
          items:
            type: string
          type: array
      type: object
    flattenedFiltersRegionsObject:
      example:
        name: Canada
        value:
        - 5
      properties:
        name:
          type: string
        value:
          items:
            type: number
          type: array
      type: object
    flattenedFiltersSectorsObject:
      example:
        name: Chemical Manufacturing
        value:
        - 106
      properties:
        name:
          type: string
        value:
          items:
            type: number
          type: array
      type: object
    flattenedFiltersWatchlistsObject:
      example:
        name: S&P 500
        type: Index
        value: SP50
      properties:
        name:
          type: string
        type:
          type: string
        value:
          type: string
      type: object
    structuredFilters:
      description: Structured Filters Object
      example:
        sectors:
        - expanded: true
          children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: name
        - expanded: true
          children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: name
        regions:
        - name: name
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        - name: name
          value:
          - 0.8008281904610115
          - 0.8008281904610115
        topics:
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: name
          value:
          - value
          - value
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: name
          value:
          - value
          - value
        watchlists:
        - name: name
          type: type
          value: value
        - name: name
          type: type
          value: value
        categories:
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: name
          value:
          - value
          - value
        - children:
          - name: name
            value:
            - value
            - value
          - name: name
            value:
            - value
            - value
          name: name
          value:
          - value
          - value
      properties:
        categories:
          items:
            $ref: '#/components/schemas/structuredFiltersCategoriesObject'
          type: array
        topics:
          items:
            $ref: '#/components/schemas/structuredFiltersTopicsObject'
          type: array
        regions:
          items:
            $ref: '#/components/schemas/structuredFiltersRegionsObject'
          type: array
        sectors:
          items:
            $ref: '#/components/schemas/structuredFiltersSectorsObject'
          type: array
        watchlists:
          items:
            $ref: '#/components/schemas/structuredFiltersWatchlistsObject'
          type: array
      type: object
    structuredFiltersCategoriesObject:
      example:
        children:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        name: name
        value:
        - value
        - value
      properties:
        name:
          type: string
        value:
          items:
            type: string
          type: array
        children:
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObject'
          type: array
      type: object
    structuredFiltersChildrenObject:
      example:
        name: name
        value:
        - value
        - value
      properties:
        name:
          type: string
        value:
          items:
            type: string
          type: array
      type: object
    structuredFiltersTopicsObject:
      example:
        children:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        name: name
        value:
        - value
        - value
      properties:
        name:
          type: string
        value:
          items:
            type: string
          type: array
        children:
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObject'
          type: array
      type: object
    structuredFiltersRegionsObject:
      example:
        name: name
        value:
        - 0.8008281904610115
        - 0.8008281904610115
      properties:
        name:
          type: string
        value:
          items:
            type: number
          type: array
      type: object
    structuredFiltersSectorsObject:
      example:
        expanded: true
        children:
        - name: name
          value:
          - value
          - value
        - name: name
          value:
          - value
          - value
        name: name
      properties:
        name:
          type: string
        expanded:
          type: boolean
        children:
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObject'
          type: array
      type: object
    structuredFiltersWatchlistsObject:
      example:
        name: name
        type: type
        value: value
      properties:
        name:
          type: string
        type:
          type: string
        value:
          type: string
      type: object
    saHeadlinesRequest_data_searchDate:
      properties:
        start:
          description: Start time for custom search. startTime must follow the ISO
            8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets
            ±[hh]:[mm]
          example: 2022-08-21T12:35:45Z
          type: string
        end:
          description: End time for custom search. If end time is not present end
            time is automatically set to the time of the search. endTime must follow
            the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports
            offsets ±[hh]:[mm]
          example: 2022-08-29T08:10:30Z
          type: string
      type: object
    saHeadlinesRequest_data:
      properties:
        tickers:
          items:
            $ref: '#/components/schemas/saHeadlinesRequestTickersObject'
          type: array
        categories:
          items:
            example: Earnings
            type: string
          type: array
        regions:
          items:
            example: North America
            type: string
          type: array
        topics:
          items:
            example: Market Summaries
            type: string
          type: array
        sectors:
          items:
            example: Gold & Silver
            type: string
          type: array
        isPrimary:
          example: true
          type: boolean
        searchDate:
          $ref: '#/components/schemas/saHeadlinesRequest_data_searchDate'
      type: object
    saHeadlinesRequest_meta_pagination:
      description: Object defining pagination for the results pageable attribute.
        Offset-based strategy is used for Pagination.
      properties:
        limit:
          default: 500
          description: Non-negative maximum number of entries to return.
          example: 50
          type: integer
        offset:
          default: 0
          description: Non-negative number of entries to skip.
          example: 100
          type: integer
      type: object
    saHeadlinesRequest_meta:
      properties:
        pagination:
          $ref: '#/components/schemas/saHeadlinesRequest_meta_pagination'
      type: object
    saHeadlinesRequestByView_data:
      properties:
        searchDate:
          $ref: '#/components/schemas/saHeadlinesRequest_data_searchDate'
      type: object
    searchResponse_data:
      example:
        results:
        - docsReferenceUris: Sample URI
          docsId: sa_story_3393235
          docsSymbols:
          - AAPL-US
          - AAPL-US
          docsHeadlines: Sample Headline
          docsStoryBody: Sample Body
          docsStoryDateAndTime: 2022-09-15T06:48:19Z
          docsPrimarySymbols:
          - AAPL-US
          - AAPL-US
          docsSubjects:
          - SA_EARNINGS
          - SA_EARNINGS
        - docsReferenceUris: Sample URI
          docsId: sa_story_3393235
          docsSymbols:
          - AAPL-US
          - AAPL-US
          docsHeadlines: Sample Headline
          docsStoryBody: Sample Body
          docsStoryDateAndTime: 2022-09-15T06:48:19Z
          docsPrimarySymbols:
          - AAPL-US
          - AAPL-US
          docsSubjects:
          - SA_EARNINGS
          - SA_EARNINGS
      properties:
        results:
          items:
            $ref: '#/components/schemas/searchResponseArrayObject'
          type: array
      type: object
    searchResponse_meta_pagination:
      example:
        total: 100
        isEstimatedTotal: false
      properties:
        total:
          example: 100
          type: integer
        isEstimatedTotal:
          example: false
          type: boolean
      type: object
    searchResponse_meta:
      example:
        pagination:
          total: 100
          isEstimatedTotal: false
        requestGuid: requestGuid
      properties:
        requestGuid:
          type: string
        pagination:
          $ref: '#/components/schemas/searchResponse_meta_pagination'
      type: object
    createOrEditViewBody_data:
      properties:
        tickers:
          items:
            $ref: '#/components/schemas/createOrEditViewTickers'
          type: array
        categories:
          items:
            example: Earnings
            type: string
          type: array
        regions:
          items:
            example: North America
            type: string
          type: array
        topics:
          items:
            example: Market Summaries
            type: string
          type: array
        sectors:
          items:
            example: Gold & Silver
            type: string
          type: array
        isPrimary:
          example: true
          type: boolean
        quickAlert:
          example: false
          type: boolean
      type: object
    createEditDeleteViewResponse_data_message:
      example:
        view: View created/edited/deleted sucessfully
      properties:
        view:
          example: View created/edited/deleted sucessfully
          type: string
      type: object
    createEditDeleteViewResponse_data:
      example:
        id: StreetAccount News Summaries Europe
        message:
          view: View created/edited/deleted sucessfully
      properties:
        id:
          example: StreetAccount News Summaries Europe
          type: string
        message:
          $ref: '#/components/schemas/createEditDeleteViewResponse_data_message'
      type: object
    FilterResponse_data:
      example:
        structuredFilters:
          sectors:
          - expanded: true
            children:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            name: name
          - expanded: true
            children:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            name: name
          regions:
          - name: name
            value:
            - 0.8008281904610115
            - 0.8008281904610115
          - name: name
            value:
            - 0.8008281904610115
            - 0.8008281904610115
          topics:
          - children:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            name: name
            value:
            - value
            - value
          - children:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            name: name
            value:
            - value
            - value
          watchlists:
          - name: name
            type: type
            value: value
          - name: name
            type: type
            value: value
          categories:
          - children:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            name: name
            value:
            - value
            - value
          - children:
            - name: name
              value:
              - value
              - value
            - name: name
              value:
              - value
              - value
            name: name
            value:
            - value
            - value
        flattenedFilters:
          sectors:
          - name: Chemical Manufacturing
            value:
            - 106
          - name: Chemical Manufacturing
            value:
            - 106
          regions:
          - name: Canada
            value:
            - 5
          - name: Canada
            value:
            - 5
          topics:
          - name: '13F Summary '
            value:
            - SA_13F_SUMMARY
          - name: '13F Summary '
            value:
            - SA_13F_SUMMARY
          watchlists:
          - name: S&P 500
            type: Index
            value: SP50
          - name: S&P 500
            type: Index
            value: SP50
          categories:
          - name: Dividends
            value:
            - SA_DIVIDENDS
          - name: Dividends
            value:
            - SA_DIVIDENDS
      properties:
        structuredFilters:
          $ref: '#/components/schemas/structuredFilters'
        flattenedFilters:
          $ref: '#/components/schemas/flattenedFilters'
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

