openapi: 3.0.1
info:
  title: Prime Developer Trial
  version: v1
servers:
- url: https://api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: news endpoints
  name: news
paths:
  /news/article/get:
    get:
      description: Details for a news article.
      operationId: get/news/article/get
      parameters:
      - description: Identifier of a news article.
        in: query
        name: code
        required: true
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 128
          minLength: 1
          pattern: ^[0-9A-Za-z+/=:]+$
          type: string
      - description: If true, media references are included if available.
        in: query
        name: includeMedia
        schema:
          default: false
          type: boolean
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Details for a news article.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/article/list:
    post:
      description: List of news articles.
      operationId: post/news/article/list
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_article_list_data'
                meta:
                  $ref: '#/components/schemas/_news_article_list_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of news articles.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByChain:
    post:
      description: List news articles of an article chain.
      operationId: post/news/article/listByChain
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_article_listByChain_data'
                meta:
                  $ref: '#/components/schemas/_news_article_list_meta'
              required:
              - data
              type: object
              x-property-sort:
              - data
              - meta
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: List news articles of an article chain.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByIndex:
    post:
      description: News articles for instruments that are constituents of the given
        indices.
      operationId: post/news/article/listByIndex
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_article_listByIndex_data'
                meta:
                  $ref: '#/components/schemas/_news_article_list_meta'
              required:
              - data
              type: object
              x-property-sort:
              - data
              - meta
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: News articles for instruments that are constituents of the given indices.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByInstrument:
    post:
      description: News articles for instruments.
      operationId: post/news/article/listByInstrument
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_article_listByInstrument_data'
                meta:
                  $ref: '#/components/schemas/_news_article_list_meta'
              required:
              - data
              type: object
              x-property-sort:
              - data
              - meta
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: News articles for instruments.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /news/article/listByMediaKind:
    post:
      description: List news articles which contain media of specific media kinds.
      operationId: post/news/article/listByMediaKind
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_article_listByMediaKind_data'
                meta:
                  $ref: '#/components/schemas/_news_article_list_meta'
              required:
              - data
              type: object
              x-property-sort:
              - data
              - meta
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List news articles which contain media of specific media kinds.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /news/article/searchByText:
    post:
      description: Search for news articles using a fulltext search. All specified
        criteria need to be fulfilled for an article to match. Each criterion is handled
        according to its selectionType; "include" requires the criterion to evaluate
        to true, "exclude" requires the criterion to evaluate to false. A criterion
        is fulfilled when at least one of its values is found.
      operationId: post/news/article/searchByText
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_article_searchByText_data'
                meta:
                  $ref: '#/components/schemas/_news_article_list_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Search for news articles using a fulltext search.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /news/article/type/get:
    get:
      description: Details for a news article type.
      operationId: get/news/article/type/get
      parameters:
      - description: Identifier of a news article type.
        in: query
        name: id
        required: true
        schema:
          format: id32
          type: number
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Details for a news article type.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/article/type/list:
    get:
      description: List of news article types.
      operationId: get/news/article/type/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: List of news article types.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/distributor/get:
    get:
      description: Details of a distributor.
      operationId: get/news/distributor/get
      parameters:
      - description: Identifier of a distributor.
        in: query
        name: id
        required: true
        schema:
          format: id32
          type: number
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: Details of a distributor.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/distributor/list:
    get:
      description: List of distributors.
      operationId: get/news/distributor/list
      parameters:
      - description: Identifiers of distributors.
        explode: false
        in: query
        name: ids
        schema:
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 1 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        schema:
          default: '["name"]'
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: List of distributors.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/get:
    get:
      description: Details of a publisher.
      operationId: get/news/publisher/get
      parameters:
      - description: Identifier of a publisher.
        in: query
        name: id
        required: true
        schema:
          format: id32
          type: number
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: Details of a publisher.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/list:
    get:
      description: List of publishers.
      operationId: get/news/publisher/list
      parameters:
      - description: Identifiers of publishers.
        explode: false
        in: query
        name: ids
        schema:
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 1 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        schema:
          default: '["name"]'
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: List of publishers.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/listByDistributor:
    get:
      description: List of publishers provided by the given distributor.
      operationId: get/news/publisher/listByDistributor
      parameters:
      - description: Identifier of a distributor.
        in: query
        name: id
        required: true
        schema:
          format: id32
          type: number
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 1 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        schema:
          default: '["name"]'
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: List of publishers provided by the given distributor.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /news/publisher/searchByName:
    post:
      description: Search for publishers by the name of the publisher.
      operationId: post/news/publisher/searchByName
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_news_publisher_searchByName_data'
                meta:
                  $ref: '#/components/schemas/_news_publisher_searchByName_meta'
              required:
              - data
              type: object
              x-property-sort:
              - data
              - meta
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: Search for publishers.
      tags:
      - news
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
components:
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: true
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: false
    inline_object_6:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_6'
      required: true
    inline_object_5:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_5'
      required: false
    inline_object_4:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_4'
      required: true
    inline_object_3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: true
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: true
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 9.301444243932576
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      example:
        next: next
        previous: previous
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      example:
        hasNext: true
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    inline_response_200_data_types:
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the type of news article.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the news article type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_language:
      description: Language of the news article. See endpoint `/basic/language/list`
        for possible values.
      example:
        code: code
        id: 6.027456183070403
      properties:
        id:
          description: Identifier of the language.
          format: id32
          type: number
          x-positive: true
        code:
          description: ISO 639-1 code of the language.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_data_distributor:
      description: Distributor of the news article. See endpoint `/news/distributor/list`
        for possible values.
      example:
        name: name
        id: 1.4658129805029452
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the distributor.
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_publisher:
      description: Publisher of the news article. See endpoint `/news/publisher/list`
        for possible values.
      example:
        name: name
        id: 5.962133916683182
      properties:
        id:
          description: Identifier of the publisher.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the publisher.
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_categories:
      example:
        name: name
        id: 5.637376656633329
      properties:
        id:
          description: Identifier of the category.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the category.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_data_fsym_security:
      description: Security-level identifier.
      example:
        permanentIdentifier: permanentIdentifier
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for an instrument. The format
            is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
          type: string
      type: object
      x-property-sort:
      - permanentIdentifier
    inline_response_200_data_fsym:
      description: Instrument-level FactSet identifier of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        security:
          permanentIdentifier: permanentIdentifier
      properties:
        security:
          $ref: '#/components/schemas/inline_response_200_data_fsym_security'
      type: object
      x-property-sort:
      - security
    inline_response_200_data_instruments:
      example:
        fsym:
          security:
            permanentIdentifier: permanentIdentifier
        id: id
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
        fsym:
          $ref: '#/components/schemas/inline_response_200_data_fsym'
      type: object
      x-property-sort:
      - id
      - fsym
    inline_response_200_data_media:
      example:
        width: 2.3021358869347655
        caption: caption
        mimeType: mimeType
        alternativeText: alternativeText
        url: http://example.com/aeiou
        height: 7.061401241503109
      properties:
        url:
          description: URL of the media element. The URL is publicly available and
            hosted by either the publisher, the distributor, or FactSet.
          format: url
          type: string
        mimeType:
          description: MIME type of the data of the media element.
          type: string
        caption:
          description: Caption text that can be displayed with the media element.
            Empty if no caption is available for this media element.
          type: string
        alternativeText:
          description: A short description of the media element that can be shown
            instead of the media element itself.
          type: string
        width:
          description: Width of the media element in pixels if applicable.
          format: int32
          type: number
        height:
          description: Height of the media element in pixels if applicable.
          format: int32
          type: number
      type: object
      x-property-sort:
      - url
      - mimeType
      - caption
      - alternativeText
      - width
      - height
    inline_response_200_data:
      description: Content of the news article.
      example:
        summary: summary
        types:
        - name: name
          id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
        instruments:
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        publisher:
          name: name
          id: 5.962133916683182
        language:
          code: code
          id: 6.027456183070403
        time: time
        categories:
        - name: name
          id: 5.637376656633329
        - name: name
          id: 5.637376656633329
        media:
        - width: 2.3021358869347655
          caption: caption
          mimeType: mimeType
          alternativeText: alternativeText
          url: http://example.com/aeiou
          height: 7.061401241503109
        - width: 2.3021358869347655
          caption: caption
          mimeType: mimeType
          alternativeText: alternativeText
          url: http://example.com/aeiou
          height: 7.061401241503109
        body: body
        headline: headline
        distributor:
          name: name
          id: 1.4658129805029452
      properties:
        time:
          description: Date and time of the news article.
          format: datetime
          type: string
        headline:
          description: Headline of the news article represented as text with HTML
            entity encoding but without HTML tags.
          type: string
        summary:
          description: Textual summary of the body of the news article or `null` if
            no summary was provided by the news article distributor.
          type: string
        body:
          description: Text body of the news article.
          type: string
        types:
          description: Types of news article. See endpoint `/news/article/type/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_data_types'
          type: array
        language:
          $ref: '#/components/schemas/inline_response_200_data_language'
        distributor:
          $ref: '#/components/schemas/inline_response_200_data_distributor'
        publisher:
          $ref: '#/components/schemas/inline_response_200_data_publisher'
        categories:
          description: Categories related to the news article. See endpoint `/category/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_data_categories'
          type: array
        instruments:
          description: Set of stock instruments related to the article. The set is
            not updated in the course of corporate actions, e.g. when the related
            company obtains a new instrument after a spin-off.
          items:
            $ref: '#/components/schemas/inline_response_200_data_instruments'
          type: array
        media:
          description: List of media elements of the news article.
          items:
            $ref: '#/components/schemas/inline_response_200_data_media'
          type: array
      type: object
      x-property-sort:
      - time
      - headline
      - summary
      - body
      - types
      - language
      - distributor
      - publisher
      - categories
      - instruments
      - media
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_200:
      example:
        data:
          summary: summary
          types:
          - name: name
            id: 0.8008281904610115
          - name: name
            id: 0.8008281904610115
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            name: name
            id: 5.962133916683182
          language:
            code: code
            id: 6.027456183070403
          time: time
          categories:
          - name: name
            id: 5.637376656633329
          - name: name
            id: 5.637376656633329
          media:
          - width: 2.3021358869347655
            caption: caption
            mimeType: mimeType
            alternativeText: alternativeText
            url: http://example.com/aeiou
            height: 7.061401241503109
          - width: 2.3021358869347655
            caption: caption
            mimeType: mimeType
            alternativeText: alternativeText
            url: http://example.com/aeiou
            height: 7.061401241503109
          body: body
          headline: headline
          distributor:
            name: name
            id: 1.4658129805029452
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _news_article_list_data_filter_range:
      description: Time range for matching the news article's date. At most one of
        the attributes `start` or `end` may be `null`.
      properties:
        start:
          description: The starting point of the time range (inclusive), or `null`
            to indicate that the time range extends indefinitely into the past.
          format: datetime
          type: string
          x-allowNullValue: true
        end:
          description: The ending point of the time range (exclusive), or `null` to
            indicate that the time range extends indefinitely into the future.
          format: datetime
          type: string
          x-allowNullValue: true
      required:
      - end
      - start
      type: object
      x-property-sort:
      - start
      - end
    _news_article_list_data_filter_categories:
      description: Filter for specific categories of the news article. Use a category
        system of type news with endpoint `/category/listBySystem` for valid values.
      properties:
        ids:
          description: Identifiers of the categories.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_list_data_filter_regions:
      description: Filter for specific regions of the content of the news article.
        See endpoint `/basic/region/list` for valid values.
      properties:
        ids:
          description: Identifiers of the regions.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_list_data_filter_distributor:
      description: Filter for specific distributors of the news article. See endpoint
        `/news/distributor/list` for valid values.
      properties:
        ids:
          description: Identifiers of the distributors.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_list_data_filter_publisher:
      description: Filter for specific publishers of the news article. See endpoint
        `/news/publisher/list` for valid values.
      properties:
        ids:
          description: Identifiers of the publishers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_list_data_filter_language:
      description: Filter for specific languages of the news article. See endpoint
        `/basic/language/list` for valid values.
      properties:
        ids:
          description: Identifiers of the languages.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_list_data_filter_types:
      description: Filter for specific types of the news article. See endpoint `/news/article/type/list`
        for valid values.
      properties:
        ids:
          description: Identifiers of the article types.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_list_data_filter:
      description: Criteria that filter the items in the response list; only items
        that match all of the criteria are returned.
      properties:
        range:
          $ref: '#/components/schemas/_news_article_list_data_filter_range'
        categories:
          $ref: '#/components/schemas/_news_article_list_data_filter_categories'
        regions:
          $ref: '#/components/schemas/_news_article_list_data_filter_regions'
        distributor:
          $ref: '#/components/schemas/_news_article_list_data_filter_distributor'
        publisher:
          $ref: '#/components/schemas/_news_article_list_data_filter_publisher'
        language:
          $ref: '#/components/schemas/_news_article_list_data_filter_language'
        types:
          $ref: '#/components/schemas/_news_article_list_data_filter_types'
      type: object
      x-property-sort:
      - range
      - categories
      - regions
      - distributor
      - publisher
      - language
      - types
    _news_article_list_data:
      description: The data member contains the request's primary data.
      properties:
        filter:
          $ref: '#/components/schemas/_news_article_list_data_filter'
      type: object
      x-property-sort:
      - filter
    _news_article_list_meta_subscription:
      description: Object defining the subscription attributes.
      properties:
        minimumInterval:
          description: Non-negative number of milliseconds to throttle the update
            rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 5E+3
          minimum: 0
          type: number
      required:
      - minimumInterval
      type: object
      x-property-sort:
      - minimumInterval
    _news_article_list_meta_pagination:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        cursor:
          description: Starting point as returned in the attributes `pagination.next`
            or `pagination.previous` by a prior invocation of this endpoint, or undefined
            (default).
          maxLength: 50
          type: string
        limit:
          description: Non-negative maximum number of entries to return.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 5E+2
          minimum: 1
          type: number
      type: object
      x-property-sort:
      - cursor
      - limit
    _news_article_list_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        subscription:
          $ref: '#/components/schemas/_news_article_list_meta_subscription'
        pagination:
          $ref: '#/components/schemas/_news_article_list_meta_pagination'
      type: object
      x-property-sort:
      - attributes
      - subscription
      - pagination
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_news_article_list_data'
        meta:
          $ref: '#/components/schemas/_news_article_list_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_1_types:
      example:
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the type of news article.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_language:
      description: Language of the news article. See endpoint `/basic/language/list`
        for possible values.
      example:
        id: 6.027456183070403
      properties:
        id:
          description: Identifier of the language.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_distributor:
      description: Distributor of the news article. See endpoint `/news/distributor/list`
        for possible values.
      example:
        id: 1.4658129805029452
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_publisher:
      description: Publisher of the news article. See endpoint `/news/publisher/list`
        for possible values.
      example:
        id: 5.962133916683182
      properties:
        id:
          description: Identifier of the publisher.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_categories:
      example:
        id: 5.637376656633329
      properties:
        id:
          description: Identifier of the category.
          format: id32
          type: number
          x-positive: true
          x-pushable: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_chain:
      description: Article chain.
      example:
        id: id
      properties:
        id:
          description: Identifier of the news article chain.
          format: id64
          type: string
          x-positive: true
          x-pushable: true
      type: object
      x-property-sort:
      - id
    inline_response_200_1_fsym_security:
      description: Security-level identifier.
      example:
        permanentIdentifier: permanentIdentifier
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for an instrument. The format
            is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
          type: string
          x-pushable: true
      type: object
      x-property-sort:
      - permanentIdentifier
    inline_response_200_1_fsym:
      description: Instrument-level FactSet identifier of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        security:
          permanentIdentifier: permanentIdentifier
      properties:
        security:
          $ref: '#/components/schemas/inline_response_200_1_fsym_security'
      type: object
      x-property-sort:
      - security
    inline_response_200_1_instruments:
      example:
        fsym:
          security:
            permanentIdentifier: permanentIdentifier
        id: id
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
          x-pushable: true
        fsym:
          $ref: '#/components/schemas/inline_response_200_1_fsym'
      type: object
      x-property-sort:
      - id
      - fsym
    inline_response_200_1_data:
      example:
        summary: summary
        types:
        - id: 0.8008281904610115
        - id: 0.8008281904610115
        chain:
          id: id
        code: code
        instruments:
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        publisher:
          id: 5.962133916683182
        language:
          id: 6.027456183070403
        time: time
        categories:
        - id: 5.637376656633329
        - id: 5.637376656633329
        headline: headline
        distributor:
          id: 1.4658129805029452
      properties:
        code:
          description: Identifier of the news article.
          type: string
        time:
          description: Date and time of the news article.
          format: datetime
          type: string
          x-pushable: true
        headline:
          description: Headline of the news article represented as text with HTML
            entity encoding but without HTML tags.
          type: string
          x-pushable: true
        summary:
          description: Textual summary of the body of the news article or `null` if
            no summary was provided by the news article distributor.
          type: string
          x-pushable: true
        types:
          description: Types of news article. See endpoint `/news/article/type/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_types'
          type: array
        language:
          $ref: '#/components/schemas/inline_response_200_1_language'
        distributor:
          $ref: '#/components/schemas/inline_response_200_1_distributor'
        publisher:
          $ref: '#/components/schemas/inline_response_200_1_publisher'
        categories:
          description: Categories related to the news article. See endpoint `/category/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_categories'
          type: array
        chain:
          $ref: '#/components/schemas/inline_response_200_1_chain'
        instruments:
          description: Set of stock instruments related to the article. The set is
            not updated in the course of corporate actions, e.g. when the related
            company obtains a new instrument after a spin-off.
          items:
            $ref: '#/components/schemas/inline_response_200_1_instruments'
          type: array
      type: object
      x-property-sort:
      - code
      - time
      - headline
      - summary
      - types
      - language
      - distributor
      - publisher
      - categories
      - chain
      - instruments
    inline_response_200_1_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          next: next
          previous: previous
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
      type: object
      x-property-sort:
      - status
      - pagination
    inline_response_200_1:
      example:
        data:
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          chain:
            id: id
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          publisher:
            id: 5.962133916683182
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
          distributor:
            id: 1.4658129805029452
        meta:
          pagination:
            next: next
            previous: previous
          status:
            code: 9.301444243932576
      properties:
        data:
          description: News articles that match the filter criteria ordered by descending
            article time.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    _news_article_listByChain_data_filter:
      description: Criteria that filter the items in the response list; only items
        that match all of the criteria are returned.
      properties:
        range:
          $ref: '#/components/schemas/_news_article_list_data_filter_range'
      type: object
      x-property-sort:
      - range
    _news_article_listByChain_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of the news article chain.
          format: id64
          type: string
          x-positive: true
        filter:
          $ref: '#/components/schemas/_news_article_listByChain_data_filter'
      required:
      - id
      type: object
      x-property-sort:
      - id
      - filter
    inline_object_1:
      properties:
        data:
          $ref: '#/components/schemas/_news_article_listByChain_data'
        meta:
          $ref: '#/components/schemas/_news_article_list_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_2_data_distributor:
      description: Distributor of the news articles. See endpoint `/news/distributor/list`
        for possible values.
      example:
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_2_data_articles:
      example:
        summary: summary
        types:
        - id: 0.8008281904610115
        - id: 0.8008281904610115
        code: code
        instruments:
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        - fsym:
            security:
              permanentIdentifier: permanentIdentifier
          id: id
        language:
          id: 6.027456183070403
        time: time
        categories:
        - id: 5.637376656633329
        - id: 5.637376656633329
        headline: headline
      properties:
        code:
          description: Identifier of the news article.
          type: string
        time:
          description: Date and time of the news article.
          format: datetime
          type: string
          x-pushable: true
        headline:
          description: Headline of the news article represented as text with HTML
            entity encoding but without HTML tags.
          type: string
          x-pushable: true
        summary:
          description: Textual summary of the body of the news article or `null` if
            no summary was provided by the news article distributor.
          type: string
          x-pushable: true
        types:
          description: Types of news article. See endpoint `/news/article/type/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_types'
          type: array
        language:
          $ref: '#/components/schemas/inline_response_200_1_language'
        categories:
          description: Categories related to the news article. See endpoint `/category/list`
            for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_1_categories'
          type: array
        instruments:
          description: Set of stock instruments related to the article. The set is
            not updated in the course of corporate actions, e.g. when the related
            company obtains a new instrument after a spin-off.
          items:
            $ref: '#/components/schemas/inline_response_200_1_instruments'
          type: array
      type: object
      x-property-sort:
      - code
      - time
      - headline
      - summary
      - types
      - language
      - categories
      - instruments
    inline_response_200_2_data:
      description: News articles, their publisher, and distributor as refrenced by
        the article chain.
      example:
        publisher:
          id: 5.962133916683182
        distributor:
          id: 0.8008281904610115
        articles:
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
        - summary: summary
          types:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
          code: code
          instruments:
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          - fsym:
              security:
                permanentIdentifier: permanentIdentifier
            id: id
          language:
            id: 6.027456183070403
          time: time
          categories:
          - id: 5.637376656633329
          - id: 5.637376656633329
          headline: headline
      properties:
        distributor:
          $ref: '#/components/schemas/inline_response_200_2_data_distributor'
        publisher:
          $ref: '#/components/schemas/inline_response_200_1_publisher'
        articles:
          description: News articles that match the filter criteria ordered by descending
            article time.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data_articles'
          type: array
      type: object
      x-property-sort:
      - distributor
      - publisher
      - articles
    inline_response_200_2:
      example:
        data:
          publisher:
            id: 5.962133916683182
          distributor:
            id: 0.8008281904610115
          articles:
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
          - summary: summary
            types:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
            code: code
            instruments:
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            - fsym:
                security:
                  permanentIdentifier: permanentIdentifier
              id: id
            language:
              id: 6.027456183070403
            time: time
            categories:
            - id: 5.637376656633329
            - id: 5.637376656633329
            headline: headline
        meta:
          pagination:
            next: next
            previous: previous
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_2_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    _news_article_listByIndex_data:
      description: The data member contains the request's primary data.
      properties:
        ids:
          description: List of index notation identifiers.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 500
          minItems: 1
          type: array
          uniqueItems: true
        filter:
          $ref: '#/components/schemas/_news_article_list_data_filter'
      required:
      - ids
      type: object
      x-property-sort:
      - ids
      - filter
    inline_object_2:
      properties:
        data:
          $ref: '#/components/schemas/_news_article_listByIndex_data'
        meta:
          $ref: '#/components/schemas/_news_article_list_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    _news_article_listByInstrument_data:
      description: The data member contains the request's primary data.
      properties:
        ids:
          description: List of instrument identifiers.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 1000
          minItems: 1
          type: array
          uniqueItems: true
        filter:
          $ref: '#/components/schemas/_news_article_list_data_filter'
      required:
      - ids
      type: object
      x-property-sort:
      - ids
      - filter
    inline_object_3:
      properties:
        data:
          $ref: '#/components/schemas/_news_article_listByInstrument_data'
        meta:
          $ref: '#/components/schemas/_news_article_list_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    _news_article_listByMediaKind_data:
      description: The data member contains the request's primary data.
      properties:
        ids:
          description: List of media kind identifiers. See endpoint `/basic/media/kind/list`
            for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          minItems: 1
          type: array
          uniqueItems: true
        filter:
          $ref: '#/components/schemas/_news_article_list_data_filter'
      required:
      - ids
      type: object
      x-property-sort:
      - ids
      - filter
    inline_object_4:
      properties:
        data:
          $ref: '#/components/schemas/_news_article_listByMediaKind_data'
        meta:
          $ref: '#/components/schemas/_news_article_list_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
    _news_article_searchByText_data_text_criteria:
      description: ""
      properties:
        selectionType:
          default: include
          description: Specify how the criteria should be applied to the search.
          enum:
          - include
          - exclude
          type: string
          x-enum-description:
          - Articles covering the given criteria are included in the result.
          - Articles covering the given criteria are excluded from the result.
        phrases:
          description: Phrases to be used in the criteria.
          items:
            maxLength: 100
            type: string
          maxItems: 16
          minItems: 1
          type: array
        minimumMatchScore:
          description: Minimum match score for words in the news article.
          format: real
          type: number
        scope:
          default: all
          description: Restrict fulltext search to specific scope.
          enum:
          - headline
          - body
          - all
          type: string
          x-enum-description:
          - Headline of the news article.
          - Text body of the news article.
          - Search in both headline and body.
      type: object
      x-property-sort:
      - selectionType
      - phrases
      - minimumMatchScore
      - scope
    _news_article_searchByText_data_text:
      description: Restrict the response of news articles to given include and exclude
        text criteria.
      properties:
        criteria:
          $ref: '#/components/schemas/_news_article_searchByText_data_text_criteria'
      type: object
      x-property-sort:
      - criteria
    _news_article_searchByText_data_indices:
      description: Set of index notations that each represent an index. Articles that
        cover at least one instrument contained in one of the specified indices are
        found.
      properties:
        ids:
          description: Identifiers of the index notations.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 500
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_instruments:
      description: Set of stock instruments related to the article. The set is not
        updated in the course of corporate actions, e.g. when the related company
        obtains a new instrument after a spin-off.
      properties:
        ids:
          description: Identifiers of the instruments.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 1000
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_types:
      description: Types of the news article. A news article is found if one or more
        of the specified news article types match. See endpoint `/news/article/type/list`
        for valid values.
      properties:
        ids:
          description: Identifiers of the article types.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_categories:
      description: Categories of the news article. A news article is found if one
        or more of the specified categories match. Use a category system of type news
        with endpoint /category/listBySystem for valid values.
      properties:
        ids:
          description: Identifiers of the categories.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_regions:
      description: Regions of the content of the news article. A news article is found
        if one or more of the specified regions match. See endpoint `/basic/region/list`
        for valid values.
      properties:
        ids:
          description: Identifiers of the regions.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_distributor:
      description: Distributors of the news article. A news article is found if one
        of the specified distributors matches. See endpoint `/news/distributor/list`
        for valid values.
      properties:
        ids:
          description: Identifiers of the distributors.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_publisher:
      description: Publishers of the news article. A news article is found if one
        of the specified publishers matches. See endpoint `/news/publishers/list`
        for valid values.
      properties:
        ids:
          description: Identifiers of the publishers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_language:
      description: Languages of the news article. A news article is found if one of
        the specified languages matches. See endpoint `/basic/language/list` for valid
        values.
      properties:
        ids:
          description: Identifiers of the languages.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _news_article_searchByText_data_criteria:
      properties:
        selectionType:
          default: include
          description: Specify how the criteria should be applied to the search.
          enum:
          - include
          - exclude
          type: string
          x-enum-description:
          - Articles covering the given criteria are included in the result.
          - Articles covering the given criteria are excluded from the result.
        range:
          $ref: '#/components/schemas/_news_article_list_data_filter_range'
        indices:
          $ref: '#/components/schemas/_news_article_searchByText_data_indices'
        instruments:
          $ref: '#/components/schemas/_news_article_searchByText_data_instruments'
        types:
          $ref: '#/components/schemas/_news_article_searchByText_data_types'
        categories:
          $ref: '#/components/schemas/_news_article_searchByText_data_categories'
        regions:
          $ref: '#/components/schemas/_news_article_searchByText_data_regions'
        distributor:
          $ref: '#/components/schemas/_news_article_searchByText_data_distributor'
        publisher:
          $ref: '#/components/schemas/_news_article_searchByText_data_publisher'
        language:
          $ref: '#/components/schemas/_news_article_searchByText_data_language'
      type: object
      x-property-sort:
      - selectionType
      - range
      - indices
      - instruments
      - types
      - categories
      - regions
      - distributor
      - publisher
      - language
    _news_article_searchByText_data:
      description: The data member contains the request's primary data.
      properties:
        text:
          $ref: '#/components/schemas/_news_article_searchByText_data_text'
        criteria:
          description: Restrict the response of news articles to given include and
            exclude criteria.
          items:
            $ref: '#/components/schemas/_news_article_searchByText_data_criteria'
          maxItems: 8
          type: array
      type: object
      x-property-sort:
      - text
      - criteria
    inline_object_5:
      properties:
        data:
          $ref: '#/components/schemas/_news_article_searchByText_data'
        meta:
          $ref: '#/components/schemas/_news_article_list_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_3_data:
      description: Details of a news article type.
      example:
        name: name
      properties:
        name:
          description: Name of the news article type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - name
    inline_response_200_3:
      example:
        data:
          name: name
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_3_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_4_data:
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the news article type.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the news article type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_4:
      example:
        data:
        - name: name
          id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          description: List of news article types, sorted by ascending identifier
            value.
          items:
            $ref: '#/components/schemas/inline_response_200_4_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_5_data_delivery:
      description: Delivery of the distributor.
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the delivery.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the delivery.
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_5_data:
      description: Details of the distributor.
      example:
        delivery:
          name: name
          id: 0.8008281904610115
        name: name
      properties:
        name:
          description: Name of the distributor.
          type: string
        delivery:
          $ref: '#/components/schemas/inline_response_200_5_data_delivery'
      type: object
      x-property-sort:
      - name
      - delivery
    inline_response_200_5:
      example:
        data:
          delivery:
            name: name
            id: 0.8008281904610115
          name: name
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_5_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_6_data:
      example:
        delivery:
          name: name
          id: 0.8008281904610115
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          type: number
          x-sortable: true
          x-positive: true
        name:
          description: Name of the distributor.
          type: string
          x-sortable: true
          x-default-sort-direction: 1
          x-default-sort-attribute: true
        delivery:
          $ref: '#/components/schemas/inline_response_200_5_data_delivery'
      type: object
      x-property-sort:
      - id
      - name
      - delivery
    inline_response_200_6:
      example:
        data:
        - delivery:
            name: name
            id: 0.8008281904610115
          name: name
          id: 0.8008281904610115
        - delivery:
            name: name
            id: 0.8008281904610115
          name: name
          id: 0.8008281904610115
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          description: List of distributors.
          items:
            $ref: '#/components/schemas/inline_response_200_6_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_7_data_distributor:
      description: Distributor of the publisher.
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the distributor.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the distributor.
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_7_data:
      description: Details of the publisher.
      example:
        name: name
        distributor:
          name: name
          id: 0.8008281904610115
      properties:
        name:
          description: Name of the publisher.
          type: string
        distributor:
          $ref: '#/components/schemas/inline_response_200_7_data_distributor'
      type: object
      x-property-sort:
      - name
      - distributor
    inline_response_200_7:
      example:
        data:
          name: name
          distributor:
            name: name
            id: 0.8008281904610115
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_7_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_8_data:
      example:
        name: name
        id: 0.8008281904610115
        distributor:
          name: name
          id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the publisher.
          format: id32
          type: number
          x-sortable: true
          x-positive: true
        name:
          description: Name of the publisher.
          type: string
          x-sortable: true
          x-default-sort-direction: 1
          x-default-sort-attribute: true
        distributor:
          $ref: '#/components/schemas/inline_response_200_7_data_distributor'
      type: object
      x-property-sort:
      - id
      - name
      - distributor
    inline_response_200_8_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          hasNext: true
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/OffsetBasedPaginationOutputObjectWithoutTotal'
      type: object
      x-property-sort:
      - status
      - pagination
    inline_response_200_8:
      example:
        data:
        - name: name
          id: 0.8008281904610115
          distributor:
            name: name
            id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
          distributor:
            name: name
            id: 0.8008281904610115
        meta:
          pagination:
            hasNext: true
          status:
            code: 9.301444243932576
      properties:
        data:
          description: List of publishers.
          items:
            $ref: '#/components/schemas/inline_response_200_8_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_8_meta'
      type: object
    inline_response_200_9_data:
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the publisher.
          format: id32
          type: number
          x-sortable: true
          x-positive: true
        name:
          description: Name of the publisher.
          type: string
          x-sortable: true
          x-default-sort-direction: 1
          x-default-sort-attribute: true
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_9:
      example:
        data:
        - name: name
          id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          description: List of publishers.
          items:
            $ref: '#/components/schemas/inline_response_200_9_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _news_publisher_searchByName_data_filter_distributor:
      description: Filter for distributors. See endpoint `/news/distributor/list`
        for valid values.
      properties:
        id:
          description: Identifier of distributor.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _news_publisher_searchByName_data_filter_delivery:
      description: Filter for deliveries. See endpoint `/basic/delivery/list` for
        valid values.
      properties:
        id:
          description: Identifier of delivery.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _news_publisher_searchByName_data_filter:
      description: Criteria that filter the items in the response list; only items
        that match all of the criteria are returned.
      properties:
        distributor:
          $ref: '#/components/schemas/_news_publisher_searchByName_data_filter_distributor'
        delivery:
          $ref: '#/components/schemas/_news_publisher_searchByName_data_filter_delivery'
      type: object
      x-property-sort:
      - distributor
      - delivery
    _news_publisher_searchByName_data:
      description: The data member contains the request's primary data.
      properties:
        searchValue:
          description: Restricts the search to publishers, which match the search
            value. The comparison for a match is case sensitive.
          maxLength: 50
          minLength: 2
          type: string
        matchType:
          description: The match type that is applied to the search.
          enum:
          - begins
          - ends
          - contains
          type: string
          x-enum-description:
          - Publisher name must begin with the searchValue.
          - Publisher name must end with the searchValue.
          - Publisher name must begin, end, or contain the searchValue.
        filter:
          $ref: '#/components/schemas/_news_publisher_searchByName_data_filter'
      required:
      - matchType
      - searchValue
      type: object
      x-property-sort:
      - searchValue
      - matchType
      - filter
    _news_publisher_searchByName_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        sort:
          description: Sortable attributes. The sort order is ascending unless it
            is prefixed with a minus sign, in which case it is descending. A list
            of at most 1 (possibly prefixed) attribute name(s) is allowed.
          items:
            enum:
            - id
            - -id
            - name
            - -name
            type: string
          maxItems: 1
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - attributes
      - sort
    inline_object_6:
      properties:
        data:
          $ref: '#/components/schemas/_news_publisher_searchByName_data'
        meta:
          $ref: '#/components/schemas/_news_publisher_searchByName_meta'
      required:
      - data
      type: object
      x-property-sort:
      - data
      - meta
  securitySchemes:
    FactSetApiKey:
      scheme: basic
      type: http
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
x-interface-version: 1
x-documenter-version: 5.38.1
x-api-version: 2.9.1
x-original-swagger-version: "2.0"

