openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    Gain access to comprehensive global coverage for Equities & Fixed Income. Perform quick analytics by controlling the date ranges, currencies, and rolling periods, or simply request Open, High, Low, and Close prices. Easily connect pricing data with other core company data or alternative content sets using FactSet's hub and spoke symbology. <p>Equity and Fund Security types include Common Stock, ADR, GDR, Preferred, Closed-ended Fund, Exchange Traded Fund, Unit, Open-ended Fund, Exchange Traded Fund UVI, Exchange Traded Fund NAV, Preferred Equity, Non-Voting Depositary Receipt/Certificate, Alien/Foreign, Structured Product, and Temporary Instruments. Reference over 180,000+ active and inactive securities.</p><p>Fixed Income Security Types include Corporate Bonds, Treasury and Agency bonds, Government Bonds, and Municipals.</p><p><b>Rate limit is set to 25 requests per second</b>.</p>
  title: FactSet Prices API
  version: 1.3.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /factset-prices/v1/prices:
    get:
      description: |
        Gets security prices, Open, High, Low, Close, Volume, and currency for a specified date range and frequency. Prices are updated and at different times across the different regions around the globe. The Prices API automatically defaults relative price dates to the local region which is determined by the local region of the requested security id. To learn more about relative dates please visit [OA Page 4627](https://my.apps.factset.com/oa/pages/4627)

        */prices* endpoint currently supports Long Running asynchronous requests up to **10 minutes** via `batch` parameter. **Additional Approvals needed for access**. Id limits increased to **5000 ids** per request using batch parameter.
      operationId: getSecurityPrices
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
          limit** =  2000 per non-batch request / 5000 per batch request*</p> *<p>Make
          note, GET Method URL request lines are also limited to a total length of
          8192 bytes (8KB). In cases where the service allows for thousands of ids,
          which may lead to exceeding this request line limit of 8KB, its advised
          for any requests with large request lines to be requested through the respective
          "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the split, spinoff, and dividend adjustments for the prices. <p>For more information, visit [Online Assistant Page 614](https://oa.apps.factset.com/pages/614)</p>
            * **SPLIT** = Split ONLY Adjusted. This is used by default.
            * **SPINOFF** = Splits & Spinoff Adjusted.
            * **DIVADJ** = Splits, Spinoffs, and Dividends adjusted.
            * **UNSPLIT** = No Adjustments.
        examples:
          split:
            summary: Split adjusted by default - accounts for splits over security's
              history.
            value: SPLIT
          spinoff:
            summary: Spinoff Adjusted - accounts for a company's spinoff. Spinoffs
              are treated as special dividends.
            value: SPINOFF
          Dividend Adjusted:
            summary: Dividend Adjusted
            value: DIVADJ
          Unsplit:
            summary: Unsplit data - overrides the default split adjustment
            value: UNSPLIT
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          default: SPLIT
          enum:
          - SPLIT
          - SPINOFF
          - DIVADJ
          - UNSPLIT
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request up to **10 minutes**. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202.

          **Additional Access Required. To gain access to this feature, reach out to your FactSet Account team or "Report Issue" above and our support teams can assist.**

          Once a batch request is submitted, use `batch/v1/status` to see if the job has completed. Once completed, retrieve the results of the request via `batch/v1/result`.

          When using Batch, `ids` limit is increased to **5000** ids per request, though limits on query string via GET method still apply. It's advised to submit large lists of ids via POST method.
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
              schema:
                $ref: '#/components/schemas/pricesResponse'
          description: Array of security prices open, high, low, close, and volume.
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch/v1/status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets end-of-day Open, High, Low, Close for a list of securities.
      tags:
      - Prices
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: |2

        Gets security prices, Open, High, Low, Close, Volume, and currency for a specified date range and frequency.

        */prices* endpoint currently supports Long Running asynchronous requests up to **10 minutes** via `batch` parameter. **Additional Approvals needed for access**. Id limits increased to **5000 ids** per request using batch parameter.
      operationId: getSecurityPricesForList
      requestBody:
        content:
          application/json:
            examples:
              One Year of Daily Prices for Apple and Tesla in 2019:
                $ref: '#/components/examples/multipleIdsOneYearPost'
              Single Company Monthly Prices for One Year:
                $ref: '#/components/examples/singleIdsOneYearMonthlyPost'
              Price Adjusted for Splits, Spinoffs, and Dividends:
                $ref: '#/components/examples/priceAdjustedForDividendsMonthlyPost'
              Batch Request for Prices for APPL and Tesla:
                $ref: '#/components/examples/BatchPricesRequestPost'
            schema:
              $ref: '#/components/schemas/pricesRequest'
        description: Request object for `Security` prices.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
              schema:
                $ref: '#/components/schemas/pricesResponse'
          description: Array of security prices
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch/v1/status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests end-of-day Open, High, Low, Close for a large list of securities.
      tags:
      - Prices
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/fixed-income:
    get:
      description: |
        Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)
      operationId: getFixedSecurityPrices
      parameters:
      - description: The requested list of Fixed Income security identifiers. <p>***ids
          limit** =  2000 per request*</p> *<p>Make note, GET Method URL request lines
          are also limited to a total length of 8192 bytes (8KB). In cases where the
          service allows for thousands of ids, which may lead to exceeding this request
          line limit of 8KB, its advised for any requests with large request lines
          to be requested through the respective "POST" method.</p>*
        examples:
          oneFixedId:
            summary: One Fixed Income Identifier
            value:
            - 037833BX
          multipleFixedIds:
            summary: Multiple Fixed Income Identifiers and Types
            value:
            - 037833BX
            - 853207EZ
            - 9127963H
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **MTD** = Month-to-date
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **CQTD** =  Calendar quarter-to-date
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **CYTD** = Calendar Year-to-date.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Month-to-date:
            summary: MTD - Month-to-date
            value: MTD
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Calendar quarter-to-date:
            summary: CQTD - Calendar quarter-to-date
            value: CQTD
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Calendar Year-to-date:
            summary: CYTD - Calendar Year-to-date
            value: CYTD
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - M
          - AM
          - MTD
          - CQ
          - CQTD
          - AY
          - CY
          - CYTD
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
          description: Array of Fixed Income Security prices objects for date range
            requested
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets pricing for a list of Fixed Income securities
      tags:
      - Prices
      x-accepts: application/json
    post:
      description: |
        Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)
      operationId: getFixedSecurityPricesForList
      requestBody:
        content:
          application/json:
            examples:
              Single Fixed Income Id Request for One Year of Monthly Prices:
                $ref: '#/components/examples/singleFixedOneYearPost'
              Fixed Income Single Id Request:
                $ref: '#/components/examples/multipleFixedPricesPost'
            schema:
              $ref: '#/components/schemas/pricesFixedIncomeRequest'
        description: Request object for Fixed Income `Security` prices.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
          description: Array of Fixed Income Security prices objects
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests pricing for a list of Fixed Income securities for date range
        requested
      tags:
      - Prices
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/references:
    get:
      description: |
        Gets security reference details for a list of `ids`, such as Name, Security Type, Currency, Country, Primary Exchange, Local Index, and dates of First and Last Trade.
      operationId: getSecurityReferences
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single Company Reference:
                  $ref: '#/components/examples/singleSecurityReferences'
                Multiple Company References:
                  $ref: '#/components/examples/multipleSecurityReferences'
              schema:
                $ref: '#/components/schemas/referencesResponse'
          description: Array of security references objects
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets security reference details for a list of securities
      tags:
      - Reference
      x-accepts: application/json
    post:
      description: |
        Gets security reference details for a large list of `ids`, such as Name, Security Type, Currency, Country, Primary Exchange, Local Index, and dates of First and Last Trade.
      operationId: getSecurityReferenceForList
      requestBody:
        content:
          application/json:
            examples:
              Multiple Security Reference Request:
                $ref: '#/components/examples/multipleReferencesPost'
            schema:
              $ref: '#/components/schemas/referencesRequest'
        description: Request object for `Security` prices.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Single Company Reference:
                  $ref: '#/components/examples/singleSecurityReferences'
                Multiple Company References:
                  $ref: '#/components/examples/multipleSecurityReferences'
              schema:
                $ref: '#/components/schemas/referencesResponse'
          description: Array of security prices
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests security reference details a list of securities
      tags:
      - Reference
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/returns:
    get:
      description: 'The simple or compound return for the requested frequency and/or
        rollingPeriod. Depending on the input parameters the return will adjust accordingly.
        If you simply use frequency and no rollingPeriod, the return value will represent
        the frequency period. If you use rollingPeriod, the values will be returned
        in actual period ends (e.g. actual month, actual week, daily, etc.). General
        Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
      operationId: getSecurityReturns
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Fiscal Quarterly:
            summary: FQ - Fiscal Quarter of the company
            value: FQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
          Fiscal Annual:
            summary: FY - Fiscal Annual - based on the last trading day of the company's
              fiscal year.
            value: FY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the dividend reinvestment for the returns calculation.
            * **PRICE** = Price Change - Dividends Excluded
            * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested
            * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested
            * **EXDATE_C** = Compound Return - Dividends reinvested on exdate
            * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.
        explode: true
        in: query
        name: dividendAdjust
        required: false
        schema:
          default: PRICE
          enum:
          - PRICE
          - EXDATE
          - PAYDATE
          - EXDATE_C
          - PAYDATE_C
          type: string
        style: form
      - description: Period of measure for the rolling cumulative return. This does
          not change display `frequency` but rather the underlying return calculation
          period. All periods are referencing actual periods of measure, not period-ends.
          For example, 1M rolling period will go back to that date the previous month,
          which is not always the month-end date.
        explode: true
        in: query
        name: rollingPeriod
        required: false
        schema:
          enum:
          - 1D
          - 1W
          - 1M
          - 3M
          - 6M
          - 52W
          - 2Y
          - 3Y
          - 5Y
          - 10Y
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
              schema:
                $ref: '#/components/schemas/returnsResponse'
          description: Array of security returns for the requested date range and
            rolling period
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets Returns for a list of `ids` as of given date range and rolling
        Period
      tags:
      - Returns
      x-accepts: application/json
    post:
      description: 'The simple or compound return for the requested frequency and/or
        rollingPeriod. Depending on the input parameters the return will adjust accordingly.
        If you simply use frequency and no rollingPeriod, the return value will represent
        the frequency period. If you use rollingPeriod, the values will be returned
        in actual period ends (e.g. actual month, actual week, daily, etc.). General
        Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
      operationId: getSecurityReturnsForList
      requestBody:
        content:
          application/json:
            examples:
              What is the latest monthly total return for APPL TSLA FB and NFLX:
                $ref: '#/components/examples/fangStocksReturnPost'
              Daily Price Changes of AMZN in 2019:
                $ref: '#/components/examples/dailyPriceChangeAMZNPost'
            schema:
              $ref: '#/components/schemas/returnsRequest'
        description: Request object for `Security` returns.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
              schema:
                $ref: '#/components/schemas/returnsResponse'
          description: Array of security returns for the requested date range and
            rolling period
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests security returns for the given date range and rollingPeriod.
      tags:
      - Returns
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/returns-snapshot:
    get:
      description: |
        Retrieves various return periods as of a given date for a requested list of securities. This endpoint is very helpful for quickly retrieving a list of pre-calculated returns for application development.<p> Return periods include
          * oneDay
          * weekToDate
          * monthToDate
          * quarterToDate
          * yearToDate
          * oneMonth
          * threeMonth
          * sixMonth
          * nineMonth
          * oneYear
          * twoYearAnnualized
          * threeYearAnnualized
          * fiveYearAnnualized
          * tenYearAnnualized
          * twentyYearAnnualized
          * thirtyYearAnnualized
          * ipoToDateAnnualized
          </p>
      operationId: getReturnsSnapshot
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      - description: |
          The date in **YYYY-MM-DD** format. This controls the perspective dates to the calculate the returns. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-07-07
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends. LOCAL
          calendar will default to the securities' trading calendar which excludes
          date records for respective holiday periods.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the dividend reinvestment for the returns calculation. Dividends will be reinvested on the date the dividends go ex (when the dividends belong to the seller rather than the buyer). Visit [OA 8748](https://my.apps.factset.com/oa/pages/8748) for calculation methodology.
            * **PRICE** = Price Change - Dividends Excluded.
            * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested. Dividends accumulated throughout the specified period are added to the price at the end of the period.
            * **EXDATE_C** = Compound Return - Dividends reinvested on exdate. Dividends accumulated throughout the specified period are used to buy more shares of stock in the company.
        explode: true
        in: query
        name: dividendAdjust
        required: false
        schema:
          default: PRICE
          enum:
          - PRICE
          - EXDATE
          - EXDATE_C
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for Multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
          description: Array of returns-snapshot objects for the list of ids requested
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the price performance of the security and annualized compound
        total returns.
      tags:
      - Returns
      x-accepts: application/json
    post:
      description: |
        Retrieves various return periods as of a given date for a requested list of securities. This endpoint is very helpful for quickly retrieving a list of pre-calculated returns for application development.<p> Return periods include
          * oneDay
          * weekToDate
          * monthToDate
          * quarterToDate
          * yearToDate
          * oneMonth
          * threeMonth
          * sixMonth
          * nineMonth
          * oneYear
          * twoYearAnnualized
          * threeYearAnnualized
          * fiveYearAnnualized
          * tenYearAnnualized
          * twentyYearAnnualized
          * thirtyYearAnnualized
          * ipoToDateAnnualized
          </p>
      operationId: getReturnsSnapshotForList
      requestBody:
        content:
          application/json:
            examples:
              Return details for IBM-US with compound return type:
                $ref: '#/components/examples/singleRSCompundRT'
              Requesting returns details for multiple companies with simple return type:
                $ref: '#/components/examples/multipleRSSimpleRT'
            schema:
              $ref: '#/components/schemas/returnsSnapshotRequest'
        description: Request object for Returns-Snapshot.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
          description: Array of returns-snapshot objects for the list of ids requested
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the price performance of the security and annualized compound
        total returns.
      tags:
      - Returns
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/dividends:
    get:
      description: Get the dividend amounts, dates, types, and flags over a specified
        date range. You may request future dates to receive information for declared
        dividends.
      operationId: getSecurityDividends
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the split, spinoff, and dividend adjustments for the prices. <p>For more information, visit [Online Assistant Page 614](https://oa.apps.factset.com/pages/614)</p>
            * **SPLIT** = Split ONLY Adjusted. This is used by default.
            * **SPINOFF** = Splits & Spinoff Adjusted.
            * **DIVADJ** = Splits, Spinoffs, and Dividends adjusted.
            * **UNSPLIT** = No Adjustments.
        examples:
          split:
            summary: Split adjusted by default - accounts for splits over security's
              history.
            value: SPLIT
          spinoff:
            summary: Spinoff Adjusted - accounts for a company's spinoff. Spinoffs
              are treated as special dividends.
            value: SPINOFF
          Dividend Adjusted:
            summary: Dividend Adjusted
            value: DIVADJ
          Unsplit:
            summary: Unsplit data - overrides the default split adjustment
            value: UNSPLIT
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          default: SPLIT
          enum:
          - SPLIT
          - SPINOFF
          - DIVADJ
          - UNSPLIT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Three Years of Dividends for AAPL as of 2019:
                  $ref: '#/components/examples/3yrDividendsAPPL'
                Latest Dividends for AAPL and AMZN:
                  $ref: '#/components/examples/latestDividends'
              schema:
                $ref: '#/components/schemas/dividendsResponse'
          description: Array of security dividend information for a given date range
            and list of securities
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets dividend information for a given date range and list of securities
      tags:
      - Dividends
      x-accepts: application/json
    post:
      description: Get the dividend amounts, dates, types, and flags over a specified
        date range
      operationId: getSecurityDividendsForList
      requestBody:
        content:
          application/json:
            examples:
              Request AAPL Dividends in 2019:
                $ref: '#/components/examples/singleSecurityDividends'
              Request Latest Dividends of AAPL and MSFT:
                $ref: '#/components/examples/latestDividendsPost'
            schema:
              $ref: '#/components/schemas/dividendsRequest'
        description: Request object for `Security` dividends.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Latest Dividends for AAPL and MSFT:
                  $ref: '#/components/examples/latestDividends'
              schema:
                $ref: '#/components/schemas/dividendsResponse'
          description: Array of dividend information for a given date range and list
            of securities
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests dividend information for a given date range and list of securities
      tags:
      - Dividends
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/splits:
    get:
      description: Gets the entire history of splits for a given list of identifiers.
        Information returned includes the split factor, a plain text comment regarding
        the type of split, and the event date.
      operationId: getSecuritySplits
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 2000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Split History for a Single Security - MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
              schema:
                $ref: '#/components/schemas/splitsResponse'
          description: Array of security splits
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets full history of security Splits for a list of `ids`
      tags:
      - Splits
      x-accepts: application/json
    post:
      description: Gets the entire history of splits for a given list of identifiers.
        Information returned includes the split factor, a plain text comment regarding
        the type of split, and the event date.
      operationId: getSecuritySplitsForList
      requestBody:
        content:
          application/json:
            examples:
              Single Company Daily Prices One Month:
                $ref: '#/components/examples/splitHistoryMSFTPost'
              One Year of Monthly Prices for AAPL in 2019:
                $ref: '#/components/examples/multipleSplitsHistoryPost'
            schema:
              $ref: '#/components/schemas/splitsRequest'
        description: Request object for `Security` split factors.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Splits History for MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
              schema:
                $ref: '#/components/schemas/splitsResponse'
          description: Array of Splits objects
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests splits for a list of `ids`
      tags:
      - Splits
      x-contentType: application/json
      x-accepts: application/json
  /factset-prices/v1/shares:
    get:
      description: Gets security shares for a list of 'ids' and given date range.
        Share values returned include security-level and company-level.
      operationId: getSecurityShares
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
          <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL
          request lines are also limited to a total length of 8192 bytes (8KB). In
          cases where the service allows for thousands of ids, which may lead to exceeding
          this request line limit of 8KB, its advised for any requests with large
          request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **FQ** = Fiscal Quarter of the company.
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
[...]
