openapi: 3.0.1
info:
  title: Prime Developer Trial
  version: v1
servers:
- url: https://api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: factset endpoints
  name: factset
paths:
  /factset/etf/getBySymbol:
    get:
      description: An ETP can be profiled by defining several common attributes such
        as issuer, fund description, and benchmark.
      operationId: get/factset/etf/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Retrieve basic profile information for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/asset/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by asset
        class. The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/asset/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: This endpoint returns selected ETP's asset allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/country/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by country
        names. The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/country/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: This endpoint returns selected ETP's country allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/currency/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by currency.
        The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/currency/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: This endpoint returns selected ETP's currency allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/economicDevelopment/listBySymbol:
    get:
      description: List of allocations classified by a holding's economic development
        status (e.g. developed market, frontier market, emerging market).
      operationId: get/factset/etf/allocation/economicDevelopment/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: List of allocations classified by a holding's economic development
        status.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/exchange/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by exchanges.
        The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/exchange/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: This endpoint returns selected ETP's exchange allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/industry/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by industry.
        The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/industry/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: This endpoint returns selected ETP's industry allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/marketCapitalization/listBySymbol:
    get:
      description: List of allocations classified by a holding's total market capitalization
        (e.g. Small Cap, Mid Cap, Large Cap). Response will be sorted by weight in
        descending order.
      operationId: get/factset/etf/allocation/marketCapitalization/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: List of allocations classified by a holding's total market capitalization.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/region/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by region
        names. The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/region/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: This endpoint returns selected ETP's region allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/allocation/sector/listBySymbol:
    get:
      description: This endpoint returns selected ETP's allocations grouped by sector
        names. The response will be sorted by weight in descending order.
      operationId: get/factset/etf/allocation/sector/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: This endpoint returns selected ETP's sector allocations.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/analytics/getBySymbol:
    get:
      description: FactSet's proprietary analytical datapoints include ETP attributes
        specific to lending, corporate actions, and benchmarks.
      operationId: get/factset/etf/analytics/getBySymbol
      parameters:
      - description: Ticker-region of a security as defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful Response
      summary: FactSet proprietary analytics datapoints for ETPs.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/analytics/holdings/statistics/getBySymbol:
    get:
      description: FactSet calculates several proprietary portfolio statistics for
        ETPs including average maturity, credit quality, price/book ratio, price/earnings
        ratio, and dividend yield.
      operationId: get/factset/etf/analytics/holdings/statistics/getBySymbol
      parameters:
      - description: Ticker-region of a security as defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successful Response
      summary: FactSet's portfolio statistics for ETPs.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/analytics/score/getBySymbol:
    get:
      description: FactSet calculates various proprietary fund rankings including
        unique scores, fund grades, segment averages, and recommendations.
      operationId: get/factset/etf/analytics/score/getBySymbol
      parameters:
      - description: Ticker-region of a security as defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: FactSet proprietary ETP rankings.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/analytics/trade/getBySymbol:
    get:
      description: Various metrics of an ETP's liquidity including creation metrics,
        premium/discount, spread, and tracking error statistics.
      operationId: get/factset/etf/analytics/trade/getBySymbol
      parameters:
      - description: Ticker-region of a security as defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Successful Response
      summary: Trade statistics for specific ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/characteristics/getBySymbol:
    get:
      description: An ETP has many unique characteristics specific to its composition
        that differentiate it from other products. This includes details on leverage,
        hedging, derivatives, and service providers.
      operationId: get/factset/etf/characteristics/getBySymbol
      parameters:
      - description: Market symbol of ETF defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: Successful Response
      summary: Retrieve basic characteristic information for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/class/getBySymbol:
    get:
      description: 'ETP classification is divided into three categories: Asset Class,
        Geography, and Investment Strategy. Asset class is determined based on the
        various asset types held by the fund, A fund''s geography can be classified
        by region (e.g. Asia-Pac), specific geography (e.g. China) or economic development
        (e.g. BRIC). An ETP''s investment strategy is classified in broad categories
        (e.g. Large Cap) and more granular categorizations.'
      operationId: get/factset/etf/class/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: Successful Response
      summary: Retrieve an ETP's classification specific to asset class, geography,
        or investment strategy.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/class/category/broad/list:
    get:
      description: List of ETP class broad categories.
      operationId: get/factset/etf/class/category/broad/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: Successful Response
      summary: List of ETP class broad categories.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/class/category/focus/list:
    get:
      description: List of ETP class focus categories.
      operationId: get/factset/etf/class/category/focus/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
          description: Successful Response
      summary: List of ETP class focus categories.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/class/category/niche/list:
    get:
      description: List of ETP class niche categories.
      operationId: get/factset/etf/class/category/niche/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: Successful Response
      summary: List of ETP class niche categories.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/class/geography/list:
    get:
      description: List of ETP class geographies.
      operationId: get/factset/etf/class/geography/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: Successful Response
      summary: List of ETP class geographies.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/competitors/listBySymbol:
    get:
      description: FactSet defines and maintains a proprietary list of competing companies
        based on a number of attributes specific to a fund.
      operationId: get/factset/etf/competitors/listBySymbol
      parameters:
      - description: Ticker-region of a security as defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
          description: Successful Response
      summary: FactSet's proprietary list of competing companies.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/distribution/getBySymbol:
    get:
      description: Retrieve distribution-related details for a specific ETP including
        dividend and capital gain distribution details.
      operationId: get/factset/etf/distribution/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
          description: Successful Response
      summary: Retrieve an ETP's current distribution details.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/fundFlows/getBySymbol:
    get:
      description: Retrieve the amount invested or divested in a specific ETP over
        various time periods including one-day, one-week, one-month, one-year, and
        YTD.
      operationId: get/factset/etf/fundFlows/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
          description: Successful Response
      summary: Retrieve an ETP's cash inflow/outflows for various time periods.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/growthOfTenK/listBySymbol:
    get:
      description: Growth of 10K (or growth of 10,000) is a commonly used chart that
        highlights the change in the value of an initial 10,000 investment in the
        ETP during a given period of time. Often, this period of time is either since
        inception or the calculation between the pre-defined range.
      operationId: get/factset/etf/growthOfTenK/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Historice NAV date value.
        in: query
        name: timePeriod
        schema:
          enum:
          - 1M
          - 3M
          - 6M
          - YTD
          - 1Y
          - 3Y
          - 5Y
          - 10Y
          - SI
          type: string
      - description: Historice NAV date value.
        in: query
        name: calculationType
        schema:
          enum:
          - I
          - SI
          type: string
      - description: Indicates the reference point for growth of 10k data.
        in: query
        name: alignment
        schema:
          enum:
          - day
          - week-end
          - month-end
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
          description: Successful Response
      summary: This endpoint returns selected ETP's Growth of 10K calculated values.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/holdings/listBySymbol:
    get:
      description: Retrieve an ETP's holdings information including security, shares
        held, and weight.
      operationId: get/factset/etf/holdings/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
          description: Successful Response
      summary: Holdings details for an individual ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/marketAggregates/getBySymbol:
    get:
      description: Market Aggregates combines FactSet Estimates, FactSet Fundamentals,
        and FactSet Prices data to derive ratios and per share values on an aggregate
        level. The resulting index values can be used to identify market trends and
        compare a combination of portfolios, benchmarks, and individual securities.
      operationId: get/factset/etf/marketAggregates/getBySymbol
      parameters:
      - description: Ticker-region of an ETP as defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
          description: Successful Response
      summary: Market aggregate data for ETPs.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/premiumDiscount/summary/listBySymbol:
    get:
      description: Summary of ETP premium discount data.
      operationId: get/factset/etf/premiumDiscount/summary/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Time frame of the data.
        in: query
        name: timePeriod
        schema:
          default: YTD
          enum:
          - YTD
          - 2Y
          - 3Y
          - 5Y
          type: string
      - description: Indicates the reference point for the historical NAV and price
          values.
        in: query
        name: alignment
        schema:
          default: quarter-end
          enum:
          - month-end
          - quarter-end
          - year-end
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
          description: Successful Response
      summary: Summary of ETP premium discount data.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/price/getBySymbol:
    get:
      description: Retrieve an ETP's historical NAV and shares outstanding for a specified
        time range.
      operationId: get/factset/etf/price/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
          description: Successful Response
      summary: Retrieve historical ETP NAV values.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/returns/getBySymbol:
    get:
      description: An ETP's total return data can be returned for various time frames
        including 1-month, 3-month, YTD, 1-year, 3-year, and 5-year. Total return
        calculations include price performance plus reinvested and compounded distributions.
        Market price is used to calcualte market returns. Portfolio nav is used to
        calcualte nav returns.
      operationId: get/factset/etf/returns/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Return type.
        in: query
        name: returnType
        schema:
          default: price
          enum:
          - price
          - nav
          exclusiveMaximum: false
          maxLength: 5
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
          description: Successful Response
      summary: Retrieve total return data for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/strategy/getBySymbol:
    get:
      description: ETP's can be classified in many different ways including investment
        strategy, security weightings, and fund composition.
      operationId: get/factset/etf/strategy/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
          description: Successful Response
      summary: Retrieve various classification details for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/strategy/segment/list:
    get:
      description: Retrieve the various segments assigned to a specific ETP. Segment
        data is used to group funds for comparison and relative performance analyses.
      operationId: get/factset/etf/strategy/segment/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
          description: Successful Response
      summary: Retrieve a list of ETP strategy segments.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/structure/getBySymbol:
    get:
      description: Retrieve details on a fund's structure including its type, investment
        style (active/passive), and legal structure.
      operationId: get/factset/etf/structure/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
          description: Successful Response
      summary: Retrieve the basic structure information for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/taxesAndFees/us/getBySymbol:
    get:
      description: Retrieve various fee and tax related details on a specified ETP
        including expense ratio and tax treatment for dividends and capital gains.
      operationId: get/factset/etf/taxesAndFees/us/getBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
          description: Successful Response
      summary: Retrieve the tax and fee related information for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
  /factset/etf/timeSeries/listBySymbol:
    get:
      description: Retrieve the historical NAV data and the respective fund flows
        and shares outstanding for a specified fund and time period. Please refer
        currency.fund in /factset/etf/getBySymbol for currency value.
      operationId: get/factset/etf/timeSeries/listBySymbol
      parameters:
      - description: Market symbol of ETP defined by FactSet.
        in: query
        name: symbol
        required: true
        schema:
          exclusiveMaximum: false
          maxLength: 10
          type: string
      - description: Time frame of the data.
        in: query
        name: timePeriod
        schema:
          default: 1Y
          enum:
          - 1M
          - 3M
          - 6M
          - YTD
          - 1Y
          - 2Y
          - 3Y
          - 5Y
          - 10Y
          - SI
          type: string
      - description: Indicates the reference point for the time series data.
        in: query
        name: alignment
        schema:
          enum:
          - day
          - week-end
          - month-end
          type: string
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of entries to skip, or 0 (default).
        in: query
        name: _paginationOffset
        schema:
          default: 0.0
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
      - description: Non-negative maximum number of entries to return.
        in: query
        name: _paginationLimit
        schema:
          default: 20.0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
          description: Successful Response
      summary: Retrieve historical NAV data for a specified ETP.
      tags:
      - factset
      x-accepts: application/json
components:
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
            type: array
        type: object
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 9.301444243932576
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 6.027456183070403
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
    inline_response_200_data_exchange:
      description: Exchange.
      example:
        country: country
        code: code
        name: name
        region: Europe
      properties:
        code:
          description: Short Code of the exchange. This data is available for all
            the regions.
          type: string
        name:
          description: Name of the exchance where ETP is listed. This data is available
            for all the regions.
          type: string
        country:
          description: Short country code where ETP exchange is located. This data
            is available for all the regions and country code is in format ISO 3166-1
            alpha-2.
          type: string
        region:
          description: Short region code where ETP exchange is located. This data
            is available for all the regions.
          enum:
          - Europe
          - North America
          - Asia-Pacific
          - Middle East & Africa
          type: string
      type: object
    inline_response_200_data_issuer:
      description: Issuer.
      example:
        name: name
      properties:
        name:
          description: Name of the issuer of the ETP. This data is available for all
            the regions.
          type: string
      type: object
    inline_response_200_data_brand:
      description: Brand.
      example:
        name: name
      properties:
        name:
          description: Name of the brand of the ETP. This data is available for all
            the regions.
          type: string
      type: object
    inline_response_200_data_currency:
      description: Currency.
      example:
        fund: fund
        listing: listing
      properties:
        listing:
          description: Currency of exchange specific listing. This data is available
            for all the regions and currency code is in the format ISO 4217.
          type: string
        fund:
          description: Base calculation currency of the ETP. This data is available
            for all the regions and currency code is in the format ISO 4217.
          type: string
      type: object
    inline_response_200_data_index:
      description: The index the ETP is replicating, if applicable.
      example:
        website: website
        name: name
        currency: currency
        family: family
        distributionTreatment: distributionTreatment
        rebalancingFrequency: Monthly
      properties:
        name:
          description: The name of the underlying index of the ETP. This data is available
            for all the regions.
          type: string
        family:
          description: The name of the index provider for the underlying index of
            the ETP. This data is available for all the regions.
          type: string
        website:
          description: The link to the underlying index's homepage. This data is available
            for all the regions.
          type: string
        distributionTreatment:
          description: Describes the treatment of constituent cash flows by the index,
            whether capitalized (reinvested) or ignored, as well as tax withholding
            by foreign countries. Text and standardized value available for this data
            item. This data is available for Europe only.
          type: string
        rebalancingFrequency:
          description: Period of time between reweighting underlying index constituents.
          enum:
          - Monthly
          - Annually
          - Quarterly
          - Semi-annual
          - Daily
          - As Needed
          - Bi-Monthly
          - Weekly
          type: string
        currency:
          description: Base calculation currency of underlying index. This data is
            available for all the regions and currency code is in the format ISO 4217.
          type: string
      type: object
    inline_response_200_data_financialReport_annual:
      description: Annual.
      example:
        date: 2000-01-23
        isAvailable: true
      properties:
        isAvailable:
          description: States whether or not the current annual financial report is
            available on the issuer's website. This data is available for all the
            regions.
          type: boolean
        date:
          description: Date of the last annual report available on issuer's site.
            This data is available for all the regions.
          format: date
          type: string
      type: object
    inline_response_200_data_financialReport_semiAnnual:
      description: Semi annual.
      example:
        date: 2000-01-23
        isAvailable: true
      properties:
        isAvailable:
          description: States whether or not the semi-annual financial report is available
            on the issuer's website. This data is available for all the regions.
          type: boolean
        date:
          description: Date of the last semi-annual report available on the issuer's
            website. This data is available for all the regions.
          format: date
          type: string
      type: object
    inline_response_200_data_financialReport:
      description: Financial report.
      example:
        semiAnnual:
          date: 2000-01-23
          isAvailable: true
        annual:
          date: 2000-01-23
          isAvailable: true
      properties:
        annual:
          $ref: '#/components/schemas/inline_response_200_data_financialReport_annual'
        semiAnnual:
          $ref: '#/components/schemas/inline_response_200_data_financialReport_semiAnnual'
      type: object
    inline_response_200_data_createRedeem:
      description: Create or redeem
      example:
        unitCost: 0.8008281904610115
        unitSize: 6.027456183070403
      properties:
        unitCost:
          description: The standard fee in the ETP currency to create or redeem one
            unit of an ETP. This data is available for the US regions..
          format: real
          type: number
        unitSize:
          description: The minimum ETP share block at which issuers are willing to
            perform creations or redemptions per prospectus or other filing documents.
            This data is available for the US regions.
          format: real
          type: number
      type: object
    inline_response_200_data_trading_average:
      description: Average.
      example:
        volume: 5.962133916683182
        value: 5.637376656633329
      properties:
        volume:
          description: The average daily number of shares traded over the past 45
            trading days. This data is available for the US regions.
          format: real
          type: number
        value:
          description: The average daily value traded over the past 45-trading day
            period in ETP's listing currency. This data is available for the US regions.
          format: real
          type: number
      type: object
    inline_response_200_data_trading_median:
      description: Median.
      example:
        volume: 2.3021358869347655
        value: 7.061401241503109
      properties:
        volume:
          description: Median daily number of shares traded over the past 45 trading
            days. This data is available for the regions.
          format: real
          type: number
        value:
          description: Median daily value traded over the past 45 trading days in
            ETP's listing currency. This data is available for the US regions.
          format: real
          type: number
      type: object
    inline_response_200_data_trading:
      description: Trading.
      example:
        average:
          volume: 5.962133916683182
          value: 5.637376656633329
        median:
          volume: 2.3021358869347655
          value: 7.061401241503109
      properties:
        average:
          $ref: '#/components/schemas/inline_response_200_data_trading_average'
        median:
          $ref: '#/components/schemas/inline_response_200_data_trading_median'
      type: object
    inline_response_200_data_documentation:
      description: Documentation.
      example:
        isSaiPosted: true
        isProspectusPosted: true
      properties:
        isProspectusPosted:
          description: Complete prospectus is available on issuer website. This data
            is available for all the regions.
          type: boolean
        isSaiPosted:
          description: Statement of Additional Information (SAI) is available on issuer
            website. This data is available for the US regions.
          type: boolean
      type: object
    inline_response_200_data_insight:
      description: Insight.
      example:
        overview: overview
        quote: quote
      properties:
        overview:
          description: In-depth ETP overview from FactSet ETP Analytics. This data
            is available for the US regions.
          type: string
        quote:
          description: Abbreviated ETP overview from the FactSet ETP Analytics. This
            data is available for the US regions.
          type: string
      type: object
    inline_response_200_data:
      description: Profile.
      example:
        trading:
          average:
            volume: 5.962133916683182
            value: 5.637376656633329
          median:
            volume: 2.3021358869347655
            value: 7.061401241503109
        symbol: symbol
        website: website
        createRedeem:
          unitCost: 0.8008281904610115
          unitSize: 6.027456183070403
        documentation:
          isSaiPosted: true
          isProspectusPosted: true
        description: description
        index:
          website: website
          name: name
          currency: currency
          family: family
          distributionTreatment: distributionTreatment
          rebalancingFrequency: Monthly
        launchDate: 2000-01-23
        issuer:
          name: name
        insight:
          overview: overview
          quote: quote
        holdingsDate: 2000-01-23
        name: name
        aum: 1.4658129805029452
        domicile: domicile
        exchange:
          country: country
          code: code
          name: name
          region: Europe
        currency:
          fund: fund
          listing: listing
        asOfDate: 2000-01-23
        financialReport:
          semiAnnual:
            date: 2000-01-23
            isAvailable: true
          annual:
            date: 2000-01-23
            isAvailable: true
        brand:
          name: name
        status: Active
      properties:
        asOfDate:
          description: Date data was published. This data is available only for US
            region.
          format: date
          type: string
        holdingsDate:
          description: The as of data for holdings statistics. This data available
            only for US region
          format: date
          type: string
        symbol:
          description: Ticker of the ETP. This data is available for all region.
          type: string
        exchange:
          $ref: '#/components/schemas/inline_response_200_data_exchange'
        name:
          description: Name of the ETP. This data is available for all the regions.
          type: string
        issuer:
          $ref: '#/components/schemas/inline_response_200_data_issuer'
        brand:
          $ref: '#/components/schemas/inline_response_200_data_brand'
        launchDate:
          description: Launch date of the ETP. This data is available for all the
            regions.
          format: date
          type: string
        description:
          description: A brief description of the ETP. This data is available for
            all the regions.
          type: string
        website:
          description: Link to the ETP's homepage. This data is available for the
            US and Canada region.
          type: string
        domicile:
          description: ETP country of domicile. This data is available for all the
            regions and country code is in format ISO 3166-1 alpha-2.
          type: string
        status:
          description: Staus of the ETP. This data is available for all the regions.
          enum:
          - Active
          - Delisted
          - Not trading yet
          type: string
        currency:
          $ref: '#/components/schemas/inline_response_200_data_currency'
        index:
          $ref: '#/components/schemas/inline_response_200_data_index'
        financialReport:
          $ref: '#/components/schemas/inline_response_200_data_financialReport'
        createRedeem:
          $ref: '#/components/schemas/inline_response_200_data_createRedeem'
        aum:
          description: The market value of the total assets that a individual ETP
            manages on behalf of it's investors. This data is available for all the
            regions.
          format: real
          type: number
        trading:
          $ref: '#/components/schemas/inline_response_200_data_trading'
        documentation:
          $ref: '#/components/schemas/inline_response_200_data_documentation'
        insight:
          $ref: '#/components/schemas/inline_response_200_data_insight'
      type: object
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    inline_response_200:
      example:
        data:
          trading:
            average:
              volume: 5.962133916683182
              value: 5.637376656633329
            median:
              volume: 2.3021358869347655
              value: 7.061401241503109
          symbol: symbol
          website: website
          createRedeem:
            unitCost: 0.8008281904610115
            unitSize: 6.027456183070403
          documentation:
            isSaiPosted: true
            isProspectusPosted: true
          description: description
          index:
            website: website
            name: name
            currency: currency
            family: family
            distributionTreatment: distributionTreatment
            rebalancingFrequency: Monthly
          launchDate: 2000-01-23
          issuer:
            name: name
          insight:
            overview: overview
            quote: quote
          holdingsDate: 2000-01-23
          name: name
          aum: 1.4658129805029452
          domicile: domicile
          exchange:
            country: country
            code: code
            name: name
            region: Europe
          currency:
            fund: fund
            listing: listing
          asOfDate: 2000-01-23
          financialReport:
            semiAnnual:
              date: 2000-01-23
              isAvailable: true
            annual:
              date: 2000-01-23
              isAvailable: true
          brand:
            name: name
          status: Active
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_1_data_assets:
      example:
        weight: 0.8008281904610115
        assetClass: assetClass
      properties:
        assetClass:
          description: Name of the asset class.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by asset
            class(es).
          format: real
          type: number
      type: object
    inline_response_200_1_data:
      description: ETP asset allocation data.
      example:
        assets:
        - weight: 0.8008281904610115
          assetClass: assetClass
        - weight: 0.8008281904610115
          assetClass: assetClass
        reportDate: 2000-01-23
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        assets:
          description: List of allocations by asset class.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data_assets'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_1_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          total: 6.027456183070403
          isEstimatedTotal: true
        status:
          code: 9.301444243932576
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
      type: object
    inline_response_200_1:
      example:
        data:
          assets:
          - weight: 0.8008281904610115
            assetClass: assetClass
          - weight: 0.8008281904610115
            assetClass: assetClass
          reportDate: 2000-01-23
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_1_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_2_data_countries:
      example:
        country: country
        weight: 0.8008281904610115
      properties:
        country:
          description: Name of the country.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by country(s)..
          format: real
          type: number
      type: object
    inline_response_200_2_data:
      description: ETP country allocation data.
      example:
        reportDate: 2000-01-23
        countries:
        - country: country
          weight: 0.8008281904610115
        - country: country
          weight: 0.8008281904610115
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        countries:
          description: List of allocations by country.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data_countries'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_2:
      example:
        data:
          reportDate: 2000-01-23
          countries:
          - country: country
            weight: 0.8008281904610115
          - country: country
            weight: 0.8008281904610115
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_2_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_3_data_currencies:
      example:
        weight: 0.8008281904610115
        currency: currency
      properties:
        currency:
          description: Name of the currency.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by currency
            allocation(s).
          format: real
          type: number
      type: object
    inline_response_200_3_data:
      description: ETP currency allocation data.
      example:
        reportDate: 2000-01-23
        currencies:
        - weight: 0.8008281904610115
          currency: currency
        - weight: 0.8008281904610115
          currency: currency
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        currencies:
          description: List of allocations by currency.
          items:
            $ref: '#/components/schemas/inline_response_200_3_data_currencies'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_3:
      example:
        data:
          reportDate: 2000-01-23
          currencies:
          - weight: 0.8008281904610115
            currency: currency
          - weight: 0.8008281904610115
            currency: currency
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_3_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_4_data_classifications:
      example:
        name: name
        weight: 0.8008281904610115
      properties:
        name:
          description: 'Name of the classification. Possible values: "Developed Market",
            "Frontier Market", "Emerging Market", "Rest of World Market"'
          type: string
        weight:
          description: Weight (net) of the classification.
          format: percentage
          type: number
      type: object
    inline_response_200_4_data:
      description: List of allocations.
      example:
        classifications:
        - name: name
          weight: 0.8008281904610115
        - name: name
          weight: 0.8008281904610115
        reportDate: 2000-01-23
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        classifications:
          description: List of allocations classified by a holding's economic development
            status, sorted by weight in descending order.
          items:
            $ref: '#/components/schemas/inline_response_200_4_data_classifications'
          type: array
      type: object
    inline_response_200_4:
      example:
        data:
          classifications:
          - name: name
            weight: 0.8008281904610115
          - name: name
            weight: 0.8008281904610115
          reportDate: 2000-01-23
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_4_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_5_data_exchanges:
      example:
        weight: 0.8008281904610115
        exchange: exchange
      properties:
        exchange:
          description: Name of the exchange.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by exchange(s).
          format: real
          type: number
      type: object
    inline_response_200_5_data:
      description: ETP exchange allocation data.
      example:
        reportDate: 2000-01-23
        exchanges:
        - weight: 0.8008281904610115
          exchange: exchange
        - weight: 0.8008281904610115
          exchange: exchange
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        exchanges:
          description: List of allocations by exchange.
          items:
            $ref: '#/components/schemas/inline_response_200_5_data_exchanges'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_5:
      example:
        data:
          reportDate: 2000-01-23
          exchanges:
          - weight: 0.8008281904610115
            exchange: exchange
          - weight: 0.8008281904610115
            exchange: exchange
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_5_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_6_data_industries:
      example:
        weight: 0.8008281904610115
        industry: industry
      properties:
        industry:
          description: Name of the industry.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by industry(s).
          format: real
          type: number
      type: object
    inline_response_200_6_data:
      description: ETP industry allocation data.
      example:
        reportDate: 2000-01-23
        industries:
        - weight: 0.8008281904610115
          industry: industry
        - weight: 0.8008281904610115
          industry: industry
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        industries:
          description: List of allocations by industry.
          items:
            $ref: '#/components/schemas/inline_response_200_6_data_industries'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_6:
      example:
        data:
          reportDate: 2000-01-23
          industries:
          - weight: 0.8008281904610115
            industry: industry
          - weight: 0.8008281904610115
            industry: industry
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_6_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_7_data_classifications:
      example:
        weight: 0.8008281904610115
        classification: classification
      properties:
        classification:
          description: Name of the classification.
          type: string
        weight:
          description: Weight (net) of the classification.
          format: real
          type: number
      type: object
    inline_response_200_7_data:
      description: List of allocations.
      example:
        classifications:
        - weight: 0.8008281904610115
          classification: classification
        - weight: 0.8008281904610115
          classification: classification
        reportDate: 2000-01-23
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        classifications:
          description: List of allocations classified by a holding's total market
            capitalization (e.g. small caps, large caps).
          items:
            $ref: '#/components/schemas/inline_response_200_7_data_classifications'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_7:
      example:
        data:
          classifications:
          - weight: 0.8008281904610115
            classification: classification
          - weight: 0.8008281904610115
            classification: classification
          reportDate: 2000-01-23
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_7_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_8_data_regions:
      example:
        weight: 0.8008281904610115
        region: region
      properties:
        region:
          description: Name of the region.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by region(s)..
          format: real
          type: number
      type: object
    inline_response_200_8_data:
      description: ETP region allocation data.
      example:
        regions:
        - weight: 0.8008281904610115
          region: region
        - weight: 0.8008281904610115
          region: region
        reportDate: 2000-01-23
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        regions:
          description: List of allocations by region.
          items:
            $ref: '#/components/schemas/inline_response_200_8_data_regions'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_8:
      example:
        data:
          regions:
          - weight: 0.8008281904610115
            region: region
          - weight: 0.8008281904610115
            region: region
          reportDate: 2000-01-23
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_8_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_9_data_sectors:
      example:
        weight: 0.8008281904610115
        sector: sector
      properties:
        sector:
          description: Name of the sector.
          type: string
        weight:
          description: Consolidate weight of the position within the ETP by sector(s).
          format: real
          type: number
      type: object
    inline_response_200_9_data:
      description: ETP sector allocation data.
      example:
        sectors:
        - weight: 0.8008281904610115
          sector: sector
        - weight: 0.8008281904610115
          sector: sector
        reportDate: 2000-01-23
      properties:
        reportDate:
          description: Reporting date for the allocations.
          format: date
          type: string
        sectors:
          description: List of allocations by sector.
          items:
            $ref: '#/components/schemas/inline_response_200_9_data_sectors'
          type: array
          uniqueItems: true
      type: object
    inline_response_200_9:
      example:
        data:
          sectors:
          - weight: 0.8008281904610115
            sector: sector
          - weight: 0.8008281904610115
            sector: sector
          reportDate: 2000-01-23
        meta:
          pagination:
            total: 6.027456183070403
            isEstimatedTotal: true
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_9_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_10_data_securityLending:
      description: Security lending.
      example:
        isAllowed: true
        revenue: 0.8008281904610115
        revenuePolicy: revenuePolicy
        isActive: true
      properties:
        isAllowed:
          description: 'Indicates whether a fund is permitted to lend securities based
            on their legal structure. Available for the regions: US, Europe, and Canada.'
          type: boolean
        isActive:
          description: 'Indicates that revenue from lending securities was reported
            on the most recent annual or semi-annual report. Available for the regions:
            US, Europe, and Canada.'
          type: boolean
        revenue:
          description: 'The fraction of securities lending revenue that is rebated
            to the fund rather than kept by the issuer. Available for the regions:
            US, Europe, and Canada.'
          format: real
          type: number
        revenuePolicy:
          description: 'English description of the securities lending revenue policy,
            if any. Available for the regions: US, Europe, and Canada.'
          type: string
      type: object
    inline_response_200_10_data_risk:
      description: Risk.
      example:
        isCorporateActionPending: true
        counterParty: counterParty
        fundClosure: fundClosure
      properties:
        isCorporateActionPending:
          description: 'Indicates a fund whose issuer has any corporate actions pending
            (e.g. merger, purchase, and closing). Available for the regions: US.'
          type: boolean
        counterParty:
          description: 'Score predicting the likelihood that an ETN counterparty will
            default, as measured by 1-year credit default swap rates. Possible values
            are Low, Medium, or High. Empty for non-ETNs. Available for the regions:
            US.'
          type: string
        fundClosure:
          description: 'Score estimating the likelihood that a fund will close. Based
            on a quantitative model. Outputs are Low, Medium, or High. Available for
            the regions: US.'
          type: string
      type: object
    inline_response_200_10_data_indexChange:
      description: Index change.
      example:
        date: 2000-01-23
        hasChanged: true
      properties:
        hasChanged:
          description: 'States whether an index change has occurred. Available for
            the regions: US.'
          type: boolean
        date:
          description: 'Date of the most recent index change, if applicable. Available
            for the regions: US.'
          format: date
          type: string
      type: object
    inline_response_200_10_data:
      description: Profile analytics.
      example:
        securityLending:
          isAllowed: true
          revenue: 0.8008281904610115
          revenuePolicy: revenuePolicy
          isActive: true
        medianBidAskSpread: 6.027456183070403
        indexChange:
          date: 2000-01-23
          hasChanged: true
        risk:
          isCorporateActionPending: true
          counterParty: counterParty
          fundClosure: fundClosure
        asOfDate: 2000-01-23
        benchmarkName: benchmarkName
      properties:
        asOfDate:
          description: 'Date the analytics data was published. Available for the regions:
            US, Europe, and Canada.'
          format: date
          type: string
        securityLending:
          $ref: '#/components/schemas/inline_response_200_10_data_securityLending'
        risk:
          $ref: '#/components/schemas/inline_response_200_10_data_risk'
        benchmarkName:
          description: 'FactSet provides a neutral, broad market index that best represents
            an ETP segment, giving investors a measuring stick against which to compare
            a specific ETP. The fund''s performance (for example, R2, beta, and standard
            deviation) and holdings are measured against it. Available for the regions:
            US and Europe.'
          type: string
        indexChange:
          $ref: '#/components/schemas/inline_response_200_10_data_indexChange'
        medianBidAskSpread:
          description: 'The exchange-traded fund’s median bid-ask spread, expressed
            as a percentage rounded to the nearest hundredth, computed by: (A) Identifying
            the exchange-traded fund’s national best bid and national best offer as
            of the end of each 10 second interval during each trading day of the last
            30 calendar days; (B) Dividing the ifference between each such bid and
            offer by the midpoint of the national best bid and national best offer;
            and (C) Identifying the median of those values. Available for the regions:
            US.'
          format: percentage
          type: number
      type: object
    inline_response_200_10:
      example:
        data:
          securityLending:
            isAllowed: true
            revenue: 0.8008281904610115
            revenuePolicy: revenuePolicy
            isActive: true
          medianBidAskSpread: 6.027456183070403
          indexChange:
            date: 2000-01-23
            hasChanged: true
          risk:
            isCorporateActionPending: true
            counterParty: counterParty
            fundClosure: fundClosure
          asOfDate: 2000-01-23
          benchmarkName: benchmarkName
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_10_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_11_data:
      description: Portfolio statistics.
      example:
        priceBookRatio: 5.962133916683182
        marketCapitalization: 5.637376656633329
        timeToMaturity: 2.3021358869347655
        priceEarningsRatio: 1.4658129805029452
        concentration: concentration
        asOfDate: 2000-01-23
        numberHoldings: 0.8008281904610115
        dividendYield: 6.027456183070403
        creditRating: creditRating
      properties:
        asOfDate:
          description: 'Date the analytics data was published. Available for the regions:
            US, Europe, and Canada.'
          format: date
          type: string
        numberHoldings:
          description: 'A measure of portfolio diversification, calculated by summing
            the squared weights of each fund constituent. Low concentration implies
            high diversification, and vice versa. Outputs are Low, Medium or High.
            Available for regions: US.'
          format: int32
          type: number
        concentration:
          description: 'A measure of portfolio diversification, calculated by summing
            the squared weights of each fund constituent. Low concentration implies
            high diversification, and vice versa. Possible values are Low, Medium
            or High. Available for regions: US.'
          type: string
        dividendYield:
          description: 'The annualized weighted average of the current dividend yield
            of the portfolio''s holdings, gross of fees. Available for the regions:
            US.'
          format: percentage
          type: number
        priceEarningsRatio:
          description: 'Weighted average ratio of prices of a fund’s stocks values
            to their trailing earnings of underlying stocks. Aggregate prices are
            scaled by the sum of individual earnings, including negative earnings.
            Available for the regions: US.'
          format: real
          type: number
        priceBookRatio:
          description: 'Weighted average ratio of prices of a fund’s stocks to the
            book value of underlying stocks. Aggregate prices are scaled by the sum
            of individual book values. Available for the regions: US.'
          format: real
          type: number
        marketCapitalization:
          description: 'The weighted average market capitalization of the stocks in
            the fund''s portfolio (USD). Available for regions: US.'
          format: real
          type: number
        timeToMaturity:
          description: 'The weighted average of remaining time until maturity for
            all bonds in the portfolio, measured in (possibly fractional) years. Available
            for the regions: US.'
          format: real
          type: number
        creditRating:
          description: 'Average credit rating for the portfolio, determined by mapping
            ratings from credit agencies (Fitch, Moody''s and Standard & Poor''s)
            to numerical likelihood of default for each bond in the portfolio and
            then finding the weighted average default probability, then mapping back
            to an agency credit rating. Accounts for the nonlinear probability of
            default when aggregating agency ratings. FactSet has developed a numeric
            equivalent system that allows math functions such as averaging and comparisons
            across sources (using greater than, equal to, or less than operators),
            to facilitate easier evaluation. Available for the regions: US.'
          type: string
      type: object
    inline_response_200_11:
      example:
        data:
          priceBookRatio: 5.962133916683182
          marketCapitalization: 5.637376656633329
          timeToMaturity: 2.3021358869347655
          priceEarningsRatio: 1.4658129805029452
          concentration: concentration
          asOfDate: 2000-01-23
          numberHoldings: 0.8008281904610115
          dividendYield: 6.027456183070403
          creditRating: creditRating
        meta:
          status:
            code: 9.301444243932576
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_11_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_12_data_efficiency:
      description: Efficiency.
      example:
        average: 6.027456183070403
        value: 0.8008281904610115
      properties:
        value:
          description: 'A measure of how well a fund delivers on its core promise
            of delivering the returns of an underlying index, taking into account
            the expense ratio, tracking error, tax risk, fund closure risk and structural
            risk. In the range 0 (low) to 100 (high). Available for the regions: US.'
          format: real
          type: number
        average:
          description: 'The average efficiency score for all funds in the segment.
[...]
