"""
    FactSet Macroeconomics API

    The FactSet Macroeconomics API provides access to economic calendar events and historical time series data for global economic indicators. Use the reference endpoints to discover available indicators, regions, and FDS codes before querying event or series data.   # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Contact: api@factset.com
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401
from multiprocessing.pool import ApplyResult
import typing

from fds.sdk.FactSetMacroeconomics.api_client import ApiClient, Endpoint as _Endpoint
from fds.sdk.FactSetMacroeconomics.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from fds.sdk.FactSetMacroeconomics.exceptions import ApiException
from fds.sdk.FactSetMacroeconomics.model.as_reported_economics_response import AsReportedEconomicsResponse
from fds.sdk.FactSetMacroeconomics.model.error_response import ErrorResponse





class AsReportedEconomicsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        self.get_as_reported_economics_endpoint = _Endpoint(
            settings={
                'response_type': (
                  { 200: (AsReportedEconomicsResponse,), 400: (ErrorResponse,), 401: (ErrorResponse,), 403: (ErrorResponse,), 404: (ErrorResponse,), 422: (ErrorResponse,), 429: (ErrorResponse,), 500: (ErrorResponse,),  },
                  None
                ),
                'auth': [
                    'FactSetApiKey',
                    'FactSetOAuth2'
                ],
                'endpoint_path': '/as-reported-economics',
                'operation_id': 'get_as_reported_economics',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'series_id',
                    'start_date',
                    'end_date',
                    'country_code',
                    'frequency',
                    'pagination_limit',
                    'pagination_offset',
                ],
                'required': [
                    'series_id',
                ],
                'nullable': [
                ],
                'enum': [
                    'frequency',
                ],
                'validation': [
                    'pagination_limit',
                    'pagination_offset',
                ]
            },
            root_map={
                'validations': {
                    ('pagination_limit',): {

                        'inclusive_maximum': 1000,
                        'inclusive_minimum': 1,
                    },
                    ('pagination_offset',): {

                        'inclusive_minimum': 0,
                    },
                },
                'allowed_values': {
                    ('frequency',): {

                        "D": "D",
                        "W": "W",
                        "M": "M",
                        "Q": "Q",
                        "Y": "Y"
                    },
                },
                'openapi_types': {
                    'series_id':
                        (str,),
                    'start_date':
                        (date,),
                    'end_date':
                        (date,),
                    'country_code':
                        (str,),
                    'frequency':
                        (str,),
                    'pagination_limit':
                        (int,),
                    'pagination_offset':
                        (int,),
                },
                'attribute_map': {
                    'series_id': 'seriesId',
                    'start_date': 'startDate',
                    'end_date': 'endDate',
                    'country_code': 'countryCode',
                    'frequency': 'frequency',
                    'pagination_limit': '_paginationLimit',
                    'pagination_offset': '_paginationOffset',
                },
                'location_map': {
                    'series_id': 'query',
                    'start_date': 'query',
                    'end_date': 'query',
                    'country_code': 'query',
                    'frequency': 'query',
                    'pagination_limit': 'query',
                    'pagination_offset': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )


    @staticmethod
    def apply_kwargs_defaults(kwargs, return_http_data_only, async_req):
        kwargs["async_req"] = async_req
        kwargs["_return_http_data_only"] = return_http_data_only
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")


    def get_as_reported_economics(
        self,
        series_id,
        **kwargs
    ) -> AsReportedEconomicsResponse:
        """Retrieve as-reported economic time series data  # noqa: E501

        Returns as-reported economic time series data for a given series ID, with optional frequency conversion and data transformation. Use `/meta/series` to discover available series IDs.  # noqa: E501
        This method makes a synchronous HTTP request. Returns the http data only

        Args:
            series_id (str): The Series ID identifying the economic series to retrieve. Use the `/meta/series` endpoint to get a list of available series IDs. 

        Keyword Args:
            start_date (date): Start date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            end_date (date): End date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            country_code (str): ISO country code for filtering events by country. Use the `/meta/events?type=countries` endpoint to retrieve available country codes. . [optional]
            frequency (str): Controls the output frequency of the data returned. The supported frequencies are:  - **D**: Daily. - **W**: Weekly. - **M**: Monthly. - **Q**: Quarterly. - **Y**: Yearly.  When `frequency` is not specified: If multiple frequencies are available for the seriesId, data is returned at the highest frequency (e.g., monthly over quarterly). If only one frequency is available, data is returned at that frequency. . [optional]
            pagination_limit (int): Maximum number of results to return per page. If not specified, the default page size is applied. . [optional] if omitted the server will use the default value of 25
            pagination_offset (int): Number of results to skip before returning the first result. Used for pagination in combination with `_paginationLimit`. . [optional] if omitted the server will use the default value of 0
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            AsReportedEconomicsResponse
                Response Object
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=True, async_req=False)
        kwargs['series_id'] = \
            series_id
        return self.get_as_reported_economics_endpoint.call_with_http_info(**kwargs)

    def get_as_reported_economics_with_http_info(
        self,
        series_id,
        **kwargs
    ) -> typing.Tuple[AsReportedEconomicsResponse, int, typing.MutableMapping]:
        """Retrieve as-reported economic time series data  # noqa: E501

        Returns as-reported economic time series data for a given series ID, with optional frequency conversion and data transformation. Use `/meta/series` to discover available series IDs.  # noqa: E501
        This method makes a synchronous HTTP request. Returns http data, http status and headers

        Args:
            series_id (str): The Series ID identifying the economic series to retrieve. Use the `/meta/series` endpoint to get a list of available series IDs. 

        Keyword Args:
            start_date (date): Start date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            end_date (date): End date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            country_code (str): ISO country code for filtering events by country. Use the `/meta/events?type=countries` endpoint to retrieve available country codes. . [optional]
            frequency (str): Controls the output frequency of the data returned. The supported frequencies are:  - **D**: Daily. - **W**: Weekly. - **M**: Monthly. - **Q**: Quarterly. - **Y**: Yearly.  When `frequency` is not specified: If multiple frequencies are available for the seriesId, data is returned at the highest frequency (e.g., monthly over quarterly). If only one frequency is available, data is returned at that frequency. . [optional]
            pagination_limit (int): Maximum number of results to return per page. If not specified, the default page size is applied. . [optional] if omitted the server will use the default value of 25
            pagination_offset (int): Number of results to skip before returning the first result. Used for pagination in combination with `_paginationLimit`. . [optional] if omitted the server will use the default value of 0
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            AsReportedEconomicsResponse
                Response Object
            int
                Http Status Code
            dict
                Dictionary of the response headers
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=False, async_req=False)
        kwargs['series_id'] = \
            series_id
        return self.get_as_reported_economics_endpoint.call_with_http_info(**kwargs)

    def get_as_reported_economics_async(
        self,
        series_id,
        **kwargs
    ) -> "ApplyResult[AsReportedEconomicsResponse]":
        """Retrieve as-reported economic time series data  # noqa: E501

        Returns as-reported economic time series data for a given series ID, with optional frequency conversion and data transformation. Use `/meta/series` to discover available series IDs.  # noqa: E501
        This method makes a asynchronous HTTP request. Returns the http data, wrapped in ApplyResult

        Args:
            series_id (str): The Series ID identifying the economic series to retrieve. Use the `/meta/series` endpoint to get a list of available series IDs. 

        Keyword Args:
            start_date (date): Start date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            end_date (date): End date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            country_code (str): ISO country code for filtering events by country. Use the `/meta/events?type=countries` endpoint to retrieve available country codes. . [optional]
            frequency (str): Controls the output frequency of the data returned. The supported frequencies are:  - **D**: Daily. - **W**: Weekly. - **M**: Monthly. - **Q**: Quarterly. - **Y**: Yearly.  When `frequency` is not specified: If multiple frequencies are available for the seriesId, data is returned at the highest frequency (e.g., monthly over quarterly). If only one frequency is available, data is returned at that frequency. . [optional]
            pagination_limit (int): Maximum number of results to return per page. If not specified, the default page size is applied. . [optional] if omitted the server will use the default value of 25
            pagination_offset (int): Number of results to skip before returning the first result. Used for pagination in combination with `_paginationLimit`. . [optional] if omitted the server will use the default value of 0
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            ApplyResult[AsReportedEconomicsResponse]
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=True, async_req=True)
        kwargs['series_id'] = \
            series_id
        return self.get_as_reported_economics_endpoint.call_with_http_info(**kwargs)

    def get_as_reported_economics_with_http_info_async(
        self,
        series_id,
        **kwargs
    ) -> "ApplyResult[typing.Tuple[AsReportedEconomicsResponse, int, typing.MutableMapping]]":
        """Retrieve as-reported economic time series data  # noqa: E501

        Returns as-reported economic time series data for a given series ID, with optional frequency conversion and data transformation. Use `/meta/series` to discover available series IDs.  # noqa: E501
        This method makes a asynchronous HTTP request. Returns http data, http status and headers, wrapped in ApplyResult

        Args:
            series_id (str): The Series ID identifying the economic series to retrieve. Use the `/meta/series` endpoint to get a list of available series IDs. 

        Keyword Args:
            start_date (date): Start date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            end_date (date): End date for the query range.  - **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day . [optional]
            country_code (str): ISO country code for filtering events by country. Use the `/meta/events?type=countries` endpoint to retrieve available country codes. . [optional]
            frequency (str): Controls the output frequency of the data returned. The supported frequencies are:  - **D**: Daily. - **W**: Weekly. - **M**: Monthly. - **Q**: Quarterly. - **Y**: Yearly.  When `frequency` is not specified: If multiple frequencies are available for the seriesId, data is returned at the highest frequency (e.g., monthly over quarterly). If only one frequency is available, data is returned at that frequency. . [optional]
            pagination_limit (int): Maximum number of results to return per page. If not specified, the default page size is applied. . [optional] if omitted the server will use the default value of 25
            pagination_offset (int): Number of results to skip before returning the first result. Used for pagination in combination with `_paginationLimit`. . [optional] if omitted the server will use the default value of 0
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            ApplyResult[(AsReportedEconomicsResponse, int, typing.Dict)]
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=False, async_req=True)
        kwargs['series_id'] = \
            series_id
        return self.get_as_reported_economics_endpoint.call_with_http_info(**kwargs)


