openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    The Price Alerting API is designed to inform the users of an application directly about important changes in the data on the platform. The endpoint group *basic price alerting* deals with generation of alerts based on current price data. For notations, users can define an upper or lower limit and choose on which price type those limit conditions apply.

    Alerting uses the concepts of triggers and alerts.

    A trigger is an entity that is set up by an application to watch a certain condition in the market data around a financial instrument. The standard conditions that can be applied are lower limit and upper limit for the value of the price for a given financial instrument.

    When the condition of a trigger is met, an alert is created. Each alert thus represents one event where a trigger condition was met.

    An application can learn about the creation of alerts in two ways: The application can actively request the list of alerts (pull approach) or it can subscribe to the list of existing alerts. If a new alert is created, that list changes and the application is notified about the new alert with an update that contains the details on the new alert (push approach).

    The API supports both approaches. The push approach is realized most easily by using the subscription support that the client libraries provide.

    See the [Quotes API for Digital Portals](https://developer.factset.com/api-catalog/quotes-api-digital-portals) for access to detailed price information.

    Note: As part of the general trial access, endpoints to write data are excluded. For a description of the full alerting API, please work with a
    FactSet consultant and see https://endpointreference.factset.com.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Price Alerting API For Digital Portals
  version: 3.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: alerting endpoints
  name: alerting
paths:
  /alerting/prices/basic/alert/get:
    get:
      description: Details of an alert. The details include the trigger definition
        at the time of alert creation.
      operationId: get/alerting/prices/basic/alert/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the alert.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Details of an alert.
      tags:
      - alerting
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /alerting/prices/basic/alert/list:
    get:
      description: List of alerts in descending order of creation.
      operationId: get/alerting/prices/basic/alert/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Non-negative number of milliseconds to throttle the update rate
          from 0ms to 5000ms. Set to 0 for sending updates immediately.
        explode: true
        in: query
        name: _subscriptionMinimumInterval
        required: false
        schema:
          default: 0
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 5000
          minimum: 0
          type: number
        style: form
      - description: Starting point as returned in the attributes `pagination.next`
          or `pagination.previous` by a prior invocation of this endpoint, or undefined
          (default).
        explode: true
        in: query
        name: _paginationCursor
        required: false
        schema:
          exclusiveMaximum: false
          maxLength: 50
          type: string
        style: form
      - description: Non-negative maximum number of entries to return.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: List of alerts.
      tags:
      - alerting
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /alerting/prices/basic/trigger/get:
    get:
      description: Details of a trigger.
      operationId: get/alerting/prices/basic/trigger/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the trigger.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: Details of a trigger.
      tags:
      - alerting
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /alerting/prices/basic/trigger/list:
    post:
      description: Returns a list of triggers sorted in descending order of creation.
      operationId: post/alerting/prices/basic/trigger/list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest'
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: List of triggers.
      tags:
      - alerting
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
            x-property-sort:
            - meta
            - errors
      description: Generic error response for all errors (400 ... 599 error codes)
    GetAlertingPricesBasicAlertGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200'
      description: Successful Response
    GetAlertingPricesBasicAlertList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    GetAlertingPricesBasicTriggerGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_2'
      description: Successful Response
    PostAlertingPricesBasicTriggerList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_3'
      description: Successful Response
  schemas:
    ErrorMetaObject:
      description: The meta member contains the meta information of the response.
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - details
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        exclusiveMaximum: false
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 2.3021358869347655
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      example:
        next: next
        total: 0.8008281904610115
        previous: previous
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    PostAlertingPricesBasicTriggerListRequest:
      description: Request Body
      example:
        data:
          filter:
            status:
              code: active
        meta:
          pagination:
            cursor: cursor
            limit: 40.041409523050575
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
      properties:
        data:
          $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest_data'
        meta:
          $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_data_price:
      description: Price data at the time of alert creation.
      example:
        time: time
        value: 0.8008281904610115
      nullable: false
      properties:
        value:
          description: Depending on `trigger.price.type`, the trade, bid, or ask price.
          format: real
          nullable: true
          type: number
        time:
          description: Date and time of the price.
          format: datetime
          nullable: true
          type: string
      type: object
      x-property-sort:
      - value
      - time
    inline_response_200_data_notification_channel:
      description: Details of the notification channel.
      example:
        id: 6.027456183070403
      nullable: false
      properties:
        id:
          description: Identifier of the notification channel.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_data_notification_status:
      example:
        code: pending
        channel:
          id: 6.027456183070403
        time: time
      nullable: false
      properties:
        channel:
          $ref: '#/components/schemas/inline_response_200_data_notification_channel'
        time:
          description: Date and time of the most recent change.
          format: datetime
          nullable: true
          type: string
        code:
          description: Code of the status.
          enum:
          - pending
          - sent
          - delivered
          - error
          - rejected
          nullable: true
          type: string
          x-enum-description:
          - Notification has not been processed.
          - Notification has been sent but delivery status is unknown.
          - Notification has been delivered.
          - Notification has not been delivered due to an error.
          - Notification delivery has been rejected (possibly due to return mails
            being received for delivery address).
      type: object
      x-property-sort:
      - channel
      - time
      - code
    inline_response_200_data_notification:
      description: Notification information of the alert.
      example:
        status:
        - code: pending
          channel:
            id: 6.027456183070403
          time: time
        - code: pending
          channel:
            id: 6.027456183070403
          time: time
      nullable: false
      properties:
        status:
          description: Status of a notification per channel.
          items:
            $ref: '#/components/schemas/inline_response_200_data_notification_status'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - status
    inline_response_200_data_trigger_notation:
      description: Notation data of the trigger.
      example:
        id: id
      nullable: false
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          nullable: true
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_data_trigger_price:
      description: Price data of the trigger.
      example:
        type: trade
        quality: RLT
      nullable: false
      properties:
        type:
          description: Type of the price as configured for the customer.
          enum:
          - trade
          - bid
          - ask
          nullable: true
          type: string
          x-enum-description:
          - Trade price (ordinary, auction, pre or post-trading).
          - Bid price.
          - Ask price.
        quality:
          description: Price quality of the trigger.
          enum:
          - RLT
          - DLY
          - EOD
          nullable: true
          type: string
          x-enum-description:
          - 'Real-Time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15
            to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly
            with an exchange-imposed delay of several hours.'
      type: object
      x-property-sort:
      - type
      - quality
    inline_response_200_data_trigger_range:
      description: Price range for the trigger to monitor.
      example:
        upperLimit: 1.4658129805029452
        lowerLimit: 5.962133916683182
      nullable: false
      properties:
        upperLimit:
          description: Upper limit.
          format: real
          nullable: true
          type: number
        lowerLimit:
          description: Lower limit.
          format: real
          nullable: true
          type: number
      type: object
      x-property-sort:
      - upperLimit
      - lowerLimit
    inline_response_200_data_trigger_notification_channel:
      description: Channel specific configuration.
      example:
        id:
        - 5.637376656633329
        - 5.637376656633329
      nullable: false
      properties:
        id:
          description: Identifier of the notification channel.
          items:
            format: id32
            type: number
            x-positive: true
          nullable: false
          type: array
      type: object
      x-property-sort:
      - id
    inline_response_200_data_trigger_notification:
      description: Notification specific configuration.
      example:
        channel:
          id:
          - 5.637376656633329
          - 5.637376656633329
      nullable: false
      properties:
        channel:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notification_channel'
      type: object
      x-property-sort:
      - channel
    inline_response_200_data_trigger_status:
      description: Status of the trigger.
      example:
        code: active
        details: details
        encryptedDetails: encryptedDetails
      nullable: false
      properties:
        code:
          description: Code of the status.
          enum:
          - active
          - inactive
          - error
          nullable: true
          type: string
          x-enum-description:
          - The trigger is active and trigger conditions are evaluated.
          - The trigger is inactive and conditions do not generate alerts
          - The trigger is in an error state, error details are noted in "details"
        details:
          description: A human-readable, unstructured explanation specific to this
            error.
          nullable: true
          type: string
        encryptedDetails:
          description: Base64-encoded, internal details about the error, in addition
            to "details". An issue submitted to Service Desk should contain this data
            to speed up investigation.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - code
      - details
      - encryptedDetails
    inline_response_200_data_trigger:
      description: Trigger data at the time of alert creation.
      example:
        notification:
          channel:
            id:
            - 5.637376656633329
            - 5.637376656633329
        notation:
          id: id
        price:
          type: trade
          quality: RLT
        range:
          upperLimit: 1.4658129805029452
          lowerLimit: 5.962133916683182
        comment: comment
        id: id
        creation: creation
        status:
          code: active
          details: details
          encryptedDetails: encryptedDetails
      nullable: false
      properties:
        id:
          description: Identifier of the trigger.
          format: id64
          nullable: true
          type: string
          x-positive: true
        creation:
          description: Date and time when the trigger was created.
          format: datetime
          nullable: true
          type: string
        notation:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notation'
        price:
          $ref: '#/components/schemas/inline_response_200_data_trigger_price'
        range:
          $ref: '#/components/schemas/inline_response_200_data_trigger_range'
        comment:
          description: Comment of the trigger.
          nullable: true
          type: string
        notification:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notification'
        status:
          $ref: '#/components/schemas/inline_response_200_data_trigger_status'
      type: object
      x-property-sort:
      - id
      - creation
      - notation
      - price
      - range
      - comment
      - notification
      - status
    inline_response_200_data:
      description: Details of the alert.
      example:
        notification:
          status:
          - code: pending
            channel:
              id: 6.027456183070403
            time: time
          - code: pending
            channel:
              id: 6.027456183070403
            time: time
        price:
          time: time
          value: 0.8008281904610115
        id: id
        trigger:
          notification:
            channel:
              id:
              - 5.637376656633329
              - 5.637376656633329
          notation:
            id: id
          price:
            type: trade
            quality: RLT
          range:
            upperLimit: 1.4658129805029452
            lowerLimit: 5.962133916683182
          comment: comment
          id: id
          creation: creation
          status:
            code: active
            details: details
            encryptedDetails: encryptedDetails
        creation: creation
      nullable: false
      properties:
        id:
          description: Identifier of the alert.
          format: id64
          nullable: true
          type: string
          x-positive: true
        creation:
          description: Date and time when the alert was created.
          format: datetime
          nullable: true
          type: string
        price:
          $ref: '#/components/schemas/inline_response_200_data_price'
        notification:
          $ref: '#/components/schemas/inline_response_200_data_notification'
        trigger:
          $ref: '#/components/schemas/inline_response_200_data_trigger'
      type: object
      x-property-sort:
      - id
      - creation
      - price
      - notification
      - trigger
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 2.3021358869347655
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_200:
      example:
        data:
          notification:
            status:
            - code: pending
              channel:
                id: 6.027456183070403
              time: time
            - code: pending
              channel:
                id: 6.027456183070403
              time: time
          price:
            time: time
            value: 0.8008281904610115
          id: id
          trigger:
            notification:
              channel:
                id:
                - 5.637376656633329
                - 5.637376656633329
            notation:
              id: id
            price:
              type: trade
              quality: RLT
            range:
              upperLimit: 1.4658129805029452
              lowerLimit: 5.962133916683182
            comment: comment
            id: id
            creation: creation
            status:
              code: active
              details: details
              encryptedDetails: encryptedDetails
          creation: creation
        meta:
          status:
            code: 2.3021358869347655
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_1_trigger_price:
      description: Price data of the trigger.
      example:
        type: trade
        quality: RLT
      nullable: false
      properties:
        type:
          description: Type of the price as configured for the customer.
          enum:
          - trade
          - bid
          - ask
          nullable: true
          type: string
          x-enum-description:
          - Trade price (ordinary, auction, pre or post-trading).
          - Bid price.
          - Ask price.
        quality:
          description: Quality of the price.
          enum:
          - RLT
          - DLY
          - EOD
          nullable: true
          type: string
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15
            to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly
            with an exchange-imposed delay of several hours or days.'
      type: object
      x-property-sort:
      - type
      - quality
    inline_response_200_1_trigger_status:
      description: Status of the trigger.
      example:
        code: active
        details: details
      nullable: false
      properties:
        code:
          description: Code of the status.
          enum:
          - active
          - inactive
          - error
          nullable: true
          type: string
          x-enum-description:
          - The trigger is active and trigger conditions are evaluated.
          - The trigger is inactive and conditions do not generate alerts
          - The trigger is in an error state, error details are noted in "details"
        details:
          description: A human-readable, unstructured explanation specific to this
            error.
          nullable: true
          type: string
      type: object
      x-property-sort:
      - code
      - details
    inline_response_200_1_trigger:
      description: Trigger data at the time of alert creation.
      example:
        notification:
          channel:
            id:
            - 5.637376656633329
            - 5.637376656633329
        notation:
          id: id
        price:
          type: trade
          quality: RLT
        range:
          upperLimit: 1.4658129805029452
          lowerLimit: 5.962133916683182
        comment: comment
        id: id
        creation: creation
        status:
          code: active
          details: details
      nullable: false
      properties:
        id:
          description: Identifier of the trigger.
          format: id64
          nullable: true
          type: string
          x-positive: true
        creation:
          description: Date and time when the trigger was created.
          format: datetime
          nullable: true
          type: string
        notation:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notation'
        price:
          $ref: '#/components/schemas/inline_response_200_1_trigger_price'
        range:
          $ref: '#/components/schemas/inline_response_200_data_trigger_range'
        comment:
          description: Comment of the trigger.
          nullable: true
          type: string
        notification:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notification'
        status:
          $ref: '#/components/schemas/inline_response_200_1_trigger_status'
      type: object
      x-property-sort:
      - id
      - creation
      - notation
      - price
      - range
      - comment
      - notification
      - status
    inline_response_200_1_data:
      example:
        notification:
          status:
          - code: pending
            channel:
              id: 6.027456183070403
            time: time
          - code: pending
            channel:
              id: 6.027456183070403
            time: time
        price:
          time: time
          value: 0.8008281904610115
        id: id
        trigger:
          notification:
            channel:
              id:
              - 5.637376656633329
              - 5.637376656633329
          notation:
            id: id
          price:
            type: trade
            quality: RLT
          range:
            upperLimit: 1.4658129805029452
            lowerLimit: 5.962133916683182
          comment: comment
          id: id
          creation: creation
          status:
            code: active
            details: details
        creation: creation
      nullable: false
      properties:
        id:
          description: Identifier of the alert.
          format: id64
          nullable: true
          type: string
          x-positive: true
        creation:
          description: Date and time when the alert was created.
          format: datetime
          nullable: true
          type: string
        price:
          $ref: '#/components/schemas/inline_response_200_data_price'
        notification:
          $ref: '#/components/schemas/inline_response_200_data_notification'
        trigger:
          $ref: '#/components/schemas/inline_response_200_1_trigger'
      type: object
      x-property-sort:
      - id
      - creation
      - price
      - notification
      - trigger
    inline_response_200_1_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          next: next
          total: 0.8008281904610115
          previous: previous
          isEstimatedTotal: true
        status:
          code: 2.3021358869347655
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/CursorBasedPaginationOutputObject'
      type: object
      x-property-sort:
      - status
      - pagination
    inline_response_200_1:
      example:
        data:
        - notification:
            status:
            - code: pending
              channel:
                id: 6.027456183070403
              time: time
            - code: pending
              channel:
                id: 6.027456183070403
              time: time
          price:
            time: time
            value: 0.8008281904610115
          id: id
          trigger:
            notification:
              channel:
                id:
                - 5.637376656633329
                - 5.637376656633329
            notation:
              id: id
            price:
              type: trade
              quality: RLT
            range:
              upperLimit: 1.4658129805029452
              lowerLimit: 5.962133916683182
            comment: comment
            id: id
            creation: creation
            status:
              code: active
              details: details
          creation: creation
        - notification:
            status:
            - code: pending
              channel:
                id: 6.027456183070403
              time: time
            - code: pending
              channel:
                id: 6.027456183070403
              time: time
          price:
            time: time
            value: 0.8008281904610115
          id: id
          trigger:
            notification:
              channel:
                id:
                - 5.637376656633329
                - 5.637376656633329
            notation:
              id: id
            price:
              type: trade
              quality: RLT
            range:
              upperLimit: 1.4658129805029452
              lowerLimit: 5.962133916683182
            comment: comment
            id: id
            creation: creation
            status:
              code: active
              details: details
          creation: creation
        meta:
          pagination:
            next: next
            total: 0.8008281904610115
            previous: previous
            isEstimatedTotal: true
          status:
            code: 2.3021358869347655
      properties:
        data:
          description: List of alerts.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          nullable: false
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_2_data_notification_channel:
      example:
        id: 0.8008281904610115
      nullable: false
      properties:
        id:
          description: Identifier of the notification channel.
          format: id32
          nullable: true
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_2_data_notification:
      description: Selection of notifications for triggered alerts.
      example:
        channel:
        - id: 0.8008281904610115
        - id: 0.8008281904610115
      nullable: false
      properties:
        channel:
          description: Notification channel selection; see endpoint `/alerting/notification/channel/list`
            for possible channels.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data_notification_channel'
          nullable: false
          type: array
      type: object
      x-property-sort:
      - channel
    inline_response_200_2_data:
      description: Details of the trigger.
      example:
        notification:
          channel:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
        notation:
          id: id
        price:
          type: trade
          quality: RLT
        range:
          upperLimit: 1.4658129805029452
          lowerLimit: 5.962133916683182
        comment: comment
        id: id
        creation: creation
        status:
          code: active
          details: details
          encryptedDetails: encryptedDetails
      nullable: false
      properties:
        id:
          description: Identifier of the trigger.
          format: id64
          nullable: true
          type: string
          x-positive: true
        creation:
          description: Date and time when the trigger was created.
          format: datetime
          nullable: true
          type: string
        notation:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notation'
        price:
          $ref: '#/components/schemas/inline_response_200_1_trigger_price'
        range:
          $ref: '#/components/schemas/inline_response_200_data_trigger_range'
        comment:
          description: Comment of the trigger.
          nullable: true
          type: string
        notification:
          $ref: '#/components/schemas/inline_response_200_2_data_notification'
        status:
          $ref: '#/components/schemas/inline_response_200_data_trigger_status'
      type: object
      x-property-sort:
      - id
      - creation
      - notation
      - price
      - range
      - comment
      - notification
      - status
    inline_response_200_2:
      example:
        data:
          notification:
            channel:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
          notation:
            id: id
          price:
            type: trade
            quality: RLT
          range:
            upperLimit: 1.4658129805029452
            lowerLimit: 5.962133916683182
          comment: comment
          id: id
          creation: creation
          status:
            code: active
            details: details
            encryptedDetails: encryptedDetails
        meta:
          status:
            code: 2.3021358869347655
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_2_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_3_data:
      example:
        notification:
          channel:
          - id: 0.8008281904610115
          - id: 0.8008281904610115
        notation:
          id: id
        price:
          type: trade
          quality: RLT
        range:
          upperLimit: 1.4658129805029452
          lowerLimit: 5.962133916683182
        comment: comment
        id: id
        creation: creation
        status:
          code: active
          details: details
      nullable: false
      properties:
        id:
          description: Identifier of the trigger.
          format: id64
          nullable: true
          type: string
          x-positive: true
        creation:
          description: Date and time when the trigger was created.
          format: datetime
          nullable: true
          type: string
        notation:
          $ref: '#/components/schemas/inline_response_200_data_trigger_notation'
        price:
          $ref: '#/components/schemas/inline_response_200_1_trigger_price'
        range:
          $ref: '#/components/schemas/inline_response_200_data_trigger_range'
        comment:
          description: Comment of the trigger.
          nullable: true
          type: string
        notification:
          $ref: '#/components/schemas/inline_response_200_2_data_notification'
        status:
          $ref: '#/components/schemas/inline_response_200_1_trigger_status'
      type: object
      x-property-sort:
      - id
      - creation
      - notation
      - price
      - range
      - comment
      - notification
      - status
    inline_response_200_3:
      example:
        data:
        - notification:
            channel:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
          notation:
            id: id
          price:
            type: trade
            quality: RLT
          range:
            upperLimit: 1.4658129805029452
            lowerLimit: 5.962133916683182
          comment: comment
          id: id
          creation: creation
          status:
            code: active
            details: details
        - notification:
            channel:
            - id: 0.8008281904610115
            - id: 0.8008281904610115
          notation:
            id: id
          price:
            type: trade
            quality: RLT
          range:
            upperLimit: 1.4658129805029452
            lowerLimit: 5.962133916683182
          comment: comment
          id: id
          creation: creation
          status:
            code: active
            details: details
        meta:
          pagination:
            next: next
            total: 0.8008281904610115
            previous: previous
            isEstimatedTotal: true
          status:
            code: 2.3021358869347655
      properties:
        data:
          description: List of triggers.
          items:
            $ref: '#/components/schemas/inline_response_200_3_data'
          nullable: false
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
      x-property-sort:
      - data
      - meta
    PostAlertingPricesBasicTriggerListRequest_data_filter_status:
      description: Status of the trigger.
      example:
        code: active
      properties:
        code:
          description: Code of the status.
          enum:
          - active
          - inactive
          - error
          type: string
          x-enum-description:
          - The trigger is active and trigger conditions are evaluated.
          - The trigger is inactive and conditions do not generate alerts.
          - The trigger is in an error state, error details are noted in `details`
      type: object
      x-property-sort:
      - code
    PostAlertingPricesBasicTriggerListRequest_data_filter:
      description: Criteria that filter the items in the response list.
      example:
        status:
          code: active
      properties:
        status:
          $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest_data_filter_status'
      type: object
      x-property-sort:
      - status
    PostAlertingPricesBasicTriggerListRequest_data:
      description: The data member contains the request's primary data.
      example:
        filter:
          status:
            code: active
      properties:
        filter:
          $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest_data_filter'
      type: object
      x-property-sort:
      - filter
    PostAlertingPricesBasicTriggerListRequest_meta_pagination:
      description: Pagination attributes for the cursor-based pagination strategy.
      example:
        cursor: cursor
        limit: 40.041409523050575
      properties:
        cursor:
          description: Starting point as returned in the attributes `pagination.next`
            or `pagination.previous` by a prior invocation of this endpoint, or undefined
            (default).
          exclusiveMaximum: false
          maxLength: 50
          type: string
        limit:
          default: 20
          description: Non-negative maximum number of entries to return.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 500
          minimum: 0
          type: number
      type: object
      x-property-sort:
      - cursor
      - limit
    PostAlertingPricesBasicTriggerListRequest_meta:
      description: The meta member contains the meta information of the request.
      example:
        pagination:
          cursor: cursor
          limit: 40.041409523050575
        attributes:
        - attributes
        - attributes
        - attributes
        - attributes
        - attributes
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        pagination:
          $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest_meta_pagination'
      type: object
      x-property-sort:
      - attributes
      - pagination
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0

