openapi: 3.0.0
info:
  description: "The stocks API features a screener to search for equity instruments\
    \ based on stock-specific parameters.\n\nParameters for up to three fiscal years\
    \ might now be used in one request; data is available for the ten most recent\
    \ completed fiscal years. Estimates are available for the current and two consecutive\
    \ fiscal years.\n\nA separate endpoint returns the possible values and value ranges\
    \ for the parameters that the endpoint /stock/notation/screener/search accepts:\
    \ Application developers can request the values and value ranges only for a restricted\
    \ set of notations that match predefined parameters. This functionality may be\
    \ used to pre-fill the values and value ranges of the parameters of the /stock/notation/screener/search\
    \ endpoint so that performing a search always leads to a non-empty set of notations.\n\
    \nThe endpoint /stock/notation/ranking/intraday/list ranks stocks notations using\
    \ intraday figures, for example to build a gainers/losers list. \n\nAdditional\
    \ endpoints include end-of-day benchmark key figures, and selected fundamentals\
    \ (as of end of fiscal year and with potentially daily updates).\n\nThis API is\
    \ fully integrated with the corresponding Quotes API, allowing access to detailed\
    \ price and performance information of instruments, as well as basic security\
    \ identifier cross-reference. For direct access to price histories, please refer\
    \ to the Time Series API for Digital Portals.\n\nSimilar criteria based screener\
    \ APIs exist for fixed income instruments and securitized derivatives: See the\
    \ Bonds API and the Securitized Derivatives API for details."
  title: Stocks API For Digital Portals
  version: "2"
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
servers:
- url: https://api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: stock endpoints
  name: stock
paths:
  /stock/recommendation/aggregate/get:
    get:
      description: Target price and aggregated recommendations for a stock.
      operationId: get/stock/recommendation/aggregate/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of an instrument.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Target price and aggregated recommendations for a stock.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/recommendation/aggregate/history/list:
    get:
      description: Current and historical trade recommendations and target prices
        for a stock.
      operationId: get/stock/recommendation/aggregate/history/list
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of an instrument.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: snapshots
        required: true
        schema:
          description: Choice of historic snapshots for aggregated recommendations.
          items:
            enum:
            - latest
            - 1w
            - 1m
            - 3m
            - 6m
            - 1y
            type: string
            x-enum-description:
            - latest
            - one week ago
            - one month ago
            - three months ago
            - six months ago
            - one year ago
          maxItems: 6
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Current and historical trade recommendations and target prices for
        a stock.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/owner/list:
    get:
      description: List of top-20 owners for a specific type of a company's shares.
      operationId: get/stock/owner/list
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: List of owners for a specific type of a company's shares.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/dividend/list:
    post:
      description: List of dividends for a stock.
      operationId: post/stock/dividend/list
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_stock_dividend_list_data'
                meta:
                  $ref: '#/components/schemas/_stock_dividend_list_meta'
              type: object
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: List of dividends for a stock.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/dividend/type/list:
    get:
      description: List of dividend types.
      operationId: get/stock/dividend/type/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: List of dividend types.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/month/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of one month.
      operationId: get/stock/notation/keyFigures/benchmark/month/1/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of one month.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/week/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of one week.
      operationId: get/stock/notation/keyFigures/benchmark/week/1/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of one week.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/year/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of one year.
      operationId: get/stock/notation/keyFigures/benchmark/year/1/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of one year.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/month/3/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of three months.
      operationId: get/stock/notation/keyFigures/benchmark/month/3/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of three months.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/year/3/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of three years.
      operationId: get/stock/notation/keyFigures/benchmark/year/3/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of three years.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/year/5/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of five years.
      operationId: get/stock/notation/keyFigures/benchmark/year/5/get
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of five years.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/ranking/intraday/list:
    post:
      description: |-
        Ranking of stocks' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.

        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameter `currency` has not been specified.`

        The search can be restricted to a specific set of products by using customer-specific instrument or notation restriction lists. Such restriction lists are set up by FactSet upon request.

        All identifiers used as parameters must be valid and entitled.
      operationId: post/stock/notation/ranking/intraday/list
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data'
                meta:
                  $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Ranking of stocks' notations using intraday figures.
      tags:
      - stock
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/notation/screener/search:
    post:
      description: |-
        Screener for stocks' notations based on stock-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.

        Parameters for up to three fiscal years might be used in one request, see attribute `reportedKeyFigures`; data is available for the ten most recent completed fiscal years. Estimates are available for the current and two consecutive fiscal years; parameters for all three might be used in one request, see attribute `estimates`. The estimated values are calculated as the average of the most recent estimates provided by all analysts in a fixed time frame of 100 days. Screening and sorting by a currency-dependent attribute is not possible if the currency (see parameter `reportedKeyFigures.currencyDependentKeyFigures.currency.isoCode` and parameter `estimates.currencyDependentEstimates.currency.isoCode` respectively) is not set. If a fiscal year for the data as of the end of a fiscal year (see parameter `reportedKeyFigures.fiscalYear`) or for the estimates (see parameter `estimates.fiscalYear`) has been selected but no currency has been set, the respective data will be returned in the currency in which it was originally reported.

        A specific set of stocks can be restricted to or excluded by using customer-specific instrument or notation selection lists. Such selection lists are set up by FactSet upon request. All identifiers used as parameters must be valid and entitled.
      operationId: post/stock/notation/screener/search
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_stock_notation_screener_search_data'
                meta:
                  $ref: '#/components/schemas/_stock_notation_screener_search_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: Screener for stocks' notations based on stock-specific parameters.
      tags:
      - stock
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/notation/screener/valueRanges/get:
    post:
      description: The endpoint returns the possible values and value ranges for the
        parameters used in the endpoint `/stock/notation/screener/search`. It allows
        to request the values and value ranges only for a restricted set of notations
        that match predefined parameters. The functionality may be used to pre-fill
        the values and value ranges of the parameters of the `/stock/notation/screener/search`
        endpoint so that performing a search always leads to a non-empty set of notations.
        If more than one notation of an instrument matches the parameters, and no
        market priority has been specified, only the notation with the highest trading
        volume, averaged over one month, is considered. For more information regarding
        the performance and volatility parameters, see the information available in
        the group description of the `/notation/keyFigures/` endpoints.
      operationId: post/stock/notation/screener/valueRanges/get
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_stock_notation_screener_search_data'
                meta:
                  $ref: '#/components/schemas/_stock_notation_screener_valueRanges_get_meta'
              type: object
        description: Request Body
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: Possible values and value ranges for the parameters used in the endpoint
        `/stock/notation/screener/search`.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies:
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: false
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: false
    inline_object_3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: false
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        exclusiveMaximum: false
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 2.027123023002322
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 7.386281948385884
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      example:
        isPartial: true
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    inline_response_200_data_targetPrice_currency:
      description: Main currency of the target price. See endpoint `/basic/valueUnit/currency/main/list`
        for possible values.
      example:
        code: code
        id: 6.027456183070403
      properties:
        id:
          description: Identifier of the currency.
          format: id32
          type: number
          x-positive: true
        code:
          description: Code of the currency; if assigned, a code according to ISO
            4217, otherwise a local code.
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_data_targetPrice:
      description: Details of the target price.
      example:
        mean: 0.8008281904610115
        currency:
          code: code
          id: 6.027456183070403
        latestUpdate: 2000-01-23
      properties:
        latestUpdate:
          description: Date of the latest update.
          format: date
          type: string
        mean:
          description: Mean value.
          format: real
          type: number
        currency:
          $ref: '#/components/schemas/inline_response_200_data_targetPrice_currency'
      type: object
      x-property-sort:
      - latestUpdate
      - mean
      - currency
    inline_response_200_data_recommendation_counts:
      description: Number of recommendations.
      example:
        total: 1.4658129805029452
        buy: 5.962133916683182
        sell: 9.301444243932576
        overweight: 5.637376656633329
        underweight: 7.061401241503109
        hold: 2.3021358869347655
      properties:
        total:
          description: Total number.
          format: int32
          type: number
        buy:
          description: Number of buy recommendations. A buy recommendation contributes
            with the numeric value 1 when calculating the consensus.
          format: int32
          type: number
        overweight:
          description: Number of overweight recommendations. A overweight recommendation
            contributes with the numeric value 2 when calculating the consensus.
          format: int32
          type: number
        hold:
          description: Number of hold recommendations. A hold recommendation contributes
            with the numeric value 3 when calculating the consensus.
          format: int32
          type: number
        underweight:
          description: Number of underweight recommendations. A underweight recommendation
            contributes with the numeric value 4 when calculating the consensus.
          format: int32
          type: number
        sell:
          description: Number of sell recommendations. A sell recommendation contributes
            with the numeric value 5 when calculating the consensus.
          format: int32
          type: number
      type: object
      x-property-sort:
      - total
      - buy
      - overweight
      - hold
      - underweight
      - sell
    inline_response_200_data_recommendation:
      description: Details of the recommendations.
      example:
        consensus: 3.616076749251911
        counts:
          total: 1.4658129805029452
          buy: 5.962133916683182
          sell: 9.301444243932576
          overweight: 5.637376656633329
          underweight: 7.061401241503109
          hold: 2.3021358869347655
        latestUpdate: 2000-01-23
      properties:
        latestUpdate:
          description: Date of the latest update.
          format: date
          type: string
        counts:
          $ref: '#/components/schemas/inline_response_200_data_recommendation_counts'
        consensus:
          description: Recommendation consensus, that is the average value of all
            provided recommendations. Values are in the range from 1.0 to 5.0, whereby
            1 represents the strongest buy recommendation, 3 a hold (neutral) recommendation
            and 5 the strongest sell recommendation.
          format: real
          type: number
      type: object
      x-property-sort:
      - latestUpdate
      - counts
      - consensus
    inline_response_200_data:
      description: Target price and aggregated recommendations for a stock.
      example:
        targetPrice:
          mean: 0.8008281904610115
          currency:
            code: code
            id: 6.027456183070403
          latestUpdate: 2000-01-23
        recommendation:
          consensus: 3.616076749251911
          counts:
            total: 1.4658129805029452
            buy: 5.962133916683182
            sell: 9.301444243932576
            overweight: 5.637376656633329
            underweight: 7.061401241503109
            hold: 2.3021358869347655
          latestUpdate: 2000-01-23
      properties:
        targetPrice:
          $ref: '#/components/schemas/inline_response_200_data_targetPrice'
        recommendation:
          $ref: '#/components/schemas/inline_response_200_data_recommendation'
      type: object
      x-property-sort:
      - targetPrice
      - recommendation
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 2.027123023002322
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_200:
      example:
        data:
          targetPrice:
            mean: 0.8008281904610115
            currency:
              code: code
              id: 6.027456183070403
            latestUpdate: 2000-01-23
          recommendation:
            consensus: 3.616076749251911
            counts:
              total: 1.4658129805029452
              buy: 5.962133916683182
              sell: 9.301444243932576
              overweight: 5.637376656633329
              underweight: 7.061401241503109
              hold: 2.3021358869347655
            latestUpdate: 2000-01-23
        meta:
          status:
            code: 2.027123023002322
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_1_recommendation:
      description: Details of the recommendations.
      example:
        consensus: 0.8008281904610115
        counts:
          total: 1.4658129805029452
          buy: 5.962133916683182
          sell: 9.301444243932576
          overweight: 5.637376656633329
          underweight: 7.061401241503109
          hold: 2.3021358869347655
        latestUpdate: 2000-01-23
      properties:
        latestUpdate:
          description: Date of the latest update.
          format: date
          type: string
        counts:
          $ref: '#/components/schemas/inline_response_200_data_recommendation_counts'
        consensus:
          description: 'Recommendation consensus, that is the average value of all
            provided recommendations. Values are in the range from 1.0 to 5.0, whereby
            1 represents the strongest buy recommendation, 3 a hold (neutral) recommendation
            and 5 the strongest sell recommendation. '
          format: real
          type: number
      type: object
      x-property-sort:
      - latestUpdate
      - counts
      - consensus
    inline_response_200_1_data:
      example:
        targetPrice:
          mean: 0.8008281904610115
          currency:
            code: code
            id: 6.027456183070403
          latestUpdate: 2000-01-23
        recommendation:
          consensus: 0.8008281904610115
          counts:
            total: 1.4658129805029452
            buy: 5.962133916683182
            sell: 9.301444243932576
            overweight: 5.637376656633329
            underweight: 7.061401241503109
            hold: 2.3021358869347655
          latestUpdate: 2000-01-23
        snapshot: latest
      properties:
        snapshot:
          description: Identification of the historic snapshot for aggregated recommendations.
          enum:
          - latest
          - 1w
          - 1m
          - 3m
          - 6m
          - 1y
          type: string
          x-enum-description:
          - latest
          - one week ago
          - one month ago
          - three months ago
          - six months ago
          - one year ago
        targetPrice:
          $ref: '#/components/schemas/inline_response_200_data_targetPrice'
        recommendation:
          $ref: '#/components/schemas/inline_response_200_1_recommendation'
      type: object
      x-property-sort:
      - snapshot
      - targetPrice
      - recommendation
    inline_response_200_1:
      example:
        data:
        - targetPrice:
            mean: 0.8008281904610115
            currency:
              code: code
              id: 6.027456183070403
            latestUpdate: 2000-01-23
          recommendation:
            consensus: 0.8008281904610115
            counts:
              total: 1.4658129805029452
              buy: 5.962133916683182
              sell: 9.301444243932576
              overweight: 5.637376656633329
              underweight: 7.061401241503109
              hold: 2.3021358869347655
            latestUpdate: 2000-01-23
          snapshot: latest
        - targetPrice:
            mean: 0.8008281904610115
            currency:
              code: code
              id: 6.027456183070403
            latestUpdate: 2000-01-23
          recommendation:
            consensus: 0.8008281904610115
            counts:
              total: 1.4658129805029452
              buy: 5.962133916683182
              sell: 9.301444243932576
              overweight: 5.637376656633329
              underweight: 7.061401241503109
              hold: 2.3021358869347655
            latestUpdate: 2000-01-23
          snapshot: latest
        meta:
          status:
            code: 2.027123023002322
      properties:
        data:
          description: List of trade recommendations and target prices for a stock,
            in unspecified order.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_2_type:
      description: Type of the owner.
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the type. See endpoint `/stock/owner/type/list`
            for possible values.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_2_ownership:
      description: Details of the ownership.
      example:
        numberShares: 1.4658129805029452
        fraction: 6.027456183070403
      properties:
        fraction:
          description: Fraction of stocks held by the owner.
          format: relativeValue
          type: number
        numberShares:
          description: Number of stocks held by the owner.
          format: real
          type: number
      type: object
      x-property-sort:
      - fraction
      - numberShares
    inline_response_200_2_data:
      example:
        ownership:
          numberShares: 1.4658129805029452
          fraction: 6.027456183070403
        name: name
        id: id
        type:
          name: name
          id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the owner. See endpoint `/legalEntity/list` for
            possible values.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the owner.
          type: string
        type:
          $ref: '#/components/schemas/inline_response_200_2_type'
        ownership:
          $ref: '#/components/schemas/inline_response_200_2_ownership'
      type: object
      x-property-sort:
      - id
      - name
      - type
      - ownership
    inline_response_200_2:
      example:
        data:
        - ownership:
            numberShares: 1.4658129805029452
            fraction: 6.027456183070403
          name: name
          id: id
          type:
            name: name
            id: 0.8008281904610115
        - ownership:
            numberShares: 1.4658129805029452
            fraction: 6.027456183070403
          name: name
          id: id
          type:
            name: name
            id: 0.8008281904610115
        meta:
          status:
            code: 2.027123023002322
      properties:
        data:
          description: List of owners with their respective share sorted descending
            by the fraction owned.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _stock_dividend_list_data_filter_period:
      description: |-
        Period for which the dividends shall be returned. Since not all attributes contained in the dates object are available for all dividends, the following priority of the available dates is used to determine whether a dividend belongs to the specified period:
         1. payment
         2. effective
         3. record
         4. announcement
      format: dateRange
      properties:
        start:
          description: The starting point of the date range (inclusive), or `null`
            to indicate that the date range extends indefinitely into the past.
          format: date
          type: string
          x-allowNullValue: true
        end:
          description: The ending point of the date range (inclusive), or `null` to
            indicate that the date range extends indefinitely into the future.
          format: date
          type: string
          x-allowNullValue: true
      required:
      - end
      - start
      type: object
      x-isClosedInterval: true
      x-property-sort:
      - start
      - end
    _stock_dividend_list_data_filter_type:
      description: Dividend type. See endpoint `/stock/dividend/type/list` for valid
        values.
      properties:
        id:
          description: Identifier of the dividend type.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _stock_dividend_list_data_filter:
      description: Criteria that filter the items in the response list; only items
        that match all of the criteria are returned.
      properties:
        period:
          $ref: '#/components/schemas/_stock_dividend_list_data_filter_period'
        type:
          $ref: '#/components/schemas/_stock_dividend_list_data_filter_type'
      type: object
      x-property-sort:
      - period
      - type
    _stock_dividend_list_data:
      description: The data member contains the request's primary data.
      properties:
        id:
          description: Identifier of an instrument.
          format: id64
          type: string
          x-positive: true
        filter:
          $ref: '#/components/schemas/_stock_dividend_list_data_filter'
      required:
      - id
      type: object
      x-property-sort:
      - id
      - filter
    _stock_dividend_list_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        language:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        sort:
          default:
          - dates.payment
          description: Sortable attributes. The sort order is ascending unless it
            is prefixed with a minus sign, in which case it is descending. A list
            of at most 4 (possibly prefixed) attribute name(s) is allowed.
          items:
            enum:
            - dates.announcement
            - -dates.announcement
            - dates.record
            - -dates.record
            - dates.effective
            - -dates.effective
            - dates.payment
            - -dates.payment
            type: string
          maxItems: 4
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - attributes
      - language
      - sort
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_stock_dividend_list_data'
        meta:
          $ref: '#/components/schemas/_stock_dividend_list_meta'
      type: object
    inline_response_200_3_type:
      description: Dividend type.
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the type.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_3_occurrence_frequency:
      description: Frequency of the dividend. Information about the frequency is available
        only if the attribute `occurrence.type` is set to "periodic". See endpoint
        `/basic/frequency/type/list` for possible values.
      example:
        name: name
        id: 6.027456183070403
      properties:
        id:
          description: Identifier of the frequency.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the frequency.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_3_occurrence:
      description: Occurrence and frequency of the dividend.
      example:
        type: periodic
        frequency:
          name: name
          id: 6.027456183070403
      properties:
        type:
          description: Occurrence type.
          enum:
          - periodic
          - extraordinary
          type: string
          x-enum-description:
          - The dividend payment occurs on a regular basis, i.e., with a given frequency.
          - The dividend payment is atypical and infrequent.
        frequency:
          $ref: '#/components/schemas/inline_response_200_3_occurrence_frequency'
      type: object
      x-property-sort:
      - type
      - frequency
    inline_response_200_3_dates:
      description: Relevant dates related to the dividend.
      example:
        effective: 2000-01-23
        record: 2000-01-23
        payment: 2000-01-23
        announcement: 2000-01-23
      properties:
        announcement:
          description: Announcement date.
          format: date
          type: string
          x-sortable: true
        record:
          description: Record date.
          format: date
          type: string
          x-sortable: true
        effective:
          description: Effective date (ex-date).
          format: date
          type: string
          x-sortable: true
        payment:
          description: Payment date.
          format: date
          type: string
          x-sortable: true
          x-default-sort-attribute: true
          x-default-sort-direction: 1
      type: object
      x-property-sort:
      - announcement
      - record
      - effective
      - payment
    inline_response_200_3_currency:
      description: Main currency of the dividend. See endpoint `/basic/valueUnit/currency/main/list`
        for possible values.
      example:
        isoCode: isoCode
        id: 1.4658129805029452
      properties:
        id:
          description: Identifier of the currency.
          format: id32
          type: number
          x-positive: true
        isoCode:
          description: ISO 4217 code of the currency.
          type: string
      type: object
      x-property-sort:
      - id
      - isoCode
    inline_response_200_3_gross:
      description: Gross value.
      example:
        unadjustedValue: 5.962133916683182
      properties:
        unadjustedValue:
          description: Value of the unadjusted dividend.
          format: real
          type: number
      type: object
      x-property-sort:
      - unadjustedValue
    inline_response_200_3_data:
      example:
        gross:
          unadjustedValue: 5.962133916683182
        dates:
          effective: 2000-01-23
          record: 2000-01-23
          payment: 2000-01-23
          announcement: 2000-01-23
        currency:
          isoCode: isoCode
          id: 1.4658129805029452
        id: id
        occurrence:
          type: periodic
          frequency:
            name: name
            id: 6.027456183070403
        type:
          name: name
          id: 0.8008281904610115
      properties:
        id:
          description: Identifier of a dividend.
          format: id64
          type: string
          x-positive: true
        type:
          $ref: '#/components/schemas/inline_response_200_3_type'
        occurrence:
          $ref: '#/components/schemas/inline_response_200_3_occurrence'
        dates:
          $ref: '#/components/schemas/inline_response_200_3_dates'
        currency:
          $ref: '#/components/schemas/inline_response_200_3_currency'
        gross:
          $ref: '#/components/schemas/inline_response_200_3_gross'
      type: object
      x-property-sort:
      - id
      - type
      - occurrence
      - dates
      - currency
      - gross
    inline_response_200_3:
      example:
        data:
        - gross:
            unadjustedValue: 5.962133916683182
          dates:
            effective: 2000-01-23
            record: 2000-01-23
            payment: 2000-01-23
            announcement: 2000-01-23
          currency:
            isoCode: isoCode
            id: 1.4658129805029452
          id: id
          occurrence:
            type: periodic
            frequency:
              name: name
              id: 6.027456183070403
          type:
            name: name
            id: 0.8008281904610115
        - gross:
            unadjustedValue: 5.962133916683182
          dates:
            effective: 2000-01-23
            record: 2000-01-23
            payment: 2000-01-23
            announcement: 2000-01-23
          currency:
            isoCode: isoCode
            id: 1.4658129805029452
          id: id
          occurrence:
            type: periodic
            frequency:
              name: name
              id: 6.027456183070403
          type:
            name: name
            id: 0.8008281904610115
        meta:
          status:
            code: 2.027123023002322
      properties:
        data:
          description: List of dividends.
          items:
            $ref: '#/components/schemas/inline_response_200_3_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_4_data:
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of a dividend type.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the dividend type.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_4:
      example:
        data:
        - name: name
          id: 0.8008281904610115
        - name: name
          id: 0.8008281904610115
        meta:
          status:
            code: 2.027123023002322
      properties:
        data:
          description: List of dividend types, sorted by ascending identifier value.
          items:
            $ref: '#/components/schemas/inline_response_200_4_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_5_notation_instrument:
      description: Instrument of the benchmark.
      example:
        name: name
        id: id
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the instrument.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_5_notation:
      description: Notation of the benchmark.
      example:
        instrument:
          name: name
          id: id
        id: id
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        instrument:
          $ref: '#/components/schemas/inline_response_200_5_notation_instrument'
      type: object
      x-property-sort:
      - id
      - instrument
    inline_response_200_5_status:
      description: Error status for the requested identifier.
      example:
        identifier: identifier
        code: none
        encryptedDetails: encryptedDetails
      properties:
        code:
          description: Code of the error condition.
          enum:
          - none
          - parameter
          type: string
          x-enum-description:
          - No error.
          - The provided identifier does not refer to a valid benchmark notation.
        identifier:
          description: Provided identifier.
          format: id64
          type: string
          x-positive: true
        encryptedDetails:
          description: Base64-encoded internal details about the error.
          type: string
      type: object
      x-property-sort:
      - code
      - identifier
      - encryptedDetails
    inline_response_200_5_data:
      example:
        correlation: 6.027456183070403
        notation:
          instrument:
            name: name
            id: id
          id: id
        outperformance: 1.4658129805029452
        beta: 0.8008281904610115
        status:
          identifier: identifier
          code: none
          encryptedDetails: encryptedDetails
      properties:
        notation:
          $ref: '#/components/schemas/inline_response_200_5_notation'
        beta:
          description: Beta of the notation.
          format: real
          type: number
        correlation:
          description: Correlation of the notation.
          format: real
          type: number
        outperformance:
          description: Outperformance of the notation.
          format: relativeValue
          type: number
        status:
          $ref: '#/components/schemas/inline_response_200_5_status'
      type: object
      x-property-sort:
      - notation
      - beta
      - correlation
      - outperformance
      - status
    inline_response_200_5:
      example:
        data:
        - correlation: 6.027456183070403
          notation:
            instrument:
              name: name
              id: id
            id: id
          outperformance: 1.4658129805029452
          beta: 0.8008281904610115
          status:
            identifier: identifier
            code: none
            encryptedDetails: encryptedDetails
        - correlation: 6.027456183070403
          notation:
            instrument:
              name: name
              id: id
            id: id
          outperformance: 1.4658129805029452
          beta: 0.8008281904610115
          status:
            identifier: identifier
            code: none
            encryptedDetails: encryptedDetails
        meta:
          status:
            code: 2.027123023002322
      properties:
        data:
          description: List of benchmarks with related key figures. The order of the
            benchmark notations in the response is unrelated to their order in the
            request array.
          items:
            $ref: '#/components/schemas/inline_response_200_5_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _stock_notation_ranking_intraday_list_data_prices:
      description: Price-related parameters.
      properties:
        quality:
          default: DLY
          description: Quality of the trade-related attributes, see attributes `trade`
            and `accumulated` in the response.
          enum:
          - RLT
          - DLY
          type: string
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15
            to 30 minutes.'
      type: object
      x-property-sort:
      - quality
    _stock_notation_ranking_intraday_list_data_currency:
      description: Currency of the notations in the result.
      properties:
        id:
          description: Identifier of the currency. See endpoint `/basic/valueUnit/currency/list`
            for valid values.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _stock_notation_ranking_intraday_list_data_market_priority:
      description: Sequence of market identifiers defining the priority order (array
        entries with a lower index have a higher priority) of the markets for the
        returned notation. The list does not restrict the request to only those markets.
      properties:
        ids:
          description: List of market identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _stock_notation_ranking_intraday_list_data_market:
      description: Market-related parameters. See endpoint `/basic/market/list` for
        valid values.
      properties:
        ids:
          description: List of market identifiers where a stock may be traded. The
            list restricts the request to only those markets.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
        priority:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_market_priority'
      type: object
      x-property-sort:
      - ids
      - priority
    _stock_notation_ranking_intraday_list_data_instrumentRestrictionList:
      description: Instrument-level restriction. If present, the result contains only
        stocks that are a member of at least one of the provided lists.
      properties:
        ids:
          description: List of identifiers of restriction lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _stock_notation_ranking_intraday_list_data_notationRestrictionList:
      description: Notation-level restriction. If present, the result contains only
        stocks that are a member of at least one of the provided lists.
      properties:
        ids:
          description: List of identifiers of restriction lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _stock_notation_ranking_intraday_list_data_industryClassification:
      description: Only stocks that belong to at least one industry in the provided
        list will be returned. Here, an industry is a category from any level of category
        system 48 (FactSet Revere Business Industry Classification System (RBICS)).
      properties:
        ids:
          description: List of category identifiers. See endpoint `/category/listBySystem`
            for category system 48 for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _stock_notation_ranking_intraday_list_data_company_country:
      description: Only stocks issued by a company whose head office is located in
        a country in the provided list will be returned.
      properties:
        ids:
          description: List of country identifiers. See endpoint `/basic/region/country/list`
            for valid values.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _stock_notation_ranking_intraday_list_data_company:
      description: Company-related parameters.
      properties:
        country:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_company_country'
      type: object
      x-property-sort:
      - country
    _stock_notation_ranking_intraday_list_data_indexMembership:
      description: List of indices of which a stock is a constituent. The list restricts
        the request to return only those stocks that are a constituent of one of the
        specified indices.
      properties:
        ids:
          description: List of index instrument identifiers.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
        useAlternativeNotation:
          default: false
          description: Specifies whether an alternative notation of a constituent
            shall be retrieved if the market of the original notation is currently
            closed or if the user is not entitled for the market of the original notation.
            The alternative notation is the one with the highest trading volume averaged
            over one month that satisfies all other selected filters, such as only
            a specific market or a specific currency. If the original notation is
            not entitled and a currency has not been specified, the alternative notation
            may be in a different currency than the original one which makes the ranking
            less meaningful, especially a trading value-based ranking, see attribute
            `accumulated.tradingValue` in the response.
          type: boolean
      type: object
      x-property-sort:
      - ids
      - useAlternativeNotation
    _stock_notation_ranking_intraday_list_data_performance_relative_minimum:
      description: The minimum of the range, or `null` to indicate that there is no
        minimum.
      properties:
        value:
          description: The minimum value.
          format: relativeValue
          type: number
        inclusive:
          default: true
          description: Indicates whether the minimum value is included in the range
            or not.
          type: boolean
      required:
      - value
      type: object
      x-property-sort:
      - value
      - inclusive
      x-allowNullValue: true
    _stock_notation_ranking_intraday_list_data_performance_relative_maximum:
      description: The maximum of the range, or `null` to indicate that there is no
        maximum.
      properties:
        value:
          description: The maximum value.
          format: relativeValue
          type: number
        inclusive:
          default: true
          description: Indicates whether the maximum value is included in the range
            or not.
          type: boolean
      required:
      - value
      type: object
      x-property-sort:
      - value
      - inclusive
      x-allowNullValue: true
    _stock_notation_ranking_intraday_list_data_performance_relative:
      description: Value range for the relative performance.
      format: relativeValueRange
      properties:
        minimum:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_performance_relative_minimum'
        maximum:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_performance_relative_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _stock_notation_ranking_intraday_list_data_performance:
      description: |
        Performance of the most recent price calculated against the latest price which has occurred before the start of the current trading day.
      properties:
        relative:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_performance_relative'
      type: object
      x-property-sort:
      - relative
    _stock_notation_ranking_intraday_list_data:
      description: The data member contains the request's primary data.
      properties:
        prices:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_prices'
        currency:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_currency'
        market:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_market'
        instrumentRestrictionList:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_instrumentRestrictionList'
        notationRestrictionList:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_notationRestrictionList'
        industryClassification:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_industryClassification'
        company:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_company'
        indexMembership:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_indexMembership'
        performance:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data_performance'
      type: object
      x-property-sort:
      - prices
      - currency
      - market
      - instrumentRestrictionList
      - notationRestrictionList
      - industryClassification
      - company
      - indexMembership
      - performance
    _stock_notation_ranking_intraday_list_meta_pagination:
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        offset:
          default: 0
          description: Non-negative number of entries to skip, or 0 (default).
          exclusiveMinimum: false
          format: int32
          minimum: 0
          type: number
        limit:
          default: 20
          description: Non-negative maximum number of entries to return.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 100
          minimum: 0
          type: number
      type: object
      x-property-sort:
      - offset
      - limit
    _stock_notation_ranking_intraday_list_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        language:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        sort:
          default:
          - -trade.performance.relative
          description: Sortable attributes. The sort order is ascending unless it
            is prefixed with a minus sign, in which case it is descending. A list
            of at most 5 (possibly prefixed) attribute name(s) is allowed.
          items:
            enum:
            - trade.performance.absolute
            - -trade.performance.absolute
            - trade.performance.relative
            - -trade.performance.relative
            - accumulated.numberTrades
            - -accumulated.numberTrades
            - accumulated.tradingVolume
            - -accumulated.tradingVolume
            - accumulated.tradingValue
            - -accumulated.tradingValue
            type: string
          maxItems: 5
          type: array
          uniqueItems: true
        pagination:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_meta_pagination'
      type: object
      x-property-sort:
      - attributes
      - language
      - sort
      - pagination
    inline_object_1:
      properties:
        data:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_data'
        meta:
          $ref: '#/components/schemas/_stock_notation_ranking_intraday_list_meta'
      type: object
    inline_response_200_6_market:
      description: Market of the notation.
      example:
        name: name
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of the market.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the market.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_6_currency:
      description: Currency of the notation. See endpoint `/basic/valueUnit/currency/list`
        for possible values.
      example:
        code: code
        id: 6.027456183070403
      properties:
        id:
          description: Identifier of the currency.
          format: id32
          type: number
          x-positive: true
        code:
          description: 'Code of the currency: If assigned, a code according to ISO
            4217, otherwise a local code, for a main currency; a code such as GBp
            (for British pence) for a fractional currency.'
          type: string
      type: object
      x-property-sort:
      - id
      - code
    inline_response_200_6_trade_performance:
      description: Performance of the most recent price calculated against the latest
        price which has occurred before the start of the current trading day.
      example:
        absolute: 5.962133916683182
        relative: 5.637376656633329
      properties:
        absolute:
          description: Absolute value. See attribute `currency` for its currency.
          format: real
          type: number
          x-sortable: true
        relative:
          description: Relative value.
          format: relativeValue
          type: number
          x-sortable: true
          x-default-sort-attribute: true
          x-default-sort-direction: 2
      type: object
      x-property-sort:
      - absolute
      - relative
    inline_response_200_6_trade:
      description: Most recent trade price and performance.
      example:
        performance:
          absolute: 5.962133916683182
          relative: 5.637376656633329
        price: 1.4658129805029452
        time: time
      properties:
        time:
          description: Date and time.
          format: datetime
          type: string
        price:
          description: Price value. See attribute `currency` for its currency.
          format: real
          type: number
        performance:
          $ref: '#/components/schemas/inline_response_200_6_trade_performance'
      type: object
      x-property-sort:
      - time
      - price
      - performance
    inline_response_200_6_accumulated:
      description: Summary data accumulated over all trades of the current trading
        day.
      example:
        numberTrades: 2.3021358869347655
        tradingValue: 9.301444243932576
        tradingVolume: 7.061401241503109
      properties:
        numberTrades:
          description: Number of trades.
          format: real
          type: number
          x-sortable: true
        tradingVolume:
          description: Number of shares traded.
          format: real
          type: number
          x-sortable: true
        tradingValue:
          description: Monetary equivalent (cash value) of the trades. See attribute
            `currency` for its currency.
          format: real
          type: number
          x-sortable: true
      type: object
      x-property-sort:
      - numberTrades
      - tradingVolume
      - tradingValue
    inline_response_200_6_fsym_listing:
      description: Listing-level identifiers.
      example:
        tickerExchange: tickerExchange
        isPrimary: true
        permanentIdentifier: permanentIdentifier
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for a notation. The format is
            six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
          type: string
        tickerExchange:
          description: 'FactSet market symbol of the notation, usually consisting
            of the ticker (e.g. "DAI" for Daimler AG) and the three-character code
            of the exchange on which the listing is traded (example: DAI-ETR).'
          type: string
        isPrimary:
          description: Indicates whether the notation is the primary notation among
            all notations within the same region (`true`) or not (`false`).
          type: boolean
      type: object
      x-property-sort:
      - permanentIdentifier
      - tickerExchange
      - isPrimary
    inline_response_200_6_fsym_regional:
      description: Regional-level identifiers.
      example:
        isPrimary: true
        tickerRegion: tickerRegion
        permanentIdentifier: permanentIdentifier
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for a set of one or more notations
            of the same region with the same value unit. The format is six alpha numeric
            characters, excluding vowels, with an R suffix (XXXXXX-R).
          type: string
        tickerRegion:
          description: 'FactSet regional symbol of the notation, consisting of the
            ticker and the two-character code of the country or region where the listing
            is traded (example: DAI-DE).'
          type: string
        isPrimary:
          description: Indicates whether the notation is in the primary region of
            the security (`true`) or not (`false`).
          type: boolean
      type: object
      x-property-sort:
      - permanentIdentifier
      - tickerRegion
      - isPrimary
    inline_response_200_6_fsym:
      description: Notation-level FactSet identifiers of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        regional:
          isPrimary: true
          tickerRegion: tickerRegion
          permanentIdentifier: permanentIdentifier
        listing:
          tickerExchange: tickerExchange
          isPrimary: true
          permanentIdentifier: permanentIdentifier
      properties:
        listing:
          $ref: '#/components/schemas/inline_response_200_6_fsym_listing'
        regional:
          $ref: '#/components/schemas/inline_response_200_6_fsym_regional'
      type: object
      x-property-sort:
      - listing
      - regional
    inline_response_200_6_instrument_nsin:
      description: NSIN data of the instrument.
      example:
        valor: valor
        wkn: wkn
      properties:
        wkn:
          description: The WKN (Wertpapierkennnummer, German for Securities Identification
            Number) of the instrument. The WKN is a 6-character code of digits and
            upper-case letters that uniquely identifies an instrument.
          type: string
        valor:
          description: 'The Valor number (German: Valorennummer) of the instrument.
            The Valor number is an integer number that uniquely identifies an instrument.'
          type: string
      type: object
      x-property-sort:
      - wkn
      - valor
    inline_response_200_6_instrument_fsym_security:
      description: Security-level identifier.
      example:
        permanentIdentifier: permanentIdentifier
      properties:
        permanentIdentifier:
          description: FactSet Permanent Identifier for an instrument. The format
            is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
          type: string
      type: object
      x-property-sort:
      - permanentIdentifier
    inline_response_200_6_instrument_fsym:
      description: Instrument-level FactSet identifier of the financial instrument
        used primarily in FactSet products other than the MDG.
      example:
        security:
          permanentIdentifier: permanentIdentifier
      properties:
        security:
          $ref: '#/components/schemas/inline_response_200_6_instrument_fsym_security'
      type: object
      x-property-sort:
      - security
    inline_response_200_6_instrument_industryClassification_rbics:
      example:
        name: name
        id: 3.616076749251911
      properties:
        id:
          description: Identifier of the category.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the category.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_6_instrument_industryClassification:
      description: Industry classification.
      example:
        rbics:
        - name: name
          id: 3.616076749251911
        - name: name
          id: 3.616076749251911
      properties:
        rbics:
          description: Classification based on FactSet Revere Business Industry Classification
            System (RBICS). The categories are arranged in a hierarchy, with level
            1 representing the most coarse granularity and further levels successively
            refining the granularity. See endpoint `/category/listBySystem` for category
            system 48 for possible values.
          items:
            $ref: '#/components/schemas/inline_response_200_6_instrument_industryClassification_rbics'
          type: array
      type: object
      x-property-sort:
      - rbics
    inline_response_200_6_instrument_company_country:
      description: Country where the head office of the company is located. See endpoint
        `/basic/region/country/list` for possible values.
      example:
        name: name
        id: 4.145608029883936
      properties:
        id:
          description: Identifier of the country.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the country.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_6_instrument_company:
      description: Details of the company.
      example:
        country:
          name: name
          id: 4.145608029883936
        name: name
        id: 2.027123023002322
      properties:
        id:
          description: Identifier of the company.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the company.
          type: string
        country:
          $ref: '#/components/schemas/inline_response_200_6_instrument_company_country'
      type: object
      x-property-sort:
      - id
      - name
      - country
    inline_response_200_6_instrument:
      description: Instrument data of the notation.
      example:
        fsym:
          security:
            permanentIdentifier: permanentIdentifier
        industryClassification:
          rbics:
          - name: name
            id: 3.616076749251911
          - name: name
            id: 3.616076749251911
        name: name
        nsin:
          valor: valor
          wkn: wkn
        company:
          country:
            name: name
            id: 4.145608029883936
          name: name
          id: 2.027123023002322
        id: id
        shortName: shortName
        isin: isin
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the instrument.
          format: localizedString
          type: string
        shortName:
          description: Short name of the instrument.
          format: localizedString
          type: string
        isin:
          description: The International Securities Identification Number (ISIN) of
            the instrument. The ISIN is a 12-character code of digits and upper-case
            letters that uniquely identifies an instrument.
          format: isin
          type: string
        nsin:
          $ref: '#/components/schemas/inline_response_200_6_instrument_nsin'
        fsym:
          $ref: '#/components/schemas/inline_response_200_6_instrument_fsym'
        industryClassification:
          $ref: '#/components/schemas/inline_response_200_6_instrument_industryClassification'
        company:
          $ref: '#/components/schemas/inline_response_200_6_instrument_company'
      type: object
      x-property-sort:
      - id
      - name
      - shortName
      - isin
      - nsin
      - fsym
      - industryClassification
      - company
    inline_response_200_6_data:
      example:
        market:
          name: name
          id: 0.8008281904610115
        symbol: symbol
        fsym:
          regional:
            isPrimary: true
            tickerRegion: tickerRegion
            permanentIdentifier: permanentIdentifier
          listing:
            tickerExchange: tickerExchange
            isPrimary: true
            permanentIdentifier: permanentIdentifier
        trade:
          performance:
            absolute: 5.962133916683182
            relative: 5.637376656633329
          price: 1.4658129805029452
          time: time
        currency:
          code: code
          id: 6.027456183070403
        isAlternative: true
        instrument:
          fsym:
            security:
              permanentIdentifier: permanentIdentifier
          industryClassification:
            rbics:
            - name: name
              id: 3.616076749251911
            - name: name
              id: 3.616076749251911
          name: name
          nsin:
            valor: valor
            wkn: wkn
          company:
            country:
              name: name
              id: 4.145608029883936
            name: name
            id: 2.027123023002322
          id: id
          shortName: shortName
          isin: isin
        id: id
        accumulated:
          numberTrades: 2.3021358869347655
          tradingValue: 9.301444243932576
          tradingVolume: 7.061401241503109
        quality: quality
      properties:
        id:
          description: Identifier of a notation.
          format: id64
          type: string
          x-positive: true
        symbol:
          description: The symbol of the notation. It is a market-specific code to
            identify the notation. Which characters can be part of a symbol depends
            on the market. If a market does not define a proprietary symbol, but uses
            a different identifier (for example, the ISIN or the WKN) to identify
            instruments, no symbol will be set for the notations of that market.
          type: string
        market:
          $ref: '#/components/schemas/inline_response_200_6_market'
        currency:
          $ref: '#/components/schemas/inline_response_200_6_currency'
        isAlternative:
          description: Indicates whether the notation is an alternative one, i.e.
            not the original notation of the index constituent.
          type: boolean
        trade:
          $ref: '#/components/schemas/inline_response_200_6_trade'
        quality:
          description: Quality of the trade-related attributes, see attributes `trade`
            and `accumulated`.
          type: string
        accumulated:
          $ref: '#/components/schemas/inline_response_200_6_accumulated'
        fsym:
          $ref: '#/components/schemas/inline_response_200_6_fsym'
        instrument:
          $ref: '#/components/schemas/inline_response_200_6_instrument'
      type: object
      x-property-sort:
      - id
      - symbol
      - market
      - currency
      - isAlternative
      - trade
      - quality
      - accumulated
      - fsym
      - instrument
    inline_response_200_6_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          total: 7.386281948385884
          isEstimatedTotal: true
        partial:
          isPartial: true
        status:
          code: 2.027123023002322
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
        partial:
          $ref: '#/components/schemas/PartialOutputObject'
      type: object
      x-property-sort:
      - status
      - pagination
      - partial
    inline_response_200_6:
      example:
        data:
        - market:
            name: name
            id: 0.8008281904610115
          symbol: symbol
          fsym:
            regional:
              isPrimary: true
              tickerRegion: tickerRegion
              permanentIdentifier: permanentIdentifier
            listing:
              tickerExchange: tickerExchange
              isPrimary: true
              permanentIdentifier: permanentIdentifier
[...]
