openapi: 3.0.0
info:
  description: "The Stocks API features a screener to search for equity instruments\
    \ based on stock-specific parameters.\n\nParameters for up to three fiscal years\
    \ might now be used in one request; data is available for the ten most recent\
    \ completed fiscal years.\nEstimates are available for the current and two consecutive\
    \ fiscal years. Search criteria also include benchmark-related attributes\n(beta,\
    \ correlation, outperformance), and ESG parameters, based on FactSet’s Truvalue\
    \ ESG scores.\n\nA separate endpoint returns the possible values and value ranges\
    \ for the parameters that the endpoint /stock/notation/screener/search accepts\n\
    Application developers can request the values and value ranges only for a restricted\
    \ set of notations that match predefined parameters. This\nfunctionality may be\
    \ used to pre-fill the values and value ranges of the parameters of the /stock/notation/screener/search\
    \ endpoint so that\nperforming a search always leads to a non-empty set of notations.\n\
    \nThe endpoint /stock/notation/ranking/intraday/list ranks stocks notations using\
    \ intraday figures, for example to build a gainers/losers list. \n\nAdditional\
    \ endpoints include end-of-day benchmark key figures, and selected fundamentals\
    \ (as of end of fiscal year and with daily updates).\n\nThis API is fully integrated\
    \ with the corresponding [Quotes API](https://developer.factset.com/api-catalog/quotes-api-digital-portals),\
    \ allowing\naccess to detailed price and performance information of instruments,\
    \ as well as basic security identifier cross-reference. For direct access\nto\
    \ price histories, please refer to the [Time Series API for Digital Portals](https://developer.factset.com/api-catalog/time-series-api-digital-portals).\n\
    \nSimilar criteria based screener APIs exist for fixed income instruments and\
    \ securitized derivatives: See the\n[Bonds API](https://developer.factset.com/api-catalog/bonds-api-digital-portals)\
    \ and the\n[Securitized Derivatives API](https://developer.factset.com/api-catalog/securitized-derivatives-api-digital-portals)\
    \ for details.\n\nSee also the recipe [\"Enrich Your Digital Portal with Flexible\
    \ Equity Screening\"](https://developer.factset.com/recipe-catalog/enrich-your-digital-portal-flexible-equity-screening).\n"
  title: Stocks API For Digital Portals
  version: "2"
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
servers:
- url: https://api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: company endpoints
  name: company
- description: stock endpoints
  name: stock
paths:
  /company/keyItems/current/getByInstrument:
    post:
      description: Fundamentals for a stock with potentially daily updates; any other
        instrument yields empty values for stock-specific attributes. The price used
        to calculate the various price-dependent figures is unspecified and the exchange
        for that price is not identified. Dates are interpreted in the timezone of
        the data provider. For reported company fundamentals of the previous fiscal
        years (only closed fiscal years) see endpoint `/company/keyItems/fiscalYear/listByInstrument.`
      operationId: post/company/keyItems/current/getByInstrument
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Fundamentals for a stock with potentially daily updates.
      tags:
      - company
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /company/keyItems/fiscalYear/listByInstrument:
    post:
      description: Selected fundamentals for a stock with values as of the end of
        a fiscal year; any other instrument yields empty values for stock-specific
        attributes. The endpoint allows the retrieval of data only for specified fiscal
        years by using the start and end properties. Since a fiscal year and a calendar
        year do not necessarily match with regard to their start and end dates, the
        year is derived as the calendar year occupied to a larger extent by the fiscal
        year, using a June through May fiscal year assignment. That means, fiscal
        years ending from the 1st of June onwards are assigned to the same calendar
        year. Dates are interpreted in the timezone of the location of the head office
        of the company.
      operationId: post/company/keyItems/fiscalYear/listByInstrument
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsFiscalYearListByInstrumentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Selected fundamentals for a stock with values as of the end of a fiscal
        year.
      tags:
      - company
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /company/estimates/listByInstrument:
    post:
      description: Fiscal year estimates for selected figures of a stock. Data is
        available only for common shares; instruments such as preferred shares or
        depository receipts yield an empty result. For the share type, see endpoint
        `/instrument/category/list` using dataset 23. Data can be retrieved only for
        the current, the past, and three future fiscal years. For past fiscal years,
        the estimates are not being replaced by the reported figures. Since a fiscal
        year and a calendar year do not necessarily match with regard to their start
        and end dates, the year is derived as the calendar year occupied to a larger
        extent by the fiscal year, using a June through May fiscal year assignment.
        That means, fiscal years ending from the 1st of June onwards are assigned
        to the same calendar year. Dates are interpreted in the timezone of the location
        of the head office of the company.
      operationId: post/company/estimates/listByInstrument
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyEstimatesListByInstrumentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: Estimates for selected figures for a stock.
      tags:
      - company
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/recommendation/aggregate/get:
    get:
      description: Target price and aggregated recommendations for a stock.
      operationId: get/stock/recommendation/aggregate/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          type: string
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Target price and aggregated recommendations for a stock.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/recommendation/aggregate/history/list:
    get:
      description: Current and historical trade recommendations and target prices
        for a stock.
      operationId: get/stock/recommendation/aggregate/history/list
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          type: string
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
        style: form
      - explode: false
        in: query
        name: snapshots
        required: true
        schema:
          description: Choice of historic snapshots for aggregated recommendations.
          items:
            enum:
            - latest
            - 1w
            - 1m
            - 3m
            - 6m
            - 1y
            type: string
            x-enum-description:
            - latest
            - one week ago
            - one month ago
            - three months ago
            - six months ago
            - one year ago
          maxItems: 6
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Current and historical trade recommendations and target prices for
        a stock.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /company/board/listByInstrument:
    get:
      description: List of boards for a company, with their officers. A given person
        may be a member ofdifferent boards of the same company but also a member of
        boards of different companies.
      operationId: get/company/board/listByInstrument
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          description: Identifier of the instrument representing company shares.Any
            other instrument yields empty values.
          format: id64
          type: string
          x-positive: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: List of boards for a company, with their officers.
      tags:
      - company
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /company/board/officer/function/delivery/list:
    get:
      description: List of officer functions as provided by a delivery.
      operationId: get/company/board/officer/function/delivery/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: List of officer functions as provided by a delivery.
      tags:
      - company
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /company/board/type/list:
    get:
      description: List of company board types.
      operationId: get/company/board/type/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: List of company board types.
      tags:
      - company
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/owner/list:
    get:
      description: List of top-20 owners for a specific type of a company's shares.
      operationId: get/stock/owner/list
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          type: string
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: List of owners for a specific type of a company's shares.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/composite/profile/getByNotation:
    get:
      description: Provides key elements of a stock profile together with the profile
        of the issuing company.
      operationId: get/stock/composite/profile/getByNotation
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: Provides key elements of a stock profile together with the profile
        of the issuing company.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/dividend/list:
    post:
      description: List of dividends for a stock.
      operationId: post/stock/dividend/list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockDividendListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful Response
      summary: List of dividends for a stock.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/dividend/type/list:
    get:
      description: List of dividend types.
      operationId: get/stock/dividend/type/list
      parameters:
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successful Response
      summary: List of dividend types.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/month/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of one month.
      operationId: get/stock/notation/keyFigures/benchmark/month/1/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of one month.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/week/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of one week.
      operationId: get/stock/notation/keyFigures/benchmark/week/1/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of one week.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/year/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of one year.
      operationId: get/stock/notation/keyFigures/benchmark/year/1/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of one year.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/month/3/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of three months.
      operationId: get/stock/notation/keyFigures/benchmark/month/3/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of three months.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/year/3/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of three years.
      operationId: get/stock/notation/keyFigures/benchmark/year/3/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of three years.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/year/5/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of five years.
      operationId: get/stock/notation/keyFigures/benchmark/year/5/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of five years.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/keyFigures/benchmark/month/6/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a stock for the time
        range of six months.
      operationId: get/stock/notation/keyFigures/benchmark/month/6/get
      parameters:
      - explode: true
        in: query
        name: identifier
        required: true
        schema:
          description: Identifier to resolve.
          exclusiveMaximum: false
          exclusiveMinimum: false
          maxLength: 50
          minLength: 3
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          type: string
        style: form
      - explode: true
        in: query
        name: identifierType
        required: true
        schema:
          description: Type of the identifier.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          type: string
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the
            region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing
            in the region.
        style: form
      - explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          description: |-
            List of identifiers of benchmark notations. See the group description for the list
            of valid values.
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 3
          minItems: 1
          nullable: false
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        required: false
        schema:
          items:
            exclusiveMaximum: false
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: _language
        required: false
        schema:
          description: ISO 639-1 code of the language.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range
        of six months.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /stock/notation/ranking/intraday/list:
    post:
      description: |-
        Ranking of stocks' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.

        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameter `currency` has not been specified.`

        The search can be restricted to a specific set of products by using customer-specific instrument or notation restriction lists. Such restriction lists are set up by FactSet upon request.

        All identifiers used as parameters must be valid and entitled.
      operationId: post/stock/notation/ranking/intraday/list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationRankingIntradayListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Successful Response
      summary: Ranking of stocks' notations using intraday figures.
      tags:
      - stock
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/notation/screener/search:
    post:
      description: |-
        Screener for stocks' notations based on stock-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.

        Currency dependent current figures on company level (see attribute `currentKeyFigures.company.currencyDependent`) or on share instrument level (see attribute `currentKeyFigures.shareInstrument.currencyDependent`) are only returned if the currency (see parameter `currentKeyFigures.company.currencyDependent.currency.isoCode` or parameter `currentKeyFigures.shareInstrument.currencyDependent.currency.isoCode` respectively) are set.

        Parameters for up to three fiscal years might be used in one request, see attribute `reportedKeyFigures`; data is available for the ten most recent completed fiscal years. Estimates are available for the current and two consecutive fiscal years; parameters for all three might be used in one request, see attribute `estimates`. The estimated values are calculated as the average of the most recent estimates provided by all analysts in a fixed time frame of 100 days. Screening and sorting by a currency-dependent attribute is not possible if the currency (see parameter `reportedKeyFigures.currencyDependentKeyFigures.currency.isoCode` and parameter `estimates.currencyDependentEstimates.currency.isoCode` respectively) is not set. If a fiscal year for the data as of the end of a fiscal year (see parameter `reportedKeyFigures.fiscalYear`) or for the estimates (see parameter `estimates.fiscalYear`) has been selected but no currency has been set, the respective data will be returned in the currency in which it was originally reported.

        A specific set of stocks can be restricted to or excluded by using customer-specific instrument or notation selection lists. Such selection lists are set up by FactSet upon request. All identifiers used as parameters must be valid and entitled.
      operationId: post/stock/notation/screener/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationScreenerSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: Successful Response
      summary: Screener for stocks' notations based on stock-specific parameters.
      tags:
      - stock
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
  /stock/notation/screener/valueRanges/get:
    post:
      description: The endpoint returns the possible values and value ranges for the
        parameters used in the endpoint `/stock/notation/screener/search`. It allows
        to request the values and value ranges only for a restricted set of notations
        that match predefined parameters. The functionality may be used to pre-fill
        the values and value ranges of the parameters of the `/stock/notation/screener/search`
        endpoint so that performing a search always leads to a non-empty set of notations.
        If more than one notation of an instrument matches the parameters, and no
        market priority has been specified, only the notation with the highest trading
        volume, averaged over one month, is considered. For more information regarding
        the performance and volatility parameters, see the information available in
        the group description of the `/notation/keyFigures/` endpoints.
      operationId: post/stock/notation/screener/valueRanges/get
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationScreenerValueRangesGetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: Successful Response
      summary: Possible values and value ranges for the parameters used in the endpoint
        `/stock/notation/screener/search`.
      tags:
      - stock
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
    PostCompanyKeyItemsCurrentGetByInstrument200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200'
      description: Successful Response
    PostCompanyKeyItemsFiscalYearListByInstrument200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    PostCompanyEstimatesListByInstrument200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_2'
      description: Successful Response
    GetStockRecommendationAggregateGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_3'
      description: Successful Response
    GetStockRecommendationAggregateHistoryList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_4'
      description: Successful Response
    GetCompanyBoardListByInstrument200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_5'
      description: Successful Response
    GetCompanyBoardOfficerFunctionDeliveryList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_6'
      description: Successful Response
    GetCompanyBoardTypeList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_7'
      description: Successful Response
    GetStockOwnerList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_8'
      description: Successful Response
    GetStockCompositeProfileGetByNotation200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_9'
      description: Successful Response
    PostStockDividendList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_10'
      description: Successful Response
    GetStockDividendTypeList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_11'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkMonth1Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkWeek1Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkYear1Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkMonth3Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkYear3Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkYear5Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    GetStockNotationKeyFiguresBenchmarkMonth6Get200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_12'
      description: Successful Response
    PostStockNotationRankingIntradayList200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_13'
      description: Successful Response
    PostStockNotationScreenerSearch200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_14'
      description: Successful Response
    PostStockNotationScreenerValueRangesGet200Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200_15'
      description: Successful Response
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        exclusiveMaximum: false
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 1.4894159098541704
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 2.027123023002322
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      example:
        isPartial: true
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    PostCompanyKeyItemsCurrentGetByInstrumentRequest:
      example:
        data:
          currency:
            isoCode: EUR
          id: id
        meta:
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          language: language
      properties:
        data:
          $ref: '#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest_data'
        meta:
          $ref: '#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest_meta'
      type: object
    PostCompanyKeyItemsFiscalYearListByInstrumentRequest:
      example:
        data:
          fiscalYears:
            start: 0.8008281904610115
            end: 6.027456183070403
          currency:
            isoCode: EUR
          id: id
        meta:
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          language: language
      properties:
        data:
          $ref: '#/components/schemas/PostCompanyKeyItemsFiscalYearListByInstrumentRequest_data'
        meta:
          $ref: '#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest_meta'
      type: object
    PostCompanyEstimatesListByInstrumentRequest:
      example:
        data:
          fiscalYears:
            start: 0.8008281904610115
            end: 6.027456183070403
          currency:
            isoCode: EUR
          id: id
        meta:
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
      properties:
        data:
          $ref: '#/components/schemas/PostCompanyEstimatesListByInstrumentRequest_data'
        meta:
          $ref: '#/components/schemas/PostCompanyEstimatesListByInstrumentRequest_meta'
      type: object
    PostStockDividendListRequest:
      example:
        data:
          filter:
            period:
              start: 2000-01-23
              end: 2000-01-23
            type:
              id: 0.8008281904610115
          identifier:
            type: idInstrument
            value: value
        meta:
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          language: language
          sort:
          - dividends.dates.announcement
          - dividends.dates.announcement
          - dividends.dates.announcement
          - dividends.dates.announcement
      properties:
        data:
          $ref: '#/components/schemas/PostStockDividendListRequest_data'
        meta:
          $ref: '#/components/schemas/PostStockDividendListRequest_meta'
      required:
      - data
      type: object
    PostStockNotationRankingIntradayListRequest:
      example:
        data:
          market:
            ids:
            - 6.027456183070403
            - 6.027456183070403
            - 6.027456183070403
            - 6.027456183070403
            - 6.027456183070403
            priority:
              ids:
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
              - 1.4658129805029452
          instrumentRestrictionList:
            ids:
            - 5.962133916683182
            - 5.962133916683182
            - 5.962133916683182
          industryClassification:
            ids:
            - 2.3021358869347655
            - 2.3021358869347655
            - 2.3021358869347655
            - 2.3021358869347655
            - 2.3021358869347655
          performance:
            relative:
              maximum:
                inclusive: true
                value: 3.616076749251911
              minimum:
                inclusive: true
                value: 9.301444243932576
          notationRestrictionList:
            ids:
            - 5.637376656633329
            - 5.637376656633329
            - 5.637376656633329
          currency:
            id: 0.8008281904610115
          company:
            country:
              ids:
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
              - 7.061401241503109
          indexMembership:
            useAlternativeNotation: false
            ids:
            - ids
            - ids
            - ids
            - ids
            - ids
          prices:
            quality: DLY
        meta:
          pagination:
            offset: 0.20271230230023218
            limit: 41.45608029883936
          attributes:
          - attributes
          - attributes
          - attributes
          - attributes
          - attributes
          language: language
          sort:
          - trade.performance.absolute
          - trade.performance.absolute
          - trade.performance.absolute
          - trade.performance.absolute
          - trade.performance.absolute
      properties:
        data:
          $ref: '#/components/schemas/PostStockNotationRankingIntradayListRequest_data'
        meta:
          $ref: '#/components/schemas/PostStockNotationRankingIntradayListRequest_meta'
      type: object
    PostStockNotationScreenerSearchRequest:
      example:
        data:
          industryClassification:
            exclude:
              ids:
              - 4.145608029883936
              - 4.145608029883936
              - 4.145608029883936
              - 4.145608029883936
              - 4.145608029883936
            restrict:
              ids:
              - 2.027123023002322
              - 2.027123023002322
              - 2.027123023002322
              - 2.027123023002322
              - 2.027123023002322
          rsiWilder:
            days14:
              maximum:
                inclusive: true
                value: 1.4894159098541704
              minimum:
                inclusive: true
                value: 1.0246457001441578
          stockType:
          - common
          - common
          recommendation:
            consensus:
              change:
                week1:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                month1:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                months3:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                months6:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                year1:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
              range:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
            counts:
              total:
                maximum:
                  inclusive: true
                  value: 6.438423552598547
                minimum:
                  inclusive: true
                  value: 9.018348186070783
          volatility:
            week1:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            month1:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            yearToDate:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            months3:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            months6:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            years5:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            years3:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            year1:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
          tradingValue:
            average:
              days30:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              days5:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
          benchmark:
            correlation:
              week1:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              month1:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              months3:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              months6:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              years5:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              years3:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              year1:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
            type: local
            outperformance:
              week1:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              month1:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              months3:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              months6:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              years5:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              years3:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              year1:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
            beta:
              week1:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              month1:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              months3:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              months6:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              years5:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              years3:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              year1:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
          reportedKeyFigures:
          - operatingMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            ebitdaMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            returnOnAssets:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            netIncomeMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            returnOnEquity:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            currencyDependentKeyFigures:
              perShare:
                bookValue:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                dividends:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                recurringDilutedEarnings:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                cashFlow:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                sales:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
              marketCapitalization:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              ebit:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              currency:
                isoCode: EUR
              ebitda:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
            fiscalYear:
              year: 1.1730742509559433
              yearEnd: 7.457744773683766
            ebitMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            ratios:
              enterpriseValueEbitda:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceFreeCashFlow:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceEarnings:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              enterpriseValueEbit:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              enterpriseValueSales:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceSales:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              debtEquity:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceBookValue:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              dividendYield:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              priceCashFlow:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
            grossIncomeMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
          - operatingMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            ebitdaMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            returnOnAssets:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            netIncomeMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            returnOnEquity:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            currencyDependentKeyFigures:
              perShare:
                bookValue:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                dividends:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                recurringDilutedEarnings:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                cashFlow:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
                sales:
                  maximum:
                    inclusive: true
                    value: 1.4894159098541704
                  minimum:
                    inclusive: true
                    value: 1.0246457001441578
              marketCapitalization:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              ebit:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              currency:
                isoCode: EUR
              ebitda:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
            fiscalYear:
              year: 1.1730742509559433
              yearEnd: 7.457744773683766
            ebitMargin:
              maximum:
                inclusive: true
                value: 5.025004791520295
              minimum:
                inclusive: true
                value: 4.965218492984954
            ratios:
              enterpriseValueEbitda:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceFreeCashFlow:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceEarnings:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              enterpriseValueEbit:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              enterpriseValueSales:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceSales:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              debtEquity:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              priceBookValue:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
                  inclusive: true
                  value: 1.0246457001441578
              dividendYield:
                maximum:
                  inclusive: true
                  value: 5.025004791520295
                minimum:
                  inclusive: true
                  value: 4.965218492984954
              priceCashFlow:
                maximum:
                  inclusive: true
                  value: 1.4894159098541704
                minimum:
[...]
