openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    FactSet Benchmarks API gives access to Index Constituents, Prices, Returns, and Ratios. For a sample list of identifiers, use the /metrics endpoint. Equity Only - Fixed Income Benchmark support coming soon.
  title: FactSet Benchmarks API
  version: 1.4.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /factset-benchmarks/v1/constituents:
    get:
      description: "Returns the requested Benchmark Constituents and respective Weights,\
        \ Price and Market Value. You must be authorized for the `ids` requested.\
        \ Use the helper endpoint **/id-list** for valid identifiers.  \n"
      operationId: getBenchmarkConstituents
      parameters:
      - description: Benchmark Identifiers. Reference the helper endpoint **/id-list**
          to get a sample list of  valid identifiers. You must be authorized for the
          `ids` requested, otherwise you will receive an error. <p>***ids limit**
          =  1 per request*</p>
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1
          minItems: 1
          type: array
        style: form
      - description: Date of holding expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Currency for response.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Benchmark Constituent id SPY-US:
                  $ref: '#/components/examples/resultofBenchmarkIDSPY-US'
              schema:
                $ref: '#/components/schemas/benchmarkConstituentsResponse'
          description: Benchmark data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the requested Benchmark Constituents and respective Weights,
        Price and Market Value.
      tags:
      - Benchmark Constituents
      x-accepts: application/json
    post:
      description: |
        Returns the requested Benchmark Constituents and respective Weights, Price and Market Value. You must be authorized for the `ids` requested. Use the helper endpoint **/id-list** for valid identifiers.
      operationId: getBenchmarkConstituentsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/benchmarkConstituentsRequest'
        description: Requests Benchmark Constituents for the given identifier and
          date.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Benchmark Constituent SPY-US:
                  $ref: '#/components/examples/resultofBenchmarkIDSPY-US'
              schema:
                $ref: '#/components/schemas/benchmarkConstituentsResponse'
          description: Benchmark data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the requested Benchmark Constituents and respective Weights,
        Price and Market Value.
      tags:
      - Benchmark Constituents
      x-contentType: application/json
      x-accepts: application/json
  /factset-benchmarks/v1/fixed-income-constituents:
    get:
      description: |
        Returns the requested Fixed Income Benchmark Constituents and respective Weights, Price and Market Value. You must be authorized for the `ids` requested.
      operationId: getFIBenchmarkConstituents
      parameters:
      - description: Fixed Income Benchmark Identifiers. You must be authorized for
          the `ids` requested, otherwise you will receive an error. <p>***ids limit**
          =  1 per request*</p>
        example: LHMN0001
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1
          minItems: 1
          type: array
        style: form
      - description: Date of holding expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Currency for response.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fixedIncomeBenchmarkConstituentsResponse'
          description: Fixed Income Constituent data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the requested Fixed Income Benchmark Constituents and respective
        Weights, Price and Market Value.
      tags:
      - Benchmark Constituents
      x-accepts: application/json
    post:
      description: |
        Returns the requested Fixed Income Benchmark Constituents and respective Weights, Price and Market Value. You must be authorized for the `ids` requested.
      operationId: getFIBenchmarkConstituentsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedIncomeBenchmarkConstituentsRequest'
        description: Requests Fixed Income Benchmark Constituents for the given identifier
          and date.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fixedIncomeBenchmarkConstituentsResponse'
          description: Fixed Income Constituent data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the requested Benchmark Constituents and respective Weights,
        Price and Market Value.
      tags:
      - Benchmark Constituents
      x-contentType: application/json
      x-accepts: application/json
  /factset-benchmarks/v1/index-snapshot:
    get:
      description: |
        Retrieves Index Level Prices and Returns information as of a specific date. Simply submit a valid Benchmark ID (you can use the /id-list endpoint for a sample list of ids), and date and retrieve Index Level Prices, Returns, and related information.
      operationId: getIndexSnapshot
      parameters:
      - description: Benchmark Identifiers. Reference the helper endpoint **/id-list**
          to get a sample list of  valid identifiers. <p>***ids limit** =  500 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of ids, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 500
          minItems: 1
          type: array
        style: form
      - description: Date of holding expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: The return type adjustment used in returns response items. Adjustment
          can be made for GROSS and NET dividends that will be included in the return
          calculation. The service will default to GROSS.
        explode: true
        in: query
        name: returnType
        required: false
        schema:
          default: GROSS
          enum:
          - GROSS
          - NET
          type: string
        style: form
      - description: Currency for response.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Index Level Prices and Returns snapshot for S&P 500 and Russell 3000 as of 2020-08-06:
                  $ref: '#/components/examples/resultofIndexSnapshotMultiple'
              schema:
                $ref: '#/components/schemas/indexSnapshotResponse'
          description: An array of Index Level Prices and Returns information as of
            a single date
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Index Level Prices, Returns, and related information as of a single
        date.
      tags:
      - Index Level
      x-accepts: application/json
    post:
      description: |
        Retrieves Index Level Prices and Returns information as aligned with FactSet's Benchmark Data Feed solution. Simply submit a valid Benchmark ID (you can use the /id-list endpoint for a sample list of ids), and date and retrieve Index Level Prices, Returns, and related information.
      operationId: getIndexSnapshotForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/indexSnapshotRequest'
        description: Requests the Index Level Snapshot for a requested list of identifiers
          and specified date.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Index Level Prices and Returns snapshot for S&P 500 and Russell 3000 as of 2020-08-06:
                  $ref: '#/components/examples/resultofIndexSnapshotMultiple'
              schema:
                $ref: '#/components/schemas/indexSnapshotResponse'
          description: An array of Index Level Prices and Returns information as of
            a single date.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieves the Index Level Snapshot of Prices and Returns information
        for a given identifier and single date.
      tags:
      - Index Level
      x-contentType: application/json
      x-accepts: application/json
  /factset-benchmarks/v1/index-history:
    get:
      description: |
        Retrieves Index Level Prices and Returns information as of a date range requested. Simply submit a valid Benchmark ID (you can use the /id-list endpoint for a sample list of ids), and date range to retrieve Index Level Prices, Returns, and related information.
      operationId: getIndexHistory
      parameters:
      - description: Benchmark Identifiers. Reference the helper endpoint **/id-list**
          to get a sample list of  valid identifiers. <p>***ids limit** =  500 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of ids, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 500
          minItems: 1
          type: array
        style: form
      - description: Requested start date expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: Requested End Date for Range expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - AY
          - CY
          type: string
        style: form
      - description: The return type adjustment used in returns response items. Adjustment
          can be made for GROSS and NET dividends that will be included in the return
          calculation. The service will default to GROSS.
        explode: true
        in: query
        name: returnType
        required: false
        schema:
          default: GROSS
          enum:
          - GROSS
          - NET
          type: string
        style: form
      - description: Currency for response.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Index Level Prices and Returns snapshot for S&P 500 and Russell 3000 from 2020-08-05 to 2020-08-06:
                  $ref: '#/components/examples/resultofIndexHistoryMultiple'
              schema:
                $ref: '#/components/schemas/indexHistoryResponse'
          description: An array of Index Level Prices and Returns information for
            a requested date range.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieves Index Level Prices and Returns information for a list of
        identifiers and historical date range.
      tags:
      - Index Level
      x-accepts: application/json
    post:
      description: |
        Retrieves Index Level Prices and Returns information as aligned with FactSet's Benchmark Data Feed solution. Simply submit a valid Benchmark ID (you can use the /id-list endpoint for a sample list of ids), and date and retrieve Index Level Prices, Returns, and related information.
      operationId: getIndexHistoryForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/indexHistoryRequest'
        description: Requests Index Level History Prices and Returns for a list of
          identifiers and specified date range.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Index Level Prices and Returns snapshot for S&P 500 and Russell 3000 from 2020-08-05 to 2020-08-06:
                  $ref: '#/components/examples/resultofIndexHistoryMultiple'
              schema:
                $ref: '#/components/schemas/indexHistoryResponse'
          description: An array of Index Level Prices and Returns information for
            a requested date range.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieves Index Level Prices and Returns information for a list of
        identifiers and historical date range.
      tags:
      - Index Level
      x-contentType: application/json
      x-accepts: application/json
  /factset-benchmarks/v1/ratios:
    get:
      description: |
        Retrieves the index level ratios for a requested benchmark. Ratios supported are expressed through metrics parameter, and include Categories of Profitability, Valuation, Coverage, and Leverage. <p> Using FactSet Market Aggregates, the service combines fundamental, estimates, and pricing content to derive ratios and per share values for global equity market indexes and commercial benchmark vendors. The constituents of the index are fetched on rolling basis over time period requested, and then the metric requested is aggregated up to the index level. To learn more about FMA, visit [OA 15778](https://my.apps.factset.com/oa/pages/15778).</p>
      operationId: getBenchmarkRatios
      parameters:
      - description: Benchmark Identifiers. Reference the helper endpoint **/id-list**
          to get a sample list of  valid identifiers. <p>***ids limit** =  500 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of ids, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 500
          minItems: 1
          type: array
        style: form
      - description: |
          Requested List of  FactSet Market Aggregates (FMA) or ratios. provided the below complete metrics list.
          |metric item|Description|category|periodicity
          |:---|:---|:---|:---|
          |GROSS_MARGIN|Gross Margin|Profitability (%)|NTMA, LTMA, STMA, LTM, QTR, 0, 1, 2
          |OPER_INC_SALES|Operating Margin|Profitability (%)|LTM, QTR
          |NET_MGN|Net Margin|Profitability (%)|NTMA, LTMA, STMA, LTM, QTR, 0, 1, 2
          |EBIT_MARGIN|EBIT Margin|Profitability (%)| NTMA, LTMA, STMA, LTM, QTR, 0, 1, 2
          |EBITDA_MARGIN|EBITDA Margin|Profitability (%)|NTMA, LTMA, STMA, LTM, QTR, 0, 1, 2
          |ROA|Return on Assets|Profitability (%)|LTM
          |ROE|Return on Equity|Profitability (%)|NTMA, LTMA, LTM, 0, 1, 2
          |ROIC|Return on Invested Capital|Profitability (%)| LTM
          |FCF_MGN|Free Cash Flow Margin|Profitability (%)|LTM, QTR
          |PE|Price/Earnings|Valuation|NTMA, LTMA, STMA, LTM, QTR, 0, 1, 2
          |PEX|Price/Earnings (excl negatives)|Valuation|LTM
          |PSALES|Price/Sales|Valuation|NTMA, LTMA, STMA, LTM, QTR, 0, 1, 2
          |PBK|Price/Book Value|Valuation|NTMA, LTMA, LTM, 0, 1, 2
          |PCF|Price/Cash Flow|Valuation|NTMA, LTMA, LTM, 0, 1, 2
          |PCFX|Price/Cash Flow (excl negatives)|Valuation|LTM
          |PFCF|Price/Free Cash Flow|Valuation|NTMA, LTMA, LTM, 0, 1, 2
          |EVAL_EBIT|Enterprise Value/EBIT|Valuation|NTMA, LTMA, LTM, 0, 1, 2
          |EVAL_EBITDA|Enterprise Value/EBITDA|Valuation|NTMA, LTMA, LTM, 0, 1, 2
          |EVAL_SALES|Enterprise Value/Sales|Valuation|NTMA, LTMA, LTM, 0, 1, 2
          |NDEBT_EBITDA|Net Debt/EBITDA|Coverage|NTMA, LTMA, LTM, 0, 1, 2
          |NDEBT_EBITDA_MIN_CAPEX|Net Debt/(EBITDA-Capex)|Coverage|LTM
          |DEBT_EBITDA|Total Debt/EBITDA|Coverage|LTM
          |DEBT_EBIT|Total Debt/EBIT|Coverage|LTM
          |EBIT_INT_EXP|EBIT/Interest Expense (Int. Coverage)|Coverage|LTM
          |EBITDA_INT_EXP|EBITDA/Interest Expense|Coverage|LTM
          |OPER_CF_INT_EXP|CFO/Interest Expense|Coverage|LTM
          |LTD_EBITDA|LT Debt/EBITDA|Coverage|LTM
          |NDEBT_FFO|Net Debt/FFO|Coverage|LTM
          |LTD_FFO|LT Debt/FFO|Coverage|LTM
          |FCF_DEBT|FCF/Total Debt|Coverage|LTM
          |OPER_CF_DEBT|CFO/Total Debt|Coverage|LTM
          |LTD_EQ|LT Debt/Total Equity|Leverage(%)|LTM
          |LTD_TCAP|LT Debt/Total Capital|Leverage(%)|LTM
          |LTD_ASSETS|LT Debt/Total Assets|Leverage(%)|LTM
          |DEBT_ASSETS|Total Debt/Total Assets|Leverage(%)|LTM
          |DEBT_EQ|Total Debt/Total Equity|Leverage(%)|LTM
          |NDEBT_TCAP|Net Debt/Total Capital|Leverage(%)|LTM
          |DEBT_TCAP|Total Debt/Total Capital|Leverage(%)|LTM
          |<p>***metrics limit** =  38 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        examples:
          Single Metric:
            summary: LTD_EQ
            value:
            - LTD_EQ
          Multiple Metrics:
            summary: PEX, LTD_EQ, DEBT_EQ
            value:
            - PEX
            - LTD_EQ
            - DEBT_EQ
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          example:
          - PEX
          - LTD_EQ
          - DEBT_EQ
          items:
            type: string
          maxItems: 38
          minItems: 1
          type: array
        style: form
      - description: Requested start date expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: Requested End Date for Range expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Monthly:
            summary: M - Monthly - based on the last trading day of the month.
            value: M
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Calendar Quarterly:
            summary: CQ - Calendar Quarterly - based on the last day of the week of
              the startDate
            value: CQ
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
          Calendar Annual:
            summary: CY - Calendar Annual - based on the last trading day of the calendar
              year.
            value: CY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - AY
          - CY
          type: string
        style: form
      - description: |
          The calculation periodicity for the aggregated period. **Note** - Not all periodicities are supported for each metric, depending on the type of ratio. LTM is set as default and supported for all metrics. See Metrics Parameter for additional detail on which periodicities are available per metric.
          |Periodicity| Description|
          |:---|:---|
          |LTM| Last Twelve Months
          |LTMA| Last Twelve Months using Broker Actuals for Estimated Items
          |STMA| Second Twelve Month Forward
          |NTMA| 12 Month Forward
          |0| Latest Reported Calendar Year
          |1| Current Unreported Year
          |2| Following Year
          |QTR| Quarterly - Reported by companies
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: LTM
          enum:
          - LTM
          - LTMA
          - STMA
          - NTMA
          - "0"
          - "1"
          - "2"
          - QTR
          type: string
        style: form
      - description: Currency for response.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                All Index Level Ratios for S&P 500 as of latest year end:
                  $ref: '#/components/examples/allRatiosSP50'
              schema:
                $ref: '#/components/schemas/benchmarkRatiosResponse'
          description: Benchmark Ratio data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the aggregated ratios of a requested benchmark
      tags:
      - Index Level
      x-accepts: application/json
    post:
      description: |
        Retrieves the index level ratios for a requested benchmark. Ratios supported are expressed through metrics parameter, and include Categories of Profitability, Valuation, Coverage, and Leverage. <p> Using FactSet Market Aggregates, the service combines FactSet Fundamental, FactSet Estimates, and FactSet Pricing content to derive ratios and per share values for global equity market indexes and commercial benchmark vendors. The constituents of the index are fetched on rolling basis over time period requested, and then the metric requested is aggregated up to the index level. To learn more about FMA, visit [OA 15778](https://my.apps.factset.com/oa/pages/15778).</p>
      operationId: getBenchmarkRatiosForList
      requestBody:
        content:
          application/json:
            examples:
              Requesting all Index Level Ratios:
                $ref: '#/components/examples/allRatiosRequest'
            schema:
              $ref: '#/components/schemas/benchmarkRatiosRequest'
        description: Requests benchmark ratios for a given id
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                All Index Level Ratios for S&P 500 as of latest year end:
                  $ref: '#/components/examples/allRatiosSP50'
              schema:
                $ref: '#/components/schemas/benchmarkRatiosResponse'
          description: Benchmark Ratio Response Items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the aggregated ratios of a requested benchmark
      tags:
      - Index Level
      x-contentType: application/json
      x-accepts: application/json
  /factset-benchmarks/v1/id-list:
    get:
      description: Returns a **sample** list of Benchmark Identifiers to use in other
        Benchmark API endpoints. This is a supporting API to be use alongside the
        other Benchmark API endpoints. For example, use the fsymID value returned
        in this response as the input to your `ids` parameter in the /constituents
        endpoint to return constituents for that id.<p> *This is not the full list
        of benchmark ids allowed in this service, but rather a representation of the
        most commonly requested. For complete assistance with ID lookup or concordance
        services, please reach out to FactSet Support. *</p>
      operationId: getBenchmarkIds
      parameters:
      - description: |
          Highest Level Filter to search by common Benchmark Families, such as S&P, MSCI, or Russell. This will retrieve all related benchmark ids. For further filtering, use the response items such as the categoryDescription field. Leave blank if you wish to see a full sample list of ids. requested-
          * **CHINA & HK INDICES** - Major Hong Kong and China Indices, such as Hang Seng Index (HSI-HKX)
          * **DOW JONES** - Dow Jones Global, Regions, Countries, Titans.
          * **FACTSET MARKET INDICES** - Regional and Country Indices defined by FactSet
          * **FTSE** - FTSE Global, UK, Global All Cap, World, Xinhua, European, GWA, JSE, Multinationals, and Style indices
          * **GLOBAL INDICES** - A mix of major indices across the globe.
          * **MSCI** - MSCI All Country, Asia Pacific, Thematic & Strategy, Emerging, Developed, US.
          * **RUSSELL** - US, Global, and Nomura.
          * **S&P** - US, ASX, Select Industry, BMI, Global, Thematic, Emerging, TSX.
          * **STOXX** - Total Market, Europe, and Nordic
          * **TOPIX** - Topix Indices, such as TOPIX 500 (182301)
        explode: true
        in: query
        name: familyFilter
        required: false
        schema:
          enum:
          - CHINA_HK_INDICES
          - DOW_JONES
          - FACTSET_MARKET_INDICES
          - FTSE
          - GLOBAL_INDICES
          - MSCI
          - RUSSELL
          - SP
          - STOXX
          - TOPIX
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Benchmark Constituent SPY-US:
                  $ref: '#/components/examples/resultofBenchmarkID-TOPIX'
              schema:
                $ref: '#/components/schemas/benchmarkIdListResponse'
          description: List of sample Benchmark Ids
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns a sample list of Benchmark Identifiers and the benchmark categorization
        to use in other Benchmark API endpoints.
      tags:
      - Helper
      x-accepts: application/json
    post:
      description: Returns a **sample** list of Benchmark Identifiers to use in other
        Benchmark API endpoints. This is a supporting API to be use alongside the
        other Benchmark API endpoints. For example, use the fsymID value returned
        in this response as the input to your `ids` parameter in the /constituents
        endpoint to return constituents for that id.<p> *This is not the full list
        of benchmark ids allowed in this service, but rather a representation of the
        most commonly requested. For complete assistance with ID lookup or concordance
        services, please reach out to FactSet Support.*</p>
      operationId: getBenchmarkIdsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/benchmarkIdListRequest'
        description: Requests a sample list of identifiers that can be used in other
          Benchmarks API endpoints.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Result of Benchmark Constituent SPY-US:
                  $ref: '#/components/examples/resultofBenchmarkID-TOPIX'
              schema:
                $ref: '#/components/schemas/benchmarkIdListResponse'
          description: List of sample Benchmark Ids
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - More Than One Benchmark Identifier:
                  $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns a sample list of Benchmark Identifiers and the benchmark categorization
        to use in other Benchmark API endpoints.
      tags:
      - Helper
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    resultofBenchmarkIDSPY-US:
      description: |
        This is the list of all constituents that make up the SPDR S&P 500 ETF (SPY-US) as of 2020-07-01. The ETF is used as a proxy for S&P 500 Benchmark. To limit the response size of specification file, only first 10 items are shown.
      summary: Result of Benchmark Constituent Id SPY-US (only first 10 records for
        example purpose).
      value:
        data:
        - adjHolding: 0.89521
          adjMarketValue: 304.908526
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: F07Q7W-R
          fsymSecurityId: TKPJVY-S
          price: 340.6
          requestId: SPY-US
          unadjHolding: 0.89521
          weightClose: 0.092687242574555
        - adjHolding: 15.456894
          adjMarketValue: 1168.69575534
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: MKC1SV-R
          fsymSecurityId: K6TLGQ-S
          price: 75.61
          requestId: SPY-US
          unadjHolding: 15.456894
          weightClose: 0.355264539145919
        - adjHolding: 3.212757
          adjMarketValue: 277.35731181
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: RFPMVX-R
          fsymSecurityId: C8QZP6-S
          price: 86.33
          requestId: SPY-US
          unadjHolding: 3.212757
          weightClose: 0.084312120677006
        - adjHolding: 1.164754
          adjMarketValue: 156.34492942
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: JWH12W-R
          fsymSecurityId: TLPSG8-S
          price: 134.23
          requestId: SPY-US
          unadjHolding: 1.164754
          weightClose: 0.047526320724968
        - adjHolding: 6.780214
          adjMarketValue: 178.18402392
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: LY653H-R
          fsymSecurityId: Q0KPX4-S
          price: 26.28
          requestId: SPY-US
          unadjHolding: 6.780214
          weightClose: 0.0541650509569
        - adjHolding: 5.847468
          adjMarketValue: 261.14792088
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: FS32CR-R
          fsymSecurityId: D1QS87-S
          price: 44.66
          requestId: SPY-US
          unadjHolding: 5.847468
          weightClose: 0.079384728948003
        - adjHolding: 0.874856
          adjMarketValue: 256.8139788
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: CN7T72-R
          fsymSecurityId: C0SZHB-S
          price: 293.55
          requestId: SPY-US
          unadjHolding: 0.874856
          weightClose: 0.078067280905002
        - adjHolding: 3.484578
          adjMarketValue: 242.178171
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: X0N4MP-R
          fsymSecurityId: D506QF-S
          price: 69.5
          requestId: SPY-US
          unadjHolding: 3.484578
          weightClose: 0.073618232904839
        - adjHolding: 0.90688
          adjMarketValue: 539.5210496
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: V9977J-R
          fsymSecurityId: JPYYTB-S
          price: 594.92
          requestId: SPY-US
          unadjHolding: 0.90688
          weightClose: 0.164005641476728
        - adjHolding: 2.505859
          adjMarketValue: 855.62555555
          currency: USD
          date: 2021-03-08
          fsymId: SPY-US
          fsymRegionalId: KC6WDM-R
          fsymSecurityId: BV8916-S
          price: 341.45
          requestId: SPY-US
          unadjHolding: 2.505859
          weightClose: 0.260096280220945
    resultofBenchmarkID-TOPIX:
      description: Result of requesting a sample list of using familyFilter set to
        TOPIX. Each fsymId represents a unique Benchmark Id that can be used in other
        benchmark endpoints.
      summary: The list of Benchmark Ids under the family TOPIX
      value:
        data:
        - fsymId: "180511"
          name: Tokyo Stock Exchange 2nd Section
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "152470"
          name: Tokyo Stock Exchange Mothers
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "152471"
          name: Tokyo Stock Exchange REIT
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "180460"
          name: TOPIX
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "182297"
          name: TOPIX 100
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "152469"
          name: TOPIX 1000
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "182301"
          name: TOPIX 500
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "182295"
          name: TOPIX Core 30
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "182296"
          name: TOPIX Large 70
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "180710"
          name: TOPIX Large Cap
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "182300"
          name: TOPIX Mid 400
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "180711"
          name: TOPIX Mid Cap
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "182302"
          name: TOPIX Small
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: "180712"
          name: TOPIX Small Cap
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
    resultofIndexSnapshotMultiple:
      description: The Price and Returns of S&P 500 and Russell 3000 as of 2020-08-06
      summary: Index Snapshot of Prices and Returns for Two Companies as of 2020-08-06
      value:
        data:
        - constituentNumber: 505
          currency: LOCAL
          date: 2020-08-06
          fsymId: SP50
          marketValue: 2.7696158012077E7
          name: S&P 500
          price: 3349.15600690205
          priceReturnPercent1D: 0.642620385795123
          priceReturnPercentQTD: 8.02735451465131
          priceReturnPercentYTD: 3.66394447660916
          requestId: SP50
          returnType: GROSS
          totalReturnLevel: 6870.86168040129
          totalReturnPercent1D: 0.653957589855003
          totalReturnPercentQTD: 8.17415047623613
          totalReturnPercentYTD: 4.84152796547426
        - constituentNumber: 3000
          currency: LOCAL
          date: 2020-08-06
          fsymId: R.3000
          marketValue: 3.29544097735481E7
          name: Russell 3000
          price: 3596.989378
          priceReturnPercent1D: 0.502392266457519
          priceReturnPercentQTD: 8.22378331718046
          priceReturnPercentYTD: 3.47683663855225
          requestId: R.3000
          returnType: GROSS
          totalReturnLevel: 10597.086657
          totalReturnPercent1D: 0.513265793869122
          totalReturnPercentQTD: 8.35826463942657
          totalReturnPercentYTD: 4.59191053652597
    resultofIndexHistoryMultiple:
      description: The Price and Returns history for the S&P 500 and Russell 3000
        from 2020-08-05 to 2020-08-06
      summary: Index History Prices and Returns for Two Companies over two days
      value:
        data:
        - currency: LOCAL
          date: 2020-08-05
          fsymId: SP50
          marketValue: 2.75193132948137E7
          name: S&P 500
          price: 3327.77107160334
          priceReturnPercent: 0.643080929116979
          requestId: SP50
          returnType: GROSS
          totalReturnLevel: 6826.22108948631
          totalReturnPercent: 0.643080929117001
        - currency: LOCAL
          date: 2020-08-06
          fsymId: SP50
          marketValue: 2.7696158012077E7
          name: S&P 500
          price: 3349.15600690205
          priceReturnPercent: 0.642620385795123
          requestId: SP50
          returnType: GROSS
          totalReturnLevel: 6870.86168040129
          totalReturnPercent: 0.653957589855003
        - currency: LOCAL
          date: 2020-08-05
          fsymId: R.3000
          marketValue: 3.27887607030179E7
          name: Russell 3000
          price: 3579.008715
          priceReturnPercent: 0.751585489130235
          requestId: R.3000
          returnType: GROSS
          totalReturnLevel: 10542.973182
          totalReturnPercent: 0.751900743100942
        - currency: LOCAL
          date: 2020-08-06
          fsymId: R.3000
          marketValue: 3.29544097735481E7
          name: Russell 3000
          price: 3596.989378
          priceReturnPercent: 0.502392266457519
          requestId: R.3000
          returnType: GROSS
          totalReturnLevel: 10597.086657
          totalReturnPercent: 0.513265793869122
    allRatiosRequest:
      description: |
        Requesting all available index level ratios for S&P 500 on LTM basis as of latest calendar year end
      summary: Requesting all available index level ratios for S&P 500 on LTM basis
        as of latest calendar year end
      value:
        ids:
        - SP50
        periodicity: LTM
        metrics:
        - GROSS_MARGIN
        - OPER_INC_SALES
        - NET_MGN
        - EBIT_MARGIN
        - EBITDA_MARGIN
        - ROA
        - ROE
        - ROIC
        - FCF_MGN
        - PE
        - PEX
        - PSALES
        - PBK
        - PCF
        - PCFX
        - PFCF
        - EVAL_EBIT
        - EVAL_EBITDA
        - EVAL_SALES
        - NDEBT_EBITDA
        - NDEBT_EBITDA_MIN_CAPEX
        - DEBT_EBITDA
        - DEBT_EBIT
        - EBIT_INT_EXP
        - EBITDA_INT_EXP
        - OPER_CF_INT_EXP
        - LTD_EBITDA
        - NDEBT_FFO
        - LTD_FFO
        - FCF_DEBT
        - OPER_CF_DEBT
        - LTD_EQ
        - LTD_TCAP
        - LTD_ASSETS
        - DEBT_ASSETS
        - DEBT_EQ
        - NDEBT_TCAP
        - DEBT_TCAP
        frequency: CY
    allRatiosSP50:
      description: |
        The response of requesting all available Index Level Ratios on a Last Twelve-Month basis as of latest calendar year end.
      summary: Result of Fetching all avialable Index Level LTM Ratios for the S&P
        500
      value:
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: GROSS_MARGIN
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 31.9792508103446
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: OPER_INC_SALES
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 14.1443835805019
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: NET_MGN
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 10.6712678960164
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EBIT_MARGIN
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 13.9233219620531
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EBITDA_MARGIN
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 20.2564469882192
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: ROA
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 3.57523339824615
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: ROE
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 16.4002812973854
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: ROIC
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 8.89427850180667
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: FCF_MGN
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 11.7909348774282
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PE
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 21.5977805004107
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PEX
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 21.0620470124885
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PSALES
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 2.30475701679242
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PBK
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 3.54209675605922
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PCF
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 12.9919258671496
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PCFX
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 12.7987467084674
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: PFCF
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 19.6190668285358
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EVAL_EBIT
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 20.6321659086833
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EVAL_EBITDA
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 14.0500792506603
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EVAL_SALES
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 2.80945955717182
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: NDEBT_EBITDA
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 1.79159020571431
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: NDEBT_EBITDA_MIN_CAPEX
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 2.7472833444278
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: DEBT_EBITDA
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 2.56510943570962
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: DEBT_EBIT
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 3.76679465697695
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EBIT_INT_EXP
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 7.11304856820085
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: EBITDA_INT_EXP
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 10.4497127870097
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: OPER_CF_INT_EXP
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 8.84109224468855
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: LTD_EBITDA
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 2.25145309045414
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: NDEBT_FFO
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 208.398439260982
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: LTD_FFO
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 262.009129565082
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: FCF_DEBT
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 18.426933255696
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: OPER_CF_DEBT
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 31.8745985665069
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: LTD_EQ
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 81.639940142797
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: LTD_TCAP
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 42.2975432060763
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: LTD_ASSETS
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 27.8191040539674
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: DEBT_ASSETS
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 31.6946627066638
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: DEBT_EQ
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 93.0134328265381
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: NDEBT_TCAP
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 33.6582025424296
      - currency: USD
        date: 2019-12-31
        fsymId: SP50
        metric: DEBT_TCAP
        name: S&P 500
        periodicity: LTM
        requestId: SP50
        value: 48.1901344711744
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        status: Bad Request
        timestamp: 2020-07-02 11:52:36.464
        path: /factset-benchmarks/v1/{endpoint}
        message: 'The date parameter must be in the following date format: YYYY-MM-DD'
        subErrors: null
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        status: Bad Request
        timestamp: 2020-06-30 13:22:09.053
        path: /factset-benchmarks/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestFutureDate:
      description: This error message occurs when a future date is requested in the
        date parameters. Please revise your request to include dates as of today's
        current date or any prior historical date.
      summary: Bad Request - Future Date
      value:
        status: Bad Request
        timestamp: 2020-06-30 13:38:36.528
        path: /factset-benchmarks/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please
          revise your request to include dates up to today's current date.
        subErrors: null
    badRequestMoreThanOneBenchmarkIdentifier:
      description: This error message occurs when user is passing more than one identifier
        as an input.
      summary: Bad Request - More Than One Benchmark Identifier
      value:
        status: Bad Request
        timestamp: 2020-07-02 12:37:52.731
        path: /factset-benchmarks/v1/constituents
        message: You submitted 2 ids. The max number of ids you may submit is 1. Please
          try again with fewer ids.
        subErrors: null
    badRequestInvalidParameters:
      description: This error message occurs when user is passing Invalid Identifier.
        Please use the helper endpoint */id-list* for sample Benchmark Identifiers.
      summary: Bad Request - Passing invalid Benchmark Identifier
      value:
        status: Forbidden
        timestamp: 2020-07-10 15:01:43.634
        path: /factset-benchmarks/v1/constituents
        message: User is not authorized for the id requested, please reach out to
          FactSet for support
        subErrors: null
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON. But is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        status: Bad Request
        timestamp: 2020-07-02 11:59:09.649
        path: /factset-benchmarks/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        status: Bad Request
        timestamp: 2020-07-02 16:18:38.949
        path: /factset-benchmarks/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        status: User Authentication Failed
        timestamp: 2020-07-02 16:08:07.945
        path: /factset-benchmarks/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint/ID which
        is not authorized to access. The request was a legal request, but the server
        is refusing to respond. Please reach out to FactSet Account Team for assistance
        with authorization.
      summary: Forbidden
      value:
        status: Forbidden
        timestamp: 2020-07-02 17:21:52.197
        path: /factset-benchmarks/v1/{endpoint}
        message: User is not authorized for the id requested, please reach out to
          FactSet for support
        subErrors: null
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        status: Unsupported Media Type
        timestamp: 2020-07-02 09:42:27.237
        path: /factset-benchmarks/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        status: Internal Server Error
        timestamp: 2019-11-05 09:48:29.18
        path: /factset-benchmarks/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        status: Internal Server Error
        timestamp: 2019-11-01 10:36:01.944
        path: /factset-benchmarks/v1/{endpoint}
        message: Unexpected error
        subErrors: null
  parameters:
    constituentIds:
      description: Benchmark Identifiers. Reference the helper endpoint **/id-list**
        to get a sample list of  valid identifiers. You must be authorized for the
        `ids` requested, otherwise you will receive an error. <p>***ids limit** =  1
        per request*</p>
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 1
        minItems: 1
        type: array
      style: form
    fIConstituentIds:
      description: Fixed Income Benchmark Identifiers. You must be authorized for
        the `ids` requested, otherwise you will receive an error. <p>***ids limit**
        =  1 per request*</p>
      example: LHMN0001
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 1
        minItems: 1
        type: array
[...]
