openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: License info
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Entity Report Builder
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-fundamentals-report-builder-api
servers:
- url: https://api.factset.com/report/financials/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Relates to Financials/Fundamental Data
  name: Financials
paths:
  /balance-sheet:
    get:
      description: Returns a standardized Balance Sheet based on industry.
      operationId: getFinancialsBalanceSheet
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: INTERIM
          enum:
          - ANN
          - QTR
          - SEMI
          - INTERIM
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      - description: "Return historical periods as originally reported or retroactively\
          \ restated (for M&A, accounting changes, and other events). The following\
          \ are descriptions for the accepted values:\n- RESTATED - retroactively\
          \ restated data.\n- NON-RESTATED - originally reported data. \n"
        explode: true
        in: query
        name: reportStatus
        required: false
        schema:
          default: RESTATED
          enum:
          - RESTATED
          - NON-RESTATED
          type: string
        style: form
      - description: |
          Currency code for currency values. "LOCAL" will return the security's pricing currency. "RPT" will return the company's reporting currency (which may differ from "LOCAL" for some companies). For a list of other currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
                parameterErrorReportStatus:
                  $ref: '#/components/examples/parameterErrorReportStatus'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Balance Sheet
      tags:
      - Financials
      x-accepts: application/json
  /cash-flow:
    get:
      description: Returns a standardized Cash Flow based on industry.
      operationId: getFinancialsCashFlow
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: INTERIM
          enum:
          - ANN
          - QTR
          - SEMI
          - INTERIM
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      - description: "Return historical periods as originally reported or retroactively\
          \ restated (for M&A, accounting changes, and other events). The following\
          \ are descriptions for the accepted values:\n- RESTATED - retroactively\
          \ restated data.\n- NON-RESTATED - originally reported data. \n"
        explode: true
        in: query
        name: reportStatus
        required: false
        schema:
          default: RESTATED
          enum:
          - RESTATED
          - NON-RESTATED
          type: string
        style: form
      - description: |
          Currency code for currency values. "LOCAL" will return the security's pricing currency. "RPT" will return the company's reporting currency (which may differ from "LOCAL" for some companies). For a list of other currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
                parameterErrorReportStatus:
                  $ref: '#/components/examples/parameterErrorReportStatus'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Cash Flow
      tags:
      - Financials
      x-accepts: application/json
  /income-statement:
    get:
      description: Returns a standardized Income Statement based on industry.
      operationId: getFinancialsIncomeStatement
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: INTERIM
          enum:
          - ANN
          - QTR
          - SEMI
          - INTERIM
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      - description: "Return historical periods as originally reported or retroactively\
          \ restated (for M&A, accounting changes, and other events). The following\
          \ are descriptions for the accepted values:\n- RESTATED - retroactively\
          \ restated data.\n- NON-RESTATED - originally reported data. \n"
        explode: true
        in: query
        name: reportStatus
        required: false
        schema:
          default: RESTATED
          enum:
          - RESTATED
          - NON-RESTATED
          type: string
        style: form
      - description: |
          Currency code for currency values. "LOCAL" will return the security's pricing currency. "RPT" will return the company's reporting currency (which may differ from "LOCAL" for some companies). For a list of other currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
                parameterErrorReportStatus:
                  $ref: '#/components/examples/parameterErrorReportStatus'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            Api-Supported-Versions:
              description: Supported API major versions
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Income Statement
      tags:
      - Financials
      x-accepts: application/json
components:
  examples:
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - code: endpointNotFound
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: The requested endpoint does not exist.
    genericServerError:
      summary: generic server error
      value:
        errors:
        - code: genericServerError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: Unexpected error processing request
    groupLevelResponse:
      description: Subset of rows and columns for an example response
      summary: (sample table group level columns response)
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  period1:
                    items:
                      reportStatus:
                        value: NON-RESTATED
                  period2:
                    items:
                      reportStatus:
                        value: NON-RESTATED
                rows:
                - cells:
                  - null
                  - May' 20
                  - Aug' 19
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 0
                      source: HEADERS
                    "2":
                      columnIndex: 0
                      source: HEADERS
                  rowType: Header
                - cells:
                  - null
                  - "20200529"
                  - "20190830"
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: HEADERS
                    "2":
                      columnIndex: 1
                      source: HEADERS
                  rowType: Header
                - cellDetails:
                    "0":
                      groupLevel: 0
                  cells:
                  - Sales
                  - 1474.804
                  - 1435.351
                  rowMetadata:
                    category:
                      value: MAIN
                    scale:
                      value: 6
                - cellDetails:
                    "0":
                      groupLevel: 1
                  cells:
                  - EPS (diluted)
                  - 9.7077
                  - 9.0754
                  rowMetadata:
                    category:
                      value: DETAIL
                    scale:
                      value: 0
                - cellDetails:
                    "0":
                      groupLevel: 2
                  cells:
                  - Diluted Shares Outstanding
                  - 38.481
                  - 38.873
                  rowMetadata:
                    category:
                      value: MAIN
                    scale:
                      value: 6
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: period1
                  type: real
                - id: period2
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS
          schema: table_group_level
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter(s): ''id'''
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Missing required parameter(s): ''id'''
    notAuthorized:
      summary: not authorized
      value:
        errors:
        - code: notAuthorized
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: User is forbidden access with current credentials. For access, contact
            your FactSet sales representative
    parameterErrorPeriodicity:
      summary: periodicity parameter error
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter: ''periodicity'''
    parameterErrorReportStatus:
      summary: reportStatus parameter error
      value:
        errors:
        - code: parameterError
          id: 39314614-e607-465a-ba95-5bb79c362e23
          title: 'Invalid parameter: ''reportStatus'''
    parentChildColumnsResponse:
      description: Subset of rows and columns for an example response
      summary: (sample table parent child columns response)
      value:
        data:
          tables:
            main:
              data:
                columnMetadata:
                  period1:
                    items:
                      reportStatus:
                        value: NON-RESTATED
                  period2:
                    items:
                      reportStatus:
                        value: NON-RESTATED
                rows:
                - cells:
                  - null
                  - null
                  - null
                  - null
                  - May' 20
                  - Aug' 19
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 0
                      source: HEADERS
                    "5":
                      columnIndex: 0
                      source: HEADERS
                  rowType: Header
                - cells:
                  - null
                  - null
                  - null
                  - null
                  - "20200529"
                  - "20190830"
                  headerCellDetails:
                    "0":
                      columnIndex: 0
                      source: PRIMARY
                    "1":
                      columnIndex: 1
                      source: PRIMARY
                    "2":
                      columnIndex: 2
                      source: PRIMARY
                    "3":
                      columnIndex: 3
                      source: PRIMARY
                    "4":
                      columnIndex: 0
                      source: HEADERS
                    "5":
                      columnIndex: 0
                      source: HEADERS
                  rowType: Header
                - cells:
                  - Sales
                  - null
                  - null
                  - null
                  - 1474.804
                  - 1435.351
                  rowMetadata:
                    category:
                      value: MAIN
                    metricFundamentals:
                      value: FF_SALES
                    scale:
                      value: 6
                - cells:
                  - Per Share
                  - EPS (diluted)
                  - null
                  - null
                  - 9.7077
                  - 9.0754
                  rowMetadata:
                    category:
                      value: DETAIL
                    metricFundamentals:
                      value: FF_EPS_DIL
                    scale:
                      value: 0
                - cells:
                  - Per Share
                  - EPS (diluted)
                  - Diluted Shares Outstanding
                  - null
                  - 38.481
                  - 38.873
                  rowMetadata:
                    category:
                      value: MAIN
                    metricFundamentals:
                      value: FF_COM_SHS_OUT_EPS_DIL
                    scale:
                      value: 6
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: lineItemChild1
                  isDimension: true
                  parentId: lineItem
                  type: string
                - id: lineItemChild2
                  isDimension: true
                  parentId: lineItemChild1
                  type: string
                - id: lineItemChild3
                  isDimension: true
                  parentId: lineItemChild2
                  type: string
                - id: period1
                  type: real
                - id: period2
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
          version: "2.0"
        meta:
          fsymId: SQFMK3-R
          requestId: FDS
          schema: table_parent_child_columns
  parameters:
    currencyParameter:
      description: |
        Currency code for currency values. "LOCAL" will return the security's pricing currency. "RPT" will return the company's reporting currency (which may differ from "LOCAL" for some companies). For a list of other currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470).
      explode: true
      in: query
      name: currency
      required: false
      schema:
        default: LOCAL
        type: string
      style: form
    idParameter:
      description: Company Ticker
      explode: true
      in: query
      name: id
      required: true
      schema:
        example: FDS
        type: string
      style: form
    periodicityParameter:
      description: Periodicity or frequency of the fiscal periods.
      explode: true
      in: query
      name: periodicity
      required: false
      schema:
        default: INTERIM
        enum:
        - ANN
        - QTR
        - SEMI
        - INTERIM
        - CAL
        type: string
      style: form
    reportStatusParameter:
      description: "Return historical periods as originally reported or retroactively\
        \ restated (for M&A, accounting changes, and other events). The following\
        \ are descriptions for the accepted values:\n- RESTATED - retroactively restated\
        \ data.\n- NON-RESTATED - originally reported data. \n"
      explode: true
      in: query
      name: reportStatus
      required: false
      schema:
        default: RESTATED
        enum:
        - RESTATED
        - NON-RESTATED
        type: string
      style: form
    schemaParameter:
      description: |
        The schema that the data is returned as. The following are descriptions for the accepted values:
        - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
        - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
      explode: true
      in: query
      name: schema
      required: false
      schema:
        default: table_parent_child_columns
        enum:
        - table_group_level
        - table_parent_child_columns
        type: string
      style: form
  responses:
    "200OKStach":
      content:
        application/json:
          examples:
            groupLevelResponse:
              $ref: '#/components/examples/groupLevelResponse'
            parentChildColumnsResponse:
              $ref: '#/components/examples/parentChildColumnsResponse'
          schema:
            $ref: '#/components/schemas/Response'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        Api-Supported-Versions:
          description: Supported API major versions
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "400BadRequest":
      content:
        application/json:
          examples:
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            parameterErrorPeriodicity:
              $ref: '#/components/examples/parameterErrorPeriodicity'
            parameterErrorReportStatus:
              $ref: '#/components/examples/parameterErrorReportStatus'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        Api-Supported-Versions:
          description: Supported API major versions
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "401Unauthorized":
      description: Missing or invalid authentication. Ensure you are logged in and
        have successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or 403
        Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key
        from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "403Forbidden":
      content:
        application/json:
          examples:
            notAuthorized:
              $ref: '#/components/examples/notAuthorized'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: User is forbidden access with current credentials. Reach out to
        your local FactSet Account Manager for assistance, or file an issue under
        "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "404NotFound":
      content:
        application/json:
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "429TooManyRequests":
      description: Too many requests - this API is rate-limited to 20 requests per
        second. For further assistance, file an issue under "Workflow & Throttling
        - 400 or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "500InternalServerError":
      content:
        application/json:
          examples:
            genericServerError:
              $ref: '#/components/examples/genericServerError'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Server error. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "503ServiceUnavailable":
      description: Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an issue
        under "Performance - 404 and 500 Responses" using `Report Issue` at the top
        of this page, including the X-DataDirect-Request-Key from the header to assist
        in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    ErrorObject:
      description: Schema describing an API error
      properties:
        code:
          description: A common or API-specific error code.
          type: string
        detail:
          description: A human-readable explanation specific to the occurrence of
            the problem.
          type: string
        id:
          description: A UUID for this particular ocurrence of the problem.  This
            will be logged for debugging.
          type: string
        links:
          $ref: '#/components/schemas/ErrorObject_links'
        source:
          $ref: '#/components/schemas/ErrorObject_source'
        title:
          description: A short, human-readable summary of the problem.  This should
            not change from occurrence to occurrence of the problem
          type: string
      type: object
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
        meta:
          additionalProperties:
            nullable: true
            type: string
          type: object
      type: object
    Meta:
      additionalProperties:
        nullable: true
        type: string
      type: object
    Response:
      example:
        data: '{}'
        meta:
          key: meta
      properties:
        data:
          description: Returns a STACH 2.0 row organized package
          title: STACH
          type: object
        meta:
          additionalProperties:
            nullable: true
            type: string
          type: object
      type: object
    ErrorObject_links:
      description: An object with a member "about" containing a link that leads to
        further details about the problem.
      properties:
        about:
          description: Link to further details about the problem
          type: string
      type: object
    ErrorObject_source:
      description: An object containing references to the source of the error, optionally
        including additional members
      properties:
        parameter:
          description: A string indicating which path or URI query parameter caused
            the error
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

