openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    FactSet Revere Geographic Revenue ("GeoRev") Exposure data provides a highly structured and normalized display of companies’ revenues by geography. Using a four level taxonomy structure, understand the companies' Super-Region-->Region-->Area-->Country revenue breakdowns. Quickly understand a company’s revenue exposure in countries impacted by geopolitical, macroeconomic, and market risk. Understand the geographic footprint of a company based on sources of revenue versus country of domicile, and analyze global revenue exposures at the company, index, or portfolio level.<p> Geographic revenue has historically been difficult to analyze due to companies’ non-standard and incomplete reporting. Investors relying solely on this as-reported data are limited in their ability to compare, aggregate or screen exposures across a universe or portfolio of companies. To achieve normalization, FactSet GeoRev captures data through a proprietary four-level geographic classification structure. An estimation algorithm based on GDP weighting and accounting logic is then applied to solve for any non-explicit disclosures. The result is a consistent, accurate, and flexible dataset that can take a company’s revenues and break them down into any geographic country or region categories.</p><p>As markets become more integrated and companies expand operations beyond their domestic markets, GeoRev provides a new and valuable country factor to help investors discover alpha, model risk exposure, optimize portfolio weighting, and improve fund administration and reporting.</p><p>Data Frequency -  Annual; Update Frequency - Daily. 49,000+ Publically Listed Companies. All Russell 3000 and MSCI ACWI Index Consituents. U.S. Data is available from 2003, with Non-US data from 2007. For more details, visit [OA 17555](https://my.apps.factset.com/oa/pages/17555)</p>
  title: FactSet GeoRev API
  version: 1.0.1
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get the Super-Regions, Regions, and Area Revenue breakdowns for a requested
    list of symbols.
  name: Regions
- description: Get the Country Revenue breakdown for all countries
  name: Countries
paths:
  /factset-georev/v1/regions:
    get:
      description: |
        Gets the Geographic Revenue, Percents, Confidence, and Ranks for a requested list of ids and Regions, for a given start-date and end-date. Regions represent a taxonomy of Super Regions, Regions, and Areas, with Super Regions being the largest collection. *Country specific revenue can be requested in the /countries endpoint.*
      operationId: getRegions
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  300 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 300
          minItems: 1
          type: array
        style: form
      - description: |
          The Regional Identifier or Regional Group. Groups include "SUPER_REGIONS", "REGIONS", and "AREAS". When requesting a group, all regionIds within that group will be requested. To limit or specify select regions returned in the response, provide a comma-separated list of the below regionIds.
          |Regional Group|regionId|Descriptions|
          |---|---|---|
          |Group|SUPER_REGIONS|Fetchs all regionIds for Super Regions|
          |Group|REGIONS|Fetchs all regionIds for Regions|
          |Group|AREAS|Fetchs all regionIds for Areas|

          |Level|regionId|Parent|Description|Level|regionId|Parent|Description|
          |---|---|---|---|---|---|---|---|
          |__**Super Region**__||||__**Area**__||||
          |Super Region|R1|R100|Africa and Middle East|Area|R3|R2|Eastern Africa|
          |Super Region|R101|R100|Americas|Area|R18|R2|Southern Africa|
          |Super Region|R170|R100|Asia/Pacific|Area|R45|R2|Western Africa|
          |Super Region|R274|R100|Europe|Area|R69|R68|Central Middle East|
          |Super Region|R349|R100|Non-Disclosed Revenue|Area|R87|R68|Eastern Middle East|
          |Super Region|R354|R100|No Operations|Area|R97|R68|Western Middle East|
          |Super Region|R393|R100|Non-Geographic Revenue|Area|R103|R102|Caribbean|
          |__**Region**__||||Area|R135|R102|Central America|
          |Region|R2|R1|Africa|Area|R145|R102|South America|
          |Region|R68|R1|Middle East|Area|R165|R164|Other North America|
          |Region|R102|R101|Latin America|Area|R167|R164|United States and Canada|
          |Region|R164|R101|North America|Area|R172|R171|Far East|
          |Region|R171|R170|Asia|Area|R219|R171|Indian Region|
          |Region|R233|R170|Oceania|Area|R234|R233|Australia and New Zealand|
          |Region|R275|R274|European Union|Area|R237|R233|Pacific Islands|
          |Region|R314|R274|Non-European Union|Area|R276|R275|Eastern European Union|
          |Region|R350|R349|Region Unspecified|Area|R286|R275|Northern European Union|
          |Region|R355|R354|Non-Operating Region|Area|R292|R275|Southern European Union|
          |Region|R394|R393|Non-Geographic Revenue Region|Area|R298|R275|Western European Union|
          |Region|R398|R1|Africa and Middle East Unallocated Region|Area|R315|R314|Eastern Non-European Union|
          |Region|R401|R170|Asia/Pacific Unallocated Region|Area|R323|R314|Northern Non-European Union|
          |Region|R404|R101|Americas Unallocated Revenue Region|Area|R328|R314|Southern Non-European Union|
          |Region|R407|R274|Europe Unallocated Region|Area|R340|R314|Western Non-European Union|
          |||||Area|R351|R350|Area Unspecified|
          |||||Area|R356|R355|Non-Operating Area|
          |||||Area|R395|R394|Non-Geographic Revenue Area|
          |||||Area|R399|R398|Africa and Middle East Unallocated Area|
        example:
        - R101
        - R171
        - R167
        explode: false
        in: query
        name: regionIds
        required: false
        schema:
          default:
          - SUPER_REGIONS
          items:
            type: string
          maxItems: 15
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity and updated Daily. If left blank, the API will default to latest available fiscal period. Future dates (T+1) are not accepted in this endpoint.
        example: 2018-12-31
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity and updated daily. If left blank, the API will default to latest available fiscal period. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **W** = Weekly, based on the last day of the week of the\
          \ start date.\n  * **M** = Monthly, based on the last trading day of the\
          \ month.\n  * **AM** = Monthly, based on the start date (e.g., if the start\
          \ date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n\
          \  * **CQ** = Quarterly based on the last trading day of the calendar quarter\
          \ (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of\
          \ the company.\n  * **AY** = Actual Annual, based on the start date.\n \
          \ * **CY** = Calendar Annual, based on the last trading day of the calendar\
          \ year.\n  * **FY** = Fiscal Annual, based on the last trading day of the\
          \ company's fiscal year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: FY
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          - ""
          type: string
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionResponse'
          description: The Region response object, including the Revenue, Percent,
            Certainty Ranks, Certainty Class, and other meta data.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the revenue details for the requested Regions
      tags:
      - Regions
      x-accepts: application/json
    post:
      description: |
        Gets the Geographic Revenue, Percents, Confidence, and Ranks for a requested list of ids and Regions, for a given start-date and end-date. Regions represent a taxonomy of Super Regions, Regions, and Areas, with Super Regions being the largest collection. *Country specific revenue can be requested in the /countries endpoint.*
      operationId: getRegionsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/regionRequest'
        description: The Region request body, allowing the user to specify a list
          of ids, time range, and regionIds.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regionResponse'
          description: The Region response object, including the Revenue, Percent,
            Certainty Ranks, Certainty Class, and other meta data.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the revenue details for the requested Regions. Use for large lists
        of company ids.
      tags:
      - Regions
      x-contentType: application/json
      x-accepts: application/json
  /factset-georev/v1/countries:
    get:
      description: |
        Gets the **Countries'** Geographic Revenue, Percents, Confidence, and Ranks for a requested list of ids and country ISO codes, for a given start-date and end-date. 300 countries are supported. Countries represent the fourth and bottom level of the GeoRev taxonomy. Visit [OA 8754](https://my.apps.factset.com/oa/pages/8754) for a list of ISO2 Country Codes. By default, the service will return all Countries for the requested security.
      operationId: getCountries
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  300 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 300
          minItems: 1
          type: array
        style: form
      - description: |
          The Country ISO2 Codes representing the Country requested. By default, the service will request *ALL* Countries. To limit the Countries returned in the response, provide a comma-separated list of the ISO2 Country Codes. Visit [OA 8754](https://my.apps.factset.com/oa/pages/8754) for a full list of ISO2 codes.
        example:
        - US
        - CN
        explode: false
        in: query
        name: countryIds
        required: false
        schema:
          default:
          - ALL
          items:
            type: string
          maxItems: 300
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity and updated Daily. If left blank, the API will default to latest available fiscal period. Future dates (T+1) are not accepted in this endpoint.
        example: 2018-12-31
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity and updated daily. If left blank, the API will default to latest available fiscal period. Future dates (T+1) are not accepted in this endpoint.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **W** = Weekly, based on the last day of the week of the\
          \ start date.\n  * **M** = Monthly, based on the last trading day of the\
          \ month.\n  * **AM** = Monthly, based on the start date (e.g., if the start\
          \ date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n\
          \  * **CQ** = Quarterly based on the last trading day of the calendar quarter\
          \ (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of\
          \ the company.\n  * **AY** = Actual Annual, based on the start date.\n \
          \ * **CY** = Calendar Annual, based on the last trading day of the calendar\
          \ year.\n  * **FY** = Fiscal Annual, based on the last trading day of the\
          \ company's fiscal year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: FY
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
          - ""
          type: string
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/countryResponse'
          description: The Country response object, including the Revenue, Percent,
            Certainty Ranks, Certainty Class, and other meta data.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the revenue details for the requested Countries.
      tags:
      - Countries
      x-accepts: application/json
    post:
      description: |
        Gets the **Countries'** Geographic Revenue, Percents, Confidence, and Ranks for a requested list of ids and country ISO codes, for a given start-date and end-date. Nearly 300 countries are supported. Countries represent the fourth and bottom level of the GeoRev taxonomy. The full list of countries and their related regional mappings can be found by using the /country-mappings endpoint or visit [OA 8754](https://my.apps.factset.com/oa/pages/8754) for a list of ISO2 Country codes.
      operationId: getCountriesForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/countryRequest'
        description: The Country request body, allowing the user to specify a list
          of ids, time range, and regionIds.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/countryResponse'
          description: The Country response object, including the Revenue, Percent,
            Certainty Ranks, Certainty Class, and other meta data.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the revenue details for the requested Countries. Use for large
        lists of ids.
      tags:
      - Countries
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        status: Bad Request
        timestamp: 2019-10-31 16:08:07.945
        path: /factset-georev/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format:
          YYYY-MM-DD'
        subErrors: null
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:48:42.016
        path: /factset-georev/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestFutureDate:
      description: This error message occurs when a future date is requested in the
        startDate and endDate parameters. Please revise your request to include dates
        as of today's current date or any prior historical date.
      summary: Bad Request - Future Date
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:52:48.091
        path: /factset-georev/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please
          revise your request to include dates up to today's current date.
        subErrors: null
    badRequestInvalidParameters:
      description: This error message occurs when a request parameter is used in which
        is not recognized by the service. Please revise your request to include only
        the parameters listed in the specification. Typical causes are spelling mistakes
        and use of improper casing.
      summary: Bad Request - Invalid Parameters
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:58:54.068
        path: /factset-georev/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
          modify your request to use parameters outlined in the specification for
          this endpoint.'
        subErrors: null
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON, but is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        status: Bad Request
        timestamp: 2019-11-05 09:48:29.18
        path: /factset-georev/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        status: Bad Request
        timestamp: 2019-11-04 16:18:38.949
        path: /factset-georev/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        status: User Authentication Failed
        timestamp: 2019-10-31 16:08:07.945
        path: /factset-georev/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        status: Forbidden
        timestamp: 2020-06-12 16:08:51.731
        path: /factset-georev/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-georev /v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        status: Unsupported Media Type
        timestamp: 2019-11-05 09:42:27.237
        path: /factset-georev/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        status: Internal Server Error
        timestamp: 2019-11-05 09:48:29.18
        path: /factset-georev/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        status: Internal Server Error
        timestamp: 2019-11-01 10:36:01.944
        path: /factset-georev/v1/{endpoint}
        message: Unexpected error
        subErrors: null
  parameters:
    ids:
      description: |
        Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  300 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneId:
          summary: One Market Identifier
          value:
          - AAPL-USA
        multipleIds:
          summary: Multiple Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 300
        minItems: 1
        type: array
      style: form
    startDate:
      description: |
        The start date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity and updated Daily. If left blank, the API will default to latest available fiscal period. Future dates (T+1) are not accepted in this endpoint.
      example: 2018-12-31
      explode: true
      in: query
      name: startDate
      required: false
      schema:
        type: string
      style: form
    endDate:
      description: |
        The end date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity and updated daily. If left blank, the API will default to latest available fiscal period. Future dates (T+1) are not accepted in this endpoint.
      example: 2019-12-31
      explode: true
      in: query
      name: endDate
      required: false
      schema:
        type: string
      style: form
    currency:
      description: 'Currency code for adjusting the data. For a list of currency ISO
        codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
      example: USD
      explode: true
      in: query
      name: currency
      required: false
      schema:
        type: string
      style: form
    regionIds:
      description: |
        The Regional Identifier or Regional Group. Groups include "SUPER_REGIONS", "REGIONS", and "AREAS". When requesting a group, all regionIds within that group will be requested. To limit or specify select regions returned in the response, provide a comma-separated list of the below regionIds.
        |Regional Group|regionId|Descriptions|
        |---|---|---|
        |Group|SUPER_REGIONS|Fetchs all regionIds for Super Regions|
        |Group|REGIONS|Fetchs all regionIds for Regions|
        |Group|AREAS|Fetchs all regionIds for Areas|

        |Level|regionId|Parent|Description|Level|regionId|Parent|Description|
        |---|---|---|---|---|---|---|---|
        |__**Super Region**__||||__**Area**__||||
        |Super Region|R1|R100|Africa and Middle East|Area|R3|R2|Eastern Africa|
        |Super Region|R101|R100|Americas|Area|R18|R2|Southern Africa|
        |Super Region|R170|R100|Asia/Pacific|Area|R45|R2|Western Africa|
        |Super Region|R274|R100|Europe|Area|R69|R68|Central Middle East|
        |Super Region|R349|R100|Non-Disclosed Revenue|Area|R87|R68|Eastern Middle East|
        |Super Region|R354|R100|No Operations|Area|R97|R68|Western Middle East|
        |Super Region|R393|R100|Non-Geographic Revenue|Area|R103|R102|Caribbean|
        |__**Region**__||||Area|R135|R102|Central America|
        |Region|R2|R1|Africa|Area|R145|R102|South America|
        |Region|R68|R1|Middle East|Area|R165|R164|Other North America|
        |Region|R102|R101|Latin America|Area|R167|R164|United States and Canada|
        |Region|R164|R101|North America|Area|R172|R171|Far East|
        |Region|R171|R170|Asia|Area|R219|R171|Indian Region|
        |Region|R233|R170|Oceania|Area|R234|R233|Australia and New Zealand|
        |Region|R275|R274|European Union|Area|R237|R233|Pacific Islands|
        |Region|R314|R274|Non-European Union|Area|R276|R275|Eastern European Union|
        |Region|R350|R349|Region Unspecified|Area|R286|R275|Northern European Union|
        |Region|R355|R354|Non-Operating Region|Area|R292|R275|Southern European Union|
        |Region|R394|R393|Non-Geographic Revenue Region|Area|R298|R275|Western European Union|
        |Region|R398|R1|Africa and Middle East Unallocated Region|Area|R315|R314|Eastern Non-European Union|
        |Region|R401|R170|Asia/Pacific Unallocated Region|Area|R323|R314|Northern Non-European Union|
        |Region|R404|R101|Americas Unallocated Revenue Region|Area|R328|R314|Southern Non-European Union|
        |Region|R407|R274|Europe Unallocated Region|Area|R340|R314|Western Non-European Union|
        |||||Area|R351|R350|Area Unspecified|
        |||||Area|R356|R355|Non-Operating Area|
        |||||Area|R395|R394|Non-Geographic Revenue Area|
        |||||Area|R399|R398|Africa and Middle East Unallocated Area|
      example:
      - R101
      - R171
      - R167
      explode: false
      in: query
      name: regionIds
      required: false
      schema:
        default:
        - SUPER_REGIONS
        items:
          type: string
        maxItems: 15
        minItems: 1
        type: array
      style: form
    countryIds:
      description: |
        The Country ISO2 Codes representing the Country requested. By default, the service will request *ALL* Countries. To limit the Countries returned in the response, provide a comma-separated list of the ISO2 Country Codes. Visit [OA 8754](https://my.apps.factset.com/oa/pages/8754) for a full list of ISO2 codes.
      example:
      - US
      - CN
      explode: false
      in: query
      name: countryIds
      required: false
      schema:
        default:
        - ALL
        items:
          type: string
        maxItems: 300
        minItems: 1
        type: array
      style: form
    frequency:
      description: "Controls the display frequency of the data returned.\n  * **D**\
        \ = Daily\n  * **W** = Weekly, based on the last day of the week of the start\
        \ date.\n  * **M** = Monthly, based on the last trading day of the month.\n\
        \  * **AM** = Monthly, based on the start date (e.g., if the start date is\
        \ June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ**\
        \ = Quarterly based on the last trading day of the calendar quarter (March,\
        \ June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n\
        \  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar\
        \ Annual, based on the last trading day of the calendar year.\n  * **FY**\
        \ = Fiscal Annual, based on the last trading day of the company's fiscal year.\n\
        \  \n"
      explode: true
      in: query
      name: frequency
      required: false
      schema:
        default: FY
        enum:
        - D
        - W
        - M
        - AM
        - CQ
        - FQ
        - AY
        - CY
        - FY
        - ""
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "message" for more details.
    "401":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
    "415":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Internal Server Error.
  schemas:
    regionRequest:
      description: Region Request Body
      properties:
        ids:
          description: |
            Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  300 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
          example:
          - AAPL-USA
          items:
            type: string
          maxItems: 300
          minItems: 1
          type: array
        regionIds:
          default:
          - SUPER_REGIONS
          description: |
            The Regional Identifier or Regional Group. Groups include "SUPER_REGIONS", "REGIONS", and "AREAS". When requesting a group, all regionIds within that group will be requested. To limit or specify select regions returned in the response, provide a comma-separated list of the below regionIds.
            |Regional Group|regionId|Descriptions|
            |---|---|---|
            |Group|SUPER_REGIONS|Fetchs all regionIds for Super Regions|
            |Group|REGIONS|Fetchs all regionIds for Regions|
            |Group|AREAS|Fetchs all regionIds for Areas|

            |Level|regionId|Parent|Description|Level|regionId|Parent|Description|
            |---|---|---|---|---|---|---|---|
            |__**Super Region**__||||__**Area**__||||
            |Super Region|R1|R100|Africa and Middle East|Area|R3|R2|Eastern Africa|
            |Super Region|R101|R100|Americas|Area|R18|R2|Southern Africa|
            |Super Region|R170|R100|Asia/Pacific|Area|R45|R2|Western Africa|
            |Super Region|R274|R100|Europe|Area|R69|R68|Central Middle East|
            |Super Region|R349|R100|Non-Disclosed Revenue|Area|R87|R68|Eastern Middle East|
            |Super Region|R354|R100|No Operations|Area|R97|R68|Western Middle East|
            |Super Region|R393|R100|Non-Geographic Revenue|Area|R103|R102|Caribbean|
            |__**Region**__||||Area|R135|R102|Central America|
            |Region|R2|R1|Africa|Area|R145|R102|South America|
            |Region|R68|R1|Middle East|Area|R165|R164|Other North America|
            |Region|R102|R101|Latin America|Area|R167|R164|United States and Canada|
            |Region|R164|R101|North America|Area|R172|R171|Far East|
            |Region|R171|R170|Asia|Area|R219|R171|Indian Region|
            |Region|R233|R170|Oceania|Area|R234|R233|Australia and New Zealand|
            |Region|R275|R274|European Union|Area|R237|R233|Pacific Islands|
            |Region|R314|R274|Non-European Union|Area|R276|R275|Eastern European Union|
            |Region|R350|R349|Region Unspecified|Area|R286|R275|Northern European Union|
            |Region|R355|R354|Non-Operating Region|Area|R292|R275|Southern European Union|
            |Region|R394|R393|Non-Geographic Revenue Region|Area|R298|R275|Western European Union|
            |Region|R398|R1|Africa and Middle East Unallocated Region|Area|R315|R314|Eastern Non-European Union|
            |Region|R401|R170|Asia/Pacific Unallocated Region|Area|R323|R314|Northern Non-European Union|
            |Region|R404|R101|Americas Unallocated Revenue Region|Area|R328|R314|Southern Non-European Union|
            |Region|R407|R274|Europe Unallocated Region|Area|R340|R314|Western Non-European Union|
            |||||Area|R351|R350|Area Unspecified|
            |||||Area|R356|R355|Non-Operating Area|
            |||||Area|R395|R394|Non-Geographic Revenue Area|
            |||||Area|R399|R398|Africa and Middle East Unallocated Area|
          example:
          - R101
          - R101
          - R167
          items:
            type: string
          maxItems: 15
          minItems: 1
          type: array
        startDate:
          description: |
            The start date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity, but updated Daily. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
          example: 2019-01-01
          type: string
        endDate:
          description: |
            The end date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fical Annual periodicity, but updated Daily. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
          example: 2019-12-31
          type: string
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          description: 'Currency code for adjusting the revenue data. For a list of
            currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          type: string
      required:
      - ids
      title: Region Request Body
      type: object
    regionResponse:
      example:
        data:
        - date: 2020-09-30T00:00:00.000+0000
          fsymId: 000C7F-E
          regionName: North America
          fiscalEndDate: 2019-09-30T00:00:00.000+0000
          regionRevenue: 112757.6893875
          regionPercent: 41.129925
          regionConfidence: 0.999924
          reportDate: 2019-09-28T00:00:00.000+0000
          regionId: R164
          requestId: AAPL-US
          regionCertaintyClass: A
          currency: USD
          regionCertaintyRank: 78
        - date: 2020-09-30T00:00:00.000+0000
          fsymId: 000C7F-E
          regionName: North America
          fiscalEndDate: 2019-09-30T00:00:00.000+0000
          regionRevenue: 112757.6893875
          regionPercent: 41.129925
          regionConfidence: 0.999924
          reportDate: 2019-09-28T00:00:00.000+0000
          regionId: R164
          requestId: AAPL-US
          regionCertaintyClass: A
          currency: USD
          regionCertaintyRank: 78
      properties:
        data:
          description: Array of Region Objects
          items:
            $ref: '#/components/schemas/region'
          type: array
      title: Region Response
      type: object
    region:
      example:
        date: 2020-09-30T00:00:00.000+0000
        fsymId: 000C7F-E
        regionName: North America
        fiscalEndDate: 2019-09-30T00:00:00.000+0000
        regionRevenue: 112757.6893875
        regionPercent: 41.129925
        regionConfidence: 0.999924
        reportDate: 2019-09-28T00:00:00.000+0000
        regionId: R164
        requestId: AAPL-US
        regionCertaintyClass: A
        currency: USD
        regionCertaintyRank: 78
      properties:
        date:
          description: Ending date for the period requested expressed in YYYY-MM-DD
            format.
          example: 2020-09-30
          format: date
          type: string
        fsymId:
          description: FactSet Entity Identifier. Six alpha-numeric characters, excluding
            vowels, with a -E suffix (XXXXXX-E).
          example: 000C7F-E
          type: string
        regionId:
          description: Identifier representing the geographic Region.
          example: R164
          type: string
        requestId:
          description: Identifier that was used for the request.
          example: AAPL-US
          type: string
        regionCertaintyClass:
          description: "Designated classes from A (highest) to E (lowest) based on\
            \ `regionCertaintyRank`, where --> \n|Class|Minimum Certainty Rank|Maximum\
            \ Certainty Rank|\n|---|---|---|\n|A|71|80|\n|B|57|70|\n|C|42|56|\n|D|24|41|\n\
            |E|1|23|\n"
          example: A
          type: string
        regionCertaintyRank:
          description: "Indicates the relative reliability of estimates. Ranks are\
            \ based on multiple factors related to the reported information and the\
            \ algorithmic estimation. Ranks range from 1 to 80, with 1 indicating\
            \ the lowest certainty in the estimate, and 80 indicating a reported exposure.\
            \ Certainty Rank factors include - \n* Reporting standards of the country\
            \ where the source annual report/filing was filed\n* A company’s previous\
            \ years’ country-level reporting\n* Reliability of country GDP data\n\
            * Proportion of total report value that must be estimated\n"
          example: 78
          type: integer
        regionConfidence:
          description: |
            Returns the confidence score for the company percentage revenue for the selected geographic area. Confidence score is a measure of how confident we are that our algorithm has done a good job in estimating geographic revenue given the estimation parameters ( GDP, accounting standards, details of data that a company has disclosed,...). Confidence Factors are calculated for all estimated country values, then weighted and aggregated up the geographic tree for areas, regions, and super regions. The confidence factor should not be interpreted as the equivalent of a confidence interval from a statistical sense. The confidence factor is ordinal by nature, and its current range of 0.5000 to 1.0000. A confidence factor of 1.000 indicates that the revenue is an actual, reported, or declared value. **Please see OA page 17555 for more details **.
          example: 0.999924
          format: double
          type: number
        regionName:
          description: The Region Name in proper format, describing the regionId.
          example: North America
          type: string
        regionPercent:
          description: |
            Returns the company percentage revenue for the selected geographic region. Conventional geographic revenue data are difficult to interpret and compare between companies because they are not normalized. Furthermore, these non-normalized geographic revenue data do not provide any exposure estimates on countries and regions that are not explicitly disclosed by the companies. GeoRev answers these two challenges by first mapping companies’ revenues to a normalized geographic taxonomy, and then applying a proprietary algorithm to estimate % revenue exposure to countries and regions that are not explicitly disclosed. Estimates are accompanied by a Confidence Factor, which offers an easy way to distinguish them from actual disclosed values. Please see OA page 17555 for more details.
          example: 41.129925
          format: double
          type: number
        regionRevenue:
          description: "Returns the company revenue for the selected geographic region\
            \ in Millions for the requested currency. Conventional geographic revenue\
            \ data are difficult to interpret and compare between companies because\
            \ they are not normalized. Furthermore, these non-normalized geographic\
            \ revenue data do not provide any exposure estimates on countries and\
            \ regions that are not explicitly disclosed by the companies. GeoRev answers\
            \ these two challenges by first mapping companies’ revenues to a normalized\
            \ geographic taxonomy, and then applying a proprietary algorithm to estimate\
            \ % revenue exposure to countries and regions that are not explicitly\
            \ disclosed. Estimates are accompanied by a Confidence Factor, which offers\
            \ an easy way to distinguish them from actual disclosed values. Please\
            \ see OA page 17555 for more details. \n"
          example: 112757.6893875
          format: double
          type: number
        currency:
          description: The Currency Code representing the Revenue values in the response.
          example: USD
          type: string
        fiscalEndDate:
          description: The latest fully reported fiscal annual period date in YYYY-MM-DD
            format as of the dates requested.
          example: 2019-09-30
          format: date
          type: string
        reportDate:
          description: The Report Date for the latest fully reported fiscal year in
            YYYY-MM-DD format.
          example: 2019-09-28
          format: date
          type: string
      title: Region Object
      type: object
    countryRequest:
      description: Country Request Body
      properties:
        ids:
          description: |
            Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  300 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
          example:
          - AAPL-USA
          items:
            type: string
          maxItems: 300
          minItems: 1
          type: array
        countryIds:
          default:
          - ALL
          description: |
            The Country ISO2 Codes representing the Country requested. By default, the service will request *ALL* Countries. To limit the Countries returned in the response, provide a comma-separated list of the ISO2 Country Codes. Visit [OA 8754](https://my.apps.factset.com/oa/pages/8754) for a full list of ISO2 codes.
          example:
          - US
          - CN
          items:
            type: string
          maxItems: 300
          minItems: 1
          type: array
        startDate:
          description: |
            The start date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity, but updated Daily. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
          example: 2019-01-01
          type: string
        endDate:
          description: |
            The end date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fical Annual periodicity, but updated Daily. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
          example: 2019-12-31
          type: string
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          description: 'Currency code for adjusting the revenue data. For a list of
            currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          type: string
      required:
      - ids
      title: Country Request Body
      type: object
    countryResponse:
      example:
        data:
        - date: 2020-09-30T00:00:00.000+0000
          fsymId: 000C7F-E
          countryCertaintyRank: 80
          fiscalEndDate: 2019-09-30T00:00:00.000+0000
          countryId: US
          countryCertaintyClass: A
          reportDate: 2019-09-28T00:00:00.000+0000
          countryPercent: 9.878022
          requestId: AAPL-US
          countryConfidence: 1
          countryRevenue: 15943.32506844
          currency: USD
          countryName: United States
        - date: 2020-09-30T00:00:00.000+0000
          fsymId: 000C7F-E
          countryCertaintyRank: 80
          fiscalEndDate: 2019-09-30T00:00:00.000+0000
          countryId: US
          countryCertaintyClass: A
          reportDate: 2019-09-28T00:00:00.000+0000
          countryPercent: 9.878022
          requestId: AAPL-US
          countryConfidence: 1
          countryRevenue: 15943.32506844
          currency: USD
          countryName: United States
      properties:
        data:
          description: Array of Country Objects
          items:
            $ref: '#/components/schemas/country'
          type: array
      title: Country Response
      type: object
    country:
      example:
        date: 2020-09-30T00:00:00.000+0000
        fsymId: 000C7F-E
        countryCertaintyRank: 80
        fiscalEndDate: 2019-09-30T00:00:00.000+0000
        countryId: US
        countryCertaintyClass: A
        reportDate: 2019-09-28T00:00:00.000+0000
        countryPercent: 9.878022
        requestId: AAPL-US
        countryConfidence: 1
        countryRevenue: 15943.32506844
        currency: USD
        countryName: United States
      properties:
        date:
          description: Ending date for the period requested expressed in YYYY-MM-DD
            format.
          example: 2020-09-30
          format: date
          type: string
        fsymId:
          description: FactSet Permanent Entity Identifier. Six alpha-numeric characters,
            excluding vowels, with an -E suffix (XXXXXX-E).
          example: 000C7F-E
          type: string
        countryId:
          description: The ISO2 Country Code.
          example: US
          type: string
        requestId:
          description: Identifier that was used for the request.
          example: AAPL-US
          type: string
        countryCertaintyClass:
          description: "Designated classes from A (highest) to E (lowest) based on\
            \ `countryCertaintyRank`, where --> \n|Class|Minimum Certainty Rank|Maximum\
            \ Certainty Rank|\n|---|---|---|\n|A|71|80|\n|B|57|70|\n|C|42|56|\n|D|24|41|\n\
            |E|1|23|\n"
          example: A
          type: string
        countryCertaintyRank:
          description: "Indicates the relative reliability of estimates. Ranks are\
            \ based on multiple factors related to the reported information and the\
            \ algorithmic estimation. Ranks range from 1 to 80, with 1 indicating\
            \ the lowest certainty in the estimate, and 80 indicating a reported exposure.\
            \ Certainty Rank factors include - \n* Reporting standards of the country\
            \ where the source annual report/filing was filed\n* A company’s previous\
            \ years’ country-level reporting\n* Reliability of country GDP data\n\
            * Proportion of total report value that must be estimated\n"
          example: 80
          type: integer
        countryConfidence:
          description: |
            Returns the confidence score for the company percentage revenue for the selected geographic area. Confidence score is a measure of how confident we are that our algorithm has done a good job in estimating geographic revenue given the estimation parameters ( GDP, accounting standards, details of data that a company has disclosed,...). Confidence Factors are calculated for all estimated country values, then weighted and aggregated up the geographic tree for areas, regions, and super regions. The confidence factor should not be interpreted as the equivalent of a confidence interval from a statistical sense. The confidence factor is ordinal by nature, and its current range of 0.5000 to 1.0000. A confidence factor of 1.000 indicates that the revenue is an actual, reported, or declared value. **Please see OA page 17555 for more details **.
          example: 1
          format: double
          type: number
        countryName:
          description: The Country Name in proper format, describing the ISO2 Country
            Code.
          example: United States
          type: string
        countryPercent:
          description: |
            Returns the company percentage revenue for the selected geographic region. Conventional geographic revenue data are difficult to interpret and compare between companies because they are not normalized. Furthermore, these non-normalized geographic revenue data do not provide any exposure estimates on countries and regions that are not explicitly disclosed by the companies. GeoRev answers these two challenges by first mapping companies’ revenues to a normalized geographic taxonomy, and then applying a proprietary algorithm to estimate % revenue exposure to countries and regions that are not explicitly disclosed. Estimates are accompanied by a Confidence Factor, which offers an easy way to distinguish them from actual disclosed values. Please see OA page 17555 for more details.
          example: 9.878022
          format: double
          type: number
        countryRevenue:
          description: |
            Returns the company revenue for the selected geographic region. Conventional geographic revenue data are difficult to interpret and compare between companies because they are not normalized. Furthermore, these non-normalized geographic revenue data do not provide any exposure estimates on countries and regions that are not explicitly disclosed by the companies. GeoRev answers these two challenges by first mapping companies’ revenues to a normalized geographic taxonomy, and then applying a proprietary algorithm to estimate % revenue exposure to countries and regions that are not explicitly disclosed. Estimates are accompanied by a Confidence Factor, which offers an easy way to distinguish them from actual disclosed values. Please see OA page 17555 for more details.
          example: 15943.32506844
          format: double
          type: number
        currency:
          description: The Currency Code representing the Revenue values in the response.
          example: USD
          type: string
        fiscalEndDate:
          description: The latest fully reported fiscal annual period date in YYYY-MM-DD
            format as of the dates requested.
          example: 2019-09-30
          format: date
          type: string
        reportDate:
          description: The Report Date for the latest fully reported fiscal year in
            YYYY-MM-DD format.
          example: 2019-09-28
          format: date
          type: string
      title: Country Object
      type: object
    ids:
      description: |
        Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  300 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      example:
      - AAPL-USA
      items:
        type: string
      maxItems: 300
      minItems: 1
      type: array
    startDate:
      description: |
        The start date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fiscal Annual periodicity, but updated Daily. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
      example: 2019-01-01
      type: string
    endDate:
      description: |
        The end date requested for a given date range in **YYYY-MM-DD** format. Data is available on a Fical Annual periodicity, but updated Daily. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
      example: 2019-12-31
      type: string
    currency:
      description: 'Currency code for adjusting the revenue data. For a list of currency
        ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
      example: USD
      type: string
    regionIds:
      default:
      - SUPER_REGIONS
      description: |
        The Regional Identifier or Regional Group. Groups include "SUPER_REGIONS", "REGIONS", and "AREAS". When requesting a group, all regionIds within that group will be requested. To limit or specify select regions returned in the response, provide a comma-separated list of the below regionIds.
        |Regional Group|regionId|Descriptions|
        |---|---|---|
        |Group|SUPER_REGIONS|Fetchs all regionIds for Super Regions|
        |Group|REGIONS|Fetchs all regionIds for Regions|
        |Group|AREAS|Fetchs all regionIds for Areas|

        |Level|regionId|Parent|Description|Level|regionId|Parent|Description|
        |---|---|---|---|---|---|---|---|
        |__**Super Region**__||||__**Area**__||||
        |Super Region|R1|R100|Africa and Middle East|Area|R3|R2|Eastern Africa|
        |Super Region|R101|R100|Americas|Area|R18|R2|Southern Africa|
        |Super Region|R170|R100|Asia/Pacific|Area|R45|R2|Western Africa|
        |Super Region|R274|R100|Europe|Area|R69|R68|Central Middle East|
        |Super Region|R349|R100|Non-Disclosed Revenue|Area|R87|R68|Eastern Middle East|
        |Super Region|R354|R100|No Operations|Area|R97|R68|Western Middle East|
        |Super Region|R393|R100|Non-Geographic Revenue|Area|R103|R102|Caribbean|
        |__**Region**__||||Area|R135|R102|Central America|
        |Region|R2|R1|Africa|Area|R145|R102|South America|
        |Region|R68|R1|Middle East|Area|R165|R164|Other North America|
        |Region|R102|R101|Latin America|Area|R167|R164|United States and Canada|
        |Region|R164|R101|North America|Area|R172|R171|Far East|
        |Region|R171|R170|Asia|Area|R219|R171|Indian Region|
        |Region|R233|R170|Oceania|Area|R234|R233|Australia and New Zealand|
        |Region|R275|R274|European Union|Area|R237|R233|Pacific Islands|
        |Region|R314|R274|Non-European Union|Area|R276|R275|Eastern European Union|
        |Region|R350|R349|Region Unspecified|Area|R286|R275|Northern European Union|
        |Region|R355|R354|Non-Operating Region|Area|R292|R275|Southern European Union|
        |Region|R394|R393|Non-Geographic Revenue Region|Area|R298|R275|Western European Union|
        |Region|R398|R1|Africa and Middle East Unallocated Region|Area|R315|R314|Eastern Non-European Union|
        |Region|R401|R170|Asia/Pacific Unallocated Region|Area|R323|R314|Northern Non-European Union|
        |Region|R404|R101|Americas Unallocated Revenue Region|Area|R328|R314|Southern Non-European Union|
        |Region|R407|R274|Europe Unallocated Region|Area|R340|R314|Western Non-European Union|
        |||||Area|R351|R350|Area Unspecified|
        |||||Area|R356|R355|Non-Operating Area|
        |||||Area|R395|R394|Non-Geographic Revenue Area|
        |||||Area|R399|R398|Africa and Middle East Unallocated Area|
      example:
      - R101
      - R101
      - R167
      items:
        type: string
      maxItems: 15
      minItems: 1
      type: array
    countryIds:
      default:
      - ALL
      description: |
        The Country ISO2 Codes representing the Country requested. By default, the service will request *ALL* Countries. To limit the Countries returned in the response, provide a comma-separated list of the ISO2 Country Codes. Visit [OA 8754](https://my.apps.factset.com/oa/pages/8754) for a full list of ISO2 codes.
      example:
      - US
      - CN
      items:
        type: string
      maxItems: 300
      minItems: 1
      type: array
    frequency:
      default: FY
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **FQ** = Fiscal Quarter of the company.
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - FQ
      - AY
      - CY
      - FY
      - ""
      type: string
    errorResponse:
      properties:
        status:
          description: status
          example: Bad Request
          type: string
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          format: date-time
          type: string
        path:
          description: The Endpoint path {package}/version/{endpoint}
          example: /factset-georev/v1/superRegion
          type: string
        message:
          description: The plain text error message
          example: Validation Error
          type: string
        subErrors:
          $ref: '#/components/schemas/errorResponse_subErrors'
      title: Error Response
      type: object
    errorResponse_subErrors:
      description: subErrors related to the error message. Null if not applicable.
      properties:
        object:
          description: the operation ID
          type: string
        field:
          description: Parameter Field Name
          type: string
        message:
          description: Error message
          type: string
        rejectedValue:
          description: Rejected Values in an Array
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

