openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: "FactSet Mutual Funds and ETFs Reference provides fund-specific reference\
    \ information as well as FactSet's proprietary classification system. It includes\
    \ but is not limited to the following coverage \n  * Fund descriptions \n  * A\
    \ seven-tier classification system\n  * Leverage information\n  * Fees and expenses\
    \ \n  * Portfolio managers \n  \n  FactSet Mutual Funds Time Series provides quantitative\
    \ data items on a historical basis. It includes but is not limited to the following\
    \ coverage \n  * Net asset value\n  * Fund flows \n  * Assets under management\n\
    \  * Total return \n  \n In addition to core reference and time series data, the\
    \ API enables broader fund analytics and workflows, including: \n * Fund summary\
    \ and classification insights such as domicile, structure, segments, and similar\
    \ funds  \n * Performance analytics including historical returns, snapshot returns\
    \ across time horizons, and yield data \n * Cost, fee, and risk metrics including\
    \ expense ratios, regulatory/tax exposure, and risk measures \n * Portfolio exposure\
    \ and analytics including asset allocation, sector weightage, geographic exposure,\
    \ and top holdings  \n * Trading and liquidity characteristics for evaluating\
    \ tradability  \n * ETF-specific scoring and ratings to assess efficiency, tradability,\
    \ and fit relative to benchmarks  \n * Distribution and income data for understanding\
    \ payouts and investor returns \n <p>This API is rate-limited to 10 requests per\
    \ second and 10 concurrent requests per user.\n"
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Funds and ETF API
  version: 3.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-funds-api
servers:
- description: Production
  url: https://api.factset.com/content/factset-funds/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Fund summary information, classification, similar funds, segments,
    asset under management, and flows.
  name: Summary, Segments and Stats
- description: Fund pricing, returns, distributions, and income data.
  name: Prices, Returns, and Distributions
- description: Fund costs, fees, tax exposure, regulatory compliance, and risk measures.
  name: Taxes, Fees and Risks
- description: Fund portfolio composition, sector breakdown, risk analytics, holdings.
  name: Portfolio Exposure and Analysis
- description: Get scoring details for ETF
  name: Scoring
- description: Trading-related characteristics for funds and ETFs
  name: Trading
- description: Screener-specific endpoints for managing and querying content sets.
  name: Screener Operations
paths:
  /summary:
    get:
      description: "Fetch basic reference data for the requested fund(s), including\
        \ `fundDomicile`, `shareClass`, `shareClassLaunchDate`, etc. \n"
      operationId: getFundsSummary
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: Language to be returned for Description, Insight (Overview),
          and Objective attributes, where available. Currently French will be returned
          for U.S. funds when "FR" is passed.
        example: EN
        explode: true
        in: query
        name: lang
        required: false
        schema:
          $ref: '#/components/schemas/Lang'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Summary details for MABAX-US:
                  $ref: '#/components/examples/summariesResponseExample'
              schema:
                $ref: '#/components/schemas/SummariesResponse'
          description: The Fund Summaries response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get basic reference summary data for a Fund.
      tags:
      - Summary, Segments and Stats
      x-accepts: application/json
    post:
      description: "Fetch basic reference data for the requested fund(s), including\
        \ `fundDomicile`, `shareClass`, `shareClassLaunchDate`, etc. \n"
      operationId: getFundsSummaryForList
      requestBody:
        content:
          application/json:
            examples:
              Request for Fund Summary for MABAX and SPY:
                $ref: '#/components/examples/postSummary'
            schema:
              $ref: '#/components/schemas/SummariesRequest'
        description: The Funds Summary request body, allowing the user to specify
          a list of IDs.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Summary details for MABAX-US:
                  $ref: '#/components/examples/summariesResponseExample'
              schema:
                $ref: '#/components/schemas/SummariesResponse'
          description: The Funds Summary response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get basic reference data for a large list of Fund IDs.
      tags:
      - Summary, Segments and Stats
      x-contentType: application/json
      x-accepts: application/json
  /prices:
    get:
      description: Get Fund Prices (NAV) for a requested date range and list of IDs.
      operationId: getFundsPrices
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: The start date requested for a given date range in YYYY-MM-DD
          format. If left blank, the API will default to previous close.Future dates
          (T+1) are not accepted in this endpoint.
        example: 2025-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/StartDate'
        style: form
      - description: The end date requested for a given date range in YYYY-MM-DD format.
          If left blank, the API will default to previous close.Future dates (T+1)
          are not accepted in this endpoint
        example: 2025-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/EndDate'
        style: form
      - description: "Controls the display frequency of the data returned. The supported\
          \ frequencies are:\n  \n- **D**: Daily\n- **W**: Weekly, based on the last\
          \ day of the week of the start date.\n- **M**: Monthly, based on the last\
          \ trading day of the month.\n- **AM**: Monthly, based on the start date\
          \ (e.g., if the start date is June 16, data is displayed for June 16, May\
          \ 16, April 16, etc.).\n- **CQ**: Quarterly, based on the last trading day\
          \ of the calendar quarter (March, June, September, or December).\n- **FQ**:\
          \ Fiscal Quarter of the company.\n- **AY**: Actual Annual, based on the\
          \ start date.\n- **CY**: Calendar Annual, based on the last trading day\
          \ of the calendar year.\n- **FY**: Fiscal Annual, based on the last trading\
          \ day of the company's fiscal year.\n"
        example: M
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - description: The ISO3 currency control for the requested fund. For a list
          of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470)
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      - description: The Data Type of the NAV expressed as Raw or Rolled values.
        example: ROLL
        explode: true
        in: query
        name: dataType
        required: false
        schema:
          $ref: '#/components/schemas/NavDataType'
        style: form
      - description: "Controls the split adjustment of the Fund's NAV - \n  * **SPLIT**\
          \ = Split ONLY Adjusted. This is used by default.\n  * **UNSPLIT** = No\
          \ Adjustments, Controls the split and dividend adjustments for the prices.\n"
        example: SPLIT
        explode: true
        in: query
        name: splitAdjust
        required: false
        schema:
          $ref: '#/components/schemas/SplitAdjust'
        style: form
      - description: The maximum number of records to return. The default is 20.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          example: 100
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before the first record to return.
          The default is 0.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          maximum: 2147483147
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Prices details for MABAX-US:
                  $ref: '#/components/examples/fundPrices'
              schema:
                $ref: '#/components/schemas/FundsPricesResponse'
          description: The Prices response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Prices (NAV) for a requested time-series
      tags:
      - Prices, Returns, and Distributions
      x-accepts: application/json
    post:
      description: "Fetch fund prices (NAV) as of a requested date range and a large\
        \ list of IDs. \n"
      operationId: getFundsPricesForList
      requestBody:
        content:
          application/json:
            examples:
              Request for Fund Prices for MABAX and SPY:
                $ref: '#/components/examples/postPrices'
            schema:
              $ref: '#/components/schemas/FundsPricesRequest'
        description: The Prices request body, allowing the user to specify a list
          of IDs and date ranges.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Prices details for MABAX-US:
                  $ref: '#/components/examples/fundPrices'
              schema:
                $ref: '#/components/schemas/FundsPricesResponse'
          description: The Prices response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Prices (NAV) for a requested date range and large list of
        IDs.
      tags:
      - Prices, Returns, and Distributions
      x-contentType: application/json
      x-accepts: application/json
  /returns:
    get:
      description: 'Get Fund NAV Returns over a time-series for the requested date
        range and frequency. <p>The simple Total Return NAV shows the fund''s total
        return level by reinvesting distributions so that ex-date NAVs are increased
        by the distribution amount and compounded thereafter. Total return NAV compounds
        daily and is calculated from the first available NAV date of each fund. The
        total return NAV series reflects the value that an investor would own if it
        had purchased one share at the inception date and reinvested all dividends
        on a Gross basis.</p><p> Control the dividends to include or exclude using
        the `dividendAdjust` parameter. The first available NAV date of each fund
        can be found in the /summary endpoint as `priceFirstDate`. Visit [OA #21437](https://my.apps.factset.com/oa/pages/21437)
        for more details.</p>'
      operationId: getFundsReturns
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: The start date requested for a given date range in YYYY-MM-DD
          format. If left blank, the API will default to previous close.Future dates
          (T+1) are not accepted in this endpoint.
        example: 2025-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/StartDate'
        style: form
      - description: The end date requested for a given date range in YYYY-MM-DD format.
          If left blank, the API will default to previous close.Future dates (T+1)
          are not accepted in this endpoint
        example: 2025-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/EndDate'
        style: form
      - description: "Controls the display frequency of the data returned. The supported\
          \ frequencies are:\n  \n- **D**: Daily\n- **W**: Weekly, based on the last\
          \ day of the week of the start date.\n- **M**: Monthly, based on the last\
          \ trading day of the month.\n- **AM**: Monthly, based on the start date\
          \ (e.g., if the start date is June 16, data is displayed for June 16, May\
          \ 16, April 16, etc.).\n- **CQ**: Quarterly, based on the last trading day\
          \ of the calendar quarter (March, June, September, or December).\n- **FQ**:\
          \ Fiscal Quarter of the company.\n- **AY**: Actual Annual, based on the\
          \ start date.\n- **CY**: Calendar Annual, based on the last trading day\
          \ of the calendar year.\n- **FY**: Fiscal Annual, based on the last trading\
          \ day of the company's fiscal year.\n"
        example: M
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - description: The ISO3 currency control for the requested fund. For a list
          of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470)
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      - description: |
          Controls the dividend inclusion for the NAV returns calculations -
            * **DIV** = Include Dividends, Total Return
            * **NO_DIV** = Exclude Dividends, Simple Return
        example: DIV
        explode: true
        in: query
        name: dividendAdjust
        required: false
        schema:
          $ref: '#/components/schemas/DividendAdjust'
        style: form
      - description: The maximum number of records to return. The default is 20.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          example: 100
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before the first record to return.
          The default is 0.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          maximum: 2147483147
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Returns details for MABAX-US:
                  $ref: '#/components/examples/fundReturns'
              schema:
                $ref: '#/components/schemas/FundsReturnsResponse'
          description: The Returns response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Returns for a requested time-series
      tags:
      - Prices, Returns, and Distributions
      x-accepts: application/json
    post:
      description: 'Get Fund NAV Returns over a time-series for the requested date
        range and frequency. <p>The simple Total Return NAV shows the fund''s total
        return level by reinvesting distributions so that ex-date NAVs are increased
        by the distribution amount and compounded thereafter. Total return NAV compounds
        daily and is calculated from the first available NAV date of each fund. The
        total return NAV series reflects the value that an investor would own if it
        had purchased one share at the inception date and reinvested all dividends
        on a Gross basis.</p><p> Control the dividends to include or exclude using
        the `dividendAdjust` parameter. The first available NAV date of each fund
        can be found in the /summary endpoint as `priceFirstDate`. Visit [OA #21437](https://my.apps.factset.com/oa/pages/21437)
        for more details.</p>'
      operationId: getFundsReturnsForList
      requestBody:
        content:
          application/json:
            examples:
              Request for Fund Returns for MABAX and SPY:
                $ref: '#/components/examples/postReturns'
            schema:
              $ref: '#/components/schemas/FundsReturnsRequest'
        description: The Returns request body, allowing the user to specify a list
          of IDs.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Returns details for MABAX-US:
                  $ref: '#/components/examples/fundReturns'
              schema:
                $ref: '#/components/schemas/FundsReturnsResponse'
          description: The Returns response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Returns for a requested time-series and large list of IDs.
      tags:
      - Prices, Returns, and Distributions
      x-contentType: application/json
      x-accepts: application/json
  /returns/snapshot:
    get:
      description: "Get Fund Returns over pre-defined time horizons as of a specific\
        \ date. Use the date parameter to set the perspective date, and adjust the\
        \ return type to include or exclude dividends using the `dividendAdjust` parameter.\
        \ Returns Ranges include - \n* oneWeek\n* oneMonth\n* threeMonth\n* yearToDate\n\
        * oneYear\n* threeYear\n* threeYearAnnualized\n* fiveYear\n* fiveYearAnnualized\n\
        * tenYear\n* tenYearAnnualized\n"
      operationId: getFundsReturnsSnapshot
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: The date for snapshot data in YYYY-MM-DD format.
        example: 2025-01-01
        explode: true
        in: query
        name: date
        required: false
        schema:
          $ref: '#/components/schemas/DateSnapshot'
        style: form
      - description: |
          Controls the dividend inclusion for the NAV returns calculations -
            * **DIV** = Include Dividends, Total Return
            * **NO_DIV** = Exclude Dividends, Simple Return
        example: DIV
        explode: true
        in: query
        name: dividendAdjust
        required: false
        schema:
          $ref: '#/components/schemas/DividendAdjust'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Returns Snapshot details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsSnapshot'
              schema:
                $ref: '#/components/schemas/FundsReturnsSnapshotResponse'
          description: The Returns Snapshot response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Returns over pre-defined time horizons as of a specific date.
      tags:
      - Prices, Returns, and Distributions
      x-accepts: application/json
    post:
      description: "Get Fund Returns over pre-defined time horizons as of a specific\
        \ date. Use the date parameter to set the perspective date, and adjust the\
        \ return type to include or exclude dividends using the `dividendAdjust` parameter.\
        \ Returns Ranges include - \n* oneWeek\n* oneMonth\n* threeMonth\n* yearToDate\n\
        * oneYear\n* threeYear\n* threeYearAnnualized\n* fiveYear\n* fiveYearAnnualized\
        \ \n* tenYear\n* tenYearAnnualized\n"
      operationId: getFundsReturnsSnapshotForList
      requestBody:
        content:
          application/json:
            examples:
              Request for Fund Returns Snapshot for MABAX and SPY:
                $ref: '#/components/examples/postReturnsSnapshot'
            schema:
              $ref: '#/components/schemas/FundsReturnsSnapshotRequest'
        description: The Returns Snapshot request body, allowing the user to specify
          a list of IDs.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Returns Snapshot details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsSnapshot'
              schema:
                $ref: '#/components/schemas/FundsReturnsSnapshotResponse'
          description: The Returns Snapshot response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Returns over pre-defined time horizons as of a specific date.
      tags:
      - Prices, Returns, and Distributions
      x-contentType: application/json
      x-accepts: application/json
  /returns/range:
    get:
      description: Get Fund Returns between a specified `startDate` and `endDate`.
        The service will compute the return between those two periods to retrieve
        the single value and does not create a time-series. Control the return type
        to include or exclude dividends by using the `dividendAdjust` parameter.
      operationId: getFundsReturnsRange
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: The start date requested for a given date range in YYYY-MM-DD
          format. If left blank, the API will default to previous close.Future dates
          (T+1) are not accepted in this endpoint.
        example: 2025-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/StartDate'
        style: form
      - description: The end date requested for a given date range in YYYY-MM-DD format.
          If left blank, the API will default to previous close.Future dates (T+1)
          are not accepted in this endpoint
        example: 2025-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/EndDate'
        style: form
      - description: |
          Controls the dividend inclusion for the NAV returns calculations -
            * **DIV** = Include Dividends, Total Return
            * **NO_DIV** = Exclude Dividends, Simple Return
        example: DIV
        explode: true
        in: query
        name: dividendAdjust
        required: false
        schema:
          $ref: '#/components/schemas/DividendAdjust'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Returns Range details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsRange'
              schema:
                $ref: '#/components/schemas/ReturnsRangeResponse'
          description: The Returns Range response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Returns for a user-defined date range
      tags:
      - Prices, Returns, and Distributions
      x-accepts: application/json
    post:
      description: Get Fund Returns between a specified `startDate` and `endDate`.
        The service will compute the return between those two periods to retrieve
        the single value and does not create a time-series. Control the return type
        to include or exclude dividends by using the `dividendAdjust` parameter.
      operationId: getFundsReturnsRangeForList
      requestBody:
        content:
          application/json:
            examples:
              Request for Fund Returns Range details for MABAX and SPY:
                $ref: '#/components/examples/postReturnsRange'
            schema:
              $ref: '#/components/schemas/ReturnsRangeRequest'
        description: The Returns Range request body, allowing the user to specify
          a list of IDs.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Returns Range details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsRange'
              schema:
                $ref: '#/components/schemas/ReturnsRangeResponse'
          description: The Returns Range response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Returns over pre-defined time horizons as of a specific date
        for large list of IDs.
      tags:
      - Prices, Returns, and Distributions
      x-contentType: application/json
      x-accepts: application/json
  /yields:
    get:
      description: |
        Returns SEC Yield of a fund.
        * Net SEC yield is the subsidized or after waivers.
        * Gross SEC yield is the unsubsidized or before waivers.
        * The Net will be bigger than the Gross if part of the fees are waived. If Gross and Net are equal, no fees were waived
        * SEC Yield for Mutual Funds is in percentage form while ETFs will depend on the fund.
        * Data is returned for both Mutual Funds and ETFs.
      operationId: getFundsYield
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: The start date requested for a given date range in YYYY-MM-DD
          format. If left blank, the API will default to previous close.Future dates
          (T+1) are not accepted in this endpoint.
        example: 2025-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/StartDate'
        style: form
      - description: The end date requested for a given date range in YYYY-MM-DD format.
          If left blank, the API will default to previous close.Future dates (T+1)
          are not accepted in this endpoint
        example: 2025-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/EndDate'
        style: form
      - description: "Controls the display frequency of the data returned. The supported\
          \ frequencies are:\n  \n- **D**: Daily\n- **W**: Weekly, based on the last\
          \ day of the week of the start date.\n- **M**: Monthly, based on the last\
          \ trading day of the month.\n- **AM**: Monthly, based on the start date\
          \ (e.g., if the start date is June 16, data is displayed for June 16, May\
          \ 16, April 16, etc.).\n- **CQ**: Quarterly, based on the last trading day\
          \ of the calendar quarter (March, June, September, or December).\n- **FQ**:\
          \ Fiscal Quarter of the company.\n- **AY**: Actual Annual, based on the\
          \ start date.\n- **CY**: Calendar Annual, based on the last trading day\
          \ of the calendar year.\n- **FY**: Fiscal Annual, based on the last trading\
          \ day of the company's fiscal year.\n"
        example: M
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/Frequency'
        style: form
      - description: The maximum number of records to return. The default is 20.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          example: 100
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before the first record to return.
          The default is 0.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          maximum: 2147483147
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Yield details for SPY-US:
                  $ref: '#/components/examples/yieldsExample'
              schema:
                $ref: '#/components/schemas/YieldsResponse'
          description: The Yields response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Yield for a user-defined date range for large list of IDs.
      tags:
      - Prices, Returns, and Distributions
      x-accepts: application/json
    post:
      description: |
        Returns SEC Yield of a fund.
        * Net SEC yield is the subsidized or after waivers.
        * Gross SEC yield is the unsubsidized or before waivers.
        * The Net will be bigger than the Gross if part of the fees are waived. If Gross and Net are equal, no fees were waived
        * SEC Yield for Mutual Funds is in percentage form while ETFs will depend on the fund.
        * Data is returned for both Mutual Funds and ETFs.
      operationId: getFundsYieldForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YieldsRequest'
        description: The Yields request body, allowing the user to specify a list
          of IDs and date.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Yield details for SPY-US:
                  $ref: '#/components/examples/yieldsExample'
              schema:
                $ref: '#/components/schemas/YieldsResponse'
          description: The Yields response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get Fund Yield for a user-defined date range for large list of IDs.
      tags:
      - Prices, Returns, and Distributions
      x-contentType: application/json
      x-accepts: application/json
  /costs-fees:
    get:
      description: Fetch the Fund's Costs, Investment minimums and Risk, and Fees.
        This subcategory includes management fees, 12b-1 fees, expense ratios, and
        several other data items. The value for each specified share class is expressed
        as a percentage of the AUM.
      operationId: getFundsCostsFees
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
          through the respective "POST" method.</p>*
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - MABAX-US
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - MABAX-US
            - SPY-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          minItems: 1
          type: array
        style: form
      - description: The ISO3 currency control for the requested fund. For a list
          of currency ISO codes, visit Online Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470)
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
        style: form
      - description: The date for costs and fees in YYYY-MM-DD format. Future dates
          (T+1) are not accepted in this endpoint.
        example: 2025-01-01
        explode: true
        in: query
        name: date
        required: false
        schema:
          $ref: '#/components/schemas/DateSchema'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Costs Fees details for MABAX-US:
                  $ref: '#/components/examples/fundCostsFees'
              schema:
                $ref: '#/components/schemas/CostsFeesResponse'
          description: The Costs and Fees response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get the Fund's Costs, Investment minimums and Risk, and Fees.
      tags:
      - Taxes, Fees and Risks
      x-accepts: application/json
    post:
      description: Fetch the Fund's Costs, Investment minimums and Risk, and Fees.
        Data Items include Expense Ratios, investment minimums and maximums, swing
        prices, entry and exit expenses, and more.
      operationId: getFundsCostsFeesForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostsFeesRequest'
        description: The Costs and Fees request body, allowing the user to specify
          a list of IDs.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Costs Fees details for MABAX-US:
                  $ref: '#/components/examples/fundCostsFees'
              schema:
                $ref: '#/components/schemas/CostsFeesResponse'
          description: The Cost and Fees response object.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                User Authentication - Failed:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "404":
          content:
            application/json:
              examples:
                Bad Request - Endpoint Not Found:
                  $ref: '#/components/examples/notFound'
                Bad Request - Data Not Found:
                  $ref: '#/components/examples/dataNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "422":
          content:
            application/json:
              examples:
                Validation Error:
                  $ref: '#/components/examples/unprocessableEntity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: |
            Unprocessable Entity. Your request data was syntactically correct but semantically invalid.
            Check the required parameters and their value constraints.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Get the Fund's Costs, Investment minimums and Risk, and Fees for large
        list of IDs.
      tags:
      - Taxes, Fees and Risks
      x-contentType: application/json
      x-accepts: application/json
  /aum:
    get:
      description: Get the Fund Level or Share Class Level Assets Under Management
        (AUM). <p>NOTE - AUM can be accessed on a five-day calendar. If a vendor does
        not provide NAV and shares outstanding on a market holiday, the previous trading
        day value is used. If a vendor does provide data on a market holiday, that
        value will be presented, and then fund flows and AUM will be calculated. When
        you are manually calculating actual AUM on a market holiday or a rolled date,
        it will differ from the value shown in the FactSet workstation. This is due
        to the previous day's NAV being used in the manual AUM calculation.</p>
      operationId: getFundsAum
      parameters:
      - description: The requested fund identifier. FactSet Identifiers, tickers,
          CUSIP, SEDOL, and ISIN are accepted inputs. <p>***IDs limit** =  200 per
          request*</p> *<p>Make note, GET Method URL request lines are also limited
          to a total length of 8192 bytes (8KB). In cases where the service allows
          for thousands of IDs, which may lead to exceeding this request line limit
          of 8KB, its advised for any requests with large request lines to be requested
[...]
