openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    Gain access to 20+ years of comprehensive estimates and statistics of over 250+ estimated metrics, including financial statement items, product segments, geosegments, and industry metrics. FactSet's consensus estimates are aggregated from a wide base of over 800+ contributors and cover over 19,000 active companies across 90+ countries. Data returned can be accessed on the data frequencies based on quarterly, fiscal years, and calendar years. FactSet Estimates updates on a real time basis intraday (every 5 minutes). Updating times vary based on earning season vs. non-earning season but the goal is to have the data available to the client within a few hours that FactSet receives updated information. Often times updates times can be much faster as FactSet has always been known as one of the fastest estimate providers in the market.
  title: FactSet Estimates
  version: 2.3.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: The consensus or nest of all Estimates items aggregated by a statistic
    such as mean or median.
  name: Consensus
- description: The Broker-Level detail of Estimates items. Entitlements with Brokers
    are required.
  name: Broker Detail
- description: The Consensus and Broker-Level Ratings detail for Buy, Hold, Sell,
    Overweight, Underweight.
  name: Ratings
- description: The Surprise Events reflecting the company's reported financials against
    the broker's estimates.
  name: Surprise
- description: The Product or Geographic Segment Estimates
  name: Segments
- description: Available Data Item Catalog to be used as input to the metrics parameters
  name: Data Items
paths:
  /factset-estimates/v2/rolling-consensus:
    get:
      description: |
        Returns FactSet Estimates consensus data using rolling fiscal dates. <p>The rolling behavior causes fiscal year to automatically roll from one year to the next as the historical perspective date changes. The fiscal period rolls forward as of each period end. This endpoint is optimized to allow the request to simply include a relative fiscal period (e.g. use relativeFiscalStart integer 1 and periodicity ANN for next unreported fiscal year end), and then see what the consensus thought the "next fiscal year" estimates were through time as you "roll" back your perspective dates. This differs from locking down an absolute estimate period such as explicitly stating Fiscal Year 2019. This can be done in the fixed-consensus endpoint.</p>
      operationId: getRollingConsensus
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          items:
            example: SALES
            type: string
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
          \  * **W** = Weekly, based on the last day of the week of the start date.\n\
          \  * **AM** = Monthly, based on the start date (e.g., if the start date\
          \ is June 16, data is displayed for June 16, May 16, April 16 etc.).   \
          \   \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual\
          \ Annual, based on the start date. \n"
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - AM
          - AQ
          - AY
          type: string
        style: form
      - description: Relative fiscal period, expressed as an integer, used to filter
          results. This is combined with the periodicity parameter to specify a relative
          estimate period. For example, set to 1 and periodicity to ANN to ask for
          relative Fiscal Year 1 (FY1).
        example: 1
        explode: true
        in: query
        name: relativeFiscalStart
        required: false
        schema:
          type: integer
        style: form
      - description: Relative fiscal period, expressed as an integer, used to filter
          results. This is combined with the periodicity parameter to specify a relative
          estimate period. For example, set to 2 and periodicity to ANN to ask for
          relative Fiscal Year 1 (FY2).
        example: 3
        explode: true
        in: query
        name: relativeFiscalEnd
        required: false
        schema:
          type: integer
        style: form
      - description: "The periodicity for the estimates requested, allowing you to\
          \ fetch Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.\n  * **ANN**\
          \ - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n  * **NTMA**\
          \ - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage\
          \ of annual estimates from two fiscal years to create an estimate based\
          \ on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n  * **LTMA** - Last-Twelve-Months - Time-weighted Annual.\
          \ Estimates use a percentage of annual estimates from two fiscal years to\
          \ create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n"
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - NTMA
          - LTMA
          type: string
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieves consensus estimates for a requested list of ids and rolling
        fiscal periods.
      tags:
      - Consensus
      x-accepts: application/json
    post:
      description: |
        Returns FactSet Estimates consensus data using rolling fiscal dates. <p>The rolling behavior causes fiscal year to automatically roll from one year to the next as the historical perspective date changes. The fiscal period rolls forward as of each period end. This endpoint is optimized to allow the request to simply include a relative fiscal period (e.g. use relativeFiscalStart integer 1 and periodicity ANN for next unreported fiscal year end), and then see what the consensus thought the "next fiscal year" estimates were through time as you "roll" back your perspective dates. This differs from locking down an absolute estimate period such as explicitly stating Fiscal Year 2019. This can be done in the fixed-consensus endpoint.</p>
      operationId: getRollingConsensusForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollingConsensusRequest'
        description: Request object for Rolling Conensus estimates.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
          description: Rolling Conensus Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieves consensus estimates for a requested list of ids and rolling
        fiscal periods
      tags:
      - Consensus
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/fixed-consensus:
    get:
      description: |
        Returns FactSet Estimates consensus data using fixed fiscal dates. For example, if the company's current unreported year is 12/2020, all data returned by formulas that specify as the period/report basis will be for 12/2005 regardless of what perspective dates (startDate/endDate) are used. The fixed dates are "locked" in time and all estimated values are for that explicit date. If you are requesting that the estimated periods can change with the perspective date, please use the rolling-consensus endpoint.
      operationId: getFixedConsensus
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          items:
            example: SALES
            type: string
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
          \  * **W** = Weekly, based on the last day of the week of the start date.\n\
          \  * **AM** = Monthly, based on the start date (e.g., if the start date\
          \ is June 16, data is displayed for June 16, May 16, April 16 etc.).   \
          \   \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual\
          \ Annual, based on the start date. \n"
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - AM
          - AQ
          - AY
          type: string
        style: form
      - description: |
          Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.
            * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)
            * **Fiscal Year-end** - YYYY (e.g. 2019)
        example: "2019"
        explode: true
        in: query
        name: fiscalPeriodStart
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.
            * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)
            * **Fiscal Year-end** - YYYY (e.g. 2019)
        example: "2020"
        explode: true
        in: query
        name: fiscalPeriodEnd
        required: false
        schema:
          type: string
        style: form
      - description: "The periodicity for the estimates requested, allowing you to\
          \ fetch Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.\n  * **ANN**\
          \ - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n  * **NTMA**\
          \ - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage\
          \ of annual estimates from two fiscal years to create an estimate based\
          \ on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n  * **LTMA** - Last-Twelve-Months - Time-weighted Annual.\
          \ Estimates use a percentage of annual estimates from two fiscal years to\
          \ create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n"
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - NTMA
          - LTMA
          type: string
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
          description: Consensus Estimate Data Items.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Retrieves consensus estimates for a requested list of ids and fixed
        fiscal periods
      tags:
      - Consensus
      x-accepts: application/json
    post:
      description: |
        Returns FactSet Estimates consensus data using fixed fiscal dates. For example, if the company's current unreported year is 12/2020, all data returned by formulas that specify as the period/report basis will be for 12/2005 regardless of what perspective dates (startDate/endDate) are used. The fixed dates are "locked" in time and all estimated values are for that explicit date. If you are requesting that the estimated periods can change with the perspective date, please use the rolling-consensus endpoint.
      operationId: getFixedConsensusForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedConsensusRequest'
        description: Request object for Estimate Data Items.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: FactSet consensus estimates for fixed fiscal periods
      tags:
      - Consensus
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/rolling-detail:
    get:
      description: "Updated intraday, the FactSet detail estimates apis provide individual\
        \ broker-level estimates collected from over 800 sell-side analysts. This\
        \ database contains 20+ years of broker history across more than 59,000 global\
        \ companies. Content is provided for \"rolling\" fiscal periods.     \n"
      operationId: getRollingDetail
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          items:
            example: SALES
            type: string
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
          \  * **W** = Weekly, based on the last day of the week of the start date.\n\
          \  * **AM** = Monthly, based on the start date (e.g., if the start date\
          \ is June 16, data is displayed for June 16, May 16, April 16 etc.).   \
          \   \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual\
          \ Annual, based on the start date. \n"
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - AM
          - AQ
          - AY
          type: string
        style: form
      - description: "The periodicity for the estimates requested, allowing you to\
          \ fetch Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.\n  * **ANN**\
          \ - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n  * **NTMA**\
          \ - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage\
          \ of annual estimates from two fiscal years to create an estimate based\
          \ on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n  * **LTMA** - Last-Twelve-Months - Time-weighted Annual.\
          \ Estimates use a percentage of annual estimates from two fiscal years to\
          \ create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n"
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - NTMA
          - LTMA
          type: string
        style: form
      - description: "Include All filter is used to identify included and excluded\
          \ broker details from the consensus\n  By default the service would return\
          \ only the brokers included in the consensus-\n  * **TRUE** = Returns all\
          \ the brokers included and excluded in the consensus\n  * **FALSE** = Returns\
          \ only the broker details included in the consensus\n  \n"
        explode: true
        in: query
        name: includeAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Relative fiscal period, expressed as an integer, used to filter
          results. This is combined with the periodicity parameter to specify a relative
          estimate period. For example, set to 1 and periodicity to ANN to ask for
          relative Fiscal Year 1 (FY1).
        example: 1
        explode: true
        in: query
        name: relativeFiscalStart
        required: false
        schema:
          type: integer
        style: form
      - description: Relative fiscal period, expressed as an integer, used to filter
          results. This is combined with the periodicity parameter to specify a relative
          estimate period. For example, set to 2 and periodicity to ANN to ask for
          relative Fiscal Year 1 (FY2).
        example: 3
        explode: true
        in: query
        name: relativeFiscalEnd
        required: false
        schema:
          type: integer
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: FactSet estimates detail data for rolling fiscal periods
      tags:
      - Broker Detail
      x-accepts: application/json
    post:
      description: |
        Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "rolling" fiscal periods.
      operationId: getRollingDetailForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollingDetailRequest'
        description: Request object for Estimate Data Items.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: FactSet estimates detail data for rolling fiscal periods
      tags:
      - Broker Detail
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/fixed-detail:
    get:
      description: |
        Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "fixed" fiscal periods.
      operationId: getFixedDetail
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          items:
            example: SALES
            type: string
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
          \  * **W** = Weekly, based on the last day of the week of the start date.\n\
          \  * **AM** = Monthly, based on the start date (e.g., if the start date\
          \ is June 16, data is displayed for June 16, May 16, April 16 etc.).   \
          \   \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual\
          \ Annual, based on the start date. \n"
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - AM
          - AQ
          - AY
          type: string
        style: form
      - description: "The periodicity for the estimates requested, allowing you to\
          \ fetch Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.\n  * **ANN**\
          \ - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n  * **NTMA**\
          \ - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage\
          \ of annual estimates from two fiscal years to create an estimate based\
          \ on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n  * **LTMA** - Last-Twelve-Months - Time-weighted Annual.\
          \ Estimates use a percentage of annual estimates from two fiscal years to\
          \ create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n"
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - NTMA
          - LTMA
          type: string
        style: form
      - description: "Include All filter is used to identify included and excluded\
          \ broker details from the consensus\n  By default the service would return\
          \ only the brokers included in the consensus-\n  * **TRUE** = Returns all\
          \ the brokers included and excluded in the consensus\n  * **FALSE** = Returns\
          \ only the broker details included in the consensus\n  \n"
        explode: true
        in: query
        name: includeAll
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.
            * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)
            * **Fiscal Year-end** - YYYY (e.g. 2019)
        example: "2019"
        explode: true
        in: query
        name: fiscalPeriodStart
        required: false
        schema:
          type: string
        style: form
      - description: |
          Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.
            * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)
            * **Fiscal Year-end** - YYYY (e.g. 2019)
        example: "2020"
        explode: true
        in: query
        name: fiscalPeriodEnd
        required: false
        schema:
          type: string
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Estimates detail data for fixed fiscal periods
      tags:
      - Broker Detail
      x-accepts: application/json
    post:
      description: |
        Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "fixed" fiscal periods.
      operationId: getFixedDetailForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedDetailRequest'
        description: Request object for Estimate Data Items.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Estimates detail data for fixed fiscal periods
      tags:
      - Broker Detail
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/consensus-ratings:
    get:
      description: |
        Returns ratings from the FactSet Estimates database for current and historical for an individual security using rolling fiscal dates as of a specific date.
      operationId: getConsensusRatings
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
          \  * **W** = Weekly, based on the last day of the week of the start date.\n\
          \  * **AM** = Monthly, based on the start date (e.g., if the start date\
          \ is June 16, data is displayed for June 16, May 16, April 16 etc.).   \
          \   \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual\
          \ Annual, based on the start date. \n"
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - AM
          - AQ
          - AY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusRatingsResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Ratings consensus estimates to fetch Buy, Overweight, Hold, Underweight,
        and Sell.
      tags:
      - Ratings
      x-accepts: application/json
    post:
      description: |
        Returns ratings from the FactSet Estimates database for current and historical for an individual security using rolling fiscal dates as of a specific date.
      operationId: getConsensusRatingsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consensusRatingsRequest'
        description: Request object for Estimate Data Items.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusRatingsResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Ratings consensus estimates to fetch Buy, Overweight, Hold, Underweight,
        and Sell.
      tags:
      - Ratings
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/detail-ratings:
    get:
      description: |
        Retrieves the Broker Level ratings for the requested Id and date range. Ratings include Buy, Hold, Sell, Overweight, and Underweight.
        <p>The `startDate` and `endDate` parameters controls the range of perspective dates. By default, the service will return the range of estimateDates within the latest company's reporting period. As you expand the date range, additional full historical reporting periods and all ratings estimateDates per broker will be returned.</p>
      operationId: getDetailRatings
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailRatingsResponse'
          description: Estimate Ratings data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Broker Detail estimates to fetch Buy, Overweight, Hold, Underweight,
        and Sell.
      tags:
      - Ratings
      x-accepts: application/json
    post:
      description: |
        Retrieves the Broker Level ratings for the requested Id and date range. Ratings include Buy, Hold, Sell, Overweight, and Underweight.
        <p>The `startDate` and `endDate` parameters controls the range of perspective dates. By default, the service will return the range of estimateDates within the latest company's reporting period. As you expand the date range, additional full historical reporting periods and all ratings estimateDates per broker will be returned.</p>
      operationId: getDetailRatingsForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detailRatingsRequest'
        description: Request object for Detail Reatings Data Items.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailRatingsResponse'
          description: Estimate Detail Ratings data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Broker Detail estimates to fetch Buy, Overweight, Hold, Underweight,
        and Sell.
      tags:
      - Ratings
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/surprise:
    get:
      description: |
        Returns FactSet Estimates surprise data using rolling fiscal dates.
      operationId: getSurprise
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: |
          Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          items:
            example: SALES
            type: string
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
          \  * **W** = Weekly, based on the last day of the week of the start date.\n\
          \  * **AM** = Monthly, based on the start date (e.g., if the start date\
          \ is June 16, data is displayed for June 16, May 16, April 16 etc.).   \
          \   \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual\
          \ Annual, based on the start date. \n"
        examples:
          Daily:
            summary: D - Daily frequency display based on trading calendar
            value: D
          Weekly:
            summary: W - Weekly - based on the last day of the week of the start date
            value: W
          Actual Month:
            summary: AM - Actual Month - based on the startDate (e.g., if the start
              date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            value: AM
          Actual Annual:
            summary: AY - Actual Annual - based on the startDate
            value: AY
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - W
          - AM
          - AQ
          - AY
          type: string
        style: form
      - description: "The periodicity for the estimates requested, allowing you to\
          \ fetch Quarterly, Semi-Annual and Annual Estimates.\n  * **ANN** - Annual\n\
          \  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n"
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          type: string
        style: form
      - description: Statistic for consensus calculation.
        explode: true
        in: query
        name: statistic
        required: false
        schema:
          default: MEAN
          enum:
          - MEAN
          - MEDIAN
          - HIGH
          - LOW
          - COUNT
          - STDDEV
          type: string
        style: form
      - description: 'Currency code for adjusting the data. For a list of currency
          ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/surpriseResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Surprise estimates for rolling fiscal periods
      tags:
      - Surprise
      x-accepts: application/json
    post:
      description: |
        Returns FactSet Estimates surprise data using rolling fiscal dates.
      operationId: getSurpriseForList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/surpriseRequest'
        description: Request object for `Security` prices.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/surpriseResponse'
          description: Estimate data items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Surprise estimates for rolling fiscal periods
      tags:
      - Surprise
      x-contentType: application/json
      x-accepts: application/json
  /factset-estimates/v2/segments:
    get:
      description: "Returns FactSet Estimates Consensus Data for the segments gathered\
        \ from the Business, Geographical, or Actual Reconciliation (ADJUSTMENT) classifications\
        \ by using fiscal periods with a reporting frequency. \n"
      operationId: getSegments
      parameters:
      - description: |
          Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  50 per request*</p> * Make Note - id limit of 50 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *
        examples:
          oneId:
            summary: One Market Identifier
            value:
            - AAPL-USA
          multipleIds:
            summary: Multiple Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      - description: |
          Controls the type of segment selected.
            * **BUS** = Business / Product Segment
            * **GEO** = Geographic Segment
        examples:
          Business:
            summary: BUS - Business Segments
            value: BUS
          Geographic:
            summary: GEO - Geographic Segments
            value: GEO
        explode: true
        in: query
        name: segmentType
        required: true
        schema:
          default: BUS
          enum:
          - BUS
          - GEO
          type: string
        style: form
      - description: |
          Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).
        explode: false
        in: query
        name: metrics
        required: true
        schema:
          items:
            example: SALES
            type: string
          minItems: 1
          type: array
        style: form
      - description: Start date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2019-07-30
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: End date for point in time of estimates expressed in YYYY-MM-DD
          format.
        example: 2020-07-30
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: Relative fiscal period, expressed as an integer, used to filter
          results. This is combined with the periodicity parameter to specify a relative
          estimate period. For example, set to 1 and periodicity to ANN to ask for
          relative Fiscal Year 1 (FY1).
        example: 1
        explode: true
        in: query
        name: relativeFiscalStart
        required: false
        schema:
          type: integer
        style: form
      - description: Relative fiscal period, expressed as an integer, used to filter
          results. This is combined with the periodicity parameter to specify a relative
          estimate period. For example, set to 2 and periodicity to ANN to ask for
          relative Fiscal Year 1 (FY2).
        example: 3
        explode: true
        in: query
        name: relativeFiscalEnd
        required: false
        schema:
          type: integer
        style: form
      - description: "The periodicity for the estimates requested, allowing you to\
          \ fetch Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.\n  * **ANN**\
          \ - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n  * **NTMA**\
          \ - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage\
          \ of annual estimates from two fiscal years to create an estimate based\
          \ on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n  * **LTMA** - Last-Twelve-Months - Time-weighted Annual.\
          \ Estimates use a percentage of annual estimates from two fiscal years to\
          \ create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\
          \ for detail.\n"
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - NTMA
          - LTMA
          type: string
        style: form
      - description: "Controls the frequency of the data returned.\n  * **D** = Daily\n\
[...]
