openapi: 3.0.3
info:
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: FactSet Estimates Report Builder
  version: 1.0.0
externalDocs:
  description: Read more about STACH 2.0's row organized schema
  url: https://factset.github.io/stachschema/#/v2/RowOrganized
servers:
- url: https://api.factset.com/report/estimates/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: All Estimates
- name: Estimate Tables
paths:
  /income-statement:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for Income Statement line items.
      operationId: getEstimatesIncomeStatement
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Income Statement
      tags:
      - All Estimates
      x-accepts: application/json
  /balance-sheet:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for Balance Sheet line items.
      operationId: getEstimatesBalanceSheet
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Balance Sheet
      tags:
      - All Estimates
      x-accepts: application/json
  /cash-flow:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for Cash Flow line items.
      operationId: getEstimatesCashFlow
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Cash Flow
      tags:
      - All Estimates
      x-accepts: application/json
  /per-share:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for Per Share line items.
      operationId: getEstimatesPerShare
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Per Share
      tags:
      - All Estimates
      x-accepts: application/json
  /industry-metrics:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for industry-specific metrics.
      operationId: getEstimatesIndustryMetrics
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Industry Metrics
      tags:
      - All Estimates
      x-accepts: application/json
  /product-segments:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for line items broken down by product and business.
      operationId: getEstimatesProductSegments
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Product Segments
      tags:
      - All Estimates
      x-accepts: application/json
  /geographic-segments:
    get:
      description: Returns historical and future period broker estimate consensus
        in a statement format for line items broken down geographically.
      operationId: getEstimatesGeographicSegments
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Geographic Segments
      tags:
      - All Estimates
      x-accepts: application/json
  /valuation:
    get:
      description: Returns valuation ratios in a statement format calculated from
        historical and future period broker estimate consensus.
      operationId: getEstimatesValuation
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: Periodicity or frequency of the fiscal periods.
        explode: true
        in: query
        name: periodicity
        required: false
        schema:
          default: ANN
          enum:
          - ANN
          - QTR
          - SEMI
          - CAL
          type: string
        style: form
      - description: |
          The schema that the data is returned as. The following are descriptions for the accepted values:
          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
        explode: true
        in: query
        name: schema
        required: false
        schema:
          default: table_parent_child_columns
          enum:
          - table_group_level
          - table_parent_child_columns
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                groupLevelResponse:
                  $ref: '#/components/examples/groupLevelResponse'
                parentChildColumnsResponse:
                  $ref: '#/components/examples/parentChildColumnsResponse'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorPeriodicity:
                  $ref: '#/components/examples/parameterErrorPeriodicity'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Valuation
      tags:
      - All Estimates
      x-accepts: application/json
  /table:
    get:
      description: Returns a timeseries grid of Interim and Annual data for a single
        line item
      operationId: getEstimateTablesTable
      parameters:
      - description: Company Ticker
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: FDS
          type: string
        style: form
      - description: 'Requested metric. For more details, visit [Online Assitant Page
          #15034](https://oa.apps.factset.com/pages/15034).'
        explode: true
        in: query
        name: metric
        required: false
        schema:
          example: EPS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200Response:
                  $ref: '#/components/examples/default200Response'
              schema:
                $ref: '#/components/schemas/Response'
          description: Expected response; returns JSON data containing STACH 2.0 row
            organized package format
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                idRequiredParameterError:
                  $ref: '#/components/examples/idRequiredParameterError'
                idInvalidParameterError:
                  $ref: '#/components/examples/idInvalidParameterError'
                parameterErrorMetric:
                  $ref: '#/components/examples/parameterErrorMetric'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. For further assistance, file an issue under "Workflow
            & Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
            Api-Supported-Versions:
              description: Supported API versions (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
            Api-Version:
              description: API version (semantic versioning)
              explode: false
              schema:
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication. Ensure you are logged in
            and have successfully generated an API KEY for the IP range you are connecting
            from. For further assistance, file an issue under "Connectivty - 401 or
            403 Responses" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: '#/components/examples/notAuthorized'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: User is forbidden access with current credentials. Reach out
            to your local FactSet Account Manager for assistance, or file an issue
            under "Connectivty - 401 or 403 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                endpointNotFound:
                  $ref: '#/components/examples/endpointNotFound'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "429":
          description: Too many requests - this API is rate-limited to 20 requests
            per second. For further assistance, file an issue under "Workflow & Throttling
            - 400 or 429 Response" using `Report Issue` at the top of this page, including
            the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                genericServerError:
                  $ref: '#/components/examples/genericServerError'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server error. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this page,
            including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
        "503":
          description: Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an issue
            under "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request ID
              explode: false
              schema:
                type: string
              style: simple
      summary: Interim/Annual Estimate Table
      tags:
      - Estimate Tables
      x-accepts: application/json
components:
  examples:
    parentChildColumnsResponse:
      description: Subset of rows and columns for an example response
      summary: (sample table parent child columns response)
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: lineItemChild1
                  isDimension: true
                  parentId: lineItem
                  type: string
                - id: period1
                  type: real
                - id: period2
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - null
                  - null
                  - Aug' 15
                  - Aug' 16
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: HEADERS
                      columnIndex: 0
                    "3":
                      source: HEADERS
                      columnIndex: 0
                - rowType: Header
                  cells:
                  - null
                  - null
                  - "20150831"
                  - "20160831"
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: PRIMARY
                      columnIndex: 1
                    "2":
                      source: HEADERS
                      columnIndex: 1
                    "3":
                      source: HEADERS
                      columnIndex: 1
                - cells:
                  - Net Income
                  - null
                  - 241.050995
                  - 264.675995
                  rowMetadata:
                    metricEstimates:
                      value: NET_INC
                    category:
                      value: MAIN
                - cells:
                  - Net Income
                  - Net Income - Non GAAP
                  - 236.781006
                  - 264.675995
                  rowMetadata:
                    metricEstimates:
                      value: NETBG
                    category:
                      value: DETAIL
                - cells:
                  - Net Income
                  - Net Income - GAAP
                  - 241.050995
                  - 338.815002
                  rowMetadata:
                    category:
                      value: DETAIL
                columnMetadata:
                  period1:
                    items:
                      category:
                        value: ACTUAL
                  period2:
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
          schema: table_parent_child_columns
    groupLevelResponse:
      description: Subset of rows and columns for an example response
      summary: (sample table group level columns response)
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: period1
                  type: real
                - id: period2
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - null
                  - Aug' 15
                  - Aug' 16
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: HEADERS
                      columnIndex: 0
                    "2":
                      source: HEADERS
                      columnIndex: 0
                - rowType: Header
                  cells:
                  - null
                  - "20150831"
                  - "20160831"
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: HEADERS
                      columnIndex: 1
                    "2":
                      source: HEADERS
                      columnIndex: 1
                - cells:
                  - Net Income
                  - 241.050995
                  - 264.675995
                  rowMetadata:
                    metricEstimates:
                      value: NET_INC
                    category:
                      value: MAIN
                - cells:
                  - Net Income - Non GAAP
                  - 236.781006
                  - 264.675995
                  cellDetails:
                    "0":
                      groupLevel: "1"
                  rowMetadata:
                    metricEstimates:
                      value: NETBG
                    category:
                      value: DETAIL
                - cells:
                  - Net Income - GAAP
                  - 241.050995
                  - 338.815002
                  cellDetails:
                    "0":
                      groupLevel: "1"
                  rowMetadata:
                    category:
                      value: DETAIL
                columnMetadata:
                  period1:
                    items:
                      category:
                        value: ACTUAL
                  period2:
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
          schema: table_group_level
    default200Response:
      description: Subset of rows and columns for an example response
      summary: (dummy data)
      value:
        data:
          version: "2.0"
          tables:
            main:
              definition:
                columns:
                - id: fy_ending
                  type: string
                - id: period -4
                  type: real
                - id: period -3
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - null
                  - Aug' 16
                  - Aug' 17
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: HEADERS
                      columnIndex: 0
                    "2":
                      source: HEADERS
                      columnIndex: 0
                - rowType: Header
                  cells:
                  - null
                  - "20160831"
                  - "20170831"
                  headerCellDetails:
                    "0":
                      source: PRIMARY
                      columnIndex: 0
                    "1":
                      source: HEADERS
                      columnIndex: 1
                    "2":
                      source: HEADERS
                      columnIndex: 1
                - cells:
                  - Q1 (Nov)
                  - 1.44
                  - 1.75
                - cells:
                  - Q2 (Feb)
                  - 1.59
                  - 1.81
                - cells:
                  - Q3 (May)
                  - 1.64
                  - 1.85
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
    genericServerError:
      summary: generic server error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: genericServerError
          title: Unexpected error processing request
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    parameterErrorPeriodicity:
      summary: periodicity parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter: ''periodicity'''
    parameterErrorMetric:
      summary: metric parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid metric parameter value: ''SALES2'''
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    notAuthorized:
      summary: not authorized
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: notAuthorized
          title: User is forbidden access with current credentials. For access, contact
            your FactSet sales representative
  parameters:
    idParameter:
      description: Company Ticker
      explode: true
      in: query
      name: id
      required: true
      schema:
        example: FDS
        type: string
      style: form
    periodicityParameter:
      description: Periodicity or frequency of the fiscal periods.
      explode: true
      in: query
      name: periodicity
      required: false
      schema:
        default: ANN
        enum:
        - ANN
        - QTR
        - SEMI
        - CAL
        type: string
      style: form
    metricParameter:
      description: 'Requested metric. For more details, visit [Online Assitant Page
        #15034](https://oa.apps.factset.com/pages/15034).'
      explode: true
      in: query
      name: metric
      required: false
      schema:
        example: EPS
        type: string
      style: form
    schemaParameter:
      description: |
        The schema that the data is returned as. The following are descriptions for the accepted values:
        - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata
        - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns
      explode: true
      in: query
      name: schema
      required: false
      schema:
        default: table_parent_child_columns
        enum:
        - table_group_level
        - table_parent_child_columns
        type: string
      style: form
  responses:
    "200OKStach":
      content:
        application/json:
          examples:
            groupLevelResponse:
              $ref: '#/components/examples/groupLevelResponse'
            parentChildColumnsResponse:
              $ref: '#/components/examples/parentChildColumnsResponse'
          schema:
            $ref: '#/components/schemas/Response'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
        Api-Supported-Versions:
          description: Supported API versions (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
    "200OKStachTable":
      content:
        application/json:
          examples:
            default200Response:
              $ref: '#/components/examples/default200Response'
          schema:
            $ref: '#/components/schemas/Response'
      description: Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
        Api-Supported-Versions:
          description: Supported API versions (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
    "400BadRequest":
      content:
        application/json:
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            parameterErrorPeriodicity:
              $ref: '#/components/examples/parameterErrorPeriodicity'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
        Api-Supported-Versions:
          description: Supported API versions (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
    "400BadRequest-table":
      content:
        application/json:
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            parameterErrorMetric:
              $ref: '#/components/examples/parameterErrorMetric'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request. For further assistance, file an issue under "Workflow
        & Throttling - 400 or 429 Response" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
        Api-Supported-Versions:
          description: Supported API versions (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
        Api-Version:
          description: API version (semantic versioning)
          explode: false
          schema:
            type: string
          style: simple
    "401Unauthorized":
      description: Missing or invalid authentication. Ensure you are logged in and
        have successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or 403
        Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key
        from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "403Forbidden":
      content:
        application/json:
          examples:
            notAuthorized:
              $ref: '#/components/examples/notAuthorized'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: User is forbidden access with current credentials. Reach out to
        your local FactSet Account Manager for assistance, or file an issue under
        "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this
        page, including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "404NotFound":
      content:
        application/json:
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "429TooManyRequests":
      description: Too many requests - this API is rate-limited to 20 requests per
        second. For further assistance, file an issue under "Workflow & Throttling
        - 400 or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "500InternalServerError":
      content:
        application/json:
          examples:
            genericServerError:
              $ref: '#/components/examples/genericServerError'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Server error. For further assistance, file an issue under "Performance
        - 404 and 500 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
    "503ServiceUnavailable":
      description: Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an issue
        under "Performance - 404 and 500 Responses" using `Report Issue` at the top
        of this page, including the X-DataDirect-Request-Key from the header to assist
        in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          description: FactSet request ID
          explode: false
          schema:
            type: string
          style: simple
  schemas:
    Response:
      example:
        data: ""
        meta:
          key: meta
      properties:
        data:
          description: Returns a STACH 2.0 row organized package
          title: STACH
        meta:
          additionalProperties:
            nullable: true
            type: string
          type: object
      type: object
    Meta:
      additionalProperties:
        nullable: true
        type: string
      type: object
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
        meta:
          additionalProperties:
            nullable: true
            type: string
          type: object
      type: object
    ErrorObject:
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          $ref: '#/components/schemas/ErrorObject_links'
        detail:
          type: string
        source:
          $ref: '#/components/schemas/ErrorObject_source'
      type: object
    MetadataEntry:
      description: |
        Restricted metadata entries. Restricts the possible key in the following STACH schema:
        - RowOrganizedPackage.CellDetail.CellMetadataEntry
        - RowOrganizedPackage.HeaderCellDetail.CellMetadataEntry
        - RowOrganizedPackage.MapOfMetadata.ItemsEntry
        - RowOrganizedPackage.Row.RowMetadataEntry
        - RowOrganizedPackage.TableData.TableMetadataEntry

        And sets restrictions on the possible values for a MetadataItem.
      oneOf:
      - $ref: '#/components/schemas/currencyCode'
      - $ref: '#/components/schemas/currencySymbol'
      - $ref: '#/components/schemas/category'
      - $ref: '#/components/schemas/metricEstimates'
      - $ref: '#/components/schemas/valueType'
      - $ref: '#/components/schemas/scale'
      - $ref: '#/components/schemas/description'
      - $ref: '#/components/schemas/frequency'
      type: object
    currencyCode:
      properties:
        currencyCode:
          $ref: '#/components/schemas/currencyCode_currencyCode'
      type: object
    currencySymbol:
      properties:
        currencySymbol:
          $ref: '#/components/schemas/currencySymbol_currencySymbol'
      type: object
    metricEstimates:
      properties:
        metricEstimates:
          $ref: '#/components/schemas/metricEstimates_metricEstimates'
      type: object
    category:
      properties:
        category:
          $ref: '#/components/schemas/category_category'
      type: object
    valueType:
      properties:
        valueType:
          $ref: '#/components/schemas/valueType_valueType'
      type: object
    scale:
      properties:
        scale:
          $ref: '#/components/schemas/scale_scale'
      type: object
    description:
      properties:
        description:
          $ref: '#/components/schemas/description_description'
      type: object
    frequency:
      properties:
        frequency:
          $ref: '#/components/schemas/frequency_frequency'
      type: object
    ErrorObject_links:
      properties:
        about:
          type: string
      type: object
    ErrorObject_source:
      properties:
        parameter:
          type: string
      type: object
    currencyCode_currencyCode:
      description: Code for data currency
      properties:
        value:
          type: string
      type: object
    currencySymbol_currencySymbol:
      description: Symbol for data currency
      properties:
        value:
          type: string
      type: object
    metricEstimates_metricEstimates:
      description: A unique identifier for the line item. The metric can also be used
        with single item requests from the FactSet Estimates API.
      properties:
        value:
          type: string
      type: object
    category_category:
      description: |
        Describes data based on source or kind of value
        - ACTUAL - Historical data collected directly from a press release or a median consensus from brokers after a report date.
        - ESTIMATE - Forward looking average of broker estimates within a specific time horizon.
        - GUIDANCE - Forward looking indication or estimate of future performance issued by the company itself.
        - DETAIL - Indicates data that is more granular and may be secondary in focus.
        - MAIN - Indicates data is of more impactful or higher importance and may want to be emphasized.
        - SECTION - Indicates data that is used in sectioning rows in group level STACH format.
      properties:
        value:
          enum:
          - ACTUAL
          - ESTIMATE
          - GUIDANCE
          - EXCLUDED
          - CHANGE
          - DETAIL
          - MAIN
[...]
