openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    FactSet's Fund Ownership API gives access to both **Holdings**, **Holders**, and **Transactions** data.<p> Factset's Holdings endpoints gives access to all the underlying securities and their position details held within a given fund. Fund Types supported include Open-End Mutual Funds, Closed-end Mutual Funds, and Exchange Traded Funds. Security Holders information retrieves all "holder types" and their positions across institutions, funds, insiders, and stakeholders. FactSet also provides extensive insider and institutional transactions data for multiple countries including the United States, China, and Canada.</p><p>The FactSet Ownership and Mutual Funds database collects global equity ownership data for approximately 50,000 institutions, 60,000 unique Mutual Fund portfolios, and 400,000 Insider/Stakeholders from around 110 countries. For more details review our [Data Collection](https://my.apps.factset.com/oa/cms/oaAttachment/87e162be-f2d1-4f40-a85b-bfb1b020d270/20079) methodology. </p>
  title: FactSet Ownership API
  version: 1.2.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /factset-ownership/v1/fund-holdings:
    get:
      description: |
        Gets holdings information for list of fund identifiers. The service allows you to filter by the TopN holdings and Asset Type.
      operationId: getOwnershipHoldings
      parameters:
      - description: List of requested fund identifiers. <p>***ids limit** =  10 per
          request*</p>
        examples:
          singleIdentifer:
            summary: One identifier to know the fund holding details
            value:
            - VTI-USA
          multipleIdentifers:
            summary: Multiple identifiers to know the fund holding details
            value:
            - VTI-USA
            - MABAX
            - NZF
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: Date of holdings expressed in YYYY-MM-DD format. The fund-holdings
          endpoint will default to latest month-end close.
        example: 2019-12-31
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Limits number of holdings or holders displayed by the top *n*
          securities based on positions Market Value. Default is ALL, otherwise use
          number to limit number.
        example: 5
        explode: true
        in: query
        name: topn
        required: false
        schema:
          default: ALL
          type: string
        style: form
      - description: |
          Filter holdings by the following major asset classes -
            * **EQ**  = Equity
            * **FI** = Fixed Income
            * **ALL** = ALL
        example: EQ
        explode: true
        in: query
        name: assetType
        required: false
        schema:
          default: EQ
          enum:
          - ALL
          - EQ
          - FI
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                VTI-US Top 5 Equities Held as of 2019-12-31:
                  $ref: '#/components/examples/singleIdentifer'
                Top 5 Equity Holdings for VTI-USA, MABAX, and NZF as of 2019-12-31:
                  $ref: '#/components/examples/multipleIdentifiers'
              schema:
                $ref: '#/components/schemas/fundHoldingsResponse'
          description: Fund Holdings Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get underlying holdings information for a requested fund identifer.
      tags:
      - Fund Holdings
      x-accepts: application/json
    post:
      description: Gets Holding information for a long list of Fund objects.
      operationId: postOwnershipHoldings
      requestBody:
        content:
          application/json:
            examples:
              Request to fetch the VTI-US Equity Fund-Holdings Details:
                $ref: '#/components/examples/singleIdentiferPostRequest'
              Request to fetch the Equity Fund-Holdings Details:
                $ref: '#/components/examples/MultipleIdentifiersPostRequest'
            schema:
              $ref: '#/components/schemas/fundHoldingsRequest'
        description: Requesting Underlying Holdings for a list of Fund Identifiers.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request for Top 5 Equity holdings as of 2019-12-31:
                  $ref: '#/components/examples/singleIdentifer'
                Multiple identifier request for Top 5 Equity holdings as of 2019-12-31:
                  $ref: '#/components/examples/multipleIdentifiers'
              schema:
                $ref: '#/components/schemas/fundHoldingsResponse'
          description: Fund Holdings Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get holdings for a list of funds.
      tags:
      - Fund Holdings
      x-contentType: application/json
      x-accepts: application/json
  /factset-ownership/v1/security-holders:
    get:
      description: |
        Gets security ownership details and activity for the requested security identifiers. The services allows filtering by "Topn" holders and by holder "type", such as Institutions, Insiders, and Stakeholders.
      operationId: getSecurityHolders
      parameters:
      - description: Requested list of security identifiers. <p>***ids limit** =  1
          per request*</p>.
        examples:
          singleSecurityIdentifer:
            summary: Requesting Holders information for FDS-US
            value:
            - FDS-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1
          minItems: 1
          type: array
        style: form
      - description: |
          Controls the Holder Type of the data returned. By default, the service will return Institutional Holders. Requesting All Holders is not currently supported. Only a single Holder Type is allowed per request.
            * **F** = Institutions
            * **M** = Mutual Funds
            * **S** =  Insiders/Stakeholders
            * **FS** = Institutions/Insiders
            * **B** = Beneficial Owners
        explode: true
        in: query
        name: holderType
        required: false
        schema:
          default: F
          enum:
          - F
          - M
          - S
          - FS
          - B
          type: string
        style: form
      - description: Limits number of holdings or holders displayed by the top *n*
          securities based on positions Market Value. Default is ALL, otherwise use
          number to limit number.
        example: 5
        explode: true
        in: query
        name: topn
        required: false
        schema:
          default: ALL
          type: string
        style: form
      - description: Date of holdings expressed in YYYY-MM-DD format. The fund-holdings
          endpoint will default to latest month-end close.
        example: 2019-12-31
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request for Top 1 holder of FDS-US securities as of 2020-06-31:
                  $ref: '#/components/examples/singleSecurityHolder'
                Top 5 Insiders and Stakeholders of TSLA-US as of 2020-02-14:
                  $ref: '#/components/examples/insiderTop5Holders'
              schema:
                $ref: '#/components/schemas/securityHoldersResponse'
          description: Security Holders Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get security ownership data for requested security identifers.
      tags:
      - Security Holders
      x-accepts: application/json
    post:
      description: |
        Gets security ownership details and activity for the requested security identifiers. The services allows filtering by "Topn" holders and by holder "type", such as Institutions, Insiders, and Stakeholders.
      operationId: postSecurityHolders
      requestBody:
        content:
          application/json:
            examples:
              Request the Top Institutional holder of FDS-US as of 2020-06-30:
                $ref: '#/components/examples/singleSecurityHolderPostRequest'
              Request Latest Top 5 Insiders for TSLA-US:
                $ref: '#/components/examples/top5InsidersRequest'
            schema:
              $ref: '#/components/schemas/securityHoldersRequest'
        description: Requesting Security Holders for a list of Fund Identifiers.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request for Top 1 holder of FDS-US securities as of 2020-06-30:
                  $ref: '#/components/examples/singleSecurityHolder'
                Top 5 Insiders and Stakeholders of TSLA-US as of 2020-02-14:
                  $ref: '#/components/examples/insiderTop5Holders'
              schema:
                $ref: '#/components/schemas/securityHoldersResponse'
          description: Security Holders Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get security ownership data for a list of requested securities.
      tags:
      - Security Holders
      x-contentType: application/json
      x-accepts: application/json
  /factset-ownership/v1/transactions/insider:
    get:
      description: |
        Gets insider transaction details for a list of requested identifiers.
      operationId: getOwnershipInsiderTransactions
      parameters:
      - description: Requested list of security identifiers. <p>***ids limit** =  10
          per request*</p  >.
        examples:
          singleIdentifer:
            summary: Single identifier
            value:
            - TSLA-US
          multipleIdentifers:
            summary: Multiple identifiers
            value:
            - TSLA-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
        example: 2020-06-30
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-06-30
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          Controls the Transaction Type of the data returned. By default, the service will return All Transaction Types.
            * **A** = All Transaction Types - returns all available transaction types.
            * **P** = Open Market Purchases - shares on the open market.
            * **S** =  Open Market Sales - selling shares on the open market.
            * **PS** = Open Market Purchases & Sales - buying and selling shares on the open market.
            * **O** = Options Exercised - executing stock options to acquire shares.
            * **M** = Other Transactions - any other types of equity-related actions not covered above.
        explode: true
        in: query
        name: transactionType
        required: false
        schema:
          default: A
          enum:
          - A
          - P
          - S
          - PS
          - O
          - M
          type: string
        style: form
      - description: |
          Controls the exlcusion of specific transaction rows from the data returned. By default, the service will exclude Derivative and Blank Transaction Types.
            * **DB** =  Derivative and Blank Transaction Types - excludes both derivative and blank transaction types.
            * **B** = Blank Transaction Types - excludes only blank transaction types.
            * **N** =   None - includes all transaction types without exclusion.
        explode: true
        in: query
        name: rowExclusion
        required: false
        schema:
          default: DB
          enum:
          - DB
          - B
          - "N"
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request - Insider Transactions Example:
                  $ref: '#/components/examples/insiderTransactionsSingle'
                Multiple identifier request - Insider Transactions Example:
                  $ref: '#/components/examples/insiderTransactionsMultiple'
              schema:
                $ref: '#/components/schemas/insiderTransactionsResponse'
          description: Insider Transactions Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get insider transactions details for a list of requested identifiers.
      tags:
      - Transactions
      x-accepts: application/json
    post:
      description: Gets insider transaction details for a list of requested identifiers.
      operationId: postOwnershipInsiderTransactions
      requestBody:
        content:
          application/json:
            examples:
              Request to fetch TSLA Insider Transaction Details:
                $ref: '#/components/examples/insiderTransactionsPostRequest'
            schema:
              $ref: '#/components/schemas/insiderTransactionsRequest'
        description: Requesting Insider Transaction Details
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request:
                  $ref: '#/components/examples/insiderTransactionsSingle'
                Multiple identifier request:
                  $ref: '#/components/examples/insiderTransactionsMultiple'
              schema:
                $ref: '#/components/schemas/insiderTransactionsResponse'
          description: Insider Transactions Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get insider transactions details for a list of requested identifiers.
      tags:
      - Transactions
      x-contentType: application/json
      x-accepts: application/json
  /factset-ownership/v1/transactions/institutional:
    get:
      description: |
        Get institutional transaction details for a list of requested identifiers.
      operationId: getOwnershipInstitutionalTransactions
      parameters:
      - description: Requested list of security identifiers. <p>***ids limit** =  10
          per request*</p  >.
        examples:
          singleIdentifer:
            summary: Single identifier
            value:
            - TSLA-US
          multipleIdentifers:
            summary: Multiple identifiers
            value:
            - TSLA-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
        example: 2020-06-30
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-06-30
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          default: LOCAL
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **M** = Monthly, based on the last trading day of the month.
            * **MTD** = Month-to-date
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **CQTD** =  Calendar quarter-to-date
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
            * **CYTD** = Calendar Year-to-date.
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: M
          enum:
          - M
          - MTD
          - CQ
          - CQTD
          - CY
          - CYTD
          type: string
        style: form
      - description: |
          Specifies the number of top holders whose data is returned.
            * **ALL** = All holders
            * **5** = Top 5 Institutional Holders
            * **10** = Top 10 Institutional Holders
            * **25** = Top 25 Institutional Holders
            * **50** = Top 50 Institutional Holders
            * **100** = Top 100 Institutional Holders
        explode: true
        in: query
        name: topNHolders
        required: false
        schema:
          default: "25"
          enum:
          - ALL
          - "5"
          - "10"
          - "25"
          - "50"
          - "100"
          type: string
        style: form
      - description: |
          Controls the Holder Type of the data returned. By default, the service will return Institutional Holders. Requesting All Holders is not currently supported. Only a single Holder Type is allowed per request.
            * **F** = Institutions
            * **M** = Mutual Funds
            * **S** =  Insiders/Stakeholders
            * **FS** = Institutions/Insiders
            * **B** = Beneficial Owners
        explode: true
        in: query
        name: holderType
        required: false
        schema:
          default: F
          enum:
          - F
          - M
          - S
          - FS
          - B
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request - Institutional Transactions Example:
                  $ref: '#/components/examples/institutionalTransactionsSingle'
                Multiple identifier request - Institutional Transactions Example:
                  $ref: '#/components/examples/institutionalTransactionsMultiple'
              schema:
                $ref: '#/components/schemas/institutionalTransactionsResponse'
          description: Institutional Transactions Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Get institutional transaction details for a list of requested identifiers.
      tags:
      - Transactions
      x-accepts: application/json
    post:
      description: Gets institutional transaction details for a list of requested
        identifiers.
      operationId: postOwnershipInstituionalTransactions
      requestBody:
        content:
          application/json:
            examples:
              Request to fetch the institutional transaction details for TSLA-US:
                $ref: '#/components/examples/institutionalTransactionsPostRequest'
            schema:
              $ref: '#/components/schemas/institutionalTransactionsRequest'
        description: Requesting Institutional Transaction Details
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Single identifier request:
                  $ref: '#/components/examples/institutionalTransactionsSingle'
              schema:
                $ref: '#/components/schemas/institutionalTransactionsResponse'
          description: Institutional Transactions Response.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets institutional transaction details for a list of requested identifiers.
      tags:
      - Transactions
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    singleIdentifer:
      description: Underlying Fund Holdings for the Vanguard Total Stock Index ETF
        (VTI-US) filtered by the Top 5 Equities Held as of 2020-01-01.
      summary: VTI-US Top 5 Equities Held as of 2019-12-31
      value:
        data:
        - requestId: VTI-US
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 214894399
          adjMarketValue: 3.38888467223E10
          weightClose: 3.78696130582374
          issueType: Equity
          fsymSecurityId: DF3K29-S
          fsymRegionalId: P8R3C2-R
          securityName: MICROSOFT CORP  COM
          securityTicker: MSFT-US
        - requestId: VTI-US
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 112647486
          adjMarketValue: 3.30789342639E10
          weightClose: 3.6964563923282
          issueType: Equity
          fsymSecurityId: R85KLC-S
          fsymRegionalId: MH33D6-R
          securityName: APPLE INC  COM
          securityTicker: AAPL-US
        - requestId: VTI-US
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 11871374
          adjMarketValue: 2.193639973216E10
          weightClose: 2.45131673129814
          issueType: Equity
          fsymSecurityId: RMCVZ9-S
          fsymRegionalId: MCNYYL-R
          securityName: AMAZON COM INC  COM
          securityTicker: AMZN-US
        - requestId: VTI-US
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 67790793
          adjMarketValue: 1.391406026325E10
          weightClose: 1.55484806714164
          issueType: Equity
          fsymSecurityId: BHM9TN-S
          fsymRegionalId: QLGSL2-R
          securityName: FACEBOOK INC  CL A
          securityTicker: FB-US
        - requestId: VTI-US
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 53368129
          adjMarketValue: 1.20878812185E10
          weightClose: 1.35077888070268
          issueType: Equity
          fsymSecurityId: N138TY-S
          fsymRegionalId: DBNXVB-R
          securityName: BERKSHIRE HATHAWAY INC  CL B
          securityTicker: BRK.B-US
    multipleIdentifiers:
      description: The Top 5 Equity Holdings of VTI-US, MABAX, and NZF as of 2019-12-31.
      summary: Top 5 Equity Holdings for VTI-US, MABAX, and NZF as of 2019-12-31
      value:
        data:
        - requestId: VTI-USA
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 214894399
          adjMarketValue: 3.38888467223E10
          weightClose: 3.78696130582374
          issueType: Equity
          fsymSecurityId: DF3K29-S
          fsymRegionalId: P8R3C2-R
          securityName: MICROSOFT CORP  COM
          securityTicker: MSFT-US
        - requestId: VTI-USA
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 112647486
          adjMarketValue: 3.30789342639E10
          weightClose: 3.6964563923282
          issueType: Equity
          fsymSecurityId: R85KLC-S
          fsymRegionalId: MH33D6-R
          securityName: APPLE INC  COM
          securityTicker: AAPL-US
        - requestId: VTI-USA
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 11871374
          adjMarketValue: 2.193639973216E10
          weightClose: 2.45131673129814
          issueType: Equity
          fsymSecurityId: RMCVZ9-S
          fsymRegionalId: MCNYYL-R
          securityName: AMAZON COM INC  COM
          securityTicker: AMZN-US
        - requestId: VTI-USA
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 67790793
          adjMarketValue: 1.391406026325E10
          weightClose: 1.55484806714164
          issueType: Equity
          fsymSecurityId: BHM9TN-S
          fsymRegionalId: QLGSL2-R
          securityName: FACEBOOK INC  CL A
          securityTicker: FB-US
        - requestId: VTI-USA
          fsymId: K7ZVMR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 53368129
          adjMarketValue: 1.20878812185E10
          weightClose: 1.35077888070268
          issueType: Equity
          fsymSecurityId: N138TY-S
          fsymRegionalId: DBNXVB-R
          securityName: BERKSHIRE HATHAWAY INC  CL B
          securityTicker: BRK.B-US
        - requestId: MABAX
          fsymId: FNK7XP-S
          date: 2019-12-31
          currency: USD
          adjHolding: 625648
          adjMarketValue: 8.72153312E7
          weightClose: 4.44864700626477
          issueType: Equity
          fsymSecurityId: N5N6M6-S
          fsymRegionalId: NNKD2Y-R
          securityName: JPMORGAN CHASE & CO  COM
          securityTicker: JPM-US
        - requestId: MABAX
          fsymId: FNK7XP-S
          date: 2019-12-31
          currency: USD
          adjHolding: 1557832
          adjMarketValue: 8.38113616E7
          weightClose: 4.27501859756526
          issueType: Equity
          fsymSecurityId: G4G3T4-S
          fsymRegionalId: VWF970-R
          securityName: WELLS FARGO & CO  COM
          securityTicker: WFC-US
        - requestId: MABAX
          fsymId: FNK7XP-S
          date: 2019-12-31
          currency: USD
          adjHolding: 1283579
          adjMarketValue: 7.88117506E7
          weightClose: 4.02000030890412
          issueType: Equity
          fsymSecurityId: RGW4H5-S
          fsymRegionalId: FT8FQW-R
          securityName: VERIZON COMMUNICATIONS INC  COM
          securityTicker: VZ-US
        - requestId: MABAX
          fsymId: FNK7XP-S
          date: 2019-12-31
          currency: USD
          adjHolding: 865327
          adjMarketValue: 6.913097403E7
          weightClose: 3.52620687701667
          issueType: Equity
          fsymSecurityId: T6BMPP-S
          fsymRegionalId: RK3DL5-R
          securityName: CITIGROUP INC  COM
          securityTicker: C-US
        - requestId: MABAX
          fsymId: FNK7XP-S
          date: 2019-12-31
          currency: USD
          adjHolding: 1588034
          adjMarketValue: 6.221917212E7
          weightClose: 3.1736522693376
          issueType: Equity
          fsymSecurityId: JDQZCY-S
          fsymRegionalId: VK7M4R-R
          securityName: PFIZER INC  COM
          securityTicker: PFE-US
        - requestId: NZF
          fsymId: WHX5ZR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 43420
          adjMarketValue: 689075.4
          weightClose: 35.5351354424324
          issueType: Closed-End Mutual Fund
          fsymSecurityId: DXZPQ5-S
          fsymRegionalId: KHSMRN-R
          securityName: PIMCO MUNICIPAL INCOME FD II  COM
          securityTicker: PML-US
        - requestId: NZF
          fsymId: WHX5ZR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 43020
          adjMarketValue: 552807
          weightClose: 28.5078695575618
          issueType: Closed-End Mutual Fund
          fsymSecurityId: L8RGHS-S
          fsymRegionalId: HJLD94-R
          securityName: INVESCO TRUST INVMT GRADE MUNICIPALS
          securityTicker: VGM-US
        - requestId: NZF
          fsymId: WHX5ZR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 30000
          adjMarketValue: 370800
          weightClose: 19.1218961263948
          issueType: Closed-End Mutual Fund
          fsymSecurityId: TG4L4R-S
          fsymRegionalId: W13K8B-R
          securityName: INVESCO MUNICIPAL OPPORTUNITY TRUST
          securityTicker: VMO-US
        - requestId: NZF
          fsymId: WHX5ZR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 26880
          adjMarketValue: 228748.8
          weightClose: 11.796415298375
          issueType: Closed-End Mutual Fund
          fsymSecurityId: J997TS-S
          fsymRegionalId: NK4SPV-R
          securityName: BNY MELLON STRATEGIC MUNICIPALS  COM
          securityTicker: LEO-US
        - requestId: NZF
          fsymId: WHX5ZR-S
          date: 2019-12-31
          currency: USD
          adjHolding: 6266
          adjMarketValue: 106146.04
          weightClose: 5.47387689079867
          issueType: Closed-End Mutual Fund
          fsymSecurityId: V3L197-S
          fsymRegionalId: Q9MW50-R
          securityName: BLACKROCK MUNIHOLDINGS FUND INC
          securityTicker: MHD-US
    singleIdentiferPostRequest:
      description: The given post request body fetches the Top 5 Equity Holdings in
        the Vanguard Total Stock Index ETF as of 2019-12-31.
      summary: Request body to fetch the Top 5 Equity Holdings in VTI-US as of 2019
        Year-End.
      value:
        ids:
        - VTI-US
        date: 2019-12-31
        topn: 5
        assetType: EQ
    MultipleIdentifiersPostRequest:
      description: The given post request body help to fetch the VTI-US,FDIVX-US top
        5 Equity type fund-holding details till the date 2020-01-01.
      summary: Request body to fetch the Equity Fund-Holdings Details
      value:
        ids:
        - VTI-US
        - FDIVX-US
        date: 2019-12-31
        topn: 5
        assetType: EQ
    insiderTop5Holders:
      description: Top 5 Institution holders for FDS-US as of 2020-06-30.
      summary: Top 5 Institution holders for FDS-US as of 2020-06-30.
      value:
        data:
        - adjHolding: 3757653
          adjMarketValue: 1.25836283664E9
          currency: USD
          date: 2020-06-30
          fsymId: SQFMK3-R
          holderEntityId: 002FYS-E
          holderId: F72998
          holderName: The Vanguard Group, Inc.
          holderType: Institution
          investorType: Mutual Fund Manager
          percentOutstanding: 9.8903
          requestId: FDS-US
          source: 13F Form
          weightClose: 0.035
        - adjHolding: 3631561
          adjMarketValue: 1.21613714768E9
          currency: USD
          date: 2020-06-30
          fsymId: SQFMK3-R
          holderEntityId: 08D3XB-E
          holderId: F7749421
          holderName: BlackRock Fund Advisors
          holderType: Institution
          investorType: Investment Adviser
          percentOutstanding: 9.5584
          requestId: FDS-US
          source: 13F Form
          weightClose: 0.054
        - adjHolding: 2763901
          adjMarketValue: 9.2557516688E8
          currency: USD
          date: 2020-06-30
          fsymId: SQFMK3-R
          holderEntityId: 0024SV-E
          holderId: F64196
          holderName: BAMCO, Inc.
          holderType: Institution
          investorType: Investment Adviser
          percentOutstanding: 7.2747
          requestId: FDS-US
          source: 13F Form
          weightClose: 2.4906
        - adjHolding: 2703592
          adjMarketValue: 9.0537888896E8
          currency: USD
          date: 2020-06-30
          fsymId: SQFMK3-R
          holderEntityId: 000P8J-E
          holderId: F20445
          holderName: Loomis, Sayles & Co. LP
          holderType: Institution
          investorType: Investment Adviser
          percentOutstanding: 7.1159
          requestId: FDS-US
          source: 13F Form
          weightClose: 1.2433
        - adjHolding: 1617050
          adjMarketValue: 541517704
          currency: USD
          date: 2020-06-30
          fsymId: SQFMK3-R
          holderEntityId: 002HTZ-E
          holderId: F74802
          holderName: Kayne Anderson Rudnick Investment Management LLC
          holderType: Institution
          investorType: Investment Adviser
          percentOutstanding: 4.2561
          requestId: FDS-US
          source: 13F Form
          weightClose: 1.8401
    singleSecurityHolder:
      description: The Top 5 Mutual Fund Holder of FDS-US as of 2020-06-30. Since
        the request specified mutual fund as the holder type, the response will include
        the mutual fund and its related mutual funds. To request other holder types
        change the holderType parameter.
      summary: The Top 5 Mutual Fund holder of FDS-US as of 2020-06-30.
      value:
        data:
        - adjHolding: 1240000
          adjMarketValue: 415251200
          currency: USD
          date: 2020-08-31
          fsymId: SQFMK3-R
          holderEntityId: 04B8QD-E
          holderId: M4000376
          holderName: Baron Growth Fund
          holderType: Mutual Fund
          investorType: Open-End Fund
          percentOutstanding: 3.2637
          requestId: FDS-US
          source: US Fund (N-30D)
          weightClose: 5.6182
        - adjHolding: 1064539
          adjMarketValue: 3.5649282032E8
          currency: USD
          date: 2020-09-30
          fsymId: SQFMK3-R
          holderEntityId: 04BF4M-E
          holderId: M4004630
          holderName: Vanguard Total Stock Market Index Fund
          holderType: Mutual Fund
          investorType: Open-End Fund
          percentOutstanding: 2.8019
          requestId: FDS-US
          source: US Fund (N-30D)
          weightClose: 0.0382
        - adjHolding: 998453
          adjMarketValue: 3.3436194064E8
          currency: USD
          date: 2020-09-30
          fsymId: SQFMK3-R
          holderEntityId: 04BHCW-E
          holderId: M4006777
          holderName: iShares Core S&P Mid Cap ETF
          holderType: Mutual Fund
          investorType: Exchange Traded Fund
          percentOutstanding: 2.628
          requestId: FDS-US
          source: US Fund (N-30D)
          weightClose: 0.7701
        - adjHolding: 876793
          adjMarketValue: 2.9362043984E8
          currency: USD
          date: 2020-09-30
          fsymId: SQFMK3-R
          holderEntityId: 04BFYD-E
          holderId: M4005398
          holderName: Vanguard Mid Cap Index Fund
          holderType: Mutual Fund
          investorType: Open-End Fund
          percentOutstanding: 2.3077
          requestId: FDS-US
          source: US Fund (N-30D)
          weightClose: 0.2607
        - adjHolding: 728381
          adjMarketValue: 2.4392022928E8
          currency: USD
          date: 2020-03-31
          fsymId: SQFMK3-R
          holderEntityId: 04BSJN-E
          holderId: M4015574
          holderName: Morgan Stanley Invt. Fds. - Global Brands Fund
          holderType: Mutual Fund
          investorType: Open-End Fund
          percentOutstanding: 1.9171
          requestId: FDS-US
          source: Non-US portfolio
          weightClose: 1.4245
    singleSecurityHolderPostRequest:
      description: Requesting the Top Institution Holder of FDS-US as of 2020-06-30.
      summary: Requesting the Top Institution Holder of FDS-US as of 2020-06-30.
      value:
        ids:
        - FDS-US
        date: 2020-06-30
        topn: 1
        holderType: F
        currency: USD
    top5InsidersRequest:
      description: Requesting the latest available top 5 insiders and stakeholders
        for TSLA-US
      summary: Requesting the latest available top 5 insiders and stakeholders for
        TSLA-US
      value:
        ids:
        - TSLA-US
        topn: 5
        holderType: S
    insiderTransactionsSingle:
      description: 'Returns Insider Transaction Details for the following security:
        TSLA-US'
      summary: Single identifier request - Insider Transactions Example.
      value:
        data:
        - fsymId: WWDPYB-S
          holderId: S6276669
          shares: -923
          reportDate: 2025-02-06
          holderName: MUSK KIMBAL
          holderTitle: Director
          price: 368.43
          netValueChange: 340060.89
          transactionDate: 2025-02-06
          sharesOwned: 1463220
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-11
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S6276669
          shares: -74077
          reportDate: 2025-02-06
          holderName: MUSK KIMBAL
          holderTitle: Director
          price: 367.87
          netValueChange: 2.725070599E7
          transactionDate: 2025-02-06
          sharesOwned: 1464143
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-11
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -400
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 387.76
          netValueChange: 155104.89
          transactionDate: 2025-02-03
          sharesOwned: 108965
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -450
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 386.78
          netValueChange: 174051.99
          transactionDate: 2025-02-03
          sharesOwned: 109365
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -1401
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 385.69
          netValueChange: 540351.69
          transactionDate: 2025-02-03
          sharesOwned: 109815
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -870
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 384.31
          netValueChange: 334349.7
          transactionDate: 2025-02-03
          sharesOwned: 111216
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -1079
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 383.51
          netValueChange: 413807.29
          transactionDate: 2025-02-03
          sharesOwned: 112086
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
    insiderTransactionsMultiple:
      description: 'Returns Insider Transaction Details for the following securities:
        TSLA-US and AAPL-US'
      summary: Multiple identifier request - Insider Transactions Example.
      value:
        data:
        - fsymId: WWDPYB-S
          holderId: S6276669
          shares: -923
          reportDate: 2025-02-06
          holderName: MUSK KIMBAL
          holderTitle: Director
          price: 368.43
          netValueChange: 340060.89
          transactionDate: 2025-02-06
          sharesOwned: 1463220
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-11
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S6276669
          shares: -74077
          reportDate: 2025-02-06
          holderName: MUSK KIMBAL
          holderTitle: Director
          price: 367.87
          netValueChange: 2.725070599E7
          transactionDate: 2025-02-06
          sharesOwned: 1464143
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-11
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -400
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 387.76
          netValueChange: 155104.89
          transactionDate: 2025-02-03
          sharesOwned: 108965
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -450
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 386.78
          netValueChange: 174051.99
          transactionDate: 2025-02-03
          sharesOwned: 109365
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -1401
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 385.69
          netValueChange: 540351.69
          transactionDate: 2025-02-03
          sharesOwned: 109815
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -870
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 384.31
          netValueChange: 334349.7
          transactionDate: 2025-02-03
          sharesOwned: 111216
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: WWDPYB-S
          holderId: S16370426
          shares: -1079
          reportDate: 2025-02-03
          holderName: TANEJA VAIBHAV
          holderTitle: Chief Financial Officer
          price: 383.51
          netValueChange: 413807.29
          transactionDate: 2025-02-03
          sharesOwned: 112086
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-06
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: TSLA-US
        - fsymId: R85KLC-S
          holderId: S5008060
          shares: -1516
          reportDate: 2025-02-01
          holderName: LEVINSON ARTHUR D
          holderTitle: Director
          price: 226.35
          netValueChange: 343146.6
          transactionDate: 2025-02-03
          sharesOwned: 4159576
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-05
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: AAPL-US
        - fsymId: R85KLC-S
          holderId: S61010
          shares: 1516
          reportDate: 2025-02-01
          holderName: WAGNER SUSAN LYNNE
          holderTitle: Director
          price: 226.35
          netValueChange: 155104.89
          transactionDate: 2025-02-01
          sharesOwned: 62491
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-05
          isDerivative: false
          isDirect: true
          tradeType: Acquisition
          formType: "4"
          requestId: AAPL-US
        - fsymId: R85KLC-S
          holderId: S5086741
          shares: 1516
          reportDate: 2025-02-01
          holderName: SUGAR RONALD D
          holderTitle: Director
          price: 226.35
          netValueChange: 540351.69
          transactionDate: 2025-02-01
          sharesOwned: 109311
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-05
          isDerivative: false
          isDirect: true
          tradeType: Acquisition
          formType: "4"
          requestId: AAPL-US
        - fsymId: R85KLC-S
          holderId: S5029367
          shares: 1516
          reportDate: 2025-02-01
          holderName: LOZANO MONICA CECILIA
          holderTitle: Director
          price: 226.45
          netValueChange: 334349.7
          transactionDate: 2025-02-01
          sharesOwned: 8607
          secRule10b51: true
          currency: USD
          filingDate: 2025-02-05
          isDerivative: false
          isDirect: true
          tradeType: Acquisition
          formType: "4"
          requestId: AAPL-US
        - fsymId: R85KLC-S
          shares: -8384
          reportDate: 2024-12-16
          holderName: WILLIAMS JEFFREY E
          holderTitle: COO
          price: 251.1
          netValueChange: 2105222.4
          transactionDate: 2024-12-16
          sharesOwned: 389944
          secRule10b51: true
          currency: USD
          filingDate: 2024-12-19
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: AAPL-US
        - fsymId: R85KLC-S
          holderId: S348639
          shares: -42939
          reportDate: 2024-12-16
          holderName: WILLIAMS JEFFREY E
          holderTitle: COO
          price: 250.58
          netValueChange: 1.075965462E7
          transactionDate: 2024-12-16
          sharesOwned: 398328
          secRule10b51: true
          currency: USD
          filingDate: 2024-12-19
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: AAPL-US
        - fsymId: R85KLC-S
          holderId: S348639
          shares: -34752
          reportDate: 2024-12-16
          holderName: WILLIAMS JEFFREY E
          holderTitle: COO
          price: 249.5
          netValueChange: 8670624.89
          transactionDate: 2024-12-16
          sharesOwned: 441267
          secRule10b51: true
          currency: USD
          filingDate: 2024-12-19
          isDerivative: false
          isDirect: true
          tradeType: Disposition
          formType: "4"
          requestId: AAPL-US
    insiderTransactionsPostRequest:
      description: Requesting insider transactions details for TSLA-US.
      summary: Request body for Insider Transactions.
      value:
        ids:
        - TSLA-US
        startDate: 2020-06-30
        endDate: 2021-06-30
        transactionType: A
        rowExclusion: DB
        currency: USD
    institutionalTransactionsPostRequest:
      description: Requesting institutional transactions details for TSLA-US.
      summary: Request body for Institutional Transactions.
      value:
        ids:
        - TSLA-US
        startDate: 2020-06-30
        endDate: 2021-06-30
        topNHolders: "10"
        holderType: F
        frequency: MTD
        currency: USD
    institutionalTransactionsSingle:
      description: 'Returns the top 10 Institutional Transactions for the following
        security: TSLA-US'
      summary: Single Identifier - Institutional Transactions Example.
      value:
        data:
        - fsymId: Q2YN1N-R
          holderName: T. Rowe Price Associates, Inc. (IM)
          pctOS: 0.80580141
          pctChange: 0.23686886
          posChange: 7722331.47
          marketVal: 8.92815224321E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Wellington Management Co. LLP
          pctOS: 0.21301171
          pctChange: 0.19691345
          posChange: 6324398.37
          marketVal: 2.36013608343E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Capital Research & Management Co. (Global Investors)
          pctOS: 0.3311517
          pctChange: 0.18669329
          posChange: 6023105.36
          marketVal: 3.66910844254E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: The Vanguard Group, Inc.
          pctOS: 7.06986926
          pctChange: 0.12602791
          posChange: 5494299.3
          marketVal: 7.833303376826E10
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: JPMorgan Investment Management, Inc.
          pctOS: 0.6197582
          pctChange: 0.16369943
          posChange: 5349999.47
          marketVal: 6.86682289724E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Amundi Asset Management US, Inc.
          pctOS: 0.38204552
          pctChange: 0.13255707
          posChange: 4307213.68
          marketVal: 4.23300392717E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Nomura Securities Co., Ltd. (Private Banking)
          pctOS: 0.12961164
          pctChange: 0.11928559
          posChange: 3831293.12
          marketVal: 1.43607649321E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Capital Research & Management Co. (World Investors)
          pctOS: 1.33371316
          pctChange: 0.10783275
          posChange: 3717257.45
          marketVal: 1.477733093867E10
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: UBS Asset Management Switzerland AG
          pctOS: 0.28948602
          pctChange: 0.10707332
          posChange: 3475175.37
          marketVal: 3.20745935824E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Marshall Wace LLP
          pctOS: 0.11556988
          pctChange: 0.10238869
          posChange: 3289488.57
          marketVal: 1.28049596854E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
    institutionalTransactionsMultiple:
      description: 'Returns the top 10 Institutional Transactions for the following
        security: TSLA-US and AAPL-US'
      summary: Multiple Identifiers - Institutional Transactions Example.
      value:
        data:
        - fsymId: Q2YN1N-R
          holderName: T. Rowe Price Associates, Inc. (IM)
          pctOS: 0.80580141
          pctChange: 0.23686886
          posChange: 7722331.57
          marketVal: 8.92815224345E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Wellington Management Co. LLP
          pctOS: 0.21301171
          pctChange: 0.19691345
          posChange: 6324398.35
          marketVal: 2.36013608354E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Capital Research & Management Co. (Global Investors)
          pctOS: 0.3311517
          pctChange: 0.18669329
          posChange: 6023105.92
          marketVal: 3.66910844221E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: The Vanguard Group, Inc.
          pctOS: 7.06986926
          pctChange: 0.12602791
          posChange: 5494299.47
          marketVal: 7.833303376834E10
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: JPMorgan Investment Management, Inc.
          pctOS: 0.6197582
          pctChange: 0.16369943
          posChange: 5349999.6
          marketVal: 6.86682289724E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Amundi Asset Management US, Inc.
          pctOS: 0.38204552
          pctChange: 0.13255707
          posChange: 4307213.38
          marketVal: 4.23300392787E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Nomura Securities Co., Ltd. (Private Banking)
          pctOS: 0.12961164
          pctChange: 0.11928559
          posChange: 3831293.68
          marketVal: 1.43607649381E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Capital Research & Management Co. (World Investors)
          pctOS: 1.33371316
          pctChange: 0.10783275
          posChange: 3717257.36
          marketVal: 1.477733093835E10
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: UBS Asset Management Switzerland AG
          pctOS: 0.28948602
          pctChange: 0.10707332
          posChange: 3475175.56
          marketVal: 3.20745935835E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: Q2YN1N-R
          holderName: Marshall Wace LLP
          pctOS: 0.11556988
          pctChange: 0.10238869
          posChange: 3289488.34
          marketVal: 1.2804959682E9
          reportDate: 2024-09-30
          currency: USD
          requestId: TSLA-US
        - fsymId: AAPL-US^
          holderName: Fidelity Management & Research Co. LLC
          pctOS: 2.06702662
          pctChange: 0.45564975
          posChange: 6.53582359E7
          marketVal: 7.41533040131E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: Capital Research & Management Co. (Global Investors)
          pctOS: 0.47254658
          pctChange: 0.26531349
          posChange: 3.96520121E7
          marketVal: 1.695231671867E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: BlackRock Fund Advisors
          pctOS: 4.76310954
          pctChange: 0.30731603
          posChange: 3.672817723E7
          marketVal: 1.2804959682E9
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: Wellington Management Co. LLP
          pctOS: 0.58557911
          pctChange: 0.22331868
          posChange: 3.296579068E7
          marketVal: 2.100728915823E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: T. Rowe Price Associates, Inc. (IM)
          pctOS: 1.41610479
          pctChange: 0.19653322
          posChange: 2.704578923E7
          marketVal: 5.080188508678E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: Geode Capital Management LLC
          pctOS: 2.20866241
          pctChange: 0.20188527
          posChange: 2.613664876E7
          marketVal: 7.923440047512E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: Capital Research & Management Co. (World Investors)
          pctOS: 0.28673687
          pctChange: 0.16259464
          posChange: 2.430656635E7
          marketVal: 1.028650803934E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: The Vanguard Group, Inc.
          pctOS: 8.46124304
          pctChange: 0.27515047
          posChange: 2.372437476E7
          marketVal: 1.2804959682E9
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: Capital Research & Management Co. (International Investors)
          pctOS: 0.37972311
          pctChange: 0.1374763
          posChange: 2.025194821E7
          marketVal: 1.36223321314E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
        - fsymId: AAPL-US^
          holderName: JPMorgan Investment Management, Inc.
          pctOS: 0.74817705
          pctChange: 0.10870149
          posChange: 1.503541231E7
          marketVal: 2.684038993267E10
          reportDate: 2024-09-30
          currency: USD
          requestId: AAPL-US
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        status: Bad Request
        timestamp: 2020-08-03 12:00:31.777
        path: /factset-ownership/v1/{end-point}
        message: 'The date parameter(s) must be in the following date format: YYYY-MM-DD. '
        subErrors: null
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        status: Bad Request
        timestamp: 2020-08-03 12:01:06.553
        path: /factset-ownership/v1/{end-point}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestFutureDate:
      description: This error message occurs when a future date is requested in the
        date parameters. Please revise your request to include dates as of today's
        current date or any prior historical date.
      summary: Bad Request - Future Date
      value:
        status: Bad Request
        timestamp: 2020-08-03 12:02:06.097
        path: /factset-ownership/v1/{end-point}
        message: 'The use of future dates for date parameter(s) is not applicable.
          Please revise your request to include dates up to today''s current date. '
        subErrors: null
    badRequestInvalidParameters:
      description: This error message occurs when a request parameter is used in which
        is not recognized by the service. Please revise your request to include only
        the parameters listed in the specification. Typical causes are spelling mistakes
        and use of improper casing.
      summary: Bad Request - Invalid Parameters
      value:
        status: Bad Request
        timestamp: 2020-08-03 12:02:47.804
        path: /factset-ownership/v1/{end-point}
        message: 'Invalid Parameter (s): dated. Please modify your request to use
          parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON, but is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        status: Bad Request
        timestamp: 2020-08-03 12:03:34.409
        path: /factset-ownership/v1/{end-point}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        status: Bad Request
        timestamp: 2019-11-04 16:18:38.949
        path: /factset-ownership/v1/{end-point}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        status: User Authentication Failed
        timestamp: 2019-10-31 16:08:07.945
        path: /factset-ownership/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        status: Forbidden
        timestamp: 2020-06-12 16:08:51.731
        path: /factset-ownership/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-ownership/v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        status: Unsupported Media Type
        timestamp: 2019-11-05 09:42:27.237
        path: /factset-ownership/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        status: Internal Server Error
        timestamp: 2019-11-05 09:48:29.18
        path: /factset-ownership/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        status: Internal Server Error
        timestamp: 2019-11-01 10:36:01.944
        path: /factset-ownership/v1/{endpoint}
        message: Unexpected error
        subErrors: null
  parameters:
    idFundHoldings:
      description: List of requested fund identifiers. <p>***ids limit** =  10 per
        request*</p>
      examples:
        singleIdentifer:
          summary: One identifier to know the fund holding details
          value:
          - VTI-USA
        multipleIdentifers:
          summary: Multiple identifiers to know the fund holding details
          value:
          - VTI-USA
          - MABAX
          - NZF
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 10
        minItems: 1
        type: array
      style: form
    requestedDate:
      description: Date of holdings expressed in YYYY-MM-DD format. The fund-holdings
        endpoint will default to latest month-end close.
      example: 2019-12-31
      explode: true
      in: query
      name: date
      required: false
      schema:
        type: string
      style: form
    topn:
      description: Limits number of holdings or holders displayed by the top *n* securities
        based on positions Market Value. Default is ALL, otherwise use number to limit
        number.
      example: 5
      explode: true
      in: query
      name: topn
      required: false
      schema:
        default: ALL
        type: string
      style: form
    assetType:
      description: |
        Filter holdings by the following major asset classes -
          * **EQ**  = Equity
          * **FI** = Fixed Income
          * **ALL** = ALL
      example: EQ
      explode: true
      in: query
      name: assetType
      required: false
      schema:
        default: EQ
        enum:
        - ALL
        - EQ
        - FI
        type: string
      style: form
    idHolders:
      description: Requested list of security identifiers. <p>***ids limit** =  1
        per request*</p>.
      examples:
        singleSecurityIdentifer:
          summary: Requesting Holders information for FDS-US
          value:
          - FDS-US
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 1
        minItems: 1
        type: array
      style: form
    idTransactions:
      description: Requested list of security identifiers. <p>***ids limit** =  10
        per request*</p  >.
      examples:
        singleIdentifer:
          summary: Single identifier
          value:
          - TSLA-US
        multipleIdentifers:
          summary: Multiple identifiers
          value:
          - TSLA-US
          - AAPL-US
          - MSFT-US
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 10
        minItems: 1
        type: array
      style: form
    startDate:
      description: |
        The start date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
      example: 2020-06-30
      explode: true
      in: query
      name: startDate
      required: true
      schema:
        format: date
        type: string
      style: form
    endDate:
      description: |
        The end date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.
      example: 2021-06-30
      explode: true
      in: query
      name: endDate
      required: true
      schema:
        format: date
        type: string
      style: form
    topNHolders:
      description: |
        Specifies the number of top holders whose data is returned.
          * **ALL** = All holders
          * **5** = Top 5 Institutional Holders
          * **10** = Top 10 Institutional Holders
          * **25** = Top 25 Institutional Holders
          * **50** = Top 50 Institutional Holders
          * **100** = Top 100 Institutional Holders
      explode: true
      in: query
      name: topNHolders
      required: false
      schema:
        default: "25"
        enum:
        - ALL
        - "5"
        - "10"
        - "25"
        - "50"
        - "100"
        type: string
      style: form
    frequency:
      description: |
        Controls the display frequency of the data returned.
          * **M** = Monthly, based on the last trading day of the month.
          * **MTD** = Month-to-date
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **CQTD** =  Calendar quarter-to-date
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          * **CYTD** = Calendar Year-to-date.
      explode: true
      in: query
      name: frequency
      required: false
      schema:
        default: M
        enum:
        - M
        - MTD
        - CQ
        - CQTD
        - CY
        - CYTD
        type: string
      style: form
    currency:
      description: Currency code for adjusting prices. Default is Local. For a list
        of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
      explode: true
      in: query
      name: currency
      required: false
      schema:
        default: LOCAL
        type: string
      style: form
    holderType:
      description: |
        Controls the Holder Type of the data returned. By default, the service will return Institutional Holders. Requesting All Holders is not currently supported. Only a single Holder Type is allowed per request.
          * **F** = Institutions
          * **M** = Mutual Funds
          * **S** =  Insiders/Stakeholders
          * **FS** = Institutions/Insiders
          * **B** = Beneficial Owners
      explode: true
      in: query
      name: holderType
      required: false
      schema:
        default: F
        enum:
        - F
        - M
        - S
        - FS
        - B
        type: string
      style: form
    transactionType:
      description: |
        Controls the Transaction Type of the data returned. By default, the service will return All Transaction Types.
          * **A** = All Transaction Types - returns all available transaction types.
          * **P** = Open Market Purchases - shares on the open market.
          * **S** =  Open Market Sales - selling shares on the open market.
          * **PS** = Open Market Purchases & Sales - buying and selling shares on the open market.
          * **O** = Options Exercised - executing stock options to acquire shares.
          * **M** = Other Transactions - any other types of equity-related actions not covered above.
      explode: true
      in: query
      name: transactionType
      required: false
      schema:
        default: A
        enum:
        - A
        - P
        - S
        - PS
        - O
        - M
        type: string
      style: form
    rowExclusion:
      description: |
        Controls the exlcusion of specific transaction rows from the data returned. By default, the service will exclude Derivative and Blank Transaction Types.
          * **DB** =  Derivative and Blank Transaction Types - excludes both derivative and blank transaction types.
          * **B** = Blank Transaction Types - excludes only blank transaction types.
          * **N** =   None - includes all transaction types without exclusion.
      explode: true
      in: query
      name: rowExclusion
      required: false
      schema:
        default: DB
        enum:
        - DB
        - B
        - "N"
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
[...]
