{
  "swagger": "2.0",
  "info": {
    "title": "Analytics Datastore  API",
    "description": "Allow clients to fetch precalculated Analytics through predeterministic URLs.",
    "contact": {
      "name": "Analytics API Support",
      "url": "https://developer.factset.com/contact",
      "email": "analytics.api.support@factset.com"
    },
    "license": {
      "name": "The Apache Software License, Version 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.txt"
    },
    "version": "1"
  },
  "host": "api-sandbox.factset.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/analytics/pub-datastore/swivel/v1/{pubDoc}/{assetName}/{reportId}/{tileId}/{accountId}": {
      "get": {
        "tags": [
          "Swivel"
        ],
        "operationId": "getSwivelEndpoint",
        "produces": [
          "headers"
        ],
        "summary": "Get Swivel endpoint, takes report parameter inputs and returns the Cargo location for the specified report via a 302 redirect.",
        "description": "Note: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body.",
        "parameters": [
          {
            "name": "pubDoc",
            "in": "path",
            "description": "The publisher document containing the report",
            "required": true,
            "type": "string",
            "default": "Analytics_Datastore"
          },
          {
            "name": "assetName",
            "in": "path",
            "description": "The PA/SPAR asset name and extension",
            "required": true,
            "type": "string",
            "default": "ADS_Demo.PA3"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The PA/SPAR report ID",
            "required": true,
            "type": "string",
            "default": "report7"
          },
          {
            "name": "tileId",
            "in": "path",
            "description": "The PA/SPAR tile ID",
            "required": true,
            "type": "string",
            "default": "tile0"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "type": "string",
            "default": "LARGE_CORE"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response (when redirect followed), returns json response body of the report.",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Content-Encoding": {
                "description": "Standard HTTP header. Header value based on Accept-Encoding Request header.",
                "type": "string"
              },
              "Content-Type": {
                "description": "Standard HTTP header.",
                "type": "string"
              },
              "Transfer-Encoding": {
                "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.",
                "type": "string"
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "302": {
            "description": "Expected response, contains the Cargo URL in the Location header.",
            "headers": {
              "Location": {
                "description": "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/pub-datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)",
                "type": "string"
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Invalid parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The provided request does not exist.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/analytics/pub-datastore/cargo/v1/groups/{groupId}/objects/{objectId}": {
      "get": {
        "tags": [
          "Cargo"
        ],
        "operationId": "getCargoEndpoint",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "summary": "Get Cargo endpoint, gets an object given an ID. In this case ID retrieved from Swivel Location header, results in json response body of the report.",
        "description": "STACH json response documentation: https://pages.github.factset.com/analytics-reporting/stachschema/#/ \r\n\nOptional request header \"accept-encoding\", with allowed values of \"br\" and \"gzip\". If accept-encoding is passed, the response is compressed.",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The ID of the group",
            "required": true,
            "type": "string",
            "default": "a4186c50f8e74f979d271dd22298c901"
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "The ID of the object",
            "required": true,
            "type": "string",
            "default": "fe875bc4150542dea6bc237663a01a0d"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns json response body of the report.",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Content-Encoding": {
                "description": "Standard HTTP header. Header value based on Accept-Encoding Request header.",
                "type": "string"
              },
              "Content-Type": {
                "description": "Standard HTTP header.",
                "type": "string"
              },
              "Transfer-Encoding": {
                "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.",
                "type": "string"
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Invalid parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The provided request does not exist.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet’s request key header.",
                "type": "string"
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "type": "string"
              },
              "X-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "type": "string"
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "type": "string"
              },
              "X-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "FactSetApiKey": {
      "type": "basic"
    },
    "FactSetOAuth2": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://auth.factset.com/as/token.oauth2",
      "scopes": {}
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "tags": []
}