{
  "openapi": "3.0.1",
  "info": {
    "title": "Best Execution Analytics for Smarter Trading (BEAST) API",
    "description": "Enables clients to programmatically access the underlying data which powers the BEAST Liquidity Analytics (LA) and Transaction Cost Analysis (TCA) applications.",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.factset.com/analytics/beast/v1"
    }
  ],
  "paths": {
    "/la/zscore/trades": {
      "get": {
        "tags": [
          "Z-Score"
        ],
        "summary": "Get Trade Z-Scores",
        "description": "Get trade z-scores for a specific date range, security and region. Z-Scores compare the value of the liquidity analytics for the\r\nlatest day in the specified date range with the mean and standard deviation from the historical period defined by the date range.",
        "operationId": "getZScoreTrades",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Search start date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search start date in the format YYYY-MM-DD",
              "example": "2024-07-29"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Search end date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search end date in the format YYYY-MM-DD",
              "example": "2024-08-29"
            }
          },
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European securities, otherwise TICKER",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "FDS"
          },
          {
            "name": "region",
            "in": "query",
            "description": "The two character ISO country code of the trading region. EMEA is used for the European trading region",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZScoreResponseRoot"
                },
                "example": {
                  "data": {
                    "analytics": [
                      {
                        "recentDate": "2024-09-13",
                        "securityId": "FDS",
                        "country": "US",
                        "histAvg": 19.223755853679414,
                        "histStd": 11.96720768549405,
                        "histMax": 29.21605919223094,
                        "histMin": 13.9665726795661,
                        "firstQuartile": 17.672189740549943,
                        "metric": "spread",
                        "thirdQuartile": 20.495501177127405,
                        "recentValue": 29.21605919223094
                      },
                      {
                        "recentDate": "2024-09-13",
                        "securityId": "FDS",
                        "country": "US",
                        "histAvg": 1.736596854,
                        "histStd": 0.43440228836759137,
                        "histMax": 2.175345426667,
                        "histMin": 1.363521526667,
                        "firstQuartile": 1.63913645166675,
                        "metric": "size",
                        "thirdQuartile": 1.831401013333,
                        "recentValue": 1.58162984
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/la/zscore/quotes": {
      "get": {
        "tags": [
          "Z-Score"
        ],
        "summary": "Get Quote Z-Scores",
        "description": "Get quote z-scores for a specific date range, security and region. Z-Scores compare the value of the liquidity analytics for the\r\nlatest day in the specified date range with the mean and standard deviation from the historical period defined by the date range.",
        "operationId": "getZScoreQuotes",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Search start date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search start date in the format YYYY-MM-DD",
              "example": "2024-07-29"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Search end date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search end date in the format YYYY-MM-DD",
              "example": "2024-08-29"
            }
          },
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European securities, otherwise TICKER",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "FDS"
          },
          {
            "name": "region",
            "in": "query",
            "description": "The two character ISO country code of the trading region. EMEA is used for the European trading region",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZScoreResponseRoot"
                },
                "example": {
                  "data": {
                    "analytics": [
                      {
                        "recentDate": "2024-09-13",
                        "securityId": "FDS",
                        "country": "US",
                        "histAvg": 19.223755853679414,
                        "histStd": 11.96720768549405,
                        "histMax": 29.21605919223094,
                        "histMin": 13.9665726795661,
                        "firstQuartile": 17.672189740549943,
                        "metric": "spread",
                        "thirdQuartile": 20.495501177127405,
                        "recentValue": 29.21605919223094
                      },
                      {
                        "recentDate": "2024-09-13",
                        "securityId": "FDS",
                        "country": "US",
                        "histAvg": 1.736596854,
                        "histStd": 0.43440228836759137,
                        "histMax": 2.175345426667,
                        "histMin": 1.363521526667,
                        "firstQuartile": 1.63913645166675,
                        "metric": "size",
                        "thirdQuartile": 1.831401013333,
                        "recentValue": 1.58162984
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/la/trade/trade-analytics": {
      "get": {
        "tags": [
          "Trade Analytics"
        ],
        "summary": "Get Trade Analytics",
        "description": "Get trade analytics for a specific date range, security and region. Analytics contain the timezone, bin time (5 minute interval), volume\r\nand volatility for the specified date range.",
        "operationId": "getTradeAnalytics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Search start date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search start date in the format YYYY-MM-DD",
              "example": "2024-07-29"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Search end date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search end date in the format YYYY-MM-DD",
              "example": "2024-08-29"
            }
          },
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European securities, otherwise TICKER",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "FDS"
          },
          {
            "name": "region",
            "in": "query",
            "description": "The two character ISO country code of the trading region. EMEA is used for the European trading region",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeAnalyticsResponseRoot"
                },
                "example": {
                  "data": {
                    "analytics": [
                      {
                        "timeZoneName": "ET",
                        "volume": 1862.5625,
                        "binTime": "09:35:00",
                        "volatility": 0.6785396483246163
                      },
                      {
                        "timeZoneName": "ET",
                        "volume": 2031.59375,
                        "binTime": "09:40:00",
                        "volatility": 0.5848665735220585
                      },
                      {
                        "timeZoneName": "ET",
                        "volume": 1862.5625,
                        "binTime": "09:45:00",
                        "volatility": 0.527719555695223
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/la/trade/volume-analytics": {
      "get": {
        "tags": [
          "Trade Analytics"
        ],
        "summary": "Get Volume Analytics",
        "description": "Get volume analytics for a specific date range, security and region",
        "operationId": "getVolumeAnalytics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Search start date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search start date in the format YYYY-MM-DD",
              "example": "2024-07-29"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Search end date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search end date in the format YYYY-MM-DD",
              "example": "2024-08-29"
            }
          },
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European securities, otherwise TICKER",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "FDS"
          },
          {
            "name": "region",
            "in": "query",
            "description": "The two character ISO country code of the trading region. EMEA is used for the European trading region",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeAnalyticsResponseRoot"
                },
                "example": {
                  "data": {
                    "analytics": [
                      {
                        "dateId": "2024-09-18",
                        "bidSideVolume": 12655.01,
                        "askSideVolume": 14907.01
                      },
                      {
                        "dateId": "2024-09-19",
                        "bidSideVolume": 11590.01,
                        "askSideVolume": 11226.01
                      },
                      {
                        "dateId": "2024-09-20",
                        "bidSideVolume": 9818.01,
                        "askSideVolume": 4406.01
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/la/quote/inside-size": {
      "get": {
        "tags": [
          "Quote Analytics"
        ],
        "summary": "Get Quote Analytics",
        "description": "Get quote inside-size analytics for a specific date range, security and region",
        "operationId": "getQuoteInsideSize",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Search start date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search start date in the format YYYY-MM-DD",
              "example": "2024-07-29"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Search end date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Search end date in the format YYYY-MM-DD",
              "example": "2024-08-29"
            }
          },
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European securities, otherwise TICKER",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "FDS"
          },
          {
            "name": "region",
            "in": "query",
            "description": "The two character ISO country code of the trading region. EMEA is used for the European trading region",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteInsideSizeResponseRoot"
                },
                "example": {
                  "data": {
                    "analytics": [
                      {
                        "timeZoneName": "ET",
                        "twasBps": 78.38861904219948,
                        "timeMs": "09:35:00",
                        "twasInsideSize": 2.008022352941
                      },
                      {
                        "timeZoneName": "ET",
                        "twasBps": 56.0681792790371,
                        "timeMs": "09:40:00",
                        "twasInsideSize": 2.146442852941
                      },
                      {
                        "timeZoneName": "ET",
                        "twasBps": 49.08899267670183,
                        "timeMs": "09:45:00",
                        "twasInsideSize": 2.100858676471
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/market-impact/previous-vwaps": {
      "get": {
        "tags": [
          "Market Impact"
        ],
        "summary": "Get Previous Volume Weighted Average Prices",
        "description": "Get previous vwaps by specified date, time range, security, region and optional currency",
        "operationId": "getPreviousVwaps",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD",
              "example": "2024-08-29"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Start Time in the format HH:MM:SS",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Start Time in the format HH:MM:SS",
              "example": "10:00:00"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End Time in the format HH:MM:SS",
            "required": true,
            "schema": {
              "type": "string",
              "description": "End Time in the format HH:MM:SS",
              "example": "15:30:00"
            }
          },
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European securities, otherwise TICKER",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "FDS"
          },
          {
            "name": "region",
            "in": "query",
            "description": "The two character ISO country code of the trading region. EMEA is used for the European trading region",
            "required": true,
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The ISO 4217 currency code",
            "schema": {
              "type": "string",
              "description": ""
            },
            "example": "USD"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VwapResponseRoot"
                },
                "example": {
                  "data": {
                    "vwap": [
                      {
                        "securityId": "FDS",
                        "dateId": "2024-09-18",
                        "timeMs": 1722456000000,
                        "vwap": 409.92282086318664
                      },
                      {
                        "securityId": "FDS",
                        "dateId": "2024-09-19",
                        "timeMs": 1722542400000,
                        "vwap": 412.0133003545226
                      },
                      {
                        "securityId": "FDS",
                        "dateId": "2024-09-20",
                        "timeMs": 1722801600000,
                        "vwap": 404.9525879141202
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/market-impact/cost-impact": {
      "get": {
        "tags": [
          "Market Impact"
        ],
        "summary": "Get Cost Impact",
        "description": "Get Cost Impact",
        "operationId": "getCostImpact",
        "parameters": [
          {
            "name": "date",
[...]
