{
  "openapi": "3.0.1",
  "info": {
    "title": "Best Execution Analytics for Smarter Trading (BEAST) API",
    "description": "Enables clients to programmatically access the underlying data which powers the BEAST Liquidity Analytics (LA) and Transaction Cost Analysis (TCA) applications.",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://api.factset.com/analytics/beast/v4"
    }
  ],
  "paths": {
    "/tca/market-impact/cost-impact": {
      "get": {
        "tags": [
          "Market Impact"
        ],
        "summary": "Get Cost Impact",
        "description": "Get Cost Impact",
        "operationId": "getCostImpactV3",
        "parameters": [
          {
            "name": "securityId",
            "in": "query",
            "description": "ISIN for European or India securities, otherwise TICKER. Works together with country and currency parameters.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FDS"
          },
          {
            "name": "country",
            "in": "query",
            "description": "The two character ISO country code of the trading region, like US. EMEA is used for the European trading region",
            "schema": {
              "type": "string"
            },
            "example": "US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The ISO 4217 currency code",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          },
          {
            "name": "orderVolume",
            "in": "query",
            "description": "Order Volume in scientific notation or float format. Example: 1000 or 1.234567e4.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1000"
          },
          {
            "name": "strategy",
            "in": "query",
            "description": "Specify the strategy, choices are: Optimal, VWAP, TWAP, Custom",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "riskAversion",
            "in": "query",
            "description": "Input risk tolerance from passive to very aggressive",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "0.1",
              "0.3"
            ]
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-29"
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Start Time in the format HH:MM",
            "schema": {
              "type": "string"
            },
            "example": "10:00"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End Time in the format HH:MM",
            "schema": {
              "type": "string"
            },
            "example": "15:00"
          },
          {
            "name": "isMomentum",
            "in": "query",
            "description": "Flag to apply stock momentum. Specify true to include momentum",
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "side",
            "in": "query",
            "description": "Indicate whether a buyer or seller. Only applies when isMomentum is true. Example: Buy or Sell",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "peer",
            "in": "query",
            "description": "Flag to apply peer calibration. Specify true to include peer calibration",
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "frontLoadHalfLife",
            "in": "query",
            "description": "Speeds up early execution",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 1000
          },
          {
            "name": "rearLoadHalfLife",
            "in": "query",
            "description": "Delays orders towards end of the trading day",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "example": 0
          },
          {
            "name": "rearRatio",
            "in": "query",
            "description": "Adjusts weighting of final execution",
            "schema": {
              "type": "number",
              "format": "float",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "binsData",
            "in": "query",
            "description": "Flag to apply BinsData. Specify true to include BinsData",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostImpactResponseRootV3"
                },
                "example": {
                  "data": {
                    "client": [
                      {
                        "securityId": "FDS",
                        "country": "US",
                        "currency": "USD",
                        "strategy": "vwap",
                        "riskAversion": 0.3,
                        "costPerShare": 2.13325,
                        "costPerShareBps": 52.67918,
                        "marketImpact": 3.74401,
                        "confidenceInterval": 2.99521,
                        "confidenceIntervalBps": 71.04505,
                        "liquidityCostPerShare": 1.07881,
                        "spreadCostPerShare": 0.78121,
                        "liquidityCostPerShareBps": 23.36197,
                        "spreadCostPerShareBps": 11.91709,
                        "outputStrategyBinDataDtoList": [
                          {
                            "binTime": "09:30",
                            "dateId": "2025-07-31",
                            "totalCost": 1.5,
                            "spreadCost": 1.57,
                            "liquidityCost": 1.23,
                            "confidenceInterval": 404.95254,
                            "signalCost": 1.53,
                            "cappedPrice": 404.91258,
                            "reversionPrice": 404.05259,
                            "stockPrice": 404.25259,
                            "arrivalMid": 404.45256,
                            "strategyVolume": 1.52,
                            "partRate": 1.2,
                            "momentum": 0.1
                          },
                          {
                            "binTime": "09:35",
                            "dateId": "2025-07-31",
                            "totalCost": 1.5,
                            "spreadCost": 1.5,
                            "liquidityCost": 1.5,
                            "confidenceInterval": 404.95258,
                            "signalCost": 1.5,
                            "cappedPrice": 404.95258,
                            "reversionPrice": 404.95258,
                            "stockPrice": 404.95252,
                            "arrivalMid": 404.95257,
                            "strategyVolume": 1.5,
                            "partRate": 1.5,
                            "momentum": 0.1
                          }
                        ]
                      }
                    ],
                    "peer": [
                      {
                        "strategy": "vwap",
                        "riskAversion": 0.3,
                        "costPerShare": 2.13325,
                        "costPerShareBps": 52.679,
                        "marketImpact": 3.744,
                        "confidenceInterval": 2.9921,
                        "confidenceIntervalBps": 71.0505,
                        "liquidityCostPerShare": 1.0781,
                        "spreadCostPerShare": 0.7121,
                        "liquidityCostPerShareBps": 23.3697,
                        "spreadCostPerShareBps": 11.9109,
                        "outputStrategyBinDataDtoList": [
                          {
                            "binTime": "09:30",
                            "dateId": "2025-07-31",
                            "totalCost": 1.52,
                            "spreadCost": 1.572,
                            "liquidityCost": 1.233,
                            "confidenceInterval": 404.9558,
                            "signalCost": 1.537,
                            "cappedPrice": 404.9558,
                            "reversionPrice": 404.9558,
                            "stockPrice": 404.958,
                            "arrivalMid": 404.9558,
                            "strategyVolume": 1.528,
                            "partRate": 1.21,
                            "momentum": 0.12
                          },
                          {
                            "binTime": "09:35",
                            "dateId": "2025-07-31",
                            "totalCost": 1.51,
                            "spreadCost": 1.52,
                            "liquidityCost": 1.53,
                            "confidenceInterval": 404.9525,
                            "signalCost": 1.5,
                            "cappedPrice": 404.9528,
                            "reversionPrice": 404.9558,
                            "stockPrice": 404.9528,
                            "arrivalMid": 404.9528,
                            "strategyVolume": 1.5,
                            "partRate": 1.55,
                            "momentum": 0.14
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/liquidity/volume-analytics": {
      "get": {
        "tags": [
          "Liquidity Analytics"
        ],
        "summary": "Get Liquidity Volume Analytics",
        "description": "Get Liquidity Volume Analytics",
        "operationId": "getLiquidityVolumeAnalytics",
        "parameters": [
          {
            "name": "securityIds",
            "in": "query",
            "description": "ISIN for European or India securities, otherwise TICKER. Either FDS-US-USD or FDS-US works.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FDS-US-USD",
              "AAPL-US",
              "MX-CA"
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-21"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-29"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeAnalyticsResponseRootV3"
                },
                "example": {
                  "data": [
                    {
                      "volumeAnalytics": [
                        {
                          "dateId": "2024-08-13",
                          "bidSideVolume": 12655.01,
                          "askSideVolume": 14907.01,
                          "blockVolume": 8608203.01
                        },
                        {
                          "dateId": "2024-08-14",
                          "bidSideVolume": 11590.01,
                          "askSideVolume": 11226.01,
                          "blockVolume": 8680809.01
                        },
                        {
                          "dateId": "2024-08-15",
                          "bidSideVolume": 9818.01,
                          "askSideVolume": 4406.01,
                          "blockVolume": 4556.01
                        }
                      ],
                      "securityId": "FDS",
                      "country": "US",
                      "currency": "USD"
                    },
                    {
                      "volumeAnalytics": [
                        {
                          "dateId": "2024-08-13",
                          "bidSideVolume": 10650.01,
                          "askSideVolume": 8540.01,
                          "blockVolume": 8608145.01
                        },
                        {
                          "dateId": "2024-08-14",
                          "bidSideVolume": 9216.01,
                          "askSideVolume": 4785.01
                        },
                        {
                          "dateId": "2024-08-15",
                          "bidSideVolume": 9834.02,
                          "askSideVolume": 4106.08,
                          "blockVolume": 8680456.01
                        }
                      ],
                      "securityId": "AAPL",
                      "country": "US",
                      "currency": "USD"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/liquidity/trades": {
      "get": {
        "tags": [
          "Liquidity Analytics"
        ],
        "summary": "Get Liquidity Trades",
        "description": "Get Liquidity Trades",
        "operationId": "getLiquidityTrades",
        "parameters": [
          {
            "name": "securityIds",
            "in": "query",
            "description": "ISIN for European or India securities, otherwise TICKER. Either FDS-US-USD or FDS-US works.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FDS-US-USD",
              "AAPL-US",
              "MX-CA"
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-21"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-29"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesAnalyticsResponseRoot"
                },
                "example": {
                  "data": [
                    {
                      "metrics": [
                        {
                          "metric": "volatility",
                          "histAvg": 1.014065732873781,
                          "histStd": 0.5259449705015632,
                          "histMax": 1.746613869863093,
                          "histMin": 0.5211641652851294,
                          "histMedian": 0.703787088214544,
                          "firstQuartile": 0.7231021278014135,
                          "thirdQuartile": 1.1852060532458186,
                          "recentValue": 0.5211641652851297,
                          "recentDate": "2024-08-27"
                        },
                        {
                          "metric": "volume",
                          "histAvg": 143483.1,
                          "histStd": 27091.65515430902,
                          "histMax": 174633.01,
                          "histMin": 109604.01,
                          "histMedian": 0.70378704556,
                          "firstQuartile": 131295.01,
                          "thirdQuartile": 157036.01,
                          "recentValue": 174637.01,
                          "recentDate": "2024-08-27"
                        }
                      ],
                      "securityId": "FDS",
                      "country": "US",
                      "currency": "USD"
                    },
                    {
                      "metrics": [
                        {
                          "metric": "volatility",
                          "histAvg": 0.7037870882171191,
                          "histStd": 0.2519461680937696,
                          "histMax": 0.8819399321701895,
                          "histMin": 0.5256342442640487,
                          "histMedian": 0.7037870882171191,
                          "firstQuartile": 0.6147106662405839,
                          "thirdQuartile": 0.7928635101936543,
                          "recentValue": 0.5256342442640487,
                          "recentDate": "2024-08-27"
                        },
                        {
                          "metric": "volume",
                          "histAvg": 27996404.5,
                          "histStd": 2309753.6941441395,
                          "histMax": 29629647.01,
                          "histMin": 26363162.01,
                          "histMedian": 27996404.5,
                          "firstQuartile": 27179783.25,
                          "thirdQuartile": 28813025.75,
                          "recentValue": 26363162.01,
                          "recentDate": "2024-08-27"
                        }
                      ],
                      "securityId": "AAPL",
                      "country": "US",
                      "currency": "USD"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/liquidity/quotes": {
      "get": {
        "tags": [
          "Liquidity Analytics"
        ],
        "summary": "Get Liquidity Quotes",
        "description": "Get Liquidity Quotes",
        "operationId": "getLiquidityQuotes",
        "parameters": [
          {
            "name": "securityIds",
            "in": "query",
            "description": "ISIN for European or India securities, otherwise TICKER. Either FDS-US-USD or FDS-US works.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FDS-US-USD",
              "AAPL-US",
              "MX-CA"
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-21"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-29"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesAnalyticsResponseRoot"
                },
                "example": {
                  "data": [
                    {
                      "metrics": [
                        {
                          "metric": "size",
                          "histAvg": 1.575394469557,
                          "histStd": 0.720924560125396,
                          "histMax": 1.663111108975,
                          "histMin": 1.485434076924,
                          "histMedian": 2.57696034568,
                          "firstQuartile": 1.5258834903843,
                          "thirdQuartile": 1.62602732532072,
                          "recentValue": 1.613666064101,
                          "recentDate": "2024-08-27"
                        },
                        {
                          "metric": "spread",
                          "histAvg": 40.4582728804221,
                          "histStd": 144.63229950554253,
                          "histMax": 51.60823966107483,
                          "histMin": 31.934934293438953,
                          "histMedian": 2.576960374354,
                          "firstQuartile": 36.91770221046765,
                          "thirdQuartile": 42.685529453543225,
                          "recentValue": 51.60823966107487,
                          "recentDate": "2024-08-27"
                        }
                      ],
                      "securityId": "FDS",
                      "country": "US",
                      "currency": "USD"
                    },
                    {
                      "metrics": [
                        {
                          "metric": "size",
                          "histAvg": 2.658406392857,
                          "histStd": 0.7488305742988292,
                          "histMax": 2.859864128205,
                          "histMin": 2.379687666667,
                          "histMedian": 2.576960371795,
                          "firstQuartile": 2.556991580128,
                          "thirdQuartile": 2.8391747115385,
                          "recentValue": 2.837077339744,
                          "recentDate": "2024-08-29"
                        },
                        {
                          "metric": "spread",
                          "histAvg": 0.8708763445869699,
                          "histStd": 0.45563328914564116,
                          "histMax": 1.0133664280703603,
                          "histMin": 0.778542894736771,
                          "histMedian": 0.8371571452804616,
                          "firstQuartile": 0.828383697474613,
                          "thirdQuartile": 0.9051502745359855,
                          "recentValue": 1.0133664280703603,
                          "recentDate": "2024-08-29"
                        }
                      ],
                      "securityId": "AAPL",
                      "country": "US",
                      "currency": "USD"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/liquidity/liquidity-analytics": {
      "get": {
        "tags": [
          "Liquidity Analytics"
        ],
        "summary": "Get Liquidity Analytics",
        "description": "Get Liquidity Analytics",
        "operationId": "getLiquidityAnalytics",
        "parameters": [
          {
            "name": "securityIds",
            "in": "query",
            "description": "ISIN for European or India securities, otherwise TICKER. Either FDS-US-USD or FDS-US works.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FDS-US-USD",
              "AAPL-US",
              "MX-CA"
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-21"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-29"
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiquidityAnalyticsResponseRoot"
                },
                "example": {
                  "data": [
                    {
                      "quoteAnalytics": [
                        {
                          "binTime": "09:30",
                          "twas": 4.778922633333321,
                          "twSize": 221.062,
                          "numQuotes": 137,
                          "spreadTime": 300000.01,
                          "fittedTwas": 3.826078909466783,
                          "fittedTwSize": 0.01
                        },
                        {
                          "binTime": "09:35",
                          "twas": 3.659864966666667,
                          "twSize": 500.42,
                          "numQuotes": 86,
                          "spreadTime": 300000.01,
                          "fittedTwas": 3.500180573003603,
                          "fittedTwSize": 193.35217526881203
                        }
                      ],
                      "tradeAnalytics": [
                        {
                          "avgVolume": 1791.01,
                          "avgVolatility": 0.4994967981677922,
                          "binTime": "09:30",
                          "vwap": 424.98925100264853,
                          "regularVolume": 100.01,
                          "blockVolume": 0.01,
                          "nonRegularVolume": 1221.5,
                          "oddLot": 1018.5,
                          "darkVolume": 0.01,
                          "numTrades": 255,
                          "fractionalVolume": 0.01,
                          "fittedVolume": -112.10968190152192,
                          "fittedVolatility": 0.5637994895741514
                        },
                        {
                          "avgVolume": 361.01,
                          "avgVolatility": 0.7222301651506802,
                          "binTime": "09:35",
                          "vwap": 420.38938448497305,
                          "regularVolume": 352.5,
                          "blockVolume": 0.01,
                          "nonRegularVolume": 1594.01,
                          "oddLot": 1544.01,
                          "darkVolume": 0.01,
                          "numTrades": 345,
                          "fractionalVolume": 0.01,
                          "fittedVolume": 375.00285810697824,
                          "fittedVolatility": 0.5425051739271604
                        }
                      ],
                      "timeZoneName": "America/New_York",
                      "securityId": "FDS",
                      "country": "US",
                      "currency": "USD"
                    },
                    {
                      "quoteAnalytics": [
                        {
                          "binTime": "09:30",
                          "twas": 0.04801443333333298,
                          "twSize": 198.8584,
                          "numQuotes": 6689,
                          "spreadTime": 300000.01,
                          "fittedTwas": 0.03307508951780047,
                          "fittedTwSize": 204.60998583085893
                        },
                        {
                          "binTime": "09:35",
                          "twas": 0.026027966666666742,
                          "twSize": 235.6561,
                          "numQuotes": 7119,
                          "spreadTime": 300000.01,
                          "fittedTwas": 0.03072990098260764,
                          "fittedTwSize": 212.96569099850603
                        }
                      ],
                      "tradeAnalytics": [
                        {
                          "avgVolume": 2023.01,
                          "avgVolatility": 0.32397281663030897,
                          "binTime": "09:30",
                          "vwap": 212.46639318476747,
                          "regularVolume": 1431937.5,
                          "blockVolume": 886534.5,
                          "nonRegularVolume": 591235.01,
                          "oddLot": 324821.5,
                          "darkVolume": 0.01,
                          "numTrades": 58404,
                          "fractionalVolume": 0.01,
                          "fittedVolume": 1906734.13641271,
                          "fittedVolatility": 0.3487421721838153
                        },
                        {
                          "avgVolume": 1593460.5,
                          "avgVolatility": 0.3434011530771328,
                          "binTime": "09:35",
                          "vwap": 213.2255148562575,
                          "regularVolume": 1582564.01,
                          "blockVolume": 443663.5,
                          "nonRegularVolume": 10896.5,
                          "oddLot": 335672.01,
                          "darkVolume": 0.01,
                          "numTrades": 42621,
                          "fractionalVolume": 0.01,
                          "fittedVolume": 1751802.5453826487,
                          "fittedVolatility": 0.316530851511132
                        }
                      ],
                      "timeZoneName": "America/New_York",
                      "securityId": "AAPL",
                      "country": "US",
                      "currency": "USD"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "errors": [
                    {
                      "id": "66B36296276001D6",
                      "code": "BadRequest",
                      "title": "Failed to process request",
                      "detail": "query parameter not specified"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Retry the requests after waiting the time specified in the Retry-After header.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has been reached.",
                "schema": {
                  "type": "string",
                  "description": "Time to wait in seconds before making a new request as the rate limit has been reached."
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify the API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify the API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of allowed requests for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string",
                  "description": "Number of requests left for the time window."
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining until the rate limit resets.",
                "schema": {
                  "type": "string",
                  "description": "Number of seconds remaining until the rate limit resets."
                }
              }
            }
          }
        }
      }
    },
    "/tca/outlier/metrics-standard": {
      "get": {
        "tags": [
          "Outliers"
        ],
        "summary": "Get Outlier Metrics by standard deviation",
        "description": "Get outlier metrics by the specified metric type and date range",
        "operationId": "getOutlierMetricsStandard",
        "parameters": [
          {
            "name": "metricType",
            "in": "query",
            "description": "The benchmark to measure outlier metrics",
            "required": true,
            "schema": {
              "enum": [
                "firstFillMidPerfBps",
                "lastFillMidPerfBps",
                "openPerfBps",
                "closePerfBps",
                "vwapFfLfPerfBps",
                "reversion5MinMidBps",
                "reversion10MinMidBps",
                "reversion15MinMidBps",
                "reversion60MinMidBps",
                "pwp100PerfBps",
                "pwp50PerfBps",
                "pwp20PerfBps",
                "pwp10PerfBps",
                "pwp05PerfBps",
                "pwp03PerfBps",
                "pwp02PerfBps",
                "pwp01PerfBps"
              ],
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-21"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date in the format YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-08-29"
          },
          {
            "name": "country",
            "in": "query",
            "description": "The two character ISO country code of the trading region, like US. EMEA is used for the European trading region",
            "schema": {
              "type": "string"
            },
            "example": "US"
          },
          {
            "name": "trader",
            "in": "query",
            "description": "Optionally specify a trader to filter by, Example : Ryan",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviation",
            "in": "query",
            "description": "The winsorization deviation - standard deviation to define orders as outlier",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 2
            },
            "example": 2
          },
          {
            "name": "binScalar",
            "in": "query",
[...]
