{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/debtInstrument/get": {
      "get": {
        "tags": [
          "debtInstrument"
        ],
        "operationId": "get/debtInstrument/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Fundamental data for a debt instrument.",
        "description": "Fundamental data for a debt instrument; any other instrument yields empty values for debt-instrument-specific attributes. Dates are interpreted in the timezone of the issuer.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the instrument."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Fundamental data for a debt instrument.",
                  "type": "object",
                  "x-property-sort": [
                    "isin",
                    "nsin",
                    "name",
                    "shortName",
                    "type",
                    "lifeCycle",
                    "issuer",
                    "issue",
                    "tradingVolume",
                    "redemption",
                    "nominalValue",
                    "debtRanking",
                    "germany"
                  ],
                  "properties": {
                    "isin": {
                      "type": "string",
                      "format": "isin",
                      "description": "The International Securities Identification Number (ISIN) of the instrument. The ISIN is a 12-character code of digits and upper-case letters that uniquely identifies an instrument."
                    },
                    "nsin": {
                      "type": "object",
                      "x-property-sort": [
                        "wkn",
                        "valor"
                      ],
                      "description": "NSIN data of the instrument.",
                      "properties": {
                        "wkn": {
                          "type": "string",
                          "description": "The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument."
                        },
                        "valor": {
                          "type": "string",
                          "description": "The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument."
                        }
                      }
                    },
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the instrument."
                    },
                    "shortName": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Short name of the instrument."
                    },
                    "type": {
                      "description": "Instrument type as defined by FactSet Digital Solutions. Instrument types are arranged in a hierarchy, with the first level representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18). See endpoint `/category/get` for possible values.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the instrument type."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the instrument type."
                          }
                        }
                      }
                    },
                    "lifeCycle": {
                      "type": "object",
                      "x-property-sort": [
                        "issue",
                        "maturity"
                      ],
                      "description": "Important dates of the instrument.",
                      "properties": {
                        "issue": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the issue."
                        },
                        "maturity": {
                          "type": "object",
                          "x-property-sort": [
                            "date",
                            "isPerpetual",
                            "isCallable"
                          ],
                          "description": "Maturity data.",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the instrument's maturity. The value is empty if the instrument is perpetual."
                            },
                            "isPerpetual": {
                              "type": "boolean",
                              "description": "If true, the instrument is perpetual, i.e. it does not mature, therefore the attribute `date` is null."
                            },
                            "isCallable": {
                              "type": "boolean",
                              "description": "If true, the issuer may redeem the instrument prior to maturity."
                            }
                          }
                        }
                      }
                    },
                    "issuer": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name",
                        "lei"
                      ],
                      "description": "Issuer of the instrument. See endpoint `/legalEntity/list` for possible values.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "id64",
                          "x-positive": true,
                          "description": "Identifier of the issuer."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the issuer."
                        },
                        "lei": {
                          "type": "string",
                          "description": "Legal Entity Identifier of the issuer."
                        }
                      }
                    },
                    "issue": {
                      "type": "object",
                      "x-property-sort": [
                        "price",
                        "volume"
                      ],
                      "description": "Issue data of the instrument.",
                      "properties": {
                        "price": {
                          "type": "object",
                          "x-property-sort": [
                            "value",
                            "valueUnit"
                          ],
                          "description": "Issue price data.",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "real",
                              "description": "Issue price."
                            },
                            "valueUnit": {
                              "type": "object",
                              "x-property-sort": [
                                "id",
                                "code"
                              ],
                              "description": "Value unit of the issue price such as percentages for a debt instrument quoted in percent, or a main or a fractional currency for a per-unit-quoted debt instrument (rarely). See endpoint `/basic/valueUnit/list` for possible values.",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true,
                                  "description": "Identifier of the value unit."
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the value unit."
                                }
                              }
                            }
                          }
                        },
                        "volume": {
                          "type": "object",
                          "x-property-sort": [
                            "amount",
                            "currency"
                          ],
                          "description": "Issue volume data.",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "format": "real",
                              "description": "Issue volume."
                            },
                            "currency": {
                              "type": "object",
                              "x-property-sort": [
                                "id",
                                "code",
                                "isoCode"
                              ],
                              "description": "Main currency of denomination of the issue volume. See endpoint `/basic/valueUnit/currency/main/list` for possible values.",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true,
                                  "description": "Identifier of the currency."
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the currency: if assigned, a code according to ISO 4217, otherwise a local code."
                                },
                                "isoCode": {
                                  "type": "string",
                                  "description": "ISO 4217 code of the currency."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "tradingVolume": {
                      "type": "object",
                      "x-property-sort": [
                        "minimum",
                        "increment"
                      ],
                      "description": "Requirements regarding the trading volume in the over-the-counter (non-exchange-based) trading. For the currency of the trading volume, see attribute `issue.volume.currency`.",
                      "properties": {
                        "minimum": {
                          "type": "number",
                          "format": "real",
                          "description": "Minimum trading volume."
                        },
                        "increment": {
                          "type": "number",
                          "format": "real",
                          "description": "Incremental trading volume over the minimum. The trading volume over the minimum must be an integral multiple of the increment."
                        }
                      }
                    },
                    "redemption": {
                      "type": "object",
                      "x-property-sort": [
                        "price",
                        "currency"
                      ],
                      "description": "Redemption data of the instrument.",
                      "properties": {
                        "price": {
                          "type": "object",
                          "x-property-sort": [
                            "value",
                            "valueUnit"
                          ],
                          "description": "Redemption price data.",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "real",
                              "description": "Redemption price."
                            },
                            "valueUnit": {
                              "type": "object",
                              "x-property-sort": [
                                "id",
                                "code"
                              ],
                              "description": "Value unit of the redemption price such as percentages for a debt instrument quoted in percent, or a main or a fractional currency for a per-unit-quoted debt instrument (rarely). See endpoint `/basic/valueUnit/list` for possible values.",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true,
                                  "description": "Identifier of the value unit."
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the value unit."
                                }
                              }
                            }
                          }
                        },
                        "currency": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "code",
                            "isoCode"
                          ],
                          "description": "Main currency of the redemption. See endpoint `/basic/valueUnit/currency/main/list` for possible values.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of the currency."
                            },
                            "code": {
                              "type": "string",
                              "description": "Code of the currency: if assigned, a code according to ISO 4217, otherwise a local code."
                            },
                            "isoCode": {
                              "type": "string",
                              "description": "ISO 4217 code of the currency."
                            }
                          }
                        }
                      }
                    },
                    "nominalValue": {
                      "type": "number",
                      "format": "real",
                      "description": "Nominal value for per-unit quoted debt instruments. Debt instruments quoted in percent do not have a nominal value per se."
                    },
                    "debtRanking": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "description": "Ranking data of the debt instrument. It indicates how payments related to the debt instrument are ranked  compared to payments on the issuer's other obligations.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the debt ranking."
                        },
                        "name": {
                          "type": "string",
                          "format": "localizedString",
                          "description": "Name of the debt ranking."
                        }
                      }
                    },
                    "germany": {
                      "type": "object",
                      "x-property-sort": [
                        "isTrusteeEligible"
                      ],
                      "description": "Specific data for Germany.",
                      "properties": {
                        "isTrusteeEligible": {
                          "type": "boolean",
                          "description": "If true, the debt instrument is eligible for investments by trustees according to §§1806ff of the BGB (German Civil Code). The German legislative has declared it to be virtually free of the risk of loss, such as government and state bonds. Eligible are primarily German securities."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/debtInstrument/issuer/search": {
      "post": {
        "tags": [
          "debtInstrument"
        ],
        "operationId": "post/debtInstrument/issuer/search",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Search for issuers of debt instruments.",
        "description": "Search for issuers of debt instruments. FactSet does not consolidate the data provided by different suppliers, therefore the result may contain more than one identifier for a given issuer. The response is limited to 100 results.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "name",
                    "minimumRatingGrade",
                    "country",
                    "market"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "name": {
                      "type": "object",
                      "x-property-sort": [
                        "searchValue"
                      ],
                      "description": "Issuer name.",
                      "properties": {
                        "searchValue": {
                          "type": "string",
                          "pattern": "^[ -!#-&(-+--/0-:=?-Za-zw\"]*$",
                          "minLength": 3,
                          "exclusiveMinimum": false,
                          "maxLength": 100,
                          "exclusiveMaximum": false,
                          "description": "Text string to be searched for."
                        }
                      }
                    },
                    "minimumRatingGrade": {
                      "type": "object",
                      "x-property-sort": [
                        "debtInstrument"
                      ],
                      "description": "Minimum rating grade requirements for the issuers or their debt instruments. In either case, only one identifier per rating system is allowed. See endpoint `/rating/grade/listBySystem` for valid values.",
                      "properties": {
                        "debtInstrument": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Debt instrument rating. Only issuers whose debt instruments are rated higher than or equal to the rating grades in the provided list are returned.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "maxItems": 5,
                              "uniqueItems": true,
                              "description": "List of rating grade identifiers."
                            }
                          }
                        }
                      }
                    },
                    "country": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "List of countries of registration of the issuers. Only issuers that are registered in a country in the provided list are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "maxItems": 20,
                          "uniqueItems": true,
                          "description": "List of country identifiers. See endpoint `/basic/region/country/list` for valid values."
                        }
                      }
                    },
                    "market": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "List of markets where debt instruments are traded. Only issuers that have issued at least one debt instrument traded on a market in the provided list are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "maxItems": 20,
                          "uniqueItems": true,
                          "description": "List of market identifiers. See endpoint `/basic/market/list` for valid values."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    }
                  },
                  "x-property-sort": [
                    "attributes"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "count"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of an issuer."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the issuer."
                      },
                      "count": {
                        "type": "number",
                        "format": "int32",
                        "description": "Number of debt instruments issued."
                      }
                    }
                  },
                  "description": "List of issuers, sorted descending by the number of debt instruments issued."
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/debtInstrument/keyFigures/notation/get": {
      "get": {
        "tags": [
          "debtInstrument"
        ],
        "operationId": "get/debtInstrument/keyFigures/notation/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Key figures of a debt instrument.",
        "description": "Key figures of a debt instrument. The key figures are calculated using delayed prices with an additional delay of 10 minutes after an  update of the debt instrument's price. Special product features such as the right to a maturity extension, an attached option, or convertibility are not considered for the key figure calculation. Further, a calculation is not performed for perpetual products and for products with variable interest rate.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of a notation."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "calculation",
                    "yield",
                    "macaulayDuration",
                    "sensitivities"
                  ],
                  "description": "Key figures and related data.",
                  "properties": {
                    "calculation": {
                      "type": "object",
                      "x-property-sort": [
                        "time",
                        "price"
                      ],
                      "description": "Details of the calculation.",
                      "properties": {
                        "time": {
                          "type": "string",
                          "format": "datetime",
                          "description": "Date and time of the calculation."
                        },
                        "price": {
                          "type": "object",
                          "x-property-sort": [
                            "value",
                            "valueUnit",
                            "dirtyPricing"
                          ],
                          "description": "Price used for the calculation.",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "real",
                              "description": "Price value."
                            },
                            "valueUnit": {
                              "type": "object",
                              "x-property-sort": [
                                "id",
                                "code"
                              ],
                              "description": "Value unit of the notation of the debt instrument, such as a main currency for a per-unit-quoted debt instrument (rarely), or percentages for a debt instrument quoted in percent. See endpoint `/basic/valueUnit/list` for possible values.",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true,
                                  "description": "Identifier of the value unit."
                                },
                                "code": {
                                  "type": "string",
                                  "description": "Code of the value unit."
                                }
                              }
                            },
                            "dirtyPricing": {
                              "type": "boolean",
                              "description": "If true, the attribute `price.value` contains the accrued interest."
                            }
                          }
                        }
                      }
                    },
                    "yield": {
                      "type": "object",
                      "x-property-sort": [
                        "current",
                        "toMaturity",
                        "spread"
                      ],
                      "description": "Yield-related key figures.",
                      "properties": {
                        "current": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Current yield, which is the next annual interest payment divided by the price. If the coupon period is different than a year, the interest payment is annualized."
                        },
                        "toMaturity": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Yield to maturity, which is the annual rate of return, assuming the instrument is held until maturity."
                        },
                        "spread": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Credit spread, which is the difference in yield to maturity between a highest-quality debt instrument, also called a benchmark bond, and the debt instrument. See endpoint `/instrument/benchmark/list` for the benchmark bond."
                        }
                      }
                    },
                    "macaulayDuration": {
                      "type": "number",
                      "format": "real",
                      "description": "Macaulay duration, which is the average period (in years) of capital commitment."
                    },
                    "sensitivities": {
                      "type": "object",
                      "x-property-sort": [
                        "basePointValue",
                        "modifiedDuration",
                        "elasticity",
                        "convexity"
                      ],
                      "description": "Price sensitivities of the debt instrument with respect to the prevailing market interest rate.",
                      "properties": {
                        "basePointValue": {
                          "type": "number",
                          "format": "real",
                          "description": "Base point value, which is the change of the debt instrument's price for a one base point change (nominally, not relatively) of the prevailing market interest rate. One base point is equivalent to 0,01 percent (1/100 of a percent). See attribute `price/valueUnit` for its value unit."
                        },
                        "modifiedDuration": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Modified duration, which is the percentage change of the debt instrument's price for a one percent change (nominally, not relatively) of the prevailing market interest rate."
                        },
                        "elasticity": {
                          "type": "number",
                          "format": "real",
                          "description": "Yield elasticity, which is the ratio of the percentage change of the debt instrument's price for a one percent change (relatively, not nominally) of the prevailing market interest rate."
                        },
                        "convexity": {
                          "type": "number",
                          "format": "real",
                          "description": "Convexity, which is a measure for the change of the modified duration as the prevailing market interest rate changes."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/debtInstrument/notation/screener/search": {
      "post": {
        "tags": [
          "debtInstrument"
        ],
        "operationId": "post/debtInstrument/notation/screener/search",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Screener for debt instruments' notations based on debt instrument-specific parameters.",
        "description": "Screener for debt instruments' notations based on debt instrument-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "validation",
                    "lifeCycle",
                    "subordinated",
                    "rating",
                    "issuer",
                    "issue",
                    "tradingVolume",
                    "compliance",
                    "coupon",
                    "yield",
                    "macaulayDuration",
                    "sensitivities",
                    "tradedValue"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "validation": {
                      "description": "Validation parameters.",
                      "type": "object",
                      "x-property-sort": [
                        "onlyActive",
                        "onlyNotSuspended",
                        "prices",
                        "valueUnit",
                        "market",
                        "instrumentSelectionList",
                        "notationSelectionList",
                        "categorization"
                      ],
                      "properties": {
                        "onlyActive": {
                          "description": "If `true`, only active notations will be returned. The term \"active\" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.",
                          "type": "boolean",
                          "default": true
                        },
                        "onlyNotSuspended": {
                          "description": "If `true`, only notations not suspended from trading will be returned.",
                          "type": "boolean",
                          "default": false
                        },
                        "prices": {
                          "description": "Price-related parameters.",
                          "type": "object",
                          "x-property-sort": [
                            "quality",
                            "latest",
                            "previous"
                          ],
                          "properties": {
                            "quality": {
                              "type": "string",
                              "description": "Quality of the price.",
                              "default": "DLY",
                              "x-enum-description": [
                                "Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.",
                                "End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days."
                              ],
                              "enum": [
                                "DLY",
                                "EOD"
                              ]
                            },
                            "latest": {
                              "description": "Parameters related to the presence and age of the most recent trade price.",
                              "type": "object",
                              "x-property-sort": [
                                "availableOnly",
                                "minimumDate"
                              ],
                              "properties": {
                                "availableOnly": {
                                  "description": "If `true`, only notations for which a trade price (even an outdated one) is available will be returned.",
                                  "type": "boolean"
                                },
                                "minimumDate": {
                                  "description": "Earliest admissible date of the most recent trade price.",
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            },
                            "previous": {
                              "description": "Parameters related to the presence and age of a trade price from a preceding trading day.",
                              "type": "object",
                              "x-property-sort": [
                                "availableOnly",
                                "minimumDate"
                              ],
                              "properties": {
                                "availableOnly": {
                                  "description": "If `true`, only notations for which a trade price from a preceding trading day is available will be returned.",
                                  "type": "boolean"
                                },
                                "minimumDate": {
                                  "description": "Earliest admissible date of the trade price from a preceding trading day.",
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            }
                          }
                        },
                        "valueUnit": {
                          "description": "Value unit selection. See endpoint `/basic/valueUnit/list` for valid values.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Specifies the value units a notation may have.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of value unit identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            },
                            "exclude": {
                              "description": "Specifies the value units a notation may not have.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of value unit identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            }
                          }
                        },
                        "market": {
                          "description": "Market-related notation selection. See endpoint `/basic/market/list` for valid values.",
                          "type": "object",
                          "x-property-sort": [
                            "selection",
                            "priority"
                          ],
                          "properties": {
                            "selection": {
                              "description": "Market selection.",
                              "type": "object",
                              "x-property-sort": [
                                "restrict",
                                "exclude"
                              ],
                              "x-atMostOne": true,
                              "properties": {
                                "restrict": {
                                  "description": "Specifies the markets from which a notation may originate.",
                                  "type": "object",
                                  "x-property-sort": [
                                    "ids"
                                  ],
                                  "properties": {
                                    "ids": {
                                      "description": "Set of market identifiers.",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "id32",
                                        "x-positive": true
                                      },
                                      "uniqueItems": true,
                                      "maxItems": 100
                                    }
                                  }
                                },
                                "exclude": {
                                  "description": "Specifies the markets from which a notation may not originate.",
                                  "type": "object",
                                  "x-property-sort": [
                                    "ids"
                                  ],
                                  "properties": {
                                    "ids": {
                                      "description": "Set of market identifiers.",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "id32",
                                        "x-positive": true
                                      },
                                      "uniqueItems": true,
                                      "maxItems": 100
                                    }
                                  }
                                }
                              }
                            },
                            "priority": {
                              "description": "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose).",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "List of market identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 100
                                }
                              }
                            }
                          }
                        },
                        "instrumentSelectionList": {
                          "description": "Instrument-level restriction or exclusion.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction lists. If present, the result contains only notations belonging to debt instruments that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of restriction lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion lists. If present, the result does not contain notations belonging to debt instruments that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of exclusion lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            }
                          }
                        },
                        "notationSelectionList": {
                          "description": "Notation-level restriction or exclusion.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction lists. If present, the result contains only debt instrument notations that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of restriction lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion lists. If present, the result does not contain debt instrument notations that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of exclusion lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            }
                          }
                        },
                        "categorization": {
                          "description": "Debt instrument categorization. See endpoint `/category/listBySystem` with `id=18` for valid values.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only debt instruments that belong to a category in the provided list are returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of category identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 20
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion lists. Debt instruments that belong to a category in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of category identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 20
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "lifeCycle": {
                      "description": "Parameters related to important dates.",
                      "type": "object",
                      "x-property-sort": [
                        "issue",
                        "maturity",
                        "callable"
                      ],
                      "properties": {
                        "issue": {
                          "type": "object",
                          "format": "dateRange",
                          "x-isClosedInterval": true,
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "date",
                              "description": "The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "date",
                              "description": "The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Date range of the issue date."
                        },
                        "maturity": {
                          "description": "Parameters related to the maturity.",
                          "type": "object",
                          "x-property-sort": [
                            "restriction",
                            "perpetual"
                          ],
                          "properties": {
                            "restriction": {
                              "description": "The maturity can be restricted by using one of the parameters `date` or `remainingTermYears` but not both at the same time. If a maturity restriction is set, perpetual instruments, i.e. such that do not mature, are not included in the result unless the parameter `perpetual` is set to \"include\".",
                              "type": "object",
                              "x-property-sort": [
                                "date",
                                "remainingTermYears"
                              ],
                              "x-atMostOne": true,
                              "properties": {
                                "date": {
                                  "type": "object",
                                  "format": "dateRange",
                                  "x-isClosedInterval": true,
                                  "properties": {
                                    "start": {
                                      "type": "string",
                                      "format": "date",
                                      "description": "The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.",
                                      "x-allowNullValue": true
                                    },
                                    "end": {
                                      "type": "string",
                                      "format": "date",
                                      "description": "The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.",
                                      "x-allowNullValue": true
                                    }
                                  },
                                  "x-property-sort": [
                                    "start",
                                    "end"
                                  ],
                                  "required": [
                                    "start",
                                    "end"
                                  ],
                                  "description": "Date range of the maturity date."
                                },
                                "remainingTermYears": {
                                  "description": "Value range for the remaining term to maturity expressed in years.",
                                  "type": "object",
                                  "format": "realRange",
                                  "properties": {
                                    "minimum": {
                                      "type": "object",
                                      "x-property-sort": [
                                        "value",
                                        "inclusive"
                                      ],
                                      "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                                      "properties": {
                                        "value": {
                                          "type": "number",
                                          "format": "real",
                                          "description": "The minimum value."
                                        },
                                        "inclusive": {
                                          "type": "boolean",
                                          "description": "Indicates whether the minimum value is included in the range or not.",
                                          "default": true
                                        }
                                      },
                                      "x-allowNullValue": true
                                    },
                                    "maximum": {
                                      "type": "object",
                                      "x-property-sort": [
                                        "value",
                                        "inclusive"
                                      ],
                                      "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                                      "properties": {
                                        "value": {
                                          "type": "number",
                                          "format": "real",
                                          "description": "The maximum value."
                                        },
                                        "inclusive": {
                                          "type": "boolean",
                                          "description": "Indicates whether the maximum value is included in the range or not.",
                                          "default": true
                                        }
                                      },
                                      "x-allowNullValue": true
                                    }
                                  },
                                  "x-property-sort": [
                                    "minimum",
                                    "maximum"
                                  ]
                                }
                              }
                            },
                            "perpetual": {
                              "type": "string",
                              "description": "Defines whether or not perpetual debt instruments, i.e. such that do not mature, are included in the result. The value \"only\" can be used if both parameters `maturity.restriction.date` and `maturity.restriction.remainingTermYears` are not set.",
                              "x-enum-description": [
                                "Only perpetual debt instruments are included in the result.",
                                "Perpetual debt instruments are included in the result even if one of the parameters `maturity.restriction.date` or `maturity.restriction.remainingTermYears` is set.",
                                "Perpetual debt instruments are excluded from the result."
                              ],
                              "enum": [
                                "only",
                                "include",
                                "exclude"
                              ]
                            }
                          }
                        },
                        "callable": {
                          "type": "boolean",
                          "description": "Restricts the result to debt instruments that are callable (`true`) or are not callable (`false`). A callable instrument is one that may be redeemed by the issuer prior to maturity."
                        }
                      }
                    },
                    "subordinated": {
                      "description": "Restricts the result to debt instruments that are subordinated (`true`) or are not subordinated (`false`). In case of default, subordinated debt instruments are redeemed with a lower priority than non-subordinated.",
                      "type": "boolean"
                    },
                    "rating": {
                      "description": "Parameters related to a rating of a debt instrument.",
                      "type": "object",
                      "x-property-sort": [
                        "grade"
                      ],
                      "properties": {
                        "grade": {
                          "description": "Rating grade.",
                          "type": "object",
                          "x-property-sort": [
                            "minimum"
                          ],
                          "properties": {
                            "minimum": {
                              "description": "Minimum rating grade.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "List of rating grade identifiers. Allowed are at most two identifiers which must refer to rating grades originating from different rating systems. Only debt instruments that satisfy all conditions, i.e. are rated higher than or equal to all provided rating grades, are returned. The sequence of the provided identifiers corresponds to the response attributes `ratingSystem1` and `ratingSystem2` respectively, i.e. the rating grade of a debt instrument in the rating system of which the first identifier in the provided list is a member, is represented by the attribute `ratingSystem1.rating.grade` (and `ratingSystem1.rating.id` for the identifier of the rating grade).",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 2
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "issuer": {
                      "description": "Parameters related to the issuer.",
                      "type": "object",
                      "x-property-sort": [
                        "selection",
                        "country"
                      ],
                      "properties": {
                        "selection": {
                          "description": "Issuer selection. See endpoint `/debtInstrument/issuer/search` for valid values.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only debt instruments issued by an issuer in the provided list are returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of legal entities in the role of an issuer.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 100
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Debt instruments issued by an issuer in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of legal entities in the role of an issuer.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 100
                                }
                              }
                            }
                          }
                        },
                        "country": {
                          "description": "Selection of the country of registration of the debt instrtuments' issuer. See endpoint `/basic/region/country/list` for valid values.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only debt instruments issued by an issuer whose country of registration is in the provided list are returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of country identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Debt instruments issued by an issuer whose country of registration is in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of country identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "issue": {
                      "description": "Parameters related to the issue.",
                      "type": "object",
                      "x-property-sort": [
                        "volume"
                      ],
                      "properties": {
                        "volume": {
                          "description": "Issue volume.",
                          "type": "object",
                          "x-property-sort": [
                            "currency"
                          ],
                          "properties": {
                            "currency": {
                              "description": "Selection of the main currency of denomination of the issue volume. See endpoint `/basic/valueUnit/currency/main/list` for valid values.",
                              "type": "object",
                              "x-property-sort": [
                                "restrict",
                                "exclude"
                              ],
                              "x-atMostOne": true,
                              "properties": {
                                "restrict": {
                                  "description": "Restriction list. Only debt instruments with a main currency of denomination in the provided list are returned.",
                                  "type": "object",
                                  "x-property-sort": [
                                    "ids"
                                  ],
                                  "properties": {
                                    "ids": {
                                      "description": "Set of main currency identifiers.",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "id32",
                                        "x-positive": true
                                      },
                                      "uniqueItems": true,
                                      "maxItems": 50
                                    }
                                  }
                                },
                                "exclude": {
                                  "description": "Exclusion list. Debt instruments with a main currency of denomination in the provided list are not returned.",
                                  "type": "object",
                                  "x-property-sort": [
                                    "ids"
                                  ],
                                  "properties": {
                                    "ids": {
                                      "description": "Set of main currency identifiers.",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "id32",
                                        "x-positive": true
                                      },
                                      "uniqueItems": true,
                                      "maxItems": 50
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "tradingVolume": {
                      "description": "Parameters regarding the trading volume. The issuer of a debt instrument may define a minimum trading volume, and an increment over that minimum, per market place and for the over-the-counter (e.g. interbank) trade. Orders that do not match the defined volumes cannot be (fully) executed. The currency is the currency of denomination, thus the parameter `issue.volume.currency.restrict.ids` must be set to exactly one currency in order to use this parameter.",
                      "type": "object",
                      "x-property-sort": [
                        "otc"
                      ],
                      "properties": {
                        "otc": {
                          "description": "Volume applicable to the over-the-counter (non-exchange based) trading.",
                          "type": "object",
                          "x-property-sort": [
                            "minimum"
                          ],
                          "properties": {
                            "minimum": {
                              "description": "Value range for the minimum trading volume.",
                              "type": "object",
                              "format": "realRange",
                              "properties": {
                                "minimum": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "value",
                                    "inclusive"
                                  ],
                                  "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                                  "properties": {
                                    "value": {
                                      "type": "number",
                                      "format": "real",
                                      "description": "The minimum value."
                                    },
                                    "inclusive": {
                                      "type": "boolean",
                                      "description": "Indicates whether the minimum value is included in the range or not.",
                                      "default": true
                                    }
                                  },
                                  "x-allowNullValue": true
                                },
                                "maximum": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "value",
                                    "inclusive"
                                  ],
                                  "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                                  "properties": {
                                    "value": {
                                      "type": "number",
                                      "format": "real",
                                      "description": "The maximum value."
                                    },
                                    "inclusive": {
                                      "type": "boolean",
                                      "description": "Indicates whether the maximum value is included in the range or not.",
                                      "default": true
                                    }
                                  },
                                  "x-allowNullValue": true
                                }
                              },
                              "x-property-sort": [
                                "minimum",
                                "maximum"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "compliance": {
                      "description": "Compliance properties.",
                      "type": "object",
                      "x-property-sort": [
                        "germany"
                      ],
                      "properties": {
                        "germany": {
                          "description": "Compliance properties in accordance with the German law.",
                          "type": "object",
                          "x-property-sort": [
                            "trusteeEligible"
                          ],
                          "properties": {
                            "trusteeEligible": {
                              "type": "boolean",
                              "description": "Defines whether or not the debt instruments are eligible for investment by trustees according to §§1806ff of the BGB (German Civil Code). The German legislative has declared such debt instruments to be virtually free of the risk of loss, such as government and state bonds. Eligible are primarily German debt instruments."
                            }
                          }
                        }
                      }
                    },
                    "coupon": {
                      "description": "Parameters regarding the interest rate.",
                      "type": "object",
                      "x-property-sort": [
                        "occurrence",
                        "currentInterestRate"
                      ],
                      "properties": {
                        "occurrence": {
                          "description": "Parameters regarding the occurrence and frequency of the coupon payments.",
                          "type": "object",
                          "x-property-sort": [
                            "type",
                            "frequency"
                          ],
                          "properties": {
                            "type": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "x-enum-description": [
                                  "Include debt instruments that do not pay a coupon.",
                                  "Include debt instruments that pay a coupon only once.",
                                  "Include debt instruments that pay a coupon on a repeated basis, possibly further limited by `occurrence.frequency`."
                                ],
                                "enum": [
                                  "never",
                                  "once",
                                  "repeated"
                                ]
                              },
                              "description": "Occurrence type of the coupon payments.",
                              "uniqueItems": true
                            },
                            "frequency": {
                              "description": "Frequency of the coupon payments. This filter is only applied to debt instruments whose `coupon.occurrence.type` is `repeated`. If this parameter is set, `occurrence.type` must include the value `repeated` or must not be set (in which case `repeated` is implied).",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "List of frequency identifiers. See endpoint `/basic/frequency/type/list` for valid values.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 9
                                }
                              }
                            }
                          }
                        },
                        "currentInterestRate": {
                          "description": "Interest rate of the current coupon period. Not available for debt instruments with an occurrence type of the coupon payments \"never\".",
                          "type": "object",
                          "x-property-sort": [
                            "type",
                            "value"
                          ],
                          "properties": {
                            "type": {
                              "description": "Type of the interest rate.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "List of interest rate type identifiers. See endpoint `/instrument/coupon/interestRate/type/list` for valid values.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 5
                                }
                              }
                            },
                            "value": {
                              "description": "Value range for the interest rate of the current coupon period; annualized if the payment frequency is not \"annually\". Not available for debt instruments with a current interest rate type other than \"fixed rate\" (`id=2`) or \"step/reset\" (`id=5`).",
                              "type": "object",
                              "format": "relativeValueRange",
                              "properties": {
                                "minimum": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "value",
                                    "inclusive"
                                  ],
                                  "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                                  "properties": {
                                    "value": {
                                      "type": "number",
                                      "format": "relativeValue",
                                      "description": "The minimum value."
                                    },
                                    "inclusive": {
                                      "type": "boolean",
                                      "description": "Indicates whether the minimum value is included in the range or not.",
                                      "default": true
                                    }
                                  },
                                  "x-allowNullValue": true
                                },
                                "maximum": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "value",
                                    "inclusive"
                                  ],
                                  "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                                  "properties": {
                                    "value": {
                                      "type": "number",
                                      "format": "relativeValue",
                                      "description": "The maximum value."
                                    },
                                    "inclusive": {
                                      "type": "boolean",
                                      "description": "Indicates whether the maximum value is included in the range or not.",
                                      "default": true
                                    }
                                  },
                                  "x-allowNullValue": true
                                }
                              },
                              "x-property-sort": [
                                "minimum",
                                "maximum"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "yield": {
                      "description": "Parameters related to the yield.",
                      "type": "object",
                      "x-property-sort": [
                        "current",
                        "toMaturity",
                        "spread"
                      ],
                      "properties": {
                        "current": {
                          "description": "Value range for the current yield, which is the next annual interest payment divided by the price. If the coupon period is different than a year, the interest payment is annualized.",
                          "type": "object",
                          "format": "relativeValueRange",
                          "properties": {
                            "minimum": {
                              "type": "object",
                              "x-property-sort": [
                                "value",
                                "inclusive"
                              ],
                              "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "format": "relativeValue",
                                  "description": "The minimum value."
                                },
                                "inclusive": {
                                  "type": "boolean",
                                  "description": "Indicates whether the minimum value is included in the range or not.",
                                  "default": true
                                }
                              },
                              "x-allowNullValue": true
                            },
                            "maximum": {
                              "type": "object",
                              "x-property-sort": [
                                "value",
                                "inclusive"
                              ],
                              "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "format": "relativeValue",
                                  "description": "The maximum value."
                                },
                                "inclusive": {
                                  "type": "boolean",
                                  "description": "Indicates whether the maximum value is included in the range or not.",
                                  "default": true
                                }
                              },
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "minimum",
                            "maximum"
                          ]
                        },
                        "toMaturity": {
                          "description": "Value range for the yield to maturity, which is the annual rate of return, assuming the instrument is held until maturity.",
                          "type": "object",
                          "format": "relativeValueRange",
                          "properties": {
                            "minimum": {
                              "type": "object",
                              "x-property-sort": [
                                "value",
                                "inclusive"
                              ],
                              "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "format": "relativeValue",
                                  "description": "The minimum value."
                                },
                                "inclusive": {
                                  "type": "boolean",
                                  "description": "Indicates whether the minimum value is included in the range or not.",
                                  "default": true
                                }
                              },
                              "x-allowNullValue": true
                            },
                            "maximum": {
                              "type": "object",
                              "x-property-sort": [
                                "value",
                                "inclusive"
                              ],
                              "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "format": "relativeValue",
                                  "description": "The maximum value."
                                },
                                "inclusive": {
                                  "type": "boolean",
                                  "description": "Indicates whether the maximum value is included in the range or not.",
                                  "default": true
                                }
                              },
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "minimum",
                            "maximum"
                          ]
                        },
                        "spread": {
                          "description": "Value range for the credit spread (the difference in yield to maturity) between a debt instrument and its benchmark bond. See endpoint `/instrument/benchmark/list` for the benchmark bond.",
                          "type": "object",
                          "format": "relativeValueRange",
                          "properties": {
[...]
