{
  "openapi": "3.0.0",
  "info": {
    "description": "Cabot Models API",
    "title": "Cabot Models API",
    "version": "0.2.0",
    "contact": {
      "name": "FactSet Research Systems",
      "email": "api@factset.com",
      "url": "https://developer.factset.com/contact"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.factset.com/analytics/cabot/v0",
      "description": "Production server"
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://developer.factset.com/api-catalog/cabot"
  },
  "paths": {
    "/models/add-trim": {
      "get": {
        "description": "Cabot main path for Add Trim API",
        "operationId": "getAddTrimModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "The attribute represents the different factors.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />If provided, the API response will contain both \"LOW\" and \"HIGH\" values for it.<br /><br />",
            "example": "QFL_EY",
            "in": "query",
            "name": "attribute",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Attributes"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": "QFL_SALES_GR_1Y",
                        "highAddTrimValues": {
                          "addDown": 0.08,
                          "addUp": -0.15,
                          "trimDown": -0.09,
                          "trimUp": 0.04
                        },
                        "lowAddTrimValues": {
                          "addDown": -0.06,
                          "addUp": 0.34,
                          "trimDown": 0.03,
                          "trimUp": 0.05
                        }
                      }
                    }
                  },
                  "No attribute was provided in the request": {
                    "value": {
                      "data": {
                        "addTrimValues": {
                          "addDown": 0.49,
                          "addUp": 0.84,
                          "trimDown": 0.03,
                          "trimUp": 0.15
                        },
                        "attribute": null
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AddTrimResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Add Trim API",
        "tags": [
          "Sizing Models"
        ]
      },
      "parameters": []
    },
    "/models/buy-context": {
      "get": {
        "description": "Cabot main path for Buy Context API",
        "operationId": "getBuyContextModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "example": "BENCH:SP50",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "The attribute represents the different factors.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />If provided, the API response will contain both \"LOW\" and \"HIGH\" values for it.<br /><br />",
            "example": "QFL_EY",
            "in": "query",
            "name": "attribute",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Attributes"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Sector was provided in the request": {
                    "value": {
                      "data": {
                        "buyContextValues": {
                          "affect": 0,
                          "context": {
                            "attribute": {
                              "values": {
                                "medianLoser": 50,
                                "medianWinner": 50,
                                "name": "QFL_CFROIC",
                                "range": {
                                  "from": 12,
                                  "to": 75
                                }
                              }
                            },
                            "count": 45,
                            "sectors": [
                              {
                                "medianLoser": 50,
                                "medianWinner": 50,
                                "name": "industrials",
                                "range": {
                                  "from": 12,
                                  "to": 75
                                }
                              }
                            ]
                          },
                          "range": 63
                        }
                      }
                    }
                  },
                  "No sector was provided in the request": {
                    "value": {
                      "data": {
                        "buyContextValues": {
                          "affect": 24,
                          "context": {
                            "attribute": {
                              "values": {
                                "medianLoser": 11,
                                "medianWinner": 35,
                                "name": "QFL_CFROIC",
                                "range": {
                                  "from": 6,
                                  "to": 62
                                }
                              }
                            },
                            "count": 222,
                            "sectors": [
                              {
                                "medianLoser": 11,
                                "medianWinner": 21,
                                "name": "industrials",
                                "range": {
                                  "from": 3,
                                  "to": 46
                                }
                              },
                              {
                                "medianLoser": 54,
                                "medianWinner": 42,
                                "name": "materials",
                                "range": {
                                  "from": 16,
                                  "to": 75
                                }
                              },
                              {
                                "medianLoser": 47,
                                "medianWinner": 30,
                                "name": "energy",
                                "range": {
                                  "from": 12,
                                  "to": 68
                                }
                              },
                              {
                                "medianLoser": 8,
                                "medianWinner": 1,
                                "name": "realEstate",
                                "range": {
                                  "from": 1,
                                  "to": 21
                                }
                              },
                              {
                                "medianLoser": 63,
                                "medianWinner": 55,
                                "name": "utilities",
                                "range": {
                                  "from": 50,
                                  "to": 70
                                }
                              },
                              {
                                "medianLoser": 51,
                                "medianWinner": 79,
                                "name": "financials",
                                "range": {
                                  "from": 0,
                                  "to": 99
                                }
                              }
                            ]
                          },
                          "range": 56
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/BuyContextResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Buy Context API",
        "tags": [
          "Buying Models"
        ]
      },
      "parameters": []
    },
    "/models/buy-timing": {
      "get": {
        "description": "Cabot main path for Buy Timing API. \r\n\nBuy timing examines the timeliness of entry points and measures how quickly new buys contribute to results. This is done by delaying the buys by the specified number of days to see if buying into the position early would have benefited the portfolio.",
        "operationId": "getBuyTimingModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "The attribute represents the different factors.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />If provided, the API response will contain both \"LOW\" and \"HIGH\" values for it.<br /><br />",
            "example": "QFL_EY",
            "in": "query",
            "name": "attribute",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Attributes"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": "QFL_SALES_GR_1Y",
                        "highBuyTimingValues": [
                          {
                            "time": "3 days",
                            "value": 0.02
                          },
                          {
                            "time": "5 days",
                            "value": -0.01
                          },
                          {
                            "time": "10 days",
                            "value": -0.05
                          },
                          {
                            "time": "20 days",
                            "value": -0.04
                          },
                          {
                            "time": "a month",
                            "value": -0.05
                          }
                        ],
                        "lowBuyTimingValues": [
                          {
                            "time": "3 days",
                            "value": -0.22
                          },
                          {
                            "time": "5 days",
                            "value": -0.13
                          },
                          {
                            "time": "10 days",
                            "value": 0.01
                          },
                          {
                            "time": "20 days",
                            "value": 0.14
                          },
                          {
                            "time": "a month",
                            "value": 0.02
                          }
                        ]
                      }
                    }
                  },
                  "No attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": null,
                        "buyTimingValues": [
                          {
                            "time": "3 days",
                            "value": -0.2
                          },
                          {
                            "time": "5 days",
                            "value": -0.17
                          },
                          {
                            "time": "10 days",
                            "value": -0.16
                          },
                          {
                            "time": "20 days",
                            "value": -0.06
                          },
                          {
                            "time": "a month",
                            "value": -0.37
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/BuyTimingResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Buy Timing API",
        "tags": [
          "Buying Models"
        ]
      },
      "parameters": []
    },
    "/models/construction": {
      "get": {
        "description": "Cabot main path for Construction API",
        "operationId": "getConstructionModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Construction": {
                    "value": {
                      "data": {
                        "constructionValues": {
                          "activeShare": 53.08,
                          "activeWeights": {
                            "maxOver": {
                              "large": 2.69,
                              "medium": 3.11,
                              "small": 0.75
                            },
                            "maxUnder": 4.35
                          },
                          "positionCount": {
                            "active": 31,
                            "total": 34.8
                          },
                          "turnover": 229.82
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ConstructionResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Construction API",
        "tags": [
          "Overview Models"
        ]
      },
      "parameters": []
    },
    "/models/hit-rate": {
      "get": {
        "description": "Cabot main path for Hit Rate API",
        "operationId": "getHitRateModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Hit Rate": {
                    "value": {
                      "data": {
                        "hitRateValues": {
                          "count": 575,
                          "losers": {
                            "benefit": -0.03,
                            "percent": 58
                          },
                          "winLossRatio": 145,
                          "winners": {
                            "benefit": 0.05,
                            "percent": 42
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/HitRateResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Hit Rate API",
        "tags": [
          "Overview Models"
        ]
      },
      "parameters": []
    },
    "/models/ramp-down": {
      "get": {
        "description": "Cabot main path for Ramp Down API",
        "operationId": "getRampDownModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "The attribute represents the different factors.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />If provided, the API response will contain both \"LOW\" and \"HIGH\" values for it.<br /><br />",
            "example": "QFL_EY",
            "in": "query",
            "name": "attribute",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Attributes"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": "QFL_SALES_GR_1Y",
                        "highRampDownValues": [
                          {
                            "time": "6 months",
                            "value": 0.38
                          },
                          {
                            "time": "11 months",
                            "value": -0.06
                          },
                          {
                            "time": "17 months",
                            "value": -0.15
                          }
                        ],
                        "lowRampDownValues": [
                          {
                            "time": "6 months",
                            "value": 0.76
                          },
                          {
                            "time": "11 months",
                            "value": -0.22
                          },
                          {
                            "time": "17 months",
                            "value": -0.37
                          }
                        ]
                      }
                    }
                  },
                  "No attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": null,
                        "rampDownValues": [
                          {
                            "time": "6 months",
                            "value": 1.26
                          },
                          {
                            "time": "11 months",
                            "value": -0.11
                          },
                          {
                            "time": "17 months",
                            "value": -0.51
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RampDownResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Ramp Down API",
        "tags": [
          "Sizing Models"
        ]
      },
      "parameters": []
    },
    "/models/ramp-up": {
      "get": {
        "description": "Cabot main path for Ramp Up API",
        "operationId": "getRampUpModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "The attribute represents the different factors.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />If provided, the API response will contain both \"LOW\" and \"HIGH\" values for it.<br /><br />",
            "example": "QFL_EY",
            "in": "query",
            "name": "attribute",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Attributes"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": "QFL_SALES_GR_1Y",
                        "highRampUpValues": [
                          {
                            "time": "immediate",
                            "value": -0.33
                          },
                          {
                            "time": "3 months",
                            "value": -0.02
                          },
                          {
                            "time": "6 months",
                            "value": -0.18
                          }
                        ],
                        "lowRampUpValues": [
                          {
                            "time": "immediate",
                            "value": 1.77
                          },
                          {
                            "time": "3 months",
                            "value": 0.88
                          },
                          {
                            "time": "6 months",
                            "value": 0.21
                          }
                        ]
                      }
                    }
                  },
                  "No attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": null,
                        "rampUpValues": [
                          {
                            "time": "immediate",
                            "value": 1.82
                          },
                          {
                            "time": "3 months",
                            "value": 1.21
                          },
                          {
                            "time": "6 months",
                            "value": 0.01
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RampUpResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Ramp Up API",
        "tags": [
          "Sizing Models"
        ]
      },
      "parameters": []
    },
    "/models/results": {
      "get": {
        "description": "Cabot main path for Results API. \r\n\n Describes portfolio returns in comparison to its benchmark. A positive value indicates excess returns while a negative value indicates underperformance.",
        "operationId": "getResultsModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Results": {
                    "value": {
                      "data": {
                        "resultValues": {
                          "captures": {
                            "downside": 99.95,
                            "upside": 97.64
                          },
                          "ratios": {
                            "informationRatio": -0.26,
                            "sharpeRatio": 0.2,
                            "treynorRatio": 0.01
                          },
                          "returns": {
                            "portfolio": 2.01,
                            "reference": 2.55,
                            "relative": -0.53
                          },
                          "risk": {
                            "alpha": -0.51,
                            "beta": 0.979,
                            "rSquared": 0.987
                          },
                          "statistics": {
                            "drawdown": 30.04,
                            "modiglianiReturn": 0.07,
                            "standardDeviation": 20.42,
                            "trackingError": 2.34
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ResultsResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "408": {
            "description": "Request timeout. Retry the request in sometime."
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "500": {
            "description": "Server error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          }
        },
        "summary": "Cabot main path for Results API",
        "tags": [
          "Overview Models"
        ]
      },
      "parameters": []
    },
    "/models/sell-timing": {
      "get": {
        "description": "Cabot main path for Sell Timing API",
        "operationId": "getSellTimingModelAnalytic",
        "parameters": [
          {
            "description": "The account path of the portfolio you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "accountPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountPath"
            }
          },
          {
            "description": "The path of the benchmark you want to retrieve the data for.<br /><br />",
            "in": "query",
            "name": "benchmarkPath",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BenchmarkPath"
            }
          },
          {
            "description": "For which period you want to retrieve the data.<br />There are four options available as follows:<br /><br />1 -> YYYY (Repeating One Year)<br /><br />2 -> YYYY-YYYY (Repeating Three/Five/Ten Year)<br /><br />3 -> 1M_TRAILING, 3M_TRAILING, 1Y_TRAILING, 3Y_TRAILING, 5Y_TRAILING (Trailing Periods (If available for your portfolio))<br /><br />4 -> INCEPTION_TO_DATE<br /><br />You can only get the data for one period per request.<br /><br />",
            "example": "2015-2017",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Period"
            }
          },
          {
            "description": "The attribute represents the different factors.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />If provided, the API response will contain both \"LOW\" and \"HIGH\" values for it.<br /><br />",
            "example": "QFL_EY",
            "in": "query",
            "name": "attribute",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Attributes"
            }
          },
          {
            "description": "Sector represents the sector based on the company's industry breakdown.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "energy",
            "in": "query",
            "name": "sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sectors"
            }
          },
          {
            "description": "Region of domicile represents the region based on the company's primary listing.<br />You can choose which of them (if any) you want to see analytics for.<br /><br />",
            "example": "northAmerica",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Regions"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": "QFL_SALES_GR_1Y",
                        "highSellTimingValues": {
                          "olderLoser": 2,
                          "olderWinner": 0.15,
                          "youngerLoser": -0.58,
                          "youngerWinner": 1.48
                        },
                        "lowSellTimingValues": {
                          "olderLoser": 2,
                          "olderWinner": 0.15,
                          "youngerLoser": -0.58,
                          "youngerWinner": 1.48
                        }
                      }
                    }
                  },
                  "No attribute was provided in the request": {
                    "value": {
                      "data": {
                        "attribute": null,
                        "sellTimingValues": {
                          "olderLoser": 2,
                          "olderWinner": 0.15,
                          "youngerLoser": -0.58,
                          "youngerWinner": 1.48
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/SellTimingResponseRoot"
                }
              }
            },
            "description": "Successful response.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            },
            "description": "Bad request, invalid query parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
[...]
