{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0.0",
    "title": "Company Logo API",
    "description": "Consume FactSet collected Company Logos through an API that seamlessly integrates with company fundamentals and estimates data\n(listed equities data available via the stocks API), quotes, time series, and other Digital APIs.\n\nThe logo API provides access to logos for a global universe of listed companies. The logos could be accessed by using national and\ninternational identifiers like ISIN, CUSIP, WKN, Valor, etc. and are a nice feature for comprehensive visualizations of equities\non overview pages (factsheets).\n\nLogo collection and maintenance takes into account IPOs, M&A notifications, and further consistency check mechanisms.\n\nThe Company Logo API seamlessly integrates with the [Stocks API](https://developer.factset.com/api-catalog/stocks-api-digital-portals)\nfor equities and estimates data and the [Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api), allowing\naccess to detailed price and performance information of listings. The [Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api)\nalso supports basic security identifier cross-reference (see for example /notation/crossReference/getByFactSetMarketSymbol to retrieve an instrument id).\nFor direct access to price histories for charting, please refer to the\n[Real-Time Time Series API](https://developer.factset.com/api-catalog/real-time-time-series-api).\n \n",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v4"
    }
  ],
  "paths": {
    "/company/logo/get": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "getCompanyLogoGet",
        "summary": "List of URLs of company logos.",
        "description": "List of URLs for transparent company logos in different sizes and formats.   The different sizes for the rectangular and square formats are: \n\n **Small**:\n * rectangular:  maximum width of 88 pixels and maximum height of 31 pixels.\n * square:  31 x 31 pixels.\n\n\n **Medium**: small logo scaled up by 200%.\n\n **Large**: small logo scaled up by 300%.\n\n **Vector**: can be rendered at any size.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$",
              "maxLength": 50,
              "minLength": 3,
              "example": "FDS-US",
              "description": "Identifier to resolve."
            },
            "required": true,
            "description": "Identifier to resolve.",
            "example": "FDS-US"
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tickerRegion",
              "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true,
            "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
            "example": "tickerRegion"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Format of the logos.\n| Value | Description |\n| --- | --- |\n| rectangular | Logos in rectangular format |\n| square | Logos in square format |\n\n",
              "default": "rectangular",
              "enum": [
                "rectangular",
                "square"
              ],
              "example": "rectangular"
            },
            "required": false,
            "description": "Format of the logos.\n| Value | Description |\n| --- | --- |\n| rectangular | Logos in rectangular format |\n| square | Logos in square format |\n\n",
            "example": "rectangular"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCompanyLogoGet200Response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StatusObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "format": "int32",
            "description": "The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).",
            "example": 200
          }
        },
        "description": "The status member contains the status code of the response.",
        "required": [
          "code"
        ]
      }
    },
    "responses": {
      "GetCompanyLogoGet200Response": {
        "description": "Successful Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "idInstrument": {
                      "nullable": true,
                      "type": "string",
                      "format": "id64",
                      "description": "MDG identifier of the instrument.",
                      "example": "209485"
                    },
                    "sourceIdentifier": {
                      "nullable": true,
                      "type": "string",
                      "description": "Identifier used in the request.",
                      "example": "FDS-US"
                    },
                    "small": {
                      "nullable": false,
                      "type": "object",
                      "description": "Small logo.",
                      "properties": {
                        "url": {
                          "nullable": true,
                          "type": "string",
                          "format": "url",
                          "description": "URL of the logo.",
                          "example": "https://developer.factset.com"
                        },
                        "mimeType": {
                          "nullable": true,
                          "type": "string",
                          "description": "MIME type of the logo.",
                          "example": "Lorem ipsum"
                        }
                      }
                    },
                    "medium": {
                      "nullable": false,
                      "type": "object",
                      "description": "Medium logo.",
                      "properties": {
                        "url": {
                          "nullable": true,
                          "type": "string",
                          "format": "url",
                          "description": "URL of the logo.",
                          "example": "https://developer.factset.com"
                        },
                        "mimeType": {
                          "nullable": true,
                          "type": "string",
                          "description": "MIME type of the logo.",
                          "example": "Lorem ipsum"
                        }
                      }
                    },
                    "large": {
                      "nullable": false,
                      "type": "object",
                      "description": "Large logo.",
                      "properties": {
                        "url": {
                          "nullable": true,
                          "type": "string",
                          "format": "url",
                          "description": "URL of the logo.",
                          "example": "https://developer.factset.com"
                        },
                        "mimeType": {
                          "nullable": true,
                          "type": "string",
                          "description": "MIME type of the logo.",
                          "example": "Lorem ipsum"
                        }
                      }
                    },
                    "vector": {
                      "nullable": false,
                      "type": "object",
                      "description": "Vector logo.",
                      "properties": {
                        "url": {
                          "nullable": true,
                          "type": "string",
                          "format": "url",
                          "description": "URL of the logo.",
                          "example": "https://developer.factset.com"
                        },
                        "mimeType": {
                          "nullable": true,
                          "type": "string",
                          "description": "MIME type of the logo.",
                          "example": "Lorem ipsum"
                        }
                      }
                    }
                  },
                  "description": "URLs of company logos. All URLs are publicly available via HTTPS and hosted by FactSet with a top-level domain `mdgms.com`. For possible values of the attribute `mimeType`, see endpoint `/basic/media/type/list` with parameter `filter.ids=1 (image)`.",
                  "nullable": false
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusObject"
                    }
                  }
                }
              }
            },
            "example": {
              "data": {
                "idInstrument": "209485",
                "sourceIdentifier": "FDS-US",
                "small": {
                  "url": "https://developer.factset.com",
                  "mimeType": "Lorem ipsum"
                },
                "medium": {
                  "url": "https://developer.factset.com",
                  "mimeType": "Lorem ipsum"
                },
                "large": {
                  "url": "https://developer.factset.com",
                  "mimeType": "Lorem ipsum"
                },
                "vector": {
                  "url": "https://developer.factset.com",
                  "mimeType": "Lorem ipsum"
                }
              },
              "meta": {
                "status": {
                  "code": 200
                }
              }
            }
          }
        }
      }
    },
    "parameters": {},
    "examples": {},
    "requestBodies": {},
    "headers": {},
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "links": {},
    "callbacks": {}
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "tags": [
    {
      "name": "company",
      "description": "company endpoints"
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://developer.factset.com/api-catalog/"
  }
}