{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/factset/etf/getBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/getBySymbol",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "An ETP can be profiled by defining several common attributes such as issuer, fund description, and benchmark.",
        "summary": "Retrieve basic profile information for a specified ETP.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Profile.",
                  "type": "object",
                  "x-property-sort": [
                    "asOfDate",
                    "holdingsDate",
                    "symbol",
                    "exchange",
                    "name",
                    "issuer",
                    "brand",
                    "launchDate",
                    "description",
                    "website",
                    "domicile",
                    "status",
                    "currency",
                    "index",
                    "financialReport",
                    "createRedeem",
                    "aum",
                    "trading",
                    "documentation",
                    "insight"
                  ],
                  "properties": {
                    "asOfDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Date data was published. This data is available only for US region."
                    },
                    "holdingsDate": {
                      "type": "string",
                      "format": "date",
                      "description": "The as of data for holdings statistics. This data available only for US region"
                    },
                    "symbol": {
                      "type": "string",
                      "description": "Ticker of the ETP. This data is available for all region."
                    },
                    "exchange": {
                      "type": "object",
                      "x-property-sort": [
                        "code",
                        "name",
                        "country",
                        "region"
                      ],
                      "description": "Exchange.",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Short Code of the exchange. This data is available for all the regions."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the exchance where ETP is listed. This data is available for all the regions."
                        },
                        "country": {
                          "type": "string",
                          "description": "Short country code where ETP exchange is located. This data is available for all the regions and country code is in format ISO 3166-1 alpha-2."
                        },
                        "region": {
                          "type": "string",
                          "description": "Short region code where ETP exchange is located. This data is available for all the regions.",
                          "x-enum-description": [
                            "Europe region.",
                            "North America region.",
                            "Asia-Pacific region.",
                            "Middle East & Africa."
                          ],
                          "enum": [
                            "Europe",
                            "North America",
                            "Asia-Pacific",
                            "Middle East & Africa"
                          ]
                        }
                      }
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the ETP. This data is available for all the regions."
                    },
                    "issuer": {
                      "type": "object",
                      "x-property-sort": [
                        "name"
                      ],
                      "description": "Issuer.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the issuer of the ETP. This data is available for all the regions."
                        }
                      }
                    },
                    "brand": {
                      "type": "object",
                      "x-property-sort": [
                        "name"
                      ],
                      "description": "Brand.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the brand of the ETP. This data is available for all the regions."
                        }
                      }
                    },
                    "launchDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Launch date of the ETP. This data is available for all the regions."
                    },
                    "description": {
                      "type": "string",
                      "description": "A brief description of the ETP. This data is available for all the regions."
                    },
                    "website": {
                      "type": "string",
                      "description": "Link to the ETP's homepage. This data is available for the US and Canada region."
                    },
                    "domicile": {
                      "type": "string",
                      "description": "ETP country of domicile. This data is available for all the regions and country code is in format ISO 3166-1 alpha-2."
                    },
                    "status": {
                      "type": "string",
                      "description": "Staus of the ETP. This data is available for all the regions.",
                      "x-enum-description": [
                        "Active.",
                        "Delisted.",
                        "Not trading yet."
                      ],
                      "enum": [
                        "Active",
                        "Delisted",
                        "Not trading yet"
                      ]
                    },
                    "currency": {
                      "type": "object",
                      "x-property-sort": [
                        "listing",
                        "fund"
                      ],
                      "description": "Currency.",
                      "properties": {
                        "listing": {
                          "type": "string",
                          "description": "Currency of exchange specific listing. This data is available for all the regions and currency code is in the format ISO 4217."
                        },
                        "fund": {
                          "type": "string",
                          "description": "Base calculation currency of the ETP. This data is available for all the regions and currency code is in the format ISO 4217."
                        }
                      }
                    },
                    "index": {
                      "type": "object",
                      "x-property-sort": [
                        "name",
                        "family",
                        "website",
                        "distributionTreatment",
                        "rebalancingFrequency",
                        "currency"
                      ],
                      "description": "The index the ETP is replicating, if applicable.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the underlying index of the ETP. This data is available for all the regions."
                        },
                        "family": {
                          "type": "string",
                          "description": "The name of the index provider for the underlying index of the ETP. This data is available for all the regions."
                        },
                        "website": {
                          "type": "string",
                          "description": "The link to the underlying index's homepage. This data is available for all the regions."
                        },
                        "distributionTreatment": {
                          "type": "string",
                          "description": "Describes the treatment of constituent cash flows by the index, whether capitalized (reinvested) or ignored, as well as tax withholding by foreign countries. Text and standardized value available for this data item. This data is available for Europe only."
                        },
                        "rebalancingFrequency": {
                          "type": "string",
                          "description": "Period of time between reweighting underlying index constituents.",
                          "x-enum-description": [
                            "Monthly.",
                            "Annually.",
                            "Quarterly.",
                            "Semi-annual.",
                            "Daily.",
                            "As Needed.",
                            "Bi-Monthly.",
                            "Weekly."
                          ],
                          "enum": [
                            "Monthly",
                            "Annually",
                            "Quarterly",
                            "Semi-annual",
                            "Daily",
                            "As Needed",
                            "Bi-Monthly",
                            "Weekly"
                          ]
                        },
                        "currency": {
                          "type": "string",
                          "description": "Base calculation currency of underlying index. This data is available for all the regions and currency code is in the format ISO 4217."
                        }
                      }
                    },
                    "financialReport": {
                      "type": "object",
                      "x-property-sort": [
                        "annual",
                        "semiAnnual"
                      ],
                      "description": "Financial report.",
                      "properties": {
                        "annual": {
                          "type": "object",
                          "x-property-sort": [
                            "isAvailable",
                            "date"
                          ],
                          "description": "Annual.",
                          "properties": {
                            "isAvailable": {
                              "type": "boolean",
                              "description": "States whether or not the current annual financial report is available on the issuer's website. This data is available for all the regions."
                            },
                            "date": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the last annual report available on issuer's site. This data is available for all the regions."
                            }
                          }
                        },
                        "semiAnnual": {
                          "type": "object",
                          "x-property-sort": [
                            "isAvailable",
                            "date"
                          ],
                          "description": "Semi annual.",
                          "properties": {
                            "isAvailable": {
                              "type": "boolean",
                              "description": "States whether or not the semi-annual financial report is available on the issuer's website. This data is available for all the regions."
                            },
                            "date": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the last semi-annual report available on the issuer's website. This data is available for all the regions."
                            }
                          }
                        }
                      }
                    },
                    "createRedeem": {
                      "type": "object",
                      "x-property-sort": [
                        "unitCost",
                        "unitSize"
                      ],
                      "description": "Create or redeem",
                      "properties": {
                        "unitCost": {
                          "type": "number",
                          "format": "real",
                          "description": "The standard fee in the ETP currency to create or redeem one unit of an ETP. This data is available for the US regions.."
                        },
                        "unitSize": {
                          "type": "number",
                          "format": "real",
                          "description": "The minimum ETP share block at which issuers are willing to perform creations or redemptions per prospectus or other filing documents. This data is available for the US regions."
                        }
                      }
                    },
                    "aum": {
                      "type": "number",
                      "format": "real",
                      "description": "The market value of the total assets that a individual ETP manages on behalf of it's investors. This data is available for all the regions."
                    },
                    "trading": {
                      "type": "object",
                      "x-property-sort": [
                        "average",
                        "median"
                      ],
                      "description": "Trading.",
                      "properties": {
                        "average": {
                          "type": "object",
                          "x-property-sort": [
                            "volume",
                            "value"
                          ],
                          "description": "Average.",
                          "properties": {
                            "volume": {
                              "type": "number",
                              "format": "real",
                              "description": "The average daily number of shares traded over the past 45 trading days. This data is available for the US regions."
                            },
                            "value": {
                              "type": "number",
                              "format": "real",
                              "description": "The average daily value traded over the past 45-trading day period in ETP's listing currency. This data is available for the US regions."
                            }
                          }
                        },
                        "median": {
                          "type": "object",
                          "x-property-sort": [
                            "volume",
                            "value"
                          ],
                          "description": "Median.",
                          "properties": {
                            "volume": {
                              "type": "number",
                              "format": "real",
                              "description": "Median daily number of shares traded over the past 45 trading days. This data is available for the regions."
                            },
                            "value": {
                              "type": "number",
                              "format": "real",
                              "description": "Median daily value traded over the past 45 trading days in ETP's listing currency. This data is available for the US regions."
                            }
                          }
                        }
                      }
                    },
                    "documentation": {
                      "type": "object",
                      "x-property-sort": [
                        "isProspectusPosted",
                        "isSaiPosted"
                      ],
                      "description": "Documentation.",
                      "properties": {
                        "isProspectusPosted": {
                          "type": "boolean",
                          "description": "Complete prospectus is available on issuer website. This data is available for all the regions."
                        },
                        "isSaiPosted": {
                          "type": "boolean",
                          "description": "Statement of Additional Information (SAI) is available on issuer website. This data is available for the US regions."
                        }
                      }
                    },
                    "insight": {
                      "type": "object",
                      "x-property-sort": [
                        "overview",
                        "quote"
                      ],
                      "description": "Insight.",
                      "properties": {
                        "overview": {
                          "type": "string",
                          "description": "In-depth ETP overview from FactSet ETP Analytics. This data is available for the US regions."
                        },
                        "quote": {
                          "type": "string",
                          "description": "Abbreviated ETP overview from the FactSet ETP Analytics. This data is available for the US regions."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/asset/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/asset/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by asset class. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's asset allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP asset allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "assets"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "assetClass",
                          "weight"
                        ],
                        "properties": {
                          "assetClass": {
                            "type": "string",
                            "description": "Name of the asset class."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by asset class(es)."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by asset class."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/country/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/country/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by country names. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's country allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP country allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "countries"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "country",
                          "weight"
                        ],
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "Name of the country."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by country(s).."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by country."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/currency/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/currency/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by currency. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's currency allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP currency allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "currencies"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "currencies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "currency",
                          "weight"
                        ],
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "Name of the currency."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by currency allocation(s)."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by currency."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/economicDevelopment/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/economicDevelopment/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of allocations classified by a holding's economic development status (e.g. developed market, frontier market, emerging market).",
        "summary": "List of allocations classified by a holding's economic development status.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of allocations.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "classifications"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "classifications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "name",
                          "weight"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the classification. Possible values: \"Developed Market\", \"Frontier Market\", \"Emerging Market\", \"Rest of World Market\""
                          },
                          "weight": {
                            "type": "number",
                            "format": "percentage",
                            "x-convertToRelative": false,
                            "description": "Weight (net) of the classification."
                          }
                        }
                      },
                      "description": "List of allocations classified by a holding's economic development status, sorted by weight in descending order."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/exchange/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/exchange/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by exchanges. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's exchange allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP exchange allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "exchanges"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "exchanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "exchange",
                          "weight"
                        ],
                        "properties": {
                          "exchange": {
                            "type": "string",
                            "description": "Name of the exchange."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by exchange(s)."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by exchange."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/industry/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/industry/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by industry. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's industry allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP industry allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "industries"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "industries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "industry",
                          "weight"
                        ],
                        "properties": {
                          "industry": {
                            "type": "string",
                            "description": "Name of the industry."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by industry(s)."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by industry."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/marketCapitalization/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/marketCapitalization/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of allocations classified by a holding's total market capitalization (e.g. Small Cap, Mid Cap, Large Cap). Response will be sorted by weight in descending order.",
        "summary": "List of allocations classified by a holding's total market capitalization.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of allocations.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "classifications"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "classifications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "classification",
                          "weight"
                        ],
                        "properties": {
                          "classification": {
                            "type": "string",
                            "description": "Name of the classification."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Weight (net) of the classification."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations classified by a holding's total market capitalization (e.g. small caps, large caps)."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/region/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/region/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by region names. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's region allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP region allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "regions"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "region",
                          "weight"
                        ],
                        "properties": {
                          "region": {
                            "type": "string",
                            "description": "Name of the region."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by region(s).."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by region."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/allocation/sector/listBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/allocation/sector/listBySymbol",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "This endpoint returns selected ETP's allocations grouped by sector names. The response will be sorted by weight in descending order.",
        "summary": "This endpoint returns selected ETP's sector allocations.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETP defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "default": 0,
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query"
          },
          {
            "type": "number",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "maximum": 500,
            "exclusiveMaximum": false,
            "default": 20,
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "ETP sector allocation data.",
                  "type": "object",
                  "x-property-sort": [
                    "reportDate",
                    "sectors"
                  ],
                  "properties": {
                    "reportDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Reporting date for the allocations."
                    },
                    "sectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "sector",
                          "weight"
                        ],
                        "properties": {
                          "sector": {
                            "type": "string",
                            "description": "Name of the sector."
                          },
                          "weight": {
                            "type": "number",
                            "format": "real",
                            "description": "Consolidate weight of the position within the ETP by sector(s)."
                          }
                        }
                      },
                      "uniqueItems": true,
                      "description": "List of allocations by sector."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObject"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/analytics/getBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/analytics/getBySymbol",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "FactSet's proprietary analytical datapoints include ETP attributes specific to lending, corporate actions, and benchmarks.",
        "summary": "FactSet proprietary analytics datapoints for ETPs.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Ticker-region of a security as defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Profile analytics.",
                  "type": "object",
                  "x-property-sort": [
                    "asOfDate",
                    "securityLending",
                    "risk",
                    "benchmarkName",
                    "indexChange",
                    "medianBidAskSpread"
                  ],
                  "properties": {
                    "asOfDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Date the analytics data was published. Available for the regions: US, Europe, and Canada."
                    },
                    "securityLending": {
                      "description": "Security lending.",
                      "type": "object",
                      "x-property-sort": [
                        "isAllowed",
                        "isActive",
                        "revenue",
                        "revenuePolicy"
                      ],
                      "properties": {
                        "isAllowed": {
                          "type": "boolean",
                          "description": "Indicates whether a fund is permitted to lend securities based on their legal structure. Available for the regions: US, Europe, and Canada."
                        },
                        "isActive": {
                          "type": "boolean",
                          "description": "Indicates that revenue from lending securities was reported on the most recent annual or semi-annual report. Available for the regions: US, Europe, and Canada."
                        },
                        "revenue": {
                          "type": "number",
                          "format": "real",
                          "description": "The fraction of securities lending revenue that is rebated to the fund rather than kept by the issuer. Available for the regions: US, Europe, and Canada."
                        },
                        "revenuePolicy": {
                          "type": "string",
                          "description": "English description of the securities lending revenue policy, if any. Available for the regions: US, Europe, and Canada."
                        }
                      }
                    },
                    "risk": {
                      "description": "Risk.",
                      "type": "object",
                      "x-property-sort": [
                        "isCorporateActionPending",
                        "counterParty",
                        "fundClosure"
                      ],
                      "properties": {
                        "isCorporateActionPending": {
                          "type": "boolean",
                          "description": "Indicates a fund whose issuer has any corporate actions pending (e.g. merger, purchase, and closing). Available for the regions: US."
                        },
                        "counterParty": {
                          "type": "string",
                          "description": "Score predicting the likelihood that an ETN counterparty will default, as measured by 1-year credit default swap rates. Possible values are Low, Medium, or High. Empty for non-ETNs. Available for the regions: US."
                        },
                        "fundClosure": {
                          "type": "string",
                          "description": "Score estimating the likelihood that a fund will close. Based on a quantitative model. Outputs are Low, Medium, or High. Available for the regions: US."
                        }
                      }
                    },
                    "benchmarkName": {
                      "type": "string",
                      "description": "FactSet provides a neutral, broad market index that best represents an ETP segment, giving investors a measuring stick against which to compare a specific ETP. The fund's performance (for example, R2, beta, and standard deviation) and holdings are measured against it. Available for the regions: US and Europe."
                    },
                    "indexChange": {
                      "type": "object",
                      "x-property-sort": [
                        "hasChanged",
                        "date"
                      ],
                      "description": "Index change.",
                      "properties": {
                        "hasChanged": {
                          "type": "boolean",
                          "description": "States whether an index change has occurred. Available for the regions: US."
                        },
                        "date": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the most recent index change, if applicable. Available for the regions: US."
                        }
                      }
                    },
                    "medianBidAskSpread": {
                      "type": "number",
                      "format": "percentage",
                      "x-convertToRelative": false,
                      "description": "The exchange-traded fund’s median bid-ask spread, expressed as a percentage rounded to the nearest hundredth, computed by: (A) Identifying the exchange-traded fund’s national best bid and national best offer as of the end of each 10 second interval during each trading day of the last 30 calendar days; (B) Dividing the ifference between each such bid and offer by the midpoint of the national best bid and national best offer; and (C) Identifying the median of those values. Available for the regions: US."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/analytics/holdings/statistics/getBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/analytics/holdings/statistics/getBySymbol",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "FactSet calculates several proprietary portfolio statistics for ETPs including average maturity, credit quality, price/book ratio, price/earnings ratio, and dividend yield.",
        "summary": "FactSet's portfolio statistics for ETPs.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Ticker-region of a security as defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Portfolio statistics.",
                  "type": "object",
                  "x-property-sort": [
                    "asOfDate",
                    "numberHoldings",
                    "concentration",
                    "dividendYield",
                    "priceEarningsRatio",
                    "priceBookRatio",
                    "marketCapitalization",
                    "timeToMaturity",
                    "creditRating"
                  ],
                  "properties": {
                    "asOfDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Date the analytics data was published. Available for the regions: US, Europe, and Canada."
                    },
                    "numberHoldings": {
                      "type": "number",
                      "format": "int32",
                      "description": "A measure of portfolio diversification, calculated by summing the squared weights of each fund constituent. Low concentration implies high diversification, and vice versa. Outputs are Low, Medium or High. Available for regions: US."
                    },
                    "concentration": {
                      "type": "string",
                      "description": "A measure of portfolio diversification, calculated by summing the squared weights of each fund constituent. Low concentration implies high diversification, and vice versa. Possible values are Low, Medium or High. Available for regions: US."
                    },
                    "dividendYield": {
                      "type": "number",
                      "format": "percentage",
                      "x-convertToRelative": false,
                      "description": "The annualized weighted average of the current dividend yield of the portfolio's holdings, gross of fees. Available for the regions: US."
                    },
                    "priceEarningsRatio": {
                      "type": "number",
                      "format": "real",
                      "description": "Weighted average ratio of prices of a fund’s stocks values to their trailing earnings of underlying stocks. Aggregate prices are scaled by the sum of individual earnings, including negative earnings. Available for the regions: US."
                    },
                    "priceBookRatio": {
                      "type": "number",
                      "format": "real",
                      "description": "Weighted average ratio of prices of a fund’s stocks to the book value of underlying stocks. Aggregate prices are scaled by the sum of individual book values. Available for the regions: US."
                    },
                    "marketCapitalization": {
                      "type": "number",
                      "format": "real",
                      "description": "The weighted average market capitalization of the stocks in the fund's portfolio (USD). Available for regions: US."
                    },
                    "timeToMaturity": {
                      "type": "number",
                      "format": "real",
                      "description": "The weighted average of remaining time until maturity for all bonds in the portfolio, measured in (possibly fractional) years. Available for the regions: US."
                    },
                    "creditRating": {
                      "type": "string",
                      "description": "Average credit rating for the portfolio, determined by mapping ratings from credit agencies (Fitch, Moody's and Standard & Poor's) to numerical likelihood of default for each bond in the portfolio and then finding the weighted average default probability, then mapping back to an agency credit rating. Accounts for the nonlinear probability of default when aggregating agency ratings. FactSet has developed a numeric equivalent system that allows math functions such as averaging and comparisons across sources (using greater than, equal to, or less than operators), to facilitate easier evaluation. Available for the regions: US."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/analytics/score/getBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/analytics/score/getBySymbol",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "FactSet calculates various proprietary fund rankings including unique scores, fund grades, segment averages, and recommendations.",
        "summary": "FactSet proprietary ETP rankings.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Ticker-region of a security as defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Score analytics.",
                  "type": "object",
                  "x-property-sort": [
                    "efficiency",
                    "tradability",
                    "fit",
                    "grade",
                    "analystPick",
                    "onOpportunitiesList",
                    "fitRsquared",
                    "beta",
                    "standardDeviationDown"
                  ],
                  "properties": {
                    "efficiency": {
                      "type": "object",
                      "x-property-sort": [
                        "value",
                        "average"
                      ],
                      "description": "Efficiency.",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "real",
                          "description": "A measure of how well a fund delivers on its core promise of delivering the returns of an underlying index, taking into account the expense ratio, tracking error, tax risk, fund closure risk and structural risk. In the range 0 (low) to 100 (high). Available for the regions: US."
                        },
                        "average": {
                          "type": "number",
                          "format": "real",
                          "description": "The average efficiency score for all funds in the segment. Available for the regions: US."
                        }
                      }
                    },
                    "tradability": {
                      "type": "object",
                      "x-property-sort": [
                        "value",
                        "average"
                      ],
                      "description": "Tradability.",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "real",
                          "description": "A total view of the liquidity of a fund taking into account share-level liquidity as well as the underlying liquidity of a fund's portfolio of securities. In the range 0 (low) to 100 (high). Available for the regions: US."
                        },
                        "average": {
                          "type": "number",
                          "format": "real",
                          "description": "The average tradability score for all funds in the segment. Available for the regions: US."
                        }
                      }
                    },
                    "fit": {
                      "type": "object",
                      "x-property-sort": [
                        "value",
                        "average"
                      ],
                      "description": "Fit.",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "real",
                          "description": "A measure of the exposure a fund provides relative to its FactSet designated 'Segment Benchmark'. Scored in the range 0 (low) to 100 (high), with higher scores indicating better alignment with the performance and holdings of the Segment Benchmark. Available for the regions: US."
                        },
                        "average": {
                          "type": "number",
                          "format": "real",
                          "description": "The average Fit score for all funds in the segment. Available for the regions: US."
                        }
                      }
                    },
                    "grade": {
                      "type": "string",
                      "description": "Combining the efficiency and tradability scores, FactSet assigns a letter grade (A-F) that provides a concise view on how efficient and tradable each ETP is. Available for the regions: US."
                    },
                    "analystPick": {
                      "type": "boolean",
                      "description": "If true, this fund has been chosen by the FactSet ETP Analytics Team to provide comprehensive, market-like exposure to an area of the market/segment, keeping costs and liquidity in mind. Available for the regions: US."
                    },
                    "onOpportunitiesList": {
                      "type": "boolean",
                      "description": "If true, this fund has been chosen by the FactSet ETP Analytics Team as providing potentially valuable but alternative exposure to the market/segment, keeping costs and liquidity in mind. Available for the regions: US."
                    },
                    "fitRsquared": {
                      "type": "number",
                      "format": "real",
                      "description": "The degree to which the daily returns of fund NAV and its FactSet designated segment benchmark move up and down in unison, ranging from 1.0 (perfect co-movement) to zero (no relation). Available for the regions: US."
                    },
                    "beta": {
                      "type": "object",
                      "x-property-sort": [
                        "value",
                        "up",
                        "down"
                      ],
                      "description": "Beta.",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "real",
                          "description": "The sensitivity of the returns of the fund to the movement of the FactSet designated 'segment benchmark'. Beta of 1.0 means magnitude of fund returns equals that of segment benchmark returns. Available for the regions: US."
                        },
                        "up": {
                          "type": "number",
                          "format": "real",
                          "description": "A comparison of a fund's return to the FactSet-designated benchmark's for days when the benchmark is up. Ideally down beta is less than or equal to overall beta. Available for the regions: US."
                        },
                        "down": {
                          "type": "number",
                          "format": "real",
                          "description": "A comparison of a fund's return to the FactSet-designated benchmark's for days when the benchmark is down. Ideally down beta is less than or equal to overall beta. Available for the regions: US."
                        }
                      }
                    },
                    "standardDeviationDown": {
                      "type": "number",
                      "format": "real",
                      "description": "A measure of the variability between the fund's returns and the FactSet designated segment benchmark returns on days when the fund underperforms the benchmark. Available for the regions: US."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/analytics/trade/getBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/analytics/trade/getBySymbol",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Various metrics of an ETP's liquidity including creation metrics, premium/discount, spread, and tracking error statistics.",
        "summary": "Trade statistics for specific ETP.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Ticker-region of a security as defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Trade analytics.",
                  "type": "object",
                  "x-property-sort": [
                    "impedimentsToCreation",
                    "premiumDiscount",
                    "blockTrade",
                    "spread",
                    "trackingDifference"
                  ],
                  "properties": {
                    "impedimentsToCreation": {
                      "type": "object",
                      "x-property-sort": [
                        "value",
                        "reason"
                      ],
                      "description": "Impediments to creation.",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "Indicates whether a fund is fully or partially closed to creations, or is likely to become fully or partially closed to creations. Values are None, Potential, Partial, Full. Available for the regions: US."
                        },
                        "reason": {
                          "type": "string",
                          "description": "States the reason why there is an impediment to creations. Available for the regions: US."
                        }
                      }
                    },
                    "premiumDiscount": {
                      "type": "object",
                      "x-property-sort": [
                        "median",
                        "max"
                      ],
                      "description": "The difference between the last share price of the ETF and its end-of-day net asset value (NAV). A positive difference is called premium and a negative difference is called discount.",
                      "properties": {
                        "median": {
                          "type": "number",
                          "format": "real",
                          "description": "The median premium or discount over the last 12 months. Available for the regions: US."
                        },
                        "max": {
                          "type": "number",
                          "format": "real",
                          "description": "The greatest absolute amount that the market price exceeded (premium) and lagged (discount) its net asset value (NAV) over a 12-month period. Available for the regions: US."
                        }
                      }
                    },
                    "blockTrade": {
                      "description": "Properties of the ETP with respect to large trades.",
                      "type": "object",
                      "x-property-sort": [
                        "overlapHours",
                        "underlyingVolumePerUnit",
                        "liquidity",
                        "creationUnitPerDay"
                      ],
                      "properties": {
                        "overlapHours": {
                          "type": "number",
                          "format": "real",
                          "description": "A measurement of the overlap between the hours of trading for the ETF and that of its underlying portfolio. Available for the regions: US."
                        },
                        "underlyingVolumePerUnit": {
                          "type": "number",
                          "format": "percentage",
                          "x-convertToRelative": false,
                          "description": "Weighted average of the ratios of each underlying's number of shares, represented in one creation unit of the ETP, relative to the median daily trading volume of the underlying over 45 trading days, expressed as a percentage. This is a measure of the liquidity available in the underlying portfolio of the ETP, whereby larger numbers indicate greater likelihood of adverse price impact on underlying securities from ETF creations/redemptions. Only applicable for ETF. Available for the regions: US."
                        },
                        "liquidity": {
                          "type": "number",
                          "format": "int32",
                          "description": "A measurement of the liquidity available in an ETF for a hypothetical 1,000,000 USD trade. Measured on a scale of 0 to 5 -- 5 being very liquid and easy to execute, 1 being expensive and difficult to execute, and 0 indicating a closed or restricted creation window. Available for the regions: US."
                        },
                        "creationUnitPerDay": {
                          "type": "number",
                          "format": "real",
                          "description": "The median 45 day share volume divided by the creation unit size of the fund. The higher the number, the more likely that liquidity providers will trade the fund in size, or in odd lots. Available for the regions: US."
                        }
                      }
                    },
                    "spread": {
                      "description": "The 45-day median of daily time-weighted dollar or percentage difference between the highest posted price a market participant is willing to pay to buy an ETF and the lowest posted price at which a market participant is willing to sell an ETF.",
                      "type": "object",
                      "x-property-sort": [
                        "absolute",
                        "relative"
                      ],
                      "properties": {
                        "absolute": {
                          "type": "number",
                          "format": "real",
                          "description": "Dollar spread difference. Available for the regions: US."
                        },
                        "relative": {
                          "type": "number",
                          "format": "percentage",
                          "x-convertToRelative": false,
                          "description": "Percentage spread difference. Available for the regions: US."
                        }
                      }
                    },
                    "trackingDifference": {
                      "type": "object",
                      "x-property-sort": [
                        "median",
                        "maxUpside",
                        "maxDownside"
                      ],
                      "description": "Tracking difference.",
                      "properties": {
                        "median": {
                          "type": "number",
                          "format": "percentage",
                          "x-convertToRelative": false,
                          "description": "The median difference between NAV and fund index returns over a one-year set of rolling 12 month holding periods. This statistic captures all inputs to tracking difference: expense ratio, optimization, securities lending income, and tax recapture. Available for the regions: US."
                        },
                        "maxUpside": {
                          "type": "number",
                          "format": "percentage",
                          "x-convertToRelative": false,
                          "description": "Greatest, or least negative 12-month difference between NAV and index returns over a rolling 12 month period. Available for the regions: US."
                        },
                        "maxDownside": {
                          "type": "number",
                          "format": "percentage",
                          "x-convertToRelative": false,
                          "description": "Most negative or least positive 12-month difference between NAV and index returns over a rolling 12 month period. Available for the regions: US."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/factset/etf/characteristics/getBySymbol": {
      "get": {
        "tags": [
          "factset"
        ],
        "operationId": "get/factset/etf/characteristics/getBySymbol",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "An ETP has many unique characteristics specific to its composition that differentiate it from other products. This includes details on leverage, hedging, derivatives, and service providers.",
        "summary": "Retrieve basic characteristic information for a specified ETP.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "type": "string",
            "maxLength": 10,
            "exclusiveMaximum": false,
            "required": true,
            "description": "Market symbol of ETF defined by FactSet."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
[...]
