openapi: 3.0.0
info:
  version: 1.8.0
  title: FactSet Global Prices API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  description: >
    The FactSet Global Prices API provides end of day market pricing content
    using cloud and microservices technology, encompassing both pricing as well
    as corporate actions and events data.</p>
servers:
  - url: https://api.factset.com/content
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Prices
    description: >-
      Get Security Open, High, Low, Close, Volume for a list of ids and date
      range
  - name: Returns
    description: Gets the returns data for the list of ids, date range and currency
paths:
  /factset-global-prices/v1/prices:
    get:
      tags:
        - Prices
      summary: Gets end-of-day Open, High, Low, Close for a list of securities.
      operationId: getGPDPrices
      description: >
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range,
        currency, and adjustment factors.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax2000'
        - $ref: '#/components/parameters/fieldsPrices'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/adjust'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of Price Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
              examples:
                Prices over 1 week period for FDS-US and TSLA-US:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
                Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Prices
      summary: >-
        Requests end-of-day Open, High, Low, Close for a large list of
        securities.
      description: >-
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range,
        currency, and adjustment factors.
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Prices`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/globalPricesRequest'
            examples:
              One Security(FDS-US) over one year:
                $ref: '#/components/examples/postPrices'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
              examples:
                One Week Prices for Two Securities:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/corporate-actions:
    get:
      tags:
        - Corporate Actions
      summary: Gets Corporate Actions information.
      operationId: getGPDCorporateActions
      description: >
        Gets the Corporate Actions amounts, dates, types, and flags over a
        specified date range.

        You may request future dates to receive information for declared events.


        Event Categories:

        * __Cash Dividends__ (CASH_DIVS)
          * **DVC** - Dividend
          * **DVCD** - Dividend with DRP Option
          * **DRP** - Dividend Reinvestment
        * __Stock Distributions__ (STOCK_DIST)
          * **DVS** - Stock Dividend
          * **DVSS** - Stock Dividend, Special
          * **BNS** - Bonus Issue
          * **BNSS** - Bonus Issue, Special
        * __Spin Offs__ (SPINOFFS)
          * **SPO** - Spin Off
        * __Rights Issue__ (RIGHTS)
          * **DSR** - Rights Issue
        * __Splits__ (SPLITS)
          * **FSP** - Forward Split
          * **RSP** - Reverse Split
          * **SPL** - Split
          * **EXOS** - Exchange of Securities
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/eventCategory'
        - $ref: '#/components/parameters/fieldsCorporateActions'
        - $ref: '#/components/parameters/startDateCA'
        - $ref: '#/components/parameters/endDateCA'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/cancelledDividend'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: >-
            Array of security dividend information for a given date range and
            list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/corporateActionsResponse'
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Corporate Actions
      summary: Requests Corporate Actions information.
      description: >-
        Gets the Corporate Actions amounts, dates, types, and flags over a
        specified date range. You may request future dates to receive
        information for declared events. <p>**_startDate and endDate are
        required parameters. The input startDate must come before the input
        endDate._**
      operationId: postCorporateActions
      requestBody:
        required: true
        description: Request object for `Corporate Actions`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/corporateActionsRequest'
            examples:
              One Security(FDS-US) over one year:
                $ref: '#/components/examples/postCorporateActions'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/corporateActionsResponse'
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/annualized-dividends:
    get:
      tags:
        - Corporate Actions
      summary: Gets Indicated Annualized Dividend information.
      operationId: getannualizedDividends
      description: >
        Gets the Annualized dividend of the latest reported dividend.

        The annualized dividend calculations does not involve cancelled
        dividends.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of annualized dividend information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
              examples:
                Annualized Dividends Response of Apple (AAPL-US):
                  $ref: '#/components/examples/annualizedDividendsResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Corporate Actions
      summary: Gets Indicated Annualized Dividend information.
      description: >-
        Gets the Annualized dividend of the latest reported dividend. The
        annualized dividend calculations does not involve cancelled dividends.
      operationId: getannualizedDividendsForList
      requestBody:
        required: true
        description: Request object for `Annualized Response`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annualizedDividendsRequest'
            examples:
              Annualized Dividends Request for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postAnnualizedDividends'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
              examples:
                Annualized Dividends Response of Apple (AAPL-US):
                  $ref: '#/components/examples/annualizedDividendsResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/returns:
    get:
      tags:
        - Returns
      summary: Gets Returns for a list of `ids` as of given date range.
      operationId: getReturns
      description: >
        Returns for the requested ids and currency for the given dates.
        Depending on the input parameters the return data is provided. 
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/dividendAdjust'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of Returns Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Returns
      summary: Gets Returns for a list of `ids` as of given date range.
      description: >-
        Returns for the requested ids and currency for the given dates.
        Depending on the input parameters the return data is provided.
      operationId: getReturnsForList
      requestBody:
        required: true
        description: Request object for `Returns`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest'
            examples:
              Returns Request over 1 year period for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postReturns'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/security-shares:
    get:
      tags:
        - Shares Outstanding
      summary: Gets Shares Outstanding information for securities.
      operationId: getSharesOutstanding
      description: >-
        Returns security level shares outstanding data for the given ids and
        dates. At this time, all values returned are split adjusted.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/startDateSS'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: >-
            Array of security shares outstanding information for a given date
            range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Shares Outstanding
      summary: Gets Shares Outstanding information for securities.
      description: >-
        Returns security level shares outstanding data for the given ids and
        dates. At this time, all values returned are split adjusted.
      operationId: postSharesOutstanding
      requestBody:
        required: true
        description: Request object for `Shares Outstanding`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharesOutstandingRequest'
            examples:
              Security Shares Request over 1 year period for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postSecurityShares'
      responses:
        '200':
          description: Array of shares outstanding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/batch-status:
    get:
      tags:
        - Batch Processing
      summary: Returns the status for a Batch Request
      description: >-
        Return the status for the underlying batch request that is specified by
        the id.
      operationId: getBatchStatus
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: >-
            The batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch-result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: >-
            The batch Request has not finished and the result has NOT been
            created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
        '404':
          $ref: '#/components/responses/batch404'
      deprecated: false
  /factset-global-prices/v1/batch-result:
    get:
      tags:
        - Batch Processing
      summary: Returns the response for a Batch Request
      description: >
        Returns the response data for the underlying batch request that is
        specified by the id.


        By default, this endpoint will return data as JSON. If you wish to
        receive your data in CSV format, you can edit the header to have the
        "accept" parameter as "text/csv" instead of "application/json".
      operationId: getBatchData
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: >-
            Request Response Object when the batch request has been completed
            and the response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResultResponse'
              examples:
                One Week Prices for Two Securities Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
                Corporate Actions Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Annualized Dividends:
                  $ref: '#/components/examples/annualizedDividendsResponse'
                Security Shares:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: >-
            The batch Request has not finished and the result has NOT been
            created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
        '404':
          $ref: '#/components/responses/batch404'
      deprecated: false
      x-factset-different-success-responses: true
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    idsMax100:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 100
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  100 per request*</p> *<p>Make note, GET Method URL
        request lines are also limited to a total length of 8192 bytes (8KB). In
        cases where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    idsMax50:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 50
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  50 per request*</p> *<p>Make note, GET Method URL
        request lines are also limited to a total length of 8192 bytes (8KB). In
        cases where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
    idsMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  50 per multi-day request or 1000 for single day
        requests*</p> *<p>Make note, GET Method URL request lines are also
        limited to a total length of 8192 bytes (8KB). In cases where the
        service allows for thousands of ids, which may lead to exceeding this
        request line limit of 8KB, its advised for any requests with large
        request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
    batch:
      name: batch
      in: query
      description: >
        Enables the ability to asynchronously "batch" the request, supporting a
        long-running request for up to 20 minutes. Upon requesting batch=Y, the
        service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use batch status to see if the job
        has been completed. Once completed, retrieve the results of the request
        via batch-result. 

        For single-day requests, the ids limit is 500 for non-batch and 2000 for
        batch. For multi-day requests, the limit is 50 ids for both batch and
        non-batch. 

        Limits on query string via GET method still apply. It's advised to
        submit large lists of ids via POST method.

        <B>Please note that the number of unique currencies present in the
        requested ids is limited to 50 per request.</B>
      schema:
        type: string
        enum:
          - 'Y'
          - 'N'
        default: 'N'
    batchId:
      name: id
      in: query
      description: Batch Request identifier.
      schema:
        type: string
        format: uuid
      required: true
      allowEmptyValue: false
    eventCategory:
      name: eventCategory
      description: |
        Selects the Event Category to include in the response.
          * **CASH_DIVS** = Cash Dividends
          * **STOCK_DIST** = Stock Distributions
          * **SPINOFFS** = Spin Offs
          * **RIGHTS** = Rights Issue
          * **SPLITS** = Splits
          * **ALL** = Returns all Event Types. If left blank the service will default to ALL.
      in: query
      schema:
        type: string
        enum:
          - CASH_DIVS
          - STOCK_DIST
          - RIGHTS
          - SPINOFFS
          - SPLITS
          - ALL
        default: ALL
    startDate:
      name: startDate
      in: query
      required: true
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. The input start date must be before the input end date. Future
        dates (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The input end date must be after the input start date. Future dates
        (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    startDateSS:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        default: '2021-08-27'
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. The input start date must be before the input end date. Future
        dates (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    startDateCA:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. In the context of corporate actions, this filters the response
        to only include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2019-01-01'
    endDateCA:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        In the context of corporate actions, this filters the response to only
        include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2019-12-31'
    date:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: >
        The as of date in **YYYY-MM-DD** format. This controls the perspective
        date in which the period parameter will be computed. Future dates (T+1)
        are not accepted in this endpoint.
      example: '2019-07-07'
    cancelledDividend:
      name: cancelledDividend
      in: query
      required: false
      schema:
        type: string
        enum:
          - include
          - exclude
        default: exclude
      description: >
        The cancelled dividend returns the dividend details whether they are
        cancelled or active.
      example: exclude
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
          - D
          - AD
          - W
          - M
          - AM
          - AQ
          - CQ
          - ASA
          - CSA
          - AY
          - CY
        default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **AD** = Actual Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **AQ** =  Actual Quarterly
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **ASA** = Actual Semi-annual
          * **CSA** = Calendar Semi-annual
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          
    dividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
          - PRICE
          - EXDATE
          - PAYDATE
          - EXDATE_C
          - PAYDATE_C
        default: EXDATE_C
      description: |
        Controls the dividend reinvestment for the returns calculation.
          * **PRICE** = Price Change - Dividends Excluded.
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.
          * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.
          * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.

          
    calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
          - FIVEDAY
          - SEVENDAY
          - US
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    currency:
      name: currency
      in: query
      schema:
        type: string
      description: >-
        Currency code for adjusting prices. Default is Local. For a list of
        currency ISO codes, visit [Online Assistant Page
        1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    adjust:
      name: adjust
      in: query
      schema:
        type: string
        enum:
          - SPLIT
          - SPLIT_SPINOFF
          - DIV_SPIN_SPLITS
          - UNSPLIT
        default: SPLIT
      description: |
        Controls the split and spinoff adjustments for the prices.
          * **SPLIT** = Split ONLY Adjusted. This is used by default.
          * **SPLIT_SPINOFF** = Splits & Spinoff Adjusted.
          * **DIV_SPIN_SPLITS** = Dividend adjustments, Spinoff, and Splits combined.
          * **UNSPLIT** = No Adjustments.
          
    idsBatchMax50:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
        limit** =  50 per both non-batch request and batch request*</p> *<p>Make
        note, GET Method URL request lines are also limited to a total length of
        8192 bytes (8KB). In cases where the service allows for thousands of
        ids, which may lead to exceeding this request line limit of 8KB, it's
        advised for any requests with large request lines to be requested
        through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    idsBatchMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. **ids
        limit** = 500 per non-batch request / 2000 per batch request for a
        single day and 50 per multi-day request for both batch and non-batch.
        The number of unique currencies present in the requested ids is limited
        to 50 per request. Make note, GET Method URL request lines are also
        limited to a total length of 8192 bytes (8KB). In cases where the
        service allows for thousands of ids, which may lead to exceeding this
        request line limit of 8KB, it's advised for any requests with large
        request lines to be requested through the respective "POST" method.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    idsBatchMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
        limit** =  500 per non-batch request / 1000 per batch request for a
        single day and 50 per multi-day request*</p> *<p>Make note, GET Method
        URL request lines are also limited to a total length of 8192 bytes
        (8KB). In cases where the service allows for thousands of ids, which may
        lead to exceeding this request line limit of 8KB, it's advised for any
        requests with large request lines to be requested through the respective
        "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    fieldsPrices:
      name: fields
      in: query
      description: >
        Request available pricing data fields to be included in the response.
        Default is all fields. All responses will include the _fsymId_, _date_,
        and _currency_ fields.
          |field|description|
          |---|---|
          |price|Closing Price|
          |priceOpen|Opening Price|
          |priceHigh|High Price|
          |priceLow|Low Price|
          |volume|Volume|
          |turnover|Total Trade Value for the Day|
          |tradeCount|Number of Trades|
          |vwap|Volume Weighted Average Price|
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
        default:
          - price
          - priceOpen
          - priceHigh
          - priceLow
          - volume
          - turnover
          - tradeCount
          - vwap
          - currency
      example:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
    fieldsCorporateActions:
      name: fields
      in: query
      description: >
        Request available Corporate Actions data fields to be included in the
        response.

        Default is all fields. _fsymId_, _effectiveDate_, _eventTypeCode_ and
        _requestId_ are always included.

          |field|description|
          |---|---|
          |fsymId|Factset Regional Security Identifier|
          |eventTypeCode|Character code that denotes the type of event|
          |effectiveDate|The date when security is traded ex-dividend|
          |requestId|Identifier that was used for the request.|

        <h3>Common Fields</h3>
          |field|description|
          |---|---|
          |eventId|Uniquely Identifies the event|
          |eventTypeDesc|Description of the type of event|
          |divTypeCode|Dividend type code. [OA#8764](https://my.apps.factset.com/oa/pages/8764)|
          |announcementDate|Date the event was publicly announced|
          |recordDate|Record date of the event|
          |payDate|Payment date of the event|
        <h3>Dividend Fields</h3>
          |field|description|
          |---|---|
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |amtDefNetGrossIndicator|Indicates whether the default amount is net or gross. G=Gross; N=Net.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |amtNetTradingAdj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date.  The value is adjusted for splits.|
          |amtNetTradingUnadj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |amtGrossTradingAdj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtGrossTradingUnadj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |declaredCurrency|Currency ISO code associated with the declared amount. |
          |amtDefDecAdj|Cash distribution amount (net or gross) in the currency it was declared in. The value is adjusted for splits.|
          |amtDefDecUnadj|Cash distribution amount (net or gross) in the currency it was declared in. The value is not adjusted for splits.|
          |amtNetDecAdj|Net cash distribution amount in the currency it was declared in. The value is adjusted for splits. |
          |amtNetDecUnadj|Net cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |amtGrossDecAdj|Gross cash distribution amount in the currency it was declared in. N/A is returned if the gross amount is not available. The value is adjusted for splits.|
          |amtGrossDecUnadj|Gross cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |dividendStatus|Identifies the cancelled dividends status( Active, Cancelled, Postponed, Partial Information) and helps to evaluate their price and portfolio performance.Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendActiveFlag|Identifies whether the dividend record is currently active(1) or inactive(0).Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendsSpecFlag|Indicates a special price implications exists, which may or may not include special dividends. Indicates whether an adjustment should be made to historical pricing.|
          |dividendFrequencyDesc|Dividend Frequency for different event types in the form of a text as per the descriptions found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |dividendFrequencyCode|Dividend Frequency for different event types in the form of a code as per the details found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |frankDefTradingAdj|Split amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
          |frankDefTradingUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
          |frankDefDecAdj|Split amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefDecUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankPct|Percent of total dividend that is franked (subject to tax credit). **Only applicable for Australian Securities**.|
          |taxRate|Domestic Withholding Tax Rate for a Resident Individual|
        <h3>Distribution Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Factor applied to adjust historical prices. Calculation formulas are available on [OA#12619](https://my.apps.factset.com/oa/pages/12619)|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |distPct|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |rightsIssuePrice|Price of the rights issue. |
          |rightsIssueCurrency|Currency the rights issue price was declared in.|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
        <h3>Splits Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |distInstFsymId|Helps to identify an instrument representing the distributed company or security associated with ca event identifier. Its applicable for types like Bonus issue(BNS),Stock dividend(DVS),Rights issue (DSR), and spin off(SPO).|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
      examples:
        Dividends Fields:
          $ref: '#/components/examples/DividendsFields'
        Distributions Fields:
          $ref: '#/components/examples/DistributionsFields'
        Splits Fields:
          $ref: '#/components/examples/SplitsFields'
  schemas:
    globalPricesRequest:
      title: Prices Request Body
      description: Prices Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax2000'
        fields:
          $ref: '#/components/schemas/pricesFields'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        adjust:
          $ref: '#/components/schemas/adjust'
        batch:
          $ref: '#/components/schemas/batch'
      required:
        - ids
        - startDate
    globalPricesResponse:
      type: object
      title: Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/price'
    price:
      title: Price Object
      type: object
      properties:
        fsymId:
          description: >-
            FactSet Permanent Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix
            (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
      additionalProperties: true
    CashDividendsResponse:
      type: object
      title: Cash Dividends Response
      properties:
        data:
          description: Array of Diviends Objects
          type: array
          items:
            $ref: '#/components/schemas/Dividend'
    StockDistributionsResponse:
      type: object
      title: Stock Distributions Response
      properties:
        data:
          description: Array of Distribution Objects
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    SpinoffsResponse:
      type: object
      title: Spinoffs Response
      properties:
        data:
          description: Array of Distribution Objects
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    RightsIssueResponse:
      type: object
      title: Rights Issue Response
      properties:
        data:
          description: Array of Distribution Objects
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    SplitsResponse:
      type: object
      title: Splits Response
      properties:
        data:
          description: Array of Split Objects
          type: array
          items:
            $ref: '#/components/schemas/Split'
    corporateActionsResponse:
      type: object
      title: Corporate Actions Response
      properties:
        data:
          description: Array of Corporate Action Objects
          type: array
          items:
            $ref: '#/components/schemas/corporateAction'
    corporateAction:
      title: Corporate Action Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          nullable: true
        eventTypeCode:
          description: >-
            Corporate Actions Event type code, possible values: [ DVC, DVCD,
            DRP, DVS, DVSS, BNS, BNSS, SPO, DSR, FSP, RSP, SPL ]
          type: string
          nullable: true
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          nullable: true
        divTypeCode:
          description: >
            Dividend Type Code. For code descriptions, visit [Online Assistant
            Page #8764] (https://oa.apps.factset.com/pages/8764).
          type: string
          nullable: true
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          nullable: true
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          nullable: true
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          nullable: true
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
      additionalProperties: true
    corporateActionsRequest:
      title: Corporate Actions Request Body
      description: Corporate Actions Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax50'
        eventCategory:
          $ref: '#/components/schemas/eventCategory'
        fields:
          $ref: '#/components/schemas/fieldsCorporateActions'
        startDate:
          $ref: '#/components/schemas/startDateCA'
        endDate:
          $ref: '#/components/schemas/endDateCA'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        cancelledDividend:
          $ref: '#/components/schemas/cancelledDividend'
        batch:
          $ref: '#/components/schemas/batch'
      required:
        - ids
    annualizedDividendsRequest:
      title: Annualized Dividends Request Body
      description: Annualized Dividends Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax50'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        batch:
          $ref: '#/components/schemas/batch'
      required:
        - ids
    annualizedDividendResponse:
      type: object
      title: Annualized Dividends Response
      properties:
        data:
          description: Array of Annualized Dividends Objects
          type: array
          items:
            $ref: '#/components/schemas/annualizedDividendsObject'
    annualizedDividendsObject:
      title: Annualized Dividends Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          nullable: true
        effectiveDate:
          description: >-
            Effective Date or Ex-Date of Annualized Dividend in YYYY-MM-DD
            format.
          type: string
          example: '2022-03-11'
          nullable: true
        iadDefTradingAdj:
          description: >-
            Annualized Dividend value in the trading currency. The value is
            adjusted for splits
          type: number
          format: float
          example: 0.7584434
          nullable: true
        currency:
          description: >-
            Currency ISO code associated with the annualized dividends.For more
            details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
    idsMax100:
      title: ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 100
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
      example:
        - TSLA-US
        - AAPL-US
    idsMax50:
      title: ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 50
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Requests
        are limited to 50 IDs.
      example:
        - AAPL-US
    idsMax1000:
      title: ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Requests
        are limited to 50 IDs for multi-day requests and 1000 IDs for single day
        requests.
      example:
        - TSLA-US
    sharesOutstandingRequest:
      title: Shares Outstanding Request Body
      description: Shares Outstanding Request Body
      type: object
      properties:
        data:
          $ref: '#/components/schemas/sharesOutstandingRequestBody'
      required:
        - data
    sharesOutstandingRequestBody:
      title: Shares Outstanding Request Body
      description: Shares Outstanding Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax50'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        calendar:
          $ref: '#/components/schemas/calendar'
        batch:
          $ref: '#/components/schemas/batch'
      required:
        - ids
    sharesOutstandingResponse:
      type: object
      title: Shares Outstanding Response
      properties:
        data:
          description: Array of Shares Outstanding Objects
          type: array
          items:
            $ref: '#/components/schemas/sharesOutstandingResponseObject'
    sharesOutstandingResponseObject:
      type: object
      title: Shares Outstanding Object
      properties:
        fsymId:
          description: >-
            Security-level FactSet Permanent Identifier associated with the
            identifier.
          type: string
          example: C6J726-S
          nullable: true
        date:
          description: Date of the record in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-08-10'
          nullable: true
        documentId:
          description: >-
            Unique Identifier for each document or filing which contains the
            outstanding shares position.
          type: string
          example: '956881'
          nullable: true
        requestId:
          description: FactSet Security Permanent Identifier that was used for the request.
          type: string
          example: C6J726-S
          nullable: true
        reportDate:
          description: Reporting date of the position.
          type: string
          format: date
          example: '2022-08-02'
          nullable: true
        publicationDate:
          description: Exact date that results have been communicated to the market.
          type: string
          format: date
          example: '2022-08-04'
          nullable: true
        fiscalYear:
          description: The company's fiscal year corresponding to the report.
          type: integer
          example: 2022
          nullable: true
        reportingPeriodDescription:
          description: Textual description of the reporting period.
          type: string
          example: 2nd Quarter
          nullable: true
        reportingPeriod:
          description: >
            Code representing the unique reporting period. Options are as
            follows:

            - 1 - 1st Quarter

            - 2 - 2nd Quarter

            - 3 - 3rd Quarter

            - 4 - 4th Quarter

            - 6 - Mid-Year
          type: integer
          example: 3
          nullable: true
        description:
          description: >-
            Different stock types based on the rights and benefits from
            ownership.
          type: string
          example: Class A Shares
          nullable: true
        adrDescription:
          description: >-
            Different stock types based on the rights and benefits from
            ownership for the ADR.
          type: string
          example: Class A Shares
          nullable: true
        adrRatio:
          description: >-
            Number of common or ordinary shares that are equivalent to one
            American Depositary Receipt (ADR).
          type: number
          example: 0.5
          nullable: true
        adrFsymId:
          description: >-
            Unique FactSet generated identifier assigned to a security,
            representing the ADR security.
          type: string
          example: V9GGRZ-S
          nullable: true
        totalOutstanding:
          description: Number of shares outstanding as of `date`.
          type: number
          example: 1351.828
          nullable: true
        adrTotalOutstanding:
          description: Number of shares outstanding for the ADR as of `date`.
          type: number
          example: 980.22284
          nullable: true
      additionalProperties: false
    idsBatchMax2000:
      type: array
      items:
        type: string
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. 

        <p>ids limit =  500 per non-batch request / 2000 per batch request for a
        single day and 50 per multi-day request for both batch and non-batch.
        </p>
      example:
        - FDS-US
    batch:
      description: >
        Enables asynchronous "batch" processing for long-running requests,
        supporting durations up to 20 minutes. When batch=Y is specified, the
        service responds with HTTP Status Code 202 (Accepted) indicating that
        the request has been received and is being processed. Use the batch
        status endpoint to check job progress, and retrieve results using the
        batch-result endpoint once processing is complete.

        Request Limits:
          - Non-batch (real-time) requests:
              * Single day: up to 500 IDs per request
              * Multi-day: up to 50 IDs per request

          - Batch requests:
              * Single day: up to 2000 IDs per request
              * Multi-day: up to 50 IDs per request

        When using batch mode, the number of unique currencies present in the
        requested IDs is limited to 50 per request. It is recommended to use the
        POST method for large ID lists, as GET requests are still subject to URL
        query string length limits.
      type: string
      enum:
        - 'Y'
        - 'N'
      default: 'N'
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
        startTime:
          type: string
          format: date-time
          description: >-
            Time when the batch request is started. This is in Eastern Time
            Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS],
            following ISO 8601.
        endTime:
          type: string
          format: date-time
          description: >-
            Time when the batch request is ended. This is in Eastern Time Zone.
            The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS],
            following ISO 8601.
          nullable: true
        status:
          type: string
          enum:
            - queued
            - executing
            - created
            - failed
        error:
          $ref: '#/components/schemas/batchErrorObject'
    batchResultResponse:
      title: Batch Data Response
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/batchResult'
    batchResult:
      title: Batch Data
      anyOf:
        - $ref: '#/components/schemas/price'
        - $ref: '#/components/schemas/returns'
        - $ref: '#/components/schemas/corporateAction'
        - $ref: '#/components/schemas/annualizedDividendsObject'
        - $ref: '#/components/schemas/sharesOutstandingResponseObject'
    eventCategory:
      title: eventCategory
      type: string
      enum:
        - CASH_DIVS
        - STOCK_DIST
        - RIGHTS
        - SPINOFFS
        - SPLITS
        - ALL
      default: ALL
      description: |
        Selects the Event Category to include in the response.
          * **CASH_DIVS** = Cash Dividends
          * **STOCK_DIST** = Stock Distributions
          * **SPINOFFS** = Spin Offs
          * **RIGHTS** = Rights Issue
          * **SPLITS** = Splits
          * **ALL** = Returns all Event Types. If left blank the service will default to ALL.
      example: CASH_DIVS
    fieldsCorporateActions:
      title: fields
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 36
      description: >
        Request available Corporate Actions data fields to be included in the
        response.

        Default is all fields. _fsymId_, _effectiveDate_, _eventTypeCode_ and
        _requestId_ are always included.

          |field|description|
          |---|---|
          |fsymId|Factset Regional Security Identifier|
          |eventTypeCode|Character code that denotes the type of event|
          |effectiveDate|The date when security is traded ex-dividend|
          |requestId|Identifier that was used for the request.|

        <h3>Common Fields</h3>
          |field|description|
          |---|---|
          |eventId|Uniquely Identifies the event|
          |eventTypeDesc|Description of the type of event|
          |divTypeCode|Dividend type code. [OA#8764](https://my.apps.factset.com/oa/pages/8764)|
          |announcementDate|Date the event was publicly announced|
          |recordDate|Record date of the event|
          |payDate|Payment date of the event|
        <h3>Dividend Fields</h3>
          |field|description|
          |---|---|
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |amtDefNetGrossIndicator|Indicates whether the default amount is net or gross. G=Gross; N=Net.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |amtNetTradingAdj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date.  The value is adjusted for splits.|
          |amtNetTradingUnadj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |amtGrossTradingAdj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtGrossTradingUnadj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |declaredCurrency|Currency ISO code associated with the declared amount. |
          |amtDefDecAdj|Cash distribution amount (net or gross) in the currency it was declared in. The value is adjusted for splits.|
          |amtDefDecUnadj|Cash distribution amount (net or gross) in the currency it was declared in. The value is not adjusted for splits.|
          |amtNetDecAdj|Net cash distribution amount in the currency it was declared in. The value is adjusted for splits. |
          |amtNetDecUnadj|Net cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |amtGrossDecAdj|Gross cash distribution amount in the currency it was declared in. N/A is returned if the gross amount is not available. The value is adjusted for splits.|
          |amtGrossDecUnadj|Gross cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |dividendStatus|Identifies the cancelled dividents and helps to evaluate their price and portfolio performance.|
          |dividendActiveFlag|Identifies whether the dividend record is currently active(1) or inactive(0).Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendsSpecFlag|Indicates a special price implications exists, which may or may not include special dividends. Indicates whether an adjustment should be made to historical pricing.|
          |dividendFrequencyDesc|Dividend Frequency for different event types in the form of a text as per the descriptions found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |dividendFrequencyCode|Dividend Frequency for different event types in the form of a code as per the details found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |frankDefTradingAdj|Split amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefTradingUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefDecAdj|Split amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.**Only applicable for Australian Securities**.|
          |frankDefDecUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.**Only applicable for Australian Securities**.|
          |frankPct|Percent of total dividend that is franked (subject to tax credit). **Only applicable for Australian Securities**.|          
          |taxRate|Domestic Withholding Tax Rate for a Resident Individual|
        <h3>Distribution Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Factor applied to adjust historical prices. Calculation formulas are available on [OA#12619](https://my.apps.factset.com/oa/pages/12619)|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |distPct|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |rightsIssuePrice|Price of the rights issue. |
          |rightsIssueCurrency|Currency the rights issue price was declared in.|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
        <h3>Splits Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |distInstFsymId|Helps to identify an instrument representing the distributed company or security associated with ca event identifier. Its applicable for types like Bonus issue(BNS),Stock dividend(DVS),Rights issue (DSR), and spin off(SPO). |
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
      example:
        - eventId
        - eventTypeDesc
        - recordDate
        - payDate
        - currency
    pricesFields:
      title: Prices Fields
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 8
      description: >
        Request available pricing data fields to be included in the response.
        Default is all fields. All responses will include the _fsymId_, _date_,
        and _currency_ fields.
          |field|description|
          |---|---|
          |price|Closing Price|
          |priceOpen|Opening Price|
          |priceHigh|High Price|
          |priceLow|Low Price|
          |volume|Volume|
          |turnover|Total Trade Value for the Day|
          |tradeCount|Number of Trades|
          |vwap|Volume Weighted Average Price|
      example:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
        - vwap
        - tradeCount
        - turnover
    startDate:
      title: Start Date
      type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. Future dates (T+1) are not accepted in this endpoint.
      example: '2020-06-30'
    endDate:
      title: End Date
      type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        Future dates (T+1) are not accepted in this endpoint.
      example: '2021-06-30'
    startDateCA:
      title: Start Date
      type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. In the context of corporate actions, this filters the response
        to only include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2020-06-30'
    endDateCA:
      title: End Date
      type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        In the context of corporate actions, this filters the response to only
        include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2021-06-30'
    frequency:
      title: Frequency
      type: string
      enum:
        - D
        - AD
        - W
        - M
        - AM
        - AQ
        - CQ
        - ASA
        - CSA
        - AY
        - CY
      default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **AD** = Actual Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **AQ** =  Actual Quarterly
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **ASA** = Actual Semi-annual
          * **CSA** = Calendar Semi-annual
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
      example: M
    dividendAdjust:
      title: dividendAdjust
      type: string
      enum:
        - PRICE
        - EXDATE
        - PAYDATE
        - EXDATE_C
        - PAYDATE_C
      default: EXDATE_C
      description: |
        Controls the dividend reinvestment for the returns calculation.
          * **PRICE** = Price Change - Dividends Excluded.
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.
          * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.
          * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.
      example: EXDATE_C
    calendar:
      title: Calendar
      type: string
      enum:
        - FIVEDAY
        - SEVENDAY
        - US
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    cancelledDividend:
      title: cancelledDividend
      type: string
      enum:
        - include
        - exclude
      default: exclude
      description: >-
        The cancelled dividend returns the dividend details whether they are
        cancelled or active.
      example: exclude
    requestCurrency:
      title: Request Currency
      type: string
      description: >-
        Currency code for adjusting prices. Default is Local. For a list of
        currency ISO codes, visit [Online Assistant Page
        1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    idsBatchMax50:
      title: ids
      type: string
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
        limit** =  50 per both non-batch request and batch request*</p>
      example: AAPL-US
    adjust:
      title: Adjust
      type: string
      enum:
        - SPLIT
        - SPLIT_SPINOFF
        - DIV_SPIN_SPLITS
        - UNSPLIT
      default: SPLIT
      description: |
        Controls the split and spinoff adjustments for the prices.
          * **SPLIT** = Split ONLY Adjusted. This is used by default.
          * **SPLIT_SPINOFF** = Splits & Spinoff Adjusted.
          * **DIV_SPIN_SPLITS** = Dividend adjustments, Spinoff, and Splits combined.
          * **UNSPLIT** = No Adjustments.
      example: SPLIT
    Dividend:
      title: Dividend Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
        eventTypeCode:
          description: Corporate Actions Event type code.
          type: string
          enum:
            - DVC
            - DVCD
            - DRP
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
        divTypeCode:
          description: >
            Dividend Type Code. For code descriptions, visit [Online Assistant
            Page #8764] (https://oa.apps.factset.com/pages/8764).
          type: string
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
        amtDefNetGrossIndicator:
          description: >-
            Net/Gross Marker Code. For details describing Net vs. Gross
            dividends, visit [Online Assistant Page
            #11512](https://oa.apps.factset.com/pages/11512).
          type: string
          enum:
            - 'N'
            - G
        amtDefTradingAdj:
          description: Default Amount - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
        amtDefTradingUnadj:
          description: Default Amount - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
        amtGrossTradingAdj:
          description: 'Gross Amount - Trading Currency, Split Adjusted '
          type: number
          format: double
          example: null
        amtGrossTradingUnadj:
          description: 'Gross Amount - Trading Currency, Unadjusted '
          type: number
          format: double
          example: null
        amtNetTradingAdj:
          description: Net Amount - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
        amtNetTradingUnadj:
          description: Net Amount - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
        declaredCurrency:
          description: Currency code for declared dividend.
          type: string
          example: USD
        amtDefDecAdj:
          description: Default Amount - Declared Currency, Split Adjusted
          type: number
          format: double
          example: null
        amtDefDecUnadj:
          description: Default Amount - Declared Currency, Unadjusted
          type: number
          format: double
          example: null
        amtGrossDecAdj:
          description: 'Gross Amount - Declared Currency, Split Adjusted '
          type: number
          format: double
          example: null
        amtGrossDecUnadj:
          description: 'Gross Amount - Declared Currency, Unadjusted '
          type: number
          format: double
          example: null
        amtNetDecAdj:
          description: 'Net Amount - Declared Currency, Split Adjusted '
          type: number
          format: double
          example: null
        amtNetDecUnadj:
          description: 'Net Amount - Declared Currency, Unadjusted '
          type: number
          format: double
          example: null
        dividendStatus:
          description: Dividend Status Flag - 1=Yes, 0=No
          type: integer
          example: 0
        dividendActiveFlag:
          description: Dividend active Flag - 1=Yes, 0=No
          type: integer
          example: 1
        dividendsSpecFlag:
          description: Special Dividend Flag - 1=Yes, 0=No
          type: integer
          example: 0
        frankDefTradingAdj:
          description: Default Frank - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
        frankDefTradingUnadj:
          description: Default Frank - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
        frankDefDecAdj:
          description: Default Frank - Declared Currency, Split Adjusted
          type: number
          format: double
          example: null
        frankDefDecUnadj:
          description: Default Frank - Declared Currency, Unadjusted
          type: number
          format: double
          example: null
        frankPct:
          description: Default Amount - Declared Currency, Unadjusted
          type: number
          format: double
          example: null
        taxRate:
          description: Tax Rate for on gross dividend for net dividend.
          type: number
          format: double
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
    Distribution:
      title: Distribution Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
        eventTypeCode:
          description: Corporate Actions Event type code.
          type: string
          enum:
            - DVS
            - DVSS
            - BNS
            - BNSS
            - SPO
            - DSR
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          example: Stock Dividend, Special
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
        adjFactor:
          description: >
            Factor for adjusting price and shares.

            A 2-for-1 split returns .50, the number you would multiply the stock
            price by to adjust for the split.
          type: number
          format: double
          example: 0.997262
        adjFactorCombined:
          description: Combined adjustment factor for all distribution events on that day.
          type: number
          format: double
          example: 0.997262
        amtDefTradingAdj:
          description: Default Amount - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
        amtDefTradingUnadj:
          description: Default Amount - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
        distPct:
          description: >-
            Distribution percentage of the event  (i.e. 10%). Typical for stock
            distributions.
          type: number
          format: double
          example: 0.27455
        distOldTerm:
          description: Component of distribution ratio -  Number of shares held.
          type: number
          format: double
          example: 1
        distNewTerm:
          description: Component of distribution ratio -  Number of shares received.
          type: number
          format: double
          example: 0.05
        rightsIssuePrice:
          description: Description
          type: number
          format: double
          example: null
        rightsIssueCurrency:
          type: string
          description: Description
          example: USD
        shortDesc:
          description: Textual description identifying the event.
          type: string
          example: >
            Spin off (Company)- For every 1 share held of General Electric Co.
            (CUSIP- 369604103; SEDOL- 2380498), receive 0.005371 share of Wabtec
            Rg (CUSIP- 929740108; SEDOL- 2955733)"
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: GOOG-US
    Split:
      title: Split Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
        eventTypeCode:
          description: Character code that denotes the type of Event.
          type: string
          enum:
            - FSP
            - RSP
            - SPL
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          example: Forward Split
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
        adjFactor:
          description: >
            Factor for adjusting price and shares.

            A 2-for-1 split returns .50, the number you would multiply the stock
            price by to adjust for the split.
          type: number
          format: double
          example: 0.997262
        adjFactorCombined:
          description: Combined adjustment factor for all distribution events on that day.
          type: number
          format: double
          example: 0.997262
        distOldTerm:
          description: Component of distribution ratio -  Number of shares held.
          type: number
          format: double
          example: 1
        distNewTerm:
          description: Component of distribution ratio -  Number of shares received.
          type: number
          format: double
          example: 0.05
        distInstFsymId:
          description: Parent Spin-Off for a company
          type: string
          example: RGW4H5-S
        shortDesc:
          description: Textual description identifying the event.
          type: string
          example: 'Split (Mandatory): 3 for 1.'
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    returnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax50'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        frequency:
          $ref: '#/components/schemas/frequency'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
        batch:
          $ref: '#/components/schemas/batch'
      required:
        - ids
        - startDate
    returnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returns'
    returns:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: >-
            FactSet Permanent Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix
            (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        totalReturn:
          description: Returns the data for the given input parameters.
          type: number
          format: double
          example: 0.927077
          nullable: true
        date:
          description: >-
            End date of the return. Date in YYYY-MM-DD format. Depending on
            Frequency and Calendar settings, this could represent the entire
            return period requested.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
[...]
