openapi: 3.0.0
info:
  version: 1.2.1
  title: FactSet Prices API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  description: >
    Gain access to comprehensive global coverage for Equities & Fixed Income.
    Perform quick analytics by controlling the date ranges, currencies, and
    rolling periods, or simply request Open, High, Low, and Close prices. Easily
    connect pricing data with other core company data or alternative content
    sets using FactSet's hub and spoke symbology. <p>Equity and Fund Security
    types include Common Stock, ADR, GDR, Preferred, Closed-ended Fund, Exchange
    Traded Fund, Unit, Open-ended Fund, Exchange Traded Fund UVI, Exchange
    Traded Fund NAV, Preferred Equity, Non-Voting Depositary
    Receipt/Certificate, Alien/Foreign, Structured Product, and Temporary
    Instruments. Reference over 180,000+ active and inactive
    securities.</p><p>Fixed Income Security Types include Corporate Bonds,
    Treasury and Agency bonds, Government Bonds, and Municipals.</p>
servers:
  - url: https://api.factset.com/content
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
paths:
  /factset-prices/v1/prices:
    get:
      tags:
        - Prices
      summary: Gets end-of-day Open, High, Low, Close for a list of securities.
      operationId: getSecurityPrices
      description: >
        Gets security prices, Open, High, Low, Close, Volume, and currency for a
        specified date range and frequency. Prices are updated and at different
        times across the different regions around the globe. The Prices API
        automatically defaults relative price dates to the local region which is
        determined by the local region of the requested security id. To learn
        more about relative dates please visit [OA Page
        4627](https://my.apps.factset.com/oa/pages/4627)


        */prices* endpoint currently supports Long Running asynchronous requests
        up to **10 minutes** via `batch` parameter. This feature is in **Beta**.
        **Additional Approvals needed for access**. Id limits increased to
        **5000 ids** per request using batch parameter.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax5000'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/adjust'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of security prices open, high, low, close, and volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesResponse'
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch/v1/status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices
      summary: >-
        Requests end-of-day Open, High, Low, Close for a large list of
        securities.
      description: >

        Gets security prices, Open, High, Low, Close, Volume, and currency for a
        specified date range and frequency.


        */prices* endpoint currently supports Long Running asynchronous requests
        up to **10 minutes** via `batch` parameter. This feature is in **Beta**.
        **Additional Approvals needed for access**. Id limits increased to
        **5000 ids** per request using batch parameter.
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricesRequest'
            examples:
              One Year of Daily Prices for Apple and Tesla in 2019:
                $ref: '#/components/examples/multipleIdsOneYearPost'
              Single Company Monthly Prices for One Year:
                $ref: '#/components/examples/singleIdsOneYearMonthlyPost'
              Price Adjusted for Splits, Spinoffs, and Dividends:
                $ref: '#/components/examples/priceAdjustedForDividendsMonthlyPost'
              Batch Request for Prices for APPL and Tesla:
                $ref: '#/components/examples/BatchPricesRequestPost'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesResponse'
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch/v1/status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/fixed-income:
    get:
      tags:
        - Prices
      summary: Gets pricing for a list of Fixed Income securities
      operationId: getFixedSecurityPrices
      description: >
        Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income
        Securities as of a requested date range. Available for U.S. Corporate,
        Treasury and Agency bonds, Municipals, and non-U.S. Corporate and
        Government bonds. To learn more about Fixed Income Prices database,
        please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)
      parameters:
        - $ref: '#/components/parameters/fixedIds'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequencyFi'
      responses:
        '200':
          description: >-
            Array of Fixed Income Security prices objects for date range
            requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices
      summary: >-
        Requests pricing for a list of Fixed Income securities for date range
        requested
      description: >
        Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income
        Securities as of a requested date range. Available for U.S. Corporate,
        Treasury and Agency bonds, Municipals, and non-U.S. Corporate and
        Government bonds. To learn more about Fixed Income Prices database,
        please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)
      operationId: getFixedSecurityPricesForList
      requestBody:
        required: true
        description: Request object for Fixed Income `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricesFixedIncomeRequest'
            examples:
              Single Fixed Income Id Request for One Year of Monthly Prices:
                $ref: '#/components/examples/singleFixedOneYearPost'
              Fixed Income Single Id Request:
                $ref: '#/components/examples/multipleFixedPricesPost'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/references:
    get:
      tags:
        - Reference
      summary: Gets security reference details for a list of securities
      operationId: getSecurityReferences
      description: >
        Gets security reference details for a list of `ids`, such as Name,
        Security Type, Currency, Country, Primary Exchange, Local Index, and
        dates of First and Last Trade.
      parameters:
        - $ref: '#/components/parameters/idsMax2000'
      responses:
        '200':
          description: Array of security references objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/referencesResponse'
              examples:
                Single Company Reference:
                  $ref: '#/components/examples/singleSecurityReferences'
                Multiple Company References:
                  $ref: '#/components/examples/multipleSecurityReferences'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Reference
      summary: Requests security reference details a list of securities
      description: >
        Gets security reference details for a large list of `ids`, such as Name,
        Security Type, Currency, Country, Primary Exchange, Local Index, and
        dates of First and Last Trade.
      operationId: getSecurityReferenceForList
      requestBody:
        required: true
        description: Request object for `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/referencesRequest'
            examples:
              Multiple Security Reference Request:
                $ref: '#/components/examples/multipleReferencesPost'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/referencesResponse'
              examples:
                Single Company Reference:
                  $ref: '#/components/examples/singleSecurityReferences'
                Multiple Company References:
                  $ref: '#/components/examples/multipleSecurityReferences'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/returns:
    get:
      tags:
        - Returns
      summary: >-
        Gets Returns for a list of `ids` as of given date range and rolling
        Period
      operationId: getSecurityReturns
      description: >-
        The simple or compound return for the requested frequency and/or
        rollingPeriod. Depending on the input parameters the return will adjust
        accordingly. If you simply use frequency and no rollingPeriod, the
        return value will represent the frequency period. If you use
        rollingPeriod, the values will be returned in actual period ends (e.g.
        actual month, actual week, daily, etc.). General Return Calculation
        Details found on [Online Assistant Page
        #8748](https://oa.apps.factset.com/pages/8748)
      parameters:
        - $ref: '#/components/parameters/idsMax2000'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/dividendAdjust'
        - $ref: '#/components/parameters/rollingPeriod'
      responses:
        '200':
          description: >-
            Array of security returns for the requested date range and rolling
            period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Returns
      summary: Requests security returns for the given date range and rollingPeriod.
      description: >-
        The simple or compound return for the requested frequency and/or
        rollingPeriod. Depending on the input parameters the return will adjust
        accordingly. If you simply use frequency and no rollingPeriod, the
        return value will represent the frequency period. If you use
        rollingPeriod, the values will be returned in actual period ends (e.g.
        actual month, actual week, daily, etc.). General Return Calculation
        Details found on [Online Assistant Page
        #8748](https://oa.apps.factset.com/pages/8748)
      operationId: getSecurityReturnsForList
      requestBody:
        required: true
        description: Request object for `Security` returns.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest'
            examples:
              What is the latest monthly total return for APPL TSLA FB and NFLX:
                $ref: '#/components/examples/fangStocksReturnPost'
              Daily Price Changes of AMZN in 2019:
                $ref: '#/components/examples/dailyPriceChangeAMZNPost'
      responses:
        '200':
          description: >-
            Array of security returns for the requested date range and rolling
            period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/returns-snapshot:
    get:
      tags:
        - Returns
      summary: >-
        Returns the price performance of the security and annualized compound
        total returns.
      operationId: getReturnsSnapshot
      description: >
        Retrieves various return periods as of a given date for a requested list
        of securities. This endpoint is very helpful for quickly retrieving a
        list of pre-calculated returns for application development.<p> Return
        periods include
          * oneDay
          * weekToDate
          * monthToDate
          * quarterToDate
          * yearToDate
          * oneMonth
          * threeMonth
          * sixMonth
          * nineMonth
          * oneYear
          * twoYearAnnualized
          * threeYearAnnualized
          * fiveYearAnnualized
          * tenYearAnnualized
          * twentyYearAnnualized
          * thirtyYearAnnualized
          * ipoToDateAnnualized
          </p>
      parameters:
        - $ref: '#/components/parameters/idsMax2000'
        - $ref: '#/components/parameters/dateRs'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/dividendAdjustSnapshot'
      responses:
        '200':
          description: Array of returns-snapshot objects for the list of ids requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for Multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Returns
      summary: >-
        Returns the price performance of the security and annualized compound
        total returns.
      description: >
        Retrieves various return periods as of a given date for a requested list
        of securities. This endpoint is very helpful for quickly retrieving a
        list of pre-calculated returns for application development.<p> Return
        periods include
          * oneDay
          * weekToDate
          * monthToDate
          * quarterToDate
          * yearToDate
          * oneMonth
          * threeMonth
          * sixMonth
          * nineMonth
          * oneYear
          * twoYearAnnualized
          * threeYearAnnualized
          * fiveYearAnnualized
          * tenYearAnnualized
          * twentyYearAnnualized
          * thirtyYearAnnualized
          * ipoToDateAnnualized
          </p>
      operationId: getReturnsSnapshotForList
      requestBody:
        required: true
        description: Request object for Returns-Snapshot.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsSnapshotRequest'
            examples:
              Return details for IBM-US with compound return type:
                $ref: '#/components/examples/singleRSCompundRT'
              Requesting returns details for multiple companies with simple return type:
                $ref: '#/components/examples/multipleRSSimpleRT'
      responses:
        '200':
          description: Array of returns-snapshot objects for the list of ids requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/dividends:
    get:
      tags:
        - Dividends
      summary: Gets dividend information for a given date range and list of securities
      operationId: getSecurityDividends
      description: >-
        Get the dividend amounts, dates, types, and flags over a specified date
        range. You may request future dates to receive information for declared
        dividends.
      parameters:
        - $ref: '#/components/parameters/idsMax1000'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/adjust'
      responses:
        '200':
          description: >-
            Array of security dividend information for a given date range and
            list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dividendsResponse'
              examples:
                Three Years of Dividends for AAPL as of 2019:
                  $ref: '#/components/examples/3yrDividendsAPPL'
                Latest Dividends for AAPL and AMZN:
                  $ref: '#/components/examples/latestDividends'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Dividends
      summary: >-
        Requests dividend information for a given date range and list of
        securities
      description: >-
        Get the dividend amounts, dates, types, and flags over a specified date
        range
      operationId: getSecurityDividendsForList
      requestBody:
        required: true
        description: Request object for `Security` dividends.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dividendsRequest'
            examples:
              Request AAPL Dividends in 2019:
                $ref: '#/components/examples/singleSecurityDividends'
              Request Latest Dividends of AAPL and MSFT:
                $ref: '#/components/examples/latestDividendsPost'
      responses:
        '200':
          description: >-
            Array of dividend information for a given date range and list of
            securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dividendsResponse'
              examples:
                Latest Dividends for AAPL and MSFT:
                  $ref: '#/components/examples/latestDividends'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/splits:
    get:
      tags:
        - Splits
      summary: Gets full history of security Splits for a list of `ids`
      operationId: getSecuritySplits
      description: >-
        Gets the entire history of splits for a given list of identifiers.
        Information returned includes the split factor, a plain text comment
        regarding the type of split, and the event date.
      parameters:
        - $ref: '#/components/parameters/idsMax2000'
      responses:
        '200':
          description: Array of security splits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/splitsResponse'
              examples:
                Split History for a Single Security - MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Splits
      summary: Requests splits for a list of `ids`
      description: >-
        Gets the entire history of splits for a given list of identifiers.
        Information returned includes the split factor, a plain text comment
        regarding the type of split, and the event date.
      operationId: getSecuritySplitsForList
      requestBody:
        required: true
        description: Request object for `Security` split factors.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/splitsRequest'
            examples:
              Single Company Daily Prices One Month:
                $ref: '#/components/examples/splitHistoryMSFTPost'
              One Year of Monthly Prices for AAPL in 2019:
                $ref: '#/components/examples/multipleSplitsHistoryPost'
      responses:
        '200':
          description: Array of Splits objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/splitsResponse'
              examples:
                Splits History for MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/shares:
    get:
      tags:
        - Shares
      summary: Gets shares for a list of `ids` as of given date range.
      operationId: getSecurityShares
      description: >-
        Gets security shares for a list of 'ids' and given date range. Share
        values returned include security-level and company-level.
      parameters:
        - $ref: '#/components/parameters/idsMax1000'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/splitAdjust'
      responses:
        '200':
          description: Array of security shares
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesResponse'
              examples:
                One Year of Monthly Share Counts for AAPL:
                  $ref: '#/components/examples/singleSecurityShares'
                Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/multipleSecuritiesShares'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Shares
      summary: Requests shares for a list of `ids` as of given date range.
      description: >-
        Gets security shares for a list of 'ids' and given date range. Share
        values returned include security-level and company-level.
      operationId: getSecuritySharesForList
      requestBody:
        required: true
        description: Request object for `Security` shares.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharesRequest'
            examples:
              Request One Year of Monthly Share Counts for AAPL:
                $ref: '#/components/examples/singleSecuritySharesPost'
              Request Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                $ref: '#/components/examples/multipleSecuritiesSharesPost'
      responses:
        '200':
          description: Array of Shares objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesResponse'
              examples:
                One Year of Monthly Share Counts for AAPL:
                  $ref: '#/components/examples/singleSecurityShares'
                Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/multipleSecuritiesShares'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/market-value:
    get:
      tags:
        - Market Value
      summary: >-
        Gets the security level and company level market values for a list of
        `ids` as of given date range and frequency.
      operationId: getMarketValue
      description: >
        Gets market capitalization of list of ids for the company level,
        security level, calendar, frequency, and currency for a specified date
        range.
      parameters:
        - $ref: '#/components/parameters/idsMax2000'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Array of company market capitalization values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketValueResponse'
              examples:
                Market Value of GOOGL as of July 07 2020:
                  $ref: '#/components/examples/singleMarketValue'
                Market Value for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/multipleMarketValues'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Market Value
      summary: Requests the market value for a list of `ids` as of given date range.
      description: Requests the market value for a list of `ids` as of given date range.
      operationId: getMarketValueForList
      requestBody:
        required: true
        description: Request object for `Security` market values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/marketValueRequest'
            examples:
              Single Company Market Value:
                $ref: '#/components/examples/singleMarketValuePost'
              Multiple Company Market Values:
                $ref: '#/components/examples/multipleMarketValuePost'
      responses:
        '200':
          description: Array of company market capitalization values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketValueResponse'
              examples:
                Market Value of GOOGL as of July 07 2020:
                  $ref: '#/components/examples/singleMarketValue'
                Market Value for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/multipleMarketValues'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/high-low:
    get:
      tags:
        - High Low
      summary: >-
        Gets the price high and price low of securities for a list of `ids` as
        of given date, period and frequency.
      operationId: getHighLow
      description: >
        For given security(s), gets the high and low prices with the respective
        dates on which they occurred. This service gives options for fetching
        the price as of the close or intraday.
      parameters:
        - $ref: '#/components/parameters/idsMax2000'
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/period'
        - $ref: '#/components/parameters/priceType'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/adjust'
      responses:
        '200':
          description: Array of price high and price low values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/highLowResponse'
              examples:
                52 week Price High and Price Low of GOOGL-US as of July 07 2020:
                  $ref: '#/components/examples/singleHighLow'
                52 week Price High and Price Low for AAPL-US and TSLA-US as of March 07 2020:
                  $ref: '#/components/examples/multipleHighLow'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - High Low
      summary: >-
        Requests the price high and price low of securities for a list of `ids`
        as of given date, period and frequency.
      description: >
        For given security(s), gets the high and low prices with the respective
        dates on which they occurred. This service gives options for fetching
        the price as of the close or intraday.
      operationId: getHighLowForList
      requestBody:
        required: true
        description: Request object for high low prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/highLowRequest'
            examples:
              Single Company Market Value:
                $ref: '#/components/examples/singleHighLowPost'
              Multiple Company Market Values:
                $ref: '#/components/examples/multipleHighLowPost'
      responses:
        '200':
          description: Array of company price high and price low values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/highLowResponse'
              examples:
                52 week Price High and Price Low of GOOGL-US as of July 07 2020:
                  $ref: '#/components/examples/singleHighLow'
                52 week Price High and Price Low of AAPL-US and TSLA-US as of March 07 2020:
                  $ref: '#/components/examples/multipleHighLow'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-prices/v1/database-rollover:
    get:
      summary: Gets the latest relative rollover date for the database.
      description: >
        Gets zero relative date and last update time for FactSet databases. The
        dates represent the date that the rollover event happened; the date and
        time is in **eastern time zone**.  <p>Depending on the ids requested and
        their respective regions, a requested startDate or endDate used in the
        various Prices API may reflect different previous close dates. This
        relative "zero" date, meaning - as of yesterday's close - will vary
        across global regions. This API is designed to help production systems
        account for regional rollover dates to know when to trigger their
        processes for different regions to reflect the latest close. The
        response gives context for AMERICAS, ASIA PACIFIC, and EUROPE. </p>
      tags:
        - Database Rollover
      operationId: getDatabaseRollover
      responses:
        '200':
          description: Database rollover data items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolloverResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Gets the latest relative rollover date for the database.
      description: >
        Gets zero relative date and last update time for FactSet databases. The
        dates represent the date that the rollover event happened; the date and
        time is in **eastern time zone**.  <p>Depending on the ids requested and
        their respective regions, a requested startDate or endDate used in the
        various Prices API may reflect different previous close dates. This
        relative "zero" date, meaning - as of yesterday's close - will vary
        across global regions. This API is designed to help production systems
        account for regional rollover dates to know when to trigger their
        processes for different regions to reflect the latest close. The
        response gives context for AMERICAS, ASIA PACIFIC, and EUROPE. </p>
      tags:
        - Database Rollover
      operationId: getDatabaseRolloverForList
      responses:
        '200':
          description: Database rollover data items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolloverResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    idsBatchMax5000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
        limit** =  2000 per non-batch request / 5000 per batch request*</p>
        *<p>Make note, GET Method URL request lines are also limited to a total
        length of 8192 bytes (8KB). In cases where the service allows for
        thousands of ids, which may lead to exceeding this request line limit of
        8KB, its advised for any requests with large request lines to be
        requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    idsMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2000
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL
        request lines are also limited to a total length of 8192 bytes (8KB). In
        cases where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    idsMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL
        request lines are also limited to a total length of 8192 bytes (8KB). In
        cases where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    fixedIds:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2000
      required: true
      explode: false
      description: >-
        The requested list of Fixed Income security identifiers. <p>***ids
        limit** =  2000 per request*</p> *<p>Make note, GET Method URL request
        lines are also limited to a total length of 8192 bytes (8KB). In cases
        where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneFixedId:
          summary: One Fixed Income Identifier
          value:
            - 037833BX
        multipleFixedIds:
          summary: Multiple Fixed Income Identifiers and Types
          value:
            - 037833BX
            - 853207EZ
            - 9127963H
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If left blank, the API will default to previous close. Future
        dates (T+1) are not accepted in this endpoint.
      example: '2019-01-01'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        If left blank, the API will default to previous close. Future dates
        (T+1) are not accepted in this endpoint.
      example: '2019-12-31'
    date:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: >
        The as of date in **YYYY-MM-DD** format. This controls the perspective
        date in which the period parameter will be computed. If left blank, the
        API will default to previous close. Future dates (T+1) are not accepted
        in this endpoint.
      example: '2019-07-07'
    dateRs:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: >
        The date in **YYYY-MM-DD** format. This controls the perspective dates
        to the calculate the returns. If left blank, the API will default to
        previous close. Future dates (T+1) are not accepted in this endpoint.
      example: '2019-07-07'
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
          - D
          - W
          - M
          - AM
          - CQ
          - FQ
          - AY
          - CY
          - FY
        default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **FQ** = Fiscal Quarter of the company.
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Weekly:
          summary: W - Weekly - based on the last day of the week of the start date
          value: W
        Monthly:
          summary: M - Monthly - based on the last trading day of the month.
          value: M
        Actual Month:
          summary: >-
            AM - Actual Month - based on the startDate (e.g., if the start date
            is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Calendar Quarterly:
          summary: >-
            CQ - Calendar Quarterly - based on the last day of the week of the
            startDate
          value: CQ
        Fiscal Quarterly:
          summary: FQ - Fiscal Quarter of the company
          value: FQ
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
        Calendar Annual:
          summary: >-
            CY - Calendar Annual - based on the last trading day of the calendar
            year.
          value: CY
        Fiscal Annual:
          summary: >-
            FY - Fiscal Annual - based on the last trading day of the company's
            fiscal year.
          value: FY
    frequencyFi:
      name: frequency
      in: query
      schema:
        type: string
        enum:
          - D
          - M
          - AM
          - MTD
          - CQ
          - CQTD
          - AY
          - CY
          - CYTD
        default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **MTD** = Month-to-date
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **CQTD** =  Calendar quarter-to-date
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          * **CYTD** = Calendar Year-to-date.
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Month-to-date:
          summary: MTD - Month-to-date
          value: MTD
        Monthly:
          summary: M - Monthly - based on the last trading day of the month.
          value: M
        Actual Month:
          summary: >-
            AM - Actual Month - based on the startDate (e.g., if the start date
            is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Calendar Quarterly:
          summary: >-
            CQ - Calendar Quarterly - based on the last day of the week of the
            startDate
          value: CQ
        Calendar quarter-to-date:
          summary: CQTD - Calendar quarter-to-date
          value: CQTD
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
        Calendar Annual:
          summary: >-
            CY - Calendar Annual - based on the last trading day of the calendar
            year.
          value: CY
        Calendar Year-to-date:
          summary: CYTD - Calendar Year-to-date
          value: CYTD
    calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
          - FIVEDAY
          - SEVENDAY
          - LOCAL
        default: FIVEDAY
      description: >-
        Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar
        will default to the securities' trading calendar which excludes date
        records for respective holiday periods.
      example: FIVEDAY
    currency:
      name: currency
      in: query
      schema:
        type: string
      description: >-
        Currency code for adjusting prices. Default is Local. For a list of
        currency ISO codes, visit [Online Assistant Page
        1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    adjust:
      name: adjust
      in: query
      schema:
        type: string
        enum:
          - SPLIT
          - SPINOFF
          - DIVADJ
          - UNSPLIT
        default: SPLIT
      description: >
        Controls the split, spinoff, and dividend adjustments for the prices.
        <p>For more information, visit [Online Assistant Page
        614](https://oa.apps.factset.com/pages/614)</p>
          * **SPLIT** = Split ONLY Adjusted. This is used by default.
          * **SPINOFF** = Splits & Spinoff Adjusted.
          * **DIVADJ** = Splits, Spinoffs, and Dividends adjusted.
          * **UNSPLIT** = No Adjustments.
      examples:
        split:
          summary: >-
            Split adjusted by default - accounts for splits over security's
            history.
          value: SPLIT
        spinoff:
          summary: >-
            Spinoff Adjusted - accounts for a company's spinoff. Spinoffs are
            treated as special dividends.
          value: SPINOFF
        Dividend Adjusted:
          summary: Dividend Adjusted
          value: DIVADJ
        Unsplit:
          summary: Unsplit data - overrides the default split adjustment
          value: UNSPLIT
    dividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
          - PRICE
          - EXDATE
          - PAYDATE
          - EXDATE_C
          - PAYDATE_C
        default: PRICE
      required: false
      description: |
        Controls the dividend reinvestment for the returns calculation.
          * **PRICE** = Price Change - Dividends Excluded
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested
          * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate
          * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.
    splitAdjust:
      name: splitAdjust
      in: query
      description: Code to control split adjustments for shares count.
      required: false
      schema:
        type: string
        enum:
          - SPLIT
          - UNSPLIT
        default: SPLIT
    rollingPeriod:
      name: rollingPeriod
      in: query
      description: >-
        Period of measure for the rolling cumulative return. This does not
        change display `frequency` but rather the underlying return calculation
        period. All periods are referencing actual periods of measure, not
        period-ends. For example, 1M rolling period will go back to that date
        the previous month, which is not always the month-end date.
      required: false
      schema:
        type: string
        enum:
          - 1D
          - 1W
          - 1M
          - 3M
          - 6M
          - 52W
          - 2Y
          - 3Y
          - 5Y
          - 10Y
    period:
      name: period
      in: query
      description: >
        The period of measure for the security's high and low pricing. This does
        not change display `frequency` but rather the underlying period. For
        example, if you wish to fetch the latest 52 week high and low price,
        select 52W. All periods are referencing actual periods of measure, not
        period-ends where-

          * **D** = Daily
          * **W** = Weekly, based on the last trading day of the week. Use the 52W for representing the latest year.
          * **M** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **YTD** = Year-to-Date
          * **Y** =  Actual Annual, based on the start date.
      required: false
      schema:
        type: string
        enum:
          - 1D
          - 1W
          - 1M
          - 3M
          - 6M
          - YTD
          - 52W
          - 2Y
          - 3Y
          - 5Y
          - 10Y
        default: 52W
    priceType:
      name: priceType
      in: query
      description: >
        Controls whether price high and low data is returned intraday or at the
        close. For example, by selecting INTRADAY, if a security price reached
        an all time high of 10 during trading hours over the period of measure
        but closed that day at 8, then the service will return 10. If CLOSE was
        selected the service would return 8 if that was the high for the period
        measured.
      required: false
      schema:
        type: string
        enum:
          - INTRADAY
          - CLOSE
        default: CLOSE
    dividendAdjustSnapshot:
      name: dividendAdjust
      in: query
      description: >
        Controls the dividend reinvestment for the returns calculation.
        Dividends will be reinvested on the date the dividends go ex (when the
        dividends belong to the seller rather than the buyer). Visit [OA
        8748](https://my.apps.factset.com/oa/pages/8748) for calculation
        methodology.
          * **PRICE** = Price Change - Dividends Excluded.
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested. Dividends accumulated throughout the specified period are added to the price at the end of the period.
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate. Dividends accumulated throughout the specified period are used to buy more shares of stock in the company.
      required: false
      schema:
        type: string
        enum:
          - PRICE
          - EXDATE
          - EXDATE_C
        default: PRICE
    batch:
      name: batch
      in: query
      description: >
        Enables the ability to asynchronously "batch" the request, supporting a
        long-running request up to **10 minutes**. Upon requesting batch=Y, the
        service will respond back with an HTTP Status Code of 202.


        **`batch` is currently in **BETA**. Additional Access Required. To gain
        access to this feature, reach out to your FactSet Account team or
        "Report Issue" above and our support teams can assist.**


        Once a batch request is submitted, use `batch/v1/status` to see if the
        job has completed. Once completed, retrieve the results of the request
        via `batch/v1/result`. See [Batching
        API](https://developer.factset.com/api-catalog/factset-content-api-batch)
        for more details.


        When using Batch, `ids` limit is increased to **5000** ids per request,
        though limits on query string via GET method still apply. It's advised
        to submit large lists of ids via POST method.
      schema:
        type: string
        enum:
          - 'Y'
          - 'N'
        default: 'N'
  schemas:
    pricesRequest:
      title: Prices Request Body
      description: Prices Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax5000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        adjust:
          $ref: '#/components/schemas/adjust'
        batch:
          $ref: '#/components/schemas/batch'
      required:
        - ids
    pricesResponse:
      type: object
      title: Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/price'
    price:
      title: Price Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
        adjDate:
          description: >-
            Date of last split for which prices and volume have been adjusted.
            Use /factset-prices/v#/splits endpoint for details regarding the
            split.
          type: string
          format: date
          example: '2005-02-07'
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
        price:
          type: number
          format: double
          description: >-
            Closing Price as of the date(s) requested. By default the price is
            in local trading currency, split adjusted and not spinoff adjusted.
            Prices updated nightly at approximately at 9pm ET.
          example: 125
        priceOpen:
          description: >-
            Open price as of the date(s) requested. By default the price is in
            local trading currency, split adjusted and not spinoff adjusted.
            Prices updated nightly at approximately at 9pm ET.
          type: number
          format: double
          example: 123.75
        priceHigh:
          description: >-
            High closing price as of the date(s) requested. By default the price
            is in local trading currency, split adjusted and not spinoff
            adjusted.  Prices updated nightly at approximately at 9pm ET.
          type: number
          format: double
          example: 126
        priceLow:
          description: >-
            Low closing price as of the date(s) requested. By default the price
            is in local trading currency, split adjusted and not spinoff
            adjusted.  Prices updated nightly at approximately at 9pm ET.
          type: number
          format: double
          example: 121.25
        volume:
          description: >-
            Returns the cumulative volume over dates requested. Data is returned
            in thousands.
          type: number
          format: double
          example: 120341
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    pricesFixedIncomeRequest:
      title: Fixed Income Request Body
      description: Fixed Income Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/fixedIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequencyFi'
      required:
        - ids
    pricesFixedIncomeResponse:
      type: object
      title: Fixed Income Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/fixedIncomePrice'
    fixedIncomePrice:
      title: Fixed Income Price Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Security Identifier. Six alpha-numeric characters, excluding
            vowels, with an -S suffix (XXXXXX-S).
          type: string
          example: NL6DQ8-S
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-06-09'
        securityType:
          description: |
            Returns the security type code of fixed income instruments.
              * AGCY - Agency
              * BDNT - Bond/Note
              * BDWT  - Bond with Warrants
              * BKAC  - Bankers Acceptance
              * BLDN - Bill/Discount Note
              * BOND  - Bond
              * CAP  - Embedded ceiling or short interest rates
              * CAPS - Capital Security
              * CAPT - Capital Trust Security
              * CD - Certificate of Deposit (Munis)
              * CDO - Collateralized Debt Obligation
              * CMO  - Collateralized mortgage obligation
              * COMP - Commercial Paper
              * CONV - Convertible/Exchangeable
              * CONVP - Convertible Preferred
              * CORP - Corporate
              * COVR - Covered Bond
              * CP  - Commercial Paper
              * CRL - Credit Linked Security
              * DEB - Debenture
              * DERI  - Derivative (generic type)
              * EBON - Eurobond
              * EQL - Equity Linked Security
              * FORW  - Forward deliveries
              * GRTR  - Grantor trust
              * HY - Hypotheken Pfandbriefe
              * IIDX - Inflation Indexed Security
              * INVF  - Inverse floaters
              * LAUTH - Local Authority/Political Division
              * LINK  - Linked securities
              * LKS - Linked Securities
              * MAPL - Mixed Asset Portfolio Linked Security
              * MM - Money Market
              * NOTE  - Note
              * OF - Obligations FonciÃres
              * OPTN  - Options
              * OTHL - Other Linked Security
              * PAYS  - Payment streams
              * PFD - Preferred
              * PFND - Pfandbriefe
              * POOL  - Pooled derivatives
              * PSEC - Preferred Security
              * PSTK - Preferred Stock
              * REPO  - REPOS
              * RMIC  - REMIC
              * SHFL  - Short floats (auction)
              * STRIPS - STRIPS
              * SWAP  - Embedded swaps
              * TR  - Trust
              * TRUPS - Trust Preferred Security
          type: string
          example: BDNT
        issuerEntityId:
          description: Fixed Income Issuer Entity ID (-E).
          type: string
          example: 000C7F-E
        issuerType:
          description: |
            Returns the issuer type code of fixed income instruments.
              * AGCY - Agency
              * CORP - Corporate
              * LAUTH - Local Authority/Political Division
              * MUNI - Municipals
              * SOV - Sovereign
              * SUPR - Supranational
              * SCOL - Securitized/Collateralized
          type: string
          example: CORP
        priceBid:
          description: >-
            BID PRICE. For North American issues, the value is an evaluated
            price, where available, else it is an exchange-traded price. Please
            note that distinct Bid and Ask Prices are not available for North
            American issues; Bid, Mid, and Ask Prices will be identical for
            North American issues. For issues outside of North America
            (International), the value is an evaluated price. Please note that
            distinct Bid and Ask Prices are only available for issues outside of
            North America. By default, the Mid Price is returned for issues
            outside of North America.
          type: number
          format: double
          example: 134.959
        priceMid:
          description: >-
            MID Price. For North American issues, the value is an evaluated
            price, where available, else it is an exchange-traded price. Please
            note that distinct Bid and Ask Prices are not available for North
            American issues; Bid, Mid, and Ask Prices will be identical for
            North American issues. For issues outside of North America
            (International), the value is an evaluated price. Please note that
            distinct Bid and Ask Prices are only available for issues outside of
            North America. By default, the Mid Price is returned for issues
            outside of North America.
          type: number
          format: double
          example: 137.695
        priceAsk:
          description: >-
            ASK Price. For North American issues, the value is an evaluated
            price, where available, else it is an exchange-traded price. Please
            note that distinct Bid and Ask Prices are not available for North
            American issues; Bid, Mid, and Ask Prices will be identical for
            North American issues. For issues outside of North America
            (International), the value is an evaluated price. Please note that
            distinct Bid and Ask Prices are only available for issues outside of
            North America. By default, the Mid Price is returned for issues
            outside of North America.
          type: number
          format: double
          example: 134.959
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: 037833BX
    referencesRequest:
      title: References Request Body
      description: References Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
      required:
        - ids
    referencesResponse:
      type: object
      title: References Response
      properties:
        data:
          description: Array of References Objects
          type: array
          items:
            $ref: '#/components/schemas/references'
    references:
      title: References Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: HTM0LK-R
        name:
          description: The name of the security.
          type: string
          example: ALPHABET INC
        secType:
          type: string
          description: >-
            Security Type Description. For more details, visit [Online Assistant
            Page #10149](https://oa.apps.factset.com/pages/10149).
          example: Common stock
        secTypeCode:
          type: string
          description: >-
            General Security Type Code. For more details regarding what the code
            represents, visit [Online Assistant Page
            #10149](https://oa.apps.factset.com/pages/10149).
          example: '0'
        secTypeCodeDet:
          type: string
          description: >-
            Detailed Security Type Code. For more details regarding what the
            code represents, visit [Online Assistant Page
            #10149](https://oa.apps.factset.com/pages/10149).
          example: '10'
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
        country:
          type: string
          description: >-
            Country Name. Returns the country where the security is *traded*
            from the North American Pricing database. Therefore, for securities
            covered by the North American Pricing database, will return either
            UNITED STATES. or CANADA. For securities covered by the Global
            Pricing database, the item returns the country where the company is
            *incorporated*.
          example: UNITED STATES
        primaryExchange:
          type: string
          description: >-
            Primary Exchange Name. For more details, visit [Online Assistant
            Page #16610](https://oa.apps.factset.com/pages/16610).
          example: NASDAQ
        exchangeCountry:
          type: string
          description: >-
            Returns the location of the exchange where the company's stock is
            traded.
          example: UNITED STATES
        localIndex:
          type: string
          description: >-
            The Local Index ID for the company's home country benchmark. For
            more details, visit [Online Assistant Page
            #10698](https://oa.apps.factset.com/pages/10698).
          example: SP50
        nextTradingHolidayDate:
          type: string
          format: date
          description: >-
            The Next Trading Holiday. For more details regarding Global Trading
            Holiday Schedules, visit [Online Assistant Page
            #10397](https://oa.apps.factset.com/pages/10397).
          example: '2020-09-07'
        firstDate:
          type: string
          format: date
          description: >-
            The Security's Date of First Trade. It will return the first date
            that the FactSet Pricing database began to cover the security and it
            may not coincide with the actual IPO date. Pricing information for
            this security will not be available before the date returned. For
            more details.
          example: '2004-08-19'
        lastDate:
          type: string
          format: date
          description: >-
            Date of Last Trade.  It will return the last date that the FactSet
            Pricing database as a record for this security listing.
          example: '2020-09-04'
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: GOOGL-US
    returnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
        rollingPeriod:
          $ref: '#/components/schemas/rollingPeriod'
      required:
        - ids
    returnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/return'
    return:
      title: Return Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        date:
          description: >-
            End date of the return. Date in YYYY-MM-DD format. Depending on
            Frequency and Calendar settings, this could represent the entire
            return period requested.
          type: string
          format: date
          example: '2013-08-01'
        adjDate:
          description: Date of last split for which return has been adjusted.
          type: string
          format: date
          example: '2005-02-07'
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
        totalReturn:
          description: >-
            The simple or compound return for the requested `frequency` and/or
            `rolling_period`. Depending on the input parameters the return will
            adjust accordingly. If you simply use `frequency` and no
            `rolling_period`, the return value will represent the frequency
            period. If you use `rolling_period`, the values will be returned in
            actual period ends (e.g. actual month, actual week, daily, etc.).
            General Return Calculation Details found on [Online Assistant Page
            #8748](https://oa.apps.factset.com/pages/8748)
          type: number
          format: double
          example: 1.0345
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    dividendsRequest:
      title: Dividends Request Body
      description: Dividends Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax1000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        adjust:
          $ref: '#/components/schemas/adjust'
      required:
        - ids
    dividendsResponse:
      type: object
      title: Dividend Response
      properties:
        data:
          description: Array of Dividend Objects
          type: array
          items:
            $ref: '#/components/schemas/dividend'
    dividend:
      title: Dividend Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        divsExDate:
          description: Ex-Date of the dividend expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
        adjDate:
          description: Date of last split for which prices and volume have been adjusted.
          type: string
          format: date
          example: '2005-02-07'
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
        divsPaid:
          description: Amount of the dividend paid.
          type: number
          format: double
          example: 5
        divsRecDate:
          description: Date the dividend was recorded expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-07-10'
        divsPayDate:
          description: Date the dividend will be paid expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-08'
        divsTypeC:
          description: >-
            Dividend type code. For code descriptions, visit [Online Assistant
            Page #8764](https://oa.apps.factset.com/pages/8764).
          type: integer
          example: 1049
        divsTypeD:
          description: >-
            Description of dividend type. For type descriptions, visit [Online
            Assistant Page #8764](https://oa.apps.factset.com/pages/8764).
          type: string
          example: U.S. Currency
        divsTaxC:
          description: >-
            Tax Marker Code. For code descriptions, visit [Online Assistant Page
            #15265](https://oa.apps.factset.com/pages/15265).
          type: string
          example: FC
        divsTaxD:
          description: >-
            Description of Tax Marker. For type descriptions, visit [Online
            Assistant Page #15265](https://oa.apps.factset.com/pages/15265).
          type: string
          example: Free of tax
        divsNGFlag:
          description: >-
            Net/Gross Marker Code. For details describing Net vs. Gross
            dividends, visit [Online Assistant Page
            #11512](https://oa.apps.factset.com/pages/11512).
          type: string
          enum:
            - 'N'
            - G
            - T
            - X
            - V
            - '0'
        divsNGEquiv:
          description: >-
            Net/Gross equivalent (opposite of dividend paid). For details
            describing Net vs. Gross dividends, visit [Online Assistant Page
            #11512](https://oa.apps.factset.com/pages/11512).
          type: number
          format: double
          example: 5.5
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    splitsRequest:
      title: Splits Request Body
      description: Splits Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
      required:
        - ids
    splitsResponse:
      type: object
      title: Splits Response
      properties:
        data:
          description: Array of Splits Objects
          type: array
          items:
            $ref: '#/components/schemas/splits'
    splits:
      title: Split Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        date:
          description: Ex-Date of the split expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
        splitFactor:
          description: >-
            Split adjustment factor for n splits ago. A 2-for-1 split returns
            .50, the number you would multiply the stock price by to adjust for
            the split.
          type: number
          format: double
          example: 2
        splitComment:
          description: Description for the type of split or spin off.
          type: string
          example: 'Split: 2 for 1'
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    sharesRequest:
      title: Shares Request Body
      description: Shares Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax1000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        calendar:
          $ref: '#/components/schemas/calendar'
        splitAdjust:
          $ref: '#/components/schemas/splitAdjust'
      required:
        - ids
    sharesResponse:
      type: object
      title: Shares Response
      properties:
        data:
          description: Array of Shares Objects
          type: array
          items:
            $ref: '#/components/schemas/shares'
    shares:
      title: Shares Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        date:
          description: Date expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
        adjDate:
          description: >-
            Date of last split for which return has been adjusted. Use the
            /factset-prices/v#/splits endpoint for details on split. If not
            available, date will return as 0001-01-01.
          type: string
          format: date
          example: '2005-02-07'
        sharesSecurity:
          description: >-
            **Security-level** Common Shares Outstanding in base units. Shares
            sourced primarily from SEC filings. Securities in certain countries
            will include treasury shares. For details visit [Online Assistant
            Page #10435](https://oa.apps.factset.com/pages/10435)
          type: number
          example: 299532000
        sharesCompany:
          description: >-
            **Company-level** Shares Outstanding aggregated across all share
            classes. Non-traded shares are *excluded*. In base units. For more
            details, visit [Online Assistant Page
            #16867](https://oa.apps.factset.com/pages/16867)
          type: number
          example: 649532000
        sharesCompanyNontraded:
          description: >-
            **Company-level** Shares Outstanding aggregated across all share
            classes. Non-traded shares are *included* to the calculation basis
            by the proportion of their nominal or par value. In base units. For
            more details, visit [Online Assistant Page
            #16867](https://oa.apps.factset.com/pages/16867)
          type: number
          example: 657532000
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    marketValueRequest:
      title: Market Value Request Body
      description: Market Value Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
        - ids
    marketValueResponse:
      type: object
      title: Market Value Response
      properties:
        data:
          description: Array of Market Value Objects
          type: array
          items:
            $ref: '#/components/schemas/marketValue'
    marketValue:
      title: Market Value Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: HTM0LK-R
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-07-07'
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
        entityMarketValue:
          description: >-
            Aggregate market value across all share classes and includes
            non-traded shares which are added to the calculation basis by the
            proportion of their nominal or par value. Values are in base units.
            To value non-traded shares, the price of the parent equity provides
            the most appropriate approximation of what the non-traded shares
            would be worth in the open market. For unique companies with an ADR
            as the parent equity, since it is the only traded security
            associated with that company, when calculating company-level market
            value, the price of the ADR is used, but is scaled by the ADR ratio
            since there's not always a one-to-one relationship between ADR
            shares and the non-traded shares which they represent. For more
            details visit [Online Assistant Page
            #16867](https://my.apps.factset.com/oa/pages/16867). 
          type: number
          format: double
          example: 1022362841136.31
        entityMarketValueExNonTraded:
          description: >-
            Aggregate across all share classes and excludes non-traded shares.
            Values are in base units. For more details visit [Online Assistant
            Page #16867](https://my.apps.factset.com/oa/pages/16867).
          type: number
          format: double
          example: 952768582453.33
        securityMarketValue:
          description: >-
            Returns the security level market value calculated as the share
            price multiplied by the number of shares at the security level.
            **Note:** History is available back to Oct-1999 for North American
            securities, and 1-Jan-2001 for non-North American securities.
          type: number
          format: double
          example: 449970657342.5
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: GOOGL
    highLowRequest:
      title: High Low Request Body
      description: High Low Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        date:
          $ref: '#/components/schemas/dateHL'
        period:
          $ref: '#/components/schemas/period'
        priceType:
          $ref: '#/components/schemas/priceType'
        calendar:
          $ref: '#/components/schemas/calendar'
        currency:
          $ref: '#/components/schemas/currency'
        adjust:
          $ref: '#/components/schemas/adjust'
      required:
        - ids
    highLowResponse:
      type: object
      title: High Low Response
      properties:
        data:
          description: Array of High Low Objects
          type: array
          items:
            $ref: '#/components/schemas/highLow'
    highLow:
      title: High Low Object
      type: object
      properties:
        adjDate:
          description: Date of last split for which prices have been adjusted.
          type: string
          format: date
          example: '2005-02-07'
        date:
          description: >-
            Specific reference date for the period expressed in YYYY-MM-DD
            format.
          type: string
          format: date
          example: '2020-07-07'
        period:
          description: The period of measure requested using the period query parameter.
          type: string
          example: 52W
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: HTM0LK-R
        priceHigh:
          description: >-
            High price over the period requested. This can represent the
            intra-day or closing price depending on the priceType requested. By
            default the price is as of closing in local trading currency, split
            adjusted and not spinoff adjusted.
          type: number
          format: double
          example: 126
        priceLow:
          description: >-
            Low price over the period requested. This can represent the
            intra-day or closing price depending on the priceType requested. By
            default the price is as of closing in local trading currency, split
            adjusted and not spinoff adjusted.
          type: number
          format: double
          example: 121.25
        priceHighDate:
          description: >-
            Date in which the highest price occurred over the requested period 
            for the given id expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-03-05'
        priceLowDate:
          description: >-
            Date in which the lowest price occurred over the requested period
            for the given id expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2019-09-14'
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: GOOGL
    returnsSnapshotRequest:
      title: Returns Snapshot Request Body
      description: Returns Snapshot Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        date:
          $ref: '#/components/schemas/dateRS'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjustSnapshot'
      required:
        - ids
    returnsSnapshotResponse:
      type: object
      title: Returns Snapshot Response
      properties:
        data:
          description: Array of Returns Snapshot Objects
          type: array
          items:
            $ref: '#/components/schemas/returnsSnapshot'
    returnsSnapshot:
      title: Return Snapshot Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
        date:
          description: >-
            Specific reference date for the period expressed in YYYY-MM-DD
            format.
          type: string
          format: date
          example: '2020-09-09'
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        oneDay:
          description: >-
            Returns the price performance of the security for the previous one
            day from the given date.
          type: number
          format: double
          example: 0.86627007
        oneMonth:
          description: >-
            Returns the price performance of the security for the past one
            month.
          type: number
          format: double
          example: -2.1606863
        threeMonth:
          description: >-
            Returns the price performance of the security for the past three
            months.
          type: number
          format: double
          example: -7.2874727
        sixMonth:
          description: >-
            Returns the price performance of the security for the past six
            months.
          type: number
          format: double
          example: 3.7772775
        nineMonth:
          description: >-
            Returns the price performance of the security for the past nine
            months.
          type: number
          format: double
          example: -8.706689
        oneYear:
          description: Returns the price performance of the security for the past one year.
          type: number
          format: double
          example: -14.263678
        quarterToDate:
          description: >-
            Returns the price performance of the security from the previous
            calendar quarter end to the given date.
          type: number
          format: double
          example: 1.2337565
        weekToDate:
          description: >-
            Returns the price performance of the security from the previous week
            (usually Friday) to the given date.
          type: number
          format: double
          example: -0.03270507
        monthToDate:
          description: >-
            Returns the price performance of the security from the previous
            month-end to the given date.
          type: number
          format: double
          example: -0.851506
        yearToDate:
          description: >-
            Returns the price performance of the security from the previous
            calendar year-end to the given date.
          type: number
          format: double
          example: -8.788413
        twoYearAnnualized:
          description: Returns the annualized compound total return for two years.
          type: number
          format: double
          example: -3.7836754
        threeYearAnnualized:
[...]
