openapi: 3.0.0
info:
  title: Tick History
  description: >-
    Tick History provides dynamic access to historical tick data for a specific
    security for specific dates or date range.
  version: 2.4.0
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-tick-history-api
servers:
  - url: https://api.factset.com/tick-history/v2
  - url: https://api-sandbox.factset.com/tick-history/v2
paths:
  /level1/coverage:
    get:
      tags:
        - Level 1
      operationId: requestTickHistoryCoverage
      summary: >-
        Returns the coverage for the requested ticker/isin along with other
        response fields for Level1 data.
      description: Returns coverage for specified tickers for Level1 Data
      parameters:
        - $ref: '#/components/parameters/tickerCoverage'
        - $ref: '#/components/parameters/isoCodeCoverage'
        - $ref: '#/components/parameters/isin'
      responses:
        '200':
          description: Success</p>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCoverageResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
  /level1/files/create:
    post:
      tags:
        - Level 1
      summary: Requests the creation of tick-by-tick file
      operationId: requestTickHistoryLevel1Files
      description: Data available from 20120101 to previous day.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeveloneRequest'
            examples:
              US Equity tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfUSTickers'
              ASX  tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfASXTickers'
              LSE tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfLSETickers'
              Tokyo tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfTokyoTickers'
              Swiss tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfSwissTickers'
              Singapore tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfSingaporeTickers'
              HongKong tickers with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfHongKongTickers'
              US Equity tickers for a Regional ISO Code with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfUSTickersReg'
              ASX  tickers for a Regional ISO Code with default all fields for the given period:
                $ref: '#/components/examples/postBodyOfASXTickersReg'
      responses:
        '202':
          description: The Request has been Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
              examples:
                default202ResponseExample:
                  $ref: '#/components/examples/sampleFilesResponse'
          headers:
            Location:
              description: Relative location to poll for status
              schema:
                type: string
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
  /level1/files/status:
    get:
      tags:
        - Level 1
      summary: Returns the status of the ID
      operationId: getLevel1FileStatus
      description: Need to plug-in the id get from /create endpoint into /status endpoint
      parameters:
        - $ref: '#/components/parameters/requestIdStatus'
      responses:
        '201':
          description: |

            The Request has been created and the response has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletedResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCompletedResponse'
          headers:
            Location:
              description: Relative location to pick up results.
              schema:
                type: string
              example: get?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '202':
          description: |
            The Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
                FailedExample:
                  $ref: '#/components/examples/sampleFilesResponseFailed'
                CancelledExample:
                  $ref: '#/components/examples/sampleFilesResponseCancelled'
          headers:
            Location:
              description: Relative location to poll for status.
              schema:
                type: string
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '404':
          description: id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
      x-factset-different-success-responses: true
  /level1/files/get:
    get:
      tags:
        - Level 1
      summary: Returns the tick-by-tick data in files requested in the /create endpoint
      operationId: getTickHistoryLevel1Files
      description: Returns the files from tickhistory endpoint
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
      responses:
        '200':
          description: >-
            Success</p> **To download the output file copy the response url in a
            browser**
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFilesResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleGetFilesResponse'
        '202':
          description: |
            The Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
          headers:
            Location:
              description: Relative location to poll for status.
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '404':
          description: id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
      x-factset-different-success-responses: true
  /level1/files/minute-bars/create:
    post:
      tags:
        - Level 1
      summary: Requests the creation of Minute bars file
      operationId: requestMinutebarsFiles
      description: >-
        1-minute bars available from 20120101 to previous day. Per request able
        to fetch upto 6 months of data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MinRequest'
            examples:
              Single ticker for the given period:
                $ref: '#/components/examples/minSingleTicker'
              Multiple tickers  for the given period:
                $ref: '#/components/examples/minMultipleTicker'
      responses:
        '202':
          description: The Request has been Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
              examples:
                default202ResponseExample:
                  $ref: '#/components/examples/sampleFilesResponse'
          headers:
            Location:
              description: Relative location to poll for status
              schema:
                type: string
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
  /level1/files/minute-bars/status:
    get:
      tags:
        - Level 1
      summary: Returns the status of the ID
      operationId: getMinutebarsFileStatus
      description: Need to plug-in the id get from /create endpoint into /status endpoint
      parameters:
        - $ref: '#/components/parameters/requestIdStatus'
      responses:
        '201':
          description: |

            The Request has been created and the response has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletedResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCompletedResponse'
          headers:
            Location:
              description: Relative location to pick up results.
              schema:
                type: string
              example: get?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '202':
          description: |
            The Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
                FailedExample:
                  $ref: '#/components/examples/sampleFilesResponseFailed'
                CancelledExample:
                  $ref: '#/components/examples/sampleFilesResponseCancelled'
          headers:
            Location:
              description: Relative location to poll for status.
              schema:
                type: string
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '404':
          description: id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
      x-factset-different-success-responses: true
  /level1/files/minute-bars/get:
    get:
      tags:
        - Level 1
      summary: Returns the Minute bars data in files requested in the /create endpoint
      operationId: getMinutebarsFiles
      description: Returns the files from tickhistory endpoint
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
      responses:
        '200':
          description: >-
            Success</p> **To download the output file copy the response url in a
            browser**
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFilesMinuteResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleMinGetFilesResponse'
                quotes200ResponseExample:
                  $ref: '#/components/examples/sampleMinGetQuoteFilesResponse'
        '202':
          description: |
            The Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmittedResponse'
              examples:
                QueuedExample:
                  $ref: '#/components/examples/sampleFilesResponseQueued'
                ExecutingExample:
                  $ref: '#/components/examples/sampleFilesResponseExecuting'
          headers:
            Location:
              description: Relative location to poll for status.
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
        '404':
          description: id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/404Example'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
      x-factset-different-success-responses: true
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    tickerCoverage:
      name: tickers
      in: query
      description: |
        <P> The requested list of one or more tickers.</p>

         The `tickers` and `isins`  parameters provide two different ways to specify the identifiers for data retrieved. Please enter either the tickers or isins parameter.
         
        <P> Maximum 10 tickers per request</p>  
         
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
          minItems: 1
          maxItems: 10
      examples:
        oneId:
          summary: One identifier
          value:
            - CBA
        multipleIds:
          summary: Multiple Identifiers
          value:
            - CBA
            - BHP
    isoCodeCoverage:
      name: factsetExchangeCode
      in: query
      description: >-
        <p>This parameter is used to filter the results based on the FactSet
        specific regional or composite exchange code.</p>

        **NOTE**:Does not support multiple factsetExchangeCodes
      required: false
      example: AUS
      schema:
        type: string
        minItems: 1
        maxItems: 1
    isin:
      name: isins
      in: query
      description: |
        <P> Specifies the ISIN of the record. </p>

          Please enter either the `tickers` or `isins` parameter. 
          
        <P> Maximum 10 ISINs per request.</p>   
         
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
          minItems: 1
          maxItems: 10
      examples:
        noId:
          summary: '---'
          value: []
        oneId:
          summary: One identifier
          value:
            - US3030751057
        multipleIds:
          summary: Multiple Identifiers
          value:
            - US3030751057
            - ARDEUT110202
    requestId:
      name: id
      in: query
      description: >-
        id returned by files create endpoint to poll and collect results of the
        query
      required: true
      schema:
        type: string
    requestIdStatus:
      name: id
      in: query
      description: >-
        id returned by files create endpoint to poll and collect status of the
        query
      required: true
      schema:
        type: string
    _paginationLimit:
      name: _paginationLimit
      in: query
      description: Specifies the maximum number of results to return per response page
      required: false
      schema:
        type: integer
        default: 20
    _paginationOffset:
      name: _paginationOffset
      in: query
      description: >-
        Specifies the starting point for pagination. This parameter is used to
        identify the beginning of next set of results
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    LeveloneRequest:
      title: Level1 Request Body
      description: Level1 request body elements
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Level1RequestBody'
      required:
        - data
    Level1RequestBody:
      title: Level1 Request Body
      description: Level1 request body elements
      type: object
      properties:
        tickers:
          $ref: '#/components/schemas/Tickers'
        factsetExchangeCode:
          $ref: '#/components/schemas/FactsetExchangeCode'
        dateTimeRange:
          $ref: '#/components/schemas/DateTimeRange'
        fields:
          $ref: '#/components/schemas/Fields'
        single:
          $ref: '#/components/schemas/Single'
      required:
        - tickers
        - factsetExchangeCode
        - dateTimeRange
    Tickers:
      type: array
      items:
        type: string
        minItems: 1
        maxItems: 500
      description: >
        The requested list of one or more tickers. <p> NOTE: Maximum 500 tickers
        per request.</p>.
         
      example:
        - FDS
    FactsetExchangeCode:
      title: factsetExchangeCode
      description: >
        FactSet specific regional or composite exchange code and last exchange
        code.

        <p> NOTE:Does not support multiple factsetExchangeCodes</p>.
      type: string
      minItems: 1
      maxItems: 1
      example: USA
    DateTimeRange:
      $ref: '#/components/schemas/DateTimePeriod'
    DateTimePeriod:
      type: object
      description: |

        NOTE: 
          
          - Using start and end parameters within dateTimeRange will fetch the data on particular days in between the timestamps given.
          
          - The start and end times are processed as the local time of the factsetExchangeCode provided. Please refer to the **Data Model User Guide** for time zone to exchange mappings.
          
          - Supports milliseconds, YYYY-MM-DDTHH:MM:SS.SSSZ where .SSS represents the milliseconds which is optional.
      properties:
        start:
          description: >
            The date for (or from which) the data is required. Supports in
            YYYY-MM-DDTHH:MM:SSZ format. 
          type: string
          format: date-time
          example: '2012-01-01T11:00:00Z'
        end:
          type: string
          format: date-time
          description: >
            The date to which data is required. Supports in YYYY-MM-DDTHH:MM:SSZ
            format. 
          example: '2012-01-30T11:20:30Z'
    Single:
      type: boolean
      description: >
        <p> This parameter only works for smaller date/time requests where the
        file size is upto 128MB.</P>

        single=true  Returns data in a single file. single=false Returns data in
        multiple files.

        <p> Note: If parameter is not used it take default value as false and
        returns data in multiple files.</p>
      default: false
    Fields:
      type: array
      items:
        type: string
        enum:
          - TICKER
          - ISO_CODE
          - DATE
          - TIME
          - MSG_TYPE
          - SEQUENCE
          - PRODUCT
          - BID
          - BID_TIME
          - BID_VOL
          - BID_EXCH
          - ASK
          - ASK_TIME
          - ASK_VOL
          - ASK_EXCH
          - LAST_PRICE
          - LAST_DATE
          - LAST_TIME
          - LAST_VOL
          - LAST_EXCH
          - MID
          - MID_TIME
          - CVOL
          - CCVOL
          - VWAP
          - YIELD_PRICE
          - BENCHMARK_YIELD
          - BENCHMARK_SPREAD
          - CURRENT_YIELD
          - TRADE_CONDITION
          - REPORTING_SIDE
          - ASK_YIELD
          - BID_YIELD
          - VENUE
          - BUY_ID
          - MID_YIELD
          - ORDER_CODE
          - SELL_ID
          - TRADED_PRICE
          - TRADED_VOL
          - TRADED_CONDITION
          - TRADED_YIELD
          - ORIG_SEQUENCE
          - SECURITY_TYPE
          - SECURITY_STATUS
          - MSG_BITMASK
          - ORDER_NUM
          - ISO
      description: |
        Fields for which data is requested
      example:
        - ASK
    MinRequest:
      title: Level1 Minute bars Request Body
      description: Level1 Minute bars request body elements
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MinutesbarRequestBody'
      required:
        - data
    MinutesbarRequestBody:
      title: Level1 Minute bars Request Body
      description: Level1 Minute bars request body elements
      type: object
      properties:
        tickers:
          $ref: '#/components/schemas/Tickers'
        factsetExchangeCode:
          $ref: '#/components/schemas/FactsetExchangeCode'
        dateTimeRange:
          $ref: '#/components/schemas/DateTimePeriodMin'
        granularity:
          $ref: '#/components/schemas/Granularity'
        type:
          $ref: '#/components/schemas/Type'
      required:
        - tickers
        - factsetExchangeCode
        - dateTimeRange
        - granularity
        - type
    Granularity:
      title: granularity
      description: >
        This is the grantualrity in which minute bars data is shown. Possible
        values are 1 Minute (1m)
      type: string
      enum:
        - 1m
    Type:
      title: type
      description: >

        <p>'type=trades' gives  minute bars data calculated from trade data
        (price and volume)</p> <p>'type=quotes' gives minute bars data
        calculated from quote data (bid and ask)</p>
      type: string
      enum:
        - trades
        - quotes
    DateTimePeriodMin:
      type: object
      description: |

        NOTE: 
          
          - The start and end times are processed as the local time of the factsetExchangeCode provided. Please refer to the **Data Model User Guide** for time zone to exchange mappings.
          
      required:
        - start
        - end
      properties:
        start:
          description: >
            The date for (or from which) the data is required. Supports in
            YYYY-MM-DDTHH:MM:SSZ format. 
          type: string
          format: date-time
          example: '2012-01-01T11:00:00Z'
        end:
          type: string
          format: date-time
          description: >
            The date to which data is required. Supports in YYYY-MM-DDTHH:MM:SSZ
            format. 
          example: '2012-01-30T11:20:30Z'
    SubmittedResponse:
      type: object
      title: Status Response
      description: Returns Status of the id.
      properties:
        data:
          $ref: '#/components/schemas/StatusOne'
    StatusOne:
      type: object
      description: request-files
      properties:
        id:
          description: a unique identification for the query requested
          type: string
        status:
          description: The status of the query
          type: string
          enum:
            - queued
            - executing
            - created
            - failed
            - cancelled
        error:
          $ref: '#/components/schemas/ErrorObject'
    ErrorObject:
      type: object
      nullable: true
      description: error
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: GenericError
        title:
          description: The plain text error message
          type: string
          example: Validation Error
    CompletedResponse:
      type: object
      title: status
      description: Returns status.
      properties:
        data:
          $ref: '#/components/schemas/CheckFiles'
    CheckFiles:
      type: object
      description: check-files
      properties:
        id:
          description: a unique identification for the query requested
          type: string
        status:
          description: The status of the query
          type: string
          enum:
            - queued
            - executing
            - created
            - failed
            - cancelled
        error:
          $ref: '#/components/schemas/ErrorObject'
    CoverageResponse:
      type: object
      description: Returns coverage for Level1 Data
      properties:
        data:
          description: Returns Coverage Response
          type: array
          items:
            $ref: '#/components/schemas/CoverageTickHistory'
    CoverageTickHistory:
      title: Coverage Object
      type: object
      description: >-
        Returns Coverage Response of the requested ticker with unique isocode
        within a date range
      properties:
        ticker:
          description: a unique ticker given to a company
          type: string
        factsetExchangeCode:
          description: FactSet specific exchange code.
          type: string
        startDate:
          description: 'The date for (or from which) the coverage is required. '
          type: string
          format: date
        latestTradeDate:
          description: This specifies the latest traded date from tick history.
          type: string
          format: date
        companyName:
          description: Name of the firm
          type: string
        isin:
          description: 'returns the ISIN of the requested company '
          type: string
        currency:
          description: Represents 3 digit ISO code for the currency
          type: string
        lastExchangeCode:
          description: the last traded exhange code from tick history
          type: string
        lastExchangeName:
          description: the last traded exchange name from tick history
          type: string
        primaryTickerExchange:
          description: the primary ticker iso
          type: string
    Status:
      type: object
      description: specifies the error message fields in the response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/ErrorExample'
    ErrorExample:
      type: object
      description: Specifies the fields in the error message
      properties:
        code:
          description: It specifies the unique code
          type: string
        title:
          description: ' Specifies the error message'
          type: string
        id:
          description: Specifies the id
          type: string
    GetFilesResponse:
      type: object
      description: Returns Tick History Files
      properties:
        data:
          $ref: '#/components/schemas/TickData'
        meta:
          $ref: '#/components/schemas/Meta'
    TickData:
      type: object
      title: Tick History Object
      description: ' Returns Tick History Response.'
      properties:
        requestTimestamp:
          description: Timestamp of when request was made
          type: string
          format: date-time
        updateTimestamp:
          description: Timestamp when the file was last updated
          type: string
          format: date-time
        notAuthorizedTickers:
          description: Returns not Authorized Tickers
          type: array
          items:
            type: string
        invalidTickers:
          description: Returns invalid Tickers
          type: array
          items:
            type: string
        listOfFiles:
          type: array
          description: Contains list of Files
          items:
            $ref: '#/components/schemas/Files'
    GetFilesMinuteResponse:
      type: object
      description: Returns Tick History Files
      properties:
        data:
          $ref: '#/components/schemas/MinTickData'
        meta:
          $ref: '#/components/schemas/Meta'
    MinTickData:
      type: object
      title: Tick History Object
      description: ' Returns Tick History Response.'
      properties:
        requestTimestamp:
          description: Timestamp of when request was made
          type: string
          format: date-time
        updateTimestamp:
          description: Timestamp when the file was last updated
          type: string
          format: date-time
        listOfFiles:
          type: array
          description: Contains list of Files
          items:
            $ref: '#/components/schemas/FilesOne'
    Files:
      title: Files
      description: Array of data objects
      type: object
      properties:
        fileName:
          description: Name of the file(s) generated for the query requested
          type: string
        url:
          description: |

            Download link for the TickHistory file with requested parameters
            <p>This download link will expire after 24 hours</p>
          type: string
    FilesOne:
      title: Files
      description: Array of data objects
      type: object
      properties:
        fileName:
          description: Name of the file(s) generated for the query requested
          type: string
        url:
          description: >
            Download link for the TickHistory minute bars file with requested
            parameters.


            For <b>trades</b>, the downloaded file contains the following
            fields:

            - isoCode

            - ticker

            - date

            - time

            - tradeOpen

            - tradeHigh

            - tradeLow

            - tradeClose

            - tradeVolume

            - securityType

            - tradeNumber

            - tradeVWAP


            For <b>quotes</b>, the downloaded file contains the following
            fields:

            - ticker

            - isoCode

            - date

            - time

            - bidOpenPrc

            - bidClosePrc

            - bidSumVol

            - askOpenPrc

            - askClosePrc

            - askSumVol

            - count

            - medianSpread


            This download link will expire after 12 hours.
          type: string
    Meta:
      title: Meta
      description: Array of metadata objects
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      title: Pagination
      description: List of pagination objects
      type: object
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
        isEstimatedTotal:
          description: >-
            Boolean value that represents whether the total count of files
            returned is exact or an estimate. This is defaulted to False as the
            API should always return the exact count
          type: boolean
  examples:
    postBodyOfUSTickers:
      summary: US Equity tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the US Equity tick data
        for the period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - IBM
            - F
            - AAPL
            - GOOG
          factsetExchangeCode: USA
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfUSTickersReg:
      summary: >-
        US Equity tickers for a Regional ISO Code with default all fields for
        the given period
      description: >-
        Post body request example to fetch details of the US Equity tick data
        for a Regional ISO Code for the period 2021-01-01T00:00:00Z to
        2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - IBM
            - F
            - AAPL
            - GOOG
          factsetExchangeCode: NYS
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfASXTickers:
      summary: AUS tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the AUS tick data for the
        period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - CBA
            - BHP
          factsetExchangeCode: AUS
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfASXTickersReg:
      summary: >-
        ASX tickers for a Regional ISO Code with default all fields for the
        given period
      description: >-
        Post body request example to fetch details of the ASX tick data for a
        Regional ISO Code for the period 2021-01-01T00:00:00Z to
        2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - CBA
            - BHP
          factsetExchangeCode: ASX
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfLSETickers:
      summary: LSE tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the LSE tick data for the
        period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - HSBA
            - VOD
          factsetExchangeCode: LON
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfTokyoTickers:
      summary: Tokyo tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the Tokyo tick data for
        the period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - '7203'
            - '4307'
          factsetExchangeCode: TKS
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfSwissTickers:
      summary: Swiss tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the Swiss tick data for
        the period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - NESN
            - COTN
          factsetExchangeCode: SWX
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfSingaporeTickers:
      summary: Singapore tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the Singapore tick data
        for the period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - J36
          factsetExchangeCode: SES
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    postBodyOfHongKongTickers:
      summary: Hong Kong tickers with default all fields for the given period
      description: >-
        Post body request example to fetch details of the Hong Kong tick data
        for the period 2021-01-01T00:00:00Z to 2021-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - '700'
          factsetExchangeCode: HKG
          dateTimeRange:
            start: '2021-01-01T00:00:00Z'
            end: '2021-01-31T23:59:59Z'
          single: false
    minSingleTicker:
      summary: Single ticker for the given period
      description: >-
        Post body request example to fetch details of the IBM tick data for the
        period 2023-08-01T00:00:00Z to 2023-09-281T23:59:59Z.
      value:
        data:
          tickers:
            - IBM
          factsetExchangeCode: USA
          dateTimeRange:
            start: '2023-08-01T00:00:00Z'
            end: '2023-09-28T23:59:59Z'
          granularity: 1m
          type: trades
    minMultipleTicker:
      summary: Multiple tickers for the given period
      description: >-
        Post body request example to fetch details of the AMZN, FDS, MSFT, AAPL,
        TSLA, CL00, ES00 and NQ00 tick data for the period 2023-08-01T00:00:00Z
        to 2024-01-31T23:59:59Z.
      value:
        data:
          tickers:
            - AMZN
            - FDS
            - MSFT
            - AAPL
            - TSLA
            - CL00
            - ES00
            - NQ00
          factsetExchangeCode: USA
          dateTimeRange:
            start: '2023-08-01T00:00:00Z'
            end: '2023-09-28T23:59:59Z'
          granularity: 1m
          type: trades
    sampleFilesResponse:
      summary: Status Accepted
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: queued
          error: null
    sampleFilesResponseQueued:
      summary: Status Queued
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: queued
          error: null
    sampleFilesResponseExecuting:
      summary: Status Executing
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: executing
          error: null
    sampleFilesResponseFailed:
      summary: Status Failed
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: failed
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: Geeneric Error
            title: 'Not a valid request '
    sampleFilesResponseCancelled:
      summary: Status Cancelled
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: cancelled
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: Error
            title: Request taking long time
    sampleCompletedResponse:
      summary: Status Done
      value:
        data:
          id: 27b4923f-86dd-4b8b-89ac-dfc3a26fa786
          status: created
          error: null
    sampleGetFilesResponse:
      summary: sample Response data for Level1
      value:
        data:
          requestTimestamp: '2020-10-23T03:38:02Z'
          updateTimestamp: '2020-10-23T03:41:39Z'
          notAuthorizedTickers: []
          invalidTickers: []
          listOfFiles:
            - fileName: data_0_0_0.csv.gz
              url: >-
                https://fdss3-structured-data-delivery-tickhistory-prod.s3.amazonaws.com/1908ba22c3d50cf0eb29d4941a15d754/1064084624/data_0_0_0.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VERPYTDXEC%2F20210407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210407T173818Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDvzcjGyFCVYyQANp8yuwa3Wn3pD0qWWxLx4ay4oHW61QIgXf3ULeWuRB2jidoA%2BiY83uRbUT8PvB8enoeKgisQUIYq2AEISxAAGgw5NjYyODIxMTY0MjUiDLuCDb9G45Fsn6HtLCq1AYQPGk8GpzGiRXMiASd%2FayNLEOTkXRvTkjg00DAMPt4GM9%2BmVJyXStFairI5Ru1ZO6%2B4DAHT8H1u2Z2g%2FZfIR8Wozv8NYq992v8PapfgUXfuVeJI%2BLnGFyUstgbIB1BgO18I0JscQWbGIy6FTiGfBgPuxvpN57TAcmHgc1XNbKDGFqgeVwcLIkY62a8zYjbOPP09gzFW2%2FNPCIyKl074r0dAHwmGw21XEoxKyJgNaybEXli4lGAwh9y3gwY64AFxwpKMsSGOx4teikNbdzo8dCDU0rjtxUgCupkqrqOtetRTLrjaxp4%2BfDa5IweJcdTREupEfkEZR8aaHgcWSzd5%2BKk1nUEUe1RoG%2FqzrQ0%2BANY3nX2a%2BKhgI6PLX%2FVEGJtaxtx0fMHO9PU1Szg9Rr%2FRY%2BphK19fHFGGAJc1r%2Fby00MrJFahqIRkwVud8h63dSoOJ%2Fbc0vd3oPzl%2F6GGyRTaAyCsjPTr6lPBXLdrmBkP8TuDyW%2BnTGhX8wJtSp2BxCOxLy7%2BVwGGAPl%2FtBtQdNK7q4tkb2COlYL%2BD9m6w2uNFg%3D%3D&X-Amz-Signature=3d54bc7804a710dbea470007eb9a7b231a9f60544fe44582bab3ae60ab67ca65
        meta:
          pagination:
            total: 256
            isEstimatedTotal: false
    sampleMinGetFilesResponse:
      summary: sample Response data for Minute bars Trades
      value:
        data:
          requestTimestamp: '2020-10-23T03:38:02Z'
          updateTimestamp: '2020-10-23T03:41:39Z'
          listOfFiles:
            - fileName: data_0_0_0.csv.gz
              url: >-
                https://fdss3-structured-data-delivery-tickhistory-prod.s3.amazonaws.com/1908ba22c3d50cf0eb29d4941a15d754/1064084624/data_0_0_0.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VERPYTDXEC%2F20210407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210407T173818Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDvzcjGyFCVYyQANp8yuwa3Wn3pD0qWWxLx4ay4oHW61QIgXf3ULeWuRB2jidoA%2BiY83uRbUT8PvB8enoeKgisQUIYq2AEISxAAGgw5NjYyODIxMTY0MjUiDLuCDb9G45Fsn6HtLCq1AYQPGk8GpzGiRXMiASd%2FayNLEOTkXRvTkjg00DAMPt4GM9%2BmVJyXStFairI5Ru1ZO6%2B4DAHT8H1u2Z2g%2FZfIR8Wozv8NYq992v8PapfgUXfuVeJI%2BLnGFyUstgbIB1BgO18I0JscQWbGIy6FTiGfBgPuxvpN57TAcmHgc1XNbKDGFqgeVwcLIkY62a8zYjbOPP09gzFW2%2FNPCIyKl074r0dAHwmGw21XEoxKyJgNaybEXli4lGAwh9y3gwY64AFxwpKMsSGOx4teikNbdzo8dCDU0rjtxUgCupkqrqOtetRTLrjaxp4%2BfDa5IweJcdTREupEfkEZR8aaHgcWSzd5%2BKk1nUEUe1RoG%2FqzrQ0%2BANY3nX2a%2BKhgI6PLX%2FVEGJtaxtx0fMHO9PU1Szg9Rr%2FRY%2BphK19fHFGGAJc1r%2Fby00MrJFahqIRkwVud8h63dSoOJ%2Fbc0vd3oPzl%2F6GGyRTaAyCsjPTr6lPBXLdrmBkP8TuDyW%2BnTGhX8wJtSp2BxCOxLy7%2BVwGGAPl%2FtBtQdNK7q4tkb2COlYL%2BD9m6w2uNFg%3D%3D&X-Amz-Signature=3d54bc7804a710dbea470007eb9a7b231a9f60544fe44582bab3ae60ab67ca65
        meta:
          pagination:
            total: 256
            isEstimatedTotal: false
    sampleMinGetQuoteFilesResponse:
      summary: sample Response data for Minute bars Quotes
      value:
        data:
          requestTimestamp: '2022-11-23T03:38:02Z'
          updateTimestamp: '2022-11-23T03:41:39Z'
          listOfFiles:
            - fileName: data_1_0_0.csv.gz
              url: >-
                https://fdss3-structured-data-delivery-tickhistory-prod.s3.amazonaws.com/1908ba22c3d50cf0eb29d4941a15d754/1064084624/data_0_0_0.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VERPYTDXEC%2F20210407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210407T173818Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQDvzcjGyFCVYyQANp8yuwa3Wn3pD0qWWxLx4ay4oHW61QIgXf3ULeWuRB2jidoA%2BiY83uRbUT8PvB8enoeKgisQUIYq2AEISxAAGgw5NjYyODIxMTY0MjUiDLuCDb9G45Fsn6HtLCq1AYQPGk8GpzGiRXMiASd%2FayNLEOTkXRvTkjg00DAMPt4GM9%2BmVJyXStFairI5Ru1ZO6%2B4DAHT8H1u2Z2g%2FZfIR8Wozv8NYq992v8PapfgUXfuVeJI%2BLnGFyUstgbIB1BgO18I0JscQWbGIy6FTiGfBgPuxvpN57TAcmHgc1XNbKDGFqgeVwcLIkY62a8zYjbOPP09gzFW2%2FNPCIyKl074r0dAHwmGw21XEoxKyJgNaybEXli4lGAwh9y3gwY64AFxwpKMsSGOx4teikNbdzo8dCDU0rjtxUgCupkqrqOtetRTLrjaxp4%2BfDa5IweJcdTREupEfkEZR8aaHgcWSzd5%2BKk1nUEUe1RoG%2FqzrQ0%2BANY3nX2a%2BKhgI6PLX%2FVEGJtaxtx0fMHO9PU1Szg9Rr%2FRY%2BphK19fHFGGAJc1r%2Fby00MrJFahqIRkwVud8h63dSoOJ%2Fbc0vd3oPzl%2F6GGyRTaAyCsjPTr6lPBXLdrmBkP8TuDyW%2BnTGhX8wJtSp2BxCOxLy7%2BVwGGAPl%2FtBtQdNK7q4tkb2COlYL%2BD9m6w2uNFg%3D%3D&X-Amz-Signature=3d54bc7804a710dbea470007eb9a7b231a9f60544fe44582bab3ae60ab67ca65
        meta:
          pagination:
            total: 65
            isEstimatedTotal: false
    sampleCoverageResponse:
      summary: sample Response
      value:
        data:
          - ticker: IBM
            factsetExchangeCode: MUN
            startDate: '2012-01-02'
            latestTradeDate: '2023-01-01'
            companyName: International Business Machines
            isin: US3030751057
            currency: USD
            lastExchangeCode: '14002'
            lastExchangeName: NYSE - Nasdaq Regional
            primaryTickerExchange: IBM-NYS
          - ticker: IBM
            factsetExchangeCode: CAN
            startDate: '2012-01-02'
            latestTradeDate: '2023-01-01'
            companyName: International Business Machines
            isin: US3030751057
            currency: EUR
            lastExchangeCode: '257'
            lastExchangeName: Turquoise
            primaryTickerExchange: NOKIA-EUR
    400Example:
      summary: Sample error Response
      value:
        errors:
          - code: Bad Request
            title: parameterError:['_id'] is not a valid parameter(s)
            id: 7af3d86ca5954503b9244f2620fcf5eb
    401Example:
      summary: sample error response
      value:
        errors:
          - code: Not Authenticated
            title: USERNAME-SERIAL does not have permission
            id: 7af3d86ca5954503b9244f2620fcf5eb
    403Example:
      summary: sample error response
      value:
        errors:
          - code: Forbidden
            title: USERNAME-SERIAL does not have permission
            id: 7af3d86ca5954503b9244f2620fcf5eb
    500Example:
      summary: sample error response
      value:
        errors:
          - code: Internal server error
            title: An unexpected error happened
            id: 7af3d86ca5954503b9244f2620fcf5eb
    429Example:
      summary: sample error response
      value:
        errors:
          - code: Too Many Requests
            title: quantityLimitsExceeded
            id: 7af3d86ca5954503b9244f2620fcf5eb
    404Example:
      summary: sample error response
      value:
        errors:
          - code: Not Found
            title: id not found
            id: 7af3d86ca5954503b9244f2620fcf5eb
tags:
  - name: Level 1
    description: >-
      API provides access to check coverage and retrieve Level 1 historical tick
      data
