openapi: 3.0.0
info:
  version: 3.0.0
  title: FactSet Funds and ETF API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  description: >
    FactSet Mutual Funds and ETFs Reference provides fund-specific reference
    information as well as FactSet's proprietary classification system. It
    includes but is not limited to the following coverage 
      * Fund descriptions 
      * A seven-tier classification system
      * Leverage information
      * Fees and expenses 
      * Portfolio managers 
      
      FactSet Mutual Funds Time Series provides quantitative data items on a historical basis. It includes but is not limited to the following coverage 
      * Net asset value
      * Fund flows 
      * Assets under management
      * Total return 
      
     In addition to core reference and time series data, the API enables broader fund analytics and workflows, including: 
     * Fund summary and classification insights such as domicile, structure, segments, and similar funds  
     * Performance analytics including historical returns, snapshot returns across time horizons, and yield data 
     * Cost, fee, and risk metrics including expense ratios, regulatory/tax exposure, and risk measures 
     * Portfolio exposure and analytics including asset allocation, sector weightage, geographic exposure, and top holdings  
     * Trading and liquidity characteristics for evaluating tradability  
     * ETF-specific scoring and ratings to assess efficiency, tradability, and fit relative to benchmarks  
     * Distribution and income data for understanding payouts and investor returns 
     <p>This API is rate-limited to 10 requests per second and 10 concurrent requests per user.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-funds-api
servers:
  - url: https://api.factset.com/content/factset-funds/v3
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Summary, Segments and Stats
    description: >-
      Fund summary information, classification, similar funds, segments, asset
      under management, and flows.
  - name: Prices, Returns, and Distributions
    description: Fund pricing, returns, distributions, and income data.
  - name: Taxes, Fees and Risks
    description: Fund costs, fees, tax exposure, regulatory compliance, and risk measures.
  - name: Portfolio Exposure and Analysis
    description: Fund portfolio composition, sector breakdown, risk analytics, holdings.
  - name: Scoring
    description: Get scoring details for ETF
  - name: Trading
    description: Trading-related characteristics for funds and ETFs
  - name: Screener Operations
    description: Screener-specific endpoints for managing and querying content sets.
paths:
  /summary:
    get:
      tags:
        - Summary, Segments and Stats
      summary: Get basic reference summary data for a Fund.
      operationId: getFundsSummary
      description: >
        Fetch basic reference data for the requested fund(s), including
        `fundDomicile`, `shareClass`, `shareClassLaunchDate`, etc. 
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: The Fund Summaries response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummariesResponse'
              examples:
                Fund Summary details for MABAX-US:
                  $ref: '#/components/examples/summariesResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Summary, Segments and Stats
      summary: Get basic reference data for a large list of Fund IDs.
      description: >
        Fetch basic reference data for the requested fund(s), including
        `fundDomicile`, `shareClass`, `shareClassLaunchDate`, etc. 
      operationId: getFundsSummaryForList
      requestBody:
        required: true
        description: >-
          The Funds Summary request body, allowing the user to specify a list of
          IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummariesRequest'
            examples:
              Request for Fund Summary for MABAX and SPY:
                $ref: '#/components/examples/postSummary'
      responses:
        '200':
          description: The Funds Summary response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummariesResponse'
              examples:
                Fund Summary details for MABAX-US:
                  $ref: '#/components/examples/summariesResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /prices:
    get:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Prices (NAV) for a requested time-series
      operationId: getFundsPrices
      description: Get Fund Prices (NAV) for a requested date range and list of IDs.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/dataType'
        - $ref: '#/components/parameters/splitAdjust'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The Prices response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsPricesResponse'
              examples:
                Fund Prices details for MABAX-US:
                  $ref: '#/components/examples/fundPrices'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Prices (NAV) for a requested date range and large list of IDs.
      description: >
        Fetch fund prices (NAV) as of a requested date range and a large list of
        IDs. 
      operationId: getFundsPricesForList
      requestBody:
        required: true
        description: >-
          The Prices request body, allowing the user to specify a list of IDs
          and date ranges.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundsPricesRequest'
            examples:
              Request for Fund Prices for MABAX and SPY:
                $ref: '#/components/examples/postPrices'
      responses:
        '200':
          description: The Prices response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsPricesResponse'
              examples:
                Fund Prices details for MABAX-US:
                  $ref: '#/components/examples/fundPrices'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /returns:
    get:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Returns for a requested time-series
      operationId: getFundsReturns
      description: >-
        Get Fund NAV Returns over a time-series for the requested date range and
        frequency. <p>The simple Total Return NAV shows the fund's total return
        level by reinvesting distributions so that ex-date NAVs are increased by
        the distribution amount and compounded thereafter. Total return NAV
        compounds daily and is calculated from the first available NAV date of
        each fund. The total return NAV series reflects the value that an
        investor would own if it had purchased one share at the inception date
        and reinvested all dividends on a Gross basis.</p><p> Control the
        dividends to include or exclude using the `dividendAdjust` parameter.
        The first available NAV date of each fund can be found in the /summary
        endpoint as `priceFirstDate`. Visit [OA
        #21437](https://my.apps.factset.com/oa/pages/21437) for more
        details.</p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/dividendAdjust'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The Returns response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsReturnsResponse'
              examples:
                Fund Returns details for MABAX-US:
                  $ref: '#/components/examples/fundReturns'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Returns for a requested time-series and large list of IDs.
      description: >-
        Get Fund NAV Returns over a time-series for the requested date range and
        frequency. <p>The simple Total Return NAV shows the fund's total return
        level by reinvesting distributions so that ex-date NAVs are increased by
        the distribution amount and compounded thereafter. Total return NAV
        compounds daily and is calculated from the first available NAV date of
        each fund. The total return NAV series reflects the value that an
        investor would own if it had purchased one share at the inception date
        and reinvested all dividends on a Gross basis.</p><p> Control the
        dividends to include or exclude using the `dividendAdjust` parameter.
        The first available NAV date of each fund can be found in the /summary
        endpoint as `priceFirstDate`. Visit [OA
        #21437](https://my.apps.factset.com/oa/pages/21437) for more
        details.</p>
      operationId: getFundsReturnsForList
      requestBody:
        required: true
        description: The Returns request body, allowing the user to specify a list of IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundsReturnsRequest'
            examples:
              Request for Fund Returns for MABAX and SPY:
                $ref: '#/components/examples/postReturns'
      responses:
        '200':
          description: The Returns response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsReturnsResponse'
              examples:
                Fund Returns details for MABAX-US:
                  $ref: '#/components/examples/fundReturns'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /returns/snapshot:
    get:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Returns over pre-defined time horizons as of a specific date.
      operationId: getFundsReturnsSnapshot
      description: >
        Get Fund Returns over pre-defined time horizons as of a specific date.
        Use the date parameter to set the perspective date, and adjust the
        return type to include or exclude dividends using the `dividendAdjust`
        parameter. Returns Ranges include - 

        * oneWeek

        * oneMonth

        * threeMonth

        * yearToDate

        * oneYear

        * threeYear

        * threeYearAnnualized

        * fiveYear

        * fiveYearAnnualized

        * tenYear

        * tenYearAnnualized
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/dateSnapshot'
        - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns Snapshot response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsReturnsSnapshotResponse'
              examples:
                Fund Returns Snapshot details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsSnapshot'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Returns over pre-defined time horizons as of a specific date.
      description: >
        Get Fund Returns over pre-defined time horizons as of a specific date.
        Use the date parameter to set the perspective date, and adjust the
        return type to include or exclude dividends using the `dividendAdjust`
        parameter. Returns Ranges include - 

        * oneWeek

        * oneMonth

        * threeMonth

        * yearToDate

        * oneYear

        * threeYear

        * threeYearAnnualized

        * fiveYear

        * fiveYearAnnualized 

        * tenYear

        * tenYearAnnualized
      operationId: getFundsReturnsSnapshotForList
      requestBody:
        required: true
        description: >-
          The Returns Snapshot request body, allowing the user to specify a list
          of IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundsReturnsSnapshotRequest'
            examples:
              Request for Fund Returns Snapshot for MABAX and SPY:
                $ref: '#/components/examples/postReturnsSnapshot'
      responses:
        '200':
          description: The Returns Snapshot response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundsReturnsSnapshotResponse'
              examples:
                Fund Returns Snapshot details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsSnapshot'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /returns/range:
    get:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Returns for a user-defined date range
      operationId: getFundsReturnsRange
      description: >-
        Get Fund Returns between a specified `startDate` and `endDate`. The
        service will compute the return between those two periods to retrieve
        the single value and does not create a time-series. Control the return
        type to include or exclude dividends by using the `dividendAdjust`
        parameter.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns Range response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnsRangeResponse'
              examples:
                Fund Returns Range details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsRange'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices, Returns, and Distributions
      summary: >-
        Get Fund Returns over pre-defined time horizons as of a specific date
        for large list of IDs.
      description: >-
        Get Fund Returns between a specified `startDate` and `endDate`. The
        service will compute the return between those two periods to retrieve
        the single value and does not create a time-series. Control the return
        type to include or exclude dividends by using the `dividendAdjust`
        parameter.
      operationId: getFundsReturnsRangeForList
      requestBody:
        required: true
        description: >-
          The Returns Range request body, allowing the user to specify a list of
          IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnsRangeRequest'
            examples:
              Request for Fund Returns Range details for MABAX and SPY:
                $ref: '#/components/examples/postReturnsRange'
      responses:
        '200':
          description: The Returns Range response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnsRangeResponse'
              examples:
                Fund Returns Range details for MABAX-US:
                  $ref: '#/components/examples/fundReturnsRange'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /yields:
    get:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Yield for a user-defined date range for large list of IDs.
      operationId: getFundsYield
      description: >
        Returns SEC Yield of a fund.

        * Net SEC yield is the subsidized or after waivers.

        * Gross SEC yield is the unsubsidized or before waivers.

        * The Net will be bigger than the Gross if part of the fees are waived.
        If Gross and Net are equal, no fees were waived

        * SEC Yield for Mutual Funds is in percentage form while ETFs will
        depend on the fund.

        * Data is returned for both Mutual Funds and ETFs.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The Yields response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YieldsResponse'
              examples:
                Yield details for SPY-US:
                  $ref: '#/components/examples/yieldsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Yield for a user-defined date range for large list of IDs.
      description: >
        Returns SEC Yield of a fund.

        * Net SEC yield is the subsidized or after waivers.

        * Gross SEC yield is the unsubsidized or before waivers.

        * The Net will be bigger than the Gross if part of the fees are waived.
        If Gross and Net are equal, no fees were waived

        * SEC Yield for Mutual Funds is in percentage form while ETFs will
        depend on the fund.

        * Data is returned for both Mutual Funds and ETFs.
      operationId: getFundsYieldForList
      requestBody:
        required: true
        description: >-
          The Yields request body, allowing the user to specify a list of IDs
          and date.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YieldsRequest'
      responses:
        '200':
          description: The Yields response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YieldsResponse'
              examples:
                Yield details for SPY-US:
                  $ref: '#/components/examples/yieldsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /costs-fees:
    get:
      tags:
        - Taxes, Fees and Risks
      summary: Get the Fund's Costs, Investment minimums and Risk, and Fees.
      operationId: getFundsCostsFees
      description: >-
        Fetch the Fund's Costs, Investment minimums and Risk, and Fees. This
        subcategory includes management fees, 12b-1 fees, expense ratios, and
        several other data items. The value for each specified share class is
        expressed as a percentage of the AUM.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: The Costs and Fees response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostsFeesResponse'
              examples:
                Fund Costs Fees details for MABAX-US:
                  $ref: '#/components/examples/fundCostsFees'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Taxes, Fees and Risks
      summary: >-
        Get the Fund's Costs, Investment minimums and Risk, and Fees for large
        list of IDs.
      description: >-
        Fetch the Fund's Costs, Investment minimums and Risk, and Fees. Data
        Items include Expense Ratios, investment minimums and maximums, swing
        prices, entry and exit expenses, and more.
      operationId: getFundsCostsFeesForList
      requestBody:
        required: true
        description: >-
          The Costs and Fees request body, allowing the user to specify a list
          of IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostsFeesRequest'
      responses:
        '200':
          description: The Cost and Fees response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostsFeesResponse'
              examples:
                Fund Costs Fees details for MABAX-US:
                  $ref: '#/components/examples/fundCostsFees'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /aum:
    get:
      tags:
        - Summary, Segments and Stats
      summary: Get Fund AUM for a requested date range and list of IDs
      operationId: getFundsAum
      description: >-
        Get the Fund Level or Share Class Level Assets Under Management (AUM).
        <p>NOTE - AUM can be accessed on a five-day calendar. If a vendor does
        not provide NAV and shares outstanding on a market holiday, the previous
        trading day value is used. If a vendor does provide data on a market
        holiday, that value will be presented, and then fund flows and AUM will
        be calculated. When you are manually calculating actual AUM on a market
        holiday or a rolled date, it will differ from the value shown in the
        FactSet workstation. This is due to the previous day's NAV being used in
        the manual AUM calculation.</p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequencyAum'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/dataType'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The AUM response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AumResponse'
              examples:
                FundAum:
                  $ref: '#/components/examples/fundAum'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Summary, Segments and Stats
      summary: Get Fund AUM for a requested date range and large list of IDs
      description: >-
        Get the Fund Level or Share Class Level Assets Under Management (AUM).
        <p>NOTE - AUM can be accessed on a five-day calendar. If a vendor does
        not provide NAV and shares outstanding on a market holiday, the previous
        trading day value is used. If a vendor does provide data on a market
        holiday, that value will be presented, and then fund flows and AUM will
        be calculated. When you are manually calculating actual AUM on a market
        holiday or a rolled date, it will differ from the value shown in the
        FactSet workstation. This is due to the previous day's NAV being used in
        the manual AUM calculation.</p>
      operationId: getFundsAumForList
      requestBody:
        required: true
        description: The AUM request body, allowing the user to specify a list of IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AumRequest'
            examples:
              Request for Fund Aum for MABAX and SPY:
                $ref: '#/components/examples/postAum'
      responses:
        '200':
          description: The AUM response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AumResponse'
              examples:
                FundAum:
                  $ref: '#/components/examples/fundAum'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /flows:
    get:
      tags:
        - Summary, Segments and Stats
      summary: Get Fund Flows for a requested date range and list of IDs
      operationId: getFundsFlows
      description: >
        Get the Fund Flows. One-day fund flows are calculated by subtracting the
        shares outstanding at previous close from the shares outstanding one day
        prior to close, and then multiplying the result by the net asset value
        (NAV) of one day prior to close.


        The fund flows calculation breaks down as follows - 

        ```(Shares Outstanding T0 - Shares Outstanding T-1) * NAV T-1 ```

        While NAVs are routinely reported on a trade-day (T0) basis,
        industry-wide shares outstanding are a mixture of trade-day and next-day
        values. Trade-day values are not verified, as the actual
        creation/redemption activity takes place late in the evening, after NAVs
        and shares outstanding values have been published. The result is that
        multiple industry flows are calculated using unverified T0 values.

        FactSet has standardized all shares outstanding reporting on a next-day
        basis. To ensure that assets under management (AUM) and fund flows are
        synchronized, FactSet synchronizes shares outstanding values and changes
        with NAVs reported on the previous day, as the creations and redemptions
        used the previous day's reported NAVs as a transaction price. <p>For
        more information on Fund Flows Methodology, Time Windows, Market
        Holidays, and Missing Values, visit - [OA
        #17863](https://my.apps.factset.com/oa/pages/17863#Flows_Calculation)</p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The Fund Flows response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowsResponse'
              examples:
                Fund AUM details for MABAX-US:
                  $ref: '#/components/examples/fundFlows'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Summary, Segments and Stats
      summary: Get Fund Flows for a requested date range and large list of IDs
      description: >
        Get the Fund Flows. One-day fund flows are calculated by subtracting the
        shares outstanding at previous close from the shares outstanding one day
        prior to close, and then multiplying the result by the net asset value
        (NAV) of one day prior to close.


        The fund flows calculation breaks down as follows - 

        ```(Shares Outstanding T0 - Shares Outstanding T-1) * NAV T-1```

        While NAVs are routinely reported on a trade-day (T0) basis,
        industry-wide shares outstanding are a mixture of trade-day and next-day
        values. Trade-day values are not verified, as the actual
        creation/redemption activity takes place late in the evening, after NAVs
        and shares outstanding values have been published. The result is that
        multiple industry flows are calculated using unverified T0 values.

        FactSet has standardized all shares outstanding reporting on a next-day
        basis. To ensure that assets under management (AUM) and fund flows are
        synchronized, FactSet synchronizes shares outstanding values and changes
        with NAVs reported on the previous day, as the creations and redemptions
        used the previous day's reported NAVs as a transaction price. <p>For
        more information on Fund Flows Methodology, Time Windows, Market
        Holidays, and Missing Values, visit - [OA
        #17863](https://my.apps.factset.com/oa/pages/17863#Flows_Calculation)</p>
      operationId: getFundsFlowsForList
      requestBody:
        required: true
        description: >-
          The Fund Flows request body, allowing the user to specify a list of
          IDs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowsRequest'
            examples:
              Request for Fund Flows for MABAX and SPY:
                $ref: '#/components/examples/postFlows'
      responses:
        '200':
          description: The Flows response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowsResponse'
              examples:
                Fund AUM details for MABAX-US:
                  $ref: '#/components/examples/fundFlows'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /scoring:
    get:
      tags:
        - Scoring
      summary: Get Scoring Details for ETFs
      operationId: getScoringDetails
      description: >
        Returns ETF scores, segment averages, analyst recommendations,

        and grade.

        * Calculated scores include efficiency, tradability, and fit.


        * Segment averages include efficiency, tradability, and fit. 


        * Analyst pick flags an ETF that provides comprehensive, market like
        exposure to an area of the market/segment, keeping costs and liquidity
        in mind.


        *  Opportunities list flags an ETF that provides potentially valuable
        but

        alternative   exposure to the market/segment, keeping costs and
        liquidity in mind.


        * Grade combines efficiency and tradability scores and assigns a letter
        grade


        This endpoint is available only with Analytics product subscription. If
        the product is not subscribed, an error will be returned.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The Scoring response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringResponse'
              examples:
                Scoring example:
                  $ref: '#/components/examples/scoringExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Scoring
      summary: Get Scoring Details for ETFs
      description: >
        Returns ETF scores, segment averages, analyst recommendations,

        and grade.

        * Calculated scores include efficiency, tradability, and fit.


        * Segment averages include efficiency, tradability, and fit. 


        * Analyst pick flags an ETF that provides comprehensive, market like
        exposure to an area of the market/segment, keeping costs and liquidity
        in mind.


        *  Opportunities list flags an ETF that provides potentially valuable
        but

        alternative   exposure to the market/segment, keeping costs and
        liquidity in mind.


        * Grade combines efficiency and tradability scores and assigns a letter
        grade


        This endpoint is available only with Analytics product subscription. If
        the product is not subscribed, an error will be returned.
      operationId: getScoringForList
      requestBody:
        required: true
        description: >-
          The Scoring request body, allowing the user to specify a list of IDs,
          date ranges and frequency.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoringRequest'
      responses:
        '200':
          description: The Scoring response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringResponse'
              examples:
                Scoring example:
                  $ref: '#/components/examples/scoringExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /portfolio/statistics:
    get:
      tags:
        - Portfolio Exposure and Analysis
      summary: Get Portfolio Statistics for Funds
      operationId: getPortfolioStatistics
      description: >-
        Fetch Last Twelve Months (LTM) Portfolio Statistics for the Funds. This
        endpoint is available only with Analytics product subscription. If the
        product is not subscribed, an error will be returned.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: The Portfolio Statistics response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioStatisticsResponse'
              examples:
                Portfolio statistics example:
                  $ref: '#/components/examples/portfolioStatisticsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Portfolio Exposure and Analysis
      summary: Get Portfolio Statistics for Funds
      description: >-
        Fetch Portfolio Statistics for the Funds. This endpoint is available
        only with Analytics product subscription. If the product is not
        subscribed, an error will be returned.
      operationId: getPortfolioStatisticsForList
      requestBody:
        required: true
        description: Portfolio Statistics request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioStatisticsRequest'
      responses:
        '200':
          description: The Portfolio Statistics object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioStatisticsResponse'
              examples:
                Portfolio statistics example:
                  $ref: '#/components/examples/portfolioStatisticsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /screener/content-sets:
    get:
      tags:
        - Screener Operations
      summary: Get the content sets that are permissioned for the user.
      operationId: getContentSets
      description: >-
        Gets the content sets that are permissioned for the user. for example:
        `Factset Fundamentals`, `Factset Funds`, etc.
      responses:
        '200':
          description: The content-sets response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentSetsResponse'
              examples:
                Content sets response:
                  $ref: '#/components/examples/contentSetsResponse'
        '400':
          description: >-
            Bad Request. This can occur for several reasons. Please review the
            "message" for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/screenerbadRequestReadTimeout'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /screener/fields:
    get:
      tags:
        - Screener Operations
      summary: Get the list of fields available for given content set.
      operationId: getFields
      description: >
        Gets the list of fields available for a given content set (or
        combination of content sets). For example: `Factset Fundamentals`,
        `Factset Funds`, etc. 

        Both default and custom content sets are supported.
      parameters:
        - $ref: '#/components/parameters/contentSets'
      responses:
        '200':
          description: The Fields response object for the given content set(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldsResponse'
              examples:
                Fields response for default content set:
                  $ref: '#/components/examples/fieldsResponseDefault'
                Fields response for custom content set:
                  $ref: '#/components/examples/fieldsResponseCustom'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /screener/distinct-count:
    post:
      tags:
        - Screener Operations
      summary: >-
        Returns the number of records for a given field spread across all
        possible values.
      description: >-
        Returns the number of records for a given field spread across all
        possible values that match the given criteria. Only string fields are
        supported.
      operationId: getDistinctCount
      requestBody:
        required: true
        description: Request object for `distinct-count`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistinctCountRequest'
            examples:
              Request for 'distinct-count' endpoint:
                $ref: '#/components/examples/distinctCountRequest'
              Request for 'distinct-count' endpoint with filters:
                $ref: '#/components/examples/distinctCountRequestWithFilters'
              Request for 'distinct-count' endpoint with custom content set:
                $ref: '#/components/examples/distinctCountRequestWithCustomContentSet'
              Request for 'distinct-count' endpoint with multiple filters:
                $ref: '#/components/examples/distinctCountRequestWithMultipleFilters'
      responses:
        '200':
          description: Response object for distinct-count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistinctCountResponse'
              examples:
                Distinct count response:
                  $ref: '#/components/examples/distinctCountResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /screener/statistics:
    post:
      tags:
        - Screener Operations
      summary: >-
        Returns the statistics and histogram data for a given field within the
        specified content sets.
      description: >-
        Returns the statistics for a given field within the specified content
        sets. Only numerical fields are supported. If histogram flag is set to
        true, histogram data is also returned.
      operationId: getStatistics
      requestBody:
        required: true
        description: Request object for `Statistics`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsRequest'
            examples:
              Request for statistics endpoint:
                $ref: '#/components/examples/statisticsRequest'
              Request for statistics endpoint with custom content-set:
                $ref: '#/components/examples/statisticsRequestWithCustomContentSet'
              Request for statistics endpoint without filters:
                $ref: '#/components/examples/statisticsRequestWithoutFilters'
              Request for statistics endpoint with multiple filters:
                $ref: '#/components/examples/statisticsRequestWithMultipleFilters'
      responses:
        '200':
          description: Response object for statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
              examples:
                Statistics response with histogram:
                  $ref: '#/components/examples/statisticsResponseWithHistogram'
                Statistics response without histogram:
                  $ref: '#/components/examples/statisticsResponseWithoutHistogram'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /screener/search:
    post:
      tags:
        - Screener Operations
      summary: Returns all the records that match the given criteria.
      description: >-
        Returns the records that match the given criteria. The request object
        for `Search` allows the user to get back data for fields of their
        choosing.

        Along with the fields requested, a unique identifier such as the ticker
        symbol will be returned in the response.


        Custom search of fields actually uses `displayName`.
      operationId: getScreenerData
      requestBody:
        required: true
        description: Request object for `Search`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
            examples:
              Request for search endpoint without filters:
                $ref: '#/components/examples/searchRequestWithoutFilters'
              Request for search endpoint with custom content set:
                $ref: '#/components/examples/searchRequestCustomContentSet'
              Request for search endpoint with filters:
                $ref: '#/components/examples/searchRequestWithFilters'
              Request for search endpoint with EQ operator:
                $ref: '#/components/examples/searchRequestWithEquals'
              Request for search endpoint with NE operator:
                $ref: '#/components/examples/searchRequestWithNotEquals'
              Request for search endpoint with CT operator:
                $ref: '#/components/examples/searchRequestWithContains'
              Request for search endpoint with IN operator:
                $ref: '#/components/examples/searchRequestWithIN'
              Request for search endpoint with LT operator:
                $ref: '#/components/examples/searchRequestWithLessThan'
              Request for search endpoint with LTE operator:
                $ref: '#/components/examples/searchRequestWithLessThanEqual'
              Request for search endpoint with GT operator:
                $ref: '#/components/examples/searchRequestWithGreaterThan'
              Request for search endpoint with GTE operator:
                $ref: '#/components/examples/searchRequestWithGreaterThanEqual'
      responses:
        '200':
          description: Response object for search endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              examples:
                Search response:
                  $ref: '#/components/examples/searchResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /screener/content-sets/create:
    post:
      tags:
        - Screener Operations
      summary: >-
        Create a new custom content set with required fields from the default
        content sets.
      description: >
        Create a custom content set with the required set of fields. These
        fields are taken from the default content sets provided in the request. 

        The name for a custom content-set must be unique. The list of
        displayNames within each custom content-set must also be unique.

        Display names can be used as `fieldName` in other endpoints to perform
        screening operations.


        The `/screener/content-sets` and `/screener/fields` endpoints provide
        the authoritative lists of available content sets and fields. Use these
        endpoints to construct custom content sets and ensure that all content
        set names and `displayName` values are unique.
      operationId: createContentSet
      requestBody:
        required: true
        description: Request object for create content-set endpoint.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentSetRequest'
            examples:
              Request for 'content-set/create' endpoint:
                $ref: '#/components/examples/createContentSetRequest'
      responses:
        '201':
          description: Response object for create content-set endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContentSetResponse'
              examples:
                Create Content Set Response:
                  $ref: '#/components/examples/createContentSetResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /screener/content-sets/{name}:
    delete:
      tags:
        - Screener Operations
      summary: Delete a custom content set.
      description: Delete a custom content set by providing the content set name.
      operationId: deleteContentSet
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: The name of the content set to be deleted.
          example: my-content-set
      responses:
        '204':
          description: The content set has been deleted successfully.
        '400':
          description: >-
            Bad Request occurs when the content set name is not provided or is
            invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad Request - Not Found:
                  $ref: '#/components/examples/badRequestNotFound'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /segments-and-structure:
    get:
      operationId: getSegmentsAndStructure
      summary: Get Fund Classification, Similar Funds, Segments, and Fund Structure
      description: |
        Returns fund structure information (classification, similar funds,
        segments, or fund structure) based on the `structureType` parameter.
      tags:
        - Summary, Segments and Stats
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/structureType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsAndStructureResponse'
              examples:
                Classification:
                  $ref: '#/components/examples/SegmentsAndStructureClassification'
                SimilarFunds:
                  $ref: '#/components/examples/SegmentsAndStructureSimilarFunds'
                Segments:
                  $ref: '#/components/examples/SegmentsAndStructureSegments'
                Structure:
                  $ref: '#/components/examples/SegmentsAndStructureFundStructure'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: getSegmentsAndStructureForList
      summary: Get Fund Classification, Similar Funds, Segments, and Fund Structure.
      description: >-
        Returns fund structure information (classification, similar funds,
        segments, or fund structure) for a large list of fund IDs based on the
        `structureType` parameter.
      tags:
        - Summary, Segments and Stats
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentsAndStructureRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsAndStructureResponse'
              examples:
                Classification:
                  $ref: '#/components/examples/SegmentsAndStructureClassification'
                SimilarFunds:
                  $ref: '#/components/examples/SegmentsAndStructureSimilarFunds'
                Segments:
                  $ref: '#/components/examples/SegmentsAndStructureSegments'
                Structure:
                  $ref: '#/components/examples/SegmentsAndStructureFundStructure'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /taxes-and-risks:
    get:
      operationId: getTaxesAndRisks
      summary: Get Regulatory/Tax, Tax Exposure, and Risk Measures
      description: >-
        Returns tax and risk information (regulatory/tax compliance, tax
        exposure, or risk measures) based on the `taxItemsType` parameter.
      tags:
        - Taxes, Fees and Risks
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/taxItemsType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxesAndRisksResponse'
              examples:
                RegulatoryTaxDetails:
                  $ref: '#/components/examples/RegulationTaxDetailsExample'
                TaxExposure:
                  $ref: '#/components/examples/TaxExposureExample'
                RiskMeasures:
                  $ref: '#/components/examples/RiskMeasuresExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: getTaxesAndRisksForList
      summary: Get Regulatory/Tax, Tax Exposure, and Risk Measures.
      description: >-
        Returns tax and risk information for a large list of IDs based on the
        `taxItemsType` parameter.
      tags:
        - Taxes, Fees and Risks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxesAndRisksRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxesAndRisksResponse'
              examples:
                RegulatoryTaxDetails:
                  $ref: '#/components/examples/RegulationTaxDetailsExample'
                TaxExposure:
                  $ref: '#/components/examples/TaxExposureExample'
                RiskMeasures:
                  $ref: '#/components/examples/RiskMeasuresExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /risk-analytics:
    get:
      operationId: getRiskAnalytics
      summary: Get Credit Risk and Rate Risk Analytics
      description: >-
        Returns credit risk or rate risk analytics based on the `riskType`
        parameter.This endpoint is available only with Analytics product
        subscription. If the product is not subscribed, an error will be
        returned.
      tags:
        - Portfolio Exposure and Analysis
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/riskType'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAnalyticsResponse'
              examples:
                CreditRisk:
                  $ref: '#/components/examples/CreditRiskExample'
                RateRisk:
                  $ref: '#/components/examples/RateRiskExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: getRiskAnalyticsForList
      summary: Get Credit Risk and Rate Risk Analytics.
      description: >-
        Returns credit risk or rate risk analytics for a large list of IDs based
        on the `riskType` parameter. This endpoint is available only with
        Analytics product subscription. If the product is not subscribed, an
        error will be returned.
      tags:
        - Portfolio Exposure and Analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAnalyticsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAnalyticsResponse'
              examples:
                CreditRisk:
                  $ref: '#/components/examples/CreditRiskExample'
                RateRisk:
                  $ref: '#/components/examples/RateRiskExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /portfolio/analytics:
    get:
      operationId: getPortfolioAnalytics
      summary: >-
        Get Asset Allocation, Sector Weightage, Geographic Revenue and Market
        Capitalization details
      description: >-
        Returns Asset Allocation, Sector Weightage, Geographic Revenue and
        Market Capitalization details data based on the `analyticsType`
        parameter. This endpoint is available only with Analytics product
        subscription. If the product is not subscribed, an error will be
        returned.
      tags:
        - Portfolio Exposure and Analysis
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/analyticsType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioAnalyticsResponse'
              examples:
                AssetAllocation:
                  $ref: '#/components/examples/AssetAllocationExample'
                SectorWeightage:
                  $ref: '#/components/examples/SectorWeightageExample'
                Geographic revenue:
                  $ref: '#/components/examples/geographicRevenueExample'
                Market capitalization:
                  $ref: '#/components/examples/marketCapitalizationExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: getPortfolioAnalyticsForList
      summary: >-
        Get Asset Allocation, Sector Weightage, Geographic Revenue and Market
        Capitalization details
      description: >-
        Returns Asset Allocation, Sector Weightage, Geographic Revenue and
        Market Capitalization details data based on the `analyticsType`
        parameter data for a large list of IDs. This endpoint is available only
        with Analytics product subscription. If the product is not subscribed,
        an error will be returned.
      tags:
        - Portfolio Exposure and Analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioAnalyticsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioAnalyticsResponse'
              examples:
                AssetAllocation:
                  $ref: '#/components/examples/AssetAllocationExample'
                SectorWeightage:
                  $ref: '#/components/examples/SectorWeightageExample'
                Geographic revenue:
                  $ref: '#/components/examples/geographicRevenueExample'
                Market capitalization:
                  $ref: '#/components/examples/marketCapitalizationExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /distributions:
    get:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Distributions (Current or Historical)
      operationId: getFundsDistributions
      description: >-
        Retrieves either current or historical fund distributions based on the
        `distributionType` parameter.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/distributionType'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/splitAdjust'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionsResponse'
              examples:
                Current:
                  $ref: '#/components/examples/DistributionsCurrentExample'
                Historical:
                  $ref: '#/components/examples/DistributionsHistoricalExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices, Returns, and Distributions
      summary: Get Fund Distributions (Current or Historical) for a list
      operationId: getFundsDistributionsForList
      description: >-
        Retrieves either current or historical fund distributions for a list of
        funds based on the `distributionType` parameter.
      requestBody:
        required: true
        description: Distributions request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributionsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionsResponse'
              examples:
                Current:
                  $ref: '#/components/examples/DistributionsCurrentExample'
                Historical:
                  $ref: '#/components/examples/DistributionsHistoricalExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /holdings/top-10:
    get:
      tags:
        - Portfolio Exposure and Analysis
      summary: Get Top 10 Holdings
      operationId: getTop10Holdings
      description: Returns the top 10 holdings for the requested fund or ETF.
      parameters:
        - $ref: '#/components/parameters/ids'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopHoldingsResponse'
              examples:
                Default:
                  $ref: '#/components/examples/TopHoldingsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Portfolio Exposure and Analysis
      summary: Get Top 10 Holdings
      operationId: getTop10HoldingsForList
      description: Returns the top 10 holdings for a list of funds or ETFs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopHoldingsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopHoldingsResponse'
              examples:
                Default:
                  $ref: '#/components/examples/TopHoldingsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /trading:
    get:
      tags:
        - Trading
      summary: Get Trading Characteristics
      operationId: getTrading
      description: >-
        Returns trading and liquidity characteristics for the requested fund or
        ETF.
      parameters:
        - $ref: '#/components/parameters/ids'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingResponse'
              examples:
                TradingExample:
                  $ref: '#/components/examples/TradingExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Trading
      summary: Get Trading Characteristics
      operationId: getTradingForList
      description: >-
        Returns trading and liquidity characteristics for a list of funds or
        ETFs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradingRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingResponse'
              examples:
                TradingExample:
                  $ref: '#/components/examples/TradingExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /financials/key-items:
    get:
      operationId: getFinancialKeyItems
      summary: Get Financial Key Items for Funds
      description: >-
        Get Last Twelve Months (LTM) Financial Key Items for Funds which
        provides access to industry-specific operating measures. This endpoint
        is available only with Analytics product subscription. If the product is
        not subscribed, an error will be returned.
      tags:
        - Portfolio Exposure and Analysis
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/keyItemsType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsKeyItemsResponse'
              examples:
                FinancialsGrowthKeyItems:
                  $ref: '#/components/examples/FinancialsGrowthKeyItems'
                FinancialsMarginsKeyItems:
                  $ref: '#/components/examples/FinancialsMarginsKeyItems'
                FinancialsRatiosKeyItems:
                  $ref: '#/components/examples/FinancialsRatiosKeyItems'
                FinancialsPerShareKeyItems:
                  $ref: '#/components/examples/FinancialsPerShareKeyItems'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
    post:
      operationId: getFinancialKeyItemsForList
      summary: Get Financial Key Items for Funds
      description: >-
        Get Financial Key Items for Funds which provides access to
        industry-specific operating measures. This endpoint is available only
        with Analytics product subscription. If the product is not subscribed,
        an error will be returned.
      tags:
        - Portfolio Exposure and Analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsKeyItemsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsKeyItemsResponse'
              examples:
                FinancialsGrowthKeyItems:
                  $ref: '#/components/examples/FinancialsGrowthKeyItems'
                FinancialsMarginsKeyItems:
                  $ref: '#/components/examples/FinancialsMarginsKeyItems'
                FinancialsRatiosKeyItems:
                  $ref: '#/components/examples/FinancialsRatiosKeyItems'
                FinancialsPerShareKeyItems:
                  $ref: '#/components/examples/FinancialsPerShareKeyItems'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  schemas:
    IdentifierResponseFields:
      title: Common Identifier Response Fields
      description: >-
        Reusable component containing standard identifier fields (`fsymId` and
        `requestId`) used in response objects
      type: object
      additionalProperties: true
      properties:
        fsymId:
          description: >-
            FactSet Security Identifier. Six alpha-numeric characters, excluding
            vowels, with a -S suffix (XXXXXX-S), resolved from the `requestId`
            of the Fund requested.
          type: string
          example: FNK7XP-S
          nullable: true
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    DateResponseField:
      title: Date Response Field Component
      description: Reusable component for date field in time-series response objects
      type: object
      additionalProperties: true
      properties:
        date:
          description: The date in YYYY-MM-DD format.
          type: string
          format: date
          example: '2025-02-26'
          nullable: true
    CurrencyResponseField:
      title: Currency Response Field Component
      description: Reusable component for currency field in response objects
      type: object
      additionalProperties: true
      properties:
        currency:
          description: >-
            ISO3 Currency. For a list of currency ISO codes, visit Online
            Assistant Page [OA1470](https://my.apps.factset.com/oa/pages/1470)'
          type: string
          example: USD
          nullable: true
    SummariesRequest:
      title: Summaries Request
      description: Summaries Request
      type: object
      properties:
        data:
          description: >-
            Request payload containing the list of fund identifiers and optional
            language parameter
          type: object
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            lang:
              $ref: '#/components/schemas/Lang'
          required:
            - ids
      required:
        - data
    SummariesResponse:
      type: object
      title: Summaries Response
      description: Response containing an array of fund summary objects
      properties:
        data:
          description: Array of Summaries Objects
          type: array
          items:
            $ref: '#/components/schemas/Summaries'
    Summaries:
      title: Funds Summary Object
      description: >-
        Comprehensive summary information for a fund including identifiers,
        status, names, descriptions, and key attributes
      allOf:
        - $ref: '#/components/schemas/IdentifierResponseFields'
        - type: object
          additionalProperties: true
          properties:
            error:
              $ref: '#/components/schemas/FundsErrorObject'
            fsymEntityId:
              description: >-
                FactSet Entity Identifier. Six alpha-numeric characters,
                excluding vowels, with a -E suffix (XXXXXX-E), resolved from the
                `requestId` of the Fund requested.
              type: string
              example: 04BFG7-E
              nullable: true
            fsymRegionalId:
              description: >-
                FactSet Regional Identifier. Six alpha-numeric characters,
                excluding vowels, with a -R suffix (XXXXXX-R), resolved from
                the`requestId` of the Fund requested.
              type: string
              example: SJY03Z-R
              nullable: true
            fsymTickerRegion:
              description: FactSet Ticker-Region for the requested fund.
              type: string
              example: MABAX-US
              nullable: true
            fsymUltimateParentId:
              description: >-
                The FactSet Ultimate Parent Entity Identifier, with a -E suffix
                (XXXXXX-E).
              type: string
              example: 002HJD-E
              nullable: true
            name:
              description: The Fund security's name in proper format.
              type: string
              example: BlackRock Basic Value Fund Incorporated
              nullable: true
            isin:
              description: >-
                Unique 12-character identifier for the requested fund, as per
                the International Securities Identification Number (ISIN)
                standard.
              type: string
              example: US09251G5071
              nullable: true
            cusip:
              description: >-
                Unique 9-character identifier for the requested fund, as per the
                CUSIP Numbering System.
              type: string
              example: 09251G507
              nullable: true
            sedol:
              description: Sedol Identifier
              type: string
              example: '2580964'
              nullable: true
            wkn:
              description: WKN
              type: string
              example: A1J47F
              nullable: true
            valoren:
              description: Valoren
              type: string
              example: '2730688'
              nullable: true
            issuerId:
              description: The Issuer Identifier.
              type: string
              example: 004B8C-E
              nullable: true
            issuerName:
              description: The Issuer Name in proper format.
              type: string
              example: BlackRock Inc.
              nullable: true
            activeFlag:
              description: >-
                Boolean flag to indicate whether the fund is currently active or
                not.
              type: boolean
              example: true
              nullable: true
            activelyManagedFlag:
              description: Boolean flag of whether the fund is actively managed or not.
              type: boolean
              example: true
              nullable: true
            brand:
              description: The Funds Brand Name in proper format.
              type: string
              example: BlackRock
              nullable: true
            fundDomicile:
              description: >-
                Returns the fund's country of domicile in ISO2 format. Only
                available for Mutual Funds.
              type: string
              example: US
              nullable: true
            currency:
              description: >-
                ISO3 Currency. For a list of currency ISO codes, visit Online
                Assistant Page
                [OA1470](https://my.apps.factset.com/oa/pages/1470)'
              type: string
              example: USD
              nullable: true
            currencyHedged:
              description: Returns selected ETF currency hedge information.
              type: boolean
              example: false
              nullable: true
            shareClass:
              description: The Funds Share class type name in proper format.
              example: Institutional Class
              type: string
              nullable: true
            shareClassName:
              description: The specified share class name for the fund in proper format.
              type: string
              example: BlackRock Basic Value I
              nullable: true
            shareClassActiveFlag:
              description: >-
                Returns a binary indicator of whether the specified share class
                is currently active, where 1 is active and 0 is inactive.
              type: boolean
              example: true
              nullable: true
            shareClassActivelyManagedFlag:
              description: >-
                Returns a binary indicator of whether the specified share class
                is actively managed, where 1 is active and 0 is inactive.
              type: boolean
              example: true
              nullable: true
            shareClassCurrency:
              description: >-
                The currency for the specified share class. ISO3 Currency. For a
                list of currency ISO codes, visit Online Assistant Page
                [OA1470](https://my.apps.factset.com/oa/pages/1470)'
              type: string
              example: USD
              nullable: true
            isOldestShareClass:
              type: boolean
              nullable: true
              example: true
              description: >-
                Returns a flag to indicate whether the specified ID is the
                oldest share class. Data is returned for Mutual Funds only.
            descInfo:
              description: >-
                The Fund's Investment Strategy short description.  For the
                long-form description, see `insight`.
              type: string
              example: >-
                The investment objective of the BlackRock Basic Value Fund, Inc.
                (the Fund) is to seek capital appreciation and, secondarily,
                income by investing in securities, primarily equity securities,
                that management of the Fund believes are undervalued and
                therefore represent basic investment value.
              nullable: true
            priceFirstDate:
              description: >-
                The fund's first available date for prices (NAV) in YYYY-MM-DD
                format. This can be used to fetch the first available price from
                FactSet. *NOTE: This is not the inception date of fund.*
              type: string
              format: date
              example: '2025-04-18'
              nullable: true
            priceRecentDate:
              description: >-
                The fund's most recent available date for prices (NAV) in
                YYYY-MM-DD format.
              type: string
              format: date
              example: '2026-03-26'
            insight:
              description: >-
                The fund's investment strategy long description. Use `descInfo`
                if needing short description.
              type: string
              example: >
                AGG`s all-in cost is low and more predictable than its rivals.
                In a segment where there are a handful of similar funds tracking
                essentially the same underlying index, holding and trading costs
                are the driving factors. AGG delivers its underlying index`s
                returns with precision and consistency. The fund also has a
                history of massive trading volume and tight spreads. AGG tracks
                our segment benchmark, providing excellent exposure to the US
                investment-grade bond market. Note that the fund employs a
                careful optimization strategy, holding just a fraction of the
                names in its index, a near-necessity among bond-market ETFs.
              nullable: true
            legalStructure:
              description: >-
                The legal structure of the fund, e.g. Open-Ended Fund,
                close-ended fund
              type: string
              example: Open-Ended Fund
              nullable: true
            inceptionDate:
              description: The fund's inception date in YYYY-MM-DD format.
              type: string
              format: date
              example: '1977-07-01'
              nullable: true
            shareClassLaunchDate:
              description: >-
                The specified share class's inception date in YYYY-MM-DD format.
                Available only for Mutual Funds
              type: string
              format: date
              example: '1977-07-01'
              nullable: true
            primaryExchange:
              description: >-
                Returns exchange information for the fund.  Exchange Name is
                available for Mutual Funds and ETFs, returns a short-form
                exchange code (e.g., "NYSE"), rather than the full exchange
                name.
              type: string
              example: NYSE
              nullable: true
            webSite:
              description: The URL of the Fund.
              type: string
              example: >-
                https://www.blackrock.com/investing/products/227716/blackrock-basic-value-class-a-fund
              nullable: true
            webSiteShareClass:
              type: string
              description: URL of the share class webpage.
              example: >-
                https://www.blackrock.com/us/individual/products/227716/blackrock-Large%20Cap%20Focus-value-class-a-fund
              nullable: true
            backing:
              description: >-
                Returns selected ETF structure backing information. Data items
                available are ETF type, legal structure, and disclosures.
              type: string
              example: physical
              nullable: true
            syntheticType:
              description: >-
                Returns selected ETF structure information. Data items available
                are ETF type, legal structure, and disclosures.
              type: string
              example: ''
              nullable: true
            underlyingIndex:
              description: >-
                Returns the name of the fund's benchmark. Data is returned for
                both Mutual Funds and ETFs.
              type: string
              example: Russell 1000 Value
              nullable: true
            broadBasedIndex:
              description: >-
                Returns the index that represents the overall market applicable
                to the fund, providing a broad measure of market performance.
                Data is returned for both Mutual Funds and ETFs.
              type: string
              example: Russell 1000 Index - TR
              nullable: true
            narrowBenchmark:
              description: >-
                Returns the fund's narrow benchmark data. Narrow Benchmark
                returns the primary benchmark for an actively managed fund,
                reflecting the specific market in which the fund primarily
                invests. It is a more focused measure compared to a broad-based
                index, offering a closer alignment with the fund’s investment
                strategy
              type: string
              example: Russell 1000 Index - TR
              nullable: true
            additionalNarrowBenchmark:
              description: >
                Returns the fund's additional narrow benchmark data.

                Narrow Benchmark returns the primary benchmark for an actively
                managed fund, reflecting the specific market in which the fund
                primarily invests.

                Additional Narrow Benchmark returns an additional benchmark for
                an actively managed fund that measures performance within a
                specific market segment, providing a more detailed comparison
                than the primary benchmark.

                Data is returned for both Mutual Funds and ETFs.
              type: string
              nullable: true
              example: null
            fundObjective:
              description: >
                Returns the fund's objective long description.

                National language returns French translations for US Mutual
                Funds and US and Canadian ETFs.

                Data is returned for both Mutual Funds and ETFs.
              type: string
              nullable: true
              example: >
                Under normal circumstances, the Fund seeks to invest at least
                80% of its net assets plus the amount of any borrowings for
                investment purposes in large cap equity securities and
                derivatives that have similar economic characteristics to such
                securities. For purposes of the Fund’s 80% policy, large cap
                equity securities are equity securities that at the time of
                purchase have a market capitalization within the range of
                companies included in the Russell 1000® Value Index (the
                “Russell 1000 Value Index”). The Russell 1000 Value Index is a
                capitalization-weighted index from a broad range of industries
                chosen for market size, liquidity and industry group
                representation. Equity securities consist of common stock and
                preferred stock, other financial instruments that are components
                of, or have characteristics similar to, the securities included
                in the Russell 1000 Value Index, and American Depositary
                Receipts (“ADRs”), which are receipts typically issued by an
                American bank or trust company that evidence underlying
                securities issued by a foreign company. The Fund may also
                purchase conver tible securities. The Fund invests primarily in
                equity securities that Fund management believes are undervalued,
                which means that their prices are less than Fund management
                believes they are wor th. Fund management places par ticular
                emphasis on companies with below average price/earnings ratios
                that may pay above average dividends. The Fund invests primarily
                in common stock of U.S. companies, but the Fund may invest up to
                25% of its total assets in the securities of foreign
            dualPriced:
              description: >
                Returns true if the fund is based on "dual pricing". These unit
                trusts have an offer (buying) price and a bid (selling) price.

                In such cases, Net Asset Value (NAV) is substituted with either
                a bid, offer, or mid price, as provided by the fund issuer.

                Data is returned for Mutual Funds only.
              type: boolean
              nullable: true
              example: false
            currencyHedgedFrom:
              description: >
                Returns ETF currency hedge source currency. Part of ETF hedge
                information including: - currency hedged flag - currency hedged
                from - currency hedged into ISO3 Currency. For a list of
[...]
