openapi: 3.0.1
info:
  title: Tick History
  description: >

    <p>FactSet’s Tick History provides cost-effective access to real-time and
    delayed global exchange data. Proprietary technology normalizes over 200
    global exchanges and 19 tick history fields. Asset types integrated include
    equities, futures, options, fixed income, mutual funds, ETFs, indices,
    commodities, and FX rates.</p><p>Tick History provides dynamic access to
    tick data for a specific security intra-day or historically via standard
    HTTPS protocol. History is available for all quotes and trades for a
    trailing 6 months or 1-year, respectively. Quotes and trade data for Options
    is available for 30 days. Tick History data is also available in a separate
    end-of-day feed.</p>
     
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  license:
    name: Apache 3.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Data Service Manual
  url: >-
    https://www.factset.com/hubfs/Website_Downloads/Exchange%20DataFeed/data%20service%20manual%202.0b.pdf
servers:
  - url: https://api-sandbox.factset.com
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
paths:
  /TickHistory/history:
    get:
      tags:
        - Tick History
      summary: >-
        Tick History service returns trade data and associated quotes for a
        client specified interval and time period
      description: >-
        When using an HTTP GET request, the seach criteria is sent via the query
        string in the URL. Please make sure that all requests contain a date
        within the past trailing year. Fields are added using ampersands, with
        enumerations seperated by commas. <p>**Try it Out** - references a
        sandbox environment to simulate live reponses. Available `id` is limited
        to
        BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA.
        Current day data is not available.</p>
      operationId: get_TickHistory
      parameters:
        - name: id
          in: query
          description: >-
            Requested symbol or security. The symbol can be a FactSet exchange
            symbol, CUSIP, or SEDOL. **NOTE**: Only one identifier can be
            requested per request.<P>**TRY IT OUT** - Choose One from -
            BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA
          required: true
          schema:
            type: string
        - name: req_id
          in: query
          description: >-
            Request Identification String. Can be used by the application to
            keep track of requests.  The id is not used by this service,
            however, it is included in the XML response.
          schema:
            type: string
        - name: format
          in: query
          description: >-
            The format of the output file. **TRY IT OUT** Choose from JSON, CSV,
            CSV_NO_HEADER
          schema:
            type: string
            default: XML
            enum:
              - XML
              - JSON
              - CSV
              - CSV_NO_HEADER
        - name: fields
          in: query
          description: >-
            All available fields. This is a comma-seperated list (no spaces).
            See definitions for details. Default is all fields when left blank.
          schema:
            type: string
        - $ref: '#/components/parameters/sd'
        - name: ed
          in: query
          description: >-
            This is the end date for teh Snapshot History. Requests should be
            made in the format **YYYYMMDD**. If the period requested is larger
            than Max. Days requested, results will be limited to the Max Days
            starting at sd/date. Defautl is sd or date. **TRY IT OUT** Cannot
            use current day.
          schema:
            type: string
        - name: st
          in: query
          description: >-
            Requested start time. This is the start time for the snapshot
            history requested. Requests should be made in a **HHMMSSS** format.
            Range from 000000 - 235959. **TRY IT OUT** Cannot use current day.
          schema:
            type: string
            default: '040000'
        - name: et
          in: query
          description: >-
            Requested end time. This is the end time for the snapshot history
            requested. Requests should be made in a **HHMMSSS** format. Range
            from 000000 - 235959. **TRY IT OUT** Cannot use current day.
          schema:
            type: string
            default: '200000'
        - name: interval
          in: query
          description: >-
            Requested time interval. This is the interval the data is returned
            from the service. Possible values from 1 Second (1S) to 1 Hour (1H).
            A maximum of 10 Tick History Requests and a maximum of 100,000 rows
            of data may be made in any one-minute period. Additional
            subsctiption is available to access 20 requests/200,000 rows of data
            per minute. Contact your FactSet team for details.
          schema:
            type: string
            default: 1M
            enum:
              - '0'
              - 1S
              - 5S
              - 10S
              - 15S
              - 30S
              - 1M
              - 2M
              - 5M
              - 10M
              - 15M
              - 30M
              - 1H
        - name: include_request
          in: query
          description: Flag to include request id and key in the CSV output.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - T
              - 'false'
              - F
        - name: dataset
          in: query
          description: >-
            Decides what type of trades to return, default is all trades and
            quotes, alternatively charting can be selected which will filter out
            unofficial trades.
          schema:
            type: string
            enum:
              - ''
              - charting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example:
                Request ID: ''
                Requested Symbol: IBM-USA
                Requested Fields: LAST_1,LAST_TIME_1,LAST_VOL_1
                Request Key: 5C8926159C36F315
                Error Code: 0
                Error Description: ''
                Field Names:
                  - LAST_1
                  - LAST_TIME_1
                  - LAST_VOL_1
                Field IDs:
                  - 300
                  - 302
                  - 304
                Key: IBM-USA:D
                Values:
                  - - 139.59
                    - 105955785
                    - 326658
                  - - 138.1872
                    - 115957067
                    - 444631
                  - - 137.4711
                    - 125957913
                    - 477766
                  - - 137.7599
                    - 135956519
                    - 252993
                  - - 137.81
                    - 140059812
                    - 4595
            application/xml:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >-
                <Response><Request
                id=""><RequestedSymbol>IBM-USA</RequestedSymbol><RequestedFields>LAST_1,LAST_TIME_1,LAST_VOL_1</RequestedFields><RequestKey>5C89235E1E3D65AE</RequestKey></Request><Error
                code="0" description=""/><Records req_sym="IBM-USA"
                key="IBM-USA:D" stale=""><Record><Fields><Field id="300"
                name="LAST_1" value="145.96"/><Field id="302" name="LAST_TIME_1"
                value="105959029"/><Field id="304" name="LAST_VOL_1"
                value="638559"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.95"/><Field id="302"
                name="LAST_TIME_1" value="115956985"/><Field id="304"
                name="LAST_VOL_1"
                value="359625"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.82"/><Field id="302"
                name="LAST_TIME_1" value="125955145"/><Field id="304"
                name="LAST_VOL_1"
                value="280630"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.74"/><Field id="302"
                name="LAST_TIME_1" value="135955094"/><Field id="304"
                name="LAST_VOL_1"
                value="256692"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.815"/><Field id="302"
                name="LAST_TIME_1" value="140055430"/><Field id="304"
                name="LAST_VOL_1"
                value="12274"/></Fields></Record></Records></Response>
            text/csv:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >
                LAST_1,LAST_TIME_1,LAST_VOL_1 139.59,105955785,326658
                138.1872,115957067,444631 137.4711,125957913,477766
                137.7599,135956519,252993 137.81,140059812,4595
        '401':
          description: >-
            Access Denied. The user is not authorized to view the data
            requested. Contact FactSet Consulting Services for assistance.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '403':
          description: >-
            Invalid HTTP URL. Necessary query parameters are missing in the
            request. The description field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '405':
          description: >-
            Invalid HTTP method. Either the method is not GET or exceeds the
            maximum request lenght (currently set at 5000 bytes. The description
            field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
  /TickHistory/firsttrade:
    get:
      tags:
        - First Trade
      summary: >-
        Request returns data for the first trade (official and unofficial) after
        the specified time
      description: ''
      parameters:
        - name: id
          in: query
          description: >-
            Requested symbol or security. The symbol can be a FactSet exchange
            symbol, CUSIP, or SEDOL. **NOTE**: Only one identifier can be
            requested per request.<P>**TRY IT OUT** - Choose One from -
            BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA
          required: true
          schema:
            type: string
        - name: req_id
          in: query
          description: >-
            Request Identification String. Can be used by the application to
            keep track of requests. The id is not used by this service, however,
            it is included in the XML response.
          required: false
          schema:
            type: string
        - name: start_date
          in: query
          description: >-
            This is the start date for the Snapshot History. Requests should be
            made in the format YYYYMMDD Default is current business day. Field
            can be sd or date. TRY IT OUT Cannot use current day.
          schema:
            type: string
        - name: start_time
          in: query
          description: >-
            This is the start time for the snapshot history requested. Requests
            should be made in a **HHMMSSS** format.Range from 000000 - 235959.
            **TRY IT OUT** Cannot use current day
          schema:
            type: string
            default: '040000'
        - name: format
          in: query
          description: >-
            The format of the output file. TRY IT OUT Choose from JSON, CSV,
            CSV_NO_HEADER
          schema:
            type: string
            default: XML
            enum:
              - XML
              - JSON
              - CSV
              - CSV_NO_HEADER
        - name: include_request
          in: query
          description: Flag to include request id and key in the CSV output.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - T
              - 'false'
              - F
        - name: dataset
          in: query
          description: >-
            Decides what type of trades to return, default is all trades and
            quotes, alternatively charting can be selected which will filter out
            unofficial trades.
          schema:
            type: string
            enum:
              - ''
              - charting
      responses:
        '200':
          description: OK  x
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example:
                Request ID: ''
                Requested Symbol: IBM-USA
                Requested Fields: LAST_1,LAST_TIME_1,LAST_VOL_1
                Request Key: 5C8926159C36F315
                Error Code: 0
                Error Description: ''
                Field Names:
                  - LAST_1
                  - LAST_TIME_1
                  - LAST_VOL_1
                Field IDs:
                  - 300
                  - 302
                  - 304
                Key: IBM-USA:D
                Values:
                  - - 139.59
                    - 105955785
                    - 326658
                  - - 138.1872
                    - 115957067
                    - 444631
                  - - 137.4711
                    - 125957913
                    - 477766
                  - - 137.7599
                    - 135956519
                    - 252993
                  - - 137.81
                    - 140059812
                    - 4595
            application/xml:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >-
                <Response><Request
                id=""><RequestedSymbol>IBM-USA</RequestedSymbol><RequestedFields>LAST_1,LAST_TIME_1,LAST_VOL_1</RequestedFields><RequestKey>5C89235E1E3D65AE</RequestKey></Request><Error
                code="0" description=""/><Records req_sym="IBM-USA"
                key="IBM-USA:D" stale=""><Record><Fields><Field id="300"
                name="LAST_1" value="145.96"/><Field id="302" name="LAST_TIME_1"
                value="105959029"/><Field id="304" name="LAST_VOL_1"
                value="638559"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.95"/><Field id="302"
                name="LAST_TIME_1" value="115956985"/><Field id="304"
                name="LAST_VOL_1"
                value="359625"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.82"/><Field id="302"
                name="LAST_TIME_1" value="125955145"/><Field id="304"
                name="LAST_VOL_1"
                value="280630"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.74"/><Field id="302"
                name="LAST_TIME_1" value="135955094"/><Field id="304"
                name="LAST_VOL_1"
                value="256692"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.815"/><Field id="302"
                name="LAST_TIME_1" value="140055430"/><Field id="304"
                name="LAST_VOL_1"
                value="12274"/></Fields></Record></Records></Response>
            text/csv:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >
                LAST_1,LAST_TIME_1,LAST_VOL_1 139.59,105955785,326658
                138.1872,115957067,444631 137.4711,125957913,477766
                137.7599,135956519,252993 137.81,140059812,4595
        '401':
          description: >-
            Access Denied. The user is not authorized to view the data
            requested. Contact FactSet Consulting Services for assistance.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '403':
          description: >-
            Invalid HTTP URL. Necessary query parameters are missing in the
            request. The description field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '405':
          description: >-
            Invalid HTTP method. Either the method is not GET or exceeds the
            maximum request lenght (currently set at 5000 bytes. The description
            field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
  /TickHistory/lasttrade:
    get:
      tags:
        - Last Trade
      summary: >-
        Request returns data for the last trade and associated quotes before the
        specified time
      description: ''
      parameters:
        - name: id
          in: query
          description: >-
            Requested symbol or security. The symbol can be a FactSet exchange
            symbol, CUSIP, or SEDOL. **NOTE**: Only one identifier can be
            requested per request.<P>**TRY IT OUT** - Choose One from -
            BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: >-
            The format of the output file. TRY IT OUT Choose from JSON, CSV,
            CSV_NO_HEADER
          schema:
            type: string
            default: XML
            enum:
              - XML
              - JSON
              - CSV
              - CSV_NO_HEADER
        - name: date
          in: query
          description: >-
            Request should be made in the format **YYYYMMDD**. The initial
            release only supports requests from completed trading days
          schema:
            type: string
        - name: time
          in: query
          description: >-
            Request should be made in the format **HHMMSS**.HH- Hour, MM-
            Minutes, SSS- Seconds
          schema:
            type: string
      responses:
        '200':
          description: OK  x
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example:
                Request ID: ''
                Requested Symbol: IBM-USA
                Requested Fields: LAST_1,LAST_TIME_1,LAST_VOL_1
                Request Key: 5C8926159C36F315
                Error Code: 0
                Error Description: ''
                Field Names:
                  - LAST_1
                  - LAST_TIME_1
                  - LAST_VOL_1
                Field IDs:
                  - 300
                  - 302
                  - 304
                Key: IBM-USA:D
                Values:
                  - - 139.59
                    - 105955785
                    - 326658
                  - - 138.1872
                    - 115957067
                    - 444631
                  - - 137.4711
                    - 125957913
                    - 477766
                  - - 137.7599
                    - 135956519
                    - 252993
                  - - 137.81
                    - 140059812
                    - 4595
            application/xml:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >-
                <Response><Request
                id=""><RequestedSymbol>IBM-USA</RequestedSymbol><RequestedFields>LAST_1,LAST_TIME_1,LAST_VOL_1</RequestedFields><RequestKey>5C89235E1E3D65AE</RequestKey></Request><Error
                code="0" description=""/><Records req_sym="IBM-USA"
                key="IBM-USA:D" stale=""><Record><Fields><Field id="300"
                name="LAST_1" value="145.96"/><Field id="302" name="LAST_TIME_1"
                value="105959029"/><Field id="304" name="LAST_VOL_1"
                value="638559"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.95"/><Field id="302"
                name="LAST_TIME_1" value="115956985"/><Field id="304"
                name="LAST_VOL_1"
                value="359625"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.82"/><Field id="302"
                name="LAST_TIME_1" value="125955145"/><Field id="304"
                name="LAST_VOL_1"
                value="280630"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.74"/><Field id="302"
                name="LAST_TIME_1" value="135955094"/><Field id="304"
                name="LAST_VOL_1"
                value="256692"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.815"/><Field id="302"
                name="LAST_TIME_1" value="140055430"/><Field id="304"
                name="LAST_VOL_1"
                value="12274"/></Fields></Record></Records></Response>
            text/csv:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >
                LAST_1,LAST_TIME_1,LAST_VOL_1 139.59,105955785,326658
                138.1872,115957067,444631 137.4711,125957913,477766
                137.7599,135956519,252993 137.81,140059812,4595
        '401':
          description: >-
            Access Denied. The user is not authorized to view the data
            requested. Contact FactSet Consulting Services for assistance.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '403':
          description: >-
            Invalid HTTP URL. Necessary query parameters are missing in the
            request. The description field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '405':
          description: >-
            Invalid HTTP method. Either the method is not GET or exceeds the
            maximum request lenght (currently set at 5000 bytes. The description
            field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
  /TickHistory/qat:
    get:
      tags:
        - Quote at Time
      summary: Request returns a quote at the specified time
      description: ''
      parameters:
        - name: id
          in: query
          description: >-
            Requested symbol or security. The symbol can be a FactSet exchange
            symbol, CUSIP, or SEDOL. **NOTE**: Only one identifier can be
            requested per request.<P>**TRY IT OUT** - Choose One from -
            BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: >-
            Request should be made in the format **YYYYMMDD**. The initial
            release only supports requests from completed trading days
          schema:
            type: string
        - name: time
          in: query
          description: >-
            Request should be made in the format **HHMMSSS**.HH- Hour, MM-
            Minutes, SS- Seconds
          schema:
            type: string
        - name: format
          in: query
          description: >-
            The format of the output file. TRY IT OUT Choose from JSON, CSV,
            CSV_NO_HEADER
          schema:
            type: string
            default: XML
            enum:
              - XML
              - JSON
              - CSV
              - CSV_NO_HEADER
      responses:
        '200':
          description: OK  x
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example:
                Request ID: ''
                Requested Symbol: IBM-USA
                Requested Fields: LAST_1,LAST_TIME_1,LAST_VOL_1
                Request Key: 5C8926159C36F315
                Error Code: 0
                Error Description: ''
                Field Names:
                  - LAST_1
                  - LAST_TIME_1
                  - LAST_VOL_1
                Field IDs:
                  - 300
                  - 302
                  - 304
                Key: IBM-USA:D
                Values:
                  - - 139.59
                    - 105955785
                    - 326658
                  - - 138.1872
                    - 115957067
                    - 444631
                  - - 137.4711
                    - 125957913
                    - 477766
                  - - 137.7599
                    - 135956519
                    - 252993
                  - - 137.81
                    - 140059812
                    - 4595
            application/xml:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >-
                <Response><Request
                id=""><RequestedSymbol>IBM-USA</RequestedSymbol><RequestedFields>LAST_1,LAST_TIME_1,LAST_VOL_1</RequestedFields><RequestKey>5C89235E1E3D65AE</RequestKey></Request><Error
                code="0" description=""/><Records req_sym="IBM-USA"
                key="IBM-USA:D" stale=""><Record><Fields><Field id="300"
                name="LAST_1" value="145.96"/><Field id="302" name="LAST_TIME_1"
                value="105959029"/><Field id="304" name="LAST_VOL_1"
                value="638559"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.95"/><Field id="302"
                name="LAST_TIME_1" value="115956985"/><Field id="304"
                name="LAST_VOL_1"
                value="359625"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.82"/><Field id="302"
                name="LAST_TIME_1" value="125955145"/><Field id="304"
                name="LAST_VOL_1"
                value="280630"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.74"/><Field id="302"
                name="LAST_TIME_1" value="135955094"/><Field id="304"
                name="LAST_VOL_1"
                value="256692"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.815"/><Field id="302"
                name="LAST_TIME_1" value="140055430"/><Field id="304"
                name="LAST_VOL_1"
                value="12274"/></Fields></Record></Records></Response>
            text/csv:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >
                LAST_1,LAST_TIME_1,LAST_VOL_1 139.59,105955785,326658
                138.1872,115957067,444631 137.4711,125957913,477766
                137.7599,135956519,252993 137.81,140059812,4595
        '401':
          description: >-
            Access Denied. The user is not authorized to view the data
            requested. Contact FactSet Consulting Services for assistance.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '403':
          description: >-
            Invalid HTTP URL. Necessary query parameters are missing in the
            request. The description field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '405':
          description: >-
            Invalid HTTP method. Either the method is not GET or exceeds the
            maximum request lenght (currently set at 5000 bytes. The description
            field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
  /TickHistory/tradesattime:
    get:
      tags:
        - Trades at Time
      summary: >-
        Request returns the before and after trade data along with the
        associated quotes for the specified time
      description: ''
      parameters:
        - name: id
          in: query
          description: >-
            Requested symbol or security. The symbol can be a FactSet exchange
            symbol, CUSIP, or SEDOL. **NOTE**: Only one identifier can be
            requested per request.<P>**TRY IT OUT** - Choose One from -
            BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA
          required: true
          schema:
            type: string
        - name: req_id
          in: query
          description: >-
            Request Identification String. Can be used by the application to
            keep track of requests. The id is not used by this service, however,
            it is included in the XML response.
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: >-
            The format of the output file. TRY IT OUT Choose from JSON, CSV,
            CSV_NO_HEADER
          schema:
            type: string
            default: XML
            enum:
              - XML
              - JSON
              - CSV
              - CSV_NO_HEADER
        - name: date
          in: query
          description: >-
            Request should be made in the format **YYYYMMDD**. The initial
            release only supports requests from completed trading days
          schema:
            type: string
        - name: time
          in: query
          description: >-
            Request should be made in the format **HHMMSSS**.HH- Hour, MM-
            Minutes, SS- Seconds
          schema:
            type: string
      responses:
        '200':
          description: OK  x
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example:
                Request ID: ''
                Requested Symbol: IBM-USA
                Requested Fields: LAST_1,LAST_TIME_1,LAST_VOL_1
                Request Key: 5C8926159C36F315
                Error Code: 0
                Error Description: ''
                Field Names:
                  - LAST_1
                  - LAST_TIME_1
                  - LAST_VOL_1
                Field IDs:
                  - 300
                  - 302
                  - 304
                Key: IBM-USA:D
                Values:
                  - - 139.59
                    - 105955785
                    - 326658
                  - - 138.1872
                    - 115957067
                    - 444631
                  - - 137.4711
                    - 125957913
                    - 477766
                  - - 137.7599
                    - 135956519
                    - 252993
                  - - 137.81
                    - 140059812
                    - 4595
            application/xml:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >-
                <Response><Request
                id=""><RequestedSymbol>IBM-USA</RequestedSymbol><RequestedFields>LAST_1,LAST_TIME_1,LAST_VOL_1</RequestedFields><RequestKey>5C89235E1E3D65AE</RequestKey></Request><Error
                code="0" description=""/><Records req_sym="IBM-USA"
                key="IBM-USA:D" stale=""><Record><Fields><Field id="300"
                name="LAST_1" value="145.96"/><Field id="302" name="LAST_TIME_1"
                value="105959029"/><Field id="304" name="LAST_VOL_1"
                value="638559"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.95"/><Field id="302"
                name="LAST_TIME_1" value="115956985"/><Field id="304"
                name="LAST_VOL_1"
                value="359625"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.82"/><Field id="302"
                name="LAST_TIME_1" value="125955145"/><Field id="304"
                name="LAST_VOL_1"
                value="280630"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.74"/><Field id="302"
                name="LAST_TIME_1" value="135955094"/><Field id="304"
                name="LAST_VOL_1"
                value="256692"/></Fields></Record><Record><Fields><Field
                id="300" name="LAST_1" value="145.815"/><Field id="302"
                name="LAST_TIME_1" value="140055430"/><Field id="304"
                name="LAST_VOL_1"
                value="12274"/></Fields></Record></Records></Response>
            text/csv:
              schema:
                $ref: '#/components/schemas/tickhistory_response'
              example: >
                LAST_1,LAST_TIME_1,LAST_VOL_1 139.59,105955785,326658
                138.1872,115957067,444631 137.4711,125957913,477766
                137.7599,135956519,252993 137.81,140059812,4595
        '401':
          description: >-
            Access Denied. The user is not authorized to view the data
            requested. Contact FactSet Consulting Services for assistance.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '403':
          description: >-
            Invalid HTTP URL. Necessary query parameters are missing in the
            request. The description field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
        '405':
          description: >-
            Invalid HTTP method. Either the method is not GET or exceeds the
            maximum request lenght (currently set at 5000 bytes. The description
            field will indicate the exact reason.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/csv:
              schema:
                type: object
components:
  schemas:
    fields:
      type: object
      properties:
        BID_1:
          type: number
          description: 'The last bid price or last bid price in an interval. FID # 100'
          format: float
        BID_VOL_1:
          type: integer
          description: 'The volume of the last bid in an interval. FID # 104'
        BID_EXCH_1:
          type: string
          description: >-
            The volume of the last bid or last bid in an interval. FID # 107.
            Enumeration Table 7
        ASK_1:
          type: number
          description: 'The last ask price or last ask price in an interval. FID # 200'
          format: float
        ASK_VOL_1:
          type: integer
          description: 'The volume of the last ask or last ask in an interval. FID # 204'
        ASK_EXCH_1:
          type: string
          description: >-
            The exchange of the last ask or last ask in an interval. FID # 207.
            Enumeration Table 7.
        LAST_1:
          type: number
          description: 'The last trade price or last trade price in an interval. FID # 300'
          format: float
        LAST_DATE_1:
          type: string
          description: 'The date of the last trade or last trade in an interval. FID # 301'
        LAST_TIME_1:
          type: string
          description: 'The time of the last trade or last trade in an interval. FID # 302'
        LAST_VOL_1:
          type: integer
          description: >-
            The trade volume, or the sum of all trade volumes inside a bin. FID
            # 304
        LAST_EXCH_1:
          type: string
          description: >-
            The exchange of the last trade or last trade in an interval. FID #
            307. Enumeration Table 7
        CUM_VOL:
          type: integer
          description: >-
            The symbol's daily cumulative volume, or the last cumulative volume
            in an interval. FID # 601
        VWAP:
          type: number
          description: >-
            The daily volume weighted average price, or the last VWAP in an
            interval. FID # 603
          format: float
        OPEN_1:
          type: number
          description: 'The first trade of an interval. FID # 710'
          format: float
        HIGH_1:
          type: number
          description: 'The highest trade price in an interval. FID # 720'
          format: float
        LOW_1:
          type: number
          description: 'The lowest trade price in an interval. FID # 723'
          format: float
        TRADE_CONDITION:
          type: string
          description: 'Trade Condition. FID # 2709'
        GMT_OFFSET:
          type: integer
          description: 'GMT Offset in Minutes. FID # 2037'
        PRICE_CURRENCY:
          type: string
          description: 'Price Currency Code. FID # 2032'
      description: All available fields in service. FID = Field ID Number.
    tickhistory_response:
      type: object
      properties:
        Requested ID:
          type: string
          description: Request Identification String.
          example: ''
        Requested Symbol:
          type: string
          description: Single Requested Symbol or Security.
          example: IBM-USA
        Requested Fields:
          type: array
          description: 'Array of requested fields '
          example: LAST_1,LAST_TIME_1,LAST_VOL_1
          items:
            $ref: '#/components/schemas/fields'
        Request Key:
          type: string
          example: 5C8926159C36F315
        Error Code:
          type: string
          example: '0'
        Error Description:
          type: string
          description: Brief description of error response. Blank if successful.
          example: ''
        Field Names:
          type: string
          description: Requested Field Names
          example: ''
        Field IDs:
          type: number
          description: Requested Field ID numbers 'FID'. Found in Data Service Manual.
        Key:
          type: string
          description: Requested Symbol Key, where :D represented delayed data.
          example: IBM-USA:D
        Values:
          type: number
          description: >-
            Array of field values. Each value is returned for requested interval
            query.
      description: response for tick history
    intervals:
      title: intervals
      type: object
      properties:
        '0':
          type: string
          description: Every Tick. Max days requested = 1
        1S:
          type: string
          description: 1 Second. Max days requested = 1
        5S:
          type: string
          description: 5 Seconds. Max days requested = 1
        10S:
          type: string
          description: 10 Seconds. Max days requested = 1
        15S:
          type: string
          description: 15 Seconds. Max days requested = 1
        30S:
          type: string
          description: 30 Seconds. Max days requested = 15
        1M:
          type: string
          description: 1 Minute. Max days requested = 30
        2M:
          type: string
          description: 2 Minutes. Max days requested = 60
        5M:
          type: string
          description: 5 Minutes. Max days requested = 60
        10M:
          type: string
          description: 10 Minutes. Max days requested = 60
        15M:
          type: string
          description: 15 Minutes. Max days requested = 60
        30M:
          type: string
          description: 30 Minutes. Max days requested = 60
        1H:
          type: string
          description: 1 Hour. Max days requested = 60
    specialfield:
      title: special field values
      type: object
      properties:
        NF:
          type: string
          description: >-
            **#NF#** - Not found. The requested symbol could not be found by the
            service.
        NA:
          type: object
          description: >-
            **#NA#** - Not Applicable. The requested field could not be found
            for the requested symbol. This usually means that the field is not
            applicable for this type of record.
  parameters:
    req_id:
      name: req_id
      in: query
      description: >-
        Request Identification String. Can be used by the application to keep
        track of requests.  The id is not used by this service, however, it is
        included in the XML response.
      schema:
        type: string
    format:
      name: format
      in: query
      description: >-
        The format of the output file. **TRY IT OUT** Choose from JSON, CSV,
        CSV_NO_HEADER
      schema:
        type: string
        default: XML
        enum:
          - XML
          - JSON
          - CSV
          - CSV_NO_HEADER
    id:
      name: id
      in: query
      description: >-
        Requested symbol or security. The symbol can be a FactSet exchange
        symbol, CUSIP, or SEDOL. **NOTE**: Only one identifier can be requested
        per request.<P>**TRY IT OUT** - Choose One from -
        BABA-USA,WALMEX-MX,7203-TKS,VOD-LON,NPN-JSE,MABAX,NZF,SPY-USA,AGG-USA,GLD-USA,AOR-USA,MNA-USA,UUP-USA,SP50-SPX,ESX-STX,XAO-ASX,WD-MSX,NG00-USA,GC00-USA,CC00-USA,C00-USA,FC00-USA,ER00-USA,EURUSD-FX1,USDMXN-FX1,AUDJPY-FX1,EURCZK-FX1,USDILS-FX1,USDZAR-FX1,US10YY-TU1,FDS#190621C00145000-USA,FDS#190621P00145000-USA
      required: true
      schema:
        type: string
    fields:
      name: fields
      in: query
      description: >-
        All available fields. This is a comma-seperated list (no spaces). See
        definitions for details. Default is all fields when left blank.
      schema:
        type: string
    sd:
      name: sd
      in: query
      description: >-
        This is the start date for the Snapshot History. Requests should be made
        in the format **YYYYMMDD**. Default is current business day. Field can
        be sd or date. **TRY IT OUT** Cannot use current day.
      schema:
        type: string
    ed:
      name: ed
      in: query
      description: >-
        This is the end date for teh Snapshot History. Requests should be made
        in the format **YYYYMMDD**. If the period requested is larger than Max.
        Days requested, results will be limited to the Max Days starting at
        sd/date. Defautl is sd or date. **TRY IT OUT** Cannot use current day.
      schema:
        type: string
    st:
      name: st
      in: query
      description: >-
        Requested start time. This is the start time for the snapshot history
        requested. Requests should be made in a **HHMMSSS** format. Range from
        000000 - 235959. **TRY IT OUT** Cannot use current day.
      schema:
        type: string
        default: '040000'
    et:
      name: et
      in: query
      description: >-
        Requested end time. This is the end time for the snapshot history
        requested. Requests should be made in a **HHMMSSS** format. Range from
        000000 - 235959. **TRY IT OUT** Cannot use current day.
      schema:
        type: string
        default: '200000'
    interval:
      name: interval
      in: query
      description: >-
        Requested time interval. This is the interval the data is returned from
        the service. Possible values from 1 Second (1S) to 1 Hour (1H). A
        maximum of 10 Tick History Requests and a maximum of 100,000 rows of
        data may be made in any one-minute period. Additional subsctiption is
        available to access 20 requests/200,000 rows of data per minute. Contact
        your FactSet team for details.
      schema:
        type: string
        default: 1M
        enum:
          - '0'
          - 1S
          - 5S
          - 10S
          - 15S
          - 30S
          - 1M
          - 2M
          - 5M
          - 10M
          - 15M
          - 30M
          - 1H
    include_request:
      name: include_request
      in: query
      description: Flag to include request id and key in the CSV output.
      schema:
        type: string
        default: 'false'
        enum:
          - 'true'
          - T
          - 'false'
          - F
    dataset:
      name: dataset
      in: query
      description: >-
        Decides what type of trades to return, default is all trades and quotes,
        alternatively charting can be selected which will filter out unofficial
        trades.
      schema:
        type: string
        enum:
          - ''
          - charting
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
