openapi: '3.0.0'
info:
  version: '1.0.0'
  title: 'FactSet Banks API'
  contact:
    name: 'FactSet Research Systems'
    email: 'api@factset.com'
    url: 'https://developer.factset.com/contact'
  license:
    name: 'Apache License, Version 2.0'
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  description: "The FactSet Banks API provides comprehensive banking industry data including regulatory financials, performance metrics, branch networks, and specialized reporting across US, Canadian, and Australian institutions.\n\n**Key Features:**\n- Multi-jurisdiction regulatory financials (US, Canada, Australia)\n- Unified endpoint structure for banks, credit unions, and specialty finance\n- UBPR performance metrics and peer group analysis\n- Branch and ATM location data with market share\n- Country exposure and risk metrics\n- Regulatory filings (10-D, UCC-1)\n- Deposit rates and specialty finance reporting\n"
externalDocs:
  description: 'API Documentation'
  url: 'https://developer.factset.com/api-catalog/factset-banks-api'
servers:
  - url: 'https://api.factset.com/content/factset-banks/v1'
    description: 'Production'
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
x-factset-sdk-has-main-example: true
tags:
  - name: 'Financials'
    description: 'Regulatory financial statements across jurisdictions (US, Canada, Australia)'
  - name: 'Branches'
    description: 'Branch and ATM locations with geographic data and market share'
  - name: 'UBPR Performance'
    description: 'UBPR ratios, performance metrics, and peer group analysis'
  - name: 'Exposure'
    description: 'Country exposure and risk concentration data (Form 009a)'
  - name: 'Filings'
    description: 'Regulatory filings including 10-D and UCC-1'
  - name: 'Deposit Rates'
    description: 'Deposit rates and product-level pricing data'
  - name: 'Specialty Finance'
    description: 'Form ADV (AUM) and FOCUS reports for specialty finance institutions'
  - name: 'Metrics'
    description: 'Metric definitions'
paths:
  /financials:
    post:
      tags:
        - 'Financials'
      summary: 'Returns bank financial statement data'
      x-factset-sdk-main-example: true
      operationId: 'getFinancials'
      description: "Returns regulatory financial statements for banks and financial institutions. Use the `coverage` field to specify the data source:\n\n* **US** — US banks, thrifts, and depository institutions (FFIEC/FDIC/Federal Reserve sources). Covers 11,000+ bank holding companies (forms FR Y-9C/SP/LP/15) and 10,000+ banking institutions (FFIEC 031/041/051/101/102), with history back to 1991 for BHCs and 2002 for institutions. Includes demographics (charter class, specialization, established and deposit-insurance dates) and 3,000+ metrics covering profitability, capital adequacy (Basel III), loan/deposit composition, asset quality, yields, and funding costs. Also includes industry aggregates for 800+ US banking institutions with annual, quarterly, LTM, and YTD data since 2010.\n* **CANADA** — Canadian banks regulated by OSFI. 148+ institutions; 800+ data items; history since 2017. Balance sheet data is updated monthly; supplementary reports (Capital Components, Credit Losses, Derivative Contracts, Foreign Bank Branch, Income Statement) are updated quarterly.\n* **AUSTRALIA** — Australian banks regulated by APRA. 100+ institutions, interim-period balance sheet data; LTM history since 2002; 30+ data items.\n* **CREDIT_UNION** — US credit unions regulated by NCUA. 5,800+ credit unions, quarterly data since 2017; 2,400+ data items.\n\nFind available metrics via [`/metrics`](#operation/getMetrics) with:\n\n* **category**: `FINANCIALS`\n* **subcategory**: `US`, `CANADA`, `AUSTRALIA`, `CREDIT_UNION`, `INDUSTRY`\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsRequest'
            examples:
              US Bank Request:
                $ref: '#/components/examples/FinancialsRequestUSBank'
              Canadian Bank Request:
                $ref: '#/components/examples/FinancialsRequestCanadianBank'
              Australian Bank Request:
                $ref: '#/components/examples/FinancialsRequestAustralianBank'
              Credit Union Request:
                $ref: '#/components/examples/FinancialsRequestCreditUnion'
      responses:
        '200':
          description: 'Successful response with financial statement data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsResponse'
              examples:
                US Bank Response:
                  $ref: '#/components/examples/FinancialsResponseUSBank'
                Canadian Bank Response:
                  $ref: '#/components/examples/FinancialsResponseCanadianBank'
                Australian Bank Response:
                  $ref: '#/components/examples/FinancialsResponseAustralianBank'
                Credit Union Response:
                  $ref: '#/components/examples/FinancialsResponseCreditUnion'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /branches:
    post:
      tags:
        - 'Branches'
      summary: 'Returns bank branch and location data'
      operationId: 'getBranches'
      description: "Returns branch and location data for banks and financial institutions. Use the `coverage` field to specify the data source:\n\n* **US** — FDIC-insured bank branches with branch counts and deposit market share by county, ZIP, and MSA. 85,000+ current branches across 9,000+ banks and BHCs. Sourced from the FDIC Summary of Deposits (annual) and Institutions and Locations (weekly). Current-only feed; deposit balances as of the most recent June 30.\n* **CREDIT_UNION** — US credit union branches and ATMs with service flags. 5,800+ credit unions, 21,000+ branches, and 17,000+ ATM addresses; reported quarterly since September 2022.\n* **AUSTRALIA** — Service channel locations with remoteness classifications. 149+ banks; 30,000+ branches, 47,000+ ATMs, 6,600+ other face-to-face, and 4.9M+ EFTPOS channels. Annual data as of June 30.\n* **GLOBAL** — Global bank branches and ATMs ex-US with country, region, city, lat/long, postal, and street details where available. 300,000+ banks, 800,000+ locations, 180+ countries. Current-only feed.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchesRequest'
            examples:
              US Bank Branches:
                $ref: '#/components/examples/BranchesRequestUSBank'
              Credit Union Branches:
                $ref: '#/components/examples/BranchesRequestCreditUnion'
              Australia Branches:
                $ref: '#/components/examples/BranchesRequestAustralia'
              Global Branches:
                $ref: '#/components/examples/BranchesRequestGlobal'
      responses:
        '200':
          description: 'Branch and location data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchesResponse'
              examples:
                US Bank Branches:
                  $ref: '#/components/examples/USBranchesResponseExample'
                Credit Union Branches:
                  $ref: '#/components/examples/CUBranchesResponseExample'
                Australia Bank Branches:
                  $ref: '#/components/examples/AustraliaBranchesResponseExample'
                Global Bank Branches:
                  $ref: '#/components/examples/GlobalBranchesResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /ubpr:
    post:
      tags:
        - 'UBPR Performance'
      summary: 'Returns UBPR performance metrics'
      operationId: 'getPerformance'
      description: "Returns Uniform Bank Performance Report (UBPR) metrics — financial ratios, peer group rankings, and performance analytics — sourced from FFIEC reports of condition and income (call reports). Supports analysis of earnings, liquidity, capital, asset/liability management, and growth across three data views: the bank's own data, peer group data (banks similar in size and economic environment), and percentile rankings.\n\nCovers 10,000+ insured commercial banks and FDIC-supervised savings banks across 249 peer groups. Quarterly history since 2002; 1,600+ data items.\n\nFind available metrics via [`/metrics`](#operation/getMetrics) with:\n\n* **category**: `PERFORMANCE`\n* **subcategory**: `UBPR`\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerformanceRequest'
            examples:
              UBPR Performance Request:
                $ref: '#/components/examples/PerformanceRequestExample'
      responses:
        '200':
          description: 'Performance metrics data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceResponse'
              examples:
                UBPR Performance - Peer Group Rankings:
                  $ref: '#/components/examples/PerformanceResponseExample'
                UBPR Performance - Institution Ratios:
                  $ref: '#/components/examples/PerformanceInstitutionResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /country-exposure:
    post:
      tags:
        - 'Exposure'
      summary: 'Returns country exposure data (Form 009a)'
      operationId: 'getCountryExposure'
      description: "Returns Form 009a country exposure data — the distribution by country of claims on foreigners held by US banks — for screening countries and assessing risks in US bank lending activities. Viewable by metric and by country.\n\nCovers ~100 US commercial banks; history since 2013. Updated quarterly.\n\nFind available metrics via [`/metrics`](#operation/getMetrics) with:\n\n* **category**: `EXPOSURE`\n* **subcategory**: `COUNTRY`\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExposureRequest'
            examples:
              Country Exposure Request:
                $ref: '#/components/examples/ExposureRequestExample'
      responses:
        '200':
          description: 'Country exposure data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExposureResponse'
              examples:
                Country Exposure:
                  $ref: '#/components/examples/ExposureResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /ten-d:
    post:
      tags:
        - 'Filings'
      summary: 'Returns Form 10-D distribution reports'
      operationId: 'getTenDFilings'
      description: "Returns SEC Form 10-D distribution reports for bank-issued asset-backed securities — pool performance and credit enhancement data including payments received, delinquencies, defaults, and cash flow distributions. Offers more frequent (monthly) insight into credit card receivables than 8-K/10-K filings.\n\nCovers credit cards (110 data items) and auto loans (254 data items). History since 2017. Updated monthly.\n\nFind available metrics via [`/metrics`](#operation/getMetrics) with:\n\n* **category**: `FILINGS`\n* **subcategory**: `TEN_D`\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenDFilingsRequest'
            examples:
              10-D Filing Request:
                $ref: '#/components/examples/Filings10DRequestExample'
      responses:
        '200':
          description: '10-D filing data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filings10DResponse'
              examples:
                10-D Filing:
                  $ref: '#/components/examples/Filings10DResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /ucc1:
    post:
      tags:
        - 'Filings'
      summary: 'Returns UCC-1 filings data'
      operationId: 'getUcc1Filings'
      description: "Returns UCC-1 financing statement filings — notices filed by creditors of an interest in a debtor's personal property. Includes secured party (banking institution), debtor name, and filing details such as expiration date.\n\nCovers 4,500+ banking institutions; history since 2002. Updated monthly.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ucc1FilingsRequest'
            examples:
              UCC-1 Filing Request:
                $ref: '#/components/examples/FilingsUCC1RequestExample'
      responses:
        '200':
          description: 'UCC-1 filing data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingsUCC1Response'
              examples:
                UCC-1 Filing:
                  $ref: '#/components/examples/FilingsUCC1ResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /deposit-rates:
    post:
      tags:
        - 'Deposit Rates'
      summary: 'Returns deposit rates'
      operationId: 'getRates'
      description: "Returns current and historical deposit rates from US banks and credit unions — APY, previous APY, national APY averages, terms, and minimum balances — across CD, Savings, Interest Checking, Money Market, Fixed IRA, and Variable IRA products. Identifies where banks offer better rates than geographic competitors.\n\nCovers 500+ financial institutions (US banks, credit unions, internet banks); 40+ data items.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatesRequest'
            examples:
              Deposit Rates Request:
                $ref: '#/components/examples/RatesRequestExample'
      responses:
        '200':
          description: 'Deposit rates data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatesResponse'
              examples:
                Deposit Rates:
                  $ref: '#/components/examples/RatesResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /aum:
    post:
      tags:
        - 'Specialty Finance'
      summary: 'Returns Form ADV AUM data'
      operationId: 'getAUM'
      description: "Returns SEC Form ADV assets under management data for investment advisers — 19,000+ public and private US companies, wealth managers, traditional asset managers, private equity hedge funds, and Business Development Companies (BDCs). BDC coverage includes 120+ companies with annual history since 2014.\n\nForm ADV history since 2017. Updated annually.\n\nFind available metrics via [`/metrics`](#operation/getMetrics) with:\n\n* **category**: `FINANCIALS`\n* **subcategory**: `SPECIALTY_FINANCE`\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AUMRequest'
            examples:
              AUM Request:
                $ref: '#/components/examples/AUMRequestExample'
      responses:
        '200':
          description: 'Form ADV AUM data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AUMResponse'
              examples:
                Form ADV AUM:
                  $ref: '#/components/examples/AUMResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /focus:
    post:
      tags:
        - 'Specialty Finance'
      summary: 'Returns FOCUS report data'
      operationId: 'getFOCUS'
      description: "Returns FOCUS report financial data for SEC-registered broker-dealers, derived from Form X-17A-5 — income statement, balance sheet, and net capital data covering financial and operating status.\n\nCovers 3,000+ broker-dealers; 300+ data items; history since 2015. Updated annually.\n\nIncome statement data is rarely reported by filers, so it is expected that users will see income statement values populated infrequently.\n\nFind available metrics via [`/metrics`](#operation/getMetrics) with:\n\n* **category**: `FINANCIALS`\n* **subcategory**: `SPECIALTY_FINANCE`\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FOCUSRequest'
            examples:
              FOCUS Request:
                $ref: '#/components/examples/FOCUSRequestExample'
      responses:
        '200':
          description: 'FOCUS report data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FOCUSResponse'
              examples:
                FOCUS Report:
                  $ref: '#/components/examples/FOCUSResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
  /metrics:
    get:
      tags:
        - 'Metrics'
      summary: 'Returns available metrics and their definitions'
      operationId: 'getMetrics'
      description: "Returns list of available metrics that can be used in the metrics parameter of related endpoints.\n\nUse this endpoint to discover available financial metrics, their definitions, and metadata. Filter by category and subcategory to narrow results.\n\n**For methodology definitions**, reference the `oaPageId` or `oaUrl` response items to launch the available methodology page.\n"
      parameters:
        - name: 'searchText'
          in: 'query'
          required: false
          schema:
            type: 'string'
          description: "Free-text search to filter metrics whose metric code or description contains the supplied text. Case-insensitive partial matching.\n"
          example: 'return on assets'
        - name: 'category'
          in: 'query'
          required: false
          schema:
            type: 'string'
            enum:
              - 'FINANCIALS'
              - 'FILINGS'
              - 'PERFORMANCE'
              - 'EXPOSURE'
          description: "Filter metrics by major category:\n- **FINANCIALS** - Financial statement data, demographics, and core institution identifiers (US, Canada, Australia, Credit Union, Industry, Specialty Finance). Endpoint: `/financials`, `/aum`, `/focus`\n- **FILINGS** - Regulatory filing data (10-D). Endpoint: `/ten-d`\n- **PERFORMANCE** - Uniform Bank Performance Report (UBPR) metrics. Endpoint: `/ubpr`\n- **EXPOSURE** - Country exposure data (Form 009a). Endpoint: `/country-exposure`\n"
        - name: 'subcategory'
          in: 'query'
          required: false
          schema:
            type: 'string'
            enum:
              - 'US'
              - 'CANADA'
              - 'AUSTRALIA'
              - 'CREDIT_UNION'
              - 'INDUSTRY'
              - 'SPECIALTY_FINANCE'
              - 'TEN_D'
              - 'UBPR'
              - 'COUNTRY'
          description: "Sub-category filter for the primary category:\n- **US** - United States regulatory financials. Endpoint: `/financials`\n- **CANADA** - Canadian OSFI regulatory financials. Endpoint: `/financials`\n- **AUSTRALIA** - Australian regulatory financials. Endpoint: `/financials`\n- **CREDIT_UNION** - Credit union financial data. Endpoint: `/financials`\n- **INDUSTRY** - Industry-level financial aggregates. Endpoint: `/financials`\n- **SPECIALTY_FINANCE** - Specialty finance industry data including FOCUS reports, Form ADV, and Business Development Corporations. Endpoint: `/aum`, `/focus`\n- **TEN_D** - Form 10-D securitization filings. Endpoint: `/ten-d`\n- **UBPR** - Uniform Bank Performance Report metrics. Endpoint: `/ubpr`\n- **COUNTRY** - Country exposure metrics. Endpoint: `/country-exposure`\n"
        - name: 'dataType'
          in: 'query'
          required: false
          schema:
            type: 'string'
            enum:
              - 'string'
              - 'number'
              - 'date'
              - 'boolean'
          description: 'Filter by metric data type'
      responses:
        '200':
          description: 'Available metrics data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              examples:
                Metrics Response:
                  $ref: '#/components/examples/MetricsResponseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: 'oauth2'
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.factset.com/as/token.oauth2'
          scopes: {}
    FactSetApiKey:
      type: 'http'
      scheme: 'basic'
  schemas:
    Ids:
      type: 'array'
      minItems: 1
      description: 'Array of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Entity IDs.'
      items:
        type: 'string'
      example:
        - '000BDX-E'
    USStateCode:
      type: 'string'
      description: 'Two-letter US state or territory code (ISO 3166-2:US).'
      enum:
        - 'AL'
        - 'AK'
        - 'AZ'
        - 'AR'
        - 'CA'
        - 'CO'
        - 'CT'
        - 'DE'
        - 'FL'
        - 'GA'
        - 'HI'
        - 'ID'
        - 'IL'
        - 'IN'
        - 'IA'
        - 'KS'
        - 'KY'
        - 'LA'
        - 'ME'
        - 'MD'
        - 'MA'
        - 'MI'
        - 'MN'
        - 'MS'
        - 'MO'
        - 'MT'
        - 'NE'
        - 'NV'
        - 'NH'
        - 'NJ'
        - 'NM'
        - 'NY'
        - 'NC'
        - 'ND'
        - 'OH'
        - 'OK'
        - 'OR'
        - 'PA'
        - 'RI'
        - 'SC'
        - 'SD'
        - 'TN'
        - 'TX'
        - 'UT'
        - 'VT'
        - 'VA'
        - 'WA'
        - 'WV'
        - 'WI'
        - 'WY'
        - 'DC'
        - 'PR'
        - 'VI'
        - 'GU'
        - 'AS'
        - 'MP'
    FinancialsRequest:
      type: 'object'
      description: 'Request body for financial data endpoints.'
      properties:
        data:
          type: 'object'
          description: 'Financial data query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            periodicity:
              type: 'string'
              enum:
                - 'ANN'
                - 'QTR'
                - 'SEMI'
              description: "Periodicity or frequency of the fiscal periods, where\n  * **ANN**  = Annual - Original\n  * **QTR**  = Quarterly - Original\n  * **SEMI** = Semi-Annual\n\nIf omitted, defaults to `ANN`.\n"
              example: 'ANN'
            startDate:
              $ref: '#/components/schemas/StartDateFiscal'
            endDate:
              $ref: '#/components/schemas/EndDateFiscal'
            coverage:
              type: 'string'
              enum:
                - 'US'
                - 'CANADA'
                - 'AUSTRALIA'
                - 'CREDIT_UNION'
              description: "Data source region or institution type.\n  * **US** — US banks, thrifts, and depository institutions, including bank holding companies (FFIEC/FDIC)\n  * **CANADA** — Canadian banks regulated by OSFI\n  * **AUSTRALIA** — Australian banks regulated by APRA\n  * **CREDIT_UNION** — US credit unions regulated by NCUA\n"
              example: 'US'
            metrics:
              type: 'array'
              minItems: 1
              items:
                type: 'string'
              description: "Array of metric codes to retrieve. Use the `/metrics` endpoint to retrieve the full list of available metric codes and their definitions.\n"
              example:
                - 'FB_SM_BHC_ASSETS'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
          required:
            - 'ids'
            - 'coverage'
            - 'metrics'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    PerformanceRequest:
      type: 'object'
      description: 'Request body for UBPR performance metrics.'
      properties:
        data:
          type: 'object'
          description: 'UBPR performance metrics query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            periodicity:
              type: 'string'
              enum:
                - 'ANN'
                - 'QTR'
              description: "Periodicity of the UBPR fiscal periods, where\n  * **ANN** = Annual\n  * **QTR** = Quarterly\n\nIf omitted, defaults to `ANN`.\n"
              example: 'ANN'
            startDate:
              $ref: '#/components/schemas/StartDateFiscal'
            endDate:
              $ref: '#/components/schemas/EndDateFiscal'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            metrics:
              type: 'array'
              minItems: 1
              items:
                type: 'string'
              description: "Array of UBPR metric codes to retrieve. Examples include financial ratios, performance metrics, and peer group statistics. Use the `/metrics` endpoint to retrieve the full list of available metric codes and their definitions.\n"
              example:
                - 'FF_ROA'
                - 'FF_ROE'
          required:
            - 'ids'
            - 'metrics'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    BranchesRequest:
      type: 'object'
      description: 'Request body for bank branch and location data.'
      properties:
        data:
          type: 'object'
          description: 'Branch query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            coverage:
              type: 'string'
              enum:
                - 'US'
                - 'CREDIT_UNION'
                - 'AUSTRALIA'
                - 'GLOBAL'
              description: "Data source region or institution type:\n* **US** — US FDIC-insured bank branches — branch counts and deposit market share by county, ZIP, and MSA\n* **CREDIT_UNION** — US credit union individual locations (NCUA)\n* **AUSTRALIA** — Australian bank service channels (APRA)\n* **GLOBAL** — Global bank locations (ex-US)\n"
              example: 'US'
            marketShareType:
              type: 'string'
              enum:
                - 'COUNTY'
                - 'ZIP'
                - 'MSA'
                - 'STATE'
                - 'ALL'
              default: 'ALL'
              description: "Geographic aggregation level for US FDIC deposit data (Applicable only to US):\n* **COUNTY** — Aggregated by FIPS county code (`marketShareCode` = 5-digit FIPS)\n* **ZIP** — Aggregated by ZIP code (`marketShareCode` = 5-digit ZIP)\n* **MSA** — Aggregated by Metropolitan Statistical Area (`marketShareCode` = MSA code)\n* **STATE** — One row per state (the only rows carrying a populated `state_province_code` in the underlying data)\n* **ALL** — All aggregation levels (default)\n\nUse the `stateCode` filter alongside any `marketShareType` to narrow\nresults to a single state — e.g. `stateCode=NY` with\n`marketShareType=COUNTY` returns every New York county row.\n"
            stateCode:
              $ref: '#/components/schemas/USStateCode'
            countyFipsCodes:
              type: 'array'
              items:
                type: 'string'
              description: "Filter by 5-digit FIPS county codes (e.g. \"36059\" = Nassau, NY).\nImplicitly narrows results to county-type rows. (Applicable only to US)\n"
              example:
                - '36059'
                - '36103'
            msaCodes:
              type: 'array'
              items:
                type: 'string'
              description: "Filter by MSA (Metropolitan Statistical Area) codes (e.g. \"35620\" = NY-Newark-Jersey City).\nImplicitly narrows results to msa-type rows. (Applicable only to US)\n"
              example:
                - '35620'
            zipCodes:
              type: 'array'
              items:
                type: 'string'
              description: "Filter by 5-digit ZIP codes. Implicitly narrows results to zip-type rows. (Applicable only to US)\n"
              example:
                - '11501'
                - '11701'
            locationNames:
              type: 'array'
              items:
                type: 'string'
              description: "Case-insensitive substring match against the county/city portion of `locationDescription`\n(e.g. [\"Nassau\", \"Suffolk\"] to match \"New York, Nassau\" and \"New York, Suffolk\").\nUse this when you know the place name but not the FIPS/MSA code. (Applicable only to US)\n"
              example:
                - 'Nassau'
                - 'Suffolk'
            branchTypes:
              type: 'array'
              items:
                type: 'string'
              description: "Filter by branch type string (matches the `branchType` response field exactly).\n(Applicable only to US)\n"
              example:
                - 'Full service brick and mortar branch'
            minTotalDeposits:
              type: 'number'
              description: "Minimum `totalDeposits` (in thousands) to include. (Applicable only to US)\n"
              example: 1000
            maxTotalDeposits:
              type: 'number'
              description: "Maximum `totalDeposits` (in thousands) to include. (Applicable only to US)\n"
            minBranchCount:
              type: 'integer'
              description: 'Minimum `branchCount` to include. (Applicable only to US)'
              example: 1
            maxBranchCount:
              type: 'integer'
              description: 'Maximum `branchCount` to include. (Applicable only to US)'
            stateName:
              type: 'string'
              description: 'Australian state or territory full name filter (Applicable only to AUSTRALIA)'
              example: 'New South Wales'
            city:
              type: 'string'
              description: 'City name filter (Applicable only to CREDIT_UNION, GLOBAL)'
              example: 'San Francisco'
            postalCode:
              type: 'string'
              description: 'Postal/ZIP code filter (Applicable only to CREDIT_UNION, GLOBAL)'
              example: '94102'
            locationType:
              type: 'string'
              enum:
                - 'BRANCH'
                - 'ATM'
                - 'ALL'
              default: 'ALL'
              description: 'Type of location to return (Applicable only to CREDIT_UNION, GLOBAL)'
            serviceChannelType:
              type: 'string'
              enum:
                - 'BRANCH'
                - 'ATMS'
                - 'OTHER_FACE_TO_FACE'
                - 'ALL'
              default: 'ALL'
              description: 'Type of service channel (Applicable only to AUSTRALIA)'
            country:
              type: 'string'
              description: 'ISO country code filter (Applicable only to GLOBAL)'
              example: 'CA'
            region:
              type: 'string'
              description: 'State/province/territory code (Applicable only to GLOBAL)'
              example: 'ON'
            isMainOffice:
              type: 'boolean'
              description: 'Return only main office/headquarters (Applicable only to CREDIT_UNION)'
            hasDriveThru:
              type: 'boolean'
              description: 'Filter for locations with drive-thru service (Applicable only to CREDIT_UNION)'
            hasMemberServices:
              type: 'boolean'
              description: 'Filter for locations with full member services (Applicable only to CREDIT_UNION)'
            hasAtm:
              type: 'boolean'
              description: 'Filter for locations with ATM on-site (Applicable only to CREDIT_UNION)'
          required:
            - 'ids'
            - 'coverage'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    ExposureRequest:
      type: 'object'
      description: 'Request body for country exposure data.'
      properties:
        data:
          type: 'object'
          description: 'Country exposure query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            startDate:
              $ref: '#/components/schemas/StartDateFiscal'
            endDate:
              $ref: '#/components/schemas/EndDateFiscal'
            country:
              type: 'string'
              minLength: 2
              maxLength: 2
              description: 'Filter by ISO 3166-1 alpha-2 country code (e.g., "AU", "GB"). Omit to retrieve all countries.'
              example: 'AU'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            metrics:
              type: 'array'
              minItems: 1
              items:
                type: 'string'
              description: "Array of country exposure metric codes to retrieve. Available metrics include:\n- CB_CLAIMS_EXCL_DERIV_GT: Cross-border claims excluding derivatives\n- CLAIMS_DERIV_GT: Gross claims from derivative products\n- CLAIMS_GT: Total cross-border and local claims\n- LR_CLAIMS_EXCL_DERIV_GT: Local resident claims excluding derivatives\n- CLAIMS_GT_BK: Claims by borrower type - Banks\n- CLAIMS_GT_NBFI: Claims by borrower type - Non-bank financial institutions\n- CLAIMS_GT_PUB: Claims by borrower type - Public sector\n- CLAIMS_GT_OTH: Claims by borrower type - Other\n\nOmit to retrieve all available metrics. Use the `/metrics` endpoint to retrieve the full list of available metric codes and their definitions.\n"
              example:
                - 'CB_CLAIMS_EXCL_DERIV_GT'
                - 'CLAIMS_DERIV_GT'
                - 'CLAIMS_GT'
          required:
            - 'ids'
            - 'metrics'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    TenDFilingsRequest:
      type: 'object'
      description: 'Request body for Form 10-D securitization filing data.'
      properties:
        data:
          type: 'object'
          description: 'Form 10-D filing query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            startDate:
              $ref: '#/components/schemas/StartDateFiling'
            endDate:
              $ref: '#/components/schemas/EndDateFiling'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            metrics:
              type: 'array'
              minItems: 1
              items:
                type: 'string'
              description: "Array of Form 10-D metric codes to retrieve. Available metrics include:\n- Principal Receivables: PRIN_RECEIV_BEG, PRIN_RECEIV_END, PRIN_RECEIV_NET_CHG\n- Finance Charge Receivables: FIN_CHRG_RECEIV_BEG, FIN_CHRG_RECEIV_END, FIN_CHRG_RECEIV_NET_CHG\n- Current/Delinquent: RECEIV_CURR, RECEIV_DELQ_1_29, RECEIV_DELQ_30_59, RECEIV_DELQ_60_89, RECEIV_DELQ_90_119, RECEIV_DELQ_120_149, RECEIV_DELQ_150_179, RECEIV_DELQ_180_OVER\n- Delinquency Percentages: RECEIV_CURR_PCT, RECEIV_DELQ_1_29_PCT, RECEIV_DELQ_30_OVER, RECEIV_DELQ_60_OVER, RECEIV_DELQ_90_OVER, RECEIV_DELQ_120_OVER, RECEIV_DELQ_150_OVER\n- Number of Receivables: NO_RECEIV_DELQ_1_29, NO_RECEIV_DELQ_30_59, NO_RECEIV_DELQ_TOT\n- Monthly Collections: MTC_PRIN, MTC_FIN_CHRG_TOT, MTC_FIN_CHRG_FEE, MTC_INVEST_INC, MTC_ICF, MTC_RECOV\n\nUse the `/metrics` endpoint to retrieve the full list of available metric codes and their definitions.\n"
              example:
                - 'PRIN_RECEIV_END'
                - 'RECEIV_CURR'
                - 'RECEIV_DELQ_30_OVER'
          required:
            - 'ids'
            - 'metrics'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    Ucc1FilingsRequest:
      type: 'object'
      description: 'Request body for UCC-1 financing statement data.'
      properties:
        data:
          type: 'object'
          description: 'UCC-1 filing query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            startDate:
              $ref: '#/components/schemas/StartDateUCC1'
            endDate:
              $ref: '#/components/schemas/EndDateUCC1'
            filingState:
              type: 'string'
              description: 'Filter by US state code (e.g., "VA", "CA", "NY"). Omit to retrieve all states.'
              example: 'VA'
            debtorName:
              type: 'string'
              description: 'Filter by debtor name. Supports partial matching. Omit to retrieve all debtors.'
              example: 'Jas Realty LLC'
          required:
            - 'ids'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    RatesRequest:
      type: 'object'
      description: 'Request body for deposit rate data.'
      properties:
        data:
          type: 'object'
          description: 'Deposit rate query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            startDate:
              $ref: '#/components/schemas/StartDateRates'
            endDate:
              $ref: '#/components/schemas/EndDateRates'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            depositProduct:
              type: 'string'
              description: "Filter by deposit product type (e.g., \"Savings\", \"Certificate of Deposit\", \"Fixed Rate IRA\"). Omit to retrieve all products.\n"
              example: 'Savings'
            term:
              type: 'string'
              description: "Filter by product term (e.g., \"0 Month\", \"1 Year\", \"18 Months\", \"All\"). Omit to retrieve all terms.\n"
              example: '1 Year'
            state:
              $ref: '#/components/schemas/USStateCode'
          required:
            - 'ids'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    AUMRequest:
      type: 'object'
      description: 'Request body for Form ADV AUM data.'
      properties:
        data:
          type: 'object'
          description: 'Form ADV AUM query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            startDate:
              $ref: '#/components/schemas/StartDateFiscal'
            endDate:
              $ref: '#/components/schemas/EndDateFiscal'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            metrics:
              type: 'array'
              minItems: 1
              items:
                type: 'string'
              description: "Array of AUM metric codes to retrieve.\n\n- Total AUM: aum_tot, aum_discre, aum_non_discre\n- AUM by Client Type: aum_hnwi, aum_indiv_excl_hnwi, aum_bk_thrift, aum_invest_co, aum_bdc, aum_piv, aum_pension_psp, aum_char_org, aum_state_muni, aum_oth_invest_adv, aum_ins_co, aum_swf_foi, aum_corp_oth_bus\n- Geographic: aum_us_per, aum_non_us_per\n\nOmit to retrieve all available metrics. Use the `/metrics` endpoint to retrieve the full list of available metric codes and their definitions.\n"
              example:
                - 'aum_tot'
                - 'aum_discre'
                - 'aum_hnwi'
          required:
            - 'ids'
            - 'metrics'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    FOCUSRequest:
      type: 'object'
      description: 'Request body for FOCUS report data.'
      properties:
        data:
          type: 'object'
          description: 'FOCUS report query parameters.'
          properties:
            ids:
              $ref: '#/components/schemas/Ids'
            startDate:
              $ref: '#/components/schemas/StartDateFiscal'
            endDate:
              $ref: '#/components/schemas/EndDateFiscal'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            metrics:
              type: 'array'
              minItems: 1
              items:
                type: 'string'
              description: "Array of FOCUS metric codes to retrieve.\n\n- Income Statement: FSF_FR_COMMISS_FEE_INC, FSF_FR_COMMISS_FEE_EXP, FSF_FR_COMMISS_FEE_EXP_OTH\n- Balance Sheet: Various asset and liability metrics\n- Net Capital: FSF_FR_NET_CAP, FSF_FR_FM_NET_CAP_REQ, FSF_FR_FM_NET_CAP_REQ_ALT\n\nOmit to retrieve all available metrics. Use the `/metrics` endpoint to retrieve the full list of available metric codes and their definitions.\n"
              example:
                - 'FSF_FR_NET_CAP'
                - 'FSF_FR_COMMISS_FEE_INC'
          required:
            - 'ids'
            - 'metrics'
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - 'data'
    PaginationRequest:
      type: 'object'
      description: 'Pagination parameters to control the size and offset of results returned.'
      properties:
        limit:
          type: 'integer'
          format: 'int32'
          default: 100
          minimum: 1
          maximum: 10000
          description: 'Maximum number of results to return per request.'
        offset:
          type: 'integer'
          format: 'int32'
          default: 0
          minimum: 0
          description: 'Number of results to skip. Use with limit for paging through results.'
    RequestMeta:
      type: 'object'
      description: 'Optional request metadata for pagination control.'
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
    CurrencyCode:
      type: 'string'
      nullable: true
      minLength: 3
      maxLength: 3
      description: 'Currency code (ISO 4217). For a list of currency codes, see [OA Page 1470](https://my.apps.factset.com/oa/pages/1470).'
      example: 'USD'
    EntityIdentification:
      type: 'object'
      description: 'Common entity identification fields.'
      additionalProperties: true
      properties:
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'JPMorgan Chase Bank, National Association'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '000BDX-E'
    MetricValueBase:
      type: 'object'
      description: 'Common fields for metric-based data.'
      additionalProperties: true
      properties:
        metric:
          type: 'string'
          nullable: true
          description: 'Metric code'
          example: 'FB_ASSETS'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 1234567.89
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
    StartDateFiscal:
      type: 'string'
      format: 'date'
      description: "Filters for fiscal periods ending on or after this date in YYYY-MM-DD format.\nUse with `endDate` for a date range, or alone to return all periods from this date forward.\nIf both `startDate` and `endDate` are omitted, the most recent available period is returned.\n"
      example: '2023-01-01'
    EndDateFiscal:
      type: 'string'
      format: 'date'
      description: "Filters for fiscal periods ending on or before this date in YYYY-MM-DD format.\nUse with `startDate` for a date range, or alone to return the most recent period on or before this date.\nIf both `startDate` and `endDate` are omitted, the most recent available period is returned.\n"
      example: '2023-12-31'
    StartDateFiling:
      type: 'string'
      format: 'date'
      description: "Filters for filings with a `filingDate` on or after this date in YYYY-MM-DD format.\nUse with `endDate` for a date range, or alone to return all filings from this date forward.\nIf both `startDate` and `endDate` are omitted, the most recent 30 days of filings are returned.\n"
      example: '2024-01-01'
    EndDateFiling:
      type: 'string'
      format: 'date'
      description: "Filters for filings with a `filingDate` on or before this date in YYYY-MM-DD format.\nUse with `startDate` for a date range, or alone to return the most recent filings on or before this date.\nIf both `startDate` and `endDate` are omitted, the most recent 30 days of filings are returned.\n"
      example: '2024-12-31'
    StartDateUCC1:
      type: 'string'
      format: 'date'
      description: "Filters for UCC-1 filings with an `effectiveDate` on or after this date in YYYY-MM-DD format.\nUse with `endDate` for a date range, or alone to return all filings from this date forward.\nIf both `startDate` and `endDate` are omitted, the most recent 30 days of filings are returned.\n"
      example: '2024-01-01'
    EndDateUCC1:
      type: 'string'
      format: 'date'
      description: "Filters for UCC-1 filings with an `effectiveDate` on or before this date in YYYY-MM-DD format.\nUse with `startDate` for a date range, or alone to return all filings up to this date.\nIf both `startDate` and `endDate` are omitted, the most recent 30 days of filings are returned.\n"
      example: '2024-12-31'
    StartDateRates:
      type: 'string'
      format: 'date'
      description: "Filters for deposit rate records with an `asOfDate` on or after this date in YYYY-MM-DD format.\nUse with `endDate` for a date range, or alone to return all records from this date forward.\nIf both `startDate` and `endDate` are omitted, the most recent available rates are returned.\n"
      example: '2024-01-01'
    EndDateRates:
      type: 'string'
      format: 'date'
      description: "Filters for deposit rate records with an `asOfDate` on or before this date in YYYY-MM-DD format.\nUse with `startDate` for a date range, or alone to return the most recent rates on or before this date.\nIf both `startDate` and `endDate` are omitted, the most recent available rates are returned.\n"
      example: '2024-12-31'
    Pagination:
      type: 'object'
      description: 'Pagination metadata for the response.'
      properties:
        total:
          type: 'integer'
          format: 'int32'
          description: 'Total number of records available for the query.'
          example: 2500
        isEstimatedTotal:
          type: 'boolean'
          description: 'Whether the total count is an estimate. False indicates an exact count.'
          example: false
      required:
        - 'total'
        - 'isEstimatedTotal'
    Meta:
      type: 'object'
      description: 'Response metadata including pagination and request tracking information.'
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        requestedIds:
          type: 'integer'
          format: 'int32'
          description: 'Total number of identifiers submitted in the request.'
          example: 5
        failedIds:
          type: 'array'
          items:
            type: 'string'
          description: 'Identifiers from the request that failed (invalid format, empty, or not found). Empty array when all submitted identifiers resolved successfully.'
          example:
            - 'INVALID-ID-1'
            - 'INVALID-ID-2'
            - 'INVALID-ID-3'
      required:
        - 'pagination'
    FinancialsResponse:
      type: 'object'
      description: 'Response containing regulatory financial statement data.'
      properties:
        data:
          type: 'array'
          description: 'Array of financial metrics, one row per metric'
          items:
            $ref: '#/components/schemas/Financial'
        meta:
          $ref: '#/components/schemas/Meta'
    PerformanceResponse:
      type: 'object'
      description: 'Response containing UBPR performance metrics.'
      properties:
        data:
          type: 'array'
          description: 'Array of UBPR performance metrics. Returns data from three sources — institution ratios, peer group rankings, and peer group statistics. Each row represents one metric for one entity/peer group and time period.'
          items:
            $ref: '#/components/schemas/Performance'
        meta:
          $ref: '#/components/schemas/Meta'
    BranchesResponse:
      type: 'object'
      description: 'Response containing branch and location data.'
      properties:
        data:
          type: 'array'
          description: "Array of branch and location data. Structure varies by coverage type:\n* **US** — Aggregated branch counts and deposit market share by geographic area\n* **CREDIT_UNION** — Individual credit union branch/ATM locations\n* **AUSTRALIA** — Individual service channel locations\n* **GLOBAL** — Individual branch locations (ex-US)\n"
          items:
            $ref: '#/components/schemas/Branch'
        meta:
          $ref: '#/components/schemas/Meta'
    ExposureResponse:
      type: 'object'
      description: 'Response containing country exposure data from FFIEC Form 009a.'
      properties:
        data:
          type: 'array'
          description: "Array of country exposure data from FFIEC Form 009a. Each row represents one metric for one country.\n\nData is returned in a flat structure with one row per entity-country-metric combination.\n"
          items:
            $ref: '#/components/schemas/Exposure'
        meta:
          $ref: '#/components/schemas/Meta'
    Filings10DResponse:
      type: 'object'
      description: 'Response containing Form 10-D securitization distribution report data.'
      properties:
        data:
          type: 'array'
          description: "Array of Form 10-D securitization distribution report data. Each row represents one metric for one filing period.\n\nData is returned in a flat structure with one row per entity-filing-metric combination.\n"
          items:
            $ref: '#/components/schemas/Filing10D'
        meta:
          $ref: '#/components/schemas/Meta'
    FilingsUCC1Response:
      type: 'object'
      description: 'Response containing UCC-1 financing statement data.'
      properties:
        data:
          type: 'array'
          description: "Array of UCC-1 financing statement filings. Each row represents one financing statement.\n\nData includes secured party (bank/lender) and debtor information with filing details.\n"
          items:
            $ref: '#/components/schemas/FilingUCC1'
        meta:
          $ref: '#/components/schemas/Meta'
    RatesResponse:
      type: 'object'
      description: 'Response containing deposit rate data.'
      properties:
        data:
          type: 'array'
          description: "Array of deposit rate data. Structure varies based on data type:\n- **Product rates by balance tier**: One row per product-term-balance tier combination\n- **Average product rates**: One row per product-term combination\n- **Location-specific rates**: One row per product-term-state-deposit range combination\n"
          items:
            $ref: '#/components/schemas/Rate'
        meta:
          $ref: '#/components/schemas/Meta'
    AUMResponse:
      type: 'object'
      description: 'Response containing Form ADV AUM data.'
      properties:
        data:
          type: 'array'
          description: "Array of Form ADV AUM metrics. Each row represents one metric for an entity and period.\n"
          items:
            $ref: '#/components/schemas/SpecialtyFinanceAUM'
        meta:
          $ref: '#/components/schemas/Meta'
    FOCUSResponse:
      type: 'object'
      description: 'Response containing FOCUS report data.'
      properties:
        data:
          type: 'array'
          description: "Array of FOCUS report metrics. Each row represents one metric for a broker-dealer and period.\n"
          items:
            $ref: '#/components/schemas/SpecialtyFinanceFOCUS'
        meta:
          $ref: '#/components/schemas/Meta'
    USCoverage:
      type: 'string'
      enum:
        - 'US'
      description: 'Coverage identifier for US banks, thrifts, and depository institutions (FFIEC/FDIC)'
      example: 'US'
    CanadaCoverage:
      type: 'string'
      enum:
        - 'CANADA'
      description: 'Coverage identifier for Canadian banks regulated by OSFI'
      example: 'CANADA'
    AustraliaCoverage:
      type: 'string'
      enum:
        - 'AUSTRALIA'
      description: 'Coverage identifier for Australian banks regulated by APRA'
      example: 'AUSTRALIA'
    CreditUnionCoverage:
      type: 'string'
      enum:
        - 'CREDIT_UNION'
      description: 'Coverage identifier for US credit unions regulated by NCUA'
      example: 'CREDIT_UNION'
    GlobalCoverage:
      type: 'string'
      enum:
        - 'GLOBAL'
      description: 'Coverage identifier for global branch location data'
      example: 'GLOBAL'
    AUMReportType:
      type: 'string'
      enum:
        - 'AUM'
      description: 'Report type identifier for Form ADV assets under management'
      example: 'AUM'
    FOCUSReportType:
      type: 'string'
      enum:
        - 'FOCUS'
      description: 'Report type identifier for FOCUS report financial data'
      example: 'FOCUS'
    USFinancial:
      type: 'object'
      description: 'A single row of US regulatory financial data for one entity, period, and metric.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
          example: '000SV1-E'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'JPMorgan Chase Bank, National Association'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '000BDX-E'
        metric:
          type: 'string'
          nullable: true
          description: 'Metric code'
          example: 'FB_ASSETS'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 1234567.89
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
        coverage:
          $ref: '#/components/schemas/USCoverage'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        bankTypeDescription:
          type: 'string'
          nullable: true
          description: 'Bank type description'
          example: 'Bank Institution'
        fiscalEndDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Fiscal period end date in YYYY-MM-DD format'
          example: '2023-12-31'
      required:
        - 'coverage'
    CanadaFinancial:
      type: 'object'
      description: 'A single row of Canadian regulatory financial data for one entity, period, and metric.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
          example: 'BMO-CA'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'Bank of Montreal'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '000CKX-E'
        metric:
          type: 'string'
          nullable: true
          description: 'Metric code'
          example: 'bs_fc_mtge_nres'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 1234567.89
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
        coverage:
          $ref: '#/components/schemas/CanadaCoverage'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        reportEndDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Date corresponding to the end of the report period in YYYY-MM-DD format'
          example: '2023-12-31'
        reportPeriod:
          type: 'string'
          nullable: true
          description: 'Period used in the report. Format: `M#` where `#` is the month number (e.g., `M1` for January, `M12` for December).'
          example: 'M2'
      required:
        - 'coverage'
    AustraliaFinancial:
      type: 'object'
      description: 'A single row of Australian regulatory financial data for one entity, period, and metric.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
          example: 'NAB-AU'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'National Australia Bank Ltd.'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '000QVD-E'
        metric:
          type: 'string'
          nullable: true
          description: 'Metric code'
          example: 'bs-bond-note-lt-bor'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 1234567.89
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
        coverage:
          $ref: '#/components/schemas/AustraliaCoverage'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        fiscalEndDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Fiscal period end date in YYYY-MM-DD format'
          example: '2023-12-31'
        reportDescription:
          type: 'string'
          nullable: true
          description: 'Standardized line item description from the source report'
          example: 'Bonds, Notes and Long-Term Borrowings'
      required:
        - 'coverage'
    CreditUnionFinancial:
      type: 'object'
      description: 'A single row of US credit union regulatory financial data for one entity, period, and metric.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
          example: '05G9TD-E'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'America''s First Federal Credit Union'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '05G9TD-E'
        metric:
          type: 'string'
          nullable: true
          description: 'Metric code'
          example: 'lns-com-nsd-re'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 1234567.89
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
        coverage:
          $ref: '#/components/schemas/CreditUnionCoverage'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        fiscalEndDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Fiscal period end date in YYYY-MM-DD format'
          example: '2022-12-31'
        reportDescription:
          type: 'string'
          nullable: true
          description: 'Standardized line item description from the source report'
          example: 'Loans & Leases'
        report:
          type: 'string'
          nullable: true
          description: 'Report code'
          example: 'Loans and Leases'
      required:
        - 'coverage'
    Financial:
      description: 'A single row of regulatory financial data for one entity, period, and metric. Structure varies by coverage type.'
      oneOf:
        - $ref: '#/components/schemas/USFinancial'
        - $ref: '#/components/schemas/CanadaFinancial'
        - $ref: '#/components/schemas/AustraliaFinancial'
        - $ref: '#/components/schemas/CreditUnionFinancial'
      discriminator:
        propertyName: 'coverage'
        mapping:
          US: '#/components/schemas/USFinancial'
          CANADA: '#/components/schemas/CanadaFinancial'
          AUSTRALIA: '#/components/schemas/AustraliaFinancial'
          CREDIT_UNION: '#/components/schemas/CreditUnionFinancial'
    Performance:
      description: 'A single row of UBPR performance data for one entity, metric, and reporting period.'
      allOf:
        - type: 'object'
          additionalProperties: true
          properties:
            requestId:
              type: 'string'
              description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
              example: '001QS1-E'
            fiscalEndDate:
              type: 'string'
              format: 'date'
              description: 'Fiscal period end date in YYYY-MM-DD format.'
              example: '2023-12-31'
            currency:
              type: 'string'
              nullable: true
              minLength: 3
              maxLength: 3
              description: 'Currency code (ISO 4217). For a list of currency codes, see [OA Page 1470](https://my.apps.factset.com/oa/pages/1470).'
              example: 'USD'
            peerGroupName:
              type: 'string'
              nullable: true
              description: "Descriptive name of the FFIEC peer group. Peer groups are curated sets of similar banks used to benchmark how an institution performs relative to its peers.\n"
              example: 'Asset Peer Group Undefined'
            peerGroupRank:
              type: 'integer'
              format: 'int32'
              nullable: true
              description: 'The percentile ranking (0-99) of the institution within its peer group for a given ratio.'
              minimum: 0
              maximum: 99
              example: 75
        - $ref: '#/components/schemas/EntityIdentification'
        - $ref: '#/components/schemas/MetricValueBase'
    USBranch:
      type: 'object'
      description: 'A single row of US bank branch count and deposit market share data by geographic area.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'Request identifier'
          example: '0016MM-E'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '0016MM-E'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'JPMorgan Chase Bank, National Association'
        coverage:
          $ref: '#/components/schemas/USCoverage'
        branchCount:
          type: 'integer'
          nullable: true
          description: 'Number of branches in this location'
          example: 1
        branchType:
          type: 'string'
          nullable: true
          description: "Type of branch. Known values include:\n* \"Full service brick and mortar branch\"\n* \"Full service retail branch\"\n* \"Limited service branch\"\n* \"Limited service drive-thru only\"\n* \"Limited service administrative office\"\n* \"Limited service mobile or seasonal\"\n* \"Limited service military\"\n* \"Limited service messenger\"\n* \"Limited service facility office\"\n* \"Limited service loan production\"\n* \"Limited service consumer credit\"\n* \"Limited service trust\"\n\nThe backing dataset may introduce additional values; treat this list as non-exhaustive.\n"
          example: 'Full service brick and mortar branch'
        totalDeposits:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Total deposits in thousands'
          example: 103574.25
        depositMarketSharePct:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Deposit market share percentage'
          example: 0.531064
        marketShareType:
          type: 'string'
          nullable: true
          enum:
            - 'COUNTY'
            - 'ZIP'
            - 'MSA'
            - 'STATE'
          description: "Market share geographic type:\n* **COUNTY** — Aggregated by FIPS county code (5-digit FIPS `marketShareCode`)\n* **ZIP** — Aggregated by ZIP code (5-digit ZIP `marketShareCode`)\n* **MSA** — Aggregated by Metropolitan Statistical Area (MSA `marketShareCode`)\n* **STATE** — One row per state (2-letter state `marketShareCode`)\n"
          example: 'COUNTY'
        marketShareCode:
          type: 'string'
          nullable: true
          description: 'Geographic code — FIPS county, ZIP, or MSA code'
          example: '12021'
        locationDescription:
          type: 'string'
          nullable: true
          description: 'Location description'
          example: 'Florida, Collier'
      required:
        - 'coverage'
    CreditUnionBranch:
      type: 'object'
      description: 'A single US credit union branch or ATM location record.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'Request identifier'
          example: '06R9SD-E'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '06R9SD-E'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'United Federal Credit Union (Michigan)'
        coverage:
          $ref: '#/components/schemas/CreditUnionCoverage'
        branchSite:
          type: 'string'
          nullable: true
          description: 'Branch site name'
          example: 'Edison Lakes - Branch 34'
        atmSite:
          type: 'string'
          nullable: true
          description: 'ATM site name'
          example: 'Edison Lakes - Branch 34'
        isMainOffice:
          type: 'boolean'
          nullable: true
          description: 'Main office flag'
          example: false
        hasMemberServices:
          type: 'boolean'
          nullable: true
          description: 'Has member services flag'
          example: true
        hasAtm:
          type: 'boolean'
          nullable: true
          description: 'Has ATM on-site flag'
          example: true
        hasDriveThru:
          type: 'boolean'
          nullable: true
          description: 'Has drive-thru service flag'
          example: true
        addressId:
          type: 'integer'
          nullable: true
          description: 'Unique address identifier'
          example: 2606
        siteType:
          type: 'string'
          nullable: true
          enum:
            - 'BRANCH_OFFICE'
            - 'CORPORATE_OFFICE'
            - 'OTHER'
          description: 'Type of site'
          example: 'BRANCH_OFFICE'
        locationCity:
          type: 'string'
          nullable: true
          description: 'City name'
          example: 'Mishawaka'
        stateProvince:
          type: 'string'
          nullable: true
          description: 'US state 2-letter code'
          example: 'IN'
        locationPostalCode:
          type: 'string'
          nullable: true
          description: 'ZIP code'
          example: '46545'
        locationStreet:
          type: 'string'
          nullable: true
          description: 'Street address'
          example: '4840 N Main St'
        isoCountry:
          type: 'string'
          nullable: true
          description: 'ISO country code'
          example: 'US'
        latitude:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Latitude coordinate'
          example: 41.703783
        longitude:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Longitude coordinate'
          example: -86.182498
      required:
        - 'coverage'
    AustraliaBranch:
      type: 'object'
      description: 'A single Australian bank branch or service channel location record.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'Request identifier'
          example: '00DY6N-E'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '00DY6N-E'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'Suncorp-Metway Ltd.'
        coverage:
          $ref: '#/components/schemas/AustraliaCoverage'
        locationId:
          type: 'integer'
          nullable: true
          description: 'Unique location identifier'
          example: 33754
        serviceChannelType:
          type: 'string'
          nullable: true
          enum:
            - 'BRANCH'
            - 'ATMS'
            - 'OTHER_FACE_TO_FACE'
          description: 'Type of service channel'
          example: 'ATMS'
        numServiceChannel:
          type: 'integer'
          nullable: true
          description: 'Number of service channels at this location'
          example: 2
        remotenessArea:
          type: 'string'
          nullable: true
          description: 'Remoteness classification'
          example: 'Outer Regional Australia'
        sa2Code:
          type: 'integer'
          nullable: true
          description: 'Statistical Area Level 2 code - ABS'
          example: 601041022
        state:
          type: 'string'
          nullable: true
          description: 'Australian state or territory full name'
          example: 'Queensland'
        address:
          type: 'string'
          nullable: true
          description: 'Full address'
          example: 'Channel Court Shopping Centre, John Street, Kingston Park, Kingston, Hobart, Kingborough, Tasmania, 7050, Australia'
        latitude:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Latitude coordinate'
          example: -19.27141
        longitude:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Longitude coordinate'
          example: 146.79021
      required:
        - 'coverage'
    GlobalBranch:
      type: 'object'
      description: 'A single global bank branch location record (ex-US).'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'Request identifier'
          example: '000CKK-E'
        factsetEntityId:
          type: 'string'
          nullable: true
          description: 'FactSet entity identifier'
          example: '000CKK-E'
        entityProperName:
          type: 'string'
          nullable: true
          description: 'Institution legal name'
          example: 'Bank of Hawaii Corp.'
        coverage:
          $ref: '#/components/schemas/GlobalCoverage'
        isoCountry:
          type: 'string'
          nullable: true
          description: 'ISO country code'
          example: 'PW'
        region:
          type: 'string'
          nullable: true
          description: 'ISO 3166-2 subdivision code, subdivision part only (e.g., "ON" for Ontario, "CA" for California)'
          example: 'ON'
        locationCity:
          type: 'string'
          nullable: true
          description: 'City name'
          example: 'Palau'
        locationPostalCode:
          type: 'string'
          nullable: true
          description: 'Postal code'
          example: '96940'
        locationStreet:
          type: 'string'
          nullable: true
          description: 'Street address'
          example: '340 Main Rd.'
        latitude:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Latitude coordinate'
          example: 7.341382
        longitude:
          type: 'number'
          format: 'double'
          nullable: true
          description: 'Longitude coordinate'
          example: 134.472081
      required:
        - 'coverage'
    Branch:
      description: 'A single row of branch or location data. Structure varies by coverage type.'
      oneOf:
        - $ref: '#/components/schemas/USBranch'
        - $ref: '#/components/schemas/CreditUnionBranch'
        - $ref: '#/components/schemas/AustraliaBranch'
        - $ref: '#/components/schemas/GlobalBranch'
      discriminator:
        propertyName: 'coverage'
        mapping:
          US: '#/components/schemas/USBranch'
          CREDIT_UNION: '#/components/schemas/CreditUnionBranch'
          AUSTRALIA: '#/components/schemas/AustraliaBranch'
          GLOBAL: '#/components/schemas/GlobalBranch'
    Exposure:
      description: 'A single row of country exposure data for one entity, country, and metric.'
      allOf:
        - type: 'object'
          additionalProperties: true
          properties:
            requestId:
              type: 'string'
              description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
              example: '000BY7-E'
            fiscalEndDate:
              type: 'string'
              format: 'date'
              description: 'Fiscal period end date in YYYY-MM-DD format'
              example: '2016-06-30'
            country:
              type: 'string'
              minLength: 2
              maxLength: 2
              description: 'ISO 3166-1 alpha-2 country code'
              example: 'AU'
            currency:
              type: 'string'
              nullable: true
              minLength: 3
              maxLength: 3
              description: 'Currency code for financial values (ISO 4217). Null for percentage or count metrics. For a list of currency codes, see [OA Page 1470](https://my.apps.factset.com/oa/pages/1470).'
              example: 'USD'
        - $ref: '#/components/schemas/EntityIdentification'
        - $ref: '#/components/schemas/MetricValueBase'
    Filing10D:
      description: 'A single row of Form 10-D securitization distribution report data for one entity and metric.'
      allOf:
        - type: 'object'
          additionalProperties: true
          properties:
            requestId:
              type: 'string'
              description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
              example: '00DZFB-E'
            ultimateParentProperName:
              type: 'string'
              nullable: true
              description: 'Ultimate parent company name'
              example: 'Barclays PLC'
            factsetUltimateParentEntityId:
              type: 'string'
              nullable: true
              description: 'Ultimate parent FactSet entity identifier'
              example: '05H4C8-E'
            filingDate:
              type: 'string'
              format: 'date'
              nullable: true
              description: 'Date when the 10-D form was filed'
              example: '2024-10-18'
            reportingMonth:
              type: 'string'
              nullable: true
              description: 'Month covered by the report'
              example: 'Sep'
            reportingYear:
              type: 'integer'
              nullable: true
              description: 'Year covered by the report'
              example: 2024
            currency:
              type: 'string'
              nullable: true
              minLength: 3
              maxLength: 3
              description: 'Currency code for financial values (ISO 4217). Null for percentage or count metrics. For a list of currency codes, see [OA Page 1470](https://my.apps.factset.com/oa/pages/1470).'
              example: 'USD'
        - $ref: '#/components/schemas/EntityIdentification'
        - $ref: '#/components/schemas/MetricValueBase'
    FilingUCC1:
      description: 'A single UCC-1 financing statement record.'
      allOf:
        - type: 'object'
          additionalProperties: true
          properties:
            requestId:
              type: 'string'
              description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
              example: '000SV1-E'
            vendorFilingId:
              type: 'string'
              description: 'Vendor filing identifier. Format varies by state.'
              example: 'VA-20250411260959'
            debtorName:
              type: 'string'
              description: 'Name of the party granting security interest.'
              example: 'Jas Realty LLC'
            filingState:
              type: 'string'
              description: 'US state code where the UCC-1 was filed.'
              example: 'VA'
            effectiveDate:
              type: 'string'
              format: 'date'
              description: 'Date when the financing statement becomes effective.'
              example: '2025-04-11'
            expirationDate:
              type: 'string'
              format: 'date'
              description: 'Date when the financing statement expires (typically 5 years from effective date).'
              example: '2030-04-11'
        - $ref: '#/components/schemas/EntityIdentification'
    Rate:
      description: 'A single row of deposit rate data.'
      allOf:
        - type: 'object'
          additionalProperties: true
          properties:
            requestId:
              type: 'string'
              description: 'The identifier as submitted in the request (e.g., ticker or entity ID)'
              example: '000ZKS-E'
            asOfDate:
              type: 'string'
              format: 'date'
              description: 'Date the rate became effective'
              example: '2024-06-07'
            currency:
              $ref: '#/components/schemas/CurrencyCode'
            depositProduct:
              type: 'string'
              description: 'Deposit product type, e.g., "Savings", "Certificate of Deposit", "Fixed Rate IRA"'
              example: 'Savings'
            term:
              type: 'string'
              description: 'Product term, e.g., "0 Month", "1 Year", "18 Months", "All"'
              example: '0 Month'
            depositCategory:
              type: 'string'
              nullable: true
              description: 'Balance tier category, e.g., "Up to 2500", "10000 to 100000", "Over 250000". Only present for product rates by balance tier.'
              example: '10000 to 100000'
            apyRate:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'Annual Percentage Yield rate. Only present for product rates by balance tier.'
              example: 0.05
            prevApyRate:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'Previous Annual Percentage Yield rate. Only present for product rates by balance tier and average product rates.'
              example: 0.05
            nationalApyAvgRate:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'National average Annual Percentage Yield rate. Available for product rates by balance tier and average product rates.'
              example: 1.880224
            apyAvgRate:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'Average Annual Percentage Yield rate. Only present for average product rates and location-specific rates.'
              example: 0.1625
            prevApyAvgRate:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'Previous average Annual Percentage Yield rate. Only present for average product rates.'
              example: 0.05
            state:
              type: 'string'
              nullable: true
              description: 'Two-letter US state or territory code (ISO 3166-2:US). Only present for location-specific rates.'
              example: 'AZ'
            minDeposit:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'Minimum deposit amount. Only present for location-specific rates.'
              example: 500.5
            maxDeposit:
              type: 'number'
              format: 'double'
              nullable: true
              description: 'Maximum deposit amount. 0 indicates no maximum. Only present for location-specific rates.'
              example: 99999.5
            onlineDesc:
              type: 'string'
              nullable: true
              description: 'Online availability indicator. Only present for location-specific rates.'
              example: 'online'
            isSpecialOffer:
              type: 'boolean'
              nullable: true
              description: 'Indicates whether the rate is a special promotional offer. Only present for location-specific rates.'
              example: true
        - $ref: '#/components/schemas/EntityIdentification'
    SpecialtyFinanceAUM:
      type: 'object'
      description: 'A single row of Form ADV assets under management data for one entity and metric.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'Request identifier, typically the entity identifier submitted in the request'
          example: '000BJX-E'
        entityProperName:
          type: 'string'
          description: 'Institution legal name'
          example: 'Vanguard Group Inc.'
        factsetEntityId:
          type: 'string'
          description: 'FactSet entity identifier'
          example: '000BJX-E'
        metric:
          type: 'string'
          description: 'Metric code'
          example: 'aum_tot'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 2512170.637
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
          example: 'Total Assets Under Management'
        fiscalEndDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Fiscal period end date in YYYY-MM-DD format'
          example: '2018-12-31'
        filingDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Date the Form ADV filing was submitted'
          example: '2019-03-28'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        reportType:
          $ref: '#/components/schemas/AUMReportType'
      required:
        - 'requestId'
        - 'reportType'
    SpecialtyFinanceFOCUS:
      type: 'object'
      description: 'A single row of FOCUS report financial data for one broker-dealer and metric.'
      additionalProperties: true
      properties:
        requestId:
          type: 'string'
          description: 'Request identifier, typically the entity identifier submitted in the request'
          example: '000P2Z-E'
        entityProperName:
          type: 'string'
          description: 'Institution legal name'
          example: 'Jefferies Financial Group, Inc.'
        factsetEntityId:
          type: 'string'
          description: 'FactSet entity identifier'
          example: '000P2Z-E'
        metric:
          type: 'string'
          description: 'Metric code'
          example: 'FSF_FR_NET_CAP'
        value:
          type: 'number'
          nullable: true
          description: 'Metric value'
          example: 2230000
        description:
          type: 'string'
          nullable: true
          description: 'Detailed description of the metric'
          example: 'Net Capital'
        fiscalEndDate:
          type: 'string'
          format: 'date'
          nullable: true
          description: 'Fiscal period end date in YYYY-MM-DD format'
          example: '2019-11-30'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        reportType:
          $ref: '#/components/schemas/FOCUSReportType'
      required:
        - 'requestId'
        - 'reportType'
    MetricsResponse:
      type: 'object'
      description: 'Response containing available metric definitions.'
      properties:
        data:
          type: 'array'
          description: 'Array of available metrics'
          items:
            $ref: '#/components/schemas/Metric'
        meta:
          $ref: '#/components/schemas/Meta'
    Metric:
      type: 'object'
      description: 'Definition and metadata for a single available metric.'
      properties:
        metric:
          type: 'string'
          description: 'Metric code identifier'
          example: 'FF_ROA'
        category:
          type: 'string'
          enum:
            - 'FINANCIALS'
            - 'FILINGS'
            - 'PERFORMANCE'
            - 'EXPOSURE'
          description: 'Primary category of the metric'
          example: 'PERFORMANCE'
        subcategory:
          type: 'string'
          enum:
            - 'US'
            - 'CANADA'
            - 'AUSTRALIA'
            - 'CREDIT_UNION'
            - 'INDUSTRY'
            - 'SPECIALTY_FINANCE'
            - 'TEN_D'
            - 'UBPR'
            - 'COUNTRY'
          description: 'Sub-category classification'
          example: 'UBPR'
        dataType:
          type: 'string'
          enum:
            - 'string'
            - 'number'
            - 'date'
            - 'boolean'
          description: 'Data type of metric values'
        description:
          type: 'string'
          description: 'Detailed description of the metric'
        oaPageId:
          type: 'string'
          nullable: true
          description: 'Online Assistant page ID for methodology'
          example: '17959'
        oaUrl:
          type: 'string'
          nullable: true
          description: 'Online Assistant URL for methodology'
          example: 'https://my.apps.factset.com/oa/pages/17959'
    ErrorResponse:
      type: 'object'
      description: 'Object representing an error response.'
      required:
        - 'errors'
      properties:
        errors:
          type: 'array'
          description: 'An array of error objects.'
          items:
            $ref: '#/components/schemas/ErrorObject'
    ErrorObject:
      type: 'object'
      description: 'An object representing an error.'
      required:
        - 'code'
        - 'title'
        - 'id'
      properties:
        code:
          type: 'string'
          description: 'Machine-readable error code'
        title:
          type: 'string'
          description: 'Human-readable error summary'
        id:
          type: 'string'
          format: 'uuid'
          description: 'Unique error instance identifier for tracking'
        detail:
          type: 'string'
          description: 'Detailed error explanation'
        source:
          type: 'object'
          description: "Reference to the request field that caused the error.\nFor POST requests, `pointer` is used (JSON Pointer to the request body field, e.g. `/ids/1`).\nFor GET requests, `parameter` is used (query parameter name, e.g. `ids[3]`).\n"
          properties:
            pointer:
              type: 'string'
              description: "JSON Pointer (RFC 6901) to the request body field that caused the error.\nUsed for POST requests (e.g., `/ids/1` for the second element of the `ids` array).\n"
              example: '/ids/1'
            parameter:
              type: 'string'
              description: "Query parameter name that caused the error.\nUsed for GET requests (e.g., `ids[3]`).\n"
              example: 'ids[3]'
            value:
              type: 'string'
              description: 'The actual value that caused the error.'
              example: 'INVALID-ID'
  responses:
    '400':
      description: 'Bad Request. This can occur for several reasons. Please review the "detail" for more details.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameter'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
    '401':
      description: 'Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            User Authentication - Failed:
              $ref: '#/components/examples/unauthenticated'
    '403':
      description: 'The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Forbidden:
              $ref: '#/components/examples/forbidden'
    '404':
      description: 'The requested endpoint could not be found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not Found:
              $ref: '#/components/examples/notFound'
    '415':
      description: 'Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
    '422':
      description: "Unprocessable Entity. Your request data was syntactically correct but semantically invalid.\nCheck the required parameters and their value constraints.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Validation Error - Invalid Date Range:
              $ref: '#/components/examples/unprocessableEntityDateRange'
            Validation Error - Invalid Metric Code:
              $ref: '#/components/examples/unprocessableEntityMetricCode'
    '500':
      description: 'Internal Server Error.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  examples:
    badRequestRequiredParameter:
      summary: 'Bad Request - Required Parameter Missing'
      description: 'This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisk symbol in the specification file.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Missing Required Parameter'
            detail: 'The parameter ''ids'' is required and may not be empty.'
    badRequestInvalidParameter:
      summary: 'Bad Request - Invalid Parameter'
      description: 'This error message occurs when a request parameter is not recognized or contains an invalid value. Please revise your request to use parameters and values outlined in the specification.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Invalid Parameter'
            detail: 'The ''coverage'' field must be one of: US, CANADA, AUSTRALIA, CREDIT_UNION'
    badRequestMalformedJSON:
      summary: 'Bad Request - Malformed JSON Request'
      description: 'This error may be returned when the request body is specified as JSON but is not in proper JSON format.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Malformed JSON Request'
            detail: 'Malformed JSON Request'
    unauthenticated:
      summary: 'User Authentication Failed'
      description: 'This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Authentication Failed'
            detail: 'User Authentication Failed.'
    forbidden:
      summary: 'Forbidden'
      description: 'The USERNAME-SERIAL attempted to request an endpoint it is not authorized to access. Please reach out to your FactSet Account Team for assistance with authorization.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Forbidden'
            title: 'Authentication Failed'
            detail: 'USERNAME-SERIAL does not have permission to use /factset-banks/v1/{endpoint}'
    notFound:
      summary: 'Not Found'
      description: 'The requested endpoint could not be found.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Not Found'
            title: 'No endpoint found'
            detail: 'The requested endpoint could not be found.'
    unsupportedMediaType:
      summary: 'Unsupported Media Type'
      description: 'This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support ''application/json''.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Unsupported Media Type'
            title: 'Unsupported Media Type'
            detail: 'text/html media type is not supported. Supported media types are application/json'
    unprocessableEntityDateRange:
      summary: 'Validation Error - Invalid Date Range'
      description: 'This error occurs when startDate is after endDate.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'ValidationError'
            title: 'Invalid Date Range'
            detail: 'startDate ''2024-12-31'' cannot be after endDate ''2024-01-01'''
    unprocessableEntityMetricCode:
      summary: 'Validation Error - Invalid Metric Code'
      description: 'This error occurs when one or more metric codes supplied in the request are not valid for the requested coverage or endpoint.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
[...]
