openapi: '3.0.0'
info:
  title: 'FactSet Macroeconomics API'
  version: '1.0.0'
  contact:
    name: 'FactSet Research Systems'
    email: 'api@factset.com'
    url: 'https://developer.factset.com/contact'
  license:
    name: 'Apache License, Version 2.0'
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  description: "The FactSet Macroeconomics API provides access to economic calendar events and historical time series data for global economic indicators. Use the reference endpoints to discover available indicators, regions, and FDS codes before querying event or series data.\n"
externalDocs:
  description: 'API Documentation'
  url: 'https://developer.factset.com/api-catalog/economics-api'
servers:
  - url: 'https://api.factset.com/content/economics/v1'
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: 'As-Reported Economics'
    description: 'Historical economic time series data with support for frequency conversion and data transformation.'
  - name: 'Economic Events Calendar'
    description: 'Economic calendar events with release dates, actual values, consensus estimates, and prior period data.'
  - name: 'Reference Data'
    description: 'Reference values for indicators, regions, and FDS codes used for filtering and discovery.'
paths:
  /economic-events:
    get:
      tags:
        - 'Economic Events Calendar'
      summary: 'Retrieve economic calendar events'
      description: 'Returns economic calendar events for a specified date range, with optional filtering by country, indicator, and FDS code. Use `/meta/events` to discover available filter values (indicators, countries, FDS codes).'
      operationId: 'getEconomicEvents'
      parameters:
        - $ref: '#/components/parameters/fdsCode'
        - $ref: '#/components/parameters/indicator'
        - $ref: '#/components/parameters/countryCode'
        - $ref: '#/components/parameters/timeZone'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/economicEventFields'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: 'Successfully retrieved economic events.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
              examples:
                default200Response:
                  $ref: '#/components/examples/EventSearchExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /as-reported-economics:
    get:
      tags:
        - 'As-Reported Economics'
      summary: 'Retrieve as-reported economic time series data'
      description: 'Returns as-reported economic time series data for a given series ID, with optional frequency conversion and data transformation. Use `/meta/series` to discover available series IDs.'
      operationId: 'getAsReportedEconomics'
      parameters:
        - $ref: '#/components/parameters/seriesId'
        - $ref: '#/components/parameters/reportedStartDate'
        - $ref: '#/components/parameters/reportedEndDate'
        - $ref: '#/components/parameters/countryCode'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: 'Successfully retrieved as-reported economic data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsReportedEconomicsResponse'
              examples:
                default200Response:
                  $ref: '#/components/examples/AsReportedEconomicsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /event-count:
    get:
      tags:
        - 'Economic Events Calendar'
      summary: 'Retrieve economic events count'
      description: "Returns the number of economic events per calendar day for a specified date range. Weekends can be included or excluded via the `includeWeekends` parameter.\n\nNote: The response includes only dates with one or more events. Dates with no events are omitted from the response.\n"
      operationId: 'getEconomicEventsCount'
      parameters:
        - $ref: '#/components/parameters/startDateCount'
        - $ref: '#/components/parameters/endDateCount'
        - $ref: '#/components/parameters/includeWeekends'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: 'Successfully retrieved economic events count.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCountResponse'
              examples:
                default200Response:
                  $ref: '#/components/examples/EventCountDefaultExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /meta/events:
    get:
      tags:
        - 'Reference Data'
      summary: 'Retrieve reference data for events'
      description: 'Returns reference values for filtering and discovery. Use this endpoint to discover available indicators, countries, and FDS codes.'
      operationId: 'getEconomicEventReferenceData'
      parameters:
        - $ref: '#/components/parameters/referenceType'
      responses:
        '200':
          description: 'Successful response containing reference data.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaEventsResponse'
              examples:
                indicatorsExample:
                  $ref: '#/components/examples/IndicatorsExample'
                regionsExample:
                  $ref: '#/components/examples/RegionsExample'
                fdsCodesExample:
                  $ref: '#/components/examples/FdsCodesExample'
                timezonesExample:
                  $ref: '#/components/examples/TimezonesExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /meta/series:
    get:
      tags:
        - 'Reference Data'
      summary: 'Retrieve reference data for series'
      description: 'Returns series metadata with FDS code mappings. Use this endpoint to discover available series, categories, and FDS code associations.'
      operationId: 'getFdsCodeMapping'
      parameters:
        - $ref: '#/components/parameters/searchText'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/countryCode'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: 'Successfully retrieved economic series metadata.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaSeriesResponse'
              examples:
                singleFdsCode:
                  $ref: '#/components/examples/FdsCodeMappingSingleExample'
                filteredByIndicator:
                  $ref: '#/components/examples/FdsCodeMappingFilteredExample'
                partialResults:
                  $ref: '#/components/examples/FdsCodeMappingPartialExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: 'oauth2'
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.factset.com/as/token.oauth2'
          scopes: {}
    FactSetApiKey:
      type: 'http'
      scheme: 'basic'
  responses:
    '400':
      description: "Bad Request. The request contains syntax errors or is malformed (e.g., malformed JSON, invalid protocol formatting, illegal characters in query strings). The server cannot parse the request.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            malformedQueryString:
              $ref: '#/components/examples/MalformedQueryString'
    '401':
      description: "Unauthenticated - API authentication failed. Ensure you have successfully generated a valid API key, included the API key in your request via Basic Auth, and the API key is valid for your IP range. For help with connectivity issues, please contact FactSet support.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            authenticationFailed:
              $ref: '#/components/examples/Unauthenticated'
    '403':
      description: "Forbidden - You do not have permission to access this endpoint or resource. Your API key or account may not have the required access level. Please reach out to your FactSet Account Team for assistance with authorization.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            authorizationFailed:
              $ref: '#/components/examples/Forbidden'
    '404':
      description: "Not Found - The requested endpoint or resource does not exist. Please verify that the endpoint path is correct, all required path parameters are provided, and the resource identifier (if any) is valid.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            endpointNotFound:
              $ref: '#/components/examples/NotFound'
    '422':
      description: "Unprocessable Entity - Your request data was syntactically correct but semantically invalid. This can occur for validation errors such as invalid date format, invalid parameter values, missing required parameters, invalid enum values, or invalid date ranges. Check the required parameters and their value constraints.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidDateFormat:
              $ref: '#/components/examples/BadRequest'
            invalidParameterValue:
              $ref: '#/components/examples/BadRequestInvalidParameterFormat'
            missingRequiredParameter:
              $ref: '#/components/examples/BadRequestMissingRequiredParameter'
            invalidEnumValue:
              $ref: '#/components/examples/UnprocessableEntity'
            invalidDateRange:
              $ref: '#/components/examples/InvalidDateRange'
    '429':
      description: "Too Many Requests - You have exceeded the allowed request rate for this API. Please wait and retry your request after some time.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            RateLimitExceeded:
              $ref: '#/components/examples/RateLimitExceeded'
    '500':
      description: "Internal Server Error - An unexpected error occurred on the server. Please try your request again. If the problem persists, contact FactSet support and provide the error ID from the response for investigation.\n"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverError:
              $ref: '#/components/examples/InternalServerError'
  schemas:
    EventResponse:
      type: 'object'
      title: 'Economic Events Response'
      description: 'Response object containing economic event records for calendar view.'
      example:
        data: []
        meta:
          pagination:
            total: 0
            isEstimatedTotal: false
      properties:
        data:
          type: 'array'
          description: 'List of economic events.'
          example: []
          items:
            $ref: '#/components/schemas/Event'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    Event:
      type: 'object'
      description: 'Economic event with common metadata and array of release records.'
      properties:
        requestedFdsCode:
          type: 'string'
          nullable: true
          description: 'FDS code provided in the `fdsCode` request parameter (echoed back). Returns `null` if `fdsCode` was not provided in the request.'
          example: 'GDPQOQ@GB'
        countryCode:
          type: 'string'
          description: 'ISO country code where the economic event occurred. Use the `/meta/events?type=countries` endpoint to retrieve available country codes. This field echoes the `countryCode` filter supplied in the request and returns `null` when no `countryCode` filter is specified.'
          example: 'US'
        indicator:
          type: 'string'
          description: 'Economic category or metric measured by this event. Use the `/meta/events?type=indicators` endpoint to retrieve available indicators. This field echoes the `indicator` filter supplied in the request and returns `null` when no `indicator` filter is specified.'
          example: 'Non-Farm Payrolls'
        items:
          type: 'array'
          description: 'Array of release records for this economic event, including scheduled and historical releases.'
          example: []
          items:
            $ref: '#/components/schemas/EventRelease'
    EventRelease:
      type: 'object'
      description: 'A single release record for an economic event, containing scheduled or historical release data.'
      properties:
        eventDateTime:
          type: 'string'
          format: 'date-time'
          description: 'Scheduled release date and time in UTC.'
          example: '2026-02-25T08:00:00Z'
        eventName:
          type: 'string'
          description: 'Name of the economic event.'
          example: 'Non-Farm Payrolls M/M - United States'
        period:
          type: 'string'
          description: 'Period identifier for the data covered by this release. Values may represent months (e.g., "Jan", "Mar"), quarters (e.g., "Q1", "Q4"), or other period formats such as "06/22", depending on the economic indicator.'
          nullable: true
          example: 'Mar'
        actual:
          type: 'string'
          description: 'Officially released value for this economic indicator, including units. Returns null for upcoming events or where no official figure has been published.'
          nullable: true
          example: '0.3%'
        prior:
          type: 'string'
          description: 'Value from the immediately preceding period (including units), included for comparison with the current release. Returns null if not available.'
          nullable: true
          example: '0.2%'
        consensus:
          type: 'string'
          description: 'Consensus market estimate for this release (including units). Returns null for events without published estimates.'
          nullable: true
          example: '0.25%'
        surprise:
          type: 'string'
          description: 'A measure of how the actual released value compared to the market consensus estimate. Returns null if either `actual` or `consensus` is unavailable.'
          nullable: true
          example: '-3000'
    AsReportedEconomicsResponse:
      type: 'object'
      title: 'As-Reported Economics Response'
      description: 'Response object containing as-reported economic time series data with series metadata to reduce duplication.'
      properties:
        data:
          type: 'array'
          description: 'Array of economic series records with time series data points.'
          example: []
          items:
            $ref: '#/components/schemas/AsReportedEconomicsSeries'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    AsReportedEconomicsSeries:
      type: 'object'
      description: 'Economic series with common metadata and array of time series data points.'
      properties:
        seriesId:
          type: 'string'
          description: 'Unique identifier for this economic data series.'
          example: '111NGDP_RPCH'
        countryCode:
          type: 'string'
          description: 'ISO country code for the series.'
          example: 'US'
        items:
          type: 'array'
          description: 'Array of time series data points containing period date and value.'
          example: []
          items:
            $ref: '#/components/schemas/EconomicTimeSeries'
    EconomicTimeSeries:
      type: 'object'
      description: 'Economic time series data point containing the reporting period and value.'
      properties:
        periodDate:
          type: 'string'
          format: 'date'
          description: 'Date representing the reporting period this data point covers, in `YYYY-MM-DD` format.'
          example: '2025-07-01'
        value:
          type: 'number'
          description: 'Reported value of the economic indicator for this period.'
          nullable: true
          example: 578650
        units:
          type: 'string'
          description: 'Unit of measurement for the value (e.g., `Percent`, `Millions of GBP`, `Thousands of Persons`).'
          nullable: true
          example: 'Percent'
    EventCountResponse:
      type: 'object'
      description: 'Response object containing event count summary data.'
      properties:
        data:
          type: 'array'
          description: 'An array of event count items.'
          example: []
          items:
            $ref: '#/components/schemas/EventCountItem'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    EventCountItem:
      type: 'object'
      description: 'The total number of economic events scheduled or released on a specific calendar date.'
      properties:
        date:
          type: 'string'
          description: 'The calendar date for which event counts are summarized.'
          format: 'date'
          example: '2026-02-01'
        count:
          type: 'integer'
          description: 'Total number of economic events scheduled or released on this date. Use alongside `/economic-events` to fetch full details for high-count days.'
          example: 5
    MetaEventsResponse:
      type: 'object'
      title: 'Economic Events Reference Response'
      description: 'Response object containing reference values for filtering and metadata. Fields vary by reference type (indicators and countries include `name`; FDS codes include `country`, `eventName`, and `sourceName`).'
      properties:
        data:
          type: 'array'
          description: 'An array of reference items. Field structure depends on the requested `type` parameter.'
          example: []
          items:
            $ref: '#/components/schemas/ReferenceItem'
    ReferenceItem:
      description: 'Reference item representing either an indicator, country, FDS code, or timezone. The structure depends on the requested type parameter.'
      discriminator:
        propertyName: 'itemType'
        mapping:
          INDICATOR: '#/components/schemas/ReferenceItemIndicator'
          COUNTRY: '#/components/schemas/ReferenceItemCountry'
          FDS_CODE: '#/components/schemas/ReferenceItemFdsCode'
          TIMEZONE: '#/components/schemas/ReferenceItemTimezone'
      oneOf:
        - $ref: '#/components/schemas/ReferenceItemIndicator'
        - $ref: '#/components/schemas/ReferenceItemCountry'
        - $ref: '#/components/schemas/ReferenceItemFdsCode'
        - $ref: '#/components/schemas/ReferenceItemTimezone'
    ReferenceItemIndicator:
      type: 'object'
      description: 'Reference data item for an economic indicator.'
      required:
        - 'itemType'
        - 'code'
        - 'name'
      properties:
        itemType:
          $ref: '#/components/schemas/ItemTypeIndicator'
        code:
          type: 'string'
          description: "Machine-readable code for this indicator. Use this value in filter parameters such as `indicator` when querying other endpoints (e.g., `BANKCRED`).\n"
          example: 'BANKCRED'
        name:
          type: 'string'
          description: 'Human-readable display name for the economic indicator.'
          example: 'BANKING & CREDIT'
    ReferenceItemCountry:
      type: 'object'
      description: 'Reference data item for a country.'
      required:
        - 'itemType'
        - 'code'
        - 'name'
      properties:
        itemType:
          $ref: '#/components/schemas/ItemTypeCountry'
        code:
          type: 'string'
          description: "ISO country code for this reference item. Use this value in filter parameters such as `countryCode` when querying other endpoints (e.g., `US`).\n"
          example: 'US'
        name:
          type: 'string'
          description: 'Human-readable display name for the country.'
          example: 'United States'
    ReferenceItemFdsCode:
      type: 'object'
      description: 'Reference data item for an FDS code.'
      required:
        - 'itemType'
        - 'code'
        - 'country'
        - 'eventName'
        - 'sourceName'
      properties:
        itemType:
          $ref: '#/components/schemas/ItemTypeFdsCode'
        code:
          type: 'string'
          description: "Machine-readable FDS code for this reference item. Use this value in filter parameters such as `fdsCode` when querying other endpoints (e.g., `GDPPIQYOY@US`).\n"
          example: 'GDPPIQYOY@US'
        country:
          type: 'string'
          description: 'Country name.'
          example: 'United States'
        eventName:
          type: 'string'
          description: 'Name of the economic event associated with this FDS code.'
          example: 'GDP Chain Price SA Y/Y'
        sourceName:
          type: 'string'
          description: 'Source organization or data provider.'
          example: 'BEA - US Bureau of Economic Analysis'
    ReferenceItemTimezone:
      type: 'object'
      description: 'Reference data item for a time zone.'
      required:
        - 'itemType'
        - 'code'
      properties:
        itemType:
          $ref: '#/components/schemas/ItemTypeTimezone'
        code:
          type: 'string'
          description: "Time zone value in GMT offset format for use with the `timeZone` parameter.\n"
          example: 'GMT+09:30'
        description:
          type: 'string'
          description: 'IANA time zone name or abbreviation representing the GMT offset.'
          example: 'ACT'
    ItemTypeIndicator:
      type: 'string'
      description: 'Discriminator value indicating this is an indicator reference item.'
      enum:
        - 'INDICATOR'
      example: 'INDICATOR'
    ItemTypeCountry:
      type: 'string'
      description: 'Discriminator value indicating this is a country reference item.'
      enum:
        - 'COUNTRY'
      example: 'COUNTRY'
    ItemTypeFdsCode:
      type: 'string'
      description: 'Discriminator value indicating this is an FDS code reference item.'
      enum:
        - 'FDS_CODE'
      example: 'FDS_CODE'
    ItemTypeTimezone:
      type: 'string'
      description: 'Discriminator value indicating this is a time zone reference item.'
      enum:
        - 'TIMEZONE'
      example: 'TIMEZONE'
    ResponseMeta:
      type: 'object'
      title: 'Pagination Metadata'
      description: 'Metadata object containing pagination information for the response.'
      properties:
        pagination:
          type: 'object'
          description: 'Pagination details for the response.'
          properties:
            total:
              type: 'integer'
              format: 'int32'
              description: 'Total number of entries in the result set.'
              example: 42
            isEstimatedTotal:
              type: 'boolean'
              description: 'Flag indicating that the value of `total` is estimated.'
              example: false
    ErrorResponse:
      type: 'object'
      description: 'Error response wrapper.'
      properties:
        errors:
          type: 'array'
          description: 'Collection of encountered errors.'
          example: []
          items:
            $ref: '#/components/schemas/ErrorObject'
    ErrorObject:
      type: 'object'
      description: 'Error object containing status code, error message, and detailed explanation.'
      nullable: true
      properties:
        id:
          description: 'Unique error instance identifier for tracking purposes.'
          type: 'string'
          format: 'uuid'
          example: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
        code:
          description: 'Machine-readable error code indicating the error category. Common values are Bad Request, ValidationError, Forbidden, Not Found, Unsupported Media Type, Too Many Requests, Internal Server Error.'
          type: 'string'
          example: 'Bad Request'
        title:
          description: 'The plain text error message.'
          type: 'string'
          example: 'Invalid Parameter Format'
        detail:
          description: 'Detailed error description with actionable guidance.'
          type: 'string'
          example: 'The `startDate` parameter must be in YYYY-MM-DD format. Received: 02/01/2026'
    MetaSeriesResponse:
      type: 'object'
      title: 'Series Metadata Response'
      description: 'Response object containing economic series metadata.'
      properties:
        data:
          type: 'array'
          description: 'Array of economic series records.'
          example: []
          items:
            $ref: '#/components/schemas/SeriesMetadata'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    SeriesMetadata:
      type: 'object'
      description: 'Economic series metadata including identifier, name, classification, hierarchy path, and associated FDS codes.'
      properties:
        seriesId:
          type: 'string'
          description: 'Unique series identifier for this economic data series. Pass this as the `seriesId` parameter in the `/as-reported-economics` endpoint to retrieve time series data.'
          example: 'ABMI'
        seriesName:
          type: 'string'
          description: 'Display name of the economic series.'
          example: 'GDP at Market Prices, Chain Volume, 2019 Prices, SA - United Kingdom'
        fdsCodes:
          type: 'array'
          description: 'One or more FDS codes associated with this economic series.'
          items:
            type: 'string'
          example:
            - 'GDPQOQ@GB'
        category:
          type: 'string'
          description: 'Category classification for this economic series. Examples include Economic and Commodities, Interest Rates.'
          example: 'Economic and Commodities'
        subcategory:
          type: 'string'
          description: 'Name of the deepest subcategory level for this economic series.'
          example: 'Income'
        subcategoryCode:
          type: 'string'
          description: 'Two-letter classification code for the subcategory.'
          example: 'AB'
        countryCodes:
          type: 'array'
          description: 'List of ISO country codes for which this series has data.'
          items:
            type: 'string'
          example:
            - 'GB'
  parameters:
    fdsCode:
      name: 'fdsCode'
      in: 'query'
      description: "FDS code to filter events by a specific economic indicator.\nUse the `/meta/events?type=fds-codes` endpoint to retrieve all available codes.\n\n- **Required:** startDate and endDate parameters must be provided when using this filter\n"
      required: false
      schema:
        type: 'string'
        example: 'CPIMOM@US'
      style: 'form'
      explode: false
    countryCode:
      name: 'countryCode'
      in: 'query'
      description: "ISO country code for filtering events by country. Use the `/meta/events?type=countries` endpoint to retrieve available country codes.\n"
      required: false
      schema:
        type: 'string'
        example: 'US'
    indicator:
      name: 'indicator'
      in: 'query'
      description: "Economic indicator name for filtering events.\nUse the `/meta/events?type=indicators` endpoint to retrieve available indicators.\n\n- **Required:** startDate and endDate parameters must be provided when using this filter\n"
      required: false
      schema:
        type: 'string'
        example: 'PRCPI'
    seriesId:
      name: 'seriesId'
      in: 'query'
      description: "The Series ID identifying the economic series to retrieve.\nUse the `/meta/series` endpoint to get a list of available series IDs.\n"
      required: true
      schema:
        type: 'string'
        example: 'FRBRIFSPPCD90@US'
    searchText:
      name: 'searchText'
      in: 'query'
      description: 'Text to search for within series names. Restricts results to only series that match the provided search text.'
      required: false
      schema:
        type: 'string'
        example: 'GDP'
    startDate:
      name: 'startDate'
      in: 'query'
      description: "Start date for the query range.\n\n- **Required:** when `fdsCode` or `indicator` is specified\n- **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day\n- **Maximum date range limit:** The maximum date range limit between `startDate` and `endDate` is up to 90 days. Requests with date ranges exceeding 90 days will result in a validation error.\n"
      required: false
      schema:
        type: 'string'
        format: 'date'
        example: '2024-01-01'
    endDate:
      name: 'endDate'
      in: 'query'
      description: "End date for the query range.\n\n- **Required:** when `fdsCode` or `indicator` is specified\n- **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day\n- **Maximum date range limit:** The maximum date range limit between `startDate` and `endDate` is up to 90 days. Requests with date ranges exceeding 90 days will result in a validation error.\n"
      required: false
      schema:
        type: 'string'
        format: 'date'
        example: '2024-03-28'
    startDateCount:
      name: 'startDate'
      in: 'query'
      description: "Start date for the query range.\n\n- **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day\n- **Maximum date range limit:** The maximum date range limit between `startDate` and `endDate` is up to 90 days. Requests with date ranges exceeding 90 days will result in a validation error.\n"
      required: false
      schema:
        type: 'string'
        format: 'date'
        example: '2024-01-01'
    endDateCount:
      name: 'endDate'
      in: 'query'
      description: "End date for the query range.\n\n- **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day\n- **Maximum date range limit:** The maximum date range limit between `startDate` and `endDate` is up to 90 days. Requests with date ranges exceeding 90 days will result in a validation error.\n"
      required: false
      schema:
        type: 'string'
        format: 'date'
        example: '2024-03-01'
    reportedStartDate:
      name: 'startDate'
      in: 'query'
      description: "Start date for the query range.\n\n- **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day\n"
      required: false
      schema:
        type: 'string'
        format: 'date'
        example: '2026-01-01'
    reportedEndDate:
      name: 'endDate'
      in: 'query'
      description: "End date for the query range.\n\n- **Default:** If both `startDate` and `endDate` are omitted, the API defaults to the most recent available calendar day\n"
      required: false
      schema:
        type: 'string'
        format: 'date'
        example: '2026-07-01'
    timeZone:
      name: 'timeZone'
      in: 'query'
      required: false
      description: "Time zone for event dates and times in GMT offset format (e.g., GMT-5, GMT, GMT+9). Use the `/meta/events?type=TIMEZONES` endpoint to retrieve available time zone values. If left blank, the default time zone is GMT.\n"
      schema:
        type: 'string'
        default: 'GMT'
        example: 'GMT+05:00'
    frequency:
      name: 'frequency'
      in: 'query'
      required: false
      description: "Controls the output frequency of the data returned. The supported frequencies are:\n\n- **D**: Daily.\n- **W**: Weekly.\n- **M**: Monthly.\n- **Q**: Quarterly.\n- **Y**: Yearly.\n\nWhen `frequency` is not specified: If multiple frequencies are available for the seriesId, data is returned at the highest frequency (e.g., monthly over quarterly). If only one frequency is available, data is returned at that frequency.\n"
      schema:
        type: 'string'
        enum:
          - 'D'
          - 'W'
          - 'M'
          - 'Q'
          - 'Y'
        example: 'D'
    referenceType:
      name: 'type'
      in: 'query'
      description: "Specifies the type of reference data to return. The supported values are:\n\n- `INDICATORS`: Returns available economic indicator codes for use with the `indicator` filter.\n- `COUNTRIES`: Returns supported country codes for use with the `countryCode` filter.\n- `FDS_CODES`: Returns available FDS codes.\n- `TIMEZONES`: Returns supported timezone values for use with the `timeZone` filter.\n"
      required: true
      schema:
        type: 'string'
        enum:
          - 'INDICATORS'
          - 'COUNTRIES'
          - 'FDS_CODES'
          - 'TIMEZONES'
        example: 'INDICATORS'
    includeWeekends:
      name: 'includeWeekends'
      in: 'query'
      required: false
      description: 'Returned daily counts include weekends by default. Set this to `false` to exclude weekends.'
      schema:
        type: 'boolean'
        default: true
    category:
      name: 'category'
      in: 'query'
      description: "Filter series by major category. The supported categories are:\n\n- `ECONOMICS`: Economic indicators and metrics.\n- `INTEREST_RATES`: Interest rate data and related metrics.\n\nMultiple categories can be provided as comma-separated values.\n"
      required: false
      schema:
        type: 'array'
        items:
          type: 'string'
          enum:
            - 'ECONOMICS'
            - 'INTEREST_RATES'
      style: 'form'
      explode: false
      examples:
        singleCategory:
          summary: 'Single category'
          value:
            - 'ECONOMICS'
        multipleCategories:
          summary: 'Multiple categories'
          value:
            - 'ECONOMICS'
            - 'INTEREST_RATES'
    paginationLimit:
      name: '_paginationLimit'
      in: 'query'
      description: "Maximum number of results to return per page. If not specified, the default page size is applied.\n"
      required: false
      schema:
        type: 'integer'
        format: 'int32'
        minimum: 1
        maximum: 1000
        default: 25
        example: 25
    paginationOffset:
      name: '_paginationOffset'
      in: 'query'
      description: "Number of results to skip before returning the first result. Used for pagination in combination with `_paginationLimit`.\n"
      required: false
      schema:
        type: 'integer'
        format: 'int32'
        minimum: 0
        default: 0
        example: 0
    economicEventFields:
      name: 'fields'
      in: 'query'
      required: false
      explode: false
      description: "Comma-separated list of fields to include in the `items` array for each event. Common event fields (`requestedFdsCode`, `eventName`, `countryCode`, `indicator`) are always returned. When omitted, all available fields in the items array are returned.\n\n**Available fields (for items array):**\n| Field | Description |\n|---|---|\n| `eventDateTime` | Scheduled release date and time (UTC) |\n| `period` | Reference period covered by the data |\n| `actual` | Released actual value |\n| `prior` | Value from the prior period |\n| `consensus` | Consensus market estimate |\n| `surprise` | Difference between actual and consensus |\n"
      schema:
        type: 'array'
        maxItems: 6
        items:
          type: 'string'
          enum:
            - 'eventDateTime'
            - 'period'
            - 'actual'
            - 'prior'
            - 'consensus'
            - 'surprise'
      examples:
        coreOnly:
          summary: 'Core value fields only'
          value:
            - 'eventDateTime'
            - 'actual'
            - 'consensus'
        full:
          summary: 'All item fields (default behavior)'
          value:
            - 'eventDateTime'
            - 'period'
            - 'actual'
            - 'prior'
            - 'consensus'
            - 'surprise'
  examples:
    EventSearchExample:
      summary: 'Economic events for a date range and country'
      description: 'Returns a list of economic events matching the specified date range and country filters.'
      value:
        data:
          - requestedFdsCode: 'CPIMOM@US'
            countryCode: 'US'
            indicator: 'PRCPI'
            items:
              - eventDateTime: '2024-03-12T17:30:00+05:00'
                eventName: 'CPI SA M/M - United States'
                period: 'Feb'
                actual: '0.4%'
                prior: '0.3%'
                consensus: '0.4%'
                surprise: '0.0%'
              - eventDateTime: '2024-02-13T18:30:00+05:00'
                eventName: 'CPI SA M/M - United States'
                period: 'Jan'
                actual: '0.3%'
                prior: '0.2%'
                consensus: '0.2%'
                surprise: '0.1%'
              - eventDateTime: '2024-01-11T18:30:00+05:00'
                eventName: 'CPI SA M/M - United States'
                period: 'Dec'
                actual: '0.3%'
                prior: '0.1%'
                consensus: '0.2%'
                surprise: '0.1%'
        meta:
          pagination:
            total: 3
            isEstimatedTotal: false
    AsReportedEconomicsExample:
      summary: 'As-reported economic time series data'
      description: 'Returns historical daily economic time series data for Federal Reserve interest rate series.'
      value:
        data:
          - seriesId: 'FRBRIFSPPCD90@US'
            countryCode: 'US'
            items:
              - periodDate: '2026-06-26'
                value: 3.72
                units: 'Percent'
              - periodDate: '2026-06-17'
                value: 3.67
                units: 'Percent'
              - periodDate: '2026-06-16'
                value: 3.69
                units: 'Percent'
              - periodDate: '2026-06-15'
                value: 3.69
                units: 'Percent'
              - periodDate: '2026-06-10'
                value: 3.67
                units: 'Percent'
        meta:
          pagination:
            total: 60
            isEstimatedTotal: false
    EventCountDefaultExample:
      summary: 'Event count per day'
      description: 'Returns the number of economic events scheduled for each calendar day within the requested date range.'
      value:
        data:
          - date: '2026-02-01'
            count: 3
          - date: '2026-02-02'
            count: 5
          - date: '2026-02-03'
            count: 2
        meta:
          pagination:
            total: 28
            isEstimatedTotal: false
    IndicatorsExample:
      summary: 'Available economic indicators'
      description: 'Returns all available economic indicator codes and their category names for use as filter values.'
      value:
        data:
          - itemType: 'INDICATOR'
            code: 'BANKCRED'
            name: 'BANKING & CREDIT'
          - itemType: 'INDICATOR'
            code: 'LMEMP'
            name: 'LABOR MARKET - EMPLOYMENT'
          - itemType: 'INDICATOR'
            code: 'PRCPI'
            name: 'PRICES - CONSUMER (CPI)'
          - itemType: 'INDICATOR'
            code: 'NAGDP'
            name: 'NATIONAL ACCOUNTS - GDP'
    RegionsExample:
      summary: 'Available countries'
      description: 'Returns all available country codes supported by the economic events endpoints.'
      value:
        data:
          - itemType: 'COUNTRY'
            code: 'US'
            name: 'United States'
          - itemType: 'COUNTRY'
            code: 'IN'
            name: 'India'
          - itemType: 'COUNTRY'
            code: 'GB'
            name: 'United Kingdom'
          - itemType: 'COUNTRY'
            code: 'EU'
            name: 'European Union'
    FdsCodesExample:
      summary: 'Available FDS codes'
      description: 'Returns available FDS codes with their descriptions, country, event name, and source.'
      value:
        data:
          - itemType: 'FDS_CODE'
            code: 'GDPPIQYOY@US'
            country: 'United States'
            eventName: 'GDP Chain Price SA Y/Y'
            sourceName: 'BEA - US Bureau of Economic Analysis'
          - itemType: 'FDS_CODE'
            code: 'FDIQ@US'
            country: 'United States'
            eventName: 'Foreign Direct Investment'
            sourceName: 'BEA - US Bureau of Economic Analysis'
    TimezonesExample:
      summary: 'Available time zones'
      description: 'Returns supported time zone values in GMT offset format for use with the `timeZone` parameter.'
      value:
        data:
          - itemType: 'TIMEZONE'
            code: 'GMT+09:30'
            description: 'ACT'
          - itemType: 'TIMEZONE'
            code: 'GMT+10:00'
            description: 'AET'
          - itemType: 'TIMEZONE'
            code: 'GMT+00:00'
            description: 'Africa/Abidjan'
          - itemType: 'TIMEZONE'
            code: 'GMT+01:00'
            description: 'Africa/Algiers'
          - itemType: 'TIMEZONE'
            code: 'GMT'
            description: 'GMT'
    FdsCodeMappingSingleExample:
      summary: 'Single series metadata'
      description: 'Returns the series ID, FDS code, name, category, and unit details for a single series lookup with hierarchy path.'
      value:
        data:
          - seriesId: 'ABMI'
            seriesName: 'GDP at Market Prices, Chain Volume, 2019 Prices, SA - United Kingdom'
            fdsCodes:
              - 'GDPQOQ@GB'
              - 'GDPQOYOY@GB'
            category: 'Economic and Commodities'
            subcategory: 'Income'
            subcategoryCode: 'AB'
            countryCodes:
              - 'GB'
        meta:
          pagination:
            total: 1
            isEstimatedTotal: false
    FdsCodeMappingFilteredExample:
      summary: 'Series metadata filtered by category'
      description: 'Returns only the series metadata that match the requested category filter with hierarchy information.'
      value:
        data:
          - seriesId: 'ABMI'
            seriesName: 'GDP at Market Prices, Chain Volume, 2019 Prices, SA - United Kingdom'
            fdsCodes:
              - 'GDPQOQ@GB'
              - 'GDPQOYOY@GB'
            category: 'Economic and Commodities'
            subcategory: 'Income'
            subcategoryCode: 'AB'
            countryCodes:
              - 'GB'
        meta:
          pagination:
            total: 1
            isEstimatedTotal: false
    MalformedQueryString:
      summary: 'Bad Request - Malformed Query String'
      description: 'Query string contains illegal characters or syntax errors that prevent parsing.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Malformed Request'
            detail: 'Invalid character in query string: [ is not allowed. Query string must use valid URL encoding.'
    BadRequest:
      summary: 'Unprocessable Entity - Invalid Date Format'
      description: 'This error occurs when a request does not use the YYYY-MM-DD format in date parameters.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Validation Error'
            detail: 'The date parameter `startDate` must be in the following date format: YYYY-MM-DD'
    BadRequestInvalidParameterFormat:
      summary: 'Bad Request - Invalid Parameters'
      description: 'Invalid parameter value that does not match expected format.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Invalid Parameter'
            detail: 'Invalid Parameter(s): invalidParam. Please modify your request to use parameters outlined in the specification for this endpoint.'
    BadRequestMissingRequiredParameter:
      summary: 'Bad Request - Missing Required Parameter'
      description: 'Required parameter not included in request.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Bad Request'
            title: 'Missing Required Parameter'
            detail: 'A required parameter is missing from the request. Please verify that all required parameters are provided in your request.'
    Unauthenticated:
      summary: 'User Authentication Failed'
      description: 'API key missing, invalid, or not authorized for IP range.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'Unauthenticated'
            title: 'Authentication Failed'
            detail: 'User Authentication Failed.'
    Forbidden:
      summary: 'Forbidden'
      description: 'User account does not have permission to access this endpoint.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef6'
            code: 'Forbidden'
            title: 'Authentication Failed'
            detail: 'USERNAME-SERIAL does not have permission to use /economics /v1/{endpoint}'
    NotFound:
      summary: 'Not Found'
      description: 'The requested endpoint or resource could not be found.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef7'
            code: 'Not Found'
            title: 'No endpoint found'
            detail: 'The requested endpoint could not be found.'
    UnprocessableEntity:
      summary: 'Unprocessable Entity - Validation Error'
      description: 'Request is valid but contains semantic errors.'
      value:
        errors:
          - id: 'aac34dc2-eca4-4773-9878-6eacfa62e666'
            code: 'Bad Request'
            title: 'Invalid Parameter'
            detail: 'The parameter ''frequency'' value ''X'' is invalid. Valid values are: D, W, M, Q, Y.'
    InvalidDateRange:
      summary: 'Unprocessable Entity - Invalid Date Range'
      description: 'End date is before start date.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef5'
            code: 'ValidationError'
            title: 'Invalid Date Range'
            detail: 'The `endDate` (2026-01-01) cannot be before `startDate` (2026-03-01). Please verify the date range.'
    RateLimitExceeded:
      summary: 'Too Many Requests - Rate Limit Exceeded'
      description: 'Request rate limit has been exceeded.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef8'
            code: 'Too Many Requests'
            title: 'Rate Limit Exceeded'
            detail: 'You have exceeded the allowed number of requests for this time window. Please wait and try again later.'
    InternalServerError:
      summary: 'Internal Server Error'
      description: 'Unexpected server error occurred.'
      value:
        errors:
          - id: 'adb01824-252f-4420-b0c6-35a1e3507ef9'
            code: 'Internal Server Error'
            title: 'Unexpected Error'
            detail: 'An unexpected error occurred while processing your request. Please try again later.'
    FdsCodeMappingPartialExample:
      summary: 'Partial results — filtered by country'
      description: "Demonstrates the response when requesting series filtered by country code. Only series with data for the specified country are returned, with full hierarchy information for each.\n"
      value:
        data:
          - seriesId: 'ABMI'
            seriesName: 'GDP at Market Prices, Chain Volume, 2019 Prices, SA - United Kingdom'
            fdsCodes:
              - 'GDPQOQ@GB'
              - 'GDPQOYOY@GB'
            category: 'Economic and Commodities'
            subcategory: 'Income'
            subcategoryCode: 'AB'
            countryCodes:
              - 'GB'
          - seriesId: 'ANNX'
            seriesName: 'GDP at Market Prices, Year on Year - United Kingdom'
            fdsCodes:
              - 'GDPF@GB'
              - 'GDPFYOY@GB'
            category: 'Economic and Commodities'
            subcategory: 'Gross Output'
            subcategoryCode: 'GO'
            countryCodes:
              - 'GB'
        meta:
          pagination:
            total: 2
            isEstimatedTotal: false
