openapi: 3.0.0
info:
  version: 1.0.0
  title: FactSet Supply Chain API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: >
    Access the complex networks of key customer, suppliers, competitors and
    partners so that you can make insightful investment decisions. Relationship
    information is sourced from trusted primary sources and reverse-linked to
    non-disclosing parties, creating a comprehensive and consistent relationship
    graph. <p>This

    API is rate-limited to 10 requests per second and 10 concurrent requests per

    user.</p>
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-supply-chain-api
servers:
  - url: https://api.factset.com/content/factset-supply-chain/v1
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Relationships
    description: Retrieve Supply Chain Relationships.
paths:
  /relationships:
    get:
      summary: Returns Supply Chain Relationships Data.
      description: >
        Returns Supply Chain Relationships Data. This data is sorted primarily
        by the number of overlapping products, followed by the overlap
        percentage.
      tags:
        - Relationships
      operationId: getRelationships
      parameters:
        - $ref: '#/components/parameters/relationshipIds'
        - $ref: '#/components/parameters/relationshipType'
        - $ref: '#/components/parameters/publicPrivate'
        - $ref: '#/components/parameters/relationshipDirection'
      responses:
        '200':
          description: >-
            Fetches supply chain relationships data for the requested list of
            identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipsResponse'
              examples:
                Supply Chain Relationships:
                  $ref: '#/components/examples/supplyChainRelationships'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Returns Supply Chain Relationships Data.
      description: >
        Returns Supply Chain Relationships Data. This data is sorted primarily
        by the number of overlapping products, followed by the overlap
        percentage.
      tags:
        - Relationships
      operationId: getRelationshipsForList
      requestBody:
        required: true
        description: Request body to request a list of Supply Chain financials objects.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationshipsRequest'
            examples:
              One Security(AAPL-US) Example:
                $ref: '#/components/examples/postRelationships'
      responses:
        '200':
          description: Supply Chain Relationships data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    relationshipIds:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
          minItems: 1
          maxItems: 500
      required: true
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. * Make
        Note - id limit of 500
      examples:
        oneId:
          summary: One Security Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Security Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    relationshipType:
      name: relationshipType
      in: query
      schema:
        type: string
        enum:
          - COMPETITORS
          - CUSTOMERS
          - SUPPLIERS
          - PARTNERS
        default: SUPPLIERS
      required: true
      description: |
        Specifies the type of relationship to filter the results  -
          * **SUPPLIERS** = Entities from which the source company purchases goods or services; the opposite of “Customer” relationship.
          * **COMPETITORS** = Entities disclosed by the source company as competitors.
          * **CUSTOMERS** = Entities to which the source company sells products/services; the “opposite” of Supplier relationship.
          * **PARTNERS** = Entities in which the source company owns an equity stake (“opposite” of an Investor relationship).
      examples:
        suppliers:
          summary: SUPPLIERS
          value: SUPPLIERS
        competitors:
          summary: COMPETITORS
          value: COMPETITORS
        customers:
          summary: CUSTOMERS
          value: CUSTOMERS
        partners:
          summary: PARTNERS
          value: PARTNERS
    publicPrivate:
      name: companyType
      in: query
      schema:
        type: string
        enum:
          - PUBLIC_COMPANIES_ONLY
          - PRIVATE_COMPANIES_ONLY
          - ALL
        default: PUBLIC_COMPANIES_ONLY
      required: false
      description: |
        Specifies the type of companies to filter by  -
          * **PUBLIC_COMPANIES_ONLY** = Display public company relationships only.
          * **PRIVATE_COMPANIES_ONLY** = Display private company relationships only.
          * **ALL** = Display public and private company relationships.
      examples:
        public:
          summary: PUBLIC_COMPANIES_ONLY
          value: PUBLIC_COMPANIES_ONLY
        private:
          summary: PRIVATE_COMPANIES_ONLY
          value: PRIVATE_COMPANIES_ONLY
        both:
          summary: ALL
          value: ALL
    relationshipDirection:
      name: relationshipDirection
      in: query
      schema:
        type: string
        enum:
          - ALL
          - DIRECT
          - REVERSE
        default: ALL
      required: false
      description: |
        Filters the list of available relationship directions -
          * **ALL** = All relationship directions.
          * **DIRECT** = Direct indicates that the source company named the relationship.
          * **REVERSE** = Reverse indicates that the target company named the relationship.
      examples:
        All:
          summary: ALL
          value: ALL
        Direct:
          summary: DIRECT
          value: DIRECT
        Reverse:
          summary: REVERSE
          value: REVERSE
  schemas:
    relationshipsResponse:
      type: object
      title: Supply Chain Relationships Response
      properties:
        data:
          description: Array of Supply Chain Relationships objects.
          type: array
          items:
            $ref: '#/components/schemas/relationships'
    relationships:
      title: Supply Chain Relationships
      type: object
      properties:
        entityId:
          type: string
          description: >-
            Unique FactSet-generated identifier representing an entity for the
            current entity identifier (-E)
          example: 000BGM-E
          nullable: true
        companyName:
          type: string
          description: Referring to the official name of a business entity.
          example: Microsoft Corporation
        overlappingProductCount:
          type: string
          description: >-
            Number of Product Overlap is determined by how many sectors matches
            in named products (determined by Revere Hierarchy) there are in a
            given relationship between the source and target company.
          example: 28 of 138
        overlapPercentage:
          type: integer
          description: >-
            Product Overlap Percentage is the percent value of the preceding
            overlapping product count data item.
          example: 20
        relationshipDirection:
          type: string
          description: >-
            Direction of Relationship indicates which company (target or source)
            determined the relationship.
          enum:
            - Mutual
            - Direct
            - Reverse
          example: Mutual
        requestId:
          type: string
          description: Identifier used in `ids`.
          example: AAPL-US
    relationshipsRequest:
      title: Relationships Request Body
      description: Relationships request body elements
      type: object
      properties:
        data:
          $ref: '#/components/schemas/relationshipsRequestBody'
      required:
        - data
    relationshipsRequestBody:
      title: Relationships Request Body
      description: Relationships request body elements
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/relationshipIds'
        relationshipType:
          $ref: '#/components/schemas/relationshipType'
        companyType:
          $ref: '#/components/schemas/companyType'
        relationshipDirection:
          $ref: '#/components/schemas/relationshipDirection'
      required:
        - ids
        - relationshipType
    relationshipIds:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 500
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. * Make
        Note - id limit of 500
      example:
        oneId:
          summary: One Security Identifier
          value:
            - AAPL-USA
        multipleIds:
          summary: Multiple Security Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    relationshipType:
      title: relationshipType
      description: |
        The relationship between requested identifier and partner.
      type: string
      enum:
        - COMPETITORS
        - CUSTOMERS
        - SUPPLIERS
        - PARTNERS
      example: COMPETITORS
    companyType:
      title: companyType
      description: |
        Display public, private, or both companies.
      type: string
      enum:
        - PUBLIC_COMPANIES_ONLY
        - PRIVATE_COMPANIES_ONLY
        - ALL
      example: PUBLIC_COMPANIES_ONLY
    relationshipDirection:
      title: relationshipDirection
      description: |
        relationshipDirection
      type: string
      enum:
        - ALL
        - DIRECT
        - REVERSE
      example: ALL
    errorResponse:
      type: object
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/errorObject'
    errorObject:
      type: object
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          format: uuid
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: Bad Request
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-supply-chain/v1/{endpoint}
        title:
          description: The plain text error message
          type: string
          example: Validation Error
  responses:
    '400':
      description: >-
        Bad Request. This can occur for several reasons. Please review the
        "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '401':
      description: >-
        Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting
        from. For more help, select the **Report Issue** in the top right corner
        of this Developer Portal specification card and choose Connectivity 401
        or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '403':
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Forbidden:
              $ref: '#/components/examples/forbidden'
    '415':
      description: >-
        Unsupported Media Type. This error may be returned when the caller sends
        a resource in a format that is not accepted by the server. This can be
        fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  examples:
    supplyChainRelationships:
      summary: Company Relationship Overview
      description: Array of Objects describing relationships and product overlaps
      value:
        data:
          - entityId: 000Q07-E
            companyName: Microsoft Corporation
            overlappingProductCount: 28 of 138
            overlapPercentage: 20
            relationshipDirection: Mutual
            requestId: AAPL-US
          - entityId: 0FPWZZ-E
            companyName: Alphabet Inc. Class A
            overlappingProductCount: 26 of 97
            overlapPercentage: 27
            relationshipDirection: Direct
            requestId: AAPL-US
          - entityId: 001CJR-E
            companyName: Sony Group Corporation
            overlappingProductCount: 23 of 206
            overlapPercentage: 11
            relationshipDirection: Direct
            requestId: AAPL-US
          - entityId: 05HWBQ-E
            companyName: Nintendo Co., Ltd.
            overlappingProductCount: 3 of 18
            overlapPercentage: 17
            relationshipDirection: Direct
            requestId: AAPL-US
          - entityId: 000LNN-E
            companyName: HP Inc.
            overlappingProductCount: 17 of 86
            overlapPercentage: 20
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 001QBC-E
            companyName: Logitech International S.A.
            overlappingProductCount: 15 of 38
            overlapPercentage: 39
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 05X2J1-E
            companyName: Dreamus Company
            overlappingProductCount: 10 of 28
            overlapPercentage: 36
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0J5Z7W-E
            companyName: Shenzhen Aoni Electronic Co. Ltd. Class A
            overlappingProductCount: 6 of 11
            overlapPercentage: 55
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0HWCMK-E
            companyName: Zepp Health Corp. Sponsored ADR Class A
            overlappingProductCount: 6 of 11
            overlapPercentage: 55
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0D6K1F-E
            companyName: Fnac Darty SA
            overlappingProductCount: 6 of 16
            overlapPercentage: 38
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 064N0H-E
            companyName: Roku, Inc. Class A
            overlappingProductCount: 5 of 11
            overlapPercentage: 45
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 05JM7V-E
            companyName: Salora International Limited
            overlappingProductCount: 5 of 15
            overlapPercentage: 33
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 006TD7-E
            companyName: Sonos, Inc.
            overlappingProductCount: 5 of 16
            overlapPercentage: 31
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 05K015-E
            companyName: Archos SA
            overlappingProductCount: 5 of 24
            overlapPercentage: 21
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0GS3BP-E
            companyName: Wearable Devices Ltd.
            overlappingProductCount: 4 of 5
            overlapPercentage: 80
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0XBNKT-E
            companyName: Reeder Teknoloji Sanayi ve Ticaret A.S.
            overlappingProductCount: 4 of 10
            overlapPercentage: 40
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 00BJ65-E
            companyName: Spotify Technology SA
            overlappingProductCount: 4 of 11
            overlapPercentage: 36
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0JMZW0-E
            companyName: Simply Inc
            overlappingProductCount: 3 of 4
            overlapPercentage: 75
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0D029B-E
            companyName: Snap, Inc. Class A
            overlappingProductCount: 3 of 4
            overlapPercentage: 75
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0FLP6Y-E
            companyName: Beamr Imaging Ltd.
            overlappingProductCount: 3 of 5
            overlapPercentage: 60
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 0CNWCF-E
            companyName: Eastech Holding Limited
            overlappingProductCount: 3 of 7
            overlapPercentage: 43
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 078N6D-E
            companyName: Stingray Group, Inc.
            overlappingProductCount: 3 of 7
            overlapPercentage: 43
            relationshipDirection: Reverse
            requestId: AAPL-US
          - entityId: 005MWJ-E
            companyName: Sonim Technologies, Inc.
            overlappingProductCount: 3 of 9
            overlapPercentage: 33
            relationshipDirection: Reverse
            requestId: AAPL-US
    postRelationships:
      summary: Relationships request body.
      description: Relationships request body.
      value:
        data:
          - id: AAPL-US
            relationshipType: COMPETITORS
            companyType: PUBLIC_COMPANIES_ONLY
            relationshipDirection: ALL
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: >-
        This bad request occurs when a request doesn't use the YYYY-MM-DD in the
        date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2020-07-02 11:52:36.464'
        path: /factset-supply-chain/v1/{endpoint}
        message: 'The date parameter must be in the following date format: YYYY-MM-DD'
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: >-
        This error message occurs when the request does not include the required
        parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-30 13:22:09.053'
        path: /factset-supply-chain/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Passing Invalid Parameter
      description: This error message occurs when user is passing an Invalid Parameter
      value:
        status: Bad Request
        timestamp: '2020-07-23 11:03:40.765'
        path: /factset-supply-chain/v1/{endpoint}
        message: >-
          Invalid Parameter (s): fakeParameter. Please modify your request to
          use parameters outlined in the specification for this endpoint.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: >-
        This error may be returned when the request body is specified as JSON,
        but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2020-07-02 11:59:09.649'
        path: /factset-supply-chain/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: >-
        This error may be returned if it takes more than 29 seconds to hear back
        from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2020-07-02 16:18:38.949'
        path: /factset-supply-chain/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: >-
        This occurs when a user is not properly authenticated or recognized by
        the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key.
        Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2020-07-02 16:08:07.945'
        path: /factset-supply-chain/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      value:
        status: Forbidden
        timestamp: '2020-07-02 17:21:52.197'
        path: /factset-supply-chain/v1/{endpoint}
        message: >-
          USERNAME-SERIAL does not have permission to use
          /factset-supply-chain/v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: >-
        This bad request occurs when the media type passed in the request is not
        supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2020-07-02 09:42:27.237'
        path: /factset-supply-chain/v1/{endpoint}
        message: >-
          text/html media type is not supported. Supported media types are
          application/json.
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: >-
        This error may be returned when the server encounters an error writing
        the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2020-07-02 09:48:29.18'
        path: /factset-supply-chain/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: >-
        This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2020-07-02 10:36:01.944'
        path: /factset-supply-chain/v1/{endpoint}
        message: Unexpected error
        subErrors: null
