openapi: 3.0.0
info:
  version: 2.8.1
  title: FactSet Estimates
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  description: >
    With global coverage since 1999, the FactSet Estimates API provides you with
    comprehensive estimates and statistics on a wide variety of financial
    statement items as well as industry-specific metrics. The universe is
    comprised of over 19,000 active companies across 90+ countries with the
    following types of data included:
     
    - **Consensus**

    - **Detail**

    - **Ratings**

    - **Surprise**

    - **Segments**

    - **Actuals**

    - **Guidance**

    - **New Estimates and Ratings Reports Endpoints**


    For clients seeking  curated and relevant financial data, the FactSet
    Estimates API now includes Estimates and Ratings Reports endpoints. These
    powerful endpoints are designed for easy integration and consumption,
    delivering a wide array of financial metrics, estimates, and critical
    statistics in a highly accessible format suitable for both mobile and web
    applications.
     
    Whether you are an analyst, investor, or financial professional, the
    Estimates and Ratings Reports endpoints offer detailed and actionable
    financial insights that can support thorough analyses and strategic
    decision-making processes.
     
    The Estimates and Ratings Reports endpoints are especially valuable for
    B2B2C  applications, empowering financial services firms, investment
    companies, and corporate finance teams to:
     
    - **Elevate Client Engagement:** Enrich user experiences in client-facing
    applications with comprehensive and up-to-date financial metrics.


    - **Build Custom Reporting Tools:** Create tailored dashboards and analytics
    tools that provide deep insights and foster better financial understanding.


    By adopting the FactSet Estimates API with its enriched Estimates and
    Ratings Reports endpoints, businesses can streamline their financial data
    integration process, improve operational efficiency, and deliver superior
    financial insights to their clients and end-users.
        <p>This API is rate-limited to 10 requests per second and 10 concurrent requests per user.</p>

    **Download API Specification**
        
      To programmatically download the FactSet Estimates API Specification file in .yaml format, utilize the link below. You must be authorized for this API to extract the specification. This specification can then be used for Codegen to create your own SDKs. You can also access it by selecting the "Download Spec" button beside the version information.
      
      [https://api.factset.com/content/factset-estimates/v2/spec/swagger.yaml](https://api.factset.com/content/factset-estimates/v2/spec/swagger.yaml)
servers:
  - url: https://api.factset.com/content
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Consensus
    description: >-
      The consensus or nest of all Estimates items aggregated by a statistic
      such as mean or median.
  - name: Broker Detail
    description: >-
      The Broker-Level detail of Estimates items. Entitlements with Brokers are
      required.
  - name: Ratings
    description: >-
      The Consensus and Broker-Level Ratings detail for Buy, Hold, Sell,
      overWeight, underWeight.
  - name: Surprise
    description: >-
      The Surprise Events reflecting the company's reported financials against
      the broker's estimates.
  - name: Actuals
    description: The Estimate Actuals for the requested metric.
  - name: Segments
    description: The Product or Geographic Segment Estimates.
  - name: Segment Actuals
    description: The Segment Actuals data for company product or geographic segments.
  - name: Guidance
    description: The Guidance data for the requested metric.
  - name: Data Items
    description: Available Data Item Catalog to be used as input to the metrics parameters
  - name: Estimates and Ratings Reports
    description: >-
      Get the analyst ratings for a requested identifier, forecasted estimates
      and metadata for estimate types.
paths:
  /factset-estimates/v2/rolling-consensus:
    get:
      tags:
        - Consensus
      summary: >-
        Retrieves consensus estimates for a requested list of ids and rolling
        fiscal periods.
      operationId: getRollingConsensus
      description: >
        Returns FactSet Estimates consensus data using rolling fiscal dates.
        <p>The rolling behavior causes fiscal year to automatically roll from
        one year to the next as the historical perspective date changes. The
        fiscal period rolls forward as of each period end. This endpoint is
        optimized to allow the request to simply include a relative fiscal
        period (e.g. use relativeFiscalStart integer 1 and periodicity ANN for
        next unreported fiscal year end), and then see what the consensus
        thought the "next fiscal year" estimates were through time as you "roll"
        back your perspective dates. This differs from locking down an absolute
        estimate period such as explicitly stating Fiscal Year 2019. This can be
        done in the fixed-consensus endpoint.</p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/relativeFiscalStart'
        - $ref: '#/components/parameters/relativeFiscalEnd'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
              examples:
                Rolling Consensus response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/rollingConsensus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Consensus
      summary: >-
        Retrieves consensus estimates for a requested list of ids and rolling
        fiscal periods
      description: >
        Returns FactSet Estimates consensus data using rolling fiscal dates.
        <p>The rolling behavior causes fiscal year to automatically roll from
        one year to the next as the historical perspective date changes. The
        fiscal period rolls forward as of each period end. This endpoint is
        optimized to allow the request to simply include a relative fiscal
        period (e.g. use relativeFiscalStart integer 1 and periodicity ANN for
        next unreported fiscal year end), and then see what the consensus
        thought the "next fiscal year" estimates were through time as you "roll"
        back your perspective dates. This differs from locking down an absolute
        estimate period such as explicitly stating Fiscal Year 2019. This can be
        done in the fixed-consensus endpoint.</p>
      operationId: getRollingConsensusForList
      requestBody:
        required: true
        description: Request object for Rolling Conensus estimates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollingConsensusRequest'
            examples:
              Rolling Consensus response of FDS-US for SALES metrics:
                $ref: '#/components/examples/postRollingConsensus'
      responses:
        '200':
          description: Rolling Conensus Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
              examples:
                Rolling Consensus response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/rollingConsensus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/fixed-consensus:
    get:
      tags:
        - Consensus
      summary: >-
        Retrieves consensus estimates for a requested list of ids and fixed
        fiscal periods
      operationId: getFixedConsensus
      description: >
        Returns FactSet Estimates consensus data using fixed fiscal dates. For
        example, if the company's current unreported year is 12/2020, all data
        returned by formulas that specify as the period/report basis will be for
        12/2005 regardless of what perspective dates (startDate/endDate) are
        used. The fixed dates are "locked" in time and all estimated values are
        for that explicit date. If you are requesting that the estimated periods
        can change with the perspective date, please use the rolling-consensus
        endpoint.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/fiscalPeriodStart'
        - $ref: '#/components/parameters/fiscalPeriodEnd'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Consensus Estimate Data Items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
              examples:
                Fixed Consensus response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/fixedConsensus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Consensus
      summary: FactSet consensus estimates for fixed fiscal periods
      description: >
        Returns FactSet Estimates consensus data using fixed fiscal dates. For
        example, if the company's current unreported year is 12/2020, all data
        returned by formulas that specify as the period/report basis will be for
        12/2005 regardless of what perspective dates (startDate/endDate) are
        used. The fixed dates are "locked" in time and all estimated values are
        for that explicit date. If you are requesting that the estimated periods
        can change with the perspective date, please use the rolling-consensus
        endpoint.
      operationId: getFixedConsensusForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedConsensusRequest'
            examples:
              Fixed Consensus response of FDS-US for SALES metrics:
                $ref: '#/components/examples/postFixedConsensus'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
              examples:
                Fixed Consensus response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/fixedConsensus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/rolling-detail:
    get:
      tags:
        - Broker Detail
      summary: FactSet estimates detail data for rolling fiscal periods
      operationId: getRollingDetail
      description: >
        Updated intraday, the FactSet detail estimates apis provide individual
        broker-level estimates collected from over 800 sell-side analysts. This
        database contains 20+ years of broker history across more than 59,000
        global companies. Content is provided for "rolling" fiscal periods.     
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/periodicityDetail'
        - $ref: '#/components/parameters/includeAll'
        - $ref: '#/components/parameters/relativeFiscalStart'
        - $ref: '#/components/parameters/relativeFiscalEnd'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
              examples:
                Rolling Detail response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/rollingDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Broker Detail
      summary: FactSet estimates detail data for rolling fiscal periods
      description: >
        Updated intraday, the FactSet detail estimates apis provide individual
        broker-level estimates collected from over 800 sell-side analysts. This
        database contains 20+ years of broker history across more than 59,000
        global companies. Content is provided for "rolling" fiscal periods.
      operationId: getRollingDetailForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollingDetailRequest'
            examples:
              Rolling Detail response of FDS-US for SALES metrics:
                $ref: '#/components/examples/postRollingDetail'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
              examples:
                Rolling Detail response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/rollingDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/fixed-detail:
    get:
      tags:
        - Broker Detail
      summary: Estimates detail data for fixed fiscal periods
      operationId: getFixedDetail
      description: >
        Updated intraday, the FactSet detail estimates apis provide individual
        broker-level estimates collected from over 800 sell-side analysts. This
        database contains 20+ years of broker history across more than 59,000
        global companies. Content is provided for "fixed" fiscal periods.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/periodicityDetail'
        - $ref: '#/components/parameters/includeAll'
        - $ref: '#/components/parameters/fiscalPeriodStart'
        - $ref: '#/components/parameters/fiscalPeriodEnd'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
              examples:
                Fixed Detail response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/fixedDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Broker Detail
      summary: Estimates detail data for fixed fiscal periods
      description: >
        Updated intraday, the FactSet detail estimates apis provide individual
        broker-level estimates collected from over 800 sell-side analysts. This
        database contains 20+ years of broker history across more than 59,000
        global companies. Content is provided for "fixed" fiscal periods.
      operationId: getFixedDetailForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedDetailRequest'
            examples:
              Fixed Detail response of FDS-US for SALES metrics:
                $ref: '#/components/examples/postFixedDetail'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
              examples:
                Fixed Detail response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/fixedDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/consensus-ratings:
    get:
      tags:
        - Ratings
      summary: >-
        Ratings consensus estimates to fetch Buy, overWeight, Hold, underWeight,
        and Sell.
      operationId: getConsensusRatings
      description: >
        Returns ratings from the FactSet Estimates database for current and
        historical for an individual security using rolling fiscal dates as of a
        specific date.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusRatingsResponse'
              examples:
                Consensus Ratings response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/consensusRatings'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Ratings
      summary: >-
        Ratings consensus estimates to fetch Buy, overWeight, Hold, underWeight,
        and Sell.
      description: >
        Returns ratings from the FactSet Estimates database for current and
        historical for an individual security using rolling fiscal dates as of a
        specific date.
      operationId: getConsensusRatingsForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consensusRatingsRequest'
            examples:
              Consensus Ratings response of FDS-US for frequency 'AM':
                $ref: '#/components/examples/postConsensusRatings'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusRatingsResponse'
              examples:
                Consensus Ratings response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/consensusRatings'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/detail-ratings:
    get:
      tags:
        - Ratings
      summary: >-
        Broker Detail estimates to fetch Buy, overWeight, Hold, underWeight, and
        Sell.
      operationId: getDetailRatings
      description: >
        Retrieves the Broker Level ratings for the requested Id and date range.
        Ratings include Buy, Hold, Sell, overWeight, and underWeight.

        <p>The `startDate` and `endDate` parameters controls the range of
        perspective dates. By default, the service will return the range of
        estimateDates within the latest company's reporting period. As you
        expand the date range, additional full historical reporting periods and
        all ratings estimateDates per broker will be returned.</p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/includeAll'
      responses:
        '200':
          description: Estimate Ratings data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailRatingsResponse'
              examples:
                Detail Ratings response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/detailRating'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Ratings
      summary: >-
        Broker Detail estimates to fetch Buy, overWeight, Hold, underWeight, and
        Sell.
      description: >
        Retrieves the Broker Level ratings for the requested Id and date range.
        Ratings include Buy, Hold, Sell, overWeight, and underWeight.

        <p>The `startDate` and `endDate` parameters controls the range of
        perspective dates. By default, the service will return the range of
        estimateDates within the latest company's reporting period. As you
        expand the date range, additional full historical reporting periods and
        all ratings estimateDates per broker will be returned.</p>
      operationId: getDetailRatingsForList
      requestBody:
        required: true
        description: Request object for Detail Reatings Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detailRatingsRequest'
            examples:
              Detail Ratings response of FDS-US:
                $ref: '#/components/examples/postDetailRating'
      responses:
        '200':
          description: Estimate Detail Ratings data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailRatingsResponse'
              examples:
                Detail Ratings response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/detailRating'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/surprise:
    get:
      tags:
        - Surprise
      summary: Surprise estimates for rolling fiscal periods
      operationId: getSurprise
      description: |
        Returns FactSet Estimates surprise data using rolling fiscal dates.
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/periodicitySurprise'
        - $ref: '#/components/parameters/statistic'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/surpriseResponse'
              examples:
                Surprise Example response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/surpriseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Surprise
      summary: Surprise estimates for rolling fiscal periods
      description: |
        Returns FactSet Estimates surprise data using rolling fiscal dates.
      operationId: getSurpriseForList
      requestBody:
        required: true
        description: Request object for `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/surpriseRequest'
            examples:
              Surprise response of FDS-US for SALES metrics:
                $ref: '#/components/examples/postSurpriseExample'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/surpriseResponse'
              examples:
                Surprise Example response of AAPL-USA for SALES metrics:
                  $ref: '#/components/examples/surpriseExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/segments:
    get:
      tags:
        - Segments
      summary: >-
        Retrieves product & geographic segment estimates for a requested list of
        ids and fiscal periods
      operationId: getSegments
      description: >
        Returns FactSet Estimates Consensus Data for the segments gathered from
        the Business, Geographical, or Actual Reconciliation (ADJUSTMENT)
        classifications by using fiscal periods with a reporting frequency. 
      parameters:
        - $ref: '#/components/parameters/segmentIds'
        - $ref: '#/components/parameters/segmentType'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/relativeFiscalStart'
        - $ref: '#/components/parameters/relativeFiscalEnd'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Segment Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsResponse'
              examples:
                Segments response of AAPL-USA for 'SALES' metrics and 'BUS' segmentType:
                  $ref: '#/components/examples/segments'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Segments
      summary: >-
        Retrieves product segment estimates for a requested list of ids and
        fiscal periods
      description: >
        Returns FactSet Estimates Data for the segments gathered from the
        Business, Geographical, or Actual Reconciliation (ADJUSTMENT)
        classifications by using fiscal periods with a reporting frequency. 
      operationId: getSegmentsForList
      requestBody:
        required: true
        description: Request object for Product Segments estimates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/segmentsRequest'
            examples:
              Segments response of AAPL-USA for 'SALES' metrics and 'BUS' segmentType:
                $ref: '#/components/examples/postSegments'
      responses:
        '200':
          description: Segments Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsResponse'
              examples:
                Segments response of AAPL-USA for 'SALES' metrics and 'BUS' segmentType:
                  $ref: '#/components/examples/segments'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/metrics:
    get:
      summary: Available Estimate metrics
      operationId: getEstimateMetrics
      tags:
        - Data Items
      description: >
        Returns list of available Estimate metrics that can be used in the
        `metrics` parameter of related endpoints.

        **By default, Factset provides Estimated items in millions across all
        currencies. For specific metric methodology definitions, reference the
        `OAurl` response items to launch the available methodology page.** 
      parameters:
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/subcategory'
      responses:
        '200':
          description: Estimate data metric items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metricsResponse'
              examples:
                Mertics response with 'FINANCIAL_STATEMENT' category and '--' subcategory:
                  $ref: '#/components/examples/metricsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Available Estimate metrics or ratios.
      operationId: getEstimateMetricsForList
      tags:
        - Data Items
      description: >
        Returns list of available Estimate metrics that can be used in the
        `metrics` parameter of related endpoints.

        **By default, Factset provides Estimated items in millions across all
        currencies. For specific metric methodology definitions, reference the
        `OAurl` response items to launch the available methodology page.** 
      requestBody:
        required: true
        description: Request object for requesting estimates data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/metricsRequest'
            examples:
              Mertics response with 'FINANCIAL_STATEMENT' category and 'AIRLINES' subcategory:
                $ref: '#/components/examples/postMetricsExample'
      responses:
        '200':
          description: List of Estimate metric Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metricsResponse'
              examples:
                Metrics response with 'FINANCIAL_STATEMENT' category and '--' subcategory:
                  $ref: '#/components/examples/metricsExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/company-reports/analyst-ratings:
    get:
      tags:
        - Estimates and Ratings Reports
      summary: >-
        Retrieves the historical monthly view of analyst ratings for a given
        identifier.
      description: >
        Returns historical monthly view of analyst ratings for given identifier
        upto a period of 12 months.
      operationId: getAnalystRatings
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Analyst-ratings data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalystRatingResponse'
              examples:
                Result of Single Company details:
                  $ref: '#/components/examples/resultOfSingleId'
        '400':
          $ref: '#/components/responses/400Cr'
        '401':
          $ref: '#/components/responses/401Cr'
        '403':
          $ref: '#/components/responses/403Cr'
        '404':
          $ref: '#/components/responses/404Cr'
        '415':
          $ref: '#/components/responses/415Cr'
        '500':
          $ref: '#/components/responses/500Cr'
  /factset-estimates/v2/company-reports/forecast:
    get:
      tags:
        - Estimates and Ratings Reports
      summary: Returns forecasted estimates.
      description: >
        This endpoint returns up to 4 years of forecasted consensus estimates
        made by analysts for various financial metrics such as EPS, Sales, and
        more.


        **Note :**
          Due to variations in methodology, with the workstation using intra-day prices and our API using the previous day's closing prices, there may be some minor differences in the values of FactSet Estimates Valuation Items.
      operationId: getEstimates
      parameters:
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/estimateType'
        - $ref: '#/components/parameters/periodicityForecast'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
              examples:
                Result for a given identifier and estimate type:
                  $ref: '#/components/examples/EstimatesResponse'
        '400':
          $ref: '#/components/responses/400Cr'
        '401':
          $ref: '#/components/responses/401Cr'
        '403':
          $ref: '#/components/responses/403Cr'
        '404':
          $ref: '#/components/responses/404Cr'
        '415':
          $ref: '#/components/responses/415Cr'
        '500':
          $ref: '#/components/responses/500Cr'
  /factset-estimates/v2/company-reports/estimate-types:
    get:
      tags:
        - Estimates and Ratings Reports
      summary: Returns a list of valid estimate types.
      description: >
        This endpoint retrieves a list of valid estimate types that can be used
        in the /company-reports/forecast and /company-reports/surprise-history
        end points.
      operationId: getEstimateTypes
      responses:
        '200':
          description: Estimate type data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateTypesResponse'
              examples:
                List of valid estimate types:
                  $ref: '#/components/examples/EstimateTypesResponse'
        '400':
          $ref: '#/components/responses/400Cr'
        '401':
          $ref: '#/components/responses/401Cr'
        '403':
          $ref: '#/components/responses/403Cr'
        '404':
          $ref: '#/components/responses/404Cr'
        '415':
          $ref: '#/components/responses/415Cr'
        '500':
          $ref: '#/components/responses/500Cr'
  /factset-estimates/v2/company-reports/surprise-history:
    get:
      tags:
        - Estimates and Ratings Reports
      summary: Surprise History
      description: Returns surprise history for the given security
      operationId: getSurpriseHistory
      parameters:
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/estimateType'
        - $ref: '#/components/parameters/periodicityForecast'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurpriseHistoryResponse'
              examples:
                Result for a given identifier and estimate type:
                  $ref: '#/components/examples/SurpriseHistoryResponse'
        '400':
          $ref: '#/components/responses/400Cr'
        '401':
          $ref: '#/components/responses/401Cr'
        '403':
          $ref: '#/components/responses/403Cr'
        '404':
          $ref: '#/components/responses/404Cr'
        '415':
          $ref: '#/components/responses/415Cr'
        '500':
          $ref: '#/components/responses/500Cr'
  /factset-estimates/v2/actuals:
    get:
      tags:
        - Actuals
      summary: >-
        Retrieves actuals for a requested list of ids and reported fiscal
        periods.
      operationId: getActuals
      description: |
        Returns FactSet Estimates actuals data using reported fiscal dates. <p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/relativeFiscalStartActuals'
        - $ref: '#/components/parameters/relativeFiscalEndActuals'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actualsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Actuals
      summary: >-
        Retrieves actuals for a requested list of ids and reported fiscal
        periods.
      description: |
        Returns FactSet Estimates actuals data using reported fiscal dates. <p>
      operationId: getActualsForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actualsRequest'
      responses:
        '200':
          description: List of Estimate metric Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actualsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/segment-actuals:
    get:
      tags:
        - Segment Actuals
      summary: >-
        Retrieves Segment Actuals for a requested list of ids and reported
        fiscal periods.
      operationId: getSegmentActuals
      description: >
        Returns FactSet Estimates Actuals data using rolling fiscal dates for
        company business and geographic segments. <p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/segmentType'
        - $ref: '#/components/parameters/metricSegments'
        - $ref: '#/components/parameters/relativeFiscalStartActuals'
        - $ref: '#/components/parameters/relativeFiscalEndActuals'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentActualsResponse'
              examples:
                Segment Actuals Response:
                  $ref: '#/components/examples/segmentActuals'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Segment Actuals
      summary: >-
        Retrieves Segment Actuals for a requested list of ids and reported
        fiscal periods.
      description: >
        Returns FactSet Estimates Actuals data using rolling fiscal dates for
        company business and geographic segments. <p>
      operationId: getSegmentActualsForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/segmentActualsRequest'
      responses:
        '200':
          description: List of Estimate metric Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentActualsResponse'
              examples:
                Segment Actuals Response:
                  $ref: '#/components/examples/segmentActuals'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-estimates/v2/guidance:
    get:
      tags:
        - Guidance
      summary: Retrieves guidance for a requested list of ids and dates.
      operationId: getGuidance
      description: >
        Returns FactSet Estimates guidance data for the current unreported
        period as of the requested dates. </p>
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/relativeFiscalStart'
        - $ref: '#/components/parameters/relativeFiscalEnd'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/guidanceResponse'
              examples:
                Guidance Response:
                  $ref: '#/components/examples/guidanceExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Guidance
      summary: Retrieves guidance for a requested list of ids and dates.
      description: >
        Returns FactSet Estimates guidance data for the current unreported
        period as of the requested dates. <p>
      operationId: getGuidanceForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/guidanceRequest'
      responses:
        '200':
          description: List of Estimate metric Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/guidanceResponse'
              examples:
                Guidance Response:
                  $ref: '#/components/examples/guidanceExample'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    identifier:
      name: id
      in: query
      schema:
        type: string
        example: IBM-US
      required: true
      description: >-
        The requested security identifier. Accepted ID types include Market
        Ticker, SEDOL, ISIN, CUSIP, or FactSet Permanent Id.
    estimateType:
      name: estimateType
      in: query
      schema:
        type: string
        example: EPS
      required: true
      description: >-
        The requested estimate type. Please use /meta/estimate-types to find all
        allowed values for this parameter.
    _paginationLimit:
      name: _paginationLimit
      in: query
      description: Specifies the number of results to return per page.
      required: false
      schema:
        type: integer
        default: 50
        maximum: 500
    _paginationOffset:
      name: _paginationOffset
      in: query
      description: >-
        Specifies the starting point for pagination. This parameter is used to
        identify the beginning of next set of results.
      required: false
      schema:
        type: integer
        default: 0
    id:
      name: id
      in: query
      schema:
        type: string
      required: true
      description: >
        The requested security identifier. Accepted ID types include Market
        Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs.
      example: AAPL-US
    ids:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 3000
      required: true
      explode: false
      description: >
        Security or Entity identifiers. Accepted inputs include FactSet
        Identifiers, tickers, CUSIP, and SEDOL.

        <p><b>Performance Note:</b> Requests that increase the number of metrics
        or request long historical data may trigger the 30-second service
        timeout threshold. To ensure system stability and performance, please
        keep requests lightweight.</p>

        <p>If requesting long historical data, limit the history to <b>10 years
        per metric per ID</b>.</p>
      examples:
        oneId:
          summary: One Market Identifier
          value:
            - AAPL-USA
        multipleIds:
          summary: Multiple Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    segmentIds:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 50
      required: true
      explode: false
      description: >
        Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and
        SEDOL are accepted input. <p>***ids limit** =  50 per request*</p> _Make
        Note - id limit of 50 for defaults, otherwise the service is limited to
        a 30 second duration. This can be reached when increasing total number
        of metrics requested and depth of history._
      examples:
        oneId:
          summary: One Market Identifier
          value:
            - AAPL-USA
        multipleIds:
          summary: Multiple Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    relativeFiscalStart:
      name: relativeFiscalStart
      in: query
      required: false
      schema:
        type: integer
        minimum: -20
        maximum: 20
      description: >-
        Relative fiscal period, expressed as an integer, used to filter results.
        This is combined with the periodicity parameter to specify a relative
        estimate period. For example, set to 1 and periodicity to ANN to ask for
        relative Fiscal Year 1 (FY1).
      example: 1
    relativeFiscalEnd:
      name: relativeFiscalEnd
      in: query
      required: false
      schema:
        type: integer
        minimum: -20
        maximum: 20
      description: >-
        Relative fiscal period, expressed as an integer, used to filter results.
        This is combined with the periodicity parameter to specify a relative
        estimate period. For example, set to 2 and periodicity to ANN to ask for
        relative Fiscal Year 1 (FY2).
      example: 2
    relativeFiscalStartActuals:
      name: relativeFiscalStart
      in: query
      required: false
      schema:
        type: integer
        maximum: 0
        exclusiveMaximum: false
      description: >-
        Relative fiscal period, expressed as an integer, used to filter results.
        This is combined with the periodicity parameter to specify a relative
        estimate period. FactSet Estimates Actuals provides data for past
        periods. Therefore, the input for `relativeFiscalStart` must be an
        integer that is zero or less. For example, set to 0 and periodicity to
        ANN to ask for the current reported year (FY0). 
      example: -2
    relativeFiscalEndActuals:
      name: relativeFiscalEnd
      in: query
      required: false
      schema:
        type: integer
        maximum: 0
        exclusiveMaximum: false
      description: >-
        Relative fiscal period, expressed as an integer, used to filter results.
        This is combined with the periodicity parameter to specify a relative
        estimate period.Therefore, the input for `relativeFiscalEnd` must be an
        integer that is zero or less.  For example, set to -2 and periodicity to
        ANN to ask for two fiscal years before the latest (FY-2).
      example: 0
    fiscalPeriodStart:
      name: fiscalPeriodStart
      in: query
      required: false
      schema:
        type: string
      description: >
        Fiscal period start expressed in absolute date formats. Date that will
        fall back to most recent completed period during resolution.
          * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)
          * **Fiscal Year-end** - YYYY (e.g. 2019)
      example: '2019'
    fiscalPeriodEnd:
      name: fiscalPeriodEnd
      in: query
      required: false
      schema:
        type: string
      description: >
        Fiscal period start expressed in absolute date formats. Date that will
        fall back to most recent completed period during resolution.
          * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)
          * **Fiscal Year-end** - YYYY (e.g. 2019)
      example: '2020'
    periodicity:
      name: periodicity
      in: query
      required: false
      schema:
        type: string
        enum:
          - ANN
          - QTR
          - SEMI
          - NTMA
          - LTMA
        default: ANN
      description: >
        The periodicity for the estimates requested, allowing you to fetch
        Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.
          * **ANN** - Annual
          * **QTR** - Quarterly
          * **SEMI** - Semi-Annual 
          * **NTMA** - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage of annual estimates from two fiscal years to create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614) for detail.
          * **LTMA** - Last-Twelve-Months - Time-weighted Annual. Estimates use a percentage of annual estimates from two fiscal years to create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614) for detail.
          
    periodicityForecast:
      name: periodicity
      in: query
      required: false
      schema:
        type: string
        enum:
          - ANN
          - QTR
        default: ANN
      description: >
        The periodicity for the estimates requested, allowing you to fetch
        Quarterly and Annual Estimates.
          * **ANN** - Annual
          * **QTR** - Quarterly
    periodicityDetail:
      name: periodicity
      in: query
      required: false
      schema:
        type: string
        enum:
          - ANN
          - QTR
          - SEMI
        default: ANN
      description: >
        The periodicity for the estimates requested, allowing you to fetch
        Quarterly, Semi-Annual, and Annual Estimates.
          * **ANN** - Annual
          * **QTR** - Quarterly
          * **SEMI** - Semi-Annual 
    periodicitySurprise:
      name: periodicity
      in: query
      required: false
      schema:
        type: string
        enum:
          - ANN
          - QTR
          - SEMI
        default: ANN
      description: >
        The periodicity for the estimates requested, allowing you to fetch
        Quarterly, Semi-Annual and Annual Estimates.
          * **ANN** - Annual
          * **QTR** - Quarterly
          * **SEMI** - Semi-Annual 
    metrics:
      name: metrics
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
          example: SALES
        minItems: 1
      explode: false
      description: >
        Requested metrics. Use the `/metrics` endpoint to return a list of
        available estimate items. **Top 10** most used metrics are **EPS, SALES,
        DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more
        details, visit [Online Assistant Page
        #15034](https://oa.apps.factset.com/pages/15034).
      examples:
        Metric:
          summary: Metrics
          value:
            - SALES
    statistic:
      name: statistic
      in: query
      required: false
      schema:
        type: string
        enum:
          - MEAN
          - MEDIAN
          - HIGH
          - LOW
          - COUNT
          - STDDEV
        default: MEAN
      description: Statistic for consensus calculation.
    currency:
      name: currency
      in: query
      required: false
      schema:
        type: string
      description: >-
        Currency code for adjusting the data. Use `ESTIMATE` as input value for
        the values in Estimate Currency. For a list of currency ISO codes, visit
        [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
      description: >-
        Start date for point in time of estimates expressed in YYYY-MM-DD
        format.
      example: '2019-07-30'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
      description: End date for point in time of estimates expressed in YYYY-MM-DD format.
      example: '2019-08-30'
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
          - D
          - W
          - AM
          - AQ
          - AY
        default: AM
      description: |
        Controls the frequency of the data returned.
          * **D** = Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).      
          * **AQ** = Quarterly, based on the start date.
          * **AY** = Actual Annual, based on the start date. 
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Weekly:
          summary: W - Weekly - based on the last day of the week of the start date
          value: W
        Actual Month:
          summary: >-
            AM - Actual Month - based on the startDate (e.g., if the start date
            is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
    category:
      name: category
      in: query
      schema:
        type: string
        enum:
          - FINANCIAL_STATEMENT
          - INDUSTRY_METRIC
          - OTHER
      required: false
      description: |
        Filters the list of Estimate metrics by major category -
          * **FINANCIAL_STATEMENT** = Includes Balance Sheet, Cash Flow, and Income Statement.
          * **INDUSTRY_METRICS** = Industry specific metrics.
          * **OTHER** = Target Price
    subcategory:
      name: subcategory
      in: query
      schema:
        type: string
        enum:
          - AIRLINES
          - BALANCE_SHEET
          - BANKS
          - CASH_FLOW
          - COMMODITIES
          - COMPUTER_HARDWARE
          - CONSUMER_SERVICES
          - EDUCATION
          - FINANCIAL_SERVICE_PROVIDER
          - FOREX
          - HOME_BUILDERS
          - HOSPITALS
          - HOTELS
          - INCOME_STATEMENT
          - INSURANCE
          - MARIJUANA
          - MINING
          - MISCELLANEOUS
          - MULTIFINANCIAL
          - OIL_AND_GAS
          - OTHER
          - POWER_AND_UTILITIES
          - REITS
          - RESTAURANTS
          - RETAILERS
          - SOCIAL_MEDIA_AND_GAMES
          - TELECOMMUNICATIONS
          - TRANSPORTATION
      required: false
      description: >
        Sub-Category Filter for the Primary Category Requested. Choose a related
        sub-category for the Category requested. For methodology, visit [OA
        16038](https://my.apps.factset.com/oa/pages/16038) <p>Financial
        Statement - 
          * **BALANCE_SHEET** - Balance Sheet line items, such as Assets, Long-term Debt, and more.
          * **CASH_FLOW** - Cash Flow Statement line items, such as Free Cash Flow and Share Repurchases
          * **INCOME_STATEMENT** - Income Statement line items, such as EPS, Sales, DPS, and more.
          * **MISCELLANEOUS** - EPS Long Term Growth
        </p> <p> Industry Metrics - 

          * **AIRLINES** - Including items such as Revenue Passenger, Total Revenue per ASK, Available Seats, and more.
          * **BANKS** - Including items such as Net Interest Income, Trading Income, Net Loans, and more. SUPPLEMENTAL
          * **COMMODITIES** - Including items such as Average Target Price.
          * **COMPUTER_HARDWARE** - Including items such as Total Addressable Market.
          * **CONSUMER_SERVICES** - Including items such as Gross Merchandise Volume
          * **EDUCATION** - Including Items such as Total Student Enrollment
          * **FINANCIAL_SERVICE_PROVIDER** - Including items such as Annual Subscription Value
          * **FOREX** - Including items such as USD/JPY
          * **HOME_BUILDERS** - Including items such as Home Sales, Land Sales, Cancellation Rates, and more.
          * **HOSPITALS** - Including items such as Bad Debt Provisions, Medical Cost Ratio, SS Admissions and more.
          * **HOTELS** - Including items such as Average Daily Rate, Occupancy %, RevPAR, and more.
          * **INSURANCE** - Including items such as Gross Premiums Written, Underwriting Income, and Claims.
          * **HOSPITALS** - Including items such as Bad Debt Provisions, Medical Cost Ratio, SS Admissions and more.
          * **HOTELS** - Including items such as Average Daily Rate, Occupancy %, RevPAR, and more.
          * **INSURANCE** - Including items such as Gross Premiums Written, Underwriting Income, and Claims.
          * **MARIJUANA** - Including items such as Cost per Gram and Kg of Cannabis Sold.
          * **MINING** - Including items such as Realized Price and Total Production
          * **MULTIFINANCIAL** - Including items such as AUM, Net Flows, and Fee Related Earnings.
          * **OIL_AND_GAS** - Including items such as Downstream Income, Production per Day, and Exploration Expense.
          * **OTHER** - Target Price
          * **POWER_AND_UTILITIES** - Including items such as Average Ratebase, Cash Conversion, and more.
          * **REITS** - Including items such as Funds from Operations, Implied Cap Rate, and LTV.
          * **RESTAURANTS** - Including items such as Restaurant Margin.
          * **RETAILERS** - Including items such as Stores Information, Selling Space and Net sales per square foot.
          * **SOCIAL_MEDIA_AND_GAMES** - Including items such as Daily Active Users and Monthly Unique Users. 
          * **TELECOMMUNICATIONS** - Including items such as Gross Adds, Monthly Revenue Per User, Churn, and more.
          * **TRANSPORTATION** - Including items such as Revenue Per Unit, Volume Growth, and Operating Ratio.</p>
          
    includeAll:
      name: includeAll
      in: query
      schema:
        type: boolean
        default: false
      required: false
      description: >
        Include All filter is used to identify included and excluded broker
        details from the consensus
          By default the service would return only the brokers included in the consensus-
          * **TRUE** = Returns all the brokers included and excluded in the consensus
          * **FALSE** = Returns only the broker details included in the consensus
          
    segmentType:
      name: segmentType
      in: query
      required: true
      schema:
        type: string
        enum:
          - BUS
          - GEO
        default: BUS
      description: |
        Controls the type of segment selected.
          * **BUS** = Business / Product Segment
          * **GEO** = Geographic Segment
      examples:
        Business:
          summary: BUS - Business Segments
          value: BUS
        Geographic:
          summary: GEO - Geographic Segments
          value: GEO
    metricSegments:
      name: metrics
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
          enum:
            - ASP
            - ARR
            - CAPEX
            - CCUR_GRTH
            - COS
            - CFO_GAAP
            - DELIVERIES_UNITS
            - EPS
            - EBIT
            - EBIT_REP
            - EBITDA
            - EBITDA_REP
            - G_A_EXP
            - GROSS_INC
            - GMV
            - LCUR_GRTH
            - NET_ADDS
            - NET_INC
            - NET_SALES
            - SUBSCRIBERS_NB
            - ORGANICGROWTH
            - PTX_INC
            - RATEBASE
            - AVGRATEBASE
            - SALES
            - SAMESTORESALES
            - SGA
            - S_M_EXP
            - REV_TOT
            - UNITS
            - NEW_ORDERS_VALUE
            - BACKLOG_VALUE
            - MCR
            - CASH_COST
            - REAL_PRICE
            - DAU
            - ARPU
            - CONTR_PROF
            - PAIDNADDS
        default:
          - SALES
      description: >
        Requested metrics for segment actuals. An asterisk denotes metric items
        included for geographic segments. Note, the number of metrics you are
        allowed to supply is limited to 1 for now. For more details, visit
        [Online Assistant Page

        #15034](https://oa.apps.factset.com/pages/15034).


        <h3>Financial Metrics</h3>

        |field|description|

        |---|---|

        |ASP|Average Selling Price|

        |ARR|Annual Recurring Revenue|

        |CAPEX|Capital Expenditures|

        |CCUR_GRTH*|Constant Currency Revenue Growth*|

        |COS*|Cost of Sales*|

        |CFO_GAAP|Chief Financial Officer (GAAP)|

        |DELIVERIES_UNITS|Deliveries Units|

        |EPS|Earnings Per Share|

        |EBIT*|Earnings Before Interest and Taxes*|

        |EBIT_REP|Earnings Before Interest and Taxes - Reported|

        |EBITDA*|Earnings Before Interest, Taxes, Depreciation, and
        Amortization*|

        |EBITDA_REP|Earnings Before Interest, Taxes, Depreciation, and
        Amortization - Reported|

        |G_A_EXP|General & Admin Expense|

        |GROSS_INC*|Gross Income*|

        |GMV*|Gross Merchandise Volume*|

        |LCUR_GRTH*|Local Currency Revenue Growth*|

        |NET_ADDS|Net Adds|

        |NET_INC*|Net Profit*|

        |NET_SALES*|Net Sales*|

        |SUBSCRIBERS_NB*|Number of Subscribers*|

        |ORGANICGROWTH*|Organic Growth*|

        |PTX_INC|Pre-Tax Income|

        |RATEBASE*|Ratebase*|

        |AVGRATEBASE|Avg. Ratebase|

        |SALES*|Sales*|

        |SAMESTORESALES|Same Store Sales|

        |SGA|Selling, General & Administrative Expenses|

        |S_M_EXP|Selling & Marketing Expenses|

        |REV_TOT*|Total Revenues*|



        <h3>Industry Metrics</h3>

        |field|description|

        |---|---|

        |UNITS|Units|

        |NEW_ORDERS_VALUE*|Home Builders - New Orders Value*|

        |BACKLOG_VALUE|Home Builders - Backlog Value|

        |MCR|Hospitals - Medical Cost Ratio (%)|

        |CASH_COST|Mining - Cash Cost|

        |REAL_PRICE|Mining - Real Price|

        |DAU*|Social Media/Games - Daily Active Users*|

        |ARPU|Telecoms - Average Revenue Per User (ARPU)|

        |CONTR_PROF|Telecoms - Contribution Profit|

        |PAIDNADDS|Telecoms - Paid Net Adds|
      examples:
        Metric:
          summary: Metrics
          value:
            - SALES
  schemas:
    companyReportsErrorResponse:
      type: object
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/ErrorObject'
    ErrorObject:
      type: object
      properties:
        id:
          type: string
          description: uuid
          format: uuid
          example: e8d9a8a7-bcf6-4d9d-9630-40a23fb6fc4d
        code:
          type: string
          description: Common Error code
          example: Bad Request
        title:
          type: string
          description: Short error description
          example: Invalid Parameter Format
        detail:
          type: string
          description: Error details explanation
          example: >-
            The value provided for estimate type is wrong. Please use
            meta/estimate-types to find valid estimate types.
    EstimateTypesResponse:
      type: object
      title: Estimate Types Response
      description: Array of valid estimate types.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EstimateType'
    EstimateType:
      type: object
      properties:
        type:
          type: string
          example: EPS
        description:
          type: string
          example: Earnings Per Share
    EstimateResponse:
      type: object
      title: Estimate Response
      description: >-
        Array of estimate objects for the given identifier, estimate type and
        periodicity
      properties:
        data:
          type: object
          properties:
            requestId:
              type: string
              description: Identifier that was used for the request.
              example: IBM-US
            fsymId:
              type: string
              description: >-
                FactSet regional security identifier. Six alpha-numeric
                characters, excluding vowels, with an -R suffix (XXXXXX-R).
                Identifies the security's best regional security data series per
                currency. For equities, all primary listings per region and
                currency are allocated a regional-level permanent identifier.
                The regional-level permanent identifier will be available once a
                SEDOL representing the region/currency has been allocated and
                the identifiers are on FactSet.
              example: SJY281-R
              nullable: true
            periodicity:
              type: string
              description: Periodicity or frequency of the fiscal periods.
              example: ANN
            estimateType:
              type: string
              description: The requested estimate type
              example: EPS
            estimates:
              type: array
              description: Array of estimate
              items:
                $ref: '#/components/schemas/Estimate'
    Estimate:
      type: object
      properties:
        endDate:
          type: string
          description: >-
            Fiscal period end date for which the consensus estimate is being
            forecasted.
          format: date
          example: '2022-01-01'
          nullable: true
        currency:
          type: string
          description: >-
            Currency used for calculations, majority currency in which the
            analysts are contributing their estimates. For a list of supported
            ISO currency codes, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        high:
          type: number
          description: >-
            The highest estimate provided by the analysts for the specified
            period.
          format: double
          example: 5.1
          nullable: true
        low:
          type: number
          description: >-
            The lowest estimate provided by the analysts for the specified
            period.
          format: double
          example: 1.5
          nullable: true
        up:
          type: integer
          description: Number of estimates revised upwards.
          example: 1
          nullable: true
        down:
          type: integer
          description: Number of estimates revised downwards.
          example: 1
          nullable: true
        analystCount:
          type: integer
          description: The number of analysts who provided estimates for the given period.
          example: 10
          nullable: true
        mean:
          type: number
          description: >-
            The average of all estimates provided by the analysts for the
            specified period.
          format: double
          example: 3.1
          nullable: true
        median:
          type: number
          description: >-
            The median of all estimates provided by the analysts for the
            specified period.
          format: double
          example: 2.5
          nullable: true
        standardDeviation:
          type: number
          description: Measure of the dispersion of estimates around the consensus value.
          format: double
          example: 0.5
          nullable: true
    SurpriseHistoryResponse:
      type: object
      title: Surprise History Response
      description: >-
        Array of surprise history objects for the given identifier, estimate
        type and periodicity.
      properties:
        data:
          type: object
          properties:
            requestId:
              type: string
              description: Identifier that was used for the request.
              example: IBM-US
            fsymId:
              type: string
              description: >-
                FactSet regional security identifier. Six alpha-numeric
                characters, excluding vowels, with an -R suffix (XXXXXX-R).
                Identifies the security's best regional security data series per
                currency. For equities, all primary listings per region and
                currency are allocated a regional-level permanent identifier.
                The regional-level permanent identifier will be available once a
                SEDOL representing the region/currency has been allocated and
                the identifiers are on FactSet.
              example: SJY281-R
              nullable: true
            periodicity:
              type: string
              description: Periodicity or frequency of the fiscal periods.
              example: ANN
            estimateType:
              type: string
              description: The requested estimate type
              example: EPS
            surpriseHistory:
              type: array
              items:
                $ref: '#/components/schemas/SurpriseHistory'
        meta:
          $ref: '#/components/schemas/Meta'
    SurpriseHistory:
      type: object
      properties:
        endDate:
          type: string
          description: >-
            Fiscal period end date for which the consensus estimate is being
            forecasted.
          format: date
          example: '2022-01-01'
          nullable: true
        currency:
          type: string
          description: >-
            Currency used for calculations, majority currency in which the
            analysts are contributing their estimates. For a list of supported
            ISO currency codes, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        high:
          type: number
          description: >-
            The highest estimate provided by the analysts for the specified
            period.
          format: double
          example: 5.1
          nullable: true
        low:
          type: number
          description: >-
            The lowest estimate provided by the analysts for the specified
            period.
          format: double
          example: 0.7
          nullable: true
        up:
          type: integer
          description: Number of estimates revised upwards.
          example: 1
          nullable: true
        down:
          type: integer
          description: Number of estimates revised downwards.
          example: 1
          nullable: true
        analystCount:
          type: integer
          description: The number of analysts who provided estimates for the given period.
          example: 10
          nullable: true
        mean:
          type: number
          description: >-
            The average of all estimates provided by the analysts for the
            specified period.
          format: double
          example: 3.12
          nullable: true
        median:
          type: number
          description: >-
            The median of all estimates provided by the analysts for the
            specified period.
          format: double
          example: 2.5
          nullable: true
        standardDeviation:
          type: number
          description: Measure of the dispersion of estimates around the consensus value.
          format: double
          example: 0.5
          nullable: true
        actual:
          type: number
          format: double
          example: 0.6
          nullable: true
        surprisePercent:
          type: number
          description: >-
            Percent difference between last consensus and actual. For more
            details, visit [Online Assistant Page
            #16145](https://oa.apps.factset.com/pages/16145).
          format: double
          example: 0.6
          nullable: true
    Meta:
      title: Meta
      description: Array of metadata objects.
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      title: Pagination
      description: List of pagination objects
      type: object
      properties:
        total:
          description: Total number of records the API returns for a particular query.
          type: integer
        isEstimatedTotal:
          description: >-
            Boolean value that represents whether the total count of records
            returned is exact or an estimate. This is defaulted to False as the
            API should always return the exact count.
          type: boolean
    rollingConsensusRequest:
      title: Rolling Consensus Request Body
      description: Request object for requesting rolling consensus estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        relativeFiscalStart:
          $ref: '#/components/schemas/relativeFiscalStart'
        relativeFiscalEnd:
          $ref: '#/components/schemas/relativeFiscalEnd'
        periodicity:
          $ref: '#/components/schemas/periodicity'
        currency:
          $ref: '#/components/schemas/currency'
      required:
        - ids
        - metrics
    consensusResponse:
      type: object
      title: Consensus Response
      properties:
        data:
          description: Array of consensus estimate objects
          type: array
          items:
            $ref: '#/components/schemas/consensusEstimate'
    consensusEstimate:
      title: Consensus Estimate
      type: object
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: >-
            Company's Financial statement 'metric' that is estimated. Use the
            factset-estimates/v#/metrics endpoint for a complete list. For more
            details, visit [Online Assistant Page
            #15034](https://oa.apps.factset.com/pages/15034)
          type: string
          example: SALES
          nullable: true
        periodicity:
          description: >-
            The reporting interval for the estimate. This is derived from
            Estimate Date and is translated to the Period List = ANN, QTR, SEMI,
            LTMA, or NMTA.
          type: string
          example: ANN
          nullable: true
        fiscalPeriod:
          description: >-
            Company's 'fiscal period' for the estimate record. Periods for
            periodicity of ANN = 1, and SEMI = 2. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598).
          type: integer
          example: 4
          nullable: true
        fiscalYear:
          description: >-
            Company's 'fiscal year' for the estimate record. For more details,
            visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: integer
          example: 2018
          nullable: true
        fiscalEndDate:
          description: >-
            Company's 'fiscal end date' for the estimate record expressed in
            YYYY-MM-DD format. For more details, visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        relativePeriod:
          description: >-
            'Fiscal period' based on relationship to 'estimate date'. This is
            not applicable for fixed-consensus endpoint. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: integer
          example: 2
          nullable: true
        estimateDate:
          description: >-
            Date of estimate expressed in YYYY-MM-DD format. For more details,
            visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        currency:
          description: >-
            Currency code for adjusting the data. Use 'ESTIMATE' as input value
            for the values in Estimate Currency. For a list of currency ISO
            codes, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
        mean:
          description: >-
            Mean of estimates in consensus calculation. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114)
          type: number
          format: double
          example: 12345.01
          nullable: true
        median:
          description: >-
            Median of estimates in consensus calculation. For more details,
            visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114)
          type: number
          format: double
          example: 12346.01
          nullable: true
        standardDeviation:
          description: >-
            Standard deviation of estimates in consensus calculation. For more
            details, visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114)
          type: number
          format: double
          example: 0.011034
          nullable: true
        high:
          description: >-
            Highest estimate in consensus calculation. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114).
          type: number
          format: double
          example: 12349.01
          nullable: true
        low:
          description: >-
            Lowest estimate in consensus calculation. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114)
          type: number
          format: double
          example: 12344.01
          nullable: true
        estimateCount:
          description: >-
            Count or NEST of estimates in consensus calculation. For more
            details, visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114)
          type: integer
          example: 20
          nullable: true
        up:
          description: >-
            Number of Up Revisions within the consensus for the metric and
            period. The default window size is 100 days For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114).
          type: integer
          example: 6
          nullable: true
        down:
          description: >-
            Number of Up Revisions within the consensus for the metric and
            period. The default window size is 100 days. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114).
          type: integer
          example: 4
          nullable: true
    fixedConsensusRequest:
      title: Fixed Consensus Request Body
      description: Request object for requesting fixed consensus estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        fiscalPeriodStart:
          $ref: '#/components/schemas/fiscalPeriodStart'
        fiscalPeriodEnd:
          $ref: '#/components/schemas/fiscalPeriodEnd'
        periodicity:
          $ref: '#/components/schemas/periodicity'
        currency:
          $ref: '#/components/schemas/currency'
      required:
        - ids
        - metrics
    surpriseRequest:
      title: Surprise Request Body
      description: Request object for requesting surprise estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        periodicity:
          $ref: '#/components/schemas/periodicitySurprise'
        currency:
          $ref: '#/components/schemas/currency'
        statistic:
          $ref: '#/components/schemas/statistic'
      required:
        - ids
        - metrics
    surpriseResponse:
      title: Surprise Response
      type: object
      properties:
        data:
          description: Array of surprises
          type: array
          items:
            $ref: '#/components/schemas/surprise'
    surprise:
      title: Surprise
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        date:
          description: Date for data expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        currency:
          description: >-
            Currency code for adjusting the data. Use 'ESTIMATE' as input value
            for the values in Estimate Currency. For a list of currency ISO
            codes, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
        metric:
          description: >-
            Company's Financial statement 'metric' that is estimated. Use the
            factset-estimates/v#/metrics endpoint for a complete list. For more
            details, visit [Online Assistant Page
            #15034](https://oa.apps.factset.com/pages/15034).
          type: string
          example: SALES
          nullable: true
        statistic:
          description: >-
            Method of calculation for the consensus 'statistic'. For more
            details, visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16114).
          type: string
          example: MEAN
          nullable: true
        periodicity:
          description: >-
            Company's 'periodicity' for the estimate record, reflecting Annual,
            Quarterly, or Semi-Annual report periods. Next-twelve-months (NTMA)
            and Last-twelve-months (LTMA) also supported.
          type: string
          example: ANN
          nullable: true
        fiscalEndDate:
          description: >-
            Company's 'fiscal end date' for the estimate record expressed in
            YYYY-MM-DD format
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        fiscalYear:
          description: Company's 'fiscal year' for the estimate record
          type: integer
          example: 2018
          nullable: true
        fiscalPeriod:
          description: >-
            Company's 'fiscal period' for the estimate record.  'Periodicity'
            defines context for period.
          type: integer
          example: 4
          nullable: true
        surpriseDate:
          description: >-
            Date of the reported event expressed in YYYY-MM-DD format. For more
            details, visit [Online Assistant Page
            #16601](https://oa.apps.factset.com/pages/16601).
          type: string
          format: date
          example: '2017-02-24'
          nullable: true
        surpriseAmount:
          description: >-
            Amount of difference between last consensus and actual. For more
            details, visit [Online Assistant Page
            #16145](https://oa.apps.factset.com/pages/16145).
          type: number
          format: double
          example: 0.07951
          nullable: true
        surprisePercent:
          description: >-
            Percent difference between last consensus and actual. For more
            details, visit [Online Assistant Page
            #16145](https://oa.apps.factset.com/pages/16145).
          type: number
          format: double
          example: 6.16
          nullable: true
        surpriseBefore:
          description: >-
            Last consensus before event. For more details, visit [Online
            Assistant Page #16145](https://oa.apps.factset.com/pages/16145).
          type: number
          format: double
          example: 1.2905
          nullable: true
        surpriseAfter:
          description: >-
            Actual value after event. For more details, visit [Online Assistant
            Page #16145](https://oa.apps.factset.com/pages/16145).
          type: number
          format: double
          example: 1.3653
          nullable: true
        eventDescription:
          description: >-
            Description of event. For more details, visit [Online Assistant Page
            #16601](https://oa.apps.factset.com/pages/16601).
          type: string
          example: Results for 2016
          nullable: true
        eventFlag:
          description: >-
            Flag for event. Code of Event Flag, where 0 = results and 1 = profit
            warning. For more details, visit [Online Assistant Page
            #16601](https://oa.apps.factset.com/pages/16601).
          type: integer
          example: 0
          nullable: true
        requestId:
          type: string
          example: IBM-US
    rollingDetailRequest:
      title: Rolling Detail Request Body
      description: Request object for requesting rolling detail estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        includeAll:
          $ref: '#/components/schemas/includeAll'
        relativeFiscalStart:
          $ref: '#/components/schemas/relativeFiscalStart'
        relativeFiscalEnd:
          $ref: '#/components/schemas/relativeFiscalEnd'
        periodicity:
          $ref: '#/components/schemas/periodicityDetail'
        metrics:
          $ref: '#/components/schemas/metrics'
        currency:
          $ref: '#/components/schemas/currency'
      required:
        - ids
        - metrics
    detailResponse:
      type: object
      title: Detail Response
      properties:
        data:
          description: Array of consensus estimate objects
          type: array
          items:
            $ref: '#/components/schemas/detailEstimate'
    detailEstimate:
      title: Detail
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: >-
            Company's Financial statement 'metric' that is estimated. Use the
            factset-estimates/v#/metrics endpoint for a complete list. For more
            details, visit [Online Assistant Page
            #15034](https://oa.apps.factset.com/pages/15034).
          type: string
          example: SALES
          nullable: true
        periodicity:
          description: >-
            Company's 'periodicity' for the estimate record, reflecting Annual,
            Quarterly, or Semi-Annual report periods.
          type: string
          example: ANN
          nullable: true
        fiscalYear:
          description: Company's 'fiscal year' for the estimate record
          type: integer
          example: 2018
          nullable: true
        fiscalPeriod:
          description: >-
            Company's 'fiscal period' for the estimate record.  'Periodicity'
            defines context for period.
          type: integer
          example: 4
          nullable: true
        fiscalEndDate:
          description: >-
            Company's 'fiscal end date' for the estimate record expressed in
            YYYY-MM-DD format
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        relativePeriod:
          description: >-
            'Fiscal period' based on relationship to 'estimate date'. This is
            not applicable for fixed-consensus endpoint. For more details, visit
            [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: integer
          example: 2
          nullable: true
        currency:
          description: >-
            Currency code for adjusting the data. Use 'ESTIMATE' as input value
            for the values in Estimate Currency. For a list of currency ISO
            codes, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        estimateDate:
          description: >-
            Date of estimate expressed in YYYY-MM-DD format. For more details,
            visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        estimateValue:
          description: The value of the estimate.
          type: number
          format: double
          example: 23456
          nullable: true
        analystId:
          description: The FactSet Entity Identifier for the analyst making the estimate.
          type: string
          example: 0DXTST-E
          nullable: true
        analystName:
          description: The name of the analyst making the estimate.
          type: string
          example: Josh Baer
          nullable: true
        brokerId:
          description: The FactSet Entity Identifier for the broker making the estimate.
          type: string
          example: 05FBK7-E
          nullable: true
        brokerName:
          description: The name of the broker making the estimate.
          type: string
          example: Morgan Stanley
          nullable: true
        lastModifiedDate:
          description: The date at which a broker provided an estimate that is a revision.
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        prevEstimateDate:
          description: >-
            Date the previous estimate was made expressed in YYYY-MM-DD format.
            For more details, visit [Online Assistant Page
            #16598](https://oa.apps.factset.com/pages/16598)
          type: string
          format: date
          example: '2017-05-02'
          nullable: true
        prevEstimateValue:
          description: The value of the previous estimate.
          type: number
          format: double
          example: 22336
          nullable: true
        section:
          description: >-
            Section of the estimate.Returns the details of brokers inlcuded and
            excluded in the consensus
          type: string
          example: Included
          nullable: true
        statusCode:
          description: Status code of the estimate.
          type: integer
          example: 0
          nullable: true
        statusText:
          description: Status description of the estimate.
          type: string
          example: ''
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        inputDateTime:
          description: Date and time when the data is available at the source.
          type: string
          format: string
          example: '2022-10-25T22:40:09'
          nullable: true
        securityCurrency:
          description: The currency that the company trades in.
          type: string
          example: USD
          nullable: true
        brokerEstimateCurrency:
          description: The currency in which estimates are made by broker.
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
    fixedDetailRequest:
      title: Fixed Detail Request Body
      description: Request object for requesting rolling detail estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
[...]
