openapi: 3.0.0
info:
  version: 2.5.0
  title: FactSet Fundamentals API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: >
    Gain access to current, comprehensive, and comparative information on
    securities in worldwide developed and emerging markets. In addition to the
    latest reported data, this API provides Point-in-Time (PIT) views to access
    fundamentals data as it was known on any given date. Composed of annual and
    interim/quarterly data, detailed historical financial statement content,
    per-share data, and calculated ratios, FactSet Fundamentals provides you
    with the information you need for a global investment perspective.<p>This
    API is rate-limited to 10 requests per second and 10 concurrent requests per
    user.</p>
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-fundamentals-api
servers:
  - url: https://api.factset.com/content/factset-fundamentals/v2
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: FactSet Fundamentals
    description: Retrieving standardized fundamentals data for companies.
  - name: Segments
    description: Retrieving business and geographic segment data for companies.
  - name: Fundamentals Point In Time
    description: >-
      Retrieve Point-in-Time fundamentals data and related fiscal period
      information for securities.
  - name: Metrics
    description: >-
      Discovering available fundamental metrics, their definitions, and related
      metadata to use in other API requests.
  - name: Company Reports
    description: >-
      Retrieving pre-formatted, report-style information, such as company
      profiles, financial statements, and key fundamental summaries.
  - name: Batch Processing
    description: >-
      Manage asynchronous requests by checking their status and retrieving
      results for long-running batch jobs.
paths:
  /fundamentals:
    get:
      tags:
        - FactSet Fundamentals
      summary: Returns Company Fundamentals Data.
      operationId: getFdsFundamentals
      x-factset-sdk-ignore: true
      description: >
        Retrieves FactSet Fundamentals standardized data for specified
        securities. Use the ```/metrics``` endpoint to retrieve a full list of
        valid metrics or data items.



        The ```/fundamentals``` endpoint currently supports Long Running
        asynchronous requests up to **20 minutes** via batch parameter. Id limit
        is set to 2000 ids per request when using batch capability and 250 ids
        without batching. (1 metric per ID, for 1 day in both the cases). This
        feature is available for all users.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax2000'
        - $ref: '#/components/parameters/periodicity'
        - $ref: '#/components/parameters/fiscalPeriodStart'
        - $ref: '#/components/parameters/fiscalPeriodEnd'
        - $ref: '#/components/parameters/metrics'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/updateType'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Fundamentals data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalsResponse'
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItem'
                Result of Multiple companies single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItem'
                Result of Single Company (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                  $ref: '#/components/examples/resultOfSingleIdwithMultipleMetricItem'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - FactSet Fundamentals
      summary: Returns Company Fundamentals Data.
      description: >
        Retrieves FactSet Fundamentals standardized data for specified
        securities. Use the ```/metrics``` endpoint to retrieve a full list of
        valid metrics or data items.



        The ```/fundamentals``` endpoint currently supports Long Running
        asynchronous requests up to **20 minutes** via batch parameter. Id limit
        is set to 5000 ids per request when using batch capability and 250 ids
        per request without batching (1 metric per ID, for 1 day in both the
        cases). This feature is available for all users.
      operationId: getFdsFundamentalsForList
      requestBody:
        required: true
        description: Request object for requesting fundamentals data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundamentalsRequest'
            examples:
              Single Company (FDS-US), sales(FF_SALES) details for the given period:
                $ref: '#/components/examples/postBodyOfSingleIdwithSingleMetricItem'
              Multiple Companies single metric item details:
                $ref: '#/components/examples/postBodyOfMultipleIdwithSingleMetricItem'
              Single Company (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                $ref: '#/components/examples/postBodyOfSingleIdwithMultipleMetricItem'
              Batch Request for (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                $ref: '#/components/examples/BatchFundamentalsRequestPost'
      responses:
        '200':
          description: Fundamentals data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalsResponse'
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItem'
                Result of Multiple companies single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItem'
                Result of Single Company (FDS-US), and Multiple Metrics (FF_SALES, FF_PE):
                  $ref: '#/components/examples/resultOfSingleIdwithMultipleMetricItem'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /segments:
    get:
      tags:
        - Segments
      summary: Returns Company Segments data.
      operationId: getFdsSegments
      x-factset-sdk-ignore: true
      description: >
        Retrieves Fundamentals Metrics data for individual companies.


        The ```/segments``` endpoint currently supports Long Running
        asynchronous requests up to **20 minutes** via batch parameter. Id limit
        is set to 2000 ids per request when using batch capability and 250 ids
        without batching. (1 metric per ID, for 1 day in both the cases). This
        feature is available for all users.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax2000'
        - $ref: '#/components/parameters/segmentsPeriodicity'
        - $ref: '#/components/parameters/fiscalPeriodStart'
        - $ref: '#/components/parameters/fiscalPeriodEnd'
        - $ref: '#/components/parameters/segmentsMetrics'
        - $ref: '#/components/parameters/segmentType'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Segment data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsResponse'
              examples:
                Result of Single Company (AAPL-US), sales(SALES) details for the given period:
                  $ref: >-
                    #/components/examples/resultOfSingleIdwithSingleMetricItemSegment
                Result of Multiple Companies' single metric item details:
                  $ref: >-
                    #/components/examples/resultOfMultipleIdwithSingleMetricItemSegment
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Segments
      summary: Returns Company Segment Data.
      description: >
        Retrieves Sales Metrics data for specified companies.


        The ```/segments``` endpoint currently supports Long Running
        asynchronous requests up to **20 minutes** via batch parameter. Id limit
        is set to 5000 ids per request when using batch capability and 250 ids
        per request without batching (1 metric per ID, for 1 day in both the
        cases). This feature is available for all users.
      operationId: getFdsSegmentsForList
      requestBody:
        required: true
        description: Request object for requesting segments data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentsRequest'
            examples:
              Single Company (AAPL-US), sales(SALES) details for the given period:
                $ref: >-
                  #/components/examples/postBodyOfSingleIdwithSingleMetricItemSegment
              Multiple Companies single metric item details:
                $ref: >-
                  #/components/examples/postBodyOfMultipleIdwithSingleMetricItemSegment
              Batch Request for (FDS-US), and Multiple Metrics (SALES):
                $ref: '#/components/examples/batchSegmentsRequestPost'
      responses:
        '200':
          description: Segment data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsResponse'
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: >-
                    #/components/examples/resultOfSingleIdwithSingleMetricItemSegment
                Result of Multiple companies single metric item details:
                  $ref: >-
                    #/components/examples/resultOfMultipleIdwithSingleMetricItemSegment
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /point-in-time:
    post:
      tags:
        - Fundamentals Point In Time
      summary: Retrieve Point-in-Time data for multiple securities.
      operationId: postFundamentalsPITData
      description: >
        This endpoint initiates an asynchronous batch job to fetch Point-in-Time
        (PIT) data. PIT data allows you to view fundamentals data as it was
        known on a specific date. This is crucial for backtesting trading
        strategies, performing academic research, and avoiding lookahead bias.
        All requests will return a `202 Accepted` response with a `Location`
        header pointing to the `/batch-status` endpoint. Use the `id` from the
        status response to check for completion and retrieve the result from the
        `/batch-result` endpoint. **All timestamps are in UTC.**
      requestBody:
        required: true
        description: Request object containing parameters for the PIT fundamentals request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundamentalsPITRequest'
            examples:
              singleIdSingleMetric:
                $ref: '#/components/examples/postBodySingleIdSingleMetricExample'
              multiIdMultiMetric:
                summary: Multiple IDs, Metrics, and an ASYNC Request
                value:
                  data:
                    ids:
                      - FDS-US
                      - AAPL-US
                      - MSFT-US
                    periodicity: ANN
                    fiscalPeriodStart: '2019-01-01'
                    fiscalPeriodEnd: '2021-12-31'
                    metrics:
                      - FF_SALES
                      - FF_EPS
                      - FF_NET_INC
                    updateType: RP
                    pitStart: '2020-01-01T00:00:00Z'
                    pitEnd: '2020-12-31T23:59:59Z'
                    active: true
      responses:
        '202':
          description: >-
            Batch request has been accepted. Poll the status URL provided in the
            `Location` header to check for completion.
          headers:
            Location:
              description: The URL to poll for status of the batch request.
              schema:
                type: string
                example: /batch-status?id=d6dd1d02-0f17-45a1-88c8-49f3c97f2922
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                batchAccepted:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /periods:
    post:
      tags:
        - Fundamentals Point In Time
      summary: >-
        Fiscal Periods: Retrieve fiscal period details for multiple securities
        using POST.
      operationId: postFundamentalsFiscalPeriods
      description: >
        This endpoint initiates an asynchronous batch job to fetch detailed
        information about fiscal periods. The request allows filtering for
        fiscal periods ending within a specified calendar date range. The
        response provides Point-in-Time (PIT) details, showing when each
        period's information was first published and when it was superseded.
        This is crucial for historical backtesting. All requests will return a
        `202 Accepted` response with a `Location` header pointing to the
        `/batch-status` endpoint. Use the `id` from the status response to check
        for completion and retrieve the result from the `/batch-result`
        endpoint. **All timestamps are in UTC.**
      requestBody:
        required: true
        description: Request object containing parameters for the fiscal periods request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodsRequest'
            examples:
              periodsRequestExample:
                summary: Example Periods Request Body
                value:
                  data:
                    ids:
                      - FDS-US
                      - AAPL-US
                    periodicity: QTR
                    fiscalPeriodStart: '2021-01-01'
                    fiscalPeriodEnd: '2021-12-31'
      responses:
        '202':
          description: >-
            Batch request has been accepted. Poll the status URL provided in the
            `Location` header to check for completion.
          headers:
            Location:
              description: The URL to poll for status of the batch request.
              schema:
                type: string
                example: /batch-status?id=b6dd1d02-0f17-45a1-88c8-49f3c97f2933
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                batchAccepted:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /company-reports/financial-statement:
    get:
      tags:
        - Company Reports
      summary: Returns company financial data.
      operationId: getFinancials
      description: >
        Returns company financial data (preliminary or final) for specified
        security and statement type (income statement, balance sheet, cash
        flow), for various fiscal reporting periods. All values provided in the
        response are absolute.<br>

        **Note:** Due to variations in calculation time of average exchange
        rates, there may be some minor differences in the values of company
        report financial statement attributes if you are requesting for a
        currency other than local, when compared to the workstation.
      parameters:
        - $ref: '#/components/parameters/statementType'
        - $ref: '#/components/parameters/identifier'
        - $ref: '#/components/parameters/financialPeriodicity'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/updateType'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Financial data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialResponse'
              examples:
                Result of Company details for the given time period:
                  $ref: '#/components/examples/resultOfCompanyDetails'
        '400':
          $ref: '#/components/responses/Company400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /company-reports/profile:
    get:
      tags:
        - Company Reports
      summary: Returns company profile information for a specified list of identifiers.
      operationId: getFdsProfiles
      description: >
        Retrieves a comprehensive overview of key profile details and
        information of specified list of identifiers. The response includes the
        company name, address, industry, sector, number of employees, CEO,
        business summary, exchange, market capitalization, shares outstanding,
        P/E ratio, year founded, and other details. All values provided in the
        response are absolute.
      parameters:
        - $ref: '#/components/parameters/ids'
      responses:
        '200':
          description: Profile data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              examples:
                Result of Company profile for the given identifiers:
                  $ref: '#/components/examples/resultOfCompanyProfileDetails'
                Result of Multiple Company profiles for the given identifiers:
                  $ref: '#/components/examples/resultOfMultipleCompanyProfilesDetails'
                Result of Company profile for the given identifiers with errors:
                  $ref: '#/components/examples/resultOfCompanyProfileDetailsWithError'
        '400':
          $ref: '#/components/responses/Company400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /company-reports/fundamentals:
    get:
      summary: Returns company fundamentals for a given list of identifiers.
      operationId: getFundamentals
      description: >
        Returns detailed insights on specified publicly traded company's various
        key financial measures or fundamentals like cash per share, dividend,
        EPS, EBIT etc. All values provided in the response are absolute.<br>

        **Note:** Due to variations in calculation time of average exchange
        rates, there may be some minor differences in the values of company
        report financial statement attributes if you are requesting for a
        currency other than local, when compared to the workstation.
      tags:
        - Company Reports
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/crFundamentalsPeriodicity'
      responses:
        '200':
          description: Fundamentals data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyFundamentalsResponse'
              examples:
                Result of Fundamentals details for the given identifiers:
                  $ref: '#/components/examples/resultOfFundamentalDetails'
                Result of Company Fundamentals for the given identifiers with errors:
                  $ref: >-
                    #/components/examples/resultOfCompanyFundamentalsDetailsWithError
        '400':
          $ref: '#/components/responses/Company400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /metrics:
    get:
      summary: Returns available FactSet Fundamental metrics and ratios.
      operationId: getFdsFundamentalsMetrics
      tags:
        - Metrics
      description: >
        Returns list of available FF_* metrics that can be used in the `metrics`
        parameter of related endpoints. These are related to FactSet
        Fundamentals standardized data. As Reported will be available in future
        endpoints. Leave Category and Subcategory blank to request all available
        items. The Endpoint Data model is optimized for time-series data with
        periodicity. Some items in this list are non-time series.

        **For methodology definitions, reference the `OApageID` or `OAurl`
        response items to launch the available methodology page.**
      parameters:
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/subcategory'
        - $ref: '#/components/parameters/metricDataType'
        - $ref: '#/components/parameters/pitDataItems'
      responses:
        '200':
          description: Fundamentals data metric items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              examples:
                Response of metrics:
                  $ref: '#/components/examples/metricsresponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /batch-status:
    get:
      tags:
        - Batch Processing
      summary: Returns the status for a Batch Request
      description: >-
        Return the status for the underlying batch request that is specified by
        the id.
      operationId: getBatchStatus
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: >-
            The batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch-result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: >-
            The batch Request has not finished and the result has NOT been
            created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
  /batch-result:
    get:
      tags:
        - Batch Processing
      summary: Returns the response for a Batch Request
      description: >
        Returns the response data for the underlying batch request that is
        specified by the id. The response structure will be based on the
        endpoint that initiated the batch request (/fundamentals, /segments,
        /point-in-time, or /periods).


        By default, this endpoint will return data as JSON. If you wish to
        receive your data in CSV format, you can edit the header to have the
        "accept" parameter as "text/csv" instead of "application/json".
      operationId: getBatchData
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: >-
            The long-running request has been completed and the result is
            created. The response structure will be based on the endpoint that
            initiated the batch request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResultResponse'
              examples:
                fundamentalsResult:
                  summary: Batch Result for a `/fundamentals` request.
                  $ref: '#/components/examples/resultOfSingleIdwithMultipleMetricItem'
                segmentsResult:
                  summary: Batch Result for a `/segments` request.
                  $ref: >-
                    #/components/examples/resultOfSingleIdwithSingleMetricItemSegment
                pitResult:
                  summary: Batch Result for a `/point-in-time` request.
                  $ref: '#/components/examples/resultWithPITDatesExample'
                pitResultWeekly:
                  summary: weekly PIT data
                  $ref: '#/components/examples/resultWeeklyFrequency'
                pitResultMonthly:
                  summary: monthly PIT data
                  $ref: '#/components/examples/resultMonthlyFrequency'
                periodsResult:
                  summary: Batch Result for a `/periods` request.
                  $ref: '#/components/examples/periodsResponseExample'
        '202':
          description: >-
            The batch Request has not finished and the result has NOT been
            created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
      x-factset-different-success-responses: true
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    idsBatchMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
          minItems: 1
          maxItems: 2000
      required: true
      explode: false
      description: >-
        Returns a list of security identifiers. Accepted ID types include Market
        Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.<p>ids limit =
        250 IDs per non-batch request (1 metric per ID, for 1 day) and 2000 IDs
        per batch request (1 metric per ID, for 1 day)</p> *<p>Make note, GET
        Method URL request lines are also limited to a total length of 8192
        bytes (8 KB). In cases where your request—non-batch or batch—approaches
        this size, it’s advised to use the respective “POST” method to avoid
        URL-length constraints.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    periodicity:
      name: periodicity
      in: query
      schema:
        type: string
        enum:
          - ANN
          - ANN_R
          - QTR
          - QTR_R
          - SEMI
          - SEMI_R
          - LTM
          - LTM_R
          - LTM_SEMI
          - LTM_SEMI_R
          - LTMSG
          - YTD
        default: ANN
      required: false
      description: >
        Periodicity or frequency of the fiscal periods, where
          * **ANN**  = Annual - Original,
          * **ANN_R** = Annual - Latest - *Includes Restatements*,
          * **QTR**  = Quarterly - Original,
          * **QTR_R** = Quarterly - Latest - *Includes Restatements*,
          * **SEMI** = Semi-Annual,
          * **SEMI_R** = Semi-Annual - Latest - *Includes Restatements*,
          * **LTM**  = Last Twelve Months,
          * **LTM_R**  = Last Twelve Months - Latest - *Includes Restatements*,
          * **LTMSG** = Last Twelve Months Global [OA17959](https://my.apps.factset.com/oa/pages/17959),
          * **LTM_SEMI**  = Last Twelve Months, Semi-Annually Reported Data,
          * **LTM_SEMI_R**  = Last Twelve Months, Semi-Annual - Latest - *Includes Restatements*,
          * **YTD** = Year-to-date.
          <br>

        Please note that the coverage for SEMI_R and LTM_R may be limited as
        fewer companies report with these periodicities.<br>
      examples:
        ANN:
          summary: ANN - Annual Original.
          value: ANN
        ANN_R:
          summary: ANN_R - Annual Latest.
          value: ANN_R
        QTR:
          summary: QTR - Quarterly Original.
          value: QTR
        QTR_R:
          summary: QTR_R - Quarterly Latest.
          value: QTR_R
        SEMI:
          summary: SEMI - Semi-Annual Original.
          value: SEMI
        SEMI_R:
          summary: SEMI_R - Semi-Annual Latest.
          value: SEMI_R
        LTM:
          summary: LTM - Last Twelve Months Original.
          value: LTM
        LTM_R:
          summary: LTM_R - Last Twelve Months Latest.
          value: LTM_R
        LTMSG:
          summary: LTMSG - Last Twelve Months Global.
          value: LTMSG
        LTM_SEMI:
          summary: LTM_SEMI - Last Twelve Months - Semi Annual
          value: LTM_SEMI
        LTM_SEMI_R:
          summary: LTM_SEMI_R - Last Twelve Months - Semi Annual Latest
          value: LTM_SEMI_R
        YTD:
          summary: YTD - Year-to-date.
          value: YTD
    financialPeriodicity:
      name: periodicity
      in: query
      schema:
        type: string
        enum:
          - ANN
          - ANN_R
          - QTR
          - QTR_R
          - SEMI
          - SEMI_R
          - LTM
          - YTD
      required: true
      description: >
        Periodicity or frequency of the fiscal periods, where
          * **ANN**  = Annual - Original,
          * **ANN_R** = Annual - Latest - *Includes Restatements*,
          * **QTR**  = Quarterly - Original,
          * **QTR_R** = Quarterly - Latest - *Includes Restatements*,
          * **SEMI** = Semi-Annual,
          * **SEMI_R** = Semi-Annual - Latest - *Includes Restatements*,
          * **LTM**  = Last Twelve Months,
          * **YTD** = Year-to-date.
          <br>

        Please note that the coverage for SEMI_R may be limited as fewer
        companies report with this periodicity.<br>
      examples:
        ANN:
          summary: ANN - Annual Original.
          value: ANN
        ANN_R:
          summary: ANN_R - Annual Latest.
          value: ANN_R
        QTR:
          summary: QTR - Quarterly Original.
          value: QTR
        QTR_R:
          summary: QTR_R - Quarterly Latest.
          value: QTR_R
        SEMI:
          summary: SEMI - Semi-Annual Original.
          value: SEMI
        SEMI_R:
          summary: SEMI_R - Semi-Annual Latest.
          value: SEMI_R
        LTM:
          summary: LTM - Last Twelve Months Original.
          value: LTM
        YTD:
          summary: YTD - Year-to-date.
          value: YTD
    crFundamentalsPeriodicity:
      name: periodicity
      in: query
      schema:
        type: string
        enum:
          - ANN
          - QTR
          - SEMI
      required: false
      description: >
        Periodicity or frequency of the fiscal periods. If omitted, will return
        the latest available data irrespective of the periodicity.
          * **ANN**  = Annual - Original,
          * **QTR**  = Quarterly - Original
          * **SEMI** = Semi-Annual
      examples:
        ANN:
          summary: ANN - Annual Original.
          value: ANN
        QTR:
          summary: QTR - Quarterly Original.
          value: QTR
        SEMI:
          summary: SEMI - Semi-Annual Original.
          value: SEMI
    segmentsPeriodicity:
      name: periodicity
      in: query
      schema:
        type: string
        enum:
          - ANN
          - ANN_R
        default: ANN
      required: false
      description: |
        Periodicity or frequency of the fiscal periods, where
          * **ANN**  = Annual - Original,
          * **ANN_R** = Annual - Latest - *Includes Restatements*
      examples:
        ANN:
          summary: ANN - Annual Original.
          value: ANN
        ANN_R:
          summary: ANN_R - Annual Latest.
          value: ANN_R
    statementType:
      name: statementType
      in: query
      required: true
      schema:
        type: string
        enum:
          - BS
          - CF
          - IS
      examples:
        BS:
          summary: BS - Balance Sheet
          value: BS
        CF:
          summary: CF - Cash Flow
          value: CF
        IS:
          summary: IS - Income Statement
          value: IS
      description: The type of financial statement being requested.
    identifier:
      name: id
      in: query
      schema:
        type: string
        example: IBM-US
      required: true
      description: >-
        The requested security identifier. Accepted ID types include Market
        Ticker, SEDOL, ISIN, CUSIP, or FactSet Permanent Id.
    ids:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 50
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  50 per request*</p>
      examples:
        oneId:
          summary: One Market Identifier
          value:
            - AAPL-US
        multipleIds:
          summary: Multiple Market Identifiers
          value:
            - AAPL-US
            - IBM-US
    fiscalPeriodStart:
      name: fiscalPeriodStart
      in: query
      required: false
      schema:
        type: string
        nullable: true
        example: '2017-09-01'
      description: >
        The fiscal period start expressed as YYYY-MM-DD.  Calendar date that
        will fall back to the most recent completed period during resolution.
    fiscalPeriodEnd:
      name: fiscalPeriodEnd
      in: query
      required: false
      schema:
        type: string
        nullable: true
        example: '2018-03-01'
      description: >
        The fiscal period end expressed YYYY-MM-DD.  Calendar date that will
        fall back to the most recently completed period during resolution.
    metrics:
      name: metrics
      in: query
      required: true
      explode: false
      description: >
        Requested List of Financial Statement Items or Ratios. Use `/metrics`
        endpoint for a complete list of available FF_* metric items. <p>*When
        requesting multiple metrics, you cannot mix metric data types (e.g.
        strings and floats). Please use /metrics endpoints for context on metric
        dataType to avoid null data.*</p> <p>***metrics limit** =  1600 per
        request*</p>

        *<p>Make note, GET Method URL request lines are also limited to a total

        length of 8192 bytes (8KB). In cases where the service allows for
        thousands

        of metrics, which may lead to exceeding this request line limit of 8KB,
        its

        advised for any requests with large request lines to be requested
        through

        the respective "POST" method.</p>*
      schema:
        type: array
        items:
          type: string
        example:
          - FF_SALES
          - FF_EPS
          - FF_PE
        minItems: 1
        maxItems: 1600
      examples:
        Single Metric:
          summary: FF_SALES
          value:
            - FF_SALES
        Multiple Metrics:
          summary: FF_SALES, FF_EPS, FF_PE
          value:
            - FF_SALES
            - FF_EPS
            - FF_PE
    segmentsMetrics:
      name: metrics
      in: query
      required: true
      explode: false
      description: >
        Metrics are the data items available for business and geographic
        segments, where
          * **SALES**  = Sales/Revenue - Total revenues from the business line/geographic region,
          * **OPINC** = Operating Income/Loss - Operating income generated from the business line/geographic region,
          * **ASSETS** = Total assets from the business line/geographic region,
          * **DEP** = Depreciation Exp - Depreciation expense resulting from the business line/geographic segment,
          * **CAPEX** = Capital Expenditures - Capital expenditures resulting from the business line/geographic region
      schema:
        type: string
        enum:
          - SALES
          - OPINC
          - ASSETS
          - DEP
          - CAPEX
        example: SALES
    segmentType:
      name: segmentType
      in: query
      schema:
        type: string
        enum:
          - BUS
          - GEO
        default: BUS
      required: false
      description: |
        Segment type for the metrics, where
          * **BUS**  = Business,
          * **GEO** = Geographic
      examples:
        BUS:
          summary: BUS - Business.
          value: BUS
        GEO:
          summary: GEO - Geographic.
          value: GEO
    batch:
      name: batch
      in: query
      description: >
        Enables the ability to asynchronously "batch" the request, supporting a
        long-running request for up to 20 minutes. Upon requesting batch=Y, the
        service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use the corresponding `/status`
        endpoint to see if the job has been completed. Once completed, retrieve
        the results of the request via the `/result` endpoint.
      schema:
        type: string
        enum:
          - 'Y'
          - 'N'
        default: 'N'
    batchId:
      name: id
      in: query
      description: Batch Request identifier.
      schema:
        type: string
        format: uuid
      required: true
      allowEmptyValue: false
    currency:
      name: currency
      in: query
      description: >
        Currency code for currency values. For a list of currency ISO codes,
        visit Online Assistant Page
        [OA1470](https://my.apps.factset.com/oa/pages/1470).


        Giving input as `DOC` would give the values in reporting currency for
        the requested ids.
      required: false
      schema:
        type: string
        default: LOCAL
        example: USD
    updateType:
      name: updateType
      in: query
      schema:
        type: string
        enum:
          - RP
          - RF
        default: RP
      required: false
      description: |-
        Update Status Flag:
          * **RP** = Include preliminary data,
          * **RF** = Only final data
      examples:
        ANN:
          summary: RP - Include preliminary data.
          value: RP
        QTR:
          summary: RF - Only final data.
          value: RF
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 4
      description: >-
        The time period for the returned data. Within range of 1 to 100. If not
        specified default will be 4.
    category:
      name: category
      in: query
      schema:
        type: string
        enum:
          - INCOME_STATEMENT
          - BALANCE_SHEET
          - CASH_FLOW
          - RATIOS
          - FINANCIAL_SERVICES
          - INDUSTRY_METRICS
          - PENSION_AND_POSTRETIREMENT
          - MARKET_DATA
          - MISCELLANEOUS
          - DATES
      required: false
      description: |-
        Filters the list of FF_* metrics by major category -
          * **INCOME_STATEMENT** = Income Statement line items, such as Sales, Gross Profit, Net Income.
          * **BALANCE_SHEET** = Balance Sheet line items, such as Assets, Liabilities, and Shareholders Equity.
          * **CASH_FLOW** = Cash Flow Statement line items, such as Financing activities, Operation, and Per Share.
          * **RATIOS** = Pre-calculated Ratios, including Financial, Growth Rates, Profitability, Liquidity, Size, and Valuation.
          * **FINANCIAL_SERVICES** = Financial Statement Items modified for Financial Services companies.
          * **INDUSTRY_METRICS** = Industry Specific Line Items or Modifications. View subcategory for list of Industries.
          * **PENSION_AND_POSTRETIREMENT** = Accumulated Pension Benefit Obligations and related data.
          * **MARKET_DATA** = General Market Data, such as Shares Outstanding. *Note - /factset-prices/prices/ endpoints may be better suited for pricing-related market data.*
          * **MISCELLANEOUS** = Corporation Data, Financial Records details, Indicators.
          * **DATES** = Relevant Dates
      examples:
        INCOME_STATEMENT:
          summary: INCOME_STATEMENT - Income Statement.
          value: INCOME_STATEMENT
        BALANCE_SHEET:
          summary: BALANCE_SHEET - Balance Sheet.
          value: BALANCE_SHEET
        CASH_FLOW:
          summary: CASH_FLOW - Cash Flow Statement.
          value: CASH_FLOW
        RATIOS:
          summary: RATIOS - Pre-calculated Ratios.
          value: RATIOS
        FINANCIAL_SERVICES:
          summary: FINANCIAL_SERVICES - Financial Statement.
          value: FINANCIAL_SERVICES
        INDUSTRY_METRICS:
          summary: INDUSTRY_METRICS - Industry Specific.
          value: INDUSTRY_METRICS
        PENSION_AND_POSTRETIREMENT:
          summary: >-
            PENSION_AND_POSTRETIREMENT - Accumulated Pension Benefit
            Obligations.
          value: PENSION_AND_POSTRETIREMENT
        MARKET_DATA:
          summary: MARKET_DATA - General Market Data.
          value: MARKET_DATA
        MISCELLANEOUS:
          summary: >-
            MISCELLANEOUS - Corporation Data, Financial Records details,
            Indicators.
          value: MISCELLANEOUS
        DATES:
          summary: DATES - Relevant Dates.
          value: DATES
    subcategory:
      name: subcategory
      in: query
      schema:
        type: string
        enum:
          - ASSETS
          - BALANCE_SHEET
          - HEALTHCARE
          - LIABILITIES
          - PER_SHARE
          - SHAREHOLDERS_EQUITY
          - SUPPLEMENTAL
          - CASH_FLOW
          - CHANGE_IN_CASH
          - FINANCING
          - INVESTING
          - OPERATING
          - DATES
          - INCOME_STATEMENT
          - NON-OPERATING
          - RETAIL
          - AIRLINES
          - BANK
          - BANKING
          - HOTELS_AND_GAMING
          - METALS_AND_MINING
          - OIL_AND_GAS
          - PHARMACEUTICAL
          - REIT
          - MARKET_DATA
          - CLASSIFICATION
          - CORPORATE_DATA
          - FINANCIAL_RECORDS
          - INDICATOR
          - EMPLOYEES_AND_MANAGEMENT
          - PENSION_AND_POSTRETIREMENT
          - FINANCIAL
          - GROWTH_RATE
          - LIQUIDITY
          - PROFITABILITY
          - SIZE
          - VALUATION
          - OTHER
          - HOMEBUILDING
          - NET_INCOME
          - TELECOM
          - UTILITY
          - INSURANCE
          - EXPENSES
          - OPERATING_COST
          - OPERATING_ACTIVITIES
          - NON-RECURRING_ITEMS
          - FINANCING_ACTIVITIES
          - INVESTING_ACTIVITIES
          - REVENUES
      required: false
      description: >-
        Sub-Category Filter for the Primary Category Requested. Choose a related
        sub-category for the Category requested-
          * **INCOME_STATEMENT** - INCOME_STATEMENT, NON-OPERATING, PER_SHARE, SUPPLEMENTAL, EXPENSES, OPERATING_COST, NON-RECURRING_ITEMS, REVENUES, OTHER
          * **BALANCE_SHEET** - ASSETS, BALANCE_SHEET, HEALTHCARE, LIABILITIES, PER_SHARE, SHAREHOLDERS_EQUITY, SUPPLEMENTAL
          * **CASH_FLOW** - CASH_FLOW, CHANGE_IN_CASH, FINANCING, INVESTING, OPERATING, PER_SHARE, SUPPLEMENTAL, FINANCING_ACTIVITIES, OPERATING_ACTIVITIES, INVESTING_ACTIVITIES
          * **RATIOS** - FINANCIAL, GROWTH_RATE, LIQUIDITY, PROFITABILITY, SIZE, VALUATION
          * **FINANCIAL_SERVICES** - BALANCE_SHEET, INCOME_STATEMENT, SUPPLEMENTAL
          * **INDUSTRY_METRICS** - AIRLINES, BANKING, HOTELS_AND_GAMING, METALS_AND_MINING, OIL_AND_GAS, PHARMACEUTICAL, REIT, RETAIL, BANK, INSURANCE, UTILITY
          * **PENSION_AND_POSTRETIREMENT** - PENSION_AND_POSTRETIREMENT
          * **MARKET_DATA** - MARKET_DATA
          * **MISCELLANEOUS** - CLASSIFICATION, CORPORATE_DATA, FINANCIAL_RECORDS, INDICATOR, EMPLOYEES_AND_MANAGEMENT
          * **DATES** - DATES
      examples:
        INCOME_STATEMENT_INCOME_STATEMENT:
          summary: INCOME_STATEMENT - INCOME_STATEMENT
          value: INCOME_STATEMENT
        INCOME_STATEMENT_OPERATING:
          summary: INCOME_STATEMENT - NON-OPERATING
          value: OPERATING
        INCOME_STATEMENT_PER_SHARE:
          summary: INCOME_STATEMENT - PER_SHARE
          value: PER_SHARE
        INCOME_STATEMENT_SUPPLEMENTAL:
          summary: INCOME_STATEMENT - SUPPLEMENTAL
          value: SUPPLEMENTAL
        INCOME_STATEMENT_NET_INCOME:
          summary: INCOME_STATEMENT - NET_INCOME
          value: NET_INCOME
        INCOME_STATEMENT_EXPENSES:
          summary: INCOME_STATEMENT - EXPENSES
          value: EXPENSES
        INCOME_STATEMENT_OPERATING_COST:
          summary: INCOME_STATEMENT - OPERATING_COST
          value: OPERATING_COST
        INCOME_STATEMENT_NON-RECURRING_ITEMS:
          summary: INCOME_STATEMENT - NON-RECURRING_ITEMS
          value: NON-RECURRING_ITEMS
        INCOME_STATEMENT_REVENUES:
          summary: INCOME_STATEMENT - REVENUES
          value: REVENUES
        INCOME_STATEMENT_OTHER:
          summary: INCOME_STATEMENT - OTHER
          value: OTHER
        BALANCE_SHEET_ASSETS:
          summary: BALANCE_SHEET - ASSETS
          value: ASSETS
        BALANCE_SHEET_BALANCE_SHEET:
          summary: BALANCE_SHEET - BALANCE_SHEET
          value: BALANCE_SHEET
        BALANCE_SHEET_HEALTHCARE:
          summary: BALANCE_SHEET - HEALTHCARE
          value: HEALTHCARE
        BALANCE_SHEET_LIABILITIES:
          summary: BALANCE_SHEET - LIABILITIES
          value: LIABILITIES
        BALANCE_SHEET_PER_SHARE:
          summary: BALANCE_SHEET - PER_SHARE
          value: PER_SHARE
        BALANCE_SHEET_SHAREHOLDERS_EQUITY:
          summary: BALANCE_SHEET - SHAREHOLDERS_EQUITY
          value: SHAREHOLDERS_EQUITY
        BALANCE_SHEET_SUPPLEMENTAL:
          summary: BALANCE_SHEET - SUPPLEMENTAL
          value: SUPPLEMENTAL
        CASH_FLOW_CASH_FLOW:
          summary: CASH_FLOW - CASH_FLOW
          value: CASH_FLOW
        CASH_FLOW_CHANGE_IN_CASH:
          summary: CASH_FLOW - CHANGE_IN_CASH
          value: CHANGE_IN_CASH
        CASH_FLOW_FINANCING:
          summary: CASH_FLOW - FINANCING
          value: FINANCING
        CASH_FLOW_FINANCING_ACTIVITIES:
          summary: CASH_FLOW - FINANCING_ACTIVITIES
          value: FINANCING_ACTIVITIES
        CASH_FLOW_INVESTING:
          summary: CASH_FLOW - INVESTING
          value: INVESTING
        CASH_FLOW_INVESTING_ACTIVITIES:
          summary: CASH_FLOW - INVESTING_ACTIVITIES
          value: INVESTING_ACTIVITIES
        CASH_FLOW_OPERATING:
          summary: CASH_FLOW - OPERATING
          value: OPERATING
        CASH_FLOW_OPERATING_ACTIVITIES:
          summary: CASH_FLOW - OPERATING_ACTIVITIES
          value: OPERATING_ACTIVITIES
        CASH_FLOW_PER_SHARE:
          summary: CASH_FLOW - PER_SHARE
          value: PER_SHARE
        CASH_FLOW_SUPPLEMENTAL:
          summary: CASH_FLOW - SUPPLEMENTAL
          value: SUPPLEMENTAL
        RATIOS_FINANCIAL:
          summary: RATIOS - FINANCIAL
          value: FINANCIAL
        RATIOS_GROWTH_RATE:
          summary: RATIOS - GROWTH_RATE
          value: GROWTH_RATE
        RATIOS_LIQUIDITY:
          summary: RATIOS - LIQUIDITY
          value: LIQUIDITY
        RATIOS_PROFITABILITY:
          summary: RATIOS - PROFITABILITY
          value: PROFITABILITY
        RATIOS_SIZE:
          summary: RATIOS - SIZE
          value: SIZE
        RATIOS_VALUATION:
          summary: RATIOS - VALUATION
          value: VALUATION
        FINANCIAL_SERVICES_BALANCE_SHEET:
          summary: FINANCIAL_SERVICES - BALANCE_SHEET
          value: BALANCE_SHEET
        FINANCIAL_SERVICES_INCOME_STATEMENT:
          summary: FINANCIAL_SERVICES - INCOME_STATEMENT
          value: INCOME_STATEMENT
        FINANCIAL_SERVICES_SUPPLEMENTAL:
          summary: FINANCIAL_SERVICES - SUPPLEMENTAL
          value: SUPPLEMENTAL
        INDUSTRY_METRICS_AIRLINES:
          summary: INDUSTRY_METRICS - AIRLINES
          value: AIRLINES
        INDUSTRY_METRICS_BANKING:
          summary: INDUSTRY_METRICS - BANKING
          value: BANKING
        INDUSTRY_METRICS_HOMEBUILDING:
          summary: INDUSTRY_METRICS - HOMEBUILDING
          value: HOMEBUILDING
        INDUSTRY_METRICS_HOTELS_AND_GAMING:
          summary: INDUSTRY_METRICS - HOTELS_AND_GAMING
          value: HOTELS_AND_GAMING
        INDUSTRY_METRICS_METALS_AND_MINING:
          summary: INDUSTRY_METRICS - METALS_AND_MINING
          value: METALS_AND_MINING
        INDUSTRY_METRICS_OIL_AND_GAS:
          summary: INDUSTRY_METRICS - OIL_AND_GAS
          value: OIL_AND_GAS
        INDUSTRY_METRICS_PHARMACEUTICAL:
          summary: INDUSTRY_METRICS - PHARMACEUTICAL
          value: PHARMACEUTICAL
        INDUSTRY_METRICS_REIT:
          summary: INDUSTRY_METRICS - REIT
          value: REIT
        INDUSTRY_METRICS_RETAIL:
          summary: INDUSTRY_METRICS - RETAIL
          value: RETAIL
        INDUSTRY_METRICS_BANK:
          summary: INDUSTRY_METRICS - BANK
          value: BANK
        INDUSTRY_METRICS_INSURANCE:
          summary: INDUSTRY_METRICS - INSURANCE
          value: INSURANCE
        INDUSTRY_METRICS_UTILITY:
          summary: INDUSTRY_METRICS - UTILITY
          value: UTILITY
        INDUSTRY_METRICS_TELECOM:
          summary: INDUSTRY_METRICS - TELECOM
          value: TELECOM
        PENSION_AND_POSTRETIREMENT_PENSION_AND_POSTRETIREMENT:
          summary: PENSION_AND_POSTRETIREMENT - PENSION_AND_POSTRETIREMENT
          value: PENSION_AND_POSTRETIREMENT
        MARKET_DATA_MARKET_DATA:
          summary: MARKET_DATA - MARKET_DATA
          value: MARKET_DATA
        MISCELLANEOUS_CLASSIFICATION:
          summary: MISCELLANEOUS - CLASSIFICATION
          value: CLASSIFICATION
        MISCELLANEOUS_CORPORATE_DATA:
          summary: MISCELLANEOUS - CORPORATE_DATA
          value: CORPORATE_DATA
        MISCELLANEOUS_FINANCIAL_RECORDS:
          summary: MISCELLANEOUS - FINANCIAL_RECORDS
          value: FINANCIAL_RECORDS
        MISCELLANEOUS_INDICATOR:
          summary: MISCELLANEOUS - INDICATOR
          value: INDICATOR
        MISCELLANEOUS_EMPLOYEES_AND_MANAGEMENT:
          summary: MISCELLANEOUS - EMPLOYEES_AND_MANAGEMENT
          value: EMPLOYEES_AND_MANAGEMENT
        DATES_DATES:
          summary: DATES - DATES
          value: DATES
    metricDataType:
      name: metricDataType
      in: query
      schema:
        type: string
        default: ''
      required: false
      description: >-
        Returns general data type of the metrics like integer, float or strings.
        When left blank, metrics with all data types would be returned.
      examples:
        integer:
          summary: Integer Metrics
          value: integer
        float:
          summary: Float and Double Metrics
          value: float
        string:
          summary: String Metrics
          value: string
        empty:
          summary: return all datatypes
          value: ''
    pitDataItems:
      name: pitDataItems
      in: query
      schema:
        type: boolean
        default: false
      required: false
      description: >-
        Filters the list of metrics based on whether they are available for
        Point-in-Time (PIT) historical data.

        * `true` - Returns metrics that are available in PIT datasets. These
        metrics can be used in the `/point-in-time` endpoint.

        * `false` (default) - Returns metrics that are available in non-PIT
        datasets.
      examples:
        pitDataItems:
          summary: Get metrics available for PIT datasets
          value: true
        nonPitDataItems:
          summary: Get metrics available for non-PIT datasets
          value: false
  schemas:
    FundamentalsRequest:
      title: Fundamentals Request Body
      description: Fundamentals request body elements
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FundamentalRequestBody'
      required:
        - data
    FundamentalRequestBody:
      title: Fundamentals Request Body
      description: Fundamentals request body elements
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/IdsBatchMax30000'
        periodicity:
          $ref: '#/components/schemas/Periodicity'
        fiscalPeriod:
          $ref: '#/components/schemas/FundamentalFiscalPeriod'
        metrics:
          $ref: '#/components/schemas/Metrics'
        currency:
          $ref: '#/components/schemas/Currency'
        updateType:
          $ref: '#/components/schemas/UpdateType'
        batch:
          $ref: '#/components/schemas/Batch'
      required:
        - ids
        - metrics
    FundamentalsResponse:
      type: object
      title: Fundamentals Response
      description: Array of Fundamentals Objects
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Fundamental'
    Fundamental:
      title: Fundamental Object
      type: object
      required:
        - fiscalPeriod
      description: FactSet Fundamentals Response item
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        fsymId:
          description: >-
            FactSet Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: >-
            The requested `metric` input, representing the Fundamentals Data
            Item. For a definition of the item please use the
            `/fundamentals/v2/metrics` endpoint.
          type: string
          example: FF_SALES
          nullable: true
        periodicity:
          description: >
            Periodicity or frequency of the fiscal periods, where 

            * **ANN** = Annual Original, 

            * **ANN_R** = Annual Latest, 

            * **QTR** = Quarterly Original, 

            * **QTR_R** = Quarterly Latest, 

            * **SEMI** = Semi-Annual Original, 

            * **SEMI_R** = Semi-Annual Latest, 

            * **CAL** = Last Twelve Months Original, 

            * **LTM** = Last Twelve Months Original,

            * **LTM_R** = Last Twelve Months Latest, 

            * **LTMSG** = Last Twelve Months Global
            [OA17959](https://my.apps.factset.com/oa/pages/17959), 

            * **LTM_SEMI** = Last Twelve Months - Semi-Annual Data, 

            * **LTM_SEMI_R** = Last Twelve Months - Semi-Annual
             Latest Data 
            * **YTD** = Year-to-date. 


            Please note that the coverage for SEMI_R and LTM_R may be limited as
            fewer companies report with these periodicities.
          type: string
          example: QTR
          enum:
            - ANN
            - ANN_R
            - QTR
            - QTR_R
            - SEMI
            - SEMI_R
            - CAL
            - LTM
            - LTM_R
            - LTMSG
            - LTM_SEMI
            - LTM_SEMI_R
            - YTD
          nullable: true
        fiscalPeriod:
          description: >-
            Fiscal Period indicator. Returns an integer representing the fiscal
            period for the requested item and periodicity.  QUARTERLY CODE:
            1-First Quarter; 2-Second Quarter; 3-Third Quarter; 4-Fourth
            Quarter. SEMI-CODE: 1-First Semi-annual Period; 2-Second Semi-annual
            Period.
          type: integer
          example: 4
          nullable: true
        fiscalYear:
          description: Fiscal year of the reported period in YYYY format.
          type: integer
          example: 2018
          nullable: true
        fiscalPeriodLength:
          description: Length of the fiscal period in days.
          type: integer
          example: 91
          nullable: true
        fiscalEndDate:
          description: The normalized data the fiscal period ended.
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        reportDate:
          description: The date the reported fiscal period ended.
          type: string
          format: date
          example: '2017-12-30'
          nullable: true
        epsReportDate:
          description: >-
            The date the EPS was reported for the requested periodicity. In
            YYYY-MM-DD format.
          type: string
          format: date
          example: '2018-02-24'
          nullable: true
        updateType:
          description: >-
            Update Type: `Preliminary` - The period is updated from a report
            that usually contains limited or only key information., `Final` -
            The period is updated from a report where detailed information is
            available in financial statements including the notes to the line
            items.
          type: string
          example: Preliminary
          nullable: true
          enum:
            - Preliminary
            - Final
        currency:
          description: >-
            Currency code for the data. For a list of currency ISO codes, visit
            [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        value:
          $ref: '#/components/schemas/FundamentalValue'
    FundamentalValue:
      description: >-
        Value of the data metric requested. Note that the type of value is
        'object', and depending on the data metric requested, the value could be
        an object representation of a string or double. 
      oneOf:
        - type: string
          nullable: true
        - type: number
          format: double
          nullable: true
      nullable: true
    IdentifierList:
      title: List of Security or Company Identifiers
      description: >-
        Array of identifiers supported in async requests to `/point-in-time` and
        `/periods` endpoints. 

        Accepted types: Tickers, SEDOLs, ISINs, CUSIPs, FactSet Permanent
        Security, Regional, and Entity Identifiers.
      type: array
      items:
        type: string
        description: A single security or company identifier.
      minItems: 1
      maxItems: 1000
      example:
        - FDS-US
        - AAPL-US
        - MSFT-US
    MetricList:
      title: List of Metrics
      description: >-
        An array of fundamentals metric identifiers. Use the `/metrics` endpoint
        for a complete list of available metric identifiers.
      type: array
      items:
        type: string
        description: A single metric identifier string.
      minItems: 1
      maxItems: 1600
      example:
        - FF_SALES
        - FF_EPS
    PeriodicityEnum:
      title: Periodicity Selection
      description: |
        Specifies the frequency of fiscal periods for the data requested.

        * `ANN`: Annual Original
        * `ANN_R`: Annual Restated
        * `QTR`: Quarterly Original
        * `QTR_R`: Quarterly Restated
        * `SEMI`: Semi-Annual Original
        * `SEMI_R`: Semi-Annual Restated
        * `LTM`: Last Twelve Months (Calculated)
        * `LTM_R`: Last Twelve Months Restated (Calculated)
        * `LTM_SEMI`: LTM based on Semi-Annual
        * `LTM_SEMI_R`: LTM Restated based on Semi-Annual
        * `LTMSG`: LTM Global (QTR preferred over SEMI)
        * `YTD`: Year-to-Date
      type: string
      enum:
        - ANN
        - ANN_R
        - QTR
        - QTR_R
        - SEMI
        - SEMI_R
        - LTM
        - LTM_R
        - LTM_SEMI
        - LTM_SEMI_R
        - LTMSG
        - YTD
      default: ANN
      example: QTR
    FrequencyEnum:
      title: PIT Snapshot Frequency
      description: >-
        Frequency of Point-in-Time data snapshots captured.

        * `W`: Weekly (snapshots taken at the end of the week)

        * `M`: Monthly (snapshots taken at the end of the month)


        If this parameter is omitted from the request, the endpoint will return
        the full Point-in-Time history (all changes for the data).
      type: string
      enum:
        - W
        - M
      example: W
    FundamentalsPITResponse:
      title: Fundamentals PIT Response
      description: >-
        Contains the array of Point-in-Time fundamentals data results matching
        the request criteria.
      type: object
      properties:
        data:
          type: array
          description: >-
            Array of fundamentals data points. Each object represents a metric
            value for a security, period, and specific PIT window.
          items:
            $ref: '#/components/schemas/FundamentalsPITData'
    FundamentalsPITData:
      title: Fundamentals Data Point (PIT)
      description: >-
        Represents a single value for a fundamental metric as it was known
        during a specific Point-in-Time window for a given security and fiscal
        period.
      type: object
      properties:
        requestId:
          type: string
          description: >-
            The identifier provided in the input request that corresponds to
            this data point.
          example: FDS-US
        fsymId:
          type: string
          description: >-
            FactSet Regional Security Identifier representing the specific data
            series for the requested `requestId`.
          example: SQFMK3-R
          nullable: true
        metric:
          type: string
          description: >-
            The identifier of the fundamental metric being reported (e.g.,
            `FF_SALES`).
          example: FF_SALES
          nullable: true
        periodicity:
          type: string
          description: Periodicity of this data point (e.g., `QTR`, `ANN`).
          example: QTR
          nullable: true
        fiscalPeriod:
          type: integer
          format: int32
          description: >-
            Integer representing the fiscal period. For `QTR` periodicity,
            possible values are 1, 2, 3, or 4. For `SEMI` periodicity, possible
            values are 1 or 2.
          example: 1
          nullable: true
        fiscalYear:
          type: integer
          format: int32
          description: Fiscal year of the reported period, expressed in a YYYY format.
          example: 2018
          nullable: true
        fiscalEndDate:
          type: string
          format: date
          description: The official ending date of the fiscal period (YYYY-MM-DD).
          example: '2017-11-30'
          nullable: true
        currency:
          type: string
          description: >-
            Currency of the reported `value`, expressed as a 3-character ISO
            4217 code. For a list of currency ISO codes, visit [Online Assistant
            Page #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        value:
          $ref: '#/components/schemas/FundamentalValue'
        updateType:
          description: >-
            Indicates the status of the source filing when this data point was
            recorded (`Preliminary` or `Final`).
          type: string
          enum:
            - Preliminary
            - Final
          example: Final
          nullable: true
        pitStart:
          type: string
          format: date-time
          description: >
            Start of Point-in-Time (inclusive, in UTC) during which this value
            was current.

            Format: ISO 8601 `YYYY-MM-DDTHH:MM:SSZ`.

            If frequency is weekly (w) or monthly (m), this will be null.
          example: '2017-12-16T05:00:00Z'
          nullable: true
        pitEnd:
          type: string
          format: date-time
          description: >
            End of Point-in-Time (inclusive, in UTC).

            Format: ISO 8601 `YYYY-MM-DDTHH:MM:SSZ`.

            If value is `null` -> this value is current (latest active
            snapshot).

            If frequency is weekly or monthly, and this is an end-of-week or
            end-of-month snapshot -> `pitStart` will be null.
          example: '2018-01-13T04:59:59Z'
          nullable: true
    FundamentalsPITRequest:
      title: Fundamentals PIT Request Body Wrapper
      description: >-
        Wrapper object containing the parameters for a POST request to the
        /point-in-time endpoint.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/FundamentalsPITRequestBody'
      required:
        - data
    FundamentalsPITRequestBody:
      title: Fundamentals PIT Request Parameters
      description: Parameters for requesting Point-in-Time fundamentals data via POST.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/IdentifierList'
          description: >-
            List of security or company identifiers. See `IdentifierList` schema
            for details on accepted types and limits for asynchronous requests.
        periodicity:
          $ref: '#/components/schemas/PeriodicityEnum'
          description: >-
            Periodicity or frequency of the fiscal periods requested. Defaults
            to `ANN` if not specified.
        fiscalPeriodStart:
          description: >-
            Filters for fiscal periods ending on or after this date
            (YYYY-MM-DD). Used with `fiscalPeriodEnd` for a range, or alone for
            the earliest period.
          type: string
          format: date
          example: '2019-01-01'
        fiscalPeriodEnd:
          description: >-
            Filters for fiscal periods ending on or before this date
            (YYYY-MM-DD). Used with `fiscalPeriodStart` for a range, or alone
            for the latest period.
          type: string
          format: date
          example: '2021-12-31'
        metrics:
          $ref: '#/components/schemas/MetricList'
          description: >-
            List of fundamental metric identifiers to retrieve. See `MetricList`
            schema for limits.
        frequency:
          $ref: '#/components/schemas/FrequencyEnum'
          description: >-
            Specifies the frequency of Point-in-Time snapshots. See
            `FrequencyEnum` schema for options and behavior when omitted.
        pitStart:
          description: >
            Filters PIT snapshots taken on or after this UTC date and time.

            * Use ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.

            * If `pitStart` and `pitEnd` are omitted, the full PIT history is
            returned (respecting `frequency` if provided).

            * For a specific point in time, provide the same value for both
            `pitStart` and `pitEnd`.
          type: string
          format: date-time
          example: '2020-08-30T13:00:00Z'
        pitEnd:
          description: >
            Filters PIT snapshots taken on or before this UTC date and time.

            * Use ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.

            * Must be used with `pitStart` to define a range.

            * For a specific point in time, use the same value for both
            `pitStart` and `pitEnd`.
          type: string
          format: date-time
          example: '2021-12-31T22:00:00Z'
        updateType:
          $ref: '#/components/schemas/UpdateType'
        active:
          description: >-
            Optional flag to restrict results to securities that were active on
            the

            snapshot (PIT) date. 

            When set to true, applies point-in-time filtering

            based on the security's active date range. Prevents inclusion of
            future-dated entities.
          type: boolean
          default: true
          example: true
      required:
        - ids
        - metrics
        - fiscalPeriodStart
    PeriodsRequest:
      title: Fiscal Periods Request Body Wrapper
      description: >-
        Wrapper object containing the parameters for a POST request to the
        `/periods` endpoint.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PeriodsRequestBody'
      required:
        - data
    PeriodsRequestBody:
      title: Fiscal Periods Request Parameters
      description: Parameters for requesting fiscal period information via POST.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/IdentifierList'
          description: >-
            List of security or company identifiers. See `IdentifierList` schema
            for details on accepted types and limits for asynchronous requests.
        periodicity:
          $ref: '#/components/schemas/PeriodicityEnum'
          description: >-
            Periodicity or frequency of the fiscal periods requested. Defaults
            to `ANN` if not specified.
        fiscalPeriodStart:
          description: >-
            Filters for fiscal periods ending on or after this date
            (YYYY-MM-DD). Used with `fiscalPeriodEnd` for a range, or alone for
            the earliest period.
          type: string
          format: date
          example: '2019-01-01'
        fiscalPeriodEnd:
          description: >-
            Filters for fiscal periods ending on or before this date
            (YYYY-MM-DD). Used with `fiscalPeriodStart` for a range, or alone
            for the latest period.
          type: string
          format: date
          example: '2021-12-31'
      required:
        - ids
        - fiscalPeriodStart
    PeriodsResponse:
      title: Fiscal Periods Response
      description: >-
        Contains the array of fiscal period information matching the request
        criteria.
      type: object
      properties:
        data:
          type: array
          description: Array of fiscal period detail objects.
          items:
            $ref: '#/components/schemas/PeriodInfo'
    PeriodInfo:
      title: Fiscal Period Information
      description: >-
        Detailed information about a single fiscal period for a security,
        including its Point-in-Time validity.
      type: object
      properties:
        requestId:
          type: string
          description: >-
            The identifier provided in the input request that corresponds to
            this period information.
          example: FDS-US
        fsymId:
          type: string
          description: >-
            FactSet Regional Security Identifier representing the specific data
            series for the requested `requestId`.
          example: SQFMK3-R
          nullable: true
        fiscalInterimNumber:
          type: integer
          format: int32
          description: >-
            The sequential number of the interim period within the fiscal year
            (e.g., 1 for Q1, 2 for Q2).
          example: 1
          nullable: true
        periodicity:
          type: string
          description: Periodicity code for this fiscal period (e.g., `QTR`, `ANN`).
          example: QTR
          nullable: true
        fiscalDate:
          type: string
          format: date
          description: >-
            The specific date used for reporting the period end, which may
            occasionally differ slightly from the period's actual calendar end
            date (YYYY-MM-DD).
          example: '2017-11-30'
          nullable: true
        fyeChange:
          type: boolean
          description: >-
            Flag indicating if a Fiscal Year End (FYE) change occurred during or
            impacted this specific period (`true` if changed, `false`
            otherwise).
          example: false
          nullable: true
        pitStart:
          type: string
          format: date-time
          description: >-
            The UTC timestamp for when the fiscal period information was first
            published and became available.
          example: '2018-03-27T14:01:17Z'
          nullable: true
        pitEnd:
          type: string
          format: date-time
          description: >-
            The UTC timestamp for when this version of the fiscal period
            information was superseded by a newer version. A `null` value
            indicates that this is the latest available version.
          example: null
          nullable: true
    SegmentsRequest:
      title: Segments Request Body
      description: Segments request body elements
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SegmentRequestBody'
      required:
        - data
    SegmentRequestBody:
      title: Segments Request Body
      description: Segments request body elements
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/IdsBatchMax30000'
        periodicity:
          $ref: '#/components/schemas/SegmentsPeriodicity'
        fiscalPeriod:
          $ref: '#/components/schemas/FundamentalFiscalPeriod'
        metrics:
          $ref: '#/components/schemas/SegmentsMetrics'
        segmentType:
          $ref: '#/components/schemas/SegmentType'
        batch:
          $ref: '#/components/schemas/Batch'
      required:
        - ids
        - metrics
    SegmentsResponse:
      type: object
      title: Segments Response
      description: Array of Segments Objects
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
    Segment:
      title: Segment Object
      type: object
      required:
        - label
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
        fsymId:
          description: >-
            FactSet Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: MH33D6-R
          nullable: true
        metric:
          description: >-
            The requested `metric` input, representing the Fundamentals Data
            Item. For a definition of the item please use the
            `/fundamentals/v2/metrics` endpoint.
          type: string
          example: SALES
          nullable: true
        label:
          description: Report labels of the segment type requested.
          type: string
          example: iPhone
          nullable: true
        date:
          description: Date for the period requested expressed in YYYY-MM-DD format
          type: string
          format: date
          example: '2022-09-30'
          nullable: true
        value:
          $ref: '#/components/schemas/SegmentValue'
    SegmentValue:
      description: >-
        Value of the data metric requested. Note that the type of value is
        `object`, and depending on the data metric requested, the value could be
        an object representation of a `string` or `double`.
      oneOf:
        - type: string
          nullable: true
        - type: number
          format: double
          nullable: true
      nullable: true
    FinancialResponse:
      type: object
      title: Financials Response
      description: Array of financials objects
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Financials'
    Financials:
      type: object
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        fsymId:
          description: >-
            FactSet Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        reportDate:
          type: array
          items:
            $ref: '#/components/schemas/ReportDate'
        fiscalYear:
          type: array
          items:
            $ref: '#/components/schemas/FiscalYear'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
    Item:
      type: object
      properties:
        name:
          type: string
          description: Name of the metric
        ffCode:
          type: string
          description: >-
            FactSet Fundamentals code representing the corresponding financial
            metric
        displayLevel:
          type: string
          description: Describes the level of displaying the item
        displayOrder:
          type: integer
          description: Describes the order of displaying the item
        value:
          type: array
          items:
            description: >-
              Value of the data metric requested. Note that the type of value is
              'object', and depending on the data metric requested, the value
              could be an object representation of a string or double. 
            type: number
            format: double
            nullable: true
    ReportDate:
      description: The date the reported fiscal period ended.
      type: string
      example: '2017-12-30'
      nullable: true
    FiscalYear:
      description: Fiscal year of the reported period in YYYY format.
      type: string
      example: '2018'
      nullable: true
    ProfileResponse:
      type: object
      title: Profiles Response
      properties:
        data:
          description: Array of profile objects
          type: array
          items:
            $ref: '#/components/schemas/Profile'
    Profile:
      type: object
      title: Profile Object
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-USA
        error:
          $ref: '#/components/schemas/CompanyReportErrorObject'
        fsymId:
          description: >-
            FactSet Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        tickerRegion:
          description: FactSet Ticker-Region for the requested security.
          type: string
          example: AAPL-US
          nullable: true
        exchange:
          $ref: '#/components/schemas/Exchange'
        name:
          description: Name of the security
          type: string
          example: Apple Inc.
          nullable: true
        address:
          $ref: '#/components/schemas/Address'
        industry:
          description: >-
            The industry classification for this security. The industry level 5
            RBIC (Revere Business Industry Classification) system is used in
            classification. For more info, visit: [OA
            page](https://my.apps.factset.com/oa/pages/17498)
          type: string
          example: Smart Phone Manufacturing
          nullable: true
        sector:
          description: >-
            The sector classification for this security. The sector level 2 RBIC
            (Revere Business Industry Classification) system is used in
            classification. For more info, visit: [OA
            page](https://my.apps.factset.com/oa/pages/17498)
          type: string
          example: Hardware
          nullable: true
        numberOfEmployees:
          description: Number of employees working in the company
          type: integer
          example: 161000
          nullable: true
        ceo:
          description: >-
            A chief executive officer (CEO) is the highest-ranking executive in
            a company
          type: string
          example: Mr. Timothy Donald Cook
          nullable: true
        businessSummary:
          description: Summary of the security being requested
          type: string
          example: >-
            Apple, Inc. engages in the design, manufacture, and sale of
            smartphones, personal computers, tablets, wearables and accessories,
            and other varieties of related services. It operates through the
            following geographical segments: Americas, Europe, Greater China,
            Japan, and Rest of Asia Pacific. The Americas segment includes North
            and South America. The Europe segment consists of European
            countries, as well as India, the Middle East, and Africa. The
            Greater China segment comprises China, Hong Kong, and Taiwan. The
            Rest of Asia Pacific segment includes Australia and Asian countries.
            Its products and services include iPhone, Mac, iPad, AirPods, Apple
            TV, Apple Watch, Beats products, AppleCare, iCloud, digital content
            stores, streaming, and licensing services. The company was founded
            by Steven Paul Jobs, Ronald Gerald Wayne, and Stephen G. Wozniak in
            April 1976 and is headquartered in Cupertino, CA.
          nullable: true
        yearFounded:
          description: The year this security is founded
          type: integer
          example: 1976
          nullable: true
        marketCapitalization:
          description: >-
            The market capitalization of a company. It is the total value of the
            company's outstanding shares of common stock
          type: integer
          format: int64
          example: 26155490220
          nullable: true
        totalMarketCapitalization:
          description: >-
            The total public shares for the company's listed equity. This
            aggregates across all share classes, with including non-traded
            shares.
          type: integer
          format: int64
          example: 2615545855361
          nullable: true
        sharesOutstanding:
          description: >-
            The number of common shares that a company has issued and are held
            by investors
          type: integer
          format: int64
          example: 15441900000
          nullable: true
        peRatio:
          description: >-
            The price-earnings ratio (P/E ratio) is the ratio for valuing a
            company that measures its current share price relative to its
            per-share earnings (EPS)
          type: number
          format: double
          example: 26.8057
          nullable: true
    Address:
      type: object
      properties:
        streetLine1:
          description: Street line where the company head quarters are located
          type: string
          example: One Apple Park Way
          nullable: true
        streetLine2:
          description: >-
            Additional Street line where the company head quarters are located,
            if available
          type: string
          example: Suite 100
          nullable: true
        city:
          description: City where the company head quarters are located
          type: string
          example: Cupertino
          nullable: true
        state:
          description: State code for which state the company head quarters are located
          type: string
          example: CA
          nullable: true
        stateName:
          description: >-
            Full State Name of the state where the company head quarters are
            located
          type: string
          example: California
          nullable: true
        country:
          description: >-
            Full Country Name of the country where the company head quarters are
            located
          type: string
          example: US
          nullable: true
        zip:
          description: Zipcode of the city where the company head quarters are located
          type: string
          example: 95014-2083
          nullable: true
        phoneNumber:
          description: Phone number of the company
          type: string
          example: 1.408.996.1010
          nullable: true
        website:
          description: Website of the company
          type: string
          example: http://www.apple.com
          nullable: true
    Exchange:
      type: object
      description: The name of the exchange for the security being requested.
      properties:
        exchangeId:
          type: string
          description: The id of the exchange.
          example: NAS
          nullable: true
        fullName:
          type: string
          description: The full name of the exchange.
          example: NASDAQ
          nullable: true
    CompanyFundamentalsResponse:
      type: object
      title: Fundamentals Response
      description: Array of Fundamentals objects
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Fundamentals'
    Fundamentals:
      type: object
      title: Fundamentals Object
      description: Factset Fundamentals Response item
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        error:
          $ref: '#/components/schemas/CompanyReportErrorObject'
        fsymId:
          description: >-
            FactSet Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          nullable: true
        asOfDate:
          type: string
          format: date
          description: >-
            Date on which the specified fundamentals data or information is
            accurate or relevant.
          example: '2017-12-30'
          nullable: true
        currency:
          description: >-
            Currency code for the data. For a list of currency ISO codes, visit
            [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        periodicity:
          type: string
          description: Periodicity or frequency of the fiscal periods.
          example: ANN
          nullable: true
        perShare:
          $ref: '#/components/schemas/PerShare'
        ratios:
          $ref: '#/components/schemas/Ratios'
        dividend:
          $ref: '#/components/schemas/Dividend'
        enterpriseValue:
          type: number
          format: double
          description: >-
            Enterprise Value (EV) is the measure of a company's total value for
            the period and date(s) requested in local currency by default
          example: 2989652.948
          nullable: true
        fiveYearAverageYield:
          type: number
          format: double
          description: >-
            Average of the dividend yield with yield calculated for each of the
            past five years
          example: 5.00195
          nullable: true
        fiveYearDividendGrowthRate:
          type: number
          format: double
          description: >-
            The dividend growth rate is the annualized percentage rate of growth
            that a particular stock's dividend undergoes over five years of time
          example: 6.119162640901776
          nullable: true
        floatingSharesOutstanding:
          type: number
          format: double
          description: >-
            Represents the number of shares outstanding less closely held shares
            for the period and date(s) requested
          example: 15310.455156
          nullable: true
        netIncome:
          type: number
          format: double
          description: >-
            This equals to net earnings (profit) calculated as sales less cost
            of goods sold, selling, general and administrative expenses,
            operating expenses, depreciation, interest, taxes and other expenses
          example: 23636.001
          nullable: true
        numberOfEmployees:
          type: integer
          format: int32
          description: ' Represents the number of employees under the company''s payroll as reported by the management to the shareholders within 90 days of the fiscal year-end.'
          example: 311300
          nullable: true
        salesPerEmployee:
          type: number
          format: double
          description: >-
            Revenue per employee is a ratio that is calculated as a company's
            total revenue divided by its current number of employees
          example: 0.194442659813685
          nullable: true
        shareHolderEquity:
          type: number
          format: double
          description: >-
            Shareholder equity represents the amount of financing the company
            experiences through common and preferred shares
          example: 73081.001
          nullable: true
        threeYearAverageYield:
          type: number
          format: double
          description: >-
            Average of the dividend yield with yield calculated for each of the
            past three years
          example: 4.916496666666666
          nullable: true
        threeYearDividendGrowthRate:
          type: number
          format: double
          description: >-
            The dividend growth rate is the annualized percentage rate of growth
            that a particular stock's dividend undergoes over three years of
            time
          example: 1.228878648233489
          nullable: true
        totalAssets:
          type: number
          format: double
          description: Total amount of assets owned by entity.
          example: 129321.001
          nullable: true
        totalRevenue:
          type: number
          format: double
          description: >-
            Revenue is the amount of money (in Million) that a company actually
            receives during a specific period, including discounts and
            deductions for returned merchandise.
          example: 14752.001
          nullable: true
    PerShare:
      type: object
      properties:
        bookValuePerShare:
          type: number
          format: double
          description: >-
            Book value per common share is a formula used to calculate the per
            share value of a company based on common shareholders' equity in the
            company
          example: 25.27711
          nullable: true
        cashFlowPerShare:
          type: number
          format: double
          description: >-
            Cash flow per share is calculated as a ratio, indicating the amount
            of cash a business generates based on a company’s net income with
            the costs of depreciation and amortization added back
          example: 10.4268994512216
          nullable: true
        cashPerShare:
          type: number
          format: double
          description: Cash Per Share of Security
          example: 7.968296945651575
          nullable: true
        earningsPerShare:
          type: number
          format: double
          description: >-
            Earnings per share (EPS) is the portion of a company's profit
            allocated to each share of common stock
          example: 1.8668
          nullable: true
        revenuePerShare:
          type: number
          format: double
          description: >-
            The portion of a company's revenue that is allocated to each share
            of common stock.
          example: 66.3510388780454
          nullable: true
        salesPerShare:
          type: number
          format: double
          description: >-
            Sales per share is a ratio that computes the total revenue earned
            per share over a designated period
          example: 15.9710148599077
          nullable: true
        trailingTwelveMonthEarningsPerShare:
          type: number
          format: double
          description: ' Earnings per share over the last 12 months.'
          example: 7.621
          nullable: true
    Ratios:
      type: object
      properties:
        assetTurnoverRatio:
          type: number
[...]
