openapi: 3.0.0
info:
  version: 1.0.0
  title: FactSet Debt Capital Structure API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  description: >
    The FactSet Debt Capital Structure API offers insights into public and
    private company debt financing for 69,000+ entities globally. Analyze at the
    individual-instrument level through summary and detailed information of the
    debt structure with history available back through 2006. Instrument types
    covered include Revolving Credit, Term Loans, Notes, and Bonds. 


    **How to Programmatically Download API Specification file:**


    Please use the below link to download the FactSet Debt Capital Structure API
    Specification file in .yaml. You must be authorized for this API to extract.
    This specification can then be used for Codegen to create your own SDKs. You
    can also access by selecting the "Download Spec" button to the right of the
    version below.


    [https://api.factset.com/content/factset-dcs/v1/spec/swagger.yaml](https://api.factset.com/content/factset-dcs/v1/spec/swagger.yaml)


    This API is rate-limited to 10 requests per second and 10 concurrent
    requests per user.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-dcs-api
servers:
  - url: https://api.factset.com/content/factset-dcs/v1
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Reference
paths:
  /details:
    post:
      tags:
        - Reference
      summary: Returns debt instruments for a list of companies.
      description: >
        Gets instruments of varying types such as Revolving Credit, Term Loans,
        ST Debt Total, Notes/Bonds, and Other.
      operationId: getDetailsList
      requestBody:
        required: true
        description: Request object for `Details`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetailsRequest'
            examples:
              Request for All Details in Date Range:
                $ref: '#/components/examples/detailsRequestAll'
      responses:
        '200':
          description: Array of details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailsResponse'
              examples:
                Result of Details in Date Range:
                  $ref: '#/components/examples/detailsResponseAll'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /details-interim:
    post:
      tags:
        - Reference
      summary: >-
        Returns most recently available debt instrument data for a list of
        companies.
      description: >
        Gets instruments of varying types such as Revolving Credit, Term Loans,
        ST Debt Total, Notes/Bonds, and Other. The data returned by this
        endpoint is for the interim period and only returns the most recently
        available value.
      operationId: getInterimDetailsList
      requestBody:
        required: true
        description: Request object for `Details`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterimDetailsRequest'
            examples:
              Request for All Details in Date Range:
                $ref: '#/components/examples/interimDetailsRequestAll'
      responses:
        '200':
          description: Array of interim details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailsResponse'
              examples:
                Result of Details in Date Range:
                  $ref: '#/components/examples/detailsResponseAll'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  schemas:
    DetailsRequest:
      title: Details Request
      description: Details Request
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DetailsRequestBody'
      required:
        - data
    DetailsRequestBody:
      title: Details Request Body
      description: Details Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/Ids'
        periodicity:
          $ref: '#/components/schemas/Periodicity'
        date:
          $ref: '#/components/schemas/AsOfDate'
      required:
        - ids
    InterimDetailsRequest:
      title: Interim Details Request
      description: Interim Details Request
      type: object
      properties:
        data:
          $ref: '#/components/schemas/InterimDetailsRequestBody'
      required:
        - data
    InterimDetailsRequestBody:
      title: Interim Details Request Body
      description: Interim Details Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/Ids'
      required:
        - ids
    DetailsResponse:
      type: object
      title: Details Response
      properties:
        data:
          description: Array of Details Objects
          type: array
          items:
            $ref: '#/components/schemas/Detail'
    Detail:
      title: Detail Object
      type: object
      properties:
        instrumentId:
          description: Identifier for the debt instrument.
          type: string
          example: FDS1R56X6
          nullable: true
        instrumentType:
          description: Type of debt instrument.
          type: string
          enum:
            - Revolving Credit
            - Term Loans
            - ST Debt Total
            - Notes/Bonds
            - Other
          example: Revolving Credit
          nullable: true
        description:
          description: Desription of the debt instrument.
          type: string
          example: Unsec. Rev. Facility
          nullable: true
        seniority:
          description: |
            Textual description of the instrument seniority type:
            * **Senior Unsecured**
            * **Senior Secured**
            * **Senior Subordinated**
            * **Collateralized**
            * **Subordinated**
            * **Junior**
            * **Junior Subordinated**
            * **Senior Conv.** = Senior Convertible
            * **Senior Sub. Conv.** = Senior Subordinated Convertible
            * **Sub. Conv.** = Subordinated Convertible
            * **Junior Conv.** = Junior Convertible
            * **Junior Sub. Conv.** = Junior Subordinated Convertible
            * **Preferred**
            * **Other**
          type: string
          enum:
            - Senior Unsecured
            - Senior Secured
            - Senior Subordinated
            - Collateralized
            - Subordinated
            - Junior
            - Junion Subordinated
            - Senior Conv.
            - Senior Sub. Conv.
            - Sub. Conv.
            - Junior Conv.
            - Junion Sub. Conv.
            - Preferred
            - Other
          example: Senior Secured
          nullable: true
        amountOutstanding:
          type: number
          description: Balance sheet amount outstanding.
          example: 250
          nullable: true
        currency:
          description: >-
            Currency code for the data. For a list of currency ISO codes, visit
            [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          nullable: true
        couponRate:
          type: number
          description: Coupon rate for the debt instrument.
          example: 2.9
          nullable: true
        couponType:
          description: Type of debt instrument.
          type: string
          enum:
            - Variable
            - Fixed
            - Cond
            - Zero
          example: Variable
          nullable: true
        yieldToWorst:
          type: number
          description: Most recent annual yield to worst value for the debt instrument.
          example: 2.9
          nullable: true
        issueDate:
          description: Issue date for the debt instrument.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        reportDate:
          description: Reporting date for the debt instrument.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        maturityDate:
          description: Maturity date for the debt instrument.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-USA
    Ids:
      type: array
      items:
        type: string
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Maximum
        of 25 IDs are supported.
      example:
        - FDS-US
    Periodicity:
      title: Periodicity
      type: string
      description: |
        Periodicity of the fiscal periods, where
          * **ANN** = Annual Original,
          * **QTR** = Quarterly
      enum:
        - ANN
        - QTR
      default: ANN
      example: QTR
    AsOfDate:
      title: AsOfDate
      type: string
      format: date
      description: >
        The date of the period requested in **YYYY-MM-DD** format. Future dates
        (T+1) are not accepted in this endpoint.
      example: '2017-12-01'
    ErrorResponse:
      type: object
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/ErrorObject'
    ErrorObject:
      type: object
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: Bad Request
        title:
          description: The plain text error message
          type: string
          example: Validation Error
        detail:
          description: The detailed error message
          type: string
          example: >-
            The request body is malformed. Please review the request body and
            try again.
  responses:
    '400':
      description: >-
        Bad Request. This can occur for several reasons. Please review the
        "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Not Found:
              $ref: '#/components/examples/badRequestNotFound'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '401':
      description: >-
        Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting
        from. For more help, select the **Report Issue** in the top right corner
        of this Developer Portal specification card and choose Connectivity 401
        or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '403':
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '404':
      description: The requested endpoint could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad Request - Endpoint Not Found:
              $ref: '#/components/examples/notFound'
    '415':
      description: >-
        Unsupported Media Type. This error may be returned when the caller sends
        a resource in a format that is not accepted by the server. This can be
        fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  examples:
    detailsRequestAll:
      summary: Detail request for company id.
      value:
        data:
          ids:
            - IBM-US
          periodicity: ANN
          AsOfDate: '2023-12-31'
    interimDetailsRequestAll:
      summary: Detail request for company id.
      value:
        data:
          ids:
            - IBM-US
    detailsResponseAll:
      summary: Details response for company id.
      value:
        data:
          - instrumentId: FDS1R56X6
            instrumentType: Revolving Credit
            description: Unsec. Rev. Facility
            seniority: Senior Secured
            amountOutstanding: 250
            currency: USD
            couponRate: 2.9
            couponType: Variable
            yieldToWorst: 3.77
            issueDate: '2020-11-19'
            reportDate: '2020-11-19'
            maturityDate: '2020-11-19'
            requestId: IBM-USA
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: >-
        This bad request occurs when a request doesn't use the YYYY-MM-DD in the
        date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: >-
              The date parameter must be in the following date format:
              YYYY-MM-DD
            detail: >-
              The date parameter must be in the following date format:
              YYYY-MM-DD
    badRequestNotFound:
      summary: Bad Request - Data Not Found
      description: >-
        This bad request occurs when a request doesn't have data for requested
        identifier. To resolve, give valid parameters.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: The requested data could not be found
            detail: No data exists for the provided criteria or identifier.
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: >-
        This error message occurs when the request does not include the required
        parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: Missing/Invalid Parameters.
            detail: The parameter 'ids' is required and may not be empty.
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: >-
        This error message occurs when a future date is requested in the
        startDate and endDate parameters. Please revise your request to include
        dates as of today's current date or any prior historical date.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: Missing/Invalid Parameters
            detail: >-
              The use of future dates is not applicable in this endpoint. Please
              revise your request to include dates up to today's current date.
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: >-
        This error message occurs when a request parameter is used in which is
        not recognized by the service. Please revise your request to include
        only the parameters listed in the specification. Typical causes are
        spelling mistakes and use of improper casing.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: Missing/Invalid Parameters
            detail: >-
              Invalid Parameter (s): fakeParameterName1 fakeParameterName2.
              Please modify your request to use parameters outlined in the
              specification for this endpoint.
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: >-
        This error may be returned when the request body is specified as JSON,
        but is not in proper JSON format.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: Malformed JSON Request
            detail: >-
              The request body is malformed. Please review the request body and
              try again.
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: >-
        This error may be returned if it takes more than 29 seconds to hear back
        from the fql service.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Bad Request
            title: Read Timeout
            detail: The request took too long. Try again with a smaller request.
    unauthenticated:
      summary: User Authentication Failed
      description: >-
        This occurs when a user is not properly authenticated or recognized by
        the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key.
        Report Issue under 401 error for help with troubleshooting.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Unauthorized
            title: User Authentication Failed.
            detail: User Authentication Failed.
    forbidden:
      summary: Forbidden
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Forbidden
            title: User Authorization Failed.
            detail: >-
              User is not authorized for the id requested, please reach out to
              FactSet for support
    notFound:
      summary: Not Found
      description: The requested endpoint could not be found.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Not Found
            title: No data found
            detail: The requested endpoint could not be found.
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: >-
        This bad request occurs when the media type passed in the request is not
        supported. Currently the APIs only support 'application/json'.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Unsupported Media Type
            title: Unsupported Media Type
            detail: >-
              text/html media type is not supported. Supported media types are
              application/json.
    notWritable:
      summary: Internal Server Error - Not Writable
      description: >-
        This error may be returned when the server encounters an error writing
        the JSON response.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Internal Server Error
            title: Error writing JSON output
            detail: >-
              The server encountered an error writing the JSON response. Please
              `Report Issue` to FactSet.
    generalException:
      summary: Internal Server Error - General Exception
      description: >-
        This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      value:
        errors:
          - id: adb01824-252f-4420-b0c6
            code: Internal Server Error
            title: Unexpected error
            detail: An unexpected error occurred. Please `Report Issue` to FactSet.
