openapi: 3.0.0
info:
  version: 2.3.1
  title: FactSet Concordance API
  description: >
    The FactSet Concordance API provides the ability to programmatically look up
    several types of entities by their name and other attributes. It attempts to
    match attributes that you supply for the entity and returns as many match
    candidates as it can find. The result is a "concorded" FactSet Entity
    Permanent identifier.  The Entity Identifier can then be used as input
    throughout FactSet's Content soultions, such as Content APIs and Standard
    DataFeeds.<p> There are two types of workflows supported in the API. The
    first workflow type follows traditional API conventions in that a request is
    accepted and a response is returned synchronously. The second workflow type
    involves a background task. With this workflow, a task is created for
    uploading a set of queries, and then the client polls for the task to
    complete. Once the task has completed, the client retrieves the concordance
    results throught the decisions endpoint.</p>
  contact:
    name: FactSet Research Systems, Inc.
    email: api@factset.com
servers:
  - url: https://api.factset.com/content
    description: Production Server
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Entity Match
    description: Retrieve a list of Entity Matches and Candidates for up to 25 names.
  - name: Entity Match - Bulk
    description: >-
      Submit a file with a large list of entity names and attributes and
      retrieve decisions once mapped.
  - name: Universes
    description: Create, View, and Manage Universes where mappings are saved.
  - name: Mappings
    description: >-
      View all Saved Mappings in a Universe or update and save mappings made of
      ClientIds and Names to FactSet Entity Ids
  - name: Snowflake
    description: >-
      The response is formatted specifically for Snowflake environment and not
      used by consumers outside of Snowflake.
  - name: People Match
    description: Retrieve a list of People Matches.
  - name: People Mapping
    description: Used to save a single People Mapping to a given universe
paths:
  /factset-concordance/v2/entity-match:
    get:
      summary: Get Entity Candidates and Matches for a single name and attributes.
      description: >
        Finds the best candidate entities matching the given entity name.
        Additional attributes can be supplied to narrow the search, such as
        State, URL, and Entity Types. <p>**Max of 1 Name permitted in a single
        GET request.** Use the POST method for /entity-match to fetch up to 25
        names. Otherwise, use the "Entity Match - Bulk" workflow to submit
        larger universes of names to be concorded via a file.</p><p>
      tags:
        - Entity Match
      operationId: getEntityMatch
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/country'
        - $ref: '#/components/parameters/state'
        - $ref: '#/components/parameters/url'
        - $ref: '#/components/parameters/includeEntityType'
        - $ref: '#/components/parameters/excludeEntityType'
        - $ref: '#/components/parameters/includeEntitySubType'
        - $ref: '#/components/parameters/excludeEntitySubType'
        - $ref: '#/components/parameters/addParent'
      responses:
        '200':
          $ref: '#/components/responses/EntityMatchResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: >-
        Get a list of Entity Candidates and Matches for a requested list of up
        to 25 names and attributes.
      description: >
        Finds the best candidate entities matching the given entity name. If a
        `universeId` is provided, any match for an input including a `clientId`
        will be saved to that universe. Additional attributes can be supplied to
        narrow the search, such as State, URL, and Entity Types. Finds the best
        candidate entities matching the given company name. Additional
        attributes can be supplied to narrow the search. <p>**Max of 25 Names
        inputted.** Use the "Entity Match - Bulk" workflow to submit larger
        universes of names to be concorded via a file.</p><p> Supported types of
        Entities in which the names can match to include -
          * Corporations, Joint Ventures, and Holding Companies
          * Fund Managers and various Fund Types (Open-end, Closed End, Hedge, Soverign Wealth, Pension, Exchange Traded, and more).</p>
      tags:
        - Entity Match
      operationId: getEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMatchRequestV2'
      responses:
        '200':
          $ref: '#/components/responses/EntityMatchResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/entity-task:
    post:
      summary: Input a file with names and attributes, creating a taskId.
      description: >
        Upload a Comma-Separated List file (.csv / UTF-8 encoding) with a list
        of names and attributes and receive a `taskId`. The taskId is then used
        for reference in the */entity-task-status* and */entity-decisions*
        endpoints to receive results once the task is successful.<p>This is the
        first step in the overall "Bulk" workflow. Use the /entity-task-status
        endpoint to check the status.</p> <p> A universeId must be included in
        request. If you do not have a universe created, reference the
        `/universe` endpoint.
      tags:
        - Entity Match - Bulk
      operationId: getEntityTaskForList
      requestBody:
        description: Entity Request object. Used to create an Entity Task.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                universeId:
                  description: >-
                    The id of the universe that entities should be mapped to.
                    Reference the `/universe` endpoint to create a universe, or
                    view available universes via `/universes`.
                  type: integer
                  example: 1
                taskName:
                  description: >-
                    User defined name for the task that will be used to name the
                    output files.
                  type: string
                  example: test31
                inputFile:
                  description: >
                    The UTF-8 encoded CSV File containing the entity names to be
                    concorded to a FactSet Entity Identifier. The files first
                    row **MUST** include headers as defined in the *Column
                    parameters. Be mindful of casing and spacing in column
                    headers. The input file is posted as a file object in the
                    form. For this reason, the mime type of this post request
                    must be multipart/form-data.
                  type: string
                  format: binary
                  example: Name,Country\nFactSet,US\n
                clientIdColumn:
                  description: >
                    Header Name of the column in the input file that contains a
                    unique identifier supplied by the user referred to as a
                    "clientId". This clientId can be used to create custom
                    mappings or references.
                  type: string
                  example: ClientId
                nameColumn:
                  description: >
                    Header name of the column in the input file that contains
                    the Entity Name to be matched.
                  type: string
                  example: NAME
                countryColumn:
                  description: >
                    Header Name of the column in the input file that contains
                    the country's ISO Code. This is used to filter the
                    candidates before taking a match decision.
                  type: string
                  example: COUNTRY
                urlColumn:
                  description: >
                    Header Name of the column in the input file that contains
                    the Entity's URL. URL corresponding to the entity name that
                    is used when evaluating candidates for a match.
                  type: string
                  example: URL
                stateColumn:
                  description: >
                    Header Name of the column in the input file that contains
                    the two letter State Code of the state or province where the
                    Entity is located. Currently, only US state codes are
                    supported.
                  type: string
                  example: STATE
                includeEntityType:
                  description: >
                    Three-character FactSet entity type code used to filter
                    candidates in order to determine the final match result.
                    Only candidates with an entity type specified will be
                    considered for the final match result. Multiple types can be
                    entered separated by commas. **Do not include within
                    `inputFile`.**
                  type: array
                  items:
                    type: string
                    example: PUB
                    maxLength: 3
                    minLength: 3
                excludeEntityType:
                  description: >
                    Three-character FactSet entity type code used to filter
                    candidates in order to determine the final match result.
                    Entities with these types will be excluded from the
                    decisions.

                    It is a global option used to filter the candidates before
                    taking a match decision.

                    Candidates with an entity type specified will *not* be
                    considered for the final match result.

                    **Do not include within `inputFile`.**
                  type: array
                  items:
                    type: string
                    example: EXT
                    maxLength: 3
                    minLength: 3
                includeEntitySubType:
                  description: >
                    Two-character FactSet entity subtype code used to filter
                    candidates in order to determine the final match result.
                    Only candidates with an entity subtype specified will be
                    considered for the final match result. Multiple types can be
                    entered separated by commas. **Do not include within
                    `inputFile`.**
                  type: array
                  items:
                    type: string
                    example: PR
                    maxLength: 2
                    minLength: 2
                excludeEntitySubType:
                  description: >
                    Two-character FactSet entity subtype code used to filter
                    candidates in order to determine the final match result.
                    Candidates with an entity subtype specified will *not* be
                    considered for the final match result. Multiple types can be
                    entered separated by commas.

                    **Do not include within `inputFile`.**
                  type: array
                  items:
                    type: string
                    example: IB
                    maxLength: 2
                    minLength: 2
              required:
                - universeId
                - taskName
                - inputFile
                - nameColumn
                - clientIdColumn
      responses:
        '200':
          $ref: '#/components/responses/EntityTaskResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/entity-task-status:
    get:
      summary: Gets the status of the requested taskId or all tasks for a User
      description: >
        Pulls the **status** for ALL the Entity Tasks submitted by a client
        within the last 30 days, and related details such as task duration and
        decision rates. Specific Tasks can also be retrieved by using the
        _taskId_ parameter.<p>Status types include -
          * PENDING - The task has not yet started.
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      tags:
        - Entity Match - Bulk
      operationId: getEntityTaskStatus
      parameters:
        - $ref: '#/components/parameters/taskStatusId'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          $ref: '#/components/responses/EntityTaskStatusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/entity-decisions:
    get:
      summary: Get the decisions of matches for the requested taskId.
      description: >
        Retrieves the `Decision` objects for an Entity Task (taskId). The
        decisions do not include all candidates, but rather the results of
        concording the requested list of names included in the input file.
        Mapped entities will include a FactSet Entity Identifier (-E). Results
        will be saved to the `universeId` specified in the input file.
      tags:
        - Entity Match - Bulk
      operationId: getEntityDecisions
      parameters:
        - $ref: '#/components/parameters/taskDecisionId'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EntityDecisionsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/universe:
    post:
      summary: Create a new universe
      description: |
        Create a new universe that is distinct from any existing universe
      tags:
        - Universes
      operationId: getUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/CreateUniverseRequest'
      responses:
        '200':
          $ref: '#/components/responses/UniverseMetaResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/errorResponse'
  /factset-concordance/v2/entity-universe:
    get:
      summary: Retrieve all saved mappings within a requested universe
      description: |
        Retrieves all entity mappings within a requested universe.
      tags:
        - Mappings
      operationId: getEntityUniverse
      parameters:
        - $ref: '#/components/parameters/universeIdRequired'
        - $ref: '#/components/parameters/clientIdFilter'
        - $ref: '#/components/parameters/mapStatus'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EntityUniverseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: >-
        Retrieve all saved mappings within a requested universe or large list of
        client ids
      description: >
        Retrieves all entity mappings that were saved in a given universe.
        Supports filtering by a large number of `clientId`s
      tags:
        - Mappings
      operationId: getEntityUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/EntityUniverseRequest'
      responses:
        '200':
          $ref: '#/components/responses/EntityUniverseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/people-universe:
    get:
      summary: Retrieve all saved mappings within a requested universe
      description: |
        Retrieves all people mappings within a requested universe.
      tags:
        - People Mapping
      operationId: getPeopleUniverse
      parameters:
        - $ref: '#/components/parameters/universeIdRequired'
        - $ref: '#/components/parameters/clientId'
        - $ref: '#/components/parameters/mapStatus'
        - $ref: '#/components/parameters/peopleOffset'
        - $ref: '#/components/parameters/peopleLimit'
      responses:
        '200':
          $ref: '#/components/responses/PeopleUniverseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: >-
        Retrieve all saved mappings within a requested universe or large list of
        client ids
      description: >
        Retrieves all people mappings that were saved in a given universe.
        Supports filtering by a large number of `clientId`s
      tags:
        - People Mapping
      operationId: getPeopleUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleUniverseRequest'
      responses:
        '200':
          $ref: '#/components/responses/PeopleUniverseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/update-universe:
    post:
      summary: Update metadata for an existing universe
      description: |
        Update metadata for an existing universe
      tags:
        - Universes
      operationId: getUpdateUniverseForList
      requestBody:
        $ref: '#/components/requestBodies/UpdateUniverseRequest'
      responses:
        '200':
          $ref: '#/components/responses/UniverseMetaResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/errorResponse'
  /factset-concordance/v2/universes:
    get:
      summary: Fetch metadata for universes
      description: >
        Fetch information on active universes for the current user. Optionally
        filter for a specific universe given a `universeId`
      tags:
        - Universes
      operationId: getUniverses
      parameters:
        - $ref: '#/components/parameters/universeId'
        - $ref: '#/components/parameters/universeType'
      responses:
        '200':
          $ref: '#/components/responses/UniversesResponse'
        default:
          $ref: '#/components/responses/errorResponse'
  /factset-concordance/v2/entity-universe-statistics:
    get:
      summary: Get statistics on a given universe
      description: >
        Get the total number of mappings in a universe, as well as the number of
        mapped, unmapped and indeterminate mappings
      tags:
        - Universes
      operationId: getEntityUniverseStatistics
      parameters:
        - $ref: '#/components/parameters/universeIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/EntityUniverseStatisticsResponse'
        default:
          $ref: '#/components/responses/errorResponse'
  /factset-concordance/v2/universe-statistics:
    get:
      summary: Get statistics on a given universe
      description: >
        Get the total number of mappings in a universe, as well as the number of
        mapped, unmapped and indeterminate mappings
      tags:
        - Universes
      operationId: getUniverseStatistics
      parameters:
        - $ref: '#/components/parameters/universeStatisticsRequired'
      responses:
        '200':
          $ref: '#/components/responses/universeStatisticsResponse'
        default:
          $ref: '#/components/responses/errorResponse'
  /factset-concordance/v2/entity-mapping:
    post:
      summary: Saves a single-mapping specified by the client.
      description: >
        Saves a Concordance Mapping to the client universe. When making a post,
        all exiting values are overwritten in the database with the values
        passed in the request. clientId and clientName are required.
      tags:
        - Mappings
      operationId: getEntityMappingForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingRequestV2'
      responses:
        '200':
          $ref: '#/components/responses/EntityResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/people-mapping:
    post:
      summary: Saves a single-mapping specified by the client.
      description: >
        Saves a single Concordance People Mapping to a given universe. When
        making a post, all exiting values are overwritten in the database with
        the values passed in the request. clientId and clientName are required.
      tags:
        - People Mapping
      operationId: getPeopleMappingForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMappingRequestV2'
      responses:
        '200':
          $ref: '#/components/responses/PeopleMappingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/entity-mapping-delete:
    post:
      summary: Deletes mapping specified by the client.
      description: >
        Delete a Concordance Mapping to the client universe. When making a post,
        all exiting values are overwritten in the database with the values
        passed in the request. clientId and universeId are required.
      tags:
        - Mappings
      operationId: getEntityMappingDeleteForList
      requestBody:
        $ref: '#/components/requestBodies/EntityMappingDeleteRequestV2'
      responses:
        '200':
          $ref: '#/components/responses/EntityMappingDeleteResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/people-mapping-delete:
    post:
      summary: Deletes mapping specified by the client.
      description: >
        Delete a Concordance Mapping to the client universe. When making a post,
        all exiting values are overwritten in the database with the values
        passed in the request. clientId and universeId are required.
      tags:
        - People Mapping
      operationId: getPeopleMappingDeleteForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMappingDeleteRequestV2'
      responses:
        '200':
          $ref: '#/components/responses/PeopleMappingDeleteResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/snowflake-entity-match:
    post:
      summary: >-
        Perform an entity search and return a snowflake-friendly response. Up to
        25 Names per request.
      description: >
        Finds the best candidate entities matching the given company name.
        Additional attributes can be supplied to narrow the search. *This
        endpoint is used natively within Snowflake and is not to be consumed
        directly by users. Reach out to your FactSet Account team to learn more
        about Concordance in Snowflake.*
      tags:
        - Snowflake
      operationId: getSnowflakeEntityMatchForList
      requestBody:
        $ref: '#/components/requestBodies/SnowflakeEntityMatchRequest'
      responses:
        '200':
          $ref: '#/components/responses/SnowflakeEntityMatchResponse'
  /factset-concordance/v2/people-match:
    get:
      summary: >-
        Find potential people matches given a person's name.People matches can
        be retrieved using person's name and other attributes like firstname,
        middlename and lastname.
      description: >
        Finds the best people candidates matching the given name. <p>**Max of 1
        Name permitted in a single GET request.** Use the POST method for
        /people-match to fetch up to  names. Otherwise, use the "People Match -
        Bulk" workflow to submit larger universes of names to be concorded via a
        file.</p><p>
      tags:
        - People Match
      operationId: getPeopleMatch
      parameters:
        - $ref: '#/components/parameters/personName'
        - $ref: '#/components/parameters/salutation'
        - $ref: '#/components/parameters/firstName'
        - $ref: '#/components/parameters/middleName'
        - $ref: '#/components/parameters/lastName'
        - $ref: '#/components/parameters/suffix'
        - $ref: '#/components/parameters/entity'
      responses:
        '200':
          $ref: '#/components/responses/PeopleMatchResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Find potential people matches given a person's name.
      description: >
        Finds the best candidate people matching the given people names.
        Additional attributes can be supplied to narrow the search. If a
        `universeId` is provided, any match for an input including a `clientId`
        will be saved to that universe.
      tags:
        - People Match
      operationId: getPeopleMatchForList
      requestBody:
        $ref: '#/components/requestBodies/PeopleMatchRequestV2'
      responses:
        '200':
          $ref: '#/components/responses/PeopleMatchResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/people-task:
    post:
      summary: Create a People Concordance Task.
      description: >
        The "Bulk" workflow allows the user to create a People Concordance Task.
        Uploading of a Comma-Separated List file (.csv / UTF-8 encoding) with a
        list of names and attributes and creation of a task id is mandatory to
        start the process.
           The taskId is then used for reference in the /people-task-status and /people-decisions endpoints to receive results once the task is successful.The /people-task-status endpoint is to check the status of the Tasks as per the ids.
            A universeId must be included in request. If you do not have a universe created, reference the /universe endpoint.The bulk workflow supports a two way approach for the user.
          **The user can use these parameters in the following ways.**
            1.Filling all the required fields including the `personNameColumn`.(do not include `firstNameColumn`,`lastNameColumn` & `middleNameColumn`)
            2.Filling all the required fields excluding the `personNameColumn`.(Ensure atleast the `lastNameColumn` is filled)
      tags:
        - People Match - Bulk
      operationId: getPeopleTaskForList
      requestBody:
        description: People Request object. Used to create an People Task.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                universeId:
                  description: >-
                    The id of the universe that entities should be mapped to.
                    Reference the `/universe` endpoint to create a universe, or
                    view available universes via `/universes`.
                  type: integer
                  example: 1
                taskName:
                  description: >-
                    User defined name for the task that will be used to name the
                    output files.
                  type: string
                  example: test31
                inputFile:
                  description: >
                    The UTF-8 encoded CSV File containing the entity names to be
                    concorded to a FactSet Entity Identifier. The files first
                    row **MUST** include headers as defined in the *Column
                    parameters. Be mindful of casing and spacing in column
                    headers. The input file is posted as a file object in the
                    form. For this reason, the mime type of this post request
                    must be multipart/form-data.
                  type: string
                  format: binary
                  example: Name,Country\nFactSet,US\n
                clientIdColumn:
                  description: >
                    Header Name of the column in the input file that contains a
                    unique identifier supplied by the user referred to as a
                    "clientId". This clientId can be used to create custom
                    mappings or references.
                  type: string
                  example: ClientId
                entityColumn:
                  description: >
                    Header name of the column in the input file that contains
                    the Entity Name to be matched.
                  type: string
                  example: Microsoft
                firstNameColumn:
                  description: >
                    First name of the person.**Do not include with
                    `personNameColumn`**.
                  type: string
                  example: Bill
                lastNameColumn:
                  description: >
                    Lat name of the person.**Do not include with
                    `personNameColumn`**.
                  type: string
                  example: Gates
                middleNameColumn:
                  description: >
                    Middle name of the person.**Do not include within
                    `personNameColumn`**.
                  type: string
                  example: Henry
                personNameColumn:
                  description: >
                    Header name of the column in the input file that contains
                    the name of the person to be matched. **Do not include with
                    `firstNameColumn` and `lastNameColumn`.**
                  type: string
                  example: Bill Gates
                priorityColumn:
                  description: >
                    Priority associated to the clientId. Used for manual
                    mapping.
                  type: string
                  example: HIGH
                salutationColumn:
                  description: >
                    The salutation of the person.**Do not include with
                    `personNameColumn`**.
                  type: string
                  example: Mr.
                suffixColumn:
                  description: >
                    A name suffix, that follows a person's full name and
                    provides additional information about the person.**Do not
                    include with `personNameColumn`**.
                  type: string
                  example: HIGH
              required:
                - universeId
                - taskName
                - inputFile
                - entityColumn
                - clientIdColumn
      responses:
        '200':
          $ref: '#/components/responses/PeopleTaskResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/people-task-status:
    get:
      summary: Get the Status of the People Tasks.
      description: >
        Pulls the **status** for ALL the People Tasks submitted by a client
        within the last 30 days, and related details such as task duration and
        decision rates. Specific Tasks can also be retrieved by using the
        _taskId_ parameter.<p>Status types include -
          * PENDING - The task has not yet started.
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /people-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      tags:
        - People Match - Bulk
      operationId: getPeopleTaskStatus
      parameters:
        - $ref: '#/components/parameters/peopleTaskStatusId'
        - $ref: '#/components/parameters/peopleOffset'
        - $ref: '#/components/parameters/peopleLimit'
        - $ref: '#/components/parameters/peopleStatus'
      responses:
        '200':
          $ref: '#/components/responses/PeopleTaskStatusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-concordance/v2/people-decisions:
    get:
      summary: Get the decisions of matches for the requested taskId.
      description: >
        Retrieves the `Decision` objects for an People Task (taskId). The
        decisions do not include all candidates, but rather the results of
        concording the requested list of names included in the input file.
        Mapped entities will include a FactSet Entity Identifier (-E). Results
        will be saved to the `universeId` specified in the input file.
      tags:
        - People Match - Bulk
      operationId: getPeopleDecisions
      parameters:
        - $ref: '#/components/parameters/peopleTaskDecisionId'
        - $ref: '#/components/parameters/peopleOffset'
        - $ref: '#/components/parameters/peopleLimit'
      responses:
        '200':
          $ref: '#/components/responses/PeopleDecisionsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    name:
      name: name
      description: Name of Entity to match.
      in: query
      schema:
        type: string
      required: true
      example: FactSet
    country:
      name: country
      description: >-
        ISO2 country code corresponding to the entity name that is used when
        evaluating candidates for a match. For a list of ISO2 Country codes,
        visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
      in: query
      schema:
        type: string
        maxLength: 2
        minLength: 2
      example: US
    state:
      name: state
      description: >-
        Two-character state code corresponding to the entity name that is used
        when evaluating candidates for a match. Currently, only US state codes
        are supported.
      in: query
      schema:
        type: string
        maxLength: 2
        minLength: 2
      example: CT
    url:
      name: url
      description: >-
        URL corresponding to the entity name that is used when evaluating
        candidates for a match.
      in: query
      schema:
        type: string
    includeEntityType:
      name: includeEntityType
      description: >
        Three-character FactSet entity type code used to filter candidates in
        order to determine the final match result. Only candidates with an
        entity type specified will be considered for the final match result.
        Multiple types can be entered separated by commas.
          |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
          |---|---|---|---|
          |ABS|Asset-Backed||MED|Broadcast Call Sign|
          |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
          |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
          |CMD|Commodity||MUT|Mutual Fd-Open End|
          |COL|College/University||NPO|Non-Profit Organization|
          |CUR|Currency||OPD|Operating Division|
          |ESP|Emp Stk Ownership Plan||OTH|Other|
          |EXT|Extinct||PEF|Pension Fund|
          |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
          |FND|Foundation/Endowment||PUB|Public Company|
          |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
          |FRX|ForEx||PVT|Private Company|
          |GOV|Government||SOV|Sovereign Wealth Fund|
          |HED|Hedge Fund||SUB|Subsidiary|
          |HOL|Holding Company||TRU|Trust/Trustee|
          |IDX|Index||UMB|Umbrella Fund|
          |VEN|Venture Capital Fund||JVT|Joint Venture|
      in: query
      schema:
        type: array
        items:
          type: string
          maxLength: 3
          minLength: 3
          example: PUB
    excludeEntityType:
      name: excludeEntityType
      description: >
        Three-character FactSet entity type code used to filter candidates in
        order to determine the final match result. Candidates with an entity
        type specified will *not* be considered for the final match result.
        Multiple types can be entered separated by commas.
          |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
          |---|---|---|---|
        |ABS|Asset-Backed||MED|Broadcast Call Sign|

        |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|

        |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|

        |CMD|Commodity||MUT|Mutual Fd-Open End|

        |COL|College/University||NPO|Non-Profit Organization|

        |CUR|Currency||OPD|Operating Division|

        |ESP|Emp Stk Ownership Plan||OTH|Other|

        |EXT|Extinct||PEF|Pension Fund|

        |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|

        |FND|Foundation/Endowment||PUB|Public Company|

        |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|

        |FRX|ForEx||PVT|Private Company|

        |GOV|Government||SOV|Sovereign Wealth Fund|

        |HED|Hedge Fund||SUB|Subsidiary|

        |HOL|Holding Company||TRU|Trust/Trustee|

        |IDX|Index||UMB|Umbrella Fund|

        |VEN|Venture Capital Fund||JVT|Joint Venture|
      in: query
      schema:
        type: array
        items:
          type: string
          maxLength: 3
          minLength: 3
          example: EXT
    includeEntitySubType:
      name: includeEntitySubType
      description: >
        Two-character FactSet entity subtype code used to filter candidates in
        order to determine the final match result. Only candidates with an
        entity subtype specified will be considered for the final match result.
        Multiple types can be entered separated by commas.
          |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
          |---|---|---|---|
          |AR|Arbitrage|IC|Investment Company|
          |BM|Bank Investment Division|IN|Insurance Company|
          |BR|Broker|MF|Mutual Fund Manager|
          |CP|Corporate|ML|Master Ltd Part|
          |CU|Custodial|MM|Market Maker|
          |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
          |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
          |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
          |FS|Fund Distributor|RE|Research Firm|
          |FU|Fund|SB|Subsidiary Branch|
          |FY|Family Office|ST|Stock Borrowing/Lending|
          |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
          |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
          |IA|Investment Adviser|
          |IB|Investment Banking|
      in: query
      schema:
        type: array
        items:
          type: string
          maxLength: 2
          minLength: 2
          example: PR
    excludeEntitySubType:
      name: excludeEntitySubType
      description: >
        Two-character FactSet entity subtype code used to filter candidates in
        order to determine the final match result. Candidates with an entity
        subtype specified will not be considered for the final match result.
        Multiple types can be entered separated by commas.

        |Entity Subtype Code|Entity Subtype Description|Entity Subtype
        Code|Entity Subtype Description|

        |---|---|---|---|

        |AR|Arbitrage|IC|Investment Company|

        |BM|Bank Investment Division|IN|Insurance Company|

        |BR|Broker|MF|Mutual Fund Manager|

        |CP|Corporate|ML|Master Ltd Part|

        |CU|Custodial|MM|Market Maker|

        |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|

        |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|

        |FO|Foundation/Endowment Manager|PP|Real Estate Manager|

        |FS|Fund Distributor|RE|Research Firm|

        |FU|Fund|SB|Subsidiary Branch|

        |FY|Family Office|ST|Stock Borrowing/Lending|

        |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|

        |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|

        |IA|Investment Adviser|

        |IB|Investment Banking|
      in: query
      schema:
        type: array
        items:
          type: string
          example: HF
          maxLength: 2
          minLength: 2
    addParent:
      name: includeParent
      description: >-
        Flag to include parent entities in the list of candidates. This
        parameter does not influence the match result.
      in: query
      schema:
        type: boolean
        example: false
        default: false
    taskDecisionId:
      name: taskId
      description: >-
        Concordance Task Identifier. The taskId is created in response from the
        /entity-task endpoint.
      in: query
      schema:
        type: integer
      example: 31589
      required: true
    taskStatusId:
      name: taskId
      description: >-
        Concordance Task Identifier. The taskId is created in response from the
        /entity-task endpoint.
      in: query
      schema:
        type: integer
      example: 31589
      required: false
    offset:
      name: offset
      description: Starting row for records to return or rows to skip.
      in: query
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Limits the number of records in the response.
      schema:
        type: integer
        maximum: 10000
      example: 10
    status:
      name: status
      description: |
        Filter on the status of the Concordance Tasks. Default is no filter.
          * PENDING - The task has not yet started
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
            - BAD_REQUEST
            - ABORTED
      explode: false
    mapStatus:
      name: mapStatus
      description: >
        Filter by the Entity Decisions that have the specified mapStatus, where
        -
          * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
          * UNMAPPED - The requested Entity Name is unmapped by FactSet.
          * INDETERMINATE - The requested Entity Name was unable to make a mapping.
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
        example: MAPPED
    clientIdFilter:
      name: clientId
      description: |
        Filter by the clientId(s) created by the user in a previous mapping.
      in: query
      schema:
        type: array
        items:
          type: string
          example: EXT
      explode: false
      example:
        - abc-123
        - def-456
    clientId:
      name: clientId
      description: |
        Filter by the clientId(s) created by the user in a previous mapping.
      in: query
      schema:
        type: array
        items:
          type: string
          example: EXT
      explode: false
      example:
        - abc-123
        - def-456
    universeId:
      name: universeId
      required: false
      description: >-
        Universe identifier. *To create a universe, use the `/universe'
        endpoint.*
      in: query
      schema:
        type: integer
      example: 1
    universeType:
      name: universeType
      description: Universe Type.
      in: query
      schema:
        type: string
        enum:
          - ENTITY
          - PEOPLE
      example: ENTITY
      explode: false
    universeIdRequired:
      name: universeId
      required: true
      description: >-
        Universe identifier. *To create a universe, use the `/universe'
        endpoint.*
      in: query
      schema:
        type: integer
      example: 1
    universeStatisticsRequired:
      name: universeId
      required: true
      description: >-
        Universe identifier. *To create a universe, use the `/universe'
        endpoint.*
      in: query
      schema:
        type: integer
      example: 1
    personName:
      name: personName
      description: Name of Person to match.
      in: query
      schema:
        type: string
      required: false
      example: Bill Gates
    salutation:
      name: salutation
      description: >-
        Title in person's name. This parameter should not be provided when the
        person name is provided as the input.
      in: query
      schema:
        type: string
      required: false
      example: Mr
    firstName:
      name: firstName
      description: >-
        First name of person. This parameter should not be provided when the
        person name is provided as the input.
      in: query
      schema:
        type: string
      required: false
      example: Bill
    middleName:
      name: middleName
      description: >-
        Middle name of person.This parameter should not be provided when the
        person name is provided as the input.
      in: query
      schema:
        type: string
      required: false
      example: Henry
    lastName:
      name: lastName
      description: >-
        Last name of person. This parameter should not be provided when the
        person name is provided as the input.
      in: query
      schema:
        type: string
      required: false
      example: Gates
    suffix:
      name: suffix
      description: >-
        Suffix in person's name. This parameter should not be provided when the
        person name is provided as the input.
      in: query
      schema:
        type: string
      required: false
      example: III
    entity:
      name: entity
      description: >-
        Entity the person is associated with. It is used to filter the
        candidates before taking a match decision. Can be entity ID or name. The
        supported entity types match the what is supported via the /company
        match.
      in: query
      schema:
        type: string
      required: true
      example: Microsoft
    peopleTaskDecisionId:
      name: taskId
      description: >-
        Concordance Task Identifier. The taskId is created in response from the
        /people-task endpoint.
      in: query
      schema:
        type: integer
      example: 31589
      required: true
    peopleTaskStatusId:
      name: taskId
      description: >-
        Concordance Task Identifier. The taskId is created in response from the
        /people-task endpoint.
      in: query
      schema:
        type: integer
      example: 31589
      required: false
    peopleOffset:
      name: offset
      description: Starting row for records to return or rows to skip.
      in: query
      schema:
        type: integer
        default: 0
    peopleLimit:
      name: limit
      in: query
      description: Limits the number of records in the response.
      schema:
        type: integer
        maximum: 10000
      example: 10
    peopleStatus:
      name: status
      description: |
        Filter on the status of the Concordance Tasks. Default is no filter.
          * PENDING - The task has not yet started
          * IN_PROGRESS - The task is submitted and decisions are in progress.
          * SUCCESS - The task was successful! Move to the /entity-decisions endpoint to retrieve decisions.
          * FAILURE - The task failed. Reach out to FactSet Support for assistance.
          * BAD_REQUEST - The task creation was unsuccesfull. Typically occurs with an incorrect input file format or column headers.
          * ABORTED - The task was aborted.
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
            - BAD_REQUEST
            - ABORTED
      explode: false
  requestBodies:
    EntityMatchRequestV2:
      description: A request to match a Entity.
      required: true
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/EntityMatchRequest'
    EntityMappingRequestV2:
      description: A request to create a single mapping.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityMappingRequest'
    PeopleMappingRequestV2:
      description: A request to create a single mapping.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PeopleMappingRequest'
    EntityMappingDeleteRequestV2:
      description: A request to delete entity mappings specified by the client
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityMappingDeleteRequest'
    PeopleMappingDeleteRequestV2:
      description: A request to delete people mappings specified by the client
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityMappingDeleteRequest'
    EntityUniverseRequest:
      description: A request to fetch all entities of a given universe
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityUniverseRequest'
    CreateUniverseRequest:
      description: A request to create a user's universe
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateUniverseRequest'
    UpdateUniverseRequest:
      description: A request to update a user's universe
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateUniverseRequest'
    PeopleUniverseRequest:
      description: A request to fetch all entities of a given universe
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PeopleUniverseRequest'
    SnowflakeEntityMatchRequest:
      description: A request to match an entity name and its attributes within Snowflake.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnowflakeEntityMatchRequest'
    PeopleMatchRequestV2:
      description: A request to People match.
      required: true
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/PeopleMatchRequest'
  responses:
    '400':
      description: >-
        Bad Request. This can occur for several reasons. Please review the
        "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '401':
      description: >-
        Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting
        from. For more help, select the **Report Issue** in the top right corner
        of this Developer Portal specification card and choose Connectivity 401
        or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '403':
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
    '415':
      description: >-
        Unsupported Media Type. This error may be returned when the caller sends
        a resource in a format that is not accepted by the server. This can be
        fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    EntityMatchResponse:
      description: Response containing Entity Match results.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/EntityMatchesResponse'
          examples:
            Entity Matches:
              $ref: '#/components/examples/EntityMatches'
    EntityTaskResponse:
      description: OK. The Entity Task creation is submitted.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/EntityTaskResponse'
          examples:
            Pending Task:
              $ref: '#/components/examples/PendingTask'
    EntityTaskStatusResponse:
      description: Response object for Task Status endpoint.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/EntityTaskStatusResponse'
          examples:
            Successful Entity Task:
              $ref: '#/components/examples/SuccessfulEntityTasks'
            Pending Task:
              $ref: '#/components/examples/PendingTasks'
            Bad Task:
              $ref: '#/components/examples/BadTasks'
            Failed Task:
              $ref: '#/components/examples/FailedTasks'
    EntityDecisionsResponse:
      description: Response object for Entity Decisions endpoint.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/EntityDecisionsResponse'
          examples:
            Entity Decisions:
              $ref: '#/components/examples/EntityDecisions'
    EntityUniverseResponse:
      description: Response object for FactSet Concordance Universe detail.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityUniverseResponse'
          examples:
            CompanyUniverse:
              $ref: '#/components/examples/EntityUniverse'
    PeopleUniverseResponse:
      description: Response object for FactSet Concordance Universe detail.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PeopleUniverseResponse'
          examples:
            CompanyUniverse:
              $ref: '#/components/examples/PeopleUniverse'
    EntityUniverseStatisticsResponse:
      description: Response object for mapping statistics for a universe
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityUniverseStatisticsResponse'
    universeStatisticsResponse:
      description: Response object for mapping statistics for a universe
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/universeStatisticsResponse'
    UniversesResponse:
      description: Metadata on multiple universes
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UniversesResponse'
    UniverseMetaResponse:
      description: Metadata on a single universe
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UniverseMetaResponse'
    EntityMappingResponse:
      description: Single entity mapping
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityMappingResponse'
    PeopleMappingResponse:
      description: Single people mapping
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PeopleMappingResponse'
          examples:
            PeopleResponse:
              $ref: '#/components/examples/PeopleResponse'
    EntityResponse:
      description: Response object for FactSet Concordance Entity.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityResponse'
          examples:
            EntityResponse:
              $ref: '#/components/examples/EntityResponse'
    SnowflakeEntityMatchResponse:
      description: >-
        Response object for the entity-match object in a snowflake friendly
        response model.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnowflakeEntityMatchResponse'
    PeopleMatchResponse:
      description: Response containing People Match results.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/PeopleMatchesResponse'
          examples:
            People Matches:
              $ref: '#/components/examples/PeopleMatches'
    EntityMappingDeleteResponse:
      description: >-
        Response object for the entity-match object in a snowflake friendly
        response model.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntityMappingDeleteResponse'
    PeopleMappingDeleteResponse:
      description: Response object for the people-mapping-delete endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PeopleMappingDeleteResponse'
          examples:
            PeopleResponse:
              $ref: '#/components/examples/PeopleResponse'
    PeopleTaskResponse:
      description: OK. The People Task creation is submitted.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/PeopleTaskResponse'
          examples:
            Pending Task:
              $ref: '#/components/examples/PeopleTask'
    PeopleTaskStatusResponse:
      description: Response object for People Task Status endpoint.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/PeopleTaskStatusResponse'
          examples:
            Successful Entity Task:
              $ref: '#/components/examples/SuccessfulPeopleTasks'
            Pending Task:
              $ref: '#/components/examples/PendingTask1'
            Bad Task:
              $ref: '#/components/examples/BadTasks1'
            Failed Task:
              $ref: '#/components/examples/FailedTasks1'
    PeopleDecisionsResponse:
      description: Response object for People Decisions endpoint.
      content:
        application/json;charset=utf-8:
          schema:
            $ref: '#/components/schemas/PeopleDecisionsResponse'
          examples:
            People Decisions:
              $ref: '#/components/examples/PeopleDecisions'
    errorResponse:
      description: Error Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Not Found:
              $ref: '#/components/examples/NotFound'
  schemas:
    EntityMatchRequest:
      title: Entity Match Request
      description: Request object for a requesting multiple Entity Matches.
      type: object
      properties:
        input:
          type: array
          items:
            type: object
            properties:
              name:
                description: The Name of the entity to match.
                type: string
                example: Amazon
              clientId:
                description: >
                  A unique identifier supplied by the user. ClientId is saved to
                  the user's Concordance universe and will be used as the
                  identifier for that entity within the universe.
                type: string
                example: abc-123
              country:
                description: >
                  ISO2 country code corresponding to the entity name that is
                  used when evaluating candidates for a match. For a list of ISO
                  Country codes, visit [OA
                  8754](https://my.apps.factset.com/oa/pages/8754).
                type: string
                maxLength: 2
                minLength: 2
                example: US
              state:
                description: >
                  Two-character state code corresponding to the entity name that
                  is used when evaluating candidates for a match. Currently,
                  only US state codes are supported.Two character state or
                  province code to filter on.
                type: string
                maxLength: 2
                minLength: 2
                example: CT
              url:
                description: >
                  URL corresponding to the entity name that is used when
                  evaluating candidates for a match.
                type: string
                example: www.amazon.com
            required:
              - name
          minItems: 1
          maxItems: 25
        includeEntityType:
          description: >
            Three-character FactSet entity type code used to filter candidates
            in order to determine the final match result. Only candidates with
            an entity type specified will be considered for the final match
            result. Multiple types can be entered separated by commas
              |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
              |---|---|---|---|
              |ABS|Asset-Backed||MED|Broadcast Call Sign|
              |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
              |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
              |CMD|Commodity||MUT|Mutual Fd-Open End|
              |COL|College/University||NPO|Non-Profit Organization|
              |CUR|Currency||OPD|Operating Division|
              |ESP|Emp Stk Ownership Plan||OTH|Other|
              |EXT|Extinct||PEF|Pension Fund|
              |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
              |FND|Foundation/Endowment||PUB|Public Company|
              |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
              |FRX|ForEx||PVT|Private Company|
              |GOV|Government||SOV|Sovereign Wealth Fund|
              |HED|Hedge Fund||SUB|Subsidiary|
              |HOL|Holding Company||TRU|Trust/Trustee|
              |IDX|Index||UMB|Umbrella Fund|
              |VEN|Venture Capital Fund||JVT|Joint Venture|
          type: array
          items:
            type: string
            maxLength: 3
            minLength: 3
            example: PUB
        excludeEntityType:
          description: >
            Three-character FactSet entity type code used to filter candidates
            in order to determine the final match result. Candidates with an
            entity type specified will not be considered for the final match
            result. Multiple types can be entered separated by commas.
              |Entity Type Code|Entity Type Description|Entity Type Code|Entity Type Description|
              |---|---|---|---|
              |ABS|Asset-Backed||MED|Broadcast Call Sign|
              |BAS|Business Association (JP)||MUC|Mutual Fd-Closed End|
              |CAC|Consolidated Accounting||MUE|Mutual Fd-ETF|
              |CMD|Commodity||MUT|Mutual Fd-Open End|
              |COL|College/University||NPO|Non-Profit Organization|
              |CUR|Currency||OPD|Operating Division|
              |ESP|Emp Stk Ownership Plan||OTH|Other|
              |EXT|Extinct||PEF|Pension Fund|
              |FAF|Family of Fds (VC/Pvt EQ)||PRO|Real Property|
              |FND|Foundation/Endowment||PUB|Public Company|
              |FNS|Financing Subsidiary/SPE||PVF|Private Eq Fd/Alt Invt|
              |FRX|ForEx||PVT|Private Company|
              |GOV|Government||SOV|Sovereign Wealth Fund|
              |HED|Hedge Fund||SUB|Subsidiary|
              |HOL|Holding Company||TRU|Trust/Trustee|
              |IDX|Index||UMB|Umbrella Fund|
              |VEN|Venture Capital Fund||JVT|Joint Venture|
          type: array
          items:
            type: string
            example: EXT
            maxLength: 3
            minLength: 3
        includeEntitySubType:
          description: >
            Two-character FactSet entity subtype code used to filter candidates
            in order to determine the final match result. Only candidates with
            an entity subtype specified will be considered for the final match
            result. Multiple types can be entered separated by commas.
              |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
              |---|---|---|---|
              |AR|Arbitrage|IC|Investment Company|
              |BM|Bank Investment Division|IN|Insurance Company|
              |BR|Broker|MF|Mutual Fund Manager|
              |CP|Corporate|ML|Master Ltd Part|
              |CU|Custodial|MM|Market Maker|
              |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
              |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
              |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
              |FS|Fund Distributor|RE|Research Firm|
              |FU|Fund|SB|Subsidiary Branch|
              |FY|Family Office|ST|Stock Borrowing/Lending|
              |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
              |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
              |IA|Investment Adviser|
              |IB|Investment Banking|
          type: array
          items:
            type: string
            example: PR
            maxLength: 2
            minLength: 2
        excludeEntitySubType:
          description: >
            Two-character FactSet entity subtype code used to filter candidates
            in order to determine the final match result. Candidates with an
            entity subtype specified will not be considered for the final match
            result. Multiple types can be entered separated by commas.
              |Entity Subtype Code|Entity Subtype Description|Entity Subtype Code|Entity Subtype Description|
              |---|---|---|---|
              |AR|Arbitrage|IC|Investment Company|
              |BM|Bank Investment Division|IN|Insurance Company|
              |BR|Broker|MF|Mutual Fund Manager|
              |CP|Corporate|ML|Master Ltd Part|
              |CU|Custodial|MM|Market Maker|
              |FF|Fund of Funds Manager|PB|Private Banking/Wealth Mgmt|
              |FH|Fund of Hedge Funds Manager|PF|Pension Fund Manager|
              |FO|Foundation/Endowment Manager|PP|Real Estate Manager|
              |FS|Fund Distributor|RE|Research Firm|
              |FU|Fund|SB|Subsidiary Branch|
              |FY|Family Office|ST|Stock Borrowing/Lending|
              |GV|Govt (Fed/Local/Agency)|SV|Sovereign Wealth Manager|
              |HF|Hedge Fund Manager|VC|Venture Capital/Pvt Equity|
              |IA|Investment Adviser|
              |IB|Investment Banking|
          type: array
          items:
            type: string
            example: HF
            maxLength: 2
            minLength: 2
        includeParent:
          description: >
            Flag to include parent entities in the list of candidates. This
            parameter does not influence the match result.
          type: boolean
          default: false
        universeId:
          description: |
            The universeId to save this set of inputs to
          type: integer
          example: 1
      required:
        - input
    EntityMappingRequest:
      type: object
      required:
        - universeId
        - clientId
        - clientName
      properties:
        universeId:
          description: The universe to save this mapping to.
          type: integer
          example: 1
        clientId:
          description: >-
            A unique identifier supplied by the user. ClientId is saved to the
            user's Concordance universe and will be used as the identifier for
            that entity within the universe.
          type: string
          example: FDS-USA
        entityId:
          description: FactSet Entity Identifier mapped to the submitted entity.
          type: string
          example: 0016YD-E
        clientName:
          description: Name of entity to match.
          type: string
          example: FactSet
        clientCountry:
          description: ISO2 country code corresponding to the Entity name.
          type: string
          example: US
          minLength: 2
          maxLength: 2
        clientState:
          description: ISO Code of State or Province location to map Entity.
          type: string
          example: CT
          minLength: 2
          maxLength: 2
        clientUrl:
          description: URL corresponding to the entity name.
          type: string
          example: www.factset.com
    PeopleMappingRequest:
      type: object
      required:
        - universeId
        - clientId
        - clientName
      properties:
        clientEntity:
          description: Used to describe the company of the person
          type: string
          example: Microsoft
        clientFirstName:
          description: Used to describe the first name of the person
          type: string
          example: William
        clientId:
          description: >-
            A unique identifier supplied by the user. ClientId is saved to the
            user's Concordance universe and will be used as the identifier for
            that entity within the universe.
          type: string
          example: BGA-123
        clientLastName:
          description: Used to describe the last name of the person.
          type: string
          example: Gates
        clientMiddleName:
          description: Used to describe the middle name of the person.
          type: string
          example: Henry
        clientPersonName:
          description: Used to describe the name of the person
          type: string
          example: Bill Gates
        clientPriority:
          description: Used to indicate the priority of the person
          type: string
          example: HIGH
        clientSalutation:
          description: Used to indicate the salutation of the person
          type: string
          example: Mr
        clientSuffix:
          description: Used to indicate the suffix for the person's name
          type: string
          example: III
        personId:
          description: A unique identifier used to identify a person.
          type: string
          example: 00118X-E
        universeId:
          description: >-
            A unique identifier supplied to a person to save the data into
            his/her universe.
          type: integer
          example: 1
    EntityMappingDeleteRequest:
      type: object
      required:
        - universeId
        - clientId
      properties:
        universeId:
          description: The universe to save this mapping to.
          type: integer
          example: 1
        clientId:
          description: >-
            A unique identifier supplied by the user. ClientId is saved to the
            user's Concordance universe and will be used as the identifier for
            that entity within the universe.
          type: array
          items:
            type: string
          example:
            - abc-123
            - dfg-456
    EntityUniverseRequest:
      type: object
      required:
        - universeId
      properties:
        universeId:
          description: the id of the universe that entities come from
          type: integer
          example: 1
        offset:
          description: starting row of the universe
          type: integer
          example: 0
        limit:
          description: Limits the number of records in the response.
          type: integer
          maximum: 10000
          example: 10
        mapStatus:
          description: >
            Filter by the EPeople Decisions that have the specified mapStatus,
            where -
                  * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
                  * UNMAPPED - The requested Entity Name is unmapped by FactSet.
                  * INDETERMINATE - The requested Entity Name was unable to make a mapping.
          type: array
          items:
            type: string
            enum:
              - MAPPED
              - UNMAPPED
              - INDETERMINATE
          example:
            - MAPPED
        clientId:
          description: >-
            fetch only the mappings that has client id included in the specified
            list.
          type: array
          items:
            type: string
          example:
            - abc-123
            - dfg-456
    CreateUniverseRequest:
      type: object
      required:
        - universeName
      properties:
        universeName:
          description: Universe name
          type: string
          example: My Universe
        universeDescription:
          description: Universe description
          type: string
          example: This is my universe
        universeType:
          description: Universe type
          type: string
          example: ENTITY
    UpdateUniverseRequest:
      type: object
      required:
        - universeId
      properties:
        universeName:
          description: Universe name
          type: string
          example: My Universe
        universeDescription:
          description: Universe description
          type: string
          example: This is my universe
        universeId:
          description: Universe identifier
          type: integer
          example: 1
    PeopleUniverseRequest:
      type: object
      required:
        - universeId
      properties:
        universeId:
          description: the id of the universe that entities come from
          type: integer
          example: 1
        offset:
          description: starting row of the universe
          type: integer
          example: 0
        limit:
          description: Limits the number of records in the response.
          type: integer
          maximum: 10000
          example: 10
        mapStatus:
          description: >
            Filter by the People Decisions that have the specified mapStatus,
            where -
                  * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
                  * UNMAPPED - The requested Entity Name is unmapped by FactSet.
                  * INDETERMINATE - The requested Entity Name was unable to make a mapping.
          type: array
          items:
            type: string
            enum:
              - MAPPED
              - UNMAPPED
              - INDETERMINATE
          example:
            - MAPPED
        clientId:
          description: >-
            fetch only the mappings that has client id included in the specified
            list.
          type: array
          items:
            type: string
          example:
            - abc-123
            - dfg-456
    SnowflakeEntityMatchRequest:
      title: Snowflake Company Match Request
      type: object
      required:
        - data
      properties:
        data:
          description: Array of input rows
          type: array
          items:
            type: array
            description: One search row from Snowflake
            items:
              type: object
              example: 0
            minItems: 7
            maxItems: 7
            example:
              - 0
              - FactSet
              - US
              - CT
              - www.factset.com
              - 1
              - 10
          minItems: 1
          maxItems: 25
    PeopleMatchRequest:
      title: People Match Request
      description: Request object for a requesting multiple People Matches.
      type: object
      properties:
        input:
          type: array
          items:
            type: object
            properties:
              personName:
                description: The People name to match.
                type: string
                example: Bill Gates
              clientId:
                description: >
                  A unique identifier supplied by the user. ClientId is saved to
                  the user's Concordance universe and will be used as the
                  identifier for that entity within the universe.
                type: string
                example: abc-123
              salutation:
                description: >
                  The salutation is same as the normal salutation we use .The
                  salutation can be Mr, Mrs.The salutation should not be given
                  along with personName.
                type: string
                example: Mr
              firstName:
                description: >
                  The first name of the person. This field should not be given
                  along with personName.
                type: string
                example: Bill
              middleName:
                description: >
                  The middle name of the person. This field should not be given
                  along with personName.
                type: string
                example: Henry
              lastName:
                description: >
                  The last name of the person. This field should not be given
                  along with personName.
                type: string
                example: Gates
              suffix:
                description: >
                  The suffix of person's name. This field should not be given
                  along with personName.
                type: string
                example: III
              entity:
                description: |
                  The enity of the Person.
                type: string
                example: Microsoft
        universeId:
          description: |
            The universeId to save this set of inputs to
          type: integer
          example: 1
    EntityMatchesResponse:
      title: Entity Matches Response
      description: Response object for Entity Matches.
      type: object
      properties:
        data:
          description: Candidate list of `Entity Match` objects.
          type: array
          items:
            $ref: '#/components/schemas/EntityMatch'
    EntityTaskResponse:
      title: Entity Task Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EntityTaskStatus'
    PeopleTaskResponse:
      title: People Task Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PeopleTask'
    EntityTaskStatusResponse:
      title: Entity Task Status Response
      type: object
      properties:
        data:
          description: Array of Concordance Entity Task `Status` objects.
          type: array
          items:
            $ref: '#/components/schemas/EntityTaskStatus'
    EntityDecisionsResponse:
      title: Entity Decisions Response
      type: object
      properties:
        data:
          description: Array of `Entity Match` objects.
          type: array
          items:
            $ref: '#/components/schemas/EntityMatch'
    PeopleDecisionsResponse:
      title: People Decisions Response
      type: object
      properties:
        data:
          description: Array of `People Match` objects.
          type: array
          items:
            $ref: '#/components/schemas/PeopleDecisions'
    EntityUniverseResponse:
      title: Entity Universe Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntityMapping'
    PeopleUniverseResponse:
      title: People Universe Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PeopleMapping'
    EntityResponse:
      title: Entity Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EntityMapping'
    EntityMappingResponse:
      title: Entity Mapping Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EntityMapping'
    PeopleMappingResponse:
      title: People Mapping Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PeopleMapping'
    UniverseMetaResponse:
      title: Metadata for a single universe
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Universe'
    EntityUniverseStatisticsResponse:
      title: Entity Mapping Statistics Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UniverseStatistics'
    universeStatisticsResponse:
      title: Universe Statistics Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/universeStatistics'
    UniversesResponse:
      title: Metadata on multiple universes
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UniverseMeta'
    SnowflakeEntityMatchResponse:
      title: Snowflake Entity Search Response
      type: object
      example:
        data:
          - clientCountry: us,
            clientId: null,
            clientName: apple,
            clientState: ca,
            clientUrl: www.apple.com,
            confidenceScore: 1.0,
            countryCode: us,
            countryName: United States,
            entityId: 000C7F-E,
            entityName: Apple, Inc.,
            entitySubTypeCode: CP,
            entityTypeCode: PUB,
            entityTypeDescription: Public Company,
            factsetIndustryCode: 1320,
            factsetIndustryName: Telecommunications Equipment,
            factsetSectorCode: 1300,
            factsetSectorName: Electronic Technology,
            locationCity: Cupertino,
            mapStatus: MAPPED,
            matchFlag: true,
            nameMatchSource: Proper/ Legal Name,
            nameMatchString: apple inc,
            parentMatchFlag: false,
            parentName: null,
            regionName: North America,
            rowIndex: 0,
            sicCode: 3663,
            similarityScore: 1.0,
            stateCode: ca,
            stateName: California,
            universeId: 10,
            taskId: null,
            url: www.apple.com,
          - clientCountry: null,
            clientId: null,
            clientName: factset,
            clientState: null,
            clientUrl: null,
            confidenceScore: 1.0,
            countryCode: us,
            countryName: United States,
            entityId: 0016YD-E,
            entityName: FactSet Research Systems, Inc.,
            entitySubTypeCode: CP,
            entityTypeCode: PUB,
            entityTypeDescription: Public Company,
            factsetIndustryCode: 3305,
            factsetIndustryName: Data Processing Services,
            factsetSectorCode: 3300,
            factsetSectorName: Technology Services,
            locationCity: Norwalk,
            mapStatus: MAPPED,
            matchFlag: true,
            nameMatchSource: Domain Name,
            nameMatchString: factset,
            parentMatchFlag: false,
            parentName: null,
            regionName: North America,
            rowIndex: 1,
            sicCode: 7374,
            similarityScore: 1.0,
            stateCode: ct,
            stateName: Connecticut,
            universeId: 10,
            taskId: null,
            url: www.factset.com
      properties:
        data:
          type: array
          items:
            type: array
            items:
              type: object
          description: JSON body to be parsed by snowflake
    EntityMappingDeleteResponse:
      title: Entity Delete Mapping Response
      type: object
      properties:
        data:
          description: >-
            Array of `Entity Mapping` objects that have been successfully
            deleted.
          type: array
          items:
            $ref: '#/components/schemas/EntityMapping'
    PeopleMappingDeleteResponse:
      title: People Delete Mapping Response
      type: object
      properties:
        data:
          description: >-
            Array of `People Mapping` objects that have been successfully
            deleted.
          type: array
          items:
            $ref: '#/components/schemas/PeopleMapping'
    PeopleMatchesResponse:
      title: People Matches Response
      description: Response object for People Matches.
      type: object
      properties:
        data:
          description: Candidate list of `People Match` objects.
          type: array
          items:
            $ref: '#/components/schemas/PeopleMatch'
    PeopleTaskStatusResponse:
      title: People Task Status Response
      type: object
      properties:
        data:
          description: Array of Concordance People Task `Status` objects.
          type: array
          items:
            $ref: '#/components/schemas/PeopleTaskStatus'
    errorResponse:
      title: Error Response
      type: object
      properties:
        status:
          description: Status.
          type: string
          example: Bad Request
        timestamp:
          description: Timestamp in yyyy-mm-ddThh:mm:ss.sss format.
          type: string
          example: '2019-11-01T11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-concordance/v2/entity-match
        message:
          description: The plain text error message.
          type: string
          example: Validation Error
        subErrors:
          description: Sub-errors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
    EntityMatch:
      title: Entity Match
      description: |
        Entity Match object showing the decision reached for each Entity.
      type: object
      properties:
        universeId:
          description: The id of the universe that entities should be mapped to
          type: integer
          example: 1
          nullable: true
        taskId:
          description: >
            Identifier denoting a specific Concordance task submitted by the
            user. This value will be null for /entity-match endpoint responses
            and is only available when using the "Bulk" workflow.
          type: integer
          example: 31
          nullable: true
        rowIndex:
          description: Row number for match in the request or input file.
          type: integer
          nullable: true
        matchFlag:
          description: Flag denoting if the row is a match.
          type: boolean
          nullable: true
        entityId:
          description: >
            FactSet Entity Identifier of the entity matched respective to the
            requested Name submitted. For more detail, visit [FactSet Permanent
            Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          type: string
          nullable: true
        entityName:
          description: Full name corresponding to the matched entity.
          type: string
          example: FactSet Research Systems, Inc.
          nullable: true
        url:
          description: URL of the matched entity.
          type: string
          example: www.factset.com
          nullable: true
        mapStatus:
          description: |
            Concordance status of the submitted, where -
              * MAPPED - The requested Entity Name is successfully mapped to a FactSet Entity Id (-E)
              * UNMAPPED - The requested Entity Name is unmapped by FactSet.
              * INDETERMINATE - The requested Entity Name has unable to make a mapping.
          type: string
          enum:
            - MAPPED
            - UNMAPPED
            - INDETERMINATE
          example: MAPPED
          nullable: true
        similarityScore:
          description: >
            Probability of the match being similar to the entity requested as
            determined by the Concordance algorithm. A similarityScore of 1 is
            the highest level of similarity.
          type: number
          format: double
          example: 1
          nullable: true
        confidenceScore:
          description: >
            Additional statistic calculated by the algorithm that is used to
            ensure the validity of the match result. A confidenceScore of 1 is
            the highest level of confidence.
          type: number
          format: double
          example: 1
          nullable: true
        countryCode:
          description: >-
            ISO2 country code corresponding to the location of the matched
            entity.
          type: string
          example: US
          nullable: true
        countryName:
          description: Country name corresponding to the location of the matched entity
          type: string
          example: United States
          nullable: true
        stateCode:
          description: >-
            Two character state code corresponding to the location of the
            matched entity.
          type: string
          example: CT
          nullable: true
        stateName:
          description: State name corresponding to the location of the matched entity.
          type: string
          example: Connecticut
          nullable: true
        sicCode:
          description: Standard Industrial Classification (SIC) Code of the matched entity.
          type: string
          example: 7374
          nullable: true
        entityTypeCode:
          description: >-
            Code representing the entity type of the matched entity. See the
            related request parameter for a table of all Codes and their
            respective descriptions.
          type: string
          example: PUB
          nullable: true
        entityTypeDescription:
          description: Description of of the matched entity's type.
          type: string
          example: Public Company
          nullable: true
        entitySubTypeCode:
          description: >-
            Code representing the entity subtype of the matched entity. See the
            related request parameter for a table of all Codes and their
            respective descriptions.
          type: string
          example: PR
          nullable: true
        locationCity:
          type: string
          example: Norwalk
          nullable: true
          description: City where the matched entity is located.
        regionName:
          description: Region where the matched entity is located.
          type: string
          example: North America
          nullable: true
        factsetIndustryCode:
          description: FactSet Industry Classification Code of the matched entity.
          type: string
          example: 3305
          nullable: true
        factsetIndustryName:
          description: Name of the matched entity's FactSet Industry Classification.
          type: string
          example: Data Processing Services
          nullable: true
        factsetSectorCode:
          description: Name of the matched entity's FactSet Sector Classification Code.
          type: string
          example: 3300
          nullable: true
        factsetSectorName:
          description: Name of the matched entity's FactSet Sector Classification.
          type: string
          example: Technology Services
          nullable: true
        parentName:
          description: Name of the matched entity's parent entity.
          type: string
          nullable: true
        parentMatchFlag:
          description: >-
            Flag denoting that the matched entity is the parent of another
            match.
          type: boolean
          example: false
          nullable: true
        clientId:
          description: >-
            Unique Identifer provided by the user in the request to represent
            the entity Name being requested.
          type: string
          example: abc-123
          nullable: true
        clientName:
          description: Name of the entity to match as specified in the request
          type: string
          example: factset
          nullable: true
        clientCountry:
[...]
