openapi: 3.0.0
info:
  version: 1.10.0
  title: FactSet Global Prices API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: >
    The FactSet Global Prices API provides end of day market pricing content
    using cloud and microservices technology, encompassing both pricing as well
    as corporate actions and events data.</p>
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-global-prices-api
servers:
  - url: https://api.factset.com/content
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Prices
    description: >-
      Get Security Open, High, Low, Close, Volume for a list of IDs and date
      range
  - name: Returns
    description: Gets the returns data for the list of IDs, date range and currency
  - name: Corporate Actions
    description: >-
      Gets the corporate actions data for the list of IDs, date range and
      currency
  - name: Shares Outstanding
    description: >-
      Gets the shares outstanding data for the list of IDs, date range and
      currency
  - name: Market Value
    description: Gets the market value data for the list of IDs, date range and currency
  - name: Batch Processing
    description: >-
      Gets the batch processing data for the list of IDs, date range and
      currency
  - name: Corporate Actions For Calendar
    description: >-
      Gets the corporate actions for calendar data for the list of IDs, date
      range and currency
paths:
  /factset-global-prices/v1/prices:
    get:
      tags:
        - Prices
      summary: Gets end-of-day Open, High, Low, Close for a list of securities.
      operationId: getGPDPrices
      description: >
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range,
        currency, and adjustment factors.
      parameters:
        - $ref: '#/components/parameters/IdsBatchMax2000'
        - $ref: '#/components/parameters/fieldsPrices'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Frequency'
        - $ref: '#/components/parameters/Calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/Adjust'
        - $ref: '#/components/parameters/Precision'
        - $ref: '#/components/parameters/Batch'
      responses:
        '200':
          description: Array of Price Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalPricesResponse'
              examples:
                Prices over 1 week period for FDS-US and TSLA-US:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
                Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Prices
      summary: >-
        Requests end-of-day Open, High, Low, Close for a large list of
        securities.
      description: >-
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range,
        currency, and adjustment factors.
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Prices`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalPricesRequest'
            examples:
              One Security(FDS-US) over one year:
                $ref: '#/components/examples/postPrices'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalPricesResponse'
              examples:
                One Week Prices for Two Securities:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/corporate-actions:
    get:
      tags:
        - Corporate Actions
      summary: Gets Corporate Actions information.
      operationId: getGPDCorporateActions
      description: >
        Gets the Corporate Actions amounts, dates, types, and flags over a
        specified date range.

        You may request future dates to receive information for declared events.


        Event Categories:

        * __Cash Dividends__ (CASH_DIVS)
          * **DVC** - Dividend
          * **DVCD** - Dividend with DRP Option
          * **DRP** - Dividend Reinvestment
        * __Stock Distributions__ (STOCK_DIST)
          * **DVS** - Stock Dividend
          * **DVSS** - Stock Dividend, Special
          * **BNS** - Bonus Issue
          * **BNSS** - Bonus Issue, Special
        * __Spin Offs__ (SPINOFFS)
          * **SPO** - Spin Off
        * __Rights Issue__ (RIGHTS)
          * **DSR** - Rights Issue
        * __Splits__ (SPLITS)
          * **FSP** - Forward Split
          * **RSP** - Reverse Split
          * **SPL** - Split
          * **EXOS** - Exchange of Securities
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/EventCategory'
        - $ref: '#/components/parameters/FieldsCorporateActions'
        - $ref: '#/components/parameters/StartDateCA'
        - $ref: '#/components/parameters/EndDateCA'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/CancelledDividend'
        - $ref: '#/components/parameters/Batch'
      responses:
        '200':
          description: >-
            Array of security dividend information for a given date range and
            list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateActionsResponse'
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Corporate Actions
      summary: Requests Corporate Actions information.
      description: >-
        Gets the Corporate Actions amounts, dates, types, and flags over a
        specified date range. You may request future dates to receive
        information for declared events. <p>**_startDate and endDate are
        required parameters. The input startDate must come before the input
        endDate._**
      operationId: postCorporateActions
      requestBody:
        required: true
        description: Request object for `Corporate Actions`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateActionsRequest'
            examples:
              One Security(FDS-US) over one year:
                $ref: '#/components/examples/postCorporateActions'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateActionsResponse'
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/annualized-dividends:
    get:
      tags:
        - Corporate Actions
      summary: Gets Indicated Annualized Dividend information.
      operationId: getannualizedDividends
      description: >
        Gets the Annualized dividend of the latest reported dividend.

        The annualized dividend calculations does not involve cancelled
        dividends.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/Batch'
      responses:
        '200':
          description: Array of annualized dividend information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualizedDividendResponse'
              examples:
                Annualized Dividends Response of Apple (AAPL-US):
                  $ref: '#/components/examples/annualizedDividendsResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Corporate Actions
      summary: Gets Indicated Annualized Dividend information.
      description: >-
        Gets the Annualized dividend of the latest reported dividend. The
        annualized dividend calculations does not involve cancelled dividends.
      operationId: getannualizedDividendsForList
      requestBody:
        required: true
        description: Request object for `Annualized Response`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnualizedDividendsRequest'
            examples:
              Annualized Dividends Request for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postAnnualizedDividends'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualizedDividendResponse'
              examples:
                Annualized Dividends Response of Apple (AAPL-US):
                  $ref: '#/components/examples/annualizedDividendsResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/returns:
    get:
      tags:
        - Returns
      summary: Gets Returns for a list of `ids` as of given date range.
      operationId: getReturns
      description: >
        Returns for the requested IDs and currency for the given dates.
        Depending on the input parameters the return data is provided. 
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/Frequency'
        - $ref: '#/components/parameters/DividendAdjust'
        - $ref: '#/components/parameters/Batch'
      responses:
        '200':
          description: Array of Returns Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Returns
      summary: Gets Returns for a list of `ids` as of given date range.
      description: >-
        Returns for the requested IDs and currency for the given dates.
        Depending on the input parameters the return data is provided.
      operationId: getReturnsForList
      requestBody:
        required: true
        description: Request object for `Returns`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnsRequest'
            examples:
              Returns Request over 1 year period for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postReturns'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/security-shares:
    get:
      tags:
        - Shares Outstanding
      summary: Gets Shares Outstanding information for securities.
      operationId: getSharesOutstanding
      description: >-
        Returns security level shares outstanding data for the given IDs and
        dates. At this time, all values returned are split adjusted.
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/startDateSS'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Frequency'
        - $ref: '#/components/parameters/Calendar'
        - $ref: '#/components/parameters/Batch'
      responses:
        '200':
          description: >-
            Array of security shares outstanding information for a given date
            range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharesOutstandingResponse'
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Shares Outstanding
      summary: Gets Shares Outstanding information for securities.
      description: >-
        Returns security level shares outstanding data for the given IDs and
        dates. At this time, all values returned are split adjusted.
      operationId: postSharesOutstanding
      requestBody:
        required: true
        description: Request object for `Shares Outstanding`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharesOutstandingRequest'
            examples:
              Security Shares Request over 1 year period for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postSecurityShares'
      responses:
        '200':
          description: Array of shares outstanding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharesOutstandingResponse'
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/market-value:
    get:
      tags:
        - Market Value
      summary: Provides the current market value for a list of specified securities.
      operationId: getGPDMarketVal
      description: >
        Provides the current market value (in USD millions) for a list of
        specified securities. 
      parameters:
        - $ref: '#/components/parameters/idsBatchMax50'
        - $ref: '#/components/parameters/Batch'
      responses:
        '200':
          description: Array of Price Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketValueResponse'
              examples:
                Prices over 1 week period for FDS-US and TSLA-US:
                  $ref: '#/components/examples/MarketValueResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
    post:
      tags:
        - Market Value
      summary: Requests the current market value for a list of specified securities.
      description: >-
        Provides the current market value (in USD millions) for a list of
        specified securities.
      operationId: getSecurityPricesForListMarketVal
      requestBody:
        required: true
        description: Request object for `Market Value`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketValueRequest'
            examples:
              Market Value Example:
                $ref: '#/components/examples/PostMarketValue'
      responses:
        '200':
          description: Market Value Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketValueResponse'
              examples:
                Current Market Value of AAPL-US:
                  $ref: '#/components/examples/MarketValueResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-factset-different-success-responses: true
  /factset-global-prices/v1/batch-status:
    get:
      tags:
        - Batch Processing
      summary: Returns the status for a Batch Request
      description: >-
        Return the status for the underlying batch request that is specified by
        the id.
      operationId: getBatchStatus
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: >-
            The batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch-result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: >-
            The batch Request has not finished and the result has NOT been
            created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
        '404':
          $ref: '#/components/responses/batch404'
      deprecated: false
  /factset-global-prices/v1/batch-result:
    get:
      tags:
        - Batch Processing
      summary: Returns the response for a Batch Request
      description: >
        Returns the response data for the underlying batch request that is
        specified by the id.


        By default, this endpoint will return data as JSON. If you wish to
        receive your data in CSV format, you can edit the header to have the
        "accept" parameter as "text/csv" instead of "application/json".
      operationId: getBatchData
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: >-
            Request Response Object when the batch request has been completed
            and the response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResultResponse'
              examples:
                One Week Prices for Two Securities Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
                Corporate Actions Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Annualized Dividends:
                  $ref: '#/components/examples/annualizedDividendsResponse'
                Security Shares:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: >-
            The batch Request has not finished and the result has NOT been
            created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
        '404':
          $ref: '#/components/responses/batch404'
      deprecated: false
      x-factset-different-success-responses: true
  /factset-global-prices/v1/calendar/event-count:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve daily event count for a given date range
      operationId: getEventCount
      description: >
        Returns the overall count of various events for each day within the
        specified date range.
      parameters:
        - $ref: '#/components/parameters/eventCountIds'
        - $ref: '#/components/parameters/eventCountStartDateCalendar'
        - $ref: '#/components/parameters/eventCountEndDateCalendar'
        - $ref: '#/components/parameters/eventCountExchanges'
        - $ref: '#/components/parameters/sortEventDate'
      responses:
        '200':
          description: Event Count data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCountResponse'
              examples:
                Result for a given time period:
                  $ref: '#/components/examples/eventCountResponse'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/corporate-actions:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve Event Calendar information for Corporate Actions
      operationId: getCorporateActions
      description: >
        Gives an overview of all available Corporate Actions over a specified
        date range.
      parameters:
        - $ref: '#/components/parameters/corporateActionsIds'
        - $ref: '#/components/parameters/corporateActionsStartDateCalendar'
        - $ref: '#/components/parameters/corporateActionsEndDateCalendar'
        - $ref: '#/components/parameters/corporateActionsEventCategories'
        - $ref: '#/components/parameters/corporateActionsExchanges'
        - $ref: '#/components/parameters/sortEventDate'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Corporate Actions data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateActionsResponseCalendar'
              examples:
                Result for a Single Identifier for the given time period:
                  $ref: '#/components/examples/corporateActionsResponse'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/dividends:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve Dividend information
      operationId: getDividends
      description: >
        Retrieves detailed dividend information including amounts, relevant
        dates, and other specifics for Dividends,

        Dividends with DRP Option, and Dividend Reinvestment events within the
        specified date range. 


        To retrieve details of a given event for a company on a specific
        exchange, please pass both the eventId and the company identifier.  Note
        that passing eventId or (`eventId` + `ids`) will cause the end point to
        ignore the other parameters.  Passing values for any other combination
        of the parameters (`ids`, `startDate`, `endDate` and `exchanges`) will
        lead to an AND operation for all the parameters passed.
      parameters:
        - $ref: '#/components/parameters/dividendsEventIds'
        - $ref: '#/components/parameters/dividendsIds'
        - $ref: '#/components/parameters/dividendsStartDateCalendar'
        - $ref: '#/components/parameters/dividendsEndDateCalendar'
        - $ref: '#/components/parameters/dividendsExchanges'
        - $ref: '#/components/parameters/sortEffectiveDate'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Dividend data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DividendsResponse'
              examples:
                Result for a Single Identifier for the given time period:
                  $ref: '#/components/examples/dividendsResponse'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/stock-distributions:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve Stock Distribution information
      operationId: getStockDistributions
      description: >
        Retrieves detailed stock distribution information including price
        adjustment factors, relevant dates, and other 

        specifics for Stock Dividends, Stock Dividends(Special), Bonus Issues,
        and Bonus Issues(Special) events within 

        the specified date range.


        To retrieve details of a given event for a company on a specific
        exchange, please pass both the eventId and the company identifier.  Note
        that passing eventId or (`eventId` + `ids`) will cause the end point to
        ignore the other parameters.  Passing values for any other combination
        of the parameters (`ids`, `startDate`, `endDate` and `exchanges`) will
        lead to an AND operation for all the parameters passed.
      parameters:
        - $ref: '#/components/parameters/stockDistributionsEventIds'
        - $ref: '#/components/parameters/stockDistributionsIds'
        - $ref: '#/components/parameters/stockDistributionsStartDateCalendar'
        - $ref: '#/components/parameters/stockDistributionsEndDateCalendar'
        - $ref: '#/components/parameters/stockDistributionsExchanges'
        - $ref: '#/components/parameters/sortEffectiveDate'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Stock Distribution data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockDistributionsResponseCalendar'
              examples:
                Result for a Single Identifier for the given time period:
                  $ref: '#/components/examples/stockDistributionsResponseCalendar'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/rights-issues:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve Rights Issue information
      operationId: getRightsIssues
      description: >
        Retrieves the prices, relevant dates, and other specifics over a
        specified date range for Rights Issue events.


        To retrieve details of a given event for a company on a specific
        exchange, please pass both the eventId and the company identifier.  Note
        that passing eventId or (`eventId` + `ids`) will cause the end point to
        ignore the other parameters.  Passing values for any other combination
        of the parameters (`ids`, `startDate`, `endDate` and `exchanges`) will
        lead to an AND operation for all the parameters passed.
      parameters:
        - $ref: '#/components/parameters/rightsIssuesEventIds'
        - $ref: '#/components/parameters/rightsIssuesIds'
        - $ref: '#/components/parameters/rightsIssuesStartDateCalendar'
        - $ref: '#/components/parameters/rightsIssuesEndDateCalendar'
        - $ref: '#/components/parameters/rightsIssuesExchanges'
        - $ref: '#/components/parameters/sortEffectiveDate'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Rights Issue data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightsIssuesResponse'
              examples:
                Result for a Single Identifier for the given time period:
                  $ref: '#/components/examples/rightsIssuesResponse'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/spin-offs:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve Spin Off information
      operationId: getSpinOffs
      description: >
        Retrieves the price adjustment factors, dates, and other specifics over
        a specified date range for Spin Off events.


        To retrieve details of a given event for a company on a specific
        exchange, please pass both the eventId and the company identifier.  Note
        that passing eventId or (`eventId` + `ids`) will cause the end point to
        ignore the other parameters.  Passing values for any other combination
        of the parameters (`ids`, `startDate`, `endDate` and `exchanges`) will
        lead to an AND operation for all the parameters passed.
      parameters:
        - $ref: '#/components/parameters/spinOffsEventIds'
        - $ref: '#/components/parameters/spinOffsIds'
        - $ref: '#/components/parameters/spinOffsStartDateCalendar'
        - $ref: '#/components/parameters/spinOffsEndDateCalendar'
        - $ref: '#/components/parameters/spinOffsExchanges'
        - $ref: '#/components/parameters/sortEffectiveDate'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Spin Off data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpinOffsResponse'
              examples:
                Result for a Single Identifier for the given time period:
                  $ref: '#/components/examples/spinOffsResponse'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/splits:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Retrieve Split information
      operationId: getSplits
      description: >
        Retrieves the split factors, dates, and other specifics over a specified
        date range for Forward Split, 

        Reverse Split, Split and Exchange of Securities event types.


        To retrieve details of a given event for a company on a specific
        exchange, please pass both the eventId and the company identifier.  Note
        that passing eventId or (`eventId` + `ids`) will cause the end point to
        ignore the other parameters.  Passing values for any other combination
        of the parameters (`ids`, `startDate`, `endDate` and `exchanges`) will
        lead to an AND operation for all the parameters passed.
      parameters:
        - $ref: '#/components/parameters/splitsEventIds'
        - $ref: '#/components/parameters/splitsIds'
        - $ref: '#/components/parameters/splitsStartDateCalendar'
        - $ref: '#/components/parameters/splitsEndDateCalendar'
        - $ref: '#/components/parameters/splitsExchanges'
        - $ref: '#/components/parameters/sortEffectiveDate'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationOffset'
      responses:
        '200':
          description: Split data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitsResponseCalendar'
              examples:
                Result for a Single Identifier for the given time period:
                  $ref: '#/components/examples/splitsResponse'
        '400':
          $ref: '#/components/responses/400Calendar'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
  /factset-global-prices/v1/calendar/meta/exchanges:
    get:
      tags:
        - Corporate Actions For Calendar
      summary: Returns a list of exchanges for which event/action data is available.
      operationId: getExchanges
      description: |
        Returns a list of available values for the exchanges parameter.
      responses:
        '200':
          description: Exchange details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesResponse'
              examples:
                Result of action types:
                  $ref: '#/components/examples/exchangesResponse'
        '401':
          $ref: '#/components/responses/401Calendar'
        '403':
          $ref: '#/components/responses/403Calendar'
        '404':
          $ref: '#/components/responses/404Calendar'
        '415':
          $ref: '#/components/responses/415Calendar'
        '500':
          $ref: '#/components/responses/500Calendar'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    eventCountIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - IBM-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    eventCountStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    eventCountEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    eventCountExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    corporateActionsIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - IBM-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    corporateActionsExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    corporateActionsStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    corporateActionsEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    corporateActionsEventCategories:
      name: eventCategories
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
            - CASH_DIVS
            - STOCK_DIST
            - SPINOFFS
            - RIGHTS
            - SPLITS
      explode: false
      description: |
        Select one or more Event Categories from the dropdown:
          - **CASH_DIVS:** Includes Dividends(DVC), Dividend with DRP Option(DVCD), Dividend Reinvestment(DRP)
          - **STOCK_DIST:** Includes Stock Dividend(DVS), Stock Dividend - Special(DVSS), Bonus(BNS), Bonus - Special(BNSS)
          - **SPINOFFS:** Includes Spin Off(SPO)
          - **RIGHTS:** Includes Rights Issue(DSR)
          - **SPLITS:** Includes Forward Split(FSP), Reverse Split(RSP), Split(SPL), Exchange Of Securities(EXOS)

        If omitted, the data is returned for all the available eventCategories.
    dividendsEventIds:
      name: eventIds
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      examples:
        oneEventId:
          summary: One Event Identifier
          value:
            - WF7WM3-A
        multipleEventIds:
          summary: Multiple Event Identifiers
          value:
            - WF7WM3-A
            - RHGQC1-A
      description: >-
        FactSet Event Identifier - a unique identifier for an event across
        multiple exchanges. If provided, the API will return data for the
        specified event.
    dividendsIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - XSLCX-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - AHH.PRA-US
            - XSLCX-US
    dividendsExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    dividendsStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    dividendsEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    stockDistributionsEventIds:
      name: eventIds
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      examples:
        oneEventId:
          summary: One Event Identifier
          value:
            - WGLQ32-A
        multipleEventIds:
          summary: Multiple Event Identifiers
          value:
            - WGLQ32-A
            - B3JVZK-A
      description: >-
        FactSet Event Identifier - a unique identifier for an event across
        multiple exchanges. If provided, the API will return data for the
        specified event.
    stockDistributionsIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - FGBI-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FGBI-US
            - CBSH-US
    stockDistributionsExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    stockDistributionsStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    stockDistributionsEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    rightsIssuesEventIds:
      name: eventIds
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      examples:
        oneEventId:
          summary: One Event Identifier
          value:
            - JZ6938-A
        multipleEventIds:
          summary: Multiple Event Identifiers
          value:
            - JZ6938-A
            - N52H4X-A
      description: >-
        FactSet Event Identifier - a unique identifier for an event across
        multiple exchanges. If provided, the API will return data for the
        specified event.
    rightsIssuesIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - XOMA-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - XOMA-US
            - AXIA-US
    rightsIssuesExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    rightsIssuesStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    rightsIssuesEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    spinOffsEventIds:
      name: eventIds
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      examples:
        oneEventId:
          summary: One Event Identifier
          value:
            - DB9782-A
        multipleEventIds:
          summary: Multiple Event Identifiers
          value:
            - DB9782-A
            - MGPRKB-A
      description: >-
        FactSet Event Identifier - a unique identifier for an event across
        multiple exchanges. If provided, the API will return data for the
        specified event.
    spinOffsIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - STNG-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - STNG-US
            - IRS-US
    spinOffsExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    spinOffsStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    spinOffsEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    splitsEventIds:
      name: eventIds
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      examples:
        oneEventId:
          summary: One Event Identifier
          value:
            - B5QRB4-A
        multipleEventIds:
          summary: Multiple Event Identifiers
          value:
            - ST0LHL-A
            - B5QRB4-A
      description: >-
        FactSet Event Identifier - a unique identifier for an event across
        multiple exchanges. If provided, the API will return data for the
        specified event.
    splitsIds:
      name: ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. If not
        specified, the data related to all the IDs is returned.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - MTVA-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - MTVA-US
            - RCON-US
    splitsExchanges:
      name: exchanges
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
        example:
          - NYS
          - NAS
      explode: false
      description: >-
        One or more exchange codes for which data is to be requested. When
        omitted, the data from all the supported exchanges is returned. See
        `/meta/exchanges` for available values.
    splitsStartDateCalendar:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2018-12-31'
      description: >-
        The start date requested for a given date range in **YYYY-MM-DD**
        format. If both start and end dates are omitted, the API will return
        data for the current week starting from Monday.
    splitsEndDateCalendar:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2019-12-31'
      description: >-
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The max date range is 1 year for up to 100 identifiers. If IDs are more
        than 100 or omitted, the max range is restricted to 90 days.
    paginationLimit:
      name: _paginationLimit
      in: query
      description: >-
        Specifies the number of results to return per page. The maximum limit is
        500.
      required: false
      schema:
        type: integer
        default: 50
    paginationOffset:
      name: _paginationOffset
      in: query
      description: >-
        Specifies the starting point for pagination. This parameter is used to
        identify the beginning of next set of results.
      required: false
      schema:
        type: integer
        default: 0
    sortEffectiveDate:
      name: _sort
      in: query
      description: Sorts the field in ascending or descending order of `effectiveDate`.
      required: false
      style: form
      explode: false
      schema:
        type: array
        default:
          - '-effectiveDate'
        items:
          type: string
          enum:
            - effectiveDate
            - '-effectiveDate'
        maxItems: 1
    sortEventDate:
      name: _sort
      in: query
      description: Sorts the field in ascending or descending order of `eventDate`.
      required: false
      style: form
      explode: false
      schema:
        type: array
        default:
          - '-eventDate'
        items:
          type: string
          enum:
            - eventDate
            - '-eventDate'
        maxItems: 1
    Batch:
      name: batch
      in: query
      description: >
        Enables the ability to asynchronously "batch" the request, supporting a
        long-running request for up to 20 minutes. Upon requesting batch=Y, the
        service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use batch status to see if the job
        has been completed. Once completed, retrieve the results of the request
        via batch-result. 

        For single-day requests, the IDs limit is 500 for non-batch and 2000 for
        batch. For multi-day requests, the limit is 50 IDs for both batch and
        non-batch. 

        Limits on query string via GET method still apply. It's advised to
        submit large lists of IDs via POST method.

        <B>Please note that the number of unique currencies present in the
        requested IDs is limited to 50 per request.</B>
      schema:
        type: string
        enum:
          - 'Y'
          - 'N'
        default: 'N'
    batchId:
      name: id
      in: query
      description: Batch Request identifier.
      schema:
        type: string
        format: uuid
      required: true
      allowEmptyValue: false
    Precision:
      name: precision
      in: query
      description: |
        Specifies the number of decimal places for price fields in the response.
      required: false
      schema:
        type: integer
        default: 2
        minimum: 1
        maximum: 16
      example: 1
    EventCategory:
      name: eventCategory
      description: |
        Selects the Event Category to include in the response.
          * **CASH_DIVS** = Cash Dividends
          * **STOCK_DIST** = Stock Distributions
          * **SPINOFFS** = Spin Offs
          * **RIGHTS** = Rights Issue
          * **SPLITS** = Splits
          * **ALL** = Returns all Event Types. If omitted, the service will default to ALL.
      in: query
      schema:
        type: string
        enum:
          - CASH_DIVS
          - STOCK_DIST
          - RIGHTS
          - SPINOFFS
          - SPLITS
          - ALL
        default: ALL
    StartDate:
      name: startDate
      in: query
      required: true
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. The input start date must be before the input end date. Future
        dates (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    EndDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The input end date must be after the input start date. Future dates
        (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    startDateSS:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        default: '2021-08-27'
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. The input start date must be before the input end date. Future
        dates (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    StartDateCA:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. In the context of corporate actions, this filters the response
        to only include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Omitting startDate and endDate will pull "all" events for each requested
        IDs.
      example: '2019-01-01'
    EndDateCA:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        In the context of corporate actions, this filters the response to only
        include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Omitting  startDate and endDate will pull "all" events for each
        requested IDs.
      example: '2019-12-31'
    CancelledDividend:
      name: cancelledDividend
      in: query
      required: false
      schema:
        type: string
        enum:
          - include
          - exclude
        default: exclude
      description: >
        The cancelled dividend returns the dividend details whether they are
        cancelled or active.
      example: exclude
    Frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
          - D
          - AD
          - W
          - M
          - AM
          - AQ
          - CQ
          - ASA
          - CSA
          - AY
          - CY
        default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **AD** = Actual Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **AQ** =  Actual Quarterly
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **ASA** = Actual Semi-annual
          * **CSA** = Calendar Semi-annual
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          
    DividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
          - PRICE
          - EXDATE
          - PAYDATE
          - EXDATE_C
          - PAYDATE_C
        default: EXDATE_C
      description: |
        Controls the dividend reinvestment for the returns calculation.
          * **PRICE** = Price Change - Dividends Excluded.
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.
          * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.
          * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.

          
    Calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
          - FIVEDAY
          - SEVENDAY
          - US
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    currency:
      name: currency
      in: query
      schema:
        type: string
        default: LOCAL
      description: >-
        Currency code for adjusting prices. Default is Local. For a list of
        currency ISO codes, visit [Online Assistant Page
        1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    Adjust:
      name: adjust
      in: query
      schema:
        type: string
        enum:
          - SPLIT
          - SPLIT_SPINOFF
          - DIV_SPIN_SPLITS
          - UNSPLIT
        default: SPLIT
      description: |
        Controls the split and spinoff adjustments for the prices.
          * **SPLIT** = Split ONLY Adjusted. This is used by default.
          * **SPLIT_SPINOFF** = Splits and Spinoff Adjusted.
          * **DIV_SPIN_SPLITS** = Dividend adjustments, Spinoff, and Splits combined.
          * **UNSPLIT** = No Adjustments.
          
    idsBatchMax50:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs.<p>***IDs
        limit** = 50 per non-batch request and 1000 per batch request*</p>
        *<p>Make note, GET Method URL request lines are also limited to a total
        length of 8192 bytes (8KB). In cases where the service allows for
        thousands of IDs, which may lead to exceeding this request line limit of
        8KB, it's advised for any requests with large request lines to be
        requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - IBM-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    IdsBatchMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
          minItems: 0
          maxItems: 2000
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent IDs. **IDs
        limit** = 500 per non-batch request / 2000 per batch request for a
        single day and 50 per multi-day request for both batch and non-batch.
        The number of unique currencies present in the requested IDs is limited
        to 50 per request. Make note, GET Method URL request lines are also
        limited to a total length of 8192 bytes (8KB). In cases where the
        service allows for thousands of IDs, which may lead to exceeding this
        request line limit of 8KB, it's advised for any requests with large
        request lines to be requested through the respective "POST" method.
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - IBM-US
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    fieldsPrices:
      name: fields
      in: query
      description: >
        Request available pricing data fields to be included in the response.
        Default is all fields. All responses will include the _fsymId_, _date_,
        and _currency_ fields.
          |field|description|
          |---|---|
          |price|Closing Price|
          |priceOpen|Opening Price|
          |priceHigh|High Price|
          |priceLow|Low Price|
          |volume|Volume|
          |turnover|Total Trade Value for the Day|
          |tradeCount|Number of Trades|
          |vwap|Volume Weighted Average Price|
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
        default:
          - price
          - priceOpen
          - priceHigh
          - priceLow
          - volume
          - turnover
          - tradeCount
          - vwap
          - currency
      example:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
    FieldsCorporateActions:
      name: fields
      in: query
      description: >
        Request available Corporate Actions data fields to be included in the
        response.

        Default is all fields. _fsymId_, _effectiveDate_, _eventTypeCode_ and
        _requestId_ are always included.

          |field|description|
          |---|---|
          |fsymId|Factset Regional Security Identifier|
          |eventTypeCode|Character code that denotes the type of event|
          |effectiveDate|The date when security is traded ex-dividend|
          |requestId|Identifier that was used for the request.|

        <h3>Common Fields</h3>
          |field|description|
          |---|---|
          |eventId|Uniquely Identifies the event|
          |eventTypeDesc|Description of the type of event|
          |divTypeCode|Dividend type code. [OA#8764](https://my.apps.factset.com/oa/pages/8764)|
          |announcementDate|Date the event was publicly announced|
          |recordDate|Record date of the event|
          |payDate|Payment date of the event|
        <h3>Dividend Fields</h3>
          |field|description|
          |---|---|
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |amtDefNetGrossIndicator|Indicates whether the default amount is net or gross. G=Gross; N=Net.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |amtNetTradingAdj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date.  The value is adjusted for splits.|
          |amtNetTradingUnadj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |amtGrossTradingAdj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtGrossTradingUnadj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |declaredCurrency|Currency ISO code associated with the declared amount. |
          |amtDefDecAdj|Cash distribution amount (net or gross) in the currency it was declared in. The value is adjusted for splits.|
          |amtDefDecUnadj|Cash distribution amount (net or gross) in the currency it was declared in. The value is not adjusted for splits.|
          |amtNetDecAdj|Net cash distribution amount in the currency it was declared in. The value is adjusted for splits. |
          |amtNetDecUnadj|Net cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |amtGrossDecAdj|Gross cash distribution amount in the currency it was declared in. N/A is returned if the gross amount is not available. The value is adjusted for splits.|
          |amtGrossDecUnadj|Gross cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |dividendStatus|Identifies the cancelled dividends status( Active, Cancelled, Postponed, Partial Information) and helps to evaluate their price and portfolio performance. Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendActiveFlag|Identifies whether the dividend record is currently active(1) or inactive(0). Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendsSpecFlag|Indicates a special price implications exists, which may or may not include special dividends. Indicates whether an adjustment should be made to historical pricing.|
          |dividendFrequencyDesc|Dividend Frequency for different event types in the form of a text as per the descriptions found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |dividendFrequencyCode|Dividend Frequency for different event types in the form of a code as per the details found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |frankDefTradingAdj|Split amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
          |frankDefTradingUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
          |frankDefDecAdj|Split amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in. Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefDecUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in. Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankPct|Percent of total dividend that is franked (subject to tax credit). **Only applicable for Australian Securities**.|
          |taxRate|Domestic Withholding Tax Rate for a Resident Individual|
        <h3>Distribution Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Factor applied to adjust historical prices. Calculation formulas are available on [OA#12619](https://my.apps.factset.com/oa/pages/12619)|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |distPct|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |rightsIssuePrice|Price of the rights issue. |
          |rightsIssueCurrency|Currency the rights issue price was declared in.|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
        <h3>Splits Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |distInstFsymId|Helps to identify an instrument representing the distributed company or security associated with ca event identifier. Its applicable for types like Bonus issue(BNS),Stock dividend(DVS),Rights issue (DSR), and spin off(SPO).|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
      examples:
        Dividends Fields:
          $ref: '#/components/examples/DividendsFields'
        Distributions Fields:
          $ref: '#/components/examples/DistributionsFields'
        Splits Fields:
          $ref: '#/components/examples/SplitsFields'
  schemas:
    EventCountResponse:
      type: object
      title: Event Count Response
      description: Array of Event Count details for a given date range.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventCount'
    EventCount:
      type: object
      properties:
        eventDate:
          type: string
          format: date
          description: The date of the event in **YYYY-MM-DD** format.
          example: '2022-12-01'
          nullable: true
        dividends:
          type: integer
          description: The number of dividend events for the given date.
          example: 2
          nullable: true
        stockDistributions:
          type: integer
          description: The number of stock distribution events for the given date.
          example: 1
          nullable: true
        rightsIssues:
          type: integer
          description: The number of rights issue events for the given date.
          example: 0
          nullable: true
        spinOffs:
          type: integer
          description: The number of spin-off events for the given date.
          example: 0
          nullable: true
        splits:
          type: integer
          description: The number of split events for the given date.
          example: 0
          nullable: true
    CorporateActionsResponseCalendar:
      type: object
      title: Corporate Actions Response
      description: Array of Corporate Action event details for a given date range.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CorporateActionCalendar'
        meta:
          $ref: '#/components/schemas/Meta'
    DividendsResponse:
      type: object
      title: Cash Dividends Response
      description: Array of Cash Dividend details objects for a given date range.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DividendCalendar'
        meta:
          $ref: '#/components/schemas/Meta'
    DividendCalendar:
      type: object
      properties:
        eventId:
          type: string
          description: >-
            FactSet Event Identifier. This is a unique identifier for each
            event.
          example: SFMH16-A
        fsymId:
          type: string
          description: >-
            FactSet Permanent Identifier for the company/security associated
            with the event.
          example: MH33D6-R
        requestId:
          description: >-
            The identifier for the company or security will only be returned
            when IDs are included in the request. Acceptable identifiers include
            Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent IDs.
          type: string
          example: IBM-US
          nullable: true
        identifier:
          description: >-
            The ticker-region of the company or security. This field is returned
            regardless of any of the IDs provided.
          type: string
          example: IBM-US
          nullable: true
        companyName:
          description: Name of the company/security that declared the dividend.
          type: string
          example: International Business Machines Corporation
          nullable: true
        exchangeCode:
          type: string
          description: >-
            The exchange code where the event occurred. For a list of valid
            exchange codes, refer to the `/meta/exchanges` endpoint.
          example: NYS
          nullable: true
        exchangeName:
          type: string
          description: >-
            Exchange where the security/company associated with the event is
            traded.
          example: New York Stock Exchange
          nullable: true
        country:
          type: string
          description: The ISO Alpha-2 code of the country where the event occurred.
          example: US
          nullable: true
        eventType:
          description: A brief description of the corporate action type.
          type: string
          example: Dividend
          nullable: true
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        dividendType:
          description: >-
            Dividend Type Description. For available values, visit [Online
            Assistant Page #8764](https://oa.apps.factset.com/pages/8764).
          type: string
          example: Ordinary
          nullable: true
        dividendStatus:
          description: >-
            Identifies the dividend status( Active, Cancelled, Postponed,
            Partial Information).
          type: string
          example: Active
          nullable: true
        dividendPerShare:
          type: number
          format: double
          description: >-
            The amount to be paid as per the dividend event in the declared
            currency.
          example: 0.5
          nullable: true
        declaredCurrency:
          description: Currency ISO code in which the distribution amount is declared.
          type: string
          example: USD
          nullable: true
        eventDescription:
          description: >-
            Textual description identifying the event. Example- Split
            (Mandatory): 3 for 1.
          type: string
          example: Dividend USD 0.500
          nullable: true
        error:
          $ref: '#/components/schemas/ErrorObjectResponse'
    StockDistributionsResponseCalendar:
      type: object
      title: Stock Distributions Response
      description: Array of Stock Distribution details objects for a given date range.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StockDistribution'
        meta:
          $ref: '#/components/schemas/Meta'
    StockDistribution:
      type: object
      properties:
        eventId:
          type: string
          description: >-
            FactSet Event Identifier. This is a unique identifier for each
            event.
          example: SFMH16-A
        fsymId:
          type: string
          description: >-
            FactSet Permanent Identifier for the company/security associated
            with the event.
          example: MH33D6-R
        requestId:
          description: >-
            The identifier for the company or security will only be returned
            when IDs are included in the request. Acceptable identifiers include
            Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent IDs.
          type: string
          example: IBM-US
          nullable: true
        identifier:
          description: >-
            The ticker-region of the company or security. This field is returned
            regardless of any of the IDs provided.
          type: string
          example: IBM-US
          nullable: true
        companyName:
          description: Name of the company/security that declared the distribution.
          type: string
          example: International Business Machines Corporation
          nullable: true
        exchangeCode:
          type: string
          description: >-
            The exchange code where the event occurred. For a list of valid
            exchange codes, refer to the `/meta/exchanges` endpoint.
          example: NYS
          nullable: true
        exchangeName:
          type: string
          description: >-
            Exchange where the security/company associated with the event is
            traded.
          example: New York Stock Exchange
          nullable: true
        country:
          type: string
          description: The ISO Alpha-2 code of the country where the event occurred.
          example: US
          nullable: true
        eventType:
          description: A brief description of the corporate action type.
          type: string
          example: Stock Dividend
          nullable: true
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-12-01'
          nullable: true
        priceAdjFactor:
          type: number
          format: double
          description: >-
            The price adjustment factor associated with the bonus or stock
            dividend event.
          example: 0.9975
          nullable: true
        eventDescription:
          description: Textual description identifying the event.
          type: string
          example: 5% Stock Dividend
          nullable: true
        distIdentifier:
          description: The identifier of the distributed company associated with the event.
          type: string
          example: FDS-US
          nullable: true
        error:
          $ref: '#/components/schemas/ErrorObjectResponse'
    RightsIssuesResponse:
      type: object
      title: Rights Issues Response
      description: Array of Rights Issue details objects for a given date range.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RightsIssue'
        meta:
          $ref: '#/components/schemas/Meta'
    RightsIssue:
      type: object
      properties:
        eventId:
          type: string
          description: >-
            FactSet Event Identifier. This is a unique identifier for each
            event.
          example: SFMH16-A
        fsymId:
          type: string
          description: >-
            FactSet Permanent Identifier for the company/security associated
            with the event.
          example: MH33D6-R
        requestId:
          description: >-
            The identifier for the company or security will only be returned
            when IDs are included in the request. Acceptable identifiers include
            Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent IDs.
          type: string
          example: IBM-US
          nullable: true
        identifier:
          description: >-
            The ticker-region of the company or security. This field is returned
            regardless of any of the IDs provided.
          type: string
          example: IBM-US
          nullable: true
        companyName:
          description: Name of the company/security that declared the rights issue.
          type: string
          example: International Business Machines Corporation
          nullable: true
        exchangeCode:
          type: string
          description: >-
            The exchange code where the event occurred. For a list of valid
            exchange codes, refer to the `/meta/exchanges` endpoint.
          example: NYS
          nullable: true
        exchangeName:
          type: string
          description: >-
            Exchange where the security/company associated with the event is
            traded.
          example: New York Stock Exchange
          nullable: true
        country:
          type: string
          description: The ISO Alpha-2 code of the country where the event occurred.
          example: US
          nullable: true
        eventType:
          description: A brief description of the corporate action type.
          type: string
          example: Rights Issue
          nullable: true
[...]
