openapi: 3.0.0
info:
  version: 1.5.0
  title: FactSet Global Prices API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  description: >
    The FactSet Global Prices API provides end of day market pricing content
    using cloud and microservices technology, encompassing both pricing as well
    as corporate actions and events data.</p>
servers:
  - url: https://api.factset.com/content
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Prices
    description: >-
      Get Security Open, High, Low, Close, Volume for a list of ids and date
      range
  - name: Returns
    description: Gets the returns data for the list of ids, date range and currency
paths:
  /factset-global-prices/v1/prices:
    get:
      tags:
        - Prices
      summary: Gets end-of-day Open, High, Low, Close for a list of securities.
      operationId: getGPDPrices
      description: >
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range,
        currency, and adjustment factors.
      parameters:
        - $ref: '#/components/parameters/idsMax1000'
        - $ref: '#/components/parameters/fieldsPrices'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/calendar'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/adjust'
      responses:
        '200':
          description: Array of Price Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
              examples:
                One Week Prices for Two Securities All Fields:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
                Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Prices
      summary: >-
        Requests end-of-day Open, High, Low, Close for a large list of
        securities.
      description: >-
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range,
        currency, and adjustment factors.
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Prices`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/globalPricesRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
  /factset-global-prices/v1/corporate-actions:
    get:
      tags:
        - Corporate Actions
      summary: Gets Corporate Actions information.
      operationId: getGPDCorporateActions
      description: >
        Gets the Corporate Actions amounts, dates, types, and flags over a
        specified date range.

        You may request future dates to receive information for declared events.


        Event Categories:

        * __Cash Dividends__ (CASH_DIVS)
          * **DVC** – Dividend
          * **DVCD** – Dividend with DRP Option
          * **DRP** – Dividend Reinvestment
        * __Stock Distributions__ (STOCK_DIST)
          * **DVS** – Stock Dividend
          * **DVSS** – Stock Dividend, Special
          * **BNS** – Bonus Issue
          * **BNSS** – Bonus Issue, Special
        * __Spin Offs__ (SPINOFFS)
          * **SPO** – Spin Off
        * __Rights Issue__ (RIGHTS)
          * **DSR** – Rights Issue
        * __Splits__ (SPLITS)
          * **FSP** – Forward Split
          * **RSP** – Reverse Split
          * **SPL** – Split
          * **EXOS** – Exchange of Securities
      parameters:
        - $ref: '#/components/parameters/idsMax100'
        - $ref: '#/components/parameters/eventCategory'
        - $ref: '#/components/parameters/fieldsCorporateActions'
        - $ref: '#/components/parameters/startDateCA'
        - $ref: '#/components/parameters/endDateCA'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/cancelledDividend'
      responses:
        '200':
          description: >-
            Array of security dividend information for a given date range and
            list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/corporateActionsResponse'
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Corporate Actions
      summary: Requests Corporate Actions information.
      description: >-
        Gets the Corporate Actions amounts, dates, types, and flags over a
        specified date range. You may request future dates to receive
        information for declared events. <p>**_startDate and endDate are
        required parameters. The input startDate must come before the input
        endDate._**
      operationId: postCorporateActions
      requestBody:
        required: true
        description: Request object for `Corporate Actions`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/corporateActionsRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/corporateActionsResponse'
  /factset-global-prices/v1/annualized-dividends:
    get:
      tags:
        - Corporate Actions
      summary: Gets Indicated Annualized Dividend information.
      operationId: getannualizedDividends
      description: >
        Gets the Annualized dividend of the latest reported dividend.

        The annualized dividend calculations does not involve cancelled
        dividends.
      parameters:
        - $ref: '#/components/parameters/idsMax100'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Array of annualized dividend information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Corporate Actions
      summary: Gets Indicated Annualized Dividend information.
      description: >-
        Gets the Annualized dividend of the latest reported dividend. The
        annualized dividend calculations does not involve cancelled dividends.
      operationId: getannualizedDividendsForList
      requestBody:
        required: true
        description: Request object for `Annualized Response`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annualizedDividendsRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
  /factset-global-prices/v1/returns:
    get:
      tags:
        - Returns
      summary: Gets Returns for a list of `ids` as of given date range.
      operationId: getReturns
      description: >
        Returns for the requested ids and currency for the given dates.
        Depending on the input parameters the return data is provided. 
      parameters:
        - $ref: '#/components/parameters/idsMax50'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/frequency'
        - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: Array of Returns Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Returns
      summary: Gets Returns for a list of `ids` as of given date range.
      description: >-
        Returns for the requested ids and currency for the given dates.
        Depending on the input parameters the return data is provided.
      operationId: getReturnsForList
      requestBody:
        required: true
        description: Request object for `Returns`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    idsMax100:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 100
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  100 per request*</p> *<p>Make note, GET Method URL
        request lines are also limited to a total length of 8192 bytes (8KB). In
        cases where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
            - FDS-US
            - AAPL-US
            - MSFT-US
    idsMax50:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 50
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  50 per request*</p> *<p>Make note, GET Method URL
        request lines are also limited to a total length of 8192 bytes (8KB). In
        cases where the service allows for thousands of ids, which may lead to
        exceeding this request line limit of 8KB, its advised for any requests
        with large request lines to be requested through the respective "POST"
        method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
    idsMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: >-
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
        <p>***ids limit** =  50 per multi-day request or 1000 for single day
        requests*</p> *<p>Make note, GET Method URL request lines are also
        limited to a total length of 8192 bytes (8KB). In cases where the
        service allows for thousands of ids, which may lead to exceeding this
        request line limit of 8KB, its advised for any requests with large
        request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
            - AAPL-USA
    eventCategory:
      name: eventCategory
      description: |
        Selects the Event Category to include in the response.
          * **CASH_DIVS** = Cash Dividends
          * **STOCK_DIST** = Stock Distributions
          * **SPINOFFS** = Spin Offs
          * **RIGHTS** = Rights Issue
          * **SPLITS** = Splits
          * **ALL** = Returns all Event Types. If left blank the service will default to ALL.
      in: query
      schema:
        type: string
        enum:
          - CASH_DIVS
          - STOCK_DIST
          - RIGHTS
          - SPINOFFS
          - SPLITS
          - ALL
        default: ALL
    startDate:
      name: startDate
      in: query
      required: true
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. The input start date must be before the input end date. Future
        dates (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        The input end date must be after the input start date. Future dates
        (T+1) are not accepted in this endpoint.
      example: '2021-08-27'
    startDateCA:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. In the context of corporate actions, this filters the response
        to only include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2019-01-01'
    endDateCA:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        In the context of corporate actions, this filters the response to only
        include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2019-12-31'
    date:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: >
        The as of date in **YYYY-MM-DD** format. This controls the perspective
        date in which the period parameter will be computed. Future dates (T+1)
        are not accepted in this endpoint.
      example: '2019-07-07'
    cancelledDividend:
      name: cancelledDividend
      in: query
      required: false
      schema:
        type: string
        enum:
          - include
          - exclude
        default: exclude
      description: >
        The cancelled dividend returns the dividend details whether they are
        cancelled or active.
      example: exclude
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
          - D
          - AD
          - W
          - M
          - AM
          - AQ
          - CQ
          - ASA
          - CSA
          - AY
          - CY
        default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **AD** = Actual Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **AQ** =  Actual Quarterly
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **ASA** = Actual Semi-annual
          * **CSA** = Calendar Semi-annual
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
          
    dividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
          - PRICE
          - EXDATE
          - PAYDATE
          - EXDATE_C
          - PAYDATE_C
        default: EXDATE_C
      description: |
        Controls the dividend reinvestment for the returns calculation.
          * **PRICE** = Price Change - Dividends Excluded.
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.
          * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.
          * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.

          
    calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
          - FIVEDAY
          - SEVENDAY
          - US
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    currency:
      name: currency
      in: query
      schema:
        type: string
      description: >-
        Currency code for adjusting prices. Default is Local. For a list of
        currency ISO codes, visit [Online Assistant Page
        1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    adjust:
      name: adjust
      in: query
      schema:
        type: string
        enum:
          - SPLIT
          - SPLIT_SPINOFF
          - UNSPLIT
        default: SPLIT
      description: |
        Controls the split and spinoff adjustments for the prices.
          * **SPLIT** = Split ONLY Adjusted. This is used by default.
          * **SPLIT_SPINOFF** = Splits & Spinoff Adjusted.
          * **UNSPLIT** = No Adjustments.
    fieldsPrices:
      name: fields
      in: query
      description: >
        Request available pricing data fields to be included in the response.
        Default is all fields. All responses will include the _fsymId_, _date_,
        and _currency_ fields.
          |field|description|
          |---|---|
          |price|Closing Price|
          |priceOpen|Opening Price|
          |priceHigh|High Price|
          |priceLow|Low Price|
          |volume|Volume|
          |turnover|Total Trade Value for the Day|
          |tradeCount|Number of Trades|
          |vwap|Volume Weighted Average Price|
      required: false
      schema:
        type: array
        items:
          type: string
        default:
          - price
          - priceOpen
          - priceHigh
          - priceLow
          - volume
          - turnover
          - tradeCount
          - vwap
          - currency
      example:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
    fieldsCorporateActions:
      name: fields
      in: query
      description: >
        Request available Corporate Actions data fields to be included in the
        response.

        Default is all fields. _fsymId_, _effectiveDate_, _eventTypeCode_ and
        _requestId_ are always included.

          |field|description|
          |---|---|
          |fsymId|Factset Regional Security Identifier|
          |eventTypeCode|Character code that denotes the type of event|
          |effectiveDate|The date when security is traded ex-dividend|
          |requestId|Identifier that was used for the request.|

        <h3>Common Fields</h3>
          |field|description|
          |---|---|
          |eventId|Uniquely Identifies the event|
          |eventTypeDesc|Description of the type of event|
          |divTypeCode|Dividend type code. [OA#8764](https://my.apps.factset.com/oa/pages/8764)|
          |announcementDate|Date the event was publicly announced|
          |recordDate|Record date of the event|
          |payDate|Payment date of the event|
        <h3>Dividend Fields</h3>
          |field|description|
          |---|---|
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |amtDefNetGrossIndicator|Indicates whether the default amount is net or gross. G=Gross; N=Net.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |amtNetTradingAdj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date.  The value is adjusted for splits.|
          |amtNetTradingUnadj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |amtGrossTradingAdj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtGrossTradingUnadj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |declaredCurrency|Currency ISO code associated with the declared amount. |
          |amtDefDecAdj|Cash distribution amount (net or gross) in the currency it was declared in. The value is adjusted for splits.|
          |amtDefDecUnadj|Cash distribution amount (net or gross) in the currency it was declared in. The value is not adjusted for splits.|
          |amtNetDecAdj|Net cash distribution amount in the currency it was declared in. The value is adjusted for splits. |
          |amtNetDecUnadj|Net cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |amtGrossDecAdj|Gross cash distribution amount in the currency it was declared in. N/A is returned if the gross amount is not available. The value is adjusted for splits.|
          |amtGrossDecUnadj|Gross cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |dividendStatus|Identifies the cancelled dividends status( Active, Cancelled, Postponed, Partial Information) and helps to evaluate their price and portfolio performance.Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendActiveFlag|Identifies whether the dividend record is currently active(1) or inactive(0).Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendsSpecFlag|Indicates a special price implications exists, which may or may not include special dividends. Indicates whether an adjustment should be made to historical pricing.|
          |dividendFrequencyDesc|Dividend Frequency for different event types in the form of a text as per the descriptions found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |dividendFrequencyCode|Dividend Frequency for different event types in the form of a code as per the details found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |frankDefTradingAdj|Split amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
          |frankDefTradingUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
          |frankDefDecAdj|Split amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefDecUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankPct|Percent of total dividend that is franked (subject to tax credit). **Only applicable for Australian Securities**.|
          |taxRate|Domestic Withholding Tax Rate for a Resident Individual|
        <h3>Distribution Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Factor applied to adjust historical prices. Calculation formulas are available on [OA#12619](https://my.apps.factset.com/oa/pages/12619)|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |distPct|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |rightsIssuePrice|Price of the rights issue. |
          |rightsIssueCurrency|Currency the rights issue price was declared in.|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
        <h3>Splits Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |distInstFsymId|Helps to identify an instrument representing the distributed company or security associated with ca event identifier. Its applicable for types like Bonus issue(BNS),Stock dividend(DVS),Rights issue (DSR), and spin off(SPO).|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
      examples:
        Dividends Fields:
          $ref: '#/components/examples/DividendsFields'
        Distributions Fields:
          $ref: '#/components/examples/DistributionsFields'
        Splits Fields:
          $ref: '#/components/examples/SplitsFields'
  schemas:
    globalPricesRequest:
      title: Prices Request Body
      description: Prices Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax1000'
        fields:
          $ref: '#/components/schemas/pricesFields'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        adjust:
          $ref: '#/components/schemas/adjust'
      required:
        - ids
        - startDate
    globalPricesResponse:
      type: object
      title: Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/price'
    price:
      title: Price Object
      type: object
      properties:
        fsymId:
          description: >-
            FactSet Permanent Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix
            (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
      additionalProperties: true
    CashDividendsResponse:
      type: object
      title: Cash Dividends Response
      properties:
        data:
          description: Array of Diviends Objects
          type: array
          items:
            $ref: '#/components/schemas/Dividend'
    StockDistributionsResponse:
      type: object
      title: Stock Distributions Response
      properties:
        data:
          description: Array of Distribution Objects
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    SpinoffsResponse:
      type: object
      title: Spinoffs Response
      properties:
        data:
          description: Array of Distribution Objects
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    RightsIssueResponse:
      type: object
      title: Rights Issue Response
      properties:
        data:
          description: Array of Distribution Objects
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
    SplitsResponse:
      type: object
      title: Splits Response
      properties:
        data:
          description: Array of Split Objects
          type: array
          items:
            $ref: '#/components/schemas/Split'
    corporateActionsResponse:
      type: object
      title: Corporate Actions Response
      properties:
        data:
          description: Array of Corporate Action Objects
          type: array
          items:
            title: Corporate Action Object
            type: object
            properties:
              fsymId:
                description: >-
                  Factset Regional Security Identifier. Six alpha-numeric
                  characters, excluding vowels, with an -R suffix (XXXXXX-R).
                  Identifies the security's best regional security data series
                  per currency. For equities, all primary listings per region
                  and currency are allocated a regional-level permanent
                  identifier. The regional-level permanent identifier will be
                  available once a SEDOL representing the region/currency has
                  been allocated and the identifiers are on FactSet.
                type: string
                example: SJY281-R
                x-fds-sdf: fsym_id
                x-fds-dh: REGIONAL_FDS_ID
                nullable: true
              eventId:
                description: FactSet identifier that uniquely identifies the Event.
                type: string
                example: JTHPFN-A
                x-fds-sdf: ca_event_id
                x-fds-dh: EVENT_ID
                nullable: true
              eventTypeCode:
                description: Corporate Actions Event type code.
                type: string
                enum:
                  - DVC
                  - DVCD
                  - DRP
                  - DVS
                  - DVSS
                  - BNS
                  - BNSS
                  - SPO
                  - DSR
                  - FSP
                  - RSP
                  - SPL
                x-fds-sdf: ca_event_type_code
                x-fds-dh: EVENT_TYPE_CODE
                nullable: true
              eventTypeDesc:
                description: Corporate Actions Event type description.
                type: string
                x-fds-sdf: null
                x-fds-dh: EVENT_TYPE
                nullable: true
              divTypeCode:
                description: >
                  Dividend Type Code. For code descriptions, visit [Online
                  Assistant Page #8764]
                  (https://oa.apps.factset.com/pages/8764).
                type: string
                x-fds-sdf: div_type_code
                x-fds-dh: DIVTYPE_NUM
                nullable: true
              announcementDate:
                description: Date Event was announced in YYYY-MM-DD format.
                type: string
                x-fds-sdf: announcement_date
                x-fds-dh: ANNDATE
                nullable: true
              recordDate:
                description: Date of Record for distribution in YYYY-MM-DD format.
                type: string
                x-fds-sdf: record_date
                x-fds-dh: RECORD_DATE
                nullable: true
              payDate:
                description: Date of Payment for distribution in YYYY-MM-DD format.
                type: string
                x-fds-sdf: pay_date
                x-fds-dh: PAYDATE
                nullable: true
              effectiveDate:
                description: >-
                  Effective Date or Ex-Date of distribution in YYYY-MM-DD
                  format.
                type: string
                x-fds-sdf: effective_date
                x-fds-dh: EFFECTIVE_DATE
                nullable: true
              requestId:
                description: Identifier that was used for the request.
                type: string
                example: AAPL-US
            additionalProperties: true
    corporateActionsRequest:
      title: Corporate Actions Request Body
      description: Corporate Actions Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax100'
        eventCategory:
          $ref: '#/components/schemas/eventCategory'
        fields:
          $ref: '#/components/schemas/fieldsCorporateActions'
        startDate:
          $ref: '#/components/schemas/startDateCA'
        endDate:
          $ref: '#/components/schemas/endDateCA'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        cancelledDividend:
          $ref: '#/components/schemas/cancelledDividend'
      required:
        - ids
    annualizedDividendsRequest:
      title: Annualized Dividends Request Body
      description: Annualized Dividends Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax100'
        currency:
          $ref: '#/components/schemas/requestCurrency'
      required:
        - ids
    annualizedDividendResponse:
      type: object
      title: Annualized Dividends Response
      properties:
        data:
          description: Array of Annualized Dividends Objects
          type: array
          items:
            $ref: '#/components/schemas/annualizedDividendsObject'
    annualizedDividendsObject:
      title: Annualized Dividends Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          x-fds-dh: REGIONAL_FDS_ID
          nullable: true
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-dh: EVENT_ID
          nullable: true
        effectiveDate:
          description: >-
            Effective Date or Ex-Date of Annualized Dividend in YYYY-MM-DD
            format.
          type: string
          example: 2022-03-11T00:00:00.000Z
          x-fds-dh: IAD_EXDATE
          nullable: true
        iadDefTradingAdj:
          description: >-
            Annualized Dividend value in the trading currency. The value is
            adjusted for splits
          type: number
          format: float
          x-fds-dh: IAD_DEF_SPLIT
          example: 0.7584434
          nullable: true
        currency:
          description: >-
            Currency ISO code associated with the annualized dividends.For more
            details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          x-fds-dh: IAD_DEF_CURR_ISO
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
    idsMax100:
      title: ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 100
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.
      example:
        - TSLA-US
        - AAPL-US
    idsMax50:
      title: ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 50
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Requests
        are limited to 50 IDs.
      example:
        - TSLA-US
    idsMax1000:
      title: ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: >
        The requested list of security identifiers. Accepted ID types include
        Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Requests
        are limited to 50 IDs for multi-day requests and 1000 IDs for single day
        requests.
      example:
        - TSLA-US
    eventCategory:
      title: eventCategory
      type: string
      enum:
        - CASH_DIVS
        - STOCK_DIST
        - RIGHTS
        - SPINOFFS
        - SPLITS
        - ALL
      default: ALL
      description: |
        Selects the Event Category to include in the response.
          * **CASH_DIVS** = Cash Dividends
          * **STOCK_DIST** = Stock Distributions
          * **SPINOFFS** = Spin Offs
          * **RIGHTS** = Rights Issue
          * **SPLITS** = Splits
          * **ALL** = Returns all Event Types. If left blank the service will default to ALL.
      example: CASH_DIVS
    fieldsCorporateActions:
      title: fields
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 36
      description: >
        Request available Corporate Actions data fields to be included in the
        response.

        Default is all fields. _fsymId_, _effectiveDate_, _eventTypeCode_ and
        _requestId_ are always included.

          |field|description|
          |---|---|
          |fsymId|Factset Regional Security Identifier|
          |eventTypeCode|Character code that denotes the type of event|
          |effectiveDate|The date when security is traded ex-dividend|
          |requestId|Identifier that was used for the request.|

        <h3>Common Fields</h3>
          |field|description|
          |---|---|
          |eventId|Uniquely Identifies the event|
          |eventTypeDesc|Description of the type of event|
          |divTypeCode|Dividend type code. [OA#8764](https://my.apps.factset.com/oa/pages/8764)|
          |announcementDate|Date the event was publicly announced|
          |recordDate|Record date of the event|
          |payDate|Payment date of the event|
        <h3>Dividend Fields</h3>
          |field|description|
          |---|---|
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |amtDefNetGrossIndicator|Indicates whether the default amount is net or gross. G=Gross; N=Net.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |amtNetTradingAdj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date.  The value is adjusted for splits.|
          |amtNetTradingUnadj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |amtGrossTradingAdj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtGrossTradingUnadj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
          |declaredCurrency|Currency ISO code associated with the declared amount. |
          |amtDefDecAdj|Cash distribution amount (net or gross) in the currency it was declared in. The value is adjusted for splits.|
          |amtDefDecUnadj|Cash distribution amount (net or gross) in the currency it was declared in. The value is not adjusted for splits.|
          |amtNetDecAdj|Net cash distribution amount in the currency it was declared in. The value is adjusted for splits. |
          |amtNetDecUnadj|Net cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |amtGrossDecAdj|Gross cash distribution amount in the currency it was declared in. N/A is returned if the gross amount is not available. The value is adjusted for splits.|
          |amtGrossDecUnadj|Gross cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
          |dividendStatus|Identifies the cancelled dividents and helps to evaluate their price and portfolio performance.|
          |dividendActiveFlag|Identifies whether the dividend record is currently active(1) or inactive(0).Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
          |dividendsSpecFlag|Indicates a special price implications exists, which may or may not include special dividends. Indicates whether an adjustment should be made to historical pricing.|
          |dividendFrequencyDesc|Dividend Frequency for different event types in the form of a text as per the descriptions found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |dividendFrequencyCode|Dividend Frequency for different event types in the form of a code as per the details found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
          |frankDefTradingAdj|Split amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefTradingUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
          |frankDefDecAdj|Split amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.**Only applicable for Australian Securities**.|
          |frankDefDecUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.**Only applicable for Australian Securities**.|
          |frankPct|Percent of total dividend that is franked (subject to tax credit). **Only applicable for Australian Securities**.|          
          |taxRate|Domestic Withholding Tax Rate for a Resident Individual|
        <h3>Distribution Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Factor applied to adjust historical prices. Calculation formulas are available on [OA#12619](https://my.apps.factset.com/oa/pages/12619)|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
          |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
          |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
          |distPct|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |rightsIssuePrice|Price of the rights issue. |
          |rightsIssueCurrency|Currency the rights issue price was declared in.|
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
        <h3>Splits Fields</h3>
          |field|description|
          |---|---|
          |adjFactor|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
          |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
          |distOldTerm|Component of distribution ratio- Number of shares held.|
          |distNewTerm|Component of distribution ratio - Number of shares received.|
          |distInstFsymId|Helps to identify an instrument representing the distributed company or security associated with ca event identifier. Its applicable for types like Bonus issue(BNS),Stock dividend(DVS),Rights issue (DSR), and spin off(SPO). |
          |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
      example:
        - eventId
        - eventTypeDesc
        - recordDate
        - payDate
        - currency
    pricesFields:
      title: Prices Fields
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 8
      description: >
        Request available pricing data fields to be included in the response.
        Default is all fields. All responses will include the _fsymId_, _date_,
        and _currency_ fields.
          |field|description|
          |---|---|
          |price|Closing Price|
          |priceOpen|Opening Price|
          |priceHigh|High Price|
          |priceLow|Low Price|
          |volume|Volume|
          |turnover|Total Trade Value for the Day|
          |tradeCount|Number of Trades|
          |vwap|Volume Weighted Average Price|
      example:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
        - vwap
        - tradeCount
        - turnover
    startDate:
      title: Start Date
      type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. Future dates (T+1) are not accepted in this endpoint.
      example: '2020-06-30'
    endDate:
      title: End Date
      type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        Future dates (T+1) are not accepted in this endpoint.
      example: '2021-06-30'
    startDateCA:
      title: Start Date
      type: string
      description: >
        The start date requested for a given date range in **YYYY-MM-DD**
        format. In the context of corporate actions, this filters the response
        to only include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2020-06-30'
    endDateCA:
      title: End Date
      type: string
      description: >
        The end date requested for a given date range in **YYYY-MM-DD** format.
        In the context of corporate actions, this filters the response to only
        include events within the date range. The frequency between the
        startDate and endDate is always set to the "event" frequency- meaning
        the service will return only events within those inclusive boundaries.
        Leaving both startDate and endDate blank will pull "all" events for each
        requested ids.
      example: '2021-06-30'
    frequency:
      title: Frequency
      type: string
      enum:
        - D
        - AD
        - W
        - M
        - AM
        - AQ
        - CQ
        - ASA
        - CSA
        - AY
        - CY
      default: D
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **AD** = Actual Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **AQ** =  Actual Quarterly
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **ASA** = Actual Semi-annual
          * **CSA** = Calendar Semi-annual
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
      example: M
    dividendAdjust:
      title: dividendAdjust
      type: string
      enum:
        - PRICE
        - EXDATE
        - PAYDATE
        - EXDATE_C
        - PAYDATE_C
      default: EXDATE_C
      description: |
        Controls the dividend reinvestment for the returns calculation.
          * **PRICE** = Price Change - Dividends Excluded.
          * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.
          * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.
          * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.
          * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.
      example: EXDATE_C
    calendar:
      title: Calendar
      type: string
      enum:
        - FIVEDAY
        - SEVENDAY
        - US
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    cancelledDividend:
      title: cancelledDividend
      type: string
      enum:
        - include
        - exclude
      default: exclude
      description: >-
        The cancelled dividend returns the dividend details whether they are
        cancelled or active.
      example: exclude
    requestCurrency:
      title: Request Currency
      type: string
      description: >-
        Currency code for adjusting prices. Default is Local. For a list of
        currency ISO codes, visit [Online Assistant Page
        1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    adjust:
      title: Adjust
      type: string
      enum:
        - SPLIT
        - SPLIT_SPINOFF
        - UNSPLIT
      default: SPLIT
      description: |
        Controls the split and spinoff adjustments for the prices.
          * **SPLIT** = Split ONLY Adjusted. This is used by default.
          * **SPLIT_SPINOFF** = Splits & Spinoff Adjusted.
          * **UNSPLIT** = No Adjustments.
      example: SPLIT
    Dividend:
      title: Dividend Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          x-fds-sdf: fsym_id
          x-fds-dh: REGIONAL_FDS_ID
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-sdf: ca_event_id
          x-fds-dh: EVENT_ID
        eventTypeCode:
          description: Corporate Actions Event type code.
          type: string
          enum:
            - DVC
            - DVCD
            - DRP
          x-fds-sdf: ca_event_type_code
          x-fds-dh: EVENT_TYPE_CODE
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          x-fds-sdf: null
          x-fds-dh: EVENT_TYPE
        divTypeCode:
          description: >
            Dividend Type Code. For code descriptions, visit [Online Assistant
            Page #8764] (https://oa.apps.factset.com/pages/8764).
          type: string
          x-fds-sdf: div_type_code
          x-fds-dh: DIVTYPE_NUM
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          x-fds-sdf: announcement_date
          x-fds-dh: ANNDATE
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: record_date
          x-fds-dh: RECORD_DATE
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: pay_date
          x-fds-dh: PAYDATE
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: effective_date
          x-fds-dh: EFFECTIVE_DATE
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          x-fds-sdf: trading_currency
          x-fds-dh: DEF_CURR_ISO
        amtDefNetGrossIndicator:
          description: >-
            Net/Gross Marker Code. For details describing Net vs. Gross
            dividends, visit [Online Assistant Page
            #11512](https://oa.apps.factset.com/pages/11512).
          type: string
          enum:
            - 'N'
            - G
          x-fds-sdf: amt_def_net_gross_indicator
          x-fds-dh: NGFLAG
        amtDefTradingAdj:
          description: Default Amount - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_def_trading_adj
          x-fds-dh: AMT_DEF_SPLIT
        amtDefTradingUnadj:
          description: Default Amount - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_def_trading_adj
          x-fds-dh: AMT_DEF_UNSPLIT
        amtGrossTradingAdj:
          description: 'Gross Amount - Trading Currency, Split Adjusted '
          type: number
          format: double
          example: null
          x-fds-sdf: amt_gross_trading_adj
          x-fds-dh: GROSS_DEF_SPLIT
        amtGrossTradingUnadj:
          description: 'Gross Amount - Trading Currency, Unadjusted '
          type: number
          format: double
          example: null
          x-fds-sdf: amt_gross_trading_unadj
          x-fds-dh: GROSS_DEF_UNSPLIT
        amtNetTradingAdj:
          description: Net Amount - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_net_trading_adj
          x-fds-dh: NET_DEF_SPLIT
        amtNetTradingUnadj:
          description: Net Amount - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_net_trading_unadj
          x-fds-dh: NET_DEF_UNSPLIT
        declaredCurrency:
          description: Currency code for declared dividend.
          type: string
          example: USD
          x-fds-sdf: declared_currency
          x-fds-dh: DEC_CURR_ISO
        amtDefDecAdj:
          description: Default Amount - Declared Currency, Split Adjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_def_dec_adj
          x-fds-dh: AMT_DEC_SPLIT
        amtDefDecUnadj:
          description: Default Amount - Declared Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_def_dec_unadj
          x-fds-dh: AMT_DEC_UNSPLIT
        amtGrossDecAdj:
          description: 'Gross Amount - Declared Currency, Split Adjusted '
          type: number
          format: double
          example: null
          x-fds-sdf: amt_gross_dec_adj
          x-fds-dh: GROSS_DEC_SPLIT
        amtGrossDecUnadj:
          description: 'Gross Amount - Declared Currency, Unadjusted '
          type: number
          format: double
          example: null
          x-fds-sdf: amt_gross_dec_unadj
          x-fds-dh: GROSS_DEC_UNSPLIT
        amtNetDecAdj:
          description: 'Net Amount - Declared Currency, Split Adjusted '
          type: number
          format: double
          example: null
          x-fds-sdf: amt_net_dec_adj
          x-fds-dh: NET_DEC_SPLIT
        amtNetDecUnadj:
          description: 'Net Amount - Declared Currency, Unadjusted '
          type: number
          format: double
          example: null
          x-fds-sdf: amt_net_dec_unadj
          x-fds-dh: NET_DEC_UNSPLIT
        dividendStatus:
          description: Dividend Status Flag - 1=Yes, 0=No
          type: integer
          example: 0
          x-fds-sdf: dividend_status
          x-fds-dh: DIV_STATUS
        dividendActiveFlag:
          description: Dividend active Flag - 1=Yes, 0=No
          type: integer
          example: 1
          x-fds-sdf: dividend_active_flag
          x-fds-dh: ISACTIVE_FLAG
        dividendsSpecFlag:
          description: Special Dividend Flag - 1=Yes, 0=No
          type: integer
          example: 0
          x-fds-sdf: dividend_spec_flag
          x-fds-dh: SPEC_FLAG
        frankDefTradingAdj:
          description: Default Frank - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
          x-fds-sdf: frank_amt_trading_adj
          x-fds-dh: FRANK_DEF_SPLIT
        frankDefTradingUnadj:
          description: Default Frank - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: frank_amt_trading_unadj
          x-fds-dh: FRANK_DEF_UNSPLIT
        frankDefDecAdj:
          description: Default Frank - Declared Currency, Split Adjusted
          type: number
          format: double
          example: null
          x-fds-sdf: frank_amt_dec_adj
          x-fds-dh: FRANK_DEC_SPLIT
        frankDefDecUnadj:
          description: Default Frank - Declared Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: frank_amt_dec_unadj
          x-fds-dh: FRANK_DEC_UNSPLIT
        frankPct:
          description: Default Amount - Declared Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: frank_pct
          x-fds-dh: FRANK_PCT
        taxRate:
          description: Tax Rate for on gross dividend for net dividend.
          type: number
          format: double
          x-fds-sdf: tax_rate
          x-fds-dh: TAX_RATE
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
    Distribution:
      title: Distribution Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          x-fds-sdf: fsym_id
          x-fds-dh: REGIONAL_FDS_ID
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-sdf: ca_event_id
          x-fds-dh: EVENT_ID
        eventTypeCode:
          description: Corporate Actions Event type code.
          type: string
          enum:
            - DVS
            - DVSS
            - BNS
            - BNSS
            - SPO
            - DSR
          x-fds-sdf: ca_event_type_code
          x-fds-dh: EVENT_TYPE_CODE
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          example: Stock Dividend, Special
          x-fds-sdf: null
          x-fds-dh: EVENT_TYPE
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          x-fds-sdf: announcement_date
          x-fds-dh: ANNDATE
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: record_date
          x-fds-dh: RECORD_DATE
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: pay_date
          x-fds-dh: PAYDATE
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: effective_date
          x-fds-dh: EFFECTIVE_DATE
        adjFactor:
          description: >
            Factor for adjusting price and shares.

            A 2-for-1 split returns .50, the number you would multiply the stock
            price by to adjust for the split.
          type: number
          format: double
          example: 0.997262
          x-fds-sdf: price_adj_factor
          x-fds-dh: ADJ_FACTOR
        adjFactorCombined:
          description: Combined adjustment factor for all distribution events on that day.
          type: number
          format: double
          example: 0.997262
          x-fds-sdf: null
          x-fds-dh: ADJ_FACTOR_COMBINED
        amtDefTradingAdj:
          description: Default Amount - Trading Currency, Split Adjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_def_trading_adj
          x-fds-dh: AMT_DEF_SPLIT
        amtDefTradingUnadj:
          description: Default Amount - Trading Currency, Unadjusted
          type: number
          format: double
          example: null
          x-fds-sdf: amt_def_trading_adj
          x-fds-dh: AMT_DEF_UNSPLIT
        currency:
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          type: string
          example: USD
          x-fds-sdf: trading_currency
          x-fds-dh: DEF_CURR_ISO
        distPct:
          description: >-
            Distribution percentage of the event  (i.e. 10%). Typical for stock
            distributions.
          type: number
          format: double
          example: 0.27455
          x-fds-sdf: dist_pct
          x-fds-dh: DIST_RATIO_PERCENT_RATE
        distOldTerm:
          description: Component of distribution ratio -  Number of shares held.
          type: number
          format: double
          example: 1
          x-fds-sdf: dist_old_term
          x-fds-dh: DIST_RATIO_TERM_OLD
        distNewTerm:
          description: Component of distribution ratio -  Number of shares received.
          type: number
          format: double
          example: 0.05
          x-fds-sdf: dist_new_term
          x-fds-dh: DIST_RATIO_TERM_NEW
        rightsIssuePrice:
          description: Description
          type: number
          format: double
          example: null
          x-fds-sdf: rights_issue_price
          x-fds-dh: RIGHTS_PRICE
        rightsIssueCurrency:
          type: string
          description: Description
          example: USD
          x-fds-sdf: rights_issue_currency
          x-fds-dh: RIGHTS_CURR
        shortDesc:
          description: Textual description identifying the event.
          type: string
          example: >
            Spin off (Company)- For every 1 share held of General Electric Co.
            (CUSIP- 369604103; SEDOL- 2380498), receive 0.005371 share of Wabtec
            Rg (CUSIP- 929740108; SEDOL- 2955733)"
          x-fds-sdf: short-desc
          x-fds-dh: EVENT_DESC_SHORT
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: GOOG-US
    Split:
      title: Split Object
      type: object
      properties:
        fsymId:
          description: >-
            Factset Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security's best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet.
          type: string
          example: SJY281-R
          x-fds-sdf: fsym_id
          x-fds-dh: REGIONAL_FDS_ID
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-sdf: ca_event_id
          x-fds-dh: EVENT_ID
        eventTypeCode:
          description: Character code that denotes the type of Event.
          type: string
          enum:
            - FSP
            - RSP
            - SPL
          x-fds-sdf: ca_event_type_code
          x-fds-dh: EVENT_TYPE_CODE
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          example: Forward Split
          x-fds-sdf: null
          x-fds-dh: EVENT_TYPE
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          x-fds-sdf: announcement_date
          x-fds-dh: ANNDATE
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: record_date
          x-fds-dh: RECORD_DATE
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: pay_date
          x-fds-dh: PAYDATE
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: effective_date
          x-fds-dh: EFFECTIVE_DATE
        adjFactor:
          description: >
            Factor for adjusting price and shares.

            A 2-for-1 split returns .50, the number you would multiply the stock
            price by to adjust for the split.
          type: number
          format: double
          example: 0.997262
          x-fds-sdf: price_adj_factor
          x-fds-dh: ADJ_FACTOR
        adjFactorCombined:
          description: Combined adjustment factor for all distribution events on that day.
          type: number
          format: double
          example: 0.997262
          x-fds-sdf: null
          x-fds-dh: ADJ_FACTOR_COMBINED
        distOldTerm:
          description: Component of distribution ratio -  Number of shares held.
          type: number
          format: double
          example: 1
          x-fds-sdf: dist_old_term
          x-fds-dh: DIST_RATIO_TERM_OLD
        distNewTerm:
          description: Component of distribution ratio -  Number of shares received.
          type: number
          format: double
          example: 0.05
          x-fds-sdf: dist_new_term
          x-fds-dh: DIST_RATIO_TERM_NEW
        distInstFsymId:
          description: Parent Spin-Off for a company
          type: string
          example: RGW4H5-S
          x-fds-sdf: dist_inst_fsym_id
          x-fds-dh: DIST_INST_ID
        shortDesc:
          description: Textual description identifying the event.
          type: string
          example: 'Split (Mandatory): 3 for 1.'
          x-fds-sdf: short_desc
          x-fds-dh: EVENT_DESC_SHORT
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    returnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax50'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        frequency:
          $ref: '#/components/schemas/frequency'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
        - ids
        - startDate
    returnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returns'
    returns:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: >-
            FactSet Permanent Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix
            (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        totalReturn:
          description: Returns the data for the given input parameters.
          type: number
          format: double
          example: 0.927077
          nullable: true
        date:
          description: >-
            End date of the return. Date in YYYY-MM-DD format. Depending on
            Frequency and Calendar settings, this could represent the entire
            return period requested.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: >-
            Currency ISO code. For more details, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470).
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-global-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
  responses:
    '400':
      description: >-
        Bad Request. This can occur for several reasons. Please review the
        "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '401':
      description: >-
        Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting
        from. For more help, select the **Report Issue** in the top right corner
        of this Developer Portal specification card and choose Connectivity 401
        or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '403':
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '415':
      description: >-
        Unsupported Media Type. This error may be returned when the caller sends
        a resource in a format that is not accepted by the server. This can be
        fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  examples:
    DividendsFields:
      summary: Dividends Fields
      value:
        - currency
        - amtDefTradingAdj
        - taxRate
        - shortDesc
    SplitsFields:
      summary: Splits Fields
      value:
        - adjFactor
        - shortDesc
    DistributionsFields:
      summary: Distribtuions Fields
      value:
        - distPct
        - shortDesc
    GlobalPricesResponseAll:
      summary: >-
        Prices Response of all fields over 1 week period for two securities -
        FactSet (FDS-US) and Tesla (TSLA-US).
      value:
        data:
          - volume: 157303
            date: '2021-08-23'
            priceLow: 366.45
            tradeCount: 5865
            requestId: FDS-USA
            price: 366.61
            vwap: 368.351679
            fsymId: SQFMK3-R
            currency: USD
            priceOpen: 370.06
            priceHigh: 372.23
            turnover: 57958.674978
          - volume: 113627
            date: '2021-08-24'
            priceLow: 365.4659
            tradeCount: 4288
            requestId: FDS-USA
            price: 367.64
            vwap: 368.081635
            fsymId: SQFMK3-R
            currency: USD
            priceOpen: 366.5
            priceHigh: 370.1
            turnover: 41839.970284
          - volume: 195053
            date: '2021-08-25'
            priceLow: 370.11
            tradeCount: 5900
            requestId: FDS-USA
            price: 376
            vwap: 375.038196
            fsymId: SQFMK3-R
            currency: USD
            priceOpen: 375
            priceHigh: 376.3
            turnover: 73123.855946
          - volume: 124169
            date: '2021-08-26'
            priceLow: 373.12
            tradeCount: 6150
            requestId: FDS-USA
            price: 374.01
            vwap: 374.475431
            fsymId: SQFMK3-R
            currency: USD
            priceOpen: 375.55
            priceHigh: 375.78
            turnover: 46499.419473
          - volume: 148418
            date: '2021-08-27'
            priceLow: 373.01
            tradeCount: 4603
            requestId: FDS-USA
            price: 376.58
            vwap: 376.852769
            fsymId: SQFMK3-R
            currency: USD
            priceOpen: 375.56
            priceHigh: 379.83
            turnover: 55944.725964
          - volume: 4594319
            date: '2021-08-23'
            priceLow: 680.77
            tradeCount: 117486
            requestId: TSLA
            price: 706.3
            vwap: 703.466057
            fsymId: PTT03G-L
            currency: USD
            priceOpen: 685
            priceHigh: 712.06
            turnover: 3231982.61276
          - volume: 2749510
            date: '2021-08-24'
            priceLow: 702.68
            tradeCount: 77318
            requestId: TSLA
            price: 708.49
            vwap: 708.370904
            fsymId: PTT03G-L
            currency: USD
            priceOpen: 710.66
            priceHigh: 715.22
            turnover: 1947249.860375
          - volume: 2916454
            date: '2021-08-25'
            priceLow: 704.07
            tradeCount: 77972
            requestId: TSLA
            price: 711.2
            vwap: 711.720995
            fsymId: PTT03G-L
            currency: USD
            priceOpen: 706.73
            priceHigh: 716.9
            turnover: 2075838.531845
          - volume: 3044656
            date: '2021-08-26'
            priceLow: 697.68
            tradeCount: 89432
            requestId: TSLA
            price: 701.16
            vwap: 704.739009
            fsymId: PTT03G-L
            currency: USD
            priceOpen: 708.4
            priceHigh: 715.4
            turnover: 2146476.51359
          - volume: 3442269
            date: '2021-08-27'
            priceLow: 702.22
            tradeCount: 89171
            requestId: TSLA
            price: 711.92
            vwap: 710.596056
            fsymId: PTT03G-L
            currency: USD
            priceOpen: 705.41
            priceHigh: 714.99
            turnover: 2446231.2914
    GlobalPricesResponsePricesOnly:
      summary: >-
        Prices Reponse of FactSet (FDS-US) filtered to only return "price" field
        with dates.
      value:
        data:
          - date: '2021-08-23'
            requestId: FDS-USA
            price: 366.61
            fsymId: SQFMK3-R
            currency: USD
          - date: '2021-08-24'
            requestId: FDS-USA
            price: 367.64
            fsymId: SQFMK3-R
            currency: USD
          - date: '2021-08-25'
            requestId: FDS-USA
            price: 376
            fsymId: SQFMK3-R
            currency: USD
          - date: '2021-08-26'
            requestId: FDS-USA
            price: 374.01
            fsymId: SQFMK3-R
            currency: USD
          - date: '2021-08-27'
            requestId: FDS-USA
            price: 376.58
            fsymId: SQFMK3-R
            currency: USD
    OrdinaryDividends:
      summary: Ordinary Dividends (DVC)
      value:
        data:
          - fsymId: T0JRMW-R
            eventId: NQTVZK-A
            eventTypeCode: DVC
            eventTypeDesc: Dividend
            divTypeCode: '1'
            announcementDate: '2021-02-18'
            recordDate: '2021-04-21'
            payDate: '2021-04-20'
            effectiveDate: '2021-04-19'
            currency: CHF
            amtDefNetGrossIndicator: G
            amtDefTradingAdj: 2.75
            amtDefTradingUnadj: 2.75
            amtNetTradingAdj: 1.7875
            amtNetTradingUnadj: 1.7875
            amtGrossTradingAdj: 2.75
            amtGrossTradingUnadj: 2.75
            currencyDeclared: CHF
            amtDefDecAdj: 2.75
            amtDefDecUnadj: 2.75
            amtNetDecAdj: 1.7875
            amtNetDecUnadj: 1.7875
            amtGrossDecAdj: 2.75
            amtGrossDecUnadj: 2.75
            dividendsSpecFlag: 0
            taxRate: 35
            requestId: NESN-CH
          - fsymId: V5W2SX-R
            eventId: NQTVZK-A
            eventTypeCode: DVC
            eventTypeDesc: Dividend
            divTypeCode: '1'
            announcementDate: '2021-02-18'
            recordDate: '2021-04-21'
            payDate: '2021-04-20'
            effectiveDate: '2021-04-19'
            currency: USD
            amtDefNetGrossIndicator: G
            amtDefTradingAdj: 3.003987
            amtDefTradingUnadj: 3.003987
            amtNetTradingAdj: 1.952592
            amtNetTradingUnadj: 1.952592
            amtGrossTradingAdj: 3.003987
            amtGrossTradingUnadj: 3.003987
            currencyDeclared: CHF
            amtDefDecAdj: 2.75
            amtDefDecUnadj: 2.75
            amtNetDecAdj: 1.7875
            amtNetDecUnadj: 1.7875
            amtGrossDecAdj: 2.75
            amtGrossDecUnadj: 2.75
            dividendsSpecFlag: 0
            taxRate: 35
            requestId: V5W2SX-R
    DistributionsSpinoff:
      summary: Security Spin Offs
      value:
        data:
          - fsymId: WFJYTJ-R
            eventId: MGNWXJ-A
            eventTypeCode: SPO
            eventTypeDesc: Spin off
            announcementDate: null
            payDate: '2019-02-25'
            recordDate: '2019-02-14'
            effectiveDate: '2019-02-26'
            adjFactor: 0.961251
            adjFactorComnined: 0.961251
            amtDefTradingAdj: 0.41926
            amtDefTradingUnadj: 0.41926
            currency: USD
            distRatio: null
            distNewTerm: 0.005371
            distOldTerm: 1
            rightsIssueCurrency: null
            rightsIssuePrice: null
            shortDesc: >
              Spin off (Company): For every 1 share held of General Electric Co.
              (CUSIP: 369604103; SEDOL: 2380498), receive 0.005371 share of
              Wabtec Rg (CUSIP: 929740108; SEDOL: 2955733)
            requestId: GE-US
          - fsymId: JQZCQT-R
            eventId: MS6X2Y-A
            eventTypeCode: SPO
            eventTypeDesc: Spin off
            announcementDate: null
            payDate: null
            recordDate: null
            effectiveDate: '2018-03-27'
            adjFactor: 0.859805
            adjFactorComnined: 0.997374
            amtDefTradingAdj: 1.08634
            amtDefTradingUnadj: 1.08634
            currency: GBP
            distRatio: null
            distNewTerm: 1
            distOldTerm: 1
            rightsIssueCurrency: null
            rightsIssuePrice: null
            shortDesc: >
              Spin off: For every 1 share held of Great Portland Estates plc
              (CUSIP: G40712211; SEDOL: BF5H9P8), receive 1 share of Great
              Portland Estates PLC R.E.I.T.
            requestId: GPOR-GB
    DistributionsRights:
      summary: Rights Distributions
      value:
        data:
          - fsymId: B01HJ2-R
            eventId: HP3BNY-A
            eventTypeCode: DSR
            eventTypeDesc: Rights Issue
            announcementDate: null
            payDate: '2021-05-10'
            recordDate: '2021-04-08'
            effectiveDate: '2021-04-07'
            adjFactor: null
            adjFactorComnined: null
            amtDefTradingAdj: null
            amtDefTradingUnadj: null
            currency: null
            distRatio: null
            distNewTerm: 6
            distOldTerm: 1
            rightsIssueCurrency: AUD
            rightsIssuePrice: 0.005
            shortDesc: 1 new share @ 0.005 AUD for 6 existing shares
            requestId: '-US'
          - fsymId: B01HJ2-R
            eventId: HP3BNY-A
            eventTypeCode: DSR
            eventTypeDesc: Rights Issue
            announcementDate: null
            payDate: '2020-09-25'
            recordDate: '2020-08-31'
            effectiveDate: '2020-08-28'
            adjFactor: null
            adjFactorComnined: null
            amtDefTradingAdj: null
            amtDefTradingUnadj: null
            currency: null
            distRatio: null
            distNewTerm: null
            distOldTerm: null
            rightsIssueCurrency: AUD
            rightsIssuePrice: 0.05
            shortDesc: >-
              Rights Issue(Renounceable):  new share @ 0.05 AUD for  existing
              share
            requestId: GE-US
    SplitsForward:
      summary: Forward Split
      value:
        data:
          - fsymId: MH33D6-R
            eventId: W0QQDY-A
            eventTypeCode: FSP
            eventTypeDesc: Forward Split
            announcementDate: null
            recordDate: '2020-08-24'
            payDate: '2020-08-28'
            effectiveDate: '2020-08-31'
            adjustmentFactor: 0.25
            adjustmentFactorCombined: 0.25
            distRatioPercentRate: null
            distOldTerm: 1
            distNewTerm: 4
            rightsIssueCurrency: null
            rightsIssuePrice: null
            shortDesc: 'Forward Split(Mandatory): 4 for 1'
            requestId: AAPL-US
    SplitsBonus:
      summary: Bonus Issue
      value:
        data:
          - fsymId: MH33D6-R
            eventId: JPCPPX-A
            eventTypeCode: BNS
            eventTypeDesc: Bonus Issue
            announcementDate: null
            recordDate: '2014-06-02'
            payDate: '2014-06-06'
            effectiveDate: '2014-06-09'
            adjFactor: 0.142857
            adjFactorCombined: 0.142857
            distPct: null
            distOldTerm: 1
            distNewTerm: 6
            shortDesc: 'Bonus Issue: 6 new shares for 1 existing share'
            requestId: AAPL-US
    SplitsDividend:
      summary: Stock Dividend
      value:
        data:
          - fsymId: WFJYTJ-R
            eventId: VWSM82-A
            eventTypeCode: DVS
            eventTypeDesc: Stock Dividend
            announcementDate: null
            payDate: '2015-05-04'
            recordDate: '2015-04-02'
            effectiveDate: '2015-04-27'
            adjFactor: 0.997262
            adjFactorCombined: 0.997262
            distPct: 0.27455
            distOldTerm: null
            distNewTerm: null
            rightsIssueCurrency: null
            rightsIssuePrice: null
            shortDesc: 0.27455% Stock Dividend
            requestId: GOOG-US
    SplitsReverse:
      summary: Reverse Split
      value:
        data:
          - fsymId: JQZCQT-R-R
            eventId: N4HMGJ-A
            eventTypeCode: RSP
            eventTypeDesc: Reverse Split
            announcementDate: null
            payDate: '2018-03-27'
            recordDate: '2018-03-26'
            effectiveDate: '2018-03-27'
            adjFactor: 1.16
            adjFactorCombined: 0.997374
            distPct: null
            distOldTerm: 29
            distNewTerm: 25
            rightsIssueCurrency: null
            rightsIssuePrice: null
            shortDesc: 'Reverse Split(Mandatory): 25 for 29'
            requestId: GPOR-GB
    returnsResponseAll:
      summary: Return
      value:
        data:
          - fsymId: WFJYTJ-R
            date: '2019-10-03'
            currency: USD
            totalReturn: 0.927077
            requestId: GOOGL
          - fsymId: MH33D6-R
            date: '2019-10-03'
            currency: USD
            totalReturn: 1.782245
            requestId: AAPL
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: >-
        This bad request occurs when a request doesn't use the YYYY-MM-DD in the
        date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-global-prices/v1/{endpoint}
        message: >-
          The date parameter 'startDate' must be in the following date format:
          YYYY-MM-DD
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: >-
        This error message occurs when the request does not include the required
        parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-global-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: >-
        This error message occurs when a future date is requested in the
        startDate and endDate parameters. Please revise your request to include
        dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-global-prices/v1/{endpoint}
        message: >-
          The use of future dates is not applicable in this endpoint. Please
          revise your request to include dates up to today's current date.
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: >-
        This error message occurs when a request parameter is used in which is
        not recognized by the service. Please revise your request to include
        only the parameters listed in the specification. Typical causes are
        spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-global-prices/v1/{endpoint}
        message: >-
          Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
          modify your request to use parameters outlined in the specification
          for this endpoint.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: >-
        This error may be returned when the request body is specified as JSON,
        but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-global-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: >-
        This error may be returned if it takes more than 29 seconds to hear back
        from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-global-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: >-
        This occurs when a user is not properly authenticated or recognized by
        the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key.
        Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-global-prices/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-global-prices/v1/{endpoint}
        message: >-
          USERNAME-SERIAL does not have permission to use
          /factset-global-prices/v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: >-
        This bad request occurs when the media type passed in the request is not
        supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-global-prices/v1/{endpoint}
        message: >-
          text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: >-
        This error may be returned when the server encounters an error writing
        the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-global-prices/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: >-
        This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-global-prices/v1/{endpoint}
        message: Unexpected error
        subErrors: null
