openapi: 3.0.0
info:
  version: 1.13.0
  title: FactSet Formula API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: >

    **FactSet Formula API**


    FactSet's Formula API is a modern, flexible, formula-based API that enables
    users to access FactSet's wide range of financial data and content. The API
    offers two endpoints, one optimized for time-series analysis and one
    designed for cross-sectional analysis, providing users a simplified
    interface into FactSet's expansive offering. By providing two endpoints, it
    allows for the optimization of user workflows, while reducing complexity.


    Leverage the power and flexibility of the Formula API to -
      * Pull data from across most content sets that a user has access to in a single request
      * Include business logic and mathematical operations in request
      * Submit a dynamic universe in both endpoints
      * Return the fsymId to easily combine with other FactSet content / products
      * Set the trading calendar
      * Define custom display names

    **Formula API Request Builder**


    The Formula API Request Builder provides users everything they need to form
    a Formula API request. In the Request Builder, you can select identifiers,
    build a universe expression, select FQL or Screening formulas, easily apply
    business logic and mathematical functions to the FQL or Screening formulas,
    specify optional parameters, and construct a GET or POST request. The
    Request Builder eliminates the need to have previous FQL and Screening
    knowledge and allows you to quickly find your desired data items and form
    the request.


    The Formula API Request Builder can be accessed by navigating to
    [https://developer.factset.com/formula-api-request-builder](https://developer.factset.com/formula-api-request-builder)
    and logging in using your FactSet.net ID. When using the Request Builder to
    construct requests for the one of the Formula API's endpoints, be sure to
    toggle to the correct endpoint at the top of the page.


    **How to Check the Health and Availability of the Formula API**


    Please use the below endpoint to check the health and availability of the
    Formula API. You must be authorized for this API to use the Health endpoint.


    [https://api.factset.com/formula-api/health](https://api.factset.com/formula-api/health)


    **How to Programmatically Download API Specification File**


    You can download the FactSet Formula API Specification File in .yaml. using
    the "Download Spec" button to the right of the version number. This
    specification can then be used for Codegen to create your own SDKs.
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/formula-api
servers:
  - description: Production
    url: https://api.factset.com/formula-api/v1
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
tags:
  - name: Time-Series
  - name: Cross-Sectional
  - name: Batch Processing
x-factset-sdk-has-main-example: true
paths:
  /time-series:
    get:
      x-factset-sdk-ignore: true
      summary: >-
        Retrieve data items (FQL formulas) for a list of identifiers or defined
        universe.
      description: >
        The `/time-series` endpoint is closely aligned with FactSet's powerful
        data retrieval language **FactSet Query Language (FQL)** which is
        optimized for time-series analysis. FQL can also perform sophisticated
        statistical, mathematical, logical, and other complex operations on the
        data.

          This endpoint has a unique **TIMESERIES** data object that pairs the requested data with FactSet provided dates. This helps reduce the need for additional data requests and reduces the work required by users.

        The `/time-series` endpoint supports Long Running asynchronous requests
        up to **30 minutes** via the `batch` parameter. *This feature is
        available to Individual Users subscribed to the Performance Package and
        Performance Package Plus Performance Tiers and all Production Users. If
        you are unsure which Performance Tier you are subscribed to or you would
        like to gain access to the batch capabilities, please contact your
        FactSet Account Team or "Report Issue" above and our support teams can
        assist.*
      tags:
        - Time-Series
      operationId: getTimeSeriesData
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/symbolType'
        - $ref: '#/components/parameters/universe'
        - $ref: '#/components/parameters/universeType_time_series'
        - $ref: '#/components/parameters/universeExclusion'
        - $ref: '#/components/parameters/formulas_time_series'
        - $ref: '#/components/parameters/calendar_time_series'
        - $ref: '#/components/parameters/fsymId_time_series'
        - $ref: '#/components/parameters/displayName_time_series'
        - $ref: '#/components/parameters/flatten_time_series'
        - $ref: '#/components/parameters/dates_time_series'
        - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: >-
            Gets an array of `Response Objects` for a list of IDs and FQL
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
              examples:
                Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Single Id and Single Data Item with fsymId=Y:
                  $ref: '#/components/examples/time-series-singleId-singleItem-fsymId'
                Multiple Ids and Multiple Data Items with SEVENDAY Calendar:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem'
                Multiple Ids and Multiple Data Items with flatten=Y:
                  $ref: >-
                    #/components/examples/time-series-multipleId-multipleItem-flatten
                Multiple Ids and Multiple Calculated Data Items:
                  $ref: >-
                    #/components/examples/time-series-multipleId-multipleCalculatedItem
                Small Universe and Single Data Item:
                  $ref: '#/components/examples/time-series-smallUniv-singleItem'
                Debt Universe and Multiple Data Items:
                  $ref: '#/components/examples/time-series-debtUniv-multipleItem'
        '202':
          description: Batch request has been accepted.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      x-factset-different-success-responses: true
    post:
      x-factset-sdk-main-example: true
      summary: >-
        Retrieve data items (FQL formulas) for a list of identifiers or defined
        universe.
      description: >
        The `/time-series` endpoint is closely aligned with FactSet's powerful
        data retrieval language **FactSet Query Language (FQL)** which is
        optimized for time-series analysis. FQL can also perform sophisticated
        statistical, mathematical, logical, and other complex operations on the
        data.

          This endpoint has a unique **TIMESERIES** data object that pairs the requested data with FactSet provided dates. This helps reduce the need for additional data requests and reduces the work required by users.

        The `/time-series` endpoint supports Long Running asynchronous requests
        up to **30 minutes** via the `batch` parameter. *This feature is
        available to Individual Users subscribed to the Performance Package and
        Performance Package Plus Performance Tiers and all Production Users. If
        you are unsure which Performance Tier you are subscribed to or you would
        like to gain access to the batch capabilities, please contact your
        FactSet Account Team or "Report Issue" above and our support teams can
        assist.*
      tags:
        - Time-Series
      operationId: getTimeSeriesDataForList
      responses:
        '200':
          description: >-
            Gets an array of `Response Objects` for a list of IDs and FQL
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
              examples:
                Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Single Id and Single Data Item with fsymId=Y:
                  $ref: '#/components/examples/time-series-singleId-singleItem-fsymId'
                Multiple Ids and Multiple Data Items with SEVENDAY Calendar:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem'
                Multiple Ids and Multiple Data Items with flatten=Y:
                  $ref: >-
                    #/components/examples/time-series-multipleId-multipleItem-flatten
                Multiple Ids and Multiple Calculated Data Items:
                  $ref: >-
                    #/components/examples/time-series-multipleId-multipleCalculatedItem
                Small Universe and Single Data Item:
                  $ref: '#/components/examples/time-series-smallUniv-singleItem'
                Debt Universe and Multiple Data Items:
                  $ref: '#/components/examples/time-series-debtUniv-multipleItem'
        '202':
          description: Batch request has been accepted.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      requestBody:
        $ref: '#/components/requestBodies/time-series-postBody'
      x-factset-different-success-responses: true
  /cross-sectional:
    get:
      x-factset-sdk-ignore: true
      summary: >-
        Retrieve data items (Screening formulas) for a list of identifiers or
        defined universe.
      description: >
        The `/cross-sectional` endpoint is closely aligned with FactSet's
        powerful data retrieval **Screening language** which is optimized for
        analysis of data items at single point in time for different entities
        and is extremely efficient for large universes.



        The `/cross-sectional` endpoint supports Long Running asynchronous
        requests up to **30 minutes** via the `batch` parameter. *This feature
        is available to Individual Users subscribed to the Performance Package
        and Performance Package Plus Performance Tiers and all Production Users.
        If you are unsure which Performance Tier you are subscribed to or you
        would like to gain access to the batch capabilities, please contact your
        FactSet Account Team or "Report Issue" above and our support teams can
        assist.*


        ***


        ### Iterated Cross-Sectional Functionality



        This endpoint supports the ability to automatically iterate through
        different cross sections over time. The **Iterated Cross-Sectional
        Functionality (ICSF)** expands the Cross-Sectional endpoint to support
        retrieving data items for *multiple dates*, allowing users to take
        advantage of the Screening engine's efficiency even when history is
        required. 



        Use the parameters `startDate`, `endDate`, and `frequency` in the
        Cross-Sectional endpoint to provide your desired dates. Specify "0" in
        date argument of the Screening formulas provided in the formulas
        parameter and/or the universe parameter. Lastly, the Iterated
        Cross-Sectional Functionality is required to run as a `batch` request.
        Therefore, the batch parameter must be set to "Y". 



        Access to backtesting and batch functionality is required to leverage
        the Iterated Cross-Sectional Functionality. 


        **When to use ICSF:**


        The ICSF can offer better performance than Time-Series requests when the
        date range is relatively small, and so it is recommended to use ICSF if
        the number of IDs requested is greater than the number of dates. If the
        number of dates is greater than the number of IDs in the request, it is
        recommended to use Time-Series.


        *Note: This is a general rule of thumb and performance may vary
        depending on the formulas in use.*
      tags:
        - Cross-Sectional
      operationId: getCrossSectionalData
      parameters:
        - $ref: '#/components/parameters/ids'
        - $ref: '#/components/parameters/symbolType'
        - $ref: '#/components/parameters/universe'
        - $ref: '#/components/parameters/universeType_cross_sectional'
        - $ref: '#/components/parameters/universeExclusion'
        - $ref: '#/components/parameters/formulas_cross_sectional'
        - $ref: '#/components/parameters/backTestDate'
        - $ref: '#/components/parameters/calendar_cross_sectional'
        - $ref: '#/components/parameters/fsymId_cross_sectional'
        - $ref: '#/components/parameters/displayName_cross_sectional'
        - $ref: '#/components/parameters/flatten_cross_sectional'
        - $ref: '#/components/parameters/batch'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/frequency'
      responses:
        '200':
          description: >-
            Gets an array of `Response Objects` for a list of IDs and Screening
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossSectionalResponse'
              examples:
                Single Equity Id and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
                Single Equity Id and Single Equity Data Item with fsymId=Y:
                  $ref: >-
                    #/components/examples/cross-sectional-singleId-singleItem-fsymId
                Multiple Equity Ids and Multiple Equity Data Items:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleId-multipleItem
                Multiple Equity Ids and Multiple Equity Data Items with flatten=Y:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleId-multipleItem-flatten
                Multiple Equity Ids and Multiple Calculated Equity Data Items:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleId-multipleCalculatedItem
                Multiple Fixed Income Ids and Multiple Fixed Income Data Items:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleFixedIncomeId-multipleItem
                Small Equity Universe and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-smallUniv-singleItem'
                Debt Universe and Multiple Debt Data Items:
                  $ref: '#/components/examples/cross-sectional-debtUniv-multipleItem'
                Single ID and Multiple dates using ICSF with flatten = N:
                  $ref: >-
                    #/components/examples/cross-sectional-ICSF-singleItem-nonflatten
                Multiple IDs and Multiple dates using ICSF with flatten = Y:
                  $ref: >-
                    #/components/examples/cross-sectional-ICSF-multipleItem-Flatten
        '202':
          description: Batch request has been accepted.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      x-factset-different-success-responses: true
    post:
      summary: >-
        Retrieve data items (Screening formulas) for a list of identifiers or
        defined universe.
      description: >
        The `/cross-sectional` endpoint is closely aligned with FactSet's
        powerful data retrieval **Screening language** which is optimized for
        analysis of data items at single point in time for different entities
        and is extremely efficient for large universes.



        The `/cross-sectional` endpoint supports Long Running asynchronous
        requests up to **30 minutes** via the `batch` parameter. *This feature
        is available to Individual Users subscribed to the Performance Package
        and Performance Package Plus Performance Tiers and all Production Users.
        If you are unsure which Performance Tier you are subscribed to or you
        would like to gain access to the batch capabilities, please contact your
        FactSet Account Team or "Report Issue" above and our support teams can
        assist.*


        ***


        ### Iterated Cross-Sectional Functionality



        This endpoint supports the ability to automatically iterate through
        different cross sections over time. The **Iterated Cross-Sectional
        Functionality (ICSF)** expands the Cross-Sectional endpoint to support
        retrieving data items for *multiple dates*, allowing users to take
        advantage of the Screening engine's efficiency even when history is
        required. 



        Use the parameters `startDate`, `endDate`, and `frequency` in the
        Cross-Sectional endpoint to provide your desired dates. Specify "0" in
        date argument of the Screening formulas provided in the formulas
        parameter and/or the universe parameter. Lastly, the Iterated
        Cross-Sectional Functionality is required to run as a `batch` request.
        Therefore, the batch parameter must be set to "Y". 



        Access to backtesting and batch functionality is required to leverage
        the Iterated Cross-Sectional Functionality. 


        **When to use ICSF:**


        The ICSF can offer better performance than Time-Series requests when the
        date range is relatively small, and so it is recommended to use ICSF if
        the number of IDs requested is greater than the number of dates. If the
        number of dates is greater than the number of IDs in the request, it is
        recommended to use Time-Series. 


        *Note: This is a general rule of thumb and performance may vary
        depending on the formulas in use.*
      tags:
        - Cross-Sectional
      operationId: getCrossSectionalDataForList
      responses:
        '200':
          description: >-
            Gets an array of `Response Objects` for a list of IDs and Screening
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossSectionalResponse'
              examples:
                Single Equity Id and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
                Single Equity Id and Single Equity Data Item with fsymId=Y:
                  $ref: >-
                    #/components/examples/cross-sectional-singleId-singleItem-fsymId
                Multiple Equity Ids and Multiple Equity Data Items:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleId-multipleItem
                Multiple Equity Ids and Multiple Equity Data Items with flatten=Y:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleId-multipleItem-flatten
                Multiple Equity Ids and Multiple Calculated Equity Data Items:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleId-multipleCalculatedItem
                Multiple Fixed Income Ids and Multiple Fixed Income Data Items:
                  $ref: >-
                    #/components/examples/cross-sectional-multipleFixedIncomeId-multipleItem
                Small Equity Universe and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-smallUniv-singleItem'
                Debt Universe and Multiple Debt Data Items:
                  $ref: '#/components/examples/cross-sectional-debtUniv-multipleItem'
                Single ID and Multiple dates using ICSF with flatten = N:
                  $ref: >-
                    #/components/examples/cross-sectional-ICSF-singleItem-nonflatten
                Multiple IDs and Multiple dates using ICSF with flatten = Y:
                  $ref: >-
                    #/components/examples/cross-sectional-ICSF-multipleItem-Flatten
        '202':
          description: Batch request has been accepted.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      requestBody:
        $ref: '#/components/requestBodies/cross-sectional-postBody'
      x-factset-different-success-responses: true
  /batch-status:
    get:
      summary: Returns the status for a Batch Request
      description: >
        Return the status for the underlying batch request that is specified by
        the id.

          The Formula API supports Long Running asynchronous requests up to **30 minutes** via the `batch` parameter for both the `/time-series` and `/cross-sectional` endpoint.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      tags:
        - Batch Processing
      operationId: getBatchStatus
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: Batch Request has been completed and the response has been created.
          headers:
            Location:
              description: URL to pick up results of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-result?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed - Timeout:
                  $ref: '#/components/examples/BatchStatusFailedResponseTimeout'
                Batch Status Failed - Memory Limit:
                  $ref: '#/components/examples/BatchStatusFailedResponseMemoryLimit'
                Batch Status Failed - Other:
                  $ref: '#/components/examples/BatchStatusFailedResponseOther'
                Batch Status Canceled:
                  $ref: '#/components/examples/BatchStatusCanceled'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
    post:
      x-factset-sdk-ignore: true
      summary: Returns the status for a Batch Request
      description: >
        Return the status for the underlying batch request that is specified by
        the id.

          The Formula API supports Long Running asynchronous requests up to **30 minutes** via the `batch` parameter for both the `/time-series` and `/cross-sectional` endpoint.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      tags:
        - Batch Processing
      operationId: getBatchStatusWithPost
      responses:
        '201':
          description: Batch Request has been completed and the response has been created.
          headers:
            Location:
              description: URL to pick up results of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-result?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed - Timeout:
                  $ref: '#/components/examples/BatchStatusFailedResponseTimeout'
                Batch Status Failed - Memory Limit:
                  $ref: '#/components/examples/BatchStatusFailedResponseMemoryLimit'
                Batch Status Failed - Other:
                  $ref: '#/components/examples/BatchStatusFailedResponseOther'
                Batch Status Canceled:
                  $ref: '#/components/examples/BatchStatusCanceled'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      requestBody:
        $ref: '#/components/requestBodies/batch-status-postBody'
  /batch-result:
    get:
      summary: Returns the response for a Batch Request
      description: >
        Returns the response data for the underlying batch request that is
        specified by the id.

          The Formula API supports Long Running asynchronous requests up to **30 minutes** via the `batch` parameter for both the `/time-series` and `/cross-sectional` endpoint. All batch requests expire within 48 hours of completion.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      tags:
        - Batch Processing
      operationId: getBatchData
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: >-
            Request Response Object when batch request has completed and
            response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
              examples:
                Time-Series Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Cross-Sectional Single Id and Single Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchResultQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchResultExecutingResponse'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      x-factset-different-success-responses: true
    post:
      summary: Returns the response for a Batch Request
      description: >
        Returns the response data for the underlying batch request that is
        specified by the id.

          The Formula API supports Long Running asynchronous requests up to **30 minutes** via the `batch` parameter for both the `/time-series` and `/cross-sectional` endpoint. All batch requests expire within 48 hours of completion.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      tags:
        - Batch Processing
      operationId: getBatchDataWithPost
      responses:
        '200':
          description: >-
            Request Response Object when batch request has completed and
            response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
              examples:
                Time-Series Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Cross-Sectional Single Id and Single Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          headers:
            Location:
              description: URL to poll for status of batch request.
              schema:
                type: string
                example: >-
                  https://api.factset.com/formula-api/v1/batch-status?id=d5ec1564-08d4-11ef-bdfc-9e836b3b5a9a
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchResultQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchResultExecutingResponse'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      requestBody:
        $ref: '#/components/requestBodies/batch-result-postBody'
      x-factset-different-success-responses: true
  /batch-list:
    get:
      summary: Returns a list of all available Batch Requests submitted by a user
      description: >
        Return a list of all batch requests submitted by a user that have not
        yet expired. The `/batch-list` endpoint will return the batch `id`,
        `status`, `error`, and `expiration` for all ongoing or unexpired batch
        requests. All batch requests expire within 48 hours of completion. 

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      tags:
        - Batch Processing
      operationId: getBatchList
      responses:
        '200':
          description: Batch List Example
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
              examples:
                Batch List Response:
                  $ref: '#/components/examples/BatchListResult'
                Batch List Empty:
                  $ref: '#/components/examples/BatchListEmpty'
  /batch-cancel:
    delete:
      summary: Cancels individual ongoing Batch Request
      description: >
        Cancel individual batch requests that are specified by the id via the
        `/batch-cancel` endpoint. The batch request cannot be canceled if it has
        already completed processing or if it has failed. Canceling a batch
        request releases a concurrency slot, allowing users to initiate a new
        batch request immediately.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      tags:
        - Batch Processing
      operationId: cancelBatchJob
      parameters:
        - $ref: '#/components/parameters/batchId'
      responses:
        '204':
          description: No Content. The Batch Request has been canceled successfully.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-FactSet-Api-Units-Limit:
              $ref: '#/components/headers/X-FactSet-Api-Units-Limit'
            X-FactSet-Api-Units-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-Units-Remaining'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01T11:09:41.918Z'
        '409':
          description: Batch Request cannot be cancelled.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetail'
              example:
                id: 66620293292EC1C3
                code: BatchCancelDenied
                title: >-
                  The batch request cannot be canceled because it has either
                  already completed, failed, or been previously canceled.
                timestamp: '2024-06-06T18:40:19.669Z'
      deprecated: false
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    ids:
      name: ids
      description: >
        List of entity identifiers. This request value is sent back in the
        response as the field *requestId*. By default, accepted symbol types
        include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.
        Use the `symbolType` parameter to submit other supported third-party
        identifier types.


        The `ids` and `universe` parameters provide two different ways to
        specify the identifiers for which you want data retrieved. Please enter
        either the `ids` or `universe` parameter.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: FDS-US
      explode: false
      examples:
        singleId:
          summary: Single id
          value:
            - IBM
        multipleIds:
          summary: Multiple ids
          value:
            - IBM
            - AAPL
            - MSFT
    symbolType:
      name: symbolType
      in: query
      description: >
        Specify the type of symbols submitted in the `ids` parameter. This is
        only required when submitting ids that are not supported by default. 

        <br/><br/>

        Available symbol types -

        <br/>

        * DEFAULT - Accepted symbol types include Market Tickers, SEDOLs, ISINs,
        CUSIPs, or FactSet Permanent Ids.

        <br/>

        * BLOOMBERG - Accepted symbol types include Bloomberg Tickers and
        Bloomberg FIGIs. 
          * When submitting Bloomberg symbols, the Bloomberg symbol is translated to a FactSet Permanent Identifier which is then used to retrieve the requested FQL and Screening formulas. The Bloomberg symbol submitted will be returned in the response in the field *requestId*. To see the FactSet Permanent Identifer that the Bloomberg symbol resolved to, use the `fsymId` parameter in addition to the `symbolType` parameter.
          * Bloomberg symbols can not be submitted with other symbol types. 
        <br/>

        Bloomberg Symbol Resolution is included with the Individual User
        subscription. Users with a Production User subscription require
        additional access to submit Bloomberg symbols. If you would like to gain
        access to Bloomberg Symbol Resolution, please contact your FactSet
        Account Team or "Report Issue" above and our support teams can assist.
      required: false
      schema:
        type: string
        nullable: true
        enum:
          - DEFAULT
          - BLOOMBERG
          - null
        default: DEFAULT
        example: DEFAULT
      explode: false
    universe:
      name: universe
      description: |
        Screening expression to limit the universe

        Please enter either the `ids` or `universe` parameter.
      in: query
      required: false
      schema:
        type: string
      explode: false
      examples:
        noUniverse:
          summary: '---'
          value: ''
        oneCriteria:
          summary: Equity Universe - S&P 500 Constituents
          value: FG_CONSTITUENTS(SP50,0,CLOSE)
        twoCriteria:
          summary: Equity Universe -  S&P 500 Constituents with Price < 10 USD
          value: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
        debtUniverse:
          summary: Debt Universe - Starbucks Debt
          description: >
            The issuer name and amount out for all debt instruments for the
            Starbucks Corporation


            To calculate fixed income universe, `universeType` must be set to
            **DEBT**.
          value: EQUITY(P_SYMBOL)='SBUX-US'
    universeType_time_series:
      name: universeType
      in: query
      description: >
        Specify the universe type to calculate the `universe` in.


        Find documentation below on how to build a screen for each universe type
        -

        * Equity Screen - [Online Assistant Page
        20606](https://my.apps.factset.com/oa/pages/20606)


        * Debt Screen - [Online Assistant Page
        20888](https://my.apps.factset.com/oa/pages/20888)


        * Fund Screen - [Online Assistant Page
        21384](https://my.apps.factset.com/oa/pages/21384)


        This parameter may only be used in conjunction with the `universe`
        parameter.
      required: false
      schema:
        type: string
        enum:
          - EQUITY
          - DEBT
          - FUND
        default: EQUITY
        example: EQUITY
      explode: false
    universeType_cross_sectional:
      name: universeType
      in: query
      description: >
        Specify the universe type to calculate the `universe` in.


        Find documentation below on how to build a screen for each universe type
        -

        * Equity Screen - [Online Assistant Page
        20606](https://my.apps.factset.com/oa/pages/20606)


        * Debt Screen - [Online Assistant Page
        20888](https://my.apps.factset.com/oa/pages/20888)


        * Fund Screen - [Online Assistant Page
        21384](https://my.apps.factset.com/oa/pages/21384)
      required: false
      schema:
        type: string
        enum:
          - EQUITY
          - DEBT
          - FUND
        default: EQUITY
        example: EQUITY
      explode: false
    formulas_time_series:
      name: formulas
      description: List of FQL formulas
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
          example: P_PRICE(0,-2,D)
      explode: false
      examples:
        singleItem:
          summary: Single Data Item
          value:
            - P_PRICE(0)
        multipleItems:
          summary: Multiple Data Items
          value:
            - P_PRICE(0,-2,D)
            - FG_COMPANY_NAME
            - FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
            - FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
        multipleItemsFlatten:
          summary: Multiple TIMESERIES Data Items
          value:
            - P_PRICE_OPEN(0,-2,D)
            - P_PRICE(0,-2,D)
            - FG_COMPANY_NAME
        debtDataItems:
          summary: Multiple Debt Data Items
          value:
            - FI_NAME(ISSR)
            - FI_AMOUNT_OUT(AMT,0,USD)
        calculatedDataItems:
          summary: Multiple Calculated Data Items
          description: >
            These data items showcase the ability to include logic, mathematical
            operations, and other functions in the request itself.


            The first data item using the division operator to calculate a P/E
            ratio from the last trading day of the company's most recent fiscal
            year.


            The second data item uses the addition operator to calculate
            percentage of revenue exposure in the US and Japan for the same date
            as the first data item. Note that due to URI defintion of the plus
            sign, the **+** symbol must be URL percent encoded as **%2B** in GET
            requests. This means you should use **%2B** in place of the symbol
            **+** in the request.


            The third data item uses the average function (**AVG**) and the
            **IF** function to indicate whether the average daily price change
            over the company's most recent fiscal year is postive or negative.


            You can find more information about the different functions you can
            use in FQL at the following Online Assistant pages -

            * Mathematical Operators - [Online Assistant Page
            10600](https://my.apps.factset.com/oa/pages/10600)

            * Logical Functions - [Online Assistant Page
            11485](https://my.apps.factset.com/oa/pages/1485)

            * Categorical List of All Functions - [Online Assistant Page
            1411](https://my.apps.factset.com/oa/pages/1411)
          value:
            - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
            - >-
              FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)%2BFF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
            - IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
    formulas_cross_sectional:
      name: formulas
      description: List of Screening formulas
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
      examples:
        singleItem:
          summary: Single Equity Data Item
          value:
            - P_PRICE(0)
        multipleItems:
          summary: Multiple Equity Data Items
          value:
            - FF_SALES(ANN_R,0)
            - PROPER_NAME(0,SECURITY,NAME)
            - P_PRICE(0)
            - FF_ASSETS(ANN_R,0)
        calculatedItems:
          summary: Multiple Calculated Data Items
          description: >
            These data items showcase the ability to include logic, mathematical
            operations, and other functions in the request itself.


            The first data item using the division operator to calculate a P/E
            ratio from the last trading day of the company's most recent fiscal
            year.


            The second data item uses the addition operator to calculate
            percentage of revenue exposure in the US and Japan for the same date
            as the first data item. Note that due to URI defintion of the plus
            sign, the **+** symbol must be URL percent encoded as **%2B** in GET
            requests. This means you should use **%2B** in place of the symbol
            **+** in the request.


            The third data item uses the **IF** function and greater than
            operator (**>**) to indicate whether the latest fiscal year's sales
            were higher or lower than the previous year's sales.


            You can find more information about the different functions you can
            use in FQL at the following Online Assistant pages -

            * Mathematical Operators - [Online Assistant Page
            10600](https://my.apps.factset.com/oa/pages/10600)

            * Logical Functions - [Online Assistant Page
            11485](https://my.apps.factset.com/oa/pages/1485)

            * Categorical List of All Functions - [Online Assistant Page
            1411](https://my.apps.factset.com/oa/pages/1411)
          value:
            - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
            - >-
              FF_GEOREV_COUNTRY_PCT(840,ANN,0,RF)%2BFF_GEOREV_COUNTRY_PCT(392,ANN,0,RF)
            - IF(FF_SALES(ANN_R,0)>FF_SALES(ANN_R,-1),"HIGHER","LOWER")
        multipleFixedIncomeItems:
          summary: Multiple Fixed Income Data Items
          description: >
            To retrieve fixed income data, `universeType` must be set to
            **DEBT**.
          value:
            - FI_NAME(ISSR)
            - FI_AMOUNT_OUT(AMT,0,USD)
    backTestDate:
      name: backTestDate
      description: >
        Specify the backtest date either in **YYYY-MM-DD**, **YYYYMMDD** or
        **MM/DD/YYYY** format.


        To learn more about backtesting, please visit [Online Assistant Page
        20610](https://my.apps.factset.com/oa/pages/20610#backtest). User must
        have access to backtesting functionality.
      in: query
      required: false
      schema:
        type: string
        example: '2020-06-01'
      explode: false
    calendar_time_series:
      name: calendar
      in: query
      schema:
        type: string
      description: >-
        Calendar of data returned. The default value is FIVEDAY which displays
        Monday through Friday, regardless of whether there were trading
        holidays.
      required: false
      examples:
        fiveday:
          summary: FIVEDAY
          description: >-
            Displays Monday through Friday, regardless of whether there were
            trading holidays. This is the default for `calendar`.
          value: FIVEDAY
        sevenday:
          summary: SEVENDAY
          description: Displays Monday through Sunday.
          value: SEVENDAY
        local:
          summary: LOCAL
          description: >-
            Uses the local trading calendar for each security. Local exchange
            holidays will be skipped.
          value: LOCAL
        region:
          summary: Region Specific
          description: >-
            The calendar of a specific region. The example shown here 'NAY' is
            for the UNITED STATES calendar. You can find the calendar codes for
            regions on [Online Assistant Page
            16610](https://my.apps.factset.com/oa/pages/16610#country).
          value: NAY
    calendar_cross_sectional:
      name: calendar
      in: query
      schema:
        type: string
      description: >-
        Calendar of data returned. The default value is FIVEDAY which displays
        Monday through Friday, regardless of whether there were trading
        holidays.
      required: false
      examples:
        fiveday:
          summary: FIVEDAY
          description: >-
            Displays Monday through Friday, regardless of whether there were
            trading holidays. This is the default for `calendar`.
          value: FIVEDAY
        sevenday:
          summary: SEVENDAY
          description: Displays Monday through Sunday.
          value: SEVENDAY
        region:
          summary: Region Specific
          description: >-
            The calendar of a specific region. The example shown here 'NAY' is
            for the UNITED STATES calendar. You can find the calendar codes for
            regions on [Online Assistant Page
            16610](https://my.apps.factset.com/oa/pages/16610#country).
          value: NAY
    fsymId_time_series:
      name: fsymId
      description: >
        Specify **Y** for the `fsymId` parameter to return the **fsymId**
        (FactSet Default Permanent Identifier) of the `requestId`, in addition
        to the **requestId** field, in each response object. The default value
        for the `fsymId` parameter is **N**.


        The **fsymId** field returned is the FactSet Default Permanent
        Identifier for the `requestId`. For all supported `requestId` symbol
        types, the `fsymId` parameter will return the Regional Level PermId '-R'
        which identifies the security's best regional security data series per
        currency. Currently, the fsymId parameter only supports equities.
        Accepted `requestId` symbol types include all FactSet Permanent
        Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further
        documentation can be found at this [Online Assistant
        attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).
      in: query
      required: false
      schema:
        type: string
        nullable: true
        enum:
          - 'Y'
          - 'N'
          - null
        default: 'N'
        example: 'N'
      explode: false
    fsymId_cross_sectional:
      name: fsymId
      description: >
        Specify **Y** for `fsymId` to return an additional response object
        containing the data

        item **fsymId** which will contain the fsymIds of the requestIds. This
        is in addition to the

        response object containing the data item **requestId**. The default
        value for `fsymId`

        is **N**.


        The **fsymId** field returned is the FactSet Default Permanent
        Identifier for the `requestId`. For all supported `requestId` symbol
        types, the `fsymId` parameter will return the Regional Level PermId '-R'
        which identifies the security's best regional security data series per
        currency. Currently, the fsymId parameter only supports equities.
        Accepted `requestId` symbol types include all FactSet Permanent
        Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further
        documentation can be found at this [Online Assistant
        attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).
      in: query
      required: false
      schema:
        type: string
        nullable: true
        enum:
          - 'Y'
          - 'N'
          - null
        default: 'N'
        example: 'N'
      explode: false
    displayName_time_series:
      name: displayName
      description: >
        Define display names for the formulas inputted. Enter the list of
        display names in the same order as the formulas inputted. An additional
        field **displayName** will be returned in the data object for a formula.


        If the number of display names does not match the number of formulas
        provided, an error will be returned.


        To define the display name for a subset of the formulas, leave a blank
        in the position of the formula that won't be renamed. For example - If
        three formulas are inputted, to define display names only for the first
        and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The
        **displayName** field will still be included in that formula, but will
        contain the formula as inputted.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: PRICE
      explode: false
      examples:
        noNames:
          value: []
          summary: '---'
        singleItem:
          summary: Single Data Item
          value:
            - PRICE
        multipleItems:
          summary: Multiple Data Items
          value:
            - PRICE
            - COMPANY NAME
            - BUSINESS SEGMENT
            - SALES SEGMENT
    displayName_cross_sectional:
      name: displayName
      description: >
        Define display names for the formulas inputted. Enter the list of
        display names in the same order as the formulas inputted. An additional
        field **displayName** will be returned in the data object for a formula.


        If the number of display names does not match the number of formulas
        provided, an error will be returned.


        To define the display name for a subset of the formulas, leave a blank
        in the position of the formula that won't be renamed. For example - If
        three formulas are inputted, to define display names only for the first
        and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The
        **displayName** field will still be included in that formula, but will
        contain the formula as inputted.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: PRICE
      explode: false
      examples:
        noNames:
          value: []
          summary: '---'
        singleItem:
          summary: Single Data Item
          value:
            - PRICE
        multipleItems:
          summary: Multiple Data Items
          value:
            - SALES
            - COMPANY NAME
            - PRICE
            - ASSETS
    flatten_time_series:
      name: flatten
      description: >
        Specify **Y** for `flatten` to return a flat, table-like JSON response
        model instead of the standard nested JSON response model. This option is
        provided for easier data processing and visualization. The default value
        for `flatten` is **N**.


        See the **Time-Series Result Object Flattened** schema for more detail
        on the response structure for flattened output.
      in: query
      required: false
      schema:
        type: string
        nullable: true
        enum:
          - 'Y'
          - 'N'
          - null
        default: 'N'
        example: 'N'
      explode: false
    flatten_cross_sectional:
      name: flatten
      description: >
        Specify **Y** for `flatten` to return a flat, table-like JSON response
        model instead of the standard nested JSON response model. This option is
        provided for easier data processing and visualization. The default value
        for `flatten` is **N**.


        See the **Cross-Sectional Result Object Flattened** schema for more
        detail on the response structure for flattened output.
      in: query
      required: false
      schema:
        type: string
        nullable: true
        enum:
          - 'Y'
          - 'N'
          - null
        default: 'N'
        example: 'N'
      explode: false
    dates_time_series:
      name: dates
      description: >
        Specify **N** for the `dates` parameter to suppress the **dates** of the
        response. The default value for the `dates` parameter is **Y**. Setting
        the parameter to **Y** will only return dates if the formula has a date
        value associated with it.


        In the non-flattened response model, setting dates to **N** will remove
        the "dates" array from the TIMESERIES objectType, meaning that the
        results will be returned as an ARRAY objectType.


        In the flattened response mode, setting dates to **N** will remove the
        "dates" attribute from the response objects. The flatten parameter first
        attempts to flatten the response by dates. Removing the dates can make
        it easier to align multiple data items when the date definition differs
        from the desired alignment.
      in: query
      required: false
      schema:
        type: string
        nullable: true
        enum:
          - 'Y'
          - 'N'
          - null
        default: 'Y'
        example: 'Y'
      explode: false
    batch:
      name: batch
      in: query
      description: >
        Enables the ability to asynchronously "batch" the request,  supporting a
        long-running request up to **30 minutes**. Upon requesting batch=Y, the
        service will respond back with an HTTP Status Code of 202.


        Individual users are allowed 5 concurrent Batch Requests, while
        Production users are allowed 10 concurrent Batch Requests.

        *This feature is available to Individual Users subscribed to the
        Performance Package and Performance Package Plus Performance Tiers and
        all Production Users. If you are unsure which Performance Tier you are
        subscribed to or you would like to gain access to the batch
        capabilities, please contact your FactSet Account Team or "Report Issue"
        above and our support teams can assist.*


        Once a batch request is submitted, use `/batch-status` to see if the job
        has completed. Once completed, retrieve the results of the request via
        `/batch-result`. See the endpoints listed under *Batch Processing* for
        more information.
      schema:
        type: string
        nullable: true
        enum:
          - 'Y'
          - 'N'
          - null
        default: 'N'
    batchId:
      name: id
      in: query
      description: Batch Request identifier.
      schema:
        type: string
        format: uuid
        example: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
      required: true
      allowEmptyValue: false
    startDate:
      name: startDate
      description: >-
        Specify the start date for running the Iterated Cross Sectional
        Functionality request either in **YYYY-MM-DD**, **YYYYMMDD** or
        **MM/DD/YYYY** format.

        User must have access to backtesting functionality.
      in: query
      required: false
      schema:
        type: string
        example: '2020-05-01'
      explode: false
    endDate:
      name: endDate
      description: >-
        Specify the end date for running the Iterated Cross Sectional
        Functionality request either in **YYYY-MM-DD**, **YYYYMMDD** or
        **MM/DD/YYYY** format.

        User must have access to backtesting functionality.
      in: query
      required: false
      schema:
        type: string
        example: '2020-05-31'
      explode: false
    frequency:
      name: frequency
      description: >-
        Specify the frequency for running the Iterated Cross Sectional
        Functionality request. The following frequencies are supported **D**,
        **W**, **M**, **AM**, **CQ**, **AY**, or **CY**.

        To learn more about frequency, please visit [Online Assistant Page
        1964](https://my.apps.factset.com/oa/pages/1964#frequency). User must
        have access to backtesting functionality.
      in: query
      required: false
      schema:
        type: string
      explode: false
      examples:
        noFrequency:
          value: ''
          summary: '---'
        D:
          summary: Daily
          description: Displays data on a daily basis.
          value: D
        W:
          summary: Weekly
          description: >-
            Displays data weekly, based on the last day of the completed trading
            week (usually Friday).
          value: W
        M:
          summary: Monthly
          description: Displays data monthly, based on the last trading day of the month.
          value: M
        AM:
          summary: Monthly-Actual
          description: >-
            Displays data monthly, based on the start date (e.g., if the start
            date is June 16th, data is displayed for June 16th, May 16th, April
            16th, etc.).
          value: AM
        CQ:
          summary: Quarterly-Calendar
          description: >-
            Displays data quarterly based on the last trading day of the
            calendar quarter (March, June, September, or December).
          value: CQ
        AY:
          summary: Yearly-Actual
          description: >-
            Displays data annually, based on the start date (e.g, if the start
            date is October 31, 2019, data is displayed for October 31, 2019,
            October 31, 2018, October 31, 2017, etc.).
          value: AY
        CY:
          summary: Yearly-Calendar
          description: >-
            Displays data annually based on the last trading day of the calendar
            year.
          value: CY
    universeExclusion:
      name: universeExclusion
      description: >
        Specify the security types you would like to exclude from your *EQUITY*
        `universe` expression. The supported exclusion values are `INACTIVE`,
        `SECONDARY`, and `NONEQUITY`. You can specify more than one exclusion
        criteria within a request. For GET requests, each exclusion should be
        separated by a comma, and for POST requests, they should be supplied in
        an array. More information about each exclusion can be found below: 

        <br/><br/>

        * Exclude Inactive Securities (`INACTIVE`): Omits securities that have
        ceased trading due to circumstances such as bankruptcy and M&A activity

        <br/>

        * Exclude Secondary Listings (`SECONDARY`): Omits securities linked to a
        primarily listing (e.g., ADRs, GDRs)

        <br/>

        * Exclude Non-Equity Securities (`NONEQUITY`): Omits securities
        including indices, market statistics, mutual funds, and exchange-traded
        funds (ETFs); preferred stock is excluded on a case-by-case basis

        <br/>

        Find more documentation on Universe Exclusion logic on [Online Assistant
        Page 20606](https://my.apps.factset.com/oa/pages/20606) under
        'Understanding Criteria Options'.

        <br/><br/>

        This parameter may only be used in conjunction with the `universe`
        parameter and the `universeType` set to EQUITY. Using this parameter
        with a `universeType` other than EQUITY will result in error.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
            - INACTIVE
            - SECONDARY
            - NONEQUITY
        nullable: true
      examples:
        noExclusion:
          summary: '---'
          value: []
        singleItem:
          summary: Single Security Exclusion
          value:
            - INACTIVE
        multipleItems:
          summary: Multiple Security Exclusions
          value:
            - INACTIVE
            - SECONDARY
            - NONEQUITY
  schemas:
    TimeSeriesRequest:
      title: Time-Series Request Body
      description: '`/time-series` Request Body'
      type: object
      properties:
        data:
          type: object
          properties:
            ids:
              title: ids
              description: >
                Array of entity identifiers.


                The `ids` and `universe` parameters provide two different ways
                to specify the identifiers for which you want data retrieved.
                Please enter either the `ids` or `universe` parameter.
              type: array
              items:
                type: string
              example:
                - FDS-US
                - IBM-US
                - XOM-US
            symbolType:
              title: symbolType
              type: string
              description: >
                Specify the type of symbols submitted in the `ids` parameter.
                This is only required when submitting ids that are not supported
                by default. 

                <br/>

                Available symbol types -

                * DEFAULT - Accepted symbol types include Market Tickers,
                SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.


                * BLOOMBERG - Accepted symbol types include Bloomberg Tickers
                and Bloomberg FIGIs. 
                  * When submitting Bloomberg symbols, the Bloomberg symbol is translated to a FactSet Permanent Identifier which is then used to retrieve the requested FQL and Screening formulas. The Bloomberg symbol submitted will be returned in the response in the field *requestId*. To see the FactSet Permanent Identifer that the Bloomberg symbol resolved to, use the `fsymId` parameter in addition to the `
                  ` parameter.
                  * Bloomberg symbols can not be submitted with other symbol types. 
                <br/>

                Bloomberg Symbol Resolution is included with the Individual User
                subscription. Users with a Production User subscription require
                additional access to submit Bloomberg symbols. If you would like
                to gain access to Bloomberg Symbol Resolution, please contact
                your FactSet Account Team or "Report Issue" above and our
                support teams can assist.
            universe:
              title: universe
              description: |
                Screening expression to limit the universe

                Please enter either the `ids` or `universe` parameter.
              type: string
              example: FG_CONSTITUENTS(SP50,0,CLOSE)
            universeType:
              title: universeType
              description: >
                Specify the universe type to calculate the `universe` in.


                Find documentation below on how to build a screen for each
                universe type -

                * Equity Screen - [Online Assistant Page
                20606](https://my.apps.factset.com/oa/pages/20606)


                * Debt Screen - [Online Assistant Page
                20888](https://my.apps.factset.com/oa/pages/20888)


                * Fund Screen - [Online Assistant Page
                21384](https://my.apps.factset.com/oa/pages/21384)


                This parameter may only be used in conjunction with the
                `universe` parameter.
              type: string
              example: DEBT
              default: EQUITY
              enum:
                - EQUITY
                - DEBT
                - FUND
            universeExclusion:
              title: universeExclusion
              description: >
                Specify the security types you would like to exclude from your
                *EQUITY* `universe` expression. The supported exclusion values
                are `INACTIVE`, `SECONDARY`, and `NONEQUITY`. You can specify
                more than one exclusion criteria within a request. For GET
                requests, each exclusion should be separated by a comma and for
                POST requests, they should be supplied in an array. More
                information about each exclusion can be found below: 


                * Exclude Inactive Securities (`INACTIVE`): Omits securities
                that have ceased trading due to circumstances such as bankruptcy
                and M&A activity


                * Exclude Secondary Listings (`SECONDARY`): Omits securities
                linked to a primarily listing (e.g., ADRs, GDRs)


                * Exclude Non-Equity Securities (`NONEQUITY`): Omits securities
                including indices, market statistics, mutual funds, and
                exchange-traded funds (ETFs); preferred stock is excluded on a
                case-by-case basis


                Find more documentation on Universe Exclusion logic on [Online
                Assistant Page
                20606](https://my.apps.factset.com/oa/pages/20606) under
                'Understanding Criteria Options'.


                This parameter may only be used in conjunction with the
                `universe` parameter and the `universeType` set to EQUITY. Using
                this parameter with a `universeType` other than EQUITY will
                result in error.
              type: array
              items:
                type: string
                example: INACTIVE
                enum:
                  - INACTIVE
                  - SECONDARY
                  - NONEQUITY
            formulas:
              title: FQL formulas
              description: Array of FQL formulas
              type: array
              items:
                type: string
              example:
                - P_PRICE(0,-2,D)
                - FG_COMPANY_NAME
            calendar:
              title: Calendar Setting
              description: >-
                Calendar of data returned. The default value is FIVEDAY which
                displays Monday through Friday, regardless of whether there were
                trading holidays.
              type: string
              example: SEVENDAY
              default: FIVEDAY
            fsymId:
              title: fsymId
              description: >
                Specify **Y** for the `fsymId` parameter to return the
                **fsymId** (FactSet Default Permanent Identifier) of the
                `requestId`, in addition to the **requestId** field, in each
                response object. The default value for the `fsymId` parameter is
                **N**.


                The **fsymId** field returned is the FactSet Default Permanent
                Identifier for the `requestId`. For all supported `requestId`
                symbol types, the `fsymId` parameter will return the Regional
                Level PermId '-R' which identifies the security's best regional
                security data series per currency. Currently, the fsymId
                parameter only supports equities. Accepted `requestId` symbol
                types include all FactSet Permanent Identifiers types, CUSIP,
                SEDOL, ISIN, and Tickers. Further documentation can be found at
                this [Online Assistant
                attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).
              type: string
              example: 'Y'
              default: 'N'
              enum:
                - 'Y'
                - 'N'
            displayName:
              title: displayName
              description: >
                Define display names for the formulas inputted. Enter the list
                of display names in the same order as the formulas inputted. An
                additional field **displayName** will be returned in the data
                object for a formula.


                If the number of display names does not match the number of
                formulas provided, an error will be returned.


                To define the display name for a subset of the formulas, leave a
                blank in the position of the formula that won't be renamed. For
                example - If three formulas are inputted, to define display
                names only for the first and third formula, enter
                *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field
                will still be included in that formula, but will contain the
                formula as inputted.
              type: array
              items:
                type: string
              example:
                - PRICE
                - COMPANY_NAME
            flatten:
              title: flatten
              description: >
                Specify **Y** for `flatten` to return a flat, table-like JSON
                response model instead of the standard nested JSON response
                model. This option is provided for easier data processing and
                visualization. The default value for `flatten` is **N**.


                See the **Time-Series Result Object Flattened** schema for more
                detail on the response structure for flattened output.
              type: string
              example: 'Y'
              default: 'N'
              enum:
                - 'Y'
                - 'N'
            dates:
              title: dates
              description: >
                Specify **N** for the `dates` parameter to suppress the
                **dates** of the response. The default value for the `dates`
                parameter is **Y**.


                In the non-flattened response model, setting dates to **N** will
                remove the "dates" array from the TIMESERIES objectType, meaning
                that the results will be returned as an ARRAY objectType.


                In the flattened response mode, setting dates to **N** will
                remove the "dates" attribute from the response objects. The
                flatten parameter first attempts to flatten the response by
                dates. Removing the dates can make it easier to align multiple
                data items when the date definition differs from the desired
                alignment.
              type: string
              example: 'N'
              default: 'Y'
              enum:
                - 'Y'
                - 'N'
            batch:
              title: batch
              description: >
                Enables the ability to asynchronously "batch" the request,
                supporting a long-running request up to **30 minutes**. Upon
                requesting "batch": "Y", the service will respond back with an
                HTTP Status Code of 202.


                Individual users are allowed 5 concurrent Batch Requests, while
                Production users are allowed 10 concurrent Batch Requests.


                *This feature is available to Individual Users subscribed to the
                Performance Package and Performance Package Plus Performance
                Tiers and all Production Users. If you are unsure which
                Performance Tier you are subscribed to or you would like to gain
                access to the batch capabilities, please contact your FactSet
                Account Team or "Report Issue" above and our support teams can
                assist.*


                Once a batch request is submitted, use `/batch-status` to see if
                the job has completed. Once completed, retrieve the results of
                the request via `/batch-result`. See the endpoints listed under
                *Batch Processing* for more information.
              type: string
              example: 'Y'
              default: 'N'
              enum:
                - 'Y'
                - 'N'
          required:
            - formulas
      required:
        - data
    TimeSeriesResponseObjectItems:
      title: Time-Series Response Object
      anyOf:
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattened'
        - $ref: '#/components/schemas/UnifiedResultObjectFlattened'
    TimeSeriesResponse:
      title: Time-Series Response
      type: object
      properties:
        data:
          description: Array of Time-Series `Response Objects`
          type: array
          items:
            $ref: '#/components/schemas/TimeSeriesResponseObjectItems'
        meta:
          type: object
    TimeSeriesResultObjectNonflattened:
      title: Time-Series Non-Flattened Response Object
      anyOf:
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedScalar'
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedArray'
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedMatrix'
        - $ref: >-
            #/components/schemas/TimeSeriesResultObjectNonflattenedTimeseriesObject
      discriminator:
        propertyName: objectType
        mapping:
          SCALAR: '#/components/schemas/TimeSeriesResultObjectNonflattenedScalar'
          ARRAY: '#/components/schemas/TimeSeriesResultObjectNonflattenedArray'
          MATRIX: '#/components/schemas/TimeSeriesResultObjectNonflattenedMatrix'
          TIMESERIES: >-
            #/components/schemas/TimeSeriesResultObjectNonflattenedTimeseriesObject
    TimeSeriesResultObjectNonflattenedScalar:
      title: Time-Series Non-Flattened Response Object with SCALAR Result Attribute
      type: object
      properties:
        result:
          $ref: '#/components/schemas/TimeSeriesScalarValue'
      allOf:
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedBase'
    TimeSeriesResultObjectNonflattenedArray:
      title: Time-Series Non-Flattened Response Object with ARRAY Result Attribute
      description: >-
        The `result` attribute in the Time-Series Non-Flattened Response Object
        will be an ARRAY.
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/TimeSeriesScalarValue'
      allOf:
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedBase'
    TimeSeriesResultObjectNonflattenedMatrix:
      title: Time-Series Non-Flattened Response Object with MATRIX Result Attribute
      description: >-
        The `result` attribute in the Time-Series Non-Flattened Response Object
        will be a MATRIX, which will be represented as an array of arrays. Each
        array can be thought of as a row in the matrix.
      type: object
      properties:
        result:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/TimeSeriesScalarValue'
      allOf:
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedBase'
    TimeSeriesResultObjectNonflattenedTimeseriesObject:
      title: >-
        Time-Series Non-Flattened Response Object with TIMESERIES Result
        Attribute
      type: object
      properties:
        result:
          $ref: '#/components/schemas/TimeSeriesTimeseriesObject'
      allOf:
        - $ref: '#/components/schemas/TimeSeriesResultObjectNonflattenedBase'
    TimeSeriesResultObjectNonflattenedBase:
      title: Time-Series Non-Flattened Base Response Object
      description: >-
        An object returning the results for a single identifier and formula.
        This is the base of the response object. The result attribute depends on
        the formula requested. Response objects with the various result
        attribute types are outlined in separate schemas.
      type: object
      properties:
        error:
          description: >
            Indicates that there was an error in the execution of the FQL
            Formula.

            * Zero - success

            * Non-zero - failure
          type: integer
          example: 1
        errorMessage:
          description: >-
            If error is non-zero, errorMessage will display the FQL formula
            error.
          type: string
          nullable: true
          example: |
            parse error, unexpected ','
        formula:
          description: FQL formula requested.
          type: string
          example: P_PRICE(0,-1,D)
        displayName:
          description: Display Name.
          type: string
          nullable: true
          example: PRICE
        requestId:
          description: Identifier requested.
          type: string
          example: IBM-US
        fsymId:
          description: >
            The **fsymId** field returned is the FactSet Default Permanent
            Identifier for the `requestId`. For all supported `requestId` symbol
            types, the `fsymId` parameter will return the Regional Level PermId
            '-R' which identifies the security's best regional security data
            series per currency. Currently, the fsymId parameter only supports
            equities. Accepted `requestId` symbol types include all FactSet
            Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers.
            Further documentation can be found at this [Online Assistant
            attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).
            Included only if the `fsymId` parameter is set to Y.
          type: string
          nullable: true
          example: SJY281-R
        dataType:
          description: Type of data returned in `result`
          example: STRING
          type: string
          nullable: true
          enum:
            - STRING
            - INTEGER
            - DOUBLE
            - null
        objectType:
          description: Type of object returned in `result`
          type: string
          example: ARRAY
          enum:
            - SCALAR
            - ARRAY
            - MATRIX
            - TIMESERIES
      required:
        - error
        - formula
        - requestId
        - result
        - dataType
        - objectType
    TimeSeriesScalarValue:
      title: Time-Series SCALAR Result
      description: >-
        The `result` attribute in the Time-Series Non-Flattened Response Object
        will be a SCALAR.
      oneOf:
        - type: string
          example: International Business Machines Corporation
        - type: number
[...]
