{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/fund/holding/listByInstrument": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/holding/listByInstrument",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Holdings of a fund. Only the top 10 holdings with regard to their weighting in the fund portfolio are returned. Therefore, the weights of the holdings do not add up to 1 (i.e. 100%).",
        "summary": "Holdings of a fund.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of an instrument of a fund share class."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "holdings.name",
                "-holdings.name",
                "holdings.weight",
                "-holdings.weight"
              ]
            },
            "maxItems": 2,
            "uniqueItems": true,
            "default": [
              "-holdings.weight"
            ],
            "collectionFormat": "csv",
            "name": "_sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Holdings of a fund.",
                  "type": "object",
                  "x-property-sort": [
                    "date",
                    "holdings"
                  ],
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": "Date of assessment of the holdings."
                    },
                    "holdings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "instrument",
                          "name",
                          "weight"
                        ],
                        "properties": {
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id"
                            ],
                            "description": "Instrument data of a holding.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              }
                            }
                          },
                          "name": {
                            "x-sortable": true,
                            "type": "string",
                            "description": "Name of the holding, as provided by the supplier."
                          },
                          "weight": {
                            "x-sortable": true,
                            "x-default-sort-attribute": true,
                            "x-default-sort-direction": 2,
                            "type": "number",
                            "format": "relativeValue",
                            "description": "Weight of the holding."
                          }
                        }
                      },
                      "description": "List of holdings."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/issuer/search": {
      "post": {
        "tags": [
          "fund"
        ],
        "operationId": "post/fund/issuer/search",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Search for issuers of funds.",
        "description": "Search for issuers of funds. FactSet does not consolidate the data provided by different suppliers, therefore the result may contain more than one identifier for a given issuer. The response is limited to 100 results.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "issuer",
                    "fund",
                    "shareClass",
                    "market"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "issuer": {
                      "type": "object",
                      "x-property-sort": [
                        "name",
                        "country"
                      ],
                      "description": "Issuer name.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 3,
                          "exclusiveMinimum": false,
                          "maxLength": 100,
                          "exclusiveMaximum": false,
                          "pattern": "^[-!#-&(-+--/0-:=?-Za-zw\"]*$",
                          "description": "Text string to be searched for."
                        },
                        "country": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Country of registration of the issuer. See endpoint `/basic/region/country/list` for valid values.",
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only funds issued by an issuer whose country of registration is in the provided list are returned. ",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50,
                                  "description": "Set of country identifiers."
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Funds issued by an issuer whose country of registration is in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50,
                                  "description": "Set of country identifiers."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "fund": {
                      "type": "object",
                      "x-property-sort": [
                        "etf",
                        "domicile"
                      ],
                      "description": "Parameters related to funds.",
                      "properties": {
                        "etf": {
                          "type": "string",
                          "default": "include",
                          "description": "Defines whether or not ETF issuers are included in the result.",
                          "x-enum-description": [
                            "Only ETF issuers are included in the result.",
                            "Issuers of ETFs and mutual funds share classes are included in the result.",
                            "ETF issuers are excluded from the result."
                          ],
                          "enum": [
                            "only",
                            "include",
                            "exclude"
                          ]
                        },
                        "domicile": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Domicile of the fund. See endpoint `/basic/region/country/list` for valid values.",
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only issuers of funds with a domicile in the provided list are returned. ",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50,
                                  "description": "Set of country identifiers."
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Issuers of funds with a domicile in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50,
                                  "description": "Set of country identifiers."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "shareClass": {
                      "type": "object",
                      "x-property-sort": [
                        "registrationCountry"
                      ],
                      "description": "Parameters related to share classes.",
                      "properties": {
                        "registrationCountry": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Country of trading registration of the share classes.",
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only issuers of funds with share classes registered for trading in a country in the provided list are returned. ",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50,
                                  "description": "Set of country identifiers."
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Issuers of funds with share classes registered for trading in a country in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50,
                                  "description": "Set of country identifiers."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "market": {
                      "type": "object",
                      "x-property-sort": [
                        "restrict",
                        "exclude"
                      ],
                      "x-atMostOne": true,
                      "description": "List of markets of notations with a net asset value (NAV). Only issuers of fund share classes with a NAV from a market in the provided list are returned.",
                      "properties": {
                        "restrict": {
                          "description": "Specifies the markets from which a notation may originate.",
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true,
                                "x-enum-description": [
                                  "Mountain-View Funds",
                                  "FactSet Fund Prices",
                                  "WM Datenservice"
                                ],
                                "enum": [
                                  1126,
                                  1127,
                                  1050
                                ]
                              },
                              "uniqueItems": true,
                              "maxItems": 2,
                              "description": "Set of market identifiers."
                            }
                          }
                        },
                        "exclude": {
                          "description": "Specifies the markets from which a notation may not originate.",
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true,
                                "x-enum-description": [
                                  "Mountain-View Funds",
                                  "FactSet Fund Prices",
                                  "WM Datenservice"
                                ],
                                "enum": [
                                  1126,
                                  1127,
                                  1050
                                ]
                              },
                              "uniqueItems": true,
                              "maxItems": 2,
                              "description": "Set of market identifiers."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    }
                  },
                  "x-property-sort": [
                    "attributes"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of issuers, sorted descending by the number of funds issued.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "count"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of an issuer."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the issuer."
                      },
                      "count": {
                        "type": "number",
                        "format": "int32",
                        "description": "Number of funds issued."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/keyFigures/benchmark/month/1/get": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/notation/keyFigures/benchmark/month/1/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a fund for the time range of one month.",
        "description": "End-of-day (EOD) benchmark key figures of a fund for the time range of one month.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "List of benchmark notations."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "outperformance",
                      "trackingError",
                      "informationRatio",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "trackingError": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Tracking error of the notation."
                      },
                      "informationRatio": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Information ratio of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/keyFigures/benchmark/week/1/get": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/notation/keyFigures/benchmark/week/1/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a fund for the time range of one week.",
        "description": "End-of-day (EOD) benchmark key figures of a fund for the time range of one week.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "List of benchmark notations."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "outperformance",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/keyFigures/benchmark/year/1/get": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/notation/keyFigures/benchmark/year/1/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a fund for the time range of one year.",
        "description": "End-of-day (EOD) benchmark key figures of a fund for the time range of one year.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "List of benchmark notations."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "outperformance",
                      "trackingError",
                      "informationRatio",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "trackingError": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Tracking error of the notation."
                      },
                      "informationRatio": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Information ratio of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/keyFigures/benchmark/month/3/get": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/notation/keyFigures/benchmark/month/3/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a fund for the time range of three months.",
        "description": "End-of-day (EOD) benchmark key figures of a fund for the time range of three months.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "List of benchmark notations."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "outperformance",
                      "trackingError",
                      "informationRatio",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "trackingError": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Tracking error of the notation."
                      },
                      "informationRatio": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Information ratio of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/keyFigures/benchmark/year/3/get": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/notation/keyFigures/benchmark/year/3/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a fund for the time range of three years.",
        "description": "End-of-day (EOD) benchmark key figures of a fund for the time range of three years.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "List of benchmark notations."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "outperformance",
                      "trackingError",
                      "informationRatio",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "trackingError": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Tracking error of the notation."
                      },
                      "informationRatio": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Information ratio of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/keyFigures/benchmark/year/5/get": {
      "get": {
        "tags": [
          "fund"
        ],
        "operationId": "get/fund/notation/keyFigures/benchmark/year/5/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a fund for the time range of five years.",
        "description": "End-of-day (EOD) benchmark key figures of a fund for the time range of five years.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 100,
            "description": "List of benchmark notations."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "outperformance",
                      "trackingError",
                      "informationRatio",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "trackingError": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Tracking error of the notation."
                      },
                      "informationRatio": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Information ratio of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/fund/notation/screener/search": {
      "post": {
        "tags": [
          "fund"
        ],
        "operationId": "post/fund/notation/screener/search",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Screener for notations of share classes of mutual and exchange traded funds based on fund-specific parameters.",
        "description": "Screener for notations of share classes of mutual and exchange traded funds (ETF) based on fund-specific parameters. The funds represent legal entities, juristic persons in particular, and may have more than one share class. The share classes represent instruments, and the notations represent price sources for the share classes. Some parameters apply to the fund as a whole, i.e. a notation for each share class of a fund matching the criteria is returned, for example `issuer.selection`. Others apply to the share classes, thus only notations of matching share classes are returned, for example `minimumInvestment.initial`. The result is limited to the notations that satisfy all the selected filters. In order to guarantee comparability when using the performance parameters, the endpoint is restricted to three markets only, Mountain-View Funds (`id=1126`), FactSet Fund Prices (`id=1127`) and WM Datenservice (`id=1050`) since the notations from these markets provide a net asset value (NAV) - based total performance. The total performance factors in all earnings distributions of a share class and thus allows to compare the overall (total) performance of distributing and non-distributing share classes.     \n A specific set of share classes or share class notations can be restricted to or excluded by using customer-specific instrument or notation selection lists respectively. Such selection lists are set up by FactSet upon request. All identifiers used as parameters must be valid and entitled.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "validation",
                    "fund",
                    "shareClass",
                    "performance"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "validation": {
                      "type": "object",
                      "x-property-sort": [
                        "onlyActive",
                        "prices",
                        "currency",
                        "market",
                        "instrumentSelectionList",
                        "notationSelectionList"
                      ],
                      "description": "Validation parameters.",
                      "properties": {
                        "onlyActive": {
                          "type": "boolean",
                          "default": true,
                          "description": "If `true`, only active notations will be returned. The term \"active\" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months."
                        },
                        "prices": {
                          "type": "object",
                          "x-property-sort": [
                            "latest",
                            "previous"
                          ],
                          "description": "Price-related parameters.",
                          "properties": {
                            "latest": {
                              "type": "object",
                              "x-property-sort": [
                                "availableOnly",
                                "minimumDate"
                              ],
                              "description": "Parameters related to the presence and age of the most recent trade price.",
                              "properties": {
                                "availableOnly": {
                                  "type": "boolean",
                                  "description": "If `true`, only notations for which a trade price (even an outdated one) is available will be returned."
                                },
                                "minimumDate": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Earliest admissible date of the most recent trade price."
                                }
                              }
                            },
                            "previous": {
                              "type": "object",
                              "x-property-sort": [
                                "availableOnly",
                                "minimumDate"
                              ],
                              "description": "Parameters related to the presence and age of a trade price from a preceding trading day.",
                              "properties": {
                                "availableOnly": {
                                  "type": "boolean",
                                  "description": "If `true`, only notations for which a trade price from a preceding trading day is available will be returned."
                                },
                                "minimumDate": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Earliest admissible date of the trade price from a preceding day."
                                }
                              }
                            }
                          }
                        },
                        "currency": {
                          "description": "Currency selection. See endpoint `/basic/valueUnit/currency/list` for valid values.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Specifies the currency a notation may have.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of currency identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            },
                            "exclude": {
                              "description": "Specifies the currency from which a notation may not have.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of currency identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            }
                          }
                        },
                        "market": {
                          "description": "Market-related notation selection.",
                          "type": "object",
                          "x-property-sort": [
                            "selection",
                            "priority"
                          ],
                          "properties": {
                            "selection": {
                              "description": "Market selection.",
                              "type": "object",
                              "x-property-sort": [
                                "restrict",
                                "exclude"
                              ],
                              "x-atMostOne": true,
                              "properties": {
                                "restrict": {
                                  "description": "Specifies the markets from which a notation may originate.",
                                  "type": "object",
                                  "x-property-sort": [
                                    "ids"
                                  ],
                                  "properties": {
                                    "ids": {
                                      "description": "Set of market identifiers.",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "id32",
                                        "x-positive": true,
                                        "x-enum-description": [
                                          "Mountain-View Funds",
                                          "FactSet Fund Prices",
                                          "WM Datenservice"
                                        ],
                                        "enum": [
                                          1126,
                                          1127,
                                          1050
                                        ]
                                      },
                                      "uniqueItems": true,
                                      "maxItems": 2
                                    }
                                  }
                                },
                                "exclude": {
                                  "description": "Specifies the markets from which a notation may not originate.",
                                  "type": "object",
                                  "x-property-sort": [
                                    "ids"
                                  ],
                                  "properties": {
                                    "ids": {
                                      "description": "Set of market identifiers.",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "format": "id32",
                                        "x-positive": true,
                                        "x-enum-description": [
                                          "Mountain-View Funds",
                                          "FactSet Fund Prices",
                                          "WM Datenservice"
                                        ],
                                        "enum": [
                                          1126,
                                          1127,
                                          1050
                                        ]
                                      },
                                      "uniqueItems": true,
                                      "maxItems": 2
                                    }
                                  }
                                }
                              }
                            },
                            "priority": {
                              "description": "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list, A will be selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose).",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "List of market identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true,
                                    "default": [
                                      1126,
                                      1127,
                                      1050
                                    ],
                                    "x-enum-description": [
                                      "Mountain-View Funds",
                                      "FactSet Fund Prices",
                                      "WM Datenservice"
                                    ],
                                    "enum": [
                                      1126,
                                      1127,
                                      1050
                                    ]
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            }
                          }
                        },
                        "instrumentSelectionList": {
                          "description": "Instrument-level restriction or exclusion.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction lists. If present, the result contains only notations belonging to share classes that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of restriction lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion lists. If present, the result does not contain notations belonging to share classes that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of exclusion lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            }
                          }
                        },
                        "notationSelectionList": {
                          "description": "Notation-level restriction or exclusion.",
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "properties": {
                            "restrict": {
                              "description": "Restriction lists. If present, the result contains only notations that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of restriction lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion lists. If present, the result does not contain notations that are a member of any of the provided lists.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of identifiers of exclusion lists.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 3
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "fund": {
                      "type": "object",
                      "x-property-sort": [
                        "etf",
                        "currency",
                        "domicile",
                        "holdingType",
                        "countryDevelopment",
                        "regionalExposure",
                        "strategy",
                        "industry",
                        "minimumSrri",
                        "issuer",
                        "assetsUnderManagement",
                        "compliance"
                      ],
                      "description": "Parameters related to funds. ",
                      "properties": {
                        "etf": {
                          "type": "string",
                          "default": "include",
                          "description": "Defines whether or not notations belonging to ETF share classes are included in the result.",
                          "x-enum-description": [
                            "Only notations of ETF share classes are included in the result.",
                            "Notations of ETF and mutual funds share classes are included in the result.",
                            "Notations of ETF share classes are excluded from the result."
                          ],
                          "enum": [
                            "only",
                            "include",
                            "exclude"
                          ]
                        },
                        "currency": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Main currency of the fund. The parameter ensures the consistency and comparability of parameters expressed in the currency of the fund. See endpoint `/basic/valueUnit/currency/main/list` for valid values. ",
                          "properties": {
                            "restrict": {
                              "description": "Specifies the main currencies a fund may have.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of main currency identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            },
                            "exclude": {
                              "description": "Specifies the main currencies a fund may not have.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of main currency identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            }
                          }
                        },
                        "domicile": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Domicile of the fund. See endpoint `/basic/region/country/list` for valid values.",
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only funds with a domicile in the provided list are returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of country identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Funds with a domicile in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of country identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 50
                                }
                              }
                            }
                          }
                        },
                        "holdingType": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Holding asset type classification represented by categories from the category system \"Asset class classification system for mutual funds, defined by FactSet Research Systems Inc.\". See endpoint `/category/listBySystem` with `id=288` for valid values.",
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only funds that belong to a category in the provided list are returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of category identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 20
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Funds that belong to a category in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of category identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 20
                                }
                              }
                            }
                          }
                        },
                        "countryDevelopment": {
                          "type": "object",
                          "x-property-sort": [
                            "restrict",
                            "exclude"
                          ],
                          "x-atMostOne": true,
                          "description": "Country development level of the holdings represented by categories from the category system \"Country development level classification system for mutual funds, defined by FactSet Research Systems Inc.\". See endpoint `/category/listBySystem` with `id=289` for valid values.",
                          "properties": {
                            "restrict": {
                              "description": "Restriction list. Only funds that belong to a category in the provided list are returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of category identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
                                  },
                                  "uniqueItems": true,
                                  "maxItems": 20
                                }
                              }
                            },
                            "exclude": {
                              "description": "Exclusion list. Funds that belong to a category in the provided list are not returned.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "properties": {
                                "ids": {
                                  "description": "Set of category identifiers.",
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "id32",
                                    "x-positive": true
[...]
