{
  "openapi": "3.0.1",
  "info": {
    "title": "IRN API v1",
    "description": "Allows users to extract, create, update and configure IRN data.",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.factset.com/research/irn",
      "description": "Production Server"
    },
    {
      "url": "https://api-sandbox.factset.com/research/irn",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/contact-relationships": {
      "get": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Get all the relationships where the given symbol or contact identifier has been tagged in a relationship",
        "operationId": "GetAllRelationshipsTaggingAContact",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "relationshipId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRelationshipTwoSidedDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Create a contact relationship",
        "operationId": "CreateContactRelationship",
        "requestBody": {
          "description": "contactRelationship object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-relationships/{contactRelationshipId}": {
      "get": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Get details on a specific contact relationship",
        "operationId": "GetContactRelationship",
        "parameters": [
          {
            "name": "contactRelationshipId",
            "in": "path",
            "description": "contactRelationshipId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRelationshipTwoSidedDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Update a contact relationship",
        "operationId": "PatchContactRelationship",
        "parameters": [
          {
            "name": "contactRelationshipId",
            "in": "path",
            "description": "contactRelationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactRelationshipPatch object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Delete a contact relationship",
        "operationId": "DeleteContactRelationship",
        "parameters": [
          {
            "name": "contactRelationshipId",
            "in": "path",
            "description": "contactRelationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get list of all contacts in your group along with some of their standard field data",
        "operationId": "GetContacts",
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "description": "Filter results on fullName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailAddress",
            "in": "query",
            "description": "Filter results on emailAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Filter results on identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employerName",
            "in": "query",
            "description": "Filter results on employerName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldValues",
            "in": "query",
            "description": "Includes custom field values in response if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter results on the combination of fullName, emailAddress, identifier and employerName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeLastMeetingDate",
            "in": "query",
            "description": "If true, returns when they were last tagged as an attendee in an IRN meeting",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Restrict number of records returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactSummaryDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "operationId": "CreateContact",
        "requestBody": {
          "description": "contactSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all custom field and standard field details on a specific contact",
        "operationId": "GetContact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Edit a contact’s standard field and custom field data",
        "operationId": "PatchContact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactSaveDtoPatch object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "operationId": "DeleteContact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/about": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get the About field content for a specific contact",
        "operationId": "GetContactNotes",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId of associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/events": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact’s audit history",
        "operationId": "GetContactEvents",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated records",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactEventDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/records": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all notes and meetings where a specific contact was tagged",
        "operationId": "GetContactRecords",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated records",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecordPreviewDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/relationships": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Returns a list of a contact’s relationships",
        "operationId": "GetContactRelationships",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated records",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRelationshipDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AlternativeEmailAddressDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "EmailAddress": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactAddressDto": {
        "type": "object",
        "properties": {
          "GoogleMapsPlaceId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "FormattedAddress": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "City": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "StateProvince": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "PostalCode": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "Country": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldOptionValueDto": {
        "type": "object",
        "properties": {
          "OptionId": {
            "type": "string",
            "format": "uuid"
          },
          "OptionName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldValueDto": {
        "type": "object",
        "properties": {
          "FieldCode": {
            "type": "string",
            "nullable": true
          },
          "Value": {
            "type": "string",
            "nullable": true
          },
          "OptionValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldValueSaveDto": {
        "required": [
          "Code"
        ],
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Value": {
            "type": "string",
            "nullable": true
          },
          "OptionValues": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "EvaluateFormula": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "ContactDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "PrimaryEmailAddress": {
            "type": "string",
            "nullable": true
          },
          "Identifier": {
            "type": "string",
            "nullable": true
          },
          "FullName": {
            "type": "string",
            "nullable": true
          },
          "Address": {
            "$ref": "#/components/schemas/ContactAddressDto"
          },
          "LinkedInProfile": {
            "type": "string",
            "nullable": true
          },
          "IsDeleted": {
            "type": "boolean"
          },
          "Employer": {
            "$ref": "#/components/schemas/EmployerDto"
          },
          "Role": {
            "$ref": "#/components/schemas/ContactRoleDto"
          },
          "Type": {
            "$ref": "#/components/schemas/ContactTypeDto"
          },
          "PhoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhoneDto"
            },
            "nullable": true
          },
          "AlternativeEmailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternativeEmailAddressDto"
            },
            "nullable": true
          },
          "CustomFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactEventDto": {
        "type": "object",
        "properties": {
          "EventType": {
            "type": "string",
            "nullable": true
          },
          "Date": {
            "type": "string",
            "format": "date-time"
          },
          "FullName": {
            "type": "string",
            "nullable": true
          },
          "Details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEventUpdateDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactEventUpdateDto": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "nullable": true
          },
          "OldValue": {
            "type": "string",
            "nullable": true
          },
          "NewValue": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactIdNameDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactPhoneDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Number": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "Type": {
            "$ref": "#/components/schemas/PhoneNumberTypeDto"
          },
          "IsPrimary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactPhoneSaveDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Number": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "TypeId": {
            "type": "string",
            "format": "uuid"
          },
          "IsPrimary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "RelationshipCategory": {
            "$ref": "#/components/schemas/RelationshipCategoryIdNameDto"
          },
          "Relationship": {
            "$ref": "#/components/schemas/RelationshipIdNameDto"
          },
          "Contact": {
            "$ref": "#/components/schemas/ContactIdNameDto"
          },
          "Symbol": {
            "$ref": "#/components/schemas/RelationshipSymbolSummaryDto"
          },
          "IsCurrent": {
            "type": "boolean"
          },
          "Start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "End": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipSaveDto": {
        "type": "object",
        "properties": {
          "RelationshipId": {
            "type": "string",
            "format": "uuid"
          },
          "ContactId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "End": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          },
          "IsCurrent": {
            "type": "boolean"
          },
          "Symbol": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipTwoSidedDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "RelationshipCategory": {
            "$ref": "#/components/schemas/RelationshipCategoryIdNameDto"
          },
          "Relationship": {
            "$ref": "#/components/schemas/RelationshipIdNameDto"
          },
          "LeftContact": {
            "$ref": "#/components/schemas/ContactIdNameDto"
          },
          "RightContact": {
            "$ref": "#/components/schemas/ContactIdNameDto"
          },
          "Symbol": {
            "$ref": "#/components/schemas/RelationshipSymbolSummaryDto"
          },
          "IsCurrent": {
            "type": "boolean"
          },
          "Start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "End": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipTwoSidedSaveDto": {
        "type": "object",
        "properties": {
          "RelationshipId": {
            "type": "string",
            "format": "uuid"
          },
          "LeftContactId": {
            "type": "string",
            "format": "uuid"
          },
          "RightContactId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "End": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          },
          "IsCurrent": {
            "type": "boolean"
          },
          "SymbolId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Symbol": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRoleDto": {
        "required": [
          "Id",
          "Name"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ContactSaveDto": {
        "type": "object",
        "properties": {
          "PrimaryEmailAddress": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "FullName": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "Notes": {
            "type": "string",
            "nullable": true
          },
          "LinkedInProfile": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "PersonSymbol": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "RoleId": {
            "type": "string",
            "format": "uuid"
          },
          "TypeId": {
            "type": "string",
            "format": "uuid"
          },
          "Address": {
            "$ref": "#/components/schemas/ContactAddressDto"
          },
          "PhoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhoneSaveDto"
            },
            "nullable": true
          },
          "LeftRelationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactRelationshipSaveDto"
            },
            "nullable": true
          },
          "RightRelationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactRelationshipSaveDto"
            },
            "nullable": true
          },
          "AlternativeEmailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternativeEmailAddressDto"
            },
            "nullable": true
          },
          "CustomFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldValueSaveDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "PrimaryEmailAddress": {
            "type": "string",
            "nullable": true
          },
          "Identifier": {
            "type": "string",
            "nullable": true
          },
          "FullName": {
            "type": "string",
            "nullable": true
          },
          "EmployerName": {
            "type": "string",
            "nullable": true
          },
          "EmployerIdentifier": {
            "type": "string",
            "nullable": true
          },
          "City": {
            "type": "string",
            "nullable": true
          },
          "StateProvince": {
            "type": "string",
            "nullable": true
          },
          "PostalCode": {
            "type": "string",
            "nullable": true
          },
          "Country": {
            "type": "string",
            "nullable": true
          },
          "Role": {
            "$ref": "#/components/schemas/ContactRoleDto"
          },
          "Type": {
            "$ref": "#/components/schemas/ContactTypeDto"
          },
          "IsDeleted": {
            "type": "boolean"
          },
          "LastMeeting": {
            "type": "string",
            "nullable": true
          },
          "AlternativeEmailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternativeEmailAddressDto"
            },
            "nullable": true
          },
          "CustomFieldValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactTypeDto": {
        "required": [
          "Id",
          "Name"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "EmployerDto": {
        "required": [
          "Id"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "FactsetIdentifier": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NewItemDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "Operation": {
        "type": "object",
        "properties": {
          "OperationType": {
            "$ref": "#/components/schemas/OperationType"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "op": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OperationType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32"
      },
      "PhoneNumberTypeDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "IsStandard": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "RecordPreviewDto": {
        "type": "object",
        "properties": {
          "NoteGuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "MeetingGuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "RelationshipCategoryIdNameDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipIdNameDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipSymbolSummaryDto": {
        "type": "object",
        "properties": {
          "Identifier": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "$ref": "#/components/schemas/SymbolType"
          }
        },
        "additionalProperties": false
      },
      "SymbolType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32"
      }
    },
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Contacts"
    },
    {
      "name": "Contacts - Relationships"
    }
  ]
}