{
  "openapi": "3.0.1",
  "info": {
    "title": "IRN API v1",
    "description": "Allows users to extract, create, update and configure IRN data.",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.factset.com/research/irn",
      "description": "Production Server"
    },
    {
      "url": "https://api-sandbox.factset.com/research/irn",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/authors": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Authors",
        "operationId": "GetAuthors",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorConfigDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-custom-fields": {
      "get": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Get all the contact custom fields",
        "operationId": "GetContactCustomFields",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactCustomFieldDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Create a contact custom field",
        "operationId": "CreateContactCustomField",
        "requestBody": {
          "description": "ContactCustomFieldSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-custom-fields/{contactCustomFieldId}": {
      "get": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Get a specific Contact custom field's details",
        "operationId": "GetContactCustomField",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCustomFieldDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Edit a contact custom field",
        "operationId": "PatchContactCustomField",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactCustomFieldUpdateDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Delete a contact custom field",
        "operationId": "DeleteContactCustomField",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-roles": {
      "get": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Get list of the contact roles configured in your group",
        "operationId": "GetContactRoles",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRoleDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Create contact roles",
        "operationId": "CreateContactRole",
        "requestBody": {
          "description": "Contact role name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-types": {
      "get": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Get list of the contact types configured in your group",
        "operationId": "GetContactTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Create contact types",
        "operationId": "CreateContactType",
        "requestBody": {
          "description": "Contact type name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-fields": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Custom Fields",
        "operationId": "GetCustomFields",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldConfigDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-symbol-custom-fields": {
      "get": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Get all the Custom symbol custom fields",
        "operationId": "GetCustomSymbolCustomFields",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomSymbolCustomFieldConfigDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Create a Custom symbol custom field",
        "operationId": "CreateCustomSymbolCustomField",
        "requestBody": {
          "description": "createCustomSymbolCustomFieldDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomSymbolCustomFieldDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomSymbolCustomFieldDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomSymbolCustomFieldDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomSymbolCustomFieldDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-symbol-custom-fields/{customSymbolCustomFieldId}": {
      "get": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Get a specific Custom symbol custom field's details",
        "operationId": "GetCustomSymbolCustomField",
        "parameters": [
          {
            "name": "customSymbolCustomFieldId",
            "in": "path",
            "description": "customSymbolCustomFieldId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomSymbolCustomFieldConfigDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Edit a Custom symbol custom field",
        "operationId": "PatchCustomSymbolCustomField",
        "parameters": [
          {
            "name": "customSymbolCustomFieldId",
            "in": "path",
            "description": "customSymbolCustomFieldId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "customSymbolCustomFieldUpdateDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Delete a Custom symbol custom field",
        "operationId": "DeleteCustomSymbolCustomField",
        "parameters": [
          {
            "name": "customSymbolCustomFieldId",
            "in": "path",
            "description": "customSymbolCustomFieldId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-symbol-types": {
      "get": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Get all the custom symbol types",
        "operationId": "GetCustomSymbolTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomSymbolTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Create a Custom symbol type",
        "operationId": "CreateCustomSymbolType",
        "requestBody": {
          "description": "saveCustomSymbolTypeDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveCustomSymbolTypeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveCustomSymbolTypeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveCustomSymbolTypeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveCustomSymbolTypeDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-symbol-types/{customSymbolTypeId}": {
      "get": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Get a specific Custom symbol type's details",
        "operationId": "GetCustomSymbolType",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomSymbolTypeDetailDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Edit a Custom symbol type",
        "operationId": "UpdateCustomSymbolType",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "updateCustomSymbolTypeDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Delete a Custom symbol type",
        "operationId": "DeleteCustomSymbolTypeAsync",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-symbol-types/{customSymbolTypeId}/custom-fields": {
      "get": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Get Custom fields for Custom Symbol type",
        "operationId": "GetSymbolCustomFieldsForCustomSymbolType",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to get associated Custom fileds",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomSymbolCustomFieldConfigDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/group": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get Group details",
        "operationId": "GetGroup",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupConfigDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/group/client-sales-representative": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "operationId": "GetClientsSalesRepresentative",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSalesRepresentativeDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/phone-number-types": {
      "get": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Get list of the phone types configured in your group",
        "operationId": "GetPhoneNumberTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumberTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Create a phone type",
        "operationId": "CreatePhoneNumberType",
        "requestBody": {
          "description": "To add phoneNumberType",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recommendations": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Recommendations",
        "operationId": "GetRecommendations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecommendationConfigDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-categories": {
      "get": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Get list of the relationship categories configured in your group",
        "operationId": "GetRelationshipCategories",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipCategoryDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Create a relationship category",
        "operationId": "CreateRelationshipCategory",
        "requestBody": {
          "description": "RelationshipCategorySaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationships": {
      "get": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Get list of the relationships configured in your group",
        "operationId": "GetRelationships",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RelationshipType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Create a relationship type",
        "operationId": "CreateContactRelationshipType",
        "requestBody": {
          "description": "RelationshipSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sentiments": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Sentiments",
        "operationId": "GetSentiments",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentimentConfigDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/subjects": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Subjects",
        "operationId": "GetSubjects",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubjectSummaryDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subjects/{subjectId}": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get Subject details for the given Id provided",
        "operationId": "GetSubject",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectConfigDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/symbols-relationships": {
      "get": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Get all the Symbols Relationships",
        "operationId": "GetSymbolsRelationships",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymbolsRelationshipDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Create a symbol relationship",
        "operationId": "CreateSymbolRelationshipType",
        "requestBody": {
          "description": "symbolsRelationshipSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Teams",
        "operationId": "GetTeams",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamSummaryDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get Team details for the given Id provided",
        "operationId": "GetTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamConfigDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all assigned FactSet users",
        "operationId": "GetAssignedFactSetUsers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserConfigDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-symbol-types/reorder": {
      "post": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "operationId": "UpdateCustomSymbolTypeOrder",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-categories/reorder": {
      "post": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Reorder relationship categories",
        "operationId": "UpdateRelationshipCategoryOrder",
        "requestBody": {
          "description": "List of Guid",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-roles/{contactRoleId}": {
      "put": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Edit a contact role",
        "operationId": "UpdateContactRole",
        "parameters": [
          {
            "name": "contactRoleId",
            "in": "path",
            "description": "contactRoleId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact role name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Delete a contact role",
        "operationId": "DeleteContactRole",
        "parameters": [
          {
            "name": "contactRoleId",
            "in": "path",
            "description": "contactRoleId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-types/{contactTypeId}": {
      "put": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Edit a contact type",
        "operationId": "UpdateContactType",
        "parameters": [
          {
            "name": "contactTypeId",
            "in": "path",
            "description": "contactTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact type name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Delete a contact type",
        "operationId": "DeleteContactType",
        "parameters": [
          {
            "name": "contactTypeId",
            "in": "path",
            "description": "contactTypeId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/phone-number-types/{phoneNumberTypeId}": {
      "put": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Edit a phone type",
        "operationId": "UpdatePhoneNumberType",
        "parameters": [
          {
            "name": "phoneNumberTypeId",
            "in": "path",
            "description": "phoneNumberTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Update with phoneNumberType",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Delete a phone type",
        "operationId": "DeletePhoneNumberType",
        "parameters": [
          {
            "name": "phoneNumberTypeId",
            "in": "path",
            "description": "phoneNumberTypeId for deleting associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-categories/{relationshipCategoryId}": {
      "put": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Edit a relationship category",
        "operationId": "EditRelationshipCategory",
        "parameters": [
          {
            "name": "relationshipCategoryId",
            "in": "path",
            "description": "relationshipCategoryId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "RelationshipCategorySaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Delete a relationship category",
        "operationId": "DeleteRelationshipCategory",
        "parameters": [
          {
            "name": "relationshipCategoryId",
            "in": "path",
            "description": "relationshipCategoryId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationships/{relationshipId}": {
      "put": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Edit a relationship type",
        "operationId": "EditRelationship",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "description": "relationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "RelationshipSaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Delete a relationship type",
        "operationId": "DeleteRelationship",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "description": "relationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/symbols-relationships/{symbolsRelationshipId}": {
      "put": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Edit a symbol relationship",
        "operationId": "EditSymbolsRelationship",
        "parameters": [
          {
            "name": "symbolsRelationshipId",
            "in": "path",
            "description": "symbolsRelationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "SymbolsRelationShipSaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Delete a symbol relationship",
        "operationId": "DeleteSymbolsRelationship",
        "parameters": [
          {
            "name": "symbolsRelationshipId",
            "in": "path",
            "description": "symbolsRelationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApprovalLevelConfigDto": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "ApproverIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprovalProcessConfigDto": {
        "type": "object",
        "properties": {
          "ApprovalLevels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovalLevelConfigDto"
            },
            "nullable": true
          },
          "ViewerIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "ShouldSendEmailAlertsWhenSubmittedForApproval": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsWhenApproved": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsWhenDenied": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsToAuthor": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsToApprovers": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsToViewers": {
            "type": "boolean"
          },
          "CanAuthorSelfApprove": {
            "type": "boolean"
          },
          "CanAuthorEditPending": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AuthorConfigDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "UserName": {
            "type": "string",
            "nullable": true
          },
          "SerialNumber": {
            "type": "string",
            "nullable": true
          },
          "FirstName": {
            "type": "string",
            "nullable": true
          },
          "LastName": {
            "type": "string",
            "nullable": true
          },
          "EmailAddress": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean"
          },
          "Team": {
            "$ref": "#/components/schemas/TeamSummaryDto"
          }
        },
        "additionalProperties": false
      },
      "ClientSalesRepresentativeDto": {
        "type": "object",
        "properties": {
          "Fullname": {
            "type": "string",
            "nullable": true
          },
          "EmailAddress": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommentaryConfigDto": {
        "type": "object",
        "properties": {
          "ShouldSendEmailAlertsToAuthor": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsToCommenters": {
            "type": "boolean"
          },
          "ShouldSendEmailAlertsToAll": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Code": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "IsHidden": {
            "type": "boolean"
          },
          "IsMandatory": {
            "type": "boolean"
          },
          "FormulaConfig": {
            "$ref": "#/components/schemas/FormulaConfigDto"
          },
          "ContactCustomFieldOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldFormulaDto": {
        "type": "object",
        "properties": {
          "Formula": {
            "maxLength": 2040,
            "type": "string",
            "nullable": true
          },
          "IsScreening": {
            "type": "boolean",
            "default": false
          },
          "Symbol": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldOptionDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Order": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldOptionSaveDto": {
        "required": [
          "Name"
        ],
        "type": "object",
        "properties": {
          "Name": {
            "maxLength": 255,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldSaveDto": {
        "required": [
          "Code",
          "IsHidden",
          "IsMandatory",
          "Name",
          "Type"
        ],
        "type": "object",
        "properties": {
          "Code": {
            "maxLength": 32,
            "type": "string"
          },
          "Name": {
            "maxLength": 100,
            "type": "string"
          },
          "Type": {
            "$ref": "#/components/schemas/ContactCustomFieldType"
          },
          "IsHidden": {
            "type": "boolean",
            "default": false
          },
          "IsMandatory": {
            "type": "boolean",
            "default": false
          },
          "FieldFormula": {
            "$ref": "#/components/schemas/ContactCustomFieldFormulaDto"
          },
          "ContactCustomFieldOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionSaveDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "type": "integer",
        "format": "int32"
      },
      "ContactRoleDto": {
        "required": [
          "Id",
          "Name"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ContactTypeDto": {
        "required": [
          "Id",
          "Name"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateCustomSymbolCustomFieldDto": {
        "required": [
          "Code",
          "CustomSymbolTypes",
          "IsHidden",
          "IsMandatory",
          "IsShownInInfobox",
          "Name",
          "Type"
        ],
        "type": "object",
        "properties": {
          "Code": {
            "maxLength": 32,
            "type": "string"
          },
          "Name": {
            "maxLength": 100,
            "type": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type can be one of Text, SingleOption, MultiOptions, Numeric, Date, ExtendedText, ContactLookup"
          },
          "IsHidden": {
            "type": "boolean",
            "default": false
          },
          "IsMandatory": {
            "type": "boolean",
            "default": false
          },
          "IsShownInInfobox": {
            "type": "boolean",
            "default": true
          },
          "FormulaConfig": {
            "$ref": "#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto"
          },
          "OptionsConfig": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CustomSymbolTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "CustomFieldConfigDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Code": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "UsePreviousValue": {
            "type": "boolean"
          },
          "IsMandatory": {
            "type": "boolean"
          },
          "IsHidden": {
            "type": "boolean"
          },
          "IsFilePath": {
            "type": "boolean"
          },
          "FormulaConfig": {
            "$ref": "#/components/schemas/FormulaConfigDto"
          },
          "NumericConfig": {
            "$ref": "#/components/schemas/NumericConfigDto"
          },
          "IntegerConfig": {
            "$ref": "#/components/schemas/IntegerConfigDto"
          },
          "ExtendedTextConfig": {
            "$ref": "#/components/schemas/ExtendedTextConfigDto"
          },
          "OptionsConfig": {
            "$ref": "#/components/schemas/OptionsConfigDto"
          }
        },
        "additionalProperties": false
      },
      "CustomSymbolCustomFieldConfigDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Code": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "IsHidden": {
            "type": "boolean"
          },
          "IsMandatory": {
            "type": "boolean"
          },
          "IsShownInInfobox": {
            "type": "boolean"
          },
          "FormulaConfig": {
            "$ref": "#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto"
          },
          "OptionsConfig": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CustomSymbolTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomSymbolTypeSummaryDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomSymbolCustomFieldFormulaConfigDto": {
        "required": [
          "Formula",
          "FormulaType"
        ],
        "type": "object",
        "properties": {
          "Formula": {
            "maxLength": 2040,
            "type": "string"
          },
          "FormulaType": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CustomSymbolSubTypeDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomSymbolTypeDetailDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "HideAddressField": {
            "type": "boolean"
          },
          "HideSymbolSubType": {
            "type": "boolean"
          },
          "IsDefault": {
            "type": "boolean"
          },
          "DueDiligenceSymbolEntityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "SubTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomSymbolSubTypeDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomSymbolTypeDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "HideAddressField": {
            "type": "boolean"
          },
          "HideSymbolSubType": {
            "type": "boolean"
          },
          "IsDefault": {
            "type": "boolean"
          },
          "Order": {
            "type": "integer",
            "format": "int32"
          },
          "DueDiligenceSymbolEntityType": {
            "$ref": "#/components/schemas/EntityType"
          }
        },
        "additionalProperties": false
      },
      "CustomSymbolTypeSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DateSettingsDto": {
        "type": "object",
        "properties": {
          "AllowEdit": {
            "type": "boolean"
          },
          "IsLocked": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EntityType": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "ExtendedTextConfigDto": {
        "type": "object",
        "properties": {
          "MaxChars": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "FormulaConfigDto": {
        "type": "object",
        "properties": {
          "Formula": {
            "type": "string",
            "nullable": true
          },
          "FormulaType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GroupConfigDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Fields": {
            "$ref": "#/components/schemas/GroupFieldsDto"
          }
        },
        "additionalProperties": false
      },
      "GroupFieldsDto": {
        "type": "object",
        "properties": {
          "Title": {
            "$ref": "#/components/schemas/TitleSettingsDto"
          },
          "Date": {
            "$ref": "#/components/schemas/DateSettingsDto"
          },
          "Identifier": {
            "$ref": "#/components/schemas/IdentifierSettingsDto"
          },
          "Subject": {
            "$ref": "#/components/schemas/SubjectSettingsDto"
          },
          "Recommendation": {
            "$ref": "#/components/schemas/RecommendationSettingsDto"
          },
          "Sentiment": {
            "$ref": "#/components/schemas/SentimentSettingsDto"
          },
          "Link": {
            "$ref": "#/components/schemas/LinkSettingsDto"
          },
          "Note": {
            "$ref": "#/components/schemas/NoteSettingsDto"
          },
          "Source": {
            "$ref": "#/components/schemas/SourceSettingsDto"
          },
          "RelatedSymbols": {
            "$ref": "#/components/schemas/RelatedSymbolsSettingsDto"
          },
          "RelatedResearch": {
            "$ref": "#/components/schemas/RelatedResearchSettingsDto"
          },
          "RelatedContacts": {
            "$ref": "#/components/schemas/RelatedContactsSettingsDto"
          },
          "Team": {
            "$ref": "#/components/schemas/TeamSettingsDto"
          },
          "Organizer": {
            "$ref": "#/components/schemas/OrganizerSettingsDto"
          }
        },
        "additionalProperties": false
      },
      "HeadlineFormatConfigDto": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CustomString": {
            "type": "string",
            "nullable": true
          },
          "CustomFieldName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IdentifierSettingsDto": {
        "type": "object",
        "properties": {
          "AllowEdit": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "IntegerConfigDto": {
        "type": "object",
        "properties": {
          "SplitType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LinkSettingsDto": {
        "type": "object",
        "properties": {
          "IsHidden": {
            "type": "boolean"
          },
          "IsMandatory": {
            "type": "boolean"
          },
          "UsePrevious": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "NewItemDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "NoteSettingsDto": {
        "type": "object",
        "properties": {
          "IsHidden": {
            "type": "boolean"
          },
          "IsMandatory": {
            "type": "boolean"
          },
          "UsePrevious": {
            "type": "boolean"
          },
          "AllowPersonal": {
            "type": "boolean"
          },
          "DefaultStatus": {
            "type": "string",
            "nullable": true
          },
          "AlternativeCustomFieldId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NumericConfigDto": {
        "type": "object",
        "properties": {
          "Decimals": {
            "type": "integer",
            "format": "int32"
          },
          "SplitType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Operation": {
        "type": "object",
        "properties": {
          "OperationType": {
            "$ref": "#/components/schemas/OperationType"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "op": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OperationType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32"
      },
      "OptionsConfigDto": {
        "type": "object",
        "properties": {
          "MultiSelectEnabled": {
            "type": "boolean"
          },
          "OnTheFlyEnabled": {
            "type": "boolean"
          },
          "Options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrganizerSettingsDto": {
        "type": "object",
        "properties": {
          "IsHidden": {
            "type": "boolean"
          },
          "IsMandatory": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PhoneNumberTypeDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "IsStandard": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
[...]
