{
  "openapi": "3.0.1",
  "info": {
    "title": "IRN API v1",
    "description": "Allows users to create, update and configure IRN data.",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api-sandbox.factset.com/research/irn"
    }
  ],
  "paths": {
    "/v1/contact-custom-fields": {
      "get": {
        "tags": [
          "ContactCustomFields"
        ],
        "summary": "Get all the contact custom fields",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactCustomFieldDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContactCustomFields"
        ],
        "summary": "Create a contact custom field",
        "requestBody": {
          "description": "ContactCustomFieldSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-custom-fields/{contactCustomFieldId}": {
      "get": {
        "tags": [
          "ContactCustomFields"
        ],
        "summary": "Get a specific Contact custom field's details",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCustomFieldDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ContactCustomFields"
        ],
        "summary": "Edit a contact custom field",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactCustomFieldUpdateDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ContactCustomFields"
        ],
        "summary": "Delete a contact custom field",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-custom-fields/reorder": {
      "post": {
        "tags": [
          "ContactCustomFields"
        ],
        "summary": "Reorder contact custom fields",
        "requestBody": {
          "description": "List of Guid",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldListDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldListDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldListDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldListDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-relationships/{contactRelationshipId}": {
      "get": {
        "tags": [
          "ContactRelationships"
        ],
        "summary": "Get details on a specific contact relationship",
        "parameters": [
          {
            "name": "contactRelationshipId",
            "in": "path",
            "description": "contactRelationshipId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRelationshipTwoSidedDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ContactRelationships"
        ],
        "summary": "Update a contact relationship",
        "parameters": [
          {
            "name": "contactRelationshipId",
            "in": "path",
            "description": "contactRelationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactRelationshipPatch object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ContactRelationships"
        ],
        "summary": "Delete a contact relationship",
        "parameters": [
          {
            "name": "contactRelationshipId",
            "in": "path",
            "description": "contactRelationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-relationships": {
      "post": {
        "tags": [
          "ContactRelationships"
        ],
        "summary": "Create a contact relationship",
        "requestBody": {
          "description": "contactRelationship object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRelationshipTwoSidedSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ContactRelationships"
        ],
        "summary": "Get all the relationships where the given symbol or contact identifier has been tagged in a relationship",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "relationshipId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRelationshipTwoSidedDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-roles": {
      "get": {
        "tags": [
          "ContactRoles"
        ],
        "summary": "Get list of the contact roles configured in your group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRoleDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContactRoles"
        ],
        "summary": "Create contact roles",
        "requestBody": {
          "description": "Contact role name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-roles/{contactRoleId}": {
      "put": {
        "tags": [
          "ContactRoles"
        ],
        "summary": "Edit a contact role",
        "parameters": [
          {
            "name": "contactRoleId",
            "in": "path",
            "description": "contactRoleId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact role name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ContactRoles"
        ],
        "summary": "Delete a contact role",
        "parameters": [
          {
            "name": "contactRoleId",
            "in": "path",
            "description": "contactRoleId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get list of all contacts in your group along with some of their standard field data",
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "description": "Filter results on fullName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailAddress",
            "in": "query",
            "description": "Filter results on emailAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Filter results on identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employerName",
            "in": "query",
            "description": "Filter results on employerName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldValues",
            "in": "query",
            "description": "Includes custom field values in response if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter results on the combination of fullName, emailAddress, identifier and employerName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeLastMeetingDate",
            "in": "query",
            "description": "If true, returns when they were last tagged as an attendee in an IRN meeting",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Restrict number of records returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactSummaryDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "requestBody": {
          "description": "contactSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all custom field and standard field details on a specific contact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Edit a contact’s standard field and custom field data",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactSaveDtoPatch object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/about": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get the About field content for a specific contact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId of associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/records": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all notes and meetings where a specific contact was tagged",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated records",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecordPreviewDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/events": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact’s audit history",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated records",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactEventDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}/relationships": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Returns a list of a contact’s relationships",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contactId to get associated records",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRelationshipDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-types": {
      "get": {
        "tags": [
          "ContactTypes"
        ],
        "summary": "Get list of the contact types configured in your group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContactTypes"
        ],
        "summary": "Create contact types",
        "requestBody": {
          "description": "Contact type name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact-types/{contactTypeId}": {
      "put": {
        "tags": [
          "ContactTypes"
        ],
        "summary": "Edit a contact type",
        "parameters": [
          {
            "name": "contactTypeId",
            "in": "path",
            "description": "contactTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact type name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ContactTypes"
        ],
        "summary": "Delete a contact type",
        "parameters": [
          {
            "name": "contactTypeId",
            "in": "path",
            "description": "contactTypeId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/phone-number-types": {
      "get": {
        "tags": [
          "PhoneNumberTypes"
        ],
        "summary": "Get list of the phone types configured in your group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumberTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PhoneNumberTypes"
        ],
        "summary": "Create a phone type",
        "requestBody": {
          "description": "To add phoneNumberType",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/phone-number-types/{phoneNumberTypeId}": {
      "put": {
        "tags": [
          "PhoneNumberTypes"
        ],
        "summary": "Edit a phone type",
        "parameters": [
          {
            "name": "phoneNumberTypeId",
            "in": "path",
            "description": "phoneNumberTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Update with phoneNumberType",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PhoneNumberTypes"
        ],
        "summary": "Delete a phone type",
        "parameters": [
          {
            "name": "phoneNumberTypeId",
            "in": "path",
            "description": "phoneNumberTypeId for deleting associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-categories": {
      "get": {
        "tags": [
          "RelationshipCategories"
        ],
        "summary": "Get list of the relationship categories configured in your group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipCategoryDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "RelationshipCategories"
        ],
        "summary": "Create a relationship category",
        "requestBody": {
          "description": "RelationshipCategorySaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-categories/{relationshipCategoryId}": {
      "put": {
        "tags": [
          "RelationshipCategories"
        ],
        "summary": "Edit a relationship category",
        "parameters": [
          {
            "name": "relationshipCategoryId",
            "in": "path",
            "description": "relationshipCategoryId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "RelationshipCategorySaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RelationshipCategories"
        ],
        "summary": "Delete a relationship category",
        "parameters": [
          {
            "name": "relationshipCategoryId",
            "in": "path",
            "description": "relationshipCategoryId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-categories/reorder": {
      "post": {
        "tags": [
          "RelationshipCategories"
        ],
        "summary": "Reorder relationship categories",
        "requestBody": {
          "description": "List of Guid",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationships": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Get list of the relationships configured in your group",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RelationshipType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Relationships"
        ],
        "summary": "Create a relationship type",
        "requestBody": {
          "description": "RelationshipSaveDto object to save",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationships/{relationshipId}": {
      "put": {
        "tags": [
          "Relationships"
        ],
        "summary": "Edit a relationship type",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "description": "relationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "RelationshipSaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Relationships"
        ],
        "summary": "Delete a relationship type",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "description": "relationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FormulaConfigDto": {
        "type": "object",
        "properties": {
          "formula": {
            "type": "string",
            "nullable": true
          },
          "formulaType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldOptionDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "order": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "isHidden": {
            "type": "boolean"
          },
          "isMandatory": {
            "type": "boolean"
          },
          "formulaConfig": {
            "$ref": "#/components/schemas/FormulaConfigDto"
          },
          "contactCustomFieldOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldType": {
        "enum": [
          "None",
          "Text",
          "Email",
          "Link",
          "SingleOptions",
          "MultiOptions",
          "Numeric",
          "Date"
        ],
        "type": "string"
      },
      "ContactCustomFieldFormulaDto": {
        "type": "object",
        "properties": {
          "formula": {
            "maxLength": 2040,
            "type": "string",
            "nullable": true
          },
          "isScreening": {
            "type": "boolean",
            "default": false
          },
          "symbol": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldOptionSaveDto": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldSaveDto": {
        "required": [
          "code",
          "isHidden",
          "isMandatory",
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "code": {
            "maxLength": 32,
            "type": "string",
            "nullable": true
          },
          "name": {
            "maxLength": 100,
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/ContactCustomFieldType"
          },
          "isHidden": {
            "type": "boolean",
            "default": false
          },
          "isMandatory": {
            "type": "boolean",
            "default": false
          },
          "fieldFormula": {
            "$ref": "#/components/schemas/ContactCustomFieldFormulaDto"
          },
          "contactCustomFieldOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionSaveDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "Operation": {
        "type": "object",
        "properties": {
          "value": {
            "type": "object",
            "additionalProperties": false,
            "nullable": true
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "op": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldListDto": {
        "required": [
          "ids"
        ],
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipCategoryIdNameDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipIdNameDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactIdNameDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SymbolType": {
        "enum": [
          "UNKNOWN",
          "ACCOUNT",
          "CUSTOM",
          "INSTRUMENT",
          "CONTACT",
          "MARKET_NOTE",
          "PORTFOLIO"
        ],
        "type": "string"
      },
      "RelationshipSymbolSummaryDto": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/SymbolType"
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipTwoSidedDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationshipCategory": {
            "$ref": "#/components/schemas/RelationshipCategoryIdNameDto"
          },
          "relationship": {
            "$ref": "#/components/schemas/RelationshipIdNameDto"
          },
          "leftContact": {
            "$ref": "#/components/schemas/ContactIdNameDto"
          },
          "rightContact": {
            "$ref": "#/components/schemas/ContactIdNameDto"
          },
          "symbol": {
            "$ref": "#/components/schemas/RelationshipSymbolSummaryDto"
          },
          "isCurrent": {
            "type": "boolean"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipTwoSidedSaveDto": {
        "type": "object",
        "properties": {
          "relationshipId": {
            "type": "string",
            "format": "uuid"
          },
          "leftContactId": {
            "type": "string",
            "format": "uuid"
          },
          "rightContactId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "isCurrent": {
            "type": "boolean"
          },
          "symbolId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "symbol": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRoleDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactTypeDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlternativeEmailAddressDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldOptionValueDto": {
        "type": "object",
        "properties": {
          "optionId": {
            "type": "string",
            "format": "uuid"
          },
          "optionName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldValueDto": {
        "type": "object",
        "properties": {
          "fieldCode": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "optionValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactSummaryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "primaryEmailAddress": {
            "type": "string",
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "employerName": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "stateProvince": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/ContactRoleDto"
          },
          "type": {
            "$ref": "#/components/schemas/ContactTypeDto"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "lastMeeting": {
            "type": "string",
            "nullable": true
          },
          "alternativeEmailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternativeEmailAddressDto"
            },
            "nullable": true
          },
          "customFieldValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactAddressDto": {
        "type": "object",
        "properties": {
          "googleMapsPlaceId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "formattedAddress": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "city": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "stateProvince": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "country": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactPhoneSaveDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "number": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "typeId": {
            "type": "string",
            "format": "uuid"
          },
          "isPrimary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipSaveDto": {
        "type": "object",
        "properties": {
          "relationshipId": {
            "type": "string",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "isCurrent": {
            "type": "boolean"
          },
          "symbol": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactCustomFieldValueSaveDto": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "optionValues": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "evaluateFormula": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "ContactSaveDto": {
        "type": "object",
        "properties": {
          "primaryEmailAddress": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "linkedInProfile": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "personSymbol": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "roleId": {
            "type": "string",
            "format": "uuid"
          },
          "typeId": {
            "type": "string",
            "format": "uuid"
          },
          "address": {
            "$ref": "#/components/schemas/ContactAddressDto"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhoneSaveDto"
            },
            "nullable": true
          },
          "leftRelationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactRelationshipSaveDto"
            },
            "nullable": true
          },
          "rightRelationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactRelationshipSaveDto"
            },
            "nullable": true
          },
          "alternativeEmailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternativeEmailAddressDto"
            },
            "nullable": true
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldValueSaveDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EmployerDto": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "factsetIdentifier": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PhoneNumberTypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "isStandard": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactPhoneDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "number": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/PhoneNumberTypeDto"
          },
          "isPrimary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "primaryEmailAddress": {
            "type": "string",
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/ContactAddressDto"
          },
          "linkedInProfile": {
            "type": "string",
            "nullable": true
          },
          "isDeleted": {
            "type": "boolean"
          },
          "employer": {
            "$ref": "#/components/schemas/EmployerDto"
          },
          "role": {
            "$ref": "#/components/schemas/ContactRoleDto"
          },
          "type": {
            "$ref": "#/components/schemas/ContactTypeDto"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactPhoneDto"
            },
            "nullable": true
          },
          "alternativeEmailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternativeEmailAddressDto"
            },
            "nullable": true
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RecordPreviewDto": {
        "type": "object",
        "properties": {
          "noteGuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "meetingGuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "ContactEventUpdateDto": {
        "type": "object",
        "properties": {
          "fieldName": {
            "type": "string",
            "nullable": true
          },
          "oldValue": {
            "type": "string",
            "nullable": true
          },
          "newValue": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactEventDto": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEventUpdateDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ContactRelationshipDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationshipCategory": {
            "$ref": "#/components/schemas/RelationshipCategoryIdNameDto"
          },
          "relationship": {
            "$ref": "#/components/schemas/RelationshipIdNameDto"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactIdNameDto"
          },
          "symbol": {
            "$ref": "#/components/schemas/RelationshipSymbolSummaryDto"
          },
          "isCurrent": {
            "type": "boolean"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationshipCategoryId": {
            "type": "string",
            "format": "uuid"
          },
          "relationshipCode": {
            "type": "string",
            "nullable": true
          },
          "bidirectionalName": {
            "type": "string",
            "nullable": true
          },
          "leftToRightName": {
            "type": "string",
            "nullable": true
          },
          "rightToLeftName": {
            "type": "string",
            "nullable": true
          },
          "hideDates": {
            "type": "boolean"
          },
          "hideComment": {
            "type": "boolean"
          },
          "hideCompany": {
            "type": "boolean"
          },
          "isCustomisable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "RelationshipCategoryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isStandard": {
            "type": "boolean"
          },
          "isContactToContact": {
            "type": "boolean"
          },
          "isContactToSymbol": {
            "type": "boolean"
          },
          "relationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelationshipDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipCategorySaveDto": {
        "required": [
          "categoryName"
        ],
        "type": "object",
        "properties": {
          "categoryName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "isContactToContact": {
            "type": "boolean",
            "default": false
          },
          "isContactToSymbol": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "RelationshipCategoryListDto": {
        "required": [
          "ids"
        ],
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelationshipType": {
        "enum": [
          "All",
          "ContactToContact",
          "ContactToSymbol"
        ],
        "type": "string"
      },
      "RelationshipSaveDto": {
        "required": [
          "hideComment",
          "hideCompany",
          "hideDates",
          "relationshipCategoryId"
        ],
        "type": "object",
        "properties": {
          "relationshipCategoryId": {
            "type": "string",
            "format": "uuid"
          },
          "relationshipCode": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "bidirectionalName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "leftToRightName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "rightToLeftName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "hideDates": {
            "type": "boolean",
            "default": false
          },
          "hideComment": {
            "type": "boolean",
            "default": false
          },
          "hideCompany": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ]
}