{
  "openapi": "3.0.1",
  "info": {
    "title": "IRN API v1",
    "description": "Allows users to extract, create, update and configure IRN data.",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.factset.com/research/irn/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api-sandbox.factset.com/research/irn/v1",
      "description": "Sandbox Server"
    }
  ],
  "paths": {
    "/authors": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Authors",
        "description": "Get all Authors",
        "operationId": "GetAuthors",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "description": "If set to true, permissions will be ignored. Default is false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorConfigDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact-custom-fields": {
      "get": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Get all the contact custom fields",
        "description": "Get all the contact custom fields",
        "operationId": "GetContactCustomFields",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactCustomFieldDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Create a contact custom field",
        "description": "Create a contact custom field with given name and type",
        "operationId": "CreateContactCustomField",
        "requestBody": {
          "description": "ContactCustomFieldSaveDto object to save",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCustomFieldSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact-custom-fields/{contactCustomFieldId}": {
      "get": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Get a specific Contact custom field's details",
        "description": "Get all details of custom field's defined for contacts",
        "operationId": "GetContactCustomField",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCustomFieldDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Edit a contact custom field",
        "description": "Update a contact custom field configuration",
        "operationId": "PatchContactCustomField",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "contactCustomFieldUpdateDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - CustomFields"
        ],
        "summary": "Delete a contact custom field",
        "description": "Delete a contact custom field based on guid",
        "operationId": "DeleteContactCustomField",
        "parameters": [
          {
            "name": "contactCustomFieldId",
            "in": "path",
            "description": "contactCustomFieldId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact-roles": {
      "get": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Get list of the contact roles configured in your group",
        "description": "Get all contact roles configured in your group",
        "operationId": "GetContactRoles",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactRoleDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Create contact roles",
        "description": "Create a contact role with given name and type",
        "operationId": "CreateContactRole",
        "requestBody": {
          "description": "Contact role name",
          "content": {
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact-types": {
      "get": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Get list of the contact types configured in your group",
        "description": "Get all contact types configured in your group",
        "operationId": "GetContactTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Create contact types",
        "description": "Create contact type with given name",
        "operationId": "CreateContactType",
        "requestBody": {
          "description": "Contact type name",
          "content": {
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Custom Fields",
        "description": "Get all customfields configured in your group",
        "operationId": "GetCustomFields",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldConfigDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/custom-symbol-custom-fields": {
      "get": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Get all the Custom symbol custom fields",
        "description": "Get all custom fields configured for custom symbols configured in your group",
        "operationId": "GetCustomSymbolCustomFields",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomSymbolCustomFieldConfigDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Create a Custom symbol custom field",
        "description": "Create a contact custom field with given name and type",
        "operationId": "CreateCustomSymbolCustomField",
        "requestBody": {
          "description": "createCustomSymbolCustomFieldDto object to save",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomSymbolCustomFieldDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/custom-symbol-custom-fields/{customSymbolCustomFieldId}": {
      "get": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Get a specific Custom symbol custom field's details",
        "description": "Get details of a given custom field configured for custom symbols",
        "operationId": "GetCustomSymbolCustomField",
        "parameters": [
          {
            "name": "customSymbolCustomFieldId",
            "in": "path",
            "description": "customSymbolCustomFieldId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomSymbolCustomFieldConfigDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Edit a Custom symbol custom field",
        "description": "Update a custom field configuration for custom symbols",
        "operationId": "PatchCustomSymbolCustomField",
        "parameters": [
          {
            "name": "customSymbolCustomFieldId",
            "in": "path",
            "description": "customSymbolCustomFieldId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "customSymbolCustomFieldUpdateDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomSymbols - CustomFields"
        ],
        "summary": "Delete a Custom symbol custom field",
        "description": "Delete a custom field configured for custom symbols",
        "operationId": "DeleteCustomSymbolCustomField",
        "parameters": [
          {
            "name": "customSymbolCustomFieldId",
            "in": "path",
            "description": "customSymbolCustomFieldId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/custom-symbol-types": {
      "get": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Get all the custom symbol types",
        "description": "Get all custom symbol types configured in your group",
        "operationId": "GetCustomSymbolTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomSymbolTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Create a Custom symbol type",
        "description": "Create a custom symbol type with given name",
        "operationId": "CreateCustomSymbolType",
        "requestBody": {
          "description": "saveCustomSymbolTypeDto object to save",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveCustomSymbolTypeDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/custom-symbol-types/{customSymbolTypeId}": {
      "get": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Get a specific Custom symbol type's details",
        "description": "Get details of a given custom symbol type",
        "operationId": "GetCustomSymbolType",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to get associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomSymbolTypeDetailDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Edit a Custom symbol type",
        "description": "Update a custom symbol type configuration",
        "operationId": "UpdateCustomSymbolType",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "updateCustomSymbolTypeDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomSymbolTypeDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Delete a Custom symbol type",
        "description": "Delete a custom symbol type based on guid",
        "operationId": "DeleteCustomSymbolTypeAsync",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/custom-symbol-types/{customSymbolTypeId}/custom-fields": {
      "get": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "summary": "Get Custom fields for Custom Symbol type",
        "description": "Get all custom fields configured for custom symbols configured in your group",
        "operationId": "GetSymbolCustomFieldsForCustomSymbolType",
        "parameters": [
          {
            "name": "customSymbolTypeId",
            "in": "path",
            "description": "customSymbolTypeId to get associated Custom fileds",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomSymbolCustomFieldConfigDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/group": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get Group details",
        "description": "Get all the group details",
        "operationId": "GetGroup",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupConfigDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/group/client-sales-representative": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "operationId": "GetClientsSalesRepresentative",
        "summary": "Get Client Sales Representative",
        "description": "Get the client sales representative for the group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSalesRepresentativeDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/phone-number-types": {
      "get": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Get list of the phone types configured in your group",
        "description": "Get all phone types configured in your group",
        "operationId": "GetPhoneNumberTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumberTypeDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Create a phone type",
        "description": "Create a phone type with given name",
        "operationId": "CreatePhoneNumberType",
        "requestBody": {
          "description": "To add phoneNumberType",
          "content": {
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Recommendations",
        "description": "Get all recommendations configured in your group",
        "operationId": "GetRecommendations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecommendationConfigDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/relationship-categories": {
      "get": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Get list of the relationship categories configured in your group",
        "description": "Get all relationship categories configured in your group",
        "operationId": "GetRelationshipCategories",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipCategoryDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Create a relationship category",
        "description": "Create a relationship category with given name",
        "operationId": "CreateRelationshipCategory",
        "requestBody": {
          "description": "RelationshipCategorySaveDto object to save",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/relationships": {
      "get": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Get list of the relationships configured in your group",
        "description": "Get all contact relationships configured in your group",
        "operationId": "GetRelationships",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RelationshipType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Create a relationship type",
        "description": "Create a contact relationship type with given name",
        "operationId": "CreateContactRelationshipType",
        "requestBody": {
          "description": "RelationshipSaveDto object to save",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sentiments": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Sentiments",
        "description": "Get all sentiments configured in your group",
        "operationId": "GetSentiments",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentimentConfigDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subjects": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Subjects",
        "description": "Get all subjects configured in your group",
        "operationId": "GetSubjects",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubjectSummaryDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/subjects/{subjectId}": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get Subject details for the given Id provided",
        "description": "Get all details of a given subject",
        "operationId": "GetSubject",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectConfigDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/symbols-relationships": {
      "get": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Get all the Symbols Relationships",
        "description": "Get all symbols relationships configured in your group",
        "operationId": "GetSymbolsRelationships",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymbolsRelationshipDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Create a symbol relationship",
        "description": "Create a symbol relationship with given name",
        "operationId": "CreateSymbolRelationshipType",
        "requestBody": {
          "description": "symbolsRelationshipSaveDto object to save",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all Teams",
        "description": "Get all teams configured in your group",
        "operationId": "GetTeams",
        "parameters": [
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "description": "If set to true, permissions will be ignored. Default is false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamSummaryDto"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get Team details for the given Id provided",
        "description": "Get all details of a given team",
        "operationId": "GetTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-IRN-Ignore-Permissions",
            "in": "header",
            "description": "If set to true, permissions will be ignored. Default is false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamConfigDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Notes - Configuration"
        ],
        "summary": "Get all assigned FactSet users",
        "description": "Get all assigned FactSet users in your group",
        "operationId": "GetAssignedFactSetUsers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserConfigDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom-symbol-types/reorder": {
      "post": {
        "tags": [
          "CustomSymbols - Types"
        ],
        "operationId": "UpdateCustomSymbolTypeOrder",
        "summary": "Reorder custom symbol types",
        "description": "Reorder custom symbol types that are configured in your group",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderCustomSymbolTypeDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/relationship-categories/reorder": {
      "post": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Reorder relationship categories",
        "description": "Reorder relationship categories that are configured in your group",
        "operationId": "UpdateRelationshipCategoryOrder",
        "requestBody": {
          "description": "List of Guid",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategoryListDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact-roles/{contactRoleId}": {
      "put": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Edit a contact role",
        "description": "Update a contact role name and other details",
        "operationId": "UpdateContactRole",
        "parameters": [
          {
            "name": "contactRoleId",
            "in": "path",
            "description": "contactRoleId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact role name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Roles"
        ],
        "summary": "Delete a contact role",
        "description": "Delete a contact role based on guid",
        "operationId": "DeleteContactRole",
        "parameters": [
          {
            "name": "contactRoleId",
            "in": "path",
            "description": "contactRoleId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact-types/{contactTypeId}": {
      "put": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Edit a contact type",
        "description": "Update a contact type",
        "operationId": "UpdateContactType",
        "parameters": [
          {
            "name": "contactTypeId",
            "in": "path",
            "description": "contactTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact type name",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Types"
        ],
        "summary": "Delete a contact type",
        "description": "Delete a contact type based on guid",
        "operationId": "DeleteContactType",
        "parameters": [
          {
            "name": "contactTypeId",
            "in": "path",
            "description": "contactTypeId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/phone-number-types/{phoneNumberTypeId}": {
      "put": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Edit a phone type",
        "description": "Update a phone number type",
        "operationId": "UpdatePhoneNumberType",
        "parameters": [
          {
            "name": "phoneNumberTypeId",
            "in": "path",
            "description": "phoneNumberTypeId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Update with phoneNumberType",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "maxLength": 50,
                "minLength": 0,
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - PhoneNumberTypes"
        ],
        "summary": "Delete a phone type",
        "description": "Delete a phone number type based on guid",
        "operationId": "DeletePhoneNumberType",
        "parameters": [
          {
            "name": "phoneNumberTypeId",
            "in": "path",
            "description": "phoneNumberTypeId for deleting associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/relationship-categories/{relationshipCategoryId}": {
      "put": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Edit a relationship category",
        "description": "Update details of contact relationship category",
        "operationId": "EditRelationshipCategory",
        "parameters": [
          {
            "name": "relationshipCategoryId",
            "in": "path",
            "description": "relationshipCategoryId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "RelationshipCategorySaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipCategorySaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Relationship Category"
        ],
        "summary": "Delete a relationship category",
        "description": "Delete a contact relationship category based on guid",
        "operationId": "DeleteRelationshipCategory",
        "parameters": [
          {
            "name": "relationshipCategoryId",
            "in": "path",
            "description": "relationshipCategoryId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/relationships/{relationshipId}": {
      "put": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Edit a relationship type",
        "description": "Update a contact relationship type",
        "operationId": "EditRelationship",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "description": "relationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "RelationshipSaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipSaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts - Relationships"
        ],
        "summary": "Delete a relationship type",
        "description": "Delete a contact relationship type based on guid",
        "operationId": "DeleteRelationship",
        "parameters": [
          {
            "name": "relationshipId",
            "in": "path",
            "description": "relationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/symbols-relationships/{symbolsRelationshipId}": {
      "put": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Edit a symbol relationship",
        "description": "Update a symbol relationship",
        "operationId": "EditSymbolsRelationship",
        "parameters": [
          {
            "name": "symbolsRelationshipId",
            "in": "path",
            "description": "symbolsRelationshipId to update associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "SymbolsRelationShipSaveDto object to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SymbolsRelationShipSaveDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomSymbols - Relationships"
        ],
        "summary": "Delete a symbol relationship",
        "description": "Delete a symbol relationship based on guid",
        "operationId": "DeleteSymbolsRelationship",
        "parameters": [
          {
            "name": "symbolsRelationshipId",
            "in": "path",
            "description": "symbolsRelationshipId to delete associated record",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApprovalLevelConfigDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "approverIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "nullable": true
      },
      "ApprovalProcessConfigDto": {
        "type": "object",
        "properties": {
          "approvalLevels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovalLevelConfigDto"
            },
            "nullable": true
          },
          "viewerIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "pendingNotesVisible": {
            "type": "string",
            "nullable": true
          },
          "deniedNotesVisible": {
            "type": "string",
            "nullable": true
          },
          "shouldSendEmailAlertsWhenSubmittedForApproval": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsWhenApproved": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsWhenDenied": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsToAuthor": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsToApprovers": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsToViewers": {
            "type": "boolean"
          },
          "canAuthorSelfApprove": {
            "type": "boolean"
          },
          "canAuthorEditPending": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "AuthorConfigDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "serialNumber": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "team": {
            "$ref": "#/components/schemas/TeamSummaryDto"
          }
        },
        "nullable": true
      },
      "ClientSalesRepresentativeDto": {
        "type": "object",
        "properties": {
          "fullname": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CommentaryConfigDto": {
        "type": "object",
        "properties": {
          "shouldSendEmailAlertsToAuthor": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsToCommenters": {
            "type": "boolean"
          },
          "shouldSendEmailAlertsToAll": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "ContactCustomFieldDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "isHidden": {
            "type": "boolean"
          },
          "isMandatory": {
            "type": "boolean"
          },
          "formulaConfig": {
            "$ref": "#/components/schemas/FormulaConfigDto"
          },
          "contactCustomFieldOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionDto"
            },
            "nullable": true
          }
        },
        "nullable": true
      },
      "ContactCustomFieldFormulaDto": {
        "type": "object",
        "properties": {
          "formula": {
            "maxLength": 2040,
            "type": "string",
            "nullable": true
          },
          "isScreening": {
            "type": "boolean",
            "default": false
          },
          "symbol": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "ContactCustomFieldOptionDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "order": {
            "type": "integer",
            "format": "int32"
          }
        },
        "nullable": true
      },
      "ContactCustomFieldOptionSaveDto": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "ContactCustomFieldSaveDto": {
        "required": [
          "code",
          "isHidden",
          "isMandatory",
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "code": {
            "maxLength": 32,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ContactCustomFieldType"
          },
          "isHidden": {
            "type": "boolean",
            "default": false
          },
          "isMandatory": {
            "type": "boolean",
            "default": false
          },
          "fieldFormula": {
            "$ref": "#/components/schemas/ContactCustomFieldFormulaDto"
          },
          "contactCustomFieldOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactCustomFieldOptionSaveDto"
            },
            "nullable": true
          }
        }
      },
      "ContactCustomFieldType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "type": "integer",
        "format": "int32",
        "description": "Type can be one of 0- None, 1-Text, 2-Email, 3-Link, 4-SingleOptions, 5-MultiOptions, 6-Numeric, 7-Date"
      },
      "ContactRoleDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        },
        "nullable": true
      },
      "ContactTypeDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        },
        "nullable": true
      },
      "CreateCustomSymbolCustomFieldDto": {
        "required": [
          "code",
          "customSymbolTypes",
          "isHidden",
          "isMandatory",
          "isShownInInfobox",
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "code": {
            "maxLength": 32,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string"
          },
          "type": {
            "minLength": 1,
            "type": "string",
            "description": "Type can be one of Text, SingleOption, MultiOptions, Numeric, Date, ExtendedText, ContactLookup"
          },
          "isHidden": {
            "type": "boolean",
            "default": false
          },
          "isMandatory": {
            "type": "boolean",
            "default": false
          },
          "isShownInInfobox": {
            "type": "boolean",
            "default": true
          },
          "formulaConfig": {
            "$ref": "#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto"
          },
          "optionsConfig": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "customSymbolTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "CustomFieldConfigDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "usePreviousValue": {
            "type": "boolean"
          },
          "isMandatory": {
            "type": "boolean"
          },
          "isHidden": {
            "type": "boolean"
          },
          "isFilePath": {
            "type": "boolean"
          },
          "isCalculated": {
            "type": "boolean"
          },
          "hasPairedField": {
            "type": "boolean"
          },
          "formulaConfig": {
            "$ref": "#/components/schemas/FormulaConfigDto"
          },
          "numericConfig": {
            "$ref": "#/components/schemas/NumericConfigDto"
          },
          "integerConfig": {
            "$ref": "#/components/schemas/IntegerConfigDto"
          },
          "extendedTextConfig": {
            "$ref": "#/components/schemas/ExtendedTextConfigDto"
          },
          "optionsConfig": {
            "$ref": "#/components/schemas/OptionsConfigDto"
          },
          "userTeamConfig": {
            "$ref": "#/components/schemas/UserTeamConfigDto"
          }
        },
        "nullable": true
      },
      "CustomFieldTeamConfigDto": {
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "format": "uuid"
          },
          "teamName": {
            "type": "string",
            "nullable": true
          },
          "fieldName": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "CustomFieldUserTeamLookupFilterType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32",
        "description": "Type can be one of 0-Users, 1-Teams, 2-Both"
      },
      "CustomSymbolCustomFieldConfigDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "isHidden": {
            "type": "boolean"
          },
          "isMandatory": {
            "type": "boolean"
          },
          "isShownInInfobox": {
            "type": "boolean"
          },
          "formulaConfig": {
            "$ref": "#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto"
          },
          "optionsConfig": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "customSymbolTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomSymbolTypeSummaryDto"
            },
            "nullable": true
          }
        },
        "nullable": true
      },
      "CustomSymbolCustomFieldFormulaConfigDto": {
        "required": [
          "formula",
          "formulaType"
        ],
        "type": "object",
        "properties": {
          "formula": {
            "maxLength": 2040,
            "minLength": 1,
            "type": "string"
          },
          "formulaType": {
            "minLength": 1,
            "type": "string"
          }
        },
        "nullable": true
      },
      "CustomSymbolSubTypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "CustomSymbolTypeDetailDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "hideAddressField": {
            "type": "boolean"
          },
          "hideSymbolSubType": {
            "type": "boolean"
          },
          "isDefault": {
            "type": "boolean"
          },
          "dueDiligenceSymbolEntityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "subTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomSymbolSubTypeDto"
            },
            "nullable": true
          }
        },
        "nullable": true
      },
      "CustomSymbolTypeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "hideAddressField": {
            "type": "boolean"
          },
          "hideSymbolSubType": {
            "type": "boolean"
          },
          "isDefault": {
            "type": "boolean"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          },
          "dueDiligenceSymbolEntityType": {
            "$ref": "#/components/schemas/EntityType"
          }
        },
        "nullable": true
      },
      "CustomSymbolTypeSummaryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "DateSettingsDto": {
        "type": "object",
        "properties": {
          "allowEdit": {
            "type": "boolean"
          },
          "isLocked": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "EntityType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "type": "integer",
        "format": "int32",
        "description": "Type can be one of 0-Unknown, 1-Contact, 2-Firm, 3-Product, 4-Project, 5-Classification,6-Template, 7-Country"
      },
      "ExtendedTextConfigDto": {
        "type": "object",
        "properties": {
          "maxChars": {
            "type": "integer",
            "format": "int32"
          }
        },
        "nullable": true
      },
      "FormulaConfigDto": {
        "type": "object",
        "properties": {
          "formula": {
            "type": "string",
            "nullable": true
          },
          "formulaType": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "GroupConfigDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "fields": {
            "$ref": "#/components/schemas/GroupFieldsDto"
          }
        },
        "nullable": true
      },
      "GroupFieldsDto": {
        "type": "object",
        "properties": {
          "title": {
            "$ref": "#/components/schemas/TitleSettingsDto"
          },
          "date": {
            "$ref": "#/components/schemas/DateSettingsDto"
          },
          "identifier": {
            "$ref": "#/components/schemas/IdentifierSettingsDto"
          },
          "subject": {
            "$ref": "#/components/schemas/SubjectSettingsDto"
          },
          "recommendation": {
            "$ref": "#/components/schemas/RecommendationSettingsDto"
          },
          "sentiment": {
            "$ref": "#/components/schemas/SentimentSettingsDto"
          },
          "link": {
            "$ref": "#/components/schemas/LinkSettingsDto"
          },
          "note": {
            "$ref": "#/components/schemas/NoteSettingsDto"
          },
          "source": {
            "$ref": "#/components/schemas/SourceSettingsDto"
          },
          "relatedSymbols": {
            "$ref": "#/components/schemas/RelatedSymbolsSettingsDto"
          },
          "relatedResearch": {
            "$ref": "#/components/schemas/RelatedResearchSettingsDto"
          },
          "relatedContacts": {
            "$ref": "#/components/schemas/RelatedContactsSettingsDto"
          },
          "team": {
            "$ref": "#/components/schemas/TeamSettingsDto"
          },
          "organizer": {
            "$ref": "#/components/schemas/OrganizerSettingsDto"
          }
        },
        "nullable": true
      },
      "HeadlineFormatConfigDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "customString": {
            "type": "string",
            "nullable": true
          },
          "customFieldName": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "IdentifierSettingsDto": {
        "type": "object",
        "properties": {
          "allowEdit": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "IntegerConfigDto": {
        "type": "object",
        "properties": {
          "splitType": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "LinkSettingsDto": {
        "type": "object",
        "properties": {
          "isHidden": {
            "type": "boolean"
          },
          "isMandatory": {
            "type": "boolean"
          },
          "usePrevious": {
            "type": "boolean"
          }
        },
        "nullable": true
      },
      "NewItemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "nullable": true
      },
      "NoteSettingsDto": {
        "type": "object",
        "properties": {
          "isHidden": {
            "type": "boolean"
          },
          "isMandatory": {
            "type": "boolean"
          },
          "usePrevious": {
            "type": "boolean"
          },
          "allowPersonal": {
            "type": "boolean"
          },
          "defaultStatus": {
            "type": "string",
            "nullable": true
          },
          "alternativeCustomFieldId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "nullable": true
      },
      "NumericConfigDto": {
        "type": "object",
        "properties": {
          "decimals": {
            "type": "integer",
            "format": "int32"
          },
          "splitType": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "Operation": {
        "type": "object",
        "properties": {
          "operationType": {
            "$ref": "#/components/schemas/OperationType"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "op": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "nullable": true
          }
        },
        "nullable": true
      },
      "OperationType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32",
        "description": "Type can be one of 0-Add, 1-Remove, 2-Replace, 3-Move, 4-Copy, 5-Test, 6-Get"
      },
      "OptionsConfigDto": {
        "type": "object",
        "properties": {
          "multiSelectEnabled": {
            "type": "boolean"
          },
          "onTheFlyEnabled": {
            "type": "boolean"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "nullable": true
      },
      "OrganizerSettingsDto": {
        "type": "object",
        "properties": {
          "isHidden": {
[...]
