{
  "openapi": "3.0.1",
  "info": {
    "title": "IRN API v1",
    "description": "Allows users to extract, create, update and configure IRN data.",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.factset.com/research/irn",
      "description": "Production Server"
    },
    {
      "url": "https://api-sandbox.factset.com/research/irn",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get all the record events in the specified date range filtered on the given types",
        "operationId": "GetAllEvents",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "StartDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "EndDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Set of event types to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Returns events list",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventSnippetDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventSnippetDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventSnippetDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Returns error message"
          }
        }
      }
    },
    "/v1/identifiers": {
      "get": {
        "tags": [
          "Identifiers"
        ],
        "summary": "Get all the identifier details for given identifiers",
        "operationId": "GetIdentifiers",
        "parameters": [
          {
            "name": "identifiers",
            "in": "query",
            "description": "Identifiers",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdentifierResolutionDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get all the notes in the specified date range filtered on the given identifiers",
        "operationId": "GetNotes",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "StartDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "EndDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifiers",
            "in": "query",
            "description": "Set of identifiers to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "authors",
            "in": "query",
            "description": "Set of authors to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "subjects",
            "in": "query",
            "description": "Set of subjects to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "recommendations",
            "in": "query",
            "description": "Set of recommendations to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "sentiments",
            "in": "query",
            "description": "Set of sentiments to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit on the number of notes retrieved",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Fetch notes after the offset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "description": "Only return notes which have been modified or created since a particular time",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Set of states to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterOnRelatedSymbols",
            "in": "query",
            "description": "Include notes whose related symbols match the identifier filter",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-IRN-Include-Deleted",
            "in": "header",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteSummaryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Create a note",
        "operationId": "CreateNote",
        "parameters": [
          {
            "name": "X-IRN-Contributor-Username",
            "in": "header",
            "schema": {
              "maxLength": 30,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "X-IRN-Contributor-Serial",
            "in": "header",
            "schema": {
              "maxLength": 8,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success - Returns unique identifier of the note created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get details of a note",
        "operationId": "GetNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "Note Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notes"
        ],
        "summary": "Update a note",
        "operationId": "UpdateNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "Note Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Note details to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete a Note",
        "operationId": "DeleteNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}/attachments": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Get all the attachments belonging to a note",
        "operationId": "GetAttachments",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "Note Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentSummaryDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create an attachment for an existing note",
        "operationId": "CreateAttachment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}/attachments/{attachmentId}/download": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Download an attachment from a Note",
        "operationId": "DownloadAttachment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}/comments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get all comments for a note",
        "operationId": "GetComments",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentSummaryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment to a Note",
        "operationId": "CreateComment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/v1/notes/{noteId}/comments/{commentId}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get details of a comment belonging to a note",
        "operationId": "GetComment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Comments"
        ],
        "summary": "Edit a comment for a note",
        "operationId": "PatchComment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a Comment from a Note",
        "operationId": "DeleteComment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/v1/notes/{noteId}/comments/{commentId}/attachments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get attachments summary of a comment belonging to a note",
        "operationId": "GetCommentAttachments",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentSummaryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment attachment to a Note",
        "operationId": "CreateCommentAttachment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewItemDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/v1/notes/{noteId}/comments/{commentId}/attachments/{attachmentId}/download": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Download single attachment detail of a comment belonging to a note",
        "operationId": "DownloadCommentAttachmentForComment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get all the record events that belong to a note",
        "operationId": "GetEvents",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "Note Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecordEventSummaryDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}/events/{recordEventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get details of a record event of a note",
        "operationId": "GetRecordEvent",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "Note Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "recordEventId",
            "in": "path",
            "description": "Record Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteEventDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notes/{noteId}/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "Attachments"
        ],
        "summary": "Delete attachment from note",
        "operationId": "SoftDeleteNoteAttachment",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "Note Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Attachment Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttachmentSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "FileName": {
            "type": "string",
            "nullable": true
          },
          "MimeType": {
            "type": "string",
            "nullable": true
          },
          "Size": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommentDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "AuthorId": {
            "type": "string",
            "format": "uuid"
          },
          "ParentCommentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Body": {
            "type": "string",
            "nullable": true
          },
          "CreatedAt": {
            "type": "string",
            "nullable": true
          },
          "Attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachmentSummaryDto"
            },
            "nullable": true
          },
          "Subcomments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubcommentSummaryDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommentSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "UserId": {
            "type": "string",
            "format": "uuid"
          },
          "CreatedAt": {
            "type": "string",
            "nullable": true
          },
          "Subcomments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubcommentSummaryDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateBodyDto": {
        "type": "object",
        "properties": {
          "Content": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateCommentDto": {
        "type": "object",
        "properties": {
          "AuthorId": {
            "type": "string",
            "format": "uuid"
          },
          "ParentCommentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Body": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateCustomFieldValueDto": {
        "required": [
          "Code"
        ],
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "IntegerValue": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "TextValue": {
            "type": "string",
            "nullable": true
          },
          "FilePathValue": {
            "type": "string",
            "nullable": true
          },
          "NumericValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DateValue": {
            "type": "string",
            "nullable": true
          },
          "ExtendedTextValue": {
            "type": "string",
            "nullable": true
          },
          "ContactLookupValues": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "OptionValue": {
            "type": "string",
            "nullable": true
          },
          "OptionValues": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Set a value or values for a custom field identified by the field 'Code'. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,\r\ndepending on the data type of the custom field corresponding to the 'Code' provided"
      },
      "CreateNoteDto": {
        "required": [
          "Author",
          "Date"
        ],
        "type": "object",
        "properties": {
          "Author": {
            "$ref": "#/components/schemas/UserSerialDto"
          },
          "Title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "Identifier": {
            "type": "string",
            "nullable": true
          },
          "Date": {
            "type": "string"
          },
          "SubjectId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "RecommendationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "SentimentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Body": {
            "$ref": "#/components/schemas/CreateBodyDto"
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Link": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "RelatedSymbols": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RelatedContacts": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "RelatedRecords": {
            "$ref": "#/components/schemas/RelatedRecordsDto"
          },
          "CustomFieldValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCustomFieldValueDto"
            },
            "nullable": true
          },
          "IsPersonal": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "CustomFieldValueDto": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "nullable": true
          },
          "Value": {
            "type": "string",
            "nullable": true
          },
          "Options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ContactValues": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventSnippetDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "NoteId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "MeetingId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "CreatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "IdentifierResolutionDto": {
        "type": "object",
        "additionalProperties": false
      },
      "NewItemDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "NoteDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Date": {
            "type": "string",
            "nullable": true
          },
          "CreatedAt": {
            "type": "string",
            "nullable": true
          },
          "AuthorId": {
            "type": "string",
            "format": "uuid"
          },
          "ContributorId": {
            "type": "string",
            "format": "uuid"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Identifier": {
            "type": "string",
            "nullable": true
          },
          "RelatedSymbols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SubjectId": {
            "type": "string",
            "format": "uuid"
          },
          "RecommendationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "SentimentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Link": {
            "type": "string",
            "nullable": true
          },
          "Body": {
            "type": "string",
            "nullable": true
          },
          "IsPersonal": {
            "type": "boolean"
          },
          "State": {
            "type": "string",
            "nullable": true
          },
          "ApprovalStatus": {
            "type": "string",
            "nullable": true
          },
          "AverageRating": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "RelatedRecords": {
            "$ref": "#/components/schemas/RelatedRecordsDto"
          },
          "RelatedContacts": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "CustomFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NoteEventDto": {
        "type": "object",
        "properties": {
          "CreatedAt": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "User": {
            "type": "string",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          },
          "ChangeList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecordChangeDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NoteSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Date": {
            "type": "string",
            "nullable": true
          },
          "CreatedAt": {
            "type": "string",
            "nullable": true
          },
          "AuthorId": {
            "type": "string",
            "format": "uuid"
          },
          "ContributorId": {
            "type": "string",
            "format": "uuid"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Identifier": {
            "type": "string",
            "nullable": true
          },
          "SubjectId": {
            "type": "string",
            "format": "uuid"
          },
          "IsPersonal": {
            "type": "boolean"
          },
          "State": {
            "type": "string",
            "nullable": true
          },
          "ApprovalStatus": {
            "type": "string",
            "nullable": true
          },
          "AttachmentIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "RelatedSymbols": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RecommendationId": {
            "type": "string",
            "format": "uuid"
          },
          "SentimentId": {
            "type": "string",
            "format": "uuid"
          },
          "CustomFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Operation": {
        "type": "object",
        "properties": {
          "OperationType": {
            "$ref": "#/components/schemas/OperationType"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "op": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OperationType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "RecordChangeDto": {
        "type": "object",
        "properties": {
          "Field": {
            "type": "string",
            "nullable": true
          },
          "Operation": {
            "type": "string",
            "nullable": true
          },
          "OldValue": {
            "type": "string",
            "nullable": true
          },
          "NewValue": {
            "type": "string",
            "nullable": true
          },
          "OldList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "NewList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RecordEventSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "CreatedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RelatedRecordsDto": {
        "type": "object",
        "properties": {
          "NoteIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "MeetingIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SubcommentSummaryDto": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "UserId": {
            "type": "string",
            "format": "uuid"
          },
          "CreatedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateNoteDto": {
        "type": "object",
        "properties": {
          "Author": {
            "$ref": "#/components/schemas/UserSerialDto"
          },
          "Title": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "SubjectId": {
            "type": "string",
            "format": "uuid"
          },
          "NoteDate": {
            "type": "string",
            "nullable": true
          },
          "RecommendationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "SentimentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Body": {
            "$ref": "#/components/schemas/CreateBodyDto"
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Link": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "RelatedSymbols": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RelatedContacts": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "RelatedRecords": {
            "$ref": "#/components/schemas/RelatedRecordsDto"
          },
          "CustomFieldValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCustomFieldValueDto"
            },
            "nullable": true
          },
          "IsPersonal": {
            "type": "boolean",
            "nullable": true
          },
          "Identifier": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserSerialDto": {
        "required": [
          "SerialNumber",
          "Username"
        ],
        "type": "object",
        "properties": {
          "Username": {
            "maxLength": 30,
            "minLength": 0,
            "type": "string"
          },
          "SerialNumber": {
            "maxLength": 8,
            "minLength": 0,
            "type": "string"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Attachments"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Events"
    },
    {
      "name": "Identifiers"
    },
    {
      "name": "Notes"
    }
  ]
}