{
  "openapi": "3.0.1",
  "info": {
    "title": "ModelAccounts API",
    "description": "Allow clients to fetch ModelAccounts Analytics through APIs.",
    "contact": {
      "name": "Analytics API Support",
      "url": "https://developer.factset.com/contact",
      "email": "analytics.api.support@factset.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.txt"
    },
    "version": "3"
  },
  "servers": [
    {
      "url": "https://api.factset.com"
    }
  ],
  "paths": {
    "/analytics/accounts/v3/models/{name}": {
      "put": {
        "tags": [
          "ModelAccounts"
        ],
        "summary": "Create or update an existing model account",
        "operationId": "createOrUpdateModelAccount",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The path and filename of the model account to create or update",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The path and filename of the model account to create or update"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the input values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelAccountFieldsRoot"
              },
              "example": {
                "data": {
                  "iterative": {
                    "20191010": {
                      "FDS": {
                        "weight": "20",
                        "price": "50",
                        "priceiso": "USD"
                      },
                      "GOOGL": {
                        "weight": "20",
                        "price": "50",
                        "priceiso": "USD"
                      }
                    }
                  },
                  "nonIterative": {
                    "GOOGL": {
                      "taxable": "false"
                    },
                    "FDS": {
                      "taxable": "false"
                    }
                  },
                  "additionalFields": [
                    {
                      "iteration": false,
                      "name": "TAXABLE",
                      "type": "STRING",
                      "description": "Taxable",
                      "splitDirection": "NONE",
                      "size": 0
                    }
                  ]
                },
                "meta": {
                  "description": "Test desc"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response, updated model account",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Expected response, created model account",
            "headers": {
              "Location": {
                "description": "Location of the resource created",
                "schema": {
                  "type": "string",
                  "description": "Location of the resource created"
                }
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "204": {
            "description": "Model account doesn't exist",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid POST body.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ModelAccounts"
        ],
        "summary": "Delete model account, takes an account path and name and deletes it.",
        "operationId": "deleteAModelAccount",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The path and filename of model account to delete",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The path and filename of model account to delete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Expected response, no content",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid model account name or type parameter provided",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/accounts/v3/models/{name}/dates/{date}/symbols/{symbol}": {
      "get": {
        "tags": [
          "ModelAccounts"
        ],
        "summary": "Get account endpoint, takes an account name and returns underlying data",
        "operationId": "getAccountForDateAndSymbol",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The path and filename of the account to get",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The path and filename of the account to get"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "The symbol for which data needs to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The symbol for which data needs to be updated"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date for which data needs to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The date for which data needs to be updated"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Optional format for the response, supported formats are JsonStach and AccountModel",
            "schema": {
              "type": "string",
              "description": "Optional format for the response, supported formats are JsonStach and AccountModel",
              "default": "JsonStach"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns JSON representation of the account's dates, symbols and  other fields.",
            "headers": {
              "Content-Encoding": {
                "description": "Standard HTTP header. Header value based on Accept-Encoding Request header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value based on Accept-Encoding Request header."
                }
              },
              "Content-Type": {
                "description": "Standard HTTP header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header."
                }
              },
              "Transfer-Encoding": {
                "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified."
                }
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account name or type parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The provided account name does not exist at the location provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/accounts/v3/models/{name}/dates/{date}": {
      "get": {
        "tags": [
          "ModelAccounts"
        ],
        "summary": "Get account endpoint, takes an account name, date and returns underlying data for that date",
        "operationId": "getAccountForDate",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The path and filename of the account to get",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The path and filename of the account to get"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date for which data needs to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The date for which data needs to be updated"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Optional format for the response, supported formats are JsonStach and AccountModel",
            "schema": {
              "type": "string",
              "description": "Optional format for the response, supported formats are JsonStach and AccountModel",
              "default": "JsonStach"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns JSON representation of the account's dates, symbols and  other fields.",
            "headers": {
              "Content-Encoding": {
                "description": "Standard HTTP header. Header value based on Accept-Encoding Request header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value based on Accept-Encoding Request header."
                }
              },
              "Content-Type": {
                "description": "Standard HTTP header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header."
                }
              },
              "Transfer-Encoding": {
                "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified."
                }
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account name or type parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The provided account name does not exist at the location provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/accounts/v3/models/{name}/symbols/{symbol}": {
      "get": {
        "tags": [
          "ModelAccounts"
        ],
        "summary": "Get account endpoint, takes an account name, symbol and returns underlying data for that symbol",
        "operationId": "getAccountForSymbol",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The path and filename of the account to get",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The path and filename of the account to get"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "The symbol for which data needs to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The symbol for which data needs to be updated"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Optional format for the response, supported formats are JsonStach and AccountModel",
            "schema": {
              "type": "string",
              "description": "Optional format for the response, supported formats are JsonStach and AccountModel",
              "default": "JsonStach"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns JSON representation of the account's dates, symbols and  other fields.",
            "headers": {
              "Content-Encoding": {
                "description": "Standard HTTP header. Header value based on Accept-Encoding Request header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value based on Accept-Encoding Request header."
                }
              },
              "Content-Type": {
                "description": "Standard HTTP header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header."
                }
              },
              "Transfer-Encoding": {
                "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified."
                }
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account name or type parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The provided account name does not exist at the location provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/accounts/v3/models/{name}/schema": {
      "get": {
        "tags": [
          "ModelAccounts"
        ],
        "summary": "Get account schema endpoint, takes an account name and returns its schema",
        "operationId": "getAccountSchema",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The path and filename of the account to get its schema",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The path and filename of the account to get its schema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns JSON representation of the account's schema.",
            "headers": {
              "Content-Encoding": {
                "description": "Standard HTTP header. Header value based on Accept-Encoding Request header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value based on Accept-Encoding Request header."
                }
              },
              "Content-Type": {
                "description": "Standard HTTP header.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header."
                }
              },
              "Transfer-Encoding": {
                "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.",
                "schema": {
                  "type": "string",
                  "description": "Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified."
                }
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account name or type parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The provided account name does not exist at the location provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ModelAccountAdditionalField": {
        "type": "object",
        "properties": {
          "iteration": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "splitDirection": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "codePageFlag": {
            "type": "string"
          }
        }
      },
      "ModelAccountFields": {
        "required": [
          "iterative"
        ],
        "type": "object",
        "properties": {
          "iterative": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "nonIterative": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "additionalFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelAccountAdditionalField"
            }
          }
        }
      },
      "ModelAccountFieldsRoot": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ModelAccountFields"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      }
    },
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ]
}