openapi: 3.0.1
info:
  title: Natural Language Processing API
  description: >-
    APIs that leverage Natural Language Processing to help extract meaningful
    data from unstructured text
  contact:
    email: ai@factset.com
  version: 1.1.0
servers:
  - url: https://api.factset.com
tags:
  - name: AI Text Summarization
    description: AI Text Summarization Endpoints
  - name: AI Themes
    description: AI Themes Endpoint
paths:
  /cognitive/nlp/v1/themes:
    post:
      tags:
        - AI Themes
      summary: POST request to extract themes from text
      description: >
        This endpoint extracts themes from unstructured text. Each theme
        (`themeText`) is also given a score (`themeScore`). This score shows the
        relevancy of the theme within the text.

        Example Output:

        ```json

        {
          "data": [
          {
            "themeText": "home entertainment results",
            "themeScore": 0.92
          },
          {
            "themeText": ".....",
            "themeScore": .....
          }]
        }

        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeParametersRoot'
        required: true
      responses:
        '200':
          description: Expected response, generated themes
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
              example: cb87799eadc14d9fba25c09fb639171d
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemesRoot'
        '400':
          description: >-
            The browser (or proxy) sent a request that this server could not
            understand.
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsRoot'
        '401':
          description: >-
            The server could not verify that you are authorized to access the
            URL requested. You either supplied the wrong credentials (e.g. a bad
            password), or your browser doesn't understand how to supply the
            credentials required.
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
        '403':
          description: >-
            You don't have the permission to access the requested resource. It
            is either read-protected or not readable by the server.
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
        '404':
          description: >-
            The requested URL was not found on the server. If you entered the
            URL manually please check your spelling and try again.
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsRoot'
        '500':
          description: >-
            The server encountered an internal error and was unable to complete
            your request. Either the server is overloaded or there is an error
            in the application.
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
        '503':
          description: >-
            The server is temporarily unable to service your request due to
            maintenance downtime or capacity problems. Please try again later.
          headers:
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an API request.
              schema:
                type: string
                description: Key to uniquely identify an API request.
  /cognitive/nlp/v1/summarization/headline:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizationResultID'
          description: Unique Result ID
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Access Denied
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Internal Server Error
      summary: POST request for summarizing an input text
      tags:
        - AI Text Summarization
  /cognitive/nlp/v1/summarization/headline-and-summary:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizationResultID'
          description: Unique Result ID
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Access Denied
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Internal Server Error
      summary: POST request for summarizing an input text
      tags:
        - AI Text Summarization
  /cognitive/nlp/v1/summarization/summary:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizationResultID'
          description: Unique Result ID
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Access Denied
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Internal Server Error
      summary: POST request for summarizing an input text
      tags:
        - AI Text Summarization
  /cognitive/nlp/v1/summarization/result/{result_id}:
    get:
      parameters:
        - in: path
          name: result_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizationResult'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Access Denied
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Internal Server Error
      summary: GET request for obtaining response of a particular processing job
      tags:
        - AI Text Summarization
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
components:
  schemas:
    SummarizationRequest:
      properties:
        text:
          description: The text that needs to be summarized
          example: >-
            Advanced Energy Transforms Indoor Farming With Intelligent New
            Lighting Power and Control System Friday, December 11, 2020 01:00:00
            PM (GMT)Innovative technology breaks down barriers to indoor,
            vertical and greenhouse farming by reducing power consumption,
            cutting costs and increasing crop yield Advanced Energy (Nasdaq:
            AEIS) – a global leader in highly engineered, precision power
            conversion, measurement, and control solutions – today unveiled its
            newest lighting and power control system for indoor, vertical and
            greenhouse farming. This press release features multimedia. Advanced
            Energy's new Artesyn iTS provides the industry's first solution for
            switching or sharing a single power source between two different
            rooms. This reduces installation costs by cutting the number of iHP
            power supplies needed in half and it substantially reduces ongoing
            utility costs. (Photo: Business Wire)AE's new lighting and power
            system transforms the use of LED technology in horticultural
            lighting systems, which plays a fundamental role in cutting-edge
            farming practices that can address production challenges in food,
            pharmaceutical ingredients, plants and flowers. Utilizing AE's
            system, customers reduce their power conversion costs by as much as
            50 percent, significantly lower installation and operating costs,
            and increase the quality of crop yield. "Our groundbreaking
            lighting, power and control system delivers significant improvements
            over conventional lighting solutions and opens up new opportunities
            for the industry," said Joe Voyles, vice president, industrial
            marketing, at Advanced Energy. "We are transforming our customers'
            operations by both reducing the amount of needed equipment and
            improving the efficiency of the lighting systems, thereby reducing
            cost and energy spend. Not only do these innovative new products
            increase the efficiency and quality of fruit and vegetable
            production, but they also open the door to establishing indoor
            farming facilities in harsh environments anywhere in the world." The
            new system consists of the patented Artesyn iTS (intelligent
            Transfer Switch) and iHPS configurable power supply. Alongside
            Artesyn's compact new 12 kW 300 VDC module, AE delivers a
            cost-effective platform for the most advanced indoor farming
            applications. The system is estimated to produce a 38 percent
            savings to lighting power and control installation cost, while
            eliminating substantial amounts of wasted energy. The new iHPS is a
            "short" version of AE's market-leading iHP power supply. The shorter
            design allows for more space within the lighting and power cabinet
            for other crucial components, reduces the weight and cost, and
            increases the life of the system. The new iTS provides the
            industry's first solution for switching or sharing a single power
            source between two different rooms. This reduces installation costs
            by cutting the number of iHP power supplies needed in half and it
            substantially reduces ongoing utility costs.
          title: Text
          type: string
      required:
        - text
      type: object
    SummarizationResult:
      properties:
        headline:
          description: A short headline generated for the input text.
          example: >-
            Advanced Energy unveils new lighting and power control system for
            indoor, vertical and greenhouse farming.
          type: string
        summary:
          description: The generated summary for the input text.
          example: >-
            Advanced Energy unveiled its newest lighting and power control
            system for indoor, vertical and greenhouse farming. The new system
            consists of the patented Artesyn iTS (intelligent Transfer Switch)
            and iHPS power supply. Alongside Artesyn's compact new 12 kW 300 VDC
            module, AE delivers a cost-effective platform for the most advanced
            indoor farming applications. The system is estimated to produce a 38
            percent savings to lighting power and control installation cost,
            while eliminating substantial amounts of wasted energy.
          type: string
      type: object
    SummarizationResultID:
      properties:
        result_id:
          description: ID for retrieving the summary result
          title: ID
          type: string
      type: object
    ThemeParameters:
      required:
        - text
      type: object
      properties:
        text:
          type: string
          description: Text from which themes will be extracted
          example: >-
            Studio Entertainment: At Studio Entertainment, operating income
            decreased in the quarter due to lower theatrical distribution and
            home entertainment results. Worldwide theatrical results continued
            to be adversely impacted by COVID-19, as theaters were closed in
            many key markets both domestically and internationally. With no
            significant worldwide theatrical releases in the quarter, we faced a
            difficult comparison against the strong performance of The Lion King
            and Toy Story 4 in the prior-year quarter. Operating Results: On our
            last earnings call, we said that we expected Q4 operating results of
            our DTC businesses to improve by approximately $100mm relative to
            the prior-year quarter. Our results came in better than that
            guidance, with operating income at our DTC businesses improving by
            approximately $300mm vs. the prior year due to better-than-expected
            performance across all three of our streaming services. I will note
            that we do not plan to further update any of our subscriber numbers
            until our Investor Day on December 10 At our International Channels,
            lower results were due to lower affiliate and advertising revenues,
            partially offset by a decrease in cost.
      additionalProperties: false
    ThemeParametersRoot:
      required:
        - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ThemeParameters'
        meta:
          type: object
      additionalProperties: false
    Error:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        detail:
          type: string
      additionalProperties: false
    ErrorsRoot:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
      additionalProperties: false
    ThemesRoot:
      required:
        - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Theme'
        meta:
          type: object
      additionalProperties: false
    Theme:
      required:
        - themeScore
        - themeText
      type: object
      properties:
        themeText:
          type: string
          description: Extracted theme text
          example: home entertainment results
        themeScore:
          type: number
          description: Extracted theme score
          example: 0.92
    HTTPError:
      properties:
        detail:
          type: object
        message:
          type: string
      type: object
    ValidationError:
      properties:
        detail:
          properties:
            <location>:
              properties:
                <field_name>:
                  items:
                    type: string
                  type: array
              type: object
          type: object
        message:
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
