{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/news/article/get": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "get/news/article/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a news article.",
        "description": "Details for a news article.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Identifier of a news article.",
            "type": "string",
            "pattern": "^[0-9A-Za-z+/=:]+$",
            "minLength": 1,
            "exclusiveMinimum": false,
            "maxLength": 128,
            "exclusiveMaximum": false,
            "required": true
          },
          {
            "name": "includeMedia",
            "in": "query",
            "type": "boolean",
            "required": false,
            "default": false,
            "description": "If true, media references are included if available."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Content of the news article.",
                  "type": "object",
                  "x-property-sort": [
                    "time",
                    "headline",
                    "summary",
                    "body",
                    "types",
                    "language",
                    "distributor",
                    "publisher",
                    "categories",
                    "instruments",
                    "media"
                  ],
                  "properties": {
                    "time": {
                      "description": "Date and time of the news article.",
                      "type": "string",
                      "format": "datetime"
                    },
                    "headline": {
                      "description": "Headline of the news article represented as text with HTML entity encoding but without HTML tags.",
                      "type": "string"
                    },
                    "summary": {
                      "description": "Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.",
                      "type": "string"
                    },
                    "body": {
                      "description": "Text body of the news article.",
                      "type": "string"
                    },
                    "types": {
                      "description": "Types of news article. See endpoint `/news/article/type/list` for possible values.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the type of news article.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "name": {
                            "description": "Name of the news article type.",
                            "type": "string",
                            "format": "localizedString"
                          }
                        }
                      }
                    },
                    "language": {
                      "description": "Language of the news article. See endpoint `/basic/language/list` for possible values.",
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "code"
                      ],
                      "properties": {
                        "id": {
                          "description": "Identifier of the language.",
                          "type": "number",
                          "format": "id32",
                          "x-positive": true
                        },
                        "code": {
                          "description": "ISO 639-1 code of the language.",
                          "type": "string"
                        }
                      }
                    },
                    "distributor": {
                      "description": "Distributor of the news article. See endpoint `/news/distributor/list` for possible values.",
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "description": "Identifier of the distributor.",
                          "type": "number",
                          "format": "id32",
                          "x-positive": true
                        },
                        "name": {
                          "description": "Name of the distributor.",
                          "type": "string"
                        }
                      }
                    },
                    "publisher": {
                      "description": "Publisher of the news article. See endpoint `/news/publisher/list` for possible values.",
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "description": "Identifier of the publisher.",
                          "type": "number",
                          "format": "id32",
                          "x-positive": true
                        },
                        "name": {
                          "description": "Name of the publisher.",
                          "type": "string"
                        }
                      }
                    },
                    "categories": {
                      "description": "Categories related to the news article. See endpoint `/category/list` for possible values.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the category.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "name": {
                            "description": "Name of the category.",
                            "type": "string",
                            "format": "localizedString"
                          }
                        }
                      }
                    },
                    "instruments": {
                      "description": "Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "fsym"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the instrument.",
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          },
                          "fsym": {
                            "type": "object",
                            "x-property-sort": [
                              "security"
                            ],
                            "description": "Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.",
                            "properties": {
                              "security": {
                                "type": "object",
                                "x-property-sort": [
                                  "permanentIdentifier"
                                ],
                                "description": "Security-level identifier.",
                                "properties": {
                                  "permanentIdentifier": {
                                    "description": "FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).",
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "media": {
                      "description": "List of media elements of the news article.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "url",
                          "mimeType",
                          "caption",
                          "alternativeText",
                          "width",
                          "height"
                        ],
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "url",
                            "description": "URL of the media element. The URL is publicly available and hosted by either the publisher, the distributor, or FactSet."
                          },
                          "mimeType": {
                            "description": "MIME type of the data of the media element.",
                            "type": "string"
                          },
                          "caption": {
                            "description": "Caption text that can be displayed with the media element. Empty if no caption is available for this media element.",
                            "type": "string"
                          },
                          "alternativeText": {
                            "description": "A short description of the media element that can be shown instead of the media element itself.",
                            "type": "string"
                          },
                          "width": {
                            "description": "Width of the media element in pixels if applicable.",
                            "type": "number",
                            "format": "int32"
                          },
                          "height": {
                            "description": "Height of the media element in pixels if applicable.",
                            "type": "number",
                            "format": "int32"
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/news/article/list": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "post/news/article/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": true,
        "x-supportsPush": true,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of news articles.",
        "description": "List of news articles.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "filter": {
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "range",
                        "categories",
                        "regions",
                        "distributor",
                        "publisher",
                        "language",
                        "types"
                      ],
                      "properties": {
                        "range": {
                          "type": "object",
                          "format": "timeRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`."
                        },
                        "categories": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the categories."
                            }
                          }
                        },
                        "regions": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the regions."
                            }
                          }
                        },
                        "distributor": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the distributors."
                            }
                          }
                        },
                        "publisher": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the publishers."
                            }
                          }
                        },
                        "language": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the languages."
                            }
                          }
                        },
                        "types": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the article types."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "Object defining the subscription attributes.",
                      "properties": {
                        "minimumInterval": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "maximum": 5000,
                          "exclusiveMaximum": false,
                          "default": 0,
                          "description": "Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately."
                        }
                      },
                      "required": [
                        "minimumInterval"
                      ],
                      "x-property-sort": [
                        "minimumInterval"
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination attributes for the cursor-based pagination strategy.",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "maxLength": 50,
                          "exclusiveMaximum": false,
                          "description": "Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default)."
                        },
                        "limit": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 1,
                          "exclusiveMinimum": false,
                          "maximum": 500,
                          "exclusiveMaximum": false,
                          "default": 20,
                          "description": "Non-negative maximum number of entries to return."
                        }
                      },
                      "x-property-sort": [
                        "cursor",
                        "limit"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "subscription",
                    "pagination"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "News articles that match the filter criteria ordered by descending article time.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "code",
                      "time",
                      "headline",
                      "summary",
                      "types",
                      "language",
                      "distributor",
                      "publisher",
                      "categories",
                      "chain",
                      "instruments"
                    ],
                    "properties": {
                      "code": {
                        "description": "Identifier of the news article.",
                        "type": "string"
                      },
                      "time": {
                        "x-pushable": true,
                        "description": "Date and time of the news article.",
                        "type": "string",
                        "format": "datetime"
                      },
                      "headline": {
                        "x-pushable": true,
                        "description": "Headline of the news article represented as text with HTML entity encoding but without HTML tags.",
                        "type": "string"
                      },
                      "summary": {
                        "x-pushable": true,
                        "description": "Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.",
                        "type": "string"
                      },
                      "types": {
                        "description": "Types of news article. See endpoint `/news/article/type/list` for possible values.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "description": "Identifier of the type of news article.",
                              "type": "number",
                              "format": "id32",
                              "x-positive": true
                            }
                          }
                        }
                      },
                      "language": {
                        "description": "Language of the news article. See endpoint `/basic/language/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the language.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "distributor": {
                        "description": "Distributor of the news article. See endpoint `/news/distributor/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the distributor.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "publisher": {
                        "description": "Publisher of the news article. See endpoint `/news/publisher/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the publisher.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "categories": {
                        "description": "Categories related to the news article. See endpoint `/category/list` for possible values.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "x-pushable": true,
                              "description": "Identifier of the category.",
                              "type": "number",
                              "format": "id32",
                              "x-positive": true
                            }
                          }
                        }
                      },
                      "chain": {
                        "description": "Article chain.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "x-pushable": true,
                            "description": "Identifier of the news article chain.",
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          }
                        }
                      },
                      "instruments": {
                        "description": "Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "fsym"
                          ],
                          "properties": {
                            "id": {
                              "x-pushable": true,
                              "description": "Identifier of the instrument.",
                              "type": "string",
                              "format": "id64",
                              "x-positive": true
                            },
                            "fsym": {
                              "type": "object",
                              "x-property-sort": [
                                "security"
                              ],
                              "description": "Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.",
                              "properties": {
                                "security": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "permanentIdentifier"
                                  ],
                                  "description": "Security-level identifier.",
                                  "properties": {
                                    "permanentIdentifier": {
                                      "x-pushable": true,
                                      "description": "FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).",
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/CursorBasedPaginationOutputObjectWithoutTotal"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/news/article/listByChain": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "post/news/article/listByChain",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": true,
        "x-supportsPush": true,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List news articles of an article chain.",
        "description": "List news articles of an article chain.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "id",
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "id": {
                      "description": "Identifier of the news article chain.",
                      "type": "string",
                      "format": "id64",
                      "x-positive": true
                    },
                    "filter": {
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "range"
                      ],
                      "properties": {
                        "range": {
                          "type": "object",
                          "format": "timeRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`."
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ]
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "Object defining the subscription attributes.",
                      "properties": {
                        "minimumInterval": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "maximum": 5000,
                          "exclusiveMaximum": false,
                          "default": 0,
                          "description": "Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately."
                        }
                      },
                      "required": [
                        "minimumInterval"
                      ],
                      "x-property-sort": [
                        "minimumInterval"
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination attributes for the cursor-based pagination strategy.",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "maxLength": 50,
                          "exclusiveMaximum": false,
                          "description": "Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default)."
                        },
                        "limit": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 1,
                          "exclusiveMinimum": false,
                          "maximum": 500,
                          "exclusiveMaximum": false,
                          "default": 20,
                          "description": "Non-negative maximum number of entries to return."
                        }
                      },
                      "x-property-sort": [
                        "cursor",
                        "limit"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "subscription",
                    "pagination"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "News articles, their publisher, and distributor as refrenced by the article chain.",
                  "type": "object",
                  "x-property-sort": [
                    "distributor",
                    "publisher",
                    "articles"
                  ],
                  "properties": {
                    "distributor": {
                      "description": "Distributor of the news articles. See endpoint `/news/distributor/list` for possible values.",
                      "type": "object",
                      "x-property-sort": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "description": "Identifier of the distributor.",
                          "type": "number",
                          "format": "id32",
                          "x-positive": true
                        }
                      }
                    },
                    "publisher": {
                      "description": "Publisher of the news article. See endpoint `/news/publisher/list` for possible values.",
                      "type": "object",
                      "x-property-sort": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "description": "Identifier of the publisher.",
                          "type": "number",
                          "format": "id32",
                          "x-positive": true
                        }
                      }
                    },
                    "articles": {
                      "description": "News articles that match the filter criteria ordered by descending article time.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "time",
                          "headline",
                          "summary",
                          "types",
                          "language",
                          "categories",
                          "instruments"
                        ],
                        "properties": {
                          "code": {
                            "description": "Identifier of the news article.",
                            "type": "string"
                          },
                          "time": {
                            "x-pushable": true,
                            "description": "Date and time of the news article.",
                            "type": "string",
                            "format": "datetime"
                          },
                          "headline": {
                            "x-pushable": true,
                            "description": "Headline of the news article represented as text with HTML entity encoding but without HTML tags.",
                            "type": "string"
                          },
                          "summary": {
                            "x-pushable": true,
                            "description": "Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.",
                            "type": "string"
                          },
                          "types": {
                            "description": "Types of news article. See endpoint `/news/article/type/list` for possible values.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "x-property-sort": [
                                "id"
                              ],
                              "properties": {
                                "id": {
                                  "description": "Identifier of the type of news article.",
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true
                                }
                              }
                            }
                          },
                          "language": {
                            "description": "Language of the news article. See endpoint `/basic/language/list` for possible values.",
                            "type": "object",
                            "x-property-sort": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "Identifier of the language.",
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              }
                            }
                          },
                          "categories": {
                            "description": "Categories related to the news article. See endpoint `/category/list` for possible values.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "x-property-sort": [
                                "id"
                              ],
                              "properties": {
                                "id": {
                                  "x-pushable": true,
                                  "description": "Identifier of the category.",
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true
                                }
                              }
                            }
                          },
                          "instruments": {
                            "description": "Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "x-property-sort": [
                                "id",
                                "fsym"
                              ],
                              "properties": {
                                "id": {
                                  "x-pushable": true,
                                  "description": "Identifier of the instrument.",
                                  "type": "string",
                                  "format": "id64",
                                  "x-positive": true
                                },
                                "fsym": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "security"
                                  ],
                                  "description": "Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.",
                                  "properties": {
                                    "security": {
                                      "type": "object",
                                      "x-property-sort": [
                                        "permanentIdentifier"
                                      ],
                                      "description": "Security-level identifier.",
                                      "properties": {
                                        "permanentIdentifier": {
                                          "x-pushable": true,
                                          "description": "FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).",
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/CursorBasedPaginationOutputObjectWithoutTotal"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/news/article/listByIndex": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "post/news/article/listByIndex",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": true,
        "x-supportsPush": true,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "News articles for instruments that are constituents of the given indices.",
        "description": "News articles for instruments that are constituents of the given indices.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "ids",
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "minItems": 1,
                      "maxItems": 500,
                      "uniqueItems": true,
                      "description": "List of index notation identifiers."
                    },
                    "filter": {
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "range",
                        "categories",
                        "regions",
                        "distributor",
                        "publisher",
                        "language",
                        "types"
                      ],
                      "properties": {
                        "range": {
                          "type": "object",
                          "format": "timeRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`."
                        },
                        "categories": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the categories."
                            }
                          }
                        },
                        "regions": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the regions."
                            }
                          }
                        },
                        "distributor": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the distributors."
                            }
                          }
                        },
                        "publisher": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the publishers."
                            }
                          }
                        },
                        "language": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the languages."
                            }
                          }
                        },
                        "types": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the article types."
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ids"
                  ]
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "Object defining the subscription attributes.",
                      "properties": {
                        "minimumInterval": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "maximum": 5000,
                          "exclusiveMaximum": false,
                          "default": 0,
                          "description": "Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately."
                        }
                      },
                      "required": [
                        "minimumInterval"
                      ],
                      "x-property-sort": [
                        "minimumInterval"
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination attributes for the cursor-based pagination strategy.",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "maxLength": 50,
                          "exclusiveMaximum": false,
                          "description": "Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default)."
                        },
                        "limit": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 1,
                          "exclusiveMinimum": false,
                          "maximum": 500,
                          "exclusiveMaximum": false,
                          "default": 20,
                          "description": "Non-negative maximum number of entries to return."
                        }
                      },
                      "x-property-sort": [
                        "cursor",
                        "limit"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "subscription",
                    "pagination"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "News articles that match the filter criteria ordered by descending article time.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "code",
                      "time",
                      "headline",
                      "summary",
                      "types",
                      "language",
                      "distributor",
                      "publisher",
                      "categories",
                      "chain",
                      "instruments"
                    ],
                    "properties": {
                      "code": {
                        "description": "Identifier of the news article.",
                        "type": "string"
                      },
                      "time": {
                        "x-pushable": true,
                        "description": "Date and time of the news article.",
                        "type": "string",
                        "format": "datetime"
                      },
                      "headline": {
                        "x-pushable": true,
                        "description": "Headline of the news article represented as text with HTML entity encoding but without HTML tags.",
                        "type": "string"
                      },
                      "summary": {
                        "x-pushable": true,
                        "description": "Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.",
                        "type": "string"
                      },
                      "types": {
                        "description": "Types of news article. See endpoint `/news/article/type/list` for possible values.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "description": "Identifier of the type of news article.",
                              "type": "number",
                              "format": "id32",
                              "x-positive": true
                            }
                          }
                        }
                      },
                      "language": {
                        "description": "Language of the news article. See endpoint `/basic/language/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the language.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "distributor": {
                        "description": "Distributor of the news article. See endpoint `/news/distributor/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the distributor.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "publisher": {
                        "description": "Publisher of the news article. See endpoint `/news/publisher/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the publisher.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "categories": {
                        "description": "Categories related to the news article. See endpoint `/category/list` for possible values.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "x-pushable": true,
                              "description": "Identifier of the category.",
                              "type": "number",
                              "format": "id32",
                              "x-positive": true
                            }
                          }
                        }
                      },
                      "chain": {
                        "description": "Article chain.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "x-pushable": true,
                            "description": "Identifier of the news article chain.",
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          }
                        }
                      },
                      "instruments": {
                        "description": "Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "fsym"
                          ],
                          "properties": {
                            "id": {
                              "x-pushable": true,
                              "description": "Identifier of the instrument.",
                              "type": "string",
                              "format": "id64",
                              "x-positive": true
                            },
                            "fsym": {
                              "type": "object",
                              "x-property-sort": [
                                "security"
                              ],
                              "description": "Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.",
                              "properties": {
                                "security": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "permanentIdentifier"
                                  ],
                                  "description": "Security-level identifier.",
                                  "properties": {
                                    "permanentIdentifier": {
                                      "x-pushable": true,
                                      "description": "FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).",
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/CursorBasedPaginationOutputObjectWithoutTotal"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/news/article/listByInstrument": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "post/news/article/listByInstrument",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": true,
        "x-supportsPush": true,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "News articles for instruments.",
        "description": "News articles for instruments.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "ids",
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "minItems": 1,
                      "maxItems": 1000,
                      "uniqueItems": true,
                      "description": "List of instrument identifiers."
                    },
                    "filter": {
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "range",
                        "categories",
                        "regions",
                        "distributor",
                        "publisher",
                        "language",
                        "types"
                      ],
                      "properties": {
                        "range": {
                          "type": "object",
                          "format": "timeRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`."
                        },
                        "categories": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the categories."
                            }
                          }
                        },
                        "regions": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the regions."
                            }
                          }
                        },
                        "distributor": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the distributors."
                            }
                          }
                        },
                        "publisher": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the publishers."
                            }
                          }
                        },
                        "language": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the languages."
                            }
                          }
                        },
                        "types": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "Identifiers of the article types."
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "ids"
                  ]
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "Object defining the subscription attributes.",
                      "properties": {
                        "minimumInterval": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "maximum": 5000,
                          "exclusiveMaximum": false,
                          "default": 0,
                          "description": "Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately."
                        }
                      },
                      "required": [
                        "minimumInterval"
                      ],
                      "x-property-sort": [
                        "minimumInterval"
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination attributes for the cursor-based pagination strategy.",
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "maxLength": 50,
                          "exclusiveMaximum": false,
                          "description": "Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default)."
                        },
                        "limit": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 1,
                          "exclusiveMinimum": false,
                          "maximum": 500,
                          "exclusiveMaximum": false,
                          "default": 20,
                          "description": "Non-negative maximum number of entries to return."
                        }
                      },
                      "x-property-sort": [
                        "cursor",
                        "limit"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "subscription",
                    "pagination"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "News articles that match the filter criteria ordered by descending article time.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "code",
                      "time",
                      "headline",
                      "summary",
                      "types",
                      "language",
                      "distributor",
                      "publisher",
                      "categories",
                      "chain",
                      "instruments"
                    ],
                    "properties": {
                      "code": {
                        "description": "Identifier of the news article.",
                        "type": "string"
                      },
                      "time": {
                        "x-pushable": true,
                        "description": "Date and time of the news article.",
                        "type": "string",
                        "format": "datetime"
                      },
                      "headline": {
                        "x-pushable": true,
                        "description": "Headline of the news article represented as text with HTML entity encoding but without HTML tags.",
                        "type": "string"
                      },
                      "summary": {
                        "x-pushable": true,
                        "description": "Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.",
                        "type": "string"
                      },
                      "types": {
                        "description": "Types of news article. See endpoint `/news/article/type/list` for possible values.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "description": "Identifier of the type of news article.",
                              "type": "number",
                              "format": "id32",
                              "x-positive": true
                            }
                          }
                        }
                      },
                      "language": {
                        "description": "Language of the news article. See endpoint `/basic/language/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the language.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "distributor": {
                        "description": "Distributor of the news article. See endpoint `/news/distributor/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the distributor.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "publisher": {
                        "description": "Publisher of the news article. See endpoint `/news/publisher/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the publisher.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        }
                      },
                      "categories": {
                        "description": "Categories related to the news article. See endpoint `/category/list` for possible values.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "x-pushable": true,
                              "description": "Identifier of the category.",
                              "type": "number",
                              "format": "id32",
                              "x-positive": true
                            }
                          }
                        }
                      },
                      "chain": {
                        "description": "Article chain.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "x-pushable": true,
                            "description": "Identifier of the news article chain.",
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          }
                        }
                      },
                      "instruments": {
                        "description": "Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "fsym"
                          ],
                          "properties": {
                            "id": {
                              "x-pushable": true,
                              "description": "Identifier of the instrument.",
                              "type": "string",
                              "format": "id64",
                              "x-positive": true
                            },
                            "fsym": {
                              "type": "object",
                              "x-property-sort": [
                                "security"
                              ],
                              "description": "Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.",
                              "properties": {
                                "security": {
                                  "type": "object",
                                  "x-property-sort": [
                                    "permanentIdentifier"
                                  ],
                                  "description": "Security-level identifier.",
                                  "properties": {
                                    "permanentIdentifier": {
                                      "x-pushable": true,
                                      "description": "FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).",
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/CursorBasedPaginationOutputObjectWithoutTotal"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/news/article/listByMediaKind": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "post/news/article/listByMediaKind",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": true,
        "x-supportsPush": true,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List news articles which contain media of specific media kinds.",
        "description": "List news articles which contain media of specific media kinds.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "ids",
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true
                      },
                      "minItems": 1,
                      "maxItems": 20,
                      "uniqueItems": true,
                      "description": "List of media kind identifiers. See endpoint `/basic/media/kind/list` for valid values."
                    },
                    "filter": {
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "range",
                        "categories",
                        "regions",
                        "distributor",
                        "publisher",
                        "language",
                        "types"
                      ],
                      "properties": {
                        "range": {
                          "type": "object",
                          "format": "timeRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "datetime",
                              "description": "The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`."
                        },
                        "categories": {
                          "type": "object",
[...]
