{
  "openapi": "3.0.1",
  "info": {
    "title": "Open:Optimizer API",
    "description": "The Open:Optimizer API provides the ability to trigger portfolio optimizations using any of the optimizers available on FactSet, including the FactSet Portfolio Optimizer, Axioma Portfolio Optimizer (equity or fixed income), Barra Portfolio Manager, and Northfield Portfolio Optimizer. Endpoints are available to initiate optimizations and view results, as well as retrieve document names and related metadata. API access is available with a subscription to an optimizer application. This API is intended to complement, not replace, the optimizer applications on FactSet. All strategies must still be created using the corresponding GUI applications on FactSet Workstation.",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.factset.com/open-optimizer/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/fpo/optimize": {
      "post": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "summary": "Create and Run FPO optimization",
        "description": "This endpoint runs FPO optimization specified in the POST body parameters.\r\n            \r\nRemarks:\r\n            \r\n*\tAny settings in POST body will act as a one-time override over the settings saved in the strategy document.",
        "operationId": "postAndOptimize",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optimization Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FPOOptimizationParametersRequest"
              },
              "example": {
                "data": {
                  "account": {
                    "paDocument": {
                      "id": "Client:/fpo/RS_10_TL"
                    },
                    "overrides": {
                      "benchmark": "US:DJII"
                    }
                  },
                  "strategy": {
                    "id": "Client:/fpo/RS_10_TL",
                    "overrides": {
                      "constraints": {
                        "19690db82bf-f98ba43c9868e": "enable",
                        "19690d48b63-5163533d7a2df": "disable"
                      }
                    }
                  },
                  "optimization": {
                    "riskModelDate": "2025-02-04",
                    "backtestDate": "2025-02-04",
                    "cashFlow": "0"
                  },
                  "outputTypes": {
                    "optimal": {
                      "identifierType": "cusip",
                      "includeCash": true,
                      "excludeZero": false
                    },
                    "trades": {
                      "identifierType": "tickerRegion",
                      "includeCash": true
                    },
                    "reports": {
                      "excludedSecurities": {
                        "identifierType": "sedolChk"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/fpo/{id}/status": {
      "get": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "summary": "Get FPO optimization status by id",
        "description": "This is the endpoint to check on the progress of a previously requested optimization.\r\nIf the optimization has finished computing, a 201 is returned and the result can be fetched using /fpo/{id} endpoint. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationStatusByIdFPO",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/OptimizationComplete"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationInProgress"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/fpo/{id}": {
      "get": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "summary": "Get FPO optimization result by id",
        "description": "This is the endpoint to get optimization result.\r\nIf the optimization result is available, a 200 is returned. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationResultByIdFPO",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptimizationResult"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "summary": "Cancel FPO optimization by id",
        "description": "This is the endpoint to cancel a previously submitted optimization. Instead of doing a GET on the polling URL, cancel the request by doing a DELETE.",
        "operationId": "cancelOptimizationByIdFPO",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Run Optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Run Optimization endpoint"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Expected response, optimization was canceled successfully.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/DataDirectRequest"
              },
              "X-RateLimit-Limit-minute": {
                "$ref": "#/components/headers/LimitMinute"
              },
              "X-RateLimit-Remaining-minute": {
                "$ref": "#/components/headers/RemainingMinute"
              },
              "X-RateLimit-Limit-second": {
                "$ref": "#/components/headers/LimitSecond"
              },
              "X-RateLimit-Remaining-second": {
                "$ref": "#/components/headers/RemainingSecond"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/Limit"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "404": {
            "description": "There was no request for the optimization identifier provided, or the request was already canceled for the provided identifier.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/DataDirectRequest"
              },
              "X-RateLimit-Limit-minute": {
                "$ref": "#/components/headers/LimitMinute"
              },
              "X-RateLimit-Remaining-minute": {
                "$ref": "#/components/headers/RemainingMinute"
              },
              "X-RateLimit-Limit-second": {
                "$ref": "#/components/headers/LimitSecond"
              },
              "X-RateLimit-Remaining-second": {
                "$ref": "#/components/headers/RemainingSecond"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/Limit"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/Reset"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/fpo/settings/global-variables": {
      "get": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "description": "Fetch all available global variables",
        "summary": "Returns a dictionary with the name-value pairs for all global variables.",
        "operationId": "getGlobalVariablesFPO",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GlobalVariableResult"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/fpo/settings/strategies": {
      "post": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "description": "Fetch available FPO Strategies",
        "summary": "Returns a dictionary containing all strategies stored in a specified directory. Returns all strategies if no directory is given.",
        "operationId": "postStrategiesFPO",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailableStrategiesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StrategyResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/fpo/settings/components": {
      "post": {
        "tags": [
          "FactSet Portfolio Optimizer"
        ],
        "operationId": "postComponentsFPO",
        "description": "Fetch metadata for all FPO component types. Output is individually-filtered for each component type.",
        "summary": "Returns a dictionary with individually-filtered metadata for each component type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FPOAvailableComponentsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ComponentResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/axp/optimize": {
      "post": {
        "tags": [
          "Axioma Equity Portfolio Optimizer"
        ],
        "summary": "Create and Run AXP optimization",
        "description": "This endpoint runs AXP optimization specified in the POST body parameters.\r\n            \r\nRemarks:\r\n            \r\n*\tAny settings in POST body will act as a one-time override over the settings saved in the strategy document.",
        "operationId": "postAndOptimizeAXP",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optimization Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AXPOptimizationParametersRequest"
              },
              "example": {
                "data": {
                  "strategy": {
                    "id": "Client:/Optimizer/AXP2_BASE_SET",
                    "overrides": {}
                  },
                  "optimization": {
                    "riskModelDate": "2020-10-09",
                    "backtestDate": "2020-10-09",
                    "cashFlow": "0"
                  },
                  "outputTypes": {
                    "trades": {
                      "identifierType": "cusip",
                      "includeCash": true
                    },
                    "holdings": {
                      "identifierType": "cusip",
                      "includeCash": true,
                      "excludeZeroShares": false
                    },
                    "stats": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/axp/{id}/status": {
      "get": {
        "tags": [
          "Axioma Equity Portfolio Optimizer"
        ],
        "summary": "Get AXP optimization status by id",
        "description": "This is the endpoint to check on the progress of a previously requested optimization.\r\nIf the optimization has finished computing, a 201 is returned and the result can be fetched using /axp/{id} endpoint. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationStatusByIdAXP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run AXP optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run AXP optimization endpoint"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/OptimizationComplete"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationInProgress"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/axp/{id}": {
      "get": {
        "tags": [
          "Axioma Equity Portfolio Optimizer"
        ],
        "summary": "Get AXP optimization result by id",
        "description": "This is the endpoint to get optimization result.\r\nIf the optimization result is available, a 200 is returned. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationResultByIdAXP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptimizationResult"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/axp/settings/global-variables": {
      "get": {
        "tags": [
          "Axioma Equity Portfolio Optimizer"
        ],
        "description": "Fetch all available global variables",
        "summary": "Returns a dictionary with the name-value pairs for all global variables.",
        "operationId": "getGlobalVariablesAXP",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GlobalVariableResult"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/axp/settings/strategies": {
      "post": {
        "tags": [
          "Axioma Equity Portfolio Optimizer"
        ],
        "description": "Fetch available FPO Strategies",
        "summary": "Returns a dictionary containing all strategies stored in a specified directory. Returns all strategies if no directory is given.",
        "operationId": "postStrategiesAXP",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailableStrategiesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StrategyResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/axp/settings/components": {
      "post": {
        "tags": [
          "Axioma Equity Portfolio Optimizer"
        ],
        "operationId": "postComponentsAXP",
        "description": "Fetch metadata for all FPO component types. Output is individually-filtered for each component type.",
        "summary": "Returns a dictionary with individually-filtered metadata for each component type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AXPAvailableComponentsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ComponentResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/afi/optimize": {
      "post": {
        "tags": [
          "Axioma Fixed Income Portfolio Optimizer"
        ],
        "summary": "Create and Run AFI optimization",
        "description": "This endpoint runs AFI optimization specified in the POST body parameters.\r\n            \r\nRemarks:\r\n            \r\n*\tAny settings in POST body will act as a one-time override over the settings saved in the strategy document.",
        "operationId": "postAndOptimizeAFI",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optimization Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AFIOptimizationParametersRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/afi/{id}/status": {
      "get": {
        "tags": [
          "Axioma Fixed Income Portfolio Optimizer"
        ],
        "summary": "Get AFI optimization status by id",
        "description": "This is the endpoint to check on the progress of a previously requested optimization.\r\nIf the optimization has finished computing, a 201 is returned and the result can be fetched using /afi/{id} endpoint. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationStatusByIdAFI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run AFI optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run AFI optimization endpoint"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/OptimizationComplete"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationInProgress"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/afi/{id}": {
      "get": {
        "tags": [
          "Axioma Fixed Income Portfolio Optimizer"
        ],
        "summary": "Get AFI optimization result by id",
        "description": "This is the endpoint to get optimization result.\r\nIf the optimization result is available, a 200 is returned. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationResultByIdAFI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptimizationResult"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/afi/settings/global-variables": {
      "get": {
        "tags": [
          "Axioma Fixed Income Portfolio Optimizer"
        ],
        "description": "Fetch all available global variables",
        "summary": "Returns a dictionary with the name-value pairs for all global variables.",
        "operationId": "getGlobalVariablesAFI",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GlobalVariableResult"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/afi/settings/strategies": {
      "post": {
        "tags": [
          "Axioma Fixed Income Portfolio Optimizer"
        ],
        "description": "Fetch available FPO Strategies",
        "summary": "Returns a dictionary containing all strategies stored in a specified directory. Returns all strategies if no directory is given.",
        "operationId": "postStrategiesAFI",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailableStrategiesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StrategyResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/afi/settings/components": {
      "post": {
        "tags": [
          "Axioma Fixed Income Portfolio Optimizer"
        ],
        "operationId": "postComponentsAFI",
        "description": "Fetch metadata for all FPO component types. Output is individually-filtered for each component type.",
        "summary": "Returns a dictionary with individually-filtered metadata for each component type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AXPAvailableComponentsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ComponentResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/bpm/optimize": {
      "post": {
        "tags": [
          "Barra Portfolio Optimizer"
        ],
        "summary": "Create and Run BPM optimization",
        "description": "This endpoint runs BPM optimization specified in the POST body parameters.\r\n            \r\nRemarks:\r\n            \r\n*\tAny settings in POST body will act as a one-time override over the settings saved in the strategy document.",
        "operationId": "postAndOptimizeBPM",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optimization Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BPMOptimizationParametersRequest"
              },
              "example": {
                "data": {
                  "strategy": {
                    "id": "Client:/Optimizer/BPM_EXAMPLE1"
                  },
                  "optimization": {
                    "riskModelDate": "2023-10-09",
                    "backtestDate": "2023-10-09",
                    "cashFlow": "0"
                  },
                  "outputTypes": {
                    "trades": {
                      "identifierType": "cusip",
                      "includeCash": true
                    },
                    "holdings": {
                      "identifierType": "cusip",
                      "includeCash": true,
                      "excludeZeroShares": false
                    },
                    "stats": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/bpm/{id}/status": {
      "get": {
        "tags": [
          "Barra Portfolio Optimizer"
        ],
        "summary": "Get BPM optimization status by id",
        "description": "This is the endpoint to check on the progress of a previously requested optimization.\r\nIf the optimization has finished computing, a 201 is returned and the result can be fetched using /bpm/{id} endpoint. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationStatusByIdBPM",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run BPM optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run BPM optimization endpoint"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/OptimizationComplete"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationInProgress"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/bpm/{id}": {
      "get": {
        "tags": [
          "Barra Portfolio Optimizer"
        ],
        "summary": "Get BPM optimization result by id",
        "description": "This is the endpoint to get optimization result.\r\nIf the optimization result is available, a 200 is returned. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationResultByIdBPM",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptimizationResult"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/bpm/settings/global-variables": {
      "get": {
        "tags": [
          "Barra Portfolio Optimizer"
        ],
        "description": "Fetch all available global variables",
        "summary": "Returns a dictionary with the name-value pairs for all global variables.",
        "operationId": "getGlobalVariablesBPM",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GlobalVariableResult"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/bpm/settings/strategies": {
      "post": {
        "tags": [
          "Barra Portfolio Optimizer"
        ],
        "description": "Fetch available FPO Strategies",
        "summary": "Returns a dictionary containing all strategies stored in a specified directory. Returns all strategies if no directory is given.",
        "operationId": "postStrategiesBPM",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailableStrategiesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StrategyResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/bpm/settings/components": {
      "post": {
        "tags": [
          "Barra Portfolio Optimizer"
        ],
        "operationId": "postComponentsBPM",
        "description": "Fetch metadata for all FPO component types. Output is individually-filtered for each component type.",
        "summary": "Returns a dictionary with individually-filtered metadata for each component type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BPMNPOAvailableComponentsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ComponentResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/npo/optimize": {
      "post": {
        "tags": [
          "Northfield Portfolio Optimizer"
        ],
        "summary": "Create and Run NPO optimization",
        "description": "This endpoint runs NPO optimization specified in the POST body parameters.\r\n            \r\nRemarks:\r\n            \r\n*\tAny settings in POST body will act as a one-time override over the settings saved in the strategy document.",
        "operationId": "postAndOptimizeNPO",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optimization Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPOOptimizationParametersRequest"
              },
              "example": {
                "data": {
                  "strategy": {
                    "id": "Client:/Optimizer/USS_MODEL"
                  },
                  "optimization": {
                    "riskModelDate": "2023-04-30",
                    "backtestDate": "202-304-30",
                    "cashFlow": "0"
                  },
                  "outputTypes": {
                    "trades": {
                      "identifierType": "cusip",
                      "includeCash": true
                    },
                    "holdings": {
                      "identifierType": "cusip",
                      "includeCash": true,
                      "excludeZeroShares": false
                    },
                    "stats": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/npo/{id}/status": {
      "get": {
        "tags": [
          "Northfield Portfolio Optimizer"
        ],
        "summary": "Get NPO optimization status by id",
        "description": "This is the endpoint to check on the progress of a previously requested optimization.\r\nIf the optimization has finished computing, a 201 is returned and the result can be fetched using /npo/{id} endpoint. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationStatusByIdNPO",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run NPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run NPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/OptimizationComplete"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationInProgress"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/npo/{id}": {
      "get": {
        "tags": [
          "Northfield Portfolio Optimizer"
        ],
        "summary": "Get NPO optimization result by id",
        "description": "This is the endpoint to get optimization result.\r\nIf the optimization result is available, a 200 is returned. \r\nOtherwise, the optimization is still running and the body of the response will contain a detailed status in JSON besides its pickup id.",
        "operationId": "getOptimizationResultByIdNPO",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run FPO optimization endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptimizationResult"
          },
          "202": {
            "$ref": "#/components/responses/OptimizationAccepted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/npo/settings/global-variables": {
      "get": {
        "tags": [
          "Northfield Portfolio Optimizer"
        ],
        "description": "Fetch all available global variables",
        "summary": "Returns a dictionary with the name-value pairs for all global variables.",
        "operationId": "getGlobalVariablesNPO",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GlobalVariableResult"
          },
          "400": {
            "$ref": "#/components/responses/InvalidIdentifier"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "417": {
            "$ref": "#/components/responses/OptimizationAlreadyReturned"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/npo/settings/strategies": {
      "post": {
        "tags": [
          "Northfield Portfolio Optimizer"
        ],
        "description": "Fetch available FPO Strategies",
        "summary": "Returns a dictionary containing all strategies stored in a specified directory. Returns all strategies if no directory is given.",
        "operationId": "postStrategiesNPO",
        "parameters": [
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailableStrategiesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StrategyResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/npo/settings/components": {
      "post": {
        "tags": [
          "Northfield Portfolio Optimizer"
        ],
        "operationId": "postComponentsNPO",
        "description": "Fetch metadata for all FPO component types. Output is individually-filtered for each component type.",
        "summary": "Returns a dictionary with individually-filtered metadata for each component type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BPMNPOAvailableComponentsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ComponentResult"
          },
          "401": {
            "$ref": "#/components/responses/MissingOrInvalidAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/UserForbidden"
          },
          "415": {
            "$ref": "#/components/responses/InvalidContentType"
          },
          "417": {
            "$ref": "#/components/responses/ExpectationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "components": {
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "PaDocInput": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "Client:/folder1/MyPADocument",
            "description": "PA document path"
          }
        }
      },
      "FPOAccountInput": {
        "required": [
          "paDocument"
        ],
        "type": "object",
        "properties": {
          "paDocument": {
            "$ref": "#/components/schemas/PaDocInput"
          },
          "id": {
            "type": "string",
            "description": "Account path",
            "nullable": true,
            "example": "Client:/folder1/InitialPortfolio1.ACCT"
          },
          "overrides": {
            "$ref": "#/components/schemas/OptimizerAccountOverridesInput"
          }
        }
      },
      "FPOObjectiveInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "example": "personal:min_active_risk.fpo_objective",
            "description": "Specify a shared or a local objective id."
          },
          "terms": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EnabledEnum"
            },
            "example": {
              "187fbeb9451-8d0fb8416792a": "enable",
              "187fbeb9452-8d0fb8416792b": "disable"
            },
            "nullable": true
          }
        }
      },
      "EnabledEnum": {
        "enum": [
          "disable",
          "enable"
        ],
        "type": "string"
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "enableHierarchy": {
            "type": "boolean",
            "description": "Flag to enable or disable hierarchy in constraints",
            "example": true
          },
          "hierarchy": {
            "type": "object",
            "description": "Map of constraint id to a hierarchy value >= 0",
            "additionalProperties": {
              "type": "number",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "example": {
              "constraint_id_1": 1,
              "constraint_id_2": 2
            }
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/EnabledEnum"
        },
        "example": {
          "187fbeb9451-8d0fb8416792a": "enable",
          "187fbeb9452-8d0fb8416792b": "disable"
        },
        "description": "List of constraints",
        "nullable": true
      },
      "FPOOptimizerStrategyOverridesInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "objective": {
            "$ref": "#/components/schemas/FPOObjectiveInput"
          },
          "constraints": {
            "$ref": "#/components/schemas/Constraints"
          },
          "alpha": {
            "type": "string",
            "description": "Alpha",
            "example": "P(0)/100",
            "nullable": true
          },
          "transactionCost": {
            "type": "string",
            "description": "Transaction cost",
            "example": "187fbeec219-1d8f3fb004492",
            "nullable": true
          }
        }
      },
      "FPOOptimizerStrategyInput": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "overrides": {
            "$ref": "#/components/schemas/FPOOptimizerStrategyOverridesInput"
          },
          "id": {
            "type": "string",
            "description": "OptimizerStrategy document path",
            "example": "Client:/folder1/Fpo_strategy"
          }
        }
      },
      "ReportOutputTypeObject": {
        "required": [
          "identifierType"
        ],
        "type": "object",
        "properties": {
          "identifierType": {
            "enum": [
              "asset",
              "cusip",
              "isin",
              "riskModel",
              "sedolChk",
              "sedol",
              "symbologyCusip",
              "ticker",
              "tickerRegion",
              "user"
            ],
            "type": "string",
            "description": "Identifier type"
          }
        }
      },
      "OptimizerReportsOutputType": {
        "type": "object",
        "properties": {
          "workspace": {
            "$ref": "#/components/schemas/ReportOutputTypeObject"
          },
          "tradeList": {
            "$ref": "#/components/schemas/ReportOutputTypeObject"
          },
          "objectiveSummary": {
            "$ref": "#/components/schemas/ReportOutputTypeObject"
          },
          "factorExposure": {
            "$ref": "#/components/schemas/ReportOutputTypeObject"
          },
          "constraintSummary": {
            "$ref": "#/components/schemas/ReportOutputTypeObject"
          },
          "excludedSecurities": {
            "$ref": "#/components/schemas/ReportOutputTypeObject"
          },
          "optimizerLog": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "FPOOptimizationParameters": {
        "required": [
          "outputTypes",
          "strategy"
        ],
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/FPOAccountInput"
          },
          "strategy": {
            "$ref": "#/components/schemas/FPOOptimizerStrategyInput"
          },
          "optimization": {
            "$ref": "#/components/schemas/OptimizationInput"
          },
          "outputTypes": {
            "$ref": "#/components/schemas/OptimizerOutputTypes"
          }
        }
      },
      "FPOOptimizationParametersRequest": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/FPOOptimizationParameters"
          }
        }
      },
      "SettingsGlobalVarsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "PORTFOLIO": "Client:/Folder1/Account1.OFDB",
              "ALPHAX": "AVAIL(ML_YTM(#ED),P_PRICE(#ED))"
            }
          }
        }
      },
      "AvailableObjectivesObject": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "directory": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "terms": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AvailableTermsObject"
            }
          }
        }
      },
      "AvailableTermsObject": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AvailableStrategiesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "Client:/folder1/subfolder1/": [
                "Cash_Flow",
                "Factor_Testing"
              ],
              "Personal:/": [
                "Position_Limit",
                "FNG_Test"
              ]
            }
          }
        }
      },
      "AvailableStrategiesInput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "directory": {
                "type": "array",
                "description": "The directories to recursively search. Defaults to returning all strategies",
                "items": {
                  "type": "string"
                },
                "example": [
                  "Personal:/",
                  "Client:/Folder1/Subfolder1/"
                ],
                "nullable": true
              }
            }
          }
        }
      },
      "AvailableConstraintsResultObject": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "directory": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "AvailableTranscostsResultObject": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              },
              "directory": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AvailableComponentsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "constraints": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/AvailableConstraintsResultObject"
                },
                "example": {
                  "client:.5% minimum threshold.fpo_constraint": {
                    "category": "Holding",
                    "description": "Demo Shared Constraint",
                    "directory": "Client",
                    "name": ".5% Minimum Threshold",
                    "tags": [
                      "Demo"
                    ],
                    "type": "Holdings Threshold"
                  }
                }
              },
              "transactionCosts": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/AvailableTranscostsResultObject"
                },
                "example": {
                  "personal:fpo_transcost": {
                    "description": "Demo personal transaction cost model",
                    "directory": "Personal",
                    "name": "1_Percent",
                    "tags": [
                      "HighTransCost"
                    ]
                  }
                }
              },
              "objectives": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/AvailableObjectivesObject"
                },
                "example": {
                  "client:min_total_variance.fpo_objective": {
                    "description": "Demo shared objective",
                    "directory": "Client",
                    "name": "Min_Total_Variance",
                    "tags": [
                      "2024",
                      "Demo"
                    ],
                    "terms": {
                      "172518af149-3ba383ab2937d": {
                        "category": "Risk",
                        "name": "Min Total Variance",
                        "type": "Volatility"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FPOAvailableComponentsInput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "components": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "constraints",
                    "objectives",
                    "transactionCosts",
                    "tax"
                  ]
                },
                "example": [
                  "constraints",
                  "objectives",
                  "transactionCosts"
                ],
                "nullable": true
              },
              "documentLevel": {
                "type": "object",
                "properties": {
                  "strategy": {
                    "type": "string",
                    "description": "The ID of the document-level strategy from which to include the document-level FPO constraints.",
                    "example": "Client:/Folder1/MyStrategy1"
                  },
                  "documentLevelOnly": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Only relevant if strategy is provided. Controls whether or not shared constraints are considered."
                  }
                }
              },
              "filters": {
                "description": "Contains the criteria by which to filter the output.",
                "type": "object",
                "properties": {
                  "constraints": {
                    "type": "object",
                    "properties": {
                      "directory": {
                        "type": "string",
                        "example": "Personal:/MyConstraints/",
                        "nullable": true
                      },
                      "category": {
                        "type": "string",
                        "example": "trading",
                        "enum": [
                          "holding",
                          "risk",
                          "trading"
                        ],
                        "nullable": true
                      },
                      "type": {
                        "type": "string",
                        "example": "expectedReturn",
                        "enum": [
                          "expectedReturn",
                          "diversification",
                          "factorExposure",
                          "generalLinear",
                          "holdingsThreshold",
                          "leverage",
                          "numberOfAssets",
                          "weight",
                          "numberOfBuys",
                          "numberOfSells",
                          "roundlots",
                          "tradeThreshold",
                          "sensitivity",
                          "transactionCost",
                          "turnover",
                          "expectedTailLossEtl",
                          "percentContributionToRisk",
                          "volatility"
                        ],
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "custom_constraint_tag1",
                          "custom_constraint_tag2"
                        ],
                        "nullable": true
                      }
                    }
                  },
                  "objectives": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "directory": {
                        "type": "string",
                        "example": "Personal:/MyObjectives/",
                        "nullable": true
                      },
                      "category": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "risk",
                            "linear",
                            "ratio",
                            "tradingCost"
                          ]
                        },
                        "example": [
                          "risk",
                          "linear"
                        ],
                        "nullable": true
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "factorExposure",
                            "expectedTailLossEtl",
                            "volatility",
                            "drawdown",
                            "generalLinear",
                            "expectedReturn",
                            "transactionCost",
                            "sensitivity",
                            "sharpeInformationRatio",
                            "starr",
                            "diversification",
                            "riskParity"
                          ]
                        },
                        "example": [
                          "drawdown",
                          "riskParity"
                        ],
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "custom_obj_tag1",
                          "custom_obj_tag2"
                        ],
                        "nullable": true
                      }
                    }
                  },
                  "transactionCosts": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "directory": {
                        "type": "string",
                        "example": "Personal:/MyTransCosts/",
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "custom_tcost_tag1",
                          "custom_tcost_tag2"
                        ],
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AXPAvailableComponentsInput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "components": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "constraints",
                    "objectives",
                    "transactionCosts",
                    "tax"
                  ]
                },
                "example": [
                  "constraints",
                  "objectives",
                  "transactionCosts"
                ],
                "nullable": true
              },
              "documentLevel": {
                "type": "object",
                "properties": {
                  "strategy": {
                    "type": "string",
                    "description": "The ID of the document-level strategy from which to include the document-level FPO constraints.",
                    "example": "Client:/Folder1/MyStrategy1"
                  },
                  "documentLevelOnly": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Only relevant if strategy is provided. Controls whether or not shared constraints are considered."
                  }
                }
              },
              "filters": {
                "description": "Contains the criteria by which to filter the output.",
                "type": "object",
                "properties": {
                  "constraints": {
                    "type": "object",
                    "properties": {
                      "directory": {
                        "type": "string",
                        "example": "Personal:/MyConstraints/",
                        "nullable": true
                      },
                      "category": {
                        "type": "string",
                        "example": "trading",
                        "enum": [
                          "holding",
                          "risk",
                          "trading"
                        ],
                        "nullable": true
                      },
                      "type": {
                        "type": "string",
                        "example": "limitHolding",
                        "enum": [
                          "budget",
                          "limitHolding",
                          "thresholdHolding",
                          "limitModelDeviation",
                          "limitAbsoluteHolding",
                          "limitLongHolding",
                          "limitShortHolding",
                          "limitLongShortRatio",
                          "limitWeightedAverage",
                          "limitIssuerHolding",
                          "limitExposure",
                          "limitAbsoluteExposure",
                          "limitLongExposure",
                          "limitShortExposure",
                          "limitIssuerExposure",
                          "limitTrade",
                          "limitTurnover",
                          "limitBuy",
                          "limitSell",
                          "limitShortSell",
                          "thresholdTrade",
                          "limitTransactionCost",
                          "limitIssuerTrading",
                          "limitRisk",
                          "limitRelativeMarginalContributionToRisk",
                          "limitNames",
                          "limitLongNames",
                          "limitShortNames",
                          "limitNumberBuyTrades",
                          "limitNumberSellTrades",
                          "limitNumberTrades",
                          "limitWeightedNames",
                          "limitAlmostLongTermGains",
                          "limitMinimumHoldingPeriod",
                          "limitTaxLiability",
                          "limitNetTaxGains",
                          "limitNetTaxLosses",
                          "limitGrossTaxGains",
                          "limitGrossTaxLosses",
                          "robustLinear",
                          "probabilisticLinear"
                        ],
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "custom_constraint_tag1",
                          "custom_constraint_tag2"
                        ],
                        "nullable": true
                      }
                    }
                  },
                  "objectives": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "directory": {
                        "type": "string",
                        "example": "Personal:/MyObjectives/",
                        "nullable": true
                      },
                      "category": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "risk",
                            "linear",
                            "ratio",
                            "tradingCost"
                          ]
                        },
                        "example": [
                          "risk",
                          "linear"
                        ],
                        "nullable": true
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "netTilt",
                            "longTilt",
                            "shortTilt",
                            "taxGains",
                            "taxLiability",
                            "riskStdDev",
                            "riskVariance",
                            "expectedReturn",
                            "robustReturn",
                            "linearBuy",
                            "linearSell",
                            "linearTransCost",
                            "fixedChargeBuyCost",
                            "fixedChargeSellCost",
                            "fixedChargeTransCost",
                            "marketImpact",
                            "shortSellCost",
                            "transactionCost"
                          ]
                        },
                        "example": [
                          "marketImpact",
                          "transactionCost"
                        ],
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "custom_obj_tag1",
                          "custom_obj_tag2"
                        ],
                        "nullable": true
                      }
                    }
                  },
                  "transactionCosts": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "directory": {
                        "type": "string",
                        "example": "Personal:/MyTransCosts/",
                        "nullable": true
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "custom_tcost_tag1",
                          "custom_tcost_tag2"
                        ],
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BPMNPOAvailableComponentsInput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "components": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "tax",
                    "transactionCosts"
                  ]
                },
                "example": [
                  "tax",
                  "transactionCosts"
                ],
                "nullable": true
              }
            }
          }
        }
      },
      "NPOAccountInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account path",
            "nullable": true,
            "example": "Client:/folder1/InitialPortfolio1.ACCT"
          },
          "overrides": {
            "$ref": "#/components/schemas/OptimizerAccountOverridesInput"
          }
        }
      },
      "NPOObjectiveInput": {
        "type": "string",
        "example": "NPO_OBJECTIVE_FUNCTION_KEY_20120101_",
        "nullable": true
      },
      "NPOTaxInput": {
        "type": "string",
        "example": "NPO_TAX_KEY_20120101_",
        "nullable": true
      },
      "NPOOptimizerStrategyOverridesInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "objective": {
            "$ref": "#/components/schemas/NPOObjectiveInput"
          },
          "tax": {
            "$ref": "#/components/schemas/NPOTaxInput"
          },
          "constraints": {
            "type": "object",
            "example": {
              "holdings": "Holdings1",
              "roundlots": "Roundlots1"
            },
            "description": "List of constraint type vs constraint id",
            "nullable": true
          },
          "alpha": {
            "type": "string",
            "description": "Alpha",
            "example": "P(0)/100",
            "nullable": true
          },
          "transactionCost": {
            "type": "string",
            "description": "Transaction cost",
            "example": "NPO_TRANS_COST_MODEL_KEY_20130612_",
            "nullable": true
          }
        }
      },
      "NPOOptimizerStrategyInput": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "overrides": {
            "$ref": "#/components/schemas/NPOOptimizerStrategyOverridesInput"
          },
          "id": {
            "type": "string",
            "description": "OptimizerStrategy document path",
            "example": "Client:/folder1/NPO_Model"
          }
        }
      },
      "NPOOptimizationParameters": {
        "required": [
          "outputTypes",
          "strategy"
        ],
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/NPOAccountInput"
          },
          "strategy": {
            "$ref": "#/components/schemas/NPOOptimizerStrategyInput"
          },
          "optimization": {
            "$ref": "#/components/schemas/OptimizationInput"
          },
          "outputTypes": {
            "$ref": "#/components/schemas/OptimizerOutputTypes"
          }
        }
      },
      "NPOOptimizationParametersRequest": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/NPOOptimizationParameters"
          }
        }
      },
      "AFIAccountInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account path",
            "nullable": true,
            "example": "Client:/folder1/InitialPortfolio1.ACCT"
          },
          "overrides": {
            "$ref": "#/components/schemas/OptimizerAccountOverridesInput"
          }
        }
      },
      "AFIObjectiveInput": {
        "type": "string",
        "example": "AFI_OBJECTIVE_FUNCTION_KEY_20120101_",
        "nullable": true
      },
      "AFITaxInput": {
        "type": "string",
        "example": "AXO_TAX_KEY_20120101_",
        "nullable": true
      },
      "AFIOptimizerStrategyOverridesInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "objective": {
            "$ref": "#/components/schemas/AFIObjectiveInput"
          },
          "tax": {
            "$ref": "#/components/schemas/AFITaxInput"
          },
          "constraints": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/EnabledEnum"
            },
            "example": {
              "AFIConstraint-DefaultBudget": "enable",
              "AFI_CONSTRAINT_KEY_20190321_132218_Limit Names": "disable"
            },
            "description": "List of constraints",
            "nullable": true
          },
          "alpha": {
            "type": "string",
            "description": "Alpha",
            "example": "P(0)/100",
            "nullable": true
          },
          "transactionCost": {
            "type": "string",
            "description": "Transaction cost",
            "example": "AFI_TRANS_COST_MODEL_KEY_20130612_",
            "nullable": true
          }
        }
      },
      "AFIOptimizerStrategyInput": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "overrides": {
            "$ref": "#/components/schemas/AFIOptimizerStrategyOverridesInput"
          },
          "id": {
            "type": "string",
            "description": "OptimizerStrategy document path",
            "example": "Client:/folder1/AFI_Model"
          }
        }
      },
      "AFIOptimizationParameters": {
        "required": [
          "outputTypes",
          "strategy"
        ],
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AFIAccountInput"
          },
          "strategy": {
            "$ref": "#/components/schemas/AFIOptimizerStrategyInput"
          },
          "optimization": {
            "$ref": "#/components/schemas/OptimizationInput"
          },
          "outputTypes": {
            "$ref": "#/components/schemas/OptimizerOutputTypes"
          }
        }
      },
      "AFIOptimizationParametersRequest": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AFIOptimizationParameters"
          }
        }
      },
      "BPMAccountInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account path",
            "nullable": true,
            "example": "Client:/folder1/InitialPortfolio1.ACCT"
          },
          "overrides": {
            "$ref": "#/components/schemas/OptimizerAccountOverridesInput"
          }
        }
      },
      "BPMObjectiveInput": {
        "type": "string",
        "example": "BPM_OBJECTIVE_FUNCTION_KEY_20120101_",
        "nullable": true
      },
      "BPMTaxInput": {
        "type": "string",
        "example": "BPM_TAX_KEY_20120101_",
        "nullable": true
      },
      "BPMOptimizerStrategyOverridesInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "objective": {
            "$ref": "#/components/schemas/BPMObjectiveInput"
          },
          "tax": {
            "$ref": "#/components/schemas/BPMTaxInput"
          },
          "constraints": {
            "type": "object",
            "example": {
              "holdings": "Holdings1",
              "roundlots": "Roundlots1"
            },
            "description": "List of constraint type vs constraint id",
            "nullable": true
          },
          "alpha": {
            "type": "string",
            "description": "Alpha",
            "example": "P(0)/100",
            "nullable": true
          },
          "transactionCost": {
            "type": "string",
            "description": "Transaction cost",
            "example": "BPM_TRANS_COST_MODEL_KEY_20130612_",
            "nullable": true
          }
        }
      },
      "BPMOptimizerStrategyInput": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "overrides": {
            "$ref": "#/components/schemas/BPMOptimizerStrategyOverridesInput"
          },
          "id": {
            "type": "string",
            "description": "OptimizerStrategy document path",
            "example": "Client:/folder1/BPM_Model"
          }
        }
      },
      "BPMOptimizationParameters": {
        "required": [
          "outputTypes",
          "strategy"
        ],
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/BPMAccountInput"
          },
          "strategy": {
            "$ref": "#/components/schemas/BPMOptimizerStrategyInput"
          },
          "optimization": {
            "$ref": "#/components/schemas/OptimizationInput"
          },
          "outputTypes": {
            "$ref": "#/components/schemas/OptimizerOutputTypes"
          }
        }
      },
      "BPMOptimizationParametersRequest": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BPMOptimizationParameters"
          }
        }
      },
      "StatResponseObject": {
        "type": "object",
        "properties": {
          "delta": {
            "type": "number"
          },
          "final": {
            "type": "number"
          },
          "initial": {
            "type": "number"
          }
        }
      },
      "HoldingsResponseObject": {
        "type": "object",
        "properties": {
          "initial": {
            "type": "number",
            "example": 0
          },
          "optimal": {
            "type": "number",
            "example": 811.3903494938772
          },
          "price": {
            "type": "number",
            "example": 1
          },
          "priceISO": {
            "type": "string",
            "example": "EUR"
          },
          "priceLocal": {
            "type": "number",
            "example": 1
          },
          "priceLocalISO": {
            "type": "string",
            "example": "EUR"
          },
          "symbol": {
            "type": "string",
            "example": "CASH_EUR"
          },
          "traded": {
            "type": "number",
            "example": 811.3903494938772
          }
        }
      },
      "TradeResponseObject": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "example": "MMM-US"
          },
          "tradeAction": {
            "type": "string",
            "example": "BUYL"
          },
          "tradeType": {
            "type": "string",
            "example": "Buy More"
          },
          "traded": {
            "type": "number",
            "example": 22.55
          },
          "transactionCost": {
            "type": "number",
            "example": 96.17
          }
        }
      },
      "ResultResponse": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "holdings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HoldingsResponseObject"
                },
                "example": [
                  {
                    "initial": 0,
                    "optimal": 811.3903494938772,
                    "price": 1,
                    "priceISO": "EUR",
                    "priceLocal": 1,
[...]
