openapi: 3.0.0
info:
  title: Open:FactSet - Partners
  description: >-
    This service provides the capability to search and download unstructured
    content provided by <a
    href="https://open.factset.com/catalog/en-us">Open:FactSet Partners</a>.
  version: 2.0.0
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/openfactset-partners-documents
servers:
  - url: https://api.factset.com/bulk-documents/ofm/v2
paths:
  /linkup/job-listings:
    get:
      tags:
        - LinkUp
      summary: >-
        Returns the  daily files from Open:FactSet Partner - LinkUp. The LinkUp
        API provides access to job listings dataset that is sourced directly
        from employer webistes globally delivered daily.
      operationId: getLinkUpJobListings
      description: >-
        Returns the  daily files from Open:FactSet Partner - LinkUp. The LinkUp
        API provides access to job listings dataset that is sourced directly
        from employer webistes globally delivered daily. **This API is no longer
        being sold for new clients.**
      parameters:
        - $ref: '#/components/parameters/_sort'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/type'
      responses:
        '200':
          description: Download link & metadata for LinkUp data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkUpResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleLinkUpResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /orbit/transcripts/daily:
    get:
      tags:
        - Orbit
      summary: Returns the daily files from Open:FactSet Partner - Orbit.
      operationId: getChineseTranscriptsDaily
      description: Returns the daily files from Open:FactSet Partner - Orbit.
      parameters:
        - $ref: '#/components/parameters/_sort'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/startDateOrbit'
        - $ref: '#/components/parameters/endDateOrbit'
        - $ref: '#/components/parameters/stockCode'
        - $ref: '#/components/parameters/fileName'
        - $ref: '#/components/parameters/title'
      responses:
        '200':
          description: Download link & metadata for Orbit data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orbitResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrbitResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /orbit/transcripts/history:
    get:
      tags:
        - Orbit
      summary: Returns the history files from Open:FactSet Partner - Orbit
      operationId: getChineseTranscriptsHistory
      description: 'Returns the historical files from February 28th, 2005 to current date. '
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/fileName'
      responses:
        '200':
          description: Download link & metadata for Orbit data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orbithistoryResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrbitHistoryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/clinical-trials/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Clinical Trial Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiClinicalTrialsDaily
      description: >-
        Returns the daily files of Clinical Trial Details from Open:FactSet
        Partner - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_sort'
        - name: _paginationLimit
          in: query
          description: >-
            Specifies the maximum number of results to return per result Default
            value 20 and Maximum value 300
          required: false
          schema:
            type: integer
            default: 20
            maximum: 300
            minimum: 1
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/officialTitle'
        - $ref: '#/components/parameters/trialId'
        - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Download link & metadata for Clinical Trial Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleDataResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/diseases/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Diseases Details from Open:FactSet Partner-
        Ozmosi.
      operationId: getOzmosiDiseasesDaily
      description: >-
        Returns the daily files of Diseases Details from Open:FactSet Partner-
        Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/diseaseArea'
        - $ref: '#/components/parameters/subTherapyArea'
        - $ref: '#/components/parameters/therapyArea'
      responses:
        '200':
          description: Download link & metadata for Diseases Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseasesResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleDiseasesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/biomarkers/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Biomarkers Details from Open:FactSet Partner
        - Ozmosi.
      operationId: getOzmosiBiomarkersDaily
      description: >-
        Returns the daily files of Biomarkers Details from Open:FactSet Partner
        - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/biomarkerName'
        - $ref: '#/components/parameters/biomarkerFullName'
      responses:
        '200':
          description: Download link & metadata for Biomarkers Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiomarkersResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleBiomarkersResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/beam-endpoints/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Beam Endpoints Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiEndpointsDaily
      description: >-
        Returns the daily files of Beam Endpoints Details from Open:FactSet
        Partner - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/fullForm'
      responses:
        '200':
          description: Download link & metadata for Beam Endpoint Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeamEndpointsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleBeamEndpointsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/primaryoutcome/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of PrimaryOutcome Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiPrimaryoutcomeDaily
      description: >-
        Returns the daily files of PrimaryOutcome Details from Open:FactSet
        Partner - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/primaryOutcomeMeasure'
        - $ref: '#/components/parameters/primaryOutcomeDesc'
      responses:
        '200':
          description: Download link & metadata for PrimaryOutcome Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryOutcomeResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/samplePrimaryOutcomeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/orangepurple/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of OrangePurple Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiOrangepurpleDaily
      description: >-
        Returns the daily files of OrangePurple Details from Open:FaStset
        Partner - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/beamOpNovelDrug'
        - $ref: '#/components/parameters/beamOpNovelTarget'
      responses:
        '200':
          description: Download link & metadata for OrangePurple Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrangePurpleResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrangePurpleResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/intervention/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Intervention details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiInterventionDaily
      description: >-
        Returns the daily files of Intervention details from Open:FactSet
        Partner - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/beamInterventionName'
        - $ref: '#/components/parameters/beamInterventionDesc'
      responses:
        '200':
          description: Download link & metadata for Intervention Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterventionResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleInterventionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/sponsors/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Sponsors Details from Open:FactSet Partner -
        Ozmosi.
      operationId: getOzmosiSponsorsDaily
      description: >-
        Returns the daily files of Sponsors Details from Open:FactSet Partner -
        Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/beamSponsorsName'
        - $ref: '#/components/parameters/beamSponsorsTicker'
      responses:
        '200':
          description: Download link & metadata for Sponsors Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleSponsorsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/collaborators/daily:
    get:
      tags:
        - Ozmosi
      summary: >-
        Returns the daily files of Collaborators Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiCollaboratorsDaily
      description: >-
        Returns the daily files of Collaborators Details from Open:FactSet
        Partner - Ozmosi.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/clinicalTrialId'
        - $ref: '#/components/parameters/beamCollaboratorsName'
        - $ref: '#/components/parameters/beamCollaboratorsTicker'
      responses:
        '200':
          description: Download link & metadata for Collaborators Details..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCollaboratorsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/clinical-trials/history:
    get:
      tags:
        - Ozmosi
      summary: Returns the history files from Open:FactSet Partner - Ozmosi
      operationId: getOzmosiClinicalTrialsHistory
      description: Returns the historical files from June 23rd, 2005 to current date.
      parameters:
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
      responses:
        '200':
          description: Download link & metadata for Ozmosi full history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullHistoryResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleFullHistoryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /luxembourg/green-bonds/daily:
    get:
      tags:
        - Luxembourg
      summary: Returns daily files from Open:FactSet Partner - Luxembourg
      operationId: getLuxembourgGreenbondsDaily
      description: >
        Returns XML files and relevant metadata provided by Open: FactSet
        Partner – Luxembourg.
      parameters:
        - $ref: '#/components/parameters/_sort'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/isin'
        - $ref: '#/components/parameters/preissuancePubDate'
        - $ref: '#/components/parameters/typeOne'
      responses:
        '200':
          description: Download link & metadata for luxembourg files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LuxResponse'
              examples:
                default200LuxResponseExample:
                  $ref: '#/components/examples/luxBondsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /scripts-asia/transcripts:
    get:
      tags:
        - Scripts Asia
      summary: Returns the daily files from Open:FactSet Partner - Scripts Asia.
      operationId: getScriptsAsiaFiles
      description: >-
        Returns XML files and relevant metadata provided by Open: FactSet
        Partner – Scripts Asia.

        - type=delta returns the files from March 1st 2023 to current date.

        - type=full will returns the files from start of date until Feb 28th
        2023.
      parameters:
        - $ref: '#/components/parameters/_sort'
        - $ref: '#/components/parameters/_paginationLimit'
        - $ref: '#/components/parameters/_paginationOffset'
        - $ref: '#/components/parameters/trackingId'
        - $ref: '#/components/parameters/saId'
        - $ref: '#/components/parameters/startDateScriptsAsia'
        - $ref: '#/components/parameters/endDateScriptsAsia'
        - $ref: '#/components/parameters/companyName'
        - $ref: '#/components/parameters/eventType'
        - $ref: '#/components/parameters/languageType'
        - $ref: '#/components/parameters/fileNameScriptsAsia'
        - $ref: '#/components/parameters/typeScriptsAsia'
      responses:
        '200':
          description: Download link & metadata for Scripts Asia files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scriptsAsiaResponse'
              examples:
                default200LuxResponseExample:
                  $ref: '#/components/examples/scriptsAsiaResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: >-
            Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For more help, select the Report Issue in the top
            right corner of this Developer Portal specification card and choose
            Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: >-
            The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the
            server is refusing to respond. Please reach out to FactSet Account
            Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    _sort:
      name: _sort
      in: query
      description: >-
        Enables to get the data in ascending or descending order based on
        startTime. Results are in reverse chronological order if this parameter
        is not used.
      required: false
      schema:
        type: string
        enum:
          - startDate
          - '-startDate'
        default: '-startDate'
    _paginationLimit:
      name: _paginationLimit
      in: query
      description: Specifies the maximum number of results to return per result.
      required: false
      schema:
        type: integer
        maximum: 500
        minimum: 1
        default: 20
    _paginationOffset:
      name: _paginationOffset
      in: query
      description: >-
        Specifies the starting point for pagination. This parameter is used to
        identify the beginning of next set of results. Using this parameter can
        fetch maximum of first 10000 records.
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    startDate:
      name: startDate
      in: query
      description: >-
        The earliest date of the LinkUp file the API should fetching for based
        on fileTimestamp.
      required: false
      schema:
        type: string
        format: date
      example: '2020-01-01'
    endDate:
      name: endDate
      in: query
      description: >-
        The latest date of the LinkUp file the API should fetching for based on
        fileTimestamp.
      required: false
      schema:
        type: string
        format: date
      example: '2021-08-01'
    startDateOrbit:
      name: startDate
      in: query
      description: >-
        The earliest date of the Orbit file the API should fetching for based on
        fileTimestamp.
      required: false
      schema:
        type: string
        format: date
      example: '2021-09-01'
    endDateOrbit:
      name: endDate
      in: query
      description: >-
        The latest date of the Orbit file the API should fetching for based on
        fileTimestamp.
      required: false
      schema:
        type: string
        format: date
      example: '2021-10-08'
    type:
      name: type
      in: query
      description: >-
        Used to provide the full job descriptions when value "full" is used for
        this parameter.
      required: false
      schema:
        type: string
        enum:
          - full
          - delta
        default: delta
    stockCode:
      name: stockCode
      in: query
      description: >
        The company/ticker which is associated with the transcript. Please
        submit a question via Issue Tracker under the Open:FactSet - Partner
        Communication to get the required list of tickers.
      required: false
      schema:
        type: string
      example: '601236'
    fileName:
      name: fileName
      in: query
      description: This parameter is used to filters the results based on file name.
      required: false
      schema:
        type: string
    title:
      name: title
      in: query
      description: >-
        This parameter is used to filter the results based on the headline of
        the transcript.
      required: false
      schema:
        type: string
      example: 投资者关系活动记录表2022-001
    clinicalTrialId:
      name: clinicalTrialId
      in: query
      description: >-
        This parameter specifies Ozmosi unique ID for each historical version of
        a trial.
      required: false
      schema:
        type: string
      example: NCT03037385_037
    officialTitle:
      name: officialTitle
      in: query
      description: Specifies full scientific title of a trial.
      required: false
      schema:
        type: string
      example: >-
        A Phase 1/2 Study of the Highly-selective RET Inhibitor, BLU-667, in
        Patients With Thyroid Cancer, Non-Small Cell Lung Cancer (NSCLC) and
        Other Advanced Solid Tumors
    trialId:
      name: trialId
      in: query
      description: This parameter specifies ID of the trial assigned by the trial registry.
      required: false
      schema:
        type: string
      example: NCT03037385
    date:
      name: date
      in: query
      description: Specifies the timestamp of each version of a trial in YYYY-MM-DD format.
      required: false
      schema:
        type: string
        format: date-time
      example: '2022-10-13 00:00:00'
    diseaseArea:
      name: diseaseArea
      in: query
      description: Specifies the cleaned disease name.
      required: false
      schema:
        type: string
      example: Inflammation
    subTherapyArea:
      name: subTherapyArea
      in: query
      description: Specifies the Sub Therapy Area of the disease.
      required: false
      schema:
        type: string
      example: Inflammation
    therapyArea:
      name: therapyArea
      in: query
      description: Specifies the Therapy Area of the disease.
      required: false
      schema:
        type: string
      example: Musculoskeletal
    biomarkerName:
      name: biomarkerName
      in: query
      description: >-
        This parameter specifies the abbreviated name of any patient biomarkers
        being targeted for research in the trial.
      required: false
      schema:
        type: string
      example: EGFR
    biomarkerFullName:
      name: biomarkerFullName
      in: query
      description: Specifies the full name of the biomarker.
      required: false
      schema:
        type: string
      example: epidermal growth factor receptor
    name:
      name: name
      in: query
      description: >-
        This parameter specifies cleaned and standardized abbreviations of
        primary endpoints that are common or of key interest.
      required: false
      schema:
        type: string
      example: OS
    fullForm:
      name: fullForm
      in: query
      description: >-
        This parameter specifies cleaned and standardized full names of primary
        endpoints that are common or of key interest.
      required: false
      schema:
        type: string
      example: Overall Survival
    primaryOutcomeMeasure:
      name: primaryOutcomeMeasure
      in: query
      description: >-
        It specifies the description of each primary outcome measure (or for
        observational studies, specific key measurement[s] or observation[s]
        used to describe patterns of diseases or traits or associations with
        exposures, risk factors or treatment).
      required: false
      schema:
        type: string
      example: >-
        Percentage of Participants Achieving an American College of Rheumatology
        (ACR) 50 Response at Week 12.
    primaryOutcomeDesc:
      name: primaryOutcomeDesc
      in: query
      description: >-
        It describes the metric used to characterize the specific primary
        outcome measure, if not included in the primary outcome measure title.
      required: false
      schema:
        type: string
      example: Week 12
    beamOpNovelDrug:
      name: beamOpNovelDrug
      in: query
      description: >-
        This parameter identifies if the trial includes a drug that is not
        approved by the FDA.
      required: false
      schema:
        type: string
      example: EDP-305
    beamOpNovelTarget:
      name: beamOpNovelTarget
      in: query
      description: It lists the unapproved drug.
      required: false
      schema:
        type: string
      example: tricalcium
    beamInterventionName:
      name: beamInterventionName
      in: query
      description: This parameter specifies the name of intervention applied.
      required: false
      schema:
        type: string
      example: Etelcalcetide
    beamInterventionDesc:
      name: beamInterventionDesc
      in: query
      description: It specifies the description of intervention applied.
      required: false
      schema:
        type: string
      example: Cinacalcet oral once-daily
    beamSponsorsName:
      name: beamSponsorsName
      in: query
      description: It specifies the cleaned name of the Sponsor.
      required: false
      schema:
        type: string
      example: AtriCure
    beamSponsorsTicker:
      name: beamSponsorsTicker
      in: query
      description: It specifies the stock ticker for primary sponsor.
      required: false
      schema:
        type: string
      example: ATRC
    beamCollaboratorsName:
      name: beamCollaboratorsName
      in: query
      description: It specifies the cleaned name of the collaborator.
      required: false
      schema:
        type: string
      example: Inventivan Pharma
    beamCollaboratorsTicker:
      name: beamCollaboratorsTicker
      in: query
      description: It specifies the Stock ticker for collaborator.
      required: false
      schema:
        type: string
      example: SSNLF
    isin:
      name: isin
      in: query
      required: false
      schema:
        type: string
      description: |
        Specifies the ISIN of the record.
      example: XS2486610541
    preissuancePubDate:
      name: preissuancePubDate
      in: query
      required: false
      schema:
        type: string
        format: date
      description: |
        The pre-issuance date of the record.
      example: '2022-08-26'
    typeOne:
      name: type
      in: query
      required: false
      schema:
        type: string
      description: |
        Please input the value as **idMap** to get the symbology files   
    trackingId:
      name: trackingId
      in: query
      required: false
      schema:
        type: string
      description: |
        Unique Scripts Asia identifier assigned to an event.
      example: 431eb8d0-cc45-11ed-8609-0f67251fe7a4
    saId:
      name: saId
      in: query
      required: false
      schema:
        type: string
      description: |
        This parameter filters the results based on saId of the Transcript.
      example: SA002220_2023Mar27_a_02
    startDateScriptsAsia:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        format: date
      description: >
        The earliest date of the Scripts Asia file the API should return based
        on date.
      example: '2023-03-20'
    endDateScriptsAsia:
      name: endDate
      in: query
      required: false
      schema:
        type: string
        format: date
      description: >
        The latest date of the Scripts Asia file the API should return based on
        date.         
      example: '2023-03-28'
    companyName:
      name: companyName
      in: query
      required: false
      schema:
        type: string
      description: >
        This parameter filters the results based on Company Name of the
        Transcript.
      example: Beijing Shunxin Agriculture Co Ltd
    eventType:
      name: eventType
      in: query
      required: false
      schema:
        type: string
        enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
      description: |
        This parameter filters the results based on eventType of the Transcript.

        * 01 = Shareholders Meeting
        * 02 = Earnings Announcement
        * 03 = Medium-term Management Plan Announcement
        * 04 = Analyst Meeting
        * 05 = Special Announcement
        * 06 = Investor Conference
    languageType:
      name: languageType
      in: query
      required: false
      schema:
        type: string
        enum:
          - eng
          - local
        default: local
      description: >
        This parameter filters the results based on language type(either English
        or local) of the Transcript.
    fileNameScriptsAsia:
      name: fileName
      in: query
      description: This parameter is used to filters the results based on file name.
      required: false
      schema:
        type: string
      example: SA002220_2023Mar27_a_02_fds_xml_local.xml
    typeScriptsAsia:
      name: type
      in: query
      description: Specifies the type of the file.
      required: false
      schema:
        type: string
        enum:
          - full
          - delta
        default: delta
  schemas:
    LinkUpResponse:
      type: object
      title: Linkup Response.
      description: ' Returns LinkUp Response.'
      properties:
        data:
          type: array
          description: ' Returns LinkUp Response.'
          items:
            $ref: '#/components/schemas/LinkupFiles'
        meta:
          $ref: '#/components/schemas/meta'
    LinkupFiles:
      type: object
      title: LinkUp Object
      description: ' Returns LinkUp Response.'
      properties:
        filename:
          description: The filename of the daily LinkUp file.
          type: string
          example: raw_daily_v2_2022-10-16.xml
        fileTimestamp:
          description: The timestamp when LinkUp provided the file to FactSet.
          type: string
          format: date-time
          example: '2022-10-16 22:00:00'
        updateTimestamp:
          description: The timestamp when the file is last updated.
          type: string
          format: date-time
          example: '2022-10-16 22:00:55'
        type:
          description: >-
            Used to provide the full job descriptions when value - full is used
            for this parameter.
          type: string
          example: delta
        url:
          description: Download link for daily file from LinkUp on various job postings.
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-linkup-prod.s3.amazonaws.com/2022/10/raw_daily_v2_2022-10-16.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VE4KPAQD6S%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T151252Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED8aCXVzLWVhc3QtMSJGMEQCIEYZImk3I5of13kAbNkbWW7Ib0NnLkesTPO5lWMHbh83AiBuQMuFxXGRP9vcTAyCukgNzakuGUl40YqIKLAUZQ4axyruAggYEAEaDDk2NjI4MjExNjQyNSIMvMcMv4%2F0uRNVeQFUKssCh7n9%2BG6jIll%2BYG76a6NmKEz5Re6eeoDDS9%2FyyoP%2FvyBzJ9WRkvOY%2BuGsRbavlXr8tCUW%2F4trNJiukntRN8xKd66JRioQC9kTXEeGYeEIk3g7kcHBrG1yvPx1iY96XXPn5%2BW%2Bw%2FSZJluWWM0glYRnsJ01HBmS6VW%2Fad7x3guxP6QZz%2BReASeNjpvI60lc4qkasb9sCGy6wggC2KmMfQuQfGcrTqMF71%2F0LRzD12Jw1Drgyr7HH12r3k5w16x7sTJqxmEy4ovuUIV7R0AyMhBAsbPWAnrMrZmMndQyP5ZfDuqaIkmx2VZzX0NdIzYOhSMrgUjJNLJT6VKbolXJpVe4bQN5ZDMa88mi6Xol6v8IbxVNBjKhi8cVN3bVFg2TFbXNVMdu%2FewIO6nVbYMb7qtKORM4aeELr5xlFkPdHwdw7G0KdKAGpXtP9MeDQDCv17WaBjqfAegRsmgqBZGqhRXL4Y3YXWjpzURSMl4EHsltSr6%2FdNNbwe%2Fm8DdnmKQI0%2BBkLCPpIYwT0tzW4FwW4GwcUtpcZ7V5fAoHsQ4Wu2jKX2x1plTd9G2WU5CAnPn7OCKCH9zyj8Ck38L0GMBpfP3ltc0BwrlvX0Swuw33PvgB4iPsE6yR9vrF55oKwkgRn4WczoiBf3MJmhmmTades7odetEUpQ%3D%3D&X-Amz-Signature=a9221535699761e4d574b950778cc4d2460a952e9e9a5d532fb921e67483a74c
    orbitResponse:
      type: object
      title: Orbit Response.
      description: Returns Orbit Response.
      properties:
        data:
          type: array
          description: Returns Orbit Response.
          items:
            $ref: '#/components/schemas/OrbitFiles'
        meta:
          $ref: '#/components/schemas/meta'
    OrbitFiles:
      type: object
      title: Orbit Object
      description: Returns Orbit Response.
      properties:
        stockCode:
          description: >
            The company/ticker which is associated with the transcript. Please
            submit a question via Issue Tracker under the Open:FactSet - Partner
            Communication to get the required list of tickers.
          type: string
          example: '601236'
        eventStartDateTime:
          description: >-
            The timestamp when latest version of the call was published at the
            source.
          type: string
          format: date-time
          example: '2022-04-26 07:00:00'
        eventEndDateTime:
          description: The timestamp when the file is last updated.
          type: string
          format: date-time
          example: '2022-04-26 08:30:00'
        typesOfInvestorRelationsActivities:
          description: Specifies the type of the call.
          type: string
          example: ecm
        transcriptUniqueId:
          description: Unique identifier for the transcript
          type: string
          example: 195227c3-0806-3791-84f8-95812edcea51
        uploadTime:
          description: The timestamp when the transcript was last uploaded.
          type: string
          format: date-time
          example: '2022-10-16 10:17:16'
        title:
          description: The headline of the transcript.
          type: string
          example: 投资者关系活动记录表2022-001
        exchangeCode:
          description: Exchange Code
          type: string
          example: XSHG
        versionId:
          description: Helpful to distinguish corrected reports.
          type: integer
          example: 1
        fileName:
          description: The filename of the transcript.
          type: string
          example: 601236-195227c3-0806-3791-84f8-95812edcea51-ch-2022101619.json
        fileTimestamp:
          description: The time when file is available for ingestion at the source.
          type: string
          format: date-time
          example: '2022-10-16 19:00:00'
        updateTimestamp:
          description: The time when file is processed.
          type: string
          format: date-time
          example: '2022-10-16 19:00:40'
        fileSize:
          description: Defines the size of the file.
          type: integer
          example: 12744
        url:
          description: Download link for the transcripts provided by the Orbit feed.
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-orbit-v2-prod.s3.amazonaws.com/2022/10/601236-195227c3-0806-3791-84f8-95812edcea51-ch-2022101619.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T141632Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=7272242c3ec00491e43f6e20b39a65050599c033539c3ca8d8aeb2c9565d7ad1
    orbithistoryResponse:
      type: object
      title: Orbit History Response
      description: Returns History Response
      properties:
        data:
          type: array
          description: Returns History Response
          items:
            $ref: '#/components/schemas/OrbitHistoryFiles'
        meta:
          $ref: '#/components/schemas/meta'
    OrbitHistoryFiles:
      type: object
      title: ' Orbit History Object'
      description: Returns History Response
      properties:
        fileSize:
          description: Defines the size of the file.
          type: integer
          example: 210
        fileName:
          description: The filename of the folder.
          type: string
          example: 2022_03.tar.gz
        url:
          description: Download link for the transcripts provided by the Orbit feed.
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-orbit-v2-prod.s3.amazonaws.com/archive/2022_03.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEZIG27C5D%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T140425Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED8aCXVzLWVhc3QtMSJIMEYCIQCpnwubbmWR8h7DcyR36f7shl8rj%2BaUM8MCfTtJDz3K7gIhALvaP4DrYVJWwYI5uXlNVX0e7jFh0SDYH58NiUUuWjHZKu4CCBcQARoMOTY2MjgyMTE2NDI1IgwrEfRv2XcQccTycTUqywKK1VtBszZfOTixyF3D3wV2DGa3fJ5dtwSx%2BrhM0TBuhY%2BRzq9DsIdtLJ17odg8tmvpqsnBOIeMp9vgGAq5Y3%2BsVOav1t4iZDFZ%2FvfZNi0TKFPLHrl9I4fDzm2dJ%2FjXg9g07vsguyCAWBr6PvFEjnhvl5Mcpr9%2FcyFKULxQMQp6s%2F39zXmlhdkRNd6nZILBJH7COOd5eGlSm7UQMnmYTg3yJdHHWQ21WdpNy62KxuPs6O6oeVv1FNnL3pJuUYnqv%2BTvSqJlUuxXeathGiuQq9fpy3qahOE%2FnWxMzGuC9zibpj0e7TGDVPmZwf7RZBFNDcFI50cTtR6uRKv1m6zfhty%2BBbjqoqvX3ydqTTpROd%2FEsS4FXaQzXB5dz89YWjie9RM9JTU3fhzDrWoBOi0j%2F12yBtQ37qG%2F4NZeorxhMM%2BgueFQYV9rHNiy7XIBMObBtZoGOp0B9oNulnAKurGgAPZRKysBzw7RsskO19KoaHt2WScN1q4tt8P4SyZ9oTSD9JN%2FbZGpXQggk9HIUHAMeYk14trAyzoojXUFM6GpleF0dPX6qRBRXhkY0KuwZBT1TL6fBH828NWorWRGHSag%2FOnYAwbijOziNmbpnZ2MyhXE8OnyQu9ucFpUXP3Ie%2FqnObzyVIULXRY%2B6yXbRmrxZj46vA%3D%3D&X-Amz-Signature=b7437199bca7bd53d5467abcdb3961cee2ecee10e922644c19fdd9f629293513
    DataResponse:
      type: object
      title: Data Response
      description: Returns Data Response.
      properties:
        data:
          type: array
          description: Returns Data Response.
          items:
            $ref: '#/components/schemas/DataFiles'
        meta:
          $ref: '#/components/schemas/meta'
    DataFiles:
      type: object
      title: Data Object
      description: Returns Data Response.
      properties:
        trialId:
          description: ID of the trial assigned by the trial registry.
          type: string
          example: NCT03037385
        version:
          description: Specifies the version of a trial.
          type: integer
          example: 37
        fileName:
          description: The filename of the trial data.
          type: string
          example: NCT03037385_037.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial.
          type: string
          example: NCT03037385_037
        uniqueProtocolId:
          description: ID assigned by the sponsor of a trial.
          type: string
          example: BO42863
        officialTitle:
          description: Full scientific title of a trial.
          type: string
          example: >-
            A Phase 1/2 Study of the Highly-selective RET Inhibitor, BLU-667, in
            Patients With Thyroid Cancer, Non-Small Cell Lung Cancer (NSCLC) and
            Other Advanced Solid Tumors
        overallStatus:
          description: Defines the current stage of a trial's activity.
          type: string
          example: Active
        primaryCompletion:
          description: >-
            The date where the final patient is examined or treated for the
            purpose of collecting data on the trial's primary outcome measures.
            Trial Sponsors may publicly announce the data. results after this
            date
          type: string
          format: date-time
          example: '2023-12-31 00:00:00'
        studyCompletion:
          description: >-
            The date that treatment will complete in the trial and data will be
            fully collected for secondary outcome measures and adverse events.
          type: string
          format: date-time
          example: '2024-02-29 00:00:00'
        firstPosted:
          description: >-
            The date on which the trial was first available on
            ClinicalTrials.gov. Specifically, this date refers to version 1 of a
            trial
          type: string
          format: date-time
          example: '2017-01-31 00:00:00'
        lastPosted:
          description: >-
            The date on which this version of a trial was officially updated and
            publicly visible on the registry.
          type: string
          format: date-time
          example: '2022-10-14 00:00:00'
        sponsor:
          description: The primary sponsor of the trial.
          type: string
          example: Hoffmann-La Roche
        responsibleParty:
          description: >-
            Identifies if the responsible party of the trial is the Sponsor (The
            entity that initiates the study), the Principal Investigator (An
            individual designated by the Sponsor) or Sponsor-Investigator (An
            individual both initiating and conduct the trial)
          type: string
          example: Sponsor
        dataMonitoring:
          description: >-
            Identifies if the trial involves a group of independent scientists
            who monitor the safety and scientific integrity of a clinical trial.
          type: string
          example: scientists
        studyType:
          description: Describes the nature of a clinical study.
          type: string
          example: Interventional
        primaryPurpose:
          description: Describes the main reason for the clinical trial.
          type: string
          example: Treatment
        studyPhase:
          description: >-
            Specifies the stage of a clinical trial studying a drug or
            biological product.
          type: string
          example: Phase 1/Phase 2
        interventionalModel:
          description: >-
            Describes the general design of the strategy for assigning
            interventions to participants in a clinical study.
          type: string
          example: Parallel Assignment
        numberOfArms:
          description: The number of clinical arms for study.
          type: integer
          example: 2
        masking:
          description: Defines the type of masking.
          type: string
          example: Open Label
        allocation:
          description: >-
            Identifies the method used to assign participants to an arm of a
            clinical study.
          type: string
          example: Non-Randomized
        enrollment:
          description: Number of patients enrolled.
          type: integer
          example: 589
        minimumAge:
          description: Minimum age of participants.
          type: string
          example: 18 Years
        maximumAge:
          description: Maximum age of participants.
          type: string
          example: 75 Years
        sex:
          description: >-
            A type of eligibility criteria that indicates the sex of people who
            may participate in a clinical study.
          type: string
          example: female
        genderBased:
          description: Defines if study is gender specific.
          type: string
          example: All
        acceptsVolunteers:
          description: >-
            A type of eligibility criteria that indicates whether people who do
            not have the condition/disease being studied can participate in that
            clinical study.
          type: string
          example: sync
        date:
          description: Specifies the timestamp of each version of a trial.
          type: string
          format: date-time
          example: '2022-10-13 00:00:00'
        recordVerification:
          description: >-
            The date on which the responsible party last verified the clinical
            study information in the entire ClinicalTrials.gov record for the
            clinical study, even if no additional or updated information is
            being submitted
          type: string
          format: date-time
          example: '2022-10-01 00:00:00'
        studyStart:
          description: >-
            Date that the trial becomes open for recruitment or the date on
            which the first patient was enrolled.
          type: string
          format: date-time
          example: '2021-06-25 00:00:00'
        firstSubmitted:
          description: The date that the trial was submitted to the registry.
          type: string
          format: date-time
          example: '2020-10-27 00:00:00'
        firstSubmitMetQxCrite:
          description: >-
            The date on which a submitted study record is confirmed to be
            consistent with National Library of Medicine (NLM) quality control
            (QC) review criteria.
          type: string
          format: date-time
          example: '2020-10-27 00:00:00'
        lastSubmitMetQxCrite:
          description: >-
            The most recent date on which the study sponsor or investigator
            submitted changes to a study record.
          type: string
          format: date-time
          example: '2022-10-13 00:00:00'
        primaryCompDateType:
          description: Designates if primary completion date is actual or anticipated.
          type: string
          example: '2025-01-09 00:00:00'
        studyCompletionDateType:
          description: Designates if study completion date is actual or anticipated.
          type: string
          example: None
        firstPostedDateType:
          description: Designates if the first posted date is actual or anticipated.
          type: string
          example: Actual
        lastPostedDateType:
          description: Designates if the last update posted date is actual or anticipated.
          type: string
          example: None
        enrollmentType:
          description: >-
            Identifies if the enrollment number is the anticipated or actual
            amount.
          type: string
          example: Anticipated
        beamProbabilityOfTrialSuccess:
          description: Probability of trial success.
          type: number
          example: 82
        beamProbabilityOfLaunch:
          description: Probability of trial being launched.
          type: number
          example: 61
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed.
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT04629248_022.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T134304Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=f549097a39c169df9b810fa7c505f297db1f09ecbd317414e5d2d98db6fc2851
    DiseasesResponse:
      type: object
      title: Diseases Response
      description: Returns Diseases Response
      properties:
        data:
          type: array
          description: Returns Diseases Response
          items:
            $ref: '#/components/schemas/DiseasesFiles'
        meta:
          $ref: '#/components/schemas/meta'
    DiseasesFiles:
      type: object
      title: Diseases Object
      description: Returns Diseases Response
      properties:
        fileName:
          description: The filename of the trial data.
          type: string
          example: NCT00695292_016.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial.
          type: string
          example: NCT00695292_016
        diseaseArea:
          description: Defines the cleaned disease name.
          type: string
          example: Small Cell Lung Cancer
        subTherapyArea:
          description: The parent Sub Therapy Area of the diseases.
          type: string
          example: Oncology Solid Tumor
        therapyArea:
          description: The parent Therapy Area of the diseases.
          type: string
          example: Oncology
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed.
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT00695292_016.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T133245Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=ae7e50f5ea7017e217d940e9cc719ebb33c6ee086153094638de498cacf64001
    BiomarkersResponse:
      type: object
      title: Biomarkers Response
      description: Returns Biomarkers Response
      properties:
        data:
          type: array
          description: Returns Biomarkers Response
          items:
            $ref: '#/components/schemas/BiomarkersFiles'
        meta:
          $ref: '#/components/schemas/meta'
    BiomarkersFiles:
      type: object
      title: Biomarkers Object
      description: Returns Biomarkers Response
      properties:
        organ:
          description: Related organ where applicable.
          type: string
          example: Lung
        fileName:
          description: The filename of the trial data.
          type: string
          example: NCT00845832_036.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial.
          type: string
          example: NCT00845832_036
        biomarkerName:
          description: >-
            Abbreviated name of any patient biomarkers being targeted for
            research in the trial.
          type: string
          example: TNF
        biomarkerFullName:
          description: Full name of the biomarker.
          type: string
          example: tumor necrosis factor
        biomarkerType:
          description: Defines the Biomarker type.
          type: string
          example: Protein
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed.
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT00845832_036.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T132642Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=8e8ac7c3616ed9ebfb8b08f70579caf68f347670438ee41df0cfde369e1e0ee9
    BeamEndpointsResponse:
      type: object
      title: BeamEndpoints Response
      description: Returns Beam Endpoints Response
      properties:
        data:
          type: array
          description: Returns Beam Endpoints Response
          items:
            $ref: '#/components/schemas/BeamEndpointsFiles'
        meta:
          $ref: '#/components/schemas/meta'
    BeamEndpointsFiles:
      type: object
      title: Beam Endpoint Object
      description: Returns Beam Endpoints Response
      properties:
        name:
          description: >-
            Cleaned and standardized abbreviations of primary endpoints that are
            common or of key interest
          type: string
          example: OS
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT02126371_002.json
        clinicalTrialId:
          description: Specifies OZMOSI unique ID for each historical version of a trial
          type: string
          example: NCT02126371_005
        fullForm:
          description: >-
            Cleaned and standardized full names of primary endpoints that are
            common or of key interest
          type: string
          example: Area Under The Curve
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT02126371_005.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T132236Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=9422d5ecb1460cedb3fb21ace5ee152ec4eacfc6d2fcd96f433c1b91e6d93dfa
    PrimaryOutcomeResponse:
      type: object
      title: PrimaryOutcome Response
      description: Reurns PrimaryOutcomee Response
      properties:
        data:
          type: array
          description: Reurns PrimaryOutcomee Response
          items:
            $ref: '#/components/schemas/PrimaryOutcomeFiles'
        meta:
          $ref: '#/components/schemas/meta'
    PrimaryOutcomeFiles:
      type: object
      title: PrimaryOutcome Object
      description: Reurns PrimaryOutcomee Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT03001219_013.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT03001219_013
        primaryOutcomeMeasure:
          description: >-
            It specifies the description of each primary outcome measure (or for
            observational studies, specific key measurement[s] or observation[s]
            used to describe patterns of diseases or traits or associations with
            exposures, risk factors or treatment)
          type: string
          example: >-
            Percentage of Participants Achieving an American College of
            Rheumatology (ACR) 50 Response at Week 12
        primaryOutcomeDesc:
          description: >-
            It describes the metric used to characterize the specific primary
            outcome measure, if not included in the primary outcome measure
            title
          type: string
          example: Week 12
        primaryOutcomeTimeFrame:
          description: >-
            Time point(s) at which the measurement is assessed for the specific
            metric used
          type: string
          example: Up to 6 months
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT03000257_005.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T131857Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=ede7eb8c7601b6207ec6f85a0f9cb0ae16628d40e495d78f119991f04309d169
    OrangePurpleResponse:
      type: object
      title: OrangePurple Response
      description: Returns OrangePurple Response
      properties:
        data:
          type: array
          description: Returns OrangePurple Response
          items:
            $ref: '#/components/schemas/OrangePurpleFiles'
        meta:
          $ref: '#/components/schemas/meta'
    OrangePurpleFiles:
      type: object
      title: OrangePurple Object
      description: Returns OrangePurple Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT01906684_002.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT01906684_002
        beamOpNovelDrug:
          description: >-
            Identifies if the trial includes a drug that is not approved by the
            FDA
          type: string
          example: Epacadostate
        beamOpNovelTarget:
          description: It lists the unapproved drug
          type: string
          example: Peptide vaccine
        beamOpNovelDrugList:
          description: >-
            Identifies if there is an MOA or target that has not yet been
            approved by the FDA
          type: string
          example: Inhibitor
        beamOpNovelTargetList:
          description: Lists the unapproved targets
          type: string
          example: IDO1 Inhibitor
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT02651116_004.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEZSWBDXP4%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T154615Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBgaCXVzLWVhc3QtMSJIMEYCIQC%2B6L670ZxJKib2KCWj0SHnwXoVHDr7sPz%2Ft40qmv7vHwIhAOBZa4eIOTl2oC88R7jpi0gVYPLyp6E9Pw2ty0UP3pRWKvcCCJD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQARoMOTY2MjgyMTE2NDI1IgwYUf6AhlNl%2BR093MUqywLwFEZ9iTI10C3qIGKVmpnZ2PnFkrCVlkYIyDdxYIWyigl8iA9sQ1pWoIp%2FefD797agmqqPoXf9JXaBcw2ygeXT9EYMwljLJtw54O8nzrcUSHZ5HtOqEIPOnF9P6I9YCaD571N6oGfl8hKVGIH1yk7fByz48QZt9cQWwtc%2FWY4ORNvaaCGTin3Xpd0rQ%2BkMy3zvI8JOcfi14o%2F1KBXmUgNAII0h6QBOnzhiG291UZPlyH2U2WardyN5YwyDFbUxeskdqBVCJqx%2BdkUsU%2Fjk3rNPWE3s9CxSO%2Bubt%2B9BcYTl0mJnx7MCKJCTCOxn2h%2FR%2BvyAMyRluJyU6T5I15uFipcp00gEfpeYQDrtFLfvzPzAEWFw2QI9BmNKhr%2BRbKYxfMiDHTgXn9WaijZEB8DHB9G0pwgWE5z7LUg70umwvz60e5qH7pP26O1TMI6hMIO7354GOp0BCTiRD%2F6ow8Sn3f8vLp4IbNnvKNQ4AimQjcW%2B5fWkTwxFr2fBlcI52YJ97yzm5H%2F3340dD1tBtVxXGSmTVQh%2FLQ8G1DTbkjJvPEYL2j8zMm%2Fs953XXNjAqIkkN2copRx%2F0R%2BLwAM67rAwXldE1q1VlCz2IRzEPrh%2BCulTl2XxbxiAFo6PX4MLE4GMQjjmy%2F67rbQAoLBSoVTaUshT%2Fg%3D%3D&X-Amz-Signature=e03a21bcb2355205758d2b17886e207f421c1e889d04466760084247cb00f866
    InterventionResponse:
      type: object
      title: Intervention Response
      description: Returns Intervention Response
      properties:
        data:
          description: Returns Intervention Response
          type: array
          items:
            $ref: '#/components/schemas/InterventionFiles'
        meta:
          $ref: '#/components/schemas/meta'
    InterventionFiles:
      type: object
      title: Intervention Object
      description: Returns Intervention Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT01896232_010.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT01896232_010
        beamInterventionType:
          description: Identifies intervention type such as Drug, Biological, or Device
          type: string
          example: Drug
        beamInterventionName:
          description: Specifies the name of intervention applied
          type: string
          example: Cinacalcet
        beamInterventionDesc:
          description: Specifies the description of intervention applied
          type: string
          example: Cinacalcet oral once-daily
        beamOtherName:
          description: Other names listed for intervention
          type: string
          example: AMG 416
        beamArmGroupLabel:
          description: Name of the arm or group that this intervention is used in
          type: string
          example: Etelcalcetide
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT01896232_030.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T130802Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=58c1d0fa60a3e87d873c7c123f07e291f67091b45b87498cbc9b35a81e15bb61
    SponsorsResponse:
      type: object
      title: Sponsors Response
      description: Returns Sponsors Response
      properties:
        data:
          description: Returns Sponsors Response
          type: array
          items:
            $ref: '#/components/schemas/SponsorsFiles'
        meta:
          $ref: '#/components/schemas/meta'
    SponsorsFiles:
      type: object
      title: Sponsors Object
      description: Returns Sponsors Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT05393180_001.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT05393180_001
        beamSponsorsId:
          description: Ozmosi unique ID for each sponsor
          type: number
          example: 376
        beamSponsorsName:
          description: Cleaned name of Sponsor
          type: string
          example: AtriCure
        beamSponsorsType:
          description: Identifies if the sponsor is an Industry sponsor or other
          type: string
          example: Industry
        beamSponsorsTicker:
          description: Stock ticker for primary sponsor
          type: string
          example: RHHBY
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: >-
            https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT05394402_001.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T125718Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=16598a96c02c84f38ec6c069ebc38c5f8183f4232b8139bcaa5a3b951cc2808c
    CollaboratorsResponse:
      type: object
      title: Collaborators Response
      description: Returns Collaborators Response
      properties:
        data:
          description: Returns Collaborators Response
          type: array
          items:
            $ref: '#/components/schemas/CollaboratorsFiles'
        meta:
          $ref: '#/components/schemas/meta'
    CollaboratorsFiles:
      type: object
      title: Collaborators Object
      description: Returns Collaborators Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT00079001_483.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT00079001_483
        beamCollaboratorsId:
          description: Ozmosi unique ID for each collaborator
          type: number
          example: 142
        beamCollaboratorsName:
          description: Cleaned name of collaborator
          type: string
          example: Eastern Cooperative Oncology Group
        beamCollaboratorsType:
          description: Identifies if the collaborator is an Industry collaborator or other
          type: string
          example: Industry
        beamCollaboratorsTicker:
          description: Stock ticker for collaborator
          type: string
          example: MEDP
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: >-
[...]
