openapi: 3.0.3
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/overview-report-builder-api
info:
  title: FactSet Overview Report Builder API
  description: >-
    Get relevant industry-specific data for high level analysis of public and
    private companies
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.2.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
servers:
  - url: https://api.factset.com/report/overview/v1
tags:
  - name: Company
paths:
  /profile:
    get:
      tags:
        - Company
      operationId: getProfileProfile
      summary: Overview Profile
      parameters:
        - name: id
          in: query
          description: Company ticker
          required: true
          schema:
            type: string
            example: FDS
      responses:
        '200':
          $ref: '#/components/responses/200OKProfile'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /peer-list:
    get:
      tags:
        - Company
      summary: Peer List
      parameters:
        - name: id
          in: query
          description: Company ticker
          required: true
          schema:
            type: string
            example: FDS
        - name: topn
          in: query
          description: Limits the number of peers returned.
          required: false
          schema:
            type: number
            example: 5
      responses:
        '200':
          $ref: '#/components/responses/200OKPeerList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /current-cap:
    get:
      tags:
        - Company
      summary: Current Capitalization
      parameters:
        - name: id
          in: query
          description: Company ticker
          required: true
          schema:
            type: string
            example: FDS
      responses:
        '200':
          $ref: '#/components/responses/200OKCurrentCapitalization'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /financial-highlights:
    get:
      tags:
        - Company
      summary: Financial / Estimate Highlights
      parameters:
        - name: id
          in: query
          description: Company ticker
          required: true
          schema:
            type: string
            example: FDS
        - name: actual
          in: query
          description: >-
            The number of actual data periods to be returned. Must be greater
            than 0
          required: false
          schema:
            type: integer
            example: 4
            default: 4
        - name: estimate
          in: query
          description: >-
            The number of estimate data periods to be returned. Must be greater
            than 0
          required: false
          schema:
            type: integer
            example: 1
            default: 1
      responses:
        '200':
          $ref: '#/components/responses/200OKFinancialHighlights'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /transactions:
    get:
      tags:
        - Company
      summary: Transactions
      parameters:
        - name: id
          in: query
          description: Company ticker
          required: true
          schema:
            type: string
            example: FDS
        - name: transactionType
          in: query
          description: >-
            Filters response to return only this type of transaction. If not
            specified, returns all transactions. Values are not case sensitive.
          required: false
          schema:
            type: string
            enum:
              - ACQUISITION_MERGER
              - MAJORITY_STAKE
              - MINORITY_STAKE
              - SPINOFF
              - IPO
              - FOLLOW_ON
              - ST_DEBT
              - NOTES_BONDS
              - REVOLVING_CREDIT
              - TERM_LOANS
              - PEVC_INVESTMENTS
              - FUNDING
            example: ACQUISITION_MERGER
        - name: financingType
          in: query
          description: >-
            Filters response to return transactions of this financing type. If
            not specified, returns all transactions. Values are not case
            sensitive
          required: false
          schema:
            type: string
            enum:
              - DEBT
              - EQUITY
            example: EQUITY
      responses:
        '200':
          $ref: '#/components/responses/200OKTransactions'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /key-stats:
    description: >-
      Returns key financial metrics for private and public companies, as well as
      ETFs and mutual funds.  This endpoint provides a quick and easy way to
      obtain fundamental financial data. These key statistics can be used to
      evaluate a company's financial health, compare it to other companies in
      the same industry, and make informed investment decisions.
    get:
      tags:
        - Company
      summary: Key Stats
      parameters:
        - name: id
          in: query
          description: Company ticker
          required: true
          schema:
            type: string
            example: FDS
      responses:
        '200':
          $ref: '#/components/responses/200OKKeyStats'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  responses:
    200OKProfile:
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProfileResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200ProfileResponse'
    200OKPeerList:
      description: Expected response; returns JSON data containing key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PeerListResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200PeerListResponse'
    200OKCurrentCapitalization:
      description: >-
        Expected response; returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StachTableResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200CurrentCapitalizationResponse'
    200OKFinancialHighlights:
      description: >-
        Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StachTableResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200FinancialHighlightsResponse'
            noDataresponse:
              $ref: '#/components/examples/noData200FinancialHighlightsResponse'
    200OKTransactions:
      description: >-
        Expected response; Returns JSON data containing STACH 2.0 row organized
        package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StachTableResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200TransactionsResponse'
            transactionType200ResponseExample:
              $ref: '#/components/examples/transactionType200Response'
            financingType200ResponseExample:
              $ref: '#/components/examples/financingType200Response'
            noDataresponse:
              $ref: '#/components/examples/noData200TransactionsResponse'
    200OKKeyStats:
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KeyStatsResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200KeyStatsResponse'
            noDataResponse:
              $ref: '#/components/examples/noData200KeyStatsResponse'
    400BadRequest:
      description: >-
        Bad Request. For further assistance, file an issue under "Workflow &
        Throttling - 400 or 429 Response" using `Report Issue` at the top of
        this page, including the X-DataDirect-Request-Key from the header to
        assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            unsupportedEntityParameterError:
              $ref: '#/components/examples/unsupportedEntityParameterError'
            parameterErrorActual:
              $ref: '#/components/examples/parameterErrorActual'
            parameterErrorEstimate:
              $ref: '#/components/examples/parameterErrorEstimate'
            parameterErrorTopn:
              $ref: '#/components/examples/parameterErrorTopn'
            parameterErrorView:
              $ref: '#/components/examples/parameterErrorView'
    401Unauthorized:
      description: >-
        Missing or invalid authentication. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting
        from. For further assistance, file an issue under "Connectivty - 401 or
        403 Responses" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    404NotFound:
      description: >-
        Not found. For further assistance, file an issue under "Performance -
        404 and 500 Responses" using `Report Issue` at the top of this page,
        including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
    429TooManyRequests:
      description: >-
        Too many requests - this API is rate-limited to 20 requests per second.
        For further assistance, file an issue under "Workflow & Throttling - 400
        or 429 Response" using `Report Issue` at the top of this page, including
        the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    500InternalServerError:
      description: >-
        Server error. For further assistance, file an issue under "Performance -
        404 and 500 Responses" using `Report Issue` at the top of this page,
        including the X-DataDirect-Request-Key from the header to assist in
        troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    503ServiceUnavailable:
      description: >-
        Service unavailable. Typically a timeout, or result of a rejected
        request to prevent service overload. For further assistance, file an
        issue under "Performance - 404 and 500 Responses" using `Report Issue`
        at the top of this page, including the X-DataDirect-Request-Key from the
        header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
  headers:
    xDataDirectRequestKey:
      description: FactSet request ID
      schema:
        type: string
    apiSupportedVersions:
      description: Supported API versions (semantic versioning)
      schema:
        type: string
    apiVersion:
      description: API version (semantic versioning)
      schema:
        type: string
  examples:
    default200CurrentCapitalizationResponse:
      summary: (sample response)
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                  - id: lineItem
                    type: string
                    isDimension: true
                  - id: lineItemChild1
                    type: string
                    parentId: lineItem
                    isDimension: true
                  - id: lineItemValue
                    type: real
              headersDefinition:
                columns: []
              data:
                rows:
                  - cells:
                      - Price (As of 27 Jan '21)
                      - null
                      - 312.690002
                    rowMetadata:
                      category:
                        value: DETAIL
                      scale:
                        value: null
                      currencyCode:
                        value: USD
                      currencySymbol:
                        value: $
                  - cells:
                      - Basic Shares
                      - null
                      - 37.978624
                    rowMetadata:
                      category:
                        value: DETAIL
                      scale:
                        value: 6
                  - cells:
                      - Basic Shares
                      - Common Stock
                      - 37.978624
                    rowMetadata:
                      category:
                        value: DETAIL
                      scale:
                        value: null
                  - cells:
                      - Market Cap
                      - null
                      - 11875.535939
                    rowMetadata:
                      category:
                        value: MAIN
                      scale:
                        value: 6
                      currencyCode:
                        value: USD
                      currencySymbol:
                        value: $
                  - cells:
                      - Enterprise Value
                      - null
                      - 12241.212855
                    rowMetadata:
                      category:
                        value: MAIN
                      scale:
                        value: null
                      currencyCode:
                        value: USD
                      currencySymbol:
                        value: $
                tableMetadata:
                  sources:
                    value:
                      - FactSet ECS
                      - FactSet DCS
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
          schema: table_parent_child_columns
    default200FinancialHighlightsResponse:
      summary: sample response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                  - id: lineItem1
                    type: string
                  - id: lineItem2
                    type: string
                  - id: lineItem3
                    type: string
                  - id: lineItem4
                    type: string
                  - id: lineItem5
                    type: string
                  - id: lineItem6
                    type: string
                  - id: lineItem7
                    type: string
              headersDefinition:
                columns: []
              data:
                rows:
                  - cells:
                      - null
                      - Aug '16
                      - Aug '17
                      - Aug '18
                      - Aug '19
                      - Aug '20
                      - Aug '21
                    rowType: Header
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                      '4':
                        source: PRIMARY
                        columnIndex: 4
                      '5':
                        source: PRIMARY
                        columnIndex: 5
                      '6':
                        source: PRIMARY
                        columnIndex: 6
                  - cells:
                      - Sales
                      - '1127.092000'
                      - '1221.179000'
                      - '1350.145000'
                      - '1435.351000'
                      - '1494.111000'
                      - '1591.445000'
                    rowMetadata:
                      metric:
                        value: FIN
                      scale:
                        value: 6
                  - cells:
                      - EBITDA
                      - '398.079000'
                      - '421.412000'
                      - '437.783000'
                      - '500.292000'
                      - '558.515000'
                      - '581.364000'
                    rowMetadata:
                      metric:
                        value: FIN
                      scale:
                        value: 6
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Estimates
                columnMetadata:
                  '1':
                    items:
                      category:
                        value: ACTUAL
                  '2':
                    items:
                      category:
                        value: ACTUAL
                  '3':
                    items:
                      category:
                        value: ACTUAL
                  '4':
                    items:
                      category:
                        value: ACTUAL
                  '5':
                    items:
                      category:
                        value: ACTUAL
                  '6':
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200FinancialHighlightsResponse:
      summary: no coverage response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                  - id: lineItem1
                    type: string
              headersDefinition:
                columns: []
              data:
                rows: []
                tableMetadata:
                  currencyCode:
                    value: GBP
                  currencySymbol:
                    value: £
        meta:
          requestId: 0KJ0NJ-E
          fsymId: null
          noCoverage: true
          message: This identifier is not covered by this API.
    default200PeerListResponse:
      summary: (sample response)
      value:
        data:
          peers:
            - id: 000PLZ-E
              name: S&P Global, Inc.
              ticker: SPGI-US
            - id: 05TYNB-E
              name: Morningstar, Inc.
              ticker: MORN-US
            - id: 06JP5R-E
              name: MSCI Inc. Class A
              ticker: MSCI-US
            - id: 002HJD-E
              name: BlackRock, Inc.
              ticker: BLK-US
            - id: 0GCKWP-E
              name: IHS Markit Ltd.
              ticker: INFO-US
            - id: 000HSZ-E
              name: Moody's Corporation
              ticker: MCO-US
            - id: 06S1MZ-E
              name: Nasdaq, Inc.
              ticker: NDAQ-US
            - id: 0G4Z2V-E
              name: Donnelley Financial Solutions, Inc.
              ticker: DFIN-US
          meta:
            sources:
              value:
                - FactSet Fundamentals
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    default200ProfileResponse:
      summary: (sample response)
      value:
        data:
          business:
            description:
              value: >-
                FactSet Research Systems Inc. (the "Company" or "FactSet") is a
                global provider of integrated financial information, analytical
                applications and services for the investment and corporate
                communities. Since inception, global financial professionals
                have utilized the Company's content and multi-asset class
                solutions across each stage of the investment process. FactSet's
                goal is to provide a seamless user experience spanning idea
                generation, research, portfolio construction, trade execution,
                performance measurement, risk management, reporting, and
                portfolio analysis, in which the Company serves the front,
                middle, and back offices to drive productivity and improved
                performance. FactSet's flexible, open data and technology
                solutions can be implemented both across the investment
                portfolio lifecycle or as standalone components serving
                different workflows in the organization. FactSet is focused on
                growing the business throughout each of its three segments, the
                Americas, EMEA (formerly known as Europe), and Asia Pacific. The
                Company primarily delivers insight and information through the
                workflow solutions of Research, Analytics and Trading, Content
                and Technology Solutions ("CTS") and Wealth. FactSet currently
                serves financial professionals, which include portfolio
                managers, investment research professionals, investment bankers,
                risk and performance analysts, wealth advisors and corporate
                clients. FactSet provides both insights on global market trends
                and intelligence on companies and industries, as well as
                capabilities to monitor portfolio risk and performance and to
                execute trades. The Company combines dedicated client service
                with open and flexible technology offerings, such as a
                configurable desktop and mobile platform, comprehensive data
                feeds, an open marketplace and digital portals and application
                programming interfaces ("APIs"). The Company’s revenue is
                primarily derived from subscriptions to products and services
                such as workstations, analytics, enterprise data, and research
                management. FactSet Research Systems was founded by Howard E.
                Wille and Charles J. Snyder in September 1978 and is
                headquartered in Norwalk, CT.
            industry:
              value: Professional Content Providers
            name:
              value: FactSet Research Systems Inc.
            sector:
              value: Software and Consulting
            crunchbaseCategories:
              value:
                - Analytics
                - Finance
                - Financial Services
                - Software
              note: >-
                Displaying the Crunchbase logo is required for displaying any
                Crunchbase-sourced data
          size:
            revenue:
              label: Sales
              value: 1494.111
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            employeeNumber:
              value: null
            ev:
              value: 12783.238274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            mcap:
              value: 12814.061274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
          contact:
            address:
              value: 7th Floor 45 Glover Avenue
            city:
              value: Norwalk
            phone:
              value: +1.203.810.1000
            zip:
              value: '06850'
            country:
              value: UNITED STATES
            email:
              value: rima.hyder@factset.com
            website:
              value: http://www.factset.com
            stateProvince:
              value: Connecticut
          stage:
            tradeDateRange:
              start:
                value: '19960628'
              end:
                value: '20201001'
            foundedYear:
              value: '1978'
            exchangePrimary:
              value: NYSE
            fundingDateRange:
              first:
                value: null
              last:
                value: null
            pevcBacking:
              value: null
          meta:
            sources:
              value:
                - FactSet Fundamentals
                - FactSet RBICS
                - Crunchbase
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
    default200TransactionsResponse:
      summary: sample response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                  - id: c_transaction_date
                    type: string
                    isDimension: true
                  - id: c_transaction_type
                    type: string
                    isDimension: true
                  - id: c_transaction_description
                    type: real
                    isDimension: true
                  - id: c_transaction_amount
                    type: string
                    isDimension: true
                  - id: c_transaction_status
                    type: string
                    isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                  - cells:
                      - Date
                      - Type
                      - Description
                      - Amount
                      - Status
                    rowType: Header
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                      '4':
                        source: PRIMARY
                        columnIndex: 4
                  - cells:
                      - '20211013'
                      - Acquisition / Merger
                      - >-
                        FactSet Research Systems, Inc. acquires Cobalt Software,
                        Inc. 
                      - 51
                      - Complete
                    rowMetadata:
                      transactionType:
                        value: DETAIL
                      transactionId:
                        value: 4071979MM
                  - cells:
                      - '20210714'
                      - Acquisition / Merger
                      - >-
                        FactSet Research Systems, Inc. acquires BTU Analytics
                        LLC 
                      - null
                      - Complete
                    rowMetadata:
                      transactionType:
                        value: DETAIL
                      transactionId:
                        value: 4054178MM
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Mergers
                      - FactSet DCS
                      - FactSet Fixed Income
            details:
              definition:
                columns:
                  - id: c_id
                    type: string
                    isDimension: true
                  - id: c_gross_proceeds
                    type: real
                    isDimension: true
                  - id: c_overallotment
                    type: real
                    isDimension: true
                  - id: c_total
                    type: real
                    isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                  - cells:
                      - Transaction ID
                      - Gross Proceeds Excl. Overallotment
                      - Overallotment Amount Exercised
                      - Gross Proceeds Inc. Overallotment
                    rowType: Header
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Mergers
                      - FactSet DCS
                      - FactSet Fixed Income
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    default200KeyStatsResponse:
      summary: sample response
      value:
        data:
          range52Week:
            value:
              value: $317.55 - 495.39
            label:
              value: 52 Week Range
          averageDailyVol:
            value:
              value: 300330.25
            label:
              value: Avg Daily Vol (3 Mo)
          basicShares:
            value:
              value: 37896.579
            label:
              value: Basic Shares (000)
          marketCap:
            value:
              value: 14179.383999
            label:
              value: Market Cap (M)
          dividendYield:
            value:
              value: 0.983615616279391
            label:
              value: Dividend Yield
          firstDate:
            value:
              value: '1996-06-28'
            label:
              value: IPO Date
          dilutedShares:
            value:
              value: 39266.127
            label:
              value: FD Shares Out (000)
          dilutedMarketCap:
            value:
              value: 14691.814201
            label:
              value: FD Mkt Cap (M)
          enterpriseValue:
            value:
              value: 14458.443201
            label:
              value: EV (M)
          wacc:
            value:
              value: 6.76303
            label:
              value: WACC
          float:
            value:
              value: 99.9248
            label:
              value: Float
          institutional:
            value:
              value: 91.3343
            label:
              value: Institutional
          top10InstitutionalHolders:
            value:
              value: 48.76016379
            label:
              value: Top 10 Inst Hldrs
          brokerContributors:
            value:
              value: 18
            label:
              value: Broker Contributors
          averageRating:
            value:
              value: Hold (2.11)
            label:
              value: Avg Rating
          targetPrice:
            value:
              value: $462.41
            label:
              value: Target Price
          ltGrowthRate:
            value:
              value: 10
            label:
              value: LT Growth Rate
          meta:
            sources:
              value:
                - FactSet Fundamentals
                - FactSet Estimates
                - FactSet Capital Structure
                - FactSet Ownership
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200KeyStatsResponse:
      summary: no data response
      value:
        data: null
        meta:
          requestId: 0N57YY-E
          fsymId: null
          noData: true
          message: There is no data for this request.
    transactionType200Response:
      summary: transactionType=NOTES_BONDS response
      value:
        data:
          version: '2.0'
          tables:
            main:
              headersDefinition:
                columns: []
              definition:
                columns:
                  - id: c_transaction_date
                    type: string
                  - id: c_transaction_type
                    type: string
                  - id: c_transaction_description
                    type: string
                  - id: c_transaction_amount
                    type: string
                  - id: c_transaction_status
                    type: string
              data:
                rows:
                  - rowType: Header
                    cells:
                      - Date
                      - Type
                      - Description
                      - Amount
                      - Status
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                      '4':
                        source: PRIMARY
                        columnIndex: 4
                  - cells:
                      - '20220301'
                      - Notes/Bonds
                      - FactSet Research Systems Inc. 3.450% 01-MAR-2032
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: Notes/Bonds
                      transactionId:
                        value: 303075AB
                  - cells:
                      - '20220301'
                      - Notes/Bonds
                      - FactSet Research Systems Inc. 2.900% 01-MAR-2027
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: Notes/Bonds
                      transactionId:
                        value: 303075AA
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Mergers
                      - FactSet DCS
                      - FactSet Fixed Income
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
            details:
              headersDefinition:
                columns: []
              definition:
                columns:
                  - id: c_id
                    type: string
                  - id: c_gross_proceeds
                    type: real
                  - id: c_overallotment
                    type: real
                  - id: c_total
                    type: real
              data:
                rows:
                  - rowType: Header
                    cells:
                      - Transaction ID
                      - Gross Proceeds Excl. Overallotment
                      - Overallotment Amount Exercised
                      - Gross Proceeds Inc. Overallotment
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Mergers
                      - FactSet DCS
                      - FactSet Fixed Income
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                  c_overallotment:
                    items:
                      scale:
                        value: 6
                  c_total:
                    items:
                      scale:
                        value: 6
    financingType200Response:
      summary: financingType=DEBT response
      value:
        data:
          version: '2.0'
          tables:
            main:
              headersDefinition:
                columns: []
              definition:
                columns:
                  - id: c_transaction_date
                    type: string
                  - id: c_transaction_type
                    type: string
                  - id: c_transaction_description
                    type: string
                  - id: c_transaction_amount
                    type: string
                  - id: c_transaction_status
                    type: string
              data:
                rows:
                  - rowType: Header
                    cells:
                      - Date
                      - Type
                      - Description
                      - Amount
                      - Status
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                      '4':
                        source: PRIMARY
                        columnIndex: 4
                  - cells:
                      - '20220523'
                      - ST Debt
                      - FactSet Research Systems Inc. 1.908% 22-NOV-2022
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: ST Debt
                      transactionId:
                        value: 06945PLN
                  - cells:
                      - '20220301'
                      - Notes/Bonds
                      - FactSet Research Systems Inc. 3.450% 01-MAR-2032
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: Notes/Bonds
                      transactionId:
                        value: 303075AB
                  - cells:
                      - '20220301'
                      - Notes/Bonds
                      - FactSet Research Systems Inc. 2.900% 01-MAR-2027
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: Notes/Bonds
                      transactionId:
                        value: 303075AA
                  - cells:
                      - '20220301'
                      - Term Loans
                      - Senior Unsecured Term Loan
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: Term Loans
                      transactionId:
                        value: FDS1R53Q
                  - cells:
                      - '20220301'
                      - Revolving Credit
                      - >-
                        FactSet Research Systems Inc. Revolver/Standard
                        01-MAR-2027
                      - null
                      - New Issue
                    rowMetadata:
                      transactionType:
                        value: Revolving Credit
                      transactionId:
                        value: FDS1R56X
                  - cells:
                      - '20190329'
                      - Revolving Credit
                      - >-
                        Senior Unsec. Revolving Credit Facility - PNC Bank
                        National Association
                      - 575
                      - Terminated
                    rowMetadata:
                      transactionType:
                        value: Revolving Credit
                      transactionId:
                        value: FDS0YFY41
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Mergers
                      - FactSet DCS
                      - FactSet Fixed Income
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
            details:
              headersDefinition:
                columns: []
              definition:
                columns:
                  - id: c_id
                    type: string
                  - id: c_gross_proceeds
                    type: real
                  - id: c_overallotment
                    type: real
                  - id: c_total
                    type: real
              data:
                rows:
                  - rowType: Header
                    cells:
                      - Transaction ID
                      - Gross Proceeds Excl. Overallotment
                      - Overallotment Amount Exercised
                      - Gross Proceeds Inc. Overallotment
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                      - FactSet Fundamentals
                      - FactSet Mergers
                      - FactSet DCS
                      - FactSet Fixed Income
                columnMetadata:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
                  c_overallotment:
                    items:
                      scale:
                        value: 6
                  c_total:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    noData200TransactionsResponse:
      summary: no data response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                  - id: c_transaction_date
                    type: string
                    isDimension: true
                  - id: c_transaction_type
                    type: string
                    isDimension: true
                  - id: c_transaction_description
                    type: real
                    isDimension: true
                  - id: c_transaction_amount
                    type: string
                    isDimension: true
                  - id: c_transaction_status
                    type: string
                    isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                  - cells:
                      - Date
                      - Type
                      - Description
                      - Amount
                      - Status
                    rowType: Header
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                      '4':
                        source: PRIMARY
                        columnIndex: 4
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
                columnMetadata:
                  c_transaction_amount:
                    items:
                      scale:
                        value: 6
            details:
              definition:
                columns:
                  - id: c_id
                    type: string
                    isDimension: true
                  - id: c_gross_proceeds
                    type: real
                    isDimension: true
                  - id: c_overallotment
                    type: real
                    isDimension: true
                  - id: c_total
                    type: real
                    isDimension: true
              headersDefinition:
                columns: []
              data:
                rows:
                  - cells:
                      - Transaction ID
                      - Gross Proceeds Excl. Overallotment
                      - Overallotment Amount Exercised
                      - Gross Proceeds Inc. Overallotment
                    rowType: Header
                    headerCellDetails:
                      '0':
                        source: PRIMARY
                        columnIndex: 0
                      '1':
                        source: PRIMARY
                        columnIndex: 1
                      '2':
                        source: PRIMARY
                        columnIndex: 2
                      '3':
                        source: PRIMARY
                        columnIndex: 3
                tableMetadata:
                  currencyCode:
                    value: null
                  currencySymbol:
                    value: null
                columnMetaData:
                  c_gross_proceeds:
                    items:
                      scale:
                        value: 6
        meta:
          requestId: 07ZXHF-E
          fsymId: null
          noData: true
          message: There is no data for this request.
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
          - id: 39314614-e607-465a-ba95-5bb79c362e23
            code: endpointNotFound
            title: The requested endpoint does not exist.
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
          - id: 39314614-e607-465a-ba95-5bb79c362e23
            code: parameterError
            title: 'Missing required parameter(s): ''id'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
          - id: 39314614-e607-465a-ba95-5bb79c362e23
            code: parameterError
            title: 'Invalid parameter(s): ''id'''
    unsupportedEntityParameterError:
      summary: unsupported entity type
      value:
        errors:
          - id: 39314614-e607-465a-ba95-5bb79c362e23
            code: parameterError
            title: Unsupported entity type
    parameterErrorTopn:
      summary: topn parameter error
      value:
        errors:
          - id: 39314614-e607-465a-ba95-5bb79c362e23
            code: parameterError
            title: 'Invalid parameter: ''topn'''
    parameterErrorView:
      summary: view parameter error
      value:
        errors:
          - id: 3838f112-ed5a-4d9d-b0c7-3594d8eab0ed
            code: parameterError
            title: >-
              Invalid parameter: 'view'. Accepted values include: 'FINANCIAL',
              'VALUATION', 'CAPITALIZATION', 'MARGINS' or 'PERFORMANCE'
    parameterErrorActual:
      summary: actual periods parameter error
      value:
        errors:
          - id: 35a62bd5-c4aa-4e6b-9357-0f1b5688e2db
            code: parameterError
            title: >-
              Invalid parameter: 'actual'. Accepted values include nonzero
              integers
    parameterErrorEstimate:
      summary: estimate periods parameter error
      value:
        errors:
          - id: 372a28d1-53ac-49cd-9be5-beb714cd62a8
            code: parameterError
            title: >-
              Invalid parameter: 'estimate'. Accepted values include nonzero
              integers
  schemas:
    KeyStatsResponse:
      type: object
      description: Key statistics data for the requested id
      properties:
        data:
          $ref: '#/components/schemas/KeyStatsObject'
        meta:
          $ref: '#/components/schemas/Meta'
    KeyStatsEntityObject:
      type: object
      description: Key Statistics for the provided entity
      properties:
        range52Week:
          description: >-
            The highest and lowest prices at which a stock as traded over the
            past 52 weeks
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        averageDailyVol:
          description: The average number of shares traded per day
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        basicShares:
          description: >-
            Number of basic shares. Also known as common shares or ordinary
            shares, this datapoint represents ownership in a company and offers
            the potential for capital appreciation and dividend payments
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        marketCap:
          description: The total value of a company's outstanding shares
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        dividendYield:
          description: Represents return on investment from dividends
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        firstDate:
          description: >-
            The day on which a private company's shares became available for
            purchase by the public for the first time
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
                  description: Date formatted to YYYY-MM-DD
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        dilutedShares:
          description: >-
            The total number of a company's outstanding shares that would exist
            if all securities that could potentially be converted into common
            shares, such as outstanding shares, stock options, warrants, and
            convertible securities
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        dilutedMarketCap:
          description: >-
            The total theoretical market value of a company, including all
            shares that could potentially be converted into common shares, such
            as outstanding shares, stock options, warrants, and convertible
            securities
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        enterpriseValue:
          description: The total value of a company
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        wacc:
          description: >-
            The weighted average cost of capital, or the average cost of all
            company's capital sources, including debt and equity , weighted by
            their respective proportions in the company's capital structure
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        float:
          description: >-
            The percentage of a company's outstanding shares that are available
            for trading by the public, excluding shares that are closely held or
            restricted
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        institutional:
          description: >-
            The percentage of a company's outstanding shares that are owned by
            institutional investors
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        top10InstitutionalHolders:
          description: >-
            Percentage owned by 10 largest institutional investors in a company,
            based on the number of shares they hold
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        brokerContributors:
          description: >-
            Number of brokerage firms that provide research and analysis on the
            company
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        averageRating:
          description: >-
            The mean recommendation score given by financial analysts covering a
            particular stock
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        targetPrice:
          description: >-
            The price level at which an analyst or brokerage firm predicts a
            stock will trade in the future
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        ltGrowthRate:
          description: >-
            The estimated rate at which a company's earnings are expected to
            grow over a multi-year period
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        revenue:
          description: >-
            The total amount of money that a company earns from its primary
            business activities, such as the sale of goods or services, before
            deducting any expenses or taxes
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            asOfDate:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
        employees:
          description: The total count of individuals who are employed by a company
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            asOfDate:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
        fundingRounds:
          description: >-
            Number of stages of financing that a startup or early-stage company
            goes through
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        estimatedVcRaised:
          description: >-
            The estimated total amount of venture capital funding that a company
            has fraised from investors
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        lastFunding:
          description: >-
            The most recent date on which a company raised capital from
            investors in a funding round.
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
                  description: Date formatted to YYYY-MM-DD
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        firstFunding:
          description: The first date a company raised capital from an external investor
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
                  description: Date formatted to YYYY-MM-DD
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        latestPostMoneyValuation:
          description: >-
            The estimated total value of a company after its most recent funding
            round, taking into account the new capital that was raised
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            asOfDate:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
        activeInvestors:
          description: >-
            The total count of individual or institutional investors that have
            invested in a company and currently hold a position in its
            securities
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        totalInvestors:
          description: >-
            The total count of individual or institutional investors that have
            invested in a company at any point in time, including those that may
            no longer hold a position in its securities
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        premiums:
          description: >-
            The portion of gross premiums that an insurance company has earned
            by providing coverage for a certain period of time
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        grossPremiums:
          description: >-
            The total amount of premiums collected by an insurance company from
            policyholders before taking into account any expenses or claims
            payments
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        grossAssets:
          description: >-
            The total value of a company's assets, including both tangible
            assets such as property and equipment, and intangible assets such as
            intellectual property or goodwill, without taking into account any
            liabilities or deductions
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        totalDeposits:
          description: >-
            The sum of all funds held in deposit accounts, including checking
            accounts, savings accounts, money market accounts, and certificates
            of deposit, among others
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        branches:
          description: >-
            The total count of physical locations, such as buildings or offices,
            where a bank offers its products and services to customers
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        netInterestIncome:
          description: >-
            The difference between the interest earned by a financial
            institution on its interest-earning assets, such as loans and
            investments, and the interest paid on its interest-bearing
            liabilities, such as deposits and borrowings
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
        meta:
          type: object
          properties:
            sources:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: string
              description: Where the data is sourced from
    KeyStatsFundObject:
      description: Key Statistics for the provided fund
      type: object
      properties:
        expenseRatio:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
                  nullable: true
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            The net expense ratio, or total expense ratio, represents the
            percentage of assets of the fund used to run and manage the fund,
            after any fee waivers or reimbursements that may be in effect.
            Ongoing charge is collected as the Net Expense ratio for Mutual
            Funds if the Net Expense Ratio is not available.
        distributionYield:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
                  nullable: true
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            LTM (Last Twelve Months) trailing 12-month yield of distributions
            made by the fund, relative to the current price. Distinct from
            Dividend Yield, which measures distributions made by the portfolio's
            holdings. This data point is returned as a percentage.
        aumShareDaily:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            The AUM (Actual) is the market value of total assets that a fund
            manages on behalf of investors based on the shares outstanding,
            multiplied by the net asset value from the preceding day, at share
            class level. Data is updated daily.
        aumFundMonth:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            The AUM (Actual) is the market value of total assets that a fund
            manages on behalf of investors based on the shares outstanding,
            multiplied by the net asset value from the month end at a fund
            level. Data is updated monthly, based on the last trading day of the
            month.
        outstandingShare:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            Returns historical shares outstanding figures for the specified
            share class.
        fundFlowYTD:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            The dollars invested or divested from a fund over one calendar year,
            based on the creation/redemption process. Data returned may not be
            related to overall volume or price movement. All fund flow inputs
            use transaction-day values to ensure that all AUM and flows are
            fully comparable and reflective of the same, verified market
            conditions.
        firstNavRecord:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
                  description: Date formatted to YYYY-MM-DD
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            Returns the first NAV record available in FactSet’s database. This
            may not equal the first trading record of the fund.
        dailyTradingVol:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: The daily trading volume of the fund as a dollar value.
        averageSpread:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
                  nullable: true
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            The 45-day median of daily time-weighted percentage differences
            between the highest-posted price a market participant is willing to
            pay to buy a fund and the lowest-posted price at which a market
            participant is willing to sell a fund.
        inceptionDateShare:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
                  description: Date formatted to YYYY-MM-DD
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: Launch date of the share class.
        inceptionDateFund:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  format: date
                  description: Date formatted to YYYY-MM-DD
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: Launch date of the fund.
        availableForSale:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: Determines where the fund is available for sale.
        currencyIso:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: Returns currency ISO code for a listing.
        esgCompliance:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: Determines if the fund is ESG compliant or not.
        sfdrClassification:
          type: object
          required:
            - value
            - label
          properties:
            value:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
            label:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
          description: >-
            Article 6 - Fund is not ESG but makes disclosures on the integration
            of sustainable risks. Article 8 - Preferences for products having
            ESG Characteristics. Article 9 - Preferences for products having
            Sustainable Objectives. Article 0 - The type or structure of the
            fund is out of ESG requirements. NA - No information available.
        meta:
          type: object
          properties:
            sources:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: string
              description: Where the data is sourced from
            asOfDate:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: string
                    format: date
              description: Data as of date
    KeyStatsObject:
      oneOf:
        - $ref: '#/components/schemas/KeyStatsEntityObject'
        - $ref: '#/components/schemas/KeyStatsFundObject'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
        meta:
          $ref: '#/components/schemas/Meta'
    ErrorObject:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          type: object
          properties:
            about:
              type: string
        detail:
          type: string
        source:
          type: object
          properties:
            parameter:
              type: string
    Meta:
      type: object
      additionalProperties:
        type: string
    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProfileData'
        meta:
          $ref: '#/components/schemas/Meta'
    ProfileData:
      type: object
      required:
        - business
        - contact
        - size
        - stage
      properties:
        business:
          type: object
          required:
            - description
            - industry
            - name
            - sector
          properties:
            description:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
                note:
                  type: string
            industry:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            sector:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            name:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            dbaName:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            crunchbaseCategories:
              type: object
              required:
                - value
                - note
              properties:
                value:
                  type: array
                  items:
                    type: string
                note:
                  type: string
            crunchbaseUrl:
              type: object
              required:
                - value
                - note
              properties:
                value:
                  type: string
                note:
                  type: string
        contact:
          type: object
          required:
            - address
            - city
            - phone
            - stateProvince
            - zip
            - country
            - website
            - email
          properties:
            address:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            city:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            phone:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            stateProvince:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            zip:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            country:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            website:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            email:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            people:
              type: array
              items:
                type: object
                required:
                  - title
                  - name
                  - id
                properties:
                  title:
                    type: object
                    required:
                      - value
                    properties:
                      value:
                        type: string
                        nullable: true
                  name:
                    type: object
                    required:
                      - value
                    properties:
                      value:
                        type: string
                        nullable: true
                  id:
                    type: object
                    required:
                      - value
                    properties:
                      value:
                        type: string
                        nullable: true
        size:
          type: object
          required:
            - employeeNumber
            - ev
            - mcap
            - revenue
          properties:
            employeeNumber:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
                  nullable: true
            ev:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
                  nullable: true
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            mcap:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
                  nullable: true
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            revenue:
              type: object
              required:
                - value
                - label
              properties:
                label:
                  type: string
                  nullable: true
                value:
                  type: number
                  nullable: true
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
        stage:
          type: object
          required:
            - exchangePrimary
            - tradeDateRange
            - foundedYear
            - pevcBacking
          properties:
            exchangePrimary:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            tradeDateRange:
              type: object
              properties:
                start:
                  type: object
                  required:
                    - value
                  properties:
                    value:
                      type: string
                      nullable: true
                end:
                  type: object
                  required:
                    - value
                  properties:
                    value:
                      type: string
                      nullable: true
            foundedYear:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            pevcBacking:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            pevcLatestPostMoneyValuation:
              type: object
              required:
                - value
                - asOfDate
              properties:
                value:
                  type: number
                  nullable: true
                asOfDate:
                  type: number
                  nullable: true
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            peActiveFirmNumber:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            peActiveInvestmentNumber:
              type: object
              required:
                - value
              properties:
                value:
                  type: number
            peLastInvestmentDate:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  nullable: true
            peActiveFirms:
              type: array
              items:
                type: object
                required:
                  - name
                properties:
                  name:
                    type: object
                    required:
                      - value
                    properties:
                      value:
                        type: string
                        nullable: true
            peActiveAcqDate:
              type: object
              required:
[...]
