{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/basic/assetClass/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/assetClass/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of asset classes as defined by FactSet Digital Solutions.",
        "summary": "List of asset classes.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "code",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of an asset class."
                      },
                      "code": {
                        "type": "string",
                        "description": "Code of the asset class."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the asset class in English."
                      }
                    }
                  },
                  "description": "List of asset classes sorted ascending by identifier of the asset class."
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/basic/backgroundText/type/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/backgroundText/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of background text types.",
        "description": "List of background text types.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "filter": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "minItems": 1,
                          "maxItems": 100,
                          "uniqueItems": true,
                          "description": "List of background text type identifiers. Invalid identifiers result in an error."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    }
                  },
                  "x-property-sort": [
                    "attributes"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the type."
                      },
                      "name": {
                        "type": "string",
                        "description": "English name of the type."
                      },
                      "description": {
                        "type": "string",
                        "description": "English description of the type."
                      }
                    }
                  },
                  "description": "List of background text types."
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/benchmark/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/benchmark/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of benchmark types.",
        "description": "List of benchmark types.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmark types.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a benchmark type."
                      },
                      "name": {
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the benchmark type."
                      },
                      "description": {
                        "type": "string",
                        "format": "localizedString",
                        "description": "Description of the benchmark type."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ]
      }
    },
    "/basic/delivery/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/delivery/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of deliveries.",
        "description": "List of deliveries.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "filter": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "minItems": 1,
                          "maxItems": 100,
                          "uniqueItems": true,
                          "description": "List of delivery identifiers. Invalid identifiers result in an error."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "sort": {
                      "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "name",
                          "-name"
                        ]
                      },
                      "maxItems": 1,
                      "uniqueItems": true,
                      "default": [
                        "name"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "sort"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of deliveries.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a delivery."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "description": "English name of the delivery."
                      },
                      "description": {
                        "type": "string",
                        "description": "English description of the delivery."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/frequency/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/frequency/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of frequency types.",
        "description": "List of frequency types.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of frequency types.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the type."
                      },
                      "name": {
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the type."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ]
      }
    },
    "/basic/language/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/language/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details for a language.",
        "summary": "Details for a language.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "number",
            "format": "id32",
            "x-positive": true,
            "description": "Identifier of a language.",
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Details of a language.",
                  "type": "object",
                  "x-property-sort": [
                    "code",
                    "name"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "ISO 639-1 code of the language."
                    },
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the language."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/language/getByCode": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/language/getByCode",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details for a language identified by code.",
        "summary": "Details for a language identified by code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "type": "string",
            "maxLength": 2,
            "exclusiveMaximum": false,
            "description": "ISO 639-1 code of the language.",
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Details of a language.",
                  "type": "object",
                  "x-property-sort": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "number",
                      "format": "id32",
                      "x-positive": true,
                      "description": "Identifier of a language."
                    },
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the language."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/language/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/language/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of languages.",
        "summary": "List of languages.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of languages.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "code",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a language."
                      },
                      "code": {
                        "x-sortable": true,
                        "type": "string",
                        "description": "ISO 639-1 code of the language."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the language."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "code",
                "-code",
                "name",
                "-name"
              ]
            },
            "maxItems": 2,
            "uniqueItems": true,
            "default": [
              "name"
            ],
            "collectionFormat": "csv",
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/market/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/market/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details of a market.",
        "summary": "Details of a market.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "number",
            "format": "id32",
            "x-positive": true,
            "description": "Identifier of a market.",
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Details of a market",
                  "type": "object",
                  "x-property-sort": [
                    "name",
                    "shortName",
                    "active",
                    "country",
                    "type",
                    "group",
                    "timezone"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the market."
                    },
                    "shortName": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Short name of the market."
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Indicates whether the market exists."
                    },
                    "country": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "description": "Country of the market.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the country."
                        },
                        "name": {
                          "type": "string",
                          "format": "localizedString",
                          "description": "Name of the country."
                        }
                      }
                    },
                    "type": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "description": "Type of the market.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the type."
                        },
                        "name": {
                          "type": "string",
                          "format": "localizedString",
                          "description": "Name of the type."
                        }
                      }
                    },
                    "group": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "description": "Market group of the market.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the market group."
                        },
                        "name": {
                          "type": "string",
                          "format": "localizedString",
                          "description": "Name of the market group."
                        }
                      }
                    },
                    "timezone": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name"
                      ],
                      "description": "Timezone of the market.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the timezone."
                        },
                        "name": {
                          "type": "string",
                          "format": "localizedString",
                          "description": "Name of the timezone."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/market/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/market/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": true,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 5,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of markets.",
        "summary": "List of markets.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "filter": {
                      "type": "object",
                      "x-property-sort": [
                        "markets",
                        "onlyActive"
                      ],
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "properties": {
                        "markets": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Filter for specific markets.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true
                              },
                              "minItems": 1,
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "List of market identifiers. Invalid identifiers result in an error."
                            }
                          }
                        },
                        "onlyActive": {
                          "type": "boolean",
                          "default": true,
                          "description": "Indicates whether the market exists."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "language": {
                      "$ref": "#/definitions/LanguageMember"
                    },
                    "sort": {
                      "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "name",
                          "-name",
                          "shortName",
                          "-shortName",
                          "country.name",
                          "-country.name",
                          "type.name",
                          "-type.name",
                          "group.name",
                          "-group.name"
                        ]
                      },
                      "maxItems": 5,
                      "uniqueItems": true,
                      "default": [
                        "name"
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination attributes for the offset-based pagination strategy.",
                      "properties": {
                        "offset": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "default": 0,
                          "description": "Non-negative number of entries to skip, or 0 (default)."
                        },
                        "limit": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "maximum": 500,
                          "exclusiveMaximum": false,
                          "default": 20,
                          "description": "Non-negative maximum number of entries to return."
                        }
                      },
                      "x-property-sort": [
                        "offset",
                        "limit"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "language",
                    "sort",
                    "pagination"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of markets.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "shortName",
                      "active",
                      "country",
                      "type",
                      "group",
                      "timezone"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the market."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the market."
                      },
                      "shortName": {
                        "x-sortable": true,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Short name of the market."
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Indicates whether the market exists."
                      },
                      "country": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Country of the market.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the country."
                          },
                          "name": {
                            "x-sortable": true,
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the country."
                          }
                        }
                      },
                      "type": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Type of the market.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the type."
                          },
                          "name": {
                            "x-sortable": true,
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the type."
                          }
                        }
                      },
                      "group": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Market group of the market.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the market group."
                          },
                          "name": {
                            "x-sortable": true,
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the market group."
                          }
                        }
                      },
                      "timezone": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Timezone of the market.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the timezone."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the timezone."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObjectWithoutTotal"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/market/group/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/market/group/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of market groups.",
        "summary": "List of market groups.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of market groups.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "shortName"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the market group."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the market group."
                      },
                      "shortName": {
                        "x-sortable": true,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Short name of the market group."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "-name",
                "shortName",
                "-shortName"
              ]
            },
            "maxItems": 2,
            "uniqueItems": true,
            "default": [
              "name"
            ],
            "collectionFormat": "csv",
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/market/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/market/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of market types.",
        "summary": "List of market types.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of market types.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the market type."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the market type."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "-name"
              ]
            },
            "maxItems": 1,
            "uniqueItems": true,
            "default": [
              "name"
            ],
            "collectionFormat": "csv",
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/media/kind/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/media/kind/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of media kinds.",
        "description": "List of media kinds.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of media kinds.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a media kind."
                      },
                      "name": {
                        "type": "string",
                        "description": "English name of the media kind."
                      },
                      "description": {
                        "type": "string",
                        "description": "English description of the media kind."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/basic/media/type/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/media/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of Internet media types. See http://www.iana.org/assignments/media-types/ for further details. Not all such Internet media types are available on the MDG.",
        "summary": "List of Internet media types.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "filter": {
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "minItems": 1,
                          "maxItems": 100,
                          "uniqueItems": true,
                          "description": "List of Internet media type identifiers. Invalid identifiers result in an error."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "sort": {
                      "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "id",
                          "-id",
                          "name",
                          "-name"
                        ]
                      },
                      "maxItems": 2,
                      "uniqueItems": true,
                      "default": [
                        "name"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "sort"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of Internet media types.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description",
                      "kind"
                    ],
                    "properties": {
                      "id": {
                        "description": "Identifier of an Internet media type.",
                        "x-sortable": true,
                        "type": "number",
                        "format": "id32",
                        "x-positive": true
                      },
                      "name": {
                        "description": "Name according to the Internet Assigned Numbers Authority.",
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string"
                      },
                      "description": {
                        "description": "English description of the Internet media type.",
                        "type": "string"
                      },
                      "kind": {
                        "description": "Kind of media. See endpoint `/basic/media/kind/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the media kind.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "name": {
                            "description": "English name of the media kind.",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/mic/operating/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/mic/operating/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": true,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of operating market identifier codes (MIC).",
        "description": "List of operating market identifier codes (MIC).",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "filter": {
                      "type": "object",
                      "x-property-sort": [
                        "status"
                      ],
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Filter for the status.",
                          "default": "active",
                          "x-enum-description": [
                            "Show all operating MICs.",
                            "Show only active operating MICs.",
                            "Show only inactive operating MICs."
                          ],
                          "enum": [
                            "all",
                            "active",
                            "inactive"
                          ]
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "sort": {
                      "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "isoCode",
                          "-isoCode",
                          "name",
                          "-name"
                        ]
                      },
                      "maxItems": 2,
                      "uniqueItems": true,
                      "default": [
                        "name"
                      ]
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination attributes for the offset-based pagination strategy.",
                      "properties": {
                        "offset": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "default": 0,
                          "description": "Non-negative number of entries to skip, or 0 (default)."
                        },
                        "limit": {
                          "type": "number",
                          "format": "int32",
                          "minimum": 0,
                          "exclusiveMinimum": false,
                          "maximum": 500,
                          "exclusiveMaximum": false,
                          "default": 20,
                          "description": "Non-negative maximum number of entries to return."
                        }
                      },
                      "x-property-sort": [
                        "offset",
                        "limit"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "sort",
                    "pagination"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of operating MICs.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "isoCode",
                      "name",
                      "active"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the operating MIC."
                      },
                      "isoCode": {
                        "x-sortable": true,
                        "type": "string",
                        "description": "ISO 10383 code of the operating MIC."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "description": "English name of the operating MIC."
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Indicates whether the operating MIC is active."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    },
                    "pagination": {
                      "$ref": "#/definitions/OffsetBasedPaginationOutputObjectWithoutTotal"
                    }
                  },
                  "x-property-sort": [
                    "status",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/region/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a region.",
        "description": "Details for a geographic, political, or economic region.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "number",
            "format": "id32",
            "x-positive": true,
            "description": "Identifier of a region.",
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Details of a region.",
                  "type": "object",
                  "x-property-sort": [
                    "code",
                    "name",
                    "type",
                    "nestedRegions"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "ISO 3166-1 alpha-2 code of the country. This attribute is set for each country, may be set for miscellaneous regions and is empty for regions of other types."
                    },
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the region."
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the region.",
                      "x-enum-description": [
                        "Regions that are considered to be a continent in the context of the Market Data Gateway.",
                        "A region that represents a country that has been assigned an official ISO 3166-1 code.",
                        "A region that represents a subdivision of a country that has been assigned an official ISO 3166-2 code.",
                        "A miscellaneous region represents a region that is neither a continent, nor a country, nor a subdivision of a country.",
                        "A compound miscellaneous region consists of member regions which are uniquely and undoubtedly defined."
                      ],
                      "enum": [
                        "continent",
                        "country",
                        "subdivision",
                        "misc",
                        "compound"
                      ]
                    },
                    "nestedRegions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "code",
                          "name",
                          "type"
                        ],
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of a region."
                          },
                          "code": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 code of the country. This attribute is set for each country, may be set for miscellaneous regions and is empty for regions of other types."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the region."
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the region.",
                            "x-enum-description": [
                              "Regions that are considered to be a continent in the context of the Market Data Gateway.",
                              "A region that represents a country that has been assigned an official ISO 3166-1 code.",
                              "A region that represents a subdivision of a country that has been assigned an official ISO 3166-2 code.",
                              "A miscellaneous region represents a region that is neither a continent, nor a country, nor a subdivision of a country.",
                              "A compound miscellaneous region consists of member regions which are uniquely and undoubtedly defined."
                            ],
                            "enum": [
                              "continent",
                              "country",
                              "subdivision",
                              "misc",
                              "compound"
                            ]
                          }
                        }
                      },
                      "description": "Nested regions of this region."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/region/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of regions.",
        "description": "List of geographic, political, and economic regions.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of regions.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "code",
                      "name",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a region."
                      },
                      "code": {
                        "x-sortable": true,
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 code of the country. This attribute is set for each country, may be set for miscellaneous regions and is empty for regions of other types."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the region."
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of the region.",
                        "x-enum-description": [
                          "Regions that are considered to be a continent in the context of the Market Data Gateway.",
                          "A region that represents a country that has been assigned an official ISO 3166-1 code.",
                          "A region that represents a subdivision of a country that has been assigned an official ISO 3166-2 code.",
                          "A miscellaneous region represents a region that is neither a continent, nor a country, nor a subdivision of a country.",
                          "A compound miscellaneous region consists of member regions which are uniquely and undoubtedly defined."
                        ],
                        "enum": [
                          "continent",
                          "country",
                          "subdivision",
                          "misc",
                          "compound"
                        ]
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "code",
                "-code",
                "name",
                "-name"
              ]
            },
            "maxItems": 2,
            "uniqueItems": true,
            "default": [
              "name"
            ],
            "collectionFormat": "csv",
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/region/continent/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/continent/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a continent.",
        "description": "Details for a continent.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "number",
            "format": "id32",
            "x-positive": true,
            "description": "Identifier of a continent.",
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Details for a continent.",
                  "type": "object",
                  "x-property-sort": [
                    "name",
                    "countries"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the continent."
                    },
                    "countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Countries of this continent.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of a country."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of a country."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/region/continent/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/continent/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of continents.",
        "description": "List of continents.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of continents.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a continent."
                      },
                      "name": {
                        "x-sortable": true,
                        "x-default-sort-attribute": true,
                        "x-default-sort-direction": 1,
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the continent."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "-name"
              ]
            },
            "maxItems": 1,
            "uniqueItems": true,
            "default": [
              "name"
            ],
            "collectionFormat": "csv",
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/region/country/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/country/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a country.",
        "description": "Details for a country.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "number",
            "format": "id32",
            "x-positive": true,
            "description": "Identifier of a country.",
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Details of a country.",
                  "type": "object",
                  "x-property-sort": [
                    "code",
                    "name",
                    "subdivisions"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "ISO 3166-1 alpha-2 code of the country."
                    },
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the country."
                    },
                    "subdivisions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Subdivisions of a country in unspecified order.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of a country subdivision."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the country subdivision."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/basic/region/country/getByCode": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/country/getByCode",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a country identified by code.",
        "description": "Details for a country identified by code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "type": "string",
            "maxLength": 2,
            "exclusiveMaximum": false,
            "description": "ISO 3166-1 alpha-2 code of a country.",
            "required": true
          },
          {
[...]
