{
  "openapi": "3.0.0",
  "info": {
    "title": "Quotes API For Digital Portals",
    "description": "The Quotes API combines endpoints for retrieving security end-of-day, delayed, and realtime prices with performance key figures and basic\nreference data on the security and market level.\n\nThe API supports over 20 different price types for each quote and comes with basic search endpoints based on security identifiers and instrument names.\nMarket coverage is included in the *Sample Use Cases* section below.\n\nThe Digital Portal use case is focused on high-performance applications that are\n\n* serving millions of end-users,\n* accessible by client browsers via the internet,\n* supporting subscriptions for streamed updates out-of-the-box,\n* typically combining a wide variety of *for Digital Portals*-APIs into a highly use-case specific solution for customers,\n* integrated into complex infrastructures such as existing frontend frameworks, authentication services.\n\nAll APIs labelled *for Digital Portals* have been designed for direct use by client web applications and feature extreme low latency: The average\nresponse time across all endpoints is 30 ms whereas 99% of all requests are answered in close to under 300ms.\n\nSee the [Time Series API for Digital Portals](https://developer.factset.com/api-catalog/time-series-api-digital-portals) for direct access to\nprice histories, and the [News API for Digital Portals](https://developer.factset.com/api-catalog/news-api-digital-portals) for searching and\nfetching related news.\n",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v1"
    }
  ],
  "paths": {
    "/basic/assetClass/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/assetClass/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of asset classes as defined by FactSet Digital Solutions.",
        "summary": "List of asset classes.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicAssetClassList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/basic/backgroundText/type/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/backgroundText/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of background text types.",
        "description": "List of background text types.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicBackgroundTextTypeListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicBackgroundTextTypeList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/benchmark/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/benchmark/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of benchmark types.",
        "description": "List of benchmark types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicBenchmarkTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/basic/delivery/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/delivery/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of deliveries.",
        "description": "List of deliveries.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicDeliveryListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicDeliveryList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/frequency/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/frequency/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of frequency types.",
        "description": "List of frequency types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicFrequencyTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/basic/language/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/language/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details for a language.",
        "summary": "Details for a language.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a language."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicLanguageGet200Response"
          }
        }
      }
    },
    "/basic/language/getByCode": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/language/getByCode",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details for a language identified by code.",
        "summary": "Details for a language identified by code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2,
              "exclusiveMaximum": false,
              "description": "ISO 639-1 code of the language."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicLanguageGetByCode200Response"
          }
        }
      }
    },
    "/basic/language/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/language/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of languages.",
        "summary": "List of languages.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicLanguageList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "code",
                  "-code",
                  "name",
                  "-name"
                ]
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/market/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/market/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details of a market.",
        "summary": "Details of a market.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a market."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMarketGet200Response"
          }
        }
      }
    },
    "/basic/market/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/market/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": true,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 5,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of markets.",
        "summary": "List of markets.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicMarketListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicMarketList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/market/group/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/market/group/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of market groups.",
        "summary": "List of market groups.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMarketGroupList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name",
                  "shortName",
                  "-shortName"
                ]
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/market/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/market/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of market types.",
        "summary": "List of market types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMarketTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ]
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/media/kind/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/media/kind/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of media kinds.",
        "description": "List of media kinds.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMediaKindList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/basic/media/type/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/media/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of Internet media types. See http://www.iana.org/assignments/media-types/ for further details. Not all such Internet media types are available on the MDG.",
        "summary": "List of Internet media types.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicMediaTypeListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicMediaTypeList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/mic/operating/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/mic/operating/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": true,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of operating market identifier codes (MIC).",
        "description": "List of operating market identifier codes (MIC).",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicMicOperatingListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicMicOperatingList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/region/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a region.",
        "description": "Details for a geographic, political, or economic region.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a region."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionGet200Response"
          }
        }
      }
    },
    "/basic/region/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of regions.",
        "description": "List of geographic, political, and economic regions.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "code",
                  "-code",
                  "name",
                  "-name"
                ]
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/region/continent/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/continent/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a continent.",
        "description": "Details for a continent.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a continent."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionContinentGet200Response"
          }
        }
      }
    },
    "/basic/region/continent/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/continent/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of continents.",
        "description": "List of continents.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionContinentList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ]
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/region/country/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/country/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a country.",
        "description": "Details for a country.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a country."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionCountryGet200Response"
          }
        }
      }
    },
    "/basic/region/country/getByCode": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/country/getByCode",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details for a country identified by code.",
        "description": "Details for a country identified by code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2,
              "exclusiveMaximum": false,
              "description": "ISO 3166-1 alpha-2 code of a country."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionCountryGetByCode200Response"
          }
        }
      }
    },
    "/basic/region/country/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/region/country/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of countries.",
        "description": "List of countries.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionCountryList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "code",
                  "-code",
                  "name",
                  "-name"
                ]
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/timezone/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/timezone/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details of a timezone identified by id, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.",
        "summary": "Details of a timezone.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a timezone. An invalid or unsupported identifier will result in an error."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicTimezoneGet200Response"
          }
        }
      }
    },
    "/basic/timezone/getByName": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/timezone/getByName",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details of a timezone identified by name, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.",
        "summary": "Details of a timezone identified by name.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z_/-]+$",
              "minLength": 1,
              "exclusiveMinimum": false,
              "maxLength": 100,
              "exclusiveMaximum": false,
              "description": "Name of a timezone. The result is determined by a case-sensitive equality comparison with the stored timezone names. An invalid or unsupported name will result in an error."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicTimezoneGetByName200Response"
          }
        }
      }
    },
    "/basic/timezone/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/timezone/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of timezones identified by id, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.",
        "summary": "List of timezones.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicTimezoneListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicTimezoneList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/valueUnit/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/valueUnit/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details of a value unit.",
        "description": "Details of a value unit.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a value unit."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitGet200Response"
          }
        }
      }
    },
    "/basic/valueUnit/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/valueUnit/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of value units.",
        "description": "List of value units.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicValueUnitListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicValueUnitList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/valueUnit/alternative/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/valueUnit/alternative/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of alternative units.",
        "summary": "List of alternative units.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitAlternativeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ]
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/valueUnit/currency/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/valueUnit/currency/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of currencies.",
        "description": "List of currencies.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicValueUnitCurrencyListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicValueUnitCurrencyList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/valueUnit/currency/fractional/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/valueUnit/currency/fractional/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details of a fractional currency.",
        "description": "Details of a fractional currency.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a fractional currency."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitCurrencyFractionalGet200Response"
          }
        }
      }
    },
    "/basic/valueUnit/currency/fractional/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "get/basic/valueUnit/currency/fractional/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of fractional currencies.",
        "description": "List of fractional currencies.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitCurrencyFractionalList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ]
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/valueUnit/currency/main/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "post/basic/valueUnit/currency/main/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 1,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of main currencies.",
        "description": "List of main currencies.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicValueUnitCurrencyMainListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicValueUnitCurrencyMainList200Response"
          }
        },
        "parameters": []
      }
    },
    "/category/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details of a category.",
        "description": "Details of a category.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryGet200Response"
          }
        }
      }
    },
    "/category/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of categories.",
        "description": "List of categories.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "number",
                "format": "id32",
                "x-positive": true
              },
              "description": "List of categories belonging to the same category system.",
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 100
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryList200Response"
          }
        }
      }
    },
    "/category/listByLevel": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/listByLevel",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of categories assigned to a category level.",
        "description": "List of categories assigned to a category level.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0
            }
          },
          {
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "maximum": 500,
              "exclusiveMaximum": false,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryListByLevel200Response"
          }
        }
      }
    },
    "/category/listBySystem": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/listBySystem",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of categories assigned to a category system.",
        "description": "List of categories assigned to a category system.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category system. See endpoint `/category/system/list` for valid values."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          },
          {
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0
            }
          },
          {
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "maximum": 500,
              "exclusiveMaximum": false,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryListBySystem200Response"
          }
        }
      }
    },
    "/category/dataset/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/dataset/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of entitled category datasets.",
        "description": "List of entitled category datasets.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryDatasetList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/category/instrument/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/instrument/list",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of instruments where a specific dataset has assigned a given category.",
        "description": "List of instruments where a specific dataset has assigned a given category.",
        "parameters": [
          {
            "name": "idCategory",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category."
            },
            "required": true
          },
          {
            "name": "idCategoryDataset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category dataset."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0
            }
          },
          {
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "maximum": 1000,
              "exclusiveMaximum": false,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryInstrumentList200Response"
          }
        }
      }
    },
    "/category/level/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/level/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details of a category level.",
        "description": "Details of a category level.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryLevelGet200Response"
          }
        }
      }
    },
    "/category/path/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/path/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Path from the first level to the level of a specific category.",
        "description": "Path from the first level to the level of a specific category.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryPathGet200Response"
          }
        }
      }
    },
    "/category/system/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/system/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Details of an entitled category system.",
        "description": "Details of an entitled category system.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "x-positive": true,
              "description": "Identifier of a category system. See endpoint `/category/system/list` for valid values."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategorySystemGet200Response"
          }
        }
      }
    },
    "/category/system/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/system/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of entitled category systems.",
        "description": "List of entitled category systems.",
        "parameters": [
          {
            "name": "idType",
            "in": "query",
            "schema": {
              "description": "Filter for a specific category system type. See endpoint `/category/system/type/list` for valid values.",
              "type": "number",
              "format": "id32",
              "x-positive": true
            }
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategorySystemList200Response"
          }
        }
      }
    },
    "/category/system/type/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "get/category/system/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of category system types.",
        "description": "List of category system types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategorySystemTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/instrument/get": {
      "get": {
        "tags": [
          "instrument"
        ],
        "operationId": "get/instrument/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Basic data for an instrument.",
        "summary": "Basic data for an instrument.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "id64",
              "x-positive": true,
              "description": "Identifier of an instrument."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInstrumentGet200Response"
          }
        }
      }
    },
    "/instrument/getByNotation": {
      "get": {
        "tags": [
          "instrument"
        ],
        "operationId": "get/instrument/getByNotation",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Basic data for an instrument.",
        "summary": "Basic data for an instrument.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "id64",
              "x-positive": true,
              "description": "Identifier of a notation."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInstrumentGetByNotation200Response"
          }
        }
      }
    },
    "/instrument/backgroundText/listByInstrument": {
      "get": {
        "tags": [
          "instrument"
        ],
        "operationId": "get/instrument/backgroundText/listByInstrument",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Background texts of an instrument.",
        "description": "Background texts of an instrument.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "id64",
              "x-positive": true,
              "description": "Identifier of an instrument."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetInstrumentBackgroundTextListByInstrument200Response"
          }
        }
      }
    },
    "/instrument/backgroundText/type/list": {
      "post": {
        "tags": [
          "instrument"
        ],
        "operationId": "post/instrument/backgroundText/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of background text types for instruments.",
        "description": "List of background text types for instruments.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInstrumentBackgroundTextTypeListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostInstrumentBackgroundTextTypeList200Response"
          }
        },
        "parameters": []
      }
    },
    "/instrument/benchmark/list": {
      "post": {
        "tags": [
          "instrument"
        ],
        "operationId": "post/instrument/benchmark/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of benchmarks of a financial instrument.",
        "description": "Provides a list of benchmark notations for a selected financial instrument, optionally restricted to specific benchmark types.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInstrumentBenchmarkListRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostInstrumentBenchmarkList200Response"
          }
        },
        "parameters": []
      }
    },
    "/instrument/category/list": {
      "post": {
        "tags": [
          "instrument"
        ],
        "operationId": "post/instrument/category/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
[...]
