{
  "openapi": "3.0.0",
  "info": {
    "version": "4.1.0",
    "title": "Real-Time Options API",
    "description": "The Options API provides detailed information for option contracts (“options”) and option classes. This API presents a consolidated data model\nthat gives access to options data of global options markets such as OPRA, Australia Exchange, Bovespa, CME Group, EUREX, Euronext, Hong Kong,\nICE Futures Europe / US, Montreal Exchange, and others.\n\nAn option class is a product group of options from the same exchange and with the same underlying. The API includes endpoints to retrieve fundamental\ndata for an option contract such as exercise right, exercise style, strike, maturity, open interest, underlying, etc. as well as risk measures of an\noption contract such as delta, omega, implied volatility, etc.\n\nOption chains are provided by the /by-class/list endpoint. The list of option contracts for an option class can be filtered by exercise right, exercise\nstyle, strike, maturity, open interest, delta, omega, implied volatility, etc.\n\nThe option screener allows you to search for option classes by using text search, root symbol, or ISIN plus additional criteria such as market,\nunderlying, currency, and category. Similar to other screener endpoints in e.g. the\n[Stocks API](https://developer.factset.com/api-catalog/stocks-api-digital-portals), the /value-ranges/get endpoint provides the possible values and\nvalue ranges plus the number of option contracts for an option class related to the option contracts per criteria such as exercise right, exercise style,\nstrike, maturity, open interest, delta, omega, implied volatility, etc.\n\nThe Options API for Digital Portals seamlessly integrates with the [Real-Time Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api)\nthat provides real-time, delayed, and end-of-day pricing data and basic security identifier cross-reference. For direct access to price histories for\ncharting, please refer to the [Real-Time Time Series API](https://developer.factset.com/api-catalog/real-time-time-series-api).\n",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v4"
    }
  ],
  "paths": {
    "/option/get": {
      "get": {
        "tags": [
          "option"
        ],
        "operationId": "getOptionGet",
        "summary": "Fundamental data for an option contract.",
        "description": "Fundamental data for an option contract; any other instrument yields empty\n            values for option contract-specific attributes. Dates are interpreted in the time\n            zone of the exchange. Option contracts are exchange-specific; each option contract\n            instrument has exactly one notation.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$",
              "maxLength": 50,
              "minLength": 3,
              "example": "FDS-US",
              "description": "Identifier to resolve."
            },
            "required": true,
            "description": "Identifier to resolve.",
            "example": "FDS-US"
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tickerRegion",
              "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true,
            "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
            "example": "tickerRegion"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetOptionGet200Response"
          }
        }
      }
    },
    "/option/by-class/list": {
      "post": {
        "tags": [
          "option"
        ],
        "operationId": "postOptionByClassList",
        "summary": "List of option contracts for an option class.",
        "description": "List of option contracts for an option class. The list can be filtered based on option contract-specific parameters. All identifiers used as parameters must be valid and entitled.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOptionByClassListRequest"
              },
              "example": {
                "data": {
                  "class": {
                    "id": "2002"
                  },
                  "filter": {
                    "validation": {
                      "onlyActive": false,
                      "price": {
                        "quality": "DLY",
                        "latest": {
                          "availableOnly": false,
                          "minimumDate": "2024-01-01"
                        },
                        "previous": {
                          "availableOnly": false,
                          "minimumDate": "2024-12-24"
                        }
                      }
                    }
                  },
                  "contract": {
                    "excercise": {
                      "right": "call",
                      "style": "american"
                    },
                    "strikePrice": {
                      "minimum": {
                        "value": 3.03,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    }
                  },
                  "lifeCycle": {
                    "maturity": {
                      "date": {
                        "start": "2024-01-01",
                        "end": "2024-12-24"
                      },
                      "interval": [
                        "monthly"
                      ]
                    },
                    "expiration": {
                      "month": 2,
                      "year": -2
                    }
                  },
                  "contractSize": {
                    "restrict": {
                      "values": [
                        4.04
                      ]
                    },
                    "exclude": {
                      "values": [
                        4.04
                      ]
                    }
                  },
                  "openInterest": {
                    "minimum": {
                      "value": 5.05,
                      "inclusive": true
                    },
                    "maximum": {
                      "value": 3.03,
                      "inclusive": true
                    }
                  },
                  "keyFigures": {
                    "moneyness": {
                      "minimum": {
                        "value": 5.05,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    },
                    "impliedVolatility": {
                      "minimum": {
                        "value": 0.4,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.1,
                        "inclusive": true
                      }
                    },
                    "omega": {
                      "minimum": {
                        "value": 4.04,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 4.04,
                        "inclusive": true
                      }
                    },
                    "leverage": {
                      "minimum": {
                        "value": 3.03,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    },
                    "delta": {
                      "minimum": {
                        "value": 4.04,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "thetaOneWeek": {
                      "minimum": {
                        "value": 3.03,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "vega": {
                      "minimum": {
                        "value": 4.04,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 4.04,
                        "inclusive": true
                      }
                    },
                    "gamma": {
                      "minimum": {
                        "value": 3.1415,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "rho": {
                      "minimum": {
                        "value": 1.01,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 4.04,
                        "inclusive": true
                      }
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "-keyFigures.impliedVolatility"
                  ],
                  "pagination": {
                    "offset": 0,
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostOptionByClassList200Response"
          }
        },
        "parameters": []
      }
    },
    "/option/by-class/value-ranges/get": {
      "post": {
        "tags": [
          "option"
        ],
        "operationId": "postOptionByClassValueRangesGet",
        "summary": "Possible values and value ranges for the parameters used in the endpoint `/option/by-class/list`.",
        "description": "The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/option/by-class/list`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/option/by-class/list` endpoint so that performing a search always leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers, are sorted descending by the number of notations for each value.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOptionByClassValueRangesGetRequest"
              },
              "example": {
                "data": {
                  "class": {
                    "id": "3003"
                  },
                  "filter": {
                    "validation": {
                      "onlyActive": false,
                      "price": {
                        "quality": "DLY",
                        "latest": {
                          "availableOnly": false,
                          "minimumDate": "2024-12-24"
                        },
                        "previous": {
                          "availableOnly": false,
                          "minimumDate": "2024-01-01"
                        }
                      }
                    }
                  },
                  "contract": {
                    "excercise": {
                      "right": "call",
                      "style": "american"
                    },
                    "strikePrice": {
                      "minimum": {
                        "value": 1.01,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 1.01,
                        "inclusive": true
                      }
                    }
                  },
                  "lifeCycle": {
                    "maturity": {
                      "date": {
                        "start": "2024-12-24",
                        "end": "2024-01-01"
                      },
                      "interval": [
                        "daily"
                      ]
                    },
                    "expiration": {
                      "month": 132,
                      "year": -132
                    }
                  },
                  "contractSize": {
                    "restrict": {
                      "values": [
                        3.1415
                      ]
                    },
                    "exclude": {
                      "values": [
                        2.02
                      ]
                    }
                  },
                  "openInterest": {
                    "minimum": {
                      "value": 2.02,
                      "inclusive": true
                    },
                    "maximum": {
                      "value": 3.03,
                      "inclusive": true
                    }
                  },
                  "keyFigures": {
                    "moneyness": {
                      "minimum": {
                        "value": 4.04,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.03,
                        "inclusive": true
                      }
                    },
                    "impliedVolatility": {
                      "minimum": {
                        "value": 0.2,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.2,
                        "inclusive": true
                      }
                    },
                    "omega": {
                      "minimum": {
                        "value": 5.05,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.03,
                        "inclusive": true
                      }
                    },
                    "leverage": {
                      "minimum": {
                        "value": 4.04,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 2.02,
                        "inclusive": true
                      }
                    },
                    "delta": {
                      "minimum": {
                        "value": 3.1415,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 4.04,
                        "inclusive": true
                      }
                    },
                    "thetaOneWeek": {
                      "minimum": {
                        "value": 2.02,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 2.02,
                        "inclusive": true
                      }
                    },
                    "vega": {
                      "minimum": {
                        "value": 3.03,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 1.01,
                        "inclusive": true
                      }
                    },
                    "gamma": {
                      "minimum": {
                        "value": 3.03,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 2.02,
                        "inclusive": true
                      }
                    },
                    "rho": {
                      "minimum": {
                        "value": 5.05,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    }
                  }
                },
                "meta": {
                  "attributes": []
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostOptionByClassValueRangesGet200Response"
          }
        },
        "parameters": []
      }
    },
    "/option/class/screener/search": {
      "post": {
        "tags": [
          "option"
        ],
        "operationId": "postOptionClassScreenerSearch",
        "summary": "Screener for option classes based on option class-specific parameters.",
        "description": "Screener for option classes based on option class-specific parameters. An option class is defined by an exchange and includes all option contracts with the same reference data (e.g. underlying instrument). The result is limited to the 500 option classes with the most option contracts per class, that satisfy all the selected filters. All identifiers used as parameters must be valid and entitled.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOptionClassScreenerSearchRequest"
              },
              "example": {
                "data": {
                  "text": {
                    "attributes": [
                      "allEntitled"
                    ],
                    "value": "FactSet"
                  },
                  "market": {
                    "restrict": {
                      "ids": [
                        5
                      ]
                    },
                    "exclude": {
                      "ids": [
                        1
                      ]
                    }
                  },
                  "underlying": {
                    "instrument": {
                      "id": "209485"
                    },
                    "notation": {
                      "id": "1532562"
                    }
                  },
                  "currency": {
                    "restrict": {
                      "ids": [
                        3
                      ]
                    },
                    "exclude": {
                      "ids": [
                        2
                      ]
                    }
                  },
                  "category": {
                    "restrict": {
                      "ids": [
                        1
                      ]
                    },
                    "exclude": {
                      "ids": [
                        4
                      ]
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "-category.name"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostOptionClassScreenerSearch200Response"
          }
        },
        "parameters": []
      }
    },
    "/option/key-figures/get": {
      "get": {
        "tags": [
          "option"
        ],
        "operationId": "getOptionKeyFiguresGet",
        "summary": "Key figures of an option contract.",
        "description": "Key figures of an option contract.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$",
              "maxLength": 50,
              "minLength": 3,
              "example": "FDS-US",
              "description": "Identifier to resolve."
            },
            "required": true,
            "description": "Identifier to resolve.",
            "example": "FDS-US"
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tickerRegion",
              "description": "Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true,
            "description": "Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
            "example": "tickerRegion"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetOptionKeyFiguresGet200Response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttributesMember": {
        "type": "array",
        "description": "Limit the attributes returned in the response to the specified set.",
        "items": {
          "type": "string",
          "maxLength": 100
        },
        "maxItems": 100,
        "uniqueItems": true,
        "example": []
      },
      "LanguageMember": {
        "type": "string",
        "description": "ISO 639-1 code of the language.",
        "maxLength": 2,
        "minLength": 2,
        "example": "en"
      },
      "StatusObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "format": "int32",
            "description": "The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).",
            "example": 200
          }
        },
        "description": "The status member contains the status code of the response."
      },
      "OffsetBasedPaginationOutputObject": {
        "type": "object",
        "description": "Pagination attributes for the offset-based pagination strategy.",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of entries in the result set.",
            "nullable": true,
            "example": 3
          },
          "isEstimatedTotal": {
            "type": "boolean",
            "description": "Flag indicating that the value of \"total\" is estimated.",
            "nullable": true,
            "example": false
          }
        }
      },
      "PostOptionByClassListRequest": {
        "description": "Request Body",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "class": {
                "type": "object",
                "description": "A product group of options from the same exchange and with the same underlying.",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "id64",
                    "description": "Identifier of the option class.",
                    "example": "2002"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "filter": {
                "type": "object",
                "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                "properties": {
                  "validation": {
                    "type": "object",
                    "description": "Validation parameters.",
                    "properties": {
                      "onlyActive": {
                        "type": "boolean",
                        "description": "If `true`, only active notations will be returned.",
                        "example": false
                      },
                      "price": {
                        "type": "object",
                        "description": "Price-related parameters.",
                        "properties": {
                          "quality": {
                            "type": "string",
                            "description": "Quality of the price.\n| Value | Description |\n| --- | --- |\n| DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |\n| EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |\n\n",
                            "enum": [
                              "DLY",
                              "EOD"
                            ],
                            "example": "DLY"
                          },
                          "latest": {
                            "type": "object",
                            "description": "Parameters related to the presence and age of the most recent trade price.",
                            "properties": {
                              "availableOnly": {
                                "type": "boolean",
                                "description": "If `true`, only notations for which a trade price (even an outdated one) is available will be returned.",
                                "example": false
                              },
                              "minimumDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Earliest admissible date of the most recent trade price.",
                                "example": "2024-01-01"
                              }
                            }
                          },
                          "previous": {
                            "type": "object",
                            "description": "Parameters related to the presence and age of a trade price from a preceding trading day.",
                            "properties": {
                              "availableOnly": {
                                "type": "boolean",
                                "description": "If `true`, only notations for which a trade price from a preceding trading day is available will be returned.",
                                "example": false
                              },
                              "minimumDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Earliest admissible date of the trade price from a preceding trading day.",
                                "example": "2024-12-24"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "contract": {
                "type": "object",
                "description": "Parameters related to the option contract.",
                "properties": {
                  "excercise": {
                    "type": "object",
                    "description": "Parameters related to the exercise.",
                    "properties": {
                      "right": {
                        "type": "string",
                        "description": "Restricts the exercise right of the option.\n| Value | Description |\n| --- | --- |\n| put | A put option gives the owner the right, but not the obligation, to sell an asset at a specified price within a specific time period. |\n| call | A call option gives the owner the right, but not the obligation, to buy an asset at a specified price within a specific time period. |\n\n",
                        "enum": [
                          "put",
                          "call"
                        ],
                        "example": "call"
                      },
                      "style": {
                        "type": "string",
                        "description": "Restricts the exercise style of the option.\n| Value | Description |\n| --- | --- |\n| american | An American-style option can be exercised anytime during its life. |\n| european | A European-style option can be exercised at the end of its life. |\n\n",
                        "enum": [
                          "american",
                          "european"
                        ],
                        "example": "american"
                      }
                    }
                  },
                  "strikePrice": {
                    "description": "Value range of the strike price of the option.",
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 3.03
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 5.05
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                }
              },
              "lifeCycle": {
                "type": "object",
                "description": "Parameters related to important dates.",
                "properties": {
                  "maturity": {
                    "type": "object",
                    "description": "Parameters related to the maturity.",
                    "properties": {
                      "date": {
                        "type": "object",
                        "format": "dateRange",
                        "properties": {
                          "start": {
                            "type": "string",
                            "format": "date",
                            "description": "The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.",
                            "example": "2024-01-01"
                          },
                          "end": {
                            "type": "string",
                            "format": "date",
                            "description": "The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.",
                            "example": "2024-12-24"
                          }
                        },
                        "required": [
                          "start",
                          "end"
                        ],
                        "description": "Date range of the maturity date."
                      },
                      "interval": {
                        "description": "Restricts the maturity interval of the option.\n| Value | Description |\n| --- | --- |\n| monthly | Monthly |\n| weekly | Weekly |\n| daily | Daily |\n| mixed | Mixed |\n\n",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "string",
                          "enum": [
                            "monthly",
                            "weekly",
                            "daily",
                            "mixed"
                          ],
                          "example": "monthly"
                        },
                        "uniqueItems": true,
                        "maxItems": 4
                      }
                    }
                  },
                  "expiration": {
                    "type": "object",
                    "description": "Parameters related to the expiration month and year.",
                    "properties": {
                      "month": {
                        "type": "number",
                        "format": "int32",
                        "description": "Month of the option's expiration.",
                        "example": 2
                      },
                      "year": {
                        "type": "number",
                        "format": "int32",
                        "description": "Year of the option's expiration.",
                        "example": -2
                      }
                    }
                  }
                }
              },
              "contractSize": {
                "type": "object",
                "description": "Parameters related to the contract size of the option.",
                "properties": {
                  "restrict": {
                    "type": "object",
                    "description": "Specifies the contract sizes an option may have.",
                    "properties": {
                      "values": {
                        "description": "Set of contract sizes.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "real",
                          "example": 4.04
                        },
                        "uniqueItems": true,
                        "maxItems": 5
                      }
                    }
                  },
                  "exclude": {
                    "type": "object",
                    "description": "Specifies the contract sizes an option may not have.",
                    "properties": {
                      "values": {
                        "description": "Set of contract sizes.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "real",
                          "example": 4.04
                        },
                        "uniqueItems": true,
                        "maxItems": 5
                      }
                    }
                  }
                }
              },
              "openInterest": {
                "type": "object",
                "format": "realRange",
                "properties": {
                  "minimum": {
                    "type": "object",
                    "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "format": "real",
                        "description": "The minimum value.",
                        "example": 5.05
                      },
                      "inclusive": {
                        "type": "boolean",
                        "description": "Indicates whether the minimum value is included in the range or not.",
                        "default": true,
                        "example": true
                      }
                    },
                    "required": [
                      "value"
                    ]
                  },
                  "maximum": {
                    "type": "object",
                    "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "format": "real",
                        "description": "The maximum value.",
                        "example": 3.03
                      },
                      "inclusive": {
                        "type": "boolean",
                        "description": "Indicates whether the maximum value is included in the range or not.",
                        "default": true,
                        "example": true
                      }
                    },
                    "required": [
                      "value"
                    ]
                  }
                },
                "description": "Value range of the open positions."
              },
              "keyFigures": {
                "type": "object",
                "description": "Parameters related to the key figures.",
                "properties": {
                  "moneyness": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 5.05
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 3.1415
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the ratio of the current underlying level to the strike of an option. For calls, it is current underlying level divided by the strike. For puts, it is strike divided by the current underlying level. It measures the degree to which an option is in-the-money (moneyness > 1) or out-of-the-money (moneyness < 1). If moneyness = 1, the option is at-the-money."
                  },
                  "impliedVolatility": {
                    "type": "object",
                    "format": "relativeValueRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "The minimum value.",
                            "example": 0.4
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "The maximum value.",
                            "example": 0.1
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the implied volatility. It represents the volatility of the underlying that justifies the ask price of the option, when used as a parameter in the option's pricing model (such as Black-Scholes). Its value is a result of the pricing process, thus it represents the annual volatility of the underlying expected by the market participants until maturity of the option."
                  },
                  "omega": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the omega. It represents delta (see attribute delta) multiplied with the leverage (see attribute `leverage`), both calculated based on the ask price of the option. Omega indicates the elasticity of the option's price regarding the underlying level."
                  },
                  "leverage": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 3.03
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 3.1415
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the leverage. It represents the ratio of the underlying level to the ask price of the option, adjusted for the currency cross rate."
                  },
                  "delta": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 5.05
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the delta. It represents the first partial derivative of the function determining the option's theoretical price with respect to the underlying level, evaluated at the underlying level. Delta indicates the ratio of the absolute change of the price of an option for an indefinitely small absolute change in the underlying level, thus it represents the price sensitivity of the option relative to changes in the underlying level."
                  },
                  "thetaOneWeek": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 3.03
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 5.05
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the weekly theta. It represents the first partial derivative of the function determining the option's theoretical price with respect to the residual term, evaluated at the current residual term and multiplied by 7/365. Weekly theta indicates the absolute change (decrease) of the price of an option for a reduction of the residual term by one week (seven calendar days), thus it represents the price sensitivity of the option relative to changes in the residual term."
                  },
                  "vega": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the vega. It represents the first partial derivative of the function determining the option's theoretical price with respect to the implied volatility, evaluated at the current implied volatility. Vega indicates the ratio of the absolute change of the price of an option for an absolute change of the implied volatility, thus it represents the price sensitivity of the option relative to changes in the implied volatility."
                  },
                  "gamma": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 3.1415
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 5.05
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the gamma. It represents the second partial derivative of the function determining the option's theoretical price with respect to the underlying level, evaluated at the current underlying level. Gamma indicates the rate of change of the option’s delta (see attribute `delta`) with respect to the underlying level."
                  },
                  "rho": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 1.01
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the rho. It represents the first partial derivative of the function determining the option's theoretical price with respect to the risk-free interest rate, evaluated at the current risk-free interest rate. Rho indicates the ratio of the absolute change of the price of an option for an absolute change of the risk-free interest rate, thus it represents the price sensitivity of the option relative to changes in the risk-free interest rate. The key figure is shown in one basis point change."
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "description": "The meta member contains the meta information of the request.",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AttributesMember"
              },
              "language": {
                "$ref": "#/components/schemas/LanguageMember"
              },
              "sort": {
                "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 10 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| instrument.normalizedSymbol |\n| -instrument.normalizedSymbol |\n| instrument.name |\n| -instrument.name |\n| instrument.exercise.right |\n| -instrument.exercise.right |\n| instrument.exercise.style |\n| -instrument.exercise.style |\n| instrument.strikePrice.level |\n| -instrument.strikePrice.level |\n| instrument.lifeCycle.maturity.date |\n| -instrument.lifeCycle.maturity.date |\n| instrument.lifeCycle.maturity.interval |\n| -instrument.lifeCycle.maturity.interval |\n| instrument.lifeCycle.expiration.month |\n| -instrument.lifeCycle.expiration.month |\n| instrument.lifeCycle.expiration.year |\n| -instrument.lifeCycle.expiration.year |\n| instrument.contractSize |\n| -instrument.contractSize |\n| openInterest |\n| -openInterest |\n| keyFigures.moneyness |\n| -keyFigures.moneyness |\n| keyFigures.impliedVolatility |\n| -keyFigures.impliedVolatility |\n| keyFigures.omega |\n| -keyFigures.omega |\n| keyFigures.leverage |\n| -keyFigures.leverage |\n| keyFigures.delta |\n| -keyFigures.delta |\n| keyFigures.thetaOneWeek |\n| -keyFigures.thetaOneWeek |\n| keyFigures.vega |\n| -keyFigures.vega |\n| keyFigures.gamma |\n| -keyFigures.gamma |\n| keyFigures.rho |\n| -keyFigures.rho |\n\n",
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "instrument.normalizedSymbol",
                    "-instrument.normalizedSymbol",
                    "instrument.name",
                    "-instrument.name",
                    "instrument.exercise.right",
                    "-instrument.exercise.right",
                    "instrument.exercise.style",
                    "-instrument.exercise.style",
                    "instrument.strikePrice.level",
                    "-instrument.strikePrice.level",
                    "instrument.lifeCycle.maturity.date",
                    "-instrument.lifeCycle.maturity.date",
                    "instrument.lifeCycle.maturity.interval",
                    "-instrument.lifeCycle.maturity.interval",
                    "instrument.lifeCycle.expiration.month",
                    "-instrument.lifeCycle.expiration.month",
                    "instrument.lifeCycle.expiration.year",
                    "-instrument.lifeCycle.expiration.year",
                    "instrument.contractSize",
                    "-instrument.contractSize",
                    "openInterest",
                    "-openInterest",
                    "keyFigures.moneyness",
                    "-keyFigures.moneyness",
                    "keyFigures.impliedVolatility",
                    "-keyFigures.impliedVolatility",
                    "keyFigures.omega",
                    "-keyFigures.omega",
                    "keyFigures.leverage",
                    "-keyFigures.leverage",
                    "keyFigures.delta",
                    "-keyFigures.delta",
                    "keyFigures.thetaOneWeek",
                    "-keyFigures.thetaOneWeek",
                    "keyFigures.vega",
                    "-keyFigures.vega",
                    "keyFigures.gamma",
                    "-keyFigures.gamma",
                    "keyFigures.rho",
                    "-keyFigures.rho"
                  ],
                  "example": "-keyFigures.impliedVolatility"
                },
                "maxItems": 10,
                "uniqueItems": true,
                "default": [
                  "instrument.normalizedSymbol"
                ]
              },
              "pagination": {
                "type": "object",
                "description": "Pagination attributes for the offset-based pagination strategy.",
                "properties": {
                  "offset": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0,
                    "exclusiveMinimum": false,
                    "default": 0,
                    "description": "Non-negative number of entries to skip, or 0 (default).",
                    "example": 0
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0,
                    "exclusiveMinimum": false,
                    "maximum": 500,
                    "exclusiveMaximum": false,
                    "default": 20,
                    "description": "Non-negative maximum number of entries to return.",
                    "example": 20
                  }
                }
              }
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "PostOptionByClassValueRangesGetRequest": {
        "description": "Request Body",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "class": {
                "type": "object",
                "description": "A product group of options from the same exchange and with the same underlying.",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "id64",
                    "description": "Identifier of the option class.",
                    "example": "3003"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "filter": {
                "type": "object",
                "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                "properties": {
                  "validation": {
                    "type": "object",
                    "description": "Validation parameters.",
                    "properties": {
                      "onlyActive": {
                        "type": "boolean",
                        "description": "If `true`, only active notations will be returned.",
                        "example": false
                      },
                      "price": {
                        "type": "object",
                        "description": "Price-related parameters.",
                        "properties": {
                          "quality": {
                            "type": "string",
                            "description": "Quality of the price.\n| Value | Description |\n| --- | --- |\n| DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |\n| EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |\n\n",
                            "enum": [
                              "DLY",
                              "EOD"
                            ],
                            "example": "DLY"
                          },
                          "latest": {
                            "type": "object",
                            "description": "Parameters related to the presence and age of the most recent trade price.",
                            "properties": {
                              "availableOnly": {
                                "type": "boolean",
                                "description": "If `true`, only notations for which a trade price (even an outdated one) is available will be returned.",
                                "example": false
                              },
                              "minimumDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Earliest admissible date of the most recent trade price.",
                                "example": "2024-12-24"
                              }
                            }
                          },
                          "previous": {
                            "type": "object",
                            "description": "Parameters related to the presence and age of a trade price from a preceding trading day.",
                            "properties": {
                              "availableOnly": {
                                "type": "boolean",
                                "description": "If `true`, only notations for which a trade price from a preceding trading day is available will be returned.",
                                "example": false
                              },
                              "minimumDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Earliest admissible date of the trade price from a preceding trading day.",
                                "example": "2024-01-01"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "contract": {
                "type": "object",
                "description": "Parameters related to the option contract.",
                "properties": {
                  "excercise": {
                    "type": "object",
                    "description": "Parameters related to the exercise.",
                    "properties": {
                      "right": {
                        "type": "string",
                        "description": "Restricts the exercise right of the option.\n| Value | Description |\n| --- | --- |\n| put | A put option gives the owner the right, but not the obligation, to sell an asset at a specified price within a specific time period. |\n| call | A call option gives the owner the right, but not the obligation, to buy an asset at a specified price within a specific time period. |\n\n",
                        "enum": [
                          "put",
                          "call"
                        ],
                        "example": "call"
                      },
                      "style": {
                        "type": "string",
                        "description": "Restricts the exercise style of the option.\n| Value | Description |\n| --- | --- |\n| american | An American-style option can be exercised anytime during its life. |\n| european | A European-style option can be exercised at the end of its life. |\n\n",
                        "enum": [
                          "american",
                          "european"
                        ],
                        "example": "american"
                      }
                    }
                  },
                  "strikePrice": {
                    "description": "Value range of the strike price of the option.",
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 1.01
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 1.01
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    }
                  }
                }
              },
              "lifeCycle": {
                "type": "object",
                "description": "Parameters related to important dates.",
                "properties": {
                  "maturity": {
                    "type": "object",
                    "description": "Parameters related to the maturity.",
                    "properties": {
                      "date": {
                        "type": "object",
                        "format": "dateRange",
                        "properties": {
                          "start": {
                            "type": "string",
                            "format": "date",
                            "description": "The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.",
                            "example": "2024-12-24"
                          },
                          "end": {
                            "type": "string",
                            "format": "date",
                            "description": "The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.",
                            "example": "2024-01-01"
                          }
                        },
                        "required": [
                          "start",
                          "end"
                        ],
                        "description": "Date range of the maturity date."
                      },
                      "interval": {
                        "description": "Restricts the maturity interval of the option.\n| Value | Description |\n| --- | --- |\n| monthly | Monthly |\n| weekly | Weekly |\n| daily | Daily |\n| mixed | Mixed |\n\n",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "string",
                          "enum": [
                            "monthly",
                            "weekly",
                            "daily",
                            "mixed"
                          ],
                          "example": "daily"
                        },
                        "uniqueItems": true,
                        "maxItems": 4
                      }
                    }
                  },
                  "expiration": {
                    "type": "object",
                    "description": "Parameters related to the expiration month and year.",
                    "properties": {
                      "month": {
                        "type": "number",
                        "format": "int32",
                        "description": "Month of the option's expiration.",
                        "example": 132
                      },
                      "year": {
                        "type": "number",
                        "format": "int32",
                        "description": "Year of the option's expiration.",
                        "example": -132
                      }
                    }
                  }
                }
              },
              "contractSize": {
                "type": "object",
                "description": "Parameters related to the contract size of the option.",
                "properties": {
                  "restrict": {
                    "type": "object",
                    "description": "Specifies the contract sizes an option may have.",
                    "properties": {
                      "values": {
                        "description": "Set of contract sizes.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "real",
                          "example": 3.1415
                        },
                        "uniqueItems": true,
                        "maxItems": 5
                      }
                    }
                  },
                  "exclude": {
                    "type": "object",
                    "description": "Specifies the contract sizes an option may not have.",
                    "properties": {
                      "values": {
                        "description": "Set of contract sizes.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "real",
                          "example": 2.02
                        },
                        "uniqueItems": true,
                        "maxItems": 5
                      }
                    }
                  }
                }
              },
              "openInterest": {
                "type": "object",
                "format": "realRange",
                "properties": {
                  "minimum": {
                    "type": "object",
                    "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "format": "real",
                        "description": "The minimum value.",
                        "example": 2.02
                      },
                      "inclusive": {
                        "type": "boolean",
                        "description": "Indicates whether the minimum value is included in the range or not.",
                        "default": true,
                        "example": true
                      }
                    },
                    "required": [
                      "value"
                    ]
                  },
                  "maximum": {
                    "type": "object",
                    "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "format": "real",
                        "description": "The maximum value.",
                        "example": 3.03
                      },
                      "inclusive": {
                        "type": "boolean",
                        "description": "Indicates whether the maximum value is included in the range or not.",
                        "default": true,
                        "example": true
                      }
                    },
                    "required": [
                      "value"
                    ]
                  }
                },
                "description": "Value range of the open positions."
              },
              "keyFigures": {
                "type": "object",
                "description": "Parameters related to the key figures.",
                "properties": {
                  "moneyness": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 3.03
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the ratio of the current underlying level to the strike of an option. For calls, it is current underlying level divided by the strike. For puts, it is strike divided by the current underlying level. It measures the degree to which an option is in-the-money (moneyness > 1) or out-of-the-money (moneyness < 1). If moneyness = 1, the option is at-the-money."
                  },
                  "impliedVolatility": {
                    "type": "object",
                    "format": "relativeValueRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "The minimum value.",
                            "example": 0.2
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "The maximum value.",
                            "example": 0.2
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the implied volatility. It represents the volatility of the underlying that justifies the ask price of the option, when used as a parameter in the option's pricing model (such as Black-Scholes). Its value is a result of the pricing process, thus it represents the annual volatility of the underlying expected by the market participants until maturity of the option."
                  },
                  "omega": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 5.05
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 3.03
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the omega. It represents delta (see attribute delta) multiplied with the leverage (see attribute `leverage`), both calculated based on the ask price of the option. Omega indicates the elasticity of the option's price regarding the underlying level."
                  },
                  "leverage": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 4.04
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The maximum value.",
                            "example": 2.02
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range of the leverage. It represents the ratio of the underlying level to the ask price of the option, adjusted for the currency cross rate."
                  },
                  "delta": {
                    "type": "object",
                    "format": "realRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "real",
                            "description": "The minimum value.",
                            "example": 3.1415
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true,
                            "example": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
[...]
