{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0.0",
    "title": "Real-Time News API",
    "description": "Consume FactSet’s StreetAccount news and 3rd party content through an API that seamlessly integrates with\n[quotes](https://developer.factset.com/api-catalog/real-time-quotes-api),\n[time series](https://developer.factset.com/api-catalog/real-time-time-series-api),\n[watchlists](https://developer.factset.com/api-catalog/watchlist-api-digital-portals), and other Functional APIs.\n\nSearch for news articles from various news distributors and publishers. Incorporate a multitude of search parameters such as region, category, source, article type and provider-specific meta data, to easily filter out the noise.\n\nAll search and list endpoints can be subscribed to receive streamed updates.\n\nNews providers include:\n\n* APA\n* AWP \n* Businesswire\n* Cercle Finance\n* Direkt News SE\n* Dow Jones News\n* dpa\n* dpa-AFX \n* EUWAX\n* GlobenewsWire\n* Kauppalehti\n* MT Newswires\n* MoneyAM\n* newsaktuell\n* OMX\n* PR Newswire \n* Ritzau Finans\n* StreetAccount News\n* TDN News\n      \nSee the [Real-Time Quotes API](https://developer.factset.com/api-catalog/real-time-quotes-api) for access to detailed\nprice and performance information, plus basic support for security identifier cross-reference.\n",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v4"
    }
  ],
  "paths": {
    "/basic/asset-class/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicAssetClassList",
        "description": "List of asset classes as defined by FactSet Digital Solutions.",
        "summary": "List of asset classes.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicAssetClassList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/basic/background-text/type/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicBackgroundTextTypeList",
        "summary": "List of background text types.",
        "description": "List of background text types.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicBackgroundTextTypeListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "ids": [
                      5
                    ]
                  }
                },
                "meta": {
                  "attributes": []
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicBackgroundTextTypeList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/benchmark/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicBenchmarkTypeList",
        "summary": "List of benchmark types.",
        "description": "List of benchmark types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicBenchmarkTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ]
      }
    },
    "/basic/delivery/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicDeliveryList",
        "summary": "List of deliveries.",
        "description": "List of deliveries.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicDeliveryListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "ids": [
                      1
                    ]
                  }
                },
                "meta": {
                  "attributes": [],
                  "sort": [
                    "name"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicDeliveryList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/frequency/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicFrequencyTypeList",
        "summary": "List of frequency types.",
        "description": "List of frequency types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicFrequencyTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ]
      }
    },
    "/basic/language/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicLanguageGet",
        "description": "Details for a language.",
        "summary": "Details for a language.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a language.",
              "example": 2
            },
            "required": true,
            "description": "Identifier of a language.",
            "example": 2
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicLanguageGet200Response"
          }
        }
      }
    },
    "/basic/language/get-by-code": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicLanguageGetByCode",
        "description": "Details for a language identified by code.",
        "summary": "Details for a language identified by code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2,
              "description": "ISO 639-1 code of the language.",
              "example": "de"
            },
            "required": true,
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicLanguageGetByCode200Response"
          }
        }
      }
    },
    "/basic/language/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicLanguageList",
        "description": "List of languages.",
        "summary": "List of languages.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicLanguageList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| code |\n| -code |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "code",
                  "-code",
                  "name",
                  "-name"
                ],
                "example": "-code"
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/market/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicMarketGet",
        "description": "Details of a market.",
        "summary": "Details of a market.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a market.",
              "example": 2
            },
            "required": true,
            "description": "Identifier of a market.",
            "example": 2
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMarketGet200Response"
          }
        }
      }
    },
    "/basic/market/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicMarketList",
        "description": "List of markets.",
        "summary": "List of markets.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicMarketListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "markets": {
                      "ids": [
                        5
                      ]
                    },
                    "onlyActive": true
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "-shortName"
                  ],
                  "pagination": {
                    "offset": 0,
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicMarketList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/market/group/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicMarketGroupList",
        "description": "List of market groups.",
        "summary": "List of market groups.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMarketGroupList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| name |\n| -name |\n| shortName |\n| -shortName |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name",
                  "shortName",
                  "-shortName"
                ],
                "example": "shortName"
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/market/type/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicMarketTypeList",
        "description": "List of market types.",
        "summary": "List of market types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMarketTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ],
                "example": "name"
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/media/kind/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicMediaKindList",
        "summary": "List of media kinds.",
        "description": "List of media kinds.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicMediaKindList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/basic/media/type/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicMediaTypeList",
        "description": "List of Internet media types. See http://www.iana.org/assignments/media-types/ for further details. Not all such Internet media types are available on the MDG.",
        "summary": "List of Internet media types.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicMediaTypeListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "ids": [
                      1
                    ]
                  }
                },
                "meta": {
                  "attributes": [],
                  "sort": [
                    "name"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicMediaTypeList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/mic/operating/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicMicOperatingList",
        "summary": "List of operating market identifier codes (MIC).",
        "description": "List of operating market identifier codes (MIC).",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicMicOperatingListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "status": "active"
                  }
                },
                "meta": {
                  "attributes": [],
                  "sort": [
                    "-name"
                  ],
                  "pagination": {
                    "offset": 0,
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicMicOperatingList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/region/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionGet",
        "summary": "Details for a region.",
        "description": "Details for a geographic, political, or economic region.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a region.",
              "example": 5
            },
            "required": true,
            "description": "Identifier of a region.",
            "example": 5
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionGet200Response"
          }
        }
      }
    },
    "/basic/region/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionList",
        "summary": "List of regions.",
        "description": "List of geographic, political, and economic regions.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| code |\n| -code |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "code",
                  "-code",
                  "name",
                  "-name"
                ],
                "example": "name"
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/region/continent/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionContinentGet",
        "summary": "Details for a continent.",
        "description": "Details for a continent.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a continent.",
              "example": 1
            },
            "required": true,
            "description": "Identifier of a continent.",
            "example": 1
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionContinentGet200Response"
          }
        }
      }
    },
    "/basic/region/continent/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionContinentList",
        "summary": "List of continents.",
        "description": "List of continents.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionContinentList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ],
                "example": "-name"
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/region/country/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionCountryGet",
        "summary": "Details for a country.",
        "description": "Details for a country.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a country.",
              "example": 4
            },
            "required": true,
            "description": "Identifier of a country.",
            "example": 4
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionCountryGet200Response"
          }
        }
      }
    },
    "/basic/region/country/get-by-code": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionCountryGetByCode",
        "summary": "Details for a country identified by code.",
        "description": "Details for a country identified by code.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2,
              "description": "ISO 3166-1 alpha-2 code of a country.",
              "example": "DE"
            },
            "required": true,
            "description": "ISO 3166-1 alpha-2 code of a country.",
            "example": "DE"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionCountryGetByCode200Response"
          }
        }
      }
    },
    "/basic/region/country/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicRegionCountryList",
        "summary": "List of countries.",
        "description": "List of countries.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicRegionCountryList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| code |\n| -code |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "code",
                  "-code",
                  "name",
                  "-name"
                ],
                "example": "name"
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/timezone/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicTimezoneGet",
        "description": "Details of a timezone identified by id, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.",
        "summary": "Details of a timezone.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a timezone. An invalid or unsupported identifier will result in an error.",
              "example": 1
            },
            "required": true,
            "description": "Identifier of a timezone. An invalid or unsupported identifier will result in an error.",
            "example": 1
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicTimezoneGet200Response"
          }
        }
      }
    },
    "/basic/timezone/get-by-name": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicTimezoneGetByName",
        "description": "Details of a timezone identified by name, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.",
        "summary": "Details of a timezone identified by name.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z_/-]+$",
              "minLength": 1,
              "maxLength": 100,
              "description": "Name of a timezone. The result is determined by a case-sensitive equality comparison with the stored timezone names. An invalid or unsupported name will result in an error.",
              "example": "America/New_York"
            },
            "required": true,
            "description": "Name of a timezone. The result is determined by a case-sensitive equality comparison with the stored timezone names. An invalid or unsupported name will result in an error.",
            "example": "America/New_York"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicTimezoneGetByName200Response"
          }
        }
      }
    },
    "/basic/timezone/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicTimezoneList",
        "description": "List of timezones identified by id, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.",
        "summary": "List of timezones.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicTimezoneListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "ids": [
                      3
                    ]
                  }
                },
                "meta": {
                  "attributes": []
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicTimezoneList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/value-unit/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicValueUnitGet",
        "summary": "Details of a value unit.",
        "description": "Details of a value unit.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a value unit.",
              "example": 5
            },
            "required": true,
            "description": "Identifier of a value unit.",
            "example": 5
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitGet200Response"
          }
        }
      }
    },
    "/basic/value-unit/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicValueUnitList",
        "summary": "List of value units.",
        "description": "List of value units.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicValueUnitListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "status": "active"
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "name"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicValueUnitList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/value-unit/alternative/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicValueUnitAlternativeList",
        "description": "List of alternative units.",
        "summary": "List of alternative units.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitAlternativeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ],
                "example": "-name"
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/value-unit/currency/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicValueUnitCurrencyList",
        "summary": "List of currencies.",
        "description": "List of currencies.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicValueUnitCurrencyListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "status": "active"
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "-name"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicValueUnitCurrencyList200Response"
          }
        },
        "parameters": []
      }
    },
    "/basic/value-unit/currency/fractional/get": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicValueUnitCurrencyFractionalGet",
        "summary": "Details of a fractional currency.",
        "description": "Details of a fractional currency.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a fractional currency.",
              "example": 1
            },
            "required": true,
            "description": "Identifier of a fractional currency.",
            "example": 1
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitCurrencyFractionalGet200Response"
          }
        }
      }
    },
    "/basic/value-unit/currency/fractional/list": {
      "get": {
        "tags": [
          "basic"
        ],
        "operationId": "getBasicValueUnitCurrencyFractionalList",
        "summary": "List of fractional currencies.",
        "description": "List of fractional currencies.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBasicValueUnitCurrencyFractionalList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name"
                ],
                "example": "name"
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/basic/value-unit/currency/main/list": {
      "post": {
        "tags": [
          "basic"
        ],
        "operationId": "postBasicValueUnitCurrencyMainList",
        "summary": "List of main currencies.",
        "description": "List of main currencies.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBasicValueUnitCurrencyMainListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "status": "active"
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "-name"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostBasicValueUnitCurrencyMainList200Response"
          }
        },
        "parameters": []
      }
    },
    "/category/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryGet",
        "summary": "Details of a category.",
        "description": "Details of a category.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category.",
              "example": 4
            },
            "required": true,
            "description": "Identifier of a category.",
            "example": 4
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryGet200Response"
          }
        }
      }
    },
    "/category/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryList",
        "summary": "List of categories.",
        "description": "List of categories.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "number",
                "format": "id32",
                "example": 1
              },
              "description": "List of categories belonging to the same category system.",
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 100
            },
            "style": "form",
            "explode": false,
            "required": true,
            "description": "List of categories belonging to the same category system.",
            "example": [
              1
            ]
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryList200Response"
          }
        }
      }
    },
    "/category/list-by-level": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryListByLevel",
        "summary": "List of categories assigned to a category level.",
        "description": "List of categories assigned to a category level.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.",
              "example": 2
            },
            "required": true,
            "description": "Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.",
            "example": 2
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          },
          {
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0,
              "example": 0
            }
          },
          {
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "maximum": 500,
              "exclusiveMaximum": false,
              "default": 20,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryListByLevel200Response"
          }
        }
      }
    },
    "/category/list-by-system": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryListBySystem",
        "summary": "List of categories assigned to a category system.",
        "description": "List of categories assigned to a category system.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category system. See endpoint `/category/system/list` for valid values.",
              "example": 5
            },
            "required": true,
            "description": "Identifier of a category system. See endpoint `/category/system/list` for valid values.",
            "example": 5
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          },
          {
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0,
              "example": 0
            }
          },
          {
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "maximum": 500,
              "exclusiveMaximum": false,
              "default": 20,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryListBySystem200Response"
          }
        }
      }
    },
    "/category/dataset/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryDatasetList",
        "summary": "List of entitled category datasets.",
        "description": "List of entitled category datasets.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryDatasetList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ]
      }
    },
    "/category/instrument/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryInstrumentList",
        "summary": "List of instruments where a specific dataset has assigned a given category.",
        "description": "List of instruments where a specific dataset has assigned a given category.",
        "parameters": [
          {
            "name": "idCategory",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category.",
              "example": 1
            },
            "required": true,
            "description": "Identifier of a category.",
            "example": 1
          },
          {
            "name": "idCategoryDataset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category dataset.",
              "example": 3
            },
            "required": true,
            "description": "Identifier of a category dataset.",
            "example": 3
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "description": "Non-negative number of entries to skip, or 0 (default).",
            "name": "_paginationOffset",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0,
              "example": 0
            }
          },
          {
            "description": "Non-negative maximum number of entries to return.",
            "name": "_paginationLimit",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "int32",
              "minimum": 0,
              "exclusiveMinimum": false,
              "maximum": 1000,
              "exclusiveMaximum": false,
              "default": 20,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryInstrumentList200Response"
          }
        }
      }
    },
    "/category/level/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryLevelGet",
        "summary": "Details of a category level.",
        "description": "Details of a category level.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.",
              "example": 4
            },
            "required": true,
            "description": "Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.",
            "example": 4
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryLevelGet200Response"
          }
        }
      }
    },
    "/category/path/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategoryPathGet",
        "summary": "Path from the first level to the level of a specific category.",
        "description": "Path from the first level to the level of a specific category.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category.",
              "example": 2
            },
            "required": true,
            "description": "Identifier of a category.",
            "example": 2
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategoryPathGet200Response"
          }
        }
      }
    },
    "/category/system/get": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategorySystemGet",
        "summary": "Details of an entitled category system.",
        "description": "Details of an entitled category system.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a category system. See endpoint `/category/system/list` for valid values.",
              "example": 4
            },
            "required": true,
            "description": "Identifier of a category system. See endpoint `/category/system/list` for valid values.",
            "example": 4
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategorySystemGet200Response"
          }
        }
      }
    },
    "/category/system/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategorySystemList",
        "summary": "List of entitled category systems.",
        "description": "List of entitled category systems.",
        "parameters": [
          {
            "name": "idType",
            "in": "query",
            "schema": {
              "description": "Filter for a specific category system type. See endpoint `/category/system/type/list` for valid values.",
              "type": "number",
              "format": "id32",
              "example": 1
            },
            "description": "Filter for a specific category system type. See endpoint `/category/system/type/list` for valid values.",
            "example": 1
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategorySystemList200Response"
          }
        }
      }
    },
    "/category/system/type/list": {
      "get": {
        "tags": [
          "category"
        ],
        "operationId": "getCategorySystemTypeList",
        "summary": "List of category system types.",
        "description": "List of category system types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCategorySystemTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ]
      }
    },
    "/news/article/get": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsArticleGet",
        "summary": "Details for a news article.",
        "description": "Details for a news article.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "description": "Identifier of a news article.",
              "type": "string",
              "pattern": "^[0-9A-Za-z+/=:]+$",
              "minLength": 1,
              "maxLength": 128,
              "example": "1234567890FactSet"
            },
            "required": true,
            "description": "Identifier of a news article.",
            "example": "1234567890FactSet"
          },
          {
            "name": "includeMedia",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "If true, media references are included if available.",
              "example": true
            },
            "required": false,
            "description": "If true, media references are included if available.",
            "example": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetNewsArticleGet200Response"
          }
        }
      }
    },
    "/news/article/list": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "postNewsArticleList",
        "summary": "List of news articles.",
        "description": "List of news articles.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsArticleListRequest"
              },
              "example": {
                "data": {
                  "filter": {
                    "range": {
                      "start": "2024-01-01T00:00:00.000Z",
                      "end": "2024-12-24T18:00:00.000000Z"
                    },
                    "categories": {
                      "ids": [
                        5
                      ]
                    },
                    "regions": {
                      "ids": [
                        4
                      ]
                    },
                    "distributor": {
                      "ids": [
                        3
                      ]
                    },
                    "publisher": {
                      "ids": [
                        2
                      ]
                    },
                    "language": {
                      "ids": [
                        5
                      ]
                    },
                    "types": {
                      "ids": [
                        2
                      ]
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "subscription": {
                    "minimumInterval": 4156
                  },
                  "pagination": {
                    "cursor": "Lorem ipsum",
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostNewsArticleList200Response"
          }
        },
        "parameters": []
      }
    },
    "/news/article/list-by-chain": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "postNewsArticleListByChain",
        "summary": "List news articles of an article chain.",
        "description": "List news articles of an article chain.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsArticleListByChainRequest"
              },
              "example": {
                "data": {
                  "id": "4004",
                  "filter": {
                    "range": {
                      "start": "2024-12-24T18:00:00.000000Z",
                      "end": "2024-01-01T00:00:00.000Z"
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "subscription": {
                    "minimumInterval": 3401
                  },
                  "pagination": {
                    "cursor": "Lorem ipsum",
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostNewsArticleListByChain200Response"
          }
        },
        "parameters": []
      }
    },
    "/news/article/list-by-index": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "postNewsArticleListByIndex",
        "summary": "News articles for instruments that are constituents of the given indices.",
        "description": "News articles for instruments that are constituents of the given indices.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsArticleListByIndexRequest"
              },
              "example": {
                "data": {
                  "identifier": {
                    "values": [
                      "FDS-US"
                    ],
                    "type": "tickerRegion"
                  },
                  "filter": {
                    "range": {
                      "start": "2024-12-24T18:00:00.000000Z",
                      "end": "2024-01-01T00:00:00.000Z"
                    },
                    "categories": {
                      "ids": [
                        3
                      ]
                    },
                    "regions": {
                      "ids": [
                        3
                      ]
                    },
                    "distributor": {
                      "ids": [
                        4
                      ]
                    },
                    "publisher": {
                      "ids": [
                        3
                      ]
                    },
                    "language": {
                      "ids": [
                        2
                      ]
                    },
                    "types": {
                      "ids": [
                        3
                      ]
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "subscription": {
                    "minimumInterval": 3450
                  },
                  "pagination": {
                    "cursor": "Lorem ipsum",
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostNewsArticleListByIndex200Response"
          }
        },
        "parameters": []
      }
    },
    "/news/article/list-by-instrument": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "postNewsArticleListByInstrument",
        "summary": "News articles for instruments.",
        "description": "News articles for instruments.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsArticleListByInstrumentRequest"
              },
              "example": {
                "data": {
                  "identifier": {
                    "values": [
                      "FDS-US"
                    ],
                    "type": "tickerRegion"
                  },
                  "filter": {
                    "range": {
                      "start": "2024-12-24T18:00:00.000000Z",
                      "end": "2024-12-24T18:00:00.000000Z"
                    },
                    "categories": {
                      "ids": [
                        2
                      ]
                    },
                    "regions": {
                      "ids": [
                        3
                      ]
                    },
                    "distributor": {
                      "ids": [
                        2
                      ]
                    },
                    "publisher": {
                      "ids": [
                        5
                      ]
                    },
                    "language": {
                      "ids": [
                        5
                      ]
                    },
                    "types": {
                      "ids": [
                        3
                      ]
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "subscription": {
                    "minimumInterval": 1290
                  },
                  "pagination": {
                    "cursor": "Lorem ipsum",
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostNewsArticleListByInstrument200Response"
          }
        },
        "parameters": []
      }
    },
    "/news/article/list-by-media-kind": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "postNewsArticleListByMediaKind",
        "summary": "List news articles which contain media of specific media kinds.",
        "description": "List news articles which contain media of specific media kinds.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsArticleListByMediaKindRequest"
              },
              "example": {
                "data": {
                  "ids": [
                    5
                  ],
                  "filter": {
                    "range": {
                      "start": "2024-12-24T18:00:00.000000Z",
                      "end": "2024-01-01T00:00:00.000Z"
                    },
                    "categories": {
                      "ids": [
                        5
                      ]
                    },
                    "regions": {
                      "ids": [
                        4
                      ]
                    },
                    "distributor": {
                      "ids": [
                        1
                      ]
                    },
                    "publisher": {
                      "ids": [
                        4
                      ]
                    },
                    "language": {
                      "ids": [
                        4
                      ]
                    },
                    "types": {
                      "ids": [
                        4
                      ]
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "subscription": {
                    "minimumInterval": 1484
                  },
                  "pagination": {
                    "cursor": "Lorem ipsum",
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostNewsArticleListByMediaKind200Response"
          }
        },
        "parameters": []
      }
    },
    "/news/article/search-by-text": {
      "post": {
        "tags": [
          "news"
        ],
        "operationId": "postNewsArticleSearchByText",
        "summary": "Search for news articles using a fulltext search.",
        "description": "Search for news articles using a fulltext search. All specified criteria need to be fulfilled for an article to match. Each criterion is handled according to its selectionType; \"include\" requires the criterion to evaluate to true, \"exclude\" requires the criterion to evaluate to false. A criterion is fulfilled when at least one of its values is found.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsArticleSearchByTextRequest"
              },
              "example": {
                "data": {
                  "text": {
                    "criteria": {
                      "selectionType": "include",
                      "phrases": [
                        "Lorem Ipsum"
                      ],
                      "minimumMatchScore": 0.7,
                      "scope": "all"
                    }
                  },
                  "criteria": [
                    {
                      "selectionType": "include",
                      "range": {
                        "start": "2024-12-24T18:00:00.000000Z",
                        "end": "2024-12-24T18:00:00.000000Z"
                      },
                      "indices": {
                        "ids": [
                          "5005"
                        ]
                      },
                      "instruments": {
                        "ids": [
                          "5005"
                        ]
                      },
                      "types": {
                        "ids": [
                          2
                        ]
                      },
                      "categories": {
                        "ids": [
                          5
                        ]
                      },
                      "regions": {
                        "ids": [
                          4
                        ]
                      },
                      "distributor": {
                        "ids": [
                          5
                        ]
                      },
                      "publisher": {
                        "ids": [
                          2
                        ]
                      },
                      "language": {
                        "ids": [
                          3
                        ]
                      }
                    }
                  ]
                },
                "meta": {
                  "attributes": [],
                  "subscription": {
                    "minimumInterval": 2670
                  },
                  "pagination": {
                    "cursor": "Lorem ipsum",
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostNewsArticleSearchByText200Response"
          }
        },
        "parameters": []
      }
    },
    "/news/article/type/get": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsArticleTypeGet",
        "summary": "Details for a news article type.",
        "description": "Details for a news article type.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "description": "Identifier of a news article type.",
              "type": "number",
              "format": "id32",
              "example": 3
            },
            "required": true,
            "description": "Identifier of a news article type.",
            "example": 3
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetNewsArticleTypeGet200Response"
          }
        }
      }
    },
    "/news/article/type/list": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsArticleTypeList",
        "summary": "List of news article types.",
        "description": "List of news article types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetNewsArticleTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ]
      }
    },
    "/news/distributor/get": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsDistributorGet",
        "summary": "Details of a distributor.",
        "description": "Details of a distributor.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a distributor.",
              "example": 1
            },
            "required": true,
            "description": "Identifier of a distributor.",
            "example": 1
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetNewsDistributorGet200Response"
          }
        }
      }
    },
    "/news/distributor/list": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsDistributorList",
        "summary": "List of distributors.",
        "description": "List of distributors.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "number",
                "format": "id32",
                "example": 2
              },
              "maxItems": 100,
              "uniqueItems": true,
              "description": "Identifiers of distributors."
            },
            "style": "form",
            "explode": false,
            "description": "Identifiers of distributors.",
            "example": [
              2
            ]
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.\n| Value |\n| --- |\n| id |\n| -id |\n| name |\n| -name |\n\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name"
                ],
                "example": "-name"
              },
              "maxItems": 1,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetNewsDistributorList200Response"
          }
        }
      }
    },
    "/news/publisher/get": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsPublisherGet",
        "summary": "Details of a publisher.",
        "description": "Details of a publisher.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "id32",
              "description": "Identifier of a publisher.",
              "example": 4
            },
            "required": true,
            "description": "Identifier of a publisher.",
            "example": 4
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetNewsPublisherGet200Response"
          }
        }
      }
    },
    "/news/publisher/list": {
      "get": {
        "tags": [
          "news"
        ],
        "operationId": "getNewsPublisherList",
[...]
