{
  "openapi": "3.0.1",
  "info": {
    "title": "Security Modeling API",
    "description": "Allow clients to fetch Analytics through APIs.",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://api.factset.com/analytics/security-modeling/v4"
    }
  ],
  "paths": {
    "/securities/retrieve": {
      "post": {
        "tags": [
          "SecurityModeling"
        ],
        "summary": "Get existing securities",
        "description": "This endpoint allows you to fetch the terms and conditions for securities that have already been saved and exist on the FactSet side of your modeling data. It is designed for scenarios where you need to review or validate the details of securities that were previously created or modeled.",
        "operationId": "getSecurities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMRetrieveParametersRoot"
              },
              "examples": {
                "SM Retrieve Request": {
                  "value": {
                    "data": [
                      {
                        "securityName": "SECURITY_BOND",
                        "location": "CLIENT",
                        "asofdate": "19000101",
                        "securityType": "BOND"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "Expected response, returns a list of existing securities.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMRetrieveResponseRoot"
                },
                "examples": {
                  "200- SM Retrieve Response": {
                    "value": {
                      "data": [
                        {
                          "securityName": "SECURITY_BOND",
                          "location": "client",
                          "asofdate": "19000101",
                          "fields": {
                            "securityType": "bond",
                            "144aFlag": 1,
                            "businessDayConv": "None",
                            "callFreq": "Continuous On Schedule",
                            "callNoticeDays": 30,
                            "conversionType": "Mandatory",
                            "convertibleFlag": 1,
                            "country": "United States",
                            "couponType": "Floating",
                            "currency": "USD",
                            "dayCountBasis": "30/360",
                            "federalTaxExemptFlag": 0,
                            "fltDayCountBasis": "30/360",
                            "isEndOfMonthPayer": 1,
                            "lifeFloor": 0,
                            "lockoutDays": 0,
                            "lookBackDays": 0,
                            "makeWholeCallFlag": 1,
                            "matrixMultipliers": [
                              1,
                              1
                            ],
                            "matrixPricedFlag": 1,
                            "matrixSpreads": [
                              0,
                              1
                            ],
                            "matrixUseScheduleFlag": 1,
                            "maturityPrice": 100,
                            "multiplier": 1,
                            "observationShift": 0,
                            "parPrice": 100,
                            "payFreq": "Semi-annual",
                            "paymentDelay": 0,
                            "preferredSecExDateLen": 0,
                            "preferredSecExDateUnits": "Business Day",
                            "preferredSecType": "Preferred Equity",
                            "principalType": "At Maturity",
                            "putFreq": "Discrete On Schedule",
                            "putNoticeDays": 30,
                            "pvtPlacementFlag": 1,
                            "redemptionOpt": "Callable",
                            "resetDelay": 0,
                            "secondaryToVendorFlag": 0,
                            "sectorDef": "FactSet Fixed Income",
                            "status": "Current",
                            "vRDNFlag": 1,
                            "issueName": "Convertible Debt",
                            "parentName": "Convertible Debt",
                            "issuerId": "FDS-US",
                            "issueDate": "20250915",
                            "maturityDate": "20300915",
                            "origAmtIssued": 1000,
                            "notionalFlag": 1,
                            "callDates": [
                              "20270915"
                            ],
                            "callPrices": [
                              101
                            ],
                            "coupon": 2,
                            "firstPayDate": "20260315",
                            "refIndex": "SOFR 1mo",
                            "spread": 0,
                            "resetFreq": "Aperiodic",
                            "lifeCap": 0,
                            "periodCap": 0,
                            "periodFloor": 0,
                            "sectorMain": "Corporate",
                            "sector": "Corporate-Other",
                            "sectorSubgroup": "Miscellaneous",
                            "sectorIndustry": "Miscellaneous",
                            "conversionIdentifier": "FDS-US",
                            "conversionRatio": 3.597,
                            "ratingSpValues": [
                              "BBB+"
                            ],
                            "ratingMoodysValues": [
                              "Baa"
                            ],
                            "ratingFitch": [
                              "BBB+"
                            ],
                            "ratingFitchValues": [
                              "BBB+"
                            ],
                            "matrixDates": [
                              "20250915",
                              "20270915"
                            ],
                            "makeWholeSpread": 2,
                            "makeWholeExpireDate": "20290912",
                            "aperiodicSpreads": [
                              2,
                              4
                            ],
                            "aperiodicMultipliers": [
                              1,
                              1
                            ],
                            "aperiodicResetDates": [
                              "20250923",
                              "20260923"
                            ],
                            "creditSpreadAdjustmentSingle": 0.03
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid POST body.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "400 - Bad Request": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BBEFFBD1F4651",
                          "code": "BadRequest",
                          "title": "Failed to process request",
                          "detail": "Error processing the request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          }
        }
      }
    },
    "/securities/upsert": {
      "post": {
        "tags": [
          "SecurityModeling"
        ],
        "summary": "Create or update securities",
        "description": "This endpoint enables you to model new securities or modify existing securities by supplying the appropriate terms and conditions.\n\n\n To determine which fields are required for a successful save, you can use the fields endpoint to retrieve the supported fields based on the security type you wish to model.\n\n\n It can take up to 1200 securities.",
        "operationId": "upsertSecurities",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMCreateParametersRoot"
              },
              "examples": {
                "SM Upsert Request": {
                  "value": {
                    "data": [
                      {
                        "securityName": "SECUIRTY_CCF",
                        "fields": {
                          "ParAmt": "1.000",
                          "CashFlowAmounts": [
                            "100"
                          ],
                          "CashFlowDates": [
                            "20220101"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Expected response, contains the poll URL in the Location header.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Long-Running-Location"
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatusRoot"
                },
                "examples": {
                  "SM Upsert Response": {
                    "value": {
                      "data": {
                        "jobId": "96f0961a-577f-41a2-a3f6-ed69e46d147c",
                        "status": "Queued"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid POST body.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "400 - Bad Request": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BBEFFBD1F4651",
                          "code": "BadRequest",
                          "title": "Failed to process request",
                          "detail": "Error processing the request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "404": {
            "description": "One or more upsert settings were unavailable.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "404 - Path not found": {
                    "value": {
                      "errors": [
                        {
                          "id": "668BDDBB7D633388",
                          "code": "NotFound",
                          "title": "Failed to process request",
                          "detail": "Path not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          }
        }
      }
    },
    "/securities/delete": {
      "post": {
        "tags": [
          "SecurityModeling"
        ],
        "summary": "Delete existing securities",
        "description": "This endpoint allows you to permanently remove previously saved securities and their associated terms and conditions from your modeling data on the FactSet side. This endpoint is useful when a security was created in error, is no longer needed, or must be cleared before re-modeling with new terms.",
        "operationId": "deleteSecurities",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMDeleteParametersRoot"
              },
              "examples": {
                "SM Delete Request": {
                  "value": {
                    "data": [
                      {
                        "securityName": "Bond_Security",
                        "location": "Client",
                        "asofdate": "20250101",
                        "securityType": "BOND"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Expected response, contains the poll URL in the Location header.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Long-Running-Location"
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatusRoot"
                },
                "examples": {
                  "SM Delete Response": {
                    "value": {
                      "data": {
                        "jobId": "96f0961a-577f-41a2-a3f6-ed69e46d147c",
                        "status": "Executing"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid POST body.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "400 - Bad Request": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BBEFFBD1F4651",
                          "code": "BadRequest",
                          "title": "Failed to process request",
                          "detail": "Error processing the request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "404": {
            "description": "One or more upsert settings were unavailable.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "404 - Path not found": {
                    "value": {
                      "errors": [
                        {
                          "id": "668BDDBB7D633388",
                          "code": "NotFound",
                          "title": "Failed to process request",
                          "detail": "Path not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          }
        }
      }
    },
    "/securities/{jobId}/status": {
      "get": {
        "tags": [
          "SecurityModeling"
        ],
        "summary": "Get SM upsert or delete status by id",
        "description": "This is the endpoint to check on the progress of a previously requested upsert or delete.\r\nIf the process has completed, the location header will point to the result url.",
        "operationId": "smGetUpsertStatusById",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "from url, provided from the location header in the Create and Run SM upsert/delete endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Create and Run SM upsert/delete endpoint"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Expected response once upsert/delete is completed.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/ResponseLocationHeader"
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatusRoot"
                },
                "examples": {
                  "201 - Upsert/Delete": {
                    "value": {
                      "data": {
                        "jobId": "96f0961a-577f-41a2-a3f6-ed69e46d147c",
                        "status": "Completed"
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Expected response returned if the upsert/delete is not yet completed, should contain location header.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Long-Running-Location"
              },
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestStatusRoot"
                },
                "examples": {
                  "202- Upsert/Delete": {
                    "value": {
                      "data": {
                        "jobId": "96f0961a-577f-41a2-a3f6-ed69e46d147c",
                        "status": "Executing"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "404": {
            "description": "One or more upsert settings were unavailable.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "404 - Invalid JobId was provided": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BC1D3CCF1F383",
                          "code": "NotFound",
                          "title": "Failed to process request",
                          "detail": "Request not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          }
        }
      }
    },
    "/securities/{jobId}/result": {
      "get": {
        "tags": [
          "SecurityModeling"
        ],
        "summary": "Get SM upsert or delete result by id",
        "description": "This is the endpoint to get the result of a previously requested upsert/delete.\r\nIf the process has completed, the body of the response will contain the requested results in JSON.",
        "operationId": "smGetRequestResultById",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "from url, provided from the location header in the Get SM upsert status by id endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "description": "from url, provided from the location header in the Get SM upsert status by id endpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response once upsert/delete is completed, returns JSON in the format specified in the parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMCreateResponseRoot"
                },
                "examples": {
                  "SM Upsert Response": {
                    "value": {
                      "data": {
                        "securities": [
                          {
                            "securityName": "ISWP_API_2",
                            "status": "Failed",
                            "errors": [
                              {
                                "code": "securityModeling_notAllowed",
                                "detail": "Notional Exchange Type 'Exchange at Front &amp Back' is not valid",
                                "id": "notionalExchangeType",
                                "source": {
                                  "pointer": "/data/fields/notionalExchangeType"
                                },
                                "title": "notionalExchangeType value not allowed"
                              },
                              {
                                "code": "securityModeling_notAllowed",
                                "detail": "Reset Frequency 'Monly' must not be longer than Payment Frequency 'Monthly' - Receiving Leg",
                                "id": "resetFreqRec",
                                "source": {
                                  "pointer": "/data/fields/resetFreqRec"
                                },
                                "title": "resetFreqRec value not allowed"
                              }
                            ],
                            "warnings": [
                              {
                                "code": "securityModeling_otherWarning",
                                "detail": "No changes detected, security skipped.",
                                "id": "symbol",
                                "source": {
                                  "pointer": "/data/fields/symbol"
                                },
                                "title": "symbol has other warning"
                              }
                            ]
                          },
                          {
                            "securityName": "OPTION2",
                            "status": "Created"
                          }
                        ]
                      },
                      "meta": {
                        "operation": "upsert",
                        "jobId": "96f0961a-577f-41a2-a3f6-ed69e46d147c"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "404": {
            "description": "Result was already returned or provided id was not a requested upsert/delete.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "404 - Not Found": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BC1D3CCF1F383",
                          "code": "NotFound",
                          "title": "Failed to process request",
                          "detail": "Request not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          }
        }
      }
    },
    "/securities/{securityType}/fields": {
      "get": {
        "tags": [
          "SecurityModeling"
        ],
        "summary": "Get security type fields",
        "description": "This endpoint allows you to retrieve the complete list of fields supported for modeling a security based on its security type. Each field returned in this endpoint includes rich metadata designed to help you understand how to correctly populate terms and conditions for the Upsert workflow.\n\n  **Security Type mappings for the `sectype` parameter:**\n\n  | Security Type                | Sectype needed for templates |\n  |-----------------------------|------------------------------|\n  | Bond                        | BOND                         |\n  | Bank Loan Facility          | BLF                          |\n  | Mortgage Backed Security    | MBS                          |\n  | Multi-Legged Bond           | MLB                          |\n  | Custom Cash Flow            | CCF                          |\n  | Tender Option Bond          | TOB                          |\n  | Bond Forward                | BFW                          |\n  | Bond Option/Lock            | BOPT                         |\n  | Cross Currency Swap         | CCS                          |\n  | Inflation Swap              | ISWP                         |\n  | Interest Rate Cap/Floor     | IRCF                         |\n  | CMS Rate Cap/Floor          | CRCF                         |\n  | CMS Spread Cap/Floor        | CSCF                         |\n  | Vanilla Interest Rate Swap  | VIRS                         |\n  | Swaption                   | SWP                          |\n  | Credit Default Swap         | CDS                          |\n  | CDS Index Option            | CDSW                         |\n  | Currency Forward            | CFW                          |\n  | Total Return Swap           | TRS                          |\n  | Option                      | OPT                          |\n  | Variance Swap               | VSWP                         |\n  | Fund                        | PE                           |\n  | Real Estate                 | RE                           |\n",
        "operationId": "getFields",
        "parameters": [
          {
            "name": "securityType",
            "in": "path",
            "description": "Security Type",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Security Type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns a list of all template fields.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMTemplateFieldPropertiesRoot"
                },
                "examples": {
                  "200 - Expected Response": {
                    "value": {
                      "data": {
                        "cashFlowAmounts": {
                          "category": [
                            "double_array"
                          ],
                          "mandatory": true
                        },
                        "cashFlowDates": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": true
                        },
                        "country": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "currency": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "issueName": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "parAmt": {
                          "category": [
                            "double"
                          ],
                          "mandatory": true
                        },
                        "parentName": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "ratingFitch": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "ratingFitchDates": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": false
                        },
                        "ratingFitchValues": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": false
                        },
                        "ratingMoodysDates": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": false
                        },
                        "ratingMoodysValues": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": false
                        },
                        "ratingSpDates": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": false
                        },
                        "ratingSpValues": {
                          "category": [
                            "string_array"
                          ],
                          "mandatory": false
                        },
                        "secondaryToVendorFlag": {
                          "category": [
                            "bool"
                          ],
                          "mandatory": false
                        },
                        "sector": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorBarclay1": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorBarclay2": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorBarclay3": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorBarclay4": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorDef": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorIndustry": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorMain": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorMerrill1": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorMerrill2": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorMerrill3": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorMerrill4": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "sectorSubgroup": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        },
                        "vendorCoverageDate": {
                          "category": [
                            "string"
                          ],
                          "mandatory": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "400 - Bad Request": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BBEFFBD1F4651",
                          "code": "BadRequest",
                          "title": "Failed to process request",
                          "detail": "Error processing the request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "404": {
            "description": "Security Type not found.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIClientErrorResponse"
                },
                "examples": {
                  "404 - Not Found": {
                    "value": {
                      "errors": [
                        {
                          "id": "667BC1D3CCF1F383",
                          "code": "NotFound",
                          "title": "Failed to process request",
                          "detail": "Request not found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime",
            "headers": {
              "X-DataDirect-Request-Key": {
                "$ref": "#/components/headers/X-DataDirect-Request-Key"
              },
              "X-FactSet-Api-Request-Key": {
                "$ref": "#/components/headers/X-FactSet-Api-Request-Key"
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Limit"
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Remaining"
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "$ref": "#/components/headers/X-FactSet-Api-RateLimit-Reset"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SMRetrieveParameters": {
        "type": "object",
        "properties": {
          "securityName": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "asofdate": {
            "type": "string",
            "nullable": true
          },
          "securityType": {
            "enum": [
              "BOND",
              "BLF",
              "MBS",
              "CCF",
              "TOB",
              "BFW",
              "BOPT",
              "CCS",
              "MLB",
              "ISWP",
              "IRCF",
              "CRCF",
              "CSCF",
              "VIRS",
              "SWP",
              "CDS",
              "CDSW",
              "CFW",
              "TRS",
              "OPT",
              "VSWP",
              "PE",
              "RE"
            ],
            "type": "string",
            "nullable": true
          },
          "fields": {
            "type": "string"
          }
        },
        "required": [
          "securityName"
        ]
      },
      "APIClientErrorResponse": {
        "description": "The response schema for errors",
        "type": "object",
        "properties": {
          "errors": {
            "description": "List of errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/APIError"
            },
            "nullable": true
          }
        }
      },
      "APIError": {
        "description": "Full details of any error",
        "required": [
          "code",
          "title"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Identifier for the error (the Chain ID)",
            "type": "string"
          },
          "code": {
            "description": "The error code",
            "type": "string"
          },
          "title": {
            "description": "The title of the error",
            "type": "string"
          },
          "detail": {
            "description": "Explanation specific to the occurrence of the error",
            "type": "string",
            "nullable": true
          },
          "source": {
            "$ref": "#/components/schemas/ErrorSource"
          }
        }
      },
      "RequestStatusRoot": {
        "description": "The status of upsert or delete as per FactSets API standards.",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/RequestStatus"
          }
        }
      },
      "RequestStatus": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "Upsert or delete identifier",
            "nullable": true
          },
          "status": {
            "enum": [
              "Queued",
              "Executing",
              "Completed"
            ],
            "type": "string",
            "description": "Upsert or delete status"
          }
        },
        "description": "Details of the upsert or delete."
      },
      "SMRetrieveParametersRoot": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/SMRetrieveParameters"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "SMRetrieveResponse": {
        "type": "object",
        "properties": {
          "securityName": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "enum": [
              "Created",
              "Failed"
            ],
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "asofdate": {
            "type": "string",
            "nullable": true
          },
          "fields": {
            "$ref": "#/components/schemas/FieldsMap"
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "required": [
          "fields"
        ]
      },
      "SMRetrieveResponseRoot": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SMRetrieveResponse"
            }
          }
        }
      },
      "SMCreateParameters": {
        "required": [
          "fields",
          "securityName"
        ],
        "type": "object",
        "properties": {
          "securityName": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "asofdate": {
            "type": "string",
            "nullable": true
          },
          "fields": {
            "$ref": "#/components/schemas/FieldsMap"
          },
          "securityType": {
            "enum": [
              "BOND",
              "BLF",
              "MBS",
              "CCF",
              "TOB",
              "BFW",
              "BOPT",
              "CCS",
              "MLB",
              "ISWP",
              "IRCF",
              "CRCF",
              "CSCF",
              "VIRS",
              "SWP",
              "CDS",
              "CDSW",
              "CFW",
              "TRS",
              "OPT",
              "VSWP",
              "PE",
              "RE"
            ],
            "type": "string",
            "nullable": true
          }
        }
      },
      "FieldsMap": {
        "type": "object",
        "description": "A map of dynamic key-value pairs representing security fields.",
        "additionalProperties": {}
      },
      "SMCreateParametersRoot": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "maxItems": 1200,
            "items": {
              "$ref": "#/components/schemas/SMCreateParameters"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "SMCreateResponse": {
        "type": "object",
        "properties": {
          "securities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SMSecurityResponse"
            }
          }
        }
      },
      "SMCreateResponseRoot": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SMCreateResponse"
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "properties": {
              "operation": {
                "type": "string",
                "enum": [
                  "upsert",
                  "delete"
                ]
              },
              "jobId": {
                "type": "string",
                "nullable": true
              }
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "SMDeleteParameters": {
        "required": [
          "securityName"
        ],
        "type": "object",
        "properties": {
          "securityName": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "asofdate": {
            "type": "string",
            "nullable": true
          },
          "securityType": {
            "enum": [
              "BOND",
              "BLF",
              "MBS",
              "CCF",
              "TOB",
              "BFW",
              "BOPT",
              "CCS",
              "MLB",
              "ISWP",
              "IRCF",
              "CRCF",
              "CSCF",
              "VIRS",
              "SWP",
              "CDS",
              "CDSW",
              "CFW",
              "TRS",
              "OPT",
              "VSWP",
              "PE",
              "RE"
            ],
            "type": "string",
            "nullable": true
          }
        }
      },
      "SMDeleteParametersRoot": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/SMDeleteParameters"
            }
          }
        }
      },
      "SMTemplateFieldProperties": {
        "type": "object",
        "properties": {
          "category": {
            "type": "array",
            "description": "Indicates the expected data type (e.g., string, int, double, boolean, or arrays). This helps ensure you supply values in the correct format.",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "mandatory": {
            "type": "boolean",
            "description": "Shows whether the field is always required for successful modeling. If true, you must supply this field when creating or updating a security."
          },
          "whenField": {
            "type": "array",
            "description": "Specifies conditional requirements—certain fields become mandatory only when other fields have specific values.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/WhenCondition"
            }
          },
          "description": {
            "type": "string",
            "description": "A clear and intuitive explanation of what the field represents, making it easier to interpret than raw JSON keys.",
            "nullable": true
          }
        }
      },
      "WhenCondition": {
        "type": "object",
        "description": "A single condition where a field becomes mandatory. Keys are fields and values are arrays of mandatory values.",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nullable": true
      },
      "SMTemplateFieldPropertiesRoot": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SMTemplateFieldProperties"
            }
          }
        }
      },
      "ErrorSource": {
        "type": "object",
        "properties": {
          "pointer": {
            "type": "string",
            "nullable": true
          },
          "parameter": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "title"
        ],
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "$ref": "#/components/schemas/ErrorSource"
          }
        }
      },
      "SMSecurityResponse": {
        "title": "SMSecurityResponse",
        "type": "object",
        "properties": {
          "securityName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Created",
              "Failed"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "headers": {
      "ResponseLocationHeader": {
        "description": "Url of the newly created resource",
        "schema": {
          "type": "string"
        }
      },
      "Long-Running-Location": {
        "description": "Location to poll for the status of the job.",
        "schema": {
          "type": "string"
        }
      },
      "X-DataDirect-Request-Key": {
        "description": "FactSet's request key header.",
        "schema": {
          "type": "string"
        }
      },
      "X-FactSet-Api-Request-Key": {
        "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
        "schema": {
          "type": "string"
        }
      },
      "X-FactSet-Api-RateLimit-Limit": {
        "description": "Number of allowed requests for the time window.",
        "schema": {
          "type": "string"
        }
      },
      "X-FactSet-Api-RateLimit-Remaining": {
        "description": "Number of requests left for the time window.",
        "schema": {
          "type": "string"
        }
      },
      "X-FactSet-Api-RateLimit-Reset": {
        "description": "Number of seconds remaining till rate limit resets.",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "tags": [
    {
      "name": "SecurityModeling"
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://developer.factset.com/api-catalog/security-modeling-api"
  }
}