{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/securitizedDerivative/get": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "get/securitizedDerivative/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Fundamental data for a single securitized derivative.",
        "description": "Fundamental data for a single securitized derivative. Dates are interpreted in the timezone of the issuer.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the instrument."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "isin",
                    "nsin",
                    "isPrivatePlacement",
                    "name",
                    "shortName",
                    "type",
                    "isIncomplete",
                    "lifeCycle",
                    "countrySecurityRegistration",
                    "referenceDebtor",
                    "isCollateralized",
                    "isQuanto",
                    "capitalProtection",
                    "hasCatchUp",
                    "hasAutomaticExercise",
                    "orderVolume",
                    "redemptionAmount",
                    "nominal",
                    "issuer",
                    "issue",
                    "exercise",
                    "settlement"
                  ],
                  "description": "Instrument data of the securitized derivative.",
                  "properties": {
                    "isin": {
                      "type": "string",
                      "format": "isin",
                      "description": "The International Securities Identification Number (ISIN) of the instrument. The ISIN is a 12-character code of digits and upper-case letters that uniquely identifies an instrument."
                    },
                    "nsin": {
                      "type": "object",
                      "x-property-sort": [
                        "wkn",
                        "valor"
                      ],
                      "description": "NSIN data of the instrument.",
                      "properties": {
                        "wkn": {
                          "type": "string",
                          "description": "The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument."
                        },
                        "valor": {
                          "type": "string",
                          "description": "The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument."
                        }
                      }
                    },
                    "isPrivatePlacement": {
                      "type": "boolean",
                      "description": "If true, the instrument is part of a private placement and therefore not publicly traded."
                    },
                    "name": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Name of the instrument."
                    },
                    "shortName": {
                      "type": "string",
                      "format": "localizedString",
                      "description": "Short name of the instrument."
                    },
                    "type": {
                      "description": "Instrument type as defined by FactSet Digital Solutions. Instrument types are arranged in a hierarchy, with the first level representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18). Please refer to endpoint `/category/get` for possible values.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the instrument type."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the instrument type."
                          }
                        }
                      }
                    },
                    "isIncomplete": {
                      "type": "boolean",
                      "description": "If true, the data supplier has marked the data for this instrument as incomplete."
                    },
                    "lifeCycle": {
                      "type": "object",
                      "x-property-sort": [
                        "subscriptionPeriod",
                        "valutaIssue",
                        "initialFixing",
                        "issue",
                        "intradayActivation",
                        "tradingPeriod",
                        "startExercisePeriod",
                        "valuation",
                        "maturity",
                        "repayment",
                        "cancellation"
                      ],
                      "description": "Important dates of the instrument.",
                      "properties": {
                        "subscriptionPeriod": {
                          "type": "object",
                          "format": "dateRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the start of the subscription period."
                            },
                            "end": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the end of the subscription period."
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Subscription period."
                        },
                        "valutaIssue": {
                          "type": "string",
                          "format": "date",
                          "description": "Date by which the issuer requires receiving the purchase price for a newly issued product purchased during the subscription period."
                        },
                        "initialFixing": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the initial fixing."
                        },
                        "issue": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the issue."
                        },
                        "intradayActivation": {
                          "type": "object",
                          "x-property-sort": [
                            "time",
                            "isActivated"
                          ],
                          "description": "Intraday activation data",
                          "properties": {
                            "time": {
                              "type": "string",
                              "format": "datetime",
                              "description": "Date and time of the intraday activation."
                            },
                            "isActivated": {
                              "type": "boolean",
                              "description": "If true, this instrument is activated intraday."
                            }
                          }
                        },
                        "tradingPeriod": {
                          "type": "object",
                          "format": "dateRange",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the instrument's first trading day defined by the issuer."
                            },
                            "end": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the instrument's last trading day defined by the issuer."
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Trading period defined by the issuer."
                        },
                        "startExercisePeriod": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the start of the exercise period, which ends with the valuation."
                        },
                        "valuation": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the valuation."
                        },
                        "maturity": {
                          "type": "object",
                          "x-property-sort": [
                            "date",
                            "isPerpetual",
                            "isCallable"
                          ],
                          "description": "Maturity data.",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "date",
                              "description": "Date of the instrument's maturity. The value is empty if the instrument is perpetual."
                            },
                            "isPerpetual": {
                              "type": "boolean",
                              "description": "If true, the instrument is perpetual, i.e. it does not mature, therefore the attribute `date` is null."
                            },
                            "isCallable": {
                              "type": "boolean",
                              "description": "If true, the issuer may redeem the instrument prior to maturity."
                            }
                          }
                        },
                        "repayment": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the repayment."
                        },
                        "cancellation": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the cancellation day defined by the issuer."
                        }
                      }
                    },
                    "countrySecurityRegistration": {
                      "description": "List of countries where the instrument is registered. See endpoint `/basic/region/country/list` for possible values.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the country."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the country."
                          }
                        }
                      }
                    },
                    "referenceDebtor": {
                      "type": "object",
                      "x-property-sort": [
                        "instrument",
                        "legalEntity"
                      ],
                      "description": "Legal entity to be monitored for credit risk and its respective debt instrument, if available.",
                      "properties": {
                        "instrument": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "description": "Instrument of the reference debt issue. The reference debt issue is used to determine if a credit event for the reference debtor has occurred. If the securitized derivative is not related to a particular reference debt issue, but to the reference debtor as a whole, the attribute `instrument` is null.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "id64",
                              "x-positive": true,
                              "description": "Identifier of the reference debt issue instrument."
                            }
                          }
                        },
                        "legalEntity": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "name",
                            "lei"
                          ],
                          "description": "Legal entity data of the reference debtor that is monitored for credit events. See endpoint `/legalEntity/list` for possible values.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of the reference debtor."
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the reference debtor."
                            },
                            "lei": {
                              "type": "string",
                              "description": "Legal Entity Identifier of the reference debtor."
                            }
                          }
                        }
                      }
                    },
                    "isCollateralized": {
                      "type": "boolean",
                      "description": "If true, this instrument is protected against an issuer default by collateral (e.g. COSI collateralization by SIX Swiss Exchange)."
                    },
                    "isQuanto": {
                      "type": "boolean",
                      "description": "If true, the risk of exchange rate fluctuations between the value unit of the underlying (all of them, in case of multiple underlyings) and the value unit of the redemption is hedged."
                    },
                    "capitalProtection": {
                      "type": "number",
                      "format": "relativeValue",
                      "description": "Proportion of the nominal amount protected against loss, usually 100%."
                    },
                    "hasCatchUp": {
                      "type": "boolean",
                      "description": "If true, the instrument has a so-called \"memory feature\" (also called \"catch up\"). This means that a conditional payment that has not been paid out could be paid on a subsequent payment date if the condition is then satisfied."
                    },
                    "hasAutomaticExercise": {
                      "type": "boolean",
                      "description": "If true, the instrument will be automatically exercised at termination (such as maturity, premature call, or premature payout). It prevents such products from becoming worthless, meaning the investor does not have to undertake any steps in order to receive the payable amount."
                    },
                    "orderVolume": {
                      "type": "object",
                      "x-property-sort": [
                        "minimum",
                        "increment"
                      ],
                      "description": "Conditions on the order volume for placing an order with the issuer.",
                      "properties": {
                        "minimum": {
                          "type": "number",
                          "format": "int32",
                          "description": "Minimum order volume required for placing an order at the trading venue of the notation for the given market phase."
                        },
                        "increment": {
                          "type": "number",
                          "format": "real",
                          "description": "Increment of the order volume over the minimum (see attribute inimumOrderVolumeSecDer) required for placing an order at the respective trading venue. The order volume over the minimum must be an integral multiple of the increment. The value unit for this attribute is the same as for the attribute tradingVolumeLatestTradePrice."
                        }
                      }
                    },
                    "redemptionAmount": {
                      "type": "number",
                      "format": "real",
                      "description": "Actual redemption amount after expiry (e.g. knock out, maturity etc) for securitized derivatives with a so-called knock-out feature. The currency of the redemption amount is given by `issue.valueUnit` and is always a main currency for securitized derivatives with that feature. "
                    },
                    "nominal": {
                      "type": "object",
                      "x-property-sort": [
                        "value",
                        "currency"
                      ],
                      "description": "Nominal data of the instrument.",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "real",
                          "description": "Nominal value."
                        },
                        "currency": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "code"
                          ],
                          "description": "Main currency data of nominal. See endpoint `/basic/valueUnit/currency/main/list` for possible values.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Idenitifier of the main currency."
                            },
                            "code": {
                              "type": "string",
                              "description": "Code of the main currency."
                            }
                          }
                        }
                      }
                    },
                    "issuer": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name",
                        "lei",
                        "group"
                      ],
                      "description": "Issuer and issuer group of the securitized derivative. See endpoint `/securitizedDerivative/issuer/search` for possible values.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the issuer."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the issuer."
                        },
                        "lei": {
                          "type": "string",
                          "description": "Legal Entity Identifier of the issuer."
                        },
                        "group": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "name"
                          ],
                          "description": "Issuer group. The issuer group is defined by FactSet and does not represent an actual juristic person.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of the issuer group."
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the issuer group."
                            }
                          }
                        }
                      }
                    },
                    "issue": {
                      "type": "object",
                      "x-property-sort": [
                        "price",
                        "admittedVolume",
                        "valueUnit",
                        "surcharge"
                      ],
                      "description": "Issue data of the instrument.",
                      "properties": {
                        "price": {
                          "type": "number",
                          "format": "real",
                          "description": "The price at which the instrument was issued."
                        },
                        "admittedVolume": {
                          "type": "number",
                          "format": "int32",
                          "description": "Number of pieces of the instrument admitted to trading by the regulating authority."
                        },
                        "valueUnit": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "code"
                          ],
                          "description": "Value unit of the issuing price such as a main or a fractional currency for a per-unit-quoted securitized derivative, or percentages for a securitized derivative quoted in percent of the nominal (see attribute `nominal`). See endpoint `/basic/valueUnit/list` for possible values.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Idenitifier of the value unit."
                            },
                            "code": {
                              "type": "string",
                              "description": "Code of the value unit."
                            }
                          }
                        },
                        "surcharge": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Issue surcharge. An additional charge paid to the issuer when purchasing the product during the subscription period (see attribute `lifeCycle.subscriptionPeriod`)."
                        }
                      }
                    },
                    "exercise": {
                      "type": "object",
                      "x-property-sort": [
                        "right",
                        "style"
                      ],
                      "description": "Exercise data of the instrument.",
                      "properties": {
                        "right": {
                          "type": "string",
                          "description": "Code of the exercise right.",
                          "x-enum-description": [
                            "A put option gives buyer the right, but not the obligation, to sell an asset at a specified price within a specific time period.",
                            "A call option gives buyer the right, but not the obligation, to buy an asset at a specified price within a specific time period."
                          ],
                          "enum": [
                            "put",
                            "call"
                          ]
                        },
                        "style": {
                          "type": "string",
                          "description": "Code of the exercise style.",
                          "x-enum-description": [
                            "An American style option can be exercised anytime during its life.",
                            "A European style option can be exercised at the end of its life.",
                            "A Bermudan style option can only be exercised on predetermined dates."
                          ],
                          "enum": [
                            "american",
                            "european",
                            "bermudan"
                          ]
                        }
                      }
                    },
                    "settlement": {
                      "type": "string",
                      "description": "Settlement is the fulfillment of the issuer's contractual obligations arising from the securitized derivative. Depending on the terms, the underlying asset may be delivered physically or its equivalent monetary value may be payed out.",
                      "x-enum-description": [
                        "Transfer of a cash amount.",
                        "Physical delivery of the underlying asset.",
                        "Cash or physical, at the discretion of the issuer."
                      ],
                      "enum": [
                        "cash",
                        "physical",
                        "either"
                      ]
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/securitizedDerivative/barrier/type/list": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "get/securitizedDerivative/barrier/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of barrier types.",
        "description": "List of barrier types.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description",
                      "kind"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the barrier type."
                      },
                      "name": {
                        "type": "string",
                        "description": "English name of the barrier type."
                      },
                      "description": {
                        "type": "string",
                        "description": "English description of the barrier type."
                      },
                      "kind": {
                        "type": "string",
                        "description": "Kind of the barrier type.",
                        "x-enum-description": [
                          "Barrier types of this kind represent either a lower or an upper bound derived from the exercise right of the securitized derivative, see attribute `exercise.right` in endpoint `/securitizedDerivative/get`.",
                          "Barrier types of this kind represent a range with a lower and an upper bound."
                        ],
                        "enum": [
                          "single",
                          "range"
                        ]
                      }
                    }
                  },
                  "description": "List of barrier types."
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/securitizedDerivative/issuer/search": {
      "post": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "post/securitizedDerivative/issuer/search",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Search for issuers of securitized derivatives.",
        "description": "Search for issuers of securitized derivatives, including issuer groups, which do not represent actual juristic persons, but are defined by FactSet to facilitate searching. FactSet does not consolidate the data provided by different suppliers, therefore the result may contain more than one identifier for a given issuer. The response is limited to 100 results.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "role",
                    "name",
                    "category",
                    "underlying",
                    "factorCertificates",
                    "registrationCountry",
                    "market"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Specify whether legal entities in the role of an issuer or in the role of an issuer group are returned.",
                      "default": "issuerGroup",
                      "x-enum-description": [
                        "Legal entities defined by FactSet and thus not representing an actual juristic person.",
                        "Legal entities in the role of an issuer representing an actual juristic person."
                      ],
                      "enum": [
                        "issuerGroup",
                        "issuer"
                      ]
                    },
                    "name": {
                      "type": "object",
                      "x-property-sort": [
                        "searchValue"
                      ],
                      "description": "Issuer name.",
                      "properties": {
                        "searchValue": {
                          "type": "string",
                          "pattern": "^[ -!#-&(-+--/0-:=?-Za-zw\"]*$",
                          "minLength": 3,
                          "exclusiveMinimum": false,
                          "maxLength": 100,
                          "exclusiveMaximum": false,
                          "description": "Text string to be searched for."
                        }
                      }
                    },
                    "category": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "List of categories of securitized derivatives. Only issuers that have issued securitized derivatives belonging to at least one category in the provided list are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "maxItems": 20,
                          "uniqueItems": true,
                          "description": "List of category identifiers. See endpoint `/category/listBySystem` for category systems 18 and 23 for valid values."
                        }
                      }
                    },
                    "underlying": {
                      "type": "object",
                      "x-property-sort": [
                        "instrument"
                      ],
                      "description": "List of underlyings of securitized derivatives. Only issuers that have issued at least one securitized derivative on an underlying in the provided list are returned.",
                      "properties": {
                        "instrument": {
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "description": "Underlying instrument.",
                          "properties": {
                            "ids": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true
                              },
                              "maxItems": 100,
                              "uniqueItems": true,
                              "description": "List of instrument identifiers."
                            }
                          }
                        }
                      }
                    },
                    "factorCertificates": {
                      "type": "object",
                      "x-property-sort": [
                        "effectiveUnderlying"
                      ],
                      "description": "Parameters for factor certificates.",
                      "properties": {
                        "effectiveUnderlying": {
                          "type": "object",
                          "x-property-sort": [
                            "instrument"
                          ],
                          "description": "Selection of the effective underlying. The underlying of a factor certificate is usually a factor index which is an artificial index used to calculate the leveraged daily performance of another financial instrument called its effective underlying. Only issuers that have issued at least one factor certificate on an effective underlying in the provided list are returned.",
                          "properties": {
                            "instrument": {
                              "type": "object",
                              "x-property-sort": [
                                "ids"
                              ],
                              "description": "Selection of the effective underlying using instrument identifiers.",
                              "properties": {
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "format": "id64",
                                    "x-positive": true
                                  },
                                  "maxItems": 100,
                                  "uniqueItems": true,
                                  "description": "List of instrument identifiers."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "registrationCountry": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "List of countries of registration for trading of securitized derivatives. Only issuers that have registered at least one securitized derivative in a country in the provided list are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "maxItems": 20,
                          "uniqueItems": true,
                          "description": "List of country identifiers. See endpoint `/basic/region/country/list` for valid values."
                        }
                      }
                    },
                    "market": {
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "description": "List of markets where securitized derivatives are traded. Only issuers that have issued at least one securitized derivative traded on a market in the provided list are returned.",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "maxItems": 20,
                          "uniqueItems": true,
                          "description": "List of market identifiers. See endpoint `/basic/market/list` for valid values."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    }
                  },
                  "x-property-sort": [
                    "attributes"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "count"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of the issuer."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the issuer."
                      },
                      "count": {
                        "type": "number",
                        "format": "int32",
                        "description": "Number of securitized derivatives issued."
                      }
                    }
                  },
                  "description": "List of issuers, including issuer groups, sorted descending by the number of securitized derivatives issued."
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/securitizedDerivative/keyFigures/notation/get": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "get/securitizedDerivative/keyFigures/notation/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Notation-based key figures of a securitized derivative.",
        "description": "Notation-based key figures of a securitized derivative. Not all key figures are applicable and/or calculated for all types of securitized derivatives. Following, some frequently used references: \n\nCover ratio - see attribute `underlyings.coverRatio` in endpoint `/securitizedDerivative/underlying/list`.\n\nVarious barrier types (e.g. strike, knock in) - see endpoint `/securitizedDerivative/barrier/type/list`.\n\nExercise right - see attribute `exercise.right` in endpoint `/securitizedDerivative/get`.\n\nIssue price - see attribute `issue.price` in endpoint `/securitizedDerivative/get`.\n\nAsk price - see attribute `prices.ask`.\n\nBid price - see attribute `prices.bid`.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of a notation."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "prices",
                    "underlyings",
                    "currency",
                    "performanceIssue",
                    "bonusYield",
                    "sidewaysYield",
                    "maximumYield",
                    "agio",
                    "discount",
                    "breakEven",
                    "spread",
                    "delta",
                    "thetaOneWeek",
                    "vega",
                    "leverage",
                    "omega",
                    "impliedVolatility",
                    "intrinsicValue",
                    "timeValue",
                    "outperformancePoint",
                    "parity"
                  ],
                  "description": "Notation-based key figures of the securitized derivative.",
                  "properties": {
                    "prices": {
                      "type": "object",
                      "x-property-sort": [
                        "ask",
                        "bid",
                        "valueUnit"
                      ],
                      "description": "Prices of the securitized derivative, used for the calculation. See attribute `prices.valueUnit` for the unit.",
                      "properties": {
                        "ask": {
                          "type": "object",
                          "x-property-sort": [
                            "time",
                            "price"
                          ],
                          "description": "Ask price.",
                          "properties": {
                            "time": {
                              "type": "string",
                              "format": "datetime",
                              "description": "Date and time."
                            },
                            "price": {
                              "type": "number",
                              "format": "real",
                              "description": "Price value."
                            }
                          }
                        },
                        "bid": {
                          "type": "object",
                          "x-property-sort": [
                            "time",
                            "price"
                          ],
                          "description": "Bid price.",
                          "properties": {
                            "time": {
                              "type": "string",
                              "format": "datetime",
                              "description": "Date and time."
                            },
                            "price": {
                              "type": "number",
                              "format": "real",
                              "description": "Price value."
                            }
                          }
                        },
                        "valueUnit": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "code"
                          ],
                          "description": "Value unit of the notation of the securitized derivative, such as a main or a fractional currency for a per-unit-quoted securitized derivative, or percentages for a securitized derivative quoted in percent of the nominal (see attribute `nominal` in endpoint `/securitizedDerivative/get`). See endpoint `/basic/valueUnit/list` for possible values.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of the value unit."
                            },
                            "code": {
                              "type": "string",
                              "description": "Code of the value unit."
                            }
                          }
                        }
                      }
                    },
                    "underlyings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "name",
                          "notation",
                          "level",
                          "valueUnit"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the underlying, provided also if there is no notation for the underlying."
                          },
                          "notation": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "instrument"
                            ],
                            "description": "Notation of the underlying. If there is no notation for the underlying, the object is null.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the notation."
                              },
                              "instrument": {
                                "type": "object",
                                "x-property-sort": [
                                  "id"
                                ],
                                "description": "Instrument of the underlying.",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "id64",
                                    "x-positive": true,
                                    "description": "Identifier of the instrument."
                                  }
                                }
                              }
                            }
                          },
                          "level": {
                            "type": "object",
                            "x-property-sort": [
                              "time",
                              "value"
                            ],
                            "description": "Level (e.g. price or index value) of the underlying used for calculation.",
                            "properties": {
                              "time": {
                                "type": "string",
                                "format": "datetime",
                                "description": "Date and time."
                              },
                              "value": {
                                "type": "number",
                                "format": "real",
                                "description": "Level value. See attribute `underlyings.valueUnit` for the unit."
                              }
                            }
                          },
                          "valueUnit": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "code"
                            ],
                            "description": "Value unit of the underlying, provided also if there is no notation for the underlying. See endpoint `/basic/valueUnit/list` for possible values.",
                            "properties": {
                              "id": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true,
                                "description": "Identifier of the value unit."
                              },
                              "code": {
                                "type": "string",
                                "description": "Code of the value unit."
                              }
                            }
                          }
                        }
                      },
                      "description": "Details of the underlyings."
                    },
                    "currency": {
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "code"
                      ],
                      "description": "Main or fractional currency of the attributes expressed in absolute terms, unless specified otherwise. See endpoint `/basic/valueUnit/currency/list` for possible values.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the currency."
                        },
                        "code": {
                          "type": "string",
                          "description": "Code of the currency."
                        }
                      }
                    },
                    "performanceIssue": {
                      "type": "object",
                      "x-property-sort": [
                        "ask",
                        "bid"
                      ],
                      "description": "Ask and bid-based performance since issue, see attribute `issue` in endpoint `/securitizedDerivative/get` for the issue date. It represents the difference between the ask (bid respectively) price of the derivative's notation and the issue price. For securitized derivatives quoted in percent, the result is multiplied with the nominal (see attribute `nominal.value` in endpoint `/securitizedDerivative/get`) in order to calculate the value in absolute terms.",
                      "properties": {
                        "ask": {
                          "type": "object",
                          "x-property-sort": [
                            "absolute",
                            "relative",
                            "annualized"
                          ],
                          "description": "Ask-based performance.",
                          "properties": {
                            "absolute": {
                              "type": "number",
                              "format": "real",
                              "description": "Performance in absolute terms."
                            },
                            "relative": {
                              "type": "number",
                              "format": "relativeValue",
                              "description": "Performance relative to the issue price."
                            },
                            "annualized": {
                              "type": "number",
                              "format": "relativeValue",
                              "description": "Annualized performance relative to the issue price."
                            }
                          }
                        },
                        "bid": {
                          "type": "object",
                          "x-property-sort": [
                            "absolute",
                            "relative",
                            "annualized"
                          ],
                          "description": "Bid-based performance.",
                          "properties": {
                            "absolute": {
                              "type": "number",
                              "format": "real",
                              "description": "Performance in absolute terms."
                            },
                            "relative": {
                              "type": "number",
                              "format": "relativeValue",
                              "description": "Performance relative to the issue price."
                            },
                            "annualized": {
                              "type": "number",
                              "format": "relativeValue",
                              "description": "Annualized performance relative to the issue price."
                            }
                          }
                        }
                      }
                    },
                    "bonusYield": {
                      "type": "object",
                      "x-property-sort": [
                        "absolute",
                        "relative",
                        "annualized"
                      ],
                      "description": "Bonus yield based on the ask price. It represents the bonus level adjusted for the cover ratio and currency cross rate minus the ask price of the securitized derivative. The value can become negative (e.g. for uncapped products), which does not mean that the investor will necessarily suffer a loss buying it. This key figure is calculated for bonus certificates with intact knock-in barrier only. For the barrier breach of barriers with a single limit, see attribute `barrierTypeConditions.barriers.single.breach.isBreached` in endpoint `/securitizedDerivative/underlying/list`, for the breach of the up and down limit of range barriers see attribute `barrierTypeConditions.barriers.range.up/down.breach.isBreached` respectively.",
                      "properties": {
                        "absolute": {
                          "type": "number",
                          "format": "real",
                          "description": "Bonus yield in absolute terms."
                        },
                        "relative": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Bonus yield relative to the ask price."
                        },
                        "annualized": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Annualized bonus yield relative to the ask price."
                        }
                      }
                    },
                    "sidewaysYield": {
                      "type": "object",
                      "x-property-sort": [
                        "absolute",
                        "relative",
                        "annualized"
                      ],
                      "description": "Sideways yield based on the ask price. It represents a hypothetical payout at maturity minus the ask price of the securitized derivative, under the assumption that all payout-influencing factors remain unchanged until maturity.",
                      "properties": {
                        "absolute": {
                          "type": "number",
                          "format": "real",
                          "description": "Sideways yield in absolute terms."
                        },
                        "relative": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Sideways yield relative to the ask price."
                        },
                        "annualized": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Annualized sideways yield relative to the ask price."
                        }
                      }
                    },
                    "maximumYield": {
                      "type": "object",
                      "x-property-sort": [
                        "absolute",
                        "relative",
                        "annualized"
                      ],
                      "description": "Maximum yield based on the ask price.  It represents a hypothetical maximum payout at maturity minus the ask price of the derivative. This key figure represents a theoretically possible best-case scenario, disregarding the probability of occurrence. It is calculated only for securitized derivatives with a limited payout (e.g. capped products).",
                      "properties": {
                        "absolute": {
                          "type": "number",
                          "format": "real",
                          "description": "Maximum yield in absolute terms."
                        },
                        "relative": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Maximum yield relative to the ask price."
                        },
                        "annualized": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Annualized maximum yield relative to the ask price."
                        }
                      }
                    },
                    "agio": {
                      "type": "object",
                      "x-property-sort": [
                        "absolute",
                        "relative",
                        "annualized"
                      ],
                      "description": "Agio based on the ask price.  For plain vanilla warrants, it represents the difference between the ask price of the derivative and its parity (see attribute `parity`). Thus, for those with exercise right call, the agio indicates how much more expensive would it be to obtain the underlying through purchasing and exercising the warrant compared to directly purchasing the underlying. For those with exercise right put, the above consideration is applied inversely. For other types of securitized derivatives, the calculation and interpretation of the agio depends on their category. Negative values are possible. This key figure is not calculated for securitized derivatives with multiple underlyings.",
                      "properties": {
                        "absolute": {
                          "type": "number",
                          "format": "real",
                          "description": "Agio in absolute terms."
                        },
                        "relative": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Agio relative to the underlying level."
                        },
                        "annualized": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Annualized agio relative to the underlying level."
                        }
                      }
                    },
                    "discount": {
                      "type": "object",
                      "x-property-sort": [
                        "absolute",
                        "relative"
                      ],
                      "description": "Discount based on the ask price. It represents the difference between the ask price of the securitized derivative and the underlying level, adjusted for the cover ratio and the currency cross rate. This key figure is calculated only for discount certificates. This key figure is not calculated for securitized derivatives with multiple underlyings. For the value unit, see attribute `underlyings.valueUnit`.",
                      "properties": {
                        "absolute": {
                          "type": "number",
                          "format": "real",
                          "description": "Discount in absolute terms."
                        },
                        "relative": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Discount relative to the underlying level."
                        }
                      }
                    },
                    "breakEven": {
                      "type": "object",
                      "x-property-sort": [
                        "breakEvenPoint",
                        "distance"
                      ],
                      "description": "Break even point based on the ask price. It represents the underlying level that has to be reached at maturity, such that no loss or profit occurs for the holder of the securitized derivative. This key figure is not calculated for securitized derivatives with multiple underlyings. For the value unit, see attribute `underlyings.valueUnit`.",
                      "properties": {
                        "breakEvenPoint": {
                          "type": "number",
                          "format": "real",
                          "description": "Break even point."
                        },
                        "distance": {
                          "type": "object",
                          "x-property-sort": [
                            "absolute",
                            "relative"
                          ],
                          "description": "Distance from the underlying level to the  break even point.",
                          "properties": {
                            "absolute": {
                              "type": "number",
                              "format": "real",
                              "description": "Distance in absolute terms. For the value unit, see attribute `underlyings.valueUnit`."
                            },
                            "relative": {
                              "type": "number",
                              "format": "relativeValue",
                              "description": "Distance relative to the underlying level. "
                            }
                          }
                        }
                      }
                    },
                    "spread": {
                      "type": "object",
                      "x-property-sort": [
                        "harmonized",
                        "relative"
                      ],
                      "description": "Spread of the securitized derivative. It represents the difference between the ask and bid price.",
                      "properties": {
                        "harmonized": {
                          "type": "number",
                          "format": "real",
                          "description": "Spread in absolute terms, adjusted for the cover ratio."
                        },
                        "relative": {
                          "type": "number",
                          "format": "relativeValue",
                          "description": "Spread relative to the ask price."
                        }
                      }
                    },
                    "delta": {
                      "type": "object",
                      "x-property-sort": [
                        "effective",
                        "unadjusted"
                      ],
                      "description": "Ask-based delta. It represents the first partial derivative of the function determining the derivative notation's theoretical price with respect to the underlying level, evaluated at the underlying level. Delta indicates the ratio of the absolute change of the price of a derivative for an indefinitely small absolute change in the underlying level, thus it represents the price sensitivity of the derivative relative to changes in the underlying level. This key figure is calculated for plain vanilla warrants only.",
                      "properties": {
                        "effective": {
                          "type": "number",
                          "format": "real",
                          "description": "Delta calculated using the actual cover ration of the securitized derivative."
                        },
                        "unadjusted": {
                          "type": "number",
                          "format": "real",
                          "description": "Delta calculated using a (hypothetical) cover ratio of 1:1."
                        }
                      }
                    },
                    "thetaOneWeek": {
                      "type": "object",
                      "x-property-sort": [
                        "effective",
                        "unadjusted"
                      ],
                      "description": "Ask-based weekly theta. It represents the first partial derivative of the function determining the derivative notation's theoretical price with respect to the residual term, evaluated at the current residual term and multiplied by 7/365. Weekly theta indicates the absolute change (decrease) of the price of a derivative for a reduction of the residual term by one week (seven calendar days), thus it represents the price sensitivity of the derivative relative to changes in the residual term. This key figure is calculated for plain vanilla warrants only.",
                      "properties": {
                        "effective": {
                          "type": "number",
                          "format": "real",
                          "description": "Weekly theta calculated using the actual cover ratio of the securitized derivative."
                        },
                        "unadjusted": {
                          "type": "number",
                          "format": "real",
                          "description": "Weekly theta calculated using a (hypothetical) cover ratio of 1:1."
                        }
                      }
                    },
                    "vega": {
                      "type": "object",
                      "x-property-sort": [
                        "effective",
                        "unadjusted"
                      ],
                      "description": "Ask-based vega. It represents the first partial derivative of the function determining the derivative notation's theoretical price with respect to the implied volatility, evaluated at the current implied volatility. Vega indicates the ratio of the absolute change of the price of a derivative for an absolute change of the implied volatility, thus it represents the price sensitivity of the derivative relative to changes in the implied volatility. This key figure is calculated for plain vanilla warrants only.",
                      "properties": {
                        "effective": {
                          "type": "number",
                          "format": "real",
                          "description": "Vega calculated using the actual cover ratio of the securitized derivative."
                        },
                        "unadjusted": {
                          "type": "number",
                          "format": "real",
                          "description": "Vega calculated using a (hypothetical) cover ratio of 1:1."
                        }
                      }
                    },
                    "leverage": {
                      "type": "number",
                      "format": "real",
                      "description": "Ask-based leverage. It represents the ratio of the underlying level to the ask price of the securitized derivative, adjusted for the cover ratio and the currency cross rate. This key figure is calculated only for leveraged derivatives (e.g. warrants, knock-out certificates)."
                    },
                    "omega": {
                      "type": "number",
                      "format": "real",
                      "description": "Ask-based omega. It represents unadjusted delta (see attribute `delta.unadjusted`) multiplied with the leverage (see attribute `leverage`), both calculated based on the ask price of the derivative. Omega indicates the elasticity of the securitized derivative's price regarding the underlying level. This key figure is calculated for plain vanilla warrants only."
                    },
                    "impliedVolatility": {
                      "type": "number",
                      "format": "relativeValue",
                      "description": "Ask-based implied volatility. It represents the volatility of the underlying that justifies the ask price of the derivative, when used as a parameter in the derivative's pricing model (such as Black-Scholes). Its value is a result of the pricing process, thus it represents the annual volatility of the underlying expected by the market participants until maturity of the derivative. This key figure is calculated for plain vanilla warrants only."
                    },
                    "intrinsicValue": {
                      "type": "number",
                      "format": "real",
                      "description": "Intrinsic value. It represents the difference between the underlying level and the strike of the securitized derivative, adjusted for the cover ratio and the currency cross rate. If the difference is negative, the intrinsic value is given as 0. The intrinsic value represents the theoretical profit from an immediate exercise of the derivative. This key figure is calculated for plain vanilla warrants only."
                    },
                    "timeValue": {
                      "type": "number",
                      "format": "real",
                      "description": "Ask-based time value. It represents the difference between the ask price of the securitized derivative and its intrinsic value (see attribute `intrinsicValue`). This key figure is calculated for plain vanilla warrants only."
                    },
                    "outperformancePoint": {
                      "type": "number",
                      "format": "real",
                      "description": "Ask-based outperformance point. It represents the underlying level from which the underlying starts to outperform the securitized derivative, thus the investor would be better off investing directly in the underlying. It is calculated only for securitized derivatives with a limited payout (e.g. capped products). This key figure is not calculated for securitized derivatives with multiple underlyings. For the value unit, see attribute `underlyings.valueUnit`."
                    },
                    "parity": {
                      "type": "number",
                      "format": "real",
                      "description": "Parity. It represents the difference between the underlying level and the strike of the derivative, adjusted for the cover ratio and the currency cross rate. Negative values are possible. It is the gain or loss that would result from the immediate exercise of an already present warrant and a simultaneously executed compensation transaction on the spot markets. This key figure is calculated for plain vanilla warrants only."
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/securitizedDerivative/notation/ranking/intraday/list": {
      "post": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "post/securitizedDerivative/notation/ranking/intraday/list",
        "x-supportsOffsetBasedPaging": true,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 5,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Ranking of securitized derivatives' notations using intraday figures.",
        "description": "Ranking of securitized derivatives' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, the selection of the notation depends on the sort attribute:\n- absolute and relative performance (see the response attributes `trade.performance.absolute` and `trade.performance.relative`) - the notation with the most recent trade price is used\n- number trades, trading value and trading volume (see the response attributes `accumulated.numberTrades`, `accumulated.tradingVolume` and `accumulated.tradingValue`) - the notation with highest (lowest) value is used\n\nBy default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameters `valueUnit` and/or `currency` have not been specified.\n\nThe search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.\n\nAll identifiers used as parameters must be valid and entitled.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "prices",
                    "valueUnit",
                    "currency",
                    "market",
                    "instrumentRestrictionList",
                    "notationRestrictionList",
                    "category",
                    "registrationCountry",
                    "lifeCycle",
                    "issuer",
                    "exercise",
                    "underlying",
                    "factorCertificates",
                    "knockedOut",
                    "knockedIn",
                    "performance"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "prices": {
                      "description": "Price-related parameters.",
                      "type": "object",
                      "x-property-sort": [
                        "quality"
                      ],
                      "properties": {
                        "quality": {
                          "type": "string",
                          "description": "Quality of the trade-related attributes, see attributes `trade` and `accumulated` in the response.",
                          "x-enum-description": [
                            "Real-time: intraday prices with minimal technical processing delays.",
                            "Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes."
                          ],
                          "enum": [
                            "RLT",
                            "DLY"
                          ],
                          "default": "DLY"
                        }
                      }
                    },
                    "valueUnit": {
                      "description": "Value unit of the notations in the result. The parameter ensures the consistency and comparability of the absolute and relative performance for all securitized derivatives, and of the trading value for securitized derivatives quoted in percent. See response attributes `trade.performance.absolute` and `trade.performance.relative`, and `accumulated.tradingValue` respectively.",
                      "type": "object",
                      "x-property-sort": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the value unit. See endpoint `/basic/valueUnit/list` for valid values."
                        }
                      }
                    },
                    "currency": {
                      "description": "Main currency of the trading value and volume for securitized derivatives quoted in percent. The parameter ensures the consistency and comparability of the trading value and trading volume for such securitized derivatives. For securitized derivatives not quoted in percent, the currency and the value unit, see parameter `valueUnit`, are identical, thus it is not neccessary to specify the currency if the value unit has been specified.",
                      "type": "object",
                      "x-property-sort": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the main currency. See endpoint `/basic/valueUnit/currency/main/list` for valid values."
                        }
                      }
                    },
                    "market": {
                      "description": "Market-related parameters. See endpoint `/basic/market/list` for valid values.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "description": "List of market identifiers. Only securitized derivatives that are traded on a market in the provided list are returned. The list restricts the request to only those markets.",
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "uniqueItems": true,
                          "minItems": 1,
                          "maxItems": 1
                        }
                      },
                      "required": [
                        "ids"
                      ]
                    },
                    "instrumentRestrictionList": {
                      "description": "Instrument-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "description": "List of identifiers of restriction lists.",
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "uniqueItems": true,
                          "maxItems": 3
                        }
                      }
                    },
                    "notationRestrictionList": {
                      "description": "Notation-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "description": "List of identifiers of restriction lists.",
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "uniqueItems": true,
                          "maxItems": 3
                        }
                      }
                    },
                    "category": {
                      "description": "Only securitized derivatives that belong to at least one category in the provided list will be returned.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "description": "List of category identifiers. See endpoint `/category/listBySystem` for category systems 18 and 23 for valid values.",
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "uniqueItems": true,
                          "minItems": 1,
                          "maxItems": 20
                        }
                      },
                      "required": [
                        "ids"
                      ]
                    },
                    "registrationCountry": {
                      "description": "Only securitized derivatives registered for trading in a country in the provided list are returned.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "description": "List of country identifiers. See endpoint `/basic/region/country/list` for valid values.",
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "uniqueItems": true,
                          "maxItems": 20
                        }
                      }
                    },
                    "lifeCycle": {
                      "description": "Parameters related to important dates.",
                      "type": "object",
                      "x-property-sort": [
                        "maturity"
                      ],
                      "properties": {
                        "maturity": {
                          "description": "Parameters related to the maturity.",
                          "type": "object",
                          "x-property-sort": [
                            "perpetual"
                          ],
                          "properties": {
                            "perpetual": {
                              "type": "string",
                              "description": "Specifies whether or not perpetual securitized derivatives, i.e. such that do not mature, are included in the result.",
                              "default": "include",
                              "x-enum-description": [
                                "Only perpetual securitized derivatives are included in the result.",
                                "Perpetual securitized derivatives are included in the result.",
                                "Perpetual securitized derivatives are excluded from the result."
                              ],
                              "enum": [
                                "only",
                                "include",
                                "exclude"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "issuer": {
                      "description": "Parameters related to the issuer.",
                      "type": "object",
                      "x-property-sort": [
                        "ids"
                      ],
                      "properties": {
                        "ids": {
                          "description": "List of identifiers of legal entities in the role of an issuer, including issuer groups. FactSet defines issuer groups to facilitate searching; they do not represent actual juristic persons. See endpoint `/securitizedDerivative/issuer/search` for valid values.",
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "uniqueItems": true,
                          "maxItems": 20
                        }
                      }
                    },
                    "exercise": {
                      "description": "Parameters related to the exercise.",
                      "type": "object",
                      "x-property-sort": [
                        "right"
                      ],
                      "properties": {
                        "right": {
                          "type": "string",
                          "description": "Exercise right.",
                          "x-enum-description": [
                            "A put option gives buyer the right, but not the obligation, to sell an asset at a specified price within a specific time period. Put is synonymous to short or bear and is used in a broader sense for products that make profits from falling underlying levels.",
                            "A call option gives buyer the right, but not the obligation, to buy an asset at a specified price within a specific time period. Call is synonymous to long or bull and is used in a broader sense for products that make profits from rising underlying levels."
                          ],
                          "enum": [
                            "put",
                            "call"
                          ]
                        }
                      }
                    },
                    "underlying": {
                      "description": "Underlying selection. A list of underlyings can be selected by either using their instrument identifiers, see parameter `underlying.instrument.ids` or by using their notation identifiers, see parameter `underlying.notation.ids` but not both at the same time. Only one of the provided identifiers needs to be matched in order for a securitized derivative to be returned in the result. The list of underlyings is particularly useful to search for securitized derivatives that have very similar but not exactly the same underlyings such as futures with different maturities on a given commodity, e.g. brent crude oil.\n\nFor the selection of the effective underling of factor certificates, use `factorCertificates.effectiveUnderlying.instrument.ids`.",
                      "type": "object",
                      "x-property-sort": [
                        "instrument",
                        "notation"
                      ],
                      "properties": {
                        "instrument": {
                          "description": "Underlying selection using instrument identifiers.",
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "properties": {
                            "ids": {
                              "description": "List of instrument identifiers.",
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true
                              },
                              "uniqueItems": true,
                              "maxItems": 100
                            }
                          }
                        },
                        "notation": {
                          "description": "Underlying selection using notation identifiers.",
                          "type": "object",
                          "x-property-sort": [
                            "ids"
                          ],
                          "properties": {
                            "ids": {
                              "description": "List of notation identifiers.",
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true
                              },
                              "uniqueItems": true,
                              "maxItems": 100
                            }
                          }
                        }
                      }
                    },
                    "factorCertificates": {
                      "description": "Parameters for factor certificates.",
                      "type": "object",
                      "x-property-sort": [
                        "effectiveUnderlying",
                        "participation"
                      ],
                      "properties": {
                        "effectiveUnderlying": {
                          "description": "Selection of the effective underlying. The underlying of a factor certificate is usually a factor index which is an artificial index used to calculate the leveraged daily performance of another financial instrument called its effective underlying.",
                          "type": "object",
                          "x-property-sort": [
                            "instrument"
                          ],
                          "properties": {
                            "instrument": {
                              "description": "Selection of the effective underlying using instrument identifiers.",
                              "type": "object",
                              "x-property-sort": [
                                "ids"
[...]
