{
  "openapi": "3.0.0",
  "info": {
    "version": "4.0.0",
    "title": "Securitized Derivatives API For Digital Portals",
    "description": "Search for securitized derivative instruments, using a criteria-based screener. The API provides also fundamental data, notation-based\nkey figures, list of barrier types, and details regarding the underlyings, their respective barriers and related cash flows, coupon lists\nand derived basic interest rate information.\n\nThe screener is based on securitized derivatives-specific parameters. The result is limited to the notations that satisfy all the selected\nfilters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation\nwith the highest trading volume, averaged over one month, is considered. All identifier types used as parameters must be valid and application\nmust have permissions for them.\n\nAvailable search criteria include:\n\n* validation: filter for only active listings, by price quality and latest/previous available price dates\n* traded markets: filter and indicate a market priority for the validation\n* life cycle: important dates in and features of the life cycle of the securitized derivatives instruments\n* filter by issuer, country of registration of the securitized derivatives\n* underlying and related barriers, including level and distance, and resulting cash flows\n* coupon data: where applicable, occurrence and frequency of coupon payments, current interest rate range\n* performance and volatility\n* product-specific ask-based key figures (not all key figures are available for all product types):\n    * bonus yield, sideways yield, maximum yield based on the ask price\n    * agio, discount\n    * spread\n    * break even, outperformance point, parity\n    * delta, weekly theta, vega, implied volatility\n    * leverage, omega\n    * intrinsic value, time value       \n\nSince some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly\ntradable asset, they do not have a price in the classical sense. Therefore, the term *level* is used instead of *price*, e.g. underlying\nlevel instead of underlying price.\nThe endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with\na single underlying are returned in the result.\n\nThe search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction\nlists are set up by FactSet upon request.\n\nThis API is fully integrated with the corresponding [Quotes API](https://developer.factset.com/api-catalog/quotes-api-digital-portals),\nallowing access to detailed price and performance information of instruments, as well as basic security identifier cross-reference.\nFor direct access to price histories, please refer to the\n[Time Series API for Digital Portals](https://developer.factset.com/api-catalog/time-series-api-digital-portals).\n\nSimilar criteria based screener APIs exist for equity and fixed income instruments: See the\n[Stocks API](https://developer.factset.com/api-catalog/stocks-api-digital-portals) and the\n[Bonds API](https://developer.factset.com/api-catalog/bonds-api-digital-portals) for details.\n\n",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v4"
    }
  ],
  "paths": {
    "/securitized-derivative/get": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "getSecuritizedDerivativeGet",
        "summary": "Fundamental data for a single securitized derivative.",
        "description": "Fundamental data for a single securitized derivative. Dates are interpreted in the timezone of the issuer.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$",
              "maxLength": 50,
              "minLength": 3,
              "example": "FDS-US",
              "description": "Identifier to resolve."
            },
            "required": true,
            "description": "Identifier to resolve.",
            "example": "FDS-US"
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tickerRegion",
              "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true,
            "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
            "example": "tickerRegion"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSecuritizedDerivativeGet200Response"
          }
        }
      }
    },
    "/securitized-derivative/barrier/type/list": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "getSecuritizedDerivativeBarrierTypeList",
        "summary": "List of barrier types.",
        "description": "List of barrier types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSecuritizedDerivativeBarrierTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ]
      }
    },
    "/securitized-derivative/issuer/search": {
      "post": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "postSecuritizedDerivativeIssuerSearch",
        "summary": "Search for issuers of securitized derivatives.",
        "description": "Search for issuers of securitized derivatives, including issuer groups, which do not represent actual juristic persons, but are defined by FactSet to facilitate searching. FactSet does not consolidate the data provided by different suppliers, therefore the result may contain more than one identifier for a given issuer. The response is limited to 100 results.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecuritizedDerivativeIssuerSearchRequest"
              },
              "example": {
                "data": {
                  "role": "issuerGroup",
                  "name": {
                    "searchValue": "Lorem ipsum"
                  },
                  "withPriceEntitlement": true,
                  "category": {
                    "ids": [
                      5
                    ]
                  },
                  "underlying": {
                    "instrument": {
                      "ids": [
                        "2002"
                      ]
                    }
                  },
                  "factorCertificates": {
                    "effectiveUnderlying": {
                      "instrument": {
                        "ids": [
                          "5005"
                        ]
                      }
                    }
                  },
                  "registrationCountry": {
                    "restrict": {
                      "ids": [
                        3
                      ]
                    },
                    "exclude": {
                      "ids": [
                        3
                      ]
                    }
                  },
                  "market": {
                    "restrict": {
                      "ids": [
                        1
                      ]
                    },
                    "exclude": {
                      "ids": [
                        4
                      ]
                    }
                  }
                },
                "meta": {
                  "attributes": []
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSecuritizedDerivativeIssuerSearch200Response"
          }
        },
        "parameters": []
      }
    },
    "/securitized-derivative/key-figures/notation/get": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "getSecuritizedDerivativeKeyFiguresNotationGet",
        "summary": "Notation-based key figures of a securitized derivative.",
        "description": "Notation-based key figures of a securitized derivative. Not all key figures are applicable and/or calculated for all types of securitized derivatives. Following, some frequently used references: \n\nCover ratio - see attribute `underlyings.coverRatio` in endpoint `/securitized-derivative/underlying/list`.\n\nVarious barrier types (e.g. strike, knock in) - see endpoint `/securitized-derivative/barrier/type/list`.\n\nExercise right - see attribute `exercise.right` in endpoint `/securitized-derivative/get`.\n\nIssue price - see attribute `issue.price` in endpoint `/securitized-derivative/get`.\n\nAsk price - see attribute `prices.ask`.\n\nBid price - see attribute `prices.bid`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$",
              "maxLength": 50,
              "minLength": 3,
              "example": "FDS-US",
              "description": "Identifier to resolve."
            },
            "required": true,
            "description": "Identifier to resolve.",
            "example": "FDS-US"
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tickerRegion",
              "description": "Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true,
            "description": "Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
            "example": "tickerRegion"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "en"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSecuritizedDerivativeKeyFiguresNotationGet200Response"
          }
        }
      }
    },
    "/securitized-derivative/notation/ranking/intraday/list": {
      "post": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "postSecuritizedDerivativeNotationRankingIntradayList",
        "summary": "Ranking of securitized derivatives' notations using intraday figures.",
        "description": "Ranking of securitized derivatives' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, the selection of the notation depends on the sort attribute:\n- absolute and relative performance (see the response attributes `trade.performance.absolute` and `trade.performance.relative`) - the notation with the most recent trade price is used\n- number trades, trading value and trading volume (see the response attributes `accumulated.numberTrades`, `accumulated.tradingVolume` and `accumulated.tradingValue`) - the notation with highest (lowest) value is used\n\nBy default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameters `valueUnit` and/or `currency` have not been specified.\n\nThe search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.\n\nAll identifiers used as parameters must be valid and entitled.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecuritizedDerivativeNotationRankingIntradayListRequest"
              },
              "example": {
                "data": {
                  "prices": {
                    "quality": "DLY"
                  },
                  "valueUnit": {
                    "id": 5
                  },
                  "currency": {
                    "id": 4
                  },
                  "market": {
                    "ids": [
                      2
                    ]
                  },
                  "instrumentRestrictionList": {
                    "ids": [
                      4
                    ]
                  },
                  "notationRestrictionList": {
                    "ids": [
                      2
                    ]
                  },
                  "category": {
                    "ids": [
                      3
                    ]
                  },
                  "registrationCountry": {
                    "ids": [
                      5
                    ]
                  },
                  "lifeCycle": {
                    "maturity": {
                      "perpetual": "include"
                    }
                  },
                  "issuer": {
                    "ids": [
                      3
                    ]
                  },
                  "exercise": {
                    "right": "put"
                  },
                  "underlying": {
                    "instrument": {
                      "ids": [
                        "4004"
                      ]
                    },
                    "notation": {
                      "ids": [
                        "2002"
                      ]
                    }
                  },
                  "factorCertificates": {
                    "effectiveUnderlying": {
                      "instrument": {
                        "ids": [
                          "2002"
                        ]
                      }
                    },
                    "participation": "long"
                  },
                  "knockedOut": "exclude",
                  "knockedIn": "exclude",
                  "performance": {
                    "relative": {
                      "minimum": {
                        "value": 0.4,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "accumulated.tradingVolume"
                  ],
                  "pagination": {
                    "offset": 0,
                    "limit": 10
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSecuritizedDerivativeNotationRankingIntradayList200Response"
          }
        },
        "parameters": []
      }
    },
    "/securitized-derivative/notation/screener/value-ranges/get": {
      "post": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "postSecuritizedDerivativeNotationScreenerValueRangesGet",
        "summary": "Possible values and value ranges for the parameters used in the endpoint `/securitized-derivative/notation/screener/search`.",
        "description": "The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/securitized-derivatives/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/securitized-derivatives/notation/screener/search` endpoint so that performing a search always leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers, are sorted descending by the number of notations for each value.\n\n Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.\n\n The endpoint does not support possible values and value ranges for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are considered.\n\n The possible values and value ranges can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest"
              },
              "example": {
                "data": {
                  "validation": {
                    "onlyActive": true,
                    "prices": {
                      "quality": "DLY",
                      "latest": {
                        "availableOnly": false,
                        "minimumDate": "2024-01-01"
                      },
                      "previous": {
                        "availableOnly": false,
                        "minimumDate": "2024-01-01"
                      }
                    },
                    "valueUnit": {
                      "selection": {
                        "restrict": {
                          "ids": [
                            1
                          ]
                        },
                        "exclude": {
                          "ids": [
                            3
                          ]
                        }
                      }
                    },
                    "market": {
                      "selection": {
                        "restrict": {
                          "ids": [
                            2
                          ]
                        },
                        "exclude": {
                          "ids": [
                            3
                          ]
                        }
                      },
                      "priority": {
                        "ids": [
                          3
                        ]
                      }
                    },
                    "instrumentRestrictionList": {
                      "ids": [
                        3
                      ]
                    },
                    "notationRestrictionList": {
                      "ids": [
                        3
                      ]
                    }
                  },
                  "category": {
                    "ids": [
                      5
                    ]
                  },
                  "registrationCountry": {
                    "ids": [
                      1
                    ]
                  },
                  "lifeCycle": {
                    "issue": {
                      "start": "2024-01-01",
                      "end": "2024-12-24"
                    },
                    "maturity": {
                      "restriction": {
                        "date": {
                          "start": "2024-01-01",
                          "end": "2024-12-24"
                        },
                        "remainingTermDays": {
                          "minimum": {
                            "value": 3.1415,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 2.02,
                            "inclusive": true
                          }
                        }
                      },
                      "perpetual": "exclude"
                    },
                    "callable": true,
                    "valuation": {
                      "start": "2024-01-01",
                      "end": "2024-12-24"
                    },
                    "repayment": {
                      "start": "2024-01-01",
                      "end": "2024-12-24"
                    }
                  },
                  "issuer": {
                    "ids": [
                      3
                    ]
                  },
                  "exercise": {
                    "right": "call",
                    "style": "european"
                  },
                  "settlement": "either",
                  "collateralized": true,
                  "quanto": false,
                  "capitalProtection": {
                    "minimum": {
                      "value": 1,
                      "inclusive": true
                    },
                    "maximum": {
                      "value": 0.3,
                      "inclusive": true
                    }
                  },
                  "underlying": {
                    "instrument": {
                      "ids": [
                        "1001"
                      ]
                    },
                    "notation": {
                      "ids": [
                        "1001"
                      ]
                    }
                  },
                  "cashFlowCurrency": {
                    "id": 3
                  },
                  "singleBarriers": [
                    {
                      "type": "strike",
                      "observation": {
                        "type": "continuous"
                      },
                      "level": {
                        "absolute": {
                          "minimum": {
                            "value": 3.1415,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 1.01,
                            "inclusive": true
                          }
                        }
                      },
                      "distance": {
                        "absolute": {
                          "minimum": {
                            "value": 1.01,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 1.01,
                            "inclusive": true
                          }
                        },
                        "relative": {
                          "minimum": {
                            "value": 1,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 0.2,
                            "inclusive": true
                          }
                        }
                      },
                      "breach": {
                        "breached": "exclude"
                      },
                      "cashFlow": {
                        "minimum": {
                          "value": 5.05,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      }
                    }
                  ],
                  "rangeBarriers": [
                    {
                      "type": "rangeKnockOut",
                      "observation": {
                        "type": "continuous"
                      },
                      "upper": {
                        "level": {
                          "absolute": {
                            "minimum": {
                              "value": 3.1415,
                              "inclusive": true
                            },
                            "maximum": {
                              "value": 2.02,
                              "inclusive": true
                            }
                          }
                        }
                      },
                      "lower": {
                        "level": {
                          "absolute": {
                            "minimum": {
                              "value": 3.03,
                              "inclusive": true
                            },
                            "maximum": {
                              "value": 5.05,
                              "inclusive": true
                            }
                          }
                        }
                      },
                      "breach": {
                        "breached": "exclude"
                      },
                      "cashFlow": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      }
                    }
                  ],
                  "factorCertificates": {
                    "effectiveUnderlying": {
                      "instrument": {
                        "ids": [
                          "4004"
                        ]
                      }
                    },
                    "participation": "short",
                    "constantLeverage": {
                      "minimum": {
                        "value": 3.1415,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 1.01,
                        "inclusive": true
                      }
                    }
                  },
                  "nominalCurrency": {
                    "id": 2
                  },
                  "currentInterestRate": {
                    "type": "fixed",
                    "value": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.1,
                        "inclusive": true
                      }
                    }
                  },
                  "keyFigures": {
                    "bonusYield": {
                      "absolute": {
                        "minimum": {
                          "value": 1.01,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 5.05,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.5,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      }
                    },
                    "sidewaysYield": {
                      "absolute": {
                        "minimum": {
                          "value": 3.1415,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      }
                    },
                    "maximumYield": {
                      "absolute": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 5.05,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.2,
                          "inclusive": true
                        }
                      }
                    },
                    "agio": {
                      "absolute": {
                        "minimum": {
                          "value": 1.01,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1.01,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.1,
                          "inclusive": true
                        }
                      }
                    },
                    "discount": {
                      "absolute": {
                        "minimum": {
                          "value": 3.1415,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1.01,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.5,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.3,
                          "inclusive": true
                        }
                      }
                    },
                    "breakEven": {
                      "breakEvenPoint": {
                        "minimum": {
                          "value": 3.1415,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 4.04,
                          "inclusive": true
                        }
                      },
                      "distance": {
                        "absolute": {
                          "minimum": {
                            "value": 1.01,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 2.02,
                            "inclusive": true
                          }
                        },
                        "relative": {
                          "minimum": {
                            "value": 0,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 0.4,
                            "inclusive": true
                          }
                        }
                      }
                    },
                    "spread": {
                      "harmonized": {
                        "minimum": {
                          "value": 2.02,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 4.04,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      }
                    },
                    "delta": {
                      "effective": {
                        "minimum": {
                          "value": 5.05,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      },
                      "unadjusted": {
                        "minimum": {
                          "value": 4.04,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      }
                    },
                    "thetaOneWeek": {
                      "effective": {
                        "minimum": {
                          "value": 3.1415,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      },
                      "unadjusted": {
                        "minimum": {
                          "value": 1.01,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      }
                    },
                    "vega": {
                      "effective": {
                        "minimum": {
                          "value": 2.02,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 5.05,
                          "inclusive": true
                        }
                      },
                      "unadjusted": {
                        "minimum": {
                          "value": 2.02,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 4.04,
                          "inclusive": true
                        }
                      }
                    },
                    "leverage": {
                      "minimum": {
                        "value": 0.4,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.3,
                        "inclusive": true
                      }
                    },
                    "omega": {
                      "minimum": {
                        "value": 2.02,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "impliedVolatility": {
                      "minimum": {
                        "value": 1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.4,
                        "inclusive": true
                      }
                    },
                    "intrinsicValue": {
                      "minimum": {
                        "value": 1.01,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "timeValue": {
                      "minimum": {
                        "value": 1.01,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    },
                    "outperformancePoint": {
                      "minimum": {
                        "value": 5.05,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    },
                    "parity": {
                      "minimum": {
                        "value": 3.1415,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 4.04,
                        "inclusive": true
                      }
                    }
                  },
                  "performance": {
                    "intraday": {
                      "minimum": {
                        "value": 0.5,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 1,
                        "inclusive": true
                      }
                    },
                    "sinceIssue": {
                      "ask": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "bid": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      }
                    },
                    "endOfDay": {
                      "day1": {
                        "minimum": {
                          "value": 0.3,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.2,
                          "inclusive": true
                        }
                      },
                      "week1": {
                        "minimum": {
                          "value": 0.3,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "month1": {
                        "minimum": {
                          "value": 0.1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      },
                      "months3": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.2,
                          "inclusive": true
                        }
                      },
                      "months6": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.1,
                          "inclusive": true
                        }
                      },
                      "year1": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "years3": {
                        "minimum": {
                          "value": 0.1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      },
                      "years5": {
                        "minimum": {
                          "value": 0,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.1,
                          "inclusive": true
                        }
                      },
                      "yearToDate": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.3,
                          "inclusive": true
                        }
                      }
                    }
                  },
                  "volatility": {
                    "week1": {
                      "minimum": {
                        "value": 0.3,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "month1": {
                      "minimum": {
                        "value": 0.4,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.2,
                        "inclusive": true
                      }
                    },
                    "months3": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "months6": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.4,
                        "inclusive": true
                      }
                    },
                    "year1": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "years3": {
                      "minimum": {
                        "value": 0.5,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.3,
                        "inclusive": true
                      }
                    },
                    "years5": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.4,
                        "inclusive": true
                      }
                    },
                    "yearToDate": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.3,
                        "inclusive": true
                      }
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en"
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSecuritizedDerivativeNotationScreenerValueRangesGet200Response"
          }
        },
        "parameters": []
      }
    },
    "/securitized-derivative/notation/screener/search": {
      "post": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "postSecuritizedDerivativeNotationScreenerSearch",
        "summary": "Screener for securitized derivatives's notations based on securitized derivatives-specific parameters.",
        "description": "Screener for securitized derivatives's notations based on securitized derivatives-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. All identifiers used as parameters must be valid and entitled.\n\n Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.\n\n The endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are returned in the result.\n\n The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecuritizedDerivativeNotationScreenerSearchRequest"
              },
              "example": {
                "data": {
                  "validation": {
                    "onlyActive": true,
                    "prices": {
                      "quality": "DLY",
                      "latest": {
                        "availableOnly": false,
                        "minimumDate": "2024-12-24"
                      },
                      "previous": {
                        "availableOnly": false,
                        "minimumDate": "2024-01-01"
                      }
                    },
                    "valueUnit": {
                      "selection": {
                        "restrict": {
                          "ids": [
                            1
                          ]
                        },
                        "exclude": {
                          "ids": [
                            2
                          ]
                        }
                      }
                    },
                    "market": {
                      "selection": {
                        "restrict": {
                          "ids": [
                            4
                          ]
                        },
                        "exclude": {
                          "ids": [
                            1
                          ]
                        }
                      },
                      "priority": {
                        "ids": [
                          4
                        ]
                      }
                    },
                    "instrumentRestrictionList": {
                      "ids": [
                        5
                      ]
                    },
                    "notationRestrictionList": {
                      "ids": [
                        4
                      ]
                    }
                  },
                  "category": {
                    "ids": [
                      4
                    ]
                  },
                  "registrationCountry": {
                    "ids": [
                      3
                    ]
                  },
                  "lifeCycle": {
                    "issue": {
                      "start": "2024-12-24",
                      "end": "2024-01-01"
                    },
                    "maturity": {
                      "restriction": {
                        "date": {
                          "start": "2024-01-01",
                          "end": "2024-01-01"
                        },
                        "remainingTermDays": {
                          "minimum": {
                            "value": 2.02,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 2.02,
                            "inclusive": true
                          }
                        }
                      },
                      "perpetual": "only"
                    },
                    "callable": false,
                    "valuation": {
                      "start": "2024-01-01",
                      "end": "2024-12-24"
                    },
                    "repayment": {
                      "start": "2024-12-24",
                      "end": "2024-12-24"
                    }
                  },
                  "issuer": {
                    "ids": [
                      3
                    ]
                  },
                  "exercise": {
                    "right": "call",
                    "style": "american"
                  },
                  "settlement": "physical",
                  "collateralized": true,
                  "quanto": true,
                  "capitalProtection": {
                    "minimum": {
                      "value": 0.4,
                      "inclusive": true
                    },
                    "maximum": {
                      "value": 0,
                      "inclusive": true
                    }
                  },
                  "underlying": {
                    "instrument": {
                      "ids": [
                        "4004"
                      ]
                    },
                    "notation": {
                      "ids": [
                        "5005"
                      ]
                    }
                  },
                  "cashFlowCurrency": {
                    "id": 4
                  },
                  "singleBarriers": [
                    {
                      "type": "cap",
                      "observation": {
                        "type": "eod"
                      },
                      "level": {
                        "absolute": {
                          "minimum": {
                            "value": 4.04,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 5.05,
                            "inclusive": true
                          }
                        }
                      },
                      "distance": {
                        "absolute": {
                          "minimum": {
                            "value": 3.03,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 3.1415,
                            "inclusive": true
                          }
                        },
                        "relative": {
                          "minimum": {
                            "value": 0.5,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 0.1,
                            "inclusive": true
                          }
                        }
                      },
                      "breach": {
                        "breached": "exclude"
                      },
                      "cashFlow": {
                        "minimum": {
                          "value": 1.01,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 4.04,
                          "inclusive": true
                        }
                      }
                    }
                  ],
                  "rangeBarriers": [
                    {
                      "type": "rangeKnockOut",
                      "observation": {
                        "type": "eod"
                      },
                      "upper": {
                        "level": {
                          "absolute": {
                            "minimum": {
                              "value": 1.01,
                              "inclusive": true
                            },
                            "maximum": {
                              "value": 2.02,
                              "inclusive": true
                            }
                          }
                        }
                      },
                      "lower": {
                        "level": {
                          "absolute": {
                            "minimum": {
                              "value": 4.04,
                              "inclusive": true
                            },
                            "maximum": {
                              "value": 1.01,
                              "inclusive": true
                            }
                          }
                        }
                      },
                      "breach": {
                        "breached": "exclude"
                      },
                      "cashFlow": {
                        "minimum": {
                          "value": 4.04,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      }
                    }
                  ],
                  "factorCertificates": {
                    "effectiveUnderlying": {
                      "instrument": {
                        "ids": [
                          "1001"
                        ]
                      }
                    },
                    "participation": "short",
                    "constantLeverage": {
                      "minimum": {
                        "value": 4.04,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    }
                  },
                  "nominalCurrency": {
                    "id": 3
                  },
                  "currentInterestRate": {
                    "type": "variable",
                    "value": {
                      "minimum": {
                        "value": 0.4,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.4,
                        "inclusive": true
                      }
                    }
                  },
                  "keyFigures": {
                    "bonusYield": {
                      "absolute": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1,
                          "inclusive": true
                        }
                      }
                    },
                    "sidewaysYield": {
                      "absolute": {
                        "minimum": {
                          "value": 4.04,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 4.04,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0.5,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      }
                    },
                    "maximumYield": {
                      "absolute": {
                        "minimum": {
                          "value": 4.04,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 4.04,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      }
                    },
                    "agio": {
                      "absolute": {
                        "minimum": {
                          "value": 4.04,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.3,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "annualized": {
                        "minimum": {
                          "value": 0.1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      }
                    },
                    "discount": {
                      "absolute": {
                        "minimum": {
                          "value": 2.02,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.4,
                          "inclusive": true
                        }
                      }
                    },
                    "breakEven": {
                      "breakEvenPoint": {
                        "minimum": {
                          "value": 4.04,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      },
                      "distance": {
                        "absolute": {
                          "minimum": {
                            "value": 1.01,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 4.04,
                            "inclusive": true
                          }
                        },
                        "relative": {
                          "minimum": {
                            "value": 0.2,
                            "inclusive": true
                          },
                          "maximum": {
                            "value": 0,
                            "inclusive": true
                          }
                        }
                      }
                    },
                    "spread": {
                      "harmonized": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      },
                      "relative": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.3,
                          "inclusive": true
                        }
                      }
                    },
                    "delta": {
                      "effective": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.1415,
                          "inclusive": true
                        }
                      },
                      "unadjusted": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 5.05,
                          "inclusive": true
                        }
                      }
                    },
                    "thetaOneWeek": {
                      "effective": {
                        "minimum": {
                          "value": 5.05,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1.01,
                          "inclusive": true
                        }
                      },
                      "unadjusted": {
                        "minimum": {
                          "value": 5.05,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 2.02,
                          "inclusive": true
                        }
                      }
                    },
                    "vega": {
                      "effective": {
                        "minimum": {
                          "value": 3.03,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 3.03,
                          "inclusive": true
                        }
                      },
                      "unadjusted": {
                        "minimum": {
                          "value": 1.01,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 1.01,
                          "inclusive": true
                        }
                      }
                    },
                    "leverage": {
                      "minimum": {
                        "value": 0.2,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.4,
                        "inclusive": true
                      }
                    },
                    "omega": {
                      "minimum": {
                        "value": 5.05,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    },
                    "impliedVolatility": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "intrinsicValue": {
                      "minimum": {
                        "value": 5.05,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    },
                    "timeValue": {
                      "minimum": {
                        "value": 2.02,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "outperformancePoint": {
                      "minimum": {
                        "value": 3.1415,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 5.05,
                        "inclusive": true
                      }
                    },
                    "parity": {
                      "minimum": {
                        "value": 3.1415,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 3.1415,
                        "inclusive": true
                      }
                    }
                  },
                  "performance": {
                    "intraday": {
                      "minimum": {
                        "value": 0.2,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.3,
                        "inclusive": true
                      }
                    },
                    "sinceIssue": {
                      "ask": {
                        "minimum": {
                          "value": 0,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "bid": {
                        "minimum": {
                          "value": 0.5,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.3,
                          "inclusive": true
                        }
                      }
                    },
                    "endOfDay": {
                      "day1": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.2,
                          "inclusive": true
                        }
                      },
                      "week1": {
                        "minimum": {
                          "value": 0.5,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.5,
                          "inclusive": true
                        }
                      },
                      "month1": {
                        "minimum": {
                          "value": 0.4,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0,
                          "inclusive": true
                        }
                      },
                      "months3": {
                        "minimum": {
                          "value": 1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.2,
                          "inclusive": true
                        }
                      },
                      "months6": {
                        "minimum": {
                          "value": 0.1,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.4,
                          "inclusive": true
                        }
                      },
                      "year1": {
                        "minimum": {
                          "value": 0.3,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.4,
                          "inclusive": true
                        }
                      },
                      "years3": {
                        "minimum": {
                          "value": 0.2,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.3,
                          "inclusive": true
                        }
                      },
                      "years5": {
                        "minimum": {
                          "value": 0,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.1,
                          "inclusive": true
                        }
                      },
                      "yearToDate": {
                        "minimum": {
                          "value": 0.5,
                          "inclusive": true
                        },
                        "maximum": {
                          "value": 0.3,
                          "inclusive": true
                        }
                      }
                    }
                  },
                  "volatility": {
                    "week1": {
                      "minimum": {
                        "value": 0.2,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0,
                        "inclusive": true
                      }
                    },
                    "month1": {
                      "minimum": {
                        "value": 1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.4,
                        "inclusive": true
                      }
                    },
                    "months3": {
                      "minimum": {
                        "value": 0.3,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.2,
                        "inclusive": true
                      }
                    },
                    "months6": {
                      "minimum": {
                        "value": 0.4,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.2,
                        "inclusive": true
                      }
                    },
                    "year1": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "years3": {
                      "minimum": {
                        "value": 0.1,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "years5": {
                      "minimum": {
                        "value": 0.3,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0.5,
                        "inclusive": true
                      }
                    },
                    "yearToDate": {
                      "minimum": {
                        "value": 0,
                        "inclusive": true
                      },
                      "maximum": {
                        "value": 0,
                        "inclusive": true
                      }
                    }
                  }
                },
                "meta": {
                  "attributes": [],
                  "language": "en",
                  "sort": [
                    "-keyFigures.omega"
                  ],
                  "pagination": {
                    "offset": 0,
                    "limit": 20
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostSecuritizedDerivativeNotationScreenerSearch200Response"
          }
        },
        "parameters": []
      }
    },
    "/securitized-derivative/underlying/list": {
      "get": {
        "tags": [
          "securitizedDerivative"
        ],
        "operationId": "getSecuritizedDerivativeUnderlyingList",
        "summary": "List of underlyings with barrier and cash flow information.",
        "description": "Provides details regarding the underlyings, their respective barriers and related cash flows (if any) of a securitized derivative. A unique combination of a cash flow and related barrier modalities, such as observation and level, is called a condition. In case of a securitized derivative with multiple underlyings, a condition comprises the respective barriers of all underlyings participating in that condition. Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$",
              "maxLength": 50,
              "minLength": 3,
              "example": "FDS-US",
              "description": "Identifier to resolve."
            },
            "required": true,
            "description": "Identifier to resolve.",
            "example": "FDS-US"
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "tickerRegion",
              "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true,
            "description": "Type of the identifier.\n| Value | Description |\n| --- | --- |\n| idInstrument | MDG identifier of an instrument. |\n| idNotation | MDG identifier of a listing. |\n| fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |\n| fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |\n| fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier. |\n| tickerExchange | FactSet market symbol of a listing. |\n| tickerRegion | Regional FactSet ticker symbol. |\n| sedol | SEDOL or IDII of a listing. |\n| isin | ISIN of an instrument. |\n| wkn | WKN of an instrument. |\n| valor | Valor number of an instrument. |\n| cusip | CUSIP or CINS identifier of an instrument |\n\n",
            "example": "tickerRegion"
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "metaLanguage",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "example": "de"
            },
            "description": "ISO 639-1 code of the language.",
            "example": "de"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSecuritizedDerivativeUnderlyingList200Response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttributesMember": {
        "type": "array",
        "description": "Limit the attributes returned in the response to the specified set.",
        "items": {
          "type": "string",
          "maxLength": 100
        },
        "maxItems": 100,
        "uniqueItems": true,
        "example": []
      },
      "LanguageMember": {
        "type": "string",
        "description": "ISO 639-1 code of the language.",
        "maxLength": 2,
        "minLength": 2,
        "example": "en"
      },
      "StatusObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "format": "int32",
            "description": "The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).",
            "example": 200
          }
        },
        "description": "The status member contains the status code of the response.",
        "required": [
          "code"
        ]
      },
      "OffsetBasedPaginationOutputObject": {
        "type": "object",
        "description": "Pagination attributes for the offset-based pagination strategy.",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of entries in the result set.",
            "example": 3
          },
          "isEstimatedTotal": {
            "type": "boolean",
            "description": "Flag indicating that the value of \"total\" is estimated.",
            "example": false
          }
        },
        "required": [
          "total",
          "isEstimatedTotal"
        ]
      },
      "PartialOutputObject": {
        "type": "object",
        "properties": {
          "isPartial": {
            "type": "boolean",
            "description": "Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.",
            "example": true
          }
        },
        "description": "Object denoting that the endpoint response is possibly incomplete.",
        "required": [
          "isPartial"
        ]
      },
      "PostSecuritizedDerivativeIssuerSearchRequest": {
        "description": "Request Body",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "role": {
                "type": "string",
                "description": "Specify whether legal entities in the role of an issuer or in the role of an issuer group are returned.\n| Value | Description |\n| --- | --- |\n| issuerGroup | Legal entities defined by FactSet and thus not representing an actual juristic person. |\n| issuer | Legal entities in the role of an issuer representing an actual juristic person. |\n\n",
                "default": "issuerGroup",
                "enum": [
                  "issuerGroup",
                  "issuer"
                ],
                "example": "issuerGroup"
              },
              "name": {
                "type": "object",
                "description": "Issuer name.",
                "properties": {
                  "searchValue": {
                    "type": "string",
                    "pattern": "^[ -!#-&(-+--/0-:=?-Za-zw\"]*$",
                    "minLength": 3,
                    "maxLength": 100,
                    "description": "Text string to be searched for.",
                    "example": "Lorem ipsum"
                  }
                },
                "required": [
                  "searchValue"
                ]
              },
              "withPriceEntitlement": {
                "type": "boolean",
                "default": true,
                "description": "If set to `true`, only issuers of securitized derivatives are considered for which there is at least one entitled notation.",
                "example": true
              },
              "category": {
                "type": "object",
                "description": "List of categories of securitized derivatives. Only issuers that have issued securitized derivatives belonging to at least one category in the provided list are returned.",
                "properties": {
                  "ids": {
                    "type": "array",
                    "nullable": false,
                    "items": {
                      "type": "number",
                      "format": "id32",
                      "example": 5
                    },
                    "maxItems": 20,
                    "uniqueItems": true,
                    "description": "List of category identifiers. See endpoint `/category/list-by-system` for category systems 18 and 23 for valid values."
                  }
                }
              },
              "underlying": {
                "type": "object",
                "description": "List of underlyings of securitized derivatives. Only issuers that have issued at least one securitized derivative on an underlying in the provided list are returned.",
                "properties": {
                  "instrument": {
                    "type": "object",
                    "description": "Underlying instrument.",
                    "properties": {
                      "ids": {
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "string",
                          "format": "id64",
                          "example": "2002"
                        },
                        "maxItems": 100,
                        "uniqueItems": true,
                        "description": "List of instrument identifiers."
                      }
                    }
                  }
                }
              },
              "factorCertificates": {
                "type": "object",
                "description": "Parameters for factor certificates.",
                "properties": {
                  "effectiveUnderlying": {
                    "type": "object",
                    "description": "Selection of the effective underlying. The underlying of a factor certificate is usually a factor index which is an artificial index used to calculate the leveraged daily performance of another financial instrument called its effective underlying. Only issuers that have issued at least one factor certificate on an effective underlying in the provided list are returned.",
                    "properties": {
                      "instrument": {
                        "type": "object",
                        "description": "Selection of the effective underlying using instrument identifiers.",
                        "properties": {
                          "ids": {
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "string",
                              "format": "id64",
                              "example": "5005"
                            },
                            "maxItems": 100,
                            "uniqueItems": true,
                            "description": "List of instrument identifiers."
                          }
                        }
                      }
                    }
                  }
                }
              },
              "registrationCountry": {
                "type": "object",
                "description": "Parameters related to the country of registration for trading of the securitized derivatives. See endpoint `/basic/region/country/list` for valid values.",
                "properties": {
                  "restrict": {
                    "type": "object",
                    "description": "Restriction list. Only securitized derivatives registered for trading in a country in the provided list are considered.",
                    "properties": {
                      "ids": {
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "id32",
                          "example": 3
                        },
                        "maxItems": 20,
                        "uniqueItems": true,
                        "description": "Set of country identifiers."
                      }
                    }
                  },
                  "exclude": {
                    "type": "object",
                    "description": "Exclusion list. Securitized derivatives registered for trading in a country in the provided list are not considered.",
                    "properties": {
                      "ids": {
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "id32",
                          "example": 3
                        },
                        "maxItems": 20,
                        "uniqueItems": true,
                        "description": "Set of country identifiers."
                      }
                    }
                  }
                }
              },
              "market": {
                "type": "object",
                "description": "Market-related parameters; the parameter `withPriceEntitlement` must be set to `true` in order to use them. See endpoint `/basic/market/list` for valid values.",
                "properties": {
                  "restrict": {
                    "type": "object",
                    "description": "Restriction list. Only securitized derivatives with a notation from a market in the provided list are considered.",
                    "properties": {
                      "ids": {
[...]
