{
  "openapi": "3.0.2",
  "info": {
    "title": "Signals API",
    "description": "Collection of endpoints for providing Signal Events, Definitions and Metadata",
    "version": "2.6.0",
    "contact": {
      "name": "FactSet Research Systems",
      "email": "api@factset.com",
      "url": "https://developer.factset.com/contact"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.factset.com/signals/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Fetch signal events. Please note that FactSet Cognitive signals and signals contributed by third parties are excluded from the response for limited API access."
    },
    {
      "name": "Metadata",
      "description": "Fetch signal metadata"
    }
  ],
  "paths": {
    "/events/headlines": {
      "get": {
        "tags": [
          "Events"
        ],
        "x-factset-sdk-ignore": true,
        "operationId": "getEventHeadlines",
        "description": "Fetch Signals event headlines based on at least one of the following filtering parameters: `ids`, `portfolios`",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdParam"
          },
          {
            "$ref": "#/components/parameters/updatedParam"
          },
          {
            "$ref": "#/components/parameters/signalIdsParam"
          },
          {
            "$ref": "#/components/parameters/idsParam"
          },
          {
            "$ref": "#/components/parameters/portfoliosParam"
          },
          {
            "$ref": "#/components/parameters/themesParam"
          },
          {
            "$ref": "#/components/parameters/categoriesParam"
          },
          {
            "$ref": "#/components/parameters/relevanceScoreParam"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          },
          {
            "$ref": "#/components/parameters/resolveIdentifiersParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventHeadlines"
                },
                "example": {
                  "data": [
                    {
                      "requestId": "AAPL-US",
                      "companyName": "Apple Inc.",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "f793221a-71d0-4979-a1a8-86e44770cd16",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Apple (AAPL-US) was up 17.4% YTD.",
                      "created": "2024-08-21T16:16:44.719Z"
                    },
                    {
                      "requestId": "MSFT-US",
                      "companyName": "Microsoft Corporation",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "4a21ee8f-9eea-466b-91ff-49946b18a500",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.",
                      "created": "2024-08-21T16:16:51.595Z"
                    },
                    {
                      "requestId": "AMZN-US",
                      "companyName": "Amazon.com, Inc.",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "fbdcf03e-3225-44b2-9350-049b2730f118",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.",
                      "created": "2024-08-21T16:16:48.196Z"
                    },
                    {
                      "requestId": "GOOG-US",
                      "companyName": "Alphabet Inc. Class A",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "89a7c4b6-9eca-4a3c-97fa-40c9776fbd3d",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Alphabet (GOOGL-US) was up 16.7% YTD.",
                      "created": "2024-08-21T16:17:38.454Z"
                    },
                    {
                      "requestId": "GOOG-US",
                      "companyName": "Alphabet Inc. Class A",
                      "signalId": "debtMaturingBond",
                      "signalName": "Bonds Maturing in 24 Months",
                      "theme": "Debt Capital Structure",
                      "source": "FactSet",
                      "userRelevanceScore": 0.633,
                      "eventId": "d5151b23-c496-4010-afa7-856aa073afa9",
                      "eventDate": "2026-08-15",
                      "summary": "Alphabet (GOOGL-US) has one bond totaling USD 2,000.00 million that will be maturing in 24 months",
                      "created": "2024-08-15T07:09:22.778Z"
                    }
                  ],
                  "meta": {
                    "signalRequestId": "811920df-3029-4758-b54e-5096d29da831",
                    "sort": [
                      "-userRelevanceScore",
                      "-eventDate"
                    ],
                    "idResolutions": {
                      "tickerRegion": {
                        "FDS-US": "FDS-US",
                        "AMZN-US": "AMZN-US",
                        "MSFT-US": "MSFT-US",
                        "AAPL-US": "AAPL-US",
                        "GOOG-US": "GOOG-US"
                      },
                      "regionalPermId": {
                        "FDS-US": "SQFMK3-R",
                        "AMZN-US": "MCNYYL-R",
                        "MSFT-US": "P8R3C2-R",
                        "AAPL-US": "MH33D6-R",
                        "GOOG-US": "WFJYTJ-R"
                      }
                    },
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:21:22.804Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:21:22.804Z"
                      }
                    },
                    "pagination": {
                      "total": 5,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "A parameter in the request has an invalid value or a required parameter is missing.",
                  "errors": [
                    {
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "code": "parameterError",
                      "title": "Required param 'exampleParam' was not provided",
                      "detail": "A parameter in the request has an invalid value or a required parameter is missing."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "postEventHeadlines",
        "description": "Fetch Signals event headlines based on the filtering criteria for up to 1000 identifiers and at least one of the following filtering parameters: `ids`, `portfolios`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eventRequestBody"
              },
              "example": {
                "created": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "updated": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "signalIds": "dilutionTrigger,freeCashFlow",
                "ids": "FDS-US,AMZN-US",
                "portfolios": "testPortfolio.ofdb",
                "themes": "testTheme",
                "categories": "testCategory",
                "userRelevanceScore": {
                  "gt": 0,
                  "gte": 0,
                  "lt": 0,
                  "lte": 0
                },
                "sort": "-userRelevanceScore",
                "resolveIdentifiers": true,
                "propertyFilter": {
                  "portfolioUniqueId": "abc-xyz-def"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventHeadlines"
                },
                "example": {
                  "data": [
                    {
                      "requestId": "AAPL-US",
                      "companyName": "Apple Inc.",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "f793221a-71d0-4979-a1a8-86e44770cd16",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Apple (AAPL-US) was up 17.4% YTD.",
                      "created": "2024-08-21T16:16:44.719Z"
                    },
                    {
                      "requestId": "MSFT-US",
                      "companyName": "Microsoft Corporation",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "4a21ee8f-9eea-466b-91ff-49946b18a500",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.",
                      "created": "2024-08-21T16:16:51.595Z"
                    },
                    {
                      "requestId": "AMZN-US",
                      "companyName": "Amazon.com, Inc.",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "fbdcf03e-3225-44b2-9350-049b2730f118",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.",
                      "created": "2024-08-21T16:16:48.196Z"
                    },
                    {
                      "requestId": "GOOG-US",
                      "companyName": "Alphabet Inc. Class A",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "89a7c4b6-9eca-4a3c-97fa-40c9776fbd3d",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Alphabet (GOOGL-US) was up 16.7% YTD.",
                      "created": "2024-08-21T16:17:38.454Z"
                    },
                    {
                      "requestId": "GOOG-US",
                      "companyName": "Alphabet Inc. Class A",
                      "signalId": "debtMaturingBond",
                      "signalName": "Bonds Maturing in 24 Months",
                      "theme": "Debt Capital Structure",
                      "source": "FactSet",
                      "userRelevanceScore": 0.633,
                      "eventId": "d5151b23-c496-4010-afa7-856aa073afa9",
                      "eventDate": "2026-08-15",
                      "summary": "Alphabet (GOOGL-US) has one bond totaling USD 2,000.00 million that will be maturing in 24 months",
                      "created": "2024-08-15T07:09:22.778Z"
                    }
                  ],
                  "meta": {
                    "signalRequestId": "811920df-3029-4758-b54e-5096d29da831",
                    "sort": [
                      "-userRelevanceScore",
                      "-eventDate"
                    ],
                    "idResolutions": {
                      "tickerRegion": {
                        "FDS-US": "FDS-US",
                        "AMZN-US": "AMZN-US",
                        "MSFT-US": "MSFT-US",
                        "AAPL-US": "AAPL-US",
                        "GOOG-US": "GOOG-US"
                      },
                      "regionalPermId": {
                        "FDS-US": "SQFMK3-R",
                        "AMZN-US": "MCNYYL-R",
                        "MSFT-US": "P8R3C2-R",
                        "AAPL-US": "MH33D6-R",
                        "GOOG-US": "WFJYTJ-R"
                      }
                    },
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:21:22.804Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:21:22.804Z"
                      }
                    },
                    "pagination": {
                      "total": 5,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          }
        }
      }
    },
    "/events/details": {
      "get": {
        "tags": [
          "Events"
        ],
        "x-factset-sdk-ignore": true,
        "operationId": "getEventDetails",
        "description": "Fetch Signals event headlines plus all additional event details based on at least one of the following filtering parameters: `ids`, `portfolios`",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdParam"
          },
          {
            "$ref": "#/components/parameters/updatedParam"
          },
          {
            "$ref": "#/components/parameters/signalIdsParam"
          },
          {
            "$ref": "#/components/parameters/idsParam"
          },
          {
            "$ref": "#/components/parameters/portfoliosParam"
          },
          {
            "$ref": "#/components/parameters/themesParam"
          },
          {
            "$ref": "#/components/parameters/categoriesParam"
          },
          {
            "$ref": "#/components/parameters/relevanceScoreParam"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          },
          {
            "$ref": "#/components/parameters/resolveIdentifiersParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventDetails"
                },
                "example": {
                  "data": [
                    {
                      "requestId": "MSFT-US",
                      "companyName": "Microsoft Corporation",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "4a21ee8f-9eea-466b-91ff-49946b18a500",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.",
                      "created": "2024-08-21T16:16:51.595Z",
                      "updated": "2024-08-21T16:16:51.595Z",
                      "details": {
                        "price": 418.47,
                        "priceDate": "2024-08-16",
                        "priceCurrency": "USD",
                        "1MoPriceChange": -6.90737,
                        "3MoPriceChange": -0.598586,
                        "eventIndicator": "Positive",
                        "ytdPriceChange": 11.2834,
                        "1WeekPriceChange": 2.86621,
                        "52WeekPriceChange": 30.6086,
                        "significantPriceScope": "YTD"
                      }
                    },
                    {
                      "requestId": "AMZN-US",
                      "companyName": "Amazon.com, Inc.",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "fbdcf03e-3225-44b2-9350-049b2730f118",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.",
                      "created": "2024-08-21T16:16:48.196Z",
                      "updated": "2024-08-21T16:16:48.196Z",
                      "details": {
                        "price": 177.06,
                        "priceDate": "2024-08-16",
                        "priceCurrency": "USD",
                        "1MoPriceChange": -8.26858,
                        "3MoPriceChange": -3.57785,
                        "eventIndicator": "Positive",
                        "ytdPriceChange": 16.5328,
                        "1WeekPriceChange": 6.15108,
                        "52WeekPriceChange": 31.0876,
                        "significantPriceScope": "YTD"
                      }
                    }
                  ],
                  "meta": {
                    "signalRequestId": "2b8a6969-af32-4878-8124-758715b19baa",
                    "sort": [
                      "-userRelevanceScore"
                    ],
                    "idResolutions": {
                      "tickerRegion": {
                        "MSFT-US": "MSFT-US",
                        "AMZN-US": "AMZN-US"
                      },
                      "regionalPermId": {
                        "MSFT-US": "P8R3C2-R",
                        "AMZN-US": "MCNYYL-R"
                      }
                    },
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:40:50.444Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:40:50.444Z"
                      }
                    },
                    "pagination": {
                      "total": 2,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "A parameter in the request has an invalid value or a required parameter is missing.",
                  "errors": [
                    {
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "code": "parameterError",
                      "title": "Required param 'exampleParam' was not provided",
                      "detail": "A parameter in the request has an invalid value or a required parameter is missing."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "postEventDetails",
        "description": "Fetch Signals event headlines plus all additional event details for up to 1000 identifiers and at least one of the following filtering parameters: `ids`, `portfolios`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eventRequestBody"
              },
              "example": {
                "created": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "updated": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "signalIds": "dilutionTrigger,freeCashFlow",
                "ids": "FDS-US,AMZN-US",
                "portfolios": "testPortfolio.ofdb",
                "themes": "testTheme",
                "categories": "testCategory",
                "userRelevanceScore": {
                  "gt": 0,
                  "gte": 0,
                  "lt": 0,
                  "lte": 0
                },
                "sort": "-userRelevanceScore",
                "resolveIdentifiers": true,
                "propertyFilter": {
                  "portfolioUniqueId": "abc-xyz-def"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventDetails"
                },
                "example": {
                  "data": [
                    {
                      "requestId": "MSFT-US",
                      "companyName": "Microsoft Corporation",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "4a21ee8f-9eea-466b-91ff-49946b18a500",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.",
                      "created": "2024-08-21T16:16:51.595Z",
                      "updated": "2024-08-21T16:16:51.595Z",
                      "details": {
                        "price": 418.47,
                        "priceDate": "2024-08-16",
                        "priceCurrency": "USD",
                        "1MoPriceChange": -6.90737,
                        "3MoPriceChange": -0.598586,
                        "eventIndicator": "Positive",
                        "ytdPriceChange": 11.2834,
                        "1WeekPriceChange": 2.86621,
                        "52WeekPriceChange": 30.6086,
                        "significantPriceScope": "YTD"
                      }
                    },
                    {
                      "requestId": "AMZN-US",
                      "companyName": "Amazon.com, Inc.",
                      "signalId": "significantPriceChange",
                      "signalName": "10% Price Change",
                      "theme": "Prices",
                      "source": "FactSet",
                      "userRelevanceScore": 0.733,
                      "eventId": "fbdcf03e-3225-44b2-9350-049b2730f118",
                      "eventDate": "2024-08-16",
                      "summary": "On 16 Aug '24, Amazon.com (AMZN-US) was up 16.5% YTD.",
                      "created": "2024-08-21T16:16:48.196Z",
                      "updated": "2024-08-21T16:16:48.196Z",
                      "details": {
                        "price": 177.06,
                        "priceDate": "2024-08-16",
                        "priceCurrency": "USD",
                        "1MoPriceChange": -8.26858,
                        "3MoPriceChange": -3.57785,
                        "eventIndicator": "Positive",
                        "ytdPriceChange": 16.5328,
                        "1WeekPriceChange": 6.15108,
                        "52WeekPriceChange": 31.0876,
                        "significantPriceScope": "YTD"
                      }
                    }
                  ],
                  "meta": {
                    "signalRequestId": "2b8a6969-af32-4878-8124-758715b19baa",
                    "sort": [
                      "-userRelevanceScore"
                    ],
                    "idResolutions": {
                      "tickerRegion": {
                        "MSFT-US": "MSFT-US",
                        "AMZN-US": "AMZN-US"
                      },
                      "regionalPermId": {
                        "MSFT-US": "P8R3C2-R",
                        "AMZN-US": "MCNYYL-R"
                      }
                    },
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:40:50.444Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T21:40:50.444Z"
                      }
                    },
                    "pagination": {
                      "total": 2,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          }
        }
      }
    },
    "/events/details/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getEventDetailById",
        "description": "Fetch Signals event headlines plus all additional event details for a single requested Signal event",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventDetail"
                },
                "example": {
                  "data": {
                    "requestId": "000Q07-E",
                    "companyName": "Microsoft Corporation",
                    "signalId": "significantPriceChange",
                    "signalName": "10% Price Change",
                    "theme": "Prices",
                    "source": "FactSet",
                    "userRelevanceScore": 0.733,
                    "eventId": "4a21ee8f-9eea-466b-91ff-49946b18a500",
                    "eventDate": "2024-08-16",
                    "summary": "On 16 Aug '24, Microsoft (MSFT-US) was up 11.3% YTD.",
                    "created": "2024-08-21T16:16:51.595Z",
                    "updated": "2024-08-21T16:16:51.595Z",
                    "details": {
                      "price": 418.47,
                      "priceDate": "2024-08-16",
                      "priceCurrency": "USD",
                      "1MoPriceChange": -6.90737,
                      "3MoPriceChange": -0.598586,
                      "eventIndicator": "Positive",
                      "ytdPriceChange": 11.2834,
                      "1WeekPriceChange": 2.86621,
                      "52WeekPriceChange": 30.6086,
                      "significantPriceScope": "YTD"
                    }
                  },
                  "meta": {
                    "signalRequestId": "5a8384b2-3851-4490-bd41-ef8a196dba6e",
                    "idResolutions": {
                      "tickerRegion": {
                        "000Q07-E": "MSFT-US"
                      },
                      "regionalPermId": {
                        "000Q07-E": "P8R3C2-R"
                      }
                    },
                    "pagination": {
                      "total": 0,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626",
                  "errors": [
                    {
                      "id": "aa03dc88-4806-4ea7-b075-58c2e28657cf",
                      "code": "notFound",
                      "title": "The requested resource is not available.",
                      "detail": "Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/events/adaptive-cards": {
      "get": {
        "tags": [
          "Events"
        ],
        "x-factset-sdk-ignore": true,
        "operationId": "getEventAdaptiveCards",
        "description": "Fetch Microsoft's Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, based on at least one of the following filtering parameters: `ids`, `portfolios`",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdParam"
          },
          {
            "$ref": "#/components/parameters/updatedParam"
          },
          {
            "$ref": "#/components/parameters/signalIdsParam"
          },
          {
            "$ref": "#/components/parameters/idsParam"
          },
          {
            "$ref": "#/components/parameters/portfoliosParam"
          },
          {
            "$ref": "#/components/parameters/themesParam"
          },
          {
            "$ref": "#/components/parameters/categoriesParam"
          },
          {
            "$ref": "#/components/parameters/relevanceScoreParam"
          },
          {
            "$ref": "#/components/parameters/sortParam"
          },
          {
            "$ref": "#/components/parameters/resolveIdentifiersParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventAdaptiveCards"
                },
                "example": {
                  "data": [
                    {
                      "requestId": "GOOG-US",
                      "signalId": "debtMaturingBond",
                      "adaptiveCard": {
                        "type": "AdaptiveCard",
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "version": "1.0",
                        "body": [
                          {
                            "text": "Alphabet (GOOGL-US) has one bond totaling USD 2,000.00 million that will be maturing in 24 months",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Default",
                            "weight": "Bolder",
                            "fds": {
                              "fdsStyle": "text-4"
                            }
                          },
                          {
                            "type": "Container",
                            "items": [
                              {
                                "type": "Container",
                                "separator": true,
                                "items": [
                                  {
                                    "type": "ColumnSet",
                                    "columns": [
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Bond ID",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "US02079KAC18",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Maturity Date",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "15 Aug '26",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Amount",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "USD 2,000 Million",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "text": "[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)",
                                    "type": "TextBlock",
                                    "wrap": true,
                                    "size": "Default",
                                    "weight": "Default",
                                    "fds": {
                                      "fdsStyle": "text-1"
                                    }
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "text": "Source: FactSet",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Small",
                            "weight": "Default",
                            "fds": {
                              "fdsStyle": "text-20",
                              "color": "Light"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "requestId": "GOOG-US",
                      "signalId": "debtMaturingBond",
                      "adaptiveCard": {
                        "type": "AdaptiveCard",
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "version": "1.0",
                        "body": [
                          {
                            "text": "Alphabet (GOOGL-US) has two bond totaling USD 2,000.00 million that will be maturing in 24 months",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Default",
                            "weight": "Bolder",
                            "fds": {
                              "fdsStyle": "text-4"
                            }
                          },
                          {
                            "type": "Container",
                            "items": [
                              {
                                "type": "Container",
                                "separator": true,
                                "items": [
                                  {
                                    "type": "ColumnSet",
                                    "columns": [
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Bond ID",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "US02079KAC18",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Maturity Date",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "15 Aug '26",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Amount",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "USD 2,000 Million",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "text": "[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)",
                                    "type": "TextBlock",
                                    "wrap": true,
                                    "size": "Default",
                                    "weight": "Default",
                                    "fds": {
                                      "fdsStyle": "text-1"
                                    }
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "text": "Source: FactSet",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Small",
                            "weight": "Default",
                            "fds": {
                              "fdsStyle": "text-20",
                              "color": "Light"
                            }
                          }
                        ]
                      }
                    }
                  ],
                  "meta": {
                    "signalRequestId": "81024cf7-8b40-4845-ab98-ece81b091f1e",
                    "sort": [
                      "-userRelevanceScore"
                    ],
                    "idResolutions": {
                      "tickerRegion": {
                        "GOOG-US": "GOOG-US"
                      },
                      "regionalPermId": {
                        "GOOG-US": "WFJYTJ-R"
                      }
                    },
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:10:58.294Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:10:58.294Z"
                      }
                    },
                    "pagination": {
                      "total": 4,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "A parameter in the request has an invalid value or a required parameter is missing.",
                  "errors": [
                    {
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "code": "parameterError",
                      "title": "Required param 'exampleParam' was not provided",
                      "detail": "A parameter in the request has an invalid value or a required parameter is missing."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "postEventAdaptiveCards",
        "description": "Fetch Microsoft's Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, based on at least one of the following filtering parameters: `ids`, `portfolios`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eventRequestBody"
              },
              "example": {
                "created": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "updated": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "signalIds": "dilutionTrigger,freeCashFlow",
                "ids": "FDS-US,AMZN-US",
                "portfolios": "testPortfolio.ofdb",
                "themes": "testTheme",
                "categories": "testCategory",
                "userRelevanceScore": {
                  "gt": 0,
                  "gte": 0,
                  "lt": 0,
                  "lte": 0
                },
                "sort": "-userRelevanceScore",
                "resolveIdentifiers": true,
                "propertyFilter": {
                  "portfolioUniqueId": "abc-xyz-def"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventAdaptiveCards"
                },
                "example": {
                  "data": [
                    {
                      "requestId": "GOOG-US",
                      "signalId": "debtMaturingBond",
                      "adaptiveCard": {
                        "type": "AdaptiveCard",
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "version": "1.0",
                        "body": [
                          {
                            "text": "Alphabet (GOOGL-US) has one bond totaling USD 2,000.00 million that will be maturing in 24 months",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Default",
                            "weight": "Bolder",
                            "fds": {
                              "fdsStyle": "text-4"
                            }
                          },
                          {
                            "type": "Container",
                            "items": [
                              {
                                "type": "Container",
                                "separator": true,
                                "items": [
                                  {
                                    "type": "ColumnSet",
                                    "columns": [
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Bond ID",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "US02079KAC18",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Maturity Date",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "15 Aug '26",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Amount",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "USD 2,000 Million",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "text": "[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)",
                                    "type": "TextBlock",
                                    "wrap": true,
                                    "size": "Default",
                                    "weight": "Default",
                                    "fds": {
                                      "fdsStyle": "text-1"
                                    }
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "text": "Source: FactSet",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Small",
                            "weight": "Default",
                            "fds": {
                              "fdsStyle": "text-20",
                              "color": "Light"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "requestId": "GOOG-US",
                      "signalId": "debtMaturingBond",
                      "adaptiveCard": {
                        "type": "AdaptiveCard",
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "version": "1.0",
                        "body": [
                          {
                            "text": "Alphabet (GOOGL-US) has two bond totaling USD 2,000.00 million that will be maturing in 24 months",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Default",
                            "weight": "Bolder",
                            "fds": {
                              "fdsStyle": "text-4"
                            }
                          },
                          {
                            "type": "Container",
                            "items": [
                              {
                                "type": "Container",
                                "separator": true,
                                "items": [
                                  {
                                    "type": "ColumnSet",
                                    "columns": [
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Bond ID",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "US02079KAC18",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Maturity Date",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "15 Aug '26",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "type": "Column",
                                        "width": "stretch",
                                        "items": [
                                          {
                                            "type": "Container",
                                            "items": [
                                              {
                                                "text": "Amount",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "weight": "Bolder",
                                                "fds": {
                                                  "weight": "Default",
                                                  "color": "Light"
                                                }
                                              },
                                              {
                                                "text": "USD 2,000 Million",
                                                "type": "TextBlock",
                                                "wrap": true,
                                                "spacing": "None"
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "text": "[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)",
                                    "type": "TextBlock",
                                    "wrap": true,
                                    "size": "Default",
                                    "weight": "Default",
                                    "fds": {
                                      "fdsStyle": "text-1"
                                    }
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "text": "Source: FactSet",
                            "type": "TextBlock",
                            "wrap": true,
                            "size": "Small",
                            "weight": "Default",
                            "fds": {
                              "fdsStyle": "text-20",
                              "color": "Light"
                            }
                          }
                        ]
                      }
                    }
                  ],
                  "meta": {
                    "signalRequestId": "81024cf7-8b40-4845-ab98-ece81b091f1e",
                    "sort": [
                      "-userRelevanceScore"
                    ],
                    "idResolutions": {
                      "tickerRegion": {
                        "GOOG-US": "GOOG-US"
                      },
                      "regionalPermId": {
                        "GOOG-US": "WFJYTJ-R"
                      }
                    },
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:10:58.294Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:10:58.294Z"
                      }
                    },
                    "pagination": {
                      "total": 4,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "A parameter in the request has an invalid value or a required parameter is missing.",
                  "errors": [
                    {
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "code": "parameterError",
                      "title": "Required param 'exampleParam' was not provided",
                      "detail": "A parameter in the request has an invalid value or a required parameter is missing."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/events/adaptive-cards/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getEventAdaptiveCardById",
        "description": "Fetch Microsoft's Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, for a single requested Signal event",
        "parameters": [
          {
            "$ref": "#/components/parameters/eventIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventAdaptiveCard"
                },
                "example": {
                  "data": {
                    "requestId": "0FPWZZ-E",
                    "signalId": "debtMaturingBond",
                    "adaptiveCard": {
                      "type": "AdaptiveCard",
                      "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                      "version": "1.0",
                      "body": [
                        {
                          "text": "Alphabet (GOOGL-US) has one bond totaling USD 2,000.00 million that will be maturing in 24 months",
                          "type": "TextBlock",
                          "wrap": true,
                          "size": "Default",
                          "weight": "Bolder",
                          "fds": {
                            "fdsStyle": "text-4"
                          }
                        },
                        {
                          "type": "Container",
                          "items": [
                            {
                              "type": "Container",
                              "separator": true,
                              "items": [
                                {
                                  "type": "ColumnSet",
                                  "columns": [
                                    {
                                      "type": "Column",
                                      "width": "stretch",
                                      "items": [
                                        {
                                          "type": "Container",
                                          "items": [
                                            {
                                              "text": "Bond ID",
                                              "type": "TextBlock",
                                              "wrap": true,
                                              "weight": "Bolder",
                                              "fds": {
                                                "weight": "Default",
                                                "color": "Light"
                                              }
                                            },
                                            {
                                              "text": "US02079KAC18",
                                              "type": "TextBlock",
                                              "wrap": true,
                                              "spacing": "None"
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    {
                                      "type": "Column",
                                      "width": "stretch",
                                      "items": [
                                        {
                                          "type": "Container",
                                          "items": [
                                            {
                                              "text": "Maturity Date",
                                              "type": "TextBlock",
                                              "wrap": true,
                                              "weight": "Bolder",
                                              "fds": {
                                                "weight": "Default",
                                                "color": "Light"
                                              }
                                            },
                                            {
                                              "text": "15 Aug '26",
                                              "type": "TextBlock",
                                              "wrap": true,
                                              "spacing": "None"
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    {
                                      "type": "Column",
                                      "width": "stretch",
                                      "items": [
                                        {
                                          "type": "Container",
                                          "items": [
                                            {
                                              "text": "Amount",
                                              "type": "TextBlock",
                                              "wrap": true,
                                              "weight": "Bolder",
                                              "fds": {
                                                "weight": "Default",
                                                "color": "Light"
                                              }
                                            },
                                            {
                                              "text": "USD 2,000 Million",
                                              "type": "TextBlock",
                                              "wrap": true,
                                              "spacing": "None"
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "text": "[Security Overview](https://my.apps.factset.com/navigator/company-security/security-overview/US02079KAC18)",
                                  "type": "TextBlock",
                                  "wrap": true,
                                  "size": "Default",
                                  "weight": "Default",
                                  "fds": {
                                    "fdsStyle": "text-1"
                                  }
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "text": "Source: FactSet",
                          "type": "TextBlock",
                          "wrap": true,
                          "size": "Small",
                          "weight": "Default",
                          "fds": {
                            "fdsStyle": "text-20",
                            "color": "Light"
                          }
                        }
                      ]
                    }
                  },
                  "meta": {
                    "signalRequestId": "bdf8dcee-fe26-40bf-bb24-f878d0393174",
                    "idResolutions": {
                      "tickerRegion": {
                        "0FPWZZ-E": "GOOGL-US"
                      },
                      "regionalPermId": {
                        "0FPWZZ-E": "HTM0LK-R"
                      }
                    },
                    "pagination": {
                      "total": 0,
                      "isEstimatedTotal": false
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626",
                  "errors": [
                    {
                      "id": "aa03dc88-4806-4ea7-b075-58c2e28657cf",
                      "code": "notFound",
                      "title": "The requested resource is not available.",
                      "detail": "Could not find event with id f1f8627e-dea5-4457-aa64-e4c278e22626"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/events/entities": {
      "get": {
        "tags": [
          "Events"
        ],
        "x-factset-sdk-ignore": true,
        "operationId": "getEventEntities",
        "description": "Fetch FactSet entity IDs for events that match the filtering criteria",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdParam"
          },
          {
            "$ref": "#/components/parameters/updatedParam"
          },
          {
            "$ref": "#/components/parameters/signalIdsParam"
          },
          {
            "$ref": "#/components/parameters/themesParam"
          },
          {
            "$ref": "#/components/parameters/categoriesParam"
          },
          {
            "$ref": "#/components/parameters/relevanceScoreParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventsEntities"
                },
                "example": {
                  "data": [
                    "002FF1-E",
                    "000CNJ-E",
                    "001HHK-E",
                    "002W5H-E",
                    "003DJY-E",
                    "003B1C-E",
                    "0FPWZZ-E",
                    "06S9GH-E",
                    "0801VG-E",
                    "009RJM-E",
                    "06KNS6-E"
                  ],
                  "meta": {
                    "signalRequestId": "4e36db2d-54cb-4604-b425-170f8f2bc7e3",
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:14:58.764Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:14:58.764Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "A parameter in the request has an invalid value or a required parameter is missing.",
                  "errors": [
                    {
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "code": "parameterError",
                      "title": "Required param 'exampleParam' was not provided",
                      "detail": "A parameter in the request has an invalid value or a required parameter is missing."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "operationId": "postEventEntities",
        "description": "Fetch FactSet entity IDs for events that match the filtering criteria",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eventsEntitiesPost"
              },
              "example": {
                "created": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "updated": {
                  "gt": "2021-01-01T00:00:00Z",
                  "gte": "2021-01-01T00:00:00Z",
                  "lt": "2021-01-01T00:00:00Z",
                  "lte": "2021-01-01T00:00:00Z"
                },
                "signalIds": "dilutionTrigger,freeCashFlow",
                "themes": "testTheme",
                "categories": "testCategory",
                "userRelevanceScore": {
                  "gt": 0,
                  "gte": 0,
                  "lt": 0,
                  "lte": 0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventsEntities"
                },
                "example": {
                  "data": [
                    "002FF1-E",
                    "000CNJ-E",
                    "001HHK-E",
                    "002W5H-E",
                    "003DJY-E",
                    "003B1C-E",
                    "0FPWZZ-E",
                    "06S9GH-E",
                    "0801VG-E",
                    "009RJM-E",
                    "06KNS6-E"
                  ],
                  "meta": {
                    "signalRequestId": "4e36db2d-54cb-4604-b425-170f8f2bc7e3",
                    "dateRange": {
                      "created": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:14:58.764Z"
                      },
                      "updated": {
                        "gte": "2024-08-15T00:00:00.000Z",
                        "lte": "2024-08-22T22:14:58.764Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "A parameter in the request has an invalid value or a required parameter is missing.",
                  "errors": [
                    {
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "code": "parameterError",
                      "title": "Required param 'exampleParam' was not provided",
                      "detail": "A parameter in the request has an invalid value or a required parameter is missing."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Exceeded",
            "headers": {
              "Api-Version": {
                "$ref": "#/components/headers/Api-Version"
              },
              "Api-Supported-Versions": {
                "$ref": "#/components/headers/Api-Supported-Versions"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rateLimitResponse"
                },
                "example": {
                  "message": "API rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                },
                "example": {
                  "message": "An error occurred while processing the request.",
                  "errors": [
                    {
                      "code": "genericServerError",
                      "detail": "An error occurred while processing the request.",
                      "id": "b0faf2e1-a7b2-43b0-acd7-3f04ad3c1a33",
                      "title": "An unexpected error happened."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/data-dictionary": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "operationId": "getDataDictionary",
        "description": "Fetch a list of all active signals",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/signalMetaData"
                },
                "example": {
                  "data": [
                    {
                      "id": "debtMaturingBond",
                      "name": "Bonds Maturing in 24 Months",
                      "description": "The company has bonds maturing in 24 months, the Signal does not include Finance companies (RBICS 30)."
                    },
                    {
                      "id": "testSignal",
                      "name": "Test Signal",
                      "description": "Signal description"
                    }
[...]
