{
  "host": "api.factset.com",
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/company/estimates/listByInstrument": {
      "post": {
        "tags": [
          "company"
        ],
        "operationId": "post/company/estimates/listByInstrument",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Fiscal year estimates for selected figures of a stock. Data is available only for common shares; instruments such as preferred shares or depository receipts yield an empty result. For the share type, see endpoint `/instrument/category/list` using dataset 23. Data can be retrieved only for the current, the past, and three future fiscal years. For past fiscal years, the estimates are not being replaced by the reported figures. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.",
        "summary": "Estimates for selected figures for a stock.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "id",
                    "fiscalYears",
                    "currency"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "id64",
                      "x-positive": true,
                      "description": "Identifier of the instrument"
                    },
                    "fiscalYears": {
                      "type": "object",
                      "x-property-sort": [
                        "start",
                        "end"
                      ],
                      "description": "The response includes data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). The attribute `start` must be less than or equal to the attribute `end`.",
                      "properties": {
                        "start": {
                          "type": "number",
                          "format": "int32",
                          "description": "Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to one year in the past. If omitted, the response includes data from one year in the past up to the year specified as `end`."
                        },
                        "end": {
                          "type": "number",
                          "format": "int32",
                          "description": "Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to three years in the future. If omitted, the response includes data from the year specified as `start` up to three years in the future."
                        }
                      }
                    },
                    "currency": {
                      "type": "object",
                      "x-property-sort": [
                        "isoCode"
                      ],
                      "description": "Main currency into which the estimated figures representing a monetary value are converted.",
                      "properties": {
                        "isoCode": {
                          "type": "string",
                          "description": "ISO 4217 code of the currency.",
                          "x-enum-description": [
                            "Euro",
                            "US Dollar",
                            "British Pound Sterling",
                            "Swiss Franc"
                          ],
                          "enum": [
                            "EUR",
                            "USD",
                            "GBP",
                            "CHF"
                          ]
                        }
                      },
                      "required": [
                        "isoCode"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "currency"
                  ]
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    }
                  },
                  "x-property-sort": [
                    "attributes"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Estimated figures for selected fiscal years.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "fiscalYear",
                      "reportDate",
                      "currency",
                      "incomeStatement",
                      "balanceSheet",
                      "ratios",
                      "perShare"
                    ],
                    "properties": {
                      "fiscalYear": {
                        "type": "object",
                        "x-property-sort": [
                          "end",
                          "year"
                        ],
                        "description": "Details of a fiscal year.",
                        "properties": {
                          "end": {
                            "type": "string",
                            "format": "date",
                            "description": "Ending date of the fiscal year."
                          },
                          "year": {
                            "type": "number",
                            "format": "int32",
                            "description": "Fiscal year."
                          }
                        }
                      },
                      "reportDate": {
                        "type": "string",
                        "format": "date",
                        "description": "Publication date of the financial report."
                      },
                      "currency": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "isoCode"
                        ],
                        "description": "Main currency into which the estimated figures representing a monetary value are converted.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the currency."
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "ISO 4217 code of the currency."
                          }
                        }
                      },
                      "incomeStatement": {
                        "type": "object",
                        "x-property-sort": [
                          "sales",
                          "ebit",
                          "ebitda"
                        ],
                        "description": "Income statement estimates.",
                        "properties": {
                          "sales": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Total amount of sales revenue received for the normal operation of the business.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "ebit": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "EBIT (earnings before interest and taxes).",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "ebitda": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "EBITDA (earnings before interest, taxes, depreciation, and amortization).",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          }
                        }
                      },
                      "balanceSheet": {
                        "type": "object",
                        "x-property-sort": [
                          "netDebt",
                          "returnOnAssets",
                          "returnOnEquity"
                        ],
                        "description": "Balance sheet estimates.",
                        "properties": {
                          "netDebt": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Net debt, which is all interest-bearing obligations minus cash and cash equivalents.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "returnOnAssets": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Return on assets (ROA), which is the ratio of the net income, divided by the total assets.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "relativeValue",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "relativeValue",
                                "description": "Median value."
                              }
                            }
                          },
                          "returnOnEquity": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Return on equity (ROE), which is the ratio of the net income, divided by the total shareholder's equity.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "relativeValue",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "relativeValue",
                                "description": "Median value."
                              }
                            }
                          }
                        }
                      },
                      "ratios": {
                        "type": "object",
                        "x-property-sort": [
                          "priceSales",
                          "priceEarnings",
                          "priceEarningsGrowth",
                          "priceBookValue",
                          "priceCashFlow",
                          "priceFreeCashFlow",
                          "dividendYield",
                          "enterpriseValueEbit",
                          "enterpriseValueEbita",
                          "enterpriseValueEbitda",
                          "enterpriseValueSales",
                          "enterpriseValueFreeCashFlow"
                        ],
                        "description": "Estimates for selected ratios.",
                        "properties": {
                          "priceSales": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the price, divided by the total sales revenue per share.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "priceEarnings": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the price, divided by the earnings per share.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "priceEarningsGrowth": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Price-earnings ratio divided by the growth rate of the earnings.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "priceBookValue": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the price, divided by the book value per share.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "priceCashFlow": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the price, divided by the cash flow per share.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "priceFreeCashFlow": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the price, divided by the free (i.e. without subtraction of dividends) cash flow per share.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "dividendYield": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the dividend per share, divided by the price.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "relativeValue",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "relativeValue",
                                "description": "Median value."
                              }
                            }
                          },
                          "enterpriseValueEbit": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the enterprise value, divided by the EBIT.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "enterpriseValueEbita": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the enterprise value, divided by the EBITA (earnings before interest, taxes, and amortization).",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "enterpriseValueEbitda": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the enterprise value, divided by the EBITDA.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "enterpriseValueSales": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the enterprise value, divided by the total sales.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "enterpriseValueFreeCashFlow": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Ratio of the enterprise value, divided by the free cash flow.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          }
                        }
                      },
                      "perShare": {
                        "type": "object",
                        "x-property-sort": [
                          "dividends",
                          "earnings",
                          "cashFlow",
                          "sales",
                          "netAssetValue"
                        ],
                        "description": "Estimates for selected per-share figures.",
                        "properties": {
                          "dividends": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Dividends per share, which is the ratio of the total dividends, divided by the shares outstanding",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "earnings": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Earnings per share (EPS), which is ratio of the net income, divided by the shares outstanding. For European equities, EPS is adjusted for exceptional and any non-recurring items.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "cashFlow": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Cash flow per share, which is the ratio of the net operating cash flow, divided by the shares outstanding.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "sales": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Sales per share, which is the ratio of the total sales, divided by the shares outstanding.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          },
                          "netAssetValue": {
                            "type": "object",
                            "x-property-sort": [
                              "mean",
                              "median"
                            ],
                            "description": "Net asset value per share is the ratio of the total assets minus total liabilities, divided by the shares outstanding.",
                            "properties": {
                              "mean": {
                                "type": "number",
                                "format": "real",
                                "description": "Mean value."
                              },
                              "median": {
                                "type": "number",
                                "format": "real",
                                "description": "Median value."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stock/recommendation/aggregate/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/recommendation/aggregate/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Target price and aggregated recommendations for a stock.",
        "description": "Target price and aggregated recommendations for a stock.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of an instrument."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "Target price and aggregated recommendations for a stock.",
                  "type": "object",
                  "x-property-sort": [
                    "targetPrice",
                    "recommendation"
                  ],
                  "properties": {
                    "targetPrice": {
                      "description": "Details of the target price.",
                      "type": "object",
                      "x-property-sort": [
                        "latestUpdate",
                        "mean",
                        "currency"
                      ],
                      "properties": {
                        "latestUpdate": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the latest update."
                        },
                        "mean": {
                          "type": "number",
                          "format": "real",
                          "description": "Mean value."
                        },
                        "currency": {
                          "description": "Main currency of the target price. See endpoint `/basic/valueUnit/currency/main/list` for possible values.",
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "code"
                          ],
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of the currency."
                            },
                            "code": {
                              "type": "string",
                              "description": "Code of the currency; if assigned, a code according to ISO 4217, otherwise a local code."
                            }
                          }
                        }
                      }
                    },
                    "recommendation": {
                      "description": "Details of the recommendations.",
                      "type": "object",
                      "x-property-sort": [
                        "latestUpdate",
                        "counts",
                        "consensus"
                      ],
                      "properties": {
                        "latestUpdate": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of the latest update."
                        },
                        "counts": {
                          "description": "Number of recommendations.",
                          "type": "object",
                          "x-property-sort": [
                            "total",
                            "buy",
                            "overweight",
                            "hold",
                            "underweight",
                            "sell"
                          ],
                          "properties": {
                            "total": {
                              "type": "number",
                              "format": "int32",
                              "description": "Total number."
                            },
                            "buy": {
                              "type": "number",
                              "format": "int32",
                              "description": "Number of buy recommendations. A buy recommendation contributes with the numeric value 1 when calculating the consensus."
                            },
                            "overweight": {
                              "type": "number",
                              "format": "int32",
                              "description": "Number of overweight recommendations. A overweight recommendation contributes with the numeric value 2 when calculating the consensus."
                            },
                            "hold": {
                              "type": "number",
                              "format": "int32",
                              "description": "Number of hold recommendations. A hold recommendation contributes with the numeric value 3 when calculating the consensus."
                            },
                            "underweight": {
                              "type": "number",
                              "format": "int32",
                              "description": "Number of underweight recommendations. A underweight recommendation contributes with the numeric value 4 when calculating the consensus."
                            },
                            "sell": {
                              "type": "number",
                              "format": "int32",
                              "description": "Number of sell recommendations. A sell recommendation contributes with the numeric value 5 when calculating the consensus."
                            }
                          }
                        },
                        "consensus": {
                          "type": "number",
                          "format": "real",
                          "description": "Recommendation consensus, that is the average value of all provided recommendations. Values are in the range from 1.0 to 5.0, whereby 1 represents the strongest buy recommendation, 3 a hold (neutral) recommendation and 5 the strongest sell recommendation."
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stock/recommendation/aggregate/history/list": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/recommendation/aggregate/history/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "Current and historical trade recommendations and target prices for a stock.",
        "description": "Current and historical trade recommendations and target prices for a stock.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of an instrument."
          },
          {
            "name": "snapshots",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "x-enum-description": [
                "latest",
                "one week ago",
                "one month ago",
                "three months ago",
                "six months ago",
                "one year ago"
              ],
              "enum": [
                "latest",
                "1w",
                "1m",
                "3m",
                "6m",
                "1y"
              ]
            },
            "collectionFormat": "csv",
            "description": "Choice of historic snapshots for aggregated recommendations.",
            "uniqueItems": true,
            "maxItems": 6,
            "minItems": 1,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of trade recommendations and target prices for a stock, in unspecified order.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "snapshot",
                      "targetPrice",
                      "recommendation"
                    ],
                    "properties": {
                      "snapshot": {
                        "description": "Identification of the historic snapshot for aggregated recommendations.",
                        "type": "string",
                        "x-enum-description": [
                          "latest",
                          "one week ago",
                          "one month ago",
                          "three months ago",
                          "six months ago",
                          "one year ago"
                        ],
                        "enum": [
                          "latest",
                          "1w",
                          "1m",
                          "3m",
                          "6m",
                          "1y"
                        ]
                      },
                      "targetPrice": {
                        "description": "Details of the target price.",
                        "type": "object",
                        "x-property-sort": [
                          "latestUpdate",
                          "mean",
                          "currency"
                        ],
                        "properties": {
                          "latestUpdate": {
                            "type": "string",
                            "format": "date",
                            "description": "Date of the latest update."
                          },
                          "mean": {
                            "type": "number",
                            "format": "real",
                            "description": "Mean value."
                          },
                          "currency": {
                            "description": "Main currency of the target price. See endpoint `/basic/valueUnit/currency/main/list` for possible values.",
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "code"
                            ],
                            "properties": {
                              "id": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true,
                                "description": "Identifier of the currency."
                              },
                              "code": {
                                "type": "string",
                                "description": "Code of the currency; if assigned, a code according to ISO 4217, otherwise a local code."
                              }
                            }
                          }
                        }
                      },
                      "recommendation": {
                        "description": "Details of the recommendations.",
                        "type": "object",
                        "x-property-sort": [
                          "latestUpdate",
                          "counts",
                          "consensus"
                        ],
                        "properties": {
                          "latestUpdate": {
                            "type": "string",
                            "format": "date",
                            "description": "Date of the latest update."
                          },
                          "counts": {
                            "description": "Number of recommendations.",
                            "type": "object",
                            "x-property-sort": [
                              "total",
                              "buy",
                              "overweight",
                              "hold",
                              "underweight",
                              "sell"
                            ],
                            "properties": {
                              "total": {
                                "type": "number",
                                "format": "int32",
                                "description": "Total number."
                              },
                              "buy": {
                                "type": "number",
                                "format": "int32",
                                "description": "Number of buy recommendations. A buy recommendation contributes with the numeric value 1 when calculating the consensus."
                              },
                              "overweight": {
                                "type": "number",
                                "format": "int32",
                                "description": "Number of overweight recommendations. A overweight recommendation contributes with the numeric value 2 when calculating the consensus."
                              },
                              "hold": {
                                "type": "number",
                                "format": "int32",
                                "description": "Number of hold recommendations. A hold recommendation contributes with the numeric value 3 when calculating the consensus."
                              },
                              "underweight": {
                                "type": "number",
                                "format": "int32",
                                "description": "Number of underweight recommendations. A underweight recommendation contributes with the numeric value 4 when calculating the consensus."
                              },
                              "sell": {
                                "type": "number",
                                "format": "int32",
                                "description": "Number of sell recommendations. A sell recommendation contributes with the numeric value 5 when calculating the consensus."
                              }
                            }
                          },
                          "consensus": {
                            "type": "number",
                            "format": "real",
                            "description": "Recommendation consensus, that is the average value of all provided recommendations. Values are in the range from 1.0 to 5.0, whereby 1 represents the strongest buy recommendation, 3 a hold (neutral) recommendation and 5 the strongest sell recommendation. "
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/board/listByInstrument": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "get/company/board/listByInstrument",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of boards for a company, with their officers.",
        "description": "List of boards for a company, with their officers. A given person may be a member ofdifferent boards of the same company but also a member of boards of different companies.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the instrument representing company shares.Any other instrument yields empty values."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of boards of the company, with their officers. The list of boards is sorted byidentifier of the type and the list of officers by name of the officer, both ascending.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "type",
                      "officers"
                    ],
                    "properties": {
                      "type": {
                        "description": "Type of the board. See endpoint `/company/board/type/list` for possible values.",
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of a type."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the type."
                          }
                        }
                      },
                      "officers": {
                        "description": "List of officers that are members of the board.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "name",
                            "presentationName",
                            "titleOfficer",
                            "function"
                          ],
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of an officer.  See endpoint `/legalEntity/list` for possible values."
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the officer."
                            },
                            "presentationName": {
                              "type": "string",
                              "description": "Presentation name of the officer, potentially shortened and/or containing name supplementssuch as a title."
                            },
                            "titleOfficer": {
                              "type": "string",
                              "description": "Job title of the officer."
                            },
                            "function": {
                              "description": "Function of the officer. See endpoint `/company/board/officer/function/list`for possible values.",
                              "type": "object",
                              "x-property-sort": [
                                "id",
                                "name"
                              ],
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "id32",
                                  "x-positive": true,
                                  "description": "Identifier of the function."
                                },
                                "name": {
                                  "type": "string",
                                  "format": "localizedString",
                                  "description": "Name of the function."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/board/officer/function/delivery/list": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "get/company/board/officer/function/delivery/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of officer functions as provided by a delivery.",
        "description": "List of officer functions as provided by a delivery.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of deliveries, with their officer functions,sorted by name of the delivery and identifier of the function, both ascending.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "functions"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a delivery."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the delivery."
                      },
                      "functions": {
                        "description": "List of officer functions.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "x-property-sort": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of a function."
                            },
                            "name": {
                              "type": "string",
                              "format": "localizedString",
                              "description": "Name of the function."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ]
      }
    },
    "/company/board/type/list": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "get/company/board/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of company board types.",
        "description": "List of company board types.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of company board types sorted ascending by the identifier of the type.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a type."
                      },
                      "name": {
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the type."
                      },
                      "description": {
                        "type": "string",
                        "format": "localizedString",
                        "description": "Description of the type."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ]
      }
    },
    "/stock/owner/list": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/owner/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of owners for a specific type of a company's shares.",
        "description": "List of top-20 owners for a specific type of a company's shares.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the instrument."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of owners with their respective share sorted descending by the fraction owned.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name",
                      "type",
                      "ownership"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "id64",
                        "x-positive": true,
                        "description": "Identifier of the owner. See endpoint `/legalEntity/list` for possible values."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the owner."
                      },
                      "type": {
                        "description": "Type of the owner.",
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the type. See endpoint `/stock/owner/type/list` for possible values."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the type."
                          }
                        }
                      },
                      "ownership": {
                        "description": "Details of the ownership.",
                        "type": "object",
                        "x-property-sort": [
                          "fraction",
                          "numberShares"
                        ],
                        "properties": {
                          "fraction": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "Fraction of stocks held by the owner."
                          },
                          "numberShares": {
                            "type": "number",
                            "format": "real",
                            "description": "Number of stocks held by the owner."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stock/dividend/list": {
      "post": {
        "tags": [
          "stock"
        ],
        "operationId": "post/stock/dividend/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 4,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of dividends for a stock.",
        "description": "List of dividends for a stock.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-property-sort": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "x-property-sort": [
                    "id",
                    "filter"
                  ],
                  "description": "The data member contains the request's primary data.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "id64",
                      "x-positive": true,
                      "description": "Identifier of an instrument."
                    },
                    "filter": {
                      "type": "object",
                      "x-property-sort": [
                        "period",
                        "type"
                      ],
                      "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                      "properties": {
                        "period": {
                          "type": "object",
                          "format": "dateRange",
                          "x-isClosedInterval": true,
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "date",
                              "description": "The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.",
                              "x-allowNullValue": true
                            },
                            "end": {
                              "type": "string",
                              "format": "date",
                              "description": "The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.",
                              "x-allowNullValue": true
                            }
                          },
                          "x-property-sort": [
                            "start",
                            "end"
                          ],
                          "required": [
                            "start",
                            "end"
                          ],
                          "description": "Period for which the dividends shall be returned. Since not all attributes contained in the dates object are available for all dividends, the following priority of the available dates is used to determine whether a dividend belongs to the specified period:\n 1. payment\n 2. effective\n 3. record\n 4. announcement"
                        },
                        "type": {
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "description": "Dividend type. See endpoint `/stock/dividend/type/list` for valid values.",
                          "properties": {
                            "id": {
                              "type": "number",
                              "format": "id32",
                              "x-positive": true,
                              "description": "Identifier of the dividend type."
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id"
                  ]
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the request.",
                  "properties": {
                    "attributes": {
                      "$ref": "#/definitions/AttributesMember"
                    },
                    "language": {
                      "$ref": "#/definitions/LanguageMember"
                    },
                    "sort": {
                      "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 4 (possibly prefixed) attribute name(s) is allowed.",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "dates.announcement",
                          "-dates.announcement",
                          "dates.record",
                          "-dates.record",
                          "dates.effective",
                          "-dates.effective",
                          "dates.payment",
                          "-dates.payment"
                        ]
                      },
                      "maxItems": 4,
                      "uniqueItems": true,
                      "default": [
                        "dates.payment"
                      ]
                    }
                  },
                  "x-property-sort": [
                    "attributes",
                    "language",
                    "sort"
                  ]
                }
              },
              "required": [
                "data"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of dividends.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "type",
                      "occurrence",
                      "dates",
                      "currency",
                      "gross"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "id64",
                        "x-positive": true,
                        "description": "Identifier of a dividend."
                      },
                      "type": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name"
                        ],
                        "description": "Dividend type.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the type."
                          },
                          "name": {
                            "type": "string",
                            "format": "localizedString",
                            "description": "Name of the type."
                          }
                        }
                      },
                      "occurrence": {
                        "type": "object",
                        "x-property-sort": [
                          "type",
                          "frequency"
                        ],
                        "description": "Occurrence and frequency of the dividend.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Occurrence type.",
                            "x-enum-description": [
                              "The dividend payment occurs on a regular basis, i.e., with a given frequency.",
                              "The dividend payment is atypical and infrequent."
                            ],
                            "enum": [
                              "periodic",
                              "extraordinary"
                            ]
                          },
                          "frequency": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Frequency of the dividend. Information about the frequency is available only if the attribute `occurrence.type` is set to \"periodic\". See endpoint `/basic/frequency/type/list` for possible values.",
                            "properties": {
                              "id": {
                                "type": "number",
                                "format": "id32",
                                "x-positive": true,
                                "description": "Identifier of the frequency."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the frequency."
                              }
                            }
                          }
                        }
                      },
                      "dates": {
                        "type": "object",
                        "x-property-sort": [
                          "announcement",
                          "record",
                          "effective",
                          "payment"
                        ],
                        "description": "Relevant dates related to the dividend.",
                        "properties": {
                          "announcement": {
                            "x-sortable": true,
                            "type": "string",
                            "format": "date",
                            "description": "Announcement date."
                          },
                          "record": {
                            "x-sortable": true,
                            "type": "string",
                            "format": "date",
                            "description": "Record date."
                          },
                          "effective": {
                            "x-sortable": true,
                            "type": "string",
                            "format": "date",
                            "description": "Effective date (ex-date)."
                          },
                          "payment": {
                            "x-sortable": true,
                            "x-default-sort-attribute": true,
                            "x-default-sort-direction": 1,
                            "type": "string",
                            "format": "date",
                            "description": "Payment date."
                          }
                        }
                      },
                      "currency": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "isoCode"
                        ],
                        "description": "Main currency of the dividend. See endpoint `/basic/valueUnit/currency/main/list` for possible values.",
                        "properties": {
                          "id": {
                            "type": "number",
                            "format": "id32",
                            "x-positive": true,
                            "description": "Identifier of the currency."
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "ISO 4217 code of the currency."
                          }
                        }
                      },
                      "gross": {
                        "type": "object",
                        "x-property-sort": [
                          "unadjustedValue"
                        ],
                        "description": "Gross value.",
                        "properties": {
                          "unadjustedValue": {
                            "type": "number",
                            "format": "real",
                            "description": "Value of the unadjusted dividend."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stock/dividend/type/list": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/dividend/type/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "List of dividend types.",
        "description": "List of dividend types.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of dividend types, sorted by ascending identifier value.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "x-positive": true,
                        "description": "Identifier of a dividend type."
                      },
                      "name": {
                        "type": "string",
                        "format": "localizedString",
                        "description": "Name of the dividend type."
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ]
      }
    },
    "/stock/notation/keyFigures/benchmark/month/1/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/month/1/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of one month.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of one month.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 3,
            "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "beta",
                      "correlation",
                      "outperformance",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
                          },
                          "instrument": {
                            "type": "object",
                            "x-property-sort": [
                              "id",
                              "name"
                            ],
                            "description": "Instrument of the benchmark.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "id64",
                                "x-positive": true,
                                "description": "Identifier of the instrument."
                              },
                              "name": {
                                "type": "string",
                                "format": "localizedString",
                                "description": "Name of the instrument."
                              }
                            }
                          }
                        }
                      },
                      "beta": {
                        "type": "number",
                        "format": "real",
                        "description": "Beta of the notation."
                      },
                      "correlation": {
                        "type": "number",
                        "format": "real",
                        "description": "Correlation of the notation."
                      },
                      "outperformance": {
                        "type": "number",
                        "format": "relativeValue",
                        "description": "Outperformance of the notation."
                      },
                      "status": {
                        "type": "object",
                        "x-property-sort": [
                          "code",
                          "identifier",
                          "encryptedDetails"
                        ],
                        "description": "Error status for the requested identifier.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Code of the error condition.",
                            "x-enum-description": [
                              "No error.",
                              "The provided identifier does not refer to a valid benchmark notation."
                            ],
                            "enum": [
                              "none",
                              "parameter"
                            ]
                          },
                          "identifier": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Provided identifier."
                          },
                          "encryptedDetails": {
                            "type": "string",
                            "description": "Base64-encoded internal details about the error."
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "description": "The meta member contains the meta information of the response.",
                  "properties": {
                    "status": {
                      "$ref": "#/definitions/StatusObject"
                    }
                  },
                  "x-property-sort": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/week/1/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/week/1/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": false,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of one week.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of one week.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "format": "id64",
            "x-positive": true,
            "required": true,
            "description": "Identifier of the notation."
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "collectionFormat": "csv",
            "uniqueItems": true,
            "required": true,
            "minItems": 1,
            "maxItems": 3,
            "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
          },
          {
            "name": "_attributes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 100,
              "exclusiveMaximum": false
            },
            "uniqueItems": true,
            "maxItems": 50,
            "collectionFormat": "csv",
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "type": "string",
            "format": "isoLanguage",
            "description": "ISO 639-1 code of the language.",
            "maxLength": 2,
            "minLength": 2,
            "exclusiveMinimum": false,
            "exclusiveMaximum": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-property-sort": [
                      "notation",
                      "beta",
                      "correlation",
                      "outperformance",
                      "status"
                    ],
                    "properties": {
                      "notation": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "instrument"
                        ],
                        "description": "Notation of the benchmark.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "id64",
                            "x-positive": true,
                            "description": "Identifier of the notation."
[...]
