{
  "openapi": "3.0.0",
  "info": {
    "title": "Stocks API For Digital Portals",
    "description": "The Stocks API features a screener to search for equity instruments based on stock-specific parameters.\n\nParameters for up to three fiscal years might now be used in one request; data is available for the ten most recent completed fiscal years.\nEstimates are available for the current and two consecutive fiscal years. Search criteria also include benchmark-related attributes\n(beta, correlation, outperformance), and ESG parameters, based on FactSet’s Truvalue ESG scores.\n\nA separate endpoint returns the possible values and value ranges for the parameters that the endpoint /stock/notation/screener/search accepts\nApplication developers can request the values and value ranges only for a restricted set of notations that match predefined parameters. This\nfunctionality may be used to pre-fill the values and value ranges of the parameters of the /stock/notation/screener/search endpoint so that\nperforming a search always leads to a non-empty set of notations.\n\nThe endpoint /stock/notation/ranking/intraday/list ranks stocks notations using intraday figures, for example to build a gainers/losers list. \n\nAdditional endpoints include end-of-day benchmark key figures, and selected fundamentals (as of end of fiscal year and with daily updates).\n\nThis API is fully integrated with the corresponding [Quotes API](https://developer.factset.com/api-catalog/quotes-api-digital-portals), allowing\naccess to detailed price and performance information of instruments, as well as basic security identifier cross-reference. For direct access\nto price histories, please refer to the [Time Series API for Digital Portals](https://developer.factset.com/api-catalog/time-series-api-digital-portals).\n\nSimilar criteria based screener APIs exist for fixed income instruments and securitized derivatives: See the\n[Bonds API](https://developer.factset.com/api-catalog/bonds-api-digital-portals) and the\n[Securitized Derivatives API](https://developer.factset.com/api-catalog/securitized-derivatives-api-digital-portals) for details.\n\nSee also the recipe [\"Enrich Your Digital Portal with Flexible Equity Screening\"](https://developer.factset.com/recipe-catalog/enrich-your-digital-portal-flexible-equity-screening).\n",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v1"
    }
  ],
  "paths": {
    "/company/keyItems/current/getByInstrument": {
      "post": {
        "tags": [
          "company"
        ],
        "operationId": "post/company/keyItems/current/getByInstrument",
        "summary": "Fundamentals for a stock with potentially daily updates.",
        "description": "Fundamentals for a stock with potentially daily updates; any other instrument yields empty values for stock-specific attributes. The price used to calculate the various price-dependent figures is unspecified and the exchange for that price is not identified. Dates are interpreted in the timezone of the data provider. For reported company fundamentals of the previous fiscal years (only closed fiscal years) see endpoint `/company/keyItems/fiscalYear/listByInstrument.`",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostCompanyKeyItemsCurrentGetByInstrument200Response"
          }
        },
        "parameters": []
      }
    },
    "/company/keyItems/fiscalYear/listByInstrument": {
      "post": {
        "tags": [
          "company"
        ],
        "operationId": "post/company/keyItems/fiscalYear/listByInstrument",
        "summary": "Selected fundamentals for a stock with values as of the end of a fiscal year.",
        "description": "Selected fundamentals for a stock with values as of the end of a fiscal year; any other instrument yields empty values for stock-specific attributes. The endpoint allows the retrieval of data only for specified fiscal years by using the start and end properties. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCompanyKeyItemsFiscalYearListByInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostCompanyKeyItemsFiscalYearListByInstrument200Response"
          }
        },
        "parameters": []
      }
    },
    "/company/estimates/listByInstrument": {
      "post": {
        "tags": [
          "company"
        ],
        "operationId": "post/company/estimates/listByInstrument",
        "description": "Fiscal year estimates for selected figures of a stock. Data is available only for common shares; instruments such as preferred shares or depository receipts yield an empty result. For the share type, see endpoint `/instrument/category/list` using dataset 23. Data can be retrieved only for the current, the past, and three future fiscal years. For past fiscal years, the estimates are not being replaced by the reported figures. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.",
        "summary": "Estimates for selected figures for a stock.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCompanyEstimatesListByInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostCompanyEstimatesListByInstrument200Response"
          }
        },
        "parameters": []
      }
    },
    "/stock/recommendation/aggregate/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/recommendation/aggregate/get",
        "summary": "Target price and aggregated recommendations for a stock.",
        "description": "Target price and aggregated recommendations for a stock.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockRecommendationAggregateGet200Response"
          }
        }
      }
    },
    "/stock/recommendation/aggregate/history/list": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/recommendation/aggregate/history/list",
        "summary": "Current and historical trade recommendations and target prices for a stock.",
        "description": "Current and historical trade recommendations and target prices for a stock.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true
          },
          {
            "name": "snapshots",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "enum": [
                  "latest",
                  "1w",
                  "1m",
                  "3m",
                  "6m",
                  "1y"
                ]
              },
              "description": "Choice of historic snapshots for aggregated recommendations.",
              "uniqueItems": true,
              "maxItems": 6,
              "minItems": 1
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockRecommendationAggregateHistoryList200Response"
          }
        }
      }
    },
    "/company/board/listByInstrument": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "get/company/board/listByInstrument",
        "summary": "List of boards for a company, with their officers.",
        "description": "List of boards for a company, with their officers. A given person may be a member ofdifferent boards of the same company but also a member of boards of different companies.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "id64",
              "description": "Identifier of the instrument representing company shares.Any other instrument yields empty values."
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCompanyBoardListByInstrument200Response"
          }
        }
      }
    },
    "/company/board/officer/function/delivery/list": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "get/company/board/officer/function/delivery/list",
        "summary": "List of officer functions as provided by a delivery.",
        "description": "List of officer functions as provided by a delivery.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCompanyBoardOfficerFunctionDeliveryList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/company/board/type/list": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "get/company/board/type/list",
        "summary": "List of company board types.",
        "description": "List of company board types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCompanyBoardTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/stock/owner/list": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/owner/list",
        "summary": "List of owners for a specific type of a company's shares.",
        "description": "List of top-20 owners for a specific type of a company's shares.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idInstrument",
                "idNotation",
                "fdsPermanentIdentifierSecurity",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional",
                "tickerExchange",
                "tickerRegion",
                "sedol",
                "isin",
                "wkn",
                "valor",
                "cusip"
              ]
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockOwnerList200Response"
          }
        }
      }
    },
    "/stock/composite/profile/getByNotation": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/composite/profile/getByNotation",
        "summary": "Provides key elements of a stock profile together with the profile of the issuing company.",
        "description": "Provides key elements of a stock profile together with the profile of the issuing company.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockCompositeProfileGetByNotation200Response"
          }
        }
      }
    },
    "/stock/dividend/list": {
      "post": {
        "tags": [
          "stock"
        ],
        "operationId": "post/stock/dividend/list",
        "summary": "List of dividends for a stock.",
        "description": "List of dividends for a stock.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStockDividendListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostStockDividendList200Response"
          }
        },
        "parameters": []
      }
    },
    "/stock/dividend/type/list": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/dividend/type/list",
        "summary": "List of dividend types.",
        "description": "List of dividend types.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockDividendTypeList200Response"
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ]
      }
    },
    "/stock/notation/keyFigures/benchmark/month/1/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/month/1/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of one month.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of one month.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkMonth1Get200Response"
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/week/1/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/week/1/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of one week.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of one week.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkWeek1Get200Response"
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/year/1/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/year/1/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of one year.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of one year.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkYear1Get200Response"
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/month/3/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/month/3/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of three months.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of three months.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkMonth3Get200Response"
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/year/3/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/year/3/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of three years.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of three years.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkYear3Get200Response"
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/year/5/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/year/5/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of five years.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of five years.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkYear5Get200Response"
          }
        }
      }
    },
    "/stock/notation/keyFigures/benchmark/month/6/get": {
      "get": {
        "tags": [
          "stock"
        ],
        "operationId": "get/stock/notation/keyFigures/benchmark/month/6/get",
        "summary": "End-of-day (EOD) benchmark key figures of a stock for the time range of six months.",
        "description": "End-of-day (EOD) benchmark key figures of a stock for the time range of six months.",
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$",
              "maxLength": 50,
              "exclusiveMaximum": false,
              "minLength": 3,
              "exclusiveMinimum": false,
              "description": "Identifier to resolve."
            },
            "required": true
          },
          {
            "name": "identifierType",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Type of the identifier.",
              "enum": [
                "idNotation",
                "tickerExchange",
                "tickerRegion",
                "fdsPermanentIdentifierListing",
                "fdsPermanentIdentifierRegional"
              ]
            },
            "required": true
          },
          {
            "name": "idNotationBenchmark",
            "in": "query",
            "schema": {
              "type": "array",
              "nullable": false,
              "items": {
                "type": "string",
                "format": "id64"
              },
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 3,
              "description": "List of identifiers of benchmark notations. See the group description for the list\nof valid values."
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "name": "_language",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "isoLanguage",
              "description": "ISO 639-1 code of the language.",
              "maxLength": 2,
              "minLength": 2,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStockNotationKeyFiguresBenchmarkMonth6Get200Response"
          }
        }
      }
    },
    "/stock/notation/ranking/intraday/list": {
      "post": {
        "tags": [
          "stock"
        ],
        "operationId": "post/stock/notation/ranking/intraday/list",
        "summary": "Ranking of stocks' notations using intraday figures.",
        "description": "Ranking of stocks' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.\n\nBy default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameter `currency` has not been specified.`\n\nThe search can be restricted to a specific set of products by using customer-specific instrument or notation restriction lists. Such restriction lists are set up by FactSet upon request.\n\nAll identifiers used as parameters must be valid and entitled.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStockNotationRankingIntradayListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostStockNotationRankingIntradayList200Response"
          }
        },
        "parameters": []
      }
    },
    "/stock/notation/screener/search": {
      "post": {
        "tags": [
          "stock"
        ],
        "operationId": "post/stock/notation/screener/search",
        "summary": "Screener for stocks' notations based on stock-specific parameters.",
        "description": "Screener for stocks' notations based on stock-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.\n\nCurrency dependent current figures on company level (see attribute `currentKeyFigures.company.currencyDependent`) or on share instrument level (see attribute `currentKeyFigures.shareInstrument.currencyDependent`) are only returned if the currency (see parameter `currentKeyFigures.company.currencyDependent.currency.isoCode` or parameter `currentKeyFigures.shareInstrument.currencyDependent.currency.isoCode` respectively) are set.\n\nParameters for up to three fiscal years might be used in one request, see attribute `reportedKeyFigures`; data is available for the ten most recent completed fiscal years. Estimates are available for the current and two consecutive fiscal years; parameters for all three might be used in one request, see attribute `estimates`. The estimated values are calculated as the average of the most recent estimates provided by all analysts in a fixed time frame of 100 days. Screening and sorting by a currency-dependent attribute is not possible if the currency (see parameter `reportedKeyFigures.currencyDependentKeyFigures.currency.isoCode` and parameter `estimates.currencyDependentEstimates.currency.isoCode` respectively) is not set. If a fiscal year for the data as of the end of a fiscal year (see parameter `reportedKeyFigures.fiscalYear`) or for the estimates (see parameter `estimates.fiscalYear`) has been selected but no currency has been set, the respective data will be returned in the currency in which it was originally reported.\n\nA specific set of stocks can be restricted to or excluded by using customer-specific instrument or notation selection lists. Such selection lists are set up by FactSet upon request. All identifiers used as parameters must be valid and entitled.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStockNotationScreenerSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostStockNotationScreenerSearch200Response"
          }
        },
        "parameters": []
      }
    },
    "/stock/notation/screener/valueRanges/get": {
      "post": {
        "tags": [
          "stock"
        ],
        "operationId": "post/stock/notation/screener/valueRanges/get",
        "summary": "Possible values and value ranges for the parameters used in the endpoint `/stock/notation/screener/search`.",
        "description": "The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/stock/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/stock/notation/screener/search` endpoint so that performing a search always leads to a non-empty set of notations. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. For more information regarding the performance and volatility parameters, see the information available in the group description of the `/notation/keyFigures/` endpoints.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStockNotationScreenerValueRangesGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostStockNotationScreenerValueRangesGet200Response"
          }
        },
        "parameters": []
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorMetaObject": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusObject"
          }
        }
      },
      "ErrorObject": {
        "type": "array",
        "description": "The errors member contains additional information about a failed request.",
        "items": {
          "type": "object",
          "properties": {
            "details": {
              "type": "string",
              "description": "A human-readable, unstructured explanation specific to this occurrence of the failure."
            },
            "encryptedDetails": {
              "type": "string",
              "description": "Base64-encoded, internal details about the error, in addition to \"details\"."
            },
            "type": {
              "type": "number",
              "format": "int32",
              "description": "Internal error type of the Foundation API protocol."
            },
            "attribute": {
              "type": "array",
              "description": "For a validation error, a reference to the request parameter that failed validation; otherwise, an empty array.",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Element of the path denoting the request parameter."
                  },
                  "index": {
                    "type": "number",
                    "format": "int32",
                    "description": "If the attribute \"name\" designates an array, index of the array element; otherwise the special value -1."
                  }
                }
              }
            }
          }
        }
      },
      "AttributesMember": {
        "type": "array",
        "description": "Limit the attributes returned in the response to the specified set.",
        "items": {
          "type": "string",
          "maxLength": 100,
          "exclusiveMaximum": false
        },
        "maxItems": 50,
        "uniqueItems": true
      },
      "LanguageMember": {
        "type": "string",
        "format": "isoLanguage",
        "description": "ISO 639-1 code of the language.",
        "maxLength": 2,
        "minLength": 2,
        "exclusiveMinimum": false,
        "exclusiveMaximum": false
      },
      "StatusObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "format": "int32",
            "description": "The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1)."
          }
        },
        "description": "The status member contains the status code of the response.",
        "required": [
          "code"
        ]
      },
      "CursorBasedPaginationOutputObject": {
        "type": "object",
        "description": "Pagination attributes for the cursor-based pagination strategy.",
        "properties": {
          "total": {
            "type": "number",
            "format": "int32",
            "description": "Total number of entries in the result set."
          },
          "isEstimatedTotal": {
            "type": "boolean",
            "description": "Flag indicating that the value of `total` is estimated."
          },
          "next": {
            "type": "string",
            "description": "The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`."
          },
          "previous": {
            "type": "string",
            "description": "The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`."
          }
        },
        "required": [
          "total",
          "isEstimatedTotal",
          "next",
          "previous"
        ]
      },
      "CursorBasedPaginationOutputObjectWithoutTotal": {
        "type": "object",
        "description": "Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.",
        "properties": {
          "next": {
            "type": "string",
            "description": "The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`."
          },
          "previous": {
            "type": "string",
            "description": "The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`."
          }
        },
        "required": [
          "next",
          "previous"
        ]
      },
      "OffsetBasedPaginationOutputObject": {
        "type": "object",
        "description": "Pagination attributes for the offset-based pagination strategy.",
        "properties": {
          "total": {
            "type": "number",
            "format": "int32",
            "description": "Total number of entries in the result set."
          },
          "isEstimatedTotal": {
            "type": "boolean",
            "description": "Flag indicating that the value of \"total\" is estimated."
          }
        },
        "required": [
          "total",
          "isEstimatedTotal"
        ]
      },
      "OffsetBasedPaginationOutputObjectWithoutTotal": {
        "type": "object",
        "description": "Pagination attributes for the offset-based pagination strategy; a total element count is not supported.",
        "properties": {
          "hasNext": {
            "type": "boolean",
            "description": "Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results."
          }
        },
        "required": [
          "hasNext"
        ]
      },
      "PartialOutputObject": {
        "type": "object",
        "properties": {
          "isPartial": {
            "type": "boolean",
            "description": "Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable."
          }
        },
        "description": "Object denoting that the endpoint response is possibly incomplete.",
        "required": [
          "isPartial"
        ]
      },
      "PostCompanyKeyItemsCurrentGetByInstrumentRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "id": {
                "type": "string",
                "format": "id64",
                "description": "Identifier of an instrument."
              },
              "currency": {
                "type": "object",
                "description": "Main currency of the currency-dependent attributes.",
                "properties": {
                  "isoCode": {
                    "type": "string",
                    "description": "ISO code of the currency.",
                    "enum": [
                      "EUR",
                      "USD",
                      "GBP",
                      "CHF"
                    ]
                  }
                },
                "required": [
                  "isoCode"
                ]
              }
            },
            "required": [
              "id",
              "currency"
            ]
          },
          "meta": {
            "type": "object",
            "description": "The meta member contains the meta information of the request.",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AttributesMember"
              },
              "language": {
                "$ref": "#/components/schemas/LanguageMember"
              }
            }
          }
        }
      },
      "PostCompanyKeyItemsFiscalYearListByInstrumentRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "id": {
                "type": "string",
                "format": "id64",
                "description": "Identifier of the instrument."
              },
              "fiscalYears": {
                "type": "object",
                "description": "Response will include data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). If either is omitted the response will include data items from the earliest or up to the most recent fiscal year available respectively. Alternatively, if both are specified start must be less than end. Either must be at most ten years in the past. Note that earliest data availability varies for each stock.",
                "properties": {
                  "start": {
                    "type": "number",
                    "format": "int32",
                    "description": "Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to ten years in the past."
                  },
                  "end": {
                    "type": "number",
                    "format": "int32",
                    "description": "Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to the current year."
                  }
                }
              },
              "currency": {
                "type": "object",
                "description": "Currency in which the attributes representing a monetary value are returned. If none is selected, the reporting currency of the company is used.",
                "properties": {
                  "isoCode": {
                    "type": "string",
                    "description": "ISO code of the currency.",
                    "enum": [
                      "EUR",
                      "USD",
                      "GBP",
                      "CHF"
                    ]
                  }
                }
              }
            },
            "required": [
              "id"
            ]
          },
          "meta": {
            "type": "object",
            "description": "The meta member contains the meta information of the request.",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AttributesMember"
              },
              "language": {
                "$ref": "#/components/schemas/LanguageMember"
              }
            }
          }
        }
      },
      "PostCompanyEstimatesListByInstrumentRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "id": {
                "type": "string",
                "format": "id64",
                "description": "Identifier of the instrument"
              },
              "fiscalYears": {
                "type": "object",
                "description": "The response includes data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). The attribute `start` must be less than or equal to the attribute `end`.",
                "properties": {
                  "start": {
                    "type": "number",
                    "format": "int32",
                    "description": "Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to one year in the past. If omitted, the response includes data from one year in the past up to the year specified as `end`."
                  },
                  "end": {
                    "type": "number",
                    "format": "int32",
                    "description": "Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to three years in the future. If omitted, the response includes data from the year specified as `start` up to three years in the future."
                  }
                }
              },
              "currency": {
                "type": "object",
                "description": "Main currency into which the estimated figures representing a monetary value are converted.",
                "properties": {
                  "isoCode": {
                    "type": "string",
                    "description": "ISO 4217 code of the currency.",
                    "enum": [
                      "EUR",
                      "USD",
                      "GBP",
                      "CHF"
                    ]
                  }
                },
                "required": [
                  "isoCode"
                ]
              }
            },
            "required": [
              "id",
              "currency"
            ]
          },
          "meta": {
            "type": "object",
            "description": "The meta member contains the meta information of the request.",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AttributesMember"
              }
            }
          }
        }
      },
      "PostStockDividendListRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "identifier": {
                "type": "object",
                "description": "Identifier and type.",
                "properties": {
                  "value": {
                    "type": "string",
                    "pattern": "^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$",
                    "maxLength": 50,
                    "exclusiveMaximum": false,
                    "minLength": 3,
                    "exclusiveMinimum": false,
                    "description": "Identifier to resolve."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of the identifier.",
                    "enum": [
                      "idInstrument",
                      "idNotation",
                      "fdsPermanentIdentifierSecurity",
                      "fdsPermanentIdentifierListing",
                      "fdsPermanentIdentifierRegional",
                      "tickerExchange",
                      "tickerRegion",
                      "sedol",
                      "isin",
                      "wkn",
                      "valor",
                      "cusip"
                    ]
                  }
                },
                "required": [
                  "value",
                  "type"
                ]
              },
              "filter": {
                "type": "object",
                "description": "Criteria that filter the items in the response list; only items that match all of the criteria are returned.",
                "properties": {
                  "period": {
                    "type": "object",
                    "format": "dateRange",
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date",
                        "description": "The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past."
                      },
                      "end": {
                        "type": "string",
                        "format": "date",
                        "description": "The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future."
                      }
                    },
                    "required": [
                      "start",
                      "end"
                    ],
                    "description": "Period for which the dividends shall be returned. Since not all attributes contained in the dates object are available for all dividends, the following priority of the available dates is used to determine whether a dividend belongs to the specified period:\n 1. payment\n 2. effective\n 3. record\n 4. announcement"
                  },
                  "type": {
                    "type": "object",
                    "description": "Dividend type. See endpoint `/stock/dividend/type/list` for valid values.",
                    "properties": {
                      "id": {
                        "type": "number",
                        "format": "id32",
                        "description": "Identifier of the dividend type."
                      }
                    }
                  }
                }
              }
            },
            "required": [
              "identifier"
            ]
          },
          "meta": {
            "type": "object",
            "description": "The meta member contains the meta information of the request.",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AttributesMember"
              },
              "language": {
                "$ref": "#/components/schemas/LanguageMember"
              },
              "sort": {
                "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 4 (possibly prefixed) attribute name(s) is allowed.",
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "dividends.dates.announcement",
                    "-dividends.dates.announcement",
                    "dividends.dates.record",
                    "-dividends.dates.record",
                    "dividends.dates.effective",
                    "-dividends.dates.effective",
                    "dividends.dates.payment",
                    "-dividends.dates.payment"
                  ]
                },
                "maxItems": 4,
                "uniqueItems": true,
                "default": [
                  "dividends.dates.payment"
                ]
              }
            }
          }
        }
      },
      "PostStockNotationRankingIntradayListRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "prices": {
                "description": "Price-related parameters.",
                "type": "object",
                "properties": {
                  "quality": {
                    "type": "string",
                    "description": "Quality of the trade-related attributes, see attributes `trade` and `accumulated` in the response.",
                    "default": "DLY",
                    "enum": [
                      "RLT",
                      "DLY"
                    ]
                  }
                }
              },
              "currency": {
                "description": "Currency of the notations in the result.",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identifier of the currency. See endpoint `/basic/valueUnit/currency/list` for valid values.",
                    "type": "number",
                    "format": "id32"
                  }
                }
              },
              "market": {
                "description": "Market-related parameters. See endpoint `/basic/market/list` for valid values.",
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "List of market identifiers where a stock may be traded. The list restricts the request to only those markets.",
                    "type": "array",
                    "nullable": false,
                    "items": {
                      "type": "number",
                      "format": "id32"
                    },
                    "uniqueItems": true,
                    "maxItems": 20
                  },
                  "priority": {
                    "description": "Sequence of market identifiers defining the priority order (array entries with a lower index have a higher priority) of the markets for the returned notation. The list does not restrict the request to only those markets.",
                    "type": "object",
                    "properties": {
                      "ids": {
                        "description": "List of market identifiers.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "id32"
                        },
                        "uniqueItems": true,
                        "maxItems": 100
                      }
                    }
                  }
                }
              },
              "instrumentRestrictionList": {
                "description": "Instrument-level restriction. If present, the result contains only stocks that are a member of at least one of the provided lists.",
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "List of identifiers of restriction lists.",
                    "type": "array",
                    "nullable": false,
                    "items": {
                      "type": "number",
                      "format": "id32"
                    },
                    "uniqueItems": true,
                    "maxItems": 3
                  }
                }
              },
              "notationRestrictionList": {
                "description": "Notation-level restriction. If present, the result contains only stocks that are a member of at least one of the provided lists.",
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "List of identifiers of restriction lists.",
                    "type": "array",
                    "nullable": false,
                    "items": {
                      "type": "number",
                      "format": "id32"
                    },
                    "uniqueItems": true,
                    "maxItems": 3
                  }
                }
              },
              "industryClassification": {
                "description": "Only stocks that belong to at least one industry in the provided list will be returned. Here, an industry is a category from any level of category system 48 (FactSet Revere Business Industry Classification System (RBICS)).",
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "List of category identifiers. See endpoint `/category/listBySystem` for category system 48 for valid values.",
                    "type": "array",
                    "nullable": false,
                    "items": {
                      "type": "number",
                      "format": "id32"
                    },
                    "uniqueItems": true,
                    "maxItems": 20
                  }
                }
              },
              "company": {
                "description": "Company-related parameters.",
                "type": "object",
                "properties": {
                  "country": {
                    "description": "Only stocks issued by a company whose head office is located in a country in the provided list will be returned.",
                    "type": "object",
                    "properties": {
                      "ids": {
                        "description": "List of country identifiers. See endpoint `/basic/region/country/list` for valid values.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "id32"
                        },
                        "uniqueItems": true,
                        "maxItems": 20
                      }
                    }
                  }
                }
              },
              "indexMembership": {
                "description": "List of indices of which a stock is a constituent. The list restricts the request to return only those stocks that are a constituent of one of the specified indices.",
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "List of index instrument identifiers.",
                    "type": "array",
                    "nullable": false,
                    "items": {
                      "type": "string",
                      "format": "id64"
                    },
                    "uniqueItems": true,
                    "maxItems": 20
                  },
                  "useAlternativeNotation": {
                    "description": "Specifies whether an alternative notation of a constituent shall be retrieved if the market of the original notation is currently closed or if the user is not entitled for the market of the original notation. The alternative notation is the one with the highest trading volume averaged over one month that satisfies all other selected filters, such as only a specific market or a specific currency. If the original notation is not entitled and a currency has not been specified, the alternative notation may be in a different currency than the original one which makes the ranking less meaningful, especially a trading value-based ranking, see attribute `accumulated.tradingValue` in the response.",
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "performance": {
                "type": "object",
                "description": "Performance of the most recent price calculated against the latest price which has occurred before the start of the current trading day.\n",
                "properties": {
                  "relative": {
                    "type": "object",
                    "format": "relativeValueRange",
                    "properties": {
                      "minimum": {
                        "type": "object",
                        "description": "The minimum of the range, or `null` to indicate that there is no minimum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "The minimum value."
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the minimum value is included in the range or not.",
                            "default": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "maximum": {
                        "type": "object",
                        "description": "The maximum of the range, or `null` to indicate that there is no maximum.",
                        "properties": {
                          "value": {
                            "type": "number",
                            "format": "relativeValue",
                            "description": "The maximum value."
                          },
                          "inclusive": {
                            "type": "boolean",
                            "description": "Indicates whether the maximum value is included in the range or not.",
                            "default": true
                          }
                        },
                        "required": [
                          "value"
                        ]
                      }
                    },
                    "description": "Value range for the relative performance."
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "description": "The meta member contains the meta information of the request.",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AttributesMember"
              },
              "language": {
                "$ref": "#/components/schemas/LanguageMember"
              },
              "sort": {
                "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.",
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "trade.performance.absolute",
                    "-trade.performance.absolute",
                    "trade.performance.relative",
                    "-trade.performance.relative",
                    "accumulated.numberTrades",
                    "-accumulated.numberTrades",
                    "accumulated.tradingVolume",
                    "-accumulated.tradingVolume",
                    "accumulated.tradingValue",
                    "-accumulated.tradingValue"
                  ]
                },
                "maxItems": 5,
                "uniqueItems": true,
                "default": [
                  "-trade.performance.relative"
                ]
              },
              "pagination": {
                "type": "object",
                "description": "Pagination attributes for the offset-based pagination strategy.",
                "properties": {
                  "offset": {
                    "type": "number",
                    "format": "int32",
                    "minimum": 0,
                    "exclusiveMinimum": false,
                    "default": 0,
                    "description": "Non-negative number of entries to skip, or 0 (default)."
                  },
                  "limit": {
                    "type": "number",
                    "format": "int32",
                    "minimum": 0,
                    "exclusiveMinimum": false,
                    "maximum": 100,
                    "exclusiveMaximum": false,
                    "default": 20,
                    "description": "Non-negative maximum number of entries to return."
                  }
                }
              }
            }
          }
        }
      },
      "PostStockNotationScreenerSearchRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The data member contains the request's primary data.",
            "properties": {
              "validation": {
                "description": "Validation parameters.",
                "type": "object",
                "properties": {
                  "onlyActive": {
                    "description": "If `true`, only active notations will be returned. The term \"active\" reflects the fact that notations and related data are not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.",
                    "type": "boolean",
                    "default": true
                  },
                  "onlyNotSuspended": {
                    "description": "If `true`, only notations not suspended from trading will be returned.",
                    "type": "boolean",
                    "default": false
                  },
                  "prices": {
                    "description": "Price-related parameters.",
                    "type": "object",
                    "properties": {
                      "quality": {
                        "type": "string",
                        "description": "Quality of the price.",
                        "default": "DLY",
                        "enum": [
                          "DLY",
                          "EOD"
                        ]
                      },
                      "latest": {
                        "description": "Parameters related to the presence and age of the most recent trade price.",
                        "type": "object",
                        "properties": {
                          "availableOnly": {
                            "description": "If `true`, only notations for which a trade price (even an outdated one) is available will be returned.",
                            "type": "boolean"
                          },
                          "minimumDate": {
                            "description": "Earliest admissible date of the most recent trade price.",
                            "type": "string",
                            "format": "date"
                          }
                        }
                      },
                      "previous": {
                        "description": "Parameters related to the presence and age of a trade price from a preceding trading day.",
                        "type": "object",
                        "properties": {
                          "availableOnly": {
                            "description": "If `true`, only notations for which a trade price from a preceding trading day is available will be returned.",
                            "type": "boolean"
                          },
                          "minimumDate": {
                            "description": "Earliest admissible date of the trade price from a preceding trading day.",
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  },
                  "valueUnit": {
                    "description": "Value unit selection. See endpoint `/basic/valueUnit/list` for valid values.",
                    "type": "object",
                    "properties": {
                      "restrict": {
                        "description": "Specifies the value units a notation may have.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of value unit identifiers.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 50
                          }
                        }
                      },
                      "exclude": {
                        "description": "Specifies the value units a notation may not have.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of value unit identifiers.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 50
                          }
                        }
                      }
                    }
                  },
                  "market": {
                    "description": "Market-related notation selection. See endpoint `/basic/market/list` for valid values.",
                    "type": "object",
                    "properties": {
                      "selection": {
                        "description": "Market selection.",
                        "type": "object",
                        "properties": {
                          "restrict": {
                            "description": "Specifies the markets from which a notation may originate.",
                            "type": "object",
                            "properties": {
                              "ids": {
                                "description": "Set of market identifiers.",
                                "type": "array",
                                "nullable": false,
                                "items": {
                                  "type": "number",
                                  "format": "id32"
                                },
                                "uniqueItems": true,
                                "maxItems": 100
                              }
                            }
                          },
                          "exclude": {
                            "description": "Specifies the markets from which a notation may not originate.",
                            "type": "object",
                            "properties": {
                              "ids": {
                                "description": "Set of market identifiers.",
                                "type": "array",
                                "nullable": false,
                                "items": {
                                  "type": "number",
                                  "format": "id32"
                                },
                                "uniqueItems": true,
                                "maxItems": 100
                              }
                            }
                          }
                        }
                      },
                      "priority": {
                        "description": "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose).",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "List of market identifiers.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 100
                          }
                        }
                      }
                    }
                  },
                  "instrumentSelectionList": {
                    "description": "Instrument-level restriction or exclusion.",
                    "type": "object",
                    "properties": {
                      "restrict": {
                        "description": "Restriction lists. If present, the result contains only notations belonging to stock instruments that are a member of any of the provided lists.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of identifiers of restriction lists.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 3
                          }
                        }
                      },
                      "exclude": {
                        "description": "Exclusion lists. If present, the result does not contain notations belonging to stock instruments that are a member of any of the provided lists.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of identifiers of exclusion lists.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 3
                          }
                        }
                      }
                    }
                  },
                  "notationSelectionList": {
                    "description": "Notation-level restriction or exclusion.",
                    "type": "object",
                    "properties": {
                      "restrict": {
                        "description": "Restriction lists. If present, the result contains only stock notations that are a member of any of the provided lists.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of identifiers of restriction lists.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 3
                          }
                        }
                      },
                      "exclude": {
                        "description": "Exclusion lists. If present, the result does not contain stock notations that are a member of any of the provided lists.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of identifiers of exclusion lists.",
                            "type": "array",
                            "nullable": false,
                            "items": {
                              "type": "number",
                              "format": "id32"
                            },
                            "uniqueItems": true,
                            "maxItems": 3
                          }
                        }
                      }
                    }
                  }
                }
              },
              "stockType": {
                "description": "Type of stock.",
                "type": "array",
                "nullable": false,
                "items": {
                  "type": "string",
                  "enum": [
                    "common",
                    "preferred",
                    "depositoryReceipt",
                    "other"
                  ]
                },
                "uniqueItems": true
              },
              "industryClassification": {
                "description": "Industry classification. Here, an industry is a category from any level of category system FactSet Revere Business Industry Classification System (RBICS), see endpoint `/category/listBySystem` with `id=48` for valid values.",
                "type": "object",
                "properties": {
                  "restrict": {
                    "description": "Restriction list. Only stocks that belong to a category in the provided list are returned.",
                    "type": "object",
                    "properties": {
                      "ids": {
                        "description": "Set of category identifiers.",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "id32"
                        },
                        "maxItems": 100
                      }
                    }
                  },
                  "exclude": {
                    "description": "Exclusion list. Stocks that belong to a category in the provided list are not returned.",
                    "type": "object",
                    "properties": {
                      "ids": {
                        "description": "Set of category identifiers. ",
                        "type": "array",
                        "nullable": false,
                        "items": {
                          "type": "number",
                          "format": "id32"
                        },
                        "maxItems": 100
                      }
                    }
                  }
                }
              },
              "company": {
                "description": "Company-related parameters.",
                "type": "object",
                "properties": {
                  "country": {
                    "description": "Country of the head office of a company. See endpoint `/basic/region/country/list` for valid values.",
                    "type": "object",
                    "properties": {
                      "restrict": {
                        "description": "Restriction list. Only stocks issued by a company whose head office is located in a country in the provided list are returned.",
                        "type": "object",
                        "properties": {
                          "ids": {
                            "description": "Set of country identifiers.",
                            "type": "array",
                            "nullable": false,
                            "items": {
[...]
