openapi: 3.0.0
info:
  version: 2.0.0
  title: FactSet Symbology API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  description: >
    The FactSet Symbology API provides symbol resolution services, allowing
    clients to translate market identifiers into various symbology

    types. various market symbology types such as, FactSet Permanent
    Identifiers, CUSIP, ISIN, 

    SEDOL, Tickers, and Bloomberg FIGIs. 


    Factset's Symbology API sits at the center of its hub-and-spoke data model,
    enabling you to quickly 

    harmonize the expanding catalog of Content APIs. Translate market IDs into
    CUSIP, SEDOL, ISIN, Tickers as a point in time or for the entire

    history of the requested id allowing Data Management workflows to normalize
    ids over time. Additionally, the Symbology API provides 

    translation of market ids into Bloomberg FIGI.
servers:
  - url: https://api.factset.com/content
    description: Production
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
paths:
  /symbology/v1/factset:
    get:
      tags:
        - FactSet
      summary: Translate market security symbols into FactSet Permanent Identifiers.
      operationId: translateFactset
      description: >-
        Translate market security symbols into FactSet Permanent Security
        Identifiers. The permanent identifier provides a unique record key and a
        convenient way to link across content sets. Additionally, if your firm
        does not have licenses for the symbol systems (e.g., CUSIP, SEDOL,
        ISIN), the permanent identifier provides a way to deliver security and
        listing-level data. <p>*GET Method is limited by URL Length of 2,048
        characters. If a large universe of symbols is requested, it's advised to
        use POST method to retrieve the same response model.*</P><p>**This
        endpoint is included with all other Content API packages.**</p>
      parameters:
        - $ref: '#/components/parameters/getIds'
      responses:
        '200':
          description: >-
            Successful response of Market IDs translated into FactSet Permanent
            Identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/factsetTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleFactsetTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleFactsetTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - FactSet
      summary: Translate market security symbols into FactSet Permanent Identifiers.
      description: >-
        Translate market security symbols into FactSet Permanent Security
        Identifiers. The permanent identifier provides a unique record key and a
        convenient way to link across content sets. Additionally, if your firm
        does not have licenses for the symbol systems (e.g., CUSIP, SEDOL,
        ISIN), the permanent identifier provides a way to deliver security and
        listing-level data.
      operationId: batchTranslateFactset
      requestBody:
        description: Request Body for FactSet Symbology Translation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/factsetTranslationRequest'
            examples:
              Translate Single Market ID to FactSet ID:
                $ref: '#/components/examples/singleFactsetTranslationPost'
              Translate Multiple Market IDs to FactSet IDs:
                $ref: '#/components/examples/multipleFactsetTranslationPost'
        required: true
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/factsetTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleFactsetTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleFactsetTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/cusip:
    get:
      tags:
        - CUSIP
      summary: Translate market security symbols into CUSIP.
      operationId: translateCusip
      description: >-
        Translate market security symbols into CUSIP and FactSet Permanent
        Identifiers. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094)
        for more details regarding the CUSIP numbering system. <p>*GET Method is
        limited by URL Length of 2,048 characters. If a large universe of
        symbols is requested, it's advised to use POST method to retrieve the
        same response model.*</P>
      parameters:
        - $ref: '#/components/parameters/getIds'
        - $ref: '#/components/parameters/getAsOfDate'
      responses:
        '200':
          description: Successful response of Market IDs translated into CUSIPs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cusipTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleCusipTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleCusipTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - CUSIP
      summary: Translate market security symbols into CUSIP.
      description: >-
        Translate market security symbols into CUSIP and FactSet Permanent
        Identifiers. Visit [OA 9094](https://my.apps.factset.com/oa/pages/9094)
        for more details regarding the CUSIP numbering system. <p>This method is
        best for requesting **large universes** of `ids`.</p>
      operationId: batchTranslateCusips
      requestBody:
        description: Request Body for CUSIP Symbology Translation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cusipTranslationRequest'
            examples:
              Translate Single Market Identifier to CUSIP:
                $ref: '#/components/examples/singleCusipTranslationPost'
              Translate Multiple Market Identifiers CUSIP:
                $ref: '#/components/examples/multipleCusipTranslationPost'
        required: true
      responses:
        '200':
          description: Symbol Translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cusipTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleCusipTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleCusipTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/cusip-history:
    get:
      tags:
        - CUSIP
      summary: Retrieve the full history of CUSIP changes for the requested ID(s).
      operationId: cusipHistory
      description: >-
        Return the full history of CUSIP changes for a given market security or
        FactSet Permanent Id. Visit [OA
        9094](https://my.apps.factset.com/oa/pages/9094) for more details
        regarding the CUSIP numbering system.  <p>*GET Method is limited by URL
        Length of 2,048 characters. If a large universe of symbols is requested,
        it's advised to use POST method to retrieve the same response
        model.*</P>
      parameters:
        - $ref: '#/components/parameters/getIds'
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cusipHistoryTranslationResponse'
              examples:
                CUSIP History for GOOGL:
                  $ref: '#/components/examples/singleCusipHistory'
                CUSIP History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleCusipHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - CUSIP
      summary: Retrieve the full history of CUSIP changes for the requested ID(s).
      description: >
        Return the full history of CUSIP changes for a given market security or
        FactSet Permanent Id. Visit [OA
        9094](https://my.apps.factset.com/oa/pages/9094) for more details
        regarding the CUSIP numbering system.
      operationId: batchCusipHistory
      requestBody:
        description: Request Body for CUSIP History
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cusipHistoryTranslationRequest'
            examples:
              CUSIP History for Single Market ID:
                $ref: '#/components/examples/singleCusipHistoryPost'
              CUSIP History for Multiple Market IDs:
                $ref: '#/components/examples/multipleCusipHistoryPost'
        required: true
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cusipHistoryTranslationResponse'
              examples:
                CUSIP History for GOOGL:
                  $ref: '#/components/examples/singleCusipHistory'
                CUSIP History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleCusipHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/sedol:
    get:
      tags:
        - SEDOL
      summary: Translate market security symbols into SEDOL.
      operationId: translateSedol
      description: >
        Translate market security symbols into SEDOL and FactSet Permanent
        Identifiers. Visit [OA
        3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more
        details regarding the SEDOL numbering system.
      parameters:
        - $ref: '#/components/parameters/getIds'
        - $ref: '#/components/parameters/getAsOfDate'
      responses:
        '200':
          description: Successful response of Market IDs translated into SEDOL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sedolTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleSedolTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleSedolTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - SEDOL
      summary: Translate market security symbols into SEDOL.
      description: >
        Translate market security symbols into SEDOL and FactSet Permanent
        Identifiers. Visit [OA
        3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more
        details regarding the SEDOL numbering system.
      operationId: batchTranslateSedol
      requestBody:
        description: Request Body for SEDOL Symbology Translation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sedolTranslationRequest'
            examples:
              Translate Single Market Identifier to SEDOL:
                $ref: '#/components/examples/singleSedolTranslationPost'
              Translate Multiple Market Identifiers SEDOL:
                $ref: '#/components/examples/multipleSedolTranslationPost'
        required: true
      responses:
        '200':
          description: Symbol Translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sedolTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleSedolTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleSedolTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/sedol-history:
    get:
      tags:
        - SEDOL
      summary: Retrieve the full history of SEDOL changes for the requested ID(s).
      operationId: sedolHistory
      description: >
        Returns the full history of SEDOL changes for a given security or list
        of securities. Visit [OA
        3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more
        details.
      parameters:
        - $ref: '#/components/parameters/getIds'
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sedolHistoryTranslationResponse'
              examples:
                SEDOL History for GOOGL:
                  $ref: '#/components/examples/singleSedolHistory'
                SEDOL History for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleSedolHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - SEDOL
      summary: Retrieve the full history SEDOL changes for a requested ID.
      description: >
        Return the full history of SEDOL changes for a given market security or
        FactSet Permanent Id. Visit [OA
        3938](https://my.apps.factset.com/oa/pages/3938%23sedol) for more
        details regarding the SEDOL numbering system.
      operationId: batchSedolHistory
      requestBody:
        description: Request Body for SEDOL History
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sedolHistoryTranslationRequest'
            examples:
              SEDOL History Single Market ID:
                $ref: '#/components/examples/singleSedolHistoryPost'
              SEDOL History for Multiple Market IDs:
                $ref: '#/components/examples/multipleSedolHistoryPost'
        required: true
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sedolHistoryTranslationResponse'
              examples:
                SEDOL History for GOOGL:
                  $ref: '#/components/examples/singleSedolHistory'
                SEDOL History for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleSedolHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/isin:
    get:
      tags:
        - ISIN
      summary: Translate market security symbols into ISIN.
      operationId: translateIsin
      description: >
        Translate market security symbols into ISIN and FactSet Permanent
        Identifiers. 
      parameters:
        - $ref: '#/components/parameters/getIds'
        - $ref: '#/components/parameters/getAsOfDate'
      responses:
        '200':
          description: Successful response of Market IDs translated into ISIN.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/isinTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleIsinTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleIsinTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - ISIN
      summary: Translate market security symbols into ISIN.
      description: >
        Translate market security symbols into ISIN and FactSet Permanent
        Identifiers.
      operationId: batchTranslateIsin
      requestBody:
        description: Request Body for ISIN Symbology Translation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/isinTranslationRequest'
            examples:
              Translate Single Market Identifier to ISIN:
                $ref: '#/components/examples/singleIsinTranslationPost'
              Translate Multiple Market Identifiers ISIN:
                $ref: '#/components/examples/multipleIsinTranslationPost'
        required: true
      responses:
        '200':
          description: Symbol Translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/isinTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleIsinTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleIsinTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/isin-history:
    get:
      tags:
        - ISIN
      summary: >-
        Retrieve the full history or as of a specific date of ISIN changes for
        the requested ID(s).
      operationId: isinHistory
      description: |
        Returns the full history of ISIN changes for a given security.
      parameters:
        - $ref: '#/components/parameters/getIds'
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/isinHistoryTranslationResponse'
              examples:
                ISIN History for GOOGL:
                  $ref: '#/components/examples/singleIsinHistory'
                ISIN History for GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleIsinHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - ISIN
      summary: >-
        Retrieve the full history or as of a specific date of ISIN changes for a
        requested ID.
      description: >
        Return the full history of ISIN changes for a given market security or
        FactSet Permanent Id.
      operationId: batchIsinHistory
      requestBody:
        description: Request Body for ISIN History
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/isinHistoryTranslationRequest'
            examples:
              ISIN History Single Market ID:
                $ref: '#/components/examples/singleIsinHistoryPost'
              ISIN History for Multiple Market IDs:
                $ref: '#/components/examples/multipleIsinHistoryPost'
        required: true
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/isinHistoryTranslationResponse'
              examples:
                ISIN History for GOOGL:
                  $ref: '#/components/examples/singleIsinHistory'
                ISIN History for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleIsinHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/ticker:
    get:
      tags:
        - Ticker
      summary: Returns the Ticker-Exchange or Ticker-Region for a given security.
      operationId: translateTicker
      description: |
        Returns the Ticker-Exchange or Ticker-Region for a given security.
      parameters:
        - $ref: '#/components/parameters/getIds'
        - $ref: '#/components/parameters/getTickerType'
        - $ref: '#/components/parameters/getAsOfDate'
      responses:
        '200':
          description: >-
            Successful response of Ticker-Exchange or Ticker-Region for a given
            security.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickerTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleTickerTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleTickerTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Ticker
      summary: Returns the Ticker-Exchange or Ticker-Region for a given security.
      description: >
        Returns the full history of Ticker-Exchange or Ticker-Region changes for
        a requested security.
      operationId: batchTranslateTicker
      requestBody:
        description: Request Body for Ticker History
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tickerTranslationRequest'
            examples:
              Translate Single Market Identifier to Ticker:
                $ref: '#/components/examples/singleTickerTranslationPost'
              Translate Multiple Market Identifiers Ticker:
                $ref: '#/components/examples/multipleTickerTranslationPost'
        required: true
      responses:
        '200':
          description: Symbol Translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickerTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleTickerTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleTickerTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/ticker-history:
    get:
      tags:
        - Ticker
      summary: >-
        Returns the full history of Ticker-Exchange or Ticker-Region changes for
        a requested security.
      operationId: tickerHistory
      description: >
        Return the full history of Ticker changes for a given market security or
        FactSet Permanent Id.
      parameters:
        - $ref: '#/components/parameters/getIds'
        - $ref: '#/components/parameters/getTickerType'
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickerHistoryTranslationResponse'
              examples:
                Ticker History since Jan. 1st 2010 for GOOGL:
                  $ref: '#/components/examples/singleTickerHistory'
                Ticker History since Jan. 1st 2010 for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleTickerHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Ticker
      summary: >-
        Returns the full history of Ticker-Exchange or Ticker-Region changes for
        a requested security.
      description: >
        Returns the full history of Ticker-Exchange or Ticker-Region changes for
        a requested security.
      operationId: batchTickerHistory
      requestBody:
        description: Request Body for Ticker History
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tickerHistoryTranslationRequest'
            examples:
              Ticker History since Jan. 1st 2010 for Single Market ID:
                $ref: '#/components/examples/singleTickerHistoryPost'
              Ticker History since Jan. 1st 2010 for Multiple Market IDs:
                $ref: '#/components/examples/multipleTickerHistoryPost'
        required: true
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tickerHistoryTranslationResponse'
              examples:
                Ticker History since Jan. 1st 2010 for GOOGL:
                  $ref: '#/components/examples/singleTickerHistory'
                Ticker History since Jan. 1st 2010 for multiple GOOGL, AAPL, MSFT:
                  $ref: '#/components/examples/multipleTickerHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /symbology/v1/bloomberg:
    get:
      tags:
        - Bloomberg FIGI
      summary: Translate FactSet symbols into Bloomberg Identifiers.
      operationId: translateBloomberg
      description: >-
        Returns the current security, composite, regional Bloomberg (FIGI)
        unique identifiers.
      parameters:
        - $ref: '#/components/parameters/getIds'
      responses:
        '200':
          description: >-
            Successful response of Ticker-Exchange or Ticker-Region for a given
            security.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bloombergTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleBloombergTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleBloombergTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Bloomberg FIGI
      summary: Translate market security symbols into Bloomberg Identifiers.
      description: >-
        Returns the current security, composite, and regional identifiers from
        Bloomberg. <p>This method is best for requesting **large universes** of
        `ids`.</p><p>**This endpoint is included with all other Content API
        packages.**</p>
      operationId: batchTranslateBloomberg
      requestBody:
        description: Request Body for Bloomberg FIGIs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bloombergTranslationRequest'
            examples:
              Translate Single Market Identifier to Bloomberg:
                $ref: '#/components/examples/singleBloombergTranslationPost'
              Translate Multiple Market Identifiers Bloomberg:
                $ref: '#/components/examples/multipleBloombergTranslationPost'
        required: true
      responses:
        '200':
          description: Symbol Translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bloombergTranslationResponse'
              examples:
                Translate Single Market Identifier:
                  $ref: '#/components/examples/singleBloombergTranslation'
                Translate Multiple Market Identifiers:
                  $ref: '#/components/examples/multipleBloombergTranslation'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters:
    getIds:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: >-
        Requested market securities or entities. Accepted identifiers include
        all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
        Tickers. This request value is sent back in the response as,
        `requestId`.
      examples:
        singleMarketId:
          summary: One Market Identifier
          value:
            - GOOGL-US
        multipleMarketIds:
          summary: Multiple Market Identifiers
          value:
            - GOOGL-US
            - AAPL-US
            - MSFT-US
    getAsOfDate:
      name: asOfDate
      in: query
      schema:
        type: string
      required: false
      description: As-Of date for historical symbol request in YYYY-MM-DD format.
      example: '2010-01-01'
    getTickerType:
      name: tickerType
      in: query
      schema:
        type: string
        enum:
          - REGION
          - EXCHANGE
        default: REGION
      description: >
        Controls the Ticker Type returned. The only accepted parameter values
        are REGION or EXCHANGE.
          * **REGION** = Ticker-Regional (e.g. GOOGL-US)
          * **EXCHANGE** = TIcker-Exchange (e.g. GOOGL-NAS)
      examples:
        Regional:
          summary: REGION - Ticker-Regional ID
          value: REGION
        Exchange:
          summary: EXCHANGE - Ticker-Exchange ID
          value: EXCHANGE
  schemas:
    factsetTranslationRequest:
      title: FactSet Translation Request
      description: Request object for FactSet endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
      required:
        - ids
    factsetTranslationResponse:
      title: FactSet Translation Response
      description: Response object for FactSet endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/factsetTranslation'
    factsetTranslation:
      title: FactSet Translation
      description: FactSet Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: NSXGVV-L
        fsymSecurityId:
          type: string
          description: >-
            FactSet Security Identifier. Six alpha-numeric characters, excluding
            vowels, with an -S suffix (XXXXXX-S). All equity and fixed income
            securities that exist on FactSet are allocated a security-level
            permanent identifier. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: X0MHD2-S
        fsymRegionalId:
          type: string
          description: >-
            FactSet Regional Security Identifier. Six alpha-numeric characters,
            excluding vowels, with an -R suffix (XXXXXX-R). Identifies the
            security’s best regional security data series per currency. For
            equities, all primary listings per region and currency are allocated
            a regional-level permanent identifier. The regional-level permanent
            identifier will be available once a SEDOL representing the
            region/currency has been allocated and the identifiers are on
            FactSet. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: BL5KVX-R
        fsymListingId:
          type: string
          description: >-
            FactSet Listing Security Identifier. Six alpha-numeric characters,
            vowels excluded, with an -L suffix (XXXXXX-L). The listing-level
            permanent identifier will be available prior to the end of trading
            on the first day of trading. Does not populate for composite ids
            (i.e. '-USA') since these are not specified listing exchanges.
            [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: NSXGVV-L
        fsymEntityId:
          type: string
          description: >-
            FactSet Entity Identifier (-E). For more information on Entity Ids,
            visit [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: 000F9X-E
        fsymTickerExchange:
          type: string
          description: >-
            FactSet exchange ticker symbol. For definitions of Exchange Codes,
            visit [Online Assistant Page
            #12544](https://oa.apps.factset.com/pages/12544).
          example: COST-USA
        fsymTickerRegion:
          type: string
          description: >-
            FactSet region ticker symbol. For details on Global Region Codes,
            visit [Online Assistant Page
            #13258](https://oa.apps.factset.com/pages/13258)
          example: COST-US
        frefListingExchange:
          type: string
          description: >-
            Primary Listing Exchange Code. For details on Exchange Code
            Definitions, visit [Online Assistant Page
            #12544](https://oa.apps.factset.com/pages/12544) 
          example: NAS
        currency:
          type: string
          description: >-
            Three character ISO Currency code. For details on ISO Currency Code
            definitions, visit [Online Assistant Page
            #1470](https://oa.apps.factset.com/pages/1470)
          example: USD
        securityType:
          type: string
          description: >-
            Returns security types for equities. For definitions of Security
            Types, visit [Online Assistant Page
            #15776](https://oa.apps.factset.com/pages/15776)
          example: SHARE
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Costco Wholesale Corporation
        requestId:
          type: string
          description: Identifier specified in the `ids` parameter of the request.
          example: COST
    cusipTranslationRequest:
      title: CUSIP Translation Request
      description: Request object for CUSIP Translation endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
        asOfDate:
          $ref: '#/components/schemas/getAsOfDate'
      required:
        - ids
    cusipTranslationResponse:
      title: CUSIP Translation Response
      description: Response object for CUISP Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/cusipTranslation'
    cusipTranslation:
      title: CUSIP Translation
      description: CUISP Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        cusip:
          type: string
          description: CUSIP with Check Digit
          example: 38259P508
        cusipEffectiveStartDate:
          type: string
          description: >-
            The effective start date in which the CUSIP was valid for the
            security.
          example: '2004-08-19'
        cusipEffectiveEndDate:
          type: string
          description: >-
            The effective end date in which the CUSIP was valid. If null, the
            CUSIP is still active for the security and date requested.
          example: '2015-10-05'
        asOfDate:
          type: string
          format: date
          description: >-
            The effective end date in which the CUSIP was valid. If null, the
            CUSIP is still active for the security and date requested.
          example: '2010-01-01'
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    cusipHistoryTranslationRequest:
      title: CUSIP history Translation Request
      description: Request object for CUSIP Translation endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
      required:
        - ids
    cusipHistoryTranslationResponse:
      title: CUSIP History Translation Response
      description: Response object for CUISP Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/cusipHistoryTranslation'
    cusipHistoryTranslation:
      title: CUSIP history Translation
      description: CUISP history Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        cusip:
          type: string
          description: CUSIP with Check Digit
          example: 38259P508
        cusipEffectiveStartDate:
          type: string
          format: date
          description: CUSIP effective start date in YYYY-MM-DD format.
          example: '2004-08-19'
        cusipEffectiveEndDate:
          type: string
          format: date
          description: CUSIP effective end date in YYYY-MM-DD format. Null if still active.
          example: '2015-10-05'
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    sedolTranslationRequest:
      title: SEDOL Translation Request
      description: Request object for SEDOL Translation endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
        asOfDate:
          $ref: '#/components/schemas/getAsOfDate'
      required:
        - ids
    sedolTranslationResponse:
      title: SEDOL Translation Response
      description: Response object for SEDOL Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/sedolTranslation'
    sedolTranslation:
      title: SEDOL Translation
      description: SEDOL Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        sedol:
          type: string
          description: SEDOL
          example: B020QX2
        sedolEffectiveStartDate:
          type: string
          description: >-
            The effective start date in which the CUSIP was valid for the
            security.
          example: '2004-08-19'
        sedolEffectiveEndDate:
          type: string
          description: >-
            The effective end date in which the Sedol was valid. If null, the
            Sedol is still active for the security and date requested.
          example: '2015-10-05'
        asOfDate:
          type: string
          format: date
          description: The reqeuested date for the symbol.
          example: '2010-01-01'
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL-US
    sedolHistoryTranslationRequest:
      title: SEDOL History Translation Request
      description: Request object for SEDOL Translation endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
      required:
        - ids
    sedolHistoryTranslationResponse:
      title: SEDOL Translation Response
      description: Response object for SEDOL Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/sedolHistoryTranslation'
    sedolHistoryTranslation:
      title: SEDOL History Translation
      description: SEDOL History Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        sedol:
          type: string
          description: SEDOL
          example: B020QX2
        sedolEffectiveStartDate:
          type: string
          format: date
          description: SEDOL effective start date in YYYY-MM-DD format.
          example: '2004-08-19'
        sedolEffectiveEndDate:
          type: string
          format: date
          description: SEDOL effective end date in YYYY-MM-DD format. Null if still active.
          example: '2015-10-05'
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    isinTranslationRequest:
      title: ISIN Translation Request
      description: Request object for ISIN Translation endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
        asOfDate:
          $ref: '#/components/schemas/getAsOfDate'
      required:
        - ids
    isinTranslationResponse:
      title: ISIN Translation Response
      description: Response object for ISIN Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/isinTranslation'
    isinTranslation:
      title: ISIN Translation
      description: ISIN Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        isin:
          type: string
          description: ISIN
          example: US38259P5089
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    isinHistoryTranslationRequest:
      title: ISIN History Translation Request
      description: Request object for ISIN History endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
      required:
        - ids
    isinHistoryTranslationResponse:
      title: ISIN History Translation Response
      description: Response object for ISIN Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/isinHistoryTranslation'
    isinHistoryTranslation:
      title: ISIN History Translation
      description: ISIN History Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        isin:
          type: string
          description: ISIN
          example: US38259P5089
        isinEffectiveStartDate:
          type: string
          format: date
          description: ISIN effective start date in YYYY-MM-DD format.
          example: '2004-08-19'
        isinEffectiveEndDate:
          type: string
          format: date
          description: ISIN effective end date in YYYY-MM-DD format. Null if still active.
          example: '2015-10-05'
        asOfDate:
          type: string
          format: date
          description: As of Date in YYYY-MM-DD format.
          example: '2010-12-31'
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    tickerTranslationRequest:
      title: Ticker Translation Request
      description: Request object for Ticker endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
        tickerType:
          $ref: '#/components/schemas/getTickerType'
        asOfDate:
          $ref: '#/components/schemas/getAsOfDate'
      required:
        - ids
        - tickerType
    tickerTranslationResponse:
      title: Ticker Translation Response
      description: Response object for Ticker Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/tickerTranslation'
    tickerTranslation:
      title: Ticker Translation
      description: Ticker Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        ticker:
          type: string
          description: Region or Exchange Ticker
          example: GOOGL-US
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    tickerHistoryTranslationRequest:
      title: Ticker History Translation Request
      description: Request object for Ticker endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
        tickerType:
          $ref: '#/components/schemas/getTickerType'
      required:
        - ids
        - tickerType
    tickerHistoryTranslationResponse:
      title: Ticker History Translation Response
      description: Response object for Ticker History endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/tickerHistoryTranslation'
    tickerHistoryTranslation:
      title: Ticker History Translation
      description: Ticker History Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: HTM0LK-R
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Alphabet Inc. Class A
        ticker:
          type: string
          description: Region or Exchange Ticker
          example: GOOGL-US
        tickerEffectiveStartDate:
          type: string
          format: date
          description: Ticker effective start date in YYYY-MM-DD format.
          example: '2014-04-03'
        asOfDate:
          type: string
          format: date
          description: As of Date in YYYY-MM-DD format.
          example: '2010-12-31'
        requestId:
          type: string
          description: Identifier specified in the request
          example: GOOGL
    bloombergTranslationRequest:
      title: Bloomberg Translation Request
      description: Request object for Bloomberg Translation endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIds'
      required:
        - ids
    bloombergTranslationResponse:
      title: Bloomberg Translation Response
      description: Response object for Symbol Translation endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/bloombergTranslation'
    bloombergTranslation:
      title: Bloomberg Translation
      description: Symbol Translation data object.
      type: object
      properties:
        fsymId:
          type: string
          description: >-
            FactSet Default Permanent Identifier. Regional and Composite (-USA)
            request `ids` will use a Regional ID '-R', Listing specific ids
            '-NYS' will use Listing ids '-L', Entities will use '-E', and FI
            will use security '-S' ids. [FactSet Permanent Security
            Identifier](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881)
          example: NSXGVV-L
        name:
          type: string
          description: Proper Name of company or issuer.
          example: Costco Wholesale Corporation
        bbgSecurityId:
          type: string
          description: Bloomberg Security Identifier.
          example: BBG001S9KRQ7
        bbgCompositeId:
          type: string
          description: Bloomberg Security Identifier.
          example: BBG000F6H8W8
        bbgListingId:
          type: string
          description: Bloomberg Security Identifier.
          example: BBG000F6HLL1
        bbgTickerListing:
          type: string
          description: Bloomberg Security Identifier.
          example: COST UW
        bbgTickerComposite:
          type: string
          description: Bloomberg Security Identifier.
          example: COST US
        requestId:
          type: string
          description: Identifier specified in the request
          example: COST
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /symbology/v1/{endpoint}
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
    getIds:
      title: Identifier List
      type: array
      items:
        type: string
      description: >-
        Requested market securities or entities. Accepted identifiers include
        all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and
        Tickers. This request value is sent back in the response as,
        `requestId`.
      example:
        - GOOGL-US
    getAsOfDate:
      title: As Of Date
      type: string
      description: As-Of Date for historical symbol request in YYYY-MM-DD format.
      example: '2010-01-01'
    getTickerType:
      title: Ticker Type
      type: string
      description: |
        Controls the Ticker Type returned.
          * **REGION** = Ticker-Regional
          * **EXCHANGE** = Ticker-Exchange
      example: REGION
  responses:
    '400':
      description: >-
        Bad Request. This can occur for several reasons. Please review the
        "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '401':
      description: >-
        Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting
        from. For more help, select the **Report Issue** in the top right corner
        of this Developer Portal specification card and choose Connectivty 401
        or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '403':
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '415':
      description: >-
        Unsupported Media Type. This error may be returned when the caller sends
        a resource in a format that is not accepted by the server. This can be
        fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  examples:
    singleFactsetTranslation:
      summary: Translating a single market identifier into a Factset Permanent ID.
      description: >-
        Translating a single market identifier (IBM-US) into a Factset Permanent
        ID.
      value:
        data:
          - fsymId: SJY281-R
            fsymSecurityId: MCPQD9-S
            fsymRegionalId: SJY281-R
            fsymListingId: NM6QRZ-L
            fsymEntityId: 000N1N-E
            fsymTickerExchange: IBM-USA
            fsymTickerRegion: IBM-US
            frefListingExchange: NYS
            currency: USD
            securityType: SHARE
            name: International Business Machines Corporation
            requestId: IBM-US
    multipleFactsetTranslation:
      summary: Translating multiple market identifiers into Factset Permanent IDs.
      description: >-
        Translating multiple market identifiers (IBM-US, FDS-US, APPL-US) into
        Factset Permanent IDs.
      value:
        data:
          - fsymId: SJY281-R
            fsymSecurityId: MCPQD9-S
            fsymRegionalId: SJY281-R
            fsymListingId: NM6QRZ-L
            fsymEntityId: 000N1N-E
            fsymTickerExchange: IBM-USA
            fsymTickerRegion: IBM-US
            frefListingExchange: NYS
            currency: USD
            securityType: SHARE
            name: International Business Machines Corporation
            requestId: IBM-US
          - fsymId: SQFMK3-R
            fsymSecurityId: DJC0PL-S
            fsymRegionalId: SQFMK3-R
            fsymListingId: MFRPJG-L
            fsymEntityId: 0016YD-E
            fsymTickerExchange: FDS-USA
            fsymTickerRegion: FDS-US
            frefListingExchange: NYS
            currency: USD
            securityType: SHARE
            name: FactSet Research Systems Inc.
            requestId: FDS-US
          - fsymId: SND8QN-R
            fsymSecurityId: BZW5K9-S
            fsymRegionalId: SND8QN-R
            fsymListingId: MT8YXR-L
            fsymEntityId: 0B5JXL-E
            fsymTickerExchange: APPL-USA
            fsymTickerRegion: APPL-US
            frefListingExchange: OTC
            currency: null
            securityType: SHARE
            name: Appell Petroleum Corp.
            requestId: APPL-US
    singleFactsetTranslationPost:
      summary: >-
        Translating a single market identifier into a Factset Permanent ID from
        a Post Body.
      description: >-
        Translating a single market identifier (IBM-US) into a FactSet Permanent
        ID from a Post Body.
      value:
        ids:
          - IBM-US
    multipleFactsetTranslationPost:
      summary: >-
        Translating multiple market identifier into Factset Permanent IDs from a
        Post Body.
      description: >-
        Translating multiple market identifiers (IBM-US,FDS-US,APPL-US) into
        Factset Permanent IDs from a Post Body.
      value:
        ids:
          - IBM-US
          - FDS-US
          - APPL-US
    singleCusipTranslation:
      summary: Translating a single market identifier into CUSIP.
      description: Translating Single Market Identifier (GOOGL-US) into CUSIP.
      value:
        data:
          fsymId: XF9TK6-S
          name: Alphabet Inc. Class A
          cusip: 38259P508
          cusipEffectiveStartDate: '2004-08-19'
          cusipEffectiveEndDate: '2015-10-05'
          asOfDate: '2010-01-01'
          requestId: GOOGL
    multipleCusipTranslation:
      summary: Translating Multiple Market Identifiers into CUSIPs.
      description: >-
        Translating Multiple Market Identifiers (GOOGL-US, AAPL-US, MSFT-US)
        into CUSIPs.
      value:
        data:
          - fsymId: DJC0PL-S
            name: FactSet Research Systems Inc.
            cusip: '303075105'
            cusipEffectiveStartDate: '1996-06-28'
            cusipEffectiveEndDate: null
            asOfDate: '2010-01-01'
            requestId: FDS
          - fsymId: DF3K29-S
            name: Microsoft Corporation
            cusip: '594918104'
            cusipEffectiveStartDate: '1986-03-13'
            cusipEffectiveEndDate: null
            asOfDate: '2010-01-01'
            requestId: MSFT
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            cusip: 38259P508
            cusipEffectiveStartDate: '2004-08-19'
            cusipEffectiveEndDate: '2015-10-05'
            asOfDate: '2010-01-01'
            requestId: GOOGL
    singleCusipTranslationPost:
      summary: Translating a single market identifier into CUSIP from a Post Body.
      description: Translating a market identifier (GOOGL-US) into CUSIP from a Post Body.
      value:
        ids:
          - GOOGL-US
        asOfDate: '2010-01-01'
    multipleCusipTranslationPost:
      summary: Translating a multiple market identifiers into CUSIPs from a Post Body.
      description: >-
        Translating a market identifier (GOOGL-US, AAPL-US, MSFT-US) into CUSIP
        from a Post Body.
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
        asOfDate: '2010-01-01'
    singleCusipHistory:
      summary: Full history of CUSIP for a single market identifier.
      description: Full history of CUSIP for a single market identifier (GOOGL-US).
      value:
        data:
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            cusip: 38259P508
            cusipEffectiveStartDate: '2004-08-19'
            cusipEffectiveEndDate: '2015-10-05'
            requestId: GOOGL-US
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            cusip: 02079K305
            cusipEffectiveStartDate: '2015-10-05'
            cusipEffectiveEndDate: null,
            requestId: GOOGL-US
    multipleCusipHistory:
      summary: Full history of CUSIPs for multiple market identifiers.
      description: >-
        Full history of CUSIPs for multiple market identifiers (GOOGL-US,
        AAPL-US, MSFT-US).
      value:
        data:
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            cusip: 38259P508
            cusipEffectiveStartDate: '2004-08-19'
            cusipEffectiveEndDate: '2015-10-05'
            requestId: GOOGL-US
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            cusip: 02079K305
            cusipEffectiveStartDate: '2015-10-05'
            cusipEffectiveEndDate: null,
            requestId: GOOGL-US
          - fsymId: R85KLC-S
            name: Apple Inc.
            cusip: '037833100'
            cusipEffectiveStartDate: '1980-12-12'
            cusipEffectiveEndDate: null
            requestId: AAPL-US
          - fsymId: DF3K29-S
            name: Microsoft Corporation
            cusip: '594918104'
            cusipEffectiveStartDate: '1986-03-13'
            cusipEffectiveEndDate: null
            requestId: MSFT-US
    singleCusipHistoryPost:
      summary: Full history of CUSIP for a single market identifier.
      description: Full history of CUSIP for a single market identifier (GOOGL-US).
      value:
        ids:
          - IBM-US
          - FDS-US
    multipleCusipHistoryPost:
      summary: Full history of CUSIPs for multiple market identifiers.
      description: >-
        Full history of CUSIPs for multiple market identifiers (GOOGL-US,
        AAPL-US, MSFT-US).
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
    singleSedolTranslation:
      summary: Translating a single market identifier into SEDOL.
      description: Translating Single Market Identifier (GOOGL-US) into SEDOL.
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            sedol: B020QX2
            sedolEffectiveStartDate: '2004-08-19'
            sedolEffectiveEndDate: '2015-10-05'
            asOfDate: '2010-01-01'
            requestId: GOOGL-US
    multipleSedolTranslation:
      summary: Translating Multiple Market Identifiers into SEDOLs.
      description: >-
        Translating Multiple Market Identifiers (GOOGL-US, AAPL-US, MSFT-US)
        into SEDOLs.
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            sedol: B020QX2
            sedolEffectiveStartDate: '2004-08-19'
            sedolEffectiveEndDate: '2015-10-05'
            asOfDate: '2010-01-01'
            requestId: GOOGL-US
          - fsymId: MH33D6-R
            name: Apple Inc.
            sedol: '2046251'
            sedolEffectiveStartDate: '1980-12-12'
            sedolEffectiveEndDate: null
            asOfDate: '2010-01-01'
            requestId: AAPL-US
          - fsymId: P8R3C2-R
            name: Microsoft Corporation
            sedol: '2588173'
            sedolEffectiveStartDate: '1986-03-13'
            sedolEffectiveEndDate: null
            asOfDate: '2010-01-01'
            requestId: MSFT-US
    singleSedolTranslationPost:
      summary: Translating a single market identifier into SEDOL from a Post Body.
      description: Translating a market identifier (GOOGL-US) into SEDOL from a Post Body.
      value:
        ids:
          - GOOGL-US
        asOfDate: '2010-01-01'
    multipleSedolTranslationPost:
      summary: Translating a multiple market identifiers into SEDOLs from a Post Body.
      description: >-
        Translating a market identifier (GOOGL-US, AAPL-US, MSFT-US) into SEDOLs
        from a Post Body.
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
        asOfDate: '2010-01-01'
    singleSedolHistory:
      summary: Full history of SEDOL for a single market identifier.
      description: Full history of SEDOL for a single market identifier (GOOGL-US).
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            sedol: B020QX2
            sedolEffectiveStartDate: '2004-08-19'
            sedolEffectiveEndDate: '2015-10-05'
            requestId: GOOGL-US
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            sedol: BYVY8G0
            sedolEffectiveStartDate: '2015-10-05'
            sedolEffectiveEndDate: null
            requestId: GOOGL-US
    multipleSedolHistory:
      summary: Full history of SEDOLs for multiple market identifiers.
      description: >-
        Full history of SEDOLs for multiple market identifiers (GOOGL-US,
        AAPL-US, MSFT-US).
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            sedol: B020QX2
            sedolEffectiveStartDate: '2004-08-19'
            sedolEffectiveEndDate: '2015-10-05'
            requestId: GOOGL-US
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            sedol: BYVY8G0
            sedolEffectiveStartDate: '2015-10-05'
            sedolEffectiveEndDate: null
            requestId: GOOGL-US
          - fsymId: MH33D6-R
            name: Apple Inc.
            sedol: '2046251'
            sedolEffectiveStartDate: '1980-12-12'
            sedolEffectiveEndDate: null
            requestId": AAPL-US
          - fsymId: P8R3C2-R
            name: Microsoft Corporation
            sedol: '2588173'
            sedolEffectiveStartDate: '1986-03-13'
            sedolEffectiveEndDate": null
            requestId": MSFT-US
    singleSedolHistoryPost:
      summary: Full history of SEDOL for a single market identifier.
      description: Full history of SEDOL for a single market identifier (GOOGL-US).
      value:
        ids:
          - GOOGL-US
    multipleSedolHistoryPost:
      summary: Full history of SEDOLs for multiple market identifiers.
      description: >-
        Full history of SEDOLs for multiple market identifiers (GOOGL-US,
        AAPL-US, MSFT-US).
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
    singleIsinTranslation:
      summary: Translating a single market identifier into ISIN.
      description: Translating Single Market Identifier (GOOGL-US) into ISIN.
      value:
        data:
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            isin: US38259P5089
            isinEffectiveStartDate: '2004-08-19'
            isinEffectiveEndDate: '2015-10-05'
            asOfDate: '2010-01-01'
            requestId: GOOGL
    multipleIsinTranslation:
      summary: Translating Multiple Market Identifiers into ISINs.
      description: >-
        Translating Multiple Market Identifiers (GOOGL-US, AAPL-US, MSFT-US)
        into ISINs.
      value:
        data:
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            isin: US38259P5089
            isinEffectiveStartDate: '2004-08-19'
            isinEffectiveEndDate: '2015-10-05'
            asOfDate: '2010-01-01'
            requestId: GOOGL
          - fsymId: R85KLC-S
            name: Apple Inc.
            isin: US0378331005
            isinEffectiveStartDate: '1980-12-12'
            isinEffectiveEndDate: null
            asOfDate: '2010-01-01'
            requestId: AAPL
          - fsymId: DF3K29-S
            name: Microsoft Corporation
            isin: US5949181045
            isinEffectiveStartDate: '1986-03-13'
            isinEffectiveEndDate: null
            asOfDate: '2010-01-01'
            requestId: MSFT
    singleIsinTranslationPost:
      summary: Translating a single market identifier into ISIN from a Post Body.
      description: Translating a market identifier (GOOGL-US) into ISIN from a Post Body.
      value:
        ids:
          - GOOGL-US
        asOfDate: '2010-01-01'
    multipleIsinTranslationPost:
      summary: Translating a multiple market identifiers into ISINs from a Post Body.
      description: >-
        Translating a market identifier (GOOGL-US, AAPL-US, MSFT-US) into ISINs
        from a Post Body.
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
        asOfDate: '2010-01-01'
    singleIsinHistory:
      summary: Full history of ISIN for a single market identifier.
      description: Full history of ISIN for a single market identifier (GOOGL-US).
      value:
        data:
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            isin: US38259P5089
            isinEffectiveStartDate: '2004-08-19'
            isinEffectiveEndDate: '2015-10-05'
            requestId: GOOGL
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            isin: US02079K3059
            isinEffectiveStartDate: '2015-10-05'
            isinEffectiveEndDate: null
            requestId: GOOGL
    multipleIsinHistory:
      summary: Full history of ISINs for multiple market identifiers.
      description: >-
        Full history of ISINs for multiple market identifiers (GOOGL-US,
        AAPL-US, MSFT-US).
      value:
        data:
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            isin: US38259P5089
            isinEffectiveStartDate: '2004-08-19'
            isinEffectiveEndDate: '2015-10-05'
            requestId: GOOGL
          - fsymId: XF9TK6-S
            name: Alphabet Inc. Class A
            isin: US02079K3059
            isinEffectiveStartDate: '2015-10-05'
            isinEffectiveEndDate: null
            requestId: GOOGL
          - fsymId: R85KLC-S
            name: Apple Inc.
            isin: US0378331005
            isinEffectiveStartDate: '1980-12-12'
            isinEffectiveEndDate: null
            requestId: AAPL
          - fsymId: DF3K29-S
            name: Microsoft Corporation
            isin: US5949181045
            isinEffectiveStartDate: '1986-03-13'
            isinEffectiveEndDate: null
            requestId: MSFT
    singleIsinHistoryPost:
      summary: Full history for ISIN for a single market identifier.
      description: Full history for ISIN for a single market identifier (GOOGL-US).
      value:
        ids:
          - GOOGL-US
    multipleIsinHistoryPost:
      summary: Full history for ISINs for multiple market identifiers.
      description: >-
        Full history for ISINs for multiple market identifiers (GOOGL-US,
        AAPL-US, MSFT-US).
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
    singleTickerTranslation:
      summary: Translating a single market identifier into Ticker-Region.
      description: Translating Single Market Identifier (HTM0LK-R) into Ticker.
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            ticker: GOOGL-US
            tickerEffectiveStartDate: '2014-04-03'
            asOfDate: '2020-07-29'
            requestId: HTM0LK-R
    multipleTickerTranslation:
      summary: Translating Multiple Market Identifiers into Ticker-Region.
      description: >-
        Translating Multiple Market Identifiers (HTM0LK-R, US0378331005,
        2588173) into Ticker-Region.
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            ticker: GOOGL-US
            tickerEffectiveStartDate: '2014-04-03'
            asOfDate: '2020-07-29'
            requestId: HTM0LK-R
          - fsymId: MH33D6-R
            name: Apple Inc.
            ticker: AAPL-US
            tickerEffectiveStartDate: '1980-12-12'
            asOfDate: '2020-07-29'
            requestId: US0378331005
          - fsymId: P8R3C2-R
            name: Microsoft Corporation
            ticker: MSFT-US
            tickerEffectiveStartDate: '1986-03-13'
            asOfDate: '2020-07-29'
            requestId: '2588173'
    singleTickerTranslationPost:
      summary: Translating a single market identifier into Ticker from a Post Body.
      description: Translating a market identifier (HTM0LK-R) into Ticker from a Post Body.
      value:
        ids:
          - IBM-US
          - FDS-US
        tickerType: EXCHANGE
        asOfDate: '2019-12-31'
    multipleTickerTranslationPost:
      summary: Translating multiple market identifiers into Tickers from a Post Body.
      description: >-
        Translating market identifier (HTM0LK-R, US0378331005, '2588173') into
        ISINs from a Tickers.
      value:
        ids:
          - HTM0LK-R
          - US0378331005
          - '2588173'
        tickertype:
          - REGION
        asOfDate: '2019-12-31'
    singleTickerHistory:
      summary: Full history of Ticker for a single market identifier.
      description: Full history of Ticker for a single market identifier (HTM0LK-R).
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            ticker: GOOG-US
            tickerEffectiveStartDate: '2004-08-19'
            requestId: HTM0LK-R
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            ticker: GOOGL-US
            tickerEffectiveStartDate: '2014-04-03'
            requestId: HTM0LK-R
    multipleTickerHistory:
      summary: Full history of Tickers for multiple market identifiers.
      description: >-
        Full history of Tickers for multiple market identifiers (HTM0LK-R,
        US0378331005, '2588173').
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            ticker: GOOG-US
            tickerEffectiveStartDate: '2004-08-19'
            requestId: HTM0LK-R
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            ticker: GOOGL-US
            tickerEffectiveStartDate: '2014-04-03'
            requestId: HTM0LK-R
          - fsymId: MH33D6-R
            name: Apple Inc.
            ticker: AAPL-US
            tickerEffectiveStartDate: '1980-12-12'
            requestId: US0378331005
          - fsymId: P8R3C2-R
            name: Microsoft Corporation
            ticker: MSFT-US
            tickerEffectiveStartDate: '1986-03-13'
            requestId: '2588173'
    singleTickerHistoryPost:
      summary: Full history of Ticker for a single market identifier.
      description: Full history of Ticker for a single market identifier (HTM0LK-R).
      value:
        ids:
          - HTM0LK-R
        tickerType:
          - REGION
    multipleTickerHistoryPost:
      summary: Full history of Tickers for multiple market identifiers.
      description: >-
        Full history of Tickers for multiple market identifiers (HTM0LK-R,
        US0378331005, '2588173').
      value:
        ids:
          - HTM0LK-R
          - US0378331005
          - '2588173'
        tickertype:
          - REGION
    singleBloombergTranslation:
      summary: Translating a single market identifier into Bloomberg FIGI.
      description: Translating Single Market Identifier (GOOGL-US) into Bloomberg FIGI.
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            bbgSecurityId: BBG009S39JY5
            bbgCompositeId: BBG009S39JX6
            bbgListingId: BBG009S4MT03
            bbgTickerListing: GOOGL UW
            bbgTickerComposite: GOOGL US
            requestId: GOOGL-US
    multipleBloombergTranslation:
      summary: Translating Multiple Market Identifiers into Bloomberg FIGIs.
      description: >-
        Translating Multiple Market Identifiers (GOOGL-US, AAPL-US, MSFT-US)
        into Bloomberg FIGIs.
      value:
        data:
          - fsymId: HTM0LK-R
            name: Alphabet Inc. Class A
            bbgSecurityId: BBG009S39JY5
            bbgCompositeId: BBG009S39JX6
            bbgListingId: BBG009S4MT03
            bbgTickerListing: GOOGL UW
            bbgTickerComposite: GOOGL US
            requestId: GOOGL-US
          - fsymId: MH33D6-R
            name: Apple Inc.
            bbgSecurityId: BBG001S5N8V8
            bbgCompositeId: BBG000B9XRY4
            bbgListingId: BBG000B9Y5X2
            bbgTickerListing: AAPL UW
            bbgTickerComposite: AAPL US
            requestId: AAPL-US
          - fsymId: 8R3C2-R
            name: Microsoft Corporation
            bbgSecurityId: BBG001S5TD05
            bbgCompositeId: BBG000BPH459
            bbgListingId: BBG000BPHFS9
            bbgTickerListing: MSFT UW
            bbgTickerComposite: MSFT US
            requestId: MSFT-US
    singleBloombergTranslationPost:
      summary: Translating a single market identifier into Bloomberg from a Post Body.
      description: >-
        Translating a market identifier (GOOGL-US) into Bloomberg from a Post
        Body.
      value:
        ids:
          - GOOGL-US
    multipleBloombergTranslationPost:
      summary: >-
        Translating a multiple market identifiers into Bloomberg from a Post
        Body.
      description: >-
        Translating a market identifier (GOOGL-US, AAPL-US, MSFT-US) into
        Bloomberg from a Post Body.
      value:
        ids:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: >-
        This bad request occurs when a request doesn't use the YYYY-MM-DD in the
        date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2020-07-24 17:19:26.237'
        path: /symbology/v1/{endpoint}
        message: >-
          The asOfDate parameter(s) must be in the following date format:
          YYYY-MM-DD. 
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: >-
        This error message occurs when the request does not include the required
        parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-07-24 17:17:24.963'
        path: /symbology/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: >-
        This error message occurs when a future date is requested in the
        startDate and endDate parameters. Please revise your request to include
        dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /symbology/v1/{endpoint}
        message: >-
          The use of future dates is not applicable in this endpoint. Please
          revise your request to include dates up to today's current date.
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: >-
        This error message occurs when a request parameter is used in which is
        not recognized by the service. Please revise your request to include
        only the parameters listed in the specification. Typical causes are
        spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /symbology/v1/{endpoint}
        message: >-
          Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
          modify your request to use parameters outlined in the specification
          for this endpoint.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: >-
        This error may be returned when the request body is specified as JSON,
        but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2020-07-24 17:14:57.32'
        path: /symbology/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: >-
        This error may be returned if it takes more than 29 seconds to hear back
        from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /symbology/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: >-
        This occurs when a user is not properly authenticated or recognized by
        the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key.
        Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /symbology/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: >-
        The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with
        authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /symbology/v1/{endpoint}
        message: >-
          USERNAME-SERIAL does not have permission to use
          /symbology/v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: >-
        This bad request occurs when the media type passed in the request is not
        supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /symbology/v1/{endpoint}
        message: >-
          text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: >-
        This error may be returned when the server encounters an error writing
        the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /symbology/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: >-
        This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /symbology/v1/{endpoint}
        message: Unexpected error
        subErrors: null
