{
  "openapi": "3.0.1",
  "info": {
    "title": "Vault API",
    "description": "Allow clients to fetch Analytics through APIs.",
    "contact": {
      "name": "FactSet Research Systems",
      "url": "https://developer.factset.com/contact",
      "email": "api@factset.com"
    },
    "license": {
      "name": "Apache License, Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "3.12.0"
  },
  "servers": [
    {
      "url": "https://api.factset.com"
    }
  ],
  "paths": {
    "/analytics/engines/vault/v3/components": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get Vault components",
        "description": "This endpoint returns the list of Vault components in a given Vault document.",
        "operationId": "getVaultComponents",
        "parameters": [
          {
            "name": "document",
            "in": "query",
            "description": "Document Name",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Document Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns a list of Vault components.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentSummaryRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter provided or invalid Vault document name.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Vault Document not found.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/components/{id}": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get Vault component by id",
        "description": "This endpoint returns the default settings of a Vault component.",
        "operationId": "getVaultComponentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for a vault component",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for a vault component"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns the default settings of a Vault component.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultComponentRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Vault component id.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Vault Component not found.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/configurations": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "summary": "Get Vault configurations",
        "description": "This endpoint returns all the Vault configurations saved in the provided account.",
        "operationId": "getVaultConfigurations",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Required account query parameter to filter configurations for a specific account",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Required account query parameter to filter configurations for a specific account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns a dictionary of Vault configurations.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultConfigurationSummaryRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid account.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Account not found.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/configurations/{id}": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "summary": "Get Vault configuration by id",
        "description": "This endpoint returns details for a Vault configuration as well as a list of accounts it is used in.",
        "operationId": "getVaultConfigurationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Vault configuration id to get the details of",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault configuration id to get the details of"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns details for a Vault configuration.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultConfigurationRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid vault configuration code.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Vault configuration id not found.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/dates": {
      "get": {
        "tags": [
          "Dates"
        ],
        "summary": "Convert Vault dates to absolute format",
        "description": "This endpoint converts the given start and end dates in FactSet date format to yyyymmdd format for a Vault calculation. For more information on FactSet date format, please refer to the Vault API documentation under the 'API Documentation' section in the developer portal.",
        "operationId": "convertVaultDatesToAbsoluteFormat",
        "parameters": [
          {
            "name": "startdate",
            "in": "query",
            "description": "Start Date",
            "schema": {
              "type": "string",
              "description": "Start Date"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "End Date",
            "required": true,
            "schema": {
              "type": "string",
              "description": "End Date"
            }
          },
          {
            "name": "componentid",
            "in": "query",
            "description": "Vault Component Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault Component Id"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns the converted dates in yyyymmdd format.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DateParametersSummaryRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter or value is provided.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "vault Document or account not found.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/documents/{path}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Vault documents and sub-directories in a directory",
        "description": "This endpoint looks up all Vault documents and sub-directories in a given directory.",
        "operationId": "getVaultDocuments",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "The directory to get the documents in",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The directory to get the documents in",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response, returns a list of Vault documents and directories",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDirectoriesRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter or value provided",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Path not found",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header.  Header needs to be set to application/json",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in some time",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/frequencies": {
      "get": {
        "tags": [
          "Frequencies"
        ],
        "summary": "Get Vault frequencies",
        "description": "This endpoint lists all the frequencies that can be applied to a Vault calculation.",
        "operationId": "getVaultFrequencies",
        "responses": {
          "200": {
            "description": "Expected response, returns a list of Vault frequencies.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyRoot"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Unsupported Accept header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "Retry-After": {
                "description": "Time to wait in seconds before making a new request as the rate limit has reached.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "503": {
            "description": "Request timed out. Retry the request in sometime.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          }
        }
      }
    },
    "/analytics/engines/vault/v3/calculations": {
      "post": {
        "tags": [
          "VaultCalculations"
        ],
        "summary": "Create and Run Vault calculation",
        "description": "This endpoint runs the Vault calculation specified in the POST body parameters.\r\nIt can take one or more units as input.\r\n\r\nRemarks:\r\n\r\n*   Start and and end date must be within the configuration's min and max date range",
        "operationId": "postAndCalculate",
        "parameters": [
          {
            "name": "X-FactSet-Api-Long-Running-Deadline",
            "in": "header",
            "description": "Long running deadline in seconds when only one unit is passed in the POST body.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "Standard HTTP header.  Accepts max-stale.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Calculation Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultCalculationParametersRoot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response, if the calculation has one unit and is completed with an error.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculationStatusRoot"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "$ref": "#/components/schemas/CalculationStatusRoot"
                }
              }
            }
          },
          "201": {
            "description": "Expected response if the calculation has one unit and is completed in a short span, returns JSON in the format specified in the Calculation parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectRoot"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectRoot"
                }
              }
            }
          },
          "202": {
            "description": "Expected response, contains the poll URL in the Location header.",
            "headers": {
              "Location": {
                "description": "URL to poll for the resulting calculation",
                "schema": {
                  "type": "string",
                  "description": "URL to poll for the resulting calculation"
                }
              },
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculationStatusRoot"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "$ref": "#/components/schemas/CalculationStatusRoot"
                }
              }
            }
          },
          "400": {
            "description": "Invalid calculation parameters.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              }
            }
          },
          "403": {
            "description": "User is forbidden with current credentials",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "One or more calculation settings were unavailable.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
                  "type": "string",
                  "description": "FactSet's request key header."
                }
              },
              "X-FactSet-Api-Request-Key": {
                "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication.",
                "schema": {
                  "type": "string",
                  "description": "Key to uniquely identify an Analytics API request. Only available after successful authentication."
                }
              },
              "X-FactSet-Api-RateLimit-Limit": {
                "description": "Number of allowed requests for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Remaining": {
                "description": "Number of requests left for the time window.",
                "schema": {
                  "type": "string"
                }
              },
              "X-FactSet-Api-RateLimit-Reset": {
                "description": "Number of seconds remaining till rate limit resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "$ref": "#/components/schemas/ClientErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Missing/Invalid Content-Type header. Header needs to be set to application/json.",
            "headers": {
              "X-DataDirect-Request-Key": {
                "description": "FactSet's request key header.",
                "schema": {
[...]
