{
  "openapi": "3.0.0",
  "info": {
    "title": "Watchlist API For Digital Portals",
    "description": "Watchlists keeps track of users' individual investment objectives. They are meant to support the self-directed business of wealth management firms.\n\nThe Watchlist API for Digital Portals is fully integrated with the corresponding Quotes API, allowing access to detailed price and\nperformance information of instruments in a watchlist. This also supports basic security identifier cross-reference. To complement\nthe Watchlist API with direct access to price histories, please refer to the Time Series API for Digital Portals.",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.factset.com/wealth/v1"
    }
  ],
  "paths": {
    "/watchlist/create": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/create",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": true,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Create a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number of watchlists would exceed 100.|400 Bad Request|",
        "summary": "Create a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "name"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "name": {
                        "description": "Name of the watchlist.",
                        "type": "string",
                        "pattern": "^[\\u0020-\\u002e\\u0030-\\u003a\\u003d\\u003f-\\u005d\\u005f\\u0061-\\u007e\\u00c0-\\u00ff\\u20ac]*$",
                        "x-trim": false,
                        "minLength": 1,
                        "exclusiveMinimum": false,
                        "maxLength": 100,
                        "exclusiveMaximum": false
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "x-property-sort": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "id64",
                          "x-positive": true,
                          "description": "Identifier of the watchlist."
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/watchlist/delete": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/delete",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": true,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Delete a watchlist.",
        "summary": "Delete a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "id"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "id": {
                        "description": "Identifier of the watchlist.",
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      }
                    },
                    "required": [
                      "id"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "This member is always empty."
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/watchlist/get": {
      "get": {
        "tags": [
          "watchlist"
        ],
        "operationId": "get/watchlist/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details of a watchlist.",
        "summary": "Details of a watchlist.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "description": "Identifier of the watchlist.",
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Details of the watchlist.",
                      "type": "object",
                      "x-property-sort": [
                        "id",
                        "name",
                        "numberPositions",
                        "creation"
                      ],
                      "properties": {
                        "id": {
                          "description": "Identifier of the watchlist.",
                          "type": "string",
                          "format": "id64",
                          "x-positive": true
                        },
                        "name": {
                          "description": "Name of the watchlist.",
                          "type": "string"
                        },
                        "numberPositions": {
                          "description": "Number of positions.",
                          "type": "number",
                          "format": "int32"
                        },
                        "creation": {
                          "description": "Date and time of the watchlist creation.",
                          "type": "string",
                          "format": "datetime"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watchlist/list": {
      "get": {
        "tags": [
          "watchlist"
        ],
        "operationId": "get/watchlist/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 4,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of watchlists.",
        "summary": "List of watchlists.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "name",
                          "numberPositions",
                          "creation"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the watchlist.",
                            "x-sortable": true,
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          },
                          "name": {
                            "description": "Name of the watchlist.",
                            "x-sortable": true,
                            "x-default-sort-attribute": true,
                            "x-default-sort-direction": 1,
                            "type": "string"
                          },
                          "numberPositions": {
                            "description": "Number of positions.",
                            "x-sortable": true,
                            "type": "number",
                            "format": "int32"
                          },
                          "creation": {
                            "description": "Date and time of the watchlist creation.",
                            "x-sortable": true,
                            "type": "string",
                            "format": "datetime"
                          }
                        }
                      },
                      "description": "List of watchlist."
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 4 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "numberPositions",
                  "-numberPositions",
                  "creation",
                  "-creation"
                ]
              },
              "maxItems": 4,
              "uniqueItems": true,
              "default": [
                "name"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ]
      }
    },
    "/watchlist/modify": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/modify",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": true,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Modify a watchlist.",
        "summary": "Modify a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "name"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "id": {
                        "description": "Identifier of the watchlist.",
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "name": {
                        "description": "Name of the watchlist.",
                        "type": "string",
                        "pattern": "^[\\u0020-\\u002e\\u0030-\\u003a\\u003d\\u003f-\\u005d\\u005f\\u0061-\\u007e\\u00c0-\\u00ff\\u20ac]*$",
                        "x-trim": false,
                        "minLength": 1,
                        "exclusiveMinimum": false,
                        "maxLength": 100,
                        "exclusiveMaximum": false
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "This member is always emtpy."
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/watchlist/position/create": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/position/create",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": true,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Add a position to a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|Maximum number of watchlist positions would exceed 100.|400 Bad Request|\n|The watchlist does not exist.|400 Bad Request|\n|The notation already exists in the watchlist.|400 Bad Request|",
        "summary": "Add a position to a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "notation",
                      "comment"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "id": {
                        "description": "Identifier of the watchlist.",
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "notation": {
                        "description": "Notation of the position.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the notation.",
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      "comment": {
                        "description": "Personal note for the watchlist position.",
                        "type": "string",
                        "pattern": "^[\\u0020-\\u005d\\u005f\\u0061-\\u007e\\u00c0-\\u00ff\\u20ac]*$",
                        "x-allowNullValue": true,
                        "x-trim": false,
                        "maxLength": 200,
                        "exclusiveMaximum": false
                      }
                    },
                    "required": [
                      "id"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "x-property-sort": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "number",
                          "format": "id32",
                          "x-positive": true,
                          "description": "Identifier of the position."
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/watchlist/position/delete": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/position/delete",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": true,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Delete a position of a watchlist.",
        "summary": "Delete a position of a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "position"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "id": {
                        "description": "Identifier of the watchlist.",
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "position": {
                        "description": "Position of the watchlist.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of a position.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        },
                        "required": [
                          "id"
                        ]
                      }
                    },
                    "required": [
                      "id"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "This member is always emtpy."
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/watchlist/position/get": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/position/get",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Details of the position of a watchlist.",
        "summary": "Details of the position of a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "position"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "id": {
                        "description": "Identifier of the watchlist.",
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "position": {
                        "description": "Position of the watchlist.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the position",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        },
                        "required": [
                          "id"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "position"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Position of the watchlist.",
                      "type": "object",
                      "x-property-sort": [
                        "notation",
                        "comment"
                      ],
                      "properties": {
                        "notation": {
                          "description": "Notation of the position.",
                          "type": "object",
                          "x-property-sort": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "description": "Identifier of the notation.",
                              "type": "string",
                              "format": "id64",
                              "x-positive": true
                            }
                          }
                        },
                        "comment": {
                          "description": "Personal note for the watchlist position.",
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/watchlist/position/list": {
      "get": {
        "tags": [
          "watchlist"
        ],
        "operationId": "get/watchlist/position/list",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": false,
        "x-maxSortParameterCount": 2,
        "x-supportsPermissionDeniedResponse": false,
        "description": "List of positions of a watchlist.",
        "summary": "List of positions of a watchlist.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "description": "Identifier of the watchlist.",
              "type": "string",
              "format": "id64",
              "x-positive": true
            },
            "required": true
          },
          {
            "name": "_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "maxLength": 100,
                "exclusiveMaximum": false
              },
              "uniqueItems": true,
              "maxItems": 50
            },
            "style": "form",
            "explode": false,
            "description": "Limit the attributes returned in the response to the specified set."
          },
          {
            "description": "Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "notation.id",
                  "-notation.id"
                ]
              },
              "maxItems": 2,
              "uniqueItems": true,
              "default": [
                "id"
              ]
            },
            "style": "form",
            "explode": false,
            "name": "_sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "x-property-sort": [
                          "id",
                          "notation",
                          "comment"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the position.",
                            "x-sortable": true,
                            "x-default-sort-attribute": true,
                            "x-default-sort-direction": 1,
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          },
                          "notation": {
                            "description": "Notation of the position.",
                            "type": "object",
                            "x-property-sort": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "Identifier of the notation.",
                                "x-sortable": true,
                                "type": "string",
                                "format": "id64",
                                "x-positive": true
                              }
                            }
                          },
                          "comment": {
                            "description": "Personal note for the watchlist position.",
                            "type": "string"
                          }
                        }
                      },
                      "description": "Positions of the watchlist.",
                      "maxItems": 100
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watchlist/position/modify": {
      "post": {
        "tags": [
          "watchlist"
        ],
        "operationId": "post/watchlist/position/modify",
        "x-supportsOffsetBasedPaging": false,
        "x-supportsOffsetBasedPagingWithoutTotal": false,
        "x-supportsCursorBasedPaging": false,
        "x-supportsCursorBasedPagingWithoutTotal": false,
        "x-supportsPush": false,
        "x-requiresUser": true,
        "x-requiresInternalClient": false,
        "x-disallowUser": false,
        "x-no-merge": true,
        "x-maxSortParameterCount": 10,
        "x-supportsPermissionDeniedResponse": false,
        "description": "Modify a position in a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|At least one of the parameters `notation` or `comment` must be set.|400 Bad Request|\n|The notation already exists in the watchlist.|400 Bad Request|",
        "summary": "Modify a position in a watchlist.",
        "requestBody": {
          "description": "Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "x-property-sort": [
                      "id",
                      "position",
                      "notation",
                      "comment"
                    ],
                    "description": "The data member contains the request's primary data.",
                    "properties": {
                      "id": {
                        "description": "Identifier of the watchlist.",
                        "type": "string",
                        "format": "id64",
                        "x-positive": true
                      },
                      "position": {
                        "description": "Position of the watchlist.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the position.",
                            "type": "number",
                            "format": "id32",
                            "x-positive": true
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      "notation": {
                        "description": "Notation of the position.",
                        "type": "object",
                        "x-property-sort": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "description": "Identifier of the notation.",
                            "type": "string",
                            "format": "id64",
                            "x-positive": true
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      "comment": {
                        "description": "Personal note for the watchlist position.",
                        "type": "string",
                        "pattern": "^[\\u0020-\\u005d\\u005f\\u0061-\\u007e\\u00c0-\\u00ff\\u20ac]*$",
                        "x-allowNullValue": true,
                        "x-trim": false,
                        "maxLength": 200,
                        "exclusiveMaximum": false
                      }
                    },
                    "required": [
                      "id",
                      "position"
                    ]
                  },
                  "meta": {
                    "type": "object",
                    "description": "The meta member contains the meta information of the request.",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AttributesMember"
                      }
                    },
                    "x-property-sort": [
                      "attributes"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "This member is always emtpy."
                    },
                    "meta": {
                      "type": "object",
                      "description": "The meta member contains the meta information of the response.",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusObject"
                        }
                      },
                      "x-property-sort": [
                        "status"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorMetaObject": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusObject"
          }
        }
      },
      "ErrorObject": {
        "type": "array",
        "description": "The errors member contains additional information about a failed request.",
        "items": {
          "type": "object",
          "properties": {
            "details": {
              "type": "string",
              "description": "A human-readable, unstructured explanation specific to this occurrence of the failure."
            },
            "encryptedDetails": {
              "type": "string",
              "description": "Base64-encoded, internal details about the error, in addition to \"details\"."
            },
            "type": {
              "type": "number",
              "format": "int32",
              "description": "Internal error type of the Foundation API protocol."
            },
            "attribute": {
              "type": "array",
              "description": "For a validation error, a reference to the request parameter that failed validation; otherwise, an empty array.",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Element of the path denoting the request parameter."
                  },
                  "index": {
                    "type": "number",
                    "format": "int32",
                    "description": "If the attribute \"name\" designates an array, index of the array element; otherwise the special value -1."
                  }
                },
                "x-property-sort": [
                  "name",
                  "index"
                ]
              }
            }
          },
          "x-property-sort": [
            "detail",
            "encryptedDetails",
            "type",
            "attribute"
          ]
        }
      },
      "AttributesMember": {
        "type": "array",
        "description": "Limit the attributes returned in the response to the specified set.",
        "items": {
          "type": "string",
          "maxLength": 100,
          "exclusiveMaximum": false
        },
        "maxItems": 50,
        "uniqueItems": true
      },
      "LanguageMember": {
        "type": "string",
        "format": "isoLanguage",
        "description": "ISO 639-1 code of the language.",
        "maxLength": 2,
        "minLength": 2,
        "exclusiveMinimum": false,
        "exclusiveMaximum": false
      },
      "StatusObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "format": "int32",
            "description": "The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1)."
          }
        },
        "description": "The status member contains the status code of the response.",
        "required": [
          "code"
        ]
      },
      "CursorBasedPaginationOutputObject": {
        "type": "object",
        "description": "Pagination attributes for the cursor-based pagination strategy.",
        "properties": {
          "total": {
            "type": "number",
            "format": "int32",
            "description": "Total number of entries in the result set."
          },
          "isEstimatedTotal": {
            "type": "boolean",
            "description": "Flag indicating that the value of `total` is estimated."
          },
          "next": {
            "type": "string",
            "description": "The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`."
          },
          "previous": {
            "type": "string",
            "description": "The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`."
          }
        },
        "required": [
          "total",
          "isEstimatedTotal",
          "next",
          "previous"
        ],
        "x-property-sort": [
          "total",
          "isEstimatedTotal",
          "next",
          "previous"
        ]
      },
      "CursorBasedPaginationOutputObjectWithoutTotal": {
        "type": "object",
        "description": "Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.",
        "properties": {
          "next": {
            "type": "string",
            "description": "The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`."
          },
          "previous": {
            "type": "string",
            "description": "The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`."
          }
        },
        "required": [
          "next",
          "previous"
        ],
        "x-property-sort": [
          "next",
          "previous"
        ]
      },
      "OffsetBasedPaginationOutputObject": {
        "type": "object",
        "description": "Pagination attributes for the offset-based pagination strategy.",
        "properties": {
          "total": {
            "type": "number",
            "format": "int32",
            "description": "Total number of entries in the result set."
          },
          "isEstimatedTotal": {
            "type": "boolean",
            "description": "Flag indicating that the value of \"total\" is estimated."
          }
        },
        "required": [
          "total",
          "isEstimatedTotal"
        ],
        "x-property-sort": [
          "total",
          "isEstimatedTotal"
        ]
      },
      "OffsetBasedPaginationOutputObjectWithoutTotal": {
        "type": "object",
        "description": "Pagination attributes for the offset-based pagination strategy; a total element count is not supported.",
        "properties": {
          "hasNext": {
            "type": "boolean",
            "description": "Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results."
          }
        },
        "required": [
          "hasNext"
        ],
        "x-property-sort": [
          "hasNext"
        ]
      },
      "PartialOutputObject": {
        "type": "object",
        "properties": {
          "isPartial": {
            "type": "boolean",
            "description": "Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable."
          }
        },
        "description": "Object denoting that the endpoint response is possibly incomplete.",
        "required": [
          "isPartial"
        ],
        "x-property-sort": [
          "isPartial"
        ]
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Generic error response for all errors (400 ... 599 error codes)",
        "headers": {},
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "$ref": "#/components/schemas/ErrorMetaObject"
                },
                "errors": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        }
      }
    },
    "parameters": {},
    "examples": {},
    "requestBodies": {},
    "headers": {},
    "securitySchemes": {
      "FactSetOAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.factset.com/as/token.oauth2",
            "scopes": {}
          }
        }
      },
      "FactSetApiKey": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "links": {},
    "callbacks": {}
  },
  "security": [
    {
      "FactSetApiKey": []
    },
    {
      "FactSetOAuth2": []
    }
  ],
  "tags": [
    {
      "name": "watchlist",
      "description": "watchlist endpoints"
    }
  ],
  "externalDocs": {
    "description": "Endpoint Reference",
    "url": "https://endpointreference.mdgms.com"
  },
  "x-interface-version": 2,
  "x-documenter-version": "6.0.1",
  "x-api-version": "3.3.0"
}