openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Enables clients to programmatically access the underlying data which
    powers the BEAST Liquidity Analytics (LA) and Transaction Cost Analysis (TCA)
    applications.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Best Execution Analytics for Smarter Trading (BEAST) API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/analytics/beast/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get Z-Scores
  name: Z-Score
- description: Get Trade and Volume Analytics
  name: Trade Analytics
- description: Get Quote Analytics
  name: Quote Analytics
- description: Market Impact Data
  name: Market Impact
- description: Outliers Data
  name: Outliers
- description: Retrieve Order details
  name: Order Details
- description: Search existing Orders
  name: Order Search
- description: Analysis Reports
  name: Reports
paths:
  /la/zscore/trades:
    get:
      description: "Get trade z-scores for a specific date range, security and region.\
        \ Z-Scores compare the value of the liquidity analytics for the\r\nlatest\
        \ day in the specified date range with the mean and standard deviation from\
        \ the historical period defined by the date range."
      operationId: getZScoreTrades
      parameters:
      - description: Search start date in the format YYYY-MM-DD
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: Search start date in the format YYYY-MM-DD
          example: 2024-07-29
          type: string
        style: form
      - description: Search end date in the format YYYY-MM-DD
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: Search end date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  analytics:
                  - recentDate: 2024-09-13
                    securityId: FDS
                    country: US
                    histAvg: 19.223755853679414
                    histStd: 11.96720768549405
                    histMax: 29.21605919223094
                    histMin: 13.9665726795661
                    firstQuartile: 17.672189740549943
                    metric: spread
                    thirdQuartile: 20.495501177127405
                    recentValue: 29.21605919223094
                  - recentDate: 2024-09-13
                    securityId: FDS
                    country: US
                    histAvg: 1.736596854
                    histStd: 0.43440228836759137
                    histMax: 2.175345426667
                    histMin: 1.363521526667
                    firstQuartile: 1.63913645166675
                    metric: size
                    thirdQuartile: 1.831401013333
                    recentValue: 1.58162984
              schema:
                $ref: '#/components/schemas/ZScoreResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the Retry-After header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has been reached.
              explode: false
              schema:
                description: Time to wait in seconds before making a new request as
                  the rate limit has been reached.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
      summary: Get Trade Z-Scores
      tags:
      - Z-Score
      x-accepts: application/json
  /la/zscore/quotes:
    get:
      description: "Get quote z-scores for a specific date range, security and region.\
        \ Z-Scores compare the value of the liquidity analytics for the\r\nlatest\
        \ day in the specified date range with the mean and standard deviation from\
        \ the historical period defined by the date range."
      operationId: getZScoreQuotes
      parameters:
      - description: Search start date in the format YYYY-MM-DD
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: Search start date in the format YYYY-MM-DD
          example: 2024-07-29
          type: string
        style: form
      - description: Search end date in the format YYYY-MM-DD
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: Search end date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  analytics:
                  - recentDate: 2024-09-13
                    securityId: FDS
                    country: US
                    histAvg: 19.223755853679414
                    histStd: 11.96720768549405
                    histMax: 29.21605919223094
                    histMin: 13.9665726795661
                    firstQuartile: 17.672189740549943
                    metric: spread
                    thirdQuartile: 20.495501177127405
                    recentValue: 29.21605919223094
                  - recentDate: 2024-09-13
                    securityId: FDS
                    country: US
                    histAvg: 1.736596854
                    histStd: 0.43440228836759137
                    histMax: 2.175345426667
                    histMin: 1.363521526667
                    firstQuartile: 1.63913645166675
                    metric: size
                    thirdQuartile: 1.831401013333
                    recentValue: 1.58162984
              schema:
                $ref: '#/components/schemas/ZScoreResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the Retry-After header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has been reached.
              explode: false
              schema:
                description: Time to wait in seconds before making a new request as
                  the rate limit has been reached.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
      summary: Get Quote Z-Scores
      tags:
      - Z-Score
      x-accepts: application/json
  /la/trade/trade-analytics:
    get:
      description: "Get trade analytics for a specific date range, security and region.\
        \ Analytics contain the timezone, bin time (5 minute interval), volume\r\n\
        and volatility for the specified date range."
      operationId: getTradeAnalytics
      parameters:
      - description: Search start date in the format YYYY-MM-DD
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: Search start date in the format YYYY-MM-DD
          example: 2024-07-29
          type: string
        style: form
      - description: Search end date in the format YYYY-MM-DD
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: Search end date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  analytics:
                  - timeZoneName: ET
                    volume: 1862.5625
                    binTime: 09:35:00
                    volatility: 0.6785396483246163
                  - timeZoneName: ET
                    volume: 2031.59375
                    binTime: 09:40:00
                    volatility: 0.5848665735220585
                  - timeZoneName: ET
                    volume: 1862.5625
                    binTime: 09:45:00
                    volatility: 0.527719555695223
              schema:
                $ref: '#/components/schemas/TradeAnalyticsResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the Retry-After header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has been reached.
              explode: false
              schema:
                description: Time to wait in seconds before making a new request as
                  the rate limit has been reached.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
      summary: Get Trade Analytics
      tags:
      - Trade Analytics
      x-accepts: application/json
  /la/trade/volume-analytics:
    get:
      description: Get volume analytics for a specific date range, security and region
      operationId: getVolumeAnalytics
      parameters:
      - description: Search start date in the format YYYY-MM-DD
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: Search start date in the format YYYY-MM-DD
          example: 2024-07-29
          type: string
        style: form
      - description: Search end date in the format YYYY-MM-DD
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: Search end date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  analytics:
                  - dateId: 2024-09-18
                    bidSideVolume: 12655.01
                    askSideVolume: 14907.01
                  - dateId: 2024-09-19
                    bidSideVolume: 11590.01
                    askSideVolume: 11226.01
                  - dateId: 2024-09-20
                    bidSideVolume: 9818.01
                    askSideVolume: 4406.01
              schema:
                $ref: '#/components/schemas/VolumeAnalyticsResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the Retry-After header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has been reached.
              explode: false
              schema:
                description: Time to wait in seconds before making a new request as
                  the rate limit has been reached.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
      summary: Get Volume Analytics
      tags:
      - Trade Analytics
      x-accepts: application/json
  /la/quote/inside-size:
    get:
      description: Get quote inside-size analytics for a specific date range, security
        and region
      operationId: getQuoteInsideSize
      parameters:
      - description: Search start date in the format YYYY-MM-DD
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          description: Search start date in the format YYYY-MM-DD
          example: 2024-07-29
          type: string
        style: form
      - description: Search end date in the format YYYY-MM-DD
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          description: Search end date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  analytics:
                  - timeZoneName: ET
                    twasBps: 78.38861904219948
                    timeMs: 09:35:00
                    twasInsideSize: 2.008022352941
                  - timeZoneName: ET
                    twasBps: 56.0681792790371
                    timeMs: 09:40:00
                    twasInsideSize: 2.146442852941
                  - timeZoneName: ET
                    twasBps: 49.08899267670183
                    timeMs: 09:45:00
                    twasInsideSize: 2.100858676471
              schema:
                $ref: '#/components/schemas/QuoteInsideSizeResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the Retry-After header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has been reached.
              explode: false
              schema:
                description: Time to wait in seconds before making a new request as
                  the rate limit has been reached.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
      summary: Get Quote Analytics
      tags:
      - Quote Analytics
      x-accepts: application/json
  /tca/market-impact/previous-vwaps:
    get:
      description: Get previous vwaps by specified date, time range, security, region
        and optional currency
      operationId: getPreviousVwaps
      parameters:
      - description: Date in the format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          description: Date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: Start Time in the format HH:MM:SS
        explode: true
        in: query
        name: startTime
        required: true
        schema:
          description: Start Time in the format HH:MM:SS
          example: 10:00:00
          type: string
        style: form
      - description: End Time in the format HH:MM:SS
        explode: true
        in: query
        name: endTime
        required: true
        schema:
          description: End Time in the format HH:MM:SS
          example: 15:30:00
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 4217 currency code
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  vwap:
                  - securityId: FDS
                    dateId: 2024-09-18
                    timeMs: 1722456000000
                    vwap: 409.92282086318664
                  - securityId: FDS
                    dateId: 2024-09-19
                    timeMs: 1722542400000
                    vwap: 412.0133003545226
                  - securityId: FDS
                    dateId: 2024-09-20
                    timeMs: 1722801600000
                    vwap: 404.9525879141202
              schema:
                $ref: '#/components/schemas/VwapResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "401":
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "403":
          description: User is forbidden with current credentials.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "429":
          description: Rate limit reached. Retry the requests after waiting the time
            specified in the Retry-After header.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
            Retry-After:
              description: Time to wait in seconds before making a new request as
                the rate limit has been reached.
              explode: false
              schema:
                description: Time to wait in seconds before making a new request as
                  the rate limit has been reached.
                type: string
              style: simple
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "503":
          description: Request timed out.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
      summary: Get Previous Volume Weighted Average Prices
      tags:
      - Market Impact
      x-accepts: application/json
  /tca/market-impact/cost-impact:
    get:
      description: Get Cost Impact
      operationId: getCostImpact
      parameters:
      - description: Date in the format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          description: Date in the format YYYY-MM-DD
          example: 2024-08-29
          type: string
        style: form
      - description: Start Time in the format HH:MM:SS
        explode: true
        in: query
        name: startTime
        required: true
        schema:
          description: Start Time in the format HH:MM:SS
          example: 10:00:00
          type: string
        style: form
      - description: End Time in the format HH:MM:SS
        explode: true
        in: query
        name: endTime
        required: true
        schema:
          description: End Time in the format HH:MM:SS
          example: 15:30:00
          type: string
        style: form
      - description: Pause Start Time in the format HH:MM:SS
        explode: true
        in: query
        name: pauseStartTime
        required: true
        schema:
          description: Pause Start Time in the format HH:MM:SS
          example: 12:00:00
          type: string
        style: form
      - description: Pause End Time in the format HH:MM:SS
        explode: true
        in: query
        name: pauseEndTime
        required: true
        schema:
          description: Pause End Time in the format HH:MM:SS
          example: 12:00:00
          type: string
        style: form
      - description: ISIN for European securities, otherwise TICKER
        example: FDS
        explode: true
        in: query
        name: securityId
        required: true
        schema:
          type: string
        style: form
      - description: The two character ISO country code of the trading region. EMEA
          is used for the European trading region
        example: US
        explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      - description: Order Volume
        explode: true
        in: query
        name: orderVolume
        required: true
        schema:
          description: Order Volume
          example: 100000
          format: float
          type: number
        style: form
      - description: Front Load Half Life
        explode: true
        in: query
        name: frontLoadHalfLife
        required: true
        schema:
          description: Front Load Half Life
          example: 5000
          format: float
          type: number
        style: form
      - description: The ISO 4217 currency code
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Isin code
        explode: true
        in: query
        name: isin
        required: false
        schema:
          description: Isin code
          type: string
        style: form
      - description: Spread Sensitivity
        explode: true
        in: query
        name: spreadSensitivity
        required: false
        schema:
          default: 0
          description: Spread Sensitivity
          format: float
          type: number
        style: form
      - description: Liquidity Sensitivity
        explode: true
        in: query
        name: liquiditySensitivity
        required: false
        schema:
          default: 0
          description: Liquidity Sensitivity
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  costPerShare: 2.133257299983288
                  costPerShareBps: 52.67918674063878
                  marketImpact: 3.744018084265633
                  confidenceInterval: 2.9952144674125165
                  outputStrategyBinDataDtoList:
                  - binTime: 90:30:00
                    securityId: FDS
                    country: US
                    dateId: 2024-09-20
                    totalCost: 1.5
                    spreadCost: 1.57
                    liquidityCost: 1.23
                    confidenceInterval: 404.9525879141202
                    signalCost: 1.53
                    cappedPrice: 404.9525879141202
                    reversionPrice: 404.9525879141202
                    stockPrice: 404.9525879141202
                    arrivalMid: 404.9525879141202
                    strategyVolume: 1.52
                    partRate: 1.2
                  - binTime: 90:35:00
                    securityId: FDS
                    country: US
                    dateId: 2024-09-20
                    totalCost: 1.5
                    spreadCost: 1.5
                    liquidityCost: 1.5
                    confidenceInterval: 404.9525879141202
                    signalCost: 1.5
                    cappedPrice: 404.9525879141202
                    reversionPrice: 404.9525879141202
                    stockPrice: 404.9525879141202
                    arrivalMid: 404.9525879141202
                    strategyVolume: 1.5
                    partRate: 1.5
              schema:
                $ref: '#/components/schemas/CostImpactResponseRoot'
          description: Expected response.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify the API request. Only available
                after successful authentication.
              explode: false
              schema:
                description: Key to uniquely identify the API request. Only available
                  after successful authentication.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              explode: false
              schema:
                description: Number of allowed requests for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              explode: false
              schema:
                description: Number of requests left for the time window.
                type: string
              style: simple
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining until the rate limit resets.
              explode: false
              schema:
                description: Number of seconds remaining until the rate limit resets.
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 66B36296276001D6
                  code: BadRequest
                  title: Failed to process request
                  detail: query parameter not specified
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid query parameters.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet request key header.
              explode: false
              schema:
                description: FactSet request key header.
                type: string
              style: simple
            X-FactSet-Api-Request-Key:
[...]
