openapi: 3.0.1
info:
  description: |-
    Search for mutual funds and ETFs using one single consolidated API, including a criteria-based screener. The API provides also base data, key figures, and holdings.

    A separate endpoint returns the possible values and value range for the parameters that the endpoint /fund/notation/screener/search accepts:
    Application developers can request the values and value range only for a restricted set of notations that match predefined parameters.
    This functionality may be used to pre-fill the values and value ranges of the parameters of the /fund/notation/screener/search endpoint
    so that performing a search always leads to a non-empty set of notations.

    This API is fully integrated with the corresponding Quotes API, allowing access to detailed price and performance information of instruments, as well as basic security identifier cross-reference. For direct access to price histories, please refer to the Time Series API for Digital Portals.

    Similar criteria based screener APIs exist for equity instruments and securitized derivatives: See the Stocks API and the Securitized Derivatives API for details.
  title: Funds API For Digital Portals
  version: "2"
servers:
- url: //api.factset.com/wealth/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: fund endpoints
  name: fund
paths:
  /fund/holding/listByInstrument:
    get:
      description: Holdings of a fund. Only the top 10 holdings with regard to their
        weighting in the fund portfolio are returned. Therefore, the weights of the
        holdings do not add up to 1 (i.e. 100%).
      operationId: get/fund/holding/listByInstrument
      parameters:
      - description: Identifier of an instrument of a fund share class.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: Sortable attributes. The sort order is ascending unless it is
          prefixed with a minus sign, in which case it is descending. A list of at
          most 2 (possibly prefixed) attribute name(s) is allowed.
        explode: false
        in: query
        name: _sort
        schema:
          default: '["-holdings.weight"]'
          items:
            enum:
            - holdings.name
            - -holdings.name
            - holdings.weight
            - -holdings.weight
            type: string
          maxItems: 2
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: Holdings of a fund.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/issuer/search:
    post:
      description: Search for issuers of funds. FactSet does not consolidate the data
        provided by different suppliers, therefore the result may contain more than
        one identifier for a given issuer. The response is limited to 100 results.
      operationId: post/fund/issuer/search
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_fund_issuer_search_data'
                meta:
                  $ref: '#/components/schemas/_fund_issuer_search_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Search for issuers of funds.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /fund/notation/keyFigures/benchmark/month/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a fund for the time range
        of one month.
      operationId: get/fund/notation/keyFigures/benchmark/month/1/get
      parameters:
      - description: Identifier of the notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: List of benchmark notations.
        explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a fund for the time range
        of one month.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/notation/keyFigures/benchmark/week/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a fund for the time range
        of one week.
      operationId: get/fund/notation/keyFigures/benchmark/week/1/get
      parameters:
      - description: Identifier of the notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: List of benchmark notations.
        explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a fund for the time range
        of one week.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/notation/keyFigures/benchmark/year/1/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a fund for the time range
        of one year.
      operationId: get/fund/notation/keyFigures/benchmark/year/1/get
      parameters:
      - description: Identifier of the notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: List of benchmark notations.
        explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a fund for the time range
        of one year.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/notation/keyFigures/benchmark/month/3/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a fund for the time range
        of three months.
      operationId: get/fund/notation/keyFigures/benchmark/month/3/get
      parameters:
      - description: Identifier of the notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: List of benchmark notations.
        explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a fund for the time range
        of three months.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/notation/keyFigures/benchmark/year/3/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a fund for the time range
        of three years.
      operationId: get/fund/notation/keyFigures/benchmark/year/3/get
      parameters:
      - description: Identifier of the notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: List of benchmark notations.
        explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a fund for the time range
        of three years.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/notation/keyFigures/benchmark/year/5/get:
    get:
      description: End-of-day (EOD) benchmark key figures of a fund for the time range
        of five years.
      operationId: get/fund/notation/keyFigures/benchmark/year/5/get
      parameters:
      - description: Identifier of the notation.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: List of benchmark notations.
        explode: false
        in: query
        name: idNotationBenchmark
        required: true
        schema:
          items:
            format: id64
            type: string
            x-positive: true
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: End-of-day (EOD) benchmark key figures of a fund for the time range
        of five years.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
  /fund/notation/screener/search:
    post:
      description: "Screener for notations of share classes of mutual and exchange\
        \ traded funds (ETF) based on fund-specific parameters. The funds represent\
        \ legal entities, juristic persons in particular, and may have more than one\
        \ share class. The share classes represent instruments, and the notations\
        \ represent price sources for the share classes. Some parameters apply to\
        \ the fund as a whole, i.e. a notation for each share class of a fund matching\
        \ the criteria is returned, for example `issuer.selection`. Others apply to\
        \ the share classes, thus only notations of matching share classes are returned,\
        \ for example `minimumInvestment.initial`. The result is limited to the notations\
        \ that satisfy all the selected filters. In order to guarantee comparability\
        \ when using the performance parameters, the endpoint is restricted to three\
        \ markets only, Mountain-View Funds (`id=1126`), FactSet Fund Prices (`id=1127`)\
        \ and WM Datenservice (`id=1050`) since the notations from these markets provide\
        \ a net asset value (NAV) - based total performance. The total performance\
        \ factors in all earnings distributions of a share class and thus allows to\
        \ compare the overall (total) performance of distributing and non-distributing\
        \ share classes.     \n A specific set of share classes or share class notations\
        \ can be restricted to or excluded by using customer-specific instrument or\
        \ notation selection lists respectively. Such selection lists are set up by\
        \ FactSet upon request. All identifiers used as parameters must be valid and\
        \ entitled."
      operationId: post/fund/notation/screener/search
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_fund_notation_screener_search_data'
                meta:
                  $ref: '#/components/schemas/_fund_notation_screener_search_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Screener for notations of share classes of mutual and exchange traded
        funds based on fund-specific parameters.
      tags:
      - fund
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /fund/notation/screener/valueRanges/get:
    post:
      description: The endpoint returns the possible values and value ranges for the
        parameters used in the endpoint `/fund/notation/screener/search`. It allows
        to request the values and value ranges only for a restricted set of notations
        that match predefined parameters. The functionality may be used to pre-fill
        the values and value ranges of the parameters of the `/fund/notation/screener/search`
        endpoint so that performing a search always leads to a non-empty set of notations.
        In order to guarantee comparability when using the performance parameter,
        the endpoint is restricted to three markets only, Mountain-View Funds (`id=1126`),
        FactSet Fund Prices (`id=1127`), and WM Datenservice (`id=1050`) since the
        notations from these markets provide a net asset value (NAV) - based total
        performance. The total performance factors in all earnings distributions of
        a share class and thus allows to compare the overall (total) performance of
        distributing and non-distributing share classes.
      operationId: post/fund/notation/screener/valueRanges/get
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/_fund_notation_screener_valueRanges_get_data'
                meta:
                  $ref: '#/components/schemas/_fund_notation_screener_valueRanges_get_meta'
              type: object
              x-property-sort:
              - data
              - meta
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: Possible values and value ranges for the parameters used in the endpoint
        `/fund/notation/screener/search`.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /fund/shareClass/get:
    get:
      description: "The provided fundamental data comprises share class-specific data\
        \ and data applying to the fund and thus to all its share classes. An instrument\
        \ other than a fund share class yields empty values for share class-specific\
        \ or fund-specific attributes. \n\nDates are interpreted in the timezone of\
        \ the fund company. For attributes referring to a country, see endpoint `/basic/region/country/list`\
        \ for possible values."
      operationId: get/fund/shareClass/get
      parameters:
      - description: Identifier of the instrument.
        in: query
        name: id
        required: true
        schema:
          format: id64
          type: string
          x-positive: true
        x-positive: true
      - description: Limit the attributes returned in the response to the specified
          set.
        explode: false
        in: query
        name: _attributes
        schema:
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
        style: form
      - description: ISO 639-1 code of the language.
        in: query
        name: _language
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: isoLanguage
          maxLength: 2
          minLength: 2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Fundamental data for a share class of a fund.
      tags:
      - fund
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      x-accepts: application/json
components:
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: false
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: false
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: false
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ErrorMetaObject'
              errors:
                $ref: '#/components/schemas/ErrorObject'
            type: object
      description: Generic error response for all errors (400 ... 599 error codes)
  schemas:
    ErrorMetaObject:
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    ErrorObject:
      description: The errors member contains additional information about a failed
        request.
      items:
        properties:
          details:
            description: A human-readable, unstructured explanation specific to this
              occurrence of the failure.
            type: string
          encryptedDetails:
            description: Base64-encoded, internal details about the error, in addition
              to "details".
            type: string
          type:
            description: Internal error type of the Foundation API protocol.
            format: int32
            type: number
          attribute:
            description: For a validation error, a reference to the request parameter
              that failed validation; otherwise, an empty array.
            items:
              properties:
                name:
                  description: Element of the path denoting the request parameter.
                  type: string
                index:
                  description: If the attribute "name" designates an array, index
                    of the array element; otherwise the special value -1.
                  format: int32
                  type: number
              type: object
              x-property-sort:
              - name
              - index
            type: array
        type: object
        x-property-sort:
        - detail
        - encryptedDetails
        - type
        - attribute
      type: array
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      items:
        maxLength: 100
        type: string
      maxItems: 50
      type: array
      uniqueItems: true
    LanguageMember:
      description: ISO 639-1 code of the language.
      exclusiveMaximum: false
      exclusiveMinimum: false
      format: isoLanguage
      maxLength: 2
      minLength: 2
      type: string
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 6.027456183070403
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObject:
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of `total` is estimated.
          type: boolean
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - isEstimatedTotal
      - next
      - previous
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          type: string
      required:
      - next
      - previous
      type: object
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      description: Pagination attributes for the offset-based pagination strategy.
      example:
        total: 5.533258397034986
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of entries in the result set.
          format: int32
          type: number
        isEstimatedTotal:
          description: Flag indicating that the value of "total" is estimated.
          type: boolean
      required:
      - isEstimatedTotal
      - total
      type: object
      x-property-sort:
      - total
      - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the offset-based pagination strategy;
        a total element count is not supported.
      properties:
        hasNext:
          description: Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by `pagination.limit`,
            would yield additional results.
          type: boolean
      required:
      - hasNext
      type: object
      x-property-sort:
      - hasNext
    PartialOutputObject:
      description: Object denoting that the endpoint response is possibly incomplete.
      example:
        isPartial: true
      properties:
        isPartial:
          description: Flag indicating that the response is a possibly incomplete
            array or an object containing a possibly incomplete array, due to hitting
            a processing time limit. If `true`, some matching results might be missing
            from the array, or elements for matching results might be incorrectly
            included (for example, when priority sorting would have removed the element).
            Depending on the use case, such a response may be unsuitable.
          type: boolean
      required:
      - isPartial
      type: object
      x-property-sort:
      - isPartial
    inline_response_200_data_instrument:
      description: Instrument data of a holding.
      example:
        id: id
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
      type: object
      x-property-sort:
      - id
    inline_response_200_data_holdings:
      example:
        name: name
        weight: 0.8008281904610115
        instrument:
          id: id
      properties:
        instrument:
          $ref: '#/components/schemas/inline_response_200_data_instrument'
        name:
          description: Name of the holding, as provided by the supplier.
          type: string
          x-sortable: true
        weight:
          description: Weight of the holding.
          format: relativeValue
          type: number
          x-sortable: true
          x-default-sort-direction: 2
          x-default-sort-attribute: true
      type: object
      x-property-sort:
      - instrument
      - name
      - weight
    inline_response_200_data:
      description: Holdings of a fund.
      example:
        date: 2000-01-23
        holdings:
        - name: name
          weight: 0.8008281904610115
          instrument:
            id: id
        - name: name
          weight: 0.8008281904610115
          instrument:
            id: id
      properties:
        date:
          description: Date of assessment of the holdings.
          format: date
          type: string
        holdings:
          description: List of holdings.
          items:
            $ref: '#/components/schemas/inline_response_200_data_holdings'
          type: array
      type: object
      x-property-sort:
      - date
      - holdings
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 6.027456183070403
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
      x-property-sort:
      - status
    inline_response_200:
      example:
        data:
          date: 2000-01-23
          holdings:
          - name: name
            weight: 0.8008281904610115
            instrument:
              id: id
          - name: name
            weight: 0.8008281904610115
            instrument:
              id: id
        meta:
          status:
            code: 6.027456183070403
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _fund_issuer_search_data_issuer_country_restrict:
      description: 'Restriction list. Only funds issued by an issuer whose country
        of registration is in the provided list are returned. '
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_issuer_country_exclude:
      description: Exclusion list. Funds issued by an issuer whose country of registration
        is in the provided list are not returned.
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_issuer_country:
      description: Country of registration of the issuer. See endpoint `/basic/region/country/list`
        for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_issuer_search_data_issuer_country_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_issuer_search_data_issuer_country_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_issuer_search_data_issuer:
      description: Issuer name.
      properties:
        name:
          description: Text string to be searched for.
          maxLength: 100
          minLength: 3
          pattern: ^[-!#-&(-+--/0-:=?-Za-zw"]*$
          type: string
        country:
          $ref: '#/components/schemas/_fund_issuer_search_data_issuer_country'
      type: object
      x-property-sort:
      - name
      - country
    _fund_issuer_search_data_fund_domicile_restrict:
      description: 'Restriction list. Only issuers of funds with a domicile in the
        provided list are returned. '
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_fund_domicile_exclude:
      description: Exclusion list. Issuers of funds with a domicile in the provided
        list are not returned.
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_fund_domicile:
      description: Domicile of the fund. See endpoint `/basic/region/country/list`
        for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_issuer_search_data_fund_domicile_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_issuer_search_data_fund_domicile_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_issuer_search_data_fund:
      description: Parameters related to funds.
      properties:
        etf:
          default: include
          description: Defines whether or not ETF issuers are included in the result.
          enum:
          - only
          - include
          - exclude
          type: string
          x-enum-description:
          - Only ETF issuers are included in the result.
          - Issuers of ETFs and mutual funds share classes are included in the result.
          - ETF issuers are excluded from the result.
        domicile:
          $ref: '#/components/schemas/_fund_issuer_search_data_fund_domicile'
      type: object
      x-property-sort:
      - etf
      - domicile
    _fund_issuer_search_data_shareClass_registrationCountry_restrict:
      description: 'Restriction list. Only issuers of funds with share classes registered
        for trading in a country in the provided list are returned. '
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_shareClass_registrationCountry_exclude:
      description: Exclusion list. Issuers of funds with share classes registered
        for trading in a country in the provided list are not returned.
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_shareClass_registrationCountry:
      description: Country of trading registration of the share classes.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_issuer_search_data_shareClass_registrationCountry_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_issuer_search_data_shareClass_registrationCountry_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_issuer_search_data_shareClass:
      description: Parameters related to share classes.
      properties:
        registrationCountry:
          $ref: '#/components/schemas/_fund_issuer_search_data_shareClass_registrationCountry'
      type: object
      x-property-sort:
      - registrationCountry
    _fund_issuer_search_data_market_restrict:
      description: Specifies the markets from which a notation may originate.
      properties:
        ids:
          description: Set of market identifiers.
          items:
            format: id32
            type: number
            x-positive: true
            x-enum-description:
            - Mountain-View Funds
            - FactSet Fund Prices
            - WM Datenservice
          maxItems: 2
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_market_exclude:
      description: Specifies the markets from which a notation may not originate.
      properties:
        ids:
          description: Set of market identifiers.
          items:
            format: id32
            type: number
            x-positive: true
            x-enum-description:
            - Mountain-View Funds
            - FactSet Fund Prices
            - WM Datenservice
          maxItems: 2
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_issuer_search_data_market:
      description: List of markets of notations with a net asset value (NAV). Only
        issuers of fund share classes with a NAV from a market in the provided list
        are returned.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_issuer_search_data_market_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_issuer_search_data_market_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_issuer_search_data:
      description: The data member contains the request's primary data.
      properties:
        issuer:
          $ref: '#/components/schemas/_fund_issuer_search_data_issuer'
        fund:
          $ref: '#/components/schemas/_fund_issuer_search_data_fund'
        shareClass:
          $ref: '#/components/schemas/_fund_issuer_search_data_shareClass'
        market:
          $ref: '#/components/schemas/_fund_issuer_search_data_market'
      type: object
      x-property-sort:
      - issuer
      - fund
      - shareClass
      - market
    _fund_issuer_search_meta:
      description: The meta member contains the meta information of the request.
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          items:
            maxLength: 100
            type: string
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - attributes
    inline_object:
      properties:
        data:
          $ref: '#/components/schemas/_fund_issuer_search_data'
        meta:
          $ref: '#/components/schemas/_fund_issuer_search_meta'
      type: object
      x-property-sort:
      - data
      - meta
    inline_response_200_1_data:
      example:
        name: name
        count: 6.027456183070403
        id: 0.8008281904610115
      properties:
        id:
          description: Identifier of an issuer.
          format: id32
          type: number
          x-positive: true
        name:
          description: Name of the issuer.
          type: string
        count:
          description: Number of funds issued.
          format: int32
          type: number
      type: object
      x-property-sort:
      - id
      - name
      - count
    inline_response_200_1:
      example:
        data:
        - name: name
          count: 6.027456183070403
          id: 0.8008281904610115
        - name: name
          count: 6.027456183070403
          id: 0.8008281904610115
        meta:
          status:
            code: 6.027456183070403
      properties:
        data:
          description: List of issuers, sorted descending by the number of funds issued.
          items:
            $ref: '#/components/schemas/inline_response_200_1_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_2_notation_instrument:
      description: Instrument of the benchmark.
      example:
        name: name
        id: id
      properties:
        id:
          description: Identifier of the instrument.
          format: id64
          type: string
          x-positive: true
        name:
          description: Name of the instrument.
          format: localizedString
          type: string
      type: object
      x-property-sort:
      - id
      - name
    inline_response_200_2_notation:
      description: Notation of the benchmark.
      example:
        instrument:
          name: name
          id: id
        id: id
      properties:
        id:
          description: Identifier of the notation.
          format: id64
          type: string
          x-positive: true
        instrument:
          $ref: '#/components/schemas/inline_response_200_2_notation_instrument'
      type: object
      x-property-sort:
      - id
      - instrument
    inline_response_200_2_status:
      description: Error status for the requested identifier.
      example:
        identifier: identifier
        code: none
        encryptedDetails: encryptedDetails
      properties:
        code:
          description: Code of the error condition.
          enum:
          - none
          - parameter
          type: string
          x-enum-description:
          - No error.
          - The provided identifier does not refer to a valid benchmark notation.
        identifier:
          description: Provided identifier.
          format: id64
          type: string
          x-positive: true
        encryptedDetails:
          description: Base64-encoded internal details about the error.
          type: string
      type: object
      x-property-sort:
      - code
      - identifier
      - encryptedDetails
    inline_response_200_2_data:
      example:
        trackingError: 6.027456183070403
        notation:
          instrument:
            name: name
            id: id
          id: id
        outperformance: 0.8008281904610115
        informationRatio: 1.4658129805029452
        status:
          identifier: identifier
          code: none
          encryptedDetails: encryptedDetails
      properties:
        notation:
          $ref: '#/components/schemas/inline_response_200_2_notation'
        outperformance:
          description: Outperformance of the notation.
          format: relativeValue
          type: number
        trackingError:
          description: Tracking error of the notation.
          format: relativeValue
          type: number
        informationRatio:
          description: Information ratio of the notation.
          format: relativeValue
          type: number
        status:
          $ref: '#/components/schemas/inline_response_200_2_status'
      type: object
      x-property-sort:
      - notation
      - outperformance
      - trackingError
      - informationRatio
      - status
    inline_response_200_2:
      example:
        data:
        - trackingError: 6.027456183070403
          notation:
            instrument:
              name: name
              id: id
            id: id
          outperformance: 0.8008281904610115
          informationRatio: 1.4658129805029452
          status:
            identifier: identifier
            code: none
            encryptedDetails: encryptedDetails
        - trackingError: 6.027456183070403
          notation:
            instrument:
              name: name
              id: id
            id: id
          outperformance: 0.8008281904610115
          informationRatio: 1.4658129805029452
          status:
            identifier: identifier
            code: none
            encryptedDetails: encryptedDetails
        meta:
          status:
            code: 6.027456183070403
      properties:
        data:
          description: List of benchmarks with related key figures. The order of the
            benchmark notations in the response is unrelated to their order in the
            request array.
          items:
            $ref: '#/components/schemas/inline_response_200_2_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_3_data:
      example:
        notation:
          instrument:
            name: name
            id: id
          id: id
        outperformance: 0.8008281904610115
        status:
          identifier: identifier
          code: none
          encryptedDetails: encryptedDetails
      properties:
        notation:
          $ref: '#/components/schemas/inline_response_200_2_notation'
        outperformance:
          description: Outperformance of the notation.
          format: relativeValue
          type: number
        status:
          $ref: '#/components/schemas/inline_response_200_2_status'
      type: object
      x-property-sort:
      - notation
      - outperformance
      - status
    inline_response_200_3:
      example:
        data:
        - notation:
            instrument:
              name: name
              id: id
            id: id
          outperformance: 0.8008281904610115
          status:
            identifier: identifier
            code: none
            encryptedDetails: encryptedDetails
        - notation:
            instrument:
              name: name
              id: id
            id: id
          outperformance: 0.8008281904610115
          status:
            identifier: identifier
            code: none
            encryptedDetails: encryptedDetails
        meta:
          status:
            code: 6.027456183070403
      properties:
        data:
          description: List of benchmarks with related key figures. The order of the
            benchmark notations in the response is unrelated to their order in the
            request array.
          items:
            $ref: '#/components/schemas/inline_response_200_3_data'
          type: array
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    _fund_notation_screener_search_data_validation_prices_latest:
      description: Parameters related to the presence and age of the most recent trade
        price.
      properties:
        availableOnly:
          description: If `true`, only notations for which a trade price (even an
            outdated one) is available will be returned.
          type: boolean
        minimumDate:
          description: Earliest admissible date of the most recent trade price.
          format: date
          type: string
      type: object
      x-property-sort:
      - availableOnly
      - minimumDate
    _fund_notation_screener_search_data_validation_prices_previous:
      description: Parameters related to the presence and age of a trade price from
        a preceding trading day.
      properties:
        availableOnly:
          description: If `true`, only notations for which a trade price from a preceding
            trading day is available will be returned.
          type: boolean
        minimumDate:
          description: Earliest admissible date of the trade price from a preceding
            day.
          format: date
          type: string
      type: object
      x-property-sort:
      - availableOnly
      - minimumDate
    _fund_notation_screener_search_data_validation_prices:
      description: Price-related parameters.
      properties:
        latest:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_prices_latest'
        previous:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_prices_previous'
      type: object
      x-property-sort:
      - latest
      - previous
    _fund_notation_screener_search_data_validation_currency_restrict:
      description: Specifies the currency a notation may have.
      properties:
        ids:
          description: Set of currency identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_currency_exclude:
      description: Specifies the currency from which a notation may not have.
      properties:
        ids:
          description: Set of currency identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_currency:
      description: Currency selection. See endpoint `/basic/valueUnit/currency/list`
        for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_currency_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_currency_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_validation_market_selection:
      description: Market selection.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_issuer_search_data_market_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_issuer_search_data_market_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_validation_market_priority:
      description: "Sequence of markets specifying the priority order of the markets\
        \ for the selection of one notation per instrument. If for a given instrument\
        \ with two matching notations, A and B, the market of notation A precedes\
        \ the market of notation B in this list, A will be selected.        \n The\
        \ list does not restrict the request to only those markets (use the parameter\
        \ `market.selection` for that purpose)."
      properties:
        ids:
          description: List of market identifiers.
          items:
            format: id32
            type: number
            x-positive: true
            x-enum-description:
            - Mountain-View Funds
            - FactSet Fund Prices
            - WM Datenservice
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_market:
      description: Market-related notation selection.
      properties:
        selection:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_market_selection'
        priority:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_market_priority'
      type: object
      x-property-sort:
      - selection
      - priority
    _fund_notation_screener_search_data_validation_instrumentSelectionList_restrict:
      description: Restriction lists. If present, the result contains only notations
        belonging to share classes that are a member of any of the provided lists.
      properties:
        ids:
          description: Set of identifiers of restriction lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_instrumentSelectionList_exclude:
      description: Exclusion lists. If present, the result does not contain notations
        belonging to share classes that are a member of any of the provided lists.
      properties:
        ids:
          description: Set of identifiers of exclusion lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_instrumentSelectionList:
      description: Instrument-level restriction or exclusion.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_instrumentSelectionList_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_instrumentSelectionList_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_validation_notationSelectionList_restrict:
      description: Restriction lists. If present, the result contains only notations
        that are a member of any of the provided lists.
      properties:
        ids:
          description: Set of identifiers of restriction lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_notationSelectionList_exclude:
      description: Exclusion lists. If present, the result does not contain notations
        that are a member of any of the provided lists.
      properties:
        ids:
          description: Set of identifiers of exclusion lists.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 3
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_validation_notationSelectionList:
      description: Notation-level restriction or exclusion.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_notationSelectionList_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_notationSelectionList_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_validation:
      description: Validation parameters.
      properties:
        onlyActive:
          default: true
          description: If `true`, only active notations will be returned. The term
            "active" reflects the fact that notations and related data is not being
            deleted immediately after becoming irrelevant (e.g. because the source
            does not provide a price anymore), but remains in general retrievable
            for up to 6 months.
          type: boolean
        prices:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_prices'
        currency:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_currency'
        market:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_market'
        instrumentSelectionList:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_instrumentSelectionList'
        notationSelectionList:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_validation_notationSelectionList'
      type: object
      x-property-sort:
      - onlyActive
      - prices
      - currency
      - market
      - instrumentSelectionList
      - notationSelectionList
    _fund_notation_screener_search_data_fund_currency_restrict:
      description: Specifies the main currencies a fund may have.
      properties:
        ids:
          description: Set of main currency identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_currency_exclude:
      description: Specifies the main currencies a fund may not have.
      properties:
        ids:
          description: Set of main currency identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_currency:
      description: 'Main currency of the fund. The parameter ensures the consistency
        and comparability of parameters expressed in the currency of the fund. See
        endpoint `/basic/valueUnit/currency/main/list` for valid values. '
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_currency_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_currency_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_domicile_restrict:
      description: Restriction list. Only funds with a domicile in the provided list
        are returned.
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_domicile_exclude:
      description: Exclusion list. Funds with a domicile in the provided list are
        not returned.
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_domicile:
      description: Domicile of the fund. See endpoint `/basic/region/country/list`
        for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_domicile_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_domicile_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_holdingType_restrict:
      description: Restriction list. Only funds that belong to a category in the provided
        list are returned.
      properties:
        ids:
          description: Set of category identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_holdingType_exclude:
      description: Exclusion list. Funds that belong to a category in the provided
        list are not returned.
      properties:
        ids:
          description: Set of category identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 20
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_holdingType:
      description: Holding asset type classification represented by categories from
        the category system "Asset class classification system for mutual funds, defined
        by FactSet Research Systems Inc.". See endpoint `/category/listBySystem` with
        `id=288` for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_countryDevelopment:
      description: Country development level of the holdings represented by categories
        from the category system "Country development level classification system
        for mutual funds, defined by FactSet Research Systems Inc.". See endpoint
        `/category/listBySystem` with `id=289` for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_regionalExposure_broad:
      description: Broad regional exposure of the holdings represented by categories
        from the category system "Broad regional exposure classification system for
        mutual funds, defined by FactSet Research Systems Inc."; see endpoint `/category/listBySystem`
        with `id=290` for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_regionalExposure_specific:
      description: Specific geographic exposure of the holdings represented by categories
        from the category system "Specific geographic exposure classification system
        for mutual funds, defined by FactSet Research Systems Inc.". See endpoint
        `/category/listBySystem` with `id=291` for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_regionalExposure:
      description: Regional exposure classification.
      properties:
        broad:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_regionalExposure_broad'
        specific:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_regionalExposure_specific'
      type: object
      x-property-sort:
      - broad
      - specific
    _fund_notation_screener_search_data_fund_strategy:
      description: Strategy of the fund represented by categories from any level of
        the category system "Three-tier strategy classification system for funds defined
        by FactSet Research Systems Inc.". See endpoint `/category/listBySystem` with
        `id=292` for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_industry:
      description: Industry classification represented by categories from any level
        of the category system "Funds classification defined by FactSet Digital Solutions".
        See endpoint `/category/listBySystem` with `id=27` for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_minimumSrri:
      description: Minimum value for the synthetic risk and reward indicator (SRRI).
      properties:
        id:
          description: Identifier of the SRRI value. See endpoint `/rating/grade/listBySystem`
            with `id=28` for valid values.
          format: id32
          type: number
          x-positive: true
      type: object
      x-property-sort:
      - id
    _fund_notation_screener_search_data_fund_issuer_selection_restrict:
      description: 'Restriction list. Only funds issued by an issuer in the provided
        list are returned. '
      properties:
        ids:
          description: Set of identifiers of legal entities in the role of an issuer.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_issuer_selection_exclude:
      description: Exclusion list. Funds issued by an issuer in the provided list
        are not returned.
      properties:
        ids:
          description: Set of identifiers of legal entities in the role of an issuer.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 100
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_fund_issuer_selection:
      description: Issuer selection. See endpoint `/funds/issuer/search` for valid
        values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_issuer_selection_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_issuer_selection_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_issuer_country:
      description: Country of registration of the fund issuer. See endpoint `/basic/region/country/list`
        for valid values.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_issuer_search_data_issuer_country_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_issuer_search_data_issuer_country_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_fund_issuer:
      description: Parameters related to the issuer.
      properties:
        selection:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_issuer_selection'
        country:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_issuer_country'
      type: object
      x-property-sort:
      - selection
      - country
    _fund_notation_screener_search_data_fund_assetsUnderManagement_minimum:
      description: The minimum of the range, or `null` to indicate that there is no
        minimum.
      properties:
        value:
          description: The minimum value.
          format: real
          type: number
        inclusive:
          default: true
          description: Indicates whether the minimum value is included in the range
            or not.
          type: boolean
      type: object
      x-property-sort:
      - value
      - inclusive
      x-allowNullValue: true
    _fund_notation_screener_search_data_fund_assetsUnderManagement_maximum:
      description: The maximum of the range, or `null` to indicate that there is no
        maximum.
      properties:
        value:
          description: The maximum value.
          format: real
          type: number
        inclusive:
          default: true
          description: Indicates whether the maximum value is included in the range
            or not.
          type: boolean
      type: object
      x-property-sort:
      - value
      - inclusive
      x-allowNullValue: true
    _fund_notation_screener_search_data_fund_assetsUnderManagement:
      description: Value range for the assets under management (AUM) which is the
        sum of the market values of the fund's holdings including cash. The AUM is
        expressed in the currency of the fund, see  parameter `fund.currency`.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_fund_compliance_and:
      properties:
        id:
          description: |-
            Identifier of a compliance property.

            &#8291;

            Examples:

            &#8291;

            &#8291;1.  Only funds compliant to ALL of the following: (1), (2), and (3) are considered:

            `"compliance":{ "fund": { "or": [{ "and": [{ "id":1, "negate":false }, {"id":2, "negate":false}, {"id":3, "negate":false}]}]}}`

            &#8291;

            &#8291;2. Only funds compliant to either (1) or to (2) are considered:

            `"compliance":{ "fund": { "or": [{ "and": [{ "id":1, "negate":false  }]}, {"and": [{ "id":2, "negate":false }]}]}}`

            &#8291;

            &#8291;3. Only funds compliant to (1) or to (2), but not compliant to (3) are considered:

            `"compliance":{ "fund": { "or": [{ "and": [{ "id":1, "negate":false },{"id":3, "negate":true}]}, {"and": [{ "id":2, "negate":false},{"id":3, "negate":true}]}]}}`
          format: id32
          type: number
          x-positive: true
        negate:
          description: 'If `true`, the condition excludes funds compliant to the compliance
            property. '
          type: boolean
      type: object
      x-property-sort:
      - id
      - negate
    _fund_notation_screener_search_data_fund_compliance_or:
      properties:
        and:
          description: List of combinations of compliance properties joined by a logical
            AND operator.
          items:
            $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_compliance_and'
          type: array
      type: object
      x-property-sort:
      - and
    _fund_notation_screener_search_data_fund_compliance:
      description: 'Compliance properties related to funds. See endpoint `/legalEntity/complianceProperty/list`
        for the full list of compliance properties associated with legal entities
        (across all roles). '
      properties:
        or:
          description: List of conditions representing a combination of compliance
            properties joined by a logical OR operator.
          items:
            $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_compliance_or'
          type: array
      type: object
      x-property-sort:
      - or
    _fund_notation_screener_search_data_fund:
      description: 'Parameters related to funds. '
      properties:
        etf:
          default: include
          description: Defines whether or not notations belonging to ETF share classes
            are included in the result.
          enum:
          - only
          - include
          - exclude
          type: string
          x-enum-description:
          - Only notations of ETF share classes are included in the result.
          - Notations of ETF and mutual funds share classes are included in the result.
          - Notations of ETF share classes are excluded from the result.
        currency:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_currency'
        domicile:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_domicile'
        holdingType:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_holdingType'
        countryDevelopment:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_countryDevelopment'
        regionalExposure:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_regionalExposure'
        strategy:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_strategy'
        industry:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_industry'
        minimumSrri:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_minimumSrri'
        issuer:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_issuer'
        assetsUnderManagement:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement'
        compliance:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_compliance'
      type: object
      x-property-sort:
      - etf
      - currency
      - domicile
      - holdingType
      - countryDevelopment
      - regionalExposure
      - strategy
      - industry
      - minimumSrri
      - issuer
      - assetsUnderManagement
      - compliance
    _fund_notation_screener_search_data_shareClass_currency_restrict:
      description: Specifies the main currencies a share class may have.
      properties:
        ids:
          description: Set of main currency identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_shareClass_currency_exclude:
      description: Specifies the main currencies a share class may not have.
      properties:
        ids:
          description: Set of main currency identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_shareClass_currency:
      description: 'Main currency of the share class. The parameter ensures the consistency
        and comparability of parameters expressed in the currency of the share class.
        See endpoint `/basic/valueUnit/currency/main/list` for valid values. '
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_currency_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_currency_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_shareClass_registrationCountry_restrict:
      description: 'Restriction list. Only share classes registered for trading in
        a country in the provided list are returned. '
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_shareClass_registrationCountry_exclude:
      description: Exclusion list. Share classes registered for trading in a country
        in the provided list are not returned.
      properties:
        ids:
          description: Set of country identifiers.
          items:
            format: id32
            type: number
            x-positive: true
          maxItems: 50
          type: array
          uniqueItems: true
      type: object
      x-property-sort:
      - ids
    _fund_notation_screener_search_data_shareClass_registrationCountry:
      description: Country of trading registration of the share classes.
      properties:
        restrict:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_registrationCountry_restrict'
        exclude:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_registrationCountry_exclude'
      type: object
      x-property-sort:
      - restrict
      - exclude
      x-atMostOne: true
    _fund_notation_screener_search_data_shareClass_lifeCycle_issue:
      description: Date range of the issue date.
      properties:
        start:
          description: The starting point of the date range (inclusive), or `null`
            to indicate that the date range extends indefinitely into the past.
          format: date
          type: string
          x-allowNullValue: true
        end:
          description: The ending point of the date range (exclusive), or `null` to
            indicate that the date range extends indefinitely into the future.
          format: date
          type: string
          x-allowNullValue: true
      required:
      - end
      - start
      type: object
      x-property-sort:
      - start
      - end
      x-isClosedInterval: false
    _fund_notation_screener_search_data_shareClass_lifeCycle:
      description: Parameters related to important dates.
      properties:
        issue:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_lifeCycle_issue'
      type: object
      x-property-sort:
      - issue
    _fund_notation_screener_search_data_shareClass_minimumInvestment_initial:
      description: Value range for the initial investment accepted for establishing
        a new account.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_minimumInvestment_subsequent:
      description: Value range for the subsequent investment for an already established
        account.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_minimumInvestment:
      description: Minimum investment when purchasing shares of the share class. The
        minimum investment is expressed in the currency of the share class, see parameter
        `shareClass.currency`.
      properties:
        initial:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_minimumInvestment_initial'
        subsequent:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_minimumInvestment_subsequent'
      type: object
      x-property-sort:
      - initial
      - subsequent
    _fund_notation_screener_search_data_shareClass_assetsUnderManagement:
      description: Value range for the assets under management (AUM) which is the
        sum of the market values of the holdings of the share class including cash.
        The AUM is expressed in the currency of the share class, see  parameter `shareClass.currency`.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_assetsUnderManagement_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_compliance:
      description: Compliance properties related to share classes. See endpoint `/instrument/complianceProperty/list`
        for the full list of compliance properties associated with instruments (across
        all asset classes).
      properties:
        or:
          description: List of conditions representing a combination of compliance
            properties joined by a logical OR operator.
          items:
            $ref: '#/components/schemas/_fund_notation_screener_search_data_fund_compliance_or'
          type: array
      type: object
      x-property-sort:
      - or
    _fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum:
      description: The minimum of the range, or `null` to indicate that there is no
        minimum.
      properties:
        value:
          description: The minimum value.
          format: relativeValue
          type: number
        inclusive:
          default: true
          description: Indicates whether the minimum value is included in the range
            or not.
          type: boolean
      type: object
      x-property-sort:
      - value
      - inclusive
      x-allowNullValue: true
    _fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum:
      description: The maximum of the range, or `null` to indicate that there is no
        maximum.
      properties:
        value:
          description: The maximum value.
          format: relativeValue
          type: number
        inclusive:
          default: true
          description: Indicates whether the maximum value is included in the range
            or not.
          type: boolean
      type: object
      x-property-sort:
      - value
      - inclusive
      x-allowNullValue: true
    _fund_notation_screener_search_data_shareClass_fee_ongoing_current:
      description: Value range for the current ongoing fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_ongoing:
      description: Ongoing fee. It is a measure of the total fixed costs associated
        with managing and operating a fund. In case of an umbrella fund, the ongoing
        fee includes the costs of the underlying funds.
      properties:
        current:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current'
      type: object
      x-property-sort:
      - current
    _fund_notation_screener_search_data_shareClass_fee_allIn_current:
      description: Value range for the current all-in fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_allIn:
      description: All-in fee. It is a measure of the total costs associated with
        investing in the fund and includes managing and operating costs.
      properties:
        current:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_allIn_current'
      type: object
      x-property-sort:
      - current
    _fund_notation_screener_search_data_shareClass_fee_performance_current:
      description: Value range for the current performance fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_performance:
      description: Performance fee. It is paid to the fund manager and depends on
        the fund's performance.
      properties:
        current:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_performance_current'
      type: object
      x-property-sort:
      - current
    _fund_notation_screener_search_data_shareClass_fee_management_current:
      description: Value range for the current management fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_management:
      description: Management fee. It is paid from the assets of the fund to the fund
        company for running and administration including expenses for advisor and/or
        manager.
      properties:
        current:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_management_current'
      type: object
      x-property-sort:
      - current
    _fund_notation_screener_search_data_shareClass_fee_initial_minimum:
      description: Value range for the minimum initial fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_initial_current:
      description: Value range for the current initial fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_initial_maximum:
      description: Value range for the maximum initial fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_initial:
      description: Initial fee. It is a proportion of the investment amount paid once
        by the investor to the fund company when buying fund shares of the share class.
        Also called front load or entry cost.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_initial_minimum'
        current:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_initial_current'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_initial_maximum'
      type: object
      x-property-sort:
      - minimum
      - current
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_distribution_maximum:
      description: Value range for the maximum distribution fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_distribution:
      description: Distribution fee. It is paid for distribution services provided
        by a distribution agent.
      properties:
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_distribution_maximum'
      type: object
      x-property-sort:
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_administration_maximum:
      description: Value range for the maximum administration fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_administration:
      description: Administration fee. It is paid for running and administration of
        the fund excluding expenses for an advisor and/or a manager.
      properties:
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_administration_maximum'
      type: object
      x-property-sort:
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_handling_maximum:
      description: Value range for the maximum handling fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_handling:
      description: Handling fee. It is paid for handling services of a fund. This
        fee may include, but is not limited to, the administration fee, the management
        fee, and the distribution fee.
      properties:
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_handling_maximum'
      type: object
      x-property-sort:
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_redemption_current:
      description: Value range for the current redemption fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_redemption_maximum:
      description: Value range for the maximum redemption fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_redemption:
      description: Redemption fee. It is a proportion of the redeemed investment amount
        paid once by the investor to the fund company when selling fund shares of
        the share class. Also called selling fee or exit charge.
      properties:
        current:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_redemption_current'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_redemption_maximum'
      type: object
      x-property-sort:
      - current
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_custodianBank_current:
      description: Value range for the current custodian bank fee.
      properties:
        minimum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_minimum'
        maximum:
          $ref: '#/components/schemas/_fund_notation_screener_search_data_shareClass_fee_ongoing_current_maximum'
      type: object
      x-property-sort:
      - minimum
      - maximum
    _fund_notation_screener_search_data_shareClass_fee_custodianBank:
[...]
