openapi: 3.0.0
info:
  description: |2

    **FactSet Formula API**

    FactSet’s Formula API is a modern, flexible, formula-based API that enables users to access FactSet’s wide range of financial data and content. The API offers two endpoints, one optimized for time-series analysis and one designed for cross-sectional analysis, providing users a simplified interface into FactSet’s expansive offering. By providing two endpoints, it allows for the optimization of user workflows, while reducing complexity.

    Leverage the power and flexibility of the Formula API to -
      * Pull data from across most content sets that a user has access to in a single request
      * Include business logic and mathematical operations in request
      * Submit a dynamic universe in both endpoints
      * Return the fsymId to easily combine with other FactSet content / products
      * Set the trading calendar
      * Define custom display names

    **Formula API Request Builder**

    The Formula API Request Builder provides users everything they need to form a Formula API request. In the Request Builder, you can select identifiers, build a universe expression, select FQL or Screening formulas, easily apply business logic and mathematical functions to the FQL or Screening formulas, specify optional parameters, and construct a GET or POST request. The Request Builder eliminates the need to have previous FQL and Screening knowledge and allows you to quickly find your desired data items and form the request.

    The Formula API Request Builder can be accessed by navigating to [https://developer.factset.com/formula-api-request-builder](https://developer.factset.com/formula-api-request-builder) and logging in using your FactSet.net ID. When using the Request Builder to construct requests for the one of the Formula API's endpoints, be sure to toggle to the correct endpoint at the top of the page.

    **How to Check the Health and Availability of the Formula API**

    Please use the below endpoint to check the health and availability of the Formula API. You must be authorized for this API to use the Health endpoint.

    [https://api.factset.com/formula-api/health](https://api.factset.com/formula-api/health)

    **How to Programmatically Download API Specification File**

    Please use the below endpoint to download the FactSet Formula API Specification File in .yaml. You must be authorized for this API to extract. This specification can then be used for Codegen to create your own SDKs. You can also download the spec using the "Download Spec" button to the right of the version number.

    [https://api.factset.com/formula-api/v1/spec](https://api.factset.com/formula-api/v1/spec)
  title: FactSet Formula API
  version: 1.2.0
servers:
- description: Production
  url: https://api.factset.com/formula-api
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /v1/time-series:
    get:
      description: |
        The `/time-series` endpoint is closely aligned with FactSet’s powerful data retrieval language **FactSet Query Language (FQL)** which is optimized for time-series analysis. FQL can also perform sophisticated statistical, mathematical, logical, and other complex operations on the data.

          This endpoint has a unique **TIMESERIES** data object that pairs the requested data with FactSet provided dates. This helps reduce the need for additional data requests and reduces the work required by users.

        The `/time-series` endpoint supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getTimeSeriesData
      parameters:
      - description: |
          List of entity identifiers.

          The `ids` and `universe` parameters provide two different ways to specify the identifiers for which you want data retrieved. Please enter either the `ids` or `universe` parameter.
        examples:
          singleId:
            summary: Single id
            value:
            - IBM
          multipleIds:
            summary: Multiple ids
            value:
            - IBM
            - AAPL
            - MSFT
        explode: false
        in: query
        name: ids
        required: false
        schema:
          items:
            example: '["FDS-US","IBM-US"]'
            type: string
          type: array
        style: form
      - description: |
          Screening expression to limit the universe

          Please enter either the `ids` or `universe` parameter.
        examples:
          noUniverse:
            summary: '---'
            value: ""
          oneCriteria:
            summary: Equity Universe - S&P 500 Constituents
            value: FG_CONSTITUENTS(SP50,0,CLOSE)
          twoCriteria:
            summary: Equity Universe -  S&P 500 Constituents with Price < 10 USD
            value: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
          debtUniverse:
            description: |
              The issuer name and amount out for all debt instruments for the Starbucks Corporation

              To calculate fixed income universe, `universeType` must be set to **DEBT**.
            summary: Debt Universe - Starbucks Debt
            value: EQUITY(P_SYMBOL)='SBUX-US'
        explode: false
        in: query
        name: universe
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the universe type to calculate the `universe` in.

          Find documentation below on how to build a screen for each universe type -
          * Equity Screen - [Online Assistant Page 20606](https://my.apps.factset.com/oa/pages/20606)

          * Debt Screen - [Online Assistant Page 20888](https://my.apps.factset.com/oa/pages/20888)

          * Fund Screen - [Online Assistant Page 21384](https://my.apps.factset.com/oa/pages/21384)

          This parameter may only be used in conjunction with the `universe` parameter.
        explode: false
        in: query
        name: universeType
        required: false
        schema:
          default: EQUITY
          enum:
          - EQUITY
          - DEBT
          - FUND
          type: string
        style: form
      - description: List of FQL formulas
        examples:
          singleItem:
            summary: Single Data Item
            value:
            - P_PRICE(0)
          multipleItems:
            summary: Multiple Data Items
            value:
            - P_PRICE(0,-2,D)
            - FG_COMPANY_NAME
            - FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
            - FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
          multipleItemsFlatten:
            summary: Multiple TIMESERIES Data Items
            value:
            - P_PRICE_OPEN(0,-2,D)
            - P_PRICE(0,-2,D)
            - FG_COMPANY_NAME
          debtDataItems:
            summary: Multiple Debt Data Items
            value:
            - FI_NAME(ISSR)
            - FI_AMOUNT_OUT(AMT,0,USD)
          calculatedDataItems:
            description: |
              These data items showcase the ability to include logic, mathematical operations, and other functions in the request itself.

              The first data item using the division operator to calculate a P/E ratio from the last trading day of the company’s most recent fiscal year.

              The second data item uses the addition operator to calculate percentage of revenue exposure in the US and Japan for the same date as the first data item. Note that due to URI defintion of the plus sign, the **+** symbol must be URL percent encoded as **%2B** in GET requests. This means you should use **%2B** in place of the symbol **+** in the request.

              The third data item uses the average function (**AVG**) and the **IF** function to indicate whether the average daily price change over the company’s most recent fiscal year is postive or negative.

              You can find more information about the different functions you can use in FQL at the following Online Assistant pages -
              * Mathematical Operators - [Online Assistant Page 10600](https://my.apps.factset.com/oa/pages/10600)
              * Logical Functions - [Online Assistant Page 11485](https://my.apps.factset.com/oa/pages/1485)
              * Categorical List of All Functions - [Online Assistant Page 1411](https://my.apps.factset.com/oa/pages/1411)
            summary: Multiple Calculated Data Items
            value:
            - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
            - FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)%2BFF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
            - IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
        explode: false
        in: query
        name: formulas
        required: true
        schema:
          items:
            example: '["P_PRICE(0,-2,D)","FG_COMPANY_NAME"]'
            type: string
          type: array
        style: form
      - description: Calendar of data returned. The default value is FIVEDAY which
          displays Monday through Friday, regardless of whether there were trading
          holidays.
        examples:
          fiveday:
            description: Displays Monday through Friday, regardless of whether there
              were trading holidays. This is the default for `calendar`.
            summary: FIVEDAY
            value: FIVEDAY
          sevenday:
            description: Displays Monday through Sunday.
            summary: SEVENDAY
            value: SEVENDAY
          local:
            description: Uses the local trading calendar for each security. Local
              exchange holidays will be skipped.
            summary: LOCAL
            value: LOCAL
          region:
            description: The calendar of a specific region. The example shown here
              'NAY' is for the UNITED STATES calendar. You can find the calendar codes
              for regions on [Online Assistant Page 16610](https://my.apps.factset.com/oa/pages/16610#country).
            summary: Region Specific
            value: NAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify **Y** for the `fsymId` parameter to return the **fsymId** (FactSet Default Permanent Identifier) of the `requestId`, in addition to the **requestId** field, in each response object. The default value for the `fsymId` parameter is **N**.

          The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId '-R' which identifies the security’s best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).
        explode: false
        in: query
        name: fsymId
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      - description: |
          Define display names for the formulas inputted. Enter the list of display names in the same order as the formulas inputted. An additional field **displayName** will be returned in the data object for a formula.

          If the number of display names does not match the number of formulas provided, an error will be returned.

          To define the display name for a subset of the formulas, leave a blank in the position of the formula that won't be renamed. For example - If three formulas are inputted, to define display names only for the first and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field will still be included in that formula, but will contain the formula as inputted.
        examples:
          noNames:
            summary: '---'
            value: ""
          singleItem:
            summary: Single Data Item
            value:
            - PRICE
          multipleItems:
            summary: Multiple Data Items
            value:
            - PRICE
            - COMPANY NAME
            - BUSINESS SEGMENT
            - SALES SEGMENT
        explode: false
        in: query
        name: displayName
        required: false
        schema:
          items:
            example: PRICE
            type: string
          type: array
        style: form
      - description: |
          Specify **Y** for `flatten` to return a flat, table-like JSON response model instead of the standard nested JSON response model. This option is provided for easier data processing and visualization. The default value for `flatten` is **N**.

          See the **Time-Series Result Object Flattened** schema for more detail on the response structure for flattened output.
        explode: false
        in: query
        name: flatten
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request up to **10 minutes**. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202.

          A user is limited to running 5 Batch Requests in a 10 minute period.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*

          Once a batch request is submitted, use `/batch-status` to see if the job has completed. Once completed, retrieve the results of the request via `/batch-result`. See the endpoints listed under *Batch Processing* for more information.
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Single Id and Single Data Item with fsymId=Y:
                  $ref: '#/components/examples/time-series-singleId-singleItem-fsymId'
                Multiple Ids and Multiple Data Items with SEVENDAY Calendar:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem'
                Multiple Ids and Multiple Data Items with flatten=Y:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem-flatten'
                Multiple Ids and Multiple Calculated Data Items:
                  $ref: '#/components/examples/time-series-multipleId-multipleCalculatedItem'
                Small Universe and Single Data Item:
                  $ref: '#/components/examples/time-series-smallUniv-singleItem'
                Debt Universe and Multiple Data Items:
                  $ref: '#/components/examples/time-series-debtUniv-multipleItem'
              schema:
                $ref: '#/components/schemas/time_series_response'
          description: Gets an array of `Response Objects` for a list of IDs and FQL
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
        "400":
          content:
            application/json:
              examples:
                parameterError - Missing Formulas:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The parameter 'formulas' is required and may not be empty.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Ids and Universe:
                  description: The `ids` or `universe` parameter must be included.
                    Including `ids` and `universe` parameters in the same request
                    is not allowed.
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: Please enter either the ids or universe parameter.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Invalid displayName Input:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The length of the list provided for the displayName parameter
                      must be equal to the number of formulas requested.
                    timeStamp: 2019-11-01 11:09:41.918
                requestBodyInvalid:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: requestBodyInvalid
                    title: The request body could not be read.
                    timeStamp: 2019-11-01 11:09:41.918
                invalidCharacter:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: invalidCharacter
                    title: The request contains an invalid character. Allowed characters
                      are Unicode code points in the ranges [0x09-0x0a],[0x0d], [0x20-0x7e],
                      [0x85], [0xa0-0xd7ff], [0xe000-0xfffd], and [0x10000-0x10ffff].
                    timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Unauthenticated USERNAME-SERIAL. This error will also occur
            if the API request is made from IP address not specified in the API Key
            configuration. Note that additional IP addresses can be added to an existing
            API Key configuration.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "403":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: Unauthorized
                title: USERNAME-SERIAL does not have permission to use /v1/{endpoint}
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Authorized.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: endpointNotFound
                title: '''/formula-api/v1/{invalid endpoint}'' is not a valid endpoint.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Endpoint Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "405":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: methodNotAllowed
                title: The HTTP method {unsupported method} is not allowed. Please
                  resubmit the request using the HTTP methods GET or POST.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Method Not Allowed
        "406":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badAccept
                title: 'Accept: {unsupported Accept header} is not supported. The
                  Accept header must include application/json.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Accept Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "408":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: requestTimeout
                title: The request took too long. Try again with a smaller request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Request Timeout. This error may be returned if it takes more
            than 29 seconds for the request to process or if a batch request takes
            more than 10 minutes to process.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "415":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badContentType
                title: 'Content-Type: {unsupported Content-Type} is not supported.
                  The Content-Type header must include application/json'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Content-Type Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "429":
          content:
            application/json:
              schema:
                description: |
                  Error returned if any of the user's rate limits have been reached.
                properties:
                  message:
                    example: API rate limit exceeded
                    type: string
                title: Rate Limit Error Object
          description: Rate Limits Exceeded
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: genericServerError
                title: An unexpected error happened.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Generic Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "501":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: notImplemented
                title: The requested endpoint or functionality has not been implemented
                  yet.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "503":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: serviceTemporarilyUnavailable
                title: Will be sent in case the requested service is currently overloaded
                  or can't temporarily handle the request for some other reason. Clients
                  are expected to retry the request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Service Temporarily Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Retrieve data items (FQL formulas) for a list of identifiers or defined
        universe.
      tags:
      - Time-Series
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: |
        The `/time-series` endpoint is closely aligned with FactSet’s powerful data retrieval language **FactSet Query Language (FQL)** which is optimized for time-series analysis. FQL can also perform sophisticated statistical, mathematical, logical, and other complex operations on the data.

          This endpoint has a unique **TIMESERIES** data object that pairs the requested data with FactSet provided dates. This helps reduce the need for additional data requests and reduces the work required by users.

        The `/time-series` endpoint supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getTimeSeriesDataForList
      requestBody:
        $ref: '#/components/requestBodies/time-series-postBody'
      responses:
        "200":
          content:
            application/json:
              examples:
                Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Single Id and Single Data Item with fsymId=Y:
                  $ref: '#/components/examples/time-series-singleId-singleItem-fsymId'
                Multiple Ids and Multiple Data Items with SEVENDAY Calendar:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem'
                Multiple Ids and Multiple Data Items with flatten=Y:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem-flatten'
                Multiple Ids and Multiple Calculated Data Items:
                  $ref: '#/components/examples/time-series-multipleId-multipleCalculatedItem'
                Small Universe and Single Data Item:
                  $ref: '#/components/examples/time-series-smallUniv-singleItem'
                Debt Universe and Multiple Data Items:
                  $ref: '#/components/examples/time-series-debtUniv-multipleItem'
              schema:
                $ref: '#/components/schemas/time_series_response'
          description: Gets an array of `Response Objects` for a list of IDs and FQL
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
        "400":
          content:
            application/json:
              examples:
                parameterError - Missing Formulas:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The parameter 'formulas' is required and may not be empty.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Ids and Universe:
                  description: The `ids` or `universe` parameter must be included.
                    Including `ids` and `universe` parameters in the same request
                    is not allowed.
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: Please enter either the ids or universe parameter.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Invalid displayName Input:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The length of the list provided for the displayName parameter
                      must be equal to the number of formulas requested.
                    timeStamp: 2019-11-01 11:09:41.918
                requestBodyInvalid:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: requestBodyInvalid
                    title: The request body could not be read.
                    timeStamp: 2019-11-01 11:09:41.918
                invalidCharacter:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: invalidCharacter
                    title: The request contains an invalid character. Allowed characters
                      are Unicode code points in the ranges [0x09-0x0a],[0x0d], [0x20-0x7e],
                      [0x85], [0xa0-0xd7ff], [0xe000-0xfffd], and [0x10000-0x10ffff].
                    timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Unauthenticated USERNAME-SERIAL. This error will also occur
            if the API request is made from IP address not specified in the API Key
            configuration. Note that additional IP addresses can be added to an existing
            API Key configuration.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "403":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: Unauthorized
                title: USERNAME-SERIAL does not have permission to use /v1/{endpoint}
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Authorized.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: endpointNotFound
                title: '''/formula-api/v1/{invalid endpoint}'' is not a valid endpoint.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Endpoint Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "405":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: methodNotAllowed
                title: The HTTP method {unsupported method} is not allowed. Please
                  resubmit the request using the HTTP methods GET or POST.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Method Not Allowed
        "406":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badAccept
                title: 'Accept: {unsupported Accept header} is not supported. The
                  Accept header must include application/json.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Accept Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "408":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: requestTimeout
                title: The request took too long. Try again with a smaller request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Request Timeout. This error may be returned if it takes more
            than 29 seconds for the request to process or if a batch request takes
            more than 10 minutes to process.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "415":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badContentType
                title: 'Content-Type: {unsupported Content-Type} is not supported.
                  The Content-Type header must include application/json'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Content-Type Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "429":
          content:
            application/json:
              schema:
                description: |
                  Error returned if any of the user's rate limits have been reached.
                properties:
                  message:
                    example: API rate limit exceeded
                    type: string
                title: Rate Limit Error Object
          description: Rate Limits Exceeded
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: genericServerError
                title: An unexpected error happened.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Generic Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "501":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: notImplemented
                title: The requested endpoint or functionality has not been implemented
                  yet.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "503":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: serviceTemporarilyUnavailable
                title: Will be sent in case the requested service is currently overloaded
                  or can't temporarily handle the request for some other reason. Clients
                  are expected to retry the request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Service Temporarily Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Retrieve data items (FQL formulas) for a list of identifiers or defined
        universe.
      tags:
      - Time-Series
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /v1/cross-sectional:
    get:
      description: |
        The `/cross-sectional` endpoint is closely aligned with FactSet’s powerful data retrieval **Screening language** which is optimized for analysis of data items at single point in time for different entities and is extremely efficient for large universes.

        The `/cross-sectional` endpoint supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getCrossSectionalData
      parameters:
      - description: |
          List of entity identifiers.

          The `ids` and `universe` parameters provide two different ways to specify the identifiers for which you want data retrieved. Please enter either the `ids` or `universe` parameter.
        examples:
          singleId:
            summary: Single id
            value:
            - IBM
          multipleIds:
            summary: Multiple ids
            value:
            - IBM
            - AAPL
            - MSFT
        explode: false
        in: query
        name: ids
        required: false
        schema:
          items:
            example: '["FDS-US","IBM-US"]'
            type: string
          type: array
        style: form
      - description: |
          Screening expression to limit the universe

          Please enter either the `ids` or `universe` parameter.
        examples:
          noUniverse:
            summary: '---'
            value: ""
          oneCriteria:
            summary: Equity Universe - S&P 500 Constituents
            value: FG_CONSTITUENTS(SP50,0,CLOSE)
          twoCriteria:
            summary: Equity Universe -  S&P 500 Constituents with Price < 10 USD
            value: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
          debtUniverse:
            description: |
              The issuer name and amount out for all debt instruments for the Starbucks Corporation

              To calculate fixed income universe, `universeType` must be set to **DEBT**.
            summary: Debt Universe - Starbucks Debt
            value: EQUITY(P_SYMBOL)='SBUX-US'
        explode: false
        in: query
        name: universe
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the universe type to calculate the `universe` in.

          Find documentation below on how to build a screen for each universe type -
          * Equity Screen - [Online Assistant Page 20606](https://my.apps.factset.com/oa/pages/20606)

          * Debt Screen - [Online Assistant Page 20888](https://my.apps.factset.com/oa/pages/20888)

          * Fund Screen - [Online Assistant Page 21384](https://my.apps.factset.com/oa/pages/21384)
        explode: false
        in: query
        name: universeType
        required: false
        schema:
          default: EQUITY
          enum:
          - EQUITY
          - DEBT
          - FUND
          type: string
        style: form
      - description: List of Screening formulas
        examples:
          singleItem:
            summary: Single Equity Data Item
            value:
            - P_PRICE(0)
          multipleItems:
            summary: Multiple Equity Data Items
            value:
            - FF_SALES(ANN_R,0)
            - PROPER_NAME(0,SECURITY,NAME)
            - P_PRICE(0)
            - FF_ASSETS(ANN_R,0)
          calculatedItems:
            description: |
              These data items showcase the ability to include logic, mathematical operations, and other functions in the request itself.

              The first data item using the division operator to calculate a P/E ratio from the last trading day of the company’s most recent fiscal year.

              The second data item uses the addition operator to calculate percentage of revenue exposure in the US and Japan for the same date as the first data item. Note that due to URI defintion of the plus sign, the **+** symbol must be URL percent encoded as **%2B** in GET requests. This means you should use **%2B** in place of the symbol **+** in the request.

              The third data item uses the **IF** function and greater than operator (**>**) to indicate whether the latest fiscal year's sales were higher or lower than the previous year's sales.

              You can find more information about the different functions you can use in FQL at the following Online Assistant pages -
              * Mathematical Operators - [Online Assistant Page 10600](https://my.apps.factset.com/oa/pages/10600)
              * Logical Functions - [Online Assistant Page 11485](https://my.apps.factset.com/oa/pages/1485)
              * Categorical List of All Functions - [Online Assistant Page 1411](https://my.apps.factset.com/oa/pages/1411)
            summary: Multiple Calculated Data Items
            value:
            - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
            - FF_GEOREV_COUNTRY_PCT(840,ANN,0,RF)%2BFF_GEOREV_COUNTRY_PCT(392,ANN,0,RF)
            - IF(FF_SALES(ANN_R,0)>FF_SALES(ANN_R,-1),"HIGHER","LOWER")
          multipleFixedIncomeItems:
            description: |
              To retrieve fixed income data, `universeType` must be set to **DEBT**.
            summary: Multiple Fixed Income Data Items
            value:
            - FI_NAME(ISSR)
            - FI_AMOUNT_OUT(AMT,0,USD)
        explode: false
        in: query
        name: formulas
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Specify the backtest date either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.

          To learn more about backtesting, please visit [Online Assistant Page 20610](https://my.apps.factset.com/oa/pages/20610#backtest). User must have access to backtesting functionality.
        explode: false
        in: query
        name: backTestDate
        required: false
        schema:
          type: string
        style: form
      - description: Calendar of data returned. The default value is FIVEDAY which
          displays Monday through Friday, regardless of whether there were trading
          holidays.
        examples:
          fiveday:
            description: Displays Monday through Friday, regardless of whether there
              were trading holidays. This is the default for `calendar`.
            summary: FIVEDAY
            value: FIVEDAY
          sevenday:
            description: Displays Monday through Sunday.
            summary: SEVENDAY
            value: SEVENDAY
          local:
            description: Uses the local trading calendar for each security. Local
              exchange holidays will be skipped.
            summary: LOCAL
            value: LOCAL
          region:
            description: The calendar of a specific region. The example shown here
              'NAY' is for the UNITED STATES calendar. You can find the calendar codes
              for regions on [Online Assistant Page 16610](https://my.apps.factset.com/oa/pages/16610#country).
            summary: Region Specific
            value: NAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify **Y** for `fsymId` to return an additional response object containing the data
          item **fsymId** which will contain the fsymIds of the requestIds. This is in addition to the
          response object containing the data item **requestId**. The default value for `fsymId`
          is **N**.

          The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId '-R' which identifies the security’s best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).
        explode: false
        in: query
        name: fsymId
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      - description: |
          Define display names for the formulas inputted. Enter the list of display names in the same order as the formulas inputted. An additional field **displayName** will be returned in the data object for a formula.

          If the number of display names does not match the number of formulas provided, an error will be returned.

          To define the display name for a subset of the formulas, leave a blank in the position of the formula that won't be renamed. For example - If three formulas are inputted, to define display names only for the first and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field will still be included in that formula, but will contain the formula as inputted.
        examples:
          noNames:
            summary: '---'
            value: ""
          singleItem:
            summary: Single Data Item
            value:
            - PRICE
          multipleItems:
            summary: Multiple Data Items
            value:
            - SALES
            - COMPANY NAME
            - PRICE
            - ASSETS
        explode: false
        in: query
        name: displayName
        required: false
        schema:
          items:
            example: PRICE
            type: string
          type: array
        style: form
      - description: |
          Specify **Y** for `flatten` to return a flat, table-like JSON response model instead of the standard nested JSON response model. This option is provided for easier data processing and visualization. The default value for `flatten` is **N**.

          See the **Cross-Sectional Result Object Flattened** schema for more detail on the response structure for flattened output.
        explode: false
        in: query
        name: flatten
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request up to **10 minutes**. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202.

          A user is limited to running 5 Batch Requests in a 10 minute period.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*

          Once a batch request is submitted, use `/batch-status` to see if the job has completed. Once completed, retrieve the results of the request via `/batch-result`. See the endpoints listed under *Batch Processing* for more information.
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Single Equity Id and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
                Single Equity Id and Single Equity Data Item with fsymId=Y:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem-fsymId'
                Multiple Equity Ids and Multiple Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem'
                Multiple Equity Ids and Multiple Equity Data Items with flatten=Y:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem-flatten'
                Multiple Equity Ids and Multiple Calculated Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleCalculatedItem'
                Multiple Fixed Income Ids and Multiple Fixed Income Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleFixedIncomeId-multipleItem'
                Small Equity Universe and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-smallUniv-singleItem'
                Debt Universe and Multiple Debt Data Items:
                  $ref: '#/components/examples/cross-sectional-debtUniv-multipleItem'
              schema:
                $ref: '#/components/schemas/cross_sectional_response'
          description: Gets an array of `Response Objects` for a list of IDs and Screening
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
        "400":
          content:
            application/json:
              examples:
                parameterError - Missing Formulas:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The parameter 'formulas' is required and may not be empty.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Ids and Universe:
                  description: The `ids` or `universe` parameter must be included.
                    Including `ids` and `universe` parameters in the same request
                    is not allowed.
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: Please enter either the ids or universe parameter.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Invalid displayName Input:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The length of the list provided for the displayName parameter
                      must be equal to the number of formulas requested.
                    timeStamp: 2019-11-01 11:09:41.918
                requestBodyInvalid:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: requestBodyInvalid
                    title: The request body could not be read.
                    timeStamp: 2019-11-01 11:09:41.918
                invalidCharacter:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: invalidCharacter
                    title: The request contains an invalid character. Allowed characters
                      are Unicode code points in the ranges [0x09-0x0a],[0x0d], [0x20-0x7e],
                      [0x85], [0xa0-0xd7ff], [0xe000-0xfffd], and [0x10000-0x10ffff].
                    timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Unauthenticated USERNAME-SERIAL. This error will also occur
            if the API request is made from IP address not specified in the API Key
            configuration. Note that additional IP addresses can be added to an existing
            API Key configuration.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "403":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: Unauthorized
                title: USERNAME-SERIAL does not have permission to use /v1/{endpoint}
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Authorized.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: endpointNotFound
                title: '''/formula-api/v1/{invalid endpoint}'' is not a valid endpoint.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Endpoint Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "405":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: methodNotAllowed
                title: The HTTP method {unsupported method} is not allowed. Please
                  resubmit the request using the HTTP methods GET or POST.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Method Not Allowed
        "406":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badAccept
                title: 'Accept: {unsupported Accept header} is not supported. The
                  Accept header must include application/json.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Accept Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "408":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: requestTimeout
                title: The request took too long. Try again with a smaller request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Request Timeout. This error may be returned if it takes more
            than 29 seconds for the request to process or if a batch request takes
            more than 10 minutes to process.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "415":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badContentType
                title: 'Content-Type: {unsupported Content-Type} is not supported.
                  The Content-Type header must include application/json'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Content-Type Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "429":
          content:
            application/json:
              schema:
                description: |
                  Error returned if any of the user's rate limits have been reached.
                properties:
                  message:
                    example: API rate limit exceeded
                    type: string
                title: Rate Limit Error Object
          description: Rate Limits Exceeded
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: genericServerError
                title: An unexpected error happened.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Generic Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "501":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: notImplemented
                title: The requested endpoint or functionality has not been implemented
                  yet.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "503":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: serviceTemporarilyUnavailable
                title: Will be sent in case the requested service is currently overloaded
                  or can't temporarily handle the request for some other reason. Clients
                  are expected to retry the request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Service Temporarily Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Retrieve data items (Screening formulas) for a list of identifiers
        or defined universe.
      tags:
      - Cross-Sectional
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: |
        The `/cross-sectional` endpoint is closely aligned with FactSet’s powerful data retrieval **Screening language** which is optimized for analysis of data items at single point in time for different entities and is extremely efficient for large universes.

        The `/cross-sectional` endpoint supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getCrossSectionalDataForList
      requestBody:
        $ref: '#/components/requestBodies/cross-sectional-postBody'
      responses:
        "200":
          content:
            application/json:
              examples:
                Single Equity Id and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
                Single Equity Id and Single Equity Data Item with fsymId=Y:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem-fsymId'
                Multiple Equity Ids and Multiple Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem'
                Multiple Equity Ids and Multiple Equity Data Items with flatten=Y:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem-flatten'
                Multiple Equity Ids and Multiple Calculated Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleCalculatedItem'
                Multiple Fixed Income Ids and Multiple Fixed Income Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleFixedIncomeId-multipleItem'
                Small Equity Universe and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-smallUniv-singleItem'
                Debt Universe and Multiple Debt Data Items:
                  $ref: '#/components/examples/cross-sectional-debtUniv-multipleItem'
              schema:
                $ref: '#/components/schemas/cross_sectional_response'
          description: Gets an array of `Response Objects` for a list of IDs and Screening
            formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
        "400":
          content:
            application/json:
              examples:
                parameterError - Missing Formulas:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The parameter 'formulas' is required and may not be empty.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Ids and Universe:
                  description: The `ids` or `universe` parameter must be included.
                    Including `ids` and `universe` parameters in the same request
                    is not allowed.
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: Please enter either the ids or universe parameter.
                    timeStamp: 2019-11-01 11:09:41.918
                parameterError - Invalid displayName Input:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: parameterError
                    title: The length of the list provided for the displayName parameter
                      must be equal to the number of formulas requested.
                    timeStamp: 2019-11-01 11:09:41.918
                requestBodyInvalid:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: requestBodyInvalid
                    title: The request body could not be read.
                    timeStamp: 2019-11-01 11:09:41.918
                invalidCharacter:
                  value:
                    id: 5EFCCA8940CAEB6E
                    code: invalidCharacter
                    title: The request contains an invalid character. Allowed characters
                      are Unicode code points in the ranges [0x09-0x0a],[0x0d], [0x20-0x7e],
                      [0x85], [0xa0-0xd7ff], [0xe000-0xfffd], and [0x10000-0x10ffff].
                    timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Unauthenticated USERNAME-SERIAL. This error will also occur
            if the API request is made from IP address not specified in the API Key
            configuration. Note that additional IP addresses can be added to an existing
            API Key configuration.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "403":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: Unauthorized
                title: USERNAME-SERIAL does not have permission to use /v1/{endpoint}
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Authorized.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: endpointNotFound
                title: '''/formula-api/v1/{invalid endpoint}'' is not a valid endpoint.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Endpoint Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "405":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: methodNotAllowed
                title: The HTTP method {unsupported method} is not allowed. Please
                  resubmit the request using the HTTP methods GET or POST.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Method Not Allowed
        "406":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badAccept
                title: 'Accept: {unsupported Accept header} is not supported. The
                  Accept header must include application/json.'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Accept Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "408":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: requestTimeout
                title: The request took too long. Try again with a smaller request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Request Timeout. This error may be returned if it takes more
            than 29 seconds for the request to process or if a batch request takes
            more than 10 minutes to process.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "415":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: badContentType
                title: 'Content-Type: {unsupported Content-Type} is not supported.
                  The Content-Type header must include application/json'
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Bad Content-Type Header
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "429":
          content:
            application/json:
              schema:
                description: |
                  Error returned if any of the user's rate limits have been reached.
                properties:
                  message:
                    example: API rate limit exceeded
                    type: string
                title: Rate Limit Error Object
          description: Rate Limits Exceeded
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: genericServerError
                title: An unexpected error happened.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Generic Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "501":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: notImplemented
                title: The requested endpoint or functionality has not been implemented
                  yet.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
        "503":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: serviceTemporarilyUnavailable
                title: Will be sent in case the requested service is currently overloaded
                  or can't temporarily handle the request for some other reason. Clients
                  are expected to retry the request.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Service Temporarily Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Retrieve data items (Screening formulas) for a list of identifiers
        or defined universe.
      tags:
      - Cross-Sectional
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /v1/batch-status:
    get:
      deprecated: false
      description: |
        Return the status for the underlying batch request that is specified by the id.

          The Formula API supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter in the `/time-series` and `/cross-sectional` endpoints.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getBatchStatus
      parameters:
      - allowEmptyValue: false
        description: Batch Request identifier.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              example: batch/v1/result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Returns the status for a Batch Request
      tags:
      - Batch Processing
      x-accepts: application/json
    post:
      deprecated: false
      description: |
        Return the status for the underlying batch request that is specified by the id.

          The Formula API supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter in the `/time-series` and `/cross-sectional` endpoints.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getBatchStatusWithPost
      requestBody:
        $ref: '#/components/requestBodies/batch-status-postBody'
      responses:
        "201":
          content:
            application/json:
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              example: batch/v1/result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Returns the status for a Batch Request
      tags:
      - Batch Processing
      x-contentType: application/json
      x-accepts: application/json
  /v1/batch-result:
    get:
      deprecated: false
      description: |
        Returns the response data for the underlying batch request that is specified by the id.

          The Formula API supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter in the `/time-series` and `/cross-sectional` endpoints.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getBatchData
      parameters:
      - allowEmptyValue: false
        description: Batch Request identifier.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Time-Series Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Cross-Sectional Single Id and Single Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
          description: Request Response Object when batch request has completed and
            response is created
        "202":
          content:
            application/json:
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchResultQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchResultExecutingResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: 2019-11-01 11:09:41.918
              schema:
                $ref: '#/components/schemas/error_detail'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
      summary: Returns the response for a Batch Request
      tags:
      - Batch Processing
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      deprecated: false
      description: |
        Returns the response data for the underlying batch request that is specified by the id.

          The Formula API supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter in the `/time-series` and `/cross-sectional` endpoints.

          *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*
      operationId: getBatchDataWithPost
      requestBody:
        $ref: '#/components/requestBodies/batch-result-postBody'
      responses:
        "200":
          content:
            application/json:
              examples:
                Time-Series Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Cross-Sectional Single Id and Single Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
          description: Request Response Object when batch request has completed and
            response is created
        "202":
          content:
            application/json:
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchResultQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchResultExecutingResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
[...]
