openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: This service provides the capability to search and download unstructured
    content provided by <a href="https://open.factset.com/catalog/en-us">Open:FactSet
    Partners</a>.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Open:FactSet - Partners
  version: 2.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/openfactset-partners-documents
servers:
- url: https://api.factset.com/bulk-documents/ofm/v2
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: "<a href=https://go.factset.com/marketplace/catalog/product/lgx-datahub>Luxembourg</a>\
    \ API provides access to Green Bonds data. \n"
  name: Luxembourg
- description: |
    <a href=https://go.factset.com/marketplace/catalog/product/china-a-shares-transcripts>Orbit</a> API covers full universe of almost 4,800 companies since the early 2000's. Content covers Earning Call Transcripts in Chinese and English.
  name: Orbit
- description: |
    <a href=https://open.factset.com/partners/ozmosi/en-us>Ozmosi</a> API provides access to Clinical Trials data.
  name: Ozmosi
- description: Scripts Asia API provides access to Asia Pacific regional collected
    transcripts.
  name: Scripts Asia
- description: "<a href=https://go.factset.com/marketplace/catalog/product/linkup-raw>LinkUp</a>\
    \ API provides access to job listings data.  \n"
  name: LinkUp
paths:
  /linkup/job-listings:
    get:
      description: Returns the  daily files from Open:FactSet Partner - LinkUp. The
        LinkUp API provides access to job listings dataset that is sourced directly
        from employer webistes globally delivered daily. **This API is no longer being
        sold for new clients.**
      operationId: getLinkUpJobListings
      parameters:
      - description: Enables to get the data in ascending or descending order based
          on startTime. Results are in reverse chronological order if this parameter
          is not used.
        explode: true
        in: query
        name: _sort
        required: false
        schema:
          default: -startDate
          enum:
          - startDate
          - -startDate
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: The earliest date of the LinkUp file the API should fetching
          for based on fileTimestamp.
        example: 2020-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: The latest date of the LinkUp file the API should fetching for
          based on fileTimestamp.
        example: 2021-08-01
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Used to provide the full job descriptions when value "full" is
          used for this parameter.
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: delta
          enum:
          - full
          - delta
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleLinkUpResponse'
              schema:
                $ref: '#/components/schemas/LinkUpResponse'
          description: Download link & metadata for LinkUp data.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the  daily files from Open:FactSet Partner - LinkUp. The LinkUp
        API provides access to job listings dataset that is sourced directly from
        employer webistes globally delivered daily.
      tags:
      - LinkUp
      x-accepts: application/json
  /orbit/transcripts/daily:
    get:
      description: Returns the daily files from Open:FactSet Partner - Orbit.
      operationId: getChineseTranscriptsDaily
      parameters:
      - description: Enables to get the data in ascending or descending order based
          on startTime. Results are in reverse chronological order if this parameter
          is not used.
        explode: true
        in: query
        name: _sort
        required: false
        schema:
          default: -startDate
          enum:
          - startDate
          - -startDate
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: The earliest date of the Orbit file the API should fetching for
          based on fileTimestamp.
        example: 2021-09-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: The latest date of the Orbit file the API should fetching for
          based on fileTimestamp.
        example: 2021-10-08
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          The company/ticker which is associated with the transcript. Please submit a question via Issue Tracker under the Open:FactSet - Partner Communication to get the required list of tickers.
        example: "601236"
        explode: true
        in: query
        name: stockCode
        required: false
        schema:
          type: string
        style: form
      - description: This parameter is used to filters the results based on file name.
        explode: true
        in: query
        name: fileName
        required: false
        schema:
          type: string
        style: form
      - description: This parameter is used to filter the results based on the headline
          of the transcript.
        example: 投资者关系活动记录表2022-001
        explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrbitResponse'
              schema:
                $ref: '#/components/schemas/orbitResponse'
          description: Download link & metadata for Orbit data.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request.
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error.
      summary: Returns the daily files from Open:FactSet Partner - Orbit.
      tags:
      - Orbit
      x-accepts: application/json
  /orbit/transcripts/history:
    get:
      description: 'Returns the historical files from February 28th, 2005 to current
        date. '
      operationId: getChineseTranscriptsHistory
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter is used to filters the results based on file name.
        explode: true
        in: query
        name: fileName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrbitHistoryResponse'
              schema:
                $ref: '#/components/schemas/orbithistoryResponse'
          description: Download link & metadata for Orbit data.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the history files from Open:FactSet Partner - Orbit
      tags:
      - Orbit
      x-accepts: application/json
  /ozmosi/clinical-trials/daily:
    get:
      description: Returns the daily files of Clinical Trial Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiClinicalTrialsDaily
      parameters:
      - description: Enables to get the data in ascending or descending order based
          on startTime. Results are in reverse chronological order if this parameter
          is not used.
        explode: true
        in: query
        name: _sort
        required: false
        schema:
          default: -startDate
          enum:
          - startDate
          - -startDate
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result
          Default value 20 and Maximum value 300
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 300
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: Specifies full scientific title of a trial.
        example: A Phase 1/2 Study of the Highly-selective RET Inhibitor, BLU-667,
          in Patients With Thyroid Cancer, Non-Small Cell Lung Cancer (NSCLC) and
          Other Advanced Solid Tumors
        explode: true
        in: query
        name: officialTitle
        required: false
        schema:
          type: string
        style: form
      - description: This parameter specifies ID of the trial assigned by the trial
          registry.
        example: NCT03037385
        explode: true
        in: query
        name: trialId
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the timestamp of each version of a trial in YYYY-MM-DD
          format.
        example: 2022-10-13 00:00:00
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleDataResponse'
              schema:
                $ref: '#/components/schemas/DataResponse'
          description: Download link & metadata for Clinical Trial Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of Clinical Trial Details from Open:FactSet
        Partner - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/diseases/daily:
    get:
      description: Returns the daily files of Diseases Details from Open:FactSet Partner-
        Ozmosi.
      operationId: getOzmosiDiseasesDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the cleaned disease name.
        example: Inflammation
        explode: true
        in: query
        name: diseaseArea
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the Sub Therapy Area of the disease.
        example: Inflammation
        explode: true
        in: query
        name: subTherapyArea
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the Therapy Area of the disease.
        example: Musculoskeletal
        explode: true
        in: query
        name: therapyArea
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleDiseasesResponse'
              schema:
                $ref: '#/components/schemas/DiseasesResponse'
          description: Download link & metadata for Diseases Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of Diseases Details from Open:FactSet Partner-
        Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/biomarkers/daily:
    get:
      description: Returns the daily files of Biomarkers Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiBiomarkersDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: This parameter specifies the abbreviated name of any patient
          biomarkers being targeted for research in the trial.
        example: EGFR
        explode: true
        in: query
        name: biomarkerName
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the full name of the biomarker.
        example: epidermal growth factor receptor
        explode: true
        in: query
        name: biomarkerFullName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleBiomarkersResponse'
              schema:
                $ref: '#/components/schemas/BiomarkersResponse'
          description: Download link & metadata for Biomarkers Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of Biomarkers Details from Open:FactSet Partner
        - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/beam-endpoints/daily:
    get:
      description: Returns the daily files of Beam Endpoints Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiEndpointsDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: This parameter specifies cleaned and standardized abbreviations
          of primary endpoints that are common or of key interest.
        example: OS
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: This parameter specifies cleaned and standardized full names
          of primary endpoints that are common or of key interest.
        example: Overall Survival
        explode: true
        in: query
        name: fullForm
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleBeamEndpointsResponse'
              schema:
                $ref: '#/components/schemas/BeamEndpointsResponse'
          description: Download link & metadata for Beam Endpoint Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of Beam Endpoints Details from Open:FactSet
        Partner - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/primaryoutcome/daily:
    get:
      description: Returns the daily files of PrimaryOutcome Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiPrimaryoutcomeDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the description of each primary outcome measure
          (or for observational studies, specific key measurement[s] or observation[s]
          used to describe patterns of diseases or traits or associations with exposures,
          risk factors or treatment).
        example: Percentage of Participants Achieving an American College of Rheumatology
          (ACR) 50 Response at Week 12.
        explode: true
        in: query
        name: primaryOutcomeMeasure
        required: false
        schema:
          type: string
        style: form
      - description: It describes the metric used to characterize the specific primary
          outcome measure, if not included in the primary outcome measure title.
        example: Week 12
        explode: true
        in: query
        name: primaryOutcomeDesc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/samplePrimaryOutcomeResponse'
              schema:
                $ref: '#/components/schemas/PrimaryOutcomeResponse'
          description: Download link & metadata for PrimaryOutcome Details
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of PrimaryOutcome Details from Open:FactSet
        Partner - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/orangepurple/daily:
    get:
      description: Returns the daily files of OrangePurple Details from Open:FaStset
        Partner - Ozmosi.
      operationId: getOzmosiOrangepurpleDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: This parameter identifies if the trial includes a drug that is
          not approved by the FDA.
        example: EDP-305
        explode: true
        in: query
        name: beamOpNovelDrug
        required: false
        schema:
          type: string
        style: form
      - description: It lists the unapproved drug.
        example: tricalcium
        explode: true
        in: query
        name: beamOpNovelTarget
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrangePurpleResponse'
              schema:
                $ref: '#/components/schemas/OrangePurpleResponse'
          description: Download link & metadata for OrangePurple Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of OrangePurple Details from Open:FactSet Partner
        - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/intervention/daily:
    get:
      description: Returns the daily files of Intervention details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiInterventionDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: This parameter specifies the name of intervention applied.
        example: Etelcalcetide
        explode: true
        in: query
        name: beamInterventionName
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the description of intervention applied.
        example: Cinacalcet oral once-daily
        explode: true
        in: query
        name: beamInterventionDesc
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleInterventionResponse'
              schema:
                $ref: '#/components/schemas/InterventionResponse'
          description: Download link & metadata for Intervention Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error.
      summary: Returns the daily files of Intervention details from Open:FactSet Partner
        - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/sponsors/daily:
    get:
      description: Returns the daily files of Sponsors Details from Open:FactSet Partner
        - Ozmosi.
      operationId: getOzmosiSponsorsDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the cleaned name of the Sponsor.
        example: AtriCure
        explode: true
        in: query
        name: beamSponsorsName
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the stock ticker for primary sponsor.
        example: ATRC
        explode: true
        in: query
        name: beamSponsorsTicker
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleSponsorsResponse'
              schema:
                $ref: '#/components/schemas/SponsorsResponse'
          description: Download link & metadata for Sponsors Details.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of Sponsors Details from Open:FactSet Partner
        - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/collaborators/daily:
    get:
      description: Returns the daily files of Collaborators Details from Open:FactSet
        Partner - Ozmosi.
      operationId: getOzmosiCollaboratorsDaily
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: This parameter specifies Ozmosi unique ID for each historical
          version of a trial.
        example: NCT03037385_037
        explode: true
        in: query
        name: clinicalTrialId
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the cleaned name of the collaborator.
        example: Inventivan Pharma
        explode: true
        in: query
        name: beamCollaboratorsName
        required: false
        schema:
          type: string
        style: form
      - description: It specifies the Stock ticker for collaborator.
        example: SSNLF
        explode: true
        in: query
        name: beamCollaboratorsTicker
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCollaboratorsResponse'
              schema:
                $ref: '#/components/schemas/CollaboratorsResponse'
          description: Download link & metadata for Collaborators Details..
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files of Collaborators Details from Open:FactSet
        Partner - Ozmosi.
      tags:
      - Ozmosi
      x-accepts: application/json
  /ozmosi/clinical-trials/history:
    get:
      description: Returns the historical files from June 23rd, 2005 to current date.
      operationId: getOzmosiClinicalTrialsHistory
      parameters:
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleFullHistoryResponse'
              schema:
                $ref: '#/components/schemas/FullHistoryResponse'
          description: Download link & metadata for Ozmosi full history.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the history files from Open:FactSet Partner - Ozmosi
      tags:
      - Ozmosi
      x-accepts: application/json
  /luxembourg/green-bonds/daily:
    get:
      description: |
        Returns XML files and relevant metadata provided by Open: FactSet Partner – Luxembourg.
      operationId: getLuxembourgGreenbondsDaily
      parameters:
      - description: Enables to get the data in ascending or descending order based
          on startTime. Results are in reverse chronological order if this parameter
          is not used.
        explode: true
        in: query
        name: _sort
        required: false
        schema:
          default: -startDate
          enum:
          - startDate
          - -startDate
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Specifies the ISIN of the record.
        example: XS2486610541
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
        style: form
      - description: |
          The pre-issuance date of the record.
        example: 2022-08-26
        explode: true
        in: query
        name: preissuancePubDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Please input the value as **idMap** to get the symbology files\
          \   \n"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200LuxResponseExample:
                  $ref: '#/components/examples/luxBondsResponse'
              schema:
                $ref: '#/components/schemas/LuxResponse'
          description: Download link & metadata for luxembourg files.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error.
      summary: Returns daily files from Open:FactSet Partner - Luxembourg
      tags:
      - Luxembourg
      x-accepts: application/json
  /scripts-asia/transcripts:
    get:
      description: |-
        Returns XML files and relevant metadata provided by Open: FactSet Partner – Scripts Asia.
        - type=delta Will get the latest 7 days files. Will run every two hours.
        - type=full Will get complete history except the latest 7 days. Will run weekly once on Friday.
      operationId: getScriptsAsiaFiles
      parameters:
      - description: Enables to get the data in ascending or descending order based
          on startTime. Results are in reverse chronological order if this parameter
          is not used.
        explode: true
        in: query
        name: _sort
        required: false
        schema:
          default: -startDate
          enum:
          - startDate
          - -startDate
          type: string
        style: form
      - description: Specifies the maximum number of results to return per result.
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results. Using this parameter
          can fetch maximum of first 10000 records.
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Unique Scripts Asia identifier assigned to an event.
        example: 431eb8d0-cc45-11ed-8609-0f67251fe7a4
        explode: true
        in: query
        name: trackingId
        required: false
        schema:
          type: string
        style: form
      - description: |
          This parameter filters the results based on saId of the Transcript.
        example: SA002220_2023Mar27_a_02
        explode: true
        in: query
        name: saId
        required: false
        schema:
          type: string
        style: form
      - description: |
          The earliest date of the Scripts Asia file the API should return based on date.
        example: 2023-03-20
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "The latest date of the Scripts Asia file the API should return\
          \ based on date.         \n"
        example: 2023-03-28
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          This parameter filters the results based on Company Name of the Transcript.
        example: Beijing Shunxin Agriculture Co Ltd
        explode: true
        in: query
        name: companyName
        required: false
        schema:
          type: string
        style: form
      - description: |
          This parameter filters the results based on eventType of the Transcript.

          * 01 = Shareholders Meeting
          * 02 = Earnings Announcement
          * 03 = Medium-term Management Plan Announcement
          * 04 = Analyst Meeting
          * 05 = Special Announcement
          * 06 = Investor Conference
        explode: true
        in: query
        name: eventType
        required: false
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          type: string
        style: form
      - description: |
          This parameter filters the results based on language type(either English or local) of the Transcript.
        explode: true
        in: query
        name: languageType
        required: false
        schema:
          default: local
          enum:
          - eng
          - local
          type: string
        style: form
      - description: This parameter is used to filters the results based on file name.
        example: SA002220_2023Mar27_a_02_fds_xml_local.xml
        explode: true
        in: query
        name: fileName
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the type of the file.
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: delta
          enum:
          - full
          - delta
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200LuxResponseExample:
                  $ref: '#/components/examples/scriptsAsiaResponses'
              schema:
                $ref: '#/components/schemas/scriptsAsiaResponse'
          description: Download link & metadata for Scripts Asia files.
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "500":
          content:
            application/json:
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
              schema:
                $ref: '#/components/schemas/AuthStatus'
          description: Internal Server Error
      summary: Returns the daily files from Open:FactSet Partner - Scripts Asia.
      tags:
      - Scripts Asia
      x-accepts: application/json
components:
  examples:
    sampleLinkUpResponse:
      summary: Sample Response
      value:
        data:
        - filename: raw_daily_2020-07-21_descriptions.xml
          fileTimestamp: 2020-07-21T03:00:00Z
          updateTimestamp: 2020-07-22T10:56:10Z
          type: delta
          url: https://fdss3-unstructured-data-delivery-linkup.s3.amazonaws.com/2020/07/raw_daily_2020-07-21_descriptions.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDD5ED2XO5%2F20200722%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200722T163634Z&X-Amz-Expires=600&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQDA05f8TjYKH8FYTAOXxj3YLuPdBmrS6KipP7bRlclTrAIhANFny6Yj93QXE10XOoj2u0YLAIWEB1mm%2BvQCngYDoe0yKskBCGIQABoMODUyNTYyNjIwODcwIgzMpg0Pr%2Bu7pRFp%2FJ4qpgFZVQK9WGmEMGKMW%2B1%2FXL05rHXMNSdgVlSmj7ulkTG62dnzFT4YpSe81L5GmKYLTT22N0sG7bHXK6l%2F2S5CVqH2JIIrrMwZwSaEM%2F%2F1D8QbL4OyF8XB1WHKiyU6PxG4rbz5cv0kcL%2BfQe3WD6g4E5ZwxMmKWSsiNbiqo3qF1ZB0Tr7ttARFnbQsqhbUCL3VIcctbPwTvKVoCfT2nyAgp3uKTEa%2BNKQpMITW4fgFOt8BZCJ%2FQCn1dmTphR7%2FQM3eQzYLxcS%2FTFgq8%2FVQ17lfVlU3veB1TOfWyAYFnKp%2F0Dq6QMvXBpDY6inrsF9AsmGjo%2FkhD5A796xPJPR8QeD73NyiRCcavhEfP2kfxh%2FTbn3WbZ2bQjEIVmZxscmFw2YA%2BSqDE7nnUiCpqI4Bdrnlq0iINWAHUiOimrt3T91o4QWytaG0coZlTErboirsI1htlWv1gCbhyF0tW%2BM9RCtiy3Er%2FMwzLAogcvWGR5eXpHPGWQExB2V%2FPXMmX7oiOCcw3QVPnf5uyjyUjS8V5NAlTQ%3D%3D&X-Amz-Signature=bd31322afc4fab5accbca83069256d354bf329177d6bc49b801a6b49bcb4d2fa
        meta:
          pagination:
            total: 4730
            isEstimatedTotal: false
    sampleOrbitResponse:
      summary: Sample Response
      value:
        data:
        - stockCode: "601236"
          eventStartDateTime: 2020-08-05T14:47:29Z
          eventEndDateTime: 2020-08-05T08:47:29Z
          typesOfInvestorRelationsActivities: brd
          transcriptUniqueId: d934bc7c-d81a-31ac-9fb2-aab33576ee8f
          uploadTime: 2020-08-12T03:54:57Z
          title: 'Huafeng spandex: record of investor relations activities of Zhejiang
            Huafeng spandex Co., Ltd'
          exchangeCode: XSHE
          versionId: 1
          fileName: 002064-d934bc7c-d81a-31ac-9fb2-aab33576ee8f-en-2020080522.json
          fileTimestamp: 2020-08-05T22:00:00Z
          updateTimestamp: 2020-08-24T06:52:02Z
          url: https://fdss3-unstructured-data-delivery-orbit.s3.amazonaws.com/2020/08/002137-a54c077f-b6bf-3adc-b8bd-5b1916a4afe0-ch-2020080518.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDB4T2AAGA%2F20200826%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200826T070219Z&X-Amz-Expires=600&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIHjFdEYooDJ49iNGzEXM6bfDH5%2FhGu2ENWdfc0VGJ0UZAiBUokGCU%2BU0FM1mSHXoPb5BFYqY2HOt%2FNZOJ2Hgfg4IqyrSAQjQ%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg1MjU2MjYyMDg3MCIMUyM10oEUavPMlRRCKqYBdMSLi6yZzjRSwDpWDxeBR%2Fcy2zm1bZECZpHbcB15qiVNRRFWD8qkVHW4fLzvCsEH%2BG49Lnh0Y6BvZtLPWQcNIqX6cXAuaiWCqU2C6LEjFnQEC5M4z45lFBCkkMZpAyhziGT7mfb4kt06z3eqfiOSS1fY1yJbNZ7j2A33QqZj84zOCCLfocHYfrO%2FFLyIkvWJfpnWOVGuNkFzq5JqyIiVL9xDSpEf9jD6kJj6BTrhAZ8b0VUvskzU4sdzszImy03%2Bsb2sF6pEAp8pH2M0uhxPUZLvPssXIrfP6We9Offfnj%2FJplU850N2tj88%2BeZXeDPCNLJLSWNvQePsBCVCZRNQNHCqTA6KMAlZ6qVhcwe4lklw7sWKZgfbo7DoHimgPhv8MqKv8sbBwAh%2B8A1pcGP5QKnsvEqj69nFICs0JbC7voAZRMdl7lUZ0yi03LElFGQAWjpSlMiqj%2Bh6gSwAPuc2uzKECGuRW%2B8UO4O6AMZn%2BGtDifMZI729GqwgdoPfM3%2BSiUV8vlslgZ2ebaPhr3oYRw%3D%3D&X-Amz-Signature=a25b4ceffd67dc38d9021d9f3346f60bcb07501205484ec92c15a523839fbeaf
        meta:
          pagination:
            total: 4730
            isEstimatedTotal: false
    sampleOrbitHistoryResponse:
      summary: Sample Response
      value:
        data:
        - fileName: 2020_02.tar.gz
          fileSize: 228331
          url: https://fdss3-unstructured-data-delivery-orbit-v2-prod.s3.amazonaws.com/archive/2020_03.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEXROQV7QX%2F20220307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220307T125658Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJHMEUCIAFtVRo9geiTlmJhMYKRm6ib0FV87h7w58OD8BZ6KAfMAiEAwGjtb4h4FN%2BzcelveEVPYi2nKOya8%2FcmsQ%2BVkPT3CpkqmwIIpv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw5NjYyODIxMTY0MjUiDNIC4BziKIboJ5JbXyrvAZyq%2FfQ9T6b6YBBwjmkQwN0cZkIAlbaMARS1bRK8myFICyLqUQfR0p5rWy%2FNGNsXQfHpKPK2v1Pa4Fbwef3dXEGISTeOr4uTFv6zXdA%2BB3gxFB7PPIiFNEuClf3%2FErpeJj1PAJwlzWXH1M0XxR4S%2FtlSwxdXN3F48zxr2YfBl3nWtjPW7Bg%2FTLSlQLWHMd7a5JRheVsJ2eEei7V5FLXN3c3Sp%2BRVX7TSzVgiGq8hzy5VkKhUI0onlvgA4HgAqvZZiJGa%2BjgxMcfkHOfjZiD5JO0U5yIsUayKRsJLqF69q2aaKi9ht3zav2%2BIU17h5rOHMJiCmJEGOpoBkYiceR6PceySRwrB%2F6HEfOC%2Fw4tibsVVvvXEKtluftgqxFfXVr6XQ%2B%2BO%2FwkP3TI7ty1D%2BMN9ia0bxRr6flrviBmZ%2BMr2zbgGZQ8fuHeQS0VTK%2BD9flFTYST%2F6TtN90r21BTI1JQ58kFtBZ3zPDvB1TWenv1DylogGfjAjreNQiQEUTnlU2C%2BsOYx6KVarBLVfrchUkgPcSTCmg%3D%3D&X-Amz-Signature=055c05b0bdf84426eb501089b924cf0683b19c0dba00c7201c802f257259219b
        meta:
          pagination:
            total: 206
            isEstimatedTotal: false
    sampleDataResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT04006210_022.json
          clinicalTrialId: NCT04006210_022
          uniqueProtocolId: ND0612-317
          officialTitle: A Multicenter, Randomized, Active-controlled, Double-blind,
            Double-dummy, Parallel Group Clinical Trial, Investigating the Efficacy,
            Safety, and Tolerability of Continuous Subcutaneous ND0612 Infusion in
            Comparison to Oral IR-LD/CD in Subjects With Parkinson's Disease Experiencing
            Motor Fluctuations (BouNDless)
          overallStatus: Recruiting
          primaryCompletion: 2021-03-28T00:00:00Z
          studyCompletion: 2021-04-28T00:00:00Z
          firstPosted: 2019-07-05T00:00:00Z
          lastPosted: 2020-07-02T00:00:00Z
          sponsor: NeuroDerm Ltd.
          responsibleParty: Sponsor
          dataMonitoring: "Yes"
          studyType: Interventional
          primaryPurpose: Treatment
          studyPhase: Phase 3
          interventionalModel: Parallel Assignment
          numberOfArms: 2
          masking: Quadruple (Participant, Care Provider, Investigator, Outcomes Assessor)
          allocation: Randomized
          enrollment: 300
          minimumAge: 30 Years
          maximumAge: 80 Years
          sex: All
          genderBased: ""
          acceptsVolunteers: "No"
          date: 2020-07-01T00:00:00Z
          recordVerification: 2020-07-01T00:00:00Z
          studyStart: 2019-08-27T00:00:00Z
          firstSubmitted: 2019-06-30T00:00:00Z
          firstSubmitMetQxCrite: 2019-06-30T00:00:00Z
          lastSubmitMetQxCrite: 2020-07-01T00:00:00Z
          primaryCompDateType: Anticipated
          studyCompletionDateType: None
          firstPostedDateType: Actual
          lastPostedDateType: None
          enrollmentType: Anticipated
          version: 22
          trialId: NCT04006210
          beamProbabilityOfTrialSuccess: 0.5
          beamProbabilityOfLaunch: 0.26
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT04006210_022.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171424Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=a163a88a367202756a3a37b4ceab6abc937748170c2ff4795bef9729661ca7c9
        meta:
          pagination:
            total: 52025
            isEstimatedTotal: false
    sampleDiseasesResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03976323_012.json
          clinicalTrialId: NCT03976323_012
          diseaseArea: Carcinoma
          subTherapyArea: Oncology Solid Tumor
          therapyArea: Oncology
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03976323_012.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171426Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=61fd0138360446ab620dbeacc6fa9408c435f3370db72229f09a9bd432025168
        meta:
          pagination:
            total: 119902
            isEstimatedTotal: false
    sampleBiomarkersResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02380274_033.json
          clinicalTrialId: NCT02380274_033
          biomarkerName: PSA
          biomarkerFullName: PSA
          biomarkerType: Protein
          organ: Prostate, Breast
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02380274_033.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171428Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=5390a014aa6f883cbabf40e8cb11e2385d7f1d98641ef569a2cb6735bce6a543
        meta:
          pagination:
            total: 9296
            isEstimatedTotal: false
    sampleBeamEndpointsResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02609126_001.json
          clinicalTrialId: NCT02609126_001
          fullForm: Area Under The Curve
          name: AUC
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02609126_001.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171434Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=98d5c6ce8b1e6dfb2f0e18acd5bb1a09ebce26daa54fdb2a34007bdda7f1ccb4
        meta:
          pagination:
            total: 60000
            isEstimatedTotal: false
    samplePrimaryOutcomeResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03866239_011.json
          clinicalTrialId: NCT03866239_011
          primaryOutcomeMeasure: Confirmed Objective Response Rate (ORR)
          primaryOutcomeDesc: Baseline up to 5 years
          primaryOutcomeTimeFrame: ""
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03866239_011.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDDSL2P5AE%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T192209Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFQaCXVzLWVhc3QtMSJIMEYCIQD6XINV6yIy%2BchwSDKqsyBqMmY0zcja6CRdl9d9NbH9NgIhAIQYwVlH0MYp4CzGpIWy0BRgQgidrhUGsl5o7%2FPVPyR9KpsCCN3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQARoMODUyNTYyNjIwODcwIgxGYZIGwu2WTXWWMaYq7wFZg20DB1atz8ZtmN9%2FNSxFy5uUCA90CExP3gmv6paZ6%2Fkj5%2F1KcK9w0YRMK%2BwozXX87G%2FE2zNdx9b6sTCySq%2BIqeeOBRYDLaeGL%2Fc2vlc3Gxld%2B7I6pBpKEz7qedekVSne%2FkPV0gYy9veTm4WfNBuThlK4M%2Fyr6B15YeGxSd2djz3vvRh08Z%2BwEGpUDKmP4sJPHY%2BoyeqzXoU6k8QOXSXLE0uecGt9Bn8vd0xuyxg5WkMUFXL62%2Bpeb5qBRXErkJqM2f%2FagWNxhvvNa3Vyck7EsFZDxOKDQcmckKVUKTvqWFpRP9YSL4nXMxtovFtSpDDf2MGLBjqZARzaNJ%2B8RyOnOJRzh0afIym2P9eiGZafD9ZpLNktADpZI31DHRXEG%2B9Qh%2Fn%2F1%2BwG7kI8%2B8Xv1dfliUMDcY4aw9T83OJpR4hKdBv8CZBSxqJqxaVS4z7gq9NdVJmyG8PdoTKkLr8vPc0d3popXUtXbDT%2FVC7GTlQvSulHBvgYlvCR8XCFB6GNhcSQvhu%2FXdVAmJRZ3Ax50Z2oJw%3D%3D&X-Amz-Signature=234146a0675284167fd8a599c17a75519a1d9f690cf9c36ad8f4a198c95e6a52
        meta:
          pagination:
            total: 1984645
            isEstimatedTotal: false
    sampleOrangePurpleResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03135015_003.json
          clinicalTrialId: NCT03135015_003
          beamOpNovelDrug: "No"
          beamOpNovelTarget: "No"
          beamOpNovelDrugList: None
          beamOpNovelTargetList: None
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03135015_003.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171437Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=bee2aba5b1ee4f06d9fbf0a3bf857cb6f8b91158912d8a05e370f986122c6180
        meta:
          pagination:
            total: 60000
            isEstimatedTotal: false
    sampleInterventionResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02526017_012.json
          clinicalTrialId: NCT02526017_012
          beamInterventionType: Biological
          beamInterventionName: BMS-936558
          beamInterventionDesc: ""
          beamOtherName: anti-PD-1 (anti-programmed-death-1)  MDX-1106  Nivolumab
          beamArmGroupLabel: Phase 1b combination therapy dose expansion
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02526017_012.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171511Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=a7d6bd61e7a6c28aa437a3d53ef2b0f93e523bac697e6b5c8a7d189772aedd5e
        meta:
          pagination:
            total: 203852
            isEstimatedTotal: false
    sampleSponsorsResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03802591_001.json
          clinicalTrialId: NCT03802591_001
          beamSponsorsId: 53713
          beamSponsorsName: CStone Pharmaceuticals
          beamSponsorsType: Industry
          beamSponsorsTicker: CSPHF
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03802591_001.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171516Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=56c988aeba973ff8f7d10f4594d08244eddfdfa500a8c8539506323d3407d979
        meta:
          pagination:
            total: 60000
            isEstimatedTotal: false
    sampleCollaboratorsResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02497781_025.json
          clinicalTrialId: NCT02497781_025
          beamCollaboratorsId: 38300
          beamCollaboratorsName: PRA Health Sciences
          beamCollaboratorsType: Industry
          beamCollaboratorsTicker: PRAH
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02497781_025.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171517Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=52ea9678bfe4b936d99197e7b705dfeb63e231857405d1b0120c6711edc9f992
        meta:
          pagination:
            total: 30199
            isEstimatedTotal: false
    sampleFullHistoryResponse:
      summary: Sample Response
      value:
        data:
        - fileName: clinical_trials_pit_factset_historic_1_part-09.json
          url: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_source/full_history_v2/clinical_trials_pit_factset_historic_1_part-09.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEU2T5QLU6%2F20211130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211130T144500Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECYaCXVzLWVhc3QtMSJHMEUCIQC7DsXx6kEAz7tRvA9UCCCOs9pzeuZTVja6n3RyUYyPYwIgELxMmCBBqcxB3Q1RPVTdVgbKezBV0HdipgCs2XrqMRoqmwII7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw5NjYyODIxMTY0MjUiDEkR1g8P1KWTj4onjirvAY76L6DloZRpp9T21riJXQNQYBPyRCVLJH%2FA4LIvk6M4S3A6ClIwbkVyuQTnCqJZHEj6BBTplM7BfdlhLpfcvDqHMHVEBiE3b8LTS9sRnI56lYr8%2FqsQ9INqxjThujxSZ%2Bf0dWw2274e1HLYzqK9pBAvfYLGCBdZivIMpBO%2FGDCqRRbhPSYbj2B9PhcBwdFyMPgyBcyrHTK7VCPqzwVzQ%2FiHsAY13IRMVKtbLdb0WM1ZVFLcrrpHMnO2M2dJ26WUq2%2BPUXcyO39JdsscUjFInbi5ntoO%2BTna0dMR9WTtn6bD4l0xAXcuRZkXifSalJP%2FMPnYmI0GOpoB%2FgD%2FeWnYXzZwPGSzXMsSXojMkNjtZRvWRRyJ%2BmJthR0rDBAfCt%2Bc8BxTAvlodMJ8%2BR2iMWfPwHZ5P7QGbCjFk75SIUsdhkYwyzzw9cYrLxPvyaQmGzU0%2FLLf6utat%2B7OJU2Gb1EDnVINV6kyhq8Xi1xURHvDJDs3m9%2FJ%2BjtxXdgz8icbfzpP2oCizzhuVUxMyX%2B00mT%2BO5x%2FqQ%3D%3D&X-Amz-Signature=f30cfd89ea17afd16164d5dbf33bdf72cb38dd472535ac41a535f25630f1fd9e
        meta:
          pagination:
            total: 64
            isEstimatedTotal: false
    luxBondsResponse:
      description: Single bond Record for XS2486610541
      summary: Sample Response
      value:
        data:
        - isin: XS2486610541
          fileName: XS2486610541.xml
          preissuancePubDate: 2022-08-26T00:00:00.000Z
          preissuanceExistence: PUBLICLY_AVAILABLE
          postissuancePubDate: 2022-09-24T00:00:00.000Z
          postissuanceExistence: PUBLICLY_AVAILABLE
          url: https://fdss3-unstructured-data-delivery-luxembourg.s3.amazonaws.com/luxembourg_green_bonds/split/XS2486610541.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDMNDXWUYH%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T103314Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDsaCXVzLWVhc3QtMSJHMEUCIHYez7Q5O9E2TpbKcNvtYdtQbSK3bi6KI2hBTkpMTTI1AiEAzMcz3OhOznjS0Bksa1b9rVSRGcYkkhcQEFp03WGKLgAq7gIIFBACGgw4NTI1NjI2MjA4NzAiDOK94aV1LhKeVcZsairLAgzxbHvmsmtwWTV7REDFmw1ex6b1h7VWzWVNmxhZUlb3UMr3W%2BBSERk%2F3uRDS8U88nJsHpjqjumNal2sw1r6FKAqhHjNlcNP0%2BcCqbNHBVo74IYgEe6uqF%2Btt03vCYLZwkd9fSg7U8BZ3DD0QjB27iLCB1nWDtNN3VaTTSxe%2BYievqUI8kgg8kSDreHOocB5tmlvmE2LcCD5zeb0FxZEQSh6o4%2Bvduzg4giIxfnCEbLLWmEFT49E2VxGC8E6pWjNccC%2FK%2BibiNmkivhI4vtG6KWpQyPbgMAUE4WXBIFnsulZJz2lfn3MpU3xkLVEch1n2IZMVzBdT49hAIeG9KSjppf2faDIXB0N5WwsduWl29RAfwxTJu7V7IhdYLvZDEhQaf%2B7IQXS3zijzdWrf6uclgw6Me%2BDAS8WFzaj%2FIQuxurSjGZJZRaoxarydGsw5t60mgY6ngGA303sALk%2BrsSXtp%2B5cSEyW%2FkrZcits1gXatpTU%2BEOwJBatTbRcoQa8zEHuspFtZD6nKOXvX5ZBWzzvRNjHpX7sXyM0LNcMH409aAqJfU6IU5%2B7KaoaucLj3VhaMdQgSEMAqp%2BFi47UFOQ3FvnG0Ih%2FjxEcTO8iYBHg2MfAMpx%2BNW0WwrNEQUXFWNt70HPrM2RnDkkzaTTTz9NDEbHpg%3D%3D&X-Amz-Signature=9db775727619af7f31024d33f8c1cb391140460ed269cec869cd4cff8253611d
        meta:
          pagination:
            total: 52025
            isEstimatedTotal: false
    scriptsAsiaResponses:
      description: Single record for c017c490-b73b-11ed-9332-a376adde0fbe trackingId.
      summary: Sample Response
      value:
        data:
        - type: delta
          date: 2023-02-23T00:00:00.000Z
          eventType: "02"
          language: JPN
          companyNmae: Vipshop Holdings Limited
          languageType: eng
          fileName: SA002846_2023Feb23_a_02_xml_eng.xml
          trackingId: c017c490-b73b-11ed-9332-a376adde0fbe
          saId: SA002846_2023Feb23_a_02
          url: https://fdss3-scripts-asia.s3.amazonaws.com/scripts_asia_processed_data/scra_events/xml_files/c017c490-b73b-11ed-9332-a376adde0fbe/SA002846_2023Feb23_a_02_xml_eng.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDIIPCUVPG%2F20230301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230301T100743Z&X-Amz-Expires=28800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQCvZLHP1v0WWI3ii6DEK9fVvGfi%2BfCxexxx%2B6mzcWcHLwIhAPTldtEfTdZYezHAO92eK8%2B6Yu6DYBV2KVd5HLDQzo4PKvcCCIv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQAhoMODUyNTYyNjIwODcwIgxJYY0THhy%2FGYck2aQqywLfzjVGrxormOYhOXiSObA%2FTJSYcNtawuzKczgrcaIvQw5pXTp0Ea%2BFsxbFd9K8Dnx5gA%2Ft7bQdCiZrF4qEss2l2SClG9WW5IMf1E5OEFup%2FIVmkZrANZrA0nOg8i9oFe4cBJZpqcBt04AVzA%2F%2BKiDSxSLECParvdQ%2FNNbX79c%2F2pj4zR%2BPt93HgMrPwgFrarpZwd6RtrX6BLJ2GGfNPePyT2Uk7Z4mJERzls7v6I9izlSm%2FbbMRHgq4a8wPGxvwuDcZtb4qBiYHoxcVBL5Z9iwF7H4HlUiPdtQpTjLfaVh9PEUoPu%2FlpCqxVBtQ0Ub9Fv%2FXM4vufl04hdJXvZKqjgqtzi7tp3KsdUNeE7%2BwOEWHiuDoXwna2Aou92%2BjHK9XS8VwXHGqrLA%2Bj%2B%2Bq7I35pJe4ZJ6UzVcsy3w1qUfDIM5EQGCIhK9Am4pA0SNMKzF%2FJ8GOp0B5bmv%2B3S4%2B60Hxgv%2BucGDuYbSO9K19C0UVmHqmvmFiVnNU%2FnDU%2FSfyUpWFz5c0eMH1ctrD1Tn68ObDXflcgMYTS6VeDbqqFBlzE6hYw7JPO2WUeEtbmAvwAx1yyqS1o0FtPvN3mHdcbsGZKYUZsudouMLd0KxvlViIfTUp8Uj%2Bx18vf9sWpHpEIkt3%2Bo4wkOO5XyH3KeFfXKuJWDOrw%3D%3D&X-Amz-Signature=aabffc3e314301083472f469db636d4918a448442ed72c72ffbc0354b47c52eb
        meta:
          pagination:
            total: 50
            isEstimatedTotal: false
    ErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Bad Request
          title: parameterError:['_paginationLimit'] is not a valid parameter(s)
          id: 7af3d86ca5954503b9244f2620fcf5eb
    AuthErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    AuthorizationErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Forbidden
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    serverErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Internal server error
          title: An unexpected error happened
          id: 7af3d86ca5954503b9244f2620fcf5eb
  parameters:
    _sort:
      description: Enables to get the data in ascending or descending order based
        on startTime. Results are in reverse chronological order if this parameter
        is not used.
      explode: true
      in: query
      name: _sort
      required: false
      schema:
        default: -startDate
        enum:
        - startDate
        - -startDate
        type: string
      style: form
    _paginationLimit:
      description: Specifies the maximum number of results to return per result.
      explode: true
      in: query
      name: _paginationLimit
      required: false
      schema:
        default: 20
        maximum: 500
        minimum: 1
        type: integer
      style: form
    _paginationOffset:
      description: Specifies the starting point for pagination. This parameter is
        used to identify the beginning of next set of results. Using this parameter
        can fetch maximum of first 10000 records.
      explode: true
      in: query
      name: _paginationOffset
      required: false
      schema:
        default: 0
        minimum: 0
        type: integer
      style: form
    startDate:
      description: The earliest date of the LinkUp file the API should fetching for
        based on fileTimestamp.
      example: 2020-01-01
      explode: true
      in: query
      name: startDate
      required: false
      schema:
        format: date
        type: string
      style: form
    endDate:
      description: The latest date of the LinkUp file the API should fetching for
        based on fileTimestamp.
      example: 2021-08-01
      explode: true
      in: query
      name: endDate
      required: false
      schema:
        format: date
        type: string
      style: form
    startDateOrbit:
      description: The earliest date of the Orbit file the API should fetching for
        based on fileTimestamp.
      example: 2021-09-01
      explode: true
      in: query
      name: startDate
      required: false
      schema:
        format: date
        type: string
      style: form
    endDateOrbit:
      description: The latest date of the Orbit file the API should fetching for based
        on fileTimestamp.
      example: 2021-10-08
      explode: true
      in: query
      name: endDate
      required: false
      schema:
        format: date
        type: string
      style: form
    type:
      description: Used to provide the full job descriptions when value "full" is
        used for this parameter.
      explode: true
      in: query
      name: type
      required: false
      schema:
        default: delta
        enum:
        - full
        - delta
        type: string
      style: form
    stockCode:
      description: |
        The company/ticker which is associated with the transcript. Please submit a question via Issue Tracker under the Open:FactSet - Partner Communication to get the required list of tickers.
      example: "601236"
      explode: true
      in: query
      name: stockCode
      required: false
      schema:
        type: string
      style: form
    fileName:
      description: This parameter is used to filters the results based on file name.
      explode: true
      in: query
      name: fileName
      required: false
      schema:
        type: string
      style: form
    title:
[...]
