openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allow clients to trade orders.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: EMS API
  version: 0.2.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-trading-api
servers:
- description: Production
  url: https://api.factset.com/trading/ems/v0
- description: UAT
  url: https://api.uat.factset.com/trading/ems/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: These endpoints relate to Order Entry.
  name: Orders
paths:
  /orders/create:
    post:
      description: This endpoint takes the list of orders and place them on EMS for
        execution.
      operationId: create
      requestBody:
        content:
          application/json:
            examples:
              Multiple Orders:
                value:
                  data:
                    investorId: MyOrganization
                    orders:
                    - clientOrderId: OR0000001
                      instrument:
                        symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 1000
                      price: 450
                      currency: USD
                      handlingInstructions: auto_ord_pub
                    - clientOrderId: OR0000002
                      instrument:
                        symbol: MSFT
                      side: sell
                      orderType: limit
                      orderQuantity: 1000
                      price: 450
                      currency: USD
                      handlingInstructions: auto_ord_pub
                    - clientOrderId: OR0000003
                      instrument:
                        symbol: TSLA
                      side: buy
                      orderType: market_on_close
                      orderQuantity: 1000
                      price: 450
                      currency: USD
                      handlingInstructions: auto_ord_pub
              Single Order (Minimum Fields):
                summary: Very basic single order with only required fields.
                value:
                  data:
                    investorId: MyOrganization
                    orders:
                    - instrument:
                        symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 1000
                      price: 450
                      currency: USD
              Single Order:
                value:
                  data:
                    investorId: MyOrganization
                    orders:
                    - clientOrderId: OR0000004
                      instrument:
                        symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 1000
                      price: 450
                      stopPrice: 500
                      strikePrice: 60
                      currency: USD
                      isCovered: false
                      maxShow: 30
                      maxFloor: 20
                      settlementType: regular
                      settlementDate: "20211024"
                      handlingInstructions: auto_ord_pub
                      locateRequired: false
                      account: ACCT1
                      timeInForce:
                        tif: GTC
              Single order with derivatives (futures/options):
                value:
                  data:
                    investorId: MyOrganization
                    orders:
                    - instrument:
                        symbol: GOOGL
                        putOrCall: call
                        underlyingSecurityType: Equity
                      side: buy
                      orderType: market
                      orderQuantity: 1000
                      price: 450
                      currency: USD
                      handlingInstructions: auto_ord_pub
                      account: ACCT1
            schema:
              $ref: '#/components/schemas/EMSOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    OR123456789:
                      symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 2500
                    OR123456790:
                      symbol: MSFT
                      side: buy
                      orderType: market
                      orderQuantity: 200
                  rejected:
                    OR123456791:
                      symbol: TSLA
                      side: buy
                      orderType: market
                      orderQuantity: 500
              schema:
                $ref: '#/components/schemas/EMSOrdersResponseRoot'
          description: Expected response, returns the list of orders.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid post body parameters.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Send orders to EMS for execution.
      tags:
      - Orders
      x-contentType: application/json
      x-accepts: application/json
  /orders/replace:
    post:
      description: This endpoint takes the list of orders to be replaced on the EMS
        system.
      operationId: replace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMSReplaceOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    OR123456789:
                      symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 2500
                    OR123456790:
                      symbol: MSFT
                      side: buy
                      orderType: market
                      orderQuantity: 200
                  rejected:
                    OR123456791:
                      symbol: TSLA
                      side: buy
                      orderType: market
                      orderQuantity: 500
              schema:
                $ref: '#/components/schemas/EMSOrdersResponseRoot'
          description: Expected response, returns the list of order ids.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid post body parameters.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Replace the orders on EMS system.
      tags:
      - Orders
      x-contentType: application/json
      x-accepts: application/json
  /orders/cancel:
    post:
      description: This endpoint takes the list of orders to be cancelled on the EMS
        system.
      operationId: cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMSCancelOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    OR123456789:
                      symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 2500
                    OR123456790:
                      symbol: MSFT
                      side: buy
                      orderType: market
                      orderQuantity: 200
                  rejected:
                    OR123456791:
                      symbol: TSLA
                      side: buy
                      orderType: market
                      orderQuantity: 500
              schema:
                $ref: '#/components/schemas/EMSOrdersResponseRoot'
          description: Expected response, returns the list of order ids.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid post body parameters.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Cancel the orders on EMS system.
      tags:
      - Orders
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    ClientErrorResponse:
      description: Client Error Response
      properties:
        errors:
          description: List of errors
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          type: array
      type: object
    EMSCancelOrder:
      description: EMS Cancel Order
      example:
        originalClientOrderId: originalClientOrderId
        inboundDestination: inboundDestination
      properties:
        originalClientOrderId:
          description: Unique identifier of the original order, generated in Create.
          type: string
        inboundDestination:
          description: To facilitate integration with translators that transform orders
            into a format compatible with the internal order routing and execution
            infrastructure.
          nullable: true
          type: string
      required:
      - originalClientOrderId
      type: object
    EMSCancelOrders:
      description: EMS Cancel Orders
      example:
        investorId: DEMO-12345
        orders:
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
      properties:
        investorId:
          description: Investor Id
          example: DEMO-12345
          nullable: true
          type: string
        orders:
          description: List of orders to cancel
          items:
            $ref: '#/components/schemas/EMSCancelOrder'
          nullable: true
          type: array
      type: object
    EMSCancelOrdersRoot:
      example:
        data:
          investorId: DEMO-12345
          orders:
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
      properties:
        data:
          $ref: '#/components/schemas/EMSCancelOrders'
      type: object
    EMSOrder:
      description: EMS Order
      example:
        settlementType: regular
        orderType: market
        side: buy
        executionInstructions: not_held
        effectiveTime: 20210622-12:15:30
        clientOrderId: "12322123"
        maxFloor: 100
        instrument:
          symbol: TATAMOTORS
          putOrCall: put
          underlyingSecurityType: underlyingSecurityType
          securityType: securityType
          maturityMonthYear: maturityMonthYear
          maturityDay: maturityDay
          securityExchange: securityExchange
          securityDescription: securityDescription
          cfiCode: cfiCode
          issuer: issuer
        settlementDate: "20210622"
        orderQuantity: 350
        maxShow: 100
        userDefinedFields:
          key: userDefinedFields
        stopPrice: 800
        price: 800
        currency: USD
        prevClosePrice: 100
        timeInForce:
          tif: DAY
          expireTime: expireTime
          expireDate: expireDate
        strikePrice: 400
        isCovered: false
        handlingInstructions: auto_ord_pub
        account: Test.ACCT
        inboundDestination: inboundDestination
        locateRequired: false
      properties:
        clientOrderId:
          description: Unique id for the order
          example: "12322123"
          nullable: true
          type: string
        instrument:
          $ref: '#/components/schemas/Instrument'
        side:
          description: Side of the order.
          enum:
          - buy
          - sell
          - sell_short
          - sell_short_exempt
          example: buy
          type: string
        orderType:
          description: Type of the order
          enum:
          - market
          - limit
          - stop
          - stop_limit
          - market_on_close
          - limit_or_better
          example: market
          type: string
        orderQuantity:
          description: Number of shares/Quantity.
          example: 350
          format: double
          type: number
        price:
          description: Order price per share
          example: 800
          format: double
          nullable: true
          type: number
        stopPrice:
          description: Stop-loss price to buy/sell stock at market.
          example: 800
          format: double
          nullable: true
          type: number
        strikePrice:
          description: Strike Price for an Option.
          example: 400
          format: double
          nullable: true
          type: number
        currency:
          description: Currency used for price in ISO format.
          example: USD
          nullable: true
          type: string
        isCovered:
          description: Signifies if a specific order is a covered order. A covered
            order is one that involves an investment strategy with the capability
            to limit the potential loss of the order
          example: false
          nullable: true
          type: boolean
        maxShow:
          description: Maximum number of shares within an order to be shown to other
            customers.
          example: 100
          format: double
          nullable: true
          type: number
        maxFloor:
          description: Maximum number of shares within an order to be shown on the
            exchange floor at any given time.
          example: 100
          format: double
          nullable: true
          type: number
        prevClosePrice:
          description: Previous closing price of security.
          example: 100
          format: double
          nullable: true
          type: number
        settlementType:
          description: Order settlement period.
          example: regular
          nullable: true
          type: string
        settlementDate:
          description: Settlement date of trade settlement in YYYYMMDD format
          example: "20210622"
          nullable: true
          type: string
        handlingInstructions:
          description: Instructions for order handling on Broker trading floor.
          enum:
          - auto_ord_pvt
          - auto_ord_pub
          - best_execution
          example: auto_ord_pub
          nullable: true
          type: string
        executionInstructions:
          description: Instructions for order handling on exchange trading floor.
          enum:
          - not_held
          - work
          - go_along
          - over_the_day
          - held
          - participate_dont_initiate
          - strict_scale
          - try_to_scale
          - stay_on_bidside
          - stay_on_offerside
          - no_cross
          - ok_to_cross
          - call_first
          - percent_of_volume
          - do_not_increase
          - do_not_reduce
          - all_or_none
          - reinstate_on_system_failure
          - institutions_only
          - reinstate_on_trading_halt
          - cancel_on_trading_halt
          - last_peg
          - mid_price_peg
          - non_negotiable
          - opening_peg
          - market_peg
          - cancel_on_system_failure
          - primary_peg
          - suspend
          - fixed_peg_to_local_best_bid
          - customer_display_instruction
          - netting
          - peg_to_vwap
          - trade_along
          - try_to_stop
          - cancel_if_not_best
          - trailing_stop_peg
          - strict_limit
          - ignore_price_validity_checks
          - peg_to_limit_price
          - work_to_target_strategy
          - intermarket_sweep
          - external_routing_allowed
          - external_routing_not_allowed
          - imbalance_only
          - single_execution_requested_for_block_trade
          - best_execution
          example: not_held
          nullable: true
          type: string
        locateRequired:
          description: Indicates whether the broker is to locate the stock in conjunction
            with a short sell order.
          example: false
          nullable: true
          type: boolean
        effectiveTime:
          description: Effective time in YYYYMMDD-HH:MM:SS format expressed in UTC
          example: 20210622-12:15:30
          nullable: true
          type: string
        account:
          description: Account for the basket, parent basket or position.
          example: Test.ACCT
          nullable: true
          type: string
        timeInForce:
          $ref: '#/components/schemas/TimeInForce'
        inboundDestination:
          description: To facilitate integration with translators that transform orders
            into a format compatible with the internal order routing and execution
            infrastructure.
          nullable: true
          type: string
        userDefinedFields:
          additionalProperties:
            type: string
          description: User defined fields
          nullable: true
          type: object
      required:
      - instrument
      - orderType
      - side
      type: object
    EMSOrderMetadata:
      description: EMS Order Metadata
      example:
        symbol: symbol
        orderType: market
        side: buy
        clientOrderId: clientOrderId
        warning: warning
        error: error
        orderQuantity: 0.8008281904610115
        info: info
      properties:
        symbol:
          description: Ticker symbol
          nullable: true
          type: string
        side:
          description: Side of the order.
          enum:
          - buy
          - sell
          - sell_short
          - sell_short_exempt
          nullable: true
          type: string
        orderType:
          description: Type of the order
          enum:
          - market
          - limit
          - stop
          - stop_limit
          - market_on_close
          - limit_or_better
          nullable: true
          type: string
        orderQuantity:
          description: Number of shares/Quantity.
          format: double
          nullable: true
          type: number
        error:
          description: Error message
          nullable: true
          type: string
        info:
          description: Information
          nullable: true
          type: string
        clientOrderId:
          description: Client Order Id
          nullable: true
          type: string
        warning:
          description: Warning
          nullable: true
          type: string
      type: object
    EMSOrders:
      description: EMS Orders
      example:
        investorId: DEMO-12345
        orders:
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: not_held
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350
          maxShow: 100
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800
          price: 800
          currency: USD
          prevClosePrice: 100
          timeInForce:
            tif: DAY
            expireTime: expireTime
            expireDate: expireDate
          strikePrice: 400
          isCovered: false
          handlingInstructions: auto_ord_pub
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: not_held
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350
          maxShow: 100
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800
          price: 800
          currency: USD
          prevClosePrice: 100
          timeInForce:
            tif: DAY
            expireTime: expireTime
            expireDate: expireDate
          strikePrice: 400
          isCovered: false
          handlingInstructions: auto_ord_pub
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
      properties:
        investorId:
          description: Investor Id
          example: DEMO-12345
          nullable: true
          type: string
        orders:
          description: List of orders
          items:
            $ref: '#/components/schemas/EMSOrder'
          type: array
      required:
      - orders
      type: object
    EMSOrdersResponse:
      description: EMS Orders Response
      example:
        rejected:
          key:
            symbol: symbol
            orderType: market
            side: buy
            clientOrderId: clientOrderId
            warning: warning
            error: error
            orderQuantity: 0.8008281904610115
            info: info
        accepted:
          key:
            symbol: symbol
            orderType: market
            side: buy
            clientOrderId: clientOrderId
            warning: warning
            error: error
            orderQuantity: 0.8008281904610115
            info: info
      properties:
        accepted:
          additionalProperties:
            $ref: '#/components/schemas/EMSOrderMetadata'
          description: Accepted Orders
          nullable: true
          type: object
        rejected:
          additionalProperties:
            $ref: '#/components/schemas/EMSOrderMetadata'
          description: Rejected Orders
          nullable: true
          type: object
      type: object
    EMSOrdersResponseRoot:
      description: EMS Response
      example:
        data:
          rejected:
            key:
              symbol: symbol
              orderType: market
              side: buy
              clientOrderId: clientOrderId
              warning: warning
              error: error
              orderQuantity: 0.8008281904610115
              info: info
          accepted:
            key:
              symbol: symbol
              orderType: market
              side: buy
              clientOrderId: clientOrderId
              warning: warning
              error: error
              orderQuantity: 0.8008281904610115
              info: info
      properties:
        data:
          $ref: '#/components/schemas/EMSOrdersResponse'
      required:
      - data
      type: object
    EMSOrdersRoot:
      example:
        data:
          investorId: DEMO-12345
          orders:
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: not_held
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350
            maxShow: 100
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800
            price: 800
            currency: USD
            prevClosePrice: 100
            timeInForce:
              tif: DAY
              expireTime: expireTime
              expireDate: expireDate
            strikePrice: 400
            isCovered: false
            handlingInstructions: auto_ord_pub
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: not_held
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350
            maxShow: 100
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800
            price: 800
            currency: USD
            prevClosePrice: 100
            timeInForce:
              tif: DAY
              expireTime: expireTime
              expireDate: expireDate
            strikePrice: 400
            isCovered: false
            handlingInstructions: auto_ord_pub
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
      properties:
        data:
          $ref: '#/components/schemas/EMSOrders'
      type: object
    EMSReplaceOrder:
      description: EMS Replace Order
      example:
        originalClientOrderId: originalClientOrderId
        order:
          settlementType: regular
          orderType: market
          side: buy
          executionInstructions: not_held
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350
          maxShow: 100
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800
          price: 800
          currency: USD
          prevClosePrice: 100
          timeInForce:
            tif: DAY
            expireTime: expireTime
            expireDate: expireDate
          strikePrice: 400
          isCovered: false
          handlingInstructions: auto_ord_pub
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
      properties:
        originalClientOrderId:
          description: Unique identifier of the original order, generated in Create.
          type: string
        order:
          $ref: '#/components/schemas/EMSOrder'
      required:
      - order
      - originalClientOrderId
      type: object
    EMSReplaceOrders:
      description: EMS Replace Orders
      example:
        investorId: DEMO-12345
        orders:
        - originalClientOrderId: originalClientOrderId
          order:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: not_held
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350
            maxShow: 100
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800
            price: 800
            currency: USD
            prevClosePrice: 100
            timeInForce:
              tif: DAY
              expireTime: expireTime
              expireDate: expireDate
            strikePrice: 400
            isCovered: false
            handlingInstructions: auto_ord_pub
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
        - originalClientOrderId: originalClientOrderId
          order:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: not_held
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350
            maxShow: 100
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800
            price: 800
            currency: USD
            prevClosePrice: 100
            timeInForce:
              tif: DAY
              expireTime: expireTime
              expireDate: expireDate
            strikePrice: 400
            isCovered: false
            handlingInstructions: auto_ord_pub
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
      properties:
        investorId:
          description: Investor Id
          example: DEMO-12345
          nullable: true
          type: string
        orders:
          description: List of orders to replace
          items:
            $ref: '#/components/schemas/EMSReplaceOrder'
          nullable: true
          type: array
      type: object
    EMSReplaceOrdersRoot:
      example:
        data:
          investorId: DEMO-12345
          orders:
          - originalClientOrderId: originalClientOrderId
            order:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: not_held
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350
              maxShow: 100
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800
              price: 800
              currency: USD
              prevClosePrice: 100
              timeInForce:
                tif: DAY
                expireTime: expireTime
                expireDate: expireDate
              strikePrice: 400
              isCovered: false
              handlingInstructions: auto_ord_pub
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
          - originalClientOrderId: originalClientOrderId
            order:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: not_held
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350
              maxShow: 100
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800
              price: 800
              currency: USD
              prevClosePrice: 100
              timeInForce:
                tif: DAY
                expireTime: expireTime
                expireDate: expireDate
              strikePrice: 400
              isCovered: false
              handlingInstructions: auto_ord_pub
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
      properties:
        data:
          $ref: '#/components/schemas/EMSReplaceOrders'
      type: object
    Error:
      description: Error
      properties:
        id:
          description: Identifier for the error
          nullable: true
          type: string
        code:
          description: Code
          nullable: true
          type: string
        title:
          description: Title
          nullable: true
          type: string
        detail:
          description: Explanation specific to the occurrence of the error
          nullable: true
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
      type: object
    ErrorSource:
      description: Error Source
      properties:
        pointer:
          description: Pointer to the associated entity in the request body
          nullable: true
          type: string
        parameter:
          description: Indicates which path or URI query parameter caused the error
          nullable: true
          type: string
      type: object
    Instrument:
      description: Instrument
      example:
        symbol: TATAMOTORS
        putOrCall: put
        underlyingSecurityType: underlyingSecurityType
        securityType: securityType
        maturityMonthYear: maturityMonthYear
        maturityDay: maturityDay
        securityExchange: securityExchange
        securityDescription: securityDescription
        cfiCode: cfiCode
        issuer: issuer
      properties:
        symbol:
          description: Ticker symbol
          example: TATAMOTORS
          type: string
        securityType:
          description: Indicates type of security.
          nullable: true
          type: string
        cfiCode:
          description: Classification of Financial Instruments. Indicates the type
            of security using ISO 0962 standard.
          nullable: true
          type: string
        securityExchange:
          description: Market used to help identify a security.
          nullable: true
          type: string
        issuer:
          description: Company name of security issuer.
          nullable: true
          type: string
        securityDescription:
          description: Security Description
          nullable: true
          type: string
        maturityMonthYear:
          description: Month and Year of the maturity.
          nullable: true
          type: string
        maturityDay:
          description: Day of month used in conjunction with maturityMonthYear to
            specify the maturity date
          nullable: true
          type: string
        putOrCall:
          description: Indicates whether an Option is for a put or call.
          enum:
          - put
          - call
          nullable: true
          type: string
        underlyingSecurityType:
          description: Underlying security’s SecurityType.
          nullable: true
          type: string
      required:
      - symbol
      type: object
    TimeInForce:
      description: Time in Force
      example:
        tif: DAY
        expireTime: expireTime
        expireDate: expireDate
      properties:
        tif:
          default: DAY
          description: 'Time in force: if GTD, then Expire Time or Expire Date is
            a required field'
          enum:
          - DAY
          - GTC
          - OPG
          - IOC
          - FOK
          - GTX
          - GTD
          - ATC
          type: string
        expireDate:
          description: Expire date in YYYYMMDD format expressed in UTC
          nullable: true
          type: string
        expireTime:
          description: Expire time in YYYYMMDD-HH:MM:SS format expressed in UTC
          nullable: true
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

