openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Allow clients to trade orders.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Trading API
  version: 0.5.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-trading-api
servers:
- description: Production
  url: https://api.factset.com/trading/ems/v0
- description: UAT
  url: https://api.uat.factset.com/trading/ems/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: These endpoints relate to Order Entry.
  name: InboundOrders
- description: These endpoints relate to Order Routing.
  name: ChildOrders
- description: This endpoint relates to Parent Order Edit.
  name: ParentOrders
paths:
  /inbound-orders/create:
    post:
      description: This endpoint takes the list of inbound orders and place them on
        Trading system for execution.
      operationId: create
      requestBody:
        content:
          application/json:
            examples:
              Multiple Orders:
                value:
                  data:
                    investorId: MyOrganization
                    inboundOrders:
                    - clientOrderId: OR0000001
                      instrument:
                        symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 1000.01
                      price: 450.01
                      currency: USD
                      handlingInstructions: autoOrderPublic
                    - clientOrderId: OR0000002
                      instrument:
                        symbol: MSFT
                      side: sell
                      orderType: limit
                      orderQuantity: 1000.01
                      price: 450.01
                      currency: USD
                      handlingInstructions: autoOrderPublic
                    - clientOrderId: OR0000003
                      instrument:
                        symbol: TSLA
                      side: buy
                      orderType: marketOnClose
                      orderQuantity: 1000.01
                      price: 450.01
                      currency: USD
                      handlingInstructions: autoOrderPublic
              Single Order (Minimum Fields):
                summary: Very basic single order with only required fields.
                value:
                  data:
                    investorId: MyOrganization
                    inboundOrders:
                    - instrument:
                        symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 1000.01
                      price: 450.01
                      currency: USD
              Single Order:
                value:
                  data:
                    investorId: MyOrganization
                    inboundOrders:
                    - clientOrderId: OR0000004
                      instrument:
                        symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 1000.01
                      price: 450.01
                      stopPrice: 500.01
                      strikePrice: 60.01
                      currency: USD
                      isCovered: false
                      maxShow: 30.01
                      maxFloor: 20.01
                      settlementType: regular
                      settlementDate: "20211024"
                      handlingInstructions: autoOrderPublic
                      locateRequired: false
                      account: ACCT1
                      timeInForce:
                        tif: goodTillCancel
              Single order with derivatives (futures/options):
                value:
                  data:
                    investorId: MyOrganization
                    inboundOrders:
                    - instrument:
                        symbol: GOOGL
                        putOrCall: call
                        underlyingSecurityType: Equity
                      side: buy
                      orderType: market
                      orderQuantity: 1000.01
                      price: 450.01
                      currency: USD
                      handlingInstructions: autoOrderPublic
                      account: ACCT1
            schema:
              $ref: '#/components/schemas/InboundOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    OR123456789:
                      symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 2500.01
                    OR123456790:
                      symbol: MSFT
                      side: buy
                      orderType: market
                      orderQuantity: 200.01
                  rejected:
                    OR123456791:
                      symbol: TSLA
                      side: buy
                      orderType: market
                      orderQuantity: 500.01
              schema:
                $ref: '#/components/schemas/InboundOrdersResponseRoot'
          description: Expected response, returns the list of orders.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid post body parameters.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Send inbound orders to Trading system for execution.
      tags:
      - InboundOrders
      x-contentType: application/json
      x-accepts: application/json
  /inbound-orders/replace:
    post:
      description: This endpoint takes the list of orders to be replaced on the Trading
        system.
      operationId: replace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceInboundOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    OR123456789:
                      symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 2500.01
                    OR123456790:
                      symbol: MSFT
                      side: buy
                      orderType: market
                      orderQuantity: 200.01
                  rejected:
                    OR123456791:
                      symbol: TSLA
                      side: buy
                      orderType: market
                      orderQuantity: 500.01
              schema:
                $ref: '#/components/schemas/InboundOrdersResponseRoot'
          description: Expected response, returns the list of order ids.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid post body parameters.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Replace the inbound orders on Trading system.
      tags:
      - InboundOrders
      x-contentType: application/json
      x-accepts: application/json
  /inbound-orders/cancel:
    post:
      description: This endpoint takes the list of inbound orders to be cancelled
        on the Trading system.
      operationId: cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelInboundOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    OR123456789:
                      symbol: GOOGL
                      side: buy
                      orderType: market
                      orderQuantity: 2500.01
                    OR123456790:
                      symbol: MSFT
                      side: buy
                      orderType: market
                      orderQuantity: 200.01
                  rejected:
                    OR123456791:
                      symbol: TSLA
                      side: buy
                      orderType: market
                      orderQuantity: 500.01
              schema:
                $ref: '#/components/schemas/InboundOrdersResponseRoot'
          description: Expected response, returns the list of order ids.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid post body parameters.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Cancel the inbound orders on Trading system.
      tags:
      - InboundOrders
      x-contentType: application/json
      x-accepts: application/json
  /child-orders/create:
    post:
      description: This endpoint is used to create child orders on Trading system.
      operationId: createChildOrder
      requestBody:
        content:
          application/json:
            examples:
              Multiple Orders:
                value:
                  data:
                    childOrders:
                    - parentId:
                        basketId: FACTSET_OMS-100823_12345
                        symbol: FDS-USA
                      orderType: market
                      destination: PAPER
                      orderQuantity: 250.01
                      text: Routing 10 orders to PAPER destination
                    - parentId:
                        basketId: FACTSET_OMS-100823_12346
                        symbol: AMZN-USA
                      orderType: market
                      destination: PAPER
                      orderQuantity: 421.01
                      text: Routing 5 orders to PAPER destination
              Single Order (Minimum Fields):
                summary: Very basic single order with only required fields.
                value:
                  data:
                    childOrders:
                    - parentId:
                        basketId: FACTSET_OMS-100823_12345
                        symbol: FDS-USA
                      orderType: market
                      destination: PAPER
                      orderQuantity: 250.01
                      text: Routing 10 orders to PAPER destination
              Single Order:
                value:
                  data:
                    childOrders:
                    - parentId:
                        symbol: FDS-USA
                        basketId: FACTSET_OMS-100823_12345
                      side: buy
                      orderType: market
                      orderQuantity: 250.01
                      price: 450.01
                      timeInForce:
                        tif: day
                        expireDate: "20230823"
                        expireTime: 20230823-12:20:25
                      handlingInstructions: autoOrderPublic
                      exDestination: America Stock Exchange
                      destination: PAPER
                      stopPrice: 250.01
                      maxFloor: 100.01
                      minQuantity: 120.01
                      settlementType: regular
                      settlementDate: "20230823"
                      executionInstructions: notHeld
                      locateRequired: false
                      text: routing 10 orders to PAPER destination
            schema:
              $ref: '#/components/schemas/ChildOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    "3280015":
                      basketId: FACTSET_OMS-100823_12345
                      ticketId: RKPW.3280015
                      symbol: FDS-USA
                  rejected:
                    "3280017":
                      message: 'Basket is not present for given basket id: FACTSET_OMS-100823_12346'
                      basketId: FACTSET_OMS-100823_12346
                      symbol: AMZN-USA
              schema:
                $ref: '#/components/schemas/CreateChildOrdersResponseRoot'
          description: Expected response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid parameters provided.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Create Child Orders on Trading system.
      tags:
      - ChildOrders
      x-contentType: application/json
      x-accepts: application/json
  /child-orders/replace:
    post:
      description: This endpoint takes the child order to be replaced on the Trading
        system.
      operationId: replaceChildOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceChildOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    "3280015":
                      ticketId: RKPW.3280015
                      symbol: FDS-USA
                  rejected:
                    "3280015":
                      message: 'Ticket does not exist for ticketid: null'
                      ticketId: RKPW.3280015
                      symbol: FDS-USA
              schema:
                $ref: '#/components/schemas/ChildOrdersResponseRoot'
          description: Expected response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid parameters provided.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Replace the Child Orders on Trading system.
      tags:
      - ChildOrders
      x-contentType: application/json
      x-accepts: application/json
  /child-orders/cancel:
    post:
      description: This endpoint is used to cancel a specific child order on Trading
        system.
      operationId: cancelChildOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelChildOrdersRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  accepted:
                    "3280015":
                      ticketId: RKPW.3280015
                      symbol: FDS-USA
                  rejected:
                    "3280015":
                      message: 'Ticket does not exist for ticketid: null'
                      ticketId: RKPW.3280015
                      symbol: FDS-USA
              schema:
                $ref: '#/components/schemas/ChildOrdersResponseRoot'
          description: Expected response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid parameters provided.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Cancel Child Orders on Trading system
      tags:
      - ChildOrders
      x-contentType: application/json
      x-accepts: application/json
  /parent-orders/update:
    put:
      description: This endpoint allows the user to update parent orders which are
        already present in Trading system.
      operationId: updateParentOrder
      requestBody:
        content:
          application/json:
            examples:
              Single Order:
                value:
                  data:
                    parentOrders:
                    - parentId:
                        symbol: AMZN US
                        basketId: valid basket id
                      userGroup: API
                      userDefinedFields:
                        currency: INR
              Multiple Orders:
                value:
                  data:
                    parentOrders:
                    - parentId:
                        symbol: AMZN US
                        basketId: valid basket id
                      userGroup: API
                      userDefinedFields:
                        currency: INR
                    - parentId:
                        symbol: GOOGL
                        basketId: valid basket id
                      userGroup: API
                      userDefinedFields:
                        maxPrice: "300.010"
            schema:
              $ref: '#/components/schemas/ParentOrdersUpdateRoot'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - parentId:
                    basketId: valid basket id
                    symbol: AMZN US
                  status: success
                - parentId:
                    basketId: valid basket id
                    symbol: GOOGL
                  status: failed
                  reason: reason for failure
              schema:
                $ref: '#/components/schemas/ParentOrdersUpdateResponseRoot'
          description: Expected response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
          description: Invalid parameters provided.
        "401":
          description: Missing or invalid authentication.
        "403":
          description: User is forbidden with current credentials.
        "415":
          description: Missing/Invalid Content-Type header. Header needs to be set
            to application/json.
        "429":
          description: Rate limit reached. Wait before sending further requests.
        "500":
          description: Server error. Log the X-DataDirect-Request-Key header to assist
            in troubleshooting.
        "503":
          description: Request timed out. Retry the request in sometime.
      summary: Update Parent Orders
      tags:
      - ParentOrders
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    ClientErrorResponse:
      description: Client Error Response
      properties:
        errors:
          description: List of errors
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          type: array
      type: object
    CancelChildOrder:
      description: Cancel Child Order
      example:
        reason: mistyped order quantity to be routed
        ticketId: RKPW.3280015
      properties:
        ticketId:
          description: Ticket Id for the child order to be cancelled
          example: RKPW.3280015
          type: string
        reason:
          description: Reason for cancelling the child order
          example: mistyped order quantity to be routed
          nullable: true
          type: string
      required:
      - ticketId
      type: object
    CancelChildOrders:
      description: Cancel Child Orders
      example:
        childOrders:
        - reason: mistyped order quantity to be routed
          ticketId: RKPW.3280015
        - reason: mistyped order quantity to be routed
          ticketId: RKPW.3280015
        - reason: mistyped order quantity to be routed
          ticketId: RKPW.3280015
        - reason: mistyped order quantity to be routed
          ticketId: RKPW.3280015
        - reason: mistyped order quantity to be routed
          ticketId: RKPW.3280015
      properties:
        childOrders:
          items:
            $ref: '#/components/schemas/CancelChildOrder'
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - childOrders
      type: object
    CancelChildOrdersRoot:
      example:
        data:
          childOrders:
          - reason: mistyped order quantity to be routed
            ticketId: RKPW.3280015
          - reason: mistyped order quantity to be routed
            ticketId: RKPW.3280015
          - reason: mistyped order quantity to be routed
            ticketId: RKPW.3280015
          - reason: mistyped order quantity to be routed
            ticketId: RKPW.3280015
          - reason: mistyped order quantity to be routed
            ticketId: RKPW.3280015
      properties:
        data:
          $ref: '#/components/schemas/CancelChildOrders'
      type: object
    CancelInboundOrder:
      description: Cancel Inbound Order
      example:
        originalClientOrderId: originalClientOrderId
        inboundDestination: inboundDestination
      properties:
        originalClientOrderId:
          description: Unique identifier of the original order, generated in Create.
          type: string
        inboundDestination:
          description: To facilitate integration with translators that transform orders
            into a format compatible with the internal order routing and execution
            infrastructure.
          nullable: true
          type: string
      required:
      - originalClientOrderId
      type: object
    CancelInboundOrders:
      description: Cancel Inbound Orders
      example:
        investorId: DEMO-12345
        inboundOrders:
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
        - originalClientOrderId: originalClientOrderId
          inboundDestination: inboundDestination
      properties:
        investorId:
          description: Investor Id
          example: DEMO-12345
          nullable: true
          type: string
        inboundOrders:
          description: List of inbound orders to cancel
          items:
            $ref: '#/components/schemas/CancelInboundOrder'
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - inboundOrders
      type: object
    CancelInboundOrdersRoot:
      example:
        data:
          investorId: DEMO-12345
          inboundOrders:
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
          - originalClientOrderId: originalClientOrderId
            inboundDestination: inboundDestination
      properties:
        data:
          $ref: '#/components/schemas/CancelInboundOrders'
      type: object
    ChildOrder:
      description: Child Order
      example:
        settlementType: regular
        orderType: market
        side: buy
        executionInstructions: notHeld
        maxFloor: 100.01
        profile: profile
        destination: PAPER
        settlementDate: "20230823"
        parentId:
          symbol: FDS-USA
          basketId: FACTSET_OMS-100823_12345
        orderQuantity: 250.01
        userDefinedFields:
          key: userDefinedFields
        stopPrice: 250.01
        minQuantity: 120.01
        price: 450.01
        text: routing 10 orders to PAPER destination
        exDestination: America Stock Exchange
        timeInForce:
          tif: day
          expireTime: 20230823-12:20:25
          expireDate: "20230823"
        handlingInstructions: autoOrderPublic
        locateRequired: false
      properties:
        parentId:
          $ref: '#/components/schemas/ParentId'
        side:
          description: Side of the order.If the parent order side is 'buy', valid
            values are 'buy' or 'buyMinus'. If the parent order side is 'sell', valid
            values are 'sell' or 'sellPlus'
          enum:
          - buy
          - sell
          - buyMinus
          - sellPlus
          - sellShort
          - sellShortExempt
          example: buy
          nullable: true
          type: string
        orderType:
          description: Type of the order
          enum:
          - market
          - limit
          - stop
          - stopLimit
          - marketOnClose
          - limitOrBetter
          example: market
          type: string
        orderQuantity:
          description: Number of shares/Quantity to be routed. Must be less than or
            equal to the orderQuantity of the parent order.
          example: 250.01
          format: double
          minimum: 0
          type: number
        price:
          description: Order price per share.
          example: 450.01
          format: double
          nullable: true
          type: number
        timeInForce:
          $ref: '#/components/schemas/TimeInForce'
        handlingInstructions:
          description: Instructions for order handling on Broker trading floor.
          enum:
          - autoOrderPrivate
          - autoOrderPublic
          - bestExecution
          example: autoOrderPublic
          nullable: true
          type: string
        exDestination:
          default: America Stock Exchange
          description: Execution destination as defined by institution when order
            is entered.
          example: America Stock Exchange
          nullable: true
          type: string
        destination:
          description: Represents the designated venue or location to which an order
            is intended to be routed.
          example: PAPER
          type: string
        stopPrice:
          description: Stop-loss price to buy/sell stock at market.
          example: 250.01
          format: double
          nullable: true
          type: number
        maxFloor:
          description: Maximum number of shares within an order to be shown on the
            exchange floor at any given time.
          example: 100.01
          format: double
          nullable: true
          type: number
        minQuantity:
          description: Minimum quantity of an order to be executed.
          example: 120.01
          format: double
          nullable: true
          type: number
        settlementType:
          description: Order settlement period
          enum:
          - regular
          - cash
          - nextDay
          - tPlus2
          - tPlus3
          - tPlus4
          - future
          - whenIssued
          - sellersOption
          - tPlus5
          example: regular
          nullable: true
          type: string
        settlementDate:
          description: Specific date of trade settlement in YYYYMMDD format.
          example: "20230823"
          nullable: true
          type: string
        executionInstructions:
          description: Instructions for order handling on exchange trading floor.
          enum:
          - notHeld
          - work
          - goAlong
          - overTheDay
          - held
          - participateDoNotInitiate
          - strictScale
          - tryToScale
          - stayOnBidSide
          - stayOnOfferSide
          - noCross
          - okToCross
          - callFirst
          - percentOfVolume
          - doNotIncrease
          - doNotReduce
          - allOrNone
          - reinstateOnSystemFailure
          - institutionsOnly
          - reinstateOnTradingHalt
          - cancelOnTradingHalt
          - lastPeg
          - midPricePeg
          - nonNegotiable
          - openingPeg
          - marketPeg
          - cancelOnSystemFailure
          - primaryPeg
          - suspend
          - fixedPegToLocalBestBid
          - customerDisplayInstruction
          - netting
          - pegToVWAP
          - tradeAlong
          - tryToStop
          - cancelIfNotBest
          - trailingStopPeg
          - strictLimit
          - ignorePriceValidityChecks
          - pegToLimitPrice
          - workToTargetStrategy
          - intermarketSweep
          - externalRoutingAllowed
          - externalRoutingNotAllowed
          - imbalanceOnly
          - singleExecutionRequestedForBlockTrade
          - bestExecution
          example: notHeld
          nullable: true
          type: string
        locateRequired:
          description: Indicates whether the broker is to locate the stock in conjunction
            with a short sell order.
          example: false
          nullable: true
          type: boolean
        text:
          description: Free format text string.
          example: routing 10 orders to PAPER destination
          maxLength: 250
          nullable: true
          type: string
        profile:
          description: A name given to broker algo
          nullable: true
          type: string
        userDefinedFields:
          additionalProperties:
            type: string
          description: User defined fields
          nullable: true
          type: object
      required:
      - destination
      - orderQuantity
      - orderType
      - parentId
      type: object
    ChildOrderInfo:
      description: Child Order Info
      example:
        symbol: FDS-USA
        ticketId: RKPW.3280015
      properties:
        ticketId:
          description: Ticket Id for the child order
          example: RKPW.3280015
          nullable: true
          type: string
        symbol:
          description: Ticker symbol
          example: FDS-USA
          nullable: true
          type: string
      type: object
    ChildOrderRejectInfo:
      description: Child Order Rejected Info
      example:
        symbol: FDS-USA
        message: 'Ticket does not exist for ticketid: null'
        ticketId: RKPW.3280015
      properties:
        message:
          description: Reason for rejection
          example: 'Ticket does not exist for ticketid: null'
          nullable: true
          type: string
        ticketId:
          description: Ticket Id for the child order
          example: RKPW.3280015
          nullable: true
          type: string
        symbol:
          description: Ticker symbol
          example: FDS-USA
          nullable: true
          type: string
      type: object
    ChildOrders:
      example:
        childOrders:
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          maxFloor: 100.01
          profile: profile
          destination: PAPER
          settlementDate: "20230823"
          parentId:
            symbol: FDS-USA
            basketId: FACTSET_OMS-100823_12345
          orderQuantity: 250.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 250.01
          minQuantity: 120.01
          price: 450.01
          text: routing 10 orders to PAPER destination
          exDestination: America Stock Exchange
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          maxFloor: 100.01
          profile: profile
          destination: PAPER
          settlementDate: "20230823"
          parentId:
            symbol: FDS-USA
            basketId: FACTSET_OMS-100823_12345
          orderQuantity: 250.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 250.01
          minQuantity: 120.01
          price: 450.01
          text: routing 10 orders to PAPER destination
          exDestination: America Stock Exchange
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          maxFloor: 100.01
          profile: profile
          destination: PAPER
          settlementDate: "20230823"
          parentId:
            symbol: FDS-USA
            basketId: FACTSET_OMS-100823_12345
          orderQuantity: 250.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 250.01
          minQuantity: 120.01
          price: 450.01
          text: routing 10 orders to PAPER destination
          exDestination: America Stock Exchange
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          maxFloor: 100.01
          profile: profile
          destination: PAPER
          settlementDate: "20230823"
          parentId:
            symbol: FDS-USA
            basketId: FACTSET_OMS-100823_12345
          orderQuantity: 250.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 250.01
          minQuantity: 120.01
          price: 450.01
          text: routing 10 orders to PAPER destination
          exDestination: America Stock Exchange
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          maxFloor: 100.01
          profile: profile
          destination: PAPER
          settlementDate: "20230823"
          parentId:
            symbol: FDS-USA
            basketId: FACTSET_OMS-100823_12345
          orderQuantity: 250.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 250.01
          minQuantity: 120.01
          price: 450.01
          text: routing 10 orders to PAPER destination
          exDestination: America Stock Exchange
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          handlingInstructions: autoOrderPublic
          locateRequired: false
      properties:
        childOrders:
          items:
            $ref: '#/components/schemas/ChildOrder'
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - childOrders
      type: object
    ChildOrdersResponse:
      description: Child Orders Response
      example:
        rejected:
          key:
            symbol: FDS-USA
            message: 'Ticket does not exist for ticketid: null'
            ticketId: RKPW.3280015
        accepted:
          key:
            symbol: FDS-USA
            ticketId: RKPW.3280015
      properties:
        accepted:
          additionalProperties:
            $ref: '#/components/schemas/ChildOrderInfo'
          description: Accepted Orders. Key is the clientOrderId of the request.
          nullable: true
          type: object
        rejected:
          additionalProperties:
            $ref: '#/components/schemas/ChildOrderRejectInfo'
          description: Rejected Orders. Key is the clientOrderId of the request.
          nullable: true
          type: object
      type: object
    ChildOrdersResponseRoot:
      description: Trading Response
      example:
        data:
          rejected:
            key:
              symbol: FDS-USA
              message: 'Ticket does not exist for ticketid: null'
              ticketId: RKPW.3280015
          accepted:
            key:
              symbol: FDS-USA
              ticketId: RKPW.3280015
      properties:
        data:
          $ref: '#/components/schemas/ChildOrdersResponse'
      required:
      - data
      type: object
    ChildOrdersRoot:
      example:
        data:
          childOrders:
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            maxFloor: 100.01
            profile: profile
            destination: PAPER
            settlementDate: "20230823"
            parentId:
              symbol: FDS-USA
              basketId: FACTSET_OMS-100823_12345
            orderQuantity: 250.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 250.01
            minQuantity: 120.01
            price: 450.01
            text: routing 10 orders to PAPER destination
            exDestination: America Stock Exchange
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            maxFloor: 100.01
            profile: profile
            destination: PAPER
            settlementDate: "20230823"
            parentId:
              symbol: FDS-USA
              basketId: FACTSET_OMS-100823_12345
            orderQuantity: 250.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 250.01
            minQuantity: 120.01
            price: 450.01
            text: routing 10 orders to PAPER destination
            exDestination: America Stock Exchange
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            maxFloor: 100.01
            profile: profile
            destination: PAPER
            settlementDate: "20230823"
            parentId:
              symbol: FDS-USA
              basketId: FACTSET_OMS-100823_12345
            orderQuantity: 250.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 250.01
            minQuantity: 120.01
            price: 450.01
            text: routing 10 orders to PAPER destination
            exDestination: America Stock Exchange
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            maxFloor: 100.01
            profile: profile
            destination: PAPER
            settlementDate: "20230823"
            parentId:
              symbol: FDS-USA
              basketId: FACTSET_OMS-100823_12345
            orderQuantity: 250.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 250.01
            minQuantity: 120.01
            price: 450.01
            text: routing 10 orders to PAPER destination
            exDestination: America Stock Exchange
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            maxFloor: 100.01
            profile: profile
            destination: PAPER
            settlementDate: "20230823"
            parentId:
              symbol: FDS-USA
              basketId: FACTSET_OMS-100823_12345
            orderQuantity: 250.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 250.01
            minQuantity: 120.01
            price: 450.01
            text: routing 10 orders to PAPER destination
            exDestination: America Stock Exchange
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            handlingInstructions: autoOrderPublic
            locateRequired: false
      properties:
        data:
          $ref: '#/components/schemas/ChildOrders'
      type: object
    CreateChildOrderInfo:
      example:
        basketId: FACTSET_OMS-100823_12345
        symbol: FDS-USA
        ticketId: RKPW.3280015
      properties:
        basketId:
          description: Unique identifier assigned to basket order
          example: FACTSET_OMS-100823_12345
          nullable: true
          type: string
        ticketId:
          description: Ticket Id for the child order
          example: RKPW.3280015
          nullable: true
          type: string
        symbol:
          description: Ticker symbol
          example: FDS-USA
          nullable: true
          type: string
      type: object
    CreateChildOrderRejectInfo:
      example:
        basketId: FACTSET_OMS-100823_12345
        symbol: FDS-USA
        message: 'Ticket does not exist for ticketid: null'
        ticketId: RKPW.3280015
      properties:
        message:
          description: Reason for rejection
          example: 'Ticket does not exist for ticketid: null'
          nullable: true
          type: string
        basketId:
          description: Unique identifier assigned to basket order
          example: FACTSET_OMS-100823_12345
          nullable: true
          type: string
        ticketId:
          description: Ticket Id for the child order
          example: RKPW.3280015
          nullable: true
          type: string
        symbol:
          description: Ticker symbol
          example: FDS-USA
          nullable: true
          type: string
      type: object
    CreateChildOrdersResponse:
      example:
        rejected:
          key:
            basketId: FACTSET_OMS-100823_12345
            symbol: FDS-USA
            message: 'Ticket does not exist for ticketid: null'
            ticketId: RKPW.3280015
        accepted:
          key:
            basketId: FACTSET_OMS-100823_12345
            symbol: FDS-USA
            ticketId: RKPW.3280015
      properties:
        accepted:
          additionalProperties:
            $ref: '#/components/schemas/CreateChildOrderInfo'
          description: Accepted Orders. Key is the clientOrderId of the request.
          nullable: true
          type: object
        rejected:
          additionalProperties:
            $ref: '#/components/schemas/CreateChildOrderRejectInfo'
          description: Rejected Orders. Key is the clientOrderId of the request.
          nullable: true
          type: object
      type: object
    CreateChildOrdersResponseRoot:
      description: Trading Response
      example:
        data:
          rejected:
            key:
              basketId: FACTSET_OMS-100823_12345
              symbol: FDS-USA
              message: 'Ticket does not exist for ticketid: null'
              ticketId: RKPW.3280015
          accepted:
            key:
              basketId: FACTSET_OMS-100823_12345
              symbol: FDS-USA
              ticketId: RKPW.3280015
      properties:
        data:
          $ref: '#/components/schemas/CreateChildOrdersResponse'
      required:
      - data
      type: object
    InboundOrder:
      description: Inbound Order
      example:
        settlementType: regular
        orderType: market
        side: buy
        executionInstructions: notHeld
        effectiveTime: 20210622-12:15:30
        clientOrderId: "12322123"
        maxFloor: 100.01
        instrument:
          symbol: TATAMOTORS
          putOrCall: put
          underlyingSecurityType: underlyingSecurityType
          securityType: securityType
          maturityMonthYear: maturityMonthYear
          maturityDay: maturityDay
          securityExchange: securityExchange
          securityDescription: securityDescription
          cfiCode: cfiCode
          issuer: issuer
        settlementDate: "20210622"
        orderQuantity: 350.01
        maxShow: 100.01
        userDefinedFields:
          key: userDefinedFields
        stopPrice: 800.01
        price: 800.01
        currency: USD
        prevClosePrice: 100.01
        timeInForce:
          tif: day
          expireTime: 20230823-12:20:25
          expireDate: "20230823"
        strikePrice: 400.01
        isCovered: false
        handlingInstructions: autoOrderPublic
        account: Test.ACCT
        inboundDestination: inboundDestination
        locateRequired: false
      properties:
        clientOrderId:
          description: Unique id for the order
          example: "12322123"
          nullable: true
          type: string
        instrument:
          $ref: '#/components/schemas/Instrument'
        side:
          description: Side of the order.
          enum:
          - buy
          - sell
          - sellShort
          - sellShortExempt
          example: buy
          type: string
        orderType:
          description: Type of the order
          enum:
          - market
          - limit
          - stop
          - stopLimit
          - marketOnClose
          - limitOrBetter
          example: market
          type: string
        orderQuantity:
          description: Number of shares/Quantity.
          example: 350.01
          format: double
          minimum: 0
          type: number
        price:
          description: Order price per share
          example: 800.01
          format: double
          nullable: true
          type: number
        stopPrice:
          description: Stop-loss price to buy/sell stock at market.
          example: 800.01
          format: double
          nullable: true
          type: number
        strikePrice:
          description: Strike Price for an Option.
          example: 400.01
          format: double
          nullable: true
          type: number
        currency:
          description: Currency used for price in ISO format.
          example: USD
          nullable: true
          type: string
        isCovered:
          description: Signifies if a specific order is a covered order. A covered
            order is one that involves an investment strategy with the capability
            to limit the potential loss of the order.
          example: false
          nullable: true
          type: boolean
        maxShow:
          description: Maximum number of shares within an order to be shown to other
            customers.
          example: 100.01
          format: double
          nullable: true
          type: number
        maxFloor:
          description: Maximum number of shares within an order to be shown on the
            exchange floor at any given time.
          example: 100.01
          format: double
          nullable: true
          type: number
        prevClosePrice:
          description: Previous closing price of security.
          example: 100.01
          format: double
          nullable: true
          type: number
        settlementType:
          description: Order settlement period.
          enum:
          - regular
          - cash
          - nextDay
          - tPlus2
          - tPlus3
          - tPlus4
          - future
          - whenIssued
          - sellersOption
          - tPlus5
          example: regular
          nullable: true
          type: string
        settlementDate:
          description: Settlement date of trade settlement in YYYYMMDD format
          example: "20210622"
          nullable: true
          type: string
        handlingInstructions:
          description: Instructions for order handling on Broker trading floor.
          enum:
          - autoOrderPrivate
          - autoOrderPublic
          - bestExecution
          example: autoOrderPublic
          nullable: true
          type: string
        executionInstructions:
          description: Instructions for order handling on exchange trading floor.
          enum:
          - notHeld
          - work
          - goAlong
          - overTheDay
          - held
          - participateDoNotInitiate
          - strictScale
          - tryToScale
          - stayOnBidSide
          - stayOnOfferSide
          - noCross
          - okToCross
          - callFirst
          - percentOfVolume
          - doNotIncrease
          - doNotReduce
          - allOrNone
          - reinstateOnSystemFailure
          - institutionsOnly
          - reinstateOnTradingHalt
          - cancelOnTradingHalt
          - lastPeg
          - midPricePeg
          - nonNegotiable
          - openingPeg
          - marketPeg
          - cancelOnSystemFailure
          - primaryPeg
          - suspend
          - fixedPegToLocalBestBid
          - customerDisplayInstruction
          - netting
          - pegToVWAP
          - tradeAlong
          - tryToStop
          - cancelIfNotBest
          - trailingStopPeg
          - strictLimit
          - ignorePriceValidityChecks
          - pegToLimitPrice
          - workToTargetStrategy
          - intermarketSweep
          - externalRoutingAllowed
          - externalRoutingNotAllowed
          - imbalanceOnly
          - singleExecutionRequestedForBlockTrade
          - bestExecution
          example: notHeld
          nullable: true
          type: string
        locateRequired:
          description: Indicates whether the broker is to locate the stock in conjunction
            with a short sell order.
          example: false
          nullable: true
          type: boolean
        effectiveTime:
          description: Effective time in YYYYMMDD-HH:MM:SS format expressed in UTC
          example: 20210622-12:15:30
          nullable: true
          type: string
        account:
          description: Account for the basket, parent basket or position.
          example: Test.ACCT
          nullable: true
          type: string
        timeInForce:
          $ref: '#/components/schemas/TimeInForce'
        inboundDestination:
          description: To facilitate integration with translators that transform orders
            into a format compatible with the internal order routing and execution
            infrastructure.
          nullable: true
          type: string
        userDefinedFields:
          additionalProperties:
            type: string
          description: User defined fields
          nullable: true
          type: object
      required:
      - instrument
      - orderType
      - side
      type: object
    InboundOrderMetadata:
      description: Inbound Order Metadata
      example:
        symbol: symbol
        orderType: market
        side: buy
        clientOrderId: clientOrderId
        warning: warning
        error: error
        orderQuantity: 0.8008281904610115
        info: info
      properties:
        symbol:
          description: Ticker symbol
          nullable: true
          type: string
        side:
          description: Side of the order
          enum:
          - buy
          - sell
          - sellShort
          - sellShortExempt
          nullable: true
          type: string
        orderType:
          description: Type of the order
          enum:
          - market
          - limit
          - stop
          - stopLimit
          - marketOnClose
          - limitOrBetter
          nullable: true
          type: string
        orderQuantity:
          description: Number of shares/Quantity.
          format: double
          nullable: true
          type: number
        error:
          description: Error message
          nullable: true
          type: string
        info:
          description: Information
          nullable: true
          type: string
        clientOrderId:
          description: Client Order Id
          nullable: true
          type: string
        warning:
          description: Warning
          nullable: true
          type: string
      type: object
    InboundOrders:
      description: Inbound Orders
      example:
        investorId: DEMO-12345
        inboundOrders:
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100.01
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350.01
          maxShow: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800.01
          price: 800.01
          currency: USD
          prevClosePrice: 100.01
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          strikePrice: 400.01
          isCovered: false
          handlingInstructions: autoOrderPublic
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100.01
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350.01
          maxShow: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800.01
          price: 800.01
          currency: USD
          prevClosePrice: 100.01
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          strikePrice: 400.01
          isCovered: false
          handlingInstructions: autoOrderPublic
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100.01
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350.01
          maxShow: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800.01
          price: 800.01
          currency: USD
          prevClosePrice: 100.01
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          strikePrice: 400.01
          isCovered: false
          handlingInstructions: autoOrderPublic
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100.01
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350.01
          maxShow: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800.01
          price: 800.01
          currency: USD
          prevClosePrice: 100.01
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          strikePrice: 400.01
          isCovered: false
          handlingInstructions: autoOrderPublic
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
        - settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100.01
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350.01
          maxShow: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800.01
          price: 800.01
          currency: USD
          prevClosePrice: 100.01
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          strikePrice: 400.01
          isCovered: false
          handlingInstructions: autoOrderPublic
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
      properties:
        investorId:
          description: Investor Id
          example: DEMO-12345
          nullable: true
          type: string
        inboundOrders:
          description: List of inbound orders
          items:
            $ref: '#/components/schemas/InboundOrder'
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - inboundOrders
      type: object
    InboundOrdersResponse:
      description: Inbound Orders Response
      example:
        rejected:
          key:
            symbol: symbol
            orderType: market
            side: buy
            clientOrderId: clientOrderId
            warning: warning
            error: error
            orderQuantity: 0.8008281904610115
            info: info
        accepted:
          key:
            symbol: symbol
            orderType: market
            side: buy
            clientOrderId: clientOrderId
            warning: warning
            error: error
            orderQuantity: 0.8008281904610115
            info: info
      properties:
        accepted:
          additionalProperties:
            $ref: '#/components/schemas/InboundOrderMetadata'
          description: Accepted Orders
          nullable: true
          type: object
        rejected:
          additionalProperties:
            $ref: '#/components/schemas/InboundOrderMetadata'
          description: Rejected Orders
          nullable: true
          type: object
      type: object
    InboundOrdersResponseRoot:
      description: Trading Response
      example:
        data:
          rejected:
            key:
              symbol: symbol
              orderType: market
              side: buy
              clientOrderId: clientOrderId
              warning: warning
              error: error
              orderQuantity: 0.8008281904610115
              info: info
          accepted:
            key:
              symbol: symbol
              orderType: market
              side: buy
              clientOrderId: clientOrderId
              warning: warning
              error: error
              orderQuantity: 0.8008281904610115
              info: info
      properties:
        data:
          $ref: '#/components/schemas/InboundOrdersResponse'
      required:
      - data
      type: object
    InboundOrdersRoot:
      example:
        data:
          investorId: DEMO-12345
          inboundOrders:
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          - settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
      properties:
        data:
          $ref: '#/components/schemas/InboundOrders'
      type: object
    ReplaceChildOrders:
      example:
        childOrders:
        - settlementType: regular
          orderType: market
          executionInstructions: notHeld
          maxFloor: 200.01
          settlementDate: "20230823"
          orderQuantity: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 120.01
          minQuantity: 120.01
          price: 450.01
          text: Replacing price to 300 for 50 orders
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          ticketId: RKPW.3280015
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          executionInstructions: notHeld
          maxFloor: 200.01
          settlementDate: "20230823"
          orderQuantity: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 120.01
          minQuantity: 120.01
          price: 450.01
          text: Replacing price to 300 for 50 orders
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          ticketId: RKPW.3280015
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          executionInstructions: notHeld
          maxFloor: 200.01
          settlementDate: "20230823"
          orderQuantity: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 120.01
          minQuantity: 120.01
          price: 450.01
          text: Replacing price to 300 for 50 orders
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          ticketId: RKPW.3280015
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          executionInstructions: notHeld
          maxFloor: 200.01
          settlementDate: "20230823"
          orderQuantity: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 120.01
          minQuantity: 120.01
          price: 450.01
          text: Replacing price to 300 for 50 orders
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          ticketId: RKPW.3280015
          handlingInstructions: autoOrderPublic
          locateRequired: false
        - settlementType: regular
          orderType: market
          executionInstructions: notHeld
          maxFloor: 200.01
          settlementDate: "20230823"
          orderQuantity: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 120.01
          minQuantity: 120.01
          price: 450.01
          text: Replacing price to 300 for 50 orders
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          ticketId: RKPW.3280015
          handlingInstructions: autoOrderPublic
          locateRequired: false
      properties:
        childOrders:
          items:
            $ref: '#/components/schemas/ReplaceChildOrder'
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - childOrders
      type: object
    ReplaceChildOrdersRoot:
      example:
        data:
          childOrders:
          - settlementType: regular
            orderType: market
            executionInstructions: notHeld
            maxFloor: 200.01
            settlementDate: "20230823"
            orderQuantity: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 120.01
            minQuantity: 120.01
            price: 450.01
            text: Replacing price to 300 for 50 orders
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            ticketId: RKPW.3280015
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            executionInstructions: notHeld
            maxFloor: 200.01
            settlementDate: "20230823"
            orderQuantity: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 120.01
            minQuantity: 120.01
            price: 450.01
            text: Replacing price to 300 for 50 orders
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            ticketId: RKPW.3280015
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            executionInstructions: notHeld
            maxFloor: 200.01
            settlementDate: "20230823"
            orderQuantity: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 120.01
            minQuantity: 120.01
            price: 450.01
            text: Replacing price to 300 for 50 orders
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            ticketId: RKPW.3280015
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            executionInstructions: notHeld
            maxFloor: 200.01
            settlementDate: "20230823"
            orderQuantity: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 120.01
            minQuantity: 120.01
            price: 450.01
            text: Replacing price to 300 for 50 orders
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            ticketId: RKPW.3280015
            handlingInstructions: autoOrderPublic
            locateRequired: false
          - settlementType: regular
            orderType: market
            executionInstructions: notHeld
            maxFloor: 200.01
            settlementDate: "20230823"
            orderQuantity: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 120.01
            minQuantity: 120.01
            price: 450.01
            text: Replacing price to 300 for 50 orders
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            ticketId: RKPW.3280015
            handlingInstructions: autoOrderPublic
            locateRequired: false
      properties:
        data:
          $ref: '#/components/schemas/ReplaceChildOrders'
      type: object
    ReplaceInboundOrder:
      description: Replace Inbound Order
      example:
        inboundOrder:
          settlementType: regular
          orderType: market
          side: buy
          executionInstructions: notHeld
          effectiveTime: 20210622-12:15:30
          clientOrderId: "12322123"
          maxFloor: 100.01
          instrument:
            symbol: TATAMOTORS
            putOrCall: put
            underlyingSecurityType: underlyingSecurityType
            securityType: securityType
            maturityMonthYear: maturityMonthYear
            maturityDay: maturityDay
            securityExchange: securityExchange
            securityDescription: securityDescription
            cfiCode: cfiCode
            issuer: issuer
          settlementDate: "20210622"
          orderQuantity: 350.01
          maxShow: 100.01
          userDefinedFields:
            key: userDefinedFields
          stopPrice: 800.01
          price: 800.01
          currency: USD
          prevClosePrice: 100.01
          timeInForce:
            tif: day
            expireTime: 20230823-12:20:25
            expireDate: "20230823"
          strikePrice: 400.01
          isCovered: false
          handlingInstructions: autoOrderPublic
          account: Test.ACCT
          inboundDestination: inboundDestination
          locateRequired: false
        originalClientOrderId: originalClientOrderId
      properties:
        originalClientOrderId:
          description: Unique identifier of the original order, generated in Create.
          type: string
        inboundOrder:
          $ref: '#/components/schemas/InboundOrder'
      required:
      - inboundOrder
      - originalClientOrderId
      type: object
    ReplaceInboundOrders:
      description: Replace Inbound Orders
      example:
        investorId: DEMO-12345
        inboundOrders:
        - inboundOrder:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          originalClientOrderId: originalClientOrderId
        - inboundOrder:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          originalClientOrderId: originalClientOrderId
        - inboundOrder:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          originalClientOrderId: originalClientOrderId
        - inboundOrder:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          originalClientOrderId: originalClientOrderId
        - inboundOrder:
            settlementType: regular
            orderType: market
            side: buy
            executionInstructions: notHeld
            effectiveTime: 20210622-12:15:30
            clientOrderId: "12322123"
            maxFloor: 100.01
            instrument:
              symbol: TATAMOTORS
              putOrCall: put
              underlyingSecurityType: underlyingSecurityType
              securityType: securityType
              maturityMonthYear: maturityMonthYear
              maturityDay: maturityDay
              securityExchange: securityExchange
              securityDescription: securityDescription
              cfiCode: cfiCode
              issuer: issuer
            settlementDate: "20210622"
            orderQuantity: 350.01
            maxShow: 100.01
            userDefinedFields:
              key: userDefinedFields
            stopPrice: 800.01
            price: 800.01
            currency: USD
            prevClosePrice: 100.01
            timeInForce:
              tif: day
              expireTime: 20230823-12:20:25
              expireDate: "20230823"
            strikePrice: 400.01
            isCovered: false
            handlingInstructions: autoOrderPublic
            account: Test.ACCT
            inboundDestination: inboundDestination
            locateRequired: false
          originalClientOrderId: originalClientOrderId
      properties:
        investorId:
          description: Investor Id
          example: DEMO-12345
          nullable: true
          type: string
        inboundOrders:
          description: List of inbound orders to replace
          items:
            $ref: '#/components/schemas/ReplaceInboundOrder'
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - inboundOrders
      type: object
    ReplaceInboundOrdersRoot:
      example:
        data:
          investorId: DEMO-12345
          inboundOrders:
          - inboundOrder:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: notHeld
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100.01
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350.01
              maxShow: 100.01
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800.01
              price: 800.01
              currency: USD
              prevClosePrice: 100.01
              timeInForce:
                tif: day
                expireTime: 20230823-12:20:25
                expireDate: "20230823"
              strikePrice: 400.01
              isCovered: false
              handlingInstructions: autoOrderPublic
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
            originalClientOrderId: originalClientOrderId
          - inboundOrder:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: notHeld
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100.01
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350.01
              maxShow: 100.01
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800.01
              price: 800.01
              currency: USD
              prevClosePrice: 100.01
              timeInForce:
                tif: day
                expireTime: 20230823-12:20:25
                expireDate: "20230823"
              strikePrice: 400.01
              isCovered: false
              handlingInstructions: autoOrderPublic
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
            originalClientOrderId: originalClientOrderId
          - inboundOrder:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: notHeld
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100.01
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350.01
              maxShow: 100.01
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800.01
              price: 800.01
              currency: USD
              prevClosePrice: 100.01
              timeInForce:
                tif: day
                expireTime: 20230823-12:20:25
                expireDate: "20230823"
              strikePrice: 400.01
              isCovered: false
              handlingInstructions: autoOrderPublic
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
            originalClientOrderId: originalClientOrderId
          - inboundOrder:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: notHeld
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100.01
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350.01
              maxShow: 100.01
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800.01
              price: 800.01
              currency: USD
              prevClosePrice: 100.01
              timeInForce:
                tif: day
                expireTime: 20230823-12:20:25
                expireDate: "20230823"
              strikePrice: 400.01
              isCovered: false
              handlingInstructions: autoOrderPublic
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
            originalClientOrderId: originalClientOrderId
          - inboundOrder:
              settlementType: regular
              orderType: market
              side: buy
              executionInstructions: notHeld
              effectiveTime: 20210622-12:15:30
              clientOrderId: "12322123"
              maxFloor: 100.01
              instrument:
                symbol: TATAMOTORS
                putOrCall: put
                underlyingSecurityType: underlyingSecurityType
                securityType: securityType
                maturityMonthYear: maturityMonthYear
                maturityDay: maturityDay
                securityExchange: securityExchange
                securityDescription: securityDescription
                cfiCode: cfiCode
                issuer: issuer
              settlementDate: "20210622"
              orderQuantity: 350.01
              maxShow: 100.01
              userDefinedFields:
                key: userDefinedFields
              stopPrice: 800.01
              price: 800.01
              currency: USD
              prevClosePrice: 100.01
              timeInForce:
                tif: day
                expireTime: 20230823-12:20:25
                expireDate: "20230823"
              strikePrice: 400.01
              isCovered: false
              handlingInstructions: autoOrderPublic
              account: Test.ACCT
              inboundDestination: inboundDestination
              locateRequired: false
            originalClientOrderId: originalClientOrderId
      properties:
        data:
          $ref: '#/components/schemas/ReplaceInboundOrders'
      type: object
    Error:
      description: Error
      properties:
        id:
          description: Identifier for the error
          nullable: true
          type: string
        code:
          description: Code
          nullable: true
          type: string
        title:
          description: Title
          nullable: true
          type: string
        detail:
          description: Explanation specific to the occurrence of the error
          nullable: true
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
      type: object
    ErrorSource:
      description: Error Source
      properties:
        pointer:
          description: Pointer to the associated entity in the request body
          nullable: true
          type: string
        parameter:
          description: Indicates which path or URI query parameter caused the error
          nullable: true
          type: string
      type: object
    Instrument:
      description: Instrument
      example:
        symbol: TATAMOTORS
        putOrCall: put
        underlyingSecurityType: underlyingSecurityType
        securityType: securityType
        maturityMonthYear: maturityMonthYear
        maturityDay: maturityDay
        securityExchange: securityExchange
        securityDescription: securityDescription
        cfiCode: cfiCode
        issuer: issuer
      properties:
        symbol:
          description: Ticker symbol
          example: TATAMOTORS
          maxLength: 250
          type: string
        securityType:
          description: Indicates type of security.
          nullable: true
          type: string
        cfiCode:
          description: Classification of Financial Instruments. Indicates the type
            of security using ISO 0962 standard.
          nullable: true
          type: string
        securityExchange:
          description: Market used to help identify a security.
          nullable: true
          type: string
        issuer:
          description: Company name of security issuer.
          nullable: true
          type: string
        securityDescription:
          description: Security Description
          nullable: true
          type: string
        maturityMonthYear:
          description: Month and Year of the maturity.
          nullable: true
          type: string
        maturityDay:
          description: Day of month used in conjunction with maturityMonthYear to
            specify the maturity date
          nullable: true
          type: string
        putOrCall:
          description: Indicates whether an Option is for a put or call.
          enum:
          - put
          - call
          nullable: true
          type: string
        underlyingSecurityType:
          description: Underlying security’s SecurityType.
          nullable: true
          type: string
      required:
      - symbol
      type: object
    ParentId:
      description: Unique identifier to identify the parent order.
      example:
        symbol: FDS-USA
        basketId: FACTSET_OMS-100823_12345
      properties:
        symbol:
          description: Ticker symbol
          example: FDS-USA
          type: string
        basketId:
          description: Unique identifier assigned to basket order. Can be fetched
            from the WebSocket Order Update API.
          example: FACTSET_OMS-100823_12345
          type: string
      required:
      - basketId
      - symbol
      type: object
    ResponseParentId:
      description: Unique identifier to identify the parent order.
      example:
        symbol: FDS-USA
        basketId: FACTSET_OMS-100823_12345
      properties:
        symbol:
          description: Ticker symbol
          example: FDS-USA
          nullable: true
          type: string
        basketId:
          description: Unique identifier assigned to basket order. Can be fetched
            from the WebSocket Order Update API.
          example: FACTSET_OMS-100823_12345
          nullable: true
          type: string
      type: object
    ReplaceChildOrder:
      description: Replace Child Order
      example:
        settlementType: regular
        orderType: market
        executionInstructions: notHeld
        maxFloor: 200.01
        settlementDate: "20230823"
[...]
