openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    The FactSet People API exposes FactSet data for individuals and their jobs.<p>This API is rate-limited to 10 requests per second and 10 concurrent requests per user.</p>
  title: FactSet People API
  version: 1.3.0
servers:
- description: Production Server
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Return information about the person with the specified entity ID.
  name: Profiles
- description: Returns the job history of the person
  name: Job History
- description: Returns a list of associated people for a requested company
  name: Company
paths:
  /factset-people/v1/profiles:
    get:
      description: |
        Returns a summary of basic information about the person referenced by the entityId specified in the URI.
      operationId: getPeopleProfiles
      parameters:
      - description: List of FactSet Person Entity identifier.
        example:
        - 0DPHLH-E
        - 07MZV9-E
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 500
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Profile response for 0DPHLH-E and 07MZV9-E:
                  $ref: '#/components/examples/ProfileResponse'
              schema:
                $ref: '#/components/schemas/peopleProfilesResponse'
          description: Array of Profile Ojects
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Return information about the person with the specified entity ID.
      tags:
      - Profiles
      x-accepts: application/json
    post:
      operationId: getPeopleProfilesForList
      requestBody:
        content:
          application/json:
            examples:
              Profile request for 0DPHLH-E:
                $ref: '#/components/examples/postProfile'
            schema:
              $ref: '#/components/schemas/peopleProfilesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Profile response for 0DPHLH-E and 07MZV9-E:
                  $ref: '#/components/examples/ProfileResponse'
              schema:
                $ref: '#/components/schemas/peopleProfilesResponse'
          description: Array of People Profile Objects
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns profile information for a large list of people.
      tags:
      - Profiles
      x-contentType: application/json
      x-accepts: application/json
  /factset-people/v1/jobs:
    get:
      description: |
        Returns the `Job` history of the person referenced by the entityId specified in the request.
      operationId: getPeopleJobs
      parameters:
      - description: List of FactSet Person Entity identifier.
        example:
        - 0DPHLH-E
        - 07MZV9-E
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: Select only Jobs with a certain status primary, active, or inactive.
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: ALL
          enum:
          - ALL
          - PRIMARY
          - ACTIVE
          - INACTIVE
          type: string
        style: form
      - description: Select the level of detail only main Jobs or include other Jobs
          at a company.
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: DETAIL
          enum:
          - SUMMARY
          - DETAIL
          type: string
        style: form
      - description: Select only Jobs of a certain type board member or employee.
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: ALL
          enum:
          - ALL
          - BRD
          - EMP
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Jobs response for 0DPHLH-E and 07MZV9-E:
                  $ref: '#/components/examples/JobsResponse'
              schema:
                $ref: '#/components/schemas/peopleJobsResponse'
          description: Array of Job objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the Job history of the person.
      tags:
      - Job History
      x-accepts: application/json
    post:
      description: |
        Returns the `Job` history of the person referenced by the entityId specified in the request.
      operationId: getPeopleJobsForList
      requestBody:
        content:
          application/json:
            examples:
              Jobs request for id - 0DPHLH-E:
                $ref: '#/components/examples/postJobs'
            schema:
              $ref: '#/components/schemas/peopleJobsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Jobs response for 0DPHLH-E and 07MZV9-E:
                  $ref: '#/components/examples/JobsResponse'
              schema:
                $ref: '#/components/schemas/peopleJobsResponse'
          description: Array of Job objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the Job history for the large list of people.
      tags:
      - Job History
      x-contentType: application/json
      x-accepts: application/json
  /factset-people/v1/company-people:
    get:
      description: |
        Returns the list of executives associated the company identifier requested. Information includes the job functions, email, phone, title, name, and FactSet Entity Identifier. The personId returned can then be used in the `/profiles` endpoint to learn more about the given person.
      operationId: getCompanyPeople
      parameters:
      - description: |
          The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        example:
        - AAPL-US
        - IBM-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: "Controls the types of people returned based on high-level job\
          \ functions. Filter by - \n  |function|description|\n  |---|---|\n  |PEOPLE|Retrieve\
          \ **ALL** Executives of a requested company|\n  |OFFICER|Retrieve only the\
          \ Officers of a requested company|\n  |DIRECTOR|Retrieve only the Directors\
          \ of a requested company|\n"
        explode: true
        in: query
        name: function
        required: false
        schema:
          default: PEOPLE
          enum:
          - PEOPLE
          - OFFICER
          - DIRECTOR
          example: PEOPLE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Company People response for 'AAPL-US' to only return "DIRECTOR" field:
                  $ref: '#/components/examples/CompanyPeopleResponse'
              schema:
                $ref: '#/components/schemas/companyPeopleResponse'
          description: Array of Company People objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the list of people for the specified company identifiers
      tags:
      - Company
      x-accepts: application/json
    post:
      description: |
        Returns the list of executives associated the company identifier requested. Information includes the job functions, email, phone, title, name, and FactSet Entity Identifier. The personId returned can then be used in the /profiles endpoint to learn more about the given person.
      operationId: getCompanyPeopleForList
      requestBody:
        content:
          application/json:
            examples:
              Company People request for id - AAPL-US:
                $ref: '#/components/examples/postCompanyPeople'
            schema:
              $ref: '#/components/schemas/companyPeopleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Company People response for 'AAPL-US' to only return "DIRECTOR" field:
                  $ref: '#/components/examples/CompanyPeopleResponse'
              schema:
                $ref: '#/components/schemas/companyPeopleResponse'
          description: Array of Company People objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the list of people associated for a large list of company identitifers
      tags:
      - Company
      x-contentType: application/json
      x-accepts: application/json
  /factset-people/v1/company-positions:
    get:
      description: |
        Returns the list of people, name, and title for a list of company ids and requested position. Positions include-
          * Chairman
          * Chief Executive Officer
          * President
          * Chief Operating Officer
          * Chief Financial Officer
          * Chief Technology Officer
          * Chief Investment Officer
          * Founder(s)
          * Compliance Officer
          * Admin
          * Independent Director
          * Directors/Board Members
          * Investor Relations
          * Legal Counsel
          * Treasurer
          * Sales and Marketing Managers
          * Human Resources
      operationId: getCompanyPositions
      parameters:
      - description: |
          The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        example:
        - AAPL-US
        - IBM-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: |
          Controls the position details returned for the requested company. By default, the service returns the CEO name, title, and ID for the requested company ids.
            |position|description|
            |---|---|
            |CHAIR|Chairman|
            |CEO|Chief Executive Officer|
            |PRES|President|
            |COO|Chief Operating Officer|
            |CFO|Chief Financial Officer|
            |CTO|Chief Technology Officer|
            |CIO|Chief Investment Officer|
            |FOU|Founder(s)|
            |CMP|Compliance Officer|
            |ADM|Admin|
            |IND|Independent Director|
            |BRD|Directors/Board Members|
            |IR|Investor Relations|
            |LEG|Legal Counsel|
            |TREAS|Treasurer|
            |MKT|Sales and Marketing Managers|
            |HR|Human Resources|
        explode: true
        in: query
        name: position
        required: false
        schema:
          default: CEO
          enum:
          - CHAIR
          - CEO
          - PRES
          - COO
          - CFO
          - CTO
          - CIO
          - FOU
          - CMP
          - ADM
          - IND
          - BRD
          - IR
          - LEG
          - TREAS
          - MKT
          - HR
          example: FOU
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Positions response for 'FDS-US' to only return "FOU" field:
                  $ref: '#/components/examples/CompanyPositionsResponse'
              schema:
                $ref: '#/components/schemas/companyPositionsResponse'
          description: Array of Company Positions objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the list of people for the specified company identifiers and
        position
      tags:
      - Company
      x-accepts: application/json
    post:
      description: |
        Returns the list of people, name, and title for a list of company ids and requested position. Positions include-
          * Chairman
          * Chief Executive Officer
          * President
          * Chief Operating Officer
          * Chief Financial Officer
          * Chief Technology Officer
          * Chief Investment Officer
          * Founder(s)
          * Compliance Officer
          * Admin
          * Independent Director
          * Directors/Board Members
          * Investor Relations
          * Legal Counsel
          * Treasurer
          * Sales and Marketing Managers
          * Human Resources
      operationId: getCompanyPositionsForList
      requestBody:
        content:
          application/json:
            examples:
              Company Positions request for id - AAPL-US:
                $ref: '#/components/examples/postCompanyPositions'
            schema:
              $ref: '#/components/schemas/companyPositionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Positions response for 'FDS-US' to only return "FOU" field:
                  $ref: '#/components/examples/CompanyPositionsResponse'
              schema:
                $ref: '#/components/schemas/companyPositionsResponse'
          description: Array of Company Positions objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the list of people associated for a large list of company identitifers
        and position
      tags:
      - Company
      x-contentType: application/json
      x-accepts: application/json
  /factset-people/v1/company-compensation:
    get:
      description: "Returns the list of company-level executive compensation data\
        \ items for the top executives listed in annual filings.The coverage of the\
        \ compensation details for the executives are limited to US region. All the\
        \ compensation figures are expressed in raw units. \n"
      operationId: getCompanyCompensation
      parameters:
      - description: |
          The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        example:
        - AAPL-US
        - IBM-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Compensation response for 'AAPL-US':
                  $ref: '#/components/examples/CompanyCompensationResponse'
              schema:
                $ref: '#/components/schemas/companyCompensationResponse'
          description: Array of Company Compensation objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the compensation details of the people for the specified company
        identifier
      tags:
      - Company
      x-accepts: application/json
    post:
      description: "Returns the list of company-level executive compensation data\
        \ items for the top executives listed in annual filings for the most recent\
        \ fiscal year. The coverage of the compensation details for the executives\
        \ are limited to US region. All the compensation figures are expressed in\
        \ raw units. \n"
      operationId: getCompanyCompensationForList
      requestBody:
        content:
          application/json:
            examples:
              Company Compensation request for id - AAPL-US:
                $ref: '#/components/examples/postCompanyCompensation'
            schema:
              $ref: '#/components/schemas/companyCompensationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Compensation response for 'AAPL-US':
                  $ref: '#/components/examples/CompanyCompensationResponse'
              schema:
                $ref: '#/components/schemas/companyCompensationResponse'
          description: Array of Company Positions objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the compensation details for the people for the specified company
        identifier
      tags:
      - Company
      x-contentType: application/json
      x-accepts: application/json
  /factset-people/v1/company-stats:
    get:
      description: |
        Returns the statistics such as the average age, tenure, compensation of leadership, number of executives, and the gender diversity of leadership. We can utilize the data for analyzing a company's board and management.
      operationId: getCompanyStats
      parameters:
      - description: |
          The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p>
          *<p>Make note, GET Method URL request lines are also limited to a total
          length of 8192 bytes (8KB). In cases where the service allows for thousands
          of ids, which may lead to exceeding this request line limit of 8KB, its
          advised for any requests with large request lines to be requested through
          the respective "POST" method.</p>*
        example:
        - AAPL-US
        - IBM-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        style: form
      - description: "Search based on the management and board types. The types include\
          \ - \n|type|description|\n|---|---|\n|MB|Management & Board|\n|MGMT|Management|\n\
          |BRD|Board|\n"
        explode: true
        in: query
        name: mbType
        required: false
        schema:
          default: MB
          enum:
          - MB
          - MGMT
          - BRD
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Stats response for 'AAPL-US' to only return "MB" field:
                  $ref: '#/components/examples/CompanyStatsResponse'
              schema:
                $ref: '#/components/schemas/companyStatsResponse'
          description: Array of Company Stats objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns statistics about top leadership of a company.
      tags:
      - Company
      x-accepts: application/json
    post:
      description: "Returns the statistics such as the average age, tenure, compensation\
        \ of leadership, number of executives, and the gender diversity of leadership.\
        \ We can utilize the data for analyzing a company's board and management.\
        \ \n"
      operationId: getCompanyStatsForList
      requestBody:
        content:
          application/json:
            examples:
              Company Stats Request for id - AAPL-US:
                $ref: '#/components/examples/postCompanyStats'
            schema:
              $ref: '#/components/schemas/companyStatsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Company Stats response for 'AAPL-US' to only return "MB" field:
                  $ref: '#/components/examples/CompanyStatsResponse'
              schema:
                $ref: '#/components/schemas/companyStatsResponse'
          description: Array of Company Positions objects.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Unauthenticated:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns statistics about top leadership of a company.
      tags:
      - Company
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        status: Bad Request
        timestamp: 2019-10-31 16:08:07.945
        path: /factset-people/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format:
          YYYY-MM-DD'
        subErrors: null
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:48:42.016
        path: /factset-people/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestInvalidParameters:
      description: This error message occurs when a request parameter is used in which
        is not recognized by the service. Please revise your request to include only
        the parameters listed in the specification. Typical causes are spelling mistakes
        and use of improper casing.
      summary: Bad Request - Invalid Parameters
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:58:54.068
        path: /factset-people/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
          modify your request to use parameters outlined in the specification for
          this endpoint.'
        subErrors: null
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON, but is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        status: Bad Request
        timestamp: 2019-11-05 09:48:29.18
        path: /factset-people/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        status: Bad Request
        timestamp: 2019-11-04 16:18:38.949
        path: /factset-people/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    postProfile:
      summary: Profile request for id - 0DPHLH-E
      value:
        ids:
        - 0DPHLH-E
    postJobs:
      summary: Jobs request for id - 0DPHLH-E
      value:
        ids:
        - 0DPHLH-E
        status: ALL
        level: DETAIL
        type: ALL
    postCompanyPeople:
      summary: Company People request for id - AAPL-US
      value:
        ids:
        - AAPL-US
        function: DIRECTOR
    postCompanyPositions:
      summary: Company Positions request for id - AAPL-US
      value:
        ids:
        - AAPL-US
        position: FOU
    postCompanyCompensation:
      summary: Company Compensation request for id - AAPL-US
      value:
        ids:
        - AAPL-US
    postCompanyStats:
      summary: Company Stats Request for id - AAPL-US
      value:
        ids:
        - AAPL-US
        mbType: MB
    ProfileResponse:
      summary: Profile response for 0DPHLH-E and 07MZV9-E
      value:
        data:
        - requestId: 0DPHLH-E
          personId: 0DPHLH-E
          lastName: Snow
          factsetName: Philip Snow
          firstName: Frederick
          middleName: Philip
          formalName: Frederick Philip Snow
          properName: Snow Frederick Philip CFA
          salutation: Mr.
          highestDegree: GRD
          highestDegreeInst: Thunderbird School of Global Management
          suffix: CFA
          age: 60
          gender: Male
          salary: 692500
          totalCompensation: 6604998
          primaryCompanyId: 0016YD-E
          primaryCompanyName: FactSet Research Systems, Inc.
          primaryTitle: Chief Executive Officer & Director
          biography: Presently, Frederick Philip Snow occupies the position of Chief
            Executive Officer & Director at FactSet Research Systems, Inc. and Chairman
            for FactSet JCF SAS (a subsidiary of FactSet Research Systems, Inc.).
            Mr. Snow is also Member of CFA Institute and on the board of 5 other companies.
            He received an undergraduate degree from the University of California,
            Berkeley and a graduate degree from Thunderbird School of Global Management.
        - requestId: 07MZV9-E
          personId: 07MZV9-E
          lastName: Hale
          factsetName: Mark J. Hale
          firstName: Mark
          middleName: J.
          formalName: Mark J. Hale
          properName: Hale Mark J.
          salutation: Mr.
          highestDegree: UND
          highestDegreeInst: Carnegie Mellon University
          suffix: null
          age: 51
          gender: Male
          salary: 300000
          totalCompensation: 1106928
          primaryCompanyId: 0GJSJF-E
          primaryCompanyName: Visible Alpha LLC
          primaryTitle: Chief Executive Officer
          biography: Mr. Mark J. Hale is a Chief Executive Officer at Visible Alpha
            LLC. He joined the company in 2018 as COO and has a strong track record
            in financial services and information technology, as well as in the FinTech
            community. Prior to joining Visible Alpha, Mr. Hale spent 22 years at
            FactSet, serving in diverse leadership roles in content operations, software
            engineering, quality assurance and executive management. He holds a B.S.
            in Electrical & Computer Engineering from Carnegie Mellon University.
    JobsResponse:
      summary: Jobs response for 0DPHLH-E and 07MZV9-E
      value:
        data:
        - companyCity: Paris
          companyId: 09714M-E
          companyName: FactSet JCF SAS
          jobEndDate: null
          jobFunctionCode: CHM
          jobFunctionName: Chairman
          jobStartDate: 2019-04-19
          jobTitle: Chairman
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Norwalk
          companyId: 0016YD-E
          companyName: FactSet Research Systems, Inc.
          jobEndDate: null
          jobFunctionCode: CEO
          jobFunctionName: Chief Executive Officer
          jobStartDate: 2015-07-01
          jobTitle: Chief Executive Officer & Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Norwalk
          companyId: 0016YD-E
          companyName: FactSet Research Systems, Inc.
          jobEndDate: null
          jobFunctionCode: BRD
          jobFunctionName: Director/Board Member
          jobStartDate: 2015-03-16
          jobTitle: Chief Executive Officer & Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Boston
          companyId: 0DCNKN-E
          companyName: Quantopian, Inc.
          jobEndDate: null
          jobFunctionCode: BRD
          jobFunctionName: Director/Board Member
          jobStartDate: 2019-12-19
          jobTitle: Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Charlottesville
          companyId: 06NH4N-E
          companyName: CFA Institute
          jobEndDate: null
          jobFunctionCode: PRN
          jobFunctionName: Corporate Officer/Principal
          jobStartDate: null
          jobTitle: Member
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Hyderabad
          companyId: 09KD0V-E
          companyName: FactSet Systems India Pvt Ltd.
          jobEndDate: null
          jobFunctionCode: BRD
          jobFunctionName: Director/Board Member
          jobStartDate: null
          jobTitle: Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Edinburgh
          companyId: 0JXRTR-E
          companyName: Vermilion Holdings Ltd.
          jobEndDate: null
          jobFunctionCode: BRD
          jobFunctionName: Director/Board Member
          jobStartDate: 2018-10-07
          jobTitle: Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Dubai
          companyId: 0FJYBG-E
          companyName: FactSet (UAE) Ltd.
          jobEndDate: null
          jobFunctionCode: BRD
          jobFunctionName: Director/Board Member
          jobStartDate: null
          jobTitle: Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: London
          companyId: 0988HX-E
          companyName: FactSet UK Ltd.
          jobEndDate: null
          jobFunctionCode: BRD
          jobFunctionName: Director/Board Member
          jobStartDate: 2018-10-07
          jobTitle: Director
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Norwalk
          companyId: 0016YD-E
          companyName: FactSet Research Systems, Inc.
          jobEndDate: 2015-06-30
          jobFunctionCode: PSD
          jobFunctionName: President
          jobStartDate: 2014-07-01
          jobTitle: President
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: Norwalk
          companyId: 0016YD-E
          companyName: FactSet Research Systems, Inc.
          jobEndDate: 2014-07-01
          jobFunctionCode: SAM
          jobFunctionName: Sales & Marketing
          jobStartDate: 2013-01-01
          jobTitle: Sales & Marketing
          personId: 0DPHLH-E
          requestId: 0DPHLH-E
        - companyCity: New York
          companyId: 0GJSJF-E
          companyName: Visible Alpha LLC
          jobEndDate: null
          jobFunctionCode: CEO
          jobFunctionName: Chief Executive Officer
          jobStartDate: 2020-02-01
          jobTitle: Chief Executive Officer
          personId: 07MZV9-E
          requestId: 07MZV9-E
        - companyCity: New York
          companyId: 0GJSJF-E
          companyName: Visible Alpha LLC
          jobEndDate: 2020-02-01
          jobFunctionCode: COO
          jobFunctionName: Chief Operating Officer
          jobStartDate: 2018-09-17
          jobTitle: Chief Operating Officer
          personId: 07MZV9-E
          requestId: 07MZV9-E
        - companyCity: Norwalk
          companyId: 0016YD-E
          companyName: FactSet Research Systems, Inc.
          jobEndDate: 2017-12-31
          jobFunctionCode: COO
          jobFunctionName: Chief Operating Officer
          jobStartDate: 2015-03-16
          jobTitle: Chief Operating Officer
          personId: 07MZV9-E
          requestId: 07MZV9-E
        - companyCity: Norwalk
          companyId: 0016YD-E
          companyName: FactSet Research Systems, Inc.
          jobEndDate: 2015-03-16
          jobFunctionCode: PRN
          jobFunctionName: Corporate Officer/Principal
          jobStartDate: 1995-07-10
          jobTitle: Corporate Officer/Principal
          personId: 07MZV9-E
          requestId: 07MZV9-E
    CompanyPeopleResponse:
      summary: Company People response for 'AAPL-US' to only return "DIRECTOR" field.
      value:
        data:
        - fsymId: 000C7F-E
          email: null
          name: Arthur D. Levinson
          jobFunction1: Chairman
          jobFunction2: Independent Dir/Board Member
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 05F39B-E
          phone: null
          requestId: AAPL-US
          title: Independent Chairman
        - fsymId: 000C7F-E
          email: null
          name: Tim Cook
          jobFunction1: Chief Executive Officer
          jobFunction2: Director/Board Member
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 05F520-E
          phone: null
          requestId: AAPL-US
          title: Chief Executive Officer & Director
        - fsymId: 000C7F-E
          email: null
          name: Andrea Jung
          jobFunction1: Chief Operating Officer
          jobFunction2: null
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 05DYGF-E
          phone: null
          requestId: AAPL-US
          title: Independent Non-Executive Director
        - fsymId: 000C7F-E
          email: null
          name: Ronald D. Sugar
          jobFunction1: Director of Finance/CFO
          jobFunction2: null
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 05HR5F-E
          phone: null
          requestId: AAPL-US
          title: Independent Director
        - fsymId: 000C7F-E
          email: null
          name: Susan Lynne Wagner
          jobFunction1: Chief Tech/Sci/R&D Officer
          jobFunction2: null
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 0021H2-E
          phone: null
          requestId: AAPL-US
          title: Independent Director
        - fsymId: 000C7F-E
          email: null
          name: Monica Cecilia Lozano
          jobFunction1: Chief Tech/Sci/R&D Officer
          jobFunction2: null
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 05FTGN-E
          phone: null
          requestId: AAPL-US
          title: Independent Director
        - fsymId: 000C7F-E
          email: null
          name: Alex Gorsky
          jobFunction1: Corporate Secretary
          jobFunction2: General Counsel
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 065SLB-E
          phone: null
          requestId: AAPL-US
          title: Independent Director
        - fsymId: 000C7F-E
          email: null
          name: Wanda M. Austin
          jobFunction1: Corporate Officer/Principal
          jobFunction2: null
          jobFunction3: null
          jobFunction4: null
          mainPhone: 1.408.996.1010
          personId: 06XHQ6-E
          phone: null
          requestId: AAPL-US
          title: Director
    CompanyPositionsResponse:
      summary: Company Positions response for 'FDS-US' to only return "FOU" field.
      value:
        data:
        - fsymId: 0016YD-E
          personId: 05FJHJ-E
          name: Charles J. Snyder
          title: Founder
          yearsAtFirm: 45.54
          age: 82
          gender: Male
          requestPosition: FOU
          requestId: FDS-US
        - fsymId: 0016YD-E
          personId: 05FJHH-E
          name: Howard E. Wille
          title: Founder
          yearsAtFirm: 45.54
          age: null
          gender: Male
          requestPosition: FOU
          requestId: FDS-US
    CompanyCompensationResponse:
      summary: Company Compensation response for AAPL-US
      value:
        data:
        - name: Tim Cook
          personId: 05F520-E
          title: Chief Executive Officer & Director
          salary: 3000000
          bonus: null
          stockAwards: 46970283
          optionsAwards: null
          otherCompensation: 2526112
          totalCompensation: 63209845
          nonEquityIncentivePlanComp: 10713450
          nonQualifiedCompEarnings: null
          compensationYear: "2023"
          requestId: AAPL-US
        - name: Jeffrey E. Williams
          personId: 00CPSF-E
          title: Chief Operating Officer
          salary: 1000000
          bonus: null
          stockAwards: 22323641
          optionsAwards: null
          otherCompensation: 66435
          totalCompensation: 26961226
          nonEquityIncentivePlanComp: 3571150
          nonQualifiedCompEarnings: null
          compensationYear: "2023"
          requestId: AAPL-US
        - name: Luca Maestri
          personId: 07F5D0-E
          title: Chief Financial Officer & Senior Vice President
          salary: 1000000
          bonus: null
          stockAwards: 22323641
          optionsAwards: null
          otherCompensation: 41092
          totalCompensation: 26935883
          nonEquityIncentivePlanComp: 3571150
          nonQualifiedCompEarnings: null
          compensationYear: "2023"
          requestId: AAPL-US
        - name: Kate Adams
          personId: 06WHND-E
          title: Secretary, Senior Vice President & General Counsel
          salary: 1000000
          bonus: null
          stockAwards: 22323641
          optionsAwards: null
          otherCompensation: 46914
          totalCompensation: 26941705
          nonEquityIncentivePlanComp: 3571150
          nonQualifiedCompEarnings: null
          compensationYear: "2023"
          requestId: AAPL-US
        - name: Deirdre O'Brien
          personId: 0H7DRB-E
          title: Senior Vice President-Retail
          salary: 1000000
          bonus: null
          stockAwards: 22323641
          optionsAwards: null
          otherCompensation: 42219
          totalCompensation: 26937010
          nonEquityIncentivePlanComp: 3571150
          nonQualifiedCompEarnings: null
          compensationYear: "2023"
          requestId: AAPL-US
    CompanyStatsResponse:
      summary: Company Stats response for 'AAPL-US' to only return "MB" field.
      value:
        data:
        - fsymId: 000C7F-E
          averageMgmtCompensation: 34197132
          averageTenure: 13.88
          medianTenure: 0.05
          averageAge: 59.46
          maxAge: 75
          minimumAge: 49
          medianAge: 59
          boardIndependentDirectors: 6
          femaleBoardMembers: 4
          femaleBoardMembersPercent: 50
          numberOfMembers: 45
          onOtherBoardsAll: 8
          onOtherBoardsCorporate: 8
          mbType: MB
          requestId: AAPL-US
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        status: User Authentication Failed
        timestamp: 2019-10-31 16:08:07.945
        path: /factset-people/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        status: Forbidden
        timestamp: 2020-06-12 16:08:51.731
        path: /factset-people/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-people /v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        status: Unsupported Media Type
        timestamp: 2019-11-05 09:42:27.237
        path: /factset-people/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        status: Internal Server Error
        timestamp: 2019-11-05 09:48:29.18
        path: /factset-people/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        status: Internal Server Error
        timestamp: 2019-11-01 10:36:01.944
        path: /factset-people/v1/{endpoint}
        message: Unexpected error
        subErrors: null
  parameters:
    entityId:
      description: List of FactSet Person Entity identifier.
      example:
      - 0DPHLH-E
      - 07MZV9-E
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 1000
        minItems: 1
        type: array
      style: form
    profileEntityId:
      description: List of FactSet Person Entity identifier.
      example:
      - 0DPHLH-E
      - 07MZV9-E
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 500
        minItems: 1
        type: array
      style: form
    status:
      description: Select only Jobs with a certain status primary, active, or inactive.
      explode: true
      in: query
      name: status
      required: false
      schema:
        default: ALL
        enum:
        - ALL
        - PRIMARY
        - ACTIVE
        - INACTIVE
        type: string
      style: form
    level:
      description: Select the level of detail only main Jobs or include other Jobs
        at a company.
      explode: true
      in: query
      name: level
      required: false
      schema:
        default: DETAIL
        enum:
        - SUMMARY
        - DETAIL
        type: string
      style: form
    type:
      description: Select only Jobs of a certain type board member or employee.
      explode: true
      in: query
      name: type
      required: false
      schema:
        default: ALL
        enum:
        - ALL
        - BRD
        - EMP
        type: string
      style: form
    companyId:
      description: |
        The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p>
        *<p>Make note, GET Method URL request lines are also limited to a total
        length of 8192 bytes (8KB). In cases where the service allows for thousands
        of ids, which may lead to exceeding this request line limit of 8KB, its
        advised for any requests with large request lines to be requested through
        the respective "POST" method.</p>*
      example:
      - AAPL-US
      - IBM-US
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 1000
        minItems: 1
        type: array
      style: form
    jobFunction:
      description: "Controls the types of people returned based on high-level job\
        \ functions. Filter by - \n  |function|description|\n  |---|---|\n  |PEOPLE|Retrieve\
        \ **ALL** Executives of a requested company|\n  |OFFICER|Retrieve only the\
        \ Officers of a requested company|\n  |DIRECTOR|Retrieve only the Directors\
        \ of a requested company|\n"
      explode: true
      in: query
      name: function
      required: false
      schema:
        default: PEOPLE
        enum:
        - PEOPLE
        - OFFICER
        - DIRECTOR
        example: PEOPLE
        type: string
      style: form
    position:
      description: |
        Controls the position details returned for the requested company. By default, the service returns the CEO name, title, and ID for the requested company ids.
          |position|description|
          |---|---|
          |CHAIR|Chairman|
          |CEO|Chief Executive Officer|
          |PRES|President|
          |COO|Chief Operating Officer|
          |CFO|Chief Financial Officer|
          |CTO|Chief Technology Officer|
          |CIO|Chief Investment Officer|
          |FOU|Founder(s)|
          |CMP|Compliance Officer|
          |ADM|Admin|
          |IND|Independent Director|
          |BRD|Directors/Board Members|
          |IR|Investor Relations|
          |LEG|Legal Counsel|
          |TREAS|Treasurer|
          |MKT|Sales and Marketing Managers|
          |HR|Human Resources|
      explode: true
      in: query
      name: position
      required: false
      schema:
        default: CEO
        enum:
        - CHAIR
        - CEO
        - PRES
        - COO
        - CFO
        - CTO
        - CIO
        - FOU
        - CMP
        - ADM
        - IND
        - BRD
        - IR
        - LEG
        - TREAS
        - MKT
        - HR
        example: FOU
        type: string
      style: form
    mbType:
      description: "Search based on the management and board types. The types include\
        \ - \n|type|description|\n|---|---|\n|MB|Management & Board|\n|MGMT|Management|\n\
        |BRD|Board|\n"
      explode: true
      in: query
      name: mbType
      required: false
      schema:
        default: MB
        enum:
        - MB
        - MGMT
        - BRD
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "message" for more details.
    "401":
      content:
        application/json:
          examples:
            Unauthenticated:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Forbidden:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
    "415":
      content:
        application/json:
          examples:
            Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Internal Server Error.
  schemas:
    peopleProfilesRequest:
      properties:
        ids:
          description: |
            FactSet People Entity Ids.
          example:
          - 0DPHLH-E
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
      required:
      - ids
      title: Profiles Request
      type: object
    peopleProfilesResponse:
      example:
        data:
        - primaryTitle: Chief Executive Officer & Director
          lastName: Snow
          factsetName: Philip Snow
          formalName: Frederick Philip Snow
          highestDegree: GRD
          gender: Male
          properName: Snow Frederick Philip CFA
          biography: Frederick Philip Snow is Chief Executive Officer & Director at
            FactSet Research Systems, Inc. He is also on the board of FactSet Systems
            India Pvt Ltd., Quantopian, Inc. and Vermilion Holdings Ltd. and Member
            of CFA Institute. Mr. Snow received an undergraduate degree from the University
            of California, Berkeley and a graduate degree from Thunderbird School
            of Global Management.
          suffix: CFA
          salary: 525846
          primaryCompanyName: FactSet Research Systems, Inc.
          firstName: Frederick
          highestDegreeInst: Thunderbird School of Global Management
          requestId: 0DPHLH-E
          primaryCompanyId: 0016YD-E
          personId: 0DPHLH-E
          middleName: Philip
          salutation: Mr.
          age: 57
          totalCompensation: 4719062
        - primaryTitle: Chief Executive Officer & Director
          lastName: Snow
          factsetName: Philip Snow
          formalName: Frederick Philip Snow
          highestDegree: GRD
          gender: Male
          properName: Snow Frederick Philip CFA
          biography: Frederick Philip Snow is Chief Executive Officer & Director at
            FactSet Research Systems, Inc. He is also on the board of FactSet Systems
            India Pvt Ltd., Quantopian, Inc. and Vermilion Holdings Ltd. and Member
            of CFA Institute. Mr. Snow received an undergraduate degree from the University
            of California, Berkeley and a graduate degree from Thunderbird School
            of Global Management.
          suffix: CFA
          salary: 525846
          primaryCompanyName: FactSet Research Systems, Inc.
          firstName: Frederick
          highestDegreeInst: Thunderbird School of Global Management
          requestId: 0DPHLH-E
          primaryCompanyId: 0016YD-E
          personId: 0DPHLH-E
          middleName: Philip
          salutation: Mr.
          age: 57
          totalCompensation: 4719062
      properties:
        data:
          items:
            $ref: '#/components/schemas/profile'
          type: array
      title: Profiles Response
      type: object
    profile:
      description: Basic information about a person entity.
      example:
        primaryTitle: Chief Executive Officer & Director
        lastName: Snow
        factsetName: Philip Snow
        formalName: Frederick Philip Snow
        highestDegree: GRD
        gender: Male
        properName: Snow Frederick Philip CFA
        biography: Frederick Philip Snow is Chief Executive Officer & Director at
          FactSet Research Systems, Inc. He is also on the board of FactSet Systems
          India Pvt Ltd., Quantopian, Inc. and Vermilion Holdings Ltd. and Member
          of CFA Institute. Mr. Snow received an undergraduate degree from the University
          of California, Berkeley and a graduate degree from Thunderbird School of
          Global Management.
        suffix: CFA
        salary: 525846
        primaryCompanyName: FactSet Research Systems, Inc.
        firstName: Frederick
        highestDegreeInst: Thunderbird School of Global Management
        requestId: 0DPHLH-E
        primaryCompanyId: 0016YD-E
        personId: 0DPHLH-E
        middleName: Philip
        salutation: Mr.
        age: 57
        totalCompensation: 4719062
      properties:
        requestId:
          description: Person identifier used in the request.
          example: 0DPHLH-E
          type: string
        personId:
          description: FactSet Entity Identifier for the Person
          example: 0DPHLH-E
          nullable: true
          type: string
        lastName:
          description: Last Name
          example: Snow
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('LAST_NAME')
        factsetName:
          description: Name
          example: Philip Snow
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('NAME')
        firstName:
          description: First Name
          example: Frederick
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('FIRST_NAME')
        middleName:
          description: Middle Name
          example: Philip
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('MIDDLE_NAME')
        formalName:
          description: Formal Name
          example: Frederick Philip Snow
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('FORMAL_NAME')
        properName:
          description: Proper Name
          example: Snow Frederick Philip CFA
          nullable: true
          type: string
          x-fds-fql-formula: PROPER_NAME
        salutation:
          description: Primary Salutation of Name
          example: Mr.
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON(SALUTATION)
        highestDegree:
          description: The Highest Held Degree Code.
          example: GRD
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('EDU_DEGREE_CODE')
        highestDegreeInst:
          description: The Highest Degree Institution Name.
          example: Thunderbird School of Global Management
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('EDU_INST')
        suffix:
          description: Suffix of Name
          example: CFA
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('SUFFIX')
        age:
          description: Person's age in years.
          example: 57
          format: integer
          nullable: true
          type: number
          x-fds-fql-formula: FPD_PERSON('AGE')
        gender:
          description: Person's Gender.
          example: Male
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('GENDER')
        salary:
          description: Most Recent Salary
          example: 525846
          format: integer
          nullable: true
          type: number
          x-fds-fql-formula: FPD_PERSON('SALARY')
        totalCompensation:
          description: Most Recent Total Compensation
          example: 4719062
          format: integer
          nullable: true
          type: number
          x-fds-fql-formula: FPD_PERSON(TOTAL_COMP)
        primaryCompanyId:
          description: Entity identifier of primary `Company` of employment.
          example: 0016YD-E
          nullable: true
          type: string
        primaryCompanyName:
          description: Name of primary company of employment
          example: FactSet Research Systems, Inc.
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('PRIMARY_CO_NAME')
        primaryTitle:
          description: Title at primary `Company` of employment
          example: Chief Executive Officer & Director
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON(PRIMARY_TITLE)
        biography:
          description: Brief biography of the person requested.
          example: Frederick Philip Snow is Chief Executive Officer & Director at
            FactSet Research Systems, Inc. He is also on the board of FactSet Systems
            India Pvt Ltd., Quantopian, Inc. and Vermilion Holdings Ltd. and Member
            of CFA Institute. Mr. Snow received an undergraduate degree from the University
            of California, Berkeley and a graduate degree from Thunderbird School
            of Global Management.
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON('BIO')
      title: Profile
      type: object
    peopleJobsRequest:
      properties:
        ids:
          description: |
            FactSet People Entity Ids.
          example:
          - 0DPHLH-E
          items:
            type: string
          maxItems: 1000
          minItems: 1
          type: array
        status:
          $ref: '#/components/schemas/status'
        level:
          $ref: '#/components/schemas/level'
        type:
          $ref: '#/components/schemas/type'
      required:
      - ids
      title: Jobs Request
      type: object
    peopleJobsResponse:
      example:
        data:
        - jobEndDate: 0001-01-01T00:00:00.000+0000
          companyCity: Norwalk
          companyId: 0016YD-E
          jobStartDate: 2015-07-01T00:00:00.000+0000
          requestId: 0DPHLH-E
          companyName: FactSet Research Systems, Inc.
          jobTitle: Chief Executive Officer & Director
          jobFunctionCode: CEO
          personId: 0DPHLH-E
          jobFunctionName: Chief Executive Officer
        - jobEndDate: 0001-01-01T00:00:00.000+0000
          companyCity: Norwalk
          companyId: 0016YD-E
          jobStartDate: 2015-07-01T00:00:00.000+0000
          requestId: 0DPHLH-E
          companyName: FactSet Research Systems, Inc.
          jobTitle: Chief Executive Officer & Director
          jobFunctionCode: CEO
          personId: 0DPHLH-E
          jobFunctionName: Chief Executive Officer
      properties:
        data:
          items:
            $ref: '#/components/schemas/job'
          type: array
      title: Jobs Response
      type: object
    job:
      description: Basic information about a person's `Job`.
      example:
        jobEndDate: 0001-01-01T00:00:00.000+0000
        companyCity: Norwalk
        companyId: 0016YD-E
        jobStartDate: 2015-07-01T00:00:00.000+0000
        requestId: 0DPHLH-E
        companyName: FactSet Research Systems, Inc.
        jobTitle: Chief Executive Officer & Director
        jobFunctionCode: CEO
        personId: 0DPHLH-E
        jobFunctionName: Chief Executive Officer
      properties:
        companyCity:
          description: City the job is located in.
          example: Norwalk
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(CITY)
        companyId:
          description: FactSet Identifier for the company.
          example: 0016YD-E
          nullable: true
          type: string
        companyName:
          description: Name of the company.
          example: FactSet Research Systems, Inc.
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(CO_NAME)
        jobEndDate:
          description: Ending date for the Job.
          example: 0001-01-01
          format: date
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(EDATE)
        jobFunctionCode:
          description: Job function code.
          example: CEO
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(JOB_FUNC_CODE)
        jobFunctionName:
          description: Description of the job.
          example: Chief Executive Officer
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(JOB_FUNC_DESC)
        jobStartDate:
          description: Starting date for the Job.
          example: 2015-07-01
          format: date
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(SDATE)
        jobTitle:
          description: Job Title
          example: Chief Executive Officer & Director
          nullable: true
          type: string
          x-fds-fql-formula: FPD_PERSON_JOBS(TITLE)
        personId:
          description: FactSet Entity Identifier for the Person.
          example: 0DPHLH-E
          nullable: true
          type: string
        requestId:
          description: Original identifier used for the request.
          example: 0DPHLH-E
          type: string
      title: Job
      type: object
    companyPeopleRequest:
      properties:
        ids:
          description: |
[...]
