openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: |
    The FactSet Global Prices API provides end of day market pricing content using cloud and microservices technology, encompassing both pricing as well as corporate actions and events data.</p>
  title: FactSet Global Prices API
  version: 1.7.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Get Security Open, High, Low, Close, Volume for a list of ids and date
    range
  name: Prices
- description: Gets the returns data for the list of ids, date range and currency
  name: Returns
paths:
  /factset-global-prices/v1/prices:
    get:
      description: |
        Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade Count, and Turn Over for a specified list of securities, date range, currency, and adjustment factors.
      operationId: getGPDPrices
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
          limit** =  1000 per non-batch request / 2000 per batch request for a single
          day and 50 per multi-day request. The number of unique currencies present
          in the requested ids is limited to 50 per request.*</p> *<p>Make note, GET
          Method URL request lines are also limited to a total length of 8192 bytes
          (8KB). In cases where the service allows for thousands of ids, which may
          lead to exceeding this request line limit of 8KB, it's advised for any requests
          with large request lines to be requested through the respective "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Request available pricing data fields to be included in the response. Default is all fields. All responses will include the _fsymId_, _date_, and _currency_ fields.
            |field|description|
            |---|---|
            |price|Closing Price|
            |priceOpen|Opening Price|
            |priceHigh|High Price|
            |priceLow|Low Price|
            |volume|Volume|
            |turnover|Total Trade Value for the Day|
            |tradeCount|Number of Trades|
            |vwap|Volume Weighted Average Price|
        example:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
        explode: false
        in: query
        name: fields
        required: false
        schema:
          default:
          - price
          - priceOpen
          - priceHigh
          - priceLow
          - volume
          - turnover
          - tradeCount
          - vwap
          - currency
          items:
            type: string
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-08-27
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-08-27
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last\
          \ day of the week of the start date.\n  * **M** = Monthly, based on the\
          \ last trading day of the month.\n  * **AM** = Monthly, based on the start\
          \ date (e.g., if the start date is June 16, data is displayed for June 16,\
          \ May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** =\
          \ Quarterly based on the last trading day of the calendar quarter (March,\
          \ June, September, or December).\n  * **ASA** = Actual Semi-annual\n  *\
          \ **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the\
          \ start date.\n  * **CY** = Calendar Annual, based on the last trading day\
          \ of the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - AD
          - W
          - M
          - AM
          - AQ
          - CQ
          - ASA
          - CSA
          - AY
          - CY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - US
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the split and spinoff adjustments for the prices.\n\
          \  * **SPLIT** = Split ONLY Adjusted. This is used by default.\n  * **SPLIT_SPINOFF**\
          \ = Splits & Spinoff Adjusted.\n  * **UNSPLIT** = No Adjustments.\n  \n"
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          default: SPLIT
          enum:
          - SPLIT
          - SPLIT_SPINOFF
          - UNSPLIT
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It's advised to submit large lists of ids via POST method.
          <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Prices over 1 week period for FDS-US and TSLA-US:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
                Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
          description: Array of Price Objects
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets end-of-day Open, High, Low, Close for a list of securities.
      tags:
      - Prices
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade
        Count, and Turn Over for a specified list of securities, date range, currency,
        and adjustment factors.
      operationId: getSecurityPricesForList
      requestBody:
        content:
          application/json:
            examples:
              One Security(FDS-US) over one year:
                $ref: '#/components/examples/postPrices'
            schema:
              $ref: '#/components/schemas/globalPricesRequest'
        description: Request object for `Prices`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                One Week Prices for Two Securities:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
          description: Array of security prices
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests end-of-day Open, High, Low, Close for a large list of securities.
      tags:
      - Prices
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /factset-global-prices/v1/corporate-actions:
    get:
      description: |
        Gets the Corporate Actions amounts, dates, types, and flags over a specified date range.
        You may request future dates to receive information for declared events.

        Event Categories:
        * __Cash Dividends__ (CASH_DIVS)
          * **DVC** - Dividend
          * **DVCD** - Dividend with DRP Option
          * **DRP** - Dividend Reinvestment
        * __Stock Distributions__ (STOCK_DIST)
          * **DVS** - Stock Dividend
          * **DVSS** - Stock Dividend, Special
          * **BNS** - Bonus Issue
          * **BNSS** - Bonus Issue, Special
        * __Spin Offs__ (SPINOFFS)
          * **SPO** - Spin Off
        * __Rights Issue__ (RIGHTS)
          * **DSR** - Rights Issue
        * __Splits__ (SPLITS)
          * **FSP** - Forward Split
          * **RSP** - Reverse Split
          * **SPL** - Split
          * **EXOS** - Exchange of Securities
      operationId: getGPDCorporateActions
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
          limit** =  50 per both non-batch request and batch request*</p> *<p>Make
          note, GET Method URL request lines are also limited to a total length of
          8192 bytes (8KB). In cases where the service allows for thousands of ids,
          which may lead to exceeding this request line limit of 8KB, it's advised
          for any requests with large request lines to be requested through the respective
          "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Selects the Event Category to include in the response.
            * **CASH_DIVS** = Cash Dividends
            * **STOCK_DIST** = Stock Distributions
            * **SPINOFFS** = Spin Offs
            * **RIGHTS** = Rights Issue
            * **SPLITS** = Splits
            * **ALL** = Returns all Event Types. If left blank the service will default to ALL.
        explode: true
        in: query
        name: eventCategory
        required: false
        schema:
          default: ALL
          enum:
          - CASH_DIVS
          - STOCK_DIST
          - RIGHTS
          - SPINOFFS
          - SPLITS
          - ALL
          type: string
        style: form
      - description: |
          Request available Corporate Actions data fields to be included in the response.
          Default is all fields. _fsymId_, _effectiveDate_, _eventTypeCode_ and _requestId_ are always included.

            |field|description|
            |---|---|
            |fsymId|Factset Regional Security Identifier|
            |eventTypeCode|Character code that denotes the type of event|
            |effectiveDate|The date when security is traded ex-dividend|
            |requestId|Identifier that was used for the request.|

          <h3>Common Fields</h3>
            |field|description|
            |---|---|
            |eventId|Uniquely Identifies the event|
            |eventTypeDesc|Description of the type of event|
            |divTypeCode|Dividend type code. [OA#8764](https://my.apps.factset.com/oa/pages/8764)|
            |announcementDate|Date the event was publicly announced|
            |recordDate|Record date of the event|
            |payDate|Payment date of the event|
          <h3>Dividend Fields</h3>
            |field|description|
            |---|---|
            |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
            |amtDefNetGrossIndicator|Indicates whether the default amount is net or gross. G=Gross; N=Net.|
            |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
            |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
            |amtNetTradingAdj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date.  The value is adjusted for splits.|
            |amtNetTradingUnadj|Net distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
            |amtGrossTradingAdj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
            |amtGrossTradingUnadj|Gross distribution amount in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits.|
            |declaredCurrency|Currency ISO code associated with the declared amount. |
            |amtDefDecAdj|Cash distribution amount (net or gross) in the currency it was declared in. The value is adjusted for splits.|
            |amtDefDecUnadj|Cash distribution amount (net or gross) in the currency it was declared in. The value is not adjusted for splits.|
            |amtNetDecAdj|Net cash distribution amount in the currency it was declared in. The value is adjusted for splits. |
            |amtNetDecUnadj|Net cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
            |amtGrossDecAdj|Gross cash distribution amount in the currency it was declared in. N/A is returned if the gross amount is not available. The value is adjusted for splits.|
            |amtGrossDecUnadj|Gross cash distribution amount in the currency it was declared in. The value is not adjusted for splits.|
            |dividendStatus|Identifies the cancelled dividends status( Active, Cancelled, Postponed, Partial Information) and helps to evaluate their price and portfolio performance.Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
            |dividendActiveFlag|Identifies whether the dividend record is currently active(1) or inactive(0).Its applicable to Dividend(DVC) and Dividend with DRP option(DVCD)|
            |dividendsSpecFlag|Indicates a special price implications exists, which may or may not include special dividends. Indicates whether an adjustment should be made to historical pricing.|
            |dividendFrequencyDesc|Dividend Frequency for different event types in the form of a text as per the descriptions found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
            |dividendFrequencyCode|Dividend Frequency for different event types in the form of a code as per the details found here [OA#8764](https://my.apps.factset.com/oa/pages/8764#Frequency)|
            |frankDefTradingAdj|Split amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
            |frankDefTradingUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the trading currency of the input ID. Amount is translated to the trading currency based on the exchange rate as of the effective date.**Only applicable for Australian Securities**.|
            |frankDefDecAdj|Split amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
            |frankDefDecUnadj|Unsplit amount of dividend that is franked (subject to tax credit). Published in the currency the dividend was declared in.Amount is translated to the trading currency based on the exchange rate as of the effective date. **Only applicable for Australian Securities**.|
            |frankPct|Percent of total dividend that is franked (subject to tax credit). **Only applicable for Australian Securities**.|
            |taxRate|Domestic Withholding Tax Rate for a Resident Individual|
          <h3>Distribution Fields</h3>
            |field|description|
            |---|---|
            |adjFactor|Factor applied to adjust historical prices. Calculation formulas are available on [OA#12619](https://my.apps.factset.com/oa/pages/12619)|
            |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
            |amtDefTradingAdj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is adjusted for splits.|
            |amtDefTradingUnadj|Cash distribution amount (net or gross) in the trading currency of the record. Amount is translated to the trading currency based on the exchange rate as of the effective date. The value is not adjusted for splits. |
            |currency|Currency ISO code associated with distribution amount converted into trading currency of the record.|
            |distPct|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
            |distOldTerm|Component of distribution ratio- Number of shares held.|
            |distNewTerm|Component of distribution ratio - Number of shares received.|
            |rightsIssuePrice|Price of the rights issue. |
            |rightsIssueCurrency|Currency the rights issue price was declared in.|
            |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
          <h3>Splits Fields</h3>
            |field|description|
            |---|---|
            |adjFactor|Distribution percentage of the event  (i.e. 10%). Typical for stock distributions.|
            |adjFactorCombined|Combined adjustment factor for all distribution events on that day.|
            |distOldTerm|Component of distribution ratio- Number of shares held.|
            |distNewTerm|Component of distribution ratio - Number of shares received.|
            |distInstFsymId|Helps to identify an instrument representing the distributed company or security associated with ca event identifier. Its applicable for types like Bonus issue(BNS),Stock dividend(DVS),Rights issue (DSR), and spin off(SPO).|
            |shortDesc|Textual description identifying the event. Example- Split (Mandatory): 3 for 1.|
        examples:
          Dividends Fields:
            $ref: '#/components/examples/DividendsFields'
          Distributions Fields:
            $ref: '#/components/examples/DistributionsFields'
          Splits Fields:
            $ref: '#/components/examples/SplitsFields'
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. In the context of corporate actions, this filters the response to only include events within the date range. The frequency between the startDate and endDate is always set to the "event" frequency- meaning the service will return only events within those inclusive boundaries. Leaving both startDate and endDate blank will pull "all" events for each requested ids.
        example: 2019-01-01
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. In the context of corporate actions, this filters the response to only include events within the date range. The frequency between the startDate and endDate is always set to the "event" frequency- meaning the service will return only events within those inclusive boundaries. Leaving both startDate and endDate blank will pull "all" events for each requested ids.
        example: 2019-12-31
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |
          The cancelled dividend returns the dividend details whether they are cancelled or active.
        example: exclude
        explode: true
        in: query
        name: cancelledDividend
        required: false
        schema:
          default: exclude
          enum:
          - include
          - exclude
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It's advised to submit large lists of ids via POST method.
          <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
              schema:
                $ref: '#/components/schemas/corporateActionsResponse'
          description: Array of security dividend information for a given date range
            and list of securities
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets Corporate Actions information.
      tags:
      - Corporate Actions
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: Gets the Corporate Actions amounts, dates, types, and flags over
        a specified date range. You may request future dates to receive information
        for declared events. <p>**_startDate and endDate are required parameters.
        The input startDate must come before the input endDate._**
      operationId: postCorporateActions
      requestBody:
        content:
          application/json:
            examples:
              One Security(FDS-US) over one year:
                $ref: '#/components/examples/postCorporateActions'
            schema:
              $ref: '#/components/schemas/corporateActionsRequest'
        description: Request object for `Corporate Actions`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Security Spinoffs:
                  $ref: '#/components/examples/DistributionsSpinoff'
                Rights Issue:
                  $ref: '#/components/examples/DistributionsRights'
                Forward Split:
                  $ref: '#/components/examples/SplitsForward'
                Bonus Issue:
                  $ref: '#/components/examples/SplitsBonus'
                Stock Dividend:
                  $ref: '#/components/examples/SplitsDividend'
                Reverse Split:
                  $ref: '#/components/examples/SplitsReverse'
              schema:
                $ref: '#/components/schemas/corporateActionsResponse'
          description: Array of security prices
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Requests Corporate Actions information.
      tags:
      - Corporate Actions
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /factset-global-prices/v1/annualized-dividends:
    get:
      description: |
        Gets the Annualized dividend of the latest reported dividend.
        The annualized dividend calculations does not involve cancelled dividends.
      operationId: getannualizedDividends
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
          limit** =  50 per both non-batch request and batch request*</p> *<p>Make
          note, GET Method URL request lines are also limited to a total length of
          8192 bytes (8KB). In cases where the service allows for thousands of ids,
          which may lead to exceeding this request line limit of 8KB, it's advised
          for any requests with large request lines to be requested through the respective
          "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It's advised to submit large lists of ids via POST method.
          <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Annualized Dividends Response of Apple (AAPL-US):
                  $ref: '#/components/examples/annualizedDividendsResponse'
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
          description: Array of annualized dividend information.
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets Indicated Annualized Dividend information.
      tags:
      - Corporate Actions
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: Gets the Annualized dividend of the latest reported dividend. The
        annualized dividend calculations does not involve cancelled dividends.
      operationId: getannualizedDividendsForList
      requestBody:
        content:
          application/json:
            examples:
              Annualized Dividends Request for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postAnnualizedDividends'
            schema:
              $ref: '#/components/schemas/annualizedDividendsRequest'
        description: Request object for `Annualized Response`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Annualized Dividends Response of Apple (AAPL-US):
                  $ref: '#/components/examples/annualizedDividendsResponse'
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
          description: Array of security prices
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets Indicated Annualized Dividend information.
      tags:
      - Corporate Actions
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /factset-global-prices/v1/returns:
    get:
      description: "Returns for the requested ids and currency for the given dates.\
        \ Depending on the input parameters the return data is provided. \n"
      operationId: getReturns
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
          limit** =  50 per both non-batch request and batch request*</p> *<p>Make
          note, GET Method URL request lines are also limited to a total length of
          8192 bytes (8KB). In cases where the service allows for thousands of ids,
          which may lead to exceeding this request line limit of 8KB, it's advised
          for any requests with large request lines to be requested through the respective
          "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-08-27
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-08-27
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: Currency code for adjusting prices. Default is Local. For a list
          of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last\
          \ day of the week of the start date.\n  * **M** = Monthly, based on the\
          \ last trading day of the month.\n  * **AM** = Monthly, based on the start\
          \ date (e.g., if the start date is June 16, data is displayed for June 16,\
          \ May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** =\
          \ Quarterly based on the last trading day of the calendar quarter (March,\
          \ June, September, or December).\n  * **ASA** = Actual Semi-annual\n  *\
          \ **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the\
          \ start date.\n  * **CY** = Calendar Annual, based on the last trading day\
          \ of the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - AD
          - W
          - M
          - AM
          - AQ
          - CQ
          - ASA
          - CSA
          - AY
          - CY
          type: string
        style: form
      - description: "Controls the dividend reinvestment for the returns calculation.\n\
          \  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple\
          \ Return - Dividends Received on exdate but not reinvested.\n  * **PAYDATE**\
          \ = Simple Return - Dividends Received on paydate but not reinvested.\n\
          \  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.\n\
          \  * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.\n\
          \n  \n"
        explode: true
        in: query
        name: dividendAdjust
        required: false
        schema:
          default: EXDATE_C
          enum:
          - PRICE
          - EXDATE
          - PAYDATE
          - EXDATE_C
          - PAYDATE_C
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It's advised to submit large lists of ids via POST method.
          <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
              schema:
                $ref: '#/components/schemas/returnsResponse'
          description: Array of Returns Objects
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets Returns for a list of `ids` as of given date range.
      tags:
      - Returns
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: Returns for the requested ids and currency for the given dates.
        Depending on the input parameters the return data is provided.
      operationId: getReturnsForList
      requestBody:
        content:
          application/json:
            examples:
              Returns Request over 1 year period for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postReturns'
            schema:
              $ref: '#/components/schemas/returnsRequest'
        description: Request object for `Returns`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
              schema:
                $ref: '#/components/schemas/returnsResponse'
          description: Array of security prices
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets Returns for a list of `ids` as of given date range.
      tags:
      - Returns
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /factset-global-prices/v1/security-shares:
    get:
      description: Returns security level shares outstanding data for the given ids
        and dates. At this time, all values returned are split adjusted.
      operationId: getSharesOutstanding
      parameters:
      - description: The requested list of security identifiers. Accepted ID types
          include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids
          limit** =  50 per both non-batch request and batch request*</p> *<p>Make
          note, GET Method URL request lines are also limited to a total length of
          8192 bytes (8KB). In cases where the service allows for thousands of ids,
          which may lead to exceeding this request line limit of 8KB, it's advised
          for any requests with large request lines to be requested through the respective
          "POST" method.</p>*
        examples:
          oneEquityId:
            summary: One Equity Market Identifier
            value:
            - AAPL-USA
          multipleEquityIds:
            summary: Multiple Equity Market Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-08-27
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          default: 2021-08-27T00:00:00.000Z
          type: string
        style: form
      - description: |
          The end date requested for a given date range in **YYYY-MM-DD** format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.
        example: 2021-08-27
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Controls the display frequency of the data returned.\n  * **D**\
          \ = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last\
          \ day of the week of the start date.\n  * **M** = Monthly, based on the\
          \ last trading day of the month.\n  * **AM** = Monthly, based on the start\
          \ date (e.g., if the start date is June 16, data is displayed for June 16,\
          \ May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** =\
          \ Quarterly based on the last trading day of the calendar quarter (March,\
          \ June, September, or December).\n  * **ASA** = Actual Semi-annual\n  *\
          \ **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the\
          \ start date.\n  * **CY** = Calendar Annual, based on the last trading day\
          \ of the calendar year.\n  \n"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: D
          enum:
          - D
          - AD
          - W
          - M
          - AM
          - AQ
          - CQ
          - ASA
          - CSA
          - AY
          - CY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends.
        example: FIVEDAY
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          - US
          type: string
        style: form
      - description: |
          Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.
          Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It's advised to submit large lists of ids via POST method.
          <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>
        explode: true
        in: query
        name: batch
        required: false
        schema:
          default: "N"
          enum:
          - "Y"
          - "N"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
          description: Array of security shares outstanding information for a given
            date range and list of securities
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/sobadRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/sobadRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/sobadRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/sobadRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/sobadRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/sobadRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/sounauthenticated'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/soforbidden'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/sounsupportedMediaType'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/sonotWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/sogeneralException'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Internal Server Error.
      summary: Gets Shares Outstanding information for securities.
      tags:
      - Shares Outstanding
      x-factset-different-success-responses: true
      x-accepts: application/json
    post:
      description: Returns security level shares outstanding data for the given ids
        and dates. At this time, all values returned are split adjusted.
      operationId: postSharesOutstanding
      requestBody:
        content:
          application/json:
            examples:
              Security Shares Request over 1 year period for one security - FactSet (FDS-US):
                $ref: '#/components/examples/postSecurityShares'
            schema:
              $ref: '#/components/schemas/sharesOutstandingRequest'
        description: Request object for `Shares Outstanding`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
          description: Array of shares outstanding
        "202":
          content:
            application/json:
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: Batch request has been accepted.
          headers:
            Location:
              description: Path to Batch Request status.
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/sobadRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/sobadRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/sobadRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/sobadRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/sobadRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/sobadRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/sounauthenticated'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/soforbidden'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/sounsupportedMediaType'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/sonotWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/sogeneralException'
              schema:
                $ref: '#/components/schemas/soErrorResponse'
          description: Internal Server Error.
      summary: Gets Shares Outstanding information for securities.
      tags:
      - Shares Outstanding
      x-factset-different-success-responses: true
      x-contentType: application/json
      x-accepts: application/json
  /factset-global-prices/v1/batch-status:
    get:
      deprecated: false
      description: Return the status for the underlying batch request that is specified
        by the id.
      operationId: getBatchStatus
      parameters:
      - allowEmptyValue: false
        description: Batch Request identifier.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: The batch Request has been completed and the response has been
            created.
          headers:
            Location:
              description: Path to Batch Request result.
              example: batch-result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              explode: false
              schema:
                type: string
              style: simple
        "202":
          content:
            application/json:
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: The batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              examples:
                Batch Request Not Found:
                  $ref: '#/components/examples/batchNotFound'
              schema:
                $ref: '#/components/schemas/batchErrorResponse'
          description: Resource not found.
      summary: |
        Returns the status for a Batch Request
      tags:
      - Batch Processing
      x-accepts: application/json
  /factset-global-prices/v1/batch-result:
    get:
      deprecated: false
      description: |
        Returns the response data for the underlying batch request that is specified by the id.

        By default, this endpoint will return data as JSON. If you wish to receive your data in CSV format, you can edit the header to have the "accept" parameter as "text/csv" instead of "application/json".
      operationId: getBatchData
      parameters:
      - allowEmptyValue: false
        description: Batch Request identifier.
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                One Week Prices for Two Securities Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
                Corporate Actions Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Annualized Dividends:
                  $ref: '#/components/examples/annualizedDividendsResponse'
                Security Shares:
                  $ref: '#/components/examples/sharesOutstanding'
              schema:
                $ref: '#/components/schemas/batchResultResponse'
          description: Request Response Object when the batch request has been completed
            and the response is created
        "202":
          content:
            application/json:
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
          description: The batch Request has not finished and the result has NOT been
            created.
        "404":
          content:
            application/json:
              examples:
                Batch Request Not Found:
                  $ref: '#/components/examples/batchNotFound'
              schema:
                $ref: '#/components/schemas/batchErrorResponse'
          description: Resource not found.
      summary: |
        Returns the response for a Batch Request
      tags:
      - Batch Processing
      x-factset-different-success-responses: true
      x-accepts: application/json
components:
  examples:
    postSecurityShares:
      summary: Security Shares Request over 1 year period for FDS-US
      value:
        data:
          ids:
          - FDS-US
          startDate: 2020-06-30
          endDate: 2021-06-30
          frequency: M
          calendar: FIVEDAY
          batch: "N"
    DividendsFields:
      summary: Dividends Fields
      value:
      - currency
      - amtDefTradingAdj
      - taxRate
      - shortDesc
    SplitsFields:
      summary: Splits Fields
      value:
      - adjFactor
      - shortDesc
    DistributionsFields:
      summary: Distribtuions Fields
      value:
      - distPct
      - shortDesc
    GlobalPricesResponseAll:
      summary: Prices over 1 week period for FDS-US and TSLA-US
      value:
        data:
        - volume: 157303
          date: 2021-08-23
          priceLow: 366.45
          tradeCount: 5865
          requestId: FDS-USA
          price: 366.61
          vwap: 368.351679
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 370.06
          priceHigh: 372.23
          turnover: 57958.674978
        - volume: 113627
          date: 2021-08-24
          priceLow: 365.4659
          tradeCount: 4288
          requestId: FDS-USA
          price: 367.64
          vwap: 368.081635
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 366.5
          priceHigh: 370.1
          turnover: 41839.970284
        - volume: 195053
          date: 2021-08-25
          priceLow: 370.11
          tradeCount: 5900
          requestId: FDS-USA
          price: 376
          vwap: 375.038196
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 375
          priceHigh: 376.3
          turnover: 73123.855946
        - volume: 124169
          date: 2021-08-26
          priceLow: 373.12
          tradeCount: 6150
          requestId: FDS-USA
          price: 374.01
          vwap: 374.475431
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 375.55
          priceHigh: 375.78
          turnover: 46499.419473
        - volume: 148418
          date: 2021-08-27
          priceLow: 373.01
          tradeCount: 4603
          requestId: FDS-USA
          price: 376.58
          vwap: 376.852769
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 375.56
          priceHigh: 379.83
          turnover: 55944.725964
        - volume: 4594319
          date: 2021-08-23
          priceLow: 680.77
          tradeCount: 117486
          requestId: TSLA
          price: 706.3
          vwap: 703.466057
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 685
          priceHigh: 712.06
          turnover: 3231982.61276
        - volume: 2749510
          date: 2021-08-24
          priceLow: 702.68
          tradeCount: 77318
          requestId: TSLA
          price: 708.49
          vwap: 708.370904
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 710.66
          priceHigh: 715.22
          turnover: 1947249.860375
        - volume: 2916454
          date: 2021-08-25
          priceLow: 704.07
          tradeCount: 77972
          requestId: TSLA
          price: 711.2
          vwap: 711.720995
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 706.73
          priceHigh: 716.9
          turnover: 2075838.531845
        - volume: 3044656
          date: 2021-08-26
          priceLow: 697.68
          tradeCount: 89432
          requestId: TSLA
          price: 701.16
          vwap: 704.739009
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 708.4
          priceHigh: 715.4
          turnover: 2146476.51359
        - volume: 3442269
          date: 2021-08-27
          priceLow: 702.22
          tradeCount: 89171
          requestId: TSLA
          price: 711.92
          vwap: 710.596056
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 705.41
          priceHigh: 714.99
          turnover: 2446231.2914
    GlobalPricesResponsePricesOnly:
      summary: Prices of FDS-US filtered to only return "price" field with dates
      value:
        data:
        - date: 2021-08-23
          requestId: FDS-USA
          price: 366.61
          fsymId: SQFMK3-R
          currency: USD
        - date: 2021-08-24
          requestId: FDS-USA
          price: 367.64
          fsymId: SQFMK3-R
          currency: USD
        - date: 2021-08-25
          requestId: FDS-USA
          price: 376
          fsymId: SQFMK3-R
          currency: USD
        - date: 2021-08-26
          requestId: FDS-USA
          price: 374.01
          fsymId: SQFMK3-R
          currency: USD
        - date: 2021-08-27
          requestId: FDS-USA
          price: 376.58
          fsymId: SQFMK3-R
          currency: USD
    OrdinaryDividends:
      summary: Corporate Actions Ordinary Dividends (DVC)
      value:
        data:
        - fsymId: T0JRMW-R
          eventId: NQTVZK-A
          eventTypeCode: DVC
          eventTypeDesc: Dividend
          divTypeCode: "1"
          announcementDate: 2021-02-18
          recordDate: 2021-04-21
          payDate: 2021-04-20
          effectiveDate: 2021-04-19
          currency: CHF
          amtDefNetGrossIndicator: G
          amtDefTradingAdj: 2.75
          amtDefTradingUnadj: 2.75
          amtNetTradingAdj: 1.7875
          amtNetTradingUnadj: 1.7875
          amtGrossTradingAdj: 2.75
          amtGrossTradingUnadj: 2.75
          currencyDeclared: CHF
          amtDefDecAdj: 2.75
          amtDefDecUnadj: 2.75
          amtNetDecAdj: 1.7875
          amtNetDecUnadj: 1.7875
          amtGrossDecAdj: 2.75
          amtGrossDecUnadj: 2.75
          dividendsSpecFlag: 0
          taxRate: 35
          requestId: NESN-CH
        - fsymId: V5W2SX-R
          eventId: NQTVZK-A
          eventTypeCode: DVC
          eventTypeDesc: Dividend
          divTypeCode: "1"
          announcementDate: 2021-02-18
          recordDate: 2021-04-21
          payDate: 2021-04-20
          effectiveDate: 2021-04-19
          currency: USD
          amtDefNetGrossIndicator: G
          amtDefTradingAdj: 3.003987
          amtDefTradingUnadj: 3.003987
          amtNetTradingAdj: 1.952592
          amtNetTradingUnadj: 1.952592
          amtGrossTradingAdj: 3.003987
          amtGrossTradingUnadj: 3.003987
          currencyDeclared: CHF
          amtDefDecAdj: 2.75
          amtDefDecUnadj: 2.75
          amtNetDecAdj: 1.7875
          amtNetDecUnadj: 1.7875
          amtGrossDecAdj: 2.75
          amtGrossDecUnadj: 2.75
          dividendsSpecFlag: 0
          taxRate: 35
          requestId: V5W2SX-R
    DistributionsSpinoff:
      summary: Security Spin Offs
      value:
        data:
        - fsymId: WFJYTJ-R
          eventId: MGNWXJ-A
          eventTypeCode: SPO
          eventTypeDesc: Spin off
          announcementDate: null
          payDate: 2019-02-25
          recordDate: 2019-02-14
          effectiveDate: 2019-02-26
          adjFactor: 0.961251
          adjFactorComnined: 0.961251
          amtDefTradingAdj: 0.41926
          amtDefTradingUnadj: 0.41926
          currency: USD
          distRatio: null
          distNewTerm: 0.005371
          distOldTerm: 1
          rightsIssueCurrency: null
          rightsIssuePrice: null
          shortDesc: |
            Spin off (Company): For every 1 share held of General Electric Co. (CUSIP: 369604103; SEDOL: 2380498), receive 0.005371 share of Wabtec Rg (CUSIP: 929740108; SEDOL: 2955733)
          requestId: GE-US
        - fsymId: JQZCQT-R
          eventId: MS6X2Y-A
          eventTypeCode: SPO
          eventTypeDesc: Spin off
          announcementDate: null
          payDate: null
          recordDate: null
          effectiveDate: 2018-03-27
          adjFactor: 0.859805
          adjFactorComnined: 0.997374
          amtDefTradingAdj: 1.08634
          amtDefTradingUnadj: 1.08634
          currency: GBP
          distRatio: null
          distNewTerm: 1
          distOldTerm: 1
          rightsIssueCurrency: null
          rightsIssuePrice: null
          shortDesc: |
            Spin off: For every 1 share held of Great Portland Estates plc (CUSIP: G40712211; SEDOL: BF5H9P8), receive 1 share of Great Portland Estates PLC R.E.I.T.
          requestId: GPOR-GB
    DistributionsRights:
      summary: Rights Distributions
      value:
        data:
        - fsymId: B01HJ2-R
          eventId: HP3BNY-A
          eventTypeCode: DSR
          eventTypeDesc: Rights Issue
          announcementDate: null
          payDate: 2021-05-10
          recordDate: 2021-04-08
          effectiveDate: 2021-04-07
          adjFactor: null
          adjFactorComnined: null
          amtDefTradingAdj: null
          amtDefTradingUnadj: null
          currency: null
          distRatio: null
          distNewTerm: 6
          distOldTerm: 1
          rightsIssueCurrency: AUD
          rightsIssuePrice: 0.005
          shortDesc: 1 new share @ 0.005 AUD for 6 existing shares
          requestId: -US
        - fsymId: B01HJ2-R
          eventId: HP3BNY-A
          eventTypeCode: DSR
          eventTypeDesc: Rights Issue
          announcementDate: null
          payDate: 2020-09-25
          recordDate: 2020-08-31
          effectiveDate: 2020-08-28
          adjFactor: null
          adjFactorComnined: null
          amtDefTradingAdj: null
          amtDefTradingUnadj: null
          currency: null
          distRatio: null
          distNewTerm: null
          distOldTerm: null
          rightsIssueCurrency: AUD
          rightsIssuePrice: 0.05
          shortDesc: 'Rights Issue(Renounceable):  new share @ 0.05 AUD for  existing
            share'
          requestId: GE-US
    SplitsForward:
      summary: Forward Split
      value:
        data:
        - fsymId: MH33D6-R
          eventId: W0QQDY-A
          eventTypeCode: FSP
          eventTypeDesc: Forward Split
          announcementDate: null
          recordDate: 2020-08-24
          payDate: 2020-08-28
          effectiveDate: 2020-08-31
          adjustmentFactor: 0.25
          adjustmentFactorCombined: 0.25
          distRatioPercentRate: null
          distOldTerm: 1
          distNewTerm: 4
          rightsIssueCurrency: null
          rightsIssuePrice: null
          shortDesc: 'Forward Split(Mandatory): 4 for 1'
          requestId: AAPL-US
    SplitsBonus:
      summary: Bonus Issue
      value:
        data:
[...]
