openapi: 3.0.1
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: APIs that leverage Natural Language Processing to help extract meaningful
    data from unstructured text
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Natural Language Processing API
  version: 1.4.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/natural-language-processing-api
servers:
- url: https://api.factset.com/cognitive/nlp/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: AI Themes
- name: Named Entity Recognition
paths:
  /themes:
    post:
      description: Endpoint to extract themes from provided text. Optionally, can
        include sentiment for each theme extracted. Please check the schema(s) for
        each of the status codes for more details.
      operationId: themesExtractThemes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemesParametersRoot'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRoot'
          description: Accepted
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: The browser (or proxy) sent a request that this server could
            not understand.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: The server could not verify that you are authorized to access
            the URL requested. You either supplied the wrong credentials (e.g. a bad
            password), or your browser doesn't understand how to supply the credentials
            required.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: The server encountered an internal error and was unable to
            complete your request. Either the server is overloaded or there is an
            error in the application.
      summary: Endpoint to begin theme extraction job
      tags:
      - AI Themes
      x-contentType: application/json
      x-accepts: application/json
  /themes/{id}:
    get:
      description: Endpoint to obtain the results from the original themes task request.
        The `id` parameter represents the identifier of the task generated from the
        POST request which created the task. Once the task is complete, the result
        can be fetched with this endpoint.
      operationId: themesGetThemes
      parameters:
      - description: Long running task identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeSentimentsRoot'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRoot'
          description: Accepted
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: 'description: The requested URL was not found on the server.
            If you entered the URL manually please check your spelling and try again.'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: The server encountered an internal error and was unable to
            complete your request. Either the server is overloaded or there is an
            error in the application.
      summary: Endpoint to get a theme (and sentiments if requested) job result
      tags:
      - AI Themes
      x-accepts: application/json
  /themes/{id}/status:
    get:
      description: Endpoint to obtain the completion status of the themes task request.
        The `id` parameter represents the task.
      operationId: themesGetStatus
      parameters:
      - description: Long running task identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRoot'
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRoot'
          description: Accepted
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: 'description: The requested URL was not found on the server.
            If you entered the URL manually please check your spelling and try again.'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: The server encountered an internal error and was unable to
            complete your request. Either the server is overloaded or there is an
            error in the application.
      summary: Endpoint to get the completion status of a themes job
      tags:
      - AI Themes
      x-accepts: application/json
  /ner/entities:
    post:
      description: Detect entities (People, Places, Organizations, etc.) in plain
        text
      operationId: nerEntities
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NERInputSchema'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NERResponseSchema'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPErrorRoot'
          description: Validation error
      summary: Endpoint to detect entities from text
      tags:
      - Named Entity Recognition
      x-contentType: application/json
      x-accepts: application/json
components:
  headers:
    Location:
      description: The `Location` response header indicates the URL to redirect a
        page to.
      explode: false
      schema:
        type: string
      style: simple
  parameters:
    id:
      description: Long running task identifier
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
  responses:
    "202":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskRoot'
      description: Accepted
      headers:
        Location:
          $ref: '#/components/headers/Location'
    "400":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPErrorRoot'
      description: The browser (or proxy) sent a request that this server could not
        understand.
    "401":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPErrorRoot'
      description: The server could not verify that you are authorized to access the
        URL requested. You either supplied the wrong credentials (e.g. a bad password),
        or your browser doesn't understand how to supply the credentials required.
    "404":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPErrorRoot'
      description: 'description: The requested URL was not found on the server. If
        you entered the URL manually please check your spelling and try again.'
    "500":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPErrorRoot'
      description: The server encountered an internal error and was unable to complete
        your request. Either the server is overloaded or there is an error in the
        application.
  schemas:
    ErrorSource:
      description: Schema that defines the source of the error.
      properties:
        parameter:
          description: A string indicating which path or URI query parameter caused
            the error.
          type: string
        pointer:
          description: More details pointing to the error.
          type: string
      required:
      - parameter
      - pointer
      type: object
    HTTPError:
      description: Schema that defines HTTP error(s).
      properties:
        code:
          description: HTTP Status Code
          type: string
        detail:
          description: Error detail (if any)
          type: string
        id:
          description: The unique identifier detailing the error(s)
          format: uuid
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
        title:
          description: Error title
          type: string
      required:
      - code
      - id
      - title
      type: object
    HTTPErrorRoot:
      description: Schema that defines HTTP error(s).
      properties:
        errors:
          description: List of errors
          items:
            $ref: '#/components/schemas/HTTPError'
          type: array
      required:
      - errors
      type: object
    Task:
      description: Schema that represents a long-running process/task.
      example:
        startedAt: 2022-10-31T16:31:30.423086Z
        id: ca509a4a-2ec9-4770-817a-f1caac18c95c
        status: queued
      properties:
        id:
          description: The task identifier
          example: ca509a4a-2ec9-4770-817a-f1caac18c95c
          format: uuid
          type: string
        startedAt:
          description: The date time the task started (UTC).
          example: 2022-10-31T16:31:30.423086Z
          format: date-time
          type: string
        status:
          description: |2-

            Completion status of the task.

            The detailed description of each of the statuses is as follows:
            |Status|Description|
            |--------|--------|
            |queued|The task did not start yet.|
            |created|The task is completed and the underlying resource is created.|
            |failed|The task has failed and consequently the creation of the resource failed.|
            |executing|The task is executing.|
            |cancelled|The task is cancelled and the creation of the underlying resource was cancelled before it could finish.|
          enum:
          - queued
          - created
          - failed
          - executing
          - cancelled
          example: queued
          type: string
      required:
      - id
      - startedAt
      - status
      type: object
    TaskRoot:
      description: Schema that envelopes `Task` and include additional `meta` (if
        available).
      example:
        data:
          startedAt: 2022-10-31T16:31:30.423086Z
          id: ca509a4a-2ec9-4770-817a-f1caac18c95c
          status: queued
        meta: '{}'
      properties:
        data:
          $ref: '#/components/schemas/Task'
        meta:
          description: Any associated metadata
          type: object
      required:
      - data
      type: object
    ThemeSentiment:
      description: Schema that defines the extracted theme and the corresponding sentiments
      example:
        sentiment: positive
        sentimentScore: 0.9900231957
        themeScore: 0.88
        themeText: home entertainment results
      properties:
        sentiment:
          description: The sentiment of the theme.
          enum:
          - positive
          - negative
          - neutral
          example: positive
          type: string
        sentimentScore:
          description: Confidence score of the sentiment
          example: 0.9900231957
          type: number
        themeScore:
          description: The confidence score associated to the theme
          example: 0.88
          type: number
        themeText:
          description: The extracted theme as text
          example: home entertainment results
          type: string
      required:
      - themeScore
      - themeText
      type: object
    ThemeSentimentsRoot:
      description: Schema that envelopes the `ThemeSentiment` and include additional
        `meta` (if available).
      example:
        data:
        - sentiment: positive
          sentimentScore: 0.9900231957
          themeScore: 0.88
          themeText: home entertainment results
        - sentiment: positive
          sentimentScore: 0.9900231957
          themeScore: 0.88
          themeText: home entertainment results
        meta: '{}'
      properties:
        data:
          description: List of themes and their respective sentiments
          items:
            $ref: '#/components/schemas/ThemeSentiment'
          type: array
        meta:
          description: Any associated metadata
          type: object
      required:
      - data
      type: object
    ThemesParameters:
      description: Schema that defines the parameters needed to extract themes.
      example:
        includeSentiments: false
        text: 'Studio Entertainment: At Studio Entertainment, operating income decreased
          in the quarter due to lower theatrical distribution and home entertainment
          results. Worldwide theatrical results continued to be adversely impacted
          by COVID-19, as theaters were closed in many key markets both domestically
          and internationally. With no significant worldwide theatrical releases in
          the quarter, we faced a difficult comparison against the strong performance
          of The Lion King and Toy Story 4 in the prior-year quarter. Operating Results:
          On our last earnings call, we said that we expected Q4 operating results
          of our DTC businesses to improve by approximately $100mm relative to the
          prior-year quarter. Our results came in better than that guidance, with
          operating income at our DTC businesses improving by approximately $300mm
          vs. the prior year due to better-than-expected performance across all three
          of our streaming services. I will note that we do not plan to further update
          any of our subscriber numbers until our Investor Day on December 10 At our
          International Channels, lower results were due to lower affiliate and advertising
          revenues, partially offset by a decrease in cost.'
      properties:
        includeSentiments:
          description: Boolean flag indicating inclusion of sentiment for each theme.
          example: false
          type: boolean
        text:
          description: The text input that provides the context
          example: 'Studio Entertainment: At Studio Entertainment, operating income
            decreased in the quarter due to lower theatrical distribution and home
            entertainment results. Worldwide theatrical results continued to be adversely
            impacted by COVID-19, as theaters were closed in many key markets both
            domestically and internationally. With no significant worldwide theatrical
            releases in the quarter, we faced a difficult comparison against the strong
            performance of The Lion King and Toy Story 4 in the prior-year quarter.
            Operating Results: On our last earnings call, we said that we expected
            Q4 operating results of our DTC businesses to improve by approximately
            $100mm relative to the prior-year quarter. Our results came in better
            than that guidance, with operating income at our DTC businesses improving
            by approximately $300mm vs. the prior year due to better-than-expected
            performance across all three of our streaming services. I will note that
            we do not plan to further update any of our subscriber numbers until our
            Investor Day on December 10 At our International Channels, lower results
            were due to lower affiliate and advertising revenues, partially offset
            by a decrease in cost.'
          maxLength: 10000
          minLength: 1
          type: string
      required:
      - includeSentiments
      - text
      type: object
    ThemesParametersRoot:
      description: Schema that envelopes the `ThemesParameters` and include additional
        `meta` (if available).
      example:
        data:
          includeSentiments: false
          text: 'Studio Entertainment: At Studio Entertainment, operating income decreased
            in the quarter due to lower theatrical distribution and home entertainment
            results. Worldwide theatrical results continued to be adversely impacted
            by COVID-19, as theaters were closed in many key markets both domestically
            and internationally. With no significant worldwide theatrical releases
            in the quarter, we faced a difficult comparison against the strong performance
            of The Lion King and Toy Story 4 in the prior-year quarter. Operating
            Results: On our last earnings call, we said that we expected Q4 operating
            results of our DTC businesses to improve by approximately $100mm relative
            to the prior-year quarter. Our results came in better than that guidance,
            with operating income at our DTC businesses improving by approximately
            $300mm vs. the prior year due to better-than-expected performance across
            all three of our streaming services. I will note that we do not plan to
            further update any of our subscriber numbers until our Investor Day on
            December 10 At our International Channels, lower results were due to lower
            affiliate and advertising revenues, partially offset by a decrease in
            cost.'
        meta: '{}'
      properties:
        data:
          $ref: '#/components/schemas/ThemesParameters'
        meta:
          description: Any associated metadata
          type: object
      required:
      - data
      type: object
    NERResponseSchema:
      example:
        data:
          entities:
          - lookupUrl: https://....
            startChar: 5
            lookupText: FactSet Research Systems
            endChar: 11
            entityId: 0016YD-E
            text: FactSet
            associatedOrgs:
            - lookupUrl: https://....
              name: FactSet Research Systems
              entityId: 0016YD-E
            - lookupUrl: https://....
              name: FactSet Research Systems
              entityId: 0016YD-E
            type: NE_ORG
          - lookupUrl: https://....
            startChar: 5
            lookupText: FactSet Research Systems
            endChar: 11
            entityId: 0016YD-E
            text: FactSet
            associatedOrgs:
            - lookupUrl: https://....
              name: FactSet Research Systems
              entityId: 0016YD-E
            - lookupUrl: https://....
              name: FactSet Research Systems
              entityId: 0016YD-E
            type: NE_ORG
        meta: '{}'
      properties:
        data:
          $ref: '#/components/schemas/NEREntityList'
        meta:
          description: Any associated metadata
          type: object
      type: object
    NEREntity:
      example:
        lookupUrl: https://....
        startChar: 5
        lookupText: FactSet Research Systems
        endChar: 11
        entityId: 0016YD-E
        text: FactSet
        associatedOrgs:
        - lookupUrl: https://....
          name: FactSet Research Systems
          entityId: 0016YD-E
        - lookupUrl: https://....
          name: FactSet Research Systems
          entityId: 0016YD-E
        type: NE_ORG
      properties:
        associatedOrgs:
          description: Organizations that are associated with this entity
          items:
            $ref: '#/components/schemas/NEROrganization'
          title: Associated Organizations
          type: array
        endChar:
          description: The index of the last character of the entity text
          example: 11
          title: End Character
          type: integer
        entityId:
          description: The FactSet Entity ID that is linked to this text.
          example: 0016YD-E
          title: Entity ID
          type: string
        lookupText:
          description: Name of the FactSet entity that is linked to this text.
          example: FactSet Research Systems
          title: Lookup Text
          type: string
        lookupUrl:
          description: A link to the information page for the given entity
          example: https://....
          title: Lookp URL
          type: string
        startChar:
          description: The index of the starting character of the entity text
          example: 5
          title: Start Character
          type: integer
        text:
          description: The substring of the source text that ws found as an entity
          example: FactSet
          title: Text
          type: string
        type:
          description: The type of entity (organization, person, etc.) that was found
          enum:
          - NE_GPE
          - NE_ORG
          - NE_PERSON
          - NE_NUMBER
          - NE_MONEY
          - NE_DATETIME
          - NE_DRUG
          - NE_HEALTH_INDICATION
          example: NE_ORG
          title: Type
          type: string
      required:
      - endChar
      - startChar
      - text
      - type
      type: object
    NERInputDataSchema:
      example:
        enableIdLookup: true
        filterEntities: true
        text: Phil Snow is the CEO of FactSet Research Systems Inc. (NYSE:FDS), with
          its headquarter at NORWALK, Conn., Sept. 22, 2015 (GLOBE NEWSWIRE).
      properties:
        enableIdLookup:
          description: Retrieve Entity IDs using FactSet concordance systems.
          title: Enable Entity ID Lookup
          type: boolean
        filterEntities:
          description: Drop potentially spurious entities based on filtering rules
          title: Filter Entities
          type: boolean
        text:
          description: English plain-text from which entities should be retrieved
          example: Phil Snow is the CEO of FactSet Research Systems Inc. (NYSE:FDS),
            with its headquarter at NORWALK, Conn., Sept. 22, 2015 (GLOBE NEWSWIRE).
          title: Text
          type: string
      required:
      - text
      type: object
    NERInputSchema:
      example:
        data:
          enableIdLookup: true
          filterEntities: true
          text: Phil Snow is the CEO of FactSet Research Systems Inc. (NYSE:FDS),
            with its headquarter at NORWALK, Conn., Sept. 22, 2015 (GLOBE NEWSWIRE).
      properties:
        data:
          $ref: '#/components/schemas/NERInputDataSchema'
      type: object
    NEROrganization:
      example:
        lookupUrl: https://....
        name: FactSet Research Systems
        entityId: 0016YD-E
      properties:
        entityId:
          description: The FactSet Entity ID that is linked to this organization.
          example: 0016YD-E
          title: Entity ID
          type: string
        lookupUrl:
          description: A link to the information page for the given organization
          example: https://....
          title: Lookp URL
          type: string
        name:
          description: The name this organization.
          example: FactSet Research Systems
          title: Name
          type: string
      type: object
    NEREntityList:
      example:
        entities:
        - lookupUrl: https://....
          startChar: 5
          lookupText: FactSet Research Systems
          endChar: 11
          entityId: 0016YD-E
          text: FactSet
          associatedOrgs:
          - lookupUrl: https://....
            name: FactSet Research Systems
            entityId: 0016YD-E
          - lookupUrl: https://....
            name: FactSet Research Systems
            entityId: 0016YD-E
          type: NE_ORG
        - lookupUrl: https://....
          startChar: 5
          lookupText: FactSet Research Systems
          endChar: 11
          entityId: 0016YD-E
          text: FactSet
          associatedOrgs:
          - lookupUrl: https://....
            name: FactSet Research Systems
            entityId: 0016YD-E
          - lookupUrl: https://....
            name: FactSet Research Systems
            entityId: 0016YD-E
          type: NE_ORG
      properties:
        entities:
          items:
            $ref: '#/components/schemas/NEREntity'
          type: array
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

