openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: 'The BookBuilder API is a powerful tool that combines detailed reports
    for companies of interest. Save time by using a single source of knowledge instead
    of relying on multiple APIs to create a presentation ready PDF, also known as
    a Public Information Book(PIB). </br></br> Consistently create books with the
    same content/reports for different companies by defining templates with the set
    of reports saved for re-use. Or, use templates that are created by FactSet for
    quick use. </br></br> With our powerful API endpoints, you can get the information
    on companies of interest quickly where and when you need it. </br></br> '
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: BookBuilder
  version: 1.13.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/bookbuilder-api
servers:
- description: Base URL Production
  url: https://api.factset.com/book-builder-api/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Templates - Fetch
- name: Templates - Creation
- name: Books - Creation
- name: Books - Fetch
- name: Custom Documents - Upload
- name: Custom Documents - Fetch
paths:
  /book-list:
    get:
      description: Retrieves the list of books that were previously created and are
        available in the client's book library
      operationId: getBookList
      responses:
        "200":
          content:
            application/json:
              example:
              - bookID: "20200623094829447"
                book_name: Financials
                created_on: 2020-06-23 09:48:29
              schema:
                $ref: '#/components/schemas/Enable_BookList_Info'
          description: Successful response contains book name, book ID, created date,
            shared status of the book and book type
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or Invalid authentication
      summary: Check out the books that are in the book library
      tags:
      - Books - Fetch
      x-accepts: application/json
  /template-list:
    get:
      description: A template is a predefined list of content to be compiled in a
        PDF. This end point works without any parameters and retrieves the list of
        templates available for the user. Templates need to defined/created in FactSet
        workstation.
      operationId: getTemplateList
      responses:
        "200":
          content:
            application/json:
              example:
              - template_id: "20200623094829447"
                template_name: Financials
                created_on: 2020-6-23 09:48:54
                template_source: own_template
                type: Public
              schema:
                $ref: '#/components/schemas/Enable_Template_Info'
          description: Successful response contains an array with template name, template
            ID, created date, template source and template type
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
      summary: Retrieves the list of templates that are available
      tags:
      - Templates - Fetch
      x-accepts: application/json
  /create-template:
    post:
      description: This end point retrieves template name and template_id of the template
        you create. All the book options such as name of the template, type, and reports
        can be specified in the request body. Please refer to the documentation for
        valid section ids and report ids.
      operationId: createTemplate
      requestBody:
        content:
          application/json:
            example:
              tmpl_name: Quick Financials
              tmpl_type: public
              content:
              - section_id: COMPANY_OVERVIEW
                reports:
                - COMPANY_SNAPSHOT_IB
                - COMPANY_SNAPSHOT_IM
                - ENTITY_STRUCTURE
                - SNP_REPORT
            schema:
              $ref: '#/components/schemas/createTemplatePostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                tmpl_id: "20200623094829447"
                tmpl_name: Financials
              schema:
                $ref: '#/components/schemas/Enable_Template_Info_Post'
          description: Successful response contains book name and book ID
        "400":
          content:
            application/json:
              example:
                message: Template name already exists. Please select a different name.
              schema:
                $ref: '#/components/schemas/Invalid_Template_Request'
          description: Invalid template type/section_id/report_id
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
      summary: Kick off request to create template with reports of your choice
      tags:
      - Templates - Creation
      x-contentType: application/json
      x-accepts: application/json
  /create-book:
    post:
      description: This end point retrieves book name and book_id for the PDF book
        you create. All the book options such as name of the book, ticker, pagination
        options, and reports can be specified in the request body. Please refer to
        the documentation for valid section ids and report ids.
      operationId: createBook
      requestBody:
        content:
          application/json:
            example:
              book_name: Company Book for FDS
              ticker: FDS-US
              pagination:
                cover: true
                divider: true
                toc: true
                footer: true
                timestamp: false
              content:
              - section_id: COMPANY_OVERVIEW
                reports:
                - COMPANY_SNAPSHOT_IB
                - COMPANY_SNAPSHOT_IM
                - ENTITY_STRUCTURE
            schema:
              $ref: '#/components/schemas/createBookPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                book_name: Apple Inc.
                book_id: "20200317133713794"
                estimated_time: 240
              schema:
                $ref: '#/components/schemas/Enable_Book_Info'
          description: Successful response contains book name and book ID
        "400":
          content:
            application/json:
              example:
                message: Please input a valid ticker for Public Company/Private Company/Private
                  Equity/Fixed Income/MutualFund/ETF/Holder to build Book.
              schema:
                $ref: '#/components/schemas/Invalid_Create_Book_Request'
          description: Invalid ticker/section_id/report_id
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
      summary: Kicks off request to create a book with reports of your choice
      tags:
      - Books - Creation
      x-contentType: application/json
      x-accepts: application/json
  /create-book-from-template:
    post:
      description: This endpoint retrieves book status, book name, and book ID for
        ticker requested in JSON format. This end-point excepts ticker and template_id
        as inputs. If the template_id input is not used, a book will be created with
        FactSet's default template.</br></br>Please try out the below template ids
        to quickly get the FactSet curated books</br></br>Company Quick Book - <b>g_20210415065838185</b></br>Post-Earnings
        Call - <b>g_20210415070044785</b> </br>Public Information Book(PIB) - <b>g_20210415070353151</b></br></br>
        Take a look at the example books attached under API documentation below.</br></br>If
        you are scheduling Post Earnings Call curated book, please note that in contains
        Corrected Transcript that takes a little while to be available.</br> </br>Once
        a Raw Transcript is published, FactSet's editors review the call to produce
        a Corrected Transcript. They listen to the entire audio file again to confirm
        that all of the terms and numbers are correctly transcribed. FactSet aims
        to publish a Corrected Transcript within six times the length of the event,
        measured from the beginning of the event. That means for a typical one-hour
        call, FactSet will produce a Corrected Transcript within approximately five
        hours of the call's completion. Visit [OA 13208](https://my.apps.factset.com/oa/pages/13208)
      operationId: createBookFromTemplate
      requestBody:
        content:
          application/json:
            example:
              ticker: FDS-US
              template_id: g_20210415065838185
            schema:
              $ref: '#/components/schemas/createBookFromTemplatePostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: OK
                book_name: Apple Inc.
                book_id: "20200317133713794"
                estimated_time: 243
              schema:
                $ref: '#/components/schemas/Enable_Book_Info_From_Template'
          description: Successful response contains request status, book name, and
            book ID
        "400":
          content:
            application/json:
              example:
                message: Book id cannot be generated.
                status: 400
              schema:
                $ref: '#/components/schemas/Invalid_Create_Book_FromTemplate_Request'
          description: Invalid ticker or Unknown error
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
      summary: Kicks off request to create a book with template
      tags:
      - Books - Creation
      x-contentType: application/json
      x-accepts: application/json
  /download-api-book-aws/{book_id}:
    get:
      description: This endpoint uses the BookId returned from any of the request
        above. Returns the URL to load the book for the book ID requested. The URL
        will be in JSON format, the final book will be in PDF format. <br><br> NOTE
        -- The execution of this endpoint requires an extra step within the developer
        portal due to authentication limitations. When using the actual API, a successful
        response for this endpoint will be the PDF book rather than the URL to the
        PDF. <br><br><b><i>The actual endpoint is </b><font color=blue>https://api.factset.com/book-builder-api/v1/download-api-book/{book_id}</font></i>
      operationId: downloadBook
      parameters:
      - description: A string representing the unique ID for a specific book. This
          ID must be provided in the URL path.
        example: 20200331093828132
        explode: false
        in: path
        name: book_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                Message: Copy and paste the URL below into your browser to download
                  your book. This book will be available for download for the next
                  30 minutes.
                Url: https://fioaddon-s3-bridge-3399.s3.amazonaws.com/DD_20200331093828132.pdf?AWSAccessKeyId=AKIA46YVWD3IE4WEE4OI&Expires=1585663820&Signature=C2PQmOQJlgzbW67skirSuKAiP1A%3D
                Status: done
              schema:
                $ref: '#/components/schemas/Enable_Book_Download'
          description: Successful response contains URL to load the book for the BookID
            requested
        "202":
          content:
            application/json:
              example:
              - Message: Book is processing. Please check back later.
                Status: "202"
              schema:
                $ref: '#/components/schemas/Book_Processing_Response'
          description: Book is processing. Please check back later.
        "400":
          content:
            application/json:
              example:
                message: Unrecognized BookId.
              schema:
                $ref: '#/components/schemas/Invalid_Download_Book_Aws_Request'
          description: Something went wrong. Please create a new request.
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
        "503":
          content:
            application/json:
              example:
                message: Unrecognized BookId.
              schema:
                $ref: '#/components/schemas/Invalid_Download_Book_Aws_Request'
          description: Unrecognized BookId
      summary: Retrieves book in PDF format
      tags:
      - Books - Fetch
      x-factset-different-success-responses: true
      x-accepts: application/json
  /upload-custom-document:
    post:
      description: |
        Upload any third-party documents that need to be included in the final PDF. Once uploaded, the successful response will be a unique fileurl that can be used to add the files to the PDF output using the create-book endpoint. Supported files include Powerpoint, Word, RTF, and PDF. The total size should not exceed 250MB and each file should not exceed 10MB.
      operationId: uploadCustomDocument
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadCustomDocumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
              - name: Custom Upload
                file_url: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
              schema:
                $ref: '#/components/schemas/Upload_Document_Response'
          description: Successful response contains file name, fileURL of the book
            uploaded
        "400":
          content:
            application/json:
              example:
                message: File Error No files selected.
                code: "400"
              schema:
                $ref: '#/components/schemas/Invalid_Upload_Document_Request'
          description: Invalid ticker or Unknown error
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
      summary: Upload a custom document
      tags:
      - Custom Documents - Upload
      x-contentType: multipart/form-data
      x-accepts: application/json
  /custom-upload-list:
    get:
      description: Retrieves the list of documents uploaded before using the endpoint
        "/upload-custom-document". The documents uploaded are available for 30 days
        from the date of uploading.
      operationId: getCustomUploadList
      responses:
        "200":
          content:
            application/json:
              example:
              - name: Custom Upload
                file_url: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
              schema:
                $ref: '#/components/schemas/Uploaded_Documents_List'
          description: Successful response contains file name, fileURL and the date
            and time the book was uploaded
        "401":
          content:
            application/json:
              example: Authentication Failed
              schema:
                $ref: '#/components/schemas/Authentication_Failed_Response'
          description: Missing or invalid authentication
      summary: Check out the documents uploaded before to use them in creating books
      tags:
      - Custom Documents - Fetch
      x-accepts: application/json
components:
  schemas:
    createTemplatePostRequest:
      description: The request body allows users to input the name of the template,
        ticker
      properties:
        tmpl_name:
          description: name of the template
          example: Quick Financials
          type: string
        tmpl_type:
          description: Type of the template (public,pc,pe,fi)
          example: public
          type: string
        content:
          description: Content sections
          items:
            $ref: '#/components/schemas/TemplateContentSection'
          type: array
      title: Request Body for Template Request
      type: object
    TemplateContentSection:
      properties:
        section_id:
          description: The identifier for the section, like COMPANY_OVERVIEW.
          enum:
          - COMPANY_OVERVIEW
          - COMPANY_GUIDE_OVERVIEW
          - COMPANY_GUIDE_SALES_EARNINGS
          - COMPANY_GUIDE_VALUATION
          - COMPANY_GUIDE_PROFITABILITY
          - COMPANY_GUIDE_STATEMENT_ANALYSIS
          example: COMPANY_OVERVIEW
          type: string
        reports:
          description: A list of reports to be included in the section.
          items:
            description: Specific report identifier
            enum:
            - COMPANY_SNAPSHOT
            - COMPANY_SNAPSHOT_IB
            - COMPANY_SNAPSHOT_IM
            - ENTITY_STRUCTURE
            - EVENT_CALENDAR
            - SUPPLY_CHAIN
            - CAPITAL_STRUCTURE
            - GEO_REV
            - RBICS_REV
            - ESG
            example: COMPANY_SNAPSHOT_IB
            type: string
          type: array
      type: object
    createBookPostRequest:
      description: The request body allows users to input the name of the book, ticker
      properties:
        book_name:
          description: name of the book
          example: Company Book for FDS
          type: string
        ticker:
          description: Identifier.
          example: FDS-US
          type: string
        pagination:
          $ref: '#/components/schemas/PaginationOptions'
        content:
          description: Content sections.
          items:
            $ref: '#/components/schemas/ContentSection'
          type: array
      title: Request Body for Post Request
      type: object
    PaginationOptions:
      description: Options for pagination.
      properties:
        cover:
          description: Include a cover page.
          example: true
          type: boolean
        divider:
          description: Use dividers between sections.
          example: true
          type: boolean
        toc:
          description: Include a table of contents.
          example: true
          type: boolean
        footer:
          description: Include footers on pages.
          example: true
          type: boolean
        timestamp:
          description: Add a timestamp to pages.
          example: false
          type: boolean
      type: object
    ContentSection:
      properties:
        section_id:
          description: Section ID within the book.
          enum:
          - COMPANY_OVERVIEW
          - COMPANY_GUIDE_OVERVIEW
          - COMPANY_GUIDE_SALES_EARNINGS
          - COMPANY_GUIDE_VALUATION
          - COMPANY_GUIDE_PROFITABILITY
          - COMPANY_GUIDE_STATEMENT_ANALYSIS
          example: COMPANY_OVERVIEW
          type: string
        reports:
          description: Identifiers for reports within the section.
          items:
            description: Specific report identifier.
            enum:
            - COMPANY_SNAPSHOT
            - COMPANY_SNAPSHOT_IB
            - COMPANY_SNAPSHOT_IM
            - ENTITY_STRUCTURE
            - EVENT_CALENDAR
            - SUPPLY_CHAIN
            - CAPITAL_STRUCTURE
            - GEO_REV
            - RBICS_REV
            - ESG
            example: COMPANY_SNAPSHOT_IB
            type: string
          type: array
      type: object
    createBookFromTemplatePostRequest:
      description: It is a request body to allow users to input ticker and template
        id.
      properties:
        ticker:
          description: ticker
          example: FDS-US
          type: string
        template_id:
          description: Template ID
          example: g_20210415065838185
          type: string
      title: Request Body for Post Request
      type: object
    Enable_BookList_Info:
      description: Request to enable Book list information for the client.
      items:
        $ref: '#/components/schemas/BookInfo'
      title: Booklist Request
      type: array
    BookInfo:
      example:
        created_on: 2020-06-23 09:48:46
        book_id: "20200623094829447"
        book_name: Financials
      properties:
        book_id:
          description: Book ID
          example: "20200623094829447"
          type: string
        book_name:
          description: Book Name
          example: Financials
          type: string
        created_on:
          description: Date on which the book was created
          example: 2020-06-23 09:48:46
          type: string
      type: object
    Authentication_Failed_Response:
      description: Response returned when authentication fails.
      example: Authentication Failed
      title: Authentication Failed Response
      type: string
    Enable_Book_Info:
      description: Request to enable book information for the client.
      example:
        book_id: "20200317133713790"
        book_name: Apple Inc.
        estimated_time: 240
      properties:
        book_name:
          description: Report Name
          example: Apple Inc.
          type: string
        book_id:
          description: Book ID
          example: "20200317133713790"
          type: string
        estimated_time:
          description: Estimated time in sec to create the book
          example: 240
          type: integer
      title: Book Information Request
      type: object
    Invalid_Create_Book_Request:
      description: Invalid ticker/section_id/report_id
      properties:
        message:
          description: Invalid Request Message
          example: Please input a valid ticker for Public Company/Private Company/Private
            Equity/Fixed Income/MutualFund/ETF/Holder to build Book.
          type: string
      title: Create Book Request
      type: object
    Invalid_Create_Book_FromTemplate_Request:
      description: Invalid ticker/template_id
      properties:
        message:
          description: Invalid Request Message
          example: Book id cannot be generated.
          type: string
        status:
          description: Invalid Request Message
          example: 400
          type: integer
      title: Create Book Request
      type: object
    Enable_Book_Info_From_Template:
      description: Request to enable book information for the client.
      example:
        book_id: "20200317133713790"
        book_name: Apple Inc.
        status: OK
        estimated_time: 243
      properties:
        status:
          description: Request status
          example: OK
          type: string
        book_name:
          description: Report Name
          example: Apple Inc.
          type: string
        book_id:
          description: Book ID
          example: "20200317133713790"
          type: string
        estimated_time:
          description: Estimated time in sec to create the book
          example: 243
          type: integer
      title: Book Information Request
      type: object
    Enable_Template_Info:
      description: Request to enable template list information for the client.
      items:
        $ref: '#/components/schemas/TemplateInfo'
      title: Template Request
      type: array
    TemplateInfo:
      example:
        template_name: Financials
        created_on: 2020-06-23 09:45:54
        template_source: own_template
        template_id: "20200623094829447"
        type: Public
      properties:
        template_id:
          description: Template ID
          example: "20200623094829447"
          type: string
        template_name:
          description: Template name
          example: Financials
          type: string
        created_on:
          description: Date on which the template was created
          example: 2020-06-23 09:45:54
          type: string
        template_source:
          description: Source of the template - Custom vs. Default
          example: own_template
          type: string
        type:
          description: Type of the template
          example: Public
          type: string
      type: object
    Enable_Template_Info_Post:
      description: Request to enable template list information for the client.
      example:
        tmpl_name: Financials
        tmpl_id: "20200623094829450"
      properties:
        tmpl_id:
          description: Template ID
          example: "20200623094829450"
          type: string
        tmpl_name:
          description: Template name
          example: Financials
          type: string
      title: Template Request
      type: object
    Invalid_Template_Request:
      description: Invalid template type/section_id/report_id
      properties:
        message:
          description: Invalid request message
          example: Template name already exists. Please select a different name.
          type: string
      title: Template Exists Error Response
      type: object
    Upload_Document_Response:
      description: Response to Upload Document.
      items:
        properties:
          name:
            description: Name of the uploaded file
            example: Custom Upload
            type: string
          file_url:
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
            type: string
      title: Upload Document Response
      type: array
    Invalid_Upload_Document_Request:
      description: Invalid ticker or Unknown error
      properties:
        message:
          description: Invalid Request Message
          example: File Error No files selected.
          type: string
        code:
          description: Invalid request code
          example: 400
          type: integer
      title: Invalid Upload Custom Request
      type: object
    Uploaded_Documents_List:
      description: Request to enable template list information for the client.
      items:
        properties:
          name:
            description: Template ID
            example: Custom Upload
            type: string
          file_url:
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
            type: string
      title: Template Request
      type: array
    Enable_Book_Download:
      description: Request to download book.
      example:
        Status: done
        Message: Copy and paste the URL below into your browser to download your book.
          This book will be available for download for the next 30 minutes.
        Url: https://fioaddon-s3-bridge-3399.s3.amazonaws.com/DD_20200331093828132.pdf?AWSAccessKeyId=AKIA46YVWD3IE4WEE4OI&Expires=1585663820&Signature=C2PQmOQJlgzbW67skirSuKAiP1A%3D
      properties:
        Message:
          description: Book status
          example: Copy and paste the URL below into your browser to download your
            book. This book will be available for download for the next 30 minutes.
          type: string
        Url:
          description: URL to book.
          example: https://fioaddon-s3-bridge-3399.s3.amazonaws.com/DD_20200331093828132.pdf?AWSAccessKeyId=AKIA46YVWD3IE4WEE4OI&Expires=1585663820&Signature=C2PQmOQJlgzbW67skirSuKAiP1A%3D
          type: string
        Status:
          description: Book status
          example: done
          type: string
      title: Book Download
      type: object
    Book_Processing_Response:
      description: Response indicating that the book is currently processing.
      items:
        $ref: '#/components/schemas/Book_Processing_Response_Item'
      title: Download Book AWS Processing Response
      type: array
    Book_Processing_Response_Item:
      properties:
        Message:
          description: Download Book AWS Processing message.
          example: Book is processing. Please check back later.
          type: string
        Status:
          description: Status code indicating the processing state.
          example: "202"
          type: string
      type: object
    Invalid_Download_Book_Aws_Request:
      description: Unrecognized BookId.
      properties:
        message:
          description: Invalid Request Message
          example: Unrecognized BookId.
          type: string
      title: Invalid Download Book AWS Request
      type: object
    UploadCustomDocumentRequest:
      example:
        file:
        - file1
        - file2
      properties:
        file:
          items:
            format: binary
            type: string
          minItems: 1
          type: array
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

