openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
  description: "The Classifications API gives access to various Industry Classifications\
    \ for a given list of securities. Beginning first with GICS Direct, the service\
    \ will then expand to offering NAICS, SIC, RBICS, and more. \n"
  title: Classifications API
  version: 1.0.0
servers:
- description: Production
  url: https://api.factset.com/content
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Global Industry Classification Standard (GICS) Sectors, Industry Groups,
    Industries, and Sub-Industries.
  name: GICS
paths:
  /classifications/v1/gics:
    get:
      description: |
        Gets the The **Global Industry Classification Standard ("GICS")** Sectors, Industry Group, Industry, and Sub-Industry Names and Numbers for a requested list of ids and date range. All economic sectors have a two-digit identification code, all industry groups have a four-digit identification code, all industries have a six-digit identification code, and all sub-industries have an eight-digit identification code. To access the complete GICS structure and definitions, visit the [MSCI GICS](https://www.msci.com/gics) or [S&P GICS](http://us.spindices.com/resource-center/index-policies/) home pages. Coverage includes over 37,000 securities.
        *Licensing for GICS Classifications, Regions, and History is required in addition to FactSet API license. Reach out to your FactSet Account Team for assistance.*
      operationId: getGics
      parameters:
      - description: |
          The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          maxItems: 3000
          minItems: 1
          type: array
        style: form
      - description: Requested start date expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: Requested End Date for Range expressed in YYYY-MM-DD format.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: |
          Controls the display frequency of the data returned.
            * **D** = Daily
            * **W** = Weekly, based on the last day of the week of the start date.
            * **M** = Monthly, based on the last trading day of the month.
            * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
            * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
            * **AY** = Actual Annual, based on the start date.
            * **CY** = Calendar Annual, based on the last trading day of the calendar year.
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: M
          enum:
          - D
          - W
          - M
          - AM
          - CQ
          - AY
          - CY
          type: string
        style: form
      - description: Calendar of data returned. SEVENDAY includes weekends.
        explode: true
        in: query
        name: calendar
        required: false
        schema:
          default: FIVEDAY
          enum:
          - FIVEDAY
          - SEVENDAY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Multiple IDs as of latest month end:
                  $ref: '#/components/examples/gicsMultipleExample'
                Security with GICS Change:
                  $ref: '#/components/examples/gicsChangeExample'
              schema:
                $ref: '#/components/schemas/gicsResponse'
          description: GICS Response Object
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Gets the GICS Direct Classifications
      tags:
      - GICS
      x-accepts: application/json
    post:
      description: |
        Gets the The **Global Industry Classification Standard ("GICS")** Sectors, Industry Group, Industry, and Sub-Industry Names and Numbers for a requested list of ids and date range. All economic sectors have a two-digit identification code, all industry groups have a four-digit identification code, all industries have a six-digit identification code, and all sub-industries have an eight-digit identification code. To access the complete GICS structure and definitions, visit the [MSCI GICS](https://www.msci.com/gics) or [S&P GICS](http://us.spindices.com/resource-center/index-policies/) home pages. Coverage includes over 37,000 secutries.
        *Licencing for GICS Classifications, Regions, and History is required in addition to FactSet API license. Reach out to your FactSet Account Team for assistance.*
      operationId: postGics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gicsRequest'
        description: Requests GICS Classifications for the given identifier and date
          range.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Multiple IDs as of latest month end:
                  $ref: '#/components/examples/gicsMultipleExample'
                Security with GICS Change:
                  $ref: '#/components/examples/gicsChangeExample'
              schema:
                $ref: '#/components/schemas/gicsResponse'
          description: GICS Direct Response Items
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Future Date:
                  $ref: '#/components/examples/badRequestFutureDate'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that Content-Type header is set to the correct
            value. In this instance, "application/json" would be the appropriate value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Internal Server Error.
      summary: Returns the GICS classifications for the requested 'ids' and date range.
      tags:
      - GICS
      x-contentType: application/json
      x-accepts: application/json
components:
  examples:
    gicsMultipleExample:
      description: Fetching GICS Direct Classifications for XOM and APPL as of latest
        completed period.
      summary: Fetching GICS Direct Classifications for two securities
      value:
        data:
        - date: 2020-10-30
          fsymId: 0FPWZZ-E
          gicsIndustryGroupName: Media & Entertainment
          gicsIndustryGroupNumber: "5020"
          gicsIndustryName: Interactive Media & Services
          gicsIndustryNumber: "502030"
          gicsSectorName: Communication Services
          gicsSectorNumber: "50"
          gicsSubIndustryName: Interactive Media & Services
          gicsSubindustryNumber: "50203010"
          requestId: GOOGL
        - date: 2020-10-30
          fsymId: 002Q0G-E
          gicsIndustryGroupName: Energy
          gicsIndustryGroupNumber: "1010"
          gicsIndustryName: Oil Gas & Consumable Fuels
          gicsIndustryNumber: "101020"
          gicsSectorName: Energy
          gicsSectorNumber: "10"
          gicsSubIndustryName: Integrated Oil & Gas
          gicsSubindustryNumber: "10102010"
          requestId: XOM
    gicsChangeExample:
      description: Fetching Acadia Realty Trust (AKR-US) in 2016 over period in which
        classifications changed from Financials to Real Estate.
      summary: Fetching GICS Classifications for Security with Changes
      value:
        data:
        - date: 2016-08-31
          fsymId: 00263C-E
          gicsIndustryGroupName: Real Estate
          gicsIndustryGroupNumber: "4040"
          gicsIndustryName: Real Estate Investment Trusts (REITs)
          gicsIndustryNumber: "404020"
          gicsSectorName: Financials
          gicsSectorNumber: "40"
          gicsSubIndustryName: Retail REITs
          gicsSubindustryNumber: "40402060"
          requestId: AKR-US
        - date: 2016-09-30
          fsymId: 00263C-E
          gicsIndustryGroupName: Real Estate
          gicsIndustryGroupNumber: "6010"
          gicsIndustryName: Equity Real Estate Investment Trusts (REITs)
          gicsIndustryNumber: "601010"
          gicsSectorName: Real Estate
          gicsSectorNumber: "60"
          gicsSubIndustryName: Retail REITs
          gicsSubindustryNumber: "60101070"
          requestId: AKR-US
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        status: Bad Request
        timestamp: 2019-10-31 16:08:07.945
        path: /classifications/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format:
          YYYY-MM-DD'
        subErrors: null
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisks
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:48:42.016
        path: /classifications/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestFutureDate:
      description: This error message occurs when a future date is requested in the
        startDate and endDate parameters. Please revise your request to include dates
        as of today's current date or any prior historical date.
      summary: Bad Request - Future Date
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:52:48.091
        path: /classifications/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please
          revise your request to include dates up to today's current date.
        subErrors: null
    badRequestInvalidParameters:
      description: This error message occurs when a request parameter is used in which
        is not recognized by the service. Please revise your request to include only
        the parameters listed in the specification. Typical causes are spelling mistakes
        and use of improper casing.
      summary: Bad Request - Invalid Parameters
      value:
        status: Bad Request
        timestamp: 2020-06-12 15:58:54.068
        path: /classifications/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please
          modify your request to use parameters outlined in the specification for
          this endpoint.'
        subErrors: null
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON, but is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        status: Bad Request
        timestamp: 2019-11-05 09:48:29.18
        path: /classifications/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        status: Bad Request
        timestamp: 2019-11-04 16:18:38.949
        path: /classifications/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        status: User Authentication Failed
        timestamp: 2019-10-31 16:08:07.945
        path: /classifications/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        status: Forbidden
        timestamp: 2020-06-12 16:08:51.731
        path: /classifications/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /classifications/v1/{endpoint}
        subErrors: null
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        status: Unsupported Media Type
        timestamp: 2019-11-05 09:42:27.237
        path: /classifications/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are
          application/json
        subErrors: null
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        status: Internal Server Error
        timestamp: 2019-11-05 09:48:29.18
        path: /classifications/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        status: Internal Server Error
        timestamp: 2019-11-01 10:36:01.944
        path: /classifications/v1/{endpoint}
        message: Unexpected error
        subErrors: null
  parameters:
    ids:
      description: |
        The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      explode: false
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        maxItems: 3000
        minItems: 1
        type: array
      style: form
    startDate:
      description: Requested start date expressed in YYYY-MM-DD format.
      explode: true
      in: query
      name: startDate
      required: false
      schema:
        type: string
      style: form
    endDate:
      description: Requested End Date for Range expressed in YYYY-MM-DD format.
      explode: true
      in: query
      name: endDate
      required: false
      schema:
        type: string
      style: form
    currency:
      description: Currency for response.
      explode: true
      in: query
      name: currency
      required: false
      schema:
        type: string
      style: form
    frequency:
      description: |
        Controls the display frequency of the data returned.
          * **D** = Daily
          * **W** = Weekly, based on the last day of the week of the start date.
          * **M** = Monthly, based on the last trading day of the month.
          * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          * **AY** = Actual Annual, based on the start date.
          * **CY** = Calendar Annual, based on the last trading day of the calendar year.
      explode: true
      in: query
      name: frequency
      required: false
      schema:
        default: M
        enum:
        - D
        - W
        - M
        - AM
        - CQ
        - AY
        - CY
        type: string
      style: form
    calendar:
      description: Calendar of data returned. SEVENDAY includes weekends.
      explode: true
      in: query
      name: calendar
      required: false
      schema:
        default: FIVEDAY
        enum:
        - FIVEDAY
        - SEVENDAY
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Bad Request. This can occur for several reasons. Please review
        the "message" for more details.
    "401":
      content:
        application/json:
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have
        successfully generated an API KEY for the IP range you are connecting from.
        For more help, select the **Report Issue** in the top right corner of this
        Developer Portal specification card and choose Connectivity 401 or 403 Responses.
    "403":
      content:
        application/json:
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized
        to access. The request was a legal request, but the server is refusing to
        respond. Please reach out to FactSet Account Team for assistance with authorization.
    "415":
      content:
        application/json:
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Unsupported Media Type. This error may be returned when the caller
        sends a resource in a format that is not accepted by the server. This can
        be fixed by ensuring that Content-Type header is set to the correct value.
        In this instance, "application/json" would be the appropriate value.
    "500":
      content:
        application/json:
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
          schema:
            $ref: '#/components/schemas/errorResponse'
      description: Internal Server Error.
  schemas:
    gicsRequest:
      properties:
        ids:
          description: |
            The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
          example:
          - AAPL-US
          items:
            type: string
          maxItems: 3000
          minItems: 1
          title: Security Ids
          type: array
        startDate:
          description: Requested start date expressed in YYYY-MM-DD format.
          example: 2018-12-31
          title: Start Date
          type: string
        endDate:
          description: Requested end date for Range expressed in YYYY-MM-DD format.
          example: 2019-12-31
          title: End Date
          type: string
        frequency:
          $ref: '#/components/schemas/frequency'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
      - ids
      title: GICS POST Request Model
      type: object
    gicsResponse:
      example:
        data:
        - date: 2020-10-30T00:00:00.000+0000
          gicsIndustryGroupName: Media & Entertainment
          gicsSectorNumber: "50"
          gicsSectorName: Communications Services
          requestId: SPY-US
          fsymId: 0FPWZZ-E
          gicsSubInudstryNumber: "50203010"
          gicsIndustryGroupNumber: "5020"
          gicsIndustryNumber: "502030"
          gicsIndustryName: Interactive Media & Services
          gicsSubIndustryName: Interactive Media & Services
        - date: 2020-10-30T00:00:00.000+0000
          gicsIndustryGroupName: Media & Entertainment
          gicsSectorNumber: "50"
          gicsSectorName: Communications Services
          requestId: SPY-US
          fsymId: 0FPWZZ-E
          gicsSubInudstryNumber: "50203010"
          gicsIndustryGroupNumber: "5020"
          gicsIndustryNumber: "502030"
          gicsIndustryName: Interactive Media & Services
          gicsSubIndustryName: Interactive Media & Services
      properties:
        data:
          description: |
            Array of GICS Objects, representing all requested ids and dates.
          items:
            $ref: '#/components/schemas/gics'
          type: array
      title: GICS Response
      type: object
    gics:
      example:
        date: 2020-10-30T00:00:00.000+0000
        gicsIndustryGroupName: Media & Entertainment
        gicsSectorNumber: "50"
        gicsSectorName: Communications Services
        requestId: SPY-US
        fsymId: 0FPWZZ-E
        gicsSubInudstryNumber: "50203010"
        gicsIndustryGroupNumber: "5020"
        gicsIndustryNumber: "502030"
        gicsIndustryName: Interactive Media & Services
        gicsSubIndustryName: Interactive Media & Services
      properties:
        fsymId:
          description: FactSet Entity Identifier by default, otherwise returns FactSet
            Regional Identifier. This is a six alpha-numeric characters, excluding
            vowels, with an -E suffix (XXXXXX-E).
          example: 0FPWZZ-E
          type: string
        date:
          description: Date in YYYY-MM-DD for the classification record from GICS
            Direct
          example: 2020-10-30
          format: date
          type: string
        gicsSectorName:
          description: GICS Sector Name in Proper Format.
          example: Communications Services
          type: string
        gicsSectorNumber:
          description: GICS Sector Number
          example: "50"
          type: string
        gicsIndustryGroupName:
          description: GICS Industry Group Name in Proper Format.
          example: Media & Entertainment
          type: string
        gicsIndustryGroupNumber:
          description: GICS Industry Group Number
          example: "5020"
          type: string
        gicsIndustryName:
          description: GICS Industry Name in Proper Format.
          example: Interactive Media & Services
          type: string
        gicsIndustryNumber:
          description: GICS Industry Number
          example: "502030"
          type: string
        gicsSubIndustryName:
          description: GICS Sub-Industry Name in Proper Format.
          example: Interactive Media & Services
          type: string
        gicsSubInudstryNumber:
          description: GICS Industry Number.
          example: "50203010"
          type: string
        requestId:
          description: Identifier specified in the request
          example: SPY-US
          type: string
      title: GICS Object
      type: object
    ids:
      description: |
        The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  3000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      example:
      - AAPL-US
      items:
        type: string
      maxItems: 3000
      minItems: 1
      title: Security Ids
      type: array
    startDate:
      description: Requested start date expressed in YYYY-MM-DD format.
      example: 2018-12-31
      title: Start Date
      type: string
    endDate:
      description: Requested end date for Range expressed in YYYY-MM-DD format.
      example: 2019-12-31
      title: End Date
      type: string
    frequency:
      default: M
      description: "Controls the display frequency of the data returned.\n  * **D**\
        \ = Daily\n  * **W** = Weekly, based on the last day of the week of the start\
        \ date.\n  * **M** = Monthly, based on the last trading day of the month.\n\
        \  * **AM** = Monthly, based on the start date (e.g., if the start date is\
        \ June 16, data is displayed for June 16, May 16, April 16 etc.). \n  * **CQ**\
        \ = Quarterly based on the last trading day of the calendar quarter (March,\
        \ June, September, or December).\n  * **AY** = Actual Annual, based on the\
        \ start date.\n  * **CY** = Calendar Annual, based on the last trading day\
        \ of the calendar year.\n"
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - AY
      - CY
      example: M
      title: Frequency
      type: string
    calendar:
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      enum:
      - FIVEDAY
      - SEVENDAY
      example: FIVEDAY
      title: Calendar
      type: string
    errorResponse:
      properties:
        status:
          description: status
          example: Bad Request
          type: string
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          format: date-time
          type: string
        path:
          description: The Endpoint path {package}/version/{endpoint}
          example: /classifications/v1/{endpoint}
          type: string
        message:
          description: The plain text error message
          example: Validation Error
          type: string
        subErrors:
          $ref: '#/components/schemas/errorResponse_subErrors'
      title: Error Response
      type: object
    errorResponse_subErrors:
      description: subErrors related to the error message. Null if not applicable.
      properties:
        object:
          description: the operation ID
          type: string
        field:
          description: Parameter Field Name
          type: string
        message:
          description: Error message
          type: string
        rejectedValue:
          description: Rejected Values in an Array
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

