openapi: 3.0.3
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    Comprehensive API for accessing private equity and venture capital data including funds, general partners, transactions, and portfolio companies.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Private Equity & Venture Capital API
  version: 1.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-pevc-api
servers:
- description: Production
  url: https://api.factset.com/content/factset-pevc/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Returns Entity Candidates and Matches for a single name and attributes.
  name: Universe
- description: Access detailed information on Private Equity and Venture Capital funds,
    including fundraising history, cash flows, performance metrics, portfolio holdings,
    and associated Limited Partners.
  name: Funds
- description: Retrieve comprehensive data for General Partners (GP) and Limited Partners
    (LP), including firm profiles, managed funds, key contacts, and commitments.
  name: General and Limited Partners
- description: Detailed access to private transaction events like venture capital,
    private equity, and M&A activity for portfolio companies, including investment
    stage, amount, investors, and securities.
  name: Transactions
- description: Defines the investment strategy of a fund or General Partner, detailing
    geographic, sector, instrument, and control criteria focus.
  name: Strategies
- description: Provides information on the Initial Public Offerings (IPOs) of portfolio
    companies, including pricing, size, and status.
  name: IPOs
paths:
  /universe:
    get:
      description: |
        Finds the best candidate entities matching the given entity name. Country code can also be supplied to narrow the search.

        Returns a list of potential entity matches, along with a match indicator, to assist in identifying the correct entity within the FactSet universe.

        **Max of 1 Name permitted in a single request.**
      operationId: getUniverse
      parameters:
      - description: |
          The proper name of a Private Equity/Venture Capital firm, Fund, or Portfolio Company to be matched against the FactSet entity universe.<br/>  <p>***max length** =  200 per request*</p>
        example: Alto Pharmacy
        explode: true
        in: query
        name: name
        required: true
        schema:
          maxLength: 200
          minLength: 1
          type: string
        style: form
      - description: The two-character ISO2 country code corresponding to the entity's
          primary location. Providing this code helps to narrow the entity match candidates,
          significantly improving the accuracy of the matching algorithm. For a list
          of ISO2 Country codes, visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
        example: US
        explode: true
        in: query
        name: country
        required: false
        schema:
          maxLength: 2
          minLength: 2
          type: string
        style: form
      - description: "Three-character FactSet entity type code used to filter candidates\
          \ in order to determine the final match result.\n  |Entity Type Code|Entity\
          \ Type Description|Entity Type Code|Entity Type Description|\n  |---|---|---|---|\n\
          \  |PVT|Private Company|SUB|Subsidiary|\n  |HOL|Holding Company|JVT|Joint\
          \ Venture|\n  |NPO|Non-Profit Organization|\n  \n  |Entity Type Code|Entity\
          \ Type Description|Entity Type Code|Entity Type Description|\n  |---|---|---|---|\n\
          \  |FAF|\tFamily of Funds (Venture Capital/Private Equity)|PVF|Private Equity\
          \ Fund / Alternative Investment|\n  |VEN|Venture Capital Fund|"
        explode: true
        in: query
        name: entityType
        required: false
        schema:
          items:
            example: PVT
            maxLength: 3
            minLength: 3
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Entity Matches:
                  $ref: '#/components/examples/resultOfEntityMatches'
              schema:
                $ref: '#/components/schemas/EntityMatchesResponse'
          description: Response containing Entity Match results.
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Returns Entity Candidates and Matches for a single name and attributes.
      tags:
      - Universe
      x-accepts: application/json
  /funds:
    get:
      description: |-
        Retrieves the main descriptive and profile information for one or more Private Equity or Venture Capital funds identified by their FactSet entity IDs. This includes key characteristics like fund status (e.g., Open, Closed), fund type (e.g., Venture, Buyout), vintage year, and high-level strategy details.

        Use the `/universe` endpoint, set the `entityType` parameter to `VEN` (Venture Capital Fund), `PVF` (Private Equity Fund/Alt Investment), or `FAF` (Family of Funds (Venture Capital/Private Equity)). Submit the fund's name. The returned `entityId` is the required input value for this endpoint.
      operationId: getFund
      parameters:
      - allowEmptyValue: false
        description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **Private Equity and Venture Capital Funds**. These IDs are in the format
          'XXXXXX-E' and are the primary input for most fund-related endpoints. These
          IDs can be retrieved from the /universe endpoint
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 001JYM-E
          - 005GEM-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fund Details:
                  $ref: '#/components/examples/resultOfFunds'
              schema:
                $ref: '#/components/schemas/FundDetailsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve core profile and summary data for specified Private Equity
        or Venture Capital Funds.
      tags:
      - Funds
      x-accepts: application/json
  /funds/portfolio-companies:
    get:
      description: |-
        Provides a list of **FactSet entity identifiers** for the portfolio companies in which a specified fund has invested. This endpoint is key for analyzing a fund's holdings and exposure to different companies in the private market.

        Use the `/universe` endpoint, set the `entityType` parameter to `VEN` (Venture Capital Fund), `PVF` (Private Equity Fund/Alt Investment), or `FAF` (Family of Funds (Venture Capital/Private Equity)). Submit the fund's name. The returned `entityId` is the required input value for this endpoint.
      operationId: getFundPortfolioCompanies
      parameters:
      - allowEmptyValue: false
        description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **Private Equity and Venture Capital Funds**. These IDs are in the format
          'XXXXXX-E' and are the primary input for most fund-related endpoints. These
          IDs can be retrieved from the /universe endpoint
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 0H7PQB-E
          - 0JGJY6-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Portfolio Companies:
                  $ref: '#/components/examples/resultOfPortfolioCompanies'
              schema:
                $ref: '#/components/schemas/FundPortfolioCompaniesResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve the list of portfolio companies held by specified Private
        Equity or Venture Capital Funds.
      tags:
      - Funds
      x-accepts: application/json
  /funds/fundraising:
    get:
      description: |-
        Provides detailed information on the **fundraising lifecycle** of one or more funds, including data on interim and **final closes**, the **total amount raised** (fund size), and the as-reported currency for each fundraising round.

        Use the `/universe` endpoint, set the `entityType` parameter to `VEN` (Venture Capital Fund), `PVF` (Private Equity Fund/Alt Investment), or `FAF` (Family of Funds (Venture Capital/Private Equity)). Submit the fund's name. The returned `entityId` is the required input value for this endpoint.
      operationId: getFundFundraising
      parameters:
      - allowEmptyValue: false
        description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **Private Equity and Venture Capital Funds**. These IDs are in the format
          'XXXXXX-E' and are the primary input for most fund-related endpoints. These
          IDs can be retrieved from the /universe endpoint
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 0LC436-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Fundraising:
                  $ref: '#/components/examples/resultOfFundraising'
              schema:
                $ref: '#/components/schemas/FundFundraisingResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve the complete fundraising history for specified Private Equity
        or Venture Capital Funds.
      tags:
      - Funds
      x-accepts: application/json
  /funds/cashflows:
    post:
      description: |-
        Provides **quarterly** cash flow data for one or more funds, including **contributions** (capital calls) and **distributions** (payouts). This raw data is fundamental for calculating net cash flows and performance metrics like DPI, TVPI, and IRR.

        Use the `/universe` endpoint, set the `entityType` parameter to `VEN` (Venture Capital Fund), `PVF` (Private Equity Fund/Alt Investment), or `FAF` (Family of Funds (Venture Capital/Private Equity)). Submit the fund's name. The returned `entityId` is the required input value for this endpoint.
      operationId: getFundCashflows
      requestBody:
        content:
          application/json:
            examples:
              Fund Cashflows request for multiple funds:
                $ref: '#/components/examples/postFundCashflows'
            schema:
              $ref: '#/components/schemas/FundCashflowsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Cashflows:
                  $ref: '#/components/examples/resultOfCashflows'
              schema:
                $ref: '#/components/schemas/FundCashflowsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve time-series cash flow data (contributions and distributions)
        for specified funds.
      tags:
      - Funds
      x-contentType: application/json
      x-accepts: application/json
  /general-partners:
    get:
      description: Retrieves the primary descriptive and profile information for one
        or more General Partner firms. This includes firm-level details such as the
        **Asset Under Management (AUM)** and a high-level overview of their **investment
        strategy** (e.g., target industry, geography).
      operationId: getGP
      parameters:
      - description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **General Partner (GP) firms**. These IDs are used to identify the management
          companies of the funds.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 000BKX-E
          - 000KCYH-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      - description: "The as-of date for the AUM data in **YYYY-MM-DD** format. Returns\
          \ the AUM value as of the specified date.\n\nNote: \n- If omitted: The response\
          \ will return the latest available AUM data.\n- Future dates (T+1) are not\
          \ accepted in this endpoint.\n"
        example: 2023-08-27
        explode: true
        in: query
        name: asOfDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                General Partner Details:
                  $ref: '#/components/examples/resultOfGps'
              schema:
                $ref: '#/components/schemas/GPDetailsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieves historical data for specified General Partner (GP) firms.
      tags:
      - General and Limited Partners
      x-accepts: application/json
  /general-partners/funds:
    get:
      description: |-
        Returns a list of all Private Equity and Venture Capital funds that are actively or historically managed by the specified General Partner firms. This provides a complete view of a GP's fund vintage and strategy history.

        Use the `/universe` endpoint and input the GP firm name, with `entityType` set to `HOL`. Only use `entityId` values whose `entityTypeCode` is `HOL` in your request.
      operationId: getGPFunds
      parameters:
      - description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **General Partner (GP) firms**. These IDs are used to identify the management
          companies of the funds.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 000BKX-E
          - 000KCYH-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                General Partner Managed Funds:
                  $ref: '#/components/examples/resultOfGpsFunds'
              schema:
                $ref: '#/components/schemas/GPFundsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve the list of all Private Equity and Venture Capital Funds managed
        by specified General Partners.
      tags:
      - General and Limited Partners
      x-accepts: application/json
  /limited-partners/funds:
    get:
      description: |-
        Returns a list of **Limited Partners** (investors) associated with the specified funds, along with details of their **capital commitments** (investment amounts) and the **commit date**. This data is essential for understanding a fund's LP base.

        Use the `/universe` endpoint and input the fund's name, setting the `entityType` to the most appropriate type (e.g., VEN, FAF, PVF).
      operationId: getFundLimitedPartners
      parameters:
      - allowEmptyValue: false
        description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **Private Equity and Venture Capital Funds**. These IDs are in the format
          'XXXXXX-E' and are the primary input for most fund-related endpoints. These
          IDs can be retrieved from the /universe endpoint
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 0LC436-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Limited Partners:
                  $ref: '#/components/examples/resultOfLimitedPartners'
              schema:
                $ref: '#/components/schemas/FundLimitedPartnersResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve the Limited Partners (LPs) and their capital commitments to
        specific funds.
      tags:
      - General and Limited Partners
      x-accepts: application/json
  /transactions:
    get:
      description: Retrieves rich, fundamental data for one or more private investment
        transactions, such as a **Venture Capital funding round** or a **Private Equity
        buyout**. This includes the **deal size** (transaction amount), **transaction
        date**, participating **investors**, **security type** (e.g., common stock,
        preferred stock), and the round's **stage**.
      operationId: getTransaction
      parameters:
      - description: A list of unique FactSet-generated identifiers for **Private
          Equity or Venture Capital transactions**. These IDs link to a single investment
          event, distinct from the main deal ID.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 1000001
          - 1000002
          items:
            type: integer
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Transaction Details:
                  $ref: '#/components/examples/resultOfTransactions'
              schema:
                $ref: '#/components/schemas/TransactionDetailsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve comprehensive details for a list of Private Equity or Venture
        Capital transactions.
      tags:
      - Transactions
      x-accepts: application/json
  /transactions/search:
    post:
      description: Allows users to query the universe of private transactions using
        a set of powerful filters. Filters can include specific **portfolio companies**,
        **investment stages** (e.g., Seed, Growth, Late), **transaction date range**,
        and **minimum/maximum transaction amounts** in USD.
      operationId: searchTransactions
      requestBody:
        content:
          application/json:
            examples:
              Transaction search request:
                $ref: '#/components/examples/postTransactionSearch'
            schema:
              $ref: '#/components/schemas/TransactionSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Transaction Search:
                  $ref: '#/components/examples/resultOfTransactionsSearch'
              schema:
                $ref: '#/components/schemas/TransactionSearchResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Search and filter the universe of transactions by deal size, date range,
        stage, and portfolio company.
      tags:
      - Transactions
      x-contentType: application/json
      x-accepts: application/json
  /transactions/ma-activity:
    get:
      description: Provides specific details related to Mergers & Acquisitions (M&A)
        activity for a given transaction. This includes information on M&A **advisors**
        (e.g., financial, legal) and the specific **investments** made by General
        Partner and Limited Partner investors in the context of the M&A deal.
      operationId: getTransactionMAActivity
      parameters:
      - description: A list of unique FactSet-generated identifiers for **Private
          Equity or Venture Capital transactions**. These IDs link to a single investment
          event, distinct from the main deal ID.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 1000001
          - 1000002
          items:
            type: integer
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Transaction M&A Details:
                  $ref: '#/components/examples/resultOfTransactionsMaActivity'
              schema:
                $ref: '#/components/schemas/TransactionMaActivityResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve detailed M&A advisory and investment information for specified
        transactions.
      tags:
      - Transactions
      x-accepts: application/json
  /ipos:
    get:
      description: |-
        Provides comprehensive details on the **Initial Public Offering (IPO)** process for portfolio companies, typically representing an exit for a fund. Information includes the **IPO size**, **pricing**, date, and other relevant capital markets data.

        Use the `/transactions/ma-activity` endpoint to find fund deal ids for your request.
      operationId: getIPO
      parameters:
      - description: A list of unique FactSet-generated identifiers (Deal IDs) assigned
          to a **Merger & Acquisition (M&A) or Venture Capital (VC) deal**. This ID
          represents the main event being tracked.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 23682
          items:
            type: integer
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                IPO Details:
                  $ref: '#/components/examples/resultOfIpos'
              schema:
                $ref: '#/components/schemas/IPODetailsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve details of an Initial Public Offering (IPO) related to a portfolio
        company exit.
      tags:
      - IPOs
      x-accepts: application/json
  /ipos/search:
    post:
      description: Enables filtering of the IPO universe by criteria such as **IPO
        status** (e.g., Completed, Withdrawn), the **date range** of the IPO, and
        the minimum or maximum **offering size** in USD.
      operationId: searchIPOs
      requestBody:
        content:
          application/json:
            examples:
              IPO search request:
                $ref: '#/components/examples/postIPOSearch'
            schema:
              $ref: '#/components/schemas/IPOSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                IPO Details:
                  $ref: '#/components/examples/resultOfIposSearch'
              schema:
                $ref: '#/components/schemas/IPOSearchResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Search and filter the universe of portfolio company IPOs by status,
        size, and date range.
      tags:
      - IPOs
      x-contentType: application/json
      x-accepts: application/json
  /entities/strategies:
    get:
      description: Provides a granular breakdown of the defined investment mandate
        for a fund or General Partner (GP). The strategy is multi-faceted, covering
        areas such as target **geographic exposure** (region, country, state), preferred
        **industry/sector** focus, targeted **investment instruments** (e.g., debt,
        equity, convertible notes), and **control criteria**.
      operationId: getEntityStrategies
      parameters:
      - allowEmptyValue: false
        description: A list of FactSet Permanent Entity Identifiers (FactSet IDs)
          for **Private Equity and Venture Capital Funds**. These IDs are in the format
          'XXXXXX-E' and are the primary input for most fund-related endpoints. These
          IDs can be retrieved from the /universe endpoint
        explode: true
        in: query
        name: ids
        required: true
        schema:
          example:
          - 001JYM-E
          - 005GEM-E
          items:
            type: string
          maxItems: 50
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Entity Investment Strategies:
                  $ref: '#/components/examples/resultOfEntityStrategies'
              schema:
                $ref: '#/components/schemas/EntityStrategiesResponse'
          description: Successful response
        "400":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/badRequestDateFormat'
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request. This can occur for several reasons. Please review
            the "message" for more details.
        "401":
          content:
            application/json:
              examples:
                Bad Request - Date Format:
                  $ref: '#/components/examples/unauthenticated'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the **Report Issue** in the top right corner
            of this Developer Portal specification card and choose Connectivity 401
            or 403 Responses.
        "403":
          content:
            application/json:
              examples:
                Bad Request - forbidden:
                  $ref: '#/components/examples/forbidden'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was legal, but the server is refusing
            to respond. Please reach out to FactSet Account Team for assistance with
            authorization.
        "415":
          content:
            application/json:
              examples:
                Bad Request - Unsupported Media Type:
                  $ref: '#/components/examples/unsupportedMediaType'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type. This error may be returned when the
            caller sends a resource in a format that is not accepted by the server.
            This can be fixed by ensuring that the Content-Type header is set to the
            correct value. In this instance, "application/json" would be the appropriate
            value.
        "500":
          content:
            application/json:
              examples:
                Internal Server Error - Not Writable:
                  $ref: '#/components/examples/notWritable'
                Internal Server Error - General Exception:
                  $ref: '#/components/examples/generalException'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: Retrieve detailed investment strategy mandates for a specified fund
        or General Partner.
      tags:
      - Strategies
      x-accepts: application/json
components:
  examples:
    postFundCashflows:
      description: Request cashflows for multiple funds with date range and type filter
      summary: Fund Cashflows request for multiple funds
      value:
        data:
          ids:
          - 000NC9-E
          startDate: 2012-12-31
          endDate: 2025-12-31
          cfType: DISTRIBUTION
    postTransactionSearch:
      description: Search transactions by portfolio company, stage, and date range
      summary: Transaction search request
      value:
        data:
          ids:
          - 0071BP-E
          status: Completed
          stage: Late
          investmentType: Growth
          startDate: 2023-01-01
          endDate: 2025-12-31
    postIPOSearch:
      description: Search IPOs by status, date range, and size
      summary: IPO search request
      value:
        data:
          status: Priced
          startDate: 2020-01-01
          endDate: 2025-12-31
          minSizeUsd: 10000000
          maxSizeUsd: 600000000
    resultOfEntityMatches:
      description: Entity Matches
      value:
        data:
        - entityId: 0H3R4Y-E
          entityName: Alto Pharmacy LLC
          countryCode: US
          entityTypeCode: PVT
          matchFlag: true
    resultOfFunds:
      description: Fund Details
      value:
        data:
        - requestId: 001JYM-E
          factsetGpEntityId: 05PMRR-E
          entityProfile: Battery Ventures II LP seeks investment opportunities in
            high technology companies located in the US. The fund targets companies
            operating in the fields of communications and software (client server
            software, computer networking, mobile communications and multimedia).
            It provides financing for seed, early and later stage capital requirements.
          fundStatus: Liquidated
          dates:
            registrationDate: 1988-10-05
            liquidationDate: 1998-10-05
          financialInfo:
            dryPowder: null
            amountRaised: 43
            amountRaisedUsd: 43
            currency: USD
          investmentCriteria:
            transactionMin: null
            transactionMax: null
            investmentMin: null
            investmentMax: null
            ebitdaMin: null
            ebitdaMax: null
            enterpriseValueMin: null
            enterpriseValueMax: null
            revenueMin: null
            revenueMax: null
          terms:
            managementFee: null
            preferredReturn: null
            carriedInterest: null
            fundTermYears: null
            extensionYears: 0
            yearsExtended: null
            registry: null
          features:
            evergreenFund: false
            esgFocus: false
            subParticipation: false
            coInvest: false
            investmentPublic: false
          fundOfFundAllocation:
            vcPercent: null
            pePercent: null
            mezzaninePercent: null
            debtPercent: null
            reitPercent: null
            secondaryFundPercent: null
            infrastructurePercent: null
          error: null
        - requestId: 005GEM-E
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfPortfolioCompanies:
      description: Portfolio Companies
      value:
        data:
        - requestId: 0H7PQB-E
          portfolioCompanies:
          - factsetEntityId: 05ZY9V-E
            companyName: Compana Pet Brands LLC
            investmentDate: 2010-01-01
            sector: 'Chemicals: Major Diversified'
          - factsetEntityId: 05ZY9V-E
            companyName: Compana Pet Brands LLC
            investmentDate: 2017-12-11
            sector: 'Chemicals: Major Diversified'
          - factsetEntityId: 05ZY9V-E
            companyName: Compana Pet Brands LLC
            investmentDate: 1900-01-01
            sector: 'Chemicals: Major Diversified'
          - factsetEntityId: 05ZY9V-E
            companyName: Compana Pet Brands LLC
            investmentDate: 2015-01-05
            sector: 'Chemicals: Major Diversified'
          - factsetEntityId: 05ZY9V-E
            companyName: Compana Pet Brands LLC
            investmentDate: 2020-11-06
            sector: 'Chemicals: Major Diversified'
          - factsetEntityId: 05ZY9V-E
            companyName: Compana Pet Brands LLC
            investmentDate: 2021-01-08
            sector: 'Chemicals: Major Diversified'
          error: null
        - requestId: 0JGJY6-E
          portfolioCompanies:
          - factsetEntityId: 05VDFL-E
            companyName: SNP Schneider-Neureither & Partner SE
            investmentDate: 2025-03-26
            sector: Data Processing Services
          - factsetEntityId: 05VDFL-E
            companyName: SNP Schneider-Neureither & Partner SE
            investmentDate: 2025-04-10
            sector: Data Processing Services
          - factsetEntityId: 05VDFL-E
            companyName: SNP Schneider-Neureither & Partner SE
            investmentDate: 2025-03-26
            sector: Information Technology Services
          - factsetEntityId: 05VDFL-E
            companyName: SNP Schneider-Neureither & Partner SE
            investmentDate: 2025-04-10
            sector: Information Technology Services
          - factsetEntityId: 05VDFL-E
            companyName: SNP Schneider-Neureither & Partner SE
            investmentDate: 2025-03-26
            sector: Packaged Software
          - factsetEntityId: 05VDFL-E
            companyName: SNP Schneider-Neureither & Partner SE
            investmentDate: 2025-04-10
            sector: Packaged Software
          error: null
        - requestId: M7CLZV
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfFundraising:
      description: Fundraising
      value:
        data:
        - requestId: 0LC436-E
          fundraisingRounds:
          - fundraiseCloseCode: First Close
            closeDate: 2019-01-31
            originalTargetAmount: 2500
            originalTargetAmountUsd: 2752.875
            revisedTargetAmount: null
            revisedTargetAmountUsd: null
            originalTargetDate: 2019-09-21
            revisedTargetDate: null
            targetMin: null
            targetMax: 2850
            minMaxTargetDate: 2020-05-28
            fundraiseAmountRaised: 2850
            finalClose: false
            currency: EUR
          - fundraiseCloseCode: Second Close
            closeDate: 2020-05-28
            originalTargetAmount: 2500
            originalTargetAmountUsd: 2752.875
            revisedTargetAmount: null
            revisedTargetAmountUsd: null
            originalTargetDate: 2019-09-21
            revisedTargetDate: null
            targetMin: null
            targetMax: 2850
            minMaxTargetDate: 2020-05-28
            fundraiseAmountRaised: 2850
            finalClose: true
            currency: EUR
          error: null
        - requestId: M7CLZV
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfLimitedPartners:
      description: Limited Partners
      value:
        data:
        - requestId: 0LC436-E
          limitedPartners:
          - factsetLpEntityId: 002B3Q-E
            lpName: New York State Common Retirement Fund
            commitDate: 2019-10-11
            commitAmount: null
            commitAmountUsd: 220.72
            revisedCommit: 0
            currency: EUR
            fundraiseCloseCode: null
          - factsetLpEntityId: 00371D-E
            lpName: Prudential Financial, Inc.
            commitDate: 2019-11-27
            commitAmount: null
            commitAmountUsd: null
            revisedCommit: 0
            currency: null
            fundraiseCloseCode: null
          - factsetLpEntityId: 003GFV-E
            lpName: ICG Enterprise Trust Plc
            commitDate: 2020-01-31
            commitAmount: null
            commitAmountUsd: 17.7957
            revisedCommit: 0
            currency: GBP
            fundraiseCloseCode: null
          - factsetLpEntityId: 05FWK3-E
            lpName: Banque Pictet & Cie SA
            commitDate: 2020-05-28
            commitAmount: null
            commitAmountUsd: 11.0555
            revisedCommit: 0
            currency: EUR
            fundraiseCloseCode: null
          - factsetLpEntityId: 05JJ00-E
            lpName: Danica Pension, Livsforsikringsaktieselskab
            commitDate: 2020-05-28
            commitAmount: null
            commitAmountUsd: null
            revisedCommit: 0
            currency: null
            fundraiseCloseCode: null
          error: null
        - requestId: M7CLZV
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfCashflows:
      description: Cashflow Data
      value:
        data:
        - requestId: 000NC9-E
          cashflows:
          - date: 2014-03-31
            cfType: DISTRIBUTION
            cfAmount: 224624.4
            cfAmountUsd: 224624.4
            currency: USD
          error: null
        - requestId: M7CLZV
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfGps:
      description: General Partner Details
      value:
        data:
        - requestId: 000BKX-E
          gpName: Advent International LP
          features:
            investStrategyAvailable: false
            investPublicCompanies: true
            esgFocus: true
          aum:
            date: 2021-12-31
            amount: 88291.76275
            amountUsd: 88291.76275
            currency: USD
          error: null
        - requestId: 000BKX-E
          gpName: Advent International LP
          features:
            investStrategyAvailable: false
            investPublicCompanies: true
            esgFocus: true
          aum:
            date: 2022-12-31
            amount: 91674.441516
            amountUsd: 91674.441516
            currency: USD
          error: null
        - requestId: 000KCYH-E
          error:
            code: Bad Request
            title: Missing / Invalid Parameters
            detail: The parameter 'id' should be valid
    resultOfGpsFunds:
      description: General Partner Managed Funds
      value:
        data:
        - requestId: 000BKX-E
          funds:
          - factsetFundEntityId: 0768RJ-E
            fundName: Advent Central & Eastern Europe IV Fund
            fundStatus: Liquidated
            amountRaisedUsd: 1481.45
          - factsetFundEntityId: 0CNGH5-E
            fundName: Advent International GPE VII Fund
            fundStatus: Liquidated
            amountRaisedUsd: 11319.45
          - factsetFundEntityId: 0DYPRT-E
            fundName: Advent Latin American Private Equity Fund VI
            fundStatus: Liquidated
            amountRaisedUsd: 2100
          - factsetFundEntityId: 0FY9KS-E
            fundName: Advent AH LP
            fundStatus: Divesting
            amountRaisedUsd: null
          - factsetFundEntityId: 0G1KKR-E
            fundName: Advent International GPE VIII Fund
            fundStatus: Divesting
            amountRaisedUsd: 13000
          error: null
        - requestId: M7CLZV
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfTransactions:
      description: Transaction Details
      value:
        data:
        - requestId: 1000001
          factsetPortCoEntityId: 000C10-E
          portfolioCompanyName: American Safety Razor Co.
          investmentType: Growth
          status: Completed
          announcementDate: 1989-04-18
          closeDate: 1989-04-18
          financial:
            totalAmount: null
            totalAmountUsd: null
            cfTargetAmount: null
            currency: USD
            postMoneyValuation: null
            postMoneyValuationUsd: null
            preMoneyValuation: null
            preMoneyValuationUsd: null
          details:
            roundOfFunding: null
            stage: Late
            numBackingInvestors: null
            isAssumed: false
            synopsis: American Safety Razor Co. has raised an undisclosed amount from
              The Jordan Co. LP.
            securityNote: null
            securityCodesUsed:
            - Common Stock
          investors:
          - factsetInvestorEntityId: 05L1TX-E
            factsetFundEntityId: null
            amountInvested: null
            amountInvestedUsd: null
            percentOfRound: null
            isLead: false
            fundNotKnown: true
            noFundUsed: false
            factsetCrowdfundingEntityId: null
          securities:
          - securityCode: Common Stock
            amountInvested: null
            amountInvestedUsd: null
            percentOfRound: null
            currency: null
          error: null
        - requestId: 1000002
          factsetPortCoEntityId: 000DQU-E
          portfolioCompanyName: CIDCO, Inc.
          investmentType: Venture Capital
          status: Completed
          announcementDate: 1993-05-04
          closeDate: 1993-05-04
          financial:
            totalAmount: null
            totalAmountUsd: null
            cfTargetAmount: null
            currency: USD
            postMoneyValuation: null
            postMoneyValuationUsd: null
            preMoneyValuation: null
            preMoneyValuationUsd: null
          details:
            roundOfFunding: Series A
            stage: Early
            numBackingInvestors: null
            isAssumed: false
            synopsis: CIDCO, Inc. has raised an undisclosed amount in a Series A round
              from Summit Partners LP, HarbourVest Partners LLC.
            securityNote: null
            securityCodesUsed:
            - Common Stock
          investors:
          - factsetInvestorEntityId: 001KPM-E
            factsetFundEntityId: 001M6I-E
            amountInvested: null
            amountInvestedUsd: null
            percentOfRound: null
            isLead: false
            fundNotKnown: false
            noFundUsed: false
            factsetCrowdfundingEntityId: null
          - factsetInvestorEntityId: 001Z2Y-E
            factsetFundEntityId: null
            amountInvested: null
            amountInvestedUsd: null
            percentOfRound: null
            isLead: true
            fundNotKnown: true
            noFundUsed: false
            factsetCrowdfundingEntityId: null
          securities:
          - securityCode: Common Stock
            amountInvested: null
            amountInvestedUsd: null
            percentOfRound: null
            currency: null
          error: null
        - requestId: 999999
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: 999999
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfTransactionsSearch:
      description: Search Transaction
      value:
        data:
        - requestId: 0071BP-E
          transactionId: 2010553
          portfolioCompanyName: Space Exploration Technologies Corp.
          announcementDate: 2025-01-21
          closeDate: 2025-01-21
          totalAmountUsd: null
          stage: Late
          status: Completed
          roundOfFunding: null
          error: null
        - requestId: 0071BP-E
          transactionId: 2191362
          portfolioCompanyName: Space Exploration Technologies Corp.
          announcementDate: 2023-12-31
          closeDate: 2023-12-31
          totalAmountUsd: null
          stage: Late
          status: Completed
          roundOfFunding: null
          error: null
        - requestId: 000C1D-E
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfTransactionsMaActivity:
      description: Transaction M&A Details
      value:
        data:
        - requestId: 1000001
          advisors: []
          investments:
          - factsetPortCoEntityId: 000C1D-E
            factsetInvestorEntityId: 05L1TX-E
            entryDate: 1989-04-18
            exitDate: 1993-01-01
            entryType: Private Placement
            exitType: IPO
            dealId: null
            ipoId: null
            retainingStake: false
            investmentCategory: 1
          error: null
        - requestId: 1000002
          advisors: []
          investments:
          - factsetPortCoEntityId: 000DQV-E
            factsetInvestorEntityId: 001KPM-E
            entryDate: 1993-05-04
            exitDate: 1993-12-01
            entryType: Private Placement
            exitType: IPO
            dealId: null
            ipoId: null
            retainingStake: false
            investmentCategory: 1
          - factsetPortCoEntityId: 000DQV-E
            factsetInvestorEntityId: 001Z2Y-E
            entryDate: 1993-05-04
            exitDate: 1993-12-01
            entryType: Private Placement
            exitType: IPO
            dealId: null
            ipoId: null
            retainingStake: false
            investmentCategory: 1
          error: null
        - requestId: 999999
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: 999999
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfIpos:
      description: IPO Details
      value:
        data:
        - requestId: 23682
          ipoId: 3565
          factsetPortCoEntityId: 000P5F-E
          portfolioCompanyName: LIN TV Corp.
          tickerSymbol: TVL-US
          tradeDate: 2002-05-03
          closeDate: null
          offerPrice: 22
          offerPriceUsd: 22
          exchangeDate: 2002-05-03
          ipoSize: 430.1
          currency: USD
          ipoStatus: Priced
          announcementDate: 2002-02-20
          pricingDate: 2002-05-02
          error: null
        - requestId: 410293
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: 999999
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    resultOfIposSearch:
      description: Search IPOs
      value:
        data:
        - ipoId: 313371
          factsetPortCoEntityId: 1053HL-E
          portfolioCompanyName: VPBank Securities JSC
          tickerSymbol: VPX-VN
          tradeDate: 2025-12-11
          offerPriceUsd: 1.287725
          ipoSize: 12712500
          ipoStatus: Priced
        - ipoId: 314490
          factsetPortCoEntityId: 0WJ8PB-E
          portfolioCompanyName: VPS Securities JSC
          tickerSymbol: VCK-VN
          tradeDate: 2025-12-16
          offerPriceUsd: 2.277732
          ipoSize: 12138600
          ipoStatus: Priced
        - ipoId: 310495
          factsetPortCoEntityId: 0CB2XY-E
          portfolioCompanyName: Techcom Securities JSC
          tickerSymbol: TCX-VN
          tradeDate: 2025-10-21
          offerPriceUsd: 1.776561
          ipoSize: 10817820
          ipoStatus: Priced
        - ipoId: 238169
          factsetPortCoEntityId: 0G2P0L-E
          portfolioCompanyName: PT GoTo Gojek Tokopedia Tbk
          tickerSymbol: GOTO-ID
          tradeDate: 2022-04-11
          offerPriceUsd: 0.023528
          ipoSize: 1.3727888928E7
          ipoStatus: Priced
    resultOfEntityStrategies:
      description: Entity Investment Strategies
      value:
        data:
        - requestId: 001JYM-E
          isGp: false
          geographicFocus:
            regions:
            - code: "N"
              description: North America
            countries:
            - code: US
              description: United States
            statesProvinces: []
          sectorFocus:
            sectors:
            - code: "3200"
              description: Commercial Services
            - code: "3300"
              description: Technology Services
            - code: "4900"
              description: Communications
            industries:
            - code: "3320"
              description: Internet Software/Services
          investmentInstruments:
          - code: "1"
            description: Equity
          transactionStrategies:
          - code: "2"
            description: VC Seed
          - code: "3"
            description: VC Early
          - code: "4"
            description: VC Later
          controlCriteria:
          - code: "2"
            description: Minority Interest
          investorRoles: []
          error: null
        - requestId: ABCDEF-E
          error:
            code: notFound
            title: No data
            detail: There's no data for this id.
        - requestId: BADSYMBOL
          error:
            code: parameterError
            title: Invalid id
            detail: This is not a valid id.
    badRequestDateFormat:
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD
        in the date parameters. To resolve this, convert your date to YYYY-MM-DD.
      summary: Bad Request - Date Format
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          links:
            about: /factset-pevc/v1/{endpoint}
          title: 'The date parameter must be in the following date format: YYYY-MM-DD'
    badRequestRequiredParameter:
      description: This error message occurs when the request does not include the
        required parameters. Required parameters are indicated with a red asterisk
        symbol in the specification file.
      summary: Bad Request - Required Parameter Missing
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          links:
            about: /factset-pevc/v1/{endpoint}
          title: The parameter 'ids' is required and may not be empty.
    badRequestMalformedJSON:
      description: This error may be returned when the request body is specified as
        JSON. But is not in proper JSON format.
      summary: Bad Request - Malformed JSON Request
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          links:
            about: /factset-pevc/v1/{endpoint}
          title: Malformed JSON Request
    badRequestReadTimeout:
      description: This error may be returned if it takes more than 29 seconds to
        hear back from the data fetch service.
      summary: Bad Request - Read Timeout
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Bad Request
          links:
            about: /factset-pevc/v1/{endpoint}
          title: The request took too long. Try again with a smaller request.
    unauthenticated:
      description: This occurs when a user is not properly authenticated or recognized
        by the service. Please double-check the USERNAME-SERIAL and API-Key used to
        request and ensure you are within the IP range specified for the Key. Report
        the Issue under 401 error for help with troubleshooting.
      summary: User Authentication Failed
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: User Authentication Failed
          links:
            about: /factset-pevc/v1/{endpoint}
          title: User Authentication Failed.
    forbidden:
      description: The USERNAME-SERIAL attempted to request the endpoint/ID which
        is not authorized to access. The request was legal, but the server is refusing
        to respond. Please reach out to FactSet Account Team for assistance with authorization.
      summary: Forbidden
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Forbidden
          links:
            about: /factset-pevc/v1/{endpoint}
          title: User is not authorized for the id requested, please reach out to
            FactSet for support
    unsupportedMediaType:
      description: This bad request occurs when the media type passed in the request
        is not supported. Currently, the APIs only support 'application/json'.
      summary: Unsupported Media Type
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Unsupported Media Type
          links:
            about: /factset-pevc/v1/{endpoint}
          title: text/html media type is not supported. Supported media types are
            application/json.
    notWritable:
      description: This error may be returned when the server encounters an error
        writing the JSON response.
      summary: Internal Server Error - Not Writable
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Internal Server Error
          links:
            about: /factset-pevc/v1/{endpoint}
          title: Error writing JSON output
    generalException:
      description: This is the most general error that can be returned to by the service.
        Please `Report Issue` to FactSet.
      summary: Internal Server Error - General Exception
      value:
        errors:
        - id: adb01824-252f-4420-b0c6-35a1e3507ef5
          code: Internal Server Error
          links:
            about: /factset-pevc/v1/{endpoint}
          title: Unexpected error
  parameters:
    ids:
      allowEmptyValue: false
      description: A list of FactSet Permanent Entity Identifiers (FactSet IDs) for
        **Private Equity and Venture Capital Funds**. These IDs are in the format
        'XXXXXX-E' and are the primary input for most fund-related endpoints. These
        IDs can be retrieved from the /universe endpoint
      explode: true
      in: query
      name: ids
      required: true
      schema:
        example:
        - 001JYM-E
        - 005GEM-E
        items:
          type: string
        maxItems: 50
        minItems: 1
        type: array
      style: form
    portfolioCompaniesIds:
      allowEmptyValue: false
      description: A list of FactSet Permanent Entity Identifiers (FactSet IDs) for
        **Private Equity and Venture Capital Funds**. These IDs are in the format
        'XXXXXX-E' and are the primary input for most fund-related endpoints. These
        IDs can be retrieved from the /universe endpoint
      explode: true
      in: query
      name: ids
      required: true
      schema:
        example:
        - 0H7PQB-E
        - 0JGJY6-E
        items:
          type: string
        maxItems: 50
        minItems: 1
        type: array
      style: form
    fundraisingIds:
      allowEmptyValue: false
      description: A list of FactSet Permanent Entity Identifiers (FactSet IDs) for
        **Private Equity and Venture Capital Funds**. These IDs are in the format
        'XXXXXX-E' and are the primary input for most fund-related endpoints. These
        IDs can be retrieved from the /universe endpoint
      explode: true
      in: query
      name: ids
      required: true
      schema:
        example:
        - 0LC436-E
        items:
          type: string
        maxItems: 50
        minItems: 1
        type: array
      style: form
    factsetGpEntityIds:
      description: A list of FactSet Permanent Entity Identifiers (FactSet IDs) for
        **General Partner (GP) firms**. These IDs are used to identify the management
        companies of the funds.
      explode: true
      in: query
      name: ids
      required: true
      schema:
        example:
        - 000BKX-E
        - 000KCYH-E
        items:
          type: string
        maxItems: 50
        minItems: 1
        type: array
      style: form
    transactionIds:
      description: A list of unique FactSet-generated identifiers for **Private Equity
        or Venture Capital transactions**. These IDs link to a single investment event,
        distinct from the main deal ID.
      explode: true
      in: query
      name: ids
      required: true
      schema:
        example:
        - 1000001
        - 1000002
        items:
          type: integer
        maxItems: 50
        minItems: 1
        type: array
      style: form
    dealIds:
      description: A list of unique FactSet-generated identifiers (Deal IDs) assigned
        to a **Merger & Acquisition (M&A) or Venture Capital (VC) deal**. This ID
        represents the main event being tracked.
      explode: true
      in: query
      name: ids
      required: true
      schema:
        example:
        - 23682
        items:
          type: integer
        maxItems: 50
        minItems: 1
        type: array
      style: form
    asOfDate:
      description: "The as-of date for the AUM data in **YYYY-MM-DD** format. Returns\
        \ the AUM value as of the specified date.\n\nNote: \n- If omitted: The response\
        \ will return the latest available AUM data.\n- Future dates (T+1) are not\
        \ accepted in this endpoint.\n"
      example: 2023-08-27
      explode: true
      in: query
      name: asOfDate
      required: false
      schema:
        format: date
        type: string
      style: form
    name:
      description: |
        The proper name of a Private Equity/Venture Capital firm, Fund, or Portfolio Company to be matched against the FactSet entity universe.<br/>  <p>***max length** =  200 per request*</p>
      example: Alto Pharmacy
      explode: true
      in: query
      name: name
      required: true
      schema:
        maxLength: 200
        minLength: 1
        type: string
      style: form
    country:
      description: The two-character ISO2 country code corresponding to the entity's
        primary location. Providing this code helps to narrow the entity match candidates,
        significantly improving the accuracy of the matching algorithm. For a list
        of ISO2 Country codes, visit [OA 8754](https://my.apps.factset.com/oa/pages/8754).
      example: US
      explode: true
      in: query
      name: country
      required: false
      schema:
        maxLength: 2
        minLength: 2
        type: string
      style: form
    entityType:
[...]
