openapi: 3.0.0
info:
  contact:
    email: teammustang@factset.com
    name: Team Mustang
  description: A service that provides access to Real Time or Delayed data snapped
    at hourly intervals for an entire Exchange. Clients that need access to the DFSnapshot
    product for a custom watchlist snapped at a client specified interval should use
    this API
  title: Exchange Snapshot API
  version: "1.0"
servers:
- url: https://api.factset.com/bulk-documents/exchange-snapshot
security:
- FactSetApiKey: []
- FactSetOAuth2: []
paths:
  /v1/list-files:
    get:
      description: A service that provides access to Real Time or Delayed data snapped
        at hourly intervals for an entire Exchange
      operationId: get-v1-list-files
      parameters:
      - description: any product subscribed by client. Minimum value for prod code=9001
        explode: true
        in: query
        name: product
        required: true
        schema:
          example: 10001
          minimum: 9001
          type: integer
        style: form
      - description: YYYYMMDD (Choose between 1 and 4 previous trading days)
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: YYYYMMDD (Choose between 1 and 4 previous trading days, greater
          than or equal to start date)
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: HHMM (24 hour time EST)
        explode: true
        in: query
        name: start_time
        required: true
        schema:
          type: string
        style: form
      - description: HHMM (24 hour time EST)
        explode: true
        in: query
        name: end_time
        required: true
        schema:
          format: time
          type: string
        style: form
      - description: Option to select from static, DL or RT data
        explode: true
        in: query
        name: access
        required: false
        schema:
          default: DL
          enum:
          - static
          - DL
          - RT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Sample Response:
                  value:
                    product: "10001"
                    date: "20210604"
                    time: "0800"
                    responseType: DL
                    fileName: 10001_20210604-0800.csv.gz
                    url: https://fdss3-quotes-timed-snapshot-stage.s3.amazonaws.com/DL/10001_20210604-0800.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUPYONY3ISNP4VUCF%2F20210607%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210607T200717Z&X-Amz-Expires=43200&X-Amz-Security-Token=FwoGZXIvYXdzEL7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDP%2FDn2HdZcDOLKNnGiL4AZoairNbKIsTgOKJveIJp64svOMyehuoHc2uJ2rKaI46HR3nP6ew1Ovqg%2FdS%2BoljndNlCtG2jKrM7SOt%2BDxirwnTOe6O%2FDuYU1z8l4uwUXrFB6ENyOoZmbWdJpZ2H1LSAoVAfX1IVY5eOYkhK8VA8V7P9jhmKIC1WHSR4ssFsGWXMQYsS%2F8zZvrybHlaeoDfcopiAulzn%2BsmYgzATwJrnxIAcc9O1NfrTOLKRHeeEagNFj4UZWhDJ2xWnMQ0YghylcowaR8SSxyLM8u38OmAOKrUFp9DKGZ9CBtvHyskJ1%2Fr6T%2BWRjTQWQw%2F747U6ftuy5AypxYIGMWbKPT4%2BYUGMiv2Qbz2V8ebQjM8Ptg%2BwKKhJ24h6LOdgqQEn4JFk9%2BAeS1%2Fiu6NQngA1gKh&X-Amz-SignedHeaders=host&X-Amz-Signature=3173444a681f696a40348ae175a8a38cee908fc76312934b9404b98bb5d0a80d
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: 'Success '
        "400":
          content:
            application/json:
              examples:
                error_message:
                  value:
                    error_message: Missing or Wrong product parameter
              schema:
                $ref: '#/components/schemas/Error-Messages'
          description: Bad Request
      summary: Snapshot
      tags:
      - Snapshot
      x-accepts: application/json
components:
  schemas:
    data:
      description: Array of data objects
      properties:
        product:
          description: Product or Exchange code. Minimum value for prod code=9001
          type: integer
        date:
          description: Date for which data is requested
          type: string
        time:
          description: time for which data is requested
          type: string
        responseType:
          description: Type of data (Delayed or Real Time)
          type: string
        fileName:
          description: Name of the file(s) generated for the query requested. This
            is a combination of product code, date & time of request
          type: string
        url:
          description: Download link for the snapshot file with requested parameters
          type: string
      title: data
      type: object
    meta:
      description: Array of metadata objects
      properties:
        sort:
          type: string
      title: meta
      type: object
    Error-Messages:
      properties:
        Permission Error:
          description: Error message when user is not subscribed to the Exchange Snapshot
            API
          type: string
        Param Error:
          description: when the parameters passed in the query are incorrect or missing
          type: string
        startDate:
          description: startDate must be < 0
          type: string
        endDate:
          description: endDate must be < 0
          type: string
      title: Error-Messages
      type: object
    inline_response_200:
      example:
        date: date
        product: product
        responseType: responseType
        fileName: fileName
        time: time
        url: url
      properties:
        product:
          description: Product (Exchange) Code for which the data is requested
          type: string
        date:
          description: Date for which the snapshot is generated
          type: string
        time:
          description: Time for which the snapshot is generated
          type: string
        responseType:
          description: Type of data "RT" or "DL"
          type: string
        fileName:
          description: fileName a combination of product code, date of snapshot &
            time of snapshot
          type: string
        url:
          description: download link of snapshot file
          type: string
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

