"""
    Style Performance and Risk Analysis (SPAR) Engine API

    Allow clients to fetch Analytics through APIs.  # noqa: E501

    The version of the OpenAPI document: 3.16.2
    Contact: api@factset.com
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401
from multiprocessing.pool import ApplyResult
import typing

from fds.sdk.SPAREngine.api_client import ApiClient, Endpoint as _Endpoint
from fds.sdk.SPAREngine.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from fds.sdk.SPAREngine.exceptions import ApiException
from fds.sdk.SPAREngine.model.client_error_response import ClientErrorResponse
from fds.sdk.SPAREngine.model.spar_peer_universe_root import SPARPeerUniverseRoot





class SPARPeerUniverseApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        self.get_list_of_peer_universe_endpoint = _Endpoint(
            settings={
                'response_type': (
                  { 200: (SPARPeerUniverseRoot,), 400: (ClientErrorResponse,), 404: (ClientErrorResponse,),  },
                  None
                ),
                'auth': [
                    'FactSetApiKey',
                    'FactSetOAuth2'
                ],
                'endpoint_path': '/analytics/engines/spar/v3/peer-universe',
                'operation_id': 'get_list_of_peer_universe',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'category',
                    'name',
                    'directory',
                ],
                'required': [
                    'category',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'category':
                        (str,),
                    'name':
                        (str,),
                    'directory':
                        (str,),
                },
                'attribute_map': {
                    'category': 'category',
                    'name': 'name',
                    'directory': 'directory',
                },
                'location_map': {
                    'category': 'query',
                    'name': 'query',
                    'directory': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )


    @staticmethod
    def apply_kwargs_defaults(kwargs, return_http_data_only, async_req):
        kwargs["async_req"] = async_req
        kwargs["_return_http_data_only"] = return_http_data_only
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")


    def get_list_of_peer_universe(
        self,
        category,
        **kwargs
    ) -> SPARPeerUniverseRoot:
        """Get List of Peer Universe  # noqa: E501

        Retrieves peer universe information that can be used when specifying universeId for SPAR calculations. This endpoint returns a list of available universes for different categories.     Parameters: Category is mandatory.    Usage:  * Category parameter: Fetches all peer universe details available for specified category.  * Use parameters to narrow down your lookup based on peer universe name, category, and/or directory.    Remarks:  * Category Values: Allowed values include category name like 'US Funds', 'Asia Funds', 'Intl Funds','Institutions', 'Hedge Funds', 'Database', 'Domicile', 'Manager', 'Rating', 'OFDBs', 'Screens' etc.  * Access to specific categories may vary depending on your permissions.  * Directory parameter is mandatory when category is 'OFDBs' or 'Screens'. Eg: CLIENT:/FOLDER1.  * Note: Category 'Client funds' is not supported yet.  # noqa: E501
        This method makes a synchronous HTTP request. Returns the http data only

        Args:
            category (str): Peer universe category

        Keyword Args:
            name (str): Peer universe name. [optional]
            directory (str): The directory to get the peer universe. [optional]
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            SPARPeerUniverseRoot
                Response Object
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=True, async_req=False)
        kwargs['category'] = \
            category
        return self.get_list_of_peer_universe_endpoint.call_with_http_info(**kwargs)

    def get_list_of_peer_universe_with_http_info(
        self,
        category,
        **kwargs
    ) -> typing.Tuple[SPARPeerUniverseRoot, int, typing.MutableMapping]:
        """Get List of Peer Universe  # noqa: E501

        Retrieves peer universe information that can be used when specifying universeId for SPAR calculations. This endpoint returns a list of available universes for different categories.     Parameters: Category is mandatory.    Usage:  * Category parameter: Fetches all peer universe details available for specified category.  * Use parameters to narrow down your lookup based on peer universe name, category, and/or directory.    Remarks:  * Category Values: Allowed values include category name like 'US Funds', 'Asia Funds', 'Intl Funds','Institutions', 'Hedge Funds', 'Database', 'Domicile', 'Manager', 'Rating', 'OFDBs', 'Screens' etc.  * Access to specific categories may vary depending on your permissions.  * Directory parameter is mandatory when category is 'OFDBs' or 'Screens'. Eg: CLIENT:/FOLDER1.  * Note: Category 'Client funds' is not supported yet.  # noqa: E501
        This method makes a synchronous HTTP request. Returns http data, http status and headers

        Args:
            category (str): Peer universe category

        Keyword Args:
            name (str): Peer universe name. [optional]
            directory (str): The directory to get the peer universe. [optional]
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            SPARPeerUniverseRoot
                Response Object
            int
                Http Status Code
            dict
                Dictionary of the response headers
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=False, async_req=False)
        kwargs['category'] = \
            category
        return self.get_list_of_peer_universe_endpoint.call_with_http_info(**kwargs)

    def get_list_of_peer_universe_async(
        self,
        category,
        **kwargs
    ) -> "ApplyResult[SPARPeerUniverseRoot]":
        """Get List of Peer Universe  # noqa: E501

        Retrieves peer universe information that can be used when specifying universeId for SPAR calculations. This endpoint returns a list of available universes for different categories.     Parameters: Category is mandatory.    Usage:  * Category parameter: Fetches all peer universe details available for specified category.  * Use parameters to narrow down your lookup based on peer universe name, category, and/or directory.    Remarks:  * Category Values: Allowed values include category name like 'US Funds', 'Asia Funds', 'Intl Funds','Institutions', 'Hedge Funds', 'Database', 'Domicile', 'Manager', 'Rating', 'OFDBs', 'Screens' etc.  * Access to specific categories may vary depending on your permissions.  * Directory parameter is mandatory when category is 'OFDBs' or 'Screens'. Eg: CLIENT:/FOLDER1.  * Note: Category 'Client funds' is not supported yet.  # noqa: E501
        This method makes a asynchronous HTTP request. Returns the http data, wrapped in ApplyResult

        Args:
            category (str): Peer universe category

        Keyword Args:
            name (str): Peer universe name. [optional]
            directory (str): The directory to get the peer universe. [optional]
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            ApplyResult[SPARPeerUniverseRoot]
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=True, async_req=True)
        kwargs['category'] = \
            category
        return self.get_list_of_peer_universe_endpoint.call_with_http_info(**kwargs)

    def get_list_of_peer_universe_with_http_info_async(
        self,
        category,
        **kwargs
    ) -> "ApplyResult[typing.Tuple[SPARPeerUniverseRoot, int, typing.MutableMapping]]":
        """Get List of Peer Universe  # noqa: E501

        Retrieves peer universe information that can be used when specifying universeId for SPAR calculations. This endpoint returns a list of available universes for different categories.     Parameters: Category is mandatory.    Usage:  * Category parameter: Fetches all peer universe details available for specified category.  * Use parameters to narrow down your lookup based on peer universe name, category, and/or directory.    Remarks:  * Category Values: Allowed values include category name like 'US Funds', 'Asia Funds', 'Intl Funds','Institutions', 'Hedge Funds', 'Database', 'Domicile', 'Manager', 'Rating', 'OFDBs', 'Screens' etc.  * Access to specific categories may vary depending on your permissions.  * Directory parameter is mandatory when category is 'OFDBs' or 'Screens'. Eg: CLIENT:/FOLDER1.  * Note: Category 'Client funds' is not supported yet.  # noqa: E501
        This method makes a asynchronous HTTP request. Returns http data, http status and headers, wrapped in ApplyResult

        Args:
            category (str): Peer universe category

        Keyword Args:
            name (str): Peer universe name. [optional]
            directory (str): The directory to get the peer universe. [optional]
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True. NOTE: if this API returns a file, it is the responsibility
                of the caller to close the file stream.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
        Returns:
            ApplyResult[(SPARPeerUniverseRoot, int, typing.Dict)]
        """
        self.apply_kwargs_defaults(kwargs=kwargs, return_http_data_only=False, async_req=True)
        kwargs['category'] = \
            category
        return self.get_list_of_peer_universe_endpoint.call_with_http_info(**kwargs)


