openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: |
    Time series data, end-of-day or intraday, tick-by-tick or subsampled. Additional vendor-specific endpoints provide a modified interface
    for seamless integration with the ChartIQ chart library.

    This API is focused on high-performance applications that are

    * serving millions of end-users,
    * accessible by client browsers via the internet,
    * integrated into complex infrastructures such as existing frontend frameworks or authentication services.

    This API has been designed for direct use by client web applications and feature extreme low latency:
    The average response time across all endpoints is 30 ms whereas 99% of all requests are answered in close to under 300ms.

    See the [Real-Time Quotes API for Digital Portals](https://developer.factset.com/api-catalog/real-time-quotes-api) for access to detailed
    price information.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Real-Time Time Series API
  version: 4.0.0
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
servers:
- url: https://api.factset.com/wealth/v4
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: prices endpoints
  name: prices
- description: vendor endpoints
  name: vendor
paths:
  /vendor/chart-iq/time-series/eod/list:
    post:
      description: End-of-day time series data for a notation. The resulting time
        series is always adjusted for currency changes.<br><br>Pagination to a previous
        page is not supported and `pagination.previous` is always `null`.
      operationId: postVendorChartIqTimeSeriesEodList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                range:
                  start: 2024-12-24
                  end: 2024-01-01
                newestFirst: true
                adjustments:
                  payout: true
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-01-01
                    end: 2024-01-01
                  quality: EOD
                  prices:
                  - - 2.02
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Response
      summary: End-of-day time series data for a notation.
      tags:
      - vendor
      x-contentType: application/json
      x-accepts: application/json
  /vendor/chart-iq/time-series/eod/subsample/get:
    post:
      description: Single subsample end-of-day data for a notation. The sample is
        always adjusted for currency changes. The subsample may exceed the entitled
        date range, but will be based only on days that are in the entitled range.
      operationId: postVendorChartIqTimeSeriesEodSubsampleGet
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                interval:
                  start: 2024-01-01
                  end: 2024-01-01
                adjustments:
                  payout: true
                  split: true
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleGetRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  quality: EOD
                  subsample:
                  - 2.02
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Response
      summary: Single subsample end-of-day data for a notation.
      tags:
      - vendor
      x-contentType: application/json
      x-accepts: application/json
  /vendor/chart-iq/time-series/eod/subsample/list:
    post:
      description: Subsampled end-of-day time series data for a notation. The resulting
        time series is always adjusted for currency changes. If a subsample's date
        range is not entirely within the maximally entitled date range, the subsample
        is excluded from the response.<br><br>Pagination to a previous page is not
        supported and `pagination.previous` is always `null`.
      operationId: postVendorChartIqTimeSeriesEodSubsampleList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                intervalSelection:
                  intervals:
                  - 2024-01-01
                  - 2024-02-01
                  samples:
                    end: 2024-01-01
                    number: 2999
                    granularity: 1w
                newestFirst: true
                adjustments:
                  payout: true
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-12-24
                    end: 2024-01-01
                  quality: EOD
                  subsamples:
                  - - 5.05
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Response
      summary: Subsampled end-of-day time series data for a notation.
      tags:
      - vendor
      x-contentType: application/json
      x-accepts: application/json
  /vendor/chart-iq/time-series/intraday/subsample/get:
    post:
      description: Single subsample intraday data for a notation. The subsample may
        exceed the entitled time range, but will be based only on ticks that are in
        the entitled range.
      operationId: postVendorChartIqTimeSeriesIntradaySubsampleGet
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                from: 2024-12-24T18:00:00.000000Z
                granularity: 1h
                adjustments:
                  split: true
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesIntradaySubsampleGetRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  quality: RLT
                  subsample:
                  - 3.1415
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful Response
      summary: Single subsample intraday data for a notation.
      tags:
      - vendor
      x-contentType: application/json
      x-accepts: application/json
  /vendor/chart-iq/time-series/intraday/subsample/list:
    post:
      description: Subsampled intraday time series data for a notation. If a subsample's
        time range is not entirely within the maximally entitled time range, the subsample
        is excluded from the response.<br><br>Pagination to a previous page is not
        supported and `pagination.previous` is always `null`.
      operationId: postVendorChartIqTimeSeriesIntradaySubsampleList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                range:
                  start: 2024-01-01T00:00:00.000Z
                  end: 2024-12-24T18:00:00.000000Z
                granularity: 1h
                newestFirst: false
                adjustments:
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesIntradaySubsampleListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-01-01T00:00:00.000Z
                    end: 2024-12-24T18:00:00.000000Z
                  quality: RLT
                  subsamples:
                  - - 3.1415
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful Response
      summary: Subsampled intraday time series data for a notation.
      tags:
      - vendor
      x-contentType: application/json
      x-accepts: application/json
  /prices/time-series/eod/list:
    post:
      description: End-of-day time series data for a notation. The resulting time
        series is always adjusted for currency changes.<br><br>Pagination to a previous
        page is not supported and `pagination.previous` is always `null`.
      operationId: postPricesTimeSeriesEodList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                range:
                  start: 2024-01-01
                  end: 2024-01-01
                newestFirst: false
                adjustments:
                  payout: true
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-12-24
                    end: 2024-12-24
                  quality: EOD
                  prices:
                  - date: 2024-01-01
                    first: 3.03
                    last: 2.02
                    low: 3.03
                    high: 2.02
                    tradingVolume: 2.02
                    tradingValue: 5.05
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful Response
      summary: End-of-day time series data for a notation.
      tags:
      - prices
      x-contentType: application/json
      x-accepts: application/json
  /prices/time-series/eod/subsample/get:
    post:
      description: Single subsample end-of-day data for a notation. The sample is
        always adjusted for currency changes. The subsample may exceed the entitled
        date range, but will be based only on days that are in the entitled range.
      operationId: postPricesTimeSeriesEodSubsampleGet
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                interval:
                  start: 2024-12-24
                  end: 2024-12-24
                adjustments:
                  payout: true
                  split: true
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleGetRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  quality: EOD
                  subsample:
                    date: 2024-01-01
                    first: 1.01
                    last: 4.04
                    low: 2.02
                    high: 3.1415
                    tradingVolume: 1.01
                    tradingValue: 5.05
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successful Response
      summary: Single subsample end-of-day data for a notation.
      tags:
      - prices
      x-contentType: application/json
      x-accepts: application/json
  /prices/time-series/eod/subsample/list:
    post:
      description: Subsampled end-of-day time series data for a notation. The resulting
        time series is always adjusted for currency changes. If a subsample's date
        range is not entirely within the maximally entitled date range, the subsample
        is excluded from the response.<br><br>Pagination to a previous page is not
        supported and `pagination.previous` is always `null`.
      operationId: postPricesTimeSeriesEodSubsampleList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                intervalSelection:
                  intervals:
                  - 2024-01-01
                  - 2024-02-01
                  samples:
                    end: 2024-12-24
                    number: 8068
                    granularity: 1w
                newestFirst: true
                adjustments:
                  payout: false
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-01-01
                    end: 2024-01-01
                  quality: EOD
                  subsamples:
                  - date: 2024-12-24
                    first: 1.01
                    last: 4.04
                    low: 1.01
                    high: 3.1415
                    tradingVolume: 3.03
                    tradingValue: 5.05
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful Response
      summary: Subsampled end-of-day time series data for a notation.
      tags:
      - prices
      x-contentType: application/json
      x-accepts: application/json
  /prices/time-series/intraday/list:
    post:
      description: Intraday time series data for a notation.<br><br>Pagination to
        a previous page is not supported and `pagination.previous` is always `null`.
      operationId: postPricesTimeSeriesIntradayList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                range:
                  start: 2024-01-01T00:00:00.000Z
                  end: 2024-12-24T18:00:00.000000Z
                newestFirst: true
                applyTickCorrections: none
                includeVolumeOnlyTicks: true
                adjustments:
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-01-01T00:00:00.000Z
                  quality: DLY
                  prices:
                  - time: 2024-12-24T18:00:00.000000Z
                    tickId: 3.1415
                    price: 3.1415
                    quoteCondition: Lorem ipsum
                    tradingVolume: 4.04
                    tradingValue: 2.02
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successful Response
      summary: Intraday time series data for a notation.
      tags:
      - prices
      x-contentType: application/json
      x-accepts: application/json
  /prices/time-series/intraday/subsample/get:
    post:
      description: Single subsample intraday data for a notation. The subsample may
        exceed the entitled time range, but will be based only on ticks that are in
        the entitled range.
      operationId: postPricesTimeSeriesIntradaySubsampleGet
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                from: 2024-01-01T00:00:00.000Z
                granularity: 1h
                adjustments:
                  split: true
              meta:
                attributes: []
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleGetRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  quality: DLY
                  subsample:
                    time: 2024-01-01T00:00:00.000Z
                    first: 4.04
                    last: 4.04
                    low: 1.01
                    high: 5.05
                    tradingVolume: 5.05
                    tradingValue: 3.03
                meta:
                  status:
                    code: 200
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successful Response
      summary: Single subsample intraday data for a notation.
      tags:
      - prices
      x-contentType: application/json
      x-accepts: application/json
  /prices/time-series/intraday/subsample/list:
    post:
      description: Subsampled intraday time series data for a notation. If a subsample's
        time range is not entirely within the maximally entitled time range, the subsample
        is excluded from the response.<br><br>Pagination to a previous page is not
        supported and `pagination.previous` is always `null`.
      operationId: postPricesTimeSeriesIntradaySubsampleList
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              data:
                identifier:
                  value: FDS-US
                  type: tickerRegion
                type: trade
                quality: DLY
                range:
                  start: 2024-12-24T18:00:00.000000Z
                  end: 2024-01-01T00:00:00.000Z
                alignRange: true
                granularity: 1h
                newestFirst: false
                adjustments:
                  split: true
              meta:
                attributes: []
                pagination:
                  cursor: Lorem ipsum
                  limit: 20
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListRequest'
        description: Request Body
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  idNotation: "1532562"
                  sourceIdentifier: FDS-US
                  range:
                    start: 2024-12-24T18:00:00.000000Z
                    end: 2024-12-24T18:00:00.000000Z
                  quality: DLY
                  volumeWeightedAveragePrice: 1.01
                  subsamples:
                  - time: 2024-01-01T00:00:00.000Z
                    first: 3.03
                    last: 4.04
                    low: 5.05
                    high: 5.05
                    tradingVolume: 1.01
                    tradingValue: 4.04
                    volumeWeightedAveragePrice: 2.02
                meta:
                  status:
                    code: 200
                  pagination:
                    next: Lorem ipsum
                    previous: Lorem ipsum
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful Response
      summary: Subsampled intraday time series data for a notation.
      tags:
      - prices
      x-contentType: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses:
    PostVendorChartIQTimeSeriesEodList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-01-01
                end: 2024-01-01
              quality: EOD
              prices:
              - - 2.02
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200'
      description: Successful Response
    PostVendorChartIQTimeSeriesEodSubsampleGet200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              quality: EOD
              subsample:
              - 2.02
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_1'
      description: Successful Response
    PostVendorChartIQTimeSeriesEodSubsampleList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-12-24
                end: 2024-01-01
              quality: EOD
              subsamples:
              - - 5.05
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200_2'
      description: Successful Response
    PostVendorChartIQTimeSeriesIntradaySubsampleGet200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              quality: RLT
              subsample:
              - 3.1415
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_3'
      description: Successful Response
    PostVendorChartIQTimeSeriesIntradaySubsampleList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-01-01T00:00:00.000Z
                end: 2024-12-24T18:00:00.000000Z
              quality: RLT
              subsamples:
              - - 3.1415
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200_4'
      description: Successful Response
    PostPricesTimeSeriesEodList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-12-24
                end: 2024-12-24
              quality: EOD
              prices:
              - date: 2024-01-01
                first: 3.03
                last: 2.02
                low: 3.03
                high: 2.02
                tradingVolume: 2.02
                tradingValue: 5.05
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200_5'
      description: Successful Response
    PostPricesTimeSeriesEodSubsampleGet200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              quality: EOD
              subsample:
                date: 2024-01-01
                first: 1.01
                last: 4.04
                low: 2.02
                high: 3.1415
                tradingVolume: 1.01
                tradingValue: 5.05
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_6'
      description: Successful Response
    PostPricesTimeSeriesEodSubsampleList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-01-01
                end: 2024-01-01
              quality: EOD
              subsamples:
              - date: 2024-12-24
                first: 1.01
                last: 4.04
                low: 1.01
                high: 3.1415
                tradingVolume: 3.03
                tradingValue: 5.05
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200_7'
      description: Successful Response
    PostPricesTimeSeriesIntradayList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-12-24T18:00:00.000000Z
                end: 2024-01-01T00:00:00.000Z
              quality: DLY
              prices:
              - time: 2024-12-24T18:00:00.000000Z
                tickId: 3.1415
                price: 3.1415
                quoteCondition: Lorem ipsum
                tradingVolume: 4.04
                tradingValue: 2.02
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200_8'
      description: Successful Response
    PostPricesTimeSeriesIntradaySubsampleGet200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              quality: DLY
              subsample:
                time: 2024-01-01T00:00:00.000Z
                first: 4.04
                last: 4.04
                low: 1.01
                high: 5.05
                tradingVolume: 5.05
                tradingValue: 3.03
            meta:
              status:
                code: 200
          schema:
            $ref: '#/components/schemas/inline_response_200_9'
      description: Successful Response
    PostPricesTimeSeriesIntradaySubsampleList200Response:
      content:
        application/json:
          example:
            data:
              idNotation: "1532562"
              sourceIdentifier: FDS-US
              range:
                start: 2024-12-24T18:00:00.000000Z
                end: 2024-12-24T18:00:00.000000Z
              quality: DLY
              volumeWeightedAveragePrice: 1.01
              subsamples:
              - time: 2024-01-01T00:00:00.000Z
                first: 3.03
                last: 4.04
                low: 5.05
                high: 5.05
                tradingVolume: 1.01
                tradingValue: 4.04
                volumeWeightedAveragePrice: 2.02
            meta:
              status:
                code: 200
              pagination:
                next: Lorem ipsum
                previous: Lorem ipsum
          schema:
            $ref: '#/components/schemas/inline_response_200_10'
      description: Successful Response
  schemas:
    AttributesMember:
      description: Limit the attributes returned in the response to the specified
        set.
      example: []
      items:
        maxLength: 100
        type: string
      maxItems: 100
      type: array
      uniqueItems: true
    StatusObject:
      description: The status member contains the status code of the response.
      example:
        code: 200
      properties:
        code:
          description: The HTTP status code of the response, mirroring the code from
            the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 200
          format: int32
          type: number
      required:
      - code
      type: object
    CursorBasedPaginationOutputObjectWithoutTotal:
      description: Pagination attributes for the cursor-based pagination strategy;
        a total element count is not supported.
      example:
        next: Lorem ipsum
        previous: Lorem ipsum
      properties:
        next:
          description: The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: Lorem ipsum
          type: string
        previous:
          description: The previous cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination. If a previous cursor
            position is not supported or available, `previous` is `null`.
          example: Lorem ipsum
          type: string
      required:
      - next
      - previous
      type: object
    PostVendorChartIQTimeSeriesEodListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
            payout: true
          newestFirst: true
          range:
            start: 2024-12-24T00:00:00.000+0000
            end: 2024-01-01T00:00:00.000+0000
          type: trade
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta'
      required:
      - data
      type: object
    PostVendorChartIQTimeSeriesEodSubsampleGetRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
            payout: true
          interval:
            start: 2024-01-01T00:00:00.000+0000
            end: 2024-01-01T00:00:00.000+0000
          type: trade
          quality: DLY
        meta:
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleGetRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleGetRequest_meta'
      required:
      - data
      type: object
    PostVendorChartIQTimeSeriesEodSubsampleListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
            payout: true
          newestFirst: true
          intervalSelection:
            intervals:
            - 2024-01-01
            - 2024-02-01
            samples:
              number: 2999
              granularity: 1w
              end: 2024-01-01T00:00:00.000+0000
          type: trade
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleListRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta'
      required:
      - data
      type: object
    PostVendorChartIQTimeSeriesIntradaySubsampleGetRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
          granularity: 1h
          from: 2024-12-24T18:00:00Z
          type: trade
          quality: DLY
        meta:
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesIntradaySubsampleGetRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleGetRequest_meta'
      required:
      - data
      type: object
    PostVendorChartIQTimeSeriesIntradaySubsampleListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
          newestFirst: false
          granularity: 1h
          range:
            start: 2024-01-01T00:00:00Z
            end: 2024-12-24T18:00:00Z
          type: trade
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesIntradaySubsampleListRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesEodListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
            payout: true
          newestFirst: false
          range:
            start: 2024-01-01T00:00:00.000+0000
            end: 2024-01-01T00:00:00.000+0000
          type: trade
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostPricesTimeSeriesEodListRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesEodSubsampleGetRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
            payout: true
          interval:
            start: 2024-12-24T00:00:00.000+0000
            end: 2024-12-24T00:00:00.000+0000
          type: trade
          quality: DLY
        meta:
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleGetRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleGetRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesEodSubsampleListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
            payout: false
          newestFirst: true
          intervalSelection:
            intervals:
            - 2024-01-01
            - 2024-02-01
            samples:
              number: 8068
              granularity: 1w
              end: 2024-12-24T00:00:00.000+0000
          type: trade
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleListRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesIntradayListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          includeVolumeOnlyTicks: true
          applyTickCorrections: none
          adjustments:
            split: true
          newestFirst: true
          range:
            start: 2024-01-01T00:00:00Z
            end: 2024-12-24T18:00:00Z
          type: trade
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest_data'
        meta:
          $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesIntradaySubsampleGetRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
          granularity: 1h
          from: 2024-01-01T00:00:00Z
          type: trade
          quality: DLY
        meta:
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleGetRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodSubsampleGetRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesIntradaySubsampleListRequest:
      description: Request Body
      example:
        data:
          identifier:
            type: tickerRegion
            value: FDS-US
          adjustments:
            split: true
          newestFirst: false
          granularity: 1h
          range:
            start: 2024-12-24T18:00:00Z
            end: 2024-01-01T00:00:00Z
          type: trade
          alignRange: true
          quality: DLY
        meta:
          pagination:
            cursor: Lorem ipsum
            limit: 20
          attributes: []
      properties:
        data:
          $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListRequest_data'
        meta:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta'
      required:
      - data
      type: object
    PostPricesTimeSeriesIntradaySubsampleListDataSubsamplesItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        high: 5.05
        last: 4.04
        low: 5.05
        time: 2024-01-01T00:00:00Z
        tradingValue: 4.04
        tradingVolume: 1.01
        volumeWeightedAveragePrice: 2.02
        first: 3.03
      nullable: false
      properties:
        time:
          description: Date and time of the start of the subsample.
          example: 2024-01-01T00:00:00Z
          format: date-time
          nullable: true
          type: string
        first:
          description: First price of the subsample.
          example: 3.03
          format: real
          nullable: true
          type: number
        last:
          description: Last price of the subsample.
          example: 4.04
          format: real
          nullable: true
          type: number
        low:
          description: Lowest price of the subsample.
          example: 5.05
          format: real
          nullable: true
          type: number
        high:
          description: Highest price of the subsample.
          example: 5.05
          format: real
          nullable: true
          type: number
        tradingVolume:
          description: Accumulated number of units (e.g. shares) traded of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty.
          example: 1.01
          format: real
          nullable: true
          type: number
        tradingValue:
          description: Accumulated monetary equivalent (cash value) of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty. See attribute `currency` in endpoint `/prices/get` for its unit.
          example: 4.04
          format: real
          nullable: true
          type: number
        volumeWeightedAveragePrice:
          description: The volume-weighted average price (VWAP) of the subsample.
            See attribute currency in endpoint `/prices/get` for its unit.
          example: 2.02
          format: real
          nullable: true
          type: number
      type: object
    PostPricesTimeSeriesEodSubsampleListDataSubsamplesItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        date: 2024-12-24T00:00:00.000+0000
        high: 3.1415
        last: 4.04
        low: 1.01
        tradingValue: 5.05
        tradingVolume: 3.03
        first: 1.01
      nullable: false
      properties:
        date:
          description: Date of the start of the subsample.
          example: 2024-12-24
          format: date
          nullable: true
          type: string
        first:
          description: First price of the subsample.
          example: 1.01
          format: real
          nullable: true
          type: number
        last:
          description: Last price of the subsample.
          example: 4.04
          format: real
          nullable: true
          type: number
        low:
          description: Lowest price of the subsample.
          example: 1.01
          format: real
          nullable: true
          type: number
        high:
          description: Highest price of the subsample.
          example: 3.1415
          format: real
          nullable: true
          type: number
        tradingVolume:
          description: Accumulated number of units (e.g. shares) traded of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty.
          example: 3.03
          format: real
          nullable: true
          type: number
        tradingValue:
          description: Accumulated monetary equivalent (cash value) of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty. See attribute `currency` in endpoint `/prices/get` for its unit.
          example: 5.05
          format: real
          nullable: true
          type: number
      type: object
    PostPricesTimeSeriesIntradayListDataPricesItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        tickId: 3.1415
        price: 3.1415
        time: 2024-12-24T18:00:00Z
        quoteCondition: Lorem ipsum
        tradingValue: 2.02
        tradingVolume: 4.04
      nullable: false
      properties:
        time:
          description: Date and time.
          example: 2024-12-24T18:00:00Z
          format: date-time
          nullable: true
          type: string
        tickId:
          description: Intraday tick identifier created by a feed handler, unique
            within a trading day.
          example: 3.1415
          format: real
          nullable: true
          type: number
        price:
          description: Price value. See attribute `valueUnit` in endpoint `/prices/get`
            for its unit, except for price type yield, where the `valueUnit` is always
            `percent` (id=258).
          example: 3.1415
          format: real
          nullable: true
          type: number
        quoteCondition:
          description: Quote condition. Possible values depend on the values delivered
            by the supplier of the price information.
          example: Lorem ipsum
          nullable: true
          type: string
        tradingVolume:
          description: Number of units (e.g. shares) traded, offered (price type ask),
            solicited (price type bid), or empty (price type yield).
          example: 4.04
          format: real
          nullable: true
          type: number
        tradingValue:
          description: Monetary equivalent (cash value) of the trade. See attribute
            `currency` in endpoint `/prices/get` for its unit. Empty for price type
            yield.
          example: 2.02
          format: real
          nullable: true
          type: number
      type: object
    PostPricesTimeSeriesEodListDataPricesItems:
      description: A list of objects. For semantical context see the description of
        the parent array.
      example:
        date: 2024-01-01T00:00:00.000+0000
        high: 2.02
        last: 2.02
        low: 3.03
        tradingValue: 5.05
        tradingVolume: 2.02
        first: 3.03
      nullable: false
      properties:
        date:
          description: Date.
          example: 2024-01-01
          format: date
          nullable: true
          type: string
        first:
          description: First price.
          example: 3.03
          format: real
          nullable: true
          type: number
        last:
          description: Last price.
          example: 2.02
          format: real
          nullable: true
          type: number
        low:
          description: Lowest price.
          example: 3.03
          format: real
          nullable: true
          type: number
        high:
          description: Highest price.
          example: 2.02
          format: real
          nullable: true
          type: number
        tradingVolume:
          description: Number of units (e.g. shares) traded (price type trade and
            estimate), offered (price type ask), solicited (price type bid), or empty
            (price type yield).
          example: 2.02
          format: real
          nullable: true
          type: number
        tradingValue:
          description: Monetary equivalent (cash value) of the trade. See attribute
            `currency` in endpoint `/prices/get` for its unit. Empty for price type
            yield.
          example: 5.05
          format: real
          nullable: true
          type: number
      type: object
    inline_response_200_data_range:
      description: Date range for the returned time series.
      example:
        start: 2024-01-01T00:00:00.000+0000
        end: 2024-01-01T00:00:00.000+0000
      format: dateRange
      nullable: true
      properties:
        start:
          description: The starting point of the date range (inclusive).
          example: 2024-01-01
          format: date
          nullable: true
          type: string
        end:
          description: The ending point of the date range (exclusive).
          example: 2024-01-01
          format: date
          nullable: true
          type: string
      required:
      - end
      - start
      type: object
    inline_response_200_data:
      description: Time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        range:
          start: 2024-01-01T00:00:00.000+0000
          end: 2024-01-01T00:00:00.000+0000
        prices:
        - - 2.02
          - 2.02
        - - 2.02
          - 2.02
        quality: EOD
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |

          enum:
          - DLY
          - EOD
          example: EOD
          nullable: true
          type: string
        prices:
          description: 'Time series of prices as an array of arrays. One record is
            represented as an array and consists of a timestamp, four price values,
            and the trading volume. For the unit of the price values, see attribute
            `valueUnit` in endpoint `/prices/get`, except for price type yield, where
            the `valueUnit` is always `percent` (id=258). The order is as follows:
            timestamp seconds since epoch in UTC; first price; highest price; lowest
            price; last price; number of units (e.g. shares) traded (price type trade
            and estimate), offered (price type ask), solicited (price type bid), or
            empty (price type yield).'
          items:
            items:
              example: 2.02
              format: real
              type: number
            nullable: false
            type: array
          nullable: false
          type: array
      type: object
    inline_response_200_meta:
      description: The meta member contains the meta information of the response.
      example:
        pagination:
          next: Lorem ipsum
          previous: Lorem ipsum
        status:
          code: 200
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
        pagination:
          $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
      type: object
    inline_response_200:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          range:
            start: 2024-01-01T00:00:00.000+0000
            end: 2024-01-01T00:00:00.000+0000
          prices:
          - - 2.02
            - 2.02
          - - 2.02
            - 2.02
          quality: EOD
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_1_data:
      description: Subsample data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsample:
        - 2.02
        - 2.02
        quality: EOD
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |

          enum:
          - DLY
          - EOD
          example: EOD
          nullable: true
          type: string
        subsample:
          description: 'Single summary record. The record consists of a timestamp,
            four price values, and the trading volume. For the unit of the price values,
            see attribute `valueUnit` in endpoint `/prices/get`, except for price
            type yield, where the `valueUnit` is always `percent` (id=258). The order
            is as follows: timestamp of the start of the subsample (seconds since
            epoch in UTC); first price of the subsample; highest price of the subsample;
            lowest price of the subsample; last price of the subsample; accumulated
            number of units (e.g. shares) traded of the subsample. If the requested
            type of the price is ask, bid, or yield, the accumulated number of units
            is empty.'
          items:
            example: 2.02
            format: real
            type: number
          nullable: false
          type: array
      type: object
    inline_response_200_1_meta:
      description: The meta member contains the meta information of the response.
      example:
        status:
          code: 200
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
      type: object
    inline_response_200_1:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsample:
          - 2.02
          - 2.02
          quality: EOD
        meta:
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_1_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_2_data_range:
      description: Date range for the returned time series.
      example:
        start: 2024-12-24T00:00:00.000+0000
        end: 2024-01-01T00:00:00.000+0000
      format: dateRange
      nullable: true
      properties:
        start:
          description: The starting point of the date range (inclusive).
          example: 2024-12-24
          format: date
          nullable: true
          type: string
        end:
          description: The ending point of the date range (exclusive).
          example: 2024-01-01
          format: date
          nullable: true
          type: string
      required:
      - end
      - start
      type: object
    inline_response_200_2_data:
      description: Subsampled time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsamples:
        - - 5.05
          - 5.05
        - - 5.05
          - 5.05
        range:
          start: 2024-12-24T00:00:00.000+0000
          end: 2024-01-01T00:00:00.000+0000
        quality: EOD
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_2_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |

          enum:
          - DLY
          - EOD
          example: EOD
          nullable: true
          type: string
        subsamples:
          description: 'List of summary records as an array of arrays. One record
            is represented as an array and consists of a timestamp, four price values,
            and the trading volume. For the unit of the price values, see attribute
            `valueUnit` in endpoint `/prices/get`, except for price type yield, where
            the `valueUnit` is always `percent` (id=258). The order is as follows:
            timestamp of the start of the subsample (seconds since epoch in UTC);
            first price of the subsample; highest price of the subsample; lowest price
            of the subsample; last price of the subsample; accumulated number of units
            (e.g. shares) traded of the subsample. If the requested type of the price
            is ask, bid, or yield, the accumulated number of units is empty.'
          items:
            items:
              example: 5.05
              format: real
              type: number
            nullable: false
            type: array
          nullable: false
          type: array
      type: object
    inline_response_200_2:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsamples:
          - - 5.05
            - 5.05
          - - 5.05
            - 5.05
          range:
            start: 2024-12-24T00:00:00.000+0000
            end: 2024-01-01T00:00:00.000+0000
          quality: EOD
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_2_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_3_data:
      description: Subsample data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsample:
        - 3.1415
        - 3.1415
        quality: RLT
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | RLT | Real-time: intraday prices with minimal technical processing delays. |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |

          enum:
          - RLT
          - DLY
          example: RLT
          nullable: true
          type: string
        subsample:
          description: 'Single summary record. The record consists of a timestamp,
            four price values, and the trading volume. For the unit of the price values,
            see attribute `valueUnit` in endpoint `/prices/get`, except for price
            type yield, where the `valueUnit` is always `percent` (id=258). The order
            is as follows: timestamp of the start of the subsample (seconds since
            epoch in UTC); first price of the subsample; highest price of the subsample;
            lowest price of the subsample; last price of the subsample; accumulated
            number of units (e.g. shares) traded of the subsample. If the requested
            type of the price is ask, bid, or yield, the accumulated number of units
            is empty.'
          items:
            example: 3.1415
            format: real
            type: number
          nullable: false
          type: array
      type: object
    inline_response_200_3:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsample:
          - 3.1415
          - 3.1415
          quality: RLT
        meta:
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_3_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_4_data_range:
      description: Time range for the returned time series.
      example:
        start: 2024-01-01T00:00:00Z
        end: 2024-12-24T18:00:00Z
      format: timeRange
      nullable: true
      properties:
        start:
          description: The starting point of the time range (inclusive).
          example: 2024-01-01T00:00:00Z
          format: date-time
          nullable: true
          type: string
        end:
          description: The ending point of the time range (exclusive).
          example: 2024-12-24T18:00:00Z
          format: date-time
          nullable: true
          type: string
      required:
      - end
      - start
      type: object
    inline_response_200_4_data:
      description: Subsampled time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsamples:
        - - 3.1415
          - 3.1415
        - - 3.1415
          - 3.1415
        range:
          start: 2024-01-01T00:00:00Z
          end: 2024-12-24T18:00:00Z
        quality: RLT
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_4_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | RLT | Real-time: intraday prices with minimal technical processing delays. |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |

          enum:
          - RLT
          - DLY
          example: RLT
          nullable: true
          type: string
        subsamples:
          description: 'List of summary records as an array of arrays. One record
            is represented as an array and consists of a timestamp, four price values,
            and the trading volume. For the unit of the price values, see attribute
            `valueUnit` in endpoint `/prices/get`, except for price type yield, where
            the `valueUnit` is always `percent` (id=258). The order is as follows:
            timestamp of the start of the subsample (seconds since epoch in UTC);
            first price of the subsample; highest price of the subsample; lowest price
            of the subsample; last price of the subsample; accumulated number of units
            (e.g. shares) traded of the subsample. If the requested type of the price
            is ask, bid, or yield, the accumulated number of units is empty.'
          items:
            items:
              example: 3.1415
              format: real
              type: number
            nullable: false
            type: array
          nullable: false
          type: array
      type: object
    inline_response_200_4:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsamples:
          - - 3.1415
            - 3.1415
          - - 3.1415
            - 3.1415
          range:
            start: 2024-01-01T00:00:00Z
            end: 2024-12-24T18:00:00Z
          quality: RLT
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_4_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_5_data_range:
      description: Date range for the returned time series.
      example:
        start: 2024-12-24T00:00:00.000+0000
        end: 2024-12-24T00:00:00.000+0000
      format: dateRange
      nullable: true
      properties:
        start:
          description: The starting point of the date range (inclusive).
          example: 2024-12-24
          format: date
          nullable: true
          type: string
        end:
          description: The ending point of the date range (exclusive).
          example: 2024-12-24
          format: date
          nullable: true
          type: string
      required:
      - end
      - start
      type: object
    inline_response_200_5_data:
      description: Time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        range:
          start: 2024-12-24T00:00:00.000+0000
          end: 2024-12-24T00:00:00.000+0000
        prices:
        - date: 2024-01-01T00:00:00.000+0000
          high: 2.02
          last: 2.02
          low: 3.03
          tradingValue: 5.05
          tradingVolume: 2.02
          first: 3.03
        - date: 2024-01-01T00:00:00.000+0000
          high: 2.02
          last: 2.02
          low: 3.03
          tradingValue: 5.05
          tradingVolume: 2.02
          first: 3.03
        quality: EOD
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_5_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |

          enum:
          - DLY
          - EOD
          example: EOD
          nullable: true
          type: string
        prices:
          description: Time series of prices. For the attributes first, last, low,
            high, see attribute `valueUnit` in endpoint `/prices/get` for their unit,
            except for price type yield, where the `valueUnit` is always `percent`
            (id=258).
          items:
            $ref: '#/components/schemas/PostPricesTimeSeriesEodListDataPricesItems'
          nullable: false
          type: array
      type: object
    inline_response_200_5:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          range:
            start: 2024-12-24T00:00:00.000+0000
            end: 2024-12-24T00:00:00.000+0000
          prices:
          - date: 2024-01-01T00:00:00.000+0000
            high: 2.02
            last: 2.02
            low: 3.03
            tradingValue: 5.05
            tradingVolume: 2.02
            first: 3.03
          - date: 2024-01-01T00:00:00.000+0000
            high: 2.02
            last: 2.02
            low: 3.03
            tradingValue: 5.05
            tradingVolume: 2.02
            first: 3.03
          quality: EOD
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_5_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_6_data_subsample:
      description: Single summary record. For the attributes first, last, low, high,
        see attribute `valueUnit` in endpoint `/prices/get` for their unit, except
        for price type yield, where the `valueUnit` is always `percent` (id=258).
      example:
        date: 2024-01-01T00:00:00.000+0000
        high: 3.1415
        last: 4.04
        low: 2.02
        tradingValue: 5.05
        tradingVolume: 1.01
        first: 1.01
      nullable: false
      properties:
        date:
          description: Date of the start of the subsample.
          example: 2024-01-01
          format: date
          nullable: true
          type: string
        first:
          description: First price of the subsample.
          example: 1.01
          format: real
          nullable: true
          type: number
        last:
          description: Last price of the subsample.
          example: 4.04
          format: real
          nullable: true
          type: number
        low:
          description: Lowest price of the subsample.
          example: 2.02
          format: real
          nullable: true
          type: number
        high:
          description: Highest price of the subsample.
          example: 3.1415
          format: real
          nullable: true
          type: number
        tradingVolume:
          description: Accumulated number of units (e.g. shares) traded of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty.
          example: 1.01
          format: real
          nullable: true
          type: number
        tradingValue:
          description: Accumulated monetary equivalent (cash value) of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty. See attribute `currency` in endpoint `/prices/get` for its unit.
          example: 5.05
          format: real
          nullable: true
          type: number
      type: object
    inline_response_200_6_data:
      description: Subsample data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsample:
          date: 2024-01-01T00:00:00.000+0000
          high: 3.1415
          last: 4.04
          low: 2.02
          tradingValue: 5.05
          tradingVolume: 1.01
          first: 1.01
        quality: EOD
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |

          enum:
          - DLY
          - EOD
          example: EOD
          nullable: true
          type: string
        subsample:
          $ref: '#/components/schemas/inline_response_200_6_data_subsample'
      type: object
    inline_response_200_6:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsample:
            date: 2024-01-01T00:00:00.000+0000
            high: 3.1415
            last: 4.04
            low: 2.02
            tradingValue: 5.05
            tradingVolume: 1.01
            first: 1.01
          quality: EOD
        meta:
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_6_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_7_data:
      description: Subsampled time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsamples:
        - date: 2024-12-24T00:00:00.000+0000
          high: 3.1415
          last: 4.04
          low: 1.01
          tradingValue: 5.05
          tradingVolume: 3.03
          first: 1.01
        - date: 2024-12-24T00:00:00.000+0000
          high: 3.1415
          last: 4.04
          low: 1.01
          tradingValue: 5.05
          tradingVolume: 3.03
          first: 1.01
        range:
          start: 2024-01-01T00:00:00.000+0000
          end: 2024-01-01T00:00:00.000+0000
        quality: EOD
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |

          enum:
          - DLY
          - EOD
          example: EOD
          nullable: true
          type: string
        subsamples:
          description: List of summary records. For the attributes first, last, low,
            high, see attribute `valueUnit` in endpoint `/prices/get` for their unit,
            except for price type yield, where the `valueUnit` is always `percent`
            (id=258).
          items:
            $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleListDataSubsamplesItems'
          nullable: false
          type: array
      type: object
    inline_response_200_7:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsamples:
          - date: 2024-12-24T00:00:00.000+0000
            high: 3.1415
            last: 4.04
            low: 1.01
            tradingValue: 5.05
            tradingVolume: 3.03
            first: 1.01
          - date: 2024-12-24T00:00:00.000+0000
            high: 3.1415
            last: 4.04
            low: 1.01
            tradingValue: 5.05
            tradingVolume: 3.03
            first: 1.01
          range:
            start: 2024-01-01T00:00:00.000+0000
            end: 2024-01-01T00:00:00.000+0000
          quality: EOD
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_7_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_8_data_range:
      description: Time range for the returned time series.
      example:
        start: 2024-12-24T18:00:00Z
        end: 2024-01-01T00:00:00Z
      format: timeRange
      nullable: true
      properties:
        start:
          description: The starting point of the time range (inclusive).
          example: 2024-12-24T18:00:00Z
          format: date-time
          nullable: true
          type: string
        end:
          description: The ending point of the time range (exclusive).
          example: 2024-01-01T00:00:00Z
          format: date-time
          nullable: true
          type: string
      required:
      - end
      - start
      type: object
    inline_response_200_8_data:
      description: Time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        range:
          start: 2024-12-24T18:00:00Z
          end: 2024-01-01T00:00:00Z
        prices:
        - tickId: 3.1415
          price: 3.1415
          time: 2024-12-24T18:00:00Z
          quoteCondition: Lorem ipsum
          tradingValue: 2.02
          tradingVolume: 4.04
        - tickId: 3.1415
          price: 3.1415
          time: 2024-12-24T18:00:00Z
          quoteCondition: Lorem ipsum
          tradingValue: 2.02
          tradingVolume: 4.04
        quality: DLY
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_8_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | RLT | Real-time: intraday prices with minimal technical processing delays. |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |

          enum:
          - RLT
          - DLY
          example: DLY
          nullable: true
          type: string
        prices:
          description: Time series of prices.
          items:
            $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListDataPricesItems'
          nullable: false
          type: array
      type: object
    inline_response_200_8:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          range:
            start: 2024-12-24T18:00:00Z
            end: 2024-01-01T00:00:00Z
          prices:
          - tickId: 3.1415
            price: 3.1415
            time: 2024-12-24T18:00:00Z
            quoteCondition: Lorem ipsum
            tradingValue: 2.02
            tradingVolume: 4.04
          - tickId: 3.1415
            price: 3.1415
            time: 2024-12-24T18:00:00Z
            quoteCondition: Lorem ipsum
            tradingValue: 2.02
            tradingVolume: 4.04
          quality: DLY
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_8_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    inline_response_200_9_data_subsample:
      description: Single summary record. For the attributes first, last, low, high,
        see attribute `valueUnit` in endpoint `/prices/get` for their unit, except
        for price type yield, where the `valueUnit` is always `percent` (id=258).
      example:
        high: 5.05
        last: 4.04
        low: 1.01
        time: 2024-01-01T00:00:00Z
        tradingValue: 3.03
        tradingVolume: 5.05
        first: 4.04
      nullable: false
      properties:
        time:
          description: Date and time of the start of the subsample.
          example: 2024-01-01T00:00:00Z
          format: date-time
          nullable: true
          type: string
        first:
          description: First price of the subsample.
          example: 4.04
          format: real
          nullable: true
          type: number
        last:
          description: Last price of the subsample.
          example: 4.04
          format: real
          nullable: true
          type: number
        low:
          description: Lowest price of the subsample.
          example: 1.01
          format: real
          nullable: true
          type: number
        high:
          description: Highest price of the subsample.
          example: 5.05
          format: real
          nullable: true
          type: number
        tradingVolume:
          description: Accumulated number of units (e.g. shares) traded of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty.
          example: 5.05
          format: real
          nullable: true
          type: number
        tradingValue:
          description: Accumulated monetary equivalent (cash value) of the subsample.
            If the requested type of the price is ask, bid, or yield, the value is
            empty. See attribute `currency` in endpoint `/prices/get` for its unit.
          example: 3.03
          format: real
          nullable: true
          type: number
      type: object
    inline_response_200_9_data:
      description: Subsample data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsample:
          high: 5.05
          last: 4.04
          low: 1.01
          time: 2024-01-01T00:00:00Z
          tradingValue: 3.03
          tradingVolume: 5.05
          first: 4.04
        quality: DLY
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | RLT | Real-time: intraday prices with minimal technical processing delays. |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |

          enum:
          - RLT
          - DLY
          example: DLY
          nullable: true
          type: string
        subsample:
          $ref: '#/components/schemas/inline_response_200_9_data_subsample'
      type: object
    inline_response_200_9:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsample:
            high: 5.05
            last: 4.04
            low: 1.01
            time: 2024-01-01T00:00:00Z
            tradingValue: 3.03
            tradingVolume: 5.05
            first: 4.04
          quality: DLY
        meta:
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_9_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_1_meta'
      type: object
    inline_response_200_10_data_range:
      description: Time range for the returned time series.
      example:
        start: 2024-12-24T18:00:00Z
        end: 2024-12-24T18:00:00Z
      format: timeRange
      nullable: true
      properties:
        start:
          description: The starting point of the time range (inclusive).
          example: 2024-12-24T18:00:00Z
          format: date-time
          nullable: true
          type: string
        end:
          description: The ending point of the time range (exclusive).
          example: 2024-12-24T18:00:00Z
          format: date-time
          nullable: true
          type: string
      required:
      - end
      - start
      type: object
    inline_response_200_10_data:
      description: Subsampled time series data for the notation.
      example:
        sourceIdentifier: FDS-US
        idNotation: "1532562"
        subsamples:
        - high: 5.05
          last: 4.04
          low: 5.05
          time: 2024-01-01T00:00:00Z
          tradingValue: 4.04
          tradingVolume: 1.01
          volumeWeightedAveragePrice: 2.02
          first: 3.03
        - high: 5.05
          last: 4.04
          low: 5.05
          time: 2024-01-01T00:00:00Z
          tradingValue: 4.04
          tradingVolume: 1.01
          volumeWeightedAveragePrice: 2.02
          first: 3.03
        range:
          start: 2024-12-24T18:00:00Z
          end: 2024-12-24T18:00:00Z
        volumeWeightedAveragePrice: 1.01
        quality: DLY
      nullable: false
      properties:
        idNotation:
          description: MDG identifier of the listing.
          example: "1532562"
          format: id64
          nullable: true
          type: string
        sourceIdentifier:
          description: Identifier used in the request.
          example: FDS-US
          nullable: true
          type: string
        range:
          $ref: '#/components/schemas/inline_response_200_10_data_range'
        quality:
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | RLT | Real-time: intraday prices with minimal technical processing delays. |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |

          enum:
          - RLT
          - DLY
          example: DLY
          nullable: true
          type: string
        volumeWeightedAveragePrice:
          description: The volume-weighted average price (VWAP) for the returned time
            series. See attribute currency in endpoint `/prices/get` for its unit.
          example: 1.01
          format: real
          nullable: true
          type: number
        subsamples:
          description: List of summary records. For the attributes first, last, low,
            high, see attribute `valueUnit` in endpoint `/prices/get` for their unit,
            except for price type yield, where the `valueUnit` is always `percent`
            (id=258).
          items:
            $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListDataSubsamplesItems'
          nullable: false
          type: array
      type: object
    inline_response_200_10:
      example:
        data:
          sourceIdentifier: FDS-US
          idNotation: "1532562"
          subsamples:
          - high: 5.05
            last: 4.04
            low: 5.05
            time: 2024-01-01T00:00:00Z
            tradingValue: 4.04
            tradingVolume: 1.01
            volumeWeightedAveragePrice: 2.02
            first: 3.03
          - high: 5.05
            last: 4.04
            low: 5.05
            time: 2024-01-01T00:00:00Z
            tradingValue: 4.04
            tradingVolume: 1.01
            volumeWeightedAveragePrice: 2.02
            first: 3.03
          range:
            start: 2024-12-24T18:00:00Z
            end: 2024-12-24T18:00:00Z
          volumeWeightedAveragePrice: 1.01
          quality: DLY
        meta:
          pagination:
            next: Lorem ipsum
            previous: Lorem ipsum
          status:
            code: 200
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_10_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
      type: object
    PostVendorChartIQTimeSeriesEodListRequest_data_identifier:
      description: Identifier and type.
      example:
        type: tickerRegion
        value: FDS-US
      properties:
        value:
          description: Identifier to resolve.
          example: FDS-US
          maxLength: 50
          minLength: 3
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          type: string
        type:
          description: |+
            Type of the identifier. An instrument level identifier is resolved to a listing level identifier according to the configured listing selection rules.
            | Value | Description |
            | --- | --- |
            | idInstrument | MDG identifier of an instrument. |
            | idNotation | MDG identifier of a listing. |
            | fdsPermanentIdentifierSecurity | FactSet Permanent Identifier on security level. |
            | fdsPermanentIdentifierListing | FactSet Permanent Identifier on listing level. |
            | fdsPermanentIdentifierRegional | Regional FactSet Permanent Identifier, identifying the primary listing in the region. |
            | tickerExchange | FactSet market symbol of a listing. |
            | tickerRegion | Regional FactSet ticker symbol, identifying the primary listing in the region. |
            | sedol | SEDOL or IDII of a listing. |
            | isin | ISIN of an instrument. |
            | wkn | WKN of an instrument. |
            | valor | Valor number of an instrument. |
            | cusip | CUSIP or CINS identifier of an instrument |

          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
          example: tickerRegion
          type: string
      required:
      - type
      - value
      type: object
    PostVendorChartIQTimeSeriesEodListRequest_data_range:
      description: Date range for the time series. A valid date range is between 1900-01-01
        and the day after the current day.
      example:
        start: 2024-12-24T00:00:00.000+0000
        end: 2024-01-01T00:00:00.000+0000
      format: dateRange
      properties:
        start:
          description: The starting point of the date range (inclusive).
          example: 2024-12-24
          format: date
          type: string
        end:
          description: The ending point of the date range (exclusive).
          example: 2024-01-01
          format: date
          type: string
      required:
      - end
      - start
      type: object
    PostVendorChartIQTimeSeriesEodListRequest_data_adjustments:
      description: Adjustments values returned.
      example:
        split: true
        payout: true
      properties:
        payout:
          default: false
          description: Adjustments are applied for corporate action effects due to
            dividends, payouts, or other cash disbursements.
          example: true
          type: boolean
        split:
          default: true
          description: Adjustments are applied for corporate action effects due to
            the notation having a split, a reverse split, or a similar factor-based
            corporate action.
          example: true
          type: boolean
      type: object
    PostVendorChartIQTimeSeriesEodListRequest_data:
      description: The data member contains the request's primary data.
      example:
        identifier:
          type: tickerRegion
          value: FDS-US
        adjustments:
          split: true
          payout: true
        newestFirst: true
        range:
          start: 2024-12-24T00:00:00.000+0000
          end: 2024-01-01T00:00:00.000+0000
        type: trade
        quality: DLY
      properties:
        identifier:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_data_identifier'
        type:
          default: trade
          description: |+
            Type of the price as configured for the customer.
            | Value | Description |
            | --- | --- |
            | trade | Trade price (ordinary, auction, pre or post-trading). |
            | bid | Bid price. |
            | ask | Ask price. |
            | yield | Yield price. |
            | estimate | Estimated price. |

          enum:
          - trade
          - bid
          - ask
          - yield
          - estimate
          example: trade
          type: string
        quality:
          default: DLY
          description: |+
            Quality of the price.
            | Value | Description |
            | --- | --- |
            | DLY | Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes. |
            | EOD | End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days. |
            | BST | Best: choose the price quality with the least delay, as entitled for the client. |

          enum:
          - DLY
          - EOD
          - BST
          example: DLY
          type: string
        range:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_data_range'
        newestFirst:
          default: false
          description: Deliver the chronological last part of the requested data first.
          example: true
          type: boolean
        adjustments:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_data_adjustments'
      required:
      - identifier
      - range
      type: object
    PostVendorChartIQTimeSeriesEodListRequest_meta_pagination:
      description: Pagination attributes for the cursor-based pagination strategy.
      example:
        cursor: Lorem ipsum
        limit: 20
      properties:
        cursor:
          description: Starting point as returned in the attributes `pagination.next`
            or `pagination.previous` by a prior invocation of this endpoint, or undefined
            (default).
          example: Lorem ipsum
          maxLength: 50
          type: string
        limit:
          default: 20
          description: Non-negative maximum number of entries to return.
          example: 20
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 5000
          minimum: 0
          type: integer
      type: object
    PostVendorChartIQTimeSeriesEodListRequest_meta:
      description: The meta member contains the meta information of the request.
      example:
        pagination:
          cursor: Lorem ipsum
          limit: 20
        attributes: []
      properties:
        attributes:
          description: Limit the attributes returned in the response to the specified
            set.
          example: []
          items:
            maxLength: 100
            type: string
          maxItems: 100
          type: array
          uniqueItems: true
        pagination:
          $ref: '#/components/schemas/PostVendorChartIQTimeSeriesEodListRequest_meta_pagination'
      type: object
    PostVendorChartIQTimeSeriesEodSubsampleGetRequest_data_interval:
      description: Non-empty interval of days specifying a single subsample period.
        The starting point `start` of the single subsample is usually the attribute
        `range.end` of a previously received `/vendor/chartIQ/timeSeries/eod/subsample/list`
        request. A valid range is between 1900-01-01 and a day that is less than or
        equal to the maximum allowed day determined from the delay period (if any).
        The ending point `end` may exceed the maximally entitled date range.
      example:
        start: 2024-01-01T00:00:00.000+0000
        end: 2024-01-01T00:00:00.000+0000
      format: dateRange
      properties:
        start:
          description: 'The starting point of the interval (inclusive). '
          example: 2024-01-01
          format: date
          type: string
        end:
          description: The ending point of the interval (exclusive).
          example: 2024-01-01
          format: date
          type: string
      required:
      - end
      - start
      type: object
    PostVendorChartIQTimeSeriesEodSubsampleGetRequest_data:
      description: The data member contains the request's primary data.
      example:
        identifier:
          type: tickerRegion
          value: FDS-US
        adjustments:
          split: true
[...]
