openapi: 3.0.0
info:
  contact:
    email: api@factset.com
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
  description: Tick History **Level 2** provides dynamic access to the historical
    tick data up to 10 levels of depth for a specific security for specific dates
    or date range. The API generates output files with data based on client-specified
    input parameters. The input parameters include universe specification and date
    ranges for which the data will be generated. When the API request with specified
    input parameters has been completed, the output files will be made available back
    to the users through a secure URL to the location where the files are stored.
    Therefore, this API has two APIs (i) Request files API (ii) Get Files API.
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Tick History Level 2 (Beta)
  version: 0.0.0
servers:
- url: https://api.factset.com/bulk-documents/tick-history/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- description: Returns the requestId and status.
  name: Request-files Level 2 (BETA)
- description: Returns the files for the requested requestId.
  name: Get-files Level 2 (BETA)
paths:
  /level2/request-files:
    get:
      description: Returns the requestId and status.
      operationId: getrequestIdLevel2
      parameters:
      - description: The requested list of one or more Market tickers.
        examples:
          oneId:
            summary: One identifier
            value:
            - GOOGL
          multipleIds:
            summary: Multiple Identifiers
            value:
            - GOOGL
            - IBM
        explode: false
        in: query
        name: ticker
        required: true
        schema:
          items:
            type: string
          minimum: 1
          type: array
        style: form
      - description: The date to which data is required.
        example: 2023-01-01
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: The date to which data is required.
        example: 2023-01-30
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: This parameter is used to filter the results based on the exchange
          code. <p>**NOTE**:Does not support multiple mic codes</p>
        example: XNYS
        explode: true
        in: query
        name: mic
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the fileType
        explode: true
        in: query
        name: responseFileType
        required: false
        schema:
          default: parquet
          enum:
          - csv
          - parquet
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/level2Request-FilesExample'
              schema:
                $ref: '#/components/schemas/level2Request-FilesResponse'
          description: Successs
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "429":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Too many requests.
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Internal Error
      summary: Returns the requestId and status
      tags:
      - Request-files Level 2 (BETA)
      x-accepts: application/json
  /level2/get-files:
    get:
      description: Plugin the requestId from request-files endpoint to get-files endpoint
      operationId: getTickHistoryFilesLevel2
      parameters:
      - description: RequestId returned by request-files endpoint to poll and collect
          results of the query
        explode: true
        in: query
        name: requestId
        required: true
        schema:
          type: string
        style: form
      - description: Specifies the maximum number of results to return per response
          page
        explode: true
        in: query
        name: _paginationLimit
        required: false
        schema:
          default: 20
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Specifies the starting point for pagination. This parameter is
          used to identify the beginning of next set of results
        explode: true
        in: query
        name: _paginationOffset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleGet-FilesResponseLevel2'
              schema:
                $ref: '#/components/schemas/Get-FilesResponseLevel2'
          description: Success</p> **To download the output file copy the response
            url in a browser**
        "400":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/400Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/401Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and
            have successfully generated an API KEY for the IP range you are connecting
            from. For more help, select the Report Issue in the top right corner of
            this Developer Portal specification card and choose Connectivity 401 or
            403 Responses.
        "403":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/403Example'
              schema:
                $ref: '#/components/schemas/status'
          description: The USERNAME-SERIAL attempted to request the endpoint is not
            authorized to access. The request was a legal request, but the server
            is refusing to respond. Please reach out to FactSet Account Team for assistance
            with authorization.
        "429":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/429Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Too many requests.
        "500":
          content:
            application/json:
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/500Example'
              schema:
                $ref: '#/components/schemas/status'
          description: Internal Error
      summary: Returns the files for the requested requestId
      tags:
      - Get-files Level 2 (BETA)
      x-accepts: application/json
components:
  examples:
    level2Request-FilesExample:
      summary: sample Response
      value:
        requestId: a6efe30f-fdba-4849-8796-da27a2e77825
        status: Submitted
    sampleGet-FilesResponseLevel2:
      summary: sample Response
      value:
        status: Completed
        requestTimestamp: 2023-05-16 14:11:06
        updateTimestamp: 2023-05-16 14:15:18
        data:
        - fileName: part-00000-e4b0e511-9da2-48e5-9170-65231cd1cda1-c000.csv.gz
          url: https://fdss3-cts-th-l2-results-prod.s3.amazonaws.com/results/SKAKKIRENI-fds/d6bdf9cc-e566-4fb1-939d-f4036c4d71a2/part-00000-e4b0e511-9da2-48e5-9170-65231cd1cda1-c000.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDF2A35WEG%2F20230609%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230609T150543Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEEcaCXVzLWVhc3QtMSJIMEYCIQDXmsqCGk3%2FaKcpaxhhZxoCu%2B9%2Bcu5nOVCZhMVFLL41swIhAM6CJL1vTvEyrALobdYbOEE0wEP2fhUPpfN7KsLgcKMCKpYDCJD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQAhoMODUyNTYyNjIwODcwIgxIMndyFOnQJQAfgP8q6gKepbh5fCacy9%2BIEQskkC7ZBRD%2BLhJxw366ui4HZHUdL6KzS8NqTWgTuExP3NPpbijN3zShV3JZ7wK5VIAZ4P2082Q5Ntb4SkCPW%2FfHm9z4PEhgh5rloCq42lu4W%2FTbjYY9DKVAGH1CuNatOiFOxF387dyotXUsWRVeQM6X2s2Mj4BEQ51z3qOWpaxQhL1iPXwk2rXQwlUPrICMU3%2FiAlsCOkp55ZKRS0Q42GXMxGjmcswsu%2BM%2BzZsJwmgl%2F8zbpJozLzZcpImkOiNWanpQkmWjVuXmcR52q2bZ4tvx0mtZNCDxOq%2FKySBRMDEJiFhXFxSkoDIxN19xpmJa2Z9vzCmHpA%2FAwuLdKQ9CapBvygkYO3ojf%2Fs0whIR6LWhFMW%2FvW%2FWrFyqfF9XOLtVele1YvFlxKQpCbwT%2FNJWjW9paji%2FbekNEHpNXq1xv%2BwvcbifD7M59NjGbidHeT3jAgdoT8ie%2FfF3BaO1J1sGIDD%2B%2FYykBjqcAeESPCIDl%2FAg2PrcBioBSay%2Fp8DtvCztpb9K2YR6tXoBkiYmy35TbaxUAkopRsyIZRnySyJoemYtRlez5nt9IZk8z2KJI6bTrIY2g7oxeuz5Y0ujsblB2UAYwe%2BuemhV5wLj3QxIDloEe%2B2LYgQq8FtmbBDuyk82B068g2yD%2B7GG%2BIMFjpyDk2f9FM0zAoSdv103xmgXg1sh91oZFA%3D%3D&X-Amz-Signature=235951702d599df97160a2849b31e290461597d11c1f8f54f9f2dec7f03bb331
        meta:
          pagination:
            total: 256
            isEstimatedTotal: false
            limit: 20
            offset: 20
          partial:
            isPartial: true
    "400Example":
      summary: Sample error Response
      value:
        errors:
        - code: Bad Request
          title: parameterError:['_requestId'] is not a valid parameter(s)
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "401Example":
      summary: sample error response
      value:
        errors:
        - code: Not Authenticated
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "403Example":
      summary: sample error response
      value:
        errors:
        - code: Forbidden
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "500Example":
      summary: sample error response
      value:
        errors:
        - code: Internal server error
          title: An unexpected error happened
          id: 7af3d86ca5954503b9244f2620fcf5eb
    "429Example":
      summary: sample error response
      value:
        errors:
        - code: Too Many Requests
          title: quantityLimitsExceeded
          id: 7af3d86ca5954503b9244f2620fcf5eb
  parameters:
    ticker1:
      description: The requested list of one or more Market tickers.
      examples:
        oneId:
          summary: One identifier
          value:
          - GOOGL
        multipleIds:
          summary: Multiple Identifiers
          value:
          - GOOGL
          - IBM
      explode: false
      in: query
      name: ticker
      required: true
      schema:
        items:
          type: string
        minimum: 1
        type: array
      style: form
    startDate:
      description: The date to which data is required.
      example: 2023-01-01
      explode: true
      in: query
      name: startDate
      required: true
      schema:
        format: date
        type: string
      style: form
    endDate:
      description: The date to which data is required.
      example: 2023-01-30
      explode: true
      in: query
      name: endDate
      required: true
      schema:
        format: date
        type: string
      style: form
    requestId:
      description: RequestId returned by request-files endpoint to poll and collect
        results of the query
      explode: true
      in: query
      name: requestId
      required: true
      schema:
        type: string
      style: form
    _paginationLimit:
      description: Specifies the maximum number of results to return per response
        page
      explode: true
      in: query
      name: _paginationLimit
      required: false
      schema:
        default: 20
        maximum: 500
        minimum: 1
        type: integer
      style: form
    _paginationOffset:
      description: Specifies the starting point for pagination. This parameter is
        used to identify the beginning of next set of results
      explode: true
      in: query
      name: _paginationOffset
      required: false
      schema:
        default: 0
        minimum: 0
        type: integer
      style: form
    mic:
      description: This parameter is used to filter the results based on the exchange
        code. <p>**NOTE**:Does not support multiple mic codes</p>
      example: XNYS
      explode: true
      in: query
      name: mic
      required: true
      schema:
        type: string
      style: form
    responseFileType:
      description: Specifies the fileType
      explode: true
      in: query
      name: responseFileType
      required: false
      schema:
        default: parquet
        enum:
        - csv
        - parquet
        type: string
      style: form
  schemas:
    level2Request-FilesResponse:
      description: request-files
      example:
        requestId: requestId
        status: status
      properties:
        requestId:
          description: a unique identification for the query requested
          type: string
        status:
          description: The status of the query
          type: string
      type: object
    status:
      description: specifies the error message fields in the response
      properties:
        errors:
          description: An array containing errors
          items:
            $ref: '#/components/schemas/errorExample'
          type: array
      type: object
    errorExample:
      description: Specifies the fields in the error message
      properties:
        code:
          description: It specifies the unique code
          type: string
        title:
          description: ' Specifies the error message'
          type: string
        id:
          description: Specifies the id
          type: string
      type: object
    Get-FilesResponseLevel2:
      description: Returns Tick History Files
      example:
        data:
        - fileName: fileName
          url: url
        - fileName: fileName
          url: url
        requestTimestamp: 2000-01-23T04:56:07.000+00:00
        meta:
          pagination:
            total: 0
            offset: 1
            limit: 6
            isEstimatedTotal: true
          partial:
            isPartial: true
        updateTimestamp: 2000-01-23T04:56:07.000+00:00
        status: Starting
      properties:
        status:
          description: The status of the request
          enum:
          - Starting
          - Running
          - Completed
          - Error
          - Failed
          - Stopped
          type: string
        requestTimestamp:
          description: Timestamp of when request was made
          format: date-time
          type: string
        updateTimestamp:
          description: Timestamp when the file was last updated
          format: date-time
          type: string
        data:
          description: Data Object
          items:
            $ref: '#/components/schemas/files'
          type: array
        meta:
          $ref: '#/components/schemas/meta'
      type: object
    files:
      description: Array of data objects
      example:
        fileName: fileName
        url: url
      properties:
        fileName:
          description: Name of the file(s) generated for the query requested
          type: string
        url:
          description: Download link for the TickHistory file with requested parameters
          type: string
      title: Files
      type: object
    meta:
      description: Array of metadata objects
      example:
        pagination:
          total: 0
          offset: 1
          limit: 6
          isEstimatedTotal: true
        partial:
          isPartial: true
      properties:
        pagination:
          $ref: '#/components/schemas/pagination'
        partial:
          $ref: '#/components/schemas/isPartial'
      title: Meta
      type: object
    pagination:
      description: List of pagination objects
      example:
        total: 0
        offset: 1
        limit: 6
        isEstimatedTotal: true
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
        isEstimatedTotal:
          description: Boolean value that represents whether the total count of files
            returned is exact or an estimate. This is defaulted to False as the API
            should always return the exact count
          type: boolean
        limit:
          description: Number of results returned per page
          type: integer
        offset:
          description: The flag indicating the position in the results array if additional
            results are available beyond the default value or the value in paginationLimit
            parameter (if used). This value is passed in the _paginationOffset parameter
            to retreieve subsequent results
          type: integer
      title: Pagination
      type: object
    isPartial:
      description: If the value is true, it indicates additional results are available.
        False represents that this is the last set of results for this request.
      example:
        isPartial: true
      properties:
        isPartial:
          description: Returns boolean value
          type: boolean
      title: IsPartialItems
      type: object
  securitySchemes:
    FactSetOAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://auth.factset.com/as/token.oauth2
      type: oauth2
    FactSetApiKey:
      scheme: basic
      type: http

